[2019-05-22 11:04] mgalland commented on #1465
@whedon generate pdf

[2019-05-22 11:04] whedon commented on #1465
[code]

[2019-05-22 11:05] whedon commented on #1465
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01465/joss.01465/10.21105.joss.01465.pdf)

[2019-05-22 11:22] brainstorm commented on #1119
@whedon assign @arturgs as reviewer

[2019-05-22 11:22] whedon commented on #1119
OK, the reviewer is @arturgs

[2019-05-22 11:50] danielskatz commented on #1119
👋 @arfon, can you add @arturgs to the group so he can review?

I'm going to create a new set of review criteria/checkmarks for him above, in the first comment in this issue.

[2019-05-22 12:59] mgalland commented on #1465
@brainstorm Figures seem fine now. Could you be more specific regarding the text formatting? Where would you like to see modifications? Thanks.

[2019-05-22 13:03] danielskatz commented on #1285
As an Associate Editor-in-Chief, I'll take over from @yochannah who I know is very busy, since it looks like this is ready to go.

@pdwaggoner - please archive the current version of the software in zenodo or similar, and let me know the DOI of the archive

[2019-05-22 13:03] danielskatz commented on #1285
@whedon set 1.1.2 as version

[2019-05-22 13:03] whedon commented on #1285
OK. 1.1.2 is the version.

[2019-05-22 13:03] csoneson commented on #1435
👋 Hi all - just checking in on how it's going. @vjcitn - thanks for your review! @rcorty - do you have additional comments for the authors at this stage, or do the ones given above cover the unchecked boxes in your review checklist? @fboehm - please take a look at the comments and report back here whenever you are ready for the reviewers to have another look! Of course, don't hesitate to ping me i

[2019-05-22 13:21] arfon commented on #1119
Done. @arturgs you'll need to accept the invite at https://github.com/openjournals/joss-reviews/invitations before you'll be able to update the checklist above.

[2019-05-22 14:00] RuthAngus commented on #1460
Sure! How about @nespinoza or @mattpitkin or @williamjameshandley? cc @crawfordsm

[2019-05-22 14:04] mattpitkin commented on #1460
I'd be happy to review this.

[2019-05-22 14:09] RuthAngus commented on #1460
@mattpitkin awesome!

[2019-05-22 14:17] nespinoza commented on #1460
Just wanted to say that this package seems extremely interesting and if @mattpitkin for some reason can't review this I would love to as well :-).

[2019-05-22 14:19] arfon commented on #1460
Excellent, thanks @mattpitkin and @nespinoza. I'd actually love to have you both review this submission. I'll go ahead and set up the review now.

[2019-05-22 14:19] arfon commented on #1460
@whedon add @mattpitkin as reviewer

[2019-05-22 14:19] whedon commented on #1460
OK, @mattpitkin is now a reviewer

[2019-05-22 14:19] arfon commented on #1460
@whedon add @nespinoza as reviewer

[2019-05-22 14:19] whedon commented on #1460
OK, @nespinoza is now a reviewer

[2019-05-22 14:19] arfon commented on #1460
@whedon start review

[2019-05-22 14:19] whedon opened #1469 "[REVIEW]: stardate: Combining dating methods for better stellar ages"
**Submitting author:** @ruthangus (<a href="http://orcid.org/0000-0003-4540-5661">Ruth Angus</a>)
**Repository:** <a href="https://github.com/RuthAngus/stardate" target ="_blank">https://github.com/RuthAngus/stardate</a>
**Version:** v0.1.0
**Editor:** @arfon
**Reviewer:** @mattpitkin, @nespinoza
**Archive:** <a href="https://doi.org/10.5281/zenodo.3444905" target="_blank">10.5281/zenodo.3444905</

[2019-05-22 14:20] whedon commented on #1460
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1469. Feel free to close this issue now!

[2019-05-22 14:20] whedon commented on #1469
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mattpitkin, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-05-22 14:20] whedon commented on #1469
[code]

[2019-05-22 14:20] arfon commented on #1460
@mattpitkin, @nespinoza, @RuthAngus - see you all over in #1469 where the actual review will take place.

[2019-05-22 14:20] #1460 closed

[2019-05-22 14:20] whedon commented on #1469
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01469/joss.01469/10.21105.joss.01469.pdf)

[2019-05-22 14:21] arfon commented on #1469
@mattpitkin, @nespinoza - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2019-05-22 15:19] fboehm commented on #1435
Thanks @csoneson and @vjcitn and @rcorty!

I believe that there was a temporary problem with the zenodo website. That should explain the difficulty in rendering the vignette that @vjcitn mentions.

@vjcitn, I was unable to reproduce the error from the tests about 'find_lin_indep_cols'. The tests succeeded when I ran devtools::test(). Should I be running tests with a different function call? I did

[2019-05-22 15:21] sauln commented on #1315
At least another week. I have a [draft of the sphinx-gallery](https://kepler-mapper.scikit-tda.org/generated/gallery/index.html) working but it needs a little more work before completion.

I've been convinced about the mutable defaults.  I think the best way will be to go with `cover=None` and then add the default rather than choosing a set of strings.

[2019-05-22 15:30] mattpitkin commented on #1469
Hi @RuthAngus, one of the things we're asked to check is:

Would you be able to add a few sentences to the README file and main documentation page telling people how they should contribute to the project? Just something along the lines of saying that if they want to contribute they can submit issues or pull requests from the github repo.

[2019-05-22 15:39] fboehm commented on #1435
@vjcitn, when I run R CMD check on the tar.gz file, I get a note like the one that you get, about the Imports field of the DESCRIPTION file. I have been adding to Imports field packages that I use in vignettes, even if I don't use them in my qtl2pleio functions. Should I not do this?

[2019-05-22 16:26] vjcitn commented on #1435
On Wed, May 22, 2019 at 11:39 AM Frederick Boehm <notifications@github.com>
wrote:

To my knowledge "Imports" concerns only code that will be compiled in the R
folder of the package.  Packages used only in
vignettes need not be loaded on package use, so can be kept out of
namespace processing.  Whether this is stated in WRE
or not I cannot say.  You could ask on r-devel mailing list for certainty.

[2019-05-22 16:53] csoneson commented on #1435
@fboehm The "R packages" book by Hadley Wickham contains useful information on this topic: http://r-pkgs.had.co.nz/description.html. Also WRE: https://cran.r-project.org/doc/manuals/r-release/R-exts.html#Package-Dependencies

[2019-05-22 17:01] zbeekman commented on #1468
Should the version be updated at the top of this issue, @arfon?

[2019-05-22 17:08] arfon commented on #1468
We can do that yes. Can you confirm the version should be `WRF-CMake-4.0.3` @letmaik?

[2019-05-22 17:40] arokem commented on #1420
Hi @sanskriti-s : you are correct that the websites you refer do not have a DOI, and you do not need to specify one for these. I believe that the Hassoun book does not have a DOI either. So, no need for DOIs for these.

[2019-05-22 18:04] vjcitn commented on #1435
from WRE: In particular, packages providing “only” data for examples or
vignettes should be listed in ‘Suggests’ rather than ‘Depends’ in order to
make lean installations possible.

On Wed, May 22, 2019 at 12:56 PM Charlotte Soneson <notifications@github.com>
wrote:

--
The information in this e-mail is intended only for the person to whom it
is
addressed. If you believe this e-mail was sent to yo

[2019-05-22 18:09] RuthAngus commented on #1469
Absolutely! I have added a sentence to the bottom of the README.

[2019-05-22 19:54] steven-murray commented on #1397
Hi @melissawm, I think I have now responded to all the issues you've created so far. Thanks for some great suggestions. Let me know if there's anything else!

[2019-05-22 20:07] letmaik commented on #1468
@arfon Yes, it's WRF-CMake-4.0.3. How is the process if we need to make changes, e.g. to the docs? Do we have to release a new version which this paper is then ultimately based on? The paper itself is also in a branch currently and not part of 4.0.3.

[2019-05-22 20:42] adrena-lab commented on #1392
Hi @trallard,

sorry to bother but I am wondering about the status of our manuscript. Please see above. I have an ERC interview coming up and it would be very helpful to provide evidence of this work.

Many thanks and best wishes,
Stefan

[2019-05-22 21:15] leouieda commented on #1315
@sauln no problem, take your time. I'll set a reminder just so we don't forget to check in.

[2019-05-22 21:15] leouieda commented on #1315
@whedon remind @sauln in 10 days

[2019-05-22 21:16] whedon commented on #1315
Reminder set for @sauln in 10 days

[2019-05-22 22:55] danielskatz commented on #1358
@whedon generate pdf

[2019-05-22 22:55] alkirkby commented on #1358
@whedon generate pdf

[2019-05-22 22:55] whedon commented on #1358
[code]

[2019-05-22 22:55] whedon commented on #1358
[code]

[2019-05-22 22:55] whedon commented on #1358
PDF failed to compile for issue #1358 with the following error:

 Can't find any papers to compile :-(

[2019-05-22 22:55] danielskatz commented on #1358
@whedon generate pdf

[2019-05-22 22:55] whedon commented on #1358
[code]

[2019-05-22 22:56] whedon commented on #1358
PDF failed to compile for issue #1358 with the following error:

 sh: 0: getcwd() failed: No such file or directory
sh: 0: getcwd() failed: No such file or directory
pandoc: 10.21105.joss.01358.pdf: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2019-05-22 22:56] danielskatz commented on #1358
@whedon generate pdf

[2019-05-22 22:56] whedon commented on #1358
[code]

[2019-05-22 22:56] whedon commented on #1358
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01358/joss.01358/10.21105.joss.01358.pdf)

[2019-05-22 22:57] danielskatz commented on #1358
@whedon accept

[2019-05-22 22:57] whedon commented on #1358
[code]

[2019-05-22 22:57] whedon commented on #1358
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01358/joss.01358/10.21105.joss.01358.pdf)

[2019-05-22 22:57] whedon commented on #1358
[code]

[2019-05-22 22:57] whedon commented on #1358
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/710

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/710, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-22 22:58] danielskatz commented on #1358
@whedon accept deposit=true

[2019-05-22 22:58] whedon commented on #1358
[code]

[2019-05-22 22:59] whedon commented on #1358
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1131333735734022149) 👈 🐦🐦🐦

[2019-05-22 22:59] whedon commented on #1358
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/711
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01358](https://doi.org/10.21105/joss.01358)
2. If everything looks go

[2019-05-22 23:00] whedon opened #1470 "[PRE REVIEW]: SimonGrataGen: The Simon Grammar Task Experiment Generator"
**Submitting author:** @DrMichaelLindner (<a href="http://orcid.org/0000-0002-8289-6845">Michael Lindner</a>)
**Repository:** <a href="https://github.com/DrMichaelLindner/SimonGrataGen" target ="_blank">https://github.com/DrMichaelLindner/SimonGrataGen</a>
**Version:** v1.0
**Editor:** @cMadan
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @DrMichaelLindne

[2019-05-22 23:00] whedon commented on #1470
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @cMadan it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@cMadan) to find some reviewers for yo

[2019-05-22 23:00] whedon commented on #1470
[code]

[2019-05-22 23:01] whedon commented on #1470
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01470/joss.01470/10.21105.joss.01470.pdf)

[2019-05-22 23:02] danielskatz commented on #1470
👋 @cMadan - the author requested you as the editor - I hope this is ok - let me know if it isn't

[2019-05-22 23:02] whedon opened #1471 "[PRE REVIEW]: cde - R package to retrieve data from the Environment Agency Catchment Data Explorer site"
**Submitting author:** @robbriers (<a href="http://orcid.org/0000-0003-0341-1203">Robert Briers</a>)
**Repository:** <a href="https://github.com/ropensci/cde" target ="_blank">https://github.com/ropensci/cde</a>
**Version:** 0.4.0
**Editor:** @karthik
**Reviewers:** @jhollist

**Author instructions**

Thanks for submitting your paper to JOSS @robbriers. **Currently, there isn't an JOSS editor assi

[2019-05-22 23:02] whedon commented on #1471
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-05-22 23:02] whedon commented on #1471
[code]

[2019-05-22 23:03] whedon commented on #1471
PDF failed to compile for issue #1471 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1471/paper/paper.md): could not find expected ':' while scanning a simple key at line 19 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	fro

[2019-05-22 23:06] danielskatz commented on #1471
@robbriers - I've made a PR that I think will fix the build problem: https://github.com/ropensci/cde/pull/22

Please accept it, then enter ```@whedon generate pdf``` as a new comment in this issue - If more is needed, free free to make additional fixes...

[2019-05-22 23:06] danielskatz commented on #1471
👋 @karthik - the submitter requested you as the editor - Is this ok with you?

[2019-05-22 23:06] whedon opened #1472 "[PRE REVIEW]: f90nml - A Python module for Fortran namelists"
**Submitting author:** @marshallward (<a href="http://orcid.org/0000-0002-4944-7431">Marshall Ward</a>)
**Repository:** <a href="https://github.com/marshallward/f90nml" target ="_blank">https://github.com/marshallward/f90nml</a>
**Version:** v1.1
**Editor:** @danielskatz
**Reviewers:** @zbeekman, @tclune

**Author instructions**

Thanks for submitting your paper to JOSS @marshallward. **Currently,

[2019-05-22 23:06] whedon commented on #1472
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-05-22 23:06] whedon commented on #1472
[code]

[2019-05-22 23:06] whedon commented on #1472
PDF failed to compile for issue #1472 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-fc4c5c749ca9/lib/whedon.rb:115:in `check_fields': Paper YAML header is missing expected fields: bibliography (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-fc4c5c749ca9/lib/whedon.rb:80:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-fc

[2019-05-22 23:09] danielskatz commented on #1472
👋 @marshallward - I think a bibliography is needed by @whedon - perhaps you can reference the Fortran standard if nothing else seems appropriate.  Once you've added a .bib file and updated the .md to use it, you can enter ```@whedon generate pdf``` here as a new comment to check the build process

[2019-05-22 23:27] banesullivan commented on #1450
@leouieda - we have a slight issue. The publication is showing up under `vtki` still. On the JOSS homepage:

<img width="1620" alt="Screen Shot 2019-05-22 at 7 25 19 PM" src="https://user-images.githubusercontent.com/22067021/58215365-8ef0e980-7cc7-11e9-8cd9-6d5b235d430f.png">

But after clicking on it, all is good:

<img width="1213" alt="Screen Shot 2019-05-22 at 7 25 25 PM" src="https://user-im

[2019-05-22 23:28] alkirkby commented on #1358
Hi @danielskatz just wondering if the DOI issue should have resolved by now? It's still failing to load the document for me.

[2019-05-22 23:40] pdwaggoner commented on #1285
Hi @danielskatz - thanks for the note and this sounds great! The software is archived at Zenodo, and the DOI is: 10.5281/zenodo.3178394 . Let me know whatever else you need. Thanks again!

[2019-05-23 00:04] alkirkby commented on #1358
It's working now, sorry I was just impatient :)

[2019-05-23 00:04] danielskatz commented on #1358
Yes, that’s why the review is still open. Let’s see if it resolves a little later; that’s usually the case.

[2019-05-23 00:05] danielskatz commented on #1358
Actually, it’s now working for me, though it might be cached for you.

[2019-05-23 00:05] #1358 closed

[2019-05-23 00:05] whedon commented on #1358
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01358/status.svg)](https://doi.org/10.21105/joss.01358)

**We need your help!**

Journal of Open Source Softwar

[2019-05-23 00:07] alkirkby commented on #1358
Thanks @danielskatz, yep it's working now, I was just a bit impatient. And thanks @lheagy and @JKutt for editing and reviewing!

[2019-05-23 00:40] sanskriti-s commented on #1420
Hi @arokem, Ok thanks

[2019-05-23 01:29] danielskatz commented on #1285
@whedon set 10.5281/zenodo.3178394 as archive

[2019-05-23 01:29] whedon commented on #1285
OK. <a href="https://doi.org/10.5281/zenodo.3178394" target="_blank">10.5281/zenodo.3178394</a> is the archive.

[2019-05-23 01:30] danielskatz commented on #1285
@whedon accept

[2019-05-23 01:30] whedon commented on #1285
[code]

[2019-05-23 01:30] whedon commented on #1285
[code]

[2019-05-23 01:30] whedon commented on #1285
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/712

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/712, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-23 01:39] danielskatz commented on #1285
👋 @pdwaggoner - there are a bunch of little issues in the paper, and I believe https://github.com/MAHDLab/rIP/pull/5 will fix them.  Please take a look and merge this, or otherwise resolve the broken references, figure placement, and other small issues.

[2019-05-23 02:23] pdwaggoner commented on #1285
@danielskatz merged. Thanks for the fixes! Happy to take a look at another proof if you think it’s necessary.

[2019-05-23 02:29] choldgraf commented on #1408
I took another pass through the README - I think that it is definitely improved!

I still have a few issues that I'd like to see addressed, particularly around clarifying the inputs/outputs of the script, on improving the test coverage, and on clarifying how you can incorporate this into a full GUI visualization.

[2019-05-23 02:40] marshallward commented on #1472
Thank you @danielskatz, I've updated the doc to include a reference to the ISO document.  (Not sure what else to cite here, since it's a pretty low level tool).  I will direct @whedon in the next post.

Also, I believe that @zbeekman may be a suitable referee for this paper, based on his contributions to the Fortran community.

[2019-05-23 02:40] marshallward commented on #1472
@whedon generate pdf

[2019-05-23 02:41] whedon commented on #1472
[code]

[2019-05-23 02:41] whedon commented on #1472
PDF failed to compile for issue #1472 with the following error:

 Error producing PDF.
! Undefined control sequence.
<recently read> \s

l.300 ...hierarchical tree of \texttt{Namelists}\s

Looks like we failed to compile the PDF

[2019-05-23 02:44] danielskatz commented on #1285
@whedon accept

[2019-05-23 02:44] whedon commented on #1285
[code]

[2019-05-23 02:44] whedon commented on #1285
[code]

[2019-05-23 02:45] whedon commented on #1285
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/713

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/713, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-23 02:46] danielskatz commented on #1285
@whedon generate pdf

[2019-05-23 02:46] whedon commented on #1285
[code]

[2019-05-23 02:47] whedon commented on #1285
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01285/joss.01285/10.21105.joss.01285.pdf)

[2019-05-23 02:47] danielskatz commented on #1285
@whedon accept

[2019-05-23 02:47] whedon commented on #1285
[code]

[2019-05-23 02:48] whedon commented on #1285
[code]

[2019-05-23 02:48] whedon commented on #1285
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/714

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/714, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-23 02:50] marshallward commented on #1472
@whedon generate pdf

[2019-05-23 02:50] whedon commented on #1472
[code]

[2019-05-23 02:50] whedon commented on #1472
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01472/joss.01472/10.21105.joss.01472.pdf)

[2019-05-23 02:51] danielskatz commented on #1285
@whedon accept deposit=true

[2019-05-23 02:51] whedon commented on #1285
[code]

[2019-05-23 02:51] whedon commented on #1285
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1131392231632506880) 👈 🐦🐦🐦

[2019-05-23 02:51] whedon commented on #1285
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/715
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01285](https://doi.org/10.21105/joss.01285)
2. If everything looks go

[2019-05-23 02:52] #1285 closed

[2019-05-23 02:52] whedon commented on #1285
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01285/status.svg)](https://doi.org/10.21105/joss.01285)

**We need your help!**

Journal of Open Source Softwar

[2019-05-23 02:59] danielskatz commented on #1472
Please see https://github.com/marshallward/f90nml/pull/94

[2019-05-23 03:01] danielskatz commented on #1472
For submissions to JOSS, papers should talk a bit about the research use and users of the software - see https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain

[2019-05-23 03:14] marshallward commented on #1472
Given that this is more of a Fortran tool rather than addressing a specific research activity, would you recommend submitting to a different journal?

[2019-05-23 04:18] zbeekman commented on #1472
FWIW (maybe not much!) I can see great value in research contexts for such a tool. Two immediate use cases jump to mind (although they are sort of two sides of the same coin):

1. Research code modernization & portability
2. Mixed language programming

### 1. Modernization & Portability

Namelist files are better than old school "input deck" formatted input files, but they still are not as widely

[2019-05-23 04:24] zbeekman commented on #1472
P.S. I'm on that list, but recently added, so you must scroll down to the 582nd row.

Should the submission proceed, I hope my enthusiasm above is not mis-interpreted. I do not know, nor have I ever worked with or for the same company as @marshallward; I just appreciate the f90nml tool.

[2019-05-23 07:48] robbriers commented on #1471
@whedon generate pdf

[2019-05-23 07:48] whedon commented on #1471
[code]

[2019-05-23 07:48] whedon commented on #1471
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01471/joss.01471/10.21105.joss.01471.pdf)

[2019-05-23 08:02] robbriers commented on #1471
@whedon generate pdf

[2019-05-23 08:02] whedon commented on #1471
[code]

[2019-05-23 08:03] whedon commented on #1471
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01471/joss.01471/10.21105.joss.01471.pdf)

[2019-05-23 08:39] robbriers commented on #1471
@whedon generate pdf

[2019-05-23 08:39] whedon commented on #1471
[code]

[2019-05-23 08:40] whedon commented on #1471
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01471/joss.01471/10.21105.joss.01471.pdf)

[2019-05-23 08:50] rgieseke commented on #1472
Pymagicc (https://doi.org/10.21105/joss.00516) has used `f90nml` and switching to it has replaced a bunch of hacky code in a previous version, thus greatly speeding up Pymagicc development.

I'm at GitHub's satellite conference right now, where it was just announced that GitHub repos will display "Used by" other projects button.

For `f90nml` there are 45 repos and 10 packages.

https://github.com

[2019-05-23 10:57] u01ai11 commented on #1409
Will have this done soon. Just checking through the examples in the repo and trying to get them working.

[2019-05-23 11:06] mattpitkin commented on #1469
@RuthAngus thanks for adding this. I noticed that in the raw version of the README.rst file there's some info on installing and an example of running the code, but these are commented out. Even with the link to the documentation that exists I think it would still be useful to have that info visible. Could you uncomment them?

[2019-05-23 11:13] arfon commented on #1468
@whedon set WRF-CMake-4.0.3 as version

[2019-05-23 11:13] whedon commented on #1468
OK. WRF-CMake-4.0.3 is the version.

[2019-05-23 11:15] arfon commented on #1468
We ask that authors make a new release that includes the changes made during the review, that way we can be sure the archived version reflects the work of our reviewers too. The paper doesn't need to be part of the final version.

[2019-05-23 11:20] danielskatz commented on #1472
I have no doubts about the usefulness of this software, I'm just trying to make sure if fits JOSS - I'll confer with other editors and be back soon

[2019-05-23 13:35] dirmeier commented on #1422
Hey, so sorry for the late reply. I totally forgot answering. Yes, I'd be happy to review!

[2019-05-23 13:57] melissawm commented on #1397
Hello all. @xuanxu the review has been finalized. @steven-murray has answered to all the issues that I've opened (adding the DOI for the references; adding a document/guide for contributors and those seeking support, including how to test the software). As far as I'm concerned this is approved.

[2019-05-23 14:00] xuanxu commented on #1397
Great, thanks @melissawm!

[2019-05-23 14:01] benmaier commented on #1425
We would like to thank @vc1492a again for his incredibly helpful review which sparked a lot of ideas which actually already improved the package. We were delighted to read that he found `netwulf` to be an _"interesting piece of software [...] that may be useful within the network analysis community"_. He also _"believe[d] updates are needed in order for publication in JOSS"_, which we ultimately a

[2019-05-23 14:04] xuanxu commented on #1397
@steven-murray can you merge the changes into master?

[2019-05-23 14:10] marshallward commented on #1472
Thanks all for the kind feedback.  I will modify the manuscript over the next day or so and try to consolidate some of the uses cases from these projects, including the ones linked by @rgieseke.  (I was aware of a few via Google, but I'm surprised to see much more).

[2019-05-23 14:37] dandavies99 commented on #1361
Thank you both @symmy596 and @utf for your time.

@utf, thanks for the the thorough review and useful comments. We have tried to address all the points by making these changes:

- We agree that the separation between the examples in the repo and the workflows in the separate workflow is actually not that helpful. We have moved all examples into the examples folder in the repo and provided a [separ

[2019-05-23 14:52] cMadan commented on #1470
@danielskatz, sure, I have no problem being editor here.

@DrMichaelLindner, I've looked over your submission but currently view it as too specialised for a JOSS publication. Can you provide a bit of justification of why you think this software is sufficient for a standalone publication?

[2019-05-23 14:58] utf commented on #1361
Hi @dandavies99 the new readme is a lot clearer and is very easy to follow. Really nice work.

@danielskatz I’m happy that all my comments have been thoroughly addressed.

[2019-05-23 15:06] trallard commented on #1392
Thanks for your patience @adrena-lab  everything seems to be ok now so I will proceed with the last actions for approval and publication

[2019-05-23 15:07] trallard commented on #1392
@whedon set https://doi.org/10.5281/zenodo.2847905 as archive

[2019-05-23 15:07] whedon commented on #1392
OK. <a href="https://doi.org/10.5281/zenodo.2847905" target="_blank">10.5281/zenodo.2847905</a> is the archive.

[2019-05-23 15:07] trallard commented on #1392
@whedon  check references

[2019-05-23 15:07] trallard commented on #1392
@whedon generate pdf

[2019-05-23 15:07] whedon commented on #1392
[code]

[2019-05-23 15:08] trallard commented on #1392
@whedon set 1.0.1 as version

[2019-05-23 15:08] whedon commented on #1392
OK. 1.0.1 is the version.

[2019-05-23 15:08] whedon commented on #1392
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01392/joss.01392/10.21105.joss.01392.pdf)

[2019-05-23 15:11] fboehm commented on #1435
Thanks, @csoneson and @vjcitn! I appreciate the help on this point. I'll fix the DESCRIPTION file accordingly.

[2019-05-23 15:11] trallard commented on #1392
@adrena-lab  all looks good to me so I am going to proceed for acceptance 🙋🏻‍♀️

@cmccomb  and @nicoguaro  thanks a lot for your time and valuable contribution to JOSS as reviewers for this submission 🙌🏻

@openjournals/joss-eics this submission has been accepted and is ready to be published 🎉🙌✨

[2019-05-23 15:17] adrena-lab commented on #1392
Thanks all, @cmccomb @nicoguaro and @trallard - we sincerely appreciate your service to the community. Niamh, Alaric and Stefan from @adrena-lab

[2019-05-23 15:21] symmy596 commented on #1361
I am also happy that all of my comments have been addressed.

[2019-05-23 16:02] danielskatz commented on #1392
@whedon accept

[2019-05-23 16:02] whedon commented on #1392
[code]

[2019-05-23 16:02] whedon commented on #1392
[code]

[2019-05-23 16:03] whedon commented on #1392
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/716

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/716, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-23 16:23] danielskatz commented on #1392
@whedon accept deposit=true

[2019-05-23 16:23] whedon commented on #1392
[code]

[2019-05-23 16:24] whedon commented on #1392
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1131596666056957953) 👈 🐦🐦🐦

[2019-05-23 16:24] whedon commented on #1392
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/717
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01392](https://doi.org/10.21105/joss.01392)
2. If everything looks go

[2019-05-23 17:47] RuthAngus commented on #1469
@mattpitkin good suggestion -- I have now done so!

[2019-05-23 17:54] danielskatz commented on #1392
The DOI does not yet resolve for me - once it does, I will close this and the paper will be finalized.

[2019-05-23 18:10] arfon commented on #1392
Looks like it's resolving now...

[2019-05-23 18:11] #1392 closed

[2019-05-23 18:11] whedon commented on #1392
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01392/status.svg)](https://doi.org/10.21105/joss.01392)

**We need your help!**

Journal of Open Source Softwar

[2019-05-23 19:08] steven-murray commented on #1397
@xuanxu it is now merged.

[2019-05-23 19:45] fsobral commented on #1385
@whedon generate pdf from branch joss

[2019-05-23 19:45] whedon commented on #1385
[code]

[2019-05-23 19:45] whedon commented on #1385
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01385/joss.01385/10.21105.joss.01385.pdf)

[2019-05-23 19:46] karthik commented on #785
@flor14 Looks like you removed all the dois?

[2019-05-23 19:47] karthik commented on #1428
Hello @wrathematics Any chance you have time to review this submission?

[2019-05-23 19:48] karthik commented on #1428
👋 @HenrikBengtsson Would you also be open to reviewing this for us?

[2019-05-23 19:49] danielskatz commented on #1446
👋 @tesch1 - Any suggestions?

[2019-05-23 19:51] danielskatz commented on #1256
Note twitter discussion thread: https://twitter.com/LorenaABarba/status/1131222830794903552

[2019-05-23 19:56] danielskatz commented on #1005
👋 @tpetricek - please confirm that the documentation for testing is OK, given the discussion above, and if so, please check off the item.  If you think something else is needed to make this OK, please explain what you believe is needed.

And for other items in the checklist, what are the blockers to you?

[2019-05-23 19:56] danielskatz commented on #1005
👋 @adammichaelwood - are you still going to be able to review this?

[2019-05-23 19:58] danielskatz commented on #1471
👋 @karthik - the submitter requested you as the editor - Is this ok with you?

[2019-05-23 20:09] marshallward commented on #1472
@whedon generate pdf

[2019-05-23 20:09] whedon commented on #1472
[code]

[2019-05-23 20:09] whedon commented on #1472
PDF failed to compile for issue #1472 with the following error:

 Error reading bibliography ./paper.bib (line 51, column 5):
unexpected "a"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-05-23 20:11] marshallward commented on #1472
@whedon generate pdf

[2019-05-23 20:11] whedon commented on #1472
[code]

[2019-05-23 20:12] whedon commented on #1472
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01472/joss.01472/10.21105.joss.01472.pdf)

[2019-05-23 20:17] karthik commented on #1471
Howdy @jhollist! Any chance you have the bandwidth to review this submission?

[2019-05-23 20:20] brainstorm commented on #1465
Thanks @mgalland, looks better now. I was referring to the enumeration after "The outputs delivered with the pipeline are:"... an few extra newlines specifically there and better separation of paragraphs could improve readability. It is now a bit too compact imho.

After this is addressed, feel free to deposit on Zenodo. Cheers!

[2019-05-23 20:33] jhollist commented on #1471
@karthik I'd love to do the review, but unfortunately don't have the time right now.  If you are still looking for a reviewer after a couple of weeks, let me know.  Should have a number of things off my plate by then.

Sorry!

[2019-05-23 20:43] marshallward commented on #1472
@whedon generate pdf

[2019-05-23 20:43] whedon commented on #1472
[code]

[2019-05-23 20:43] whedon commented on #1472
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01472/joss.01472/10.21105.joss.01472.pdf)

[2019-05-23 20:45] danielskatz commented on #1471
@whedon assign @karthik as editor

[2019-05-23 20:45] whedon commented on #1471
OK, the editor is @karthik

[2019-05-23 20:45] karthik commented on #1471
@whedon assign @jhollist as reviewer

[2019-05-23 20:45] whedon commented on #1471
OK, the reviewer is @jhollist

[2019-05-23 20:46] karthik commented on #1471
Jeff: Thank you! Noting here that you'll complete the review by early July.

[2019-05-23 20:46] karthik commented on #1471
@whedon start review

[2019-05-23 20:46] whedon opened #1473 "[REVIEW]: cde - R package to retrieve data from the Environment Agency Catchment Data Explorer site"
**Submitting author:** @robbriers (<a href="http://orcid.org/0000-0003-0341-1203">Robert Briers</a>)
**Repository:** <a href="https://github.com/ropensci/cde" target ="_blank">https://github.com/ropensci/cde</a>
**Version:** v0.4.1
**Editor:** @karthik
**Reviewer:** @jhollist
**Archive:** <a href="https://doi.org/10.5281/zenodo.2577178" target="_blank">10.5281/zenodo.2577178</a>

## Status

[![sta

[2019-05-23 20:46] whedon commented on #1471
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1473. Feel free to close this issue now!

[2019-05-23 20:46] whedon commented on #1473
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jhollist it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-05-23 20:46] whedon commented on #1473
[code]

[2019-05-23 20:46] #1471 closed

[2019-05-23 20:46] karthik commented on #1473
Jeff: Thank you! Noting here that you'll complete the review by early July.

[2019-05-23 20:46] whedon commented on #1473
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01473/joss.01473/10.21105.joss.01473.pdf)

[2019-05-23 20:58] danielskatz commented on #1472
@marshallward - We'll go ahead and review this.  Let me know when you are satisfied with the paper, and we'll get started.

Also, if you have any suggestions for potential reviewers then please let us know. [This list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission, but feel free to mention other people, whether with a github

[2019-05-23 21:03] danielskatz commented on #1445
👋 @PrashantVaidyanathan - have you had a chance to start looking at this yet?

[2019-05-23 21:06] marshallward commented on #1472
Hi @danielskatz I've just submitted one more change since the last article proof, and am happy with the current draft.  (Please let me know if I need to generate a new PDF, or if the editors will do it internally.)

@zbeekman would probably be a good reviewer, given his background in the sciences and development of Fortran tools.  After going through the list, @ngoldbaum may also be suitable since

[2019-05-23 21:21] zbeekman commented on #1472
I think you need to ask whedon to regenerate the pdf.

I'd be happy to be a reviewer, but I won't be able to look at it until the weekend after this coming one. I'm mid review on another JOSS paper and have a number of other obligations to attend to. Damian Rouson (a friend and colleague of mine) has reviewed for JOSS in the past, (he's on the list too, I think) and is also very involved in the Fo

[2019-05-23 21:24] marshallward commented on #1472
@whedon generate pdf

[2019-05-23 21:24] whedon commented on #1472
[code]

[2019-05-23 21:25] whedon commented on #1472
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01472/joss.01472/10.21105.joss.01472.pdf)

[2019-05-23 21:25] marshallward commented on #1472
Damian Rouson would be a great option, I don't know him (nor @zbeekman for that matter!) but follow his work.

[2019-05-23 21:29] marshallward commented on #1472
@whedon generate pdf

[2019-05-23 21:29] whedon commented on #1472
[code]

[2019-05-23 21:29] whedon commented on #1472
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01472/joss.01472/10.21105.joss.01472.pdf)

[2019-05-23 21:30] marshallward commented on #1472
BTW I cannot seem to get the second affiliation working, if anyone knows how to fix...

[2019-05-23 21:30] tknopp commented on #1331
@IgorBaratta: I have worked on all of your points. Regarding this

I was not 100% sure how this was meant. The dataset used in "getting started" was actually downloaded when performing running the test suite but I have not mentioned it in the documentation. Now I explicitly download the data:
    https://magneticparticleimaging.github.io/MPIFiles.jl/dev/gettingStarted.html
Then the user can direct

[2019-05-23 21:38] marshallward commented on #1472
@whedon generate pdf

[2019-05-23 21:38] whedon commented on #1472
[code]

[2019-05-23 21:38] whedon commented on #1472
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01472/joss.01472/10.21105.joss.01472.pdf)

[2019-05-23 23:40] gvegayon commented on #1427
Dear @fabian-s,

I've addressed most of your comments on https://github.com/USCbiostats/fmcmc/pull/9 (thanks for them!). Regarding the rest of the comments:

There is no need to have a special argument for that. Any set of particular priors can be added directly in the objective function. For example, suppose that your log-likelihood function looks like this:

[code]

If you want to add priors to

[2019-05-24 00:23] danielskatz commented on #1472
👋 @zbeekman - it sounds like you are willing to review this?

[2019-05-24 00:24] danielskatz commented on #1472
sorry, now I see you said so earlier.  I'll assign you, but until we get a second reviewer, nothing will start, and your delay to next weekend is fine

[2019-05-24 00:24] danielskatz commented on #1472
@whedon assign @danielskatz as editor

[2019-05-24 00:24] whedon commented on #1472
OK, the editor is @danielskatz

[2019-05-24 00:24] danielskatz commented on #1472
@whedon assign @zbeekman as reviewer

[2019-05-24 00:24] whedon commented on #1472
OK, the reviewer is @zbeekman

[2019-05-24 00:25] danielskatz commented on #1472
👋 @rouson - Are you willing to review this for JOSS?

[2019-05-24 00:32] zbeekman commented on #1472
I’m not against it but @rouson and I collaborate a lot so having both of us
as reviewers may be redundant or offer similar perspectives. I’ll be happy
to step aside for @rouson or review w/ him, but I wanted you
@danielskatz to be aware of this.

Happy either way so long as I can punt until after May 31.

On Thu, May 23, 2019 at 8:25 PM Daniel S. Katz <notifications@github.com>
wrote:

[2019-05-24 04:19] PrashantVaidyanathan commented on #1445
@danielskatz Apologies for the delay. I had spotty net connection over the last few days while travelling. I've started reviewing the submission now.

[2019-05-24 08:13] xuanxu commented on #1397
@whedon generate pdf

[2019-05-24 08:13] whedon commented on #1397
[code]

[2019-05-24 08:13] whedon commented on #1397
PDF failed to compile for issue #1397 with the following error:

 Error reading bibliography ./paper.bib (line 9, column 11):
unexpected "."
expecting letter, digit, white space, "#", "," or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-05-24 08:25] xuanxu commented on #1397
@steven-murray the paper compilation failed because there's a couple of missing braces. I've issued a [PR in your repo](https://github.com/steven-murray/hankel/pull/26) to fix that.

[2019-05-24 09:21] u01ai11 commented on #1409
This issue -- problems with opening the examples in Lab.js was resolved: https://github.com/Yury-Shevchenko/mad/issues/3

[2019-05-24 09:29] u01ai11 commented on #1409
In going through the examples, I can't find a way to edit the parameters in Open Lab, just Lab.js. The documentation should also mention that you need an account to view the example templates. https://github.com/Yury-Shevchenko/mad/issues/4

[2019-05-24 09:32] u01ai11 commented on #1409
The author has not made a release for the github repo

https://github.com/Yury-Shevchenko/mad/issues/5

[2019-05-24 09:45] piermorel commented on #1291
Thanks for your patience. I could install without any problems, run the tests and example code. I checked all the points in the review checklist but two because I guess it depends on JOSS' guidelines and way of doing things :
- For the references, one of the dataset has multiple similar references that make the list very long, and look weird in the compiled PDF. Not sure if this is a problem on yo

[2019-05-24 10:16] u01ai11 commented on #1409
Cannot check the community guidelines box

https://github.com/Yury-Shevchenko/mad/issues/6

[2019-05-24 10:17] u01ai11 commented on #1409
Missing a doi for one paper in the paper.md file

https://github.com/Yury-Shevchenko/mad/issues/7

[2019-05-24 10:22] u01ai11 commented on #1409
I can't tick the checkbox, as there are no automated tests or steps outlined to verify the functioning of the software is as expected.
Given that this is a template for working on Lab.js and Open Lab, I am not sure what this would look like, or if this is necessary?

[2019-05-24 10:45] u01ai11 commented on #1409
OK - I have completed the review for this.

I think this is a great tool for creating 'Mouselab' tasks quickly using an existing web-based builder (Lab.js) and a SaaS platform (Open Lab).

The documentation (in the README file) is clear, and the examples are helpful for understanding the functionality of the templates. One suggestion (rather than acceptance blocker) is to create a broken down by h

[2019-05-24 12:55] evcastelani commented on #1385
@whedon generate pdf from branch joss

[2019-05-24 12:55] whedon commented on #1385
[code]

[2019-05-24 12:56] whedon commented on #1385
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01385/joss.01385/10.21105.joss.01385.pdf)

[2019-05-24 13:15] evcastelani commented on #1385
@whedon generate pdf from branch joss

[2019-05-24 13:15] whedon commented on #1385
[code]

[2019-05-24 13:16] whedon commented on #1385
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01385/joss.01385/10.21105.joss.01385.pdf)

[2019-05-24 13:48] flor14 commented on #785
After the failed attempts, I regenerated the file again. I added again the
DOIs now to this new file.

El jue., 23 may. 2019 a las 16:46, Karthik Ram (<notifications@github.com>)
escribió:

[2019-05-24 14:15] danielskatz commented on #1472
Ok, let's see if Damian is available, or we will stick with you.  In any case, we need another reviewer.  Suggestions from @marshallward or @zbeekman ?

[2019-05-24 14:18] danielskatz commented on #1472
@tclune, @kc9qey - would either of you be willing to review this submission to JOSS?  (A JOSS review covers the short paper and the code repository, using [this set of criteria](https://joss.readthedocs.io/en/latest/review_criteria.html))

[2019-05-24 14:41] martibosch commented on #1464
Thank you very much @leouieda

A small update: a preprint which shows how the library might be used in real studies is already available (https://doi.org/10.1101/645549), and so is the repository with the materials required to reproduce the results (https://github.com/martibosch/swiss-urbanization). Should we add this to the manuscript?

On the other hand, the library has also been used in a manus

[2019-05-24 16:59] xuanxu commented on #1397
@whedon generate pdf

[2019-05-24 16:59] whedon commented on #1397
[code]

[2019-05-24 17:00] whedon commented on #1397
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01397/joss.01397/10.21105.joss.01397.pdf)

[2019-05-24 17:13] rheiland commented on #1408
Thanks. I've tried to address your most recent comments.

[2019-05-24 17:47] tclune commented on #1472
Dan,

I’d be happy to.

Cheers,

- Tom

On May 24, 2019, at 10:18 AM, Daniel S. Katz <notifications@github.com<mailto:notifications@github.com>> wrote:

@tclune<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_tclune&d=DwMCaQ&c=ApwzowJNAKKw3xye91w7BE1XMRKi2LN9kiMk5Csz9Zk&r=EDCdNzkccJ25Co3sjWrr1HlJQ3_CoIFWfekFE1ulcLI&m=wd5zQUrrlmafBQD2-dUD6Mhnv44ywmKp9WuBuPFjHY8&s=iz-nAB-DBzjPrLmnSYk

[2019-05-24 18:28] danielskatz commented on #1472
Thanks @tclune  - with 2 reviewers now, we'll get going.

[2019-05-24 18:28] danielskatz commented on #1472
@whedon add @tclune as reviewer

[2019-05-24 18:28] whedon commented on #1472
OK, @tclune is now a reviewer

[2019-05-24 18:28] danielskatz commented on #1472
@whedon start review

[2019-05-24 18:28] whedon opened #1474 "[REVIEW]: f90nml - A Python module for Fortran namelists"
**Submitting author:** @marshallward (<a href="http://orcid.org/0000-0002-4944-7431">Marshall Ward</a>)
**Repository:** <a href="https://github.com/marshallward/f90nml" target ="_blank">https://github.com/marshallward/f90nml</a>
**Version:** 1.1.2
**Editor:** @danielskatz
**Reviewer:** @zbeekman, @tclune
**Archive:** <a href="https://doi.org/10.5281/zenodo.3245482" target="_blank">10.5281/zenodo.3

[2019-05-24 18:28] whedon commented on #1472
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1474. Feel free to close this issue now!

[2019-05-24 18:28] whedon commented on #1474
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @zbeekman, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-05-24 18:28] whedon commented on #1474
[code]

[2019-05-24 18:28] #1472 closed

[2019-05-24 18:29] whedon commented on #1474
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01474/joss.01474/10.21105.joss.01474.pdf)

[2019-05-24 18:29] danielskatz commented on #1474
👋 @zbeekman, @tclune - we're ready to go ahead with the review in this issue.

And I know @zbeekman won't do anything until May 31...

[2019-05-24 18:30] danielskatz commented on #1474
As stated in the first comment in this issue, please carry out your review in this issue by updating the your checklist (above).

Please avoid lengthy details of difficulties in the review thread. Instead, please create a new issue in the target repository and link to those issues (especially acceptance-blockers) by leaving comments in the review thread below. (For completists: if the target issue

[2019-05-24 18:48] zbeekman commented on #1474
I can't seem to tick any check boxes

[2019-05-24 18:49] tclune commented on #1474
Works for me.   Of course, I first started checking @zbeekman 's boxes ...   But I then unchecked them.

[2019-05-24 18:49] danielskatz commented on #1474
Quoting the comment above:

I'm sure the first is ok - can you make sure you did the second?

[2019-05-24 19:07] zbeekman commented on #1474
I'd accepted already for a previous review. It started working just now. Thanks!

[2019-05-24 19:47] smk508 commented on #1422
Hi @dirmeier thanks for reviewing my submission! What are the next steps @arokem ?

[2019-05-25 03:22] rouson commented on #1472
@danielskatz It sounds like you have enough reviewers.  If not, another person I would recommend is Craig Rasmussen.  I'm not sure if my tagging him here work, but here goes: @rasmussn.  My experience with python is very limited so I'm probably not the best reviewer.

[2019-05-25 04:43] danielskatz commented on #1472
Yes, we're all set, but thanks anyhow.

[2019-05-25 09:53] xuanxu commented on #1397
@whedon check references

[2019-05-25 09:53] whedon commented on #1397
[code]

[2019-05-25 09:53] whedon commented on #1397
[code]

[2019-05-25 10:17] xuanxu commented on #1397
@steven-murray Whedon suggests `https://doi.org/10.1017/cbo9781139107136.003` as a posible DOI for the `Highly Oscillatory Quadrature` citation. Do you think it's the right one? If so I have issued a PR in the hankel repo updating it.

[2019-05-25 13:36] vc1492a commented on #1425
@benmaier Thank you for the detailed replies to my comments. Thank you for writing some automated tests and for providing a structure for writing future tests. The issue of writing tests for an interactive framework is an interesting one, and I think worth exploring in the future as you continue to improve netwulf. I'd very much welcome seeing the addition of curved edges and clustered networks in

[2019-05-25 13:39] whedon opened #1475 "[PRE REVIEW]: pulse"
**Submitting author:** @finsberg (<a href="http://orcid.org/0000-0003-3766-2393">Henrik Nicolay Topnes Finsberg</a>)
**Repository:** <a href="https://github.com/finsberg/pulse" target ="_blank">https://github.com/finsberg/pulse</a>
**Version:** 0.1.1
**Editor:** @trallard
**Reviewers:** @melund, @trallard

**Author instructions**

Thanks for submitting your paper to JOSS @finsberg. **Currently, th

[2019-05-25 13:39] whedon commented on #1475
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-05-25 13:39] whedon commented on #1475
[code]

[2019-05-25 13:39] whedon commented on #1475
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01475/joss.01475/10.21105.joss.01475.pdf)

[2019-05-25 13:40] danielskatz commented on #1475
👋 @trallard - you've been suggested as editor - is this ok with you?

[2019-05-25 16:10] trallard commented on #1475
Sure thing 😁 assignme for this

[2019-05-25 16:39] danielskatz commented on #1475
@whedon assign @trallard as editor

[2019-05-25 16:39] whedon commented on #1475
OK, the editor is @trallard

[2019-05-25 18:22] kyleniemeyer commented on #1456
Hi @FelixHenninger, @oesteban, and @vsoch : are you interested and available to review this submission for JOSS?

[2019-05-25 18:53] whedon opened #1476 "[PRE REVIEW]: Eyestream: An open WebSocket-based middleware for serializing and streaming eye tracker event data from Gazepoint GP3 HD research hardware"
**Submitting author:** @MLHale (<a href="http://orcid.org/0000-0002-8433-2744">Matthew Hale</a>)
**Repository:** <a href="https://github.com/MLHale/eyestream" target ="_blank">https://github.com/MLHale/eyestream</a>
**Version:** 1.0.2
**Editor:** @cMadan
**Reviewers:** @RingoHHuang, @adswa

**Author instructions**

Thanks for submitting your paper to JOSS @MLHale. **Currently, there isn't an JOSS

[2019-05-25 18:53] whedon commented on #1476
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-05-25 18:53] whedon commented on #1476
[code]

[2019-05-25 18:53] whedon opened #1477 "[PRE REVIEW]: An Optimized Tool for Learning Embeddings of Words and Entities from Wikipedia"
**Submitting author:** @ikuyamada (<a href="http://orcid.org/0000-0002-7980-7661">Ikuya Yamada</a>)
**Repository:** <a href="https://github.com/wikipedia2vec/wikipedia2vec" target ="_blank">https://github.com/wikipedia2vec/wikipedia2vec</a>
**Version:** v1.0.3
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @ikuyamada. **Currently, there

[2019-05-25 18:53] whedon commented on #1477
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-05-25 18:53] whedon commented on #1477
[code]

[2019-05-25 18:53] whedon commented on #1477
PDF failed to compile for issue #1477 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-379fcd917139/lib/whedon.rb:123:in `block in check_orcids': Problem with ORCID (0000-0000-0000-0000) for Akari Asai (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-379fcd917139/lib/whedon.rb:121:in `each'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-3

[2019-05-25 18:53] whedon commented on #1476
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01476/joss.01476/10.21105.joss.01476.pdf)

[2019-05-25 18:55] danielskatz commented on #1477
👋  @ikuyamada - The ORCID for Akari Asai is not correct.  Either update this to the correct ORCID, or remove this line from the paper.  Then in a new comment here, enter ```@whedon generate pdf``` to regenerate the pdf.

[2019-05-25 18:57] danielskatz commented on #1476
👋 @MLHale - some of the references have case problems - you might want to enclose anything that should stay upper case in {}s - when you have made changes, to test them, enter a new comment here with ```@whedon generate pdf```

[2019-05-25 18:59] danielskatz commented on #1476
👋 @cMadan - would you be willing to edit this submission?

[2019-05-25 19:18] vsoch commented on #1456
I would default to @FelixHenninger first- he bought his own timing equipment and published on it! I’ve built infrastructure for deploying experiments, but that’s different from critiquing timing itself. @FelixHenninger do you have the bandwidth?

[2019-05-25 20:34] arokem commented on #1422
@whedon assign dirmeier as reviewer

[2019-05-25 20:34] whedon commented on #1422
OK, the reviewer is dirmeier

[2019-05-25 20:34] arokem commented on #1422
@whedon start review

[2019-05-25 20:34] whedon opened #1478 "[REVIEW]: Fireworks: Reproducible Machine Learning with PyTorch"
**Submitting author:** @smk508 (<a href="http://orcid.org/0000-0003-4686-4923">Saad Khan</a>)
**Repository:** <a href="https://github.com/kellylab/Fireworks" target ="_blank">https://github.com/kellylab/Fireworks</a>
**Version:** 0.3.2
**Editor:** @arokem
**Reviewer:** @dirmeier
**Archive:** <a href="https://doi.org/10.5281/zenodo.3339548" target="_blank">10.5281/zenodo.3339548</a>

## Status

[![

[2019-05-25 20:34] whedon commented on #1422
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1478. Feel free to close this issue now!

[2019-05-25 20:34] whedon commented on #1478
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dirmeier it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-05-25 20:34] whedon commented on #1478
[code]

[2019-05-25 20:35] whedon commented on #1478
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01478/joss.01478/10.21105.joss.01478.pdf)

[2019-05-25 20:35] arokem commented on #1422
@dirmeier : thanks for taking this on! Please head over to #1478 for the review. I'll close this issue now.

[2019-05-25 20:35] #1422 closed

[2019-05-25 20:37] arokem commented on #1420
@annoviko : any other comments? I see that several of the boxes have not been checked yet.

[2019-05-25 20:40] MLHale commented on #1476
@danielskatz I'll fix the case issues, thanks for pointing that out.

[2019-05-25 22:02] mattpitkin commented on #1469
@RuthAngus I'm working through the very nice example here https://stardate.readthedocs.io/en/latest/tutorials/Tutorial.html#. When I get to the code block after the sentence `"If you know the extinction you can pass that to the Star object too:"` it throws an error because `Av` and `Av_err` are not defined. I'm assuming this `Av` is the extinction value (and it's associated error) that previous se

[2019-05-26 01:30] ikuyamada commented on #1477
@whedon generate pdf

[2019-05-26 01:30] whedon commented on #1477
[code]

[2019-05-26 01:31] whedon commented on #1477
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01477/joss.01477/10.21105.joss.01477.pdf)

[2019-05-26 01:32] ikuyamada commented on #1477
@danielskatz Thanks. I removed the line and regenerated the paper!

[2019-05-26 02:10] ikuyamada commented on #1477
@whedon generate pdf

[2019-05-26 02:10] whedon commented on #1477
[code]

[2019-05-26 02:10] whedon commented on #1477
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01477/joss.01477/10.21105.joss.01477.pdf)

[2019-05-26 02:25] ikuyamada commented on #1477
I fixed several formatting issues and regenerated the PDF.

[2019-05-26 04:04] danielskatz commented on #1477
👋 @usethedata - would you also be willing to edit this submission?

[2019-05-26 06:52] mattpitkin commented on #1469
@RuthAngus Could you add `emcee` to the dependencies listed in https://stardate.readthedocs.io/en/latest/user/install.html#dependencies?

[2019-05-26 06:59] mattpitkin commented on #1469
@RuthAngus In the paper it's probably worth mentioning that the fitting uses the MCMC software `emcee`  to perform the fitting (with a reference) and therefore returns samples from the parameters' posterior probability distributions.

Related to this, is there any way to set what priors you can use for any of the fitted parameters?

[2019-05-26 07:04] mattpitkin commented on #1469
@RuthAngus are there any plans to add a test suite and continuous integration to the package? I don't think this is a requirement for software that is published in JOSS (@arfon?), but it would be nice and might be useful for future development?

[2019-05-26 07:05] mattpitkin commented on #1469
@RuthAngus @arfon Once the above questions have been answered I'm happy to sign this off as reviewed.

[2019-05-26 10:54] letmaik commented on #1468
@arfon Makes sense. Our project strictly follows the WRF version numbers to avoid confusion. The next version therefore would be WRF-CMake 4.1. For the purpose of reviewing, there is no difference between WRF-CMake 4.0.3 and 4.1 (except the addition of [continuous integration](https://github.com/WRF-CMake/WRF/tree/wrf-cmake/.ci) via [Azure Pipelines](https://dev.azure.com/WRF-CMake/WRF/_build/resu

[2019-05-26 12:50] arfon commented on #1468
👍 sounds good to me.

[2019-05-26 12:54] arfon commented on #1469
The [JOSS guidelines on testing](https://joss.readthedocs.io/en/latest/review_criteria.html#tests) require at _least_ the following:

We definitely prefer automated tests (ideally hooked up to Travis/Circle CI etc too) but don't require them. It is required though that there are documented procedures that the reviewer can follow to _objectively_ check that the software is doing what is expected.

[2019-05-26 13:06] danielskatz commented on #1477
👋 @ikuyamada - Did you also withdraw the paper and then submit a new version?

[2019-05-26 13:06] whedon opened #1479 "[PRE REVIEW]: Wikipedia2Vec: An Optimized Tool for Learning Embeddings of Words and Entities from Wikipedia"
**Submitting author:** @ikuyamada (<a href="http://orcid.org/0000-0002-7980-7661">Ikuya Yamada</a>)
**Repository:** <a href="https://github.com/wikipedia2vec/wikipedia2vec" target ="_blank">https://github.com/wikipedia2vec/wikipedia2vec</a>
**Version:** v1.0.3
**Editor:** @usethedata
**Reviewers:** @ionlights

**Author instructions**

Thanks for submitting your paper to JOSS @ikuyamada. **Currentl

[2019-05-26 13:06] whedon commented on #1479
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-05-26 13:06] whedon commented on #1479
[code]

[2019-05-26 13:06] whedon commented on #1479
PDF failed to compile for issue #1479 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1479 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-379fcd917139/lib/whedo

[2019-05-26 13:11] danielskatz commented on #1479
@whedon generate pdf

[2019-05-26 13:11] whedon commented on #1479
[code]

[2019-05-26 13:12] whedon commented on #1479
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01479/joss.01479/10.21105.joss.01479.pdf)

[2019-05-26 13:13] danielskatz commented on #1479
👋  @ikuyamada - what's going on between https://github.com/openjournals/joss-reviews/issues/1477 and this submission?

[2019-05-26 13:21] ikuyamada commented on #1479
@danielskatz Thank you for your comments and I am sorry to bother you. I mistakenly withdrew the previous paper. It would be appreciated if we can proceed based on this submission.

[2019-05-26 13:28] nproellochs commented on #1087
Thank you again @kbenoit  & @terrytangyuan for reviewing the package. As part of the revision, I have addressed the checklist issues as follows:

I added a tagged GitHub release matching the CRAN version (v1.0.4).

I have significantly improved the package documentation. In addition, the vignette now contains two working examples (adapted from Sutton (1998)) with code executions and detailed expla

[2019-05-26 13:29] nproellochs commented on #1087
@whedon generate pdf

[2019-05-26 13:29] whedon commented on #1087
[code]

[2019-05-26 13:29] whedon commented on #1087
PDF failed to compile for issue #1087 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-379fcd917139/lib/whedon.rb:115:in `check_fields': Paper YAML header is missing expected fields: authors, affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-379fcd917139/lib/whedon.rb:80:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/

[2019-05-26 13:32] nproellochs commented on #1087
@whedon generate pdf

[2019-05-26 13:32] whedon commented on #1087
[code]

[2019-05-26 13:33] whedon commented on #1087
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01087/joss.01087/10.21105.joss.01087.pdf)

[2019-05-26 14:02] danielskatz commented on #1477
note that this version has been withdrawn - see #1479 instead

[2019-05-26 14:02] #1477 closed

[2019-05-26 14:02] danielskatz commented on #1479
👋 @usethedata - would you also be willing to edit this submission?

[2019-05-26 16:05] jasonclark commented on #1415
Hi, @katrinekirkeby. Things look in order. I'm going to look for an editor and copy you. Thanks for the submission!

[2019-05-26 16:19] jasonclark commented on #1415
Hi, @kellieotto. Would you be able to review the [tcherry](https://github.com/nvihrs14/tcherry) software in the next couple of weeks? Let me know when you have the chance. Thanks so much for considering.

cc @katrinekirkeby

[2019-05-26 16:27] jasonclark commented on #1415
@katrinekirkeby I did see that the description, topics, and website are empty. Could you add some info there? Topics will help with searching/discoverability. An abridged description from the README will help introduce the software. If you don't have a website, no worries. The other two bits of info will provide the context as someone lands on the repo homepage. Thanks!

[2019-05-26 17:16] wojciech-n commented on #1327
@whedon generate pdf

[2019-05-26 17:16] whedon commented on #1327
[code]

[2019-05-26 17:16] whedon commented on #1327
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01327/joss.01327/10.21105.joss.01327.pdf)

[2019-05-26 17:24] wojciech-n commented on #1327
Dear Editor @labarba, please excuse me such a delay, I just wanted to prepare the revision properly.

Dear Reviewers, @lucydot and @mkhorton, thank you for your time spent for reviewing my software. I am so glad that there were things you liked about the package. I revised documentation and the package as v1.0.2. I tried to take into account all of your notes. Hope I did not miss anything and this

[2019-05-26 18:54] arfon commented on #1087
Thanks for the update @nproellochs. @terrytangyuan @kbenoit - could you take a look at the updated paper ☝️and let me know if this satisfies your concerns about the usefulness of this software given both of your concerns about performance?

As a reminder, our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements) state that:

From my perspective, i

[2019-05-26 20:45] mattpitkin commented on #1469
@arfon there is a very nice example and tutorial of using the code, but I think from what you say this may not quite be enough. As the code is doing stochastic sampling, the example given won't necessarily produce identical results each time.

@RuthAngus here's what I'd suggest by way of a test, which may be useful. First, make the `star` class, or its `run_mcmc()` method accept a random state var

[2019-05-26 20:48] kellieotto commented on #1415
@jasonclark yes, I'd be happy to review.

[2019-05-27 07:07] csoneson commented on #1407
👋 @IbrahimTanyalcin - any updates on the revisions?

[2019-05-27 08:11] IbrahimTanyalcin commented on #1407
:wave:  @csoneson - I finished almost adding it to MutaFrame. I was thinking of adding Web Component based constructor to it, however it might be far fetched. I'll only push what has been requested by tomorrow:
- Selenocysteine
- Support for clustal.wl
- Doc updates
I'll send a notification when I'm finished

[2019-05-27 10:07] timClicks commented on #1256
Statement of need from paper.md, l 32

[2019-05-27 10:09] timClicks commented on #1256
Installation was very easy, `TextWiller`'s dependencies were fully satisfied by installing the `devtools` library as recommended in the instructions.

[2019-05-27 10:10] timClicks commented on #1256
**Functionality documentation** provided by `TextWiller` is comprehensive with examples. All public functions appear to be documented in RMarkdown in the `/man` directory, as is conventional for R projects.

[2019-05-27 10:14] timClicks commented on #1256
**References** do not include any archival resources, so I have marked this as a pass.

[2019-05-27 10:15] timClicks commented on #1256
@whedon commands

[2019-05-27 10:15] whedon commented on #1256
Here are some things you can ask me to do:

[code]

[2019-05-27 10:18] timClicks commented on #1256
@mgymrek I believe that there are no community guidelines in the repository or any tests, either automated or manual.

I believe that the paper and the project meet the other criteria.

[2019-05-27 10:22] dandavies99 commented on #1361
Thanks both, that's great! @usethedata, should I create an archive on Zenodo?

[2019-05-27 10:34] tesch1 commented on #1446
Perhaps @leios, @vyasr, @mlxd, or @StewMH would be good?

[2019-05-27 11:51] annoviko commented on #1420
Hello, @arokem,
Sorry for delay, I have returned from business trip recently. I will finish review during this week.

[2019-05-27 13:25] Yury-Shevchenko commented on #1409
Dear Alex,
Thank you for your review and recognition of the merits of the multi-attribute decision builder.
To address your comments, I've added more information on how to open the task in Open Lab and lab.js in the documentation. Community guidelines have also been added.
As for your recommendation on wiki pages, this is definitely a good idea that I will follow in the future.
Concerning your com

[2019-05-27 13:45] danielskatz commented on #1446
👋  @leios, @vyasr, @mlxd, or @StewMH - would a couple of you be willing to review this for JOSS?  Or if not, would you have suggestions for others who might be good fits?

[2019-05-27 14:49] pdwaggoner commented on #1444
@whedon check DOIs

[2019-05-27 14:51] pdwaggoner commented on #1444
@whedon check references

[2019-05-27 14:51] whedon commented on #1444
[code]

[2019-05-27 14:51] whedon commented on #1444
[code]

[2019-05-27 14:54] pdwaggoner commented on #1444
Hi - Sorry for the delay. Overall, this looks really good! Here are a few comments for things I think should be addressed/fixed:

1. The license on the main repo (Apache 2.0) doesn't match the license at the pkgdown "documentation" site (GPL-3 -- https://mi2datalab.github.io/modelDown/). Both are acceptable by OSI, but I would clarify and fix.

2. Installation instructions are included in the vign

[2019-05-27 15:53] alexpghayes commented on #947
@peterjwatkins If you don't have real world data sets to use in tests, you can simulate fake data and use the fake data to confirm that calculations are correct.

@labarba Do I make an accept / reject recommendation at some point or just evaluate if the review checklist items have been completed?

[2019-05-27 16:06] vc1492a commented on #1458
**Overview**: Overall, I think the author(s) did a good job on the software and in providing examples and documentation in order to get started easily. The software is easy to use and I think addresses the needs of the audience as well. While I would have liked to see more refinement in the code base prior to consideration for publication in JOSS (e.g. matching and clear format for version numbers

[2019-05-27 16:08] vc1492a commented on #1458
@cMadan I have provided a view of `webweb` above - I'll be happy to review the software again once some of the above items have been addressed. In the meantime, please let me know if I can assist in any other way. Thanks!

[2019-05-27 17:20] celliern commented on #1356
Hello @Kevin-Mattheus-Moerman !

I have fixed the typo you noticed, and updated the master branch to the repo. Is there anything left I can do?

[2019-05-27 18:05] karthik commented on #785
@whedon check references

[2019-05-27 18:05] whedon commented on #785
[code]

[2019-05-27 18:05] whedon commented on #785
[code]

[2019-05-27 18:06] karthik commented on #785
@flor14 Great! Now can you archive your software on Zenodo and share a DOI here please?

[2019-05-27 20:05] labarba commented on #947
@alexpghayes Once you are satisfied with the author's responses or code modifications, we do ask that you state here that you recommend publication. Thanks!

[2019-05-27 20:56] Kevin-Mattheus-Moerman commented on #1356
@celliern no thank for alerting me. I'll run a few check and will let you know if anything needs to be done

[2019-05-27 20:56] Kevin-Mattheus-Moerman commented on #1356
@whedon generate pdf

[2019-05-27 20:56] whedon commented on #1356
[code]

[2019-05-27 20:57] whedon commented on #1356
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01356/joss.01356/10.21105.joss.01356.pdf)

[2019-05-27 20:58] Kevin-Mattheus-Moerman commented on #1356
@whedon check references

[2019-05-27 20:58] whedon commented on #1356
[code]

[2019-05-27 20:58] whedon commented on #1356
[code]

[2019-05-27 21:50] Kevin-Mattheus-Moerman commented on #1356
@celliern below are suggested changes to your paper. I tried to improve the language, rephrase some difficult sentences, and fixed several typos. Can you please check it thoroughly to make sure I did not misunderstand/break what you tried to say in some of your sentences. If you agree with these changes please paste them into your paper.md file.
I also suggest you add a sentence to the last paragr

[2019-05-27 22:53] marouenbg commented on #1363
@whedon check references

[2019-05-27 22:53] whedon commented on #1363
[code]

[2019-05-27 22:54] whedon commented on #1363
[code]

[2019-05-27 23:02] marouenbg commented on #1363
@whedon check references

[2019-05-27 23:02] whedon commented on #1363
[code]

[2019-05-27 23:02] whedon commented on #1363
[code]

[2019-05-27 23:03] marouenbg commented on #1363
@whedon generate pdf

[2019-05-27 23:03] whedon commented on #1363
[code]

[2019-05-27 23:04] whedon commented on #1363
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01363/joss.01363/10.21105.joss.01363.pdf)

[2019-05-27 23:12] marouenbg commented on #1363
@whedon check references

[2019-05-27 23:12] whedon commented on #1363
[code]

[2019-05-27 23:12] whedon commented on #1363
[code]

[2019-05-27 23:13] marouenbg commented on #1363
@whedon generate pdf

[2019-05-27 23:13] whedon commented on #1363
[code]

[2019-05-27 23:13] whedon commented on #1363
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01363/joss.01363/10.21105.joss.01363.pdf)

[2019-05-27 23:18] marouenbg commented on #1363
@whedon generate pdf

[2019-05-27 23:18] whedon commented on #1363
[code]

[2019-05-27 23:18] whedon commented on #1363
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01363/joss.01363/10.21105.joss.01363.pdf)

[2019-05-27 23:22] marouenbg commented on #1363
@whedon generate pdf

[2019-05-27 23:22] whedon commented on #1363
[code]

[2019-05-27 23:23] whedon commented on #1363
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01363/joss.01363/10.21105.joss.01363.pdf)

[2019-05-27 23:26] marouenbg commented on #1363
@whedon generate pdf

[2019-05-27 23:26] whedon commented on #1363
[code]

[2019-05-27 23:26] whedon commented on #1363
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01363/joss.01363/10.21105.joss.01363.pdf)

[2019-05-27 23:28] marouenbg commented on #1363
Hi @lpantano I am all set. A math symbol did not compile in the final text, but it is working now. Thanks to all involved!

[2019-05-27 23:49] StewMH commented on #1446
Hi Dan, Michael,

I'd be happy to review it.

Cheers,
Stewart

[2019-05-28 00:30] marouenbg commented on #1363
@whedon generate pdf

[2019-05-28 00:30] whedon commented on #1363
[code]

[2019-05-28 00:31] whedon commented on #1363
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01363/joss.01363/10.21105.joss.01363.pdf)

[2019-05-28 00:53] marouenbg commented on #1363
@whedon generate pdf

[2019-05-28 00:53] whedon commented on #1363
[code]

[2019-05-28 00:54] whedon commented on #1363
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01363/joss.01363/10.21105.joss.01363.pdf)

[2019-05-28 01:40] acolum commented on #1279
@nelsonroque After more thought, I've realized that including the example in my comment wouldn't be necessary given all of the other detailed documentation you've included.

Overall, I really liked all of the changes you've recently made to your package, documentation, and paper. With these improvements, I was able to check off everything on my review list and am recommending this paper for public

[2019-05-28 02:26] danielskatz commented on #1446
Thanks @StewMH - as soon as we get one more reviewer, we will start the actual review.

[2019-05-28 02:26] danielskatz commented on #1446
@whedon assign @StewMH as reviewer

[2019-05-28 02:26] whedon commented on #1446
OK, the reviewer is @StewMH

[2019-05-28 04:30] marouenbg commented on #1363
@whedon generate pdf

[2019-05-28 04:30] whedon commented on #1363
[code]

[2019-05-28 04:31] whedon commented on #1363
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01363/joss.01363/10.21105.joss.01363.pdf)

[2019-05-28 04:42] marouenbg commented on #1363
@whedon generate pdf

[2019-05-28 04:42] whedon commented on #1363
[code]

[2019-05-28 04:43] whedon commented on #1363
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01363/joss.01363/10.21105.joss.01363.pdf)

[2019-05-28 04:58] ixjlyons commented on #1448
My review:

labjack-controller is a Python library which aims to hide some of the low-level details of collecting data from a LabJack device. The interface is well thought-out and the documentation contains enough information to get started and make full use of the library. The code is very clean and seems to be written well with good error handling (and nice use of type hints!). The paper present

[2019-05-28 05:11] marouenbg commented on #1363
@whedon generate pdf

[2019-05-28 05:11] whedon commented on #1363
[code]

[2019-05-28 05:11] whedon commented on #1363
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01363/joss.01363/10.21105.joss.01363.pdf)

[2019-05-28 08:20] Kevin-Mattheus-Moerman commented on #1356
@mrava87, @poulson thanks for reviewing this submission! :tada:

@mrava87 are you able to tick those last boxes?

[2019-05-28 08:52] aj2duncan commented on #1279
Thanks for making all those changes @nelsonroque. I agree entirely with @acolum and I can now too recommend this for publication.

[2019-05-28 09:18] mlxd commented on #1446
Sorry @tesch1 @danielskatz , don't think that I will have time for the coming 3 weeks.
If things haven't moved forward by then, I'll be happy to jump in.

[2019-05-28 09:26] xuanxu commented on #1279
Thank you @acolum and @aj2duncan!

[2019-05-28 09:27] xuanxu commented on #1279
@whedon generate pdf

[2019-05-28 09:27] whedon commented on #1279
[code]

[2019-05-28 09:28] whedon commented on #1279
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01279/joss.01279/10.21105.joss.01279.pdf)

[2019-05-28 09:28] xuanxu commented on #1279
@whedon check references

[2019-05-28 09:28] whedon commented on #1279
[code]

[2019-05-28 09:29] whedon commented on #1279
[code]

[2019-05-28 10:00] mrava87 commented on #1356
Done, thanks @Kevin-Mattheus-Moerman for assisting us in the process and congrats  @celliern

[2019-05-28 10:04] xuanxu commented on #1279
@nelsonroque Some needed minor changes an typos I found in the compiled pdf:

* In the **Statement of need** section: I think this sentence need rewording to make it clearer:
` In raw, form the 2.5 quintillion bytes of raw data generated daily are difficult to interpret -- noisy time-series`
* The Zenodo archive will be linked on the first page of the paper, so we ask that you don't add an additio

[2019-05-28 10:09] u01ai11 commented on #1409
Dear Yury,

Thanks for making the changes I suggested. I have now been able to tick off all the boxes (other than the testing box) and as far as I am concerned, I would be pleased for it to be accepted in the current form.

Also, thanks for addressing my comment, it was more a point of thought rather than a criticism of the submission -- as I said before, I think this software will be very helpful

[2019-05-28 10:09] u01ai11 commented on #1409
@whedon set v1.0 as version

[2019-05-28 10:09] whedon commented on #1409
I'm sorry @u01ai11, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-05-28 10:10] u01ai11 commented on #1409
I think this needs to be done, as the repo release was created!

[2019-05-28 12:08] danielskatz commented on #1446
Thanks @mlxd - let's see if we can find someone else in this case

[2019-05-28 12:15] flor14 commented on #785
Here is the DOI number: 10.5281/zenodo.3233033

El lun., 27 may. 2019 a las 15:06, Karthik Ram (<notifications@github.com>)
escribió:

[2019-05-28 13:20] lpantano commented on #1363
@whedon set  0.2 as version

[2019-05-28 13:20] whedon commented on #1363
OK.  0.2 is the version.

[2019-05-28 13:20] lpantano commented on #1363
@whedon set v0.2 as version

[2019-05-28 13:20] whedon commented on #1363
OK. v0.2 is the version.

[2019-05-28 13:21] lpantano commented on #1363
hi @marouenbg ,

thanks for the changes. Can you create now a zenodo archive and give me the DOI, after that we can proceed with the aceptance. Remember that the title and authors should match the paper information.

Thanks!

[2019-05-28 13:24] marouenbg commented on #1363
Hi @lpantano ,
here is the zenodo archive https://zenodo.org/record/3233085#.XO02GNNKii4
DOI/10.5281/zenodo.3233085

[2019-05-28 13:26] lpantano commented on #1363
@whedon set 10.5281/zenodo.3233085 as archive

[2019-05-28 13:27] lpantano commented on #1363
Hi @openjournals/joss-eics,

I think this is complete!

[2019-05-28 14:21] lucydot commented on #1327
Hello @wojciech-n,
Thanks for your clear response to the reviews. I've ticked off all the boxes and am happy to recommend for acceptance but have two minor comments:
- The post-installation testing worked well for me and it is nice and straight forward to use. In the documentation I would mention that the second command `from basicsums.tests import test...` is done from the python prompt (switchin

[2019-05-28 15:00] steven-murray commented on #1397
Yes, that seems right, I've merged it, thanks!

[2019-05-28 15:37] lheagy commented on #1328
:wave: Just checking in @dvalters: were you able to get up and running? or would it be beneficial for @zhangning737 to set up a binder-demo?

[2019-05-28 16:02] Nyctanthous commented on #1448
@ixjlyons Thank you, you caught some things that totally slipped by me. All of the minor issues you mentioned should be fixed in the next 24 hours or so.

Adding a callback as a kwarg is trivial; I'll look into a solution to make the realtime bit more accessible. Currently, realtime functionality requires parallel processing; the Labjack vomits data all over the place, as soon as you start streami

[2019-05-28 16:41] evcastelani commented on #1385
@whedon generate pdf from branch joss

[2019-05-28 16:41] whedon commented on #1385
[code]

[2019-05-28 16:42] whedon commented on #1385
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01385/joss.01385/10.21105.joss.01385.pdf)

[2019-05-28 17:36] medewitt commented on #1462
@whedon generate pdf

[2019-05-28 17:37] whedon commented on #1462
[code]

[2019-05-28 17:37] whedon commented on #1462
PDF failed to compile for issue #1462 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1462 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-379fcd917139/lib/whedo

[2019-05-28 17:37] MLHale commented on #1476
@whedon generate pdf

[2019-05-28 17:37] whedon commented on #1476
[code]

[2019-05-28 17:38] whedon commented on #1476
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01476/joss.01476/10.21105.joss.01476.pdf)

[2019-05-28 18:23] karthik commented on #785
@whedon generate pdf

[2019-05-28 18:23] whedon commented on #785
[code]

[2019-05-28 18:23] whedon commented on #785
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00785/joss.00785/10.21105.joss.00785.pdf)

[2019-05-28 18:24] xuanxu commented on #1397
@whedon generate pdf

[2019-05-28 18:24] whedon commented on #1397
[code]

[2019-05-28 18:25] whedon commented on #1397
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01397/joss.01397/10.21105.joss.01397.pdf)

[2019-05-28 18:27] xuanxu commented on #1397
`The source code for hankel has been archived to Zenodo with the linked DOI: [@zenodo]`

The Zenodo archive will be linked on the first page of the paper, so we ask that you don't add an additional link in the text or references. Can you edit that citation out?

[2019-05-28 18:32] steven-murray commented on #1397
I have removed it now, thanks.

On Tue, May 28, 2019 at 11:27 AM Juanjo Bazán <notifications@github.com>
wrote:

--
Steven Murray,
Research Associate at
School of Earth and Space Exploration,
Arizona State University.

[2019-05-28 18:43] xuanxu commented on #1397
@whedon generate pdf

[2019-05-28 18:43] whedon commented on #1397
[code]

[2019-05-28 18:43] whedon commented on #1397
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01397/joss.01397/10.21105.joss.01397.pdf)

[2019-05-28 18:45] xuanxu commented on #1397
@whedon check references

[2019-05-28 18:45] whedon commented on #1397
[code]

[2019-05-28 18:46] whedon commented on #1397
[code]

[2019-05-28 18:47] karthik commented on #785
@whedon set 10.5281/zenodo.3233033 as archive

[2019-05-28 18:47] whedon commented on #785
OK. <a href="https://doi.org/10.5281/zenodo.3233033" target="_blank">10.5281/zenodo.3233033</a> is the archive.

[2019-05-28 18:47] karthik commented on #785
@whedon accept

[2019-05-28 18:48] whedon commented on #785
[code]

[2019-05-28 18:48] whedon commented on #785
[code]

[2019-05-28 18:48] whedon commented on #785
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/718

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/718, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-28 18:50] karthik commented on #785
This is ready @openjournals/joss-eics

[2019-05-28 18:53] karthik commented on #1428
Pinged Henrik directly on 5/28

[2019-05-28 19:19] kyleniemeyer commented on #1363
Hi @marouenbg, I just submitted two minor PRs for the paper and references; could you merge those and then we can rebuild the PDF?

[2019-05-28 19:22] flor14 commented on #785
A subindex is missing, also the format of the citation is not correct.
Can I change it or is late?

El mar., 28 may. 2019 a las 15:23, whedon (<notifications@github.com>)
escribió:

[2019-05-28 19:23] kyleniemeyer commented on #785
@flor14 please go ahead and make any changes to the paper

[2019-05-28 19:23] kyleniemeyer commented on #1363
@whedon generate pdf

[2019-05-28 19:23] whedon commented on #1363
[code]

[2019-05-28 19:23] marouenbg commented on #1363
Done! Thanks @kyleniemeyer for spotting them out.

[2019-05-28 19:24] whedon commented on #1363
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01363/joss.01363/10.21105.joss.01363.pdf)

[2019-05-28 19:25] Kevin-Mattheus-Moerman commented on #1012
@dahtah :wave: :point_up:

[2019-05-28 19:26] kyleniemeyer commented on #1363
@whedon check references

[2019-05-28 19:26] whedon commented on #1363
[code]

[2019-05-28 19:26] whedon commented on #1363
[code]

[2019-05-28 19:26] kyleniemeyer commented on #1363
@whedon accept

[2019-05-28 19:26] whedon commented on #1363
[code]

[2019-05-28 19:27] whedon commented on #1363
[code]

[2019-05-28 19:27] whedon commented on #1363
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/719

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/719, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-28 19:29] lpantano commented on #1363
Do the last changes change the Zenode DOI or/and version?

[2019-05-28 19:36] kyleniemeyer commented on #1363
@lpantano they were only minor changes to the paper, which we archive, so I wasn't worried about updating the Zenodo record

[2019-05-28 19:49] kyleniemeyer commented on #1363
@whedon accept deposit=true

[2019-05-28 19:49] whedon commented on #1363
[code]

[2019-05-28 19:49] whedon commented on #1363
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1133460389818183681) 👈 🐦🐦🐦

[2019-05-28 19:49] whedon commented on #1363
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/720
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01363](https://doi.org/10.21105/joss.01363)
2. If everything looks go

[2019-05-28 19:52] kyleniemeyer commented on #1363
Congrats @marouenbg on your paper's publication in JOSS! Thanks also to @wmegchel and @prasunanand for reviewing, and @lpantano for editing!

[2019-05-28 19:52] #1363 closed

[2019-05-28 19:53] whedon commented on #1363
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01363/status.svg)](https://doi.org/10.21105/joss.01363)

**We need your help!**

Journal of Open Source Softwar

[2019-05-28 20:34] HenrikBengtsson commented on #1428
Sorry, I won't have the time to review this one any time soon, especially since I don't have access to a Slurm environment.  I think whoever reviews this should be able to test it and play with it using Slurm.  On a related note (request to the community), a Linux container with R and Slurm pre-configured would be useful (I would be interested in that outside of this submission).

My suggestion fo

[2019-05-28 20:48] xuanxu commented on #1397
It is still in the paper and bib files, maybe forgot to push?

[2019-05-28 20:53] xuanxu commented on #1397
From the summary:
In this single sentence:

`Highly oscillatory integrals are a topic of much interest in applied mathematics, and there does not exist a general optimal solution to numerically evaluate them double-exponential variable transformation based on the zeros of the Bessel function [@Ooura1999] has the property that the numerical integral converges with many fewer divisions compared to n

[2019-05-28 20:54] matbesancon commented on #1385
@labarba @poulson my review is done, after the revisions made to the package and paper I recommend its acceptance for JOSS. It's a great package and the paper explains it well

[2019-05-28 21:05] mschubert commented on #1428
I'd be happy to review this.<sup>1</sup>

However, could the editors please confirm that the advantages listed in the article (fewer dependencies, slightly different API) are sufficient as per JOSS guidelines?

<sup>1</sup> COI: author of package with similar functionality

[2019-05-28 21:18] steven-murray commented on #1397
Hmm, this seems to have been a line added in the wrong place in the
previous PR. Fixed now!

On Tue, May 28, 2019 at 1:53 PM Juanjo Bazán <notifications@github.com>
wrote:

--
Steven Murray,
Research Associate at
School of Earth and Space Exploration,
Arizona State University.

[2019-05-28 21:44] xuanxu commented on #1397
@whedon generate pdf

[2019-05-28 21:44] whedon commented on #1397
[code]

[2019-05-28 21:45] whedon commented on #1397
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01397/joss.01397/10.21105.joss.01397.pdf)

[2019-05-28 21:46] xuanxu commented on #1397
@whedon check references

[2019-05-28 21:46] whedon commented on #1397
[code]

[2019-05-28 21:46] whedon commented on #1397
[code]

[2019-05-28 21:59] xuanxu commented on #1397
Thanks @steven-murray, the paper looks ok to me now.

Please release a new version. It will include all the changes made during the review.
Then create a Zenodo archive of it and report the DOI here (make sure to edit the metadata so title and author are the same as in the paper).

[2019-05-29 00:37] flor14 commented on #785
Can you build it again, please?

El mar., 28 may. 2019 a las 16:23, Kyle Niemeyer (<notifications@github.com>)
escribió:

[2019-05-29 02:30] karthik commented on #785
@whedon generate pdf

[2019-05-29 02:30] whedon commented on #785
[code]

[2019-05-29 02:31] whedon commented on #785
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00785/joss.00785/10.21105.joss.00785.pdf)

[2019-05-29 05:48] jasonclark commented on #1415
@kellieotto Thanks for your willingness to review. I'll assign you and set up the review thread.

[2019-05-29 05:48] jasonclark commented on #1415
@whedon assign @kellieotto as reviewer

[2019-05-29 05:48] whedon commented on #1415
OK, the reviewer is @kellieotto

[2019-05-29 05:51] jasonclark commented on #1415
@whedon start review magic-word=bananas

[2019-05-29 05:51] whedon opened #1480 "[REVIEW]: tcherry: Learning the structure of tcherry trees"
**Submitting author:** @katrinekirkeby (<a href="http://orcid.org/0000-0001-6065-1583">Katrine Kirkeby</a>)
**Repository:** <a href="https://github.com/nvihrs14/tcherry" target ="_blank">https://github.com/nvihrs14/tcherry</a>
**Version:** 0.1.1
**Editor:** @jasonclark
**Reviewer:** @kellieotto, @dhhagan
**Archive:** <a href="https://doi.org/10.5281/zenodo.3340382" target="_blank">10.5281/zenodo.3

[2019-05-29 05:51] whedon commented on #1415
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1480. Feel free to close this issue now!

[2019-05-29 05:51] whedon commented on #1480
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kellieotto it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-05-29 05:51] whedon commented on #1480
[code]

[2019-05-29 05:51] whedon commented on #1480
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01480/joss.01480/10.21105.joss.01480.pdf)

[2019-05-29 05:53] jasonclark commented on #1415
@kellieotto The review is open at https://github.com/openjournals/joss-reviews/issues/1480. The checklist there gives you a framework to follow. If you have any questions, let me know. Thanks again for your time and expertise.

[2019-05-29 05:56] jasonclark commented on #1415
@katrinekirkeby I'm going to keep this issue open for a bit. I need you to add a description, some topics, and website information to the repo landing page. Once that is complete, I will close this pre-review issue. Thanks!

[2019-05-29 11:52] wlandau commented on #1428
I am willing to stay in the loop as a backup, but I am about to travel to a conference, so I would not be able to begin until next week. Also, the Slurm installation Henrik mentioned was experimental. It was all emulated on my local machine (including the one and only compute node) and I no longer currently have it.

[2019-05-29 12:14] mllg commented on #1428
I can also review this and test the package on multiple slurm systems.

[2019-05-29 12:17] lucask07 commented on #1448
This is a very nicely written software package and certainly fills a need. I'm a LabJack user and realize that the cost and ease of use (as compared to say, an NiDAQ) is great. Keep up the nice work!

### Review checkboxes that are yet to be ticked:

- **Community Guidelines** Missing a note on how to ask for support
- **References** in the paper are all cited as "n.d." This should be fixed someho

[2019-05-29 13:00] nelsonroque commented on #1279
@xuanxu thank you for your feedback. I've addressed points 1-3 and will be testing formatting of Figures 1 / 2  in generated pdf.

@whedon generate pdf

[2019-05-29 13:07] xuanxu commented on #1279
@whedon generate pdf

[2019-05-29 13:07] whedon commented on #1279
[code]

[2019-05-29 13:08] whedon commented on #1279
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01279/joss.01279/10.21105.joss.01279.pdf)

[2019-05-29 13:09] nelsonroque commented on #1279
@whedon generate pdf

[2019-05-29 13:09] whedon commented on #1279
[code]

[2019-05-29 13:10] whedon commented on #1279
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01279/joss.01279/10.21105.joss.01279.pdf)

[2019-05-29 13:13] nelsonroque commented on #1279
@xuanxu the figures are shifting to new locations, and not nesting under the heading as I have it in syntax, see below. Should I place Figures heading after Acknowledgements heading?

[code]

[2019-05-29 13:45] nelsonroque commented on #1279
@whedon generate pdf

[2019-05-29 13:46] whedon commented on #1279
[code]

[2019-05-29 13:46] whedon commented on #1279
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01279/joss.01279/10.21105.joss.01279.pdf)

[2019-05-29 13:58] xuanxu commented on #1279
I don't know why that's happening.
Maybe the image is relocated if there is not enough space left in that page? :thinking:

[2019-05-29 14:01] nelsonroque commented on #1279
Thank you! I think it is fixed now -- the latest proof places figures centered on a single page and doesn't break up other sections.

[2019-05-29 15:04] tgeijten commented on #1421
@Kevin-Mattheus-Moerman do I need finish all suggested documentation updates first or can we proceed with the publication?

[2019-05-29 15:53] kyleniemeyer commented on #785
@flor14 thanks! I will make the final checks on your submission later today.

[2019-05-29 15:55] kyleniemeyer commented on #1415
@jasonclark can you try to find a second reviewer for the submission? We prefer to have at least two (even though JOSS hasn't consistently applied that expectation up until now). If it is very challenging to find another reviewer, then it's ok for the editor to serve as the second reviewer. Thanks!

[2019-05-29 16:05] rheiland commented on #1408
Please let us know if there are other issues that need addressed @lheagy and @choldgraf .

[2019-05-29 16:50] flor14 commented on #785
I made a new change. I realize subscripts should be included also as a
formula with $. Hope it works.

El mié., 29 may. 2019 a las 12:53, Kyle Niemeyer (<notifications@github.com>)
escribió:

[2019-05-29 17:15] evcastelani commented on #1385
@whedon generate pdf from branch joss

[2019-05-29 17:15] whedon commented on #1385
[code]

[2019-05-29 17:15] whedon commented on #1385
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01385/joss.01385/10.21105.joss.01385.pdf)

[2019-05-29 17:23] abelsiqueira commented on #1385
@labarba @poulson my review is also done, and I also recommend acceptance. The version number above, v0.4.1, has changed to v0.6.0. Otherwise, I'm good to go. Nice paper, @evcastelani and @fsobral.

[2019-05-29 17:42] arfon commented on #1393
:wave: @Cadair - did you manage to complete your review yet?

[2019-05-29 19:04] kadambarid commented on #1378
Thank you for your patience.
We would like to suggest @ethanwhite and @deniederhut from the reviewer list.

[2019-05-29 19:34] kyleniemeyer commented on #785
@whedon generate pdf

[2019-05-29 19:34] whedon commented on #785
[code]

[2019-05-29 19:34] whedon commented on #785
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00785/joss.00785/10.21105.joss.00785.pdf)

[2019-05-29 19:40] kyleniemeyer commented on #785
Hi @flor14, could you add full affiliation information as in a typical article (e.g., department, city, country)?

Also, I made a small PR to fix a few things, if you could accept and merge that: https://github.com/flor14/shinyssd/pull/9

[2019-05-29 19:41] ethanwhite commented on #1378
Cool idea - unfortunately I'm not available to review in the near future.

[2019-05-29 20:44] tweed1e commented on #1462
@whedon commands

[2019-05-29 20:44] whedon commented on #1462
Here are some things you can ask me to do:

[code]

[2019-05-29 21:06] fsobral commented on #1385
@whedon commands

[2019-05-29 21:06] whedon commented on #1385
Here are some things you can ask me to do:

[code]

[2019-05-29 21:08] fsobral commented on #1385
Thanks @abelsiqueira and @matbesancon for the careful reading of the manuscript and for the suggestions to the software! It was greatly improved.

Regarding the version, I don't know how to change it...

[2019-05-29 21:27] cMadan commented on #1476
@danielskatz, sure, I can edit this. Will need to see how easily I can find a reviewer that has the requisite hardware though.

@MLHale, do you have any suggestions for reviewers, in particular those who would have the necessary hardware?

[2019-05-29 21:27] flor14 commented on #785
I improved what you mentioned. If citations are ok, and subscripts are
correct in the second paragraph: " HC1, HC5 and HC10"  for me it is ready.
Maybe citations could be more detailed in the author's guidelines?
Mentioning the 3 main cases:
1- @author:2001  ->   author et al. (2001)
2- [@author:2001] -> (author et al. 2001)
3- [@author1:2001; @author2:2001]  -> (author1 et al. 2001; author2 et al

[2019-05-29 21:29] kyleniemeyer commented on #785
@flor14 yes, the citation documentation could be improved... I've had to fix this issue in a number of papers.

[2019-05-29 21:29] kyleniemeyer commented on #785
@whedon generate pdf

[2019-05-29 21:29] whedon commented on #785
[code]

[2019-05-29 21:29] whedon commented on #785
PDF failed to compile for issue #785 with the following error:

 Error producing PDF.
! Double subscript.
l.316 ...estimators \(HC_1\), \(HC_5\) and \(HC_1_

Looks like we failed to compile the PDF

[2019-05-29 21:32] kyleniemeyer commented on #785
@flor14 for the last subscript, I think you need to have `HC_{10}` (or however you need it styled)

[2019-05-29 21:35] flor14 commented on #785
I've changed subscripts to this now:  $HC_1$, $HC_5$ and $HC_{10}$
The problem seems the last one with 2 digits

El mié., 29 may. 2019 a las 18:29, whedon (<notifications@github.com>)
escribió:

[2019-05-29 21:35] kyleniemeyer commented on #785
@whedon generate pdf

[2019-05-29 21:35] whedon commented on #785
[code]

[2019-05-29 21:36] danielskatz commented on #1476
@whedon assign @cMadan as editor

[2019-05-29 21:36] whedon commented on #1476
OK, the editor is @cMadan

[2019-05-29 21:36] whedon commented on #785
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00785/joss.00785/10.21105.joss.00785.pdf)

[2019-05-29 21:37] kyleniemeyer commented on #785
@whedon accept

[2019-05-29 21:37] whedon commented on #785
[code]

[2019-05-29 21:37] whedon commented on #785
[code]

[2019-05-29 21:38] whedon commented on #785
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/721

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/721, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-29 21:41] kyleniemeyer commented on #785
@whedon accept deposit=true

[2019-05-29 21:41] whedon commented on #785
[code]

[2019-05-29 21:42] whedon commented on #785
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1133851035594891265) 👈 🐦🐦🐦

[2019-05-29 21:42] whedon commented on #785
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/722
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.00785](https://doi.org/10.21105/joss.00785)
2. If everything looks go

[2019-05-29 21:44] kyleniemeyer commented on #785
Congrats @flor14  on your submission's publication in JOSS! Thanks to @kylehamilton for reviewing and @karthik for editing!

[2019-05-29 21:44] #785 closed

[2019-05-29 21:44] whedon commented on #785
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00785/status.svg)](https://doi.org/10.21105/joss.00785)

**We need your help!**

Journal of Open Source Softwar

[2019-05-29 21:57] MLHale commented on #1476
@cMadan - I don't know of anyone specifically on GitHub except for @esdalmaijer - who created [PyOpenGaze](https://github.com/esdalmaijer/PyOpenGaze), which is one of the dependencies used in this project.

In the broader academic community - there are many authors who've written manuscripts involving gazepoint devices.

A few include:
Pujitha Mannaru - Department of Electrical and Computer Engine

[2019-05-29 22:10] RuthAngus commented on #1469
Hi @mattpitkin, thanks for these comments!

I have now fixed the Av bug in the tutorial and added emcee to the list of dependencies. Thanks for running through the tutorial! There is not currently any support for manually adjusting the priors, but that's a feature I'd love to add in future. Would you mind if I tabled this for the next version? The priors that I'm using are described in the appendi

[2019-05-29 22:13] RuthAngus commented on #1469
@whedon generate pdf

[2019-05-29 22:13] whedon commented on #1469
[code]

[2019-05-29 22:14] whedon commented on #1469
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01469/joss.01469/10.21105.joss.01469.pdf)

[2019-05-29 22:59] jlustigy commented on #1387
👋 @arfon and @danielskatz, for what it's worth, I think @lpueyo would make a great reviewer for this paper/code and I'm willing to wait until he has the time to complete it. But I also understand if JOSS policy favors an alternate reviewer.

[2019-05-30 02:23] peterjwatkins commented on #947
At present, I am developing test data for testing the calculations.

[2019-05-30 08:07] dahtah commented on #1012
Sorry for the delay, and thanks for reviewing this. Zenodo gave me the following DOI: 10.5281/zenodo.3235256. The archived version is 0.42

[2019-05-30 08:09] xuanxu commented on #1279
@nelsonroque Great! Next steps:
- After the 0.3.6 version there are almost 60 commits with changes made during the review process, can you release a new version of tsfeaturex?
- Then please make a Zenodo archive and report the DOI here

[2019-05-30 09:08] mattpitkin commented on #1469
@RuthAngus here are some replies inline.

Great, thanks. I think emcee is still missing in the installation requirements described in the README file, but otherwise its looking good.

Excellent. I'd missed that this test was there, but it looks like the sort of thing that is required. Adding instructions on how to run it with pytest would be very useful.

Great :smiley:

My suggestion of having a

[2019-05-30 09:14] VivianePons commented on #1351
@whedon set 1.1.4 as version

[2019-05-30 09:14] whedon commented on #1351
OK. 1.1.4 is the version.

[2019-05-30 09:43] VivianePons commented on #1351
I have a question for @arfon : the software license is CeCILL-C whereas the OSI accepted one is CeCILL-2.1. Is there a significant difference there, is this an issue at all?

[2019-05-30 09:46] VivianePons commented on #1351
@whedon check doi

[2019-05-30 09:47] VivianePons commented on #1351
@whedon check references

[2019-05-30 09:48] whedon commented on #1351
[code]

[2019-05-30 09:48] whedon commented on #1351
[code]

[2019-05-30 09:52] VivianePons commented on #1351
@RomainAzais could you please add the missing DOI?

[2019-05-30 10:00] VivianePons commented on #1351
@whedon remove @dvalters  as reviewer

[2019-05-30 10:01] whedon commented on #1351
OK, @dvalters  is no longer a reviewer

[2019-05-30 10:01] VivianePons commented on #1351
@whedon add @dvberkel as reviewer

[2019-05-30 10:01] whedon commented on #1351
OK, @dvberkel is now a reviewer

[2019-05-30 11:47] evcastelani commented on #1385
@abelsiqueira and @matbesancon, we appreciate the effort and time spent by you to help us improve this work. Sincerely, thank you very much for the corrections and suggestions.

[2019-05-30 12:42] danielskatz commented on #1446
👋 @poulson and @VivianePons - can you help with suggestions for a second reviewer for this submission?

[2019-05-30 13:14] emersodb commented on #1463
Not a super important issue, but when doing the pip install, the version number installed was emg3d-0.6.1 rather than 0.5.0 as indicated in the version. Should we be forcing an install of 0.5.0 for the review?

[2019-05-30 13:36] nelsonroque commented on #1279
@xuanxu thank you! I've released version 0.3.10 on Github and created a Zenodo archive:
DOI: 10.5281/zenodo.3235466

@aj2duncan @arfon @labarba thank you all for your feedback along this process!

[2019-05-30 13:51] xuanxu commented on #1279
@whedon set v.0.3.10 as version

[2019-05-30 13:51] whedon commented on #1279
OK. v.0.3.10 is the version.

[2019-05-30 13:52] xuanxu commented on #1279
@nelsonroque please edit the Zenodo archive metadata to match title and author list to match the paper (you can also add your orcid).

[2019-05-30 14:11] prisae commented on #1463
Since I submitted the manuscript I worked on it and released v0.6.0 and v0.6.1. I don't know what is the normal procedure in JOSS, if using the most recent version to final publication date or the version when it was submitted. Asking @jedbrown ?

[2019-05-30 14:33] jedbrown commented on #1463
It's typical to review the most recent release or maintenance/stable release. When revisions occur as a result of review (also typical) then the final archived version will be tagged post-review (could be v0.6.2, for example). Assuming you would like v0.6.1 to be reviewed, I'll update that now.

[2019-05-30 14:33] jedbrown commented on #1463
@whedon set v0.6.1 as version

[2019-05-30 14:33] whedon commented on #1463
OK. v0.6.1 is the version.

[2019-05-30 15:44] nelsonroque commented on #1279
@xuanxu I added a .zenodo.json to the root of the repo on Github with updated author / title -- but not seeing this information in the release on Zenodo (0.3.10). I will create a new release now that should have the updated info.

[2019-05-30 15:50] nelsonroque commented on #1279
@xuanxu here is what the .zenodo.json looks like -- not sure where I went wrong:
https://github.com/nelsonroque/tsfeaturex/compare/v.0.3.10...master

[2019-05-30 15:57] xuanxu commented on #1279
@nelsonroque You can edit the metadata (change title and authors) directly in the zenodo website

[2019-05-30 16:32] emersodb commented on #1463
A minor issue that I ran into while working through the 1c_3D_triaxial_SimPEG example is that, as I use pip as my python package manager, pymatsolver does not automatically include Pardiso since MKL is not packaged within pip distributions as it is in Anaconda. So I needed to do a pip install MKL before the example could be run using Pardiso

[2019-05-30 16:48] nelsonroque commented on #1279
@xuanxu sorry for the trouble -- I got it! https://zenodo.org/record/3235466#.XPAJHohKiUk

[2019-05-30 17:11] celliern commented on #1356
@Kevin-Mattheus-Moerman done for the paper modification ! Thanks @poulson and @mrava87  for the review and @Kevin-Mattheus-Moerman for the edition !

[2019-05-30 17:17] steven-murray commented on #1397
Thanks @xuanxu .

I'm not too familiar with Zenodo. I already have a zenodo entry for hankel (https://zenodo.org/record/1336792). It looks like I have three options: create a release, edit the version that's already there, or create a new version. It's not clear to me which path I should take. The latter two are giving me internal server errors at the moment...

[2019-05-30 17:27] emersodb commented on #1463
In the examples repository, it appears that the folder SEG-EAGE/' is missing from the data/ folder. Thus, when I try to run the 2a_SEG-EAGE_3D-Salt-Model.ipynb notebook, it yields that exception

FileNotFoundError: [Errno 2] No such file or directory: './data/SEG-EAGE/SALTF.ZIP'

[2019-05-30 17:43] prisae commented on #1463
- Data: Correct, you have to download the data. This is described in the notebook just above the cell that failed.
- pymatsolver: Good input! This is strictly speaking a problem with SimPEG, not with emg3d, but I will add a comment in this regard so the user knows why it is not working.

[2019-05-30 17:47] emersodb commented on #1463
Ah, apologies on the data-side. I missed that comment in the notebook!

[2019-05-30 18:31] xuanxu commented on #1397
@steven-murray I suggest you try these steps:
- Create a new release in Github: https://github.com/steven-murray/hankel/releases
- If Zenodo has enough permissions it should automatically upload the new zip file, otherwise it shuold be done manually: https://zenodo.org/account/settings/github/
- Edit the metadata of the new entry in Zenodo

[2019-05-30 18:42] xuanxu commented on #1279
No trouble at all

:tada:

[2019-05-30 18:42] xuanxu commented on #1279
@whedon set 10.5281/zenodo.3235466 as archive

[2019-05-30 18:42] whedon commented on #1279
OK. <a href="https://doi.org/10.5281/zenodo.3235466" target="_blank">10.5281/zenodo.3235466</a> is the archive.

[2019-05-30 18:45] xuanxu commented on #1279
This is ready!
Pinging EIC for publication: @openjournals/joss-eics

[2019-05-30 18:54] kyleniemeyer commented on #1279
@whedon generate pdf

[2019-05-30 18:54] whedon commented on #1279
[code]

[2019-05-30 18:54] whedon commented on #1279
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01279/joss.01279/10.21105.joss.01279.pdf)

[2019-05-30 18:57] prisae commented on #1463
No problem at all.

I just added the following sentence under requirements in the notebook `1c_3D_triaxial_SimPEG.ipynb`:
«Note, in order to use the `Pardiso`-solver `pymatsolver` has to be installed via `conda`, not via `pip`!»
Thanks for pointing that out!

[2019-05-30 19:08] Kevin-Mattheus-Moerman commented on #1356
@whedon generate pdf

[2019-05-30 19:08] whedon commented on #1356
[code]

[2019-05-30 19:08] whedon commented on #1356
PDF failed to compile for issue #1356 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-379fcd917139/lib/whedon.rb:114:in `check_fields': undefined method `keys' for #<String:0x0000000002d4f470> (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-379fcd917139/lib/whedon.rb:80:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-379

[2019-05-30 19:10] Kevin-Mattheus-Moerman commented on #1356
@arfon do you know what's going wrong here?

[2019-05-30 19:12] steven-murray commented on #1397
OK thanks very much. This is now done and at https://zenodo.org/record/3235680

[2019-05-30 19:20] kyleniemeyer commented on #1279
Hi @nelsonroque, just a few minor changes needed for the paper:

- Can you add full affiliation details (e.g., location) as you'd see in other journal articles?
- I submitted a small PR to fix some typographic issues in the paper, if you can merge that: https://github.com/nelsonroque/tsfeaturex/pull/2
- I also submitted a PR to the bib file to fix some things in there: https://github.com/nelsonroq

[2019-05-30 19:37] whedon opened #1481 "[PRE REVIEW]: `hopit`: An R Package for Analysis of Reporting Behavior Using Generalized Ordered Probit Models"
**Submitting author:** @MaciejDanko (<a href="http://orcid.org/0000-0002-7924-9022">Maciej J. Dańko</a>)
**Repository:** <a href="https://github.com/MaciejDanko/hopit" target ="_blank">https://github.com/MaciejDanko/hopit</a>
**Version:** 0.9.2.9000
**Editor:** @alexhanna
**Reviewers:** @soodoku, @mkearney

**Author instructions**

Thanks for submitting your paper to JOSS @MaciejDanko. **Currently

[2019-05-30 19:37] whedon commented on #1481
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-05-30 19:37] whedon commented on #1481
[code]

[2019-05-30 19:37] whedon commented on #1481
PDF failed to compile for issue #1481 with the following error:

 Error producing PDF.
! LaTeX Error: File `float.sty' not found.

Type X to quit or <RETURN> to proceed,
or enter new name. (Default extension: sty)

Enter file name:
! Emergency stop.
<read *>

l.253 ^^M

Looks like we failed to compile the PDF

[2019-05-30 19:37] kyleniemeyer commented on #1481
Hi @alexhanna, this submission looks up your alley. Do you have the bandwidth to edit this submission?

[2019-05-30 19:41] kyleniemeyer commented on #1481
Hi @MaciejDanko, our automated system is having some trouble compiling your paper—I think it is the (attempted) inclusion of the `float` package, and then using the LaTeX figure commands in the Markdown paper. Can you instead try to use Markdown figure commands?

@arfon, can you comment on whether this *should* be possible? I know we have been working on supporting fully LaTeX-based submissions, i

[2019-05-30 19:43] whedon opened #1482 "[PRE REVIEW]: citesdb: A high-performance database of shipment-level CITES trade data"
**Submitting author:** @noamross (<a href="http://orcid.org/0000-0002-2136-0000">Noam Ross</a>)
**Repository:** <a href="https://github.com/ropensci/citesdb" target ="_blank">https://github.com/ropensci/citesdb</a>
**Version:** 0.2.0
**Editor:** @kyleniemeyer
**Reviewers:** @kyleniemeyer

**Author instructions**

Thanks for submitting your paper to JOSS @noamross. **Currently, there isn't an JOSS

[2019-05-30 19:43] whedon commented on #1482
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-05-30 19:43] whedon commented on #1482
[code]

[2019-05-30 19:43] whedon commented on #1482
PDF failed to compile for issue #1482 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1482/inst/paper.md): did not find expected key while parsing a block mapping at line 2 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from

[2019-05-30 19:43] kyleniemeyer commented on #1482
Hi @yochannah, could you edit this submission?

[2019-05-30 19:58] noamross commented on #1482
I note that this submission has passed peer-review at rOpenSci: https://github.com/ropensci/software-review/issues/292

[2019-05-30 20:02] xuanxu commented on #1397
@whedon set v0.3.9 as version

[2019-05-30 20:02] whedon commented on #1397
OK. v0.3.9 is the version.

[2019-05-30 20:03] danielskatz commented on #1482
Thanks - this means the process for @kyleniemeyer is much simpler: https://joss.readthedocs.io/en/latest/editing.html#processing-of-ropensci-reviewed-and-accepted-submissions

[2019-05-30 20:09] xuanxu commented on #1397
@steven-murray great! Please edit the title to match the paper:
`hankel: A Python library for performing simple and accurate Hankel transformations`
You can do so here: https://zenodo.org/deposit/3235680

[2019-05-30 20:18] arfon commented on #1356
@Kevin-Mattheus-Moerman - it looks like the paper isn't structured for JOSS properly https://gitlab.com/celliern/scikit-fdiff/blob/master/paper.md

See https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography on how the paper should be structured.

[2019-05-30 20:18] Kevin-Mattheus-Moerman commented on #1356
@celliern the paper is not being generated because you deleted this from the top, please put it back:

[code]

[2019-05-30 20:20] arfon commented on #1481
If possible, we strongly prefer people to use standard Markdown syntax here for including figures.

e.g. `Figures can be included like this: ![Example figure.](figure.png)`

[2019-05-30 20:41] Kevin-Mattheus-Moerman commented on #1356
@celliern In relation to the paper, I created a merge request here with proposed changes to the paper: https://gitlab.com/celliern/scikit-fdiff/merge_requests/3 can you check that out?

As you can see I also added an **Acknowledgement**, and a **Reference** heading. The References will be added automatically but you need to add text for the acknowledgements.

[2019-05-30 22:00] kyleniemeyer commented on #1482
Great, thanks both! @yochannah, nvm!

[2019-05-30 22:00] kyleniemeyer commented on #1482
@whedon assign @kyleniemeyer as editor

[2019-05-30 22:00] whedon commented on #1482
OK, the editor is @kyleniemeyer

[2019-05-30 22:12] kyleniemeyer commented on #1482
@whedon assign @kyleniemeyer as reviewer

[2019-05-30 22:12] whedon commented on #1482
OK, the reviewer is @kyleniemeyer

[2019-05-30 22:12] kyleniemeyer commented on #1482
@whedon start review magic-word=bananas

[2019-05-30 22:12] whedon opened #1483 "[REVIEW]: citesdb: A high-performance database of shipment-level CITES trade data"
**Submitting author:** @noamross (<a href="http://orcid.org/0000-0002-2136-0000">Noam Ross</a>)
**Repository:** <a href="https://github.com/ropensci/citesdb" target ="_blank">https://github.com/ropensci/citesdb</a>
**Version:** 0.2.0
**Editor:** @kyleniemeyer
**Reviewer:** @kyleniemeyer
**Archive:** <a href="https://doi.org/10.5281/zenodo.3234871" target="_blank">10.5281/zenodo.3234871</a>

## Sta

[2019-05-30 22:12] whedon commented on #1482
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1483. Feel free to close this issue now!

[2019-05-30 22:12] whedon commented on #1483
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kyleniemeyer it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2019-05-30 22:12] whedon commented on #1483
[code]

[2019-05-30 22:13] whedon commented on #1483
PDF failed to compile for issue #1483 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1483/inst/paper.md): did not find expected key while parsing a block mapping at line 2 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from

[2019-05-30 22:13] #1482 closed

[2019-05-30 22:27] nelsonroque commented on #1279
Hi @kyleniemeyer absolutely, all changes have been made!

[2019-05-30 22:36] whedon opened #1484 "[PRE REVIEW]: Delira: A High-Level Framework for Deep Learning in Medical Image Analysis"
**Submitting author:** @haarburger (<a href="http://orcid.org/0000-0002-2405-640X">Christoph Haarburger</a>)
**Repository:** <a href="https://github.com/justusschock/delira" target ="_blank">https://github.com/justusschock/delira</a>
**Version:** v0.3.2
**Editor:** @mbobra
**Reviewers:** @PingjunChen, @acolum

**Author instructions**

Thanks for submitting your paper to JOSS @haarburger. **Current

[2019-05-30 22:36] whedon commented on #1484
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-05-30 22:36] whedon commented on #1484
[code]

[2019-05-30 22:36] whedon commented on #1484
PDF failed to compile for issue #1484 with the following error:

 Can't find any papers to compile :-(

[2019-05-30 22:38] kyleniemeyer commented on #1484
Hi @haarburger, our build system can't find your paper (neither can I). Did you prepare a paper according to [our author guidelines](https://joss.readthedocs.io/en/latest/submitting.html)?

[2019-05-30 22:39] kyleniemeyer commented on #1279
@whedon generate pdf

[2019-05-30 22:39] whedon commented on #1279
[code]

[2019-05-30 22:39] whedon commented on #1279
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01279/joss.01279/10.21105.joss.01279.pdf)

[2019-05-30 22:41] kyleniemeyer commented on #1279
@nelsonroque it look like the affiliation info is still not quite complete—really I'm just looking for city, state, country (like what'd you'd typically see following department/center and university)

[2019-05-30 22:42] kyleniemeyer commented on #1483
@noamross it looks like there is an issue with the YAML header in the paper preventing compilation

[2019-05-31 00:00] RuthAngus commented on #1469
@mattpitkin I've added emcee to the README installation guide now, thanks for spotting that. I have also added some [basic test instructions](https://stardate.readthedocs.io/en/latest/user/tests.html) to the docs. Does this look alright to you? Thanks for providing an example of a .travis.yml! I have CI working now and I'm really pleased about this! Let me know if you have any other suggestions fo

[2019-05-31 00:41] 1313e commented on #1393
@dhuppenkothen For some reason, I was sent the DOI of the AAS Journals submission of the Stingray paper instead of you.
So, here you go: 10.3847/1538-4357/ab258d

[2019-05-31 04:10] peterjwatkins commented on #947
@alexpghayes - thanks for the suggestion.
To that end, a model response was used for the tests. An acknowledgement of the source has been added to 'testthat.R' as a comment (see below). This replaces the use of 'data(dws)' used in previous testing.

"Test performed on the calculations use model data.
The model response is taken from: Coarsening and Rheology of Casein and Surfactant Foams
A. Saint-

[2019-05-31 05:29] MaciejDanko commented on #1481
Thank you for your quick response,
paper.md is written in the standard Markdown syntax now

[2019-05-31 07:51] celliern commented on #1356
Done ! The branch is merged with minor changes, and the acknowledgement as been filled.

[2019-05-31 07:55] Kevin-Mattheus-Moerman commented on #1356
@whedon generate pdf

[2019-05-31 07:55] whedon commented on #1356
[code]

[2019-05-31 07:56] whedon commented on #1356
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01356/joss.01356/10.21105.joss.01356.pdf)

[2019-05-31 08:12] Kevin-Mattheus-Moerman commented on #1356
@celliern here are some more changes required for the paper:

- [ ] The references  `[@Meurer:2017]` and `[@rang:2015]` appear not to render. Can you check if their `.bib` file entries are okay? It looks like there might be an extra empty line set for the abstract in `[@Meurer:2017]`, and that you should cite it as `[@Rang:2015]` (capital R) instead in the paper.
- [ ] Please replace the correspon

[2019-05-31 08:16] xuanxu commented on #1397
@whedon set 10.5281/zenodo.3235680 as archive

[2019-05-31 08:16] whedon commented on #1397
OK. <a href="https://doi.org/10.5281/zenodo.3235680" target="_blank">10.5281/zenodo.3235680</a> is the archive.

[2019-05-31 08:19] xuanxu commented on #1397
@openjournals/joss-eics, I think we are good to go!

[2019-05-31 08:24] mattpitkin commented on #1469
@RuthAngus Great, that all looks good to me. I've ticked of all my check boxes and am happy to sign-off the review.

[2019-05-31 08:28] MaciejDanko commented on #1481
Dear all,
Thank you for your quick response
I removed LaTeX style from md file.
The problem is that the last figure appears now after acknowledgements.
Best wishes,
Maciej
________________________________________
From: Arfon Smith [notifications@github.com]
Sent: 30 May 2019 22:20
To: openjournals/joss-reviews
Cc: Danko, Maciej; Mention
Subject: Re: [openjournals/joss-reviews] [PRE REVIEW]: `hopit

[2019-05-31 08:54] steven-murray commented on #1397
OK cool, done that.

On Thu, May 30, 2019 at 1:09 PM Juanjo Bazán <notifications@github.com>
wrote:

--
Steven Murray,
Research Associate at
School of Earth and Space Exploration,
Arizona State University.

[2019-05-31 09:13] haarburger commented on #1484
The paper was still in a non-master branch. I'll report back here after it is merged to master.

[2019-05-31 10:34] arfon commented on #1469
:wave: @nespinoza - how are you getting on with your review?

[2019-05-31 11:12] nelsonroque commented on #1279
@kyleniemeyer sorry I was adding affiliation on Zenodo side. I have added it to the `paper.md`

[2019-05-31 11:12] nelsonroque commented on #1279
@whedon generate pdf

[2019-05-31 11:12] whedon commented on #1279
[code]

[2019-05-31 11:13] whedon commented on #1279
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01279/joss.01279/10.21105.joss.01279.pdf)

[2019-05-31 11:54] nespinoza commented on #1469
Hi @RuthAngus,

 Thanks first of all for all the work you've already done with @mattpitkin's part of the review --- I've been keeping an eye on his comments in order to not bring up the same ideas/comments again in my review.

 There's a couple of things that I think should be stated in the `stardate` documentation with which I actually had trouble with; this is what prevents me right now from tic

[2019-05-31 13:33] vijaysm commented on #1441
@likask Please update the version number being reviewed to v0.8.23 if necessary.

Also, fix the [broken link](https://bitbucket.org/likask/mofem-cephas/src/joss/media/paper.md) to the paper as well. I see your comment above but it would be good to have this propagated on this issue page if possible.

[2019-05-31 13:55] RuthAngus commented on #1469
Hi @nespinoza, thanks for these suggestions -- these are both things I hadn't thought of! I have now added a python3 warning to the readme and [docs](https://stardate.readthedocs.io/en/latest/index.html) and I have made the emcee version requirement explicit in the [installation instructions](https://stardate.readthedocs.io/en/latest/user/install.html). Hopefully that should work now!

[2019-05-31 13:56] haarburger commented on #1484
@whedon commands

[2019-05-31 13:57] whedon commented on #1484
Here are some things you can ask me to do:

[code]

[2019-05-31 13:57] haarburger commented on #1484
@whedon generate pdf

[2019-05-31 13:57] whedon commented on #1484
[code]

[2019-05-31 13:57] whedon commented on #1484
PDF failed to compile for issue #1484 with the following error:

 Could not find bibliography file: paper.bib
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-05-31 13:58] nespinoza commented on #1469
Fantastic @RuthAngus, thank you for including that. I have signed the **Installation Instructions** part then and thus, I'm happy to recommend this por publication in JOSS!

[2019-05-31 14:01] tclune commented on #1474
I had one minor issue with the installation.   3 different methods are described, but the one that that avoids the requirement for root privileges did not work for me.  I have amended a [previously closed issue](https://github.com/marshallward/f90nml/issues/49).

[2019-05-31 14:02] tclune commented on #1474
My only other negative statement is that I could not find guidelines for community contributions.   OTOH, this is a vanilla GitHub project that should easily work with standard approaches of fork+PR or opening issues.

[2019-05-31 14:21] likask commented on #1441
I think that version could be bumped at the very end. If you are looking for the source of the paper, it is here [link](https://bitbucket.org/likask/mofem-cephas/src/master/joss/paper.md).

[2019-05-31 14:23] haarburger commented on #1484
@whedon generate pdf

[2019-05-31 14:23] whedon commented on #1484
[code]

[2019-05-31 14:23] whedon commented on #1484
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01484/joss.01484/10.21105.joss.01484.pdf)

[2019-05-31 14:28] celliern commented on #1356
Done !

[2019-05-31 14:35] Kevin-Mattheus-Moerman commented on #1356
@whedon generate pdf

[2019-05-31 14:35] whedon commented on #1356
[code]

[2019-05-31 14:36] whedon commented on #1356
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01356/joss.01356/10.21105.joss.01356.pdf)

[2019-05-31 14:36] marshallward commented on #1474
Thanks very much for the feedback.  On the three points:

* For installation, I'm not able to reproduce the problem you're seeing, including on my work machine where I do not have root access.  But we can work through that in marshallward/f90nml#49.  (Or perhaps I just ought to remove the explicit `setup.py` install?)

* I'll prepare a Contributing guidelines file.  (Patches are so infrequent that

[2019-05-31 14:36] Kevin-Mattheus-Moerman commented on #1356
@whedon check references

[2019-05-31 14:36] whedon commented on #1356
[code]

[2019-05-31 14:37] whedon commented on #1356
[code]

[2019-05-31 14:41] offray commented on #720
Hi Daniel,

Sorry, but I have still busy with paperwork for the PhD degree (yes
bureaucracy can be slowly painful in many place of the Global South).

I have been stabilizing important Grafoscopio functionality in the back
end with recent commits (as shown in Grafoscopio-OffrayLuna.360)
recently, but still I need to port SQLite DB functionality to have a
proper migration of Dataviz package to Phar

[2019-05-31 14:42] tclune commented on #1474
@marshallward Please disregard my API comment for now.   I did not see the Makefile and was just staring at the raw files in the ./doc directory.    I'm building the documentation and will update my comment.

[2019-05-31 14:47] Kevin-Mattheus-Moerman commented on #1356
@celliern thanks for implementing those changes. I went over them and the paper looks good now. At this point can you please do the following:

- [ ] Archive the reviewed software in Zenodo
- [ ] Check the Zenodo deposit has the correct metadata, this includes the title (should match the paper title) and author list (make sure the list is correct and people like me who only fixed some bits of the

[2019-05-31 14:55] tclune commented on #1474
I retract my comment about the API.    Documentation is complete and nicely done.   And I thank the author for getting me to actually look at sphinx.   I'd heard of it, but never (knowingly) used it before.

[2019-05-31 15:41] noamross commented on #1483
Tanks. Just pushed a fix - there was  mis-indented line.

[2019-05-31 16:48] alexhanna commented on #1481
@whedon generate pdf

[2019-05-31 16:48] whedon commented on #1481
[code]

[2019-05-31 16:49] whedon commented on #1481
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01481/joss.01481/10.21105.joss.01481.pdf)

[2019-05-31 16:55] kyleniemeyer commented on #1484
Great, thanks @haarburger! We'll proceed now.

[2019-05-31 16:56] kyleniemeyer commented on #1484
@whedon assign @mbobra as editor

[2019-05-31 16:56] whedon commented on #1484
OK, the editor is @mbobra

[2019-05-31 16:57] kyleniemeyer commented on #1483
@whedon generate pdf

[2019-05-31 16:57] whedon commented on #1483
[code]

[2019-05-31 16:58] whedon commented on #1483
PDF failed to compile for issue #1483 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-379fcd917139/lib/whedon/author.rb:58:in `block in build_affiliation_string': Problem with affiliations for Noam Ross, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-379fcd917139/lib/whedon/author.rb:57:in `each'
	fr

[2019-05-31 17:04] kyleniemeyer commented on #1481
@MaciejDanko great, thanks! @alexhanna I'll leave this in your hands now.

[2019-05-31 17:05] kyleniemeyer commented on #1481
@whedon assign @alexhanna as editor

[2019-05-31 17:05] whedon commented on #1481
OK, the editor is @alexhanna

[2019-05-31 17:06] kyleniemeyer commented on #1483
@noamross ah, one more thing to fix. The affiliations need to be structured like this instead:
[code]
(the quotes are needed for multiple affiliations)

[2019-05-31 17:07] kyleniemeyer commented on #1279
@whedon accept

[2019-05-31 17:07] whedon commented on #1279
[code]

[2019-05-31 17:08] whedon commented on #1279
[code]

[2019-05-31 17:08] kyleniemeyer commented on #1397
@whedon generate pdf

[2019-05-31 17:08] whedon commented on #1397
[code]

[2019-05-31 17:08] whedon commented on #1279
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/723

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/723, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-31 17:08] whedon commented on #1397
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01397/joss.01397/10.21105.joss.01397.pdf)

[2019-05-31 17:17] noamross commented on #1483
Fixed and pushed

[2019-05-31 17:31] noamross commented on #1483
@whedon generate pdf

[2019-05-31 17:31] whedon commented on #1483
[code]

[2019-05-31 17:32] whedon commented on #1483
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01483/joss.01483/10.21105.joss.01483.pdf)

[2019-05-31 17:39] kyleniemeyer commented on #1279
@whedon accept deposit=true

[2019-05-31 17:39] whedon commented on #1279
[code]

[2019-05-31 17:40] whedon commented on #1279
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1134515020639985669) 👈 🐦🐦🐦

[2019-05-31 17:40] whedon commented on #1279
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/724
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01279](https://doi.org/10.21105/joss.01279)
2. If everything looks go

[2019-05-31 18:17] RuthAngus commented on #1469
Thanks so much @nespinoza and @mattpitkin for helping me improve the code! @arfon, is there anything else I need to do now?

[2019-05-31 18:33] kyleniemeyer commented on #1279
Congrats @nelsonroque on your submission's publication in JOSS! Thanks to @acolum and @aj2duncan for reviewing and @xuanxu for editing!

[2019-05-31 18:33] #1279 closed

[2019-05-31 18:33] whedon commented on #1279
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01279/status.svg)](https://doi.org/10.21105/joss.01279)

**We need your help!**

Journal of Open Source Softwar

[2019-05-31 18:50] MaciejDanko commented on #1481
I checked the paper proof and found that there is a problem with figure 3 caption.
The md code looks OK, I don't know why there is a problem.

[2019-05-31 18:56] arfon commented on #1469
@whedon check references

[2019-05-31 18:56] whedon commented on #1469
[code]

[2019-05-31 18:56] whedon commented on #1469
[code]

[2019-05-31 18:59] arfon commented on #1469
@whedon generate pdf

[2019-05-31 18:59] whedon commented on #1469
[code]

[2019-05-31 19:00] whedon commented on #1469
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01469/joss.01469/10.21105.joss.01469.pdf)

[2019-05-31 19:03] arfon commented on #1469
At this point I think we need to wait for your AAS paper to be accepted so we can publish them at the same time. Do you know the status of that? Once that paper is accepted too then we can make a final update to the JOSS paper to make sure that your `Angus et al (submitted)` can be updated to cite the accepted article (including DOI etc).

/ cc @crawfordsm

[2019-05-31 20:01] eveskew commented on #1483
@whedon generate pdf

[2019-05-31 20:01] whedon commented on #1483
[code]

[2019-05-31 20:02] whedon commented on #1483
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01483/joss.01483/10.21105.joss.01483.pdf)

[2019-05-31 20:16] noamross commented on #1483
@whedon generate pdf

[2019-05-31 20:17] whedon commented on #1483
[code]

[2019-05-31 20:17] whedon commented on #1483
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01483/joss.01483/10.21105.joss.01483.pdf)

[2019-05-31 20:53] RuthAngus commented on #1469
@arfon okay, sounds good! I'm currently waiting to receive a first-round referee report for the AAS paper. I submitted it less than two weeks ago, so it could still be quite a while before getting an acceptance for that one. I'm in no rush though and happy to wait :-)

/ cc @crawfordsm

[2019-05-31 20:55] eveskew commented on #1483
@whedon generate pdf

[2019-05-31 20:55] whedon commented on #1483
[code]

[2019-05-31 20:56] whedon commented on #1483
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01483/joss.01483/10.21105.joss.01483.pdf)

[2019-05-31 20:56] smk508 commented on #1478
Hi @dirmeier . Do you have any updates on this review or any questions?

[2019-05-31 21:43] kyleniemeyer commented on #1397
Hi @steven-murray, nearly ready to accept—I just submitted a small PR to your paper which fixes the formatting of some in-text references: https://github.com/steven-murray/hankel/pull/28

[2019-05-31 21:46] kyleniemeyer commented on #1483
@noamross can you archive the repo on Zenodo and provide the DOI? (or just the latter if the former has already been done)

[2019-05-31 21:47] kyleniemeyer commented on #1483
@noamross nvm, I found that in the README.

[2019-05-31 21:47] kyleniemeyer commented on #1483
@whedon set 10.5281/zenodo.3234871 as archive

[2019-05-31 21:47] whedon commented on #1483
OK. <a href="https://doi.org/10.5281/zenodo.3234871" target="_blank">10.5281/zenodo.3234871</a> is the archive.

[2019-05-31 21:47] kyleniemeyer commented on #1483
@whedon accept

[2019-05-31 21:47] whedon commented on #1483
[code]

[2019-05-31 21:47] whedon commented on #1483
[code]

[2019-05-31 21:48] whedon commented on #1483
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/725

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/725, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-31 21:54] kyleniemeyer commented on #1483
@noamross @eveskew it looks like the DOI for the Raasveldt and Muhleisen 2018 reference is not correct. Could you fix this and let me know when you have?

[2019-05-31 22:10] steven-murray commented on #1397
Awesome, thanks! That's now merged.

On Fri, May 31, 2019 at 2:44 PM Kyle Niemeyer <notifications@github.com>
wrote:

--
Steven Murray,
Research Associate at
School of Earth and Space Exploration,
Arizona State University.

[2019-05-31 22:49] kyleniemeyer commented on #1397
@whedon generate pdf

[2019-05-31 22:49] whedon commented on #1397
[code]

[2019-05-31 22:50] whedon commented on #1397
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01397/joss.01397/10.21105.joss.01397.pdf)

[2019-05-31 22:59] kyleniemeyer commented on #1397
@whedon accept

[2019-05-31 22:59] whedon commented on #1397
[code]

[2019-05-31 22:59] whedon commented on #1397
[code]

[2019-05-31 22:59] whedon commented on #1397
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/726

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/726, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-31 23:02] noamross commented on #1483
Just fixed, thanks.

[2019-05-31 23:03] noamross commented on #1483
@whedon generate pdf

[2019-05-31 23:03] whedon commented on #1483
[code]

[2019-05-31 23:04] whedon commented on #1483
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01483/joss.01483/10.21105.joss.01483.pdf)

[2019-05-31 23:06] kyleniemeyer commented on #1397
@whedon accept deposit=true

[2019-05-31 23:06] whedon commented on #1397
[code]

[2019-05-31 23:06] kyleniemeyer commented on #1483
@whedon accept

[2019-05-31 23:06] whedon commented on #1483
[code]

[2019-05-31 23:07] whedon commented on #1483
[code]

[2019-05-31 23:07] whedon commented on #1397
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1134597233557594112) 👈 🐦🐦🐦

[2019-05-31 23:07] whedon commented on #1397
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/727
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01397](https://doi.org/10.21105/joss.01397)
2. If everything looks go

[2019-05-31 23:07] whedon commented on #1483
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/728

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/728, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-31 23:08] kyleniemeyer commented on #1397
Congrats @steven-murray on your paper's acceptance in JOSS! Thanks to @melissawm for reviewing and @xuanxu for editing!

[2019-05-31 23:08] #1397 closed

[2019-05-31 23:08] whedon commented on #1397
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01397/status.svg)](https://doi.org/10.21105/joss.01397)

**We need your help!**

Journal of Open Source Softwar

[2019-05-31 23:08] kyleniemeyer commented on #1483
@whedon accept deposit=true

[2019-05-31 23:08] whedon commented on #1483
[code]

[2019-05-31 23:09] whedon commented on #1483
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1134597791190310912) 👈 🐦🐦🐦

[2019-05-31 23:09] whedon commented on #1483
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/729
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01483](https://doi.org/10.21105/joss.01483)
2. If everything looks go

[2019-05-31 23:36] mbobra commented on #1484
@haarburger Would you like to suggest any reviewers from [this list](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822)?

[2019-05-31 23:58] noamross commented on #1483
Review of the source code can be found at https://github.com/ropensci/software-review/issues/292

[2019-06-01 11:16] annoviko commented on #1420
Hello, @sanskriti-s ,
There is only one unclear moment that is related to testing. I haven't found any tests in the repository and there is no instruction how to verify software. Could you please provide any comments?

[2019-06-01 11:30] lmoresi commented on #1410
**Response to reviews —  @VivianePons**

The review process has been thorough and very helpful. We felt that it might be useful to provide a brief summary of the action we have taken in response to the reviews as documented in the issue tracker:

  1. A number of the issues that were raised during the review were routine typos and minor bugs that we fixed as soon as they were brought to our attent

[2019-06-01 18:04] fboehm commented on #1435
Hi, @rcorty, I've tried to address the issues that you raise in the comments as I've made revisions to the package. Thank you!

@csoneson - what are the next steps in the review process? Thanks again!

[2019-06-01 18:11] csoneson commented on #1435
@fboehm - great! To make things a bit easier for the reviewers, could you post a short summary of the changes that you have made in response to their comments? @vjcitn and @rcorty - could you please have a look at the revised version and see whether the changes address your comments?

[2019-06-01 18:39] fboehm commented on #1435
Thanks, @csoneson!

In response to @rcorty's comments, I made the following changes:

1. added LICENSE.md file that contains the text of the MIT license.
2. I tweaked the wording of the sentence in paper.md. However, I avoided using the term "causal variant".
3. I didn't add precalculated genotype probabilities to the README. The reason for avoiding this is that the calculations in the README are

[2019-06-01 21:16] whedon commented on #1315
:wave: @sauln, please update us on how things are progressing here.

[2019-06-02 00:14] kyleniemeyer commented on #1483
@noamross congrats on your submission's publication in JOSS, and thanks for sharing that link in here for future reference.

[2019-06-02 00:14] #1483 closed

[2019-06-02 00:14] whedon commented on #1483
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01483/status.svg)](https://doi.org/10.21105/joss.01483)

**We need your help!**

Journal of Open Source Softwar

[2019-06-02 07:10] celliern commented on #1356
It should be done.

The DOI is `10.5281/zenodo.3236970`.

The release tag is now v0.6.0.

[2019-06-02 08:57] Kevin-Mattheus-Moerman commented on #1356
@whedon set v0.6.0 as version

[2019-06-02 08:57] whedon commented on #1356
OK. v0.6.0 is the version.

[2019-06-02 09:00] Kevin-Mattheus-Moerman commented on #1356
@celliern the zenodo archive says the date of publication was March 19, 2019. Is this archive recent enough, can you confirm it contains the most recent updates?

[2019-06-02 09:08] Kevin-Mattheus-Moerman commented on #1356
@whedon set 10.5281/zenodo.3236970 as archive

[2019-06-02 09:08] whedon commented on #1356
OK. <a href="https://doi.org/10.5281/zenodo.3236970" target="_blank">10.5281/zenodo.3236970</a> is the archive.

[2019-06-02 09:43] haarburger commented on #1484
I suggest @PingjunChen, @sealhuang and @fernandoandreotti (in random order) from the list.

[2019-06-02 10:51] celliern commented on #1356
The metadata for the date was the one for the 0.6.0rc1. The archive is fine and contain the last updated. I updated the metadata row for the date just now.

[2019-06-02 16:34] alexhanna commented on #1455
Closing this out because it already has one reviewer.

[2019-06-02 16:34] #1455 closed

[2019-06-02 20:57] IbrahimTanyalcin commented on #1407
:wave:  @csoneson @hrhotz  @jkanche @imallona

I hope you all are doing great,
I finally could bring some updates:

- Added disclaimer for seizures https://github.com/IbrahimTanyalcin/lexicon-mono-seq#disclaimer
- Updated paper.md, I might have missed a couple of points
- Added Async operations, these are very similar to ES6 Promises, but instead they are written in ES5 and do not require polyfill

[2019-06-02 22:30] Matiszak commented on #1444
Thank you very much for your review and sorry for the delay. I hope I took care of all the points, your input was very helpful. Could you see if there is anything else worth changing ?

@whedon generate pdf

[2019-06-02 22:31] Matiszak commented on #1444
@whedon generate pdf

[2019-06-02 22:31] whedon commented on #1444
[code]

[2019-06-02 22:31] whedon commented on #1444
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01444/joss.01444/10.21105.joss.01444.pdf)

[2019-06-02 23:05] ManuelaS commented on #1291
@whedon generate pdf

[2019-06-02 23:06] whedon commented on #1291
[code]

[2019-06-03 01:49] kyleniemeyer commented on #1479
@whedon assign @usethedata as editor

[2019-06-03 01:49] whedon commented on #1479
OK, the editor is @usethedata

[2019-06-03 01:49] kyleniemeyer commented on #1437
@whedon assign @usethedata as editor

[2019-06-03 01:49] whedon commented on #1437
OK, the editor is @usethedata

[2019-06-03 02:38] cMadan commented on #1204
@mfroeling, everything looks good and I'm almost ready to accept. Can you mint a new release that includes the changes from the review process? I also need a DOI for an archived version of the code (e.g., from Zenodo).

[2019-06-03 02:40] cMadan commented on #1458
@vc1492a, thank you for the thorough review! I really appreciate you being so detailed in your comments and suggestions.

@hneutr, please let us know when you've had a chance to make the suggested changes or have comments on them.

[2019-06-03 03:06] deniederhut commented on #1378
I'm down. What's the turnaround time?

[2019-06-03 03:53] kyleniemeyer commented on #1378
@deniederhut great! We don't have a specific deadline for reviews, but generally we like to get reviews within two or three weeks—but longer can be ok.

[2019-06-03 03:54] kyleniemeyer commented on #1378
@whedon assign @deniederhut as reviewer

[2019-06-03 03:54] whedon commented on #1378
OK, the reviewer is @deniederhut

[2019-06-03 05:29] kyleniemeyer commented on #1317
Hi @becarioprecario, just wanted to check on your review.

[2019-06-03 05:31] kyleniemeyer commented on #1411
Hello @vbarrera, just wanted to check on your review.

[2019-06-03 05:47] kyleniemeyer commented on #1278
Hi @poulson, checking on on this review—it looks like both reviewers have given their ok.

[2019-06-03 05:53] kyleniemeyer commented on #1390
@whedon remind @pierrepo in 2 weeks

[2019-06-03 05:53] whedon commented on #1390
Reminder set for @pierrepo in 2 weeks

[2019-06-03 07:25] leveque commented on #1356
Please be careful with references, I'm referenced in github, but not the one referenced in the bibtex

[2019-06-03 08:03] celliern commented on #1356
@leveque oh, this @ is a cross reference to the bib file. It use the @author:year convention, it's nowhere related to the github ID. Sorry for the annoyance.

[2019-06-03 08:07] mfroeling commented on #1204
Yes will do i have some small bugs to fix before a new release that i will finalize this week. I don't want to push a new release with known bugs.

[2019-06-03 08:54] kgjerde commented on #1342
@leouieda Is there any action required on my part at the moment?

[2019-06-03 09:09] Kevin-Mattheus-Moerman commented on #1356
@openjournals/joss-eics this submission is ready to be accepted

[2019-06-03 09:11] Kevin-Mattheus-Moerman commented on #1291
@whedon generate pdf

[2019-06-03 09:11] whedon commented on #1291
[code]

[2019-06-03 09:15] csoneson commented on #1407
Thanks @IbrahimTanyalcin. @jkanche, @hrhotz, @imallona - could you please have a look at the updated submission when you have a chance?

[2019-06-03 09:25] mgalland commented on #1465
@whedon generate pdf

[2019-06-03 09:25] whedon commented on #1465
[code]

[2019-06-03 09:26] whedon commented on #1465
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01465/joss.01465/10.21105.joss.01465.pdf)

[2019-06-03 09:27] mgalland commented on #1465
@whedon generate pdf

[2019-06-03 09:27] whedon commented on #1465
[code]

[2019-06-03 09:28] whedon commented on #1465
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01465/joss.01465/10.21105.joss.01465.pdf)

[2019-06-03 09:31] trallard commented on #1291
Hi folks 👋🏽

Unfortunately I could not get a fresh MATLAB install working on.  So I'll have to pull out of this review as I would not like to hold this any longer

[2019-06-03 09:41] Kevin-Mattheus-Moerman commented on #1291
@whedon remove @trallard as reviewer

[2019-06-03 09:41] whedon commented on #1291
OK, @trallard is no longer a reviewer

[2019-06-03 09:41] Kevin-Mattheus-Moerman commented on #1291
Okay thanks for your help so far @trallard

[2019-06-03 09:42] Kevin-Mattheus-Moerman commented on #1291
@arfon it seems whedon does not process the PDF or is stuck. Do you know what's going on?

[2019-06-03 10:02] RomainAzais commented on #1351
Done!

Note that the DOI found for "Combinatorial stochastic processes" in:

was not the good one. I added the right DOI.

[2019-06-03 10:30] arfon commented on #1356
@whedon accept

[2019-06-03 10:30] whedon commented on #1356
[code]

[2019-06-03 10:30] whedon commented on #1356
[code]

[2019-06-03 10:31] whedon commented on #1356
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/730

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/730, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-03 10:32] labarba commented on #1356
@arfon : if you're doing the final checks, I'll leave you to it!

[2019-06-03 10:36] arfon commented on #1356
@whedon accept deposit=true

[2019-06-03 10:36] whedon commented on #1356
[code]

[2019-06-03 10:36] whedon commented on #1356
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1135495570758537216) 👈 🐦🐦🐦

[2019-06-03 10:36] whedon commented on #1356
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/731
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01356](https://doi.org/10.21105/joss.01356)
2. If everything looks go

[2019-06-03 10:39] arfon commented on #1356
@mrava87, @poulson - many thanks for your reviews here and to @Kevin-Mattheus-Moerman for editing this submission ✨

@celliern - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-06-03 10:39] #1356 closed

[2019-06-03 10:39] whedon commented on #1356
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01356/status.svg)](https://doi.org/10.21105/joss.01356)

**We need your help!**

Journal of Open Source Softwar

[2019-06-03 10:50] arfon commented on #1291
@Kevin-Mattheus-Moerman - the issue is with the bibtex entry names. Pandoc can't handle entries like `@U.S.DepartmentofCommerce1977`, `@U.S.DepartmentofCommerce1977a`, `@CynthiaA.Brewer`.  (doesn't like the periods). Please rename these bibtex entries.

Also, while I was looking at the `paper.md`, I noticed that there are links like this in the paper:

[code]

While these work fine on GitHub, they

[2019-06-03 12:12] ManuelaS commented on #1291
Thanks @piermorel for a thorough reviewing the `HCP` package!

We combined all the KFF references into a single reference and kept the list of the individual data sources we used in occupation_by_us_state.md as we would like to make sure all the data sources are credited fully. @Kevin-Mattheus-Moerman, is this an acceptable approach?

Our understanding is that we should create a new release (and a

[2019-06-03 12:38] ManuelaS commented on #1291
Thanks @arfon for looking into this!

Done.

Done.

[2019-06-03 12:39] ManuelaS commented on #1291
@whedon generate pdf

[2019-06-03 12:39] whedon commented on #1291
[code]

[2019-06-03 12:45] ManuelaS commented on #1291
Seems like whedon still has issues generating the pdf (maybe still because of the big images).

I am attaching the pdf as generated by running pandoc locally:
[HCP_paper.pdf](https://github.com/openjournals/joss-reviews/files/3247597/HCP_paper.pdf)

The pdf may look slightly different from the official one that whedon will generate.

[2019-06-03 12:46] danielskatz commented on #1445
It looks like there are some issues being worked through, which is good - @muehlhaus and @cgravill and @PrashantVaidyanathan, please let me know if anything seems to get stuck

[2019-06-03 12:58] danielskatz commented on #1474
👋 @zbeekman - How is your review coming along?

[2019-06-03 13:26] gkthiruvathukal commented on #1436
@omoliavko Can you please take a look at the list of reviewers at https://bit.ly/joss-reviewers and suggest a few who may have the relevant expertise to contribute a review for your submission?

[2019-06-03 13:27] gkthiruvathukal commented on #1357
@whedon assign @sepandhaghighi as reviewer

[2019-06-03 13:27] whedon commented on #1357
OK, the reviewer is @sepandhaghighi

[2019-06-03 13:28] gkthiruvathukal commented on #1357
@whedon list

[2019-06-03 13:29] gkthiruvathukal commented on #1357
@whedon commands

[2019-06-03 13:29] whedon commented on #1357
Here are some things you can ask me to do:

[code]

[2019-06-03 13:29] gkthiruvathukal commented on #1357
@whedon start review

[2019-06-03 13:29] whedon opened #1485 "[REVIEW]: OrpailleCC: a Library for Data Stream Analysis on Embedded Systems"
**Submitting author:** @Azazel7 (<a href="http://orcid.org/0000-0003-2129-5517">Martin Khannouz</a>)
**Repository:** <a href="https://github.com/big-data-lab-team/OrpailleCC" target ="_blank">https://github.com/big-data-lab-team/OrpailleCC</a>
**Version:** 1.0
**Editor:** @gkthiruvathukal
**Reviewer:** @sepandhaghighi
**Archive:** <a href="https://doi.org/10.5281/zenodo.3266109" target="_blank">10

[2019-06-03 13:29] whedon commented on #1357
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1485. Feel free to close this issue now!

[2019-06-03 13:29] whedon commented on #1485
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @sepandhaghighi it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're proba

[2019-06-03 13:29] whedon commented on #1485
[code]

[2019-06-03 13:29] whedon commented on #1485
PDF failed to compile for issue #1485 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `initialize': No such file or directory @ rb_sysopen - tmp/1485/paper/paper.yml (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `open'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `load_file'
	from /app/vendor/bundle/ruby/2.4.0/bundler/g

[2019-06-03 13:29] #1357 closed

[2019-06-03 13:31] gkthiruvathukal commented on #1337
@JedS6391 Please provide an update on when you will be able to address unit tests.

[2019-06-03 13:32] gkthiruvathukal commented on #1326
@Amudtogal Please update on when you will be able to work on some tests.

[2019-06-03 13:58] chris-prener commented on #1221
@lheagy or @arfon - one follow-up question - does Google Scholar index JOSS publications right now? Googled around but didn't seem to find a clear answer...

[2019-06-03 14:29] arfon commented on #1221
Yes, but based on historical performance, it can take a month or two for them to show up.

[2019-06-03 14:36] arfon commented on #1291
It could be that, plus the large author lists sometimes makes Whedon run out of memory on Heroku. I've compiled a version here: [10.21105.joss.01291.pdf](https://github.com/openjournals/joss-reviews/files/3248049/10.21105.joss.01291.pdf)

[2019-06-03 14:47] grantjenks commented on #1330
@whedon generate pdf

[2019-06-03 14:47] whedon commented on #1330
[code]

[2019-06-03 14:47] whedon commented on #1330
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01330/joss.01330/10.21105.joss.01330.pdf)

[2019-06-03 14:51] piermorel commented on #1291
Hi @ManuelaS, the doc changes are nice ! If the references issues are fine with editors that's all good for me.

[2019-06-03 14:54] grantjenks commented on #1330
@arfon Update:

1. I removed the last sentence and verified the article proof still includes the DOI.
2. I found the Dask Distributed DOI and included it.
3. I cited the projects in the paper based on your reference. I wasn't sure how the text would be rendered. Looks like it included just the year. I think that's OK but let me know if there's a better rendering.
4. Everyone in the bibliography no

[2019-06-03 15:11] arfon commented on #1330
@whedon generate pdf

[2019-06-03 15:11] whedon commented on #1330
[code]

[2019-06-03 15:11] whedon commented on #1330
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01330/joss.01330/10.21105.joss.01330.pdf)

[2019-06-03 15:13] chris-prener commented on #1221
Thanks @arfon!

[2019-06-03 15:14] arfon commented on #1330
:+1: thanks. This looks good @grantjenks

[2019-06-03 15:14] arfon commented on #1330
@whedon accept

[2019-06-03 15:14] whedon commented on #1330
[code]

[2019-06-03 15:15] whedon commented on #1330
[code]

[2019-06-03 15:15] whedon commented on #1330
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/732

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/732, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-06-03 15:15] arfon commented on #1330
@whedon accept deposit=true

[2019-06-03 15:15] whedon commented on #1330
[code]

[2019-06-03 15:16] whedon commented on #1330
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1135565978203492352) 👈 🐦🐦🐦

[2019-06-03 16:29] steven-murray commented on #1397
Thanks a bunch @xuanxu, @kyleniemeyer and @melissawm!

[2019-06-03 18:06] karthik commented on #1428
Yes, that's right.

[2019-06-03 18:11] karthik commented on #1428
Thanks Henrik for the reviewer suggestions and the helpful comments.

@mschubert Good point.  @gvegayon: Can you please tell us a bit more about how your package is a significant improvement over existing tools?

[2019-06-03 18:24] deniederhut commented on #1378
Okay, good to know. We're in the middle of the review period for SciPy, so it be a few weeks before I can take a look.

[2019-06-03 18:48] prisae commented on #1463
`v0.6.2` is out. All these new versions are changes under the hood to improve CPU and RAM usage, nothing changes for the user-facing functionality. I do not expect further new versions until the JOSS review is finished (if it is not taking too long).

[2019-06-03 18:53] Nyctanthous commented on #1448
@whedon generate pdf

[2019-06-03 18:53] whedon commented on #1448
[code]

[2019-06-03 18:53] whedon commented on #1448
PDF failed to compile for issue #1448 with the following error:

 Error reading bibliography ./paper.bib (line 21, column 3):
unexpected "m"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-06-03 18:54] Nyctanthous commented on #1448
@whedon generate pdf

[2019-06-03 18:54] whedon commented on #1448
[code]

[2019-06-03 18:54] whedon commented on #1448
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01448/joss.01448/10.21105.joss.01448.pdf)

[2019-06-03 19:10] wandreopoulos commented on #693
Hello Jed:
Thank you for your feedback. Sorry for the delay.
I have pushed to the sqlite3 branch with all of these issues addressed. I
tested with Python 3.6 and 3.7:

   - To start with, you can remove sqlite3 from requirements.txt because it
   is part of the standard library (not a package).
   - I think nose is really only a development requirement.
   - You can also remove duplicate entries f

[2019-06-03 19:18] Nyctanthous commented on #1448
@lucask07 Thanks for your review. I believe that, at this point, I have addressed everything you pointed our as incorrect. A few comments explaining what my thinking was at the time:

1. Usage of the word "Realtime". The T4, and T7 are (probably) realtime in the sense that you indicate. However, this package makes no effort to propagate this attribute through the process of TCP or UDP data streami

[2019-06-03 19:20] poulson commented on #1278
@whedon generate pdf

[2019-06-03 19:20] whedon commented on #1278
[code]

[2019-06-03 19:21] whedon commented on #1278
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01278/joss.01278/10.21105.joss.01278.pdf)

[2019-06-03 19:24] mbobra commented on #1484
@sealhuang and @fernandoandreotti Are you available to review this submission for JOSS?

[2019-06-03 20:25] poulson commented on #1278
@matbesancon Would you mind fixing the following typo/grammatical/citation/clarification issues?

"at the two level" -> "at the two levels"

"with possibly a disjoint feasible set" -> "with a possibly disjoint feasible set"

"solving method" -> "solver"

"for such case" -> "for such cases"

"the two principal being" -> "with the two primary approaches being"
[Citations needed for what the two appr

[2019-06-03 20:44] zbeekman commented on #1474
Jumping in now.

[2019-06-03 21:03] pdwaggoner commented on #1444
This all looks really great to me! Thanks for making the changes. I would say its good to go from my perspective. @alexhanna back over to you. Thanks!

[2019-06-03 21:34] noamross commented on #1483
@arfon @kyleniemeyer We noticed after acceptance in the two authors have same initials so the initial used in our Acknowledgements section are ambiguous. We've pushed a change to use our full names to clear this up.  Is it possible to re-build to fix at this stage?

[2019-06-03 21:42] arfon commented on #1483
Sure thing. Fixing...

[2019-06-03 21:43] terrytangyuan commented on #1444
Just went over the paper and the checklist. The paper looks great to me. Great job @Matiszak!

[2019-06-03 21:47] arfon commented on #1483
OK, the PDF is fixed here: https://github.com/openjournals/joss-papers/blob/master/joss.01483/10.21105.joss.01483.pdf

It can take a few hours before the caching of the PDFs expires so you might not see this change reflected on the JOSS site immediately.

[2019-06-03 22:04] zbeekman commented on #1474
@danielskatz:

- I'm waiting to check one box for https://github.com/marshallward/f90nml/issues/95
- I think https://github.com/marshallward/f90nml/issues/96 relates to installation and functionality. It should at least be documentented as a dependency, and/or a more graceful failure should occur when the yaml module is missing
- https://github.com/marshallward/f90nml/issues/97 is a pretty minor p

[2019-06-03 22:09] zbeekman commented on #1474
Also, it looks like a lot of climate science tools/packages are using f90nml: https://github.com/marshallward/f90nml/network/dependents very cool!

[2019-06-03 22:41] sanskriti-s commented on #1420
Hi @annoviko . The tests are available in the examples directory

[2019-06-03 23:53] crawfordsm commented on #1393
Thanks @1313e for posting it and letting us know it was sent to the wrong person -- I'll follow up with why that might have happened.

[2019-06-04 00:53] danielskatz commented on #1474
@zbeekman:

No, you don't need to do this.

[2019-06-04 06:19] omoliavko commented on #1436
From the list, it looks like gradvohl and federeghe have the relevant expertise.

[2019-06-04 08:00] Kevin-Mattheus-Moerman commented on #1012
@whedon set 10.5281/zenodo.3235256 as archive

[2019-06-04 08:00] whedon commented on #1012
OK. <a href="https://doi.org/10.5281/zenodo.3235256" target="_blank">10.5281/zenodo.3235256</a> is the archive.

[2019-06-04 08:09] dvberkel commented on #1351
@RomainAzais I was looking at `CONTRIBUTING.rst` and it mentions and links to GitHub instead of GitLab.

It might be the case that you hosted it on GitHub earlier and then moved to GitLab? Although it is a minor inconvenience, I would love to see the `CONTRIBUTING.rst` reflect the current situation.

[2019-06-04 08:27] strengejacke commented on #1412
Just giving a short sign that we work on the revisions, there was some delay due to other deadlines and tasks.

[2019-06-04 08:35] Kevin-Mattheus-Moerman commented on #1012
@whedon set 0.42 as version

[2019-06-04 08:35] whedon commented on #1012
OK. 0.42 is the version.

[2019-06-04 08:55] Kevin-Mattheus-Moerman commented on #1012
@dahtah can you do the following:

- [ ] Can you change the Zenodo archive title from _"dahtah/imager: JOSS release"_ to match that of this submission _"imager: an R package for image processing"_

- [ ] Can you update the author list on Zenodo so it matches the paper?

[2019-06-04 09:23] annoviko commented on #1420
Hello, @sanskriti-s ,

I think it should be reflected in the README in line with JOSS's requirements:

Could you please add this information (how to verify software functionality) to README?

[2019-06-04 10:34] sepandhaghighi commented on #1485
review in progress, would say "accept with minor revisions".
added 6 issues, after those are closed, this should be ready to accept
big-data-lab-team/OrpailleCC/issues/5
big-data-lab-team/OrpailleCC/issues/6
big-data-lab-team/OrpailleCC/issues/7
big-data-lab-team/OrpailleCC/issues/8
big-data-lab-team/OrpailleCC/issues/9
big-data-lab-team/OrpailleCC/issues/10

[2019-06-04 10:56] Amudtogal commented on #1326
I am planning to start the tests within the next three weeks. Next weekend there is a big event I am part of, which has been devouring my spare time... When it is over, I can shift my focus back to coding...

Sorry for delaying this whole process (I don't want to waste your time)! Is there a time limit I need to consider or can I pursue this plan?
Thanks again for your patience!

[2019-06-04 12:03] katyhuff commented on #1417
Sorry for the delay here @prmiles. I've  to the prompt and thorough review by @djmitche Without the review  from @jarvist, I'll move forward with this review  on my own, as I have previously installed and checked the software myself. I'll review all the checks today and we can move forward.

## Review checklist for @jarvist
### Conflict of interest

- [ ] As the reviewer I confirm that I have read

[2019-06-04 12:06] katyhuff commented on #1417
@whedon generate pdf

[2019-06-04 12:06] whedon commented on #1417
[code]

[2019-06-04 12:06] whedon commented on #1417
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01417/joss.01417/10.21105.joss.01417.pdf)

[2019-06-04 12:09] katyhuff commented on #1417
@whedon check references

[2019-06-04 12:10] whedon commented on #1417
[code]

[2019-06-04 12:10] whedon commented on #1417
[code]

[2019-06-04 12:12] katyhuff commented on #1417
Thank you @djmitche for your review -- we couldn't do this without you.

Thank you @prmiles for a strong submission and for engaging actively in the review process! I have looked over the paper, double checked all the DOI links, and have conducted a high level review of the code itself. Everything looks ship-shape to me. At this point, please double check the paper yourself, review any lingering d

[2019-06-04 12:13] katyhuff commented on #1306
@whedon generate pdf

[2019-06-04 12:13] whedon commented on #1306
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01306/joss.01306/10.21105.joss.01306.pdf)

[2019-06-04 12:14] katyhuff commented on #1306
@whedon check references

[2019-06-04 12:14] whedon commented on #1306
[code]

[2019-06-04 12:15] whedon commented on #1306
[code]

[2019-06-04 12:20] katyhuff commented on #1306
@connorourke I apologize again for the delay in this process. In my review I have found a couple of issues:

- We require that the paper should "clearly state what problems the software is designed to solve and who the target audience is". I found your statement of need less than clear. While the physics and methodological background is very important for understanding the statement of need, perha

[2019-06-04 12:21] #1433 closed

[2019-06-04 12:27] katyhuff commented on #1443
@ryanstwrt I'm terribly sorry for the delay. I somehow missed this notification! I apologize. I expect to be able to find reviewers today. (related -- have you heard of PyNE? I think you could be an excellent contributor, if you aren't already).

Initially, I know that @kellyrowland would be an exceptional reviewer for this work, if she is available. @kellyrowland :

* @kellyrowland: Dr. Rowland,

[2019-06-04 12:31] katyhuff commented on #1461
@arose and @jmborr  Thank you for beginning your reviews. I hope all is going well. Please don't hesitate to comment if questions arise. Some authors are also very responsive to issues in the source code repository.

[2019-06-04 13:26] emersodb commented on #1463
I may have missed this in the examples or elsewhere in the repository, so please correct me if I'm wrong, but I didn't notice if there were any examples exhibiting optimal scaling for the MG solver. It would be beneficial, I think, to add an example showing linear scaling of the solver, even for just a very simple setup. Otherwise, I think the examples do a good job of verifying the algorithm agai

[2019-06-04 13:55] tgeijten commented on #1421
@Kevin-Mattheus-Moerman thanks for the suggestion. @modenaxe, I have implemented all the changes suggested by you on the SCONE website -- I'm curious to hear if you agree. @demotu I am also eagerly awaiting your feedback!

[2019-06-04 14:11] mgalland commented on #1465
@whedon generate pdf

[2019-06-04 14:11] danielskatz commented on #1446
👋 @mdavezac - you've been suggested as the perfect reviewer for this.  Would you be willing to do this?  (see [JOSS reviewer guidelines](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html))

[2019-06-04 14:11] whedon commented on #1465
[code]

[2019-06-04 14:12] whedon commented on #1465
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01465/joss.01465/10.21105.joss.01465.pdf)

[2019-06-04 14:14] mgalland commented on #1465
@brainstorm I'm very sorry but after several tries, it seems that I cannot add any extra lines to the `paper.md` file somehow. I don't understand why to be honest. Is that something you'd know about?

[2019-06-04 15:13] ryanstwrt commented on #1443
@katyhuff No problem! I have heard of PyNE, part of my inspiration for creating FRIDGe was the work everyone with PyNE did to help make NE research more available. I'll look into areas of PyNE where I might be able to contribute, thanks for the info.

[2019-06-04 16:21] kellyrowland commented on #1443
@katyhuff I'm interested and able to take on this review; thanks for reaching out to me.

[2019-06-04 17:27] vbarrera commented on #1411
Hi @kyleniemeyer.
Sorry for the radio silence.
I've been having some issues with some parts of the app. I'll be adding my notes this week.

[2019-06-04 17:28] karthik commented on #1412
Thanks @strengejacke. We appreciate the update.

[2019-06-04 17:38] katyhuff commented on #1443
Thanks @kellyrowland!

@pshriwise I think you would be an excellent reviewer for this JOSS submission. Some more information about reviewing for JOSS can be found here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

@pshriwise: Dr. Shriwise, are you able to and interested in taking on this review for the Journal of Open Source Software?
This submission is in need of expertise in n

[2019-06-04 17:38] katyhuff commented on #1443
@whedon assign @kellyrowland as reviewer

[2019-06-04 17:38] whedon commented on #1443
OK, the reviewer is @kellyrowland

[2019-06-04 18:07] pshriwise commented on #1443
@katyhuff @whedon I'd be happy to look it over. Thanks for thinking of me!

[2019-06-04 19:45] katyhuff commented on #1443
Thanks @pshriwise !

Dear both (@kellyrowland @pshriwise ): A key requirement of JOSS submissions is that a submission should be a significant contribution to the available open source software that either enables some new research challenges to be addressed or makes addressing research challenges significantly better (e.g., faster, easier, simpler).  Minor ‘utility’ packages, including ‘thin’ API

[2019-06-04 19:45] katyhuff commented on #1443
@whedon add @pshriwise as reviewer

[2019-06-04 19:45] whedon commented on #1443
OK, @pshriwise is now a reviewer

[2019-06-04 19:46] katyhuff commented on #1417
@whedon remove @jarvist as reviewer

[2019-06-04 19:46] whedon commented on #1417
OK, @jarvist is no longer a reviewer

[2019-06-04 19:47] katyhuff commented on #1417
@whedon add @katyhuff as reviewer

[2019-06-04 19:47] whedon commented on #1417
OK, @katyhuff is now a reviewer

[2019-06-04 19:47] katyhuff commented on #1443
@whedon start review

[2019-06-04 19:47] whedon opened #1486 "[REVIEW]: FRIDGe: Fast Reactor Input Generator"
**Submitting author:** @ryanstwrt (<a href="http://orcid.org/0000-0003-4867-6555">Ryan Stewart</a>)
**Repository:** <a href="https://github.com/ryanstwrt/FRIDGe" target ="_blank">https://github.com/ryanstwrt/FRIDGe</a>
**Version:** v1.0.1
**Editor:** @katyhuff
**Reviewer:** @kellyrowland, @pshriwise
**Archive:** <a href="https://doi.org/10.5281/zenodo.3361822" target="_blank">10.5281/zenodo.336182

[2019-06-04 19:47] whedon commented on #1443
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1486. Feel free to close this issue now!

[2019-06-04 19:47] whedon commented on #1486
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kellyrowland, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probab

[2019-06-04 19:47] whedon commented on #1486
[code]

[2019-06-04 19:47] whedon commented on #1486
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01486/joss.01486/10.21105.joss.01486.pdf)

[2019-06-04 19:47] katyhuff commented on #1443
Ok @ryanstwrt , @kellyrowland , and @pshriwise let's head over to #1486 .

[2019-06-04 19:47] #1443 closed

[2019-06-04 19:48] katyhuff commented on #1306
@whedon remove @vahtras as reviewer

[2019-06-04 19:49] whedon commented on #1306
OK, @vahtras is no longer a reviewer

[2019-06-04 19:49] katyhuff commented on #1306
@whedon add @katyhuff as reviewer

[2019-06-04 19:49] whedon commented on #1306
OK, @katyhuff is now a reviewer

[2019-06-04 19:50] katyhuff commented on #1486
@ryanstwrt The first thing I'd like to note is the image in your paper -- it is too large. Please reduce its width.

[2019-06-04 19:54] mbobra commented on #1484
@haarburger Just an update: I'm working on finding additional reviewers!

[2019-06-04 19:59] fernandoandreotti commented on #1484
Sorry guys, it seems interesting but unfortunately I've been quite busy.

[2019-06-04 20:09] arokem commented on #1171
Checkin in about this again: @tanselbaran -- any progress on your review?

[2019-06-04 20:22] labarba commented on #1466
@ixjlyons — I see that you haven't checked off any items in your review checklist. Have you been able to get a start on this? Let me know if you have any questions!

[2019-06-04 20:25] labarba commented on #1327
@mkhorton — Would you have another look at this submission? The author has done various improvements.

[2019-06-04 20:30] mkhorton commented on #1327
@labarba ok, will do!

On Tue, Jun 4, 2019 at 13:26, Lorena A. Barba <notifications@github.com>
wrote:

[2019-06-04 20:41] ixjlyons commented on #1466
Sorry I haven't gotten to this yet. I will try to get started this week and complete a review over the weekend.

[2019-06-04 21:01] ryanstwrt commented on #1486
@katyhuff Yup, I noticed this when I first uploaded my paper but I wasn't sure if I should update it before it went to you. After I update my document, does it automatically update the article proof so I can check my changes?

[2019-06-05 01:21] sanskriti-s commented on #1420
Hello @annoviko. I have made the changes you requested.

[2019-06-05 01:24] leouieda commented on #1342
@kgjerde I apologize for letting this hang for so long. Both reviewers have ticked all review boxes. I'll have a final look at the paper first and then we can move on to acceptance.

[2019-06-05 01:31] leouieda commented on #1450
@banesullivan sorry, I missed this comment. Could you open an issue at https://github.com/openjournals/joss/issues for this? There are other issues related to the front page and it's currently being redesigned. At least the metadata and paper page itself are fine.

[2019-06-05 01:32] #1450 closed

[2019-06-05 01:32] whedon commented on #1450
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01450/status.svg)](https://doi.org/10.21105/joss.01450)

**We need your help!**

Journal of Open Source Softwar

[2019-06-05 01:34] leouieda commented on #1342
@whedon check references

[2019-06-05 01:34] whedon commented on #1342
[code]

[2019-06-05 01:35] whedon commented on #1342
[code]

[2019-06-05 01:39] leouieda commented on #1342
@kgjerde the paper looks good to me so we're ready to move this forward. Before accepting, you'll need to:

1. Release a new version with the changes made after the review (please post the version number here)
2. Archive a copy of source code for this new version on [Zenodo](https://zenodo.org/) and post the DOI for the archive here.

Please don't hesitate to contact me if you have questions or ne

[2019-06-05 01:39] vyasr commented on #1446
Sorry I haven't been more responsive, I unfortunately won't be available to review this paper.

[2019-06-05 01:41] leouieda commented on #1451
:wave: Hi @gassmoeller @Leguark just checking in to see how the review is going. Please let me know if you have any questions about the process. And please remember to include `#openjournals/joss-reviews#1451` in any issues or PRs so that I can keep track of them here.

[2019-06-05 01:43] leouieda commented on #1425
:wave: Hi @camillescott just checking in to see if you've made any progress on the review. Do you know when you'd be able to report back to us?

[2019-06-05 01:45] leouieda commented on #1425
@vc1492a thank you for all your comments! And @benmaier thank you for being on top of it and implementing everything.

[2019-06-05 01:49] leouieda commented on #1464
@martibosch you could add a link to these repositories as examples of the software package. But they don't need to be on the paper (maybe just as a citation to the preprint). The JOSS papers are usually very minimal and most of your efforts should go into the software documentation instead.

[2019-06-05 06:26] lheagy commented on #1328
Hi @dvalters, would you be willing to take another look at this submission? If so, do you have a time-estimate of when you can get to it? If not, please let me know. Thanks!

[2019-06-05 06:27] lheagy commented on #1408
👋 Hi @choldgraf, would you be willing to take another look? If so, do you have an estimate of when you might be able to? Thanks!

[2019-06-05 07:00] MarionLegrandLogrami commented on #791
Hello @boshek - Did you manage to install the 64-bit postgresql driver or did you try the 32-bit R version compatible with the postgresql driver that you already installed?
Please, let me know if you have any problem !

[2019-06-05 07:36] Leguark commented on #1451
Hi @leouieda and @banesullivan

sorry for the delay. First of all, thank you for the authors for the great work on this library. After couple of years dealing myself with vtk what you have done here is going to facilitate enormously how visualize geodata in 3D.

- pip installation works without further issues
- All test passed with a satisfactory coverage
- Most of the methods at least a short exp

[2019-06-05 08:10] mdavezac commented on #1446
I'd be happy to review it.

[2019-06-05 08:14] strengejacke commented on #1412
@whedon generate pdf

Just to check if the revised paper looks ok, a short in-between-built of the PDF...

[2019-06-05 08:14] whedon commented on #1412
[code]

[2019-06-05 08:15] whedon commented on #1412
PDF failed to compile for issue #1412 with the following error:

 Error producing PDF.
! Missing number, treated as zero.
<to be read again>
                   \futurelet
l.429 ...n the expression \texttt{x\ +\ I(x\^{}2)}

Looks like we failed to compile the PDF

[2019-06-05 08:18] csoneson commented on #1434
👋 @fauvernierma - just wondered if you could give us a status update on how the revision of your submission is going? Of course, please don't hesitate to reach out if you have questions!

[2019-06-05 08:35] strengejacke commented on #1412
@karthik Any ideas why compilation fails? It seems to be a code-block in markdown (`x + I(x^2)`) which causes the error, although when I build the PDF locally, it works fine.

[2019-06-05 08:39] fauvernierma commented on #1434
Hello @csoneson

The revision has been going quite well so far although I have to admit I did not anticipate the issue with the method paper. Speaking of which, the status of my revised manuscript now reads "With Editor" so it is just a matter of hours until I get the answer.
Hopefully the method paper will be accepted but it is also likely that I will have some other details to fix.

Meanwhile I

[2019-06-05 08:51] xuanxu commented on #1426
@Juanlu001 friendly ping :)

[2019-06-05 08:56] prisae commented on #1463
That is a good and timely question @emersodb. Since version 0.6.2 (so two days ago) I had a _CPU & RAM_ section in the docs, and a notebook to estimate memory. Given your question I expanded this section and also added a notebook to estimate runtime.

- Docs: https://emg3d.readthedocs.io/en/latest/cpu_and_ram.html
- Notebooks: `4a_RAM-requirements.ipynb` and `4b_Runtime.ipynb` on https://github.co

[2019-06-05 08:57] csoneson commented on #1434
Thanks for the update @fauvernierma. I think that's ok - I will ask whedon to send an automated reminder in 3 weeks, after your thesis deadline.

[2019-06-05 08:58] csoneson commented on #1434
@whedon remind @author in three weeks

[2019-06-05 08:58] whedon commented on #1434
@author doesn't seem to be a reviewer or author for this submission.