[2020-07-12 17:31] nicolet5 commented on #2477
A potential reviewer: Logan Ward (WardLT)

[2020-07-12 17:35] AnjaliSandip commented on #2369
I have posted the comments here:  https://github.com/kinnala/scikit-fem/issues/422

[2020-07-12 18:07] faroit commented on #2423
@gkthiruvathukal I could do that but computer vision is not my level of expertise. If you still can't find a suitable reviewer from a close field, just ping me

[2020-07-12 18:11] ziatdinovmax commented on #2423
@gkthiruvathukal Yes, I will be happy to help with a review.

[2020-07-12 20:15] arcuri82 commented on #2153
I am here going to reply to the 3 points raised by @mado89 in the previous post

1. In the 6 months that @mado89 has been a reviewer, 4 issues ([https://github.com/EMResearch/EvoMaster/issues](https://github.com/EMResearch/EvoMaster/issues)) were open: 169, 170, 177 and 178. Unless I missed it, nothing about Gradle was ever mentioned.  Adding an example of Gradle import of a library is pretty triv

[2020-07-12 20:28] arcuri82 commented on #2153
Gradle example has now been added to the [documentation](https://github.com/EMResearch/EvoMaster/blob/master/docs/write_driver.md).

[2020-07-12 20:38] arcuri82 commented on #2153
To clarify regarding OAuth: `If mentioned somewhere more prominent that OAuth is not supported than this could be ok for me`. As I wrote in [177](https://github.com/EMResearch/EvoMaster/issues/177), the fact that OAuth is not supported has been added to the documentation, in the section regarding Security. As I did not get any reply in 177, I thought it was OK. But I can add it now to the main rea

[2020-07-12 20:57] Kevin-Mattheus-Moerman commented on #1867
@rhenanbartels did you see my comments :point_up:

[2020-07-12 20:58] Kevin-Mattheus-Moerman commented on #2343
@whedon check references

[2020-07-12 20:59] whedon commented on #2343
[code]

[2020-07-12 20:59] Kevin-Mattheus-Moerman commented on #2343
@agahkarakuzu can you check those missing DOI's? :point_up:

[2020-07-12 21:01] Kevin-Mattheus-Moerman commented on #2343
@grlee77 just had a look at your unchecked boxes. "References" and "Contribution/authorship" are being dealt with. Can you summarize why "State of the field" is unchecked? Thanks!

[2020-07-12 21:02] Kevin-Mattheus-Moerman commented on #2343
@mfroeling how are you getting on with this review? Let me know if you have any questions.

[2020-07-12 21:05] rhenanbartels commented on #1867
Hi @Kevin-Mattheus-Moerman, yeah!

Thank you very much for the comments. I really liked the idea of creating a Jupyter Notebook with some real use cases. I am going to work on it and on the other suggestions during the following week.

Cheers!

[2020-07-12 21:06] Kevin-Mattheus-Moerman commented on #2121
@srmnitc @chennachaos this is just a friendly check in to see how you are getting on with this review.
@chennachaos I think you said "a couple of weeks" so perhaps you have not started yet. But let me know when you think you will or if things have changed. Thanks again for your help!

[2020-07-12 21:12] Kevin-Mattheus-Moerman commented on #2464
@kyleniemeyer this looks very interesting to me!! If others (e.g. @labarba or @meg-simula ? ) cannot take this to edit I'd be interested. Alternatively I can join as a reviewer.
Also folks from the Julia FEM community might be good candidates to serve as reviewers: https://github.com/JuliaFEM

I just wanted to point out their pre-print as well https://arxiv.org/abs/1910.01412

[2020-07-12 21:22] Kevin-Mattheus-Moerman commented on #2478
@ritagnunes can you fix those DOI's :point_up:, FYI you can run `@whedon generate pdf` here to update the paper, or run `@whedon check references` to check those DOI's. Thanks

[2020-07-12 21:24] Smattr commented on #2400
A couple of questions:
1. GPP appears to have no test suite, which is one of the items on the review checklist. However, in my experience it is extremely challenging to define a relevant suite of test cases for a tool as generic as this. In practice, taking bug reports from your users based on the bizarre and creative things they attempt with your tool is more fruitful and representative of real w

[2020-07-12 21:26] Kevin-Mattheus-Moerman commented on #2478
@mathieuboudreau, @grlee77 thanks for your help here! I look forward to seeing your review comments. I would like to point out that judging from the number of lines of code and the content of the repo this submission could be on the skinny side of what is typically accepted in JOSS. If you feel this submission is too minor (in terms of functionality, research application, etc) please do flag this

[2020-07-12 21:30] Kevin-Mattheus-Moerman commented on #2452
@vahid-sb, also Python is spelled wrong in the title and I suggest you rewrite the title and remove "Made in Tübingen"

[2020-07-12 21:48] ritagnunes commented on #2478
@whedon generate pdf

On Sun, 12 Jul 2020, 22:26 Kevin Mattheus Moerman, <notifications@github.com>
wrote:

[2020-07-12 21:49] whedon commented on #2478
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02478/joss.02478/10.21105.joss.02478.pdf)

[2020-07-12 22:16] grlee77 commented on #2343
State of the field was also addressed in their PR (discussion of existing diffusion-related software was added). I wasn't sure if I should wait until it was merged to check them off, but have gone ahead and checked them now so I don't hold up the review.

[2020-07-13 01:39] Christopher-Khan commented on #2475
@whedon commands

[2020-07-13 01:40] whedon commented on #2475
Here are some things you can ask me to do:

[code]

[2020-07-13 01:41] RCHG commented on #2374
I could review the manuscript but it will be my first time on JOSS so I have to learn about the process.

[2020-07-13 01:43] Christopher-Khan commented on #2475
@whedon list reviewers

[2020-07-13 01:43] whedon commented on #2475
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2020-07-13 01:47] dhhagan commented on #2374
No problem, @RCHG - feel free to ping me with any questions!

[2020-07-13 01:47] dhhagan commented on #2374
@whedon assign @RCHG as reviewer

[2020-07-13 01:47] whedon commented on #2374
OK, @RCHG is now a reviewer

[2020-07-13 01:48] dhhagan commented on #2374
@whedon add @hertzsprung as reviewer

[2020-07-13 01:48] whedon commented on #2374
OK, @hertzsprung is now a reviewer

[2020-07-13 01:49] dhhagan commented on #2374
@whedon start review

[2020-07-13 01:49] whedon opened #2479 "[REVIEW]: Alarconpy: a Python Package for Meteorologists"
**Submitting author:** @apalarcon (<a href="http://orcid.org/0000-0002-9454-2331">Albenis Pérez Alarcón</a>)
**Repository:** <a href="https://github.com/apalarcon/alarconpy/" target ="_blank">https://github.com/apalarcon/alarconpy/</a>
**Version:** v1.0.3
**Editor:** @dhhagan
**Reviewers:** @hertzsprung, @kgoebber
**Archive:** <a href="https://doi.org/10.5281/zenodo.4493257" target="_blank">10.528

[2020-07-13 01:49] whedon commented on #2374
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2479.

[2020-07-13 01:49] #2374 closed

[2020-07-13 01:49] whedon commented on #2479
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @RCHG, @hertzsprung it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2020-07-13 01:49] whedon commented on #2479
[code]

[2020-07-13 01:50] whedon commented on #2479
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02479/joss.02479/10.21105.joss.02479.pdf)

[2020-07-13 02:07] grlee77 commented on #2478
I have not done a real review yet, but based on a quick look, the primary contribution is the three files named `write_*.py` [in this folder](https://github.com/ritagnunes/PulseqDiffusion/tree/master/PulseqDiffusion). These files generate three different variants of a vendor-neutral diffusion MRI sequence using the PyPulseq tool I previously helped review for JOSS. There was already a basic EPI ex

[2020-07-13 02:27] nickrsan commented on #2292
Review complete - looks great to me and seems like a very valuable tool and contribution - I think the paper clearly states what capabilities the software provides that weren't previously available, and the software performs as expected on my computer.  Overall, it seems like it's in great shape.

@katmratliff I especially liked that the documentation had a tutorial section with multiple sets of c

[2020-07-13 02:31] Christopher-Khan commented on #2475
Potential Reviewers:
marouenbg
Markbasham
casperdcl
mskwark
krystophny
Scivision
MikeLydeamore
billchenxi

[2020-07-13 03:10] miketuri commented on #2183
Thank you @victorvalgenti and @mzszym for your reviews, and thank you @VivianePons for overseeing this and for your comments.  I have examined the review comments and agree that these will improve the software package.  I plan to complete updates on the paper, documentation, installation, tests, and example usage within one to two weeks.  Please let me know if you have any questions about this or

[2020-07-13 03:36] mado89 commented on #2153
@arcuri82 Perfect! I will try to have a look as soon as possible. Please ping me if you don't have a reply within 10 days

[2020-07-13 04:29] mattwthompson commented on #2373
A few little hiccups along the way, but hoping to finish up this week

[2020-07-13 04:31] bhatele commented on #2352
Started the review now.

[2020-07-13 04:56] pdebuyl commented on #2436
@jenzopr reminder for the review of "CancerSim: A python3 package for stochastic cancer simulation in 2D"

[2020-07-13 05:06] pdebuyl commented on #2454
@moorepants @jackbrookes would you review the article "PySocialForce: A Python Implementation of the Extended Social Force Model for Pedestrian Dynamics" for the Journal of Open Source Software?

[2020-07-13 05:35] hmacdope commented on #2373
@whedon commands

[2020-07-13 05:35] whedon commented on #2373
Here are some things you can ask me to do:

[code]

[2020-07-13 05:59] hmacdope commented on #2373
@salanne I have flagged the need for a contribution/community guidelines document in your GitLab repo. I will continue with my review in the mean time.

[2020-07-13 06:40] sjpfenninger commented on #2311
@whedon add @rafmudaf as reviewer

[2020-07-13 06:40] whedon commented on #2311
OK, @rafmudaf is now a reviewer

[2020-07-13 06:55] sjpfenninger commented on #2311
@whedon add @antviro as reviewer

[2020-07-13 06:55] whedon commented on #2311
OK, @antviro is now a reviewer

[2020-07-13 08:27] oliviaguest commented on #2340
@whedon generate pdf from branch joss-paper

[2020-07-13 08:27] whedon commented on #2340
[code]

[2020-07-13 08:27] oliviaguest commented on #2339
@whedon generate pdf

[2020-07-13 08:27] oliviaguest commented on #2394
@whedon generate pdf

[2020-07-13 08:27] whedon commented on #2340
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02340/joss.02340/10.21105.joss.02340.pdf)

[2020-07-13 08:28] whedon commented on #2339
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02339/joss.02339/10.21105.joss.02339.pdf)

[2020-07-13 08:28] oliviaguest commented on #2377
@whedon generate pdf

[2020-07-13 08:28] whedon commented on #2394
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02394/joss.02394/10.21105.joss.02394.pdf)

[2020-07-13 08:30] whedon commented on #2377
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02377/joss.02377/10.21105.joss.02377.pdf)

[2020-07-13 08:31] oliviaguest commented on #2340
@humanfactors I am happy with this and happy to accept now. Is there anything you want edit or add?

[2020-07-13 08:32] oliviaguest commented on #2340
Reviewers, @craddm, @anibalsolon, thank you so much for all your useful input here. 👏

[2020-07-13 08:48] logological commented on #2400
@smattr: According to the [review criteria](https://joss.readthedocs.io/en/latest/review_criteria.html), a fully automated test suite is not required.  It is acceptable to provide instead "documented manual steps that can be followed to objectively check the expected functionality of the software (e.g., a sample input file to assert behaviour)".  I believe that we've met this requirement by includ

[2020-07-13 08:48] oliviaguest commented on #2339
Awesome work all. So @Visdoom are you happy to move to publication? And thank you so much to @emptymalei, @mstimberg for their wonderful and useful feedback. 👏

[2020-07-13 08:51] oliviaguest commented on #2394
Thank you so much @wjakethompson for the review. @jflournoy would you be able to give us a rough ETA?

@OttaviaE are you currently making any edits, additions, etc? 😊

[2020-07-13 08:53] oliviaguest commented on #2377
@teamPSG are you making any edits at the moment for this? ☺️

[2020-07-13 08:54] OttaviaE commented on #2394
Hey @oliviaguest nope, not now. I edited the code as @wjakethompson (thank you =)) suggested, pushed the changes on GitHub and that's all so far.
Thanks!

[2020-07-13 08:59] chennachaos commented on #2121
Hi @Kevin-Mattheus-Moerman  I apologise for the delay.
I have started the review last week. I am completely occupied this week with other review reports. I will check the documentation and functionality next week. I will try my best to give the final recommendation by the end of this month.

[2020-07-13 09:18] JolleJolles commented on #2458
Dear @kyleniemeyer, thanks for your help. I have now updated ([commit](https://github.com/JolleJolles/pirecorder/commit/c2f23e4376c21bcafd6588e83650b258673644ab)) the paper to include a more explicit statement of need .

[2020-07-13 09:21] drj11 commented on #2400
@gkthiruvathukal to be perfectly honest it had dropped off my radar. However, I am proceeding with best speed this week.

[2020-07-13 09:33] oliviaguest commented on #2394
OK, let's give @jflournoy a week or so to reply and then I'll email him.

[2020-07-13 09:34] drj11 commented on #2400
@gkthiruvathukal The checkbox for LICENSE requires specifically a `LICENSE` file. This repository has a `COPYING` file, which clearly fulfills the same purpose (it is an older, GPL-era, convention). Should I file an issue to copy the text to `LICENSE`? This reviewer would probably prefer that the guidelines accept either.

[2020-07-13 10:00] spinicist commented on #2470
Hello,
I didn't get a chance to respond - as the others have kindly volunteered and I am very busy at the moment, I will decline this invitation. Thanks to @mathieuboudreau and @grlee77

[2020-07-13 10:07] teamPSG commented on #2377
@oliviaguest no, I have not touched the ms since my response to Steffen (17 days ago according to GitHub)

[2020-07-13 10:07] csaybar commented on #2272
Hi @hugoledoux sorry for the last reply. We are waiting for the response of @appelmar (r-spatial/rgee#70)!.

[2020-07-13 10:50] oliviaguest commented on #2377
OK, no problem and let us wait for the reviewers to get back to us. If they don't give a vague ETA within a week or so, I'll email them. ☺️

[2020-07-13 11:10] eloisabentivegna commented on #2468
@whedon assign @eloisabentivegna as editor

[2020-07-13 11:10] whedon commented on #2468
OK, the editor is @eloisabentivegna

[2020-07-13 11:26] nicholebarry commented on #2363
@sambit-giri,

The instrument papers for the MWA are [Tingay et al. 2013](https://ui.adsabs.harvard.edu/abs/2013PASA...30....7T/abstract) and [Wayth et al. 2018](https://ui.adsabs.harvard.edu/abs/2018PASA...35...33W/abstract) (Phase I and Phase II respectively). I suggest you cite those instead of Lonsdale et al. 2009.

[2020-07-13 11:37] sjpfenninger commented on #2311
@whedon start review

[2020-07-13 11:37] whedon opened #2480 "[REVIEW]: pyBEMT: An implementation of the Blade Element Momentum Theory in Python"
**Submitting author:** @kegiljarhus (<a href="http://orcid.org/0000-0002-4144-0454">Knut Erik Teigen Giljarhus</a>)
**Repository:** <a href="https://github.com/kegiljarhus/pyBEMT" target ="_blank">https://github.com/kegiljarhus/pyBEMT</a>
**Version:** v1.0
**Editor:** @sjpfenninger
**Reviewer:** @rafmudaf, @antviro
**Archive:** <a href="https://doi.org/10.5281/zenodo.4016951" target="_blank">10.52

[2020-07-13 11:37] whedon commented on #2311
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2480.

[2020-07-13 11:37] #2311 closed

[2020-07-13 11:37] whedon commented on #2480
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @rafmudaf, @antviro it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2020-07-13 11:38] whedon commented on #2480
[code]

[2020-07-13 11:38] whedon commented on #2480
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02480/joss.02480/10.21105.joss.02480.pdf)

[2020-07-13 11:38] sjpfenninger commented on #2311
@rafmudaf @antviro thanks for agreeing to review, and we understand that things may take a bit longer given the current circumstances. Let's head over to #2480 for the actual review!

[2020-07-13 11:38] lpantano commented on #2410
Hi @jkanche, @carleshf, would you like to review this tool? thanks!

[2020-07-13 11:42] humanfactors commented on #2340
Hi @oliviaguest. I've made a few minor tweaks on the master branch. I'll try build from that below.

I will just await my co-authors final check of this (should be tomorrow morning). Thank you!

[2020-07-13 11:43] humanfactors commented on #2340
@whedon generate pdf from branch master

[2020-07-13 11:43] whedon commented on #2340
[code]

[2020-07-13 11:43] sjpfenninger commented on #2480
@kegiljarhus just to remind you that some minor rewording of the paper is still waiting to happen as per your response in the pre-review issue:

[2020-07-13 11:43] whedon commented on #2340
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02340/joss.02340/10.21105.joss.02340.pdf)

[2020-07-13 11:44] katmratliff commented on #2292
@nickrsan I like your idea about including downloadable input files in the tutorial section. Feel free to open up an issue - you can also label it `type:docs` and assign me.

[2020-07-13 11:51] humanfactors commented on #2340
@whedon generate pdf from branch master

[2020-07-13 11:51] whedon commented on #2340
[code]

[2020-07-13 11:52] whedon commented on #2340
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02340/joss.02340/10.21105.joss.02340.pdf)

[2020-07-13 12:06] stulacy commented on #2264
I'll be able to review the R code but I don't have a Stata licence to review that software. Would that be an issue?

[2020-07-13 12:30] muhrin commented on #2351
Thanks @danielskatz.

Thank @dhhagan for your review.  To answer your points:

1.i) I'm running some benchmarks comparing kiwiPy with pika (the 'default' python library for interacting with RabbitMQ).  I'll post back with results shortly.

1.ii) Yes, this is the default.  KiwiPy (in the language of RMQ) uses persistent messages and durable queues/exchanges so it's like this out of the box.  We tri

[2020-07-13 12:52] sambit-giri commented on #2363
@whedon generate pdf

[2020-07-13 12:53] whedon commented on #2363
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02363/joss.02363/10.21105.joss.02363.pdf)

[2020-07-13 13:05] sambit-giri commented on #2363
@whedon generate pdf

[2020-07-13 13:06] whedon commented on #2363
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02363/joss.02363/10.21105.joss.02363.pdf)

[2020-07-13 13:08] sambit-giri commented on #2363
@nicholebarry We have updated it.

[2020-07-13 13:09] fmaguire commented on #2473
@whedon commands

[2020-07-13 13:09] whedon commented on #2473
Here are some things you can ask me to do:

[code]

[2020-07-13 13:20] drj11 commented on #2400
I am giving a generous amount of wiggle room for "non-specialist audience" because I don't believe that there really are any non-specialist audiences for macro pre-processors.

[2020-07-13 13:21] gkthiruvathukal commented on #2400
@drj11 Thanks for getting started!  That's why I provide the gentle nudge.  Regarding the LICENSE file, my interpretation is that it is required for the file to be named LICENSE. I tend to agree that there are traditions (e.g. GPL-era) but, for a journal, we want to see some degree of consistency among projects. I'm guessing a simple `git mv` will do the trick.

[2020-07-13 13:23] romainmartinez commented on #2431
Should be fixed in [#104](https://github.com/pyomeca/pyomeca/pull/104), thank you.

[2020-07-13 13:23] romainmartinez commented on #2431
@whedon generate pdf

[2020-07-13 13:24] whedon commented on #2431
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02431/joss.02431/10.21105.joss.02431.pdf)

[2020-07-13 13:25] gkthiruvathukal commented on #2400
@Smattr and @logological, regarding test suites, I agree that a full test suite can be painful. However, it does seem like script that checks a number of inputs against expected outputs would be more than appropriate. Based on a read of @logological's follow up, it sounds like this is indeed the approach he has taken.

Having done a lot of work on language front ends in the past and accompanying t

[2020-07-13 13:27] gkthiruvathukal commented on #2423
@whedon assign @ziatdinovmax as reviewer

[2020-07-13 13:27] whedon commented on #2423
OK, @ziatdinovmax is now a reviewer

[2020-07-13 13:31] gkthiruvathukal commented on #2423
@macrocosme Would you be willing to contribute a review for this JOSS submission? I need a second, since this is outside @faroit's expertise.

@faroit Even when not entirely your expertise, the goal is to know whether the software meets the JOSS criteria and can perform its mission successfully. I hope you'd be willing to be the second reviewer, if @macrocosme is not available.

[2020-07-13 13:32] gkthiruvathukal commented on #2356
@cmaimone Thank you for your quick response. I should have checked your reviewer workload first!

[2020-07-13 13:48] macrocosme commented on #2423
@gkthiruvathukal I will be happy to contribute a review for this JOSS submission.

[2020-07-13 13:48] TomGoffrey commented on #2182
@whedon generate pdf from branch origin/paper

[2020-07-13 13:48] whedon commented on #2182
[code]

[2020-07-13 13:48] whedon commented on #2182
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02182/joss.02182/10.21105.joss.02182.pdf)

[2020-07-13 13:51] logological commented on #2400
Yes, consistency is best.  But in this case it's JOSS which is the outlier: for 30-odd years it's been a de facto standard in the C-coding free software community (and a de jure standard for GNU packages) that licensing information goes in a file called `COPYING` (or `COPYING.LESSER` for LGPL-licensed projects).  The GNU Autotools, which is probably still the most common packaging system for C sof

[2020-07-13 13:53] diehlpk commented on #2455
@kyleniemeyer Sure, I can take it.

@whedon assign @diehlpk as editor

[2020-07-13 13:55] diehlpk commented on #2455
@whedon assign @diehlpk as editor

[2020-07-13 13:55] whedon commented on #2455
OK, the editor is @diehlpk

[2020-07-13 13:58] drj11 commented on #2400
I agree with @logological on the COPYING/LICENSE here. While GitHub is encouraging people to add LICENSE files, we should accept long-standard community practice that share the same goals. I note that the GitHub sidebar "knows" that the project is LGPL-3.0 licensed and links to the file called `COPYING`. So, even though GitHub documentation tell you to create a file called LICENSE, it still accept

[2020-07-13 14:01] gkthiruvathukal commented on #2400
@logological and @drj11,  I tend to agree this request merits consideration.

@openjournals/joss-eics  Please see the above regarding the LICENSE file issue. Our review guidelines don't expressly prohibit placing he license in COPYING, which is really part of the GNU/GPL tradition. What is the EICs' position on this?

[2020-07-13 14:01] drj11 commented on #2400
It's not really JOSS that's the outlier (or at least, JOSS is not alone in this outlier), it's really "the non-GNU internet". But @logological is right about 30 years of GNU-and-others tradition.

[2020-07-13 14:01] logological commented on #2400
Oh, and just to give some quick third-party evidence of this: I surveyed the `/usr/share/doc` directory tree for the official packages installed on my openSUSE system; `COPYING*` files outnumber `LICENSE*` files by about two to one.  Packages using `COPYING` are overwhelmingly C and C++ programs and libraries, while those using `LICENSE` tend to be written in Ruby, Rust, Perl, etc., or else do not

[2020-07-13 14:02] gkthiruvathukal commented on #2423
@whedon add @macrocosme as reviewer

[2020-07-13 14:02] whedon commented on #2423
OK, @macrocosme is now a reviewer

[2020-07-13 14:02] gkthiruvathukal commented on #2423
@whedon start review

[2020-07-13 14:02] whedon opened #2481 "[REVIEW]: PyMatting: A Python Library for Alpha Matting"
**Submitting author:** @99991 (<a href="http://orcid.org/0000-0003-1355-7724">Thomas Germer</a>)
**Repository:** <a href="https://github.com/pymatting/pymatting" target ="_blank">https://github.com/pymatting/pymatting</a>
**Version:** v1.0.7
**Editor:** @gkthiruvathukal
**Reviewer:** @ziatdinovmax, @macrocosme
**Archive:** <a href="https://doi.org/10.5281/zenodo.4081416" target="_blank">10.5281/ze

[2020-07-13 14:02] whedon commented on #2423
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2481.

[2020-07-13 14:02] #2423 closed

[2020-07-13 14:02] whedon commented on #2481
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ziatdinovmax, @macrocosme it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](ht

[2020-07-13 14:03] whedon commented on #2481
PDF failed to compile for issue #2481 with the following error:

 Can't find any papers to compile :-(

[2020-07-13 14:12] drj11 commented on #2400
The section on licensing in [the review criteria](https://joss.readthedocs.io/en/latest/review_criteria.html) says:

And this repository clearly meets the criteria even if it does not use a file called LICENSE. I think the checkpoint text should be changed to "Does the repository contain a plain-text license file with the contents of an OSI approved software license? Ideally in the file called `LI

[2020-07-13 14:23] elDan101 commented on #2283
@jsgalan @mtezzele

Thanks a lot for your review. We really appreciate you taking the time and giving us constructive feedback which helped us to improve the software.

[2020-07-13 14:24] faroit commented on #2446
@harpolea @lockepatton To check weather this software meets the JOSS criteria with respect to comparing it to other related packages, I found two other packages.

* https://www.sonification.com.au/sonipy/index.html
* https://github.com/interactive-sonification/pya

Both of them can be used for auditory display/sonification, which is the purpose of this software.
One of them (sonipy) even carries t

[2020-07-13 14:30] elDan101 commented on #2283
@whedon check references

[2020-07-13 14:30] whedon commented on #2283
[code]

[2020-07-13 14:31] elDan101 commented on #2283
@whedon generate pdf

[2020-07-13 14:31] whedon commented on #2283
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02283/joss.02283/10.21105.joss.02283.pdf)

[2020-07-13 14:33] diehlpk commented on #2455
Hey, @TheBeachLab @skreimeyer @dukenmarga @ebrahimraeyat @manparvesh @ipsumium would you be interested in reviewing this paper?

[2020-07-13 14:35] jkanche commented on #2410
I am happy to review this!

[2020-07-13 14:52] fboehm commented on #2474
Thank you, @janfreyberg ! Please feel free to mention me if you have questions or difficulties. Thanks again!!

[2020-07-13 14:54] elDan101 commented on #2283
@dfm

Thanks a lot for taking the time to edit our JOSS submission.

1. I merged your pull request and made a follow-up change in a literature reference by replacing an arXive preprint with a recent Journal publication, see [here](https://gitlab.com/datafold-dev/datafold/-/commit/d2f4623a4151672308350c6768a9ca7af68f60e0#fe49ea5851aa99adf0f2cbee4a85f7fe4e6d1603_151_151), and latest generated PDF.

[2020-07-13 15:12] sritchie commented on #2403
Hey @arokem, @lukasheinrich and @diehlpk - I responded a week ago with details here, but haven't heard anything back. Let me know if I can assist with anything!

[2020-07-13 15:13] gkthiruvathukal commented on #2400
@drj11 and @logological, it looks like our discussion has already resulted in a patch! So please proceed with the rest of the review. COPYING is a valid license file now!

[2020-07-13 15:19] drj11 commented on #2400
I have the same References question as @Smattr . Since ·whedon helpfully compiles the PDF, should we be looking at the references as they appear in the PDF and not the `.bib` file?

[2020-07-13 15:25] mtezzele commented on #2283
Thank you all.
Have a nice Summer!

[2020-07-13 15:28] kthyng commented on #2433
Yes! I can do this, sorry for the delay. I'll get started today but am traveling so will be slow this week and possibly the next few.

[2020-07-13 15:28] kthyng commented on #2433
@whedon assign @kthyng as editor

[2020-07-13 15:28] whedon commented on #2433
OK, the editor is @kthyng

[2020-07-13 15:32] dfm commented on #2283
@whedon set 10.5281/zenodo.3941904 as archive

[2020-07-13 15:32] whedon commented on #2283
OK. <a href="https://doi.org/10.5281/zenodo.3941904" target="_blank">10.5281/zenodo.3941904</a> is the archive.

[2020-07-13 15:32] dfm commented on #2283
@whedon set <v1.0.2> as version

[2020-07-13 15:32] whedon commented on #2283
OK. <v1.0.2> is the version.

[2020-07-13 15:32] dfm commented on #2283
@whedon set v1.0.2 as version

[2020-07-13 15:32] whedon commented on #2283
OK. v1.0.2 is the version.

[2020-07-13 15:34] dfm commented on #2283
@whedon accept

[2020-07-13 15:34] whedon commented on #2283
[code]

[2020-07-13 15:34] whedon commented on #2283
[code]

[2020-07-13 15:34] edwardando commented on #2286
@kyleniemeyer This proof is final and is good for us to go.

[2020-07-13 15:35] whedon commented on #2283
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1565

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1565, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-13 15:35] gkthiruvathukal commented on #2400
@drj11 Yes, please check both the .bib and the PDF. If there is a problem with the entry or its rendering, it needs to be reported as an issue.

[2020-07-13 15:40] kthyng commented on #2433
Hi @chadagreene and @castelao! Are you available to review this submission for JOSS? We're asking for reviews within 6 weeks, given the global pandemic. You can find more information about the process here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-07-13 15:44] kthyng commented on #2433
/ooo July 13 until July 20

[2020-07-13 15:48] ebgoldstein commented on #2341
Hi @pfeiffea — I'm walking through the tutorials now. They are very good. Two things so far:

1) in the index to Landlab notebooks, Network Sediment Transporter is listed twice. Here is a screenshot:
<img width="432" alt="Screen Shot 2020-07-13 at 11 39 56 AM" src="https://user-images.githubusercontent.com/5330599/87324370-ff774d00-c4fd-11ea-96b8-c73a230d3c0e.png">

2) I have walking through the N

[2020-07-13 16:26] moorepants commented on #2454
Sorry I'm committed to review a JOSS article already.

[2020-07-13 17:01] usethedata commented on #2364
I'm working on getting reviewers.  Requests sent out via email.

On the issue with the location identifiers, my particular background makes me aware of the kinds of issues that come up when people have to input information (like typing in a location number) and single character errors result in valid, but incorrect results.  By this, I mean that (for example) 08 and 09 are both valid, but differen

[2020-07-13 17:09] aureliocarnero commented on #2363
Dear @sambit-giri , I cannot find any reference in the github (or in the documentation) to:

Community guidelines: Are there clear guidelines for third parties wishing to 1) Contribute to the software 2) Report issues or problems with the software 3) Seek support

So far I cannot evaluate this. I recommend you put this guidelines in the github repo README and possibly in the readthedocs.
To give y

[2020-07-13 17:44] ebgoldstein commented on #2341
Ok, I have made it through the paper, docs, tutorials, and repo. The code works as described, and is well served by 4 tutorial notebooks. I think users will be able to understand the working of the code and how to modify it for their given use case. To my eye, this is a nice addition to Landlab,

I have one suggestion: The module described is in some sense a computational replication of Czuba 2018

[2020-07-13 17:45] ma-sadeghi commented on #2349
@mdmurbach From your repository, I see that there are 7 people who have contributed 1000+ lines of code, but I only see 4 people named as co-authors of the paper. Is that right?

[2020-07-13 17:55] ma-sadeghi commented on #2349
Hi @mbobra, I have a question for you: does the writing have to be strictly formal, or a few informalities here and there are acceptable?

[2020-07-13 17:56] mdmurbach commented on #2349
Hi @ma-sadeghi, thanks for your time with the review!

Yes, you're right. If you look at the timeline/content of the commits ([1](https://github.com/ECSHackWeek/impedance.py/commits?author=Jbonezzi22), [2](https://github.com/ECSHackWeek/impedance.py/commits?author=dacb), [3](https://github.com/ECSHackWeek/impedance.py/commits?author=pangq2)) for the 3 folks who are not listed as authors, they were

[2020-07-13 17:57] joethorley commented on #2319
@Kevin-Mattheus-Moerman Is it possible to respond to our questions?

[2020-07-13 18:09] ma-sadeghi commented on #2412
- [ ] Documentation (keurfonluu/toughio#60)
- [ ] Automated testing (keurfonluu/toughio#59)

[2020-07-13 18:11] ma-sadeghi commented on #2349
@mdmurbach Sure, I completely understand. I just wanted to make sure this was not by mistake.

[2020-07-13 18:13] ma-sadeghi commented on #2349
Hi @mbobra, apart from this, it should be good to go. Well done @mdmurbach!

[2020-07-13 18:16] diehlpk commented on #2403
Hey @sritchie I think you are fine and the reviewers will proceed with their review. Normally, the review time is about 6 weeks, since we asked the reviewers to finish their review within 6 weeks.

[2020-07-13 18:47] story645 commented on #1989
thanks @rgerum for your incredible patience, I think the paper is much clearer now. Two more suggestion and then I think it's ready for publication
missing word: "from this dependency a  object? is generated"
& I think
"when a file with automatically generated code is loaded, pylustrator splits all the ..." might be a drop clearer if you refer back to figure 1 here to explain what this means.

[2020-07-13 18:52] pdebuyl commented on #2454
Thank you @moorepants for the quick reply!

[2020-07-13 19:19] lnferris commented on #2433
@whedon generate pdf

[2020-07-13 19:20] whedon commented on #2433
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02433/joss.02433/10.21105.joss.02433.pdf)

[2020-07-13 19:24] kbarnhart commented on #2292
Thanks @nickrsan for completing your review, making issues in the repository, and providing a summary here.

@jrkasprzyk, @dickinsonre a friendly reminder to complete your review and/or provide a quick update here on when you anticipate being able to complete it.

Thanks to all for contributing to the JOSS review process.

[2020-07-13 19:24] kyleniemeyer commented on #2286
Great, thanks @edwardando!

[2020-07-13 19:24] kyleniemeyer commented on #2286
@whedon accept

[2020-07-13 19:24] whedon commented on #2286
[code]

[2020-07-13 19:25] whedon commented on #2286
[code]

[2020-07-13 19:25] whedon commented on #2286
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1566

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1566, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-13 19:26] kyleniemeyer commented on #2286
@whedon accept deposit=true

[2020-07-13 19:27] whedon commented on #2286
[code]

[2020-07-13 19:28] whedon commented on #2286
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1282758723291828225) 👈 🐦🐦🐦

[2020-07-13 19:28] whedon commented on #2286
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1567
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02286](https://doi.org/10.21105/joss.02286)
2. If everything looks g

[2020-07-13 19:28] lpantano commented on #2410
@whedon add @jkanche as reviewer

[2020-07-13 19:28] whedon commented on #2410
OK, @jkanche is now a reviewer

[2020-07-13 19:29] kyleniemeyer commented on #2286
Congrats @edwardando on your article's publication in JOSS!

Many thanks to @Shuang-Plum and @jwbuurlage for reviewing this, and @usethedata for editing.

[2020-07-13 19:29] #2286 closed

[2020-07-13 19:30] whedon commented on #2286
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02286/status.svg)](https://doi.org/10.21105/joss.02286)

**We need your help!**

Journal of Open Source Softwa

[2020-07-13 19:30] pdebuyl commented on #2454
@ixjlyons would you review the article "PySocialForce: A Python Implementation of the Extended Social Force Model for Pedestrian Dynamics" for the Journal of Open Source Software?

[2020-07-13 19:34] kbarnhart commented on #2276
@KevinShook and @r-barnes @awickert @KCallaghan

I wanted to write a quick message to check in and provide some guidance regarding the JOSS process. As best as I can tell the reviewers have been quite thorough and have opened many issues in the source repository as part of their reviews.

At this point, the next step is for the authors to address these issues and close them when completed. If the

[2020-07-13 19:37] KevinShook commented on #2276
Thanks very much, this is very helpful for understanding the process.
We'll work on addressing the issues raised.

[2020-07-13 19:38] Ohjeah commented on #2290
@darioizzo Thanks! Have you looked into [environment files](https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html#create-env-file-manually).

I am only missing the Community guidelines. A good example would be using Github issue templates and a paragraph in the Readme similar to this project: https://github.com/BartoszBartmanski/StoSpa2

[2020-07-13 19:38] kyleniemeyer commented on #2283
Hi @elDan101, just one last thing: I noticed that the Abadi 2015 citation appears to be missing some details. Can you update?

[2020-07-13 19:39] ixjlyons commented on #2454
@pdebuyl sure, I'd be happy to review.

[2020-07-13 19:59] pdebuyl commented on #2454
Thank you @ixjlyons

[2020-07-13 19:59] pdebuyl commented on #2454
@whedon assign @ixjlyons as reviewer

[2020-07-13 19:59] whedon commented on #2454
OK, @ixjlyons is now a reviewer

[2020-07-13 20:00] pdebuyl commented on #2454
The review will occur in a second github issue page once we have a second reviewer

[2020-07-13 20:09] rgerum commented on #1989
Thanks for the additional feedback to improve the paper. I changed these two formulations now. I hope that everything is clear now.

[2020-07-13 20:09] rgerum commented on #1989
@whedon generate pdf

[2020-07-13 20:10] whedon commented on #1989
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01989/joss.01989/10.21105.joss.01989.pdf)

[2020-07-13 20:22] elDan101 commented on #2283
Hi @kyleniemeyer , I copied the citation from this official tensorflow [page](https://www.tensorflow.org/about/bib). I am not sure how to fill the missing information. There is also an [arXiv version](https://arxiv.org/abs/1603.04467) but this only adds an arXiv identifier. If it is okay with you, I could swap the citation to this paper https://dl.acm.org/doi/10.5555/3026877.3026899 (it's the seco

[2020-07-13 20:35] story645 commented on #1989
Awesome! I approve for publication.

[2020-07-13 20:40] kyleniemeyer commented on #2283
@elDan101 got it, I think the issue is that the "Software available from tensorflow.org." field was missing. It's totally fine to have a software citation here.

Maybe the best thing would be to add that info via the `Note` field, and then *also* cite the paper.

[2020-07-13 20:49] jgostick commented on #2412
Hi @ma-sadeghi Automated testing is not always necessary, since someone can write solid scientific code that does not know how to automate their testing.  The only requirement is that there is some sort of testing, like a script with several cases in it...more like un-automated integration tests.  Given this, do you still think they need to address the testing part?

[2020-07-13 21:04] ma-sadeghi commented on #2412
@jgostick I was just following the JOSS checklist (in which "Automated tests" is listed)

Anyways, it turns out they do have automated testing, the badge was just not showing up, which is now fixed. It's all good now.

[2020-07-13 21:05] afeinstein20 commented on #2347
Hi @pearsonkyle Thanks for your review! I'm addressing your comments below:

**Software**
- I've included the loaded model as an attribute in the `stella.ConvNN.predict()` function. I've also added a demonstration on how to access the model summary, which includes information on the CNN layers, sizes, input shapes, etc. in the [Quickstart Tutorial](http://adina.feinste.in/stella/getting_started/sh

[2020-07-13 21:39] edwardando commented on #2286
Thanks very much, very smooth process and we're very happy to have published here!
Thanks to reviewers and editor!

[2020-07-13 22:25] karthik commented on #2273
Apologies @cmaimone. I'm just waiting on the second reviewer. As soon as that person is assigned I'll start.

[2020-07-13 22:26] karthik commented on #2273
👋 @DASpringate Any chance you can serve as second reviewer for this submission?

[2020-07-13 22:38] njtierney commented on #2379
An update: I am in the process of review right now, but I have a few suggestions, collating these together will take me a bit longer than anticipated, I'll touch base later this week.

[2020-07-13 22:41] mjsottile commented on #2426
:wave: @nnadeau, @NitinJSanket, @jizecn  Would you be interested in reviewing this submission for JOSS?  We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2020-07-13 22:42] mjsottile commented on #2426
@kaustubh-sadekar apologies for the delay - I was unexpectedly distracted for a few days and am just getting to my backlog of tasks.

[2020-07-13 23:11] hmacdope commented on #2373
@salanne please find my review below.

I found this to be a well written and comprehensive piece of software for performing MD simulations of electrochemical systems. Metalwalls includes several unique algorithms not commonly used in other packages that are well suited to simulation of electrochemical systems, and these are highlighted in the   paper. The author list is comprehensive and represent

[2020-07-13 23:13] geoffbacon commented on #2439
Finished my review. Like @proycon,  I find htmldate to be a useful utility library with a clear motivation. I particularly appreciated the evaluation suite that tests the library against numerous other existing solutions.

[2020-07-13 23:16] kakiac commented on #2471
Sure, @kyleniemeyer happy to edit this!

@whedon assign me as editor

[2020-07-13 23:16] kakiac commented on #2471
@whedon assign me as editor

[2020-07-13 23:16] whedon commented on #2471
OK, the editor is @kakiac

[2020-07-13 23:20] danielskatz commented on #2439
Thanks @geoffbacon

[2020-07-13 23:20] danielskatz commented on #2439
@whedon generate pdf

[2020-07-13 23:21] whedon commented on #2439
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02439/joss.02439/10.21105.joss.02439.pdf)

[2020-07-13 23:21] danielskatz commented on #2439
@whedon check references

[2020-07-13 23:22] whedon commented on #2439
[code]

[2020-07-13 23:35] kakiac commented on #2471
👋  @ysohn thanks for your submission to JOSS! 🥳

I think I would like us to work on @kyleniemeyer 's comments above: https://github.com/openjournals/joss-reviews/issues/2471#issuecomment-656894068 before I pass this on to reviewers to review, as it will substantially improve the submission before they review it. Will you be able to address them?

See for example this paper for an example of what a

[2020-07-13 23:44] danielskatz commented on #2439
@adbar- to finish this process, I've suggested some changes to the paper in https://github.com/adbar/htmldate/pull/15
Please also fix the references, for example the booktitle in Hamborg et al. has some incorrect cases, as does at least on python (that should be Python).  Please check all the references carefully, and use {}s in the bibtex to protect cases.

Then use `@whedon generate pdf` to rege

[2020-07-14 00:07] lukestrickland commented on #2340
@humanfactors This all looks ready to me. Thank you @craddm @anibalsolon @oliviaguest

[2020-07-14 00:14] kakiac commented on #2471
👋  @akbaritabar @marcwilliams1 @martinmodrak @ejolly would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2020-07-14 00:16] kakiac commented on #2471
👋  @marcjwilliams1 would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2020-07-14 01:52] fmaguire commented on #2473
## Overview

In this tool the author's provide an R package that generates some potentially useful diagnostic plots for AMR researchers with limited data analysis/visualisation experience and an interest in carbapenemase genes.
Unfortunately, the utility of this tool is currently hampered by its lack of modularity, choice of AMR database, and limited ease of installation/dependency management.
Whi

[2020-07-14 02:01] jeffcsauer commented on #2450
@jaeyk thanks for the additional input! I will am working on bullet point 2 and will get back to you in a few days when done.

Quick question regarding bullet point 1. Should I add an additional 'Citations' section in the `paper.md` file that is commented out? The above article preview generated by Whedon appears to be generating a correct and completed 'Citations' section. Apologies for my confus

[2020-07-14 03:11] jaeyk commented on #2450
@jeffcsauer Then, disregard my comment on adding "Citations" section. Sorry for making you confused about this. (Honestly, I didn't know that that section is auto-generated.)

[2020-07-14 04:09] ramadatta commented on #2473
@fmaguire  We sincerely appreciate for your comprehensive review. We will go through each of them and come back at the earliest. Thank you!

[2020-07-14 04:10] humanfactors commented on #2340
Perfect thankyou @lukestrickland ! I have no further changes @oliviaguest, happy to progress this. Yet again, appreciative of your time and effort. Kind regards.

[2020-07-14 04:21] galessiorob commented on #2449
Thank you so much for your review @gweissman! ⚡ I am looking into policies regarding [this comment](https://github.com/openjournals/joss-reviews/issues/2449#issuecomment-655755325), I'll update the issue with my findings.

@jsgalan checking in, I know you started the review back in the pre-review issue, feel free to copy over your comments and start checking off the list at the top assigned to you

[2020-07-14 04:29] galessiorob commented on #2448
@whedon add  @mbdemoraes as reviewer

[2020-07-14 04:29] whedon commented on #2448
OK,  @mbdemoraes is now a reviewer

[2020-07-14 04:32] kaustubh-sadekar commented on #2426
@mjsottile no worries at all. I totally understand.

[2020-07-14 04:33] galessiorob commented on #2448
👋 @mbdemoraes and @nnadeau this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

Our goal is to work with the authors to help t

[2020-07-14 05:09] dpsanders commented on #2355
👋 @eduPH, @mdavezac and @adibender: Would any of you be available and able to review this submission to JOSS? Thanks!

[2020-07-14 05:24] dpsanders commented on #2239
👋 @sp94: Sorry for the delay here. I think it would be good to include some simple code in the paper showing how to produce one of the figures. You can use one of the examples from the readme.

Please have a look at the [new submission requirements](https://joss.readthedocs.io/en/latest/submitting.html). In particular, there is now a requirement for an explicit "statement of need".

In the paper i

[2020-07-14 05:47] castelao commented on #2433
Hi @kthyng , I'm not a regular Matlab user for a long time now but I still do a few bits when necessary. Therefore, I won't be able to evaluate it as a modern Matlab way of doing things. If that's fine, I can review this submission.

[2020-07-14 05:59] dpsanders commented on #2239
Also test coverage seems rather low. I suggest you use `@testset`s. You can use an automated service like `coveralls.io` to check test coverage.

[2020-07-14 06:10] elDan101 commented on #2283
@whedon check references

[2020-07-14 06:10] whedon commented on #2283
[code]

[2020-07-14 06:13] elDan101 commented on #2283
@kyleniemeyer I followed your suggestion and included both the note and the other paper in the references ([commit](https://gitlab.com/datafold-dev/datafold/-/commit/ffd37d491d38495679dbc78c1b7bf41e4ac1176c#fe49ea5851aa99adf0f2cbee4a85f7fe4e6d1603_338_338) to master).

[2020-07-14 06:40] 99991 commented on #2481
@whedon generate pdf from branch joss-submission

[2020-07-14 06:40] whedon commented on #2481
[code]

[2020-07-14 06:41] whedon commented on #2481
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02481/joss.02481/10.21105.joss.02481.pdf)

[2020-07-14 07:07] pmkruyen commented on #2354
Hi @gcdeshpande, thank you for your willingness to review my submission.

For your information, inspired by @cMadan 's initial suggestions, I took the opportunity-while my submission still being in 'pre-review'-to write a sample php script to let DearScholar communicate with the server (`dearscholar.php`). Also, I wrote a php file to set up a sample study (`samplestudy.php`). Both files are in the

[2020-07-14 07:36] akbaritabar commented on #2471
@kakiac Thanks for reaching out. I will try and do my best for the review (with my limited knowledge, of course).

[2020-07-14 07:42] kyleniemeyer commented on #2283
@whedon generate pdf

[2020-07-14 07:43] whedon commented on #2283
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02283/joss.02283/10.21105.joss.02283.pdf)

[2020-07-14 07:43] mdavezac commented on #2355
Apologies, I'm currently involved in another JOSS review and in crunch time in other things.

[2020-07-14 07:43] kyleniemeyer commented on #2283
@whedon accept

[2020-07-14 07:43] whedon commented on #2283
[code]

[2020-07-14 07:44] whedon commented on #2283
[code]

[2020-07-14 07:44] whedon commented on #2283
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1568

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1568, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-14 07:46] RaphaelS1 commented on #2355
@adibender and I are collaborators on other projects so probably not a fair reviewer here unfortunately

[2020-07-14 07:50] kyleniemeyer commented on #2283
@whedon accept deposit=true

[2020-07-14 07:50] whedon commented on #2283
[code]

[2020-07-14 07:51] whedon commented on #2283
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1282945924608786434) 👈 🐦🐦🐦

[2020-07-14 07:52] whedon commented on #2283
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1569
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02283](https://doi.org/10.21105/joss.02283)
2. If everything looks g

[2020-07-14 07:54] mikldk commented on #2383
@daviddewhurst, @ihrke: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2020-07-14 07:54] kyleniemeyer commented on #2283
Congrats @elDan101 on your article's publication in JOSS!

Many thanks to @jsgalan and @mtezzele for reviewing this, and @dfm for editing.

[2020-07-14 07:54] #2283 closed

[2020-07-14 07:54] whedon commented on #2283
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02283/status.svg)](https://doi.org/10.21105/joss.02283)

**We need your help!**

Journal of Open Source Softwa

[2020-07-14 08:02] mikldk commented on #2388
@hope-data-science Thanks. I believe that @rcannood will now continue the review (note that many now has holiday which may also be true for @tomsing1).

[2020-07-14 08:02] mikldk commented on #2306
@whedon generate pdf

[2020-07-14 08:03] mikldk commented on #2306
@whedon check references

[2020-07-14 08:03] whedon commented on #2306
[code]

[2020-07-14 08:08] mdavezac commented on #2307
@MikeHeiber, I'm not sure what to say. Here are two random reviewers and both found that the build did not go without a hitch... You may be overestimating the time it would take to convert to a modern build system. For a project this size and with so few dependencies, it would not be much more time then re-inventing compiler/mpi detection in GNU Make. In any case, are you planning to **investigate

[2020-07-14 08:12] mikldk commented on #2306
@DominiqueMakowski :

* Please add DOI 10.18637/jss.v046.i11 for `@langfelder2012fast`
* Please have a final read though of the paper, checking language etc.
* Have a final check of the proofs with `@whedon generate pdf`
* Please make a tagged release and archive (e.g. with [Zenodo](https://zenodo.org/)), and report the version number and archive DOI in this thread. Please verify that the archive

[2020-07-14 08:19] nbarlowATI commented on #2364
Hi @usethedata
thanks, yes, this is an excellent point, and I have fallen victim to this myself (changing the number in one place but not the corresponding output location...).
For our production run for the paper we're working on, we plan to mitigate this by scripting the workflow, from generation of the config files that define inputs and outputs, to the upload of the results to an open source r

[2020-07-14 08:27] will-rowe commented on #2473
Thanks @fmaguire - that's an excellent review.

@ramadatta - feel free to begin working on these points now. @boasvdp will also be providing feedback so please keep an eye out for that too.

I'm due to go on annual leave for a week next week. I'll check back in here when I'm back but please ping another editor if you need assistance next week.

[2020-07-14 08:36] DominiqueMakowski commented on #2306
@whedon generate pdf

[2020-07-14 08:37] whedon commented on #2306
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02306/joss.02306/10.21105.joss.02306.pdf)

[2020-07-14 08:46] DominiqueMakowski commented on #2306
Dear @mikldk, regarding the first point, as mentioned [here](https://github.com/easystats/correlation/issues/87), we weren't able to find a DOI for this ref.

We checked the paper and the metadata.

The zenodo release version is 0.3.0 and its number: **10.5281/zenodo.3943771** (https://zenodo.org/record/3943771).

Thanks a lot.

[2020-07-14 09:09] EduPH commented on #2355
I am sorry but Im really busy these days.

[2020-07-14 09:11] mmrabe commented on #2306
@DominiqueMakowski
The DOI `10.18637/jss.v046.i11` that @mikldk mentioned is listed under the URL linked in the [package citation](https://cran.r-project.org/web/packages/flashClust/citation.html). Also, while looking at the bibliography again, could you maybe escape all occurences of {R} in your .bib so that it appears in upper case in the rendered version?

[2020-07-14 09:16] DominiqueMakowski commented on #2306
@whedon generate pdf

[2020-07-14 09:16] DominiqueMakowski commented on #2306
Apologies, I misread this and missed the DOI given by @mikldk ☺️

It should be done, thansk a lot @mmrabe !!

[2020-07-14 09:17] whedon commented on #2306
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02306/joss.02306/10.21105.joss.02306.pdf)

[2020-07-14 09:19] DominiqueMakowski commented on #2306
@whedon generate pdf

[2020-07-14 09:20] whedon commented on #2306
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02306/joss.02306/10.21105.joss.02306.pdf)

[2020-07-14 09:26] ramadatta commented on #2473
@will-rowe Sure. Thank you very much!

[2020-07-14 09:35] sambit-giri commented on #2363
@aureliocarnero Thank you for the recommendation.
We have added a brief text about "contributing" in README.md and added the directed users to the detailed description in the documentation: https://tools21cm.readthedocs.io/contributing.html

[2020-07-14 09:38] oliviaguest commented on #2340
Great! Can you archive the code please at your favourite place to do so, so create an archive (on Zenodo, figshare, or other) and post the archive DOI here? ☺️

[2020-07-14 09:39] oliviaguest commented on #2340
@whedon check references

[2020-07-14 09:39] oliviaguest commented on #2340
@whedon check repository

[2020-07-14 09:39] whedon commented on #2340
[code]

[2020-07-14 10:26] muhrin commented on #2351
Dear @dghoshal-lbl ,

I'm writing back to share changes addressing the points you've raised.

* https://github.com/aiidateam/kiwipy/pull/72
Adds instructions on how to run the tests which can be seen live [here](https://kiwipy.readthedocs.io/en/latest/installation.html#building-from-source).

* https://github.com/aiidateam/kiwipy/pull/73
Adds benchmarks to the testing suite and a description on my

[2020-07-14 10:26] hugoledoux commented on #2365
I see that @leouieda is not taking this one up? I could do this, I teach stuff related to this, it's in my area. Let me know.

[2020-07-14 10:28] marcosvital commented on #2447
Hi, @joethorley. I agree: having a clear way to report issues or problems is enough.

But now that you mentioned it, I think that a small modification could be helpful: users should be pointed to CONTRIBUTING.md, since there are detailed instructions on how to file an issue there. Currently, if someone reads the issues statement alone, it's not possible to know that there are more instructions und

[2020-07-14 10:39] marcosvital commented on #2342
Dear @synchon @pstjohn and @jdbrunner

Thank you all very much for reviewing this submission. If you feel that all issues you have raised are sufficiently addressed, we will soon move on to publication.

[2020-07-14 10:41] DominiqueMakowski commented on #2306
@mikldk I think everything's in order :)

[2020-07-14 10:48] marcosvital commented on #2458
Hi, @kyleniemeyer! Yes, I can edit this submission.

[2020-07-14 10:48] marcosvital commented on #2458
@whedon assign @marcosvital as editor

[2020-07-14 10:48] whedon commented on #2458
OK, the editor is @marcosvital

[2020-07-14 10:50] danielskatz commented on #2365
Great, thanks!

[2020-07-14 10:50] danielskatz commented on #2365
@whedon assign @hugoledoux as editor

[2020-07-14 10:50] whedon commented on #2365
OK, the editor is @hugoledoux

[2020-07-14 10:50] JonasRieger commented on #2181
In my opinion, the review should be complete. What should I do next?

[2020-07-14 11:04] mikldk commented on #2306
@whedon set 10.5281/zenodo.3943771 as archive

[2020-07-14 11:04] whedon commented on #2306
OK. <a href="https://doi.org/10.5281/zenodo.3943771" target="_blank">10.5281/zenodo.3943771</a> is the archive.

[2020-07-14 11:05] mikldk commented on #2306
@whedon set <v0.0.3> as version

[2020-07-14 11:05] whedon commented on #2306
OK. <v0.0.3> is the version.

[2020-07-14 11:05] mikldk commented on #2306
@whedon set v0.0.3 as version

[2020-07-14 11:05] whedon commented on #2306
OK. v0.0.3 is the version.

[2020-07-14 11:05] mikldk commented on #2306
@whedon generate pdf

[2020-07-14 11:06] whedon commented on #2306
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02306/joss.02306/10.21105.joss.02306.pdf)

[2020-07-14 11:27] appelmar commented on #2272
No need to wait, all good from my side!

[2020-07-14 11:32] DominiqueMakowski commented on #2306
@mikldk please note that the version is 0.3.0 (I think you entered 0.0.3)

[2020-07-14 11:40] adbar commented on #2439
@proycon @geoffbacon thank you for your feedback!

@danielskatz thank you for the suggestions and the guidelines, I'll proceed as instructed above.

[2020-07-14 11:40] mikldk commented on #2306
@whedon set v0.3.0 as version

[2020-07-14 11:40] whedon commented on #2306
OK. v0.3.0 is the version.

[2020-07-14 11:47] boasvdp commented on #2473
Hi all,

I'm on annual leave at this moment, but will be back in a week. I'll do the review before the end of next week (July 24).

@ramadatta Are there any specific things you'd like extra feedback/attention on?

[2020-07-14 11:50] blsqr commented on #2316
@lorenanicole We added some minor changes to the manuscript and the documentation, updating references, fixing some small grammar issues, and adding another link regarding the `conda`-based installation of dantro. For details, see [the corresponding commits](https://ts-gitlab.iup.uni-heidelberg.de/utopia/dantro/-/merge_requests/163/commits).

I will let `@whedon` create another preview of the pape

[2020-07-14 11:50] blsqr commented on #2316
@whedon generate pdf from branch add-joss-paper

[2020-07-14 11:50] whedon commented on #2316
[code]

[2020-07-14 11:51] whedon commented on #2316
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02316/joss.02316/10.21105.joss.02316.pdf)

[2020-07-14 11:53] srmnitc commented on #2121
@Kevin-Mattheus-Moerman Thanks for checking in. My review is under way, I just got really delayed due to other obligations. I am so sorry about this. But I can confirm I will finish the review this week itself.

[2020-07-14 12:04] arfon commented on #2306
@whedon check references

[2020-07-14 12:05] whedon commented on #2306
[code]

[2020-07-14 12:14] ramadatta commented on #2473
@boasvdp Thank you very much! Nothing specific for me at the moment. Will begin working on with @fmaguire points.

[2020-07-14 12:14] mikldk commented on #2306
@whedon check references

[2020-07-14 12:15] mikldk commented on #2306
@whedon generate pdf

[2020-07-14 12:15] whedon commented on #2306
[code]

[2020-07-14 12:16] mikldk commented on #2306
@whedon generate pdf

[2020-07-14 12:17] whedon commented on #2306
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02306/joss.02306/10.21105.joss.02306.pdf)

[2020-07-14 12:24] mikldk commented on #2306
@whedon accept

[2020-07-14 12:24] whedon commented on #2306
[code]

[2020-07-14 12:25] whedon commented on #2306
[code]

[2020-07-14 12:26] whedon commented on #2306
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1570

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1570, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-14 12:41] jdbrunner commented on #2342
Yep, I'm satisfied!

[2020-07-14 12:43] NicolasHug commented on #2174
@whedon generate pdf from branch joss_paper

[2020-07-14 12:43] whedon commented on #2174
[code]

[2020-07-14 12:45] whedon commented on #2174
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02174/joss.02174/10.21105.joss.02174.pdf)

[2020-07-14 12:51] Midnighter commented on #2342
At @marcosvital, one of the references which is cited as a pre-print was recently accepted. I would like to edit that reference before publication when I have the full information.

[2020-07-14 12:53] NicolasHug commented on #2174
@whedon generate pdf from branch joss_paper

[2020-07-14 12:54] whedon commented on #2174
[code]

[2020-07-14 12:55] whedon commented on #2174
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02174/joss.02174/10.21105.joss.02174.pdf)

[2020-07-14 12:56] NicolasHug commented on #2174
Thanks again everyone! I have updated the paper with a section on related libraries, as suggested by @sara-02 .

[2020-07-14 13:09] terrytangyuan commented on #2174
👋 @sara-02 Could you review again when you get a chance? Thanks!

[2020-07-14 13:16] afeinstein20 commented on #2347
Hi @ekaterinailin Thanks for your review! I'm addressing your comments below:

**Major Concerns**
- I've incorporated better tests now to ensure the core functionality doesn't break.
- I have created a new class `stella.DownloadSet` which allows the user to download the Günther+2020 flare catalog from Vizier and the light curves for the CNN training/validation/test sets through `lightkurve`. A dem

[2020-07-14 13:17] teuben commented on #2317
so done!  I am finished with my review (with my apologies as google decided to count all my joss emails as spam)

[2020-07-14 13:28] marcjwilliams1 commented on #2471
@kakiac also happy help out for this review.

[2020-07-14 13:31] trisbek commented on #2377
Samika ran the code using Matlab 2018B on my behalf. The Software Verification scripts run smoothly and quickly. Function Library scripts look very clearly documented.

Functionality/Performance: The paper states the algorithm's potential to stage sleep across species and genetic/drug manipulations for large animal cohorts, and it states the algorithm has been used already on mice, rats, and non-h

[2020-07-14 13:42] trisbek commented on #2377
I have added comments but was unable to tick the boxes on read the PDF today

El lun., 13 jul. 2020 a las 11:50, Olivia Guest (<notifications@github.com>)
escribió:

[2020-07-14 13:50] cMadan commented on #2354
@sarathsp06 @kinow@mbod, would you be available and interested in reviewing this submission? Thanks for your consideration!

@pmkruyen @gcdeshpande, we typically require two reviewers and are currently one short... so hopefully we can get one more person to agree and then will move on to the actual review.

[2020-07-14 13:58] oliviaguest commented on #2377
@whedon re-invite @trisbek as reviewer

[2020-07-14 13:58] whedon commented on #2377
The reviewer already has a pending invite.

@trisbek please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-07-14 14:00] cMadan commented on #2467
@kyleniemeyer, sorry, I don't think I can take on another right now.

[2020-07-14 14:05] trisbek commented on #2377
Invite me again?
[image: image.png]

El mar., 14 jul. 2020 a las 14:58, whedon (<notifications@github.com>)
escribió:

[2020-07-14 14:40] afeinstein20 commented on #2347
Hi @astrobel Thanks for your review! I'm addressing your comments below:

### Major Comments
- I have addressed the incompleteness and inconsistencies between `requirements.txt`, `.travis.yml`, and `setup.py` files.
- I have included better tests now.
- There is a short section for contributions/reporting issues on the [documentation](http://adina.feinste.in/stella/) page, and I have copied this o

[2020-07-14 14:42] davidtourigny commented on #2342
@Midnighter I may be wrong, but there is nothing that prevents the paper being updated post-publication is there?

[2020-07-14 14:46] oliviaguest commented on #2377
@trisbek I cannot AFAIK, you have to be logged in and use the link above.

[2020-07-14 14:47] oliviaguest commented on #2377
Perhaps another @openjournals/joss-editors can lend me a helping hand, please? I assume that @whedon is correct and all @trisbek needs to do is click that link? ☺️

[2020-07-14 14:48] alexhanna commented on #2356
I don't have the bandwidth for this right now. Check with me in two weeks.

[2020-07-14 14:54] danielskatz commented on #2377
right - clicking the link should work

[2020-07-14 14:55] diehlpk commented on #2317
@teuben Thanks.

[2020-07-14 14:57] oliviaguest commented on #2377
Also @trisbek (sorry I keep asking!) can you clarify if Samika wishes to be included as a reviewer? How much of this code and paper have they reviewed, and do they want credit attributed to them for their work?

[2020-07-14 15:01] trisbek commented on #2377
Hi,

it does not let me accept and it does not let me see the pdf
[image: image.png]

Samika said, next time she will upload her scripts and OSF and the lot to a
new account of github but this time she is happy for me to copypaste her
comments.

El mar., 14 jul. 2020 a las 15:57, Olivia Guest (<notifications@github.com>)
escribió:

[2020-07-14 15:02] joglekara commented on #2182
@TomGoffrey, equation set clarified and a bunch of other edits for clarity and precision. Thanks for this back and forth so far!

[2020-07-14 15:18] ihrke commented on #2383
sorry, going on vacation from tomorrow and won’t be back before middle of August. So I will have to let that one go...

[2020-07-14 16:13] diehlpk commented on #2317
@mdpiper I will do the final review on the paper by the end of this week. After that

`When a submission is ready to be accepted, we ask that the authors issue a new tagged release of the software (if changed), and archive it (on Zenodo, figshare, or other). The authors then post the version number and archive DOI in the REVIEW issue. `

[2020-07-14 16:31] jsgalan commented on #2449
Hi all, I proceed to clone the git

<img width="866" alt="Screen Shot 2020-07-14 at 10 37 33 AM" src="https://user-images.githubusercontent.com/971958/87448370-5c880700-c5c1-11ea-8b24-f657120984f2.png">

Then created a Venv

<img width="764" alt="Screen Shot 2020-07-14 at 11 03 38 AM" src="https://user-images.githubusercontent.com/971958/87449200-78d87380-c5c2-11ea-9bb9-0e02117b824e.png">

Then di

[2020-07-14 16:34] pdebuyl commented on #2377
The pdf file is visible without being logged in. @trisbek did you follow https://github.com/openjournals/joss-papers/blob/joss.02377/joss.02377/10.21105.joss.02377.pdf for the pdf?

[2020-07-14 16:59] LukasAdamowicz commented on #2449
@jsgalan thank you for finding those issues. I've addressed both of them with the usage examples, which have been updated in the repository README. In summary, there was a typo in the V1 (old usage) example, which should be fixed now:

`
...
with resources.path('sit2standpy.data', 'sample.csv') as file_path:
    ...`

Regarding V2 usage, `data_transform_function` was intended to be the users own f

[2020-07-14 17:42] diehlpk commented on #2317
@mdpiper

`State of the field: Do the authors describe how this software compares to other commonly-used packages?`

The reviewers agreed on this, however, I am as not as deeply in the topic would prefer if you can highlight this point in the paper a little more. So a broader audience can see this point.

Everything else is fine.

[2020-07-14 17:45] diehlpk commented on #2455
@barischrooneyj Can you please recommend some potential reviewers without the `@` in front of their GitHub handle?

[2020-07-14 17:48] mdpiper commented on #2317
@diehlpk Thanks for your editorial review. I'll ask some text to this point. And another thank you--this a good point to make considering model coupling is decades old in, e.g., atmospheric sciences, but still relatively new in the geosciences.

[2020-07-14 17:59] jsgalan commented on #2449
Hi @LukasAdamowicz,

V1 works fine
<img width="1058" alt="Screen Shot 2020-07-14 at 12 12 20 PM" src="https://user-images.githubusercontent.com/971958/87455606-572fba00-c5cb-11ea-881a-a941ecbd65e6.png">

V2 using the loader as suggested give me an error

![Screen Shot 2020-07-14 at 12 27 35 PM](https://user-images.githubusercontent.com/971958/87457241-aa0a7100-c5cd-11ea-8e83-15ced1433f28.png)

Aft

[2020-07-14 18:02] ejolly commented on #2471
@kakiac Unfortunately I don't think I'll be that helpful for this review, since it's be quite a while since I've worked natively with R (predominantly python these days). Happy to attempt it though if no other reviewers are available. @kakiac Is it also possible to edit my "Other Languages" on the joss review list to remove R and Matlab? Would be good so I'm not a time bottleneck on future submiss

[2020-07-14 18:19] karthik commented on #2181
@JonasRieger Can you please archive your software on Zenodo and post a DOI here please?

[2020-07-14 18:45] LukasAdamowicz commented on #2449
@jsgalan thank you, apologies for these difficulties. I've gone an updated the README with the v2 usage (tested on my end) - basically what was missing was the library prefix for the `WindowDays` (and following calls) that got added to the Sequence, so it becomes

[code]

I also fixed the gist as well to correctly use the correct key names

[2020-07-14 19:01] ethanwhite commented on #2264
Sorry, I'm totally overcommitted at the moment.

[2020-07-14 19:01] lincoln-harris commented on #2432
thanks for the comments, these are currently being addressed with https://github.com/czbiohub/cerebra/pull/84

[2020-07-14 19:19] oliviaguest commented on #2340
@humanfactors sorry for not tagging you above, but yes, when you get a chance post the DOI.

[2020-07-14 19:26] salanne commented on #2373
Thanks for the review @hmacdope ! Concerning the user manual, did you find the wiki https://gitlab.com/ampere2/metalwalls/-/wikis/home ? It contains in particular a description of the input files there https://gitlab.com/ampere2/metalwalls/-/wikis/system-configuration .

We will work on the community guidelines asap.

[2020-07-14 19:47] daviddewhurst commented on #2383
@mikldk Sure, I can review this.

[2020-07-14 20:13] jsgalan commented on #2449
Hi @LukasAdamowicz

It worked!

![Screen Shot 2020-07-14 at 3 11 29 PM](https://user-images.githubusercontent.com/971958/87471688-666f3180-c5e4-11ea-9e5f-0f01914aef09.png)

[2020-07-14 20:22] jsgalan commented on #2449
HI about the written articles, I am not sure I am seeing the last version. Since I am not seeing the acknowledgment you mentioned earlier.

Also I think this can be easily solved, just adding a line to the code.

![Screen Shot 2020-07-14 at 3 13 53 PM](https://user-images.githubusercontent.com/971958/87472476-99fe8b80-c5e5-11ea-9add-2fde22e3cf4e.png)

As @gweissman has made me notice in his review

[2020-07-14 20:24] rlbarter commented on #2472
Created an issue in target repository due to installation issues: https://github.com/stemangiola/tidyHeatmap/issues/38

[2020-07-14 20:35] mikldk commented on #2383
@martinmodrak: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2020-07-14 21:26] david-worrall commented on #2446
Hi,
I am the author of the sonipy mentioned.  I am not averse to, would even encourage, an amalgamation of related projects if that is appropriate, as your "A Perceptually Uniform Sonification Package" subtitle suggests it might. My website mentioned, above, is in need of an update as a result of the publication of my recent Sonification Design book (Springer).  I'd be interested in hearing from y

[2020-07-14 21:39] rlbarter commented on #2472
Issue resolved - was my laptop acting funky due to crashing earlier. A restart solved the problem.

[2020-07-14 21:54] rlbarter commented on #2472
I've completed my review.

This looks great overall.

I have a few very minor comments for the authors, which they can feel free to take or disregard.

- I noticed a minor typo in contribution section of README: "**pleae** open an issue" --> "**please** open an issue". Maybe just do a full spell-check?

- In the README, consider updating `gather` to `pivot_longer` just to be up-to-date with tidyve

[2020-07-14 22:14] blakeaw commented on #2436
Hi @CFGrote, based on your software's commit history it looks like you are the only author that made direct contributions to the code itself. Would you mind briefly stating what contributions the other authors listed in the paper made to the project?

[2020-07-14 22:36] blakeaw commented on #2436
Possible step missing in the Installation instructions: Issue https://github.com/mpievolbio-scicomp/cancer_sim/issues/5

[2020-07-14 22:41] csaybar commented on #2272
@appelmar @gena @hugoledoux  Thank you very much for your time and support in reviewing rgee.

[2020-07-14 23:29] oliviaguest commented on #2377
@trisbek We have discussed this case (the whole editorial board) as this has not happened at JOSS before (that a reviewer copy/pastes another reviewer's words). We have decided that Samika needs to make a GitHub account (if she doesn't have one already) so that she can receive credit (this should take a few minutes only). Samika does not have to write a separate review since she already did, she m

[2020-07-14 23:40] fboehm commented on #2474
@tomaslaz - it looks like you're missing a doi according to the examination from whedon.

MISSING DOIs

- https://doi.org/10.1038/146150e0 may be missing for title: Statistical method from the viewpoint of quality control

Please be sure to verify that this doi is accurate, then add it to your manuscript.

[2020-07-14 23:41] hmacdope commented on #2373
@salanne no I didn't, my apologies!

If you put a link to it in `README.md` that would be great, just so it is a little more obvious.

[2020-07-14 23:45] stemangiola commented on #2472
Thanks a lot @rlbarter all four suggestions have been incorporated in this [pull request](https://github.com/stemangiola/tidyHeatmap/pull/39). Your package have great graphics, probably the cleanest of all.

[2020-07-15 00:09] samikakumar commented on #2377
Hi all - apologies for the confusion! I've reviewed the scripts, and my comments are above in Tristan's message. I'm happy to tick the boxes once I am added. Thanks.

[2020-07-15 00:39] bittremieux commented on #2411
I would recommend a few more citations to relevant (Python) packages that cover similar functionality, such as [OpenMS](https://doi.org/10.1038/nmeth.3959)/[pyOpenMS](https://doi.org/10.1002/pmic.201300246) and [spectrum_utils](https://doi.org/10.1021/acs.analchem.9b04884) (disclaimer: this is my own package). [MSnbase](https://doi.org/10.1093/bioinformatics/btr645) is a highly relevant R package

[2020-07-15 00:58] afeinstein20 commented on #2347
Hi @arfon ! I've sent responses to each of the referees :) Is there anything else I need to/can do right now?

[2020-07-15 01:52] giswqs commented on #2305
@whedon @hugoledoux Is there anything I need to do on my end? It seems the paper is not moving forward.

[2020-07-15 01:52] whedon commented on #2305
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-07-15 03:54] humanfactors commented on #2340
Cheers for that. I've now worked out how to upload via Zenodo.

https://zenodo.org/record/3945615 see `10.5281/zenodo.3945615`

☺ Thanks

[2020-07-15 05:21] pdebuyl commented on #2307
Hi all,

At JOSS, we aim at improving the quality of the submitted software. However, mandating a specific build system (or otherwise specific features) is not part of our review. Besides, GNU Make is widely used and supported.

What is part of the review criteria is that the installation instructions are functional and properly documented, and that is what the review should focus on as far as the

[2020-07-15 05:53] hugoledoux commented on #2305
@giswqs no you don't, it should be picked up by one of the journal editor. It's summer I guess, sorry for delay

[2020-07-15 05:54] hugoledoux commented on #2272
@whedon check references

[2020-07-15 05:54] whedon commented on #2272
[code]

[2020-07-15 06:01] hugoledoux commented on #2272
@whedon generate pdf

[2020-07-15 06:02] whedon commented on #2272
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02272/joss.02272/10.21105.joss.02272.pdf)

[2020-07-15 06:11] hugoledoux commented on #2272
@csaybar there's a glitch with your PDF, see this:

![CleanShot 2020-07-15 at 08 03 01@2x](https://user-images.githubusercontent.com/1546518/87509593-2bb3da80-c672-11ea-91aa-8de832a7f860.png)

Something goes wrong with a function name with "$ and it doesn't escape, I think you should modify at l.45
[code]
=>
[code]

[2020-07-15 06:14] hugoledoux commented on #2272
also, shouldn't the reference to mapview be the package/website? I tried to find the paper, but couldn't in 2min, while the website is complete, informative, etc. If you want to stick to the paper at EGU, please provide a DOI

[2020-07-15 06:17] oliviaguest commented on #2377
@whedon add @samikakumar as reviewer

[2020-07-15 06:17] whedon commented on #2377
OK, @samikakumar is now a reviewer

[2020-07-15 06:17] hugoledoux commented on #2272
@csaybar the 3 reviewers recommend acceptance, and I'm happy to say that we're reaching the end of the review!

At this point could you:

- [ ] Fix the 2 issues I pointed above
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g. figshare, an institutional repository)
- [ ] Chec

[2020-07-15 06:18] oliviaguest commented on #2377
@samikakumar thank you so much! I apologise again. You have nothing to apologise for yourself. :relaxed:

[2020-07-15 06:21] oliviaguest commented on #2340
@whedon set 10.5281/zenodo.3945615 as archive

[2020-07-15 06:21] whedon commented on #2340
OK. <a href="https://doi.org/10.5281/zenodo.3945615" target="_blank">10.5281/zenodo.3945615</a> is the archive.

[2020-07-15 06:22] oliviaguest commented on #2340
@whedon accept

[2020-07-15 06:22] whedon commented on #2340
[code]

[2020-07-15 06:23] whedon commented on #2340
[code]

[2020-07-15 06:23] whedon commented on #2340
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1571

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1571, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-15 06:24] oliviaguest commented on #2340
@humanfactors please check the final version of the PDF when you have a moment and let me know if it's looking good from your end. 😊

[2020-07-15 06:57] benjaminbolling commented on #1942
@Chilipp : I have updated the code a bit to address issue#4: To decrease the dependency of PyTango. All codes now enables user to select between the packages "Tango" (using PyTango), "EPICS" (using PyEPICS), "Finance" (using Pandas Datareader) and "Randomizer" (for testing and demonstration purposes using random values). Other packages used for obtaining values from sources can be added in later s

[2020-07-15 07:00] JonasRieger commented on #2181
off course: 10.5281/zenodo.3945836 is the DOI of today's archive/version
10.5281/zenodo.3597978 is the concept DOI

[2020-07-15 07:30] darioizzo commented on #2290
@Ohjeah Thanks for your suggestions, I have added issue templates in github and community guidelines in the readme.

[2020-07-15 07:44] karthik commented on #2181
@whedon set 10.5281/zenodo.3945836 as archive

[2020-07-15 07:44] whedon commented on #2181
OK. <a href="https://doi.org/10.5281/zenodo.3945836" target="_blank">10.5281/zenodo.3945836</a> is the archive.

[2020-07-15 07:44] karthik commented on #2181
@whedon generate pdf

[2020-07-15 07:44] ziotom78 commented on #2363
Hi @pibion, thanks for the message! Sorry for the slow reply, I was away in vacation and just came back. I already started the review and expect to finish it in a few days. It's on the top of my to-do list, so I do not need a reminder. Thank you!

[2020-07-15 07:45] whedon commented on #2181
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02181/joss.02181/10.21105.joss.02181.pdf)

[2020-07-15 07:46] karthik commented on #2181
Over you to @openjournals/joss-eics

[2020-07-15 07:49] thelfer commented on #2369
@meg-simula Sorry for the time I spent on the review.

@kinnala I posted some comments and general remarks on the paper here: https://github.com/kinnala/scikit-fem/issues/426.

[2020-07-15 07:55] karthik commented on #2273
👋  @timchurches Would you be able to serve as second reviewer for this submission?

[2020-07-15 08:14] labarba commented on #2340
The version tag in the repository does not reflect here. Can you confirm it should be updated to v0.1.1?

[2020-07-15 08:15] labarba commented on #2340
@humanfactors -- Could you update the title of the Zenodo deposit to match the title of the JOSS paper? Thx.

[2020-07-15 08:34] ziotom78 commented on #2363
Hi @sambit-giri , I have downloaded the data and checked that the plots produced by the tutorial match mines. They effectively look the same, but I interpret JOSS' requirement for "automated tests" in a stricter sense: it's the computer that should take care of checking the consistency of the results with their expected outcome. This ensures that patches from potential contributors do not introduc

[2020-07-15 08:52] kinow commented on #2354
@cMadan hello. Finished reading the comments in this issue, and also the link to the review criteria above, as well as having a quick look at the paper PDF.

I'd be happy to review it. It would be my first review for JOSS, so let me know if there's anything else I need to read besides the review criteria (even though that document seems to cover most of what I could imagine for reviewing a paper a

[2020-07-15 08:55] timchurches commented on #2273
Yes, happy to review it.

----
t

[2020-07-15 09:03] humanfactors commented on #2340
Hi @labarba , I'll admit confusion here on my end, apologies for that.

I updated the version number in light of the changes made through the review process, so `0.1.1` is correct. I thought I should delineate between pre-review and post-review repository. Let me know if that wasn't correct step.

I've changed now, I hadn't used Zenodo prior, and linked with this the release.

Cheers!

[2020-07-15 09:17] Ohjeah commented on #2290
@darioizzo Thanks.

@VivianePons I can now recommend the submission for acceptance as well.

[2020-07-15 09:26] labarba commented on #2340
I found just one typo in the caption of the figure: "indicting" for "indicating."

[2020-07-15 09:26] labarba commented on #2340
@whedon set v0.1.1 as archive

[2020-07-15 09:26] whedon commented on #2340
v0.1.1 doesn't look like an archive DOI.

[2020-07-15 09:27] labarba commented on #2340
@whedon set v0.1.1 as version

[2020-07-15 09:27] whedon commented on #2340
OK. v0.1.1 is the version.

[2020-07-15 09:30] labarba commented on #2340
Typo fix here: https://github.com/humanfactors/FIPS/pull/6

[2020-07-15 09:32] trisbek commented on #2377
Thanks, this is better, credit where it is due.

Tris

El mié., 15 jul. 2020 a las 7:19, Olivia Guest (<notifications@github.com>)
escribió:

[2020-07-15 09:36] Kevin-Mattheus-Moerman commented on #2319
@joethorley @sebdalgarno apologies for the delay in getting back to you. I will consider your comments and will bring this up with the board soon.
You say you expanded the readme with notes on functionality. Can you create/reproduce a clear description of the key functionality here and also work it into the paper? Can you make sure you include a clear description of the significant impact this sof

[2020-07-15 09:36] Kevin-Mattheus-Moerman commented on #2319
@whedon generate pdf

[2020-07-15 09:36] whedon commented on #2319
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02319/joss.02319/10.21105.joss.02319.pdf)

[2020-07-15 09:42] salanne commented on #2373
@hmacdope Good idea

[2020-07-15 09:44] xuanxu commented on #2382
:wave: @jessie-dotson, @barentsen how are those reviews going?

[2020-07-15 09:49] oliviaguest commented on #2377
In case people are reading this in the future for inspiration: please be aware that what happened here is both highly anomalous and frowned upon. JOSS expects reviewers to write their own reviews after, e.g., running the code on their own hardware, etc. Delegation of review to a third party, especially when credit is unallocated, is not inline with our principles and we will be soon updating our g

[2020-07-15 09:51] oliviaguest commented on #2377
OK, so let's get this back on track! 😅

@teamPSG is the feedback provided by @samikakumar clear in how it relates to possible improvements to your code/paper?

[2020-07-15 09:59] trisbek commented on #2377
A key decision and feature to take into account by PSG is to decide if this is good enough for classic EEG human data. For this package to be useful to the thousands of researchers working in EEG human sleep data it would have to be validated in human datasets, beyond the datasets in animals already shown in the pdf and examples. A good dataset is the publicly available https://sleeptight.isr.uc.p

[2020-07-15 10:05] agahkarakuzu commented on #2343
@grlee77 I sent contributors an email and waited for a week for their response. Now I will add those accepted co-authorship in the PR and then merge.

[2020-07-15 10:27] agahkarakuzu commented on #2343
@Kevin-Mattheus-Moerman I added missing dois manually (added `doi` field(s) in `paper.bib`), I checked them one by one and they all resolve correctly. Now they appear in the refs:

![image](https://user-images.githubusercontent.com/9632322/87534488-16d04a80-c664-11ea-9858-6c277f488d62.png)

If this looks OK, I will merge the PR to master.

[2020-07-15 10:42] Kevin-Mattheus-Moerman commented on #2343
Looks good. Perhaps merge and run `@whedon generate pdf` and `@whedon check references` here.

[2020-07-15 10:59] arfon commented on #2245
Many thanks @spectralcode. I've emailed Marcin, Pete, and Christian to see if they can help out.

[2020-07-15 11:08] arfon commented on #2111
@donaldRwilliams - to help our reviewers (and me), could you state on the issues that are still open as part of this review what actions you have taken and (if appropriate) close them. The issues I still see open here are: https://github.com/donaldRwilliams/BGGM/issues/3 https://github.com/donaldRwilliams/BGGM/issues/7 https://github.com/donaldRwilliams/BGGM/issues/8

Thanks!

[2020-07-15 11:09] trisbek commented on #2377
Sure, but it was also open, I told you I would ask Samika, she accepted and
I told you that she had written the bit I posted a couple of days ago.
After your message she came to github and did it herself (good!). It is
better this way as it assigns credit where it is due. Now we have the right
type of format for my review and a separate one Samika's, as we agreed a
few weeks ago.

Hopefully both r

[2020-07-15 11:19] arfon commented on #2347
No, that's perfect 👍 - let's wait for their responses now.

[2020-07-15 11:19] arfon commented on #2181
@whedon accept

[2020-07-15 11:19] whedon commented on #2181
[code]

[2020-07-15 11:20] whedon commented on #2181
[code]

[2020-07-15 11:20] whedon commented on #2181
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1572

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1572, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-15 11:20] arfon commented on #2181
☝️ @karthik - running `@whedon accept` will add the appropriate label (`recommend-accept`) for the EiC on rotation to pick the paper up (this isn't me this week).

[2020-07-15 11:25] agahkarakuzu commented on #2343
@whedon generate pdf

[2020-07-15 11:25] agahkarakuzu commented on #2343
@whedon check references

[2020-07-15 11:25] whedon commented on #2343
PDF failed to compile for issue #2343 with the following error:

 Could not find bibliography file: paper.bib
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2020-07-15 11:26] whedon commented on #2343
[code]

[2020-07-15 11:33] oliviaguest commented on #2377
OK, I really feel the need to add one last clarification for future readers, the events are:

@trisbek decided he would ask @samikakumar and did without checking the exact details with me and if I am OK with that. This happened in private mostly. I am, and was, though OK with that, but I want(ed) to do this properly (i.e., give her credit). Therefore, I asked quite a few times of Tristan to tell S

[2020-07-15 11:35] marcosvital commented on #2458
Hi, @JolleJolles, I will be the editor of your submission.

I'll generate a second version of your manuscript proof, so you can start by checking if everything seems to be ok with it, as it will be the version used to start revision if nothing else changes. If you make any changes, you can use the same whedon command I will use below to create a new proof (or just let me know and I'll do it).

At

[2020-07-15 11:35] marcosvital commented on #2458
@whedon generate pdf

[2020-07-15 11:36] whedon commented on #2458
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02458/joss.02458/10.21105.joss.02458.pdf)

[2020-07-15 11:39] danielskatz commented on #2305
@giswqs - sorry this slipped by - I'll work on now

[2020-07-15 11:52] peanutfun commented on #2165
@szhorvat, @platipodium, we have an update on the `README.md` and the user manual index page ready in [utopia!178](https://ts-gitlab.iup.uni-heidelberg.de/utopia/utopia/-/merge_requests/178), and we would like to have your feedback. We added more thorough overview sections and arguments for and also against using Utopia, comparing it directly to NetLogo. Do the updated versions ([`README.md`](http

[2020-07-15 11:55] danielskatz commented on #2305
@giswqs - Please merge the changes in https://github.com/giswqs/geemap/pull/115 then we can proceed to publication

[2020-07-15 12:06] giswqs commented on #2305
@danielskatz I have merged your pull request. Thank you very much for your help!

[2020-07-15 12:07] LukasAdamowicz commented on #2449
The paper is updated with the acknowledgements, just no new pdf preview yet.

@whedon generate pdf

[2020-07-15 12:09] LukasAdamowicz commented on #2449
@whedon generate pdf

[2020-07-15 12:10] whedon commented on #2449
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02449/joss.02449/10.21105.joss.02449.pdf)

[2020-07-15 12:20] danielskatz commented on #2305
@whedon accept

[2020-07-15 12:20] whedon commented on #2305
[code]

[2020-07-15 12:20] whedon commented on #2305
[code]

[2020-07-15 12:20] whedon commented on #2305
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1573

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1573, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-15 12:22] platipodium commented on #2165
I think you've done a great job explaining better how utopia differs from NetLogo and other solutions and why it is needed.  Two things:

- you don't address parallelism in your NetLogo comparison, which is often a showstopper for people using NetLogo
- Why the difference in Readme. md and Manual, I suggest to homogenize the first paragraph.

[2020-07-15 12:22] platipodium commented on #2165
New issue: clarify the relationship between utopia and utopya.  Is mostly see utopia in the docs and web pages and links, but in the build process, the version with 'y' reappears.

[2020-07-15 12:29] danielskatz commented on #2305
@whedon accept deposit=true

[2020-07-15 12:29] whedon commented on #2305
[code]

[2020-07-15 12:30] whedon commented on #2305
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1283378349843382272) 👈 🐦🐦🐦

[2020-07-15 12:30] whedon commented on #2305
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1574
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02305](https://doi.org/10.21105/joss.02305)
2. If everything looks g

[2020-07-15 12:33] danielskatz commented on #2305
Thanks to @fbiljecki & @steflhermitte for reviewing and @hugoledoux for editing!

Congratulations to @giswqs (Qiusheng Wu)!!

[2020-07-15 12:33] #2305 closed

[2020-07-15 12:33] whedon commented on #2305
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02305/status.svg)](https://doi.org/10.21105/joss.02305)

**We need your help!**

Journal of Open Source Softwa

[2020-07-15 12:39] platipodium commented on #2165
Add a table of successful applications of utopia to JOSS paper

https://ts-gitlab.iup.uni-heidelberg.de/utopia/utopia/-/issues/250

[2020-07-15 12:44] platipodium commented on #2165
Consider adding ODD to your references (and its relation to utopia)

https://ts-gitlab.iup.uni-heidelberg.de/utopia/utopia/-/issues/251

[2020-07-15 12:48] platipodium commented on #2165
Resolving the four remarks above concludes my review of the JOSS paper and documentation.  I haven't been able to run utopia, so far.... so I'll go ahead and file bug reports.

[2020-07-15 12:55] skreimeyer commented on #2455
Patrick,

I will look over the code, but it may be this weekend before I get to it.

Regards,
Sam

On Mon, Jul 13, 2020, 9:33 AM Patrick Diehl <notifications@github.com>
wrote:

[2020-07-15 12:57] jenzopr commented on #2436
Problems with reproducing the Example usage from README and the docs: Issue https://github.com/mpievolbio-scicomp/cancer_sim/issues/6

[2020-07-15 13:05] VivianePons commented on #2290
Thank you @shah314 and @Ohjeah for your time and useful comments. I will proceed to next step towards acceptance :)

@whedon generate pdf

[2020-07-15 13:07] VivianePons commented on #2290
@whedon generate pdf from branch joss-paper-v1.5.1

[2020-07-15 13:07] whedon commented on #2290
[code]

[2020-07-15 13:08] nnadeau commented on #2426
@mjsottile, if there's no rush, I can schedule some time next week to review :)

[2020-07-15 13:08] whedon commented on #2290
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02290/joss.02290/10.21105.joss.02290.pdf)

[2020-07-15 13:09] VivianePons commented on #2290
@whedon check references from branch joss-paper-v1.5.1

[2020-07-15 13:09] whedon commented on #2290
[code]

[2020-07-15 13:09] whedon commented on #2290
[code]

[2020-07-15 13:19] VivianePons commented on #2290
Thanks again to @shah314 and @Ohjeah for all the usefull feedback providing the review and to @darioizzo for the work.

@darioizzo could you make an archive (on Zenodo, figshare, or other) of the repo and put it here? Please make sure that the metadata (authors and title) correspond to the paper.

[2020-07-15 13:29] darioizzo commented on #2290
@VivianePons we have this zenodo record already: https://zenodo.org/record/3802555#.Xw8ETygzaUk, it is linked to all new releases ...

[2020-07-15 13:48] VivianePons commented on #2290
Hi Dario, I need the title on the zenodo to be the same as the paper. Thanks

[2020-07-15 14:00] darioizzo commented on #2290
@VivianePons  done.

[2020-07-15 14:19] VivianePons commented on #2290
Perfect!

[2020-07-15 14:21] VivianePons commented on #2290
@whedon set 10.5281/zenodo.3802555 as archive

[2020-07-15 14:21] whedon commented on #2290
OK. <a href="https://doi.org/10.5281/zenodo.3802555" target="_blank">10.5281/zenodo.3802555</a> is the archive.

[2020-07-15 14:21] VivianePons commented on #2290
@whedon set 1.5 as version

[2020-07-15 14:21] whedon commented on #2290
OK. 1.5 is the version.

[2020-07-15 14:23] VivianePons commented on #2290
Congratulations! I can now accept the paper. This is a very nice work and I am happy to see it published at JOSS. Thank you very much @darioizzo for submitting it and thanks to @shah314 and @Ohjeah for the reviews and feedbacks

[2020-07-15 14:23] VivianePons commented on #2290
@whedon accept

[2020-07-15 14:23] whedon commented on #2290
[code]

[2020-07-15 14:23] whedon commented on #2290
PDF failed to compile for issue #2290 with the following error:

 Can't find any papers to compile :-(

[2020-07-15 14:24] VivianePons commented on #2290
@whedon accept from branch joss-paper-v1.5.1

[2020-07-15 14:24] whedon commented on #2290
[code]

[2020-07-15 14:24] whedon commented on #2290
[code]

[2020-07-15 14:25] whedon commented on #2290
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1575

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1575, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-15 14:28] benjaminrose commented on #2446
I like how simple this package makes it to generate an audio equivalent to a scatter plot. However, it seems to need [a few things](https://github.com/lockepatton/sonipy/issues?q=is%3Aissue+%5BJOSS%5D+) before it can be accepted in JOSS. In addition, I would agree with @faroit that the authors need to determine where this package fits in the broader landscape of sonification software.

[2020-07-15 14:47] SiminaB commented on #2044
Alright, just looked over it again - Looks good! All the boxes are now checked for my review.

[2020-07-15 14:53] hmacdope commented on #2373
@salanne all my concerns have been addressed, I am now happy to accept for publication.

[2020-07-15 14:55] diehlpk commented on #2455
@skreimeyer Thanks for letting me know. Take your time, we anticipate that you finish the review in the next six weeks.

[2020-07-15 14:56] diehlpk commented on #2455
@whedon assign @skreimeyer as reviewer

[2020-07-15 14:58] whedon commented on #2455
OK, @skreimeyer is now a reviewer

[2020-07-15 15:07] salanne commented on #2373
Thanks for the review!

[2020-07-15 15:09] peanutfun commented on #2165
Thank you, @platipodium!

We mention that "concurrent parameter sweeps of models" are possible and their data can be collectively analyzed. Parallelism usually refers to parallel execution *within* a single simulation. The latter is a feature we are [currently still working on](https://ts-gitlab.iup.uni-heidelberg.de/utopia/utopia/-/merge_requests/169). We therefore did not want to use "parallelis

[2020-07-15 15:14] barentsen commented on #2382
@xuanxu I've been distracted by grant writing and other tasks, but expect to continue the review this weekend, and do not expect any issues carrying out the review! :+1:

[2020-07-15 15:21] labarba commented on #2340
@whedon generate pdf

[2020-07-15 15:21] whedon commented on #2340
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02340/joss.02340/10.21105.joss.02340.pdf)

[2020-07-15 15:22] labarba commented on #2340
@whedon accept deposit=true

[2020-07-15 15:22] whedon commented on #2340
[code]

[2020-07-15 15:46] labarba commented on #2340
@openjournals/dev -- is `whedon` taking a nap?

[2020-07-15 15:47] Emma-k-ward commented on #2377
Hi Olivia, authors,

This is a nice toolbox that was easy to use and gave me easily interpretable output with minimal time investment, even as a totally naive user, which I think was the authors' goal. Some comments on my experience and how I would think it could be slightly improved:

**Code**
I also ran the Software_Verification without issues when running code inside the functions, although a v

[2020-07-15 16:00] mjsottile commented on #2426
@nnadeau That works - next week is fine.

[2020-07-15 16:02] mjsottile commented on #2426
@whedon assign @nnadeau as reviewer

[2020-07-15 16:02] whedon commented on #2426
OK, @nnadeau is now a reviewer

[2020-07-15 16:59] blakeaw commented on #2436
Recommendation for additional documentation of simulation outputs: https://github.com/mpievolbio-scicomp/cancer_sim/issues/8

[2020-07-15 17:01] blakeaw commented on #2436
Low-level API documentation (autogenerated) appears to be missing and possibly didn't build properly: https://github.com/mpievolbio-scicomp/cancer_sim/issues/9

[2020-07-15 17:31] teamPSG commented on #2377
Thanks for your very good comments and suggestions @trisbek @samikakumar @Emma-k-ward . I'm checking with coauthors and working on the code and the paper.

[2020-07-15 17:41] jeffcsauer commented on #2450
@jaeyk No need to apologize! Thanks for the quick response.

Following up on your suggestion to "Provide more structure to the `contributing.md`...", I have carried out the following changes:

- Updated `contributing.md` to describe the purpose of the `arcos_arcospy_information` repository, namely centralizing and standardizing issues/feature requests. I also added guidelines to help identify whet

[2020-07-15 18:03] afeinstein20 commented on #2347
Sounds good! I also wanted to let you know I just received the 2nd referee report for the associated AAS paper. It's quite short and I hope to resubmit soon. Hopefully the timelines for this submission and that one will line up okay!!

[2020-07-15 18:11] csaybar commented on #2272
Dear @hugoledoux thanks for the fast response. I've made the requested changes.
- I changed ("$getInfo") by ("\$getInfo") the problem will be fixed now. With respect to the citation to mapview we now refer to the R package manual instead of the publication in EGU.
- rgee [v.0.5.0](https://github.com/r-spatial/rgee/releases/tag/v.0.5.0).
- rgee is archived in zenodo [here](https://zenodo.org/record

[2020-07-15 18:11] csaybar commented on #2272
@whedon generate pdf

[2020-07-15 18:12] whedon commented on #2272
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02272/joss.02272/10.21105.joss.02272.pdf)

[2020-07-15 18:20] jaeyk commented on #2450
@jeffcsauer The `contributing.md` looks great. Thanks for your update. I have a paper deadline this week. I will do performance test starting next week.

[2020-07-15 18:21] karthik commented on #2273
@whedon add  @timchurches as reviewer

[2020-07-15 18:21] whedon commented on #2273
OK,  @timchurches is now a reviewer

[2020-07-15 18:21] karthik commented on #2273
@whedon start review

[2020-07-15 18:21] whedon opened #2482 "[REVIEW]: memr: An R package for medical free-text records embedding and visualization"
**Submitting author:** @adamgdobrakowski (<a href="http://orcid.org/0000-0001-6460-3079">Adam Dobrakowski</a>)
**Repository:** <a href="https://github.com/MI2DataLab/memr" target ="_blank">https://github.com/MI2DataLab/memr</a>
**Version:** v0.1.0
**Editor:** @karthik
**Reviewer:** @cmaimone, @timchurches
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2020-07-15 18:21] whedon commented on #2273
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2482.

[2020-07-15 18:21] #2273 closed

[2020-07-15 18:21] whedon commented on #2482
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @cmaimone, @ @timchurches it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2020-07-15 18:21] whedon commented on #2482
PDF failed to compile for issue #2482 with the following error:

 pandoc-citeproc: reference timchurches not found
Error producing PDF.
! TeX capacity exceeded, sorry [input stack size=5000].
\reserved@a ->\def \reserved@a
                               *{\let \@xs@assign \@xs@expand@and@detokenize...
l.330 }

Looks like we failed to compile the PDF

[2020-07-15 18:21] whedon commented on #2482
[code]

[2020-07-15 18:22] karthik commented on #2273
@cmaimone  Sorry for the delay. You can start your review here now: https://github.com/openjournals/joss-reviews/issues/2482

[2020-07-15 18:28] JonasRieger commented on #2181
I'm sorry. There was a single spelling mistake in one reference, which I have corrected now.

[2020-07-15 19:26] barischrooneyj commented on #2455
zhuminjie may be a good reviewer. The software I wrote makes heavy use of the OpenSees finite element program, and he does work related to OpenSees.

[2020-07-15 19:27] labarba commented on #2340
@whedon accept deposit=true

[2020-07-15 19:27] whedon commented on #2340
[code]

[2020-07-15 19:28] whedon commented on #2340
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1283483551707561990) 👈 🐦🐦🐦

[2020-07-15 19:28] whedon commented on #2340
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1576
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02340](https://doi.org/10.21105/joss.02340)
2. If everything looks g

[2020-07-15 19:29] barischrooneyj commented on #2455
I have changed one heading to "Statement of need", the contents were already as such but with a different heading.

[2020-07-15 19:29] labarba commented on #2340
Congratulations, @humanfactors, your JOSS paper is published! 🚀

Huge thanks to our editor: @oliviaguest, and reviewers: @craddm, @anibalsolon 🙏

[2020-07-15 19:29] #2340 closed

[2020-07-15 19:29] whedon commented on #2340
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02340/status.svg)](https://doi.org/10.21105/joss.02340)

**We need your help!**

Journal of Open Source Softwa

[2020-07-15 19:31] labarba commented on #2181
@whedon generate pdf

[2020-07-15 19:31] whedon commented on #2181
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02181/joss.02181/10.21105.joss.02181.pdf)

[2020-07-15 19:36] labarba commented on #2181
@karthik @JonasRieger -- the version tag on the repository does not match the version here. Please confirm that we should update here to `0.2.0`.

[2020-07-15 19:37] labarba commented on #2181
@JonasRieger -- please update the title metadata of your Zenodo deposit to match the JOSS paper title

[2020-07-15 19:39] donaldRwilliams commented on #2111
@arfon I went through and noted the changes. I think we followed the advice in the reviewers in all cases, and we noted the changes accordingly in the issue. They are all now closed as well.

[2020-07-15 19:41] labarba commented on #2290
@darioizzo -- version tag 1.5 in the repo is from May 6. Please confirm: there have been no changes since due to this review? (if yes, you could up the patch number in a new tag)

[2020-07-15 20:19] pdwaggoner commented on #2461
Hi @kakiac , @mbod , and @chainsawriot - Thanks for the package and for the chance to review the paper and software. For the most part this looks like a good, simple package and paper. Still, I think there are a few revisions needed prior to publication at JOSS:

- There is no statement of or clear path to community contribution (in general or for bug reports) either in the **paper** or in the **G

[2020-07-15 21:18] eloisabentivegna commented on #2457
@whedon add @ngnedin as reviewer

[2020-07-15 21:18] whedon commented on #2457
OK, @ngnedin is now a reviewer

[2020-07-15 21:45] oliviaguest commented on #2340
Yes, indeed! Thank you all @craddm @anibalsolon @labarba and congratulations to @humanfactors! 🥳 💓

[2020-07-15 21:47] JonasRieger commented on #2181
@labarba I confirm that the version here should be updated to `0.2.0`. I also updated the title of the Zenodo deposit.

[2020-07-15 22:22] karthik commented on #2181
@whedon set v0.2.0 as version

[2020-07-15 22:22] whedon commented on #2181
OK. v0.2.0 is the version.

[2020-07-16 00:08] astrobel commented on #2347
Thanks for your thorough response, @afeinstein20! Everything is looking good, and I've now checked off the remaining boxes on the reviewer checklist. I'm also really excited to see `stella.DownloadSets()` in there, and I'm hoping to play around with it soon!

Just one thing, I don't think you've pushed the changes to the README with the community guidelines updated?

[2020-07-16 01:55] rhenanbartels commented on #1867
Hi, @Kevin-Mattheus-Moerman

I've just added a [Jupyter notebook](https://github.com/rhenanbartels/hrv/tree/develop/notebooks) containing a walkthrough with the main steps of the pipeline for analyzing RRi/HRV signals (the same first steps we use in our studies in our Lab):

- Reading a file from the File System containing the information of the fluctuations of the heartbeats;
- Inspecting and vis

[2020-07-16 03:19] jgostick commented on #2381
Thanks @KedoKudo! @merrygoat can you let me know in this issue when you've made the changes?

@mikapfl, how is your review coming along?  It's only been 3 weeks, but things seem to move so fast at JOSS.

[2020-07-16 04:02] bstabler commented on #2409
hi @nuest & @mikejohnson51, how's the review coming along?  Thanks!

[2020-07-16 04:19] mikejohnson51 commented on #2409
Hi @bstabler & @lydialucchesi,

I hope to have this done early next week if that is acceptable. Thanks!

[2020-07-16 05:40] hugoledoux commented on #2272
@csaybar I am confused, you have a v1.0.0 release, but also you made one for v.0.5.0? Your releases have 2 options for one repository? This is new to me, and rather confusing... Can you shed some light on why that is?

[2020-07-16 05:54] csaybar commented on #2272
Hi Hugo, after submitting rgee version 0.5.0 to JOSS I was making some additional changes that were reflected in new versions of rgee. Version 1.0.0 has all the changes made to pass the issues pointed out by the reviewers. However, I was not sure which version should be used if version 0.5.0 or 1.0.0. Sorry if this is a bit confusing.

[2020-07-16 05:56] hugoledoux commented on #2272
ah right, then if you released v1.0.0 based on all reviews than it should be v.1.0.0 for JOSS, this is a nice outcome too.

Could you make a new Zenodo release (pointing to v1.0.0) and list the DOI here please?

[2020-07-16 06:01] csaybar commented on #2272
@hugoledoux  I've made the requested changes.

- Archived rgee v.1.0.0 in Zenodo [here](https://zenodo.org/record/3945409).
- rgee v.1.0.0 Zenodo citation: Cesar Aybar, Qiusheng Wu, Lesly Bautista, Roy Yali, & Antony Barja. (2020, July 14). rgee: An R package for interacting with Google Earth Engine (Version v.1.0.0). Zenodo. http://doi.org/10.5281/zenodo.3945409

[2020-07-16 06:31] hugoledoux commented on #2272
@whedon generate pdf

[2020-07-16 06:32] whedon commented on #2272
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02272/joss.02272/10.21105.joss.02272.pdf)

[2020-07-16 06:41] hugoledoux commented on #2272
two small things:

1. https://github.com/r-spatial/rgee/pull/74

2. there is something strange with your zenodo, if I go to the v1.0.0 I get that warning, which redirects me to v0.5.0, not sure why... could you look into this?

![CleanShot 2020-07-16 at 08 34 27@2x](https://user-images.githubusercontent.com/1546518/87635449-5cae1100-c73f-11ea-89a8-6acc7069b3b1.png)

[2020-07-16 06:55] darioizzo commented on #2290
@labarba 1.5 is the last released code and is what the paper refers to. There have been minor changes in the repo since we are developing 1.5.1, but it is not ready for a release yet, that is planned in 6-12 months.

[2020-07-16 07:09] csaybar commented on #2272
@hugoledoux Sorry for the inconvenience, but I had to create a new archived in Zenodo to solve the issue.

- New archived rgee v.1.0.0 in Zenodo [here](https://zenodo.org/record/3947571).
- rgee v.1.0.0 Zenodo citation: Cesar Aybar, Qiusheng Wu, Lesly Bautista, Roy Yali, & Antony Barja. (2020, July 16). rgee: An R package for interacting with Google Earth Engine (Version v.1.0.0). Zenodo. http://d

[2020-07-16 07:13] pmkruyen commented on #2354
Thank you @kinow to serve as a reviewer for my submission.

Best,
Peter

[2020-07-16 07:14] mikapfl commented on #2381
Hi,

I've been down with a cold the last week, but hope to do some progress with the review this weekend.

Cheers

Mika

[2020-07-16 07:24] csoneson commented on #2353
👋 Just checking in again to see where we're at.
@thorvere - could you give an update on the status of your review (I see some opened issues in the software repository, but no checked boxes in the checklist above)?
@skhilton - it looks like you've gotten some good feedback (and already worked through some of it). Let us know if you have questions, and when you feel like you're ready for the reviewe

[2020-07-16 07:43] hugoledoux commented on #2272
@whedon generate pdf

[2020-07-16 07:44] whedon commented on #2272
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02272/joss.02272/10.21105.joss.02272.pdf)

[2020-07-16 07:45] labarba commented on #2181
@whedon accept deposit=true

[2020-07-16 07:45] whedon commented on #2181
[code]

[2020-07-16 07:46] whedon commented on #2181
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1283669397643702272) 👈 🐦🐦🐦

[2020-07-16 07:46] whedon commented on #2181
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1577
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02181](https://doi.org/10.21105/joss.02181)
2. If everything looks g

[2020-07-16 07:47] hugoledoux commented on #2272
@whedon set 10.5281/zenodo.3947571 as archive

[2020-07-16 07:47] whedon commented on #2272
OK. <a href="https://doi.org/10.5281/zenodo.3947571" target="_blank">10.5281/zenodo.3947571</a> is the archive.

[2020-07-16 07:47] hugoledoux commented on #2272
@whedon set v1.0.0 as version

[2020-07-16 07:47] whedon commented on #2272
OK. v1.0.0 is the version.

[2020-07-16 07:47] hugoledoux commented on #2272
@whedon accept

[2020-07-16 07:47] whedon commented on #2272
[code]

[2020-07-16 07:47] whedon commented on #2272
[code]

[2020-07-16 07:48] hugoledoux commented on #2272
Congratulations @csaybar  your submission is now accepted! Your paper will be handled and published in the near future.

Thanks to @gena , @jhollist and @appelmar  for the reviews and feedback!

[2020-07-16 07:48] whedon commented on #2272
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1578

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1578, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-16 07:48] labarba commented on #2181
Congratulations, @JonasRieger, your JOSS paper is published! 🚀

Huge thanks to our editor: @karthik, and reviewers: @TommyJones, @bstewart 🙏

[2020-07-16 07:48] #2181 closed

[2020-07-16 07:48] whedon commented on #2181
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02181/status.svg)](https://doi.org/10.21105/joss.02181)

**We need your help!**

Journal of Open Source Softwa

[2020-07-16 07:51] labarba commented on #2290
wait... but we're publishing from a branch that has `v1.5.1` in the _name_...

[2020-07-16 08:04] darioizzo commented on #2290
@labarba The branch was created as per request during the review process (orignally I had put the paper into an entirely different repo), I gave it the name 1.5.1 back then as I took it from the development code (in retrospective I should have used 1.5).

There is not any difference (only code overhauls) in features between 1.5 and 1.5.1. But it is true that 1.5.1 is under development and unreleas

[2020-07-16 08:09] darioizzo commented on #2290
I can clone into a new branch with the 1.5 name ,if you want, and delete the old branch?

[2020-07-16 08:15] labarba commented on #2290
No, that's fine. I just wanted to confirm that we have the correct metadata.

[2020-07-16 08:15] labarba commented on #2290
@whedon accept deposit=true from branch joss-paper-v1.5.1

[2020-07-16 08:15] whedon commented on #2290
[code]

[2020-07-16 08:17] whedon commented on #2290
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1283677158506987521) 👈 🐦🐦🐦

[2020-07-16 08:17] whedon commented on #2290
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1579
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02290](https://doi.org/10.21105/joss.02290)
2. If everything looks g

[2020-07-16 08:19] labarba commented on #2290
Congratulation, @darioizzo, your JOSS paper is published! 🚀

Huge thanks to our editor: @VivianePons, and the reviewer: @Ohjeah, @shah314 🙏

[2020-07-16 08:19] #2290 closed

[2020-07-16 08:19] whedon commented on #2290
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02290/status.svg)](https://doi.org/10.21105/joss.02290)

**We need your help!**

Journal of Open Source Softwa

[2020-07-16 08:20] labarba commented on #2290
Congratulation, @darioizzo, your JOSS paper is published! 🚀

Huge thanks to our editor: @VivianePons, and the reviewer: @Ohjeah, @shah314 🙏

[2020-07-16 08:27] will-rowe commented on #2451
Hi all. I'm about to go on annual leave for a week. Please let me know if you need anything before I go - I'll pick things up when I get back otherwise.

I see @telatin has already done his review - thank you very much.

[2020-07-16 08:45] labarba commented on #2272
@whedon accept deposit=true

[2020-07-16 08:45] whedon commented on #2272
[code]

[2020-07-16 08:46] whedon commented on #2272
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1283684448316329986) 👈 🐦🐦🐦

[2020-07-16 08:46] whedon commented on #2272
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1580
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02272](https://doi.org/10.21105/joss.02272)
2. If everything looks g

[2020-07-16 08:48] labarba commented on #2272
Congratulations, @csaybar, your JOSS paper is published! 🚀

Huge thanks to our editor: @hugoledoux, and reviewers: @appelmar, @gena, @jhollist 🙏

[2020-07-16 08:48] #2272 closed

[2020-07-16 08:48] whedon commented on #2272
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02272/status.svg)](https://doi.org/10.21105/joss.02272)

**We need your help!**

Journal of Open Source Softwa

[2020-07-16 08:54] macrocosme commented on #2481
@99991 @gkthiruvathukal First of all, I would like to congratulate the authors on their clean and useful software. The code is well documented, includes tests, and benchmarks. The code was easily installable, and examples ran as expected (except for a few path issues that have now been fixed). Instructions on how to set and run the benchmarks have also been simple to follow and worked as expected.

[2020-07-16 09:21] darioizzo commented on #2290
Thanks to everybody @Ohjeah @shah314 @VivianePons and @labarba, it has been a great process and I only have positive feedback on how things were handled!

[2020-07-16 09:36] labarba commented on #2306
@whedon accept deposit=true

[2020-07-16 09:36] whedon commented on #2306
[code]

[2020-07-16 09:37] whedon commented on #2306
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1283697133879795712) 👈 🐦🐦🐦

[2020-07-16 09:37] whedon commented on #2306
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1581
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02306](https://doi.org/10.21105/joss.02306)
2. If everything looks g

[2020-07-16 09:38] labarba commented on #2306
Congratulations, @DominiqueMakowski, your JOSS paper is published! 🚀

Huge thanks to our editor: @mikldk, and reviewers: @markhwhiteii, @mmrabe 🙏

[2020-07-16 09:38] #2306 closed

[2020-07-16 09:38] whedon commented on #2306
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02306/status.svg)](https://doi.org/10.21105/joss.02306)

**We need your help!**

Journal of Open Source Softwa

[2020-07-16 09:39] DominiqueMakowski commented on #2306
Thanks a lot to everybody involved, as always, it has been a pleasure ☺️ 🎉

[2020-07-16 09:49] merrygoat commented on #2381
Thanks @jgostick. Done the easy changes already. My colleague @christopher-daniel is on holiday this week but we will meet to resolve the outstanding issues next week.

[2020-07-16 10:39] arfon commented on #2111
Excellent, thanks @donaldRwilliams

@paulgovan - could ask you to take one more quick look at this (and update your checklist accordingly) now that the author has resolved all of the outstanding issues? 🙏

[2020-07-16 10:57] trallard commented on #2404
Hi folks just checking on the review.

@ejhigson do you have any updates on the review here? I know these are complicated times and your contribution and time are appreciated.

[2020-07-16 10:58] peanutfun commented on #2313
We have a patch release with the requested changes and additions ready for merging: [dorie!212](https://ts-gitlab.iup.uni-heidelberg.de/dorie/dorie/-/merge_requests/212). This will then constitute the final reviewed version of DORiE we want to hand in. We are only unsure if the JOSS paper and/or the `CITATION.cff` file should be included in the patch release. I would propose that we first deploy t

[2020-07-16 11:03] trallard commented on #2350
Dear potential reviewers,

On behalf of JOSS I would like to invite you to review the following submission:

**Title**: biorbd: A C++, Python and MATLAB library to analyze and simulate the human body biomechanics
**Repository**: https://github.com/pyomeca/biorbd
**Submitting author**: @pariterre
**Article**: <https://github.com/openjournals/joss-papers/blob/joss.02350/joss.02350/10.21105.joss.0235

[2020-07-16 11:03] trallard commented on #2350
@whedon assign @trallard as reviewer

[2020-07-16 11:03] whedon commented on #2350
OK, @trallard is now a reviewer

[2020-07-16 11:05] trallard commented on #2246
Hi @ahurriyetoglu on behalf of the JOSS editorial team I would like to invite you to review this submission.

Would you be able and willing to take it?

[2020-07-16 11:06] trallard commented on #2107
@eteq, @dvanic gentle ping again. Are there any blockers for your reviews, would it be possible to move them forward?

[2020-07-16 11:12] oliviaguest commented on #2377
@teamPSG just to keep track of stuff, when you make changes can you link to them from here (any way you want, link to line numbers, files, PRs, whatever makes sense for you)so we can all see them easily? Also does any of the above by @samikakumar @trisbek @Emma-k-ward make sense to be transferred into a direct code-related issue? If so, please do that to keep things neat and link back to it from h

[2020-07-16 11:17] ejhigson commented on #2404
@trallard I plan to take a look at this in the next week!

[2020-07-16 12:19] peanutfun commented on #2165
@platipodium, to avoid doubled content we could also refer to the overview section of the README inside the manual, see https://ts-gitlab.iup.uni-heidelberg.de/utopia/utopia/-/merge_requests/178/diffs#note_56180

[2020-07-16 12:23] barischrooneyj commented on #2455
@whedon generate pdf

[2020-07-16 12:24] whedon commented on #2455
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02455/joss.02455/10.21105.joss.02455.pdf)

[2020-07-16 13:29] gkthiruvathukal commented on #2481
@macrocosme Thank you for your quick turnaround and helpful comments for @99991.

I will await feedback from @ziatdinovmax, who may need a bit more time.

[2020-07-16 13:36] harpolea commented on #2446
Thank you @faroit and @benjaminrose for your feedback! As it seems like there may be some substantial changes required before this review can proceed, I am going to pause this review and label it as `pending-major-enhancements` for now whilst they are being dealt with.

@lockepatton, please take your time to address the concerns raised above, and let me know when you are ready for me to un-pause t

[2020-07-16 13:36] tuelwer commented on #2481
Thanks for the fast review and the helpful comments, @macrocosme! We really appreciate this.

Regarding your minor comments:

- We added axes labels for Figure 2 and Figure 3 in commit https://github.com/pymatting/pymatting/commit/845e5e82094ef99e65777abc0040969b3271ab36.
- Furthermore, we added hardware and OS description at the end of the performance comparison section in commit https://github.c

[2020-07-16 13:36] tuelwer commented on #2481
@whedon generate pdf from branch joss-submission

[2020-07-16 13:36] whedon commented on #2481
[code]

[2020-07-16 13:37] whedon commented on #2481
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02481/joss.02481/10.21105.joss.02481.pdf)

[2020-07-16 13:54] diehlpk commented on #2455
@zhuminjie Would you be interested to review this paper?

[2020-07-16 13:55] diehlpk commented on #2317
@whedon generate pdf

[2020-07-16 13:55] whedon commented on #2317
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02317/joss.02317/10.21105.joss.02317.pdf)

[2020-07-16 13:58] JolleJolles commented on #2458
Hi @marcosvital, thanks for your help.

The generated proof looks good.

In terms of potential reviewers in my field, Jan Heuschele at the University of Oslo, Sajid Nazir at the London South Bank University, Robin Whytock at the University of Stirling and Mason Youngblood at the City University of New York all use the raspberry pi in their biological work. Going through the reviewer list and looki

[2020-07-16 14:03] martinmodrak commented on #2471
@kakiac Hi, the package looks interesting and I'd be glad to review it. Unfortunately, I am currently leaving for vacation until July 26th and will probably have a bunch of stuff on my plate after the return. So realistically, I might not have an initial review ready sooner than Aug 1st. If that's OK, I can review it. (I am also OK if you look for other reviewers who can react faster and fall back

[2020-07-16 14:04] benjaminbolling commented on #1942
I have addressed issues 3, 4, 5,7, 8, 9.

Installation instructions: Added to the README file.

State of the field: I am unaware of currently existing Python-based package for constructing dynamic GUI:s (without any programming), and I have added this also to the README file.

Left to do:
- Create some automated tests/steps described so that the functionality of the software can be verified
- Add

[2020-07-16 14:06] martinmodrak commented on #2383
@mikldk Hi, the package looks interesting and somewhat within my expertise, however I am currently leaving on vacation and I was also asked to review #2471 (which I find a bit closer to my area of interest and hence prefer for review). So realistically, I don't think I could start working on the review sooner than Aug 1st, maybe even a bit later.  If that's OK, I can review it. (I am also OK if yo

[2020-07-16 14:23] sjpfenninger commented on #2171
@gschivley @coroa It would be nice if we slowly move towards wrapping this up -- could you give your respective reviews a push and complete them over the next week or two?

[2020-07-16 14:39] ysohn commented on #2471
Hello @kyleniemeyer, thank you very much for the comments. We made updates based on the list and committed to the master.

[2020-07-16 14:48] jgostick commented on #2412
@whedon check references

[2020-07-16 14:48] whedon commented on #2412
[code]

[2020-07-16 14:49] jgostick commented on #2412
@whedon generate pdf

[2020-07-16 14:50] whedon commented on #2412
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02412/joss.02412/10.21105.joss.02412.pdf)

[2020-07-16 14:56] jgostick commented on #2412
@keurfonluu Everything looks great.  My only suggestion would be to add some sort of concluding remark(s) to the paper after the figure, since it seems to end rather abruptly.  This is only a suggestion though.

Here is a list of what to do next:

- [ ] Double check authors and affiliations (including ORCIDs)
- [ ] Make a release of the software with the latest changes from the review and post the

[2020-07-16 15:16] gschivley commented on #2171
@sjpfenninger Sure. I still think the depreciated pandas `as_matrix` issue needs to be fixed before final approval. The default installation uses pandas 1.0.*, and there is at least one function that won't work with it.

[2020-07-16 15:23] betteridiot commented on #2432
@lpantano For some reason, GitHub is not allowing me to check the boxes (like in previous reviews). I may need another invitation.

[2020-07-16 15:27] ysohn commented on #2471
@kakiac Thank you very much for your time. We made an update to the package based on the editor's comments.

[2020-07-16 15:29] ysohn commented on #2471
@kakiac We made updates. Thank you very much!

[2020-07-16 16:18] mdpiper commented on #2317
@diehlpk Waiting on my coauthors to review my changes...

[2020-07-16 16:27] teamPSG commented on #2377
Hey @oliviaguest, I'll try my best. Is there a previous review that you'd suggest to look at as a good example?

[2020-07-16 17:01] pdebuyl commented on #2454
@yuxiang-gao do you have suggestions for reviewers?

[2020-07-16 17:02] lpantano commented on #2432
@whedon re-invite @betteridiot as reviewer

[2020-07-16 17:02] whedon commented on #2432
OK, the reviewer has been re-invited.

@betteridiot please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-07-16 17:02] abhishektha commented on #2350
Yes I'm able to review!

[2020-07-16 17:12] betteridiot commented on #2432
Thank you. Apparently it was just a browser extension that was causing the problem.

[2020-07-16 17:13] trallard commented on #2350
Thanks @abhishektha!

[2020-07-16 17:13] eloisabentivegna commented on #2468
@whedon add @kegiljarhus as reviewer

[2020-07-16 17:13] whedon commented on #2468
OK, @kegiljarhus is now a reviewer

[2020-07-16 17:13] trallard commented on #2350
@whedon add @abhishektha as reviewer

[2020-07-16 17:13] whedon commented on #2350
OK, @abhishektha is now a reviewer

[2020-07-16 17:50] oliviaguest commented on #2377
Sure, @teamPSG so here has reviewers opening issues: https://github.com/openjournals/joss-reviews/issues/2285

[2020-07-16 17:52] oliviaguest commented on #2377
Here too: https://github.com/openjournals/joss-reviews/issues/2348

[2020-07-16 18:21] chadagreene commented on #2433
Interesting. Yes, I can do the review, but I'll be swamped for the next few weeks. If you find someone who can do it sooner, then by all means, have them do the review. Otherwise I can do it after August 1 (I might need a reminder).

[2020-07-16 18:44] rpetit3 commented on #2451
@will-rowe  Can the invitation link be resent, seems I was too slow to respond and it has expired. Can't edit the first comment at the moment. (Apologies!)

[2020-07-16 18:46] will-rowe commented on #2451
Hi @rpetit3 - that seems odd! I'll try reassigning you but I've not had this before. It does say that you are already assigned but let's try again

[2020-07-16 18:46] will-rowe commented on #2451
@whedon add @rpetit3 as reviewer

[2020-07-16 18:46] whedon commented on #2451
OK, @rpetit3 is now a reviewer

[2020-07-16 18:48] rpetit3 commented on #2451
That did it thank you!

[2020-07-16 20:15] arbennett commented on #2364
Hi @usethedata - I would be happy to review this!

[2020-07-16 20:30] CFGrote commented on #2436
dear reviewers, thanks for all the comments so far. i'm currently on
vacation with very limited internet/email access. i'll pick up
immediately after my return on july 27th.

cfg

On 7/15/20 7:01 PM, Blake A. Wilson wrote:

[2020-07-16 20:36] lnferris commented on #2433
Thanks for your time, @castelao and @chadagreene. Please let me know if you have any questions.

[2020-07-16 22:37] sbenthall commented on #2264
@stulacy That's a good question. I'm new here. Let me ask ... @xuanxu what happens if a submission has a proprietary dependency?

[2020-07-16 22:38] sbenthall commented on #2445
@strengejacke I don't. Let me ask ... @juanjo any idea what happened here?

[2020-07-17 00:22] usethedata commented on #2364
@whedon assign @arbennett  as reviewer

[2020-07-17 00:22] whedon commented on #2364
OK, @arbennett  is now a reviewer

[2020-07-17 00:23] usethedata commented on #2364
@arbennett @samvanstroud -- I'm still working on getting a second reviewer.  In the interests of letting @arbennett move forward with his review, I'm going to go ahead and open the review issue.  I'll add the second reviewer when I get that volunteer.

[2020-07-17 00:23] usethedata commented on #2364
@whedon start review

[2020-07-17 00:23] whedon opened #2483 "[REVIEW]: pyveg: A Python package for analysing the time evolution of patterned vegetation using Google Earth Engine"
**Submitting author:** @samvanstroud (<a href="http://orcid.org/0000-0002-7969-0301">Samuel Van Stroud</a>)
**Repository:** <a href="https://github.com/alan-turing-institute/monitoring-ecosystem-resilience" target ="_blank">https://github.com/alan-turing-institute/monitoring-ecosystem-resilience</a>
**Version:** 1.1.0
**Editor:** @usethedata
**Reviewers:** @arbennett , @usethedata
**Archive:** <a

[2020-07-17 00:23] whedon commented on #2364
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2483.

[2020-07-17 00:23] #2364 closed

[2020-07-17 00:23] whedon commented on #2483
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arbennett  it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss

[2020-07-17 00:25] whedon commented on #2483
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02483/joss.02483/10.21105.joss.02483.pdf)

[2020-07-17 00:25] whedon commented on #2483
[code]

[2020-07-17 00:28] jsgalan commented on #2449
Hi Lukas, Please check the Availability Section seems to have the same error I noted earlier.

![87472476-99fe8b80-c5e5-11ea-9add-2fde22e3cf4e](https://user-images.githubusercontent.com/971958/87735219-88aab000-c79a-11ea-9c06-9083675a39f5.png)

[2020-07-17 03:37] sara-02 commented on #2174
@terrytangyuan @NicolasHug LGTM :partying_face:

[2020-07-17 03:39] sara-02 commented on #2174
@NicolasHug Minor suggestion for the first line for the first line of the paper can we replace the phrase `items that the system has to offer` to `items that the platform/service has to offer` so as not to confuse the word `system` from the RecSys we refer to in the beginning of the sentence.

[2020-07-17 04:03] sara-02 commented on #2466
Hey @kyleniemeyer @vahid-sb let me know when you guys resume working on this one, I would be interested to review it. I recently worked on epidemic models for one my projects, and have some idea about them. Would love to learn more about them.

[2020-07-17 07:17] mjsottile commented on #2260
@whedon remove @sivaramambikasaran as reviewer

[2020-07-17 07:17] whedon commented on #2260
OK, @sivaramambikasaran is no longer a reviewer

[2020-07-17 07:20] mjsottile commented on #2260
Confirmed by email that one reviewer has decided they cannot perform review.  Waiting to hear back from other alternative reviewers that have been contacted by email to replace them.  No word from @adam-m-jcbs and don’t have email to contact outside github.  If I successfully find an additional reviewer who will complete their review, we should be good since we have one complete review already.

[2020-07-17 07:43] mikerspencer commented on #2282
@danielskatz can I check the scope of the review? How involved should we be as reviewers? I think testing should be done prior to review, but realise that's a grey area on problems picked up in the review.

[2020-07-17 08:14] sjpfenninger commented on #2171
@gschivley thanks for pointing this out. I think critical requirements like pandas should be pinned in `setup.py`, e.g. with a maximum version number to use, so that the package doesn't break when pandas updates. @jordanperr It is perfectly fine to make fixes like this in response to the reviews here and to package them up in a new version once we've wrapped up the review. We can update the versio

[2020-07-17 08:58] RMeli commented on #2367
@richardjgowers all outstanding issues seem to  be closed now and I don't have any further comments.

[2020-07-17 12:00] xuanxu commented on #2264
@sbenthall In this case I think all the review can be done using R, but to accept the claim that the software works in Stata a reviewer should have access to Stata at least to test the package installation guide from the README file. Is it possible for the authors to grant the reviewers temporary access to a Stata instance?

Maybe some @openjournals/joss-eics have any other idea.

[2020-07-17 12:10] NicolasHug commented on #2174
Thanks @sara-02 , and good catch. I have modified the first sentence accordingly.

[2020-07-17 12:10] NicolasHug commented on #2174
@whedon generate pdf from branch joss_paper

[2020-07-17 12:10] whedon commented on #2174
[code]

[2020-07-17 12:11] whedon commented on #2174
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02174/joss.02174/10.21105.joss.02174.pdf)

[2020-07-17 12:45] LukasAdamowicz commented on #2449
Fixed. I also added a statement regarding existing implementations/software of sit-to-stand algorithms

[2020-07-17 12:45] LukasAdamowicz commented on #2449
@whedon generate pdf

[2020-07-17 12:46] whedon commented on #2449
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02449/joss.02449/10.21105.joss.02449.pdf)

[2020-07-17 13:06] rram84 commented on #2372
@whedon generate pdf

[2020-07-17 13:07] whedon commented on #2372
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02372/joss.02372/10.21105.joss.02372.pdf)

[2020-07-17 13:19] platipodium commented on #2165
@arfon my review is finished and I endorse publication of the JOSS paper and utopia.  I won't be online for the next two weeks, so please go ahead and tick off any remaining steps/close issues needed on my behalf. Thank you for organizing this review and for giving me the opportunity to comment on the work.

[2020-07-17 13:23] andyphilips commented on #2264
Hi @sbenthall ....I think there may be some confusion. Just to clarify, the JOSS review is for the updated R version of this program, not the Stata version. The Stata version has already been reviewed/published elsewhere. I know that both the R and Stata programs are contained in the same branch (we did this to try and keep everything in one location); do I need to move one of them?

[2020-07-17 13:26] rram84 commented on #2372
@whedon generate pdf

[2020-07-17 13:27] whedon commented on #2372
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02372/joss.02372/10.21105.joss.02372.pdf)

[2020-07-17 13:41] danielskatz commented on #2282
@mikerspencer  - I don't think I understand what you are asking. You should do as much as possible to verify the criteria in the checklist, subject to reasonable effort, and then report what problems you come across so that the submitter can respond.  I'm confused when you say "I think testing should be done prior to review"  There should be some tests provided by the submitter (either manual or v

[2020-07-17 13:48] wilsonrljr commented on #2384
Dear @dawbarton , we appreciate the time and effort that you dedicated to providing feedback on our manuscript.

- Paper - some comments scribbled onto the PDF 10.21105.joss.02384 1.pdf; it's a bit sloppy in places and looks like it really needed proof reading again.
Regarding the manuscript, we are incorporating the suggestions made by you.  The comments will result in valuable improvements to ou

[2020-07-17 13:57] diehlpk commented on #2455
Hey @javidibaghban @spapadopoulos would you be interested in reviewing this paper?

[2020-07-17 14:55] stulacy commented on #2264
In that case I'm more than happy to review the R version 🙂

[2020-07-17 15:02] aureliocarnero commented on #2363
Dear @sambit-giri I had an unexpected error running the tutorials in https://tools21cm.readthedocs.io/examples/tutorials.html#Bubble-size-distribution

When I execute cell [22]: r_spa, dn_spa = t2c.spa(xHII, boxsize=boxsize, nscales=20)
It tells me the following error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/acarnero/codes/anaconda3/lib/python3.7/sit

[2020-07-17 15:09] sambit-giri commented on #2363
Dear @aureliocarnero
I had fixed this issue last week. You might have installed the package before this. Please try to re-install it and tell me if it doesn't work still.
Best,
Sambit

[2020-07-17 15:57] aureliocarnero commented on #2363
Dear @sambit-giri you are right, now it worked perfectly. So, for me, it is only missing the unit test issue commented above. Once you have those available, please let me know, so I can test those and then, validate all the points from the review. Cheers
Aurelio

[2020-07-17 16:07] benjaminbolling commented on #1942
@Chilipp @pythonpanda2 @majensen : I have written a test procedure, let me know if you find it sufficient or not. The API documentation will, as stated before, take a little while (ca. a week). You can start testing it anyways if you'd want to, as it seems to me as if all other issues and comments have now been addressed. Thank you all for the patience and the comments, and have a nice weekend!

[2020-07-17 17:16] pibion commented on #2401
@whedon assign @colbrydi as reviewer

[2020-07-17 17:16] whedon commented on #2401
OK, @colbrydi is now a reviewer

[2020-07-17 17:17] pibion commented on #2401
@whedon assign @cmbiwer as reviewer

[2020-07-17 17:17] whedon commented on #2401
OK, @cmbiwer is now a reviewer

[2020-07-17 17:18] pibion commented on #2401
@whedon start review

[2020-07-17 17:18] whedon opened #2484 "[REVIEW]: Science Capsule - Capturing the Data Life Cycle"
**Submitting author:** @dghoshal-lbl (<a href="http://orcid.org/0000-0002-6819-6949">Devarshi Ghoshal</a>)
**Repository:** <a href="https://bitbucket.org/sciencecapsule/sciencecapsule" target ="_blank">https://bitbucket.org/sciencecapsule/sciencecapsule</a>
**Version:** v0.1.1
**Editor:** @pibion
**Reviewers:** @colbrydi, @gflofst, @atrisovic
**Archive:** <a href="https://doi.org/10.5281/zenodo.49

[2020-07-17 17:18] whedon commented on #2401
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2484.

[2020-07-17 17:18] #2401 closed

[2020-07-17 17:18] whedon commented on #2484
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @cmbiwer it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.th

[2020-07-17 17:19] whedon commented on #2484
[code]

[2020-07-17 17:21] whedon commented on #2484
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02484/joss.02484/10.21105.joss.02484.pdf)

[2020-07-17 17:27] pibion commented on #2484
👋🏼 @dghoshal-lbl @colbrydi @cmbiwer this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from mos

[2020-07-17 17:31] pibion commented on #2484
@whedon add @colbrydi as reviewer

[2020-07-17 17:31] whedon commented on #2484
OK, @colbrydi is now a reviewer

[2020-07-17 17:40] pibion commented on #2363
@sambit-giri I agree with @aureliocarnero, providing a separate URL for a data download is an excellent solution for larger data sets.

I would recommend putting this data on a service like Zenodo or Figshare rather than hosting it from your own website.

[2020-07-17 18:40] EricaEgg commented on #2349
@mdmurbach The README references an examples/ directory, but I do not see that on the master branch. Should users just reference the readthedocs examples instead? Just want to clarify. Thanks!

[2020-07-17 18:45] mdmurbach commented on #2349
Good catch @EricaEgg! Yes, the directory was moved into docs/source, so you can find them [here](https://github.com/ECSHackWeek/impedance.py/tree/master/docs/source/examples). These notebook files become the examples rendered in the documentation using [nbsphinx](https://nbsphinx.readthedocs.io/en/0.7.1/).

I will update the README to fix that discrepancy as well.

[2020-07-17 20:42] paulgovan commented on #2111
@arfon, @akeshavan, sure thing. I've reviewed the paper again and also recommend moving forward with publication. These are great improvements.

[2020-07-17 21:43] EricaEgg commented on #2349
Great work everyone! I just have a few documentation recommendations, but other than that I would say it is good to go!

Doc recs:
1) In the notebook, _fitting_example.ipynb_, part 4a, numpy is called without an import. Import line needs to be added in this block or earlier.
2) In the notebook _plotting_example.ipynb_, part 3a, I am getting an error. There could be a bug in the function `circuit.p

[2020-07-17 21:51] EricaEgg commented on #2349
Created an issue on target repo

[2020-07-17 22:50] ronikobrosly commented on #2467
@kyleniemeyer , is it okay to, say, add a sentence or make a small edit at this step in the process? Or should I hold off until reviewers give feedback?

[2020-07-17 22:55] kyleniemeyer commented on #2467
@ronikobrosly yes, feel free to make edits right now, since we are still working to find an editor and reviewers.

[2020-07-17 23:04] majensen commented on #1942
@benjaminbolling thanks for this work. A tip, if you rename your test.txt to test.md, then GitHub will render it in a nice form.

@pythonpanda2 - based on the work done, can you check off the items in your review that are satisfied?

thanks everyone

[2020-07-18 04:06] mdmurbach commented on #2349
Awesome, thanks for taking the time to review @EricaEgg! I've added those changes as well as a few thoughts to the plotting error issue (I think it's potentially an adblocker or versioning issue rather than anything related to the package).

[2020-07-18 08:21] mitkof6 commented on #2431
https://github.com/pyomeca/pyomeca/issues/105

[2020-07-18 08:46] mitkof6 commented on #2431
https://github.com/pyomeca/ezc3d/issues/108

[2020-07-18 13:14] ronikobrosly commented on #2467
@whedon generate pdf

[2020-07-18 13:14] whedon commented on #2467
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02467/joss.02467/10.21105.joss.02467.pdf)

[2020-07-18 13:16] ronikobrosly commented on #2467
@whedon commands

[2020-07-18 13:16] whedon commented on #2467
Here are some things you can ask me to do:

[code]

[2020-07-18 13:16] ronikobrosly commented on #2467
@whedon check references

[2020-07-18 13:17] whedon commented on #2467
[code]

[2020-07-18 13:56] arfon commented on #2245
Just a quick update from me: I heard back from Pete who was positive about reviewing this package. I asked him to post here so we have his GitHub handle.

[2020-07-18 15:12] whedon opened #2485 "[PRE REVIEW]: NodePy: A package for the analysis of numerical ODE solvers"
**Submitting author:** @ketch (<a href="http://orcid.org/0000-0002-1212-126X">David Ketcheson</a>)
**Repository:** <a href="https://github.com/ketch/nodepy" target ="_blank">https://github.com/ketch/nodepy</a>
**Version:** 0.9
**Editor:** @VivianePons
**Reviewers:** @fruzsinaagocs, @wingtorres
**Managing EiC:** Lorena A Barba

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2020-07-18 15:12] whedon commented on #2485
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-18 15:13] whedon commented on #2485
[code]

[2020-07-18 15:13] whedon commented on #2485
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02485/joss.02485/10.21105.joss.02485.pdf)

[2020-07-18 15:13] whedon commented on #2485
[code]

[2020-07-18 15:21] labarba commented on #2485
👋  @ketch -- have a look at `whedon`'s report above... we're going to need DOIs added to all references that have them. Go ahead and make those edits, then run the command `@whedon generate pdf` here, as a single-line comment.

[2020-07-18 15:24] labarba commented on #2485
@whedon invite @VivianePons as editor

[2020-07-18 15:24] whedon commented on #2485
@VivianePons has been invited to edit this submission.

[2020-07-18 15:30] labarba commented on #2393
@whedon query scope

[2020-07-18 15:31] whedon opened #2486 "[PRE REVIEW]: sbi - a toolkit for simulation-based inference"
**Submitting author:** @janfb (<a href="http://orcid.org/0000-0003-4979-7092">Jan Boelts</a>)
**Repository:** <a href="https://github.com/mackelab/sbi" target ="_blank">https://github.com/mackelab/sbi</a>
**Version:** v0.10.0
**Editor:** @dfm
**Reviewers:** @EiffL, @cranmer
**Managing EiC:** Lorena A Barba

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pa

[2020-07-18 15:31] whedon commented on #2486
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-18 15:32] whedon commented on #2486
PDF failed to compile for issue #2486 with the following error:

 Can't find any papers to compile :-(

[2020-07-18 15:32] whedon commented on #2486
[code]

[2020-07-18 15:33] labarba commented on #2486
@whedon generate pdf from branch joss-submission

[2020-07-18 15:33] whedon commented on #2486
[code]

[2020-07-18 15:34] whedon commented on #2486
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02486/joss.02486/10.21105.joss.02486.pdf)

[2020-07-18 15:37] labarba commented on #2486
@whedon invite @dfm as editor

[2020-07-18 15:37] whedon commented on #2486
@dfm has been invited to edit this submission.

[2020-07-18 15:41] dfm commented on #2486
@labarba: I'm happy to edit this submission!

[2020-07-18 15:41] dfm commented on #2486
@whedon assign @dfm as editor

[2020-07-18 15:42] whedon commented on #2486
OK, the editor is @dfm

[2020-07-18 15:44] whedon opened #2487 "[PRE REVIEW]: PyRevolve: A python library to manage checkpointing for adjoints"
**Submitting author:** @navjotk (<a href="http://orcid.org/0000-0003-0016-3785">Navjot Kukreja</a>)
**Repository:** <a href="https://github.com/devitocodes/pyrevolve" target ="_blank">https://github.com/devitocodes/pyrevolve</a>
**Version:** v2.2
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Lorena A Barba

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of t

[2020-07-18 15:44] whedon commented on #2487
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-18 15:45] whedon commented on #2487
[code]

[2020-07-18 15:45] whedon commented on #2487
PDF failed to compile for issue #2487 with the following error:

 Can't find any papers to compile :-(

[2020-07-18 15:45] labarba commented on #2487
@whedon generate pdf from branch joss_paper

[2020-07-18 15:46] whedon commented on #2487
[code]

[2020-07-18 15:46] whedon commented on #2487
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02487/joss.02487/10.21105.joss.02487.pdf)

[2020-07-18 15:56] labarba commented on #2487
@whedon check references

[2020-07-18 15:59] labarba commented on #2487
👋  @navjotk -— We're going to need DOIs added to all references that have them. Go ahead and make those edits, then run the command `@whedon generate pdf from branch joss_paper` here, as a single-line comment.

[2020-07-18 16:09] labarba commented on #2487
@whedon invite @jedbrown as editor

[2020-07-18 16:09] whedon commented on #2487
@jedbrown has been invited to edit this submission.

[2020-07-18 16:11] whedon opened #2488 "[PRE REVIEW]: PF: A C++ Library for Fast Particle Filtering"
**Submitting author:** @tbrown122387 (<a href="http://orcid.org/0000-0003-4972-6251">Taylor Brown</a>)
**Repository:** <a href="https://github.com/tbrown122387/pf" target ="_blank">https://github.com/tbrown122387/pf</a>
**Version:** v1.0.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Lorena A Barba

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVI

[2020-07-18 16:11] whedon commented on #2488
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-18 16:12] whedon commented on #2488
[code]

[2020-07-18 16:12] whedon commented on #2488
[code]

[2020-07-18 16:12] whedon commented on #2488
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02488/joss.02488/10.21105.joss.02488.pdf)

[2020-07-18 16:28] labarba commented on #2487
@whedon check references from branch joss_paper

[2020-07-18 16:28] whedon commented on #2487
[code]

[2020-07-18 16:28] whedon commented on #2487
[code]

[2020-07-18 16:42] UTH-Tuan commented on #2153
@arcuri82 I have taken a look at the paper to understand the scope of the problem that the software addresses. I don't see any discussion relating to what others have done and how this tool differentiates itself.

[2020-07-18 16:43] RCHG commented on #2479
@whedon commands

[2020-07-18 16:43] whedon commented on #2479
Here are some things you can ask me to do:

[code]

[2020-07-18 16:54] arfon commented on #1277
@casperdcl @lrq3000 thank you for all of the work you've done to date to try and resolve this issue. I've been trying to keep up to date with progress over the past few months (e.g. in https://github.com/tqdm/tqdm/pull/905) and I have to say I'm not exactly sure how close this is to coming to a resolution.

It it now nearly six months since the authorship issue was raised here, and [my comment](ht

[2020-07-18 16:54] arfon commented on #1277
@whedon remind @arfon in two weeks

[2020-07-18 16:54] whedon commented on #1277
@arfon doesn't seem to be a reviewer or author for this submission.

[2020-07-18 16:57] labarba commented on #2488
👋  @tbrown122387 — I'm going to send this back to you for some work, because the paper does not quite follow our expectations. Please read the section[What should my paper contain?](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) in our documentation. You should _start_ with a summary that is accessible for the non-specialist. This section is key for the Associa

[2020-07-18 16:59] whedon opened #2489 "[PRE REVIEW]: Kookaburra for radio-pulsar shapelet analysis"
**Submitting author:** @GregoryAshton (<a href="http://orcid.org/0000-0001-7288-2231">Gregory Ashton</a>)
**Repository:** <a href="https://github.com/GregoryAshton/kookaburra" target ="_blank">https://github.com/GregoryAshton/kookaburra</a>
**Version:** 0.2.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Lorena A Barba

**:warning: JOSS reduced service mode :warning:**

Due to the ch

[2020-07-18 16:59] whedon commented on #2489
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-18 16:59] whedon commented on #2489
Failed to discover a `Statement of need` section in paper

[2020-07-18 16:59] whedon commented on #2489
[code]

[2020-07-18 17:00] whedon commented on #2489
[code]

[2020-07-18 17:00] whedon commented on #2489
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02489/joss.02489/10.21105.joss.02489.pdf)

[2020-07-18 17:07] labarba commented on #2489
👋  @GregoryAshton — I'm going to send this back for a bit of work on the paper. Currently, it does not follow our guidance in providing a clear _Statement of Need_. See the section [What should my paper contain?](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) in our documentation. Tell us why the research world needs your software!

[2020-07-18 17:09] labarba commented on #2489
@whedon query scope

[2020-07-18 17:10] whedon opened #2490 "[PRE REVIEW]: pyOptSparse: A Python framework for large-scale constrained nonlinear optimization of sparse systems"
**Submitting author:** @nwu63 (<a href="http://orcid.org/0000-0001-8856-9661">Neil Wu</a>)
**Repository:** <a href="https://github.com/mdolab/pyoptsparse/" target ="_blank">https://github.com/mdolab/pyoptsparse/</a>
**Version:** v2.1.3
**Editor:** @poulson
**Reviewers:** @jgoldfar, @vissarion, @matbesancon
**Managing EiC:** Lorena A Barba

**:warning: JOSS reduced service mode :warning:**

Due to

[2020-07-18 17:10] whedon commented on #2490
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-18 17:10] whedon commented on #2490
PDF failed to compile for issue #2490 with the following error:

 Can't find any papers to compile :-(

[2020-07-18 17:11] whedon commented on #2490
[code]

[2020-07-18 17:11] labarba commented on #2490
@whedon generate pdf from branch paper

[2020-07-18 17:11] whedon commented on #2490
[code]

[2020-07-18 17:11] whedon commented on #2490
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02490/joss.02490/10.21105.joss.02490.pdf)

[2020-07-18 17:15] labarba commented on #2490
👋  @nwu63 — I'm going to send this back for a bit of work on the paper. Currently, it does not follow our guidance in providing a clear _Statement of Need_. See the section [What should my paper contain?](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) in our documentation. Tell us why the research world needs your software!

[2020-07-18 17:17] labarba commented on #2490
@jedbrown — the author suggested you as handling editor... could you take a look?

[2020-07-18 17:18] labarba commented on #2490
@poulson — the author suggested you as handling editor... could you take a look?

[2020-07-18 17:20] whedon opened #2491 "[PRE REVIEW]: PyGRB: A pure python gamma-ray burst analysis package."
**Submitting author:** @JamesPaynter (<a href="http://orcid.org/0000-0002-9672-4008">James Paynter</a>)
**Repository:** <a href="https://github.com/JamesPaynter/PyGRB" target ="_blank">https://github.com/JamesPaynter/PyGRB</a>
**Version:** v1.0.1
**Editor:** @xuanxu
**Reviewers:** @zingale, @grburgess
**Managing EiC:** Lorena A Barba

**:warning: JOSS reduced service mode :warning:**

Due to the c

[2020-07-18 17:20] whedon commented on #2491
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-18 17:20] whedon commented on #2491
Failed to discover a `Statement of need` section in paper

[2020-07-18 17:20] whedon commented on #2491
[code]

[2020-07-18 17:20] whedon commented on #2491
[code]

[2020-07-18 17:20] whedon commented on #2491
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02491/joss.02491/10.21105.joss.02491.pdf)

[2020-07-18 17:21] pdebuyl commented on #2454
@xuqiancheng would you review the article "PySocialForce: A Python Implementation of the Extended Social Force Model for Pedestrian Dynamics" for the Journal of Open Source Software?

[2020-07-18 17:23] labarba commented on #2491
👋  @JamesPaynter — I'm going to send this back for a bit of work on the paper. Currently, it does not follow our guidance in providing a clear _Statement of Need_. See the section [What should my paper contain?](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) in our documentation. Tell us why the research world needs your software!

[2020-07-18 17:24] labarba commented on #2491
@whedon invite @xuanxu as editor

[2020-07-18 17:24] whedon commented on #2491
@xuanxu has been invited to edit this submission.

[2020-07-18 17:26] whedon opened #2492 "[PRE REVIEW]: APE: A Java Library for Automated Exploration of Computational Pipelines"
**Submitting author:** @vedran-kasalica (<a href="http://orcid.org/0000-0002-0097-1056">Vedran Kasalica</a>)
**Repository:** <a href="https://github.com/sanctuuary/APE/" target ="_blank">https://github.com/sanctuuary/APE/</a>
**Version:** v1.0.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Lorena A Barba

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of th

[2020-07-18 17:26] whedon commented on #2492
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-18 17:26] whedon commented on #2492
Failed to discover a `Statement of need` section in paper

[2020-07-18 17:26] whedon commented on #2492
[code]

[2020-07-18 17:27] whedon commented on #2492
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02492/joss.02492/10.21105.joss.02492.pdf)

[2020-07-18 17:28] whedon commented on #2492
[code]

[2020-07-18 17:41] labarba commented on #2492
👋 @vedran-kasalica — Since the article [APE: A Command-Line Tool and API for Automated Workflow Composition](https://link.springer.com/chapter/10.1007/978-3-030-50436-6_34) is a _software paper_, can you justify how this JOSS submission would not constitute duplicate publication of the same scholarship?

[2020-07-18 17:43] whedon opened #2493 "[PRE REVIEW]: CIMSA: Customizable Integrated Multiple Sequence Alignment Package"
**Submitting author:** @kuangmeng (<a href="http://orcid.org/0000-0001-9656-5652">Mengmeng Kuang</a>)
**Repository:** <a href="https://github.com/kuangmeng/CIMSA" target ="_blank">https://github.com/kuangmeng/CIMSA</a>
**Version:** v1.0
**Editor:** @will-rowe
**Reviewers:** @CFGrote, @xyzmjf
**Managing EiC:** Lorena A Barba

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2020-07-18 17:43] whedon commented on #2493
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-18 17:43] whedon commented on #2493
Failed to discover a `Statement of need` section in paper

[2020-07-18 17:43] whedon commented on #2493
[code]

[2020-07-18 17:43] whedon commented on #2493
Failed to discover a valid open source license.

[2020-07-18 17:43] whedon commented on #2493
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02493/joss.02493/10.21105.joss.02493.pdf)

[2020-07-18 17:43] whedon commented on #2493
[code]

[2020-07-18 17:47] labarba commented on #2493
👋  @kuangmeng — I'm going to send this back for a bit of work on the paper. Currently, it does not follow our guidance in providing a clear _Statement of Need_. See the section [What should my paper contain?](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) in our documentation. Tell us why the research world needs your software!

Also, to be eligible for conside

[2020-07-18 17:58] labarba commented on #2493
@will-rowe — would you have a look at this submission and let me know if you might be able to handle it as editor?

[2020-07-18 18:05] kuangmeng commented on #2493
@whedon generate pdf

[2020-07-18 18:06] whedon commented on #2493
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02493/joss.02493/10.21105.joss.02493.pdf)

[2020-07-18 18:08] kuangmeng commented on #2493
The `DOI` issue, the `open source license` issue, and the `Statement of Need` section issue have been fixed. Thanks.

[2020-07-18 18:09] kuangmeng commented on #2493
@whedon commands

[2020-07-18 18:09] whedon commented on #2493
Here are some things you can ask me to do:

[code]

[2020-07-18 18:09] kuangmeng commented on #2493
@whedon check references

[2020-07-18 18:10] kuangmeng commented on #2493
@whedon check repository

[2020-07-18 18:10] whedon commented on #2493
[code]

[2020-07-18 18:10] whedon commented on #2493
[code]

[2020-07-18 19:08] nwu63 commented on #2490
Hi @labarba, sorry about that I didn't realize it had to be a separate section. I've updated the paper and pushed it to the repo, please take a look if you have time. I would also be happy to suggest reviewers if needed.

@whedon generate pdf from branch paper

[2020-07-18 19:13] xuqiancheng commented on #2454
@pdebuyl Yes, I would like to review the article.

[2020-07-18 19:21] pdebuyl commented on #2454
@whedon add @xuqiancheng as reviewer

[2020-07-18 19:21] whedon commented on #2454
OK, @xuqiancheng is now a reviewer

[2020-07-18 19:21] pdebuyl commented on #2454
Thank you @xuqiancheng.

[2020-07-18 19:22] pdebuyl commented on #2454
@whedon start review

[2020-07-18 19:22] whedon opened #2494 "[REVIEW]: PySocialForce: A Python Implementation of the Extended Social Force Model for Pedestrian Dynamics"
**Submitting author:** @yuxiang-gao (<a href="http://orcid.org/0000-0001-6183-2482">Yuxiang Gao</a>)
**Repository:** <a href="https://github.com/yuxiang-gao/PySocialForce" target ="_blank">https://github.com/yuxiang-gao/PySocialForce</a>
**Version:** v1.0.0
**Editor:** @pdebuyl
**Reviewer:** @ixjlyons, @xuqiancheng
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the

[2020-07-18 19:22] whedon commented on #2454
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2494.

[2020-07-18 19:22] #2454 closed

[2020-07-18 19:22] whedon commented on #2494
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ixjlyons, @xuqiancheng it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2020-07-18 19:23] whedon commented on #2494
[code]

[2020-07-18 19:23] whedon commented on #2494
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02494/joss.02494/10.21105.joss.02494.pdf)

[2020-07-18 19:26] pdebuyl commented on #2494
@ixjlyons & @xuqiancheng make sure to accept the invitation to the reviewers group and to have a look at the reviewer guidelines linked to at the top of this review page.

The review process will happen in this issue page, so questions to the author or to me can be added as comments here.

[2020-07-18 19:29] lrq3000 commented on #1277
Thank you very much @arfon and the Joss team for your understanding and for allowing us so much time to resolve this issue.

Ok I agree with the deadline and the conditions. I will discuss with @casperdcl directly.

[2020-07-18 19:29] pdebuyl commented on #2494
@yuxiang-gao a comment about the paper: it contains a code listing. This is best kept out of the paper and in the documentation or example files of the software.

[2020-07-18 20:14] benjaminbolling commented on #1942
thanks @majensen, I have renamed test.txt to test.md as you suggested.

[2020-07-18 20:15] casperdcl commented on #1277
Thanks all for your input/responses.

I have been careful to avoid volunteering any personal opinions as much as possible. However, in the interest of clarity and to hopefully help understand my reasoning, these are my working assumptions (aka what I believe to be irrefutable facts):

### Everyone

- **users who have copyright over the codebase**: complex, many and various; a good guide is https:/

[2020-07-18 20:36] dpsanders commented on #2456
:wave @tamasgal Sorry for the delay.

Could you please check for each piece of software that you cite whether there is a related published paper. For example, `sumatra` has an associated paper.

Software also often has a preferred means of citing the software listed in the repository.

Are there any other non-software references, i.e. published papers, that are relevant?

[2020-07-18 20:48] dpsanders commented on #2392
@henrik227 Thanks for expressing your concern.

I am waiting for @alex-konovalov's input, and for a further opinion which I hope to get next week.

[2020-07-18 22:39] Himscipy commented on #2444
@berenger-eu; Following are my comment regarding the documentation for the library.

__Overall Comment:__ The Readme of the code is said to be the main documentation for the [code](https://gitlab.inria.fr/bramas/tbfmm). The Readme is nicely done with details including the installation/compilation instruction ,usage and customization instructions.  But navigating a large README for the purpose of u

[2020-07-18 23:19] lrq3000 commented on #1277
I did not know of this new proposition before and it is a total change from the previous proposition which we have worked on up to now. I will comment more later.

[2020-07-18 23:23] casperdcl commented on #1277
Ah this is not a "new proposal". It's firstly not "new" as it was actually the first suggestion, I think. Secondly it's not a "propsal," it is only my private thoughts.

The "proposal" is still simply https://github.com/tqdm/tqdm/pull/905 as-is

[2020-07-18 23:53] Smattr commented on #2400
I'm done with my review. It was a pleasure to read this submission -- very informative and also high quality. I wish I'd known more about GPP previously, and it's definitely something I'll consider using in future.

[2020-07-18 23:57] cmaimone commented on #2482
@karthik the pdf for this submission looks like it failed to compile.  I'm not sure what the next step to address that is

[2020-07-19 00:08] karthik commented on #2482
Thanks for letting me know @cmaimone
I fixed a few problems with the way they reference citations and sent in a pull-request. Once merged, Whedon will be able to generate PDFs again. In the meantime here's the paper I was able to compile locally with my fix.

[nlr9oojjkffpxi0pif2v.pdf](https://github.com/openjournals/joss-reviews/files/4943009/nlr9oojjkffpxi0pif2v.pdf)

[2020-07-19 01:26] jrkasprzyk commented on #2292
Hi @kbarnhart I am coming into the process a little late! I cannot fill out the checklist, although I am logged into my account. Perhaps I need another invitation?

[2020-07-19 01:35] jrkasprzyk commented on #2292
@whedon commands

[2020-07-19 01:35] whedon commented on #2292
Here are some things you can ask me to do:

[code]

[2020-07-19 01:36] jrkasprzyk commented on #2292
@whedon list reviewers

[2020-07-19 01:36] whedon commented on #2292
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2020-07-19 02:47] cmaimone commented on #2482
@karthik I'm not sure this submission meets the substantial scholarly effort criteria

github history is just a few months

15

1

919 lines of R code, under the recommended 1000

No evidence of this beyond the author's preprint https://arxiv.org/pdf/1907.04152.pdf

The package does not appear to have sufficient documentation and examples to lead to widespread use that would bring about citations.

[2020-07-19 04:41] sara-02 commented on #2356
Hey @jboynyc @gkthiruvathukal I am looking for more packages to review, and even though I have not contributed to textnets, I have knowledge about spacy and text analysis and community detection algorithms.
I would be happy to take this up.

[2020-07-19 05:30] tamasgal commented on #2456
No worries, thanks for the feedback! Yes I’ll check again and go through the list of refs.

I think the list is complete but we will check that too.

[2020-07-19 06:07] kinow commented on #2354
Just waiting for confirmation before starting review :+1:

[2020-07-19 06:20] csoneson commented on #2440
@whedon re-invite @vals as reviewer

[2020-07-19 06:20] whedon commented on #2440
OK, the reviewer has been re-invited.

@vals please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-07-19 06:38] kuangmeng commented on #2493
@whedon generate pdf

[2020-07-19 06:38] whedon commented on #2493
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02493/joss.02493/10.21105.joss.02493.pdf)

[2020-07-19 06:42] kuangmeng commented on #2493
@whedon generate pdf

[2020-07-19 06:42] whedon commented on #2493
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02493/joss.02493/10.21105.joss.02493.pdf)

[2020-07-19 07:19] ketch commented on #2485
@whedon generate pdf

[2020-07-19 07:20] whedon commented on #2485
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02485/joss.02485/10.21105.joss.02485.pdf)

[2020-07-19 07:20] ketch commented on #2485
I've added DOIs for everything that has them.  Note that one of the DOIs suggested by the bot actually corresponds to a book review rather than the book, so I didn't add it.

[2020-07-19 07:29] ketch commented on #2485
Some suggested referees:

 - Lisandro Dalcin (dalcinl)
 - Mikael Mortensen (mikaem)
 - fruzsinaagocs (from volunteer list)
 - wingtorres (from volunteer list)

[2020-07-19 09:23] richardjgowers commented on #2367
@whedon generate pdf

[2020-07-19 09:24] whedon commented on #2367
PDF failed to compile for issue #2367 with the following error:

 Can't find any papers to compile :-(

[2020-07-19 09:24] richardjgowers commented on #2367
@whedon generate pdf from branch joss-paper-branch

[2020-07-19 09:24] whedon commented on #2367
[code]

[2020-07-19 09:24] richardjgowers commented on #2367
@whedon check references

[2020-07-19 09:24] whedon commented on #2367
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02367/joss.02367/10.21105.joss.02367.pdf)

[2020-07-19 09:41] richardjgowers commented on #2367
@RainierBarrett I think we're ready to move ahead with this, can you make a release on github and archive it on zenodo so we can pin the paper against that?

[2020-07-19 09:52] richardjgowers commented on #2429
@whedon assign @richardjgowers as editor

[2020-07-19 09:52] whedon commented on #2429
OK, the editor is @richardjgowers

[2020-07-19 10:02] arcuri82 commented on #2153
@UTH-Tuan, from the [paper](https://github.com/openjournals/joss-papers/blob/joss.02153/joss.02153/10.21105.joss.02153.pdf):

Are you saying that you want to see that (very brief) section extended?

[2020-07-19 10:06] ejhigson commented on #2404
@cadop congrations on a nice software package and paper! I have installed it and successfully run the tests and examples, as well as reviewing the documentation and paper. I only have a few minor questions:

1) I see the minimum versions for the dependencies in ``setup.py`` are different to those which are listed in the documentation - should this be updated?

2) I get an error running the code in

[2020-07-19 10:24] richardjgowers commented on #2429
@valeriewelborn how modified is the patched version of TINKER (https://github.com/WelbornGroup/Tinker_ELECTRIC) from the original?  Also, I'm not sure but is the rehosting of modified source code allowed according to the license? (in particular points 5&6 of https://dasher.wustl.edu/tinker/downloads/license.pdf)

[2020-07-19 13:12] will-rowe commented on #2493
@labarba - I'm on leave for the week but happy to handle when I get back

[2020-07-19 14:35] labarba commented on #2493
@whedon assign @will-rowe as editor

[2020-07-19 14:35] whedon commented on #2493
OK, the editor is @will-rowe

[2020-07-19 14:57] jedbrown commented on #2487
@navjotk Thanks for your submission. In looking it over, I'm not sure this is appropriate for JOSS in its current form: https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort

In particular, I understand that `src/revolve.cpp` is preexisting software ([the link is 404](https://math.uni-paderborn.de/index.php?id=12067&L=1), BTW). If we subtract out versioneer, I'm seeing

[2020-07-19 15:04] arfon commented on #2354
:wave: I expect @cMadan will be back here shortly to set up the review. Thanks for your patience all :-)

[2020-07-19 15:14] AKuederle commented on #2404
To provide a summary of my feedback:

First of all, the package is very well written and documented. It fullfils the purpose, which is very well outlined in the paper, nicely and thanks to the examples it should be easy to get it running on a new dataset.

From a scientific perspective, this package mainly wraps a template matching approach based on cross correlation with a subsequent clustering w

[2020-07-19 15:16] danielskatz commented on #2429
@whedon query scope

[2020-07-19 15:16] whedon commented on #2429
Submission flagged for editorial review.

[2020-07-19 15:28] labarba commented on #2487
@whedon query scope

[2020-07-19 15:28] whedon commented on #2487
Submission flagged for editorial review.

[2020-07-19 15:43] labarba commented on #2490
@whedon generate pdf from branch paper

[2020-07-19 15:43] whedon commented on #2490
[code]

[2020-07-19 15:44] whedon commented on #2490
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02490/joss.02490/10.21105.joss.02490.pdf)

[2020-07-19 15:44] labarba commented on #2490
@whedon invite @poulson as editor

[2020-07-19 15:44] whedon commented on #2490
@poulson has been invited to edit this submission.

[2020-07-19 15:48] poulson commented on #2490
@whedon set @poulson as editor

[2020-07-19 15:48] whedon commented on #2490
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-07-19 15:48] poulson commented on #2490
@whedon commands

[2020-07-19 15:48] whedon commented on #2490
Here are some things you can ask me to do:

[code]

[2020-07-19 15:48] poulson commented on #2490
@whedon assign @poulson as editor

[2020-07-19 15:49] whedon commented on #2490
OK, the editor is @poulson

[2020-07-19 16:16] dhhagan commented on #2479
Hi @RCHG - you should be able to edit the issue once you accept the invite. If you did not get an invite, please let me know and I will re-invite you to the issue. As for (b) - yes, please indicate the steps right here in this issue. Please let me know if you have any other qustions!

[2020-07-19 17:03] fboehm commented on #2402
@tomsing1 and @homonecloco - I hope that your reviews are going well. Please feel free to complete the checklists when you're satisfied with the submission and to suggest revisions until you're satisfied. Please let me know how I might help.

[2020-07-19 17:05] fboehm commented on #2474
@tomaslaz - I'm struggling to find a second reviewer. Are there any scholars whom you can suggest as reviewers? Thanks again!

[2020-07-19 19:03] arfon commented on #1277
Thanks for the quick responses @casperdcl and @lrq3000. For clarity (and for future readers) I would like to provide some additional thoughts/responses to what has been said:

@casperdcl said:

While I agree IEEE does have a formal definition, many journals are much less formal about this _because authorship is such a complex topic with many nuances_.

For software journals, the issue of authorshi

[2020-07-19 20:26] ekaterinailin commented on #2347
@whedon generate pdf

[2020-07-19 20:27] whedon commented on #2347
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02347/joss.02347/10.21105.joss.02347.pdf)

[2020-07-19 20:36] jsgalan commented on #2449
Hi all, I just checked the last version of the article and am satisfied with the results.

I am happy to accept the submission.

Best,

[2020-07-19 21:10] ekaterinailin commented on #2347
Hi @afeinstein,

thanks for addressing the comments! The software performs very well now, and the paper is good to go. However, I still think that the tests require some more attention, so I have not ticked this last box yet.

Responding to each of your replies one by one:

**Major Issues**

- I've incorporated better tests now to ensure the core functionality doesn't break.

The tests that you ad

[2020-07-19 22:01] AliciaSchep commented on #2472
Great work -- really nice interface for making heatmaps from dataframes!

In terms of the criteria for review I saw two main areas for potential improvement --

(1) The tests appear to mostly check that the functions run without error and create an output of the right class.  This strategy seems like it could miss many potential issues. One package that can be helpful for visual regression testing

[2020-07-19 22:13] epezent commented on #2275
@Kevin-Mattheus-Moerman, thank you for the consideration but I don't currently have the bandwidth or experience with reinforcement learning to provide a high-quality review.

I can recommend my colleague @nathandunk

[2020-07-19 22:17] nhejazi commented on #2447
Hi @marcosvital and @joethorley, thanks for the discussion on report issues. I've made the change to point users to further instructions in the `CONTRIBUTING.md` in the "Issues" section of `README.Rmd` (see https://github.com/nhejazi/txshift/pull/60). I'll be using that PR to keep track of all revisions and will merge it once we've resolved all comments/issues raised in this thread.

[2020-07-20 00:09] yuxiang-gao commented on #2494
Hi @pdebuyl, thanks for the helpful comment. According to your suggestion, I have modified my paper so that the code listings are kept to the bare minimum and the example codes are now in an example file.

[2020-07-20 00:53] dghoshal-lbl commented on #2351
@muhrin Thanks for the update and adding the tests. Your answers, benchmark results and tests address most of my questions.

The only thing that remains is the import error for AsyncContextManager, for which I have created an issue and added the details. I received the same error while running the tests you provided. Let me know if you need anything else.

[2020-07-20 01:11] terrytangyuan commented on #2174
@whedon check references

[2020-07-20 01:22] joglekara commented on #2182
@TomGoffrey Looking forward to your thoughts on the most recent version in `origin/paper`. Thanks!

[2020-07-20 02:25] dineshresearch commented on #2275
Hello  Kevin Mattheus Moerman,

I can do the review as I have the relevant experience in terms of technical
expertise and I will provide my review by the end of this week

On Sun, Jul 12, 2020 at 4:42 PM Kevin Mattheus Moerman <
notifications@github.com> wrote:

--
Kind Regards
Amara Dinesh Kumar
“Alone we can do so little and together we can do much” — Helen Keller
Research Info <https://sites.go

[2020-07-20 03:27] stemangiola commented on #2472
Thanks Alicia.

Both your issue and feedback have been integrated here https://github.com/stemangiola/tidyHeatmap/pull/44

1) Great suggestion for vdiffr! I wondered how to test images. That has been integrated
2) Good suggestion. I realised that while is genetics the structure element/feature/value/independent variable is almost implicit, this can create confusion generally. I have update both RE

[2020-07-20 03:35] stemangiola commented on #2472
And for commenting on your concern

"Maybe thats kind of an arbitrary example trying to make use of a common data set, but I think given that a major contribution of this work is providing a bridge between "tidy" data and heatmaps it would be helpful to have a bit more explanation of how heatmaps and this API relate to the data and its structure. "

Yes this was totally arbitrary in order to produ

[2020-07-20 06:33] strengejacke commented on #2445
@whedon generate pdf

[2020-07-20 06:34] whedon commented on #2445
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02445/joss.02445/10.21105.joss.02445.pdf)

[2020-07-20 06:43] strengejacke commented on #2445
@cmaimone Dear Christina, thank you for your reviews regarding our package (website) and the paper. We have addressed your issues and included a response to your requests in the related GitHub issues (https://github.com/easystats/parameters/issues/274, https://github.com/easystats/parameters/issues/276 and https://github.com/easystats/parameters/issues/277).

We hope that our revisions adequately

[2020-07-20 07:25] eloisabentivegna commented on #2457
@whedon add @afialkov as reviewer

[2020-07-20 07:25] whedon commented on #2457
OK, @afialkov is now a reviewer

[2020-07-20 07:26] eloisabentivegna commented on #2457
@whedon add @Stefan-Heimersheim as reviewer

[2020-07-20 07:26] whedon commented on #2457
OK, @Stefan-Heimersheim is now a reviewer

[2020-07-20 07:26] eloisabentivegna commented on #2457
@whedon start review

[2020-07-20 07:26] whedon opened #2495 "[REVIEW]: CoReCon: an open, community-powered collection of Reionization constraints"
**Submitting author:** @EGaraldi (<a href="http://orcid.org/0000-0002-6021-7020">Enrico Garaldi</a>)
**Repository:** <a href="https://github.com/EGaraldi/corecon" target ="_blank">https://github.com/EGaraldi/corecon</a>
**Version:** v0.3.1
**Editor:** @eloisabentivegna
**Reviewer:** @ngnedin, @afialkov, @Stefan-Heimersheim
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Du