[2017-09-13 04:25] demotu commented on #396
Yes, I AM satisfied with this change.

Em 13 de set de 2017 01:21, "Ben Margolis" <notifications@github.com>
escreveu:

Thanks, I agree working links to the documentation everywhere is helpful.

I figured out how to do it in a way I'm happy with. Now, the github README
will point to the latest docs on readthedocs, the pypi description will
point to the most recent X.Y.Z build of the docs on readth

[2017-09-13 10:59] cMadan commented on #396
@sixpearls, I looked the repo over and everything looks great! You did an excellent job of preparing a useful readme, paper.md, and examples.

@demotu, is there a reason you haven't checked the performance checkbox in the list in the first comment here?

[2017-09-13 12:29] kaneplusplus commented on #402
This is great news! Thanks.

[2017-09-13 13:57] demotu commented on #396
I just checked the performance checkbox.

-
Marcos Duarte
http://demotu.org/

On Wed, Sep 13, 2017 at 7:59 AM, Christopher Madan <notifications@github.com

[2017-09-13 17:08] crawfordsm commented on #388
Conflict of interest

- []  As the reviewer I confirm that there are no conflicts of interest for me to review this work (such as being a major contributor to the software).

Code of Conduct

- []   I confirm that I read and will adhere to the JOSS code of conduct.

General checks

- []   Repository: Is the source code for this software available at the repository url?
- []   License: Does the rep

[2017-09-13 18:02] crawfordsm commented on #388
Using this as notepad for high level comments -- will transfer to the repository once finished with review

The gala software package provides tools for galactic dynamic measurements.  It is python package that wraps lower level, higher performance, and provides a user friendly interface to those lower level codes.  It is well integrated with astropy, and provides documentation of its functionalit

[2017-09-13 18:32] nhejazi commented on #302
Just wanted to bump this since it's now been ~1 month since @wrathematics was prompted

[2017-09-13 20:36] Code-XYZxyz commented on #387
Hi, I've already created a file "paper.bib" and cite it in "paper.md".
Thank you.

On Tue, Sep 12, 2017 at 7:57 PM, Arfon Smith <notifications@github.com>
wrote:

--
     Wishing you all the best,

Xiayun ZHAO

[2017-09-13 21:02] krother commented on #401
Thanks for the quick and precise repsonse. All issues resolved. Good job!

[2017-09-13 21:03] krother commented on #401
@arokem I suggest to publish this article.

[2017-09-13 22:23] TJKessler commented on #401
@krother - thank you for taking the time to review ECNet!

[2017-09-13 22:48] pboesu commented on #381
@arfon Sorry for the delay. I meant to do this last week but ended up packing my house and evacuating because of Irma instead. I just got back home today - fortunately no major damage. I'll aim to complete the review next week.

[2017-09-13 23:23] arfon commented on #381
Of course! Glad to hear you're safe (and the house isn't too bad). Please take your time and get to this when you can.

[2017-09-14 12:27] adrn commented on #388
Thanks for the comments! I addressed the ones you left so far:
* I added an [AUTHORS.rst](https://github.com/adrn/gala/blob/master/AUTHORS.rst) file, and now include it in the documentation
* I added the high-level justification / context to the main page of the documentation
* I renamed the 'why' page

[2017-09-14 19:20] mdoucet commented on #399
@whedon commands

[2017-09-14 19:20] whedon commented on #399
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-09-14 19:21] mdoucet commented on #399
@whedon list editors

[2017-09-14 19:21] whedon commented on #399
Current JOSS editors:

[code]

[2017-09-14 19:22] mdoucet commented on #399
@whedon assign @arfon as editor

[2017-09-14 19:22] whedon commented on #399
I'm sorry @mdoucet, I'm afraid I can't do that. That's something only JOSS editors are allowed to do.

[2017-09-15 22:51] sixpearls commented on #396
Thanks for your review and feedback, @demotu.

@cMadan, what are the next steps to get this published? And I'm glad you liked the documentation and paper!

[2017-09-16 02:10] alignedleft commented on #394
## General Comments

*This project is impressive.* Processing is a great tool for building real-time, interactive tools. And the language is designed for beginners (in as much as possible), so I appreciate the choice of Processing as the language used here—to reach a less technical (in terms of coding skills) audience.

I have no expertise in fluid dynamics, however, so I can't comment on the valu

[2017-09-16 18:56] hausen commented on #331
Well, that's probably as good as it gets without a real-world example of usage.

My last two comments:

1) since it's "out of this paper scope" to show how the data for Fig 1 and Table 1 was processed, please remove them both from the README.md. IMHO, displaying this information -- without at least mentioning how you went from the output of the program to the data that gave birth to it -- only con

[2017-09-16 19:19] sepandhaghighi commented on #331
@hausen

1. Removed

2. I will add links in the future.

[2017-09-16 19:49] hausen commented on #331
Gentlemen, I think it's a wrap. Back to you, @danielskatz.

[2017-09-17 01:37] danielskatz commented on #331
Thanks @hausen for your reviewing work, and @sepandhaghighi for your paper, software and updates.

@arfon - over to you.

[2017-09-17 11:21] arfon commented on #331
@sepandhaghighi - the citations aren't being compiled in by Pandoc as you're not citing them in the body of the paper. Could you cite them directly please? (You can read how to do that [here](http://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html))

[2017-09-17 11:50] sepandhaghighi commented on #331
@arfon Done ;-)

[2017-09-18 00:10] arokem commented on #401
Thank you both for the quick turnaround here. @TJKessler : Your next step is to make an archive from the current version (e.g., using Zenodo) and to post the DOI of the archive here.

[2017-09-18 00:17] arokem commented on #350
@wojdyr : have you had a chance to take a look at these comments?

[2017-09-18 00:20] arokem commented on #403
@whedon assign @arokem as editor

[2017-09-18 00:20] whedon commented on #403
OK, the editor is @arokem

[2017-09-18 00:21] arokem commented on #403
👋 @katyhuff : do you know anyone who could review this? Looks like it might be in your ball park (??)

[2017-09-18 00:22] arokem commented on #403
@zhangy6x : alternatively, do you have any suggestions for reviewers?

[2017-09-18 02:11] TJKessler commented on #401
@arokem - here is the archive DOI: 10.5281/zenodo.893638

[2017-09-18 05:31] kyleniemeyer commented on #311
Hi @pboesu, just wanted to ping you on this review.

[2017-09-18 05:32] kyleniemeyer commented on #165
Hi @aragilar @bmcage just wanted to check in on the progress here.

[2017-09-18 06:45] bmcage commented on #165
I merged the new sphinx doc system.  Some other features, not joss related, to be fleshed out before we do a new release, but all is ok to resolve this issue in my opinion.

[2017-09-18 08:38] SergeStinckwich commented on #251
There are still some methods and class comments missing, but the quality of the documentation is enough I guess.

[2017-09-18 08:42] SergeStinckwich commented on #251
@arfon what is the meaning of "References: Do all archival references that should have a DOI list one (e.g. papers, datasets, software)?" ?

[2017-09-18 10:17] arfon commented on #401
@TJKessler - Could you move the references you currently have in the `paper.md` file into a `paper.bib` file and cite them directly please? (You can read how to do that [here](http://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html))

[2017-09-18 10:19] arfon commented on #251
It just means that if there's an entry in `paper.bib` it should ideally have a DOI for it. Not all references have a DOI but the vast majority of published papers do for example.

[2017-09-18 10:20] arfon commented on #331
@sepandhaghighi - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-09-18 10:29] sepandhaghighi commented on #331
@arfon

10.5281/zenodo.845502

[2017-09-18 13:03] SergeStinckwich commented on #251
@offray can you add DOI to the papers you cite as references ?

[2017-09-18 13:21] cMadan commented on #396
Next I need the DOI for an archived version of the project, submitted to Zenodo or figshare. After you provide that, we're all set!

[2017-09-18 13:37] whedon opened #406 "[PRE REVIEW]: MatDL: A Lightweight Deep Learning Library in MATLAB"
**Submitting author:** @haythamfayek (<a href="http://orcid.org/0000-0002-1840-7605">Haytham Fayek</a>)
**Repository:** <a href="https://github.com/haythamfayek/MatDL" target ="_blank">https://github.com/haythamfayek/MatDL</a>
**Version:** v0.7.0
**Editor:** @cmadan
**Reviewer:** @nirum

**Author instructions**

Thanks for submitting your paper to JOSS @haythamfayek. The JOSS editor (shown at the

[2017-09-18 13:37] whedon commented on #406
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-09-18 13:59] jakobbossek commented on #374
@gvegayon Thanks for the thorough review! 👍

@arfon Just uploaded a new version to [CRAN](https://cran.r-project.org/web/packages/mcMST/index.html) and [Zenedo](https://zenodo.org/record/894402#.Wb_Q1K3qi34). The DOI is https://doi.org/10.5281/zenodo.894402

[2017-09-18 14:01] alexhanna commented on #384
@whedon commands

[2017-09-18 14:01] whedon commented on #384
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-09-18 14:02] alexhanna commented on #384
@whedon start review

[2017-09-18 14:02] whedon commented on #384
I'm sorry @alexhanna, I'm afraid I can't do that. That's something only JOSS editors are allowed to do.

[2017-09-18 14:07] alexhanna commented on #384
This project meets the requirements for acceptance with a few exceptions.

- I was not able to get the [visualizations to work](https://github.com/mattbellis/hmis/issues/17)
- The examples [do not work on Python 2.7](https://github.com/mattbellis/hmis/issues/16) due to pickling issues. The README.md says it can work on 2.7, but the docs do not.
- Example code in the README.md references a file whi

[2017-09-18 14:09] alexhanna commented on #384
@leeper Not sure what I do next!

[2017-09-18 16:44] zhangy6x commented on #403
@arokem I think @betatim and @nicoguaro could be potential reviewers for this work. Thanks.

[2017-09-18 16:45] TJKessler commented on #401
@arfon - all references in paper.md are now included in paper.bib.

[2017-09-18 17:21] leeper commented on #384
@alexhanna Thanks for your review!

@mattbellis Can you try to address the new issues that Alex opened and then ping me when they're complete?

[2017-09-18 22:16] nicoguaro commented on #403
I think that I can review this.

[2017-09-18 23:49] karthik commented on #302
Thanks @nhejazi
Seeking other reviewers now.

[2017-09-19 04:14] crawfordsm commented on #388
Comments above have been address.

The functionality and performance have been tested as well and they match the claims that have been reported.  Overall, the package is well documented with good examples allowing example problems to be reported.

Final comments to be address:
* It would be useful to add testing information to the installation page

*  it would be good to indicate whether contribu

[2017-09-19 04:55] conradsnicta commented on #365
Hi, any update on the review?

[2017-09-19 04:56] conradsnicta commented on #365
@arfon @jordigh - Hi, any update on the review?

[2017-09-19 15:01] pboesu commented on #311
Hi @kyleniemeyer sorry for the delay, I wasn't clear whether you were actively trying to recruit another reviewer, and then Irma blew through my life. I will try to get to this next week.

[2017-09-19 15:28] kyleniemeyer commented on #311
@pboesu no worries/rush! Just wanted to check in. Hope things down there are going ok...

[2017-09-19 15:56] sixpearls commented on #396
Should the archive of the project include the paper documents? Or just the software package, such as released to PyPi?

Thanks,
Ben

[2017-09-19 16:30] karthik commented on #302
While I look for reviewers for this paper (which has been challenging) @nhejazi do you or @jeremyrcoyle have any suggestions for people we should approach?

[2017-09-19 20:59] sixpearls commented on #396
This DOI is for the files associated with the software package as distributed by PyPi with the paper subfolder from the repository included additionally. Please let me know if this needs any corrections.

http://doi.org/10.5281/zenodo.896706

[2017-09-20 01:58] jordigh commented on #365
I've been busy with some other affairs. I should have time this weekend to complete this review.

[2017-09-20 07:57] cokelaer commented on #348
@arfon @eteq
Yes, I had updated the code and documentation. please go ahead. thanks

[2017-09-20 15:49] arokem commented on #403
@whedon assign @nicoguaro as reviewer

[2017-09-20 15:49] whedon commented on #403
OK, the reviewer is @nicoguaro

[2017-09-20 15:49] arokem commented on #403
@whedon start review magic-word=bananas

[2017-09-20 15:49] whedon commented on #403
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/407. Feel free to close this issue now!

[2017-09-20 15:49] whedon opened #407 "[REVIEW]: ImagingReso: A Tool for Neutron Resonance Imaging"
**Submitting author:** @zhangy6x (<a href="http://orcid.org/0000-0002-0083-1408">Yuxuan Zhang</a>)
**Repository:** <a href="https://github.com/ornlneutronimaging/ImagingReso" target ="_blank">https://github.com/ornlneutronimaging/ImagingReso</a>
**Version:** v1.5.8
**Editor:** @arokem
**Reviewer:** @nicoguaro
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1054038" target="_blank">10.5281/z

[2017-09-20 15:49] whedon commented on #407
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @nicoguaro it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're proba

[2017-09-20 15:50] arokem commented on #403
@nicoguaro : thanks for reviewing! Head over to #407 for the review. I will close this one.

[2017-09-20 15:50] #403 closed

[2017-09-20 16:04] nicoguaro commented on #407
@zhangy6x, I suggest that you make explicit the dependence on Python 3. I will need to repeat the process since I created an environment for Python 2.7 instead.

[2017-09-20 17:13] arfon commented on #348
@eteq - over to you.

[2017-09-20 17:17] arfon commented on #401
Thanks @TJKessler - this is nearly right but not quite there. Please _remove_ the content below the `#References` section in your `paper.md` (https://github.com/TJKessler/ECNet/blob/master/paper/paper.md#references) and _cite_ the entries in your `paper.bib` as described [here](http://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html). That way, the citations are compiled into the

[2017-09-20 17:19] arfon commented on #331
@whedon  set 10.5281/zenodo.845502 as archive

[2017-09-20 17:20] arfon commented on #331
@whedon set 10.5281/zenodo.845502 as archive

[2017-09-20 17:20] whedon commented on #331
OK. <a href="http://dx.doi.org/10.5281/zenodo.845502" target="_blank">10.5281/zenodo.845502</a> is the archive.

[2017-09-20 17:26] arfon commented on #331
@hausen - many thanks for your review here and to @danielskatz for editing this submission ✨

@sepandhaghighi - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00331 ⚡️ 🚀 💥

[2017-09-20 17:26] #331 closed

[2017-09-20 17:39] sepandhaghighi commented on #331
@hausen @danielskatz @arfon  Thanks ;-)

[2017-09-20 19:00] TJKessler commented on #401
@arfon - I think I got it this time, let me know if it is still off.

[2017-09-20 21:58] cMadan commented on #396
@whedon set 10.5281/zenodo.896706 as archive

[2017-09-20 21:58] whedon commented on #396
OK. <a href="http://dx.doi.org/10.5281/zenodo.896706" target="_blank">10.5281/zenodo.896706</a> is the archive.

[2017-09-20 21:59] cMadan commented on #396
@sixpearls, you did it perfectly. Now we just need @arfon to do the honors of officially accepting the paper :). Great work! 🎉

[2017-09-20 22:00] cMadan commented on #406
@whedon assign @cmadan as editor

[2017-09-20 22:00] whedon commented on #406
OK, the editor is @cmadan

[2017-09-20 22:02] cMadan commented on #406
@haythamfayek, this looks like a great submission! Do you have any suggestions for reviewers?

[2017-09-20 22:40] haythamfayek commented on #406
Thanks @cMadan! From the list of [reviewers](https://github.com/openjournals/joss/blob/master/docs/reviewers.csv), how about @Kevin-Mattheus-Moerman, @nirum, or @sealhuang?

[2017-09-21 00:16] arfon commented on #405
@brainstorm - would you be willing to edit this submission for JOSS?

[2017-09-21 00:17] arfon commented on #378
@biorelated @mgymrek would either of you be willing to edit this submission for JOSS?

[2017-09-21 01:08] arfon commented on #401
Nearly! Please merge https://github.com/TJKessler/ECNet/pull/7. Then, could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-09-21 01:14] arfon commented on #396
@demotu many thanks for your review here and to @cMadan for editing this submission ✨

@sixpearls - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00396 ⚡️ 🚀 💥

[2017-09-21 01:14] #396 closed

[2017-09-21 01:20] arfon commented on #374
@whedon set 10.5281/zenodo.894402 as archive

[2017-09-21 01:20] whedon commented on #374
OK. <a href="http://dx.doi.org/10.5281/zenodo.894402" target="_blank">10.5281/zenodo.894402</a> is the archive.

[2017-09-21 01:28] arfon commented on #374
@gvegayon - many thanks for your review here and to @Kevin-Mattheus-Moerman for editing this submission ✨

@jakobbossek - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00374 ⚡️ 🚀 💥

[2017-09-21 01:28] #374 closed

[2017-09-21 02:26] zhangy6x commented on #407
@nicoguaro: Good point, I just addressed the Python version supported in the README.rst.

[2017-09-21 03:26] sealhuang commented on #406
@haythamfayek Thank you for mentioning me. I am not very familiar with the deep learning, so if that's not a problem I can do the review. And if someone with more DL experience would like to handle this review, I think it may be more helpful for this software.

[2017-09-21 06:08] leeper commented on #397
@whedon assign @jrnold as reviewer

[2017-09-21 06:08] whedon commented on #397
OK, the reviewer is @jrnold

[2017-09-21 06:11] leeper commented on #397
've confirmed that this submission has:

- [X]  An OSI approved license (GPL)
- [X] A description of the software and its research applications
- [X] Is in scope for this journal

[2017-09-21 09:50] leeper commented on #397
@whedon start review --magic-word=bananas

[2017-09-21 09:51] whedon commented on #397
You didn't say the magic word! Try this:

[code]

[2017-09-21 09:52] leeper commented on #397
@whedon start review magic-word=bananas

[2017-09-21 09:52] whedon opened #408 "[REVIEW]: UKCensusAPI: python and R interfaces to the nomisweb UK census data API"
**Submitting author:** @virgesmith (<a href="http://orcid.org/0000-0002-9951-6642">Andrew Smith</a>)
**Repository:** <a href="https://github.com/virgesmith/UKCensusAPI" target ="_blank">https://github.com/virgesmith/UKCensusAPI</a>
**Version:** 0.1
**Editor:** @leeper
**Reviewer:** @jrnold
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1048388" target="_blank">10.5281/zenodo.1048388</a>

#

[2017-09-21 09:52] whedon commented on #397
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/408. Feel free to close this issue now!

[2017-09-21 09:52] whedon commented on #408
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @jrnold it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably

[2017-09-21 10:02] #397 closed

[2017-09-21 10:20] whedon opened #409 "[PRE REVIEW]: CytobankAPIstats: Computes Signaling and Population Statistics for Cytometry Data on Cytobank using 'CytobankAPI'"
**Submitting author:** @athrom (<a href="http://orcid.org/0000-0001-6689-7904">Allison Throm</a>)
**Repository:** <a href="https://github.com/athrom/CytobankAPIstats" target ="_blank">https://github.com/athrom/CytobankAPIstats</a>
**Version:** v1.0
**Editor:** @biorelated
**Reviewer:** @nelkibs

**Author instructions**

Thanks for submitting your paper to JOSS @athrom. The JOSS editor (shown at th

[2017-09-21 10:20] whedon commented on #409
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @biorelated it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-09-21 10:20] arfon commented on #409
👋 @biorelated - the submitting author suggested you as the editor

[2017-09-21 10:21] whedon opened #410 "[PRE REVIEW]: bomrang: Fetch Australian Government Bureau of Meteorology Data in R"
**Submitting author:** @adamhsparks (<a href="http://orcid.org/0000-0002-0061-8359">Adam H. Sparks</a>)
**Repository:** <a href="https://github.com/ropensci/bomrang" target ="_blank">https://github.com/ropensci/bomrang</a>
**Version:** 0.0.7
**Editor:** @karthik
**Reviewer:** @arfon

**Author instructions**

Thanks for submitting your paper to JOSS @adamhsparks. The JOSS editor (shown at the top o

[2017-09-21 10:21] whedon commented on #410
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @karthik it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-09-21 10:21] arfon commented on #410
@adamhsparks - could you link to the rOpensci onboarding thread here please?

[2017-09-21 10:26] adamhsparks commented on #410
https://github.com/ropensci/onboarding/issues/121

[2017-09-21 13:42] arfon commented on #410
@whedon assign @arfon as reviewer

[2017-09-21 13:42] whedon commented on #410
OK, the reviewer is @arfon

[2017-09-21 13:42] arfon commented on #410
@whedon start review magic-word=bananas

[2017-09-21 13:42] #410 closed

[2017-09-21 13:42] whedon opened #411 "[REVIEW]: bomrang: Fetch Australian Government Bureau of Meteorology Data in R"
**Submitting author:** @adamhsparks (<a href="http://orcid.org/0000-0002-0061-8359">Adam H. Sparks</a>)
**Repository:** <a href="https://github.com/ropensci/bomrang" target ="_blank">https://github.com/ropensci/bomrang</a>
**Version:** 0.0.7
**Editor:** @karthik
**Reviewer:** @arfon
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.897183" target="_blank">10.5281/zenodo.897183</a>

## Status

[2017-09-21 13:42] whedon commented on #410
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/411. Feel free to close this issue now!

[2017-09-21 13:42] whedon commented on #411
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @arfon it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably

[2017-09-21 13:43] arfon commented on #411
Moving forward to accept because of https://github.com/ropensci/onboarding/issues/121

[2017-09-21 13:47] arfon commented on #411
@whedon set 10.5281/zenodo.897183 as archive

[2017-09-21 13:47] whedon commented on #411
OK. <a href="http://dx.doi.org/10.5281/zenodo.897183" target="_blank">10.5281/zenodo.897183</a> is the archive.

[2017-09-21 13:55] arfon commented on #411
@adamhsparks - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00411 ⚡️ 🚀 💥

[2017-09-21 13:55] #411 closed

[2017-09-21 14:05] sixpearls commented on #396
Thanks so much!

[2017-09-21 14:25] TJKessler commented on #401
@arfon - ECNet#7 has been merged, here is the updated DOI: 10.5281/zenodo.910866

[2017-09-21 14:26] arfon commented on #401
@whedon set 10.5281/zenodo.910866 as archive

[2017-09-21 14:26] whedon commented on #401
OK. <a href="http://dx.doi.org/10.5281/zenodo.910866" target="_blank">10.5281/zenodo.910866</a> is the archive.

[2017-09-21 14:52] brainstorm commented on #405
Sure, happy to @arfon!

[2017-09-21 15:06] arfon commented on #401
@krother - many thanks for your review here and to @arokem for editing this submission ✨

@TJKessler - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00401 ⚡️ 🚀 :boom:

[2017-09-21 15:06] #401 closed

[2017-09-21 15:15] arfon commented on #405
Great. Thanks!

[2017-09-21 15:16] arfon commented on #405
@whedon assign @brainstorm as editor

[2017-09-21 15:16] whedon commented on #405
OK, the editor is @brainstorm

[2017-09-21 20:07] slowkow commented on #319
@gymreklab Yes, I would be willing to review. Could I please ask for instructions?

[2017-09-21 21:47] offray commented on #251
@SergeStinckwich I have updated the ISBN for two book references in the [paper.bib][bib-file] file. Other few references there are blog post or drafts without a DOI.

When I run ``SystemOrganization uncommentedClassesIn: 'Grafoscopio'`` I get an empty array. I can find any undocumented class in the Grafoscopio Package.

Thanks,

[bib-file]: http://mutabit.com/repos.fossil/grafoscopio/doc/tip/Docs/

[2017-09-21 22:22] mgymrek commented on #319
@whedon assign @selbouhaddani  as reviewer

[2017-09-21 22:22] whedon commented on #319
OK, the reviewer is @selbouhaddani

[2017-09-21 22:22] mgymrek commented on #319
@whedon start review magic-word=bananas

[2017-09-21 22:22] whedon commented on #319
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/412. Feel free to close this issue now!

[2017-09-21 22:22] whedon opened #412 "[REVIEW]: geneXplainR: An R interface for the geneXplain platform"
**Submitting author:** @pstegma (<a href="http://orcid.org/0000-0002-1881-8746">Philip Stegmaier</a>)
**Repository:** <a href="https://github.com/genexplain/geneXplainR" target ="_blank">https://github.com/genexplain/geneXplainR</a>
**Version:** 0.4
**Editor:** @mgymrek
**Reviewer:** @selbouhaddani
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1013318" target="_blank">10.5281/zenodo.10133

[2017-09-21 22:22] whedon commented on #412
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @selbouhaddani it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're p

[2017-09-21 22:23] mgymrek commented on #319
Thanks @selbouhaddani for agreeing to review. The review issue has been started, feel free to ask any questions about the review process there.

[2017-09-21 22:24] mgymrek commented on #319
@slowkow thanks, it looks like we're actually set for now. I'll keep you in mind for future submissions!

[2017-09-22 01:47] afrubin commented on #362
@rraadd88

The installation is much simpler now, but I encountered an error in Biopython when following the instructions. I'm not sure why this works under Travis but not on my installation. Hopefully it is easy for you to figure out what's going on. I'll run the examples once this is resolved. See here: https://github.com/kc-lab/dms2dfe/issues/3

The manuscript looks much better now. It now inclu

[2017-09-22 01:48] conradsnicta commented on #365
@jordigh - Thanks for the update.  I've added tests for the `gmm_diag` and `gmm_full` classes to the git repo: https://github.com/conradsnicta/armadillo-gmm.  The corresponding Zenodo archive of the release has also been updated: http://dx.doi.org/10.5281/zenodo.838397. (The DOI in the paper will automatically resolve to the latest version of the release archive).

The new tests are in `tests/gmm.

[2017-09-22 02:28] nirum commented on #406
This looks interesting! I'm happy to review it

[2017-09-22 08:19] haythamfayek commented on #406
Thanks @nirum & @sealhuang!

[2017-09-22 10:17] cMadan commented on #406
@sealhuang, no problem. I'm sure a future submission will be more suited to your background.

@nirum, thanks for volunteering! I'll assign you as the reviewer and go ahead and start the review process.

[2017-09-22 10:17] cMadan commented on #406
@whedon start review

[2017-09-22 10:17] whedon commented on #406
You didn't say the magic word! Try this:

[code]

[2017-09-22 10:18] cMadan commented on #406
@whedon assign @nirum as reviewer

[2017-09-22 10:18] whedon commented on #406
OK, the reviewer is @nirum

[2017-09-22 10:18] cMadan commented on #406
@whedon start review magic-word=bananas

[2017-09-22 10:18] whedon opened #413 "[REVIEW]: MatDL: A Lightweight Deep Learning Library in MATLAB"
**Submitting author:** @haythamfayek (<a href="http://orcid.org/0000-0002-1840-7605">Haytham Fayek</a>)
**Repository:** <a href="https://github.com/haythamfayek/MatDL" target ="_blank">https://github.com/haythamfayek/MatDL</a>
**Version:** v0.8.0
**Editor:** @cmadan
**Reviewer:** @nirum
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1042860" target="_blank">10.5281/zenodo.1042860</a>

## S

[2017-09-22 10:18] whedon commented on #406
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/413. Feel free to close this issue now!

[2017-09-22 10:18] whedon commented on #413
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @nirum it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably

[2017-09-22 10:18] #406 closed

[2017-09-22 21:28] pboesu commented on #381
Sorry again for the delay. Here's my first pass at this.

## General comments
This is a mostly functional shiny app that visualizes outputs from a proprietary plate reader. I do not work with plate readers, or associated software, so I can not evaluate the claim made in the rather brief paper.md, that this application is indeed easier to use than the cited alternative tools.
##Architecturee, docum

[2017-09-22 21:29] pboesu commented on #381
@arfon Given that I feel like there's a need for a fundamental recasting of this app, is there a point in creating issues for all the points I raise?

[2017-09-23 10:39] gasagna commented on #400
@whedon commands

[2017-09-23 10:39] whedon commented on #400
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-09-23 10:56] gasagna commented on #400
It seems I am unable to edit directly the checklist above. Am I supposed to fork this and make pull requests?

[2017-09-23 11:24] danielskatz commented on #400
The only time I've heard of this problem, it was when someone tried to check a box when they were not logged in.

So, please be sure you are logged in when you try to check a box.  (I know you were when you commented, but perhaps you were not initially?)

Also, when you say "edit the checklist", do you really mean check a box?  You should be able to do that, but you should not able to make other c

[2017-09-23 15:13] adrn commented on #388
Good ideas!

http://gala-astro.readthedocs.io/en/latest/

- I added a link and page "Running the tests" linked from the main docs
- I added a section "How to contribute" to the main docs page

I like the idea of having a gallery for examples / tutorials - I'll explore that when I've written some more content.

[2017-09-23 18:43] SergeStinckwich commented on #251
ok great !

[2017-09-24 06:33] nhejazi commented on #302
Thanks very much for your efforts @karthik! No one in particular comes to mind - is there a list of JOSS reviewers we might be able to consult?

_Perhaps worth mentioning_ - this particular package provides a very general framework for easily implementing a variety of cross-validation schemes, making no domain expertise necessary to evaluate it. Really, its purpose is to make implementing cross-va

[2017-09-24 08:11] biorelated commented on #409
@nelkibs Would you be happy to review this work for the JOSS journal? I am happy to assist you with the review process. Thanks!

[2017-09-24 11:40] whedon opened #414 "[PRE REVIEW]: Augmentor: An Image Augmentation Library for Machine Learning"
**Submitting author:** @mdbloice (<a href="http://orcid.org/0000-0002-2468-4086">Marcus Bloice</a>)
**Repository:** <a href="https://github.com/mdbloice/Augmentor" target ="_blank">https://github.com/mdbloice/Augmentor</a>
**Version:** v0.1.5
**Editor:** @arfon
**Reviewer:** @sealhuang

**Author instructions**

Thanks for submitting your paper to JOSS @mdbloice. The JOSS editor (shown at the top o

[2017-09-24 11:40] whedon commented on #414
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @jakevdp it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-09-24 11:40] arfon commented on #414
👋 @jakevdp - the submitting author suggested you as an editor

[2017-09-24 11:40] whedon opened #415 "[PRE REVIEW]: micompm - A MATLAB/Octave toolbox for multivariate independent comparison of observations"
**Submitting author:** @fakenmc (<a href="http://orcid.org/0000-0002-8487-5837">Nuno Fachada</a>)
**Repository:** <a href="https://github.com/fakenmc/micompm" target ="_blank">https://github.com/fakenmc/micompm</a>
**Version:** v1.0.0
**Editor:** @cMadan
**Reviewer:** @jordigh

**Author instructions**

Thanks for submitting your paper to JOSS @fakenmc. The JOSS editor (shown at the top of this iss

[2017-09-24 11:40] whedon commented on #415
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @cMadan it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-09-24 11:41] arfon commented on #415
👋 @cMadan - the submitting author suggested you as an editor.

[2017-09-24 11:41] whedon opened #416 "[PRE REVIEW]: scanstatistics: The R Package"
**Submitting author:** @benjak (<a href="http://orcid.org/0000-0002-0927-7183">Benjamin Allévius</a>)
**Repository:** <a href="https://github.com/BenjaK/scanstatistics" target ="_blank">https://github.com/BenjaK/scanstatistics</a>
**Version:** v1.0.0
**Editor:** @leeper
**Reviewer:** @pragyansmita

**Author instructions**

Thanks for submitting your paper to JOSS @benjak. The JOSS editor (shown at

[2017-09-24 11:41] whedon commented on #416
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-09-24 11:44] arfon commented on #290
👋 friendly reminder @zmimlitz to reply to @Kevin-Mattheus-Moerman's [comment](https://github.com/openjournals/joss-reviews/issues/290#issuecomment-318907992)

[2017-09-24 11:45] #319 closed

[2017-09-24 11:45] arfon commented on #328
*bump* friendly reminder @Astrodude11

[2017-09-24 11:46] arfon commented on #346
👋 @njall - please see my comment above.

[2017-09-24 11:47] arfon commented on #346
@labarba - I'm wondering whether this would be a better submission for JOSE?

[2017-09-24 11:48] arfon commented on #385
👋 @leeper - would you be willing to edit this submission for JOSS?

[2017-09-24 11:53] leeper commented on #385
@whedon assign @leeper as editor

[2017-09-24 11:53] whedon commented on #385
OK, the editor is @leeper

[2017-09-24 14:04] brainstorm commented on #405
@vals, would you like to be a reviewer for this ENA package?: https://github.com/bebatut/enasearch

[2017-09-24 15:55] leeper commented on #385
@whedon assign @maelle as reviewer

[2017-09-24 15:55] whedon commented on #385
OK, the reviewer is @maelle

[2017-09-24 15:56] leeper commented on #385
@whedon start review magic-word=bananas

[2017-09-24 15:56] whedon opened #417 "[REVIEW]: hei: Calculate Healthy Eating Index (HEI) Scores"
**Submitting author:** @timfolsom (<a href="http://orcid.org/0000-0002-8647-5810">Timothy Folsom</a>)
**Repository:** <a href="https://github.com/timfolsom/hei" target ="_blank">https://github.com/timfolsom/hei</a>
**Version:** v0.1.0
**Editor:** @leeper
**Reviewer:** @maelle
**Archive:** <a href="http://dx.doi.org/10.6084/m9.figshare.5469208" target="_blank">10.6084/m9.figshare.5469208</a>

## St

[2017-09-24 15:56] whedon commented on #385
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/417. Feel free to close this issue now!

[2017-09-24 15:56] whedon commented on #417
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @maelle it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably

[2017-09-24 15:56] #385 closed

[2017-09-24 17:32] rraadd88 commented on #362
@afrubin , the Biopython error is quite strange for me and technically it should not occur at all. I have detailed the reasons and best possible solutions in [kc-lab/dms2dfe#3](https://github.com/kc-lab/dms2dfe/issues/3). Also, I have updated the manuscript with new citations and corrected the spelling errors ([link](https://github.com/kc-lab/dms2dfe/blob/master/paper/paper.pdf)). Please have a lo

[2017-09-24 20:45] crawfordsm commented on #388
Looks great to me!   I noticed the other authors aren't listed in the paper.md file.  Last thing needed to updated for the checklist to be complete.

[2017-09-24 21:15] vals commented on #405
Hey @brainstorm!

Hm maybe.. Do you have some general reviewer instructions as well as deadlines somewhere?

[2017-09-24 21:49] adrn commented on #388
That was actually intentional - is there a requirement that all contributors are authors?

[2017-09-24 21:50] adrn commented on #388
(If not, I would prefer to keep it as is)

[2017-09-24 22:19] crawfordsm commented on #388
Seems like a question for @arfon, but JOSS does seem to ask to include the list of Authors of the software in the authors.

If the JOSS entry will be the main citation for the software, then I'd suggest including them as you do currently include them under 'how to cite' section.   I could understand having other justifications and it would be good to hear them though this is likely up to @arfon

[2017-09-25 00:21] afrubin commented on #362
@rraadd88 I was able to work around the Biopython installation issue by using Anaconda instead of pip (see https://github.com/kc-lab/dms2dfe/issues/3).

I'm still trying to get the example to work. I've run into a new issue with the dependency programs, which may not be getting built properly (see https://github.com/kc-lab/dms2dfe/issues/4).

The PDF looks complete now that the references have bee

[2017-09-25 01:09] zmimlitz commented on #290
My apologies for the long delay in response, I've been moving and starting
a new job over the last few weeks and life been a little hectic.  That
said, we have been reaching out to identify a potential reviewer and so far
come up short.  We'll continue to all around, and I'll see if anyone at my
new employer would be able to help, and let you know of we find someone.

Thank you,
Zac Mimlitz

On Se

[2017-09-25 03:32] jordigh commented on #365
So, forgive me for being a novice reviewer, but there's a couple of things that aren't clear to me:

* I'm not sure the paper states clearly who the target audience. It speaks broadly of how the problem could be applied to signal processing, statistics, and other fields. Is that sufficient? Any practitioner in those fields would be interested in this?

* At least a few DOIs seem to be missing in t

[2017-09-25 06:53] brainstorm commented on #405
@vals The reviews are really straightforward and fast. The ones I've done myself took between 10 and 20 minutes since JOSS is a highly automated github journal.

The checklist you'll be presented with when I assign you as a reviewer is very easy to go through as you review the software:

http://joss.theoj.org/about#reviewer_guidelines

No deadlines, just proceed at your own pace, but don't take to

[2017-09-25 06:57] BenjaK commented on #416
Suggested reviewers:
- @maelle
- @robohyun66

[2017-09-25 09:49] maelle commented on #417
I'm done with the review, nice package! You'll see I've opened many issues but nearly everything in the review list is crossed.

* I think the installation instructions could be made a bit clearer, see [this issue](https://github.com/timfolsom/hei/issues/10)

* I've made some suggestions for the documentation https://github.com/timfolsom/hei/issues/9, https://github.com/timfolsom/hei/issues/11, ht

[2017-09-25 10:05] leeper commented on #417
@maelle Thank you so much for your thorough and prompt review!

@timfolsom Can you please address the issues Maëlle has raised and ping me when you're done?

[2017-09-25 10:07] vals commented on #405
Sure, sounds all right.

[2017-09-25 10:18] brainstorm commented on #405
@whedon assign @vals as reviewer

[2017-09-25 10:18] whedon commented on #405
OK, the reviewer is @vals

[2017-09-25 10:19] brainstorm commented on #405
@whedon start review magic-word=bananas

[2017-09-25 10:19] whedon commented on #405
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/418. Feel free to close this issue now!

[2017-09-25 10:19] whedon opened #418 "[REVIEW]: ENASearch: A Python library for interacting with ENA's API"
**Submitting author:** @bebatut (<a href="http://orcid.org/0000-0001-9852-1987">Bérénice Batut</a>)
**Repository:** <a href="https://github.com/bebatut/enasearch" target ="_blank">https://github.com/bebatut/enasearch</a>
**Version:** 0.2.0
**Editor:** @brainstorm
**Reviewer:** @vals
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1034619" target="_blank">10.5281/zenodo.1034619</a>

## Statu

[2017-09-25 10:19] whedon commented on #418
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @vals it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably c

[2017-09-25 10:19] #405 closed

[2017-09-25 13:38] njall commented on #346
@arfon apologies for not seeing your previous comment. I understand it TeSS might not meet JOSS' criteria, JOSE does sound like a great fit

[2017-09-25 13:43] arfon commented on #388
We ask reviewers to check that the list of authors is 'correct' but this is ultimately somewhat subjective based on what seems reasonable. See [this thread for a similar discussion](https://github.com/openjournals/joss-reviews/issues/348#issuecomment-325604616)

@adrn - I'm assuming you're not including the other three contributors as they all made relatively minor contributions to the package? If

[2017-09-25 14:42] adrn commented on #388
Exactly

Done - I added a link to the AUTHORS.rst file to the README, and added an acknowledgements section to the paper.

[2017-09-25 15:21] alexhanna commented on #384
All issues have been resolved. Happy to approve this.

[2017-09-25 16:04] leeper commented on #384
Thanks, @alexhanna! Your work is very much appreciated!

[2017-09-25 16:11] leeper commented on #384
@arfon I think this one is ready for you. Let me know if there's anything else I need to do.

[2017-09-25 18:46] katyhuff commented on #322
@paulgovan , Please don't think I've given up. I'm having a terrible time getting folks to agree to review this. Many have cited that it is beyond their comfort zone in machine learning. Thank you for your patience. I am continuing to contact folks.

[2017-09-25 18:51] arfon commented on #388
Thanks @adrn. @crawfordsm - can you confirm we're good to accept here?

[2017-09-25 18:53] arfon commented on #381
Let's see what the author (@uriba) comes back with in response. I agree, it sounds like some fairly major enhancements/improvements are going to be necessary to this package before we can proceed further.

[2017-09-25 19:02] arfon commented on #391
@openjournals/joss-editors - would anyone else be willing to edit this submission?

[2017-09-25 19:09] arfon commented on #384
@mattbellis - Could you please cite the entries you have in the `paper.bib` file directly in your paper please? (You can read how to do that [here](http://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html))

[2017-09-25 20:31] paulgovan commented on #322
@katyhuff thanks for the update.

[2017-09-26 13:55] maelle commented on #417
I'm happy with the changes that @timfolsom's coauthor @vpnagraj made. Nearly all issues I've opened are closed, now everything in the checklist is checked. ✅

[2017-09-26 14:23] timfolsom commented on #417
Thank you for the review and the feedback. @vpnagraj and I have incorporated almost all of your suggestions. If it is all the same to you, we would prefer to leave the pkgdown issue open for now.

[2017-09-26 14:25] leeper commented on #417
Thanks, all. This looks good to me. @arfon - over to you.

[2017-09-26 14:27] leeper commented on #371
@sebastianbarfort are you satisfied with the responses to issues you raised? Or are further changes needed?

[2017-09-26 15:39] mattbellis commented on #384
Done! However, one of my entries (2017) when I try to build it on my desktop using the commands from whedon, prints a dashed line "----" for the authors. The first entry is totally fine. I've spend some time now trying to debug it and I'm not sure the issue. I thought maybe it was because it is a website that I'm citing there, but that doesn't seem to be it. It could also be that I'm not executing

[2017-09-26 15:42] conradsnicta commented on #365
@jordigh - I've modified the paper as well as the installation instructions to address the issues you've raised. Details below:

Modelling of data via GMMs is a general statistical modelling approach, so it has a multitude of uses in many fields. Its target audience is hence any practitioner who needs to have a probabilistic model of multidimensional data and calculate likelihoods + etc using such

[2017-09-27 08:38] uriba commented on #381
Dear @arfon and @pboesu,

@pboesu, many thanks for the thorough review!

I find @pboesu comments to be relevant and important to improve the quality
of the submitted software and make it more accessible for others to use
and/or contribute to.

I originally submitted this software for publication ~2.5 months ago in
order to get academic credit for work I've done during my PhD studies (but
that was

[2017-09-27 08:59] sebastianbarfort commented on #371
I'm super satisfied. Thanks for quick responses @GabrieleRovigatti, it's a great package!

[2017-09-27 10:18] selbouhaddani commented on #412
@whedon commands

[2017-09-27 10:18] whedon commented on #412
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-09-27 10:58] leeper commented on #371
@sebastianbarfort Great. Thanks for your review!

@GabrieleRovigatti Everything looks complete to me.

@arfon Over to you.

[2017-09-27 11:04] leeper commented on #384
@alexhanna Forgot to mention - if you're interested in reviewing for JOSS again in the future, would you mind adding your info to the reviewer pool by submitting a PR with your details in this file: https://github.com/openjournals/joss/blob/master/docs/reviewers.csv

[2017-09-27 11:04] leeper commented on #371
@sebastianbarfort Forgot to mention - if you're interested in reviewing for JOSS again in the future, would you mind adding your info to the reviewer pool by submitting a PR with your details in this file: https://github.com/openjournals/joss/blob/master/docs/reviewers.csv

[2017-09-27 11:44] alexhanna commented on #384
@leeper great, done.

On Wed, Sep 27, 2017 at 7:04 AM, Thomas J. Leeper <notifications@github.com>
wrote:

--
Alex Hanna
alex-hanna.com
@alexhanna

[2017-09-27 12:35] schmeisser commented on #217
Sorry for the long delay, I've been a bit busy.

I've now added the suggested wording about LD_LIBRARY_PATH to the README.md and incorporated the suggestions from your code review, i.e. changed the writer to be in namespace Ensight::Writer, added more documentation, and some other small changes.

The suggested tests are on the way and will be added soon, and I'll also add some minimal C++ examples

[2017-09-27 12:35] GabrieleRovigatti commented on #371
Hi @sebastianbarfort, hi @leeper ,

just to thank you guys for the time you dedicated to the review!

[2017-09-27 13:01] selbouhaddani commented on #412
# General

The submission describes an R package "*geneXplainR*" that provides an interface to connect to an external platform "geneXplain". By using the R package queries can be submitted and results can be retrieved from the platform. This can be done without leaving the R environment.

Overall I think this is a submission suited for the JOSS. The R package enables access to bioinformatics tools

[2017-09-28 00:58] mdsumner commented on #360
Here is my review notes for the specific checks.

## Installation

There's no notes in the readme for installing from either CRAN or Github.

Sufficient code to install is

[code]

For R CMD check include

[code]

A .travis.yml check would be good, since there are system dependencies (NetCDF) and having
a known build script is helpful.

## General checks

* License: GPL-3 in DESCRIPTION (not in LI

[2017-09-28 12:30] brainstorm commented on #418
@vals, hope all is clear with the instructions above? Let me know if you run into doubts/issues, happy to help!

[2017-09-28 14:09] crawfordsm commented on #388
Thanks for adding it in the acknowledgements.   This is obviously a difficult question and one with out a very clearly defined answer.     A statement from the JOSS board might be very helpful going ahead in the future also to give some ideas, and leadership, for the community as to what are the best suggested and most fair practices.  I know I have had difficulty in the past in terms of balancing

[2017-09-28 14:28] adrn commented on #388
I agree that this is a tough and confusing topic. For lack of a clear set of rules, I'll just default to following the same rules I use for other scientific papers: in my own arbitrary system (adapted from @davidwhogg), if someone contributes a "minor change" (yes, this is subjective), they are added to the acknowledgements and explicitly asked if they would like to be included as authors of the p

[2017-09-28 14:55] crawfordsm commented on #388
Accept

On Thu, 28 Sep 2017 at 10:28 AM Adrian Price-Whelan <
notifications@github.com> wrote:

[2017-09-28 15:08] adrn commented on #388
(I gave them until 1 Oct to respond!)

[2017-09-28 15:18] crawfordsm commented on #388
Sorry for my premature acceptance, but was going to say

Accept with Adrian's final decision about author list.  I do not need to
review again unless anything arfon has any further requests.

On Thu, 28 Sep 2017 at 11:08 AM Adrian Price-Whelan <
notifications@github.com> wrote:

[2017-09-28 22:55] cMadan commented on #217
@schmeisser, thanks for the update!

[2017-09-28 22:58] cMadan commented on #415
@fakenmc, your submission appears to be in good order--detailed examples, paper.md of appropriate form, and a substantive toolbox. Do you have any suggestions for reviewers?

[2017-09-29 06:04] nelkibs commented on #409
Hi George,

Been off radar since last week. Technological problem. Just seen this. Si
we talk about it on Monday?

Nelson

On Sep 24, 2017 11:11, "George Githinji" <notifications@github.com> wrote:

[2017-09-29 15:05] gasagna commented on #400
No, sorry, I can't really check the boxes. I am logged in. Tried two different browsers as well.

[2017-09-29 15:10] danielskatz commented on #400
@arfon - any thoughts on this?  I haven't seen this before, and you are probably the GitHub expert :)

[2017-09-29 15:44] fakenmc commented on #415
Hi @cMadan , looking at JOSS's list of reviewers, I compiled the following list of potential reviewers for our submission:

@Kevin-Mattheus-Moerman
@fgnievinski
@effigies
@arokem
@pboesu
@ahwillia
@jordigh

Thanks in advance,

Nuno

[2017-09-29 21:57] cMadan commented on #389
@RichardLitt, are you still available to be a reviewer for this?

[2017-09-29 21:59] cMadan commented on #413
@nirum, let me know if you have any questions about the review process :)

[2017-09-30 04:51] jordigh commented on #415
I may like to review Octave integration, but I recognise @fgnievinski's name. He would be a good Octave reviewer too.

[2017-09-30 16:49] akhuettel commented on #299
We released a new version in the meantime, with support for additional equipment and additional backends. The detailed release notes / a blog post will be written in the near future and posted on the homepage.
http://search.cpan.org/~akhuettel/Lab-Measurement-3.600/

[2017-09-30 22:23] CBenghi commented on #395
Hello @arfon,

I've looked again at the list of editors and (looking at all individual github pages) you seem to be short on .Net Platform reviewers.
I might be wrong, but I expect a resurgence of .Net now that the new cross platform core 2.0 is out.

If I manage to find a volunteers with an established .Net background (e.g. .net foundation or otherwise active in the open-source net ecosystem) wou

[2017-10-01 01:53] lindsayad commented on #298
Docker container finally updated. Access through:
[code]

[2017-10-01 10:14] whedon opened #419 "[PRE REVIEW]: Singularity Registry: Open Source Registry for Singularity Images"
**Submitting author:** @vsoch (<a href="http://orcid.org/0000-0002-4387-3819">Vanessa Sochat</a>)
**Repository:** <a href="https://www.github.com/singularityhub/sregistry" target ="_blank">https://www.github.com/singularityhub/sregistry</a>
**Version:** v1.0.0
**Editor:** @pjotrp
**Reviewer:** @smoe

**Author instructions**

Thanks for submitting your paper to JOSS @vsoch. The JOSS editor (shown a

[2017-10-01 10:14] whedon commented on #419
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @pjotrp it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-10-01 10:15] whedon opened #420 "[PRE REVIEW]: chloroExtractor: extraction and assembly of the chloroplast genome from whole genome shotgun data"
**Submitting author:** @greatfireball (<a href="http://orcid.org/0000-0003-4166-5423">Frank Förster</a>)
**Repository:** <a href="https://github.com/chloroExtractorTeam/chloroExtractor" target ="_blank">https://github.com/chloroExtractorTeam/chloroExtractor</a>
**Version:** v1.0.0
**Editor:** @pjotrp
**Reviewer:** @jdeligt

**Author instructions**

Thanks for submitting your paper to JOSS @greatfi

[2017-10-01 10:15] whedon commented on #420
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @tracykteal it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-10-01 10:15] arfon commented on #420
👋 @tracykteal - the submitting author suggested you as the editor.

[2017-10-01 10:16] arfon commented on #419
👋 @pjotrp - the submitting author suggested you as the editor.

[2017-10-01 10:35] arfon commented on #400
Looks like the API command to give you access must have failed silently. @gasagna - can you visit this URL (logged in): https://github.com/openjournals and accept the invite. You should then be able to update the check list.

[2017-10-01 15:37] vsoch commented on #419
Hi @whedon, @arfon, and @pjotrp - many thanks for the introduction, and looking forward to working on this together.

[2017-10-01 21:14] adrn commented on #388
I've heard from 2/3 committers (see: https://github.com/adrn/gala/issues/100) - keep the author list as is. Sounds like this is ready to go then @arfon?

[2017-10-01 23:05] labarba commented on #394
@weymouth 👋

The reviewer had some requests for improvements. When are you able to address these?

[2017-10-02 06:11] weymouth commented on #394
I am still trying to figure out if the subfolder idea of @alignedleft can be done. It is simple enough to move items into folders. The trick is to pull this into a new sketch when the users want somehow.

I can see the appeal of chunking the many files into smaller, more manageable pieces, I'm not sure how to realize this suggestion. Any further ideas from @alignedleft are welcome...

I'm working

[2017-10-02 06:20] pjotrp commented on #419
@whedon assing @pjotrp as editor

[2017-10-02 06:20] pjotrp commented on #419
@whedon assign @pjotrp as editor

[2017-10-02 06:21] whedon commented on #419
OK, the editor is @pjotrp

[2017-10-02 08:01] gasagna commented on #400
Sorry, still unable to check the boxes after the invite.

[2017-10-02 08:35] arfon commented on #400
OK, I officially give up. Please copy and paste the checklist content into a separate comment in this thread and work through it here.

[2017-10-02 08:50] leeper commented on #416
@robohyun66 Would you be interested in reviewing this for JOSS?

[2017-10-02 08:50] leeper commented on #416
@whedon assign @leeper as editor

[2017-10-02 08:50] whedon commented on #416
OK, the editor is @leeper

[2017-10-02 10:27] wojdyr commented on #350
Thank you for the review and sorry it took me a while to get back to it.

### Version
 yes, indeed, I didn't realize that I'm not pushing tags to the remote repository. I just pushed all the previous tags.

### Community guidelines:
* I keep the README file intentionally very short, hoping that it will make people more likely to read it.
* the CONTRIBUTING file is probably a good idea, I just adde

[2017-10-02 11:08] vals commented on #418
I have now reviewed the repository in accordance to the guidelines.

Due to the following issues, I would not accept it at the moment:

  - No functional claims of the software: bebatut/enasearch#25
  - No statement of need: bebatut/enasearch#26
  - No example usage: bebatut/enasearch#27
  - The functionality documentation is not clear: bebatut/enasearch#28
  - No JOSS paper file: bebatut/enasearc

[2017-10-02 11:14] alignedleft commented on #394
Sure! I wasn't imagining that you could move items around in folders dynamically. Rather, you could run a script locally, to pre-package the scripts into discrete sketches that could each be run independently — in contrast to the current, single, multi-tabbed sketch, which requires manual copy/pasting.

The "script" I'm proposing wouldn't / couldn't be written in Processing (I don't think). Maybe

[2017-10-02 11:52] greatfireball commented on #420
Hey @whedon, @arfon, and @tracykteal - thanks for the introduction. We are looking forward to work on this submission/review together.

[2017-10-02 11:53] weymouth commented on #394
Got it. Of course, this means the core code (10+ pde files) would need to be copied into each of those example folders. That's why you were worried about maintenance, right? Is there any way to avoid this? Dynamic aliases or something?

Otherwise I guess the development model would be to check if any of those repeated files had been changed before pushing new versions to git. They could also use t

[2017-10-02 15:38] brainstorm commented on #418
Thanks @vals for your thorough review 👍

Let's give a chance to @bebatut to address those issues and give some feedback ;)

[2017-10-02 19:35] Kevin-Mattheus-Moerman commented on #299
Great. @kippkitts can you please finalize your review and look at the latest version?

[2017-10-02 21:16] alignedleft commented on #394
@weymouth I am not really the target audience, since fluid dynamics is not my field.  :-)  But generally speaking, my thought was simply that it would be easier for new users if they could simply open an example and click "run" to immediately see results.  (That's "the Processing way.")

Even if people are really committed to using the software in advance (such as because, say, they are grad stude

[2017-10-02 23:08] nirum commented on #413
Will do! I'm working on the review, will likely need a few more days :)

[2017-10-03 05:33] gasagna commented on #400
**Conflict of interest**

- [x] As the reviewer I confirm that I have read the JOSS conflict of interest policy and that there are no conflicts of interest for me to review this work.

**Code of Conduct**

- [x] I confirm that I read and will adhere to the JOSS code of conduct.

**General checks**
- [ ] Repository: Is the source code for this software available at the repository url?
- [ ]  Licens

[2017-10-03 12:26] vpnagraj commented on #417
@leeper @maelle thank you both so much for the comprehensive review ... i think this helped make the package a lot better 👍 👍

let us know if there's anything else you need on our end to wrap up the submission

[2017-10-03 13:23] whedon opened #421 "[PRE REVIEW]: nomine: Functions to classify names based on 6 U.S. ethnicities or 39 leaf nationalities."
**Submitting author:** @cdcrabtree (<a href="http://orcid.org/0000-0001-5144-8671">Charles Crabtree</a>)
**Repository:** <a href="https://github.com/cdcrabtree/nomine" target ="_blank">https://github.com/cdcrabtree/nomine</a>
**Version:** v0.5.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @cdcrabtree. The JOSS editor (shown at the to

[2017-10-03 13:26] whedon opened #422 "[PRE REVIEW]: Multiphonon: Phonon Density of States tools for Inelastic Neutron Scattering Powder Data"
**Submitting author:** @Yxqd (<a href="http://orcid.org/0000-0001-9233-0100">Jiao Lin</a>)
**Repository:** <a href="https://github.com/sns-chops/multiphonon" target ="_blank">https://github.com/sns-chops/multiphonon</a>
**Version:** 0.1.1
**Editor:** @lheagy
**Reviewer:** @bjmorgan

**Author instructions**

Thanks for submitting your paper to JOSS @Yxqd. The JOSS editor (shown at the top of this i

[2017-10-03 13:26] whedon commented on #422
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @lheagy it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-10-03 13:27] arfon commented on #422
:wave: @lheagy - the submitting author suggested you as an editor.

[2017-10-03 13:28] whedon opened #423 "[PRE REVIEW]: MDEntropy: Information-Theoretic Analyses for Molecular Dynamics"
**Submitting author:** @cxhernandez (<a href="http://orcid.org/0000-0002-8146-5904">Carlos Xavier Hernández</a>)
**Repository:** <a href="https://github.com/msmbuilder/mdentropy/" target ="_blank">https://github.com/msmbuilder/mdentropy/</a>
**Version:** v0.3.0
**Editor:** @arokem
**Reviewer:** @anotherjoshsmith

**Author instructions**

Thanks for submitting your paper to JOSS @cxhernandez. The J

[2017-10-03 13:28] whedon commented on #423
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @arokem it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-10-03 13:29] arfon commented on #423
:wave: @arokem - the submitting author suggested you as the editor.

[2017-10-03 13:32] pragyansmita commented on #421
I can review this.

[2017-10-03 13:40] yxqd commented on #422
@arfon @lheagy May I suggest @tacaswell @nicoguaro or @bjmorgan as potential reviewers? Thanks.

[2017-10-03 13:53] cxhernandez commented on #423
@anotherjoshsmith was very helpful in his review of https://github.com/openjournals/joss-reviews/issues/188

[2017-10-03 18:40] bebatut commented on #418
Thanks a lot @vals for the review! It helps us to improve a lot the documentation at http://bebatut.fr/enasearch/. So I hope I solved the issues you pointed:
- No functional claims of the software: it should be solved with [PR#33](https://github.com/bebatut/enasearch/pull/33) and [PR#30](https://github.com/bebatut/enasearch/pull/30)
- No statement of need: it should be solved with [PR#30](https://

[2017-10-03 20:30] RichardLitt commented on #389
@whedon assign @RichardLitt as reviewer

[2017-10-03 20:30] whedon commented on #389
I'm sorry @RichardLitt, I'm afraid I can't do that. That's something only JOSS editors are allowed to do.

[2017-10-04 09:44] arfon commented on #381
@uriba - this sounds reasonable to me. Please let us know when you're ready to pick up this submission again.

[2017-10-04 09:46] arfon commented on #395
Yes, that's definitely true! Feel free to suggest some potential reviewers and we'll see what we can do.

[2017-10-04 09:48] arfon commented on #388
@adrn - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-10-04 09:54] arfon commented on #417
@vpnagraj - please merge this pull request https://github.com/timfolsom/hei/pull/24
and then could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-10-04 09:54] arfon commented on #389
@whedon assign @RichardLitt as reviewer

[2017-10-04 09:54] whedon commented on #389
OK, the reviewer is @RichardLitt

[2017-10-04 09:55] arfon commented on #389
@whedon start review magic-word=bananas

[2017-10-04 09:55] #389 closed

[2017-10-04 09:55] whedon opened #424 "[REVIEW]: Quail: A Python toolbox for analyzing and plotting free recall data"
**Submitting author:** @andrewheusser (<a href="http://orcid.org/0000-0001-6353-688X">Andrew Heusser</a>)
**Repository:** <a href="https://github.com/ContextLab/quail" target ="_blank">https://github.com/ContextLab/quail</a>
**Version:** v0.1.0
**Editor:** @cMadan
**Reviewer:** @RichardLitt
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1003184" target="_blank">10.5281/zenodo.1003184</a>

[2017-10-04 09:55] whedon commented on #389
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/424. Feel free to close this issue now!

[2017-10-04 09:55] whedon commented on #424
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @RichardLitt it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're pro

[2017-10-04 10:07] arfon commented on #387
Thanks @Code-XYZxyz. I see that in your `paper.md` paper you're encouraging the reader to read the longer-form (not peer-reviewed) submission `paper.pdf` which is not really acceptable for JOSS. I encourage you to see an alternative journal for your submission as I don't think this acceptable to JOSS.

[2017-10-04 10:07] #387 closed

[2017-10-04 10:13] arfon commented on #19
I just emailed @meyera directly. If there's no response from him in two weeks I will reject this submission.

[2017-10-04 10:13] maelle commented on #19
Makes sense

[2017-10-04 10:14] arfon commented on #30
@joshuaulrich - over to you I think for another look :-)

[2017-10-04 10:15] arfon commented on #57
👋 @alk224 - are you ready to pick this up again?

[2017-10-04 10:16] arfon commented on #251
@SergeStinckwich @offray - how are we doing here? @SergeStinckwich are we good to accept?

[2017-10-04 10:16] arfon commented on #268
Friendly reminder to revisit this when you get a chance @tacaswell :-)

[2017-10-04 10:22] SergeStinckwich commented on #251
yes :-)

[2017-10-04 10:45] arfon commented on #328
@Astrodude11 - if I don't hear back from you in the next two weeks I'll be forced to reject your submission.

[2017-10-04 10:46] arfon commented on #348
Friendly reminder on this @eteq

[2017-10-04 10:47] arfon commented on #365
@jordigh - back to you.

[2017-10-04 13:09] vpnagraj commented on #417
@arfon thanks for following up ... i've merged the pull request and published an archive of the package in figshare with the following following DOI:

10.6084/m9.figshare.5469208

[2017-10-04 14:54] mattbellis commented on #384
Hi @arfon . Is there something more I should be doing? I see that this project is still listed as "Under Review" on the JOSS website. Is it that one bib entry issue?

[2017-10-04 15:01] cMadan commented on #384
@mattbellis, is that author name the same as the reference before it? If so, that's how the JOSS reference style renders it (as do some journals). So, this is working as it's supposed to.

It looks like you're missing an archive doi for your submission though (i.e., upload your current project files to Zenodo or figshare and tell us the DOI here).

[2017-10-04 15:03] mattbellis commented on #384
@cMadan Ah, got it. Yeah, it's the same autor.

Will take care of the DOI today!

[2017-10-04 15:04] RichardLitt commented on #424
@arfon You can do a request to https://api.github.com/repos/openjournals/joss-reviews/watchers to see if I am a watcher or not, before posting that message. Might be a good enhancement to @whedon.

[2017-10-04 15:11] arfon commented on #417
@whedon set 10.6084/m9.figshare.5469208 as archive

[2017-10-04 15:11] whedon commented on #417
OK. <a href="http://dx.doi.org/10.6084/m9.figshare.5469208" target="_blank">10.6084/m9.figshare.5469208</a> is the archive.

[2017-10-04 15:20] arfon commented on #417
@maelle - many thanks for your review and to @leeper for editing this one ✨

@timfolsom @vpnagraj - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00417 ⚡️ 🚀 💥

[2017-10-04 15:20] #417 closed

[2017-10-04 15:35] arfon commented on #251
@offray - can you remind me how to download the sourcecode for this project? I can't seem to figure out how to download it from here http://smalltalkhub.com/#!/~Offray/Grafoscopio/

[2017-10-04 15:42] offray commented on #251
Arfon, Thanks for testing and your interest.

SmalltalkHub is more for insiders who are kind of familiar with
installing stuff in Pharo. A more detailed procedure is this: first you
will need to download and launch Pharo from [1]. After that, open a
playground and execute the code in [2]. You can find detailed install
and use instruction in the Manual [3], or a general overview in the
documentatio

[2017-10-04 16:02] arfon commented on #251
@offray - to clarify, I just need the `paper.md` and `paper.bib` files to complete this submission (and acceptance into JOSS).

[2017-10-04 17:01] anotherjoshsmith commented on #423
@arfon @arokem @cxhernandez I'd be happy to review MDEntropy

[2017-10-04 19:29] Code-XYZxyz commented on #387
Okay, thanks.

On Wed, Oct 4, 2017 at 5:07 AM, Arfon Smith <notifications@github.com>
wrote:

--
     Wishing you all the best,

Xiayun ZHAO

[2017-10-04 19:50] mattbellis commented on #384
Done! Added the badge to the README.md of the project.

10.5281/zenodo.1002224.

https://zenodo.org/record/1002225#.WdU7U6x94iU

[2017-10-04 20:22] cMadan commented on #384
@whedon assign 10.5281/zenodo.1002224 as archive

[2017-10-04 20:23] cMadan commented on #384
@whedon set 10.5281/zenodo.1002225 as archive

[2017-10-04 20:23] whedon commented on #384
OK. <a href="http://dx.doi.org/10.5281/zenodo.1002225" target="_blank">10.5281/zenodo.1002225</a> is the archive.

[2017-10-04 20:25] cMadan commented on #384
@arfon and @leeper, I think this is all ready for acceptance now!

@mattbellis, sorry for the delay in getting that last step sorted.

[2017-10-04 20:26] cMadan commented on #413
@nirum, no worries, thanks for the update!

[2017-10-04 20:29] mattbellis commented on #384
@cMadan No no, don't worry about it. I'm sure if I had read more closely, I would have figured things out a while ago. ^_^

Thanks for your help and guidance on this!

[2017-10-04 22:02] RichardLitt commented on #424
- [ ] The version does not match. I'm unsure how to suggest a change here - opening an issue in GitHub doesn't make sense. I would suggest, instead, that the given version here by updated to v0.1.3.

[2017-10-04 22:07] hawk31 commented on #391
It's been more than a month since I submitted this to JOSS. Does it usually take this long?

[2017-10-04 22:30] arokem commented on #407
@nicoguaro : have you had a chance to take a look at the other items on the check list above?

[2017-10-04 22:42] nicoguaro commented on #422
I will have to turn this one down.

[2017-10-04 23:35] arfon commented on #391
@hawk31 - we've got a pretty big backlog of submissions right now. We'll try and get to this soon.

[2017-10-04 23:36] labarba commented on #391
Occasionally, when an editor is flagged but they are impossibly busy, we don't get a quick reply and there is a delay. But it is not usual. If you might suggest another editor, we'll try again.

[2017-10-05 05:05] lheagy commented on #422
Happy to take this @arfon and @yxqd! I am travelling at the moment and then will be back into the swing of things on Monday. I will get back to you then. Thanks for your patience

[2017-10-05 10:14] pstegma commented on #412
Thank you for the comments. I am working on the suggested improvements.

[2017-10-05 13:42] pstegma commented on #412
First of all, many thanks again to the reviewer for spending time with the review and for his very helpful comments which we are certain help to improve the quality of the software. We think we were able to implement all of the requested points. Please find below our detailed response.

# Replies to reviewer comments

## Usage

The comma typo as well as the misspelled URL were corrected. More exam

[2017-10-05 14:34] RichardLitt commented on #424
@cMadan I would consider Quail to be worthy of publication as is within JOSS. All checks passed, all green from my end.

[2017-10-05 14:36] RichardLitt commented on #424
Small note: The only thing to change is that the version needs to be updated to v0.1.4. I'm not sure how to do that for JOSS.

[2017-10-05 14:47] jeremymanning commented on #424
@RichardLitt we've updated the metadata in the quail repository (and on pip) to reflect the new version (0.1.4).  Let us know if you need us to change anything else on our end, or if this is a JOSS thing.

[2017-10-05 14:48] jeremymanning commented on #424
Also, thanks very much for such a thorough review!  An enjoyable experience from our end!

[2017-10-05 15:01] arfon commented on #238
Friendly reminder on this @offray

[2017-10-05 15:33] RichardLitt commented on #424
Thank you! You've been super responsive. Great work.

[2017-10-05 16:06] arfon commented on #399
@whedon assign @arfon as editor

[2017-10-05 16:06] whedon commented on #399
OK, the editor is @arfon

[2017-10-05 16:06] arfon commented on #399
@jochym, @bjmorgan, would either of you be willing to review this submission for JOSS?

[2017-10-05 20:25] nicoguaro commented on #407
Yes, I installed the software for Python 3 as described in the instructions.

I also try to run the tests using ``pytest`` and this is the errors I get

        =========================================== ERRORS ===========================================
        ____________________ ERROR collecting tests/ImagingReso/utilities_test.py ____________________
        ImportError while importing test

[2017-10-05 23:06] zhangy6x commented on #407
@nicoguaro I was able to reproduce the error. Look like it is the path issues with the pytest. Could you please try to run`python -m pytest tests/` in the repo dir. It fixes this problem on my end.

[2017-10-06 02:45] eteq commented on #348
@cokelaer - thanks for your work here.  You've addressed all my concerns - we're almost there, but I want to push just a little on one of these. (But want to make it clear at the outset that I am *not* taking a hard-line stance and am open to discussion up to and including accepting everything as-is):

My usual stance inside my field is that anyone who has contributed code *or* significant non-cod

[2017-10-06 13:16] arfon commented on #424
@andrewheusser - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-10-06 13:23] arfon commented on #348
@cokelaer @eteq - Facing a similar issue, `@adrn` [opened an issue](https://github.com/openjournals/joss-reviews/issues/388#issuecomment-333407285) in his repository to check with other contributors https://github.com/adrn/gala/issues/100

To be clear, JOSS is not here to police authorship and I think @eteq has done a good job of articulating his position here. @cokelaer - if you're interested in

[2017-10-06 13:30] katyhuff commented on #322
@whedon set @rgiordan as reviewer

[2017-10-06 13:30] katyhuff commented on #322
@whedon assign @rgiordan as reviewer

[2017-10-06 13:30] whedon commented on #322
OK, the reviewer is @rgiordan

[2017-10-06 13:30] katyhuff commented on #322
@whedon start review magic-word=bananas

[2017-10-06 13:30] whedon opened #425 "[REVIEW]: BayesianNetwork: Interactive Bayesian Network Modeling and Analysis"
**Submitting author:** @paulgovan (<a href="http://orcid.org/0000-0002-1821-8492">Paul Govan</a>)
**Repository:** <a href="https://github.com/paulgovan/BayesianNetwork" target ="_blank">https://github.com/paulgovan/BayesianNetwork</a>
**Version:** v0.1.3
**Editor:** @katyhuff
**Reviewer:** @rgiordan
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.596010" target="_blank">10.5281/zenodo.59601

[2017-10-06 13:30] whedon commented on #425
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @rgiordan it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probab

[2017-10-06 13:32] katyhuff commented on #322
Hi @paulgovan , I found a willing reviewer! @rgiordan has some near term conflicts, but has kindly promised a review by Oct. 20th at the latest. This will happen over in #425.

[2017-10-06 13:32] #322 closed

[2017-10-06 13:59] andrewheusser commented on #424
Great, thank you!  Here is the DOI I registered with Zenodo

[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.1003184.svg)](https://doi.org/10.5281/zenodo.1003184)

[2017-10-06 15:19] cokelaer commented on #348
@arfon @eteq
I think that it is a valid point and agree with the idea of adding authors with significant contributions. The solution proposed . I have open an issue accordingly https://github.com/cokelaer/spectrum/issues/41

[2017-10-06 16:06] pjotrp commented on #419
Dear @smoe would you care to review this Singularity submission?

[2017-10-06 16:53] arfon commented on #424
@whedon set 10.5281/zenodo.1003184 as archive

[2017-10-06 16:53] whedon commented on #424
OK. <a href="http://dx.doi.org/10.5281/zenodo.1003184" target="_blank">10.5281/zenodo.1003184</a> is the archive.

[2017-10-06 18:05] smoe commented on #419
Dear @pjotrp,

Singularity is important and everything that fosters its acceptance is appreciated.

The setup is technically sound. I like the distributed effort. What seems missing is the concept of mirroring images for long time availability when a site goes down, which then truly preserves setups for scientific reproducibility. For that to happen, we would need identifiers that are not URL-depe

[2017-10-06 19:50] pjotrp commented on #419
Thanks Steffen - we'll have to move to official review so you can tick the boxes. I'll copy your text in.

[2017-10-06 19:51] pjotrp commented on #419
@whedon assign @smoe as reviewer

[2017-10-06 19:51] whedon commented on #419
OK, the reviewer is @smoe

[2017-10-06 19:52] pjotrp commented on #419
@whedon start review magic-word=bananas

[2017-10-06 19:52] whedon opened #426 "[REVIEW]: Singularity Registry: Open Source Registry for Singularity Images"
**Submitting author:** @vsoch (<a href="http://orcid.org/0000-0002-4387-3819">Vanessa Sochat</a>)
**Repository:** <a href="https://www.github.com/singularityhub/sregistry" target ="_blank">https://www.github.com/singularityhub/sregistry</a>
**Version:** v1.0.0
**Editor:** @pjotrp
**Reviewer:** @smoe
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1012531" target="_blank">10.5281/zenodo.1012

[2017-10-06 19:52] whedon commented on #419
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/426. Feel free to close this issue now!

[2017-10-06 19:52] whedon commented on #426
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @smoe it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably c

[2017-10-06 19:52] #419 closed

[2017-10-06 19:53] pjotrp commented on #426
@smoe started review with:

Singularity is important and everything that fosters its acceptance is appreciated.

The setup is technically sound. I like the distributed effort. What seems missing is the concept of mirroring images for long time availability when a site goes down, which then truly preserves setups for scientific reproducibility. For that to happen, we would need identifiers that are

[2017-10-06 19:54] pjotrp commented on #426
@smoe please tick the boxes, thanks! @vsoch please follow up.

[2017-10-06 21:12] vsoch commented on #426
Thank you @smoe and @pjotrp for starting the discussion! This is my first review with JOSS so please tell me if I am doing something incorrectly. I will follow up here with answers to your questions, and then make a suggested list of changes for the repository. @whedon is asking for the issues to be in the target repository or linked, and so I will address the decided changes there.

Thank you! I

[2017-10-06 22:06] smoe commented on #426
Dear @vsoch, please rest assured that I did not expect you to add any extra functionality to your hub. I need to thank you for your detailed replies to my comments - I hope you could copy some good parts from elsewhere. It is also my first review for JOSS - interesting :)

Easiest first: Concerning _references_ I suggest you reference/cite whatever that you want to reference. It is the least that

[2017-10-06 23:14] GabrieleRovigatti commented on #371
Hi @arfon, just checking in to see whether there is any news on the publication process.

[2017-10-07 01:35] arfon commented on #424
@RichardLitt - many thanks for your review here and to @cMadan for editing this submission ✨

@andrewheusser - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00424 ⚡️ 🚀 💥

[2017-10-07 01:35] #424 closed

[2017-10-07 01:38] arfon commented on #371
@GabrieleRovigatti - I can't find the paper (`paper.md`) associated with this submission in the repository. Can you point me to it please?

[2017-10-07 01:39] arfon commented on #371
@GabrieleRovigatti if [this](https://github.com/GabrieleRovigatti/prodest/blob/master/prodest/paper/prodest.md) is the paper, please rename these files to `paper.md` and `paper.bib`

[2017-10-07 01:42] GabrieleRovigatti commented on #371
@arfon done. Sorry for the misunderstanding

[2017-10-07 01:57] jeremymanning commented on #424
@arfon Thanks-- we're very excited that our paper has been accepted!  Everything mostly looks great, but I noticed some formatting issues with the references and paper.  I looked through our paper.md and paper.bib files, and I think I see what the problems were:
- In the .bib file, we had separated some of the author names with commas instead of "and."  Also, some of the field names were capitaliz

[2017-10-07 04:51] eteq commented on #348
Fantastic! Once your deadline from cokelaer/spectrum#41 has passed, you can consider this as having been accepted, @arfon and @cokelaer

[2017-10-07 15:24] pjotrp commented on #426
Mind: The paper should not be lengthy, according to the JOSS guidelines. It is better to have real information in a README or other doc in the repo (which can be referenced from the paper). Still the paper is a point of call for readers, so be concise but informative. A figure usually is a good idea.

[2017-10-07 15:28] pjotrp commented on #426
BTW have you thought of using IPFS as a backend? That could solve the redundancy question. We are experimenting with IPFS in several projects.

[2017-10-07 17:12] fakenmc commented on #415
Hi @cMadan, is there anything else I can do at this point?
Thanks,
Nuno

[2017-10-07 20:22] adrn commented on #388
DOI is still catching up, but it should be here soon:
https://doi.org/10.5281/zenodo.1004642

[2017-10-07 20:45] cMadan commented on #415
@jordigh, shall I assign you as reviewer?

@fakenmc, nothing yet. First we need someone as the reviewer, then I can start the review process itself.

[2017-10-07 22:33] smoe commented on #426
Right, not long. Dear @vsoch, you will know what to do and I will be happy with it. That I have not checked everything above, yet, is just because I did not find the time, yet. It has nothing to do with your work.

[2017-10-08 02:27] vsoch commented on #426
Dear @smoe, I have done ample changes to the [paper.md](https://github.com/singularityhub/sregistry/blob/master/paper/paper.md#a-need-for-reproducible-science) and will move them (from our conversation above) here.

# Submission Changes

- [ ] I have changed the paper.md to include a better introduction for the individual that may not know about containers. I added clearly defined headers so the r

[2017-10-08 04:47] pjotrp commented on #426
@vsoch I like the new version of the paper better. I think it still can be improved a bit. First of all, don't keep the reader guessing (as a rule). I would put main section 3 first. Sections 1 and 2 are long for what they need to say, better to shorten them to a few lines each and embed them in section 3. I mean, we can assume that people understand reproducibility. In the context of containers j

[2017-10-08 14:48] vsoch commented on #426
@pjotrp I shorted the introduction quite a bit, and moved the bulk of the background into the docs [introduction](https://singularityhub.github.io/sregistry/introduction.html). [Here is the updated paper](https://github.com/singularityhub/sregistry/blob/master/paper/paper.md). Your suggested introduction is fantastic, and I only tweaked it slightly (Docker in fact has huge security issues so it wa

[2017-10-08 16:42] pjotrp commented on #426
@vsoch I like it. Do people not have root-like privileges inside the singularity container? It may read that way now. I think you mean that singularity does not actually use root privileges to run the container - it stays in userland. Correct? After this niggle, @smoe can you sign off on your review and we'll take it to the next level? Thanks!

[2017-10-08 17:37] vsoch commented on #426
@pjotrp that is correct - inside a Singularity container you are the same user as outside the container:

[code]

And thus if you run as root, you are root inside as well!

[code]

[2017-10-08 17:42] pjotrp commented on #426
OK, I think that means someone needs to be root to create containers? That would be an HPC administrator? How would apt or rpm work otherwise?

[2017-10-08 19:23] vsoch commented on #426
@pboesu yes, the typical workflow is to build on a resource (a personal work station,for example) with root, and then run the container anywhere. The user running the container cannot escalate to root on the host system, as would be possible with Docker. It matches nicely to a typical scientific workflow, where you write and test scripts on a personal computer, and then run at scale. The workflow

[2017-10-08 19:27] pjotrp commented on #426
Good. Have a look at your text to see if that is reflected. On to @smoe ...

[2017-10-08 19:32] mattbellis commented on #384
Do I need to do anything else?

[2017-10-08 23:06] whedon commented on #423
OK, the editor is @arokem

[2017-10-08 23:06] arokem commented on #423
@whedon assign @anotherjoshsmith as reviewer

[2017-10-08 23:06] whedon commented on #423
OK, the reviewer is @anotherjoshsmith

[2017-10-08 23:06] arokem commented on #423
Thanks @anotherjoshsmith !

[2017-10-08 23:07] arokem commented on #423
@whedon start review magic-word=bananas

[2017-10-08 23:07] whedon opened #427 "[REVIEW]: MDEntropy: Information-Theoretic Analyses for Molecular Dynamics"
**Submitting author:** @cxhernandez (<a href="http://orcid.org/0000-0002-8146-5904">Carlos Xavier Hernández</a>)
**Repository:** <a href="https://github.com/msmbuilder/mdentropy/" target ="_blank">https://github.com/msmbuilder/mdentropy/</a>
**Version:** v0.3.0
**Editor:** @arokem
**Reviewer:** @anotherjoshsmith
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1049032" target="_blank">10.528

[2017-10-08 23:07] whedon commented on #423
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/427. Feel free to close this issue now!

[2017-10-08 23:07] whedon commented on #427
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @anotherjoshsmith it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you'r

[2017-10-08 23:07] #423 closed

[2017-10-08 23:08] arokem commented on #350
@luizirber : does now meet all the requirements?

[2017-10-08 23:09] arokem commented on #259
Any progress here? @DominiqueMakowski / @cMadan? Have the issues previously identified been resolved?

[2017-10-09 00:31] vsoch commented on #426
Thanks @pjotrp, I don't in fact think the use cases were properly reflected, and they are important to give users a sense of "who cares?" I've added a [use cases](https://singularityhub.github.io/sregistry/use-cases.html) section to the docs to address this.

[2017-10-09 02:16] arfon commented on #371
@GabrieleRovigatti - please merge this PR https://github.com/GabrieleRovigatti/prodest/pull/6 and then could you please make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-10-09 02:20] arfon commented on #424
@jeremymanning - sure thing. I just recompiled the paper. Could you take a look at the new version and see if it's looking better?

[2017-10-09 02:21] arfon commented on #388
@whedon set 10.5281/zenodo.1004642 as archive

[2017-10-09 02:21] whedon commented on #388
OK. <a href="http://dx.doi.org/10.5281/zenodo.1004642" target="_blank">10.5281/zenodo.1004642</a> is the archive.

[2017-10-09 02:30] arfon commented on #388
@crawfordsm - many thanks for your review here! ✨

@adrn - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00388 ⚡️ 🚀 💥

[2017-10-09 02:30] #388 closed

[2017-10-09 02:36] arfon commented on #384
@alexhanna - many thanks for your review here and to @leeper for editing this submission ✨

@mattbellis - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00384 ⚡️ 🚀 💥

[2017-10-09 02:36] #384 closed

[2017-10-09 02:59] mattbellis commented on #384
Thank you! Thank you@alexhanna and @leeper and @arfon ! This has been a great submission experience!  :)

[2017-10-09 03:30] GabrieleRovigatti commented on #371
@arfon the DOI is  10.5281/zenodo.1004765  - how do I update the thread with it? thanks

[2017-10-09 06:21] leeper commented on #371
@whedon set 10.5281/zenodo.1004765 as archive

[2017-10-09 06:21] whedon commented on #371
OK. <a href="http://dx.doi.org/10.5281/zenodo.1004765" target="_blank">10.5281/zenodo.1004765</a> is the archive.

[2017-10-09 07:33] smoe commented on #426
Dear @vsoch,

I am happy, except that I have not yet installed it - and I really need to do something else today, I am afraid - hey, I have installed docker on a remote server already. @pjotrp, would it be OK to skip that as I have no doubt at all that this will either work or be immediately fixed if not should I run into a local issue?

Something that I should possibly comment on are the referenc

[2017-10-09 10:02] hawk31 commented on #391
Can I suggest @arokem as a new reviewer?

[2017-10-09 10:32] pjotrp commented on #426
@smoe could you try a quick install to be able to tick the *Functionality* boxes? It is a requirement rather. No rush, you have been quick so far.

[2017-10-09 12:27] danielskatz commented on #400
Hi @gasagna - How is this going?

(Note: I copied your 2 checkmarks from your comment above into the main list at the top of the issue, and I'm happy to continue to do this as you make progress, so that someone who looks at this later can see the status at the top.)

[2017-10-09 15:32] arfon commented on #371
@sebastianbarfort - many thanks for your review and to @leeper for editing this submission ✨

@GabrieleRovigatti - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00371 ⚡️ 🚀 💥

[2017-10-09 15:32] #371 closed

[2017-10-09 15:33] selbouhaddani commented on #412
Thank you for addressing all the remarks. I went through the package again and verified that all JOSS requirements are met.
@mgymrek I'm satisfied with the current submission.

[2017-10-09 15:35] GabrieleRovigatti commented on #371
@arfon, @leeper, @sebastianbarfort thank you all guys for the review process, it has been fruitful for the command implementation and interesting for me to see how you work.

[2017-10-09 15:46] luizirber commented on #350
Yup! I checked all the boxes, I think it is good to go!

💯 Thanks for the changes, @wojdyr

[2017-10-09 16:41] gasagna commented on #400
Hi Daniel,

I have completed my review, and I have pointed out minor issues that @BenLauwens should address (see unchecked boxes above). These are mostly documentation improvement suggestions.

I will wait for the author to fix these and then check the remaining boxes.

[2017-10-09 17:11] jeremymanning commented on #424
Hi @arfon -- that fixed some of the issues, but there are still some remaining formatting issues:
- Some misplaced parentheses
- Inconsistently formatted years (e.g. some have parentheses, some don't)
- Inconsistently formatted author names in the reference list, including some missing information

I've attached a marked up PDF with the specific issues.  I'm also happy to attempt to compile the PD

[2017-10-09 17:17] arfon commented on #424
@jeremymanning - [this is the command](https://github.com/openjournals/whedon/blob/d8edf88535db314874199e3ef4cc494e30ccec52/lib/whedon/processor.rb#L155-L164) we use to compile the paper. Can you go from there?

[2017-10-09 19:36] danielskatz commented on #400
thanks!

[2017-10-09 21:15] jeremymanning commented on #424
Hi @arfon thanks for the pointer!  I've now fixed the remaining formatting issues.  The changes are [on our GitHub repo](https://github.com/ContextLab/quail/tree/master/paper), and I've attached a PDF.

[10.21105.joss.00424.pdf](https://github.com/openjournals/joss-reviews/files/1369829/10.21105.joss.00424.pdf)

[2017-10-09 21:44] arfon commented on #424
@jeremymanning - can you take a look at this PDF https://github.com/openjournals/joss-papers/raw/master/joss.00424/10.21105.joss.00424.pdf and see if it looks better?

[2017-10-09 21:47] jeremymanning commented on #424
@arfon that looks great-- thanks for your help fixing this!

[2017-10-09 21:48] arfon commented on #424
NP 😄

[2017-10-09 21:48] jeremymanning commented on #424
Ah-- can you re-compile the website too (to match the paper)?  Sorry 😬

[2017-10-09 21:56] arfon commented on #424
The site should be updated now...

[2017-10-09 21:57] jeremymanning commented on #424
Awesome-- perfect.  Thanks very much 😄

[2017-10-09 22:00] smoe commented on #426
Sigh. How comes I knew this would happen. I ran what I understood to be run and ran into an issue. @vsoch, I get you an account on that machine (regular Debian Stretch) if that is of any help. I followed the instructions on https://github.com/singularityhub/sregistry/blob/master/scripts/prepare_instance.sh with docker already installed.

I successfully run the hello-world as root. As a regular use

[2017-10-09 22:19] vsoch commented on #426
Hey @smoe ! Sorry for your troubles! There are two things here - preparing your host to use Docker and compose, and then running the image. I

## Preparing Host
It's best to follow the instructions for your distribution [here](https://docs.docker.com/engine/installation/). Note that I provided instructions for an Ubuntu host. There are detailed instructions provided by Docker for non ubuntu, along

[2017-10-09 22:28] whedon opened #428 "[PRE REVIEW]: PySwarms: a research toolkit for Particle Swarm Optimization in Python"
**Submitting author:** @ljvmiranda921 (<a href="http://orcid.org/0000-0002-7872-6464">Lester James Miranda</a>)
**Repository:** <a href="https://github.com/ljvmiranda921/pyswarms" target ="_blank">https://github.com/ljvmiranda921/pyswarms</a>
**Version:** v0.1.7
**Editor:** @kyleniemeyer
**Reviewer:** @stsievert

**Author instructions**

Thanks for submitting your paper to JOSS @ljvmiranda921. The

[2017-10-09 22:28] whedon commented on #428
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @kyleniemeyer it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-10-09 22:28] arfon commented on #428
👋 @kyleniemeyer - the submitting author suggested you as an editor.

[2017-10-09 22:30] vsoch commented on #426
hey @smoe ! I updated the docs to very specifically say to install docker an docker-compose for your particular choice, along with needing to log in and out.

If you want to see one of my colleagues deployed sregistry, check out [randomroad](https://sregistry.randomroad.net)

Please let me know what is (and isn't clear) and I'll improve the instructions in the docs. I want to make sure they are us

[2017-10-09 23:18] smoe commented on #426
I had used the wrong open shell for the build in which I had just added me to the docker user group. So, thank you for that.  Indeed, I can now run as a regular user for which I had to use sudo before. Good news first: The docker-compose just worked fine. For @pjotrp:

[code]
Executed with sudo or after properly being accepted as a member of the docker group on the system, the error remains the sa

[2017-10-09 23:52] vsoch commented on #426
It looks like it's having trouble with singularity itself (and not the registry). I updated the image to clone from development, if you want to try building again. Here is also a complete build I did from scratch to confirm that it works for me: https://asciinema.org/a/141559?speed=3

Do you think it's too easy to find the prepare_instance.sh script (over the install instructions?) If so, let's de

[2017-10-10 00:10] lheagy commented on #422
Condensed matter physics isn't really my background, but I am happy to work with this submission. @arfon, is there anyone else one the editorial board that you think might have more background in this that could support?

@yxqd, I have a couple questions / comments regarding the paper:
- right now, the summary is brief and quite technical. I would recommend you expand it to make it more accessible

[2017-10-10 14:37] arfon commented on #422
Thanks for the heads up @lheagy - I don't think this copyright statement causes us any major issues.

[2017-10-10 14:38] arfon commented on #422
Not really sorry. This is pretty much out of the remit of most of our editors I think.

[2017-10-10 15:11] smoe commented on #426
Sigh. I have removed all images (and running containers), and even after your change to the Dockerfile, I still get
[code]
but (and this is a big but) https://github.com/singularityhub/sregistry/pull/39 fixed that for me. In my commit note I speculated that the mirrors of Debian may differ slightly in their punctuality of updates. Or do you have a web cache for the pip installation?

Anyway, I can

[2017-10-10 15:53] vsoch commented on #426
Your fix is added! I think it might also be missing cmake? It could be a different version related to mirrors. I've merged your additional library, and also just added cmake. It's very strange, because it works for me (and the few others that have installed it) so hard to pin down what it might be. I also read that the error pops up when package config fails to link the file.

[2017-10-10 15:54] smoe commented on #426
Ok ... is there a place for me to look when encounering an "internal server error" that is displayed as the only content? To be seen on server2.ffoh.de.

[2017-10-10 15:59] smoe commented on #426
A missing cmake was not complained about.

Is there a chance to  have you migrate to Debian Stretch? I volunteer to perform the test build.

[2017-10-10 16:00] vsoch commented on #426
Try

[code]
and please tell me what you find!

[2017-10-10 16:02] vsoch commented on #426
You shouldn't need to worry about building on your particular host. I can't explain the issues that you are having, but since there is a pre-built container provided --> https://hub.docker.com/r/vanessa/sregistry/builds/ that should be more than sufficient to reproduce the application exactly as intended. Building on your own, actually, would produce a different image (as we have seen) given that

[2017-10-10 16:06] vsoch commented on #426
I think it may be the case that you need to follow the instructions in setup first **before** you start the image. Did you see the page here?

https://singularityhub.github.io/sregistry/install.html

That configuration needs to be done before you start the image.  If you are using the one from docker hub, the files are mounted so they will be updated when you bring up the image.

[2017-10-10 17:36] vsoch commented on #426
Hi @smoe - please see my instruction above:

[code]
that will show the logs of the main server, which is the image called uwsgi.  You do need to follow the instructions and choose some method to authenticate. The other option is that I could allow you (the user) to bring up a registry that you are unable to login to.  Please run that command and show me the output (which will correspond to the ser

[2017-10-10 20:40] cdcrabtree commented on #421
@whedon commands

[2017-10-10 20:40] whedon commented on #421
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-10-10 23:35] yxqd commented on #422
@lheagy thanks! I admit I don't know enough about the editors backgrounds and did not find an editor specializing on condensed matter physics. You were the closest I could find from the editor list since studies on condensed matter in extreme conditions (high temperature and high pressure, for example) are topics of research in geophysics. Again, thanks @lheagy for picking this up.

@lheagy regard

[2017-10-11 12:20] smoe commented on #426
It says that the SECRET_KEY would be empty - which it is not on my end. I also failed to see at which point you forward that file into your containers - but I have complete trust that we can settle that independently from this review. So I pressed the last button.

I personally like the idea of a "display only" image server very much where users could anonymously download the images they want. Thi

[2017-10-11 12:33] vsoch commented on #426
hey @smoe! The secret key is a [django application detail](https://docs.djangoproject.com/en/1.11/ref/settings/#std:setting-SECRET_KEY), and you must have missed where I wrote about it in the [instructions to generate one](https://singularityhub.github.io/sregistry/install.html#secrets). It's important for security features for any django application, and as you discovered, it will get angry at yo

[2017-10-11 13:59] cMadan commented on #259
For some reason I can't get it to work on my Mac laptop, though someone else was able to get it to work on their Mac. Since I tried this last, I've moved to another uni (and generally been busy)... I will try the package on a Windows machine next week.

[2017-10-11 14:13] smoe commented on #426
Hi @vsoch, admittedly, my very initial run was without the secret key since the prepare_instance.sh script did not generate it. But a next invocation, with all images removed if I did not mess it up, had it in place. And this is how it still is:
[code]
I had used the django generator you referred to create it.

Concerning the python image I am still a bit unhappy. It seems like this comes with the

[2017-10-11 14:33] vsoch commented on #426
hey @smoe! Are you still have trouble with the secret key? You shouldn't need to remove or rebuild images, just restart with docker compose (and this is true whenever a change is done and the images are running):

[code]
I added more verbose documentation about this to [this section](https://singularityhub.github.io/sregistry/install.html#compose-the-images), in case you missed it.

I can't commen

[2017-10-11 15:34] smoe commented on #426
[code]
Big sigh.

[code]
Hm.

[code]

Dear @vsoch, If you do not mind too much, please send me public ssh key of yours and then have a look yourself.

[2017-10-11 16:08] vsoch commented on #426
hey @smoe ! You named your file `secret.py`. It needs to be named `secrets.py`, per the instruction!

https://singularityhub.github.io/sregistry/install.html#secrets

The reason it isn't finding it is because it looks specifically for that file, and defaults to importing "bogus_secrets.py"

We will get this running, don't worry! You are doing great! :)

[2017-10-11 16:36] smoe commented on #426
Wow! A classic one. Many thanks for spotting that. No sure if I deserve that praise, though. Now it is the "502 Bad Gateway" and
[code]

[2017-10-11 16:41] vsoch commented on #426
Actually I think you got it working :) When it first comes up and tries to do all the migrations, it's common to see that blurp, but then as you see below, it finishes the migrations. If the 502 persists ( try refreshing ) then just do a restart. I would bet if you refresh after you see the uwsgi running it will show up. Give it a try - we are close!

[2017-10-11 18:05] arfon commented on #365
_bump_ friendly reminder on this @jordigh

[2017-10-11 18:32] smoe commented on #426
Indeed. Amazing. I leave it up for @pjotrp to toy around with it. For all review purposes I tend to think that together with your public instance this is just fine now. If I continue, then we soon have all possible and impossible images gathering various tools for biomedical workflows in Debian Med. And I need to do some other work :-7

I am right in my understanding that you do not need to bootst

[2017-10-11 18:46] vsoch commented on #426
@smoe great to hear you got it working! You are correct that Singularity does not have a dependency on Docker. A lot of work (e.g., biocontainers) has gone into Docker, so an early addition was to ensure that a Docker container could be imported seamlessly into Singularity. We have several other bases, including the mirror urls for each distribution (debootstrap, arch linux, [and more here](https:

[2017-10-11 19:08] smoe commented on #426
Oh, too late, I had my first hands-on experience with Singularity somewhen in July and liked it a lot. It is basically what saves Debian Med in the HPC world where otherwise everyone is much after BioConda.

Please let us digress a bit more - just a tiny, tiny bit. On the Debian Med mailing list, Mr. CWL (Michael Crusoe) just asked about an automated Docker image build service for Debian packages

[2017-10-11 19:38] vsoch commented on #426
Don't worry - most of it is the same! We are adding a lot more security to the image format that is built, and a single interface for interacting with it (basically a command called `build` instead of `bootstrap`) so the sampling folk from statistics can have their term back :) There will be ample documentation and examples to get you re-acquainted.

Just taking a look, this would work easily with

[2017-10-11 20:20] smoe commented on #426
I am one of the Debian Developers (moeller@debian.org), but there are more guru-ish folks out there that are non-developers :) For the formal bits, one could tap into the Unified Debian Database (udd.debian.org) that has a table on packages and its dependencies. So this would create us a directed acyclic (should be) graph to annotate with sizes and do some clustering in. I can help on that, but wo

[2017-10-11 20:46] vsoch commented on #426
It's so great to make your acquaintance! I think references to Singularity images is a fantastic idea. I am definitely going to check out these resources, and @gmk @godlovedc and @bauerm97 see the discussion above!

[2017-10-12 03:30] jordigh commented on #365
Okay, I've looked a bit more at the functionality of `gmm_diag`, and the results seem adequate. I ran the model a few times, looked at the resulting convex combination of multivariate normals, and they seemed to fit the data to a reasonable degree.

Ticking through the other tickboxes of my review, I couldn't find much of an indication of how to contribute to Armadillo except a pointer to the gith

[2017-10-12 03:48] conradsnicta commented on #365
@jordigh - Thanks for doing the review. To answer your question: the previous conference paper only covers the `gmm_diag` class, while the JOSS article would cover both the `gmm_diag` class and the newer `gmm_full` class.  Furthermore, the previous paper is at a minor local conference on signal processing, while JOSS directly targets open source software (ie. it's a better fit), as well as having

[2017-10-12 11:13] smoe commented on #426
That thread on the Debian Med was rather fruitful  - the NeuroDebian folks created a singularity image, see https://lists.debian.org/debian-med/2017/10/msg00037.html .

[2017-10-12 12:00] pjotrp commented on #426
@smoe I gather you are happy as a reviewer and completed review. Great work both of you! @arfons we are ready to R&R!

[2017-10-12 12:11] vsoch commented on #426
Fantastic! Thanks @pjotrp @smoe and @arfon! :)

[2017-10-12 20:30] mdoucet commented on #399
Another possible reviewer could be @betatim.

[2017-10-12 22:46] wojdyr commented on #350
Thank you @luizirber and @arokem !

 @whedon set 10.5281/zenodo.1009695 as archive

[2017-10-12 22:48] wojdyr commented on #350
@whedon set 10.5281/zenodo.1009695 as archive

[2017-10-12 22:48] whedon commented on #350
I'm sorry @wojdyr, I'm afraid I can't do that. That's something only JOSS editors are allowed to do.

[2017-10-13 03:33] jordigh commented on #415
Oh, alright, I'll do it.

I didn't want to commit until I had finished the other review first.

[2017-10-13 18:18] labarba commented on #280
Great news! NVIDIA has now released AmgX with an open source license:
https://github.com/NVIDIA/AMGX

[2017-10-13 19:43] kyleniemeyer commented on #428
@arfon OK, got it.

@ljvmiranda921 I will work on identifying appropriate reviewer(s); any suggestions you have for people with domain knowledge are also appreciated.

[2017-10-13 19:46] kyleniemeyer commented on #298
Hi @scopatz, any luck trying the new example?

[2017-10-13 19:48] kyleniemeyer commented on #49
Hi @drcassar, just wanted to check in—if you don't think you'll ever be able to make these changes, then we can withdraw this submission, but there is some light on the horizon, then we can keep it open.

[2017-10-13 19:50] kyleniemeyer commented on #165
Sorry for the delay on handling this...

@arghdos could you look and see if the changes made satisfy your concerns?

[2017-10-14 00:55] ljvmiranda921 commented on #428
Hi @kyleniemeyer , thank you for taking the time to oversee the review of this submission.

I checked the [list of reviewers for JOSS](https://github.com/openjournals/joss/blob/master/docs/reviewers.csv), then looked for keywords such as "optimization" and "python". I think that @stsievert and @oesteban may be suitable to review this if they have the time.

Thank you so much!

[2017-10-14 06:19] arokem commented on #350
@whedon set 10.5281/zenodo.1009695 as archive

[2017-10-14 06:19] whedon commented on #350
OK. <a href="http://dx.doi.org/10.5281/zenodo.1009695" target="_blank">10.5281/zenodo.1009695</a> is the archive.

[2017-10-14 06:20] arokem commented on #350
Congratulations!

@arfon: this paper is ready to go!

[2017-10-14 13:13] whedon opened #429 "[PRE REVIEW]: Parallel and Adaptive High-Dimensional Numerical Integration"
**Submitting author:** @iljah (<a href="http://orcid.org/0000-0002-9542-5866">Ilja Honkonen</a>)
**Repository:** <a href="https://github.com/iljah/hdintegrator" target ="_blank">https://github.com/iljah/hdintegrator</a>
**Version:** 0.1
**Editor:** @danielskatz
**Reviewer:** @marksantcroos

**Author instructions**

Thanks for submitting your paper to JOSS @iljah. The JOSS editor (shown at the top

[2017-10-14 13:13] whedon commented on #429
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @danielskatz it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-10-14 13:14] arfon commented on #429
👋 @danielskatz - the submitting author suggested you as the editor.

[2017-10-14 22:15] danielskatz commented on #429
Ok @arfon, will do.

[2017-10-14 22:16] danielskatz commented on #429
@iljah - do you have any suggested reviewers?

[2017-10-15 10:31] arfon commented on #365
@conradsnicta - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-10-15 10:40] arfon commented on #350
@luizirber many thanks for your review and to @arokem for editing this submission ✨

@wojdyr - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00350 ⚡️ 🚀 💥

[2017-10-15 10:40] #350 closed

[2017-10-15 10:56] arfon commented on #426
@vsoch - please merge this PR https://github.com/singularityhub/sregistry/pull/43 and then
could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-10-15 12:04] vsoch commented on #426
Thanks @arfon! Here is the completed DOI, which I've added additionally to the README.md:

https://doi.org/10.5281/zenodo.1012531

[2017-10-15 16:57] wojdyr commented on #350
Thank you all!

The paper (both pdf and html) has mis-formatted author list in bibliography.
For example, this entry in the bib file:

    author = {Paul Emsley and Bernhard Lohkamp and William G. Scott and Kevin Cowtan}

is shown as:

    Emsley, Paul, Bernhard Lohkamp, William G. Scott, and Kevin Cowtan.

The first author (in each entry) has the first name second; other authors have the first na

[2017-10-15 18:42] arfon commented on #350
@wojdyr - yeah, I've seen this before and to be honest I'm not exactly sure what's going on. If you're interested in digging into this the command we're using to compile the PDF (with Pandoc) is [here](https://github.com/openjournals/whedon/blob/master/lib/whedon/processor.rb#L155-L164).

[2017-10-15 20:58] drcassar commented on #49
Hi @kyleniemeyer. Thank you for your patience. Please, withdraw this submission. I'm thinking about going back to this idea with a different scope in the future (and maybe resubmitting, if possible). All the best.

[2017-10-15 23:39] kyleniemeyer commented on #49
@drcassar OK, thanks!

@arfon can you withdraw this submission?

[2017-10-16 00:40] Kevin-Mattheus-Moerman commented on #300
@moorepants were you able to address @stavness comments?

@stavness Are you able to tick some of the boxes at the top of this issue?

@jslee02 thanks for your review! @moorepants can you address these comments as well?

[2017-10-16 01:03] danielskatz commented on #400
@gasagna - it looks like @BenLauwens has made some changes and plans to make one more.  Perhaps you can update some of the boxes?

And @BenLauwens, please let us know when the other change has been made.

[2017-10-16 03:42] mgymrek commented on #412
Thanks @selbouhaddani for the review. I have looked through the comments and response and everything looks good.
@arfon I think we are ready to accept this submission.

[2017-10-16 04:26] moorepants commented on #300
I am planning to address the comments. I have been bogged down with hosting a conference and then prepping two new courses. Things should calm down soon. Thanks for the reminder.

[2017-10-16 05:45] conradsnicta commented on #365
@arfon - DOI of the archive: 10.5281/zenodo.1012627  (http://dx.doi.org/10.5281/zenodo.1012627)
Corresponding paper source: https://github.com/conradsnicta/armadillo-gmm/tree/master/paper/

[2017-10-16 08:33] iljah commented on #429
The following usernames seem to have suitable language combinations and areas of expertise in reviewers.csv: jochym, khinsen, betatim, kyleniemeyer, dvalters, arghdos, jochym, marksantcroos.

[2017-10-16 08:34] iljah commented on #429
@whedon commands

[2017-10-16 08:34] whedon commented on #429
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-10-16 09:21] cMadan commented on #415
@jordigh, no worries, thanks for volunteering!

[2017-10-16 09:22] cMadan commented on #415
@whedon assign @jordigh as reviewer

[2017-10-16 09:22] cMadan commented on #415
@whedon start review

[2017-10-16 09:22] whedon commented on #415
You didn't say the magic word! Try this:

[code]

[2017-10-16 09:22] cMadan commented on #415
@whedon start review magic-word=bananas

[2017-10-16 09:22] whedon opened #430 "[REVIEW]: micompm - A MATLAB/Octave toolbox for multivariate independent comparison of observations"
**Submitting author:** @fakenmc (<a href="http://orcid.org/0000-0002-8487-5837">Nuno Fachada</a>)
**Repository:** <a href="https://github.com/fakenmc/micompm" target ="_blank">https://github.com/fakenmc/micompm</a>
**Version:** v1.0.0
**Editor:** @cMadan
**Reviewer:** @jordigh
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.931838" target="_blank">10.5281/zenodo.931838</a>

## Status

[![st

[2017-10-16 09:22] whedon commented on #415
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/430. Feel free to close this issue now!

[2017-10-16 09:22] whedon commented on #430
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @jordigh it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probabl

[2017-10-16 09:22] #415 closed

[2017-10-16 09:28] vals commented on #418
Hi @bebatut

With these changes the software is more clear. It now satisfies the conditions for a JOSS publication.

/Valentine

[2017-10-16 10:10] arfon commented on #365
@whedon set 10.5281/zenodo.1012627 as archive

[2017-10-16 10:10] whedon commented on #365
OK. <a href="http://dx.doi.org/10.5281/zenodo.1012627" target="_blank">10.5281/zenodo.1012627</a> is the archive.

[2017-10-16 10:21] arfon commented on #365
@jordigh - many thanks for your review ✨

@conradsnicta - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00365 ⚡️ 🚀 💥

[2017-10-16 10:21] #365 closed

[2017-10-16 10:29] arfon commented on #412
@pstegma - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-10-16 10:30] arfon commented on #49
Done.

[2017-10-16 10:30] #49 closed

[2017-10-16 10:31] arfon commented on #426
@whedon set 10.5281/zenodo.1012531 as archive

[2017-10-16 10:31] whedon commented on #426
OK. <a href="http://dx.doi.org/10.5281/zenodo.1012531" target="_blank">10.5281/zenodo.1012531</a> is the archive.

[2017-10-16 10:37] arfon commented on #426
@smoe - many thanks for reviewing this submission and to @pjotrp for editing this one ✨

@vsoch - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00426 ⚡️ 🚀 💥

[2017-10-16 10:37] #426 closed

[2017-10-16 13:49] arfon commented on #348
@cokelaer - are we good to proceed?

[2017-10-16 14:00] arfon commented on #391
@whedon list reviewers

[2017-10-16 14:00] whedon commented on #391
Here's the current list of JOSS reviewers: https://bit.ly/joss-reviewers

[2017-10-16 14:01] arfon commented on #391
@dfm - would you be willing to review this submission for JOSS?

[2017-10-16 14:42] dfm commented on #391
Sure!

[2017-10-16 15:11] pstegma commented on #412
@arfon - This is the DOI 10.5281/zenodo.1013318 .

[2017-10-16 15:29] arfon commented on #391
@whedon assign @dfm as reviewer

[2017-10-16 15:29] whedon commented on #391
OK, the reviewer is @dfm

[2017-10-16 15:29] arfon commented on #391
@whedon assign @arfon as editor

[2017-10-16 15:29] whedon commented on #391
OK, the editor is @arfon

[2017-10-16 15:30] arfon commented on #391
@whedon start review magic-word=bananas

[2017-10-16 15:30] #391 closed

[2017-10-16 15:30] whedon commented on #391
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/431. Feel free to close this issue now!

[2017-10-16 15:30] whedon opened #431 "[REVIEW]: pyGPGO: Bayesian Optimization for Python"
**Submitting author:** @hawk31 (<a href="http://orcid.org/0000-0002-5335-7834">Jiménez J.</a>)
**Repository:** <a href="https://github.com/hawk31/pyGPGO" target ="_blank">https://github.com/hawk31/pyGPGO</a>
**Version:** 0.3.0.dev1
**Editor:** @arfon
**Reviewer:** @dfm
**Archive:** <a href="https://doi.org/10.5281/zenodo.1040676" target="_blank">10.5281/zenodo.1040676</a>

## Status

[![status](ht

[2017-10-16 15:30] whedon commented on #431
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @dfm it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably cu

[2017-10-16 15:30] arfon commented on #391
Thanks @dfm - see you over in #431 for the actual review.

[2017-10-16 16:00] zhangy6x commented on #407
@nicoguaro Were you able to run the unit test with `python -m pytest tests/`?

[2017-10-16 16:02] dfm commented on #431
@arfon: Does the PDF of the paper no longer get generated automatically?

[2017-10-16 21:07] arfon commented on #431
@dfm here you go: [10.21105.joss.00431.pdf](https://github.com/openjournals/joss-reviews/files/1389075/10.21105.joss.00431.pdf)

[2017-10-17 00:58] nicoguaro commented on #407
I was not. I obtain the following error

    _____________ ERROR collecting tests/ImagingReso/resonance_test.py _____________
    ../../anaconda2/lib/python2.7/site-packages/_pytest/python.py:418: in _importtestmodule
        mod = self.fspath.pyimport(ensuresyspath=importmode)
    ../../anaconda2/lib/python2.7/site-packages/py/_path/local.py:662: in pyimport
        __import__(modname)
    ../../

[2017-10-17 01:12] zhangy6x commented on #407
@nicoguaro I was able to reproduce your error. Could you please try to run it again under Python 3.6 instead of 2.7? If you would like, you could also find the test results on Travis (https://travis-ci.org/ornlneutronimaging/ImagingReso). The `tutorial.ipynb` in notebook dir can also be used to test all functionalities provided. Thanks.

[2017-10-17 04:19] danielskatz commented on #429
@jochym, @khinsen, @betatim, @kyleniemeyer, @dvalters, @arghdos, @jochym, @marksantcroos -- would any of you be willing to review this submission?

[2017-10-17 10:27] arfon commented on #412
@whedon set 10.5281/zenodo.1013318 as archive

[2017-10-17 10:27] whedon commented on #412
OK. <a href="http://dx.doi.org/10.5281/zenodo.1013318" target="_blank">10.5281/zenodo.1013318</a> is the archive.

[2017-10-17 10:34] arfon commented on #412
@selbouhaddani - many thanks for your review and to @mgymrek for editing this submission ✨

@pstegma - your paper is now accepted into JOSS and your DOI is http://dx.doi.org/10.21105/joss.00412 ⚡️ 🚀 💥

[2017-10-17 10:34] #412 closed

[2017-10-17 13:20] pstegma commented on #412
@selbouhaddani  @mgymrek  @arfon  Great news, we are very glad about the paper being accepted. Many thanks to everyone!

[2017-10-17 13:32] arghdos commented on #165
@kyleniemeyer @bmcage It definitely looks better, I just have a few comments on broken / missing links and I think it'll be good:

-  First, the link to the [API level docs](http://scikits-odes.readthedocs.io/en/latest/guide.html#lower-level-interfaces) in the lower level interfaces section appears to be offline.

-  Similarly a number of links (presumably) to the API-docs seem to be missing, e.g.

[2017-10-17 13:34] arfon commented on #414
@sealhuang - would you be willing to review this submission for JOSS?

[2017-10-17 15:07] yxqd commented on #422
@lheagy could you please check the expanded summary in [the revised paper](https://github.com/sns-chops/multiphonon/raw/da5a0097012df7679a8fc350f6949c9d095e0a3c/paper/paper.pdf)? The coverage badge were added to [the readme](https://github.com/sns-chops/multiphonon/blob/da5a0097012df7679a8fc350f6949c9d095e0a3c/README.md). Could you please find a reviewer for this paper? Thanks.

[2017-10-17 21:48] oesteban commented on #428
@kyleniemeyer @ljvmiranda921
I'd love reviewing this submission, but I'm pretty swamped right now. I could commit to get the review done in 3/4 weeks from now.

[2017-10-17 22:09] labarba commented on #306
Responses to reviewer comments in order of appearance:

We added a sentence in the README, with a link to the Developoer's Guide.

We thought about this, and decided that for now, this would be overkill, because we haven't had any contributors from outside the group. We'll revisit this in the future, as needed.

We updated the compatibility of dependencies for the latest versions of all our packag

[2017-10-17 22:50] stsievert commented on #428
Ditto. Give me another two weeks.

@ljvmiranda921 [hyperopt] and the [accompanying paper] might be of interest for the hyper-parameter optimization. Also, [dask-searchcv] might be of interest.

[hyperopt]:https://github.com/hyperopt/hyperopt
[accompanying paper]:https://papers.nips.cc/paper/4443-algorithms-for-hyper-parameter-optimization.pdf
[dask-searchcv]:https://github.com/dask/dask-searchcv

[2017-10-17 22:51] kyleniemeyer commented on #306
Thanks @labarba, looks good!

@katyhuff at this point I recommend accepting the submission.

[2017-10-17 23:10] nicoguaro commented on #407
@zhangy6x, I started from scratch. I removed the virtual environment and then installed it once again from the very beginning, this time using Python 3.6.

This is the result of the test (``python -m pytest tests/``):

    ============================= test session starts ==============================
    platform linux -- Python 3.6.2, pytest-3.2.1, py-1.4.34, pluggy-0.4.0
    rootdir: /home/ngu

[2017-10-17 23:41] ljvmiranda921 commented on #428
Sure, thanks for accepting to review @oesteban , @stsievert . I'd be waiting for your review at the time you've mentioned.

Okay, in the meantime I will check on the hyperparameter optimization libraries stsievert mentioned. It may be useful to add an adapter to one of those libraries in pyswarms.

Thanks a lot!

cc: @kyleniemeyer

[2017-10-18 00:17] zhangy6x commented on #407
@nicoguaro I wasn't able to reproduce this error. After reading the log, `['Co-59.csv', 'Co-58.csv'] != ['Co-58.csv', 'Co-59.csv']` and `['111-Ag', '110-Ag', '107-Ag', '109-Ag'] != ['107-Ag', '109-Ag', '110-Ag', '111-Ag']`, it looks like that the tests failed due to the descending sequence of the elements arranged in the lists returned. I noticed that you are using a Linux machine, so I added Linu

[2017-10-18 00:24] nicoguaro commented on #407
@zhangy6x, I also tried running the notebook in the repo, and obtained this:

    ---------------------------------------------------------------------------
    AttributeError                            Traceback (most recent call last)
    <ipython-input-25-7b2e6a77814b> in <module>()
    ----> 1 energy_UO3_U_238_angstroms = o_reso.convert_x_axis(array=energy_UO3_U_238U, from_units='ev', to_unit

[2017-10-18 00:29] aragilar commented on #165
The links should work once I get [doctr](https://drdoctr.github.io/doctr/index.html) set up. I've got a branch where I'm working on it, but I need to work out how best to integrate it with travis, how multiple versions should work etc. I'll post a link to the PR when it's ready.

[2017-10-18 00:36] zhangy6x commented on #407
@nicoguaro I am sorry, a while after submitting this code, function `o_reso.convert_x_axis` has been replaced by another keywords argument (`x_axis=`, 'energy' or 'lambda' or 'time' or 'number'. Type of x-axis.) in `o_reso.plot()` function. Could you please install the latest version of *ImagingReso* and use the notebook from the current repo to test? Sorry for any inconveniences.

[2017-10-18 02:43] nicoguaro commented on #407
I reinstalled ImagingReso and recloned the repo.

This is the test report:

    ============================= test session starts ==============================
    platform linux -- Python 3.6.3, pytest-3.2.1, py-1.4.34, pluggy-0.4.0
    rootdir: /home/nguarinz/workspace/ImagingReso, inifile:
    collected 61 items

    tests/ImagingReso/resonance_test.py ..F.................................

[2017-10-18 02:52] zhangy6x commented on #407
@nicoguaro Thanks a lot for reinstalling everything! This test error is same as the previous issue of descending arrangement of the elements in the lists returned `['Co-59.csv', 'Co-58.csv'] != ['Co-58.csv', 'Co-59.csv']` and `['111-Ag', '110-Ag', '107-Ag', '109-Ag'] != ['107-Ag', '109-Ag', '110-Ag', '111-Ag']`. This test works okay on my osx machine and linux on travis. I don't know why it failed

[2017-10-18 05:44] lheagy commented on #422
Thanks for the updates @yxqd!

[2017-10-18 05:45] lheagy commented on #422
👋 Hi @tacaswell and @bjmorgan, would you be willing to review this submission to JOSS?

[2017-10-18 06:21] daattali commented on #185
Review submitted https://github.com/lebebr01/highlightHTML/issues/5

[2017-10-18 08:42] sealhuang commented on #414
OK! I'd like to review this work @arfon
And I think I need a few more days to get familiar with the review procedure and finalize the review :)

[2017-10-18 09:02] cokelaer commented on #348
I've asked two contributors to update the metadata related to authorship. Let us wait a couple of days. thanks

[2017-10-18 11:12] schmeisser commented on #217
I have added some tests in the directory `ensight_lib/test` and 3 short command line examples in `ensight_lib/examples`.
For testing that writing works correctly the `write_file` example can be used, as it does exactly that. It includes reference data files of what the result should be. The output produced by the example can be verified to be correct by using a standard file `diff` tool to compare

[2017-10-18 15:26] arfon commented on #414
@whedon assign @sealhuang as reviewer

[2017-10-18 15:26] whedon commented on #414
OK, the reviewer is @sealhuang

[2017-10-18 15:26] arfon commented on #414
@whedon assign @arfon as editor

[2017-10-18 15:26] whedon commented on #414
OK, the editor is @arfon

[2017-10-18 15:26] arfon commented on #414
@whedon start-review magic-word=bananas

[2017-10-18 15:26] #414 closed

[2017-10-18 15:27] arfon commented on #414
@whedon start review magic-word=bananas

[2017-10-18 15:27] whedon opened #432 "[REVIEW]: Augmentor: An Image Augmentation Library for Machine Learning"
**Submitting author:** @mdbloice (<a href="http://orcid.org/0000-0002-2468-4086">Marcus Bloice</a>)
**Repository:** <a href="https://github.com/mdbloice/Augmentor" target ="_blank">https://github.com/mdbloice/Augmentor</a>
**Version:** v0.1.8
**Editor:** @arfon
**Reviewer:** @sealhuang
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1041946" target="_blank">10.5281/zenodo.1041946</a>

## St

[2017-10-18 15:27] whedon commented on #414
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/432. Feel free to close this issue now!

[2017-10-18 15:27] whedon commented on #432
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @sealhuang it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're proba

[2017-10-18 15:27] arfon commented on #432
@sealhuang - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: http://joss.theoj.org/about#reviewer_guidelines

Any questions/concerns please let me know.

[2017-10-18 15:28] arfon commented on #414
@sealhuang - please head over to https://github.com/openjournals/joss-reviews/issues/432 for the actual review issue.

[2017-10-18 16:34] JeanBilheux commented on #407
@nicoguaro I updated the code to force the sorting of the Isotopes files. This should allow the unit test to work on any platform.

[2017-10-18 16:57] nicoguaro commented on #407
@JeanBilheux, should I reinstall then?

    pip install --upgrade ImagingReso

would make the trick?

[2017-10-18 17:11] JeanBilheux commented on #407
it will in 10minutes... just the time to update the pypi library.

[2017-10-18 18:13] kyleniemeyer commented on #428
Hi @stsievert and @oesteban, thanks for agreeing to review! (Hopefully that's what you meant with those messages 😄). I'll get the actual review issue started, with @stsievert set as the "main" reviewer since he expects to get to it a bit sooner—but both of you can add comments. (JOSS currently only supports one official reviewer, though we hope to fix that soon.)

@ljvmiranda921 I appreciate your

[2017-10-18 18:13] kyleniemeyer commented on #428
@whedon assign @stsievert as reviewer

[2017-10-18 18:13] whedon commented on #428
OK, the reviewer is @stsievert

[2017-10-18 18:14] kyleniemeyer commented on #428
@whedon start review magic-word=bananas

[2017-10-18 18:14] whedon commented on #428
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/433. Feel free to close this issue now!

[2017-10-18 18:14] whedon opened #433 "[REVIEW]: PySwarms: a research toolkit for Particle Swarm Optimization in Python"
**Submitting author:** @ljvmiranda921 (<a href="http://orcid.org/0000-0002-7872-6464">Lester James Miranda</a>)
**Repository:** <a href="https://github.com/ljvmiranda921/pyswarms" target ="_blank">https://github.com/ljvmiranda921/pyswarms</a>
**Version:** v0.1.7
**Editor:** @kyleniemeyer
**Reviewer:** @stsievert
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1145432" target="_blank">10.528

[2017-10-18 18:14] whedon commented on #433
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @stsievert it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're proba

[2017-10-18 18:14] kyleniemeyer commented on #428
@stsievert @oesteban we'll hold the actual review over in #433

[2017-10-18 18:14] #428 closed

[2017-10-18 18:15] kyleniemeyer commented on #433
👋 @ljvmiranda921 @stsievert @oesteban

[2017-10-18 18:56] gboeing commented on #212
Hi @labarba just checking back on this. Is there an update on when JOSE will start receiving submissions?

[2017-10-18 19:14] labarba commented on #212
We're getting increasing number of enquiries about the launch of JOSE!
As you can see in this [issue](https://github.com/openjournals/joss/issues/329#issuecomment-336757238), we are close to having the infrastructure changes in JOSS to be re-usable for JOSE. (A couple more weeks?)

[2017-10-18 21:04] nicoguaro commented on #407
I needed to git pull the repository, but got the tests to pass. Below is the output

    ============================= test session starts ==============================
    platform linux -- Python 3.6.3, pytest-3.2.1, py-1.4.34, pluggy-0.4.0
    rootdir: /home/nguarinz/workspace/ImagingReso, inifile:
    collected 61 items

    tests/ImagingReso/resonance_test.py ................................

[2017-10-18 22:09] nicoguaro commented on #407
@zhangy6x, the tests are working now in my machine. I will add details of the review partially. Below are some comments:

- The project presents a statement of need of the software. Nevertheless, I think that it can be further improved for a wider audience.
- The project includes data in the repository. As far as I understand, the database is in the public domain, but I would like the authors to c

[2017-10-19 00:06] brainstorm commented on #418
Thanks much @vals for your review!

@bebatut At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-10-19 01:12] ljvmiranda921 commented on #428
Oops, sorry @kyleniemeyer 😓

[2017-10-19 01:45] kyleniemeyer commented on #428
@ljvmiranda921 no worries!

[2017-10-19 01:57] zhangy6x commented on #407
@nicoguaro Thanks a lot for your comments.

- We are very happy that you find this package could be further improved for a wider audience. When we started writing this package, it was mainly for simulating the resonance signal expected from neutron imaging measurement. Of course, we are happy to further improve it in later versions as you suggested.
- Yes, we did receive the positive reply from th

[2017-10-19 03:02] yxqd commented on #422
Thanks @lheagy !

[2017-10-19 03:29] stsievert commented on #428
Yup, that's what I meant (but can't get to it right away).

I also ran into this in #382. Hopefully it's fixed soon!

[2017-10-19 12:31] daviddoria commented on #217
@schmeisser Thanks - we're really close! A few things:

1) I'm not familiar with `qmake`, but the only way I could get the tests and examples to build was to copy the same Eigen directory into `INCLUDE_PATH` into both `EnsightLibTest.pro` and each of the examples .pro files (write_file.pro, etc.). Coming from CMake, that seems super annoying. Is there not a way to tell QMake at the top level "buil

[2017-10-19 13:05] JeanBilheux commented on #407
@nicoguaro

* Can you be more specific about "improve for a wider audience"? Do you mean X_ray community? other? What kind of improvements do you think about?
* Same thing for the "community guidelines", what is this?

[2017-10-19 14:18] nicoguaro commented on #407
@JeanBilheux

- I can try, at least. With wider audience I mean ... wider. I don't think that the software will be used by a person with zero knowledge of the topic. But if the description is good enough for any person to understand what is does, it does no harm. Of course, It is really difficult to write something that "any person" can understand, but I would bet for something broader than a spec

[2017-10-19 14:45] katyhuff commented on #306
Wonderful! Thanks @labarba @ncclementi and @kyleniemeyer !

@labarba and @ncclementi : Could you make an archive of the current version of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-10-19 15:48] arfon commented on #421
Hi @cdcrabtree. Firstly, apologies for leaving this in a state of limbo for a couple of weeks. I've been talking with the other editors about whether this software is 'in-scope' for JOSS.

We've decided that at this time, we're not accepting 'thin' API clients such as this one. You're probably aware of this opportunity but this package may be of interest to the [rOpenSci project](https://ropensci.

[2017-10-19 19:16] bovee commented on #378
Just checking in; is there anything we can do to help this submission along?

[2017-10-19 23:03] rgiordan commented on #425
The package is missing automated tests.

https://github.com/paulgovan/BayesianNetwork/issues/6

[2017-10-19 23:08] rgiordan commented on #425
@katyhuff

Sorry, this is the first time I've done this.  Where do I find the software paper?  I don't see it in the repo, nor in any of the issues or emails.

[2017-10-19 23:13] katyhuff commented on #425
@rgiordan Thanks for the question. This varies by repository. It looks like the paper for this one is at : https://github.com/paulgovan/BayesianNetwork/blob/master/inst/paper

[2017-10-20 02:19] arfon commented on #378
@bovee - apologies for the delay here. We're struggling a little to find an editor to handle this submission.

@pjotrp - any chance you'd be willing to edit this one?

[2017-10-20 04:48] rgiordan commented on #425
https://github.com/paulgovan/BayesianNetwork/issues/7

The author and affiliation are missing from ```paper.md```, and I feel that ```bnlearn``` could be given clearer credit for the underlying learning algorithms.

[2017-10-20 04:54] rgiordan commented on #425
https://github.com/paulgovan/BayesianNetwork/issues/8

The paper is missing references.

[2017-10-20 05:03] rgiordan commented on #425
I played around with the package, but there are many combinations of options so I didn't evaluate them exhaustively.  As such I'm not 100% sure what the standards are for "Functionality: Have the functional claims of the software been confirmed?"  I'll check it, but maybe @katyhuff can clarity the expectation are?

I would also feel more comfortable if there were unit tests.

[2017-10-20 05:05] rgiordan commented on #425
@katyhuff @paulgovan

This is very nice work!  It's a beautiful and, I imagine, usable interface to a powerful set of learning algorithms.  I think it is well worth publishing.  However, the reviewing standards are quite clear -- it needs automated tests, and if they are in there now, I can't see them.  I'd recommend acceptance as long as good tests can be added.

Is there anything else you need m

[2017-10-20 05:42] biorelated commented on #378
@arfon happy to edit this.

[2017-10-20 10:07] arfon commented on #378
🎉 thanks @biorelated

[2017-10-20 10:07] arfon commented on #378
@whedon assign @biorelated as editor

[2017-10-20 10:07] whedon commented on #378
OK, the editor is @biorelated

[2017-10-20 10:17] bebatut commented on #418
@brainstorm I will make an archive on Zenodo. But, because of the changes I made thanks to @vals, I was thinking about increasing the version. Is it possible?

[2017-10-20 10:36] brainstorm commented on #418
Yeah, make sure you include the changes proposed by Valentine and bump up the version ;)

[2017-10-20 13:58] katyhuff commented on #425
Thanks so much, @rgiordan, for your review. Great work!

The next step is for @paulgovan to look over the comments and issues you've created to make appropriate changes.

@rgiordan Regarding your question on the confirmation of the functional claims, we expect that the few claims of functionality in paper.md be checked by the reviewer to their satisfaction. This is where domain expertise comes in.

[2017-10-20 14:18] paulgovan commented on #425
@rgiordan, @katyhuff

Please reference [#6](https://github.com/paulgovan/BayesianNetwork/issues/6), [#7](https://github.com/paulgovan/BayesianNetwork/issues/7), and [#8](https://github.com/paulgovan/BayesianNetwork/issues/8). Working on unit tests, but this could take several days.

Thank you for the thorough review!

[2017-10-20 16:03] lheagy commented on #422
@yxqd: I have sent emails to @tacaswell and @bjmorgan asking if they are willing to review. If we haven't heard back early next week, we can reach out to other reviewers.

[2017-10-20 17:56] yxqd commented on #422
May I suggest some other potential reviewers: @khinsen, @betatim, @jochym ?

[2017-10-20 17:57] yxqd commented on #422
@lheagy Thanks!

[2017-10-20 19:20] agrignard commented on #290
Sure I am interesting to do that

[2017-10-20 19:24] Kevin-Mattheus-Moerman commented on #290
@whedon assign @agrignard as reviewer

[2017-10-20 19:24] whedon commented on #290
OK, the reviewer is @agrignard

[2017-10-20 19:25] Kevin-Mattheus-Moerman commented on #290
@whedon start review magic-word=bananas

[2017-10-20 19:25] whedon commented on #290
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/434. Feel free to close this issue now!

[2017-10-20 19:25] whedon opened #434 "[REVIEW]: Simulated Physics and Environment for Autonomous Risk Studies (SPEARS)"
**Submitting author:** @zmimlitz (<a href="http://orcid.org/0000-0001-5431-8362">Zac Mimlitz</a>)
**Repository:** <a href="https://github.com/Van-Bossuyt-Research-Lab/SPEARS_Simulator/" target ="_blank">https://github.com/Van-Bossuyt-Research-Lab/SPEARS_Simulator/</a>
**Version:** 3.0.5
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @agrignard
**Archive:** Pending

## Status

[![status](http://

[2017-10-20 19:25] whedon commented on #434
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @agrignard it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're proba

[2017-10-20 19:28] Kevin-Mattheus-Moerman commented on #434
@whedon assign @agrignard as reviewer

[2017-10-20 19:28] whedon commented on #434
OK, the reviewer is @agrignard

[2017-10-20 19:43] Kevin-Mattheus-Moerman commented on #290
@agrignard thanks for reviewing with JOSS!

@zmimlitz We've started the review process over at #434. I'll close this pre-review issue.

[2017-10-20 19:43] #290 closed

[2017-10-20 19:44] Kevin-Mattheus-Moerman commented on #434
@whedon assign @Kevin-Mattheus-Moerman as editor

[2017-10-20 19:44] whedon commented on #434
OK, the editor is @Kevin-Mattheus-Moerman

[2017-10-20 19:45] Kevin-Mattheus-Moerman commented on #434
@whedon assign @agrignard as reviewer

[2017-10-20 19:45] whedon commented on #434
OK, the reviewer is @agrignard

[2017-10-20 19:47] Kevin-Mattheus-Moerman commented on #434
Sorry for flooding this issue with editorial stuff. We are having some issues assigning the reviewer as he reported he could not tick the checkboxes at the top of this issue.

[2017-10-20 19:48] Kevin-Mattheus-Moerman commented on #434
@agrignard are you able to tick the boxes now?

[2017-10-20 19:49] Kevin-Mattheus-Moerman commented on #434
@arfon can you see what is wrong here? I am able to tick the boxes but the reviewer appears not to.

[2017-10-20 19:54] agrignard commented on #434
Ok it's working now

[2017-10-20 19:56] Kevin-Mattheus-Moerman commented on #434
Fantabulous! :tada: let the awesome open peer review process begin! Thanks again for agreeing to review. Let us know about your experience as a reviewer too.

[2017-10-20 21:16] bovee commented on #378
@arfon @biorelated Thanks!

[2017-10-20 22:12] anotherjoshsmith commented on #427
@cxhernandez I've opened [an issue](https://github.com/msmbuilder/mdentropy/issues/65) for the review. I've had no trouble with the functionality, and the documentation on the website was thorough enough for me to successfully test several of the convenience functions, information calculations, and feature metrics.

@arokem As soon as the installation issue for Python 2.7 is fixed, I think MDEntro

[2017-10-20 23:08] whedon opened #435 "[PRE REVIEW]: Masks2Metrics (M2M): A Matlab Toolbox for Gold Standard Morphometrics"
**Submitting author:** @smikhael (<a href="http://orcid.org/0000-0002-2490-9548">Shadia Mikhael</a>)
**Repository:** <a href="https://github.com/Edinburgh-Imaging/Masks2Metrics" target ="_blank">https://github.com/Edinburgh-Imaging/Masks2Metrics</a>
**Version:** v1.0
**Editor:** @cMadan
**Reviewer:** @Kevin-Mattheus-Moerman

**Author instructions**

Thanks for submitting your paper to JOSS @smikha

[2017-10-20 23:08] whedon commented on #435
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @cMadan it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-10-20 23:12] arfon commented on #435
👋🏻 @cMadan. The submitting author suggested you as an editor.

[2017-10-21 00:02] zhangy6x commented on #407
@nicoguaro Community guidelines have been added to README. Thanks.

[2017-10-21 08:48] bjmorgan commented on #422
@lheagy Happy to review.

[2017-10-21 17:35] lheagy commented on #422
Thanks @bjmorgan!

@tacaswell, @khinsen, @betatim, @jochym: would one of you be willing to be a second reviewer for this submission?

[2017-10-22 06:07] sealhuang commented on #432
I have completed the review, @arfon and @mdbloice.

The Augmentor package provides a convenient and flexible approach to generate new image samples via various operations. The package is particularly useful for generating batch of sample while training a deep learning model.

Overall I think this is a submission suited for the JOSS, and it meets the requirements for acceptance with a few exception

[2017-10-22 13:15] bebatut commented on #418
The release is: 0.2.0
Its DOI: 10.5281/zenodo.1034619

[2017-10-22 14:15] brainstorm commented on #418
@whedon set 10.5281/zenodo.1034619 as archive

[2017-10-22 14:15] whedon commented on #418
OK. <a href="http://dx.doi.org/10.5281/zenodo.1034619" target="_blank">10.5281/zenodo.1034619</a> is the archive.

[2017-10-22 15:11] bebatut commented on #418
@whedon set 0.2.0 as version

[2017-10-22 15:12] bebatut commented on #418
(I am trying...)

[2017-10-22 22:28] cMadan commented on #435
@smikhael, this looks like a great submission! Do you have any suggestions on who would be a suitable reviewer?

[2017-10-22 23:08] yxqd commented on #422
Thank you @bjmorgan @lheagy !

[2017-10-23 08:31] marksantcroos commented on #429
@danielskatz I was offline for a week. Will do an assessment whether I'm qualified for review today or tomorrow.

[2017-10-23 09:59] smikhael commented on #435
Thank you @cMadan! I would suggest either @sealhuang or @arokem as a suitable reviewer. I look forward to everyone's feedback.

[2017-10-23 11:44] brainstorm commented on #418
@whedon commands

[2017-10-23 11:44] whedon commented on #418
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-10-23 11:45] brainstorm commented on #418
@arfon I guess that indicating a new version does require a new DOI? I don't know what's the status of that discussion I'm afraid :-S

[2017-10-23 12:09] bebatut commented on #418
Which DOI? Because the DOI for the archive is currently for the new version.

[2017-10-23 13:08] Kevin-Mattheus-Moerman commented on #435
I can help review this too. :hand:

[2017-10-23 13:28] smikhael commented on #435
@Kevin-Mattheus-Moerman , I am happy with that if you are available to assist. Thank you.

[2017-10-23 14:03] Kevin-Mattheus-Moerman commented on #300
@moorepants great. Thanks for the update.

[2017-10-23 15:25] lebebr01 commented on #185
Thank you, appreciate the review and thoughtful comments. I'll work through these and post a response/changes in the coming weeks.

[2017-10-23 18:16] cokelaer commented on #348
@arfon  @eteq

I have added one additional author in the paper following public discussion at https://github.com/cokelaer/spectrum/issues/41. I believe we are ready to proceed.

[2017-10-23 19:31] kyleniemeyer commented on #311
Hi @pboesu are you still able to review this? If not, no worries, I will find a new reviewer.

[2017-10-23 22:05] danielskatz commented on #400
Hi @BenLauwens - just checking on this...  Is there any update?

[2017-10-24 06:40] BenLauwens commented on #400
Hi @danielskatz. I updated the documentation as proposed by @gasagna and I modified one line of code so that the behaviour of the iterator created by an `@resumable function` is in line with the already existing iterators in Julia.
One issue remains that is documented both in the README and the tutorial. Parametrised `@resumable functions` are not supported yet. The implementation of this feature

[2017-10-24 09:57] danielskatz commented on #400
@gasagna - what do you think?

[2017-10-24 16:07] cMadan commented on #435
Great! Let's go with @Kevin-Mattheus-Moerman then :)

[2017-10-24 16:07] cMadan commented on #435
@whedon assign @Kevin-Mattheus-Moerman as reviewer

[2017-10-24 16:07] whedon commented on #435
OK, the reviewer is @Kevin-Mattheus-Moerman

[2017-10-24 16:07] cMadan commented on #435
@whedon start review

[2017-10-24 16:07] whedon commented on #435
You didn't say the magic word! Try this:

[code]

[2017-10-24 16:07] cMadan commented on #435
@whedon start review magic-word=bananas

[2017-10-24 16:07] whedon opened #436 "[REVIEW]: Masks2Metrics (M2M): A Matlab Toolbox for Gold Standard Morphometrics"
**Submitting author:** @smikhael (<a href="http://orcid.org/0000-0002-2490-9548">Shadia Mikhael</a>)
**Repository:** <a href="https://github.com/Edinburgh-Imaging/Masks2Metrics" target ="_blank">https://github.com/Edinburgh-Imaging/Masks2Metrics</a>
**Version:** v1.0
**Editor:** @cMadan
**Reviewer:** @Kevin-Mattheus-Moerman
**Archive:** <a href="http://dx.doi.org/10.7488/ds/2302" target="_blank">1

[2017-10-24 16:07] whedon commented on #435
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/436. Feel free to close this issue now!

[2017-10-24 16:07] whedon commented on #436
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @Kevin-Mattheus-Moerman it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer,

[2017-10-24 17:33] Kevin-Mattheus-Moerman commented on #436
@smikhael I've started the review process. I've a couple of points before I dive any deeper.

I opened an issue in relation to [contributing guidelines](https://github.com/Edinburgh-Imaging/Masks2Metrics/issues/1) and one about [help/documentation and adding a "getting started" section to the readme.md](https://github.com/Edinburgh-Imaging/Masks2Metrics/issues/2).

The former issue is a recommenda

[2017-10-24 17:40] danilofreire commented on #361
Hi @benmarwick and @karthik! I would like to kindly ask you whether there is anything we should do to continue the reviewing process. My co-author and I are happy to address any further comments the editors may have. Many thanks!

[2017-10-24 17:41] Kevin-Mattheus-Moerman commented on #436
Is there a DOI for the Bauer_2013 reference? Perhaps remove the self citation in the paper (Mikhael_2017) to the github link of this project, or replace it by reference/DOI to an archive (e.g. ZENODO) once an initial release is created.

[2017-10-24 18:43] arfon commented on #348
@cokelaer - thanks for the update. Could you please merge this PR with some small fixes https://github.com/cokelaer/spectrum/pull/43 ? Also, please make sure you're citing the entries in your `paper.bib` file correctly (looks like they need a `@` before the bibtex key) otherwise they won't be compiled into the final PDF. You can read how to do that [here](http://rmarkdown.rstudio.com/authoring_bib

[2017-10-24 18:52] arfon commented on #418
@vals - many thanks for your review and to @brainstorm for editing this submission ✨

@bebatut - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00418 ⚡️ 🚀 💥

[2017-10-24 18:52] #418 closed

[2017-10-24 18:59] arfon commented on #432
@sealhuang - many thanks for the review and your thoughtful comments ✨ . @mdbloice - over to you for your responses.

[2017-10-24 19:01] arfon commented on #399
@betatim - any chance you could help us with this submission?

[2017-10-24 21:58] arfon commented on #328
This submission is rejected due to the author going AWOL.

[2017-10-24 21:58] #328 closed

[2017-10-24 22:01] arfon commented on #251
Friendly reminder on this @offray.

[2017-10-24 23:16] nicoguaro commented on #407
@arokem, any guidelines regarding formatting?

[2017-10-25 00:48] offray commented on #251
Hi @arfon.

Its strange. I had answered by mail send on 04/10/17, but seems that the answer never came. Here it is again:

========

Here are the two files:
- http://mutabit.com/repos.fossil/grafoscopio/doc/tip/Docs/En/Papers/JOSS/paper.md
- http://mutabit.com/repos.fossil/grafoscopio/doc/tip/Docs/En/Papers/JOSS/paper.bib

Cheers,

========

[2017-10-25 02:47] arfon commented on #251
Thanks @offray. Unfortunately I'm not able to get a 'clean' version of http://mutabit.com/repos.fossil/grafoscopio/doc/tip/Docs/En/Papers/JOSS/paper.md as the website seems to be adding HTML tags to the content. Could you please email me a tarball or something similar of the complete repository to arfon.smith@gmail.com?

[2017-10-25 04:07] arfon commented on #19
@maelle thanks for all of your help here. This submission has been rejected due to the author going AWOL.

[2017-10-25 04:07] #19 closed

[2017-10-25 05:01] bebatut commented on #418
Thanks @vals for the reviews, @brainstorm for editing and @arfon globally

[2017-10-25 05:06] maelle commented on #19
No problem!

[2017-10-25 06:08] marksantcroos commented on #429
@whedon start review

[2017-10-25 06:08] whedon commented on #429
I'm sorry @marksantcroos, I'm afraid I can't do that. That's something only JOSS editors are allowed to do.

[2017-10-25 06:09] marksantcroos commented on #429
@danielskatz I can take the review.

[2017-10-25 08:29] danielskatz commented on #429
Thanks @marksantcroos

[2017-10-25 08:30] danielskatz commented on #429
@whedon assign @marksantcroos as reviewer

[2017-10-25 08:30] whedon commented on #429
OK, the reviewer is @marksantcroos

[2017-10-25 08:30] danielskatz commented on #429
@whendon start review magic-word=bananas

[2017-10-25 08:31] danielskatz commented on #429
@whedon start review magic-word=bananas

[2017-10-25 08:31] whedon opened #437 "[REVIEW]: Parallel and Adaptive High-Dimensional Numerical Integration"
**Submitting author:** @iljah (<a href="http://orcid.org/0000-0002-9542-5866">Ilja Honkonen</a>)
**Repository:** <a href="https://github.com/iljah/hdintegrator" target ="_blank">https://github.com/iljah/hdintegrator</a>
**Version:** 0.1
**Editor:** @danielskatz
**Reviewer:** @marksantcroos
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1116815" target="_blank">10.5281/zenodo.1116815</a>

#

[2017-10-25 08:31] whedon commented on #429
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/437. Feel free to close this issue now!

[2017-10-25 08:31] whedon commented on #437
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @marksantcroos it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're p

[2017-10-25 08:31] #429 closed

[2017-10-25 08:34] danielskatz commented on #437
@marksantcroos - this is ready for you to review.

An informal guideline is that we would like your review in 2 weeks, but sooner (or later) are also ok.

Please carry out your review in this issue by updating the checklist above (please make sure you're logged in to GitHub)

The reviewer guidelines are available here: http://joss.theoj.org/about#reviewer_guidelines

Please avoid lengthy details o

[2017-10-25 11:37] smikhael commented on #436
That's excellent. Thank you @cMadan  and @Kevin-Mattheus-Moerman for agreeing to be the editor and reviewer.
So far I have (1) added a doi and url for the Bauer_2013 reference (and will replace the self citation by a doi once an initial release is created, as suggested), and (2) added a 'getting started' section to the home page as well as links to the tutorial and workflow on both that page and t

[2017-10-25 11:49] cokelaer commented on #348
@arfon should be fixed now.

[2017-10-25 17:44] haythamfayek commented on #413
Ping @cMadan @nirum :)

[2017-10-25 18:00] nirum commented on #413
Apologies I’ve been swamped with other work—but I am planning on getting to this by the end of the week!

[2017-10-25 18:11] Kevin-Mattheus-Moerman commented on #299
@kippkitts are you able to start the review process? If not let me know so I can find a different reviewer.

[2017-10-25 18:36] arfon commented on #348
Thanks @cokelaer. At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-10-25 22:01] whedon opened #438 "[PRE REVIEW]: FullSWOF: Full Shallow-Water equations for Overland Flow"
**Submitting author:** @ (<a href="http://orcid.org/0000-0003-1700-4553">Carine Lucas</a>)
**Repository:** <a href="http://www.univ-orleans.fr/mapmo/soft/FullSWOF/" target ="_blank">http://www.univ-orleans.fr/mapmo/soft/FullSWOF/</a>
**Version:** v1.07.00
**Editor:** @kyleniemeyer
**Reviewer:** @wkearn

**Author instructions**

Thanks for submitting your paper to JOSS @. The JOSS editor (shown at

[2017-10-25 22:01] whedon commented on #438
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @kyleniemeyer it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-10-25 22:01] arfon commented on #438
👋 @kyleniemeyer - the submitting author suggested you as the editor.

[2017-10-25 22:02] whedon opened #439 "[PRE REVIEW]: mpnum: A matrix product representation library for Python"
**Submitting author:** @dseuss (<a href="http://orcid.org/0000-0002-6354-457X">Daniel Suess</a>)
**Repository:** <a href="https://github.com/dseuss/mpnum" target ="_blank">https://github.com/dseuss/mpnum</a>
**Version:** v1.0.0
**Editor:** @labarba
**Reviewer:** @SylvainCorlay

**Author instructions**

Thanks for submitting your paper to JOSS @dseuss. The JOSS editor (shown at the top of this issu

[2017-10-25 22:02] whedon commented on #439
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @labarba it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-10-25 22:03] arfon commented on #439
👋 @labarba - the submitting author suggested you as the editor.

[2017-10-26 01:02] yxqd commented on #422
:wave: @lheagy is second reviewer required?

[2017-10-26 02:47] lheagy commented on #422
@yxqd, sorry for the delay. It is preferable to have multiple reviewers, and is important here, as I really don't have much background in condensed matter physics.

I have sent emails to @tacaswell,  @betatim, @jochym (I couldn't find an email for @khinsen). If you know them personally and would also like to send an email, please feel free to point them to this issue. My email is lheagy@eos.ubc.ca

[2017-10-26 12:22] cokelaer commented on #348
@arfon, zenodo was already setup. I just have tag a new release https://github.com/cokelaer/spectrum/releases that is now also on zenodo with the following DOI: https://doi.org/10.5281/zenodo.1037268

[2017-10-26 12:53] SergeStinckwich commented on #251
Yes same problem here @offray I have a mix of markup with your website ...

[2017-10-26 15:31] dseuss commented on #439
Thanks for getting this started. I would suggest @nicoguaro, @khinsen, or @jochym for potentially reviewing this submission.

[2017-10-26 16:54] offray commented on #251
@arfon @SergeStinckwich  The Fossil default Markdown view as HTML is getting into the way. This links allow you to see the last versions of paper.md and paper.bib:

- md file: http://mutabit.com/repos.fossil/grafoscopio/raw/Docs/En/Papers/JOSS/paper.md?name=92f33ca0c58b055b66e7715e7c33c930896166f0
- bib file: http://mutabit.com/repos.fossil/grafoscopio/finfo?name=Docs/En/Papers/JOSS/paper.bib

Let

[2017-10-26 18:05] arfon commented on #348
@whedon set 10.5281/zenodo.1037268 as archive

[2017-10-26 18:05] whedon commented on #348
OK. <a href="http://dx.doi.org/10.5281/zenodo.1037268" target="_blank">10.5281/zenodo.1037268</a> is the archive.

[2017-10-26 18:16] arfon commented on #348
@eteq - many thanks for your review here ✨

@cokelaer - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00348 ⚡️ 🚀 💥

[2017-10-26 18:16] #348 closed

[2017-10-26 20:22] arfon commented on #251
@offray - that should work ok. Also, could you share a direct link to the image in a paper (side-by-side.png)?

Finally, could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-10-26 21:41] moorepants commented on #300
A couple of questions:

- What is the recommended way to put tables in the paper.md file?
- How do we check that the bibliography renders correctly?

[2017-10-26 22:05] arfon commented on #300
@moorepants - the command we run is here: https://github.com/openjournals/whedon/blob/master/lib/whedon/processor.rb#L173

Looks like there's a small issue with your bibliography:

[code]

I'm not sure sorry but the current table looks a bit wonky: [10.21105.joss.00300.pdf](https://github.com/openjournals/joss-reviews/files/1420197/10.21105.joss.00300.pdf)

Do any of the @openjournals/joss-editors

[2017-10-26 22:44] cokelaer commented on #348
brilliant thanks a lot for the review

On 26 October 2017 at 20:16, Arfon Smith <notifications@github.com> wrote:

[2017-10-26 23:12] karthik commented on #361
Hi @danilofreire
Sorry for the delay.  @benmarwick will need to check off the items on the list above and give me a green light before I can do a final check and proceed with accepting.

Ben: Can you check off the appropriate boxes? 🙏

[2017-10-27 00:30] moorepants commented on #300
I wasn't sure if there was a spec for making tables in markdown so I made an restructuredtext table and just wrapped in in markdown literal ticks for the time being. I knew it would render as is.

Is there a simple way to run that command on my computer? I'm not familiar with Ruby.

[2017-10-27 06:48] jochym commented on #422
@lheagy I'll be willing to review the paper. I do not have much of experience on experimental side but I have a background in phonon calculations - I am a theoretician. This would be my first paper at joss (I already know the http://joss.theoj.org/about#reviewer_guidelines ). What should be the next steps?

[2017-10-27 12:25] lheagy commented on #422
Thanks @bjmorgan and @jochym for agreeing to review! I will close this issue and we will start a new issue that includes a checklist for the review. There is only one checklist, so please feel free to communicate back and forth on the issue if there are items to discuss and please don't hesitate to let me know if you have questions

[2017-10-27 12:26] lheagy commented on #422
@whedon assign @bjmorgan as reviewer

[2017-10-27 12:27] whedon commented on #422
OK, the reviewer is @bjmorgan

[2017-10-27 12:27] lheagy commented on #422
@whedon start review magic-word=bananas

[2017-10-27 12:27] whedon opened #440 "[REVIEW]: Multiphonon: Phonon Density of States tools for Inelastic Neutron Scattering Powder Data"
**Submitting author:** @Yxqd (<a href="http://orcid.org/0000-0001-9233-0100">Jiao Lin</a>)
**Repository:** <a href="https://github.com/sns-chops/multiphonon" target ="_blank">https://github.com/sns-chops/multiphonon</a>
**Version:** 0.1.1
**Editor:** @lheagy
**Reviewer:** @bjmorgan
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1162402" target="_blank">10.5281/zenodo.1162402</a>

## Status

[2017-10-27 12:27] whedon commented on #422
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/440. Feel free to close this issue now!

[2017-10-27 12:27] whedon commented on #440
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @bjmorgan it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probab

[2017-10-27 12:27] #422 closed

[2017-10-27 12:37] lheagy commented on #440
@bjmorgan, @jochym this is ready for you to review.

An informal guideline is that we would like your review in 2 weeks, but sooner (or later) are also ok.

Please carry out your review in this issue by updating the checklist above (please make sure you're logged in to GitHub). There is only one checklist, so please feel free to converse in this issue on the checklist items.

The reviewer guidelin

[2017-10-27 13:14] Kevin-Mattheus-Moerman commented on #300
@arfon obviously we could use [Markdown](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#tables ), [HTML](https://www.w3schools.com/html/html_tables.asp), or [LATEX](https://en.wikibooks.org/wiki/LaTeX/Tables) tables. But I'm not sure how the process of creating the PDF handles these. Does normal Markdown table stuff work?

| Tables        | Are           | Cool  |
| -------------

[2017-10-27 13:36] moorepants commented on #300
So Github flavored markdown has the table support that you sow above: https://help.github.com/articles/organizing-information-with-tables/, but this isn't in all markdown flavors. It isn't clear to me in the ruby code which flavor of markdown is being used. Pandoc can process a number of them apparently.

[2017-10-27 17:36] jochym commented on #440
Pardon my stupid question @lheagy , but where is the PDF of the paper? I can see the repo but I cannot locate proper text of the paper.

[2017-10-27 17:41] lheagy commented on #440
Hi @jochym, the paper is here: https://github.com/sns-chops/multiphonon/tree/master/paper. There is a markdown, which renders nicely on github, and @yxqd also included a pdf in that same folder

[2017-10-27 17:43] jochym commented on #440
Thanks. Did I miss something in guidelines? Is this supposed to be standard location?

[2017-10-27 18:03] lheagy commented on #440
You are welcome! It is supposed to be in a standard location (in a paper folder at the root of the repository), however, we don't have this clearly documented in the reviewer guidelines or at the top of the issue. I have started an issue at openjournals/joss#351 so we can clarify that for reviewers

[2017-10-27 18:03] offray commented on #251
@arfon  Done. The last version of `paper.md`, including the absolute path to the image is in [1]. The Zenodo DOI is https://doi.org/10.5281/zenodo.1038147, as published in [2]

[1] http://mutabit.com/repos.fossil/grafoscopio/raw/Docs/En/Papers/JOSS/paper.md?name=476551488ea47ba683c56db3df9667dcb97cd825
[2] https://zenodo.org/record/1038147#.WfN04nXRZnI

[2017-10-27 19:52] pboesu commented on #311
I am so sorry about the delay on this, this somehow slipped through the cracks on my end. I will start on the review today and should be able to finish it this weekend.

Can you please trigger whedon to open the review issue @kyleniemeyer ?

[2017-10-27 21:01] arfon commented on #311
@whedon set @pboesu as reviewer

[2017-10-27 21:01] arfon commented on #311
@whedon assign @pboesu as reviewer

[2017-10-27 21:01] whedon commented on #311
OK, the reviewer is @pboesu

[2017-10-27 21:02] arfon commented on #311
@whedon start review magic-word=bananas

[2017-10-27 21:02] #311 closed

[2017-10-27 21:02] whedon opened #441 "[REVIEW]: Hytool: an open source matlab toolbox for the interpretation of hydraulic tests using analytical solutions"
**Submitting author:** @philipperenard (<a href="http://orcid.org/0000-0003-4504-435X">Philippe Renard</a>)
**Repository:** <a href="https://github.com/UniNE-CHYN/hytool" target ="_blank">https://github.com/UniNE-CHYN/hytool</a>
**Version:** 2.05
**Editor:** @kyleniemeyer
**Reviewer:** @pboesu
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1045538" target="_blank">10.5281/zenodo.1045538</a

[2017-10-27 21:02] whedon commented on #311
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/441. Feel free to close this issue now!

[2017-10-27 21:02] whedon commented on #441
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @pboesu it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probably

[2017-10-27 21:02] arfon commented on #311
@pboesu - I've started the review for you over in #441

[2017-10-27 21:18] arfon commented on #251
@whedon set 10.5281/zenodo.1038147 as archive

[2017-10-27 21:18] whedon commented on #251
OK. <a href="http://dx.doi.org/10.5281/zenodo.1038147" target="_blank">10.5281/zenodo.1038147</a> is the archive.

[2017-10-27 21:36] arfon commented on #251
@SergeStinckwich - many thanks for your review here ✨

@offray - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00251 ⚡️ 🚀 💥

[2017-10-27 21:36] #251 closed

[2017-10-27 21:59] offray commented on #251
@arfon @SergeStinckwich thank you both for this!

[2017-10-27 22:04] offray commented on #251
Upps... a Minor Issue. My family name should be just "Luna", or "Luna Cárdenas" (not "Cárdenas"). As usual in Latin American countries, your family name is composed from your father's family name ("Luna")  and your mother's family name ("Cárdenas").

[2017-10-27 22:09] kyleniemeyer commented on #311
@pboesu thanks!

[2017-10-28 19:54] arfon commented on #251
No problem. I've updated the paper and the website to "Luna Cárdenas".

[2017-10-28 21:31] lheagy commented on #440
@tacaswell has also agreed to help with the review. Thanks!!

[2017-10-28 21:36] stsievert commented on #433
I've looked this over briefly today, and here's some comments:

* I didn't see a statement of need that clearly addressed the audience. Is the audience swarm intelligence researchers? Other uses of neural nets that would some other optimization algorithm?
* Particle Swarm Optimization is mentioned many times, but I've never heard of it. Is be used in place of sklearn's GridSearch (i.e., is it usef

[2017-10-28 22:43] arfon commented on #300
[code]

The command above is just passing a bunch of variables in but it's a normal(ish) pandoc command so if you have pandoc installed locally you should be able to do something like:

[code]
...where the `latex.template` is [this file](https://github.com/openjournals/whedon/blob/master/resources/latex.template). I'm also happy to try compiling the document a few times with you if you want to deb

[2017-10-29 00:46] whedon opened #442 "[PRE REVIEW]: DynamicalBilliards.jl : An easy-to-use, modular and extendable Julia package for Dynamical Billiard systems in two dimensions."
**Submitting author:** @Datseris (<a href="http://orcid.org/0000-0002-6427-2385">George Datserus</a>)
**Repository:** <a href="https://github.com/JuliaDynamics/DynamicalBilliards.jl" target ="_blank">https://github.com/JuliaDynamics/DynamicalBilliards.jl</a>
**Version:** v1.6.1
**Editor:** @kyleniemeyer
**Reviewer:** @ahwillia

**Author instructions**

Thanks for submitting your paper to JOSS @Dat

[2017-10-29 00:46] whedon commented on #442
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-10-29 00:46] whedon opened #443 "[PRE REVIEW]: Missingno: a missing data visualization suite"
**Submitting author:** @ResidentMario (<a href="http://orcid.org/0000-0002-0066-5825">Aleksey Bilogur</a>)
**Repository:** <a href="https://github.com/ResidentMario/missingno" target ="_blank">https://github.com/ResidentMario/missingno</a>
**Version:** 0.3.7
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @rhiever

**Author instructions**

Thanks for submitting your paper to JOSS @ResidentMario.

[2017-10-29 00:46] whedon commented on #443
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-10-29 03:40] ljvmiranda921 commented on #433
Hi @stsievert ,

Thank you so much for your comments.

An aside, PSO is a class of search algorithms that can be used to optimize functions even if they're differentiable or not. This library provides implementations of these algorithms that should solve any optimization problem. Of course, the performance will depend on the PSO parameters (you can control if the particles are independent from one

[2017-10-29 08:17] Datseris commented on #442
@whedon commmands

[2017-10-29 09:51] Datseris commented on #442
@whedon commands

[2017-10-29 09:51] whedon commented on #442
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-10-29 09:52] Datseris commented on #442
@whedon list reviewers

[2017-10-29 09:52] whedon commented on #442
Here's the current list of JOSS reviewers: https://bit.ly/joss-reviewers

[2017-10-29 09:54] Datseris commented on #442
@whedon assign @ChrisRackauckas as reviewer

[2017-10-29 09:54] whedon commented on #442
I'm sorry @Datseris, I'm afraid I can't do that. That's something only JOSS editors are allowed to do.

[2017-10-29 09:54] Datseris commented on #442
Cool. So now I guess I just wait.

[2017-10-29 16:10] offray commented on #251
Thanks.

[2017-10-29 17:11] stsievert commented on #433
Thanks – that clears this up. I don't think the above is expressed clearly in your docs. I would like to see the same sentence, maybe with "high-level interface" expanded.

It does! Thank you.

[hyperband]:http://people.eecs.berkeley.edu/~kjamieson/hyperband.html

[2017-10-29 18:04] whedon opened #444 "[PRE REVIEW]: PolaronMobility.jl: Implementation of the Feynman variational polaron model"
**Submitting author:** @jarvist (<a href="http://orcid.org/0000-0003-1938-4430">Jarvist Moore Frost</a>)
**Repository:** <a href="https://github.com/jarvist/PolaronMobility.jl" target ="_blank">https://github.com/jarvist/PolaronMobility.jl</a>
**Version:** ArXiv-v4
**Editor:** @lheagy
**Reviewer:** @yxqd

**Author instructions**

Thanks for submitting your paper to JOSS @jarvist. The JOSS editor (

[2017-10-29 18:04] whedon commented on #444
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-10-29 19:42] gasagna commented on #400
I think this is OK. There are a few missing checks in my reviews, but these are not blocking acceptance. Just additional edits to the docs that the author might wish to add.

[2017-10-29 20:00] jarvist commented on #444
@whedon commands

[2017-10-29 20:00] whedon commented on #444
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-10-29 20:09] jarvist commented on #444
From your list of available reviewers:
@jochym and @khinsen both have more than sufficient electronic structure background to understand where these codes are coming from, but do not list any Julia experience. The codes aren't that complex, or use that specific language features (metaprogramming etc.), but it might be nice to have some expertise & feedback from scientific Julia users, in how to (r

[2017-10-29 23:06] arokem commented on #407
@nicoguaro : do you mean the formatting of the paper? Or the community guidelines?

Also, @zhangy6x : I noticed that you have added a notice of copyright to the paper. Could you please explain what it means, and why you need it? We usually license these articles under a Creative Commons license, and this might be in conflict (?)

[2017-10-29 23:11] arokem commented on #407
In particular, JOSS does not claim any copyright, and the work published is licensed under CC-BY.
That means that *anyone* can reproduce the work (under the CC-BY license), and you can especially do so because you retain copyright on the work.

So - would you mind removing that notice of copyright please?

Other than that - I think that the paper is formatted as needed

[2017-10-29 23:36] nicoguaro commented on #407
@arokem, no, I was referring to the code. Is it okay to suggest to make some changes regarding formatting?

[2017-10-30 02:29] paulgovan commented on #425
@rgiordan, @katyhuff

Please see my changes referenced in the issues above. Let me know if you have any questions.

[2017-10-30 03:22] ljvmiranda921 commented on #433
Thank you @stsievert . Unfortunately, I'm on a trip so I might be able to handle this on Thursday, (UTC+09 :00).

[2017-10-30 07:27] leeper commented on #408
@virgesmith I see there are still a few open review issues. How are things progressing?

[2017-10-30 07:31] leeper commented on #416
@jsta Would you be interested in reviewing this?

[2017-10-30 10:03] virgesmith commented on #408
@leeper: I've addressed issues raised so far by @jrnold. Two are still open: #15 (split into 2 packages), because in my opinion this isn't a good idea (I've explained my position), and #14 (release tag) as I wanted to leave this until all other issues were resolved. I'm really waiting for @jrnold to respond on these (and any further issues he wants to raise)

[2017-10-30 12:40] danielskatz commented on #400
@gasagna - we do want to see all the boxes checked before we accept.  For example, for performance, the description is

So please check off everything you can, and if you don't feel you can check something off, please explain what you think is needed in order that you could do so.

[2017-10-30 12:41] danielskatz commented on #437
Hi @marksantcroos - Any news on this?

[2017-10-30 12:58] biorelated commented on #409
@whedon commands

[2017-10-30 12:58] whedon commented on #409
Here are some things you can ask me to do:

[code]

:construction: **Important** :construction:

This is all quite new. Please make sure you check the top of the issue after running a @whedon command (you might also need to refresh the page to see the issue update).

[2017-10-30 12:58] biorelated commented on #409
@whedon assign @nelkibs as reviewer

[2017-10-30 12:58] whedon commented on #409
OK, the reviewer is @nelkibs

[2017-10-30 13:02] biorelated commented on #409
@whedon start review

[2017-10-30 13:02] whedon commented on #409
You didn't say the magic word! Try this:

[code]

[2017-10-30 13:02] biorelated commented on #409
@whedon start review magic-word=bananas

[2017-10-30 13:02] whedon opened #445 "[REVIEW]: CytobankAPIstats: Computes Signaling and Population Statistics for Cytometry Data on Cytobank using 'CytobankAPI'"
**Submitting author:** @athrom (<a href="http://orcid.org/0000-0001-6689-7904">Allison Throm</a>)
**Repository:** <a href="https://github.com/athrom/CytobankAPIstats" target ="_blank">https://github.com/athrom/CytobankAPIstats</a>
**Version:** v1.0
**Editor:** @pjotrp
**Reviewer:** @nelkibs
**Archive:** <a href="https://doi.org/10.5281/zenodo.2583300" target="_blank">10.5281/zenodo.2583300</a>

##

[2017-10-30 13:02] whedon commented on #409
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/445. Feel free to close this issue now!

[2017-10-30 13:02] whedon commented on #445
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS. @nelkibs it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As as reviewer, you're probabl

[2017-10-30 13:14] #409 closed

[2017-10-30 13:45] gasagna commented on #400
@danielskatz The text in italic in my check list explains it already. My comments are suggestions to improve the docs that the author might wish to take into account. These are not acceptance-blocking.

[2017-10-30 13:50] danielskatz commented on #400
Thanks @gasagna, but as I said, we will not move ahead until all boxes are checked.  Can I suggest that rather than altering the list, you check the items (since you say that they are not blockers) and make the comments in italics issues that you open in the author's package?

Remember that if this was a normal review (where you could check the boxes on the top of the issue), you would not be able

[2017-10-30 14:00] gasagna commented on #400
Done! All boxes have been checked, and an issue has been opened in the repo, as you suggested.

[2017-10-30 14:21] danielskatz commented on #400
@arfon - Please go ahead with the acceptance process now

[2017-10-30 14:21] yxqd commented on #440
@lheagy @bjmorgan @jochym @tacaswell thank you all

[2017-10-30 15:24] dfm commented on #431
We're getting close here, but I have three remaining issues:

1. The installation instructions should discuss the required and optional dependencies (e.g. pymc3).
2. The statement of need in the paper is pretty weak. Right now, there isn't any explicit discussion of why Bayesian optimization is preferred over other methods or why pyGPGO is needed when there are other existing packages.
3. The fina

[2017-10-30 15:36] CBenghi commented on #395
@arfon,
I've tried with no luck to get a suitable reviewer, but I'm not finding it easy.

I'll propose a different path.
I can take you (or your preferred editor) through the hurdles of the .Net technology for the review of Xbim.Essentials and thereafter I'll take care of any other .Net reviews that might be submitted.

All it takes is a Windows machine, and a little time. Visual Studio is free an

[2017-10-30 17:05] hawk31 commented on #431
Hi @dfm @arfon !

I'm currently addressing these issues:

1. Both `pyMC3` and `theano` are now both _required_ dependencies for `pyGPGO`. While most of the package functionality is not affected by these dependencies (that is, everything that is not MCMC sampling dependent) the installation procedure is significantly simplified to a simple `pip install pyGPGO`.

2. I've updated the `paper.md` and `

[2017-10-30 17:37] dfm commented on #431
Cool. Much better! It might be worth *listing* these dependancies somewhere so that users know what it is being used under the hood.

[2017-10-30 18:01] stsievert commented on #433
No worries – take your time!

[2017-10-30 18:50] arfon commented on #400
@BenLauwens - please merge this PR with some minor changes to your paper and bibtex https://github.com/BenLauwens/ResumableFunctions.jl/pull/8

Then, could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-10-30 19:30] JeanBilheux commented on #407
@arokem   Our program is using some data from the Brookhaven database (listed in the md file). Those are available publicly but to be sure we contacted one of the people in charge of the database. He told us that we were allowed to use the data as long as we were acknowledging them for the data. In the future, we are planning on moving this code into the scikit-beam project, and this is the reason

[2017-10-30 20:03] arfon commented on #124
I've just emailed the submitting author to remind him about this submission. If he doesn't reply in the next two weeks we will reject this submission.

[2017-10-30 20:18] BenLauwens commented on #400
@arfon
I have just merged the changes and created a new release.
DOI: 10.5281/zenodo.1039345

[2017-10-30 20:35] arfon commented on #400
@whedon set 10.5281/zenodo.1039345 as archive

[2017-10-30 20:35] whedon commented on #400
OK. <a href="http://dx.doi.org/10.5281/zenodo.1039345" target="_blank">10.5281/zenodo.1039345</a> is the archive.

[2017-10-30 21:02] arokem commented on #407
@JeanBilheux : You can certainly acknowledge the use of the Brookhaven database (and I see that you are referring to it in the text of your paper)! But I was referring to the section before the acknowledgements (titled "notice of copyright"). You cannot set the copyright on the paper in this way.

[2017-10-30 21:03] arokem commented on #407
@nicoguaro : you can certainly make comments about the formatting of the code, but the authors might not be required to comply with your comments as a requirement for publication. We do not require that code be formatted in a particular way as a condition for publication.

[2017-10-30 21:06] arfon commented on #400
@gasagna - many thanks for your review and to @danielskatz for editing this submission ✨

@BenLauwens - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00400 ⚡️ 🚀 💥

[2017-10-30 21:06] #400 closed

[2017-10-30 21:08] nicoguaro commented on #407
@arokem, I understand that they are not required to comply. But it was better to ask before suggesting, I think.

@zhangy6x, I suggest to check the [PEP8](https://www.python.org/dev/peps/pep-0008/) guidelines for style in Python in the sourcecode.

[2017-10-30 23:15] kpolimis commented on #124
tried to address outstanding review issues in the following PR: https://github.com/scikit-learn-contrib/forest-confidence-interval/pull/56

[2017-10-31 03:31] arfon commented on #30
👋 @joshuaulrich - friendly reminder to take another look at this sometime soon please.

[2017-10-31 10:46] mdbloice commented on #432
Hi @sealhuang @arfon many thanks for the review and organisation!

I will try to address each point here:

- Version: Since submitting to JOSS I made a few bug fixes, which were quite important for a few features of the Augmentor. As they were quite crucial I wanted the changes to be on the PyPI, hence the version number discrepancy. These changes were quite minor, and feature-wise there is very l

[2017-10-31 12:48] JeanBilheux commented on #407
@arokem Sorry, I got it now. I'm currently checking this with my management and our lawyers here at the lab (to play it safe). I will get back to you soon.

[2017-10-31 17:16] kpolimis commented on #124
needed to rebase and created new PR for review: https://github.com/scikit-learn-contrib/forest-confidence-interval/pull/58

[2017-10-31 23:35] arfon commented on #432
@mdbloice - in [this review](https://github.com/openjournals/joss-reviews/issues/348#issuecomment-334753211) we faced a similar issue and the submitting author opened an issue on their repository inviting the other contributors to be authors (most declined). Regardless, it would probably be a good idea to include a short sentence in the paper somewhere acknowledging the other contributors and link

[2017-10-31 23:59] arfon commented on #395
I wouldn't be able to do this sorry. Would any of the @openjournals/joss-editors be able to do this?

[2017-11-01 01:20] benmarwick commented on #361
Sorry to be slow, I've had a go at the checklist, a few easy fixes needed. Let me know when those are done and I'll finish it off.

[2017-11-01 06:18] rraadd88 commented on #362
@afrubin, unlike Ubuntu, apparantly, Debian OS does not provide basic dependencies out of the box. So, I have recommended users to install required stuff prior to installation of dms2dfe. After testing on Debian OS, hopefully, now, the issue ([kc-lab/dms2dfe#4](https://github.com/kc-lab/dms2dfe/issues/4)) would be resolved.

The updated version (1.0.6.4) can be installed by `pip install dms2dfe --

[2017-11-01 06:27] nirum commented on #413
Hi @cMadan,

I have installed and verified @haythamfayek's code. It looks very good! There are a couple of minor issues I made over on his main repo. One those are addressed, then this has my approval!

Thanks for being so patient--sorry about the delay!
Niru

[2017-11-01 06:28] nirum commented on #413
p.s. here's my CNN training on MNIST 😃

<img width="1074" alt="screen shot 2017-10-31 at 11 27 54 pm" src="https://user-images.githubusercontent.com/904854/32262691-3734cd90-be93-11e7-8a47-0e48ad05d109.png">

[2017-11-01 06:31] nirum commented on #413
One other comment--there aren't tests that can be run--but there is gradient checking code, and a number of pre-specified architectures. I would encourage @haythamfayek to include some tests for his code (perhaps there are some ideas to be harvested from [this post](https://medium.com/@keeper6928/how-to-unit-test-machine-learning-code-57cf6fd81765)), but I don't think that this is a blocking issue

[2017-11-01 11:57] hawk31 commented on #431
Hi @dfm !

Dependencies are now listed on the GitHub page of the project, on the documentation and on the `paper.md` file.

Again let me know if you would like to have something improved :)

[2017-11-01 13:08] ljvmiranda921 commented on #433
Hi @stsievert , I've made the changes you've requested both in Paper.md and the README.rst. Hope it's much better now. Thanks a lot!

[2017-11-01 13:18] Kevin-Mattheus-Moerman commented on #436
Hi @smikhael I'm still working on the review I should be able to finish it this week. If there are more issues I'll create them on your repo and mention them here.

[2017-11-01 13:36] whedon opened #446 "[PRE REVIEW]: PFEIFER: Preprocessing Framework of Electrograms Intermittently Fiducialized from Experimental Recordings"
**Submitting author:** @bzenger (<a href="http://orcid.org/0000-0002-0039-9184">Brian Zenger</a>)
**Repository:** <a href="https://github.com/SCIInstitute/PFEIFER" target ="_blank">https://github.com/SCIInstitute/PFEIFER</a>
**Version:** v1.0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @CristianaCorsi

**Author instructions**

Thanks for submitting your paper to JOSS @bzenger. The JOSS edi

[2017-11-01 13:36] whedon commented on #446
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks for JOSS.

For a list of things I can do to help you, just type:

[code]

[2017-11-01 13:44] cMadan commented on #413
Thanks for the thorough review, @nirum!

[2017-11-01 13:47] dfm commented on #431
Looks good to me! I'm ready to accept this and recommend it for publication.

Congrats @hawk31!

[2017-11-01 15:14] arfon commented on #431
[code]

@hawk31 - looks like there's a slight issue with one of the citations ☝️. Once you've fixed that, could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-11-01 15:27] stsievert commented on #433
Thanks – this looks better! I've commented in https://github.com/ljvmiranda921/pyswarms/issues/56 for some more small edits.

[2017-11-01 23:27] kyleniemeyer commented on #433
@stsievert thanks for your comments so far! I noticed that a few of the checkboxes at the top are still empty, is your review still in progress?

(Also, please do check off that first one about the conflict of interest)

[2017-11-02 00:33] haythamfayek commented on #413
Thanks @nirum for your time and feedback. I addressed both issues you raised: haythamfayek/MatDL#1 and haythamfayek/MatDL#2.

[2017-11-02 00:49] nirum commented on #413
Looks great! This has my approval. @cMadan, can you advise on the next steps?