[2022-02-14 15:26] whedon opened #4160 "[PRE REVIEW]: FEM_2D: A Rust Package for 2D Finite Element Method Computations with Extensive Support for *hp*-refinement"
**Submitting author:** @jeremiah-corrado (<a href="http://orcid.org/0000-0003-2688-0600">Jeremiah Corrado</a>)
**Repository:** <a href="https://github.com/jeremiah-corrado/fem_2d" target ="_blank">https://github.com/jeremiah-corrado/fem_2d</a>
**Version:** 0.1.0
**Editor:** @jedbrown
**Reviewers:** @jeremylt, @YohannDudouit
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :w

[2022-02-14 15:26] whedon commented on #4160
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-02-14 15:28] whedon commented on #4160
[code]

[2022-02-14 15:28] whedon commented on #4159
PDF failed to compile for issue #4159 with the following error:
[code]

[2022-02-14 15:29] whedon commented on #4160
[code]

[2022-02-14 15:29] danielskatz commented on #4159
@whedon check references from branch joss_studentized_range

[2022-02-14 15:29] whedon commented on #4159
[code]

[2022-02-14 15:29] whedon commented on #4159
[code]

[2022-02-14 15:29] whedon commented on #4160
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04160/joss.04160/10.21105.joss.04160.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04160/joss.04160/10.21105.joss.04160.pdf) :page_facing_up: :point_left:

[2022-02-14 15:29] danielskatz commented on #4159
@whedon generate pdf from branch joss_studentized_range

[2022-02-14 15:30] whedon commented on #4159
[code]

[2022-02-14 15:30] whedon commented on #4159
[code]

[2022-02-14 15:31] danielskatz commented on #4160
👋 @jeremiah-corrado - Can you work on the possibly missing DOIs that whedon suggests, noting that some may be incorrect? Please feel free to make changes to your .bib file, then use the command `@whedon check references` to check again, and the command `@whedon generate pdf` when the references are right to make a new PDF. Whedon commands need to be the first entry in a new comment.

[2022-02-14 15:31] whedon commented on #4159
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04159/joss.04159/10.21105.joss.04159.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04159/joss.04159/10.21105.joss.04159.pdf) :page_facing_up: :point_left:

[2022-02-14 15:34] danielskatz commented on #4160
👋 @jedbrown - I know you are at your paper limit for editing, but thought perhaps you might also be interested in this paper.  A no answer is perfectly fine, if you are not or cannot take on another paper.

[2022-02-14 15:35] danielskatz commented on #4160
@whedon invite @jedbrown as editor

[2022-02-14 15:35] whedon commented on #4160
@jedbrown has been invited to edit this submission.

[2022-02-14 15:40] danielskatz commented on #4159
From the submitters

[2022-02-14 15:41] danielskatz commented on #4159
👋 @mdhaber - Please work on the possibly missing DOIs that whedon suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@whedon check references from branch joss_studentized_range` to check again, and the command `@whedon generate pdf from branch joss_studentized_range` when the references are right to make a new PDF. Whedon comman

[2022-02-14 15:43] danielskatz commented on #4159
@mdhaber -  Due to the relatively small amount of code in (https://github.com/scipy/scipy/blob/5d0c1b8c55cb16c25060772966c0d179beea3ccf/scipy/stats/_hypotests.py#L2201-L2382 & https://github.com/scipy/scipy/blob/5d0c1b8c55cb16c25060772966c0d179beea3ccf/scipy/stats/_continuous_distns.py#L8957-L9141, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs

[2022-02-14 15:44] Bisaloo commented on #3776
@jessicatytam, do you have a timeline on when you think you could do the required changes? If you don't think this will be possible anytime soon, we can pause this submission or offer to resubmit later.

[2022-02-14 15:44] danielskatz commented on #4159
@whedon query scope

[2022-02-14 15:44] whedon commented on #4159
Submission flagged for editorial review.

[2022-02-14 15:48] Viech commented on #3915
I can reproduce that https://doi.org/10.5555/2946645.3007036 doesn't lead to https://dl.acm.org/doi/10.5555/2946645.3007036.

I've found #3066 cite the same paper but there does not seem to be a relevant DOI in the list reported by @whedon.

@SteveDiamond are you aware of this issue?

[2022-02-14 16:00] jbytecode commented on #4155
@danielskatz yes, it seems it is out of my expertise.

[2022-02-14 16:00] Bisaloo commented on #4087
Thanks for your answer @robbisg! :pray: Please see my comment below.

@magedhelmy1, while I was looking for reviewers, some comments have been raised about whether this submission is really in scope for JOSS. In particular:

- it seems to be more a clinical/medical tool than a research tool when our policy states: "The software must have an **obvious** research application."
- it is not clear to m

[2022-02-14 16:01] whedon commented on #4087
Submission flagged for editorial review.

[2022-02-14 16:02] Bisaloo commented on #4124
@whedon assign me as editor

[2022-02-14 16:02] whedon commented on #4124
OK, the editor is @Bisaloo

[2022-02-14 16:05] TahiriNadia commented on #4096
Yes, I will!

[2022-02-14 16:16] whedon commented on #4039
OK, @jmp75 is now a reviewer

[2022-02-14 16:17] crvernon commented on #4039
@jmp75 ok, you should have just re-received the invite and upon acceptance be able to check off your boxes in the above review thread.

[2022-02-14 16:18] danielskatz commented on #4087
https://joss.readthedocs.io/en/latest/submitting.html

[2022-02-14 16:20] whedon commented on #4127
OK, the editor is @rkurchin

[2022-02-14 16:20] diehlpk commented on #3465
it seems that the references are written as text and added in the paper.bib file. @elwinter please remove the references added by hand to the paper to avoid the duplicates.

[code]

[2022-02-14 16:25] danielskatz commented on #4155
👋 @ajstewartlang - Would be be willing to edit this submission?

[2022-02-14 16:25] danielskatz commented on #4155
@whedon invite @ajstewartlang as editor

[2022-02-14 16:29] diehlpk commented on #3390
@likask

Substantial scholarly effort: Does this submission meet the scope eligibility described in the [JOSS guidelines](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort)

Could you please have a look on this item? It seems not to be checked yet.

[2022-02-14 16:42] ajstewartlang commented on #4155
@whedon assign me as editor

[2022-02-14 16:42] whedon commented on #4155
OK, the editor is @ajstewartlang

[2022-02-14 16:45] timtroendle commented on #4051
@TomTranter, all looks good to me! There is however a lot of unused whitespace in the current paper version. May I suggest you pull Figure 1 above the "Algorithm" section heading? That will give you a much better text flow and it will also remove one (unused) page from the paper.

Apart from that, could you please:
- [ ] Make a tagged release of your software, and list the version tag of the archi

[2022-02-14 16:51] fartist commented on #3901
Sorry for the delay! I have no further requests/comments - great work!

[2022-02-14 16:56] elwinter commented on #3465
OK I can fix that but I'll have to generate a new DOI.

Eric

On Mon, Feb 14, 2022 at 11:20 AM Patrick Diehl ***@***.***>
wrote:

[2022-02-14 17:09] alejandrogallo commented on #4127
👋 @rkurchin I am willing

[2022-02-14 17:10] rkurchin commented on #4127
@whedon add @alejandrogallo as reviewer

[2022-02-14 17:34] whedon commented on #4115
:wave: @atmyers, please update us on how your review is going (this is an automated reminder).

[2022-02-14 17:34] whedon commented on #4115
:wave: @XzzX, please update us on how your review is going (this is an automated reminder).

[2022-02-14 17:53] SteveDiamond commented on #3915
No, I have not heard of this issue before.

[2022-02-14 17:53] danielskatz commented on #4160
@whedon check references

[2022-02-14 18:08] jeremiah-corrado commented on #4160
@whedon generate pdf

[2022-02-14 18:08] jeremiah-corrado commented on #4160
Oh I see. Thank you!

On Mon, Feb 14, 2022 at 10:53 AM Daniel S. Katz ***@***.***>
wrote:

[2022-02-14 18:09] whedon commented on #4160
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04160/joss.04160/10.21105.joss.04160.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04160/joss.04160/10.21105.joss.04160.pdf) :page_facing_up: :point_left:

[2022-02-14 18:18] whedon commented on #4115
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-02-14 18:20] blind-contours commented on #4138
@osorensen thanks for spotting these - I have made the corrections.

[2022-02-14 18:20] whedon commented on #4115
I'm sorry @atmyers, I'm afraid I can't do that. That's something only editors are allowed to do.

[2022-02-14 18:22] danielskatz commented on #4115
@whedon re-invite @atmyers as reviewer

[2022-02-14 18:22] whedon commented on #4115
OK, the reviewer has been re-invited.

@atmyers please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2022-02-14 18:36] kellyrowland commented on #4089
@whedon add @jamesrhester as reviewer

[2022-02-14 18:36] whedon commented on #4089
OK, @jamesrhester is now a reviewer

[2022-02-14 18:42] alexrockhill commented on #3897
@whedon generate pdf from branch joss-ecog-gui

[2022-02-14 18:42] whedon commented on #3897
[code]

[2022-02-14 18:51] alexrockhill commented on #3897
@danielskatz, we just had a last-minute addition of funding sources to the acknowledgements. Sorry for changing after you've done your final read-through! I don't have any further changes, but please let me know if there are any other copy edits to the manuscript that need to get incorporated.

[2022-02-14 18:57] danielskatz commented on #3897
Assuming the only changes are in the acks, that looks fine.  Did you decide not to add the CZI part that was in https://github.com/mne-tools/mne-python/pull/10337?

Otherwise, we're just waiting for @janfreyberg to check off the last item, or for @prashjha to potentially agree that @janfreyberg meant to but didn't, if we don't hear back from @janfreyberg soon

[2022-02-14 19:03] diehlpk commented on #3465
@elwinter I do not think anew DOI is necessary, just update the paper on GitHub. If I recall correctly, the paper.md from GitHub is used to generate the paper.

[2022-02-14 19:34] alexrockhill commented on #3897
No we didn't add CZI to the funding, the only person being funded by CZI is not on this paper, although it is a major funding source of MNE in general and so was mentioned on the paper. Thanks for checking!

[2022-02-14 19:43] odow commented on #4158
The repo is on a self-hosted GitLab instance, so linking won't work. Here's the start of a review issue: https://gitlab.uliege.be/smart_grids/public/gboml/-/issues/1

[2022-02-14 20:09] christinahedges commented on #4153
@whedon assign me as editor

[2022-02-14 20:09] whedon commented on #4153
OK, the editor is @christinahedges

[2022-02-14 20:25] christinahedges commented on #4153
Thanks @kthyng I'm happy to edit this submission!

@reichherzerp thank you for your submission to JOSS. I'm going to get to work checking through the submission, and looking for appropriate reviewers. If you know there are people in your field who are not [conflicted with you](https://joss.readthedocs.io/en/latest/review_checklist.html?highlight=conflict#conflict-of-interest) please let me know an

[2022-02-14 20:29] dpsanders commented on #3866
Congratulations on your paper, @kellertuer 🎉 ! Many thanks to @krystophny and @sweichwald for your expertise and reviews, and to @kthyng for help with the final push.

[2022-02-14 20:30] whedon opened #4161 "[PRE REVIEW]: SPOG+: A Python script to determine Bayesian stellar parameters of stars"
**Submitting author:** @StephanStock (<a href="http://orcid.org/0000-0002-1166-9338">Stephan Stock</a>)
**Repository:** https://github.com/StephanStock/SPOG
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pande

[2022-02-14 20:30] whedon commented on #4161
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-02-14 20:30] whedon opened #4162 "[PRE REVIEW]: JOAN: a framework for human-automated vehicle interaction experiments in a virtual reality driving simulator"
**Submitting author:** @OlgerSiebinga (<a href="http://orcid.org/0000-0002-5614-1262">Olger Siebinga</a>)
**Repository:** <a href="https://github.com/tud-hri/joan" target ="_blank">https://github.com/tud-hri/joan</a>
**Version:** V1.1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-1

[2022-02-14 20:30] whedon commented on #4161
Wordcount for `paper.md` is 911

[2022-02-14 20:30] whedon commented on #4162
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-02-14 20:30] whedon commented on #4161
[code]

[2022-02-14 20:30] whedon opened #4163 "[PRE REVIEW]: SNIK Graph—Visualizing Knowledge about Management of Hospital Information Systems"
**Submitting author:** @KonradHoeffner (<a href="http://orcid.org/0000-0001-7358-3217">Konrad Höffner</a>)
**Repository:** <a href="https://github.com/snikproject/snik-graph" target ="_blank">https://github.com/snikproject/snik-graph</a>
**Version:** 3.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the chall

[2022-02-14 20:30] whedon commented on #4162
Wordcount for `paper.md` is 1126

[2022-02-14 20:30] whedon commented on #4163
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-02-14 20:30] whedon commented on #4162
[code]

[2022-02-14 20:30] whedon commented on #4163
[code]

[2022-02-14 20:30] whedon commented on #4161
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04161/joss.04161/10.21105.joss.04161.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04161/joss.04161/10.21105.joss.04161.pdf) :page_facing_up: :point_left:

[2022-02-14 20:31] whedon commented on #4163
[code]

[2022-02-14 20:31] whedon commented on #4162
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04162/joss.04162/10.21105.joss.04162.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04162/joss.04162/10.21105.joss.04162.pdf) :page_facing_up: :point_left:

[2022-02-14 20:31] whedon commented on #4163
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04163/joss.04163/10.21105.joss.04163.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04163/joss.04163/10.21105.joss.04163.pdf) :page_facing_up: :point_left:

[2022-02-14 20:31] danielskatz commented on #4161
👋 @StephanStock - thanks for your submission.  Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

[2022-02-14 20:31] danielskatz commented on #4161
@whedon query scope

[2022-02-14 20:31] whedon commented on #4161
Submission flagged for editorial review.

[2022-02-14 20:33] danielskatz commented on #4162
👋 @OlgerSiebinga - Thanks for your submission. While I look for an editor, you could work on the possibly missing DOIs that whedon suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@whedon check references` to check again, and the command `@whedon generate pdf` when the references are right to make a new PDF. Whedon commands ne

[2022-02-14 20:34] danielskatz commented on #4162
@whedon invite @gkthiruvathukal as editor

[2022-02-14 20:34] whedon commented on #4162
@gkthiruvathukal has been invited to edit this submission.

[2022-02-14 20:37] danielskatz commented on #4163
👋 @KonradHoeffner - thanks for your submission.  I'm going to ask the JOSS editors to discuss if it is [research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software) as defined by JOSS.  You should hear back in a week or so.

In addition, you could work on the possibly missing DOIs that whedon suggests, but note that some may be incorrect. Please feel

[2022-02-14 20:37] danielskatz commented on #4163
@whedon query scope

[2022-02-14 20:37] whedon commented on #4163
Submission flagged for editorial review.

[2022-02-14 20:45] rkurchin commented on #4127
Sounds great, thanks for the suggestion!

@arepstein, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-02-14 20:46] rkurchin commented on #4127
@whedon add @arepstein as reviewer

[2022-02-14 20:46] whedon commented on #4127
OK, @arepstein is now a reviewer

[2022-02-14 20:47] rkurchin commented on #4127
Thanks so much for the suggestion, @arosen93, and apologies for any inadvertent email spam I just caused – I replied inviting @arepstein off of my email before realizing he'd already replied agreeing to do it! 🤩 (comment subsequently deleted)

[2022-02-14 20:47] rkurchin commented on #4127
@whedon start review

[2022-02-14 20:47] whedon opened #4164 "[REVIEW]: tesliper: a theoretical spectroscopist's little helper"
**Submitting author:** @mishioo (<a href="http://orcid.org/0000-0001-7884-8982">Michał M. Więcław</a>)
**Repository:** https://github.com/mishioo/tesliper
**Branch with paper.md** (empty if default branch):
**Version:** 0.9.3
**Editor:** @rkurchin
**Reviewers:** @alejandrogallo, @arepstein
**Archive:** 10.5281/zenodo.6448370

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2022-02-14 20:47] whedon commented on #4127
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4164.

[2022-02-14 20:47] #4127 closed

[2022-02-14 20:47] whedon commented on #4164
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @alejandrogallo, @arepstein it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](h

[2022-02-14 20:47] whedon commented on #4164
PDF failed to compile for issue #4164 with the following error:
[code]

[2022-02-14 20:47] whedon commented on #4164
[code]

[2022-02-14 20:49] rkurchin commented on #4149
I would agree with @blakeaw's perspective – JOSS doesn't include specific coverage requirements for this reason. That being said, @yhtang, if you see lack of coverage in areas crucial to functionality, that could certainly be an argument for suggesting additional tests!

[2022-02-14 20:50] timClicks commented on #4096
I'm happy to review the paper @mikldk

[2022-02-14 20:58] taoliu032 commented on #4116
@csoneson thank you so much!
After going through the list looking for reviewers in computational chemistry/molecular dynamics simulation particularly, here are two suggestions: **JoaoRodrigues** and **rvhonorato** - both are GitHub handles. However, I do not know about either of them and there are so many experts under the same categories. Therefore, feel free to select any reviewers as you see fi

[2022-02-14 20:59] blakeaw commented on #4149
Ran into a problem/errors when running automated tests: https://github.com/Cascella-Group-UiO/HyMD/issues/160

[2022-02-14 21:04] elwinter commented on #3465
OK, but then the version published on Zenodo will differ from the version on GutHub. If that is OK, then I’ll make that change.

Eric

From: Patrick Diehl ***@***.***>
Sent: Monday, February 14, 2022 2:03 PM
To: openjournals/joss-reviews ***@***.***>
Cc: Eric Winter ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [REVIEW]: nnde: A Python package for solving differential

[2022-02-14 21:19] janfreyberg commented on #3897
Apologies - that was an oversight. Completed now!

[2022-02-14 21:21] janfreyberg commented on #3897
I've asked on that issue, and the answer seems to be not yet. However, if JOSS is accepted in future, I believe all previously published papers also receive a PMID and are indexed. I would like to see this happen - it may be worth subscribing to the issue if this is of interest to you!

[2022-02-14 21:38] elwinter commented on #3465
OK, the updated version has been pushed to the master branch in the GitHub repository.

From: Patrick Diehl ***@***.***>
Sent: Monday, February 14, 2022 2:03 PM
To: openjournals/joss-reviews ***@***.***>
Cc: Eric Winter ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [REVIEW]: nnde: A Python package for solving differential equations using neural networks (#3465)

@elwi

[2022-02-14 21:38] elwinter commented on #3465
Hi Kristen. I have pushed the updated version to my GitHub repo which removes the duplicate sections. And my co-author prefers to use leading initials and last name.

Thanks

Eric

From: Kristen Thyng ***@***.***>
Sent: Wednesday, February 9, 2022 6:30 PM
To: openjournals/joss-reviews ***@***.***>
Cc: Eric Winter ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [REVIEW]:

[2022-02-14 21:38] elwinter commented on #3465
Ah OK. Making the fixes now.

From: Daniel S. Katz ***@***.***>
Sent: Monday, February 14, 2022 4:06 PM
To: openjournals/joss-reviews ***@***.***>
Cc: Eric Winter ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [REVIEW]: nnde: A Python package for solving differential equations using neural networks (#3465)

The zenodo repository does not need to include the final versi

[2022-02-14 21:38] elwinter commented on #3465
OK, the updated version has been pushed to the master branch in the GitHub repository.

From: Daniel S. Katz ***@***.***>
Sent: Monday, February 14, 2022 4:06 PM
To: openjournals/joss-reviews ***@***.***>
Cc: Eric Winter ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [REVIEW]: nnde: A Python package for solving differential equations using neural networks (#3465)

The

[2022-02-14 21:48] lrasmus commented on #4062
@jhancock4d - I'm working with the authors via https://github.com/PopMedNet-Team/popmednet/issues/38 on setup instructions for running the unit tests.  Curious if you had a CDM database you used for the tests, if you used SynPuf or something else?  Am going to try to get this going on my own, and I know the authors are working on instructions.

[2022-02-14 21:51] jhancock4d commented on #4062
I just ran the migrations which got me a blank database and worked from there to setup everything by hand.  (I have an SQL DB server laying around)

The setup of the database probably needs better documentation. However, my main issue with testing is that there aren't very MANY tests, not that they don't work (they seem to)

[2022-02-14 21:51] danielskatz commented on #3897
@whedon recommend-accept from branch joss-ecog-gui

[2022-02-14 21:51] whedon commented on #3897
[code]

[2022-02-14 21:52] whedon commented on #3897
[code]

[2022-02-14 21:52] danielskatz commented on #3465
👋 @diehlpk - can you check again and see if you think this is ready to publish?

[2022-02-14 21:53] whedon commented on #3897
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2958

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2958, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-02-14 21:55] StephanStock commented on #4161
@danielskatz thank you very much! It would be nice to take into account the adjustments to the prepared evolutionary models that come with the software (explained in the Readme.md) when jugging the scholarly effort. I had anyway intended to possibly integrate the interpolation methodology used for this in the future into SPOG+. This would allow reliable results even with arbitrarily small uncertai

[2022-02-14 21:56] danielskatz commented on #3897
@whedon accept deposit=true from branch joss-ecog-gui

[2022-02-14 21:56] whedon commented on #3897
[code]

[2022-02-14 21:56] glatard commented on #4133
Hi @galessiorob, I'm aiming at the end of February.

[2022-02-14 21:58] whedon commented on #3897
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1493343933832777729) 👈 🐦🐦🐦

[2022-02-14 21:58] whedon commented on #3897
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2959
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03897](https://doi.org/10.21105/joss.03897)
2. If everything look

[2022-02-14 22:01] diehlpk commented on #3465
@whedon generate pdf

[2022-02-14 22:02] whedon commented on #3465
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03465/joss.03465/10.21105.joss.03465.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03465/joss.03465/10.21105.joss.03465.pdf) :page_facing_up: :point_left:

[2022-02-14 22:04] diehlpk commented on #3465
@danielskatz The papers looks good now. The last thing is the question above.

[2022-02-14 22:07] danielskatz commented on #3897
Congratulations @alexrockhill (Alexander Rockhill) and co-authors!!

And thanks to @TomDonoghue and @janfreyberg for reviewing, and @prashjha for editing!
We couldn't do this without you!

[2022-02-14 22:07] #3897 closed

[2022-02-14 22:07] whedon commented on #3897
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03897/status.svg)](https://doi.org/10.21105/joss.03897)

**We need your help!**

Journal of Open Source Softwa

[2022-02-14 22:08] whedon opened #4165 "[PRE REVIEW]: easyDifferentialGeneCoexpression, a handy bioinformatics tool to easily perform differential gene coexpression"
**Submitting author:** @davidechicco (<a href="http://orcid.org/0000-0001-9655-7142">Davide Chicco</a>)
**Repository:** <a href="https://github.com/davidechicco/easyDifferentialGeneCoexpression" target ="_blank">https://github.com/davidechicco/easyDifferentialGeneCoexpression</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduce

[2022-02-14 22:08] whedon commented on #4165
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-02-14 22:08] whedon commented on #4165
It looks like this paper includes an ORCID (0000-0003-0872-7098) that is probably not correct.

[2022-02-14 22:08] whedon commented on #4165
Wordcount for `paper.md` is 1031

[2022-02-14 22:08] whedon commented on #4165
[code]

[2022-02-14 22:08] whedon commented on #4165
[code]

[2022-02-14 22:08] whedon commented on #4165
It looks like this paper includes an ORCID (0000-0003-0872-7098) that is probably not correct.

[2022-02-14 22:09] whedon commented on #4165
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04165/joss.04165/10.21105.joss.04165.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04165/joss.04165/10.21105.joss.04165.pdf) :page_facing_up: :point_left:

[2022-02-14 22:09] danielskatz commented on #3465
I see "And my co-author prefers to use leading initials and last name" above - so I'll go ahead and process this now

[2022-02-14 22:10] danielskatz commented on #3465
@whedon recommend-accept

[2022-02-14 22:10] whedon commented on #3465
[code]

[2022-02-14 22:10] whedon commented on #3465
[code]

[2022-02-14 22:10] whedon commented on #3465
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2960

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2960, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-02-14 22:11] danielskatz commented on #4165
👋 @davidechicco - This submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.

Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-packages for other suggestions for how you might receive credit for your work.

[2022-02-14 22:11] danielskatz commented on #4165
@whedon reject

[2022-02-14 22:11] whedon commented on #4165
Paper rejected.

[2022-02-14 22:11] #4165 closed

[2022-02-14 22:14] danielskatz commented on #3465
@whedon accept deposit=true

[2022-02-14 22:14] whedon commented on #3465
[code]

[2022-02-14 22:14] whedon commented on #3465
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1493348046838681602) 👈 🐦🐦🐦

[2022-02-14 22:14] whedon commented on #3465
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2961
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03465](https://doi.org/10.21105/joss.03465)
2. If everything look

[2022-02-14 22:24] danielskatz commented on #3465
Congratulations to @elwinter (Eric Winter) and co-author!!

And thanks to @taless474 and @hayesall for reviewing, and @diehlpk for editing!
We couldn't do this without you!

[2022-02-14 22:24] #3465 closed

[2022-02-14 22:24] whedon commented on #3465
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03465/status.svg)](https://doi.org/10.21105/joss.03465)

**We need your help!**

Journal of Open Source Softwa

[2022-02-14 23:35] AlphonsG commented on #4080
@whedon check references from branch dev2

[2022-02-14 23:35] whedon commented on #4080
[code]

[2022-02-14 23:36] whedon commented on #4080
[code]

[2022-02-14 23:59] rbturnbull commented on #4154
@ajstewartlang - sure thing. I'll try the image as a pdf and see how it goes. I'm a bit surprised that the svg is causing issues because it works in github actions and using the docker image.

[2022-02-15 00:28] rbturnbull commented on #4154
@ajstewartlang - we just changed the image from an SVG to a PDF and the paper is compiling now on https://whedon.theoj.org. Hopefully it will work for you now.

[2022-02-15 00:38] rbturnbull commented on #4154
@ajstewartlang  - I'm so sorry, we missed adding the PDF of the actual asset in the update. I'm working on that now and I'll push that change soon and let you know.

[2022-02-15 00:44] galessiorob commented on #4090
@whedon add @aozorahime as reviewer

[2022-02-15 00:44] whedon commented on #4090
OK, @aozorahime is now a reviewer

[2022-02-15 00:49] galessiorob commented on #4090
@whedon add @1mikegrn as reviewer

[2022-02-15 00:49] whedon commented on #4090
OK, @1mikegrn is now a reviewer

[2022-02-15 00:50] galessiorob commented on #4090
@whedon start review

[2022-02-15 00:50] whedon opened #4166 "[REVIEW]: yadg: yet another datagram"
**Submitting author:** @PeterKraus (<a href="http://orcid.org/0000-0002-4359-5003">Peter Kraus</a>)
**Repository:** https://github.com/dgbowl/yadg
**Branch with paper.md** (empty if default branch):
**Version:** v4.0.0
**Editor:** @galessiorob
**Reviewers:** @aozorahime, @1mikegrn, @pythonpanda2
**Archive:** 10.5281/zenodo.6413504

**:warning: JOSS reduced service mode :warning:**

Due to the chal

[2022-02-15 00:50] whedon commented on #4090
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4166.

[2022-02-15 00:50] #4090 closed

[2022-02-15 00:50] whedon commented on #4166
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @aozorahime, @1mikegrn it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2022-02-15 00:50] whedon commented on #4166
Wordcount for `paper.md` is 1191

[2022-02-15 00:50] whedon commented on #4166
[code]

[2022-02-15 00:50] whedon commented on #4166
[code]

[2022-02-15 00:51] whedon commented on #4166
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04166/joss.04166/10.21105.joss.04166.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04166/joss.04166/10.21105.joss.04166.pdf) :page_facing_up: :point_left:

[2022-02-15 01:00] rbturnbull commented on #4154
@ajstewartlang the image is properly in the repository now and it is compiling fine on whedon.theoj.org. Please let me know if there are other issues with anything.

[2022-02-15 06:56] OlgerSiebinga commented on #4162
@niekbeckers, @jorisgiltay, @avanderkraan, FYI

[2022-02-15 06:59] OlgerSiebinga commented on #4162
👋 @danielskatz - I will have a look at the DOIs.

[2022-02-15 07:03] OlgerSiebinga commented on #4162
We want to give a fair warning to all potential reviewers.
Our software uses the open-source autonomous vehicle simulator [CARLA](https://carla.org/), which is needed to properly test our work. Building and installing CARLA will take quite some time (4 hours according to their docs) and you'll need some reasonable hardware (a good graphics card is recommended).

[2022-02-15 07:05] niekbeckers commented on #4162
In addition, we only tested CARLA and our work on a machine running Windows 10; CARLA also has a Debian version, but JOAN has not been tested on Debian.

[2022-02-15 07:22] OlgerSiebinga commented on #4162
@whedon check references

[2022-02-15 07:24] whedon commented on #4162
[code]

[2022-02-15 07:25] OlgerSiebinga commented on #4162
@whedon generate pdf

[2022-02-15 07:25] whedon commented on #4162
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04162/joss.04162/10.21105.joss.04162.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04162/joss.04162/10.21105.joss.04162.pdf) :page_facing_up: :point_left:

[2022-02-15 07:40] rougier commented on #3974
@tiagoseq PDF has been rebuilt, does that mean you adressed our comments  with @gdetor?

[2022-02-15 08:11] Rehablab commented on #4071
We thank the reviewers for the thoughtful comments. Since the questions were mostly about the relevance of ReMove to a wider range of devices and audience, this would require a reflection on our strategy and roadmap. However, we believe that ReMove still caters for more than just ourselves. We would like a 2-3 weeks for the revision of our manuscript.

[2022-02-15 08:36] csoneson commented on #4116
@ayush9pandey - no problem, thanks for responding!

[2022-02-15 08:39] csoneson commented on #4116
👋🏻 @JoaoRodrigues, @rvhonorato - would you be interested in reviewing this submission for JOSS?

[2022-02-15 08:45] RafalKucharskiPK commented on #3761
what do you mean exactly @martinfleis ?

[2022-02-15 08:52] fraukewiese commented on #4158
Thanks @odow for opening the gitlab issue.

[2022-02-15 08:53] engyasin commented on #4099
Thanks for the feedback,

* For the first point, I will fix the typos
* For the second point, can you show the error (whether in a new issue or here) it could be the result of missing library, different version, etc.

[2022-02-15 08:55] rvhonorato commented on #4116
Thanks for the invite @csoneson and for the suggestion @taoliu032.

Yes I'd like to review this one!

[2022-02-15 08:56] mikldk commented on #3901
@alexander-pastukhov :

* Please have a final read though of the paper, checking language etc.
* Have a final check of the proofs with `@whedon generate pdf`
* In general, be sure that all versions are correct and that the repo is in the state that should be published.
* Please make a tagged release and archive (e.g. with [Zenodo](https://zenodo.org/)) as described [here](<https://joss.readthedocs

[2022-02-15 08:57] mikldk commented on #4096
@whedon add @timClicks as reviewer

[2022-02-15 08:57] whedon commented on #4096
OK, @timClicks is now a reviewer

[2022-02-15 08:57] csoneson commented on #4116
Brilliant, thanks @rvhonorato! Once we have one more reviewer we'll start the actual review issue where you'll have your checklist etc.

[2022-02-15 09:01] Viech commented on #3915
@melissawm I've obtained a DOI for my thesis and added it, however I can't do much about the CVXPY one. Should I add the broken one or leave it as is? #3066 does not include it.

[2022-02-15 09:24] martinfleis commented on #3761
@RafalKucharskiPK In the very top post in this issue is an automatically crated review checklist prepared for you. We use it to ensure that the paper fulfils all the JOSS requirements and wait until all boxes are ticked before accepting it. You should be able to edit that post and tick boxes you think the current version of the software and the paper meets.
If you are unable to do so, I might need

[2022-02-15 10:34] robbisg commented on #4087
Hi @Bisaloo ,

at a first sight it seemed to me that this software is a platform for uploading images and applying pre-trained methods for the identification of some diseases.
Despite it can be useful for some research activity since it detects capillarity density from images, speeding up this process for clinical applications, it seems that is a bit out of the scope of JOSS, as far as I understoo

[2022-02-15 10:51] jarvist commented on #3711
Apologies for the slow processing - it appears both reviews are now positive, so I'll just do some final checks.

[2022-02-15 10:52] Shiming94 commented on #4099
Hi, @engyasin, the Traceback is shown blow:
[code]
I think it should be some error in the config file.

[2022-02-15 10:54] jarvist commented on #3711
@whedon check references

[2022-02-15 10:56] jarvist commented on #3711
@nmoran have you archived (to generate a DOI) your version v1.0.0 of the software?
This can be done via Zenodo, with the Github guide quite easy to follow https://docs.github.com/en/repositories/archiving-a-github-repository/referencing-and-citing-content

[2022-02-15 10:56] XzzX commented on #4115
@whedon commands

[2022-02-15 10:56] jarvist commented on #3711
@whedon set v1.0.0 as version

[2022-02-15 10:56] whedon commented on #4115
Here are some things you can ask me to do:

[code]

[2022-02-15 10:56] whedon commented on #3711
OK. v1.0.0 is the version.

[2022-02-15 10:59] jarvist commented on #3711
OK, I've done my last proof reading and checks. Once we have a DOI for the software archive, I'm more than happy to recommend acceptance & pass it to the Editor in Chief for final checks and processing.

[2022-02-15 10:59] jarvist commented on #3960
Dear @tpurcell90 , how are you coming along?

[2022-02-15 10:59] XzzX commented on #4115
As I said in my initial review, having a comprehensive literature is complicated. So I am ok with the changes.

[2022-02-15 11:23] nmoran commented on #3711
Thanks @jarvist. I just archived version v1.0.0. See https://zenodo.org/record/6089938#.YguM79_P2-Y

[2022-02-15 11:38] jarvist commented on #3711
@whedon set 10.5281/zenodo.6089938 as archive

[2022-02-15 11:38] whedon commented on #3711
OK. <a href="https://doi.org/10.5281/zenodo.6089938" target="_blank">10.5281/zenodo.6089938</a> is the archive.

[2022-02-15 11:39] jarvist commented on #3711
@whedon generate pdf from branch joss-paper

[2022-02-15 11:39] whedon commented on #3711
[code]

[2022-02-15 11:39] whedon commented on #3711
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03711/joss.03711/10.21105.joss.03711.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03711/joss.03711/10.21105.joss.03711.pdf) :page_facing_up: :point_left:

[2022-02-15 11:41] jarvist commented on #3711
Hmm, I'm not sure if the DOI should be wrapped as a URL (with https://doi.org/) or left raw.

[2022-02-15 11:42] jarvist commented on #3711
@whedon recommend-accept

Congratulations authors, and thank you reviewers + authors for all your work!

[2022-02-15 11:42] whedon commented on #3711
[code]

[2022-02-15 12:06] peterdekker commented on #4140
Review:

This paper and software package, lexedata, presents a set of command line tools that can be used to edit datasets in CLDF format, used in computational historical/diversity linguistics, in the CLDF format, maintaining the relational structure of the dataset. I think this is very nice work, as it enables further quantitative research using wordlists in linguistics. The architecture of the

[2022-02-15 12:12] jarvist commented on #3711
@whedon recommend-accept from branch joss-paper

Let's see if we can tell Whedon the branch like this...

[2022-02-15 12:12] whedon commented on #3711
[code]

[2022-02-15 12:12] whedon commented on #3711
[code]

[2022-02-15 12:12] whedon commented on #3711
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2962

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2962, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-02-15 12:26] ml-evs commented on #3960
@jarvist: I think I can probably answer on @tpurcell90's behalf as the ball is currently in my court, I am just doing some final testing of the mega PR at https://gitlab.com/sissopp_developers/sissopp/-/merge_requests/35 that incorporates all of our review suggestions.

[2022-02-15 12:45] xrotwang commented on #4140
@Bisaloo

# Reviewer report

## Comments

The software and paper fulfill all criteria from the checklist. The software is freely available on GitHub, and additonally distributed via PyPI, includes examples and tests, is tested regularly in multiple configurations via GitHub Actions, is documented on ReadTheDocs and contains a readme, open-source licence and contribution guidelines. Thus, it's a st

[2022-02-15 12:53] ajstewartlang commented on #4154
@whedon generate pdf

[2022-02-15 12:53] Anaphory commented on #4140
@peterdekker and @xrotwang Thank you so much for your quick and thoughtful reviews and the specific issues you raise! My apologies for not engaging with you in the last few days, I saw your issues come in and found them all valuable and justified and I hope I'll get around to addressing them soon.

[2022-02-15 12:53] whedon commented on #4154
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04154/joss.04154/10.21105.joss.04154.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04154/joss.04154/10.21105.joss.04154.pdf) :page_facing_up: :point_left:

[2022-02-15 12:55] ajstewartlang commented on #4154
Thanks @rbturnbull - the paper compiles fine now.

Also, if you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2022-02-15 13:22] danielskatz commented on #3711
👋 @nmoran (and @jarvist) - what about all the DOI warnings?  Are these all incorrect, or are there DOIs missing in the references that need to be added?  Please check.

[2022-02-15 13:23] danielskatz commented on #3711
FYI, the command to rerun the check is `@whedon check references from branch joss-paper`, and this can be done by the author

[2022-02-15 13:41] whedon commented on #4118
:wave: @JaroslavHron, please update us on how your review is going (this is an automated reminder).

[2022-02-15 13:41] whedon commented on #4118
:wave: @chennachaos, please update us on how your review is going (this is an automated reminder).

[2022-02-15 13:42] gkthiruvathukal commented on #3999
@whedon assign @sea-bass  as reviewer

[2022-02-15 13:42] whedon commented on #3999
OK, @sea-bass  is now a reviewer

[2022-02-15 13:43] gkthiruvathukal commented on #3999
@ixjlyons, are you willing to contribute a review for this JOSS submission?

[2022-02-15 14:08] nmoran commented on #3711
@whedon check references from branch joss-paper

[2022-02-15 14:08] whedon commented on #3711
[code]

[2022-02-15 14:08] whedon commented on #3711
[code]

[2022-02-15 14:10] danielskatz commented on #3711
@whedon recommend-accept from branch joss-paper

[2022-02-15 14:10] whedon commented on #3711
[code]

[2022-02-15 14:11] whedon commented on #3711
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2963

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2963, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-02-15 14:12] danielskatz commented on #3711
👋 @nmoran - please change the metadata in the zenodo deposit so that the title and authors match those of the paper

[2022-02-15 14:26] danielskatz commented on #3711
I've also suggested a bunch of changes in the paper and bib in https://github.com/JuliaQX/QXTools.jl/pull/54

[2022-02-15 14:40] zarrarkhan commented on #4015
@hugoledoux Thanks for following up. Wondering if there are any additional comments we can address or get an update from the reviewers on the comments we addressed in https://github.com/openjournals/joss-reviews/issues/4015#issuecomment-1019419000.

[2022-02-15 14:57] dustinstoltz commented on #3741
@chartgerink understood -- thanks for keeping up on it!

[2022-02-15 15:00] chartgerink commented on #3741
@whedon add @cmaimone as reviewer

[2022-02-15 15:00] whedon commented on #3741
OK, @cmaimone is now a reviewer

[2022-02-15 15:38] danielskatz commented on #3711
@whedon set 10.5281/zenodo.6089937 as archive

[2022-02-15 15:38] whedon commented on #3711
OK. <a href="https://doi.org/10.5281/zenodo.6089937" target="_blank">10.5281/zenodo.6089937</a> is the archive.

[2022-02-15 15:39] danielskatz commented on #3711
@whedon recommend-accept from branch joss-paper

[2022-02-15 15:39] whedon commented on #3711
[code]

[2022-02-15 15:39] whedon commented on #3711
[code]

[2022-02-15 15:40] whedon commented on #3711
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2964

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2964, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-02-15 15:41] danielskatz commented on #3711
@whedon accept deposit=true from branch joss-paper

[2022-02-15 15:49] magedhelmy1 commented on #4087
Hi @danielskatz , thanks for the hyperlink and highlight.
This paper is not a pre-trained machine learning model.
The focus of this paper is not the algorithm but rather the "Architecture for High Demand Medical Image Analysis..." built as a platform powered by deep learning models. The algorithm is added for sake of completion and usability of the proposed architecture.

In Figure 3 in the paper,

[2022-02-15 15:53] danielskatz commented on #4087
Thanks @magedhelmy1 - the editors are/will examine this and make a decision, and your comments will be helpful in that process

[2022-02-15 16:07] engyasin commented on #4099
Thanks for reporting @Shiming94

I tried to reproduce the error, but I couldn't.
It seems it is related to the Yolo network file (models/Yolo4_epoch300.pth). it is a big file (244 MB), which needs git lfs to be uploaded. Can you check if it's downloaded correctly in your cloned repo?

[2022-02-15 16:10] danielskatz commented on #3711
We're waiting for some backend processing to finish so that this is officially published and the DOI works. We'll add another comment here when this is complete.

[2022-02-15 16:11] fnattino commented on #4032
@whedon generate pdf from branch joss_paper

[2022-02-15 16:11] whedon commented on #4032
[code]

[2022-02-15 16:12] arfon commented on #3898
@whedon generate pdf from branch joss

[2022-02-15 16:12] whedon commented on #3898
[code]

[2022-02-15 16:12] whedon commented on #4032
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04032/joss.04032/10.21105.joss.04032.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04032/joss.04032/10.21105.joss.04032.pdf) :page_facing_up: :point_left:

[2022-02-15 16:13] whedon commented on #3898
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03898/joss.03898/10.21105.joss.03898.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03898/joss.03898/10.21105.joss.03898.pdf) :page_facing_up: :point_left:

[2022-02-15 16:14] whedon commented on #3898
[code]

[2022-02-15 16:14] danielskatz commented on #4147
👋 @albertoceiec - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-

[2022-02-15 16:14] danielskatz commented on #4147
@whedon reject

[2022-02-15 16:14] whedon commented on #3898
[code]

[2022-02-15 16:14] #4147 closed

[2022-02-15 16:15] Shiming94 commented on #4099
@engyasin I just downloaded all the files in your repo and followed your instructions, and then the error appeared. I will try the new checkpoint file like you said. But I recommend that you create a download script at the beginning of your Readme.md. That will make the followers and the audience much easier to follow.

[2022-02-15 16:15] whedon commented on #3898
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2966

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2966, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-02-15 16:17] engyasin commented on #4099
Yes, that's right,
I will test it on another device without git lfs. and update the readme with the needed instructions.

[2022-02-15 16:19] whedon opened #4167 "[PRE REVIEW]: RedOak: a reference-free and alignment-free structure for indexing a collection of similar genomes"
**Submitting author:** @cagret (<a href="http://orcid.org/0000-0002-7404-7253">Clement AGRET</a>)
**Repository:** https://gite.lirmm.fr/doccy/RedOak
**Branch with paper.md** (empty if default branch):
**Version:** 0.1.4
**Editor:** @lpantano
**Reviewers:** @swatimanekar, @samhorsfield96
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of th

[2022-02-15 16:19] whedon commented on #4167
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-02-15 16:19] arfon commented on #3898
Apologies for the confusion, a couple of issues were going on here:

1. The archive URL only works in the final proofs (they work here https://github.com/openjournals/joss-papers/pull/2966)
2. The URL associated with @lucydot's JOSS profile was missing the `http://` prefix. I've now fixed this.

Both URLs are now working (in the final proofs here:  https://github.com/openjournals/joss-papers/pull/

[2022-02-15 16:21] danielskatz commented on #4167
It seems that the server isn't working well right now, I get

I'll try again later.

[2022-02-15 16:21] danielskatz commented on #4167
@whedon check repository

[2022-02-15 16:21] danielskatz commented on #4167
@whedon generate pdf

[2022-02-15 16:22] whedon commented on #4167
[code]

[2022-02-15 16:22] whedon commented on #4167
[code]

[2022-02-15 16:26] danielskatz commented on #4167
@cagret - as you can see, there are a number of problems that need to be resolved.

Please follow the [example paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography).

Also, please add a Statement of Need section.

In addition, you could work on the possibly missing DOIs that whedon suggests, but note that some may be incorrect. Also, please make sure that the

[2022-02-15 16:27] danielskatz commented on #4167
Specifically in the paper, please remove the blank lines in the header.  And remove the line for an orcid that has no orcid.  Then try regenerating the paper again

[2022-02-15 16:34] danielskatz commented on #3898
@whedon accept deposit=true from branch joss

ok, looks good to me

[2022-02-15 16:34] whedon commented on #3898
[code]

[2022-02-15 16:35] whedon commented on #3898
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1493625071935623169) 👈 🐦🐦🐦

[2022-02-15 16:35] whedon commented on #3898
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2967
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03898](https://doi.org/10.21105/joss.03898)
2. If everything look

[2022-02-15 16:36] danielskatz commented on #3898
We're waiting for some backend processing to finish so that this is officially published and the DOI works. We'll add another comment here when this is complete.

[2022-02-15 17:01] cagret commented on #4167
Hi, you are extremely efficient! I made the major changes but I don't see where the white lines are in the header.

[2022-02-15 17:02] cagret commented on #4167
@whedon check references

[2022-02-15 17:02] whedon commented on #4167
[code]

[2022-02-15 17:03] cagret commented on #4167
@whedon generate pdf

[2022-02-15 17:03] whedon commented on #4167
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04167/joss.04167/10.21105.joss.04167.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04167/joss.04167/10.21105.joss.04167.pdf) :page_facing_up: :point_left:

[2022-02-15 17:05] cagret commented on #4167
What are the next steps?

[2022-02-15 17:22] MiftariB commented on #4158
Dear Oscar and Frauke,

@odow : First and foremost, thank you for accepting to review this submission and providing valuable comments so quickly. We really appreciate the feedback and we are currently working to address it. We will provide a written answer shortly and make some adjustments in the paper as well.

@fraukewiese  : @odow highlighted several points that should be updated in our paper,

[2022-02-15 17:28] danielskatz commented on #3898
Congratulations to @tcaduser (Juan E. Sanchez)!!

And thanks to @jgoldfar and @dalonsoa for reviewing, and to @lucydot for editing!
We couldn't do this without you!

[2022-02-15 17:28] #3898 closed

[2022-02-15 17:28] whedon commented on #3898
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03898/status.svg)](https://doi.org/10.21105/joss.03898)

**We need your help!**

Journal of Open Source Softwa

[2022-02-15 17:29] danielskatz commented on #3711
Congratulations to @nmoran (Niall Moran) and co-authors!!

And thanks to @goerz and @obliviateandsurrender for reviewing, and @jarvist for editing!
We couldn't do this without you!

[2022-02-15 17:29] #3711 closed

[2022-02-15 17:29] whedon commented on #3711
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03711/status.svg)](https://doi.org/10.21105/joss.03711)

**We need your help!**

Journal of Open Source Softwa

[2022-02-15 17:31] danielskatz commented on #4167
@whedon check repository

[2022-02-15 17:32] Evmoerman commented on #4040
Hey @rkurchin. My visit here is until end of this month, but I actually started already (slowly) to fix issues with CC-aims.
This week (fingers crossed) the CC4S repository goes public and I am currently adapting the file formats and the CI/CD pipeline to the new CC4S infrastructure.
After the testing suite is stable and compatible again with the released CC4S, I hopefully can take care of the doc

[2022-02-15 17:32] whedon commented on #4167
Wordcount for `paper.md` is 1055

[2022-02-15 17:32] danielskatz commented on #4167
@whedon check references

[2022-02-15 17:32] whedon commented on #4167
[code]

[2022-02-15 17:34] lucaferranti commented on #4099
@whedon generate pdf

[2022-02-15 17:34] danielskatz commented on #4167
@cagret - please add the DOI for the last reference as shown above.

[2022-02-15 17:34] lucaferranti commented on #4099
@whedon check references

[2022-02-15 17:34] whedon commented on #4099
[code]

[2022-02-15 17:34] jbytecode commented on #4146
👋👋👋 Dear @GregaVrbancic  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**hessQuik: Fast Hessian computation of composite functions**". You can find more information at the top of this Github issue (https://github.com/

[2022-02-15 17:35] whedon commented on #4099
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04099/joss.04099/10.21105.joss.04099.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04099/joss.04099/10.21105.joss.04099.pdf) :page_facing_up: :point_left:

[2022-02-15 17:45] whedon opened #4168 "[PRE REVIEW]: mxnorm: An R Package to Normalize Multiplexed Imaging Data"
**Submitting author:** @ColemanRHarris (<a href="http://orcid.org/0000-0002-6325-0694">Coleman Harris</a>)
**Repository:** <a href="https://github.com/ColemanRHarris/mxnorm" target ="_blank">https://github.com/ColemanRHarris/mxnorm</a>
**Version:** v1.0.0
**Editor:** @osorensen
**Reviewers:** @askerdb, @tijeco
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due

[2022-02-15 17:45] whedon commented on #4168
PDF failed to compile for issue #4168 with the following error:
[code]

[2022-02-15 17:46] danielskatz commented on #4168
@whedon check references from branch joss-paper

[2022-02-15 17:46] danielskatz commented on #4168
@whedon generate pdf from branch joss-paper

[2022-02-15 17:46] whedon commented on #4168
[code]

[2022-02-15 17:46] whedon commented on #4168
PDF failed to compile for issue #4168 with the following error:
[code]

[2022-02-15 17:46] whedon commented on #4168
[code]

[2022-02-15 17:49] danielskatz commented on #4168
👋 @ColemanRHarris - note that your paper does not compile. Please follow the [example paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography). In addition, you could work on the possibly missing DOIs that whedon suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@whedon check references from

[2022-02-15 17:53] danielskatz commented on #4168
👋 @osorensen - Would you be able to edit this JOSS submission?

[2022-02-15 17:53] danielskatz commented on #4168
whedon invite @osorensen as editor

[2022-02-15 17:53] whedon commented on #4168
@osorensen has been invited to edit this submission.

[2022-02-15 17:59] whedon commented on #4168
OK, the editor is @osorensen

[2022-02-15 18:00] kellyrowland commented on #3318
Hi @munkm 👋 friendly reminder to check in here when you can.

[2022-02-15 18:26] lucaferranti commented on #4099
Hi @engyasin , overall very nice work, here are some preliminary comments regarding the software

- [ ] **Installation**: Currently the software is installed by cloning the repository and doing the installation manually. Have you considered adding this to pypi? This way I could install it with just `pip install offlinemot`. In the example notebooks, you have indeed a first cell to manually add the

[2022-02-15 18:31] ColemanRHarris commented on #4168
@whedon generate pdf from branch joss-paper

[2022-02-15 18:31] whedon commented on #4168
[code]

[2022-02-15 18:32] whedon commented on #4168
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04168/joss.04168/10.21105.joss.04168.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04168/joss.04168/10.21105.joss.04168.pdf) :page_facing_up: :point_left:

[2022-02-15 18:41] ColemanRHarris commented on #4168
@whedon check references from branch joss-paper

[2022-02-15 18:41] whedon commented on #4168
[code]

[2022-02-15 18:41] whedon commented on #4168
[code]

[2022-02-15 18:42] ColemanRHarris commented on #4168
@whedon generate pdf from branch joss-paper

[2022-02-15 18:42] whedon commented on #4168
[code]

[2022-02-15 18:43] whedon commented on #4168
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04168/joss.04168/10.21105.joss.04168.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04168/joss.04168/10.21105.joss.04168.pdf) :page_facing_up: :point_left:

[2022-02-15 18:46] lucaferranti commented on #4099
regarding the issue reported by @Shiming94 , I checked my cloned repository and the `model` folder seems to match the content on this repository, so I think it did download the network?
[code]

anyway, I am not sure such big data files belong to the source code (but you can disagree). The readme states that a separated model for detection is needed, so I feel the users should be able to install th

[2022-02-15 19:40] danielskatz commented on #4079
Hi @kylebeggs and @AustinTSchaffer - I'm just checking in again to see how your reviews are coming along

[2022-02-15 19:56] GregaVrbancic commented on #4146
@jbytecode sure, I can review this submission.

[2022-02-15 19:59] jbytecode commented on #4146
@whedon add @GregaVrbancic as reviewer

Dear @GregaVrbancic thank you for the quick response. I am assigning you as the first reviewer.

The reviewing process will start after I set a second reviewer. Please keep in touch.

[2022-02-15 19:59] whedon commented on #4146
OK, @GregaVrbancic is now a reviewer

[2022-02-15 20:05] mcflugen commented on #3344
@kthyng The edits are basically finished. I will finish it up this week. Sorry!

[2022-02-15 20:08] magedhelmy1 commented on #4087
Thank you @danielskatz for keeping me posted. I appreciate it.

Since the comments might be helpful, I will take this opportunity to also address @Bisaloo comments.

`it seems to be more a clinical/medical tool than a research tool when our policy states: "The software must have an obvious research application."`

This is a clinical tool, yes, but that does not mean it is not a research tool also.

[2022-02-15 20:27] jspaezp commented on #3990
@joewandy In my experience, we usually go over the comments and split them into what would be a "blocking issue" (things blocking the publication) and what would be a "review comment" (notes on the codebase that could be eventually addressed). This happens in a pretty organic way in my experience, just comment really liberally on the thread I started.

Then once the blocking issues have been addre

[2022-02-15 20:38] danielskatz commented on #4161
@StephanStock - the editors will review this, taking into account your comments

[2022-02-15 20:44] strengejacke commented on #4056
I have finished my review. Three points have not yet been addressed satisfactory, so some minor revisions needed for acceptance.

[2022-02-15 20:50] kthyng commented on #4152
@whedon assign me as editor

[2022-02-15 20:51] whedon commented on #4152
OK, the editor is @kthyng

[2022-02-15 20:51] kthyng commented on #4152
Hi @etouber! I'll be the editor for your submission. I'll get back to this in the next few days to find reviewers and get things started.

[2022-02-15 20:58] kylebeggs commented on #4079
@danielskatz Good, making my way through the source code. About to try running the software.

[2022-02-15 21:15] nmoran commented on #3711
Great! Thanks @danielskatz, @goerz  and @obliviateandsurrender for all your time and efforts.

[2022-02-15 21:22] tcaduser commented on #3898
Thanks to everyone for their help.  Can someone give me guidance as to where to request the tagged languages for the software on the publication page?  Here, it is showing as Ruby, Python, Batchfile:
https://joss.theoj.org/papers/10.21105/joss.03898

It should be just Python and C++.

[2022-02-15 21:37] danielskatz commented on #4130
👋 @bretsw -  I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for publication by JOSS. This is not a decision about the software quality, where we trust the rOpenSci review process that it went through, b

[2022-02-15 21:37] danielskatz commented on #4130
@whedon reject

[2022-02-15 21:38] whedon commented on #4130
Paper rejected.

[2022-02-15 21:38] #4130 closed

[2022-02-15 23:06] whedon opened #4169 "[PRE REVIEW]: Million.js: A Fast, Compiler-Augmented Virtual DOM For Performant JavaScript UI Libraries"
**Submitting author:** @aidenybai (<a href="http://orcid.org/0000-0002-3676-3726">Aiden Bai</a>)
**Repository:** https://github.com/aidenybai/million
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JO

[2022-02-15 23:06] whedon commented on #4169
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-02-15 23:06] whedon commented on #4169
Failed to discover a `Statement of need` section in paper

[2022-02-15 23:06] whedon commented on #4169
Wordcount for `paper.md` is 310

[2022-02-15 23:06] whedon commented on #4169
[code]

[2022-02-15 23:06] whedon commented on #4169
[code]

[2022-02-15 23:06] whedon commented on #4169
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04169/joss.04169/10.21105.joss.04169.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04169/joss.04169/10.21105.joss.04169.pdf) :page_facing_up: :point_left:

[2022-02-15 23:12] danielskatz commented on #4169
👋 @aidenybai - https://github.com/aidenybai/million/pull/168 should fix the problem with the references not being linked correctly.  In addition, you could work on the possibly missing DOI that whedon suggests, but note that it may be incorrect. Please feel free to make changes to your .bib file, then use the command `@whedon check references` to check again, and the command `@whedon generate pdf`

[2022-02-15 23:14] danielskatz commented on #4169
👋 @aidenybai - In addition, I can see the utility of this software in general, but I am unsure that it is research software.  Can you explain what types of research would use this and would cite it in their publications?

[2022-02-15 23:25] rbturnbull commented on #4154
Thanks @ajstewartlang. I had a look at the list and I found these three potential reviewers work prefer to work in Python and are comfortable in reviewing topics in geospatial analysis:
- martinfleis
- alesarrett
- AndrewAnnex

[2022-02-15 23:48] mbobra commented on #4117
@transientlunatic Still working on it -- sorry it has taken so long!

[2022-02-15 23:49] lrasmus commented on #4062
@danielskatz - thank you for your ongoing patience.  I am about ready to sign off.  I have asked the authors to add a 'State of the Field' to the paper, and then I think this meets all requirements.

@jhancock4d - with your assessment of tests, were you able to run code coverage (I was not)?  I was able to get 720 passed tests with the test suite they provided.  They seem more like integration tes

[2022-02-16 00:30] mbobra commented on #4117
@whedon assign @danehkar as reviewer

[2022-02-16 00:30] whedon commented on #4117
OK, @danehkar is now a reviewer

[2022-02-16 00:53] aidenybai commented on #4169
Just saw the PR and merged! Thanks for the help.

While the actual Million software itself is a utility library, the research aspect is exploring ways to allow a Virtual DOM to integrate compilers/metaframeworks, a novel concept that hasn't been fully realized yet. Other research projects can cite Million as prior art for how compilers can be integrated with Virtual DOM, deriving aspects to produc

[2022-02-16 00:54] matthewfeickert commented on #3993
I'll try to get this done before Wednesday (2022-02-16) night as I had only minor suggestions but I will make sure this is reviewed before EOD on Friday (2022-02-18).

[2022-02-16 00:54] aidenybai commented on #4169
@whedon check references

[2022-02-16 00:54] whedon commented on #4169
[code]

[2022-02-16 01:48] dhhagan commented on #3690
@dkauf42  First, let me apologize for the long delay at the pre-review stage. After an initial look/review, I made the decision to ask other JOSS editors to evaluate whether or not this submission meets the JOSS guideline for [substantial scholarly effort](https://joss.readthedocs.io/en/latest/review_criteria.html#substantial-scholarly-effort). I will let you know as soon as that is resolved. Agai

[2022-02-16 01:58] mbobra commented on #4117
@whedon add @matthewfeickert as reviewer

[2022-02-16 01:58] whedon commented on #4117
OK, @matthewfeickert is now a reviewer

[2022-02-16 01:59] mbobra commented on #4117
@whedon start review

[2022-02-16 01:59] whedon opened #4170 "[REVIEW]: Asimov: A framework for coordinating parameter estimation workflows"
**Submitting author:** @transientlunatic (<a href="http://orcid.org/0000-0003-3772-198X">Daniel Williams</a>)
**Repository:** <a href="https://git.ligo.org/asimov/asimov" target ="_blank">https://git.ligo.org/asimov/asimov</a>
**Version:** v0.3.3
**Editor:** @mbobra
**Reviewer:** @danehkar, @matthewfeickert
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challen

[2022-02-16 01:59] whedon commented on #4117
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4170.

[2022-02-16 01:59] #4117 closed

[2022-02-16 01:59] whedon commented on #4170
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @danehkar, @matthewfeickert it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](h

[2022-02-16 01:59] whedon commented on #4170
[code]

[2022-02-16 01:59] whedon commented on #4170
PDF failed to compile for issue #4170 with the following error:
[code]

[2022-02-16 02:00] mbobra commented on #4117
👋 @transientlunatic @danehkar @matthewfeickert See you over in #4170 where the actual review will take place!

[2022-02-16 02:01] mbobra commented on #4170
@whedon generate pdf from branch joss-paper

[2022-02-16 02:01] whedon commented on #4170
[code]

[2022-02-16 02:01] whedon commented on #4170
PDF failed to compile for issue #4170 with the following error:
[code]

[2022-02-16 02:04] mbobra commented on #4170
@Kevin-Mattheus-Moerman Any idea why the pdf won't compile?

[2022-02-16 02:06] danielskatz commented on #4170
@whedon generate pdf from branch joss-paper

[2022-02-16 02:06] whedon commented on #4170
[code]

[2022-02-16 02:07] danielskatz commented on #4170
@mbobra - maybe just a transient error...

[2022-02-16 02:07] danielskatz commented on #4170
@whedon check references from branch joss-paper

[2022-02-16 02:07] whedon commented on #4170
[code]

[2022-02-16 02:07] whedon commented on #4170
[code]

[2022-02-16 02:12] danielskatz commented on #4169
@aidenybai - I'm going to ask for an editors discussion about if this submission is [research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software) as defined by JOSS. You should hear back in a week or so.

[2022-02-16 02:12] danielskatz commented on #4169
@whedon query scope

[2022-02-16 02:13] mbobra commented on #4170
Ah thank you @danielskatz !

[2022-02-16 02:17] mbobra commented on #4170
👋 @danehkar @matthewfeickert Thank you so much for agreeing to review! You can find the article above ⬆️ , and the checklist and software repository linked in the first comment box on this issue. I think you're good to go. Again, JOSS is an open review process and we encourage communication between the reviewers, the submitting author, and the editor. So please feel free to ask questions at any ti

[2022-02-16 02:46] matthewfeickert commented on #4170
All good to go @mbobra. :+1: Thanks for the info and the introductions. :slightly_smiling_face:

@transientlunatic just to give you a heads up I'm finishing another JOSS review at the moment (will be done before end of the week for sure though) so I probably won't start on this review until the start of next week at the earliest.

[2022-02-16 02:50] danehkar commented on #4170
@mbobra :+1: Thanks for the information.

[2022-02-16 03:03] Assistedevolution commented on #4080
I recommend acceptance of this paper /code based on the dev2 branch

[2022-02-16 03:15] AustinTSchaffer commented on #4061
@kasbot I looked through your `joss_review_round_1` branch, looks good! I'll close my issue threads on your repository once the branch is merged, and check off the rest of my checklist above.

[2022-02-16 03:59] matthewfeickert commented on #4170
@transientlunatic @mbobra there's a problem that is going to greatly encumber the review. While the Asimov repo https://git.ligo.org/asimov/asimov is public, it is hosted on a LIGO/Virgo/KAGRA collaboration instance of GitLab that requires login access to open up Issues (which is normal and fine unto itself). The problem though is that as @danehkar (I think?) and I aren't members of the LIGO/Virgo

[2022-02-16 04:04] AustinTSchaffer commented on #4079
@danielskatz I'm so sorry, I didn't end up looking at this 9 days ago. I added a new issue regarding Lunux installation instructions, but I definitely have most of the review still to do. I'll do a little more work later this week.

[2022-02-16 04:24] nastaran62 commented on #4045
@whedon commands

[2022-02-16 04:24] whedon commented on #4045
Here are some things you can ask me to do:

[code]

[2022-02-16 04:24] nastaran62 commented on #4045
@whedon check references

[2022-02-16 04:24] whedon commented on #4045
[code]

[2022-02-16 04:28] nastaran62 commented on #4045
@whedon check references

[2022-02-16 04:28] whedon commented on #4045
[code]

[2022-02-16 04:29] nastaran62 commented on #4045
@whedon check references

[2022-02-16 04:30] whedon commented on #4045
[code]

[2022-02-16 04:30] nastaran62 commented on #4045
@whedon generate pdf from branch master

[2022-02-16 04:30] whedon commented on #4045
[code]

[2022-02-16 04:31] whedon commented on #4045
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04045/joss.04045/10.21105.joss.04045.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04045/joss.04045/10.21105.joss.04045.pdf) :page_facing_up: :point_left:

[2022-02-16 04:44] nastaran62 commented on #4045
@whedon generate pdf from branch master

[2022-02-16 04:44] whedon commented on #4045
[code]

[2022-02-16 04:44] whedon commented on #4045
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04045/joss.04045/10.21105.joss.04045.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04045/joss.04045/10.21105.joss.04045.pdf) :page_facing_up: :point_left:

[2022-02-16 04:50] nastaran62 commented on #4045
@whedon generate pdf from branch master

[2022-02-16 04:50] whedon commented on #4045
[code]

[2022-02-16 04:51] whedon commented on #4045
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04045/joss.04045/10.21105.joss.04045.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04045/joss.04045/10.21105.joss.04045.pdf) :page_facing_up: :point_left:

[2022-02-16 04:52] aidenybai commented on #4169
@whedon generate pdf

[2022-02-16 04:52] whedon commented on #4169
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04169/joss.04169/10.21105.joss.04169.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04169/joss.04169/10.21105.joss.04169.pdf) :page_facing_up: :point_left:

[2022-02-16 05:18] taoliu032 commented on #4116
@csoneson May I ask to slightly modify the code? One of the toggles was not perfectly set up but it does not affect the backbone or main features of the code at all. I literally just need to edit one line and delete a few.

This is my first ever submission to JOSS (very exciting experience!), so I am not sure if I could make changes to the code at the moment or if I should wait till the official r

[2022-02-16 06:36] aidenybai commented on #4169
@whedon check references

[2022-02-16 06:36] whedon commented on #4169
[code]

[2022-02-16 06:38] aidenybai commented on #4169
@whedon generate pdf

[2022-02-16 06:38] whedon commented on #4169
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04169/joss.04169/10.21105.joss.04169.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04169/joss.04169/10.21105.joss.04169.pdf) :page_facing_up: :point_left:

[2022-02-16 06:59] nastaran62 commented on #4045
@whedon generate pdf from branch master

[2022-02-16 06:59] whedon commented on #4045
[code]

[2022-02-16 07:00] whedon commented on #4045
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04045/joss.04045/10.21105.joss.04045.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04045/joss.04045/10.21105.joss.04045.pdf) :page_facing_up: :point_left:

[2022-02-16 07:25] csoneson commented on #4116
@taoliu032 - yes, feel free to go ahead and make this change. Once the review has started, it may be good to refrain from making major changes at the very same time that the reviewers are going through the code, just because it may become very confusing which version should be checked :)

[2022-02-16 07:48] osorensen commented on #4138
@whedon generate pdf

[2022-02-16 07:48] whedon commented on #4138
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04138/joss.04138/10.21105.joss.04138.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04138/joss.04138/10.21105.joss.04138.pdf) :page_facing_up: :point_left:

[2022-02-16 09:20] arfon commented on #3898
I've fixed this for you manually. We simply take what GitHub's Linguist library tells us here.

[2022-02-16 10:02] mortele commented on #4149
Hi @yhtang and @blakeaw. I apologize for the slow response from our end on the issues opened so far. With the slight delay after being waitlisted in the JOSS system, this review ended up coinciding with the last 10 days of my PhD contract. As such I am incredibly busy and need to have my focus mostly elsewhere for a little while. I will try to offload the review-response work as much as possible o

[2022-02-16 11:02] bauer-alex commented on #4056
@strengejacke Thanks so much for the review and the helpful comments in our issues.
We now changed the readme and the paper itself to try to resolve all issues (see [issue 1](https://github.com/bauer-alex/APCtools/issues/4), [issue 2](https://github.com/bauer-alex/APCtools/issues/5) and [issue 3](https://github.com/bauer-alex/APCtools/issues/6)).

Regarding the last of the above issues (the missin

[2022-02-16 11:02] bauer-alex commented on #4056
@whedon generate pdf

[2022-02-16 11:03] whedon commented on #4056
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04056/joss.04056/10.21105.joss.04056.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04056/joss.04056/10.21105.joss.04056.pdf) :page_facing_up: :point_left:

[2022-02-16 11:24] strengejacke commented on #4056
Yes, that looks better, thanks! I'm following the guidelines (see e.g. https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) that require the paper to have a short summary, followed by statement-of-need section. I'm not sure how @Nikoleta-v3 likes to handle this, if preferred as two separate sections or integrated in one (as you have it now), so I would leave this dec

[2022-02-16 11:32] KonradHoeffner commented on #4163
@danielskatz thanks! I verified and added the missing DOIs and hope it counts as research software, as we are actively using it in research and teaching. If the issue is that it comes preconfigured for only one knowledge base I can also add another one if that helps.

[2022-02-16 11:32] KonradHoeffner commented on #4163
@whedon check references

[2022-02-16 11:32] whedon commented on #4163
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "journal" (NAME) ["@", #<BibTeX::Entry >, {:title=>["Cytoscape.js: {A} graph theory library for visualisation and analysis"], :author=>["Franz, Max and Lopes, Christian T and Huck, Gerardo and Dong, Yue and Sumer, Onur and Bader, Gary D"], :doi=>["10.1093/bioinformatics/btv557"]}]

[2022-02-16 11:36] KonradHoeffner commented on #4163
@whedon check references

[2022-02-16 11:36] whedon commented on #4163
[code]

[2022-02-16 11:36] KonradHoeffner commented on #4163
@whedon generate pdf

[2022-02-16 11:37] whedon commented on #4163
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04163/joss.04163/10.21105.joss.04163.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04163/joss.04163/10.21105.joss.04163.pdf) :page_facing_up: :point_left:

[2022-02-16 11:39] #4111 closed

[2022-02-16 11:47] transientlunatic commented on #4170
Thanks very much for taking this on @danehkar, @matthewfeickert.
I think the most straight-forward thing I can do is to set up a mirror of the repository on Github; I suspect trying to get you a login for our collaboration gitlab would be difficult, and inconvenient for yourselves, in addition to not being especially conducive to collaboration outwith the LVK.
I'll let you know once I've set that

[2022-02-16 11:49] melissawm commented on #3915
Since there is a DOI for the other PyOmo reference, I think we can ignore this one. If you're finished with editing the paper can you re-build it here, so we can move on? Thanks!

[2022-02-16 12:05] Viech commented on #3915
@whedon generate pdf from branch joss

[2022-02-16 12:05] whedon commented on #3915
[code]

[2022-02-16 12:05] Kevin-Mattheus-Moerman commented on #3579
@alexlib @AlainPlattner @emanuelhuber @fjsimons @Samuel-Wagner @michaelberks @ajmalkoti @CPBridge  would you be interested in reviewing this work (a MATLAB/octave toolbox for ultrasound imaging) for [the Journal of Open Source Software (JOSS)](https://joss.theoj.org)?
The smooth [review process](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) takes place on GitHub, and focuses on t

[2022-02-16 12:06] whedon commented on #3915
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03915/joss.03915/10.21105.joss.03915.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03915/joss.03915/10.21105.joss.03915.pdf) :page_facing_up: :point_left:

[2022-02-16 12:07] Viech commented on #3915
(This does not have my latest change yet. Need to figure out why.)

[2022-02-16 12:08] Kevin-Mattheus-Moerman commented on #4106
@urban-fasel thanks for this submission. I am currently looking for reviewers. If you can suggest any reviewers that would be helpful too. You can mention their github handle (without the @ symbol) here.

Could you clarify if this submission is compatible with Octave? Or does it require special MATLAB functions/toolboxes that are note part of Octave. I ask this as some reviewers can only review Oc

[2022-02-16 12:12] Kevin-Mattheus-Moerman commented on #3980
@nicoguaro, @corentin-dev I hope you are doing well. This is just a check in to see how things are going with the review. Are you able to pick this up and review the changes made? Or could you summarise what points still need attention? Thanks again for your help!!!

[2022-02-16 12:13] Viech commented on #3915
LGTM. (Needed to clear my cache to see the change, which affects only the second to last reference.)

[2022-02-16 12:16] conorheins commented on #4098
Hi @emdupre, I'm wondering if we can already start responding to the issues raised by @seankmartin ? Or should we wait until both reviewers are finished before we start responding? Thanks :)

[2022-02-16 12:20] AlphonsG commented on #4080
Merged dev2 branch with main.

[2022-02-16 12:21] AlphonsG commented on #4080
@whedon generate pdf

[2022-02-16 12:23] whedon commented on #4080
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04080/joss.04080/10.21105.joss.04080.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04080/joss.04080/10.21105.joss.04080.pdf) :page_facing_up: :point_left:

[2022-02-16 12:27] transientlunatic commented on #4170
I've now mirrored our collaboration repository on Github here:
https://github.com/ligo-asimov/asimov
Apologies for not having realised this would be a problem sooner!

[2022-02-16 12:37] Viech commented on #3915
@whedon set 10.5281/zenodo.6053359 as archive

[2022-02-16 12:37] whedon commented on #3915
I'm sorry @Viech, I'm afraid I can't do that. That's something only editors are allowed to do.

[2022-02-16 12:38] melissawm commented on #3915
@whedon set 10.5281/zenodo.6053359 as archive

[2022-02-16 12:38] whedon commented on #3915
OK. <a href="https://doi.org/10.5281/zenodo.6053359" target="_blank">10.5281/zenodo.6053359</a> is the archive.

[2022-02-16 12:39] melissawm commented on #3915
@whedon set v2.4 as version

[2022-02-16 12:39] whedon commented on #3915
OK. v2.4 is the version.

[2022-02-16 12:39] melissawm commented on #3915
@whedon recommend accept

[2022-02-16 12:39] whedon commented on #3915
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-02-16 12:40] melissawm commented on #3915
@whedon recommend-accept

[2022-02-16 12:40] whedon commented on #3915
[code]

[2022-02-16 12:40] whedon commented on #3915
PDF failed to compile for issue #3915 with the following error:
[code]

[2022-02-16 12:43] melissawm commented on #3915
@whedon recommend-accept from branch joss

[2022-02-16 12:43] whedon commented on #3915
[code]

[2022-02-16 12:43] whedon commented on #3915
[code]

[2022-02-16 12:44] whedon commented on #3915
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2968

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2968, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-02-16 12:48] Viech commented on #3915
Now that the links on the sidebar are supposed to work, I checked them and found that your URL `http://mtm.ufsc.br/~melissa` is broken. Sorry for not noticing earlier!

[2022-02-16 13:15] jhancock4d commented on #4062
@irasmus The integration tests are actually a feature not a bug in this case I would say because unit tests on a project that deals with data that would use mocks wouldn't be useful.

Code coverage is relatively lowish from what I can tell (I can't get coverlet to spit out data on it).  I think it's fine for this purpose, but in general it would be nice to see 80%+ code coverage in the future with

[2022-02-16 13:17] alexander-pastukhov commented on #3901
@whedon generate pdf from branch joss

[2022-02-16 13:17] whedon commented on #3901
[code]

[2022-02-16 13:18] whedon commented on #3901
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03901/joss.03901/10.21105.joss.03901.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03901/joss.03901/10.21105.joss.03901.pdf) :page_facing_up: :point_left:

[2022-02-16 13:25] danielskatz commented on #4111
If you have a question about JOSS then please open an issue on the main JOSS repository: https://github.com/openjournals/joss

[2022-02-16 13:28] alexander-pastukhov commented on #3901
@mikldk

Version 1.1.0
Tag v1.1.0
https://github.com/alexander-pastukhov/bistablehistory/releases/tag/v1.1.0

Zenodo DOI for 1.1.0: https://zenodo.org/record/5851674
[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.5851674.svg)](https://doi.org/10.5281/zenodo.5851674)

[2022-02-16 13:36] fraukewiese commented on #4158
@MiftariB : 1000 words is not a very strict limit. However please still be concise when doing the additions in the paper and maybe check if you can shorten at other parts.

[2022-02-16 13:37] mikldk commented on #3901
@whedon set 10.5281/zenodo.5851674 as archive

[2022-02-16 13:37] whedon commented on #3901
OK. <a href="https://doi.org/10.5281/zenodo.5851674" target="_blank">10.5281/zenodo.5851674</a> is the archive.

[2022-02-16 13:38] whedon commented on #3901
OK. v1.1.0 is the version.

[2022-02-16 13:38] mikldk commented on #3901
@alexander-pastukhov , Please change the metadata at Zenodo (title, authors) to match the paper's.

[2022-02-16 13:41] corentin-dev commented on #3980
With the changes, everything seems in order to me.

[2022-02-16 13:45] pdebuyl commented on #4086
@whedon assign @mattpitkin as reviewer

[2022-02-16 13:45] whedon commented on #4086
OK, @mattpitkin is now a reviewer

[2022-02-16 13:54] melissawm commented on #3915
@whedon recommend-accept from branch joss

[2022-02-16 13:54] whedon commented on #3915
[code]

[2022-02-16 13:54] whedon commented on #3915
[code]

[2022-02-16 13:55] whedon commented on #3915
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2969

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2969, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-02-16 13:56] mlp6 commented on #3579
My original commitment to this was many months ago, and my work commitments have changed and will change my bandwidth to perform this review.

[2022-02-16 13:56] melissawm commented on #3915
Should be fixed now - thanks @Viech !

[2022-02-16 13:57] jedbrown commented on #4160
This looks cool and I'm happy to take it. @jeremiah-corrado I didn't see [community guidelines](https://joss.readthedocs.io/en/latest/review_criteria.html#community-guidelines) in your documentation. Could you add those to your README and/or [standard templates](https://github.com/jeremiah-corrado/fem_2d/community)? I'll line up reviewers.

[2022-02-16 13:57] sbenthall commented on #4144
Yes, thank you, I'll edit this.

[2022-02-16 13:57] jedbrown commented on #4160
@whedon assign @jedbrown as editor

[2022-02-16 13:57] whedon commented on #4160
OK, the editor is @jedbrown

[2022-02-16 13:58] danielskatz commented on #4144
@whedon assign @sbenthall as editor

[2022-02-16 13:58] whedon commented on #4144
OK, the editor is @sbenthall

[2022-02-16 14:00] alexander-pastukhov commented on #3901
@mikldk Fixed! (I hope I did it right!)

[2022-02-16 14:01] mikldk commented on #3901
@whedon check references

[2022-02-16 14:06] mikldk commented on #3901
@whedon generate pdf from branch joss

[2022-02-16 14:06] whedon commented on #3901
[code]

[2022-02-16 14:07] whedon commented on #3901
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03901/joss.03901/10.21105.joss.03901.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03901/joss.03901/10.21105.joss.03901.pdf) :page_facing_up: :point_left:

[2022-02-16 14:13] Viech commented on #3915
LGTM. Thank you!

[2022-02-16 14:38] taoliu032 commented on #4116
@csoneson Thank you for clarification! I have just made the change to the JOSS branch. Yes exactly, I do not intend to confuse any reviewers therefore the JOSS branch will become off limits once the review starts 🙂

[2022-02-16 14:41] mikldk commented on #3901
@whedon recommend-accept

[2022-02-16 14:41] whedon commented on #3901
[code]

[2022-02-16 14:43] whedon commented on #4124
OK, @Chjulian is now a reviewer

[2022-02-16 14:53] Bisaloo commented on #4124
Hi @marekborowiec :wave:, you signed up as a potential reviewer for JOSS. I think this submission could be relevant to your research interests:

Would you be available to review this [python package](https://github.com/flu-crew/smot) and [associated paper](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04124/joss.04124/10.21105.joss.04124.pdf) for JOSS? :relaxed:

[2022-02-16 15:14] kthyng commented on #3594
@SeascapeScience Thanks for letting me know — I totally understand!

@dankelley I'm sorry this has been a particularly slow submission process for you! I'll work on finding a new reviewer now. Thank you for your patience!

[2022-02-16 15:19] alexander-pastukhov commented on #3901
@mikldk What does the issue mean? that I need to put paper.md into master branch?

[2022-02-16 16:26] danielskatz commented on #3915
@whedon accept deposit=true from branch joss

draft looks good to me!

[2022-02-16 16:26] whedon commented on #3915
[code]

[2022-02-16 16:27] whedon commented on #3915
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1493985428621438980) 👈 🐦🐦🐦

[2022-02-16 16:27] whedon commented on #3915
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2970
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03915](https://doi.org/10.21105/joss.03915)
2. If everything look

[2022-02-16 16:29] jbytecode commented on #4146
👋👋👋 Dear @yhtang  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**hessQuik: Fast Hessian computation of composite functions**". You can find more information at the top of this Github issue (https://github.com/openjou

[2022-02-16 16:34] #3915 closed

[2022-02-16 16:34] whedon commented on #3915
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03915/status.svg)](https://doi.org/10.21105/joss.03915)

**We need your help!**

Journal of Open Source Softwa

[2022-02-16 16:40] Viech commented on #3915
Awesome! Thank you very much @melissawm, @marwahaha and @GuillaumeDerval for your time and effort! :heart:

[2022-02-16 17:00] ekinney-lang commented on #4114
Hi @oliviaguest - I have done a review of the code and gone through the checklist with some comments. I (unfortunately) don't think I subscribed to the invite in time above.

Just some quick questions on my end - I wrote up my comments for each of the parts of the checklist in a document. Would you want me to share that document, or open each one as an issue? Some of them are just small comments a

[2022-02-16 17:04] yhtang commented on #4149
@mortele Totally understand. Good luck on your defense!

[2022-02-16 17:13] ml-evs commented on #3960
@whedon generate pdf from branch joss_review

[2022-02-16 17:13] whedon commented on #3960
[code]

[2022-02-16 17:13] whedon commented on #3960
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03960/joss.03960/10.21105.joss.03960.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03960/joss.03960/10.21105.joss.03960.pdf) :page_facing_up: :point_left:

[2022-02-16 17:14] jbytecode commented on #4146
@whedon add @yhtang as reviewer

Dear @yhtang,

Thank you for accepting our invitation. We have now two reviewers so I can start the reviewing.
Whenever the editorial bot starts the review, a new Github issue will be created.
I will present the required instructions there.

[2022-02-16 17:14] whedon commented on #4146
OK, @yhtang is now a reviewer

[2022-02-16 17:16] jbytecode commented on #4146
@whedon start review

[2022-02-16 17:16] whedon opened #4171 "[REVIEW]: hessQuik: Fast Hessian computation of composite functions"
**Submitting author:** @elizabethnewman (<a href="http://orcid.org/0000-0002-6309-7706">Elizabeth Newman</a>)
**Repository:** https://github.com/elizabethnewman/hessQuik
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @jbytecode
**Reviewers:** @GregaVrbancic, @yhtang
**Archive:** 10.5281/zenodo.6478757

**:warning: JOSS reduced service mode :warning:**

Due to t

[2022-02-16 17:16] whedon commented on #4146
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4171.

[2022-02-16 17:16] #4146 closed

[2022-02-16 17:16] whedon commented on #4171
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @GregaVrbancic, @yhtang it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2022-02-16 17:16] whedon commented on #4171
[code]

[2022-02-16 17:17] whedon commented on #4171
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04171/joss.04171/10.21105.joss.04171.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04171/joss.04171/10.21105.joss.04171.pdf) :page_facing_up: :point_left:

[2022-02-16 17:18] whedon commented on #3960
[code]

[2022-02-16 17:19] whedon commented on #3960
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03960/joss.03960/10.21105.joss.03960.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03960/joss.03960/10.21105.joss.03960.pdf) :page_facing_up: :point_left:

[2022-02-16 17:23] jbytecode commented on #4171
Dear reviewers @GregaVrbancic and @yhtang

Here is the review thread. Each reviewer has 20 checkboxes with a corresponding reviewing task. Whenever you complete a task, you can manually check it. The reviewing process is continuous in JOSS so you can interact with the author and the editor during the review.

Please do not hesitate to ask anything. I will always be following the ongoing process.

[2022-02-16 17:27] tpurcell90 commented on #3960
@whedon generate pdf from branch joss_review

[2022-02-16 17:27] whedon commented on #3960
[code]

[2022-02-16 17:28] whedon commented on #3960
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03960/joss.03960/10.21105.joss.03960.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03960/joss.03960/10.21105.joss.03960.pdf) :page_facing_up: :point_left:

[2022-02-16 17:30] davidechicco commented on #4165
Thanks @danielskatz for having considered our article submission. What is JOSS policy for resubmissions? Can we improve our software package and our article and then resubmit it to JOSS in the future, or is it rejected for good?

[2022-02-16 17:41] jeremiah-corrado commented on #4160
@jedbrown Community Guidelines have been added to the README. Thanks!

[2022-02-16 17:47] elizabethnewman commented on #4171
Dear @jbytecode

Thank you for suggesting that I correct the DOI's now.  I now have added the DOI's the editorial bot suggested.

Thank you!

[2022-02-16 17:48] jbytecode commented on #4171
@whedon check references

[2022-02-16 17:48] whedon commented on #4171
[code]

[2022-02-16 17:48] jbytecode commented on #4171
@whedon generate pdf

@elizabethnewman - thanks, it is better now!

[2022-02-16 17:49] whedon commented on #4171
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04171/joss.04171/10.21105.joss.04171.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04171/joss.04171/10.21105.joss.04171.pdf) :page_facing_up: :point_left:

[2022-02-16 18:02] ml-evs commented on #3960
I have now completed my review and recommend accepting this paper.

The SISSO++ package provides a useful, usable and modern interface to an interesting approach to symbolic regression that has so far primarily been used in the materials science domain. This particular method is difficult to implement efficiently; the C++/MPI + Python binding approach here adds a lot of value and scalability to la

[2022-02-16 18:03] ml-evs commented on #3960
Note, there was quite a lot of back-and-forth on the GitLab repo (hence the radio silence here). As previously linked, all of the recommended changes were collected into one big PR: https://gitlab.com/sissopp_developers/sissopp/-/merge_requests/35 with links out to the relevant sub-issues/PRs.

[2022-02-16 18:57] danielskatz commented on #4165
If you feel that changes have allowed it to meet the submission criteria, resubmission is fine.

[2022-02-16 18:57] urban-fasel commented on #4106
Hi @Kevin-Mattheus-Moerman, thanks for being the editor of our submission!
Some potential reviewers from the joss_reviewers list: vaishnavtv, wahls, mbudisic, balaje
and some additional potential reviewers: nairaditya, ben-herrmann, dylaneij, rschmehl, marconij
The submission is not compatible with Octave as it uses some functions that are not implemented in Octave yet.

[2022-02-16 19:06] jessie-dotson commented on #3496
Community guidelines missing.  Please see https://github.com/Natsiopoulos/ARDL/issues/9

[2022-02-16 19:10] jessie-dotson commented on #3496
Tests to verify functionality missing.  Please see https://github.com/Natsiopoulos/ARDL/issues/10

[2022-02-16 19:11] jessie-dotson commented on #3496
I've worked through the entire review checklist.  Outstanding items to address are documented in issues 7-10 opened in the packages repository and linked above.  After these are closed or addressed, please feel free to @ me so I'll know to come back and check off the changes.

[2022-02-16 19:28] jedbrown commented on #4160
@whedon add @jeremylt as reviewer

[2022-02-16 19:28] whedon commented on #4160
OK, @jeremylt is now a reviewer

[2022-02-16 19:29] jedbrown commented on #4160
@whedon add @YohannDudouit as reviewer

[2022-02-16 19:29] whedon commented on #4160
OK, @YohannDudouit is now a reviewer

[2022-02-16 19:29] jedbrown commented on #4160
@whedon start review

[2022-02-16 19:29] whedon opened #4172 "[REVIEW]: FEM_2D: A Rust Package for 2D Finite Element Method Computations with Extensive Support for *hp*-refinement"
**Submitting author:** @jeremiah-corrado (<a href="http://orcid.org/0000-0003-2688-0600">Jeremiah Corrado</a>)
**Repository:** https://github.com/jeremiah-corrado/fem_2d
**Branch with paper.md** (empty if default branch):
**Version:** 0.2.2
**Editor:** @jedbrown
**Reviewers:** @jeremylt, @YohannDudouit
**Archive:** 10.5281/zenodo.7849878

**:warning: JOSS reduced service mode :warning:**

Due to t

[2022-02-16 19:29] whedon commented on #4160
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4172.

[2022-02-16 19:29] #4160 closed

[2022-02-16 19:29] whedon commented on #4172
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jeremylt, @YohannDudouit it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2022-02-16 19:30] whedon commented on #4172
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04172/joss.04172/10.21105.joss.04172.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04172/joss.04172/10.21105.joss.04172.pdf) :page_facing_up: :point_left:

[2022-02-16 19:31] jedbrown commented on #4172
Hi @jeremylt @YohannDudouit :wave:  Welcome to JOSS and thanks for agreeing to review! The comments from @whedon above outline the review process, which takes place in this thread (possibly with issues filed in the FEM_2D repository). I'll be watching this thread if you have any questions.

The JOSS review is different from most other journals. Our goal is to work with the authors to help them mee

[2022-02-16 19:50] davidechicco commented on #4165
Thanks @danielskatz for your reply, and sorry for not having noticed the unmet criteria of my package.

I developed my package in R and my collaborator @AbbasAlameer developed a Perl wrapper for it. I counted all my R lines of code of my R files and all his Perl lines of code, and noticed the final sum was around 500, so I thought we were over the 300 code line limit. Now I understand that the cod

[2022-02-16 20:05] Kevin-Mattheus-Moerman commented on #3579
@mlp6 apologies for the delay, it has been challenging to find reviewers. Can you clarify if you are still able to help or not? If you can no longer help that is fine just let us know and I can remove you. If you are still able to help that would be great, and I can give you a lot of time if you need it.

[2022-02-16 20:15] bretsw commented on #4130
Hi, @danielskatz, thank you for getting back to us and letting us know the result of the conversation amongst JOSS editors.

Honestly, I was surprised by this outcome. The primary reason has to do with what rOpenSci communicated about the process (described [in this blog post](https://ropensci.org/blog/2017/11/29/review-collaboration-mee/)):

Beyond the rOpenSci-JOSS partnership, @jrosen48 and I v

[2022-02-16 20:24] danielskatz commented on #4130
I don't really have more to add, but I can try to restate the decision we made.  We (JOSS) have no issue with the quality of your software, or its utility, or its research application - our decision here is based purely on that we don't think it meets our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion, which we enforce t

[2022-02-16 20:25] Samuel-Wagner commented on #3579
Hi Kevin,
Sure, I can review this software.
Sam

On Wed, Feb 16, 2022 at 4:06 AM Kevin Mattheus Moerman <
***@***.***> wrote:

[2022-02-16 20:51] kthyng commented on #3344
@mcflugen Oh ok no problem! Any of the options are fine — just wanted to let you know what they are. Let me know when you're ready to move forward.

[2022-02-16 21:04] davidechicco commented on #4165
Thanks @danielskatz for the clear explanation. I've added some new parts and will make a new submission soon. I'll explain more details about the code.

[2022-02-16 21:18] CPBridge commented on #3579
@Kevin-Mattheus-Moerman  while I'm happy to help out where my expertise matches, I'm afraid I think this is too far outside my domain of knowledge to be able to provide a useful review. I have no experience with ultrasound image formation or raw signal processing or the algorithms implemented by this toolbox, only image analysis. Apologies.

[2022-02-16 21:35] Nikoleta-v3 commented on #4056
Thank you for your review @strengejacke!

I agree with the reviewer that the paper should include both a `summary` and a `statement-of-need`. The summary describes what the package is whereas the statement of need describes why the package is important. I find summaries very useful. You can just include 2-3 sentences describing `APCtools`. Here is an example: https://joss.theoj.org/papers/10.21105

[2022-02-16 21:56] yhtang commented on #4171
I am not quite sure if it is meaningful to have two co-first authors for this two-author paper, and if this accurately reflects the contributions of the authors:
[code]
@elizabethnewman: could you please share some thoughts on it?

[2022-02-16 22:24] Kevin-Mattheus-Moerman commented on #3579
@whedon add @Samuel-Wagner as reviewer

[2022-02-16 22:24] whedon commented on #3579
OK, @Samuel-Wagner is now a reviewer

[2022-02-16 23:39] eloisabentivegna commented on #3908
I am happy to share that @abhimaniyar has agreed to review this submission. We are now ready to start. 🎉

[2022-02-16 23:40] amoradinejad commented on #3908
Great, thank you for the information.

Best,
Azadeh Moradinezhad Dizgah

[2022-02-16 23:42] eloisabentivegna commented on #3908
@whedon assign @ziotom78 as reviewer

[2022-02-16 23:42] whedon commented on #3908
OK, @ziotom78 is now a reviewer

[2022-02-16 23:42] eloisabentivegna commented on #3908
@whedon add @abhimaniyar as reviewer

[2022-02-16 23:42] whedon commented on #3908
OK, @abhimaniyar is now a reviewer

[2022-02-16 23:43] eloisabentivegna commented on #3908
@whedon start review

[2022-02-16 23:43] whedon opened #4173 "[REVIEW]: limHaloPT: A numerical Package for Accurate Modelling of Line Intensity Power spectrum"
**Submitting author:** @amoradinejad (<a href="http://orcid.org/0000-0001-8841-9989">Azadeh Moradinezhad Dizgah</a>)
**Repository:** <a href="https://github.com/amoradinejad/limHaloPT" target ="_blank">https://github.com/amoradinejad/limHaloPT</a>
**Version:** v1.0.0
**Editor:** @eloisabentivegna
**Reviewer:** @ziotom78, @abhimaniyar
**Archive:** Pending

**:warning: JOSS reduced service mode :war

[2022-02-16 23:43] whedon commented on #3908
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4173.

[2022-02-16 23:43] #3908 closed

[2022-02-16 23:43] whedon commented on #4173
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ziotom78, @abhimaniyar it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2022-02-16 23:43] whedon commented on #4173
Failed to discover a `Statement of need` section in paper

[2022-02-16 23:43] whedon commented on #4173
Wordcount for `paper.md` is 816

[2022-02-16 23:43] whedon commented on #4173
[code]

[2022-02-16 23:44] whedon commented on #4173
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04173/joss.04173/10.21105.joss.04173.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04173/joss.04173/10.21105.joss.04173.pdf) :page_facing_up: :point_left:

[2022-02-16 23:45] danielskatz commented on #4145
👋 @caleblucas - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-pa

[2022-02-16 23:45] danielskatz commented on #4145
@whedon reject

[2022-02-16 23:45] whedon commented on #4145
Paper rejected.

[2022-02-16 23:45] #4145 closed

[2022-02-16 23:47] whedon opened #4174 "[PRE REVIEW]: easyDifferentialGeneCoexpression, a handy bioinformatics tool to easily perform differential gene coexpression"
**Submitting author:** @davidechicco (<a href="http://orcid.org/0000-0001-9655-7142">Davide Chicco</a>)
**Repository:** https://github.com/davidechicco/easyDifferentialGeneCoexpression
**Branch with paper.md** (empty if default branch):
**Version:** v1.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challe

[2022-02-16 23:47] whedon commented on #4174
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-02-16 23:47] whedon commented on #4174
Wordcount for `paper.md` is 1046

[2022-02-16 23:47] whedon commented on #4174
[code]

[2022-02-16 23:47] whedon commented on #4174
[code]

[2022-02-16 23:48] whedon commented on #4174
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04174/joss.04174/10.21105.joss.04174.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04174/joss.04174/10.21105.joss.04174.pdf) :page_facing_up: :point_left:

[2022-02-16 23:49] danielskatz commented on #4174
@whedon check repository

[2022-02-16 23:50] whedon commented on #4174
Wordcount for `paper.md` is 1046

[2022-02-16 23:50] whedon commented on #4174
[code]

[2022-02-16 23:52] danielskatz commented on #4174
@davidechicco - Looking at the comments in the previous version (https://github.com/openjournals/joss-reviews/issues/4165), I see discussion about Perl code, but that code is not apparent in this repository.  Can you explain what software you ask submitting for review?  I'm going to mark this for a scope query by editors, who will take into account your response

[2022-02-16 23:52] danielskatz commented on #4174
@whedon query scope

[2022-02-16 23:52] whedon commented on #4174
Submission flagged for editorial review.

[2022-02-16 23:53] whedon opened #4175 "[PRE REVIEW]: AsFem: A simple to use finite element package for phase-field modeling and multiphysics simulation"
**Submitting author:** @yangbai90 (<a href="http://orcid.org/0000-0003-1946-4377">yang bai</a>)
**Repository:** https://github.com/M3Group/AsFem
**Branch with paper.md** (empty if default branch):
**Version:** v0.7
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @vijaysm, @mscroggs, @schruste
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challen

[2022-02-16 23:53] whedon commented on #4175
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-02-16 23:54] whedon commented on #4175
Wordcount for `paper.md` is 590

[2022-02-16 23:54] whedon opened #4176 "[PRE REVIEW]: PlanktonIndividuals.jl: A GPU supported individual-based phytoplankton life cycle model."
**Submitting author:** @zhenwu0728 (<a href="http://orcid.org/0000-0001-8474-4274">Zhen Wu</a>)
**Repository:** https://github.com/JuliaOcean/PlanktonIndividuals.jl
**Branch with paper.md** (empty if default branch):
**Version:** v0.4.9
**Editor:** @elbeejay
**Reviewers:** @navidcy, @Datseris
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2022-02-16 23:54] whedon commented on #4176
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-02-16 23:54] whedon commented on #4175
[code]

[2022-02-16 23:54] whedon opened #4177 "[PRE REVIEW]: ospgrillage: A bridge deck grillage analysis preprocessor for `OpenSeesPy`"
**Submitting author:** @ccaprani (<a href="http://orcid.org/0000-0001-6166-0895">Colin C. Caprani</a>)
**Repository:** https://github.com/MonashSmartStructures/ospgrillage
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.1
**Editor:** @prashjha
**Reviewers:** @vsangelidakis, @dbrizard
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to t

[2022-02-16 23:54] whedon commented on #4177
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-02-16 23:54] whedon commented on #4175
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04175/joss.04175/10.21105.joss.04175.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04175/joss.04175/10.21105.joss.04175.pdf) :page_facing_up: :point_left:

[2022-02-16 23:55] whedon commented on #4175
[code]

[2022-02-16 23:55] whedon commented on #4176
Wordcount for `paper.md` is 827

[2022-02-16 23:55] whedon commented on #4176
[code]

[2022-02-16 23:55] whedon commented on #4177
Wordcount for `paper.md` is 1245

[2022-02-16 23:55] whedon commented on #4177
[code]

[2022-02-16 23:55] whedon commented on #4177
[code]

[2022-02-16 23:55] whedon commented on #4176
[code]

[2022-02-16 23:56] whedon commented on #4177
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04177/joss.04177/10.21105.joss.04177.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04177/joss.04177/10.21105.joss.04177.pdf) :page_facing_up: :point_left:

[2022-02-16 23:57] whedon commented on #4176
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04176/joss.04176/10.21105.joss.04176.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04176/joss.04176/10.21105.joss.04176.pdf) :page_facing_up: :point_left:

[2022-02-16 23:57] danielskatz commented on #4175
@yangbai90 - I will next try to find an editor for your submission.  While I do this, you could work on the possibly missing DOIs that whedon suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@whedon check references` to check again, and the command `@whedon generate pdf` when the references are right to make a new PDF. Whedon

[2022-02-17 00:00] danielskatz commented on #4175
After reviewing the editors, it seems all appropriate editors are busy with other submissions, so I'm going to put this on our waiting list for now, until one becomes available.

[2022-02-17 00:02] danielskatz commented on #4177
👋 @prashjha - Do you think you would be able to edit this submission?

[2022-02-17 00:03] danielskatz commented on #4177
@whedon invite @prashjha as editor

[2022-02-17 00:03] whedon commented on #4177
@prashjha has been invited to edit this submission.

[2022-02-17 00:03] danielskatz commented on #4177
@ccaprani - While we get this moving, you could work on the possibly missing DOIs that whedon suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@whedon check references` to check again, and the command `@whedon generate pdf` when the references are right to make a new PDF. Whedon commands need to be the first entry in a new com

[2022-02-17 00:12] davidechicco commented on #4174
Thanks @danielskatz for considering my submission.
I ask to review my `easyDifferentialGeneCoexpression` R package, whose GitHub repository can be found [here](https://github.com/davidechicco/easyDifferentialGeneCoexpression) and whose published R library can be found on [CRAN](https://cran.r-project.org/package=easyDifferentialGeneCoexpression). My collaborator @AbbasAlameer developed a Perl/bash

[2022-02-17 00:16] danielskatz commented on #4176
👋 @elbeejay - Would you be willing to edit this JOSS submission?

[2022-02-17 00:17] danielskatz commented on #4176
@whedon invite @elbeejay as editor

[2022-02-17 00:17] whedon commented on #4176
@elbeejay has been invited to edit this submission.

[2022-02-17 00:17] danielskatz commented on #4176
@zhenwu0728 - while we get the process started, you could work on the possibly missing DOIs that whedon suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@whedon check references` to check again, and the command `@whedon generate pdf` when the references are right to make a new PDF. Whedon commands need to be the first entry in

[2022-02-17 00:19] danielskatz commented on #3901
@mikldk needs to run `@whedon recommend-accept from branch joss` next

[2022-02-17 00:42] zhenwu0728 commented on #4176
@danielskatz - Thanks! Just added missing DOIs in paper.bib.

[2022-02-17 00:42] zhenwu0728 commented on #4176
@whedon check references

[2022-02-17 00:43] whedon commented on #4176
[code]

[2022-02-17 00:46] zhenwu0728 commented on #4176
@whedon generate pdf

[2022-02-17 00:48] whedon commented on #4176
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04176/joss.04176/10.21105.joss.04176.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04176/joss.04176/10.21105.joss.04176.pdf) :page_facing_up: :point_left:

[2022-02-17 01:00] zhenwu0728 commented on #4176
potential reviewers:

vchuravy, an expert of CUDA.jl which PlanktonIndividuals.jl based on;
ali-ramadhan,  an expert of ocean modeling and Julia;
simonbyrne, an expert of climate modeling and Julia.

[2022-02-17 01:09] ccaprani commented on #4177
@danielskatz thank you for your time on this. I've fixed the doi problem.

Suggested reviewer github handles (without @) are:

**Existing JOSS**:

- iammix
- arunmano121
- vsangelidakis
- Jesusbill

**New to JOSS**:

- m-clare: OSS-oriented structural engineer
- zhuminjie: developer of OpenSeesPy
- mhscott: maintainer of OpenSees
- hackl: OSS-oriented structural engineer
- robbievanleeuwen: OSS-or

[2022-02-17 01:23] ccaprani commented on #4177
@whedon check references

[2022-02-17 01:24] whedon commented on #4177
[code]

[2022-02-17 01:24] ccaprani commented on #4177
@whedon generate pdf

[2022-02-17 01:25] whedon commented on #4177
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04177/joss.04177/10.21105.joss.04177.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04177/joss.04177/10.21105.joss.04177.pdf) :page_facing_up: :point_left:

[2022-02-17 01:28] ccaprani commented on #4177
@danielskatz thank you for your time on this. I've fixed the doi problem.

Suggested reviewer github handles (without @) are:

**Existing JOSS**:

- iammix
- arunmano121
- vsangelidakis
- Jesusbill

**New to JOSS**:

- m-clare: OSS-oriented structural engineer
- zhuminjie: developer of OpenSeesPy
- mhscott: maintainer of OpenSees
- hackl: OSS-oriented structural engineer
- robbievanleeuwen: OSS-or

[2022-02-17 02:03] davidechicco commented on #4174
I checked the list and I suggest the following ten reviewers, picked from the bottom: chenyenchung, itismeghasyam, chrisamiller, ramiromagno, anthonyofseattle, llrs, allaway, fernandomayer*, franjoim, luciorq*
\*   most suitable two in my opinion

Thanks for handling the review of my short manuscript

[2022-02-17 02:28] nastaran62 commented on #4045
@whedon generate pdf from branch master

[2022-02-17 02:28] whedon commented on #4045
[code]

[2022-02-17 02:30] nastaran62 commented on #4045
@whedon generate pdf from branch master

[2022-02-17 02:30] whedon commented on #4045
[code]

[2022-02-17 02:30] whedon commented on #4045
PDF failed to compile for issue #4045 with the following error:
[code]

[2022-02-17 02:32] nastaran62 commented on #4045
@whedon generate pdf from branch master

[2022-02-17 02:33] whedon commented on #4045
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04045/joss.04045/10.21105.joss.04045.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04045/joss.04045/10.21105.joss.04045.pdf) :page_facing_up: :point_left:

[2022-02-17 02:42] emdupre commented on #4098
Hi @conorheins, thanks for confirming on this ! It's entirely up to you whether you'd like to address @seankmartin and @patrickmineault's reviews as they come in or all at once.

After the reviews are in, I'll check-in with you on the status of your response. If you've been addressing comments as they come in, this will usually mean confirming that you're ready to receive additional reviewer feedb

[2022-02-17 02:44] nastaran62 commented on #4045
@whedon generate pdf from branch master

[2022-02-17 02:44] whedon commented on #4045
[code]

[2022-02-17 02:52] nastaran62 commented on #4045
@whedon generate pdf from branch master

[2022-02-17 02:52] whedon commented on #4045
[code]

[2022-02-17 02:52] whedon commented on #4045
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04045/joss.04045/10.21105.joss.04045.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04045/joss.04045/10.21105.joss.04045.pdf) :page_facing_up: :point_left:

[2022-02-17 02:54] elbeejay commented on #4176
@whedon assign me as editor

[2022-02-17 02:54] whedon commented on #4176
OK, the editor is @elbeejay

[2022-02-17 02:57] elbeejay commented on #4176
@zhenwu0728 I'll take a closer look at this tomorrow - thanks for fixing the DOIs and suggesting some potential reviewers.

[2022-02-17 02:58] nastaran62 commented on #4045
@whedon generate pdf from branch master

[2022-02-17 02:58] whedon commented on #4045
[code]

[2022-02-17 02:59] whedon commented on #4045
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04045/joss.04045/10.21105.joss.04045.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04045/joss.04045/10.21105.joss.04045.pdf) :page_facing_up: :point_left:

[2022-02-17 03:06] nastaran62 commented on #4045
@whedon generate pdf from branch master

[2022-02-17 03:06] whedon commented on #4045
[code]

[2022-02-17 03:06] whedon commented on #4045
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04045/joss.04045/10.21105.joss.04045.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04045/joss.04045/10.21105.joss.04045.pdf) :page_facing_up: :point_left:

[2022-02-17 03:10] nastaran62 commented on #4045
@whedon generate pdf from branch master

[2022-02-17 03:10] whedon commented on #4045
[code]

[2022-02-17 03:11] whedon commented on #4045
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04045/joss.04045/10.21105.joss.04045.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04045/joss.04045/10.21105.joss.04045.pdf) :page_facing_up: :point_left:

[2022-02-17 03:21] nastaran62 commented on #4045
@whedon generate pdf from branch master

[2022-02-17 03:21] whedon commented on #4045
[code]

[2022-02-17 03:22] whedon commented on #4045
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04045/joss.04045/10.21105.joss.04045.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04045/joss.04045/10.21105.joss.04045.pdf) :page_facing_up: :point_left:

[2022-02-17 03:24] nastaran62 commented on #4045
@whedon generate pdf from branch master

[2022-02-17 03:24] whedon commented on #4045
[code]

[2022-02-17 03:24] whedon commented on #4045
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04045/joss.04045/10.21105.joss.04045.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04045/joss.04045/10.21105.joss.04045.pdf) :page_facing_up: :point_left:

[2022-02-17 03:24] nastaran62 commented on #4045
@whedon generate pdf from branch master

[2022-02-17 03:24] whedon commented on #4045
[code]

[2022-02-17 03:25] whedon commented on #4045
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04045/joss.04045/10.21105.joss.04045.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04045/joss.04045/10.21105.joss.04045.pdf) :page_facing_up: :point_left:

[2022-02-17 04:05] nastaran62 commented on #4045
@whedon generate pdf from branch master

[2022-02-17 04:05] whedon commented on #4045
[code]

[2022-02-17 04:06] whedon commented on #4045
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04045/joss.04045/10.21105.joss.04045.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04045/joss.04045/10.21105.joss.04045.pdf) :page_facing_up: :point_left:

[2022-02-17 04:15] nastaran62 commented on #4045
@whedon generate pdf from branch master

[2022-02-17 04:15] whedon commented on #4045
[code]

[2022-02-17 04:16] whedon commented on #4045
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04045/joss.04045/10.21105.joss.04045.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04045/joss.04045/10.21105.joss.04045.pdf) :page_facing_up: :point_left:

[2022-02-17 04:18] nastaran62 commented on #4045
@whedon generate pdf from branch master

[2022-02-17 04:18] whedon commented on #4045
[code]

[2022-02-17 04:19] whedon commented on #4045
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04045/joss.04045/10.21105.joss.04045.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04045/joss.04045/10.21105.joss.04045.pdf) :page_facing_up: :point_left:

[2022-02-17 04:20] nastaran62 commented on #4045
@whedon generate pdf from branch master

[2022-02-17 04:20] whedon commented on #4045
[code]

[2022-02-17 04:20] whedon commented on #4045
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04045/joss.04045/10.21105.joss.04045.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04045/joss.04045/10.21105.joss.04045.pdf) :page_facing_up: :point_left:

[2022-02-17 04:23] nastaran62 commented on #4045
@whedon generate pdf from branch master

[2022-02-17 04:23] whedon commented on #4045
[code]

[2022-02-17 04:24] whedon commented on #4045
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04045/joss.04045/10.21105.joss.04045.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04045/joss.04045/10.21105.joss.04045.pdf) :page_facing_up: :point_left:

[2022-02-17 04:38] nastaran62 commented on #4045
@whedon generate pdf from branch master

[2022-02-17 04:38] whedon commented on #4045
[code]

[2022-02-17 04:38] whedon commented on #4045
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04045/joss.04045/10.21105.joss.04045.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04045/joss.04045/10.21105.joss.04045.pdf) :page_facing_up: :point_left:

[2022-02-17 06:02] nastaran62 commented on #4045
@peircej Thank you very much for your review and comments. We applied the changes as follows.

Community guidelines: We added it to the documents and `.github` repo, so it's available to all three repos.

State of the Field: We updated the paper and also added two issues related to this.

@ixjlyons Thank you very much for your review, comments, and suggestions. We applied the changes as follows.

[2022-02-17 06:16] mdhaber commented on #4159
@whedon check references from branch joss_studentized_range

[2022-02-17 06:16] whedon commented on #4159
[code]

[2022-02-17 06:16] whedon commented on #4159
[code]

[2022-02-17 06:17] mdhaber commented on #4159
@whedon generate pdf from branch joss_studentized_range

[2022-02-17 06:17] whedon commented on #4159
[code]

[2022-02-17 06:19] whedon commented on #4159
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04159/joss.04159/10.21105.joss.04159.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04159/joss.04159/10.21105.joss.04159.pdf) :page_facing_up: :point_left:

[2022-02-17 06:27] CFGrote commented on #3905
For me this looks good to go! My issues in https://github.com/Magritte-code/Magritte are resolved and I ticked all boxes above.

[2022-02-17 07:08] osorensen commented on #4138
@msalibian would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-02-17 07:11] osorensen commented on #4168
@tijeco @kana4 @askerdb would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-02-17 07:25] jbytecode commented on #3965
Dear @matthieuaussal

Are there any new developments and progress in light of @pitsianis's suggestions?

Thank you in advance.

[2022-02-17 08:24] yangbai90 commented on #4175
@whedon check references

[2022-02-17 08:24] whedon commented on #4175
[code]

[2022-02-17 08:26] yangbai90 commented on #4175
@whedon check references

[2022-02-17 08:27] whedon commented on #4175
[code]

[2022-02-17 08:27] yangbai90 commented on #4175
@whedon generate pdf

[2022-02-17 08:28] whedon commented on #4175
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04175/joss.04175/10.21105.joss.04175.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04175/joss.04175/10.21105.joss.04175.pdf) :page_facing_up: :point_left:

[2022-02-17 08:52] yangbai90 commented on #4175
The cloc output for pure AsFem code (without external packages) is shown below:

[code]

[2022-02-17 09:17] yangbai90 commented on #4175
I searched your reviewer database for people comfortable reviewing the package and these names came up: trallard, jmbr, nnadeau, iagolemos1, thelfer, smiths, iammix, vsangelidakis, kylebeggs, felipefr, SaumikDana

[2022-02-17 09:18] dominiquesydow commented on #3951
Thank you, I just merged the suggested changes.

[2022-02-17 09:20] yangbai90 commented on #4175
Hi @danielskatz,  I mentioned above the suitable reviewers for this article. Thank you!

[2022-02-17 09:26] dominiquesydow commented on #3951
I have a quick question regarding this. The zenodo repository covers the whole OpenCADD package, while this paper covers only one module of OpenCADD (i.e., OpenCADD-KLIFS). If I changed the zenodo repo's title and author list to this paper's title and author list, it would not reflect the full content of OpenCADD and the work other people have done for previous versions of OpenCADD anymore.
Would

[2022-02-17 09:47] Kevin-Mattheus-Moerman commented on #4106
Thanks @urban-fasel I'll have a look at those potential reviewers

[2022-02-17 09:51] Kevin-Mattheus-Moerman commented on #4106
@weymouth I was wondering if this submission on flexible wings featuring FSI is of interest to you and if you could review it for [JOSS](https://joss.theoj.org/). It does require MATLAB though. If you are not available/able, perhaps you could suggest a colleague? Thanks.

Short paper: https://github.com/openjournals/joss-papers/blob/joss.04106/joss.04106/10.21105.joss.04106.pdf
Software: https://g

[2022-02-17 10:17] ajstewartlang commented on #4045
Thanks @peircej and @ixjlyons for those helpful comments - and thanks @nastaran62 for your responses.

:wave: @openjournals/dev Might someone be able to advise re. the referencing glitch in the built PDF please? The expected outcome when the PDF is generated is the following:

`The recorded data was used to make multimodal emotion recognition models (Saffaryazdi, et al., 2022).`

But what is actua

[2022-02-17 10:33] xuanxu commented on #3905
great! thanks @CFGrote

[2022-02-17 10:42] weymouth commented on #4106
I don't use/have MATLAB. Looks interesting though.

[2022-02-17 10:56] mikldk commented on #3901
Sorry about the delay to you.

[2022-02-17 10:56] mikldk commented on #3901
@whedon recommend-accept from branch joss

[2022-02-17 10:56] whedon commented on #3901
[code]

[2022-02-17 10:56] whedon commented on #3901
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX entry: cite-key missing

[2022-02-17 10:57] whedon commented on #3901
PDF failed to compile for issue #3901 with the following error:
[code]

[2022-02-17 10:58] mikldk commented on #3901
@whedon generate pdf from branch joss

[2022-02-17 10:58] whedon commented on #3901
[code]

[2022-02-17 10:59] whedon commented on #3901
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03901/joss.03901/10.21105.joss.03901.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03901/joss.03901/10.21105.joss.03901.pdf) :page_facing_up: :point_left:

[2022-02-17 10:59] mikldk commented on #3901
I'll look at this problem. Please hang on.

[2022-02-17 11:34] alexander-pastukhov commented on #3901
My bad, somehow two papers were included twice in the bib file. I guess that was the problem,

[2022-02-17 11:34] alexander-pastukhov commented on #3901
@whedon generate pdf from branch joss

[2022-02-17 11:34] whedon commented on #3901
[code]

[2022-02-17 11:35] whedon commented on #3901
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03901/joss.03901/10.21105.joss.03901.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03901/joss.03901/10.21105.joss.03901.pdf) :page_facing_up: :point_left:

[2022-02-17 11:56] mikldk commented on #3901
@whedon recommend-accept from branch joss

[2022-02-17 11:56] whedon commented on #3901
[code]

[2022-02-17 11:56] whedon commented on #3901
[code]

[2022-02-17 11:57] whedon commented on #3901
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2971

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2971, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-02-17 12:42] jedbrown commented on #4142
@whedon add @mattmartineau as reviewer

[2022-02-17 12:42] whedon commented on #4142
OK, @mattmartineau is now a reviewer

[2022-02-17 12:45] jedbrown commented on #4142
Hi @mattmartineau :wave: Welcome to JOSS and thanks for agreeing to review! The comments from @whedon above outline the review process, which takes place in this thread (possibly with issues filed in the PyAMG repository). I'll be watching this thread if you have any questions.

The JOSS review is different from most other journals. Our goal is to work with the authors to help them meet our criter

[2022-02-17 13:17] danielskatz commented on #3951
Ok, that makes sense. Thanks for the explanation.

[2022-02-17 13:20] whedon commented on #3951
[code]

[2022-02-17 13:20] whedon commented on #3951
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2972

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2972, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-02-17 13:21] danielskatz commented on #3951
@whedon accept deposit=true

[2022-02-17 13:21] whedon commented on #3951
[code]

[2022-02-17 13:22] whedon commented on #3951
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1494301296823840769) 👈 🐦🐦🐦

[2022-02-17 13:22] whedon commented on #3951
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2973
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03951](https://doi.org/10.21105/joss.03951)
2. If everything look

[2022-02-17 13:27] elizabethnewman commented on #4171
Dear @yhtang

Thank you for your question about the contributions to the paper.  The commit history does not reflect the contributions accurately.  The repository was a true collaboration between me and my co-author.  We had many discussions regarding the repository design, the examples to provide, and the paper writeup.  It is an accurate representation of the collaboration to list us as co-first

[2022-02-17 13:35] danielskatz commented on #3901
@alexander-pastukhov - I've suggested some edits in https://github.com/alexander-pastukhov/bistablehistory/pull/4. Please check this and merge it if they seem correct to you.

[2022-02-17 13:35] #3951 closed

[2022-02-17 13:35] whedon commented on #3951
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03951/status.svg)](https://doi.org/10.21105/joss.03951)

**We need your help!**

Journal of Open Source Softwa

[2022-02-17 13:39] danielskatz commented on #4045
@ajstewartlang & @nastaran62 - I don't see the problem.  It seems that the second name in each of these references is needed to distinguish between them, since they would otherwise be identical.  Am I misunderstanding something?

[2022-02-17 13:43] jbytecode commented on #3448
@koaning, are you ready to pick up this submission again?

[2022-02-17 13:44] ajstewartlang commented on #4045
@danielskatz you're right - and it's the same year so the second author name is needed. Thanks!

[2022-02-17 13:55] bretsw commented on #4130
@danielskatz, thank you for your follow up response and providing more explanation. I appreciate it.

[2022-02-17 14:06] alexander-pastukhov commented on #3901
@danielskatz Merged! Thank you for spotting the mistakes!

[2022-02-17 14:22] danielskatz commented on #3901
@whedon recommend-accept from branch joss

[2022-02-17 14:22] whedon commented on #3901
[code]

[2022-02-17 14:23] whedon commented on #3901
[code]

[2022-02-17 14:23] whedon commented on #3901
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2974

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2974, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-02-17 14:27] danielskatz commented on #3901
@whedon accept deposit=true from branch joss

[2022-02-17 14:28] whedon commented on #3901
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1494317780728000513) 👈 🐦🐦🐦

[2022-02-17 14:33] danielskatz commented on #3901
Congratulations to @alexander-pastukhov (Alexander Pastukhov)!!

And thanks to @fernandomayer and @fartist for reviewing, and @mikldk for editing!
We couldn't do this without you!

[2022-02-17 14:33] #3901 closed

[2022-02-17 14:33] whedon commented on #3901
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03901/status.svg)](https://doi.org/10.21105/joss.03901)

**We need your help!**

Journal of Open Source Softwa

[2022-02-17 14:34] whedon opened #4178 "[PRE REVIEW]: Archeofrag: an R package for refitting and spatial analysis in archaeology. Presentation and tutorial"
**Submitting author:** @sebastien-plutniak (<a href="http://orcid.org/0000-0002-6674-3806">Sébastien Plutniak</a>)
**Repository:** https://github.com/sebastien-plutniak/archeofrag
**Branch with paper.md** (empty if default branch):
**Version:** v0.7.1
**Editor:** @martinfleis
**Reviewers:** @joeroe, @zoometh
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due t

[2022-02-17 14:34] whedon commented on #4178
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-02-17 14:34] whedon commented on #4178
Wordcount for `archeofrag-paper.md` is 4403

[2022-02-17 14:34] whedon commented on #4178
[code]

[2022-02-17 14:34] whedon commented on #4178
Failed to discover a valid open source license.

[2022-02-17 14:34] whedon commented on #4178
[code]

[2022-02-17 14:35] alexander-pastukhov commented on #3901
@danielskatz @fernandomayer @mikldk Thank you for your help and guidance! That was a super interesting, useful and fun experience!

[2022-02-17 14:39] danielskatz commented on #4178
👋 @sebastien-plutniak - thanks for your submission.  Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

[2022-02-17 14:39] danielskatz commented on #4178
@whedon query scope

[2022-02-17 14:39] whedon commented on #4178
Submission flagged for editorial review.

[2022-02-17 14:42] danielskatz commented on #4178
Assuming your submission passes this step, you should then reduce the size of your paper.  It's currently 4403 words, and JOSS suggests papers of around 1000 words.  See https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain and the [example paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography)

[2022-02-17 14:45] hongyuanjia commented on #4030
@KristinaRiemer @mitmat @bczernecki I have opened issues in the epwshiftr repo to be addressed as per your comments. I will address them one by one. Once all are solved, I will request to process the review.

- [ ] https://github.com/ideas-lab-nus/epwshiftr/issues/32
- [ ] https://github.com/ideas-lab-nus/epwshiftr/issues/37
- [ ] https://github.com/ideas-lab-nus/epwshiftr/issues/38
- [ ] Provide

[2022-02-17 15:31] whedon commented on #4056
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04056/joss.04056/10.21105.joss.04056.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04056/joss.04056/10.21105.joss.04056.pdf) :page_facing_up: :point_left:

[2022-02-17 15:34] bauer-alex commented on #4056
I'll render the pdf once again, after another minor update to enlarge one figure in the rendered version.

[2022-02-17 15:34] bauer-alex commented on #4056
@whedon generate pdf

[2022-02-17 15:35] whedon commented on #4056
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04056/joss.04056/10.21105.joss.04056.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04056/joss.04056/10.21105.joss.04056.pdf) :page_facing_up: :point_left:

[2022-02-17 16:30] TomTranter commented on #4051
@timtroendle

[2022-02-17 16:36] strengejacke commented on #4056
Thanks, looks good to me!

[2022-02-17 18:09] mlp6 commented on #3579
Right now I am over-committed with "service" related activities, so I will no longer be able to review this.

[2022-02-17 18:55] diehlpk commented on #3390
@Kevin-Mattheus-Moerman Any news?

[2022-02-17 18:56] diehlpk commented on #4075
Hi @abhilash12iec002 could you please have a look at the last missing item?

[2022-02-17 19:55] elbeejay commented on #4176
@zhenwu0728 some minor suggestions for the paper:
- Put parentheses around the figure references (line 13, 24, 62)
- Pluralize "waterbody" on line 36 to be consistent with the plural "grids"
- Switch "taylored" to "tailored" on line 53

Overall the submission package looks good to me, and I'm excited to see this be reviewed and eventually published in JOSS.

[2022-02-17 20:07] whedon commented on #4176
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04176/joss.04176/10.21105.joss.04176.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04176/joss.04176/10.21105.joss.04176.pdf) :page_facing_up: :point_left:

[2022-02-17 20:10] elbeejay commented on #4176
:wave: @simonbyrne, @navidcy, @Balinus, @simone-silvestri would you be willing to review this submission to JOSS? All of you have backgrounds working in Julia, as well as on ocean, climate, and hydrodynamic models which I believe would allow you to provide high-quality and insightful reviews. At JOSS we do open checklist-driven reviews; peer-review criteria can be viewed [here](https://joss.readth

[2022-02-17 20:13] dhimmel commented on #4136
# Daniel Himmelstein's Review

I completed my checklist above. Some general comments: I think it's helpful to have a Python library to interact with BioPax models. The loaders are versatile and convenient. I explored the package briefly in [this notebook](https://colab.research.google.com/drive/1iNbqZPBy02riZCIgshY_Y_sVdzHJRSZN?usp=sharing). I opened https://github.com/indralab/pybiopax/issues/28

[2022-02-17 20:13] gcattan commented on #4114
Hi @ekinney-lang
Thank you very much for reviewing this code. It is my first code being reviewed in JOSS too!
As far as I am concerned, both ways to provide feedback are ok :)

[2022-02-17 20:42] askerdb commented on #4168
I would be happy to review it!

[2022-02-17 21:29] mcflugen commented on #3344
@kthyng I think we've addressed all of the comments and are now ready to go. I'm going over things now to make sure.

[2022-02-17 22:04] whedon commented on #4129
:wave: @tmigot, please update us on how your review is going (this is an automated reminder).

[2022-02-17 22:04] whedon commented on #4129
:wave: @peanutfun, please update us on how your review is going (this is an automated reminder).

[2022-02-17 22:53] whedon commented on #4050
OK, the reviewer has been re-invited.

@chuckaustin please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2022-02-17 22:59] Nikoleta-v3 commented on #4056
Thank you both for your work 😃

[2022-02-17 23:38] rkurchin commented on #4149
Absolutely – take your time, and congratulations on finishing up!

[2022-02-17 23:39] rkurchin commented on #4104
@fanchercm, just checking on regarding progress addressing these issues.

[2022-02-17 23:40] whedon opened #4179 "[PRE REVIEW]: lintegrate: A C/Python numerical integration library for working in log-space"
**Submitting author:** @mattpitkin (<a href="http://orcid.org/0000-0003-4548-526X">Matthew Pitkin</a>)
**Repository:** <a href="https://github.com/mattpitkin/lintegrate" target ="_blank">https://github.com/mattpitkin/lintegrate</a>
**Version:** v0.1.11
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2022-02-17 23:40] whedon commented on #4179
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-02-17 23:40] whedon commented on #4179
[code]

[2022-02-17 23:40] whedon commented on #4179
PDF failed to compile for issue #4179 with the following error:
[code]

[2022-02-17 23:40] rkurchin commented on #4164
👋 reviewers @alejandrogallo and @arepstein, please let me know if you have any questions about the review process or how to get started!

[2022-02-17 23:42] whedon commented on #4179
[code]

[2022-02-17 23:42] whedon commented on #4179
[code]

[2022-02-17 23:42] danielskatz commented on #4179
@whedon generate pdf from branch paper

[2022-02-17 23:42] whedon commented on #4179
[code]

[2022-02-17 23:43] whedon commented on #4179
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04179/joss.04179/10.21105.joss.04179.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04179/joss.04179/10.21105.joss.04179.pdf) :page_facing_up: :point_left:

[2022-02-17 23:48] danielskatz commented on #4179
👋 @mattpitkin - thanks for your submission.  Due to the relatively small amount of original code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

[2022-02-17 23:48] danielskatz commented on #4179
@whedon query scope

[2022-02-17 23:48] whedon commented on #4179
Submission flagged for editorial review.

[2022-02-18 01:38] bgyori commented on #4136
Thank you @dhimmel! I updated the links in the manuscript to use the `0.1.0` tag which should guarantee that they will be stable.

[2022-02-18 01:47] blakeaw commented on #4149
No problem, @mortele.  Good luck!

[2022-02-18 02:15] jamesrhester commented on #4089
Hmm, no [REVIEW] issue has been created yet. Is that right?

[2022-02-18 02:34] YuliyaLab commented on #4080
Hello @jmschrei,
we completed the revisions suggested by one of the reviewers (suggestions are highly appreciated!), but have not at all heard from the 2nd reviewer. Could we please ask you to check on that? We have been in review since November of last year.
Many thanks!!

[2022-02-18 03:48] kellyrowland commented on #4089
That's right, generally editors wait until at least two reviewers are
confirmed to create the review issue.

Having said that, if you'd like to get started on the review, I think I
could start that issue and seek a second reviewer in parallel.

On Thu, Feb 17, 2022, 6:15 PM James Hester ***@***.***> wrote:

[2022-02-18 04:49] jamesrhester commented on #4089
Just wanted to make sure I hadn't missed anything. Realistically I can't get started on the review until end of next week, so if there's no second reviewer before then perhaps that would be the moment to start the issue.

[2022-02-18 06:33] osorensen commented on #4168
@whedon add @askerdb as reviewer

[2022-02-18 06:33] whedon commented on #4168
OK, @askerdb is now a reviewer

[2022-02-18 06:53] yhtang commented on #4171
Got it. Thanks for the info!

[2022-02-18 07:01] jbytecode commented on #4171
dear @yhtang - yes, the best place for hosting the lengthy details is a separate thread. no confusion. it was a suggestion to follow up the main process. no problem. thank you!

[2022-02-18 08:02] timtroendle commented on #4051
@whedon set v0.3 as version

[2022-02-18 08:02] timtroendle commented on #4051
@whedon set 10.5281/zenodo.6123712 as doi

[2022-02-18 08:03] timtroendle commented on #4051
@whedon set 10.5281/zenodo.6123712 as archive

[2022-02-18 08:03] whedon commented on #4051
OK. <a href="https://doi.org/10.5281/zenodo.6123712" target="_blank">10.5281/zenodo.6123712</a> is the archive.

[2022-02-18 08:04] whedon commented on #4051
[code]

[2022-02-18 08:05] whedon commented on #4051
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2976

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2976, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-02-18 08:05] timtroendle commented on #2688
@garrettj403, @untzag, could you please give us a quick update how the review is going?

[2022-02-18 08:49] whedon commented on #3965
PDF failed to compile for issue #3965 with the following error:
[code]

[2022-02-18 08:58] matthieuaussal commented on #3965
@whedon generate pdf

[2022-02-18 08:58] whedon commented on #3965
PDF failed to compile for issue #3965 with the following error:
[code]

[2022-02-18 09:10] ajstewartlang commented on #4155
Thanks @rowlandseymour for agreeing to review this submission!

[2022-02-18 09:10] ajstewartlang commented on #4155
@whedon assign @rowlandseymour as reviewer

[2022-02-18 09:11] whedon commented on #3965
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03965/joss.03965/10.21105.joss.03965.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03965/joss.03965/10.21105.joss.03965.pdf) :page_facing_up: :point_left:

[2022-02-18 09:25] Nikoleta-v3 commented on #4056
@bauer-alex once @fernandomayer has completed their review and you have addressed their comments - I will also have a final look at the paper, and then it should be good to go 👍🏻

[2022-02-18 09:56] csoneson commented on #4116
Pinging @JoaoRodrigues and @ayaanhossain - would one of you be interested in reviewing this submission for JOSS?

[2022-02-18 09:58] Nikoleta-v3 commented on #4132
Thank you @ocramz 😄 🙏🏻

@whedon assign @ocramz as reviewer

[2022-02-18 09:59] Nikoleta-v3 commented on #4132
@whedon assign @ocramz as reviewer

[2022-02-18 12:02] whedon commented on #3579
OK, @mlp6 is no longer a reviewer

[2022-02-18 12:03] Kevin-Mattheus-Moerman commented on #3579
@AlainPlattner @emanuelhuber @fjsimons @michaelberks @ajmalkoti  would you be interested in reviewing this work (a MATLAB/octave toolbox for ultrasound imaging) for [the Journal of Open Source Software (JOSS)](https://joss.theoj.org)?
The smooth [review process](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) takes place on GitHub, and focuses on the [software](https://github.com/m

[2022-02-18 12:34] abhilash12iec002 commented on #4075
Hey @diehlpk, I have already shared my initial comments. If the author has addressed my comments, you may proceed further to a decision.

[2022-02-18 13:14] danielskatz commented on #4051
👋 @TomTranter - I'm the JOSS AEiC this week, who handles the remaining processing of your paper.

I see that the zenodo deposit has fairly different metadata than the paper.  The paper has 11 authors, the archive has 9. The paper authors don't have first names, only first initials, while the archive authors mostly have two names, except one who has three and one who only has one.  The titles of th

[2022-02-18 13:25] danielskatz commented on #4051
I have the following suggested change in the paper: https://github.com/pybamm-team/liionpack/pull/142

In addition, can you define DAE when you first use it?

[2022-02-18 14:36] cpalmer718 commented on #4138
@osorensen my apologies for the delay, it has been a challenging week. If there is still need, I would be happy to review this package. I completely understand if that is no longer needed.

[2022-02-18 15:02] osorensen commented on #4138
Thanks @cpalmer718, it would be much appreciated

[2022-02-18 15:02] whedon commented on #4138
OK, @cpalmer718 is now a reviewer

[2022-02-18 15:02] diehlpk commented on #4075
@whedon generate pdf

[2022-02-18 15:03] whedon commented on #4075
[code]

[2022-02-18 15:10] mattpitkin commented on #4179
@danielskatz no problem, thanks for letting me know.

[2022-02-18 15:32] mkitti commented on #3965
On line 177, please correct the spelling of "Finally".

[2022-02-18 16:45] matthieuaussal commented on #3965
@whedon generate pdf

[2022-02-18 16:46] whedon commented on #3965
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03965/joss.03965/10.21105.joss.03965.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03965/joss.03965/10.21105.joss.03965.pdf) :page_facing_up: :point_left:

[2022-02-18 16:49] matthieuaussal commented on #3965
@mkitti: fixed, thanks

[2022-02-18 17:07] TomTranter commented on #4051
@danielskatz the two authors who have not contributed code have contributed review of the paper and also supervision of the projects that the code was developed under. Is it ok to keep them on the paper? I will work to correct the other issues you raised. Apologies for the inconsistency it was my first time using zenodo

[2022-02-18 17:09] danielskatz commented on #4051
If the other two authors contributed to the software, I would add them to the zenodo - I think it's intended to recognize contributors to the project, not just those who made commits in the repo.  But this is your decision.

[2022-02-18 17:37] whedon commented on #4133
:wave: @joaorodrigues, please update us on how your review is going (this is an automated reminder).

[2022-02-18 17:37] whedon commented on #4133
:wave: @glatard, please update us on how your review is going (this is an automated reminder).

[2022-02-18 18:47] ptmerz commented on #4100
Two comments regarding version:

* @lilyminium and @pdebuyl: The version given in the first comment of this review is v0.2.4. The version we are reviewing is 0.3.1. I think this was fixed in the pre-review, but this change doesn't seem to have been carried over.
* @lilyminium: The version string of the readthedocs documentation *document title* (the bit that appears in the tab) is 0.1-unstable.

[2022-02-18 19:06] tijeco commented on #4168
I'd be happy to review it!

[2022-02-18 19:18] tiagoseq commented on #3974
Hello,
Sorry for the delay, today I finally had time to work on this issue.
@rougier yes, I rebuilt the PDF with the comments that you and @gdetor made to the manuscript. Every comment, suggestion was addressed in this new version.

As for the code, what is already done is:
- I added the status when executing the function `solveNFE` @rougier
- Updated readme with a new section that contains the co

[2022-02-18 19:49] osorensen commented on #4168
@whedon start review

[2022-02-18 19:49] whedon opened #4180 "[REVIEW]: mxnorm: An R Package to Normalize Multiplexed Imaging Data"
**Submitting author:** @ColemanRHarris (<a href="http://orcid.org/0000-0002-6325-0694">Coleman Harris</a>)
**Repository:** https://github.com/ColemanRHarris/mxnorm
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** v1.0.2-joss
**Editor:** @osorensen
**Reviewers:** @askerdb, @tijeco
**Archive:** 10.5281/zenodo.6390746

**:warning: JOSS reduced service mode :warning:**

Due

[2022-02-18 19:49] whedon commented on #4168
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4180.

[2022-02-18 19:49] #4168 closed

[2022-02-18 19:49] whedon commented on #4180
[code]

[2022-02-18 19:49] whedon commented on #4180
PDF failed to compile for issue #4180 with the following error:
[code]

[2022-02-18 19:50] jmschrei commented on #4080
@tpeulen can you please provide an update on when you'll be able to look at this?

[2022-02-18 19:50] osorensen commented on #4180
@whedon generate pdf from branch joss-paper

[2022-02-18 19:50] whedon commented on #4180
[code]

[2022-02-18 19:51] whedon commented on #4180
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04180/joss.04180/10.21105.joss.04180.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04180/joss.04180/10.21105.joss.04180.pdf) :page_facing_up: :point_left:

[2022-02-18 19:52] osorensen commented on #4138
@whedon start review

[2022-02-18 19:52] whedon opened #4181 "[REVIEW]: CVtreeMLE: Efficient Estimation of Mixed Exposures using Data Adaptive Decision Trees and Cross-Validated Targeted Maximum Likelihood Estimation in R"
**Submitting author:** @blind-contours (<a href="http://orcid.org/0000-0002-5515-6307">David McCoy</a>)
**Repository:** https://github.com/blind-contours/CVtreeMLE
**Branch with paper.md** (empty if default branch):
**Version:** v1.0-joss
**Editor:** @osorensen
**Reviewers:** @GaryBAYLOR, @cpalmer718, @wleoncio
**Archive:** 10.5281/zenodo.7651354

**:warning: JOSS reduced service mode :warning:**

[2022-02-18 19:52] whedon commented on #4138
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4181.

[2022-02-18 19:52] #4138 closed

[2022-02-18 19:52] whedon commented on #4181
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @GaryBAYLOR, @cpalmer718 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2022-02-18 19:53] whedon commented on #4181
[code]

[2022-02-18 19:53] whedon commented on #4181
[code]

[2022-02-18 19:53] whedon commented on #4181
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04181/joss.04181/10.21105.joss.04181.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04181/joss.04181/10.21105.joss.04181.pdf) :page_facing_up: :point_left:

[2022-02-18 20:27] arfon commented on #3896
Just a quick update. I've heard back from @dmikushin that they're still planning on providing a review here but am yet to hear back from @olekravchenko that they are able to complete their review/

@slayoo – it might be a good idea for me to start looking for some additional reviewers here. Do you have any suggestions?

[2022-02-18 20:31] arfon commented on #3680
@devosmitachatterjee2018 – it is over 1 year since this submission was first made to JOSS. Given the incredibly slow progress here, and severe challenges finding multiple reviewers, I don't believe this submission is likely to ever actually make it through review at JOSS. Do you disagree?

[2022-02-18 20:34] arfon commented on #3119
@CJ-Wright & @sbillinge – it's close to 8 months since we've heard back from you about this submission. At this point I'm assuming you're no longer interested in pursuing this submission in JOSS.

If we don't hear back from you in the next week, I'll reject this submission due to lack of activity.

[2022-02-18 20:38] arfon commented on #2446
It's now three months since we last heard back from the author on this submission. At this point it seems like there are a few options we have here:

- @lockepatton commits to a firm timeline for making the (pep-0432) changes requested here.
- @lockepatton withdraws their paper.
- JOSS rejects this submission due to lack of activity on the part of the author.

@lockepatton - how would you like to

[2022-02-18 20:42] arfon commented on #3612
Quick update: I just contacted @crhea93 over email to ask them to check back here.

[2022-02-18 21:24] emanuelhuber commented on #3579
Hello
@Kevin-Mattheus-Moerman  Thank you very much for asking!
I don't have a Matlab license and I don't want to install Octave on my computer. So I will not test this toolbox. But at could review the paper, the code (I know Matlab/octave) and the document. I would need 1 week time. Let me know if you need me.
Best,
Emanuel

[2022-02-18 21:25] crhea93 commented on #3612
I'm sorry I don't know why I missed all of these messages! My apologies! I can say that I highly recommend the article.

[2022-02-18 21:55] csoneson commented on #4116
@whedon assign @JoaoRodrigues as reviewer

[2022-02-18 21:55] whedon commented on #4116
OK, @JoaoRodrigues is now a reviewer

[2022-02-18 21:56] csoneson commented on #4116
@whedon add @rvhonorato as reviewer

[2022-02-18 21:56] whedon commented on #4116
OK, @rvhonorato is now a reviewer

[2022-02-18 21:56] csoneson commented on #4116
@whedon start review

[2022-02-18 21:56] whedon opened #4182 "[REVIEW]: E2EDNA 2.0: Python Pipeline for Simulating DNA Aptamers with Ligands"
**Submitting author:** @taoliu032 (<a href="http://orcid.org/0000-0002-1082-5570">Tao Liu</a>)
**Repository:** https://github.com/siminegroup/E2EDNA2
**Branch with paper.md** (empty if default branch): JOSS
**Version:** v2.0.0
**Editor:** @csoneson
**Reviewers:** @JoaoRodrigues, @rvhonorato
**Archive:** 10.5281/zenodo.6546661

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2022-02-18 21:56] whedon commented on #4116
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4182.

[2022-02-18 21:56] #4116 closed

[2022-02-18 21:56] whedon commented on #4182
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @JoaoRodrigues, @rvhonorato it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](h

[2022-02-18 21:56] whedon commented on #4182
[code]

[2022-02-18 21:57] csoneson commented on #4182
@whedon generate pdf from branch JOSS

[2022-02-18 21:58] whedon commented on #4182
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04182/joss.04182/10.21105.joss.04182.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04182/joss.04182/10.21105.joss.04182.pdf) :page_facing_up: :point_left:

[2022-02-18 22:18] elbeejay commented on #4176
Thanks for the input @Balinus - if you are interested you are welcome to review the Julia implementation with the caveat that your expertise is not in ocean sciences, although I leave that up to you. @Datseris, we would welcome your review of this software if you are interested; I believe you are familiar with the JOSS process and very knowledgeable regarding the Julia language, although the subje

[2022-02-18 22:28] navidcy commented on #4176
@elbeejay if I have 3 weeks before I go on leave it'd be great!

[2022-02-18 22:30] elbeejay commented on #4176
@whedon invite @navidcy as reviewer

Awesome, we can certainly do this. Thanks!

[2022-02-18 22:30] whedon commented on #4176
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-02-18 22:31] elbeejay commented on #4176
@whedon add @navidcy as reviewer

[2022-02-18 22:31] whedon commented on #4176
OK, @navidcy is now a reviewer

[2022-02-18 22:34] Datseris commented on #4176
Hi, yeap happy to review this!

[2022-02-18 22:35] elbeejay commented on #4176
@whedon add @Datseris as reviewer

Fantastic, thanks!

[2022-02-18 22:36] whedon commented on #4176
OK, @Datseris is now a reviewer

[2022-02-18 23:04] taoliu032 commented on #4182
Thank you all very much! To both reviewers: feel free to ask me any questions about the manuscript and software in any way as you see fit :)

Wish everyone a wonderful weekend :D

[2022-02-19 00:18] jlarsen-usgs commented on #3852
@whedon generate pdf

[2022-02-19 00:19] matthewfeickert commented on #3993
@lucydot Can you please have whedon set v1.4.0 as version, as that's the final one we're reviewing now?

[2022-02-19 00:19] whedon commented on #3852
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03852/joss.03852/10.21105.joss.03852.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03852/joss.03852/10.21105.joss.03852.pdf) :page_facing_up: :point_left:

[2022-02-19 00:19] whedon commented on #3993
[code]

[2022-02-19 00:20] whedon commented on #3993
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03993/joss.03993/10.21105.joss.03993.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03993/joss.03993/10.21105.joss.03993.pdf) :page_facing_up: :point_left:

[2022-02-19 04:38] matthewfeickert commented on #3993
These comments are a follow up to my review on 2022-01-17 (https://github.com/openjournals/joss-reviews/issues/3993#issuecomment-1015075303) and pertain to release [v1.4.0](https://github.com/villano-lab/nrCascadeSim/releases/tag/v1.4.0) of the software.

## Notes

* [x] Change the `Makefile` to remove targeting `/usr/local` as a default. In many situations this is an unwritable location for users

[2022-02-19 06:21] osorensen commented on #4138
Thanks a lot for responding @msalibian. Luckily we already have two reviewers, so I think it will be fine. But thanks for recommending your PhD student. I'll keep her in mind next time.

[2022-02-19 14:26] mikldk commented on #4096
@whedon add @TahiriNadia as reviewer

[2022-02-19 14:26] whedon commented on #4096
OK, @TahiriNadia is now a reviewer

[2022-02-19 14:28] mikldk commented on #4096
@whedon start review

[2022-02-19 14:28] whedon opened #4183 "[REVIEW]: Fast k-medoids Clustering in Rust and Python"
**Submitting author:** @kno10 (<a href="http://orcid.org/0000-0001-9143-4880">Erich Schubert</a>)
**Repository:** <a href="https://github.com/kno10/python-kmedoids.git" target ="_blank">https://github.com/kno10/python-kmedoids.git</a>
**Version:** 0.2.0
**Editor:** @mikldk
**Reviewer:** @timClicks, @TahiriNadia
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the cha

[2022-02-19 14:28] whedon commented on #4096
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4183.

[2022-02-19 14:28] #4096 closed

[2022-02-19 14:28] whedon commented on #4183
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @timClicks, @TahiriNadia it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2022-02-19 14:28] whedon commented on #4183
[code]

[2022-02-19 14:29] whedon commented on #4183
PDF failed to compile for issue #4183 with the following error:
[code]

[2022-02-19 14:29] mikldk commented on #4183
@whedon generate pdf from branch JOSS-draft

[2022-02-19 14:29] whedon commented on #4183
[code]

[2022-02-19 14:30] whedon commented on #4183
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04183/joss.04183/10.21105.joss.04183.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04183/joss.04183/10.21105.joss.04183.pdf) :page_facing_up: :point_left:

[2022-02-19 14:30] mikldk commented on #4183
@whedon check references from branch JOSS-draft

[2022-02-19 14:30] whedon commented on #4183
[code]

[2022-02-19 14:30] whedon commented on #4183
[code]

[2022-02-19 14:36] mikldk commented on #4183
@timClicks, @TahiriNadia: Thanks for agreeing to review.

Please note that both the repos should be reviewed (<https://github.com/openjournals/joss-reviews/issues/4096#issuecomment-1020333611>):

* The engine: <https://github.com/kno10/rust-kmedoids>
* Python interface: <https://github.com/kno10/python-kmedoids>

Please carry out your review in this issue by updating the checklist above and giving

[2022-02-19 16:05] cheginit commented on #3344
@kthyng Sure, I'll work on it.

[2022-02-19 17:37] arfon commented on #3612
⚡ , thanks for the update!

[2022-02-19 17:37] arfon commented on #3612
@finagle29 – At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the aut

[2022-02-19 18:54] gradvohl commented on #4144
Hello @sbenthall,

Yes 👍🏼, I am able to review it. However, since I am on vacation until March, 3, I can start just by that date.

Best.

[2022-02-19 20:33] Kevin-Mattheus-Moerman commented on #3579
Hi @emanuelhuber thanks for your response. We do require that the software is tested during review I am afraid. I respect if you'd rather not install Octave to test this submission, however note that it should be fairly easy to install/uninstall. If you are able to test the work I can add you as a reviewer. If you'd rather not, then no worries, once again thanks for the response. All the best.

[2022-02-19 21:52] quynhneo commented on #3736
@Kevin-Mattheus-Moerman  Is there a way to document my JOSS review activity in ORCID? I found an old discussion here https://github.com/openjournals/joss/issues/813

[2022-02-19 23:07] janmandel commented on #3465
Trying to install in google colab
!pip install PyAFBF
errors out with
`ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
albumentations 0.1.12 requires imgaug<0.2.7,>=0.2.5, but you have imgaug 0.2.9 which is incompatible.`

[2022-02-19 23:42] janmandel commented on #3821
!pip install PyAFBF
errors out on Google Colab,. To make it work,

!pip install imgaug==0.2.6
!pip install PyAFBF

[2022-02-20 00:36] elwinter commented on #3465
Hi Jan. I'm confused- my software was nnde, not PyAFBF. Is this a dependency collision of some kind?

Eric

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Jan Mandel ***@***.***>
Sent: Saturday, February 19, 2022 6:07:53 PM
To: openjournals/joss-reviews ***@***.***>
Cc: Eric Winter ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [R

[2022-02-20 01:38] erik-whiting commented on #4061
Update on my end: I think @kasbot 's changes are good so far, I will test out the functionality and note any performance improvements later this weekend hopefully. Thanks everyone for your patience so far.

[2022-02-20 05:07] lilyminium commented on #4100
Thanks for pointing that out, @ptmerz! The [latest](https://psiresp.readthedocs.io/en/latest/) docs now properly specify the version as `psiresp v0.3.1+8.g4147f7c.dirty documentation` and `stable` will update on the next release :-)

[2022-02-20 09:41] bauer-alex commented on #4056
@fernandomayer Do you know when you will be able to review the paper? Thing is that the paper is part of my PhD thesis which I want to submit in about 10 days. If possible, it would be great if you could do the revision next week?
I absolutely do not want to push you, as I know that this is just additional work on the side for you.
I just wanted to note that, if possible, it would be nice-to-have

[2022-02-20 15:54] JoyMitra commented on #4132
Hi,

I will be happy to help.

Best,
Joy Mitra

On Sat, Feb 12, 2022, 5:35 AM Nikoleta Glynatsi ***@***.***>
wrote:

[2022-02-20 16:15] anitagraser commented on #4021
@martinfleis: I have completed my second pass. In this context, I tested the conda install and re-run the notebooks which revealed a few more issues that should be addressed.

[2022-02-20 16:53] SimonMolinsky commented on #2869
Hi @hugoledoux ,

I don't know if my reply on the same day as the change request was overlooked, but maybe I will do it again :) I've made requested changes in a paper. It has ~4 pages of text if we exclude one large figure and bibliography. I hope that it's ok and paper fits JOSS with this structure.

[2022-02-20 18:14] devosmitachatterjee2018 commented on #3680
@arfon

I apologize for the late reply. I was sick for the last two weeks.

Could you please grant me two more weeks to finish the last comments of the reviewer @hakanfriden? I worked on all his previous comments.

The first reviewer was suggested by me. Also I was informed by Matlab that any person can access a free trial Matlab license for academic purpose.

Best regards
Devosmita

[2022-02-20 20:29] Nikoleta-v3 commented on #4132
Thank you so much!

[2022-02-20 20:32] Nikoleta-v3 commented on #4132
@whedon add @JoyMitra  as reviewer

[2022-02-20 20:32] whedon commented on #4132
OK, @JoyMitra  is now a reviewer

[2022-02-20 20:32] Nikoleta-v3 commented on #4132
@whedon start review

[2022-02-20 20:32] whedon opened #4184 "[REVIEW]: LangToGroup: A Haskell package for group presentation construction from formal language"
**Submitting author:** @MaxVortman (<a href="http://orcid.org/0000-0003-0730-494X">Maksym Shamrai</a>)
**Repository:** https://github.com/YaccConstructor/LangToGroup
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @Nikoleta-v3
**Reviewers:** @ocramz, @JoyMitra
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the C

[2022-02-20 20:32] whedon commented on #4132
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4184.

[2022-02-20 20:32] #4132 closed

[2022-02-20 20:32] whedon commented on #4184
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ocramz, @JoyMitra  it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2022-02-20 20:33] whedon commented on #4184
Wordcount for `paper.md` is 746

[2022-02-20 20:33] whedon commented on #4184
[code]

[2022-02-20 20:33] whedon commented on #4184
[code]

[2022-02-20 20:33] whedon commented on #4184
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04184/joss.04184/10.21105.joss.04184.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04184/joss.04184/10.21105.joss.04184.pdf) :page_facing_up: :point_left:

[2022-02-20 20:34] Nikoleta-v3 commented on #4184
👋🏼 @MaxVortman, @ocramz & @JoyMitra this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements 🔝 As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from mo

[2022-02-20 21:35] ArkajyotiSaha commented on #3780
I made minor updates in the package vignette and updated the package version.

1. The version tag of the tagged release in GitHub is v0.1.4 .
2. The archived software in Zenodo has the DOI 10.5281/zenodo.6192456 .

Please let me know if any additional information is needed.

[2022-02-20 22:32] gagolews commented on #4096
Dear Mikkel, apologies for not getting back to you any sooner - I was on holidays in the Aussie bush, where the internet connection was virtually non-existent.

[2022-02-21 04:31] janmandel commented on #3465
Sorry for the confusion. It was meant for another review. Thanks for
letting me know! This review system is getting the better of me.
Jan

On Sat, Feb 19, 2022 at 5:36 PM Eric Winter ***@***.***>
wrote:

[2022-02-21 04:35] janmandel commented on #3821
I copied the examples from the documentation to a google colab notebook and they work fine.

[2022-02-21 05:13] LeonidPryadko commented on #4120
Two problems have been corrected and the corresponding issues closed on the GitHub page for the program.

[2022-02-21 06:31] jmschrei commented on #4038
Howdy @aaronpeikert and @wincowgerDEV, how is the review going?

[2022-02-21 07:21] hugoledoux commented on #2869
Sorry @SimonMolinsky indeed you replied too fast and I didn't notice it and then I was on holiday.

I like the update you made, just went over it. I have a few small final fixes: https://github.com/DataverseLabs/pyinterpolate/pull/209

When this is done, I am happy to start the final steps for the formal acceptance.

At this point could you:
- [ ] Make a tagged release of your software, and list t

[2022-02-21 08:46] fabian-s commented on #3780
@ArkajyotiSaha thanks, almost done,

please make sure the title of your Zenodo deposit matches the title of your JOSS paper -- it's

"ArkajyotiSaha/RandomForestsGLS: v0.1.4"

right now, it should be

"RandomForestsGLS: An R package for Random Forests for dependent data"

[2022-02-21 08:52] fabian-s commented on #4082
:wave: @nuest, :wave: @benmarwick,  :wave: @dlebauer

would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-02-21 08:54] xuanxu commented on #3905
:wave: @gonsie please update us on the current status of your review

[2022-02-21 08:59] whedon commented on #4135
:wave: @thelfer , please update us on how your review is going (this is an automated reminder).

[2022-02-21 08:59] whedon commented on #4135
:wave: @mscroggs, please update us on how your review is going (this is an automated reminder).

[2022-02-21 09:01] thelfer commented on #4135
I currently have a working version of `NGSTrefftz`, after resolution of various issues. Review starts now !

[2022-02-21 09:07] nuest commented on #4082
Hi! I'm on parental leave, but feel free to ping me again in April if you're still a review short then.

[2022-02-21 09:15] mikldk commented on #4096
@gagolews No worries (but I may ask you another time). Hope you enjoyed the holiday.

[2022-02-21 10:06] adi3 commented on #4071
@Rehablab - No problem! Please let us know when you are ready to proceed with the review.

[2022-02-21 10:17] bkmi commented on #4086
Thanks for reviewing @mattpitkin!

[2022-02-21 10:24] adi3 commented on #3125
@tkonolige could you please add an example `.obj` file in the repository so users can test the tool right out-of-the-box? Thanks!

[2022-02-21 10:56] martinfleis commented on #4021
Thank you @anitagraser and @jGaboardi!

@ni1o1 Can you let us know once you dealt with all the raised issues? Thanks!

[2022-02-21 10:59] reichherzerp commented on #4153
Thanks for the patience, I have now updated the paper so that it is ready for review along with the code.

[2022-02-21 12:19] ArkajyotiSaha commented on #3780
@fabian-s thanks for pointing this out! I have made the necessary corrections.

[2022-02-21 12:20] puolival commented on #3956
@eferrea Thanks for the detailed response. Where can I access the updated manuscript (pdf)?

[2022-02-21 12:44] mstimberg commented on #3956
To get the rendered PDF here we should also be able to use

@whedon generate pdf

[2022-02-21 12:46] mstimberg commented on #3956
@whedon generate pdf

[sorry, keep forgetting that whedon commands need to start a comment]

[2022-02-21 12:48] rvhonorato commented on #4182
This code might have a licensing issue, but since **i am not a licensing expert**, I will raise the point here for discussion:

I have noticed in your installation instructions the following:

Which then, as expected results in the lightdock scripts being **copied** from the lightdock package and **in** your execution.

![Screenshot 2022-02-21 at 13 37 19](https://user-images.githubusercontent.com

[2022-02-21 12:58] jGaboardi commented on #4021
@whedon generate pdf

[2022-02-21 12:59] brianjimenez commented on #4182
Thanks for the ping @rvhonorato
Indeed, it could be a license conflict here since redistributing code with a different license than LightDock (GPLv3) might not be allowed (but needs a double check for Apache-2 + GPLv3 compatibility). If authors are not modifying the code, simpler could be just to add LightDock as a pip dependency and those scripts would be available in the path.

[2022-02-21 12:59] whedon commented on #4021
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04021/joss.04021/10.21105.joss.04021.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04021/joss.04021/10.21105.joss.04021.pdf) :page_facing_up: :point_left:

[2022-02-21 13:00] fabian-s commented on #3780
@whedon generate pdf

[2022-02-21 13:00] fabian-s commented on #3780
@whedon check references

[2022-02-21 13:00] whedon commented on #3780
[code]

[2022-02-21 13:00] whedon commented on #3780
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03780/joss.03780/10.21105.joss.03780.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03780/joss.03780/10.21105.joss.03780.pdf) :page_facing_up: :point_left:

[2022-02-21 13:08] fabian-s commented on #3780
oh no.....

I'm sorry, @ArkajyotiSaha, but you still need to fix this typo

"the binary membersip matrices" --> members**h**ip

please do run another spell check as well to make sure we don't miss anything,
then make another tagged release and modify your zenodo deposit accordingly and ping me again here once that's done.

sorry again for the back and forth.

[2022-02-21 13:16] ni1o1 commented on #4021
@martinfleis @jGaboardi @anitagraser. Thank you for all the comments and efforts. We have finished our revision of the paper and the repo, all raised issues are solved.

[2022-02-21 13:23] Theomat commented on #4151
Hi Alex,
Thanks a lot for the suggestions!
1. About citing the Codex paper, we should have done it, thanks.
2. About giving a broader overview of techniques and OSS software in program synthesis, that's also a good point. However in 1000 words we won't be able to say much, so it's more about citing more relevant work? Another natural reference is the AAAI paper which uses the current tool for expe

[2022-02-21 14:16] slayoo commented on #3219
@dhhagan hope all is OK. If possible, please update us on the workflow and further requirements given the above messages from the reviewers. Thank you