[2021-03-16 13:26] agahkarakuzu commented on #3002
Hi @majensen, I am on it, I'll respond in a few days. Thank you!

[2021-03-16 13:34] kadyb commented on #2948
@whedon generate pdf

[2021-03-16 13:35] whedon commented on #2948
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02948/joss.02948/10.21105.joss.02948.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02948/joss.02948/10.21105.joss.02948.pdf) :page_facing_up: :point_left:

[2021-03-16 13:39] whedon commented on #3076
:wave: @martinmodrak, please update us on how your review is going (this is an automated reminder).

[2021-03-16 13:41] kadyb commented on #2948
@arfon, all these changes are fine for us. Thanks!

[2021-03-16 13:46] ctdegroot commented on #2871
@drvinceknight I am working on this... sorry I didn't tick the boxes as I worked

[2021-03-16 13:53] whedon commented on #3077
:wave: @ranocha, please update us on how your review is going (this is an automated reminder).

[2021-03-16 13:53] whedon commented on #3077
:wave: @HaoZeke, please update us on how your review is going (this is an automated reminder).

[2021-03-16 13:53] pdebuyl commented on #3076
Please ignore the bot, it often picks a wrong time for the automated reminder.

[2021-03-16 14:00] dhhagan commented on #3080
:wave:  @ziotom78, @diehlpk, @AmirHoseinHadian, & @johnsamualwrites, would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-03-16 14:00] ctdegroot commented on #2871
@salrm8
This is a bit of an awkward statement in the paper: "It is important to note that uncertainty is different from error, which is defined as the deviation of a realization from a reference true value." While it is true that uncertainty is different than error, I think your definition of error is too limiting. For example, one may attempt to quantify discretization error while having no "true

[2021-03-16 14:04] ctdegroot commented on #2871
@salrm8 I was unable to find instructions on how to run the tests or how to run examples. Please let me know how to do this? Ideally this should be on the main README page. Once these two items are handled, I am satisfied with my review.

[2021-03-16 14:07] tsalo commented on #3103
Here are a list of 15 potential reviewers we felt would be well-suited for this manuscript:

- Athanasiamo
- JonathanReardon
- SRSteinkamp
- TomDonoghue
- a3sha2
- arokem
- grlee77
- hanayik
- lukassnoek
- martinagvilas
- mwegrzyn
- puolival
- sappelhoff
- sealhuang
- spinicist

[2021-03-16 14:10] ziotom78 commented on #3080
Hi @dhhagan, thanks for having contacted me. Unfortunately I am going to be really busy in the next few weeks, and I am probably not going to have enough time to do the review.

[2021-03-16 14:28] diehlpk commented on #3080
@dhhagan thanks for asking, however, I can not do any review since I am editing several papers.

[2021-03-16 14:29] oliviaguest commented on #3105
👋  Hi @McGregor14, would be so kind as to share some names from the reviewers list (without the @) to help me a little? Ta! ☺️

[2021-03-16 14:30] arfon commented on #2948
@whedon accept

[2021-03-16 14:30] whedon commented on #2948
[code]

[2021-03-16 14:30] whedon commented on #2948
[code]

[2021-03-16 14:31] whedon commented on #2948
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2146

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2146, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-03-16 14:37] oliviaguest commented on #3042
@fmatuschke thanks for the update. Can you please all —  @vigji, @glyg, @RealPolitiX — make sure everything that has not yet been ticked off is and/or discuss any (new) changes you might be looking for? Ta! ☺️

[2021-03-16 14:54] majensen commented on #3030
@TomKellyGenetics - would you have time to review [this work](#3030) for [JOSS](https:://joss.theoj.org)? Much appreciated! --@majensen

[2021-03-16 15:00] glyg commented on #3042
Looks good to me now :smile:

[2021-03-16 15:23] whedon commented on #3078
:wave: @jpfairbanks, please update us on how your review is going (this is an automated reminder).

[2021-03-16 15:23] whedon commented on #3078
:wave: @philzook58, please update us on how your review is going (this is an automated reminder).

[2021-03-16 15:30] whedon commented on #3079
:wave: @ketch, please update us on how your review is going (this is an automated reminder).

[2021-03-16 15:30] whedon commented on #3079
:wave: @caropen, please update us on how your review is going (this is an automated reminder).

[2021-03-16 15:42] samaygarg commented on #2940
merged the changes

[2021-03-16 15:53] prdm0 commented on #2769
Dear @timtroendle, how long does it take for the paper to be listed on the JOSS page? Best regards.

[2021-03-16 16:06] arfon commented on #2940
@whedon accept

[2021-03-16 16:06] whedon commented on #2940
[code]

[2021-03-16 16:06] whedon commented on #2940
[code]

[2021-03-16 16:06] whedon commented on #2940
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2147

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2147, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-03-16 16:08] arfon commented on #2940
@whedon accept deposit=true

[2021-03-16 16:08] whedon commented on #2940
[code]

[2021-03-16 16:09] arfon commented on #2948
@whedon accept deposit=true

[2021-03-16 16:09] whedon commented on #2948
[code]

[2021-03-16 16:09] whedon commented on #2940
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1371856181216575501) 👈 🐦🐦🐦

[2021-03-16 16:09] whedon commented on #2940
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2148
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02940](https://doi.org/10.21105/joss.02940)
2. If everything looks g

[2021-03-16 16:10] whedon commented on #2948
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1371856343028629504) 👈 🐦🐦🐦

[2021-03-16 16:10] whedon commented on #2948
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2149
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02948](https://doi.org/10.21105/joss.02948)
2. If everything looks g

[2021-03-16 16:47] DidierMurilloF commented on #3107
@csoneson<https://github.com/csoneson> thank you for accepting to be the editor. I added the 'Statement of Need' section and fixed the problem with DOI. From the list of reviewers and I would like to suggest to ThiagoOliveira and dlebauer.

Thank you for your time and consideration!

Best regards,

Didier Murillo.
________________________________
From: Charlotte Soneson ***@***.***>
Sent: Tuesday,

[2021-03-16 16:57] philzook58 commented on #3078
I have already found Metatheory.jl to be an extremely useful addition to the space with thoughtful insights in regards to usability, flexibility, and integration with the host language.

I have an intermixing of syntactic/grammar/style comments and actual content questions. I marked these comments as Style, since their suggestions are even more optional. I hope I am not overstepping my purview as

[2021-03-16 17:02] mwillsey commented on #3078
@philzook58 these are great points, I agree with them. Aside from that, I consider my review complete.

[2021-03-16 17:04] McGregor14 commented on #3105
Hello @oliviaguest 👋

For the app, I can see olade014 has React Native in their list of languages. Though I can't see anyone else, kellerb has listed React and is also comfortable reviewing social sciences. Other people with React in their list of languages include marwahaha and jdalzatec.

For the portal, pgadige is the only person I can see with Django in their list of languages. However, since

[2021-03-16 17:12] arfon commented on #2948
@adamhsparks, @mikerspencer - many thanks for your reviews here and to @kbarnhart for editing this submission! JOSS relies upon the volunteer effort of folks like yourselves and we simply wouldn't be able to do this without you ✨

@kadyb - your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-03-16 17:12] #2948 closed

[2021-03-16 17:12] whedon commented on #2948
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02948/status.svg)](https://doi.org/10.21105/joss.02948)

**We need your help!**

Journal of Open Source Softwa

[2021-03-16 17:15] arfon commented on #2940
@jlopata21, @shimpalee - many thanks for your reviews here and to @jgostick for editing this submission! JOSS relies upon the volunteer effort of folks like yourself, and we simply wouldn't be able to do this without you ✨

@samaygarg - your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-03-16 17:15] #2940 closed

[2021-03-16 17:15] whedon commented on #2940
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02940/status.svg)](https://doi.org/10.21105/joss.02940)

**We need your help!**

Journal of Open Source Softwa

[2021-03-16 17:16] whedon opened #3116 "[PRE REVIEW]: GORILLA: Guiding-center ORbit Integration with Local Linearization Approach"
**Submitting author:** @micheder (<a href="http://orcid.org/0000-0002-1392-1664">Michael Eder</a>)
**Repository:** <a href="https://github.com/itpplasma/GORILLA" target ="_blank">https://github.com/itpplasma/GORILLA</a>
**Version:** v1.0
**Editor:** @dpsanders
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-

[2021-03-16 17:16] philzook58 commented on #3078
I think I need a new invitation link as I can't edit my checkboxes and it appears to have expired. My apologies

I would also like to note for the sake of transparency that I have been in private discussion with the author on progress and usage of the library before even this article was submitted (it is mentioned in the acknowledgements of the paper also). We have no other prior connections besid

[2021-03-16 17:16] whedon commented on #3116
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-16 17:16] ranocha commented on #3077
I told you that I'm fully booked right now and will need more time when accepting to review this submission.

[2021-03-16 17:17] whedon commented on #3116
[code]

[2021-03-16 17:17] whedon opened #3117 "[PRE REVIEW]: fishStan: Hierarchical Bayesian models for fisheries"
**Submitting author:** @rerickson-usgs (<a href="http://orcid.org/0000-0003-4649-482X">Richard Erickson</a>)
**Repository:** <a href="https://code.usgs.gov/umesc/quant-ecology/fishstan/" target ="_blank">https://code.usgs.gov/umesc/quant-ecology/fishstan/</a>
**Version:** v2.0
**Editor:** @marcosvital
**Reviewers:** @BrandonEdwards , @MikeKaller
**Managing EiC:** Arfon Smith

**:warning: JOSS redu

[2021-03-16 17:17] whedon commented on #3116
[code]

[2021-03-16 17:17] whedon commented on #3117
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-16 17:17] whedon commented on #3117
[code]

[2021-03-16 17:18] whedon commented on #3116
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03116/joss.03116/10.21105.joss.03116.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03116/joss.03116/10.21105.joss.03116.pdf) :page_facing_up: :point_left:

[2021-03-16 17:18] whedon commented on #3117
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03117/joss.03117/10.21105.joss.03117.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03117/joss.03117/10.21105.joss.03117.pdf) :page_facing_up: :point_left:

[2021-03-16 17:20] cMadan commented on #3103
I don't think I can take on another review at this time, sorry!

[2021-03-16 17:26] arfon commented on #3116
@micheder - many thanks for your review here. Unfortunately the editor best-placed to edit this submission is currently very busy so I'm going to add this to the backlog of 'waitlisted' submissions. Hopefully this won't be too long.

[2021-03-16 17:40] arfon commented on #2826
:wave: folks, I just wanted to check in to see how things are coming along here?

[2021-03-16 17:42] arfon commented on #3117
@rerickson-usgs - many thanks for your review here. Unfortunately the editor best-placed to edit this submission is currently very busy so I'm going to add this to the backlog of 'waitlisted' submissions. Hopefully this won't be too long.

[2021-03-16 18:13] micheder commented on #3116
@whedon commands

[2021-03-16 18:13] whedon commented on #3116
Here are some things you can ask me to do:

[code]

[2021-03-16 18:14] micheder commented on #3116
@whedon commands

[2021-03-16 18:14] whedon commented on #3116
Here are some things you can ask me to do:

[code]

[2021-03-16 18:20] martinmodrak commented on #3076
I made some attempts at installing today, reached out on the MUQ slack for some help. I should be able to dedicate some time for at least an initial round of review this week (provided I get to resolve the installation issues).

[2021-03-16 18:33] 0x0f0f0f commented on #3078
@philzook58 I don't think it is a true conflict of interest. AFAIK you've been constantly reviewing my implementation decisions even before I've submitted the paper.

[2021-03-16 18:40] dpsanders commented on #3078
@whedon invite @philzook58 as reviewer

[2021-03-16 18:40] whedon commented on #3078
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-03-16 18:41] dpsanders commented on #3078
@whedon add @philzook58 as reviewer

[2021-03-16 18:42] whedon commented on #3078
OK, @philzook58 is now a reviewer

[2021-03-16 18:42] dpsanders commented on #3078
@philzook58: I re-invited you; let me know if that didn't work. Thanks!

[2021-03-16 18:43] dpsanders commented on #3078
@jpfairbanks: Are you done with your review? Could you please fill in the remaining checkboxes at the top of this page? Thanks!

[2021-03-16 19:11] vissarion commented on #3077
Sure, I remember, the above was an automated reminder.

[2021-03-16 19:26] usethedata commented on #2826
The issues raised by the first review appear to still be open.  When they're addressed, either as done or won't do, then I can go through my review.

[2021-03-16 19:44] lucydot commented on #3089
@danielskatz @utf

I finished reviewing iFermi today. I ran through the tutorial using my own dataset, so that I could compare it to the corresponding bandstructure that I have generated elsewhere. The iFermi output is consistent with what I'd expect looking at my 2D slice through reciprocal space.

To re-iterate what Andrew has already said, iFermi has easy to follow, comprehensive documentation.

[2021-03-16 19:51] danielskatz commented on #3089
Thanks @lucydot!

[2021-03-16 19:52] danielskatz commented on #3089
@utf - since both reviewers are happy, have checked off all items, and all the issues raised are closed, I think we're ready to proceed in the acceptance process.  At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repositor

[2021-03-16 19:54] danielskatz commented on #3000
👋 @dbkeitel - this progress looks good, but also be aware that it's up to you if we move to publication now or wait for these optional improvements. I'm happy to wait for them, but we also could publish as is.

[2021-03-16 19:55] danielskatz commented on #3040
Thanks @henrykironde!

[2021-03-16 19:55] danielskatz commented on #3040
👋 @gcdeshpande and @jarrah42 - how are your reviews coming?

[2021-03-16 19:55] danielskatz commented on #2282
👋 @mikerspencer - checking in again

[2021-03-16 20:02] jarrah42 commented on #3040
I've finally installed it on a VM but the tests fail. The installation didn't proceed exactly as documented. Not sure what to do at this point.

[2021-03-16 20:03] 0x0f0f0f commented on #3078
Updated the pdf with corrections from Phil

[2021-03-16 20:03] 0x0f0f0f commented on #3078
@whedon generate pdf

[2021-03-16 20:04] whedon commented on #3078
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03078/joss.03078/10.21105.joss.03078.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03078/joss.03078/10.21105.joss.03078.pdf) :page_facing_up: :point_left:

[2021-03-16 20:05] remram44 commented on #2796
I can review, \#2605 is dormant

[2021-03-16 20:38] utf commented on #3089
Hi @danielskatz

The archived version is v0.2.3
The zenodo doi is [10.5281/zenodo.4609270](https://zenodo.org/record/4609271)

I can confirm that I have checked the zenodo metadata.

Thanks you @lucydot and @arosen93 for the swift reviews. The package is definitely improved after your comments.

[2021-03-16 21:08] robertsawko commented on #2978
Hello @eloisabentivegna,

I have closed off my remaining issues with the documentation and installations - it all works well now. I went through the checklist and modified accordingly. Later this week I will check the visualisation to confirm the functionality and performance, but all looks good so far.

[2021-03-16 21:16] poulson commented on #3100
Hi Berenger (@berenger-eu) :wave:.

Given your authorship of the TBFMM JOSS paper, please let me know if you would be willing to serve as a reviewer on this submission on a high-performance C++/Python FMM implementation.

[2021-03-16 21:18] poulson commented on #3100
Hi Siva (@sivaramambikasaran) :wave:,

Given your expertise in FMM and its algebraic analogues, please let me know if you would be willing to serve as a reviewer for this submission on a high-performance C++/Python FMM implementation.

[2021-03-16 21:22] gvilitech commented on #3040
Could you open an issue at https://github.com/gvilitechltd/LibSWIFFT/issues in which you describe the steps you took and the output you observed? We'll look into it.

Assuming you're using Linux, if you haven't tried the following already, please try the quick start given at the top of the [LibSWIFFT repository page](https://github.com/gvilitechltd/LibSWIFFT):

[2021-03-16 21:37] lpantano commented on #2334
@druvus ! thanks for the update, I see it is all checked except for the automated test item. Is the only thing left? Did you leave it as N/A or you are working on testing that part? Thanks!

[2021-03-16 23:32] jGaboardi commented on #2826
@arfon & @usethedata

Sorry for long delay. Have had several personal issues come up over the past 2 months. @slumnitz and I have started back with the responses to the first review and I hope to get that completed within the next 2 weeks.

[2021-03-16 23:34] usethedata commented on #2826
Got it.  Personal issues can have an outsized effect these days.  Very much understood and I hope things have returned to a good state for you.

[2021-03-17 00:34] TomKellyGenetics commented on #3030
Hi @majensen, I can do it but I'm attending an online conference next week so it'll need to be the following week. I hope that's okay.  🙇‍♂️

[2021-03-17 00:35] whedon commented on #3082
:wave: @marwahaha, please update us on how your review is going (this is an automated reminder).

[2021-03-17 00:35] whedon commented on #3082
:wave: @jameshclrk, please update us on how your review is going (this is an automated reminder).

[2021-03-17 00:35] whedon commented on #3082
:wave: @rurz, please update us on how your review is going (this is an automated reminder).

[2021-03-17 00:40] danielskatz commented on #3089
@whedon set 10.5281/zenodo.4609270 as archive

[2021-03-17 00:41] whedon commented on #3089
OK. <a href="https://doi.org/10.5281/zenodo.4609270" target="_blank">10.5281/zenodo.4609270</a> is the archive.

[2021-03-17 00:41] danielskatz commented on #3089
@whedon set  v0.2.3 as version

[2021-03-17 00:41] whedon commented on #3089
OK.  v0.2.3 is the version.

[2021-03-17 00:41] eigenfoo commented on #3115
Hello! I'm still in the middle of my review, but have one question so far.

From the [README](https://github.com/D-K-E/graphical-models/):

It seems that this repository is mainly written for pedagogical purposes, and perhaps not for actual use in scientific applications - in other words, it sounds like the library is meant to be read, and not run. @D-K-E am I correct in this? If so, @dfm can you

[2021-03-17 00:41] danielskatz commented on #3089
@whedon generate pdf from branch paper

[2021-03-17 00:41] whedon commented on #3089
[code]

[2021-03-17 00:42] whedon commented on #3089
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03089/joss.03089/10.21105.joss.03089.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03089/joss.03089/10.21105.joss.03089.pdf) :page_facing_up: :point_left:

[2021-03-17 00:46] danielskatz commented on #3089
@utf - this looks good, except for one minor issue that I've proposed a change for in https://github.com/fermisurfaces/IFermi/pull/24

[2021-03-17 00:49] jpfairbanks commented on #3078
I agree with @philzook58's suggestions. I think that the Metatheory library is rapidly evolving as we review this document, and I am not sure about the editorial standard for JOSS. Are libraries supposed to be mostly mature at the time of JOSS publication? Metatheory.jl is rapidly gaining new features, which might prompt a delay in JOSS publication, but I would leave that decision to the editors i

[2021-03-17 00:55] fboehm commented on #2995
@JDRomano2 - I hope that the review is going well. Please let me know if I can help with anything. Thanks again!

[2021-03-17 01:07] utf commented on #3089
Thanks @danielskatz. I've merged your PR.

[2021-03-17 01:07] utf commented on #3089
@whedon generate pdf from branch paper

[2021-03-17 01:07] whedon commented on #3089
[code]

[2021-03-17 01:08] whedon commented on #3089
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03089/joss.03089/10.21105.joss.03089.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03089/joss.03089/10.21105.joss.03089.pdf) :page_facing_up: :point_left:

[2021-03-17 01:11] danielskatz commented on #3089
@whedon accept from branch paper

[2021-03-17 01:11] whedon commented on #3089
[code]

[2021-03-17 01:12] whedon commented on #3089
[code]

[2021-03-17 01:13] whedon commented on #3089
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2150

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2150, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-03-17 01:14] danielskatz commented on #3089
@whedon accept deposit=true from branch paper

[2021-03-17 01:14] whedon commented on #3089
[code]

[2021-03-17 01:15] whedon commented on #3089
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1371993667435692035) 👈 🐦🐦🐦

[2021-03-17 01:15] whedon commented on #3089
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2151
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.03089](https://doi.org/10.21105/joss.03089)
2. If everything looks g

[2021-03-17 01:23] danielskatz commented on #3089
Congratulations to @utf (Alex Ganose) and co-authors!!

And thanks to @arosen93 and @lucydot for a very quick and easy review process!

[2021-03-17 01:23] #3089 closed

[2021-03-17 01:23] whedon commented on #3089
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03089/status.svg)](https://doi.org/10.21105/joss.03089)

**We need your help!**

Journal of Open Source Softwa

[2021-03-17 01:25] utf commented on #3089
Thank you everyone!

[2021-03-17 01:39] D-K-E commented on #3115
@dfm I am adding them right away.

@eigenfoo It is a little complicated issue. I am using this library for demonstrating how some data <sup>1</sup>  can be analyzed using probabilistic graphical models in my thesis so it is used at least in the case of one scientific work. But my focus during the writing of the library was to be as close as possible to definitions provided by text books (mostly Ko

[2021-03-17 01:44] utf commented on #3089
Hi @danielskatz, the paper pdf isn't loading on https://joss.theoj.org/papers/10.21105/joss.03089

Just checking if this is usual and I need to wait a little bit?

[2021-03-17 01:50] arosen93 commented on #3089
For what it's worth, it loads just fine for me. Maybe it's related to an ad-blocker or something similar?

[2021-03-17 01:52] utf commented on #3089
Strange, on Safari nothing loads but on Chrome I see:

<img width="1792" alt="Screenshot 2021-03-16 at 18 51 51" src="https://user-images.githubusercontent.com/1330638/111402627-c133be00-8688-11eb-895d-08916fd9081c.png">

I will see if this has fixed itself by tomorrow.

[2021-03-17 01:55] arosen93 commented on #3089
Very odd! Well, here's a sneak peak I guess! Works fine for me on Chrome and Edge even though you get the 404. Hopefully @danielskatz can provide some insight.

![image](https://user-images.githubusercontent.com/8674072/111402743-c2b9b200-8699-11eb-9244-d096b78b81ee.png)

[2021-03-17 02:03] danielskatz commented on #3089
It worked for me on Safari - a check of it is the last thing I do before closing an issue.  It's likely a caching problem somewhere - If you are on a wifi network, you could try on a phone network or something like that, or just wait a bit.

[2021-03-17 02:28] sarathsp06 commented on #3075
@gkthiruvathukal, I would recommend accepting this paper.

@farshidtz had addressed all the concerns I have raised and the project seems to be in good shape

[2021-03-17 02:53] henrykironde commented on #3040
I like the Quick start instructions 👍

[2021-03-17 03:34] majensen commented on #3030
@TomKellyGenetics that would be great-- very much appreciated!

[2021-03-17 03:34] majensen commented on #3030
@whedon add @TomKellyGenetics as reviewer

[2021-03-17 03:34] whedon commented on #3030
OK, @TomKellyGenetics is now a reviewer

[2021-03-17 03:36] majensen commented on #3030
@whedon start review

[2021-03-17 03:36] whedon opened #3118 "[REVIEW]: `presize`: An R-package for precision-based sample size calculation in clinical research"
**Submitting author:** @aghaynes (<a href="http://orcid.org/0000-0003-1374-081X">Alan G Haynes</a>)
**Repository:** <a href="https://github.com/CTU-Bern/presize" target ="_blank">https://github.com/CTU-Bern/presize</a>
**Version:** 0.2.3
**Editor:** @majensen
**Reviewer:** @amoeba, @TomKellyGenetics
**Archive:** <a href="https://doi.org/10.5281/zenodo.4680282" target="_blank">10.5281/zenodo.468028

[2021-03-17 03:36] whedon commented on #3030
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3118.

[2021-03-17 03:36] #3030 closed

[2021-03-17 03:36] whedon commented on #3118
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @amoeba, @TomKellyGenetics it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](ht

[2021-03-17 03:36] whedon commented on #3118
[code]

[2021-03-17 03:36] whedon commented on #3118
[code]

[2021-03-17 03:36] whedon commented on #3118
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03118/joss.03118/10.21105.joss.03118.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03118/joss.03118/10.21105.joss.03118.pdf) :page_facing_up: :point_left:

[2021-03-17 04:18] D-K-E commented on #3115
@dfm added the requested DOIs, plus some changes in the documentation. I'll continue to improve the docs.

[2021-03-17 04:21] gkthiruvathukal commented on #3075
@sarathsp06 and @farshidtz, great, I am happy to move forward with acceptance.

@farshidtz can you do the following?

Please do the following:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo
- [ ] Check the Zenodo deposit has the correct metadata, this includes the title (should match the paper titl

[2021-03-17 07:06] kanishkan91 commented on #2890
@whedon generate pdf

[2021-03-17 07:07] whedon commented on #2890
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02890/joss.02890/10.21105.joss.02890.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02890/joss.02890/10.21105.joss.02890.pdf) :page_facing_up: :point_left:

[2021-03-17 07:33] kanishkan91 commented on #2890
@jhollist Thank you very much for the detailed review! We have tried to address your review comments as a part of the new release (v1.3.3). The above pdf also reflects the same. Here is a summary of our responses for your convenience.

1. I have added a note in the review stream above about the authorship. As mentioned in the comment above, the other reviewer also had a similar comment. Please let

[2021-03-17 07:38] csoneson commented on #3107
@whedon generate pdf

[2021-03-17 07:39] whedon commented on #3107
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03107/joss.03107/10.21105.joss.03107.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03107/joss.03107/10.21105.joss.03107.pdf) :page_facing_up: :point_left:

[2021-03-17 07:40] csoneson commented on #3107
@whedon check references

[2021-03-17 07:40] whedon commented on #3107
[code]

[2021-03-17 07:52] csoneson commented on #3107
👋 @Prof-ThiagoOliveira, @dlebauer - would you be interested in reviewing this submission for JOSS?

[2021-03-17 08:12] jamesdamillington commented on #3065
Apologies, yes this is still on my todo list. Teaching a priority, but this will follow very soon

[2021-03-17 08:16] arfon commented on #3103
@tsalo - it looks like the editors best-placed to handle this submission are a little busy right now. I'm going to mark this as 'waitlisted' and we'll assign an editor just as soon as one becomes available. Thanks in advance for your patience!

[2021-03-17 08:22] arfon commented on #2796
@remram44 - many thanks! I'll go ahead and add you as a reviewer and start the review. @CJ-Wright - As and when we find a second reviewer I'll add them too.

[2021-03-17 08:22] arfon commented on #2796
@whedon add @remram44 as reviewer

[2021-03-17 08:22] whedon commented on #2796
OK, @remram44 is now a reviewer

[2021-03-17 08:22] arfon commented on #2796
@whedon start review

[2021-03-17 08:22] whedon opened #3119 "[REVIEW]: SHED: Streaming Heterogeneous Event Data Tracking with Provenance"
**Submitting author:** @CJ-Wright (<a href="http://orcid.org/0000-0003-2522-7028">Christopher Wright</a>)
**Repository:** https://github.com/xpdAcq/SHED
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** 0.7.5
**Editor:** @arfon
**Reviewers:** @remram44, @Midnighter
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-

[2021-03-17 08:22] whedon commented on #2796
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3119.

[2021-03-17 08:22] #2796 closed

[2021-03-17 08:22] whedon commented on #3119
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @remram44 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.t

[2021-03-17 08:22] whedon commented on #3119
[code]

[2021-03-17 08:22] whedon commented on #3119
PDF failed to compile for issue #3119 with the following error:

 Can't find any papers to compile :-(

[2021-03-17 08:24] ketch commented on #3079
I was able to install the software but it doesn't seem to work.  I have raised an issue.

[2021-03-17 08:26] arfon commented on #3119
@remram44 – This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are a

[2021-03-17 08:26] arfon commented on #3119
@whedon generate pdf from branch joss-paper

[2021-03-17 08:26] whedon commented on #3119
[code]

[2021-03-17 08:26] whedon commented on #3119
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03119/joss.03119/10.21105.joss.03119.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03119/joss.03119/10.21105.joss.03119.pdf) :page_facing_up: :point_left:

[2021-03-17 08:42] berenger-eu commented on #3100
Hi Jack,
Yes I agree, thanks to let me participate.
Bérenger

[2021-03-17 09:50] salrm8 commented on #2871
Thank you @ctdegroot for the comment. I understand the point of view, however, we are discussing the uncertainty in a QoI which is the outcome of a simulation, for instance. To emphasize this, we have modified the sentence  "It is important to note that uncertainty is different ..." as "It is important to note that **for a QoI**, uncertainty is different ...".

There are also a few ways to define

[2021-03-17 09:54] salrm8 commented on #2871
Thank you @ctdegroot. We have added a short guide in README on how to run a test:

### How to run a test:
The tests associated to different UQ techniques are provided in `./tests/`.
Most of the tests have also been used in the notebooks and documentation.
For instance, to run a test from `pce_tests.py` in `./tests/`, do the following:

`python3 -c 'import pce_tests as X;X.pce_1d_test()'`

[2021-03-17 10:10] bauer-alex commented on #2964
@mbobra Any update on the review?
Side note: I'll generate the pdf again since we made another minor change to a formula.

[2021-03-17 10:11] bauer-alex commented on #2964
@whedon generate pdf

[2021-03-17 10:11] whedon commented on #2964
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02964/joss.02964/10.21105.joss.02964.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02964/joss.02964/10.21105.joss.02964.pdf) :page_facing_up: :point_left:

[2021-03-17 10:17] bauer-alex commented on #2964
@whedon generate pdf

[2021-03-17 10:18] whedon commented on #2964
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02964/joss.02964/10.21105.joss.02964.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02964/joss.02964/10.21105.joss.02964.pdf) :page_facing_up: :point_left:

[2021-03-17 10:56] IndrajeetPatil commented on #3111
Potential reviewers:
- RMHogervorst
- cimentadaj
- njtierney
- humanfactors

Will suggest a few more if none of them can review the submission.

[2021-03-17 11:39] whedon opened #3120 "[PRE REVIEW]: TRUNAJOD: A text complexity library to enhance natural language processing"
**Submitting author:** @dpalmasan (<a href="http://orcid.org/0000-0003-1540-7164">Diego Palma</a>)
**Repository:** <a href="https://github.com/dpalmasan/TRUNAJOD2.0" target ="_blank">https://github.com/dpalmasan/TRUNAJOD2.0</a>
**Version:** 0.1.0.0
**Editor:** @danielskatz
**Reviewers:** @mbdemoraes, @apiad
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to th

[2021-03-17 11:39] whedon commented on #3120
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-17 11:39] whedon opened #3121 "[PRE REVIEW]: Jinqu: The ultimate Javascript LINQ API for Automated DataQuerying Solution for the Web"
**Submitting author:** @umutozel (<a href="http://orcid.org/0000-0002-7143-5955">umut özel</a>)
**Repository:** <a href="https://github.com/jin-qu/jinqu" target ="_blank">https://github.com/jin-qu/jinqu</a>
**Version:** 1.1.3
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JO

[2021-03-17 11:39] whedon commented on #3121
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-17 11:39] whedon commented on #3120
[code]

[2021-03-17 11:40] whedon commented on #3121
Failed to discover a `Statement of need` section in paper

[2021-03-17 11:40] whedon commented on #3121
[code]

[2021-03-17 11:40] whedon commented on #3120
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03120/joss.03120/10.21105.joss.03120.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03120/joss.03120/10.21105.joss.03120.pdf) :page_facing_up: :point_left:

[2021-03-17 11:40] whedon commented on #3120
[code]

[2021-03-17 11:40] whedon commented on #3121
PDF failed to compile for issue #3121 with the following error:

 /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse': (317721ea6a4bb73e2a12040d/paper.md): did not find expected comment or line break while scanning a block scalar at line 3 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse_stream'
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/p

[2021-03-17 11:47] kadyb commented on #2948
Thanks again to everyone for participating and helping in this submission!

[2021-03-17 11:49] wuruchi commented on #3049
Hello @ikayz

I wonder if there is anything else you need to continue with the review process.

Best regards.

[2021-03-17 11:51] Prof-ThiagoOliveira commented on #3107
Dear Madam/Sir,

Yes, I would appreciate to review this paper.

Best regards,
Dr. Thiago de Paula Oliveira
Blog: https://prof-thiagooliveira.netlify.com/
​
Researcher in Statistics
The Roslin Institute
University of Edinburgh
________________________________
From: Charlotte Soneson ***@***.***>
Sent: 17 March 2021 07:53
To: openjournals/joss-reviews ***@***.***>
Cc: DE PAULA OLIVEIRA Thiago ***@**

[2021-03-17 11:55] csoneson commented on #3107
@Prof-ThiagoOliveira - great, thanks! Once we have secured one more reviewer I will start the actual review issue (where you will find the checklist to fill etc).

[2021-03-17 12:28] dfm commented on #3115
@eigenfoo: Great question! I am satisfied by your response @D-K-E, but the paper and documentation should make the research applications very clear and demonstrate where this package fits into the ecosystem. So perhaps the discussion in the README should be clarified with this in mind.

[2021-03-17 13:29] jarrah42 commented on #3040
I opened #17 a couple of days ago on the installation issue. This is a vanilla Ubuntu 20.04 so I would expect the tests to pass, but I'll open another issue when I get some time to look at it again.

[2021-03-17 13:39] dpalmasan commented on #3120
These reviewers might be suitable:

ankur-gupta, shanamatthews, mbdemoraes/moafs, colbrydi, apiad

El mié, 17 mar 2021 a las 8:40, whedon ***@***.***>)
escribió:

--
Diego

[2021-03-17 13:46] martibosch commented on #3065
Hello! I have my thesis defense the 30th of March, so I will get to this review after that. Sorry for the inconveniences, I hope that this timing still works for you.

[2021-03-17 13:46] 0x0f0f0f commented on #3078
I'm planning to write another full length paper in detail explaining all the features! This is an introductory paper to serve as canonical citation in the style of `Flux.jl`. In this paper I want to illustrate the core features and high level architecture of Metatheory.jl (egraphs and classical rewriting), which are unlikely to change.

[2021-03-17 14:01] micheder commented on #3116
We would kindly like to suggest the following potential reviewers:
* sigvaldm
* Christovis
* ketch
* vickysharma0812
* robashaw

[2021-03-17 14:08] jgostick commented on #2976
@Isurwars are you there?

[2021-03-17 14:17] ikayz commented on #3049
@wuruchi sorry I was caught up with something, I finished the review and tried the app with the implemented changes. It works, all the tests pass and I've checked everything the checklist mentioned. It's a well-written React app, good job. My test machine is a Windows 10 build and here by do confirm the app works.
![image](https://user-images.githubusercontent.com/31007212/111481950-1f6da900-873c-

[2021-03-17 14:35] jhollist commented on #2890
@kanishkan91 Thanks for the thorough response!  All this sounds good to me!

Only last suggestion is that I would have you choose `remotes` or `devtools`.  Admittedly, it is a nitpicky thing on my part.  If a user already has installed `devtools` then they will be all set, but if they don't then a `devtools` install has a lot of extra dependencies and `remotes` installs much quicker.  The decision

[2021-03-17 14:52] kanishkan91 commented on #2890
@jhollist Thanks again. Yes, the `devtools` vs `remotes` is an important one. I guess we can go with `remotes` given that developers will be prompted by R to get `devtools` to add to the package anyway. Other users can just use remotes to quickly install the package. Does this sound ok?

@crvernon Do you have thoughts on this?

[2021-03-17 14:56] jhollist commented on #2890
`devtools` shouldn't be required for any of this from what I can tell.  It isn't a dependency on `remotes` or `ambrosia`.  Would only be around if a user has need for the other development tools (and many users probably would...)

I will leave the decision up to you and your co-authors.  Either option would provide the needed installation tools.

[2021-03-17 15:08] fboehm commented on #3097
@esteinig and @chrisvoncsefalvay - how are your reviews going? It looks like you both haven't yet checked the "installation" and "functionality" boxes. Are there issues that the authors should address?

[2021-03-17 15:11] wuruchi commented on #3049
Hello @ikayz

Thank you for your time and the compliments!

I guess it is now my turn to make a tagged release and upload it to get a DOI. I have taken these steps and as a result we have:

Autosubmit GUI uploaded as autosubmitreact-v1.0.0 (v1.0.0 is the current version).

The DOI is [https://doi.org/10.6084/m9.figshare.14230052.v1](https://doi.org/10.6084/m9.figshare.14230052.v1)

Is it Ok @arfon

[2021-03-17 15:23] ikayz commented on #3049
It was an honour and a previlege to review it.

[2021-03-17 15:24] Sara-ShiHo commented on #3021
Hi @whedon @lpantano is it possible to resend the invitation at https://github.com/openjournals/joss-reviews/invitations

[2021-03-17 15:25] danielskatz commented on #3021
@whedon re-invite @Sara-ShiHo as reviewer

[2021-03-17 15:25] whedon commented on #3021
OK, the reviewer has been re-invited.

@sara-shiho please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-03-17 15:34] BenMql commented on #2978
Thank you all for your time and your valuable suggestions, which have spurred improvements in both the code, the doc, and the paper.
If you have more remarks, I am looking forward to hearing them!

[2021-03-17 15:34] BenMql commented on #2978
@whedon generate pdf

[2021-03-17 15:35] whedon commented on #2978
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02978/joss.02978/10.21105.joss.02978.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02978/joss.02978/10.21105.joss.02978.pdf) :page_facing_up: :point_left:

[2021-03-17 15:41] umutozel commented on #3121
@whedon commands

[2021-03-17 15:41] whedon commented on #3121
Here are some things you can ask me to do:

[code]

[2021-03-17 15:41] umutozel commented on #3121
@whedon generate pdf

[2021-03-17 15:42] whedon commented on #3121
PDF failed to compile for issue #3121 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:147:in `check_fields': Paper YAML header is missing expected fields: bibliography (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:89:in `initialize'
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92

[2021-03-17 15:42] arfon commented on #3049
@whedon set 10.6084/m9.figshare.14230052.v1 as archive

[2021-03-17 15:42] whedon commented on #3049
OK. <a href="https://doi.org/10.6084/m9.figshare.14230052.v1" target="_blank">10.6084/m9.figshare.14230052.v1</a> is the archive.

[2021-03-17 15:43] arfon commented on #3049
@whedon accept

[2021-03-17 15:43] whedon commented on #3049
[code]

[2021-03-17 15:43] umutozel commented on #3121
@whedon generate pdf

[2021-03-17 15:44] whedon commented on #3049
[code]

[2021-03-17 15:44] whedon commented on #3049
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2152

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2152, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-03-17 15:44] whedon commented on #3121
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03121/joss.03121/10.21105.joss.03121.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03121/joss.03121/10.21105.joss.03121.pdf) :page_facing_up: :point_left:

[2021-03-17 15:46] umutozel commented on #3121
@whedon generate pdf

[2021-03-17 15:47] whedon commented on #3121
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03121/joss.03121/10.21105.joss.03121.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03121/joss.03121/10.21105.joss.03121.pdf) :page_facing_up: :point_left:

[2021-03-17 15:54] 0x0f0f0f commented on #3078
I made a single breaking change and I've updated the example in the paper. Will be present in next commit pushed.

[2021-03-17 15:59] wuruchi commented on #3049
Looks good to me.

@whedon accept deposit=true

[2021-03-17 16:47] munkm commented on #2964
Hi @bauer-alex! I'm reviewing this and I've set aside time over the next week to review it. Thanks for your patience!!!!

[2021-03-17 17:09] whedon commented on #3078
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03078/joss.03078/10.21105.joss.03078.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03078/joss.03078/10.21105.joss.03078.pdf) :page_facing_up: :point_left:

[2021-03-17 17:23] ayush-1506 commented on #3052
@mdpiper The outputs generally go in `$ADE_HOME/baseline/output`. You can find the generated xml files there. This is indicated by the `BASELINE_OUTPUT_DIR` variable : [here](https://github.com/openmainframeproject/ade/blob/master/ade-assembly/src/main/test/analysis_comp_test.sh#L43).

[2021-03-17 17:41] lpantano commented on #3021
@whedon re-invite @dangeles as reviewer

[2021-03-17 17:41] whedon commented on #3021
OK, the reviewer has been re-invited.

@dangeles please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-03-17 17:48] sbenthall commented on #2749
@sambitdash This is a gentle nudge reminding you about this review :)

[2021-03-17 18:00] 0x0f0f0f commented on #3078
Only change is that on the last line of example you do not need anymore to add the analysis explicitly but you can directly call `extract!(egraph, cost_function)`. @philzook58 everything looking ok? Were you able to edit the whedon comment with the list after Daniel re-added you?

[2021-03-17 18:11] wtbarnes commented on #3062
@marcozennaro @gkthiruvathukal I've finished my review and apologies for the delay. Unfortunately, at this stage, I cannot recommend this paper for publication in JOSS. I have completed the reviewer check list above and am currently forced to leave many of the boxes unchecked as the software does not meet these requirements. Without addressing the fundamental issues detailed below, it will be diff

[2021-03-17 18:19] danielskatz commented on #3049
@wuruchi - you can't do this - just the AEiC on duty can

[2021-03-17 18:22] wuruchi commented on #3049
@danielskatz Oh, sorry about it. 😬

[2021-03-17 18:45] crvernon commented on #2890
@jhollist great point!  @kanishkan91 Let's leave this with `devtools` for now since this is the current strategy with our other models.  We may consider shifting towards this revision will our other models for our next release schedule.  Thanks!

[2021-03-17 18:55] sambitdash commented on #2749
@sbenthall reviewed the documentation. Need to install and test the software.

[2021-03-17 19:00] sambitdash commented on #2749
Bugs in the repo related to the missing docstrings. https://github.com/sisl/POMDPStressTesting.jl/issues/7

[2021-03-17 19:03] pjanck commented on #3061
Hi @aothms

thank you for the comments. Please find our comments below. Additionally, the paper and the branch have been updated accordingly.

I see that I have skipped over the instruction "including to other software addressing related needs". I added a paragraph to the `Statement of Need` section. Hopefully, I've cited everything correctly.

Thanks for the hint, changed accordingly. It is GPL v

[2021-03-17 19:18] pjanck commented on #3061
@whedon generate pdf from branch joss_submission

[2021-03-17 19:18] whedon commented on #3061
[code]

[2021-03-17 19:19] qpmnguyen commented on #2964
Hi hi! I am planning to get your review back @bauer-alex at the end of this week. Sorry for taking so long!

[2021-03-17 19:21] whedon commented on #3061
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03061/joss.03061/10.21105.joss.03061.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03061/joss.03061/10.21105.joss.03061.pdf) :page_facing_up: :point_left:

[2021-03-17 20:02] mossr commented on #2749
@sambitdash fixed with https://github.com/sisl/POMDPStressTesting.jl/commit/2f23550c65148d48d70d853f3bc055f13064979c

[2021-03-17 20:59] abhishekbajpayee commented on #3017
@arokem I don't have time until early April. If this can wait until April 10th or so, I can review.

[2021-03-17 21:12] kanishkan91 commented on #2890
@whedon generate pdf

[2021-03-17 21:13] whedon commented on #2890
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02890/joss.02890/10.21105.joss.02890.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02890/joss.02890/10.21105.joss.02890.pdf) :page_facing_up: :point_left:

[2021-03-17 21:19] kanishkan91 commented on #2890
@jhollist Thanks! Based on the above discussion, we have changed the readme to retain only the `devtools` instructions.

@dhhagan We have addressed review comments from both reviewers. We are thinking we will do one final release 1.3.4 with any other edits that may be required by you. Please let us know what you think of the above and if you need anything else from my side.

Thanks again!

[2021-03-17 22:31] TheoChristiaanse commented on #2677
Hi @sjpfenninger We have released 2.1 which has all the JOSS updates and should be a final version that can be accepted. Since we developed on Gitlab. Is there a particular site that we should use that works well with Gitlab? Or should we fork to Github to archive here? then connect with Zenodo or figshare?

[2021-03-17 22:59] semiautomaticgit commented on #3102
Thank you very much @arfon !

[2021-03-17 22:59] mbobra commented on #3091
@tuelwer Thank you so much for your detailed review! I really appreciate it.

[2021-03-17 23:54] TheoChristiaanse commented on #2677
@sjpfenninger Hi, I just looked at the Zenodo service, we can also upload the files from the GitLab manually. We can keep it up to date by uploading when there are new releases. However, it would not have this link with Github.  Would this also be sufficient?

[2021-03-18 00:25] andreasmang commented on #3038
Dear all:

I apologize for the silence. The last couple of weeks have been pretty intense. I will be able to respond more quickly to further requests from now on.

We did not discuss this in the README. We currently do not have support for Github Actions. This remains subject to future work.
CLAIRE features a test binary used in our group to make sure the computational kernels produce accurate res

[2021-03-18 00:41] poulson commented on #3100
Thank you Bérenger!

[2021-03-18 00:42] poulson commented on #3100
@whedon add @berenger-eu as reviewer

[2021-03-18 00:42] whedon commented on #3100
OK, @berenger-eu is now a reviewer

[2021-03-18 00:53] chrisvoncsefalvay commented on #3097
@fboehm I have just completed my review. I've left the installation and functionality boxes last, as I wanted to give a thorough opinion. I have managed to install and test functionalities with success on a Mac OS Big Sur system. I am happy to check off the relevant box based on that, although I would note that the author himself states they have tested it on a Mac OS system – there may be issues

[2021-03-18 02:04] rurz commented on #3082
Hi, everyone. Hope you're doing well.

I raised an issue thread on the toqito repo for my review -> https://github.com/vprusso/toqito/issues/48

Keep well, and safe

[2021-03-18 03:08] gkthiruvathukal commented on #3062
@marcozennaro, We obviously have a thorough first review from @wtbarnes. I also want to hear what @gorlapraveen has to say. Can you please start working on these issues right away? I would like immediate clarification on the authorship issue raised by @wtbarnes. Please note that the issues raised do not disqualify you or your co-authors, but we'd like to get a more clear statement of how you've co

[2021-03-18 04:53] dlebauer commented on #3107
Hi Charlotte - yes I am interested in reviewing this submission

On Wed, Mar 17, 2021 at 4:55 AM Charlotte Soneson ***@***.***>
wrote:

[2021-03-18 05:49] bauer-alex commented on #2964
All good. Thanks for the quick response!

[2021-03-18 06:41] conradsnicta commented on #3051
Update: we are close to finalising the paper revision and the response to reviewers.

[2021-03-18 07:22] csoneson commented on #3107
Brilliant, thanks both for your quick replies! I will now open the review issue and further communication will happen over there.

[2021-03-18 07:22] csoneson commented on #3107
@whedon assign @Prof-ThiagoOliveira as reviewer

[2021-03-18 07:22] whedon commented on #3107
OK, @Prof-ThiagoOliveira is now a reviewer

[2021-03-18 07:23] csoneson commented on #3107
@whedon add @dlebauer as reviewer

[2021-03-18 07:23] whedon commented on #3107
OK, @dlebauer is now a reviewer

[2021-03-18 07:23] csoneson commented on #3107
@whedon start review

[2021-03-18 07:23] whedon opened #3122 "[REVIEW]: FielDHub: An R Shiny Package for Design of Experiments in Life Sciences"
**Submitting author:** @DidierMurilloF (<a href="http://orcid.org/0000-0003-3685-4959">Didier Murillo Florez</a>)
**Repository:** <a href="https://github.com/DidierMurilloF/FielDHub" target ="_blank">https://github.com/DidierMurilloF/FielDHub</a>
**Version:** v0.1.0
**Editor:** @csoneson
**Reviewer:** @Prof-ThiagoOliveira, @dlebauer
**Archive:** <a href="https://doi.org/10.5281/zenodo.4768611" tar

[2021-03-18 07:23] whedon commented on #3107
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3122.

[2021-03-18 07:23] #3107 closed

[2021-03-18 07:23] whedon commented on #3122
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Prof-ThiagoOliveira, @dlebauer it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog pos

[2021-03-18 07:23] whedon commented on #3122
[code]

[2021-03-18 07:24] whedon commented on #3122
[code]

[2021-03-18 07:24] whedon commented on #3122
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03122/joss.03122/10.21105.joss.03122.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03122/joss.03122/10.21105.joss.03122.pdf) :page_facing_up: :point_left:

[2021-03-18 07:26] csoneson commented on #3122
👋 @DidierMurilloF, @Prof-ThiagoOliveira, @dlebauer - this is the review thread for the submission. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from most oth

[2021-03-18 09:43] jarvist commented on #2749
Documentation & JOSS paper are now very nicely written ^:)

[2021-03-18 09:44] jarvist commented on #2749
Apologies @sambitdash  - I think I accidentally ticked off some of your bits of the review, I tried to undo this, but I may now have unticked items you had confirmed for!

[2021-03-18 09:48] farshidtz commented on #3075
Thanks a lot to @yadudoc and @sarathsp06 for their thorough feedback.

@gkthiruvathukal, we have made the release and uploaded the archive to Zenodo. Please find the details below:

Version: v1.0.0-beta.21
DOI: https://doi.org/10.5281/zenodo.4616483

[2021-03-18 09:49] jarvist commented on #2749
`PyPlot` is a hidden requirement for the tests to run, it appears to get called in `Walk2D`. This causes the tests to error out when halfway complete, on a new installation on Julia 1.6.0-rc2.

[2021-03-18 09:53] mossr commented on #2749
@jarvist great catch! That `PyPlot` code is unused anyhow, so I've just removed it from the `Walk2D` test (updated on master).

[2021-03-18 09:59] jarvist commented on #2749
I edited it out by hand, and then the tests ran to completion.

I'm finished with my review now - it looks like a well put together & described package! 🎉

[2021-03-18 10:00] mossr commented on #2749
Wonderful to hear! Thank you for taking the time to review this!

[2021-03-18 12:04] druvus commented on #2334
@lpantano sorry for not pinging you.  I have used the Docker edge image to run through the test data and an internal MiSeq run. It seems to work for me using Docker but I haven't tried manual installation so far. It is a lot of dependencies but it looks like would be quite possible, especially in combination with conda.

[2021-03-18 12:13] tomgrylls commented on #3055
@whedon generate pdf

[2021-03-18 12:14] whedon commented on #3055
PDF failed to compile for issue #3055 with the following error:

 Can't find any papers to compile :-(

[2021-03-18 12:27] tomgrylls commented on #3055
@whedon generate pdf from branch joss-paper

[2021-03-18 12:27] whedon commented on #3055
[code]

[2021-03-18 12:27] whedon commented on #3055
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03055/joss.03055/10.21105.joss.03055.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03055/joss.03055/10.21105.joss.03055.pdf) :page_facing_up: :point_left:

[2021-03-18 13:22] wtbarnes commented on #3062
My comment about authorship was based on commits to the master branch: https://github.com/STI-ICTP/TropPOLoRaTools/commits/master. The git history for this project is relatively short so I of course understand that much work could have been done on the software prior to the beginning of the commit history and that much information could very well be lost due to the changes to the software being co

[2021-03-18 13:44] gkthiruvathukal commented on #3062
@wtbarnes, agreed! That's why I followed up. Just seeking clarification. Thanks for your follow up.

[2021-03-18 15:38] timtroendle commented on #2769
@prdm0, as both reviewers are satisfied with the changes, we can start the acceptance process, which should not take long. At this point could you please do the following:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check th

[2021-03-18 15:57] pibion commented on #2484
@dghoshal-lbl no luck with my last round of review requests.  I've just sent out another round of invitations, I'll keep you updated!

[2021-03-18 15:57] dlebauer commented on #3122
PR submitted w/ OSI approved license https://github.com/DidierMurilloF/FielDHub/pull/1

[2021-03-18 16:25] karthik commented on #2944
@LangeJens  FYI I am still seeking reviewers. I've had about 4 declines and I am pursuing more leads.

[2021-03-18 16:54] prdm0 commented on #2769
@whedon set v0.2.9 as version

[2021-03-18 16:54] whedon commented on #2769
I'm sorry @prdm0, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-03-18 17:00] prdm0 commented on #2769
Dear @timtroendle ,

1. [https://github.com/prdm0/ropenblas/tree/v0.2.9](https://github.com/prdm0/ropenblas/tree/v0.2.9), **tag v0.2.9**;
2. [https://zenodo.org/record/4618251#.YFOGiytv83w](https://zenodo.org/record/4618251#.YFOGiytv83w);
3. Done metadata;
4. [https://doi.org/10.5281/zenodo.4618251](https://doi.org/10.5281/zenodo.4618251), **DOI**: 10.5281/zenodo.4618251

[2021-03-18 17:02] prdm0 commented on #2769
My language is not English. I must have run an unallowed command.

[2021-03-18 17:04] marcozennaro commented on #3062
Thanks @wtbarnes and @gkthiruvathukal for the constructive comments. We will work on them and let you know once we are done.

[2021-03-18 17:31] lukapecnik commented on #2949
Hello @adi3 and @sara-02, I hope you are both doing well. How are things going forward with this review? Is there anything we can do so far to improve this framework and make it more suitable for publishing the paper in JOSS?

We are looking forward to hearing from you.
Thank you in advance.

[2021-03-18 17:34] adi3 commented on #2949
Hi @lukapecnik - I could not find any automated tests in your repo. Can you add some for the key functionalities, or if you already have them, document them in the readme?

[2021-03-18 17:51] meg-simula commented on #2879
@whedon generate pdf

[2021-03-18 17:51] meg-simula commented on #2879
@whedon check references

[2021-03-18 17:52] whedon commented on #2879
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02879/joss.02879/10.21105.joss.02879.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02879/joss.02879/10.21105.joss.02879.pdf) :page_facing_up: :point_left:

[2021-03-18 17:52] whedon commented on #2879
[code]

[2021-03-18 17:53] lukapecnik commented on #2949
Hi @adi3, the tests are available [here](https://github.com/lukapecnik/NiaAML/tree/master/niaaml/tests), and the instructions on how to run them are available in the `CONTRIBUTING.md`. They are also automated using the TravisCI platform (see `.travis.yml`). Test coverage is also available as a badge on top of the root `README.md` or via the Coveralls platform.

Do you think the instructions should

[2021-03-18 17:57] meg-simula commented on #2879
Thanks again @jamtrott and @ramisetti for completing the reviews - much appreciated - and @mscroggs for addressing all comments. This looks good to go from my side. (The paper might be a bit long for the current JOSS standard, but I think the manuscript is valuable as is, and would recommend its current form.)

[2021-03-18 17:57] meg-simula commented on #2879
At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (make sure th

[2021-03-18 17:59] meg-simula commented on #2879
PS: whedon check references highlighted one possibly erraneous DOI in the references, would you @mscroggs check that prior to the above, please?

[2021-03-18 18:00] adi3 commented on #2949
I think leaving them in `CONTRIBUTING.md` is fine. Thanks for pointing them out to me. I'll run them and get back to you with feedback.

[2021-03-18 18:13] prdm0 commented on #2769
Dear @timtroendle ,

1 - <https://github.com/prdm0/ropenblas/tree/v0.2.9>, **tag v0.2.9**;
2 - <https://zenodo.org/record/4618251#.YFOGiytv83w>;
3 - Done metadata;
4 - <https://doi.org/10.5281/zenodo.4618251>, **DOI**: [10.5281/zenodo.4618251](https://doi.org/10.5281/zenodo.4618251).

[2021-03-18 18:15] mscroggs commented on #2879
The missing DOI is for an old book that I couldn't find a DOI for. The suggested DOI is for a review of it, not the book itself. I'll sort those tasks out now

[2021-03-18 18:21] meg-simula commented on #2879
Ok, sounds good.
--
Marie

On Thu, 18 Mar 2021 at 19:16, Matthew Scroggs ***@***.***>
wrote:

[2021-03-18 18:24] mscroggs commented on #2879
Tagged release: https://github.com/bempp/bempp-cl/releases/tag/v0.2.3

[2021-03-18 18:39] mscroggs commented on #2879
@meg-simula: I think those tasks are all done now. Thanks for editing.

And thanks @jamtrott and @ramisetti for helpful reviewer comments.

[2021-03-18 19:31] meg-simula commented on #2879
@whedon set 10.5281/zenodo.4618621 as archive

[2021-03-18 19:31] whedon commented on #2879
OK. <a href="https://doi.org/10.5281/zenodo.4618621" target="_blank">10.5281/zenodo.4618621</a> is the archive.

[2021-03-18 19:31] meg-simula commented on #2879
@whedon set v0.2.3 as version

[2021-03-18 19:31] whedon commented on #2879
OK. v0.2.3 is the version.

[2021-03-18 19:31] meg-simula commented on #2879
@whedon accept

[2021-03-18 19:31] whedon commented on #2879
[code]

[2021-03-18 19:32] whedon commented on #2879
[code]

[2021-03-18 19:32] whedon commented on #2879
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2153

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2153, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-03-18 20:02] rodluger commented on #3071
@j-faria Can you tell me more about your issues with the app? Or just raise an issue in the repo when you get a chance. Thanks!

[2021-03-18 20:16] sonal-raj commented on #2990
@arfon I have reviewed the netrd library along with the supporting paper & documentation and it looks good to me. The checklist has been updated accordingly.

[2021-03-18 22:56] pibion commented on #2484
@whedon add @gflofst as reviewer

[2021-03-18 22:56] whedon commented on #2484
OK, @gflofst is now a reviewer

[2021-03-19 00:52] karthik commented on #3111
@arfon Currently don't have bandwidth to edit this but let me know if you can't find anyone else to take over.

[2021-03-19 01:34] dhhagan commented on #3080
@ziotom78 and @diehlpk thanks for the quick response. I'm going to re-tag @johnsamuelwrites who I believe I misspelled previously...

[2021-03-19 06:39] arfon commented on #3049
@whedon accept deposit=true

[2021-03-19 06:39] whedon commented on #3049
[code]

[2021-03-19 06:40] whedon commented on #3049
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1372800041228722179) 👈 🐦🐦🐦

[2021-03-19 06:40] whedon commented on #3049
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2154
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.03049](https://doi.org/10.21105/joss.03049)
2. If everything looks g

[2021-03-19 06:41] arfon commented on #2879
@whedon accept deposit=true

[2021-03-19 06:41] whedon commented on #2879
[code]

[2021-03-19 06:42] whedon commented on #2879
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1372800598702059522) 👈 🐦🐦🐦

[2021-03-19 06:42] whedon commented on #2879
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2155
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02879](https://doi.org/10.21105/joss.02879)
2. If everything looks g

[2021-03-19 06:44] arfon commented on #3049
@djmitche, @ikayz - many thanks for your reviews here. JOSS relies upon the volunteer efforts of people l like you and we simply wouldn't be able to do this without you ✨

@wuruchi - your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-03-19 06:44] #3049 closed

[2021-03-19 06:44] whedon commented on #3049
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03049/status.svg)](https://doi.org/10.21105/joss.03049)

**We need your help!**

Journal of Open Source Softwa

[2021-03-19 06:46] arfon commented on #2879
@jamtrott, @ramisetti - many thanks for your reviews here and to @meg-simula for editing this submission. JOSS relies upon the volunteer efforts of people like you all, and we simply wouldn't be able to do this without you ✨

@mscroggs - your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-03-19 06:46] #2879 closed

[2021-03-19 06:46] whedon commented on #2879
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02879/status.svg)](https://doi.org/10.21105/joss.02879)

**We need your help!**

Journal of Open Source Softwa

[2021-03-19 06:47] ikayz commented on #3049
@arfon thanks to you for the opportunity and always happy to contribute to Open Source. Looking forward to future opportunities like these.

[2021-03-19 07:06] csoneson commented on #3093
👋 @tgerke, @borishejblum - just wanted to quickly check in that you have all you need for your reviews. Don't hesitate to ping me if you have any questions. Thanks!

[2021-03-19 07:15] LangeJens commented on #2944
Thanks for getting in touch! If it is of any help, you could also ask Julian Burger or Riet Van Bork from the University of Amsterdam. I know that they also contribute to R packages although they do not seem to have github pages themselves.

[2021-03-19 07:23] vbaliga commented on #3074
Hi @brunaw and @cddesja,

Thanks sincerely to both of you for reviewing `gaussplotR` and providing feedback. I think you've both found ways to improve the package and the corresponding paper, and I am grateful for it. Here are my point-by-point replies:

### @brunaw

I agree. Forcing users to have R >= 4.0.0 was too stringent a requirement and not necessary for the package's current functionality.

[2021-03-19 09:55] adi3 commented on #2949
@lukapecnik in your examples folder, can you please changes all occurrences of `python` to `python3`? This at least has to be the case in `run_all.sh` and `run_all.bat` files. Please do a search on other files as well. Since you are documenting the installation with `python3`, your examples should assume to run in that environment as well.

[2021-03-19 10:20] McGregor14 commented on #3105
@whedon generate pdf

[2021-03-19 10:21] whedon commented on #3105
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03105/joss.03105/10.21105.joss.03105.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03105/joss.03105/10.21105.joss.03105.pdf) :page_facing_up: :point_left:

[2021-03-19 10:22] NathHorrigan commented on #3105
@whedon generate pdf

[2021-03-19 10:23] whedon commented on #3105
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03105/joss.03105/10.21105.joss.03105.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03105/joss.03105/10.21105.joss.03105.pdf) :page_facing_up: :point_left:

[2021-03-19 10:48] AJQuinn commented on #2977
Hi @dpsanders - is there anything else outstanding for this review?

Sorry to ask... just wondering about timings. I'm close to needing the next release and would like to get all the JOSS changes in a single increment if possible. I'll wait if there are only minor changes needed but if there is something bigger required I'll plan for two releases. Thank you for your time

[2021-03-19 10:57] adi3 commented on #2949
@lukapecnik Can you please move the `Support` section from `CONTRIBUTING.md` to the main `README.md`? Also, please add a section for `Issues` in `README.md` and copy here the text you have under `Reporting Bugs` in `CONTRIBUTING.md`. Thanks! This is coming together pretty well.

[2021-03-19 12:20] robashaw commented on #3039
@poulson @felipeZ @lorenzo-rovigatti If there are no further changes, I will merge [https://github.com/robashaw/libecpint/pull/38](this libecpint pull request). Thank you for your time and helpful suggestions :)

[2021-03-19 12:45] SunilAnandatheertha commented on #3018
Hello. Could I please request for an update.

[2021-03-19 13:04] nespinoza commented on #3071
Thanks for all the additions @rodluger. On my end, I can call this review complete then --- happy to accept this paper for publication in JOSS on my end. Congrats @rodluger on this awesome piece of software!

[2021-03-19 13:10] cddesja commented on #3074
@vbaliga, I am fine with your changes. Regarding

I was just basing this off the Installation Instruction checklist. I agree that your package has few requirements and If the user does want to see them they can visit: https://cran.r-project.org/web/packages/gaussplotR/index.html

[2021-03-19 14:05] Prof-ThiagoOliveira commented on #3122
I've been submitting issues with partial solutions to #3107

[2021-03-19 14:23] johnsamuelwrites commented on #3080
@dhhagan Thanks for the invitation. I will be able to review this.

[2021-03-19 14:41] sjpfenninger commented on #2677
You can manually upload a copy of the repository to Zenodo. You do not need to update it after the paper is accepted. What is important is that the title and authors in the Zenodo deposition match those of the paper.

[2021-03-19 14:55] inakleinbottle commented on #3054
I am now satisfied that the criteria have been met.

[2021-03-19 15:24] bonh commented on #3096
@melissawm I am somehow unable to tick the boxes in my list above. Did I forget to accept some invitation (stupid me...)?

[2021-03-19 15:33] IndrajeetPatil commented on #3111
@arfon Are we allowed to make suggestions about possible editors as well? If yes, I can suggest the following people:

- mikldk
- sbenthall

Will suggest a few more if none of them can edit the submission.

[2021-03-19 15:40] bonh commented on #3096
Hi @AngryMaciek !

Great software and super clean engineering and project management! I have a few comments, suggestions and so on. I will start to open issues in your repo so that we can discuss them.

[2021-03-19 15:54] bonh commented on #3096
@melissawm I suggest that you get into that one #AngryMaciek/hypercomplex#26. Perhaps I am misreading the guidelines of JOSS.

[2021-03-19 16:16] whedon commented on #2945
:wave: @thelfer, please update us on how your review is going (this is an automated reminder).

[2021-03-19 16:18] whedon commented on #3060
:wave: @KristofferC, please update us on how your review is going (this is an automated reminder).

[2021-03-19 16:32] brunaw commented on #3074
@vbaliga same for me, I couldn't spot anything else that needs change. I have updated my review tick boxes and I am happy to proceed with the acceptance of your paper.

[2021-03-19 16:40] MAnalytics commented on #3083
@danielskatz @arfon It's been two weeks sir! Just checking to see what the outcome of the scope query is.

Btw. Please, check out the newly published article: https://www.scirp.org/journal/paperinformation.aspx?paperid=107836   which describes the methodologies behind the R package in detail; and also contains the proper citation of the R package. I hope that the editors will also put this into co

[2021-03-19 17:02] dhhagan commented on #3080
@johnsamuelwrites great!

[2021-03-19 17:02] dhhagan commented on #3080
@whedon add @johnsamuelwrites as reviewer

[2021-03-19 17:02] whedon commented on #3080
OK, @johnsamuelwrites is now a reviewer

[2021-03-19 17:12] vbaliga commented on #3074
@cddesja and @brunaw -- awesome, thanks very much!

[2021-03-19 17:40] whedon opened #3123 "[PRE REVIEW]: Surfaxe: Systematic surface calculations"
**Submitting author:** @brlec (<a href="http://orcid.org/0000-0003-1485-1888">Katarina Brlec</a>)
**Repository:** <a href="https://github.com/SMTG-UCL/surfaxe" target ="_blank">https://github.com/SMTG-UCL/surfaxe</a>
**Version:** v1.1
**Editor:** @danielskatz
**Reviewers:** @pzarabadip, @eihernan
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2021-03-19 17:40] whedon commented on #3123
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-19 17:41] whedon commented on #3123
[code]

[2021-03-19 17:41] whedon commented on #3123
[code]

[2021-03-19 17:41] whedon commented on #3123
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03123/joss.03123/10.21105.joss.03123.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03123/joss.03123/10.21105.joss.03123.pdf) :page_facing_up: :point_left:

[2021-03-19 17:52] brlec commented on #3123
Hi, our suggested reviewers are arosen and pzarabadip

[2021-03-19 19:25] timtroendle commented on #2769
Dear @prdm0, thanks for this! Your submission is almost ready for publication. However, the paper needs more work. With more than 2000 words and 6 pages, it’s too long. Can you please shorten the paper to about 1000 words or less? Here are two possibilities:

First, the paper contains a lot of information taken from the documentation. This information is not required in the JOSS article. This conc

[2021-03-19 19:28] prdm0 commented on #2769
Dear @timtroendle , I will proceed with the changes now.

[2021-03-19 19:41] prdm0 commented on #2769
Dear @timtroendle, I made the reductions so that there was a reduction of one page. I believe that it complies with the other papers in JOSS that have up to a maximum of 5 pages.

[2021-03-19 19:41] prdm0 commented on #2769
@whedon generate pdf

[2021-03-19 19:42] whedon commented on #2769
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02769/joss.02769/10.21105.joss.02769.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02769/joss.02769/10.21105.joss.02769.pdf) :page_facing_up: :point_left:

[2021-03-19 19:50] prdm0 commented on #2769
Dear @timtroendle, it decreases even more and the paper, The material now has less than 2000 words, more precisely with 1998.

[code]

[2021-03-19 19:50] prdm0 commented on #2769
@whedon generate pdf

[2021-03-19 19:51] whedon commented on #2769
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02769/joss.02769/10.21105.joss.02769.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02769/joss.02769/10.21105.joss.02769.pdf) :page_facing_up: :point_left:

[2021-03-19 20:43] mikldk commented on #3085
@trashbirdecology: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2021-03-19 20:43] mikldk commented on #3085
@whedon assign @alexpghayes as reviewer

[2021-03-19 20:43] whedon commented on #3085
OK, @alexpghayes is now a reviewer

[2021-03-19 20:45] mikldk commented on #3054
@vs74, can you please give a brief status of your review? This is not to rush you, merely to give me an impression of the progress and time-frame.

[2021-03-19 20:47] mikldk commented on #2878
r-barnes, can you please give a brief status of your review? This is not to rush you, merely to give me an impression of the progress and time-frame.

[2021-03-19 20:47] mikldk commented on #2878
@r-barnes, can you please give a brief status of your review? This is not to rush you, merely to give me an impression of the progress and time-frame.

[2021-03-19 20:51] mikldk commented on #2992
@alemermartinez Please also read <https://cran.r-project.org/doc/manuals/r-release/R-exts.html#Writing-package-vignettes> and <https://r-pkgs.org/vignettes.html>. Normally, `.R` and `.html` files are not in the `vignette` directory. Use e.g. `devtools::build_vignettes()` for handling vignettes (see [here](https://devtools.r-lib.org/reference/build_vignettes.html)).

[2021-03-19 21:13] philzook58 commented on #3078
Everything looks good. Two more comments:

1. I've been added as a reviewer twice in the paper draft
2.  I suspect the code is not quite displaying right in the draft for me. In particular, i think the \cup occurring in the theory combination is not rendering. Maybe I'm mistaken about the syntax. @0x0f0f0f should double check if there is anything else that looks off there

With the two points addr

[2021-03-19 21:17] 0x0f0f0f commented on #3078
Yep. The cup is not rendering. Will fix with `union(...)` asap!

[2021-03-19 21:20] 0x0f0f0f commented on #3078
@whedon generate pdf

[2021-03-19 21:20] whedon commented on #3078
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03078/joss.03078/10.21105.joss.03078.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03078/joss.03078/10.21105.joss.03078.pdf) :page_facing_up: :point_left:

[2021-03-19 21:26] 0x0f0f0f commented on #3078
Rendering looks good!! Thank you everybody for all the efforts in reviewing my first paper, for all the help, useful comments and all the long chats we had about this package!

[2021-03-19 21:28] IndrajeetPatil commented on #3111
@whedon generate pdf

[2021-03-19 21:28] whedon commented on #3111
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03111/joss.03111/10.21105.joss.03111.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03111/joss.03111/10.21105.joss.03111.pdf) :page_facing_up: :point_left:

[2021-03-19 22:38] eloisabentivegna commented on #2978
Thanks, @robertsawko! You did the right thing: specific change requests go in the package repository (you can of course create mentions to this issue in that venue, if it makes sense).

[2021-03-19 23:30] whedon commented on #3091
:wave: @Atif-Anwer, please update us on how your review is going (this is an automated reminder).

[2021-03-19 23:30] whedon commented on #3091
:wave: @tuelwer, please update us on how your review is going (this is an automated reminder).

[2021-03-20 00:59] mbobra commented on #3091
👋 @Atif-Anwer Please let me know where you're at so we can proceed with this review. (It is totally fine if you need more time). Also please let me know if you need any help -- I'm happy to help!

[2021-03-20 01:02] mbobra commented on #3022
@Christovis Thank you so much for your thorough review! I really appreciate it.

[2021-03-20 07:57] mengaldo commented on #2862
@eloisabentivegna Thank you for your patience. I have now completed the review.

[2021-03-20 10:17] lukapecnik commented on #2949
Hi @adi3, thank you very much for your effort and quick response! I think I've improved the NiaAML repository now according to your great suggestions.

Best regards

[2021-03-20 10:59] Prof-ThiagoOliveira commented on #3122
PR submitted with changes [DidierMurilloF/FielDHub#5](https://github.com/DidierMurilloF/FielDHub/pull/5)

[2021-03-20 11:27] tomgrylls commented on #3055
@whedon generate pdf from branch joss-paper

[2021-03-20 11:27] whedon commented on #3055
[code]

[2021-03-20 11:28] whedon commented on #3055
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03055/joss.03055/10.21105.joss.03055.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03055/joss.03055/10.21105.joss.03055.pdf) :page_facing_up: :point_left:

[2021-03-20 12:13] dhhagan commented on #2890
@kanishkan91 Thanks and will do - I should be able to get to this later today.

[2021-03-20 12:38] aothms commented on #3061
Hi @pjanck thanks for the quick reply

I was referring to `Let it be stated here that OIP serves as a prototypical playground for developments' in the article text. If I were to start on a new development (let's say provide an implementation for IfcBlossCurve) where do I begin?

11 is the schema language. Do you mean part 21 for the SPF file format (vs part 28 for XML)?

Ok, so that's the unmerged

[2021-03-20 13:25] csoneson commented on #2440
@neuromusic - just a reminder that we're expecting an update here.

[2021-03-20 14:08] Prof-ThiagoOliveira commented on #3122
PR submitted with changes on fct_full_factorial.R. [DidierMurilloF/FielDHub#6](https://github.com/DidierMurilloF/FielDHub/pull/6)

[2021-03-20 15:39] msalibian commented on #2992
@mikldk We've rolled back the repository to its original state when we finished the vignette. Only the source code for the vignette (and figures which are not generated by the R Markdown file) are in the `vignettes` folder, and we removed the `doc` folder from the repository. The package passes all the usual CRAN checks, and builds (including the vignette) without any issues.

Since the HTML of th

[2021-03-20 16:52] Kevin-Mattheus-Moerman commented on #2831
@oalii apologies for the delay. I have been stuck in exam corrections and am now able to pick this up again.

[2021-03-20 16:52] Kevin-Mattheus-Moerman commented on #2831
@whedon accept

[2021-03-20 16:52] whedon commented on #2831
[code]

[2021-03-20 16:53] whedon commented on #2831
[code]

[2021-03-20 16:53] whedon commented on #2831
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2156

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2156, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-03-20 16:56] Kevin-Mattheus-Moerman commented on #2831
@whedon accept deposit=true

[2021-03-20 16:56] whedon commented on #2831
[code]

[2021-03-20 17:24] fboehm commented on #3097
@esteinig - how is the review going? Please let us know if there are issues that the authors should address. Thanks again!

[2021-03-20 18:19] jpsnijder commented on #3041
Hi @sdparsons, I have re-read the documentation and paper and I have no further suggestions or comments.
I think this is a very helpful software based on proper theoretical background knowledge that increases the accuracy of reliability assessment. Thank you for this addition to the measurement field. Great work.
@oliviaguest

[2021-03-20 19:51] Prof-ThiagoOliveira commented on #3122
Issue 7 - [DidierMurilloF/FielDHub#7](https://github.com/DidierMurilloF/FielDHub/issues/7)

[2021-03-20 20:01] shahmoradi commented on #2741
@milancurcic Thanks for pointing this out. Such feedbacks are highly valuable, Could you tell me which examples you tried, so that we review them again for accuracy and comprehensibility? Thanks again.

[2021-03-20 20:05] shahmoradi commented on #2741
Thank you @williamfgc . Your comments along with @milancurcic 's were highly valuable and crucial to making this a quality software, although there is still ample room for perfection. I will include your minor revision requests in the final draft.

[2021-03-21 00:25] shahmoradi commented on #2741
@VivianePons Thank you for your corrections. I confirm that the DOIs are correct to the best of my knowledge. I have also revised the manuscript based on the latest corrections requested by @VivianePons and @williamfgc. If there is anything else to implement, please let me know. Thank you again for your excellent edit and reviews.

[2021-03-21 06:56] arfon commented on #3120
Thanks for your submission to JOSS @dpalmasan - unfortunately, all of the editors in your area are quite overloaded right now so I'm going to add the 'waitlisted' label to your paper and we'll pick it up as more editors become available.

[2021-03-21 07:01] arfon commented on #3121
@whedon query scope

Thanks for your submission to JOSS @umutozel. I'm flagging this for an editorial review on scope as it's not clear to me that this submission fits within [our definition of research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software). This review will likely take at least a week.

One other issue - this paper is currently far too

[2021-03-21 07:01] whedon commented on #3121
Submission flagged for editorial review.

[2021-03-21 07:04] arfon commented on #2831
@whedon accept deposit=true

[2021-03-21 07:04] whedon commented on #2831
[code]

[2021-03-21 07:06] whedon commented on #2831
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1373531318710112263) 👈 🐦🐦🐦

[2021-03-21 07:06] whedon commented on #2831
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2157
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02831](https://doi.org/10.21105/joss.02831)
2. If everything looks g

[2021-03-21 07:08] arfon commented on #2831
@IgorBaratta, @chennachaos, @finsberg - many thanks for your reviews here and to @Kevin-Mattheus-Moerman for editing this submission. JOSS relies upon the volunteer efforts of people like you and we simply wouldn't be able to do this without you ✨

@oalii - your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-03-21 07:08] #2831 closed

[2021-03-21 07:09] whedon commented on #2831
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02831/status.svg)](https://doi.org/10.21105/joss.02831)

**We need your help!**

Journal of Open Source Softwa

[2021-03-21 08:58] pjanck commented on #3061
Hi @aothms , great review!

Good point. I'm not quite sure how we should/will address this. I believe that a sketch about the program's architecture would be beneficial. Need to take a closer look at this.

Correct, we parse the schema (specified according to part 11) and generate C++ classes and a reader that reads in part 21 and fills the runtime data. This is also the reason we don't have any I

[2021-03-21 10:55] Kevin-Mattheus-Moerman commented on #2885
@gpeyre, @jizecn, @RealPolitiX, @jcarpent, @jni, @SimonDanisch, @bryevdv, @jsignell, @afabri, @janetournois, @MoniqueTeillaud, are you able to help review this submission  for [JOSS](https://joss.theoj.org/)? The [review process](https://joss.readthedocs.io/en/latest/submitting.html#the-review-process) focuses on [the software](https://joss.readthedocs.io/en/latest/submitting.html#the-review-proce

[2021-03-21 10:57] Kevin-Mattheus-Moerman commented on #3018
@SunilAnandatheertha apologies for the delay in processing your submission. JOSS is experiencing delays since both editors and reviewers are experiencing additional time constraints and difficulties due to the COVID19 pandemic.
I am picking this up now and will hopefully have found and assigned reviewers this. Thanks for your patience.

[2021-03-21 11:29] Kevin-Mattheus-Moerman commented on #3018
@ralfHielscher, @frankNiessen, @millerta, @ketch, @mturiansky, @yangbai90, would you be interested in reviewing this submission  for [JOSS](https://joss.theoj.org/)? The [review process](https://joss.readthedocs.io/en/latest/submitting.html#the-review-process) focuses on [the software](https://github.com/SunilAnandatheertha/PXO) and this [short paper](https://github.com/openjournals/joss-papers/bl

[2021-03-21 11:41] MAnalytics commented on #3083
generate pdf

[2021-03-21 11:42] MAnalytics commented on #3083
@whedon generate pdf

[2021-03-21 11:43] whedon commented on #3083
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03083/joss.03083/10.21105.joss.03083.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03083/joss.03083/10.21105.joss.03083.pdf) :page_facing_up: :point_left:

[2021-03-21 12:08] sjvrijn commented on #2974
Hi @geoffreyp, are you explicitly waiting for our confirmation on whether issues were sufficiently addressed?

If so, maybe a tip/suggestion for next time: create a separate PR corresponding to each issue. That gives a clear location and interface to view and discuss the changes.

[2021-03-21 12:15] Prof-ThiagoOliveira commented on #3122
Issue 8 - [DidierMurilloF/FielDHub#8](https://github.com/DidierMurilloF/FielDHub/issues/8)

[2021-03-21 12:19] Kevin-Mattheus-Moerman commented on #3020
@chennachaos @vijaysm I hope you are well. When you get a chance it would be great if you could update us on progress with this review. Thanks again for your help.

[2021-03-21 13:45] SunilAnandatheertha commented on #3018
Hi Kevin, thank you for the update.

[2021-03-21 14:19] p-costa commented on #3055
Hi @tomgrylls ,

I just read the article and it looks great. I have no major comments. Just two minor things based on the last proof (https://github.com/openjournals/joss-reviews/issues/3055#issuecomment-803294401):

1. Line 35 -- F in *Fast* should not be capitalized and the dash can be removed.
2. Line 128 -- Bibliographic details of the PhD thesis are missing?

Now, I have a question regarding

[2021-03-21 15:08] eigenfoo commented on #3115
@whedon generate pdf

[2021-03-21 15:09] whedon commented on #3115
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03115/joss.03115/10.21105.joss.03115.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03115/joss.03115/10.21105.joss.03115.pdf) :page_facing_up: :point_left:

[2021-03-21 16:06] eigenfoo commented on #3115
@D-K-E this is great work! Detailed comments below.

---

### Summary and Statements of Need

In both the documentation and the paper, the summary and statement are quite technical, does not seem to be for a non-specialist audience, and does not make it clear who the target audience is.

- **Summary is too technical:** what distinguishes this library from prior art is quite technical, but neverthe

[2021-03-21 16:39] f3rmion commented on #3050
All issues are closed now. Thanks for the good suggestions! :)

@Sulstice Did you get another invitation?

[2021-03-21 16:56] georgiastuart commented on #3076
Working on this submission this week.

[2021-03-21 17:06] arokem commented on #3017
@abhishekbajpayee : That's fine. I'll assign you to this and start the review process.

[2021-03-21 17:06] arokem commented on #3017
@whedon assign nsaunier as reviewer

[2021-03-21 17:06] whedon commented on #3017
OK, nsaunier is now a reviewer

[2021-03-21 17:06] arokem commented on #3017
@whedon add abhishekbajpayee as reviewer

[2021-03-21 17:06] whedon commented on #3017
OK, abhishekbajpayee is now a reviewer

[2021-03-21 17:06] arokem commented on #3017
@whedon start review

[2021-03-21 17:07] whedon opened #3124 "[REVIEW]: Logodetect: One-shot detection of logos in image and video data"
**Submitting author:** @maxpumperla (<a href="http://orcid.org/0000-0002-7801-4184">Max Pumperla</a>)
**Repository:** https://github.com/Heldenkombinat/Logodetect
**Branch with paper.md** (empty if default branch):
**Version:** v0.1
**Editor:** @arokem
**Reviewers:** @szkafander, @nsaunier, @arfon
**Archive:** 10.5281/zenodo.6483152

**:warning: JOSS reduced service mode :warning:**

Due to the ch

[2021-03-21 17:07] whedon commented on #3017
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3124.

[2021-03-21 17:07] #3017 closed

[2021-03-21 17:07] whedon commented on #3124
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @nsaunier, @abhishekbajpayee it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](

[2021-03-21 17:07] arokem commented on #3017
Alright - @nsaunier and @abhishekbajpayee : thank you both for taking this on. Please head over to #3124 for your reviewer checklists.

[2021-03-21 17:07] whedon commented on #3124
[code]

[2021-03-21 17:07] whedon commented on #3124
[code]

[2021-03-21 17:08] whedon commented on #3124
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03124/joss.03124/10.21105.joss.03124.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03124/joss.03124/10.21105.joss.03124.pdf) :page_facing_up: :point_left:

[2021-03-21 17:15] arokem commented on #3124
@maxpumperla : a couple of initial comments from me:

- Could you please add more information to the reference "Siamese neural networks for one-shot image recognition."? That reference currently only has authors, year and title. Is there a journal or conference? DOI?
- Is `mtorch` a dependency of the software? Doesn't seem so, but I just wanted to make sure.

[2021-03-21 17:26] Sulstice commented on #3050
@f3rmion Your welcome! I learned a lot from your paper digging through it and glad you liked the suggestions :) I did not get another invitation. Maybe I can trigger this whedon bot.

@whedon re-invite @Sulstice as reviewer

[2021-03-21 17:29] Sulstice commented on #3050
@whedon re-invite @Sulstice as reviewer

[2021-03-21 17:29] whedon commented on #3050
I'm sorry @Sulstice, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-03-21 18:02] richardjgowers commented on #3050
@whedon re-invite @Sulstice as reviewer

[2021-03-21 18:02] whedon commented on #3050
OK, the reviewer has been re-invited.

@sulstice please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-03-21 21:06] adi3 commented on #2949
@lukapecnik thank you for making the changes. My checklist is complete and I will recommend this for publication. Good job!

@arfon I have completed my review against the JOSS checklist, and this submission meets our standard for publication.

[2021-03-21 21:21] adi3 commented on #2131
@arfon it's more than a year since this submission has been in pre-review. Shall we perhaps get on with it?

[2021-03-21 21:25] adi3 commented on #2885
@Kevin-Mattheus-Moerman feel free to put me down as a reviewer if you can't find another. This topic is up my alley.

[2021-03-21 21:26] adi3 commented on #3109
@arfon feel free to put me down as a reviewer. I have good experience in working with robotic sensors, and especially lidars.

[2021-03-21 21:51] mturiansky commented on #3018
I am already reviewing another paper for JOSS at the moment, so I must decline for that reason.

[2021-03-21 22:36] fcooper8472 commented on #2973
My apologies for the late review: I had somehow managed to turn off notifications for this review, so had forgotten about it until Pierre emailed me.  Sorry!

---
I have now completed my review.

The software clearly passes the threshold scholarly effort.  It appears to be well engineered, easy to install, and very thoroughly documented including with extensive notebooks.

The paper itself is well

[2021-03-21 23:03] ashwinvis commented on #3055
Hi,
Some questions and comments forto you.@tomgrylls  before I check off my review lists.

## Notes

Corresponding to the line numbers from the latest manuscript

- 19: Substantiate the claim of typical spatial and temporal scales involved in an urban LES. Smallest scale of O(1 m) seems quite large to me. Also, O(1 h) seems too less as it will not capture a single diurnal cycle. See Figure 3 https

[2021-03-21 23:39] esteinig commented on #3097
Hi my apologies for the delay, finishing my thesis at the moment. I am very pleased with the package and the code base, it's already gotten some attention within our lab. I had opportunity to test it on Linux systems but can't make an assessment on other OS.

The paper is well written, and concise. My only recommendation would be to introduce some better structure with headlines in the paper, but

[2021-03-21 23:42] esteinig commented on #2991
@luizirber my sincere apologies for the delays. I'm in the process of submitting my PhD thesis and it's a bit hectic. I hope this is not an issue. I would very much like to include the (excellent) points raised by the reviewers and include documentation and other improvements.

[2021-03-22 00:32] dhhagan commented on #2890
@kanishkan91 I've gone through the reviewer's comments and your responses, and it all looks great. Everything has been addressed and is ready to go.

At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check

[2021-03-22 00:59] dhhagan commented on #3080
👋 @djmitche, @trallard, @Chilipp would one of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-03-22 03:40] vijaysm commented on #3020
@Kevin-Mattheus-Moerman Got caught up with some things. I should be able to finish the review in the next two weeks.

[2021-03-22 03:56] amoeba commented on #3118
Hey @aghaynes & @majensen, I've completed my review at https://github.com/CTU-Bern/presize/issues/61 and conditionally accept the submission conditional upon the items listed over there.

[2021-03-22 04:07] JDRomano2 commented on #2995
@mponce0, please accept my sincerest apologies for the delayed response. An unforeseen personal emergency made this take far longer than it should have.

You have thoroughly replied to and addressed all of my concerns with the original paper. Please note that all check boxes are checked in the review form above.

@fboehm if there is anything else I can do please let me know. All future responses w

[2021-03-22 04:35] mponce0 commented on #2995
@JDRomano2 Many thanks for your response and so sorry to hear about your personal emergency, I hope everything is OK and thank you again for your careful and through review.

[2021-03-22 05:32] oalii commented on #2831
@Kevin-Mattheus-Moerman and @arfon,
This is great news, perfect to start the new week 🪅! Thanks for all your work.

@finsberg , @chennachaos , @IgorBaratta thank you again for your time and valuable comments.

[2021-03-22 06:38] scivision commented on #2842
Thanks, I responded to each issue/comment on h5fortran repo

[2021-03-22 07:00] neuromusic commented on #2440
I've addressed the remaining issues. Thank you for your patience!

[2021-03-22 07:05] arfon commented on #2131
@whedon add @adi3 as reviewer

[2021-03-22 07:05] whedon commented on #2131
OK, @adi3 is now a reviewer

[2021-03-22 07:05] arfon commented on #2131
@whedon add @breezykermo as reviewer

[2021-03-22 07:06] whedon commented on #2131
OK, @breezykermo is now a reviewer

[2021-03-22 07:06] arfon commented on #2131
@whedon start review

[2021-03-22 07:06] whedon opened #3125 "[REVIEW]: City2BA: Tools for creating synthetic bundle adjustment problems"
**Submitting author:** @tkonolige (<a href="http://orcid.org/0000-0002-5052-6479">Tristan Konolige</a>)
**Repository:** <a href="https://github.com/tkonolige/city2ba" target ="_blank">https://github.com/tkonolige/city2ba</a>
**Version:** v1.1.0
**Editor:** @poulson
**Reviewer:** @adi3, @breezykermo
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of th

[2021-03-22 07:06] whedon commented on #2131
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3125.

[2021-03-22 07:06] #2131 closed

[2021-03-22 07:06] whedon commented on #3125
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @adi3, @breezykermo it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2021-03-22 07:06] whedon commented on #3125
Failed to discover a `Statement of need` section in paper

[2021-03-22 07:06] whedon commented on #3125
[code]

[2021-03-22 07:06] whedon commented on #3125
[code]

[2021-03-22 07:06] whedon commented on #3125
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03125/joss.03125/10.21105.joss.03125.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03125/joss.03125/10.21105.joss.03125.pdf) :page_facing_up: :point_left:

[2021-03-22 07:06] arfon commented on #2131
@poulson - I've gone ahead and started this review with @adi3 & @breezykermo as the reviewers.

[2021-03-22 07:07] arfon commented on #3125
@adi3, @breezykermo - Thanks again for agreeing to review this submission! This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please

[2021-03-22 07:09] arfon commented on #2949
🙌 thanks so much @adi3! @sara-02 any updates on the progress you are making with yours?

[2021-03-22 07:32] lukapecnik commented on #2949
@adi3 great news! Thank you very much for your review and for making the NiaAML project better.

Best regards

[2021-03-22 07:49] f3rmion commented on #3050
@whedon generate pdf

[2021-03-22 07:49] whedon commented on #3050
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03050/joss.03050/10.21105.joss.03050.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03050/joss.03050/10.21105.joss.03050.pdf) :page_facing_up: :point_left:

[2021-03-22 07:58] dmey commented on #3055
@ashwinvis thanks for your feedback -- I can address your docs comments and will leave the others to @tomgrylls.

Can you be a bit more specific? What exactly needs to be improved? We have recently address the @wimvanderbauwhede's docs related comments in https://github.com/uDALES/u-dales/issues/138.

Tests instructions are linked from the development guide which is itself linked from the main REA

[2021-03-22 08:11] glyg commented on #2973
Thank you for the review @fcooper8472 , I'll fix the version problem, and we'll output higher resolution bitmaps for the figures, and fix the citation for Chaste

We are finishing a revamping of the documentation, it should be done by the end of the week, to fully account for @SergeDmi remarks, I'll comment here when it's done.

[2021-03-22 08:13] csoneson commented on #2440
Great, thank you! @vals - would you be able to take a look at the updates and see if they address your remaining concerns?

[2021-03-22 08:13] csoneson commented on #2440
@whedon generate pdf

[2021-03-22 08:14] whedon commented on #2440
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02440/joss.02440/10.21105.joss.02440.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02440/joss.02440/10.21105.joss.02440.pdf) :page_facing_up: :point_left:

[2021-03-22 08:26] pdebuyl commented on #2842
@whedon generate pdf

[2021-03-22 08:27] whedon commented on #2842
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02842/joss.02842/10.21105.joss.02842.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02842/joss.02842/10.21105.joss.02842.pdf) :page_facing_up: :point_left:

[2021-03-22 08:27] pdebuyl commented on #2842
Thank you for the update @scivision

@milancurcic @bast sorry for the delay here. Could you check the modifications by @scivision and proceed with the review?

[2021-03-22 08:28] MoniqueTeillaud commented on #2885
Dear [ https://github.com/Kevin-Mattheus-Moerman | @Kevin-Mattheus-Moerman ]

Just a short email to decline your invitation, as the submission does not fall in my precise area of research.

It could help to ask some other CGAL developers
[ https://github.com/CGAL/ | https://www.cgal.org/people.html ] [ https://github.com/CGAL/ ]
[ https://github.com/CGAL/ | https://github.com/CGAL/ ]
[ https://www

[2021-03-22 08:30] pdebuyl commented on #2973
Thank you for the review @fcooper8472 !

[2021-03-22 08:32] geoffreyp commented on #2974
Hello @sjvrijn, my message was just to inform you that you can continue the review because the previous issues have been resolved. I have seen your new issues, I will deal with them as soon as possible.

Thanks for the tip, I will use separate PR now instead of writing the issue number in the commit

[2021-03-22 08:57] whedon commented on #3092
:wave: @fabian-s, please update us on how your review is going (this is an automated reminder).

[2021-03-22 08:57] whedon commented on #3092
:wave: @corybrunson , please update us on how your review is going (this is an automated reminder).

[2021-03-22 09:19] ashwinvis commented on #3055
I will follow up on installation issues in uDALES/u-dales#138.

Since these are research software very often the line between a user and a developer is very fuzzy. So it is a matter of taste if you want to have good on-boarding or not.

As for testing and contributing notes, it is definitely linked in the README, but the README is not included in the main documentation https://udales.github.io/u-d

[2021-03-22 09:39] dmey commented on #3055
I see what you mean -- I am addressing this at https://github.com/uDALES/u-dales/pull/141

[2021-03-22 09:55] corybrunson commented on #3092
Update on my review: I've test-run the software and will review the documentation and paper this week. I've been creating issues on the repo and will post here when i finish—with any additional comments not made in the issues.

[2021-03-22 09:55] RealPolitiX commented on #2885
Dear [ https://github.com/Kevin-Mattheus-Moerman | @Kevin-Mattheus-Moerman
],

Thanks for the invitation, I'm unfortunately not working explicitly in this
area, so I decline the invitation.

Cheers

R. Patrick Xian

On Mon, Mar 22, 2021 at 3:28 AM Monique Teillaud ***@***.***>
wrote:

[2021-03-22 10:01] fabian-s commented on #3092
Current status: I've openend some (minor) issues, waiting for them to be resolved.

[2021-03-22 10:11] zoometh commented on #3113
@arfon Yes, [iconr](https://cran.r-project.org/web/packages/iconr/index.html) package LOC can < 1000, but the theoretical background is innovative and voluntarily parsimonious because the package should be at the root of different implementations. Best,

[2021-03-22 10:14] vissarion commented on #3092
@corybrunson @fabian-s thank you both for the updates!

[2021-03-22 10:28] pjanck commented on #3061
Hi @aothms - as promised, our answer to the `carve` question:

It was a design decision made by `IfcPlusPlus` creators, whose code we've incorporated into our code and expanded on it. We've also updated the `readme` on the licenses to better reflect our usage of their code - see https://github.com/tumcms/Open-Infra-Platform/tree/development/Licenses .

[2021-03-22 11:00] aothms commented on #3061
Thanks @pjanck I think that kind of proves the point as IfcPlusPlus later also adopted OpenCASCADE https://github.com/ifcquery/ifcplusplus/blob/master/IfcPlusPlus/src/ifcpp/geometry/OCC/GeometryConverterOCC.h not sure how precisely, I think carve is still the main geometry library, but not sure. So it seems like implementations are investigating various geometry libraries. It would be great if fir

[2021-03-22 11:39] mikldk commented on #2992
@msalibian You can also try the `[pkgdown](https://pkgdown.r-lib.org/)` package which generates a webpage with the man pages and vignettes. It can be published via GitHub Pages (see the `README`).

[2021-03-22 12:16] f3rmion commented on #3050
@Sulstice I added references for Numpy and Scipy in ``paper.md`` and ``paper.bib``.

[2021-03-22 12:16] f3rmion commented on #3050
@whedon check references

[2021-03-22 12:17] whedon commented on #3050
[code]

[2021-03-22 12:28] pjanck commented on #3061
I agree that a report on the first-hand experience would be beneficial, however: I don't feel we're in a good position to report on the strengths and weaknesses of geometry libraries, since they were not the focus of our developments and we haven't made any comparisons ourselves. We merely used what was available and tweaked it to compile and work with the existing code.

[2021-03-22 12:30] adi3 commented on #2990
@sdmccabe in the Usage section of your `README.md`, it seems you are using pseudo-code in the three snippets. Can you please change them to full code examples starting with `import netrd`. Looks like this will be quite straightforward for you as you only need to copy the snippets from [Tutorial](https://netrd.readthedocs.io/en/latest/tutorial.html) documentation.

[2021-03-22 12:32] adi3 commented on #3125
@tkonolige can you please fix the missing DOIs in your paper listed above?

[2021-03-22 13:21] tramarobin commented on #2839
@cMadan, as typically does not seem to answer, I can suggest nicholst. He is working in Matlab about Statistical non Parametric Mapping (SnPM), which is the approach chosen in my function to analyse two-dimensional data.

[2021-03-22 14:01] prdm0 commented on #2769
@timtroendle, when possible, let me know according to the program you use to count words if the PDF above is suitable. I made a comparison with the latest publications, considering my way of telling, the paper has fewer words than those last publications.

I reduced it by a little more than one page. I believe that the paper is now suitable.

Best regards.

[2021-03-22 14:07] timtroendle commented on #2769
Thank you for the offer @prdm0, but this is not about the exact number of words. Rather, it's about having the right content in the article. Let me have a look at your most recent changes and come back to you soon.

[2021-03-22 14:07] timtroendle commented on #2769
@whedon generate pdf

[2021-03-22 14:08] whedon commented on #2769
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02769/joss.02769/10.21105.joss.02769.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02769/joss.02769/10.21105.joss.02769.pdf) :page_facing_up: :point_left:

[2021-03-22 14:16] felipeZ commented on #3039
@robashaw I think you have answered, cleared or improved all the issues that I have opened on libecpint

[2021-03-22 14:20] diehlpk commented on #2939
Hey @Balaje, have you seen my last comments?  After addressing them, we can accept the paper and publish it. Can you estimate when you have some time to address them?

[2021-03-22 14:24] timtroendle commented on #2769
@prdm0, I made some edits to your draft (attached). Can you please work these edits in?
[10.21105.joss.02769-4-TT.pdf](https://github.com/openjournals/joss-reviews/files/6182863/10.21105.joss.02769-4-TT.pdf)

I want to highlight the "Brief explanation" section here. As I mentioned above, large parts of this section are taken from the documentation and provide a level of detail that is not necessar

[2021-03-22 14:26] timtroendle commented on #2969
Hello @kuadrat, can you please let us know what the status of your updates is and how much more time you need?

[2021-03-22 14:27] prdm0 commented on #2769
@timtroendle  I'll see how to do it. In the section Bifef explanation there is everything that was asked by the reviewers. But I can remove it.

[2021-03-22 14:29] prdm0 commented on #2769
I will remove all explanations of the functions and leave only the benchmark.

[2021-03-22 14:56] nevrome commented on #3092
@vissarion As the author of the software I thought I would wait with fixing/addressing the raised issues until the first round of review is complete. Thanks already for your very valuable feedback, @corybrunson and @fabian-s!

[2021-03-22 14:58] corybrunson commented on #3092
@nevrome that is OK with me! Though it's also OK (and common, in my experience) for the developers to address the issues in an ongoing way. Usually the issues are modular enough that this doesn't cause confusion. But it could also be done in a separate branch just in case.

[2021-03-22 15:27] prdm0 commented on #2769
@timtroendle I made all the modifications. The PDF with the modified paper is below.

[2021-03-22 15:27] prdm0 commented on #2769
@whedon generate pdf

[2021-03-22 15:28] whedon commented on #2769
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02769/joss.02769/10.21105.joss.02769.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02769/joss.02769/10.21105.joss.02769.pdf) :page_facing_up: :point_left:

[2021-03-22 15:28] msalibian commented on #2992
@mikldk Done. Please find it at [https://msalibian.github.io/RBF/articles/Examples.html](https://msalibian.github.io/RBF/articles/Examples.html). Note that at this point we are only planning to use that site to help with the revision of the paper.

[2021-03-22 15:30] prdm0 commented on #2769
@whedon generate pdf

[2021-03-22 15:31] whedon commented on #2769
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02769/joss.02769/10.21105.joss.02769.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02769/joss.02769/10.21105.joss.02769.pdf) :page_facing_up: :point_left:

[2021-03-22 15:36] prdm0 commented on #2769
@whedon generate pdf

[2021-03-22 15:37] whedon commented on #2769
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02769/joss.02769/10.21105.joss.02769.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02769/joss.02769/10.21105.joss.02769.pdf) :page_facing_up: :point_left:

[2021-03-22 15:38] prdm0 commented on #2769
@whedon generate pdf

[2021-03-22 15:39] whedon commented on #2769
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02769/joss.02769/10.21105.joss.02769.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02769/joss.02769/10.21105.joss.02769.pdf) :page_facing_up: :point_left:

[2021-03-22 15:39] myousefi2016 commented on #2769
Hi @prdm0, just a quick comment here: please finalize all your changes to the manuscript before generating pdf. It's not necessary to do some incremental changes and then generate the pdf. I see there are lots of generate pdf commands here which makes this issue a bit lengthy and hard to follow. It is possible to avoid this by finalizing all your changes and just have one generate pdf command at t

[2021-03-22 15:42] prdm0 commented on #2769
Dear @myousefi2016 I know that. However, the PDF was in a format here in RStudio and when the graphic was generated it was on another page. That's why it was generated. But don't worry, I know that and the last generation has been realized and is above your comment.

[2021-03-22 15:43] prdm0 commented on #2769
In summary, here the PDF was in one form and the robot generated it a little differently. It has been corrected and the final version is above.

[2021-03-22 15:50] timtroendle commented on #2769
Thank you @prdm0. At this point, we can move forward with the acceptance process.

[2021-03-22 15:51] timtroendle commented on #2769
@whedon set 10.5281/zenodo.4618251 as archive

[2021-03-22 15:51] whedon commented on #2769
OK. <a href="https://doi.org/10.5281/zenodo.4618251" target="_blank">10.5281/zenodo.4618251</a> is the archive.

[2021-03-22 15:53] timtroendle commented on #2769
@whedon set v0.2.9 as version

[2021-03-22 15:53] whedon commented on #2769
OK. v0.2.9 is the version.

[2021-03-22 15:54] timtroendle commented on #2769
@whedon accept

[2021-03-22 15:54] whedon commented on #2769
[code]

[2021-03-22 15:55] whedon commented on #2769
[code]

[2021-03-22 15:55] whedon commented on #2769
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2158

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2158, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-03-22 16:00] prdm0 commented on #2769
@whedon accept deposit=true

[2021-03-22 16:00] whedon commented on #2769
I'm sorry @prdm0, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2021-03-22 16:32] Prof-ThiagoOliveira commented on #3122
Issue 8 - [DidierMurilloF/FielDHub#8](https://github.com/DidierMurilloF/FielDHub/issues/9)

[2021-03-22 16:45] dpsanders commented on #3078
👋 @philzook58, @mwillsey, @jpfairbanks: Many thanks for your comments. Could you please confirm here that you are happy with the paper and repository as is?

[2021-03-22 16:47] agahkarakuzu commented on #3002
@somefunAgba I had to upgrade my MATLAB version to R2020b to meet the minimum version requirement, sorry for the delay.

I was easily able to follow the new instructions in the new README and produce expected outputs. I think users with little matlab experience would be able to do so. Thank you so much for improving the documentation and user experience.

I also see that you set up [Azure pipeline

[2021-03-22 18:02] Prof-ThiagoOliveira commented on #3122
Issue 10 - [DidierMurilloF/FielDHub#10](https://github.com/DidierMurilloF/FielDHub/issues/10)

[2021-03-22 18:15] Sbozzolo commented on #3099
@Yurlungur, @eloisabentivegna

I don't want to put any pressure on you, and I fully understand that JOSS is operating in "reduced service mode", but I wanted to let you know that by April 14th we will have to submit a end-of-year report for funding/computational time. We would love to include this project as part of that report, so it would be great if the paper was published before then. In case

[2021-03-22 18:49] whedon commented on #3093
:wave: @tgerke, please update us on how your review is going (this is an automated reminder).

[2021-03-22 18:49] whedon commented on #3093
:wave: @borishejblum, please update us on how your review is going (this is an automated reminder).

[2021-03-22 19:35] Prof-ThiagoOliveira commented on #3122
Issue 11 - [DidierMurilloF/FielDHub#11](https://github.com/DidierMurilloF/FielDHub/issues/11)

[2021-03-22 19:56] whedon opened #3126 "[PRE REVIEW]: Colette: A networking program for coffee-pairings to build research connections"
**Submitting author:** @gacphillips (<a href="http://orcid.org/0000-0002-2347-2321">Genevieve A. C. Phillips</a>)
**Repository:** <a href="https://github.com/gacphillips/coffee-roulette" target ="_blank">https://github.com/gacphillips/coffee-roulette</a>
**Version:** v0.1.4
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:

[2021-03-22 19:56] whedon commented on #3126
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-22 19:56] whedon commented on #3126
[code]

[2021-03-22 19:56] whedon commented on #3126
[code]

[2021-03-22 19:56] whedon commented on #3126
Failed to discover a valid open source license.

[2021-03-22 19:57] whedon commented on #3126
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03126/joss.03126/10.21105.joss.03126.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03126/joss.03126/10.21105.joss.03126.pdf) :page_facing_up: :point_left:

[2021-03-22 20:09] Kevin-Mattheus-Moerman commented on #3126
@gacphillips thanks for this submission. After reviewing the paper and the software (which I found to be here: https://github.com/gacphillips/colette rather than the above repository which does not contain software) we have determined this work is not in scope for JOSS. In particular it does not appear to have a significant research application. Furthermore the work is deemed too minor in terms of

[2021-03-22 20:10] Kevin-Mattheus-Moerman commented on #3126
@whedon reject

[2021-03-22 20:10] whedon commented on #3126
Paper rejected.

[2021-03-22 20:10] #3126 closed

[2021-03-22 23:30] Yurlungur commented on #3099
@Sbozzolo thanks for letting me know. I anticipate getting done well before that time, though I don't know how quickly JOSS publications appear after review.

[2021-03-23 00:22] djmitche commented on #3080
I'm willing.

[2021-03-23 00:49] D-K-E commented on #3115
@eigenfoo Well, first of all thank you for the suggestions, they really helped me to better phrase the problem.

---
## Summary

I don't think I could do better than your suggestions for the summary. I tried to incorporate them directly to the paper. It significantly decreased the length of the summary paragraph.

## Statements of need

I added the following remark to the beginning of the section

[2021-03-23 01:14] poulson commented on #3100
Hi Nicos (@pitsianis) :wave: -- I hate to ask for you to review yet another paper, but would you be willing to serve as a reviewer on this C++/Python submission on high-performance Fast Multipole Methods?

[2021-03-23 02:04] Balaje commented on #2939
Hi @diehlpk. Thanks for the comments and sorry for the delay. For some reason, I couldn't tick the boxes... Here are my responses to your comments.

- I have updated the author list with the city names/state.
- I have added some description of the quantities and also added a brief explanation of the solution method.
- Added a link to the README at the end of the **Summary** section.
- I have added

[2021-03-23 02:04] Balaje commented on #2939
@whedon generate pdf

[2021-03-23 02:05] whedon commented on #2939
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02939/joss.02939/10.21105.joss.02939.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02939/joss.02939/10.21105.joss.02939.pdf) :page_facing_up: :point_left:

[2021-03-23 05:45] kanishkan91 commented on #2890
@whedon generate pdf

[2021-03-23 05:46] whedon commented on #2890
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02890/joss.02890/10.21105.joss.02890.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02890/joss.02890/10.21105.joss.02890.pdf) :page_facing_up: :point_left:

[2021-03-23 06:00] Chilipp commented on #3080
My apologies but I won't be available

[2021-03-23 08:18] ankurankan commented on #3115
@whedon generate pdf

[2021-03-23 08:18] whedon commented on #3115
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03115/joss.03115/10.21105.joss.03115.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03115/joss.03115/10.21105.joss.03115.pdf) :page_facing_up: :point_left:

[2021-03-23 08:19] kuadrat commented on #2969
Dear all,

of the 8 issues currently open, I have addressed 6 and referenced them in the respective commits, so the changes should be easy to find from within the issues.
I have not notified you for every individual change thinking that it would be easier for the reviewers to go through all of the issues at once.
I hope to be able to resolve the two issues left (https://github.com/kuadrat/data-sli

[2021-03-23 08:23] VivianePons commented on #2741
@whedon check references

[2021-03-23 08:25] whedon commented on #2741
[code]

[2021-03-23 08:27] VivianePons commented on #2741
@whedon generate pdf

[2021-03-23 08:28] whedon commented on #2741
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02741/joss.02741/10.21105.joss.02741.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02741/joss.02741/10.21105.joss.02741.pdf) :page_facing_up: :point_left:

[2021-03-23 08:57] Chilipp commented on #2969
ah, thanks @kuadrat! I don't get notifications if you just reference the issue in the commit. Only if you also leave a comment in the issue, that's why I did not realize. I'll have a look into your updates asap

[2021-03-23 09:59] somefunAgba commented on #3002
Thanks @agahkarakuzu.
I have set the release in the azure pipeline file to R2020b.

I just discovered that the reason, why the tests were failing. I also was wondering if it was not a typo issue or release issue, till I gave up. This morning I realized that it was due to a **path typo** in each of the unit-test files in the test-suite folder. I have fixed this now.

Currently, the only test-suite

[2021-03-23 10:10] trstewart212 commented on #2733
Koen,
I am going through computer hell at the moment. Multiple crashes and difficulty staying online. I hope to get this resolved soon, but will not be in a position to do anything on this project until things are fixed.
Trevor

Trevor Stewart
175 West 13th Street, Apt 19D
New York, NY 10011
+1(212)929-0321
+1(917)402-9800 iPhone
***@***.***

On Mar 12, 2021, at 08:19, Trevor Stewart ***@***.***>

[2021-03-23 12:49] jorgedch commented on #3124
Hi @arokem, thank you for the feedback.

Yes, this is done now. Also I moved the paper files to a folder called _paper/_.

You are right, `mtorch` is not a dependency, we only adapted its structure to our training pipeline.

[2021-03-23 12:58] jorgedch commented on #3124
OK, just noticed that moving the files to _paper/_ breaks the build so I reverted the change.

[2021-03-23 13:17] somefunAgba commented on #3002
Ok. Quick update @agahkarakuzu.

**All the CI tests on Azure are now passing.**

I have fixed the gaphics display error by adding a test
to assert whether matlab is being run in a nodisplay mode or display mode

[2021-03-23 13:20] lpantano commented on #2334
Thanks everybody for the hard work!

[2021-03-23 13:21] lpantano commented on #2334
@whedon generate pdf

[2021-03-23 13:22] whedon commented on #2334
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02334/joss.02334/10.21105.joss.02334.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02334/joss.02334/10.21105.joss.02334.pdf) :page_facing_up: :point_left:

[2021-03-23 13:23] lpantano commented on #2334
@whedon check references

[2021-03-23 13:23] whedon commented on #2334
[code]

[2021-03-23 13:24] lpantano commented on #2334
@lskatz, At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (mak

[2021-03-23 13:26] lpantano commented on #3021
@mwaskom, can you address this issue raised by @Sara-ShiHo:

[code]

I think after that, it would be ready to be accepted. Thanks!

[2021-03-23 13:27] jpfairbanks commented on #3078
LGTM

[2021-03-23 13:42] crvernon commented on #2890
@dhhagan :

The following is the information you requested:
- GitHub release tag:  https://github.com/JGCRI/ambrosia/releases/tag/v1.3.5
- Zenodo archive reference:

- DOI of the archived version:  `10.5281/zenodo.4628567`

Please let us know if you need anything else.

Thanks!

[2021-03-23 13:55] borishejblum commented on #3093
Following my review, I have 2 comments @struckma:

- the LICENSE file does not contain the necessary disclaimer (see https://opensource.org/licenses/BSD-2-Clause) **BUT** this is due to CRAN requirements => no action required
- "State of Need" section should be renamed "Statement of Need"

[2021-03-23 14:12] philzook58 commented on #3078
Looks good to me. I am still listed as a reviewer twice in the sidebar though. I suspect the author has no control over this and it is something to do with whedon. Perhaps my old invitation needs to be cancelled?

[2021-03-23 14:16] mwaskom commented on #3021
@lpantano sure, sounds good. Also a couple of people who have seen the draft manuscript have suggested that it might make sense for a paper about a data visualization library to have an example data visualization. I guess that's reasonable. Would it make sense to add one at this stage?

[2021-03-23 14:22] dhhagan commented on #3080
Hi @djmitche thanks so much. I'll add you and get the review started.

[2021-03-23 14:22] dhhagan commented on #3080
@whedon add @djmitche as reviewer

[2021-03-23 14:23] whedon commented on #3080
OK, @djmitche is now a reviewer

[2021-03-23 14:23] dhhagan commented on #3080
@whedon start review

[2021-03-23 14:24] whedon opened #3127 "[REVIEW]: FitBenchmarking: an open source Python package comparing data fitting software"
**Submitting author:** @tyronerees (<a href="http://orcid.org/0000-0003-0476-2259">Tyrone Rees</a>)
**Repository:** <a href="https://github.com/fitbenchmarking/fitbenchmarking" target ="_blank">https://github.com/fitbenchmarking/fitbenchmarking</a>
**Version:** v0.1.4
**Editor:** @dhhagan
**Reviewer:** @johnsamuelwrites, @djmitche
**Archive:** <a href="https://doi.org/10.5281/zenodo.4892752" targe

[2021-03-23 14:24] whedon commented on #3080
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3127.

[2021-03-23 14:24] #3080 closed

[2021-03-23 14:24] prdm0 commented on #2769
@timtroendle , Pardon me. I thought that I should run the command since the tag had changed to recommended paper for acceptance. I believe that now nothing else depends on me. If you need anything, I'm at your disposal.

[2021-03-23 14:24] whedon commented on #3127
[code]

[2021-03-23 14:24] dhhagan commented on #3080
@djmitche and @johnsamuelwrites Thank you for agreeing to review. The new review issue can be found in the comment above. I will now go ahead and close this pre-review issue. Please reach out to me with any questions.

[2021-03-23 14:25] whedon commented on #3127
[code]

[2021-03-23 14:25] whedon commented on #3127
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03127/joss.03127/10.21105.joss.03127.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03127/joss.03127/10.21105.joss.03127.pdf) :page_facing_up: :point_left:

[2021-03-23 14:39] diehlpk commented on #2939
@Balaje thanks for the revised version, I can now accept the paper. Please generate a release, including all the changes of the review and post the new version here.

Please upload this version to Zenodo or FigShare. Note that the title and authors there have to match the ones on the paper.

[2021-03-23 14:57] agahkarakuzu commented on #3002
@somefunAgba that's great! Yes, I am aware of that display limitation, but happy that all the other issues are fixed easily!

This was the last item on my end, you may want to add badges for coverage and CI status to README if you see fit.

With these changes, I checked the last box.

[2021-03-23 15:50] drvinceknight commented on #2733
Sorry for not responding to this particular query until now (I'm snowed under with marking/teaching matters at the moment). I will enquire about this and get back to you.

[2021-03-23 15:54] mwaskom commented on #3021
OK I added two commits:

https://github.com/mwaskom/seaborn/commit/2be812a0d5f3c7ef950507c505baa034137ab990 addresses the target audience. seaborn is domain-general so the target audience is pretty wide; I think it's most helpful to be explicit about some kinds of visualizations that are explicitly out of scope.

https://github.com/mwaskom/seaborn/commit/43763350eb8138c9eca4d907c6188a734f08f5cc ad

[2021-03-23 16:18] whedon opened #3128 "[PRE REVIEW]: HyRiver: Hydroclimate Data Retriever"
**Submitting author:** @cheginit (<a href="http://orcid.org/0000-0002-5430-6000">Taher Chegini</a>)
**Repository:** <a href="https://github.com/cheginit/HyRiver" target ="_blank">https://github.com/cheginit/HyRiver</a>
**Version:** v0.10.x
**Editor:** @kthyng
**Reviewers:** @evanleeturner, @raoulcollenteur
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due t

[2021-03-23 16:18] whedon commented on #3128
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-23 16:19] whedon commented on #3128
[code]

[2021-03-23 16:19] whedon commented on #3128
[code]

[2021-03-23 16:19] whedon commented on #3128
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03128/joss.03128/10.21105.joss.03128.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03128/joss.03128/10.21105.joss.03128.pdf) :page_facing_up: :point_left:

[2021-03-23 16:40] mwaskom commented on #3021
@whedon generate pdf from branch joss_paper

[2021-03-23 16:40] whedon commented on #3021
[code]

[2021-03-23 16:41] whedon commented on #3021
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03021/joss.03021/10.21105.joss.03021.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03021/joss.03021/10.21105.joss.03021.pdf) :page_facing_up: :point_left:

[2021-03-23 17:30] TheoChristiaanse commented on #2677
Hi @sjpfenninger

I've uploaded the files to https://zenodo.org/record/4631191

[2021-03-23 18:28] whedon commented on #3094
:wave: @pjbouchet, please update us on how your review is going (this is an automated reminder).

[2021-03-23 18:28] whedon commented on #3094
:wave: @mcsiple, please update us on how your review is going (this is an automated reminder).

[2021-03-23 20:44] Kevin-Mattheus-Moerman commented on #3128
@whedon invite @kthyng as editor

[2021-03-23 20:44] whedon commented on #3128
@kthyng has been invited to edit this submission.

[2021-03-23 20:45] Kevin-Mattheus-Moerman commented on #3128
@kthyng note this submission is for a "stack" of six python projects (the above repository data and lines of code estimates etc are therefore only for the collection repository).

[2021-03-23 20:47] whedon opened #3129 "[PRE REVIEW]: Synch: A framework for concurrent data-structures and benchmarks"
**Submitting author:** @nkallima (<a href="http://orcid.org/0000-0002-0331-1475">Nikolaos D. Kallimanis</a>)
**Repository:** <a href="https://github.com/nkallima/sim-universal-construction" target ="_blank">https://github.com/nkallima/sim-universal-construction</a>
**Version:** v2.3.1
**Editor:** @danielskatz
**Reviewers:** @hkaiser, @jarrah42
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS r

[2021-03-23 20:47] whedon commented on #3129
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-23 20:48] whedon commented on #3129
[code]

[2021-03-23 20:48] whedon commented on #3129
PDF failed to compile for issue #3129 with the following error:

 Can't find any papers to compile :-(

[2021-03-23 20:49] Kevin-Mattheus-Moerman commented on #3129
@whedon generate pdf from branch joss-branch

[2021-03-23 20:50] whedon commented on #3129
[code]

[2021-03-23 20:50] whedon commented on #3129
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03129/joss.03129/10.21105.joss.03129.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03129/joss.03129/10.21105.joss.03129.pdf) :page_facing_up: :point_left:

[2021-03-23 20:54] Kevin-Mattheus-Moerman commented on #3129
@whedon invite @danielskatz  as editor

[2021-03-23 20:54] whedon commented on #3129
@danielskatz has been invited to edit this submission.

[2021-03-23 20:56] whedon opened #3130 "[PRE REVIEW]: Ceiba: A web service to handle scientific simulation data"
**Submitting author:** @felipeZ (<a href="http://orcid.org/0000-0001-8286-677X">felipe zapata ruiz</a>)
**Repository:** <a href="https://github.com/nlesc-nano/ceiba" target ="_blank">https://github.com/nlesc-nano/ceiba</a>
**Version:** v1.0.0
**Editor:** @majensen
**Reviewers:** @junjun-zhang, @dimitridarras
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due

[2021-03-23 20:56] whedon commented on #3130
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-23 20:56] whedon commented on #3130
[code]

[2021-03-23 20:56] whedon commented on #3130
PDF failed to compile for issue #3130 with the following error:

 /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse': (78c0a0709d59255d5d01c42a/paper/paper.md): found a tab character that violate intendation while scanning a plain scalar at line 13 column 12 (Psych::SyntaxError)
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse_stream'
	from /app/vendor/ruby-2.6.6/lib/r

[2021-03-23 20:59] Kevin-Mattheus-Moerman commented on #3130
@whedon query scope

[2021-03-23 20:59] whedon commented on #3130
Submission flagged for editorial review.

[2021-03-23 21:03] danielskatz commented on #3129
@whedon assign me as editor

[2021-03-23 21:03] whedon commented on #3129
OK, the editor is @danielskatz

[2021-03-23 21:03] Kevin-Mattheus-Moerman commented on #3130
@felipeZ thank you for this submission. I have just flagged this work for additional scope review by our editorial board. This is typical for works presenting with <1000 lines of code. We will review if this work conforms to our  ["substantial scholarly effort" requirements](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). The scope review should take about a we

[2021-03-23 21:05] danielskatz commented on #3129
👋 @nkallima - I'll be your editor.

1. Can you suggest any potential reviewers by mentioning them here in this thread (without tagging them with an @)? [This list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).
2. Also, can you help me understand the authorship? It looks like you are

[2021-03-23 21:10] Kevin-Mattheus-Moerman commented on #3123
@whedon invite @pibion as editor

[2021-03-23 21:10] whedon commented on #3123
@pibion has been invited to edit this submission.

[2021-03-23 21:13] eloisabentivegna commented on #3099
@Sbozzolo, thanks for bringing this up. I also think the review stage should complete well before your deadline, and the remaining stages are usually quite lightweight.

[2021-03-23 21:13] whedon opened #3131 "[PRE REVIEW]: CHIME ABM: Modeling information flow and decision making during hurricane threats"
**Submitting author:** @seanbergin (<a href="http://orcid.org/0000-0001-9576-7914">Sean Bergin</a>)
**Repository:** <a href="https://github.com/comses/chime-abm" target ="_blank">https://github.com/comses/chime-abm</a>
**Version:** v2.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID

[2021-03-23 21:13] whedon commented on #3131
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-23 21:17] Kevin-Mattheus-Moerman commented on #2885
@vissarion would you be able to help as reviewer here?

[2021-03-23 21:19] Kevin-Mattheus-Moerman commented on #3131
@whedon generate pdf

[2021-03-23 21:19] whedon commented on #3131
PDF failed to compile for issue #3131 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon/orcid_validator.rb:12:in `initialize': undefined method `strip' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:155:in `new'
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a

[2021-03-23 21:20] Kevin-Mattheus-Moerman commented on #3131
@whedon check repository

[2021-03-23 21:21] Kevin-Mattheus-Moerman commented on #3131
@openjournals/dev can you help with this paper compilation error? :point_up: Thanks

[2021-03-23 21:21] whedon commented on #3131
[code]

[2021-03-23 21:38] vissarion commented on #2885
@Kevin-Mattheus-Moerman thanks for asking. This is not exactly my area of expertise but it is close. Moreover, I have some load in both editing and reviewing for joss right now. However, I will be happy to review it if a more relevant to the topic reviewer will not show up.

[2021-03-23 21:41] Kevin-Mattheus-Moerman commented on #3131
@seanbergin thanks for this submission. I will be helping to check if this work is in scope and if needed to find handling editor. Agent based modelling is not my domain. Can you help me understand what the main "code" achievement is for this work. Would it be accurate to say it is this file: https://github.com/comses/chime-abm/blob/master/CHIME.nlogo, which appears to be about 3700 lines of nlogo

[2021-03-23 21:47] whedon opened #3132 "[PRE REVIEW]: Assessment, Testing and Comparison of Statistical Models using R"
**Submitting author:** @strengejacke (<a href="http://orcid.org/0000-0002-8895-3206">Daniel Lüdecke</a>)
**Repository:** <a href="https://github.com/easystats/performance" target ="_blank">https://github.com/easystats/performance</a>
**Version:** 0.7.1
**Editor:** @mikldk
**Reviewers:** @martinju, @gjo11
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to

[2021-03-23 21:47] whedon commented on #3132
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-23 21:47] whedon commented on #3132
Failed to discover a `Statement of need` section in paper

[2021-03-23 21:47] whedon commented on #3132
[code]

[2021-03-23 21:48] whedon commented on #3132
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03132/joss.03132/10.21105.joss.03132.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03132/joss.03132/10.21105.joss.03132.pdf) :page_facing_up: :point_left:

[2021-03-23 21:48] whedon commented on #3132
[code]

[2021-03-23 22:06] strengejacke commented on #3132
I would suggest following reviewers:
rmhogervorst, cimentadaj, russellpierce, rchew, apwheele (in no particular order)

[2021-03-23 22:17] felipeZ commented on #3130
@Kevin-Mattheus-Moerman thanks for letting me know. Please note that the repository from which I submitted the paper only contains the web service back-end, the client code is hosted in another repository called [Ceiba-CLI](https://github.com/nlesc-nano/ceiba-cli). Both the back-end and the client are part of the web service presented in the publication.

[2021-03-23 22:44] vbaliga commented on #3074
Hi @KristinaRiemer, is there further action I need to take? Each of my reviewers has indicated they are satisfied with my changes & response to their reviews. I am sorry if I missed something

Thanks!
Vikram
🐢

[2021-03-23 23:36] Balaje commented on #2939
Hi @diehlpk I have uploaded the package to Zenodo. The DOI is https://doi.org/10.5281/zenodo.4632440

[2021-03-23 23:42] majensen commented on #3002
@kakearney @agahkarakuzu really appreciate your careful technical reviews and @somefunAgba all the work to fix issues. I know both reviewers indicated less familiarity with the underlying mathematics; I will weigh in on this for the record (spoiler alert: looks ok and also very interesting) for the record. I will also have a readthrough of the paper itself and may make a pull request with editoria

[2021-03-23 23:46] chkoar commented on #2974
Great. During the weekend I will review the changes.

[2021-03-24 00:25] diehlpk commented on #2939
@whedon commands

[2021-03-24 00:25] whedon commented on #2939
Here are some things you can ask me to do:

[code]

[2021-03-24 00:26] diehlpk commented on #2939
@whedon set 10.5281/zenodo.4632440  as archive

[2021-03-24 00:26] whedon commented on #2939
OK. <a href="https://doi.org/10.5281/zenodo.4632440" target="_blank">10.5281/zenodo.4632440</a> is the archive.

[2021-03-24 00:27] diehlpk commented on #2939
@Balaje Thanks. Does v1.0.0 include all changes from the review?

[2021-03-24 00:33] Balaje commented on #2939
@diehlpk Yes, it does.

[2021-03-24 00:35] diehlpk commented on #2939
@whedon set v1.0.0 as version

[2021-03-24 00:35] whedon commented on #2939
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-03-24 00:36] diehlpk commented on #2939
@whedon set v1.0.0 as version

[2021-03-24 00:36] whedon commented on #2939
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-03-24 00:37] diehlpk commented on #2939
@whedon set 1.0.0 as version

[2021-03-24 00:37] whedon commented on #2939
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-03-24 00:46] diehlpk commented on #2939
@whedon set v1.0.0 as version

[2021-03-24 00:46] whedon commented on #2939
OK. v1.0.0 is the version.

[2021-03-24 00:47] diehlpk commented on #2939
@whedon accept

[2021-03-24 00:47] whedon commented on #2939
[code]

[2021-03-24 00:48] diehlpk commented on #2939
@Balaje congratulations to your paper. @corentin-dev, @iammix thanks for your time and effort.

[2021-03-24 00:48] whedon commented on #2939
[code]

[2021-03-24 00:48] whedon commented on #2939
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2159

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2159, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-03-24 00:50] Balaje commented on #2939
Thanks so much @diehlpk , @iammix and @corentin-dev for your time!

[2021-03-24 01:02] vals commented on #2440
I had a look at the changes, and it all looks fine now!

Best,
/Valentine

[2021-03-24 03:34] cheginit commented on #3128
I went through the list of reviewers and found the interests of these users relevant to this package:
Ziqi-Li, raoulcollenteur, mdbartos, arbennett, and kmarkert

[2021-03-24 03:54] cheginit commented on #3128
@kthyng, as @Kevin-Mattheus-Moerman mentioned the above lines of code is only for the collection repo, here's a summary of lines of code (only the main files) for each package using `cloc`:
[code]

And here's the combined summary:
[code]

Please let me know if more info is needed.

[2021-03-24 05:43] Narayana-Rao commented on #2970
Dear @hugoledoux, I want to thank you for positively responding to our "response to review comments" on behalf of our team. I appreciate your suggestions regarding the UI. I agree that our tool/plugin should have standard UI elements, which will enhance usability and avoid confusion that may arise due to a non-standard UI. Therefore, according to your suggestions, we have now updated the plugin UI

[2021-03-24 05:48] Narayana-Rao commented on #2970
Dear @liberostelios, Thank you very much for accepting the paper on the PolSAR tools plugin.  Your comments on the plugin helped us a lot in improving the overall quality of the plugin.

[2021-03-24 06:49] csoneson commented on #2440
Thank you @vals! So it looks like we're all good from the reviewers' side here.
@neuromusic - I'll give it a final look through and get back to you shortly with the next steps.

[2021-03-24 09:10] nkallima commented on #3129
@danielskatz – Thank you for handling the paper.
I checked the list of the reviewers and judging from the domains/topic areas, a list of potential reviewers could be the following:
-	Kanirudh
-	Jpenuchot
-	jarrah42
-	cedricchevalier19

Most of the content on this repository is an extension of my research on concurrent data-structures/algorithms and performance evaluation performed in the last deca

[2021-03-24 09:58] Chilipp commented on #2969
thanks @kuadrat for working on these issues! I updated my checklist @timtroendle. Let me know when you made progress with the remaining two issues @kuadrat.

[2021-03-24 10:03] Chilipp commented on #2969
alright @timtroendle, thanks for the clarification. It's still hard for me to judge this but concerning the potential use cases of the software as pointed out by me and @sabinomaggi (see _Whether the software is sufficiently useful that it is likely to be cited by other researchers working in this domain._), I'd say the scholarly effort for this software is high enough, so I check this item.

[2021-03-24 10:05] drvinceknight commented on #3084
@thewan05 have you been able to take a look at this [list of people](https://bit.ly/joss-reviewers) to see if there is anyone you would suggest as a reviewer?

No problem if you do not see anyone but it's a helpful place to start.

[2021-03-24 10:09] mikldk commented on #2992
@mmrabe: You have one unchecked box. Is this still correct?

[2021-03-24 10:12] mikldk commented on #2878
@r-barnes, can you please give a brief status of your review? This is not to rush you, merely to give me an impression of the progress and time-frame.

[2021-03-24 10:13] mikldk commented on #3085
@wjakethompson: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2021-03-24 10:13] mikldk commented on #3054
@vs74, can you please give a brief status of your review? This is not to rush you, merely to give me an impression of the progress and time-frame.

[2021-03-24 10:15] drvinceknight commented on #2733
@arfon :

Can the repo be moved:

**from** https://github.com/koenderks/jasp-desktop (branch JfA-JOSS)
**to** https://github.com/koenderks/jaspAudit (branch JOSS)

[2021-03-24 10:16] arfon commented on #2733
Done!

[2021-03-24 10:16] drvinceknight commented on #2733
Thanks!

[2021-03-24 10:17] drvinceknight commented on #2733
@koenderks can you confirm that everything looks in order please?

[2021-03-24 10:18] mmrabe commented on #2992
@mikldk Sorry, I missed that one. @msalibian & @alemermartinez, thanks for providing the additional example!

[2021-03-24 10:34] koenderks commented on #2733
@whedon generate pdf from branch JOSS

[2021-03-24 10:34] whedon commented on #2733
[code]

[2021-03-24 10:36] whedon commented on #2733
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02733/joss.02733/10.21105.joss.02733.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02733/joss.02733/10.21105.joss.02733.pdf) :page_facing_up: :point_left:

[2021-03-24 10:36] koenderks commented on #2733
@drvinceknight Thank you, everything seems to be in order after the switch.

[2021-03-24 10:37] caropen commented on #2963
@whedon generate pdf from branch joss_paper

[2021-03-24 10:37] whedon commented on #2963
[code]

[2021-03-24 10:38] whedon commented on #2963
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02963/joss.02963/10.21105.joss.02963.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02963/joss.02963/10.21105.joss.02963.pdf) :page_facing_up: :point_left:

[2021-03-24 10:43] mikldk commented on #2992
@mcavs, @mmrabe:  Can you confirm that you have finished the review and recommend that this paper is now published?

@alemermartinez :

* Please have a final read though of the paper, checking language etc.
* Have a final check of the proofs with `@whedon generate pdf`
* In general be sure that all versions are correct and that the repo is in the state that should be published.
* Please make a tag

[2021-03-24 10:49] johnsamuelwrites commented on #3127
@tyronerees Is it possible to add a section 'State of the field' in the article?

"State of the field: How FitBenchmarking software compares to other commonly-used packages?"

[2021-03-24 10:51] mmrabe commented on #2992
Yes, all issues have been resolved. I can now recommend this paper for publication in JOSS.

[2021-03-24 12:23] corybrunson commented on #3092
@vissarion should the two "statement of need" requirements in the reviewer checklist be interchanged? The one in the "software paper" section reads like it refers to the documentation, and vice-versa. And could you confirm that a statement of need is indeed expected in both places? Thank you!

[2021-03-24 12:37] lpantano commented on #3021
Thank you, it is ok to add more information.

@Sara-ShiHo can you check the update and update the item you didn't check because it was missing or give more feedback? Thanks!

[2021-03-24 13:01] berenger-eu commented on #3100
@poulson If I am correct, some checkboxes should be on the first post, right? Should I do something to make them appearing? Maybe it will be automatically done after all the reviewers will be selected(?) Thanks.

[2021-03-24 13:10] mparno commented on #3076
@martinmodrak Sorry you ran into these issues using the conda package.  I finally pushed up a fix to conda-forge last night that should allow you to seamlessly use the conda package with c++.  Thanks for helping identify the issue!

[2021-03-24 13:16] corybrunson commented on #3092
@vissarion I have completed my initial review. @nevrome this package was well-organized and straightforward to evaluate, and the paper was concise and clearly written, for all of which i thank you! All of the issues i identified have been mentioned in issues, either my own or (often) those by @fabian-s before me. I'll be available to answer follow-up questions and will complete my review checklist

[2021-03-24 13:55] sjpfenninger commented on #2677
Thank you. Can you look at [my suggested edits](https://gitlab.com/energyincities/besos/-/merge_requests/125) also? I see those remain untouched. There are some minor grammar/missing word fixes.

[2021-03-24 14:10] trashbirdecology commented on #3085
Sorry for the delay, @mikldk, but this is a little too out of my expertise. I would recommend reaching out to @natbprice who has yet to review.

[2021-03-24 14:13] mikldk commented on #3085
@trashbirdecology Thanks. I'll wait on @wjakethompson's reply before reaching out.

[2021-03-24 14:54] wjakethompson commented on #3085
Happy to review this one!

[2021-03-24 14:57] mikldk commented on #3085
@whedon add @wjakethompson as reviewer

[2021-03-24 14:57] whedon commented on #3085
OK, @wjakethompson is now a reviewer

[2021-03-24 14:58] mikldk commented on #3085
@whedon start review

[2021-03-24 14:58] whedon opened #3133 "[REVIEW]: ppdiag: Diagnostic Tools for Temporal Point Processes"
**Submitting author:** @OwenWard (<a href="http://orcid.org/0000-0002-9678-3542">Owen G. Ward</a>)
**Repository:** <a href="https://github.com/OwenWard/ppdiag" target ="_blank">https://github.com/OwenWard/ppdiag</a>
**Version:** v0.1.1
**Editor:** @mikldk
**Reviewer:** @alexpghayes, @wjakethompson
**Archive:** <a href="https://doi.org/10.5281/zenodo.4774232" target="_blank">10.5281/zenodo.4774232<

[2021-03-24 14:58] whedon commented on #3085
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3133.

[2021-03-24 14:58] #3085 closed

[2021-03-24 14:58] whedon commented on #3133
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @alexpghayes, @wjakethompson it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](

[2021-03-24 14:59] mikldk commented on #3133
@alexpghayes, @wjakethompson: Thanks for agreeing to review. Please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If possible create issues (and cross-reference) in the submission's repository to avoid too specific discussions in thi

[2021-03-24 14:59] mikldk commented on #3133
@whedon generate pdf

[2021-03-24 14:59] whedon commented on #3133
[code]

[2021-03-24 15:00] mikldk commented on #3133
@whedon check references from branch joss-paper

[2021-03-24 15:00] whedon commented on #3133
[code]

[2021-03-24 15:00] whedon commented on #3133
PDF failed to compile for issue #3133 with the following error:

 Can't find any papers to compile :-(

[2021-03-24 15:00] mcavs commented on #2992
@mikldk I confirm that it can publish in JOSS!

[2021-03-24 15:01] whedon commented on #3133
[code]

[2021-03-24 15:01] mikldk commented on #3133
@whedon generate pdf from branch joss-paper

[2021-03-24 15:01] whedon commented on #3133
[code]

[2021-03-24 15:02] whedon commented on #3133
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03133/joss.03133/10.21105.joss.03133.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03133/joss.03133/10.21105.joss.03133.pdf) :page_facing_up: :point_left:

[2021-03-24 15:04] mikldk commented on #3133
@alexpghayes, @wjakethompson: Thanks for agreeing to review. Please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If possible create issues (and cross-reference) in the submission's repository to avoid too specific discussions in thi

[2021-03-24 16:01] msalibian commented on #2992
@mikldk @mmrabe @mcavs Thank you all for your work and constructive revision process!

[2021-03-24 16:01] msalibian commented on #2992
@whedon generate pdf

[2021-03-24 16:02] whedon commented on #2992
PDF failed to compile for issue #2992 with the following error:

 Can't find any papers to compile :-(

[2021-03-24 16:03] whedon commented on #2992
[code]

[2021-03-24 16:03] whedon commented on #2992
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02992/joss.02992/10.21105.joss.02992.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02992/joss.02992/10.21105.joss.02992.pdf) :page_facing_up: :point_left:

[2021-03-24 16:06] KevinShook commented on #2276
The paper is finally complete and has been pushed to the repo.
Thanks for your patience!
What would be the best way for me to contact all the reviewers to tell them
that we have finished?

[2021-03-24 16:06] neuromusic commented on #2440
Wonderful! Thank you all!

[2021-03-24 16:42] somefunAgba commented on #3002
Thanks @majensen. It has been an interesting and educating review so far for me.

[2021-03-24 16:52] poulson commented on #3100
Yes, we need at least two reviewers -- and ideally three -- before starting the review.

[2021-03-24 16:58] TheoChristiaanse commented on #2677
Hi @sjpfenninger

we have merged you corrections to the paper.

I also, made it into a new version 2.1.1, and you can find that it also archived here: https://zenodo.org/record/4633738

Best,
Theo

[2021-03-24 17:38] danielskatz commented on #2282
👋 @jcolomb - sorry for the delays here.  @mikerspencer and I have chatted briefly offline so that I could better understand his concerns.  Then I asked a couple of other JOSS editors to take a look as well.  Our opinion is that this is not ready to be published at this point.  @karthik has some specific suggestions, which I've asked him to add here, basically reinforcing what @mikerspencer was unc

[2021-03-24 17:54] danielskatz commented on #3129
👋 @Kanirudh - would you be able to review this submission for JOSS?

[2021-03-24 17:54] karthik commented on #2282
👋 @jcolomb
Upon inspection of the submissions, it is not really clear what you are trying to accomplish or how someone else will reuse or benefit from this analysis package. The installation is really complicated, dependencies are unclear (for example, one should never directly import tidyverse in a package setting, but call on specific packages and functions as needed. Otherwise you are importing

[2021-03-24 17:54] danielskatz commented on #3129
👋 @Jpenuchot - would you be able to review this submission for JOSS?

[2021-03-24 17:56] danielskatz commented on #3129
👋 @hkaiser - Would you be willing to review this submission for JOSS?  We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-03-24 17:58] danielskatz commented on #2282
@jcolomb - given the comments from @mikerspencer and @karthik, I'm going to reject this, but we would welcome a resubmission of a future version that takes these comments into account.  I think this would be sufficiently different that it doesn't make sense to pause this and restart it at that time.

[2021-03-24 17:58] danielskatz commented on #2282
@whedon reject

[2021-03-24 17:58] whedon commented on #2282
Paper rejected.

[2021-03-24 17:58] #2282 closed

[2021-03-24 18:00] whedon commented on #3095
:wave: @gully, please update us on how your review is going (this is an automated reminder).

[2021-03-24 18:00] whedon commented on #3095
:wave: @jmbrewer, please update us on how your review is going (this is an automated reminder).

[2021-03-24 18:14] whedon commented on #3096
:wave: @bonh, please update us on how your review is going (this is an automated reminder).

[2021-03-24 18:22] Sara-ShiHo commented on #3021
@lpantano & @mwaskom I reread the updated paper and I updated my checklist. One last thing (seeing the example section reminded me) - do you think it is necessary to specify seaborn's current version number in the example section or anywhere else?

[2021-03-24 18:23] jarrah42 commented on #3040
Ok, I've completed my review. I was unable to get the performance tests to succeed on a VM, however I finally got them to work on my Mac using the docker container. Other comments:

- There are no CMake checks for Sphinx, so building the documentation fails if it is not installed
- The build assumes x86, so the build fails on non-x86 architectures (I think it's also a weakness in the design to inc

[2021-03-24 18:25] mwaskom commented on #3021
Happy to do whatever is common for JOSS papers.

[2021-03-24 18:29] melissawm commented on #3096
@bonh don't worry about whedon, it's an automatic setting :)

[2021-03-24 18:46] Sulstice commented on #3050
Alrighty, I approve, and good to go on my end!

[2021-03-24 18:47] bonh commented on #3096
@melissawm still cannot tick the boxes. Am i doing something wrong?

[2021-03-24 19:11] SteveMacenski commented on #2783
@mosteo anything else that I can resolve / clarify / assist with to get your check on "Example usage" (I believe the last item on your list to complete the review)?

[2021-03-24 19:14] melissawm commented on #3096
Sorry - let me re-invite you

[2021-03-24 19:16] melissawm commented on #3096
@whedon re-invite @bonh  as reviewer

[2021-03-24 19:16] whedon commented on #3096
OK, the reviewer has been re-invited.

@bonh  please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-03-24 19:20] vincentberenz commented on #2752
@gkthiruvathukal @traversaro @vissarion

The software is ready for the review to resume. Apologies again for this unexpected (long !) delay. The continuous integration has been fully refactored and now generates binaries and source tar balls. Here is the new documentation page:

http://people.tuebingen.mpg.de/mpi-is-software/o80/docs/o80/index.html

the installation page has been updated:

http://

[2021-03-24 19:26] hkaiser commented on #3129
I can try reviewing the paper.

[2021-03-24 19:34] danielskatz commented on #3129
Thanks - I'll add you in the system, but the review won't start until we get one more reviewer as well

[2021-03-24 19:34] danielskatz commented on #3129
@whedon assign @hkaiser as reviewer

[2021-03-24 19:34] whedon commented on #3129
OK, @hkaiser is now a reviewer

[2021-03-24 19:44] seanbergin commented on #3131
Kevin,

Thanks for looking at our submission so quickly. You are looking at the
correct file, the CHIME.nlogo file. Netlogo does create the XML code for
the user interface, but not for the actual agent based model. The XML
code includes buttons, sliders and viewers to interact with the model. The
actual model code is 2718 lines (including some comments at the beginning
of the code) and was written

[2021-03-24 19:50] fboehm commented on #2995
@whedon generate pdf from branch literature

[2021-03-24 19:51] whedon commented on #2995
[code]

[2021-03-24 19:52] fboehm commented on #2995
Thank you, @JDRomano2 and @LogIN- !! Your thorough reviews are really appreciated. I have no remaining tasks or questions for you.

I will double-check the pdf of the paper before proceeding towards publication.

[2021-03-24 19:54] whedon commented on #2995
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02995/joss.02995/10.21105.joss.02995.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02995/joss.02995/10.21105.joss.02995.pdf) :page_facing_up: :point_left:

[2021-03-24 19:56] csoneson commented on #2440
👋 @neuromusic - I just sent a [PR](https://github.com/spacetx/starfish/pull/1942) with a couple of small fixes to the manuscript, mainly for the references formatting. Please check and merge if you agree. In addition, JOSS papers are currently [expected](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) to include an explicit `Statement of Need` section that illus

[2021-03-24 20:04] fboehm commented on #2995
@mponce0 - The references need a few small fixes.

1. Ponce & Sandhel reference needs "R" capitalized. One way to do this is to verify that the bib file has capital R and put curly braces around the letter R. Upon compiling, this should yield a capitalized R in the references section.
2. The url for Smith, et al. reference needs to be fixed.
3. Hornik's article, in the references section, needs a

[2021-03-24 20:05] fboehm commented on #2995
I manually checked the DOIs on the downloaded pdf. They all worked and took me to the expected articles.

[2021-03-24 20:10] fboehm commented on #3097
Thank you, @esteinig! Can you be more specific about the suggestion for headlines in the paper? Can you recommend specific places in paper.md where headlines might be placed?

Thanks again!

[2021-03-24 20:11] fboehm commented on #3097
@whedon generate pdf

[2021-03-24 20:12] whedon commented on #3097
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03097/joss.03097/10.21105.joss.03097.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03097/joss.03097/10.21105.joss.03097.pdf) :page_facing_up: :point_left:

[2021-03-24 20:14] mponce0 commented on #2995
@whedon generate pdf from branch literature

[2021-03-24 20:14] whedon commented on #2995
[code]

[2021-03-24 20:18] henrykironde commented on #3040
@gvilitech I am still trying to find away to measure the performance. Is it possible to add comparable performance tests against the other implementations. This is where you call all the api providing them with the same input with a goal to have LibSWIFFT `at least as fast as other implementations of SWIFFT and often faster`.

[2021-03-24 20:24] danielskatz commented on #3040
Thanks @jarrah42 and @henrykironde - I hope we hear back from @gvilitech / @yarongvili1 soon.
And @gcdeshpande, any update?

[2021-03-24 20:50] mponce0 commented on #2995
@whedon generate pdf from branch literature

[2021-03-24 20:50] whedon commented on #2995
[code]

[2021-03-24 20:53] mponce0 commented on #2995
@fboehm Thank you for noticing these issues, indeed there were a few references without proper "protected fields".
We have fixed these and attempted recompilation via `@whedon generate pdf from branch literature` but it is taking an unusual long amount of time (as matter of fact it appears to be stuck...)

[2021-03-24 23:31] yarongvili1 commented on #3040
@jarrah42: Thanks for your review and comments. Regarding the performance tests, their results tend to vary considerably across environments and so they were not made a part of the default test suite. In order to get them to work on a VM, one thing I would suggest trying is configure the VM as follows: 2+ cores available to the VM, 1+GB RAM, VT-x/AMD-V, Nested Paging, PAE/NX, KVM Paravirtualizatio

[2021-03-24 23:53] kbarnhart commented on #2276
@whedon generate pdf

[2021-03-24 23:54] kbarnhart commented on #2276
@whedon check references

[2021-03-24 23:55] whedon commented on #2276
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02276/joss.02276/10.21105.joss.02276.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02276/joss.02276/10.21105.joss.02276.pdf) :page_facing_up: :point_left:

[2021-03-24 23:55] whedon commented on #2276
[code]

[2021-03-24 23:56] kbarnhart commented on #2276
@KevinShook thanks for the update.

@r-barnes @awickert @KCallaghan as you are able, please revisit your review at this point. If you think @KevinShook has addressed all of your concerns, please close in-repo issues and check off remaining checkboxes above.

As always, if you have questions for me ask them here or email krbarnhart@usgs.gov

[2021-03-25 03:55] mponce0 commented on #2995
@whedon generate pdf from branch literature

[2021-03-25 03:55] whedon commented on #2995
[code]

[2021-03-25 04:00] whedon commented on #2995
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02995/joss.02995/10.21105.joss.02995.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02995/joss.02995/10.21105.joss.02995.pdf) :page_facing_up: :point_left:

[2021-03-25 04:11] mponce0 commented on #2995
@fboehm the PDF compilation is working now, I think I had a bug in the references file and that's why the compilation was stalling.

[2021-03-25 05:55] thelfer commented on #2945
@diehlpk Sorry for the delay, my agenda have been awfull during the last month. I'll finish the review for the end of next week.

[2021-03-25 08:49] mosteo commented on #2783
I'm sorry, I thought I had checked it after you provided the `slam:=True` bit.

[2021-03-25 09:04] jcolomb commented on #2282
Dear @danielskatz and @karthik, thank you for taking that much time to discuss this case.

[2021-03-25 09:32] tyronerees commented on #3127
@johnsamuelwrites -- of course: I'll add something on that to the article

[2021-03-25 10:34] Kevin-Mattheus-Moerman commented on #3132
@whedon invite @mikldk as editor

[2021-03-25 10:34] whedon commented on #3132
@mikldk has been invited to edit this submission.

[2021-03-25 10:35] Kevin-Mattheus-Moerman commented on #3132
@mikldk I realize you are handling several submissions already. If this is in your domain but you do not have time at the moment I can set this to "waitlisted" and wait for you to be available if you like.

[2021-03-25 10:35] VivianePons commented on #2954
Hi @michakraus have you had time to look at the comments?

[2021-03-25 10:37] Kevin-Mattheus-Moerman commented on #3132
@strengejacke thanks for your submission. I wanted to make a recommendation with regards to your paper title. It is more usual for JOSS paper titles to hint at the name of the package in the title, e.g. perhaps you can consider something like: `Performance:  an R Package for Assessment, Testing and Comparison of Statistical Models`.

[2021-03-25 10:38] VivianePons commented on #2946
Hi @gcdeshpande I wondered if you could give us an update on the review? Or even a timeframe on when you believe you'll be able to get to it

[2021-03-25 10:43] michakraus commented on #2954
Hi @VivianePons, thanks for asking. I finished that big overhaul I mentioned before, but I still have to work through some of the comments. Although mostly minor, I'll probably only have time for that after easter. I am currently a bit busy with other stuff (administration, proposals, ...), but I'll try to do this asap.

[2021-03-25 10:44] mikldk commented on #3132
Yes, it would be fine to assign me and set this to "waitlisted", thanks.

[2021-03-25 10:50] Kevin-Mattheus-Moerman commented on #3132
@whedon assign @mikldk as editor

[2021-03-25 10:50] whedon commented on #3132
OK, the editor is @mikldk

[2021-03-25 10:50] VivianePons commented on #2954
No problem! I just wanted to make sure things were still in motion

[2021-03-25 10:52] Kevin-Mattheus-Moerman commented on #3132
@strengejacke this submission is now set as `waitlisted`, which means that although we've found a handling editor our editors are too busy at the moment to work on this submission. Your submission will be dealt with as soon as the handling editor becomes available.

[2021-03-25 10:55] whedon opened #3134 "[PRE REVIEW]: PyMut: A rotamer based mutation library implemented in Python"
**Submitting author:** @gerdos (<a href="http://orcid.org/0000-0001-6218-5192">Erdős Gábor</a>)
**Repository:** <a href="https://github.com/gerdos/pyMUT" target ="_blank">https://github.com/gerdos/pyMUT</a>
**Version:** 1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic,

[2021-03-25 10:55] whedon commented on #3134
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-25 10:56] whedon commented on #3134
[code]

[2021-03-25 10:56] whedon commented on #3134
PDF failed to compile for issue #3134 with the following error:

 ORCID looks to be the wrong length
/app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:155:in `block in check_orcids': Problem with ORCID (000-0001-6218-5192) for Erdős Gábor^[Corresponding author] (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:153:in `each'

[2021-03-25 10:57] whedon commented on #3134
[code]

[2021-03-25 10:59] Kevin-Mattheus-Moerman commented on #3134
@whedon query scope

[2021-03-25 10:59] whedon commented on #3134
Submission flagged for editorial review.

[2021-03-25 11:01] Kevin-Mattheus-Moerman commented on #3134
@gerdos thanks for this submission. I've flagged this submission for additional scope review by our editorial board. This is default for submission of this size (see our ["substantial scholarly effort" requirements](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort)) and should take about a week to complete. Thanks for your patience.

[2021-03-25 11:08] Kevin-Mattheus-Moerman commented on #3134
Note to editorial board, it looks like this is the core code contribution which appears to be about ~350 lines of code followed by mostly hardcoded (e.g. angle) definitions:
https://github.com/gerdos/pyMUT/blob/master/pymut.py

@gerdos if you disagree with this finding :point_up: or want to elaborate on the extent of scholarly work contained in your submission please do let us know. Thanks.

@gerd

[2021-03-25 11:09] whedon opened #3135 "[PRE REVIEW]: Ngesh: a Python library for synthetic phylogenetic data"
**Submitting author:** @tresoldi (<a href="http://orcid.org/0000-0002-2863-1467">Tiago Tresoldi</a>)
**Repository:** <a href="https://github.com/tresoldi/ngesh" target ="_blank">https://github.com/tresoldi/ngesh</a>
**Version:** v0.5
**Editor:** @majensen
**Reviewers:** @DavidNickle, @rvosa
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2021-03-25 11:09] whedon commented on #3135
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-25 11:10] whedon commented on #3135
Failed to discover a `Statement of need` section in paper

[2021-03-25 11:10] whedon commented on #3135
[code]

[2021-03-25 11:10] whedon commented on #3135
[code]

[2021-03-25 11:10] whedon commented on #3135
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03135/joss.03135/10.21105.joss.03135.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03135/joss.03135/10.21105.joss.03135.pdf) :page_facing_up: :point_left:

[2021-03-25 11:10] Kevin-Mattheus-Moerman commented on #3135
@whedon query scope

[2021-03-25 11:10] whedon commented on #3135
Submission flagged for editorial review.

[2021-03-25 11:12] Kevin-Mattheus-Moerman commented on #3135
@tresoldi thanks for this submission. I've flagged this submission for additional scope review by our editorial board. This is default for submissions of this size (see our ["substantial scholarly effort" requirements](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort)) and should take about a week to complete. Thanks for your patience.

[2021-03-25 11:27] whedon commented on #3098
:wave: @tmaric, please update us on how your review is going (this is an automated reminder).

[2021-03-25 11:38] 0x0f0f0f commented on #3078
Should we open an issue in the whedon repo?

[2021-03-25 12:01] strengejacke commented on #3132
Great, thanks! I'll revise the paper title as suggested.

[2021-03-25 12:13] gerdos commented on #3134
Dear @Kevin-Mattheus-Moerman!

Thanks a lot for reviewing my work! Indeed, the length of the code does not reach the suggested 1000 lines, but reaches the minimum in the submission rules. I usually try to code in a more compact manner while keeping my code in line with the current standards. I also though a lot about the aforementioned hardcoded angles, to supply them in a data file, however at th

[2021-03-25 12:18] IndrajeetPatil commented on #3111
Hi everyone, any update on the submission?

I have suggested both possible editors and reviewers.
Please let me know if I can do anything else on my end to expedite the process. :)

[2021-03-25 12:37] tresoldi commented on #3135
@Kevin-Mattheus-Moerman thank you!

[2021-03-25 13:01] mikldk commented on #3132
@martinju, @sachsmc: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2021-03-25 13:18] danielskatz commented on #3040
Re the substantial scholarly effort part, the editors decided that it was sufficient for this to proceed to review, but the reviewers are still allowed to bring this up as a point they want to discuss.  @jarrah42 - what is your concern here?

[2021-03-25 13:19] JustinSGray commented on #2809
Any update on this?

[2021-03-25 13:26] sjpfenninger commented on #2677
@whedon generate pdf

[2021-03-25 13:27] whedon commented on #2677
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02677/joss.02677/10.21105.joss.02677.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02677/joss.02677/10.21105.joss.02677.pdf) :page_facing_up: :point_left:

[2021-03-25 13:28] sjpfenninger commented on #2677
@whedon set v2.1.1 as version

[2021-03-25 13:28] whedon commented on #2677
OK. v2.1.1 is the version.

[2021-03-25 13:29] sjpfenninger commented on #2677
@whedon set 10.5281/zenodo.4633738 as archive

[2021-03-25 13:29] whedon commented on #2677
OK. <a href="https://doi.org/10.5281/zenodo.4633738" target="_blank">10.5281/zenodo.4633738</a> is the archive.

[2021-03-25 13:31] sjpfenninger commented on #2677
@TheoChristiaanse Great thanks, we're ready here! Just one minor point about the Zenodo archive, it says "License: Other (non-commercial)", but I think you ought to be able to change that to GNU GPLv3 which is what the LICENSE file says.

[2021-03-25 13:31] sjpfenninger commented on #2677
@whedon accept

[2021-03-25 13:31] whedon commented on #2677
[code]

[2021-03-25 13:32] whedon commented on #2677
[code]

[2021-03-25 13:32] whedon commented on #2677
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2160

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2160, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-03-25 13:35] sjpfenninger commented on #2677
Not sure what's going on with DOI 10.5555/1953048.2078195, https://dl.acm.org/doi/10.5555/1953048.2078195 suggests it exists, but it doesn't resolve...

[2021-03-25 13:35] sjpfenninger commented on #2677
Anyway, thanks @willu47 and @fneum for your extensive reviews and @TheoChristiaanse for working on incorporating the changes!

[2021-03-25 14:01] JohannesBuchner commented on #3001
OK, I think I did it:

v3.1.0

released at https://github.com/JohannesBuchner/UltraNest/releases/tag/v3.1.0

zenodo record: https://zenodo.org/record/4636924

doi: 10.5281/zenodo.4636924

[2021-03-25 14:05] gkthiruvathukal commented on #2752
Thanks, @vincentberenz. @traversaro and @vissarion, please let me know when you have a chance to take a look at the revisions.

[2021-03-25 15:15] pibion commented on #2484
@whedon add @atrisovic as reviewer

[2021-03-25 15:15] whedon commented on #2484
OK, @atrisovic is now a reviewer

[2021-03-25 15:28] pibion commented on #3123
@Kevin-Mattheus-Moerman I'd be happy to take this but wanted to caution that I'm a little slow right now as I've got several papers whose reviewers have gone quiet and it's been unusually time-consuming to find new folks.

[2021-03-25 15:30] msalibian commented on #2992
@whedon generate pdf from branch joss

[2021-03-25 15:31] whedon commented on #2992
[code]

[2021-03-25 15:32] whedon commented on #2992
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02992/joss.02992/10.21105.joss.02992.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02992/joss.02992/10.21105.joss.02992.pdf) :page_facing_up: :point_left:

[2021-03-25 15:42] thewan05 commented on #3084
@drvinceknight Hello, we identified four people who have SAS listed under their languages.

227) jminnier
620) BarryDeCicco
1273) Darthpathos
1552) Urko Agirre

Thank you.

[2021-03-25 15:47] pibion commented on #2694
@jspaezp @wesleyburr just checking in - I'm currently looking for a second reviewer.  No luck yet but I've just sent out another round of emails.

[2021-03-25 15:50] mikerspencer commented on #2282
Hi @jcolomb,

Some comments to help with subsequent work:

* Have a look at the Wickham & Bryan book on R packages (https://r-pkgs.org/). It's got some really helpful material on structuring work and testing.
* Try and break down work/repos into sections, this will make it easier for others to follow logic and find the parts they need.
* Focus the repo on a task and remove code that no longer cont

[2021-03-25 16:11] arfon commented on #3111
@IndrajeetPatil - apologies for the slow progress here. As our existing editors are a little overloaded I'm going to mark this submission as `waitlisted` for now. As and when an editor becomes available, we'll go ahead and assign one.

[2021-03-25 16:13] majensen commented on #2979
I think we're very close now - I will do my final check (proofreading, editorial) this weekend if all goes well. Thanks to all-

[2021-03-25 16:18] alemermartinez commented on #2992
Thank you very much, @mikldk<https://github.com/mikldk> @mmrabe<https://github.com/mmrabe> @mcavs<https://github.com/mcavs>

Kind regards,

Alejandra

-------- Mensaje original --------
De: Matias Salibian Barrera ***@***.***>
Fecha: 24/3/21 13:01 (GMT-03:00)
A: openjournals/joss-reviews ***@***.***>
CC: Alejandra Martinez ***@***.***>, Mention ***@***.***>
Asunto: Re: [openjournals/joss-reviews]

[2021-03-25 16:42] martinju commented on #3132
@mikldk Hi, I would be happy to review this paper.

[2021-03-25 17:16] karthik commented on #2944
I've reached out to Julian and will follow up with Riet Van Bork if he doesn’t respond.