[2020-10-06 07:31] yangbai90 commented on #2699
@whedon check repository

[2020-10-06 07:31] whedon commented on #2699
[code]

[2020-10-06 08:04] jbuisine commented on #2658
Hello @melissawm, thank you for your advice, I will take it into account and modify the document in order to situate the package in the bibliography!

[2020-10-06 08:17] jarvist commented on #2655
Having looked quickly at the package, my expertise is close enough that I could review it. With the start of term I'm also quite busy, so it may take a few weeks to schedule in.
If that's an OK timetable, then please do assign me as a reviewer!

[2020-10-06 08:34] prw99r commented on #2646
@whedon commands

[2020-10-06 08:34] whedon commented on #2646
Here are some things you can ask me to do:

[code]

[2020-10-06 08:36] prw99r commented on #2646
Hi @danielskatz - how do I check off items on the checklist? I'm probably being really dumb, but how the heck do I do that? Thanks, Peter

[2020-10-06 08:38] flokno commented on #2671
Thanks for these comments. I will discuss this with my coauthors as soon as the rest of the review is in.

[2020-10-06 08:53] prw99r commented on #2646
Hi Daniel, I've actually made some progress on looking at the code
(download the repo etc, having a good look at the code etc) - if I can
access the checklist (or there are some commands to do it) then I can
*look* like I'm actually doing something!
Cheers
Peter

On Sun, Oct 4, 2020 at 7:37 PM Daniel S. Katz <notifications@github.com>
wrote:

[2020-10-06 09:17] ramadatta commented on #2473
Dear @will-rowe @fmaguire @boasvdp  - Thank you so much for giving us time to work through the comments and submit the manuscript. We have tried our best to resolve the issues raised by both of the reviewers and re-submitted the updated manuscript. In regards to this, we kindly request the reviewers to review our updated comments.

[2020-10-06 09:31] will-rowe commented on #2473
@whedon generate pdf

[2020-10-06 09:32] will-rowe commented on #2473
@whedon check references

[2020-10-06 09:33] whedon commented on #2473
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02473/joss.02473/10.21105.joss.02473.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02473/joss.02473/10.21105.joss.02473.pdf) :page_facing_up: :point_left:

[2020-10-06 09:33] whedon commented on #2473
[code]

[2020-10-06 09:44] Kudusch commented on #2461
Thank you as well to @kakiac for the chance to review for JOSS!

Dear @chainsawriot,

first of all: Thank you for writing this package! It has been very useful for me and I'm sure it'll be/it has been very useful for the community as well.

I have now read the paper and (re-)installed oolong and went through some of the examples provided by you. I think the paper and the package is almost fit for

[2020-10-06 10:40] marcosvital commented on #2447
Hi, @nhejazi! Almost there, but I would like to ask for two modifications:
 - please include the "statement of need" a separate paragraph, it should look [like this](https://github.com/openjournals/joss-papers/blob/joss.02584/joss.02584/10.21105.joss.02584.pdf) or [this](https://joss.theoj.org/papers/10.21105/joss.02342);
 - can you try start the summary with a more general, less technical explana

[2020-10-06 10:58] danielskatz commented on #2646
@whedon re-invite @prw99r as reviewer

[2020-10-06 10:58] whedon commented on #2646
The reviewer already has a pending invite.

@prw99r please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-10-06 10:59] danielskatz commented on #2646
👋 @prw99r - you have to accept the invitation. See the comment above this one.

[2020-10-06 12:14] prw99r commented on #2646
it says the invitation  has expired?

On Tue, Oct 6, 2020 at 11:59 AM Daniel S. Katz <notifications@github.com>
wrote:

[2020-10-06 12:19] AlexMikes commented on #2362
I suggest @trallard as an additional reviewer

[2020-10-06 12:21] danielskatz commented on #2646
@whedon re-invite @prw99r as reviewer

[2020-10-06 12:21] whedon commented on #2646
OK, the reviewer has been re-invited.

@prw99r please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-10-06 12:21] danielskatz commented on #2646
It must have been the one from the previous time expired between when I sent it and now - the new one should be available for 10-11 days, I think...  Please try again

[2020-10-06 12:38] iaklampanos commented on #2664
Thanks @Himscipy. The platform comprises multiple largely independent components, which are listed in the paper. Each of these components will have some tests used by the respective development team. For instance dispel4py has its tests at https://gitlab.com/project-dare/dispel4py/-/tree/master/dispel4py/test, s-provflow has its tests at  https://gitlab.com/project-dare/s-ProvFlow/-/tree/master/pr

[2020-10-06 12:55] jrasakanthan commented on #2580
@kthyng I do not have access to WinOS (only Unix) so I cannot review this SW.

[2020-10-06 13:09] gkthiruvathukal commented on #2362
Hi @trallard, Are you willing to contribute a review for this JOSS submission?

[2020-10-06 13:34] kthyng commented on #2176
@WilkAndy Got it! No problem, happy to hear there is a path forward. Good luck with the computer crash.

[2020-10-06 13:39] kthyng commented on #2153
@gkthiruvathukal ah! I see. Ok, I will remove the one reviewer and edit the checklist to be for @UTH-Tuan instead. When reviewer changes happen after starting the review issue, some of this needs to happen by hand. Please let me know if anything remains incorrect after I'm done.

[2020-10-06 13:40] whedon commented on #2153
OK, @feliperodri is no longer a reviewer

[2020-10-06 13:45] UTH-Tuan commented on #2153
@gkthiruvathukal @kthyng how do I generate a checklist? I am sorry but this my first time doing this type of review without any direction  (I am more accustomed to the traditional paper review).

[2020-10-06 13:50] kthyng commented on #2153
@UTH-Tuan You now have a checklist above to use. So the review is checklist-driven, as above, but as issues come up, please open issues on the software repo to describe and discuss, and link to this review issue so that we can track related issues. Let me or @gkthiruvathukal know if you have any questions. Thanks!

[2020-10-06 13:52] kthyng commented on #2580
@jrasakanthan ah ok, thanks then.

@arfon want to either get a new reviewer or proceed with two instead of three?

[2020-10-06 13:55] kthyng commented on #2362
@gkthiruvathukal yeah sorry :( Don't want to bug people but yet here I am doing so!

@AlexMikes more suggestions == better :)

[2020-10-06 14:01] UTH-Tuan commented on #2153
@kthyng @gkthiruvathukal I see it now. Earlier I didn't have a checklist. I initially thought I had generate it . Thanks!

[2020-10-06 14:09] arfon commented on #2580
I'm happy to proceed with two (sorry it didn't work out this time @jrasakanthan)

@jdavidli - how are you getting on completing your review?

[2020-10-06 14:09] arfon commented on #2580
@whedon remove @jrasakanthan as reviewer

[2020-10-06 14:09] nnadeau commented on #2533
sounds good @kaustubh-sadekar . I'll try to schedule some time this weekend to finish my review :)

[2020-10-06 14:09] whedon commented on #2580
OK, @jrasakanthan is no longer a reviewer

[2020-10-06 14:25] trallard commented on #2362
Hi @gkthiruvathukal at the moment I do not have the bandwidth to contribute to this. I have other reviews that I need to move forward.

[2020-10-06 14:26] jdavidli commented on #2580
@kthyng @arfon There were just a few more minor things I wanted to address, but I should be done pretty soon.

[2020-10-06 14:39] gkthiruvathukal commented on #2362
Thanks, @trallard. I know the feeling. The work just isn't stopping now.

@AlexMikes if you can suggest a couple more, it would help me right now. Thanks!

[2020-10-06 15:35] whedon opened #2723 "[PRE REVIEW]: ShinyGAStool: A user-friendly tool for candidate gene association studies"
**Submitting author:** @kordk (<a href="http://orcid.org/0000-0001-9732-3321">Kord Kober</a>)
**Repository:** <a href="https://github.com/kordk/shinyGAStool/" target ="_blank">https://github.com/kordk/shinyGAStool/</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-

[2020-10-06 15:35] whedon commented on #2723
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-06 15:35] whedon opened #2724 "[PRE REVIEW]: rdataretriever: An R package for downloading, cleaning, and installing publicly available datasets"
**Submitting author:** @henrykironde (<a href="http://orcid.org/0000-0001-7105-5808">henry senyondo</a>)
**Repository:** <a href="https://github.com/ropensci/rdataretriever" target ="_blank">https://github.com/ropensci/rdataretriever</a>
**Version:** v3.0.0
**Editor:** @fboehm
**Reviewers:** @rmhogervorst, @jsgalan
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

[2020-10-06 15:35] whedon commented on #2724
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-06 15:35] whedon opened #2725 "[PRE REVIEW]: GIMS: Graphical Interface for Materials Simulations"
**Submitting author:** @kokookster (<a href="http://orcid.org/0000-0003-1066-6909">Sebastian Kokott</a>)
**Repository:** <a href="https://gitlab.com/gims-developers/gims" target ="_blank">https://gitlab.com/gims-developers/gims</a>
**Version:** 1.0.0
**Editor:** @jgostick
**Reviewers:** @marshallmcdonnell, @arose, @marshallmcdonnell
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service

[2020-10-06 15:35] whedon commented on #2725
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-06 15:36] whedon commented on #2723
PDF failed to compile for issue #2723 with the following error:

 Can't find any papers to compile :-(

[2020-10-06 15:36] whedon commented on #2723
[code]

[2020-10-06 15:36] whedon commented on #2724
[code]

[2020-10-06 15:36] whedon commented on #2724
[code]

[2020-10-06 15:37] whedon commented on #2724
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02724/joss.02724/10.21105.joss.02724.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02724/joss.02724/10.21105.joss.02724.pdf) :page_facing_up: :point_left:

[2020-10-06 15:37] kthyng commented on #2528
@dormezil I see one unchecked box above — can you check it or verify that you are satisfied with the writing?

[2020-10-06 15:37] whedon commented on #2725
[code]

[2020-10-06 15:37] whedon commented on #2725
[code]

[2020-10-06 15:38] whedon commented on #2725
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02725/joss.02725/10.21105.joss.02725.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02725/joss.02725/10.21105.joss.02725.pdf) :page_facing_up: :point_left:

[2020-10-06 15:39] kthyng commented on #2528
@andyphilips I'm taking over to finish processing your submission. Please update the metadata on your Zenodo archive so that the title and author list match your paper exactly.

[2020-10-06 15:44] kthyng commented on #2528
@andyphilips In terms of your paper: They are [meant to be](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) 250–1000 words and a quick word count of your paper (including references) was over 2000. So, without references it's not so long, but still is longer than we prefer. Please consider if there is a part that you can leave out.

Also, I saw two references in

[2020-10-06 15:45] kthyng commented on #2723
@whedon query scope

[2020-10-06 15:46] whedon commented on #2723
Submission flagged for editorial review.

[2020-10-06 15:46] kthyng commented on #2724
@whedon query scope

[2020-10-06 15:52] kthyng commented on #2723
Hi @kordk! Thank you for your submission. I have flagged your submission as possibly out of scope due to its small size. Please see details on "substantial scholarly effort": https://joss.readthedocs.io/en/latest/review_criteria.html#substantial-scholarly-effort. The editorial board will consider your submission to make the decision together in the next week or two. If there is any additional info

[2020-10-06 15:52] kthyng commented on #2724
Hi @henrykironde! Thank you for your submission. I have flagged your submission as possibly out of scope due to its small size. Please see details on "substantial scholarly effort": https://joss.readthedocs.io/en/latest/review_criteria.html#substantial-scholarly-effort. The editorial board will consider your submission to make the decision together in the next week or two. If there is any addition

[2020-10-06 15:53] tbrown122387 commented on #2599
@diehlpk  perhaps I could add an equation/some notation? Eyes are drawn to equations, and it would also cement some of the notation that would be (re-)used in the coming Example section. It might also be easier on the reader to see me label states/codes as x_t immediately after the first time I use those words, and to see "observed information" labeled with $y_{1:t}$ immediately after they see tha

[2020-10-06 15:57] xillig commented on #2507
Dear @trallard, @sara-02, @aozorahime,
We hope that you are all well and not too severely affected by the current Covid situation. For us a decision about our paper is quiet important in terms of funding applications. Given that the extended review timeline of six weeks is already past since a while, we would kindly like to ask you if you could give us an indication as to when we can expect a conc

[2020-10-06 16:01] diehlpk commented on #2599
@tbrown122387

`perhaps I could add an equation/some notation?`

Sounds good.

[2020-10-06 16:01] hugoledoux commented on #2690
@whedon add @sgkang as reviewer

[2020-10-06 16:01] whedon commented on #2690
OK, @sgkang is now a reviewer

[2020-10-06 16:01] diehlpk commented on #2599
@whedon generate pdf

[2020-10-06 16:01] kthyng commented on #2725
Hi @Kokookster! Thank you for your submission!

I would like to better understand what part of your repository is specifically your software vs. dependencies. For example, could you give a short overview of what of the 8000 lines of Javascript are written by you and your co-authors?

[2020-10-06 16:02] whedon commented on #2599
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02599/joss.02599/10.21105.joss.02599.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02599/joss.02599/10.21105.joss.02599.pdf) :page_facing_up: :point_left:

[2020-10-06 16:03] joshspeagle commented on #2641
This will unfortunately be delayed even further on my end. I've recently moved internationally and, due to technical issues and quarantine requirements, it's taking longer to get internet set up at our new place than we had expected. I'm hopeful that this will be resolved in the next few days.

Sorry about the extensive delays getting this referee report in.

[2020-10-06 16:04] kthyng commented on #2344
@bmcfee Sorry to intervene here but I'd like to kick this back to the editorial board for discussion.

@Adamoso This package is just above our minimum size for submissions so it is JOSS policy now to query the scope before going out to review. If you have any context or additional information you'd like to add for our consideration, feel free to do so in this pre-review issue, but it isn't necessa

[2020-10-06 16:04] kthyng commented on #2344
@whedon query scope

[2020-10-06 16:04] whedon commented on #2344
Submission flagged for editorial review.

[2020-10-06 16:05] diehlpk commented on #2599
@tbrown122387

The next steps are

- [ ] Generate a new release including all changes during the review
- [ ] Post the release here
- [ ] Generate a DOI of the release on Figshare or Zenodo. Note that the name has to match the paper title.
- [ ]  Post the DOI here

[2020-10-06 16:16] Kokookster commented on #2725
Hi @kthyng ,

Only the files in the `client/libs` folder (currently only `OrthographicTrackballControls.js`) is _not_ written by any of the project authors. The names of the authors are included in the lib-files.

All other javascript lines are the original work of the project authors. (Hopefully) all files carry the author name in the file header.

[2020-10-06 16:25] xyzmjf commented on #2672
Hi Will. I have seen enough now to come to a conclusion. The code and manuscript should be rejected in the current form. A lot of work on both would be needed to meet the standard expected for a peer reviewed publication. all of my comments can be found in the open issues. My main overall comments are here. https://github.com/kuangmeng/CIMSA/issues/19

[2020-10-06 16:30] tbrown122387 commented on #2599
@diehlpk

- the latest release can be found [here](https://github.com/tbrown122387/pf/releases)
- the DOI can be found [here](https://zenodo.org/record/4068564#.X3ybEZopB2V)
- I changed the DOI's "Title" to "A Short Introduction to PF: A C++ Library for Particle Filtering", but might have done this incorrectly. Please let me know if I need to make another change.

[2020-10-06 16:47] diehlpk commented on #2599
@whedon set v1.0.3 as version

[2020-10-06 16:47] whedon commented on #2599
OK. v1.0.3 is the version.

[2020-10-06 16:48] ethanwhite commented on #2724
Thanks for the update @kthyng. FYI we did submit a pre-submission inquiry about a month ago:
https://github.com/openjournals/joss/issues/796

[2020-10-06 16:49] AngryMaciek commented on #2643
@majensen
Then there is no need now, I will wait until I merge your suggestions.

[2020-10-06 16:51] diehlpk commented on #2599
@tbrown122387

tbrown122387/pf: v1.0.3

Taylor R. Brown; trb5me

Can you remove `trb5me` from the author list? Only the authors of the paper should be listed?

Can you please replace` tbrown122387/pf: v1.0.3` with the paper title?

[2020-10-06 16:57] majensen commented on #2643
will get to this by Thursday - thanks @AngryMaciek

[2020-10-06 16:57] aozorahime commented on #2507
hi @xillig I am sorry I am totally forgot to check the remaining points. but I think its done. maybe we can ask the editor @trallard  to process this review

[2020-10-06 16:59] majensen commented on #2587
@callahantiff, @balhoff suggested that you would be a good reviewer for [JOSS](https://joss.theoj.org) on [this work](#2587). Would you be willing to provide your expertise? [Here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) is an overview of the reviewing process.
Thanks for your consideration --@majensen

[2020-10-06 17:01] tbrown122387 commented on #2599
@diehlpk  I just forgot to hit "publish." [This](https://zenodo.org/record/4068564#.X3yie5opB2U) looks better.

[2020-10-06 17:04] mbobra commented on #2719
@whedon assign @mancellin as reviewer

[2020-10-06 17:04] whedon commented on #2719
OK, @mancellin is now a reviewer

[2020-10-06 17:09] diehlpk commented on #2599
@whedon set 10.5281/zenodo.4068564 as archive

[2020-10-06 17:09] whedon commented on #2599
OK. <a href="https://doi.org/10.5281/zenodo.4068564" target="_blank">10.5281/zenodo.4068564</a> is the archive.

[2020-10-06 17:09] diehlpk commented on #2599
@whedon generate pdf

[2020-10-06 17:10] whedon commented on #2599
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02599/joss.02599/10.21105.joss.02599.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02599/joss.02599/10.21105.joss.02599.pdf) :page_facing_up: :point_left:

[2020-10-06 17:11] diehlpk commented on #2599
@tbrown122387 Please check the latest proof of the PDF.

[2020-10-06 17:11] diehlpk commented on #2599
@whedon accept

[2020-10-06 17:11] whedon commented on #2599
[code]

[2020-10-06 17:12] whedon commented on #2599
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1784

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1784, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-06 17:13] diehlpk commented on #2599
@tbrown122387 Congratulations to the acceptance of the paper. @ziotom78 and @andremrsantos thanks again for your reviews.

[2020-10-06 17:17] tbrown122387 commented on #2599
Terrific news! Thanks again everyone @diehlpk @ziotom78 @andremrsantos I'm very appreciative of all your time, and thank you for making this software better and helping it to reach more people!

[2020-10-06 17:17] richardjgowers commented on #2277
@labarba yeah I'm happy on using 2 reviewers here.  I was waiting on reviewer comments here: https://github.com/BrkRaw/bruker/issues/22 to get addressed by the authors (@dvm-shlee)

[2020-10-06 17:18] richardjgowers commented on #2576
@govarguz can you check the changes that the authors have made and update your review please?

[2020-10-06 17:35] sara-02 commented on #2507
Hey @xillig  I am almost done with my review as well, will add the final points in a day or two. Sorry this got delayed.

[2020-10-06 17:43] amandadumi commented on #2576
I wanted to add to this thread that https://github.com/WelbornGroup/ELECTRIC/issues/25 reviews the code within the ELECTRIC project. I plan on going through the mdi-ef code this evening. The simplification of mdi-ef being hosted by MolSSI is great, easier for users to open issues that pertain to the MDI changes specifically and hopefully easier for this authors to maintain as they work toward inte

[2020-10-06 17:50] callahantiff commented on #2587
Hi @majensen - Thanks for the invitation to review (thanks for recommending me @balhoff). I feel horrible to decline given that it looks like it's been hard to find reviewers, but I am also currently slammed (have 5 reviews due this week) ☹️

I do have a few other people in mind that I think would be very qualified to review this work: @bill-baumgartner, @jmbanda, @mboguslav, @KevinBretonnelCohen,

[2020-10-06 17:57] majensen commented on #2587
Thanks @callahantiff for your response and suggestions! Any of those mentioned, can you ping back on this thread if you are willing to review?

[2020-10-06 18:27] fboehm commented on #2402
Thank you, @tomsing1 and @anwarbio !

[2020-10-06 18:28] fboehm commented on #2402
@whedon generate pdf

[2020-10-06 18:28] whedon commented on #2402
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02402/joss.02402/10.21105.joss.02402.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02402/joss.02402/10.21105.joss.02402.pdf) :page_facing_up: :point_left:

[2020-10-06 18:33] fboehm commented on #2402
@whedon check references

[2020-10-06 18:33] whedon commented on #2402
[code]

[2020-10-06 18:34] fboehm commented on #2402
@anwarbio - whedon suggests that NBK144065 is an invalid doi. Can you double-check this doi?

[2020-10-06 18:52] JolleJolles commented on #2584
@marcosvital v3.2.0 is indeed the last release and it is available on Zenodo (https://zenodo.org/record/4058628#.X3y8vZMzZoA)
Thanks

[2020-10-06 19:07] lootie commented on #2463
@VivianePons perhaps @daviddewhurst and @felixcremer have unsubscribed to notifications from this thread?

[2020-10-06 19:22] bill-baumgartner commented on #2587
Hi @majensen - I'm willing to review this work. Please let me know next steps at your convenience. Thanks - Bill

[2020-10-06 19:35] vrx- commented on #2631
Hi. I've been holding comments while this resolves, so please let me know if the paper is being withdrawn, and we are stoping the review process, or if I should continue.

[2020-10-06 19:37] marcosvital commented on #2584
@whedon set 10.5281/zenodo.4058628 as archive

[2020-10-06 19:37] whedon commented on #2584
OK. <a href="https://doi.org/10.5281/zenodo.4058628" target="_blank">10.5281/zenodo.4058628</a> is the archive.

[2020-10-06 19:37] marcosvital commented on #2584
@whedon accept

[2020-10-06 19:37] whedon commented on #2584
[code]

[2020-10-06 19:38] whedon commented on #2584
[code]

[2020-10-06 19:38] whedon commented on #2584
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1785

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1785, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-06 19:42] rabernat commented on #2631
Sorry for the delay, and thanks for everyone's patience.

Yes, we have decided to withdraw the paper. I'm **extremely grateful** for the time you have spent on this, and I **apologize deeply and sincerely** for not seeing this glaring problem _before_ submitting our paper. The reviewers' time was definitely not wasted from my point of view, as the comments have already led to considerably improvem

[2020-10-06 19:42] #2631 closed

[2020-10-06 20:13] kthyng commented on #2631
@whedon withdraw

[2020-10-06 20:13] whedon commented on #2631
Paper withdrawn.

[2020-10-06 20:18] Kevin-Mattheus-Moerman commented on #2718
@whedon add @DARSakthi as reviewer

[2020-10-06 20:18] whedon commented on #2718
OK, @DARSakthi is now a reviewer

[2020-10-06 20:43] dmbates commented on #2598
I have finished my review also.

[2020-10-06 20:53] majensen commented on #2587
@bill-baumgartner thanks very much! I will add you as a reviewer now (via our @whedon bot). Once I get a second vic...volunteer, then we will be able to start the review. That will come up as a new GitHub issue. I will shepherd everyone duly.

[2020-10-06 20:54] majensen commented on #2587
@whedon assign @bill-baumgartner as reviewer

[2020-10-06 20:54] whedon commented on #2587
OK, @bill-baumgartner is now a reviewer

[2020-10-06 21:05] AlexMikes commented on #2362
I suggest @moorepants and @galessiorob as potential reviewers

[2020-10-06 21:33] anwarbio commented on #2402
@fboehm - This is a eBook reference and do not have a doi. Reference is now corrected

[2020-10-06 21:59] rmjarvis commented on #2538
I like the changes to the paper.  The new examples gave me a much better feel for the potential uses of the software.  And I'm satisfied with the updates to the documentation and examples.
On my system, `make banana` still had trouble with CCfits, but that's probably some kind of versioning issue, since I used conda rather than brew -- I'm happy to assume that the recommended brew installation wou

[2020-10-06 23:17] nhejazi commented on #2447
Thanks, @marcosvital! I think the requested modifications are good points, and I've added both a very short introductory statement and a statement of need similar to those appearing in the examples. Please note that this package provides access to very sophisticated statistical methodology, so I'm not sure that I can write a more general introduction than the one now available.

[2020-10-06 23:17] nhejazi commented on #2447
@whedon generate pdf

[2020-10-06 23:17] whedon commented on #2447
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02447/joss.02447/10.21105.joss.02447.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02447/joss.02447/10.21105.joss.02447.pdf) :page_facing_up: :point_left:

[2020-10-06 23:26] nhejazi commented on #2447
This version also LGTM. Please let me know of any further corrections/recommendations, @marcosvital.

[2020-10-06 23:29] jgostick commented on #2725
@whedon assign @jgostick as editor

[2020-10-06 23:29] whedon commented on #2725
OK, the editor is @jgostick

[2020-10-06 23:29] marcosvital commented on #2447
Looks great to me, @nhejazi, so let's proceed. You will need to archive the last release of the package (on Zenodo, figshare, or other) if you already didn't do this. After that, just let me know the archive DOI. Once this is done, we'll be ready to publish.

[2020-10-07 00:26] nhejazi commented on #2447
Great! Thanks for the quick confirmation @marcosvital. I've created a new release at https://github.com/nhejazi/txshift/releases/tag/v0.3.4-joss and a Zenodo archive of that release at https://zenodo.org/record/4070043. The DOI for that release is 10.5281/zenodo.4070043.

[2020-10-07 00:29] marcosvital commented on #2447
@whedon set 10.5281/zenodo.4070043 as archive

[2020-10-07 00:29] whedon commented on #2447
OK. <a href="https://doi.org/10.5281/zenodo.4070043" target="_blank">10.5281/zenodo.4070043</a> is the archive.

[2020-10-07 00:30] marcosvital commented on #2447
@whedon set v0.3.4-joss as version

[2020-10-07 00:30] whedon commented on #2447
OK. v0.3.4-joss is the version.

[2020-10-07 00:31] marcosvital commented on #2447
@whedon accept

[2020-10-07 00:31] whedon commented on #2447
[code]

[2020-10-07 00:31] whedon commented on #2447
[code]

[2020-10-07 00:32] whedon commented on #2447
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1786

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1786, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-07 00:36] govarguz commented on #2576
@richardjgowers, ELECTRIC is ready for publication at JOSS

[2020-10-07 03:11] tbrown122387 commented on #2599
Sorry to noticing just now, but there are a couple of typos that I might have fixed too late. Some were from before but might not have gotten picked up, and some are from just now. See my most recent commit https://github.com/tbrown122387/pf/commit/e5f9366480510d46fe1a880c818b314c8cdfa73b

[2020-10-07 03:16] majensen commented on #1942
@kthyng thanks for checking in. Things have started to proceed over at https://github.com/benjaminbolling/DynaGUI/issues/3#issuecomment-704386598

[2020-10-07 05:57] hugoledoux commented on #2538
@whedon generate pdf from branch joss

[2020-10-07 05:57] whedon commented on #2538
[code]

[2020-10-07 05:57] whedon commented on #2538
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02538/joss.02538/10.21105.joss.02538.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02538/joss.02538/10.21105.joss.02538.pdf) :page_facing_up: :point_left:

[2020-10-07 06:00] hugoledoux commented on #2538
@whedon check references

[2020-10-07 06:14] hugoledoux commented on #2538
@whedon check references from branch joss

[2020-10-07 06:14] whedon commented on #2538
[code]

[2020-10-07 06:29] hugoledoux commented on #2538
@whedon check references

[2020-10-07 06:36] csoneson commented on #2440
@neuromusic, please update us on the status of the remaining issues. If you don't have time to work on this now, let us know and we'll pause this submission.

[2020-10-07 06:43] hugoledoux commented on #2538
Aaaannd we're reaching the end of this review, many thanks @kenohori and @rmjarvis for the very detailed review and tips and tests, I think this review shows how JOSS helps improve code/docs.

@skapfer I am happy to accept the paper, but there are a few things to fix before

First I made pull request for a few cosmetic changes: https://github.com/morphometry/papaya2/pull/19 . The references automa

[2020-10-07 07:53] arfon commented on #2362
@gkthiruvathukal if at all possible we should avoid asking JOSS editors to review (@trallard and @galessiorob) as they're already busy with other JOSS work.

[2020-10-07 07:55] moorepants commented on #2362
I'm currently reviewing another JOSS paper. Once that is done I can likely take on future ones. So I decline.

[2020-10-07 08:32] Christopher-Khan commented on #2644
Hi @sjpfenninger. I was just following up. Was there anything else on my end that you needed me to do regarding the submission or the Zenodo archive? Thank you!

[2020-10-07 09:16] meg-simula commented on #2682
@mscroggs Great, nicely done. Would you happen to have any suggestions for reviewers?

[2020-10-07 11:03] skapfer commented on #2538
We're excited to see this move forward :partying_face:

I've archived the current state of things (as of the end of the review process) aka git tag 2020-10-07 on Zenodo with DOI

    10.5281/zenodo.4071544

It now lives here: https://zenodo.org/record/4071544

We're thinking of 'Irreducible Minkowski Tensors' (IMTs for short) as a proper name, which is why we titlecased it. If that is not possible

[2020-10-07 11:03] skapfer commented on #2538
@whedon generate pdf from branch joss

[2020-10-07 11:03] whedon commented on #2538
[code]

[2020-10-07 11:04] whedon commented on #2538
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02538/joss.02538/10.21105.joss.02538.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02538/joss.02538/10.21105.joss.02538.pdf) :page_facing_up: :point_left:

[2020-10-07 11:06] skapfer commented on #2538
Slight adjustment to the acknowledgments since we're postponing Morphometer to a separate paper. Proof looks good :-)

[2020-10-07 12:10] rougier commented on #2674
Sure, here is is: https://github.com/alexrockhill/pd-parser/issues/1. And I realized my second post was not not posted.

[2020-10-07 12:55] mscroggs commented on #2682
mikaem and sebastkm could be good fits for reviewers.

(We should avoid jorgensd, IgorBaratta, chrisrichardson and garth-wells as I'm currently working closely with them.)

[2020-10-07 13:22] gkthiruvathukal commented on #2362
@arfon I agree 100%. I'll try the other suggestion.

[2020-10-07 13:27] gkthiruvathukal commented on #2362
It looks like @galessiorob is also a member of joss-editors. So we might need a few more suggestions, @AlexMikes. We'll get there soon, I hope!

[2020-10-07 13:39] majensen commented on #2587
Thanks to my colleague @bensonml who happens to be a NLP expert and a great programmer, we can do this thing!

[2020-10-07 13:39] majensen commented on #2587
@whedon add @bensonml as reviewer

[2020-10-07 13:40] whedon commented on #2587
OK, @bensonml is now a reviewer

[2020-10-07 13:40] majensen commented on #2587
@whedon start review

[2020-10-07 13:40] whedon opened #2726 "[REVIEW]: PINE: An open source collaborative text annotation tool"
**Submitting author:** @brantapl (<a href="http://orcid.org/0000-0002-6174-4201">Brant Chee</a>)
**Repository:** <a href="https://github.com/jhuapl/PINE" target ="_blank">https://github.com/jhuapl/PINE</a>
**Version:** v1.0
**Editor:** @majensen
**Reviewer:** @bill-baumgartner, @bensonml
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19

[2020-10-07 13:40] whedon commented on #2587
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2726.

[2020-10-07 13:40] #2587 closed

[2020-10-07 13:40] whedon commented on #2726
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @bill-baumgartner, @bensonml it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](

[2020-10-07 13:40] whedon commented on #2726
PDF failed to compile for issue #2726 with the following error:

 Can't find any papers to compile :-(

[2020-10-07 13:41] majensen commented on #2587
All, the review has begun in #2726 - please join the conversation there. Thanks

[2020-10-07 13:42] sayanddude commented on #2278
Hi @dfm , Hope you are doing great! We just wanted to check with you (out of curiosity) as we were wondering if it's possible to remove the "pending-major-enhancements" label from this thread given that we have already addressed almost all the comments of the reviewers.
Thanks and Regards,
Sayan

[2020-10-07 13:45] majensen commented on #2726
@whedon generate pdf from branch JOSS

[2020-10-07 13:45] whedon commented on #2726
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02726/joss.02726/10.21105.joss.02726.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02726/joss.02726/10.21105.joss.02726.pdf) :page_facing_up: :point_left:

[2020-10-07 13:45] dfm commented on #2278
Thanks for checking in! I'm not going to remove that label until have found another reviewer and they have had a chance to go through the checklist. I'm sorry that it's taking so long, but it continues to be hard to find someone who is qualified and available. I'll definitely keep you posted! Thanks for your patience.

[2020-10-07 13:50] majensen commented on #2726
@bill-baumgartner @bensonml - your TL;DR:
* Your review checklists are at the top of the issue
* PDF of draft paper is [here](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02726/joss.02726/10.21105.joss.02726.pdf)
* The software is in [this repo](https://github.com/jhuapl/PINE)
* Make comments for improvements in this issue. It is a conversation with the author; goal is to improv

[2020-10-07 13:54] sayanddude commented on #2278
Ok sure! Thanks!

[2020-10-07 13:54] hemanthpruthvi commented on #2693
Hi, I have replied to the comment.

[2020-10-07 13:55] brantapl commented on #2726
Thanks everyone! I had trouble nominating anyone who could install this.

[2020-10-07 13:57] amandadumi commented on #2576
The ELECTRIC project and the MDI-enabled Tinker look great. The authors have addressed any concerns and I agree that ELECTRIC is ready for publication at JOSS!

[2020-10-07 14:08] Kevin-Mattheus-Moerman commented on #2718
@whedon start review

[2020-10-07 14:09] whedon opened #2727 "[REVIEW]: PyQMRI: An accelerated Python based Quantitative MRI Python toolbox"
**Submitting author:** @maieroli2010 (<a href="http://orcid.org/0000-0002-7800-0022">Oliver Maier</a>)
**Repository:** <a href="https://github.com/IMTtugraz/PyQMRI" target ="_blank">https://github.com/IMTtugraz/PyQMRI</a>
**Version:** v1.0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @grlee77, @agahkarakuzu, @DARSakthi
**Archive:** <a href="https://doi.org/10.5281/zenodo.4313301" target="_b

[2020-10-07 14:09] whedon commented on #2718
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2727.

[2020-10-07 14:09] #2718 closed

[2020-10-07 14:09] whedon commented on #2727
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @grlee77, @ @agahkarakuzu, @DARSakthi it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our bl

[2020-10-07 14:09] whedon commented on #2727
PDF failed to compile for issue #2727 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - e1e19e2b7e83c454b0cb0797 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-d14a69

[2020-10-07 14:10] Kevin-Mattheus-Moerman commented on #2727
@whedon generate pdf from branch joss-paper

[2020-10-07 14:10] whedon commented on #2727
[code]

[2020-10-07 14:10] whedon commented on #2727
PDF failed to compile for issue #2727 with the following error:

 sh: 1: cd: can't cd to 09e65fba2022502e74700760
/app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - 09e65fba2022502e74700760 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/ven

[2020-10-07 14:13] thejohnhoffer commented on #2579
I'd like to mention that to resolve [issues with ruby dependencies](https://github.com/labsyspharm/minerva-story/issues/63), we have updated the manuscript and the Minerva Story repository to no longer require the use of Jekyll (or Ruby).

[2020-10-07 14:15] Kevin-Mattheus-Moerman commented on #2727
@whedon generate pdf from branch JOSS_pub

[2020-10-07 14:15] whedon commented on #2727
[code]

[2020-10-07 14:16] whedon commented on #2727
PDF failed to compile for issue #2727 with the following error:

 pandoc-citeproc: reference agahkarakuzu not found
Error producing PDF.
! TeX capacity exceeded, sorry [input stack size=5000].
\reserved@a ->\def \reserved@a
                               *{\let \@xs@assign \@xs@expand@and@detokenize...
l.336 }

Looks like we failed to compile the PDF

[2020-10-07 14:18] Kevin-Mattheus-Moerman commented on #2727
@MaierOli2010 can you check :point_up: that reference?

[2020-10-07 14:21] MaierOli2010 commented on #2727
agahkarakuzu should be the git name of one of the reviewers. I do not have any reference that could conatin that name though (just checked the paper.bib file).

[2020-10-07 14:30] fboehm commented on #2402
@whedon check references

[2020-10-07 14:31] whedon commented on #2402
[code]

[2020-10-07 14:35] fboehm commented on #2402
@whedon generate pdf

[2020-10-07 14:36] whedon commented on #2402
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02402/joss.02402/10.21105.joss.02402.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02402/joss.02402/10.21105.joss.02402.pdf) :page_facing_up: :point_left:

[2020-10-07 14:49] danielskatz commented on #2651
@mcguinlu asked me to reopen this so that he could further discuss it with @arfon and the JOSS team, so I am doing so

[2020-10-07 15:00] mcguinlu commented on #2651
Thanks @danielskatz!

Also just flagging this to @maelle, as I know she has done a lot of work recently on updating the rOpenSci dev guide, and I agree with @arfon's point above that it might be useful to have clear guidelines on the types of rOpenSci packages that are considered out of scope by JOSS included in the rOpenSci dev guide.

[2020-10-07 15:05] Kevin-Mattheus-Moerman commented on #2727
@openjournals/dev @arfon have a look at this issue :point_up:, it looks like when I assigned agahkarakuzu as reviewer over at https://github.com/openjournals/joss-reviews/issues/2718 they got a double `@` in their assigned name, see also at the top of this issue. Looks like that might be causing this.
How will I fix this? Will I remove `@ @agahkarakuzu`, and add `@agahkarakuzu` as reviewer again?

[2020-10-07 15:08] davidhassell commented on #2717
Dear @clynnes, many thanks for your review.

[2020-10-07 15:11] jmuhlich commented on #2579
@whedon generate pdf

[2020-10-07 15:12] whedon commented on #2579
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02579/joss.02579/10.21105.joss.02579.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02579/joss.02579/10.21105.joss.02579.pdf) :page_facing_up: :point_left:

[2020-10-07 15:28] rcarragh commented on #2706
I have made some changes to address issues raised above: rcarragh/c212#1, rcarragh/c212#2. rcarragh/c212#3, rcarragh/c212#4.

[2020-10-07 15:39] anwarbio commented on #2402
@fboehm -  I have fixed this by removing the word "Journal Article".
Also I have double checked all the dois hyperlink. I can confirm you that all of them are working and directing to correct article.
Thanks

[2020-10-07 15:57] arfon commented on #2727
@whedon generate pdf from branch JOSS_pub

[2020-10-07 15:57] whedon commented on #2727
[code]

[2020-10-07 15:57] arfon commented on #2727
@Kevin-Mattheus-Moerman - I just edited the issue manually.

[2020-10-07 15:58] whedon commented on #2727
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02727/joss.02727/10.21105.joss.02727.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02727/joss.02727/10.21105.joss.02727.pdf) :page_facing_up: :point_left:

[2020-10-07 16:02] waxlamp commented on #2410
Definitely. The team is working on fixing some typos (no changes to content) and once that's ready, I will take care of this. Thank you!

[2020-10-07 16:07] fboehm commented on #2402
@whedon generate pdf

[2020-10-07 16:07] whedon commented on #2402
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02402/joss.02402/10.21105.joss.02402.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02402/joss.02402/10.21105.joss.02402.pdf) :page_facing_up: :point_left:

[2020-10-07 16:40] fboehm commented on #2402
@whedon generate pdf

[2020-10-07 16:41] whedon commented on #2402
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02402/joss.02402/10.21105.joss.02402.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02402/joss.02402/10.21105.joss.02402.pdf) :page_facing_up: :point_left:

[2020-10-07 16:46] pibion commented on #2694
@whedon re-invite @sigven as reviewer

[2020-10-07 16:46] whedon commented on #2694
OK, the reviewer has been re-invited.

@sigven please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-10-07 16:47] pibion commented on #2694
@sigven you'll need to accept the invitation at the link above.

[2020-10-07 16:55] Nico-Curti commented on #2663
Hi @DanielLenz
We worked on your issues, trying to address all of your points.

We don't have a MacOS machine available in any sort and we aren't experts on this system. We have tried to solve the issue using the travis CI but unfortunately we haven't found any patch. If someone else have any suggestion please let us know.

The hyperlinks don't work on the online version of the paper as displayed

[2020-10-07 16:57] Nico-Curti commented on #2663
Hi @arokem ,
With the latest commits we think we have answered all the issues raised by the reviewers.
We will wait for some feedback.

[2020-10-07 17:19] karthik commented on #2651
Thanks @mcguinlu. We have started a discussion to update the dev guide so it clearly reflects what might be out of scope for JOSS.

[2020-10-07 17:44] anwarbio commented on #2402
@fboehm - Figures are now corrected. Thanks

[2020-10-07 18:08] fboehm commented on #2402
@whedon generate pdf

[2020-10-07 18:09] whedon commented on #2402
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02402/joss.02402/10.21105.joss.02402.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02402/joss.02402/10.21105.joss.02402.pdf) :page_facing_up: :point_left:

[2020-10-07 18:14] fboehm commented on #2402
@anwarbio - the reviewers have recommended your submission for publication. Before we accept it, I need you to make an archive and a Github tagged release. Once you do that, please comment here with the doi of the archive and the version number for the tagged release. Please double-check that the archive has the same author and same title as your submission.

[2020-10-07 18:30] diehlpk commented on #2599
You still can update typos in the paper. However, the typos will remain in the release.

[2020-10-07 20:53] lorenanicole commented on #2220
Greetings @alexdma just checking in to see if you needed help with the above?

[2020-10-07 20:54] lorenanicole commented on #2530
@onurvarol did you happen to have from your list of reviewers and explicit names to target? Since we have such a large list I wonder if we'd have better success by strategically reaching out to folks that you can shortlist for us.

[2020-10-07 20:55] kthyng commented on #2724
@ethanwhite Thank you for including that information! We'll use it as part of our decision-making.

[2020-10-07 21:00] onurvarol commented on #2530
@lorenanicole earlier I listed a larger list of potential reviewers but we only tried to reach out couple of them. Please help me invite from the list below, they are all have relevant experience and interest on this project.

felixhenninger, davekinkead, Andytwoods, mbod, adammichaelwood, tresoldi

[2020-10-07 21:00] kthyng commented on #2584
Hi @JolleJolles! I will help you through the rest of the publishing process. First, please edit the metadata for your Zenodo archive so that the title and author list exactly match your JOSS paper.

[2020-10-07 21:04] kthyng commented on #2584
Paper looks good, and I see that the version is up to date!

[2020-10-07 21:06] kthyng commented on #2725
Thank you for the information @Kokookster!

And thanks to @jgostick for volunteering as editor.

[2020-10-07 21:14] lorenanicole commented on #2530
Thanks @onurvarol that sounds great!

[2020-10-07 21:17] lorenanicole commented on #2530
@adammichaelwood & @davekinkead would you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-10-07 21:18] kthyng commented on #2447
Ok I have looked through and I see that the version is up to date, the zenodo archive exists and metadata matches the paper, and the paper reads through ok enough. We can proceed.

[2020-10-07 21:18] kthyng commented on #2447
@whedon accept deposit=true

[2020-10-07 21:18] whedon commented on #2447
[code]

[2020-10-07 21:19] whedon commented on #2447
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1313952134954708995) 👈 🐦🐦🐦

[2020-10-07 21:19] whedon commented on #2447
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1787
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02447](https://doi.org/10.21105/joss.02447)
2. If everything looks g

[2020-10-07 21:21] kthyng commented on #2447
Congrats @nhejazi!

Thanks so much to editor @marcosvital and reviewers @klmedeiros and @joethorley for your time, hard work, and expertise. We couldn't do this process without you!

(I will close this issue once the doi resolves)

[2020-10-07 21:24] alexdma commented on #2220
@lorenanicole thanks, but much as I may go over the guidelines, I cannot find in them the answer to my fundamental question.

_Where do I find the review page with the checklist that I have to fill?_

Here? I don't see the space to enter the review
On a new issue of this project? If I try to open one here, I get an automated message saying I must not create issues here.
I open an issue on the main

[2020-10-07 21:27] lorenanicole commented on #2220
@alexdma your review will have on a separate GitHub issues upon confirming your intent to review, basically all I need is a "yes I will review" from you. Then we'll use our JOSS tooling to open the review issue for your work to start! An example of a review issue is here: https://github.com/openjournals/joss-reviews/issues/2727.

Does that help answer your question?

[2020-10-07 21:27] kthyng commented on #2599
Version is up to date, and zenodo archive metadata looks good!

The paper looks good, except for the references, which have lost capitalization. @tbrown122387 can you go through your reference list in detail to preserve capitalization? You can do this by placing {} around the words in the .bib file that have capitalization that is not being preserved. {Markov} and {Monte Carlo} are what I've seen

[2020-10-07 21:28] #2447 closed

[2020-10-07 21:28] whedon commented on #2447
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02447/status.svg)](https://doi.org/10.21105/joss.02447)

**We need your help!**

Journal of Open Source Softwa

[2020-10-07 21:29] whedon opened #2728 "[PRE REVIEW]: OpenSCM Two Layer Model: A Python implementation of the two-layer climate model"
**Submitting author:** @znicholls (<a href="http://orcid.org/0000-0002-4767-2723">Zebedee Nicholls</a>)
**Repository:** <a href="https://github.com/openscm/openscm-twolayermodel" target ="_blank">https://github.com/openscm/openscm-twolayermodel</a>
**Version:** v0.1.2
**Editor:** @leouieda
**Reviewers:** @sadielbartholomew, @ashiklom
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced servic

[2020-10-07 21:29] whedon commented on #2728
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-07 21:29] whedon opened #2729 "[PRE REVIEW]: (py)oscode: fast solutions of oscillatory ODEs"
**Submitting author:** @fruzsinaagocs (<a href="http://orcid.org/0000-0002-1763-5884">Fruzsina Julia Agocs</a>)
**Repository:** <a href="https://github.com/fruzsinaagocs/oscode" target ="_blank">https://github.com/fruzsinaagocs/oscode</a>
**Version:** v1.0.0
**Editor:** @melissawm
**Reviewers:** @jakryd, @dlfivefifty
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:*

[2020-10-07 21:29] whedon commented on #2729
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-07 21:29] whedon opened #2730 "[PRE REVIEW]: CoPro: a data-driven model for conflict risk projections"
**Submitting author:** @JannisHoch (<a href="http://orcid.org/0000-0003-3570-6436">Jannis Hoch</a>)
**Repository:** <a href="https://github.com/JannisHoch/copro" target ="_blank">https://github.com/JannisHoch/copro</a>
**Version:** v0.0.5
**Editor:** @sbenthall
**Reviewers:** @soodoku, @sbenthall
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challen

[2020-10-07 21:29] whedon commented on #2730
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-07 21:30] alexdma commented on #2220
I see. Yes, of course I will review: I had assumed my intent was known since I had originally confirmed it by email, and was stuck looking for the place to get started. Sorry for the misunderstanding.

[2020-10-07 21:32] adammichaelwood commented on #2530
I do not have capacity for that at this time.

On Wed, Oct 7, 2020, 2:17 PM Lorena Mesa <notifications@github.com> wrote:

[2020-10-07 21:34] lorenanicole commented on #2220
No worries whatsoever @alexdma! I appreciate the prompt feedback!

[2020-10-07 21:35] lorenanicole commented on #2220
@whedon add @alexdma as reviewer

[2020-10-07 21:35] whedon commented on #2220
OK, @alexdma is now a reviewer

[2020-10-07 21:36] lorenanicole commented on #2220
@whedon start review

[2020-10-07 21:36] whedon opened #2731 "[REVIEW]: GRLC - the Git Repository Linked data api Constructor"
**Submitting author:** @c-martinez (<a href="http://orcid.org/0000-0001-5565-7577">Carlos Martinez-Ortiz</a>)
**Repository:** <a href="https://github.com/CLARIAH/grlc" target ="_blank">https://github.com/CLARIAH/grlc</a>
**Version:** v1.3.7
**Editor:** @arfon
**Reviewer:** @essepuntato, @alexdma
**Archive:** <a href="https://doi.org/10.5281/zenodo.5644276" target="_blank">10.5281/zenodo.5644276</a

[2020-10-07 21:36] whedon commented on #2220
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2731.

[2020-10-07 21:36] #2220 closed

[2020-10-07 21:36] whedon commented on #2731
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @essepuntato, @alexdma it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2020-10-07 21:37] lorenanicole commented on #2220
Yay! @alexdma @essepuntato we are as the above states ☝️ moving review over to #2731. @c-martinez we'll be in touch as needed.

[2020-10-07 21:38] sigven commented on #2694
@pibion Thanks! Checkboxes work finally now.

[2020-10-07 21:47] znicholls commented on #2728
Looking through the list, these people list climate or atmospheric science as areas so could be willing

- DamienIrving
- jtmiclat
- ritwikagarwal
- koldunovn
- eviatarbach
- arbennett
- bradyrx
- OmarShehata
- marvinjonathcn
- rchg
- andreas-h
- dhhagan
- josephhardinee
- ashwinvis
- ali-ramadhan
- rchg
- capitalaslash
- slayoo
- simonom
- rabernat
- sadielbartholomew
- sarats

[2020-10-07 21:55] znicholls commented on #2728
To the editors, I've just read the [review criteria](https://joss.readthedocs.io/en/latest/review_criteria.html#substantial-scholarly-effort) properly. Apologies that I missed the description of effort! I am very happy to close this request if it appears to be out of scope because of its limited size. Is it possible to reopen if/when we've been working on the implementation for more time and added

[2020-10-07 22:08] kthyng commented on #2728
@whedon check repository

[2020-10-07 22:08] kthyng commented on #2729
@whedon check repository

[2020-10-07 22:08] kthyng commented on #2730
@whedon check repository

[2020-10-07 22:53] sneakers-the-rat commented on #2670
may need an extra day or two but i am with ya

[2020-10-07 23:31] whedon commented on #2728
[code]

[2020-10-07 23:31] whedon commented on #2728
[code]

[2020-10-07 23:31] whedon commented on #2728
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02728/joss.02728/10.21105.joss.02728.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02728/joss.02728/10.21105.joss.02728.pdf) :page_facing_up: :point_left:

[2020-10-07 23:31] whedon commented on #2729
[code]

[2020-10-07 23:32] whedon commented on #2729
[code]

[2020-10-07 23:33] whedon commented on #2731
[code]

[2020-10-07 23:34] whedon commented on #2728
[code]

[2020-10-07 23:34] whedon commented on #2731
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02731/joss.02731/10.21105.joss.02731.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02731/joss.02731/10.21105.joss.02731.pdf) :page_facing_up: :point_left:

[2020-10-07 23:35] whedon commented on #2730
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02730/joss.02730/10.21105.joss.02730.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02730/joss.02730/10.21105.joss.02730.pdf) :page_facing_up: :point_left:

[2020-10-07 23:35] whedon commented on #2729
[code]

[2020-10-07 23:35] whedon commented on #2730
[code]

[2020-10-08 00:06] apalarcon commented on #2479
I suggest this reviewer Oscar Díaz Rodríguez oodr72@gmail.com

[2020-10-08 00:09] jdber1 commented on #2604
@whedon generate pdf

[2020-10-08 00:09] whedon commented on #2604
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02604/joss.02604/10.21105.joss.02604.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02604/joss.02604/10.21105.joss.02604.pdf) :page_facing_up: :point_left:

[2020-10-08 00:10] dhhagan commented on #2479
Hey @apalarcon I am waiting to hear back from a few others invited via email and will invite Oscar as well if needed. Thanks!

[2020-10-08 00:13] jdber1 commented on #2604
@whedon generate pdf

[2020-10-08 00:13] whedon commented on #2604
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02604/joss.02604/10.21105.joss.02604.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02604/joss.02604/10.21105.joss.02604.pdf) :page_facing_up: :point_left:

[2020-10-08 01:21] tbrown122387 commented on #2599
@kthyng okey dokey capitalization now matches titles.

[2020-10-08 04:50] davekinkead commented on #2530
@lorenanicole happy to review this

[2020-10-08 05:28] hugoledoux commented on #2538
If IMT is in the paper also then of course it's fine. Now "irreducible" is not capitalised in the paper! I'm good with anything, as long as consistent.

[2020-10-08 05:28] hugoledoux commented on #2538
@whedon check references

[2020-10-08 05:44] jdber1 commented on #2604
@rajeshrinet Thank you for your feedback. Here are the changes we have made based on your list:

The [docs](https://opendrop.readthedocs.io/en/latest/getting_started/index.html) has been updated to include the correct command.

I have included sample images for both surface tension and contact angle functionality in the [example_images](https://github.com/jdber1/opendrop/tree/master/example_images

[2020-10-08 06:34] c-martinez commented on #2220
Great -- thanks!

[2020-10-08 06:42] skapfer commented on #2538
@hugoledoux Good point. I've fixed capitalization the paper!

@whedon generate pdf from branch joss

[2020-10-08 07:33] JolleJolles commented on #2584
Hi @kthyng, I have updated the Zenodo archive. I hope it is okay now? Otherwise let me know what else I need to change. Thanks

[2020-10-08 07:52] gaelforget commented on #2713
Hi @Kevin-Mattheus-Moerman

A quick post to apologize for the delay in my response -- it's been a rather hectic week on on my end ...

If that's ok, let me start with

and then turn to the scope and scholarly effort aspects later today and tomorrow

[2020-10-08 07:57] sneakers-the-rat commented on #2670
nvm just finished <3

loved it! very straightforward to review, tool worked as expected and was quite intuitive. I made a few suggestions (wasn't sure where to put them) and raised a few issues but nothing that would prevent me from accepting the paper according to the checklist & claims in the paper.

Olivia let me know if i've messed anything up/need to do anything further. Katja & Roberto, than

[2020-10-08 08:00] oliviaguest commented on #2670
@sneakers-the-rat Amazing! Can you do me a favour and move what you wrote into a comment in the issue as opposed to into the OP? I'd prefer it if everything to-be-addressed was a comment here to make it easier to keep track of. ☺️

[2020-10-08 08:03] oliviaguest commented on #2670
PS: @sneakers-the-rat if you need examples/inspiration, check: #2285 and #2348. 🌼

[2020-10-08 08:19] sneakers-the-rat commented on #2670
gotcha, will clean up op in  1 sec. only copying things here where i've made a comment

tbc none of these are comments that i think are worthy of holding up the manuscript, very little touches that don't get in the way of the central function of the program

### General checks

- [x] **Contribution and authorship:** Has the submitting author (@katjaq) made major contributions to the software? Does

[2020-10-08 09:23] gaelforget commented on #2713
Below I outline the different types of functionality this work offers.

The [three_dimensional_ocean notebook](https://juliaclimate.github.io/IndividualDisplacements.jl/dev/worldwide/three_dimensional_ocean/) and [the corresponding animation](https://youtu.be/twAAE_WUs_g) additionally provide a representative example of these functionalities put to action.

[W.I.P.]

[2020-10-08 09:49] skapfer commented on #2538
@whedon generate pdf from branch joss

[2020-10-08 09:49] whedon commented on #2538
[code]

[2020-10-08 09:51] whedon commented on #2538
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02538/joss.02538/10.21105.joss.02538.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02538/joss.02538/10.21105.joss.02538.pdf) :page_facing_up: :point_left:

[2020-10-08 09:54] will-rowe commented on #2473
Hi @ramadatta. Many thanks for your thorough responses to the comments. In my opinion you have satisfied the reviewer comments. That being said, if @fmaguire or @boasvdp would like to give their thoughts on your responses, that would be most welcome.

I have a request and a question:

* Please could you add a specific **statement of need** section to the paper. I think you describe the need within

[2020-10-08 10:20] will-rowe commented on #2672
Dear @kuangmeng,

Unfortunately, after very thorough and fair reviews from @xyzmjf and @CFGrote, I don't think we can accept your paper for publication at JOSS at this point in time.

Although I can see the utility of the package, in its current form it does not meet our requirements for publication. As stated by the reviews, documentation is severely lacking and veracity of software cannot be est

[2020-10-08 10:21] will-rowe commented on #2672
@whedon query scope

[2020-10-08 10:21] whedon commented on #2672
Submission flagged for editorial review.

[2020-10-08 10:25] kaustubh-sadekar commented on #2533
Sure. No problem and thank you so much @mjsottile

[2020-10-08 11:28] oliviaguest commented on #2670
@sneakers-the-rat perfect! @katjaq let us know when you have checked these out and addressed them. ☺️

[2020-10-08 11:29] oliviaguest commented on #2670
@pauldmccarthy was this just one you missed out on accidentally?

[2020-10-08 11:49] pauldmccarthy commented on #2670
@oliviaguest, No, I wanted to re-read the article/docs before signing off on everything - planning to finish it off tonight!

[2020-10-08 12:10] fruzsinaagocs commented on #2729
Hi @kthyng  :wave:
The invalid DOI whedon discovered has been corrected.
I think the following people could potentially be reviewers:
- lgarrison
- danfortunato

From the volunteer list:
- harpolea
- danehkar
- fhorrobin
- rgmyr
- bhajay
- solanpaa
- ziotom78
- corentin-dev
- jakryd

[2020-10-08 12:41] arfon commented on #2418
@whedon check repository

[2020-10-08 12:41] whedon commented on #2418
Failed to discover a `Statement of need` section in paper

[2020-10-08 12:41] whedon commented on #2418
[code]

[2020-10-08 12:44] gkthiruvathukal commented on #2594
@sara-02 and @tresoldi, it looks like we are mostly good to go on this submission. Can you let us know if there are any other issues and check all remaining boxes in your review checklist as appropriate?

Then we can move toward acceptance.

[2020-10-08 13:06] tresoldi commented on #2594
@gkthiruvathukal We can move towards acceptance, for me. All boxes checked. :smiley:

[2020-10-08 13:25] Mmj94 commented on #2578
Thank you all so much for your patience and again thank you for all your comments and suggestions, I believe they have significantly improved the quality of this tool.

I believe I have addressed all the code comments with my last push to the `dev` branch. Please have a look at it and let me know if something else needs to be done for acceptance of the paper.

Once the checklists are completed reg

[2020-10-08 16:32] nwu63 commented on #2564
@matbesancon the issues you opened have been addressed, and I also pushed a minor update to the paper.

@poulson does JOSS require three reviewers? As far as I can tell @jgoldfar has not started his review yet.

[2020-10-08 16:40] lorenanicole commented on #2530
@felixhenninger, we're looking for one more editor for this JOSS submission! Would you be willing to review this?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-10-08 16:42] lorenanicole commented on #2530
@whedon invite @davekinkead as editor

[2020-10-08 16:42] whedon commented on #2530
I'm sorry @lorenanicole, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2020-10-08 16:43] lorenanicole commented on #2530
@whedon assign @davekinkead as reviewer

[2020-10-08 16:43] whedon commented on #2530
OK, @davekinkead is now a reviewer

[2020-10-08 16:43] lorenanicole commented on #2530
Great, @davekinkead! Once we have another reviewer confirmed, we'll open up a review issue for you!

[2020-10-08 16:46] prw99r commented on #2646
Got it - it works, I'm in!

On Tue, Oct 6, 2020 at 1:22 PM Daniel S. Katz <notifications@github.com>
wrote:

[2020-10-08 16:58] fboehm commented on #2716
@whedon list reviewers

[2020-10-08 16:58] whedon commented on #2716
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2020-10-08 17:38] rly commented on #2674
Hi @alexrockhill, I have reviewed your software and paper and created a few issues in your repo:
https://github.com/alexrockhill/pd-parser/issues/2
https://github.com/alexrockhill/pd-parser/issues/2
https://github.com/alexrockhill/pd-parser/issues/2

[2020-10-08 17:41] rly commented on #2674
Hi @alexrockhill, I have reviewed your software and paper. Overall, the software and paper look good. There were a few issues to address, as per the JOSS paper guidelines/rubric. I created a few issues in your repo:
https://github.com/alexrockhill/pd-parser/issues/2
https://github.com/alexrockhill/pd-parser/issues/3
https://github.com/alexrockhill/pd-parser/issues/4

Suggestions:
https://github.co

[2020-10-08 17:44] danielskatz commented on #2651
@mcguinlu  - we're going to process this in JOSS.

[2020-10-08 18:11] usethedata commented on #2717
@whedon check references

[2020-10-08 18:11] whedon commented on #2717
[code]

[2020-10-08 18:12] mathpluscode commented on #2705
@whedon check references

[2020-10-08 18:13] whedon commented on #2705
[code]

[2020-10-08 19:27] oliviaguest commented on #2670
@whedon generate pdf from branch joss-paper-branch

[2020-10-08 19:27] whedon commented on #2670
[code]

[2020-10-08 19:28] whedon commented on #2670
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02670/joss.02670/10.21105.joss.02670.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02670/joss.02670/10.21105.joss.02670.pdf) :page_facing_up: :point_left:

[2020-10-08 19:47] pauldmccarthy commented on #2670
Apart from a few minor issues and suggestions (listed below), I think this is a really neat piece of work!

There is just one point made in the manuscript which I would like clarification on:

I couldn't find any further mention of this point in the manuscript, nor in the source repository or app help. I presume the intent is that other tools (e.g. `fslroi`, `flirt`, etc - highlighting my bias tow

[2020-10-08 19:48] danielskatz commented on #2651
This package has been reviewed by rOpenSci: https://github.com/ropensci/software-review/issues/380

[2020-10-08 19:48] danielskatz commented on #2651
@whedon generate pdf

[2020-10-08 19:49] whedon commented on #2651
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02651/joss.02651/10.21105.joss.02651.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02651/joss.02651/10.21105.joss.02651.pdf) :page_facing_up: :point_left:

[2020-10-08 19:50] danielskatz commented on #2651
@whedon check references

[2020-10-08 19:50] whedon commented on #2651
[code]

[2020-10-08 19:58] pauldmccarthy commented on #2670
[addendum, after looking at the extremely comprehensive review by @sneakers-the-rat] indeed, it may be worth adding an overview somewhere in the help documentation (I don't think this belongs in the manuscript) about how to use the selection box/affine files "off-line", i.e. outside of the reorient web interface, in an automated pipeline.

Unfortunately there are substantial differences across the

[2020-10-08 20:01] danielskatz commented on #2651
@mcguinlu - can you merge https://github.com/ropensci/medrxivr/pull/12 or let me know what part of it you disagree with?

[2020-10-08 20:04] danielskatz commented on #2651
Also, is this code in zenodo or another archive?  If so, what is the DOI for it there?  In https://github.com/ropensci/software-review/issues/380#issuecomment-689011508 it looks like that item is checked off...

[2020-10-08 20:20] andyphilips commented on #2528
Hi @kthyng, thanks for this. We have now done the following:
* Updated metadata on Zenodo to match title and author order
* Fixed capitalization issues in the references
* Performed a substantial word cut. We are now at 1280 words, including references but not including figures and Eq 1. I've updated the .md accordingly

[2020-10-08 21:14] bensonml commented on #2726
Looks like something went awry - figure 1 is missing

[2020-10-08 21:25] mbobra commented on #2719
@whedon add @sibirrer as reviewer

[2020-10-08 21:25] whedon commented on #2719
OK, @sibirrer is now a reviewer

[2020-10-08 21:25] mbobra commented on #2719
@whedon start review

[2020-10-08 21:26] whedon opened #2732 "[REVIEW]: pfsspy: A Python package for potential field source surface modelling"
**Submitting author:** @dstansby (<a href="http://orcid.org/0000-0002-1365-1908">David Stansby</a>)
**Repository:** <a href="https://github.com/dstansby/pfsspy" target ="_blank">https://github.com/dstansby/pfsspy</a>
**Version:** v0.6.3
**Editor:** @mbobra
**Reviewer:** @mancellin, @sibirrer
**Archive:** <a href="https://doi.org/10.5281/zenodo.4118975" target="_blank">10.5281/zenodo.4118975</a>

*

[2020-10-08 21:26] whedon commented on #2719
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2732.

[2020-10-08 21:26] #2719 closed

[2020-10-08 21:26] whedon commented on #2732
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mancellin, @sibirrer it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2020-10-08 21:26] whedon commented on #2732
PDF failed to compile for issue #2732 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - d767e2c6b691b6c3aa4357b1 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-d14a69

[2020-10-08 21:27] mbobra commented on #2732
@whedon generate pdf from branch joss-paper

[2020-10-08 21:27] whedon commented on #2732
[code]

[2020-10-08 21:27] whedon commented on #2732
PDF failed to compile for issue #2732 with the following error:

 sh: 1: cd: can't cd to cf7fcbd881a9f5f14b0840c0
/app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - cf7fcbd881a9f5f14b0840c0 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/ven

[2020-10-08 21:48] mbobra commented on #2732
@openjournals/joss-eics Why isn't the pdf compiling properly from branch joss-paper? (It worked correctly in the pre-review).

[2020-10-08 21:56] mbobra commented on #2732
👋 @mancellin @sibirrer Thank you so much for agreeing to review this submission! Whedon generated your reviewer checklists above. If you'd like more information on any of these items, please reference the [review critera](https://joss.readthedocs.io/en/latest/review_criteria.html). Also, we encourage open communication between the reviewers, submitting author, and editor. So please feel free to as

[2020-10-08 22:04] trstewart212 commented on #2152
Please let me know what I am expected to do...

Trevor Stewart
175 West 13th Street, Apt 19D
New York, NY 10011
+1(212)929-0321
+1(917)402-9800 iPhone
trsny@verizon.net

On Sep 23, 2020, at 03:57, Koen Derks <notifications@github.com> wrote:

Dear @drvinceknight <https://github.com/drvinceknight>,

I am happy to let you know that we have found another reviewer for JASP for Audit. Ir. Ferry Geertma

[2020-10-08 22:21] drvinceknight commented on #2152
@fgeertman can I confirm that you're happy to act as a reviewer for this paper?

[2020-10-08 22:21] drvinceknight commented on #2152
Hi @trstewart212, we are close to starting now I hope and once that's the case I will let you know.

Thanks again to all for your patience.

[2020-10-08 22:23] rly commented on #2674
@alexrockhill has addressed all of my concerns and, in my view, has met all of the review criteria. I would be happy to discuss this paper with the other reviewers when they are ready.

[2020-10-09 00:28] usethedata commented on #2717
@whedon generate pdf

[2020-10-09 00:30] whedon commented on #2717
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02717/joss.02717/10.21105.joss.02717.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02717/joss.02717/10.21105.joss.02717.pdf) :page_facing_up: :point_left:

[2020-10-09 00:32] usethedata commented on #2717
@davidhassell I show 1.8.6 as the current version here and matching what's current in your repository.  If that's correct, then please go ahead and make a Zenodo archive of this current version and post the DOI here.  If you're doing an update of the version to reflect changes made in this review, then update your repository to show the current version, make a Zenodo archive of that.  Let me know

[2020-10-09 01:27] Xunius commented on #2407
@whedon generate pdf

@sadielbartholomew @kbarnhart I've just updated the JOSS.md structure to add a opening "Background" section as suggested.

[2020-10-09 01:28] whedon commented on #2407
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02407/joss.02407/10.21105.joss.02407.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02407/joss.02407/10.21105.joss.02407.pdf) :page_facing_up: :point_left:

[2020-10-09 01:47] rabernat commented on #2407
I'm happy to approve this submission. Thanks @Xunius for all your hard work. We asked a lot! I think your package has come a long way.

[2020-10-09 01:58] majensen commented on #2726
@openjournals/dev - [pdf](https://github.com/openjournals/joss-papers/blob/joss.02726/joss.02726/10.21105.joss.02726.pdf) generated on a [custom branch](https://github.com/JHUAPL/PINE/tree/JOSS) is missing the rendering of figure "architecture.png". That file appears to be present in the directory containing paper.md in the branch. Can you advise? Thanks

[2020-10-09 02:28] nistara commented on #2630
@whedon generate pdf

[2020-10-09 02:29] whedon commented on #2630
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02630/joss.02630/10.21105.joss.02630.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02630/joss.02630/10.21105.joss.02630.pdf) :page_facing_up: :point_left:

[2020-10-09 03:05] majensen commented on #2643
@AngryMaciek please have a look at the suggestions in the PR (and assoc. comments).

I would also like to see an example run in the paper that exemplifies stochastic effects. One example might be to show that if an invading population is small enough, it can disappear frequently (i.e., among many replicate simulations) even if it uses an ESS. Probably (absolute guess) the fitness benefit has to ex

[2020-10-09 03:20] fmaguire commented on #2473
I've updated the checklist in light of the changes. Only minor issue is that when @ramadatta makes the explicit "statement of need" section in the paper it could do with being added to the README as well.

Apart from that, all good from my end, @ramadatta did a great job thoroughly addressing the comments. The tool and its documentation is much improved from their work.

[2020-10-09 03:26] adithirgis commented on #2630
Dear @mikldk,

I have completed my review process. Thanks again for inviting me to review.

Thanks @VincentAlcazer for the wonderful application. This is a really interesting and useful software!

Regards and Stay Safe
Adithi

[2020-10-09 03:28] ramadatta commented on #2473
Dear @will-rowe - thank you very much for your comment.

Thanks for providing the example paper for adding statement of need section in paper. We will edit our manuscript accordingly.

We do agree, it is very helpful for users to install of package through conda. In regards to this, we did try to package the [recipe](https://github.com/openjournals/joss-reviews/files/5352239/meta_yaml.txt). But fo

[2020-10-09 03:32] fmaguire commented on #2473
From the bioconda linter
(https://app.circleci.com/pipelines/github/bioconda/bioconda-recipes/31534/workflows/2aeaba6e-e261-4314-b570-17b5cb046873/jobs/120863),
the following seem to be the issues:

[code]

[2020-10-09 03:37] ramadatta commented on #2473
Dear @fmaguire - Thanks will look into this.

[2020-10-09 07:05] fgeertman commented on #2152
Hi,

Yes, you can confirm

Kind Regards,

Ferry

Ferry Geertman
Managing Director - KEY Group
Mobile:  +31 6 8379 0414
Email: ferry.geertman@key-group.nl<mailto:ferry.geertman@key-group.nl>
[cid:image013.png@01D0836B.EB3E4390]

From: Vince Knight [mailto:notifications@github.com]
Sent: Friday, October 9, 2020 12:22 AM
To: openjournals/joss-reviews
Cc: Ferry Geertman; Mention
Subject: Re: [openjour

[2020-10-09 07:24] oliviaguest commented on #2670
@sneakers-the-rat, @pauldmccarthy thank you both so much! Your reviews look very detailed and useful. Please, @katjaq tag me when you have had a chance to discuss and address these. ☺️

[2020-10-09 08:11] mcguinlu commented on #2651
Hi @danielskatz,

I've merged the changes you made in ropensci/medrxivr#12 into the main branch now. And the code for this package is archived by Zenodo. The Zenodo DOI is [10.5281/zenodo.3860023](https://doi.org/10.5281/zenodo.3860023)

[2020-10-09 08:28] gouarin commented on #2555
Hello @rclipp, @eloisabentivegna,

here is my review of the paper:

- There is a typo in the first paragraph: properites -> properties

- Links to the references don't work for me. Is it the same for you?

- Could you explain more precisely why your software is unique compared to others (Palabos, openLB, ...)? Because, for me, rather than the GPU implementation, they can offer what you offer.

- C

[2020-10-09 08:40] sadielbartholomew commented on #2407
I'm glad to hear there is a first approval. I am wary that this is now waiting on me so I will re-assess the checklist as soon as I can. I am quite busy until the weekend but I will try to complete the review on outstanding items by the end of this week. Thanks to all for their patience.

[2020-10-09 08:50] jni commented on #2578
Thanks for the update @Mmj94! Looking forward to the last few items being resolved and getting this in!

[2020-10-09 09:19] boasvdp commented on #2473
Hi @ramadatta, all issues have been addressed appropriately in my opinion. I have updated my checklist.

I agree adding this to bioconda would be great!

[2020-10-09 09:35] rougier commented on #2674
the two provided examples are now working properly on my machine. I think it would be nice to have these exampls tests alongside the pd_parser such that you can type `pd_parser.test()` to check everything's ok. And/or you could also have very simple unittests that would help you spotting discrepancies in the API. Apart from these minor points, I'm satisfied with the submission.

[2020-10-09 09:48] ramadatta commented on #2473
Dear @will-rowe @fmaguire - Thank you. We have now made the statement of purpose more explicit in the paper and documentation. Please kindly review our updated manuscript and [synopsis](https://github.com/ramadatta/CPgeneProfiler/blob/master/README.md#synopsis) section in documentation.

@fmaguire @boasvdp - I will restart working on conda packaging. Thank you for the advice.

[2020-10-09 09:48] drvinceknight commented on #2152
@whedon add @fgeertman as reviewer

[2020-10-09 09:49] whedon commented on #2152
OK, @fgeertman is now a reviewer

[2020-10-09 09:49] will-rowe commented on #2473
@whedon generate pdf

[2020-10-09 09:49] will-rowe commented on #2473
@whedon check references

[2020-10-09 09:50] whedon commented on #2473
[code]

[2020-10-09 09:50] whedon commented on #2473
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02473/joss.02473/10.21105.joss.02473.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02473/joss.02473/10.21105.joss.02473.pdf) :page_facing_up: :point_left:

[2020-10-09 09:51] drvinceknight commented on #2152
@whedon start review

[2020-10-09 09:51] whedon opened #2733 "[REVIEW]: JASP for Audit: Bayesian Tools for the Auditing Practice"
**Submitting author:** @koenderks (<a href="http://orcid.org/0000-0002-5533-9349">Koen Derks</a>)
**Repository:** <a href="https://github.com/koenderks/jaspAudit" target ="_blank">https://github.com/koenderks/jaspAudit</a>
**Version:** v0.16
**Editor:** @drvinceknight
**Reviewer:** @trstewart212 , @fgeertman
**Archive:** <a href="https://doi.org/10.5281/zenodo.5690283" target="_blank">10.5281/zeno

[2020-10-09 09:52] whedon commented on #2152
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2733.

[2020-10-09 09:52] #2152 closed

[2020-10-09 09:52] whedon commented on #2733
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @trstewart212 , @fgeertman it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](ht

[2020-10-09 09:53] will-rowe commented on #2473
Thanks @ramadatta - this looks good. I think we can move toward acceptance!

If you can now tag a new release, archive it (zenodo) and then report back here with the version and DOI.

I've got the recipe building (thanks @fmaguire for the linting report). I will wait for your new release before we make the bioconda PR

[2020-10-09 09:53] whedon commented on #2733
PDF failed to compile for issue #2733 with the following error:

 Can't find any papers to compile :-(

[2020-10-09 09:55] arfon commented on #2538
@whedon check references from branch joss

[2020-10-09 09:56] whedon commented on #2538
[code]

[2020-10-09 09:57] ramadatta commented on #2473
Thank you so much @will-rowe. Will start working on the new release and the archive.

I sincerely thank @fmaguire @boasvdp for their comprehensive reviews by which I had a wonderful opportunity to learn several new things.

[2020-10-09 10:00] drvinceknight commented on #2152
@fgeertman and @trstewart212 the review will take place on #2733. There are instructions over there as to what to do but if I can assist at all with any questions please let me know.

[2020-10-09 10:01] drvinceknight commented on #2733
@koenderks can you take a look at the fact that the pdf cannot compile: let me know if I can assist with using whedon.

[2020-10-09 10:05] arfon commented on #2538
@whedon check references from branch joss

[2020-10-09 10:05] whedon commented on #2538
[code]

[2020-10-09 10:13] arfon commented on #2538
@whedon check references from branch joss

[2020-10-09 10:13] whedon commented on #2538
[code]

[2020-10-09 10:13] whedon commented on #2538
[code]

[2020-10-09 10:14] arfon commented on #2538
@hugoledoux - looks to be fixed now. Sorry for the noise debugging this.

[2020-10-09 10:14] arfon commented on #2732
@whedon generate pdf from branch joss-paper

[2020-10-09 10:14] whedon commented on #2732
[code]

[2020-10-09 10:14] whedon commented on #2732
PDF failed to compile for issue #2732 with the following error:

 sh: 1: cd: can't cd to 896ed2be1863fee2c7d9c43a
/app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - 896ed2be1863fee2c7d9c43a (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/ven

[2020-10-09 10:16] hugoledoux commented on #2538
@arfon cheers. All were good!

[2020-10-09 10:22] arfon commented on #2732
@whedon generate pdf from branch joss-paper

[2020-10-09 10:22] whedon commented on #2732
[code]

[2020-10-09 10:23] whedon commented on #2732
PDF failed to compile for issue #2732 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - d7bd0a9a20c9afab265a5e7d (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-d14a69

[2020-10-09 10:23] arfon commented on #2732
@whedon generate pdf from branch joss-paper

[2020-10-09 10:24] whedon commented on #2732
[code]

[2020-10-09 10:24] whedon commented on #2732
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02732/joss.02732/10.21105.joss.02732.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02732/joss.02732/10.21105.joss.02732.pdf) :page_facing_up: :point_left:

[2020-10-09 10:25] arfon commented on #2732
Apologies for the noise here. This should be fixed now.

[2020-10-09 11:24] davidhassell commented on #2717
@usethedata Thanks, that's great. We have just released version 1.8.7.0 with the changes discussed here:
[code]

[2020-10-09 11:34] davidhassell commented on #2717
In full:
[code]

[2020-10-09 12:15] anwarbio commented on #2402
@fboehm - Thank you very much for the wonderful review and accepting the paper for publication. The doi and version number is given below.
doi: 10.5281/zenodo.4075110 , link: https://doi.org/10.5281/zenodo.4075110
version: v1.0.1

Thanks,
Anwar

[2020-10-09 12:33] danielskatz commented on #2651
@whedon set 10.5281/zenodo.3860023 as archive

[2020-10-09 12:33] whedon commented on #2651
OK. <a href="https://doi.org/10.5281/zenodo.3860023" target="_blank">10.5281/zenodo.3860023</a> is the archive.

[2020-10-09 12:34] danielskatz commented on #2651
In the zenodo archive, can you change the metadata so that the title and authors match those of the JOSS paper?

[2020-10-09 12:54] mcguinlu commented on #2651
Done - title and authors are now consistent between the JOSS paper and the Zenodo repo.

[2020-10-09 13:04] danielskatz commented on #2651
@whedon accept

[2020-10-09 13:04] whedon commented on #2651
[code]

[2020-10-09 13:04] whedon commented on #2651
[code]

[2020-10-09 13:05] whedon commented on #2651
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1788

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1788, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-09 13:12] danielskatz commented on #2651
@whedon accept deposit=true

[2020-10-09 13:12] whedon commented on #2651
[code]

[2020-10-09 13:13] whedon commented on #2651
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1314554610254839810) 👈 🐦🐦🐦

[2020-10-09 13:13] whedon commented on #2651
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1789
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02651](https://doi.org/10.21105/joss.02651)
2. If everything looks g

[2020-10-09 13:16] danielskatz commented on #2651
Congratulations @mcguinlu!!

[2020-10-09 13:16] #2651 closed

[2020-10-09 13:16] whedon commented on #2651
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02651/status.svg)](https://doi.org/10.21105/joss.02651)

**We need your help!**

Journal of Open Source Softwa

[2020-10-09 13:53] ianhinder commented on #2555
I've been working on installing and running the code.  It was quite difficult; I have a number of issues to report, and will make issues in gitlab and post back here with a list.

[2020-10-09 14:18] sjpfenninger commented on #2644
@whedon set doi as 10.5281/zenodo.4057940

[2020-10-09 14:18] whedon commented on #2644
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-10-09 14:19] sjpfenninger commented on #2644
@whedon set 10.5281/zenodo.4057940 as archive

[2020-10-09 14:19] whedon commented on #2644
OK. <a href="https://doi.org/10.5281/zenodo.4057940" target="_blank">10.5281/zenodo.4057940</a> is the archive.

[2020-10-09 14:20] sjpfenninger commented on #2644
@whedon set v1.0.1 as version

[2020-10-09 14:20] whedon commented on #2644
OK. v1.0.1 is the version.

[2020-10-09 14:20] sjpfenninger commented on #2644
@Christopher-Khan Apologies for the delay. This looks good now!

[2020-10-09 14:20] sjpfenninger commented on #2644
@whedon accept

[2020-10-09 14:20] whedon commented on #2644
[code]

[2020-10-09 14:21] whedon commented on #2644
[code]

[2020-10-09 14:21] sjpfenninger commented on #2171
@gschivley, @Ludee Checking in on this -- are you able to finish your reviews in the near future?

[2020-10-09 14:22] whedon commented on #2644
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1790

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1790, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-09 14:23] sjpfenninger commented on #2677
@fneum Thanks for this careful and extensive review!

[2020-10-09 14:23] sjpfenninger commented on #2677
@willu47 Are you able to complete your review in the near future?

[2020-10-09 14:24] willu47 commented on #2677
Hi @sjpfenninger - I've submitted a bunch of issues over on the besos Gitlab - will summarise here shortly.

[2020-10-09 14:35] whedon opened #2734 "[PRE REVIEW]: pyhf: pure-Python implementation of HistFactory statistical models"
**Submitting author:** @matthewfeickert (<a href="http://orcid.org/0000-0003-4124-7862">Matthew Feickert</a>)
**Repository:** <a href="https://github.com/scikit-hep/pyhf" target ="_blank">https://github.com/scikit-hep/pyhf</a>
**Version:** v0.5.2
**Editor:** @eloisabentivegna
**Reviewers:** @suchitakulkarni, @bradkav
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:*

[2020-10-09 14:35] whedon commented on #2734
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-09 14:35] whedon opened #2735 "[PRE REVIEW]: ELDAM: A Python software for Life Cycle Inventory data management"
**Submitting author:** @GustaveCoste (<a href="http://orcid.org/0000-0001-5867-0507">Gustave Coste</a>)
**Repository:** <a href="https://framagit.org/GustaveCoste/eldam" target ="_blank">https://framagit.org/GustaveCoste/eldam</a>
**Version:** V1.0
**Editor:** @sjpfenninger
**Reviewers:** @konstantinstadler, @romainsacchi
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warn

[2020-10-09 14:35] whedon commented on #2735
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-09 14:35] whedon opened #2736 "[PRE REVIEW]: hectorui: A web-based interactive scenario builder and visualization application for the Hector climate model"
**Submitting author:** @evanoffPNNL (<a href="http://orcid.org/0000-0002-8858-2783">Jason Evanoff</a>)
**Repository:** <a href="https://github.com/JGCRI/hectorui/" target ="_blank">https://github.com/JGCRI/hectorui/</a>
**Version:** 1.1.0
**Editor:** @kthyng
**Reviewers:** @marvinjonathcn, @tscheypidi
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the ch

[2020-10-09 14:35] whedon commented on #2736
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-09 14:35] whedon opened #2737 "[PRE REVIEW]: pystiche: A Framework for Neural Style Transfer"
**Submitting author:** @pmeier (<a href="http://orcid.org/0000-0002-5184-1622">Philip Meier</a>)
**Repository:** <a href="https://github.com/pmeier/pystiche" target ="_blank">https://github.com/pmeier/pystiche</a>
**Version:** v0.6.1
**Editor:** @kthyng
**Reviewers:** @kthyng
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 p

[2020-10-09 14:35] whedon commented on #2737
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-09 14:35] whedon opened #2738 "[PRE REVIEW]: mcbette: model comparison using babette"
**Submitting author:** @richelbilderbeek (<a href="http://orcid.org/0000-0003-1107-7049">Richel Bilderbeek</a>)
**Repository:** <a href="https://github.com/ropensci/mcbette" target ="_blank">https://github.com/ropensci/mcbette</a>
**Version:** v1.8.3
**Editor:** @kthyng
**Reviewers:** @kthyng
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2020-10-09 14:35] whedon commented on #2738
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-09 14:36] kthyng commented on #2599
@whedon generate pdf

[2020-10-09 14:37] whedon commented on #2734
PDF failed to compile for issue #2734 with the following error:

 Can't find any papers to compile :-(

[2020-10-09 14:37] whedon commented on #2734
[code]

[2020-10-09 14:37] whedon commented on #2735
[code]

[2020-10-09 14:39] whedon commented on #2735
PDF failed to compile for issue #2735 with the following error:

 Can't find any papers to compile :-(

[2020-10-09 14:39] whedon commented on #2736
Failed to discover a `Statement of need` section in paper

[2020-10-09 14:39] whedon commented on #2736
[code]

[2020-10-09 14:40] whedon commented on #2736
[code]

[2020-10-09 14:40] koenderks commented on #2733
@drvinceknight Can this be the result of the fact that whedon selects the default branch from the repository? I believe this has also happened in the pre-review stage. The branch that the submission is located at is the `JfA-JOSS` branch located at `https://github.com/koenderks/jasp-desktop/tree/JfA-JOSS`.

If this is the case, I believe that

@whedon generate pdf from branch JfA-JOSS

will solve

[2020-10-09 14:40] whedon commented on #2737
Failed to discover a `Statement of need` section in paper

[2020-10-09 14:41] whedon commented on #2737
[code]

[2020-10-09 14:42] whedon commented on #2736
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02736/joss.02736/10.21105.joss.02736.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02736/joss.02736/10.21105.joss.02736.pdf) :page_facing_up: :point_left:

[2020-10-09 14:42] whedon commented on #2737
[code]

[2020-10-09 14:42] whedon commented on #2738
[code]

[2020-10-09 14:42] whedon commented on #2738
[code]

[2020-10-09 14:42] whedon commented on #2738
Failed to discover a valid open source license.

[2020-10-09 14:42] kthyng commented on #2644
Hi @Christopher-Khan! I see that you archive and version are set and up to date. I just looked at your paper and unfortunately it is far too long. A [JOSS paper](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) is to be between 250 and 1000 words. Can you move some of the content from the paper to your documentation?

[2020-10-09 14:42] whedon commented on #2737
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02737/joss.02737/10.21105.joss.02737.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02737/joss.02737/10.21105.joss.02737.pdf) :page_facing_up: :point_left:

[2020-10-09 14:43] drvinceknight commented on #2733
@whedon generate pdf from branch JfA-JOSS

[2020-10-09 14:43] whedon commented on #2733
[code]

[2020-10-09 14:43] whedon commented on #2738
PDF failed to compile for issue #2738 with the following error:

 /app/vendor/bundle/ruby/2.4.0/gems/octokit-4.8.0/lib/octokit/response/raise_error.rb:16:in `on_complete': GET https://api.github.com/repos/openjournals/jose-reviews/issues/2738: 404 - Not Found // See: https://docs.github.com/rest/reference/issues#get-an-issue (Octokit::NotFound)
	from /app/vendor/bundle/ruby/2.4.0/gems/faraday-0.15

[2020-10-09 14:43] whedon commented on #2599
PDF failed to compile for issue #2599 with the following error:

 /app/vendor/bundle/ruby/2.4.0/gems/octokit-4.8.0/lib/octokit/response/raise_error.rb:16:in `on_complete': GET https://api.github.com/repos/openjournals/jose-reviews/issues/2599: 404 - Not Found // See: https://docs.github.com/rest/reference/issues#get-an-issue (Octokit::NotFound)
	from /app/vendor/bundle/ruby/2.4.0/gems/faraday-0.15

[2020-10-09 14:45] kthyng commented on #2528
@whedon generate pdf

[2020-10-09 14:46] kthyng commented on #2734
@whedon generate pdf from branch docs/add-JOSS-paper

[2020-10-09 14:46] whedon commented on #2734
[code]

[2020-10-09 14:47] whedon commented on #2528
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02528/joss.02528/10.21105.joss.02528.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02528/joss.02528/10.21105.joss.02528.pdf) :page_facing_up: :point_left:

[2020-10-09 14:47] whedon commented on #2733
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02733/joss.02733/10.21105.joss.02733.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02733/joss.02733/10.21105.joss.02733.pdf) :page_facing_up: :point_left:

[2020-10-09 14:48] whedon commented on #2734
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02734/joss.02734/10.21105.joss.02734.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02734/joss.02734/10.21105.joss.02734.pdf) :page_facing_up: :point_left:

[2020-10-09 14:55] kthyng commented on #2528
@andyphilips I found one more capitalization to fix and did in this PR [#8](https://github.com/andyphilips/dynamac/pull/8) if you want to merge that on in.

Regarding removing content from your paper, I should have specified that you can certainly keep the content, but maybe move it to your docs. The paper itself is meant to stay brief but any useful information you can can go into the repo somewh

[2020-10-09 14:57] whedon commented on #2599
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02599/joss.02599/10.21105.joss.02599.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02599/joss.02599/10.21105.joss.02599.pdf) :page_facing_up: :point_left:

[2020-10-09 15:03] lnferris commented on #2497
Sounds good @kthyng. @kakearney @castelao please let me know if you need anything from my end.

[2020-10-09 15:05] kthyng commented on #2735
@whedon generate pdf from branch joss

[2020-10-09 15:05] whedon commented on #2735
[code]

[2020-10-09 15:06] whedon commented on #2735
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02735/joss.02735/10.21105.joss.02735.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02735/joss.02735/10.21105.joss.02735.pdf) :page_facing_up: :point_left:

[2020-10-09 15:08] VivianePons commented on #2463
Indeed, I just an email to both of them. Thank you for your patience!

[2020-10-09 15:12] VivianePons commented on #2614
Hi @sauln I see that you haven't finished it up as you were planning (which is ok) but I'm hoping that you haven't bowed out. If you have, please let me know!

[2020-10-09 15:13] kthyng commented on #2734
Hi @matthewfeickert! Thanks for your submission. One quick edit that will have to happen at some point: the references in your paper have () around them because they have been put in as [@reference] instead of @reference. Sometimes the () are justified of course but I see some in your paper that should be inline instead of parenthetical.

[2020-10-09 15:13] kthyng commented on #2734
@eloisabentivegna Can you edit this submission?

[2020-10-09 15:13] kthyng commented on #2734
@whedon invite @eloisabentivegna as editor

[2020-10-09 15:13] whedon commented on #2734
@eloisabentivegna has been invited to edit this submission.

[2020-10-09 15:16] kthyng commented on #2735
@sjpfenninger would you be willing to edit this? I see you have 4 currently, but one is about to be wrapped up so I thought it might be ok.

[2020-10-09 15:16] kthyng commented on #2735
@whedon invite @sjpfenninger as editor

[2020-10-09 15:16] whedon commented on #2735
@sjpfenninger has been invited to edit this submission.

[2020-10-09 15:19] kthyng commented on #2599
@tbrown122387 ok looks good!

[2020-10-09 15:19] kthyng commented on #2599
@whedon accept

[2020-10-09 15:19] whedon commented on #2599
[code]

[2020-10-09 15:20] whedon commented on #2599
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1791

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1791, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-09 15:24] kthyng commented on #2736
@whedon assign me as editor

[2020-10-09 15:24] whedon commented on #2736
OK, the editor is @kthyng

[2020-10-09 15:26] kthyng commented on #2736
@evanoffPNNL Thank you for your submission! I will be your editor. Please add a "Statement of Need" to your paper to start. Also, can you recommend reviewers for this submission? You can recommend from your network or from [this list](https://bit.ly/joss-reviewers) of volunteers (as long as not conflicting). If you are providing github handles, please do not use "@" so that they are not prematurel

[2020-10-09 15:26] matthewfeickert commented on #2734
Done. :+1:

[2020-10-09 15:27] matthewfeickert commented on #2734
@whedon generate pdf from branch docs/add-JOSS-paper

[2020-10-09 15:27] willu47 commented on #2677
The review of @fneum is very comprehensive, and I have tried not to overlap with the recommendations from that too much.
I've posted a number of issues over on the Gitlab repository used by the team to manage the source code.

In short, this package makes a useful contribution, bringing together a number of existing tools to extend and enhance building energy modelling software with methods to exp

[2020-10-09 15:28] kthyng commented on #2599
@whedon accept deposit=true

[2020-10-09 15:28] whedon commented on #2599
[code]

[2020-10-09 15:29] matthewfeickert commented on #2734
@whedon generate pdf from branch docs/add-JOSS-paper

[2020-10-09 15:29] whedon commented on #2734
[code]

[2020-10-09 15:29] drvinceknight commented on #2733
Thanks @koenderks! That's done the trick. Fyi you can run those whedon commands as well :)

[2020-10-09 15:29] whedon commented on #2599
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1314588925030215680) 👈 🐦🐦🐦

[2020-10-09 15:29] whedon commented on #2599
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1792
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02599](https://doi.org/10.21105/joss.02599)
2. If everything looks g

[2020-10-09 15:30] kthyng commented on #2737
Hi @pmeier! Thank you for your submission. Can you add a statement of need to your paper?

[2020-10-09 15:30] whedon commented on #2734
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02734/joss.02734/10.21105.joss.02734.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02734/joss.02734/10.21105.joss.02734.pdf) :page_facing_up: :point_left:

[2020-10-09 15:32] whedon commented on #2734
Here are some things you can ask me to do:

[code]

[2020-10-09 15:35] degleris1 commented on #2704
Just finished my review. The package looks fantastic. I love the idea of scientific types. Everything (installation, tests, simple demos, defining a custom model) worked smoothly on my machine.

The paper does seem a bit long for JOSS. Could you say why?

Some really minor comments. These are things that you by no means have to address.

- As has been pointed out, the installation instructions are

[2020-10-09 15:41] kthyng commented on #2599
Congrats on your new paper @tbrown122387! Thank you to editor @diehlpk and to reviewers @ziotom78 and @andremrsantos — we couldn't do this process without your expertise and time!

[2020-10-09 15:41] #2599 closed

[2020-10-09 15:41] whedon commented on #2599
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02599/status.svg)](https://doi.org/10.21105/joss.02599)

**We need your help!**

Journal of Open Source Softwa

[2020-10-09 15:42] kthyng commented on #2738
@whedon generate pdf

[2020-10-09 15:43] kbarnhart commented on #2407
@sadielbartholomew thanks for the info. No problem on the timeline.

Thanks to @Xunius for making those changes.

[2020-10-09 15:43] whedon commented on #2738
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02738/joss.02738/10.21105.joss.02738.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02738/joss.02738/10.21105.joss.02738.pdf) :page_facing_up: :point_left:

[2020-10-09 15:44] matthewfeickert commented on #2734
FWIW, as I'm used to seeing citations stylized as just the reference number in the bibliography

![example_screenshot](https://user-images.githubusercontent.com/5142394/95603677-3933f300-0a1c-11eb-84d1-f0aacb7039c8.png)

so if anything looks strange with the current switch to all inline references `@reference` then please let me know and I'll be happy to fix them.

[2020-10-09 15:46] ianhinder commented on #2555
I have opened 16 issues relating to installation and installation documentation.  See https://gitlab.kitware.com/LBM/lattice-boltzmann-solver/-/issues?scope=all&utf8=✓&state=opened&author_username=ianhinder.  Not all of these are vital.

I will continue the review next week.

[2020-10-09 15:48] kthyng commented on #2737
@pmeier Also I've read through your paper several times but I'm having a hard time figuring out a few categories of where this software fits in order to match it up with our editors. You suggested arfon as editor when you submitted but that doesn't seem like a good match to me. We don't have someone who does image processing in particular, but some who do machine learning in particular domains. Do

[2020-10-09 15:48] asmusskar commented on #2548
Hi  @Kevin-Mattheus-Moerman <https://github.com/Kevin-Mattheus-Moerman>,
@AnaWaldila <https://github.com/AnaWaldila>, @CBenghi
<https://github.com/CBenghi>

thank you for your helpful comments on the ALVA computer package.

We have revised the software/paper accordingly and feel your comments
helped clarify and improve ALVA.

Please find the response (in yellow) to the reviewers comments below:

F

[2020-10-09 15:50] alexrockhill commented on #2674
Good idea, I added unit tests for the examples to make sure they run with this commit 9086579ba5ca615bc9a2d9e03ede3c406c780073. They don't check whether they look right, the only way to do that is by eye, but you can run `pytest` and it will test everything including the examples now as described in the contributing guidelines.

[2020-10-09 15:53] kthyng commented on #2738
Hi @richelbilderbeek! Thanks for your submission. Your submission is missing a few items or needs editing:

* open source license
* DOI's are missing from references (see list above)
* Your paper needs a high level non-technical short introduction to orient a reader who might be interested in using your software to decide whether it is relevant or not.
* you should be able to resize your giant log

[2020-10-09 15:54] kthyng commented on #2738
@marcosvital Could you edit this submission?

[2020-10-09 15:54] kthyng commented on #2738
@whedon invite @marcosvital as editor

[2020-10-09 15:54] whedon commented on #2738
@marcosvital has been invited to edit this submission.

[2020-10-09 16:00] kthyng commented on #2729
@whedon generate pdf

[2020-10-09 16:03] whedon commented on #2729
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02729/joss.02729/10.21105.joss.02729.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02729/joss.02729/10.21105.joss.02729.pdf) :page_facing_up: :point_left:

[2020-10-09 16:05] kthyng commented on #2729
@melissawm Could you edit this submission?

[2020-10-09 16:05] kthyng commented on #2729
@whedon invite @melissawm as editor

[2020-10-09 16:05] whedon commented on #2729
@melissawm has been invited to edit this submission.

[2020-10-09 16:08] kthyng commented on #2730
@lorenanicole could you edit this submission?

[2020-10-09 16:08] kthyng commented on #2730
@whedon invite @lorenanicole as editor

[2020-10-09 16:08] whedon commented on #2730
@lorenanicole has been invited to edit this submission.

[2020-10-09 16:11] mcguinlu commented on #2651
Awesome - thanks to everyone involved! 🥳

[2020-10-09 16:17] artgoldberg commented on #2685
Hello @danielskatz

I'm available to address any other issues reviewers raise.

Arthur

[2020-10-09 16:19] kthyng commented on #2584
@JolleJolles Ok we are all set now!

[2020-10-09 16:19] kthyng commented on #2584
@whedon accept deposit=true

[2020-10-09 16:19] whedon commented on #2584
[code]

[2020-10-09 16:20] whedon commented on #2584
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1314601608366501889) 👈 🐦🐦🐦

[2020-10-09 16:20] whedon commented on #2584
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1793
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02584](https://doi.org/10.21105/joss.02584)
2. If everything looks g

[2020-10-09 16:21] kthyng commented on #2584
Congrats to @JolleJolles on your new publication! Thanks to editor @marcosvital and reviewers @lucask07 and @DerJH for making all of this possible.

(I will close this issue once the doi resolves)

[2020-10-09 16:22] sauln commented on #2614
@VivianePons, I have completed my review.  As @juliohm expressed, this project was a pleasure to review. I am only sorry it took me so long to complete it.  The documentation is best in class, the library interface is remarkably clean and intuitive, and the testing appears more exhaustive than any other TDA library I've seen.

I am happy to accept this submission to JOSS 🥇

[2020-10-09 16:23] DanielLenz commented on #2663
Thanks for addressing all the issues @Nico-Curti ! I'll give another detailed look this weekend, but we should be good to go :)

[2020-10-09 16:23] DanielLenz commented on #2663
@whedon generate pdf

[2020-10-09 16:24] whedon commented on #2663
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02663/joss.02663/10.21105.joss.02663.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02663/joss.02663/10.21105.joss.02663.pdf) :page_facing_up: :point_left:

[2020-10-09 16:25] evanoffPNNL commented on #2736
@kthyng Thanks for your quick turn around on getting the review process started! The statement of need was an oversight that has been fixed in the latest release today. I am also listing a number of reviewers that seemed appropriate from my perspective in no particular order. Please let me know if there's anything else needed.

jhollist, nuest , khaors,  garretrc, marvinjonathcn,  mikejohnson51, a

[2020-10-09 16:29] crvernon commented on #2736
@kthyng @evanoffPNNL The latest release is:  https://github.com/JGCRI/hectorui/releases/tag/v1.1.1 and the accompanying DOI from Zenodo link is:   http://doi.org/10.5281/zenodo.4075376

Thanks!

[2020-10-09 16:38] richelbilderbeek commented on #2738
This package has been reviewed by rOpenSci: https://github.com/ropensci/software-review/issues/360, @ropensci/editors

[2020-10-09 16:41] JolleJolles commented on #2584
Wonderful! Thanks all for your help with this, I am very excited my paper is now published in JOSS.

[2020-10-09 16:44] kthyng commented on #2713
@gaelforget thanks for the extra information! We can move forward with this submission. I will be your editor since I do particle tracking too, though not with Julia. I will need particular help from you finding reviewers who can review this software in Julia. Please provide github handles or another way to reach people from either your own network (but not conflicting) or from the list [of volunt

[2020-10-09 16:45] kthyng commented on #2713
@whedon add me as editor

[2020-10-09 16:45] whedon commented on #2713
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-10-09 16:45] kthyng commented on #2713
@whedon assign me as editor

[2020-10-09 16:45] whedon commented on #2713
OK, the editor is @kthyng

[2020-10-09 16:48] pmeier commented on #2737
Hey @kthyng

`pystiche` was already reviewed in pyOpenSci/software-review#25 in a previous step. The editor @NickleDave ["tasked" me](https://github.com/pyOpenSci/software-review/issues/25#issuecomment-705646440) to submit to JOSS. In the same comment he tagged @arfon, hence my suggestion.

Yes, machine learning plays a big role in the project. Looking through your [list of editors](https://joss.t

[2020-10-09 16:52] kthyng commented on #2738
@richelbilderbeek ah! I didn't realize that. I will process this submission then.

@marcosvital Please disregard the invitation above.

[2020-10-09 16:52] kthyng commented on #2738
@whedon assign me as editor

[2020-10-09 16:52] whedon commented on #2738
OK, the editor is @kthyng

[2020-10-09 17:00] kthyng commented on #2737
@pmeier Ah! I am sorry I missed your note with the original submission. In that case, your submission doesn't need a separate review so I can just process this for you.

[2020-10-09 17:00] kthyng commented on #2737
@whedon assign me as editor

[2020-10-09 17:00] whedon commented on #2737
OK, the editor is @kthyng

[2020-10-09 17:01] arfon commented on #2738
@whedon generate pdf

[2020-10-09 17:02] davidhassell commented on #2717
Hi @usethedata, I've just spotted that I have missed out an author in one of the references - is too late to add it in?

Many thanks,
David

[2020-10-09 17:02] whedon commented on #2738
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02738/joss.02738/10.21105.joss.02738.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02738/joss.02738/10.21105.joss.02738.pdf) :page_facing_up: :point_left:

[2020-10-09 17:05] kthyng commented on #2709
@whedon invite @richardjgowers as editor

[2020-10-09 17:06] whedon commented on #2709
@richardjgowers has been invited to edit this submission.

[2020-10-09 17:08] kthyng commented on #2709
@symmy596 Your submission a bit borderline, but let's proceed. I encourage you to take the opportunity of your future reviewers suggestions to improve your software where possible so that it can be used by others in the future.

[2020-10-09 17:54] usethedata commented on #2717
Go ahead and add.

[2020-10-09 17:55] usethedata commented on #2717
@whedon set 1.8.7.0 as version

[2020-10-09 17:55] whedon commented on #2717
OK. 1.8.7.0 is the version.

[2020-10-09 17:55] usethedata commented on #2717
@whedon set 10.5281/zenodo.4075077 as archive

[2020-10-09 17:55] whedon commented on #2717
OK. <a href="https://doi.org/10.5281/zenodo.4075077" target="_blank">10.5281/zenodo.4075077</a> is the archive.

[2020-10-09 18:05] sadielbartholomew commented on #2717
Hi @usethedata, just for your information, David asked me offline to keep an eye on comments here and to if permitted to do this change since I work a late schedule so I am still working at this hour and he has probably started his weekend.

Let me just add a one-line commit to add in the extra author, as mentioned above, then I will comment here as after that to confirm it is done. Then everythin

[2020-10-09 18:17] sadielbartholomew commented on #2717
Hi @usethedata, thanks David actually was still online and beat me to it so the change has now been made in this one new commit: NCAS-CMS/cfdm@0f8cbeafa32c77c5fc6e2267b97d22d3d2b27b1f.

I'm just wondering if it would be best we update the Zenodo version to the one just released, too, i.e. make this precise change:

[code]

Or shall we just leave it?

[2020-10-09 18:23] UTH-Tuan commented on #2153
@kthyng @gkthiruvathukal how do i check off the items from the checklist?

[2020-10-09 18:26] sadielbartholomew commented on #2717
Please ignore the above, we decided that change should be made so I have pushed up a final commit to update the Zenodo version and corresponding metadata from 1.8.6.0 to 1.8.7.0, as per the tagged version on the paper: NCAS-CMS/cfdm@f720202ce453b9e67643a114f1cddfa8df887ab9.

Thanks for your patience. This is now ready to go as far as we are concerned.

[2020-10-09 18:28] kthyng commented on #2153
@UTH-Tuan If you cannot, you probably need to accept your reviewer invitation. I'll reinvite you.

[2020-10-09 18:28] kthyng commented on #2153
@whedon re-invite @UTH-Tuan  as reviewer

[2020-10-09 18:28] whedon commented on #2153
OK, the reviewer has been re-invited.

@uth-tuan  please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-10-09 18:30] UTH-Tuan commented on #2153
@kthyng I get the following message "Sorry, we couldn't find that repository invitation. It is possible that the invitation was revoked or that you are not logged into the invited account."

[2020-10-09 18:33] kthyng commented on #2153
@whedon remove @UTH-Tuan as reviewer

[2020-10-09 18:33] whedon commented on #2153
OK, @UTH-Tuan is no longer a reviewer

[2020-10-09 18:33] kthyng commented on #2153
@whedon invite @UTH-Tuan as reviewer

[2020-10-09 18:33] whedon commented on #2153
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-10-09 18:34] kthyng commented on #2153
@whedon add @UTH-Tuan as reviewer

[2020-10-09 18:34] whedon commented on #2153
OK, @UTH-Tuan is now a reviewer

[2020-10-09 18:51] zbeekman commented on #2663
Sorry to have missed the boat on this one, looks interesting! Thanks for inviting me and I'll keep my eye out for the final publication!

[2020-10-09 19:07] usethedata commented on #2717
@whedon set doi.org/10.5281/zenodo.4075077 as archive

[2020-10-09 19:07] whedon commented on #2717
OK. <a href="https://doi.org/10.5281/zenodo.4075077" target="_blank">10.5281/zenodo.4075077</a> is the archive.

[2020-10-09 19:09] usethedata commented on #2717
@whedon generate pdf

[2020-10-09 19:10] whedon commented on #2717
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02717/joss.02717/10.21105.joss.02717.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02717/joss.02717/10.21105.joss.02717.pdf) :page_facing_up: :point_left:

[2020-10-09 19:10] valeriewelborn commented on #2576
Thank you @amandadumi and @govarguz for reviewing our paper. @richardjgowers, is there anything else you need from us?

[2020-10-09 19:11] usethedata commented on #2717
@whedon accept

[2020-10-09 19:11] whedon commented on #2717
[code]

[2020-10-09 19:12] whedon commented on #2717
[code]

[2020-10-09 19:13] whedon commented on #2717
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1794

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1794, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-09 19:18] andyphilips commented on #2528
Thanks @kthyng for fixing that! I just merged pull request #8 into master.

[2020-10-09 19:26] richardjgowers commented on #2576
I need to go over this one last time this weekend then probably it’ll get
published :) thanks for your work on this!

On Fri, Oct 9, 2020 at 20:11, Valerie Welborn <notifications@github.com>
wrote:

[2020-10-09 19:29] nistara commented on #2630
@whedon generate pdf

[2020-10-09 19:30] whedon commented on #2630
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02630/joss.02630/10.21105.joss.02630.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02630/joss.02630/10.21105.joss.02630.pdf) :page_facing_up: :point_left:

[2020-10-09 19:54] nistara commented on #2630
Dear @mikldk and @VincentAlcazer ,

I'm done with my review. Thank you for inviting me as a reviewer. This package is pretty awesome and should help many people explore various descriptive and statistical tools and visualizations with one tool!! I also appreciate the careful consideration give to what potential users might need to customize their analysis and plots.

Best wishes,
Nistara

[2020-10-09 20:03] dfm commented on #2278
@ledell has agreed to step in as our next reviewer. Thanks!

I'll add you to this review and add a checklist above. Let me know if you have any questions as you go.

[2020-10-09 20:04] dfm commented on #2278
@whedon add @ledell as reviewer

[2020-10-09 20:04] whedon commented on #2278
OK, @ledell is now a reviewer

[2020-10-09 20:05] eloisabentivegna commented on #2734
@whedon assign @eloisabentivegna as editor

Sure thing!

[2020-10-09 20:05] whedon commented on #2734
OK, the editor is @eloisabentivegna

[2020-10-09 21:01] waxlamp commented on #2410
@lpantano, here you go: https://zenodo.org/record/4075591, with DOI 10.5281/zenodo.4075591.

Please let me know if there's anything else I can do.

[2020-10-09 22:40] melissawm commented on #2711
@whedon generate pdf

[2020-10-09 22:41] whedon commented on #2711
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02711/joss.02711/10.21105.joss.02711.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02711/joss.02711/10.21105.joss.02711.pdf) :page_facing_up: :point_left:

[2020-10-09 22:58] melissawm commented on #2711
:wave: @jamiejquinn & @zhaowei0566, would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2020-10-09 23:04] melissawm commented on #2729
@whedon assign @melissawm as editor

[2020-10-09 23:04] whedon commented on #2729
OK, the editor is @melissawm

[2020-10-09 23:15] sibirrer commented on #2732
@dstansby very nice software package. I very much like the presentation of the documentation and the user examples. I don't see from my side any roadblocks from publishing pfsspy in JOSS after minor revisions indicated in my opened issues.

I opened three issues:
https://github.com/dstansby/pfsspy/issues/239
https://github.com/dstansby/pfsspy/issues/240
https://github.com/dstansby/pfsspy/issues/24

[2020-10-09 23:17] lorenanicole commented on #2730
I've got two papers in flight. So I'm going to pass for now.

[2020-10-09 23:58] Christopher-Khan commented on #2644
Hi @kthyng! Sure. I can move the section titled "Example Benchmark Comparing GENRE with glmnet" to my documentation on GitHub. That will make the paper two pages shorter. Do you want me to make a new Zenodo archive then and give the DOI for that one? I ask because I don't think Zenodo allows for files in archives to be updated if the archive is more than a week old. Thank you!

[2020-10-10 01:12] kthyng commented on #2153
@UTH-Tuan please try again and see if it works for you

[2020-10-10 04:12] zhaowei0566 commented on #2711
Melissa,

Yes, I am glad to serve as a reviewer for JOSS. I guess the procedure would
be different from ScholarOne. Please let me know how to proceed.

Wei

On Fri, Oct 9, 2020 at 6:59 PM Melissa Weber Mendonça <
notifications@github.com> wrote:

--

Wei Zhao, Ph.D.
306 Femoyer Hall
Aerospace and Ocean Engineering Dept.
Virginia Tech
Website <https://sites.google.com/vt.edu/weizhao/home>/Google Sc

[2020-10-10 06:25] ramadatta commented on #2473
Dear @will-rowe - I have tag for the [CPgeneProfiler v2.1.1](https://github.com/ramadatta/CPgeneProfiler/tree/v2.1.1) and the DOI is: [10.5281/zenodo.4076089](https://zenodo.org/record/4076089)

[2020-10-10 06:39] krystophny commented on #2644
@Christopher-Khan if you make a new release on github, Zenodo will create a new version of the same entry with a new doi. Probably that’s better than creating a new archive

[2020-10-10 08:35] richardjgowers commented on #2709
@whedon assign @richardjgowers as editor

[2020-10-10 08:35] whedon commented on #2709
OK, the editor is @richardjgowers

[2020-10-10 08:38] richardjgowers commented on #2709
@hannahbrucemacdonald @hmacdope are you free to review this?

[2020-10-10 08:41] richardjgowers commented on #2709
@symmy596 right off the bat, I think the paper is missing a section reviewing existing tools within the field

[2020-10-10 08:42] richardjgowers commented on #2576
@whedon generate pdf

[2020-10-10 08:43] whedon commented on #2576
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02576/joss.02576/10.21105.joss.02576.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02576/joss.02576/10.21105.joss.02576.pdf) :page_facing_up: :point_left:

[2020-10-10 08:48] richardjgowers commented on #2576
@whedon check references

[2020-10-10 08:48] whedon commented on #2576
[code]

[2020-10-10 08:56] richardjgowers commented on #2576
@valeriewelborn all looking good,  Can you please add a quick paragraph just describing the usage procedure to make the paper complete?  This can just be a condensed version of the detailed description you've provided in the repo README.

[2020-10-10 09:00] Christopher-Khan commented on #2644
@whedon generate pdf

[2020-10-10 09:00] whedon commented on #2644
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02644/joss.02644/10.21105.joss.02644.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02644/joss.02644/10.21105.joss.02644.pdf) :page_facing_up: :point_left:

[2020-10-10 09:47] Christopher-Khan commented on #2644
@krystophny thank you. That's what I meant actually instead of creating a new archive. @kthyng I have moved the section in the JOSS paper titled "Example Benchmark Comparing GENRE with glmnet" from the paper to the section in the README.md file titled "Comparing with Other Packages". The new DOI is below. I hope the paper is better now in terms of its length.

DOI: 10.5281/zenodo.4076520

Thank yo

[2020-10-10 11:00] rajeshrinet commented on #2604
@jdber1, thanks for your responses. @kyleniemeyer, I have now completed my checklists and I am happy to recommend this paper.

[2020-10-10 11:11] Xunius commented on #2407
@whedon generate pdf

@rabernat @kbarnhart @sadielbartholomew Thanks for all your efforts put into this work.
I'm writing also to inform you that I'm making some minor edits to the joss paper and the README by adding the the reference to the paper on this method that just got published a few days ago. The changes are in [this commit](https://github.com/ihesp/IPART/commit/0dfeaeb0d3f06aa45a6d2427bb

[2020-10-10 11:11] whedon commented on #2407
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02407/joss.02407/10.21105.joss.02407.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02407/joss.02407/10.21105.joss.02407.pdf) :page_facing_up: :point_left:

[2020-10-10 11:50] Kevin-Mattheus-Moerman commented on #2498
@moorepants sorry about that. Not sure perhaps @dineshresearch ticked some by accident? Feel free to untick the boxes you meant not to tick yet.

[2020-10-10 11:51] Kevin-Mattheus-Moerman commented on #2498
@dineshresearch thanks for your help here! I see you have left the `State of the field` box :point_up: unchecked. Can you summarize for the authors what action is needed here?

[2020-10-10 11:53] Kevin-Mattheus-Moerman commented on #2548
@AnaWaldila, @CBenghi it looks like the author has made several changes and replied to issues raised. Can you resume review at this point please? Thanks again for your help!

[2020-10-10 14:28] fboehm commented on #2402
@whedon set 10.5281/zenodo.4075110 as archive

[2020-10-10 14:28] whedon commented on #2402
OK. <a href="https://doi.org/10.5281/zenodo.4075110" target="_blank">10.5281/zenodo.4075110</a> is the archive.

[2020-10-10 14:28] fboehm commented on #2402
@whedon set v1.0.1 as version

[2020-10-10 14:28] whedon commented on #2402
OK. v1.0.1 is the version.

[2020-10-10 14:30] fboehm commented on #2402
@whedon accept

[2020-10-10 14:30] whedon commented on #2402
[code]

[2020-10-10 14:31] whedon commented on #2402
[code]

[2020-10-10 14:31] whedon commented on #2402
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1795

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1795, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-10 14:37] whedon commented on #2675
:wave: @rly, please update us on how your review is going.

[2020-10-10 15:04] arfon commented on #2726
@majensen - the syntax is wrong. This should fix things: https://github.com/JHUAPL/PINE/pull/8

[2020-10-10 15:05] fboehm commented on #2716
@whedon assign @raivivek as reviewer

[2020-10-10 15:05] whedon commented on #2716
OK, @raivivek is now a reviewer

[2020-10-10 15:06] majensen commented on #2726
@brantapl can you make the fix mentioned in JHUAPL/PINE#8 ? Thanks!

[2020-10-10 15:18] whedon opened #2739 "[PRE REVIEW]: pfem4ec.jl: Pixel-based Finite Element Method for computing effective electrical conductivity of heterogeneous materials"
**Submitting author:** @victorsapucaia (<a href="http://orcid.org/0000-0002-5394-2603">Victor Wriedt Sapucaia</a>)
**Repository:** <a href="https://github.com/LCC-UFF/pfem4ec" target ="_blank">https://github.com/LCC-UFF/pfem4ec</a>
**Version:** 1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2020-10-10 15:18] whedon commented on #2739
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-10 15:19] whedon commented on #2739
[code]

[2020-10-10 15:19] whedon commented on #2739
[code]

[2020-10-10 15:19] whedon commented on #2739
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02739/joss.02739/10.21105.joss.02739.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02739/joss.02739/10.21105.joss.02739.pdf) :page_facing_up: :point_left:

[2020-10-10 15:20] arfon commented on #2739
@whedon query scope

[2020-10-10 15:20] whedon commented on #2739
Submission flagged for editorial review.

[2020-10-10 17:03] kthyng commented on #2402
Ok I can take over from here! I see that the version and Zenodo archive are taken care of! Paper looks good too. We can move forward.

[2020-10-10 17:03] kthyng commented on #2402
@whedon accept deposit=true

[2020-10-10 17:03] whedon commented on #2402
[code]

[2020-10-10 17:04] whedon commented on #2402
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1314975187318853640) 👈 🐦🐦🐦

[2020-10-10 17:04] whedon commented on #2402
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1796
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02402](https://doi.org/10.21105/joss.02402)
2. If everything looks g

[2020-10-10 17:12] kthyng commented on #2402
Congrats on your new publication @anwarbio!  Thanks to editor @fboehm and reviewers @tomsing1 and @homonecloco for your time and expertise!!

[2020-10-10 17:12] #2402 closed

[2020-10-10 17:12] whedon commented on #2402
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02402/status.svg)](https://doi.org/10.21105/joss.02402)

**We need your help!**

Journal of Open Source Softwa

[2020-10-10 17:16] kthyng commented on #2644
@Christopher-Khan Yes looks good! We can proceed now.

[2020-10-10 17:16] kthyng commented on #2644
@whedon set 10.5281/zenodo.4076520 as archive

[2020-10-10 17:16] whedon commented on #2644
OK. <a href="https://doi.org/10.5281/zenodo.4076520" target="_blank">10.5281/zenodo.4076520</a> is the archive.

[2020-10-10 17:16] kthyng commented on #2644
@whedon accept

[2020-10-10 17:16] whedon commented on #2644
[code]

[2020-10-10 17:17] whedon commented on #2644
[code]

[2020-10-10 17:17] whedon commented on #2644
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1797

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1797, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-10 17:17] kthyng commented on #2644
@whedon accept deposit=true

[2020-10-10 17:18] whedon commented on #2644
[code]

[2020-10-10 17:18] whedon commented on #2644
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1314978698991489026) 👈 🐦🐦🐦

[2020-10-10 17:18] whedon commented on #2644
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1798
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02644](https://doi.org/10.21105/joss.02644)
2. If everything looks g

[2020-10-10 17:19] #2584 closed

[2020-10-10 17:19] whedon commented on #2584
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02584/status.svg)](https://doi.org/10.21105/joss.02584)

**We need your help!**

Journal of Open Source Softwa

[2020-10-10 17:21] kthyng commented on #2644
Congrats on the new publication @Christopher-Khan! Thanks to editor @sjpfenninger and reviewers @marouenbg and @krystophny for your time and expertise!!

(will close this issue once doi resolves)

[2020-10-10 17:24] kthyng commented on #2730
@sbenthall can you edit this submission?

[2020-10-10 17:24] kthyng commented on #2730
@whedon invite @sbenthall as editor

[2020-10-10 17:24] whedon commented on #2730
@sbenthall has been invited to edit this submission.

[2020-10-10 17:25] #2644 closed

[2020-10-10 17:25] whedon commented on #2644
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02644/status.svg)](https://doi.org/10.21105/joss.02644)

**We need your help!**

Journal of Open Source Softwa

[2020-10-10 17:29] kthyng commented on #2528
Ok thanks, that is everything now.

[2020-10-10 17:29] kthyng commented on #2528
@whedon accept

[2020-10-10 17:29] whedon commented on #2528
[code]

[2020-10-10 17:29] whedon commented on #2528
[code]

[2020-10-10 17:30] whedon commented on #2528
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1799

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1799, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-10 17:31] kthyng commented on #2528
@whedon accept deposit=true

[2020-10-10 17:31] whedon commented on #2528
[code]

[2020-10-10 17:32] whedon commented on #2528
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1314982074022060033) 👈 🐦🐦🐦

[2020-10-10 17:32] whedon commented on #2528
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1800
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02528](https://doi.org/10.21105/joss.02528)
2. If everything looks g

[2020-10-10 17:34] jdavidli commented on #2580
@spectralcode I really like the new page you have on performance. It's super helpful and I was able to replicate your performance. Same hardware as previously mentioned.
Volumes/second: 38
Buffers/second: 38
B-scans/second: 9840
A-scans/second: 5.038e6
Buffer size: 256
Data throughput: 9840

I just have a few minor suggestions for the paper itself. In the third line of the introduction, it should

[2020-10-10 17:37] kthyng commented on #2717
Hi! I can take over from here. I do have a question though. It's unusual for a reviewer to not say anything in a review issue — did some part of the review from @clynnes occur offline or just not linked in here so I don't see it?  Was there confirmation that the reviewer is satisfied with proceeding?

[2020-10-10 17:38] kthyng commented on #2717
@davidhassell Please edit the metadata for title and authors for your zenodo archive so the title and author list exactly match your JOSS paper, unless you prefer not to have it match.

[2020-10-10 17:40] kthyng commented on #2528
Congrats on your new publication @andyphilips! Thanks to @sbenthall for editing and to reviewers @stulacy and @dormezil — we couldn't do this without your time and expertise.

[2020-10-10 17:40] #2528 closed

[2020-10-10 17:40] whedon commented on #2528
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02528/status.svg)](https://doi.org/10.21105/joss.02528)

**We need your help!**

Journal of Open Source Softwa

[2020-10-10 17:44] kthyng commented on #2717
The version has been updated, and the paper looks good to me.

[2020-10-10 17:47] sp94 commented on #2678
Hi @dpsanders, any update?

[2020-10-10 17:53] kthyng commented on #2737
@whedon generate pdf

[2020-10-10 17:54] whedon commented on #2737
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02737/joss.02737/10.21105.joss.02737.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02737/joss.02737/10.21105.joss.02737.pdf) :page_facing_up: :point_left:

[2020-10-10 17:55] kthyng commented on #2736
Hi @crvernon! We'll need that information at the end of the review process to make sure everything is up to date at that point, and there should be an up to date zenodo archive at that time too.

[2020-10-10 17:55] kthyng commented on #2736
I'll get back to this next week to get the review going.

[2020-10-10 17:57] kthyng commented on #2737
Ok so @pmeier let me know when you have added a statement of need and I think we can proceed through the much shortened process since this came from pyopensci.

[2020-10-10 17:57] whedon opened #2740 "[PRE REVIEW]: ezc3d: An easy C3D file I/O cross-platform solution for C++, Python and MATLAB"
**Submitting author:** @pariterre (<a href="http://orcid.org/0000-0002-5031-1048">Benjamin Michaud</a>)
**Repository:** <a href="https://github.com/pyomeca/ezc3d" target ="_blank">https://github.com/pyomeca/ezc3d</a>
**Version:** Release_1.3.7
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @melund, @BKillen05
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

D

[2020-10-10 17:58] whedon commented on #2740
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-10 17:58] whedon commented on #2740
Failed to discover a `Statement of need` section in paper

[2020-10-10 17:58] whedon commented on #2740
[code]

[2020-10-10 17:58] whedon commented on #2740
[code]

[2020-10-10 17:58] whedon commented on #2740
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02740/joss.02740/10.21105.joss.02740.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02740/joss.02740/10.21105.joss.02740.pdf) :page_facing_up: :point_left:

[2020-10-10 18:06] kthyng commented on #2740
@luizirber welcome to JOSS! Would you be able to edit this submission? Can't tell if this is close to your expertise at all.

[2020-10-10 18:06] kthyng commented on #2740
@whedon invite @luizirber as editor

[2020-10-10 18:06] whedon commented on #2740
@luizirber has been invited to edit this submission.

[2020-10-10 18:50] usethedata commented on #2717
@kthyng Apologies for not documenting the discussion @clynnes and I had on the subject.  He didn't see anything that needed to be changed beyond what was already addressed.  That's a new reviewer item that I should have handled better.

[2020-10-10 18:58] libertyh commented on #2674
I've also started my review and left some comments about the README and the paper text so far. @oliviaguest I think I may need to be re-invited to the repo (sorry!!) in order to complete the checklist. Will link to my issues in a bit when complete!

[2020-10-10 20:12] Kevin-Mattheus-Moerman commented on #2697
@whedon invite @bstabler as editor

[2020-10-10 20:12] whedon commented on #2697
@bstabler has been invited to edit this submission.

[2020-10-10 21:50] davidhassell commented on #2717
Thank you @kthyng  and @usethedata. I have updated the zenodo archive to match the title and authors in the JOSS paper (https://doi.org/10.5281/zenodo.4075077).

[2020-10-10 21:52] Christopher-Khan commented on #2644
Awesome! Thank you @kthyng! Also, thank you @sjpfenninger, @marouenbg, and @krystophny! This review process has been great!

[2020-10-10 22:51] Christopher-Khan commented on #2644
@whedon set v1.0.2 as version

[2020-10-10 22:51] whedon commented on #2644
I'm sorry @Christopher-Khan, I'm afraid I can't do that. That's something only editors are allowed to do.

[2020-10-10 22:54] Christopher-Khan commented on #2644
@sjpfenninger. Last thing. Do I need to set the version at the top of this review from v1.0.1 to v1.0.2 because that's the newest version that actually got accepted? If so, I believe only editors can do that. Thank you!

[2020-10-11 01:11] mtsch commented on #2614
@juliohm and @sauln thanks again for taking the time to review!

[2020-10-11 09:01] DanielLenz commented on #2663
Hi @arokem , @Nico-Curti ,

I've taken another detailed look at the paper and the repo, and I'm happy to say that I recommend the publication at this point.

There are some minor formatting issues that we discussed, perhaps @arokem can shed some light on this.

Thanks again for your submission and for including the feedback so quickly!

[2020-10-11 09:25] hmacdope commented on #2709
@richardjgowers happy to review.

[2020-10-11 10:25] jorgensd commented on #2687
@arfon I am not able to tick the checklist boxes above, and when trying to accept the invitation I get that it is expired.

[2020-10-11 10:31] oliviaguest commented on #2674
@whedon re-invite @libertyh as reviewer

[2020-10-11 10:31] whedon commented on #2674
OK, the reviewer has been re-invited.

@libertyh please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-10-11 10:32] oliviaguest commented on #2674
No worries, @libertyh. With respect to your feedback please link to all issues you have opened here in this thread, so we can all easily take a look — ta!

[2020-10-11 10:38] jorgensd commented on #2687
@whedon generate pdf

[2020-10-11 10:38] whedon commented on #2687
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02687/joss.02687/10.21105.joss.02687.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02687/joss.02687/10.21105.joss.02687.pdf) :page_facing_up: :point_left:

[2020-10-11 12:33] richardjgowers commented on #2709
@whedon add @hmacdope as reviewer

[2020-10-11 12:34] whedon commented on #2709
OK, @hmacdope is now a reviewer

[2020-10-11 13:52] will-rowe commented on #2473
Thanks @ramadatta. Please can you update the Zenodo repo author list to match the author list of your paper

[2020-10-11 13:53] will-rowe commented on #2473
@whedon set v2.1.1 as version

[2020-10-11 13:53] whedon commented on #2473
OK. v2.1.1 is the version.

[2020-10-11 13:54] will-rowe commented on #2473
Sorry - missed the question re. editing. Sure you can - I will wait before flagging this paper to the editor in chief. Let me know when you are ready for the paper to be accepted. You will need another release/DOI if you make edits, so let me know what they are.

[2020-10-11 13:56] will-rowe commented on #2473
Bioconda recipe is ready to be reviewed and merged (see [here](https://github.com/bioconda/bioconda-recipes/pull/24782)). I had to add the dependencies to the meta.yaml, add the license and sort a name conflict. I also set the recipe to build from your releases, rather than the master branch, which I think is preferred by Bioconda.

[2020-10-11 14:26] galessiorob commented on #2676
Hey @nedRad88 mind commenting on this issue which of the missing items have you added or fixed so the reviewers and I can go back and check? Eg. Tests, statement of purpose, etc.

Thanks!

[2020-10-11 15:25] arokem commented on #2663
Thanks @DanielLenz! I will look into the formatting issues.

@justusschock : when you get a chance, could you please take a look and see whether the outstanding issues you had are addressed in the revision? In particular, I see that you have two check-boxes un-checked at this point. Are both of these points (license and documentation of functionality) addressed?

[2020-10-11 16:29] jbuisine commented on #2658
@whedon generate pdf

[2020-10-11 16:29] whedon commented on #2658
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02658/joss.02658/10.21105.joss.02658.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02658/joss.02658/10.21105.joss.02658.pdf) :page_facing_up: :point_left:

[2020-10-11 16:32] jbuisine commented on #2658
Hello @melissawm, thanks to your advices, I generated a new version of the submited paper. I detailed the purpose and the need of this developed package during my thesis.

Do not hesitate to tell me if something is not very clear or if something seems to be missing.

Thanks in advance.

[2020-10-11 19:07] dstansby commented on #2732
Thanks for taking the time to review it, and thanks for the helpful review!

I think I have addressed each of these issues; see the comments I have left on the individual issues. I'll leave you to close or comment on them as you see fit. Am happy to do a minor release of pfsspy with these changes as a condition of acceptance, but I will wait for reviewer two to comment in case there's some more ch

[2020-10-11 21:16] Himscipy commented on #2664
Hi @iaklampanos ,

Thank you for the details regarding the tests. I agree that due to individual and multiple independent components, setting the testing procedure might be a challenging  procedure.
But a single script to test the coherence all the components  would further consolidate the overall framework robustness. As I user, I would first like to ensure that everything is correctly setup on t

[2020-10-11 23:12] sibirrer commented on #2732
Thanks @dstansby ! These changes address my comments. I am waiting for the other reviewers comments before signing off myself.

[2020-10-12 01:58] ramadatta commented on #2473
Thank you very much @will-rowe - I just made a minor [edit](https://github.com/ramadatta/CPgeneProfiler/commit/0f20d3b746f07e86d70b25d3575bc9052d5e9409#diff-fb6416b20e925ad59e9f77c28b957d88) at **`visualize the set intersections of cocarriage of CP genes`** in the manuscript.

Also, as you suggested, I have updated the CPgeneProfiler [v2.1.1](https://github.com/ramadatta/CPgeneProfiler/compare/v2.

[2020-10-12 02:17] pibion commented on #2693
@caldarolamartin just wanted to make sure you saw this update from @hemanthpruthvi .

[2020-10-12 02:19] pibion commented on #2693
@hemanthpruthvi, I think the idea of an environment file is a good one since the dependencies are somewhat sensitive.  @caldarolamartin , I've always used conda environment files for this.  Do you have any other recommendations?

[2020-10-12 02:20] pibion commented on #2686
@mfeldt apologies for the delay!  I'm still recruiting adaptive optics folks.  If you have any suggestions please let me know.  In the meantime I'll keep looking :)

[2020-10-12 06:06] VincentAlcazer commented on #2630
Dear @mikldk ,

Thank you for giving me the opportunity to have my software reviewed by JOSS. I would like to thanks @nistara and @adithirgis who did an amazing job thoroughly reviewing StatAid and really helped me to improve the software.

Please let me know if there is anything else I should do now for the following submission process.

Best regards,

Vincent Alcazer

[2020-10-12 06:14] jni commented on #2579
@whedon accept

[2020-10-12 06:14] whedon commented on #2579
No archive DOI set. Exiting...

[2020-10-12 06:24] jni commented on #2579
LOL This is my first time accepting a JOSS paper so bear with me... 😅

[2020-10-12 06:24] jni commented on #2579
@whedon check references

[2020-10-12 06:24] whedon commented on #2579
[code]

[2020-10-12 06:50] hugoledoux commented on #2538
@skapfer one last thing needs to be done, you have a release but no version <vX.Y.Z>, since there is none so far I propose naming the release v1.0.0?

I guess it means updating the zenodo too, so please send me back the DOI if modified. Once this is done, we will formally accept it and your paper should be publish within a few days.

[2020-10-12 07:01] jni commented on #2579
@thejohnhoffer @jmuhlich I checked the final proof for typos/small errors, and found just two very minor issues:

- the title for Rashid R et al is "Interpretative guides for interacting with tissue atlas and digital pathology data using the minerva browser" in the paper, but "Online narrative guides for illuminating tissue atlas data and digital pathology images" on biorxiv.
- "targetting" should

[2020-10-12 07:25] justusschock commented on #2663
@arokem, yes they have all been addressed.
I would also recommend the publication at this point.

[2020-10-12 07:48] mikldk commented on #2630
@whedon check references

[2020-10-12 07:48] whedon commented on #2630
[code]

[2020-10-12 07:52] mikldk commented on #2630
Thanks for @nistara and @adithirgis for their reviews.

@VincentAlcazer :

* How does this software compare to [iNZight](https://inzight.nz/)?
* Please have a final read though of the paper, checking language etc.
* Have a final check of the proofs with `@whedon generate pdf`
* Please make a tagged release and archive (e.g. with [Zenodo](https://zenodo.org/)) as described [here](<https://joss.read

[2020-10-12 08:13] xillig commented on #2507
Dear @sara-02, dear @aozorahime,
Thank you very much for your quick answers! We looking forward to get your review @sara-02.
Thanks and all the best!

[2020-10-12 08:20] will-rowe commented on #2473
@whedon set 10.5281/zenodo.4076089 as archive

[2020-10-12 08:20] whedon commented on #2473
OK. <a href="https://doi.org/10.5281/zenodo.4076089" target="_blank">10.5281/zenodo.4076089</a> is the archive.

[2020-10-12 08:20] will-rowe commented on #2473
@whedon accept

[2020-10-12 08:20] whedon commented on #2473
[code]

[2020-10-12 08:21] whedon commented on #2473
[code]

[2020-10-12 08:21] whedon commented on #2473
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1801

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1801, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-12 08:35] AshKelly commented on #2608
I would like to apologise for the delay in my review and thank you for your continued patience. I will complete my review before the end of the week!

[2020-10-12 08:44] VivianePons commented on #2710
@whedon add @williamfgc as reviewer

[2020-10-12 08:44] whedon commented on #2710
OK, @williamfgc is now a reviewer

[2020-10-12 08:44] VivianePons commented on #2710
@whedon start review

[2020-10-12 08:44] whedon opened #2741 "[REVIEW]: ParaMonte: A high-performance serial/parallel Monte Carlo simulation library for C, C++, Fortran"
**Submitting author:** @shahmoradi (<a href="http://orcid.org/0000-0002-9720-8937">Amir Shahmoradi</a>)
**Repository:** <a href="https://github.com/cdslaborg/paramonte" target ="_blank">https://github.com/cdslaborg/paramonte</a>
**Version:** v1.5.1
**Editor:** @VivianePons
**Reviewer:** @milancurcic, @williamfgc
**Archive:** <a href="https://doi.org/10.5281/zenodo.4749957" target="_blank">10.5281/

[2020-10-12 08:44] whedon commented on #2710
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2741.

[2020-10-12 08:44] #2710 closed

[2020-10-12 08:44] whedon commented on #2741
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @milancurcic, @williamfgc it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2020-10-12 08:45] whedon commented on #2741
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02741/joss.02741/10.21105.joss.02741.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02741/joss.02741/10.21105.joss.02741.pdf) :page_facing_up: :point_left:

[2020-10-12 08:46] whedon commented on #2741
[code]

[2020-10-12 08:55] VivianePons commented on #2614
@whedon generate pdf

[2020-10-12 08:55] whedon commented on #2614
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02614/joss.02614/10.21105.joss.02614.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02614/joss.02614/10.21105.joss.02614.pdf) :page_facing_up: :point_left:

[2020-10-12 08:56] VivianePons commented on #2614
@whedon check references

[2020-10-12 08:57] whedon commented on #2614
[code]

[2020-10-12 09:14] skapfer commented on #2538
Good point, the publication is a good point to start semantic versioning. I've tagged v1.0.0 and updated the Zenodo record. The DOI didn't change.

[2020-10-12 09:22] VivianePons commented on #2614
@mtsch I see you give many arXiv references in the bibliography. the arXiv number is always given but the actual link is present only in some ref. Could you put the link on all of them, that makes it easier for the reader to follow the ref!

Once this is done, I need you to make an archive (on Zenodo, or figshare, or other) and give the doi.

Thank you very much!

[2020-10-12 09:37] arfon commented on #2644
@whedon set v1.0.2 as version

[2020-10-12 09:37] whedon commented on #2644
OK. v1.0.2 is the version.

[2020-10-12 09:41] hugoledoux commented on #2538
@whedon set  10.5281/zenodo.4071543 as archive

[2020-10-12 09:41] whedon commented on #2538
OK. <a href="https://doi.org/10.5281/zenodo.4071543" target="_blank">10.5281/zenodo.4071543</a> is the archive.

[2020-10-12 09:42] hugoledoux commented on #2538
@whedon set v1.0.0 as version

[2020-10-12 09:42] whedon commented on #2538
OK. v1.0.0 is the version.

[2020-10-12 09:42] hugoledoux commented on #2538
@whedon accept

[2020-10-12 09:42] whedon commented on #2538
[code]

[2020-10-12 09:42] whedon commented on #2538
PDF failed to compile for issue #2538 with the following error:

 Can't find any papers to compile :-(

[2020-10-12 09:43] tylunel commented on #2637
The changes have been made as proposed in the reviews. I hope that it corresponds well to your expectations @robinroche @samuelduchesne.

There is one point that was maybe not addressed completely as expected, it is for the clear definition of the 2 use cases (penultimate item of @samuelduchesne). On that, I did not want to insist too much on the sizing case, as it is not the core of the package.

[2020-10-12 09:44] hugoledoux commented on #2538
@skapfer the editor-in-chief will now process/finalise the paper. And it should be published pretty soon.

[2020-10-12 09:49] JamieJQuinn commented on #2711
I can also review if you want two reviewers. Let me know.

[2020-10-12 10:21] arfon commented on #2538
@whedon accept from branch joss

[2020-10-12 10:22] whedon commented on #2538
[code]

[2020-10-12 10:22] whedon commented on #2538
[code]

[2020-10-12 10:22] whedon commented on #2538
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1802

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1802, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-12 10:26] mfeldt commented on #2686
Ideal reviewers for the AO part would of course be the authors of the simulation packages under analysis here... e.g.
Francois Rigaut (frigaut),  Marcos van Dam (mvandam), or Rod Conan (rconan).

[2020-10-12 10:40] mtsch commented on #2614
@whedon generate pdf

[2020-10-12 10:40] whedon commented on #2614
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02614/joss.02614/10.21105.joss.02614.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02614/joss.02614/10.21105.joss.02614.pdf) :page_facing_up: :point_left:

[2020-10-12 10:41] mtsch commented on #2614
@VivianePons all references have links now. I made an archive on Zenodo. [Here](https://zenodo.org/record/4081109) is a link.

[2020-10-12 10:57] tuelwer commented on #2481
@gkthiruvathukal Is there anything we can do at the moment?

[2020-10-12 11:37] meg-simula commented on #2682
@whedon assign @jamtrott as reviewer

[2020-10-12 11:37] whedon commented on #2682
OK, @jamtrott is now a reviewer

[2020-10-12 11:41] marcosvital commented on #2692
Hi, @SteveViss and @62442katieb. This is just a gentle reminder about this revision. As always, please let me know if you need any assistance, and don't hesitate to tag @Manolomon if you have any questions about the paper submitted.

[2020-10-12 11:47] danielskatz commented on #2481
👋 @gkthiruvathukal - it looks like this is ready for you to "@whedon accept" and then pass on?

[2020-10-12 11:56] danielskatz commented on #2714
👋 @khourhin - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-pack

[2020-10-12 11:57] danielskatz commented on #2714
@whedon reject

[2020-10-12 11:57] whedon commented on #2714
Paper rejected.

[2020-10-12 11:57] #2714 closed

[2020-10-12 11:57] danielskatz commented on #2720
👋 @katjaq - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-packag

[2020-10-12 11:57] danielskatz commented on #2720
@whedon reject

[2020-10-12 11:58] whedon commented on #2720
Paper rejected.

[2020-10-12 11:58] #2720 closed

[2020-10-12 12:27] danielskatz commented on #2473
Hi - I'm the JOSS AEiC this week, and I'll be finishing the processing of your submission.  There are some wording problems in the paper - please either merge https://github.com/ramadatta/CPgeneProfiler/pull/26 or let me know what you disagree with.  In addition, a number of the references have case issues - please be sure all journals are in Title Case - use {}s in the bib file to protect cases a

[2020-10-12 12:29] danielskatz commented on #2717
@whedon accept deposit=true

[2020-10-12 12:29] whedon commented on #2717
[code]

[2020-10-12 12:31] whedon commented on #2717
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1315631108701249537) 👈 🐦🐦🐦

[2020-10-12 12:31] whedon commented on #2717
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1803
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02717](https://doi.org/10.21105/joss.02717)
2. If everything looks g

[2020-10-12 12:34] danielskatz commented on #2538
@skapfer - please spell out A&A in the references

[2020-10-12 12:35] danielskatz commented on #2538
@arfon - is this waiting for anything else?

[2020-10-12 12:37] danielskatz commented on #2717
Congratulations to @davidhassell (David Hassell) and co-author!!

Thanks to @bradyrx and @clynnes for reviewing!
and @usethedata for editing!

[2020-10-12 12:37] #2717 closed

[2020-10-12 12:37] whedon commented on #2717
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02717/status.svg)](https://doi.org/10.21105/joss.02717)

**We need your help!**

Journal of Open Source Softwa

[2020-10-12 12:42] skapfer commented on #2538
@whedon check references from branch joss

[2020-10-12 12:42] whedon commented on #2538
[code]

[2020-10-12 12:42] whedon commented on #2538
[code]

[2020-10-12 12:42] skapfer commented on #2538
@whedon generate pdf from branch joss

[2020-10-12 12:42] whedon commented on #2538
[code]

[2020-10-12 12:43] whedon commented on #2538
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02538/joss.02538/10.21105.joss.02538.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02538/joss.02538/10.21105.joss.02538.pdf) :page_facing_up: :point_left:

[2020-10-12 12:44] danielskatz commented on #2715
@prdm0 - while this code is somewhat of a wrapper and it is relatively small, after some discussion, we have decided that because of its dynamic properties, it is not just a wrapper, and we will go ahead and review it.

[2020-10-12 12:44] skapfer commented on #2538
@danielskatz Fixed!

[2020-10-12 12:45] danielskatz commented on #2715
👋 @timtroendle - Would you be willing to edit this submission?

[2020-10-12 12:46] danielskatz commented on #2715
@whedon invite @timtroendle as editor

[2020-10-12 12:46] whedon commented on #2715
@timtroendle has been invited to edit this submission.

[2020-10-12 12:50] danielskatz commented on #2728
@whedon invite @leouieda as editor

[2020-10-12 12:50] whedon commented on #2728
@leouieda has been invited to edit this submission.

[2020-10-12 12:50] danielskatz commented on #2728
👋 @leouieda - is there a chance you might be able to edit this submission?

[2020-10-12 12:51] whedon opened #2742 "[PRE REVIEW]: BinMat: an R package and Shiny application for processing binary data obtained from genetic fragment analysis methods"
**Submitting author:** @CJMvS (<a href="http://orcid.org/0000-0002-4219-446X">Clarke van Steenderen</a>)
**Repository:** <a href="https://github.com/CJMvS/BinMat_JOSS" target ="_blank">https://github.com/CJMvS/BinMat_JOSS</a>
**Version:** v0.1.2
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of th

[2020-10-12 12:51] whedon commented on #2742
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-12 12:52] whedon commented on #2742
[code]

[2020-10-12 12:52] whedon commented on #2742
PDF failed to compile for issue #2742 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (a8c3174891a74b887edc939e/Paper/paper.md): could not find expected ':' while scanning a simple key at line 2 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:

[2020-10-12 12:55] danielskatz commented on #2742
👋 @CJMvS - your paper.md is not formatted correctly - see https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography for what is needed.  If you make changes, please add a new comment here with ```@whedon generate pdf``` to check to see if it compiles.  You can also use ```@whedon check references``` to see if references have correct DOIs (as far as whedon can guess).

[2020-10-12 12:56] danielskatz commented on #2742
Also, due to the small size of your code, the editors will discuss the scope of the paper to see if we will review it.  We should make a decision by the end of next week

[2020-10-12 12:56] danielskatz commented on #2742
@whedon scope query

[2020-10-12 12:56] whedon commented on #2742
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-10-12 12:56] danielskatz commented on #2742
@whedon query scope

[2020-10-12 12:56] whedon commented on #2742
Submission flagged for editorial review.

[2020-10-12 13:00] VincentAlcazer commented on #2630
@whedon generate pdf

[2020-10-12 13:16] r03ert0 commented on #2720
Dear @danielskatz,
We understand your decision. We thought our software would fit the criteria because of its usefulness (criterion #6), as manual segmentation of inhomogeneous MRI data is a very frequent challenge for non-human MRI. Our tool has already been cited in one of our papers (criterion #5), and it will be soon cited in another one (from a primate neuroimaging consortium). Its main value

[2020-10-12 13:19] ramadatta commented on #2473
Dear @danielskatz - Thank you very much!

All the edits you made are completely acceptable for us, except the following:

In line 69: Following the terminology of the [paper](https://academic.oup.com/bioinformatics/article/33/18/2938/3884387), we want it to be: **set intersections**

In line 73: N50, N90 and assembly size are 3 different statistics. So, it should be:
**``CPgeneProfiler`` can also

[2020-10-12 13:20] leouieda commented on #2728
@danielskatz I'd be happy to 👌🏽

[2020-10-12 13:20] valeriewelborn commented on #2576
Thanks @richardjgowers. I've just added a brief description of the usage procedure in the paper.

[2020-10-12 13:20] leouieda commented on #2728
@whedon assign @leouieda as editor

[2020-10-12 13:20] whedon commented on #2728
OK, the editor is @leouieda

[2020-10-12 13:26] gkthiruvathukal commented on #2481
@danielskatz Thanks for the gentle nudge!

@99991 I'm ready to move forward with acceptance. There are a few final checks:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo
- [ ] Check the Zenodo deposit has the correct metadata, this includes the title (should match the paper title) and author list (

[2020-10-12 13:34] VincentAlcazer commented on #2630
Dear @mikldk ,

I did not know iNZight which seems to be a pretty good software developed by a serious team. This software is however different from StatAid in multiple points:

-	StatAid is more user-friendly, giving the possibility to quickly plot publication-ready graph or tables. On the contrary, it offers less options than iNZight which provides a more complete environment to modify data and

[2020-10-12 13:36] whedon commented on #2282
:wave: @mikerspencer, please update us on how your review is going.

[2020-10-12 13:38] mikerspencer commented on #2282
Hi, thanks for the check in. Should be finished tomorrow.

[2020-10-12 13:49] kthyng commented on #2728
thanks @danielskatz and @leouieda — I meant to get back to this over the weekend but didn't manage to.

[2020-10-12 13:50] leouieda commented on #2728
👋🏽 Hi @znicholls thank you for the review suggestions!

I had a look at the software repository and the paper. This does seem more than ["3 months of work"](https://joss.readthedocs.io/en/latest/review_criteria.html#substantial-scholarly-effort) to me given that you have invested in a decent amount of testing and the model has been used in research already. Bare in mind that I'm not a climate scie

[2020-10-12 13:57] nnadeau commented on #2533
@kaustubh-sadekar @mjsottile did another review pass. There are some fundamental issues to be addressed, primarily around the significance of the work. As outlined in https://github.com/kaustubh-sadekar/OmniCV-Lib/issues/32 and https://github.com/kaustubh-sadekar/OmniCV-Lib/issues/29, the code appears to mainly be conversion wrappers (e.g., `X to Y`). I'm not convinced that a researcher wouldn't j

[2020-10-12 14:03] danielskatz commented on #2473
I've changed the 2 things you disagreed with - please see if this is now ok, and if so, please merge.

[2020-10-12 14:04] leouieda commented on #2728
:wave: @sadielbartholomew @kdorheim @bradyrx would you be willing to review this submission for [JOSS](https://joss.theoj.org/)? Reviews are done entirely through GitHub (issues and pull requests). These are the reviewer guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is a pre-review issue in which I will assign reviewers. Once there are sufficient reviewers (usually 2

[2020-10-12 14:08] danielskatz commented on #2473
Re cases, I've just gone ahead with https://github.com/ramadatta/CPgeneProfiler/pull/27 - please merge this as well, or again, let me know what you disagree with

[2020-10-12 14:09] CJMvS commented on #2742
@whedon generate pdf

[2020-10-12 14:09] whedon commented on #2742
PDF failed to compile for issue #2742 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (00934c39f12d19325df18b5e/Paper/paper.md): did not find expected key while parsing a block mapping at line 16 column 4 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325

[2020-10-12 14:11] CJMvS commented on #2742
@whedon generate pdf

[2020-10-12 14:11] danielskatz commented on #2720
yes, certainly.

Just to document how much effort has gone into the work, however you feel shows that best.

[2020-10-12 14:13] CJMvS commented on #2742
@whedon generate pdf

[2020-10-12 14:14] whedon commented on #2742
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02742/joss.02742/10.21105.joss.02742.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02742/joss.02742/10.21105.joss.02742.pdf) :page_facing_up: :point_left:

[2020-10-12 14:15] arfon commented on #2538
Nope, good to go as far as I'm concerned.

[2020-10-12 14:16] danielskatz commented on #2538
@whedon accept deposit=true from branch joss

[2020-10-12 14:16] whedon commented on #2538
[code]

[2020-10-12 14:17] CJMvS commented on #2742
@whedon generate pdf

[2020-10-12 14:17] davidhassell commented on #2717
Great - thanks all for helping us get it published.

[2020-10-12 14:17] whedon commented on #2538
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1315657914984652801) 👈 🐦🐦🐦

[2020-10-12 14:17] whedon commented on #2538
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1804
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02538](https://doi.org/10.21105/joss.02538)
2. If everything looks g

[2020-10-12 14:18] whedon commented on #2742
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02742/joss.02742/10.21105.joss.02742.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02742/joss.02742/10.21105.joss.02742.pdf) :page_facing_up: :point_left:

[2020-10-12 14:18] CJMvS commented on #2742
@whedon check references

[2020-10-12 14:20] kdorheim commented on #2728
leouieda unfortunately I am unable to review this at the moment given other time commitments. I am not sure if he is registered to review for JOSS but Alexey Shimnokol (https://github.com/ashiklom) comes to mind as someone who has worked on SCMs, is a good reviewer, a python user, and champion of open source science.

[2020-10-12 14:21] CJMvS commented on #2742
@whedon generate pdf

[2020-10-12 14:21] whedon commented on #2742
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02742/joss.02742/10.21105.joss.02742.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02742/joss.02742/10.21105.joss.02742.pdf) :page_facing_up: :point_left:

[2020-10-12 14:22] tuelwer commented on #2481
@gkthiruvathukal We created a [tagged release](https://github.com/pymatting/pymatting/releases/tag/v1.0.7) of our package. The version number is 1.0.7 and the Zenodo DOI is [`10.5281/zenodo.4081416`](https://zenodo.org/record/4081416).

[2020-10-12 14:22] danielskatz commented on #2538
Congratulations to @skapfer (Sebastian Kapfer) and co-authors!!

Thanks to @kenohori and @rmjarvis for reviewing!
And @hugoledoux for editing!

[2020-10-12 14:22] #2538 closed

[2020-10-12 14:22] whedon commented on #2538
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02538/status.svg)](https://doi.org/10.21105/joss.02538)

**We need your help!**

Journal of Open Source Softwa

[2020-10-12 14:24] CJMvS commented on #2742
@whedon generate pdf

[2020-10-12 14:25] whedon commented on #2742
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02742/joss.02742/10.21105.joss.02742.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02742/joss.02742/10.21105.joss.02742.pdf) :page_facing_up: :point_left:

[2020-10-12 14:27] CJMvS commented on #2742
@whedon generate pdf

[2020-10-12 14:28] whedon commented on #2742
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02742/joss.02742/10.21105.joss.02742.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02742/joss.02742/10.21105.joss.02742.pdf) :page_facing_up: :point_left:

[2020-10-12 14:30] CJMvS commented on #2742
@whedon generate pdf

[2020-10-12 14:31] whedon commented on #2742
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02742/joss.02742/10.21105.joss.02742.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02742/joss.02742/10.21105.joss.02742.pdf) :page_facing_up: :point_left:

[2020-10-12 14:39] whedon commented on #2674
:wave: @rougier, please update us on how your review is going.

[2020-10-12 14:39] whedon commented on #2674
:wave: @libertyh, please update us on how your review is going.

[2020-10-12 14:40] CJMvS commented on #2742
@whedon commands

[2020-10-12 14:40] whedon commented on #2742
Here are some things you can ask me to do:

[code]

[2020-10-12 14:41] CJMvS commented on #2742
@whedon check repository

[2020-10-12 14:41] whedon commented on #2742
[code]

[2020-10-12 14:48] sadielbartholomew commented on #2728
Thanks leouieda. I am very busy this October but in November I will have a lot more free time. I am happy to review assuming the editor and authors wouldn't mind waiting on my review until early November, but that is still a number of weeks away so I appreciate that may be longer than reasonable or desired to wait.

So feel free to assign me to review or not depending on timescales required. Certa

[2020-10-12 14:50] caldarolamartin commented on #2693
Hi @pibion, I've just closed the issue I opened for my review comments. Regarding the dependencies, I've also only used conda environment files, but I know virtualenv can do the same job.

[2020-10-12 15:26] robinroche commented on #2637
@tylunel Thanks, my comments have been addressed. Congratulations on this package that will hopefully be useful to many.

[2020-10-12 15:28] rougier commented on #2674
Good bot ! I forgot to check one box and I just remember I had a question about co-authors. They do not seem to have commited anything in the repo. @alexrockhill Could you explain their role ?

[2020-10-12 15:57] flokno commented on #2671
Hi guys, did you already have a look at the tutorials? Looking forward to your comments.

[2020-10-12 16:05] leouieda commented on #2728
@kdorheim thank you for the suggestion! I'll ping Alexey and see if he's available/interested.

@sadielbartholomew early November is still within the 4-6 weeks we usually recommend for review turn around. I'm happy to assign you as reviewer 🙂

[2020-10-12 16:08] leouieda commented on #2728
:wave: @ashiklom would you be willing to review this submission for [The Journal of Open Source Software (JOSS)](https://joss.theoj.org/)? JOSS is a developer-friendly open-access journal and reviews are done entirely through GitHub (issues and pull requests). These are our reviewer guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html Please see the previous comments in this thre

[2020-10-12 16:17] ramadatta commented on #2473
Thank you @danielskatz - I have merged both the updates. Please let us know if anything else.

[2020-10-12 16:49] luizirber commented on #2740
It isn't my expertise, but I'm willing to try =]

[2020-10-12 16:54] alexrockhill commented on #2674
Dr. Raslan and Dr. Swann have active supervision, review and high-level direction of both the software package and the physical setup for data collection that is used in the example data and discussed in the paper.

[2020-10-12 17:12] kaustubh-sadekar commented on #2533
It is completely true that the researchers who are proficient in writing quick and efficient code would be able to write not just the functionalities provided in the OmniCV package but any other functionalities required in their research. They would hardly need to depend on any external library. But, writing even a small piece of code, even for such researchers would utilize some of their producti

[2020-10-12 17:36] CJMvS commented on #2742
@whedon check references

[2020-10-12 17:37] whedon commented on #2742
[code]

[2020-10-12 17:45] lpantano commented on #2410
Thanks, this should work. I just noticed that the version in setup.py is 0.1.0: https://github.com/girder/viime/blob/master/setup.py#L26. Any chance to update that to the right number and update the tar.gz file so the 1.0.0 version match the code version? it is ok if you need to create a 1.0.1 or any other solution. Thanks!

[2020-10-12 17:51] CJMvS commented on #2742
@whedon check references

[2020-10-12 17:51] whedon commented on #2742
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value ".1111/mec.12844" (NAME) [#<BibTeX::Bibliography data=[3]>, "@", #<BibTeX::Entry >, {:title=>["{Phylogeography of \\textit{Heliconius cydno} and its closest relatives: disentangling their origin and diversification}"], :author=>["Arias, Carlos F and Salazar, Camilo and Rosales, Claudia and Kronforst, Mar

[2020-10-12 17:52] CJMvS commented on #2742
@whedon check references

[2020-10-12 17:53] whedon commented on #2742
[code]

[2020-10-12 17:59] CJMvS commented on #2742
@whedon check references

[2020-10-12 18:00] whedon commented on #2742
[code]

[2020-10-12 18:23] ashiklom commented on #2728
Sure, I'd be happy to review this! To confirm, the review deadline is in the first week or two of November? And, there will be a separate GitHub issue where I do the review?

[2020-10-12 18:36] arbennett commented on #2721
@FrancisBanville - it seems there's no paper in this repository to review. Is the paper in the Mangal.jl repo?

[2020-10-12 18:40] eloisabentivegna commented on #2513
@zingale, did you manage to create the release and the archive? Please let us know if you need assistance.

[2020-10-12 18:58] libertyh commented on #2674
Hi everyone! Thanks @alexrockhill for starting to address my comments. I'm including the issues I opened here:

alexrockhill/pd-parser#6
alexrockhill/pd-parser#7
alexrockhill/pd-parser#8

Most of these have to do with clarifications to the usage of pd-parser so that it's as easy as possible for your end users to get started. I was able to get the code to work on my machine with the jupyter noteboo

[2020-10-12 19:09] prdm0 commented on #2715
Dear @danielskatz , I'm happy to have my tools being evaluated at JOSS. Enabling distribution-independent GNU/Linux users to link R to optimized versions of BLAS is of great use. Thank you all for understanding the importance of the project.

Kind regards,
prdm0.

[2020-10-12 19:31] Christopher-Khan commented on #2644
@arfon Great! Thank you!

[2020-10-12 19:46] VivianePons commented on #2614
Thanks, could you update the meta information of the Zenodo archive so that it has the same title as the paper and complete author name, thank you!

[2020-10-12 19:47] danielskatz commented on #2473
@whedon accept

[2020-10-12 19:47] whedon commented on #2473
[code]

[2020-10-12 19:48] whedon commented on #2473
[code]

[2020-10-12 19:48] whedon commented on #2473
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1805

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1805, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-12 19:50] danielskatz commented on #2473
@whedon accept deposit=true

[2020-10-12 19:50] whedon commented on #2473
[code]

[2020-10-12 19:51] whedon commented on #2473
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1315741873512775680) 👈 🐦🐦🐦

[2020-10-12 19:51] whedon commented on #2473
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1806
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02473](https://doi.org/10.21105/joss.02473)
2. If everything looks g

[2020-10-12 19:54] danielskatz commented on #2473
Congratulations to @ramadatta (Prakki Sai Rama Sridatta) and co-authors!!

Thanks to editor @will-rowe and reviewer: @fmaguire & @boasvdp!

[2020-10-12 19:54] #2473 closed

[2020-10-12 19:54] whedon commented on #2473
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02473/status.svg)](https://doi.org/10.21105/joss.02473)

**We need your help!**

Journal of Open Source Softwa

[2020-10-12 21:15] FrancisBanville commented on #2721
@arbennett - The paper is in the branch `joss-article` of the `EcologicalNetworks.jl` repository.

Sorry for the confusion!

[2020-10-12 21:40] jorgensd commented on #2687
@whedon commands

[2020-10-12 21:40] whedon commented on #2687
Here are some things you can ask me to do:

[code]

[2020-10-12 21:54] pdebuyl commented on #2653
@coatless @agisga a complete review is expected by the middle of next week. Intermediate questions and comments to the author are also welcome on this page, as the review process of JOSS enables this type of communication.

[2020-10-12 22:15] fboehm commented on #2716
@whedon add @dwinter as reviewer

[2020-10-12 22:15] whedon commented on #2716
OK, @dwinter is now a reviewer

[2020-10-12 22:17] fboehm commented on #2716
@whedon start review

[2020-10-12 22:17] whedon opened #2743 "[REVIEW]: REGENS: an open source Python package for simulating realistic autosomal genotypes"
**Submitting author:** @greggj2016 (<a href="http://orcid.org/0000-0002-2619-3440">John Gregg</a>)
**Repository:** <a href="https://github.com/EpistasisLab/regens" target ="_blank">https://github.com/EpistasisLab/regens</a>
**Version:** v0.2.0c
**Editor:** @fboehm
**Reviewer:** @raivivek, @dwinter
**Archive:** <a href="https://doi.org/10.5281/zenodo.4289063" target="_blank">10.5281/zenodo.4289063<

[2020-10-12 22:17] whedon commented on #2716
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2743.