[2020-03-17 14:15] Shibabrat commented on #2149
@arfon yes I'm happy to review this submission. Some of the applications are outside my domain expertise so I'll rely on other reviewers to open issues in the repo about that.

thanks

[2020-03-17 14:16] kbarnhart commented on #2043
@whedon set v1.1.0 as version

[2020-03-17 14:16] whedon commented on #2043
OK. v1.1.0 is the version.

[2020-03-17 14:17] kbarnhart commented on #2043
@whedon accept

[2020-03-17 14:17] whedon commented on #2043
[code]

[2020-03-17 14:17] whedon commented on #2043
[code]

[2020-03-17 14:17] whedon commented on #2043
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published

. Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1371

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1371, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-03-17 14:18] evanleeturner commented on #2063
Looks like i was able to check off the first items...

I am ready to accept this paper!

[2020-03-17 14:18] kbarnhart commented on #2043
Nice work @anowacki! Thanks to @daniellivingston and @joa-quim for your reviews.

I've now recommended that this be accepted and handed it off to the JOSS Editors in Chief who handle final processing.

[2020-03-17 14:22] arfon commented on #2043
@whedon accept deposit=true

[2020-03-17 14:22] whedon commented on #2043
[code]

[2020-03-17 14:23] whedon commented on #2043
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1239920238424199169) 👈 🐦🐦🐦

[2020-03-17 14:23] whedon commented on #2043
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1372
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02043](https://doi.org/10.21105/joss.02043)
2. If everything looks g

[2020-03-17 14:23] anowacki commented on #2043
Thanks once again, @kbarnhart, @daniellivingston and @joa-quim.  The process has been a great pleasure.

[2020-03-17 14:25] arfon commented on #2043
@daniellivingston, @joa-quim - many thanks for your reviews and to @kbarnhart for editing this submission ✨

@anowacki - your paper is now published in JOSS :zap::rocket::boom:

[2020-03-17 14:25] #2043 closed

[2020-03-17 14:25] whedon commented on #2043
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02043/status.svg)](https://doi.org/10.21105/joss.02043)

**We need your help!**

Journal of Open Source Softwa

[2020-03-17 14:25] evanleeturner commented on #2063
Thanks everyone so much for your patience!  Everything is crazy crazy here for Covid-19 and I'm working remote today.. so want to get this accepted and done while I am online!

[2020-03-17 14:28] arfon commented on #2063
@evanleeturner - thanks for the update. Just verifying that you've completed your review? If so, could you update the checklist accordingly (if permissions are fixed for you now).

[2020-03-17 14:39] evanleeturner commented on #2063
Yes, I am finished. When I click one box it sits there and locks the others - so just keeping diligent here and checking all of them as they open up for me.

[2020-03-17 15:22] arfon commented on #2165
@whedon add @Shibabrat as reviewer

[2020-03-17 15:22] whedon commented on #2165
OK, @Shibabrat is now a reviewer

[2020-03-17 15:23] arfon commented on #2165
@Shibabrat - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2020-03-17 15:24] arfon commented on #2149
Excellent, thanks @Shibabrat. See you over in #2165 for the actual review.

[2020-03-17 15:24] #2149 closed

[2020-03-17 15:37] szhorvat commented on #2149
@arfon Do you still want me to do it then? As I mentioned, I skimmed the paper and I am willing to do it.

[2020-03-17 16:26] arfon commented on #2149
Yes please! I'll add you as a reviewer now.

[2020-03-17 16:27] arfon commented on #2165
@whedon add @szhorvat as reviewer

[2020-03-17 16:27] whedon commented on #2165
OK, @szhorvat is now a reviewer

[2020-03-17 16:29] arfon commented on #2165
@szhorvat - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2020-03-17 16:36] samjsilva91 commented on #1918
Hi, to update you: I'm waiting to hear back on issues related to installation before wrapping up the review.

[2020-03-17 16:42] vanbenschoten commented on #2159
@arfon thanks for the notification! We're in a good spot to continue the article's review (but we understand that things might be crazy on your end, so no rush :) )

[2020-03-17 20:12] csoneson commented on #1991
@whedon generate pdf

[2020-03-17 20:13] whedon commented on #1991
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01991/joss.01991/10.21105.joss.01991.pdf)

[2020-03-17 20:14] csoneson commented on #1991
@whedon check references

[2020-03-17 20:14] whedon commented on #1991
[code]

[2020-03-17 20:21] arfon commented on #1991
@csoneson & @malcolmbarrett - [this PR](https://github.com/USCbiostats/partition/pull/18) fixes that DOI issue that Whedon is complaining about.

[2020-03-17 20:40] marcosvital commented on #1941
Good! I'll start the final steps towards acceptance.

[2020-03-17 20:40] malcolmbarrett commented on #1991
Thanks, it's been merged!

[2020-03-17 20:41] csoneson commented on #1991
Thanks @arfon.

@malcolmbarrett - in addition to this PR, could you please take a look at the other references:
* there are a few places where you need case protection (using {}); such as R, Barnes-Hut and journal titles
* please provide a link to the Cluster package for consistency
* the Partition publication details should be updated

Next, could you please:
- [ ] create a tagged release of the

[2020-03-17 20:43] marcosvital commented on #1941
@whedon set 10.21105.joss.01941 as archive

[2020-03-17 20:43] whedon commented on #1941
10.21105.joss.01941 doesn't look like an archive DOI.

[2020-03-17 20:46] marcosvital commented on #1941
Sorry, my mistake.

[2020-03-17 20:46] marcosvital commented on #1941
@whedon set 10.5281/zenodo.3711046 as archive

[2020-03-17 20:46] whedon commented on #1941
OK. <a href="https://doi.org/10.5281/zenodo.3711046" target="_blank">10.5281/zenodo.3711046</a> is the archive.

[2020-03-17 20:48] marcosvital commented on #1941
@whedon set v0.3-6 as version

[2020-03-17 20:48] whedon commented on #1941
OK. v0.3-6 is the version.

[2020-03-17 20:48] marcosvital commented on #1941
@whedon accept

[2020-03-17 20:48] whedon commented on #1941
[code]

[2020-03-17 20:49] whedon commented on #1941
[code]

[2020-03-17 20:49] whedon commented on #1941
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published

. Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1373

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1373, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-03-17 20:58] arfon commented on #1941
@whedon accept deposit=true

[2020-03-17 20:58] whedon commented on #1941
[code]

[2020-03-17 20:59] whedon commented on #1941
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1240019838568931333) 👈 🐦🐦🐦

[2020-03-17 20:59] whedon commented on #1941
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1374
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01941](https://doi.org/10.21105/joss.01941)
2. If everything looks g

[2020-03-17 21:01] arfon commented on #1941
@wjakethompson, @jrosen48 - many thanks for your reviews here and to @marcosvital for editing this submission ✨

@cddesja - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-03-17 21:01] #1941 closed

[2020-03-17 21:01] whedon commented on #1941
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01941/status.svg)](https://doi.org/10.21105/joss.01941)

**We need your help!**

Journal of Open Source Softwa

[2020-03-17 21:11] malcolmbarrett commented on #1991
Ok, the first part is done, as are the fixes recommended by @lmweber.

I also created a release and the Zenodo archive, for which the doi is 10.5281/zenodo.3713898. I'm not sure what you mean by archived version number. Do you mean the software version? We archived a development version, `0.1.1.9000`, but the current CRAN release is `0.1.1`.

[2020-03-17 21:19] csoneson commented on #1991
@whedon generate pdf

[2020-03-17 21:19] whedon commented on #1991
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01991/joss.01991/10.21105.joss.01991.pdf)

[2020-03-17 21:24] okanbulut commented on #1941
Thank you very much!

[2020-03-17 22:40] MetabolomicsAustralia-Bioinformatics commented on #2163
Hi Roderick,

Thanks for your input. I’ve just enabled GitHub issues on the repo (a bit surprised it’s not enabled by default!)

Regards,

don
On 17 Mar 2020, 3:35 PM +1100, Roderick Bovee <notifications@github.com>, wrote:

[2020-03-17 23:15] cMadan commented on #1847
@gkiar @yarikoptic, great, thank you for both agreeing! I'll start the review, but do consider that we understand that you may need more time than normally to work on reviews based on current world events (particularly in relation to COVID-19).

[2020-03-17 23:16] cMadan commented on #1847
@whedon add @gkiar as reviewer

[2020-03-17 23:16] whedon commented on #1847
OK, @gkiar is now a reviewer

[2020-03-17 23:16] cMadan commented on #1847
@whedon add @yarikoptic as reviewer

[2020-03-17 23:16] whedon commented on #1847
OK, @yarikoptic is now a reviewer

[2020-03-17 23:16] cMadan commented on #1847
@whedon start review

[2020-03-17 23:16] whedon opened #2166 "[REVIEW]: COINSTAC: Collaborative Informatics and Neuroimaging Suite Toolkit for Anonymous Computation"
**Submitting author:** @hvgazula (<a href="http://orcid.org/0000-0001-9318-8871">Harshvardhan Gazula</a>)
**Repository:** <a href="https://github.com/trendscenter/coinstac" target ="_blank">https://github.com/trendscenter/coinstac</a>
**Version:** v5.1.3
**Editor:** @cMadan
**Reviewer:** @gkiar, @yarikoptic
**Archive:** <a href="https://doi.org/10.5281/zenodo.4111006" target="_blank">10.5281/zenod

[2020-03-17 23:16] whedon commented on #1847
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2166.

[2020-03-17 23:16] #1847 closed

[2020-03-17 23:16] whedon commented on #2166
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @gkiar, @yarikoptic it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2020-03-17 23:16] whedon commented on #2166
PDF failed to compile for issue #2166 with the following error:

 Can't find any papers to compile :-(

[2020-03-18 00:56] kboone commented on #2122
I have attached my review. I have a couple of minor suggestions that should be fixed before accepting this paper for publication.

[JOSS Review #2122.pdf](https://github.com/openjournals/joss-reviews/files/4346420/JOSS.Review.2122.pdf)

[2020-03-18 03:03] Samreay commented on #2122
Hey Kyle! I've made the requested changes to improve the documentation and pushed them out. You can verify the changes here: https://github.com/Samreay/Pippin/commit/7e4c108d086e00c79d436ddc37dd92dc824f0062

Cheers!

[2020-03-18 03:25] gkiar commented on #2166
@whedon generate pdf from branch paper-branch

[2020-03-18 03:25] whedon commented on #2166
[code]

[2020-03-18 03:26] whedon commented on #2166
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02166/joss.02166/10.21105.joss.02166.pdf)

[2020-03-18 03:37] arbennett commented on #2042
@dsryberg and @Chilipp thanks to both of you for the really constructive reviews! I definitely feel like this whole process has made MetSim more accessible and uncovered a couple of bugs that are now fixed.

@sjpfenninger - let me know if there's anything else to do whenever you get around to looking at this again.

@arfon (and really the rest of you) - I just wanted to say how nice this review fo

[2020-03-18 08:04] johannes-titz commented on #2116
@aj2duncan, @strengejacke I had some time to check out how to implement the suggested features and would like to give you an update:

First of all, a progress bar is quite hard to implement for two reasons: (1) It is not easy to predict how many iteration steps are necessary for convergence and (2) At the moment I do not know how to access the iteration steps without “hacking” lme4 (I asked a ques

[2020-03-18 09:50] pdebuyl commented on #2072
Hi @SirSharpest (sorry for the delay. I still work but organization is different. Belgium ordered confinement, all nonessential displacements are forbidden) , there remain issues among the ones I raised.

   In the test below, the sphere is of volume 1 (thus radius of about 0.62) but the test `in_sphere` is for a radius of 1, so the test is too tolerant.
[code]

A variation such as `in_sphere(fibo

[2020-03-18 10:34] whedon commented on #2136
:wave: @sara-02, please update us on how your review is going.

[2020-03-18 10:53] arfon commented on #2042
@whedon generate pdf

[2020-03-18 10:54] whedon commented on #2042
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02042/joss.02042/10.21105.joss.02042.pdf)

[2020-03-18 11:00] arfon commented on #2042
@arbennett - I found an issue with your figure labels (Pandoc numbers these automatically). https://github.com/UW-Hydro/MetSim/pull/214 fixes this.

I'm not sure if @sjpfenninger is online currently but I'd like to give him a little time to wrap make his final checks on this before handing it off to the EiCs for publishing.

[2020-03-18 12:05] csoneson commented on #1991
@malcolmbarrett - apologies for the unclarity on my side. The archived version number I meant is the release tag. In your case it's `joss` - we typically prefer semantic versioning (so the tag would be e.g. `v0.1.1.9000`), but if you have a reason for preferring `joss`, that would be ok too.

For the Zenodo record, please fix the title and author list so that they are identical to those of the pap

[2020-03-18 13:25] arfon commented on #2159
@suyashkumar, @robohyun66, @galenstocking, @ionlights - would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-03-18 13:54] balhoff commented on #2140
@majensen I can review. I like the idea of a relaxed schedule—I may not be able to begin this week.

[2020-03-18 15:08] wdduncan commented on #2140
@majensen
Thanks! I should be able to start next week.

[2020-03-18 15:21] malcolmbarrett commented on #1991
Oh, sorry, it looks like my changes weren't published. The title and authors should match now. I'm ok with using `v0.1.1.9000`; I only meant to distinguish the release from a proper CRAN release. I changed it to the development version number for both the GitHub release and the Zenodo release. Thanks for clarifying; that was helpful!

[2020-03-18 15:24] sjpfenninger commented on #2042
@arbennett Apologies for the delay and thanks for your work addressing the reviewer comments. It looks like this is ready for acceptance. Just one quick question - you mentioned updating the version, but I'm not sure what you mean, can you clarify?

[2020-03-18 15:25] sjpfenninger commented on #2042
@Chilipp @dsryberg Thanks both for your work reviewing this submission!

[2020-03-18 15:34] arfon commented on #2126
:wave: @hugoledoux - I realize this isn't close to your fields/disciplines but given the pause in submissions for JOSS right now, this is the only paper currently without an editor assigned.

Are you OK for me to go ahead and assign this to you?

[2020-03-18 15:48] arbennett commented on #2042
@sjpfenninger Up on the header of this review it has: Version: v2.2.0

I'm wondering if it's possible/necessary to change this to v2.2.1 since we've fixed some bugs since submission. It seems it's not really referenced in the paper or my submission on the JOSS website so maybe this isn't needed.

[2020-03-18 16:45] csoneson commented on #1991
@whedon check references

[2020-03-18 16:45] whedon commented on #1991
[code]

[2020-03-18 16:47] csoneson commented on #1991
@malcolmbarrett perfect, thanks, this looks all good. One final detail: could you add the volume/page information for the Millstein et al (2020) reference? Then we are ready for the final acceptance.

[2020-03-18 17:02] malcolmbarrett commented on #1991
Fixed! I also made the page numbers consistent in general.

[2020-03-18 17:03] csoneson commented on #1991
@whedon generate pdf

[2020-03-18 17:03] whedon commented on #1991
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01991/joss.01991/10.21105.joss.01991.pdf)

[2020-03-18 17:08] csoneson commented on #1991
@whedon set 10.5281/zenodo.3713898 as archive

[2020-03-18 17:08] whedon commented on #1991
OK. <a href="https://doi.org/10.5281/zenodo.3713898" target="_blank">10.5281/zenodo.3713898</a> is the archive.

[2020-03-18 17:08] csoneson commented on #1991
@whedon set v0.1.1.9000 as version

[2020-03-18 17:08] whedon commented on #1991
OK. v0.1.1.9000 is the version.

[2020-03-18 17:09] csoneson commented on #1991
Looks all good! I'm handing over to the editor in chief on rotation for the final publication step.

[2020-03-18 17:09] csoneson commented on #1991
@whedon accept

[2020-03-18 17:09] whedon commented on #1991
[code]

[2020-03-18 17:10] whedon commented on #1991
[code]

[2020-03-18 17:10] whedon commented on #1991
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1375

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1375, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-03-18 17:12] arfon commented on #1991
@whedon accept deposit=true

[2020-03-18 17:12] whedon commented on #1991
[code]

[2020-03-18 17:13] whedon commented on #1991
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1240325508560232450) 👈 🐦🐦🐦

[2020-03-18 17:13] whedon commented on #1991
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1376
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01991](https://doi.org/10.21105/joss.01991)
2. If everything looks g

[2020-03-18 17:19] arfon commented on #1991
@lmweber, @clauswilke - many thanks for your reviews here and to @csoneson for editing this submission ✨

@malcolmbarrett - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-03-18 17:19] #1991 closed

[2020-03-18 17:19] whedon commented on #1991
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01991/status.svg)](https://doi.org/10.21105/joss.01991)

**We need your help!**

Journal of Open Source Softwa

[2020-03-18 17:22] malcolmbarrett commented on #1991
Woohoo! Thanks so much, @csoneson and @arfon for the great editorial and submission process, and thanks again to @clauswilke and @lmweber for the very helpful reviews! We're grateful for the improvements to our software and paper that resulted from the process.

May you all stay healthy during this challenging time!

[2020-03-18 18:27] hugoledoux commented on #2126
ok sure

[2020-03-18 18:30] arfon commented on #2126
@whedon assign @hugoledoux as editor

[2020-03-18 18:30] whedon commented on #2126
OK, the editor is @hugoledoux

[2020-03-18 18:31] arfon commented on #2126
👍 thanks @hugoledoux. Over to you and @flammie to identify some potential reviewers together.

[2020-03-18 19:40] kboone commented on #2122
The changes look good, and they address my concerns. I recommend this paper for acceptance.

[2020-03-18 19:45] Marcdh3 commented on #1983
@arfon @akeshavan I understand the submission process is undergoing changes in light of the pandemic, so I would like to inquire the status of our submission. I believe the process to being accepted was initiated approximately two weeks ago, but Whedon has not taken any actions.

[2020-03-18 19:54] arfon commented on #1983
@whedon accept

[2020-03-18 19:54] whedon commented on #1983
[code]

[2020-03-18 19:55] whedon commented on #1983
[code]

[2020-03-18 19:55] whedon commented on #1983
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1377

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1377, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-03-18 19:56] arfon commented on #1983
@whedon accept deposit=true

[2020-03-18 19:56] whedon commented on #1983
[code]

[2020-03-18 19:57] whedon commented on #1983
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1240366839206723584) 👈 🐦🐦🐦

[2020-03-18 19:57] whedon commented on #1983
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1378
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01983](https://doi.org/10.21105/joss.01983)
2. If everything looks g

[2020-03-18 19:59] arfon commented on #1983
@serine, @vc1492a - many thanks for your reviews here and to @akeshavan for editing this submission ✨

@Marcdh3 - apologies for the delay here. Your paper is now accepted into JOSS :zap::rocket::boom:

[2020-03-18 19:59] #1983 closed

[2020-03-18 19:59] whedon commented on #1983
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01983/status.svg)](https://doi.org/10.21105/joss.01983)

**We need your help!**

Journal of Open Source Softwa

[2020-03-18 20:00] Marcdh3 commented on #1983
Thank you everyone!

[2020-03-18 21:01] kbarnhart commented on #1969
@rgmyr - I wanted to check in and see where you and co-authors are regarding outstanding issues.

[2020-03-18 21:03] kbarnhart commented on #1978
@cmillion and @mollenburger, if you are able, would you be able to complete your reviews?

[2020-03-18 21:15] rgmyr commented on #1969
@karbarnhart We've obviously pushed things back a little bit, but in the coming weeks we intend to have updates that will hopefully address all of the current issues.

[2020-03-18 21:16] aj2duncan commented on #2116
@johannes-titz I really like those changes that you've made. The spinner that you've added is just exactly the thing that I was thinking about, rather than something more accurate using the convergence of lme4. I also like the reactive vs non-reactive mode. Very simple to use. Changing between the two settings did also show/hide the contributions, which you may want to tweak.

Otherwise, really li

[2020-03-18 21:23] kbarnhart commented on #1969
@rgmyr sounds good and thanks for the update.

[2020-03-18 21:43] mbobra commented on #2151
@whedon add @justinsalamon as reviewer

[2020-03-18 21:43] whedon commented on #2151
OK, @justinsalamon is now a reviewer

[2020-03-18 21:44] mbobra commented on #2151
@whedon start review

[2020-03-18 21:44] whedon opened #2167 "[REVIEW]: Pydiogment: A Python package for audio augmentation"
**Submitting author:** @SuperKogito (<a href="http://orcid.org/0000-0002-5610-9086">Ayoub Malek</a>)
**Repository:** <a href="https://github.com/SuperKogito/pydiogment" target ="_blank">https://github.com/SuperKogito/pydiogment</a>
**Version:** v0.1.0
**Editor:** @mbobra
**Reviewer:** @bmcfee, @justinsalamon
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/d5430f38bce0b020

[2020-03-18 21:44] whedon commented on #2151
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2167.

[2020-03-18 21:44] #2151 closed

[2020-03-18 21:44] whedon commented on #2167
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @bmcfee, @justinsalamon it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2020-03-18 21:44] whedon commented on #2167
[code]

[2020-03-18 21:44] whedon commented on #2167
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02167/joss.02167/10.21105.joss.02167.pdf)

[2020-03-18 21:46] mbobra commented on #2167
@bmcfee @justinsalamon Thank you for agreeing to review this submission! Whedon generated a checklist and linked a reviewer guide above -- please let me know if you have any questions or comments. Feel free to message each other and the submitting author. And I know it is a difficult time to get work done; JOSS' position at the moment is that there is no pressure on reviewers or editors for the ne

[2020-03-18 22:34] amandadumi commented on #2157
@thesketh ha! I have never noticed that in RDKit documentation! Thanks for explaining, that makes sense then.

[2020-03-18 22:34] lpantano commented on #2077
Hey @i-mtz, I hope all is good. Do you have an update for this tool?

@JoaoRodrigues, were all your comments resolved?

Thanks

[2020-03-18 22:36] lpantano commented on #2129
@whedon invite @MatthewHaas as reviewer

[2020-03-18 22:36] whedon commented on #2129
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-03-18 22:36] JoaoRodrigues commented on #2077
Hi @lpantano , I haven't had time to go over the changes in detail yet, but the message from @NicoRenaud seems to address most of my comments. I am a bit swamped today, but this is on my to-do list for this week. Is that OK? Sorry for the delay in reviewing

[2020-03-18 22:36] lpantano commented on #2129
@whedon commands

[2020-03-18 22:36] whedon commented on #2129
Here are some things you can ask me to do:

[code]

[2020-03-18 22:38] lpantano commented on #2129
Hi  @MatthewHaas, this tool may be interesting to you. Would you like to review this tool for Journal of Open Source Software? Cheers

[2020-03-18 22:40] lpantano commented on #2077
All good, thank you!

[2020-03-18 23:38] arfon commented on #2129
@lpantano - I'm afraid Whedon doesn't know how to do this yet for reviewers.

[2020-03-19 03:12] amandadumi commented on #2157
## Documentation
@thesketh, your README is very well done and clear.  I am also very happy to see the use of typing in your code! I found it very useful.  Additionally, I found that your function commenting was thorough!

Two small issues:
- [ ] Echoing the point made above, I would like clearer examples of using this package as a Python library, especially since the capability is stated in the RE

[2020-03-19 04:23] klho commented on #1906
@whedon generate pdf

[2020-03-19 04:23] whedon commented on #1906
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01906/joss.01906/10.21105.joss.01906.pdf)

[2020-03-19 04:23] klho commented on #1906
@whedon check references

[2020-03-19 04:24] whedon commented on #1906
[code]

[2020-03-19 04:28] klho commented on #1906
@whedon generate pdf

[2020-03-19 04:29] whedon commented on #1906
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01906/joss.01906/10.21105.joss.01906.pdf)

[2020-03-19 04:29] klho commented on #1906
@whedon check references

[2020-03-19 04:29] whedon commented on #1906
[code]

[2020-03-19 04:31] klho commented on #1906
Please see the following changes:

0. I've added a subtitle to the paper so that it now reads "FLAM: Fast Linear Algebra in MATLAB - Algorithms for Hierarchical Matrices". A similar addition has been made to the README.

1. I've elaborated on the example in the README and tried to emphasize why the example is impressive. However, I'm a little at a loss on how to make it much more approachable: sho

[2020-03-19 04:35] malramsay64 commented on #2160
Hi @hema-ted and @dfm,

I have had the opportunity to complete my review. The final (very minor) outstanding issue is https://github.com/hema-ted/pyzfs/issues/9 which will likely be addressed very shortly. Thank you @hema-ted for being so quick to respond and address feedback.

[2020-03-19 07:49] alletsee commented on #2164
Dear @Nicolas-Schmidt and @Sergio-Bejar,

Thanks for submitting the software and this paper - and congratulations for publishing the academic paper in PA!

I'm currently reviewing the package and have a few minor questions:
- Tests: I couldn't see any automated testing integrated in the paper, but this is part of the JOSS checklist. Did I overlook something? Or can we maybe use something as a surr

[2020-03-19 08:16] johannes-titz commented on #2116
@aj2duncan Thank you very much! Regarding the problem with showing/hiding the contributions, I am not able to reproduce it. When exactly does it happen? Which browser are you using?

[2020-03-19 08:40] sara-02 commented on #2136
Hey, where can I view the updated paper? I was earlier looking at the link provided here https://github.com/openjournals/joss-reviews/issues/2136#issuecomment-594364581

[2020-03-19 08:42] mado89 commented on #2153
@arfon Sorry to hear about the closing down. Hopefully, once my submission is ready everything is back to normal
@arcuri82 just wanted to let you know I haven't forgotten about this. I am a bit behind schedule but I hope to start on the weekend or next week. Sorry for the delay

[2020-03-19 09:09] strengejacke commented on #2116
@cMadan @johannes-titz From my perspective, all issues have been addressed, as well.

[2020-03-19 09:16] faroit commented on #2154
Sorry for the delay. Things are a bit rough over here in 🇫🇷 . I will hopefully able to provide a review by next week.

[2020-03-19 09:16] faroit commented on #2135
Sorry for the delay. Things are a bit rough over here in 🇫🇷 . I will hopefully able to provide a review by next week.

[2020-03-19 10:34] sap218 commented on #2140
Hi all ( @majensen @balhoff @wdduncan ), thank you for taking the time, please do work at your own pace - let me know if you need anything from my end :-)

[2020-03-19 10:35] pitsianis commented on #1906
For some reason the system does not let me check the remaining two checkboxes.
I approve the publication of this paper with the latest changes.
@melissawm @arfon please help me bring this to a closure, if possible.

[2020-03-19 10:45] arfon commented on #2122
@whedon generate pdf

[2020-03-19 10:46] whedon commented on #2122
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02122/joss.02122/10.21105.joss.02122.pdf)

[2020-03-19 10:54] arfon commented on #2122
@Samreay - a few comments on your paper:

Do you want the title to be only 'Pippin'? _Pippin: A pipeline for supernova cosmology_ seems more descriptive?

to reduce manual labour. For the DES-5YR analysis, which greatly increases complexity, I
implement this pipeline to increase researcher productivity.

This ☝️ paragraph reads a little weirdly. You're using 'we' and then 'I' in the same sentence.

[2020-03-19 10:54] arfon commented on #2122
@whedon check references

[2020-03-19 10:55] whedon commented on #2122
[code]

[2020-03-19 10:56] arfon commented on #2136
@sara-02 - you can ask @whedon for a preview at any time like this 👇

[2020-03-19 10:56] arfon commented on #2136
@whedon generate pdf

[2020-03-19 10:56] whedon commented on #2136
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02136/joss.02136/10.21105.joss.02136.pdf)

[2020-03-19 11:04] Samreay commented on #2122
Hi @arfon, I've made the I/we consistent change in the latest commit. The SALT2 paper reference is still in draft and yet to be submitted. Github -> GitHub, and a link to the developer doco has been added.

[2020-03-19 11:04] Samreay commented on #2122
@whedon generate pdf

[2020-03-19 11:05] whedon commented on #2122
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02122/joss.02122/10.21105.joss.02122.pdf)

[2020-03-19 11:51] arfon commented on #2122
@Samreay - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the autho

[2020-03-19 11:59] Samreay commented on #2122
Done and done! :)

https://zenodo.org/record/3716116

[2020-03-19 12:03] arfon commented on #2122
@Samreay - last time I'll ask I promise (as the title of the Zenodo release is _Pippin: A pipeline for supernova cosmology_. You definitely want the title of the JOSS paper to only be _Pippin_?

[2020-03-19 12:05] Samreay commented on #2122
Oh I thought the title was the full "Pippin: A pipeline for supernova cosmology", as it is in this review. Definitely the full name makes more sense haha

[2020-03-19 12:07] arfon commented on #2122
Glad I checked :-) https://github.com/Samreay/Pippin/pull/3 fixes this.

[2020-03-19 12:07] Samreay commented on #2122
Ah right, the paper.md, of course! Thanks for the fix! :)

[2020-03-19 12:09] arfon commented on #2122
@whedon set 10.5281/zenodo.3716116 as archive

[2020-03-19 12:09] whedon commented on #2122
OK. <a href="https://doi.org/10.5281/zenodo.3716116" target="_blank">10.5281/zenodo.3716116</a> is the archive.

[2020-03-19 12:09] arfon commented on #2122
@whedon accept

[2020-03-19 12:09] whedon commented on #2122
[code]

[2020-03-19 12:09] whedon commented on #2122
[code]

[2020-03-19 12:09] whedon commented on #2122
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1379

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1379, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-03-19 12:11] arfon commented on #2122
@whedon accept deposit=true

[2020-03-19 12:11] whedon commented on #2122
[code]

[2020-03-19 12:12] whedon commented on #2122
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1240612065666088961) 👈 🐦🐦🐦

[2020-03-19 12:12] whedon commented on #2122
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1380
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02122](https://doi.org/10.21105/joss.02122)
2. If everything looks g

[2020-03-19 12:14] arfon commented on #2122
@kboone, @temuller - many thanks for your reviews here ✨

@Samreay - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-03-19 12:14] #2122 closed

[2020-03-19 12:14] whedon commented on #2122
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02122/status.svg)](https://doi.org/10.21105/joss.02122)

**We need your help!**

Journal of Open Source Softwa

[2020-03-19 12:16] arokem commented on #2074
@whedon set 10.5281/zenodo.3710475 as archive

[2020-03-19 12:16] whedon commented on #2074
OK. <a href="https://doi.org/10.5281/zenodo.3710475" target="_blank">10.5281/zenodo.3710475</a> is the archive.

[2020-03-19 12:17] arokem commented on #2074
@whedon set 0.1 as version

[2020-03-19 12:17] whedon commented on #2074
OK. 0.1 is the version.

[2020-03-19 12:19] arokem commented on #2074
@openjournals/joss-eics : this is ready for your review, when you get around to it.

@pySRURGS : please bear with us, as we do our best here.

[2020-03-19 12:20] sara-02 commented on #2139
I just saw the notification. Is this still open for review?
I would love to help, but it might take me until mid-april to finish the review :slightly_frowning_face:

[2020-03-19 12:28] sara-02 commented on #2136
@oliviaguest I think I am done with the first set of reviews, and @deniederhut has already PRs w.r.t changes requested. Once his work gets merged, I can do a final review then.
The rest looks good to me, and the project seems to be working as expected.

[2020-03-19 12:47] oliviaguest commented on #2136
@sara-02, fantastic and thank you. Stay safe during these troubling times. 🌸

[2020-03-19 12:56] danielskatz commented on #2074
@whedon accept

[2020-03-19 12:56] whedon commented on #2074
[code]

[2020-03-19 12:57] whedon commented on #2074
[code]

[2020-03-19 12:57] whedon commented on #2074
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1381

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1381, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-03-19 13:09] dfm commented on #2160
@malramsay64: Thanks for your review!

I'll follow up with @xwang862 via email to make sure that he's getting notifications, but we should all be patient given everything @arfon mentions above.

[2020-03-19 13:18] danielskatz commented on #2074
👋 @pySRURGS - please merge https://github.com/pySRURGS/pyGOURGS/pull/2 and https://github.com/pySRURGS/pyGOURGS/pull/3 or let me know what you disagree with. These are changes based on proof-reading the final draft paper.

[2020-03-19 13:37] arfon commented on #2139
@sara-02 - yes, we're still processing submissions, albeit at a slower pace. I'll defer to the handling editor (@terrytangyuan) here but I think we'd likely still want you to review and mid-April sounds pretty reasonable to me :-)

[2020-03-19 13:51] terrytangyuan commented on #2139
@whedon assign @sara-02 as reviewer

[2020-03-19 13:51] whedon commented on #2139
OK, @sara-02 is now a reviewer

[2020-03-19 13:52] terrytangyuan commented on #2139
@sara-02 Yes, mid-April is fine. Just assigned you as reviewer.

@arfon Do we still need at least two reviewers at this time?

[2020-03-19 13:54] arfon commented on #2139
I would prefer so yes but this might be worth raising with the other JOSS editors on the mailing list?

[2020-03-19 13:54] danielskatz commented on #2139
yes

[2020-03-19 13:58] RMeli commented on #2157
@thesketh Thanks for addressing our comments on the paper (I think the limitation on the number of residues, outlined by @dotsdl, is still missing?). The only "issue" I have left with the paper is the overflow of the code with respect to the text margins. @richardjgowers will there be any editing after the review, @thesketh has to take care of it, or it is OK as it is?

[2020-03-19 14:01] terrytangyuan commented on #2139
@NicolasHug @mhetrerajat @mamrehn Please let us know if you are willing to review for this submission. Thanks.

[2020-03-19 14:01] RMeli commented on #2132
@arfon I noticed my name appears three times in the list of reviews. Would it be possible to remove the first two entries (entry 1127 is the most up-to-date)? Thanks.

[2020-03-19 14:22] arfon commented on #2132
Not sure I follow sorry?

[2020-03-19 14:25] melissawm commented on #1906
Thank you, @pitsianis !

[2020-03-19 14:26] RMeli commented on #2132
Sorry, I wasn't clear. My name (GitHub ID) appears three times in the [this list of people [that] have already agreed to review for JOSS](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822). I was wondering if the first two spurious entries could be removed.

[2020-03-19 14:28] melissawm commented on #1906
Hello @sivaramambikasaran, I know this is a busy time, but I'm concerned about this review as we haven't had any responses from you in a while. Would you please let us know if you are unable to complete the review, so we can find another reviewer and finish this so that @klho can have this paper published as soon as possible? Thank you in advance!

[2020-03-19 16:55] majensen commented on #2140
@whedon add @balhoff as reviewer

[2020-03-19 16:55] whedon commented on #2140
OK, @balhoff is now a reviewer

[2020-03-19 16:56] majensen commented on #2140
Ok everyone - we're are dialed in for a review. I will create that now- this issue will close and we'll continue the discussion in the new one.
Stay safe at home!

[2020-03-19 16:56] majensen commented on #2140
@whedon start review

[2020-03-19 16:56] whedon opened #2168 "[REVIEW]: Jabberwocky: an ontology-aware toolkit for manipulating text"
**Submitting author:** @sap218 (<a href="http://orcid.org/0000-0002-6169-0135">Samantha Pendleton</a>)
**Repository:** <a href="https://github.com/sap218/jabberwocky" target ="_blank">https://github.com/sap218/jabberwocky</a>
**Version:** v1.0.0.0
**Editor:** @majensen
**Reviewer:** @wdduncan, @balhoff
**Archive:** <a href="https://doi.org/10.5281/zenodo.3922261" target="_blank">10.5281/zenodo.392

[2020-03-19 16:56] whedon commented on #2140
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2168.

[2020-03-19 16:56] #2140 closed

[2020-03-19 16:56] whedon commented on #2168
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @wdduncan, @balhoff it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2020-03-19 16:57] majensen commented on #2140
Review @ #2168

[2020-03-19 16:57] whedon commented on #2168
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02168/joss.02168/10.21105.joss.02168.pdf)

[2020-03-19 16:57] whedon commented on #2168
[code]

[2020-03-19 16:59] majensen commented on #2168
Quick thing if you can @sap218 - can you add the URLs that whedon-the-bot found [above](https://github.com/openjournals/joss-reviews/issues/2168#issuecomment-601297454) to your refs?

[2020-03-19 17:09] samjsilva91 commented on #1918
In my opinion, the basic requirements for each of the check boxes has been met for this software, particularly considering the extensive work done prior to my involvement by @dhhagan

The code installs and runs on my machine, and modifications made to the chemical mechanism lead to results broadly consistent with expected behavior.

[2020-03-19 17:31] arfon commented on #2132
Done.

[2020-03-19 17:49] sap218 commented on #2168
Currently I have (as an example for tagtog):

[code]

and it prints as "Retrieved from: https://doi.org/10.1093/database/bau033"

is "url" the correct bibtex key?

@majensen

[2020-03-19 17:55] BayesForDays commented on #2136
Sorry everyone for the delays in my review. I can wait until PRs are merged and do the review then, or provide my thoughts now?

[2020-03-19 18:55] kthyng commented on #2063
As listed on the [JOSS website](https://joss.readthedocs.io/en/latest/submitting.html), authors should in their paper: "Mention (if applicable) a representative set of past or ongoing research projects using the software and recent scholarly publications enabled by it."

[2020-03-19 18:57] kthyng commented on #2063
@castelao I see that the boxes are checked off and both reviewers have stated that they are ready to accept. Please address my note immediately above.

Also, there are two PRs that are open above. Can you and @jessicaaustin state if there are any lingering issues associated with them?

[2020-03-19 19:03] kthyng commented on #2143
I mean — I am trying to learn about the package you wrote, like I have been as an editor, and I want to go somewhere to learn about it more. Normally readthedocs functions this way, but yours (previously) was strictly description of the functions. Where do you imagine a new user starting with your code? The readme seems like a good start, but also seems too short.

Anyway, this will surely come up

[2020-03-19 19:05] kthyng commented on #2143
@JeffWalton-PSC and @thomakra  Are you interested and willing to review this JOSS submission? Normally I would ask for the reviews within about 3 weeks, but many things are unusual right now, so timing is flexible too. Let me know what you think. Thanks.

[2020-03-19 19:06] kthyng commented on #2143
here is more information about reviewing: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-03-19 19:13] jessicaaustin commented on #2063
So long as https://github.com/castelao/CoTeDe/issues/41 is resolved and those API docs are available at https://cotede.readthedocs.io/en/latest/ , I'm ok with accepting. My other PRs/issues are nice-to-have.

[2020-03-19 19:31] JeffWalton-PSC commented on #2143
Kristen,
Yes, I’m interested.  I will look through the documentation link you sent.

Thanks,

Jeff

From: Kristen Thyng [mailto:notifications@github.com]
Sent: Thursday, 19 March, 2020 15:06
To: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: Jeff Walton <jwalton@paulsmiths.edu>; Mention <mention@noreply.github.com>
Subject: Re: [openjournals/joss-reviews] [PRE REVIEW]: DetecTree:

[2020-03-19 20:27] cmillion commented on #1978
As soon as GDAL is added as a dependency, I'll check off "installation" and that will complete my review.

[2020-03-19 20:35] arfon commented on #2168
@sap218 - please change them to keys like this:

[code]

i.e. change the `url` to `doi` and strip off the `https://doi.org/` preamble.

[2020-03-19 20:46] hema-ted commented on #2160
@malramsay64,

Thanks a lot for your comments and suggested improvements!

[2020-03-19 21:06] dglmoore commented on #2149
@arfon The last week has been crazy. I'm up to reviewing if there's still a need?

[2020-03-19 21:11] Nicolas-Schmidt commented on #2164
@whedon generate pdf

[2020-03-19 21:11] whedon commented on #2164
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02164/joss.02164/10.21105.joss.02164.pdf)

[2020-03-19 21:17] Nicolas-Schmidt commented on #2164
Dear @alletsee:

Thanks for your comments and questions.  They all are very helpful.  Below please find our response to your comments/queries.

1)   This is a good point.  We did not integrate any automatic testing into the paper due to space limitations.   But the README file of our package provides readers with examples that allow users to verify the functionality of the software.   We hope this

[2020-03-19 22:27] phillima commented on #1960
Hi @gkthiruvathukal! Hopefully everything is under control! Just to let you know that in case you need me to perform any other actions regarding this submission, I am available. Thank you

[2020-03-19 22:30] gbertoldo commented on #1701
@whedon generate pdf

[2020-03-19 22:31] whedon commented on #1701
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01701/joss.01701/10.21105.joss.01701.pdf)

[2020-03-19 22:38] gbertoldo commented on #1701
@whedon generate pdf

[2020-03-19 22:39] whedon commented on #1701
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01701/joss.01701/10.21105.joss.01701.pdf)

[2020-03-19 23:20] arfon commented on #1960
@phillima - I'm not sure about @gkthiruvathukal's availability so I'll take over from here.

[2020-03-19 23:20] arfon commented on #1960
@whedon set 10.5281/zenodo.3701910 as archive

[2020-03-19 23:21] whedon commented on #1960
OK. <a href="https://doi.org/10.5281/zenodo.3701910" target="_blank">10.5281/zenodo.3701910</a> is the archive.

[2020-03-19 23:21] arfon commented on #1960
@whedon generate pdf

[2020-03-19 23:21] arfon commented on #2149
@dglmoore - yes please! I'll add you as a reviewer over in #2165 right now.

[2020-03-19 23:21] whedon commented on #1960
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01960/joss.01960/10.21105.joss.01960.pdf)

[2020-03-19 23:22] arfon commented on #2149
Oh, actually, scrub that. I forgot we already had two reviewers. If you're particularly motivated to review this @dglmoore you're more than welcome to but we already have the necessary number of reviewers here.

Let me know what you'd like to do :-)

[2020-03-19 23:25] arfon commented on #1960
@whedon accept

[2020-03-19 23:25] whedon commented on #1960
[code]

[2020-03-19 23:26] whedon commented on #1960
[code]

[2020-03-19 23:26] whedon commented on #1960
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1382

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1382, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-03-19 23:27] arfon commented on #1960
@phillima - could you please merge this PR that fixes your DOIs? https://github.com/phillima/asniffer/pull/1

[2020-03-19 23:40] dglmoore commented on #2149
@arfon No worries. Keep me in mind for the next one.

[2020-03-20 00:21] gbertoldo commented on #1701
@whedon generate pdf

[2020-03-20 00:22] whedon commented on #1701
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01701/joss.01701/10.21105.joss.01701.pdf)

[2020-03-20 00:28] phillima commented on #1960
Done!

[2020-03-20 00:30] arfon commented on #1960
@whedon check references

[2020-03-20 00:30] whedon commented on #1960
[code]

[2020-03-20 00:30] arfon commented on #1960
@whedon accept deposit=true

[2020-03-20 00:31] whedon commented on #1960
[code]

[2020-03-20 00:32] whedon commented on #1960
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1240798245967798272) 👈 🐦🐦🐦

[2020-03-20 00:32] whedon commented on #1960
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1383
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01960](https://doi.org/10.21105/joss.01960)
2. If everything looks g

[2020-03-20 00:41] gbertoldo commented on #1701
Dear, @meg-simula,

We fixed all the issues you raised, except for adding a missing DOI reported by Whedon. There is a paper with the same title as the book we cited. Whedon is claiming for the paper's DOI. Since the book has no DOI, it was not added.

We thank you and the reviewers (@HaoZeke and @dham) for the suggestions that helped us to improve the quality of the software and the quality of th

[2020-03-20 00:43] arfon commented on #1960
@arcuri82, @danieledipompeo - many thanks for your reviews here and to @gkthiruvathukal for editing this submission ✨

@phillima - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-03-20 00:43] #1960 closed

[2020-03-20 00:43] whedon commented on #1960
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01960/status.svg)](https://doi.org/10.21105/joss.01960)

**We need your help!**

Journal of Open Source Softwa

[2020-03-20 01:07] phillima commented on #1960
@arcuri82 @danieledipompeo @gkthiruvathukal @arfon . Thank you all!

[2020-03-20 02:31] pySRURGS commented on #2074
@danielskatz , I have merged all suggested changes.

[2020-03-20 03:24] MetabolomicsAustralia-Bioinformatics commented on #2144
Hi all,

Thanks for your time and effort in reviewing so far. Only about manuscript submission:

1. We actually have a larger, 2 page, manuscript written, as a pdf. I’ve restructured (in particular, cut down) this larger paper to the approximate size and formatting as recommended here: https://joss.theoj.org/papers/10.21105/joss.00388, where it looked like only a summary was needed. Should I be su

[2020-03-20 05:49] tristan-salles commented on #2083
Hi @sjpfenninger, is there anything else that needs to be done on our side?

[2020-03-20 06:50] csoneson commented on #2163
Hi @MetabolomicsAustralia-Bioinformatics (please post any further comments in this issue, the pre-review issue is closed).
A typical JOSS paper is around 250-1000 words (your summary is currently ~170). However, it is not just a matter of the length in itself. I think your introduction needs to be expanded a bit to be understandable by a diverse, non-specialist audience and to provide the necessar

[2020-03-20 07:11] sjpfenninger commented on #2083
@tristan-salles Apologies for the delay, I will likely get to this next week.

[2020-03-20 09:09] tristan-salles commented on #2083
Thanks @sjpfenninger !

[2020-03-20 11:15] danielskatz commented on #2074
@whedon accept

[2020-03-20 11:15] whedon commented on #2074
[code]

[2020-03-20 11:16] whedon commented on #2074
[code]

[2020-03-20 11:16] SirSharpest commented on #2072
Thank you @pdebuyl, I understand that for many these are difficult times, I hope yourself and other reviewers and editors are under no pressure with regards to JOSS / this submission as it is not in any way time-dependant and your own wellbeings are much more vital.

I'll address your feedback in order:

1. I've just added 2 new tests, and modified the others that you've pointed out. I now test fo

[2020-03-20 11:16] whedon commented on #2074
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1384

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1384, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-03-20 11:17] danielskatz commented on #2074
@whedon accept deposit=true

[2020-03-20 11:17] whedon commented on #2074
[code]

[2020-03-20 11:18] whedon commented on #2074
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1240960807137169412) 👈 🐦🐦🐦

[2020-03-20 11:18] whedon commented on #2074
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1385
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02074](https://doi.org/10.21105/joss.02074)
2. If everything looks g

[2020-03-20 11:27] danielskatz commented on #2074
Thanks to @iljah & @nicoguaro for reviewing, and to @arokem for editing!

And congratulations to @pySRURGS!

[2020-03-20 11:27] #2074 closed

[2020-03-20 11:27] whedon commented on #2074
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02074/status.svg)](https://doi.org/10.21105/joss.02074)

**We need your help!**

Journal of Open Source Softwa

[2020-03-20 11:27] oliviaguest commented on #2136
@BayesForDays same for you — stay safe! Take your time. 🌼

[2020-03-20 11:29] oliviaguest commented on #2136
@deniederhut if you can, and no pressure, feel free to give the reviewers some idea of what you plan to do. 🌷

[2020-03-20 11:32] arfon commented on #1701
@gbertoldo - I'll take over this submission from here to help out `@meg-simula`.

One quick stylistic thing, you seem to have an inconsistency in how you refer to the software. Sometimes it's `DEPP`, other times DEPP. You might want to make sure that when you have made these all the same?

After this, could you make a new release of this software that includes the changes that have resulted from t

[2020-03-20 12:32] uellue commented on #2006
Hi @fedorov @majensen FYI, I have been working on a deeper comparison between Dask and LiberTEM both in programming model and benchmarking. That's still WIP. Two things can already be said: First, Dask has improved impressively since I last looked, and second, the comparison has already helped us to identify opportunities for improvement: https://github.com/LiberTEM/LiberTEM/issues/554#issuecommen

[2020-03-20 13:30] fedorov commented on #2006
@uellue thank you for your note. It is very encouraging to see that review made a difference for you, and will ultimately benefit the user of your library!

[2020-03-20 14:18] aj2duncan commented on #2116
@johannes-titz I was using your example app at the joss-review link above on Chrome but now I can't reproduce it either - so nevermind not sure what was happening.

[2020-03-20 14:50] djmitche commented on #2124
I feel like I'm playing catch-up - thanks for your detailed analysis @rabdill!  A few minor notes:

I think 2 and 3 are covered, but 1 is not.  [GitHub has suggestsions](https://github.com/rhagenson/relped/community) for both a contributing guide and a CoC.  The CoC probably isn't going to see any use at this stage, but the few times I have had to call on a CoC I've been glad it was already in pla

[2020-03-20 16:02] gkiar commented on #2166
@cMadan I have left my initial review at https://github.com/trendscenter/coinstac/issues/849 and checked off the already-met requirements in my form above.

[2020-03-20 18:35] pdebuyl commented on #2072
Hi @SirSharpest thank you for the update. I understand that stochastic simulations are difficult to test!

I am satisfied will the reply to all my comments. I have a few minor remaining concerns, none preventing acceptance but I prefer to mention them.

1. I filed a PR to add the import of Axes3D from mpl_toolkits.mplot3d to enable the 3d plot in the notebook.
2. NumPy should be cited in the paper

[2020-03-20 18:35] pdebuyl commented on #2072
PS: thank you for the coronavirus note, same encouragements to all here!

[2020-03-20 18:47] pdebuyl commented on #2072
+nitpick: in the example notebook, the timestep is 2e-9 whereas calculate_opt_dt returns 4.2e-6, this is rather inconsistent. If 4.2e-6 is too small, calculate_opt_dt should return a smaller value.

[2020-03-20 19:13] szhorvat commented on #2165
It seems I needed to install `netcdf` as well before it worked (apparently as a dependency of `dantro`). `netcdf` was not listed in the instructions. (I'm on macOS, using MacPorts.)

[2020-03-20 19:22] SirSharpest commented on #2072
@whedon generate pdf

[2020-03-20 19:23] whedon commented on #2072
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02072/joss.02072/10.21105.joss.02072.pdf)

[2020-03-20 19:28] SirSharpest commented on #2072
@whedon generate pdf

[2020-03-20 19:28] whedon commented on #2072
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02072/joss.02072/10.21105.joss.02072.pdf)

[2020-03-20 19:33] SirSharpest commented on #2072
@whedon generate pdf

[2020-03-20 19:34] whedon commented on #2072
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02072/joss.02072/10.21105.joss.02072.pdf)

[2020-03-20 19:38] SirSharpest commented on #2072
Apologies for making Whedon work extra hard, I've made a couple of final changes for now:

1. I've refactored the naming of the library to suit the paper title better, as per the suggestion, it was overdue on my part
2. I added a section to the paper citing Numpy, Matplotlib and Jupyter as they are key external libraries used
3. Calculations for optimal dt has been improved by 2 orders of magnitud

[2020-03-20 19:46] andybega commented on #2164
Hi @Nicolas-Schmidt and @Sergio-Bejar,

I've opened a couple of issues in your repo; below are the ones I think are needed for the review/checklist. The others are suggestions that I think would make the package better, but I don't think it's needed for the review.

- Duplicate Authors fields in DESCRIPTION https://github.com/Nicolas-Schmidt/BayesMFSurv/issues/2
- Missing `data()` call in README e

[2020-03-20 20:21] gbertoldo commented on #1701
@whedon generate pdf

[2020-03-20 20:21] whedon commented on #1701
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01701/joss.01701/10.21105.joss.01701.pdf)

[2020-03-20 20:39] gbertoldo commented on #1701
Hi, @arfon,

We fixed the issue you pointed out. Here is the DOI: 10.5281/zenodo.3722436.

Thanks!

[2020-03-20 20:41] arfon commented on #1701
@whedon set 10.5281/zenodo.3722436 as archive

[2020-03-20 20:41] whedon commented on #1701
OK. <a href="https://doi.org/10.5281/zenodo.3722436" target="_blank">10.5281/zenodo.3722436</a> is the archive.

[2020-03-20 20:48] arfon commented on #1701
@whedon accept

[2020-03-20 20:48] whedon commented on #1701
[code]

[2020-03-20 20:48] whedon commented on #1701
[code]

[2020-03-20 20:48] whedon commented on #1701
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1386

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1386, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-03-20 20:55] arfon commented on #1701
@gbertoldo is this DOI recommendation correct?

[code]

[2020-03-20 21:07] corybrunson commented on #2161
@TomKellyGenetics the submission looks pretty cool, as i'm just starting my review. I have some comments on the paper before i begin exploring the software. Sorry if you've already caught some of these but not yet updated the PDF.

* I think "Present address:" should be removed from the second affiliation (RIKEN).
* On my reading, the abstract-style Statement of Need encapsulates what graphsim doe

[2020-03-20 21:15] pdebuyl commented on #2072
Thanks for the update. It's all ok for me but you probably want to undelete the code though. `git add PyEscape` and `git commit` should do :-)

@drvinceknight I recommend for publication.

[2020-03-20 21:37] corybrunson commented on #2161
@TomKellyGenetics a couple of other comments, specifically on the code in the paper:

* The gplots package is used but not explicitly attached to the library.
* There's at least one typo: `trace = "none\"` toward the bottom of page 6.
* I'm unable to exactly reproduce the heatmaps displayed in the paper. They're based on the graph with inhibitions, and i'm also not clear on how to incorporate the

[2020-03-20 21:41] corybrunson commented on #2161
@TomKellyGenetics one last point on the paper:

* The second author has not directly contributed to the package, as reflected on GitHub. Could you briefly describe their contributions to the project in the paper?

[2020-03-20 21:58] mbdemoraes commented on #2130
@VivianePons Hi! I don't know if you already have a second reviewer, but if not, I would like to volunteer to review this one, if possible.

[2020-03-20 22:10] kbarnhart commented on #1978
Thanks for the update @cmillion.

@nkarasiak based on @cmillion 's comment I took a look through the repo today. I would recommend you update the readme, documentation, requirements, environment files based on some of the recent changes. For example, I couldn't see anything on the readme or documentation about installing with conda or what the difference between the three requirements files (requi

[2020-03-20 22:21] gbertoldo commented on #1701
Hi, @arfon,

No, this DOI refers to a paper, but we cited a book with the same title.

[2020-03-20 23:19] arfon commented on #1701
@whedon accept deposit=true

[2020-03-20 23:19] whedon commented on #1701
[code]

[2020-03-20 23:20] whedon commented on #1701
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1241142650771853312) 👈 🐦🐦🐦

[2020-03-20 23:20] whedon commented on #1701
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1387
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01701](https://doi.org/10.21105/joss.01701)
2. If everything looks g

[2020-03-20 23:21] arfon commented on #1701
@HaoZeke, @dham - many thanks for your reviews here and to @meg-simula for editing this submission ✨

@gbertoldo - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-03-20 23:21] #1701 closed

[2020-03-20 23:22] whedon commented on #1701
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01701/status.svg)](https://doi.org/10.21105/joss.01701)

**We need your help!**

Journal of Open Source Softwa

[2020-03-21 01:33] majensen commented on #2168
Thanks @arfon

[2020-03-21 10:39] nkarasiak commented on #1978
Hi @kbarnhart, @cmillion  and @mollenburger ,
I updated the [develop branch](https://github.com/nkarasiak/MuseoToolBox/tree/develop) according to all your suggestions.
- The [README.md](https://github.com/nkarasiak/MuseoToolBox/blob/develop/README.md) now details the differences between `conda` and `pip`, and tell the user to install `Museo ToolBox` with `conda` to avoid the `gdal` installation on

[2020-03-21 12:05] sap218 commented on #2168
Thanks @arfon - @majensen I believe I have fixed the DOI issue now

[2020-03-21 17:15] arfon commented on #2168
@whedon check references

[2020-03-21 17:16] whedon commented on #2168
[code]

[2020-03-21 18:55] jspaezp commented on #2061
hello @arfon,

I have accepted the figure label changes to master and updated all the active branches, Thanks for the PR. I also checked and they seem to render correctly using pandoc locally (`pandoc paper.md --filter pandoc-citeproc --bibliography bibliography.bib -o paper_$(echo $(date +%H%M)_$(date +%d%m%Y)).pdf`) .

Kindest wishes,
Sebastian

@natallah

[2020-03-21 19:20] arfon commented on #2061
@whedon generate pdf

[2020-03-21 19:20] whedon commented on #2061
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02061/joss.02061/10.21105.joss.02061.pdf)

[2020-03-22 12:57] sjvrijn commented on #2049
First of all, I completely understand it if any of you have more pressing matters than this review given the current circumstances. So please take care of yourself and many thanks for any time you are still able to contribute to this review.

@torressa While creating the scalability plot (coming soon), as a reply to your concerns about performance of using Numpy, I've compared a pre-numpy implemen

[2020-03-22 14:36] sjvrijn commented on #2049
@whedon generate pdf

[2020-03-22 14:36] whedon commented on #2049
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02049/joss.02049/10.21105.joss.02049.pdf)

[2020-03-22 16:21] corybrunson commented on #2017
@whedon generate pdf

[2020-03-22 16:21] whedon commented on #2017
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02017/joss.02017/10.21105.joss.02017.pdf)

[2020-03-22 16:28] corybrunson commented on #2017
@tweed1e i learned how to use `ggplot2::annotate()` and added labels and arrows to the plot! I think this is what you had in mind.

[2020-03-22 17:27] tweed1e commented on #2017
Yep, that looks better. Still a bit confused but the labels are helping---e.g., it seems the alluvia and flows are the same until I notice the label "*one* alluvium", and that helps me tell the difference.

Last request: remove the "y" axis label, and make the x-axis labels consistent with the text---the text says "Term", but the x-axis tick labels say "CURR1", etc. So either change "CURR1" to "Te

[2020-03-22 18:16] corybrunson commented on #2017
@whedon generate pdf

[2020-03-22 18:16] whedon commented on #2017
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02017/joss.02017/10.21105.joss.02017.pdf)

[2020-03-22 18:18] corybrunson commented on #2017
@tweed1e done! Thank you for those valuable suggestions.

[2020-03-22 19:55] frengers commented on #2029
HI everyone.  I attempted to review WEPPCLIFF, but I wasn't able to run the auto test.sh.  I tried to run the Autotest.sh and it failed because I didn't have the "backports" package installed in R.  However, after I installed the package, I got the same error message and Autotest.sh once again failed.

[2020-03-22 21:05] tweed1e commented on #2017
Thanks! @akeshavan it looks like everything's good for us reviewers. @corybrunson I'm guessing you might have to wait a bit for this to get moving because of you-know-what.

[2020-03-22 22:02] corybrunson commented on #2017
@tweed1e thank you. : ) @akeshavan no urgency. I very much appreciate your efforts.

[2020-03-22 23:25] MetabolomicsAustralia-Bioinformatics commented on #2163
Hi @csoneson: thanks for your prompt reply.

1. I'll be uploading our manuscript in the required format. Thanks!

2. I've just tried the paper preview service; pasting [this link](https://github.com/adrn/gala/tree/master/paper) into the "Paper repository address". It seems to compile fine, but clicking the "click here to download preview" link leads to a "Not Found" page.

[2020-03-23 01:25] ryanpmcg commented on #2029
@frengers did you run the tutorial successfully first? The autotest.sh script assumes you have done that first. I will revise the language to make this more clear.

[2020-03-23 01:49] ryanpmcg commented on #2029
Adding to my previous comment, I could make installation redundant (i.e. dependencies would be installed in both the autotest scripts and the autotutorial scripts). Right now they are checked in both, but only the tutorial installs them.

[2020-03-23 05:15] castelao commented on #2063
@whedon generate pdf

[2020-03-23 05:15] whedon commented on #2063
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02063/joss.02063/10.21105.joss.02063.pdf)

[2020-03-23 07:29] alletsee commented on #2164
Hi @Nicolas-Schmidt and @Sergio-Bejar,

I saw that you have included @andybega's suggestion of providing examples where misclassified failures are problematic; I second his suggestion and think that your edit addresses this well. (I think you have not yet generated a new article proof.)

Apart from this, I have only a few minor edit suggestions for the paper that are mainly about form:

- You intr

[2020-03-23 07:38] jenzopr commented on #2061
Lgtm! :tada:

[2020-03-23 07:40] rcannood commented on #2161
Sorry for my late response, I didn't manage to find any spare time until now. @majensen I wanted to start the review just now, but I see I missed the opportunity to accept whedon's invitation to the repository. (I thought I had retained the rights since my previous review, but apparently they get removed after the review is done.) Could I somehow be invited again?

[2020-03-23 07:53] TomKellyGenetics commented on #2161
Thanks @corybrunson, I'll take a look at Issues as they come into the package repo (I think the [problem](https://github.com/TomKellyGenetics/graphsim/issues/3) with `plot_directed` is resolved).

I can reformat the Statement of Need if this is required explicitly by JOSS. I made it a separate section (as done by other recent submissions) so it would be clear for the editorial process.

Sorry it s

[2020-03-23 08:58] thomakra commented on #2143
Hi Kristen,

Unfortunately I do not have the capacity at this time, although the project
seems interesting.

-Thomas-

On Thu, 19 Mar 2020 at 20:06, Kristen Thyng <notifications@github.com>
wrote:

[2020-03-23 09:37] jspaezp commented on #2061
I just pushed a commit that fixes a couple of minor typos and grammar details in the paper :D

https://github.com/jspaezp/sctree/commit/7112e2e5872fb241b3781024e3d33135379156b0
I feel like it should be good to go :D
@natallah

[2020-03-23 10:41] noraeisner commented on #2101
Hello @aureliocarnero, I'm glad to hear that you are safe and well in Spain! Belgium has now also entered a lock-down which is definitely a strange experience.

I'm really sorry, the mpi code that was on github before required the user to enter their own file structure within the code itself. I have changed it to make it much more general and it now works with the example input file - I have added

[2020-03-23 10:56] simonom commented on #1918
There is also one point from our internal review, which is changing the wording inside the JOSS paper from 'environmental chamber' to 'aerosol chamber'.  The aerosol chamber is a subset of the environmental chamber.  PyCHAM is designed for aerosol chamber, and whilst it could be employed for any chamber experiment, we do not want to misled readers about its capabilities.  This has been updated in

[2020-03-23 11:05] VivianePons commented on #2130
@whedon add @mbdemoraes as reviewer

[2020-03-23 11:05] whedon commented on #2130
OK, @mbdemoraes is now a reviewer

[2020-03-23 11:07] VivianePons commented on #2130
Thanks a lot, that's perfect! I am launching the review: with the special conditions these days, we are in no hurry. Please start review when / if it's convenient for you, no pressure at all

[2020-03-23 11:07] VivianePons commented on #2130
@whedon start review

[2020-03-23 11:07] whedon opened #2169 "[REVIEW]: Matching: A Python library for solving matching games"
**Submitting author:** @daffidwilde (<a href="http://orcid.org/0000-0002-3788-7691">Henry Wilde</a>)
**Repository:** <a href="https://github.com/daffidwilde/matching" target ="_blank">https://github.com/daffidwilde/matching</a>
**Version:** 1.3.0
**Editor:** @VivianePons
**Reviewer:** @igarizio, @mbdemoraes
**Archive:** <a href="https://doi.org/10.5281/zenodo.3755304" target="_blank">10.5281/zenod

[2020-03-23 11:07] whedon commented on #2130
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2169.

[2020-03-23 11:07] #2130 closed

[2020-03-23 11:07] whedon commented on #2169
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @igarizio, @mbdemoraes it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2020-03-23 11:07] whedon commented on #2169
[code]

[2020-03-23 11:07] whedon commented on #2169
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02169/joss.02169/10.21105.joss.02169.pdf)

[2020-03-23 11:08] arfon commented on #2161
@whedon re-invite @rcannood

[2020-03-23 11:08] whedon commented on #2161
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-03-23 11:08] arfon commented on #2161
@whedon re-invite @rcannood as reviewer

[2020-03-23 11:08] whedon commented on #2161
OK, the reviewer has been re-invited.

@rcannood please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-03-23 11:09] VivianePons commented on #2169
I have started the review as we have now 2 reviewers. But please note that with the special conditions these days, many of us are in complicated situations. There is no pressure to conduct the reviews right now, just do it if / when it's convenient. I will keep following and answer when needed.

[2020-03-23 11:40] aureliocarnero commented on #2101
@noraeisner great improvement! Im my case, we are very near the end of the validation. I'm not English speaker, so in my opinion the paper is fine, but please consider the other referee questions as well.
Just a final comment, I found a bug in the example_parallelized_code.py code.
Where it reads:
                utils.data_files(indir)
                utils.tp_files(indir)
                utils.T

[2020-03-23 12:15] csoneson commented on #2163
@MetabolomicsAustralia-Bioinformatics - the JOSS paper preview works fine for me if I just put the link to the repository (not the paper/ folder): https://github.com/adrn/gala

[2020-03-23 12:16] slumnitz commented on #1882
@arfon thank you for helping. Splot has a new release v.1.1.3 on Zenodo

DOI: 10.5281/zenodo.3724199

I am not sure how I can update this thread. Maybe you could help? Thank you.

[2020-03-23 12:17] slumnitz commented on #1882
@whedon commands

[2020-03-23 12:17] whedon commented on #1882
Here are some things you can ask me to do:

[code]

[2020-03-23 12:36] arfon commented on #2163
Yes, the form expects just the repository address. Whedon can find the paper within the repository.

[2020-03-23 12:37] thesketh commented on #2157
@whedon generate pdf

[2020-03-23 12:38] whedon commented on #2157
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02157/joss.02157/10.21105.joss.02157.pdf)

[2020-03-23 12:42] thesketh commented on #2157
@whedon generate pdf

[2020-03-23 12:42] whedon commented on #2157
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02157/joss.02157/10.21105.joss.02157.pdf)

[2020-03-23 12:51] thesketh commented on #2157
Thank you both for your comments.

@amandadumi Well spotted with " instead of '! That will teach me not to use find and replace to fix inconsistent string quotes. As for the module descriptions appearing at the bottom, I'm unsure why they're in the wrong place but I'll try to adjust it. These are autogenerated from the code comments, so should be fixed when I add the documentation for use as a lib

[2020-03-23 13:11] arfon commented on #1882
@whedon set 10.5281/zenodo.3724199 as archive

[2020-03-23 13:11] whedon commented on #1882
OK. <a href="https://doi.org/10.5281/zenodo.3724199" target="_blank">10.5281/zenodo.3724199</a> is the archive.

[2020-03-23 13:11] arfon commented on #1882
@whedon generate pdf

[2020-03-23 13:12] whedon commented on #1882
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01882/joss.01882/10.21105.joss.01882.pdf)

[2020-03-23 13:14] rcannood commented on #2161
Thanks @arfon @whedon!

[2020-03-23 13:37] peanutfun commented on #2165
Hi @szhorvat and thanks for reviewing Utopia!

I assume that `netcdf` is a requirement of the Python `xarray` package which in turn is required by `dantro`, a main dependency of Utopia. However, it seems to me like `pip` should take care of the dependencies automatically when installing `xarray`. I assume this is an issue related to MacPorts and `xarray`. Could you open an issue in the [dantro rep

[2020-03-23 13:43] platipodium commented on #2165
`netcdf` is notorious for causing downstream issues with dependent software. I am also using `macports`, so stumbling across the same issues. The `port variant` concept of `macports` also allows different compilers and MPI implementations, all resulting in a rather long dependency list for `xarray` and the like.

[2020-03-23 13:52] blsqr commented on #2165
(Another one of the Utopia and dantro devs here. Hi everyone 👋 )

Agree. We removed it as a dependency of `dantro` v0.12, the _next_ release, due for release sometime this week. The dependency in `utopya` will be updated accordingly in the next couple of days.

[2020-03-23 14:06] arfon commented on #1882
@whedon accept

[2020-03-23 14:06] whedon commented on #1882
[code]

[2020-03-23 14:07] whedon commented on #1882
PDF failed to compile for issue #1882 with the following error:

 E, [2020-03-23 14:07:26#418] ERROR -- : Failed to parse BibTeX on value "--140" (NAME) [#<BibTeX::Bibliography data=[12]>, "@", #<BibTeX::Entry >, {:author=>["Robert E Roth and Andrew W Woodruff and Zachary F Johnson"], :title=>["Value-by-alpha maps: {An} alternative to the cartogram"], :journal=>["The Cartographic Journal"], :year=

[2020-03-23 14:10] platipodium commented on #2165
Opened a new authorship issue at https://ts-gitlab.iup.uni-heidelberg.de/utopia/utopia/issues/170

[2020-03-23 14:11] arfon commented on #1882
@slumnitz - this PR should fix the BibTeX issue here: https://github.com/pysal/splot/pull/104

[2020-03-23 14:13] platipodium commented on #2165
New copyright issue at https://ts-gitlab.iup.uni-heidelberg.de/utopia/utopia/issues/171

[2020-03-23 14:45] arfon commented on #1882
@whedon accept

[2020-03-23 14:45] whedon commented on #1882
[code]

[2020-03-23 14:46] whedon commented on #1882
[code]

[2020-03-23 14:46] whedon commented on #1882
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1388

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1388, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-03-23 14:48] arfon commented on #1882
@slumnitz - could you take a look at the [DOI summary above](https://github.com/openjournals/joss-reviews/issues/1882#issuecomment-602641085) to check to see if the DOIs under `MISSING` are correct recommendations and also check the `INVALID` DOI?

[2020-03-23 15:03] slumnitz commented on #1882
@arfon all missing doi's are added and the incorrect one was fixed.

[2020-03-23 15:10] platipodium commented on #2165
Opened new issues for `macports` on https://ts-gitlab.iup.uni-heidelberg.de/utopia/utopia/issues/172 https://ts-gitlab.iup.uni-heidelberg.de/utopia/utopia/issues/173 https://ts-gitlab.iup.uni-heidelberg.de/utopia/utopia/issues/174

[2020-03-23 15:24] arfon commented on #1882
@whedon check references

[2020-03-23 15:25] whedon commented on #1882
[code]

[2020-03-23 15:26] arfon commented on #1882
@whedon accept deposit=true

[2020-03-23 15:26] whedon commented on #1882
[code]

[2020-03-23 15:27] whedon commented on #1882
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1242110671027941377) 👈 🐦🐦🐦

[2020-03-23 15:27] whedon commented on #1882
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1389
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01882](https://doi.org/10.21105/joss.01882)
2. If everything looks g

[2020-03-23 15:29] arfon commented on #1882
@ResidentMario, @martinfleis - many thanks for your reviews here and to @leouieda for editing this submission ✨

@slumnitz - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-03-23 15:29] #1882 closed

[2020-03-23 15:29] whedon commented on #1882
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01882/status.svg)](https://doi.org/10.21105/joss.01882)

**We need your help!**

Journal of Open Source Softwa

[2020-03-23 15:35] slumnitz commented on #1882
Thank you for your help and support @leouieda, @martinfleis, @ResidentMario and @arfon.

[2020-03-23 18:03] jordanperr commented on #2114
@sjpfenninger Hi Stefan, I hope all is well with you during these trying times. I'd like to know what kind of progress we should expect on this article over the next couple of weeks. I will be here to answer any questions or provide revisions. Thank you, and stay safe.

[2020-03-23 18:36] cMadan commented on #2116
@strengejacke @aj2duncan, thank you both for your thorough reviews of this submission!

@johannes-titz, next I will do some final checks.

[2020-03-23 18:59] miketuri commented on #1988
Dear @VivianePons I hope all is well with you.  I had reached out to a contact, however he and his team members are unable to review this package (not familiar with Perl).  I am looking at previous JOSS submissions to see if it looks like any Perl software author also has Spice knowledge and would be willing to assist with this review.  I'll keep you posted with what I find out.

[2020-03-23 20:00] amandadumi commented on #2157
@thesketh  All you will need to do is to go into each of the pages content description within the [doc/source/](https://github.com/thesketh/pygen-structures/tree/master/doc/source) folder. The order of the content for each page is dictated by these files. Moving the  "Module Contents" section to the top should do the trick!

[2020-03-23 20:42] jspaezp commented on #2061
@whedon generate pdf

[2020-03-23 20:42] whedon commented on #2061
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02061/joss.02061/10.21105.joss.02061.pdf)

[2020-03-23 20:46] natallah commented on #2061
@jspaezp  This looks great!

[2020-03-23 21:58] lpantano commented on #2129
@oushujun, since we didn't find any additional reviewer available, would you like to do it since we reached the date you may be free for this? Thanks!

[2020-03-23 22:38] Sergio-Bejar commented on #2164
Hi @andybega and @alletsee,

We have addressed all the points raised by you in your previous messages.   I already responded in detail to all the issues raised by @andybega in our Github repo (please see those responses here: [https://github.com/Nicolas-Schmidt/BayesMFSurv/issues](url).  Below, I respond to the points raised in this page.

@andybega:

- We addressed points 1 and 2 as suggested by

[2020-03-23 22:41] Sergio-Bejar commented on #2164
@whedon generate pdf

[2020-03-23 22:42] whedon commented on #2164
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02164/joss.02164/10.21105.joss.02164.pdf)

[2020-03-23 23:49] oushujun commented on #2129
Sorry, it seems not likely before April, lots of things being piled up
during my travel.

Shujun

On Mon, Mar 23, 2020 at 4:58 PM Lorena Pantano <notifications@github.com>
wrote:

[2020-03-24 05:16] castelao commented on #2063
Thanks to everyone involved in this process, I do appreciate your time on this.

@kthyng I believe that I addressed everything. What is the next step? Shall I do a new release and obtain a new DOI? Thanks,

[2020-03-24 06:49] xwang862 commented on #2160
Hi @hema-ted , thanks for the great work. Both the codes and the summary paper are well structured and clearly written. Most of my comments are trying to increase the accessibility of your package to general users, as well as to satisfy my own curiosity. I will mention them in the order of the checklist:

- General checks:

  - Apart from the `README.md` file, the authors may consider adding a bri

[2020-03-24 08:40] platipodium commented on #2165
@szhorvat  please test installation with `macports`.  For me, it fails (see above comments), but I am willing to accept the software since it installed fine on ubuntu. If `macports` fails for you, too, the authors need to include a note in their `Readme.md` and documentation, that `macports` is not (yet?) supported.

[2020-03-24 08:41] sjpfenninger commented on #2114
@jordanperr Thanks for asking. I am working offline to find reviewers. You are welcome to suggest reviewers here if you have any suitable ones in mind!

[2020-03-24 08:45] andybega commented on #2164
Hi @Nicolas-Schmidt and @Sergio-Bejar,

thanks for addressing the points raised. Two items I would like to keep open:

- Re the [1st issue, R check error](https://github.com/Nicolas-Schmidt/BayesMFSurv/issues/1) (summarizing for the benefit of others): using `devtools::document()` on the package leads R check to throw an error because RcppArmadillo (and Rcpp::sourceEval) are added to the NAMESPACE

[2020-03-24 09:29] platipodium commented on #2165
OK then, since @szhorvat installed successfully with macports and I did so with ubuntu, I guess we can check off the installation part.

[2020-03-24 09:40] platipodium commented on #2165
New issue https://ts-gitlab.iup.uni-heidelberg.de/utopia/utopia/-/issues/175 for contribution agreements

[2020-03-24 12:39] corybrunson commented on #2017
@akeshavan i wonder if it's too late for me to move the file `paper.md` into the `paper` subdirectory. This would clean up the main directory a bit. But i gather it would affect whedon's ability to generate the PDF.

[2020-03-24 12:44] danielskatz commented on #2017
@corybrunson - that should be fine to do

[2020-03-24 14:41] lpantano commented on #2129
Hi @rachelss, would you like to review this tool?

[2020-03-24 14:41] rhagenson commented on #2124
@djmitche

I can add a CONTRIBUTING doc and agree that a CoC is probably not going to be used at this stage, but could be useful to have in place well before it needs to be used.

The `example-data` files were named according to what option in the CLI they correspond to, therefore all the `relatedness-*` files go to `--relatedness` and same for `parentage*` and `demographics*`. As for multi versus

[2020-03-24 14:54] corybrunson commented on #2017
@danielskatz thank you—i moved the files and pushed the commit, but i didn't make any changes to the paper itself.

[2020-03-24 15:05] danielskatz commented on #2017
You can always test the build, like I am now going to do

[2020-03-24 15:05] danielskatz commented on #2017
@whedon generate pdf

[2020-03-24 15:06] whedon commented on #2017
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02017/joss.02017/10.21105.joss.02017.pdf)

[2020-03-24 15:22] corybrunson commented on #2017
@whedon generate pdf

[2020-03-24 15:22] whedon commented on #2017
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02017/joss.02017/10.21105.joss.02017.pdf)

[2020-03-24 15:23] corybrunson commented on #2017
Thanks! It looks good now.

[2020-03-24 15:34] majensen commented on #2161
Thanks @arfon; WB @rcannood !

[2020-03-24 15:37] majensen commented on #2161
@corybrunson - my opinion as editor (which will be addressed by @arfon if I'm wrong) is that the paper should be sure to include the rationale for writing the software and why there is a niche for it. Not necessary to have a heading (personally, I think that would be stylistically gauche-- but that's only my opinion!).

[2020-03-24 16:52] drvinceknight commented on #2072
Thanks @pdebuyl and @markgalassi for your review.

I've got a few last checks to do now @SirSharpest :+1:

[2020-03-24 16:54] drvinceknight commented on #2072
@whedon generate pdf

[2020-03-24 16:55] whedon commented on #2072
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02072/joss.02072/10.21105.joss.02072.pdf)

[2020-03-24 16:56] drvinceknight commented on #2072
@whedon check references

[2020-03-24 16:56] whedon commented on #2072
[code]

[2020-03-24 17:05] drvinceknight commented on #2072
@SirSharpest everything looks good to me.

Could you make a tagged release and archive it (on Zenodo). When you've done that, report the version number and archive DOI here please. Please make sure the archive deposit has the correct metadata (title and author list) to match the paper.

If you could also confirm the version number, it's currently `1.0` if that should be updated as you've modified

[2020-03-24 17:22] SirSharpest commented on #2072
Hi @drvinceknight,

Version will be at 1.0 as to me this published version should be marked as that.
The DOI is 10.5281/zenodo.3725946 (it's coming up as not working as I write this, but as far as I am aware DOI takes a while to appear online)

Do let me know if I need to do anything more or if I've made any errors.

Thanks!

[2020-03-24 18:22] peanutfun commented on #2165
We forgot to mention the [Armadillo](http://arma.sourceforge.net/) library we use as linear algebra backend. I just added it to the paper.

[2020-03-24 18:22] whedon commented on #2165
[code]

[2020-03-24 18:23] whedon commented on #2165
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02165/joss.02165/10.21105.joss.02165.pdf)

[2020-03-24 19:58] torressa commented on #1655
Hi @stsievert !
Sorted.
I've added the simple example that used to be in the paper as a jupyter notebook.
I've explained the `n_res` parameter explicitly in the [Using cspy](https://cspy.readthedocs.io/en/latest/how_to.html) part of the docs and it I think it's pretty clear from the API examples what it is.
Hope that's ok

[2020-03-24 20:17] Sergio-Bejar commented on #2164
Hi @andybega,

You are absolutely right!   We somehow missed those points, and we apologize for that.

We have (i) removed the directives in `mfsurv.R` that tell roxygen2 to import them, and (ii) added Travis as suggested by you.

[2020-03-24 20:19] torressa commented on #2049
Hi @sjvrijn!
Cool scalability plot, and pretty neat code to create it as well.
About the numpy vs pure python discussion, thanks for making the extra effort.
I implemented a faster pure python version with generators and maps but was still slower than numpy. You win!

[2020-03-24 21:08] djmitche commented on #2124
If the multi-run option is the normal course, it's fine to list only that example.  Perhaps a small rewording of the README would help others not wonder the same thing I did :)

[2020-03-24 21:14] rhagenson commented on #2124
I can work on the wording. Adding a single-run example for initial exploration of the tool for newcomers is probably more beneficial than not so will likely still change that part of the README.

[2020-03-24 23:48] deniederhut commented on #2136
Hey! Sorry for holding things up -- things have been a bit hectic. I've merged the PRs with the requested changes, and am presently addressing some tickets that @sara-02 created. Thanks so much for your help Sarah!

@BayesForDays this is ready for review whenever you are. No rush 😄

[2020-03-25 00:26] kyleniemeyer commented on #2128
Hi @jdber1, sorry for the delay and thanks for the info.

I think adding some test images, and setting up associated tests, is a great idea. I also welcome suggestions for reviewers! They don't have to be active on GitHub to be asked to review, though completing a review does require a GitHub account. I'm happy to reach out to folks via email. Feel free to give names here, or email me if you prefe

[2020-03-25 02:05] jdber1 commented on #2128
No problems at all @kyleniemeyer. Potential reviewers include:

Stuart Prescott -  [llimeht](https://github.com/llimeht)
Trent Parker - [tmpchem](https://github.com/tmpchem)
Marcus Hanwell- [cryos](https://github.com/cryos)
Palli Thordarson - contact details [here](http://www.chemistry.unsw.edu.au/research/research-groups/thordarson-group)
Jan Vermant - contact details [here](https://mavt.ethz.ch/

[2020-03-25 04:25] hema-ted commented on #2160
Hi @xwang862,

Thanks for your comments and suggestions! I will address some of them here and get back to the rest of them shortly.

help flag: I have included the --help flag (commit e03f6e33).

fftgrid and memory options: I have added more detailed explanations for them in the tutorial (commit 36bccf1b).

wavefunction files: I have included all the input files for DFT codes (QE, Qbox) in my exam

[2020-03-25 05:15] MetabolomicsAustralia-Bioinformatics commented on #2163
Hi all,

Thanks for your input so far.

I’ve compiled and pushed the long-form paper.pdf to the repo, but it still lacks references, though paper.md and paper.bib are both in the same /paper dir in the repo.

I’m sensing that this is a silly syntax error on my part, but I can’t tell what I’m missing?

Many thanks and regards,
Don
On 23 Mar 2020, 11:15 PM +1100, Charlotte Soneson <notifications@git

[2020-03-25 05:52] andybega commented on #2164
Hi, thanks. All good from my side. Thank you guys for addressing the issues, and thank you for implementing these models and making your software publicly available!

@marcosvital, my review is complete.

[2020-03-25 09:22] csoneson commented on #2163
You need to use markdown syntax for the citations in `paper.md`. Like this (from the example paper):

[code]

[2020-03-25 09:29] AKuederle commented on #2106
My final comments to the paper are addressed. If the open pull request are merged, the paper can be accepted from my side!

[2020-03-25 13:37] srmnitc commented on #2003
@arfon @thelfer I am mostly done with my review. I still have issues with the paper, for which I have raised  new issue. Once this is fixed, I will git it one more go. Hope everybody is staying safe and healthy!

[2020-03-25 13:40] corybrunson commented on #2161
@TomKellyGenetics no problem, i'll come back to the PDF after the next update.

Regarding the Statement of Need, i'll be fine with the current formatting (above the Summary with its own header) if you want to keep it; my concern is that it says only what the software does, not what need it satisfies. The first three paragraphs of the Introduction do this quite well, so i'd suggest encapsulating th

[2020-03-25 13:41] thelfer commented on #2003
@srmnitc Thanks for you feed-backs. I'll try to fix them ASAP.

[2020-03-25 16:21] mschubert commented on #2061
I apologize for the delay in updating my checklist, I was not feeling well the last 10 days (not sure if this virus or another).

Great work on this in the meantime @jspaezp! This all looks good to me now. I particularly like the more concise "mission statement" of the package.

<hr>

Here are some very minor, last discretionary changes that I do not consider acceptance blockers:
* Does JOSS have

[2020-03-25 18:47] philerooski commented on #2106
Great! Thank you again @AKuederle and @Ebedthan ! The last open PR has been merged into master.

[2020-03-25 19:41] Sergio-Bejar commented on #2164
Hi @andybega !

Thanks again for your excellent and thorough comments.   We are happy to hear that you liked how we addressed your comments!

Regards,
Sergio

[2020-03-25 20:36] kthyng commented on #2063
@whedon check references

[2020-03-25 20:36] whedon commented on #2063
[code]

[2020-03-25 20:45] kthyng commented on #2063
@castelao Your references need some tweaks. I put some in [here](https://github.com/castelao/CoTeDe/pull/44) which you can merge if you approve. However, I see that the "note" category from "manual" entries is not coming through. Can you play around with these entries to get that information in?

[2020-03-25 21:18] kbarnhart commented on #2029
@frengers would you create an issue in the main repository and provide the specific error message you got. I think that a dedicated issue thread would be better to discuss this on rather than this thread. Then @ryanpmcg can respond directly on that thread.

@ryanpmcg I would recommend that installation is separate from running tutorials. I'd also recommend putting installation instructions in the

[2020-03-25 21:54] kbarnhart commented on #2029
@ryanpmcg I also wanted to follow up with an editorial handling update. At this point I'm going to assume that we won't hear from  @stoor001 or @khaors and am going to remove them. I will change from serving as the editor to being the second reviewer (JOSS only requires 2 reviews) and @arfon has agreed to be the handling editor.

Let me know if you have any questions.

[2020-03-25 21:55] kbarnhart commented on #2029
@whedon passing @kbarnhart as reviewer

[2020-03-25 21:56] whedon commented on #2029
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-03-25 21:57] kbarnhart commented on #2029
@whedon remove @stoor001 as reviewer

[2020-03-25 21:57] whedon commented on #2029
OK, @stoor001 is no longer a reviewer

[2020-03-25 21:57] kbarnhart commented on #2029
@whedon remove @khaors as reviewer

[2020-03-25 21:57] whedon commented on #2029
OK, @khaors is no longer a reviewer

[2020-03-25 21:58] kbarnhart commented on #2029
@whedon add @kbarnhart as reviewer

[2020-03-25 21:58] whedon commented on #2029
OK, @kbarnhart is now a reviewer

[2020-03-25 21:59] kbarnhart commented on #2029
@whedon assign @arfon as editor

[2020-03-25 22:02] arfon commented on #2029
👍 thanks @katyhuff!

[2020-03-26 01:05] TomKellyGenetics commented on #2161
@majensen @corybrunson Thanks for your advice, I agree. I thought a separate Statement of Need section was required by JOSS. I'd prefer to merge it into the Summary and avoid repetition so I'll do this as no one seems to object to this.

[2020-03-26 02:58] hema-ted commented on #2160
Hi @xwang862,

Thanks again for your comments. I addressed them in several recent commits. See a summary below.

General checks: I added a , I also expanded the README.md file about the scope of the code.

Documentation - comparison to other codes: Currently, we are not aware of other popular open-sourced code for this type of calculation in the plane-wave basis.

Documentation - output file: I in

[2020-03-26 04:00] xwang862 commented on #2160
Thanks @hema-ted for your effort and thorough responses! My comments have been appropriately addressed.

[2020-03-26 06:49] igarizio commented on #2169
👋 @mbdemoraes I think you clicked my checkboxes. I transferred them to your review 😁.

[2020-03-26 11:46] lpantano commented on #2129
Hi @HajkD, I will start the review meanwhile looking for the second reviewer. Thanks!

[2020-03-26 11:46] lpantano commented on #2129
@whedon start review

[2020-03-26 11:46] whedon opened #2170 "[REVIEW]: LTRpred: de novo annotation of intact retrotransposons"
**Submitting author:** @HajkD (<a href="http://orcid.org/0000-0002-1567-306X">Hajk-Georg Drost</a>)
**Repository:** <a href="https://github.com/HajkD/LTRpred" target ="_blank">https://github.com/HajkD/LTRpred</a>
**Version:** v1.1.0
**Editor:** @lpantano
**Reviewers:** @dcassol, @mdozmorov
**Archive:** <a href="https://doi.org/10.5281/zenodo.3895754" target="_blank">10.5281/zenodo.3895754</a>

##

[2020-03-26 11:46] whedon commented on #2129
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2170.

[2020-03-26 11:46] #2129 closed

[2020-03-26 11:46] whedon commented on #2170
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dcassol it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently wat

[2020-03-26 11:48] whedon commented on #2170
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02170/joss.02170/10.21105.joss.02170.pdf)

[2020-03-26 12:07] ryanpmcg commented on #2029
Those were all great comments @kbarnhart I will be addressing them all soon. Looking forward to your comments @frengers.

[2020-03-26 12:33] dfm commented on #2160
@whedon generate pdf

[2020-03-26 12:34] whedon commented on #2160
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02160/joss.02160/10.21105.joss.02160.pdf)

[2020-03-26 12:35] dfm commented on #2160
@whedon check references

[2020-03-26 12:35] whedon commented on #2160
[code]

[2020-03-26 12:36] dfm commented on #2160
@hema-ted: Can you fix the DOIs as suggested by whedon? I'll have some more comments on the paper shortly.

[2020-03-26 12:44] dfm commented on #2160
Actually, the paper looks great to me. So, after you add the DOIs, can you bump the version number, tag a new release on GitHub, and archive that release using Zenodo or similar. Please make sure that the archive *has the same title and author list as the paper* (you might need to edit the metadata if the release is automatically generated). Once you've made these updates, please report the versio

[2020-03-26 12:50] leouieda commented on #1882
@slumnitz congratulations on the publication! Huge thanks to @martinfleis and @ResidentMario for the reviews and @arfon for picking up where I left off (apologies for the disappearance).

[2020-03-26 12:59] lpantano commented on #2170
@whedon add @mdozmorov as reviewer

[2020-03-26 12:59] whedon commented on #2170
OK, @mdozmorov is now a reviewer

[2020-03-26 13:21] HajkD commented on #2129
Hi @lpantano

Thank you very much for arranging everything and for taking over the role of the second reviewer for now! I very much appreciate it!

[2020-03-26 15:04] mbdemoraes commented on #2169
@igarizio I'm sorry! You are right, my mistake. Thank you for letting me know. :sweat_smile:

[2020-03-26 15:10] castelao commented on #2063
@whedon check references

[2020-03-26 15:10] whedon commented on #2063
[code]

[2020-03-26 15:10] castelao commented on #2063
@whedon generate pdf

[2020-03-26 15:11] whedon commented on #2063
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02063/joss.02063/10.21105.joss.02063.pdf)

[2020-03-26 15:13] castelao commented on #2063
@kthyng I'm sorry for my lack of attention on the bibliography records and thank you very much for your PR. I did a few other adjustments.

[2020-03-26 15:52] sjpfenninger commented on #2042
@whedon generate pdf

[2020-03-26 15:53] whedon commented on #2042
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02042/joss.02042/10.21105.joss.02042.pdf)

[2020-03-26 15:53] sjpfenninger commented on #2042
@whedon set version as v2.2.1

[2020-03-26 15:53] whedon commented on #2042
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-03-26 15:56] sjpfenninger commented on #2042
@whedon set v2.2.1 as version

[2020-03-26 15:56] whedon commented on #2042
OK. v2.2.1 is the version.

[2020-03-26 15:57] sjpfenninger commented on #2042
@whedon check references

[2020-03-26 15:57] whedon commented on #2042
[code]

[2020-03-26 16:01] sjpfenninger commented on #2042
@arbennett Almost there, thanks for your patience. I have updated the version to v2.2.1. I've also noticed a couple small issues with the bibliography:

* Can you fix the two references with missing DOIs?
* Can you check and ideally fix the ["null" page numbers](https://github.com/UW-Hydro/MetSim/blob/fbae8184a5d886e1cb0b488896dd3fe22c3d61af/paper/paper.bib#L121) on Bohn 2019?

Then, please make a

[2020-03-26 17:59] arbennett commented on #2042
@sjpfenninger - thanks again for your efforts in editing this paper. I've updated the DOIs for the dask and pandas citations. I've also uploaded to Zenodo. The DOI is 10.5281/zenodo.3728015

[2020-03-26 21:40] mbdemoraes commented on #2169
The authors propose a python library to solve four "matching games" problems. I could locate the repository, install and run the examples from both README and documentation. The paper is well-written and introduces the field clearly and objectively. Also, the "Discussion" section in the documentation allows the reader to understand the subject in greater depth. Good job!

Some minor aspects that n

[2020-03-27 03:25] hema-ted commented on #2160
@dfm I have added the DOIs, changed the version number (1.3) and tagged a new release (named 'joss'), the Zenodo DOI for the release is 10.5281/zenodo.3728346. Please let me know if everything looks right. Thanks!

[2020-03-27 08:58] sjpfenninger commented on #2114
@whedon assign @coroa as reviewer

[2020-03-27 08:58] whedon commented on #2114
OK, @coroa is now a reviewer

[2020-03-27 11:43] dfm commented on #2160
Thanks! Can you please edit the Zenodo metadata so that the author list and title match the paper?

[2020-03-27 12:17] sjpfenninger commented on #2042
@whedon set 10.5281/zenodo.3728015 as archive

[2020-03-27 12:17] whedon commented on #2042
OK. <a href="https://doi.org/10.5281/zenodo.3728015" target="_blank">10.5281/zenodo.3728015</a> is the archive.

[2020-03-27 12:18] sjpfenninger commented on #2042
@whedon accept

[2020-03-27 12:18] whedon commented on #2042
[code]

[2020-03-27 12:18] whedon commented on #2042
[code]

[2020-03-27 12:19] whedon commented on #2042
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1390

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1390, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-03-27 12:55] danielskatz commented on #2042
@sjpfenninger - this is ready to go?  All final proofreading is done?

[2020-03-27 13:12] johannes-titz commented on #2116
@aj2duncan Ok. I guess it can happen if there are many variables and the footer is moved down because of this, but I am not really sure.

@cMadan Thank you! If I can help somehow, let me know. The master is now up to date. If you think copy-editing for the paper is necessary (as you can see I am not a native speaker), I will look for someone.

[2020-03-27 13:14] danielskatz commented on #2042
@arbennett - I've suggested some changes in https://github.com/UW-Hydro/MetSim/pull/216 and https://github.com/UW-Hydro/MetSim/pull/217

[2020-03-27 13:58] hema-ted commented on #2160
@dfm I have changed the metadata and now it looks consistent with the paper.

[2020-03-27 15:41] thesketh commented on #2157
Thanks for the tip, @amandadumi! I ended up re-generating the RST files using `sphinx-apidoc`, the `-M`flag put them in the correct order.

[I believe the docs on ReadTheDocs have a fairly comprehensive introduction to library usage on them now.](https://pygen-structures.readthedocs.io/en/latest/index.html)

[2020-03-27 15:48] sjpfenninger commented on #2083
@bradyrx @scivision Thanks both for your reviews, can you confirm whether you are happy with the changes made in response to your comments?

[2020-03-27 15:49] sjpfenninger commented on #2042
@danielskatz I was going to say yes, but it looks like you found a couple of remaining issues. Other than those, it's ready to go as far as I'm concerned!

[2020-03-27 15:51] sjpfenninger commented on #2083
@whedon generate pdf

[2020-03-27 15:51] whedon commented on #2083
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02083/joss.02083/10.21105.joss.02083.pdf)

[2020-03-27 15:53] sjpfenninger commented on #2083
@scivision You did not tick "Installation: Does installation proceed as outlined in the documentation?" in your checklist -- does that mean there are issues with installing the package?

[2020-03-27 16:00] sjpfenninger commented on #2083
@tristan-salles You seem to have duplicated setup.py and setup.cfg (it's at both the top level and inside src/) -- are you sure this is intended? It ought to only be in one place.

[2020-03-27 16:42] arbennett commented on #2042
@danielskatz - thanks for the suggestions, I've merged the pull requests!

[2020-03-27 16:43] bradyrx commented on #2083
@sjpfenninger , I am happy with the revisions. Thanks!

[2020-03-27 17:07] danielskatz commented on #2042
@arbennett - you merged one, but the other is just approved but not yet merged...

[2020-03-27 17:51] arbennett commented on #2042
:man_facepalming: - sorry, I have merged it now!

[2020-03-27 17:59] danielskatz commented on #2042
@whedon generate pdf

[2020-03-27 18:00] whedon commented on #2042
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02042/joss.02042/10.21105.joss.02042.pdf)

[2020-03-27 18:03] danielskatz commented on #2042
@whedon accept deposit=true

[2020-03-27 18:03] whedon commented on #2042
[code]

[2020-03-27 18:04] whedon commented on #2042
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1243599718279716865) 👈 🐦🐦🐦

[2020-03-27 18:04] whedon commented on #2042
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1391
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02042](https://doi.org/10.21105/joss.02042)
2. If everything looks g

[2020-03-27 18:07] danielskatz commented on #2042
Thanks to @Chilipp & @dsryberg for reviewing!
And to @sjpfenninger for editing!

Congratulations to @arbennett and co-authors!

[2020-03-27 18:07] #2042 closed

[2020-03-27 18:07] whedon commented on #2042
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02042/status.svg)](https://doi.org/10.21105/joss.02042)

**We need your help!**

Journal of Open Source Softwa

[2020-03-27 21:22] tristan-salles commented on #2083
Hi @sjpfenninger sorry forgot to remove the setup.py and setup.cfg in the src/ folder. Just did it and tested that the installation via setup works as expected.

[2020-03-27 22:00] marcosvital commented on #2164
Thank you very much for your detailed review, @andybega!

@alletsee , do you think that all the issues raised by you were addressed? Let us know if there is something else to be worked on.

[2020-03-27 22:30] philerooski commented on #2106
Hi @trallard I believe things have wrapped up here.

I've made a tagged v0.2.0 release on the main repository and uploaded to Zenodo.

Zenodo: https://zenodo.org/record/3731707
Zenodo DOI: 10.5281/zenodo.3731707

There is one review check box left unchecked ("Performance") which I think should be checked. I did not make any performance claims in the paper.

[2020-03-27 23:13] sauln commented on #1958
Sorry for the delay. I was on PTO, and then the whole global pandemic thing.

Many of my suggested edits were taken care of. The most important of those that were not addressed, I addressed myself in a PR:
[#7](https://github.com/McMasterRS/LFSpy/pull/7) establishes proper docstrings so the code is self-documenting, and
[#8](https://github.com/McMasterRS/LFSpy/pull/8) tweaks the `black` parameters

[2020-03-27 23:14] sauln commented on #1958
The above are just strong suggestions @dfm.  If my two PRs are merged, I believe my concerns would be sufficiently addressed.

Thank you.

[2020-03-28 09:04] RMeli commented on #2157
@thesketh the documentation is looking great now, well done!

A few comments below:

---

When I try to use a `--segid` longer than 4 characters, the code executes normally without warning. I think this is ok (since user should know this limitation), but maybe it is worth adding a warning that the name will be truncated just in case?

---

Under the **Library Usage - Basic Usage** section there is

[2020-03-28 12:44] arfon commented on #2106
@whedon check references

[2020-03-28 12:45] whedon commented on #2106
[code]

[2020-03-28 12:46] arfon commented on #2106
@whedon generate pdf

[2020-03-28 12:46] whedon commented on #2106
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02106/joss.02106/10.21105.joss.02106.pdf)

[2020-03-28 13:12] arfon commented on #2106
@trallard - I'm not sure of your availability currently so if we don't hear back from you by early next week, one of the EiCs will move ahead with accepting and publishing this paper.

[2020-03-28 13:13] arfon commented on #2106
@whedon set 10.5281/zenodo.3731707 as archive

[2020-03-28 13:13] whedon commented on #2106
OK. <a href="https://doi.org/10.5281/zenodo.3731707" target="_blank">10.5281/zenodo.3731707</a> is the archive.

[2020-03-28 13:13] arfon commented on #2106
@whedon accept

[2020-03-28 13:13] whedon commented on #2106
[code]

[2020-03-28 13:13] whedon commented on #2106
[code]

[2020-03-28 13:14] whedon commented on #2106
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1392

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1392, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-03-28 15:30] thesketh commented on #2157
Thanks for your comments, @RMeli. I've added a warning for segids greater than four characters on the Molecule class now.

Well spotted on the wrong type in the doccs - I fixed it in the example before but missed it in that one!

The version string was in `pygen_structures.version.version` before, but I've added it to `pygen_structures.__version__` as well.

[2020-03-28 16:30] alletsee commented on #2164
Hi all.

Thanks for taking the comments into account. I now found the time to re-read the article and run basic checks on functionality. From my perspective, all aspects mentioned above have been addressed thoroughly.

@Nicolas-Schmidt @Sergio-Bejar : Thank you for the effort of making this publicly available.

@marcosvital : my review is also complete.

[2020-03-29 00:43] tristan-salles commented on #2083
@sjpfenninger, you were right, I did forget to remove the setup files in the src. I have made the changes to ensure that there were no more duplications.

[2020-03-29 05:12] igarizio commented on #2169
👋 Hi @daffidwilde. Thank you for submitting your paper!

The paper is well written and the code is clear, easy to use and properly documented (good job!). So far, I have only found some small issues:
- As @mbdemoraes  mentioned, the “How to” page on the documentation is empty.
- In the setup.py file, I think you may be missing the hypothesis package (in “tests_require”). (The package is correctly

[2020-03-29 11:56] tomfaulkenberry commented on #2134
I have (finally) completed my review of this paper/package.  It is a very nice package, and will be immediately useful as a tool for psychologists who want to translate the (sometimes unfamiliar) R method of specifying contrasts to the way that we are usually taught to specify contrasts.

I left two boxes unchecked in my review above: (1) there is no license in the Github repo, and (2) there is no

[2020-03-29 12:21] YoungFaithful commented on #2034
@sjpfenninger thanks for your additional comments :)

That's a good way to phrase it. Thank you.

I included a description of the testing in the README and added a new "testing" page in the documentation that includes a detailed step by step description on how to run the testing.

I have a different understanding of the Pkg-Manager in that regard. I think that something like `pkg> activate capacit

[2020-03-29 12:55] #1968 closed

[2020-03-29 16:53] mbdemoraes commented on #2169
@igarizio Thank you! I suggested that because I thought "code in the paper" was a restriction. But if it's not, you are certainly right, the image sure adds to the content. :smile:

[2020-03-29 20:06] danasolav commented on #2060
Sorry for the delay. @JoshuaSteer- thanks for answering my comments. I've updated my checklist, and the paper is ready for publication as far as I'm concerned.

[2020-03-29 20:46] rachelss commented on #2129
Sorry I just saw this notification by email. Looks from the other issue that you found a second reviewer.

[2020-03-29 21:16] igarizio commented on #2169
@mbdemoraes Perfect! As a reference, JOSS even has an example on how to add python code [here](https://joss.readthedocs.io/en/latest/submitting.html), and also there are other accepted papers with code in them (for example [this one](https://joss.theoj.org/papers/10.21105/joss.01882)).

[2020-03-29 22:08] djmitche commented on #2124
I'm sorry I've been slow to get back to this -- I really have no excuse.  At this point I'm just waiting on CONTRIBUTING.

One thing in the paper that leaves me with a lingering uncertainty is "As more information is provided, connections are better resolved."  Perhaps this is my ignorance of the subject matter, but given a body of relatedness information that does not uniquely identify a single p

[2020-03-30 00:14] vanbenschoten commented on #2159
Hi @arfon! Wanted to circle back regarding our review. I realize folks are super busy right now, so would it be help if I added a few more suggested reviewers? Thanks!

[2020-03-30 00:55] arfon commented on #2159
Sure thing, that would be helpful. Thanks @vanbenschoten.

[2020-03-30 01:25] JonathanReardon commented on #2134
I too have now finished the review, apologies for the delay, and thank you to all for being understanding. This was a very simple tool to install and use, it worked exactly as intended and behaved exactly as described. No issues at all.

If you could include a license and a brief statement as to how others can contribute to the project, that would be great. I (and @tomfaulkenberry) could then tick

[2020-03-30 04:20] castelao commented on #2063
I just release a new version of CoTeDe and the new DOI is: 10.5281/zenodo.583710

Do I need to do anything else? Thank you

[2020-03-30 07:40] david-zwicker commented on #2158
Dear @celliern, thank you very much for your suggestions! I managed to include most of your points in the revised code. Thank you especially for suggesting the example gallery – I didn't know about this, but I think it helps showcasing the features of the package tremendously.

I'm looking forward to the remaining comments, but I obviously understand if this will now take much longer than usual. S

[2020-03-30 08:29] celliern commented on #2158
@david-zwicker Nice your gallery is wonderful !

Two minor points :

- "Do the authors clearly state what problems the software is designed to solve and who the target audience is?"
This could be highlighted  in the "Getting started" : I guess that such software is designed with researcher and student in mind (more than engineer / industrial target) due to the well known finite difference limitati

[2020-03-30 09:23] celliern commented on #2158
For the paper:
- there is still some typo : they could be easily spotted by a spell checker.
- `pyclaw` is the Clawpack python interface, clawpack is specialized in finite volume (especially Gudunov-like methods), not finite difference.
- you could cite the [Dedalus Project](http://dedalus-project.org/) for the pseudo-spectral methods.

Otherwise, the paper look fine. I will recommand the paper /

[2020-03-30 13:33] JoshuaSteer commented on #2060
Thanks @danasolav - no worries about the delay. Thank you for taking the time to give all your great comments, they've really improved the software!

[2020-03-30 13:37] scivision commented on #2083
@sjpfenninger thanks all set, I checked install box

[2020-03-30 14:12] wdduncan commented on #2168
I finished the checklist.

Comments:

1. I could not install the repo as per the instructions. When running the install script, I received error:
[code]
This could be b/c I am using OS X, or perhaps b/c I installed using venv.

2.. The examples reference a file named `/ontology/pocketmonsters.owl`. But this file is not in the repo.

The github documentation would benefit from having examples of ex

[2020-03-30 14:16] dfm commented on #2160
@whedon set 10.5281/zenodo.3728346 as archive

[2020-03-30 14:16] whedon commented on #2160
OK. <a href="https://doi.org/10.5281/zenodo.3728346" target="_blank">10.5281/zenodo.3728346</a> is the archive.

[2020-03-30 14:16] dfm commented on #2160
@whedon set v1.3 as version

[2020-03-30 14:17] whedon commented on #2160
OK. v1.3 is the version.

[2020-03-30 14:17] dfm commented on #2160
@whedon generate pdf

[2020-03-30 14:17] whedon commented on #2160
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02160/joss.02160/10.21105.joss.02160.pdf)

[2020-03-30 14:18] dfm commented on #2160
@whedon accept

[2020-03-30 14:18] whedon commented on #2160
[code]

[2020-03-30 14:18] whedon commented on #2160
[code]

[2020-03-30 14:19] whedon commented on #2160
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1393

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1393, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-03-30 14:19] gkiar commented on #2166
@whedon generate pdf from branch paper-branch

[2020-03-30 14:19] whedon commented on #2166
[code]

[2020-03-30 14:20] whedon commented on #2166
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02166/joss.02166/10.21105.joss.02166.pdf)

[2020-03-30 14:21] dfm commented on #2160
@hema-ted: Sorry - I missed that last DOI. Can you please add that to your `.bib` file? Also: please double check the final proofs above to make sure that everything looks good to you. The editors-in-chief team will take a look and do the final processing when they get a chance.

[2020-03-30 14:23] dfm commented on #2160
@xwang862, @malramsay64: Thank you very much for your constructive reviews! We really appreciate your contributions.

[2020-03-30 14:25] danielskatz commented on #2160
👋 @hema-ted & @dfm - since it's not so useful to have multiple people proof-reading at the same time, please let us (@openjournals/jose-eics) know when you think this is ready to publish, then we will take a final look and move it forward.

[2020-03-30 14:40] majensen commented on #2168
@sap218 please have a look at above issues of @wdduncan
@wdduncan - paper can be long or short, as long as it covers the requirements in the "Software paper" section of the review
thanks!

[2020-03-30 14:45] danielskatz commented on #2168
Well, actually, a goal of JOSS is that papers should be reasonably short. In https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain, we say, "the paper should be between 250-1000 words" though some papers are somewhat longer.

[2020-03-30 15:16] kthyng commented on #2106
@whedon accept deposit=true

[2020-03-30 15:16] whedon commented on #2106
[code]

[2020-03-30 15:17] whedon commented on #2106
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1244644900601319426) 👈 🐦🐦🐦

[2020-03-30 15:17] whedon commented on #2106
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1394
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02106](https://doi.org/10.21105/joss.02106)
2. If everything looks g

[2020-03-30 15:23] kthyng commented on #2106
Congratulations to @philerooski on your new publication! Thanks to editor @trallard and reviewers  @Ebedthan and @AKuederle — we couldn't do this process without your time and expertise!

[2020-03-30 15:23] #2106 closed

[2020-03-30 15:23] whedon commented on #2106
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02106/status.svg)](https://doi.org/10.21105/joss.02106)

**We need your help!**

Journal of Open Source Softwa

[2020-03-30 15:40] kthyng commented on #2063
@castelao I'm still seeing that the "note" section in your .bib file isn't coming through to be printed in your paper. For example, in the .bib file for Boyer et al, there is a note for the Technical Editor, but this doesn't come through to the reference in your paper. I can try to work on this at some point to see which entry type will carry through the note field, but it might be a few days befo

[2020-03-30 16:44] sjpfenninger commented on #2083
@tristan-salles I suggested some minor changes to the paper here: https://github.com/pyReef-model/RADWave/pull/2

[2020-03-30 16:49] sjpfenninger commented on #2083
@tristan-salles Your only tagged release on GitHub is v0.0.2 but PyPI has v0.1.1. Can you make sure you have a tagged release for the most recent version, and report back the correct version number here? Please then make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive. For the Zenodo/figshare archive, please make sure that:

* The titl

[2020-03-30 17:59] castelao commented on #2063
@kthyng, you are already too generous with your time, I can do it myself.    Thank you.

Yes, I noticed that, but my understanding is that the lack of the note field is the result of the reference type 'manual' combined with the bibliography style used by JOSS. Different journals adopt different styles, and since this is not my expertise, I always provide the fields and let each journal style to d

[2020-03-30 18:30] kthyng commented on #2063
@castelao Sure, the combination of items results in what ultimately shows up in the references. The thing that is most in your control is what type of entry a given reference is entered as. I think it is a good goal to have the information about the references show up, and it doesn't taking Latex hacking so much as appropriate field/entry choice. When I looked up that reference online, it was requ

[2020-03-30 18:42] hema-ted commented on #2160
@openjournals/jose-eics I have proofread the final version and I think it is ready for publication. Thanks!

[2020-03-30 18:51] dfm commented on #2160
That should be @openjournals/joss-eics! This is ready to go. Thanks!

[2020-03-30 18:54] danielskatz commented on #2160
thanks - we'll take it from here

[2020-03-30 19:02] danielskatz commented on #2160
Please see changes in https://github.com/hema-ted/pyzfs/pull/12 and https://github.com/hema-ted/pyzfs/pull/13

[2020-03-30 19:16] castelao commented on #2063
@kthyng certainly. I just did a test, and if I replace the note field by an editor field it shows up in the PDF. The problem is that the editor field is not standard for a manual type of entry. But editor field is standard for an 'incollection' entry.

Was intentional that you changed [from 'incollection' to 'manual'](https://github.com/castelao/CoTeDe/commit/bd03f3369ab430f19a6654525ba0f0700f8863

[2020-03-30 19:35] marcosvital commented on #2164
Thank you very much for the effort put in reviewing, @alletsee.

@Nicolas-Schmidt and @Sergio-Bejar , we are almost there! Let's proceed with a reference checking.

[2020-03-30 19:35] marcosvital commented on #2164
@whedon check references

[2020-03-30 19:35] whedon commented on #2164
[code]

[2020-03-30 19:37] marcosvital commented on #2164
Good, all DOIs are ok!

@Nicolas-Schmidt and @Sergio-Bejar , I'll generate a (possibly) final proof. Please check if everything is ok with it. I'll read it myself too, and will let you know if I find something that should be fixed.

[2020-03-30 19:38] marcosvital commented on #2164
@whedon generate pdf

[2020-03-30 19:38] whedon commented on #2164
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02164/joss.02164/10.21105.joss.02164.pdf)

[2020-03-30 20:21] hema-ted commented on #2160
@danielskatz Thanks, I have merged the pull requests.

[2020-03-30 20:22] danielskatz commented on #2160
@whedon accept

[2020-03-30 20:22] whedon commented on #2160
[code]

[2020-03-30 20:23] whedon commented on #2160
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1395

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1395, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-03-30 20:27] danielskatz commented on #2160
👋 @hema-ted - sorry, I now see a DOI that needs to be fixed, as done in https://github.com/hema-ted/pyzfs/pull/14

[2020-03-30 20:52] danielskatz commented on #2160
@whedon accept

[2020-03-30 20:52] whedon commented on #2160
[code]

[2020-03-30 20:52] whedon commented on #2160
[code]

[2020-03-30 20:52] whedon commented on #2160
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1396

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1396, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-03-30 20:53] danielskatz commented on #2160
@whedon accept deposit=true

[2020-03-30 20:53] whedon commented on #2160
[code]

[2020-03-30 20:54] whedon commented on #2160
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1244729810850627584) 👈 🐦🐦🐦

[2020-03-30 20:54] whedon commented on #2160
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1397
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02160](https://doi.org/10.21105/joss.02160)
2. If everything looks g

[2020-03-30 20:57] danielskatz commented on #2160
Thanks to @xwang862 & @malramsay64 for reviewing, and @dfm for editing!

And congratulations to @hema-ted and co-authors!

[2020-03-30 20:57] #2160 closed

[2020-03-30 20:57] whedon commented on #2160
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02160/status.svg)](https://doi.org/10.21105/joss.02160)

**We need your help!**

Journal of Open Source Softwa

[2020-03-30 20:59] hema-ted commented on #2160
Thanks all of you for your great help!

[2020-03-30 21:05] Sergio-Bejar commented on #2164
@alletsee, thank you very much for the time and effort you put into the review process.  All your comments were excellent and they made our paper and package better.

@marcosvital , we will take a good look into the article poof.    Thanks for generating it.  We will be in touch soon!

[2020-03-30 21:17] kthyng commented on #2063
@castelao I changed from incollection to manual when I saw your other bib entries were manual and had note fields — I assumed that meant the note fields were coming through. And as I recall, the editor field wrote "Editor" but since the person is a technical editor, not just editor, I figured a less specific field would be more appropriate to use (then keeping the language "Technical Editor").

[2020-03-30 21:48] castelao commented on #2063
One alternative to force that output is to use:

...
series = {(A. V. Mishonov, {T}echnical {E}ditor) {NOAA} {Atlas} {NESDIS}
87},
...

Would you prefer that or incollection with editor (which would be 'Ed.'
only instead of Technical Editor)?

On Mon, Mar 30, 2020 at 2:17 PM Kristen Thyng <notifications@github.com>
wrote:

[2020-03-30 23:48] Sergio-Bejar commented on #2164
@whedon generate pdf

[2020-03-30 23:48] whedon commented on #2164
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02164/joss.02164/10.21105.joss.02164.pdf)

[2020-03-30 23:56] Sergio-Bejar commented on #2164
@marcosvital , I made a couple of minor changes in the paper (nothing major, please see proof generated above).  Please let me know if there's anything you'd like to change/add.

Thanks!

[2020-03-31 00:49] tristan-salles commented on #2083
Thanks @sjpfenninger! I have merged the PR and update the version number to 1.0.0 as well as attached it to a new Zenodo archive

[![DOI](https://zenodo.org/badge/235496363.svg)](https://zenodo.org/badge/latestdoi/235496363)

+ the title of the archive is the same as the JOSS paper title
+ the authors of the archive are the same as the JOOS paper authors

[2020-03-31 01:04] majensen commented on #2168
Thanks for the clarification @danielskatz!

[2020-03-31 04:55] castelao commented on #2063
@whedon generate pdf

[2020-03-31 04:55] whedon commented on #2063
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02063/joss.02063/10.21105.joss.02063.pdf)

[2020-03-31 05:53] sjpfenninger commented on #2083
@whedon set v1.0.0 as version

[2020-03-31 05:53] whedon commented on #2083
OK. v1.0.0 is the version.

[2020-03-31 05:54] sjpfenninger commented on #2083
@whedon set 10.5281/zenodo.3733848 as archive

[2020-03-31 05:54] whedon commented on #2083
OK. <a href="https://doi.org/10.5281/zenodo.3733848" target="_blank">10.5281/zenodo.3733848</a> is the archive.

[2020-03-31 05:55] sjpfenninger commented on #2083
@whedon accept

[2020-03-31 05:55] whedon commented on #2083
[code]

[2020-03-31 05:55] whedon commented on #2083
[code]

[2020-03-31 05:56] whedon commented on #2083
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1398

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1398, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-03-31 05:56] sjpfenninger commented on #2083
@CourtneySmith32 @tristan-salles Thanks both, this is ready to go as far as I'm concerned. And thanks @bradyrx and @scivision for your work reviewing!

[2020-03-31 05:57] sjpfenninger commented on #2114
@whedon assign @gschivley as reviewer

[2020-03-31 05:57] whedon commented on #2114
OK, @gschivley is now a reviewer

[2020-03-31 05:57] tristan-salles commented on #2083
Thanks all for your reviews! This is awesome!

[2020-03-31 06:00] sjpfenninger commented on #2114
@whedon start review

[2020-03-31 06:00] whedon opened #2171 "[REVIEW]: OpenOA: An Open-Source Codebase For Operational Analysis of Wind Farms"
**Submitting author:** @jordanperr (<a href="http://orcid.org/0000-0003-1571-1887">Jordan Perr-Sauer</a>)
**Repository:** <a href="https://github.com/NREL/OpenOA" target ="_blank">https://github.com/NREL/OpenOA</a>
**Version:** v2.1
**Editor:** @sjpfenninger
**Reviewers:** @gschivley, @brynpickering
**Archive:** <a href="https://doi.org/10.5281/zenodo.4549876" target="_blank">10.5281/zenodo.454987

[2020-03-31 06:00] whedon commented on #2114
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2171.

[2020-03-31 06:00] #2114 closed

[2020-03-31 06:00] whedon commented on #2171
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @gschivley it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently w

[2020-03-31 06:01] whedon commented on #2171
[code]

[2020-03-31 06:01] whedon commented on #2171
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02171/joss.02171/10.21105.joss.02171.pdf)

[2020-03-31 06:02] sjpfenninger commented on #2114
@coroa @gschivley thanks for agreeing to review, and we understand that things are likely to take longer given the current circumstances. Let's head over to #2171 for the actual review!

[2020-03-31 06:56] sjpfenninger commented on #2171
@whedon add @coroa as reviewer

[2020-03-31 06:56] whedon commented on #2171
OK, @coroa is now a reviewer

[2020-03-31 08:06] Kevin-Mattheus-Moerman commented on #2060
@JoshuaSteer thanks for making those changes. I think you addressed all my main points. I was wondering if you considered my suggesting of using the Gaussian divergence theorem for volume computation (which provides the exact volume and does not rely on slicing). This is not a requirement, you can argue you are happy with the slicing based method for now, I just wanted to know if you worked on thi

[2020-03-31 08:24] thelfer commented on #2003
@whedon generate pdf

[2020-03-31 08:25] whedon commented on #2003
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02003/joss.02003/10.21105.joss.02003.pdf)

[2020-03-31 08:35] thelfer commented on #2003
@whedon generate pdf

[2020-03-31 08:35] whedon commented on #2003
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02003/joss.02003/10.21105.joss.02003.pdf)

[2020-03-31 09:38] JoshuaSteer commented on #2060
Thanks @Kevin-Mattheus-Moerman

Great news that all your main comments have been addressed. I'd quite like to the volume computation in as it would finish off the package quite nicely. I'll hopefully get it done by today and then we can get this published. Thanks for all of your great comments!

[2020-03-31 09:52] thelfer commented on #2003
@whedon generate pdf

[2020-03-31 09:53] whedon commented on #2003
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02003/joss.02003/10.21105.joss.02003.pdf)

[2020-03-31 10:02] thelfer commented on #2003
@whedon generate pdf

[2020-03-31 10:03] whedon commented on #2003
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02003/joss.02003/10.21105.joss.02003.pdf)

[2020-03-31 12:54] arfon commented on #2083
@whedon accept deposit=true

[2020-03-31 12:54] whedon commented on #2083
[code]

[2020-03-31 12:55] whedon commented on #2083
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1244971599234830336) 👈 🐦🐦🐦

[2020-03-31 12:55] whedon commented on #2083
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1399
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02083](https://doi.org/10.21105/joss.02083)
2. If everything looks g

[2020-03-31 12:58] arfon commented on #2083
@bradyrx, @scivision - many thanks for your reviews here and to @sjpfenninger for editing this submission ✨

@CourtneySmith32 - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-03-31 12:58] #2083 closed

[2020-03-31 12:58] whedon commented on #2083
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02083/status.svg)](https://doi.org/10.21105/joss.02083)

**We need your help!**

Journal of Open Source Softwa

[2020-03-31 14:40] castelao commented on #2063
@kthyng I spoke with Tim Boyer today, the first author of that publication, and he said that on his side there is no problem with using 'Editor' instead of 'Technical Editor'.

[2020-03-31 15:47] mstimberg commented on #2158
I join @celliern in congratulating you to your software, this is really an excellent tool and I have rarely seen that much attention to code quality in scientific software (type annotations, etc.)!

I have reported two minor issues (zwicker-group/py-pde#2, zwicker-group/py-pde#3) and three suggestions (zwicker-group/py-pde#4, zwicker-group/py-pde#5, zwicker-group/py-pde#5) directly in the `py-pde`

[2020-03-31 15:52] danielskatz commented on #2158
Please do be nitpicky - we need to fix all of these before publication :)

[2020-03-31 16:50] daffidwilde commented on #2169
Hello everyone,

Thank you so much for getting back with your reviews so swiftly. I've opened a [number of PRs](https://github.com/daffidwilde/matching/pulls) on the matching repository that address most of the points you've raised and I'd appreciate your feedback.

I will be adding to these tomorrow but I think things are looking pretty good thus far.

Thanks :+1:

[2020-03-31 16:52] drvinceknight commented on #2072
@whedon set 10.5281/zenodo.3725946 as archive

[2020-03-31 16:52] whedon commented on #2072
OK. <a href="https://doi.org/10.5281/zenodo.3725946" target="_blank">10.5281/zenodo.3725946</a> is the archive.

[2020-03-31 16:52] drvinceknight commented on #2072
@whedon accept

[2020-03-31 16:52] whedon commented on #2072
[code]

[2020-03-31 16:52] whedon commented on #2072
[code]

[2020-03-31 16:53] whedon commented on #2072
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1400

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1400, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-03-31 16:53] drvinceknight commented on #2072
Sorry for the delay @SirSharpest, I've recommended acceptance. Thank you @pdebuyl and @markgalassi for your time and effort reviewing this work: it's really appreciated.

[2020-03-31 16:55] danielskatz commented on #2072
Thanks - I'll work on finishing this

[2020-03-31 16:57] danielskatz commented on #2072
@SirSharpest  - please update the archive's metadata so that the title matches the paper title

[2020-03-31 17:02] danielskatz commented on #2072
Additionally, I've suggested some changes to the paper in https://github.com/SirSharpest/NarrowEscapeSimulator/pull/6

[2020-03-31 17:04] daffidwilde commented on #2169
One thing I haven't yet changed that I'd like to discuss more is this point raised by @mbdemoraes:

When writing the documenation, we decided that since Python 2 is not supported in Matching (by the use of f-strings, for instance) that this was not necessary -- although I see why that could become an issue as you've highlighted. Having said that, since Python 2 has been officially sunsetted as of

[2020-03-31 17:10] danielskatz commented on #2072
And I've suggested some changes to the references in https://github.com/SirSharpest/NarrowEscapeSimulator/pull/7

[2020-03-31 17:41] karthik commented on #2156
@whedon assign @tommyjones as reviewer

[2020-03-31 17:41] whedon commented on #2156
OK, @tommyjones is now a reviewer

[2020-03-31 18:02] mbdemoraes commented on #2169
@daffidwilde I understand! Adding this requirement to the setup.py and/or making it clearer in the documentation would sure be sufficient. :thumbsup:

[2020-03-31 18:05] gschivley commented on #2171
@sjpfenninger how strict is JOSS about requiring OSI approved licenses? It looks like the authors use a  modified version of the [BSD 3-clause](https://opensource.org/licenses/BSD-3-Clause). There are very minor changes to wording in the original 3 clauses, plus an extra clause:

including but not limited to any contracting manager/operator of a United States National Laboratory, any
institution o

[2020-03-31 18:10] danielskatz commented on #2171
We are very strict about this!  We will not publish this submission with a modified license

[2020-03-31 18:17] gschivley commented on #2171
Thanks @danielskatz. Does that include minor modifications to the original clauses like those below?

NREL has other repos that use a standard BSD 3-Clause so I would think they should be able to change this one, I just want to be clear on exactly how strict JOSS is about deviations in wording.

[2020-03-31 18:19] danielskatz commented on #2171
No deviations in wording are allowed. Any deviation is a different (and thus non-OSI-approved) license.

[2020-03-31 19:26] danielskatz commented on #2072
@whedon generate pdf

[2020-03-31 19:27] whedon commented on #2072
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02072/joss.02072/10.21105.joss.02072.pdf)

[2020-03-31 19:27] SirSharpest commented on #2072
Hi @danielskatz, thank you for the changes, I've reviewed and merged the changes, and just updated the zenodo title.

[2020-03-31 19:28] danielskatz commented on #2072
@whedon accept

[2020-03-31 19:28] whedon commented on #2072
[code]

[2020-03-31 19:28] whedon commented on #2072
[code]

[2020-03-31 19:28] whedon commented on #2072
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1401

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1401, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-03-31 19:29] danielskatz commented on #2072
@whedon accept deposit=true

[2020-03-31 19:29] whedon commented on #2072
[code]

[2020-03-31 19:30] whedon commented on #2072
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1245070879396106242) 👈 🐦🐦🐦

[2020-03-31 19:34] danielskatz commented on #2072
Thanks to @pdebuyl & @markgalassi for reviewing, and @drvinceknight for editing!

And congratulations to @SirSharpest and co-authors!

[2020-03-31 19:34] #2072 closed

[2020-03-31 19:34] whedon commented on #2072
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02072/status.svg)](https://doi.org/10.21105/joss.02072)

**We need your help!**

Journal of Open Source Softwa

[2020-03-31 19:59] JoshuaSteer commented on #2060
This has now been done, thanks for the link to your algorithm as a reference, it worked great. I've updated the docs online, where you can see the result of the simple hole filling algorithm I wrote and how it changes the volume computation.

https://ampscan.readthedocs.io/en/latest/examples/analysis.html#Volume,-Cross-section-area-and-Widths

Hopefully that's now everything.

[2020-03-31 19:59] rhagenson commented on #2124
CONTRIBUTING has been [added](https://github.com/rhagenson/relped/blob/master/CONTRIBUTING.md)

[2020-03-31 20:33] jordanperr commented on #2171
@danielskatz @gschivley - I will bring this up with our team and see if we can accommodate this request. I imagine this license issue may have come up in the past for JOSS if they've published any work that was funded by the US government.

[2020-03-31 20:43] danielskatz commented on #2171
In other cases that I remember, labs have found a way to use a standard license.

[2020-03-31 20:56] arfon commented on #2171
@jordanperr - this is one example of another project making the change (DoE/LBL project): https://github.com/openjournals/joss-reviews/issues/1370

[2020-04-01 00:45] CourtneySmith32 commented on #2083
Hi Everyone,

Thank you so much @bradyrx <https://github.com/bradyrx>, @scivision
<https://github.com/scivision> and @sjpfenninger
<https://github.com/sjpfenninger>, super exciting! Thanks for your reviews,
comments and help, very much appreciated.

Thanks @tristan-salles <https://github.com/tristan-salles>!!! Amazing job
finishing it all off :)

Cheers,
Courtney

On Tue, Mar 31, 2020 at 11:59 PM

[2020-04-01 09:04] MAnalytics commented on #2019
Dear @karthik,
cc @njtierney,
Please, could you send a reminder to reviewers to help  commence work on this submission?
Thank you as I anticipate your kind response,
Monsuru.

[2020-04-01 11:38] chennachaos commented on #2089
Hi @albansouche
I must say that it is very refreshing to see an open-source software library for FSI problems.

I have started the review. I have been going through the code and the associated documentation. I am having difficulties in understanding some parts. I would like to understand them at length before providing my detailed remarks.

1.) How, and on what level, does turtleFSI interact with

[2020-04-01 12:51] arfon commented on #2019
@MAnalytics - just to be clear, this submission is not yet out for review. The handling editor (@karthik) is likely still looking for a second reviewer.

[2020-04-01 13:13] sap218 commented on #2168
@wdduncan @majensen will get on looking at the issues stated as soon as I can! Thanks.

[2020-04-01 13:59] MAnalytics commented on #2019
@arfon Ok. Thank you very much for your response.

[2020-04-01 14:32] joaomcteixeira commented on #2142
Dear editor and reviewers,

Is there any news regarding restarting operations at JOSS after the suspension announced by @arfon referring to COVID-19? These are difficult times and I most deeply hope all you are in safe conditions.

A simple question: in parallel to this submission, I have continued developing the software. Should I update any data on the manuscript if a new PR is merged?

Thanks i

[2020-04-01 14:36] arfon commented on #2142
Given that the software has yet to go out for review I think it's fine to make small changes to the submission paper. Once the reviewers are working on the review I think it would be good to keep things stable.

[2020-04-01 18:10] david-zwicker commented on #2158
Thank you very much for your constructive and helpful comments. I think I implemented almost all of them, except for the following three:

* **Adding the benchmarks to the documentations**: I'm not quite sure how to do this, so that it is useful. In particular, the performance will depend quite heavily on the hardware on which the code runs. Moreover, the results of the benchmark need to be cached

[2020-04-01 18:35] xuanxu commented on #2158
@mstimberg  @celliern:
Both of you have checked all items.
Do you consider your review finished and recommend publication?

[2020-04-01 19:07] mstimberg commented on #2158
@xuanxu: In principle yes, but I'd like to have a final look at the revised paper. I guess the PDF has to be regenerated? I might be able to trigger this myself, let's try:

@whedon generate pdf

[2020-04-01 19:09] danielskatz commented on #2158
commands to whedon need to be at the start of a comment

[2020-04-01 19:10] mstimberg commented on #2158
@whedon generate pdf

[2020-04-01 19:10] whedon commented on #2158
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02158/joss.02158/10.21105.joss.02158.pdf)

[2020-04-01 19:19] mstimberg commented on #2158
@xuanxu I had a final look and can confirm that from my side the review is finished and I recommend the paper publication. :+1:

[2020-04-01 20:04] corybrunson commented on #2161
@TomKellyGenetics what do you think about incorporating the summary statement of need you're preparing into the DESCRIPTION and/or README as well? This would resolve the criterion for the software documentation as well as for the paper.

[2020-04-01 20:12] celliern commented on #2158
@david-zwicker No problem, there was non blocking suggestion ;)

For the advection specialized schemes I will try to do a pull request when I will have the time (I hope soon?).

@xuanxu I also had a final look on the documentation and paper, and I ecommend the paper publication !

[2020-04-01 21:27] shah314 commented on #1843
@arfon @jedbrown Completely understandable. Let me know if you need any help.

[2020-04-02 00:53] usethedata commented on #1865
Checking in.  It took me longer to get through some chaos in my world.  I'm starting in on my review.

[2020-04-02 00:54] usethedata commented on #1865
@whedon generate pdf

[2020-04-02 00:54] whedon commented on #1865
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01865/joss.01865/10.21105.joss.01865.pdf)

[2020-04-02 01:04] usethedata commented on #1865
This is not, IMO, a conflict of interest.  However, I am documenting it here for transparency.  I work at Oak Ridge National Laboratory, and I am therefore an employee of UT-Battelle, which is a 50/50 joint venture between the University of Tennessee and Battelle Memorial Institute.  The authors are at the National Renewable Energy Laboratory, which is another of the US Department of Energy labs,

[2020-04-02 02:26] TomKellyGenetics commented on #2161
Hi @corybrunson, that sounds like a good idea. I'm planning update the manuscript and documentation in the next few days to make the the changes discussed so far.

[2020-04-02 09:26] TomKellyGenetics commented on #2161
@whedon generate pdf

[2020-04-02 09:27] TomKellyGenetics commented on #2161
Minor changes to the manuscript to aid further review.

[2020-04-02 09:27] whedon commented on #2161
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02161/joss.02161/10.21105.joss.02161.pdf)

[2020-04-02 09:40] jspaezp commented on #2061
hello @mschubert I have modified the links in the bibliography.bib file and (hypothetically) fixed the key that made the link not show up in the references section.

regarding the check fixes ... for the most part its issues with the naming of arguments and patterns for s3 methods, which after trying would break A LOT of the checks and examples in the documentation, so I believe it should be done

[2020-04-02 09:53] YoungFaithful commented on #2034
@whedon generate pdf from branch paper

[2020-04-02 09:54] whedon commented on #2034
[code]

[2020-04-02 09:54] whedon commented on #2034
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02034/joss.02034/10.21105.joss.02034.pdf)

[2020-04-02 11:32] arfon commented on #1843
@whedon generate pdf

[2020-04-02 11:32] arfon commented on #2061
@whedon generate pdf

[2020-04-02 11:32] whedon commented on #1843
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01843/joss.01843/10.21105.joss.01843.pdf)

[2020-04-02 11:32] arfon commented on #2061
@jspaezp commands to @whedon need to be either at the start of a message or standalone ☝️

[2020-04-02 11:33] whedon commented on #2061
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02061/joss.02061/10.21105.joss.02061.pdf)

[2020-04-02 11:34] arfon commented on #1843
@shah314 - could you update the author list on your Zenodo record to match the paper please? It currently includes @jedbrown which I'm guessing is due to him making a few edits to the paper.

[2020-04-02 12:17] natallah commented on #2061
It looks good to me!

[2020-04-02 13:10] daffidwilde commented on #2169
Fantastic! I'll get on that now.

[2020-04-02 13:27] corybrunson commented on #2161
@TomKellyGenetics i see your recent responses and will get to the repo issues next. I see only a few remaining issues with the paper:

* The "Statement of Need" header is still there, with no text under it.
* In the coded example, `graph_test4` is not defined, though it is used on lines 311 and 336 (in `paper.md`).
* In the "Computational details" section, i wonder if this sentence could be stated

[2020-04-02 13:37] corybrunson commented on #2161
@TomKellyGenetics sorry, one more:

* You've explained the role of the second author here, but could you add a comment about this to the paper itself? A reader should, i think, be able to glean from the paper what contributions each author made. (As for the package itself, the second author's role is clear from the `ths` relator in the DESCRIPTION file.)

[2020-04-02 13:39] albansouche commented on #2089
Hi @chennachaos
Thank you for your first feedbacks. Here are my replies.

_1.) How, and on what level, does turtleFSI interact with FeniCS?_
turtleFSI interacts with FEniCS through the python interface. It provides a compact code relatively easy to modify for further development for anyone with basic knowledge of the FEniCS library.

_2.) What is the example problem used in the tests?_
We check al

[2020-04-02 13:49] joaomcteixeira commented on #2142
Thanks @arfon,
I look forward to the continuation of the review process.
Kind Regards,

[2020-04-02 15:08] karthik commented on #2019
Yes, Arfon is correct. I am still trying to locate a second reviewer. Right now very few people are accepting new review requests so it is challenging. As soon as I have reviewer #2, I will start the review.

[2020-04-02 15:08] shah314 commented on #1843
@arfon I have updated the Zenodo author list. Thanks.

[2020-04-02 15:55] mmrabe commented on #2134
@tomfaulkenberry and @JonathanReardon, thank you both very much for taking the time to review the package and paper and of course for your wonderful feedback! @marcosvital, I hope it’s okay that I went ahead and made the changes to the repository.

I added a “Community guidelines” paragraph to the end of the [README](https://github.com/mmrabe/hypr/blob/master/README.md) file and a [LICENSE](https:

[2020-04-02 15:58] tomfaulkenberry commented on #2134
Great..thanks @mmrabe!  I have finished the checkmarks on my part, and I'm perfectly happy with the final result.

[2020-04-02 17:28] JonathanReardon commented on #2134
Thank you @mmrabe, and congrats on the project! Just ticked off the final two boxes, cheers all.

[2020-04-02 18:33] arfon commented on #1843
@whedon set 10.5281/zenodo.3709625 as archive

[2020-04-02 18:33] whedon commented on #1843
OK. <a href="https://doi.org/10.5281/zenodo.3709625" target="_blank">10.5281/zenodo.3709625</a> is the archive.

[2020-04-03 00:43] arfon commented on #1843
@shah314 - I made some minor changes to your paper in https://github.com/shah314/graphcoloring/pull/7 that improve the readability.

[2020-04-03 01:24] shah314 commented on #1843
@whedon generate pdf

[2020-04-03 01:25] whedon commented on #1843
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01843/joss.01843/10.21105.joss.01843.pdf)

[2020-04-03 01:41] shah314 commented on #1843
@arfon I just merged the pull request. Thank you for the changes.

[2020-04-03 02:18] cMadan commented on #2116
@whedon generate pdf

[2020-04-03 02:18] whedon commented on #2116
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02116/joss.02116/10.21105.joss.02116.pdf)

[2020-04-03 02:22] djmitche commented on #2124
Thanks for the explanation.  The key point for my review is "wording that is understood by those doing the work already" :)

[2020-04-03 02:24] djmitche commented on #2124
All of the checkboxes for my review are complete,  so once @rabdill's concerns are addressed I think this is good to go.

[2020-04-03 02:28] klho commented on #1906
Just pinging since it's been another two weeks without any communication.

[2020-04-03 02:45] jedbrown commented on #1918
@whedon set v0.2.4 as version

[2020-04-03 02:45] whedon commented on #1918
OK. v0.2.4 is the version.

[2020-04-03 02:45] jedbrown commented on #1918
@whedon generate pdf

[2020-04-03 02:46] whedon commented on #1918
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01918/joss.01918/10.21105.joss.01918.pdf)

[2020-04-03 09:01] thelfer commented on #2003
@whedon generate pdf

[2020-04-03 09:02] whedon commented on #2003
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02003/joss.02003/10.21105.joss.02003.pdf)

[2020-04-03 09:04] thelfer commented on #2003
@whedon generate pdf

[2020-04-03 09:05] whedon commented on #2003
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02003/joss.02003/10.21105.joss.02003.pdf)

[2020-04-03 09:07] simonom commented on #1918
@whedon generate pdf

[2020-04-03 09:07] whedon commented on #1918
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01918/joss.01918/10.21105.joss.01918.pdf)

[2020-04-03 09:09] thelfer commented on #2003
Hi @arfon, @srmnitc @IgorBaratta
I hope everyone is fine.
I just closed this issue:  https://github.com/thelfer/MFrontGenericInterfaceSupport/issues/35
Here there anything I can do to help the review process ?
Regards,
Thomas

[2020-04-03 09:11] simonom commented on #1918
@whedon generate pdf

[2020-04-03 09:12] whedon commented on #1918
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01918/joss.01918/10.21105.joss.01918.pdf)

[2020-04-03 09:13] simonom commented on #1918
Thanks @jedbrown , article looks okay to me.

[2020-04-03 09:45] srmnitc commented on #2003
With the last review, I am happy with the overall status of the paper. The main part where I struggled was instructions to set up and use the code, but now the documentation is much better. Also, for the specialist audience, it might be easier. I still think the paper could be improved a bit more in terms of sentence construction and language, but it is in overall good shape. With that said, I hav

[2020-04-03 09:49] srmnitc commented on #2120
@whedon generate pdf

[2020-04-03 09:50] whedon commented on #2120
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02120/joss.02120/10.21105.joss.02120.pdf)

[2020-04-03 09:55] thelfer commented on #2003
@srmnitc Thank you for this kind review. Do not hesitate to make comments on the code, they will be greatly appreciated.

[2020-04-03 11:33] xuanxu commented on #2158
@whedon check references

[2020-04-03 11:34] whedon commented on #2158
[code]

[2020-04-03 12:03] thesketh commented on #2157
@whedon generate pdf

[2020-04-03 12:08] thesketh commented on #2157
@richardjgowers I've released another version (v0.2.4) on PyPI to reflect @RMeli's recommended changes. I've updated the examples in the article to reflect the new version, could you update the version with whedon? I believe it's an editor-only command

[2020-04-03 12:09] betteridiot commented on #2014
I apologize for the long delay in responding. The author has addressed most of my notes and looks to be actively working on the "quality of writing". With that, I believe the paper is ready to move forward.

[2020-04-03 12:28] xuanxu commented on #2158
@whedon check references

[2020-04-03 12:29] whedon commented on #2158
[code]

[2020-04-03 12:29] xuanxu commented on #2158
@whedon generate pdf

[2020-04-03 12:30] whedon commented on #2158
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02158/joss.02158/10.21105.joss.02158.pdf)

[2020-04-03 12:32] xuanxu commented on #2158
OK @david-zwicker, everything looks good, here are the next steps:

- Please release a new tagged version from the current master so it includes all the changes made during the review process
- Then archive that latest release in Zenodo
- Check the Zenodo deposit has the correct metadata: title and author name should match the paper; you may also add your ORCID.

Once you do that please report her

[2020-04-03 12:45] arfon commented on #1843
@whedon accept

[2020-04-03 12:45] whedon commented on #1843
[code]

[2020-04-03 12:46] whedon commented on #1843
[code]

[2020-04-03 12:46] whedon commented on #1843
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1403

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1403, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-04-03 12:47] arfon commented on #1906
@melissawm - it might be worth trying to contact @sivaramambikasaran over email if you've not tried that already?

[2020-04-03 12:48] arfon commented on #1843
@whedon accept deposit=true

[2020-04-03 12:48] whedon commented on #1843
[code]

[2020-04-03 12:49] whedon commented on #1843
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1246057259009966081) 👈 🐦🐦🐦

[2020-04-03 12:49] whedon commented on #1843
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1404
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01843](https://doi.org/10.21105/joss.01843)
2. If everything looks g

[2020-04-03 12:49] arfon commented on #2003
👋 @IgorBaratta - how are you getting along with your review?

[2020-04-03 12:52] arfon commented on #1843
@HaoZeke, @ProbShin - many thanks for your reviews here and to @jedbrown for editing this submission ✨

@shah314 - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-04-03 12:52] #1843 closed

[2020-04-03 12:52] whedon commented on #1843
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01843/status.svg)](https://doi.org/10.21105/joss.01843)

**We need your help!**

Journal of Open Source Softwa

[2020-04-03 13:13] majensen commented on #2044
@scwest - how's it going?

[2020-04-03 13:13] majensen commented on #2006
@uellue - how's it going?

[2020-04-03 13:21] melissawm commented on #1906
@arfon unfortunately I have, and have had no response for a long time. I think it may be time to look for another reviewer. I was trying to avoid that since it probably means more delays because a new reviewer will have to start from scratch, but I see no other solution at this point. Thanks for your patience, @klho

[2020-04-03 13:34] uellue commented on #2006
@majensen Work is progressing, I hope to have an update in a week or two!

[2020-04-03 14:30] scwest commented on #2044
Hi Mark,

As you might be experiencing yourself, the additional responsibilities
offered by the current COVID-19 pandemic are immediate and pressing.
Specifically as a biomedical researcher, we have lots to do. I should have
reached out earlier, but is it ok if we put this review on hold. Thank you
for your work, I'll be returning to this ASAP. But that looks like it may
be farther out than antici

[2020-04-03 14:46] stsievert commented on #1655
Thanks for the improvements @torressa! The docs are looking better. Thanks for adding the simple example.

Could you add the simple example to the main documentation page? I think that'd help provide some more clarify.

[2020-04-03 14:47] daffidwilde commented on #2169
👋 Hello all!

I've now completed making the changes requested here in Matching. The changes have been split amongst [seven pull requests](https://github.com/daffidwilde/matching/pulls).

It'd be great if you could have a look at these changes whenever you get the chance.

Thanks again for all the suggestions and discussion 😄

[2020-04-03 15:17] david-zwicker commented on #2158
I just published the latest package on github and Zenodo:

The GitHub version is v0.5 and the DOI is https://doi.org/10.5281/zenodo.3739300

[2020-04-03 15:18] srmnitc commented on #2120
@meg-simula @raphaeltimbo All the issues I have raised were cleared.  I am quite happy with the state of the code and wholeheartedly recommend the paper for publication. Thanks @raphaeltimbo for the nice module!

[2020-04-03 15:20] arfon commented on #2120
:wave: @nnadeau - how are you getting on with your review?

[2020-04-03 15:30] shah314 commented on #1843
@jedbrown @arfon @ProbShin @HaoZeke Thanks all!

[2020-04-03 15:35] klho commented on #1906
Thanks -- that might be for the best.

[2020-04-03 15:35] klho commented on #1906
@whedon generate pdf

[2020-04-03 15:36] whedon commented on #1906
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01906/joss.01906/10.21105.joss.01906.pdf)

[2020-04-03 15:36] klho commented on #1906
@whedon check references

[2020-04-03 15:37] whedon commented on #1906
[code]

[2020-04-03 16:18] xuanxu commented on #2158
@whedon set v0.5 as version

[2020-04-03 16:18] whedon commented on #2158
OK. v0.5 is the version.

[2020-04-03 16:19] xuanxu commented on #2158
@whedon set 10.5281/zenodo.3739300 as archive

[2020-04-03 16:19] whedon commented on #2158
OK. <a href="https://doi.org/10.5281/zenodo.3739300" target="_blank">10.5281/zenodo.3739300</a> is the archive.

[2020-04-03 16:20] xuanxu commented on #2158
Thanks @mstimberg and @celliern for your reviews!

[2020-04-03 16:20] xuanxu commented on #2158
@whedon accept

[2020-04-03 16:20] whedon commented on #2158
[code]

[2020-04-03 16:20] whedon commented on #2158
[code]

[2020-04-03 16:21] whedon commented on #2158
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1405

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1405, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-04-03 16:26] jordanperr commented on #2171
@gschivley - Great news! I was able to change the license to a standard BSD license. This change has been merged in to the master branch of the OpenOA repository.

[2020-04-03 16:55] leouieda commented on #1808
@whedon check references

[2020-04-03 16:56] whedon commented on #1808
[code]

[2020-04-03 16:56] leouieda commented on #1808
@whedon generate pdf

[2020-04-03 16:56] whedon commented on #1808
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01808/joss.01808/10.21105.joss.01808.pdf)

[2020-04-03 17:18] danielskatz commented on #2158
Thanks @xuanxu - I'll take over

[2020-04-03 17:21] leouieda commented on #1808
@trichter I made a few editorial suggestions to the paper. After those are integrated, there a couple of things that you'll need to do before acceptance:

- Double check authors and affiliations (including ORCIDs)
- Make a release of the software with the latest changes from the review and **post the version number here**. This is the version that will be used in the JOSS paper.
- Archive the rele

[2020-04-03 17:22] leouieda commented on #1720
@whedon check references

[2020-04-03 17:22] whedon commented on #1720
[code]

[2020-04-03 17:25] leouieda commented on #1720
@whedon generate pdf

[2020-04-03 17:26] whedon commented on #1720
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01720/joss.01720/10.21105.joss.01720.pdf)

[2020-04-03 17:28] danielskatz commented on #2158
👋 @david-zwicker - I've suggested some minor changes in https://github.com/zwicker-group/py-pde/pull/8/files

[2020-04-03 17:47] leouieda commented on #1720
@sam-greenwood  I made a few editorial suggestions to the paper. After those are integrated please let me know. Tthere a couple of things that you'll need to do after that and before acceptance:

- Double check authors and affiliations (including ORCIDs)
- Make a release of the software with the latest changes from the review and **post the version number here**. This is the version that will be u

[2020-04-03 17:57] danielskatz commented on #2158
@whedon accept

[2020-04-03 17:57] whedon commented on #2158
[code]

[2020-04-03 17:57] whedon commented on #2158
[code]

[2020-04-03 17:57] whedon commented on #2158
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1406

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1406, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-04-03 17:58] danielskatz commented on #2158
@whedon accept deposit=true

[2020-04-03 17:58] whedon commented on #2158
[code]

[2020-04-03 17:59] whedon commented on #2158
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1246135265019736068) 👈 🐦🐦🐦

[2020-04-03 17:59] whedon commented on #2158
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1407
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02158](https://doi.org/10.21105/joss.02158)
2. If everything looks g

[2020-04-03 18:01] danielskatz commented on #2158
Thanks to @celliern & @mstimberg for reviewing, and @xuanxu for editing!

Congratulations to @david-zwicker!

[2020-04-03 18:01] #2158 closed

[2020-04-03 18:01] whedon commented on #2158
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02158/status.svg)](https://doi.org/10.21105/joss.02158)

**We need your help!**

Journal of Open Source Softwa

[2020-04-03 18:11] david-zwicker commented on #2158
Thank you everyone for the very smooth process and for your numerous suggestions that surely improved the quality of the code, the documentation, and the paper.

There is some small issue still: I cannot see the final pdf of the paper and I actually receive a 404 when I want to download it. Is this something that would just take a while until it is finally there?

[2020-04-03 20:01] torressa commented on #1655
Done! Thanks @stsievert for the suggestions.
By the way, more examples coming!
I'm collaborating with someone to implements some vehicle routing variants using cspy!!

[2020-04-03 23:40] briandesilva commented on #2104
@sixpearls, do you have any suggestions about how to render math in the README.rst file? I have drafted a simple mathematical description and some accompanying text for the README, but I have so far been unable to get any of the math to be rendered on GitHub.

After some poking around other repositories, the only solution I have been able to find is to export the rendered equations as images, then

[2020-04-04 02:57] nnadeau commented on #2120
@arfon in progress, waiting on:

- https://github.com/ross-rotordynamics/ross/issues/495
- https://github.com/ross-rotordynamics/ross/issues/494
- https://github.com/ross-rotordynamics/ross/issues/493
- https://github.com/ross-rotordynamics/ross/issues/492

[2020-04-04 09:13] dmey commented on #2008
Many thanks all for your comments and useful feedback. Below I respond to each of your points individually.

Reviewer: @ethan-nelson

1.1: This has been changed to [CECILL-2.1](https://github.com/teb-model/teb/blob/master/Licence_CeCILL_V2.1-en.txt).

1.2: This issue has been addressed directly in the external library. Can you please let me know if TEB now compiles OK on your system or open an iss

[2020-04-05 01:43] vanbenschoten commented on #2159
Apologies for the delay! Below are 5 other potential reviewers:

bliiir
yzhao062
Sirjla
krystophny
coljac

On Sun, Mar 29, 2020, 7:55 PM Arfon Smith <notifications@github.com> wrote:

[2020-04-05 13:20] nnadeau commented on #2120
@raphaeltimbo my checklist is complete and I'm just waiting to resolve the issues listed below. Once those are resolved, we're good to go! :)

https://github.com/ross-rotordynamics/ross/issues/492
https://github.com/ross-rotordynamics/ross/issues/494
https://github.com/ross-rotordynamics/ross/issues/495
https://github.com/ross-rotordynamics/ross/issues/484
https://github.com/ross-rotordynamics/ros

[2020-04-05 15:42] sixpearls commented on #2104
@briandesilva I can't find a better example, but I was imagining just a simple [ASCII formulation like this one](https://github.com/cvxgrp/dccp#dccp-rules). You could alternatively describe the mathematical concepts "in" Python or pseudocode.

That said, Your update to the ["original paper" notebook](https://pysindy.readthedocs.io/en/latest/examples/2_original_paper.html#main-ideas) is exactly wha

[2020-04-05 15:46] sixpearls commented on #2104
I believe the PyPI long description can render images, but you would need to find a host to serve the graphic to PyPI and I'm not sure if GitHub does that. So, rather than using plots in the PyPI long description, you could do something like show the output of numpy's `isclose` function to verify the fit.

[2020-04-05 18:21] arfon commented on #2159
@bliiir @yzhao062 @Sirjla @krystophny @coljac - - would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

This review would need you to inspect code in a [small number of repositories](https://github.com/openjournals/joss-reviews/issue

[2020-04-05 20:55] mjsottile commented on #2008
Excellent!  It looks like everything has been addressed, but I do want to check on two items:

1. Can @ethan-nelson verify that 1.2 is addressed, and if not, open an issue as suggested by @dmey?

2. The license looks like it is addressed, but there is the caveat that @jayten pointed out that some of the files are from a third-party and have their own license wording in the comments (the "Environme

[2020-04-05 21:41] melissawm commented on #1906
Hello @vijaysm, would you be willing/available to review this software paper for JOSS? We do realize this may be a complicated time for all (you can read Arfon's message above about our current paused status). However, if you can let us know if you think you could spare some time to review this some time in the future (or not), please just mention it in this thread. Thank you in advance!

[2020-04-05 22:02] vijaysm commented on #1906
Hi @melissawm, thanks for reaching out for the review. I should be able to find enough time to review the paper in the coming days. I'll get started on this next week.

[2020-04-05 23:10] igarizio commented on #2169
@daffidwilde All the pull requests seem good to me. Thank you for making the suggested changes!
Let me know when you merge them.

[2020-04-05 23:51] kbarnhart commented on #2029
@ryanpmcg a very quick update on my end. I am almost finished opening issues associated with my review. I may have zero, one, or two more as I revisit the code/checklist. While I may not be able to actually check off all my checklist boxes in the next few days, I'll open any remaining issues I need to by the middle of this week.

[2020-04-06 02:06] ethan-nelson commented on #2008
1.2 is indeed fixed. Everything else looks good to me :+1:!

[2020-04-06 07:59] Kevin-Mattheus-Moerman commented on #2060
@JoshuaSteer those changes look good. Thanks for implementing that volume computation. I have not more issues remaining. I'm happy (in my role as reviewer) to recommend this for acceptance in JOSS.

[2020-04-06 07:59] trichter commented on #1808
@whedon generate pdf

[2020-04-06 08:00] whedon commented on #1808
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01808/joss.01808/10.21105.joss.01808.pdf)

[2020-04-06 08:00] Kevin-Mattheus-Moerman commented on #2060
@danasolav thanks again for reviewing this work. You've used tickboxes in this comment https://github.com/openjournals/joss-reviews/issues/2060#issuecomment-590065452 here. Would you be able to tick those boxes as well for completeness? Thanks

[2020-04-06 08:01] Kevin-Mattheus-Moerman commented on #2060
@JoshuaSteer your work is about to be processed for acceptance in JOSS please thoroughly review your paper including the author names and affiliations one last time. Thanks.

[2020-04-06 08:01] Kevin-Mattheus-Moerman commented on #2060
@whedon generate pdf

[2020-04-06 08:02] whedon commented on #2060
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02060/joss.02060/10.21105.joss.02060.pdf)

[2020-04-06 08:02] Kevin-Mattheus-Moerman commented on #2060
@whedon check references

[2020-04-06 08:03] whedon commented on #2060
[code]

[2020-04-06 08:42] JoshuaSteer commented on #2060
@Kevin-Mattheus-Moerman Excellent news! Thank you for all of yours and @danasolav work on this!

[2020-04-06 08:46] trichter commented on #1808
I worked through your posted list:

* Added your editorial suggestions and my orcid to the paper
* Published a new version ``0.9.1``
* Uploaded it to zenodo, the doi is ``10.5281/zenodo.3741366``

[2020-04-06 08:48] TomKellyGenetics commented on #2161
Thanks @corybrunson, you've explained what is required very clearly. I've updated the manuscript as suggested.

The "igraph.extensions" library isn't so important at this stage, I've migrated all required functions into "graphsim" to satisfy CRAN requirements (no remote dependencies). It's for convenience to install other packages similar to the initial release of "tidyverse". I've updated the tex

[2020-04-06 09:11] corybrunson commented on #2161
@TomKellyGenetics That sounds fine! No need to drop the extensions library if you find it useful; i was just unclear about it at first.

[2020-04-06 11:05] leouieda commented on #1808
@whedon set 0.9.1 as version

[2020-04-06 11:05] whedon commented on #1808
OK. 0.9.1 is the version.

[2020-04-06 11:06] leouieda commented on #1808
@whedon set 10.5281/zenodo.3741366 as archive

[2020-04-06 11:06] whedon commented on #1808
OK. <a href="https://doi.org/10.5281/zenodo.3741366" target="_blank">10.5281/zenodo.3741366</a> is the archive.

[2020-04-06 11:07] leouieda commented on #1808
@whedon generate pdf

[2020-04-06 11:08] whedon commented on #1808
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01808/joss.01808/10.21105.joss.01808.pdf)

[2020-04-06 11:10] leouieda commented on #1808
@whedon accept

[2020-04-06 11:10] whedon commented on #1808
[code]

[2020-04-06 11:10] whedon commented on #1808
[code]

[2020-04-06 11:10] whedon commented on #1808
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1408

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1408, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-04-06 11:13] leouieda commented on #1808
@trichter thank you for implementing these final fixes. It's my pleasure to recommend your submission for publication in JOSS :tada:

A JOSS Associate Editor-in-Chief will stop by and do the final acceptance and publication (usually quick but please be patient given the current global crisis).

@seisman @ThomasLecocq thank for your reviews of this submission!

[2020-04-06 11:49] JoshuaSteer commented on #2060
@Kevin-Mattheus-Moerman

@Kevin-Mattheus-Moerman

DOI: 10.5281/zenodo.3741495
Version: v0.3.0

[2020-04-06 12:33] danielskatz commented on #1808
Thanks @leouieda - I'll take this now

[2020-04-06 12:38] danielskatz commented on #1808
@trichter - there are some small changes in https://github.com/trichter/rf/pull/27

[2020-04-06 13:47] trichter commented on #1808
@danielskatz Thanks for these. I merged your branch.

[2020-04-06 13:48] trichter commented on #1808
@whedon generate pdf

[2020-04-06 13:48] whedon commented on #1808
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01808/joss.01808/10.21105.joss.01808.pdf)

[2020-04-06 14:03] danielskatz commented on #1808
@whedon accept deposit=true

[2020-04-06 14:03] whedon commented on #1808
[code]

[2020-04-06 14:04] whedon commented on #1808
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1247163382677082113) 👈 🐦🐦🐦

[2020-04-06 14:04] whedon commented on #1808
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1409
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01808](https://doi.org/10.21105/joss.01808)
2. If everything looks g

[2020-04-06 14:08] danielskatz commented on #1808
Thanks to @ThomasLecocq & @seisman for reviewing, and @leouieda for editing!

Congratulations to @trichter!

[2020-04-06 14:08] #1808 closed

[2020-04-06 14:08] whedon commented on #1808
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01808/status.svg)](https://doi.org/10.21105/joss.01808)

**We need your help!**

Journal of Open Source Softwa

[2020-04-06 14:12] arfon commented on #2029
:wave: @frengers - I just wanted to check in an see how you're getting on with your review? (I also sent you an email a few minutes ago too.)

[2020-04-06 16:11] kbarnhart commented on #2029
@ryanpmcg and @arfon I've now opened all the issues I plan to open associated with this review. I expect to be able to complete my review checklist once these issues are resolved. I'll continue to correspond with @ryanpmcg on those issue threads.

[2020-04-06 16:15] majensen commented on #2044
@scwest no problem at all -- I will add the "Paused" tag. Thanks a lot for the response!

[2020-04-06 16:17] majensen commented on #2044
@whedon remind @majensen in 2 weeks

[2020-04-06 16:17] whedon commented on #2044
Reminder set for @majensen in 2 weeks

[2020-04-06 16:17] majensen commented on #1942
@whedon remind @majensen in 2 weeks

[2020-04-06 16:17] whedon commented on #1942
Reminder set for @majensen in 2 weeks

[2020-04-06 16:46] arfon commented on #2029
👍ok thanks for the updated @kbarnhart.

[2020-04-06 17:40] johannes-titz commented on #2116
@cMadan Just to keep you up to date: I sent the paper to a copy-editor and she found a couple of small grammar mistakes and made some minor improvements in word choice. These changes are already included in the master (see: https://github.com/johannes-titz/mimosa/commit/a80736f5442ff506cb489d937b542b1fb91f3ad0?short_path=fb6416b). I believe this is now good to go.

@whedon generate pdf

[2020-04-06 17:50] danielskatz commented on #2116
@whedon generate pdf

⬆️ commands to whedon need to be the start of a comment ⬆️

[2020-04-06 17:51] whedon commented on #2116
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02116/joss.02116/10.21105.joss.02116.pdf)

[2020-04-06 17:51] melissawm commented on #1906
That's great, thank you so much!

[2020-04-06 17:52] melissawm commented on #1906
@whedon add @vijaysm as reviewer

[2020-04-06 17:52] whedon commented on #1906
OK, @vijaysm is now a reviewer

[2020-04-06 18:35] ryanpmcg commented on #2029
@whedon generate pdf

[2020-04-06 18:36] whedon commented on #2029
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02029/joss.02029/10.21105.joss.02029.pdf)

[2020-04-06 19:02] jordanperr commented on #2171
Yes. I tried to make this author list a most complete reflection of the NREL team. Some of those authors may only have contributed in the past, using an internal git server, or they have been a guiding force in planning or architecture of the software.

[2020-04-07 02:26] kbarnhart commented on #1978
@nkarasiak thank you for the update and for making those changes.

@cmillion and @mollenburger, if you are able, would you be able to complete your reviews?

[2020-04-07 02:32] kbarnhart commented on #1969
@rgmyr I wanted to check in again to see if you had an expected timeframe for addressing the outstanding issues. Its definitely OK if you and co-authors have other matters to attend to.

[2020-04-07 10:23] daffidwilde commented on #2169
Hi @igarizio, I've [merged](https://github.com/daffidwilde/matching/pull/97) the pull requests relating to your changes.

However, I've left the PRs with any shared or @mbdemoraes' requested changes open. If there is anything further you'd like me to change then let me know 😄

[2020-04-07 13:07] kthyng commented on #2063
ok great, let's move ahead then.

[2020-04-07 13:07] kthyng commented on #2063
@whedon add 10.5281/zenodo.583710 as archive

[2020-04-07 13:07] whedon commented on #2063
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-04-07 13:08] kthyng commented on #2063
@whedon set 10.5281/zenodo.583710 as archive

[2020-04-07 13:08] whedon commented on #2063
OK. <a href="https://doi.org/10.5281/zenodo.583710" target="_blank">10.5281/zenodo.583710</a> is the archive.

[2020-04-07 13:10] kthyng commented on #2063
@castelao Can you edit the metadata at your Zenodo archive so that the title and authors on your paper exactly match there?

Also, what is the proper version number for your repository currently?

[2020-04-07 13:21] kthyng commented on #2143
Thanks @JeffWalton-PSC! I'll add you as a reviewer and continue to search for a second reviewer.

[2020-04-07 13:22] kthyng commented on #2143
@whedon assign @JeffWalton-PSC  as reviewer

[2020-04-07 13:22] whedon commented on #2143
OK, @JeffWalton-PSC  is now a reviewer

[2020-04-07 13:26] kthyng commented on #2143
@juliohm Do you have the availability and interest to review this JOSS submission? We understand people are quite busy in these unusual times and reviews may take extra time right now, that is ok. Thanks for your consideration.

[2020-04-07 15:11] castelao commented on #2063
@kthyng I just updated the DOI record itself, thanks for noticing that.

The current version is 0.21.3

[2020-04-07 15:12] juliohm commented on #2143
Thank you @kthyng for pinging. I wish I could review the paper, but I am very busy at the moment with some deadlines. Hope you can find another reviewer.

[2020-04-07 18:21] kthyng commented on #2143
@rmsare Might you be able to review this submission to JOSS? Thanks for your consideration.