[2020-10-30 09:14] whedon commented on #2802
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-30 09:14] whedon opened #2803 "[PRE REVIEW]: PUPILS pipeline: A flexible Matlab toolbox for eyetracking and pupillometry data processing"
**Submitting author:** @heliaib (<a href="http://orcid.org/0000-0002-2899-1673">Helia Relaño-Iborra</a>)
**Repository:** <a href="https://gitlab.gbar.dtu.dk/heliaib/PUPILS-preprocessing-pipeline" target ="_blank">https://gitlab.gbar.dtu.dk/heliaib/PUPILS-preprocessing-pipeline</a>
**Version:** v1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced se

[2020-10-30 09:14] whedon commented on #2803
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-30 09:14] whedon commented on #2802
Failed to discover a `Statement of need` section in paper

[2020-10-30 09:14] whedon commented on #2802
[code]

[2020-10-30 09:14] whedon commented on #2802
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02802/joss.02802/10.21105.joss.02802.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02802/joss.02802/10.21105.joss.02802.pdf) :page_facing_up: :point_left:

[2020-10-30 09:14] whedon commented on #2803
[code]

[2020-10-30 09:15] whedon commented on #2803
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02803/joss.02803/10.21105.joss.02803.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02803/joss.02803/10.21105.joss.02803.pdf) :page_facing_up: :point_left:

[2020-10-30 09:15] whedon commented on #2802
[code]

[2020-10-30 09:15] whedon commented on #2803
[code]

[2020-10-30 09:24] arfon commented on #2802
:wave: @sdmccabe, thanks for your submission to JOSS. Could you please make sure you have a section named _Statement of need_ near the top of your paper with a description of the software designed for a generalist audience?

[2020-10-30 09:25] arfon commented on #2802
Edit: Ignore me. I see the title of your first section. The paper is good as-is.

[2020-10-30 09:28] arfon commented on #2802
@whedon invite @bmcfee as editor

:wave: @bmcfee - would you be willing to edit this submission for JOSS?

[2020-10-30 09:28] whedon commented on #2802
@bmcfee has been invited to edit this submission.

[2020-10-30 09:29] heliaib commented on #2803
RE: Potential reviewers. Based on the list of potential reviewers provided I see the following matches: mwanvliet, Suresh-lab, acolum, wspr, cMcdan.

Other possibilities (slightly more removed topic-wise): fernandoandreotti, sdelantsheer, wahls, CELavecchia, josphhardinee

[2020-10-30 09:30] arfon commented on #2803
@whedon query scope

:wave: @heliaib - thanks for your submission to JOSS. I've flagged this for review by our editorial team as this submission is very small and may be judged to not meet our [substantial scholarly effort threshold](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort).

[2020-10-30 09:30] whedon commented on #2803
Submission flagged for editorial review.

[2020-10-30 09:33] heliaib commented on #2803
@arfon  yes, I thought that might be the case - thanks for flagging it!

[2020-10-30 09:41] heliaib commented on #2803
Fixed DOIs

@whedon generate pdf

[2020-10-30 09:51] arfon commented on #2803
@whedon generate pdf

[2020-10-30 09:51] arfon commented on #2803
@whedon check references

[2020-10-30 09:52] arfon commented on #2803
@heliaib - these commands currently have to be issued in a separate comment on the thread (or at the start of a comment).

[2020-10-30 09:52] whedon commented on #2803
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02803/joss.02803/10.21105.joss.02803.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02803/joss.02803/10.21105.joss.02803.pdf) :page_facing_up: :point_left:

[2020-10-30 09:52] whedon commented on #2803
[code]

[2020-10-30 10:42] SiccarPoint commented on #2771
I'm afraid I can't right now. I'm utterly overwhelmed with teaching stuff...

[2020-10-30 11:00] mfeldt commented on #2764
Dear Marcos,

   I am not sure whether I would be supposed to answer directly, or
indeed if you were supposing to referee this anonymously, but forgive
me, I'm as new to the JOSS process as you are.

   Just two quick points: Missing a comprehensive manual is due to my
stupidity of course, as it actually exists:
https://aosat.readthedocs.io/en/latest/
I'll put the link in the ghithub repository.

[2020-10-30 11:15] akrinos commented on #2799
Suggested reviewers:
- johanneswerner
- juanvillada
- jcmcnch
- csoneson
- edgraham
- frederic-mahe

[2020-10-30 12:05] will-rowe commented on #2799
Hi. I'm just on annual leave this week but can take this on Monday

[2020-10-30 12:17] lpantano commented on #2792
Hi Arfon, the papers seems interesting, but I don’t know about microscopy :( I don’t think I can handle well this edit.

[2020-10-30 12:43] profxj commented on #2308
@whedon - Raising this back up to your level.
Am hoping to publish this in 2020, if feasible.
Thanks.

[2020-10-30 12:43] whedon commented on #2308
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-10-30 12:44] profxj commented on #2308
@kthyng -- Raising this back up to your level.
Am hoping to publish this in 2020, if feasible.
Thanks.

[2020-10-30 12:58] njtierney commented on #2379
Thank you for your patience everyone, here is my review.

I have a few concerns regarding the functionality of the software and how easy it is to use for a data analysis. I appreciate that perhaps these points might at first appearance appear to be superficial, however I think that making these improvements will make the user experience better, and improve the package overall - I myself would love

[2020-10-30 13:05] diehlpk commented on #2514
@whedon accept

[2020-10-30 13:05] whedon commented on #2514
[code]

[2020-10-30 13:06] whedon commented on #2514
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1882

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1882, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-30 13:06] whedon commented on #2514
[code]

[2020-10-30 13:24] trashbirdecology commented on #2794
I can review this, but only because the logo is so amazing.

[2020-10-30 13:44] johnjarmitage commented on #2771
OK @kbarnhart, I'll take a look at the code and summary paper.

[2020-10-30 13:49] arfon commented on #2608
@whedon generate pdf

[2020-10-30 13:49] arfon commented on #2608
@whedon check references

[2020-10-30 13:50] whedon commented on #2608
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02608/joss.02608/10.21105.joss.02608.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02608/joss.02608/10.21105.joss.02608.pdf) :page_facing_up: :point_left:

[2020-10-30 13:51] whedon commented on #2608
[code]

[2020-10-30 13:53] arfon commented on #2608
:wave: @syasini - I'm going to help out @harpolea to get this paper across the line and published.

[2020-10-30 13:54] dfm commented on #2308
@profxj et al., I'm going pick up this review as editor to help @harpolea out!

[2020-10-30 13:54] cmshobe commented on #2771
Sure thing @kbarnhart, I can do it.

[2020-10-30 13:54] dfm commented on #2308
@whedon assign @dfm as editor

[2020-10-30 13:58] dfm commented on #2308
:wave: @astrom-tom - it looks like there are a few issues on https://github.com/pypeit/PypeIt waiting for responses from you. Can you give us an idea of when you'll get a chance to get to those? Let me know if you have any questions!

[2020-10-30 14:01] kthyng commented on #2497
@whedon generate pdf

[2020-10-30 14:02] dfm commented on #2278
:wave: @ledell I'm pinging you just to keep this on your radar (and to keep @sayanddude posted). As discussed via email, we'd love to get a review from you in the next 3 weeks. Let me know if you have any questions as you proceed. Thanks again!!

[2020-10-30 14:02] whedon commented on #2497
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02497/joss.02497/10.21105.joss.02497.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02497/joss.02497/10.21105.joss.02497.pdf) :page_facing_up: :point_left:

[2020-10-30 14:03] diehlpk commented on #2291
@johntfoster Would you be fine with removing you from the list of reviewers, since I found a second one?

[2020-10-30 14:04] diehlpk commented on #2291
@ctdegroot Could you please tell me your timeline for this review?

[2020-10-30 14:10] arfon commented on #2608
@syasini - I made a tiny formatting fix in https://github.com/syasini/AstroPaint/pull/85. After merging (assuming you like the change), could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare a

[2020-10-30 14:11] csoneson commented on #2706
@whedon add @MelvinSMunsaka as reviewer

[2020-10-30 14:11] whedon commented on #2706
OK, @MelvinSMunsaka is now a reviewer

[2020-10-30 14:13] csoneson commented on #2706
Hi all - I'm happy to say that we now have a third reviewer - apologies for the delay and thanks a lot @MelvinSMunsaka for accepting!

Melvin - your checklist is in the first post above, and you can leave comments here and/or open issues in the software repository. Don't hesitate to ping me if you have any questions.

[2020-10-30 14:15] Mmj94 commented on #2578
@whedon generate pdf

[2020-10-30 14:15] whedon commented on #2578
PDF failed to compile for issue #2578 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-d14a699185fb/lib/whedon/author.rb:72:in `block in build_affiliation_string': Problem with affiliations for Marina Jimeno, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-d14a699185fb/lib/whedon/author.rb:71:in `each'

[2020-10-30 14:20] kthyng commented on #2497
@lnferris Ok I found the Zenodo doi you made (10.5281/zenodo.4151538). This will be linked into your publication formally through the paper separately from your citation of it, too. Can you go to the Zenodo archive and update the title and author list to exactly match your JOSS paper?

[2020-10-30 14:20] kthyng commented on #2497
@whedon set v1.0.1 as version

[2020-10-30 14:20] whedon commented on #2497
OK. v1.0.1 is the version.

[2020-10-30 14:27] kthyng commented on #2497
@lnferris I have a small change here you can merge if you agree [#40](https://github.com/lnferris/ocean_data_tools/pull/40)

[2020-10-30 14:34] Mmj94 commented on #2578
@whedon generate pdf

[2020-10-30 14:35] whedon commented on #2578
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02578/joss.02578/10.21105.joss.02578.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02578/joss.02578/10.21105.joss.02578.pdf) :page_facing_up: :point_left:

[2020-10-30 14:40] akbaritabar commented on #2708
## Letter to authors
Thank you for your trust and allowing me to take part in this interesting experience as I am studying peer review as a subject of research and the way JOSS is handling it was really interesting to me.

I must start by saying that I am a social scientist who uses R, Python and network analysis tools and techniques on daily basis. That means I have evaluated the submission with

[2020-10-30 14:53] kthyng commented on #2713
Hi @visr and @milankl! Are you interested in reviewing this submission to the Journal for Open Source Software? The review is done openly through github and is checklist-driven. Acknowledging the global pandemic, we're asking for reviews in 5-6 weeks. You can get more information from our [docs](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) (though looks like they are offline at

[2020-10-30 14:57] ajjackson commented on #2671
That's correct. While there is truth in @jgostick 's comment about "wishful thinking" future features, the situation is a little more muddled with packages like this that present a toolkit. One can make accurate statements about how the _current state_ provides a capability for users and developers to build workflows, even if those workflows are not yet provided with the package. So I can see why

[2020-10-30 14:59] kellieotto commented on #2794
@mikldk I don't have the bandwidth to do a review right now - sorry!

[2020-10-30 15:03] milankl commented on #2713
Thanks @kthyng for the invitiation, I'm happy to accept.

[2020-10-30 15:25] oalii commented on #2793
Thanks @arfon ,
So maybe the best in our case would be to switch on the `develop` branch for the reviewing process and merge at the end in the `master` once all the improvements generated by the review will be made ?
In that case, how can I specify to Whedon that the default branch to check is the `develop` one ?

[2020-10-30 15:42] kbarnhart commented on #2771
@whedon add @johnjarmitage as reviewer

[2020-10-30 15:42] whedon commented on #2771
OK, @johnjarmitage is now a reviewer

[2020-10-30 15:43] kbarnhart commented on #2771
@whedon add @cmshobe as reviewer

[2020-10-30 15:43] whedon commented on #2771
OK, @cmshobe is now a reviewer

[2020-10-30 15:44] kbarnhart commented on #2771
@johnjarmitage and @cmshobe thanks for agreeing to review. @SiccarPoint - no worries, good luck with the teaching responsibilities.

I'm now going to start the review on a new issue.

[2020-10-30 15:44] kbarnhart commented on #2771
@whedon start review

[2020-10-30 15:44] whedon opened #2804 "[REVIEW]: gospl: Global Scalable Paleo Landscape Evolution"
**Submitting author:** @tristan-salles (<a href="http://orcid.org/0000-0001-6095-7689">Tristan Salles</a>)
**Repository:** <a href="https://github.com/Geodels/gospl/" target ="_blank">https://github.com/Geodels/gospl/</a>
**Version:** v0.2.1
**Editor:** @kbarnhart
**Reviewer:** @johnjarmitage, @cmshobe
**Archive:** <a href="https://doi.org/10.5281/zenodo.4319332" target="_blank">10.5281/zenodo.431

[2020-10-30 15:44] whedon commented on #2771
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2804.

[2020-10-30 15:44] #2771 closed

[2020-10-30 15:44] whedon commented on #2804
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @johnjarmitage, @cmshobe it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2020-10-30 15:45] whedon commented on #2804
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02804/joss.02804/10.21105.joss.02804.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02804/joss.02804/10.21105.joss.02804.pdf) :page_facing_up: :point_left:

[2020-10-30 15:46] whedon commented on #2804
[code]

[2020-10-30 15:48] kbarnhart commented on #2804
@johnjarmitage @cmshobe thanks for agreeing to review this submission to JOSS. As noted above, we are trying to adjust to authors, reviewers, and editors needs under COVID. Thus we are asking reviewers try and complete reviews in 6 weeks. I am going to use whedon the editorial bot to remind you about your review in two weeks, and then again in 4 weeks.

If there are any questions from the authors

[2020-10-30 15:48] kbarnhart commented on #2804
@whedon remind @johnjarmitage in 2 weeks

[2020-10-30 15:48] whedon commented on #2804
Reminder set for @johnjarmitage in 2 weeks

[2020-10-30 15:48] kbarnhart commented on #2804
@whedon remind @cmshobe in 2 weeks

[2020-10-30 15:48] whedon commented on #2804
Reminder set for @cmshobe in 2 weeks

[2020-10-30 15:53] kthyng commented on #2713
@milankl Excellent! I'll add you now, though we will wait in this pre-review stage until we have two reviewers before beginning the actual review issue.

[2020-10-30 15:53] kbarnhart commented on #2804
@tristan-salles could you add the DOI's identified as missing by whedon? There are also some parts of the bibliography (mostly titles) that could benefit from extra curly braces to enforce capitalization (useful reference [here](https://www.ece.ucdavis.edu/~jowens/biberrors.html)).

[2020-10-30 15:53] kthyng commented on #2713
@whedon assign @milankl as reviewer

[2020-10-30 15:54] whedon commented on #2713
OK, @milankl is now a reviewer

[2020-10-30 16:09] marcrr commented on #2638
Sorry for the delay in writing this review.

Overall, this is a nice software and a nice contribution. It was easy to install and run. I have a few points, which I will structure following the Review checklist.

An small point: it would be nice to provide the compiled PDF for easier access by readers.

**Installation instructions: Is there a clearly-stated list of dependencies**

It was easy to in

[2020-10-30 16:26] kbarnhart commented on #2407
@Xunius I've made my final copyedits on ihesp/IPART/pull/17. Please review and merge them.

After merging, please do the following:

- [ ] Make a tagged release of your software, and report the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo)

[2020-10-30 16:38] lnferris commented on #2497
@kthyng Changed Zenodo title and author list, and merged the change. Thanks!

[2020-10-30 16:56] csoneson commented on #2787
@whedon generate pdf

[2020-10-30 16:57] whedon commented on #2787
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02787/joss.02787/10.21105.joss.02787.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02787/joss.02787/10.21105.joss.02787.pdf) :page_facing_up: :point_left:

[2020-10-30 18:00] kthyng commented on #2497
@whedon accept

[2020-10-30 18:01] whedon commented on #2497
[code]

[2020-10-30 18:01] whedon commented on #2497
[code]

[2020-10-30 18:01] whedon commented on #2497
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1884

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1884, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-30 18:03] kthyng commented on #2497
@openjournals/dev the XML title doesn't have underscores that should be present. How should we proceed? Thanks.

[2020-10-30 18:31] melissawm commented on #2658
Thanks, @stsievert ! I'll add you as a reviewer but won't start the review right away as we're still missing another reviewer.

[2020-10-30 18:33] melissawm commented on #2658
@whedon assign @stsievert as reviewer

[2020-10-30 18:33] whedon commented on #2658
OK, @stsievert is now a reviewer

[2020-10-30 18:36] melissawm commented on #2658
Hello @torressa, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html Let me know if you need any more information. Thank you!

[2020-10-30 19:16] arfon commented on #2514
@whedon accept deposit=true

[2020-10-30 19:16] whedon commented on #2514
[code]

[2020-10-30 19:17] whedon commented on #2514
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1322256340908187648) 👈 🐦🐦🐦

[2020-10-30 19:17] whedon commented on #2514
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1885
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02514](https://doi.org/10.21105/joss.02514)
2. If everything looks g

[2020-10-30 19:21] arfon commented on #2793
Yes, that sounds good. We can ask Whedon to build from a custom branch with e.g.:

`@whedon generate pdf from branch develop`

[2020-10-30 19:23] arfon commented on #2514
@gardner48, @debdeepbh, @emconsta - many thanks for your reviews here and to @diehlpk for editing this submission ✨

@ketch - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-10-30 19:23] #2514 closed

[2020-10-30 19:23] whedon commented on #2514
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02514/status.svg)](https://doi.org/10.21105/joss.02514)

**We need your help!**

Journal of Open Source Softwa

[2020-10-30 19:25] arfon commented on #2799
:zap: thanks @will-rowe! I'll go ahead and assign you this now.

[2020-10-30 19:25] arfon commented on #2799
@whedon assign @will-rowe as editor

[2020-10-30 19:25] whedon commented on #2799
OK, the editor is @will-rowe

[2020-10-30 19:28] johntfoster commented on #2291
Yes, please do.  And I apologize for not being able to complete a timely
review.  I really thought I could when I accepted.

On Fri, Oct 30, 2020 at 9:04 AM Patrick Diehl <notifications@github.com>
wrote:

[2020-10-30 19:37] arfon commented on #2497
Let's proceed with the submission and I'll fix this after we've published.

[2020-10-30 19:39] arfon commented on #2792
@whedon invite @jni as editor

:wave: @jni - would you feel comfortable taking on a third paper?

[2020-10-30 19:39] whedon commented on #2792
@jni has been invited to edit this submission.

[2020-10-30 19:47] kthyng commented on #2497
ok thanks @arfon

[2020-10-30 19:47] arfon commented on #2774
@javitausia - thanks for your submission to JOSS. After consulting with the editorial team, this submission was deemed too small to be considered in JOSS (see https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort).

[2020-10-30 19:47] arfon commented on #2774
@whedon reject

[2020-10-30 19:48] kthyng commented on #2497
@whedon accept deposit=true

[2020-10-30 19:48] whedon commented on #2774
Paper rejected.

[2020-10-30 19:48] #2774 closed

[2020-10-30 19:48] whedon commented on #2497
[code]

[2020-10-30 19:49] whedon commented on #2497
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1322264390448676864) 👈 🐦🐦🐦

[2020-10-30 19:49] whedon commented on #2497
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1886
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02497](https://doi.org/10.21105/joss.02497)
2. If everything looks g

[2020-10-30 19:50] kthyng commented on #2497
Congrats on your publication @lnferris!! Many thanks to reviewers @kakearney and @castelao for sharing your time and expertise. We couldn't do this process without you!!

once the DOI resolves, I'll close this issue. And @arfon will be able to fix the XML file at this point.

[2020-10-30 19:55] arfon commented on #2684
:wave: @jmstone @bpbrown - would either of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The software under review is [_The Pencil Code, a modular MPI code for partial differential equations and particles: multipurpose and multiuser-maint

[2020-10-30 19:55] arfon commented on #2684
@whedon assign me as editor

[2020-10-30 19:55] whedon commented on #2684
OK, the editor is @arfon

[2020-10-30 19:55] arfon commented on #2684
:wave:

[2020-10-30 19:57] kthyng commented on #2497
Ok DOI resolves but I guess the issue should stay open until we hear from @arfon.

[2020-10-30 19:59] arfon commented on #2597
:wave: @sadielbartholomew - just checking you're planning on completing your review in the next week or so?

[2020-10-30 20:01] arfon commented on #2446
:wave: @lockepatton - can I check what your plans are here? As this issue hasn't seen any updates for a good number of months now I'm wondering whether it might be best to close this review and re-invite a submission in the future if you manage to address the feedback here?

[2020-10-30 20:10] arfon commented on #2497
Should all be fixed up now.

[2020-10-30 20:10] #2497 closed

[2020-10-30 20:10] whedon commented on #2497
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02497/status.svg)](https://doi.org/10.21105/joss.02497)

**We need your help!**

Journal of Open Source Softwa

[2020-10-30 20:23] diehlpk commented on #2291
@whedon commands

[2020-10-30 20:23] whedon commented on #2291
Here are some things you can ask me to do:

[code]

[2020-10-30 20:25] diehlpk commented on #2291
@whedon remove @johntfoster  as reviewer

[2020-10-30 20:25] whedon commented on #2291
OK, @johntfoster  is no longer a reviewer

[2020-10-30 20:29] bmcfee commented on #2802
@arfon sure; I can get started on it tomorrow.

[2020-10-30 20:33] arfon commented on #2802
⚡️ thanks @bmcfee! I'll go ahead and assign you now.

[2020-10-30 20:33] sadielbartholomew commented on #2597
Hi @arfon, yes, I will complete a first review over the weekend. Thanks for your patience.

[2020-10-30 20:34] arfon commented on #2802
@whedon assign @bmcfee as editor

[2020-10-30 20:34] whedon commented on #2802
OK, the editor is @bmcfee

[2020-10-30 20:57] lnferris commented on #2497
Thank you, @kthyng @kakearney @castelao @chadagreene for sharing your time and wisdom. This has been an awesome experience.

[2020-10-30 21:22] galessiorob commented on #2697
I was waiting for @fduchatea to add [these details](https://github.com/openjournals/joss-reviews/issues/2697#issuecomment-714811843) but we can start the review and do it there.

[2020-10-30 21:25] galessiorob commented on #2697
Thanks for volunteering to review this paper @martinfleis, @nuest, @omshinde and @jdalzatec 🎉

I'm going to open a fresh review issue that will contain individual checklists for each of you to work through, please let me know if you have any questions.

[2020-10-30 21:25] galessiorob commented on #2697
@whedon start review

[2020-10-30 21:25] whedon opened #2805 "[REVIEW]: Predihood: an open-source tool for describing and predicting neighbourhoods' environment"
**Submitting author:** @fduchatea (<a href="http://orcid.org/0000-0001-6803-917X">Fabien Duchateau</a>)
**Repository:** <a href="https://gitlab.com/fduchate/predihood" target ="_blank">https://gitlab.com/fduchate/predihood</a>
**Version:** v1.1
**Editor:** @galessiorob
**Reviewer:** @jdalzatec, @omshinde, @nuest, @martinfleis
**Archive:** <a href="https://doi.org/10.5281/zenodo.4737729" target="_b

[2020-10-30 21:25] whedon commented on #2697
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2805.

[2020-10-30 21:25] #2697 closed

[2020-10-30 21:25] whedon commented on #2805
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jdalzatec, @omshinde, @nuest, @martinfleis it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [

[2020-10-30 21:26] whedon commented on #2805
[code]

[2020-10-30 21:26] galessiorob commented on #2805
@whedon generate pdf

[2020-10-30 21:27] whedon commented on #2805
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02805/joss.02805/10.21105.joss.02805.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02805/joss.02805/10.21105.joss.02805.pdf) :page_facing_up: :point_left:

[2020-10-30 21:27] whedon commented on #2805
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02805/joss.02805/10.21105.joss.02805.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02805/joss.02805/10.21105.joss.02805.pdf) :page_facing_up: :point_left:

[2020-10-30 21:57] tristan-salles commented on #2804
@kbarnhart I have updated the DOI's and the Titles capitalisation in the bibliography.
Thank you to the reviewers

[2020-10-30 22:07] ledell commented on #2278
Hey @dfm Thanks, I have started the review process and I hope to post my full review here soon!

[2020-10-30 22:28] lootie commented on #2463
To update this thread, @anowacki I have implemented all but two (or three) of the comments, none of which are blockers.
[Issue 18](https://bitbucket.org/clhaley/multitaper.jl/issues/18/docs-deploy-with-documenterjl) I have worked on using Documenter.jl to the point where one can compile the documentation (though it is rudimentary now), but hosting from Bitbucket appears to be a non-standard thing.

[2020-10-30 23:04] mvandam commented on #2764
Having the manual makes a big difference! I will read the manual and rewrite my review accordingly in the next two or three days.

[2020-10-30 23:25] galessiorob commented on #2676
@nedRad88 I added a few edit suggestions to the text on the `patch-1` branch, feel free to further edit them if you want.

Looking forward to taking this paper across the finish line!

[2020-10-31 00:01] kullrich commented on #2424
@whedon generate pdf

[2020-10-31 00:02] whedon commented on #2424
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02424/joss.02424/10.21105.joss.02424.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02424/joss.02424/10.21105.joss.02424.pdf) :page_facing_up: :point_left:

[2020-10-31 01:44] jni commented on #2792
@whedon assign me as editor

I have fairly low bandwidth this month but this is definitely in my wheelhouse! We just yesterday finished adding some PIV datasets to skimage! :joy: @Oftatkofta thanks for this work, apologies if I move a bit slow but I'll try to get reviewers lined up ASAP and get the process started!

[2020-10-31 01:44] whedon commented on #2792
OK, the editor is @jni

[2020-10-31 02:00] ledell commented on #2278
@sayanddude I am getting errors running with default settings.

I do not understand why the vignette goes through the effort of demonstrating how to use an "auto-prepped" training set via the `autoDataprep()` function, but then neglects to use the auto-prepped dataset in the examples -- it uses the original `heart` data.frame.  If I try to use the auto-prepped version, I get errors.

Also, why is

[2020-10-31 02:52] ctdegroot commented on #2291
I’ve started my review but the invitation link gave me a page not found error so I still can’t modify the checklist. Can you send the invite once more and see if I can get it to work?

[2020-10-31 02:54] bpbrown commented on #2684
@arfon and JOSS: I would be very happy to help in this review.

I have two potential COI's however: I work very closely with co-author
Jeffrey Oishi as part of the Dedalus project (both as co-authors on papers
and as collaborators in funded research), and I am the supervising manager
who is hiring a second co-author (Illa Losada) to a position at CU
Boulder.  I am not involved in the Pencil code i

[2020-10-31 02:55] diehlpk commented on #2291
@whedon re-invite @ctdegroot as reviewer

[2020-10-31 02:55] whedon commented on #2291
OK, the reviewer has been re-invited.

@ctdegroot please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-10-31 02:56] diehlpk commented on #2291
@ctdegroot Please click on the link above.

[2020-10-31 05:13] cMadan commented on #2776
@mmrabe @terrytangyuan @ejolly @DominiqueMakowski, would you be available and interested in reviewing this submission?

[2020-10-31 06:54] znicholls commented on #2766
Will do. I've started in a couple of PRs, will work on 2 this week. Thanks to both for the great review and co-ordination!

[2020-10-31 07:36] Xunius commented on #2407
@kbarnhart Thanks for the instructions.

* [ihesp/IPART/pull/17](https://github.com/ihesp/IPART/pull/17) is merged.
* A tagged release of the final state after merging the above: https://github.com/ihesp/IPART/releases/tag/v3.0.8
* DOI of an archive in Zenodo: 10.5281/zenodo.4164826.

[2020-10-31 07:51] MAnalytics commented on #2379
@njtierney Thank you very much for taking the time to provide the above reviews. I will address the issues highlighted asap.

[2020-10-31 07:59] xin-huang commented on #2722
The authors implemented an interesting tool for Java programmers to use R codes inside Java, which may be helpful for Java programmers to use tremendous statistical tools in R. However, I feel the authors could improve their documentation and software paper and make them more user-friendly. I have open two issues (https://github.com/jbytecode/rcaller/issues/54 and https://github.com/jbytecode/rcal

[2020-10-31 07:59] arfon commented on #2684
Thanks for the fast reply here and the COI disclosures @bpbrown. I would like to try and avoid this conflict if at all possible so I'll keep looking for a few more days to find an alternative second reviewer. If I fail, I may return to your offer - does that sound OK?

[2020-10-31 08:06] arfon commented on #2776
@cMadan - just a heads up that @terrytangyuan is actually a JOSS editor these days and so probably shouldn't be asked to review for us too 😁

[2020-10-31 08:07] whedon opened #2806 "[PRE REVIEW]: spaghetti: spatial network analysis in PySAL"
**Submitting author:** @jGaboardi (<a href="http://orcid.org/0000-0002-4776-6826">James Gaboardi</a>)
**Repository:** <a href="https://github.com/pysal/spaghetti" target ="_blank">https://github.com/pysal/spaghetti</a>
**Version:** v1.5.3
**Editor:** @usethedata
**Reviewers:** @martibosch
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2020-10-31 08:07] whedon commented on #2806
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-31 08:07] whedon commented on #2806
[code]

[2020-10-31 08:08] whedon commented on #2806
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02806/joss.02806/10.21105.joss.02806.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02806/joss.02806/10.21105.joss.02806.pdf) :page_facing_up: :point_left:

[2020-10-31 08:08] whedon commented on #2806
[code]

[2020-10-31 08:15] arfon commented on #2806
@whedon invite @usethedata as editor

:wave: @usethedata - are you available to take on an additional paper currently? `@bstabler` would be the obvious editor to take this paper but he's currently unable to edit for JOSS.

[2020-10-31 08:15] whedon commented on #2806
@usethedata has been invited to edit this submission.

[2020-10-31 09:08] pacoramon commented on #2787
Dear @csoneson, I would be interested although being my first time reviewing for JOSS (and in this format), I am concerned I will need a bit of help to manage.
Would that be 'ok'?  Could you guide me to any documentation or guideline from JOSS I have to be aware off?

[2020-10-31 09:12] oliviaguest commented on #2670
@whedon generate pdf from branch joss-paper-branch

[2020-10-31 09:12] whedon commented on #2670
[code]

[2020-10-31 09:13] whedon commented on #2670
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02670/joss.02670/10.21105.joss.02670.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02670/joss.02670/10.21105.joss.02670.pdf) :page_facing_up: :point_left:

[2020-10-31 09:21] oliviaguest commented on #2670
@katjaq @r03ert0 can you deposit the code on zenodo or similar and post the DOI here, please?

[2020-10-31 09:43] oliviaguest commented on #2670
@katjaq @r03ert0 Has neuroanatomy/reorient/issues/9 been addressed? Can you close if so.

Also can you deposit code on zenodo (or similar) and post the DOI here, please? ☺️

[2020-10-31 09:58] DominiqueMakowski commented on #2776
@cMadan yes I can review it ☺️

[2020-10-31 10:44] jbytecode commented on #2722
@whedon generate pdf

[2020-10-31 10:45] whedon commented on #2722
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02722/joss.02722/10.21105.joss.02722.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02722/joss.02722/10.21105.joss.02722.pdf) :page_facing_up: :point_left:

[2020-10-31 10:46] arfon commented on #2790
@whedon invite @majensen as editor

:wave: @majensen - would you be willing to edit this submission for JOSS?

[2020-10-31 10:46] whedon commented on #2790
@majensen has been invited to edit this submission.

[2020-10-31 10:49] jbytecode commented on #2722
Dear reviewer @xin-huang ,

I think I have completed all the changes you suggested. I also made explanations for each of your suggestions in the issues.

Regards.

[2020-10-31 11:58] csoneson commented on #2787
Thank you @pacoramon - that's not a problem at all. JOSS guidelines for reviewers are available [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html).

Briefly, the process is as follows: I will assign you as a reviewer in this thread, but the 'actual' review will start only once we have one additional reviewer. At that time, I will open the REVIEW GitHub issue, in which you will

[2020-10-31 12:24] pacoramon commented on #2787
Thank you @csoneson for your kind explanation. Count me in, then. I will review the JOSS guidelines while another reviewer is enlisted.
Best!

[2020-10-31 12:26] csoneson commented on #2787
@whedon assign @pacoramon as reviewer

[2020-10-31 12:26] whedon commented on #2787
OK, @pacoramon is now a reviewer

[2020-10-31 12:41] katjaq commented on #2670
Hello,
issue #9 has bee addressed and is now closed. Thanks.

The code is deposited on Zenodo under DOI 010.5281/zenodo.4165153

Thank you!

[2020-10-31 12:53] jGaboardi commented on #2806
@arfon, Lorena Mesa or Leonardo Uieda may be nice fits for editor if @usethedata is not available.

[2020-10-31 12:55] zingale commented on #2684
Hi @arfon, a potential suggestions of MHD/grid code person: Robert Fisher (github: rtfisher),

[2020-10-31 13:02] jGaboardi commented on #2806
**Potentional Reviewers**
* anitagraser
* ResidentMario
* HTenkanen
* hobu
* gboeing

[2020-10-31 13:18] usethedata commented on #2806
I've got capacity to handle this and have no conflicts of interest with any of the authors.

[2020-10-31 13:18] usethedata commented on #2806
@whedon assign @usethedata as editor

[2020-10-31 13:18] whedon commented on #2806
OK, the editor is @usethedata

[2020-10-31 13:19] usethedata commented on #2806
@jGaboardi Thanks for the suggestions of reviewers.

[2020-10-31 14:01] jmstone commented on #2684
Dear Afron,

Thanks for the invitation and great to see the pencil code team is publishing in JOSS, but I am afraid I am not going to be able to provide a review at the moment.  You might also try my former graduate student Chris White (c-white) who has a lot of experience developing MHD codes.

Cheers
Jim

[2020-10-31 14:08] arfon commented on #2684
@rtfisher @c-white - would either of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The software under review is [_The Pencil Code, a modular MPI code for partial differential equations and particles: multipurpose and multiuser-maintained_

[2020-10-31 14:12] rtfisher commented on #2684
Hi Arfon :

  I would be happy to do this, but I am fully committed for the next couple
of weeks. It would need to happen in the second half of the month.

  Best wishes,

  Bob

On Sat, Oct 31, 2020 at 10:08 AM Arfon Smith <notifications@github.com>
wrote:

--
Dr. Robert Fisher
Associate Professor / Graduate Program Director
University of Massachusetts/Dartmouth
Department of Physics
285 Old West

[2020-10-31 14:54] arfon commented on #2684
👍 that sounds great @rtfisher. I'll add you to the review now but would be more than happy to have the review towards the end of November.

[2020-10-31 14:54] arfon commented on #2684
@whedon add @rtfisher as reviewer

[2020-10-31 14:54] whedon commented on #2684
OK, @rtfisher is now a reviewer

[2020-10-31 14:54] arfon commented on #2684
@whedon start review

[2020-10-31 14:54] whedon opened #2807 "[REVIEW]: The Pencil Code, a modular MPI code for partial differential equations and particles: multipurpose and multiuser-maintained"
**Submitting author:** @AxelBrandenburg (<a href="http://orcid.org/0000-0002-7304-021X">Axel Brandenburg</a>)
**Repository:** <a href="https://github.com/pencil-code/pencil-code" target ="_blank">https://github.com/pencil-code/pencil-code</a>
**Version:** v2021.02.20
**Editor:** @arfon
**Reviewer:** @zingale, @rtfisher
**Archive:** <a href="https://doi.org/10.5281/zenodo.4553325" target="_blank">1

[2020-10-31 14:54] whedon commented on #2684
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2807.

[2020-10-31 14:54] #2684 closed

[2020-10-31 14:54] whedon commented on #2807
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @zingale, @rtfisher it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2020-10-31 14:54] arfon commented on #2684
@AxelBrandenburg, @zingale, @rtfisher - see you over in #2807 where the actual review will take place.

[2020-10-31 14:55] arfon commented on #2807
@zingale, @rtfisher - This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. T

[2020-10-31 14:56] whedon commented on #2807
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02807/joss.02807/10.21105.joss.02807.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02807/joss.02807/10.21105.joss.02807.pdf) :page_facing_up: :point_left:

[2020-10-31 14:56] arfon commented on #2807
@rtfisher - @whedon will automatically remind you in a week about starting your review, please ignore as I'm noting here that you're expecting to supply your review towards the end of November.

[2020-10-31 14:57] rtfisher commented on #2807
Thank you! I'll be in touch in a couple of weeks.

-B

On Sat, Oct 31, 2020 at 10:56 AM Arfon Smith <notifications@github.com>
wrote:

--
Dr. Robert Fisher
Associate Professor / Graduate Program Director
University of Massachusetts/Dartmouth
Department of Physics
285 Old Westport Road
North Dartmouth, Massachusetts 02747
robert.fisher@umassd.edu
http://www.novastella.org

[2020-10-31 15:01] whedon commented on #2807
[code]

[2020-10-31 15:22] majensen commented on #2790
@whedon assign me as editor

[2020-10-31 15:22] whedon commented on #2790
OK, the editor is @majensen

[2020-10-31 15:35] galessiorob commented on #2805
👋 @omshinde, @nuest and @jdalzatec

Thank you all for volunteering as reviewers for this paper! At the top, you'll find individual checklists to work trough, please let me know if something is not clear or if you need any help.

[2020-10-31 15:36] arfon commented on #2790
⚡️ thanks @majensen

[2020-10-31 17:37] jminnier commented on #2787
Apologies, I'm unable to review at this time since I'm preparing to go on leave pretty soon and have my hands full until then. Good luck!

[2020-10-31 19:27] oliviaguest commented on #2670
@whedon set 010.5281/zenodo.4165153 as archive

[2020-10-31 19:27] whedon commented on #2670
010.5281/zenodo.4165153 doesn't look like an archive DOI.

[2020-10-31 19:28] oliviaguest commented on #2670
@whedon set 10.5281/zenodo.4165153 as archive

[2020-10-31 19:28] whedon commented on #2670
OK. <a href="https://doi.org/10.5281/zenodo.4165153" target="_blank">10.5281/zenodo.4165153</a> is the archive.

[2020-10-31 19:29] oliviaguest commented on #2670
@katjaq @r03ert0 great! can you also change the title of the zenodo to the same as the JOSS paper, please? ☺️

Oh, and is the version number at the top correct? If not, what's the current version?

[2020-10-31 20:04] csoneson commented on #2787
@jminnier no worries, thanks for letting us know!

[2020-10-31 20:54] xin-huang commented on #2722
Hi @mikldk
The authors have addressed my concerns. I have no further comments.

[2020-10-31 21:31] kullrich commented on #2424
@whedon generate pdf

[2020-10-31 21:32] whedon commented on #2424
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02424/joss.02424/10.21105.joss.02424.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02424/joss.02424/10.21105.joss.02424.pdf) :page_facing_up: :point_left:

[2020-10-31 21:40] kullrich commented on #2424
@whedon generate pdf

[2020-10-31 21:41] whedon commented on #2424
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02424/joss.02424/10.21105.joss.02424.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02424/joss.02424/10.21105.joss.02424.pdf) :page_facing_up: :point_left:

[2020-10-31 21:46] kullrich commented on #2424
@whedon generate pdf

[2020-10-31 21:47] whedon commented on #2424
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02424/joss.02424/10.21105.joss.02424.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02424/joss.02424/10.21105.joss.02424.pdf) :page_facing_up: :point_left:

[2020-10-31 22:56] kullrich commented on #2424
@whedon generate pdf

[2020-10-31 22:57] whedon commented on #2424
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02424/joss.02424/10.21105.joss.02424.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02424/joss.02424/10.21105.joss.02424.pdf) :page_facing_up: :point_left:

[2020-10-31 23:05] kullrich commented on #2424
@whedon generate pdf

[2020-10-31 23:06] whedon commented on #2424
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02424/joss.02424/10.21105.joss.02424.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02424/joss.02424/10.21105.joss.02424.pdf) :page_facing_up: :point_left:

[2020-10-31 23:13] kullrich commented on #2424
@whedon generate pdf

[2020-10-31 23:13] whedon commented on #2424
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02424/joss.02424/10.21105.joss.02424.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02424/joss.02424/10.21105.joss.02424.pdf) :page_facing_up: :point_left:

[2020-10-31 23:22] kullrich commented on #2424
Hi @KristinaRiemer,
I was now able to finish the paper, it has the following changes as suggested by @clauswilke.

The Title is changed into: "CRBHits: From Conditional Reciprocal Best Hits to Codon Alignments and Ka/Ks in R"
to better directly address the wider framework of the R package.

In addition, the summary now includes in the first two sentences:

"CRBHits is a coding sequence (CDS) analy

[2020-11-01 00:44] ejolly commented on #2776
@cMadan Unfortunately I don't do much R work these days so I don't think I'd be a good reviewer. I actually requested an edit to the languages I'm listed for on a [different review](https://github.com/openjournals/joss-reviews/issues/2471#issuecomment-701711404) just to make sure I'm not a bottleneck for R package submissions in the future. Maybe that didn't get updated?

[2020-11-01 04:04] cMadan commented on #2776
@DominiqueMakowski, great, thanks! I'll start the review after I find a second reviewer.

@ejolly, no worries, I'll get that sorted.

@terrytangyuan @arfon, makes sense, thanks for pointing that out!

[2020-11-01 04:04] cMadan commented on #2776
@whedon add @DominiqueMakowski as reviewer

[2020-11-01 04:04] whedon commented on #2776
OK, @DominiqueMakowski is now a reviewer

[2020-11-01 04:09] cMadan commented on #2776
@lindemann09 @trettenbrein @nhejazi @prdm0, would you be available and interested in reviewing this submission?

[2020-11-01 05:12] clauswilke commented on #2424
I'm fine with the revised manuscript. No more comments from my side.

[2020-11-01 07:13] mmrabe commented on #2776
Hi, @ClaudioZandonella and @cMadan . 👋 Sorry for the late reply. Thanks for considering me. I'm available and would be happy to review this package.

[2020-11-01 09:20] whedon commented on #2780
:wave: @davekinkead, please update us on how your review is going.

[2020-11-01 09:20] whedon commented on #2780
:wave: @sara-02, please update us on how your review is going.

[2020-11-01 10:22] r03ert0 commented on #2670
Done! I updated the title to match that of the paper.
The DOI which appears in the Zenodo badge in reorient's repo is automatically set to the one of the latest version (10.5281/zenodo.4165154).
The DOI Katja sent is the umbrella DOI for all versions (10.5281/zenodo.4165153). It's better to use that one, no?

[2020-11-01 10:47] oliviaguest commented on #2670
@katjaq @r03ert0 I mean this version [here in the OP](https://github.com/openjournals/joss-reviews/issues/2670#issue-700520622), get me?

[2020-11-01 10:48] oliviaguest commented on #2670
@whedon accept

[2020-11-01 10:48] whedon commented on #2670
[code]

[2020-11-01 10:48] whedon commented on #2670
PDF failed to compile for issue #2670 with the following error:

 Can't find any papers to compile :-(

[2020-11-01 10:50] oliviaguest commented on #2670
@whedon accept from branch joss-paper-branch

[2020-11-01 10:50] whedon commented on #2670
[code]

[2020-11-01 10:50] whedon commented on #2670
[code]

[2020-11-01 10:51] whedon commented on #2670
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1887

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1887, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-11-01 11:42] arfon commented on #2670
@whedon accept deposit=true from branch joss-paper-branch

[2020-11-01 11:42] whedon commented on #2670
[code]

[2020-11-01 11:43] whedon commented on #2670
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1322866933369315329) 👈 🐦🐦🐦

[2020-11-01 11:43] whedon commented on #2670
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1888
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02670](https://doi.org/10.21105/joss.02670)
2. If everything looks g

[2020-11-01 11:48] arfon commented on #2670
@sneakers-the-rat, @pauldmccarthy - many thanks for your reviews here and to @oliviaguest for editing this submission ✨

@katjaq - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-11-01 11:48] #2670 closed

[2020-11-01 11:48] whedon commented on #2670
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02670/status.svg)](https://doi.org/10.21105/joss.02670)

**We need your help!**

Journal of Open Source Softwa

[2020-11-01 13:28] whedon commented on #2781
:wave: @darothen, please update us on how your review is going.

[2020-11-01 13:49] RMHogervorst commented on #2800
@henrykironde some notes about the JOSS paper:

The description in `Statement of need` is really beautiful and only after reading that part I finally understood what the problem is that this package is solving. I really really wish you'd include something like that in the Readme (and maybe Description) too.

REQUIRED:
- Add citations so that the references work in the text.
- I am asked to review

[2020-11-01 13:53] RMHogervorst commented on #2800
Required Issues opened
- [ ] https://github.com/ropensci/rdataretriever/issues/260  "vignette incomplete"
- [x] https://github.com/ropensci/rdataretriever/issues/257  "clarify OSI licence"

Optional issues opened:
- [ ] https://github.com/ropensci/rdataretriever/issues/259 "suggestion for remotes in stead of devtools::install_github"

[2020-11-01 14:00] rrrlw commented on #2706
@csoneson I have checked off all the boxes in my review. All my questions and concerns were appropriately addressed by @rcarragh in c212's GitHub repo. I should point out that although I am not qualified to review the Functionality (2nd bullet within the Functionality section), I have checked the box with the expectation that @MelvinSMunsaka will be better suited to evaluate it.

Thank you for you

[2020-11-01 14:19] trettenbrein commented on #2776
Hi @cMadan,

Thanks for your request. I see that you already have two positive responses, but in case you still need someone else I'd be happy to review the package.

[2020-11-01 14:30] dfm commented on #2278
@whedon re-invite @ledell as reviewer

[2020-11-01 14:30] whedon commented on #2278
OK, the reviewer has been re-invited.

@ledell please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-11-01 14:42] AlexMikes commented on #2362
Thanks, @gkthiruvathukal. I commented on each issue, linked them to a similar issue from @srmnitc (if applicable), and closed them. They are linked to your previous post if you want to check them out.

[2020-11-01 14:46] AlexMikes commented on #2362
Thanks, @srmnitc for your thoughtful and thorough review! You had great suggestions and insight that helped improve the quality of this software package. I made comments on each issue that you opened. There is one specific issue ([Missing DOIs](https://github.com/AlexMikes/AutoFunc/issues/11)) that I would like your feedback on how you suggest I proceed. The rest of them I hope to have addressed s

[2020-11-01 14:54] whedon opened #2808 "[PRE REVIEW]: Palette diagram: A Python package for visualization of collective categorical data"
**Submitting author:** @tatsuro-kawamoto (<a href="http://orcid.org/0000-0002-9898-839X">Tatsuro Kawamoto</a>)
**Repository:** <a href="https://github.com/palette-diagram/palette-diagram" target ="_blank">https://github.com/palette-diagram/palette-diagram</a>
**Version:** v1.1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:

[2020-11-01 14:55] whedon commented on #2808
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-01 14:55] whedon commented on #2808
Failed to discover a `Statement of need` section in paper

[2020-11-01 14:55] whedon commented on #2808
[code]

[2020-11-01 14:55] whedon commented on #2808
[code]

[2020-11-01 14:55] whedon commented on #2808
PDF failed to compile for issue #2808 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-d14a699185fb/lib/whedon.rb:204:in `block in parse_authors': Author (Chihiro Noguchi) is missing affiliation (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-d14a699185fb/lib/whedon.rb:202:in `each'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-d14a6991

[2020-11-01 14:57] arfon commented on #2808
@tatsuro-kawamoto - many thanks for your submission to JOSS. Unfortunately at ~240 lines of Python, this submission is too small to be published in JOSS: https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort

[2020-11-01 14:57] arfon commented on #2808
@whedon reject

[2020-11-01 14:57] whedon commented on #2808
Paper rejected.

[2020-11-01 14:57] #2808 closed

[2020-11-01 15:07] pravirkr commented on #2750
The software package `your` is well-organized with a nice interface. The documentation is very detailed with lots of good examples. This package is going to be very useful for the FRB/radio transients science.

I have opened the following issues within the main repository:
- thepetabyteproject/your#46
- thepetabyteproject/your#47
- thepetabyteproject/your#48
- thepetabyteproject/your#49

Most of t

[2020-11-01 16:11] AxelBrandenburg commented on #2807
Hi Whedon,
The supplied bibtex file contains all references that quote the Pencil
Code, but those with missing DOIs are not quoted in the paper, I believe.
Axel

PS: thanks, Arfon, for reviving the process!

On Sat, Oct 31, 2020 at 08:01:38AM -0700, whedon wrote:

[2020-11-01 17:26] gcdeshpande commented on #2506
On Unbuntu 20 when I run the below command

sudo docker run -ti --rm --name dearscholar -p "80:80" -p "3306:3306" dearscholar:dev

I get the error

docker: Error response from daemon: driver failed programming external connectivity on endpoint dearscholar (f317ffc10697b7d5089ef2251b212a5a7663435dd92cb6a9b9f034a05d2d8495): Error starting userland proxy: listen tcp 0.0.0.0:3306: bind: address alread

[2020-11-01 17:26] dpsanders commented on #2648
@whedon add @goerz as reviewer

[2020-11-01 17:26] whedon commented on #2648
OK, @goerz is now a reviewer

[2020-11-01 17:26] dpsanders commented on #2648
@whedon add @thowell as reviewer

[2020-11-01 17:26] whedon commented on #2648
OK, @thowell is now a reviewer

[2020-11-01 17:26] gcdeshpande commented on #2506
But it works on lower versions of Ubuntu

[2020-11-01 17:26] dpsanders commented on #2648
@whedon start review

[2020-11-01 17:26] whedon opened #2809 "[REVIEW]: dymos: A Python package for optimal control of multidisciplinary systems"
**Submitting author:** @robfalck (<a href="http://orcid.org/0000-0001-9864-4928">Rob Falck</a>)
**Repository:** <a href="https://github.com/OpenMDAO/dymos" target ="_blank">https://github.com/OpenMDAO/dymos</a>
**Version:** 1.0.0
**Editor:** @dpsanders
**Reviewer:** @goerz, @thowell
**Archive:** <a href="https://doi.org/10.5281/zenodo.4646412" target="_blank">10.5281/zenodo.4646412</a>

**:warning

[2020-11-01 17:26] whedon commented on #2648
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2809.

[2020-11-01 17:26] #2648 closed

[2020-11-01 17:26] whedon commented on #2809
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @goerz, @thowell it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog

[2020-11-01 17:26] whedon commented on #2809
[code]

[2020-11-01 17:27] whedon commented on #2809
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02809/joss.02809/10.21105.joss.02809.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02809/joss.02809/10.21105.joss.02809.pdf) :page_facing_up: :point_left:

[2020-11-01 17:27] dpsanders commented on #2648
Thanks @goerz and @thowell! Please head over to the review issue, and let me know if you have any difficulties.

[2020-11-01 17:37] gcdeshpande commented on #2506
Hi @cMadan  and @pmkruyen,

I have completed the review. I am happy to let you know that the paper satisfies the checklist.

[2020-11-01 18:08] arfon commented on #2803
:wave: @heliaib, thanks for your submission to JOSS. After consulting with the editorial team, your submission has been deemed [too small to be considered for review here](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort).

[2020-11-01 18:08] arfon commented on #2803
@whedon reject

[2020-11-01 18:08] whedon commented on #2803
Paper rejected.

[2020-11-01 18:08] #2803 closed

[2020-11-01 21:42] mvandam commented on #2764
Having read the manual, I can better understand the motivation for wanting to disseminate the tool, and why someone might want to learn how to use it. Please fix the following:
- the installation page on the manual is missing all of the commands (see screen shots).
![Screenshot from 2020-11-02 10-37-36](https://user-images.githubusercontent.com/622495/97816078-7c217780-1cf7-11eb-8eb1-2318442ba363.

[2020-11-02 01:17] dwinter commented on #2743
It turns out my more complete review is not so different from the comments provide above. happy to continute discussions here or on the regens repo.
## Summary

`regens` is a well-written piece of software that will help researchers simulate datasets for GWAS. This includes realistic genotypes (including the LD structure of a given population) and phenotypic data (matching a given inheritance patt

[2020-11-02 02:53] pibion commented on #2484
@dghoshal-lbl that sounds great.  Take your time, I don't mean to rush you!  Just want to check in :)

[2020-11-02 02:55] pibion commented on #2694
@jspaezp excellent, thank you!  @wesleyburr let me know if you have any trouble finding the issue?

[2020-11-02 02:55] pibion commented on #2694
@sigven , will you have time in the next few weeks to work on this review? If you know when you'll have time I can set a reminder with whedon.

[2020-11-02 03:06] greggj2016 commented on #2743
Just a note for David Winter's issue #13 in the regens repository (which I also posted under that issue, though I don't actually know if you'll be notified, so I'm also posting it here).

[2020-11-02 03:14] wesleyburr commented on #2694
I did see this, just been swamped with the semester's work. Hoping to get started on @jspaezp's feedback this week.

[2020-11-02 03:45] dwinter commented on #2743
A'huh. This is partly an issue of a tired reader and partly the fact the README is quite long!

I think it's always good to write teh README in the 'inverted pyramid' style with the most important information at the top. As most readers won't need to know about this format, and the current description confused at least one reader it might be best to have the first section to say  words to the effe

[2020-11-02 04:24] greggj2016 commented on #2743
Another note regarding your minor comment:

First, and this is important to understand the recombination rate map file, centimorgans are true distances. Not many sources seem to explain it well. The best definition I came across was "One cM is equal to a 1% chance that a marker at one genetic locus will be separated from a marker at another locus [within the interval being examined] due to crossin

[2020-11-02 04:38] greggj2016 commented on #2743
Also, I think I understand and agree with the majority of your comments. Note though that this is my first serious coding project, so I was wondering if you could clarify what you meant when you said "I think the code could be improved by adopting software engineering approaches that make is easy for the current authors and future contributors to further develop the code and other users to incopro

[2020-11-02 04:42] greggj2016 commented on #2743
I can also state what you mentioned above more clearly in the README file.

[2020-11-02 05:03] ketch commented on #2514
Many thanks to everyone for your help in improving the software and getting this published.  Cheers!

[2020-11-02 05:13] joshspeagle commented on #2641
My review will be done by tomorrow. Thanks in advance to everyone for their patience.

[2020-11-02 05:21] znicholls commented on #2766
@whedon commands

[2020-11-02 05:21] whedon commented on #2766
Here are some things you can ask me to do:

[code]

[2020-11-02 05:28] znicholls commented on #2766
I've updated the missing DOIs (https://github.com/openscm/openscm-twolayermodel/pull/24) so will recompile

@whedon generate pdf

[2020-11-02 05:37] znicholls commented on #2766
@whedon check references

[2020-11-02 05:38] whedon commented on #2766
[code]

[2020-11-02 05:38] znicholls commented on #2766
@whedon generate pdf

[2020-11-02 05:39] whedon commented on #2766
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02766/joss.02766/10.21105.joss.02766.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02766/joss.02766/10.21105.joss.02766.pdf) :page_facing_up: :point_left:

[2020-11-02 06:06] sgkang commented on #2690
Dear @sebhaan et al.,

This is an interesting work, and I am glad to have a chance to review this article.
When reading this article, I got a rough idea what authors are trying to accomplish with `geobo`, but still it was not clear to me. So, I was hoping to get better idea from examples. But, it ended up generating images and other outputs, which were hard for me to decipher what they mean. I wou

[2020-11-02 06:06] znicholls commented on #2766
On this one I'm not sure. There's FaIR, but it is missing some of the conversion functionality and modularisation we've implemented here (as mentioned in the draft). I haven't been able to find any other public implementations so couldn't comment on other languages unfortunately.

[2020-11-02 06:09] cMadan commented on #2776
@mmrabe - thanks for agreeing, I'll add you as a reviewer and start the review process now.

@trettenbrein - that's great to hear! I'll definitely keep you in mind when another relevant submission comes in.

[2020-11-02 06:09] cMadan commented on #2776
@whedon add @mmrabe as reviewer

[2020-11-02 06:09] whedon commented on #2776
OK, @mmrabe is now a reviewer

[2020-11-02 06:09] cMadan commented on #2776
@whedon start review

[2020-11-02 06:10] whedon opened #2810 "[REVIEW]: PRDA: An R pakcage for Prospective and Retrospective Design Analysis"
**Submitting author:** @ClaudioZandonella (<a href="http://orcid.org/0000-0001-7721-6318">Claudio Zandonella Callegher</a>)
**Repository:** <a href="https://github.com/ClaudioZandonella/PRDA" target ="_blank">https://github.com/ClaudioZandonella/PRDA</a>
**Version:**  v1.0.0
**Editor:** @cMadan
**Reviewer:** @DominiqueMakowski, @mmrabe
**Archive:** <a href="https://doi.org/10.5281/zenodo.4533739"

[2020-11-02 06:10] whedon commented on #2776
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2810.

[2020-11-02 06:10] #2776 closed

[2020-11-02 06:10] whedon commented on #2810
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @DominiqueMakowski, @mmrabe it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](h

[2020-11-02 06:10] whedon commented on #2810
[code]

[2020-11-02 06:10] whedon commented on #2810
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02810/joss.02810/10.21105.joss.02810.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02810/joss.02810/10.21105.joss.02810.pdf) :page_facing_up: :point_left:

[2020-11-02 06:12] cMadan commented on #2506
@gcdeshpande, thank you for your thorough review, it is much appreciated!

@pmkruyen, I need to do some final checks, but we're almost done! (So the review is with me now.)

[2020-11-02 06:13] cMadan commented on #2506
@whedon generate pdf

[2020-11-02 06:13] whedon commented on #2506
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02506/joss.02506/10.21105.joss.02506.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02506/joss.02506/10.21105.joss.02506.pdf) :page_facing_up: :point_left:

[2020-11-02 06:17] znicholls commented on #2766
Text updates based on @ashiklom's review will go in https://github.com/openscm/openscm-twolayermodel/pull/25

[2020-11-02 06:47] znicholls commented on #2766
@ashiklom I've added a table with openly accessible models from RCMIP (so just FaIR, GREB and Hector) to openscm/openscm-twolayermodel#25. Does that work or would extra text and explanation be useful?

[2020-11-02 06:56] yoelcortes commented on #2679
@kyleniemeyer, thanks for managing the requests to review. Would reaching out to another reviewer soon be a good idea? Thanks!

[2020-11-02 07:14] fwitte commented on #2679
Hi @kyleniemeyer,
the notification only arrived just now. I'll quickly check, if this fits my scope and give you a feedback as soon as possible.
Best regards

[2020-11-02 07:15] kinow commented on #2791
@gkthiruvathukal hi, do you have karma to re-generate the article? I think the bot failed to do so, and I think I need it to complete the review checklist items for the paper. Please.

Thank you!

[2020-11-02 07:15] rgieseke commented on #2766
Are there any openly available implementations? Maybe highlight that more, if that's the case?

[2020-11-02 07:30] ablaom commented on #2704
https://zenodo.org/record/4178918#.X5-xvS2r1TY

[2020-11-02 07:44] darenasc commented on #2704
or this one https://doi.org/10.5281/zenodo.4178917

[2020-11-02 07:58] arfon commented on #2791
@whedon generate pdf

[2020-11-02 07:59] whedon commented on #2791
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02791/joss.02791/10.21105.joss.02791.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02791/joss.02791/10.21105.joss.02791.pdf) :page_facing_up: :point_left:

[2020-11-02 08:00] kinow commented on #2791
Thanks!

[2020-11-02 08:02] znicholls commented on #2766
Not as far as I'm aware.

[2020-11-02 08:04] pmkruyen commented on #2506
Dear all,

@gcdeshpande, thank you for all your help and your review! I hope everything is well.

@cMadan, thank you for doing the final checks now. Let me know if you need any assistant from me.

Best,
Peter

[2020-11-02 08:12] eloisabentivegna commented on #2555
@rclipp, have you had a chance to check out the reviewers' comments?

[2020-11-02 08:18] rgieseke commented on #2766
Maybe one could reference models that are easily driven in forcing mode? Oscar, WASP and Pymagicc/MAGICC are also openly available on GitHub, but then one slowly ends up referencing the entire table from the RCMIP paper ...

[2020-11-02 08:24] csoneson commented on #2706
Thank you for your review @rrrlw!

[2020-11-02 08:28] PatrickRWright commented on #2787
Thank you @pacoramon

[2020-11-02 08:51] visr commented on #2713
I would also be happy to review.

[2020-11-02 08:52] fwitte commented on #2679
Hi @kyleniemeyer,
I would be happy to review the paper.
Best

[2020-11-02 09:10] hugoledoux commented on #2788
@whedon assign @kenohori as reviewer

[2020-11-02 09:10] whedon commented on #2788
OK, @kenohori is now a reviewer

[2020-11-02 09:18] will-rowe commented on #2799
Thanks for your reviewer suggestions @akrinos. Let's ping some and see if they can take this on.

[2020-11-02 09:19] wkirgsn commented on #2498
Hi @Kevin-Mattheus-Moerman,
we revised the toolbox and the JOSS paper candidate according to the reviewers' remarks.
Can you please advice what the next steps are, or which obstacles need to be further overcome in order to proceed to an acceptance and publication?
We appreciate your and the reviewers' time and effort as always.

[2020-11-02 09:21] will-rowe commented on #2799
Hi @johanneswerner and @jcmcnch. Would either of you be willing to review this submission to JOSS?

[2020-11-02 09:30] johanneswerner commented on #2799
Hi @will-rowe, I am interested in reviewing the submission.

[2020-11-02 09:37] will-rowe commented on #2799
@whedon assign @johanneswerner as reviewer

[2020-11-02 09:37] whedon commented on #2799
OK, @johanneswerner is now a reviewer

[2020-11-02 09:38] will-rowe commented on #2799
Brill - thanks @johanneswerner! Hang tight while we find a second reviewer and then we will start the review thread

[2020-11-02 09:47] hugoledoux commented on #2537
@whedon generate pdf

[2020-11-02 09:47] whedon commented on #2537
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02537/joss.02537/10.21105.joss.02537.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02537/joss.02537/10.21105.joss.02537.pdf) :page_facing_up: :point_left:

[2020-11-02 09:48] hugoledoux commented on #2537
@whedon check references

[2020-11-02 09:48] whedon commented on #2537
[code]

[2020-11-02 10:11] eloisabentivegna commented on #2495
@iliantiliev, could you update us on your progress? Will you be able to complete the review by this week?

[2020-11-02 10:12] whedon opened #2811 "[PRE REVIEW]: c-lasso: a Python package for constrained sparse regression and classification"
**Submitting author:** @Leo-Simpson (<a href="http://orcid.org/0000-0003-0717-5244">Leo Simpson</a>)
**Repository:** <a href="https://github.com/Leo-Simpson/c-lasso" target ="_blank">https://github.com/Leo-Simpson/c-lasso</a>
**Version:** v1.0
**Editor:** @mjsottile
**Reviewers:** @jbytecode, @glemaitre
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the ch

[2020-11-02 10:12] whedon commented on #2811
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-02 10:13] whedon commented on #2811
[code]

[2020-11-02 10:13] whedon commented on #2811
[code]

[2020-11-02 10:13] whedon commented on #2811
Failed to discover a valid open source license.

[2020-11-02 10:13] whedon commented on #2811
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02811/joss.02811/10.21105.joss.02811.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02811/joss.02811/10.21105.joss.02811.pdf) :page_facing_up: :point_left:

[2020-11-02 10:25] Kevin-Mattheus-Moerman commented on #2498
@wkirgsn apologies for the delay. It looks like the reviewers have to pick this up again. I will remind them now.

[2020-11-02 10:26] moorepants commented on #2498
I've got it on my TODO list. Hoping this week.

[2020-11-02 10:28] Kevin-Mattheus-Moerman commented on #2498
@moorepants, @dineshresearch the authors have made a number of changes which are ready for you to review.

@moorepants perhaps the other reviewer ticked all your boxes by mistake. Could you untick the boxes you feel should not be ticked yet? Thanks.

@dineshresearch you have 1 box unticked, "state of the field", can  you elaborate on this to the authors so they know what to work on if this is stil

[2020-11-02 10:30] Kevin-Mattheus-Moerman commented on #2727
@agahkarakuzu I think this looks good now right? Can you confirm you are able to tick boxes?

[2020-11-02 10:31] Kevin-Mattheus-Moerman commented on #2727
@grlee77, @agahkarakuzu, @DARSakthi thanks for your review efforts!!!

If see some of you have left some boxes unticked. If you could summarize for the authors what work is needed that would be great.

Thanks.

[2020-11-02 10:33] Kevin-Mattheus-Moerman commented on #2705
@ethanwharris, @zhangfanmark looks like you've ticked all boxes above. Can you review the latest changes and/or confirm you are happy to recommend acceptance of this work?

[2020-11-02 10:35] agricolab commented on #2463
I am currently in the process of reviewing, and will open issues in the main repo on bitbucket in the course of this week.

[2020-11-02 10:37] Kevin-Mattheus-Moerman commented on #2548
@AnaWaldila thanks for your reviewing efforts. The authors have made some changes :point_up:, are you able to resume this review? Thanks!

[2020-11-02 10:39] hugoledoux commented on #2537
OK, both reviewers recommend acceptance so we're moving towards this.

I read the paper and I have a few comments, see PDF attached here.
[Uploading 10.21105.joss.02537 2.pdf…]()

At this point could you:
- [ ] Update the paper with my recommendations
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo o

[2020-11-02 10:59] hugoledoux commented on #2690
thanks @npetra and @sgkang for your prompt and thorough reviews.

Now we wait for @sebhaan to update the submission based on this, and we have one more iteration.

[2020-11-02 11:16] Leo-Simpson commented on #2811
@whedon commands

[2020-11-02 11:16] whedon commented on #2811
Here are some things you can ask me to do:

[code]

[2020-11-02 11:18] Leo-Simpson commented on #2811
@whedon generate pdf

[2020-11-02 11:19] whedon commented on #2811
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02811/joss.02811/10.21105.joss.02811.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02811/joss.02811/10.21105.joss.02811.pdf) :page_facing_up: :point_left:

[2020-11-02 11:34] Leo-Simpson commented on #2811
@whedon check references

[2020-11-02 11:35] whedon commented on #2811
[code]

[2020-11-02 11:36] torressa commented on #2658
Hey @melissawm, definitely keen, a bit swamped at the minute, so may be two/three weeks.
If that's alright, then go ahead :)

[2020-11-02 11:40] krober10nd commented on #2687
Just an updated: I remade the parallel figure, added it to the paper, and updated the text.

Python axpy in parallel indeed gets in the way. Something always to be improved.

[2020-11-02 11:58] mikldk commented on #2722
@jbytecode :

* Please remove "3.0" from title of the paper
* Please have a final read though of the paper, checking language etc.
* Have a final check of the proofs with `@whedon generate pdf`
* Please make a tagged release and archive (e.g. with [Zenodo](https://zenodo.org/)) as described [here](<https://joss.readthedocs.io/en/latest/submitting.html#the-review-process>), and report the version n

[2020-11-02 12:00] mikldk commented on #2794
@mdogucu: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2020-11-02 12:14] ahmedmahmoudi commented on #2588
Dear @kyleniemeyer,
I went through the list and perhaps potential reviewers could be moorepants and jmbr (jmbr@superadditive.com).

[2020-11-02 12:18] nedRad88 commented on #2676
Hi @galessiorob , thanks for the suggestions. I have merged them into master. I am finishing the test setup. I expect to have it done in a day or two. Thank you!

[2020-11-02 12:22] zhangfanmark commented on #2705
Hi @Kevin-Mattheus-Moerman , the code and the paper look good to me. I recommend acceptance of the work. Thank you!

[2020-11-02 12:35] sayanddude commented on #2278
@whedon generate pdf

[2020-11-02 12:36] whedon commented on #2278
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02278/joss.02278/10.21105.joss.02278.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02278/joss.02278/10.21105.joss.02278.pdf) :page_facing_up: :point_left:

[2020-11-02 12:43] sayanddude commented on #2278
@ledell Thank you for your comments! I have worked on the issues pointed by you and have closed the Github Issues. I have updated the paper as well with the corrected vignette name/link. Please let me know if I missed anything.

[2020-11-02 12:44] jbytecode commented on #2722
@whedon generate pdf

[2020-11-02 12:45] whedon commented on #2722
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02722/joss.02722/10.21105.joss.02722.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02722/joss.02722/10.21105.joss.02722.pdf) :page_facing_up: :point_left:

[2020-11-02 12:51] konstantinstadler commented on #2765
@whedon and @sjpfenninger : I can not mark the check-marks although I am logged in and accepted the invitation - can you help me or should I just describe my answers?

[2020-11-02 12:51] whedon commented on #2765
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-11-02 12:53] dfm commented on #2278
@sayanddude: When reviewers provide detailed issues, please don't close them with such brusque responses. You should provide a detailed description of what has been fix and point to the commits where you made those changes (it's definitely not obvious what has happened from the commit history since that seems to get regularly force pushed to remove history). Then you should wait for the **reviewer

[2020-11-02 12:56] jbytecode commented on #2722
Dear editor @mikldk ,

1. The term 3.0 was removed from the title.

2 - 3. The compiled pdf seems to be okay.

3. The tagged revision is 3.0.3 and the DOI is [https://zenodo.org/badge/doi/10.5281/zenodo.4189769.svg](https://zenodo.org/badge/doi/10.5281/zenodo.4189769.svg)

The fetched metadata seems okay.

[2020-11-02 13:01] konstantinstadler commented on #2765
@whedon commands

[2020-11-02 13:01] whedon commented on #2765
Here are some things you can ask me to do:

[code]

[2020-11-02 13:04] agahkarakuzu commented on #2727
@Kevin-Mattheus-Moerman I cannot check the boxes :/

[2020-11-02 13:15] terrytangyuan commented on #2704
@whedon set archive 10.5281/zenodo.4178917

[2020-11-02 13:15] whedon commented on #2704
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-11-02 13:16] terrytangyuan commented on #2704
@whedon set version v0.14.1

[2020-11-02 13:16] whedon commented on #2704
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-11-02 13:16] terrytangyuan commented on #2704
@whedon set v0.14.1 as version

[2020-11-02 13:16] whedon commented on #2704
OK. v0.14.1 is the version.

[2020-11-02 13:16] terrytangyuan commented on #2704
@whedon set 10.5281/zenodo.4178917 as archive

[2020-11-02 13:16] whedon commented on #2704
OK. <a href="https://doi.org/10.5281/zenodo.4178917" target="_blank">10.5281/zenodo.4178917</a> is the archive.

[2020-11-02 13:17] terrytangyuan commented on #2704
@openjournals/joss-eics This paper looks good to me now. Handing over to you now!

[2020-11-02 13:21] konstantinstadler commented on #2765
This is a very interesting tool and I believe it can be useful for LCA practioner. The envisaged workflow tightly coupled with Simapro has the potential to lift the quality of LCI data.

I am, however, not a LCA expert and do not have access to Simapro. As far as possible I tested the software and it works for me but I could not verify the integration with Simapro - I hope that this was covered by

[2020-11-02 13:24] moorejh28 commented on #2743
I am the funder and supervisor of the project. Please accept this comment as confirmation that Mr. John Gregg, under my supervision, conceived of the project, planned the project, performed all the programming for the project, performed all the testing and evaluation of the code, wrote the JOSS paper, and created the Github project.

[2020-11-02 13:26] AnaWaldila commented on #2548
@Kevin-Mattheus-Moerman Yes, I saw. It is already correct.

[2020-11-02 13:59] arfon commented on #2727
@whedon re-invite @agahkarakuzu as reviewer

[2020-11-02 13:59] whedon commented on #2727
OK, the reviewer has been re-invited.

@agahkarakuzu please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-11-02 14:00] arfon commented on #2727
@agahkarakuzu - try again now (once you've clicked and accepted the invite)

[2020-11-02 14:00] arfon commented on #2704
@whedon accept

[2020-11-02 14:00] whedon commented on #2704
[code]

[2020-11-02 14:01] whedon commented on #2704
[code]

[2020-11-02 14:01] whedon commented on #2704
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1889

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1889, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-11-02 14:02] arfon commented on #2704
Thanks @terrytangyuan. Leaving this one for @Kevin-Mattheus-Moerman who's on rotation this week I believe.

[2020-11-02 14:08] agahkarakuzu commented on #2727
Thank you @arfon now I have edit access!

[2020-11-02 14:10] marcosvital commented on #2124
Hi, @rhagenson! Hope everything is fine with you.
Did you made any progress on the two issues? Let us know if you have any news.

[2020-11-02 14:12] MaierOli2010 commented on #2727
I've added basic Contributing guidelines to the project as well as a "Statement of Need" in the README.rst. Further, I've made a very basic "How to use" Guide on Google Colab which might needs more formatting but gives a potential use a quick insight into how to use PyQMRI.

[2020-11-02 14:40] melissawm commented on #2658
Thank you @torressa! If @jbuisine is ok with this timeframe, we can go ahead.

[2020-11-02 14:47] ashiklom commented on #2766
I think the table you added combined with the references to the RCMIP paper throughout the documentation are sufficient to address this (you might consider making it _extra_ clear that the RCMIP paper is the more comprehensive list -- e.g., "For a more extensive list of simple climate models, see Nicholls et al... (link)".

[2020-11-02 14:55] jbuisine commented on #2658
Hello, I agree, this is not a problem for me.

[2020-11-02 14:59] melissawm commented on #2658
Great! Then I'll add the second reviewer and open the review issue. This issue here will be closed, and all further communication and work will be done on the REVIEW issue.

[2020-11-02 14:59] melissawm commented on #2658
@whedon add @torressa as reviewer

[2020-11-02 14:59] whedon commented on #2658
OK, @torressa is now a reviewer

[2020-11-02 14:59] melissawm commented on #2658
@whedon start review

[2020-11-02 15:00] whedon opened #2812 "[REVIEW]: Minimalist And Customizable Optimization Package"
**Submitting author:** @jbuisine (<a href="http://orcid.org/0000-0001-6071-744X">Jérôme BUISINE</a>)
**Repository:** <a href="https://github.com/jbuisine/macop" target ="_blank">https://github.com/jbuisine/macop</a>
**Version:** v1.2.0
**Editor:** @melissawm
**Reviewer:** @stsievert, @torressa
**Archive:** <a href="https://doi.org/10.5281/zenodo.4595986" target="_blank">10.5281/zenodo.4595986</a>

[2020-11-02 15:00] whedon commented on #2658
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2812.

[2020-11-02 15:00] #2658 closed

[2020-11-02 15:00] whedon commented on #2812
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @stsievert, @torressa it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2020-11-02 15:00] whedon commented on #2812
[code]

[2020-11-02 15:00] whedon commented on #2812
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02812/joss.02812/10.21105.joss.02812.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02812/joss.02812/10.21105.joss.02812.pdf) :page_facing_up: :point_left:

[2020-11-02 15:01] pariterre commented on #2562
@trallard
up? :)

[2020-11-02 15:02] melissawm commented on #2812
👋🏼 @jbuisine @stsievert @torressa this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from most

[2020-11-02 15:08] gkthiruvathukal commented on #2791
@gkthiruvathukal Sorry I didn't get to your request as fast as @arfon, @kinow. Looks like we're good now.

[2020-11-02 15:16] trang1618 commented on #2743
Hi @dwinter I'm also confirming that @greggj2016 is the main author of the project.

[2020-11-02 15:50] kbarnhart commented on #2407
@whedon generate pdf

[2020-11-02 15:50] whedon commented on #2407
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02407/joss.02407/10.21105.joss.02407.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02407/joss.02407/10.21105.joss.02407.pdf) :page_facing_up: :point_left:

[2020-11-02 15:51] kbarnhart commented on #2407
@whedon check references

[2020-11-02 15:52] whedon commented on #2407
[code]

[2020-11-02 15:56] kbarnhart commented on #2407
@whedon set v3.0.8 as version

[2020-11-02 15:56] whedon commented on #2407
OK. v3.0.8 is the version.

[2020-11-02 15:56] kbarnhart commented on #2407
@whedon set 10.5281/zenodo.4164826 as archive

[2020-11-02 15:56] whedon commented on #2407
OK. <a href="https://doi.org/10.5281/zenodo.4164826" target="_blank">10.5281/zenodo.4164826</a> is the archive.

[2020-11-02 15:56] kbarnhart commented on #2407
@whedon accept

[2020-11-02 15:56] whedon commented on #2407
[code]

[2020-11-02 15:57] whedon commented on #2407
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1890

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1890, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-11-02 15:58] kbarnhart commented on #2407
@Xunius I've now recommended that this submission be accepted. The JOSS handling editor in chief will manage final publication.

I agree with the reviewers that the package is much improved since submission. Congratulations on all of your hard work.

[2020-11-02 15:58] whedon commented on #2407
[code]

[2020-11-02 16:40] kthyng commented on #2713
Thanks @visr! We'll proceed now.

[2020-11-02 16:40] kthyng commented on #2713
@whedon add @visr as reviewer

[2020-11-02 16:40] whedon commented on #2713
OK, @visr is now a reviewer

[2020-11-02 16:41] kthyng commented on #2713
@whedon start review

[2020-11-02 16:41] whedon opened #2813 "[REVIEW]: IndividualDisplacements.jl: a Julia package to simulate and study particle displacements within the climate system"
**Submitting author:** @gaelforget (<a href="http://orcid.org/0000-0002-4234-056X">Gael Forget</a>)
**Repository:** <a href="https://github.com/JuliaClimate/IndividualDisplacements.jl" target ="_blank">https://github.com/JuliaClimate/IndividualDisplacements.jl</a>
**Version:** v0.2.0
**Editor:** @kthyng
**Reviewer:** @milankl, @visr
**Archive:** <a href="https://doi.org/10.5281/zenodo.4678742" tar

[2020-11-02 16:41] whedon commented on #2713
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2813.

[2020-11-02 16:41] #2713 closed

[2020-11-02 16:41] whedon commented on #2813
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @milankl, @visr it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.

[2020-11-02 16:41] whedon commented on #2813
PDF failed to compile for issue #2813 with the following error:

 Can't find any papers to compile :-(

[2020-11-02 16:43] kthyng commented on #2813
@milankl, @visr this is where the actual review takes place. As you go through the checklist and the [JOSS reviewer docs](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html), open issues in the software repository, then link to this review issue for bookkeeping. That way, this issue stays relatively clean but has clear links out to all related review issues and they can be tracked inde

[2020-11-02 16:43] kthyng commented on #2813
@whedon generate pdf from branch josspaper

[2020-11-02 16:43] whedon commented on #2813
[code]

[2020-11-02 16:44] whedon commented on #2813
PDF failed to compile for issue #2813 with the following error:

 Can't find any papers to compile :-(

[2020-11-02 16:45] kthyng commented on #2813
@whedon generate pdf from branch josspaper

[2020-11-02 16:45] whedon commented on #2813
[code]

[2020-11-02 16:45] whedon commented on #2813
PDF failed to compile for issue #2813 with the following error:

 Can't find any papers to compile :-(

[2020-11-02 17:01] prw99r commented on #2646
@whedon generate pdf

[2020-11-02 17:02] whedon commented on #2646
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02646/joss.02646/10.21105.joss.02646.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02646/joss.02646/10.21105.joss.02646.pdf) :page_facing_up: :point_left:

[2020-11-02 17:05] sayanddude commented on #2278
@dfm My apologies! I have edited my post above to mentioned the steps taken to address each of the comments. Also, I have reopened the Github issues.

[2020-11-02 17:27] kyleniemeyer commented on #2679
@whedon add @fwitte as reviewer

Thanks @fwitte!

[2020-11-02 17:27] whedon commented on #2679
OK, @fwitte is now a reviewer

[2020-11-02 17:27] kyleniemeyer commented on #2679
OK, with two reviewers set, I will now start the review issue.

[2020-11-02 17:27] kyleniemeyer commented on #2679
@whedon start review

[2020-11-02 17:27] whedon opened #2814 "[REVIEW]: Thermosteam: BioSTEAM's Premier Thermodynamic Engine"
**Submitting author:** @yoelcortes (<a href="http://orcid.org/0000-0003-1742-5059">Yoel Cortes-Pena</a>)
**Repository:** <a href="https://github.com/BioSTEAMDevelopmentGroup/thermosteam" target ="_blank">https://github.com/BioSTEAMDevelopmentGroup/thermosteam</a>
**Version:** 0.20.26
**Editor:** @kyleniemeyer
**Reviewer:** @decaluwe, @fwitte
**Archive:** <a href="https://doi.org/10.5281/zenodo.429

[2020-11-02 17:27] whedon commented on #2679
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2814.

[2020-11-02 17:27] #2679 closed

[2020-11-02 17:27] whedon commented on #2814
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @decaluwe, @fwitte it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://bl

[2020-11-02 17:29] kyleniemeyer commented on #2814
👋  @yoelcortes @decaluwe @fwitte This is where the review actually takes place. Thanks!

[2020-11-02 17:29] whedon commented on #2814
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02814/joss.02814/10.21105.joss.02814.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02814/joss.02814/10.21105.joss.02814.pdf) :page_facing_up: :point_left:

[2020-11-02 17:29] whedon commented on #2814
[code]

[2020-11-02 17:54] danielskatz commented on #2646
@skadio - any update?  (I know weekends aren't great for things like this, but just checking...)

[2020-11-02 18:12] kbarnhart commented on #2276
@KevinShook another quick check in from me. No rush if you and your co-authors are still addressing issues raised by the reviewers.

[2020-11-02 18:24] KevinShook commented on #2276
Thanks. We have finally solved a problem which was responsible for there being 2 different executables. There is now a single executable, but we are working on making it more efficient. When this last hurdle is cleared, we can finally cross off all of the technical issues, and finish the documentation.

[2020-11-02 19:05] jcmcnch commented on #2799
Hi @will-rowe, I would be willing to review Arianna's tool, but in the interests of full disclosure her PhD advisor Harriet is a friend of mine from grad school. Don't know if that presents a conflict of interest from your perspective as an editor. Also FYI I'm also more of a biologist/oceanographer type, so may not offer as useful feedback wrt software design as a true full-blooded bioinformatici

[2020-11-02 19:19] ledell commented on #2278
@sayanddude Please link to the commits directly in the issues, and have them merged into master before reporting them as "fixed" in the issue.  Right now, I still have to manually look around to find your commits on the "develop" branch to see if the issues were actually solved.

[2020-11-02 19:22] dwinter commented on #2743
Hi @greggj2016,

This was really a preface dor the two major points I make in my review. I was trying to make it clear that paractices (automated unit testing and packaging) we have both suggested are helpful for development, and not just another hurdle that we are trying to place in your way.

I _think_ that suggesting these approaches is in line with the JOSS guidelines and ethos. Having said th

[2020-11-02 19:31] xuanxu commented on #2789
@HeloiseS / @aureliocarnero: would you be willing to review this paper? I think your knowledge of Astrophysics and Python makes both of you a great fit for this submission.

[2020-11-02 19:35] dwinter commented on #2743
I don't think you should bundle a plink release with `regens`, much less implement these steps in python. The idea would be to include all of the python code in a pip package (no necessarily hosted on pip) that handles installing all of the other package/modules that are required. Even if you don't expect others to use your library code, a package will make it was to install the `regens.py` script

[2020-11-02 19:46] yadudoc commented on #2685
@artgoldberg, I have completed my review, I'm posting my notes below.

The `DE-Sim` repo appears to be in good order. It is well documented, and with the contributing guide, I was able to install, run tests and do some tinkering on my laptop without issues. The one error I found, is listed as a github issue.

The manuscript is written well and clearly lays out the problem space, the motivation, an

[2020-11-02 19:54] danielskatz commented on #2685
@yadudoc - are you holding off on the final checkmark in your review until KarrLab/de_sim#63 is resolved? Or is there something else?

[2020-11-02 19:59] yadudoc commented on #2685
@danielskatz That issue(https://github.com/KarrLab/de_sim/issues/63) is the only blocker from my end. Apart from this one item, I would recommend accepting this paper.

[2020-11-02 20:07] aureliocarnero commented on #2789
Dear @xuanxu I'm willing to review it, so count on me.
Thank you!
Aurelio

[2020-11-02 20:27] ethanwharris commented on #2705
Hi @Kevin-Mattheus-Moerman , all looks good to me, happy to recommend acceptance :)

[2020-11-02 20:30] decaluwe commented on #2814
Hi @kyleniemeyer - I made it all the way to step 2 🤓

The link https://github.com/openjournals/joss-reviews/invitations takes me to the following message:

[2020-11-02 20:31] kyleniemeyer commented on #2814
@whedon re-invite @decaluwe as reviewer

[2020-11-02 20:31] whedon commented on #2814
OK, the reviewer has been re-invited.

@decaluwe please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-11-02 20:42] majensen commented on #2726
@brantapl can you review the above issues https://github.com/JHUAPL/PINE/pull/8 https://github.com/JHUAPL/PINE/issues/10 ?  These appear to be blockers for the reviews

I know this is a difficult season for many of us, so just let me know what your timeframe is.

[2020-11-02 20:43] majensen commented on #2726
@bill-baumgartner have you made any headway on this review? Let me know if you are having any issues-- thank you!

[2020-11-02 20:53] kyleniemeyer commented on #2814
@decaluwe does the link work now?

[2020-11-02 21:00] melissawm commented on #2777
Hello @vlandau! I'll proceed with inviting reviewers, could you please check the DOI issues listed above?

[2020-11-02 21:08] melissawm commented on #2777
:wave: @tpoisot, @juliohm would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html Let me know if you have any further questions. Thank you!

[2020-11-02 21:08] Kevin-Mattheus-Moerman commented on #2705
@whedon check references

[2020-11-02 21:09] whedon commented on #2705
[code]

[2020-11-02 21:10] juliohm commented on #2777
I would be happy to review the submission @melissawm :+1:

[2020-11-02 21:11] melissawm commented on #2729
Hello @fruzsinaagocs, seems like we're having some trouble finding reviewers. I'll try and ping them again via email, to see if we have better luck. In the meantime, if you have any other suggestions please let me know. Thanks!

[2020-11-02 21:12] Kevin-Mattheus-Moerman commented on #2548
@AnaWaldila great. Are you able to tick more boxes at the top of this issue or clarify any remaining issues? Thanks

[2020-11-02 21:13] melissawm commented on #2777
@whedon assign @juliohm as reviewer

[2020-11-02 21:14] whedon commented on #2777
OK, @juliohm is now a reviewer

[2020-11-02 21:20] Kevin-Mattheus-Moerman commented on #2705
@mathpluscode this looks like it is ready to process for acceptance. At this point can you do the following:

- [ ] Can you archive a copy of the reviewed software on Zenodo and report back here with the DOI? (some find this approach useful: https://guides.github.com/activities/citable-code/).

- [ ] Please check that the Zenodo archive metadata like the **title**, **authors**, and **version** mat

[2020-11-02 21:25] eloisabentivegna commented on #2734
@bradkav, @suchitakulkarni, @vyasr, are you available to review this submission?

[2020-11-02 21:38] vlandau commented on #2777
@whedon generate pdf

[2020-11-02 21:38] vlandau commented on #2777
@whedon check references

[2020-11-02 21:38] whedon commented on #2777
[code]

[2020-11-02 21:38] whedon commented on #2777
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02777/joss.02777/10.21105.joss.02777.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02777/joss.02777/10.21105.joss.02777.pdf) :page_facing_up: :point_left:

[2020-11-02 21:41] Kevin-Mattheus-Moerman commented on #2704
@ablaom I've read through your paper which seems on the long side but in order. Please can you check the below comments:

- [ ] Please add country and city information to your affiliations

- [ ] Your paper is about to be processed for acceptance. We suggest recommend you proofread the paper yourself once more at this point.

[2020-11-02 21:42] vlandau commented on #2777
@whedon check references

[2020-11-02 21:43] whedon commented on #2777
[code]

[2020-11-02 22:19] znicholls commented on #2766
I've added these now

I could do this, that would mean I'd remove GREB. Seems fine to me as it's also kind of outside the typical idea of a simple climate model.

[2020-11-02 22:39] rgieseke commented on #2766
There is probably no clear distinction, so i'd keep it. As it's also meant for teaching (i think) it would be a good pointer!

[2020-11-02 22:41] znicholls commented on #2766
@whedon generate pdf from branch joss-review-1

[2020-11-02 22:41] whedon commented on #2766
[code]

[2020-11-02 22:42] whedon commented on #2766
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02766/joss.02766/10.21105.joss.02766.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02766/joss.02766/10.21105.joss.02766.pdf) :page_facing_up: :point_left:

[2020-11-02 22:48] a-r-j commented on #2424
I'm happy too! Nice work 👍

[2020-11-02 23:27] mdogucu commented on #2794
I unfortunately cannot commit to do a review now.

[2020-11-02 23:56] syasini commented on #2608
Thanks for your help @arfon. I just commented on issue #85. I sincerely appreciate your suggestion.

After you submit the PR to `develop` I will go ahead with the new version release and submission to Zenodo and will report back here with the updates.

[2020-11-02 23:58] mathpluscode commented on #2705
Hi @Kevin-Mattheus-Moerman,
- Here is the archive of DeepReg `v0.1.0` [![DOI](https://zenodo.org/badge/269365590.svg)](https://zenodo.org/badge/latestdoi/269365590)
- Yes we've corrected the title, authors and version
- Yes we confirm `v0.1.0` is the correct version tag.

[2020-11-03 02:22] williamfgc commented on #2741
I have a few initial recommendations upon my review. I hope the authors find this helpful to transition ParaMonte from academic code to production quality software:

1. I couldn't find the use of automated test frameworks for unit and functional tests. I'd recommend using `ctest` as the project has CMake support and create automated tests. It seems there are a set of tests under [src/test](https:/

[2020-11-03 03:52] decaluwe commented on #2814
Yep—already started on the review.  Thanks!

[2020-11-03 06:03] DominiqueMakowski commented on #2810
PRDA is an R package aiming at facilitating the implementation of design analysis, a recent framework extending traditional power analysis.

The package is very well documented, with a thorough yet accessible introduction to the conceptual framework.

Regarding its API, it is also very accessible, well-documented with good examples and clear (helped by the low number of functions).
The paper is we

[2020-11-03 07:06] sayanddude commented on #2278
@ledell Sure! We have now mentioned the commit links in each of the open Github Issues. Please let us know if we missed anything. Thanks!

[2020-11-03 07:58] arfon commented on #2608
@syasini https://github.com/syasini/AstroPaint/pull/86

[2020-11-03 08:11] mikldk commented on #2794
@pboesu, @jkarreth: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2020-11-03 08:12] mikldk commented on #2722
@whedon set 10.5281/zenodo.4189769 as archive

[2020-11-03 08:12] whedon commented on #2722
OK. <a href="https://doi.org/10.5281/zenodo.4189769" target="_blank">10.5281/zenodo.4189769</a> is the archive.

[2020-11-03 08:12] mikldk commented on #2722
@whedon set v3.0.3 as version

[2020-11-03 08:12] whedon commented on #2722
OK. v3.0.3 is the version.

[2020-11-03 08:12] mikldk commented on #2722
@whedon generate pdf

[2020-11-03 08:13] whedon commented on #2722
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02722/joss.02722/10.21105.joss.02722.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02722/joss.02722/10.21105.joss.02722.pdf) :page_facing_up: :point_left:

[2020-11-03 08:13] mikldk commented on #2722
@whedon check references

[2020-11-03 08:13] whedon commented on #2722
[code]

[2020-11-03 08:15] mikldk commented on #2722
@jbytecode: The metadata at Zenodo is not okay. The title nor the authors match those of the paper. Please check thoroughly. Please also carefully read the paper and verify that everything is in order and confirm.

[2020-11-03 08:45] jbytecode commented on #2722
Dear editor @mikldk

- I corrected the authors list and the title in [Zenodo](https://zenodo.org/record/4189769#.X6EYO1MzY_V).

- I made a small correction in the summary, have you got any suggestions for me to correct anything else? It is okay to me.

[2020-11-03 08:45] jbytecode commented on #2722
@whedon generate pdf

[2020-11-03 08:46] whedon commented on #2722
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02722/joss.02722/10.21105.joss.02722.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02722/joss.02722/10.21105.joss.02722.pdf) :page_facing_up: :point_left:

[2020-11-03 09:13] will-rowe commented on #2799
Hi @jcmcnch - thanks for getting back to me. I don't think this presents a [conflict of interest](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#joss-conflict-of-interest-policy).

I think your background makes you a great potential reviewer for JOSS - have a look at the [reviewer criteria](https://joss.readthedocs.io/en/latest/review_criteria.html) and see if you think you can ass

[2020-11-03 09:35] mikldk commented on #2722
@whedon accept

[2020-11-03 09:35] whedon commented on #2722
[code]

[2020-11-03 09:36] whedon commented on #2722
[code]

[2020-11-03 09:36] whedon commented on #2722
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1891

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1891, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-11-03 12:31] jakryd commented on #2729
Hello, I'm happy to review this submission.

[2020-11-03 13:16] AnaWaldila commented on #2548
@Kevin-Mattheus-Moerman ok! I already checked all boxes! Anything else I need to complete? Thanks!

[2020-11-03 13:25] whedon commented on #2782
:wave: @tscheypidi, please update us on how your review is going.

[2020-11-03 13:25] whedon commented on #2782
:wave: @marvinjonathcn, please update us on how your review is going.

[2020-11-03 13:31] AnaWaldila commented on #2548
@Kevin-Mattheus-Moerman I have a question, sorry for that. About the pdf paper. @asmusskar modified in repository the introduction and The presentation that has been in paper.md. Is The final pdf file made by the author or by the journal? Thanks!

[2020-11-03 13:34] tscheypidi commented on #2782
I am currently waiting for installation instructions (https://github.com/JGCRI/hectorui/issues/19) which are required in order to check installation and functionality of the software.

All other parts have been checked and will get ticked off as soon as the corresponding issues have been resolved (https://github.com/JGCRI/hectorui/issues/20, https://github.com/JGCRI/hectorui/issues/22 and https://

[2020-11-03 14:18] jkarreth commented on #2794
@mikldk yes, I'll be happy to review this - but would need to take advantage of the extended JOSS time frame, so I'd get my review in by mid-December (and will try for earlier of course)

[2020-11-03 14:18] mado89 commented on #2153
Just wanted to ask if there is still work left from my side. I've ticked of all my boxes some time ago. While I think there is room for improvement concerning usability I think this tool can be accepted for publication in JOSS.

[2020-11-03 15:08] fboehm commented on #2743
Thanks, @dwinter, @raivivek and @greggj2016 ! The discussions around the reviews seem to be highly constructive and helpful, I hope, to @greggj2016 and continued development of REGENS. The next steps, I think, are for @greggj2016 to make changes to the software to address the issues raised in the reviews. Ultimately, we need both reviewers to be satisfied with the submission to the point where the

[2020-11-03 15:10] mmrabe commented on #2810
The submitted paper describes the R package PRDA, which can be used for retrospective and prospective design analysis. It has significant advantages over prior R packages, such as an option for prospective design analysis and using standardized effect sizes, which are more common than unstandardized effect sizes in some scientific disciplines.

The paper, documentation, and examples are thoughtful

[2020-11-03 15:12] pdebuyl commented on #2653
@lrnv can you let us know of the progress here? Even though most of the review is done, there are still a few checkboxes to tick.

[2020-11-03 15:17] fruzsinaagocs commented on #2729
Having gone through the volunteer list again, and I think the following people could be suitable reviewers:
- jgoldfar
- dawbarton
- adam-m-jcbs
- mstimberg

I've also emailed someone not on the volunteer list to ask for a review, I'm waiting for his response.

[2020-11-03 15:19] gkthiruvathukal commented on #2153
@mado89 I am inclined to move toward acceptance, unless there are any additional concerns from @UTH-Tuan.

[2020-11-03 15:24] vyasr commented on #2734
Hi there, normally I'd be happy to help, but I have my PhD defense coming up in less than a month so unfortunately I don't have the bandwidth for this at the moment. Come December if you're still short a reviewer, feel free to ping me again!

[2020-11-03 15:33] cokelaer commented on #2714
@danielskatz @arfon @khourdin

Dear Daniel, Dear Arfon,

First of all thanks for your review and work on JOSS and in particular on this submission. This is very much appreciated.

Yet, as you could expect, we are sad to see that the paper submission has been rejected by the editors. I hope that your decision is not solely based on the fact (as written above) that the "two pipelines are both very s

[2020-11-03 15:35] bwkchee commented on #2726
@all

Looking into this now.  It will probably be a couple days since people are out today (for the election).  Thank you!

[2020-11-03 15:51] katyhuff commented on #2796
@whedon assign @katyhuff as editor

[2020-11-03 15:51] whedon commented on #2796
OK, the editor is @katyhuff

[2020-11-03 15:51] katyhuff commented on #2796
@whedon check references

[2020-11-03 15:55] katyhuff commented on #2796
* @remram44 : Remi Rampin, are you able to and interested in taking on this review for JOSS?
* This submission is in need of expertise in reproducibility tooling as well as familiarity with the systems and languages involved (primarily python).
* Title: SHED: Streaming Heterogeneous Event Data Tracking with Provenance
* Summary: The SHED package provides a python based software framework for real

[2020-11-03 15:57] katyhuff commented on #2796
* @eteq : Erik Tollerud, are you able to and interested in taking on this review for JOSS?
* This submission is in need of expertise in reproducibility tooling as well as familiarity with the systems and languages involved (primarily python).
* Title: SHED: Streaming Heterogeneous Event Data Tracking with Provenance
* Summary: The SHED package provides a python based software framework for real ti

[2020-11-03 16:01] katyhuff commented on #2796
* @dvanic : Darya Vanichkina, are you able to and interested in taking on this review for JOSS?
* This submission is in need of expertise in reproducibility tooling as well as familiarity with the systems and languages involved (primarily python).
* Title: SHED: Streaming Heterogeneous Event Data Tracking with Provenance
* Summary: The SHED package provides a python based software framework for re

[2020-11-03 16:13] holtgrewe commented on #1584
Dear @arfon,
Dear @olgabot,

we are committed to wrapping this up ASAP. How can we ensure this?

Best wishes,
Manuel

[2020-11-03 16:29] katyhuff commented on #2796
@whedon check references

[2020-11-03 16:52] suchitakulkarni commented on #2734
Hi, I will be happy to do this. Please provide me with the instructions and timeline of what is expected out of me.

[2020-11-03 17:28] melissawm commented on #2729
Thank you, @jakryd! I'll add you as a reviewer but I won't start the review process just yet because we need another reviewer to start. As soon as that happens we'll move to the review issue.

[2020-11-03 17:28] melissawm commented on #2729
@whedon assign @jakryd as reviewer

[2020-11-03 17:28] whedon commented on #2729
OK, @jakryd is now a reviewer

[2020-11-03 17:30] melissawm commented on #2729
Hello @jgoldfar! Would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html. Let me know if you need any more information. Thanks!

[2020-11-03 18:37] KristinaRiemer commented on #2424
@whedon check references

[2020-11-03 18:37] whedon commented on #2424
[code]

[2020-11-03 18:56] KristinaRiemer commented on #2424
Great, thanks @kullrich for making all of those improvements. And thank you for your reviews @a-r-j & @clauswilke!

@kullrich in reviewing the article's references, I found a couple of typos that should be fixed:

- The Smith & Waterman 1981 reference has an "& others" in the author string that can be removed, as it looks like there are only the two authors for that publication
- As shown in the w

[2020-11-03 19:00] geekysquirrel commented on #2537
Thanks @hugoledoux I'll get this done as soon as I can. The Link in your comment seems broken though, it's only sending me back to this issue. I can see the article proof but there don't seem to be any suggestions in it.

@jvdkwast I'd still like to know what exactly didn't work when you were trying to run the tests. I think that'd be a good thing to add to the docs, whatever it is.

[2020-11-03 19:00] arfon commented on #1584
:W

[2020-11-03 19:19] lrnv commented on #2653
@pdebuyl The progress is zero for the moment, i did not took the time yet. Could i have a few extra weeks ?

[2020-11-03 19:58] diehlpk commented on #2291
@ctdegroot Are you able to edit the checkboxes?

[2020-11-03 20:19] whedon commented on #2783
:wave: @carlosjoserg, please update us on how your review is going.

[2020-11-03 20:19] whedon commented on #2783
:wave: @mosteo, please update us on how your review is going.

[2020-11-03 20:26] ClaudioZandonella commented on #2810
@DominiqueMakowski and @mmrabe thanks for your very rapid reviews and thanks for your encouraging opinions!

I had a quick look at the issues and all your suggestions are very useful. Most of them will require small changes so at the weekend I will have the time to fix everything. Thanks!

[2020-11-03 20:27] arfon commented on #2786
:wave: @salvatirehbein - thanks again for your submission to JOSS. After consulting with the JOSS editorial team, your submission has been deemed out of scope for JOSS due to it's [limited size and scope](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort).

[2020-11-03 20:27] arfon commented on #2786
@whedon reject

[2020-11-03 20:27] whedon commented on #2786
Paper rejected.

[2020-11-03 20:27] #2786 closed

[2020-11-03 20:31] whedon commented on #2784
:wave: @kexinrong, please update us on how your review is going.

[2020-11-03 20:31] whedon commented on #2784
:wave: @williamjameshandley, please update us on how your review is going.

[2020-11-03 21:06] ablaom commented on #2704
@whedon generate pdf

[2020-11-03 21:07] whedon commented on #2704
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02704/joss.02704/10.21105.joss.02704.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02704/joss.02704/10.21105.joss.02704.pdf) :page_facing_up: :point_left:

[2020-11-03 21:31] bstabler commented on #2409
Hi @jsta, @jayrobwilliams, @mikerspencer, @GISerDaishaoqing - we lost one of our reviewers so I'm wondering if you would be interested in reviewing?  Thanks!

[2020-11-03 21:36] pboesu commented on #2794
@mikldk Unfortunately I do not have capacity for this review at the moment.

[2020-11-03 21:42] KristinaRiemer commented on #2721
Just checking in with reviewers @kellykochanski & @arbennett to see how everything is going and if there is anything you need help with or is blocking your progress?

[2020-11-03 22:31] fruzsinaagocs commented on #2729
I just had an email reply from dlfivefifty saying he’d be happy to review. @melissawm  can I tag him?

[2020-11-03 22:36] ablaom commented on #2704
@Kevin-Mattheus-Moerman

I have added the country to "University of Auckland" and "London" to "The Alan Institute". I think adding city or country to any other entry is redundant - even silly.  Eg, University College London" is obviously in London, and an unqualified "London" obviously refers to "London England" not "London, Kentucky".

Only the first two institutions on the list  are not very wel

[2020-11-03 22:47] pdebuyl commented on #2653
Hi @lrnv we have no strict timeframe once the reviews are in, as it is often harder to get the reviews than the author's update. Still, to avoid that the reviewers have forgotten about the package when you reply, it is best to avoid unnecessary delays. Let us know when there is an update.

[2020-11-03 22:49] jcmcnch commented on #2799
@will-rowe OK sounds good, I'm in!

[2020-11-03 23:56] salvatirehbein commented on #2786
Dear @arfon

Thank you so much for your efforts in reviewing this paper.

I was wondering to tell you that the tool we created and described in this paper started being made in February of this year. Many, many efforts were made for making it fast, easy, and simple for studying and understanding our climate system. Therefore, this tool is very important for our group of studies (www.grec.iag.usp.b

[2020-11-04 05:39] syasini commented on #2608
@arfon, I published a new release on (v1.0.0) on Zenodo. You can find it [here](https://zenodo.org/record/4243176#.X6I9qpNKjt1). Let me know if further actions are needed on my side.

And thanks for resubmitting the PR to `develop`. I merged it earlier today :)

[2020-11-04 06:53] mikldk commented on #2794
@whedon add @trashbirdecology as reviewer

[2020-11-04 06:53] whedon commented on #2794
OK, @trashbirdecology is now a reviewer

[2020-11-04 06:53] mikldk commented on #2794
@whedon add @jkarreth as reviewer

[2020-11-04 06:53] whedon commented on #2794
OK, @jkarreth is now a reviewer

[2020-11-04 06:54] mikldk commented on #2794
@whedon start review

[2020-11-04 06:54] whedon opened #2815 "[REVIEW]: effectsize: Estimation of Effect Size Indices and Standardized Parameters"
**Submitting author:** @mattansb (<a href="http://orcid.org/0000-0002-4287-4801">Mattan S. Ben-Shachar</a>)
**Repository:** <a href="https://github.com/easystats/effectsize" target ="_blank">https://github.com/easystats/effectsize</a>
**Version:** v0.4.1.2
**Editor:** @mikldk
**Reviewer:** @trashbirdecology, @jkarreth
**Archive:** <a href="https://doi.org/10.5281/zenodo.4384509" target="_blank">10

[2020-11-04 06:54] whedon commented on #2794
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2815.

[2020-11-04 06:54] #2794 closed

[2020-11-04 06:54] whedon commented on #2815
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @trashbirdecology, @jkarreth it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](

[2020-11-04 06:54] whedon commented on #2815
PDF failed to compile for issue #2815 with the following error:

 Can't find any papers to compile :-(

[2020-11-04 06:54] mikldk commented on #2815
@whedon generate pdf from branch paper

[2020-11-04 06:54] whedon commented on #2815
[code]

[2020-11-04 06:54] whedon commented on #2815
PDF failed to compile for issue #2815 with the following error:

 Can't find any papers to compile :-(

[2020-11-04 06:58] arfon commented on #2815
Lemme dig into this @mikldk - not sure what is going on here.

[2020-11-04 07:09] mikldk commented on #2815
@mattansb (and possibly @arfon): When I look into the [repo](https://github.com/easystats/effectsize), it is not clear if the software submitted is at the master branch or in the paper branch?

[2020-11-04 07:11] mikldk commented on #2815
@trashbirdecology, @jkarreth: Thanks for agreeing to review. We are having some small technical issues. We will let you know when you can start the review. Please wait until we say "go".

(@mattansb, @jkarreth: Note that we have a slightly extended time frame at the moment, and @jkarreth do not expect to be able to complete their review before mid-December, but will try if at all possible.)

[2020-11-04 07:12] arfon commented on #2815
@whedon generate pdf from branch paper

[2020-11-04 07:12] whedon commented on #2815
[code]

[2020-11-04 07:12] whedon commented on #2815
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02815/joss.02815/10.21105.joss.02815.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02815/joss.02815/10.21105.joss.02815.pdf) :page_facing_up: :point_left:

[2020-11-04 07:14] arfon commented on #2815
I think we're good now ☝️. I accidentally introduced a regression into Whedon last night.

[2020-11-04 07:19] mikldk commented on #2815
Thanks, @arfon .

@mattansb: In the paper branch there is a copy of the R package itself and not just the paper for JOSS. @arfon, shouldn't this copy of the R package in the paper branch be removed such that only the paper etc. are in the paper branch?

[2020-11-04 07:21] arfon commented on #2786
Hi @salvatirehbein - I'm afraid our decision on scope is final here but there are some alternatives for citing the package which we have written about here: https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-packages

[2020-11-04 07:21] arfon commented on #2608
@whedon set 10.5281/zenodo.4243176 as archive

[2020-11-04 07:21] whedon commented on #2608
OK. <a href="https://doi.org/10.5281/zenodo.4243176" target="_blank">10.5281/zenodo.4243176</a> is the archive.

[2020-11-04 07:22] arfon commented on #2608
@whedon check references

[2020-11-04 07:22] whedon commented on #2608
[code]

[2020-11-04 07:23] arfon commented on #2815
We generally don't insist on this but it would be good to clarify for the reviewers here which branch of the _software_ should be reviewed.

[2020-11-04 07:24] arfon commented on #2608
@syasini - did you check if `10.1088/1475-7516/2020/10/012` was a valid DOI for one of your references? If so, please add it to your BibTeX please.

[2020-11-04 07:40] oalii commented on #2793
@whedon generate pdf from branch develop

[2020-11-04 07:40] whedon commented on #2793
[code]

[2020-11-04 07:40] whedon commented on #2793
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02793/joss.02793/10.21105.joss.02793.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02793/joss.02793/10.21105.joss.02793.pdf) :page_facing_up: :point_left:

[2020-11-04 07:53] csoneson commented on #2787
👋 @tgerke, @sachsmc - would one of you be willing to review this submission for JOSS?

[2020-11-04 08:10] GISerDaiShaoqing commented on #2409
@bstabler Thanks for the invitation. I'm pleased to review this paper.

[2020-11-04 08:18] mattansb commented on #2815
@arfon & @mikldk The paper branch has a copy of the current CRAN version of the package. But I think it will reduce ambiguity if I just merge the paper branch into master, so I'll do that now. Sorry about the confusion.

[2020-11-04 08:20] mattansb commented on #2815
Done.

Again, sorry for any mix up.

[2020-11-04 08:40] sachsmc commented on #2787
@csoneson Sure, I'm happy to review it.

[2020-11-04 08:42] csoneson commented on #2787
@sachsmc excellent, thanks!

[2020-11-04 08:42] csoneson commented on #2787
@whedon add @sachsmc as reviewer

[2020-11-04 08:42] whedon commented on #2787
OK, @sachsmc is now a reviewer

[2020-11-04 08:43] csoneson commented on #2787
@whedon start review

[2020-11-04 08:43] whedon opened #2816 "[REVIEW]: secuTrialR: Seamless interaction with clinical trial databases in R"
**Submitting author:** @PatrickRWright (<a href="http://orcid.org/0000-0002-1153-0846">Patrick R. Wright</a>)
**Repository:** <a href="https://github.com/SwissClinicalTrialOrganisation/secuTrialR" target ="_blank">https://github.com/SwissClinicalTrialOrganisation/secuTrialR</a>
**Version:** 1.0.6
**Editor:** @csoneson
**Reviewer:** @pacoramon, @sachsmc
**Archive:** <a href="https://doi.org/10.5281

[2020-11-04 08:43] whedon commented on #2787
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2816.

[2020-11-04 08:43] #2787 closed

[2020-11-04 08:43] whedon commented on #2816
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @pacoramon, @sachsmc it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2020-11-04 08:44] whedon commented on #2816
[code]

[2020-11-04 08:44] whedon commented on #2816
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02816/joss.02816/10.21105.joss.02816.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02816/joss.02816/10.21105.joss.02816.pdf) :page_facing_up: :point_left:

[2020-11-04 08:46] csoneson commented on #2816
@pacoramon, @sachsmc - thanks for agreeing to review this submissions. This is where the review happens. You can find some instructions above, as well as your individual checklists. Don't hesitate to ping me if you have any questions (I will also be checking in regularly).

[2020-11-04 08:48] joshspeagle commented on #2641
Review is done! Comments below:
- Documentation is functional enough to meet JOSS requirements I *think*, but definitely not super thorough. Docs seem more like they were written more as a reference and less as a guide for new users. There's also limited examples of the internal Python API that the CLI runs off of (a stated feature of the package), although there's enough stuff online and in the c

[2020-11-04 08:49] mikldk commented on #2815
@mattansb: No worries -- I just wanted to be sure that reviewers looked at the right branch. So to be sure (the paper branch still has the code?): The reviewers should look at the code in the `master` branch and the paper in the `paper` branch?

[2020-11-04 08:50] PatrickRWright commented on #2816
Thank you for taking this on from my side too :thumbsup:

[2020-11-04 08:52] mattansb commented on #2815
@mikldk Reviewers should look at the `master` branch which now has both the code *and* the paper.

[2020-11-04 09:13] will-rowe commented on #2799
Great! Thanks @jcmcnch.

I'll start the review thread, which you all will get tagged in. Anyone questions, let me know.

[2020-11-04 09:14] will-rowe commented on #2799
@whedon add @jcmcnch as reviewer

[2020-11-04 09:14] whedon commented on #2799
OK, @jcmcnch is now a reviewer

[2020-11-04 09:14] will-rowe commented on #2799
@whedon start review

[2020-11-04 09:14] whedon opened #2817 "[REVIEW]: EUKulele: Taxonomic annotation of the unsung eukaryotic microbes"
**Submitting author:** @akrinos (<a href="http://orcid.org/0000-0001-9767-8392">Arianna Krinos</a>)
**Repository:** <a href="https://github.com/AlexanderLabWHOI/EUKulele" target ="_blank">https://github.com/AlexanderLabWHOI/EUKulele</a>
**Version:** v1.0.2b
**Editor:** @will-rowe
**Reviewer:** @johanneswerner, @jcmcnch
**Archive:** <a href="https://doi.org/10.5281/zenodo.4422091" target="_blank">1

[2020-11-04 09:14] whedon commented on #2799
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2817.

[2020-11-04 09:14] #2799 closed

[2020-11-04 09:14] whedon commented on #2817
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @johanneswerner, @jcmcnch it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2020-11-04 09:15] whedon commented on #2817
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02817/joss.02817/10.21105.joss.02817.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02817/joss.02817/10.21105.joss.02817.pdf) :page_facing_up: :point_left:

[2020-11-04 09:16] whedon commented on #2817
[code]

[2020-11-04 09:39] zemogle commented on #2641
Thanks @joshspeagle Those are really constructive comments. The docs are an on-going effort but giving worked through examples are a good idea.

I've fixed up the figure references (and the missing captions).

[2020-11-04 09:45] hugoledoux commented on #2537
sorry, not sure what happened here, another try:

[10.21105.joss.02537 3.pdf](https://github.com/openjournals/joss-reviews/files/5486922/10.21105.joss.02537.3.pdf)

[2020-11-04 10:01] cMadan commented on #2506
@pmkruyen, it looks like your bib needs fixing. At the very least, all authors need to be separated by "and", not commas. There are some other formatting issues too, so please proof the references carefully.

[2020-11-04 10:04] cMadan commented on #2810
@DominiqueMakowski @mmrabe, thanks for the prompt and thorough reviews. I really appreciate the time and effort you are putting in to review this submission!

[2020-11-04 11:01] mikldk commented on #2815
Thanks, @mattansb . You should consider deleting the `paper` branch.

[2020-11-04 11:01] mikldk commented on #2815
@whedon generate pdf

[2020-11-04 11:02] whedon commented on #2815
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02815/joss.02815/10.21105.joss.02815.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02815/joss.02815/10.21105.joss.02815.pdf) :page_facing_up: :point_left:

[2020-11-04 11:03] mikldk commented on #2815
@trashbirdecology, @jkarreth: Once again, thanks for agreeing to review. The problems are now resolved, and the `master` branch is ready for your reviews. Please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If possible create issues

[2020-11-04 11:17] pmkruyen commented on #2506
@whedon generate pdf

[2020-11-04 11:18] whedon commented on #2506
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02506/joss.02506/10.21105.joss.02506.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02506/joss.02506/10.21105.joss.02506.pdf) :page_facing_up: :point_left:

[2020-11-04 11:19] pmkruyen commented on #2506
@whedon generate pdf

[2020-11-04 11:20] whedon commented on #2506
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02506/joss.02506/10.21105.joss.02506.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02506/joss.02506/10.21105.joss.02506.pdf) :page_facing_up: :point_left:

[2020-11-04 11:26] pmkruyen commented on #2506
@whedon generate pdf

[2020-11-04 11:26] whedon commented on #2506
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02506/joss.02506/10.21105.joss.02506.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02506/joss.02506/10.21105.joss.02506.pdf) :page_facing_up: :point_left:

[2020-11-04 11:29] pmkruyen commented on #2506
Hi @cMadan, thanks for the hint. I forgot this issue and to ask about it. I solved the 'and' problem; also I corrected the capital letter issue (e.g. EJOP). Is there any other issue with the bib file?

[2020-11-04 11:31] pmkruyen commented on #2506
Sorry, forgot to ask about this: Do you prefer/use "Jonge, de J.", Jonge, De J.", or "De Jonge, J." ?

[2020-11-04 11:31] fkiraly commented on #2704
Wait, this is *not* London, Kentucky where I'm living?
That would explain all the Grenadier Guards in the city, and the lack of banjos.

[2020-11-04 11:32] pmkruyen commented on #2506
@whedon generate pdf

[2020-11-04 11:33] whedon commented on #2506
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02506/joss.02506/10.21105.joss.02506.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02506/joss.02506/10.21105.joss.02506.pdf) :page_facing_up: :point_left:

[2020-11-04 12:06] jni commented on #2792
@whedon assign @rfezzani as reviewer

[2020-11-04 12:06] whedon commented on #2792
OK, @rfezzani is now a reviewer

[2020-11-04 12:06] jni commented on #2792
@whedon add @aplyer as reviewer

[2020-11-04 12:06] whedon commented on #2792
OK, @aplyer is now a reviewer

[2020-11-04 12:06] jni commented on #2792
@whedon start review

[2020-11-04 12:07] whedon opened #2818 "[REVIEW]: Cellocity: A Python package for analysis of confluent cell layer dynamics"
**Submitting author:** @oftatkofta (<a href="http://orcid.org/0000-0002-8945-2665">Jens Eriksson</a>)
**Repository:** <a href="https://github.com/Oftatkofta/cellocity" target ="_blank">https://github.com/Oftatkofta/cellocity</a>
**Version:** v1.0.1
**Editor:** @jni
**Reviewer:** @rfezzani, @aplyer
**Archive:** <a href="https://doi.org/10.5281/zenodo.4475442" target="_blank">10.5281/zenodo.4475442<

[2020-11-04 12:07] whedon commented on #2792
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2818.

[2020-11-04 12:07] #2792 closed

[2020-11-04 12:07] whedon commented on #2818
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @rfezzani, @aplyer it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://bl

[2020-11-04 12:07] whedon commented on #2818
[code]

[2020-11-04 12:07] whedon commented on #2818
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02818/joss.02818/10.21105.joss.02818.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02818/joss.02818/10.21105.joss.02818.pdf) :page_facing_up: :point_left:

[2020-11-04 12:09] jni commented on #2818
@rfezzani @aplyer :wave: over here! :blush: Thank you for agreeing to review this paper/software! Please read the review issue description above in detail, and feel free ask me here any questions you might have about the process.

[2020-11-04 14:34] fcooper8472 commented on #2645
Apologies for the delay in completing my review. I have only one checkbox unticked:

- [ ] **State of the field:** Do the authors describe how this software compares to other commonly-used packages?

Some general comments on the software/repository:

- The software appears to be well written, tested and documented: in my opinion, well above the threshold for publication in JOSS.
- In the README, u

[2020-11-04 15:00] dmey commented on #2779
@VivianePons apologies for the delay but I have had no time to look at this yet -- could I get back sometime in next week? Thanks.

[2020-11-04 16:20] mfeldt commented on #2764
I cannot even begin to appreciate your patience, Marcos...

And I'm truly sorry, but it appears that most code blocks were not only
missing from the installation page, but from all others as well. 
Something with the code-block:: directive when no language is specified.

Additionally, I added a section on community guidelines under the
general concept section (for extending AOSAT).

So whatever th

[2020-11-04 16:43] whedon commented on #2791
:wave: @kinow, please update us on how your review is going.

[2020-11-04 16:43] whedon commented on #2791
:wave: @xirdneh, please update us on how your review is going.

[2020-11-04 17:37] ajbaird commented on #2645
Hi @fcooper8472 we use build bot for our CI processes, we have developed it in house using those python libraries to build our cross platform tests, we don't' give access to others to view that splash screen but the badges are generated with buildbot, then uploaded to AWS so the badges are updated nightly. I can def change the general comments this week!

Getting access to our IRC channel is the b

[2020-11-04 17:40] dhhagan commented on #2755
Hey @arfon sorry about that - having a hard time sorting through GitHub notifications. Will get right on this.

[2020-11-04 17:40] ajbaird commented on #2645
oh just saw the top comment @fcooper8472, I can update some information there, should I do that now or after this process has concluded, then re-submit?

[2020-11-04 17:46] dhhagan commented on #2755
👋 @sahilseth @jsta @masalmon would you be willing to review this manuscript?

[2020-11-04 17:47] dhhagan commented on #2479
Sorry for the very long delay, @apalarcon I still have not been able to identify a second reviewer. I am still waiting to hear back from a couple and will ping them again right now offline.

[2020-11-04 17:53] fcooper8472 commented on #2645
@ajbaird  I think you can just update the paper and then get the bot to rebuild the paper as a new pdf.  Definitely don't need to re-submit I don't think.

[2020-11-04 17:54] arfon commented on #2755
@dhhagan (not that you could possibly know this) but @jsta has asked to be removed from the reviewer list so you'll need to look a little further afield.

[2020-11-04 18:01] ajbaird commented on #2645
@fcooper8472 ok great! I'll update now, might be able to wrap it up today. I'll post here when done.

[2020-11-04 18:19] FrancisBanville commented on #2721
Thank you for your helpful review @kellykochanski, and sorry for the late reply!

We have made some changes to the manuscript (see branch [`joss-article-review1`](https://github.com/EcoJulia/EcologicalNetworks.jl/tree/joss-article-review1)) and commented on your issues. Please do not hesitate to contact us if you have any questions or if you need further detail!

[2020-11-04 18:24] DARSakthi commented on #2727
Hi everyone,

Apologies for the delay in responding to this review. October and November are very busy months -- some NIH deadlines to prepare for.

A few comments --

Firstly, the scholarly effort is substantial. I commend the authors on not only the code but the methods development.

I noticed you mention you added some google colab resources, but I can't seem to find them. Could you point me in

[2020-11-04 18:34] syasini commented on #2608
Thanks for pointing that our @arfon. That's indeed the valid DOI for the reference. I just added it to the paper.bib file.

[2020-11-04 18:36] ajjackson commented on #2671
Have not had much luck today trying to follow the mongodb instructions with a Podman container. Will have to try a native installation.

[2020-11-04 19:43] ajbaird commented on #2645
@whedon generate pdf from branch f/abard-JOSSPaper

[2020-11-04 19:43] whedon commented on #2645
[code]

[2020-11-04 19:45] whedon commented on #2645
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02645/joss.02645/10.21105.joss.02645.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02645/joss.02645/10.21105.joss.02645.pdf) :page_facing_up: :point_left:

[2020-11-04 19:52] ajbaird commented on #2645
ok @fcooper8472  just made some changes, I included the bulk of the text changes to address the unchecked box under the summery title. If you think it should have its own header, let me know, I thought it sort of fit there.

[2020-11-04 19:52] ajbaird commented on #2645
@whedon generate pdf from branch f/abard-JOSSPaper

[2020-11-04 19:52] whedon commented on #2645
[code]

[2020-11-04 19:54] whedon commented on #2645
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02645/joss.02645/10.21105.joss.02645.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02645/joss.02645/10.21105.joss.02645.pdf) :page_facing_up: :point_left:

[2020-11-04 20:17] majensen commented on #2790
@oeco28 - how's it going in the Palouse? Could I interest you in reviewing [this software](#2790) for the [Journal of Open Source Software](https://joss.theoj.org)? Please have a look at [the review process](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) and let me know in this thread. Or, if you have a colleague you could recommend, that would be wonderful. --@majensen

[2020-11-04 20:20] artgoldberg commented on #2685
I appreciate your feedback @yadudoc. Please excuse my slow response. I've been out campaigning in PA. I'll investigate your issues, especially #63 soon.

Arthur

[2020-11-04 20:36] lpantano commented on #1584
@holtgrewe, let me try to get the  reviewer's attention again. Thanks.

[2020-11-04 20:41] lpantano commented on #1584
Hey @rbatorsky, authors closed the issue you had opened, I don't see any more concern from you, let us know if we are missing something. If all sounds good, could you make sure you double check all the items under the list on the top of this issue, please? Thanks!

[2020-11-04 20:46] mvandam commented on #2764
The documentation displays properly now.

Please update the documentation regarding cupy-cuda110 since it **does** exist (i.e., you should check whether this works properly or not). I did not find the SVD used anywhere, so I am not sure why this is even an issue. Generally speaking, you can do regularized least squares inversions much faster than SVD inversions if this is what you are using it for

[2020-11-04 21:07] eloisabentivegna commented on #2734
Dear @vyasr, thanks for letting us know. Best of luck on your defense!

[2020-11-04 21:11] eloisabentivegna commented on #2734
Suchita, thanks for agreeing to help! As you might have gathered if you've looked around this repository a little, a JOSS review is centred upon downloading and installing the software, and inspecting the repository and submitted paper for key elements. You can find much more details at https://joss.readthedocs.io/en/latest/reviewer_guidelines.html, but I am also happy to elaborate.

Since this is

[2020-11-04 21:19] Kevin-Mattheus-Moerman commented on #2785
@drvinceknight @pdebuyl could one of you edit this submission?

[2020-11-04 21:22] Kevin-Mattheus-Moerman commented on #2727
@DARSakthi thanks for your comments.

[2020-11-04 21:24] Kevin-Mattheus-Moerman commented on #2548
@whedon generate pdf

[2020-11-04 21:25] Kevin-Mattheus-Moerman commented on #2548
@AnaWaldila we can update the paper draft here by calling `@whedon generate pdf`

[2020-11-04 21:25] whedon commented on #2548
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02548/joss.02548/10.21105.joss.02548.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02548/joss.02548/10.21105.joss.02548.pdf) :page_facing_up: :point_left:

[2020-11-04 21:26] Kevin-Mattheus-Moerman commented on #2548
@whedon check references

[2020-11-04 21:26] whedon commented on #2548
[code]

[2020-11-04 21:27] Kevin-Mattheus-Moerman commented on #2705
@whedon set 10.5281/zenodo.4210215 as archive

[2020-11-04 21:27] whedon commented on #2705
OK. <a href="https://doi.org/10.5281/zenodo.4210215" target="_blank">10.5281/zenodo.4210215</a> is the archive.

[2020-11-04 21:28] Kevin-Mattheus-Moerman commented on #2705
@whedon accept

[2020-11-04 21:28] whedon commented on #2705
[code]

[2020-11-04 21:29] whedon commented on #2705
[code]

[2020-11-04 21:30] whedon commented on #2705
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1892

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1892, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-11-04 21:33] Kevin-Mattheus-Moerman commented on #2705
@whedon accept deposit=true

[2020-11-04 21:33] whedon commented on #2705
[code]

[2020-11-04 21:35] whedon commented on #2705
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1324102924801363971) 👈 🐦🐦🐦

[2020-11-04 21:35] whedon commented on #2705
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1893
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02705](https://doi.org/10.21105/joss.02705)
2. If everything looks g

[2020-11-04 21:53] fcooper8472 commented on #2645
@ajbaird That looks great, I'm happy to check the box now.

I'm finished with my review now; it all looks good from my perspective.

[2020-11-04 21:54] mathpluscode commented on #2705
Hi, @Kevin-Mattheus-Moerman @ethanwharris @zhangfanmark @lbrea, thank you a lot for the edit and review!

[2020-11-04 21:56] YipengHu commented on #2705
Great editorial service - will recommend to colleagues 👍

[2020-11-04 22:06] #2705 closed

[2020-11-04 22:06] whedon commented on #2705
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02705/status.svg)](https://doi.org/10.21105/joss.02705)

**We need your help!**

Journal of Open Source Softwa

[2020-11-04 22:30] Kevin-Mattheus-Moerman commented on #2811
@pdebuyl @melissawm @drvinceknight could one of you edit this submission?

[2020-11-05 01:04] bstabler commented on #2409
@whedon add @GISerDaiShaoqing as reviewer

[2020-11-05 01:04] whedon commented on #2409
OK, @GISerDaiShaoqing is now a reviewer

[2020-11-05 02:20] AnaWaldila commented on #2548
@Kevin-Mattheus-Moerman. I saw the final paper to check if it is allrigth. Sorry about that, but I did not understand why figures are not in pdf paper. I saw in this exact moment, the figures are in paper.md, like @asmusskar put.

[2020-11-05 07:03] whedon commented on #2797
:wave: @arfon, please update us on how your review is going.

[2020-11-05 07:04] whedon commented on #2798
:wave: @arfon, please update us on how your review is going.

[2020-11-05 07:10] MaierOli2010 commented on #2727
Thank you for the comments!

The links i sin the "Running the reconstruction" section, last sentence. It is not very prominently placed.
You can also use [this link](https://colab.research.google.com/drive/19BfSJmDPinZDY0m1sMAhETutIiJG3b33?usp=sharing) to have a look.

If you could mark the sentences that should be rephrased that would be great.

Cheers

Oliver

[2020-11-05 08:30] arfon commented on #2608
@whedon check references

[2020-11-05 08:30] whedon commented on #2608
[code]

[2020-11-05 08:31] arfon commented on #2608
@whedon accept

[2020-11-05 08:31] whedon commented on #2608
[code]

[2020-11-05 08:31] whedon commented on #2608
[code]

[2020-11-05 08:32] whedon commented on #2608
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1894

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1894, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-11-05 08:34] arfon commented on #2608
@whedon accept deposit=true

[2020-11-05 08:34] whedon commented on #2608
[code]

[2020-11-05 08:35] whedon commented on #2608
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1324269112139329541) 👈 🐦🐦🐦

[2020-11-05 08:35] whedon commented on #2608
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1895
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02608](https://doi.org/10.21105/joss.02608)
2. If everything looks g

[2020-11-05 08:42] arfon commented on #2608
@AshKelly, @zpace - many thanks for your reviews here and for @harpolea help editing ✨

@syasini - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-11-05 08:42] #2608 closed

[2020-11-05 08:42] whedon commented on #2608
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02608/status.svg)](https://doi.org/10.21105/joss.02608)

**We need your help!**

Journal of Open Source Softwa

[2020-11-05 09:40] pdebuyl commented on #2785
@whedon assing me as editor

[2020-11-05 09:40] whedon commented on #2785
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-11-05 09:54] pdebuyl commented on #2785
@whedon commands

[2020-11-05 09:54] whedon commented on #2785
Here are some things you can ask me to do:

[code]

[2020-11-05 09:56] pdebuyl commented on #2785
@whedon assign @pdebuyl  as editor

[2020-11-05 09:56] whedon commented on #2785
OK, the editor is @pdebuyl

[2020-11-05 10:07] pdebuyl commented on #2785
Hi @briandesilva thank you for submitting to JOSS. I will look for reviewers shortly.

In the meantime, I have a few comments
- The second paragraph of the article is a laundry list of citations. JOSS papers should be written for a non-specialist audience and include "a list of key references".
- The list of author of the fourth reference is lacking full names.
- Please also check that the DOI are

[2020-11-05 10:08] pdebuyl commented on #2785
@stsievert , @jordanperr can you review the article "PySensors: A Python Package for Sparse Sensor Placement" for JOSS ?

[2020-11-05 10:29] kinow commented on #2791
My review is complete @gkthiruvathukal :heavy_check_mark:

Even managed to test `s4rdm3x` with Apache Commons Imaging. I was going to use Apache Commons Lang, but I am currently working on Imaging. I didn't add all the relationships between packages, and the tool correctly highlighted the failed clusterings.

![image](https://user-images.githubusercontent.com/304786/98224880-e61c7400-1fb8-11eb-83f

[2020-11-05 10:31] kakiac commented on #2405
@atanikan @Fil @Yomguithereal thank you so much for all your efforts and hard work on this! A fantastic submission :) I will now be initiating final checks and push through the last editorial steps for publication.

[2020-11-05 10:35] kakiac commented on #2405
**Editor's "After reviewers recommend acceptance" checks:**
 - [ ] Get a new proof with the @whedon generate pdf command.
 - [ ] Download the proof, check all references have DOIs, follow the links and check the references.
 - [ ] Whedon can help check references with the command @whedon check references
 - [ ] Proof-read the paper and ask authors to fix any remaining typos, badly formed citations

[2020-11-05 10:36] kakiac commented on #2405
@whedon generate pdf

[2020-11-05 10:36] kakiac commented on #2405
@whedon check references

[2020-11-05 10:37] whedon commented on #2405
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02405/joss.02405/10.21105.joss.02405.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02405/joss.02405/10.21105.joss.02405.pdf) :page_facing_up: :point_left:

[2020-11-05 10:37] whedon commented on #2405
[code]

[2020-11-05 11:14] Yomguithereal commented on #2405
I pushed a commit adding the missing DOIs to the paper's bibliography.

[2020-11-05 12:53] tobias-dv-lnu commented on #2791
Awesome! Do you consider the sysmdl for commons imaging to be "correct"? If so would can I include it in the repo as an available system (always on the lookout for more data :) )

[2020-11-05 12:57] whedon commented on #2800
:wave: @rmhogervorst, please update us on how your review is going.

[2020-11-05 12:57] whedon commented on #2800
:wave: @jsgalan, please update us on how your review is going.

[2020-11-05 14:37] marcjwilliams1 commented on #2708
Overall everything looks fine, I get the same outputs when I run the vignette but would be nice to see some automated tests jongheepark/NetworkChange#3 . A note on community guidelines should also be added somewhere jongheepark/NetworkChange#4 .

[2020-11-05 14:52] trashbirdecology commented on #2815
[Review issue opened at repository](https://github.com/easystats/effectsize/issues/196).

[2020-11-05 15:35] Swetanshu commented on #2660
Hi @dpsanders: Thank you for your comments and apologies for the late reply. I have tried to address your comments and the changes are described below:

•  It's not clear why there are two standalone codes being submitted as one submission.
The codes “EJ_calc” and “suscep” together provide a means to use the data obtained from density functional theory calculations for simulating the magnetic susc

[2020-11-05 15:51] rbatorsky commented on #1584
Thanks @lpantano! I've checked off all that apply. I don't believe that the submission described any automated tests. Is anything else needed from me?

[2020-11-05 16:15] jorgensd commented on #2687
@whedon generate pdf

[2020-11-05 16:16] whedon commented on #2687
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02687/joss.02687/10.21105.joss.02687.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02687/joss.02687/10.21105.joss.02687.pdf) :page_facing_up: :point_left:

[2020-11-05 16:28] kakiac commented on #2405
Thanks @Yomguithereal!

[2020-11-05 16:42] Yomguithereal commented on #2405
Sorry, what do you mean by "archive the repo"?

[2020-11-05 16:49] dpsanders commented on #2598
@whedon generate pdf

[2020-11-05 16:50] dpsanders commented on #2660
@Swetanshu At a glance that looks good, thanks!

Do you have any suggestions for reviewers from the list linked above?

[2020-11-05 16:50] whedon commented on #2598
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02598/joss.02598/10.21105.joss.02598.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02598/joss.02598/10.21105.joss.02598.pdf) :page_facing_up: :point_left:

[2020-11-05 16:55] kakiac commented on #2405
@Yomguithereal apologies - I should have been clearer - Upon successful completion of the review, you need to make a tagged release of the software (via github, see here for info https://git-scm.com/book/en/v2/Git-Basics-Tagging), and deposit a copy of the repository with a data-archiving service such as Zenodo or figshare.

You then need to get the DOI you will be assigned from them (it is automa

[2020-11-05 17:06] dpsanders commented on #2598
👋 @RaphaelS1: I think we're ready to proceed to publication!

Could you please archive the software e.g. at Zenodo, making sure that the title and authors are exactly as in the paper, then report the version number and DOI here? Thanks!

[2020-11-05 17:09] yadudoc commented on #2685
Hi @danielskatz, the issue (https://github.com/KarrLab/de_sim/issues/63) with the tests is now resolved. I recommend this paper for acceptance.

[2020-11-05 17:10] jorgensd commented on #2687
@whedon check references

[2020-11-05 17:10] whedon commented on #2687
[code]

[2020-11-05 17:12] jorgensd commented on #2687
@krober10nd It seems to me that the cgal reference in the Performance Comparison chapter is broken. In the article proof above it shows up as:
The 2D/3D serial performance against gmsh and cgal (Alliez et al., 2020, pp. @cgal:r–ctm2–
20b)

[2020-11-05 17:26] nuest commented on #2409
@bstabler @lydialucchesi I'll do the second round of my reviews early next week. Looking forward to see what @GISerDaiShaoqing thinks! Welcome!

[2020-11-05 17:27] Swetanshu commented on #2660
@dpsanders From the list: Alex ganose (username: utf) and Benjamin Morgan (username: bjmorgan).
Prof. Julian Gale ( J.Gale@curtin.edu.au) would be extremely suitable but I could not find his name in the list.

[2020-11-05 17:28] nuest commented on #2805
Thanks! Just as a quick heads up, I'll likely do the review beginning of next week.

[2020-11-05 17:33] kakiac commented on #2408
Yes, last few checks, not too long to go now!

[2020-11-05 17:34] kakiac commented on #2408
@whedon check references

[2020-11-05 17:34] whedon commented on #2408
[code]

[2020-11-05 17:34] kakiac commented on #2408
@whedon generate pdf

[2020-11-05 17:35] whedon commented on #2408
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02408/joss.02408/10.21105.joss.02408.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02408/joss.02408/10.21105.joss.02408.pdf) :page_facing_up: :point_left:

[2020-11-05 17:37] kakiac commented on #2408
👋 @bstabler would you recommend acceptance for this submission to JOSS? Thank you!

[2020-11-05 17:41] RaphaelS1 commented on #2598
@dpsanders Fantastic!

https://zenodo.org/record/4247626#.X6Q5KVP7TOQ
set6 0.2.0
http://doi.org/10.5281/zenodo.4247626

[2020-11-05 18:06] danielskatz commented on #2685
Thanks @yadudoc

[2020-11-05 18:07] danielskatz commented on #2685
@whedon generate pdf

[2020-11-05 18:08] whedon commented on #2685
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02685/joss.02685/10.21105.joss.02685.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02685/joss.02685/10.21105.joss.02685.pdf) :page_facing_up: :point_left:

[2020-11-05 18:10] danielskatz commented on #2685
👋 @artgoldberg - At this point I'm going to proofread the paper

[2020-11-05 18:10] danielskatz commented on #2685
@whedon check references

[2020-11-05 18:11] whedon commented on #2685
[code]

[2020-11-05 18:16] krober10nd commented on #2687
Okay I put in a fix for this citation and removed the RTM acronym  @jorgensd .  I'll update the benchmark figure with hopefully bigger labels and the clarification about the 2D performance of SM.

[2020-11-05 18:22] geekysquirrel commented on #2537
Thanks, that worked.

[2020-11-05 18:33] whedon commented on #2801
:wave: @hayesla, please update us on how your review is going.

[2020-11-05 18:33] whedon commented on #2801
:wave: @samaloney, please update us on how your review is going.

[2020-11-05 18:34] kthyng commented on #2405
@kakiac Please wait to ping openjournals/joss-eics until a submission is ready to be taken over, if possible. Just saves a little bit of email traffic for us. Your last checkbox isn't needed since that happens with `@whedon accept`.

[2020-11-05 18:47] fduchatea commented on #2805
Thank you reviewing our submission, and sorry for the delay.

About mentioned missing items:
- _Permit individuals to create issues/file tickets against your repository_: it seems that the gitlab instance of our lab requires authentification (of lab members) for creating issues, and this policy will not change. Should we switch to another platform such as gitlab.com?
- _Expand the description of t

[2020-11-05 18:47] arfon commented on #2408
@kakiac - I know that @bstabler has very limited availability right now so I wouldn't wait more than ~24 hours for a response here.

[2020-11-05 19:30] csoneson commented on #2440
👋 @neuromusic - just checking in that we're still on track to have these issues addressed within the next week.

[2020-11-05 19:39] danielskatz commented on #2685
👋 @artgoldberg - this all looks good to me.  At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match t

[2020-11-05 19:46] jordanperr commented on #2785
@pdebuyl Happy to review this, but I'm not very familiar with the process. I am aware of the reviewer checklist, but It would be helpful if you could please guide me through the procedure.

[2020-11-05 19:47] jordanperr commented on #2171
@sjpfenninger, @gschivley, @Ludee - Just checking in again. Any updates on the review? Thank you.

[2020-11-05 19:58] Yomguithereal commented on #2405
@kakiac the release is `1.1.3-zenodo` and the attached DOI is `10.5281/zenodo.4247869` (but the [https://doi.org/10.5281/zenodo.4247869](https://doi.org/10.5281/zenodo.4247869) url does not yet work as I write this message. I guess it is just Zenodo lag?).

[2020-11-05 20:09] kinow commented on #2791
Not yet, but I will open a draft pull request. We can discuss how to improve it. I didn't understand how to use all the options and settings, and for the `experiment.xml` I simply used the same one from JebRef modifying the system loaded.

I've created a draft PR: https://github.com/tobias-dv-lnu/s4rdm3x/pull/14

[2020-11-05 20:11] cMadan commented on #2506
"de Jonge, J." would be correct . You can use `{` and `}` around the last name to group together the two words.

[2020-11-05 20:52] lpantano commented on #1584
@olgabot, yes, I will update that when all changes have been done and reviewers don't have more comments. thanks!

[2020-11-05 21:07] kullrich commented on #2424
@whedon generate pdf

[2020-11-05 21:08] kullrich commented on #2424
10.5281/zenodo.4247942

[2020-11-05 21:08] whedon commented on #2424
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02424/joss.02424/10.21105.joss.02424.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02424/joss.02424/10.21105.joss.02424.pdf) :page_facing_up: :point_left:

[2020-11-05 21:13] Kevin-Mattheus-Moerman commented on #2704
@ablaom please do complete affiliations to at least include country.

[2020-11-05 21:17] whedon opened #2819 "[PRE REVIEW]: AltaiPony - Flare science in Kepler, K2 and TESS light curves"
**Submitting author:** @ekaterinailin (<a href="http://orcid.org/0000-0002-6299-7542">Ekaterina Ilin</a>)
**Repository:** <a href="https://github.com/ekaterinailin/AltaiPony" target ="_blank">https://github.com/ekaterinailin/AltaiPony</a>
**Version:** v1.0
**Editor:** @dfm
**Reviewers:** @afeinstein20, @mrtommyb
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

[2020-11-05 21:17] whedon commented on #2819
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-05 21:18] whedon commented on #2819
PDF failed to compile for issue #2819 with the following error:

 Can't find any papers to compile :-(

[2020-11-05 21:18] whedon commented on #2819
[code]

[2020-11-05 21:20] Kevin-Mattheus-Moerman commented on #2819
@whedon generate pdf from branch josspaper

[2020-11-05 21:20] whedon commented on #2819
[code]

[2020-11-05 21:21] whedon commented on #2819
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02819/joss.02819/10.21105.joss.02819.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02819/joss.02819/10.21105.joss.02819.pdf) :page_facing_up: :point_left:

[2020-11-05 21:23] Kevin-Mattheus-Moerman commented on #2819
@ekaterinailin thanks for this submission. I'll be helping to find a handling editor.

I the mean time, can you clarify if this submission is associated with an AAS paper?

[2020-11-05 21:23] Kevin-Mattheus-Moerman commented on #2819
@dfm @harpolea @arfon @xuanxu could one of you handle this submission?

[2020-11-05 21:34] lpantano commented on #1584
@rbatorsky, thank you! manual tests are ok as far as they work. In this case, probably it would be the example server. I think here, it would be this part: https://sodar-core.readthedocs.io/en/latest/for_the_impatient.html, if that tutorial works, I think we could check that box. Thank you!

[2020-11-05 21:36] Kevin-Mattheus-Moerman commented on #2319
@sebdalgarno after further review we decided this work is in scope for JOSS. We will now proceed to find an editor to handle this submission.

[2020-11-05 21:39] pdebuyl commented on #2785
Thank you for the reply @jordanperr . We have documentation for authors / reviewers / editors at https://joss.readthedocs.io/en/latest/index.html

The high-level view is this: when we have two reviewers, I start the review. There will be a new github issue with the checklist and a link to the instructions. The issue page serves as the communication channel for all involved and I'll be available to

[2020-11-05 21:41] pdebuyl commented on #2811
@Kevin-Mattheus-Moerman I just picked pysensors. If nobody takes this next week I can do it as well.

[2020-11-05 21:43] 62442katieb commented on #2692
Hi @marcosvital & @Manolomon! Apologies for the delay. I am able to finish up my review in the coming week, but have had some permissions issues installing the package on my university-issued laptop. Will follow up in the coming days. Thanks!

[2020-11-05 21:44] lockepatton commented on #2446
Hi everyone,

Apologies for being slow in addressing these changes, and thanks for the reminder @arfon. I've made a commit on the last remaining issue. If the changes I've committed there are sufficient, we can unpause the review.

I'm going to make this a priority this week and the next so we can finish this submission. Thanks.

[2020-11-05 21:44] Kevin-Mattheus-Moerman commented on #2319
@KristinaRiemer @marcosvital @luizirber can one of you handle this submission? Thanks

[2020-11-05 21:51] dfm commented on #2819
Sure - I'm happy to edit this one!

[2020-11-05 21:51] dfm commented on #2819
@whedon assign @dfm as editor

[2020-11-05 21:51] whedon commented on #2819
OK, the editor is @dfm

[2020-11-05 21:52] holtgrewe commented on #1584
I'm happy to clarify that there *are* automated unit tests:

- https://travis-ci.org/github/bihealth/sodar_core/branches

The `dev` branch has some issues and probably needs an update of the chrome driver (*sigh* the sad story of automated web testing these days...). However the `master` branch builds nicely.

Cheers,
Manuel

[2020-11-05 21:55] Kevin-Mattheus-Moerman commented on #2407
Thanks @kbarnhart. I reviewed the paper and all looks good.

[2020-11-05 21:55] ablaom commented on #2704
No problem, will do.

[2020-11-05 21:55] Kevin-Mattheus-Moerman commented on #2407
@whedon accept deposit=true

[2020-11-05 21:55] whedon commented on #2407
[code]

[2020-11-05 21:55] kakiac commented on #2408
@arfon Many thanks will keep that in mind 😄

@Kuifje02, in the meantime, could you merge these last minor citation changes:

- https://github.com/Kuifje02/vrpy/pull/68
- https://github.com/Kuifje02/vrpy/pull/67

After that, can you please:
 - make a tagged release (on github) and
 - archive (on Zenodo or Figshare), and
 - report the tagged version number and archive DOI in this review thread.

[2020-11-05 21:56] whedon commented on #2407
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1324470724812300289) 👈 🐦🐦🐦

[2020-11-05 21:56] whedon commented on #2407
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1896
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02407](https://doi.org/10.21105/joss.02407)
2. If everything looks g

[2020-11-05 21:59] pmkruyen commented on #2506
@whedon generate pdf

[2020-11-05 21:59] whedon commented on #2506
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02506/joss.02506/10.21105.joss.02506.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02506/joss.02506/10.21105.joss.02506.pdf) :page_facing_up: :point_left:

[2020-11-05 22:00] ablaom commented on #2704
@whedon generate pdf

[2020-11-05 22:01] 62442katieb commented on #2692
In the mean time, I have a few small comments regarding the paper:
- In the *Summary*, the authors should consider switching mentioning ethology as "behavioral analysis" and "behavioral science" are broad, nonspecific terms, and specifying their scope would be helpful in introducing the tool.
- The authors should provide a description how this task is currently performed, in addressing the "state

[2020-11-05 22:01] whedon commented on #2704
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02704/joss.02704/10.21105.joss.02704.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02704/joss.02704/10.21105.joss.02704.pdf) :page_facing_up: :point_left:

[2020-11-05 22:01] kakiac commented on #2405
Yes, no worries it worked for me just now, I think it takes some time to get registered in the doi database, I think. Thanks for doing that!

[2020-11-05 22:03] kakiac commented on #2405
Oh apologies! I thought I needed to get that tagged if accepted by reviewers! Will bear that in mind in the future!

[2020-11-05 22:04] ablaom commented on #2704
@whedon generate pdf

[2020-11-05 22:04] pmkruyen commented on #2506
@whedon generate pdf

[2020-11-05 22:05] whedon commented on #2704
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02704/joss.02704/10.21105.joss.02704.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02704/joss.02704/10.21105.joss.02704.pdf) :page_facing_up: :point_left:

[2020-11-05 22:05] arfon commented on #2446
Thanks @lockepatton - for clarity could you link to the _"commit on the last remaining issue"_ here so we can direct the reviewers back to this?

Also, both reviewers asked for clarification on the relationship with other related community efforts. A writeup of any outcomes/updates here from your perspective would be important before we un-pause this submission.

[2020-11-05 22:05] whedon commented on #2506
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02506/joss.02506/10.21105.joss.02506.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02506/joss.02506/10.21105.joss.02506.pdf) :page_facing_up: :point_left:

[2020-11-05 22:06] pmkruyen commented on #2506
@cMadan, thanks! Yes, that's the APA style. Let me know if there are any other issues. Peter

[2020-11-05 22:06] artgoldberg commented on #2685
Thanks @danielskatz
I will do that. I'm also cleaning up a few things in the repo, such as making sure that all version numbers and publication dates are correct, and addressing a suggestions @yadudoc made in [issue #63](https://github.com/KarrLab/de_sim/issues/63).

[2020-11-05 22:11] ablaom commented on #2704
@Kevin-Mattheus-Moerman Done.

[2020-11-05 22:22] kakiac commented on #2461
@whedon generate pdf

[2020-11-05 22:22] whedon commented on #2461
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02461/joss.02461/10.21105.joss.02461.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02461/joss.02461/10.21105.joss.02461.pdf) :page_facing_up: :point_left:

[2020-11-05 22:23] sadielbartholomew commented on #2766
Hi, I can start my review in earnest shortly, so can I just check that the state of the repository and of the paper has stabilised now in terms of changes made resulting from feedback from the first review, @znicholls ?

It's been a few days since any activity (at least as indicated on this thread) so it seems likely, but think it best to check to avoid starting the review and have some change go

[2020-11-05 22:23] lpantano commented on #1584
That really helps, thank you. @rbatorsky let us know.

[2020-11-05 22:27] sadielbartholomew commented on #2597
Really sorry for the further delay, I am having to co-manage an urgent operational infrastructure situation. I should have some time to review this later tonight and tomorrow so can complete my review by Saturday morning (UK time).

[2020-11-05 22:31] znicholls commented on #2766
Yep I've just merged everything into master and will get whedon to recompile now. Thanks for checking and reviewing!

[2020-11-05 22:31] znicholls commented on #2766
@whedon generate pdf

[2020-11-05 22:32] whedon commented on #2766
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02766/joss.02766/10.21105.joss.02766.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02766/joss.02766/10.21105.joss.02766.pdf) :page_facing_up: :point_left:

[2020-11-05 22:40] kakiac commented on #2461
Thanks @chainsawriot! On the basis of at least two reviewers having ticked their checklists and the quality of the submission, I am happy to accept the paper, and proceed with the next steps. Can you please:
 - make a tagged release (on github) and
 - archive (on Zenodo or Figshare), and
 - report the tagged version number and archive DOI in this review thread.

Let me know if you need any help wi

[2020-11-05 23:04] Manolomon commented on #2692
Hello @62442katieb, thank you for your comments. My coauthors and I are going to address them in the next commit and mention it here. Regarding the tool, feel free to ask for assistance if needed. Regards!

[2020-11-05 23:07] kakiac commented on #2708
👋🏼  @akbaritabar, @marcjwilliams1 many thanks for your reviews and comprehensive comments.

@ysohn can you please start addressing the reviewers' comments? I will be creating issues in your repo from @akbaritabar's comments to help us keep track of the comments to be addressed 😄

@martinmodrak I see that you have not checked any of your checklist items - can you edit it or are you having similar p

[2020-11-05 23:08] kakiac commented on #2708
@whedon re-invite @martinmodrak as reviewer

[2020-11-05 23:08] whedon commented on #2708
@martinmodrak already has access.

[2020-11-05 23:15] oeco28 commented on #2790
Dude!!
  All good! Staying safe. How are you? Long time no see! Let me see. Do you
mind if I take a look at the review process. when do you need it? I have
three kids under 6 at home and everything takes a bit longer than usual!

big hugs
Omar

On Wed, Nov 4, 2020 at 12:17 PM Mark Jensen <notifications@github.com>
wrote:

--
Omar E. Cornejo, PhD
Associate Professor,
School of Biological Sciences
W

[2020-11-05 23:26] WilkAndy commented on #2176
I think i've addressed all comments and this can be published

[2020-11-05 23:59] ekaterinailin commented on #2819
No, it is not associated with an AAS paper.

Working up from the bottom of the reviewers list for suggestions: dflemin3, christinahedges

[2020-11-06 01:28] Xunius commented on #2407
@kbarnhart @rabernat @sadielbartholomew Before this gets closed, I'd like to thank all of you for your help in improving this little project. I learned a lot during the process.

[2020-11-06 03:18] briandesilva commented on #2785
@whedon generate pdf

[2020-11-06 03:19] whedon commented on #2785
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02785/joss.02785/10.21105.joss.02785.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02785/joss.02785/10.21105.joss.02785.pdf) :page_facing_up: :point_left:

[2020-11-06 03:20] briandesilva commented on #2785
@pdebuyl, I just pushed the changes you requested. Please let me know if the DOIs aren't formatted the way you had in mind.

[2020-11-06 03:41] cMadan commented on #2506
@pmkruyen, the references are good now. I did notice that (1) the capitalisation of iPhone and iPad are inconsistent, and (2) the footnotes are not formatted in the PDF. See here (https://pandoc.org/MANUAL.html) for syntax to try. Please do also read over the text carefully in case there's anything else I missed.

[2020-11-06 07:18] ysohn commented on #2708
@akbaritabar, @marcjwilliams1 Thank you so much for your reviews!

@kakiac We will address the issues shortly and commit on github starting next week. Thank you!

[2020-11-06 08:35] whedon commented on #2407
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02407/status.svg)](https://doi.org/10.21105/joss.02407)

**We need your help!**

Journal of Open Source Softwa

[2020-11-06 08:36] arfon commented on #2407
@Xunius - see Whedon's guidance above on how to add the DOI to your readme :join

[2020-11-06 08:36] Kuifje02 commented on #2408
https://github.com/Kuifje02/vrpy/releases/tag/0.3.0

https://zenodo.org/record/4248877

[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.4248877.svg)](https://doi.org/10.5281/zenodo.4248877)

[2020-11-06 08:37] #2407 closed

[2020-11-06 08:37] whedon commented on #2407
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02407/status.svg)](https://doi.org/10.21105/joss.02407)

**We need your help!**

Journal of Open Source Softwa

[2020-11-06 09:21] tpurcell90 commented on #2671
@ajjackson I might be able to help out with the mongodb installation, I never used Podman before, but I have set up the mongodb stuff for FHI-vibes.

[2020-11-06 10:01] xuanxu commented on #2789
@zonca would you be willing to review this paper? I think your knowledge of Cosmology and Python makes you a great fit for this submission.

[2020-11-06 10:23] martinmodrak commented on #2708
Sorry for not being active, some life stuff was happening. I'll have my review ready by Monday.

[2020-11-06 10:26] sambitdash commented on #2749
Software paper reviewed and looks reasonable.

[2020-11-06 10:45] sambitdash commented on #2749
On the software documentation, a lot is lacking. It's not very clear what is the system all about. Why should someone use the library? It assumes prior knowledge but that cannot be expected of a software. If there is a prereq to be read before working on the library then that should be explained. There is a sample PDF file given to try the example, but generally a lot is not clear to me from the l

[2020-11-06 12:07] bradkav commented on #2734
Sorry for the slow reply. I see that Suchita has already accepted, but if you still need another reviewer, I'd be happy to do it. Let me know :)

[2020-11-06 13:43] jorgensd commented on #2687
@whedon generate pdf

[2020-11-06 13:44] whedon commented on #2687
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02687/joss.02687/10.21105.joss.02687.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02687/joss.02687/10.21105.joss.02687.pdf) :page_facing_up: :point_left:

[2020-11-06 13:48] jorgensd commented on #2687
@krober10nd  As whedon is suggesting, you are missing the DOI of the Tournois paper in the references. The DOI is:  10.1007/978-3-642-04319-2_10

[2020-11-06 13:59] pdebuyl commented on #2785
Thank you @briandesilva , apart from Karniadakis 2009 and Tao the references are fine and my other comments addressed.

[2020-11-06 13:59] hayesla commented on #2801
almost done!

[2020-11-06 14:06] krober10nd commented on #2687
@whedon check references

[2020-11-06 14:07] whedon commented on #2687
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "doi" (NAME) [#<BibTeX::Bibliography data=[20]>, "@", #<BibTeX::Entry >, {:title=>["Perturbing slivers in 3D Delaunay meshes"], :author=>["Tournois, Jane and Srinivasan, Rahul and Alliez, Pierre"], :booktitle=>["Proceedings of the 18th international meshing roundtable"], :pages=>["157--173"], :year=>["20

[2020-11-06 14:14] krober10nd commented on #2687
@whedon check references

[2020-11-06 14:15] whedon commented on #2687
[code]

[2020-11-06 14:44] pmkruyen commented on #2506
@whedon generate pdf

[2020-11-06 14:45] whedon commented on #2506
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02506/joss.02506/10.21105.joss.02506.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02506/joss.02506/10.21105.joss.02506.pdf) :page_facing_up: :point_left:

[2020-11-06 14:52] pmkruyen commented on #2506
@whedon generate pdf

[2020-11-06 14:53] whedon commented on #2506
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02506/joss.02506/10.21105.joss.02506.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02506/joss.02506/10.21105.joss.02506.pdf) :page_facing_up: :point_left:

[2020-11-06 14:54] pmkruyen commented on #2506
Hi @cMadan, thanks for the manual (it was unclear for me that I could do this, at the initial submission I had included a work around for the footnotes. I corrected this now. Also I corrected three typos and rephrased several sentences. Hope the text is ok now. Best, Peter

[2020-11-06 15:21] stsievert commented on #2785
I'll have to decline the review; I'm already on a different JOSS review and have limited bandwidth.

[2020-11-06 15:44] whedon commented on #2804
:wave: @johnjarmitage, please update us on how your review is going.

[2020-11-06 15:44] whedon commented on #2804
:wave: @cmshobe, please update us on how your review is going.

[2020-11-06 15:45] sbenthall commented on #2605
@gdede-hua I believe you are allowed to make changes in response to the reviews until the submission passes.

[2020-11-06 15:46] sbenthall commented on #2749
Thank you @sambitdash

@mossr I recommend you begin working to address the issues raised by this review.

[2020-11-06 15:49] sbenthall commented on #2730
@nniiicc Would you be able to review this submission?

[2020-11-06 15:50] sbenthall commented on #2730
@soodoku would you be able to review this submission?

[2020-11-06 15:51] kbarnhart commented on #2804
@johnjarmitage @cmshobe. Please disregard that message. I expected it to occur two weeks from when I set it (one third of the way into the review). Not sure why it occurred now (FYI @arfon)

[2020-11-06 15:51] kbarnhart commented on #2804
@whedon remind @johnjarmitage in 1 week

[2020-11-06 15:51] mossr commented on #2749
Hey @sambitdash and @sbenthall, thank you both for your input! I agree, documentation should be centralized. I've already started to write formal documentation and will have a completed version up this afternoon.

[2020-11-06 15:51] whedon commented on #2804
Reminder set for @johnjarmitage in 1 week

[2020-11-06 15:52] kbarnhart commented on #2804
@whedon remind @cmshobe in 1 week

[2020-11-06 15:52] whedon commented on #2804
Reminder set for @cmshobe in 1 week

[2020-11-06 15:52] kbarnhart commented on #2804
@whedon generate pdf

[2020-11-06 15:52] kbarnhart commented on #2804
@whedon check references

[2020-11-06 15:53] whedon commented on #2804
[code]

[2020-11-06 15:54] whedon commented on #2804
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02804/joss.02804/10.21105.joss.02804.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02804/joss.02804/10.21105.joss.02804.pdf) :page_facing_up: :point_left:

[2020-11-06 16:45] sachsmc commented on #2816
Hi @PatrickRWright ,

I noted a few small issues with the documentation and the software paper in issues 225 and 226 on your repo:

https://github.com/SwissClinicalTrialOrganisation/secuTrialR/issues/225
https://github.com/SwissClinicalTrialOrganisation/secuTrialR/issues/226

Otherwise the package looks and works great!

Best wishes,

Michael

[2020-11-06 16:53] usethedata commented on #2768
@richardjgowers 👋   Can you post when you'll be in a position to work on this review?

@foeroyingur -- Thanks for your work so far.

[2020-11-06 16:57] usethedata commented on #2483
@crangelsmith @nbarlowATI  I believe @arbennett is referring to https://github.com/alan-turing-institute/monitoring-ecosystem-resilience/issues/367, which is still showing open, but I see a note that it was moved to Done on September 18th. But, given that @arbennett commented on seeing this issue recently, it doesn't feel closed.  Can you help me understand what's going on?  Thanks much.

[2020-11-06 17:13] usethedata commented on #2806
Update.   Decline and no response on my first request.  Sending some additional reviewer requests.  Some do this through tagging on the issue, but I prefer, when possible, to do so by email based on my perspectives around privacy.

[2020-11-06 17:17] jGaboardi commented on #2806
Thanks for the update. Let me know if there is anything I can do.

[2020-11-06 17:51] samaloney commented on #2801
still working on it

[2020-11-06 18:00] KshitijAggarwal commented on #2750
@pravirkr, thanks for the issues. We have addressed those from our end, feel free to take a look and close them.

[2020-11-06 18:40] pibion commented on #2693
@mwcraig have @hemanthpruthvi's changes to the README satisfied the installation requirement, in your view?

[2020-11-06 18:44] pibion commented on #2693
@whedon generate pdf

[2020-11-06 18:45] whedon commented on #2693
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02693/joss.02693/10.21105.joss.02693.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02693/joss.02693/10.21105.joss.02693.pdf) :page_facing_up: :point_left:

[2020-11-06 18:48] pibion commented on #2764
@frigaut, do you expect to have time to start this review in the next few weeks?

[2020-11-06 18:51] artgoldberg commented on #2685
Hi @danielskatz
What publication date should I put in the `paper.md` file?

[2020-11-06 19:00] danielskatz commented on #2685
It's not really a publication date, more a "written on" data, so I would say today :)

[2020-11-06 19:05] mwcraig commented on #2693
Yes, given the special installation situation here.

[2020-11-06 19:20] pibion commented on #2693
Hi @hemanthpruthvi  it looks like we're nearly ready to publish.  I'm reading over the paper and have a few comments.  I haven't finished reading the paper yet but wanted to get these to you quickly, I'm expecting to finish a bit later today!

## Questions about the paper.
- You say, "It can be easily distributed along with the polarization calibration routines."  It's not clear what "the polariza

[2020-11-06 19:23] kthyng commented on #2813
@whedon generate pdf from branch josspaper

[2020-11-06 19:23] whedon commented on #2813
[code]

[2020-11-06 19:24] whedon commented on #2813
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02813/joss.02813/10.21105.joss.02813.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02813/joss.02813/10.21105.joss.02813.pdf) :page_facing_up: :point_left:

[2020-11-06 19:25] artgoldberg commented on #2685
Thanks!

[2020-11-06 20:23] kthyng commented on #2405
@kakiac Your list looks correct now! Thanks!

[2020-11-06 20:33] whedon opened #2820 "[PRE REVIEW]: h5fortran: object-oriented polymorphic Fortran interface for HDF5 file IO"
**Submitting author:** @scivision (<a href="http://orcid.org/0000-0002-1637-6526">Michael Hirsch</a>)
**Repository:** <a href="https://github.com/geospace-code/h5fortran" target ="_blank">https://github.com/geospace-code/h5fortran</a>
**Version:** v3.4.1
**Editor:** @pdebuyl
**Reviewers:** @milancurcic, @bast
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Du