[2020-10-12 22:17] #2716 closed

[2020-10-12 22:17] whedon commented on #2743
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @raivivek, @dwinter it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2020-10-12 22:17] whedon commented on #2743
[code]

[2020-10-12 22:18] whedon commented on #2743
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02743/joss.02743/10.21105.joss.02743.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02743/joss.02743/10.21105.joss.02743.pdf) :page_facing_up: :point_left:

[2020-10-12 22:21] melissawm commented on #2711
Thank you both, @JamieJQuinn and @zhaowei0566 ! It would indeed be ideal to have at least 2 reviewers, so if both of you can do it we are set. I will now assign you both as reviewers, close this Pre-Review issue and direct you all and @kfhiga to a new Review issue, where the actual review work will take place. If you have any questions please let me know, thanks!

[2020-10-12 22:21] melissawm commented on #2711
@whedon assign @JamieJQuinn as reviewer

[2020-10-12 22:21] whedon commented on #2711
OK, @JamieJQuinn is now a reviewer

[2020-10-12 22:21] melissawm commented on #2711
@whedon add @zhaowei0566 as reviewer

[2020-10-12 22:21] whedon commented on #2711
OK, @zhaowei0566 is now a reviewer

[2020-10-12 22:22] melissawm commented on #2711
@whedon start review

[2020-10-12 22:22] whedon opened #2744 "[REVIEW]: PyGDH ("pigged"): Python Grid Discretization Helper"
**Submitting author:** @kfhiga (<a href="http://orcid.org/0000-0003-4866-0748">Kenneth Higa</a>)
**Repository:** <a href="https://bitbucket.org/berkeleylab/esdr-pygdh/" target ="_blank">https://bitbucket.org/berkeleylab/esdr-pygdh/</a>
**Version:** 0.4.3
**Editor:** @melissawm
**Reviewer:** @JamieJQuinn, @zhaowei0566
**Archive:** <a href="https://doi.org/10.5281/zenodo.4556303" target="_blank">10.

[2020-10-12 22:22] whedon commented on #2711
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2744.

[2020-10-12 22:22] #2711 closed

[2020-10-12 22:22] whedon commented on #2744
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @JamieJQuinn, @zhaowei0566 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](ht

[2020-10-12 22:22] whedon commented on #2744
[code]

[2020-10-12 22:22] whedon commented on #2744
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02744/joss.02744/10.21105.joss.02744.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02744/joss.02744/10.21105.joss.02744.pdf) :page_facing_up: :point_left:

[2020-10-12 22:22] sultanier commented on #2582
thanks @steven-murray

for the CLI command, I was't sure how to run it because there was no detailed config file and the required parameter list was not mentioned. I will try again once you add a detailed config file. Let me know once you finish adding/implementing these suggestions/comments, so I can double check them for the last time before finishing up my checklist. thanks.

[2020-10-12 22:25] henrykironde commented on #2704
@terrytangyuan, what do you think about the paper length submitted

[2020-10-12 22:25] melissawm commented on #2744
👋🏼 @kfhiga @jamiejquinn @zhaowei0566 this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from mo

[2020-10-12 22:29] steven-murray commented on #2582
@sultanier all the comments have been address in the current master (there are some formatting issues with the hyperlinks in the readme which are being addressed in a PR, but these shouldn't hamper your checks). The performance information to go into the paper itself is still a work in progress.

[2020-10-12 22:37] kfhiga commented on #2744
@melissawm <https://github.com/melissawm> @JamieJQuinn
<https://github.com/JamieJQuinn> @zhaowei0566
<https://github.com/zhaowei0566> Thank you all for your time!
Kenny

On Mon, Oct 12, 2020 at 3:25 PM Melissa Weber Mendonça <
notifications@github.com> wrote:

[2020-10-12 22:50] mtsch commented on #2614
Done.

[2020-10-12 23:56] kellykochanski commented on #2721
@KristinaRiemer I can't edit the checklist (despite logging in and accepting the invitation, as suggested) - can you make sure I'm added?

[2020-10-13 00:02] ablaom commented on #2704
@henrykironde Thank you for taking the time to review this software and for the
helpful feedback.

I'm am copying my co-authors in case they wish to make additional comments.

@tlienart @vollmersj @darenasc @fkiraly

---

Anyone making significant contribution to the design of the software.

Done.

It would be good to know if there's some flexibility here. This is a
relatively large collection of

[2020-10-13 00:07] ablaom commented on #2704
@degleris1 Thank you for taking the time to review this software and for the
positive feedback.

I'm am copying my co-authors in case they wish to make additional comments.

@tlienart @vollmersj @darenasc @fkiraly

---

See my preceding comment about github pages being the landing page for general users. Also, the lightning tour at top of landing page now includes installation instructions.

Good

[2020-10-13 00:12] ablaom commented on #2512
I could do this by mid November, if that is agreeable.

[2020-10-13 00:17] terrytangyuan commented on #2704
@openjournals/joss-eics Is there any requirement on the length of the JOSS paper?

[2020-10-13 00:23] danielskatz commented on #2704
yes, see https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain

we typically are somewhat flexible on the upper bound - but this paper is too long. Detailed content should be in the documentation, not the paper.  The paper is not the user guide.

[2020-10-13 00:25] ramadatta commented on #2473
We ate thoroughly impressed with JOSS editors and review process.

We are very thankful to @fmaguire @boasvdp and @will-rowe for comprehensive reviews and guidance.

[2020-10-13 00:27] kellykochanski commented on #2721
@whedon generate pdf from branch joss-article

[2020-10-13 00:27] whedon commented on #2721
[code]

[2020-10-13 00:29] whedon commented on #2721
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02721/joss.02721/10.21105.joss.02721.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02721/joss.02721/10.21105.joss.02721.pdf) :page_facing_up: :point_left:

[2020-10-13 02:10] kellykochanski commented on #2721
@KristinaRiemer  I still can't edit the checklist - either I'm missing something simple or it's a bug. I'm definitely logged in, I did accept the invitation (although if I click the link now, it's no longer available - says either the invitation was revoked or I'm in the wrong account?). I've tried both chrome and firefox.

[2020-10-13 02:14] kellykochanski commented on #2721
@FrancisBanville Thanks for submitting a well-written paper and test-covered code repository! I'm ready to approve you on many of the review criteria once I get the checklist working. However, I am also collecting a few questions and issues. These are raised on your repository as issues 166-168:

https://github.com/EcoJulia/EcologicalNetworks.jl/issues/166 - authorship
https://github.com/EcoJulia/

[2020-10-13 02:18] danielskatz commented on #2721
Let's try again

[2020-10-13 02:18] danielskatz commented on #2721
@whedon re-invite @kellykochanski as reviewer

[2020-10-13 02:18] whedon commented on #2721
OK, the reviewer has been re-invited.

@kellykochanski please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-10-13 02:20] kellykochanski commented on #2721
@danielskatz Thank you! It's working now.

[2020-10-13 06:32] sjpfenninger commented on #2735
@whedon assign @sjpfenninger as editor

[2020-10-13 06:33] whedon commented on #2735
OK, the editor is @sjpfenninger

[2020-10-13 06:36] csoneson commented on #2706
👋 @emilydolson - could you update us on how your review is progressing?

[2020-10-13 06:37] sjpfenninger commented on #2677
Thanks @willu47 for your careful review!

[2020-10-13 06:53] sjpfenninger commented on #2735
@konstantinstadler 👋 Would you be willing to review this submission to JOSS?

[2020-10-13 06:54] sjpfenninger commented on #2735
@GustaveCoste Thanks for your submission! It looks like there are two broken references in the PDF (and a typo next to one of them: "inteface"). Can you fix those?

[2020-10-13 07:19] pdebuyl commented on #2494
@yuxiang-gao I am pausing the review. I will not remind you or the reviewers of it.

[2020-10-13 07:57] konstantinstadler commented on #2735
Hi, happy to do the review, but can only do that next week.

[2020-10-13 08:23] oliviaguest commented on #2675
@whedon generate pdf

[2020-10-13 08:23] whedon commented on #2675
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02675/joss.02675/10.21105.joss.02675.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02675/joss.02675/10.21105.joss.02675.pdf) :page_facing_up: :point_left:

[2020-10-13 08:39] aquilesC commented on #2693
@pibion and @hemanthpruthvi , I am in the middle of the review. I strongly suggest, as @caldarolamartin points out, to create requirement files and a setup file. This will make life much easier for other users. Sorry for the self-promotion, I've written a guide on setup files [here](https://www.pythonforthelab.com/blog/how-create-setup-file-your-project/), and a very short introduction to virtual

[2020-10-13 09:47] aquilesC commented on #2693
I have reviewed the paper. I have noted a lot of comments that can be used by the author to improve the quality of the code and the paper but that do not impact directly the decision of whether the program is ready to be published. However, there is a (short) list of issues at the bottom of this message that must be addressed in order to make the work, in my opinion, ready to be published.

## The

[2020-10-13 09:49] richardjgowers commented on #2576
@whedon generate pdf

[2020-10-13 09:49] whedon commented on #2576
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02576/joss.02576/10.21105.joss.02576.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02576/joss.02576/10.21105.joss.02576.pdf) :page_facing_up: :point_left:

[2020-10-13 11:14] CJMvS commented on #2742
Thank you for the update @danielskatz.
I managed to successfully compile the .md file.

[2020-10-13 11:32] hemanthpruthvi commented on #2693
@aquilesC  Thank you very much for the thorough review and the valuable comments, I am working on addressing them. Meanwhile, I want to quickly address the issue regarding the **Material Licenses**. If I understand correctly, there are two issues.
1. Can the Material files be re-distributed, according to their existing licensing?
2. If so, can they be re-distributed under MIT license?

For issue 1

[2020-10-13 11:45] timtroendle commented on #2715
@openjournals/joss-eics Yes, I can edit this submission.

[2020-10-13 12:20] samuelduchesne commented on #2637
Thank you @tylunel for addressing these comments. I have nothing to add 😀

[2020-10-13 12:43] danielskatz commented on #2715
Thanks @timtroendle - when you are willing to edit, you can do what I'm going to do next, then get started (you can also replace your github name by me, as ```@whedon assign me as editor``` - you don't need to wait for the AEiC to assign you

[2020-10-13 12:43] danielskatz commented on #2715
@whedon assign @timtroendle as editor

[2020-10-13 12:43] whedon commented on #2715
OK, the editor is @timtroendle

[2020-10-13 13:04] aquilesC commented on #2693
@hemanthpruthvi I have seen the license of refractiveindex.info, but I am not sure whether the author is actually entitled to re-distribute the data under a CC0 license. It would, for example, eliminate the citation to the original work with the real measurements. The sources of the website are papers not published under open access and I haven't seen information on APS regarding the distribution

[2020-10-13 13:19] gkthiruvathukal commented on #2481
@whedon commands

[2020-10-13 13:19] whedon commented on #2481
Here are some things you can ask me to do:

[code]

[2020-10-13 13:21] gkthiruvathukal commented on #2481
@whedon set v1.0.7 as version

[2020-10-13 13:21] whedon commented on #2481
OK. v1.0.7 is the version.

[2020-10-13 13:21] gkthiruvathukal commented on #2481
@whedon set 10.5281/zenodo.4081416 as archive

[2020-10-13 13:21] whedon commented on #2481
OK. <a href="https://doi.org/10.5281/zenodo.4081416" target="_blank">10.5281/zenodo.4081416</a> is the archive.

[2020-10-13 13:23] gkthiruvathukal commented on #2481
@openjournals/joss-eics  Ok, we're all set to move forward with accepting this JOSS submission.

[2020-10-13 13:37] danielskatz commented on #2481
@gkthiruvathukal - the next step is for you to do a ```@whedon accept``` and make sure everything looks good, then tell @openjournals/joss-eics

[2020-10-13 14:24] KristinaRiemer commented on #2424
Hi @kullrich, how's it going? Do you have an idea of when you'll have a chance to address these changes?

[2020-10-13 14:27] KristinaRiemer commented on #2575
Hi @r-barnes & @mccabete. Have you been able to create and use your guest accounts? I only see issues from @holukas in the repository.

[2020-10-13 14:53] timtroendle commented on #2715
👋 @wrathematics, @crew102, @matloff, would any of you be willing to review this submission for JOSS?

[2020-10-13 15:05] KristinaRiemer commented on #2424
Sounds good! Let me know if I can help in any way.

[2020-10-13 15:06] prdm0 commented on #2715
Dear @timtroendle , I liked your choices. Kind, regards.

[2020-10-13 15:18] nwu63 commented on #2564
@whedon generate pdf from branch paper

[2020-10-13 15:18] whedon commented on #2564
[code]

[2020-10-13 15:19] whedon commented on #2564
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02564/joss.02564/10.21105.joss.02564.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02564/joss.02564/10.21105.joss.02564.pdf) :page_facing_up: :point_left:

[2020-10-13 15:44] AlexMikes commented on #2362
Ok, how about @nnadeau or @srmnitc?

[2020-10-13 15:48] matloff commented on #2715
Unfortunately, I have only a passing familiarity with OpenBLAS, simply as a user, and don't feel qualified to review papers on it.

Norm

On Tue, Oct 13, 2020 at 07:53:40AM -0700, Tim Tröndle wrote:

[2020-10-13 15:52] lskatz commented on #2334
Hi, I apologize for how long this took but we have a multistage Docker build.  Hopefully this makes the review much easier from here on out.  This container was tested only for the default workflow.  Please let us know if we need to do something more thorough.  Thanks to @kapsakcj once again for helping the containers efforts so much.

These changes are reflected in version 0.14.2

* https://githu

[2020-10-13 16:05] gkthiruvathukal commented on #2362
@nnadeau and @srmnitc, are either of you willing to serve as a reviewer for this JOSS submission? Would really appreciate your help!

[2020-10-13 16:12] zingale commented on #2513
sorry... I lost track on things for a bit.  I'll do this now.

[2020-10-13 16:18] zingale commented on #2513
Here's a Zenodo DOI for a tagged release:
https://zenodo.org/record/4085328

[2020-10-13 16:19] gkthiruvathukal commented on #2481
Thanks, @danielskatz. I think we're ready to go here!  I am still classically conditioned to my "early days" of JOSS where I wasn't doing the whedon accept.

[2020-10-13 16:19] zingale commented on #2513
sorry, that was the zenodo record
Here's the DOI: 10.5281/zenodo.4085328

[2020-10-13 16:20] gkthiruvathukal commented on #2481
@whedon accept

[2020-10-13 16:20] whedon commented on #2481
[code]

[2020-10-13 16:20] whedon commented on #2481
PDF failed to compile for issue #2481 with the following error:

 Can't find any papers to compile :-(

[2020-10-13 16:31] tuelwer commented on #2481
@gkthiruvathukal I think you have to add `from branch joss-submission`. 👍

[2020-10-13 16:41] gkthiruvathukal commented on #2481
Thank you, @tuelwer!
The problem is that was triggered by the whedon accept. I'm pretty sure your paper is building fine but can do it again.

[2020-10-13 16:41] gkthiruvathukal commented on #2481
@whedon generate pdf from branch joss-submission

[2020-10-13 16:41] whedon commented on #2481
[code]

[2020-10-13 16:42] whedon commented on #2481
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02481/joss.02481/10.21105.joss.02481.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02481/joss.02481/10.21105.joss.02481.pdf) :page_facing_up: :point_left:

[2020-10-13 16:47] symmy596 commented on #2709
@richardjgowers thank you and no problem. Would you like me to update the paper now or as part of the review?

[2020-10-13 16:50] kbarnhart commented on #2637
@robinroche and @samuelduchesne thank you for your thoughtful comments and timely review. @tylunel thank you for responding to the reviewer comments.

Now that the reviewers have completed the checklist and recommended publication the next step is that I will do a final proofreading step on the publication (I may make a PR or just provide a list). This will happen in the next few days. Once that i

[2020-10-13 16:56] kbarnhart commented on #2585
@elbeejay it looks like you and co-authors are making great progress addressing the reviewer comments in the source repository. I wanted to check in and see if you had any questions for me.

At this stage of the JOSS review process, we (editor, reviewers) typically just wait for the submitting authors to address any outstanding issues and provided feedback as needed. It looks like you and @gassmoe

[2020-10-13 17:06] danielskatz commented on #2481
@whedon accept from branch joss-submission

[2020-10-13 17:06] whedon commented on #2481
[code]

[2020-10-13 17:06] whedon commented on #2481
[code]

[2020-10-13 17:09] elbeejay commented on #2585
Thanks for reaching out @kbarnhart. We've been putting together a PR that should address the bulk of the review comments, just double and triple checking it on our end before we merge and respond to the various issues that were opened.

[2020-10-13 17:10] danielskatz commented on #2481
Looks good to me

[2020-10-13 17:10] danielskatz commented on #2481
@whedon accept deposit=true from branch joss-submission

[2020-10-13 17:11] whedon commented on #2481
[code]

[2020-10-13 17:12] whedon commented on #2481
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1316064197223088129) 👈 🐦🐦🐦

[2020-10-13 17:12] whedon commented on #2481
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1808
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02481](https://doi.org/10.21105/joss.02481)
2. If everything looks g

[2020-10-13 17:13] kbarnhart commented on #2585
Sounds good @elbeejay. If things arise where I can provide guidance and or support, please let me know.

[2020-10-13 17:15] danielskatz commented on #2481
Congratulations to  @99991 (Thomas Germer), @tuelwer & co-authors!!

Thanks for editing @gkthiruvathukal and for reviewing to @ziatdinovmax & @macrocosme!

[2020-10-13 17:15] #2481 closed

[2020-10-13 17:15] whedon commented on #2481
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02481/status.svg)](https://doi.org/10.21105/joss.02481)

**We need your help!**

Journal of Open Source Softwa

[2020-10-13 17:17] whedon opened #2745 "[PRE REVIEW]: ExoTETHyS II: SAIL on a TRIP with BOATS"
**Submitting author:** @gmorello (<a href="http://orcid.org/0000-0002-4262-5661">Giuseppe Morello</a>)
**Repository:** <a href="https://github.com/ucl-exoplanets/ExoTETHyS" target ="_blank">https://github.com/ucl-exoplanets/ExoTETHyS</a>
**Version:** v2.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the chal

[2020-10-13 17:17] whedon opened #2746 "[PRE REVIEW]: kalepy: a python package for kernel density estimation and sampling"
**Submitting author:** @lzkelley (<a href="http://orcid.org/0000-0002-6625-6450">Luke Zoltan Kelley</a>)
**Repository:** <a href="https://github.com/lzkelley/kalepy" target ="_blank">https://github.com/lzkelley/kalepy</a>
**Version:** v1.0
**Editor:** @arfon
**Reviewers:** @williamjameshandley, @kexinrong
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to t

[2020-10-13 17:17] whedon commented on #2746
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-13 17:18] whedon opened #2747 "[PRE REVIEW]: Terrain Shading: a module for analytical terrain visualisation in QGIS"
**Submitting author:** @zoran-cuckovic (<a href="http://orcid.org/0000-0001-7626-4086">Zoran Čučković</a>)
**Repository:** <a href="https://github.com/zoran-cuckovic/QGIS-terrain-shading" target ="_blank">https://github.com/zoran-cuckovic/QGIS-terrain-shading</a>
**Version:** 0.4
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warn

[2020-10-13 17:18] whedon commented on #2747
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-13 17:18] whedon commented on #2745
Failed to discover a `Statement of need` section in paper

[2020-10-13 17:18] whedon commented on #2745
[code]

[2020-10-13 17:18] whedon opened #2748 "[PRE REVIEW]: Controlling video stimuli in sign language and gesture research: The OpenPoseR package for analyzing OpenPose motion tracking data in R"
**Submitting author:** @trettenbrein (<a href="http://orcid.org/0000-0003-2233-6720">Patrick C. Trettenbrein</a>)
**Repository:** <a href="https://github.com/trettenbrein/OpenPoseR" target ="_blank">https://github.com/trettenbrein/OpenPoseR</a>
**Version:** v1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the

[2020-10-13 17:18] whedon commented on #2748
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-13 17:18] whedon commented on #2745
PDF failed to compile for issue #2745 with the following error:

 Could not find bibliography file: paper2.bib
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2020-10-13 17:18] whedon commented on #2746
[code]

[2020-10-13 17:18] whedon commented on #2747
Failed to discover a `Statement of need` section in paper

[2020-10-13 17:18] whedon commented on #2747
[code]

[2020-10-13 17:19] whedon commented on #2746
[code]

[2020-10-13 17:19] whedon commented on #2747
PDF failed to compile for issue #2747 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-d14a699185fb/lib/whedon.rb:147:in `check_fields': Paper YAML header is missing expected fields: affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-d14a699185fb/lib/whedon.rb:89:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-d1

[2020-10-13 17:19] whedon commented on #2746
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02746/joss.02746/10.21105.joss.02746.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02746/joss.02746/10.21105.joss.02746.pdf) :page_facing_up: :point_left:

[2020-10-13 17:19] whedon commented on #2747
[code]

[2020-10-13 17:19] whedon commented on #2748
[code]

[2020-10-13 17:19] whedon commented on #2748
PDF failed to compile for issue #2748 with the following error:

 Can't find any papers to compile :-(

[2020-10-13 17:20] 99991 commented on #2481
Thank you all for making this possible! :tada:

[2020-10-13 17:24] danielskatz commented on #2745
👋 @gmorello -

* https://github.com/ucl-exoplanets/ExoTETHyS/blob/master/paper.md says the .bib file is paper2.bib, but that doesn't exist
* Your paper needs an explicit Statement of Need section
* We are having an internal editor discussion about the scope of the changes, to make sure they are sufficient for us to review a new version of this paper/software - because of this, I'm going to mark th

[2020-10-13 17:37] danielskatz commented on #2746
👋 @arfon - are you able to edit this submission?

[2020-10-13 17:37] danielskatz commented on #2746
@whedon invite @arfon as editor

[2020-10-13 17:37] whedon commented on #2746
@arfon has been invited to edit this submission.

[2020-10-13 17:42] danielskatz commented on #2747
@zoran-cuckovic - your paper.md is misformatted - it needs to follow https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography (affiliations is a section with keyed entries). Please make changes, and also potentially add the DOI that whedon thinks is missing (if it's right), then use new comments with ```@whedon generate pdf``` to check the compilation of the paper, and

[2020-10-13 17:43] danielskatz commented on #2747
Additionally, because of the relatively small size of your code, the editors will discuss the scope to make sure it meets our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion before we start a review - this will likely take until the middle of next week.

[2020-10-13 17:43] danielskatz commented on #2747
@whedon query scope

[2020-10-13 17:45] danielskatz commented on #2748
@whedon generate pdf from branch paper

[2020-10-13 17:45] whedon commented on #2748
[code]

[2020-10-13 17:46] whedon commented on #2748
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02748/joss.02748/10.21105.joss.02748.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02748/joss.02748/10.21105.joss.02748.pdf) :page_facing_up: :point_left:

[2020-10-13 17:46] danielskatz commented on #2748
@whedon check references from branch paper

[2020-10-13 17:47] whedon commented on #2748
[code]

[2020-10-13 17:47] whedon commented on #2748
[code]

[2020-10-13 17:48] danielskatz commented on #2748
👋 @trettenbrein -

- note that there might be some missing DOIs you can add to your bib - you can check them and regenerate the paper using the same command I used above
-  because of the relatively small size of your code, the editors will discuss the scope to make sure it meets our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort)

[2020-10-13 17:49] danielskatz commented on #2748
@whedon query scope

[2020-10-13 17:49] whedon commented on #2748
Submission flagged for editorial review.

[2020-10-13 17:52] danielskatz commented on #2685
@gonsie & @carothersc - can I get an update on your review status?  It would be great to get this moving a bit further along...

[2020-10-13 17:52] danielskatz commented on #2685
@whedon re-invite @carothersc as reviewer

[2020-10-13 17:52] whedon commented on #2685
The reviewer already has a pending invite.

@carothersc please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-10-13 17:56] danielskatz commented on #2664
@iaklampanos  - note that we are getting close to done with this review - there are just 2 more boxes for @Himscipy to check off.  If you can help with the testing one as in the comment above, we'll be a bit closer.

[2020-10-13 18:21] trettenbrein commented on #2748
Hi @danielskatz,

Many thank for your effort! I've updated the list of references with the two missing DOIs. @whedon generate pdf from branch paper

We're happy to wait for your editorial decision. In case you decide to send the paper for review, I'd like to suggest @cMadan as a possible editor. Also, after going through the list of reviewers you provided we'd like to suggeste that eirini-zormpa,

[2020-10-13 18:23] trettenbrein commented on #2748
@whedon generate pdf from branch paper

[2020-10-13 18:23] whedon commented on #2748
[code]

[2020-10-13 18:45] dpsanders commented on #2678
👋 @nmoran and @mlxd, have you finished your reviews and are you happy to proceed with publication? Thanks!

[2020-10-13 18:46] dpsanders commented on #2598
👋 @davidjohannesmeyer: Are you still able to review this?

[2020-10-13 18:47] dpsanders commented on #2648
@whedon generate pdf

[2020-10-13 18:48] dpsanders commented on #2660
@whedon generate pdf

[2020-10-13 18:49] whedon commented on #2660
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02660/joss.02660/10.21105.joss.02660.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02660/joss.02660/10.21105.joss.02660.pdf) :page_facing_up: :point_left:

[2020-10-13 18:56] dpsanders commented on #2648
👋 @robfalck: Thanks for the edits to the paper -- it's much clearer (and more inviting) now.
I'll proceed to look for reviewers.

Personally I like seeing the code a simple example in the paper and I don't see a particular reason for needing to keep the paper shorter but that is part of an ongoing editorial discussion.

[2020-10-13 19:10] dpsanders commented on #2660
👋 @Swetanshu: Thanks for your submission to JOSS!
Looking over the paper and repo, I have some preliminary comments:

- It's not clear why there are two standalone codes being submitted as one submission.

- Please expand the README in the repo with usage instructions and links to the documentation.

- It is not clear where the data from the DFT calculations comes from or what format it should be

[2020-10-13 19:19] mlxd commented on #2678
Hi @dpsanders  all boxes ticked for me. I'm happy for this to proceed.

[2020-10-13 19:24] kthyng commented on #2218
@jing-su After a pre-review of your submission, and an assessment by the editorial board at large, we find that this submission does not quite meet our [submission requirements](http://joss.theoj.org/about#submission_requirements). In particular, while the software seems very useful, it falls under the 'Minor utility/Thin wrapper' category, and we therefore decided not to put it through review.

T

[2020-10-13 19:24] kthyng commented on #2218
@whedon reject

[2020-10-13 19:24] whedon commented on #2218
Paper rejected.

[2020-10-13 19:24] #2218 closed

[2020-10-13 19:24] nnadeau commented on #2362
@gkthiruvathukal unfortunately, I do not have time right now :(

[2020-10-13 19:39] srmnitc commented on #2563
@whedon generate pdf

[2020-10-13 19:39] whedon commented on #2563
PDF failed to compile for issue #2563 with the following error:

 Can't find any papers to compile :-(

[2020-10-13 19:56] srmnitc commented on #2362
@gkthiruvathukal @AlexMikes this module looks interesting and I could find some time to help with the review. However, before I start I would like to actually comment on a major issue. It is great that the software has already been used in publications, however, I do not find any documentation except what is on the README file. I really find this very limiting and would be one blocking issue that

[2020-10-13 20:00] srmnitc commented on #2563
@ml-evs Just an update. Seems like work is in progress on the PR. Once merged, it should allow me to check off the remaining points!

[2020-10-13 20:03] Kevin-Mattheus-Moerman commented on #2740
@kthyng I can take this or help support @luizirber with it

[2020-10-13 20:07] sissythem commented on #2664
@danielskatz @Himscipy We have added some tests in the individual APIs which also test their functionality.
We have also added a ReadMe with instructions [here](https://gitlab.com/project-dare/dare-platform/-/tree/master/test_dare_components)

[2020-10-13 20:11] kthyng commented on #2740
Thanks @Kevin-Mattheus-Moerman. @luizirber up to you!

[2020-10-13 20:24] thejohnhoffer commented on #2579
@jni I've fixed those two issues with the paper. Thanks for finding them. For the release and archive of our software, do you have any suggestions as to how we should handle our four separately versioned repositories? Also, for the archive process, my current idea is to [follow GitHub's guide for creating citable archives.](https://guides.github.com/activities/citable-code/)

[2020-10-13 20:32] lpantano commented on #2334
@lskatz yes, that is totally fine. @erinyoung and @lfaller, if you could test this it would be great. Thanks!

[2020-10-13 20:45] eloisabentivegna commented on #2513
@whedon set 10.5281/zenodo.4085328 as archive

[2020-10-13 20:55] eloisabentivegna commented on #2513
@zingale, I am wondering whether the release should have a traditional numerical tag, rather than a special label like "JOSS_paper", so users can readily identify whether a given code version precedes or follows the one published in JOSS.

@arfon, @danielskatz, what do you think?

[2020-10-13 21:02] cMadan commented on #2506
I will send an email to @gcdeshpande to follow up.

[2020-10-13 21:09] AlexMikes commented on #2362
Thanks, @srmnitc!

I agree that documentation is important. Every module has NumPy formatted docstrings that explain the functionality and all functions have docstrings that explain the functionality as well as the parameters with their expected type and purpose in the function and the returns with their type and explanation. What else would you suggest for documentation?

[2020-10-13 21:18] srmnitc commented on #2362
@AlexMikes Yes, the docstrings do look very well written! I was thinking more about using [readthedocs](https://readthedocs.org/) or [github pages](https://pages.github.com/) to host the documentation. Readthedocs then would build the docs including docstrings. It would also allow you to have more details about installing, tests, examples, and so on. Although not required, you could also have inte

[2020-10-13 21:43] cMadan commented on #2669
@whedon generate pdf

[2020-10-13 21:43] whedon commented on #2669
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02669/joss.02669/10.21105.joss.02669.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02669/joss.02669/10.21105.joss.02669.pdf) :page_facing_up: :point_left:

[2020-10-13 21:45] cMadan commented on #2669
@whedon check references

[2020-10-13 21:45] whedon commented on #2669
[code]

[2020-10-13 21:46] gkthiruvathukal commented on #2362
@srmnitc I am interpreting your last comment as being willing to serve as a reviewer. Can I add you so we can get started?

[2020-10-13 21:49] srmnitc commented on #2362
@gkthiruvathukal Yes, sorry about the confusion. I am happy to be reviewer.

[2020-10-13 21:50] cMadan commented on #2669
@mortonne, everything looks good to me!

To move forward with accepting your submission, there are a few last things to take care of:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo
- [ ] Check the Zenodo deposit has the correct metadata, this includes the title (should match the paper title) and au

[2020-10-13 21:55] gkthiruvathukal commented on #2362
@whedon add @srmnitc as reviewer

[2020-10-13 21:56] whedon commented on #2362
OK, @srmnitc is now a reviewer

[2020-10-13 21:56] gkthiruvathukal commented on #2362
Thanks, @srmnitc. You should be all set.

[2020-10-13 22:03] ml-evs commented on #2563
@whedon generate pdf from branch joss

[2020-10-13 22:03] whedon commented on #2563
[code]

[2020-10-13 22:03] whedon commented on #2563
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02563/joss.02563/10.21105.joss.02563.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02563/joss.02563/10.21105.joss.02563.pdf) :page_facing_up: :point_left:

[2020-10-13 22:07] ml-evs commented on #2563
Gah, just noticed another typo... this should now be the final proof.

@whedon generate pdf from branch joss

[2020-10-13 22:15] ml-evs commented on #2563
@whedon generate pdf from branch joss

[2020-10-13 22:15] whedon commented on #2563
[code]

[2020-10-13 22:15] whedon commented on #2563
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02563/joss.02563/10.21105.joss.02563.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02563/joss.02563/10.21105.joss.02563.pdf) :page_facing_up: :point_left:

[2020-10-13 22:26] kordk commented on #2723
Hello @kthyng! Thank you for your consideration of our manuscript introducing the ShinyGAStool. The tool implements a regression method that our team have used for genetic association testing in over 20 studies in the past ten years. While we had great success using the method, the genetic data for these studies were collected using a custom microarray or direct genotyping and required a custom an

[2020-10-13 22:28] mjsottile commented on #2533
Hello @kaustubh-sadekar,

Based on review feedback, my own examination of the submission, and a discussion with other editors, your submission unfortunately does not meet the threshold for acceptance into JOSS.  There are a number of rather significant issues related to software quality and the submission does not make a clear contribution to the research software community.  I hope that you take

[2020-10-13 22:28] mjsottile commented on #2533
@whedon reject

[2020-10-13 22:28] whedon commented on #2533
I'm sorry @mjsottile, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2020-10-13 22:51] dpsanders commented on #2660
Also I forgot to mention that the software will need some kind of tests to make sure that it is working correctly.

[2020-10-13 23:15] danielskatz commented on #2533
@whedon reject

[2020-10-13 23:15] whedon commented on #2533
Paper rejected.

[2020-10-13 23:15] #2533 closed

[2020-10-13 23:22] waxlamp commented on #2410
Thank you for catching this, @lpantano. I just reuploaded a fixed version to Zenodo: https://zenodo.org/record/4086165, with DOI 10.5281/zenodo.4086165.

Hopefully this is ok for proceeding. If you think it makes sense, I can also delete the 1.0.0 bundle from Zenodo; please advise.

Thanks!

[2020-10-13 23:33] ml-evs commented on #2563
@whedon generate pdf from branch joss

[2020-10-13 23:33] whedon commented on #2563
[code]

[2020-10-13 23:33] jni commented on #2579
@thejohnhoffer great questions! To me it sounds good but I hope @lpantano and/or @arfon can provide a more definitive answer.

[2020-10-13 23:33] ml-evs commented on #2563
@whedon check references

[2020-10-13 23:34] whedon commented on #2563
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02563/joss.02563/10.21105.joss.02563.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02563/joss.02563/10.21105.joss.02563.pdf) :page_facing_up: :point_left:

[2020-10-13 23:55] gmorello commented on #2745
Dear Daniel S. Katz,

Thanks for the update.
I corrected the bibliography issue and added a Statement of Need.

Note that the new version is fully developed in the secondary branch v2-beta, and not in the master branch.
I wanted to pull the new version after its revision, but I was forced to move the paper.md in the master branch in order to submit to JOSS (and now I will have to fix the pull requ

[2020-10-14 00:01] lpantano commented on #2579
I think that sounds good, I will let @arfon to re-confirm. As far as there is an isolated download from Zenodo that makes this reproducible to this point, it should be good (i think).

[2020-10-14 00:12] mortonne commented on #2669
* I've created a new tagged release: [v0.4.4](https://github.com/mortonne/psifr/releases/tag/v0.4.4).
* That tagged release has been archived in [Zenodo](https://zenodo.org/record/4086188); the archive has the correct metadata.
* Zenodo DOI: 10.5281/zenodo.4086188

[2020-10-14 00:49] lydialucchesi commented on #2409
Hi @bstabler and @nuest, we have addressed and incorporated all of revisions from the first review (https://github.com/lydialucchesi/Vizumap/blob/master/paper/revisions.md). Please let me know if there is any additional information I can provide regarding the changes made.

Should we update the versioning from 1.0.0 to 2.0.0 given the major changes? Version 1.0.0 is from the original package relea

[2020-10-14 03:12] pibion commented on #2686
@frigaut, @mvandam, @rconan would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2020-10-14 04:17] mvandam commented on #2686
I could possibly do it, but I am not sure what the review entails. I don't know much about JOSS! Is it a review of the paper describing the software or is it also a review of the software? Can I see the paper and the evaluation form (if any) before agreeing to review the submission? Thanks!

[2020-10-14 05:55] hemanthpruthvi commented on #2693
@aquilesC  I understand and I agree. Accordingly, I have added a Readme file in the materials folder that refers to original sources.

[2020-10-14 07:27] frigaut commented on #2686
Yes, I have to admit I am in the same category. I am very much in favour of open journals, and would love to help, but your message lack context and a personal touch. Who is sending this email?
Cheers
Francois

On Oct 14 2020, at 3:17 pm, Marcos van Dam <notifications@github.com> wrote:

[2020-10-14 07:50] arfon commented on #2746
@whedon assign me as editor

[2020-10-14 07:50] whedon commented on #2746
OK, the editor is @arfon

[2020-10-14 07:54] arfon commented on #2746
:wave: @lzkelley, thanks for your submission to JOSS! A few questions to get us started here:

- Is this submission associated with a [AAS publication](https://blog.joss.theoj.org/2018/12/a-new-collaboration-with-aas-publishing)?
- Could you please take a look at the DOI suggestions from Whedon [above](https://github.com/openjournals/joss-reviews/issues/2746#issuecomment-707890824) and if they are

[2020-10-14 07:56] arfon commented on #2746
:wave: @pmelchior - would you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The software (_kalepy: a python package for kernel density estimation and sampling_) is [here](https://github.com/lzkelley/kalepy) and the short paper [here](https:/

[2020-10-14 08:40] arfon commented on #2513
We don't enforce anything along those lines here and are happy to follow whatever conventions a project might already have in place.

[2020-10-14 08:41] arfon commented on #2579
Sounds great. Thanks for confirming @thejohnhoffer.

[2020-10-14 08:59] matbesancon commented on #2564
@poulson I finished my review. This is a great paper covering a very interesting software package. The article highlights the interest optimization practitionners can have using it compared to other modelling libraries. I recommend its acceptation for JOSS

[2020-10-14 09:42] sara-02 commented on #2594
@jboynyc I have a query regarding this point
[code]
I could not find a command for the same, have added an issue here: https://github.com/jboynyc/textnets

Apart from this point, the rest of the checklist is complete from my side as well.

[2020-10-14 09:52] sara-02 commented on #2594
The above query has been sorted.

[2020-10-14 10:00] cMadan commented on #2506
I heard back from @gcdeshpande and he is currently occupied with some personal circumstances (I feel like it's not my place to elaborate further), but will return to the review after the 19th and aims to complete it by the 25th.

[2020-10-14 10:03] sara-02 commented on #2594
@gkthiruvathukal I have completed my checklist as well.
We are good to move forward.

[2020-10-14 10:22] jboynyc commented on #2594
Thanks for your careful review, @sara-02! :+1:

[2020-10-14 10:32] JamieJQuinn commented on #2744
Repo is on Bitbucket so couldn't link this repo directly. Added a few issues about installation on non-Debian systems.

[2020-10-14 11:55] eloisabentivegna commented on #2513
OK! The project follows a mix of the usual convention (numerical) and special descriptive tags. If there's no requirement on our side, let's leave everything as is. Thanks!

[2020-10-14 11:56] eloisabentivegna commented on #2513
@whedon set JOSS_paper as version

[2020-10-14 11:56] whedon commented on #2513
OK. JOSS_paper is the version.

[2020-10-14 11:56] eloisabentivegna commented on #2513
@whedon check references

[2020-10-14 11:57] whedon commented on #2513
[code]

[2020-10-14 12:31] sara-02 commented on #2507
@xillig rest of the features and documentation are well put, but where are the commands to run the test listed?
I see you have a test folder but how to operate on it?

[2020-10-14 12:32] sara-02 commented on #2507
As we have to cover that under `Automated tests: Are there automated tests or manual steps described so that the functionality of the software can be verified?`

[2020-10-14 12:33] sara-02 commented on #2507
Also, I feel we can better structure the content of the paper instead of putting everythhing under the summary heading.

[2020-10-14 12:48] gkthiruvathukal commented on #2594
@tresoldi and @sara-02. Thanks for your help on this review! We appreciate all of the help from our reviewers during what remains a challenging time for the world.

@jboynyc Thanks for your work to address all input. Please do the following:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo
- [ ] Chec

[2020-10-14 12:50] sultanier commented on #2582
thanks @steven-murray,

I have finished checking all comments and everything looking good and working nicely! congrats!

One small fix is that these hyperlinks below for the config_example and inputs don't work (clicking on them doesn't directly take you to the files), but one can go to the repo and see these files. Just make sure these hyperlinks do actually work (if meant). I have completed all

[2020-10-14 13:01] danielskatz commented on #2685
@whedon re-invite @carothersc as reviewer

[2020-10-14 13:01] whedon commented on #2685
OK, the reviewer has been re-invited.

@carothersc please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-10-14 13:12] JanCBrammer commented on #2621
@sappelhoff, @TomDonoghue, I've addressed all "blocking" issues (JanCBrammer/biopeaks#8, JanCBrammer/biopeaks#10, JanCBrammer/biopeaks#11, JanCBrammer/biopeaks#16) and the repository is now ready for your final evaluation.

[2020-10-14 13:18] sara-02 commented on #2507
So, here is a suggested breakdown:
[code]

[2020-10-14 13:25] sara-02 commented on #2530
Hey @lorenanicole and @onurvarol I would be happy to review this package. I and my colleagures are actively working in the area of Twitter data collection and manual annotations, and would love to check out this package.
I just wrapped 2 of my pending reviews and have room for more.
Availablity: Fom 23rd Oct onwards. Let me know if it works for you guys.

[2020-10-14 13:26] danielskatz commented on #2723
@whedon check repository

[2020-10-14 13:26] danielskatz commented on #2723
Having the paper in a branch is fine

[2020-10-14 13:26] whedon commented on #2723
[code]

[2020-10-14 13:27] danielskatz commented on #2723
Note that whedon still sees 584 lines of R code

[2020-10-14 13:27] danielskatz commented on #2723
@whedon generate pdf from branch joss-paper-branch

[2020-10-14 13:27] whedon commented on #2723
[code]

[2020-10-14 13:28] whedon commented on #2723
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02723/joss.02723/10.21105.joss.02723.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02723/joss.02723/10.21105.joss.02723.pdf) :page_facing_up: :point_left:

[2020-10-14 13:28] danielskatz commented on #2723
@whedon check references from branch joss-paper-branch

[2020-10-14 13:29] whedon commented on #2723
[code]

[2020-10-14 13:29] whedon commented on #2723
[code]

[2020-10-14 13:31] danielskatz commented on #2723
In the .bib file, all the "type = {Journal Article}" lines should be removed - whedon/pandoc is putting those into the paper, which is not needed.

[2020-10-14 14:01] oliviaguest commented on #2621
@jamesheathers please give us an ETA if you can here. ☺️

[2020-10-14 14:24] xillig commented on #2507
Hi @sara-02,
you can find the guide for how to run the example files in the documentation under the following link: https://ttlocvis.readthedocs.io/en/latest/examples/
Please note that you can't use the TwitterStreamer without an Twitter Developer account, all other functions are usable with the example data. Please also note that the example data will not return any meaningful analytical results

[2020-10-14 14:44] sbenthall commented on #2655
That timetable is fine. Thank you, @jarvist

[2020-10-14 14:45] whedon commented on #2655
OK, @jarvist is now a reviewer

[2020-10-14 14:48] sbenthall commented on #2730
Oh, yeah, I can edit this!

[2020-10-14 14:49] sbenthall commented on #2730
@whedon assign me as editor

[2020-10-14 14:49] whedon commented on #2730
OK, the editor is @sbenthall

[2020-10-14 14:54] sbenthall commented on #2730
@Zac-HD would you be able to review this article?

[2020-10-14 14:56] sbenthall commented on #2730
@martibosch would you be able to review this article?

[2020-10-14 14:57] gaelforget commented on #2713
This is great news! Thanks @kthyng for taking on this submission as editor.

I will work on reviewer suggestions asap and hope to get back to you later today on this. Thanks for your patience

[2020-10-14 15:00] sambitdash commented on #2655
Sure will do. @sbenthall

[2020-10-14 15:00] whedon commented on #2669
OK. <a href="https://doi.org/10.5281/zenodo.4086188" target="_blank">10.5281/zenodo.4086188</a> is the archive.

[2020-10-14 15:01] whedon commented on #2669
OK. v0.4.4 is the version.

[2020-10-14 15:03] steven-murray commented on #2582
Thanks @sultanier! There is a PR currently to fix those hyperlinks (should be merged in the next couple of days). We'll have those performance metrics into the paper very soon as well.

[2020-10-14 15:06] kbarnhart commented on #2407
@Xunius thank you for the update. I wanted to ask if you could clarify the difference between this recently published paper in GMD and the manuscript considered here?

[2020-10-14 15:06] crvernon commented on #2736
Thanks @kthyng ! Let us know if you need anything else.  Have a great day!

[2020-10-14 15:12] sbenthall commented on #2655
@whedon add @sambitdash as reviewer

[2020-10-14 15:12] whedon commented on #2655
OK, @sambitdash is now a reviewer

[2020-10-14 15:13] whedon opened #2749 "[REVIEW]: POMDPStressTesting.jl: Adaptive Stress Testing for Black-Box Systems"
**Submitting author:** @mossr (<a href="http://orcid.org/0000-0003-2403-454X">Robert Moss</a>)
**Repository:** <a href="https://github.com/sisl/POMDPStressTesting.jl" target ="_blank">https://github.com/sisl/POMDPStressTesting.jl</a>
**Version:** v0.5.0
**Editor:** @sbenthall
**Reviewer:** @jarvist, @sambitdash
**Archive:** <a href="https://doi.org/10.5281/zenodo.4663471" target="_blank">10.5281/z

[2020-10-14 15:13] whedon commented on #2655
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2749.

[2020-10-14 15:13] whedon commented on #2749
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jarvist, @sambitdash it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2020-10-14 15:15] whedon commented on #2749
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02749/joss.02749/10.21105.joss.02749.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02749/joss.02749/10.21105.joss.02749.pdf) :page_facing_up: :point_left:

[2020-10-14 15:15] whedon commented on #2749
[code]

[2020-10-14 15:18] sara-02 commented on #2507
Hey, I have reviewed this documentation, my concern is regarding running unit tests.

[2020-10-14 15:19] sara-02 commented on #2507
Is there a way we can test the modules with some dummy twitter data?

[2020-10-14 15:20] sappelhoff commented on #2621
I checked all issues that I raised with @JanCBrammer and everything has been addressed to my full satisfaction. `biopeaks` is a useful piece of software that will make life easier for its users. The accompanying paper is well written, the documentation is up to date an thorough. Unit tests and coverage reports are in place, and best practices of open source software (and open science, where applic

[2020-10-14 15:21] whedon commented on #2669
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02669/joss.02669/10.21105.joss.02669.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02669/joss.02669/10.21105.joss.02669.pdf) :page_facing_up: :point_left:

[2020-10-14 15:28] cMadan commented on #2669
@mortonne, can you proof your paper.md one last time. In particular, you should revise this line:
``The source code for `Psifr` has  been archived to Zenodo with the linked DOI: TBD.``

[2020-10-14 15:31] pmelchior commented on #2746
Sorry, swamped right now.

[2020-10-14 15:55] xillig commented on #2507
Hey, @sara-02,
Thanks for the clarification,

There is no automated unit testing available, since our background is statistics and not computer science, so that we are not firm with unit testing. That's why we decided for the second option to provide manual testing steps as outlined in the "Usage and Example" guideline, to explain how all functions are used.

Using the example data provided (which

[2020-10-14 16:15] xillig commented on #2507
@whedon generate pdf

[2020-10-14 16:16] whedon commented on #2507
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02507/joss.02507/10.21105.joss.02507.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02507/joss.02507/10.21105.joss.02507.pdf) :page_facing_up: :point_left:

[2020-10-14 16:17] xillig commented on #2507
Hey @sara-02,

we updated the paper.

[2020-10-14 16:29] danielskatz commented on #2664
Great, thanks!

[2020-10-14 16:33] danielskatz commented on #2739
👋 @victorsapucaia - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-softwar

[2020-10-14 16:33] danielskatz commented on #2739
@whedon reject

[2020-10-14 16:33] #2739 closed

[2020-10-14 16:35] danielskatz commented on #2740
@whedon assign @luizirber as editor

[2020-10-14 16:35] whedon commented on #2740
OK, the editor is @luizirber

[2020-10-14 16:48] nedRad88 commented on #2676
Hey @galessiorob , sorry for the delay. We have updated the community guidelines and installation instructions. Documentation and improved instructions for tests are under way. I will be posting updates in issue's thread. Thanks!

[2020-10-14 17:01] mortonne commented on #2669
@whedon generate pdf

[2020-10-14 17:02] whedon commented on #2669
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02669/joss.02669/10.21105.joss.02669.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02669/joss.02669/10.21105.joss.02669.pdf) :page_facing_up: :point_left:

[2020-10-14 17:04] srmnitc commented on #2362
@gkthiruvathukal Sorry to bother, but I do not seem to have a checklist. Could you please help with this?

[2020-10-14 17:06] AlexMikes commented on #2362
Thanks @srmnitc, yes please open this as an issue along with anything else you find.

[2020-10-14 17:13] dfm commented on #2610
@paulray has agreed to act as the second reviewer. Thanks, Paul! I'll add him and then we'll get the review started in a new thread.

all: Let me know if you have any questions as we go. Thanks again for your patience!

[2020-10-14 17:14] dfm commented on #2610
@whedon add @paulray as reviewer

[2020-10-14 17:14] whedon commented on #2610
OK, @paulray is now a reviewer

[2020-10-14 17:14] dfm commented on #2610
@whedon start review

[2020-10-14 17:14] whedon opened #2750 "[REVIEW]: Your: Your Unified Reader"
**Submitting author:** @KshitijAggarwal (<a href="http://orcid.org/0000-0002-2059-0525">Kshitij Aggarwal</a>)
**Repository:** <a href="https://github.com/thepetabyteproject/your" target ="_blank">https://github.com/thepetabyteproject/your</a>
**Version:** 0.6.0
**Editor:** @dfm
**Reviewer:** @pravirkr, @paulray
**Archive:** <a href="https://doi.org/10.5281/zenodo.4269947" target="_blank">10.5281/z

[2020-10-14 17:14] whedon commented on #2610
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2750.

[2020-10-14 17:14] #2610 closed

[2020-10-14 17:14] whedon commented on #2750
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @pravirkr, @paulray it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2020-10-14 17:15] whedon commented on #2750
[code]

[2020-10-14 17:16] whedon commented on #2750
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02750/joss.02750/10.21105.joss.02750.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02750/joss.02750/10.21105.joss.02750.pdf) :page_facing_up: :point_left:

[2020-10-14 17:17] mortonne commented on #2669
I've added the Zenodo DOI and proofed the paper. The archive and JOSS DOI links give 404 errors, but I'm guessing that's normal at this stage. Everything else looks good.

[2020-10-14 17:42] danielskatz commented on #2362
added

[2020-10-14 18:01] arfon commented on #2746
NP, thanks for the quick response.

[2020-10-14 18:03] elbeejay commented on #2585
@kbarnhart I don't know where we'd update this, but some of the changes that have been made during the review process were 'breaking' changes. So in light of that, the code associated with the JOSS paper will be v2.0.0 (or maybe v2.0.x if something small has to change) instead of v1.0.0. Is there an easy way to change this? Thanks!

[2020-10-14 18:03] elbeejay commented on #2585
@whedon generate pdf

[2020-10-14 18:04] whedon commented on #2585
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02585/joss.02585/10.21105.joss.02585.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02585/joss.02585/10.21105.joss.02585.pdf) :page_facing_up: :point_left:

[2020-10-14 18:10] kbarnhart commented on #2585
@elbeejay not a problem. One of the final things I'll ask you for at the end of the review process is to let me know the version number. I can then update that metadata and the final paper will reflect the correct version.

[2020-10-14 18:32] elbeejay commented on #2585
@gassmoeller and @dbuscombe-usgs, we've done our best to incorporate the changes you both suggested we make to improve the quality of the paper and the code. Thank you both for the thoughtful feedback.

I've tried to address the comments directly in each issue, but didn't want to keep @-tagging you. The bulk of the changes associated with this review were made in PR [15](https://github.com/passaH2

[2020-10-14 18:44] sara-02 commented on #2507
@xillig and @trallard checks are complete from my side, and my concerns have been dually addressed.

[2020-10-14 19:02] danielskatz commented on #2697
@galessiorob - would you be willing to edit this submission?

[2020-10-14 19:02] danielskatz commented on #2697
@whedon invite @galessiorob as editor

[2020-10-14 19:02] whedon commented on #2697
@galessiorob has been invited to edit this submission.

[2020-10-14 19:12] danielskatz commented on #2745
@whedon generate pdf

[2020-10-14 19:13] whedon commented on #2745
PDF failed to compile for issue #2745 with the following error:

 pandoc-citeproc: reference magic2015 not found
[WARNING] Could not convert image '/tmp/tex2pdf.-674bcc2dae55b14f/628c60e7fd726b57bb67c4b13f831fa1e532bed8.svg': check that rsvg-convert is in path.
  rsvg-convert: createProcess: runInteractiveProcess: exec: does not exist (No such file or directory)
Error producing PDF.
! LaTeX Error:

[2020-10-14 19:16] danielskatz commented on #2745
@gmorello - as you can see, there's still a problem here, perhaps related to the image in the file - can you take a look and see if can see a problem, then use the command I gave about to check if the PDF can be regenerated?

[2020-10-14 19:46] thejohnhoffer commented on #2579
@jni @lpantano @arfon,

Thank you all. I've archived releases for all four repositories in [one archive on on Zenodo](https://zenodo.org/record/4088741#.X4dVAxNKjOQ).

[2020-10-14 19:54] whedon opened #2751 "[PRE REVIEW]: HexWatershed"
**Submitting author:** @changliao1025 (<a href="http://orcid.org/0000-0002-7348-8858">Chang Liao</a>)
**Repository:** <a href="https://github.com/pnnl/hexwatershed" target ="_blank">https://github.com/pnnl/hexwatershed</a>
**Version:** Version 1.0
**Editor:** @kbarnhart
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2020-10-14 19:54] whedon commented on #2751
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-14 19:54] whedon commented on #2751
[code]

[2020-10-14 19:54] whedon commented on #2751
Failed to discover a valid open source license.

[2020-10-14 19:54] whedon commented on #2751
PDF failed to compile for issue #2751 with the following error:

 Can't find any papers to compile :-(

[2020-10-14 19:56] danielskatz commented on #2751
@changliao1025 - where is your paper?

See https://joss.readthedocs.io/en/latest/submitting.html#typical-paper-submission-flow and specifically https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography

[2020-10-14 19:58] danielskatz commented on #2751
It looks like it might be in the README?  But the README should be the README, and the paper should be in a different file, usually paper.md along with any needed references in a .bib file

[2020-10-14 20:23] gmorello commented on #2745
@whedon generate pdf

[2020-10-14 20:23] whedon commented on #2745
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02745/joss.02745/10.21105.joss.02745.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02745/joss.02745/10.21105.joss.02745.pdf) :page_facing_up: :point_left:

[2020-10-14 20:24] danielskatz commented on #2751
I also notice that there is no open source license in the repo  - this is another part of https://joss.readthedocs.io/en/latest/submitting.html#typical-paper-submission-flow

[2020-10-14 20:26] gmorello commented on #2745
@danielskatz Looks fine now, thanks.

[2020-10-14 20:45] danielskatz commented on #2745
@whedon check references

[2020-10-14 20:45] whedon commented on #2745
[code]

[2020-10-14 20:46] danielskatz commented on #2745
@gmorello - please spell out all the journal names - we're not an astro-specific journal, so we don't use these abbreviations.  Also, please check to see if the above suggested DOI should be added to that bib entry.

[2020-10-14 21:04] galessiorob commented on #2697
Sure thing! @danielskatz

[2020-10-14 21:05] galessiorob commented on #2697
@whedon assign me as editor

[2020-10-14 21:05] whedon commented on #2697
OK, the editor is @galessiorob

[2020-10-14 21:31] whedon commented on #2405
:wave: @Yomguithereal, please update us on how things are progressing here.

[2020-10-14 21:43] jboynyc commented on #2594
- Latest tagged release is [0.4.10](https://github.com/jboynyc/textnets/releases/tag/v0.4.10)
- Zenodo DOI for that release is [10.5281/zenodo.4028610](https://doi.org/10.5281/zenodo.4028610)

[2020-10-14 22:26] danielskatz commented on #2724
@henrykironde & @ethanwhite - Has this software gone through rOpenSci review?

[2020-10-14 23:00] d-chambers commented on #2696
@leouieda my apologies, I missed this last request. I just added the correct DOI to the Bib Tex file.

[2020-10-14 23:27] gmorello commented on #2745
@whedon check references

[2020-10-14 23:27] whedon commented on #2745
[code]

[2020-10-14 23:28] gmorello commented on #2745
@danielskatz Done, thanks.

[2020-10-14 23:41] henrykironde commented on #2724
It is under rOpenSci, so I believe it was reviewed during the early versions before I became the maintainer. `https://github.com/ropensci/rdataretriever`

[2020-10-15 00:40] Xunius commented on #2407
@kbarnhart The GMD one contains the full derivation of the methods, parameter sensitivity tests, some comparisons with existing methods in the form of case studies, and lots of discussions on the implications on climate projection applications etc.. While the JOSS manuscript is providing just enough information to support the Python implementation of the algorithms. The GMD paper was actually subm

[2020-10-15 00:59] diehlpk commented on #2514
@ketch Have you seen that @gardner48 opened a new issue?

[2020-10-15 00:59] diehlpk commented on #2514
Hi @emconsta @debdeepbh @gardner48 could you please let me know when you anticipate to finish your review?

[2020-10-15 01:30] gardner48 commented on #2514
@diehlpk Other than the issue I opened about running the examples I have finished my review.

[2020-10-15 01:39] nicolet5 commented on #2624
Thanks @jgostick

I updated the paper with everyone's ORCIDs, made a release of the software `v1.0.1`, and archived the release on Zenodo with doi `10.5281/zenodo.4089118`. Let me know if there's anything else I need to do!

[2020-10-15 01:43] cMadan commented on #2669
@whedon accept

[2020-10-15 01:43] whedon commented on #2669
[code]

[2020-10-15 01:43] whedon commented on #2669
[code]

[2020-10-15 01:43] whedon commented on #2669
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1809

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1809, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-15 02:37] crew102 commented on #2715
I @timtroendle , I'm not familiar with OpenBLAS at all, so I'm probably not the best person to review this.

[2020-10-15 02:59] gkthiruvathukal commented on #2594
@whedon set v0.4.10 as versino

[2020-10-15 02:59] whedon commented on #2594
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-10-15 02:59] gkthiruvathukal commented on #2594
@whedon set v0.4.10 as version

[2020-10-15 03:00] whedon commented on #2594
OK. v0.4.10 is the version.

[2020-10-15 03:00] gkthiruvathukal commented on #2594
@whedon set 10.5281/zenodo.4028610 as archive

[2020-10-15 03:00] whedon commented on #2594
OK. <a href="https://doi.org/10.5281/zenodo.4028610" target="_blank">10.5281/zenodo.4028610</a> is the archive.

[2020-10-15 03:01] gkthiruvathukal commented on #2594
@whedon accept

[2020-10-15 03:01] whedon commented on #2594
[code]

[2020-10-15 03:02] whedon commented on #2594
PDF failed to compile for issue #2594 with the following error:

 Can't find any papers to compile :-(

[2020-10-15 03:02] mbobra commented on #2629
@teuben Please respond and let me know if you are still able to review.

[2020-10-15 03:03] mbobra commented on #2629
@whedon remove @hasantahir as reviewer

[2020-10-15 03:03] whedon commented on #2629
OK, @hasantahir is no longer a reviewer

[2020-10-15 03:04] mbobra commented on #2629
@whedon add @mbobra as reviewer

[2020-10-15 03:04] whedon commented on #2629
OK, @mbobra is now a reviewer

[2020-10-15 03:04] gkthiruvathukal commented on #2594
@whedon generate pdf from joss-submission

[2020-10-15 03:04] whedon commented on #2594
PDF failed to compile for issue #2594 with the following error:

 Can't find any papers to compile :-(

[2020-10-15 03:05] gkthiruvathukal commented on #2594
@whedon generate pdf from branch joss

[2020-10-15 03:05] whedon commented on #2594
[code]

[2020-10-15 03:05] whedon commented on #2594
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02594/joss.02594/10.21105.joss.02594.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02594/joss.02594/10.21105.joss.02594.pdf) :page_facing_up: :point_left:

[2020-10-15 05:53] jni commented on #2579
@whedon set 10.5281/zenodo.4088741 as archive

[2020-10-15 05:53] whedon commented on #2579
OK. <a href="https://doi.org/10.5281/zenodo.4088741" target="_blank">10.5281/zenodo.4088741</a> is the archive.

[2020-10-15 05:54] jni commented on #2579
@whedon set 1.0.0 as version

[2020-10-15 05:54] whedon commented on #2579
OK. 1.0.0 is the version.

[2020-10-15 05:54] jni commented on #2579
@whedon accept

[2020-10-15 05:54] whedon commented on #2579
[code]

[2020-10-15 05:54] whedon commented on #2579
[code]

[2020-10-15 05:55] whedon commented on #2579
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1810

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1810, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-15 06:45] dpsanders commented on #2648
@robfalck: Do you have any suggestions for reviewers?

[2020-10-15 07:34] GustaveCoste commented on #2735
Hi, thank you for initiating the review process. I tried to fix the broken references without success. The strange thing is that I can't see the difference with [the example](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography).

Here is the figure:
    `![Review procedure.\label{fig:review}](review.png)`

And the reference to it:
`... helps to improve the LCIs qua

[2020-10-15 08:12] mikerspencer commented on #2282
I've paused my review while I wait for this issue to be fixed: https://github.com/jcolomb/HCS_analysis/issues/30.

[2020-10-15 09:52] pmkruyen commented on #2506
Thanks for the update @cMadan. Thanks @gcdeshpande for continuing your review in these times, wish you all the best. Peter

[2020-10-15 10:50] nmoran commented on #2678
Hi @dpsanders, yes I'm also happy to proceed with publication.

[2020-10-15 10:56] pmeier commented on #2737
@whedon commands

[2020-10-15 10:56] whedon commented on #2737
Here are some things you can ask me to do:

[code]

[2020-10-15 10:57] pmeier commented on #2737
@whedon check references

[2020-10-15 10:58] whedon commented on #2737
[code]

[2020-10-15 10:58] pmeier commented on #2737
@whedon generate pdf

[2020-10-15 10:59] whedon commented on #2737
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02737/joss.02737/10.21105.joss.02737.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02737/joss.02737/10.21105.joss.02737.pdf) :page_facing_up: :point_left:

[2020-10-15 11:05] pmeier commented on #2737
@kthyng I've added a "Statement of Need" section to the paper.

@whedon [keeps suggesting a DOI](https://github.com/openjournals/joss-reviews/issues/2737#issuecomment-709186591) (`10.1007/springerreference_62539`) for one of the references that does [**not** resolve correctly](https://doi.org/10.1007/springerreference_62539). I couldn't find a DOI for that source manually. Is that a problem?

[2020-10-15 11:16] vincentberenz commented on #2459
@gkthiruvathukal Anything I can do to help this going forward ?

[2020-10-15 11:41] traversaro commented on #2459
Sorry for the delay, I will be happy to review this submission.

[2020-10-15 11:45] xillig commented on #2507
Dear @trallard, @sara-02, @aozorahime,
 thank you very much for completing the review and for all the great comments. This really helped a lot to improve the paper and we really appreciate that you invested so much time despite of the COVID-19 situation.

 @trallard: What are the next steps in the publication process?

On the JOSS Website we find the following instructions:

 Can we proceed with t

[2020-10-15 12:07] ethanwhite commented on #2724
@danielskatz - the project's involvement in rOpenSci predates the creation of the rOpenSci review process so it has not formally been through there review process.

[2020-10-15 12:10] chainsawriot commented on #2461
@whedon generate pdf

[2020-10-15 12:11] whedon commented on #2461
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02461/joss.02461/10.21105.joss.02461.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02461/joss.02461/10.21105.joss.02461.pdf) :page_facing_up: :point_left:

[2020-10-15 12:30] danielskatz commented on #2669
@whedon accept deposit=true

[2020-10-15 12:30] whedon commented on #2669
[code]

[2020-10-15 12:31] whedon commented on #2669
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1316718254992355330) 👈 🐦🐦🐦

[2020-10-15 12:31] whedon commented on #2669
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1811
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02669](https://doi.org/10.21105/joss.02669)
2. If everything looks g

[2020-10-15 12:40] danielskatz commented on #2579
@thejohnhoffer  - can you please merge in the changes in https://github.com/labsyspharm/minerva-story/pull/66 ?

[2020-10-15 12:42] danielskatz commented on #2669
Congratulations @mortonne (Neal Morton)!!

And thanks to editor @cMadan and reviewers @samhforbes & @paxtonfitzpatrick!

[2020-10-15 12:42] #2669 closed

[2020-10-15 12:42] whedon commented on #2669
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02669/status.svg)](https://doi.org/10.21105/joss.02669)

**We need your help!**

Journal of Open Source Softwa

[2020-10-15 12:44] danielskatz commented on #2594
@gkthiruvathukal - when the paper is a in branch, you need to accept it from the branch:

[2020-10-15 12:44] danielskatz commented on #2594
@whedon accept from branch joss

[2020-10-15 12:44] chainsawriot commented on #2461
Dear Mr. Tim Schatto-Eckrodt (@Kudusch ),

Thank you so much for accepting the review and your tremendously useful comments. Regarding your three points, I have made the following changes:

1. We have followed your advice to truncate some output, e.g. from tibble. However, we want to keep the output from oolong to show how it guides us interactively. The output problem was partly an issue of the v

[2020-10-15 12:44] whedon commented on #2594
[code]

[2020-10-15 12:45] whedon commented on #2594
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1812

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1812, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-15 12:45] whedon commented on #2594
[code]

[2020-10-15 12:47] danielskatz commented on #2594
👋 @sara-02 - above you say that the unchecked item in your list is satisfied, so I am going to move the acceptance forward, but if you could check off the item itself, it will be slightly cleaner.

[2020-10-15 12:57] danielskatz commented on #2594
👋 @jboynyc - Some fixes are needed in the paper: https://github.com/jboynyc/textnets/pull/19 and https://github.com/jboynyc/textnets/pull/20

[2020-10-15 13:19] jmuhlich commented on #2579
@danielskatz Merged, thanks.

[2020-10-15 13:23] danielskatz commented on #2579
@whedon accept

[2020-10-15 13:23] whedon commented on #2579
[code]

[2020-10-15 13:24] whedon commented on #2579
[code]

[2020-10-15 13:24] whedon commented on #2579
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1813

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1813, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-15 13:25] sara-02 commented on #2594
Done

[2020-10-15 13:31] danielskatz commented on #2579
@whedon accept deposit=true

[2020-10-15 13:31] whedon commented on #2579
[code]

[2020-10-15 13:32] whedon commented on #2579
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1316733638617313280) 👈 🐦🐦🐦

[2020-10-15 13:32] whedon commented on #2579
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1814
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02579](https://doi.org/10.21105/joss.02579)
2. If everything looks g

[2020-10-15 13:35] danielskatz commented on #2579
Congratulations to @thejohnhoffer (John Hoffer) and co-authors!!

And thanks to @will-moore & @sofroniewn for reviewing, and @jni for editing!

[2020-10-15 13:35] #2579 closed

[2020-10-15 13:35] whedon commented on #2579
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02579/status.svg)](https://doi.org/10.21105/joss.02579)

**We need your help!**

Journal of Open Source Softwa

[2020-10-15 13:39] gkthiruvathukal commented on #2459
@whedon add @traversaro as reviewer

[2020-10-15 13:39] whedon commented on #2459
OK, @traversaro is now a reviewer

[2020-10-15 13:40] gkthiruvathukal commented on #2459
@traversaro Thanks for your willingness to serve. I will move this to the review stage now.

[2020-10-15 13:40] gkthiruvathukal commented on #2459
@whedon start review

[2020-10-15 13:40] whedon opened #2752 "[REVIEW]: The o80 C++ templated toolbox: Designing customized Python APIs for synchronizing realtime processes"
**Submitting author:** @vincentberenz (<a href="http://orcid.org/0000-0003-2226-9660">Vincent Berenz</a>)
**Repository:** <a href="https://github.com/intelligent-soft-robots/o80" target ="_blank">https://github.com/intelligent-soft-robots/o80</a>
**Version:** v1.0
**Editor:** @gkthiruvathukal
**Reviewers:** @traversaro, @vissarion
**Archive:** <a href="https://doi.org/10.5281/zenodo.5357876" targe

[2020-10-15 13:40] whedon commented on #2459
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2752.

[2020-10-15 13:40] #2459 closed

[2020-10-15 13:40] whedon commented on #2752
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @giodegas, @traversaro it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2020-10-15 13:41] whedon commented on #2752
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02752/joss.02752/10.21105.joss.02752.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02752/joss.02752/10.21105.joss.02752.pdf) :page_facing_up: :point_left:

[2020-10-15 13:41] whedon commented on #2752
[code]

[2020-10-15 13:50] danielskatz commented on #2724
👋 @fboehm - are you willing to edit this submission?

[2020-10-15 13:50] arfon commented on #2745
@gmorello - many thanks for your submission to JOSS. After consulting with the JOSS editorial board, we've determined that this second submission for ExoTETHyS is out of scope for JOSS.

My understanding is that the difference between this submission and the [first ExoTETHyS JOSS paper](https://joss.theoj.org/papers/10.21105/joss.01834) is the BOATS method, which is captured approximately in this

[2020-10-15 13:50] danielskatz commented on #2724
@whedon invite @fboehm as editor

[2020-10-15 13:50] arfon commented on #2745
@whedon reject

[2020-10-15 13:50] whedon commented on #2724
@fboehm has been invited to edit this submission.

[2020-10-15 13:50] whedon commented on #2745
Paper rejected.

[2020-10-15 13:50] #2745 closed

[2020-10-15 13:51] danielskatz commented on #2751
I'm going to mark this as paused for now - please ping us here when fixes are made

[2020-10-15 13:52] arfon commented on #2408
@whedon check references

[2020-10-15 13:54] arfon commented on #2408
Him, Crossref's API is struggling with some of these references. Not sure why...

[2020-10-15 13:54] whedon opened #2753 "[PRE REVIEW]: TDAsweep: A Novel Dimensionality Reduction Method for Image Classification Tasks"
**Submitting author:** @matloff (<a href="http://orcid.org/0000-0001-9179-6785">Norman Matloff</a>)
**Repository:** <a href="https://github.com/matloff/tdaImage" target ="_blank">https://github.com/matloff/tdaImage</a>
**Version:** 1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-

[2020-10-15 13:54] whedon commented on #2753
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-15 13:54] whedon commented on #2753
[code]

[2020-10-15 13:54] whedon commented on #2753
Failed to discover a valid open source license.

[2020-10-15 13:55] whedon commented on #2753
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02753/joss.02753/10.21105.joss.02753.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02753/joss.02753/10.21105.joss.02753.pdf) :page_facing_up: :point_left:

[2020-10-15 13:57] whedon commented on #2753
[code]

[2020-10-15 13:59] fboehm commented on #2724
@whedon assign @fboehm as editor

[2020-10-15 13:59] whedon commented on #2724
OK, the editor is @fboehm

[2020-10-15 14:03] jboynyc commented on #2594
Merged! Thanks for catching those.

[2020-10-15 14:11] arfon commented on #2408
@whedon check references

[2020-10-15 14:11] whedon commented on #2408
[code]

[2020-10-15 14:14] arfon commented on #2408
Fixed this in https://github.com/openjournals/whedon-api/commit/8e4d5d1576ca4bfc1a25adca151f281496501283

[2020-10-15 14:17] majensen commented on #2643
@whedon generate pdf from branch paper

[2020-10-15 14:17] whedon commented on #2643
[code]

[2020-10-15 14:18] whedon commented on #2643
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02643/joss.02643/10.21105.joss.02643.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02643/joss.02643/10.21105.joss.02643.pdf) :page_facing_up: :point_left:

[2020-10-15 14:25] danielskatz commented on #2594
@whedon accept from branch joss

[2020-10-15 14:25] whedon commented on #2594
[code]

[2020-10-15 14:26] whedon commented on #2594
[code]

[2020-10-15 14:26] whedon commented on #2594
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1815

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1815, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-15 14:28] danielskatz commented on #2594
@whedon accept deposit=true from branch joss

[2020-10-15 14:28] whedon commented on #2594
[code]

[2020-10-15 14:29] whedon commented on #2594
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1316747954460471301) 👈 🐦🐦🐦

[2020-10-15 14:29] danielskatz commented on #2382
@KathrynJones1 - please address the comment above this one.

[2020-10-15 14:35] danielskatz commented on #2594
Congratulations to @jboynyc (John Boy)!!

And thanks to @sara-02 & @tresoldi for reviewing, and @gkthiruvathukal for editing!

[2020-10-15 14:35] #2594 closed

[2020-10-15 14:35] whedon commented on #2594
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02594/status.svg)](https://doi.org/10.21105/joss.02594)

**We need your help!**

Journal of Open Source Softwa

[2020-10-15 14:35] matteomancini commented on #2675
I had some time to go through the SLIX repo and I think it is overall a very nice tool. It was very easy to have it up and running, and the command line interface is quite immediate. I had some visualization issue but it was because of what I was using to view the maps and the authors were very quick to reply. One suggestion that I have is to upload the package to PyPI: the installation is already

[2020-10-15 14:40] jboynyc commented on #2594
Thanks to all involved!

[2020-10-15 14:43] danielskatz commented on #2753
👋 @matloff - note that we require an OSI-approved open source license, usually in the form of a LICENSE file in the repo.

Additionally, given the relatively small size of the software, the editors will now discuss if this meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.

We should have a deci

[2020-10-15 14:43] danielskatz commented on #2753
@whedon query scope

[2020-10-15 14:43] whedon commented on #2753
Submission flagged for editorial review.

[2020-10-15 14:46] traversaro commented on #2752
Hi @vincentberenz , I see that you submitted the version o80 v1.0 for review, but I can't find it in the repo any reference to any v1.0 version, can you clarify this? Thanks!

[2020-10-15 14:50] gmorello commented on #2745
Dear @arfon et al.,

Thank you for your time to consider this new submission.

Of course, I can only accept your decision although I am not convinced that the submission did not meet the [substantial scholarly effort criterion](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort):
- It took more than 3 months to complete the update, but it was mostly done on laptop s

[2020-10-15 14:53] vincentberenz commented on #2752
Hi @traversaro , thanks a lot for accepting to review the paper. My apologies, I missed that a tagged/version had to set for review. The master branch is meant to always be the latest stable version. If needed, I'd be happy to tag the latest commit as version 1.0.

[2020-10-15 15:03] kbarnhart commented on #2637
@whedon check references

[2020-10-15 15:09] traversaro commented on #2752
Besides the specific requirement of the JOSS review, it seems to be that at least the repos https://github.com/intelligent-soft-robots/o80 are https://github.com/intelligent-soft-robots/o80_example are relatively tightly coupled (one is the software and one is the canonical example on how to use it). Unless you ensure perpetual API stability (that I could not see in the docs) as a user if I start

[2020-10-15 15:09] kordk commented on #2723
All the "type = {Journal Article}" lines from paper.bib have been removed.

[2020-10-15 15:09] traversaro commented on #2752
Related to installation instructions, I opened an issue in the repo: https://github.com/intelligent-soft-robots/o80/issues/2 .

[2020-10-15 15:26] spectralcode commented on #2580
@whedon generate pdf

[2020-10-15 15:26] whedon commented on #2580
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02580/joss.02580/10.21105.joss.02580.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02580/joss.02580/10.21105.joss.02580.pdf) :page_facing_up: :point_left:

[2020-10-15 15:26] martibosch commented on #2730
Hello @sbenthall,

after going through the README, documentation and example notebooks, I am not sure that the library falls within my expertise (besides my "general" knowledge of the underlying machine learning and GIS involved). Nonetheless, if you do not find other JOSS reviewers that are better suited to the task, I will do my best to review this.

Cheers,
Martí

[2020-10-15 15:30] lzkelley commented on #2746
Hi @arfon sorry for the slow reply, and thanks for handling my submission!

No, not in particular.

Two of them were correct and have been added (in the `dev` branch).

Unfortunately I don't.  I only know a few people who have worked on open-source projects and I don't think they'd be particularly well suited for this in particular.

[2020-10-15 15:36] srmnitc commented on #2563
@jgostick @ml-evs With some issues now fixed, I am able to check all the boxes in the review. With that, I would like to recommend matador for publication. It is a well-written module with very helpful examples and documentation. @jgostick  thanks for inviting me to review and @ml-evs thanks for your efforts in fixing all the issues!

[2020-10-15 15:41] gkthiruvathukal commented on #2752
@traversaro  I think we're ok here and that review can proceed, right?  I think everything being reviewed should be tagged v1.0. You raise good points about the coupled example. Even though that might not show up in the submission metadata, it should be tagged v1.0, too. I think it is safe to proceed with review nevertheless. At the end, based on all issues raised, the authors will probably make s

[2020-10-15 15:46] kbarnhart commented on #2637
@whedon generate pdf

[2020-10-15 15:49] traversaro commented on #2752
Thanks, that is clear to me. For sure the review can continue and is not blocked by this, I just wanted to clarify things.

[2020-10-15 15:56] ml-evs commented on #2563
@whedon generate pdf

[2020-10-15 15:56] whedon commented on #2563
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02563/joss.02563/10.21105.joss.02563.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02563/joss.02563/10.21105.joss.02563.pdf) :page_facing_up: :point_left:

[2020-10-15 16:11] spectralcode commented on #2580
@jdavidli thank you very much! Your performance test results look great!

→ Thanks! I have changed it.

→ Thank you very much, you are right about this! In order not to make the paper any longer (the paper length is already slightly above the required length of [250 - 1000 words](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain)), I rephrased the sentence so that

[2020-10-15 16:14] ml-evs commented on #2563
@whedon check references

[2020-10-15 16:22] matloff commented on #2753
The license is shown as GPL (>= 2) in the DESCRIPTION FILE.

i would suggest Gunnar Carlsson <gunnar@ayasdi.com>  of the Stanford Dept.
of Mathematics as a reviewer.

Norm

On Thu, Oct 15, 2020 at 7:43 AM Daniel S. Katz <notifications@github.com>
wrote:

[2020-10-15 16:39] AngryMaciek commented on #2643
We have just included the most recent changes in the branch `paper` of the [repository](https://github.com/AngryMaciek/angry-moran-simulator).

[2020-10-15 17:10] AngryMaciek commented on #2643
@whedon generate pdf from branch paper

[2020-10-15 17:10] whedon commented on #2643
[code]

[2020-10-15 17:12] whedon commented on #2643
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02643/joss.02643/10.21105.joss.02643.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02643/joss.02643/10.21105.joss.02643.pdf) :page_facing_up: :point_left:

[2020-10-15 17:25] Thyre commented on #2675
@whedon generate pdf

[2020-10-15 17:25] whedon commented on #2675
PDF failed to compile for issue #2675 with the following error:

 /app/vendor/bundle/ruby/2.4.0/gems/octokit-4.8.0/lib/octokit/response/raise_error.rb:16:in `on_complete': GET https://api.github.com/repos/JuliaCon/proceedings-review/issues/2675: 404 - Not Found // See: https://docs.github.com/rest/reference/issues#get-an-issue (Octokit::NotFound)
	from /app/vendor/bundle/ruby/2.4.0/gems/faraday-0.

[2020-10-15 17:41] Thyre commented on #2675
@whedon generate pdf

[2020-10-15 17:41] whedon commented on #2675
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02675/joss.02675/10.21105.joss.02675.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02675/joss.02675/10.21105.joss.02675.pdf) :page_facing_up: :point_left:

[2020-10-15 18:31] Kudusch commented on #2461
Dear Chung-hong Chan (@chainsawriot),

perfect! I just looked through the latest article proof and the changes you made to the repo. You have addressed all of my comments and I have nothing left to complain about!

Thank you for the work you put into this package and the review process!

@kakiac I think, after the two review phases, the paper is now fit for publication and I recommend to accept it

[2020-10-15 19:33] melissawm commented on #2729
:wave: @danehkar, @fhorrobin, @rgmyr would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2020-10-15 20:07] kbarnhart commented on #2637
@whedon generate pdf

[2020-10-15 20:08] whedon commented on #2637
PDF failed to compile for issue #2637 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (9c521b79eda83c1ddbaf2d30/paper/paper.md): invalid trailing UTF-8 octet at line 1 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/vendo

[2020-10-15 20:11] miriammenzel commented on #2675
@matteomancini: Thank you very much for your positive comment and your constructive feedback. Scattered Light Imaging is indeed a very novel technique. It has been recently developed by our group and first introduced in [Menzel et al. PRX 10:021002 (2020)](https://journals.aps.org/prx/abstract/10.1103/PhysRevX.10.021002). It is the first technique of its kind, using light scattering in the optical

[2020-10-15 20:12] kbarnhart commented on #2637
@tylunel it looks like there is an issue with the paper.md file that makes it not compile. Would you address it and then ping me so I can proceed.

If you make changes on a test branch, know that you can use whedon to compile off a custom branch:

[code]

[2020-10-15 20:17] KathrynJones1 commented on #2382
Apologies, this message slipped through my notifications - I have merged the request now

[2020-10-15 20:19] kbarnhart commented on #2585
@elbeejay thanks for the update and for responding to reviewer comments with changes in your submitted software.

@gassmoeller and @dbuscombe-usgs please let me know if you seen any outstanding issues or if there are remaining items that @elbeejay and co-authors should attend to.

@dbuscombe-usgs there is one check-box remaining (related to community guidelines). Since I know you are not able to c

[2020-10-15 20:32] eloisabentivegna commented on #2734
Dear @betatim, would you be available to review this submission?

[2020-10-15 20:32] jgostick commented on #2725
@arose, you are listed as a potential volunteer reviewer for JOSS, and your subject area not only includes MD, but "molecular graphics" as well.  Please let me know by adding to this issue thread whether you're able to review this contribution.

[2020-10-15 20:36] fboehm commented on #2724
@henrykironde - would you be willing to write a vignette for the R package? I'm interested in seeing the package used in practice to access an interesting data set. How do I, as a user, know which data sets are available? Maybe a vignette could list the currently available data sets and demonstrate something interesting with one or two data sets. Thank you!

[2020-10-15 20:37] jgostick commented on #2725
@marshallmcdonnell, you are listed in our database of potential volunteers for JOSS, though it seems you've not had the privilege of doing one yet.  Your expertise in MD and web applications is highly relevant to this submission.  Please let me know by adding a comment to this issue whether you're able to review this contributions.

[2020-10-15 20:42] jgostick commented on #2624
@whedon set 10.5281/zenodo.4089118 as archive

[2020-10-15 20:42] whedon commented on #2624
OK. <a href="https://doi.org/10.5281/zenodo.4089118" target="_blank">10.5281/zenodo.4089118</a> is the archive.

[2020-10-15 20:46] jgostick commented on #2624
@whedon generate pdf

[2020-10-15 20:47] matthewfeickert commented on #2734
Hi Tim! :)  :wave:

I don't think there's any conflict of interest, but I'll just note here to be transparent that @betatim knows the authors quite well.

[2020-10-15 20:47] whedon commented on #2624
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02624/joss.02624/10.21105.joss.02624.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02624/joss.02624/10.21105.joss.02624.pdf) :page_facing_up: :point_left:

[2020-10-15 20:51] eloisabentivegna commented on #2734
Thanks for letting me know, @matthewfeickert. @betatim, if you are available to review, could you first check out the conflict-of-interest policy (https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#joss-conflict-of-interest-policy)?

[2020-10-15 20:52] jgostick commented on #2624
@whedon accept

[2020-10-15 20:52] whedon commented on #2624
[code]

[2020-10-15 20:53] whedon commented on #2624
[code]

[2020-10-15 20:53] whedon commented on #2624
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1817

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1817, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-15 20:54] jgostick commented on #2563
Hi @ml-evs There are a few things left to do:

Here is a list of what to do next:

- [ ] Double check authors and affiliations (including ORCIDs)
- [ ] Make a release of the software with the latest changes from the review and post the version number here. This is the version that will be used in the JOSS paper.
- [ ] Archive the release on Zenodo/figshare/etc and post the DOI here.
- [ ] Make sur

[2020-10-15 20:55] jgostick commented on #2671
HI @ajjackson How is the review coming?  Don't forget to check off the tick-boxes at the top of this thread for each aspect of the code as you look through it.

[2020-10-15 21:07] marshallmcdonnell commented on #2725
@jgostick I'd be very happy to review this contribution! Upon a cursory look, I am very interested in the submission!

[2020-10-15 21:22] mbod commented on #2461
@chainsawriot

I was not able to get all the tests to pass and didn't immediately see documentation on the scope of the tests and how to run them.

[code]

[2020-10-15 21:33] mbod commented on #2461
@chainsawriot paper now reads well - installation steps are documentation.

* However, I would anticipate that a segment of the user-base who would really want to benefit from a tool like this might need more hand holding and walk through setup. Perhaps assuming all will be RStudio and R familiar is appropriate given the specific tools/models oolong is designed to interoperate with. For the future

[2020-10-15 21:34] jgostick commented on #2725
@whedon assign @marshallmcdonnell as reviewer

[2020-10-15 21:34] whedon commented on #2725
OK, @marshallmcdonnell is now a reviewer

[2020-10-15 21:34] ajjackson commented on #2671
I have been working through the tutorial today, will pick it up again once the molecular dynamics part has run. This is with a view to checking the functionality/doc quality.

There are probably some more checkboxes that I can already tick, will get on those soon.

I have posted one documentation-related issue on the project board here
https://gitlab.com/vibes-developers/vibes/-/issues/21

[2020-10-15 21:35] jgostick commented on #2725
Thanks @marshallmcdonnell I'll start the reviewer soon once I find a second reviewer, then  you can click the 'check boxes', but in the meantime feel free to start evaluating it!

[2020-10-15 21:36] jgostick commented on #2671
Thanks for the update.

[2020-10-15 21:43] danielskatz commented on #2624
👋 @nicolet5 - this basically looks ready to go, but I have some questions about cases in the references.  I feel like Gaussian and Lorentzian should be capitalized, for example.  And lifepo4 doesn't seem correct either.  Can you fix these, by protecting the capital letters with {}s in the bib file, along with anything else similar that I didn't catch?  Then we can proceed to accept this submission

[2020-10-15 22:26] mbobra commented on #2629
👋 @amanchokshi I am going through the checklist and your package looks really nice. It has been an easy review so far. I have a couple comments:

**Functionality**
* I am trying to follow the [Embers by Example](https://embers.readthedocs.io/en/latest/embersbyexample.html) guide and am stuck on the second code block. Is test_tool installed with embers? When I try to run the command `python -m test

[2020-10-15 22:39] chainsawriot commented on #2461
@mbod I think the de facto standard way to run unit tests of an R package is for you to clone the git repo to your local; change the working directory to the base directory of the R package; and then run: `devtools::test()` or if you like: `devtools::check(manual = TRUE, remote = TRUE)`. But please make sure you have set up an environment that can run those checks (e.g. latex etc) if you want to d

[2020-10-15 22:50] changliao1025 commented on #2751
Hi, @danielskatz, I have made edits to the repository as you suggested. Please let me know your further suggestions.

[2020-10-15 23:02] pibion commented on #2686
@mvandam , @frigaut this is Amy Roberts - I'm one of the editors of JOSS (https://joss.theoj.org/about).

The review is a review of both the software and the paper.  JOSS reviews are a bit different from traditional journal reviews in that once it's been decided that the paper is in scope, the purpose of the review is to work with the author to improve the code so that it meets the basic JOSS publ

[2020-10-15 23:06] dbuscombe-usgs commented on #2585
I've read over the responses and proof and I am satisfied. Good job authors! Please check my remaining box! (I don't know what is up with that - I also tried on firefox)

[2020-10-15 23:39] chainsawriot commented on #2461
@mbod Could you please also elaborate on what did you mean by "need more hand-holding and walk through setup", so that we can improve the paper accordingly?

Did you mean the information such as installation instructions or even information on how to train a topic model? This kind of hands on information can be found in the [overview on Github](https://github.com/chainsawriot/oolong/blob/master/ov

[2020-10-16 00:18] danielskatz commented on #2751
@whedon generate pdf

[2020-10-16 00:18] whedon commented on #2751
PDF failed to compile for issue #2751 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (340cee360f20054ecb6766fd/paper.md): could not find expected ':' while scanning a simple key at line 28 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `p

[2020-10-16 00:21] danielskatz commented on #2751
@changliao1025  - The paper does not compile - please check the format of the paper against the example, and then use ```@whedon generate pdf``` - and repeat until it looks right to you.

[2020-10-16 00:21] danielskatz commented on #2751
@whedon check references

[2020-10-16 00:23] danielskatz commented on #2751
@whedon check references

[2020-10-16 00:24] danielskatz commented on #2751
👋 @openjournals/dev - Why doesn't the reference check work here?

[2020-10-16 00:57] mvandam commented on #2686
OK, I am happy to give it a go!

[2020-10-16 01:47] ablaom commented on #2704
I don't agree that the paper duplicates the documentation. Rather it discusses the high level design, focusing on those aspects that are novel or different from other machine learning toolboxes.

That said, after more carefully reading the link above, it seems this forum is not intended for design discussions. Contributions are more in the way of "announcements" than "papers". Yes?

 Over the past

[2020-10-16 02:34] changliao1025 commented on #2751
Sure, I will test with the bot first and then get back.

[2020-10-16 02:40] amanchokshi commented on #2629
@mbobra Thanks Monica. I've addressed most of your comments.

#### Functionality
In Embers by Example, the second and third code blocks are meant for people unfamiliar with python. `test_tool` is an example package which doesn't exist, but is used to demonstrate that the tools can be run using either `python -m test_tool` or simply `test_tool`. The following code block show that help can be access

[2020-10-16 03:37] changliao1025 commented on #2751
@whedon generate pdf

[2020-10-16 03:37] whedon commented on #2751
PDF failed to compile for issue #2751 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (27048a8315bbcd2e5886ca83/paper.md): could not find expected ':' while scanning a simple key at line 28 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `p

[2020-10-16 03:39] changliao1025 commented on #2751
@whedon generate pdf

[2020-10-16 03:39] whedon commented on #2751
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02751/joss.02751/10.21105.joss.02751.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02751/joss.02751/10.21105.joss.02751.pdf) :page_facing_up: :point_left:

[2020-10-16 03:46] changliao1025 commented on #2751
@whedon generate pdf

[2020-10-16 03:47] whedon commented on #2751
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02751/joss.02751/10.21105.joss.02751.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02751/joss.02751/10.21105.joss.02751.pdf) :page_facing_up: :point_left:

[2020-10-16 04:00] changliao1025 commented on #2751
@whedon generate pdf

[2020-10-16 04:00] whedon commented on #2751
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02751/joss.02751/10.21105.joss.02751.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02751/joss.02751/10.21105.joss.02751.pdf) :page_facing_up: :point_left:

[2020-10-16 04:02] changliao1025 commented on #2751
@whedon generate pdf

[2020-10-16 04:03] whedon commented on #2751
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02751/joss.02751/10.21105.joss.02751.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02751/joss.02751/10.21105.joss.02751.pdf) :page_facing_up: :point_left:

[2020-10-16 04:10] changliao1025 commented on #2751
@whedon generate pdf

[2020-10-16 04:11] whedon commented on #2751
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02751/joss.02751/10.21105.joss.02751.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02751/joss.02751/10.21105.joss.02751.pdf) :page_facing_up: :point_left:

[2020-10-16 04:28] changliao1025 commented on #2751
@whedon generate pdf

[2020-10-16 04:29] whedon commented on #2751
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02751/joss.02751/10.21105.joss.02751.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02751/joss.02751/10.21105.joss.02751.pdf) :page_facing_up: :point_left:

[2020-10-16 04:40] changliao1025 commented on #2751
@whedon generate pdf

[2020-10-16 04:41] whedon commented on #2751
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02751/joss.02751/10.21105.joss.02751.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02751/joss.02751/10.21105.joss.02751.pdf) :page_facing_up: :point_left:

[2020-10-16 04:42] changliao1025 commented on #2751
@whedon check references

[2020-10-16 04:43] whedon commented on #2751
[code]

[2020-10-16 04:55] changliao1025 commented on #2751
@danielskatz , I have fixed the bug in the files and both paper.md and references were compiled successfully.

[2020-10-16 05:08] steven-murray commented on #2582
@whedon generate pdf from branch joss-paper

[2020-10-16 05:08] whedon commented on #2582
[code]

[2020-10-16 05:08] whedon commented on #2582
PDF failed to compile for issue #2582 with the following error:

 Can't find any papers to compile :-(

[2020-10-16 05:13] steven-murray commented on #2582
@sultanier the updates to the hyperlinks have been merged. The benchmarks have also been added to the paper, but I can't seem to get it to compile. @dfm do you have any idea what could be going wrong there? The paper is definitely still there in the `joss-paper` branch...

@sambit-giri I'm not sure if all your questions/comments were addressed adequately?

[2020-10-16 07:24] vincentberenz commented on #2752
@traversaro @gkthiruvathukal I tagged both o80 and o80_example with version 1.0. Thanks for the comments on the alignment of versions between o80 and o80_example, as well as for the issue related to the installation procedure and the broken links.
This is my first submission to JOSS: what is the recommended way ? Answering comments/issues as they are arise, in an interactive fashion, or wait for t

[2020-10-16 08:23] eloisabentivegna commented on #2513
Hi @zingale, I have created a PR on the Castro repository with fixes to the DOI problems above. Can you check that everything works, and merge?

[2020-10-16 08:24] eloisabentivegna commented on #2495
Dear @iliantiliev, have you been able to check out the repository? Please let us know if you are encountering problems with the code.

[2020-10-16 09:04] Kokookster commented on #2725
Hi @jgostick, @marshallmcdonnell,
Looking forward to going through this review process guided by you!

[2020-10-16 09:23] arfon commented on #2580
@spectralcode - thanks for the updates.

@jdavidli - with these latest changes, are you ready to check off the remaining items in your reviewer checklist above?

[2020-10-16 09:38] richelbilderbeek commented on #2738
Hi @kthyng, I have processed your feedback:

Upon your request, I have added the LICENSE file.

Fixed the DOIs indited by [this](https://github.com/openjournals/joss-reviews/issues/2738#issuecomment-706222339) @whelan commit.

AFAICS the Introduction serves that purpose:

a set of evolutionary models on a DNA alignment, which allows
to select that model that is closest to the process that underlie

[2020-10-16 09:41] sambit-giri commented on #2582
@steven-murray My questions/comments were addressed. I thought that I had checked all the points, which I noticed now that I hadn't. Sorry for the delay.

[2020-10-16 09:45] sambit-giri commented on #2582
@dfm I am done with the reviewing process.
Is there any other unfinished formality?

[2020-10-16 09:52] Nico-Curti commented on #2663
Hi @arokem,
I have solved both the issues.
Let me know if everything is ok now.

[2020-10-16 10:42] mikldk commented on #2722
@xin-huang, @nthomasCUBE: I'm just checking in to hear if everything is progressing or is there is anything you need help to?

[2020-10-16 10:43] mikldk commented on #2630
@VincentAlcazer: I think the paper would benefit from including some of these considerations. What do you think, @nistara and @adithirgis?

[2020-10-16 11:09] ml-evs commented on #2563
Hi @jgostick,

- [x] Double check authors and affiliations (including ORCIDs)

ORCIDs in the paper are correct, though I don't see them rendering in the preview.

- [x] Make a release of the software with the latest changes from the review and post the version number here. This is the version that will be used in the JOSS paper.

v0.9.9 has just been released https://github.com/ml-evs/matador/rele

[2020-10-16 11:59] dfm commented on #2582
@sambit-giri and @sultanier: You're both all set! Thank you for your time and for your constructive reviews!!

@steven-murray: I'll see if I can figure out the whedon issues and get back to you with next steps.

[2020-10-16 11:59] dfm commented on #2582
@whedon generate pdf from branch joss-paper

[2020-10-16 11:59] whedon commented on #2582
[code]

[2020-10-16 11:59] whedon commented on #2582
PDF failed to compile for issue #2582 with the following error:

 Can't find any papers to compile :-(

[2020-10-16 12:14] dfm commented on #2582
Pinging @openjournals/dev to see if there are any thoughts about why @whedon can't find the paper. I can confirm that [whedon.theoj.org](https://whedon.theoj.org/) is able to find it. Thanks!

[2020-10-16 12:27] danielskatz commented on #2751
👋 @kbarnhart - given your volunteering in the editorial discussion, I'm going to go ahead and assign this to you - let me know if that's a problem.

[2020-10-16 12:27] danielskatz commented on #2751
@whedon assign @kbarnhart as editor

[2020-10-16 12:27] whedon commented on #2751
OK, the editor is @kbarnhart

[2020-10-16 12:28] danielskatz commented on #2723
@whedon check repository

[2020-10-16 12:28] whedon commented on #2723
[code]

[2020-10-16 12:29] danielskatz commented on #2723
@kordk - Whedon still only sees 584 lines of code here.

[2020-10-16 12:30] danielskatz commented on #2723
@whedon generate pdf from branch joss-paper-branch

[2020-10-16 12:30] whedon commented on #2723
[code]

[2020-10-16 12:30] whedon opened #2754 "[PRE REVIEW]: The Pulsar Signal Simulator: A Python package for simulating radio signal data from pulsars"
**Submitting author:** @Hazboun6 (<a href="http://orcid.org/0000-0003-2742-3321">Jeffrey Hazboun</a>)
**Repository:** <a href="https://github.com/PsrSigSim/PsrSigSim" target ="_blank">https://github.com/PsrSigSim/PsrSigSim</a>
**Version:** v1.0.0
**Editor:** @mbobra
**Reviewers:** @JBorrow, @arjunsavel
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the

[2020-10-16 12:30] whedon commented on #2754
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-16 12:30] whedon opened #2755 "[PRE REVIEW]: ambrosia: An R package for calculating and analyzing food demand and in accordance with the Edmonds et al. food demand model"
**Submitting author:** @kanishkan91 (<a href="http://orcid.org/0000-0001-8483-6216">Kanishka Narayan</a>)
**Repository:** <a href="https://github.com/JGCRI/ambrosia" target ="_blank">https://github.com/JGCRI/ambrosia</a>
**Version:** v1.3.0
**Editor:** @dhhagan
**Reviewers:** @tscheypidi, @sahilseth
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the cha

[2020-10-16 12:30] whedon commented on #2755
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-16 12:30] whedon opened #2756 "[PRE REVIEW]: PMLB v1.0: an open source dataset collection for benchmarking machine learning methods"
**Submitting author:** @trang1618 (<a href="http://orcid.org/0000-0003-3737-6565">Trang Le</a>)
**Repository:** <a href="https://github.com/EpistasisLab/pmlb" target ="_blank">https://github.com/EpistasisLab/pmlb</a>
**Version:** v1.0.2
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-1

[2020-10-16 12:30] whedon commented on #2756
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-16 12:30] whedon commented on #2754
[code]

[2020-10-16 12:31] whedon commented on #2754
[code]

[2020-10-16 12:31] whedon commented on #2723
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02723/joss.02723/10.21105.joss.02723.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02723/joss.02723/10.21105.joss.02723.pdf) :page_facing_up: :point_left:

[2020-10-16 12:31] whedon commented on #2755
[code]

[2020-10-16 12:31] whedon commented on #2754
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02754/joss.02754/10.21105.joss.02754.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02754/joss.02754/10.21105.joss.02754.pdf) :page_facing_up: :point_left:

[2020-10-16 12:32] whedon commented on #2755
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02755/joss.02755/10.21105.joss.02755.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02755/joss.02755/10.21105.joss.02755.pdf) :page_facing_up: :point_left:

[2020-10-16 12:32] whedon commented on #2756
[code]

[2020-10-16 12:32] danielskatz commented on #2704
Right - JOSS papers are not about the process of developing the software, they are about the produced software, aimed at users of the software.

[2020-10-16 12:32] whedon commented on #2755
[code]

[2020-10-16 12:33] whedon commented on #2756
[code]

[2020-10-16 12:33] danielskatz commented on #2704
@whedon generate pdf

[2020-10-16 12:34] whedon commented on #2756
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02756/joss.02756/10.21105.joss.02756.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02756/joss.02756/10.21105.joss.02756.pdf) :page_facing_up: :point_left:

[2020-10-16 12:34] whedon commented on #2704
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02704/joss.02704/10.21105.joss.02704.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02704/joss.02704/10.21105.joss.02704.pdf) :page_facing_up: :point_left:

[2020-10-16 12:36] danielskatz commented on #2704
I'll turn this back over to the editor and reviewers for further discussion, if needed

[2020-10-16 12:43] danielskatz commented on #2756
👋 @trang1618 - I'm the Associate Editor-in-Chief on duty for JOSS this week, and I'm trying to understand if this submission is in scope for JOSS, and I suspect it is not. Can you explain why why you think it is?  It seems to mostly be data, not software, though there is a small amount of software to access and view the data.

[2020-10-16 12:43] danielskatz commented on #2756
@whedon query scope

[2020-10-16 12:43] whedon commented on #2756
Submission flagged for editorial review.

[2020-10-16 12:48] danielskatz commented on #2755
@kanishkan91 - thanks for your submission.

In my opinion, the paper is too long.  I suggest moving some of the example content into the software documentation, perhaps in a tutorial on usage.

I also suggest that most of the information just before the acknowledgements could either be a few lines of text, rather than a page of bullets, or again, moved into the repository/documentation/README.

Fi

[2020-10-16 12:49] danielskatz commented on #2755
Also, you probably need to protect some letters in the bib with {} to make/keep them upper case, such as FAIR in one reference.

[2020-10-16 12:51] danielskatz commented on #2755
👋 @dhhagan - would you be willing to edit this?  I know it's a bit out of your area, but I'm also trying to balance assignments/work

[2020-10-16 12:52] danielskatz commented on #2755
@whedon invite @dhhagan as editor

[2020-10-16 12:52] whedon commented on #2755
@dhhagan has been invited to edit this submission.

[2020-10-16 12:53] danielskatz commented on #2754
Note: This is associated with a AAS submission

[2020-10-16 12:54] danielskatz commented on #2754
👋 @mbobra - would you be willing to edit this submission? You were suggested by the authors.

[2020-10-16 12:54] danielskatz commented on #2754
@whedon invite @mbobra as editor

[2020-10-16 12:54] whedon commented on #2754
@mbobra has been invited to edit this submission.

[2020-10-16 13:11] adithirgis commented on #2630
Hi @mikldk and @VincentAlcazer,

I think it would good to add the strong points (for the benefit of the users) in the paper.

[2020-10-16 14:03] arfon commented on #2582
@whedon generate pdf from branch joss-paper

[2020-10-16 14:03] whedon commented on #2582
[code]

[2020-10-16 14:04] whedon commented on #2582
PDF failed to compile for issue #2582 with the following error:

 Can't find any papers to compile :-(

[2020-10-16 14:06] arfon commented on #2582
Weird, I need to dig into this more. Pls hold.

[2020-10-16 14:53] dfm commented on #2582
Thanks @arfon!

[2020-10-16 14:57] sultan-hassan commented on #2582
Great, looking forward to see the last version of the paper. congrats!

Sultan

p.s. just a note for your reference, I have changed my username to @sultan-hassan

[2020-10-16 15:02] iaklampanos commented on #2664
Thank you @danielskatz and also @rafaelfsilva and @Himscipy for your very helpful comments.

The gitlab tag is v3.5.

We archived the software on zenodo - https://zenodo.org/record/4095463#.X4m04C8RoWo.

The DOI assigned is 10.5281/zenodo.4095463

[2020-10-16 15:13] kanishkan91 commented on #2755
@danielskatz Thanks much for the comments! we will work on cutting down the length of the paper as you suggest.

By the way, these examples are documented on a user tutorial here on the repository - https://jgcri.github.io/ambrosia/articles/ambrosia_vignette.html

This is also referenced in the README.md . The user tutorial in addition to other documentation can also be accessed here-
https://jgcr

[2020-10-16 15:22] traversaro commented on #2752
It is the first review of JOSS as well. I don't know if there is any recommendation on that, but looking at the other reviews, it seems that an interactive review seems to be possible. Personally I think that interactive review would be desirable, for example because I wanted to test the example, and I already found problems in following the docs for installation, so for me it would be ideal if th

[2020-10-16 15:34] kthyng commented on #2736
@whedon generate pdf

[2020-10-16 15:34] whedon commented on #2736
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02736/joss.02736/10.21105.joss.02736.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02736/joss.02736/10.21105.joss.02736.pdf) :page_facing_up: :point_left:

[2020-10-16 15:36] trang1618 commented on #2756
Hi @danielskatz, thank you for taking a look.

Here’s a bit of background. The initial PMLB publication from 2017 introduced the data:

Randal S. Olson, William La Cava, Patryk Orzechowski, Ryan J. Urbanowicz, Jason H. Moore
*BioData Mining* (2017-12) <https://doi.org/gfrbw5>
DOI: [10.1186/s13040-017-0154-4](https://doi.org/10.1186/s13040-017-0154-4) · PMID: [29238404](https://www.ncbi.nlm.nih.gov

[2020-10-16 15:51] kthyng commented on #2736
@whedon check references

[2020-10-16 15:53] whedon commented on #2736
[code]

[2020-10-16 15:55] kthyng commented on #2736
@evanoffPNNL and @crvernon — please modify your bib file to include the missing DOIs listed above.

@evanoffPNNL thanks for the long list of reviewer ideas! I'll invite people now.

[2020-10-16 15:58] kthyng commented on #2736
@mikejohnson51 and @nuest — are you interested in reviewing this submission to JOSS? Reviews for JOSS are open on github and are checklist-driven. As you find items to bring up in the review process, you open issues to the software repository itself, link to the review issue, and explain the comment. We're asking for reviews within 5-6 weeks, a long timeline due to the pandemic. You can find more

[2020-10-16 16:12] agahkarakuzu commented on #2727
@Kevin-Mattheus-Moerman I came back to this issue to see the latest changes, then noticed that I still don't appear on the list of reviewers.

[2020-10-16 16:29] danielskatz commented on #2755
Thanks - any further discussion probably should wait for the editor (and the reviewers).

[2020-10-16 16:39] mbobra commented on #2754
@whedon assign @mbobra as editor

[2020-10-16 16:39] whedon commented on #2754
OK, the editor is @mbobra

[2020-10-16 16:56] danielskatz commented on #2664
@whedon set v3.5 as version

[2020-10-16 16:56] whedon commented on #2664
OK. v3.5 is the version.

[2020-10-16 16:56] danielskatz commented on #2664
@whedon set 10.5281/zenodo.4095463 as archive

[2020-10-16 16:56] whedon commented on #2664
OK. <a href="https://doi.org/10.5281/zenodo.4095463" target="_blank">10.5281/zenodo.4095463</a> is the archive.

[2020-10-16 16:56] Hazboun6 commented on #2754
Thanks @danielskatz for getting things started and @mbobra for agreeing to be our editor!
I have two suggestions of reviewers from your list:  garrettj403, arjunsavel

And here is one suggestion not on your list: aparthas3112

Wondering if @paulthebaker or @bshapiroalbert have other suggestions?

[2020-10-16 16:57] danielskatz commented on #2664
@whedon accept

[2020-10-16 16:57] whedon commented on #2664
[code]

[2020-10-16 16:57] whedon commented on #2664
[code]

[2020-10-16 16:58] whedon commented on #2664
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1818

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1818, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-16 17:00] mbobra commented on #2754
Thanks for your suggestions, @Hazboun6 -- I really appreciate it. I will get started on finding you some reviewers!

[2020-10-16 17:06] danielskatz commented on #2664
This looks almost ready - but I found a couple of small issues in the bib, addressed in https://gitlab.com/project-dare/dare-platform/-/merge_requests/7 - let me know when this is merged

[2020-10-16 17:14] danielskatz commented on #2756
Thanks @trang1618 - The editors will now look at this, including your statements above and make a decision. We should be able to let you know around the middle of next week.

[2020-10-16 17:23] arfon commented on #2582
OK, I've figured out what's going on. I've not quite figured out the 'proper' fix here but I have a short-term solution. **tl;dr** – delete (or rename) the `joss-paper` folder in your default (`master`) branch and everything should be fine.

If you're interested, here's what's going on:

The issue here is that we're asking Whedon to act on the `joss-paper` branch but there's also a folder named `j

[2020-10-16 17:43] arokem commented on #2663
@whedon generate pdf

[2020-10-16 17:43] whedon commented on #2663
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02663/joss.02663/10.21105.joss.02663.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02663/joss.02663/10.21105.joss.02663.pdf) :page_facing_up: :point_left:

[2020-10-16 17:50] arokem commented on #2663
Thank you. Could you please make sure that the Krauth and Mézard reference has the same format as the other references? It currently has the word "In" before the name of the journal (not needed) and the word "Vol" explicitly mentioned. It should look like this:

Krauth, W., & Mézard, M. (1989). Storage capacity of memory networks with binary couplings. *Journal de Physique*, 50, 3057–3066. doi:10.

[2020-10-16 18:01] bshapiroalbert commented on #2754
I will echo @Hazboun6 in thanking both @danielskatz and @mbobra! I do not have any other suggestions for reviewers right now, but I agree with @Hazboun6 's suggestions.

[2020-10-16 18:43] henrykironde commented on #2724
Yes we are going to create the vignette

[2020-10-16 18:59] steven-murray commented on #2582
I'll just merge the PR and we can build off master :-)

[2020-10-16 19:00] steven-murray commented on #2582
@whedon generate pdf

[2020-10-16 19:01] mbobra commented on #2629
@whedon generate pdf

[2020-10-16 19:01] whedon commented on #2582
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02582/joss.02582/10.21105.joss.02582.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02582/joss.02582/10.21105.joss.02582.pdf) :page_facing_up: :point_left:

[2020-10-16 19:01] whedon commented on #2629
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02629/joss.02629/10.21105.joss.02629.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02629/joss.02629/10.21105.joss.02629.pdf) :page_facing_up: :point_left:

[2020-10-16 19:12] xin-huang commented on #2722
Hi @mikldk, I am preparing for a conference on 26th. I will finish the review after that.

[2020-10-16 19:15] sultan-hassan commented on #2582
Hi @dfm, I have chnaged my github username, is it possible to update that in the paper too? thanks.

[2020-10-16 19:16] dfm commented on #2582
@sultan-hassan: yes thanks for the heads up! I'll fix it in the process of the final edit.

[2020-10-16 19:17] steven-murray commented on #2582
@whedon generate pdf from branch joss-paper-fixes

[2020-10-16 19:17] whedon commented on #2582
[code]

[2020-10-16 19:17] whedon commented on #2582
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02582/joss.02582/10.21105.joss.02582.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02582/joss.02582/10.21105.joss.02582.pdf) :page_facing_up: :point_left:

[2020-10-16 19:32] mbobra commented on #2629
Thanks for your updates, I really appreciate it. I'm working through the examples and am still a bit confused.

One example the Embers by Example docs says:

[code]

But this doesn't work exactly as written for me; I have to do a
[code]
But then I'm stuck, because I don't see any example rf_tiles to use with `rf_data.single_waterfall()`.

Would it be possible to create a couple examples that a use

[2020-10-16 19:57] nistara commented on #2630
I agree as well...these points provide a contrast for StatAid and also highlight some of its salient features. In addition to options for different statistical tests, I particularly liked the visualization options and the choice of different color palettes. A lot of consideration should go into analyses in general, and there could be models more suitable than those provided at the moment (e.g. mix

[2020-10-16 20:02] profxj commented on #2308
Pinging @harpolea for an update.
Much appreciated.

[2020-10-16 20:38] jdavidli commented on #2580
@spectralcode thanks for making those changes!
@arfon yes this concludes my review.

[2020-10-16 21:22] whedon commented on #2582
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02582/joss.02582/10.21105.joss.02582.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02582/joss.02582/10.21105.joss.02582.pdf) :page_facing_up: :point_left:

[2020-10-16 21:37] mbobra commented on #2754
@whedon assign @JBorrow as reviewer

[2020-10-16 21:37] whedon commented on #2754
OK, @JBorrow is now a reviewer

[2020-10-16 21:38] mbobra commented on #2754
@whedon add @arjunsavel as reviewer

[2020-10-16 21:38] whedon commented on #2754
OK, @arjunsavel is now a reviewer

[2020-10-16 21:38] mbobra commented on #2754
@whedon start review

[2020-10-16 21:38] whedon opened #2757 "[REVIEW]: The Pulsar Signal Simulator: A Python package for simulating radio signal data from pulsars"
**Submitting author:** @Hazboun6 (<a href="http://orcid.org/0000-0003-2742-3321">Jeffrey Hazboun</a>)
**Repository:** <a href="https://github.com/PsrSigSim/PsrSigSim" target ="_blank">https://github.com/PsrSigSim/PsrSigSim</a>
**Version:** v1.0.1
**Editor:** @mbobra
**Reviewer:** @JBorrow, @arjunsavel
**Archive:** <a href="https://doi.org/10.5281/zenodo.4521235" target="_blank">10.5281/zenodo.4521

[2020-10-16 21:38] whedon commented on #2754
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2757.

[2020-10-16 21:38] #2754 closed

[2020-10-16 21:38] whedon commented on #2757
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @JBorrow, @arjunsavel it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2020-10-16 21:38] whedon commented on #2757
[code]

[2020-10-16 21:39] whedon commented on #2757
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02757/joss.02757/10.21105.joss.02757.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02757/joss.02757/10.21105.joss.02757.pdf) :page_facing_up: :point_left:

[2020-10-16 21:49] mbobra commented on #2757
👋 @JBorrow @arjunsavel Thank you so much for agreeing to review this submission! You'll see your reviewer checklists above. Please feel free to ask questions here on this review thread.

Please note that this article is in collaboration with AAS publishing (the submitting authors submitted a companion paper to *The Astrophysical Journal*). As part of this collaboration, AAS publishing makes a smal

[2020-10-16 21:57] lpantano commented on #2410
@whedon set 10.5281/zenodo.4086165 as archive

[2020-10-16 21:57] whedon commented on #2410
OK. <a href="https://doi.org/10.5281/zenodo.4086165" target="_blank">10.5281/zenodo.4086165</a> is the archive.

[2020-10-16 21:57] lpantano commented on #2410
@whedon set v1.0.1 as version

[2020-10-16 21:57] whedon commented on #2410
OK. v1.0.1 is the version.

[2020-10-16 21:59] lpantano commented on #2410
@whedon accept

[2020-10-16 21:59] whedon commented on #2410
[code]

[2020-10-16 21:59] whedon commented on #2410
[code]

[2020-10-16 22:00] whedon commented on #2410
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1819

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1819, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-16 22:32] eloisabentivegna commented on #2513
@whedon check references

[2020-10-16 22:32] whedon commented on #2513
[code]

[2020-10-16 22:39] eloisabentivegna commented on #2513
@whedon check references from branch development

[2020-10-16 22:39] whedon commented on #2513
[code]

[2020-10-16 22:40] whedon commented on #2513
[code]

[2020-10-16 22:43] eloisabentivegna commented on #2513
@whedon generate pdf from branch development

[2020-10-16 22:44] whedon commented on #2513
[code]

[2020-10-16 22:44] whedon commented on #2513
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02513/joss.02513/10.21105.joss.02513.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02513/joss.02513/10.21105.joss.02513.pdf) :page_facing_up: :point_left:

[2020-10-16 22:58] sgkang commented on #2690
@whedon: It seems the invitation that you have sent has expired. Can you invite again.
I am just starting this review.

[2020-10-16 22:58] whedon commented on #2690
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-10-16 23:00] kordk commented on #2723
@danielskatz - The code has now been successfully pushed to the github repository and verified by eye.

[2020-10-16 23:01] kordk commented on #2723
@whedon check repository

[2020-10-16 23:02] whedon commented on #2723
[code]

[2020-10-16 23:05] sgkang commented on #2690
@whedon add @sgkang as a reviewer

[2020-10-16 23:05] whedon commented on #2690
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-10-16 23:07] sgkang commented on #2690
Hi @hugoledoux, can you invite me again? I am just starting the review, and the invitation link has expired.

[2020-10-16 23:12] danielskatz commented on #2410
👋 @waxlamp - There are some small changes needed in the paper.  See https://github.com/girder/viime/pull/687.  Also, in line 194 of that file, is "-log10" correct?  I don't understand the "-".

Finally, for @lpantano - this paper is far, far too long.  Much of the content should be in the documentation, and just pointed to from the paper.  The ideal for a JOSS paper is 250-1000 words, as described

[2020-10-16 23:13] danielskatz commented on #2690
@whedon re-invite @sgkang as reviewer

[2020-10-16 23:13] whedon commented on #2690
OK, the reviewer has been re-invited.

@sgkang please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-10-17 00:56] kbarnhart commented on #2751
Sounds good @danielskatz thanks!

[2020-10-17 01:40] sp94 commented on #2678
Hi @dpsanders, as the reviewers are happy I've [deposited v0.1.1 to Zenodo](https://zenodo.org/record/4097237), the DOI is 10.5281/zenodo.4097236. I've set the Zenodo title and authors to match the JOSS paper.

[2020-10-17 02:01] lpantano commented on #2410
Thanks, I will do that. I wasnt sure how much longer was the limit(sorry).
The -log10 of the p-value is a common transformation to get small values
(<0.00*) to be large positive numbers. I think probably the transformation
is -1*log10.

[2020-10-17 05:21] sissythem commented on #2664
@danielskatz we have merged this update

[2020-10-17 07:34] arfon commented on #2572
@whedon assign me as editor

[2020-10-17 07:34] whedon commented on #2572
OK, the editor is @arfon

[2020-10-17 07:41] arfon commented on #2572
@SteveMacenski - apologies for the very slow progress here. I'll be taking over to help out Ben here.

:wave: @mosteo & @carlosjoseRG - would you be interested in reviewing this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The software under review is [_SLAM Toolbox:

[2020-10-17 11:53] eloisabentivegna commented on #2513
@arfon, @zingale, the new changes do not seem to be picked up from the development branch. Any idea why? A quick fix would probably be merging them into master, but it would be interesting to find out why we can use the development branch.

[2020-10-17 12:12] nthomasCUBE commented on #2722
Hi @mikldk I will try to continue and finish by end of next week

[2020-10-17 12:56] Nico-Curti commented on #2663
Hi @arokem,
now it should work properly.
Sorry for the inconvenience.

[2020-10-17 13:00] davidjohannesmeyer commented on #2598
Sorry for being so late. Here go my comments:

- Currently, the package can **not** handle sets of general R objects, because the equals() and contains() methods rely on the character representation of the elements. But as.character() does not "serialize" R objects - e.g., attributes are stripped, references are are treated all the same (try, e.g., sets of R6-classes) - and whenever specific as.ch

[2020-10-17 13:13] nthomasCUBE commented on #2722
added new issue for updating example in the manuscript
https://github.com/jbytecode/rcaller/issues/43#issuecomment-710939070

[2020-10-17 13:27] Gabriel-p commented on #2308
I'm pretty much done with the review (could I have a link to the latest PDF? @profxj), except that I can not check the **Functionality** item as the requirements are too much for my system to handle. @harpolea not sure what to do in these cases.

[2020-10-17 13:52] nthomasCUBE commented on #2722
i am done with reviewing: seems all use cases worked in Eclipse, great tool

[2020-10-17 14:26] arfon commented on #2513
@whedon check references from branch development

[2020-10-17 14:26] whedon commented on #2513
[code]

[2020-10-17 14:27] whedon commented on #2513
[code]

[2020-10-17 14:38] arfon commented on #2513
@whedon check references from branch development

[2020-10-17 14:38] whedon commented on #2513
[code]

[2020-10-17 14:38] whedon commented on #2513
[code]

[2020-10-17 14:39] arfon commented on #2513
@whedon generate pdf from branch development

[2020-10-17 14:39] whedon commented on #2513
[code]

[2020-10-17 14:40] whedon commented on #2513
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02513/joss.02513/10.21105.joss.02513.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02513/joss.02513/10.21105.joss.02513.pdf) :page_facing_up: :point_left:

[2020-10-17 14:41] arfon commented on #2513
@eloisabentivegna - does this look better?

[2020-10-17 14:54] ethanwharris commented on #2705
@Kevin-Mattheus-Moerman I have now finished my review. The authors have responded to my breif comments on the paper and the code base / documentation is in good shape (installation works and the demos run as expected etc.) so I recommend acceptance :smiley:

[2020-10-17 15:24] eloisabentivegna commented on #2513
Yes, great!

[2020-10-17 15:25] danielskatz commented on #2664
@whedon accept

[2020-10-17 15:25] whedon commented on #2664
[code]

[2020-10-17 15:25] whedon commented on #2664
[code]

[2020-10-17 15:26] whedon commented on #2664
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1820

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1820, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-17 15:26] danielskatz commented on #2664
@whedon accept deposit=true

[2020-10-17 15:26] whedon commented on #2664
[code]

[2020-10-17 15:27] whedon commented on #2664
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1317487440903475201) 👈 🐦🐦🐦

[2020-10-17 15:27] whedon commented on #2664
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1821
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02664](https://doi.org/10.21105/joss.02664)
2. If everything looks g

[2020-10-17 15:43] danielskatz commented on #2664
Congratulations to @iaklampanos (Iraklis Klampanos) and co-authors!!

And thanks to @rafaelfsilva & @Himscipy for reviewing!

[2020-10-17 15:44] whedon opened #2758 "[PRE REVIEW]: Virgo: A Versatile Spectrometer for Radio Astronomy"
**Submitting author:** @0xCoto (<a href="http://orcid.org/0000-0001-6928-6877">Apostolos Spanakis-Misirlis</a>)
**Repository:** <a href="https://github.com/0xCoto/Virgo" target ="_blank">https://github.com/0xCoto/Virgo</a>
**Version:** 2.0.3
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the CO

[2020-10-17 15:44] whedon commented on #2758
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-17 15:44] whedon opened #2759 "[PRE REVIEW]: climpred: Verification of weather and climate forecasts"
**Submitting author:** @bradyrx (<a href="http://orcid.org/0000-0002-2309-8245">Riley Brady</a>)
**Repository:** <a href="https://www.github.com/pangeo-data/climpred" target ="_blank">https://www.github.com/pangeo-data/climpred</a>
**Version:** v2.1.1
**Editor:** @dhhagan
**Reviewers:** @neerajdhanraj, @darothen
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

D

[2020-10-17 15:44] whedon commented on #2759
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-17 15:44] whedon commented on #2758
[code]

[2020-10-17 15:44] whedon commented on #2758
[code]

[2020-10-17 15:44] whedon commented on #2759
[code]

[2020-10-17 15:44] whedon commented on #2759
[code]

[2020-10-17 15:44] whedon commented on #2758
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02758/joss.02758/10.21105.joss.02758.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02758/joss.02758/10.21105.joss.02758.pdf) :page_facing_up: :point_left:

[2020-10-17 15:45] whedon commented on #2759
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02759/joss.02759/10.21105.joss.02759.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02759/joss.02759/10.21105.joss.02759.pdf) :page_facing_up: :point_left:

[2020-10-17 16:00] hemanthpruthvi commented on #2693
@whedon generate pdf

[2020-10-17 16:01] whedon commented on #2693
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02693/joss.02693/10.21105.joss.02693.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02693/joss.02693/10.21105.joss.02693.pdf) :page_facing_up: :point_left:

[2020-10-17 16:07] hemanthpruthvi commented on #2693
@aquilesC  Thank you again for the review. Please find the updated contents.

The Paper
-----------

I have put a little more emphasis on the features and added some content as to how the code fits in the community. I have also re-written parts of the paper.

I believe that an explanation is needed regarding the writing choices. As I have mentioned in the updated paper, I do not know of an open-so

[2020-10-17 16:19] 0xCoto commented on #2758
@whedon invite @dfm as editor

[2020-10-17 16:19] whedon commented on #2758
I'm sorry @0xCoto, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2020-10-17 16:23] 0xCoto commented on #2758
I consider the following reviewers to be a good fit for my paper: `garrettj403`, `arjunsavel`, `sibirrer`.

Also, regarding the warning:
[code]
The book does not have a DOI, so I assume this 'warning' should be dismissed.

[2020-10-17 16:49] jbytecode commented on #2722
@whedon generate pdf

[2020-10-17 16:50] whedon commented on #2722
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02722/joss.02722/10.21105.joss.02722.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02722/joss.02722/10.21105.joss.02722.pdf) :page_facing_up: :point_left:

[2020-10-17 16:53] jbytecode commented on #2722
Dear reviewer @nthomasCUBE , I corrected the example as you mentioned in the issue and the compiled manuscript is above. Thank you for your comment.

[2020-10-17 16:55] nthomasCUBE commented on #2722
many thanks!

[2020-10-17 17:07] jorgensd commented on #2687
@arfon Im still not able to tick the boxes above (even now that Im assigned as reveiwer), is it possible to resend an invitiation to me?

[2020-10-17 17:38] pibion commented on #2686
@whedon add @mvandam as reviewer

[2020-10-17 17:38] whedon commented on #2686
OK, @mvandam is now a reviewer

[2020-10-17 17:40] pibion commented on #2686
@mvandam excellent, thanks!  There will be a bit of a wait - we need at least one more reviewer - and then I'll start the review.

At that point, I'll open a new issue and invite you (and all the other reviewers) to the issue.  "Doing the review" will consist of going through the checklist.  In some cases, checking off boxes will require some back-and-forth with the author.

[2020-10-17 18:37] iaklampanos commented on #2664
Thank you @danielskatz, your guidance both pre- and during the review has been extremely helpful and on-point! Also many thanks to both reviewers!

[2020-10-17 19:19] arfon commented on #2687
@whedon re-invite @jorgensd as reviewer

[2020-10-17 19:19] whedon commented on #2687
OK, the reviewer has been re-invited.

@jorgensd please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-10-17 19:20] arfon commented on #2687
@jorgensd can you try accepting the invite again now? The invites should work for a week.

[2020-10-17 19:27] arfon commented on #2758
@whedon query scope

[2020-10-17 19:27] whedon commented on #2758
Submission flagged for editorial review.

[2020-10-17 19:29] arfon commented on #2758
@0xCoto - thanks for your submission to JOSS. I've flagged this for a scope review by the editorial team as it's very small and so may be out of scope for us.

[2020-10-17 19:42] danielskatz commented on #2759
👋 @jedbrown - any chance you can take on this submission as editor?

[2020-10-17 19:43] danielskatz commented on #2759
@whedon invite @jedbrown as editor

[2020-10-17 20:35] JBorrow commented on #2757
The authors have presented a new package for the simulation and modelling of pulsar observations. It has a clean object-oriented interface, and exceptionally detailed narrative documentation and tutorial content. I found the interface particularly intuitive, and it was great (as somebody who is a 'pure' simulator) to play around with the different telescopes. I can see clearly both the scientific

[2020-10-18 00:38] Zac-HD commented on #2730
@sbenthall - I'd be happy to do a generic code review, but don't feel I know the domain well enough to review the paper.

[2020-10-18 01:57] frigaut commented on #2686
Alright, I am curious about this ne wkind of review (at least new for me), and I would be interested to give it a go too, to the extent of my abilities.
Count me in.
Francois

On Oct 18 2020, at 4:40 am, pibion <notifications@github.com> wrote:

[2020-10-18 01:58] ctdegroot commented on #2291
@diehlpk I am unable to check of items in the list above...

[2020-10-18 02:26] diehlpk commented on #2291
@whedon re-invite @ctdegroot as reviewer

[2020-10-18 02:26] whedon commented on #2291
The reviewer already has a pending invite.

@ctdegroot please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-10-18 02:27] diehlpk commented on #2291
@ctdegroot I invited you again. The invitation expires after two weeks.

[2020-10-18 02:52] dpsanders commented on #2678
@whedon generate pdf

[2020-10-18 02:53] whedon commented on #2678
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02678/joss.02678/10.21105.joss.02678.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02678/joss.02678/10.21105.joss.02678.pdf) :page_facing_up: :point_left:

[2020-10-18 06:19] arfon commented on #2759
@whedon invite @jedbrown as editor

[2020-10-18 06:19] whedon commented on #2759
@jedbrown has been invited to edit this submission.

[2020-10-18 08:05] sp94 commented on #2678
@whedon check references

[2020-10-18 08:05] whedon commented on #2678
[code]

[2020-10-18 08:06] sp94 commented on #2678
@whedon generate pdf

[2020-10-18 08:06] whedon commented on #2678
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02678/joss.02678/10.21105.joss.02678.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02678/joss.02678/10.21105.joss.02678.pdf) :page_facing_up: :point_left:

[2020-10-18 08:26] sara-02 commented on #2735
Hey folks, I am available to review more packages, and while this tool is not right up my alley(I work with Python but not software workflow tools), if you need more reviewers for this I am available to help 23rd Oct onwards :)

[2020-10-18 12:31] Datseris commented on #2673
Hello, may we please ask for an update here? @apdavison

[2020-10-18 15:59] sambit-giri commented on #2582
Congrats to all the authors!

[2020-10-18 16:01] csoneson commented on #2440
I will pause this submission for now.
@neuromusic - do you think you will have the time to work on the remaining issues within the next month? If not, in order to respect the reviewers' time and availability committment, I will propose to close (reject) this submission, and invite a resubmission at a later point in time.

[2020-10-18 16:03] csoneson commented on #1740
@brittanyblouin, @m-maheu-giroux - do you think you will have the time to restart working on this submission within the next month or so? If not, in order to respect the reviewers' time and availability committment, I will propose to close (reject) this submission, and invite a resubmission at a later point in time.

[2020-10-18 16:04] csoneson commented on #2163
@MetabolomicsAustralia-Bioinformatics - do you think you will have the time to restart working on this submission within the next month or so? If not, in order to respect the reviewers' time and availability committment, I will propose to close (reject) this submission, and invite a resubmission at a later point in time.

[2020-10-18 18:45] profxj commented on #2308
Attached @Gabriel-p

[uhjqdqe28osajhr5bqzs.pdf](https://github.com/openjournals/joss-reviews/files/5397988/uhjqdqe28osajhr5bqzs.pdf)

[2020-10-18 18:54] whedon opened #2760 "[PRE REVIEW]: simstudy: Illuminating research methods through data generation"
**Submitting author:** @assignUser (<a href="http://orcid.org/0000-0002-7281-3989">Jacob Wujciak-Jens</a>)
**Repository:** <a href="https://github.com/kgoldfeld/simstudy/" target ="_blank">https://github.com/kgoldfeld/simstudy/</a>
**Version:** v0.2.1
**Editor:** @mikldk
**Reviewers:** @gagolews, @brunaw
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to th

[2020-10-18 18:54] whedon commented on #2760
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-18 18:54] whedon commented on #2760
[code]

[2020-10-18 18:54] whedon commented on #2760
PDF failed to compile for issue #2760 with the following error:

 Can't find any papers to compile :-(

[2020-10-18 18:55] danielskatz commented on #2760
@whedon generate pdf from branch joss-submission

[2020-10-18 18:55] whedon commented on #2760
[code]

[2020-10-18 18:55] whedon commented on #2760
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02760/joss.02760/10.21105.joss.02760.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02760/joss.02760/10.21105.joss.02760.pdf) :page_facing_up: :point_left:

[2020-10-18 18:56] danielskatz commented on #2760
@whedon check references from branch joss-submission

[2020-10-18 18:56] whedon commented on #2760
[code]

[2020-10-18 18:56] whedon commented on #2760
[code]

[2020-10-18 18:59] danielskatz commented on #2760
👋 @mikldk - would you be willing to edit this submission?

[2020-10-18 18:59] danielskatz commented on #2760
@whedon invited @mikldk as editor

[2020-10-18 18:59] whedon commented on #2760
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-10-18 18:59] danielskatz commented on #2760
@whedon invite @mikldk as editor

[2020-10-18 18:59] whedon commented on #2760
@mikldk has been invited to edit this submission.

[2020-10-18 19:06] waxlamp commented on #2410
Thank you!

As @lpantano mentioned, "-log10" refers to negative log-base-10 of the p-value.

@lpantano, now that the requested fixes are applied, what are the next steps?

[2020-10-18 19:10] danielskatz commented on #2410
that's it

[2020-10-18 19:10] danielskatz commented on #2410
@whedon accept

[2020-10-18 19:10] whedon commented on #2410
[code]

[2020-10-18 19:10] whedon commented on #2410
[code]

[2020-10-18 19:11] mikldk commented on #2760
@whedon assign me as editor

[2020-10-18 19:11] whedon commented on #2760
OK, the editor is @mikldk

[2020-10-18 19:12] whedon commented on #2410
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1822

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1822, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-18 19:13] danielskatz commented on #2410
@whedon accept deposit=true

[2020-10-18 19:13] whedon commented on #2410
[code]

[2020-10-18 19:14] whedon commented on #2410
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1317906964127621120) 👈 🐦🐦🐦

[2020-10-18 19:14] whedon commented on #2410
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1823
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02410](https://doi.org/10.21105/joss.02410)
2. If everything looks g

[2020-10-18 19:21] danielskatz commented on #2410
Congratulations to @waxlamp (Roni Choudhury) and co-authors!!

And thanks to @lpantano for editing, and @joannawolthuis & @jkanche for reviewing!

[2020-10-18 19:21] #2410 closed

[2020-10-18 19:21] whedon commented on #2410
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02410/status.svg)](https://doi.org/10.21105/joss.02410)

**We need your help!**

Journal of Open Source Softwa

[2020-10-18 20:12] arfon commented on #2684
:wave: @harpolea - I think this submission is still waiting on you to find a second reviewer?

[2020-10-18 20:28] assignUser commented on #2760
Thank you for considering our submission and the quick start of the process!

Potential reviewers from the provided list with no active reviews, R/C++ and relevant topics, sorted bottom to top:
j-andrews7
gagolews
brunaw
tbrown122387
pedro-teles-fonseca

[2020-10-18 20:29] nicolet5 commented on #2624
@danielskatz Thank you for pointing that out, I've fixed those two references and checked the others for similar issues. They should all be good to go now!

[2020-10-18 20:32] danielskatz commented on #2624
@whedon accept

[2020-10-18 20:32] whedon commented on #2624
[code]

[2020-10-18 20:39] danielskatz commented on #2624
@whedon accept

(trying again)

[2020-10-18 20:39] whedon commented on #2624
[code]

[2020-10-18 20:39] whedon commented on #2624
[code]

[2020-10-18 20:40] whedon commented on #2624
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1824

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1824, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-18 20:41] danielskatz commented on #2624
@whedon accept deposit=true

[2020-10-18 20:41] whedon commented on #2624
[code]

[2020-10-18 20:43] whedon commented on #2624
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1317929192609251328) 👈 🐦🐦🐦

[2020-10-18 20:43] whedon commented on #2624
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1825
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02624](https://doi.org/10.21105/joss.02624)
2. If everything looks g

[2020-10-18 20:47] danielskatz commented on #2624
Congratulations to @nicolet5 (Nicole Thompson) and co-authors!!

And thanks to @yangbai90 & @WardLT for reviewing, and @jgostick for editing!

[2020-10-18 20:47] #2624 closed

[2020-10-18 20:47] whedon commented on #2624
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02624/status.svg)](https://doi.org/10.21105/joss.02624)

**We need your help!**

Journal of Open Source Softwa

[2020-10-18 20:57] CJMvS commented on #2742
@whedon generate pdf

[2020-10-18 20:58] whedon commented on #2742
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02742/joss.02742/10.21105.joss.02742.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02742/joss.02742/10.21105.joss.02742.pdf) :page_facing_up: :point_left:

[2020-10-18 21:07] CJMvS commented on #2742
@whedon check references

[2020-10-18 21:07] whedon commented on #2742
[code]

[2020-10-18 21:29] degleris1 commented on #2704
@terrytangyuan Although it is still a pretty long paper, I think the length is understandable given the scope of the package. The content is indeed aimed at the user, describing the key functionality of the package. I strongly support accepting the paper.

[2020-10-18 21:37] bradyrx commented on #2759
A great reviewer would be Chris Kadow (ckadow), but he might be too busy to review here.

Based on the list of approved reviewers:
* Eviatar Bach (eviatarbach)
* Ryan Abernathy (rabernat)
* Kelly Kochanski (kellykochanski)
* Neeraj Bokde (neerajdhanraj)
* Damien Irving (DamienIrving)
* Sarat Sreepathi (sarats)
* Ali Ramadhan (ali-ramadhan)
* Nikolay Koldunov (koldunovn)
* Andrew Bennett (arbennett

[2020-10-19 00:43] terrytangyuan commented on #2704
I am okay with it. @henrykironde Any concerns on this or any other items in the checklist?

[2020-10-19 00:49] amanchokshi commented on #2629
@mbobra thanks Monica, it seems like you've caught a bug in my code. I created a new virtual env and installed EMBERS following my examples. I had the same issue. Apparently my sample data is not being installed with pip. I will try and get it to work or modify my instructions.

For now, what works:

[code]

#### References
I will talk to my supervisor and see when I can upload a draft of my paper

[2020-10-19 01:38] henrykironde commented on #2704
Yes, the last concern is on `Contribution and authorship`, I wanted to get feedback on the criteria for authorship that was used.

[2020-10-19 01:40] terrytangyuan commented on #2704
@ablaom Could you share your criteria on the authorship of this paper?

[2020-10-19 01:41] ablaom commented on #2704
This was answered above.

Anyone making significant contribution to the design of the software.

[2020-10-19 01:42] terrytangyuan commented on #2704
@henrykironde Do you have more specific questions?

[2020-10-19 05:31] arokem commented on #2663
@whedon generate pdf

[2020-10-19 05:32] whedon commented on #2663
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02663/joss.02663/10.21105.joss.02663.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02663/joss.02663/10.21105.joss.02663.pdf) :page_facing_up: :point_left:

[2020-10-19 05:44] arokem commented on #2663
Thanks! Looks good. At this point, could you please:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title)

[2020-10-19 05:57] ketch commented on #2514
Thanks; I think it is resolved now, along with @debdeepbh's issue.

[2020-10-19 06:21] amanchokshi commented on #2629
@mbobra I've fixed the bug. If you update embers to the latest version 0.7.3, the examples should now work as shown in the docs

[2020-10-19 06:26] timtroendle commented on #2715
@matloff @crew102 Understood. Thanks for letting us know!

[2020-10-19 06:27] timtroendle commented on #2715
👋 @Jgoldfar, @pratikvn, would any of you be willing to review this submission for JOSS?

[2020-10-19 06:29] jni commented on #2689
Hi everyone! Thank you for working on these reviews @bogovicj and @haesleinhuepf and thank you @d-tear for promptly addressing @haesleinhuepf's issues on the plugin repo! Can I get a status check from everyone on where things stand right now?

[2020-10-19 06:32] sambit-giri commented on #2582
@dfm I noticed that the author's list of the paper has been modified. I have worked with Catherine Watkinson in a project where both of us were primary authors (https://ui.adsabs.harvard.edu/abs/2019MNRAS.482.2653W/abstract). Does this violate the JOSS conflict of interest policy?

[2020-10-19 07:13] hugoledoux commented on #2537
@jvdkwast : it would be nice if you could give us a sign if you're still alive. If you don't do so this week I'll have to finish this review without you.

[2020-10-19 09:39] VivianePons commented on #2614
@whedon set v0.15.2 as version

[2020-10-19 09:40] whedon commented on #2614
OK. v0.15.2 is the version.

[2020-10-19 09:43] sylvaticus commented on #2512
[Paper author here]
Thank you.
I have updated the paper to include the Decision Trees / Random Forests methods that I have added in the meantime.

@whedon generate pdf

[2020-10-19 09:46] VivianePons commented on #2614
@whedon set 10.5281/zenodo.4081109 as archive

[2020-10-19 09:46] whedon commented on #2614
OK. <a href="https://doi.org/10.5281/zenodo.4081109" target="_blank">10.5281/zenodo.4081109</a> is the archive.

[2020-10-19 09:52] VivianePons commented on #2614
Thank you all for the great work! The paper and software have received many praises, it is pleasure to accept it into JOSS, thank you @mtsch for the work and thank you @juliohm and @sauln for the reviews :)

[2020-10-19 09:52] VivianePons commented on #2614
@whedon accept

[2020-10-19 09:52] whedon commented on #2614
[code]

[2020-10-19 09:54] whedon commented on #2614
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1826

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1826, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-19 09:57] whedon commented on #2614
[code]

[2020-10-19 09:57] Nico-Curti commented on #2663
Hi @arokem.
We have just uploaded the latest version of the package as [v1.0.3](https://github.com/Nico-Curti/rFBP/releases/tag/v1.0.3). The corresponding Zenodo doi is [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.4106175.svg)](https://doi.org/10.5281/zenodo.4106175).
Let me know if everything is ok now.

[2020-10-19 10:02] vincentberenz commented on #2752
Interactive review sounds also great to me. I'll do so, and I will fix the docs soon.

[2020-10-19 10:08] sylvaticus commented on #2512
Uh, how do I regenerate the PDF after I changed the paper.md file ? I thought it was enough to cite "@whedon generate pdf" in this issue comment..

@whedon generate pdf

Does the `@whedon` command is ran straight away, or it takes some time before it is ran ?

[2020-10-19 10:48] xillig commented on #2507
Hi @tallard,
now that @sara-02 and @aozorahime completed their reviews and helped us to really improve TTLocVis a lot, it would really great to make further progress with the review. How can we proceed? What are the next steps? Also @sara-02 and @aozorahime do you perhaps know what to do now?

Thank you all!

xillig

[2020-10-19 10:51] mtsch commented on #2614
@VivianePons thank you for editing! Submitting to this paper was an awesome experience!

[2020-10-19 11:37] #2664 closed

[2020-10-19 11:37] whedon commented on #2664
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02664/status.svg)](https://doi.org/10.21105/joss.02664)

**We need your help!**

Journal of Open Source Softwa

[2020-10-19 12:10] lootie commented on #2463
@VivianePons Is there anything I can do to get this review underway, short of submitting it elsewhere? I believe our work checks all the boxes above, but I've received no feedback so far.

[2020-10-19 12:18] danielskatz commented on #2512
commands to whedon have to be the only or first thing in a new comment

[2020-10-19 12:18] danielskatz commented on #2512
@whedon generate pdf

[2020-10-19 12:19] whedon commented on #2512
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02512/joss.02512/10.21105.joss.02512.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02512/joss.02512/10.21105.joss.02512.pdf) :page_facing_up: :point_left:

[2020-10-19 12:23] VivianePons commented on #2463
I am very sorry for this. Both of the reviewers who had accepted to take this review have been completely unresponsive, both through github and via email, even though they both started the review this summer. This is quite a rare occurrence, especially to happen to both reviewers at the same time. I have been quite busy myself and let time run more than I should have. But I will email new reviewer

[2020-10-19 13:25] mikldk commented on #2760
@brunaw, @gagolews: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2020-10-19 13:34] pratikvn commented on #2715
@timtroendle , yes, I would be available to review this submission.

[2020-10-19 13:34] danielskatz commented on #2747
@whedon generate pdf

checking to see if there have been any changes in the paper

[2020-10-19 13:34] whedon commented on #2747
PDF failed to compile for issue #2747 with the following error:

 Error reading bibliography ./paper.bib (line 26, column 14):
unexpected "{"
expecting space or "="
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2020-10-19 13:35] danielskatz commented on #2747
It appears that there have been changes, but the author didn't check them here, so we've now passed one problem, but are stuck on another.  As mentioned previously

[2020-10-19 13:46] sara-02 commented on #2507
Hey @xillig unfortunetly I am not aware of the next steps.

[2020-10-19 14:11] timtroendle commented on #2715
Great @pratikvn , thanks a lot for the offer!

[2020-10-19 14:11] timtroendle commented on #2715
@whedon add @pratikvn as reviewer

[2020-10-19 14:11] whedon commented on #2715
OK, @pratikvn is now a reviewer

[2020-10-19 15:03] sadielbartholomew commented on #2407
Hi @Xunius , while I am looking into the issue referenced above which is likely to be a user error on my part, I wanted to make one final small suggestion for an update to the paper itself.

I noticed that, in September and since we began this review, NumPy released a new paper which they now document as their preferred citation reference, [as described on this page](https://numpy.org/citing-numpy

[2020-10-19 15:15] kakiac commented on #2405
👋 @Yomguithereal - hope you are well! I am just following up to see how things are progressing with implementing the reviewer's suggestions? Let me know if there is something I can do to help our end :) Hope you are well 👍

[2020-10-19 15:19] Yomguithereal commented on #2405
Hello @kakiac. I should have some time thursday to act on those suggestions. So far I need to update the paper to change its framing a bit, add some references to similar tools and switch to a leaner bibliography (as opposed to the one containing all of the papers describing the implemented functions and methods). I also have some one related to the library's packaging. I would like to address tho

[2020-10-19 15:20] evanoffPNNL commented on #2736
@whedon check references

[2020-10-19 15:21] whedon commented on #2736
[code]

[2020-10-19 15:30] kyleniemeyer commented on #2614
@whedon accept deposit=true

[2020-10-19 15:30] whedon commented on #2614
[code]

[2020-10-19 15:32] whedon commented on #2614
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1318213473806012417) 👈 🐦🐦🐦

[2020-10-19 15:32] whedon commented on #2614
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1827
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02614](https://doi.org/10.21105/joss.02614)
2. If everything looks g

[2020-10-19 15:34] kyleniemeyer commented on #2614
Congrats @mtsch on your article's publication in JOSS!

Many thanks to @juliohm and @sauln for reviewing this, and @VivianePons for editing.

[2020-10-19 15:34] #2614 closed

[2020-10-19 15:34] whedon commented on #2614
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02614/status.svg)](https://doi.org/10.21105/joss.02614)

**We need your help!**

Journal of Open Source Softwa

[2020-10-19 15:42] zoran-cuckovic commented on #2747
Hello,
Yes, I've tidied up the bibliography file, it seemed to parse well... I'm checking it again.

[2020-10-19 15:45] lootie commented on #2463
Thank you for your help. I suggested five potential reviewers [here](https://github.com/openjournals/joss-reviews/issues/2428) on Jul 2 if that helps you assign someone new. @VivianePons

[2020-10-19 15:46] danielskatz commented on #2747
Please use the whedon commands here when ready

[2020-10-19 15:46] zoran-cuckovic commented on #2747
It works now, there was a typo.

[2020-10-19 15:48] RaphaelS1 commented on #2598
Thanks for the detailed look at the package and the comments @davidjohannesmeyer.

Originally the objects were directly compared and not the character representations. `identical` doesn’t work for R6 objects (e.g. `identical(Set$new(1), Set$new(1))` returns `FALSE`), the alternative `all.equal` has significant overheads due to recursive unpacking of objects and their inherited classes (something I

[2020-10-19 15:52] danielskatz commented on #2747
Please use the whedon commands **here** so that we can see the current version

[2020-10-19 15:55] zoran-cuckovic commented on #2747
Ok, let me try the bot

@whedon generate pdf

[2020-10-19 15:57] danielskatz commented on #2747
commands to whedon have to be at the top of a new comment

[2020-10-19 15:57] zoran-cuckovic commented on #2747
@whedon generate pdf

[2020-10-19 15:58] whedon commented on #2747
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02747/joss.02747/10.21105.joss.02747.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02747/joss.02747/10.21105.joss.02747.pdf) :page_facing_up: :point_left:

[2020-10-19 15:59] kakiac commented on #2461
Thank you all @chainsawriot @mbod @Kudusch @pdwaggoner - great work and the paper and repo look much improved as a result! @chainsawriot many thanks for taking on board the advice and recording the tutorial 👍

@mbod can you confirm that you are happy that the following two items in your checklist have been addressed:

[] Automated tests: Are there automated tests or manual steps described so that

[2020-10-19 16:00] kakiac commented on #2461
@whedon generate pdf

[2020-10-19 16:02] evanoffPNNL commented on #2736
@whedon check references

[2020-10-19 16:02] whedon commented on #2461
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02461/joss.02461/10.21105.joss.02461.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02461/joss.02461/10.21105.joss.02461.pdf) :page_facing_up: :point_left:

[2020-10-19 16:02] whedon commented on #2736
[code]

[2020-10-19 16:04] kakiac commented on #2461
@whedon check reference

[2020-10-19 16:04] whedon commented on #2461
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-10-19 16:04] kakiac commented on #2461
@whedon check references

[2020-10-19 16:05] whedon commented on #2461
[code]

[2020-10-19 16:05] evanoffPNNL commented on #2736
@whedon generate pdf

[2020-10-19 16:06] whedon commented on #2736
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02736/joss.02736/10.21105.joss.02736.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02736/joss.02736/10.21105.joss.02736.pdf) :page_facing_up: :point_left:

[2020-10-19 16:12] kakiac commented on #2461
Editor's "After reviewers recommend acceptance" checks:
 - [ ] Get a new proof with the @whedon generate pdf command.
 - [ ] Download the proof, check all references have DOIs, follow the links and check the references.
 - [ ] Whedon can help check references with the command @whedon check references
 - [ ] Proof-read the paper and ask authors to fix any remaining typos, badly formed citations, aw

[2020-10-19 16:20] arokem commented on #2663
@whedon set 10.5281/zenodo.4106174 as archive

[2020-10-19 16:20] whedon commented on #2663
OK. <a href="https://doi.org/10.5281/zenodo.4106174" target="_blank">10.5281/zenodo.4106174</a> is the archive.

[2020-10-19 16:20] arokem commented on #2663
@whedon set v1.0.3 as version

[2020-10-19 16:20] whedon commented on #2663
OK. v1.0.3 is the version.

[2020-10-19 16:20] artgoldberg commented on #2685
Hello @danielskatz

I'm beginning to wonder whether Prof. Carothers (@carothersc) will review this paper. I can expand my list of potential reviewers if you would like.

Arthur

[2020-10-19 16:21] arokem commented on #2663
@whedon accept

[2020-10-19 16:21] whedon commented on #2663
[code]

[2020-10-19 16:21] whedon commented on #2663
[code]

[2020-10-19 16:21] kthyng commented on #2736
Ok thanks @evanoffPNNL. We'll wait a few more days to see if we hear back from potential reviewers before trying others.

[2020-10-19 16:22] whedon commented on #2663
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1828

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1828, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-19 16:36] kthyng commented on #2737
@pmeier I agree that the DOI does not appear to be correct, so we just need to remember to ignore that warning. I will continue processing your submission.

[2020-10-19 16:37] danielskatz commented on #2685
I was in email contact with @carothersc last week, and he said he should be able to do it soon

[2020-10-19 16:38] kthyng commented on #2737
I want to be clear to link to the [pyOpenSci review](https://github.com/pyOpenSci/software-review/issues/25) already completed.

[2020-10-19 16:39] kthyng commented on #2737
@whedon assign @kthyng as reviewer

[2020-10-19 16:39] whedon commented on #2737
OK, @kthyng is now a reviewer

[2020-10-19 16:40] kthyng commented on #2737
@whedon start review

[2020-10-19 16:40] whedon opened #2761 "[REVIEW]: pystiche: A Framework for Neural Style Transfer"
**Submitting author:** @pmeier (<a href="http://orcid.org/0000-0002-5184-1622">Philip Meier</a>)
**Repository:** <a href="https://github.com/pmeier/pystiche" target ="_blank">https://github.com/pmeier/pystiche</a>
**Version:** v0.6.2
**Editor:** @kthyng
**Reviewer:** @kthyng
**Archive:** <a href="https://doi.org/10.5281/zenodo.4107044" target="_blank">10.5281/zenodo.4107044</a>

**:warning: JOSS r

[2020-10-19 16:40] whedon commented on #2737
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2761.

[2020-10-19 16:40] #2737 closed

[2020-10-19 16:40] whedon commented on #2761
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kthyng it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.the

[2020-10-19 16:40] whedon commented on #2761
[code]

[2020-10-19 16:41] whedon commented on #2761
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02761/joss.02761/10.21105.joss.02761.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02761/joss.02761/10.21105.joss.02761.pdf) :page_facing_up: :point_left:

[2020-10-19 16:42] kthyng commented on #2761
Reference completed [pyOpenSci review](https://github.com/pyOpenSci/software-review/issues/25).

[2020-10-19 16:44] artgoldberg commented on #2685
Thanks @danielskatz

[2020-10-19 16:47] kthyng commented on #2761
@pmeier Can you paste in the zenodo doi for the software archive? I can't find it.

[2020-10-19 16:54] carothersc commented on #2685
Hi all - given that Elsa has confirmed running the software on her side do I need to do the same ? Also, can someone confirm that "pip" won't do anything bad to local "conda" repos?

Thanks everyone!,
Chris

[2020-10-19 16:58] pmeier commented on #2761
@kthyng Here you go: [10.5281/zenodo.3965784](https://doi.org/10.5281/zenodo.3965784).

[2020-10-19 16:59] kthyng commented on #2738
@whedon generate pdf

[2020-10-19 17:00] whedon commented on #2738
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02738/joss.02738/10.21105.joss.02738.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02738/joss.02738/10.21105.joss.02738.pdf) :page_facing_up: :point_left:

[2020-10-19 17:01] kthyng commented on #2761
@pmeier Thanks! At JOSS we ask for the title and author list in the metadata for the zenodo archive to exactly match your JOSS paper, though it isn't required. Could you do this?

[2020-10-19 17:06] kthyng commented on #2738
@whedon assign @kthyng as reviewer

[2020-10-19 17:06] whedon commented on #2738
OK, @kthyng is now a reviewer

[2020-10-19 17:06] kthyng commented on #2738
@whedon start review

[2020-10-19 17:06] whedon opened #2762 "[REVIEW]: mcbette: model comparison using babette"
**Submitting author:** @richelbilderbeek (<a href="http://orcid.org/0000-0003-1107-7049">Richel Bilderbeek</a>)
**Repository:** <a href="https://github.com/ropensci/mcbette" target ="_blank">https://github.com/ropensci/mcbette</a>
**Version:** v1.8.3
**Editor:** @kthyng
**Reviewer:** @kthyng
**Archive:** <a href="https://doi.org/10.5281/zenodo.4076183" target="_blank">10.5281/zenodo.4076183</a>

*

[2020-10-19 17:06] whedon commented on #2738
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2762.

[2020-10-19 17:07] #2738 closed

[2020-10-19 17:07] whedon commented on #2762
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kthyng it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.the

[2020-10-19 17:07] whedon commented on #2762
[code]

[2020-10-19 17:07] whedon commented on #2762
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02762/joss.02762/10.21105.joss.02762.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02762/joss.02762/10.21105.joss.02762.pdf) :page_facing_up: :point_left:

[2020-10-19 17:07] kthyng commented on #2762
This submission was reviewed in [rOpenSci](https://github.com/ropensci/software-review/issues/360).

[2020-10-19 17:09] diehlpk commented on #2514
@whedon generate pdf

[2020-10-19 17:10] danielskatz commented on #2685
We expect the reviewers to be independent in terms of investigation, though they may work together in documenting problems and suggesting solutions.

[2020-10-19 17:10] whedon commented on #2514
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02514/joss.02514/10.21105.joss.02514.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02514/joss.02514/10.21105.joss.02514.pdf) :page_facing_up: :point_left:

[2020-10-19 17:10] danielskatz commented on #2685
Re pip, I suggest the safest thing is to create a new conda environment for this review

[2020-10-19 17:11] danielskatz commented on #2685
Also @carothersc  - please do accept the invitation: https://github.com/openjournals/joss-reviews/invitations

[2020-10-19 17:14] pmeier commented on #2761
Will try. The Zenodo archive is generated automatically through a webhook after a GitHub release. I'm not sure if I'm allowed to modify the meta data.

[2020-10-19 17:16] kthyng commented on #2762
I have some edits for your paper:

- [ ] caption should probably end with a period
- [ ] "allows to select that" --> "allows for selecting the"
- [ ] "underlied" --> "led to"? or "consistent with"? I don't think underlied is a word but I'm not sure what the correct replacement is in this technical sentence.
- [ ] "mcbette can be both be" --> remove a "be"
- [ ] "is aimed to be used" --> "is aimed

[2020-10-19 17:17] kthyng commented on #2762
I see your Zenodo archive at 10.5281/zenodo.4076183. Can you check the author list and metadata to exactly match your JOSS paper?

[2020-10-19 17:21] diehlpk commented on #2514
Since we quite close that the reviewers finished their review, I will do some editorial tasks on the paper,

1. Affiliations: Please add the country
1. Would it be possible to add the grant number for the AFOSR grant? Same for the DOE Computational Science Graduate Fellowship?
1. Some citations use abbreviations (minority) for the journal name and some use the full name. Could you make this consis

[2020-10-19 17:23] arjunsavel commented on #2757
I've  completed my review:

With PsrSigSim, the authors have provided a well-documented and well-organized package for simulating pulsar observations. I don't specialize in radio astronomy, but to the extent of my knowledge, I believe it to be of scientific merit.

Of the issues that I have opened in PsrSigSim repository, the below are relevant for acceptance. Many are related to grammar and consi

[2020-10-19 18:01] henrykironde commented on #2704
Thanks @ablaom, I do think the author list needs to be improved. Comparing the these individuals
https://github.com/alan-turing-institute/MLJ.jl/graphs/contributors
`darenasc` https://github.com/alan-turing-institute/MLJ.jl/commits?author=darenasc
`OkonSamuel` https://github.com/alan-turing-institute/MLJ.jl/commits?author=OkonSamuel
`vollmersj` https://github.com/alan-turing-institute/MLJ.jl/commi

[2020-10-19 18:15] dfm commented on #2582
@sambit-giri: Thanks for the heads-up! I'll check in with the editorial board and get back to you. Thanks!

[2020-10-19 19:00] dfm commented on #2582
@steven-murray: I've opened a PR to the 21cmfast repo with a few minor formatting edits to the paper. Please take a look (and preferably accept) those changes and then go through the following steps:

1. I see now that there is also a `joss-paper-fixes` branch that will have one conflict with my PR. Please resolve those issues and confirm which branch the final submission will live on.
2. Get whed

[2020-10-19 19:01] terrytangyuan commented on #2704
@henrykironde Do you mean someone else instead of `OkonSamuel`? Looks like he only contributed typo fixes and link updates in the documentation.

[2020-10-19 19:03] dfm commented on #2582
@sambit-giri: I've checked with the editorial team and we've agreed that this does not constitute a conflict-of-interest in this case since you had already done most of your review and since it has been noted here. If @steven-murray or any of the co-authors have any concerns, please let me know here or offline, but otherwise we'll proceed. Thanks!

[2020-10-19 19:05] dfm commented on #2550
Hey @eteq, Can you give us an estimate of when you'll be able to get to this review? Thanks!

[2020-10-19 19:06] pmeier commented on #2761
@kthyng I've just released [`v0.6.2`](https://github.com/pmeier/pystiche/releases/tag/v0.6.2) which fixes the metadata.

[2020-10-19 19:48] mbobra commented on #2629
I'm sorry -- I'm probably missing something simple. I'm looking at the [Embers by Example](https://embers.readthedocs.io/en/latest/embersbyexample.html) guide, which says:

[code]

So I did that. Then I skipped the stuff about the test tool. Then the next code block says:

[code]

But I'm still confused 😟 Where are the sample data? How do I access these data? What import statements do I need to ma