[2018-04-04 03:56] lheagy commented on #641
@whedon assign @Chilipp as reviewer

[2018-04-04 03:56] whedon commented on #641
OK, the reviewer is @Chilipp

[2018-04-04 03:56] lheagy commented on #641
@whedon add @dhhagan as reviewer

[2018-04-04 03:56] whedon commented on #641
OK, @dhhagan is now a reviewer

[2018-04-04 03:58] lheagy commented on #641
@whedon start review magic-word=bananas

[2018-04-04 03:58] whedon opened #659 "[REVIEW]: CLIMLAB: a Python toolkit for interactive, process-oriented climate modeling"
**Submitting author:** @brian-rose (<a href="http://orcid.org/0000-0002-9961-3821">Brian Rose</a>)
**Repository:** <a href="https://github.com/brian-rose/climlab/" target ="_blank">https://github.com/brian-rose/climlab/</a>
**Version:** v0.6.4
**Editor:** @lheagy
**Reviewer:** @Chilipp, @dhhagan
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1226360" target="_blank">10.5281/zenodo.1226360<

[2018-04-04 03:58] whedon commented on #641
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/659. Feel free to close this issue now!

[2018-04-04 03:58] whedon commented on #659
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @Chilipp, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably current

[2018-04-04 03:58] whedon commented on #659
[code]

[2018-04-04 03:58] #641 closed

[2018-04-04 03:58] whedon commented on #659
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00659/joss.00659/10.21105.joss.00659.pdf)

[2018-04-04 03:59] lheagy commented on #659
Thanks @Chilipp and @dhhagan for being willing to review. The review issue is here, and there is a checklist above for each of you as you review the software. Please don't hesitate to reach out with questions!

[2018-04-04 06:09] HadrienG commented on #589
Hi! Sorry for the delay in answering this.
Unfortunately I do not have the time at the moment.

[2018-04-04 08:30] motib commented on #639
My thanks to @biotomas for his comments.

1. I have chased down DOIs and ISBNs for all the references and will update the documents.

2. The file "learnsat.bib" contains the bibtex entries for _all_ three of the documents included in the archive as well as those in paper.md. Since latex is smart enough to extract only the references cited for each document, I don't see this as a problem. To the co

[2018-04-04 11:00] whedon commented on #653
OK. <a href="http://dx.doi.org/10.5281/zenodo.1211835" target="_blank">10.5281/zenodo.1211835</a> is the archive.

[2018-04-04 11:30] arfon commented on #653
@timClicks - many thanks for your review here ✨

@mhucka - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00653 :zap: :rocket: :boom:

[2018-04-04 11:30] #653 closed

[2018-04-04 11:30] whedon commented on #653
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00653/status.svg)](https://doi.org/10.21105/joss.00653)

**We need your help!**

Journal of Open Source Software

[2018-04-04 11:44] arfon commented on #628
@whedon assign @arfon as editor

[2018-04-04 11:44] whedon commented on #628
OK, the editor is @arfon

[2018-04-04 11:44] arfon commented on #628
@whedon assign @hugoledoux as reviewer

[2018-04-04 11:44] whedon commented on #628
OK, the reviewer is @hugoledoux

[2018-04-04 11:44] arfon commented on #628
@whedon add @ThomasA as reviewer

[2018-04-04 11:45] whedon commented on #628
OK, @ThomasA is now a reviewer

[2018-04-04 11:45] arfon commented on #628
@whedon start review magic-word=bananas

[2018-04-04 11:45] whedon opened #660 "[REVIEW]: Mapelia and friends: create 3D models from maps"
**Submitting author:** @jordibc (<a href="http://orcid.org/0000-0002-9198-5380">Jordi Burguet-Castell</a>)
**Repository:** <a href="https://github.com/jordibc/mapelia" target ="_blank">https://github.com/jordibc/mapelia</a>
**Version:** 1.1.1
**Editor:** @arfon
**Reviewer:** @hugoledoux, @ThomasA
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/c13440773d37cc5abfd05016708eb

[2018-04-04 11:45] whedon commented on #628
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/660. Feel free to close this issue now!

[2018-04-04 11:45] whedon commented on #660
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @hugoledoux, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2018-04-04 11:45] whedon commented on #660
[code]

[2018-04-04 11:45] whedon commented on #660
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00660/joss.00660/10.21105.joss.00660.pdf)

[2018-04-04 11:45] arfon commented on #628
@hugoledoux, @ThomasA - many thanks for agreeing to review this submission. Please head over to #660 to carry out the review.

[2018-04-04 11:45] #628 closed

[2018-04-04 11:48] arfon commented on #614
@dlagrava ideally I'd like to find two reviewers for this submission as it's outside of my subject expertise and it seems like @jakevdp isn't going to be able to handle this one.

[2018-04-04 11:49] arfon commented on #614
@whedon assign @arfon as editor

[2018-04-04 11:49] whedon commented on #614
OK, the editor is @arfon

[2018-04-04 11:49] arfon commented on #614
@whedon add @dlagrava as reviewer

[2018-04-04 11:49] whedon commented on #614
OK, @dlagrava is now a reviewer

[2018-04-04 11:50] arfon commented on #614
@whedon add @ziotom78 as reviewer

[2018-04-04 11:50] whedon commented on #614
OK, @ziotom78 is now a reviewer

[2018-04-04 11:50] arfon commented on #614
@whedon start review magic-word=bananas

[2018-04-04 11:50] #614 closed

[2018-04-04 11:50] whedon opened #661 "[REVIEW]: EZyRB: Easy Reduced Basis method"
**Submitting author:** @mtezzele (<a href="http://orcid.org/0000-0001-9747-6328">Marco Tezzele</a>)
**Repository:** <a href="https://github.com/mathLab/EZyRB" target ="_blank">https://github.com/mathLab/EZyRB</a>
**Version:** v0.2.0
**Editor:** @arfon
**Reviewer:** @dlagrava, @ziotom78
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1216303" target="_blank">10.5281/zenodo.1216303</a>

## St

[2018-04-04 11:50] whedon commented on #614
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/661. Feel free to close this issue now!

[2018-04-04 11:50] whedon commented on #661
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @dlagrava, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curren

[2018-04-04 11:50] whedon commented on #661
[code]

[2018-04-04 11:50] whedon commented on #661
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00661/joss.00661/10.21105.joss.00661.pdf)

[2018-04-04 11:50] arfon commented on #614
@dlagrava, @ziotom78 - please head over to #661 to carry out the actual JOSS review.

[2018-04-04 11:54] arfon commented on #627
@whedon assign @arfon as editor

[2018-04-04 11:54] whedon commented on #627
OK, the editor is @arfon

[2018-04-04 11:54] arfon commented on #627
@whedon assign @nuest as reviewer

[2018-04-04 11:54] whedon commented on #627
OK, the reviewer is @nuest

[2018-04-04 11:55] arfon commented on #627
@whedon start review magic-word=bananas

[2018-04-04 11:55] #627 closed

[2018-04-04 11:55] whedon opened #662 "[REVIEW]: EmissV: An R package to create vehicular and other emissions by Top-down methods to air quality models"
**Submitting author:** @Schuch666 (<a href="http://orcid.org/0000-0001-5977-4519">Daniel Schuch</a>)
**Repository:** <a href="https://github.com/atmoschem/EmissV" target ="_blank">https://github.com/atmoschem/EmissV</a>
**Version:** 0.664.3
**Editor:** @arfon
**Reviewer:** @nuest, @benmarwick
**Archive:** <a href="https://doi.org/10.5281/zenodo.1451027" target="_blank">10.5281/zenodo.1451027</a>

[2018-04-04 11:55] whedon commented on #627
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/662. Feel free to close this issue now!

[2018-04-04 11:55] whedon commented on #662
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @nuest it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2018-04-04 11:55] whedon commented on #662
[code]

[2018-04-04 11:55] arfon commented on #627
@nuest - please head over to #662 to carry out the actual review.

[2018-04-04 11:55] whedon commented on #662
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00662/joss.00662/10.21105.joss.00662.pdf)

[2018-04-04 13:09] danielskatz commented on #639
@motib -

yes, though of course you should first check the changed file(s) to make sure you want to merge it.

This is commonly in both the readme and the documentation, but there is no requirement - it should be where you think it will be the most useful to potential contributors.

[2018-04-04 13:10] danielskatz commented on #622
@marpierc - just a reminder that your review is expected by April 5.

[2018-04-04 13:27] pjamesjoyce commented on #612
Hi @cardosan. Thanks for fixing [#10](https://bitbucket.org/cardosan/brightway2-temporalis/issues/10) and [#11](https://bitbucket.org/cardosan/brightway2-temporalis/issues/11).

Once [#8](https://bitbucket.org/cardosan/brightway2-temporalis/issues/8/) and [#9](https://bitbucket.org/cardosan/brightway2-temporalis/issues/9/) are fixed I can sign off on the *example usage* element of the review.

For

[2018-04-04 13:47] bjodah commented on #565
@whedon generate pdf

[2018-04-04 13:48] whedon commented on #565
[code]

[2018-04-04 13:48] whedon commented on #565
PDF failed to compile for issue #565 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0    108      0 --:--:-- --:--:-- --:--:--   109
Error reading bibl

[2018-04-04 13:48] bjodah commented on #565
@whedon generate pdf

[2018-04-04 13:48] whedon commented on #565
[code]

[2018-04-04 13:49] whedon commented on #565
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00565/joss.00565/10.21105.joss.00565.pdf)

[2018-04-04 13:55] bjodah commented on #565
@kyleniemeyer thanks!
I (hopefully) fixed the points you raised. Let me know if you want me to change anything else.

[2018-04-04 14:47] kyleniemeyer commented on #565
@bjodah I made a few more in https://github.com/bjodah/chempy/pull/90, please merge that and then archive the repo to get a DOI

[2018-04-04 14:52] benmarwick commented on #627
oops, sorry to be slow, I can review also.

[2018-04-04 14:58] marpierc commented on #622
@danielskatz what are the requirements for the Software Paper (paper.md)? The paper.md file for the project is not a tech/scientific paper in the usual sense.

[2018-04-04 15:07] arfon commented on #627
Great, thanks @benmarwick - that would be excellent. I'll update the review issue over in #662.

[2018-04-04 15:30] cardosan commented on #612
Hi @pjamesjoyce,
I have been quite busy lately writing the phd and getting ready for the delivery of my first child.....started to work on the example and the issue 4 but did not have time to finalize the work yet, will do in the coming days.

Regarding the test it is fixed now, while `MultiDynamicLCA` is still an experimental feature I would like to keep outside the review and the package before

[2018-04-04 15:34] bjodah commented on #565
@kyleniemeyer thanks again. Merged, tagged & updated codemeta.json with new tag & DOI.

[2018-04-04 15:36] kyleniemeyer commented on #565
@whedon set 10.5281/zenodo.1212469 as archive

[2018-04-04 15:36] whedon commented on #565
OK. <a href="http://dx.doi.org/10.5281/zenodo.1212469" target="_blank">10.5281/zenodo.1212469</a> is the archive.

[2018-04-04 15:36] kyleniemeyer commented on #565
@arfon this paper is now ready to accept.

[2018-04-04 15:54] danielskatz commented on #622
@marpierc - I think I saw a comment from you about the paper and what it should contain, though I no longer see it, so perhaps it was deleted?  But in any case, see http://joss.theoj.org/about#author_guidelines (what should my paper contain)

[2018-04-04 15:57] marpierc commented on #622
Yes, I deleted. I found the answer to my question.

Thanks,

Marlon

From: ajinkya-dhamnaskar <notifications@github.com>
Reply-To: openjournals/joss-reviews <reply@reply.github.com>
Date: Wednesday, April 4, 2018 at 11:54 AM
To: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: "Pierce, Marlon" <marpierc@iu.edu>, Mention <mention@noreply.github.com>
Subject: Re: [openjournals/joss-re

[2018-04-04 18:35] arfon commented on #565
@bryanwweber - many thanks for your review here and to @kyleniemeyer for editing this submission ✨

@bjodah - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00565 :zap: :rocket: :boom:

[2018-04-04 18:35] #565 closed

[2018-04-04 18:35] whedon commented on #565
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00565/status.svg)](https://doi.org/10.21105/joss.00565)

**We need your help!**

Journal of Open Source Software

[2018-04-04 20:40] labarba commented on #615
@arfon --- ball on your court now to complete acceptance.

[2018-04-04 20:54] bjodah commented on #565
That's great. Thank you all!

[2018-04-04 23:35] alistairewj commented on #481
Hey @arfon - thanks for patiently following up. We have done a lot - the docs have been rewritten from scratch more or less and are now much more organized - using Sphinx with the plan to host them on readthedocs. Also tidied up a lot of the functions to be more modular and testable - though no tests so far. It's much improved and many thanks to @stsievert for the review.

However, I'm starting to

[2018-04-05 01:06] arfon commented on #615
@whedon set 10.5281/zenodo.1211551 as archive

[2018-04-05 01:06] whedon commented on #615
OK. <a href="http://dx.doi.org/10.5281/zenodo.1211551" target="_blank">10.5281/zenodo.1211551</a> is the archive.

[2018-04-05 01:08] arfon commented on #615
@abelsiqueira, @ahwillia - many thanks for your reviews here and to @labarba for editing this submission ✨

@anriseth - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00615 :zap: :rocket: :boom:

[2018-04-05 01:08] #615 closed

[2018-04-05 01:08] whedon commented on #615
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00615/status.svg)](https://doi.org/10.21105/joss.00615)

**We need your help!**

Journal of Open Source Software

[2018-04-05 08:12] anriseth commented on #615
Great to hear, thank you to everyone who gave us feedback and has contributed :smiley:

[2018-04-05 10:46] yxqd commented on #566
Will do that this weekend. Thanks!

[2018-04-05 11:54] greatfireball commented on #616
@whedon commands

[2018-04-05 11:54] whedon commented on #616
Here are some things you can ask me to do:

[code]

[2018-04-05 11:55] greatfireball commented on #616
@whedon generate pdf

[2018-04-05 11:55] whedon commented on #616
[code]

[2018-04-05 11:56] whedon commented on #616
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00616/joss.00616/10.21105.joss.00616.pdf)

[2018-04-05 11:58] greatfireball commented on #616
Thanks @luizirber for your review. I think we addressed most of your issues, but we need some help with your issue concerning the example (please see below about our detailed answers). In between, we further improved `microPIECE` and pushed our current version to `v1.4.0`. Moreover, we added an explaination why we chose `miraligner` as isomer detection tool into the manuscript.

## General checks

[2018-04-05 12:42] motib commented on #639
@whedon generate pdf

[2018-04-05 12:42] whedon commented on #639
[code]

[2018-04-05 12:42] whedon commented on #639
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00639/joss.00639/10.21105.joss.00639.pdf)

[2018-04-05 12:46] motib commented on #639
@whedon generate pdf

[2018-04-05 12:46] whedon commented on #639
[code]

[2018-04-05 12:46] whedon commented on #639
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00639/joss.00639/10.21105.joss.00639.pdf)

[2018-04-05 12:56] motib commented on #639
I have made the modifications, but the isbns/dois do not appear on the generated pdf of the "paper". Possibly, s not including the package \url that I use to format the dois. If so, should I remove \url or is there someway to add this package?

Also: @danielskatz I just noticed that you forked the project, but I made the modifications to the master branch. Is that OK?

[2018-04-05 13:14] danielskatz commented on #639
It looks like you made the equivalent change to what was in my branch without merging my branch's PR, which is fine, so I've now deleted the branch and closed the PR.

[2018-04-05 13:15] danielskatz commented on #639
@arfon, can you help with this?  I would have expected the note data to be pulled from the .bib file into the references.  Perhaps you can suggest how this should be done?

[2018-04-05 16:42] danielskatz commented on #639
@arfon - ping... re: 2 comments up :)

[2018-04-05 17:58] arfon commented on #639
Sure. I think these should be listed as `doi` fields as well as `url`. So for [this line](https://github.com/motib/LearnSAT/blob/master/learnsat.bib#L22) change it to:

[code]

[2018-04-05 18:16] danielskatz commented on #639
And what do you suggest for the ISBNs for the books?  I would have expected the note field to work.

[2018-04-05 20:08] marpierc commented on #622
I have made comments here: https://github.com/OSC/Open-OnDemand/issues.

[2018-04-05 21:41] danielskatz commented on #622
Thanks @marpierc - please update this issue as those issues get resolved.

[2018-04-05 21:51] KlausVigo commented on #593
Hi @giraola and @iferres,

I just made a pull request, to make the default closer to what users would expect. The `optim.pml` should also some tree rearrangements, otherwise it would just return an optimised NJ tree. Additionally I added some code which sets the number of rate categories to 4 if optimisation of the discrete gamma distribution is requested. That is probably some of the more quirky

[2018-04-05 22:03] giraola commented on #593
Hi @KlausVigo thanks for your time and for optimising the tree building step. We will have a look at muscle() function in APE. We agree that would be better to distribute the package to other OSs, indeed some colleagues have already requested this!

[2018-04-05 22:49] lmullen commented on #655
@arfon Sorry to be a pest. But I noticed that the published PDF did not update after you regenerated it. I.e. the proof a few lines above is corrected but the published version isnt. Would you mind updating it if possible?

[2018-04-06 00:49] arfon commented on #655
@lmullen - could you tell me what difference I should be looking for and can you confirm that this paper is _not_ correct: https://github.com/openjournals/joss-papers/blob/5716811674dbd048372cd310e8598708e82a235b/joss.00655/10.21105.joss.00655.pdf ?

[2018-04-06 02:52] juanvillada commented on #593
Hi @giraola  and @iferres,

### Summary of my review:
- ✅ General Checks
- ⚠️ Functionality
- ✅ Documentation
- ✅ Software paper
----

## ✅ General Checks
I had two comments for this section on **Version** and **Authorship**. They were addressed already.

## ⚠️ Functionality
### Installation
- Assuming some people do not have it previously installed, I would suggest to include a line to install th

[2018-04-06 07:49] motib commented on #639
@whedon generate pdf

[2018-04-06 07:49] whedon commented on #639
[code]

[2018-04-06 07:49] whedon commented on #639
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00639/joss.00639/10.21105.joss.00639.pdf)

[2018-04-06 10:09] whedon opened #663 "[PRE REVIEW]: pdfsearch: Search Tools for PDF Files"
**Submitting author:** @lebebr01 (<a href="http://orcid.org/0000-0002-1265-8761">Brandon LeBeau</a>)
**Repository:** <a href="https://github.com/lebebr01/pdfsearch" target ="_blank">https://github.com/lebebr01/pdfsearch</a>
**Version:** v0.2.0
**Editor:** @karthik
**Reviewers:** @lmullen

**Author instructions**

Thanks for submitting your paper to JOSS @lebebr01. The JOSS editor (shown at the top

[2018-04-06 10:09] whedon commented on #663
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @karthik it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-04-06 10:09] whedon commented on #663
[code]

[2018-04-06 10:09] whedon commented on #663
PDF failed to compile for issue #663 with the following error:

 /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon.rb:78:in `check_fields': Paper YAML header is missing expected fields: affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon.rb:66:in `initialize'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a

[2018-04-06 10:09] whedon opened #664 "[PRE REVIEW]: ACTIN: A tool to calculate stellar activity indices"
**Submitting author:** @gomesdasilva (<a href="http://orcid.org/0000-0001-8056-9202">João Gomes da Silva</a>)
**Repository:** <a href="https://github.com/gomesdasilva/ACTIN" target ="_blank">https://github.com/gomesdasilva/ACTIN</a>
**Version:** v1.0
**Editor:** @arfon
**Reviewers:** @RuthAngus

**Author instructions**

Thanks for submitting your paper to JOSS @gomesdasilva. The JOSS editor (shown

[2018-04-06 10:09] whedon commented on #664
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-04-06 10:09] whedon commented on #664
[code]

[2018-04-06 10:09] whedon commented on #664
PDF failed to compile for issue #664 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `block in find': No such file or directory (Errno::ENOENT)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon/processor.

[2018-04-06 10:09] whedon opened #665 "[PRE REVIEW]: MicroBenthos: a modeling framework for microbial benthic ecology"
**Submitting author:** @achennu (<a href="http://orcid.org/0000-0002-0389-5589">Arjun Chennu</a>)
**Repository:** <a href="https://github.com/achennu/microbenthos" target ="_blank">https://github.com/achennu/microbenthos</a>
**Version:** v0.8.2
**Editor:** @lheagy
**Reviewers:** @leouieda

**Author instructions**

Thanks for submitting your paper to JOSS @achennu. The JOSS editor (shown at the top

[2018-04-06 10:09] whedon commented on #665
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @lheagy it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-04-06 10:09] whedon commented on #665
[code]

[2018-04-06 10:09] whedon opened #666 "[PRE REVIEW]: SuchTree : A Python library for fast, thread-safe computations on phylogenetic trees"
**Submitting author:** @ryneches (<a href="http://orcid.org/0000-0002-2055-8381">Russell Y. Neches</a>)
**Repository:** <a href="https://github.com/ryneches/SuchTree" target ="_blank">https://github.com/ryneches/SuchTree</a>
**Version:** 0.6
**Editor:** @karthik
**Reviewers:** @giraola

**Author instructions**

Thanks for submitting your paper to JOSS @ryneches. The JOSS editor (shown at the top o

[2018-04-06 10:09] whedon commented on #666
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @karthik it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-04-06 10:09] whedon commented on #666
[code]

[2018-04-06 10:09] whedon commented on #665
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00665/joss.00665/10.21105.joss.00665.pdf)

[2018-04-06 10:10] whedon commented on #666
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00666/joss.00666/10.21105.joss.00666.pdf)

[2018-04-06 10:11] arfon commented on #639
According to this post the `note` field should work https://tex.stackexchange.com/questions/52040/bibtex-show-isbn-number. I'm not sure what bibliography style we're using for JOSS but it's clearly not including `note` fields by default...

[2018-04-06 10:12] arfon commented on #664
@whedon generate pdf

[2018-04-06 10:12] whedon commented on #664
[code]

[2018-04-06 10:12] whedon commented on #664
PDF failed to compile for issue #664 with the following error:

 /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon.rb:78:in `check_fields': Paper YAML header is missing expected fields: date (RuntimeError)
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon.rb:66:in `initialize'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125

[2018-04-06 10:14] arfon commented on #664
@gomesdasilva - please fix up the YAML header in your `paper.md` (I think the date field is currently commented out).

Also, do you have any suggested reviewers for this submission?

[2018-04-06 10:14] arfon commented on #664
@whedon assign @arfon as editor

[2018-04-06 10:14] whedon commented on #664
OK, the editor is @arfon

[2018-04-06 10:15] arfon commented on #663
:wave: @karthik - the submitting author suggested you as the handling editor.

@lebebr01 - please take a look at the `paper.md` file and fix the metadata so the paper will compile.

[2018-04-06 10:16] arfon commented on #666
👋 @karthik - the submitting author suggested you as the handling editor.

[2018-04-06 10:16] arfon commented on #665
👋 @lheagy - the submitting author suggested you as the handling editor.

[2018-04-06 10:44] motib commented on #639
@arfon: On stackexchange I found a simple way to include DOIs: change the bib style to "plainurl" and include the "hyperref" package. "hyperref" additionally creates internal links in the PDF. Now the documents include "doi" fields with no "http" but the fields are clickable links. On the whedon-generated pdf, the "doi" appears as a link with "http".

There is no simple way include isbn's (without

[2018-04-06 10:51] achennu commented on #665
@arfon Thanks for initiating the review. I just checked the proof. Noticed an error: There is a blank line in the bullet list of features.

@lheagy The software I submitted is useful in biogeochemistry. Based on your topical expertise and that simpeg relates to finite volume estimation, I figured you may be able to easily review my submission.

[2018-04-06 12:51] whedon commented on #661
[code]

[2018-04-06 12:55] ndem0 commented on #661
@whedon generate pdf

[2018-04-06 12:55] whedon commented on #661
[code]

[2018-04-06 12:55] whedon commented on #661
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00661/joss.00661/10.21105.joss.00661.pdf)

[2018-04-06 12:57] arfon commented on #639
I think it's worth opening an issue to track this bug but I don't think this can be fixed quickly.

[2018-04-06 13:01] arfon commented on #664
:wave: @RuthAngus @lmwalkowicz - would you be willing to review this submission for JOSS?

[2018-04-06 13:02] lmwalkowicz commented on #664
I don’t have the bandwidth right now, sorry!
On Fri, Apr 6, 2018 at 9:01 AM Arfon Smith <notifications@github.com> wrote:

[2018-04-06 13:03] arfon commented on #664
👍NP. Thanks for the quick response.

[2018-04-06 13:04] lmullen commented on #655
@arfon Yes, the [link above](https://github.com/openjournals/joss-papers/blob/5716811674dbd048372cd310e8598708e82a235b/joss.00655/10.21105.joss.00655.pdf) is not correct. If you compare that to [this proof](https://github.com/openjournals/joss-papers/blob/joss.00655/joss.00655/10.21105.joss.00655.pdf) you can check that the link to tokenizers in the second paragraph should *not* be bold and that i

[2018-04-06 13:12] danielskatz commented on #639
ok, I opened https://github.com/openjournals/joss/issues/392

[2018-04-06 13:28] ndem0 commented on #661
@whedon generate pdf

[2018-04-06 13:28] whedon commented on #661
[code]

[2018-04-06 13:36] RuthAngus commented on #664
I'd love to! Let me know what the procedure is.

[2018-04-06 14:02] mtezzele commented on #661
@ziotom78 thanks for the suggestions. @ndem0 made all the fixes.

[2018-04-06 14:44] ziotom78 commented on #661
@mtezzele @ndem0 thank you for the prompt response! Everything seems to have been fixed, except the URL to Chinesta's book: it looks like it has a spurious `https://dx.doi.org/` at the beginning of it.

Might you please add the link to the arXiv entry for the paper by [Salmoiraghi et al](https://arxiv.org/abs/1803.04688)? Meanwhile, I'll play with EZyRB, I just installed it on my computer.

[2018-04-06 15:43] arfon commented on #664
🎉 great, thanks! I'll go ahead and set up the main review issue now.

[2018-04-06 15:43] arfon commented on #664
@whedon start review magic-word=bananas

[2018-04-06 15:43] #664 closed

[2018-04-06 15:43] whedon opened #667 "[REVIEW]: ACTIN: A tool to calculate stellar activity indices"
**Submitting author:** @gomesdasilva (<a href="http://orcid.org/0000-0001-8056-9202">João Gomes da Silva</a>)
**Repository:** <a href="https://github.com/gomesdasilva/ACTIN" target ="_blank">https://github.com/gomesdasilva/ACTIN</a>
**Version:** v1.2.2
**Editor:** @arfon
**Reviewer:** @RuthAngus
**Archive:** <a href="https://doi.org/10.5281/zenodo.1478610" target="_blank">10.5281/zenodo.1478610</a

[2018-04-06 15:43] whedon commented on #664
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/667. Feel free to close this issue now!

[2018-04-06 15:43] whedon commented on #667
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @RuthAngus it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curren

[2018-04-06 15:43] whedon commented on #667
[code]

[2018-04-06 15:44] whedon commented on #667
PDF failed to compile for issue #667 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `block in find': No such file or directory (Errno::ENOENT)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon/processor.

[2018-04-06 15:44] whedon commented on #667
[code]

[2018-04-06 15:45] whedon commented on #667
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00667/joss.00667/10.21105.joss.00667.pdf)

[2018-04-06 16:35] lebebr01 commented on #663
I just pushed the changes to the `paper.md` file that I believe will fix the compilation errors.

Looking at the list of reviewers, I wonder if @lmullen would be willing and able to review.

[2018-04-06 16:58] ndem0 commented on #661
@whedon generate pdf

[2018-04-06 16:58] whedon commented on #661
[code]

[2018-04-06 16:59] whedon commented on #661
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00661/joss.00661/10.21105.joss.00661.pdf)

[2018-04-06 17:01] ndem0 commented on #661
@ziotom78 I fixed both the wrong doi and arXiv link missing, now the paper should be ok!

[2018-04-06 18:02] DTChuck commented on #630
Checking in on the progress of this review. Anything that you need from me, just ask.
@abhishekbajpayee
@arfon

[2018-04-06 19:14] KlausVigo commented on #593
Hi @iferres ,

I think these changes would be enough for the start. I didn't want to suggest that you need to add the sources of HMMER and MAFFT and install them with the package, that is probably too much work. If you could be done it is super useful of course.

There is also the `msa` package on Bioconductor, which installs muscle and clustal to use from inside R. If the maintainer would add MAF

[2018-04-06 21:32] karthik commented on #663
Happy to handle and would be delighted for @lmullen to review! 🙏

[2018-04-06 21:32] karthik commented on #663
@whedon assign @lmullen as reviewer

[2018-04-06 21:32] whedon commented on #663
OK, the reviewer is @lmullen

[2018-04-06 21:33] karthik commented on #663
@whedon start review

[2018-04-06 21:33] whedon commented on #663
You didn't say the magic word! Try this:

[code]

[2018-04-06 21:33] karthik commented on #663
@whedon start review magic-word=bananas

[2018-04-06 21:33] whedon opened #668 "[REVIEW]: pdfsearch: Search Tools for PDF Files"
**Submitting author:** @lebebr01 (<a href="http://orcid.org/0000-0002-1265-8761">Brandon LeBeau</a>)
**Repository:** <a href="https://github.com/lebebr01/pdfsearch" target ="_blank">https://github.com/lebebr01/pdfsearch</a>
**Version:** v0.2.0
**Editor:** @karthik
**Reviewers:** @lmullen, @jeroen
**Archive:** <a href="https://doi.org/10.5281/zenodo.1294067" target="_blank">10.5281/zenodo.1294067</

[2018-04-06 21:33] whedon commented on #663
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/668. Feel free to close this issue now!

[2018-04-06 21:33] whedon commented on #668
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @lmullen it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currentl

[2018-04-06 21:33] whedon commented on #668
[code]

[2018-04-06 21:33] #663 closed

[2018-04-06 21:33] whedon commented on #668
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00668/joss.00668/10.21105.joss.00668.pdf)

[2018-04-06 21:41] karthik commented on #635
Hi @reefpicker
Yes please suggest two to three names from that list and we can go from there.

[2018-04-06 21:42] karthik commented on #229
Thanks for the nudge @arfon. Taking a look now.

[2018-04-06 21:53] karthik commented on #229
Thanks @bunhoel
The package looks ready for review now. A few comments for you to think about while I assign a reviewer.

**Potential problems and suggestions for your package**

[code]

[2018-04-06 21:54] karthik commented on #229
I spoke too soon. One remaining issue before I assign a reviewer is that you are missing unit tests. Once you add those and some code coverage, I will proceed with your submission.

[2018-04-06 21:55] karthik commented on #666
@arfon thanks! Will make a quick determination if I'm able to handle this one and update the thread soon.

[2018-04-07 09:46] dlagrava commented on #661
@mtezzele a couple of typos on the paper.md:
- since its structure can interact with several simulation software **by** simply providing the output file of the simulations
- As an **example**, ...

Thanks.

[2018-04-07 11:41] arfon commented on #487
:wave: @nespinoza - would you be willing to review this submission for JOSS?

[2018-04-07 12:47] nespinoza commented on #487
Hi @arfon, would love to!

[2018-04-07 15:13] arfon commented on #487
@nespinoza - fantastic, thanks!!!

[2018-04-07 15:13] arfon commented on #487
@whedon assign @nespinoza as reviewer

[2018-04-07 15:13] whedon commented on #487
OK, the reviewer is @nespinoza

[2018-04-07 15:15] arfon commented on #487
@nespinoza - please take a look at the instructions at the top of this issue - any problems, just let me know.

[2018-04-07 15:42] karthik commented on #663
@whedon commands

[2018-04-07 15:42] whedon commented on #663
Here are some things you can ask me to do:

[code]

[2018-04-07 15:44] karthik commented on #663
whedon add @jeroen as reviewer

[2018-04-07 15:44] karthik commented on #663
@whedon add @jeroen as reviewer

[2018-04-07 15:44] whedon commented on #663
OK, @jeroen is now a reviewer

[2018-04-07 15:49] karthik commented on #668
@whedon add @jeroen as reviewer

[2018-04-07 15:49] whedon commented on #668
OK, @jeroen is now a reviewer

[2018-04-07 20:48] caseyyoungflesh commented on #640
Thank you very much @jkarreth! Version 0.10.0 is now on CRAN (though all binaries may not be built yet).

[2018-04-08 16:51] arokem commented on #524
Any news here? I see that many of the check marks are marked. Any other comments, so that authors can fill the other requirements?

[2018-04-08 16:53] arokem commented on #508
Hello @dwhitena! Have you had a chance to take a look at the comments that the reviewer made?

[2018-04-08 17:50] lheagy commented on #665
@arfon, @achennu, I would be happy to edit this submission!

[2018-04-08 17:56] lheagy commented on #659
👋 Thanks @Chilipp and @dhhagan for being willing to review. There is a checklist above for each of you as you go through the review process. It works through general checks, installation, functionality and the quality of the paper. Please let me know if you have any questions or if I can be of assistance in the review process!

[2018-04-08 18:59] mlgill commented on #638
@rasbt @arokem Am now able to work on this -- thanks for your patience. Have completed general checks and paper checks. Will devote some time to the functionality and documentation sections this week.

[2018-04-08 18:59] mlgill commented on #638
@rasbt Requested DOIs links for journal article references in paper. Issue is [here](https://github.com/rasbt/mlxtend/issues/360).

[2018-04-08 21:03] Chilipp commented on #659
@lheagy  and @brian-rose: I apologize for the delay that is caused by the EGU. I expect to have it done at latest by Tuesday evening.

[2018-04-09 10:03] leeper commented on #629
@rdrr1990 Just a quick reminder about this review!

[2018-04-09 10:04] leeper commented on #515
@tgerke Just a quick reminder about this review!

[2018-04-09 10:51] ziotom78 commented on #661
I created [ticket #68](https://github.com/mathLab/EZyRB/issues/68) on EZyRB's website, as there is no clear indication of the supported Python version. (I discovered that EZyRB does not support Python 3.6 by trial and error, although I later realized that `setup.py` indicates that in the metadata.)

[2018-04-09 11:00] achennu commented on #665
@lheagy Thanks for taking this on. I don't have other (specific) reviewers to suggest, but I suspect it would be directly within your reach. There is nothing critically specific to chemistry or biology to review. The software essentially is an interface for the user to create partial differential equations. Then these equations are solved, visualized in real time and saved. The benefit for a bioge

[2018-04-09 12:59] ndem0 commented on #661
@ziotom78 Thanks for the segnalation, I added in the README file the supported Python version.

[2018-04-09 13:11] ziotom78 commented on #661
@ndem0 thanks! @arfon, everything looks fine to me now.

[2018-04-09 13:39] lmullen commented on #668
@whedon commands

[2018-04-09 13:39] whedon commented on #668
Here are some things you can ask me to do:

[code]

[2018-04-09 14:35] spinicist commented on #656
Hello, I've been away but am now back. Is there anything I need to do for this except wait? The article proof looks okay to me. Thanks.

[2018-04-09 15:25] jeroen commented on #668
@lebebr01 what is the reason pdfsearch 0.2.0 is not on CRAN yet?

[2018-04-09 15:26] rasbt commented on #638
Thx. I added the DOIs to all papers for which they exist. The updated PDF paper is available via whedon's link above

[2018-04-09 15:27] oesteban commented on #656
I made a first pass over the conformity checks. I hope I'll go through installation and the rest along this week.

I guess all is on my plate right now

[2018-04-09 16:08] rdrr1990 commented on #629
Thanks! (Haven't forgotten just bested by the quarter system again... I can
finally get to this week though.)

On Mon, Apr 9, 2018 at 3:03 AM, Thomas J. Leeper <notifications@github.com>
wrote:

--
Pete Mohanty, PhD
Science, Engineering & Education Fellow
Stanford University
Department of Statistics
https://sites.google.com/site/petemohanty/

[2018-04-09 16:09] lebebr01 commented on #668
@jeroen was primarily waiting to submit to CRAN until after the review. I'm open to submitting prior to review and then submitting another version after the review if there are changes made.

[2018-04-09 17:58] whedon opened #669 "[PRE REVIEW]: BioSigKit: A Matlab Toolbox and Interface for Analysis of BioSignals"
**Submitting author:** @hooman650 (<a href="http://orcid.org/0000-0003-3577-2687">Hooman Sedghamiz</a>)
**Repository:** <a href="https://github.com/hooman650/BioSigKit" target ="_blank">https://github.com/hooman650/BioSigKit</a>
**Version:** V1.0.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @hooman650. The JOSS editor (shown at the

[2018-04-09 17:58] whedon commented on #669
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-04-09 17:58] whedon commented on #669
[code]

[2018-04-09 17:58] whedon commented on #669
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00669/joss.00669/10.21105.joss.00669.pdf)

[2018-04-09 18:24] hooman650 commented on #669
@whedon commands

[2018-04-09 18:25] whedon commented on #669
Here are some things you can ask me to do:

[code]

[2018-04-09 18:25] hooman650 commented on #669
@whedon generate pdf

[2018-04-09 18:25] whedon commented on #669
[code]

[2018-04-09 18:26] whedon commented on #669
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00669/joss.00669/10.21105.joss.00669.pdf)

[2018-04-09 18:31] hooman650 commented on #669
@whedon generate pdf

[2018-04-09 18:31] whedon commented on #669
[code]

[2018-04-09 18:32] whedon commented on #669
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00669/joss.00669/10.21105.joss.00669.pdf)

[2018-04-09 18:33] hooman650 commented on #669
@whedon generate pdf

[2018-04-09 18:33] whedon commented on #669
[code]

[2018-04-09 18:34] whedon commented on #669
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00669/joss.00669/10.21105.joss.00669.pdf)

[2018-04-09 18:37] hooman650 commented on #669
@whedon generate pdf

[2018-04-09 18:37] whedon commented on #669
[code]

[2018-04-09 18:38] whedon commented on #669
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00669/joss.00669/10.21105.joss.00669.pdf)

[2018-04-09 18:48] hooman650 commented on #669
@whedon generate pdf

[2018-04-09 18:48] whedon commented on #669
[code]

[2018-04-09 18:48] whedon commented on #669
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00669/joss.00669/10.21105.joss.00669.pdf)

[2018-04-09 18:55] hooman650 commented on #669
@whedon generate pdf

[2018-04-09 18:55] whedon commented on #669
[code]

[2018-04-09 18:56] whedon commented on #669
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00669/joss.00669/10.21105.joss.00669.pdf)

[2018-04-09 18:59] jeroen commented on #668
@lebebr01 can you ping me here when https://github.com/lebebr01/pdfsearch/issues/10 has been fixed, so I can proceed with testing and reviewing the package (on macos ;))

[2018-04-09 19:01] hooman650 commented on #669
@whedon generate pdf

[2018-04-09 19:01] whedon commented on #669
[code]

[2018-04-09 19:01] whedon commented on #669
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00669/joss.00669/10.21105.joss.00669.pdf)

[2018-04-09 19:07] hooman650 commented on #669
@whedon generate pdf

[2018-04-09 19:08] whedon commented on #669
[code]

[2018-04-09 19:08] whedon commented on #669
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00669/joss.00669/10.21105.joss.00669.pdf)

[2018-04-09 19:15] hooman650 commented on #669
@whedon generate pdf

[2018-04-09 19:15] whedon commented on #669
[code]

[2018-04-09 19:15] whedon commented on #669
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00669/joss.00669/10.21105.joss.00669.pdf)

[2018-04-09 19:38] hooman650 commented on #669
Hi @cMadan do you mind reviewing this paper?

[2018-04-09 19:56] lebebr01 commented on #668
@jeroen Issue should be fixed. All functions now use `tokenizers::tokenize_lines` instead of the literal `\r\n` splitting, thanks for catching this.

Also added unit test here to test for literal "\n" characters in result text: [test here](https://github.com/lebebr01/pdfsearch/blob/e8d8e90c63a9730cd0e99ea8defe7ea5c5bc705a/tests/testthat/test_structure.r#L81-L90). Open to other suggestions to test

[2018-04-09 20:42] spinicist commented on #656
Great, much appreciated.

[2018-04-09 22:04] luizirber commented on #616
Thanks for the comments and updates @greatfireball and @DanielAmsel!

I reran the docker example and it worked now, may have been a glitch on my side (I don't have the error message anymore...)

@brainstorm I checked all the boxes, I think this is good to go! (can you update the version in the initial comment of this PR? to `1.4.0`?)

[2018-04-10 00:55] jkarreth commented on #640
Looks great to me; all boxes are checked off and my review is complete from my end. Congrats!

[2018-04-10 01:15] brainstorm commented on #616
@whedon generate pdf

[2018-04-10 01:15] whedon commented on #616
[code]

[2018-04-10 01:16] whedon commented on #616
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00616/joss.00616/10.21105.joss.00616.pdf)

[2018-04-10 01:17] brainstorm commented on #616
Obrigado @luizirber and thanks @greatfireball and @DanielAmsel!

@whedon set 10.5281/zenodo.1188480 as archive

[2018-04-10 01:28] brainstorm commented on #616
@whedon set 10.5281/zenodo.1188480 as archive

[2018-04-10 01:28] whedon commented on #616
OK. <a href="http://dx.doi.org/10.5281/zenodo.1188480" target="_blank">10.5281/zenodo.1188480</a> is the archive.

[2018-04-10 04:25] greatfireball commented on #616
Good morning! Thanks @luizirber and @brainstorm.

If possible, I would like to release and use the version v1.5.0, due to we further optimized our code. I will generate a new release later this morning, create a new zenodo archive, and post a link and the DOI here.

Thanks!

[2018-04-10 04:58] brainstorm commented on #616
Good afternoon from Melbourne!

Thanks @greatfireball, apparently the Zenodo DOI is stable across versions and points to the latest version:

[code]

As I just read here: http://help.zenodo.org/#versioning

@arfon, does whedon announce the release of the paper upon closing this issue I assume, or is there any additional step to follow?

Thanks everyone again!

[2018-04-10 05:58] greatfireball commented on #616
@brainstorm of course you are right... You set the stabil DOI. I thought you would like to use a DOI pointing to the version indicated by the version above. Do you increase the version number to v1.5.0 before closing the issue?

[2018-04-10 08:31] biotomas commented on #639
I checked off all the items

[2018-04-10 12:26] greatfireball commented on #616
I just released the version [v1.5.0](https://github.com/microPIECE-team/microPIECE/releases/tag/v1.5.0). The DOI for that version is [10.5281/zenodo.1215850](https://doi.org/10.5281/zenodo.1215850) but if you are fine with the DOI for all versions, we are fine as well. Finally, we will run the pipeline once more and update the numbers within the manuscript. Afterwards, we are ready to go. Thanks!

[2018-04-10 13:46] dhhagan commented on #540
Hey @Kevin-Mattheus-Moerman Anything I can do to speed this along?

[2018-04-10 14:12] arfon commented on #616
@whedon set 10.5281/zenodo.1215850  as archive

[2018-04-10 14:12] whedon commented on #616
OK. <a href="http://dx.doi.org/10.5281/zenodo.1215850" target="_blank">10.5281/zenodo.1215850</a> is the archive.

[2018-04-10 14:12] arfon commented on #616
@brainstorm - I have to do a couple of things in the background. I can take it from here...

[2018-04-10 14:38] mtezzele commented on #661
@whedon generate pdf

[2018-04-10 14:38] whedon commented on #661
[code]

[2018-04-10 14:39] whedon commented on #661
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00661/joss.00661/10.21105.joss.00661.pdf)

[2018-04-10 14:40] arfon commented on #616
@luizirber - many thanks for your review here and to @brainstorm for editing this submission ✨

@greatfireball - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00616 ⚡️:rocket: :boom:

[2018-04-10 14:40] #616 closed

[2018-04-10 14:40] whedon commented on #616
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00616/status.svg)](https://doi.org/10.21105/joss.00616)

**We need your help!**

Journal of Open Source Software

[2018-04-10 14:43] arfon commented on #640
Excellent. Thanks @jkarreth.

@caseyyoungflesh - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-04-10 14:59] greatfireball commented on #616
Thank you for finalizing the paper and thanks for acception @arfon! Nevertheless, as I stated above, we are currently rerunning the pipeline with version v1.5.0 and might need to change a number inside the manuscript. Is it still possible or to late? Thanks in advance!

[2018-04-10 15:54] arfon commented on #616
Sure thing. I can update the paper whenever you're ready.

[2018-04-10 16:01] caseyyoungflesh commented on #640
@arfon thanks!

**DOI for all versions:** 10.5281/zenodo.1216119

**DOI for v0.10.0:** 10.5281/zenodo.1216120

[2018-04-10 16:07] arfon commented on #640
@whedon set 10.5281/zenodo.1216120 as archive

[2018-04-10 16:07] whedon commented on #640
OK. <a href="http://dx.doi.org/10.5281/zenodo.1216120" target="_blank">10.5281/zenodo.1216120</a> is the archive.

[2018-04-10 16:14] arfon commented on #640
@jkarreth - many thanks for your review here.

@caseyyoungflesh - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00640 :zap: :rocket: :boom:

[2018-04-10 16:14] #640 closed

[2018-04-10 16:14] whedon commented on #640
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00640/status.svg)](https://doi.org/10.21105/joss.00640)

**We need your help!**

Journal of Open Source Software

[2018-04-10 16:44] arfon commented on #661
@dlagrava, @ziotom78 - can you both confirm we're good to accept here now?

[2018-04-10 16:46] arfon commented on #481
@alistairewj - thanks for getting back to us - I totally understand where you're coming from. If you like we can withdraw this submission on your behalf. If you ever decide to revisit this we'd welcome a re-submission.

[2018-04-10 17:02] ziotom78 commented on #661
@arfon for me it's ok

[2018-04-10 17:29] jeroen commented on #668
OK thank you for fixing. LGTM!

[2018-04-10 18:28] yxqd commented on #566
I think the documentation is much improved now.  There are some small problems and comments were added to jarvist/PolaronMobility.jl#1 and  jarvist/PolaronMobility.jl#2

[2018-04-10 20:31] brian-rose commented on #659
Thanks @Chilipp for the help with the references and the Python 3 update. I merged the PR.

Will add some community guidelines next.

[2018-04-10 21:11] DTChuck commented on #630
Just checking in again. Please let me know if you need anything from me to complete the review. @abhishekbajpayee
@arfon

[2018-04-10 21:28] dlagrava commented on #661
@arfon I am really sorry, I finished this yesterday, but I have been very busy. For me all is good here.

[2018-04-10 23:11] abhishekbajpayee commented on #630
@DTChuck Sorry about the delay. Will try and get this done within the next day or do. Quick question: should I add my remarks / questions here as comments?

[2018-04-10 23:39] abhishekbajpayee commented on #630
@DTChuck here are some questions I have:
1. Does this require Python 3.x and won't work for Python 2.x? If so, why is that? I ask because even though a lot of people are moving to Python 3.x, adoption might suffer because of the Python 3.x requirement because a ton of people still use Python 2.x. If they end up having to install Python 3.x then managing 2 versions of Python becomes confusing.
4. I

[2018-04-11 00:26] karantibrewal commented on #30
Thanks for your comments @joshuaulrich. They have been fixed now.

However, I can't get the CRAN issue fixed for the life of me. It seems like a file path issue. The error message specifically is:

`Messages:
sh: /usr/local/opt/texinfo/bin/texi2dvi: No such file or directory
Calls: <Anonymous> -> texi2pdf -> texi2dvi
Execution halted`

Do you have any idea of how to fix this? Any advice would be m

[2018-04-11 01:08] mlgill commented on #638
Minor (non-critical) suggestion to link to the very nice user guide from the examples section, see [issue](https://github.com/rasbt/mlxtend/issues/364).

[2018-04-11 01:13] mlgill commented on #638
@rasbt  I am completed with the review, other than the request to clean up documentation (which appears to be in-progress) based on the issue. When this is complete, please let me know and I will check it off.

I have also listed one other minor (non-critical suggestion) above. This isn't required.

Please let me know what else is needed other than checking off the last box. Thank you for the oppo

[2018-04-11 03:47] DTChuck commented on #630
Addressing 2: I haven't seen that issue before. I was able to install it in a virtualenv on both my Mac and Ubuntu PC, but it could just be some setting I have. It could possibly be due to the OpenCV installation not being present in the virtualenv, as that can't be installed via pip as a dependency. If you have any logs or error messages, I can take a look and see what may be happening.

As for 1

[2018-04-11 03:57] lheagy commented on #659
Thanks @Chilipp and @brian-rose!

[2018-04-11 04:10] rasbt commented on #638
@mlgill thanks for the time doing such a thorough review, and the issues you pointed out were very helpful -- these were things I never noticed myself and I am glad that they are fixed now! Also, I am glad to hear that you liked the process, which I hope wasn't too tedious :).

[2018-04-11 04:26] abhishekbajpayee commented on #630
Regarding installation instructions, I think it would be better if you list the dependencies as a list. Also, it would make it super easy for others if you include a few lines that users can just copy and paste into a terminal to install the dependencies. I am pretty sure it is possible to install Boost libs using `apt-get`. Installing OpenCV can be a bit tricky but I know that it is possible to i

[2018-04-11 12:04] mlgill commented on #638
@rasbt It wasn't tedious at all--lots of fun. I've marked the last box as complete above. If I need to do anything else to mark this review as complete, please let me know. cc @arokem

[2018-04-11 12:39] Kevin-Mattheus-Moerman commented on #572
@llllllllll if you don't mind I'll add you as the main reviewer so we can start opening the review issue. I will continue to look for additional reviewers and I look forward seeing your comments mid May. Thanks

[2018-04-11 12:40] Kevin-Mattheus-Moerman commented on #572
@whedon assign @llllllllll as reviewer

[2018-04-11 12:40] whedon commented on #572
OK, the reviewer is @llllllllll

[2018-04-11 12:40] Kevin-Mattheus-Moerman commented on #572
@whedon start review magic-word=bananas

[2018-04-11 12:41] whedon opened #670 "[REVIEW]: MatchPy: Pattern Matching in Python"
**Submitting author:** @henrik227 (<a href="http://orcid.org/0000-0001-6744-3605">Henrik Barthels</a>)
**Repository:** <a href="https://github.com/HPAC/matchpy" target ="_blank">https://github.com/HPAC/matchpy</a>
**Version:** v0.4.5
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @llllllllll
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1294930" target="_blank">10.5281/zenodo.1294930</

[2018-04-11 12:41] whedon commented on #572
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/670. Feel free to close this issue now!

[2018-04-11 12:41] whedon commented on #670
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @llllllllll it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curre

[2018-04-11 12:41] whedon commented on #670
[code]

[2018-04-11 12:41] #572 closed

[2018-04-11 12:41] whedon commented on #670
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00670/joss.00670/10.21105.joss.00670.pdf)

[2018-04-11 12:42] Kevin-Mattheus-Moerman commented on #670
@henrik227 @llllllllll this is where the review will take place. Let me know if you have any questions.

[2018-04-11 13:13] marpierc commented on #622
I second @smgallo comments. The major issues with the current release are the complicated installation process and the need for more automated testing. The OOD team should also consider how to handle third party contributions (bug fixes, add-ons, etc).

[2018-04-11 13:49] danielskatz commented on #622
Thanks @marpierc

Just to make the status of this review clear, I think the ball is now with @ericfranz to address these issues and respond.

[2018-04-11 14:59] arfon commented on #661
@whedon set 10.5281/zenodo.1216303 as archive

[2018-04-11 14:59] whedon commented on #661
OK. <a href="http://dx.doi.org/10.5281/zenodo.1216303" target="_blank">10.5281/zenodo.1216303</a> is the archive.

[2018-04-11 15:02] arfon commented on #661
@ziotom78 @dlagrava - many thanks for your reviews here ✨

@ndem0 - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00661 :zap: :rocket: :boom:

[2018-04-11 15:02] #661 closed

[2018-04-11 15:02] whedon commented on #661
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00661/status.svg)](https://doi.org/10.21105/joss.00661)

**We need your help!**

Journal of Open Source Software

[2018-04-11 15:03] arfon commented on #650
@caley - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-04-11 15:05] ndem0 commented on #661
@arfon @ziotom78 @dlagrava Many thanks for the efforts!

[2018-04-11 15:38] DTChuck commented on #630
I am going to update the instructions later today. I am also spooling up an Ubuntu VM so I can test python 2.7 and 3.x installation in a clean environment. I will check both of the boxes above once I have finished. Thanks for the feedback!

[2018-04-11 16:17] Kevin-Mattheus-Moerman commented on #669
@whedon assign @Kevin-Mattheus-Moerman as editor

[2018-04-11 16:17] whedon commented on #669
OK, the editor is @Kevin-Mattheus-Moerman

[2018-04-11 16:25] lheagy commented on #665
@leouieda has indicated that he is willing to help out with this submission. @leouieda: does it work with you if I put you down as the lead reviewer on this? I can jump in and help out as well.

[2018-04-11 16:28] Kevin-Mattheus-Moerman commented on #669
@cMadan @keevindoherty @germangh @marianux would you be interested in reviewing this [JOSS](http://joss.theoj.org/) submission? Here is the [article](https://github.com/openjournals/joss-papers/blob/joss.00669/joss.00669/10.21105.joss.00669.pdf) and this is the [project repo](https://github.com/hooman650/BioSigKit). The review focuses largely on the software, see our [review guidelines](http://jos

[2018-04-11 17:00] arfon commented on #669
@hooman650 - could you describe the problem? The PDF looks OK to me.

[2018-04-11 17:13] hooman650 commented on #669
@arfon -  the name of the author is missing in one of the references  (the one prior to the last-"Complete PAn-Tompkins implemetation" )...

[2018-04-11 17:33] marianux commented on #669
Yes, happy to review it. When is the deadline ?

Best,
m.

2018-04-11 13:28 GMT-03:00 Kevin Mattheus Moerman <notifications@github.com>
:

[2018-04-11 17:33] arfon commented on #669
This is very strange. I have literally no idea what's going on here. I tried debugging this locally but couldn't easily fix. I suggest we proceed with the submission and revisit this later.

[2018-04-11 17:41] keevindoherty commented on #669
Sorry, I don't think I could review this; I haven't been doing anything related to this space for a few years, and I'm a bit out of touch.

[2018-04-11 17:58] Kevin-Mattheus-Moerman commented on #669
@whedon assign @marianux as reviewer

[2018-04-11 17:59] whedon commented on #669
OK, the reviewer is @marianux

[2018-04-11 17:59] Kevin-Mattheus-Moerman commented on #669
@whedon start review magic-word=bananas

[2018-04-11 17:59] whedon opened #671 "[REVIEW]: BioSigKit: A Matlab Toolbox and Interface for Analysis of BioSignals"
**Submitting author:** @hooman650 (<a href="http://orcid.org/0000-0003-3577-2687">Hooman Sedghamiz</a>)
**Repository:** <a href="https://github.com/hooman650/BioSigKit" target ="_blank">https://github.com/hooman650/BioSigKit</a>
**Version:** V1.0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @marianux
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/0b57d024945696f8b1

[2018-04-11 18:00] whedon commented on #669
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/671. Feel free to close this issue now!

[2018-04-11 18:00] whedon commented on #671
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @marianux it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably current

[2018-04-11 18:00] whedon commented on #671
[code]

[2018-04-11 18:00] whedon commented on #671
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00671/joss.00671/10.21105.joss.00671.pdf)

[2018-04-11 18:02] Kevin-Mattheus-Moerman commented on #671
@hooman650 this is where the review takes place. @marianux thanks for agreeing to review this work. :tada:
Let me know if you have any questions. Reviewers can leave comments here and are also encouraged to open issues on the project repository and refer to them here. Thanks.

[2018-04-11 18:03] Kevin-Mattheus-Moerman commented on #671
@cMadan @germangh let me know if you are able to assist in the review of this submission. Thanks! :rabbit:

[2018-04-11 18:04] Kevin-Mattheus-Moerman commented on #671
@marianux you asked about a deadline. Typical review times range from days or weeks to months for larger projects with many issues. There is no official deadline but we obviously encourage a smooth and reasonably fast review process.

[2018-04-11 18:10] germangh commented on #671
@Kevin-Mattheus-Moerman I have been away from the field for a few years already so I am not a good reviewer for this work anymore. Hope you find someone else!

[2018-04-11 18:25] Kevin-Mattheus-Moerman commented on #671
@germangh ok thanks for your reply

[2018-04-11 18:29] DTChuck commented on #630
I have checked everything over. I added a list of dependencies and tested installation on Python 2. It looks like it installs and tests just fine on Python 2.7 so I added that to the dependency list. I fixed the dead links in the README file. Let me know if you want me to take a look at anything else repo related.

As far as your installation error, I still haven't been able to reproduce it. I tes

[2018-04-11 18:34] brian-rose commented on #659
The documentation now includes a new page (http://climlab.readthedocs.io/en/latest/contributing.html) with explicit guidelines for
- reporting bugs and issues
- seeking help and support
- contributing bug fixes, new features, and documentation

There is also a [new open github issue](https://github.com/brian-rose/climlab/issues/68) where I'm inviting people to self-report their usage of CLIMLAB. I

[2018-04-11 19:04] cMadan commented on #669
@hooman650, @arfon - Isn't the reference/bib 'issue' just the replacement of a repeated author across references with the dash?
(E.g., https://tex.stackexchange.com/questions/29381/is-it-normal-for-bibtex-to-replace-similar-author-names-with)

Is there something that I'm missing?

[2018-04-11 19:08] hooman650 commented on #669
@cMadan Smart! This is the first time I see something like this and you seem to be right! @arfon

[2018-04-11 20:53] Chilipp commented on #659
Thanks @brian-rose! That is fine with me. However, apparently you wrote the CONTRIBUTING in markdown, which doesn't render well in your docs. I'd recommend to fix this.

[2018-04-11 21:09] arfon commented on #669
Ah yes, that's it!

[2018-04-11 21:14] brian-rose commented on #659
@Chilipp thanks for finding that. I fixed up the formatting of the new page and got rid of the errant bit of markdown.

[2018-04-11 22:26] whedon opened #672 "[PRE REVIEW]: OPEM (Open Source PEM Fuel Cell Simulation Tool)"
**Submitting author:** @sepandhaghighi (<a href="http://orcid.org/0000-0001-9450-2375">Sepand Haghighi</a>)
**Repository:** <a href="https://github.com/ECSIM/opem" target ="_blank">https://github.com/ECSIM/opem</a>
**Version:** v0.8
**Editor:** @katyhuff
**Reviewers:** @nnadeau

**Author instructions**

Thanks for submitting your paper to JOSS @sepandhaghighi. The JOSS editor (shown at the top of

[2018-04-11 22:26] whedon commented on #672
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @danielskatz it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-04-11 22:26] whedon commented on #672
[code]

[2018-04-11 22:26] whedon commented on #672
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00672/joss.00672/10.21105.joss.00672.pdf)

[2018-04-11 22:26] arfon commented on #672
👋@danielskatz - the submitting author suggested you as the handling editor.

[2018-04-11 22:28] whedon opened #673 "[PRE REVIEW]: OctApps: a library of Octave functions for continuous gravitational-wave data analysis"
**Submitting author:** @kwwette (<a href="http://orcid.org/0000-0002-4394-7179">Karl Wette</a>)
**Repository:** <a href="https://github.com/octapps/octapps" target ="_blank">https://github.com/octapps/octapps</a>
**Version:** v0.1
**Editor:** @danielskatz
**Reviewers:** @stevenrbrandt

**Author instructions**

Thanks for submitting your paper to JOSS @kwwette. The JOSS editor (shown at the top of

[2018-04-11 22:28] whedon commented on #673
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-04-11 22:28] whedon commented on #673
[code]

[2018-04-11 22:28] whedon commented on #673
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00673/joss.00673/10.21105.joss.00673.pdf)

[2018-04-11 22:32] arfon commented on #673
:wave: @kwwette, many thanks for your submission to JOSS. Do you have any suggestions for potential reviewers for your submission?

[2018-04-11 23:37] danielskatz commented on #672
sure - I have a lot of spare time now :)
But more seriously, while I can do this, is there another editor more in engineering who would be interested?

[2018-04-12 08:57] kwwette commented on #673
@arfon Thanks!

Re. potential reviewers: from the list I'd suggest perhaps @fgnievinski, @Scivision, or @jordigh for their Octave expertise. Unfortunately I don't have any off-list reviewers to suggest: in the field of gravitational wave astronomy/astrophysics we are all part of large collaborations and publish papers with 1000+ authors, so I'm a co-author with pretty much everyone who might have

[2018-04-12 09:00] kwwette commented on #673
Also re. the article proof: looks good, there are a few minor issues with the formatting of citations and references, should I be trying to correct those now? I'm also not sure whether there should be a **References** header between the acknowledgements and the bibliography.

[2018-04-12 12:34] danielskatz commented on #672
@arfon  - If I had not been suggested, who would you have asked to edit this?

[2018-04-12 12:56] arfon commented on #672
@kyleniemeyer is probably a better choice.

[2018-04-12 14:08] danielskatz commented on #672
👋 @kyleniemeyer  - can you take this one?

[2018-04-12 15:05] cMadan commented on #671
@Kevin-Mattheus-Moerman, I don't think I'll have time to review this submission, but it definitely looks like an asset to the field! :)

[2018-04-12 15:24] whedon opened #674 "[REVIEW]: MicroBenthos: a modeling framework for microbial benthic ecology"
**Submitting author:** @achennu (<a href="http://orcid.org/0000-0002-0389-5589">Arjun Chennu</a>)
**Repository:** <a href="https://github.com/achennu/microbenthos" target ="_blank">https://github.com/achennu/microbenthos</a>
**Version:** v0.9
**Editor:** @lheagy
**Reviewer:** @leouieda
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1240940" target="_blank">10.5281/zenodo.1240940</a>

## St

[2018-04-12 15:24] #665 closed

[2018-04-12 15:24] whedon commented on #674
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00674/joss.00674/10.21105.joss.00674.pdf)

[2018-04-12 15:25] lheagy commented on #674
👋 Hi @leouieda, here is the review issue. I will jump in on this one and add comments as well, but I will leave the check-list up to you. Please let me know if you have any questions!

[2018-04-12 16:20] nuest commented on #662
Sorry, I'm at a conference this week. Will complete this next week!

[2018-04-12 18:38] Kevin-Mattheus-Moerman commented on #671
@whedon generate pdf

[2018-04-12 18:38] whedon commented on #671
[code]

[2018-04-12 18:38] Kevin-Mattheus-Moerman commented on #671
Okay no worries @cMadan

[2018-04-12 18:39] whedon commented on #671
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00671/joss.00671/10.21105.joss.00671.pdf)

[2018-04-12 18:40] Kevin-Mattheus-Moerman commented on #671
@hooman650 would you be able to suggest any more reviewers from your field?

[2018-04-12 18:57] hooman650 commented on #671
@Kevin-Mattheus-Moerman, within the list of JOSS reviewers, @jordigh , @nicoguaro, @sealhuang @mosteo, @nirum ;  and out of that list  I can think of @fernandoandreotti , also @marianux has done his PhD on ECG analysis and has also made a very nice toolbox so he might be able to suggest someone else from his circle?

[2018-04-12 20:06] tgerke commented on #515
@leeper The reminder is appreciated! Apologies for the delay: had my head buried in sand for a series of grant applications due this week, but will tackle the review within 1 week. Looking forward to it.

[2018-04-12 20:27] leouieda commented on #674
@lheagy OK, will do :+1:

[2018-04-12 22:11] achennu commented on #674
Thanks @leouieda

I have been rerunning the software on some previous model definition files. Found some bugs in the user's CLI interface due to a refactor. I've starting adding commits to the `develop` branch with these minor fixes.

@lheagy Can you clarify about this checkbox?
 Version: Does the release version given match the GitHub release (v0.8.2)?

That version is no longer actual (0.9). I i

[2018-04-12 22:13] achennu commented on #674
Just realized the version number may be a non-issue, since a designated version needs to be put on an archival site after review.

[2018-04-13 00:08] kwwette commented on #673
@whedon commands

[2018-04-13 00:08] whedon commented on #673
Here are some things you can ask me to do:

[code]

[2018-04-13 00:08] kwwette commented on #673
@whedon generate pdf

[2018-04-13 00:08] whedon commented on #673
[code]

[2018-04-13 00:09] whedon commented on #673
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00673/joss.00673/10.21105.joss.00673.pdf)

[2018-04-13 00:14] kwwette commented on #673
@whedon generate pdf

[2018-04-13 00:14] whedon commented on #673
[code]

[2018-04-13 00:14] whedon commented on #673
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00673/joss.00673/10.21105.joss.00673.pdf)

[2018-04-13 03:07] kwwette commented on #673
@whedon generate pdf

[2018-04-13 03:07] whedon commented on #673
[code]

[2018-04-13 03:07] whedon commented on #673
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00673/joss.00673/10.21105.joss.00673.pdf)

[2018-04-13 03:37] kwwette commented on #673
FYI I've fixed up the citations and references formatting and added a **References** header.

[2018-04-13 12:46] corybrunson commented on #657
@terrytangyuan i have a question that i don't think is appropriate as an issue on the submitted repo. It may just reflect my lack of knowledge about software licenses.

**autoplotly** is licensed under Apache 2.0,  which is [described as incompatible with GPLv3 (and v2) in this direction](https://www.apache.org/licenses/GPL-compatibility.html). Since **ggplot2** and **ggfortify** are licensed unde

[2018-04-13 13:06] hooman650 commented on #671
@fernandoandreotti thank you!

[2018-04-13 14:48] Kevin-Mattheus-Moerman commented on #671
@whedon add @fernandoandreotti as reviewer

[2018-04-13 14:48] whedon commented on #671
OK, @fernandoandreotti is now a reviewer

[2018-04-13 14:55] Kevin-Mattheus-Moerman commented on #671
Thanks @marianux @fernandoandreotti for agreeing to review this submission.

Review is centered largely on the software and the below paper. You use the above tick boxes to guide the review process. You can comment and provide feedback in this review issue. You are also encouraged to open issues on the [project repository](https://github.com/hooman650/BioSigKit) and link to them here.

Here are th

[2018-04-13 15:53] biorelated commented on #634
@pboesu how are you getting on with the review process? Kindly let me know if you need some assistance or if you have any concerns. Thank you.

[2018-04-13 16:05] terrytangyuan commented on #657
@corybrunson Thanks for taking the time to review! I just responded your issues. I've listed out the TODOs below:

- [ Move blogpost to package vignette (with `eval = FALSE` in .Rmd file)]
- [ Add community guidelines to ggfortify and autoplotly repos]
- [ Change autoplotly license to GPLv2]
- [ Add DOI to ggplot2 book citation]

I'll work on them soon.

[2018-04-13 16:09] terrytangyuan commented on #657
@corybrunson Note that I am not adding a LICENSE file to the repo though since they are usually not required for R packages. This is a Github rendering issue and I believe they are working on the fix. I will fix the license in DESCRIPTION file only.

[2018-04-13 17:41] whedon opened #675 "[PRE REVIEW]: chronovise: Measurement-Based Probabilistic Timing Analysis framework"
**Submitting author:** @federeghe (<a href="http://orcid.org/0000-0002-1888-9579">FEDERICO REGHENZANI</a>)
**Repository:** <a href="https://github.com/federeghe/chronovise" target ="_blank">https://github.com/federeghe/chronovise</a>
**Version:** v1.0
**Editor:** @danielskatz
**Reviewers:** @lkosmid

**Author instructions**

Thanks for submitting your paper to JOSS @federeghe. The JOSS editor (sho

[2018-04-13 17:41] whedon commented on #675
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-04-13 17:41] whedon commented on #675
[code]

[2018-04-13 17:41] whedon commented on #675
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00675/joss.00675/10.21105.joss.00675.pdf)

[2018-04-13 19:55] terrytangyuan commented on #657
@corybrunson Just finished all the TODOs. Could you review again? Thanks!

[2018-04-13 20:28] dhhagan commented on #659
Hey @brian-rose I suggested adding more clear instructions on running the tests, otherwise this paper is good to go!

[2018-04-13 20:47] corybrunson commented on #657
@whedon generate pdf

[2018-04-13 20:47] whedon commented on #657
[code]

[2018-04-13 20:47] whedon commented on #657
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00657/joss.00657/10.21105.joss.00657.pdf)

[2018-04-13 20:53] corybrunson commented on #657
@terrytangyuan Great! Everything looks and works good for me. I have one final suggestion for the README: Now that a vignette is included, the development version might better be installed via:

    devtools::install_github("terrytangyuan/autoplotly", build_vignettes = TRUE)

[2018-04-13 20:55] corybrunson commented on #657
@arfon i have concluded my review and recommend acceptance.

[2018-04-14 01:07] MikeInnes commented on #602
I've updated the paper a little to reference some of the NLP work that's out there via Minibatch.jl and the model zoo. It's a bit tricky that a lot of the really neat stuff is either industrial or in preparation / review right now (indeed a big part of the motivation for this submission is so that they can cite us :)

[2018-04-14 12:03] arfon commented on #657
@corybrunson - excellent. Thanks!

@chlalanne - when do you think you might be able to complete your review by?

[2018-04-14 12:35] arfon commented on #655
OK, could you take a look now?

[2018-04-14 17:59] joshuaulrich commented on #30
@karantibrewal I can't see any of your fixes.  In fact, I don't see any commits in the repo since 3/19.  The error looks like you don't have `texi2dvi` installed.  On Ubuntu, that's in the `texinfo` package.

[2018-04-14 19:33] sepandhaghighi commented on #672
@whedon generate pdf

[2018-04-14 19:33] whedon commented on #672
[code]

[2018-04-14 19:34] whedon commented on #672
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00672/joss.00672/10.21105.joss.00672.pdf)

[2018-04-14 20:12] sepandhaghighi commented on #672
@whedon generate pdf

[2018-04-14 20:12] whedon commented on #672
[code]

[2018-04-14 20:12] whedon commented on #672
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00672/joss.00672/10.21105.joss.00672.pdf)

[2018-04-15 05:35] ryneches commented on #666
Hey @karthik! Here are some suggested reviewers :
* @giraola (from the JOSS list of reviewers)
* @arvestad (or perhaps someone in his lab?)
* @trayc7 (or someone in her lab?)
* @snacktavish (or someone in her lab?)

[2018-04-15 08:25] caley commented on #650
@arfon - I've put it on Zenodo.  The doi is https://doi.org/10.5281/zenodo.1218513.

[2018-04-15 10:50] arvestad commented on #666
Never been included in reviewer discussions like this before. :-)

	L

[2018-04-15 15:26] cardosan commented on #612
Hi @pjamesjoyce,
I have addressed the issue you mentioned in the previous comment.

[2018-04-15 16:35] danielskatz commented on #672
👋 @kyleniemeyer - still hoping I can transfer this to you...

[2018-04-15 16:36] danielskatz commented on #639
:wave: @audemard - please continue your review, or let us know what issues are blocking you.

[2018-04-15 16:53] arokem commented on #638
Thanks @mlgill! Nothing more on your end.

@rasbt : I believe the paper is ready to be accepted!

It would be nice to include something to address https://github.com/rasbt/mlxtend/issues/364, but that's not a requirement. Either way, let me know when you have an archive  (e.g., a Zenodo DOI) of the version that includes all the changes following the review.

[2018-04-15 17:52] kyleniemeyer commented on #672
@danielskatz Practically I don't think I'd be able to handle this within the next week. @katyhuff are you available right now?

[2018-04-15 18:37] katyhuff commented on #672
I'm swamped this week, too, but this does look like a strong submission and hopefully will be fairly straightforward. I can take it.

[2018-04-15 18:38] katyhuff commented on #672
@whedon assign @katyhuff as editor

[2018-04-15 18:38] whedon commented on #672
OK, the editor is @katyhuff

[2018-04-15 18:40] katyhuff commented on #672
@nnadeau - It seems to me you would be an excellent reviewer for this submission. Are you willing to be assigned this submission?

[2018-04-15 18:49] kyleniemeyer commented on #672
Thank you @katyhuff!

[2018-04-15 20:46] danielskatz commented on #672
Thanks from me too!

[2018-04-15 21:10] lheagy commented on #659
Thanks @dhhagan and @Chilipp for a speedy and thorough review! @brian-rose: please keep us updated on your progress on brian-rose/climlab#69 - we can proceed with publishing once addressed

[2018-04-15 21:46] lheagy commented on #674
@achennu, I can update the version referenced in the github issue. And correct, it will also be included on the archival site

[2018-04-15 21:55] karantibrewal commented on #30
@joshuaulrich Sorry, what do you mean? All your comments from your previous post have been turned in (except for CRAN issue). These fixes were part of the 3/19 commit.

[2018-04-15 21:55] nnadeau commented on #672
@katyhuff Yes, I'm good to review :)

[2018-04-15 22:02] katyhuff commented on #672
Great news! Thanks @nnadeau .

[2018-04-15 22:02] katyhuff commented on #672
@whedon assign @nnadeau as reviewer.

[2018-04-15 22:02] whedon commented on #672
OK, the reviewer is @nnadeau

[2018-04-15 22:02] katyhuff commented on #672
@whedon start review magic-word=bananas

[2018-04-15 22:02] whedon commented on #672
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/676. Feel free to close this issue now!

[2018-04-15 22:02] whedon opened #676 "[REVIEW]: OPEM (Open Source PEM Fuel Cell Simulation Tool)"
**Submitting author:** @sepandhaghighi (<a href="http://orcid.org/0000-0001-9450-2375">Sepand Haghighi</a>)
**Repository:** <a href="https://github.com/ECSIM/opem" target ="_blank">https://github.com/ECSIM/opem</a>
**Version:** v0.8
**Editor:** @katyhuff
**Reviewer:** @nnadeau
**Archive:** <a href="https://doi.org/10.5281/zenodo.1311905" target="_blank">10.5281/zenodo.1311905</a>

## Status

[![st

[2018-04-15 22:03] whedon commented on #676
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @nnadeau it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currentl

[2018-04-15 22:03] whedon commented on #676
[code]

[2018-04-15 22:03] whedon commented on #676
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00676/joss.00676/10.21105.joss.00676.pdf)

[2018-04-15 22:03] katyhuff commented on #672
Thanks folks. @nnadeau and @sepandhaghighi , please let's head over to #676 for the review itself.

[2018-04-15 22:03] #672 closed

[2018-04-15 22:11] joshuaulrich commented on #30
@karantibrewal I was confused because you said the issues were fixed, but the last activity was a month ago; and the issues I opened for them had not been closed.  It's good practice to put "Fixes #XYZ" in the commit that fixes an issue, so you have a cross-reference of the commit and issue.  Also, GitHub (and GitLab, Bitbucket, etc) will automatically close issue #XYZ for you.

And `DESCRIPTION`

[2018-04-15 22:39] greatfireball commented on #616
Good morning @arfon,

finally we finished the rerun and updated the numbers. Unfortunately, I forgot to merge an important pull request which dramatically reduced the runtime of a single step. Therefore, I had to create another release [v1.5.2](https://github.com/microPIECE-team/microPIECE/releases/tag/v1.5.2) and a zenodo upload [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.1218731.svg)](ht

[2018-04-16 00:12] arfon commented on #616
@greatfireball - OK thanks for the update. This should be updated now.

[2018-04-16 00:14] arfon commented on #612
Thanks for the update @cardosan. @pjamesjoyce - please take another look when you get a chance.

[2018-04-16 00:25] arfon commented on #596
@mhucka - please take another look at this when you get a chance.

[2018-04-16 00:35] arfon commented on #589
@fil, @pgadige - would you be willing to review this submission for JOSS?

[2018-04-16 00:54] whedon opened #677 "[PRE REVIEW]: KLRfome - Kernel Logistic Regression on Focal Mean Embeddings"
**Submitting author:** @mrecos (<a href="http://orcid.org/0000-0002-4627-7692">Matthew Harris</a>)
**Repository:** <a href="https://github.com/mrecos/klrfome" target ="_blank">https://github.com/mrecos/klrfome</a>
**Version:** v2.1.0
**Editor:** @leeper
**Reviewers:** @benmarwick

**Author instructions**

Thanks for submitting your paper to JOSS @mrecos. The JOSS editor (shown at the top of this i

[2018-04-16 00:54] whedon commented on #677
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-04-16 00:54] whedon commented on #677
[code]

[2018-04-16 00:54] whedon commented on #677
PDF failed to compile for issue #677 with the following error:

 Can't find any papers to compile :-(

[2018-04-16 00:54] arfon commented on #677
@whedon generate pdf

[2018-04-16 00:54] whedon commented on #677
[code]

[2018-04-16 00:55] ryneches commented on #666
Hope you don't mind that I suggested you! I'm pretty sure our respective social and co-authorship graphs don't share any direct links.

[2018-04-16 00:55] whedon commented on #677
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00677/joss.00677/10.21105.joss.00677.pdf)

[2018-04-16 01:25] mrecos commented on #677
Hello. Thanks for the Pre-review! From the reviewer list I would suggest: @benmarwick , @jsta , and @nuest  or others with experience in archaeology, machine learning, or R and spatial analysis.
PS - I can certainly add more details to the paper.md if desired.
Thank you all for your efforts.

[2018-04-16 07:03] arvestad commented on #666
I don't mind at all. I am new to JOSS and am curious about its extreme openness.

[2018-04-16 11:36] Fil commented on #589
Not available this time, sorry

[2018-04-16 11:48] pjamesjoyce commented on #612
Looking good @cardosan.

I understand your explanation for issue [#4](https://bitbucket.org/cardosan/brightway2-temporalis/issues/4/) and for the purposes of the review, adding it as a known issue is ok. This is research software, and so researchers using it for temporal LCA should follow the modelling conventions required to use it. Retrofitting temporal distributions into existing models using d

[2018-04-16 12:35] giraola commented on #666
Hi @karthik, I have some time to handle this if needed.

[2018-04-16 12:35] lmullen commented on #655
Yes, that looks great. Thanks!

[2018-04-16 12:52] andrewyatz commented on #583
Sorry can I prod again on this. There's little to no chance of me installing this. As far as I am aware there's been no response to the issues I've raised. The error isn't limited to just my mac as otherwise my VM attempts would have worked. Not sure where else to push this now

[2018-04-16 13:03] pjamesjoyce commented on #612
Ok - the issues have all been resolved. @arfon, I approve this submission.

Great work @cardosan, a really nice piece of software and a great addition to the open source LCA toolkit.

[2018-04-16 13:06] arfon commented on #612
Great. Thanks @pjamesjoyce!

@cardosan - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-04-16 17:34] karthik commented on #635
@reefpicker A quick reminder for reviewer names.

[2018-04-16 17:34] cardosan commented on #612
Many thanks @pjamesjoyce for you valuable comments during the review!
@arfon - uploaded on zenodo https://zenodo.org/record/1219212.

DOI is 10.5281/zenodo.1219211.

Be aware that I submitted to JOSS  version: 1.0 but during the review had to upgrade (and released) to 1.0.1 since the documentation on readthedocs was not correctly updating. Let me know if I need to change something in the submissio

[2018-04-16 17:35] karthik commented on #666
@giraola Thanks! I'll take you up on the offer.

[2018-04-16 17:36] karthik commented on #666
@whedon assign @giraola as reviewer

[2018-04-16 17:36] whedon commented on #666
OK, the reviewer is @giraola

[2018-04-16 17:37] karthik commented on #666
@whedon start review magic-word=bananas

[2018-04-16 17:37] whedon opened #678 "[REVIEW]: SuchTree : A Python library for fast, thread-safe computations on phylogenetic trees"
**Submitting author:** @ryneches (<a href="http://orcid.org/0000-0002-2055-8381">Russell Y. Neches</a>)
**Repository:** <a href="https://github.com/ryneches/SuchTree" target ="_blank">https://github.com/ryneches/SuchTree</a>
**Version:** 0.6
**Editor:** @karthik
**Reviewer:** @giraola
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1294297" target="_blank">10.5281/zenodo.1294297</a>

## Sta

[2018-04-16 17:37] #666 closed

[2018-04-16 17:37] whedon commented on #678
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00678/joss.00678/10.21105.joss.00678.pdf)

[2018-04-16 19:46] Kevin-Mattheus-Moerman commented on #238
Just pinging again :ping_pong: @acabunoc, could you help edit this one?

[2018-04-17 00:42] serine commented on #583
@andrewyatz sorry about that, I've gone quite, my fault. I just responded to your [other issue](https://github.com/MonashBioinformaticsPlatform/RNAsik-pipe/issues/22) could you have one more try. Thanks

[2018-04-17 02:26] rasbt commented on #638
Sounds great! I will try to address the suggestion in the upcoming days (prob. on the weekend) and make a new release version (and also upload it to Zenodo then), which will also include the other documentation fixes from this review. I will let you know once that's ready!

[2018-04-17 03:00] reefpicker commented on #635
@karthik <https://github.com/karthik>

Reviewers email addresses from that list:

claudio.benghi@northmbria.ac.uk
michael@scivision.co

Thanks!

On Mon, Apr 16, 2018 at 12:34 PM, Karthik Ram <notifications@github.com>
wrote:

[2018-04-17 10:13] arfon commented on #612
@whedon set 10.5281/zenodo.1219211 as archive

[2018-04-17 10:13] whedon commented on #612
OK. <a href="http://dx.doi.org/10.5281/zenodo.1219211" target="_blank">10.5281/zenodo.1219211</a> is the archive.

[2018-04-17 10:17] arfon commented on #612
@pjamesjoyce - many thanks for your review here ✨

@cardosan - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00612 ⚡️:rocket: :boom:

[2018-04-17 10:17] #612 closed

[2018-04-17 10:18] whedon commented on #612
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00612/status.svg)](https://doi.org/10.21105/joss.00612)

**We need your help!**

Journal of Open Source Software

[2018-04-17 11:26] cardosan commented on #612
Thanks to all involved!

[2018-04-17 13:49] fraimondi commented on #617
I have done my review and I am happy with the repository, the documentation and the paper. The installation and examples all worked first time. In addition to Eclipse, I tried from the command line in Linux and Mac: no problem .

Very minor point (may be useful for bots?): the LICENSE file is called COPYING, is this OK?

[2018-04-17 13:52] danielskatz commented on #617
The license file should be called LICENSE for consistency with general practices and user/developer expectations.  @louiseadennis - can you fix this?  Then we can move forward with acceptance.

[2018-04-17 13:52] danielskatz commented on #617
and thanks @fraimondi !

[2018-04-17 14:47] plooney commented on #600
@cMadan I've added those changes to the repository

[2018-04-17 16:24] offray commented on #238
@arfon From the list you send me, I think that Mark Galassi, coudl be a good reviewer, because is the only one that has experience with Smalltalk. Let me know anything else I can help with.

[2018-04-17 22:53] karthik commented on #635
@reefpicker I realize this submission is out of scope for me to serve as an editor. I'm not familiar with evaluating Visual Basic code or finding appropriate editors for it. So I'm going to excuse myself as an editor for this one and hand it back to @arfon

[2018-04-18 10:20] whedon opened #679 "[PRE REVIEW]: malan: MAle Lineage ANlysis"
**Submitting author:** @mikldk (<a href="http://orcid.org/0000-0002-0234-0266">Mikkel Meyer Andersen</a>)
**Repository:** <a href="https://github.com/mikldk/malan" target ="_blank">https://github.com/mikldk/malan</a>
**Version:** v0.0.3
**Editor:** @brainstorm
**Reviewers:** @afrubin

**Author instructions**

Thanks for submitting your paper to JOSS @mikldk. The JOSS editor (shown at the top of th

[2018-04-18 10:21] whedon opened #680 "[PRE REVIEW]: ParticleScattering: Solving and optimizing multiple-scattering problems in Julia"
**Submitting author:** @bblankrot (<a href="http://orcid.org/0000-0003-3364-9298">Boaz Blankrot</a>)
**Repository:** <a href="https://github.com/bblankrot/ParticleScattering.jl" target ="_blank">https://github.com/bblankrot/ParticleScattering.jl</a>
**Version:** v0.0.2
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @ziotom78, @ysimillides

**Author instructions**

Thanks for submitting your pa

[2018-04-18 10:21] whedon opened #681 "[PRE REVIEW]: BeeNestABM: An open-source agent-based model of spatiotemporal distribution of bumblebees in nests"
**Submitting author:** @ashleefv (<a href="http://orcid.org/0000-0001-9059-5703">Ashlee N. Ford Versypt</a>)
**Repository:** <a href="https://github.com/ashleefv/BeeNestABM" target ="_blank">https://github.com/ashleefv/BeeNestABM</a>
**Version:** 1.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @sdelandtsheer

**Author instructions**

Thanks for submitting your paper to JOSS @ashleefv. The J

[2018-04-18 10:23] whedon opened #682 "[PRE REVIEW]: sumo: Command-line tools for plotting and analysis of ab initio calculations"
**Submitting author:** @utf (<a href="http://orcid.org/0000-0002-4486-3321">Alex Ganose</a>)
**Repository:** <a href="https://github.com/SMTG-UCL/sumo" target ="_blank">https://github.com/SMTG-UCL/sumo</a>
**Version:** v1.0.4
**Editor:** @kyleniemeyer
**Reviewers:** @jarvist, @cfgoldsmith

**Author instructions**

Thanks for submitting your paper to JOSS @utf. The JOSS editor (shown at the top of

[2018-04-18 10:23] whedon opened #683 "[PRE REVIEW]: Sentiment Analysis of Twitter Data (SAoTD)"
**Submitting author:** @evan-l-munson (<a href="http://orcid.org/0000-0002-9958-6800">Evan Munson</a>)
**Repository:** <a href="https://github.com/evan-l-munson/SAoTD" target ="_blank">https://github.com/evan-l-munson/SAoTD</a>
**Version:** 0.1.0
**Editor:** @leeper
**Reviewers:** @kbenoit

**Author instructions**

Thanks for submitting your paper to JOSS @evan-l-munson. The JOSS editor (shown at

[2018-04-18 10:25] arfon commented on #683
Hi @evan-l-munson - please review our [submission guidelines](https://joss.theoj.org/about#author_guidelines) and prepare a paper to accompany this submission.

Any questions, don't hesitate to ask.

[2018-04-18 10:32] mikldk commented on #679
Based on reviewer list: Maybe @ajank, @afrubin or @conradstack?

[2018-04-18 10:38] mikldk commented on #679
I see that the footer in the pdf article proof contains the Markdown markup (the stars for making some letters boldface). I am not sure how to fix this -- is there an option to provide a clear text title without markup?

[2018-04-18 10:43] bblankrot commented on #680
Thanks, proof looks good overall.

From the list of reviewers, I suggest any of the following:
- ChrisRackauckas
- ysimillides
- ziotom78
- lheagy

[2018-04-18 10:44] utf commented on #682
@whedon commands

[2018-04-18 10:44] whedon commented on #682
Here are some things you can ask me to do:

[code]

[2018-04-18 10:44] utf commented on #682
@whedon generate pdf

[2018-04-18 10:45] whedon commented on #682
[code]

[2018-04-18 10:45] whedon commented on #682
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00682/joss.00682/10.21105.joss.00682.pdf)

[2018-04-18 10:57] utf commented on #682
As for potential reviewers, the following people are well respected in the field and are familiar with the requirements of modern open-source projects:

@jarvist
@aronwalsh
@bjmorgan
@keeto
@rgraucrespo
@hautierg

[2018-04-18 11:35] dvalters commented on #592
Hi @eddodridge, @kyleniemeyer here is my review:

This is going to be quite short as I could find little to fault to prevent it being accepted into JOSS.

The software is engineered to a high standard and the documentation is well written, even as a non ocean modelling specialist I felt I understood what the model did and the basics of how it worked. If the documentation lacks anything, it's a ful

[2018-04-18 12:39] ziotom78 commented on #680
Hi, I would be happy to review it!

[2018-04-18 14:29] arfon commented on #238
@offray ok thanks. Outside of the reviewer list that we have do you have any suggestions for reviewers that you know would be good for this?

[2018-04-18 14:30] arfon commented on #679
Yeah, sorry about this. We only have limited support for custom typesetting. The only suggestion I have for this is to remove the custom formatting from the title (I realize this isn't ideal).

[2018-04-18 14:33] brian-rose commented on #659
As noted in https://github.com/brian-rose/climlab/issues/69, there is now a new section in the docs on [Building and Testing CLIMLAB](http://climlab.readthedocs.io/en/latest/contributing.html#building-and-testing-climlab) with explicit instructions.

[2018-04-18 15:04] acabunoc commented on #238
Yes, I can edit this! 🏓

[2018-04-18 15:05] acabunoc commented on #238
@whedon assign @acabunoc as editor

[2018-04-18 15:05] whedon commented on #238
OK, the editor is @acabunoc

[2018-04-18 21:19] mikldk commented on #679
@arfon, I guess it would make sense to look into making this possible?

By the look of it, it would require changes to:

[openjournals/whedon/lib/whedon/processor.rb#L101](https://github.com/openjournals/whedon/blob/6d7d3729232081e24ef1f1d03b9203f12ce8771f/lib/whedon/processor.rb#L101)
and
[openjournals/whedon/resources/latex.template#L64](https://github.com/openjournals/whedon/blob/6d7d3729232081

[2018-04-18 21:43] edoddridge commented on #592
Thanks @dvalters! Really appreciate the feedback.

Fair enough. I haven't done this yet because I've been refactoring the code lately, and I'm not sure that it's stable enough to justify the time.

There's a script, but it's not part of the test suite, nor is it run as part of the continuous integration (it takes long enough to run that waiting for it every time is a pain); it's `benchmark.py` in

[2018-04-18 23:02] afrubin commented on #679
@mikldk @brainstorm I'm happy to review this paper.

[2018-04-18 23:52] arfon commented on #679
Thanks for digging into this @mikldk - I agree this is how it _could_ work, I'm just not sure this is a direction we want to go in. JOSS is deliberately lightweight in terms of tooling and that extends to how sophisticated we can be with our typesetting.

I suggest you leave your `paper.md` _as is_ and if you remind me when we're accepting the publication I can manually fix this for you when I'm p

[2018-04-19 00:43] brainstorm commented on #679
@whedon assign @afrubin as reviewer

[2018-04-19 00:43] whedon commented on #679
OK, the reviewer is @afrubin

[2018-04-19 00:43] brainstorm commented on #679
@whedon start review magic-word=bananas

[2018-04-19 00:43] whedon commented on #679
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/684. Feel free to close this issue now!

[2018-04-19 00:43] whedon opened #684 "[REVIEW]: malan: MAle Lineage ANalysis"
**Submitting author:** @mikldk (<a href="http://orcid.org/0000-0002-0234-0266">Mikkel Meyer Andersen</a>)
**Repository:** <a href="https://github.com/mikldk/malan" target ="_blank">https://github.com/mikldk/malan</a>
**Version:** v1.0.0
**Editor:** @brainstorm
**Reviewer:** @afrubin, @ajank
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1241769" target="_blank">10.5281/zenodo.1241769</a>

[2018-04-19 00:43] whedon commented on #684
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @afrubin it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currentl

[2018-04-19 00:43] whedon commented on #684
[code]

[2018-04-19 00:43] #679 closed

[2018-04-19 00:43] whedon commented on #684
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00684/joss.00684/10.21105.joss.00684.pdf)

[2018-04-19 01:51] serine commented on #589
sorry, I wouldn't be able to review this one. From some brief investigation I think it'll be pretty difficult for me to asses this one. For example the demo link (http://deogen2.mutaframe.com/) has a lot going on there in terms of javascript

![screenshot from 2018-04-19 11-44-22](https://user-images.githubusercontent.com/6700099/38966750-1b62c1bc-43c7-11e8-9ee0-51c9e29da6ce.png)

Also I didn't lo

[2018-04-19 02:00] IbrahimTanyalcin commented on #589
Hi Serine,

I have 2 versions of the server, for the new features, I test them for android, iOS, Safari , Firefox and Chrome First in test subdomain.

For the test server, please visit test-tube.mutaframe.com

You can there see taskq in action. Many thanks!

IBT,

[2018-04-19 07:59] ajank commented on #679
@brainstorm, if you needed another opinion, I'm happy to review this paper as well.

@arfon, it might be a good general practice to have each paper reviewed by at least two reviewers if possible. This would allow for more scrutiny, without delaying the process too much.

[2018-04-19 08:00] chlalanne commented on #657
Sorry for the delay. I somewhat messed up with GH notifications. The package looks great and is working out of the box for me. I reviewed the vignette and the test suite, and they look ok to me.

@terrytangyuan I only have a couple a minor comments:

1. You cited SO as a possible placeholder for reporting issues or seeking help (`ISSUE_TEMPLATE.md`); maybe you should also indicate that users need

[2018-04-19 10:12] arfon commented on #679
Yes, we do this regularly but leave this up to the discretion of the editor (@brainstorm in this case).

[2018-04-19 10:15] arfon commented on #657
⚡️thanks @chlalanne.

@terrytangyuan - please take a look at @chlalanne's feedback above.

[2018-04-19 10:15] arfon commented on #681
@whedon generate pdf

[2018-04-19 10:15] whedon commented on #681
[code]

[2018-04-19 10:16] whedon commented on #681
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00681/joss.00681/10.21105.joss.00681.pdf)

[2018-04-19 11:11] brainstorm commented on #679
Yes please, be my guest! ;)

[2018-04-19 12:06] arfon commented on #679
@ajank - I've added you to the review in #684

[2018-04-19 13:04] terrytangyuan commented on #657
Thanks everyone! I've addressed your comments.

[2018-04-19 13:30] nnadeau commented on #676
Hi @sepandhaghighi and @katyhuff,

After performing an initial review, I have submitted the following issues:

## Plagarism
Unfortunately, https://github.com/ECSIM/opem/issues/47 appears to be a case of plagiarism in the documentation. Considering that the entirety of `PEM.md` is copied, permission should be granted from the original author. Otherwise the reader should be referred directly to the

[2018-04-19 13:46] serine commented on #583
@andrewyatz It does appear that bio-ansible way to install `RNAsik` is a bit too much. Taking advice from @pjotrp and others around me I've created conda package, for linux only at this stage, which should simplify install great deal.

Could you have a look at [updated docs](https://monashbioinformaticsplatform.github.io/RNAsik-pipe/docs/#installation)

Basically you'll need to install miniconda a

[2018-04-19 13:49] serine commented on #583
by the way this is my channel page https://anaconda.org/serine
and this is rnasik package page https://anaconda.org/serine/rnasik

[2018-04-19 13:54] zedtaha commented on #623
Hi @JoFAM i made some changes in the nardl package  and i invite you to take a look

[2018-04-19 13:55] zedtaha commented on #623
@JoFAM hope that the changes meet up all the issues ;)

[2018-04-19 14:48] leeper commented on #623
Great, thanks @zedtaha!

[2018-04-19 16:04] whedon commented on #681
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00681/joss.00681/10.21105.joss.00681.pdf)

[2018-04-19 16:05] arfon commented on #657
Great! @terrytangyuan - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-04-19 16:08] ashleefv commented on #681
@whedon generate pdf

[2018-04-19 16:08] whedon commented on #681
[code]

[2018-04-19 16:09] whedon commented on #681
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00681/joss.00681/10.21105.joss.00681.pdf)

[2018-04-19 18:37] terrytangyuan commented on #657
@arfon Here it is: [![DOI](https://zenodo.org/badge/116608209.svg)](https://zenodo.org/badge/latestdoi/116608209)

[2018-04-19 18:43] terrytangyuan commented on #657
@whedon generate pdf

[2018-04-19 18:43] whedon commented on #657
[code]

[2018-04-19 18:44] whedon commented on #657
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00657/joss.00657/10.21105.joss.00657.pdf)

[2018-04-19 18:53] terrytangyuan commented on #657
@arfon Please hold off on the publishing. I've resolving some minor issues with the Rmarkdown generation. Will ping you when ready. BTW, just curious - if I update paper.md going forward, would it automatically update the paper?

[2018-04-19 18:58] lheagy commented on #659
Thanks @brian-rose, @dhhagan, would you mind taking one last look and closing brian-rose/climlab#69 if it has been addressed?

[2018-04-19 19:06] lheagy commented on #659
@arfon, this submission is ready to be published. Congratulations @brian-rose!

Many thanks @Chilipp and @dhhagan for your work on this review!

[2018-04-19 19:25] terrytangyuan commented on #657
@whedon generate pdf

[2018-04-19 19:25] whedon commented on #657
[code]

[2018-04-19 19:25] whedon commented on #657
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00657/joss.00657/10.21105.joss.00657.pdf)

[2018-04-19 19:51] terrytangyuan commented on #657
@arfon All issues fixed now. See DOI in my comments above (you can also find it in project README). Thanks for everyone’s time!

[2018-04-19 19:51] brian-rose commented on #659
Thanks all.

[2018-04-20 00:07] serine commented on #583
@andrewyatz sorry, I think you also need to added a couple of channel

[code]

before installing from `conda`

also updated docs.

p.s default location of the config is `~/.condarc`

mine looks like this

[code]

[2018-04-20 00:10] arfon commented on #657
@whedon set 10.5281/zenodo.1221391 as archive

[2018-04-20 00:10] whedon commented on #657
OK. <a href="http://dx.doi.org/10.5281/zenodo.1221391" target="_blank">10.5281/zenodo.1221391</a> is the archive.

[2018-04-20 00:11] arfon commented on #657
No, it wouldn't update on the final JOSS site but @whedon can always compile the latest version for you here.

[2018-04-20 00:22] #657 closed, assigned to arfon

[2018-04-20 00:25] arfon commented on #659
@brian-rose - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-04-20 08:04] sdelandtsheer commented on #681
@ashleefv I agree to review this article

[2018-04-20 09:46] j-faria commented on #487
Hi @nespinoza, thank you for accepting to review kima. Please feel free to comment on the repository and let me know if I can answer any questions that might come up.

[2018-04-20 13:06] giraola commented on #593
Hi @Kevin-Mattheus-Moerman, we would like to know what additional specific modifications are needed to fulfil reviewer's requirements. These are boxes that remain unchecked:

- @juanvillada > Functionality
- @kortschak > Functionality
- @KlausVigo > Version, Statement of need, Functionality documentation.

Cheers,
Gregorio

[2018-04-20 16:04] mhucka commented on #596
Apologies for the delay. I'm currently traveling for another workshop, but I should be able to get to this next week, finally.

[2018-04-20 19:00] brian-rose commented on #659
I just released climlab v0.6.5 including the updated documentation. It is archived on Zenodo under doi:10.5281/zenodo.1226360 ([direct link](https://zenodo.org/record/1226360#.Wto4sS_MxUM))

[2018-04-20 19:03] arfon commented on #659
@whedon set 10.5281/zenodo.1226360 as archive

[2018-04-20 19:03] whedon commented on #659
OK. <a href="http://dx.doi.org/10.5281/zenodo.1226360" target="_blank">10.5281/zenodo.1226360</a> is the archive.

[2018-04-20 19:12] arfon commented on #659
@Chilipp, @dhhagan - many thanks for your reviews here and to @lheagy for editing this submission ✨

@brian-rose - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00659 :zap: :rocket: :boom:

[2018-04-20 19:12] #659 closed

[2018-04-20 19:12] whedon commented on #659
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00659/status.svg)](https://doi.org/10.21105/joss.00659)

**We need your help!**

Journal of Open Source Software

[2018-04-20 19:14] brian-rose commented on #659
Great news, thanks @arfon.

[2018-04-21 00:59] juanvillada commented on #593
Hi @giraola and @iferres!

I reinstalled and tried `phylen` again today. It is working as expected.
Functionality OK!

[code]

[2018-04-21 01:43] kortschak commented on #593
@giraola Sorry, I have been unable to find the time to get to the last check. I will try to find time this week.

[2018-04-21 17:07] whedon opened #685 "[PRE REVIEW]: Apple Health Data Extractor"
**Submitting author:** @drjmm84 (<a href="http://orcid.org/0000-0002-8098-0170">Joseph M. Mahoney</a>)
**Repository:** <a href="https://github.com/drjmm84/applehealthdata" target ="_blank">https://github.com/drjmm84/applehealthdata</a>
**Version:** 1.0.3
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @drjmm84. The JOSS editor (shown at

[2018-04-21 17:07] whedon commented on #685
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-04-21 17:07] whedon commented on #685
[code]

[2018-04-21 17:07] whedon opened #686 "[PRE REVIEW]: qicharts2: Quality Improvement Charts for R"
**Submitting author:** @anhoej (<a href="http://orcid.org/0000-0002-7701-1774">Jacob Anhøj</a>)
**Repository:** <a href="https://github.com/anhoej/qicharts2" target ="_blank">https://github.com/anhoej/qicharts2</a>
**Version:** 0.4.0.9000
**Editor:** @leeper
**Reviewers:** @Rmadillo

**Author instructions**

Thanks for submitting your paper to JOSS @anhoej. The JOSS editor (shown at the top of thi

[2018-04-21 17:07] whedon commented on #686
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-04-21 17:07] whedon commented on #686
[code]

[2018-04-21 17:07] whedon opened #687 "[PRE REVIEW]: dustmaps: A Python interface for maps of interstellar dust"
**Submitting author:** @gregreen (<a href="http://orcid.org/0000-0001-5417-2260">Gregory Green</a>)
**Repository:** <a href="https://github.com/gregreen/dustmaps" target ="_blank">https://github.com/gregreen/dustmaps</a>
**Version:** v1.0
**Editor:** @arfon
**Reviewers:** @jegpeek

**Author instructions**

Thanks for submitting your paper to JOSS @gregreen. The JOSS editor (shown at the top of thi

[2018-04-21 17:07] whedon commented on #687
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-04-21 17:07] whedon commented on #687
[code]

[2018-04-21 17:07] whedon commented on #687
PDF failed to compile for issue #687 with the following error:

 /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon.rb:78:in `check_fields': Paper YAML header is missing expected fields: affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon.rb:66:in `initialize'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a

[2018-04-21 17:07] whedon commented on #685
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00685/joss.00685/10.21105.joss.00685.pdf)

[2018-04-21 17:07] whedon commented on #686
PDF failed to compile for issue #686 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0    13    0     0    608      0 --:--:-- --:--:-- --:--:--   619
[WARNING] Could no

[2018-04-21 17:08] whedon opened #688 "[PRE REVIEW]: qualtRics: retrieve survey data using the Qualtrics API"
**Submitting author:** @JasperHG90 (<a href="http://orcid.org/0000-0002-5019-2923">Jasper Ginn</a>)
**Repository:** <a href="https://github.com/ropensci/qualtRics" target ="_blank">https://github.com/ropensci/qualtRics</a>
**Version:** v3.0
**Editor:** @karthik
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @JasperHG90. The JOSS editor (shown at the top of

[2018-04-21 17:08] whedon commented on #688
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @karthik it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-04-21 17:08] whedon commented on #688
[code]

[2018-04-21 17:08] arfon commented on #688
:wave: @karthik - the submitting author suggested you as the handling editor.

[2018-04-21 17:08] whedon commented on #688
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00688/joss.00688/10.21105.joss.00688.pdf)

[2018-04-21 17:09] whedon opened #689 "[PRE REVIEW]: GeoStats.jl - High-performance geostatistics in Julia"
**Submitting author:** @juliohm (<a href="http://orcid.org/0000-0003-2789-297X">Júlio Hoffimann</a>)
**Repository:** <a href="https://github.com/juliohm/GeoStats.jl" target ="_blank">https://github.com/juliohm/GeoStats.jl</a>
**Version:** v0.6.0
**Editor:** @lheagy
**Reviewers:** @wkearn, @ziotom78

**Author instructions**

Thanks for submitting your paper to JOSS @juliohm. The JOSS editor (shown

[2018-04-21 17:09] whedon commented on #689
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @lheagy it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-04-21 17:09] whedon commented on #689
[code]

[2018-04-21 17:09] whedon commented on #689
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00689/joss.00689/10.21105.joss.00689.pdf)

[2018-04-21 17:09] arfon commented on #689
:wave: @lheagy, the submitting author suggested you as the handling editor.

[2018-04-21 17:14] arfon commented on #687
@gregreen - please merge this PR to fix your paper metadata https://github.com/gregreen/dustmaps/pull/10

[2018-04-21 17:14] arfon commented on #687
:wave: @jegpeek - would you be willing to review this submission for JOSS?

[2018-04-21 17:15] karthik commented on #688
@arfon This has already been reviewed and accepted at rOpenSci.

Review thread: https://github.com/ropensci/onboarding/issues/192

[2018-04-21 17:31] arfon commented on #688
Got it. Thanks!

[2018-04-21 17:31] arfon commented on #688
@whedon set @arfon as reviewer

[2018-04-21 17:31] arfon commented on #688
@whedon start review magic-word=bananas

[2018-04-21 17:31] #688 closed

[2018-04-21 17:32] arfon commented on #688
@whedon assign @arfon as reviewer

[2018-04-21 17:32] whedon commented on #688
OK, the reviewer is @arfon

[2018-04-21 17:32] arfon commented on #688
@whedon start review magic-word=bananas

[2018-04-21 17:32] whedon opened #690 "[REVIEW]: qualtRics: retrieve survey data using the Qualtrics API"
**Submitting author:** @JasperHG90 (<a href="http://orcid.org/0000-0002-5019-2923">Jasper Ginn</a>)
**Repository:** <a href="https://github.com/ropensci/qualtRics" target ="_blank">https://github.com/ropensci/qualtRics</a>
**Version:** v3.0
**Editor:** @karthik
**Reviewer:** @arfon
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1165955" target="_blank">10.5281/zenodo.1165955</a>

## Status

[2018-04-21 17:32] whedon commented on #688
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/690. Feel free to close this issue now!

[2018-04-21 17:32] whedon commented on #690
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @arfon it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2018-04-21 17:32] whedon commented on #690
[code]

[2018-04-21 17:32] whedon commented on #690
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00690/joss.00690/10.21105.joss.00690.pdf)

[2018-04-21 17:32] arfon commented on #690
@whedon set 10.5281/zenodo.1165955 as archive

[2018-04-21 17:32] whedon commented on #690
OK. <a href="http://dx.doi.org/10.5281/zenodo.1165955" target="_blank">10.5281/zenodo.1165955</a> is the archive.

[2018-04-21 17:33] arfon commented on #690
Accepting because of https://github.com/ropensci/onboarding/issues/192

[2018-04-21 17:35] arfon commented on #690
@JasperHG90 - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00690 :zap: :rocket: :boom:

[2018-04-21 17:35] #690 closed

[2018-04-21 17:36] whedon commented on #690
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00690/status.svg)](https://doi.org/10.21105/joss.00690)

**We need your help!**

Journal of Open Source Software

[2018-04-21 18:28] rasbt commented on #638
@arokem I just made the changes as suggested in [rasbt/mlxtend#364](https://github.com/rasbt/mlxtend/issues/364) and also made a new release version (0.12.0). The Zenodo link is https://zenodo.org/record/1226560

Please let me know if there's something else that needs to be done!  I am looking forward to the published version :)

[2018-04-21 18:30] juliohm commented on #689
Thank you @arfon for the follow up. I noticed that the figure in the compiled PDF is placed differently than in my local version. Is there a template that I can use to reproduce exactly the document compiled by the bot?

[2018-04-21 19:24] whedon commented on #638
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00638/joss.00638/10.21105.joss.00638.pdf)

[2018-04-21 19:26] arokem commented on #638
@whedon set 10.5281/zenodo.1226560 as archive

[2018-04-21 19:26] whedon commented on #638
OK. <a href="http://dx.doi.org/10.5281/zenodo.1226560" target="_blank">10.5281/zenodo.1226560</a> is the archive.

[2018-04-21 19:27] arokem commented on #638
👏 bravo @rasbt : I believe that this is ready to be accepted.

@arfon : could you please take a look and put the ribbon on this one?

[2018-04-21 19:38] juliohm commented on #689
@whedon commands

[2018-04-21 19:38] whedon commented on #689
Here are some things you can ask me to do:

[code]

[2018-04-21 19:39] leeper commented on #686
@whedon commands

[2018-04-21 19:39] whedon commented on #686
Here are some things you can ask me to do:

[code]

[2018-04-21 19:39] leeper commented on #686
@whedon assign @leeper as editor

[2018-04-21 19:39] whedon commented on #686
OK, the editor is @leeper

[2018-04-21 19:40] leeper commented on #686
@whedon generate pdf

[2018-04-21 19:40] whedon commented on #686
[code]

[2018-04-21 19:40] whedon commented on #686
PDF failed to compile for issue #686 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0    13    0     0     90      0 --:--:-- --:--:-- --:--:--    90
[WARNING] Could no

[2018-04-21 19:41] leeper commented on #686
@anhoej Thanks for your submission! Can you please fix the errors in your paper.md that are leading the PDF to not be generated. Looks like the issue is use of an svg image. Perhaps try PNG instead?

[2018-04-21 23:05] juliohm commented on #689
@whedon generate pdf

[2018-04-21 23:05] whedon commented on #689
[code]

[2018-04-21 23:05] whedon commented on #689
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00689/joss.00689/10.21105.joss.00689.pdf)

[2018-04-21 23:09] juliohm commented on #689
I've fixed the figure placement issue, and other small English issue. Looking forward to start the review process.

Best,

[2018-04-21 23:39] hooman650 commented on #685
@hooman650 , I can review this paper.

[2018-04-22 00:36] juliohm commented on #689
@whedon generate pdf

[2018-04-22 00:36] whedon commented on #689
[code]

[2018-04-22 00:37] whedon commented on #689
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00689/joss.00689/10.21105.joss.00689.pdf)

[2018-04-22 02:25] Kevin-Mattheus-Moerman commented on #680
@whedon assign @Kevin-Mattheus-Moerman as editor

[2018-04-22 02:25] whedon commented on #680
OK, the editor is @Kevin-Mattheus-Moerman

[2018-04-22 02:26] Kevin-Mattheus-Moerman commented on #680
@whedon assign @ziotom78 as reviewer

[2018-04-22 02:26] whedon commented on #680
OK, the reviewer is @ziotom78

[2018-04-22 02:28] Kevin-Mattheus-Moerman commented on #680
@whedon add @ysimillides as reviewer

[2018-04-22 02:28] whedon commented on #680
OK, @ysimillides is now a reviewer

[2018-04-22 02:28] Kevin-Mattheus-Moerman commented on #680
@whedon start review magic-word=bananas

[2018-04-22 02:28] whedon opened #691 "[REVIEW]: ParticleScattering: Solving and optimizing multiple-scattering problems in Julia"
**Submitting author:** @bblankrot (<a href="http://orcid.org/0000-0003-3364-9298">Boaz Blankrot</a>)
**Repository:** <a href="https://github.com/bblankrot/ParticleScattering.jl" target ="_blank">https://github.com/bblankrot/ParticleScattering.jl</a>
**Version:** v0.0.2
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @ziotom78, @ysimillides
**Archive:** Pending

## Status

[![status](http://joss.

[2018-04-22 02:28] whedon commented on #680
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/691. Feel free to close this issue now!

[2018-04-22 02:28] whedon commented on #691
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @ziotom78, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curren

[2018-04-22 02:28] whedon commented on #691
[code]

[2018-04-22 02:28] #680 closed

[2018-04-22 02:29] whedon commented on #691
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00691/joss.00691/10.21105.joss.00691.pdf)

[2018-04-22 04:57] lheagy commented on #689
Thanks @arfon, I am happy to take this. @juliohm: do you have any suggestions for reviewers?

[2018-04-22 04:57] lheagy commented on #689
👋 Hi @nuest, would you be willing to review this submission for JOSS?

[2018-04-22 05:04] juliohm commented on #689
Hi @lheagy, thank you for the prompt reply and for pinging @nuest. Is there a list of reviewers from which to select similar to the list of editors on the JOSS website?

[2018-04-22 05:10] lheagy commented on #689
@juliohm, the list is here: https://bit.ly/joss-reviewers. Ideally, we find 2 reviewers

[2018-04-22 05:38] juliohm commented on #689
:wave: @dhhagan @ziotom78 @wkearn @rowanc1 would any of you be available to review the submission? I've checked your GitHub profiles and websites, and concluded that you all have experience with spatial data, geosciences & statistics. Looking forward to your feedback.

[2018-04-22 06:36] trallard commented on #685
Ah @hooman650 bet me to it 🙂 of you need a second pair of eyes I'd be happy to do it

[2018-04-22 10:25] danielskatz commented on #675
I can take this one

[2018-04-22 10:26] danielskatz commented on #675
@whedon assign @danielskatz as editor

[2018-04-22 10:26] whedon commented on #675
OK, the editor is @danielskatz

[2018-04-22 10:29] danielskatz commented on #675
@federeghe - please suggest potential reviewers. [This list of people](https://bit.ly/joss-reviewers) who have already agreed to review for JOSS may be candidates.

[2018-04-22 13:01] wkearn commented on #689
I'd be happy to review!

[2018-04-22 13:06] arfon commented on #638
@mlgill - many thanks for your review here and to @arokem for editing this submission ✨

@rasbt - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00638 :zap: :rocket: :boom:

[2018-04-22 13:06] #638 closed

[2018-04-22 13:06] whedon commented on #638
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00638/status.svg)](https://doi.org/10.21105/joss.00638)

**We need your help!**

Journal of Open Source Software

[2018-04-22 13:27] ziotom78 commented on #689
Ok for me.

[2018-04-22 15:43] rasbt commented on #638
This is great, thanks @arfon , and thanks @mlgill and @arokem for all your help and volunteering efforts :)

[2018-04-22 15:56] lheagy commented on #689
Thanks @wkearn and @ziotom78!

[2018-04-22 15:59] lheagy commented on #689
@whedon assign @wkearn as reviewer

[2018-04-22 15:59] whedon commented on #689
OK, the reviewer is @wkearn

[2018-04-22 15:59] lheagy commented on #689
@whedon add @ziotom78 as reviewer

[2018-04-22 15:59] whedon commented on #689
OK, @ziotom78 is now a reviewer

[2018-04-22 15:59] lheagy commented on #689
@whedon start review

[2018-04-22 15:59] whedon commented on #689
You didn't say the magic word! Try this:

[code]

[2018-04-22 15:59] lheagy commented on #689
@whedon start review magic-word=bananas

[2018-04-22 15:59] whedon opened #692 "[REVIEW]: GeoStats.jl - High-performance geostatistics in Julia"
**Submitting author:** @juliohm (<a href="http://orcid.org/0000-0003-2789-297X">Júlio Hoffimann</a>)
**Repository:** <a href="https://github.com/juliohm/GeoStats.jl" target ="_blank">https://github.com/juliohm/GeoStats.jl</a>
**Version:** v0.6.0
**Editor:** @lheagy
**Reviewer:** @wkearn, @ziotom78
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1228609" target="_blank">10.5281/zenodo.122860

[2018-04-22 15:59] whedon commented on #689
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/692. Feel free to close this issue now!

[2018-04-22 15:59] whedon commented on #692
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @wkearn, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currentl

[2018-04-22 15:59] whedon commented on #692
[code]

[2018-04-22 16:00] #689 closed

[2018-04-22 16:00] whedon commented on #692
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00692/joss.00692/10.21105.joss.00692.pdf)

[2018-04-22 16:01] lheagy commented on #692
Thanks @wkearn, @ziotom78 for being willing to review! In the issue description, there is a checklist for each of you to help guide the review. Please let me know if you have any questions or if I can provide any support.

[2018-04-22 17:04] sepandhaghighi commented on #676
Hi @nnadeau
Thank you for your time
The issues have been fixed. ;-)

[2018-04-22 18:04] hooman650 commented on #685
@trallard that would be great to have another reviewer, thank you. I guess, we need to wait till an editor is assigned for this submission...

[2018-04-22 18:41] federeghe commented on #675
Thank you, maybe @fritzo or @jordigh? According to the list, they are experts in C++ and statistics, not on real-time systems but it may be sufficient for the review.

[2018-04-22 20:37] anhoej commented on #686
Thanks! Try now.

Jacob

2018-04-21 21:41 GMT+02:00 Thomas J. Leeper <notifications@github.com>:

--
Venlig hilsen
Jacob Anhøj

[2018-04-22 21:57] mikldk commented on #684
Thanks @afrubin and @ajank  for being able and willing to review! Please let me know if you have any questions or if I can provide any support.

[2018-04-22 22:05] danielskatz commented on #617
👋 @louiseadennis - note this is waiting for a relatively small change from you.

[2018-04-22 22:06] danielskatz commented on #622
👋 @ericfranz - please let us know when you have addressed these issues.

[2018-04-22 22:18] leeper commented on #686
@whedon generate pdf

[2018-04-22 23:38] arfon commented on #524
👋@reshadh - I noticed that the paper has been withdrawn on the JOSS site. Did you do this in error or are you wanting to withdraw your paper?

[2018-04-23 01:57] cMadan commented on #600
Great! Do you have any suggestions for potential reviewers?

[2018-04-23 02:30] mikldk commented on #684
@whedon commands

[2018-04-23 02:30] whedon commented on #684
Here are some things you can ask me to do:

[code]

[2018-04-23 02:30] mikldk commented on #684
@whedon generate pdf

[2018-04-23 02:30] whedon commented on #684
[code]

[2018-04-23 02:31] whedon commented on #684
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00684/joss.00684/10.21105.joss.00684.pdf)

[2018-04-23 02:34] mikldk commented on #684
@brainstorm / @arfon, I had an awfully embarrassing typo with a missing "a" in the title (ANlysis / AN**a**lysis). I have updated my paper.md in my repo and ha @whedon recompile proofs. Can you change the title in the submission (including the title of this issue -> "malan: MAle Lineage ANalysis").

[2018-04-23 03:34] juliohm commented on #692
Thank you @wkearn and @ziotom78 for making time to review the submission. Thank you @lheagy for leading the process. :+1:

[2018-04-23 03:55] ziotom78 commented on #691
Everything looks fine to me, I created two PRs ([#18](https://github.com/bblankrot/ParticleScattering.jl/pull/18) and [#19](https://github.com/bblankrot/ParticleScattering.jl/pull/19)) to improve the documentation and make the plots actually appear.

I have checked the claim in the paper that the optimization example takes 35 seconds to complete: on my (quite old) laptop the two calls to `optimize

[2018-04-23 04:40] ziotom78 commented on #692
Really a good and interesting package! I am going through the documentation and the examples, at the moment I have opened two tickets ([#20](https://github.com/juliohm/GeoStats.jl/issues/20) and [#21](https://github.com/juliohm/GeoStats.jl/issues/21)).

In the README, you might consider putting a link to your `CONTRIBUTING.md` file, as it contains valuable information that might be missed.

[2018-04-23 06:00] juliohm commented on #692
Thank you @ziotom78 for your time and for going through the documentation, very helpful. I will add a link to the CONTRIBUTING.md file in the README.md

[2018-04-23 06:02] anhoej commented on #686
Must the editor be on your list of editors? I don't see any with expertise
in statistical process controll. But maybe that's not important. Most
people with a high school degree should be able to get the idea after
reading the vignette. Or maybe subject matter knowledge is not at all
important if you know R.

What I'm trying to say is that I'm not sure how this works and how you pick
editors. But

[2018-04-23 07:02] juliohm commented on #692
Fixed the example everywhere, the documentation, the README.md and the paper.md. I've also added the link to CONTRIBUTING.md as suggested to the README.md

[2018-04-23 07:02] juliohm commented on #692
@whedon generate pdf

[2018-04-23 07:02] whedon commented on #692
[code]

[2018-04-23 07:03] whedon commented on #692
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00692/joss.00692/10.21105.joss.00692.pdf)

[2018-04-23 07:50] leeper commented on #686
@anhoej I'll serve as editor for this submission and will recruit one or more reviewers. Just wanted to see if you already had someone in mind as a possible reviewer. No problem that you don't!

[2018-04-23 07:50] leeper commented on #686
@rmadillo Would you be interested in reviewing this submission for JOSS?

[2018-04-23 09:54] hugoledoux commented on #660
I am a GIS (geographical information systems) person used to work with datasets, maps, and 3D data.
So our backgrounds are very different.

## Maps?!

What is a 'map'? That term in GIS is... vague and can mean:
  1. a paper map
  2. a digital version of one, à la Google Maps

You use it to refer to gridded datasets where the value of each pixel is the elevation or something else. I would be a bit

[2018-04-23 10:13] arfon commented on #684
Fixed here. The version on the main JOSS site will be updated when the submission is processed.

[2018-04-23 10:23] whedon opened #693 "[PRE REVIEW]: Hierdenc: Retrieval and clustering of large categorical data sets with locality-sensitive hashing"
**Submitting author:** @wandreopoulos (<a href="http://orcid.org/0000-0001-9097-1123">William Andreopoulos</a>)
**Repository:** <a href="https://git.code.sf.net/p/hierdenc/code" target ="_blank">https://git.code.sf.net/p/hierdenc/code</a>
**Version:** v1.0
**Editor:** @jedbrown
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @wandreopoulos. The JOSS editor

[2018-04-23 10:23] whedon opened #694 "[PRE REVIEW]: Discrete Laplace mixture model with applications in forensic genetics"
**Submitting author:** @mikldk (<a href="http://orcid.org/0000-0002-0234-0266">Mikkel Meyer Andersen</a>)
**Repository:** <a href="https://github.com/mikldk/disclapmix" target ="_blank">https://github.com/mikldk/disclapmix</a>
**Version:** v1.7
**Editor:** @pjotrp
**Reviewers:** @mikldk

**Author instructions**

Thanks for submitting your paper to JOSS @mikldk. The JOSS editor (shown at the top of

[2018-04-23 10:25] arfon commented on #667
👋@RuthAngus - I just wanted to check in and see how you are getting on here?

[2018-04-23 10:26] arfon commented on #682
@kyleniemeyer - would you be willing to edit this submission for JOSS?

[2018-04-23 10:28] arfon commented on #660
:wave: @ThomasA - just a friendly reminder to try and get to this review sometime soon.

[2018-04-23 10:31] #536 closed

[2018-04-23 10:33] arfon commented on #591
*bump* - what's the plan with this submission? Looks like we have a willing editor in @pjotrp and a reviewer in @alexgarciac.

@pjotrp - I suggest you move ahead with this.

[2018-04-23 10:34] arfon commented on #635
@CBenghi @Scivision - would you be willing to review this submission for JOSS?

[2018-04-23 10:38] arfon commented on #673
:wave: @mzevin1 would you be willing to review this submission for JOSS?

[2018-04-23 10:40] arfon commented on #677
Thanks @mrecos - yes, please try and flesh the paper out in a little more detail following the guidelines from the main JOSS site:

[2018-04-23 10:40] arfon commented on #677
@benmarwick - would you be willing to review this submission for JOSS?

[2018-04-23 10:42] arfon commented on #693
@wandreopoulos - do you know why the source code is not showing up here? https://sourceforge.net/p/hierdenc/code/ref/master/

[2018-04-23 10:44] arfon commented on #578
@jasonclark - I think we might need to look for alternative reviewers for this submission.

[2018-04-23 10:47] arfon commented on #694
:wave: @mgymrek - would you be willing to edit this submission for JOSS?

[2018-04-23 11:27] plooney commented on #600
I recommend @thewtex

https://github.com/thewtex

[2018-04-23 11:30] bblankrot commented on #691
Thanks for reviewing this so quickly, @ziotom78 , as well as fixing the issues! I merged both PRs.

[2018-04-23 12:37] jegpeek commented on #687
I'm sorry @arfon I've though about this long and hard and I've decided I only review for Elsevier journals.

Just kidding, bring it on.

[2018-04-23 12:45] mzevin1 commented on #673
Hi @arfon, I'm a member of LIGO as well (and not too versed in continuous waves science), so I may not be best suited for review.

[2018-04-23 12:56] Rmadillo commented on #686
I would be happy to help.

On Apr 23, 2018, at 12:50 AM, Thomas J. Leeper <notifications@github.com<mailto:notifications@github.com>> wrote:

@Rmadillo<https://github.com/Rmadillo> Would you be interested in reviewing this submission for JOSS?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/openjournals/joss-reviews/issues/68

[2018-04-23 12:56] achennu commented on #674
@lheagy @leouieda
Thanks for your inputs on the repo. I've made the changes you've indicated thus far. Travis builds are passing. Once you indicate that the JOSS review is through, I'll bump version, release and create an archive on zenodo.

[2018-04-23 13:00] arfon commented on #687
🤣very nice @jegpeek.

[2018-04-23 13:00] whedon commented on #687
OK, the reviewer is @jegpeek

[2018-04-23 13:00] arfon commented on #687
@whedon start review magic-word=bananas

[2018-04-23 13:00] #687 closed

[2018-04-23 13:00] whedon opened #695 "[REVIEW]: dustmaps: A Python interface for maps of interstellar dust"
**Submitting author:** @gregreen (<a href="http://orcid.org/0000-0001-5417-2260">Gregory Green</a>)
**Repository:** <a href="https://github.com/gregreen/dustmaps" target ="_blank">https://github.com/gregreen/dustmaps</a>
**Version:** v1.0
**Editor:** @arfon
**Reviewer:** @jegpeek
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1299368" target="_blank">10.5281/zenodo.1299368</a>

## Status

[2018-04-23 13:00] whedon commented on #687
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/695. Feel free to close this issue now!

[2018-04-23 13:00] whedon commented on #695
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @jegpeek it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currentl

[2018-04-23 13:00] whedon commented on #695
[code]

[2018-04-23 13:00] arfon commented on #687
@jegpeek - please head over to #695 to carry out the actual review.

[2018-04-23 13:00] whedon commented on #695
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00695/joss.00695/10.21105.joss.00695.pdf)

[2018-04-23 13:01] arfon commented on #695
@jegpeek - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: http://joss.theoj.org/about#reviewer_guidelines

Any questions/concerns please let me know.

[2018-04-23 14:07] wandreopoulos commented on #693
Sorry, I hadn't pushed the files with git. The files are available here.
Should I push with git?
https://sourceforge.net/projects/hierdenc/files/

On Mon, Apr 23, 2018 at 3:42 AM, Arfon Smith <notifications@github.com>
wrote:

[2018-04-23 14:39] danielskatz commented on #675
@fritzo and @jordigh - would either or both of you be willing to review this submission?

[2018-04-23 14:55] drjmm84 commented on #685
Thank you for both volunteering. I have not seen reviewers (including myself) respond as quickly and positively to reviewing before.

I think that I recommended either @Kevin-Mattheus-Moerman or @mgymrek as the editor for this submission.

[2018-04-23 15:57] jordibc commented on #660
Thanks @hugoledoux for the review! I found all the comments appropriate and useful. I've tried to address them:

* maps: added clarification (both in readme.rst and paper.md)
* install: added information about the necessary packages in readme.rst
* version: created a release https://github.com/jordibc/mapelia/releases/tag/v1.1.1
* a statement of need: added to paper.md an explanation of how it's u

[2018-04-23 16:02] arfon commented on #591
@whedon assign @pjotrp as editor

[2018-04-23 16:02] whedon commented on #591
OK, the editor is @pjotrp

[2018-04-23 16:04] jordibc commented on #660
@whedon commands

[2018-04-23 16:04] whedon commented on #660
Here are some things you can ask me to do:

[code]

[2018-04-23 16:04] jordibc commented on #660
@whedon generate pdf

[2018-04-23 16:04] whedon commented on #660
[code]

[2018-04-23 16:05] whedon commented on #660
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00660/joss.00660/10.21105.joss.00660.pdf)

[2018-04-23 16:50] fritzo commented on #675
@danielskatz sorry I can't handle any additional reviews at the moment

[2018-04-23 17:04] reshadh commented on #524
I actually withdrew the paper. Sorry, I thought the reviewers would be informed on this. Otherwise, I would have mentioned this here.
Thanks!

[2018-04-23 17:28] mrecos commented on #677
Thank you @arfon. I added a bit more detail to the paper. Please let me know if you have other suggested edits prior to review.

[2018-04-23 18:04] gregreen commented on #695
@arfon Is there an equivalent to `\citet{}` in mardown? Some of the citations should not be in parentheses.

[2018-04-23 18:14] arfon commented on #524
OK thanks for letting us know @reshadh.

@arokem @josephhardinee - I'm sorry that this paper isn't proceeding, especially given all of your work here @josephhardinee.

[2018-04-23 18:14] #524 closed

[2018-04-23 18:17] whedon opened #696 "[PRE REVIEW]: Galore: Broadening and weighting for simulation of photoelectron spectroscopy"
**Submitting author:** @ajjackson (<a href="http://orcid.org/0000-0001-5272-6530">Adam J. Jackson</a>)
**Repository:** <a href="https://github.com/SMTG-UCL/galore" target ="_blank">https://github.com/SMTG-UCL/galore</a>
**Version:** 0.5.0
**Editor:** @arfon
**Reviewers:** @shyamd

**Author instructions**

Thanks for submitting your paper to JOSS @ajjackson. The JOSS editor (shown at the top of thi

[2018-04-23 18:17] whedon commented on #696
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @katyhuff it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-04-23 18:17] whedon commented on #696
[code]

[2018-04-23 18:18] whedon opened #697 "[PRE REVIEW]: RcmdrPlugin.OptimClassifier: Extending the R Commander Interface to create the best train for classification models"
**Submitting author:** @economistgame (<a href="http://orcid.org/0000-0001-5658-4795">Agustín Pérez-Torregrosa</a>)
**Repository:** <a href="https://github.com/economistgame/RcmdrPlugin.OptimClassifier" target ="_blank">https://github.com/economistgame/RcmdrPlugin.OptimClassifier</a>
**Version:** v0.1.2
**Editor:** @karthik
**Reviewers:** @@andrewheiss

**Author instructions**

Thanks for submitti

[2018-04-23 18:30] gregreen commented on #695
@whedon generate pdf

[2018-04-23 18:30] whedon commented on #695
[code]

[2018-04-23 18:30] whedon commented on #695
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00695/joss.00695/10.21105.joss.00695.pdf)

[2018-04-23 18:33] gregreen commented on #695
@arfon Yes, that covered it. Thanks!

[2018-04-23 18:41] whedon commented on #591
OK, the reviewer is @alexgarciac

[2018-04-23 18:42] economistgame commented on #697
@whedon generate pdf

[2018-04-23 18:42] whedon commented on #697
[code]

[2018-04-23 18:43] whedon opened #698 "[REVIEW]: A reusable tree-based web-visualization to browse EDAM ontology, and contribute to it."
**Submitting author:** @bryan-brancotte (<a href="http://orcid.org/0000-0001-8669-5525">Bryan Brancotte</a>)
**Repository:** <a href="https://github.com/IFB-ElixirFr/edam-browser" target ="_blank">https://github.com/IFB-ElixirFr/edam-browser</a>
**Version:** v1.0.0
**Editor:** @pjotrp
**Reviewer:** @alexgarciac
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/0f6e424f64f3ec

[2018-04-23 18:43] whedon commented on #591
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/698. Feel free to close this issue now!

[2018-04-23 18:43] whedon commented on #697
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00697/joss.00697/10.21105.joss.00697.pdf)

[2018-04-23 18:43] whedon commented on #698
PDF failed to compile for issue #698 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0    260      0 --:--:-- --:--:-- --:--:--   262
Could not find bib

[2018-04-23 18:43] #591 closed

[2018-04-23 18:48] economistgame commented on #697
@whedon generate pdf

[2018-04-23 18:48] whedon commented on #697
[code]

[2018-04-23 18:48] pjotrp commented on #698
Dear @bryan-brancotte, sorry for the delay. Mostly because someone stopped communicating - hard to deal with that. But we'll move on now. To expedite the work can you add the bibliography and compile the PDF until it works? Also please go through above check list and ascertain the reviewer can check the boxes. Much faster if you make sure we can tick them than wait for a back and forth. Meanwile @

[2018-04-23 18:49] whedon commented on #697
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00697/joss.00697/10.21105.joss.00697.pdf)

[2018-04-23 19:16] whedon commented on #697
[code]

[2018-04-23 19:29] economistgame commented on #697
@whedon generate pdf

[2018-04-23 19:29] whedon commented on #697
[code]

[2018-04-23 19:29] whedon commented on #697
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00697/joss.00697/10.21105.joss.00697.pdf)

[2018-04-23 19:36] benmarwick commented on #677
Yes, no worries, happy to review.

[2018-04-23 20:07] hmenager commented on #698
Hi @pjotrp, thanks a lot for handling this. Regarding the bibliography, the compilation error seems weird, because the bib file is actually there as far as I can tell (https://github.com/IFB-ElixirFr/edam-browser/blob/master/paper_resources/paper.bib). On the previous round @arfon actually provided the pdf manually. Is there something we should correct in the markdown or the bibtex to avoid the co

[2018-04-23 21:00] RuthAngus commented on #667
@arfon eeshk, sorry! I got slammed immediately after accepting this review. I'll try to get to this tomorrow.

[2018-04-23 21:28] mikldk commented on #694
@mgymrek / @arfon: Suggested reviewers: @wrathematics / @nhejazi .

[2018-04-23 22:12] offray commented on #238
@arfon I have talked with [Sean DeNigris](https://github.com/seandenigris) and he is willing to help.

Thanks

[2018-04-24 00:39] Kevin-Mattheus-Moerman commented on #685
Hi @drjmm84 thanks for your submission. After review the editorial board has determined that your submission does not meet our [submission requirements](http://joss.theoj.org/about#submission_requirements). In particular, this submission falls under the 'Minor utility package' category.

Apologies that you did not receive a reply to your [pre-submission inquiry](https://github.com/openjournals/jos

[2018-04-24 00:44] #685 closed

[2018-04-24 00:49] Kevin-Mattheus-Moerman commented on #691
Thanks @ziotom78 for the fast review :zap: !

[2018-04-24 00:52] Kevin-Mattheus-Moerman commented on #691
@bblankrot the citation in your paper:

Would you be able to upload a pre-print e.g. via [engrxiv.org/](http://engrxiv.org/), and to add the pre-print DOI to the JOSS paper?

[2018-04-24 01:11] Kevin-Mattheus-Moerman commented on #691
At @ysimillides thanks for acting as reviewer here. I think you mentioned being able to review near the end of April. I look forward to your review. Let me know if you have any questions.

[2018-04-24 01:38] arfon commented on #698
@hmenager - the issue here is that there are two papers so @whedon doesn't know what to do:

I've compiled this locally and uploaded here: [10.21105.joss.00698.pdf](https://github.com/openjournals/joss-reviews/files/1940528/10.21105.joss.00698.pdf)

[2018-04-24 07:06] pjotrp commented on #698
The second paper should be renamed?

[2018-04-24 07:16] hugoledoux commented on #660
@jordibc great that you updated so fast, now all is good as far as I am concerned.

@arfon I updated my review and all the boxes are now ticked

[2018-04-24 07:28] ThomasA commented on #660
@arfon sorry for the delay. I should be able to get to it Thursday or Friday.

[2018-04-24 07:58] leeper commented on #686
@Rmadillo That's great! Thanks! I'll add you as a reviewer.

[2018-04-24 07:59] leeper commented on #686
@whedon add @Rmadillo as reviewer

[2018-04-24 07:59] whedon commented on #686
OK, @Rmadillo is now a reviewer

[2018-04-24 07:59] leeper commented on #686
@whedon start review -magic-word=bananas

[2018-04-24 07:59] whedon commented on #686
You didn't say the magic word! Try this:

[code]

[2018-04-24 08:00] leeper commented on #686
@whedon start review magic-word=bananas

[2018-04-24 08:00] whedon commented on #686
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/699. Feel free to close this issue now!

[2018-04-24 08:00] whedon opened #699 "[REVIEW]: qicharts2: Quality Improvement Charts for R"
**Submitting author:** @anhoej (<a href="http://orcid.org/0000-0002-7701-1774">Jacob Anhøj</a>)
**Repository:** <a href="https://github.com/anhoej/qicharts2" target ="_blank">https://github.com/anhoej/qicharts2</a>
**Version:** 0.4.0.9000
**Editor:** @leeper
**Reviewer:** @Rmadillo
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1244604" target="_blank">10.5281/zenodo.1244604</a>

## Status

[2018-04-24 08:00] whedon commented on #699
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @Rmadillo it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably current

[2018-04-24 08:00] whedon commented on #699
[code]

[2018-04-24 08:00] whedon commented on #699
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00699/joss.00699/10.21105.joss.00699.pdf)

[2018-04-24 08:01] leeper commented on #699
@rmadillo Here's the issue where your review will take place. Please read the instructions and let me know if you have any questions. Once you've completed the reviewer checklist, please leave a comment here for me to take a look.

[2018-04-24 08:01] #686 closed

[2018-04-24 09:52] economistgame commented on #697
@whedon commands

[2018-04-24 09:53] whedon commented on #697
Here are some things you can ask me to do:

[code]

[2018-04-24 09:59] arfon commented on #698
Yes. The regex goes looking for anything with `paper.md` in the title. Honestly it doesn't really matter, you just can't ask Whedon to auto-compile the paper here.

[2018-04-24 10:02] arfon commented on #693
@wandreopoulos - yes, please push to git too.

[2018-04-24 10:42] ajjackson commented on #696
I have pushed an update to master which should fix the whedon error. Is there a way to trigger a rebuild?

From the former reviewer list, @tacaswell @jochym @mikapfl have listed relevant topics but I do not know if they have access/familiarity with the electronic structure codes that this is intended to post-process (VASP and GPAW). Test data is provided with the package.

@bjmorgan (former review

[2018-04-24 10:44] ajjackson commented on #696
@whedon generate pdf

[2018-04-24 10:44] whedon commented on #696
[code]

[2018-04-24 10:45] whedon commented on #696
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00696/joss.00696/10.21105.joss.00696.pdf)

[2018-04-24 11:10] ajjackson commented on #696
(Added to affiliations and acknowledgements, changed citation style to one that isn't broken.)
@whedon generate pdf

[2018-04-24 11:12] ajjackson commented on #696
@whedon generate pdf

[2018-04-24 11:12] whedon commented on #696
[code]

[2018-04-24 11:12] whedon commented on #696
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00696/joss.00696/10.21105.joss.00696.pdf)

[2018-04-24 11:17] ajjackson commented on #696
@whedon generate pdf

[2018-04-24 11:17] whedon commented on #696
[code]

[2018-04-24 11:18] whedon commented on #696
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00696/joss.00696/10.21105.joss.00696.pdf)

[2018-04-24 11:18] ajjackson commented on #696
(Fixed the chemical symbols in some cited paper titles)

[2018-04-24 13:09] Kevin-Mattheus-Moerman commented on #593
@giraola thanks for reaching out. @kortschak @juanvillada thanks for your review and your feedback to @giraola's query.

[2018-04-24 13:10] Kevin-Mattheus-Moerman commented on #593
@KlausVigo can you reply to @giraola in relation to what you think is preventing you from ticking the last boxes? Thanks

[2018-04-24 13:12] Kevin-Mattheus-Moerman commented on #602
@MikeInnes thanks for updating the paper. BTW if works are in submission and you'd like to cite them you could cite the DOI of a pre-print for instance.

[2018-04-24 13:38] ziotom78 commented on #692
Great, @juliohm! The only last thing I think might be improved is the section "Comparison methods" in the paper. It looks a bit sketchy, and the reader might not understand that the library actually implements both comparison methods. You might simply quote the relevant functions and types (`compare`, `VisualComparison`, `CrossValidation`) in the text.

[2018-04-24 14:26] louiseadennis commented on #617
It's on the stack, we're just in the middle of project marking here.  Should get to it this week or early next week at the very latest.

[2018-04-24 14:30] Kevin-Mattheus-Moerman commented on #593
Thanks @KlausVigo for the fast reply.

[2018-04-24 14:35] giraola commented on #593
Thanks @KlausVigo we will keep improving phylen.

[2018-04-24 15:07] juliohm commented on #692
Thank you @ziotom78 , I've added a sentence with the `compare` command to clarify the section. It was indeed really sketchy, thank you for your feedback.

[2018-04-24 15:08] juliohm commented on #692
@whedon generate pdf

[2018-04-24 15:08] whedon commented on #692
[code]

[2018-04-24 15:08] whedon commented on #692
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00692/joss.00692/10.21105.joss.00692.pdf)

[2018-04-24 15:12] benmarwick commented on #48
I see increasing use of Publons among my colleagues, so I think it would be good if JOSS claimed a formal presence there. It might help to raise the status of JOSS as a serious journal, which is important for some reviewers.

Seems like the only way to initiate this is by making contact by email partnerships@publons.com (and maybe paying them?).

Currently we see two possible matches:

- https://p

[2018-04-24 15:15] ziotom78 commented on #692
Excellent! From my point of view the paper as it is now is fine, but let's wait for @wkearn's review.

[2018-04-24 15:56] leeper commented on #629
@rdrr1990 Just another ping!

[2018-04-24 15:56] leeper commented on #515
@tgerke Just another ping on this!

[2018-04-24 15:58] MikeInnes commented on #602
I'll poke those folks in case there are any public DOIs around that I can cite, but if this paper can go through before then I'm equally happy to leave it.

[2018-04-24 16:02] katyhuff commented on #696
@tacaswell @jochym @mikapfl @jameskermode or @askhl : Are any of you available to conduct a review for this paper? @ajjackson has submitted it to JOSS and I am the current editor.

The paper is here: https://github.com/openjournals/joss-papers/blob/joss.00696/joss.00696/10.21105.joss.00696.pdf

From the README:

Application of Lorentzian instrumental broadening to simulated Raman spectra from DFPT

[2018-04-24 16:02] jhollist commented on #607
@ibarraespinosa Nice job on the tests!  89% is pretty good coverage and better than I have for most of my pacakges!

@leeper I give 👍 👍 and it looks good to go.

[2018-04-24 16:04] katyhuff commented on #658
@arfon Yes.

[2018-04-24 16:04] katyhuff commented on #658
@whedon assign @katyhuff as editor

[2018-04-24 16:04] whedon commented on #658
OK, the editor is @katyhuff

[2018-04-24 16:09] ibarraespinosa commented on #607
Thank you @jhollist. Suggesting codecov of code was very clever. It was difficult but it allowed me to improve the code.

[2018-04-24 16:12] katyhuff commented on #658
@kyleniemeyer @trallard @nnadeau : Would any of you be willing to edit this submission? I think you would be very fitting. The topic is "MCycle: A Python package for 1D sizing and analysis of thermodynamic power cycles." It's a python package. From the paper:

[2018-04-24 16:42] katyhuff commented on #676
Thank you for this detailed review @nnadeau .

@sepandhaghighi : all of the issues remain open. Please bring them to closure through conversation with @nnadeau and I. I have left comments on most regarding whether I believe the issues have been sufficiently handled or whether I think the issue looks like it has truly been fixed.

Thanks for working quickly on these issues @sepandhaghighi . I am pa

[2018-04-24 17:41] tgerke commented on #515
Works as advertised, readme was easy to follow, overall excellent package! Only item in the review checklist I didn't fill was the one regarding the LICENSE file, which I was not able to locate. One minor comment related to the statement of need: the spatial problems the package solves are nicely described, but it could be useful to mention key areas this package extends/complements existing softw

[2018-04-24 17:41] nnadeau commented on #676
@katyhuff @sepandhaghighi I'm still in the process of reviewing the actual codebase.

See https://github.com/ECSIM/opem/issues/50 for my initial observations regarding testing.

[2018-04-24 18:14] rdrr1990 commented on #629
Apologies again for delay! New to JOSS--do I just post things as they come up? On `R` side, just built package, `testthat` runs fine but `R CMD check --as-cran` returns the classic nuisance error:

[code]

[2018-04-24 19:41] leeper commented on #629
@rdrr1990 Easiest thing to do is open issues on the source repo: https://github.com/virgesmith/humanleague. If you want to provide a summary response and/or say anything that doesn't make sense as a standalone issue, feel free to add it here.

[2018-04-24 19:45] juliohm commented on #692
Thank you @wkearn! I am glad the documentation and examples are clear. This was a place where I did put a lot of effort. One of my goals is to really demystify geostatistics to the scientific community in general.

I will expand the comparison section of the paper a little more with a figure, and then let you know. We could then wrap up the review process. :+1:

[2018-04-24 19:46] leeper commented on #515
@tgerke Thank you! This looks great. Really appreciate the review. Since it sounds like you're mostly happy, that's all we'll need. Excellent job on your first review!

@BenjaK Review is in and all looks good. We're nearly there. Two final things:

 - Consider updating [the paper](https://github.com/BenjaK/scanstatistics/blob/master/JOSS/paper.md) regarding statement of need. @tgerke's suggestion

[2018-04-24 19:50] rdrr1990 commented on #629
Got it, thanks!

[2018-04-24 20:11] sepandhaghighi commented on #676
@nnadeau @katyhuff

I merged `develop` and `master` branches and most of issues with `fixed` label closed automatically.

Thanks

[2018-04-24 20:32] leouieda commented on #674
@achennu @lheagy I'll get to this week. Sorry for the delay @achennu.

[2018-04-24 21:41] juliohm commented on #692
@whedon generate pdf

[2018-04-24 21:41] whedon commented on #692
[code]

[2018-04-24 21:41] whedon commented on #692
PDF failed to compile for issue #692 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0    13    0     0    150      0 --:--:-- --:--:-- --:--:--   151
Error producing PD

[2018-04-24 21:44] juliohm commented on #692
@whedon generate pdf

[2018-04-24 21:44] whedon commented on #692
[code]

[2018-04-24 21:45] whedon commented on #692
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00692/joss.00692/10.21105.joss.00692.pdf)

[2018-04-24 21:49] juliohm commented on #692
@ziotom78 @wkearn could you please give your final word on the latest version of the paper above? Please let me know if anything is out of place.

[2018-04-25 00:28] lheagy commented on #692
Thanks @wkearn and @ziotom78 for a speedy and thorough review!

@juliohm: we can proceed to accept the paper - congratulations! Could you please archive your software on [Zenodo](https://zenodo.org/) or similar and post the doi here?

[2018-04-25 00:46] juliohm commented on #692
Thank you all for your feedback, it is been an amazing experience to work with you on this review process.

@lheagy I will archive the software and post the DOI here as soon as possible.

[2018-04-25 05:43] achennu commented on #674
@leouieda Thanks for the update. Do let me know if you need any info.

[2018-04-25 05:53] juliohm commented on #692
@whedon generate pdf

[2018-04-25 05:53] whedon commented on #692
[code]

[2018-04-25 05:53] whedon commented on #692
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00692/joss.00692/10.21105.joss.00692.pdf)

[2018-04-25 06:10] juliohm commented on #692
@lheagy the Zenodo DOI is here: https://doi.org/10.5281/zenodo.1228609

[2018-04-25 07:05] jochym commented on #696
Sorry. A bit outside of my field and I am swamped with work right now. Maybe next time.

[2018-04-25 09:55] leeper commented on #607
Thank you @jhollist!!

@ibarraespinosa We're nearly there. Two final things:

 - Please add DOIs for all references that you can in [your bibliography](https://github.com/atmoschem/eixport/blob/master/paper.bib). While R packages do not have DOIs, most of the journal articles you are citing should have them.
 - Please update your Zenodo archive with the latest version of the package and let me kno

[2018-04-25 10:03] arfon commented on #692
@whedon set 10.5281/zenodo.1228609 as archive

[2018-04-25 10:03] whedon commented on #692
OK. <a href="http://dx.doi.org/10.5281/zenodo.1228609" target="_blank">10.5281/zenodo.1228609</a> is the archive.

[2018-04-25 10:33] arfon commented on #692
@juliohm - I had to fiddle around a little with the YAML header of your paper to get it to compile properly for production. In particular, I had to edit the email you had listed and turn it into a 'corresponding author' footnote:

[code]

[2018-04-25 10:34] arfon commented on #692
@wkearn, @ziotom78 - many thanks for your review here and to @lheagy for editing this submission ✨

@juliohm - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00692 :zap: :rocket: :boom:

[2018-04-25 10:34] #692 closed

[2018-04-25 10:34] whedon commented on #692
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00692/status.svg)](https://doi.org/10.21105/joss.00692)

**We need your help!**

Journal of Open Source Software

[2018-04-25 11:00] arfon commented on #673
Thanks @kwwette. I'm curious how other journals manage to review gravitational wave related papers...?

@fgnievinski, @scivision, @jordigh - would you be willing to review this submission for JOSS? We'd only be asking you to review the software aspects of this (and not the gravitational wave physics!)

[2018-04-25 11:35] arfon commented on #673
@whedon assign @danielskatz as editor

[2018-04-25 11:35] whedon commented on #673
OK, the editor is @danielskatz

[2018-04-25 12:28] nnadeau commented on #658
@katyhuff I would love to, but I cannot fit it in my current schedule and give it the proper review it deserves.

However, if no one else is available, I may be able to find time in the coming weeks.

[2018-04-25 12:31] ibarraespinosa commented on #607
Hi @leeper the updated version of the [manuscript](https://github.com/atmoschem/eixport/blob/master/paper.bib) has all the respective doi.
Also, the new Zenodo DOI is [10.5281/zenodo.1228955](https://zenodo.org/record/1228955).

Many thanks!

[2018-04-25 12:43] leeper commented on #607
@whedon set 10.5281/zenodo.1228955 as archive

[2018-04-25 12:43] whedon commented on #607
OK. <a href="http://dx.doi.org/10.5281/zenodo.1228955" target="_blank">10.5281/zenodo.1228955</a> is the archive.

[2018-04-25 12:43] leeper commented on #607
@whedon generate pdf

[2018-04-25 12:44] whedon commented on #607
[code]

[2018-04-25 12:44] whedon commented on #607
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00607/joss.00607/10.21105.joss.00607.pdf)

[2018-04-25 12:48] leeper commented on #607
Great. Please merge [this PR](https://github.com/atmoschem/eixport/pull/23) and then your paper will be accepted at JOSS! Congratulations!

[2018-04-25 12:50] nnadeau commented on #676
@katyhuff @sepandhaghighi

My final review and opinion:

While the package has an `obvious research application`, it does not provide `a significant contribution to the available open source software that either enables some new research challenges to be addressed or makes addressing research challenges significantly better (e.g., faster, easier, simpler)`. (https://joss.theoj.org/about#author_gui

[2018-04-25 12:51] leeper commented on #607
@whedon generate pdf

[2018-04-25 12:51] whedon commented on #607
[code]

[2018-04-25 12:52] whedon commented on #607
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00607/joss.00607/10.21105.joss.00607.pdf)

[2018-04-25 12:52] leeper commented on #607
@arfon Over to you.

[2018-04-25 13:06] arfon commented on #607
@jhollist - many thanks for your review and to @leeper for editing this one ✨

@ibarraespinosa - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00607 :zap: :rocket: :boom:

[2018-04-25 13:06] #607 closed

[2018-04-25 13:06] whedon commented on #607
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00607/status.svg)](https://doi.org/10.21105/joss.00607)

**We need your help!**

Journal of Open Source Software

[2018-04-25 13:38] sepandhaghighi commented on #676
@nnadeau

Thanks for your time and deep review
Your points about code style were very good and detailed and we will solve all of them.
But about usage of this package really is not like this, we decided to create this package from some real problems in `PEM` research and focus on models to collect them in one package.
OPEM designed for `PEM` researchers without programming knowledge, it is simple

[2018-04-25 14:20] audemard commented on #639
Sorry for the delay.
It is done now.

[2018-04-25 15:11] juliohm commented on #692
Thank you all for the incredible process! Please let me know how I can become a reviewer for Julia software.

[2018-04-25 15:34] arfon commented on #692
Great! Please fill in your details/interests here: http://joss.theoj.org/reviewer-signup.html

[2018-04-25 16:27] whedon opened #700 "[PRE REVIEW]: EndoMineR for the extraction of endoscopic and associated pathology data from medical reports"
**Submitting author:** @sebastiz (<a href="http://orcid.org/0000-0003-1673-2663">Sebastian Zeki</a>)
**Repository:** <a href="https://github.com/ropensci/EndoMineR" target ="_blank">https://github.com/ropensci/EndoMineR</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewers:** @arfon

**Author instructions**

Thanks for submitting your paper to JOSS @sebastiz. The JOSS editor (shown at the top of

[2018-04-25 16:27] whedon commented on #700
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-04-25 16:27] whedon commented on #700
[code]

[2018-04-25 16:27] whedon commented on #700
PDF failed to compile for issue #700 with the following error:

 Can't find any papers to compile :-(

[2018-04-25 16:28] arfon commented on #700
@whedon generate pdf

[2018-04-25 16:28] whedon commented on #700
[code]

[2018-04-25 16:28] whedon commented on #700
PDF failed to compile for issue #700 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0    13    0     0     89      0 --:--:-- --:--:-- --:--:--    89
Error reading bibl

[2018-04-25 16:29] arfon commented on #700
@whedon assign @arfon as editor

[2018-04-25 16:29] whedon commented on #700
OK, the editor is @arfon

[2018-04-25 16:29] arfon commented on #700
@whedon assign @arfon as reviewer

[2018-04-25 16:29] whedon commented on #700
OK, the reviewer is @arfon

[2018-04-25 16:29] arfon commented on #700
@whedon start review magic-word=bananas

[2018-04-25 16:29] #700 closed

[2018-04-25 16:29] whedon commented on #700
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/701. Feel free to close this issue now!

[2018-04-25 16:29] whedon opened #701 "[REVIEW]: EndoMineR for the extraction of endoscopic and associated pathology data from medical reports"
**Submitting author:** @sebastiz (<a href="http://orcid.org/0000-0003-1673-2663">Sebastian Zeki</a>)
**Repository:** <a href="https://github.com/ropensci/EndoMineR" target ="_blank">https://github.com/ropensci/EndoMineR</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewer:** @arfon
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1232059" target="_blank">10.5281/zenodo.1232059</a>

## Statu

[2018-04-25 16:29] whedon commented on #701
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @arfon it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2018-04-25 16:29] whedon commented on #701
[code]

[2018-04-25 16:29] whedon commented on #701
PDF failed to compile for issue #701 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0    13    0     0    252      0 --:--:-- --:--:-- --:--:--   254
Error reading bibl

[2018-04-25 16:32] arfon commented on #701
Accepting because of https://github.com/ropensci/onboarding/issues/153

[2018-04-25 16:33] louiseadennis commented on #617
Changed and pushed to the repository!

[2018-04-25 16:39] arfon commented on #701
@sebastiz - a couple of things:

1. Could you please take a look at the PDF compilation errors above? If you push changes to https://github.com/ropensci/EndoMineR then you can ask Whedon to try and compile the paper with `@whedon generate pdf`
2. Once the paper compiles properly, please make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of

[2018-04-25 16:42] whedon opened #702 "[PRE REVIEW]: fib-tf: A TensorFlow-based Cardiac Electrophysiology Simulator"
**Submitting author:** @siravan (<a href="http://orcid.org/0000-0003-2132-1543">Shahriar Iravanian</a>)
**Repository:** <a href="https://github.com/siravan/fib_tf" target ="_blank">https://github.com/siravan/fib_tf</a>
**Version:** v1.0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @mgalloy, @leios

**Author instructions**

Thanks for submitting your paper to JOSS @siravan. The JOSS editor

[2018-04-25 16:42] whedon commented on #702
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-04-25 16:42] whedon commented on #702
[code]

[2018-04-25 16:42] whedon commented on #702
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00702/joss.00702/10.21105.joss.00702.pdf)

[2018-04-25 16:42] whedon opened #703 "[PRE REVIEW]: mlpack 3: a fast, flexible machine learning library"
**Submitting author:** @rcurtin (<a href="http://orcid.org/0000-0002-9903-8214">Ryan Curtin</a>)
**Repository:** <a href="https://github.com/mlpack/mlpack" target ="_blank">https://github.com/mlpack/mlpack</a>
**Version:** v3.0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @rasbt, @MikeInnes, @mlgill

**Author instructions**

Thanks for submitting your paper to JOSS @rcurtin. The JOSS edito

[2018-04-25 16:42] whedon commented on #703
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-04-25 16:42] whedon commented on #703
[code]

[2018-04-25 16:42] whedon commented on #703
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00703/joss.00703/10.21105.joss.00703.pdf)

[2018-04-25 16:43] arfon commented on #703
@rcurtin - many thanks for your submission. Is there anything stopping you from moving the paper into the https://github.com/mlpack/mlpack repository? This is our preferred way of handling submissions.

The `paper.md` file can exist basically anywhere in the https://github.com/mlpack/mlpack/ repo (e.g. nested somewhere under the docs folder)

[2018-04-25 16:43] whedon opened #704 "[PRE REVIEW]: approxposterior: A Python Implementation of “Bayesian Active Learning For Posterior Estimation”"
**Submitting author:** @dflemin3 (<a href="http://orcid.org/0000-0001-9293-4043">David Fleming</a>)
**Repository:** <a href="https://github.com/dflemin3/approxposterior" target ="_blank">https://github.com/dflemin3/approxposterior</a>
**Version:** v0.1
**Editor:** @jedbrown
**Reviewers:** @dmdu

**Author instructions**

Thanks for submitting your paper to JOSS @dflemin3. The JOSS editor (shown at

[2018-04-25 16:44] whedon commented on #704
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-04-25 16:44] whedon commented on #704
[code]

[2018-04-25 16:44] whedon commented on #704
PDF failed to compile for issue #704 with the following error:

 Can't find any papers to compile :-(

[2018-04-25 16:44] whedon opened #705 "[PRE REVIEW]: egtplot: A Python Package for Three-Strategy Evolutionary Games"
**Submitting author:** @drew-williamson (<a href="http://orcid.org/0000-0003-1745-8846">Drew Williamson</a>)
**Repository:** <a href="https://github.com/mirzaevinom/egtplot" target ="_blank">https://github.com/mirzaevinom/egtplot</a>
**Version:** v0.3
**Editor:** @arfon
**Reviewers:** @fil, @jmbr

**Author instructions**

Thanks for submitting your paper to JOSS @drew-williamson. The JOSS editor (

[2018-04-25 16:44] whedon commented on #705
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-04-25 16:44] whedon commented on #705
[code]

[2018-04-25 16:44] whedon commented on #705
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00705/joss.00705/10.21105.joss.00705.pdf)

[2018-04-25 16:45] arfon commented on #704
@whedon generate pdf

[2018-04-25 16:45] whedon commented on #704
[code]

[2018-04-25 16:45] whedon commented on #704
PDF failed to compile for issue #704 with the following error:

 Can't find any papers to compile :-(

[2018-04-25 16:46] arfon commented on #704
@whedon generate pdf

[2018-04-25 16:46] whedon commented on #704
[code]

[2018-04-25 16:46] whedon commented on #704
PDF failed to compile for issue #704 with the following error:

 Can't find any papers to compile :-(

[2018-04-25 16:48] arfon commented on #704
@whedon generate pdf

[2018-04-25 16:48] whedon commented on #704
[code]

[2018-04-25 16:48] whedon commented on #704
PDF failed to compile for issue #704 with the following error:

 /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon.rb:78:in `check_fields': Paper YAML header is missing expected fields: affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon.rb:66:in `initialize'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a

[2018-04-25 16:50] arfon commented on #704
@dflemin3 - it looks like the YAML header of this paper is incorrectly structured. Could you take a look at the example here and fix your paper please? http://joss.theoj.org/about#author_guidelines

[2018-04-25 16:55] rcurtin commented on #703
@arfon thanks for the quick reply.  If it's necessary, we can move the paper into the repository, but to me it seems that the paper itself is a separate artifact from the code.  (As time goes on, the paper itself may become out of date, for example.)  I think that the Armadillo submission, which I was also involved with, had the paper in a separate place also.  Let me know what you think.

I see t

[2018-04-25 16:59] rcurtin commented on #703
@whedon generate pdf

[2018-04-25 16:59] whedon commented on #703
[code]

[2018-04-25 16:59] whedon commented on #703
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00703/joss.00703/10.21105.joss.00703.pdf)

[2018-04-25 17:03] karthik commented on #700
@sebastiz No additional review required at JOSS. But please check the issues that @arfon has poined out in https://github.com/openjournals/joss-reviews/issues/701

[2018-04-25 17:27] sebastiz commented on #701
@whedon generate pdf

[2018-04-25 17:27] whedon commented on #701
[code]

[2018-04-25 17:27] whedon commented on #701
PDF failed to compile for issue #701 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0    13    0     0    147      0 --:--:-- --:--:-- --:--:--   149
Error reading bibl

[2018-04-25 17:29] sebastiz commented on #701
@whedon generate pdf

[2018-04-25 17:29] whedon commented on #701
[code]

[2018-04-25 17:29] whedon commented on #701
PDF failed to compile for issue #701 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0    13    0     0    176      0 --:--:-- --:--:-- --:--:--   178
Error reading bibl

[2018-04-25 17:30] sebastiz commented on #701
@whedon generate pdf

[2018-04-25 17:30] whedon commented on #701
[code]

[2018-04-25 17:30] whedon commented on #701
PDF failed to compile for issue #701 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0    13    0     0    116      0 --:--:-- --:--:-- --:--:--   117
Error reading bibl

[2018-04-25 18:13] drew-williamson commented on #705
I've updated `paper.md` in the repo so that the figures should now (fingers crossed) display correctly.

[2018-04-25 18:24] arfon commented on #692
There is not sorry. I think this is a limitation of our current template and document processing. The short-term fix here is to simply remove the footnote/your email from the submission.

[2018-04-25 18:25] arfon commented on #705
@whedon generate pdf

[2018-04-25 18:25] whedon commented on #705
[code]

[2018-04-25 18:25] whedon commented on #705
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00705/joss.00705/10.21105.joss.00705.pdf)

[2018-04-25 18:25] arfon commented on #705
@drew-williamson can you check? 👆

[2018-04-25 18:27] danielskatz commented on #617
@fraimondi - I thought this was ready to be accepted, but my final look shows that there is one box left unchecked - yours on functionality.

Can you tell us what you think is needed?

[2018-04-25 18:27] drew-williamson commented on #705
Forgot to add figure 2 to the repo. Once more?

[2018-04-25 18:29] danielskatz commented on #639
Great!
:wave: arfon - can we move this to acceptance now?

[2018-04-25 18:45] juliohm commented on #692
Thank you @arfon I will consider the change for future releases of the project.

[2018-04-25 20:18] fraimondi commented on #617
Apologies, my mystake! The only thing that is needed is a new pair of glasses for the reviewer.
I've now checked all the boxes, I think it is ready to be accepted.
Thanks!

[2018-04-25 20:43] hmenager commented on #698
@pjotrp I will check that carefully with @bryan-brancotte, and get back to you real soon. From quickly checking the list above, I think we miss a release and the contribution guidelines. We'll ping you as soon as these are done.

[2018-04-25 21:18] juliohm commented on #692
The software archive link is broken in the JOSS page. How can I fix it?

[2018-04-25 21:43] danielskatz commented on #617
Great!
👋 arfon - can we move this to acceptance now?

[2018-04-26 00:44] juliohm commented on #692
The link I am referring to is named "software archive" in the screenshot below:

![screenshot from 2018-04-25 17-43-40](https://user-images.githubusercontent.com/3345261/39279823-4b72bbc6-48b0-11e8-9e88-6e6ceda8902e.png)

[2018-04-26 06:04] mhucka commented on #596
Update: I've now fixed one issue, which is that I used an antipattern in `setup.py` that caused dependencies not to be installed automatically. I should be able to respond to the remaining issues this week.

[2018-04-26 06:08] pjotrp commented on #698
Excellent.

[2018-04-26 07:30] ajjackson commented on #696
Ah, apologies @askhl I had noticed you being active on ASE/Vasp issues! Not very much of the codebase is Vasp-specific, just some import functions which rely on Pymatgen. I would be happy to send extra sample data if needed; Vasp import just needs the files, while GPAW input needs a working GPAW setup.

[2018-04-26 07:53] bblankrot commented on #691
@whedon generate pdf

[2018-04-26 07:54] whedon commented on #691
[code]

[2018-04-26 07:54] whedon commented on #691
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00691/joss.00691/10.21105.joss.00691.pdf)

[2018-04-26 08:02] bblankrot commented on #691
@Kevin-Mattheus-Moerman thanks for the comment, I uploaded the preprint to arxiv. Is the citation OK as is or are any changes necessary?

[2018-04-26 10:36] arfon commented on #703
This is a hard requirement for us these days. Our editorial system is heavily automated and so the current layout (paper not being with the software) means manual work for our editorial team.

[2018-04-26 10:37] arfon commented on #705
You can ask Whedon to do this for you :-)

[2018-04-26 10:38] arfon commented on #639
@motib - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-04-26 10:41] arfon commented on #692
@juliohm - this link issue should be fixed now.

[2018-04-26 11:06] arhpreston commented on #48
Hi there. You've spotted a duplicate caused by listing the journal in CrossRef under two names. We've unified the two records here:
https://publons.com/journal/38378/the-journal-of-open-source-software

Hope that helps!

Please do drop us a line on partnerships@publons.com if you want to discuss further.

[2018-04-26 12:45] motib commented on #639
@arfon: I have never heard of these before so I have a couple of questions.
I logged into Zenodo (with my GitHub account).

1. It wants me to upload files. Should I update individual files or could I just download a zip of the GitHub repository and upload that? I would prefer the latter since the directories on my computer have additional stuff like my local backups that I don't want to upload.

2

[2018-04-26 13:15] arfon commented on #639
@motib - I'd suggest following this guide - it should be pretty simple: https://guides.github.com/activities/citable-code/

We don't assign a DOI for your upload. Let Zenodo assign one (and paste it in this thread).

You can do this. Your JOSS DOI will be https://doi.org/10.21105/joss.00639

[2018-04-26 13:39] whedon commented on #639
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00639/status.svg)](https://doi.org/10.21105/joss.00639)

**We need your help!**

Journal of Open Source Software

[2018-04-26 13:40] drew-williamson commented on #705
@whedon generate pdf

[2018-04-26 13:40] whedon commented on #705
[code]

[2018-04-26 13:41] whedon commented on #705
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00705/joss.00705/10.21105.joss.00705.pdf)

[2018-04-26 13:46] sebastiz commented on #701
@whedon generate pdf

[2018-04-26 13:46] whedon commented on #701
[code]

[2018-04-26 13:47] whedon commented on #701
PDF failed to compile for issue #701 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0

[2018-04-26 13:48] sebastiz commented on #701
@whedon generate pdf

[2018-04-26 13:48] whedon commented on #701
[code]

[2018-04-26 13:48] whedon commented on #701
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00701/joss.00701/10.21105.joss.00701.pdf)

[2018-04-26 13:55] sebastiz commented on #701
@whedon generate pdf

[2018-04-26 13:55] whedon commented on #701
[code]

[2018-04-26 13:55] whedon commented on #701
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00701/joss.00701/10.21105.joss.00701.pdf)

[2018-04-26 14:03] sebastiz commented on #701
@whedon generate pdf

[2018-04-26 14:03] whedon commented on #701
[code]

[2018-04-26 14:03] whedon commented on #701
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00701/joss.00701/10.21105.joss.00701.pdf)

[2018-04-26 14:05] sebastiz commented on #701
@whedon generate pdf

[2018-04-26 14:05] whedon commented on #701
[code]

[2018-04-26 14:05] whedon commented on #701
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00701/joss.00701/10.21105.joss.00701.pdf)

[2018-04-26 14:37] drew-williamson commented on #705
@whedon generate pdf

[2018-04-26 14:37] whedon commented on #705
[code]

[2018-04-26 14:37] whedon commented on #705
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00705/joss.00705/10.21105.joss.00705.pdf)

[2018-04-26 15:08] ThomasA commented on #660
I have just started reviewing the submission and I will be making remarks here as I go along. I hope that is OK. I may not be able to finish it today...

[2018-04-26 15:11] ThomasA commented on #660
**Authorship**: It is probably as it should be, but I noticed that there are two authors, Amelia Ortiz-Gil and Jordi Burguet-Castell. On the other hand, only Jordi appears to have made [contributions](https://github.com/jordibc/mapelia/graphs/contributors) in the code repository.

[2018-04-26 15:16] whedon opened #706 "[PRE REVIEW]: qqman: an R package for visualizing GWAS results using Q-Q and manhattan plots"
**Submitting author:** @stephenturner (<a href="http://orcid.org/0000-0001-9140-9028">Stephen Turner</a>)
**Repository:** <a href="https://github.com/stephenturner/qqman" target ="_blank">https://github.com/stephenturner/qqman</a>
**Version:** v0.1.6
**Editor:** @leeper
**Reviewers:** @tgerke

**Author instructions**

Thanks for submitting your paper to JOSS @stephenturner. The JOSS editor (shown

[2018-04-26 15:16] whedon commented on #706
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-04-26 15:16] whedon commented on #706
[code]

[2018-04-26 15:16] whedon commented on #706
PDF failed to compile for issue #706 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `block in find': No such file or directory (Errno::ENOENT)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon/processor.

[2018-04-26 15:35] ThomasA commented on #660
**Installation instructions**: Just for those interested, the prerequisites can also easily be installed in a new Anaconda environment (here called *mapelia-review*) using:

    conda create -n mapelia-review anaconda=5 pillow numpy

Provided that libgtk is already installed.

[2018-04-26 15:36] sebastiz commented on #701
@whedon generate pdf

[2018-04-26 15:36] whedon commented on #701
[code]

[2018-04-26 15:37] whedon commented on #701
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00701/joss.00701/10.21105.joss.00701.pdf)

[2018-04-26 15:38] drew-williamson commented on #705
@whedon generate pdf

[2018-04-26 15:38] whedon commented on #705
[code]

[2018-04-26 15:39] whedon commented on #705
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00705/joss.00705/10.21105.joss.00705.pdf)

[2018-04-26 15:57] motib commented on #639
I think I did everything OK!
The Zenodo DOI is [https://doi.org/10.5281/zenodo.1230536](https://doi.org/10.5281/zenodo.1230536)

[2018-04-26 16:15] danielskatz commented on #639
@whedon set https://doi.org/10.5281/zenodo.1230536 as repository

[2018-04-26 16:37] arfon commented on #639
@audemard, @biotomas - many thanks for your reviews here and to @danielskatz for editing this submission ✨

@motib - your paper is now accepted into JOSS and your DOI Is https://doi.org/10.21105/joss.00639 :zap: :rocket: :boom:

[2018-04-26 16:37] #639 closed

[2018-04-26 16:37] whedon commented on #639
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00639/status.svg)](https://doi.org/10.21105/joss.00639)

**We need your help!**

Journal of Open Source Software

[2018-04-26 16:43] CBenghi commented on #635
Hello @arfon,
I'll have a chat with the author to see what are the technical requirements.
I don't think I have the tool-set at the moment, but if i can get it, I will happily review.

[2018-04-26 16:43] drew-williamson commented on #705
@whedon generate pdf

[2018-04-26 16:43] whedon commented on #705
[code]

[2018-04-26 16:44] whedon commented on #705
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00705/joss.00705/10.21105.joss.00705.pdf)