[2020-07-01 15:10] oliviaguest commented on #2348
@whedon check references

[2020-07-01 15:11] whedon commented on #2348
[code]

[2020-07-01 15:11] oliviaguest commented on #2348
@whedon accept

[2020-07-01 15:12] ShubhadeepSadhukhan1993 commented on #2185
@cpgr @iljah @jedbrown Thanks for your valuable comments and suggestions. We will come back with our answers to the raised questions and also implement the suggested changes.

[2020-07-01 15:14] oliviaguest commented on #2348
@openjournals/joss-eics please accept this! ✨

[2020-07-01 15:16] xiaotsay2015 commented on #2415
@whedon <https://github.com/whedon> check references

On July 1, 2020 at 7:46:58 AM, whedon (notifications@github.com) wrote:

Reference check summary:

OK DOIs

- None

MISSING DOIs

- https://doi.org/10.1038/118074a0 may be missing for title:
Helmholtz’s treatise on physiological optics

- https://doi.org/10.1523/jneurosci.20-23-08916.2000 may be missing
for title: Learning of visuomotor transfo

[2020-07-01 15:16] whedon commented on #2415
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-07-01 15:17] danielskatz commented on #2419
👋 @kauedesousa - In the .bib file, can you protect the cases (using {}s) in the proceedings title for Kehel et al. so that it is produced in Title Case rather than Sentence case?

[2020-07-01 15:18] danielskatz commented on #2419
set 10.5281/zenodo.3925143 as archive

[2020-07-01 15:18] danielskatz commented on #2419
@whedon set 10.5281/zenodo.3925143 as archive

[2020-07-01 15:18] whedon commented on #2419
OK. <a href="https://doi.org/10.5281/zenodo.3925143" target="_blank">10.5281/zenodo.3925143</a> is the archive.

[2020-07-01 15:19] xiaotsay2015 commented on #2415
Hi Daniel,

I have updated the paper’s bibliographies. They all have a DOI and URL now.
Let me know if there are any next steps.

Thanks again for your time,
JT

On July 1, 2020 at 7:46:03 AM, Daniel S. Katz (notifications@github.com)
wrote:

@whedon <https://github.com/whedon> check references

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<h

[2020-07-01 15:26] danielskatz commented on #2415
@xiaotsay2015  - Can you explain how this is research software?  See https://joss.readthedocs.io/en/latest/submitting.html, specifically

What is the *research* application here?  What kinds of papers would you expect to including citations to this paper as part of their research?

[2020-07-01 15:28] oliviaguest commented on #2348
@whedon accept

[2020-07-01 15:28] whedon commented on #2348
[code]

[2020-07-01 15:28] whedon commented on #2348
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1529

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1529, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-01 15:29] oliviaguest commented on #2348
@ihrke dunno why @whedon ignored me the first time — check final proof please and an EiC will pop by soon and do the deal fully. 🥳

[2020-07-01 15:31] kauedesousa commented on #2419
Hi @danielskatz the title cases were protected and pushed here https://github.com/ropensci/chirps/commit/34747803b8c673be225f30338c10feb3f04bc211

[2020-07-01 15:34] xiaotsay2015 commented on #2415
Daniel,

Thanks for your question. This package  “supports the functioning of
research instruments or the *execution of research experiments*”. In the
past, if you wanted to do a prism adaptation experiment, you would have to
bring a participant in the lab. But because of the global pandemic,
in-person experiments are halted. Here we provide a solution to designing
your prism adaptation experiment

[2020-07-01 15:34] ihrke commented on #2348
this looks nice, all links in the final PDF are functioning 👍

[2020-07-01 15:35] xiaotsay2015 commented on #2415
** Journal of Open Source Software.

Thanks again for your consideration, Daniel.
JT

On July 1, 2020 at 8:34:22 AM, Jonathan Tsay (xiaotsay2015@gmail.com) wrote:

Daniel,

Thanks for your question. This package  “supports the functioning of
research instruments or the *execution of research experiments*”. In the
past, if you wanted to do a prism adaptation experiment, you would have to
bring a pa

[2020-07-01 15:45] xiaotsay2015 commented on #2415
Daniel,

As for “What kinds of papers would you expect to including citations to
this paper as part of their research?”

I see studies who will use our tool to create their experiments online
citing our paper. For example, Gorilla is a website where psychologists can
design their own experiments, using existing templates. People who use
Gorilla to design their own experiments will cite Gorilla as

[2020-07-01 15:53] Luthaf commented on #2117
@danielskatz should be good now, let me know if something is missing

[2020-07-01 15:57] marksgraham commented on #2245
@spectralcode
When I now try to compile OCTproZ I get a CUDA error:
/bin/sh: 1: /usr/local/cuda/bin/nvcc: not found
I had  thought I had the relevant drivers because nvidia-smi works on my system with the following output:
``` NVIDIA-SMI 430.50       Driver Version: 430.50       CUDA Version: 10.1   ```

Does this mean I also need to install the nvidia-cuda-toolkit to get this working on my system

[2020-07-01 16:03] majensen commented on #2168
@balhoff and @wdduncan thanks very much from me personally -
@sap218 : congratulations! Go get a kebab!

[2020-07-01 16:10] danielskatz commented on #2117
It seems like you added a subtitle rather than changing the title?

[2020-07-01 16:11] danielskatz commented on #2419
@whedon generate pdf

[2020-07-01 16:11] whedon commented on #2419
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02419/joss.02419/10.21105.joss.02419.pdf)

[2020-07-01 16:13] danielskatz commented on #2419
@kauedesousa - sorry, a few more than I see - can you fix
- Mozambique in Horn
- JSON and R in Ooms
Please regenerate the pdf after making changes by ```@whedon generate pdf```

[2020-07-01 16:18] Luthaf commented on #2117
Sorry, it is better now?

[2020-07-01 16:19] faroit commented on #2135
Looks good

[2020-07-01 16:30] faroit commented on #2135
@arfon all checked from my side. 👍

[2020-07-01 16:41] arfon commented on #2135
@whedon check references

[2020-07-01 16:41] whedon commented on #2135
[code]

[2020-07-01 16:43] arfon commented on #2135
@ynop - could you take a look at the suggested DOIs above from Whedon? If they're correct, then please add them to your BibTeX file with entries like this: `doi=10.1109/icassp.2015.7178964`

[2020-07-01 16:45] danielskatz commented on #2117
looks good - thanks

[2020-07-01 16:45] majensen commented on #2161
@whedon set v1.0.0 as version

[2020-07-01 16:45] danielskatz commented on #2117
@whedon accept deposit=true

[2020-07-01 16:45] whedon commented on #2161
OK. v1.0.0 is the version.

[2020-07-01 16:45] whedon commented on #2117
[code]

[2020-07-01 16:46] whedon commented on #2117
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1278369448492138505) 👈 🐦🐦🐦

[2020-07-01 16:46] whedon commented on #2117
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1530
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02117](https://doi.org/10.21105/joss.02117)
2. If everything looks g

[2020-07-01 16:46] drwaseemsheikh commented on #2016
I have updated my BibTex file with the missing DOIs.

[2020-07-01 16:48] danielskatz commented on #2117
Thanks to @kblin & @mkhorton for reviewing!
And @cMadan for editing!

Congratulations to @Luthaf (Guillaume Fraux) and co-authors!

[2020-07-01 16:50] danielskatz commented on #2117
@arfon - this doesn't seem to have had the normal final message added with the badge link etc...

[2020-07-01 16:52] danielskatz commented on #2348
@ihrke - can you edit the metadata in the zenodo archive so that the title matches the title of the paper?

[2020-07-01 16:54] danielskatz commented on #2348
Once you do so, this appears ready to publish

[2020-07-01 16:58] whedon opened #2420 "[PRE REVIEW]: filling: Matrix Completion in R"
**Submitting author:** @kyoustat (<a href="http://orcid.org/0000-0002-8584-459X">Kisung You</a>)
**Repository:** <a href="https://github.com/kyoustat/filling" target ="_blank">https://github.com/kyoustat/filling</a>
**Version:** v0.2.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19

[2020-07-01 16:58] whedon commented on #2420
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-01 16:58] whedon commented on #2420
[code]

[2020-07-01 16:58] whedon commented on #2420
[code]

[2020-07-01 16:59] whedon commented on #2420
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02420/joss.02420/10.21105.joss.02420.pdf)

[2020-07-01 17:01] arfon commented on #2016
@whedon check references

[2020-07-01 17:02] whedon commented on #2016
[code]

[2020-07-01 17:03] Luthaf commented on #2117
Thanks everyone involved here, the discussions have been very interesting!

[2020-07-01 17:04] #2117 closed

[2020-07-01 17:05] whedon commented on #2117
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02117/status.svg)](https://doi.org/10.21105/joss.02117)

**We need your help!**

Journal of Open Source Softwa

[2020-07-01 17:05] arfon commented on #2117
Seems like there's some inconsistency with GitHub webhooks being sent out today.

[2020-07-01 17:06] arfon commented on #2016
@whedon generate pdf

[2020-07-01 17:07] whedon commented on #2016
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02016/joss.02016/10.21105.joss.02016.pdf)

[2020-07-01 17:10] kauedesousa commented on #2419
Done

[2020-07-01 17:10] kauedesousa commented on #2419
@whedon generate pdf

[2020-07-01 17:10] whedon commented on #2419
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02419/joss.02419/10.21105.joss.02419.pdf)

[2020-07-01 17:14] arfon commented on #2016
@whedon accept

[2020-07-01 17:14] whedon commented on #2016
[code]

[2020-07-01 17:15] whedon commented on #2016
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1531

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1531, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-01 17:15] whedon commented on #2016
[code]

[2020-07-01 17:19] danielskatz commented on #2419
thanks

[2020-07-01 17:19] danielskatz commented on #2419
@whedon accept

[2020-07-01 17:19] whedon commented on #2419
[code]

[2020-07-01 17:19] arfon commented on #2016
@whedon accept deposit=true

[2020-07-01 17:19] whedon commented on #2016
[code]

[2020-07-01 17:19] whedon commented on #2419
[code]

[2020-07-01 17:20] whedon commented on #2419
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1532

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1532, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-01 17:20] whedon commented on #2016
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1278378032508669953) 👈 🐦🐦🐦

[2020-07-01 17:20] whedon commented on #2016
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1533
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02016](https://doi.org/10.21105/joss.02016)
2. If everything looks g

[2020-07-01 17:20] danielskatz commented on #2419
@whedon accept deposit=true

[2020-07-01 17:20] whedon commented on #2419
[code]

[2020-07-01 17:21] whedon commented on #2419
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1278378265791664131) 👈 🐦🐦🐦

[2020-07-01 17:21] whedon commented on #2419
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1534
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02419](https://doi.org/10.21105/joss.02419)
2. If everything looks g

[2020-07-01 17:25] danielskatz commented on #2419
I don't yet see the paper - once it is there, I will close this issue and we will be done.

[2020-07-01 17:25] arfon commented on #2016
@dvberkel, @martinmodrak - many thanks for your reviews here ✨

@drwaseemsheikh - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-07-01 17:25] #2016 closed

[2020-07-01 17:25] whedon commented on #2016
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02016/status.svg)](https://doi.org/10.21105/joss.02016)

**We need your help!**

Journal of Open Source Softwa

[2020-07-01 17:26] kauedesousa commented on #2419
OK, thank you.

[2020-07-01 17:26] danielskatz commented on #2419
now I see it - everything looks good!

[2020-07-01 17:26] #2419 closed

[2020-07-01 17:26] whedon commented on #2419
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02419/status.svg)](https://doi.org/10.21105/joss.02419)

**We need your help!**

Journal of Open Source Softwa

[2020-07-01 17:48] wdduncan commented on #2168
@majensen Thanks Mark!
Congrats @sap218 !!

[2020-07-01 18:08] sritchie commented on #2403
@lukasheinrich and @arokem , of course - I have a Cloud project I can add you both to, and can send you a service account key that you can install on your machine to submit jobs and push containers. Do you want to send me your email address at sritchie09@gmail.com? I'll go ahead and add you right away.

[2020-07-01 18:12] strengejacke commented on #2417
Thank you, @danielskatz, for opening this pre-review. I'd suggest following reviewers, with no particular order:

@cmaimone
@Ohlsen
@benmarwick
@amoeba
@briatte

[2020-07-01 18:12] strengejacke commented on #2417
@whedon generate pdf

[2020-07-01 18:13] whedon commented on #2417
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02417/joss.02417/10.21105.joss.02417.pdf)

[2020-07-01 18:20] strengejacke commented on #2417
(truncated lines that exceeded page margins)

@whedon generate pdf

[2020-07-01 18:32] strengejacke commented on #2417
@whedon generate pdf

(truncated lines that exceeded page margins)

[2020-07-01 18:32] danielskatz commented on #2417
@strengejacke  - as requested, please do not tag potential reviewers so that they are not forced to join this thread until an editor chooses to ask them.  Also, a command to whedon needs to be the first (or only) think in a new comment

[2020-07-01 18:33] whedon commented on #2417
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02417/joss.02417/10.21105.joss.02417.pdf)

[2020-07-01 18:34] strengejacke commented on #2417
@danielskatz sorry for tagging reviewers, have overlooked this and was used to suggesting reviewers this way in a previous submission.

[2020-07-01 18:34] danielskatz commented on #2417
suggesting is great, but without the @ please

[2020-07-01 18:37] danielskatz commented on #2417
👋 @sbenthall - you were suggested as the editor for this submission - Are you willing to edit it?

[2020-07-01 18:37] danielskatz commented on #2417
@whedon invite @sbenthall as editor

[2020-07-01 18:37] whedon commented on #2417
@sbenthall has been invited to edit this submission.

[2020-07-01 18:57] gorlapraveen commented on #2266
Hi @edwardoughton, the functionality and the use of algorithms is technically quite satisfying. However,  I would also suggest you to document where User inputs can be given. Such as where to change the operating frequencies for different modes.  This would be my final comment and we can proceed for publication.

[2020-07-01 19:29] spectralcode commented on #2245
@marksgraham yes, exactly.

[2020-07-01 19:32] elDan101 commented on #2283
Yes, this is expected - some tests require an update, some can also be removed.

---

The `ModuleNotFound` error is odd, I have not observed this myself yet. My best guesses are

* Is the venv also activated when you call `jupyter notebook`?
* Maybe Jupyter loads a different python version that is installed on your system by default? In a notebook in the header "Kernel -> Change kernel" -- Maybe t

[2020-07-01 19:46] grlee77 commented on #2343
Hey all, sorry about the delay. I will review this over the next day or so.

[2020-07-01 19:49] grlee77 commented on #2343
@Kevin-Mattheus-Moerman, can you please resend the invitation.

When I click the link to accept it in the first comment it says it is expired (so I am unable to edit the checklist).

[2020-07-01 20:00] danielskatz commented on #2343
@whedon re-invite @grlee77 as reviewer

[2020-07-01 20:00] whedon commented on #2343
OK, the reviewer has been re-invited.

@grlee77 please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-07-01 20:01] GISerDaiShaoqing commented on #2298
I'm delighted to receive the invitation to review. But I'm a little busy this month, I'm sorry that I may not have more time to review.

------------------
Shaoqing Dai
Ph.D. Candidate
Faculty of Geo-information Science and Earth Observation(ITC), University of Twente, the Netherlands
Hengelosestraat 99, 7500AE  Enschede，the Netherlands
Tel：18850440994
E-mail ：dsq1993qingge@163.com, daishaoqing16@

[2020-07-01 20:22] will-rowe commented on #2376
Hey @linuxscout and @mbod - just checking in and seeing how the reviews are going. Let me know if you need anything!

[2020-07-01 20:32] ynop commented on #2135
@whedon generate pdf
@whedon check references

[2020-07-01 20:32] whedon commented on #2135
PDF failed to compile for issue #2135 with the following error:

 Error reading bibliography ./paper.bib (line 29, column 11):
unexpected "."
expecting letter, digit, white space, "#", "," or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2020-07-01 20:34] ynop commented on #2135
@whedon generate pdf
@whedon check references

[2020-07-01 20:35] whedon commented on #2135
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02135/joss.02135/10.21105.joss.02135.pdf)

[2020-07-01 20:36] ynop commented on #2135
@whedon check references

[2020-07-01 20:37] whedon commented on #2135
[code]

[2020-07-01 20:38] ynop commented on #2135
@arfon I added a missing one, the other one is a wrong.

[2020-07-01 20:42] danielskatz commented on #2135
as you've probably learned, whedon only see one command at a time, and only if it's the first thing in a comment

[2020-07-01 20:52] mtezzele commented on #2283
Thanks @elDan101 tomorrow I will try what you suggest and let you know!

[2020-07-01 20:57] kthyng commented on #2416
@whedon generate pdf

[2020-07-01 20:58] whedon commented on #2416
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02416/joss.02416/10.21105.joss.02416.pdf)

[2020-07-01 21:03] aj2duncan commented on #2282
@jcolomb quick query - In the shiny app and article you make reference to the 18 Berlin categories. Should this have a reference?

[2020-07-01 21:20] pratikvn commented on #2313
I too found no major obstacles for publishing this paper. Some final comments:

1. The documentation is thorough and easy to understand. You already have one example, the Infiltration in Homogeneous Medium within the cookbook section of your documentation. It might also be nice to have a separate section with a few more examples with code and explanations. If you have some papers that you have pub

[2020-07-02 01:58] usethedata commented on #2364
@whedon assign @usethedata as editor

[2020-07-02 01:58] whedon commented on #2364
OK, the editor is @usethedata

[2020-07-02 02:06] dpsanders commented on #2355
:wave: Hi @mcavs, @chlalanne and @drvinceknight! Would any of you be available and willing to review this submission to JOSS? Thanks!

[2020-07-02 02:48] grlee77 commented on #2343
Re: **Contributions and authorship** item

Can the authors clarify briefly how authorship criteria were decided? I see that most authors overlap with the repository's significant source code contributors, but I understand contributions can also come in other forms. Two authors I don't see an obvious alias for in the commit history are Drs. Pike and Stikov. Also, there appear to be a few significan

[2020-07-02 05:56] AhmedArslan commented on #2413
Sorry for confusion, I have completed ''paper.md" file.

[2020-07-02 07:04] ekaterinailin commented on #2347
Thank you for making the effort of sharing your software in a usable way, @afeinstein It's very much appreciated! Installation was easy, and the quickstart tutorial is neat and worked smoothly. :100:

I will be very favorable of acceptance if my major concerns are addressed:

Sorted by importance:

- Major concerns:

  - The test suite needs come actual tests, both unit and integration tests.
  -

[2020-07-02 07:05] jcolomb commented on #2282
no, this is a "in-house" categorisation that was (so far) not published.

[2020-07-02 07:05] ihrke commented on #2348
Thanks @danielskatz, I fixed it.

[2020-07-02 08:01] aj2duncan commented on #2282
Thanks for the clarification.

[2020-07-02 08:05] csoneson commented on #2406
👋 @neuromusic - thanks for your submission! I'm currently contacting a couple of suitable reviewers, and once we have them, I'll get the review process started.

[2020-07-02 08:17] csoneson commented on #2353
👋 Hi all - just a quick check to see how the reviews are coming along. I see that there are some issues opened and being worked on in the source repository - that's great! Just a reminder to also update the checklists in the first post in this issue - that helps us keep track of things. It can also be helpful to link to this issue in the issues that you open in the target repository, in that way t

[2020-07-02 08:34] kegiljarhus commented on #2311
Thank you for the update @sjpfenninger . After the feedback from @Kevin-Mattheus-Moerman, I have updated the paper with some more references to use of BEMT, and also provided some examples of the use of the package. I hope this is satisfactory.

[2020-07-02 08:39] mtezzele commented on #2283
Ok, the env was active, but for some reasons it used the jupyter installed in my system and not the virtual env one. I solved with a simple: `.venv/bin/jupyter-notebook tutorials/docs/01_basic_datastructures.ipynb`
Thank you for the help. I will finish the review by today.

[2020-07-02 08:52] nuest commented on #2409
Thanks for the chance to contribute to JOSS!

I'll likely give this a go middle of next week.

[2020-07-02 08:59] sjpfenninger commented on #2311
Thanks @kegiljarhus ! What I'm still missing is a clearer differentiation between pyBEMT and other packages. I think this may just need some rewording. The paper implies that pyBEMT is the only software with a clean standalone implementation of BEMT, and possibly also the only Python package? I.e. -- why would somebody use pyBEMT rather than any of the numerous other packages? If you have more spe

[2020-07-02 09:32] mtezzele commented on #2283
@elDan101 @dfm
The package is well written and documented. Several tutorials present thoroughly the features of the library. The online documentation is well organized and easy to follow. Datafold has a specific target audience in mind and fulfill the expectations, also looking at all the developments in progress.

Therefore I suggest the acceptance of datafold to JOSS.

Only few minor issues shou

[2020-07-02 10:31] edwardoughton commented on #2266
@gorlapraveen I've now adapted the example running scripts and the documentation to reflect the main user defined parameters. This includes having a dict which contains the main parameters which the user can concisely state before calling the ``itmfunction``. Hopefully this makes things clearer.

I also separated out the example scripts which use either 1 DEM tile or 2 DEM tiles, to overcome the i

[2020-07-02 10:32] marksgraham commented on #2245
I have nvcc installed at `/usr/bin/nvcc` but QTcreator is still looking for it in `/usr/local/cuda/bin/nvcc`. It isn't  clear to me how I can configure the build to point it to the right place - any ideas?

[2020-07-02 11:09] sap218 commented on #2168
@majensen @danielskatz @balhoff @wdduncan thank you all! I appreciate the help!

[2020-07-02 11:13] arfon commented on #2347
No, you've done it correctly. As the author addresses your feedback, we'd ask you to update the checklist.

[2020-07-02 11:27] whedon commented on #2406
OK, @giovp is now a reviewer

[2020-07-02 11:52] arfon commented on #2245
@datenwolf - could you say a little more about your financial interests in Optores here? It's not clear what _Optores_ is, and how it's related to this software.

[2020-07-02 12:01] crawfordsm commented on #2287
@mmartin-lagarde Do you have the AAS number for the manuscript?

[2020-07-02 12:02] crawfordsm commented on #2382
@KathrynJones1 do you have the AAS manuscript number?

[2020-07-02 12:11] mmartin-lagarde commented on #2287
@crawfordsm Sure :
• AJ AAS23898 is the original submission
• It was resubmitted earlier this week with : AAS23898R1

[2020-07-02 12:15] danielskatz commented on #2413
@whedon generate pdf

note to @AhmedArslan - you can do this too if you make changes and want to rebuild

[2020-07-02 12:16] whedon commented on #2413
PDF failed to compile for issue #2413 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-446a0298a33b/lib/whedon.rb:145:in `check_fields': Paper YAML header is missing expected fields: affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-446a0298a33b/lib/whedon.rb:87:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-44

[2020-07-02 12:17] danielskatz commented on #2348
@whedon accept deposit=true

[2020-07-02 12:17] whedon commented on #2348
[code]

[2020-07-02 12:19] whedon commented on #2348
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1278664499503955968) 👈 🐦🐦🐦

[2020-07-02 12:19] whedon commented on #2348
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1535
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02348](https://doi.org/10.21105/joss.02348)
2. If everything looks g

[2020-07-02 12:22] spectralcode commented on #2245
@marksgraham I am not sure, but it could be that you need to do the "post-installation actions" which are listed in the [official cuda installation guide for Linux](https://docs.nvidia.com/cuda/cuda-installation-guide-linux).

I am going to set up Ubuntu 18.04 and the Qt + Cuda development environment to see if I run in to the same issue.

[2020-07-02 12:25] danielskatz commented on #2348
Thanks to @samhforbes, @szorowi1, @tjmahr for reviewing!
And @oliviaguest for editing!

Congratulations to @ihrke (Matthias Mittner)!!

[2020-07-02 12:26] #2348 closed

[2020-07-02 12:26] whedon commented on #2348
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02348/status.svg)](https://doi.org/10.21105/joss.02348)

**We need your help!**

Journal of Open Source Softwa

[2020-07-02 12:27] arfon commented on #2393
👋 @astronomyk, thanks for your submission to JOSS. I have a few questions about your submission before we can go out for review:

- This software looks to have been written for a very specific purpose (simulations for the MICADO instrument on the ELT). It looks like there's capability for including a custom atmosphere model, but it's not clear how to use the software in that way?
- Is this softwar

[2020-07-02 12:55] jonathanblaney commented on #2220
@lorenanicole I don't think I'm the right person but am looking into other candidates, if that's OK with you?

[2020-07-02 12:55] rram84 commented on #2372
@jonwong12
Hi Jonathan, Thank you for the reference to isosurface meshing. I am going over it. If required, I will include a short discussion/citation in the manuscript.

[2020-07-02 13:15] pdebuyl commented on #2307
@whedon add @mdavezac @luthaf as reviewers

[2020-07-02 13:15] whedon commented on #2307
OK, @mdavezac @luthaf is now a reviewer

[2020-07-02 13:17] pdebuyl commented on #2307
Thank you @Luthaf for accpeting the invitation.

The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html. Any questions/concerns please let me know.

[2020-07-02 13:23] danielskatz commented on #2307
note that command did not do what you intended
you now have 2 reviewers
1 - @mdavezac
2 - @mdavezac @Luthaf
whedon only can handle one at a time.  You should remove "@mdavezac @Luthaf" and then add "@Luthaf"

[2020-07-02 13:23] KathrynJones1 commented on #2382
Hi @crawfordsm , apologies, we don't have the manuscript number as we haven't submitted yet

[2020-07-02 13:27] pdebuyl commented on #2307
Thank you @danielskatz

[2020-07-02 13:27] pdebuyl commented on #2307
@whedon remove @mdavezac @Luthaf as reviewers

[2020-07-02 13:27] whedon commented on #2307
OK, @mdavezac @Luthaf is no longer a reviewer

[2020-07-02 13:27] pdebuyl commented on #2307
@whedon add @Luthaf as reviewer

[2020-07-02 13:27] whedon commented on #2307
OK, @Luthaf is now a reviewer

[2020-07-02 13:28] danielskatz commented on #2307
@whedon re-invite @Luthaf as reviewer

(this may also be needed - not sure, but it won't hurt to try)

[2020-07-02 13:29] whedon commented on #2307
The reviewer already has a pending invite.

@luthaf please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-07-02 13:38] elDan101 commented on #2283
Thank you for the positive feedback @mtezzele and your suggestions for improvement. I opened an issue [here](https://gitlab.com/datafold-dev/datafold/-/issues/102) to address these when moving forward.

The badges (CI pipeline and test coverage) should now also show up for non project members -- sorry, that was a wrong configuration in the settings that I was unaware of.

[2020-07-02 13:39] Luthaf commented on #2307
I accepted the invite, but I can't check the boxes in the initial message. Any idea on what might be wrong?

[2020-07-02 13:58] khinsen commented on #2284
@vsoch Thanks, that looks good! I like the many links to further details on the Web site.

[2020-07-02 14:06] pdebuyl commented on #2307
On Thu, Jul 02, 2020 at 06:39:35AM -0700, Guillaume Fraux wrote:

I added you in the assigned persons for the issue page, can you try again?

[2020-07-02 14:14] Luthaf commented on #2307
I reloaded the page in the mean time, and it worked (hence I deleted the comment visible in @pdebuyl email answer). Everything is fine now!

[2020-07-02 14:15] khinsen commented on #2284
@usethedata I am done with my checklist! Everything looks fine!

[2020-07-02 14:16] pdebuyl commented on #2307
Good to know, thank you.

[2020-07-02 14:19] steflhermitte commented on #2305
@whedon commands

[2020-07-02 14:19] whedon commented on #2305
Here are some things you can ask me to do:

[code]

[2020-07-02 14:20] KristinaRiemer commented on #2258
I'm still looking for one more reviewer for this submission. @richelbilderbeek @TGuillerme @sk-sahu @a-r-j @jspaezp would any of you be available and willing to review this for JOSS?

[2020-07-02 14:23] steflhermitte commented on #2305
@hugoledoux Practical question: how do I tick the review checklist? I see the checkboxes, but can't check them.

[2020-07-02 14:27] a-r-j commented on #2258
I can review this.

[2020-07-02 14:34] giswqs commented on #2305
@steflhermitte Thank you very much for taking to time to test the package. The ipyleaflet dependency sometime can be a bit tricky to install, as it might conflict with some of you existing packages. The best way to install geemap is to create a fresh conda environment, if you have Anaconda or Miniconda installed on your computer. I also have a [YouTube video](https://youtu.be/h0pz3S6Tvx0) showing

[2020-07-02 14:37] giswqs commented on #2305
You might have received an invitation email earlier on. You will need to click the link in that email to accept the invitation. After that, you should be able to tick the review checklist.

[2020-07-02 14:40] TGuillerme commented on #2258
@KristinaRiemer Sorry I can't review it this time, I am already over committed for other community services.

[2020-07-02 14:42] dfm commented on #2283
Thanks @mtezzele!

@elDan101: Can you update this thread when you've made it through your checklist? Thanks!

[2020-07-02 14:43] sk-sahu commented on #2258
Good to know @a-r-j already agreed. But If more hands required please let me know.

[2020-07-02 14:51] whedon commented on #1942
:wave: @Chilipp, please update us on how your review is going.

[2020-07-02 14:52] steflhermitte commented on #2305
@giswqs Thanks for the clarifications! I agree that your manual is very clear. I was just testing it in my own environment and that seems to work (after solving the conflicting dependencies).

The invitation seems not to work any longer `Sorry, we couldn't find that repository invitation It is possible that the invitation was revoked or that you are not logged into the invited account.` I am logge

[2020-07-02 14:54] danielskatz commented on #2305
@whedon re-invite @steflhermitte as reviewer

[2020-07-02 14:54] whedon commented on #2305
OK, the reviewer has been re-invited.

@steflhermitte please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-07-02 14:56] xiaotsay2015 commented on #2415
@whedon check references

[2020-07-02 14:56] whedon commented on #2415
[code]

[2020-07-02 14:59] xiaotsay2015 commented on #2415
@whedon check references

[2020-07-02 14:59] xiaotsay2015 commented on #2415
@whedon generate pdf

[2020-07-02 14:59] whedon commented on #2415
[code]

[2020-07-02 15:00] whedon commented on #2415
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02415/joss.02415/10.21105.joss.02415.pdf)

[2020-07-02 15:09] andrefaure commented on #2353
Ok I have added the JOSS review issues 6-9 linked above in the target repository. In summary, dms-view is a useful and thoughtfully designed piece of software. The documentation, including case studies and tutorials, is helpful and detailed. I have completed the review checklist and the only point currently unchecked is "State of the field", although as mentioned in JOSS review issue #7 I consider

[2020-07-02 15:13] steflhermitte commented on #2305
Dear @giswqs and @hugoledoux,

I have been reviewing the software and accompanying paper and want to congratulate @giswqs on the nice piece of software. Geemap contains very useful tools for the designed audience that want to use Google Earth Engine in a Jupyter Notebook environment. The tools are simple, perform good and are well documented by example notebooks and accompanying Youtube videos.

B

[2020-07-02 15:18] whedon opened #2421 "[PRE REVIEW]: GeoBO: Python package for Multi-Objective Bayesian Optimisation and Joint Inversion in Geosciences"
**Submitting author:** @sebhaan (<a href="http://orcid.org/0000-0002-5994-5637">Sebastian Haan</a>)
**Repository:** <a href="https://github.com/sebhaan/geobo" target ="_blank">https://github.com/sebhaan/geobo</a>
**Version:** v1.0.0
**Editor:** @hugoledoux
**Reviewers:** @npetra
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-

[2020-07-02 15:18] whedon commented on #2421
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-02 15:18] whedon commented on #2421
[code]

[2020-07-02 15:18] whedon commented on #2421
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02421/joss.02421/10.21105.joss.02421.pdf)

[2020-07-02 15:18] whedon opened #2422 "[PRE REVIEW]: WikiRevParser: a Python Library for Parsing Wikipedia Revision Histories"
**Submitting author:** @ajoer (<a href="http://orcid.org/0000-0002-2568-4360">Anna Jørgensen</a>)
**Repository:** <a href="WikiRevParser" target ="_blank">WikiRevParser</a>
**Version:** 0.0.8
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a

[2020-07-02 15:18] whedon commented on #2422
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-02 15:19] whedon commented on #2422
PDF failed to compile for issue #2422 with the following error:

 Can't find any papers to compile :-(

[2020-07-02 15:19] whedon opened #2423 "[PRE REVIEW]: PyMatting: A Python Library for Alpha Matting"
**Submitting author:** @99991 (<a href="http://orcid.org/0000-0003-1355-7724">Thomas Germer</a>)
**Repository:** <a href="https://github.com/pymatting/pymatting" target ="_blank">https://github.com/pymatting/pymatting</a>
**Version:** v1.0.6
**Editor:** @gkthiruvathukal
**Reviewers:** @ziatdinovmax, @macrocosme
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Du

[2020-07-02 15:19] whedon commented on #2423
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-02 15:19] whedon commented on #2423
[code]

[2020-07-02 15:19] whedon commented on #2423
PDF failed to compile for issue #2423 with the following error:

 Can't find any papers to compile :-(

[2020-07-02 15:21] csoneson commented on #2353
Thanks @andrefaure! I would suggest to leave it unchecked for now - I agree that it would be good to have a short statement on this in the paper.

[2020-07-02 15:25] danielskatz commented on #2421
@whedon check repository

[2020-07-02 15:25] whedon commented on #2421
[code]

[2020-07-02 15:27] giswqs commented on #2305
@steflhermitte Thank you very much for your support! Appreciated.

[2020-07-02 15:29] danielskatz commented on #2422
@ajoer - I'm going to reject this, as you didn't put in a repository, just WikiRevParser - this needs to be a complete path to a repository...  Please feel free to submit a new version with the link to a repository

[2020-07-02 15:29] danielskatz commented on #2422
@whedon reject

[2020-07-02 15:29] whedon commented on #2422
Paper rejected.

[2020-07-02 15:29] #2422 closed

[2020-07-02 15:30] danielskatz commented on #2423
@whedon generate pdf from branch joss-submission

[2020-07-02 15:30] whedon commented on #2423
[code]

[2020-07-02 15:30] whedon commented on #2423
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02423/joss.02423/10.21105.joss.02423.pdf)

[2020-07-02 15:30] danielskatz commented on #2423
@whedon check references from branch joss-submission

[2020-07-02 15:30] whedon commented on #2423
[code]

[2020-07-02 15:31] whedon commented on #2423
[code]

[2020-07-02 15:33] danielskatz commented on #2423
@99991 - please take a look at the references above - if correct, please add them to your .bib file then use the same commands to whedon that I did to regenerate the paper and check the references

[2020-07-02 15:35] danielskatz commented on #2423
👋 @gkthiruvathukal - would you be willing to edit this submission?

[2020-07-02 15:35] phckopper commented on #2259
My review is now done. Nice project!

[2020-07-02 15:35] danielskatz commented on #2423
@whedon invite @gkthiruvathukal as editor

[2020-07-02 15:35] whedon commented on #2423
@gkthiruvathukal has been invited to edit this submission.

[2020-07-02 15:40] Kevin-Mattheus-Moerman commented on #2323
@mitkof6 would you be able to help with this review?

[2020-07-02 15:48] mitkof6 commented on #2323
Hi @Kevin-Mattheus-Moerman I can review this. When is the deadline?

[2020-07-02 15:53] dfm commented on #2397
@whedon assign @dmentipl as reviewer

[2020-07-02 15:53] whedon commented on #2397
OK, @dmentipl is now a reviewer

[2020-07-02 15:53] dfm commented on #2397
@dmentipl has agreed to be one of the reviewers - thanks Daniel!

Once we have a second reviewer, I'll get the main review started.

[2020-07-02 16:04] grlee77 commented on #2343
Re: **installation instructions** item:

Your [documentation for this](https://qmrlab.readthedocs.io/en/master/install.html) is good, but it would be nice if you also listed which commercial Matlab toolboxes are required. I saw that for Octave, specific toolboxes were listed.

FWIW, I ran a few of the demos and then typed `license('inuse')` and saw
[code]
but I did not run everything, so there may

[2020-07-02 16:35] kegiljarhus commented on #2311
Thank you for the elaboration, I see what you mean. The key aspect is the combination of both propellers and turbines in one package, which is nice especially for educational purposes. With respect to propellers, it is also the only package I am aware of with a model for coaxial rotors. I will reword the paper to emphasize these points.

I am currently writing other papers where the package is use

[2020-07-02 16:42] RainierBarrett commented on #2367
@richardjgowers I'm in the midst of wrapping up my PhD thesis right now, sorry for the delayed reply. This pre-print is not submitted or under review anywhere presently, and this JOSS submission is the only manuscript we have describing the HOOMD-TF package. We had previously submitted the content in that pre-print to a comp chem journal, but as you may have guessed they didn't like a software-onl

[2020-07-02 16:56] grlee77 commented on #2343
Please double-check the formatting of the references. For example the first reference (SPM) seems to be incomplete and the Weiskopf et. al. reference has a stray "Citeseer" listed.

[2020-07-02 17:04] grlee77 commented on #2343
Re: **citations**:

The authors cite several relevant packages, but one area that does not seem to be represented is for Diffusion MRI. qMRLab does provide DTI, CHARMED and NODDI functionality, so it seems relevant to cite some packages in this area as well. Some common tools for that are free, but not open source, but a few open source ones I am aware of are:

[DIPY](https://dipy.org) and [DMIPY]

[2020-07-02 17:19] grlee77 commented on #2343
Regarding the included figure, it is pretty, but I wonder if there is any issue on JOSS's end to publish a figure including logos of other packages like Matlab, Docker, Plotly, etc. When we submitted the SciPy paper (albeit not for JOSS), there were originally various logos in a historical timeline figure, but the editorial team required the removal of any copyrighted logos prior to publication.

[2020-07-02 17:32] GISKid commented on #2298
I do not have time this month for a review, but this package looks really
interesting!

On Wed, Jul 1, 2020 at 4:02 PM DaiShaoqing <notifications@github.com> wrote:

--
Lauren Yee
http://thespatiallab.org/
MSc. Geography
University of Waterloo and Wilfrid Laurier University
Waterloo, ON

[2020-07-02 17:36] vsoch commented on #2284
@whedon generate pdf

[2020-07-02 17:37] whedon commented on #2284
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02284/joss.02284/10.21105.joss.02284.pdf)

[2020-07-02 18:10] gkthiruvathukal commented on #2423
@danielskatz Yes, I'm willing to edit it!

[2020-07-02 18:12] danielskatz commented on #2423
@whedon assign @gkthiruvathukal as editor

[2020-07-02 18:13] whedon commented on #2423
OK, the editor is @gkthiruvathukal

[2020-07-02 18:19] KristinaRiemer commented on #2258
Great, thanks so much @a-r-j! And thank you for offering up help @sk-sahu, I'll definitely let you know if we need it.

[2020-07-02 18:20] KristinaRiemer commented on #2258
@whedon add @a-r-j as reviewer

[2020-07-02 18:20] whedon commented on #2258
OK, @a-r-j is now a reviewer

[2020-07-02 18:21] KristinaRiemer commented on #2258
@whedon start review

[2020-07-02 18:21] whedon opened #2424 "[REVIEW]: CRBHits: Conditional Reciprocal Best Hits in R"
**Submitting author:** @kullrich (<a href="http://orcid.org/0000-0003-4308-9626">Kristian Ullrich</a>)
**Repository:** <a href="https://gitlab.gwdg.de/mpievolbio-it/crbhits" target ="_blank">https://gitlab.gwdg.de/mpievolbio-it/crbhits</a>
**Version:** 0.0.2
**Editor:** @KristinaRiemer
**Reviewer:** @clauswilke, @a-r-j
**Archive:** <a href="https://doi.org/10.5281/zenodo.4247942" target="_blank">1

[2020-07-02 18:21] whedon commented on #2258
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2424.

[2020-07-02 18:21] #2258 closed

[2020-07-02 18:21] whedon commented on #2424
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @clauswilke, @a-r-j it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2020-07-02 18:22] whedon commented on #2424
[code]

[2020-07-02 18:22] whedon commented on #2424
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02424/joss.02424/10.21105.joss.02424.pdf)

[2020-07-02 18:24] KristinaRiemer commented on #2258
Okay @clauswilke @a-r-j, the review will happen in issue #2424. Let me know over there if you have any questions!

[2020-07-02 18:32] kevin218 commented on #2287
Here is my feedback on ExoNoodle:
[Comments.txt](https://github.com/openjournals/joss-reviews/files/4866027/Comments.txt)

I'm happy to iterate on this.  Let me know if you have any questions.

[2020-07-02 18:46] csoneson commented on #1992
👋 @Sulstice - in order to move this review process forward, I have decided to invite a fourth reviewer, who has agreed to take a first look shortly (thanks @richardjgowers!)

[2020-07-02 18:47] csoneson commented on #1992
@whedon add @richardjgowers as reviewer

[2020-07-02 18:47] whedon commented on #1992
OK, @richardjgowers is now a reviewer

[2020-07-02 18:48] csoneson commented on #1992
@whedon remove @floux as reviewer

[2020-07-02 18:48] whedon commented on #1992
OK, @floux is no longer a reviewer

[2020-07-02 19:23] kthyng commented on #2391
@whedon assign @dhruvbalwada as reviewer

[2020-07-02 19:23] whedon commented on #2391
OK, @dhruvbalwada is now a reviewer

[2020-07-02 19:25] kthyng commented on #2391
@DamienIrving are you interested in reviewing this submission for JOSS? We are asking for reviews in about 6 weeks.

[2020-07-02 19:44] sebdalgarno commented on #2319
hi @Kevin-Mattheus-Moerman is there a chance of reconsideration or appeal for this paper?

[2020-07-02 19:47] neuromusic commented on #2406
wonderful! thanks @csoneson !!

[2020-07-02 20:22] arfon commented on #2111
Just a quick note that I emailed @paulgovan just now to see when they might be able to complete their review.

[2020-07-02 20:38] jdbrunner commented on #2342
The package certainly fills a big need. For modeling interacting microbes, efficient dfba is a must, and I'm not aware of any current tools that do the job well. This package runs fast and is easy to use, with the only real drawback to simulating single models being the necessity of using docker. I am particularly impressed by how easy it is to control exchange flux lower bounds as functions of av

[2020-07-02 20:41] Chilipp commented on #1942
Hi @benjaminbolling,

my apologies for the delay and thank you very much @benjaminbolling for your ongoing work on this!

I have the feeling that most of my points [from my comment above](https://github.com/openjournals/joss-reviews/issues/1942#issuecomment-577582216) have not been addressed (or at least I could not find them). As it takes me quite a while to go through everything, please address

[2020-07-02 20:57] davidtourigny commented on #2342
Dear @synchon @pstjohn and @jdbrunner

We (@Midnighter , @carrascomj and I) thank you very much for your positive reviews and great suggestions! We hope we have sufficiently addressed the issues you have raised on the repository.

Regarding @jdbrunner 's two last points: 1) distributing python wheels cross-platform for this project is work in progress (see issues [10](https://gitlab.com/davidtouri

[2020-07-02 21:13] vsoch commented on #2284
New changes from @cbrueffer !

@whedon generate pdf

[2020-07-02 21:18] arfon commented on #1906
:wave: @vijaysm - do you find @klho's response above satisfactory? If so, I believe we can move forward with accepting this paper.

[2020-07-02 22:14] DamienIrving commented on #2391
@kthyng Sure thing. I'd be happy to review 😄

[2020-07-02 22:28] kthyng commented on #2391
@DamienIrving awesome! I’ll add you as a reviewer now and then start up the review issue.

[2020-07-02 22:28] kthyng commented on #2391
@Whedon add @DamienIrving as reviewer

[2020-07-02 22:28] whedon commented on #2391
OK, @DamienIrving is now a reviewer

[2020-07-02 22:31] kthyng commented on #2391
@Whedon start review

[2020-07-02 22:31] whedon opened #2425 "[REVIEW]: argopy: A Python library for Argo ocean data analysis"
**Submitting author:** @gmaze (<a href="http://orcid.org/0000-0001-7231-2095">Guillaume Maze</a>)
**Repository:** <a href="https://github.com/euroargodev/argopy" target ="_blank">https://github.com/euroargodev/argopy</a>
**Version:** v0.1.6
**Editor:** @kthyng
**Reviewer:** @dhruvbalwada, @DamienIrving
**Archive:** <a href="https://doi.org/10.5281/zenodo.4010160" target="_blank">10.5281/zenodo.401

[2020-07-02 22:31] whedon commented on #2391
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2425.

[2020-07-02 22:31] #2391 closed

[2020-07-02 22:31] whedon commented on #2425
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dhruvbalwada, @DamienIrving it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](

[2020-07-02 22:31] whedon commented on #2425
PDF failed to compile for issue #2425 with the following error:

 Can't find any papers to compile :-(

[2020-07-02 22:34] kthyng commented on #2391
@dhruvbalwada and @DamienIrving head over time the new issue for the review. Thanks!

[2020-07-02 22:35] kthyng commented on #2425
@Whedon generate pdf

[2020-07-02 22:35] whedon commented on #2425
PDF failed to compile for issue #2425 with the following error:

 Can't find any papers to compile :-(

[2020-07-02 22:51] Chilipp commented on #2316
Dear @lorenanicole and @blsqr, I strongly apologize for the long delay. I am done with my review now and `dantro` is obviously in a very nice condition, great job! I opened a couple of small issues in the Gitlab repository and it would be nice if we could address them to help new users getting started with `dantro`. In summary:

### General checks

The repo contains two license files, and I think

[2020-07-02 23:11] whedon opened #2426 "[PRE REVIEW]: OmniCV - A library for Omnidirectional Cameras"
**Submitting author:** @kaustubh-sadekar (<a href="http://orcid.org/0000-0001-8895-5319">kaustubh sadekar</a>)
**Repository:** <a href="https://github.com/kaustubh-sadekar/OmniCV-Lib" target ="_blank">https://github.com/kaustubh-sadekar/OmniCV-Lib</a>
**Version:** v1.0
**Editor:** @mjsottile
**Reviewers:** @nnadeau, @ionlights
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode

[2020-07-02 23:11] whedon commented on #2426
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-02 23:11] whedon opened #2427 "[PRE REVIEW]: WikiRevParser: a Python Library for Parsing Wikipedia Revision Histories"
**Submitting author:** @ajoer (<a href="http://orcid.org/0000-0002-2568-4360">Anna Jørgensen</a>)
**Repository:** <a href="https://github.com/ajoer/WikiRevParser" target ="_blank">https://github.com/ajoer/WikiRevParser</a>
**Version:** 0.0.8
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the CO

[2020-07-02 23:12] whedon commented on #2427
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-02 23:12] whedon commented on #2426
[code]

[2020-07-02 23:12] whedon opened #2428 "[PRE REVIEW]: Multitaper.jl: A Julia package for frequency domain analysis of time series"
**Submitting author:** @lootie (<a href="http://orcid.org/0000-0003-3996-773X">Charlotte Haley</a>)
**Repository:** <a href="https://bitbucket.org/clhaley/Multitaper.jl" target ="_blank">https://bitbucket.org/clhaley/Multitaper.jl</a>
**Version:** v1.0.0
**Editor:** @VivianePons
**Reviewers:** @daviddewhurst, @felixcremer
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :war

[2020-07-02 23:12] whedon commented on #2428
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-02 23:12] whedon commented on #2427
[code]

[2020-07-02 23:12] whedon commented on #2426
[code]

[2020-07-02 23:12] whedon commented on #2426
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02426/joss.02426/10.21105.joss.02426.pdf)

[2020-07-02 23:12] whedon opened #2429 "[PRE REVIEW]: ELECTRIC: Electric fields Leveraged from multipoleExpansion Calculations in Tinker Rapid Interface Code"
**Submitting author:** @valeriewelborn (<a href="http://orcid.org/0000-0003-0834-4441">Valerie Vaissier</a>)
**Repository:** <a href="https://github.com/WelbornGroup/ELECTRIC" target ="_blank">https://github.com/WelbornGroup/ELECTRIC</a>
**Version:** v1.0.0
**Editor:** @richardjgowers
**Reviewers:** @amandadumi, @govarguz
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :war

[2020-07-02 23:12] whedon commented on #2429
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-02 23:12] whedon commented on #2428
[code]

[2020-07-02 23:12] whedon commented on #2427
[code]

[2020-07-02 23:12] whedon commented on #2427
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02427/joss.02427/10.21105.joss.02427.pdf)

[2020-07-02 23:12] whedon commented on #2428
[code]

[2020-07-02 23:13] whedon commented on #2429
[code]

[2020-07-02 23:13] whedon commented on #2428
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02428/joss.02428/10.21105.joss.02428.pdf)

[2020-07-02 23:13] whedon commented on #2429
[code]

[2020-07-02 23:13] whedon commented on #2429
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02429/joss.02429/10.21105.joss.02429.pdf)

[2020-07-02 23:15] dhruvbalwada commented on #2425
@kthyng @whedon - how do I stop from getting my email inbox bombarded by JOSS? I am getting an email for what seems to be like a review of every single paper on JOSS.

![Screen Shot 2020-07-02 at 4 14 39 PM](https://user-images.githubusercontent.com/18236610/86416565-27092280-bc7f-11ea-882e-dcf214674583.png)

[2020-07-02 23:22] danielskatz commented on #2425
sorry about that - see the instructions in this thread above, specifically: https://github.com/openjournals/joss-reviews/issues/2425#issuecomment-653246380

[2020-07-02 23:28] danielskatz commented on #2426
👋 @mjsottile - would you be willing to edit this submission?

[2020-07-02 23:28] danielskatz commented on #2426
@whedon invite @mjsottile as editor

[2020-07-02 23:28] whedon commented on #2426
@mjsottile has been invited to edit this submission.

[2020-07-02 23:33] danielskatz commented on #2428
👋 @VivianePons - would be willing to edit this submission?

[2020-07-02 23:33] danielskatz commented on #2428
@whedon invite @VivianePons as editor

[2020-07-02 23:33] whedon commented on #2428
@VivianePons has been invited to edit this submission.

[2020-07-02 23:41] jedbrown commented on #2421
:wave: @sebhaan Could you explain a bit more about related software. Perhaps https://hippylib.github.io/, for example? This would be a good thing to add to your README/documentation as well as the paper.

[2020-07-02 23:41] danielskatz commented on #2429
👋 @jgostick, @richardjgowers, @dhhagan - Would one of you be willing to edit this submission?

[2020-07-02 23:46] spectralcode commented on #2245
I've tested it with Ubuntu 18.04 and everything worked just fine. Unfortunately (?) I did not had the same problem as you did with nvcc that can't be found.
For installation of cuda I followed the official cuda installation guide for Linux. If you have also used this guide, then probably something went wrong during the post-installation actions as those include the setup of the PATH variable.
Do y

[2020-07-03 00:12] lpantano commented on #2396
hey @naumenko-sa, I think you may be interested in reviewing this tool? let me know!

[2020-07-03 00:41] jgostick commented on #2429
Sorry, I have 2 on the go and still haven't figured it all out yet.

[2020-07-03 01:40] lootie commented on #2428
Reviewers: daviddewhurst, felixcremer, fneum, anowacki, declanol

@whedon generate pdf

On Thu, Jul 2, 2020 at 6:34 PM whedon <notifications@github.com> wrote:

[2020-07-03 01:48] lydialucchesi commented on #2409
Hi Ben,

Thanks for the update and finding us several reviewers.

Cheers,
Lydia

On Tue, Jun 30, 2020 at 4:06 PM Ben Stabler <notifications@github.com>
wrote:

[2020-07-03 01:49] lydialucchesi commented on #2409
Hi Daniel,

Sounds great - thanks for letting me know.

Best,
Lydia

On Thu, Jul 2, 2020 at 6:52 PM Daniel Nüst <notifications@github.com> wrote:

[2020-07-03 01:57] pibion commented on #2363
@sambit-giri, @aureliocarnero on the authorship issue: JOSS does need an affiliation for every author, but this is only required to make the latex template happy.  So for someone without an academic affiliation, they can put whatever seems most appropriate.  For example,

[code]

Would show "None" as the affiliation.

The author can put whatever seems most appropriate here, though.  In addition to

[2020-07-03 04:53] jedbrown commented on #2176
@whedon generate pdf

[2020-07-03 04:54] whedon commented on #2176
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02176/joss.02176/10.21105.joss.02176.pdf)

[2020-07-03 05:23] jedbrown commented on #2176
Sorry about my delay. This is looking great.
1. There is a period missing after the Lime reference (end of paragraph).
2. "simply solve simplistic" -> "only solve simplistic" or some other phrasing.
3. Could you make any comments in the comparison with other software, perhaps in terms of capability, performance, and easy of use/extension?
4. You're welcome to include a figure if you'd like.
5. Wou

[2020-07-03 06:13] hugoledoux commented on #2305
Nice work @giswqs, this review was very smooth! The 2 reviewers now recommend acceptance so we're reaching the end of the review!

At this point could you:

- [ ] accept the PR I made to your paper, there was a small typo in the acknowlegment
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a simil

[2020-07-03 06:24] cbrueffer commented on #2284
@whedon generate pdf

[2020-07-03 06:24] whedon commented on #2284
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02284/joss.02284/10.21105.joss.02284.pdf)

[2020-07-03 06:47] cbrueffer commented on #2284
@whedon generate pdf

[2020-07-03 06:48] whedon commented on #2284
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02284/joss.02284/10.21105.joss.02284.pdf)

[2020-07-03 06:49] cbrueffer commented on #2284
Looks good from my side as well now; all boxes ticked!

[2020-07-03 07:12] WilkAndy commented on #2176
Thank you @jedbrown for all those comments.  We'll get onto them next week.

[2020-07-03 07:25] snowformatics commented on #2259
@whedon set 10.5281/zenodo.3929095 as archive

[2020-07-03 07:25] whedon commented on #2259
I'm sorry @snowformatics, I'm afraid I can't do that. That's something only editors are allowed to do.

[2020-07-03 07:44] VivianePons commented on #2428
@whedon assign @VivianePons as editor

[2020-07-03 07:44] whedon commented on #2428
OK, the editor is @VivianePons

[2020-07-03 07:46] gmaze commented on #2425
@whedon generate pdf from branch joss-paper

[2020-07-03 07:46] whedon commented on #2425
[code]

[2020-07-03 07:47] whedon commented on #2425
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02425/joss.02425/10.21105.joss.02425.pdf)

[2020-07-03 08:01] mjsottile commented on #2259
@snowformatics I can set the archive once the review is complete.  It looks like we are just waiting to finish the issue where @SirSharpest is conducting their part of the review.  Once that is done I’ll set the DOI and work through the last steps of the review.

[2020-07-03 08:07] snowformatics commented on #2259
Sorry for the command, I just wanted to  note down the link, no rush...

[2020-07-03 08:16] mjsottile commented on #2259
No problem: thanks for providing the link.  That will speed things up for me when we’re ready to finish.

[2020-07-03 09:08] 99991 commented on #2423
@whedon check references from branch joss-submission

[2020-07-03 09:08] whedon commented on #2423
[code]

[2020-07-03 09:09] whedon commented on #2423
[code]

[2020-07-03 09:12] 99991 commented on #2423
@whedon generate pdf from branch joss-submission

[2020-07-03 09:12] whedon commented on #2423
[code]

[2020-07-03 09:13] whedon commented on #2423
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02423/joss.02423/10.21105.joss.02423.pdf)

[2020-07-03 09:16] SirSharpest commented on #2259
@mjsottile My review is complete too. I can recommend for publication.

(My one minor gripe, which I can understand letting go, is software tests should run out of the box without a user needing to source additional data)

[2020-07-03 10:42] arfon commented on #2326
:wave: @fboehm - just checking you're planning on finding a second reviewer for this submission?

[2020-07-03 10:45] arfon commented on #2402
@anwarbio - your paper title needs quoting, i.e. change this: `title: Bioassays: a new package in R for analyzing cellular assays` to this `title: "Bioassays: a new package in R for analyzing cellular assays"` in your `paper.md`.

[2020-07-03 11:00] JBorrow commented on #2397
Great, thanks! As this is generally a post-processing code I am happy to provide some more exciting snapshots for the reviewers to use, should they wish. They can also alternatively use the data downloaded for the unit tests, but this is quite boring (essentially a uniform box).

[2020-07-03 11:16] arfon commented on #2415
@whedon query scope

[2020-07-03 11:17] arfon commented on #2420
@whedon query scope

[2020-07-03 11:20] arfon commented on #2413
@whedon query scope

[2020-07-03 11:21] arfon commented on #2414
@whedon query scope

[2020-07-03 11:22] arfon commented on #2416
@whedon query scope

[2020-07-03 11:22] anwarbio commented on #2402
@arfon - The above change is made in the `title`  of `paper.md`

[2020-07-03 11:25] 99991 commented on #2423
We would like to suggest the potential reviewers faroit, ziatdinovmax and macrocosme.

[2020-07-03 11:27] dfm commented on #2397
@whedon add @mtremmel as reviewer

[2020-07-03 11:27] whedon commented on #2397
OK, @mtremmel is now a reviewer

[2020-07-03 11:27] arfon commented on #2421
@whedon query scope

[2020-07-03 11:27] arfon commented on #2427
@whedon query scope

[2020-07-03 11:29] dfm commented on #2397
We have our two reviewers (thanks, Michael!) so I'll start the main review thread and we can head over there to complete the review. If any of you have questions as we go please don't hesitate to ask!

[2020-07-03 11:29] dfm commented on #2397
@whedon start review

[2020-07-03 11:29] whedon opened #2430 "[REVIEW]: `swiftsimio`: A python library for reading SWIFT data"
**Submitting author:** @JBorrow (<a href="http://orcid.org/0000-0002-1327-1921">Josh Borrow</a>)
**Repository:** <a href="https://github.com/swiftsim/swiftsimio" target ="_blank">https://github.com/swiftsim/swiftsimio</a>
**Version:** v4.0.4
**Editor:** @dfm
**Reviewer:** @dmentipl, @mtremmel
**Archive:** <a href="https://doi.org/10.5281/zenodo.3969353" target="_blank">10.5281/zenodo.3969353</a>

[2020-07-03 11:29] whedon commented on #2397
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2430.

[2020-07-03 11:29] #2397 closed

[2020-07-03 11:29] whedon commented on #2430
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dmentipl, @mtremmel it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2020-07-03 11:29] whedon commented on #2430
PDF failed to compile for issue #2430 with the following error:

 Can't find any papers to compile :-(

[2020-07-03 11:30] JBorrow commented on #2430
@whedon generate pdf from branch joss-paper

[2020-07-03 11:30] whedon commented on #2430
[code]

[2020-07-03 11:31] whedon commented on #2430
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02430/joss.02430/10.21105.joss.02430.pdf)

[2020-07-03 11:34] aureliocarnero commented on #2363
Dear @sambit-giri please see message above. I would recommend to include Hannes as author to the paper if he agrees.
I have some comments on the references in the paper draft.
Since you reference several papers of yourself from 2019, could you please put 2019a, 2019b... etcerera? The same as you do with your 2018 papers.
Also, there is one reference: Ross et al., 2017, that at some point you refer

[2020-07-03 11:38] aureliocarnero commented on #2363
@sambit-giri also, one of the checks I need to do related to the paper is:
State of the field: Do the authors describe how this software compares to other commonly-used packages?

You actually say nothing about the state of the field, are there any other software that compares? In these terms, I think is important you name in the draft what you commented above: "We modified  c2raytools (https://gi

[2020-07-03 11:39] Kevin-Mattheus-Moerman commented on #2343
@grlee77 thanks for raising this issue with us. The logos are acceptable.

[2020-07-03 11:40] Kevin-Mattheus-Moerman commented on #2343
@agahkarakuzu can you respond to the comments by @grlee77 ?

[2020-07-03 11:41] Kevin-Mattheus-Moerman commented on #2323
@mitkof6 we tend to aim for 2 weeks but we can be flexible

[2020-07-03 11:41] Kevin-Mattheus-Moerman commented on #2323
@whedon add  @mitkof6 as reviewer

[2020-07-03 11:41] whedon commented on #2323
OK,  @mitkof6 is now a reviewer

[2020-07-03 11:41] Kevin-Mattheus-Moerman commented on #2323
@whedon start review

[2020-07-03 11:41] whedon opened #2431 "[REVIEW]: pyomeca: An Open-Source Framework for Biomechanical Analysis"
**Submitting author:** @romainmartinez (<a href="http://orcid.org/0000-0001-9681-9448">Romain Martinez</a>)
**Repository:** <a href="https://github.com/pyomeca/pyomeca/" target ="_blank">https://github.com/pyomeca/pyomeca/</a>
**Version:** 2020.0.1
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @BKillen05, @mitkof6
**Archive:** <a href="https://doi.org/10.5281/zenodo.4012118" target="_blank">1

[2020-07-03 11:41] whedon commented on #2323
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2431.

[2020-07-03 11:41] #2323 closed

[2020-07-03 11:41] whedon commented on #2431
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @BKillen05, @ @mitkof6 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2020-07-03 11:42] whedon commented on #2431
[code]

[2020-07-03 11:42] whedon commented on #2431
PDF failed to compile for issue #2431 with the following error:

 pandoc-citeproc: reference mitkof6 not found
Error producing PDF.
! TeX capacity exceeded, sorry [input stack size=5000].
\reserved@a ->\def \reserved@a
                               *{\let \@xs@assign \@xs@expand@and@detokenize...
l.371 }

Looks like we failed to compile the PDF

[2020-07-03 11:43] arfon commented on #2402
@whedon generate pdf

[2020-07-03 11:44] whedon commented on #2402
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02402/joss.02402/10.21105.joss.02402.pdf)

[2020-07-03 12:01] marksgraham commented on #2245
Hi @spectralcode @arfon

I've delved deeper and concluded that for me to get this working I would need to do a fresh install of all my CUDA drivers. Experience had taught me that messing with CUDA drivers can cause various problems and should only be done when absolutely necessary. I'm reluctant to do so in order to complete this review, especially as I'm doing a lot of GPU-heavy work right now th

[2020-07-03 12:03] gena commented on #2272
I've added my review https://github.com/r-spatial/rgee/issues/72, it's short, not a lot to add to other reviews.

[2020-07-03 12:04] paulgovan commented on #2111
Sorry for the delay. I see several issues related to the paper that are still open. My thought is that these should be closed before moving forward with publication. @arfon @akeshavan do you agree?

[2020-07-03 12:06] jedbrown commented on #2176
@whedon check references

[2020-07-03 12:08] whedon commented on #2176
[code]

[2020-07-03 12:48] anwarbio commented on #2402
@whedon, @arfon
Few mistakes were in the `article proof`, and is now corrected in `paper.md`.
Details of the correction are
1)` Line 25` 1st paragraph last line: _high-throughput_ is corrected as _High-throughput_
2) `Line 27` 2nd paragraph 3rd line: _us_ is corrected as _use_
3) `Line 29` 3rd paragraph 1st line: _server_ is corrected as _serve_
4) `Line 39` 7th paragraph 1st line: An extra _conve

[2020-07-03 12:48] whedon commented on #2402
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-07-03 13:03] fboehm commented on #2402
Thanks, @anwarbio.

[2020-07-03 13:35] giswqs commented on #2305
Dear @hugoledoux, I have made the requested changes. Thanks.

1. Merged your pull request.
2. Made a tagged version [v0.7.6](https://github.com/giswqs/geemap/releases/tag/v0.7.6)
3. Archived the software in [figshare](https://doi.org/10.6084/m9.figshare.12608834.v1)
4. Figshare citation: Wu, Q., 2020. geemap: A Python package for interactive mapping with Google Earth Engine. https://doi.org/10.608

[2020-07-03 13:39] lpantano commented on #2396
hey @Adrianzo, @afrubin, @betteridiot, @Nazeeefa, would any of you like to review this paper?

[2020-07-03 13:40] lpantano commented on #2410
@waxlamp, if you know somebody who could be a reviewer let me know, still trying to find the second one. Thanks

[2020-07-03 13:45] betteridiot commented on #2396
I would be happy to review this @lpantano

[2020-07-03 13:54] dhhagan commented on #2256
@jsgalan @gonsie @CameronDevice - are one you able to review this manuscript?

[2020-07-03 13:57] dhhagan commented on #2374
Hey @samjsilva91 - are you free to review this manuscript?

[2020-07-03 14:43] afrubin commented on #2396
@lpantano Happy to review this as well.

[2020-07-03 14:51] lpantano commented on #2396
@whedon assign @betteridiot as reviewer

[2020-07-03 14:51] whedon commented on #2396
OK, @betteridiot is now a reviewer

[2020-07-03 14:51] lpantano commented on #2396
@whedon add @afrubin as reviewer

[2020-07-03 14:51] whedon commented on #2396
OK, @afrubin is now a reviewer

[2020-07-03 14:52] lpantano commented on #2396
Thanks both, I will start the review process then!

[2020-07-03 14:52] lpantano commented on #2396
@whedon star review

[2020-07-03 14:52] whedon commented on #2396
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-07-03 14:52] lpantano commented on #2396
@whedon start review

[2020-07-03 14:52] whedon opened #2432 "[REVIEW]: cerebra: A tool for fast and accurate summarizing of variant calling format (VCF) files"
**Submitting author:** @lincoln-harris (<a href="http://orcid.org/0000-0003-2544-4225">Lincoln Harris</a>)
**Repository:** <a href="https://github.com/czbiohub/cerebra" target ="_blank">https://github.com/czbiohub/cerebra</a>
**Version:** v1.2.0
**Editor:** @lpantano
**Reviewer:** @betteridiot, @afrubin
**Archive:** <a href="https://doi.org/10.5281/zenodo.4050557" target="_blank">10.5281/zenodo.40

[2020-07-03 14:52] whedon commented on #2396
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2432.

[2020-07-03 14:52] #2396 closed

[2020-07-03 14:52] whedon commented on #2432
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @betteridiot, @afrubin it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2020-07-03 14:53] whedon commented on #2432
[code]

[2020-07-03 14:53] whedon commented on #2432
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02432/joss.02432/10.21105.joss.02432.pdf)

[2020-07-03 14:57] gonsie commented on #2256
This is a bit outside my area, but I can do it if none of the others are available.

[2020-07-03 15:12] vijaysm commented on #1906
I apologize. I thought I had replied to @klho's comments.

@klho Thanks for updating the paper.

1. I agree that the citations have more details but I just wanted you to highlight some clear advantages of the hierarchical solvers in FLAM to give the reader a better idea before diving deeper into using the software implementation.

2. For the minimum version, you can go ahead and mention the MATLAB

[2020-07-03 16:16] klho commented on #1906
@vijaysm There is already a statement on the last tested version in the README. Is that sufficient?

[2020-07-03 16:49] pibion commented on #2363
@aureliocarnero I'm taking the day off today but I'll get back to you on the reference style Monday!

[2020-07-03 17:29] csoneson commented on #2406
@whedon add @shazanfar as reviewer

[2020-07-03 17:29] whedon commented on #2406
OK, @shazanfar is now a reviewer

[2020-07-03 17:39] Nazeeefa commented on #2396
Hi, I'd be happy to review/test it @lpantano

[2020-07-03 17:47] adbar commented on #2360
I reviewed the introduction and added the missing DOIs.
@whedon generate pdf
@whedon check references

[2020-07-03 17:55] adbar commented on #2360
Reviewers suggested: ajoer, hadware, tresoldi, geoffbacon, proycon
Are further requirements needed for the pre-reviewing phase?

[2020-07-03 18:34] fboehm commented on #2326
Yes, @arfon, thanks for checking in - I just now found a second reviewer. i'll add him.

[2020-07-03 18:38] fboehm commented on #2326
@whedon add @homoneclocom as reviewer

[2020-07-03 18:38] whedon commented on #2326
OK, @homoneclocom is now a reviewer

[2020-07-03 18:45] vijaysm commented on #1906
From README.md in the repository:

Excellent. Yes, this will suffice.

[2020-07-03 18:48] fboehm commented on #2326
I've emailed Ricardo - whose github user name is listed as @homoneclocom - to see if he is using a new github username. I'm unable to find @homoneclocom when I search github. We may need to update the reviewer database.

[2020-07-03 18:51] mjsottile commented on #2426
@danielskatz sure.  It might be a couple days to start the process with the holiday weekend.

[2020-07-03 18:51] mjsottile commented on #2426
@whedon assign @mjsottile as editor

[2020-07-03 18:51] whedon commented on #2426
OK, the editor is @mjsottile

[2020-07-03 18:52] fboehm commented on #2402
@whedon remove homoneclocom as reviewer

[2020-07-03 18:52] whedon commented on #2402
OK, homoneclocom is no longer a reviewer

[2020-07-03 18:52] fboehm commented on #2402
@whedon add @homonecloco as reviewer

[2020-07-03 18:52] whedon commented on #2402
OK, @homonecloco is now a reviewer

[2020-07-03 20:18] danielskatz commented on #2413
@AhmedArslan - The JOSS editor have determined that this submission is out of scope as a minor utility due to its small size. If you want the software to be cite, you might consider getting a DOI for it via zenodo.

[2020-07-03 20:18] danielskatz commented on #2413
@whedon reject

[2020-07-03 20:18] whedon commented on #2413
Paper rejected.

[2020-07-03 20:18] #2413 closed

[2020-07-03 20:18] danielskatz commented on #2414
@AhmedArslan - The JOSS editor have determined that this submission is out of scope as a minor utility due to its small size. If you want the software to be cite, you might consider getting a DOI for it via zenodo.

[2020-07-03 20:18] danielskatz commented on #2414
@whedon reject

[2020-07-03 20:19] whedon commented on #2414
Paper rejected.

[2020-07-03 20:19] #2414 closed

[2020-07-03 20:29] lpantano commented on #2396
Hi @Nazeeefa, I got two reviewers here, but I need one more for this other tool: https://github.com/openjournals/joss-reviews/issues/2410 would you be up for that one? It is a visualization tool of metabolomic data. It would be great to have you there!

[2020-07-03 20:30] whedon opened #2433 "[PRE REVIEW]: ocean_data_tools: A MATLAB toolbox for interacting with bulk freely-available oceanographic data"
**Submitting author:** @lnferris (<a href="http://orcid.org/0000-0001-6446-9340">L. N. Ferris</a>)
**Repository:** <a href="https://github.com/lnferris/ocean_data_tools" target ="_blank">https://github.com/lnferris/ocean_data_tools</a>
**Version:** v1.0.0
**Editor:** @kthyng
**Reviewers:** @castelao, @chadagreene
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

[2020-07-03 20:30] whedon commented on #2433
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-03 20:30] whedon opened #2434 "[PRE REVIEW]: DetectorChecker: analyzing patterns of defects in detector screens"
**Submitting author:** @tomaslaz (<a href="http://orcid.org/0000-0002-8351-9857">Tomas Lazauskas</a>)
**Repository:** <a href="https://github.com/alan-turing-institute/DetectorChecker" target ="_blank">https://github.com/alan-turing-institute/DetectorChecker</a>
**Version:** 1.0.8
**Editor:** @fboehm
**Reviewers:** @janfreyberg
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mod

[2020-07-03 20:30] whedon commented on #2434
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-03 20:30] whedon commented on #2433
Failed to discover a `Statement of need` section in paper

[2020-07-03 20:30] whedon commented on #2433
[code]

[2020-07-03 20:30] whedon commented on #2433
[code]

[2020-07-03 20:30] whedon commented on #2434
Failed to discover a `Statement of need` section in paper

[2020-07-03 20:30] whedon commented on #2434
[code]

[2020-07-03 20:31] whedon commented on #2433
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02433/joss.02433/10.21105.joss.02433.pdf)

[2020-07-03 20:31] whedon commented on #2434
[code]

[2020-07-03 20:31] whedon commented on #2434
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02434/joss.02434/10.21105.joss.02434.pdf)

[2020-07-03 20:34] danielskatz commented on #2281
@ivalaginja - this is just a reminder that we are waiting on the changes to the paper and bib as requested in the issue above, then your paper can be published

[2020-07-03 20:43] lnferris commented on #2433
@whedon generate pdf

[2020-07-03 20:44] whedon commented on #2433
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02433/joss.02433/10.21105.joss.02433.pdf)

[2020-07-03 20:45] lnferris commented on #2433
@whedon generate pdf

[2020-07-03 20:46] whedon commented on #2433
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02433/joss.02433/10.21105.joss.02433.pdf)

[2020-07-03 20:53] lnferris commented on #2433
@whedon generate pdf

[2020-07-03 20:54] whedon commented on #2433
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02433/joss.02433/10.21105.joss.02433.pdf)

[2020-07-03 21:00] lnferris commented on #2433
@whedon generate pdf

[2020-07-03 21:01] whedon commented on #2433
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02433/joss.02433/10.21105.joss.02433.pdf)

[2020-07-03 21:03] corybrunson commented on #2161
@TomKellyGenetics most everything looks good. I've commented on the remaining open issues i raised, and i the package and paper don't suggest to me that you're making performance claims, so my only remaining issue is that the last link in the paper (in the Computational details section) is broken. Instead of linking to the paper folder in the repo, i'd suggest just linking to the repo.

[2020-07-03 21:05] lnferris commented on #2433
@whedon generate pdf

[2020-07-03 21:06] whedon commented on #2433
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02433/joss.02433/10.21105.joss.02433.pdf)

[2020-07-03 21:11] lnferris commented on #2433
@whedon generate pdf

[2020-07-03 21:12] whedon commented on #2433
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02433/joss.02433/10.21105.joss.02433.pdf)

[2020-07-03 21:45] TomGoffrey commented on #2182
@joglekara I do agree that a notebook would be the best way, looks like you're already working on it. That's great.

I agree, documentation is always WIP, but (and I guess this makes it more your decision than mine) I think the code looks better to (prospective) users if you tie up any loose ends and remove the comments. You can always expand on details later. That's just my opinion though, so as

[2020-07-03 21:53] danielskatz commented on #2415
@xiaotsay2015 - The JOSS editors have determined that this submission is out of scope as a minor utility due to its small size. If you want the software to be cited, you might consider getting a DOI for it via zenodo.

[2020-07-03 21:53] danielskatz commented on #2415
@whedon reject

[2020-07-03 21:53] whedon commented on #2415
Paper rejected.

[2020-07-03 21:53] #2415 closed

[2020-07-03 21:58] danielskatz commented on #2416
👋 @will-rowe - would you be willing to edit this submission?

[2020-07-03 21:58] danielskatz commented on #2416
@whedon invite @will-rowe as editor

[2020-07-03 21:58] whedon commented on #2416
@will-rowe has been invited to edit this submission.

[2020-07-03 22:02] danielskatz commented on #2360
@adbar  - commands to whedon need to be the first thing in a comment, and there can only be one per comment

[2020-07-03 22:02] danielskatz commented on #2360
@whedon generate pdf

[2020-07-03 22:03] whedon commented on #2360
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02360/joss.02360/10.21105.joss.02360.pdf)

[2020-07-03 22:03] danielskatz commented on #2360
@whedon check references

[2020-07-03 22:03] whedon commented on #2360
[code]

[2020-07-03 22:05] danielskatz commented on #2360
👋 @ajoer - Would you be willing to review this submission for JOSS?

[2020-07-03 22:06] danielskatz commented on #2360
👋 @geoffbacon - Would you be willing to review this submission for JOSS?

[2020-07-03 22:26] gkthiruvathukal commented on #2423
@99991 Thanks for these suggestions. I will try to get review started over the weekend!

[2020-07-03 22:40] ivalaginja commented on #2281
Thanks for the reminder! I did not forget, as a matter of act it's on the top of my work todo list, I was just relocating this week so I am a little short on time. I should be able to get to it this weekend or Monday!

[2020-07-04 00:27] sebhaan commented on #2421
@jedbrown Have added a new section about related software (hippylib, Obsidian, and GemPy) to the README and three more references to these bayesian inversion tools in the paper.

[2020-07-04 00:31] danielskatz commented on #2421
@whedon generate pdf

[2020-07-04 00:31] whedon commented on #2421
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02421/joss.02421/10.21105.joss.02421.pdf)

[2020-07-04 00:33] danielskatz commented on #2421
@whedon check references

[2020-07-04 00:33] whedon commented on #2421
[code]

[2020-07-04 00:39] samjsilva91 commented on #2374
Hi @dhhagan sorry, parental leave and all that business. Potentially Tomás Sherwen (http://orcid.org/0000-0002-3006-3876) or Christoph Keller (https://science.gsfc.nasa.gov/sed/bio/christoph.a.keller) are available?

[2020-07-04 01:40] dhhagan commented on #2256
@whedon add @gonsie as reviewer. Thanks @gonsie

[2020-07-04 01:40] whedon commented on #2256
OK, @gonsie is now a reviewer

[2020-07-04 01:42] dhhagan commented on #2256
@whedon start review

[2020-07-04 01:42] whedon opened #2435 "[REVIEW]: OMG: A Scalable and Flexible Simulation and TestingEnvironment Toolbox for Intelligent Microgrid Control"
**Submitting author:** @stheid (<a href="http://orcid.org/0000-0002-9461-7372">Stefan Heid</a>)
**Repository:** <a href="https://github.com/upb-lea/openmodelica-microgrid-gym" target ="_blank">https://github.com/upb-lea/openmodelica-microgrid-gym</a>
**Version:** 0.2.0-2
**Editor:** @dhhagan
**Reviewer:** @katyhuff, @gonsie
**Archive:** <a href="https://doi.org/10.5281/zenodo.4041278" target="_bla

[2020-07-04 01:42] whedon commented on #2256
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2435.

[2020-07-04 01:42] #2256 closed

[2020-07-04 01:42] whedon commented on #2435
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @katyhuff, @gonsie it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://bl

[2020-07-04 01:42] whedon commented on #2435
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02435/joss.02435/10.21105.joss.02435.pdf)

[2020-07-04 01:42] whedon commented on #2435
[code]

[2020-07-04 02:58] tomsing1 commented on #2402
@fboehm I think I waited too long to accept the https://github.com/openjournals/joss-reviews/invitations invite. Would you mind refreshing it so I can edit the checklist? Many thanks!

[2020-07-04 03:18] kyoustat commented on #2420
@whedon commands

[2020-07-04 03:18] whedon commented on #2420
Here are some things you can ask me to do:

[code]

[2020-07-04 05:33] mzszym commented on #2183
I am sorry for the delay, I have just started the review.

[2020-07-04 07:04] mzszym commented on #2183
I would like to ask the author to fix the following before continuing the review:

- Improve description of the installation: specify example version numbers of ngspice and PERL known to work with this package; provide an example sequence of shell commands for a typical installation

- Provide at least one complete example/testcase (complete input files, expected output files, complete list of she

[2020-07-04 08:31] even4void commented on #2355
@dpsanders Unfortunately I don't really feel qualified to review this article. Maybe Dirk Eddelbuettel would be a better fit given the scope of the paper?

[2020-07-04 09:13] linuxscout commented on #2376
Hey @will-rowe, I have defended my PhD thesis these days, I will work on review soon.

[2020-07-04 10:17] linuxscout commented on #2376
@will-rowe, I need some explanation from authors, on this feature!

[2020-07-04 10:33] jenzopr commented on #2252
Hi @pdebuyl, I can do the review if you still need me, as my schedule got a bit lighter 👍

[2020-07-04 11:31] arfon commented on #1906
@whedon check references

[2020-07-04 11:31] whedon commented on #1906
[code]

[2020-07-04 11:33] arfon commented on #1906
@whedon generate pdf

[2020-07-04 11:34] whedon commented on #1906
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01906/joss.01906/10.21105.joss.01906.pdf)

[2020-07-04 11:36] arfon commented on #2111
Yes, I agree, although it looks like almost all of them have been addressed and that @donaldRwilliams might just need to close those issues. The one I see that is still unresolved is https://github.com/donaldRwilliams/BGGM/issues/10 - could you confirm what is happening there @donaldRwilliams?

[2020-07-04 12:13] pdebuyl commented on #2252
@jenzopr thank you for the proposal! I was indeed having difficulty finding another reviewer.

[2020-07-04 12:14] pdebuyl commented on #2252
@whedon assign @blakeaw as reviewer

[2020-07-04 12:14] whedon commented on #2252
OK, @blakeaw is now a reviewer

[2020-07-04 12:14] pdebuyl commented on #2252
@whedon assign @jenzopr as reviewer

[2020-07-04 12:14] whedon commented on #2252
OK, @jenzopr is now a reviewer

[2020-07-04 12:17] pdebuyl commented on #2252
@whedon add @blakeaw as reviewer

[2020-07-04 12:17] whedon commented on #2252
OK, @blakeaw is now a reviewer

[2020-07-04 12:18] pdebuyl commented on #2252
@whedon start review

[2020-07-04 12:18] whedon opened #2436 "[REVIEW]: CancerSim: A python3 package for stochastic cancer simulation in 2D"
**Submitting author:** @CFGrote (<a href="http://orcid.org/0000-0002-2579-5546">Carsten Fortmann-Grote</a>)
**Repository:** <a href="https://github.com/mpievolbio-scicomp/cancer_sim" target ="_blank">https://github.com/mpievolbio-scicomp/cancer_sim</a>
**Version:** 2.0.1
**Editor:** @pdebuyl
**Reviewer:** @jenzopr, @blakeaw
**Archive:** <a href="https://doi.org/10.5281/zenodo.4034071" target="_bla

[2020-07-04 12:18] whedon commented on #2252
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2436.

[2020-07-04 12:18] #2252 closed

[2020-07-04 12:18] whedon commented on #2436
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jenzopr, @blakeaw it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://bl

[2020-07-04 12:18] whedon commented on #2436
[code]

[2020-07-04 12:18] whedon commented on #2436
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02436/joss.02436/10.21105.joss.02436.pdf)

[2020-07-04 12:23] pdebuyl commented on #2436
@blakeaw , @jenzopr ,  make sure to accept the invitation to the reviewers group and to have a look at the reviewer guidelines.

The review process will happen in this issue page, so questions to the author or to me can be added as comments here.

[2020-07-04 12:29] TomKellyGenetics commented on #2161
Thanks everyone for the quick and helpful responses. I've updated the manuscript to link to the GitHub repo correctly.

I agree to leaving the remaining issues on the repo open until I've had more time to look at the suggestions for documentation in more detail. I will consider these changes for the next release on CRAN.

[2020-07-04 12:56] danielskatz commented on #2402
@whedon re-invite @tomsing1 as reviewer

[2020-07-04 12:56] whedon commented on #2402
OK, the reviewer has been re-invited.

@tomsing1 please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-07-04 13:00] usethedata commented on #2284
Thanks @khinsen and @cbrueffer for your work on this review.  It is much appreciated.

[2020-07-04 13:04] usethedata commented on #2284
@whedon check references

[2020-07-04 13:04] whedon commented on #2284
[code]

[2020-07-04 13:06] arfon commented on #2326
@fboehm - I'm not sure if you know this already, but you'll need to manually add a checklist for the second reviewer in https://github.com/openjournals/joss-reviews/issues/2402 as Whedon doesn't know how to do this yet.

[2020-07-04 13:06] TomKellyGenetics commented on #2161
@whedon generate pdf

[2020-07-04 13:07] whedon commented on #2161
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02161/joss.02161/10.21105.joss.02161.pdf)

[2020-07-04 13:19] usethedata commented on #2284
Documenting:  Above DOI suggestion is a false positive.  Ignore.

[2020-07-04 13:32] usethedata commented on #2284
@vsoch -- I've opened https://github.com/vsoch/gridtest/issues/40 to request some minor corrections to the paper and a list of the steps needed from you to move this forward.  Thanks much.

[2020-07-04 13:36] usethedata commented on #2286
@Shuang-Plum My apologies to you and to the authors for not paying closer attention to this paper.  When can you get to this review?

[2020-07-04 13:38] usethedata commented on #2286
@whedon check references

[2020-07-04 13:41] usethedata commented on #2265
@whedon set 0.6.0 as version

[2020-07-04 13:41] whedon commented on #2265
OK. 0.6.0 is the version.

[2020-07-04 13:41] usethedata commented on #2265
@whedon check references

[2020-07-04 13:41] whedon commented on #2265
[code]

[2020-07-04 13:49] sp94 commented on #2239
@whedon generate pdf

[2020-07-04 13:49] whedon commented on #2239
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02239/joss.02239/10.21105.joss.02239.pdf)

[2020-07-04 14:14] fboehm commented on #2326
@arfon - thanks for the reminder!

[2020-07-04 14:17] usethedata commented on #2265
@kloppen I've created an issue in your repository with a couple of nits to consider and the next steps in the process: https://github.com/ComtekAdvancedStructures/cmstatr/issues/19

[2020-07-04 14:31] sp94 commented on #2239
@whedon generate pdf

[2020-07-04 14:32] whedon commented on #2239
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02239/joss.02239/10.21105.joss.02239.pdf)

[2020-07-04 14:34] sp94 commented on #2239
Hi @dpsanders, please let me know if the paper addresses your comments about adding examples, research need, and comparisons to other software

[2020-07-04 15:02] usethedata commented on #2364
@samvanstroud A couple of thoughts as I walk through this in preparation for finding reviewers.  I think these are things to address prior to review, but this is a discussion about subjects where there are multiple points of view, so please do provide your perspective where you see things differently.

1. There are multiple sources of NDVI in Google Earth Engine.  I believe the paper itself should

[2020-07-04 15:09] tabe commented on #2331
Dear @mstimberg,

Thank you for opening the above issues, we've started working to solve them.

They are all reasonable, so revising our paper to amend the weakness you pointed out.

The videos do include how to simulate PHML models by Flint while the focus is how to edit them with PhysioDesigner.
We will prepare a new tutorial dedicated to Flint soon.

[2020-07-04 15:10] tabe commented on #2331
@whedon generate pdf

[2020-07-04 15:11] whedon commented on #2331
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02331/joss.02331/10.21105.joss.02331.pdf)

[2020-07-04 15:18] lnferris commented on #2433
@whedon generate pdf

[2020-07-04 15:19] whedon commented on #2433
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02433/joss.02433/10.21105.joss.02433.pdf)

[2020-07-04 15:19] usethedata commented on #2364
Disclaimer: I'm the principal investigator for the additional information I'm commenting on.  I'm posting it here publicly to make it very clear that this is simply information provided colleague to colleague.  It is something that I think is relevant to the science domain in which the authors are working and their potential future work.  It is not directly relevant to this particular paper or sof

[2020-07-04 15:22] lnferris commented on #2433
@whedon generate pdf

[2020-07-04 15:22] whedon commented on #2433
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02433/joss.02433/10.21105.joss.02433.pdf)

[2020-07-04 15:30] Sulstice commented on #1992
@richardjgowers Let me know if there is anything I need to do!

[2020-07-04 15:42] vsoch commented on #2284
- Release is created under zenodo at https://doi.org/10.5281/zenodo.3930366 (URL seems to not be working yet)
 - Release version is [0.0.15](https://github.com/vsoch/gridtest/releases/tag/0.0.15)

I needed to change my name in the record but it doesn't appear I can do that yet! I'm okay if it stays like that either way.

[2020-07-04 15:57] lnferris commented on #2433
@whedon generate pdf

[2020-07-04 15:58] whedon commented on #2433
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02433/joss.02433/10.21105.joss.02433.pdf)

[2020-07-04 16:06] usethedata commented on #2286
Documentation: Out of band discussion with @Shuang-Plum indicates they will work on the review in the next week.

[2020-07-04 16:15] arfon commented on #1906
@klho - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the authors

[2020-07-04 16:20] edwardando commented on #2286
Perfect, we're looking forward to it!

[2020-07-04 16:39] sbenthall commented on #2264
To clarify: the software under review in this issue is written in R.

[2020-07-04 16:47] klho commented on #1906
@arfon - Done: the Zenodo archive is at https://zenodo.org/record/3930385. Thanks for moving quickly.

[2020-07-04 16:48] arfon commented on #1906
@whedon set 10.5281/zenodo.3930385 as archive

[2020-07-04 16:48] whedon commented on #1906
OK. <a href="https://doi.org/10.5281/zenodo.3930385" target="_blank">10.5281/zenodo.3930385</a> is the archive.

[2020-07-04 16:49] arfon commented on #1906
@whedon accept

[2020-07-04 16:49] whedon commented on #1906
[code]

[2020-07-04 16:49] whedon commented on #1906
[code]

[2020-07-04 16:49] whedon commented on #1906
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1536

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1536, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-04 16:50] arfon commented on #1906
@whedon accept deposit=true

[2020-07-04 16:50] whedon commented on #1906
[code]

[2020-07-04 16:51] whedon commented on #1906
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1279457914701385731) 👈 🐦🐦🐦

[2020-07-04 16:51] whedon commented on #1906
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1537
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01906](https://doi.org/10.21105/joss.01906)
2. If everything looks g

[2020-07-04 16:55] arfon commented on #1906
@sivaramambikasaran, @pitsianis, @vijaysm - many thanks for your reviews here and to @melissawm for editing this submission ✨

@klho - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-07-04 16:55] #1906 closed

[2020-07-04 16:55] whedon commented on #1906
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01906/status.svg)](https://doi.org/10.21105/joss.01906)

**We need your help!**

Journal of Open Source Softwa

[2020-07-04 17:36] Nazeeefa commented on #2396
Hi @lpantano No worries. Sorry, I'm afraid I have to say no as I do not know much about that topic. Thank you for asking. I appreciate your time and work.

[2020-07-04 17:41] lnferris commented on #2433
@whedon generate pdf

[2020-07-04 17:42] whedon commented on #2433
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02433/joss.02433/10.21105.joss.02433.pdf)

[2020-07-04 17:43] lnferris commented on #2433
@whedon generate pdf

[2020-07-04 17:44] whedon commented on #2433
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02433/joss.02433/10.21105.joss.02433.pdf)

[2020-07-04 17:52] danielskatz commented on #2427
@ajoer - The JOSS editors have determined that this submission is out of scope as a minor utility due to its small size. An alternative way of having the software be cited is to get a DOI for it via zenodo.

[2020-07-04 17:52] danielskatz commented on #2427
@whedon reject

[2020-07-04 17:52] whedon commented on #2427
Paper rejected.

[2020-07-04 17:52] #2427 closed

[2020-07-04 17:56] whedon opened #2437 "[PRE REVIEW]: oolong: An R package for validating automated content analysis tools"
**Submitting author:** @chainsawriot (<a href="http://orcid.org/0000-0002-6232-7530">Chung-hong Chan</a>)
**Repository:** <a href="https://github.com/chainsawriot/oolong" target ="_blank">https://github.com/chainsawriot/oolong</a>
**Version:** 0.3.8
**Editor:** @kakiac
**Reviewers:** @pdwaggoner, @mbod
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the

[2020-07-04 17:56] whedon commented on #2437
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-04 17:56] whedon opened #2438 "[PRE REVIEW]: sonipy: A Perceptually Uniform Sonification Package"
**Submitting author:** @lockepatton (<a href="http://orcid.org/0000-0002-7640-236X">Locke Patton</a>)
**Repository:** <a href="https://github.com/lockepatton/sonipy" target ="_blank">https://github.com/lockepatton/sonipy</a>
**Version:** v1.0
**Editor:** @harpolea
**Reviewers:** @faroit, @benjaminrose
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the c

[2020-07-04 17:56] whedon commented on #2438
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-04 17:56] whedon commented on #2437
Failed to discover a `Statement of need` section in paper

[2020-07-04 17:57] whedon commented on #2437
[code]

[2020-07-04 17:57] whedon commented on #2437
[code]

[2020-07-04 17:57] whedon commented on #2438
Failed to discover a `Statement of need` section in paper

[2020-07-04 17:57] whedon commented on #2438
[code]

[2020-07-04 17:57] whedon commented on #2437
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02437/joss.02437/10.21105.joss.02437.pdf)

[2020-07-04 17:57] whedon commented on #2438
[code]

[2020-07-04 17:58] whedon commented on #2438
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02438/joss.02438/10.21105.joss.02438.pdf)

[2020-07-04 18:08] danielskatz commented on #2437
👋 @kakiac - would you be willing to edit this submission?

[2020-07-04 18:08] danielskatz commented on #2437
@whedon invite @kakiac as editor

[2020-07-04 18:08] whedon commented on #2437
@kakiac has been invited to edit this submission.

[2020-07-04 18:12] danielskatz commented on #2438
👋 @harpolea - would you be willing to edit this submission?

[2020-07-04 18:12] danielskatz commented on #2438
@whedon invite @harpolea  as editor

[2020-07-04 18:12] whedon commented on #2438
@harpolea has been invited to edit this submission.

[2020-07-04 18:21] gvegayon commented on #2315
Hi there! I'm back :). I started the review, but I was trying to mark the checklist and it seems that I'm no longer able to do so. I tried re-opening the collab link sent by JOSS but it expedited. What can I do? I'm still reviewing and will let you know when all is done.

[2020-07-04 18:22] donaldRwilliams commented on #2111
@arfon I closed this issue, as it was addressed sometime ago.

[2020-07-04 18:23] vsoch commented on #2284
okay! the doi appeared and I was able to update name https://zenodo.org/record/3930366#.XwDI35ZME5k so I think we are good.

[2020-07-04 18:23] danielskatz commented on #2315
@whedon re-invite @gvegayon as reviewer

[2020-07-04 18:23] whedon commented on #2315
OK, the reviewer has been re-invited.

@gvegayon please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-07-04 18:32] jsgalan commented on #2283
Hi all,

I am not a big fan of examples/test outside of an initial install, but I get your point. If you want to keep it outside, please make this little command list clearly visible and available in the repository.

<img width="855" alt="Screen Shot 2020-07-04 at 1 14 52 PM" src="https://user-images.githubusercontent.com/971958/86518627-61e29600-bdf8-11ea-805e-2fe1761f64ac.png">

Following @elDan

[2020-07-04 18:44] geoffbacon commented on #2360
Hi @danielskatz - I'd be happy to!

[2020-07-04 18:49] danielskatz commented on #2360
Thanks - I'll add you in the system, though we won't start the review until we get one more reviewer.

[2020-07-04 18:49] danielskatz commented on #2360
@whedon assign @geoffbacon as reviewer

[2020-07-04 18:49] whedon commented on #2360
OK, @geoffbacon is now a reviewer

[2020-07-04 18:50] danielskatz commented on #2360
👋 @proycon - Would you be willing to review this submission for JOSS?

[2020-07-04 19:23] ArdiaD commented on #2376
Hi @linuxscout; I see you've almost finished the review. Thx a lot! @mbod any chance to go over it over the coming days? thx again for your help!

[2020-07-04 19:38] meg-simula commented on #2094
Ok, thanks @ralfhielscher and @doriandepriester!

[2020-07-04 19:59] kloppen commented on #2265
@whedon generate pdf

[2020-07-04 19:59] whedon commented on #2265
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02265/joss.02265/10.21105.joss.02265.pdf)

[2020-07-04 20:00] proycon commented on #2360
@danielskatz Sure, I'd be glad to help!

[2020-07-04 20:02] FainazInamdeen commented on #2305
i have installed geemap through Anaconda, but when I coding in Jupiter notebook, I cannot open the map as you shown in video, what would be the wrong?

[2020-07-04 20:18] danielskatz commented on #2360
Thanks - I'll add you and start the review.

[2020-07-04 20:18] danielskatz commented on #2360
@whedon add @proycon as reviewer

[2020-07-04 20:18] whedon commented on #2360
OK, @proycon is now a reviewer

[2020-07-04 20:18] danielskatz commented on #2360
@whedon start review

[2020-07-04 20:18] whedon opened #2439 "[REVIEW]: htmldate: A Python package to extract publication dates from web pages"
**Submitting author:** @adbar (<a href="http://orcid.org/0000-0002-8079-8694">Adrien Barbaresi</a>)
**Repository:** <a href="https://github.com/adbar/htmldate" target ="_blank">https://github.com/adbar/htmldate</a>
**Version:** v0.7.0
**Editor:** @danielskatz
**Reviewer:** @geoffbacon, @proycon
**Archive:** <a href="https://doi.org/10.5281/zenodo.3966235" target="_blank">10.5281/zenodo.3966235</a>

[2020-07-04 20:18] whedon commented on #2360
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2439.

[2020-07-04 20:18] #2360 closed

[2020-07-04 20:18] whedon commented on #2439
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @geoffbacon, @proycon it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2020-07-04 20:18] whedon commented on #2439
[code]

[2020-07-04 20:18] whedon commented on #2439
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02439/joss.02439/10.21105.joss.02439.pdf)

[2020-07-04 20:20] danielskatz commented on #2439
👋 @geoffbacon & @proycon - thanks for agreeing to review this submission. Please be sure to read the comments above, and let me know if you have any questions.  Basically, your job is to check the article proof and repository and check items off your checklist above.

If you see small problems that need to be discussed, feel free to discuss them here.  But if you can, create a new issue in the <a

[2020-07-04 20:37] giswqs commented on #2305
@FainazInamdeen Did you create a fresh conda env to install geemap? Check the [installation guidelines](https://github.com/giswqs/geemap#installation). If you still encounter issues, please open a new issue [here](https://github.com/giswqs/geemap/issues). This thread is for the joss-review paper only, not for trouble shooting package installation issues.

[code]

[2020-07-04 21:08] kloppen commented on #2265
@usethedata :

The Zenodo DOI is: 10.5281/zenodo.3930475

I've fixed the couple little nits that you raised on ComtekAdvancedStructures/cmstatr#19. I did not change software version number (so, it's still 0.6.0).

Please let me know if you need me to do anything else.

[2020-07-04 21:38] FainazInamdeen commented on #2305
@Qiusheng Wu
Sorry didn't notice, btw I have sorted the issue. I think it was because
jupyter notebook before I opened through IE after I changed it into google
chrome, now its working. Thank you for an amazing tutorial.

On Sat, Jul 4, 2020 at 10:38 PM Qiusheng Wu <notifications@github.com>
wrote:

[2020-07-04 21:49] homonecloco commented on #2402
Hi @anwarbio ,
I started the review with the documentation. I am still to read the paper, but I'll give you my comments of what I have reviewed so far, so you can consider them.

1. The API documentation (https://cran.r-project.org/web/packages/bioassays/bioassays.pdf)  has the beginning looking incomplete or misformated. The documentation of the actual functions seems ok, but having so many NA at

[2020-07-04 23:03] sbenthall commented on #2264
@syoh Would you be willing to review this paper?

[2020-07-04 23:05] sbenthall commented on #2417
@whedon assign me as editor

[2020-07-04 23:05] whedon commented on #2417
OK, the editor is @sbenthall

[2020-07-04 23:05] sbenthall commented on #2417
@cmaimone Would you be willing to review this entry?

[2020-07-04 23:06] sbenthall commented on #2417
@Ohlsen Would you be willing to review this entry?

[2020-07-04 23:27] jizecn commented on #2259
@mjsottile Done from my side too. I would recommend for acceptance too. Good work.

[2020-07-05 01:42] syoh commented on #2264
@sbenthall Unfortunately, I am not available to review this summer. Hopefully another time. Thanks for the invitation

[2020-07-05 01:45] poulson commented on #2203
Thank you, @berenger-eu -- I followed up with one of the invited potential reviewers by email and hope to hear back soon. If not, I will dig back through the potential reviewer list to find more possibilities.

[2020-07-05 04:27] csaybar commented on #2272
@whedon generate pdf

[2020-07-05 04:28] whedon commented on #2272
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02272/joss.02272/10.21105.joss.02272.pdf)

[2020-07-05 07:52] csoneson commented on #2406
@whedon add @vals as reviewer

[2020-07-05 07:53] whedon commented on #2406
OK, @vals is now a reviewer

[2020-07-05 07:53] csoneson commented on #2406
@whedon start review

[2020-07-05 07:54] whedon opened #2440 "[REVIEW]: starfish: scalable pipelines for image-based transcriptomics"
**Submitting author:** @neuromusic (<a href="http://orcid.org/0000-0002-4638-7015">Justin Kiggins</a>)
**Repository:** <a href="https://github.com/spacetx/starfish" target ="_blank">https://github.com/spacetx/starfish</a>
**Version:** 0.2.2
**Editor:** @csoneson
**Reviewer:** @giovp, @shazanfar, @vals
**Archive:** <a href="https://doi.org/10.5281/zenodo.4734993" target="_blank">10.5281/zenodo.4734

[2020-07-05 07:54] whedon commented on #2406
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2440.

[2020-07-05 07:54] #2406 closed

[2020-07-05 07:54] whedon commented on #2440
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @giovp, @shazanfar, @vals it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2020-07-05 07:54] whedon commented on #2440
[code]

[2020-07-05 07:54] whedon commented on #2440
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02440/joss.02440/10.21105.joss.02440.pdf)

[2020-07-05 07:55] csoneson commented on #2440
👋 @giovp, @shazanfar, @vals - thanks for accepting to review this submission! This is where the review will take place. In the post above you can find your respective checklists, and some additional information and instructions. Don't hesitate to ping me if you have any questions!

[2020-07-05 08:43] chainsawriot commented on #2437
suggestions for potential reviewers: pdwaggoner mbod

[2020-07-05 09:08] csaybar commented on #2272
@whedon generate pdf

[2020-07-05 09:08] whedon commented on #2272
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02272/joss.02272/10.21105.joss.02272.pdf)

[2020-07-05 10:24] snowformatics commented on #2259
Thanks everybody for taking the time to review our project!

@SirSharpest I will reconsider my tests for future projects in order to exclude integration tests with real world images. Thanks for the suggestion.

[2020-07-05 10:38] ivalaginja commented on #2281
@whedon generate pdf

[2020-07-05 10:41] whedon commented on #2281
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02281/joss.02281/10.21105.joss.02281.pdf)

[2020-07-05 10:44] ivalaginja commented on #2281
@danielskatz this should be ready now

[2020-07-05 11:24] arfon commented on #2049
:wave: @zbeekman - how are things coming along?

[2020-07-05 11:49] mih commented on #2277
Apparently, I failed to accept the invitation for this repo in time. Therefore I cannot edit the checklist at the moment. Is there a possibility to resend the invitation?

[2020-07-05 12:53] usethedata commented on #2284
@whedon set 0.0.15 as version

[2020-07-05 12:53] gorlapraveen commented on #2266
@edwardoughton Thanks for the changes. Looks great!
@danielskatz I also recommend for publishing.

[2020-07-05 12:53] whedon commented on #2284
OK. 0.0.15 is the version.

[2020-07-05 12:57] usethedata commented on #2284
@whedon set 10.5281/zenodo.3930366 as archive

[2020-07-05 12:57] whedon commented on #2284
OK. <a href="https://doi.org/10.5281/zenodo.3930366" target="_blank">10.5281/zenodo.3930366</a> is the archive.

[2020-07-05 12:58] usethedata commented on #2284
@whedon generate pdf

[2020-07-05 12:59] whedon commented on #2284
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02284/joss.02284/10.21105.joss.02284.pdf)

[2020-07-05 12:59] edwardoughton commented on #2266
Fantastic, thanks for the review @gorlapraveen.

[2020-07-05 13:19] kaibioinfo commented on #2411
I added three issues:

One rather major:
Current scope of the software is not clear from the paper (https://github.com/matchms/matchms/issues/95#issue-651066231)

And two minors:
Cosine similarity misses weighting and removal of precursor
https://github.com/matchms/matchms/issues/96#issue-651068504

Regular expression for molecular formulas is ambiguous
https://github.com/matchms/matchms/issues/94

[2020-07-05 13:38] usethedata commented on #2265
@whedon set 10.5281/zenodo.3930475 as archive

[2020-07-05 13:38] whedon commented on #2265
OK. <a href="https://doi.org/10.5281/zenodo.3930475" target="_blank">10.5281/zenodo.3930475</a> is the archive.

[2020-07-05 13:45] njtierney commented on #2379
Just touching base here, I'll review this article this week!

[2020-07-05 13:53] usethedata commented on #2265
@whedon generate pdf

[2020-07-05 13:53] whedon commented on #2265
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02265/joss.02265/10.21105.joss.02265.pdf)

[2020-07-05 14:15] usethedata commented on #2265
@whedon check references

[2020-07-05 14:16] whedon commented on #2265
[code]

[2020-07-05 14:16] usethedata commented on #2265
@whedon accept

[2020-07-05 14:16] whedon commented on #2265
[code]

[2020-07-05 14:16] whedon commented on #2265
[code]

[2020-07-05 14:16] whedon commented on #2265
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1538

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1538, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-05 14:43] awickert commented on #2276
@kbarnhart - I didn't accept the invite in time and it expired, so I cannot update the checklist. Can you re-send? (With apologies!)

I finished a first pass through, and will be able to add more material once I am able to compile the source code.

[2020-07-05 16:41] danielskatz commented on #2276
@whedon re-invite @awickert as reviewer

[2020-07-05 16:41] whedon commented on #2276
OK, the reviewer has been re-invited.

@awickert please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-07-05 16:43] danielskatz commented on #2277
@whedon re-invite @mih as reviewer

[2020-07-05 16:43] whedon commented on #2277
OK, the reviewer has been re-invited.

@mih please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-07-05 16:44] corybrunson commented on #2161
@TomKellyGenetics that's reasonable! Also, the package installs for me from CRAN, including the vignettes.

@majensen my concerns have been addressed and i have completed my review. : )

[2020-07-05 16:46] danielskatz commented on #2266
thanks @gorlapraveen!

[2020-07-05 16:48] danielskatz commented on #2266
@edwardoughton  - at this point, please:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g. figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata, this includes the title (should match the paper title) and author lis

[2020-07-05 16:51] danielskatz commented on #2281
Thanks - looks good!

[2020-07-05 16:52] danielskatz commented on #2281
@whedon accept

[2020-07-05 16:52] whedon commented on #2281
[code]

[2020-07-05 16:55] whedon commented on #2281
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1539

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1539, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-05 16:57] danielskatz commented on #2281
@whedon accept deposit=true

[2020-07-05 16:57] whedon commented on #2281
[code]

[2020-07-05 17:02] whedon commented on #2281
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1279822866922569734) 👈 🐦🐦🐦

[2020-07-05 17:02] whedon commented on #2281
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1540
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02281](https://doi.org/10.21105/joss.02281)
2. If everything looks g

[2020-07-05 17:03] danielskatz commented on #2265
@kloppen - I've suggested some small changes to the paper in https://github.com/ComtekAdvancedStructures/cmstatr/pull/20 - Once these are made/merged (or you let me know what you disagree with), we can finish the publishing of this work.

[2020-07-05 17:05] danielskatz commented on #2281
Thanks to @hayesla, @mattpitkin for reviewing!
And @xuanxu for editing!

Congratulations to @ivalaginja (Iva Laginja) and co-author!!

[2020-07-05 17:05] #2281 closed

[2020-07-05 17:05] whedon commented on #2281
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02281/status.svg)](https://doi.org/10.21105/joss.02281)

**We need your help!**

Journal of Open Source Softwa

[2020-07-05 17:13] ivalaginja commented on #2281
Thanks to everyone!!

[2020-07-05 17:15] whedon opened #2441 "[PRE REVIEW]: hebnoRms: Affect Norms for Hebrew"
**Submitting author:** @almogsi (<a href="http://orcid.org/0000-0003-2629-2913">Almog Simchon</a>)
**Repository:** <a href="https://github.com/almogsi/hebnoRms" target ="_blank">https://github.com/almogsi/hebnoRms</a>
**Version:** 0.2.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-1

[2020-07-05 17:15] whedon commented on #2441
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-05 17:15] whedon opened #2442 "[PRE REVIEW]: Datos: datasets translations to promote diversity, equity, and inclusion"
**Submitting author:** @pachamaltese (<a href="http://orcid.org/0000-0003-1017-7574">Mauricio Vargas</a>)
**Repository:** <a href="https://github.com/cienciadedatos/datos" target ="_blank">https://github.com/cienciadedatos/datos</a>
**Version:** 0.3.0.9000
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the chall

[2020-07-05 17:15] whedon commented on #2442
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-05 17:15] whedon commented on #2441
Failed to discover a `Statement of need` section in paper

[2020-07-05 17:15] whedon commented on #2441
[code]

[2020-07-05 17:15] whedon commented on #2441
Failed to discover a valid open source license.

[2020-07-05 17:15] whedon commented on #2441
[code]

[2020-07-05 17:15] whedon commented on #2442
[code]

[2020-07-05 17:15] whedon commented on #2441
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02441/joss.02441/10.21105.joss.02441.pdf)

[2020-07-05 17:16] whedon commented on #2442
PDF failed to compile for issue #2442 with the following error:

 Can't find any papers to compile :-(

[2020-07-05 17:18] danielskatz commented on #2442
👋 @pachamaltese - where is the paper associated with this software?  We expect in the software repository.  See https://joss.readthedocs.io/en/latest/submitting.html

[2020-07-05 17:25] danielskatz commented on #2282
👋 @aj2duncan & @mikerspencer - I'm just checking on your reviews and their progress again...

[2020-07-05 17:25] usethedata commented on #2284
@whedon generate pdf

[2020-07-05 17:26] whedon commented on #2284
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02284/joss.02284/10.21105.joss.02284.pdf)

[2020-07-05 17:26] danielskatz commented on #2352
👋 @bhatele & @davidbeckingsale - How are your reviews coming? Can you let us know your status?

[2020-07-05 17:39] usethedata commented on #2284
@whedon accept

[2020-07-05 17:39] whedon commented on #2284
[code]

[2020-07-05 17:39] whedon commented on #2284
[code]

[2020-07-05 17:40] whedon commented on #2284
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1541

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1541, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-05 17:58] anwarbio commented on #2402
Hi **@homonecloco**

Thank you for reviewing the package and your suggestions are really helpful in improving the package. I have made the below changes in github files. Once all are happy with contents, then I can go for an update on CRAN with all changes.

1. The API documentation (https://cran.r-project.org/web/packages/bioassays/bioassays.pdf) has the beginning looking incomplete or misformate

[2020-07-05 17:59] richardjgowers commented on #1992
@Sulstice the comment before about mentioning 4 classes but then listing 3 of them is still valid.

[2020-07-05 18:10] Ohlsen commented on #2417
@sbenthall sure
@whedon assign me as reviewer

[2020-07-05 18:13] Ohlsen commented on #2417
@whedon assign @Ohlsen as reviewer

[2020-07-05 18:13] whedon commented on #2417
I'm sorry @Ohlsen, I'm afraid I can't do that. That's something only editors are allowed to do.

[2020-07-05 18:29] danielskatz commented on #2441
👋 @almogsi - This is not a sufficient contribution to be reviewed and published by JOSS.  If your goal is to have this software cited, you might consider:

- Follow [GitHub's guide](https://guides.github.com/activities/citable-code/) on how to create a permanent archive and DOI for your software. This DOI can then be used by others to cite your work.
 - Enquire whether your software might be consi

[2020-07-05 18:30] danielskatz commented on #2441
@whedon reject

[2020-07-05 18:30] whedon commented on #2441
Paper rejected.

[2020-07-05 18:30] #2441 closed

[2020-07-05 18:52] danielskatz commented on #2284
@vsoch - I'm the AEiC on duty currently, and this mostly looks good to go.  One exception is the use of second person, which I would prefer to see as third person for a scientific article, as opposed to a tutorial or user documentation, where second person would be fine.  Would you be willing to change this?

[2020-07-05 18:59] ArdiaD commented on #2376
@emanuele-guidotti what would you say here?

[2020-07-05 19:00] ArdiaD commented on #2376
thx @will-rowe for following up!

[2020-07-05 19:01] vsoch commented on #2284
Sure! How would you like me to change it - refer to "the user?"

[2020-07-05 19:02] danielskatz commented on #2284
that's what I was thinking

[2020-07-05 19:03] ArdiaD commented on #2376
Hi @linuxscout. We have implemented a set of unit testing functions in the package. This is available here: https://github.com/covid19datahub/COVID19/tree/master/tests/testthat

We follow the standard practice in R, using testthat.

[2020-07-05 19:03] linuxscout commented on #2376
@ArdiaD  thanks

[2020-07-05 19:06] linuxscout commented on #2376
@will-rowe  I finished my review

[2020-07-05 19:06] ArdiaD commented on #2376
Thx @linuxscout for your review! This is much appreciated!

[2020-07-05 19:22] Kevin-Mattheus-Moerman commented on #2431
@whedon generate pdf

[2020-07-05 19:23] whedon commented on #2431
PDF failed to compile for issue #2431 with the following error:

 pandoc-citeproc: reference mitkof6 not found
Error producing PDF.
! TeX capacity exceeded, sorry [input stack size=5000].
\reserved@a ->\def \reserved@a
                               *{\let \@xs@assign \@xs@expand@and@detokenize...
l.371 }

Looks like we failed to compile the PDF

[2020-07-05 19:28] vsoch commented on #2284
okay, all set!

https://github.com/vsoch/gridtest/commit/b6e2eeda5affc196303bc282c8c5e88d01f87a76

@whedon generate pdf

[2020-07-05 19:39] danielskatz commented on #2284
@whedon generate pdf

[2020-07-05 19:40] whedon commented on #2284
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02284/joss.02284/10.21105.joss.02284.pdf)

[2020-07-05 19:44] danielskatz commented on #2284
One more fix - in line 153 of the source, "it's" should be "its"

[2020-07-05 19:44] geoffbacon commented on #2439
Thanks @danielskatz - I will have this done by Friday 10th July (PDT).

[2020-07-05 19:45] Kevin-Mattheus-Moerman commented on #2431
@romainmartinez can you check the reference mitkof6 mentioned in this error message? You can run `@whedon generate pdf` here to check if the paper compiles.

[2020-07-05 19:47] vsoch commented on #2284
Fixed! https://github.com/vsoch/gridtest/commit/ce4d3d1868482559a833072f15f47e61a7d97514

That particular word has always been trouble for me - thanks for the catch!

[2020-07-05 19:48] danielskatz commented on #2284
@whedon accept

[2020-07-05 19:48] whedon commented on #2284
[code]

[2020-07-05 19:49] whedon commented on #2284
[code]

[2020-07-05 19:49] whedon commented on #2284
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1542

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1542, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-05 19:50] danielskatz commented on #2284
@whedon accept deposit=true

[2020-07-05 19:50] whedon commented on #2284
[code]

[2020-07-05 19:51] whedon commented on #2284
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1279865437111693319) 👈 🐦🐦🐦

[2020-07-05 19:51] whedon commented on #2284
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1543
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02284](https://doi.org/10.21105/joss.02284)
2. If everything looks g

[2020-07-05 19:52] pachamaltese commented on #2442
@danielskatz Hi. Sorry, it was on a separate repo. I moved all together here: https://github.com/cienciadedatos/datos/blob/master/inst/paper.md

[2020-07-05 19:52] pachamaltese commented on #2442
@whedon generate pdf

[2020-07-05 19:53] whedon commented on #2442
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02442/joss.02442/10.21105.joss.02442.pdf)

[2020-07-05 19:55] vsoch commented on #2284
Woohoo!! Thank you @usethedata @khinsen @cbrueffer @whedon and @danielskatz - this was a lot of fun!

[2020-07-05 19:55] danielskatz commented on #2284
Thanks to @cbrueffer & @khinsen for reviewing, and @usethedata for editing!

And congratulations to @vsoch (Vanessa Sochat)!!

[2020-07-05 19:55] #2284 closed

[2020-07-05 19:55] whedon commented on #2284
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02284/status.svg)](https://doi.org/10.21105/joss.02284)

**We need your help!**

Journal of Open Source Softwa

[2020-07-05 19:57] whedon opened #2443 "[PRE REVIEW]: Grama: A Grammar of Model Analysis"
**Submitting author:** @zdelrosario (<a href="http://orcid.org/0000-0003-4676-1692">Zachary del Rosario</a>)
**Repository:** <a href="https://github.com/zdelrosario/py_grama" target ="_blank">https://github.com/zdelrosario/py_grama</a>
**Version:** v0.1.3
**Editor:** @mjsottile
**Reviewers:** @BastinRobin, @rodrigokataishi
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :wa

[2020-07-05 19:57] whedon commented on #2443
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-05 19:57] whedon commented on #2443
[code]

[2020-07-05 19:57] whedon commented on #2443
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02443/joss.02443/10.21105.joss.02443.pdf)

[2020-07-05 19:59] danielskatz commented on #2443
@whedon check references

[2020-07-05 20:00] Sulstice commented on #1992
@richardjgowers Sorry! I don't know what happened to that fix I had (maybe forgot to commit). I resolved your issue as well - passed tests and released a 1.1.6 release. Let me know if there is anything else!

[2020-07-05 20:02] danielskatz commented on #2443
@whedon check references

[2020-07-05 20:03] danielskatz commented on #2443
@openjournals/dev  - something seems broken here - the reference check does not return

[2020-07-05 20:03] danielskatz commented on #2443
👋 @zdelrosario - while we get the process started, you might fix some of the bib issues that you can see in the generated PDF related to cases (e.g., "AIAA scitec 2020 forum") by protecting words or letters in {}s and any other issues you see (such as Ward et al. missing the book/proceedings).  Once you have made changes in the .bib or .md files, add `@whedon generate pdf` as a new comment here to

[2020-07-05 20:04] zdelrosario commented on #2443
Suggested reviewers:

- rodrigo.kataishi
- bastinrobin
- jaeyk
- Lesaffre

[2020-07-05 20:05] danielskatz commented on #2443
👋 @mjsottile - would you be willing to edit this submission?

[2020-07-05 20:05] danielskatz commented on #2443
@whedon invited @mjsottile as editor

[2020-07-05 20:05] whedon commented on #2443
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-07-05 20:05] danielskatz commented on #2443
@whedon invite @mjsottile as editor

[2020-07-05 20:05] whedon commented on #2443
@mjsottile has been invited to edit this submission.

[2020-07-05 20:09] danielskatz commented on #2442
@pachamaltese - the paper does not appear to be complete - the Spanish parts in particular towards then have phrases that end with ...s

Additionally, it's not clear to me that this is research software. I have no doubt that it is useful software, but it seems more useful in education than in research. Can you explain what kinds of researchers you think would use this software (and would be likely

[2020-07-05 20:09] danielskatz commented on #2442
@whedon query scope

[2020-07-05 20:09] zdelrosario commented on #2443
@whedon generate pdf

@danielskatz working on broken references---still getting the hang of this (nifty!) submission system....

[2020-07-05 20:10] whedon commented on #2443
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02443/joss.02443/10.21105.joss.02443.pdf)

[2020-07-05 20:14] pachamaltese commented on #2442
@danielskatz Hi. With respect to the spanish parts, we wanted to summarise the article in spanish once this pre-submission is considered feasible. We have seen a lot of people using the datos package who are citing it in educational materials, as you mentioned. Here I'm looking for an opinion: Would you consider JOSE a better place?

[2020-07-05 20:57] kloppen commented on #2265
Thanks for your corrections, @danielskatz. I've merged your PR (and then made a subsequent commit to roll those changes into the R-Notebook that generates the paper.md file; that subsequent commit is [923157e](https://github.com/ComtekAdvancedStructures/cmstatr/commit/923157e278a6a97c81a82221d4eaf413e82b22b3)).

Please let me know if there is anything else I need to do as the author.

[2020-07-05 20:57] kloppen commented on #2265
@whedon generate pdf

[2020-07-05 20:58] whedon commented on #2265
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02265/joss.02265/10.21105.joss.02265.pdf)

[2020-07-05 21:11] danielskatz commented on #2442
If you want to discuss a submission, it would be better to use an pre-submission issue - https://github.com/openjournals/joss/issues/new?title=Pre-submission%20enquiry (as discussed in https://joss.theoj.org/about#submitting) rather than submitting to JOSS as a complete paper/submission.

I'm going to mark this as withdrawn for now, and suggest the discussion should be done in a pre-submission iss

[2020-07-05 21:11] danielskatz commented on #2442
@whedon withdraw

[2020-07-05 21:11] whedon commented on #2442
Paper withdrawn.

[2020-07-05 21:11] #2442 closed

[2020-07-05 21:14] danielskatz commented on #2265
@whedon accept

[2020-07-05 21:14] whedon commented on #2265
[code]

[2020-07-05 21:14] whedon commented on #2265
[code]

[2020-07-05 21:14] whedon commented on #2265
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1544

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1544, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-05 21:15] danielskatz commented on #2265
@whedon accept deposit=true

[2020-07-05 21:15] MAnalytics commented on #2379
Thank you very much. I appreciate it.

[2020-07-05 21:15] whedon commented on #2265
[code]

[2020-07-05 21:16] whedon commented on #2265
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1279886915332947969) 👈 🐦🐦🐦

[2020-07-05 21:16] whedon commented on #2265
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1545
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02265](https://doi.org/10.21105/joss.02265)
2. If everything looks g

[2020-07-05 21:20] danielskatz commented on #2265
thanks to

[2020-07-05 21:20] #2265 closed

[2020-07-05 21:20] whedon commented on #2265
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02265/status.svg)](https://doi.org/10.21105/joss.02265)

**We need your help!**

Journal of Open Source Softwa

[2020-07-05 21:40] mjsottile commented on #2259
@whedon generate pdf

[2020-07-05 21:40] whedon commented on #2259
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02259/joss.02259/10.21105.joss.02259.pdf)

[2020-07-05 21:58] mjsottile commented on #2259
It looks like the reviews are complete and we can proceed to final steps.  I did a pass over the paper and found a few minor issues that should take very little time to address.  They are listed in the project issue https://github.com/snowformatics/macrobot/issues/12.

Once you've addressed those I will submit the paper for final processing by the EIC team.

[2020-07-05 21:58] mjsottile commented on #2259
@whedon set 10.5281/zenodo.3929095 as archive

[2020-07-05 21:59] whedon commented on #2259
OK. <a href="https://doi.org/10.5281/zenodo.3929095" target="_blank">10.5281/zenodo.3929095</a> is the archive.

[2020-07-05 22:27] kloppen commented on #2265
I'd like to thank @JonasMoss, @myousefi2016, @usethedata and @danielskatz for volunteering their time. I really appreciate it!

[2020-07-05 23:38] mjsottile commented on #2426
:wave: @kaustubh-sadekar - In order to start the review process I need to identify 2-3 reviewers.  Do you have any that you would suggest before I look for some on my own?

[2020-07-05 23:47] mjsottile commented on #2443
@whedon assign @mjsottile as editor

[2020-07-05 23:47] whedon commented on #2443
OK, the editor is @mjsottile

[2020-07-06 00:02] 62442katieb commented on #2343
I would also like clarification on the authorship decisions. Thanks!

[2020-07-06 02:00] galessiorob commented on #2368
@whedon assign @mbdemoraes as reviewer

Thanks for volunteering to review Matheus!

[2020-07-06 02:00] whedon commented on #2368
OK, @mbdemoraes is now a reviewer

[2020-07-06 02:31] afrubin commented on #2353
This is a really nice piece of software that will be very useful for the DMS community. I have raised a few issues in the repository (links below), and will probably have a bit more to say once I finish putting a MaveDB dataset into dms-view using the provided instructions.

https://github.com/dms-view/dms-view.github.io/issues/157
https://github.com/dms-view/dms-view.github.io/issues/158
https://

[2020-07-06 03:00] majensen commented on #2161
@whedon check references

[2020-07-06 03:01] whedon commented on #2161
[code]

[2020-07-06 03:05] galessiorob commented on #2380
@whedon assign @jsgalan as reviewer

[2020-07-06 03:05] whedon commented on #2380
OK, @jsgalan is now a reviewer

[2020-07-06 03:06] majensen commented on #2161
@TomKellyGenetics - we're on the final leg of this journey.
* Can you review the "missing dois" noted in https://github.com/openjournals/joss-reviews/issues/2161#issuecomment-653989928 and add them to the MS?
* Can you create an open archive of the repo, ideally with the same name as that of the paper, and with the same authors, and provide the DOI of that archive here? [Zenodo](https://zenodo.org

[2020-07-06 03:09] majensen commented on #2044
@whedon remind @majensen in 5 days

[2020-07-06 03:09] whedon commented on #2044
Reminder set for @majensen in 5 days

[2020-07-06 04:53] cMadan commented on #2354
@pmkruyen, thanks for making those changes.

1. I think that should be fine now. JOSS submissions need to be released under an (unmodified) OSI license, but it's fine to have an additional copyright statement. (@openjournals/joss-eics, can you confirm this text is suitable?)

2. Thanks for including the screenshots in the README, I think it makes the app functions much clearer for new users.

3. I

[2020-07-06 06:08] sara-02 commented on #2246
Hey @trallard Do we wait for the others to be added or I can start the review process?

[2020-07-06 06:21] sarats commented on #2203
@poulson Yes, I can review. The Github notification got buried in rest of the noise.

[2020-07-06 06:27] snowformatics commented on #2259
@whedon generate pdf

[2020-07-06 06:27] whedon commented on #2259
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02259/joss.02259/10.21105.joss.02259.pdf)

[2020-07-06 06:51] kaustubh-sadekar commented on #2426
I would like to suggest NitinJSanket as a potential reviewer. Following is the link to his webpage: https://nitinjsanket.github.io/index.html

[2020-07-06 07:35] hugoledoux commented on #2305
@whedon generate pdf

[2020-07-06 07:36] whedon commented on #2305
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02305/joss.02305/10.21105.joss.02305.pdf)

[2020-07-06 07:36] hugoledoux commented on #2305
@whedon check references

[2020-07-06 07:37] whedon commented on #2305
[code]

[2020-07-06 07:37] hugoledoux commented on #2305
@whedon set 10.6084/m9.figshare.12608834.v1 as archive

[2020-07-06 07:37] whedon commented on #2305
OK. <a href="https://doi.org/10.6084/m9.figshare.12608834.v1" target="_blank">10.6084/m9.figshare.12608834.v1</a> is the archive.

[2020-07-06 07:38] hugoledoux commented on #2305
@whedon set v0.7.6 as version

[2020-07-06 07:38] whedon commented on #2305
OK. v0.7.6 is the version.

[2020-07-06 07:38] hugoledoux commented on #2305
@whedon accept

[2020-07-06 07:38] whedon commented on #2305
[code]

[2020-07-06 07:39] whedon commented on #2305
[code]

[2020-07-06 07:39] whedon commented on #2305
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1546

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1546, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-06 07:40] hugoledoux commented on #2305
Congratulations @giswqs  your submission is now accepted! Your paper will be handled and published in the near future.

Thanks to @fbiljecki  and @steflhermitte  for the reviews and feedback!

[2020-07-06 07:41] TomKellyGenetics commented on #2161
@majensen Thanks, that's great to hear! I've updated `paper.bib` to include the DOIs.

For the "archive" version, is a GitHub "release" okay? I've already tagged [version 1.0.0](https://github.com/TomKellyGenetics/graphsim/releases/tag/v1.0.0) which was released on CRAN. I've integrated Zenodo with package so a DOI: [10.5281/zenodo.3926914](https://zenodo.org/record/3926913#.XwLUOZMzbBU) has alrea

[2020-07-06 07:45] hugoledoux commented on #2272
@csaybar has https://github.com/r-spatial/rgee/issues/72 been completely solved? It seems yes but you left it open. It seems all reviewers are happy now, and if this issue is closed then we can move towards acceptance and the final steps.

[2020-07-06 08:00] mjsottile commented on #2259
@whedon check references

[2020-07-06 08:01] whedon commented on #2259
[code]

[2020-07-06 08:04] mjsottile commented on #2259
@snowformatics Looks like one final issue with one of the DOIs.  Can you fix that so I can issue the accept command?  I didn’t notice that when I did my final review of the paper earlier.

[2020-07-06 08:05] mjsottile commented on #2259
Thanks for your work on the review process @SirSharpest, @phckopper, @jizecn !

[2020-07-06 08:08] snowformatics commented on #2259
@whedon check references

[2020-07-06 08:08] whedon commented on #2259
[code]

[2020-07-06 08:10] mjsottile commented on #2259
@whedon accept

[2020-07-06 08:10] whedon commented on #2259
[code]

[2020-07-06 08:10] whedon commented on #2259
[code]

[2020-07-06 08:10] whedon commented on #2259
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1547

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1547, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-06 08:23] Kevin-Mattheus-Moerman commented on #2275
@YashBansod @podhrmic @horychen @epezent @JFDuval @sichkar-valentyn @kimukook would you be interested in reviewing this submission for [JOSS (The Journal of Open Source Software)](https://joss.theoj.org):
_gym-electric-motor (GEM): A Python toolbox for the simulation of electric drive systems_

The review takes place on GitHub and focuses on this short paper:
https://github.com/openjournals/joss-p

[2020-07-06 08:27] TomKellyGenetics commented on #2161
A new version has been released on Zenodo DOI [105281/zenodo.3931288](https://zenodo.org/record/3931288#.XwLfT5MzaCU) to correspond to the manuscript. This version has `zip` and `tar.gz` formats available for all files relevant to the paper and software release. This version is tagged with `1.0..0-joss`, the software is the same as the CRAN release with minor tweaks to the paper discussed above. H

[2020-07-06 08:34] hugoledoux commented on #2372
@whedon generate pdf

[2020-07-06 08:34] whedon commented on #2372
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02372/joss.02372/10.21105.joss.02372.pdf)

[2020-07-06 08:36] pmkruyen commented on #2354
Hi @cMadan, thanks for your reply.

1. To be sure: I searched for [at]openjournals/joss-eics, because I thought I had to check something. On rereading your response, I believe you would like the joss team to confirm your response? The link to [at]openjournals/joss-eics throws a 400 error however.

2. :)

3. Triggered by your MySQL suggestion, I'm now working on a example php script that can resear

[2020-07-06 08:40] JonasMoss commented on #2265
Congratulations! @kloppen 🎊 🎉

[2020-07-06 08:42] teamPSG commented on #2377
Hi @oliviaguest, have you received feedback on ETA from @Emma-k-ward and/or @trisbek? (The text editor doesn't auto-complete the mention for_trisbek_ for me -- does it mean anything?) Thanks!

[2020-07-06 08:46] trisbek commented on #2377
I have not been able to run anything on my house PC so I will check with
Samika later (she is in californian time) and let you know/
 tris

El lun., 6 jul. 2020 a las 9:42, teamPSG (<notifications@github.com>)
escribió:

[2020-07-06 08:53] hugoledoux commented on #2372
@rram84 I went over your changes and opened 2 small issues/PRs in your repo (https://bitbucket.org/rram/dvrlib/pull-requests/1 + https://bitbucket.org/rram/dvrlib/issues/3/pdf-small-issue). All the rest is working for me and I find the paper improved and clearer. I am happy and recommend acceptance.

[2020-07-06 08:59] trallard commented on #2246
Hey @sara-02 we do need at least 2 reviewers to move forward.

@xillig any chance you have had time to look at the list of potential reviewers?

[2020-07-06 09:29] edwardoughton commented on #2266
Thanks @danielskatz, I should now have completed those tasks. Please let me know if I missed anything.

DOI: 10.5281/zenodo.3931350

Zonodo link: https://zenodo.org/record/3931350#.XwLumihKh9M

[2020-07-06 09:31] agahkarakuzu commented on #2343
@grlee77 @62442katieb

Re: Contributions and authorship item

* Bruce Pike and Nikola Stikov (my advisor) are principal investigators of the research labs funding our project

* For the authorship, we thought maintainers, active contributors and PIs fit for the authorship. These are the contributors regularly joining our bi-weekly meetings. For clarity,  below is a brief breakdown of authorship ro

[2020-07-06 10:02] Luthaf commented on #2307
I agree with @mdavezac comment regarding compilation (https://github.com/openjournals/joss-reviews/issues/2307#issuecomment-648739993); and also recommend using CMake/Autotools/Meson to build Excimontec (my personal preference being for CMake). I don't mind the use of git submodules, if they are well integrated with the build system everything should be fine.

Since changing the build system can b

[2020-07-06 10:08] will-rowe commented on #2376
Thank you very much @linuxscout - it looks like you are happy with the submission.

[2020-07-06 10:10] will-rowe commented on #2376
@mbod - can you please let us know how you are getting on? If you are no longer able to review, please do let us know as I can sort out alternatives. I'll give you a couple of days to respond to this message

[2020-07-06 10:10] will-rowe commented on #2376
@whedon remind @will-rowe in two days

[2020-07-06 10:10] whedon commented on #2376
Reminder set for @will-rowe in two days

[2020-07-06 10:20] will-rowe commented on #2416
sure - sounds good @danielskatz

[2020-07-06 10:20] will-rowe commented on #2416
@whedon assign me as editor

[2020-07-06 10:20] whedon commented on #2416
OK, the editor is @will-rowe

[2020-07-06 10:21] will-rowe commented on #2416
Hey @happykhan - would you be interested in reviewing this JOSS submission?

[2020-07-06 10:25] will-rowe commented on #2416
Hi @abotzki - would you also be able to review this submission for JOSS?

[2020-07-06 11:51] danielskatz commented on #2266
@whedon set v1.1 as version

[2020-07-06 11:51] whedon commented on #2266
OK. v1.1 is the version.

[2020-07-06 11:51] danielskatz commented on #2266
@whedon set 10.5281/zenodo.3931350 as archive

[2020-07-06 11:51] whedon commented on #2266
OK. <a href="https://doi.org/10.5281/zenodo.3931350" target="_blank">10.5281/zenodo.3931350</a> is the archive.

[2020-07-06 11:52] danielskatz commented on #2266
@whedon generate pdf

[2020-07-06 11:53] whedon commented on #2266
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02266/joss.02266/10.21105.joss.02266.pdf)

[2020-07-06 11:55] marcosvital commented on #2222
Dear @jjharden and @joethorley

Would you be willing to review this submission for JOSS?
We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is still a pre-review, once there are enough reviewers, we will move on to a new issue where the review will take place.

If you are not able to review,

[2020-07-06 11:56] danielskatz commented on #2354
It seems fine

[2020-07-06 11:58] danielskatz commented on #2266
@whedon accept

[2020-07-06 11:58] whedon commented on #2266
[code]

[2020-07-06 11:58] whedon commented on #2266
[code]

[2020-07-06 11:58] whedon commented on #2266
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1548

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1548, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-06 11:59] samvanstroud commented on #2364
Hello @usethedata. Firstly thank you for editing this submission and for taking a first look. Here are some replies to your comments:

1 & 2. Thanks for pointing this out, we agree entirely the primary data source should be acknowledged. I've just updated the paper with acknowledgements for Landsat, Sentinel-2, and ERA5. Let me know if something is still missing.

3. This is a good point, and your

[2020-07-06 11:59] danielskatz commented on #2266
@whedon accept deposit=true

[2020-07-06 11:59] whedon commented on #2266
[code]

[2020-07-06 12:00] whedon commented on #2266
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1280109325328023553) 👈 🐦🐦🐦

[2020-07-06 12:00] whedon commented on #2266
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1549
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02266](https://doi.org/10.21105/joss.02266)
2. If everything looks g

[2020-07-06 12:04] hvgazula commented on #2166
Hi @kthyng and @cMadan FYI, I submitted my responses to the second reviewer as well last week and will not wait to hear from both the reviewers if they have any comments. Thanks!

[2020-07-06 12:04] danielskatz commented on #2266
Thanks to @gorlapraveen & @garrettj403 for reviewing!

Congratulations to @edwardoughton (Edward J. Oughton) and co-authors!!

[2020-07-06 12:04] #2266 closed

[2020-07-06 12:04] whedon commented on #2266
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02266/status.svg)](https://doi.org/10.21105/joss.02266)

**We need your help!**

Journal of Open Source Softwa

[2020-07-06 12:08] danielskatz commented on #2420
👋 @kyoustat - After discussion by the OSS editors, we have determined that is is out-of-scope for JOSS as a minor utility. See https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements

If your goal is to have this software cited, you might consider:

- Follow [GitHub's guide](https://guides.github.com/activities/citable-code/) on how to create a permanent archive and DOI for y

[2020-07-06 12:08] danielskatz commented on #2420
@whedon reject

[2020-07-06 12:08] whedon commented on #2420
Paper rejected.

[2020-07-06 12:08] #2420 closed

[2020-07-06 12:09] danielskatz commented on #2429
👋 @richardjgowers, @dhhagan - Would one of you be willing to edit this submission?

[2020-07-06 12:33] harpolea commented on #2438
@danielskatz I'd be happy to edit this submission!

[2020-07-06 12:34] harpolea commented on #2438
@whedon assign me as editor

[2020-07-06 12:34] whedon commented on #2438
OK, the editor is @harpolea

[2020-07-06 12:43] harpolea commented on #2438
Hi @lockepatton, thanks for your submission!

Do you have any suggestions for potential reviewers? If so, then please mention them here in this thread (without tagging them with an @). In addition, this [list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2020-07-06 12:51] sritchie commented on #2403
@lukasheinrich , if you go ahead and send me an email I can get you set up. @arokem got in touch, so I have a little guide written up for you both.

Cheers!
Sam

[2020-07-06 13:03] jjharden commented on #2222
Sorry, I am not able to review at this time. I just reviewed for JOSS and I am currently behind with reviews for other journals.

[2020-07-06 13:16] poulson commented on #2203
@whedon add @sarats as reviewer

[2020-07-06 13:16] whedon commented on #2203
OK, @sarats is now a reviewer

[2020-07-06 13:16] poulson commented on #2203
@whedon start review

[2020-07-06 13:16] whedon opened #2444 "[REVIEW]: TBFMM: A C++ generic and parallel fast multipole method library"
**Submitting author:** @berenger-eu (<a href="http://orcid.org/0000-0003-0281-9709">Bérenger Bramas</a>)
**Repository:** <a href="https://gitlab.inria.fr/bramas/tbfmm" target ="_blank">https://gitlab.inria.fr/bramas/tbfmm</a>
**Version:** v1.0
**Editor:** @poulson
**Reviewer:** @pitsianis, @Himscipy, @sarats
**Archive:** <a href="https://doi.org/10.5281/zenodo.4302384" target="_blank">10.5281/zeno

[2020-07-06 13:16] whedon commented on #2203
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2444.

[2020-07-06 13:16] #2203 closed

[2020-07-06 13:17] whedon commented on #2444
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @pitsianis, @Himscipy, @sarats it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post

[2020-07-06 13:17] whedon commented on #2444
[code]

[2020-07-06 13:18] whedon commented on #2444
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02444/joss.02444/10.21105.joss.02444.pdf)

[2020-07-06 13:30] xillig commented on #2246
hey @trallard, I think @ahurriyetoglu would be a good fit regarding the topic.

[2020-07-06 13:35] romainmartinez commented on #2431
@Kevin-Mattheus-Moerman I don't have any references for `mitkof6`, which seems to be the reviewer's username.

In the current issue (#2431), @mitkof6 is displayed with two `@` while @BKillen05 has only one.
Maybe the problem is here?

[2020-07-06 13:38] giswqs commented on #2305
@hugoledoux @fbiljecki @steflhermitte Thank you very much for taking the time to review the package. Much appreciated.

[2020-07-06 13:40] cMadan commented on #2354
@pmkruyen, sorry, I hadn't noticed that you had already suggested reviewers earlier on!

[2020-07-06 13:45] cMadan commented on #2354
@gcdeshpande @alletsee @andytwoods, would you be available and interested in reviewing this submission? Thanks for your consideration!

[2020-07-06 13:50] kthyng commented on #2018
@ali-ramadhan I'm sorry about the delay on reviewing your submission. I am going to remove the delinquent reviewer and find another to replace so we can finally move forward.

[2020-07-06 13:51] kthyng commented on #2018
@whedon remove @ysimillides as reviewer

[2020-07-06 13:51] whedon commented on #2018
OK, @ysimillides is no longer a reviewer

[2020-07-06 13:57] kthyng commented on #2018
@mancellin — would you be interested in reviewing this submission to JOSS? We already have one review completed but the other reviewer went MIA. You look like a good reviewer knowing Julia and related CFD.

[2020-07-06 13:57] kthyng commented on #2341
Hi @zsylvester, @ebgoldstein, just want to send a friendly ping to keep this review on your radar for the next few weeks. Thanks!

[2020-07-06 14:16] peanutfun commented on #2313
@pratikvn, thanks again for your comments! Let me answer them one by one...

The idea of the Cook Book section is to have real use-case examples, which will eventually cover all the (more technical) information given in the manual. I'm not entirely sure what you mean by "code and explanations". For the internals of the C++ code, we provide the [Doxygen documentation](https://hermes.iup.uni-heidelb

[2020-07-06 14:17] gcdeshpande commented on #2354
Yes

Thanks and Regards
Gajendra C. Deshpande
Assistant Professor, CSE@KLS.GIT
Belgaum - 590008
Karnataka, INDIA

Blog: http://gajendramoksha.wordpress.com
Website: http://sites.google.com/a/git.edu/gcd
Facebook: https://www.facebook.com/gcdeshpande

[http://csta.acm.org/Membership/sub/badge.jpg]

________________________________
From: Christopher Madan <notifications@github.com>
Sent: Monday, Jul

[2020-07-06 14:37] agahkarakuzu commented on #2343
@Kevin-Mattheus-Moerman I responded to the comments by @grlee77 and @62442katieb and addressed the issues raised in [qMRLab PR #399](https://github.com/qMRLab/qMRLab/pull/399) ([`joss_rev1`](https://github.com/qMRLab/qMRLab/pull/399) into `master`).

[2020-07-06 14:37] lnferris commented on #2433
For potential reviewers, I suggest (picking from the list of JOSS volunteers): chadagreene, mvdh7, or wingtorres.

[2020-07-06 14:43] cmaimone commented on #2273
@whedon start review

[2020-07-06 14:43] whedon commented on #2273
I'm sorry @cmaimone, I'm afraid I can't do that. That's something only editors are allowed to do.

[2020-07-06 14:43] sjpfenninger commented on #2311
Great, if you can do that, that's sufficient then!

[2020-07-06 14:44] cmaimone commented on #2273
@karthik can you start a review issue for this?

[2020-07-06 14:48] peanutfun commented on #2313
@pratikvn, @gassmoeller, I'm very happy about your feedback and suggestions! To move forward, I want to make sure we are keeping track of all issues you consider crucial for this review. We created a milestone listing all such issues and associated merge requests: https://ts-gitlab.iup.uni-heidelberg.de/dorie/dorie/-/milestones/6. Here's a checklist of your proposals that I understood to be requir

[2020-07-06 14:48] peanutfun commented on #2313
@whedon generate pdf from branch joss-paper

[2020-07-06 14:48] whedon commented on #2313
[code]

[2020-07-06 14:49] whedon commented on #2313
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02313/joss.02313/10.21105.joss.02313.pdf)

[2020-07-06 14:53] cmaimone commented on #2417
@sbenthall I can review

[2020-07-06 14:53] majensen commented on #2161
Should be fine @TomKellyGenetics

[2020-07-06 14:53] majensen commented on #2161
@whedon check references

[2020-07-06 14:54] majensen commented on #2161
I will do a quick proofread today - may engender a PR - just FYI @TomKellyGenetics

[2020-07-06 14:55] VivianePons commented on #2428
@whedon assign @daviddewhurst as reviewer

[2020-07-06 14:55] whedon commented on #2428
OK, @daviddewhurst is now a reviewer

[2020-07-06 15:27] arbennett commented on #2374
Hi @dhhagan, I am sorry but I am also unavailable to review this manuscript.

[2020-07-06 15:58] lockepatton commented on #2438
Hi @harpolea ! Thanks for volunteering to be the editor. Looking through the list, there are three people that stood out. On the audio / signal processing side, there's **expectopatronum** and **faroit**. On the astronomy side, there's **benjaminrose** who works with supernova. I'd lean towards an audio/signal processing reviewer as the astronomy side is purely motivation, but any/all would work!

[2020-07-06 16:02] happykhan commented on #2416
@will-rowe    . @mjsull is a good friend so I don't think its fair if I review it. I can suggest @leomrtns @lskatz @telatin or @thanhleviet

[2020-07-06 16:08] harpolea commented on #2438
Great, thanks!

:wave: @expectopatronum & @faroit, would either of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2020-07-06 16:11] kbarnhart commented on #2276
Thanks @danielskatz !

[2020-07-06 17:01] faroit commented on #2438
@harpolea with pleasure.

[2020-07-06 17:10] kbarnhart commented on #2361
@tylunel I wanted to follow up and see if you had any questions or clarifications about my comments.

[2020-07-06 17:19] harpolea commented on #2438
Thanks @faroit!

[2020-07-06 17:19] harpolea commented on #2438
@whedon assign @faroit as reviewer

[2020-07-06 17:19] whedon commented on #2438
OK, @faroit is now a reviewer

[2020-07-06 17:20] mwegrzyn commented on #2277
Dear colleagues,

my review of BrkRaw can be found here: https://github.com/BrkRaw/bruker/issues/22

Best regards,
Martin Wegrzyn

[2020-07-06 17:33] elDan101 commented on #2283
Hi @jsgalan,

sorry, that the installation seems to make trouble. Thank you for sharing the screenshots. From what I see of them, is that there is some problem with the package management. Referencing to the current [`requirements-dev.txt`](https://gitlab.com/datafold-dev/datafold/-/blob/master/requirements-dev.txt) file and the screenshots:

1. The `diffusion_maps` module which errors `ModuleNotF

[2020-07-06 17:39] grlee77 commented on #2343
Agreed, Re: commits not being an ideal measure of effort. I'm not sure in regards to JOSS policy, but given that it only seems to be a few additional contributors, it shouldn't be much work to invite them. I prefer to lean toward the side of being more inclusive rather than less. If they are uninterested or you do not receive a timely response, then do not include them among the primary authors, p

[2020-07-06 17:56] davidbeckingsale commented on #2352
@danielskatz - my checklist shows the tasks I have completed. I had some other priorities last week but will make more review progress this week.

[2020-07-06 18:18] lockepatton commented on #2438
Thanks @faroit for reviewing!

[2020-07-06 18:29] arbennett commented on #2264
@sbenthall - I am sorry, I'm not able to review this paper at this time.

[2020-07-06 18:57] dghoshal-lbl commented on #2401
@danielskatz @pibion Science Capsule has been built to support experimental, observation, and simulation workflows. Reproducibility and reusability are increasingly becoming critical for research experiments. Existing methods are ad-hoc and often do not include the associated metadata and processing information that is necessary for data to be usable. Science Capsule provides the foundation that i

[2020-07-06 18:57] joethorley commented on #2222
@marcosvital - I'm willing to review.

[2020-07-06 19:07] arfon commented on #2443
@whedon check references

[2020-07-06 19:08] majensen commented on #2161
@whedon check references

[2020-07-06 19:08] danielskatz commented on #2401
@dghoshal-lbl - I don't think you answered my question:

[2020-07-06 19:10] arfon commented on #2443
@danielskatz - looks like the DOI checker is failing to parse the lines that look [like this one](https://github.com/zdelrosario/py_grama/blob/master/paper.bib#L1-L2).

@zdelrosario - could you try removing the lines of your BibTeX file that start with `@comment`?

[2020-07-06 19:11] majensen commented on #2161
@whedon list commands

[2020-07-06 19:11] whedon commented on #2161
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-07-06 19:12] majensen commented on #2161
@whedon commands

[2020-07-06 19:12] whedon commented on #2161
Here are some things you can ask me to do:

[code]

[2020-07-06 19:24] sbenthall commented on #2417
@whedon assign @Ohlsen as reviewer

[2020-07-06 19:24] whedon commented on #2417
OK, @Ohlsen is now a reviewer

[2020-07-06 19:25] sbenthall commented on #2417
@whedon assign @cmaimone as reviewer

[2020-07-06 19:25] whedon commented on #2417
OK, @cmaimone is now a reviewer

[2020-07-06 19:26] sbenthall commented on #2264
@kauedesousa Would you able to review this paper?

[2020-07-06 19:26] sbenthall commented on #2264
@pedro-teles-fonseca Would you be able to review this paper?

[2020-07-06 19:27] sbenthall commented on #2417
@whedon start review

[2020-07-06 19:27] whedon opened #2445 "[REVIEW]: Extracting, Computing and Exploring the Parameters of Statistical Models using R"
**Submitting author:** @strengejacke (<a href="http://orcid.org/0000-0002-8895-3206">Daniel Lüdecke</a>)
**Repository:** <a href="https://github.com/easystats/parameters" target ="_blank">https://github.com/easystats/parameters</a>
**Version:** 0.8.3
**Editor:** @sbenthall
**Reviewers:** @cmaimone, @Ohlsen
**Archive:** <a href="https://doi.org/10.5281/zenodo.4004846" target="_blank">10.5281/zenodo

[2020-07-06 19:27] whedon commented on #2417
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2445.

[2020-07-06 19:27] #2417 closed

[2020-07-06 19:27] whedon commented on #2445
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @cmaimone it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.t

[2020-07-06 19:27] whedon commented on #2445
[code]

[2020-07-06 19:28] whedon commented on #2445
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02445/joss.02445/10.21105.joss.02445.pdf)

[2020-07-06 19:35] danielskatz commented on #2161
👋 @openjournals/dev - can you take a look at this?

[2020-07-06 19:40] expectopatronum commented on #2438
This package sounds very interesting! I'll go on vacation soon though and currently don't have the time to do any reviewing. I hope you'll find someone else!

[2020-07-06 19:41] arfon commented on #2161
@whedon check references

[2020-07-06 19:45] dpsanders commented on #2392
@MrMinimal64 I don't think we need to do anything about the versioning until the review is complete.

[2020-07-06 19:45] arfon commented on #2161
Looks like there's a typo in the BibTeX here: https://github.com/TomKellyGenetics/graphsim/blob/master/paper/paper.bib#L100 (the period needs removing).

I'm going to look at adding better error handling for the BibTeX parser in Whedon.

[2020-07-06 19:48] dpsanders commented on #2355
@even4void OK, thanks for the suggestion!

[2020-07-06 19:51] alletsee commented on #2354
Thanks for reaching out. Before deciding if I accept to review, I think it makes sense to discuss expectations regarding the programming languages. I have minimal experience with JavaScript and no experience with mobile app development. However, I think that my knowledge about survey research would be good enough to review the paper itself.

In essence, I'm not sure if it makes sense to review in

[2020-07-06 19:57] andytwoods commented on #2354
I am sorry. Afraid I can't review right now, due to childcare issues (7 and 3 year old) and full time jobs. Life's not fun at the moment. Apologies.

[2020-07-06 20:06] majensen commented on #2161
@arfon @danielskatz thanks for having a look - @TomKellyGenetics, can you have a look at the bibtex file per https://github.com/openjournals/joss-reviews/issues/2161#issuecomment-654430778 ?

[2020-07-06 20:18] pratikvn commented on #2313
Looks good to me. Thanks for adding the changes!

[2020-07-06 20:21] harpolea commented on #2438
@expectopatronum no worries, thanks for letting me know!

[2020-07-06 20:23] harpolea commented on #2438
:wave: @benjaminrose! Would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2020-07-06 20:54] zdelrosario commented on #2443
@arfon Done!

@whedon generate pdf

[2020-07-06 20:59] danielskatz commented on #2443
@whedon generate pdf

FYI: commands to whedon need to be at the start of a comment

[2020-07-06 21:00] arfon commented on #2161
@whedon check references

[2020-07-06 21:00] whedon commented on #2161
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "." (NAME) [#<BibTeX::Bibliography data=[8]>, "@", #<BibTeX::Entry >, {:author=>["Hawe, J. S.,  and Theis, F. J.,  and Heinig, M.,"], :title=>["{{I}nferring {I}nteraction {N}etworks {F}rom {M}ulti-{O}mics {D}ata}"], :journal=>["Front Genet"], :year=>["2019"], :volume=>["10"], :pages=>["535"], :doi=>["10.

[2020-07-06 21:00] whedon commented on #2443
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02443/joss.02443/10.21105.joss.02443.pdf)

[2020-07-06 21:00] danielskatz commented on #2443
@whedon check references

[2020-07-06 21:01] whedon commented on #2443
[code]

[2020-07-06 21:02] danielskatz commented on #2443
Looks like the problem has been solved.

@zdelrosario - there are some DOIs that you should probably add to your bib file (though note that whedon sometimes gets these wrong.  Also, the invalid ones need to have the "https://doi.org/" removed

[2020-07-06 21:03] Shuang-Plum commented on #2286
So sorry for the serious delay!!!!!!! @edwardando  I've updated my comments above. Overall, I really like it! I think the software is more powerful than what you've presented. I strongly recommend benchmarking it as it would show how good the software is and would attract more users. I don't think there is any major problem that definitely needs attention. All my comments are suggestions and you c

[2020-07-06 21:04] zdelrosario commented on #2443
@whedon check references

@danielskatz removed the `https` and added the UQLab doi. Thanks!

[2020-07-06 21:04] whedon commented on #2443
[code]

[2020-07-06 21:05] oliviaguest commented on #2339
Hey @Visdoom just a quick check in, what are you currently planning on working on for this? 😊

[2020-07-06 21:05] edwardando commented on #2286
Thanks very much for the review, and positive feedback!
We'll carefully go over all your comments tomorrow and report back here.

[2020-07-06 21:06] mikldk commented on #2306
@DominiqueMakowski @mmrabe @markhwhiteii : I am worried with the length of the paper. It is currently approx 2,500 words and <https://joss.readthedocs.io/en/latest/submitting.html> says "The paper should be between 250-1000 words.". The [issue](https://github.com/easystats/correlation/issues/96) did not track commits so it is difficult to follow what changes was made. I suggest that author reopens

[2020-07-06 21:06] oliviaguest commented on #2340
Hey @humanfactors — are you currently working on anything for this? ☺️

[2020-07-06 21:07] gassmoeller commented on #2313
Yes, looks good. Once the issues and merge requests in your milestone have been addressed I am ok with moving forward with this publication.

About your earlier questions about code style: Yes balancing consistency with upstream projects and readability is always an issue and there is no perfect solution. I appreciate that you started a discussion and are willing to consider changes, you as the de

[2020-07-06 21:07] oliviaguest commented on #2394
Hey @wjakethompson, @jflournoy can you give a rough ETA on your reviews, please? 🌼

[2020-07-06 21:08] mikldk commented on #2388
@rcannood Thanks for the update.

[2020-07-06 21:11] danielskatz commented on #2161
the author field appears to be wrong - it should be
"Hawe, J. S. and Theis, F. J. and Heinig, M."

[2020-07-06 21:11] pibion commented on #2363
@sambit-giri, does the following provide sufficient information for you to add your additional collaborator as an author?

[2020-07-06 21:15] pibion commented on #2363
@nicholebarry, @ziotom78 this is a reminder that we're asking our reviewers to aim to complete their checklist in about six weeks.  If you have an idea of what your time frame is for getting started, you can let me know and I can set a reminder with `whedon`.

[2020-07-06 21:17] arfon commented on #2161
Also, there's an issue with ` doi = {10.3389/fgene.2019.00535}.` <- the period needs removing on this line.

[2020-07-06 21:19] mikldk commented on #2383
@whedon assign me as editor

[2020-07-06 21:19] whedon commented on #2383
OK, the editor is @mikldk

[2020-07-06 21:22] mikldk commented on #2383
@nhejazi Thank you for your patience. I am editing this submission.

The references in the paper are not all properly typeset (lower/upper case letters). Can you please fix that?

Do you have any suggestions for reviewers or should I go ahead and search for reviewers?

[2020-07-06 22:05] nhejazi commented on #2383
Thank you for taking on editing of this submission, @mikldk.

We'll go ahead and fix the typos in the bibliography shortly. I don't have any suggestions for reviewers, probably best if you proceed with an initial selection.

[2020-07-06 22:19] LRamakrishnan commented on #2401
@danielskatz -  I guess we are a bit confused since we are trying to understand how exactly you define research software. ScienceCapsule is a toolkit that allows users to capture events related to their workflow. It is meant to be a user-level research software that complements science user’s scripts and tools. It is definitely not infrastructure software by design but presumably someone could set

[2020-07-06 22:49] jonwong12 commented on #2372
@rram84 I noticed that `DVRDIR` is required to run the executable otherwise in `Release` mode one will get segmentation faults. I have a small suggestion which is to reduce reliance in the tutorials on `DVRDIR` if possible. It's somewhat documented in the README.md that `DVRDIR` is necessary because of relative paths, I can see how it can be easy to miss in certain situations (reloading a shell en

[2020-07-06 22:59] jonwong12 commented on #2372
@rram84 I think it would also be beneficial to have the files in `help-*.md` available and built (either by default or with a CMAKE_OPTION) in the build directory. For `toy.cpp` you could use GTEST or just perform a simple check to make sure the output is within a particular tolerance. It would be beneficial to hook that up to `ctest` in cmake and use `make test` to run the test problems to very t

[2020-07-07 00:29] TomKellyGenetics commented on #2161
@whedon check references

[2020-07-07 00:30] TomKellyGenetics commented on #2161
@whedon generate pdf

[2020-07-07 00:30] whedon commented on #2161
PDF failed to compile for issue #2161 with the following error:

 Error reading bibliography ./paper.bib (line 357, column 1):
unexpected end of input
expecting "\"", "\\" or "{"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2020-07-07 00:34] TomKellyGenetics commented on #2161
@whedon generate pdf

[2020-07-07 00:34] TomKellyGenetics commented on #2161
@whedon check references

[2020-07-07 00:35] whedon commented on #2161
PDF failed to compile for issue #2161 with the following error:

 sh: 0: getcwd() failed: No such file or directory
sh: 0: getcwd() failed: No such file or directory
Error producing PDF.
! LaTeX Error: File `Plotsimple_graph-1' not found.

See the LaTeX manual or LaTeX Companion for explanation.
Type  H <return>  for immediate help.
 ...

l.588 ...eight=.375\linewidth]{Plotsimple_graph-1}

Looks l

[2020-07-07 00:35] whedon commented on #2161
[code]

[2020-07-07 00:46] arfon commented on #2161
@whedon generate pdf

[2020-07-07 00:47] whedon commented on #2161
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02161/joss.02161/10.21105.joss.02161.pdf)

[2020-07-07 00:49] TomKellyGenetics commented on #2161
Typos in references corrected. Just pushed updated PDF of figures. @majensen PRs welcome :-)

[2020-07-07 00:55] danielskatz commented on #2401
@LRamakrishnan - This might or might not be in scope for JOSS, but I'm still uncertain about this because the question I am asking, about how this will be cited by users, is still unclear to me.
Would you expect a user to cite this software in the methods section of their research paper?
Are there examples of users who have cited or discussed this software in their research papers?

For context, i

[2020-07-07 01:28] joglekara commented on #2182
I think we might be close...

@dpsanders, @TomGoffrey , @StanczakDominik , any other thoughts or comments to improve this even further?

[2020-07-07 01:30] TomGoffrey commented on #2182
@whedon generate pdf

[2020-07-07 01:30] whedon commented on #2182
PDF failed to compile for issue #2182 with the following error:

 Error producing PDF.
! Missing $ inserted.
<inserted text>
                $
l.484 where \$v\_0 = \int

Looks like we failed to compile the PDF

[2020-07-07 01:46] DominiqueMakowski commented on #2306
Thanks @mikldk for your feedback. We'll try shortening it. However, note that the current length and format of the paper was mostly inspired by the previous JOSS papers of the other easystats papers (https://joss.theoj.org/papers/10.21105/joss.01541; https://joss.theoj.org/papers/10.21105/joss.01412) which length also exceeds the said recommendation. Our concern is that the paper is typically aime

[2020-07-07 01:51] joglekara commented on #2182
@whedon commands

[2020-07-07 01:51] whedon commented on #2182
Here are some things you can ask me to do:

[code]

[2020-07-07 01:51] joglekara commented on #2182
@whedon generate pdf from branch paper

[2020-07-07 01:51] whedon commented on #2182
[code]

[2020-07-07 01:52] whedon commented on #2182
PDF failed to compile for issue #2182 with the following error:

 error: pathspec 'paper' did not match any file(s) known to git.
Error producing PDF.
! Missing $ inserted.
<inserted text>
                $
l.484 where \$v\_0 = \int

Looks like we failed to compile the PDF

[2020-07-07 02:00] joglekara commented on #2182
@whedon generate pdf from branch origin/paper

[2020-07-07 02:00] whedon commented on #2182
[code]

[2020-07-07 02:00] whedon commented on #2182
PDF failed to compile for issue #2182 with the following error:

 Error producing PDF.
! Missing $ inserted.
<inserted text>
                $
l.484 where \$v\_0 = \int

Looks like we failed to compile the PDF

[2020-07-07 02:01] joglekara commented on #2182
Sorry all, please let me know if you have a better way of debugging this!

@whedon generate pdf from branch origin/paper

[2020-07-07 02:02] joglekara commented on #2182
@whedon generate pdf from branch origin/paper

[2020-07-07 02:02] whedon commented on #2182
[code]

[2020-07-07 02:03] whedon commented on #2182
PDF failed to compile for issue #2182 with the following error:

 error: pathspec 'origin/paper
' did not match any file(s) known to git.
error: pathspec 'origin/paper
' did not match any file(s) known to git.
Error producing PDF.
! Missing $ inserted.
<inserted text>
                $
l.484 where \$v\_0 = \int

Looks like we failed to compile the PDF

[2020-07-07 02:03] joglekara commented on #2182
@whedon generate pdf from branch origin/paper

[2020-07-07 02:03] whedon commented on #2182
[code]

[2020-07-07 02:04] whedon commented on #2182
PDF failed to compile for issue #2182 with the following error:

 Error producing PDF.
! Missing $ inserted.
<inserted text>
                $
l.491 distribution and \$v\_\{t\} = \int

Looks like we failed to compile the PDF

[2020-07-07 02:05] dpsanders commented on #2182
At a guess, try removing the comma and space at the end of  `$v_0 = \int v^2 f(x,v) dv, $`.
The procedure of parsing the LaTeX equations out of the markdown source is delicate.

Also cc-ing @arfon since

`@whedon generate pdf from branch paper`

[didn't seem to work](https://github.com/openjournals/joss-reviews/issues/2182#issuecomment-654553805)

[2020-07-07 02:05] dpsanders commented on #2182
Also @arfon, is there an easy way of compiling the PDF locally to iron out these things?

[2020-07-07 02:07] joglekara commented on #2182
i actually think it's unable to render `$\int$` inline, it seems to move on to the next inline `$\int$` call and get stuck there when i remove the first one. I'm pushing a version with all integrals in their `$$` blocks

[2020-07-07 02:08] joglekara commented on #2182
@whedon generate pdf from branch origin/paper

[2020-07-07 02:08] whedon commented on #2182
[code]

[2020-07-07 02:08] whedon commented on #2182
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02182/joss.02182/10.21105.joss.02182.pdf)

[2020-07-07 02:11] dpsanders commented on #2182
I suggest using vector graphics (PDF) in the figures rather than PNG, if possible, so that the resolution is higher.

[2020-07-07 02:12] majensen commented on #2161
Hi @TomKellyGenetics - well, it's a very clearly written paper, and I enjoyed going through it again. The only tiny thing I would have done is remove the second comma in this snippet at (raw) line 137 in paper.md:

`studies, as well as, bulk`

i.e., "studies, as well as bulk...".

Not worth a PR, IMO. I will see if I can cause the editor-in-chief to manifest him/herself.

[2020-07-07 02:15] majensen commented on #2161
@whedon set v1.0.0-joss as version

[2020-07-07 02:16] whedon commented on #2161
OK. v1.0.0-joss is the version.

[2020-07-07 02:16] majensen commented on #2161
@whedon set 10.5281/zenodo.3931288 as archive

[2020-07-07 02:16] whedon commented on #2161
OK. <a href="https://doi.org/10.5281/zenodo.3931288" target="_blank">10.5281/zenodo.3931288</a> is the archive.

[2020-07-07 02:17] majensen commented on #2161
@whedon accept

[2020-07-07 02:17] whedon commented on #2161
[code]

[2020-07-07 02:17] whedon commented on #2161
[code]

[2020-07-07 02:17] whedon commented on #2161
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1550

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1550, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-07 02:24] joglekara commented on #2182
@whedon generate pdf from branch origin/paper

[2020-07-07 02:24] whedon commented on #2182
[code]

[2020-07-07 02:25] whedon commented on #2182
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02182/joss.02182/10.21105.joss.02182.pdf)

[2020-07-07 02:31] joglekara commented on #2182
Had to convert one more plot.

@whedon generate pdf from branch origin/paper

[2020-07-07 02:39] joglekara commented on #2182
@whedon generate pdf from branch origin/paper

[2020-07-07 02:39] whedon commented on #2182
[code]

[2020-07-07 02:40] whedon commented on #2182
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02182/joss.02182/10.21105.joss.02182.pdf)

[2020-07-07 02:47] humanfactors commented on #2340
Hi @oliviaguest, I assume you mean in terms of package?

Currently, we are not working on any features beyond bug fixes, and will likely remain like this for a couple of months. There are future development plans to extend the modelling interface (potentially), improve theming of the plots, and incorporate an additional model. However, this is likely to be based on demand, resources, and package r

[2020-07-07 03:57] TomKellyGenetics commented on #2161
@majensen Thanks, I agree to this change so I've pushed a correction.

I think I've got this in time to be compiled in the final submission.

[2020-07-07 04:26] WilkAndy commented on #2176
Hi @jedbrown .   I've just submitted a PullRequest to MOOSE for the changes you request above.   Perhaps you'd like to review the changes there?   https://github.com/idaholab/moose/pull/15540

- Regarding the equations: I've included some, although we wanted this paper to be readable by a more general audience, so have included the equations towards the end of the paper.

- Regarding comparisons w

[2020-07-07 04:41] LRamakrishnan commented on #2401
@danielskatz - Thanks! I did read the submission requirements earlier. It is a good question. I would expect people to cite this in the methods section of their paper, if they were to use it. But nope, we do not have an example yet.

[2020-07-07 06:41] mancellin commented on #2018
Sure, I can do that. It looks like an interesting work.

[2020-07-07 07:05] kauedesousa commented on #2264
Yes @sbenthall but I only provide my feedback in the first week of August. Is that OK?

[2020-07-07 07:13] oliviaguest commented on #2340
Ah, cool. I was wondering for this JOSS paper specifically, but that all sounds very organised — nice. Have you all @craddm, @anibalsolon, @humanfactors discussed what needs to be done for this to have all boxes ticked/checked above? ☺️

[2020-07-07 08:11] will-rowe commented on #2416
Thanks @happykhan - and thank you very much for the suggestions. @leomrtns, @lskatz and @telatin - would any of you be able to review this (even better if two of you could). I think this looks like a really useful tool for our field and it would be great to get your takes on it.

[2020-07-07 08:32] mikldk commented on #2383
@wrathematics, @tianxzhu: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.