[2021-03-25 18:05] luizirber commented on #2991
@esteinig I don't see any problems in delaying a bit, thesis work is hard. Good luck!

Just checking with @openjournals/joss-eics if there is any specific whedon command or tag to be added to show that this submission is paused, or just leave as-is.

[2021-03-25 18:43] msalibian commented on #2992
@mikldk The release is v2.1.0 and the DOI is [10.5281/zenodo.4637759](https://doi.org/10.5281/zenodo.4637759).

[2021-03-25 18:43] arfon commented on #2991
We just add the `paused` label in situations like this. I'll add it now...

[2021-03-25 19:02] sdparsons commented on #3041
Thanks @oliviaguest, music to my ears :)
Hi everyone, thank you so much for the through review!
I have begun revising based on the issues raised, notes on changes below:
- improved the runtime figure (added seconds, improved the legend and facet labels)
- made minor corrections, including correcting the installed version number to 0.7.2
- the speedtestdata.csv now has variable headings and loads c

[2021-03-25 19:52] prdm0 commented on #2769
@timtroendle, do I need to proceed with anything else or all the steps from now on just depend on other people? Best regards.

[2021-03-25 21:56] fduchatea commented on #2805
@galessiorob @omshinde @nuest @martinfleis: we are happy to tell you that Predihood now runs using Docker.
Following are the commands for the first run:
[code]
Note that the first run takes a few minutes (due to the data loading part), but next ones (using only `docker-compose up`) are fast.

The README file has been updated accordingly (we also kept the manual installation).

As Rajat suggested,

[2021-03-25 22:29] TheoChristiaanse commented on #2677
It works on my end.

[2021-03-25 22:31] jni commented on #3098
Hi @tmaric and @wolfv, just a kind ping to make sure this doesn't fall completely by the wayside. All good if you haven't had time yet. 😊

[2021-03-25 22:34] eloisabentivegna commented on #3099
@whedon generate pdf from branch joss-paper

[2021-03-25 22:34] whedon commented on #3099
[code]

[2021-03-25 22:36] whedon commented on #3099
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03099/joss.03099/10.21105.joss.03099.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03099/joss.03099/10.21105.joss.03099.pdf) :page_facing_up: :point_left:

[2021-03-25 22:57] TheoChristiaanse commented on #2677
@whedon accept deposit=true

[2021-03-25 22:57] whedon commented on #2677
I'm sorry @TheoChristiaanse, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2021-03-25 23:09] TheoChristiaanse commented on #2677
@whedon accept

[2021-03-25 23:09] whedon commented on #2677
I'm sorry @TheoChristiaanse, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-03-25 23:09] TheoChristiaanse commented on #2677
@whedon generate pdf

[2021-03-25 23:10] whedon commented on #2677
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02677/joss.02677/10.21105.joss.02677.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02677/joss.02677/10.21105.joss.02677.pdf) :page_facing_up: :point_left:

[2021-03-25 23:21] TheoChristiaanse commented on #2677
@whedon generate pdf

[2021-03-25 23:23] whedon commented on #2677
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02677/joss.02677/10.21105.joss.02677.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02677/joss.02677/10.21105.joss.02677.pdf) :page_facing_up: :point_left:

[2021-03-25 23:26] TheoChristiaanse commented on #2677
@whedon generate pdf

[2021-03-25 23:27] TheoChristiaanse commented on #2677
I've removed the doi from scikit learn. I used the bibtex from the scikit learn website: https://scikit-learn.org/stable/about.html#citing-scikit-learn

[2021-03-25 23:27] whedon commented on #2677
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02677/joss.02677/10.21105.joss.02677.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02677/joss.02677/10.21105.joss.02677.pdf) :page_facing_up: :point_left:

[2021-03-25 23:32] TheoChristiaanse commented on #2677
https://zenodo.org/record/4638214

I've uploaded a new version 2.1.2 with the changes. https://gitlab.com/energyincities/besos/-/tags/v2.1.2

Azin's paper has also been published now, so I updated the bibtex again to include the new information.

[2021-03-26 01:04] KevinShook commented on #2276
@whedon check references

[2021-03-26 01:05] whedon commented on #2276
[code]

[2021-03-26 01:06] KevinShook commented on #2276
I added the missing DOIs

[2021-03-26 04:23] henrykironde commented on #3040
@yarongvili1 I do recommend that we get some tests on at least one of the other referenced tools.

[2021-03-26 07:24] dbkeitel commented on #3000
@danielskatz I was wondering if there's a standard way to link to a package's ASCL entry in the left sidebar of the article, or if the easiest is to include it in the acknowledgments?

[2021-03-26 07:27] timtroendle commented on #2769
Nothing you need to do at this point, @prdm0. The editor in chief will take this forward. Please give us some time to handle the final steps.

[2021-03-26 08:09] vissarion commented on #3092
It makes sense to ask for a statement of need both in the documentation and in the JOSS paper but I agree that the text in the checklist should be changed. Of course this would not affect the current review process. I propose to threat each "statement of need" check boxes separately, i.e. one for documentation and one for the paper. Thanks for mentioning this @corybrunson.

[2021-03-26 09:05] gaelforget commented on #2813
Many thanks @milankl , not only for this great application example but also for the time you spent on this review and the feedback you provided, which has led to major improvements of the package I feel. Please do continue to raise issues in the repo whenever needed. Thanks again

[2021-03-26 09:17] gaelforget commented on #2813
Hi @kthyng

Am not sure what the next steps are but hoping we are close to completing the process. Please let me know if there is something else I should do at this stage. Thank you in advance

[2021-03-26 09:57] danielskatz commented on #3000
Could you use a reference? I don't think we can use the left column for this. Maybe @arfon will gave another suggestion?

[2021-03-26 10:05] fabian-s commented on #3092
As far as I'm concerned, this is good to go now.

[2021-03-26 10:46] arfon commented on #3000
I'm afraid we can't support custom content in the left-hand column but you're welcome to add it as an explicit callout in the text (i.e., an acknowledgment) or cite directly as @danielskatz suggests.

[2021-03-26 11:10] dbkeitel commented on #3000
Thanks both for checking, I'll just add it as suggested.

Also we'll be merging a few small infrastructure fixes/improvements soon (including codecov integration as suggested by @RobertRosca ), then make another release, and then would be ready for publication.

[2021-03-26 11:14] kuadrat commented on #2969
Dear @Chilipp and @sabinomaggi ,
I have now addressed all of the issues that have been opened during the review process so far and referenced them in the respective commits. In an attempt to reduce spam, I have not left additional comments in the issue trackers, hoping that the commit messages and ``diff``s will be self-explanatory. Do not hesitate to ask for explanations or specifications should

[2021-03-26 12:15] dhhagan commented on #2890
@whedon set 10.5281/zenodo.4628567 as archive

[2021-03-26 12:15] whedon commented on #2890
OK. <a href="https://doi.org/10.5281/zenodo.4628567" target="_blank">10.5281/zenodo.4628567</a> is the archive.

[2021-03-26 12:15] dhhagan commented on #2890
@whedon set v1.3.5 as version

[2021-03-26 12:15] whedon commented on #2890
OK. v1.3.5 is the version.

[2021-03-26 12:16] dhhagan commented on #2890
@whedon accept

[2021-03-26 12:16] whedon commented on #2890
[code]

[2021-03-26 12:17] whedon commented on #2890
[code]

[2021-03-26 12:17] whedon commented on #2890
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2161

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2161, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-03-26 12:32] dhhagan commented on #3110
Hi @DrDaveShaw - thank you so much for your submission to JOSS and I apologize for taking so long to get to this. Before I go ahead and find reviewers, I had a few questions/comments/suggestions:

1. It may be worth going through the README and fixing some of the typos
2. You are missing a few required parts of the paper such as the **statement of need* - it might be a good idea to look over a cou

[2021-03-26 13:23] lpantano commented on #3021
It is a good suggestion, @mwaskom, would you mind to add the version used on the paper under the example section? Not all the papers show code, so there is no mandatory rule, and it should hurt to  have it. Thanks @Sara-ShiHo for the sugestion.

[2021-03-26 13:37] mwaskom commented on #3021
@whedon generate pdf from branch joss_paper

[2021-03-26 13:37] whedon commented on #3021
[code]

[2021-03-26 13:38] mwaskom commented on #3021
Done! Here's the diff: https://github.com/mwaskom/seaborn/commit/4867bd153881222b2846b7c07929793c10c4d462

[2021-03-26 13:38] whedon commented on #3021
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03021/joss.03021/10.21105.joss.03021.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03021/joss.03021/10.21105.joss.03021.pdf) :page_facing_up: :point_left:

[2021-03-26 15:07] fboehm commented on #3001
@wehdon set version v3.1.0

[2021-03-26 15:08] fboehm commented on #3001
@whedon set v3.1.0 as version

[2021-03-26 15:08] whedon commented on #3001
OK. v3.1.0 is the version.

[2021-03-26 15:09] fboehm commented on #3001
@whedon set 10.5281/zenodo.4636924 as archive

[2021-03-26 15:09] whedon commented on #3001
OK. <a href="https://doi.org/10.5281/zenodo.4636924" target="_blank">10.5281/zenodo.4636924</a> is the archive.

[2021-03-26 15:10] fboehm commented on #3001
@whedon accept

[2021-03-26 15:10] whedon commented on #3001
[code]

[2021-03-26 15:12] whedon commented on #3001
PDF failed to compile for issue #3001 with the following error:

 Can't find any papers to compile :-(

[2021-03-26 15:17] fboehm commented on #3001
@whedon accept from branch joss-paper

[2021-03-26 15:17] whedon commented on #3001
[code]

[2021-03-26 15:17] fboehm commented on #2995
Thank you, @mponce0 . Now that your submission is ready for publication, would you please create an archive - on Figshare or Zenodo - and a new release on Github? Please report in this thread the version number for the new release and the doi for the archive. When creating the archive, please be certain to use the same title and author list (and ordering) as in the submission paper.

Here is a lin

[2021-03-26 15:19] whedon commented on #3001
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2162

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2162, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-03-26 15:25] whedon commented on #3001
[code]

[2021-03-26 15:48] yarongvili1 commented on #3040
Looking at [K2SN-MSS repository](https://github.com/anon1985/K2SN-MSS/) linked from the [K2SN-MSS paper](https://eprint.iacr.org/2019/442.pdf), I see it does not have build instructions nor build scripts. A quick attempt I made to build the code failed with lots of compilation errors. I'll see what I can do.

Note that the other implementation, which is the original one, does not support AVX2 and

[2021-03-26 15:59] sachsmc commented on #3132
@mikldk I don't have the time to do it at the moment, but I can recommend one of my students to review this submission. I will help guide them through the process, so if that is OK with you please assign @gjo11 as a reviewer.

[2021-03-26 16:05] JohannesBuchner commented on #3001
I saw in the proof that there is a parenthesis issue near where MLFriends is mentioned, which swallowed a reference. I pushed this commit: https://github.com/JohannesBuchner/UltraNest/commit/50a5b5d60cf7cd881f87a457890dafc59217836f
Otherwise, I think it is all good.

[2021-03-26 16:15] pitsianis commented on #3100
I will do it

[2021-03-26 16:17] poulson commented on #3100
Thank you Nikos!

[2021-03-26 16:17] danielskatz commented on #3129
👋 @jarrah42 - would you be able to review this submission for JOSS?

[2021-03-26 16:17] poulson commented on #3100
@whedon add @pitsianis as reviewer

[2021-03-26 16:17] whedon commented on #3100
OK, @pitsianis is now a reviewer

[2021-03-26 16:17] danielskatz commented on #3129
👋 @cedricchevalier19 - would you be able to review this submission for JOSS?

[2021-03-26 16:18] poulson commented on #3100
Hi Siva (@sivaramambikasaran) :wave: -- I wanted to circle back to see if you might have time to serve as a reviewer for this submission on high-performance FMM. We have two reviewers, but three is always preferred and I believe you would provide helpful feedback.

[2021-03-26 16:56] atrisovic commented on #2484
Hi All!

The project looks very interesting! Here are my throughs while reviewing it.

## Software

1. This needs to be updated in the documentation:

[code]

`git clone https://bitbucket.org/sciencecapsule/sciencecapsule.git` -- worked

2. Link for webui: https://bitbucket.org/sciencecapsule/sciencecapsule/src/5aae0611fdf23a34df444e3c7fb6dc3fba67614a/docs/docs/webui.md in https://bitbucket.org/sc

[2021-03-26 17:06] mponce0 commented on #2995
Many thanks @fboehm
Here is the information requested:
* ver: 2.1.0
* Zenodo DOI: https://doi.org/10.5281/zenodo.4640307

[2021-03-26 17:28] yc015 commented on #2980
@gkthiruvathukal Hello! Just in case that dr-xenia also has a tight schedule, I would suggest elektrobohemian and macrocosme for reviewing our submission. Thank you!

[2021-03-26 17:51] gkthiruvathukal commented on #2980
@yc015 Thank you. Even things got insanely busy over there. Apologies for the delay in following up.

@elektrobohemian or @macrocosme, just wondering whether either of you can help review this JOSS submission? I think I have asked macrocosme recently but perhaps your workload has eased up a bit now!

Please let me know so I can get review started.

[2021-03-26 18:17] dghoshal-lbl commented on #2484
@atrisovic Thank you for the review comments. I am going to fix the broken links in the docs (must be a result of some merge) and address your comments in the paper.

Regarding the error, can you provide some more details on the command you ran? Looks like there was no directory specified in the command that Science Capsule could monitor. Did you add the monitored directories during bootstrap as s

[2021-03-26 18:56] dghoshal-lbl commented on #2484
@atrisovic Also for 1. unable to clone git through ssh- you have to ensure that your public key is added into your git account so that you can access github through ssh.

[2021-03-26 19:35] kthyng commented on #3128
@whedon assign me as editor

[2021-03-26 19:35] whedon commented on #3128
OK, the editor is @kthyng

[2021-03-26 19:36] kthyng commented on #3128
@cheginit sorry for my delay! I'll be handling your submission as editor. I'll pick this up next week.

[2021-03-26 20:16] whedon commented on #3099
:wave: @eloisabentivegna, please update us on how your review is going (this is an automated reminder).

[2021-03-26 20:16] whedon commented on #3099
:wave: @yurlungur, please update us on how your review is going (this is an automated reminder).

[2021-03-26 20:16] atrisovic commented on #2484
Ah yes, that fixed the error! I was mechanically copying the instructions without thinking about the `workdir`. I'll update the review above.

[2021-03-26 21:18] kthyng commented on #2813
@gaelforget Ack, sorry. I have been experimenting with labeling my email and I was too effective in hiding away my JOSS emails. Oops!

I see that both reviewers are satisfied with your submission, so I will go through some final steps now.

[2021-03-26 21:18] kthyng commented on #2813
@whedon generate pdf from branch josspaper

[2021-03-26 21:18] whedon commented on #2813
[code]

[2021-03-26 21:19] whedon commented on #2813
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02813/joss.02813/10.21105.joss.02813.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02813/joss.02813/10.21105.joss.02813.pdf) :page_facing_up: :point_left:

[2021-03-26 21:22] kthyng commented on #2813
@gaelforget What version do you want associated with this submission? Should it be updated?

Also, please archive your software at a place like Zenodo and check back here with the doi they give you. Please modify the metadata of the archive so that the title and author list exactly match your JOSS submission.

[2021-03-26 21:24] cheginit commented on #3128
@kthyng no problem, thank you. Looking forward to it!

[2021-03-26 21:31] kthyng commented on #2813
@gaelforget A few things in your paper to fix. Let me know if you have questions:

1. Please check all of your inline references. If they are not meant to be parenthetical, leave off the [] around the reference so they are not parenthetical. This comes up a lot in the paper.
2. Check how you refer to the languages and other items through the paper. "Fortran" for example is all lower case one place

[2021-03-26 21:31] kthyng commented on #2813
@whedon check references

[2021-03-26 21:36] kthyng commented on #2813
@whedon check references from branch josspaper

[2021-03-26 21:36] whedon commented on #2813
[code]

[2021-03-26 21:36] whedon commented on #2813
[code]

[2021-03-26 21:37] kthyng commented on #2813
@gaelforget also fix that invalid doi please

[2021-03-26 21:38] nilskroell commented on #3091
👋 @tuelwer,

I am more than happy to announce, that after several days of refactoring and coding I have finally addressed all your issues and released an substancial improvement to `imea` (now `v0.3.0`).

More specificially, the following points have been adressed:
- **Documentation** ([issue 48](https://git.rwth-aachen.de/ants/sensorlab/imea/-/issues/48)): A HTML documentation including an API re

[2021-03-26 21:39] nilskroell commented on #3091
@whedon commands

[2021-03-26 21:39] whedon commented on #3091
Here are some things you can ask me to do:

[code]

[2021-03-26 21:39] nilskroell commented on #3091
@whedon generate pdf

[2021-03-26 21:40] whedon commented on #3091
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03091/joss.03091/10.21105.joss.03091.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03091/joss.03091/10.21105.joss.03091.pdf) :page_facing_up: :point_left:

[2021-03-26 21:40] nilskroell commented on #3091
@whedon check references

[2021-03-26 21:40] whedon commented on #3091
[code]

[2021-03-26 21:44] nilskroell commented on #3091
@whedon check repository

[2021-03-26 21:44] whedon commented on #3091
[code]

[2021-03-27 02:18] navidcy commented on #3053
Perhaps 2 week timeline was a bit too optimistic. We might need ~10 days more.

[2021-03-27 09:47] Atif-Anwer commented on #3091
Absolutely sorry for being awol for so long. Just got really bogged down in IRL deadline and had no time to do anything else. Ill update my review by tomorrow for sure since im looking at the repo right now. Apologies again for the delay.
Cheers!

[2021-03-27 12:56] adi3 commented on #2990
@sdmccabe Thanks for the changes. A couple of things minor things in the examples:

- I could not find `time_series_data.txt` and `ground_truth.txt` in your repository. Please state in the documentation where the user can retrieve those files from.
- An alternate approach can be that you have an `/examples` directory which has the 3 python scripts together with the data, and the user simply needs

[2021-03-27 13:52] niceume commented on #3063
@arfon - Assigned editor seems to be busy now. Can I ask another editor for reviewing? This Ruby program converts StatSailr script into R's internal expression and executes it. I see the reviewer list, and I would like to ask lutzhamel to review it.

[2021-03-27 14:55] justinshenk commented on #3104
@whedon generate pdf

[2021-03-27 14:56] whedon commented on #3104
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03104/joss.03104/10.21105.joss.03104.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03104/joss.03104/10.21105.joss.03104.pdf) :page_facing_up: :point_left:

[2021-03-27 14:56] justinshenk commented on #3104
@whedon check references

[2021-03-27 14:57] whedon commented on #3104
[code]

[2021-03-27 16:57] fboehm commented on #2995
@whedon set version as 2.1.0

[2021-03-27 16:57] whedon commented on #2995
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-03-27 16:58] fboehm commented on #2995
@whedon commands

[2021-03-27 16:58] whedon commented on #2995
Here are some things you can ask me to do:

[code]

[2021-03-27 16:59] fboehm commented on #2995
@whedon set 2.1.0 as version

[2021-03-27 16:59] whedon commented on #2995
OK. 2.1.0 is the version.

[2021-03-27 17:02] fboehm commented on #2995
@mponce0 - we need the title of the archive to be the same, verbatim, as that of the paper. Please change the title of the archive to: covid19.analytics: An R Package to Obtain, Analyze and Visualize Data from the 2019 Corona Virus Disease Pandemic

[2021-03-27 17:03] fboehm commented on #2995
@mponce0 we also need the authors list of the paper to match exactly that of the archive. Please fix this.

[2021-03-27 17:06] fboehm commented on #3001
@whedon accept from branch joss-paper

[2021-03-27 17:06] whedon commented on #3001
[code]

[2021-03-27 17:08] whedon commented on #3001
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2163

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2163, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-03-27 17:10] whedon commented on #3001
[code]

[2021-03-27 19:11] omshinde commented on #2805
@fduchatea: That's amazing to know, thanks for the update! I will try to review the changes by Tuesday.

Kind regards,
Rajat

[2021-03-27 20:06] mponce0 commented on #2995
@fboehm Sorry about that, I thought I have modified these items but I could see that wasn't the case... I think this time around I edited and adjusted title and authors affiliation properly. Can you please confirm this is the case?

[2021-03-27 23:19] Sara-ShiHo commented on #3021
Thank you Michael and Lorena. I don't have any further suggestions.

[2021-03-28 00:12] corybrunson commented on #3092
@vissarion My concerns have been addressed and i recommend acceptance of the package and manuscript.

[2021-03-28 08:55] xuanxu commented on #3078
@whedon generate pdf

[2021-03-28 08:56] whedon commented on #3078
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03078/joss.03078/10.21105.joss.03078.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03078/joss.03078/10.21105.joss.03078.pdf) :page_facing_up: :point_left:

[2021-03-28 09:13] arfon commented on #3063
@niceume - as per my comment two weeks ago, your submission is currently waitlisted (there is no editor assigned currently to handle it). Once an editor is assigned, they will then start the process of identifying reviewers.

JOSS is very busy right now. Thanks for your patience.

[2021-03-28 10:55] martinfleis commented on #2805
@whedon generate pdf

[2021-03-28 10:56] whedon commented on #2805
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02805/joss.02805/10.21105.joss.02805.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02805/joss.02805/10.21105.joss.02805.pdf) :page_facing_up: :point_left:

[2021-03-28 11:56] martinfleis commented on #2805
Thansk for all the changes @fduchatea. I was finally able to run `predihood` using `docker-compose` and it worked like a charm. Therefore, I am able to finalise my review.

I believe that there is a scope in predihood's approach to neighbourhood assessment. In my understanding, the app is aimed at users without a technical knowledge allowing them to deploy ML models manually, hence the GUI. I thin

[2021-03-28 13:09] whedon opened #3136 "[PRE REVIEW]: Colette: A networking program to build research connections"
**Submitting author:** @gacphillips (<a href="http://orcid.org/0000-0002-2347-2321">Genevieve A. C. Phillips</a>)
**Repository:** <a href="https://github.com/dehorsley/colette/" target ="_blank">https://github.com/dehorsley/colette/</a>
**Version:** v0.1.4
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the cha

[2021-03-28 13:09] whedon commented on #3136
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-28 13:10] whedon commented on #3136
[code]

[2021-03-28 13:10] whedon commented on #3136
PDF failed to compile for issue #3136 with the following error:

 Can't find any papers to compile :-(

[2021-03-28 13:13] Kevin-Mattheus-Moerman commented on #3136
@whedon generate pdf from branch joss-paper

[2021-03-28 13:13] whedon commented on #3136
[code]

[2021-03-28 13:14] whedon commented on #3136
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03136/joss.03136/10.21105.joss.03136.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03136/joss.03136/10.21105.joss.03136.pdf) :page_facing_up: :point_left:

[2021-03-28 13:18] Kevin-Mattheus-Moerman commented on #3136
This work was rejected over at: https://github.com/openjournals/joss-reviews/issues/3126#issuecomment-804360438

This re-submission corrects the repository link but does not alter the conclusion from the  editorial board, i.e. this submission is to minor given our criteria, and furthermore does not classify as scientific research software.

We will once again reject this submission. Please conside

[2021-03-28 13:18] Kevin-Mattheus-Moerman commented on #3136
@whedon reject

[2021-03-28 13:18] whedon commented on #3136
Paper rejected.

[2021-03-28 13:18] #3136 closed

[2021-03-28 13:23] whedon opened #3137 "[PRE REVIEW]: eemont: A Python package that extends Google Earth Engine"
**Submitting author:** @davemlz (<a href="http://orcid.org/0000-0002-9010-3286">David Montero Loaiza</a>)
**Repository:** <a href="https://github.com/davemlz/eemont" target ="_blank">https://github.com/davemlz/eemont</a>
**Version:** v0.1.9
**Editor:** @kbarnhart
**Reviewers:** @giswqs, @elbeejay, @patrickcgray
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

[2021-03-28 13:23] whedon commented on #3137
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-28 13:24] whedon commented on #3137
[code]

[2021-03-28 13:25] whedon commented on #3137
[code]

[2021-03-28 13:25] whedon commented on #3137
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03137/joss.03137/10.21105.joss.03137.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03137/joss.03137/10.21105.joss.03137.pdf) :page_facing_up: :point_left:

[2021-03-28 13:25] whedon opened #3138 "[PRE REVIEW]: ggsignif: Significance Brackets for 'ggplot2'"
**Submitting author:** @const-ae (<a href="http://orcid.org/0000-0002-3762-068X">Constantin Ahlmann-Eltze</a>)
**Repository:** <a href="https://github.com/const-ae/ggsignif" target ="_blank">https://github.com/const-ae/ggsignif</a>
**Version:** v0.6.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challeng

[2021-03-28 13:25] whedon commented on #3138
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-28 13:26] whedon commented on #3138
[code]

[2021-03-28 13:26] whedon commented on #3138
Failed to discover a valid open source license.

[2021-03-28 13:26] whedon commented on #3138
[code]

[2021-03-28 13:26] whedon commented on #3138
PDF failed to compile for issue #3138 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon/author.rb:72:in `block in build_affiliation_string': Problem with affiliations for Constantin Ahlmann-Eltze, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon/author.rb:7

[2021-03-28 13:30] Kevin-Mattheus-Moerman commented on #3131
@seanbergin thanks for the clarification.

[2021-03-28 13:31] Kevin-Mattheus-Moerman commented on #3131
@whedon invite @kbarnhart as editor

[2021-03-28 13:31] whedon commented on #3131
@kbarnhart has been invited to edit this submission.

[2021-03-28 13:39] Kevin-Mattheus-Moerman commented on #3137
@whedon invite @kbarnhart as editor

[2021-03-28 13:39] whedon commented on #3137
@kbarnhart has been invited to edit this submission.

[2021-03-28 13:43] Kevin-Mattheus-Moerman commented on #3123
@pibion that is fine. We now tag submissions as "waitlisted" if we feel the editors need time before they can commit fully to the submission. I can do two things, so let me know if you prefer A or B, option A) I could assign you here as editor and add the waitlisted label which you can remove once you have time to take this up, or B) I could not assign you yet and keep this waitlisted for when you

[2021-03-28 13:45] Kevin-Mattheus-Moerman commented on #3108
@meg-simula can you help edit this submission? It is okay if you need more time before you can commit to editing this, we can set the submission to `waitlisted` until you are available.

[2021-03-28 13:46] Kevin-Mattheus-Moerman commented on #3102
@bstabler :wave: can you help edit this submission?

[2021-03-28 13:49] Kevin-Mattheus-Moerman commented on #3138
@const-ae thank for this submission. The above shows we cannot see an [OSI approved](https://opensource.org/licenses) software license. Can you add one please?

[2021-03-28 13:49] Kevin-Mattheus-Moerman commented on #3138
@openjournals/dev can you help troubleshoot this paper compilation issue :point_up: ? Thanks

[2021-03-28 14:16] fboehm commented on #2995
@mponce0 - I see that Amit Sandhel is listed as an author of the zenodo archive, yet you are the only listed author of paper.md. The two author lists need to be identical. Please fix this.

[2021-03-28 14:29] sambitdash commented on #2749
Fixed my comments. No worries.

[2021-03-28 15:07] mponce0 commented on #2995
@fboehm I'm not sure where is this, but at the beginning of "paper.md" in the "literature" branch,
https://raw.githubusercontent.com/mponce0/covid19.analytics/literature/JOSS/paper.md, we have:

---
title: 'covid19.analytics: An R Package to Obtain, Analyze and Visualize Data from the 2019 Coronavirus Disease Pandemic'
tags:
  - R
  - CRAN
  - coronavirus
  - data access
authors:
  - name: Marcelo

[2021-03-28 15:09] mponce0 commented on #2995
@fboehm One more thing I forgot to mention before, as one of the reviewer noticed there was a typo in the title of our original submission, ie. instead of "Corona Virus" it should have been "Coronavirus", we fixed this in the manuscript and the Zenodo submission. Can this also be fixed in the JOSS entry?

[2021-03-28 15:13] fboehm commented on #2995
@whedon generate pdf from branch literature

[2021-03-28 15:13] whedon commented on #2995
[code]

[2021-03-28 15:18] whedon commented on #2995
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02995/joss.02995/10.21105.joss.02995.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02995/joss.02995/10.21105.joss.02995.pdf) :page_facing_up: :point_left:

[2021-03-28 15:25] IndrajeetPatil commented on #3138
@Kevin-Mattheus-Moerman Apologies for not including the file in the repo.

The Licence (GNU General Public License v3.0) file is now included in the repo:
https://github.com/const-ae/ggsignif/blob/master/LICENSE

[2021-03-28 15:25] fboehm commented on #2995
@mponce0 - I apologize. I mistakenly thought that you were the sole author of paper.md.

[2021-03-28 15:28] fboehm commented on #2995
I don't think that we need to fix the JOSS issue title, where you have "Corona Virus", provided that the archive and paper pdf have the correct spelling. I'll double-check with other editors to be sure of this before we do the final acceptance. Thanks for pointing this out.

[2021-03-28 15:33] IndrajeetPatil commented on #3138
@whedon generate pdf

[2021-03-28 15:34] whedon commented on #3138
PDF failed to compile for issue #3138 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon/author.rb:72:in `block in build_affiliation_string': Problem with affiliations for Constantin Ahlmann-Eltze, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon/author.rb:7

[2021-03-28 15:37] IndrajeetPatil commented on #3138
@whedon generate pdf

[2021-03-28 15:38] whedon commented on #3138
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03138/joss.03138/10.21105.joss.03138.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03138/joss.03138/10.21105.joss.03138.pdf) :page_facing_up: :point_left:

[2021-03-28 15:40] IndrajeetPatil commented on #3138
@Kevin-Mattheus-Moerman I have also pushed commits to fix the compilation problems.

whedon can generate pdfs, so the compilation issue seems to be fixed.

Sorry for the trouble.

[2021-03-28 15:40] lukapecnik commented on #2949
Hello @arfon and @sara-02, we were wondering whether there has been some status update about this pending review. What are the next steps towards publishing? The authors of the NiaAML would be very happy if we can improve NiaAML with some further guidance and finish publishing in the following days. Thank you.

[2021-03-28 16:08] galessiorob commented on #2805
Great work @fduchatea!🎉🎉🎉

Thank you @martinfleis for the latest assessment.

@fduchatea want to fix that last but so that the file types are consistent?

@omshinde @nuest @jdalzatec could you all do it what will likely be the last review?

Thanks for the patience and dedication.

[2021-03-28 16:32] KevinShook commented on #2276
A strange (but welcome) thing just happened. Out of the blue, Oluwaseun Sharomi contacted us!
It turns out he had moved from Abu Dhabi to the USA, which was why we were unable to contact him.
He has given his consent to be a co-author, so I have added him to the paper.

[2021-03-28 17:48] philzook58 commented on #3078
Duplication fixed! Looks Good!

[2021-03-28 18:48] elektrobohemian commented on #2980
I could step in if the don't start a new shutdown in Germany after Easter holidays. But I will not be done before the end of April as the semester starts next week...

[2021-03-28 20:09] eloisabentivegna commented on #2555
@gouarin, @ianhinder, could you send an update regarding the status of your requests? If you're happy about how they have been answered, can you post your final recommendation?

Thanks!

[2021-03-28 20:11] eloisabentivegna commented on #2978
@rhaas80, @robertsawko, could you update us on the status of your reviews, and state whether you're ready to make a final recommendation?

[2021-03-28 20:12] eloisabentivegna commented on #2862
@albertonogueira and @Joao-L-S-Almeida, could you check whether you're happy with the results?

[2021-03-28 20:36] awickert commented on #2276
Hi @KevinShook. First off, fantastic news about Oluwaseun Sharomi. This is really an ideal solution. Second, once you sent your message above about completion, I began to tick off the remaining items. One that seemed a sticky point that I should have addressed earlier is "State of the field: Do the authors describe how this software compares to other commonly-used packages?". I have not seen much

[2021-03-28 21:59] szymon-datalions commented on #2869
@whedon generate pdf from branch paper

[2021-03-28 21:59] whedon commented on #2869
[code]

[2021-03-28 22:01] whedon commented on #2869
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: :point_left:

[2021-03-28 22:08] szymon-datalions commented on #2869
@whedon generate pdf from branch paper

[2021-03-28 22:08] whedon commented on #2869
[code]

[2021-03-28 22:09] whedon commented on #2869
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: :point_left:

[2021-03-28 22:36] szymon-datalions commented on #2869
Hi @kenohori,

I've taken a look into a data and publications which were used by me as the reference for building this package. And I noticed that area of analysis for breast cancer was much larger than I've initially set it. I used single state but in the reference paper it is Northeastern part of United States created from multiple states. With larger area of interest spatial patterns are more v

[2021-03-28 22:42] mjsottile commented on #3038
:wave: @tjasaki and @NMontanaBrown : it looks like the authors have been making progress in responding to review topics.  Let me know if you need anything to make progress on the reviews.

[2021-03-28 22:45] mjsottile commented on #3051
:wave: @conradsnicta This is partly a ping just to keep this thread from going stale.  Be sure to post a note when you've made revisions and are ready for people to take a further look.  No rush if you're busy with the day job (I'm in the same place lately...).

[2021-03-28 22:49] qpmnguyen commented on #2964
Thank you very much everyone for your patience. @mbobra I have gone through the checklist and found the submission to have fulfilled all the listed requirements. I recommend acceptance for publication in JOSS. I have also filed an issue with some minor comments [here](https://github.com/julia-wrobel/registr/issues/38)

[2021-03-29 00:03] WilkAndy commented on #3031
Hi @jedbrown , i'm just keeping this on your radar...

[2021-03-29 06:35] justinshenk commented on #3104
@whedon generate pdf

[2021-03-29 06:37] whedon commented on #3104
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03104/joss.03104/10.21105.joss.03104.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03104/joss.03104/10.21105.joss.03104.pdf) :page_facing_up: :point_left:

[2021-03-29 06:38] justinshenk commented on #3104
Hi @jni,
Thanks for your helpful comments! The paper has been updated as requested, with API documentation removed and links fixed.

Looking forward to your further review.

[2021-03-29 07:51] vissarion commented on #3092
@whedon generate pdf

[2021-03-29 07:52] whedon commented on #3092
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03092/joss.03092/10.21105.joss.03092.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03092/joss.03092/10.21105.joss.03092.pdf) :page_facing_up: :point_left:

[2021-03-29 07:56] vissarion commented on #3092
@whedon check references

[2021-03-29 07:57] whedon commented on #3092
[code]

[2021-03-29 08:16] vissarion commented on #3092
@nevrome there are some minor issues in your bibliography, see https://github.com/nevrome/bleiglas/issues/17

[2021-03-29 08:58] salrm8 commented on #2871
Hi @ctdegroot, I wonder if the above answers are satisfactory. Thank you!

[2021-03-29 11:36] csoneson commented on #3093
@tgerke - could you update us on how your review is going?

[2021-03-29 11:39] mllg commented on #3010
@marcosvital Is there anything we can do to complete the review?

[2021-03-29 12:25] jni commented on #3104
Great, thank you! Still looking for reviewers but I have one promising and one open lead. 🤞

[2021-03-29 13:11] 0x0f0f0f commented on #3078
LGTM! Thanks!

[2021-03-29 14:03] caropen commented on #3079
I was able to run the software and all provided examples. I could check off all items except the one asking for "Community guidelines", which I could not find. Am I supposed to raise an issue in the original repository? (first time reviewer)

[2021-03-29 14:06] dpsanders commented on #3079
Yes, feel free to open an issue in the repo. It is useful to link the issues here too. Thanks!

[2021-03-29 14:18] yarongvili1 commented on #3040
OK, it was far from convenient, however I was able to modify the K2SN-MSS code so as to get a comparable performance test of its fastest SWIFFT function, the 16-bit one. The [modified code](https://github.com/gvilitechltd/K2SN-MSS/tree/swifftperf) led to the following comparison results:
* LibSWIFFT: ~4.29 cpb with AVX2 on Intel(R) Core(TM) i7-10875H CPU @ 2.30GHz
* K2SN-MSS: ~5.76 cpb with AVX2 o

[2021-03-29 14:45] ctodd26labs commented on #3032
Hello @arfon and @nidhog

Checking in again to see if there have been any updates or if there is anything needed on our end.

[2021-03-29 14:53] whedon commented on #3060
:wave: @rdeits, please update us on how your review is going (this is an automated reminder).

[2021-03-29 15:18] dpsanders commented on #2809
Apologies for the delay. I have suggested some minor grammar corrections and edits for consistency. Otherwise LGTM.

[2021-03-29 15:19] rodluger commented on #3071
Thanks @nespinoza ! @arfon, anything else you need from me?

[2021-03-29 15:19] dpsanders commented on #2809
@JustinSGray: Please make sure that all references have DOIs.

[2021-03-29 15:28] sdmccabe commented on #2990
@adi3 how is this? https://github.com/netsiphd/netrd/pull/322

[2021-03-29 15:53] arfon commented on #3032
@ctodd26labs - I just reached out to @nidhog over email to see how they're getting along.

[2021-03-29 15:56] KevinShook commented on #2276
HI @awickert
We're very relieved to be able to include Oluwaseun Sharomi. As you said, this is by far the best solution.

As for your point, we did describe the differences between WDPM and other types of programs which are used in the region.

We first explained that WDPM is not a hydrological model:

We then explained the differences between WDPM and hydraulic models, in that WDPM is a model of

[2021-03-29 16:04] nevrome commented on #3092
@vissarion Thanks for the suggestions!

I created a PR to address these small, final proofreading changes: https://github.com/nevrome/bleiglas/pull/18

I also wait for final approval by @stschiff, which might take until after the Easter holidays.

[2021-03-29 16:10] kbarnhart commented on #3137
@Kevin-Mattheus-Moerman I can take this one. I'm a bit overloaded so I won't be able to start actively handling it until the end of this week.

[2021-03-29 16:10] kbarnhart commented on #3137
@whedon assign @kbarnhart as editor

[2021-03-29 16:10] whedon commented on #3137
OK, the editor is @kbarnhart

[2021-03-29 16:11] kbarnhart commented on #3131
@Kevin-Mattheus-Moerman I think it would be best if someone else could handle it. I don't have much experience with this type of model and/or software... and I'm pretty overloaded at the moment.

[2021-03-29 16:32] kbarnhart commented on #2276
@KevinShook great news about Oluwaseun Sharomi. Thanks for that update.

@awickert thanks for the update regarding revisiting your review.

[2021-03-29 16:37] dpsanders commented on #2977
Apologies for the delay.

I submitted a couple of PRs with minor edits.
I am also checking if the other software packages you link top need to be listed in the References section.
Apart from that LGTM!

[2021-03-29 16:38] dpsanders commented on #3078
@0x0f0f0f: Please add DOIs for all the references.

[2021-03-29 16:41] dpsanders commented on #3078
@0x0f0f0f: Please add an explanation for the meaning of Figure 1. What do the arrows and dashed boxes represent? I suggest you also lightly shade or colour what is new in each subsequent part of the figure.

[2021-03-29 16:47] 0x0f0f0f commented on #3078
@dpsanders some references are github repos and do not have DOIs. Do I have to remove them from `.bib` file and move the links to the paper body?

[2021-03-29 16:48] arfon commented on #3071
@rodluger - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the auth

[2021-03-29 16:52] 0x0f0f0f commented on #3078
@whedon check references

[2021-03-29 16:53] whedon commented on #3078
[code]

[2021-03-29 17:17] 0x0f0f0f commented on #3078
@whedon generate pdf

[2021-03-29 17:17] 0x0f0f0f commented on #3078
@dpsanders added explanation and coloring to the figure

[2021-03-29 17:18] whedon commented on #3078
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03078/joss.03078/10.21105.joss.03078.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03078/joss.03078/10.21105.joss.03078.pdf) :page_facing_up: :point_left:

[2021-03-29 17:25] lpantano commented on #3021
@mwaskom,

At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (m

[2021-03-29 17:28] DrDaveShaw commented on #3110
Hi @dhhagan

Thank you very much for agreeing to be the Editor for our submission and for taking the time to look it over and provide these questions/comments/suggestions.

1. I have read over the README and I have fixed the typos. I'm sorry they made it through to submission!
2. I have extracted the _statement of need_ into a section and completed additions to the paper in line with the recently

[2021-03-29 17:37] DrDaveShaw commented on #3110
@whedon generate pdf

[2021-03-29 17:38] whedon commented on #3110
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03110/joss.03110/10.21105.joss.03110.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03110/joss.03110/10.21105.joss.03110.pdf) :page_facing_up: :point_left:

[2021-03-29 17:38] mwaskom commented on #3021
Cool! Does the tagged release need to contain the paper.md file?

[2021-03-29 17:41] mikldk commented on #2992
@whedon set 10.5281/zenodo.4637759 as archive

[2021-03-29 17:41] whedon commented on #2992
OK. <a href="https://doi.org/10.5281/zenodo.4637759" target="_blank">10.5281/zenodo.4637759</a> is the archive.

[2021-03-29 17:41] mikldk commented on #2992
@whedon set v2.1.0 as version

[2021-03-29 17:41] whedon commented on #2992
OK. v2.1.0 is the version.

[2021-03-29 17:41] mikldk commented on #2992
@whedon generate pdf from branch joss

[2021-03-29 17:41] whedon commented on #2992
[code]

[2021-03-29 17:42] whedon commented on #2992
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02992/joss.02992/10.21105.joss.02992.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02992/joss.02992/10.21105.joss.02992.pdf) :page_facing_up: :point_left:

[2021-03-29 17:44] mikldk commented on #2992
@msalibian @alemermartinez Please make the title at Zenodo the same as the paper's ("RBF: An R package to compute a robust backfitting estimator for additive models").

[2021-03-29 17:44] mwaskom commented on #3021
@whedon generate pdf from branch joss_paper

[2021-03-29 17:44] whedon commented on #3021
[code]

[2021-03-29 17:44] mwaskom commented on #3021
Just caught a typo 🤦

[2021-03-29 17:45] whedon commented on #3021
PDF failed to compile for issue #3021 with the following error:

 Can't find any papers to compile :-(

[2021-03-29 17:45] mikldk commented on #3132
@whedon assign @martinju as reviewer

[2021-03-29 17:45] whedon commented on #3132
OK, @martinju is now a reviewer

[2021-03-29 17:46] msalibian commented on #2992
@mikldk Done.

[2021-03-29 17:46] mikldk commented on #3132
@whedon add @gjo11 as reviewer

[2021-03-29 17:46] mwaskom commented on #3021
@whedon generate pdf from branch joss_review

[2021-03-29 17:46] whedon commented on #3132
OK, @gjo11 is now a reviewer

[2021-03-29 17:46] whedon commented on #3021
[code]

[2021-03-29 17:46] mikldk commented on #3132
@whedon start review

[2021-03-29 17:46] whedon opened #3139 "[REVIEW]: performance: An R Package for Assessment, Comparison1and Testing of Statistical Models"
**Submitting author:** @strengejacke (<a href="http://orcid.org/0000-0002-8895-3206">Daniel Lüdecke</a>)
**Repository:** <a href="https://github.com/easystats/performance" target ="_blank">https://github.com/easystats/performance</a>
**Version:** 0.7.1
**Editor:** @mikldk
**Reviewer:** @martinju, @gjo11
**Archive:** <a href="https://doi.org/10.5281/zenodo.4700887" target="_blank">10.5281/zenodo.47

[2021-03-29 17:46] whedon commented on #3132
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3139.

[2021-03-29 17:46] #3132 closed

[2021-03-29 17:46] whedon commented on #3139
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @martinju, @gjo11 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blo

[2021-03-29 17:47] whedon commented on #3139
Failed to discover a `Statement of need` section in paper

[2021-03-29 17:47] whedon commented on #3139
[code]

[2021-03-29 17:47] whedon commented on #3139
[code]

[2021-03-29 17:47] whedon commented on #3021
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03021/joss.03021/10.21105.joss.03021.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03021/joss.03021/10.21105.joss.03021.pdf) :page_facing_up: :point_left:

[2021-03-29 17:48] whedon commented on #3139
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03139/joss.03139/10.21105.joss.03139.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03139/joss.03139/10.21105.joss.03139.pdf) :page_facing_up: :point_left:

[2021-03-29 17:49] mikldk commented on #3139
@martinju, @gjo11 (aided by @sachsmc): Thanks for agreeing to review. Please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If possible create issues (and cross-reference) in the submission's repository to avoid too specific discussio

[2021-03-29 17:52] marcosvital commented on #3010
Dear @bommert and @mllg, I'm very sorry for the long absence. I'll carry on with our final steps towards publication, ok?

[2021-03-29 17:52] mwaskom commented on #3021
OK I have made a slight mess of things by naming the tag with the same string as the branch containing the paper.

In any case, I think it should be resolved.

Provided that the tagged release **does not** need to complain the paper source, this checklist should be completed. @lpantano please let me know if I need to change that.

- [x] Make a tagged release of your software, and list the version

[2021-03-29 18:00] oliviaguest commented on #3105
@McGregor14 thank you for all the above! 🌼

[2021-03-29 18:02] oliviaguest commented on #3041
This is looking very close to done! 🥳  As soon as @Nathaniel-Haines and @rMassimiliano check the above, we can move to the next step! 🌷

[2021-03-29 18:03] oliviaguest commented on #2863
Totally fine, let me know when you are back on this! I assume soon! 😊

[2021-03-29 18:26] 0x0f0f0f commented on #3078
@whedon generate pdf

[2021-03-29 18:26] 0x0f0f0f commented on #3078
@whedon check references

[2021-03-29 18:26] xuanxu commented on #3067
👋 @astrom-tom, @ygrange please update us on how your reviews are going

[2021-03-29 18:27] whedon commented on #3078
[code]

[2021-03-29 18:27] whedon commented on #3078
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03078/joss.03078/10.21105.joss.03078.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03078/joss.03078/10.21105.joss.03078.pdf) :page_facing_up: :point_left:

[2021-03-29 18:30] whedon commented on #3114
:wave: @jmansour, please update us on how your review is going (this is an automated reminder).

[2021-03-29 18:30] whedon commented on #3114
:wave: @dlgeorge, please update us on how your review is going (this is an automated reminder).

[2021-03-29 18:38] bstabler commented on #3102
I don't have time to edit, but I'm happy to review

[2021-03-29 18:53] dpsanders commented on #2809
Then could you please make a new release and archive it, e.g. at Zenodo.
Then report here the release number and archive address. Thanks!

[2021-03-29 18:54] dpsanders commented on #3078
@whedon generate pdf

[2021-03-29 18:54] whedon commented on #3078
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03078/joss.03078/10.21105.joss.03078.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03078/joss.03078/10.21105.joss.03078.pdf) :page_facing_up: :point_left:

[2021-03-29 19:02] dpsanders commented on #3078
Could you please make a new tagged release and archive it, e.g. at zenodo.org.
Then please report the version number and archive DOI here. Thanks!

[2021-03-29 19:34] 0x0f0f0f commented on #3078
10.5281/zenodo.4646136

v0.3.2

[2021-03-29 19:37] dpsanders commented on #3078
@whedon set v0.3.2 as version

[2021-03-29 19:37] whedon commented on #3078
OK. v0.3.2 is the version.

[2021-03-29 19:37] dpsanders commented on #3078
@whedon set 10.5281/zenodo.4646136 as archive

[2021-03-29 19:37] whedon commented on #3078
OK. <a href="https://doi.org/10.5281/zenodo.4646136" target="_blank">10.5281/zenodo.4646136</a> is the archive.

[2021-03-29 19:38] dpsanders commented on #3078
@whedon  accept

[2021-03-29 19:38] whedon commented on #3078
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-03-29 19:38] dpsanders commented on #3078
@whedon commands

[2021-03-29 19:38] whedon commented on #3078
Here are some things you can ask me to do:

[code]

[2021-03-29 19:39] dpsanders commented on #3078
@whedon accept

[2021-03-29 19:39] whedon commented on #3078
[code]

[2021-03-29 19:39] whedon commented on #3078
[code]

[2021-03-29 19:39] whedon commented on #3078
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2164

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2164, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-03-29 19:44] 0x0f0f0f commented on #3078
Thanks everybody!

[2021-03-29 20:23] bonh commented on #3096
@melissawm based on #AngryMaciek/hypercomplex#26 I flag this submission for scope check.

[2021-03-29 20:26] JustinSGray commented on #2809
@whedon generate pdf

[2021-03-29 20:27] whedon commented on #2809
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02809/joss.02809/10.21105.joss.02809.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02809/joss.02809/10.21105.joss.02809.pdf) :page_facing_up: :point_left:

[2021-03-29 20:31] omshinde commented on #2805
Thanks, @fduchatea, for the changes. The paper is now updated, and the typos are fixed. The `docker` based installation is now very smooth, and I am sure it will definitely enhance the usage of Predihood. Also, the hosted documentation looks great. Thanks for addressing all the comments.

My final assessment:

Congratulations to the authors for their efforts. I foresee that Predihood finds applica

[2021-03-29 20:31] bonh commented on #3096
@melissawm I will continue my review on your sign. However, If you find me unsuitable as a reviewer (based on missing experience and knowledge in the specific field, see #AngryMaciek/hypercomplex#26), I will gladly withdraw from the process.

[2021-03-29 20:33] JohannesBuchner commented on #3045
I have (with both packages), but without success.

Added by commit https://github.com/JohannesBuchner/BXA/commit/2c9d037827e6e837e24656699dafd49a9471074f (included in v4.0.4)

[2021-03-29 20:38] strengejacke commented on #3139
@whedon generate pdf

[2021-03-29 20:38] whedon commented on #3139
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03139/joss.03139/10.21105.joss.03139.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03139/joss.03139/10.21105.joss.03139.pdf) :page_facing_up: :point_left:

[2021-03-29 20:41] strengejacke commented on #3139
Thanks for opening the review! I fixed the error when compiling the paper and explicitly named the section "statement of need".

[2021-03-29 20:42] melissawm commented on #3096
@bonh @AngryMaciek based on discussions with the JOSS editors, since one reviewer has expressed approval of the submission, we feel the best course of action would be to invite a third reviewer with more familiarity with this field in order to complete the review. In that case, @bonh would be removed as a reviewer. Let me know if you agree.

[2021-03-29 20:50] sdparsons commented on #3041
I do still have the bigger issues that @Nathaniel-Haines and @rMassimiliano raised to fix:
- the plotting issue
- the simulation/validation issue
- enhancing export documentation
But, I think these can be managed in short time and I'll keep y'all updated:)

[2021-03-29 20:57] AngryMaciek commented on #3096
I am perfectly fine with such resolution.

[2021-03-29 21:33] bzindovic commented on #3114
I'm in the process of reviewing this submission. Because of unplanned increase of my professional and personal duties, I'll try to complete the review in the following 7-10 days.

[2021-03-29 21:47] AJQuinn commented on #2977
Thank you for the edits @dpsanders - those changes are now merged into the JOSS draft branch.

I think several of the other toolboxes have websites but I couldn't find anything more formally citable (eg with a DOI) so left it with the link in the draft. I'm happy to double check this and inlcude the most stable-looking links in the reference section?

[2021-03-29 21:48] AJQuinn commented on #2977
@whedon generate pdf from branch 33-joss-revisions

[2021-03-29 21:48] whedon commented on #2977
[code]

[2021-03-29 21:48] whedon commented on #2977
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02977/joss.02977/10.21105.joss.02977.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02977/joss.02977/10.21105.joss.02977.pdf) :page_facing_up: :point_left:

[2021-03-29 21:59] marcosvital commented on #3010
@whedon set 1.1.4 as version

[2021-03-29 21:59] whedon commented on #3010
OK. 1.1.4 is the version.

[2021-03-29 22:01] marcosvital commented on #3010
@bommert and @mllg, the manuscript looks great, so we are almost ready to go. But first, you will need archive the last release of the package (on Zenodo, figshare, or other) if you already didn't do this. After that, just let me know the archive DOI.

[2021-03-29 22:22] mbobra commented on #2964
Thank you, @qpmnguyen! I really appreciate your time and effort ☀️

[2021-03-29 22:26] dpsanders commented on #2809
@JustinSGray: Various references are missing the journal / conference, e.g. Aretskin, Falck. Please

[2021-03-29 22:29] dpsanders commented on #2977
Yes please include links in the references section.

Then when you are ready please make a release and archive it, e.g. at zenodo.org.
Then report the release number and archive link here. Thanks!

[2021-03-29 22:31] remram44 commented on #3119
(I see the pre-review issue has been closed, but we are missing another reviewer; is that protocol)?

[2021-03-29 22:48] albertonogueira commented on #2862
Yes, I am Ok with all the reviews.

[2021-03-29 23:00] JustinSGray commented on #2809
Right, Im working on cleaning up the refs still. I'll finish this tonight

[2021-03-29 23:02] remram44 commented on #3119
I have taken a first look at the repositories. Some notes:

* **General**: `shed` is taken on PyPI, by https://github.com/Zac-HD/shed. It might be beneficial to use a unique name, such as `shed-data`, `shed-streaming`, etc to avoid conflicting in people's environments. Should the other `shed` decide to publish on conda-forge, things will get weird (I was surprised this was not discussed there http

[2021-03-29 23:05] remram44 commented on #3119
I also note that the main contributors of the code are not watching the GitHub repository, which will probably cause problems in the case of external contributions or reports.

[2021-03-30 00:14] JustinSGray commented on #2809
@whedon generate pdf

(Note: Test to see if my fix to the .bib works. Not final yet)

[2021-03-30 00:14] whedon commented on #2809
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02809/joss.02809/10.21105.joss.02809.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02809/joss.02809/10.21105.joss.02809.pdf) :page_facing_up: :point_left:

[2021-03-30 00:33] JustinSGray commented on #2809
@whedon generate pdf

[2021-03-30 00:34] whedon commented on #2809
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02809/joss.02809/10.21105.joss.02809.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02809/joss.02809/10.21105.joss.02809.pdf) :page_facing_up: :point_left:

[2021-03-30 00:45] JustinSGray commented on #2809
@dpsanders thanks for your patience.

I found the problem. A number of the references had the wrong bib type and that confused things. All DOIs added, all references have the journal name or conference name now.

We've released version 1.0.0 of Dymos to coincide with this publication.: https://github.com/OpenMDAO/dymos/archive/refs/tags/1.0.0.zip

The tagged 1.0.0 release obviously doesn't have th

[2021-03-30 01:02] dpsanders commented on #2809
Thanks @JustinSGray, it's all looking good, thanks.
Just one nit:

- Herman et al: `{Gauss-Lobatto}` (to get the capitalisation right)

I don't think it's necessary to release a new version.

Please let me know the archive address at zenodo.org or similar. Thanks!

[2021-03-30 01:04] dpsanders commented on #2838
👋 @mfherbst and @mturiansky: Any updates here? Thanks!

[2021-03-30 01:20] JustinSGray commented on #2809
@whedon generate pdf

(trying to fix capitalization)

[2021-03-30 01:21] whedon commented on #2809
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02809/joss.02809/10.21105.joss.02809.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02809/joss.02809/10.21105.joss.02809.pdf) :page_facing_up: :point_left:

[2021-03-30 01:32] JustinSGray commented on #2809
Ok, the capitalization issue is fixed.

Zenodo upload:
https://zenodo.org/record/4646412#.YGJ_XUhKjUI

Here is the doi for version 1.0.0: 10.5281/zenodo.4646412

[2021-03-30 01:33] JustinSGray commented on #2809
@whedon check references (i saw this in the editorial guide and figured I should probably do it given how many errors were in the refs to this point)

[2021-03-30 01:33] whedon commented on #2809
[code]

[2021-03-30 01:35] JustinSGray commented on #2809
@whedon generate pdf

@whedon check references

[2021-03-30 01:36] whedon commented on #2809
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02809/joss.02809/10.21105.joss.02809.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02809/joss.02809/10.21105.joss.02809.pdf) :page_facing_up: :point_left:

[2021-03-30 01:37] JustinSGray commented on #2809
@whedon check references

[2021-03-30 01:37] whedon commented on #2809
[code]

[2021-03-30 01:40] JustinSGray commented on #2809
@dpsanders I think that sorts the refs for real now;

Here is the Zenodo link for the code:
https://zenodo.org/record/4646412#.YGJ_XUhKjUI

Here is the doi for version 1.0.0 tarball: 10.5281/zenodo.4646412

[2021-03-30 02:01] pibion commented on #2484
@gflofst just checking in to see what your timescale is for your review.

[2021-03-30 03:06] dpsanders commented on #2809
@whedon set 1.0.0 as version

[2021-03-30 03:06] whedon commented on #2809
OK. 1.0.0 is the version.

[2021-03-30 03:06] dpsanders commented on #2809
@whedon set 10.5281/zenodo.4646412 as archive

[2021-03-30 03:06] whedon commented on #2809
OK. <a href="https://doi.org/10.5281/zenodo.4646412" target="_blank">10.5281/zenodo.4646412</a> is the archive.

[2021-03-30 03:06] dpsanders commented on #2809
@whedon accept

[2021-03-30 03:06] whedon commented on #2809
[code]

[2021-03-30 03:07] mturiansky commented on #2838
Sorry, I should have updated the thread. I checked off a few boxes above, closed some of the issues that were addressed, and opened a new minor issue. @dpsanders I tagged you in one of the issues with a minor question about JOSS's standards. Other than that the code looks to be closer to publishable quality.

[2021-03-30 03:07] whedon commented on #2809
[code]

[2021-03-30 03:08] whedon commented on #2809
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2165

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2165, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-03-30 03:28] dpsanders commented on #2809
@JustinSGray: The Zenodo title seems to be missing a word.

[2021-03-30 03:34] conradsnicta commented on #3051
@mjsottile Thanks for the ping. We're working on it, but hampered due to day jobs / studies and sudden covid-related [lockdowns](https://www.bbc.com/news/world-australia-56559755).

[2021-03-30 05:03] mfherbst commented on #2838
I have an important deadline this Thursday. I should get to do the review the latest next week.

[2021-03-30 06:59] JohannesBuchner commented on #3001
@whedon accept deposit=true from branch joss-paper

[2021-03-30 06:59] whedon commented on #3001
I'm sorry @JohannesBuchner, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2021-03-30 07:00] JohannesBuchner commented on #3001
Ah ok, wasn't sure if that was for me. All ready from my side.

[2021-03-30 07:31] Atif-Anwer commented on #3091
This is my review for the paper:

The submission is a Python library titled "imea" that can extract different measurements of 2D as well as 3D shapes. Some functions are new implementations whereas some functions are wrappers around traditional functions from various libraries. The package combines these functions in an easy to use library allowing the user to calculate a huge range of statistics

[2021-03-30 08:49] benmaier commented on #3097
Dear @fboehm, @chrisvoncsefalvay, and @esteinig, thank you so much for this lightning-fast editing and reviewing work. This has probably been the smoothest reviewing experience I've ever had! I greatly appreciated all your positive comments about the work I submitted.

Regarding adding more headlines, I started working on the manuscript again to incorporate your point, @esteinig, but noticed that

[2021-03-30 09:04] mikldk commented on #3139
@strengejacke Please change "an" in the paper title to "An".

[2021-03-30 09:07] mikldk commented on #2992
@msalibian At Zenodo your name is "Matias Salibian Barrera" and in the paper it is "Matias Salibian-Barrera". Please make consistent.

[2021-03-30 09:16] strengejacke commented on #3139
Done.

[2021-03-30 09:17] strengejacke commented on #3139
@whedon generate pdf

[2021-03-30 09:18] whedon commented on #3139
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03139/joss.03139/10.21105.joss.03139.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03139/joss.03139/10.21105.joss.03139.pdf) :page_facing_up: :point_left:

[2021-03-30 09:57] ygrange commented on #3067
I _finally_ started. Thanks for the reminder. Those are crazy times and things tend to fall of plates. Many apologies. I have some time explicitly booked in my calendar for this this week now.

[2021-03-30 10:05] JohannesBuchner commented on #3045
@whedon generate pdf from branch joss-paper

[2021-03-30 10:05] whedon commented on #3045
[code]

[2021-03-30 10:06] whedon commented on #3045
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03045/joss.03045/10.21105.joss.03045.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03045/joss.03045/10.21105.joss.03045.pdf) :page_facing_up: :point_left:

[2021-03-30 10:15] JohannesBuchner commented on #3045
I have revised the submission, and gave responses in the issues opened and mentioned above. @cescalara & @grburgess, please have another look and let me know of any remaining issues.

[2021-03-30 11:56] JustinSGray commented on #2809
fixed!

[2021-03-30 12:12] whedon commented on #3115
:wave: @ankurankan, please update us on how your review is going (this is an automated reminder).

[2021-03-30 12:12] whedon commented on #3115
:wave: @eigenfoo, please update us on how your review is going (this is an automated reminder).

[2021-03-30 12:46] JustinSGray commented on #2809
In the final review I noticed one of the references was broken (i.e. had the wrong label in the text). Thats been fixed.

@whedon generate pdf

[2021-03-30 12:53] JustinSGray commented on #2809
ok @dpsanders its all good now.

[2021-03-30 13:33] KristinaRiemer commented on #3094
@Kevin-Mattheus-Moerman could you re-send @pjbouchet the reviewer invitation? (Or is that something that I'm able to do?)

[2021-03-30 13:35] KristinaRiemer commented on #2575
Hi @r-barnes and @mccabete, have you had a chance to look through the issues that @holukas has addressed?

[2021-03-30 13:40] lpantano commented on #3021
@whedon check references from branch joss_paper

[2021-03-30 13:40] whedon commented on #3021
[code]

[2021-03-30 13:42] KristinaRiemer commented on #3074
This all looks good! Thanks @cddesja and @brunaw for your reviews! I'm going to check over the paper proof and then @vbaliga you'll have a couple of logistical things to take care of.

[2021-03-30 13:43] whedon commented on #3074
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03074/joss.03074/10.21105.joss.03074.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03074/joss.03074/10.21105.joss.03074.pdf) :page_facing_up: :point_left:

[2021-03-30 13:43] dpsanders commented on #2809
@whedon accept

[2021-03-30 13:43] whedon commented on #2809
[code]

[2021-03-30 13:44] whedon commented on #2809
[code]

[2021-03-30 13:45] whedon commented on #2809
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2166

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2166, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-03-30 13:46] macrocosme commented on #2980
Thank you for the suggestion @gkthiruvathukal. While it seems like an interesting project, I unfortunately have no time available for this task at the moment.

[2021-03-30 13:57] Kevin-Mattheus-Moerman commented on #3094
@KristinaRiemer I think you can, but I can help if it doesn't work. I think you can run:
'@whedon re-invite @pjbouchet as reviewer'

[2021-03-30 14:03] KristinaRiemer commented on #3094
@whedon re-invite @pjbouchet as reviewer

[2021-03-30 14:03] whedon commented on #3094
OK, the reviewer has been re-invited.

@pjbouchet please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-03-30 14:08] IndrajeetPatil commented on #3138
Potential editors:
- sbenthall

Potential reviewers:

- RMHogervorst
- cimentadaj
- njtierney
- humanfactors

[2021-03-30 14:28] kthyng commented on #2939
Ok everything looks good to me!

[2021-03-30 14:28] kthyng commented on #2939
@whedon accept deposit=true

[2021-03-30 14:28] whedon commented on #2939
[code]

[2021-03-30 14:30] whedon commented on #2939
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1376904647504506884) 👈 🐦🐦🐦

[2021-03-30 14:30] whedon commented on #2939
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2167
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02939](https://doi.org/10.21105/joss.02939)
2. If everything looks g

[2021-03-30 14:33] kthyng commented on #2677
@willu47 and @sjpfenninger I see there is one unchecked box above. Is this meaningful? All the boxes need to be checked to finish this process.

[2021-03-30 14:34] kthyng commented on #2939
Congrats on your new publication @Balaje! Thanks so much to editor @diehlpk and reviewers @corentin-dev and @iammix for you time, hard work, and expertise!!!

[2021-03-30 14:34] whedon commented on #2939
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02939/status.svg)](https://doi.org/10.21105/joss.02939)

**We need your help!**

Journal of Open Source Softwa

[2021-03-30 14:34] msalibian commented on #2992
@mikldk My apologies! They are now consistent (both as it appeared in the paper).

[2021-03-30 14:35] danielskatz commented on #3129
👋 @mkaguilera - Would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews of the software and paper here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-03-30 14:36] danielskatz commented on #3129
👋 @icalciu - Would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews of the software and paper here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-03-30 14:38] kthyng commented on #2769
@openjournals/dev Two names of the author are missing in the XML file — does this mean the paper won't have the correct author name?

[2021-03-30 14:39] danielskatz commented on #3129
👋 @jamesreinders - Would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews of the software and paper here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-03-30 14:48] lpantano commented on #3021
@whedon set 10.5281/zenodo.4645478 as archive

[2021-03-30 14:48] whedon commented on #3021
OK. <a href="https://doi.org/10.5281/zenodo.4645478" target="_blank">10.5281/zenodo.4645478</a> is the archive.

[2021-03-30 14:55] kthyng commented on #2769
@prdm0 I am looking through your paper and it needs quite a bit of editing. I started working on it in this [PR](https://github.com/prdm0/ropenblas/pull/28) but I changed sentences substantially to try to reflect my understanding of your writing. Please make sure I have done so accurately before merging.

Quite a bit more editing is necessary. I couldn't understand line 42 in the .md file to try t

[2021-03-30 14:56] mwaskom commented on #3021
@whedon check references from branch joss_review

[2021-03-30 14:56] whedon commented on #3021
[code]

[2021-03-30 14:57] whedon commented on #3021
[code]

[2021-03-30 15:00] kthyng commented on #2890
@whedon accept deposit=true

[2021-03-30 15:02] whedon commented on #2890
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1376912627901870081) 👈 🐦🐦🐦

[2021-03-30 15:02] whedon commented on #2890
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2168
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02890](https://doi.org/10.21105/joss.02890)
2. If everything looks g

[2021-03-30 15:06] kthyng commented on #2890
Congrats on your new publication @kanishkan91! Thanks to editor @dhhagan and reviewers @tscheypidi and @jhollist — we rely on your time, hard work, and expertise for this process!!

[2021-03-30 15:08] kthyng commented on #3078
@0x0f0f0f Please change the metadata in your Zenodo archive so the author and title exactly match your JOSS paper.

[2021-03-30 15:09] JustinSGray commented on #2809
👍  final proof looks good

[2021-03-30 15:11] kthyng commented on #3078
@0x0f0f0f Starting to read your paper. I don't see a reason to put your position in your author list ("undergraduate student"). Do you have a special reason to include it? If not I suggest removing it. Also is there is a reason you have an additional label as "independent researcher"? If you are attending University of Pisa, you could just list that, though you should expand the information to inc

[2021-03-30 15:54] lpantano commented on #3021
@whedon accept

[2021-03-30 15:54] whedon commented on #3021
[code]

[2021-03-30 15:55] whedon commented on #3021
PDF failed to compile for issue #3021 with the following error:

 Can't find any papers to compile :-(

[2021-03-30 15:55] rodluger commented on #3071
@whedon generate pdf

[2021-03-30 15:57] whedon commented on #3071
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03071/joss.03071/10.21105.joss.03071.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03071/joss.03071/10.21105.joss.03071.pdf) :page_facing_up: :point_left:

[2021-03-30 16:17] prdm0 commented on #2769
Submeti as modificações.

Name: Pedro Rafael
Last name: Diniz Marinho

[2021-03-30 16:29] diehlpk commented on #2945
@pbauman Can you please let us know if you still have time to do the review?

[2021-03-30 16:50] arfon commented on #2769
:+1: thanks @prdm0. @kthyng - we'll need to manually publish this one (I can do this) as Whedon can't currently handle name/lastname combinations like this yet sorry.

[2021-03-30 17:28] gkthiruvathukal commented on #2980
@elektrobohemian  I'm more than happy to work with your schedule/timeframe. We continue to operate in a scenario where we have to assume everything takes longer with COVID-19. I read about the situation in Germany. If I can interpret your response as a "yes", I would like to assign you wait for your review.

[2021-03-30 17:28] AJQuinn commented on #2977
@whedon generate pdf from branch 33-joss-revisions

[2021-03-30 17:28] whedon commented on #2977
[code]

[2021-03-30 17:29] whedon commented on #2977
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02977/joss.02977/10.21105.joss.02977.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02977/joss.02977/10.21105.joss.02977.pdf) :page_facing_up: :point_left:

[2021-03-30 17:51] tuelwer commented on #3091
I appreciate the author's effort to improve and restructure the toolbox! A majority of the issues that are stated above are addressed in an appropriate way and I checked some of the missing check-boxes. However, there are a couple of minor issues that should be fixed before publication:
- [ ] There are no instructions on how to run the new tests. I suggest that the author writes a short section in

[2021-03-30 17:53] AJQuinn commented on #2977
Hi @dpsanders -  I've pushed v0.4.0 with all the changes from the review. This is now the stable version on PyPI (https://pypi.org/project/emd/).

I've archived a tarball of 0.4.0 on Zenodo under the same license as the main code release
https://zenodo.org/record/4647949
https://doi.org/10.5281/zenodo.4647949

I think that is all in order... please let me know if I should do anything else or have

[2021-03-30 18:17] henrykironde commented on #3040
@yarongvili1 thank you for the update. Since this paper and software show that LibSWIFFTis a fast C/C++ Library for the SWIFFT Secure Homomorphic Hash Function. We should submit a PR to https://github.com/anon1985/K2SN-MSS.

Then if we could include tests the two libraries where `LibSWIFFT: ~[4.29] cpb`  is tested to be at most `(<=)` `K2SN-MSS: ~[5.76] cpb`.

This could be part of the continuous

[2021-03-30 18:29] dpsanders commented on #2977
@whedon set 0.4.0 as version

[2021-03-30 18:29] whedon commented on #2977
OK. 0.4.0 is the version.

[2021-03-30 18:30] dpsanders commented on #2977
@whedon set https://doi.org/10.5281/zenodo.4647949 as archive

[2021-03-30 18:30] dpsanders commented on #2977
@whedon accept

[2021-03-30 18:30] whedon commented on #2977
[code]

[2021-03-30 18:31] whedon commented on #2977
[code]

[2021-03-30 18:31] whedon commented on #2977
PDF failed to compile for issue #2977 with the following error:

[2021-03-30 19:36] ygrange commented on #3067
The goal of the tool is to make radio telescopes accessible to a larger community, mainly targeting amateurs, students and educators. I'm struggling a bit with the target audience. This is because I personally think this is a very great group to focus on, because the field of radio astronomy tends to have a bit of an image to be hard to start working in, and those are important groups in general.

[2021-03-30 19:54] dpsanders commented on #2977
@whedon generate pdf from branch 33-joss-revisions

[2021-03-30 19:54] whedon commented on #2977
[code]

[2021-03-30 19:57] whedon commented on #2977
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02977/joss.02977/10.21105.joss.02977.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02977/joss.02977/10.21105.joss.02977.pdf) :page_facing_up: :point_left:

[2021-03-30 19:58] dpsanders commented on #2977
@whedon accept

[2021-03-30 19:58] whedon commented on #2977
[code]

[2021-03-30 19:59] whedon commented on #2977
[code]

[2021-03-30 19:59] whedon commented on #2977
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2169

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2169, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-03-30 20:00] mllg commented on #3010
Thanks @marcosvital.

We have released a new version to CRAN today (v1.2.0) which includes all the improvements requested by the reviewers and uploaded the same version to Zenodo: http://doi.org/10.5281/zenodo.4648087

[2021-03-30 20:12] astrom-tom commented on #3067
Here is the first part of the review. I will create a few issues in the repository. I will continue the review once these problem have been addressed.

General comment:
For such a software I believe that having the complete documentation inside the readme
is probably not appropriate and restrain a bit its content.
For python development, I would advise to use Sphinx to create a documentation that

[2021-03-30 20:18] 0x0f0f0f commented on #3078
@whedon generate pdf

[2021-03-30 20:19] whedon commented on #3078
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03078/joss.03078/10.21105.joss.03078.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03078/joss.03078/10.21105.joss.03078.pdf) :page_facing_up: :point_left:

[2021-03-30 20:22] 0x0f0f0f commented on #3078
@kthyng Thanks! I should have fixed everything.

[2021-03-30 20:28] iannesbitt commented on #2565
@jedbrown I wonder if it would make sense to email her, it seems like she may not be getting github notifications.

[2021-03-30 20:32] astrom-tom commented on #3067
Dear @xuanxu,
I created the three following issues for the paper.
[JOSS review: Documentation general comment #10](https://github.com/0xCoto/Virgo/issues/10#issue-845188047)
[JOSS review: Installation and Usage #11 ](https://github.com/0xCoto/Virgo/issues/11#issue-845191559)
[JOSS review: functionality documentation & testing #12 ](https://github.com/0xCoto/Virgo/issues/12#issue-845208507)

There

[2021-03-30 20:45] yarongvili1 commented on #3040
@henrykironde, let me make sure I understand what you have in mind.

Must the PR to K2SN-MSS must be accepted in order for this submission to proceed? I don't have control over this acceptance decision. I have doubts the K2SN-MSS repository owners would even respond, since it has been 2 years since the last commit to that repository. Moreover, their repository does not build as it is, suggesting i

[2021-03-30 21:39] willu47 commented on #2677
@kthyng - final box ticked!

[2021-03-30 21:52] henrykironde commented on #3040
1) Yes I noticed that the user has not contributed to work for years and not active, so I do not think that there would be any response, but submitting a PR is good. We can test using your branch as the evaluations comes to an end.

2) I have seen those test, I would suggest having something like

## Running Performance Tests

Performance tests are executed using a release build:

    mkdir -p bui

[2021-03-30 22:32] kthyng commented on #3078
@0x0f0f0f I wasn't able to finish reading your paper earlier, sorry. But I've looked through it now and just a few more comments:
1. Please differentiate between references that are cited inline, in which case you should remove the [] from the reference, and references that are parenthetical (usually at the end of the sentence) which should keep the [] around the reference. You can get more info [

[2021-03-30 22:34] kthyng commented on #2677
@willu47 thank you!

[2021-03-30 22:36] kthyng commented on #2677
Zenodo archive looks good!

[2021-03-30 22:41] kthyng commented on #2677
@TheoChristiaanse Your paper looks good but the references should be cleaned up a bit. Please look through for issues yourself, but a few I see:
* Preserve capitalization in the .bib file by placing {} around the appropriate words. For example, British Columbia should be capitalized in the first reference
* need a space in Evins et al.

You don't need to make a new version for edits to the paper u

[2021-03-30 23:14] 0x0f0f0f commented on #3078
@whedon generate pdf

[2021-03-30 23:15] whedon commented on #3078
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03078/joss.03078/10.21105.joss.03078.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03078/joss.03078/10.21105.joss.03078.pdf) :page_facing_up: :point_left:

[2021-03-30 23:18] 0x0f0f0f commented on #3078
@whedon generate pdf

[2021-03-30 23:20] whedon commented on #3078
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03078/joss.03078/10.21105.joss.03078.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03078/joss.03078/10.21105.joss.03078.pdf) :page_facing_up: :point_left:

[2021-03-30 23:21] 0x0f0f0f commented on #3078
@kthyng  Thanks again for the formatting suggestions. LGTM now

[2021-03-30 23:58] JustinSGray commented on #2809
@dpsanders   Is the final acceptance on us or on the editor?

[2021-03-31 00:12] dpsanders commented on #3078
You're still missing a capital J in the last reference.

[2021-03-31 00:54] dpsanders commented on #2809
We need to wait for a senior editor to review the submission.

[2021-03-31 03:36] whedon commented on #3118
:wave: @amoeba, please update us on how your review is going (this is an automated reminder).

[2021-03-31 03:36] whedon commented on #3118
:wave: @TomKellyGenetics, please update us on how your review is going (this is an automated reminder).

[2021-03-31 08:22] whedon commented on #3119
:wave: @remram44, please update us on how your review is going (this is an automated reminder).

[2021-03-31 09:39] f3rmion commented on #3050
@whedon generate pdf

[2021-03-31 09:40] whedon commented on #3050
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03050/joss.03050/10.21105.joss.03050.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03050/joss.03050/10.21105.joss.03050.pdf) :page_facing_up: :point_left:

[2021-03-31 09:40] 0x0f0f0f commented on #3078
@whedon generate pdf

[2021-03-31 09:41] whedon commented on #3078
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03078/joss.03078/10.21105.joss.03078.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03078/joss.03078/10.21105.joss.03078.pdf) :page_facing_up: :point_left:

[2021-03-31 09:46] 0x0f0f0f commented on #3078
Fixed

[2021-03-31 10:14] marcosvital commented on #3010
Thanks, @mllg!

[2021-03-31 10:15] marcosvital commented on #3010
@whedon set v1.2.0 as version

[2021-03-31 10:15] whedon commented on #3010
OK. v1.2.0 is the version.

[2021-03-31 10:16] marcosvital commented on #3010
@whedon set 10.5281/zenodo.4648087 as archive

[2021-03-31 10:16] whedon commented on #3010
OK. <a href="https://doi.org/10.5281/zenodo.4648087" target="_blank">10.5281/zenodo.4648087</a> is the archive.

[2021-03-31 10:17] marcosvital commented on #3010
@whedon accept

[2021-03-31 10:17] whedon commented on #3010
[code]

[2021-03-31 10:19] whedon commented on #3010
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2170

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2170, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-03-31 10:19] whedon commented on #3010
[code]

[2021-03-31 10:41] Kevin-Mattheus-Moerman commented on #3123
@pibion I'll set this as waitlisted for now and look forward to having you help with this submission once you have the time to take it on.

[2021-03-31 10:53] adi3 commented on #2990
@sdmccabe starting to look great! Where are the `time_series_data.txt` and `ground_truth.txt` files? Intuitively, I'd imagine they would be in your `/data` folder, but couldn't find them here.

[2021-03-31 11:37] marcosvital commented on #3027
Sorry about the long absence, @gmyenni.

@ViniciusBRodrigues, it took me a long while to be back on this submission, so I hope you can still be able to review it. I still have to find additional reviewers, so it will probably take a few days before we start.

[2021-03-31 11:39] marcosvital commented on #3027
Dear @pboesu, would you be willing to review this submission for JOSS?

We carry out an open checklist-driven reviews here in GitHub issues, and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is still a pre-review issue, and once there are enough reviewers we will move on to a new issue where the review will take place. If you are not able to review, plea

[2021-03-31 13:05] ankurankan commented on #3115
@D-K-E Quick question: I see that @Viva-Lambda has also contributed significantly to the repository but is not an author on the paper. Is there a reason for it or am I missing something?

[2021-03-31 13:38] jarvist commented on #2749
@sbenthall I think we should be good to go ^_^

[2021-03-31 13:42] alexpghayes commented on #3133
I can't edit the checklist and my invitation to `joss-reviews` has expired. Can I get a new one @mikldk?

[2021-03-31 13:48] remram44 commented on #3119
I did :thinking:

[2021-03-31 13:56] ankurankan commented on #3115
@whedon generate pdf

[2021-03-31 13:57] whedon commented on #3115
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03115/joss.03115/10.21105.joss.03115.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03115/joss.03115/10.21105.joss.03115.pdf) :page_facing_up: :point_left:

[2021-03-31 14:19] csoneson commented on #3122
Hi all - just wanted to check in to see how things are going. I see that @Prof-ThiagoOliveira has submitted a number of issues that are being actively worked on. @dlebauer - could you give us a quick update on where things are on your side? Just ping me if there are any questions. Thanks!

[2021-03-31 14:21] pboesu commented on #3027
Hi @marcosvital , unfortunately I am not able to review this in the next month. Perhaps @FlukeAndFeather is interested and available?

[2021-03-31 14:24] bauer-alex commented on #2964
@whedon generate pdf

[2021-03-31 14:33] bauer-alex commented on #2964
@whedon generate pdf

[2021-03-31 14:39] kthyng commented on #3083
@whedon reject

[2021-03-31 14:41] bauer-alex commented on #2964
@mbobra @qpmnguyen Thanks for the valuable feedback. I now addressed all questions / final recommendations of @qpmnguyen, see [here](https://github.com/julia-wrobel/registr/issues/38). The newly generated pdf in the last comment contains the newest version of the paper.

[2021-03-31 14:44] whedon commented on #3083
Paper rejected.

[2021-03-31 14:44] #3083 closed

[2021-03-31 14:44] gjo11 commented on #3139
Thank you. This seems like a really nice and useful package!
Just a few things: The output from the paper does not reflect what is produced by the current version of the package (the version under review is 0.7.1). I suppose they may have been generated using an older version.

1.
The following example is given in the paper:

library(see)
model <- lm(mpg ~ wt + am + gear + vs * cyl, data = mtcars)

[2021-03-31 14:52] kthyng commented on #3102
@whedon assign me as editor

[2021-03-31 14:52] kthyng commented on #3102
@bstabler you still interested in reviewing?

[2021-03-31 14:55] kthyng commented on #3102
@joferkington Are you interested in reviewing this submission for JOSS? The reviews are done all through github following checklists and opening issues in the software repo. We ask for reviews to be finished in 4-6 weeks but it tends to be an iterative process so it would be best to start the process earlier in that window. You can get more information here: https://joss.readthedocs.io/en/latest/r

[2021-03-31 14:56] kthyng commented on #3013
Hi @Natsiopoulos! You are second on our waiting list for your submission's discipline. We have a handful of editors who could potentially handle it, but they are all occupied currently.

[2021-03-31 14:59] kthyng commented on #3001
So why is there a giant pile of missing or invalid dois?

[2021-03-31 15:02] kthyng commented on #3001
@JohannesBuchner I'm looking at your Zenodo archives and they look out of order. The most recent one is associated with an older version of the code. Can I verify this is the correct DOI even though Zenodo tells me there is a more recent one when I click on it: 10.5281/zenodo.4636924.

[2021-03-31 15:05] martinmodrak commented on #3076
Also should have mention, that all of the suggestions (and the issues I filed) are open to discussion. There are very few things I feel particularly strongly about and I definitely don't want the authors to contort themselves to satisfy my whims :-)

[2021-03-31 15:08] kthyng commented on #3001
@JohannesBuchner Just a couple of notes for your paper:
* there is a typo in the 2nd paragraph: chose > choose.
* why are there extra periods in the [2] affiliation line?

[2021-03-31 15:17] kthyng commented on #2977
everything looks good!!

[2021-03-31 15:18] kthyng commented on #2977
@whedon accept deposit=true

[2021-03-31 15:29] kthyng commented on #3078
@whedon accept deposit=true

[2021-03-31 15:29] whedon commented on #2977
[code]

[2021-03-31 15:31] whedon commented on #2977
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1377282294117978115) 👈 🐦🐦🐦

[2021-03-31 15:31] whedon commented on #2977
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2171
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02977](https://doi.org/10.21105/joss.02977)
2. If everything looks g

[2021-03-31 15:31] kthyng commented on #2809
Ok everything looks set!

[2021-03-31 15:31] kthyng commented on #2809
@whedon accept deposit=true

[2021-03-31 15:32] kthyng commented on #2977
Congrats on your new publication @AJQuinn! Thanks to editor @dpsanders and reviewers @JanCBrammer, @EtienneCmb, and @neurofractal for your time, hard work, and expertise!!

[2021-03-31 15:32] #2977 closed

[2021-03-31 15:35] whedon commented on #2809
[code]

[2021-03-31 15:36] kthyng commented on #3010
@whedon accept deposit=true

[2021-03-31 15:37] whedon commented on #2809
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1377283927153475588) 👈 🐦🐦🐦

[2021-03-31 15:37] whedon commented on #2809
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2172
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02809](https://doi.org/10.21105/joss.02809)
2. If everything looks g

[2021-03-31 15:39] whedon commented on #3010
[code]

[2021-03-31 15:41] whedon commented on #3078
[code]

[2021-03-31 15:41] whedon commented on #3010
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2173
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.03010](https://doi.org/10.21105/joss.03010)
2. If everything looks g

[2021-03-31 15:42] whedon commented on #3078
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1377285297667510274) 👈 🐦🐦🐦

[2021-03-31 15:43] whedon commented on #3078
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2174
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.03078](https://doi.org/10.21105/joss.03078)
2. If everything looks g

[2021-03-31 15:44] whedon commented on #2977
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02977/status.svg)](https://doi.org/10.21105/joss.02977)

**We need your help!**

Journal of Open Source Softwa

[2021-03-31 15:48] kthyng commented on #3108
Hi @schruste  and thanks for your submission! Our relevant editors for your submission are booked up already so I am adding you to our waitlist. You'll be taken on as availability opens up. Sorry for the wait and thanks for your patience.

[2021-03-31 15:50] #2809 closed

[2021-03-31 15:51] kthyng commented on #3078
Congrats on your new publication @0x0f0f0f! Thanks to editor @dpsanders and reviewers @mwillsey, @jpfairbanks, and @philzook58 for your expertise, hard work, and time!!

[2021-03-31 15:51] #3078 closed

[2021-03-31 15:52] whedon commented on #2809
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02809/status.svg)](https://doi.org/10.21105/joss.02809)

**We need your help!**

Journal of Open Source Softwa

[2021-03-31 15:52] kthyng commented on #3010
Congrats on your new publication @bommert! Thanks to editor @marcosvital and reviewers @mcavs, @clauswilke, and @osorensen for your time, hard work, and expertise!!

[2021-03-31 15:52] #3010 closed

[2021-03-31 15:58] kthyng commented on #3113
Hi @zoometh! The editorial board has determined that your submission is in scope.

We will have to ask for your patience, though, as we have a backlog of submissions and our relevant editors are already overbooked with submissions. I will add the waitlist label now.

[2021-03-31 15:59] kthyng commented on #3116
@dpsanders could you take on this submission?

[2021-03-31 15:59] kthyng commented on #3116
@whedon invite @dpsanders as editor

[2021-03-31 16:04] whedon commented on #3010
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03010/status.svg)](https://doi.org/10.21105/joss.03010)

**We need your help!**

Journal of Open Source Softwa

[2021-03-31 16:05] kthyng commented on #3138
Hi @const-ae and @IndrajeetPatil and thanks for your submission. It's borderline in size so I'm going to ping the editorial board to take a look and make sure it is in scope before proceeding. This should take 1-2 weeks. Thank you!

[2021-03-31 16:05] kthyng commented on #3138
@whedon query scope

[2021-03-31 16:07] FlukeAndFeather commented on #3027
@pboesu thanks for suggesting me. Yes, I would be happy to review `portalcasting`. This would be my first JOSS review - is there a sign-up process? I read through the [reviewer guidelines](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) and didn't see that mentioned. Thanks!

[2021-03-31 16:08] kthyng commented on #2769
@arfon has taken care of publishing, so congrats on your new publication @prdm0! Thanks to editor @timtroendle and reviewers @pratikvn and @myousefi2016 for your time, hard work, and expertise!!

[2021-03-31 16:08] #2769 closed

[2021-03-31 16:11] whedon commented on #3116
@dpsanders has been invited to edit this submission.

[2021-03-31 16:14] whedon commented on #3138
Submission flagged for editorial review.

[2021-03-31 16:33] sambitdash commented on #2749
@sbenthall I ticked all the items related to the software as well. So we should be good to go.

[2021-03-31 16:45] sdmccabe commented on #2990
They are hypothetical files. I'm not really inclined to make real files for the purposes of illustration; in their place I could also generate simulated data with the correct structure (as in the distances example).

[2021-03-31 17:38] fboehm commented on #3001
@kthyng - I verified that the dois in the generated pdf work. Should I also be concerned with the output of whedon's check on references? I had thought that it was imperfect. I don't know the algorithm that whedon uses for reference check. Does it look a the bib file? Do we need the bib file to contain only those references that are used in paper.md? Or is it ok if the bib file has unused referenc

[2021-03-31 17:41] fboehm commented on #3097
@benmaier - I think that your solution is reasonable.

[2021-03-31 17:43] whedon commented on #3097
[code]

[2021-03-31 17:43] fboehm commented on #3097
@whedon generate pdf

[2021-03-31 17:44] whedon commented on #3097
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03097/joss.03097/10.21105.joss.03097.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03097/joss.03097/10.21105.joss.03097.pdf) :page_facing_up: :point_left:

[2021-03-31 17:47] fboehm commented on #3097
line 22, please italicize i.e. and place a comma after the second period. "i.e., "

[2021-03-31 17:50] fboehm commented on #3097
@benmaier - please fix the typos that I mentioned immediately above in three comments.

[2021-03-31 17:51] fboehm commented on #2995
My colleagues agreed with the above resolution.

[2021-03-31 17:54] MAnalytics commented on #3083
Dear @kthyng ,

Thank you very much for the feedback, and I thank the editors for taking the time to assess the package. I will love to re-submit the package but I would like you to help clarify a part of your comments. Specifically this:

"...so that the research part of the code was separate from the implementation code.".

My question is, which one is favoured by the journal, the 'research part

[2021-03-31 17:57] mbobra commented on #2964
👋 @munkm Let me know if you need any help reviewing (or, if you're swamped, I'm totally happy to find another reviewer -- it is okay!). The submitting author has been waiting patiently since January 15.

[2021-03-31 17:59] fboehm commented on #2995
line 8: empowered
line 14: researchers
line 40: As of today
line 45: Moreover, it has been reported that different
line 49: This is especially
line 52: As of today
line 57: no comma
line 63: Awkward sentence. Try "which is available on CRAN."
65: add-ons:

@mponce0 - please fix these typos.

[2021-03-31 18:02] mbobra commented on #3022
👋 @changhoonhahn Please let me know if you need any help with the review! The other referee didn't find any problems, so hopefully this won't be a time-consuming review. Anyway, I'm happy to help.

[2021-03-31 18:03] nilskroell commented on #3091
👋 @Atif-Anwer,

thanks a lot for your invested time and the nice review. I have adressed your issues as follows:

**Issue [#71](https://git.rwth-aachen.de/ants/sensorlab/imea/-/issues/71)**: I converted the .csb-images to 16bit png files and adjusted the spatial resolution in z-direction, accordingly. Furthermore, the demo notebook has been updates to read the 3D images from the png files.

**Issu

[2021-03-31 18:10] benmaier commented on #3097
@whedon generate pdf

[2021-03-31 18:11] whedon commented on #3097
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03097/joss.03097/10.21105.joss.03097.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03097/joss.03097/10.21105.joss.03097.pdf) :page_facing_up: :point_left:

[2021-03-31 18:13] benmaier commented on #3097
done!

[2021-03-31 18:14] mllg commented on #3010
Thanks everyone!

[2021-03-31 18:18] whedon opened #3140 "[PRE REVIEW]: fastgwr: A python-based command-line interface for fast and parallel fitting of Geographically Weighted Regression models"
**Submitting author:** @Ziqi-Li (<a href="http://orcid.org/0000-0002-6345-4347">Ziqi Li</a>)
**Repository:** <a href="https://github.com/Ziqi-Li/FastGWR" target ="_blank">https://github.com/Ziqi-Li/FastGWR</a>
**Version:** v0.2.9
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandem

[2021-03-31 18:18] whedon commented on #3140
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-31 18:18] whedon opened #3141 "[PRE REVIEW]: Visualizations with statistical details: The 'ggstatsplot' approach"
**Submitting author:** @IndrajeetPatil (<a href="http://orcid.org/0000-0003-1995-6531">Indrajeet Patil</a>)
**Repository:** <a href="https://github.com/IndrajeetPatil/ggstatsplot" target ="_blank">https://github.com/IndrajeetPatil/ggstatsplot</a>
**Version:** 0.7.1
**Editor:** @csoneson
**Reviewers:** @njtierney, @kevinrue
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :war

[2021-03-31 18:18] whedon commented on #3141
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-31 18:18] whedon opened #3142 "[PRE REVIEW]: tfaip - a Generic and Powerful Research Framework for Deep Learning based on Tensorflow"
**Submitting author:** @chwick (<a href="http://orcid.org/0000-0003-3958-6240">Christoph Wick</a>)
**Repository:** <a href="https://github.com/Planet-AI-GmbH/tfaip" target ="_blank">https://github.com/Planet-AI-GmbH/tfaip</a>
**Version:** v1.1.0
**Editor:** @arfon
**Reviewers:** @levimcclenny, @Het-Shah
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the

[2021-03-31 18:18] whedon commented on #3142
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-03-31 18:20] IndrajeetPatil commented on #3141
@whedon generate pdf

[2021-03-31 18:22] whedon commented on #3140
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03140/joss.03140/10.21105.joss.03140.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03140/joss.03140/10.21105.joss.03140.pdf) :page_facing_up: :point_left:

[2021-03-31 18:22] whedon commented on #3140
[code]

[2021-03-31 18:22] nilskroell commented on #3091
👋 @tuelwer ,

thanks for your answer and the follow up. I have adressed the remaining issues as follows:

**Issue [#76](https://git.rwth-aachen.de/ants/sensorlab/imea/-/issues/76):** I have added a short section how to run the test to the [README](https://git.rwth-aachen.de/ants/sensorlab/imea/-/blob/master/README.md) and [documentation](imea.readthedocs.io) and `pytest` was added as an requiremen

[2021-03-31 18:23] nilskroell commented on #3091
@whedon generate pdf

[2021-03-31 18:28] whedon commented on #3142
[code]

[2021-03-31 18:28] bstabler commented on #3102
@kthyng - yes!

[2021-03-31 18:30] whedon commented on #3091
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03091/joss.03091/10.21105.joss.03091.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03091/joss.03091/10.21105.joss.03091.pdf) :page_facing_up: :point_left:

[2021-03-31 18:31] kthyng commented on #3140
Hi @ziqi-li and thanks for your submission! Due to the relatively small size of the package, I am going to ping the editorial board to get input and see if we collectively consider it to be in scope. This process will take 1-2 weeks. Thanks for your patience.

[2021-03-31 18:38] kthyng commented on #3142
Hi @chwick and thanks for your submission. We have a backlog of submissions right now and will need to add you to a waitlist as we wait for editors to process through some submissions. I'll add the waitlist tag and we hope to get to this submission soon. Thanks for your patience.

[2021-03-31 18:41] Ziqi-Li commented on #3140
@kthyng Thanks for letting me know, and look forward to hearing positive from you and the board! Even though small in size, the package contains the core code and algorithms published in two peer-reviewed articles.

[2021-03-31 18:42] kthyng commented on #3141
@whedon check repository

[2021-03-31 18:44] whedon commented on #3141
[code]

[2021-03-31 18:50] kthyng commented on #3131
@seanbergin I'm consulting with the editorial board to see if anyone has experience with netlogo. Thanks for your patience.

[2021-03-31 19:19] KristinaRiemer commented on #3074
@whedon check references

[2021-03-31 19:19] whedon commented on #3074
[code]

[2021-03-31 19:27] KristinaRiemer commented on #3074
Hi @vbaliga, the paper looks good except for a couple of smaller errors in the references. Some of the references have "https://doi.org/" listed twice when it should only occur once, and the Wu & Guo references is missing a DOI.

Once those are fixed, you should create a new tagged release of the repo and create an archive of the code (on Zenodo, institutional repo, etc.). Then if you could provid

[2021-03-31 19:36] whedon commented on #3021
Here are some things you can ask me to do:

[code]

[2021-03-31 19:45] mwaskom commented on #3021
Hm I thought I saw in another issue that it's possible to direct editorial tasks to specific branches, but I'm not sure.

[2021-03-31 19:51] adi3 commented on #2990
@sdmccabe we need some sort of starter files so that users can see your examples running out of the box. Please add files with some dummy / simulated data to achieve this, and link them in your README. Thanks!

[2021-03-31 19:55] mponce0 commented on #2995
@fboehm Many thanks for noticing all of these. We have  gone through all and fixed them.

[2021-03-31 20:01] albertonogueira commented on #2862
I recommend this submission for publication.

[2021-03-31 20:18] sdmccabe commented on #2990
I think that simulated data would be sufficient to show this, as in the graph distances example. We have more detailed examples in the tutorial and included notebook; simulated data in the README would be sufficient to show the required types of input data.

[2021-03-31 20:23] adi3 commented on #2990
@sdmccabe cool, let me know once you're ready with the data. Also, please go ahead and merge your pull request so I can simply check the master README.

[2021-03-31 20:30] JohannesBuchner commented on #3001
Thanks, I think zenodo got confused there because I did a bunch at the same time.

The latest version is now 3.2.0.
doi: 10.5281/zenodo.4653423

[2021-03-31 20:31] JohannesBuchner commented on #3001
@whedon set v3.2.0 as version

[2021-03-31 20:31] whedon commented on #3001
I'm sorry @JohannesBuchner, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-03-31 20:32] JohannesBuchner commented on #3001
Thank you, these are fixed in the updated branch.

[2021-03-31 20:32] JohannesBuchner commented on #3001
@whedon generate pdf from branch joss-paper

[2021-03-31 20:32] whedon commented on #3001
[code]

[2021-03-31 20:34] whedon commented on #3001
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03001/joss.03001/10.21105.joss.03001.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03001/joss.03001/10.21105.joss.03001.pdf) :page_facing_up: :point_left:

[2021-03-31 20:54] sdmccabe commented on #2990
@adi3 it's merged.

[2021-03-31 21:07] Joao-L-S-Almeida commented on #2862
I am in agreement with the reviews and I recommend this submission. Thank you for the efforts.

[2021-03-31 21:13] adi3 commented on #2990
@sdmccabe Your second example runs fine. No success with the first and third though.

- For the first example, the commands run fine but the object `G` does not print anything.
- For the third example, the `simulate` method throws an error:
[code]

[2021-03-31 21:18] dbkeitel commented on #3000
@danielskatz : We've made a new [v1.11.4 release](https://github.com/PyFstat/PyFstat/releases/tag/v1.11.4) of the package including the following behind-the-scenes improvements, including reviewer comments:

- python 3.9 now supported
- improvements to documentation and examples
- for developers: flake8-docstrings and flake8-executable rules now enforced
- added a codemeta.json file
- started trac

[2021-03-31 21:18] dbkeitel commented on #3000
@whedon generate pdf from branch joss

[2021-03-31 21:18] whedon commented on #3000
[code]

[2021-03-31 21:20] whedon commented on #3000
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03000/joss.03000/10.21105.joss.03000.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03000/joss.03000/10.21105.joss.03000.pdf) :page_facing_up: :point_left:

[2021-03-31 21:22] pdebuyl commented on #3076
Thank you @martinmodrak for the review! It is phrased in a very constructive manner.

It is indeed appropriate to cite the tools on which a JOSS paper builds.

[2021-03-31 21:30] vbaliga commented on #3074
Hi @KristinaRiemer, thanks very much. I believe I have taken care of the DOI issues in the paper in the latest commits. I have now also:
* created a new release (v0.2.4, see https://github.com/vbaliga/gaussplotR/releases/tag/v0.2.4)
* triggered a Zenodo version update (see https://doi.org/10.5281/zenodo.4041073 for All Versions; and https://doi.org/10.5281/zenodo.4654036 for v0.2.4 specifically)

[2021-03-31 22:10] sdmccabe commented on #2990
@adi3 the first example returns a NetworkX graph, which does not have a particularly expressive string representation. But you can do something like `print(nx.info(G))` to inspect further.

The third example will be fixed in https://github.com/netsiphd/netrd/pull/323.

[2021-03-31 23:18] TomKellyGenetics commented on #3118
It's still on my list. Sorry, was meaning to do it this week but have been off sick for a few days. Will try to get it done soon.

[2021-04-01 00:04] fboehm commented on #3097
Great! We now need you, @benmaier to make a new release and to archive the package on zenodo. Please report in this thread the new release's version number and the archive's doi.

[2021-04-01 01:13] cMadan commented on #2839
@nicholst, would you be interested/available to review this submission?

@tramarobin, sorry we haven't been able to start the review yet. Hopefully we'll be able to soon!

[2021-04-01 06:50] dpsanders commented on #3116
Yes I can take it.

[2021-04-01 06:50] dpsanders commented on #3116
@whedon assign @dpsanders as editor

[2021-04-01 06:50] whedon commented on #3116
OK, the editor is @dpsanders

[2021-04-01 07:34] bommert commented on #3010
Thank you!

[2021-04-01 07:37] TomKellyGenetics commented on #3118
Great job on developing a handy package and Shiny App. I think this is deserving of publication with some corrections. The software seems to be of high quality and valuable to the community. The manuscript has some room for improvement. Sorry for the delayed review, I should have time to review in more details soon. I will post minor comments here and major issues on the package repository.

Insta

[2021-04-01 08:15] pdebuyl commented on #2973
gentle reminder @glyg @sophietheis

[2021-04-01 08:30] ChWick commented on #3142
Hi @kthyng, thanks for this information! We hope that our paper will be scheduled soon and appreciate the efforts of all editors that make this journal possible!

[2021-04-01 08:37] glyg commented on #2973
Hi @pdebuyl, sorry for the delay (all my fault), I'm polishing the doc tomorrow and deploying it (we switched from readthedocs to jupyter books)

[2021-04-01 08:41] benmaier commented on #3097
* version: v0.1.2
* zenodo: [10.5281/zenodo.4655616](https://doi.org/10.5281/zenodo.4655616)

[2021-04-01 09:00] nicholst commented on #2839
Sure @cMadan ... first time reviewing for JOSS... is there a reviewer's guide?

[2021-04-01 09:01] aghaynes commented on #3118
Thanks @TomKellyGenetics. As discussed elsewhere, I do indeed intend to submit the newest version to CRAN.
I hope to merge the PR today, pending some modifications for input validation. Note that we made substantial changes to the paper itself in the PR also.

[2021-04-01 09:15] timtroendle commented on #2769
Congratulation @prdm0! Thanks everyone; thank you @pratikvn and @myousefi2016 for your contributions!

[2021-04-01 09:15] TomKellyGenetics commented on #3118
@aghaynes thanks for letting us know. I will wait for the PR to be merged before checking the updated Shiny App and manuscript. I see you are working on a Docker image as well. Excellent idea. 👍

Regarding the "statement of need", as previously discussed with @majensen and senior editors this does not need to be an explicit section in the paper. Authors may merge this into the abstract/summary at

[2021-04-01 09:40] ygrange commented on #3067
I have to admit that the issues mentioned by @astrom-tom are sort of blocking continuation for me too. I will follow those threads and try to lend a hand myself wherever I can too.

[2021-04-01 09:52] fduchatea commented on #2805
@omshinde @martinfleis @galessiorob : Thank you for your feedback and positive reviews!

We have corrected the XLS output format in the paper.
About the warning: it is due to the converter API (from HTML to XLS). We are 2 MacOS users in the team: one also uses Excel and has the same warning as Martin while I use Libre Office to read the XLS file and I do not have any warning. It seems we cannot do

[2021-04-01 09:57] martinfleis commented on #2805
Maybe a short note in the docs that this may happen? So the user knows it is expected behaviour and there's nothing to be worried about.

[2021-04-01 11:25] fduchatea commented on #2805
Done (in the `predict.py` file, and on the package documentation). Will be soon on the online documentation too (needs a manual intervention).

[2021-04-01 11:54] danielskatz commented on #3000
I'll see if I can find an answer to 1, and then we can do 2.  If we can't fix 1, I don't think it's a big problem though.

[2021-04-01 11:55] danielskatz commented on #3000
When we are ready, the next steps will be
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author l

[2021-04-01 12:39] arfon commented on #3000
@tarleb - any suggestions here?

[2021-04-01 13:35] KristinaRiemer commented on #3074
@whedon generate pdf

[2021-04-01 13:35] KristinaRiemer commented on #3074
@whedon check references

[2021-04-01 13:35] whedon commented on #3074
[code]

[2021-04-01 13:36] whedon commented on #3074
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03074/joss.03074/10.21105.joss.03074.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03074/joss.03074/10.21105.joss.03074.pdf) :page_facing_up: :point_left:

[2021-04-01 13:43] KristinaRiemer commented on #3074
Great, thanks for doing that @vbaliga! So we want the archived code to match the submission, so could you change the title on Zenodo to "gaussplotR: Fit, Predict and Plot 2D-Gaussians in R"?

[2021-04-01 13:46] tramarobin commented on #2839
@cMadan, no problem I know it is sometimes difficult to find reviewers.

@nicholst, thank you for accepting to review this paper. I think @cMadan will give you instructions soon as there are now two reviewers.

[2021-04-01 14:28] Prof-ThiagoOliveira commented on #3122
@csoneson I am waiting for the authors to update my suggestions. Where could I include suggestions about the manuscript?

[2021-04-01 15:38] eloisabentivegna commented on #2862
Thanks, @albertonogueira and @Joao-L-S-Almeida! Your insight and suggestions are very appreciated.

@jdoorman, from your checklist it would seem you are done with the review? Could you confirm and issue your recommendation?

[2021-04-01 15:47] csoneson commented on #3122
Thanks @Prof-ThiagoOliveira! You can add comments on theh paper either as posts in this thread or open an issue in the software repository as you have done above.

[2021-04-01 16:30] mbobra commented on #3091
@nilskroell Thank you for such a quick follow-up!

@Atif-Anwer @tuelwer Did the submitting author address all of your concerns? If so I will move forward with accepting the paper. Please let me know!

[2021-04-01 16:31] tuelwer commented on #3091
@nilskroell, thanks for you fast response to my feedback! I can confirm that the tests now run without any warnings on my machine. Also, I think that the new explanations make things more clear. Good job! 👍

@mbobra, I see no more issues with this submission and recommend to accept it 👍

[2021-04-01 16:31] kthyng commented on #3121
Hi @umutozel and thanks for your submission. Unfortunately, the editorial board has determined that your submission is out of scope for JOSS due to not being [research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software).

[2021-04-01 16:32] kthyng commented on #3121
@whedon reject

[2021-04-01 16:32] whedon commented on #3121
Paper rejected.

[2021-04-01 16:32] #3121 closed

[2021-04-01 16:48] nilskroell commented on #3091
@tuelwer Thanks, for the quick follow up. Thats great to hear! Thanks once again for the great review(s) and responses, I really appreciate it. 😀

@mbobra : Great to hear! Can we update the version number listed above to `v0.3.1` (the current version of `imea` after adressing the reviewers concerns)?

[2021-04-01 16:54] vbaliga commented on #3074
@KristinaRiemer sure thing! I just pushed an update to Zenodo (v0.2.5, see: https://doi.org/10.5281/zenodo.4657750). The corresponding release on the github repo is available here: https://github.com/vbaliga/gaussplotR/releases/tag/v0.2.5

[2021-04-01 17:41] jarrah42 commented on #3040
@yarongvili1:

I was referring to the interfaces that use _AVX, _AVX2, etc. which ties the code to a particular hardware feature. If you follow this approach, then any port to a new architecture with different features requires a new set of APIs. Conversely, if my code uses a specific feature set then porting it to a new architecture that doesn't support those features becomes problematic. I think

[2021-04-01 17:44] jarrah42 commented on #3129
@danielskatz yes I can look at this.

[2021-04-01 17:47] danielskatz commented on #3129
Great - thanks for agreeing to another one @jarrah42 !  I'll add you and start the review

[2021-04-01 17:47] danielskatz commented on #3129
@whedon add @jarrah42 as reviewere

[2021-04-01 17:47] whedon commented on #3129
OK, @jarrah42 is now a reviewer

[2021-04-01 17:48] danielskatz commented on #3129
@whedon start review

[2021-04-01 17:48] whedon opened #3143 "[REVIEW]: Synch: A framework for concurrent data-structures and benchmarks"
**Submitting author:** @nkallima (<a href="http://orcid.org/0000-0002-0331-1475">Nikolaos D. Kallimanis</a>)
**Repository:** <a href="https://github.com/nkallima/sim-universal-construction" target ="_blank">https://github.com/nkallima/sim-universal-construction</a>
**Version:** v3.0.0
**Editor:** @danielskatz
**Reviewers:** @jarrah42, @williamfgc
**Archive:** <a href="https://doi.org/10.5281/zenod

[2021-04-01 17:48] whedon commented on #3129
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3143.

[2021-04-01 17:48] #3129 closed

[2021-04-01 17:48] whedon commented on #3143
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @hkaiser, @jarrah42 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2021-04-01 17:48] whedon commented on #3143
[code]

[2021-04-01 17:48] whedon commented on #3143
PDF failed to compile for issue #3143 with the following error:

 Can't find any papers to compile :-(

[2021-04-01 17:49] danielskatz commented on #3143
@whedon generate pdf from branch joss-branch

[2021-04-01 17:49] whedon commented on #3143
[code]

[2021-04-01 17:50] whedon commented on #3143
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03143/joss.03143/10.21105.joss.03143.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03143/joss.03143/10.21105.joss.03143.pdf) :page_facing_up: :point_left:

[2021-04-01 17:50] danielskatz commented on #3143
@whedon check references from branch joss-branch

[2021-04-01 17:50] whedon commented on #3143
[code]

[2021-04-01 17:51] whedon commented on #3143
[code]

[2021-04-01 17:51] danielskatz commented on #3143
@hkaiser and @jarrah42 - Thanks for agreeing to review this submission.

This is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

[2021-04-01 17:52] danielskatz commented on #3143
👋 @nkallima - note that there a couple of references in your bib file that you can fix (by removing the `https://doi.org/` part) when you get a chance - no hurry though...  You can use the same `@whedon` comments I did above to recheck and regenerate the pdf, too.

[2021-04-01 18:27] mbobra commented on #3091
@nilskroell Yes, perfect! If @Atif-Anwer gives us the thumbs up, then please release a new version of `imea` and deposit the code in Zenodo. [Here are some instructions](https://guides.github.com/activities/citable-code/) about how to deposit code from Github to Zenodo, but I am not sure if it works with Gitlab. Please make sure the author list on the Zenodo deposit matches the author list on the

[2021-04-01 18:43] Kevin-Mattheus-Moerman commented on #2885
@ranahanocka are you able to help review this submission  for [JOSS](https://joss.theoj.org/)? The [review process](https://joss.readthedocs.io/en/latest/submitting.html#the-review-process) focuses on [the software](https://github.com/LiangliangNan/Easy3D) and this [short paper](https://github.com/openjournals/joss-papers/blob/joss.02885/joss.02885/10.21105.joss.02885.pdf). If you are interested y

[2021-04-01 19:17] strengejacke commented on #3139
@gjo11 Thanks for your comments. I addressed your issues, however, some are related to dependencies from GitHub versions of packages.

1. The easystats-packages are designed with developers in mind, that may use the functions from packages like _performance_ in their packages. Thus, we try to keep dependencies as low as possible. Thus, all plotting functions are located in the _see_ package (which

[2021-04-01 19:53] dbkeitel commented on #3000
@whedon generate pdf from branch joss

[2021-04-01 19:53] whedon commented on #3000
[code]

[2021-04-01 19:56] whedon commented on #3000
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03000/joss.03000/10.21105.joss.03000.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03000/joss.03000/10.21105.joss.03000.pdf) :page_facing_up: :point_left:

[2021-04-01 19:56] dbkeitel commented on #3000
- citation formats: Now I've simply resorted to entering the first 3 authors + "and others" in the `.bib` file, the result is the correct "first tauthor et al." in the pdf text. Of course the bibliography entries at the end themselves now have those 3 + "& others"; if that's ok with JOSS style, this solution is good for me.
- acknowledgments: also updated
- deposited version: we're automatically d

[2021-04-01 20:39] fboehm commented on #3097
@whedon set 0.1.2 as version

[2021-04-01 20:40] whedon commented on #3097
OK. 0.1.2 is the version.

[2021-04-01 20:40] fboehm commented on #3097
@whedon set 10.5281/zenodo.4655616 as archive

[2021-04-01 20:40] whedon commented on #3097
OK. <a href="https://doi.org/10.5281/zenodo.4655616" target="_blank">10.5281/zenodo.4655616</a> is the archive.

[2021-04-01 20:41] fboehm commented on #3097
@whedon set v0.1.2 as version

[2021-04-01 20:42] whedon commented on #3097
OK. v0.1.2 is the version.

[2021-04-01 20:43] yarongvili1 commented on #3040
@jarrah42:

Got it. The API is designed this way to support a couple of use cases:
* A regular user, who is just interested in the best implementation of the functions for the current platform, would invoke the main API functions, i.e. the ones with no suffix, that are microarchitecture-agnostic. This is what most users would do.
* A more sophisticated user, who is interested in selecting a specif

[2021-04-01 20:51] fboehm commented on #3097
I've now downloaded the pdf and verified that all dois in the references section direct to the correct resources.

[2021-04-01 20:52] fboehm commented on #3097
@whedon accept

[2021-04-01 20:52] whedon commented on #3097
[code]

[2021-04-01 20:53] whedon commented on #3097
[code]

[2021-04-01 20:54] whedon commented on #3097
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2175

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2175, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-01 21:11] jarrah42 commented on #3040
No, I wasn't raising this as a condition of acceptance. Only that it's something you might want to consider. I'll open a GitHub issue for more discussion.

Thanks for addressing the other points.

[2021-04-01 21:23] Atif-Anwer commented on #3091
@nilskroell Great work! I can also confirm that all suggestions have been incorporated the amendments run without any issue, including updated paper draft. I do think it is much more clear and citable now :)

@mbobra All remarks and comments have been successfully addressed therefore I would like to recommend the submission for acceptance and publishing 👍🏼

[2021-04-01 21:49] nilskroell commented on #3091
@Atif-Anwer Thats great to hear! Thanks a lot for your great review and the fast reply -- it was a pleasure! 👍

[2021-04-01 21:56] nilskroell commented on #3091
@mbobra The release version for JOSS (v0.3.1) has been added as a tag on the `imea` repository: [`v0.3.1`](https://git.rwth-aachen.de/ants/sensorlab/imea/-/releases/v0.3.1).
Furthermore I archived v0.3.1 on Zenodo, the DOI is: [10.5281/zenodo.4659161](https://www.doi.org/10.5281/zenodo.4659161) The other list in Zenodo is the same as in this review (just myself with included ORCID tag)
*(Just as a

[2021-04-01 22:34] djmitche commented on #3127
"State of the Field" is the only checkbox left for me.  This looks like a well-managed OSS project, and spot-checks of the code all look well-organized and approachable.

[2021-04-02 00:30] mbobra commented on #3022
@changhoonhahn Thank you so much for your thorough review! I really appreciate it.

[2021-04-02 00:33] mbobra commented on #3022
@JulienPeloton Your submission has been accepted for publication -- congratulations! Can you please [archive your code in Zenodo](https://guides.github.com/activities/citable-code/)? Please make sure that the author list on the Zenodo deposit matches the author list of the paper.

[2021-04-02 06:10] dpsanders commented on #2809
Congratulations @robfalck and @JustinSGray! Many thanks to @goerz and @thowell for your detailed and helpful reviews, and @kthyng for your help with the process.

[2021-04-02 06:15] dpsanders commented on #3078
Congratulations @0x0f0f0f! Many thanks to @mwillsey, @jpfairbanks and @philzook58 for your expert advice and suggestions, and to @kthyng for help with the process.

[2021-04-02 06:16] dpsanders commented on #2977
Congratulations @AJQuinn! Many thanks to @JanCBrammer, @EtienneCmb and @neurofractal for your detailed and helpful reviews, and to @kthyng for help with the process.

[2021-04-02 06:56] JulienPeloton commented on #3022
Hi,

Thanks @Christovis and @changhoonhahn for the review! We appreciate the time you spent on checking the paper and the code.

@mbobra, the code has been archive in zenodo: https://zenodo.org/record/4659617 with the correct list of authors.

[2021-04-02 07:43] TomKellyGenetics commented on #3118
Sorry I realise it is a holiday period in western countries (I'm based in Asia where it is not). Please _do not_ feel obligated to respond to my review until you are ready. Enjoy your holidays. 😄

I will review the manuscript once the pull request above has been completed. Please let me know when it is ready.

[2021-04-02 08:35] nkallima commented on #3143
@whedon generate pdf from branch joss-branch

[2021-04-02 08:35] whedon commented on #3143
[code]

[2021-04-02 08:36] whedon commented on #3143
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03143/joss.03143/10.21105.joss.03143.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03143/joss.03143/10.21105.joss.03143.pdf) :page_facing_up: :point_left:

[2021-04-02 08:37] nkallima commented on #3143
@whedon check references from branch joss-branch

[2021-04-02 08:37] whedon commented on #3143
[code]

[2021-04-02 08:37] whedon commented on #3143
[code]

[2021-04-02 08:53] nkallima commented on #3143
@whedon generate pdf from branch joss-branch

[2021-04-02 08:54] whedon commented on #3143
[code]

[2021-04-02 08:54] whedon commented on #3143
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03143/joss.03143/10.21105.joss.03143.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03143/joss.03143/10.21105.joss.03143.pdf) :page_facing_up: :point_left:

[2021-04-02 08:55] nkallima commented on #3143
@whedon check references from branch joss-branch

[2021-04-02 08:55] whedon commented on #3143
[code]

[2021-04-02 08:55] whedon commented on #3143
[code]

[2021-04-02 08:57] nkallima commented on #3143
@danielskatz Thank you for pointing this out, I fixed them.

[2021-04-02 10:11] xuanxu commented on #3067
@astrom-tom / @ygrange: Thanks!

@0xCoto Please keep us updated here about your progress addressing the mentioned comments and issues.

[2021-04-02 10:38] pjbouchet commented on #3094
Found a typo in the README file, where `src/get_get_remote_data.sh` should be `src/get_remote_data.sh`

[2021-04-02 10:45] pjbouchet commented on #3094
WhaleMap is cited/mentioned in more papers than currently reported in the reference list, though some authors only provide the app URL rather than include an actual citation which could be more easily tracked. You may want to add the following to your list of references:

- [Koubrak et al. 2021](https://www.sciencedirect.com/science/article/pii/S0964569120300193). Saving the North Atlantic right w

[2021-04-02 11:31] dbkeitel commented on #3000
@danielskatz v1.11.5 of the package, with DOI [10.5281/zenodo.4659766](https://doi.org/10.5281/zenodo.4659766), is ready as a reference version for the paper.

However, it doesn't have the longer title of the paper, and the order of the author list is different (original author first). Should I make a separate manual deposit off the `joss-paper` branch with exactly matching metadata, or is this on

[2021-04-02 11:32] dbkeitel commented on #3000
@whedon generate pdf from branch joss

[2021-04-02 11:32] whedon commented on #3000
[code]

[2021-04-02 11:33] whedon commented on #3000
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03000/joss.03000/10.21105.joss.03000.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03000/joss.03000/10.21105.joss.03000.pdf) :page_facing_up: :point_left:

[2021-04-02 11:45] fboehm commented on #2995
@whedon generate pdf

[2021-04-02 11:46] fboehm commented on #2995
@whedon generate pdf from branch literature

[2021-04-02 11:46] whedon commented on #2995
[code]

[2021-04-02 11:51] fboehm commented on #3001
@whedon set v3.2.0 as version

[2021-04-02 11:51] whedon commented on #3001
OK. v3.2.0 is the version.

[2021-04-02 11:51] whedon commented on #2995
PDF failed to compile for issue #2995 with the following error:

 Can't find any papers to compile :-(

[2021-04-02 11:53] fboehm commented on #3001
@whedon set 10.5281/zenodo.4653423 as archive

[2021-04-02 11:53] whedon commented on #3001
OK. <a href="https://doi.org/10.5281/zenodo.4653423" target="_blank">10.5281/zenodo.4653423</a> is the archive.

[2021-04-02 11:53] whedon commented on #2995
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02995/joss.02995/10.21105.joss.02995.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02995/joss.02995/10.21105.joss.02995.pdf) :page_facing_up: :point_left:

[2021-04-02 11:58] fboehm commented on #2995
line 76: delete "sake".
line 80: "of incorporating" should be "to incorporate"

Please fix these minor issues, @mponce0

[2021-04-02 12:15] danielskatz commented on #3000
@dbkeitel - you should be able to go to the Zenodo page and edit the metadata

[2021-04-02 12:27] 0x0f0f0f commented on #3078
Thanks @mwillsey @jpfairbanks @philzook58 @kthyng for all your useful comments and contributions to this project and this review! It's my first published paper, a great milestone!

[2021-04-02 13:23] kthyng commented on #3001
@fboehm @JohannesBuchner As long as the DOIs in the paper are ok, it is fine. I would be remiss not to check in though with the unusual listing of doi's coming through our whedon check.

[2021-04-02 13:23] kthyng commented on #3001
Looks like everything is in order now!

[2021-04-02 13:24] kthyng commented on #3001
@whedon accept deposit=true from branch joss-paper

[2021-04-02 13:24] whedon commented on #3001
[code]

[2021-04-02 13:26] whedon commented on #3001
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1377975840647045125) 👈 🐦🐦🐦

[2021-04-02 13:26] whedon commented on #3001
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2176
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.03001](https://doi.org/10.21105/joss.03001)
2. If everything looks g

[2021-04-02 13:34] mponce0 commented on #2995
Many thanks @fboehm !
Fixed them.

[2021-04-02 13:34] mponce0 commented on #2995
@whedon generate pdf from branch literature

[2021-04-02 13:34] whedon commented on #2995
[code]

[2021-04-02 13:34] kthyng commented on #3097
@benmaier Things look like they are mostly ready to go! One comment on your paper. For lists of inline parenthetical references, use this sort of format: [@ref1; @ref2] so that they should up together in one set of parentheses. More info: https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography

[2021-04-02 13:35] kthyng commented on #3001
Congrats on your new publication @JohannesBuchner! Thanks to editor @fboehm and reviewers @mattpitkin and @ziatdinovmax for your hard work, time, and expertise!!

[2021-04-02 13:35] #3001 closed

[2021-04-02 13:35] whedon commented on #3001
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03001/status.svg)](https://doi.org/10.21105/joss.03001)

**We need your help!**

Journal of Open Source Softwa

[2021-04-02 13:39] whedon commented on #2995
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02995/joss.02995/10.21105.joss.02995.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02995/joss.02995/10.21105.joss.02995.pdf) :page_facing_up: :point_left:

[2021-04-02 13:40] 0xCoto commented on #3067
@whedon generate pdf

[2021-04-02 13:41] whedon commented on #3067
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03067/joss.03067/10.21105.joss.03067.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03067/joss.03067/10.21105.joss.03067.pdf) :page_facing_up: :point_left:

[2021-04-02 13:46] kthyng commented on #3131
@seanbergin Can your code be re-used as a library for users to input different environments to simulate hurricanes in different places? While this software is clearly useful, we're trying to suss out how much it is tied directly to this one study and related studies vs. a more general tool that other researchers would use.

Could you check out our [description](https://joss.readthedocs.io/en/lates

[2021-04-02 13:48] kthyng commented on #3130
@whedon generate pdf

[2021-04-02 13:48] whedon commented on #3130
PDF failed to compile for issue #3130 with the following error:

 /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse': (661f38b24c9dad2bf1895989/paper/paper.md): found a tab character that violate intendation while scanning a plain scalar at line 13 column 12 (Psych::SyntaxError)
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse_stream'
	from /app/vendor/ruby-2.6.6/lib/r

[2021-04-02 13:51] kthyng commented on #3130
@felipeZ I think the paper is not generating because of the tab highlighted in red here: https://github.com/nlesc-nano/ceiba/blob/main/paper/paper.md. PLease fix that.

The editorial board has decided this is in scope, when reviewed together with the CLI package.

[2021-04-02 13:51] kthyng commented on #3130
@majensen Would you be able to edit this submission?

[2021-04-02 13:52] kthyng commented on #3130
@whedon invite @majensen as editor

[2021-04-02 13:52] whedon commented on #3130
@majensen has been invited to edit this submission.

[2021-04-02 13:56] felipeZ commented on #3130
@kthyng thanks for let me know! I am changing it now

[2021-04-02 13:56] kthyng commented on #3134
Hi @gerdos and thanks for your submission. Unfortunately the editorial board has determined that your submission does not pass the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) bar. It sounds excellent to join with Biopython, and perhaps the larger combined package could even be submitted to JOSS sometime.

[2021-04-02 13:56] kthyng commented on #3134
@whedon reject

[2021-04-02 13:56] whedon commented on #3134
Paper rejected.

[2021-04-02 13:56] #3134 closed

[2021-04-02 13:58] felipeZ commented on #3130
@whedon generate pdf

[2021-04-02 13:59] whedon commented on #3130
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03130/joss.03130/10.21105.joss.03130.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03130/joss.03130/10.21105.joss.03130.pdf) :page_facing_up: :point_left:

[2021-04-02 14:00] 0xCoto commented on #3067
@ygrange - Thank you very much for your comments.

The paper only contains three authors (I assume by "four" you were referring to the GitHub README), which have had major contributions to the project (not only in terms of code, but also theoretical design of certain technical aspects), and to the composition of the paper as well. Only three of the people listed in the README footer have had a suf

[2021-04-02 14:03] majensen commented on #3130
@whedon assign me as editor

[2021-04-02 14:04] whedon commented on #3130
OK, the editor is @majensen

[2021-04-02 14:04] majensen commented on #3130
Looks like an interesting approach, happy to handle this

[2021-04-02 14:06] kthyng commented on #3141
@csoneson I see you're just finishing up a different submission... are you able to take on this new one?

[2021-04-02 14:06] kthyng commented on #3141
@whedon invite @csoneson as editor

[2021-04-02 14:06] whedon commented on #3141
@csoneson has been invited to edit this submission.

[2021-04-02 14:07] 0xCoto commented on #3067
@astrom-tom - Thank you for the comments raised, they have all been addressed in the corresponding issues and the software definitely benefits from the requested additions.

@ygrange - Since you mentioned continuation issues, I'll also inform you of the documentation that has just been composed and can be found [here](https://virgo.readthedocs.io/en/latest/). Hope that helps; please let me know if

[2021-04-02 14:09] whedon opened #3144 "[PRE REVIEW]: PySDM v1: particle-based cloud modelling package for warm-rain microphysics and aqueous chemistry"
**Submitting author:** @piotrbartman (<a href="http://orcid.org/0000-0003-0265-6428">Piotr Bartman</a>)
**Repository:** <a href="https://github.com/atmos-cloud-sim-uj/PySDM.git" target ="_blank">https://github.com/atmos-cloud-sim-uj/PySDM.git</a>
**Version:** v1
**Editor:** @dhhagan
**Reviewers:** @jwuttke, @darothen
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:*

[2021-04-02 14:10] whedon commented on #3144
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-04-02 14:11] whedon commented on #3144
[code]

[2021-04-02 14:11] whedon commented on #3144
PDF failed to compile for issue #3144 with the following error:

 Can't find any papers to compile :-(

[2021-04-02 14:14] kthyng commented on #3083
Hi @MAnalytics. I think the idea behind the comment is that specific code for your very particular research question might not be as generally useful to other people who might be interested in using your package, so the more the code is modularized or written so that people with different specific questions can also use your package, the more likely it is to be used. Hope that helps.

[2021-04-02 14:19] kthyng commented on #3128
@evanleeturner I hope things are going well with you! Are you interested in reviewing this submission to JOSS? As a reminder, you can read about the process [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) and we are asking for reviews to be finished within about 4-6 weeks but since it is often an iterative process, you would want to start sooner than that. Thanks for your co

[2021-04-02 14:23] kthyng commented on #3128
Hi @kmarkert are you interested in reviewing this submission for the Journal of Open Source Software? You can read about the process [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) and we are asking for reviews to be finished within about 4-6 weeks but since it is often an iterative process, you would want to start sooner than that. Thanks for your consideration.

[2021-04-02 14:24] ygrange commented on #3067
Thanks for that! And thanks for all the answers. Especially the last comment is one I struggle with to make, because I by no means want to discredit the use of education/outreach as part of science (quite the opposite)!
I will have a look at the docs, install instructions and follow them and continue writing comments (probably going to be after the easter break though).

[2021-04-02 14:24] kthyng commented on #3102
@whedon assign @bstabler as reviewer

[2021-04-02 14:24] whedon commented on #3102
OK, @bstabler is now a reviewer

[2021-04-02 14:24] kthyng commented on #3144
@whedon generate pdf from branch JOSS

[2021-04-02 14:24] whedon commented on #3144
[code]

[2021-04-02 14:25] whedon commented on #3144
PDF failed to compile for issue #3144 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:147:in `check_fields': Paper YAML header is missing expected fields: date (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:89:in `initialize'
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773

[2021-04-02 14:29] kthyng commented on #3144
@piotrbartman can you address the error in your paper here?

[2021-04-02 14:36] kthyng commented on #3144
@dhhagan Is this close enough in your wheelhouse to take on?

[2021-04-02 14:36] kthyng commented on #3144
@whedon invite @dhhagan as editor

[2021-04-02 14:36] whedon commented on #3144
@dhhagan has been invited to edit this submission.

[2021-04-02 14:39] MAnalytics commented on #3083
Hi @kthyng. Thanks so much for the clarification. That is very helpful!

But if I re-submit the package, do I need to mention this issue, or everything will be re-considered afresh? Thanks.

[2021-04-02 14:59] dhhagan commented on #3144
@kthyng This is absolutely right in my wheelhouse - will add myself as editor.

[2021-04-02 15:03] dhhagan commented on #2890
@whedon add @dhhagan as editor

[2021-04-02 15:03] whedon commented on #2890
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-04-02 15:03] dhhagan commented on #2890
@whedon commands

[2021-04-02 15:03] whedon commented on #2890
Here are some things you can ask me to do:

[code]

[2021-04-02 15:03] dhhagan commented on #2890
@whedon assign @dhhagan as editor

[2021-04-02 15:04] dhhagan commented on #3144
@whedon assign @dhhagan as editor

[2021-04-02 15:04] whedon commented on #3144
OK, the editor is @dhhagan

[2021-04-02 15:47] kthyng commented on #3083
@MAnalytics Yes it would be best to connect back to this issue for context. Thanks.

[2021-04-02 16:08] dbkeitel commented on #3000
Of course, but then it would look odd that this one version has different data than all others before and after. If JOSS needs one deposit that exactly matches the paper, then I'd prefer to do a "duplicate", if that's ok.

[2021-04-02 16:32] glyg commented on #2973
Hi @pdebuyl @fcooper8472 and @SergeDmi - we updated the doc, now at [tyssue.io](http://tyssue.io), hopefully it is more detailed and progressive.

We also fixed the citation od Chaste and the README issue

[2021-04-02 16:54] sbenthall commented on #2749
Awesome! With both reviewers recommending publication, we can proceed with the finalizing steps.

[2021-04-02 16:54] sbenthall commented on #2749
@whedon generate pdf

[2021-04-02 16:54] danielskatz commented on #3000
As Emerson said, "A foolish consistency is the hobgoblin of little minds" - but it's up to you :)

Sure, that's fine.

[2021-04-02 16:55] whedon commented on #2749
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02749/joss.02749/10.21105.joss.02749.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02749/joss.02749/10.21105.joss.02749.pdf) :page_facing_up: :point_left:

[2021-04-02 16:55] sbenthall commented on #2749
@whedon check references

[2021-04-02 16:55] whedon commented on #2749
[code]

[2021-04-02 16:58] sbenthall commented on #2749
@mossr  Can you please address the missing DOI identified by Whedon?

[2021-04-02 16:59] sbenthall commented on #3065
Hello. Gentle reminder to @martibosch and @jamesdamillington to please review this work.

[2021-04-02 17:59] mikldk commented on #2992
@whedon generate pdf from branch joss

[2021-04-02 17:59] whedon commented on #2992
[code]

[2021-04-02 18:00] whedon commented on #2992
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02992/joss.02992/10.21105.joss.02992.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02992/joss.02992/10.21105.joss.02992.pdf) :page_facing_up: :point_left:

[2021-04-02 18:01] mikldk commented on #3133
@whedon re-invite @alexpghayes as reviewer

[2021-04-02 18:01] whedon commented on #3133
OK, the reviewer has been re-invited.

@alexpghayes please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-04-02 18:02] mikldk commented on #2992
@whedon accept

[2021-04-02 18:02] whedon commented on #2992
[code]

[2021-04-02 18:02] whedon commented on #2992
PDF failed to compile for issue #2992 with the following error:

 Can't find any papers to compile :-(

[2021-04-02 18:28] MAnalytics commented on #3083
@kthyng Ok. Thank you very much.

[2021-04-02 19:08] benmaier commented on #3097
Ah, thank you and many apologies for not staying in syntax! Do you want me to fix this and resubmit?

[2021-04-02 19:58] mossr commented on #2749
@sbenthall addressed and pushed. Should be all set.

[2021-04-02 20:19] jGaboardi commented on #2826
@whedon generate pdf

[2021-04-02 20:20] whedon commented on #2826
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02826/joss.02826/10.21105.joss.02826.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02826/joss.02826/10.21105.joss.02826.pdf) :page_facing_up: :point_left:

[2021-04-02 20:43] gflofst commented on #2484
@pibion I have identified problems with the Windows instructions and build and reported it to them to get it fixed (since they claim Windows works), but haven't heard back in about 36 hours on the status. I am looking at the other pieces as I work through this issue.

[2021-04-02 21:18] dbkeitel commented on #3000
@danielskatz Here's the reference deposit: https://doi.org/10.5281/zenodo.4660591

[2021-04-02 21:32] jGaboardi commented on #2826
@whedon generate pdf

[2021-04-02 21:33] whedon commented on #2826
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02826/joss.02826/10.21105.joss.02826.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02826/joss.02826/10.21105.joss.02826.pdf) :page_facing_up: :point_left:

[2021-04-02 21:35] jGaboardi commented on #2826
@whedon generate pdf

[2021-04-02 21:36] whedon commented on #2826
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02826/joss.02826/10.21105.joss.02826.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02826/joss.02826/10.21105.joss.02826.pdf) :page_facing_up: :point_left:

[2021-04-02 21:43] jGaboardi commented on #2826
@martibosch @usethedata @arfon We have wrapped up our responses to the issues raised by @martibosch, and implemented changes in the `spaghetti` package itself and in the manuscript text. I was unsure about leaving the issues opened by @martibosch as they are or closing them, so I left them open.

On another topic, I was unable to figure out how to reduce figure sizes elegantly in MarkDown, but I t

[2021-04-02 22:06] poulson commented on #3100
@whedon start review

[2021-04-02 22:06] whedon opened #3145 "[REVIEW]: ExaFMM: a high-performance fast multipole method library with C++ and Python interfaces"
**Submitting author:** @tingyu66 (<a href="http://orcid.org/0000-0003-2520-0511">Tingyu Wang</a>)
**Repository:** <a href="https://github.com/exafmm/exafmm-t" target ="_blank">https://github.com/exafmm/exafmm-t</a>
**Version:** v0.1.1
**Editor:** @poulson
**Reviewer:** @berenger-eu, @pitsianis
**Archive:** <a href="https://doi.org/10.5281/zenodo.4874663" target="_blank">10.5281/zenodo.4874663</a>

[2021-04-02 22:06] whedon commented on #3100
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3145.

[2021-04-02 22:06] #3100 closed

[2021-04-02 22:06] whedon commented on #3145
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @berenger-eu, @pitsianis it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2021-04-02 22:06] whedon commented on #3145
[code]

[2021-04-02 22:06] whedon commented on #3145
[code]

[2021-04-02 22:06] whedon commented on #3145
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03145/joss.03145/10.21105.joss.03145.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03145/joss.03145/10.21105.joss.03145.pdf) :page_facing_up: :point_left:

[2021-04-02 22:13] tjasaki commented on #3038
@mjsottile : I've been reading and reviewing the new material.  I am still stymied by getting claire to install properly.  I've made progress, it seems to be down to a CUDA (compatibility?) issue which I haven't been able to sort out yet.  The installation instructions seem reasonable and have been notably helpful, but accounting for all possibilities would be unrealistic.

[2021-04-02 22:46] andreasmang commented on #3038
@tjasaki (and others): Let me know if there is anything we should do on our end...(i.e., if you would like us to check if we can emulate a particular setting and if we can figure it out). Feel free to raise an ISSUE or send me an email.

[2021-04-03 06:30] seanbergin commented on #3131
Kristen,

The CHIME model can be used and modified by other users to understand
hurricane evacuations in two ways. The location can be changed if the user
inputs a new location (currently Florida and Texas are included)- they
would need to download the appropriate GIS files on their own. The second
more common way is that users can add additional storms to the model. This
is something we continue

[2021-04-03 10:34] csoneson commented on #3141
@whedon assign @csoneson as editor

[2021-04-03 10:34] whedon commented on #3141
OK, the editor is @csoneson

[2021-04-03 14:11] majensen commented on #3130
@junjun-zhang would you have time to review [this work](#3130) for JOSS? No pressure- I know you just recently helped us out.

[2021-04-03 14:13] majensen commented on #3002
@whedon check references

[2021-04-03 14:14] majensen commented on #3002
@whedon generate pdf

[2021-04-03 14:14] whedon commented on #3002
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03002/joss.03002/10.21105.joss.03002.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03002/joss.03002/10.21105.joss.03002.pdf) :page_facing_up: :point_left:

[2021-04-03 14:15] whedon commented on #3002
[code]

[2021-04-03 14:20] majensen commented on #3002
@somefunAgba - there are number of references that Whedon found DOIs for (see [above](https://github.com/openjournals/joss-reviews/issues/3002#issuecomment-812871224)). Could you please add these to your Ref section and bib? Thanks a lot-

[2021-04-03 14:26] fboehm commented on #2995
@whedon set 10.5281/zenodo.4640307 as archive

[2021-04-03 14:27] whedon commented on #2995
OK. <a href="https://doi.org/10.5281/zenodo.4640307" target="_blank">10.5281/zenodo.4640307</a> is the archive.

[2021-04-03 14:29] fboehm commented on #2995
@whedon accept

[2021-04-03 14:29] whedon commented on #2995
[code]

[2021-04-03 14:32] whedon commented on #2995
PDF failed to compile for issue #2995 with the following error:

 Can't find any papers to compile :-(

[2021-04-03 14:33] fboehm commented on #2995
@whedon accept from branch literature

[2021-04-03 14:33] whedon commented on #2995
[code]

[2021-04-03 14:36] whedon commented on #2995
[code]

[2021-04-03 14:36] whedon commented on #2995
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2177

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2177, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-03 15:25] majensen commented on #3002
@somefunAgba, here is my understanding and overall impression of the method itself. Welcome your comments.

My impression of the story.

Logistic growth is characteristic of many, many natural phenomena. It captures key real world system behaviors of a maximal growth rate and also of diminishing returns. As a growth system's external influences change, logistic growth should remain a good represen

[2021-04-03 15:26] jGaboardi commented on #2826
@whedon generate pdf (cleaning up references and citations)

[2021-04-03 15:27] whedon commented on #2826
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02826/joss.02826/10.21105.joss.02826.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02826/joss.02826/10.21105.joss.02826.pdf) :page_facing_up: :point_left:

[2021-04-03 15:39] yarongvili1 commented on #3040
@henrykironde and @jarrah42, I believe the issues you raised are now handled. For the performance comparison with K2SN-MSS, I opted for a docker-based solution, for ease of use.

[2021-04-03 17:19] fboehm commented on #3097
@benmaier - please fix the formatting issues and post a comment in this thread once the fixes have been made.

[2021-04-03 20:58] mponce0 commented on #2995
@fboehm is this for us to take care of or the editors?
In any case, many thanks for all your help and support, as well as, the referees @JDRomano2 and @LogIN-

[2021-04-03 22:18] danielskatz commented on #2995
This is for me, as the Associate Editor-in-Chief currently on duty. I'll proofread the paper and get back to you, probably tomorrow sometime.

[2021-04-03 22:49] majensen commented on #3002
I have made https://github.com/somefunAgba/NLSIG-COVID19Lab/pull/4 with some very minor edits for consideration.

[2021-04-03 22:52] majensen commented on #2979
@whedon generate pdf from branch joss

[2021-04-03 22:52] whedon commented on #2979
[code]

[2021-04-03 22:53] majensen commented on #2979
@whedon check references from branch joss

[2021-04-03 22:53] whedon commented on #2979
[code]

[2021-04-03 22:53] whedon commented on #2979
[code]

[2021-04-03 22:53] whedon commented on #2979
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02979/joss.02979/10.21105.joss.02979.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02979/joss.02979/10.21105.joss.02979.pdf) :page_facing_up: :point_left:

[2021-04-03 23:18] majensen commented on #2979
@Borchardt the paper text looks fine. Can you add examples of the sizes of data objects that you use with minimo now (after "supports very large files")?

I'd like to see some more work towards the usability issues identified by @junjun-zhang. The following tickets are open from your response to Junjun above:

https://github.com/focolab/minimo/issues/32
https://github.com/focolab/minimo/issues/33

[2021-04-03 23:40] Borchardt commented on #2979
@majensen Thanks for your work!

Work for https://github.com/focolab/minimo/issues/38 was actually merged a couple of weeks ago, but I apparently forgot to link and close the issue. I've done so now.

Of the remaining three you highlighted, I think focolab/minimo#35 is probably the highest priority. I'm beginning work for that issue now, and I will aim to have a PR for it in the next couple of day

[2021-04-04 04:45] awickert commented on #2276
Hi @KevinShook. Regarding your background, you do indeed compare your work to different hydrological models. However, there are a number of computational tools that are quite a lot more similar to what you are proposing here. Some references pertaining to the Canadian prairies include:
* Li, S., MacMillan, R., Lobb, D. A., McConkey, B. G., Moulin, A., and Fraser, W. R.: Lidar DEM error analyses an

[2021-04-04 05:11] KevinShook commented on #2276
Thanks for the suggestions. I was trying to keep the paper to be as short as possible, but will elaborate on other models
WDPM is very different from the work of Shaw et al, which is based on the modelling of simulated individual depressions, rather than a DEM - we have expanded on this methodology in another one of our models, which I was trying to avoid discussing.

WDPM is also unlike programs

[2021-04-04 05:59] ajpelu commented on #3027
Dear @marcosvital, thanks for considering me to review this submission. Unfortunately, I am not able to review it. Next time.

[2021-04-04 08:59] benmaier commented on #3097
@whedon generate pdf

[2021-04-04 09:00] whedon commented on #3097
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03097/joss.03097/10.21105.joss.03097.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03097/joss.03097/10.21105.joss.03097.pdf) :page_facing_up: :point_left:

[2021-04-04 09:02] benmaier commented on #3097
ok, @fboehm, fixed!

[2021-04-04 09:18] johnsamuelwrites commented on #3127
I covered all the items in the review checklist. Overall, fitbenchmarking is a well-documented software with commits from multiple contributors. The codebase contains necessary test cases and continuous integration workflows. The different modules are adequately structured and well-commented/well-documented. Thanks to the examples, new users can quickly start working and testing the software.

Fur

[2021-04-04 12:48] fboehm commented on #3097
@whedon generate pdf

[2021-04-04 12:49] whedon commented on #3097
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03097/joss.03097/10.21105.joss.03097.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03097/joss.03097/10.21105.joss.03097.pdf) :page_facing_up: :point_left:

[2021-04-04 13:54] hkaiser commented on #3143
@danielskatz I will be away for the next two weeks. I will try to get things done as quickly as possible but might not be able to finalize the review before I leave.

[2021-04-04 14:15] sbenthall commented on #2749
@whedon generate pdf

[2021-04-04 14:15] whedon commented on #2749
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02749/joss.02749/10.21105.joss.02749.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02749/joss.02749/10.21105.joss.02749.pdf) :page_facing_up: :point_left:

[2021-04-04 14:58] somefunAgba commented on #3002
Thank you @majensen. Your review of the paper is accurate.

[2021-04-04 14:58] somefunAgba commented on #3002
I have merged the pull requests

[2021-04-04 17:07] whedon commented on #3124
:wave: @abhishekbajpayee, please update us on how your review is going (this is an automated reminder).

[2021-04-04 17:07] whedon commented on #3124
:wave: @nsaunier, please update us on how your review is going (this is an automated reminder).

[2021-04-04 17:17] IndrajeetPatil commented on #3141
Thanks!

Potential reviewers:

- RMHogervorst
- cimentadaj
- njtierney
- humanfactors

[2021-04-04 17:23] ctdegroot commented on #2871
@salrm8 I accept your explanation of the reference value. However, I think it should not say "reference true value", but just "reference value". This would be more consistent with your own explanation with regards to a posteriori error estimations. Yes, it is a reference value as you explained, but I can't see how the word "true" applies in this case.

With regards to the change in the readme, exp

[2021-04-04 17:57] awickert commented on #2276
In this case, don't feel any need to discuss unrelated literature -- I think that it is simply that I saw that your background included hydrologic and hydraulic models, but I did not see explicit references to prior approaches to manage depressions, which seems to be a key methodological issue that you solve.

I believe that our "FlowFill" is largely the same as your apprpoach, and that our DH+FSM

[2021-04-04 18:01] salrm8 commented on #2871
@ctdegroot Thank you for your comment. What was meant in the text by "reference true data" is for instance, a reference DNS or experimental data for the quantities of interest obtained by minimizing the error and uncertainties from all possible sources. But we never get rid of the error and uncertainties completely. Still, the reported QoIs can be considered the most accurate values for describing

[2021-04-04 18:07] KevinShook commented on #2276
Thanks. I'm going to add a brief section differentiating WDPM from other models, which may avoid some confusion.
I'd be very interested in following up offline. WDPM is not very computationally efficient, but it does
have some advantages over stateless models, as its purpose was to model the states of depressional storage
(the spatial distributions of water, and the connected/contributing fraction

[2021-04-04 18:14] sbenthall commented on #2749
OK. This looks great.

@mossr couldyou please:

- make a tagged release
- archive it so that it has a DOI
- report the version number and archive DOI in the review thread.

[2021-04-04 18:27] ctdegroot commented on #2871
I don’t even think “reference true value” is even proper grammar. I would like this changed.

[2021-04-04 18:35] ctdegroot commented on #2871
I would accept “reference (true) value” as an alternative.

[2021-04-04 18:53] salrm8 commented on #2871
It has been changed to "reference (true) value".

[2021-04-04 18:56] ctdegroot commented on #2871
@drvinceknight I have nothing more to add.

[2021-04-04 20:18] majensen commented on #3002
@whedon generate pdf

[2021-04-04 20:20] whedon commented on #3002
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03002/joss.03002/10.21105.joss.03002.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03002/joss.03002/10.21105.joss.03002.pdf) :page_facing_up: :point_left:

[2021-04-04 20:30] majensen commented on #3002
Ok @somefunAgba - the last thing to do before we request publication is to create an open archive of the software. This can be done using [Zenodo](https://zenodo.org), [FigShare](https://figshare.org), or similar service. There is a short tutorial at [this reference](https://github.com/openjournals/joss-reviews/issues/1839#issuecomment-560048729).
Once you create the archive, can you please report

[2021-04-04 21:05] danielskatz commented on #2995
For the reference ihaka:1996, please change the URL tag to a DOI tag (removing the https://doi.org/ part)

[2021-04-04 21:09] mponce0 commented on #2995
@danielskatz Thanks for noticing this, it's fixed.

[2021-04-04 21:15] danielskatz commented on #2995
I've also created https://github.com/mponce0/covid19.analytics/pull/10 for a bunch of grammar/style issue - let me know what you disagree with, or merge this.

[2021-04-04 21:31] danielskatz commented on #2995
@whedon accept from branch literature

[2021-04-04 21:31] whedon commented on #2995
[code]

[2021-04-04 21:34] mponce0 commented on #2995
Merged! Many thanks for the thorough review and suggestions/edits.

[2021-04-04 21:38] whedon commented on #2995
[code]

[2021-04-04 21:38] whedon commented on #2995
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2178

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2178, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-04 21:40] KevinShook commented on #2276
@whedon check references

[2021-04-04 21:40] whedon commented on #2276
[code]

[2021-04-04 21:42] KevinShook commented on #2276
Have added the additional comparisons as discussed with @awickert.
BTW, you were right about Shaw et al - I was thinking of another one of his models.
I've also added a reference to the PRIMA model.

[2021-04-04 21:48] danielskatz commented on #2995
Re ihaka:1996, you didn't change the tag to doi - it's still url

[2021-04-04 23:10] slayoo commented on #3144
@whedon generate pdf from branch JOSS

[2021-04-04 23:10] whedon commented on #3144
[code]

[2021-04-04 23:11] whedon commented on #3144
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03144/joss.03144/10.21105.joss.03144.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03144/joss.03144/10.21105.joss.03144.pdf) :page_facing_up: :point_left:

[2021-04-05 00:18] mponce0 commented on #2995
Strange, this was done in this commit
https://github.com/mponce0/covid19.analytics/commit/847d626f57afd49933c2b77916d0b79d3a69b8a6

and the actual version in the repo, https://github.com/mponce0/covid19.analytics/blob/literature/JOSS/references.bib shows the change...
Maybe it got lost from the merge?

[2021-04-05 00:28] danielskatz commented on #2995
I see the `https://doi.org` part was removed, but the tag is `url`, not `doi`

[2021-04-05 00:34] mossr commented on #2749
@sbenthall I've tagged and released a new version v0.5.0. How would you recommend archiving it and producing a DOI?

[2021-04-05 00:43] mponce0 commented on #2995
So sorry, I missed that.. should be fixed now.

[2021-04-05 00:46] danielskatz commented on #2995
@whedon accept from branch literature

[2021-04-05 00:46] whedon commented on #2995
[code]

[2021-04-05 00:53] whedon commented on #2995
[code]

[2021-04-05 00:53] whedon commented on #2995
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2179

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2179, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-05 00:54] danielskatz commented on #2995
@whedon accept deposit=true from branch literature

[2021-04-05 00:54] whedon commented on #2995
[code]

[2021-04-05 00:59] whedon commented on #2995
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1378874805055807491) 👈 🐦🐦🐦

[2021-04-05 00:59] whedon commented on #2995
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2180
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02995](https://doi.org/10.21105/joss.02995)
2. If everything looks g

[2021-04-05 01:04] danielskatz commented on #2995
Congratulations to @mponce0 (Marcelo Ponce) and co-author!

And thanks to @LogIN- and @JDRomano2 for reviewing, and @fboehm for editing!

[2021-04-05 01:04] #2995 closed

[2021-04-05 01:04] whedon commented on #2995
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02995/status.svg)](https://doi.org/10.21105/joss.02995)

**We need your help!**

Journal of Open Source Softwa

[2021-04-05 01:39] awickert commented on #2276
Thanks, Kevin! I was starting to doubt my memory of that article. I'm also glad that you note the importance of WDPM simulating water removal. (Actually, @KCallaghan, @r-barnes, and I are wrapping up a manuscript that includes evaporation as well as groundwater... let's talk about this when we connect offline too.)
I'll tick the final box after I finish testing your model on my computer. I'll try

[2021-04-05 01:48] KevinShook commented on #2276
That's great - I'm looking forward to talking about this.
BTW, I was running WDPM w/o the GUI today and found that the switch to select the CPU/GPU for parallel
processing had been reversed - it should be 0 for the CPU, and 1 for the GPU, but the program was using the reverse. It doesn't affect the GUI, but it's being fixed right now.

[2021-04-05 03:47] mponce0 commented on #2995
Thank you very much to you all: @JDRomano2 @danielskatz @LogIN- @fboehm

[2021-04-05 04:18] somefunAgba commented on #3002
Version 2.1.1
https://doi.org/10.5281/zenodo.4662275

[2021-04-05 07:03] csoneson commented on #2440
👋 @neuromusic - I just wanted to check in to see how things are going, and make sure that the next steps are clear. Once the things in the post above have been done, we can publish this paper. Let me know if you have any questions. Thanks!

[2021-04-05 07:03] csoneson commented on #3093
Ping @tgerke

[2021-04-05 07:06] whedon commented on #3125
:wave: @adi3, please update us on how your review is going (this is an automated reminder).

[2021-04-05 07:06] whedon commented on #3125
:wave: @breezykermo, please update us on how your review is going (this is an automated reminder).

[2021-04-05 07:39] csoneson commented on #3141
👋 @RMHogervorst, @njtierney - would you be interested in reviewing this submission for JOSS?

[2021-04-05 07:42] csoneson commented on #3141
@IndrajeetPatil - I noticed that a couple of the references cited in your paper are listed as published by JOSS (Ludecke et al, 2021; Patil et al, 2021), but the DOIs go to a preprint server. Could you please correct these references?

[2021-04-05 07:43] csoneson commented on #3141
@whedon check references

[2021-04-05 07:46] whedon commented on #3141
[code]

[2021-04-05 07:48] IndrajeetPatil commented on #3141
@csoneson Sorry about that. I have [fixed](https://github.com/IndrajeetPatil/ggstatsplot/commit/94db4de38370734819a893107ea8864f132ca13d) the references.

[2021-04-05 07:49] csoneson commented on #3141
@whedon generate pdf

[2021-04-05 07:53] whedon commented on #3141
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03141/joss.03141/10.21105.joss.03141.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03141/joss.03141/10.21105.joss.03141.pdf) :page_facing_up: :point_left:

[2021-04-05 07:59] IndrajeetPatil commented on #3141
Do you know how can I avoid the duplicated affiliation index (two instances of `1`) here?

<img width="363" alt="Screenshot 2021-04-05 at 09 58 16" src="https://user-images.githubusercontent.com/11330453/113551822-925c9800-95f5-11eb-9eca-6725e3cfc281.png">

[2021-04-05 08:08] csoneson commented on #3141
Good question - perhaps @openjournals/dev can help (don't know if it's because the .md is generated from the .Rmd)?

[2021-04-05 08:28] adi3 commented on #3125
Waiting on input from @tkonolige to proceed.

[2021-04-05 09:00] xuanxu commented on #3141
The format of the affiliations section in the metadata is incorrect, should be something like:
[code]

[2021-04-05 09:48] IndrajeetPatil commented on #3141
Thanks, @xuanxu!

@whedon generate pdf

[2021-04-05 10:01] VNNikolaidis commented on #2876
Dear contributors to this review, Editor (@kakiac), reviewers (@schnorr , @MohmedSoudy), and robot (@whedon), I would appreciate any guidance to aid the review process of this submission and complete it towards a final result (positive or negative). It appears to me that the prossess is now halted at an indeterminate status of "open" and "under review", and I truly do now know if this is normal or

[2021-04-05 10:20] IndrajeetPatil commented on #3141
@whedon generate pdf

[2021-04-05 10:24] whedon commented on #3141
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03141/joss.03141/10.21105.joss.03141.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03141/joss.03141/10.21105.joss.03141.pdf) :page_facing_up: :point_left:

[2021-04-05 10:34] mjsottile commented on #3038
@andreasmang @tjasaki I’d like to not get blocked on install issues if it boils down to CUDA related problems.  The difficulty in installing tools based on CUDA is often more an issue with how NVidia chooses to distribute their software/drivers and not a reflection of the software that uses it.  I would recommend @tjasaki communicate directly with the CLAIRE developers via GitHub issues or email w

[2021-04-05 11:02] ketch commented on #3079
The links to the paper pdf give me 404 errors now.  How can I access the paper?

[2021-04-05 11:04] IndrajeetPatil commented on #3141
@xuanxu I changed my `.md` file according to your suggestion (https://raw.githubusercontent.com/IndrajeetPatil/ggstatsplot/master/paper/paper.md), but the second `1` has now moved to the end of the affiliation

<img width="461" alt="Screenshot 2021-04-05 at 13 01 58" src="https://user-images.githubusercontent.com/11330453/113567576-28e98300-960f-11eb-906d-bd2113f41c12.png">

[2021-04-05 11:09] xuanxu commented on #3141
@IndrajeetPatil You have a dash before the index, so you are creating two affiliation entries.

Current:
[code]

Correct:
[code]

[2021-04-05 11:13] IndrajeetPatil commented on #3141
Oops 🙈

Thanks, will fix it.

[2021-04-05 11:22] ketch commented on #3079
This looks like a really great package that I myself may use at some point!  Below are the issues I found.

I get some errors when running one of the documentation examples and I raised an issue for that.

Some minor things that should be corrected in the paper:
- line 25: “backgroud”
- line 35: Definition of growth rate is circular
- line 77: “at with”
- Figure 2: 10^-3 factor on color bar is cri

[2021-04-05 12:29] danielskatz commented on #3000
@whedon set 10.5281/zenodo.4660591 as archive

[2021-04-05 12:29] whedon commented on #3000
OK. <a href="https://doi.org/10.5281/zenodo.4660591" target="_blank">10.5281/zenodo.4660591</a> is the archive.

[2021-04-05 12:29] danielskatz commented on #3000
@whedon set v1.11.5 as version

[2021-04-05 12:29] whedon commented on #3000
OK. v1.11.5 is the version.

[2021-04-05 12:30] danielskatz commented on #3000
@whedon accept

[2021-04-05 12:30] whedon commented on #3000
[code]

[2021-04-05 12:31] whedon commented on #3000
PDF failed to compile for issue #3000 with the following error:

 Can't find any papers to compile :-(

[2021-04-05 12:33] danielskatz commented on #3000
@whedon accept from branch joss

[2021-04-05 12:33] whedon commented on #3000
[code]

[2021-04-05 12:33] whedon commented on #3000
[code]

[2021-04-05 12:34] whedon commented on #3000
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2181

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2181, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-05 12:35] danielskatz commented on #3000
@dbkeitel - can you confirm this is ready to go from your point of view?  I will also be doing a final proof read...

[2021-04-05 12:40] danielskatz commented on #3000
My proof read has found some minor changes that are needed - see https://github.com/PyFstat/PyFstat/pull/304.  Please merge this, or let me know what you disagree with.

[2021-04-05 12:42] danielskatz commented on #2677
@TheoChristiaanse - have you made the changes @kthyng requested?

[2021-04-05 12:44] danielskatz commented on #3097
@whedon accept

[2021-04-05 12:44] whedon commented on #3097
[code]

[2021-04-05 12:45] whedon commented on #3097
[code]

[2021-04-05 12:45] whedon commented on #3097
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2182

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2182, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-05 12:47] danielskatz commented on #3097
@whedon accept deposit=true

[2021-04-05 12:47] whedon commented on #3097
[code]

[2021-04-05 12:48] whedon commented on #3097
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1379053318849314824) 👈 🐦🐦🐦

[2021-04-05 12:50] dfm commented on #3068
:wave: - Hi @bwoshea! Any updates or questions on this? I just wanted to ping to make sure that this stays on your radar.

[2021-04-05 12:53] danielskatz commented on #3097
Congratulations to  @benmaier (Benjamin F. Maier)!!

And thanks to @chrisvoncsefalvay, @esteinig for reviewing, and @fboehm for editing!

[2021-04-05 12:53] #3097 closed

[2021-04-05 12:54] whedon commented on #3097
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03097/status.svg)](https://doi.org/10.21105/joss.03097)

**We need your help!**

Journal of Open Source Softwa

[2021-04-05 12:55] danielskatz commented on #3021
@whedon accept from branch joss_review

[2021-04-05 12:55] whedon commented on #3021
[code]

[2021-04-05 12:55] whedon commented on #3021
[code]

[2021-04-05 12:56] danielskatz commented on #3021
👋 @lpantano - this is the command that was needed.  Can you confirm that this is ready to go, from your point of view?  If so, I'll do a final proof read...

[2021-04-05 12:56] whedon commented on #3021
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2184

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2184, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-05 12:57] danielskatz commented on #2992
@whedon accept from branch joss

[2021-04-05 12:57] whedon commented on #2992
[code]

[2021-04-05 12:58] whedon commented on #2992
[code]

[2021-04-05 12:58] whedon commented on #2992
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2185

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2185, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-05 12:58] danielskatz commented on #2992
👋 @mikldk - this is the command that was needed. Can you confirm that this is ready to go, from your point of view? If so, I'll do a final proof read...

[2021-04-05 12:59] #2890 closed

[2021-04-05 12:59] whedon commented on #2890
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02890/status.svg)](https://doi.org/10.21105/joss.02890)

**We need your help!**

Journal of Open Source Softwa

[2021-04-05 13:04] danielskatz commented on #3120
@whedon assign me as editor

[2021-04-05 13:04] whedon commented on #3120
OK, the editor is @danielskatz

[2021-04-05 13:05] danielskatz commented on #3120
👋 @ankur-gupta - would you be willing to review this for JOSS?

[2021-04-05 13:05] danielskatz commented on #3120
👋 @shanamatthews - would you be willing to review this for JOSS?

[2021-04-05 13:06] danielskatz commented on #3120
👋 @mbdemoraes - would you be willing to review this for JOSS?

[2021-04-05 13:27] junjun-zhang commented on #2979
Sounds like a good plan!

[2021-04-05 13:31] sbenthall commented on #2749
I recommend uploading the software bundle to Zenodo.
It should provide a DOI.
https://zenodo.org/

[2021-04-05 13:41] diehlpk commented on #2945
Hey, @thelfer how is your review going?

[2021-04-05 13:59] gully commented on #3095
`Update`: I had trouble installing TelFit and highlighted some of the challenges and impact in https://github.com/shihyuntang/igrins_rv/issues/3. As part of this review it would be valuable to move away from packaging the TelFit source code with `igrins_rv` and instead pin to a version of the main TelFit repo.  I think this change can be accomplished without upstream changes.

[2021-04-05 14:35] tomgrylls commented on #3055
@whedon generate pdf from branch joss-paper