[2018-01-16 10:27] greatfireball commented on #464
The new DOI is [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.1148955.svg)](https://doi.org/10.5281/zenodo.1148955) and the current version is 1.0.2

Thanks again!

[2018-01-16 10:39] arfon commented on #517
@brentp - many thanks for your review here and to @pjotrp for editing this submission.

@kortschak - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00517 ⚡️ 🚀 💥

[2018-01-16 10:40] #517 closed

[2018-01-16 10:40] whedon commented on #517
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00517/status.svg)](https://doi.org/10.21105/joss.00517)

**We need your help!**

Journal of Open Source Software

[2018-01-16 10:41] arfon commented on #535
Thanks for the suggestions @kavir1698 - we'll need to make sure we have an editor for this submission before we can proceed.

[2018-01-16 10:43] arfon commented on #464
That sounds like a nice idea. Did you add this already @greatfireball?

[2018-01-16 10:52] whedon opened #536 "[PRE REVIEW]: genieR: An R package for inference of demographic history of phylogenies"
**Submitting author:** @xiangfstats (<a href="http://orcid.org/0000-0003-3644-7114">Fei Xiang</a>)
**Repository:** <a href="https://github.com/xiangfstats/GenieR" target ="_blank">https://github.com/xiangfstats/GenieR</a>
**Version:** v1.0.0
**Editor:** @biorelated
**Reviewer:** @pboesu

**Author instructions**

Thanks for submitting your paper to JOSS @xiangfstats. The JOSS editor (shown at the t

[2018-01-16 10:52] whedon commented on #536
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-01-16 10:52] whedon commented on #536
[code]

[2018-01-16 10:52] whedon commented on #536
[code]

[2018-01-16 11:08] arfon commented on #469
@nicoguaro - many thanks for all of your help with this submission. In a private communication the authors have decided to withdraw this submission from JOSS.

[2018-01-16 11:08] #469 closed

[2018-01-16 11:27] greatfireball commented on #464
Yeah... Version v1.0.2 contains @DanielAmsel in the acknowledgements section

[2018-01-16 12:04] nicoguaro commented on #469
@arfon, I hope it's not because of my slowness.

[2018-01-16 12:36] arfon commented on #469
I don't believe so :-)

[2018-01-16 12:37] arfon commented on #464
@whedon set 10.5281/zenodo.1148955 as archive

[2018-01-16 12:37] whedon commented on #464
OK. <a href="http://dx.doi.org/10.5281/zenodo.1148955" target="_blank">10.5281/zenodo.1148955</a> is the archive.

[2018-01-16 12:43] arfon commented on #464
@jdeligt - many thanks for your review here and to @pjotrp for editing this submission ✨

@greatfireball - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00464 ⚡️ 🚀 💥

[2018-01-16 12:43] #464 closed

[2018-01-16 12:43] whedon commented on #464
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00464/status.svg)](https://doi.org/10.21105/joss.00464)

**We need your help!**

Journal of Open Source Software

[2018-01-16 14:38] scollis commented on #493
Thanks! very interesting!

[2018-01-16 18:24] nmmsv commented on #497
Hi @warrenlr ,

1. I was referring to the part that you explain in detail how the software works and each input feature and flag. Based on the guidelines, I think the paper should be more of an overview of motivation, high level functionality, and some applications:

2. Thanks, now that the test procedure is explained in the documentation, it is more clear.

Best,
Nima

[2018-01-16 19:05] desilinguist commented on #501
Your changes look good @wdm0006! Thanks for making those changes. I have no more comments and I think the submission can be accepted now.

[2018-01-16 19:09] jakevdp commented on #501
Thanks @desilinguist and @wdm0006!

[2018-01-16 19:09] jakevdp commented on #501
@whedon commands

[2018-01-16 19:09] whedon commented on #501
Here are some things you can ask me to do:

[code]

[2018-01-16 19:09] jakevdp commented on #501
@whedon generate pdf

[2018-01-16 19:10] whedon commented on #501
[code]

[2018-01-16 19:10] whedon commented on #501
[code]

[2018-01-16 19:20] jakevdp commented on #501
@arfon, we're ready to accept this!

[2018-01-16 19:27] arfon commented on #501
@wdm0006 - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-01-16 19:36] Kevin-Mattheus-Moerman commented on #300
@moorepants @arfon I tested the local paper build myself.  I was able to get it to create markdown based tables without any issues. What was your issue? Do you perhaps have a table syntax error somewhere?

I did notice that your particular table will spill beyond the margins using pandoc (for both HTML and markdown).  [Here is a link](https://pandoc.org/MANUAL.html#pandocs-markdown) to how to crea

[2018-01-16 19:47] luizirber commented on #514
Hi @sjspielman!

1. it's not a big issue (since the FreeBSD license is OSI approved), and start discussing software license is a neverending bikeshedding problem =P. GitHub uses https://github.com/benbalter/licensee/ to recognize licenses, but it seems to have problems with the FreeBSD one. I tend to use BSD 3-clause when I want a BSD license, but the final decision is up to you.
2. I think that's

[2018-01-16 20:37] sjspielman commented on #514
Hi @luizirber,

Ok, I just went ahead to the BSD-3 clause and github finally recognizes it! I updated the `paper.md` accordingly, too.

In addition, in response to a user-identified bug, I updated the current release to 0.4 this morning, which can be final version for publishing. @mgymrek can hopefully advise on how to proceed with version bumping, as you mentioned.

Other than these, I'm all set

[2018-01-16 21:15] arfon commented on #300
I wonder if we could put the table on its own page and hack the LaTeX template to make this happen. Some ideas here: https://stackoverflow.com/questions/25849814/rstudio-rmarkdown-both-portrait-and-landscape-layout-in-a-single-pdf

[2018-01-17 00:26] karthik commented on #300
@arfon I don't have a good solution unfortunately. :(

[2018-01-17 00:27] arfon commented on #533
Hi @jordibc - many thanks for your submission to JOSS. Unfortunately this submission isn't acceptable to JOSS. As documented in our [submission criteria](http://joss.theoj.org/about#submission_requirements) we don't allow minor packages such as thin API clients which this looks to be.

[2018-01-17 00:27] #533 closed

[2018-01-17 02:36] moorepants commented on #300
Is it possible to use the markdown "grid-tables" extension? I already have the table typed up like that. If not I can try converting the first table option on the pandoc markdown documentation.

[2018-01-17 04:43] kyleniemeyer commented on #532
Hi @JoshKarpel, thanks for your submission. Do you have a suggested reviewer or two that we can start from? I usually try to get one suggested and one non-specialist from the JOSS reviewer pool.

[2018-01-17 04:47] mgymrek commented on #514
@whedon commands

[2018-01-17 04:47] whedon commented on #514
Here are some things you can ask me to do:

[code]

[2018-01-17 04:53] mgymrek commented on #514
Thanks @luizirber and @sjspielman! This looks good to me

I have not dealt with version bumps so will defer to @arfon:
since the review issue has been created the version of this software has been updated. Is there any @whedon command for that? I didn't see something obvious. Other than that it looks we're ready to accept this submission.

[2018-01-17 05:21] JoshKarpel commented on #532
Sounds like a good plan @kyleniemeyer. I took a look at the reviewer pool and found several reviewers who might be interested: @nicoguaro, @jarvist, @leios, and @iljah. They're all marked for Python and expressed some interest in numerical methods/computational physics (which is where I'm coming from) in their topic areas.

[2018-01-17 07:59] iljah commented on #532
I can take this.

[2018-01-17 11:14] arfon commented on #514
This is something I have to do manually (by editing the issue).

[2018-01-17 11:15] arfon commented on #514
@sjspielman - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-01-17 11:39] whedon opened #537 "[PRE REVIEW]: psrqpy: a python interface for querying the ATNF pulsar catalogue"
**Submitting author:** @mattpitkin (<a href="http://orcid.org/0000-0003-4548-526X">Matthew Pitkin</a>)
**Repository:** <a href="https://github.com/mattpitkin/psrqpy" target ="_blank">https://github.com/mattpitkin/psrqpy</a>
**Version:** v0.4.3
**Editor:** @arfon
**Reviewer:** @ygrange

**Author instructions**

Thanks for submitting your paper to JOSS @mattpitkin. The JOSS editor (shown at the top

[2018-01-17 11:39] whedon commented on #537
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-01-17 11:39] whedon commented on #537
[code]

[2018-01-17 11:39] whedon commented on #537
[code]

[2018-01-17 11:50] mattpitkin commented on #537
@whedon commands

[2018-01-17 11:50] dvalters commented on #498
I could review this, although I'm not specifically an ocean modeller (more atmospheric/NWP), but happy to review Fortran/Python/numerical modelling in general.

[2018-01-17 11:50] whedon commented on #537
Here are some things you can ask me to do:

[code]

[2018-01-17 11:53] mattpitkin commented on #537
@whedon generate pdf

[2018-01-17 11:54] whedon commented on #537
[code]

[2018-01-17 11:54] whedon commented on #537
[code]

[2018-01-17 12:00] arfon commented on #537
@mattpitkin - YAML is whitespace sensitive, it looks like the `index: 1` field on your affiliation isn't aligned with the `name` key above.

[2018-01-17 12:06] mattpitkin commented on #537
@arfon thanks, I was aligning with the colon rather than the start of the key name (I think alignment with the colon is how things are in the [example](http://joss.theoj.org/about#author_guidelines), so that might need to be fixed). I've fixed this in [7a3f68e6](https://github.com/mattpitkin/psrqpy/commit/7a3f68e6ff0783d73e59c11a16828c4d626f4456), and will try recompiling.

[2018-01-17 12:06] mattpitkin commented on #537
@whedon generate pdf

[2018-01-17 12:07] whedon commented on #537
[code]

[2018-01-17 12:07] whedon commented on #537
[code]

[2018-01-17 12:29] mattpitkin commented on #537
A few potential reviewers could be @amrutajaodand who has used the code, or (slightly randomly selected from a set of other pulsar astronomers on github!) @sixbynine, @astrophysically (who has done something vaguely similar [here](https://github.com/astrophysically/ATNF-Pulsar-Cat)), or @demorest. From the list of current reviewers @ygrange might be best.

[2018-01-17 13:51] arfon commented on #537
My bad. I've fixed the example docs now.

[2018-01-17 13:59] arfon commented on #300
Sure thing. Let's give that a go. Are those commits in `master`?

[2018-01-17 15:18] scollis commented on #493
Hey @tupui
Installation worked but I am trying to run a simple example..

I see here: https://cerfacs.gitlab.io/batman/tutorial/michalewicz.html you have an example using json to define the problem

I grabbed the gitlab repo and changed to test_cases/Michalewicz directory and ran
batman settings.json -qsu
 I am attaching a (long ish) text file with the errors..

You do not make it too clear how to

[2018-01-17 15:19] scollis commented on #493
[errors_batman.txt](https://github.com/openjournals/joss-reviews/files/1639482/errors_batman.txt)

[2018-01-17 15:37] warrenlr commented on #497
Hello @nmmsv ,

1. got it.  I have made the recommended changes in the latest commit.
https://github.com/warrenlr/xmatchview/commit/833529e64e655826f785136830e8734eea18da91

Thanks,
Rene

[2018-01-17 15:40] tupui commented on #493
Hi @scollis, I see the problem. This is coming from the fact that the documentation corresponds to the latest commit on the develop branch. We do this because currently all our users are always up to date with the develop branch.

[2018-01-17 16:08] scollis commented on #493
Yes.. but i installed using conda from conda forge.
So do I need to find the correct commit?

Perhaps you should cut a new conda-forge release for this submission as the first install method that users come across (which is very easy!) is the 'conda env create' one which is incompatible with the examples.

I am really looking for a "Hello world" example that a user could use to get started in orde

[2018-01-17 16:19] tupui commented on #493
@scollis, the version you installed using conda is 1.7.1. Indeed it does not have the latest change so I will do a 1.7.2 with the update on conda.

In the meantime, I have started to move the doc to `read the doc` so you can have the doc for your current version: http://batman.readthedocs.io/en/1.7.1-lucius/tutorial.html

The case described in the tutorial is the same as the case in `test_cases/Mi

[2018-01-17 16:31] jordibc commented on #533
Hi @arfon , you are absolutely right, it escaped me. Thanks for pointing it out (and for your work on JOSS and the feedback!).

[2018-01-17 17:25] scollis commented on #493
Thanks!

[2018-01-17 17:50] sjspielman commented on #514
Hi @arfon,

Got the DOI: [![DOI](https://zenodo.org/badge/97511838.svg)](https://zenodo.org/badge/latestdoi/97511838). I have also placed this badge in my repo's README.

However, it appeared that, in order to accomplish this archiving, I had to make another (sorry...) release of the repo. As such, the release tag associated with this DOI is 0.4.1.

Thanks,
Stephanie

[2018-01-17 19:59] oliviergimenez commented on #216
Hi @karthik,
Is there anything we can do now that Ben has closed all issues?
Cheers,
Olivier & Gilbert.

[2018-01-17 20:28] nmmsv commented on #497
Hi @warrenlr ,
Thanks for the updates.
I currently can't see the references in the paper.md file, I think they should be in the bib file? Can you please add the final version of the paper (pdf) to the repository? I think that version should contain everything.
Best,
Nima

[2018-01-17 20:29] ygrange commented on #537
Certainly wouldn't mind reviewing this one; but it'd be my first; are there reviewer instructions?

[2018-01-17 20:40] acabunoc commented on #534
@arfon happy to edit! I'll take a look later this week

[2018-01-17 20:40] acabunoc commented on #534
@whedon assign @acabunoc as editor

[2018-01-17 20:40] whedon commented on #534
OK, the editor is @acabunoc

[2018-01-17 20:49] arfon commented on #514
@whedon set 10.5281/zenodo.1154244 as archive

[2018-01-17 20:50] whedon commented on #514
OK. <a href="http://dx.doi.org/10.5281/zenodo.1154244" target="_blank">10.5281/zenodo.1154244</a> is the archive.

[2018-01-17 21:04] moorepants commented on #300
No, I will need to reformat the table. Will work on it.

[2018-01-17 21:12] arfon commented on #514
@luizirber - many thanks for your review here and to @mgymrek for editing this submission ✨

@sjspielman - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00514 ⚡️ 🚀 💥

[2018-01-17 21:12] #514 closed

[2018-01-17 21:12] whedon commented on #514
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00514/status.svg)](https://doi.org/10.21105/joss.00514)

**We need your help!**

Journal of Open Source Software

[2018-01-17 21:55] warrenlr commented on #497
@whedon commands

[2018-01-17 21:55] whedon commented on #497
Here are some things you can ask me to do:

[code]

[2018-01-17 21:57] warrenlr commented on #497
Trying to re-generate the pdf, hopefully won't crash the server.. @arfon , just looping you in..may need your assistance.

[2018-01-18 01:53] arfon commented on #497
@whedon generate pdf

[2018-01-18 01:53] whedon commented on #497
[code]

[2018-01-18 01:57] arfon commented on #497
Here's the latest compiled PDF: [10.21105.joss.00497.pdf](https://github.com/openjournals/joss-reviews/files/1641309/10.21105.joss.00497.pdf)

[2018-01-18 01:59] arfon commented on #537
@whedon assign @arfon as editor

[2018-01-18 01:59] whedon commented on #537
OK, the editor is @arfon

[2018-01-18 02:00] arfon commented on #537
Sure thing. You can find them here: http://joss.theoj.org/about#reviewer_guidelines

[2018-01-18 02:00] arfon commented on #537
@whedon assign @ygrange as reviewer

[2018-01-18 02:00] whedon commented on #537
OK, the reviewer is @ygrange

[2018-01-18 02:00] arfon commented on #537
@whedon start review magic-word=bananas

[2018-01-18 02:00] #537 closed

[2018-01-18 02:00] whedon opened #538 "[REVIEW]: psrqpy: a python interface for querying the ATNF pulsar catalogue"
**Submitting author:** @mattpitkin (<a href="http://orcid.org/0000-0003-4548-526X">Matthew Pitkin</a>)
**Repository:** <a href="https://github.com/mattpitkin/psrqpy" target ="_blank">https://github.com/mattpitkin/psrqpy</a>
**Version:** v0.4.3
**Editor:** @arfon
**Reviewer:** @ygrange
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1175303" target="_blank">10.5281/zenodo.1175303</a>

## Sta

[2018-01-18 02:00] whedon commented on #537
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/538. Feel free to close this issue now!

[2018-01-18 02:00] whedon commented on #538
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @ygrange it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currentl

[2018-01-18 02:00] whedon commented on #538
[code]

[2018-01-18 02:01] whedon commented on #538
[code]

[2018-01-18 02:01] arfon commented on #537
@ygrange @mattpitkin - please head over to #538 for the actual review of this submission. @ygrange - please let me know if you get stuck/need assistance.

[2018-01-18 02:20] whedon opened #539 "[PRE REVIEW]: registr: Registration for Exponential Family Functional Data"
**Submitting author:** @julia-wrobel (<a href="http://orcid.org/0000-0001-6783-1421">Julia Wrobel</a>)
**Repository:** <a href="https://github.com/julia-wrobel/registr" target ="_blank">https://github.com/julia-wrobel/registr</a>
**Version:** 0.1
**Editor:** @arfon
**Reviewer:** @corybrunson

**Author instructions**

Thanks for submitting your paper to JOSS @julia-wrobel. The JOSS editor (shown at

[2018-01-18 02:20] whedon commented on #539
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-01-18 02:20] whedon commented on #539
[code]

[2018-01-18 02:20] whedon commented on #539
[code]

[2018-01-18 02:22] arfon commented on #539
👋 @julia-wrobel - it looks like there are some issues with the YAML header in your `paper.md` file. Could you modify it so it looks like this: https://gist.github.com/arfon/457fb87bdea6285b53bd23480bfe357a ?

[2018-01-18 06:05] warrenlr commented on #497
thank you @arfon
hi @nmmsv , I added the latest compiled version of the paper (pdf) to the repository.
thank you
Rene

[2018-01-18 09:59] jorgeboucas commented on #534
@acabunoc thanks! I am here in case I am needed.

[2018-01-18 12:15] danielskatz commented on #489
Hi - can I get an update from everyone on this review?

@bmagyar, @amjaeger17, @CoreRobotics

Can you each tell me if you are working on this, or waiting for someone else, and if the latter, who and what are you waiting for?

Thanks!

[2018-01-18 12:19] bmagyar commented on #489
From the issues I've raised 3 are still outstanding.

[2018-01-18 15:27] j-faria commented on #487
Hi @barentsen! Sorry to put pressure, but do you think you will have some time to continue the review in the next few days? I'll have my PhD defense in the end of next week, and it would be awesome to "announce" kima there for the first time :)

[2018-01-18 15:45] CoreRobotics commented on #489
We're almost finished with the most extensive of the issues - we're wrapping our test scripts with google test. There should be a pull request addressing the 3 outstanding issues in the next day or two.

[2018-01-18 16:22] julia-wrobel commented on #539
@arfon - I modified the YAML header in the paper.md file. Thanks! Let me know if I need additional changes.

[2018-01-18 16:24] arfon commented on #539
@whedon generate pdf

[2018-01-18 16:24] whedon commented on #539
[code]

[2018-01-18 16:24] whedon commented on #539
[code]

[2018-01-18 16:28] tupui commented on #493
Hi @scollis. I have done the *read the docs* documentation and the *conda* update to 1.7.2. So everything should be coherent now. The readme has been update accordingly to point to the new documentation. So at the bottom left of the documentation page, the user can select the version of the documentation.

 http://batman.readthedocs.io

[2018-01-18 16:49] scollis commented on #493
Thanks @tupui ! Fixing the CI on one of my packages today should be back to this soon

[2018-01-18 17:43] nmmsv commented on #497
Hi @warrenlr ,
Perfect, I believe all the criteria has been met!
@mgymrek mentioning you to let you know and ask if any further actions needs to be taken.

Best,
Nima

[2018-01-18 18:46] offray commented on #238
@arfon Done. The new `paper.md` at http://mutabit.com/repos.fossil/grafoscopio/raw/Packages/Dataviz/JOSS/paper.md?name=cb73e904dba8cba62d4ad652c378e6659b37e072 includes your suggestion (and some typos, writing corrections, and screenshots).

Let me know if anything else needs to be added or removed.

Thanks.

[2018-01-18 19:10] arfon commented on #539
@julia-wrobel - it looks like Pandoc doesn't like the math syntax that you have. Can you try modifying it to look like this:

[code]

[2018-01-18 19:17] karthik commented on #216
Hi @oliviergimenez
Congrats on getting your paper accepted! 🎉
At this point I would like you to archive your software in Zenodo and post the DOI here. Then I'll be able to set the archive and complete the final steps.

[2018-01-18 20:09] oliviergimenez commented on #216
Hi @karthik,
That's great news! 🍾 ✨
I have just archived the software, the DOI is 10.5281/zenodo.1154931
Cheers,
Olivier

[2018-01-18 21:33] tupui commented on #493
@scollis no problem, thanks! For info, pipeline is marked as failed but it is only due to the documentation that is not anymore on gitlab. I will change the general settings to clean this. Just to say that the package itself is green :)

[2018-01-18 21:34] warrenlr commented on #497
awesome, thank you for your review @nmmsv !

[2018-01-18 21:51] karthik commented on #216
@whedon set 10.5281/zenodo.1154931 as archive

[2018-01-18 21:51] whedon commented on #216
OK. <a href="http://dx.doi.org/10.5281/zenodo.1154931" target="_blank">10.5281/zenodo.1154931</a> is the archive.

[2018-01-18 21:52] karthik commented on #216
@whedon commands

[2018-01-18 21:52] whedon commented on #216
Here are some things you can ask me to do:

[code]

[2018-01-18 21:52] karthik commented on #216
@whedon generate pdf

[2018-01-18 21:52] whedon commented on #216
[code]

[2018-01-18 21:53] whedon commented on #216
[code]

[2018-01-18 22:20] mgymrek commented on #497
thanks @nmmsv and @warrenlr!
@arfon, I think we're ready to accept.

[2018-01-18 23:00] julia-wrobel commented on #539
Thanks @arfon! I just changed it - instead of aligning the equations I just separated them into two. Hopefully that should fix the syntax error!

[2018-01-19 00:28] arfon commented on #539
@whedon generate pdf

[2018-01-19 00:28] whedon commented on #539
[code]

[2018-01-19 00:29] whedon commented on #539
[code]

[2018-01-19 00:34] arfon commented on #497
@warrenlr - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-01-19 08:56] betatim commented on #500
I've not put in the time to get the software working/installed on my Mac. It is unfortunately also not anywhere near the top of my todo list. So if we can find someone else who wants to take over I would be A++ super Ok with that.

[2018-01-19 08:57] HadrienG commented on #505
@arfon It's going pretty well. Vacations have slowed things a little but my last issue is now closed. I'll test the new release and if everything goes fine I fell comfortable recommending for publication

[2018-01-19 08:58] HadrienG commented on #505
@whedon generate pdf

[2018-01-19 08:58] whedon commented on #505
[code]

[2018-01-19 08:59] whedon commented on #505
[code]

[2018-01-19 11:44] arfon commented on #216
@bbolker - many thanks for your review here and to @karthik for editing this one ✨

@oliviergimenez - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00216 ⚡️ 🚀 💥

[2018-01-19 11:44] #216 closed

[2018-01-19 11:44] whedon commented on #216
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00216/status.svg)](https://doi.org/10.21105/joss.00216)

**We need your help!**

Journal of Open Source Software

[2018-01-19 12:08] oliviergimenez commented on #216
This is awesome, thank you all @whedon @bbolker @karthik.

[2018-01-19 14:40] whedon opened #540 "[PRE REVIEW]: py-opc: operate the Alphasense OPC-N2 from a raspberry pi or other popular microcontrollers/microcomputers"
**Submitting author:** @dhhagan (<a href="http://orcid.org/0000-0001-5111-4671">David Henry Hagan</a>)
**Repository:** <a href="https://github.com/dhhagan/py-opc" target ="_blank">https://github.com/dhhagan/py-opc</a>
**Version:** 1.4.1
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @tshu

**Author instructions**

Thanks for submitting your paper to JOSS @dhhagan. The JOSS editor (shown at the

[2018-01-19 14:40] whedon commented on #540
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-01-19 14:40] whedon commented on #540
[code]

[2018-01-19 14:40] whedon commented on #540
[code]

[2018-01-19 14:42] arfon commented on #540
👋 @dhhagan - thanks for your submission to JOSS. It looks like the `paper.md` YAML header is a little off - this PR should fix it: https://github.com/dhhagan/py-opc/pull/54/

From a quick inspection of this submission it's not entirely obvious that it meets our [submission criteria](http://joss.theoj.org/about#submission_requirements). In particular, this item:

Could you confirm here that there _

[2018-01-19 16:08] warrenlr commented on #497
@arfon, I have archived the software on zenodo 10.5281/zenodo.1155709

[2018-01-19 16:26] dhhagan commented on #540
Hey @arfon , thanks for the PR (now merged). The research purpose is that it allows researchers to operate the particle counter from any microcontroller, rather than a PC, and is used by many research organizations (EPA, UNEP, MIT, Leeds, etc) to do aerosol research. Maybe a bit more information is given in a pre-submission inquiry I posted last month (https://github.com/openjournals/joss/issues/3

[2018-01-19 16:34] arfon commented on #497
@whedon set 10.5281/zenodo.1155709 as archive

[2018-01-19 16:34] whedon commented on #497
OK. <a href="http://dx.doi.org/10.5281/zenodo.1155709" target="_blank">10.5281/zenodo.1155709</a> is the archive.

[2018-01-20 00:57] nhejazi commented on #512
@wrathematics -- Thanks for submitting your review. The issue with the DOI pointing to the incorrect package version has been fixed by minting a new DOI via Zenodo (for the same GitHub release that we originally opened this review for). Here is a link to the new DOI: https://doi.org/10.5281/zenodo.1155901

Please let us know if there are any other corrections that we can make to complete this revi

[2018-01-20 14:16] arfon commented on #540
@whedon generate pdf

[2018-01-20 14:16] whedon commented on #540
[code]

[2018-01-20 14:16] whedon commented on #540
[code]

[2018-01-20 14:23] arfon commented on #540
Thanks @dhhagan - I'd forgotten that you'd already enquired. We should be able to proceed here.

While we wait for an editor to volunteer (and then find a reviewer) would you mind fleshing out your paper with a little more detail? Our goal is to have short papers that are understandable by a non-specialist audience. Right now I don't think this paper is quite there.

[2018-01-21 16:13] wdm0006 commented on #501
@arfon fantastic! I'll work on that today. Thanks all

[2018-01-21 16:33] cMadan commented on #506
@wspr, do you still have time/interest in doing a review of this submission? Please let me know either way.

[2018-01-21 16:33] cMadan commented on #430
@jordigh, are you still able to review this submission?

[2018-01-21 17:42] Kevin-Mattheus-Moerman commented on #506
I've been working on @wspr 's comments. He had opened some issues on my repo which I believe I've addressed. There may be more to come but I'll let him comment on that.

[2018-01-21 18:30] arokem commented on #508
@vsivsi : have you made any progress on the review of this software?

[2018-01-21 22:41] lheagy commented on #444
👋 Hi @tacaswell, @khinsen, @betatim, @jochym - would any of you be willing to review this submission for JOSS?

[2018-01-21 22:46] andim commented on #531
It has been a pleasure to work with @bjodah to review his submission of  `pyneqsys` to JOSS over this past week. All the issues I've raised (linked in this review thread above) have been addressed satisfactorily and some additional feedback incorporated as well (PR https://github.com/bjodah/pyneqsys/pull/31, https://github.com/bjodah/pyneqsys/pull/32, https://github.com/bjodah/pyneqsys/pull/37).

[2018-01-21 23:55] wspr commented on #506
@cMadan — sorry this dragged on a little; I think I'm basically there.

@Kevin-Mattheus-Moerman — did you see my last message for testing out the `git update-index --chmod=+x lib_ext/tetGen/mac64/tetgen` thing? I believe if you run that on your end then commit, I'll be able to check and confirm. The one thing I'm not sure about is how many more of these are needed; I guess it can't hurt to also ru

[2018-01-22 01:15] labarba commented on #467
@bmcfee — Would you be interested in being a reviewer for this JOSS submission? (I can send more information on the process by email, if you've not reviewed for us before.)

[2018-01-22 01:18] bmcfee commented on #467
@labarba sure, thanks for the invite!  I haven't reviewed for JOSS before, but I have published in JOSS so I'm familiar with the process.  (Official instructions are always appreciated though.)

[2018-01-22 01:19] alexhanna commented on #480
Sorry, it's been much longer than a week.

This looks generally good. Things that are missing:

- LICENSE
- Community guidelines (CONTRIBUTING)
- and API for all the functions it implements.

Otherwise code looks good and all the tests check out.

[2018-01-22 01:20] labarba commented on #467
@whedon assign @bmcfee as reviewer

[2018-01-22 01:20] whedon commented on #467
OK, the reviewer is @bmcfee

[2018-01-22 01:25] labarba commented on #467
@whedon start review

[2018-01-22 01:25] whedon commented on #467
You didn't say the magic word! Try this:

[code]

[2018-01-22 01:26] labarba commented on #467
@whedon start review magic-word=bananas

[2018-01-22 01:27] whedon opened #541 "[REVIEW]: Bitstream - Binary Data for Humans"
**Submitting author:** @boisgera (<a href="http://orcid.org/0000-0003-4685-8099">Sébastien Boisgérault</a>)
**Repository:** <a href="https://github.com/boisgera/bitstream" target ="_blank">https://github.com/boisgera/bitstream</a>
**Version:** v2.2.0
**Editor:** @labarba
**Reviewer:** @bmcfee
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1158626" target="_blank">10.5281/zenodo.1158626</a>

[2018-01-22 01:27] whedon commented on #467
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/541. Feel free to close this issue now!

[2018-01-22 01:27] whedon commented on #541
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @bmcfee it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2018-01-22 01:27] whedon commented on #541
[code]

[2018-01-22 01:27] whedon commented on #541
[code]

[2018-01-22 01:28] howardjp commented on #480
@alexhanna Hello, it's all good, we have our off days.

With respect to the license, the R package system demands that a file called "LICENSE" exist and in the format show.  If you're agreeable, I could add a COPYRIGHT.md file that included the BSD license information?

I have "Contribution guidelines" in the README.  Do I need to break this out into a separate file?

Finally, as for an API, every

[2018-01-22 01:29] #467 closed

[2018-01-22 01:31] alexhanna commented on #480
- LICENSE: I think that's fine.
- Contribution guidelines are good in the README, I think I overlooked that
part
- It's my first time reviewing an R package and I didn't know these were
autogenerated. Looks good.

On Sun, Jan 21, 2018 at 8:28 PM, James Howard <notifications@github.com>
wrote:

--
Alex Hanna
alex-hanna.com
@alexhanna

[2018-01-22 01:31] labarba commented on #541
Thanks for agreeing to review, @bmcfee. This is where the action happens. Go over the review checklist above, add your comments for the author here, and open issues in the software repo as needed (linking to them in your comments here).

[2018-01-22 01:33] howardjp commented on #480
Awesome.  I will add the COPYRIGHT file to develop branch.  That shouldn't take more than a few seconds :)

[2018-01-22 04:25] cMadan commented on #506
Thank you for the review, @wspr! I think you're all done.

@Kevin-Mattheus-Moerman, let me know when you've made these minor changes to the paper. After that's done, please let me know the DOI for the archive.

[2018-01-22 08:01] danielskatz commented on #489
@amjaeger17 - any news on your side?

[2018-01-22 11:17] arfon commented on #531
@bjodah - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-01-22 11:29] arfon commented on #488
@richardjgowers - any update here?

[2018-01-22 14:14] arfon commented on #488
@PabloGGaray - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-01-22 14:16] arfon commented on #531
@whedon set 10.5281/zenodo.1156898 as archive

[2018-01-22 14:16] whedon commented on #531
OK. <a href="http://dx.doi.org/10.5281/zenodo.1156898" target="_blank">10.5281/zenodo.1156898</a> is the archive.

[2018-01-22 14:37] arfon commented on #531
@andim - many thanks for your review here ✨

@bjodah - your paper is now accepted into JOSS and your DOI is  https://doi.org/10.21105/joss.00531 ⚡️ 🚀 💥

[2018-01-22 14:37] #531 closed

[2018-01-22 14:37] whedon commented on #531
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00531/status.svg)](https://doi.org/10.21105/joss.00531)

**We need your help!**

Journal of Open Source Software

[2018-01-22 15:00] bmcfee commented on #541
Comments on the install procedure:

The instructions in the [docs](https://boisgera.github.io/bitstream/installation/) don't quite get all the way there.  The usual `python setup.py install` or `pip install -e .` failed for me, but the script gave an error message saying to use `python setup.py --cython install`, which did work.  It would be helpful if the install docs had a section for building f

[2018-01-22 15:24] bmcfee commented on #541
Comments on the documentation:

This part seems incomplete.  The documentations state the functionality of the package, but not it's target applications or audience.  I get that it provides a fairly low-level operation, but it would be helpful to mention why someone might want to encode data as a bit sequence, and how to use the data coming out.

The section `Snapshots`, which is intended to demon

[2018-01-22 15:42] bmcfee commented on #541
The paper looks pretty good.  On the last point

Nothing in the bibliography lists a DOI.

[2018-01-22 16:19] howardjp commented on #480
Thank you very much, @alexhanna!

[2018-01-22 16:28] jsgalan commented on #527
Hi I am done with the review.

Where should i submit the review?

Best

[2018-01-22 16:29] jsgalan commented on #527
@whedon commands

[2018-01-22 16:29] whedon commented on #527
Here are some things you can ask me to do:

[code]

[2018-01-22 16:29] jsgalan commented on #527
@whedon start review

[2018-01-22 16:29] whedon commented on #527
I'm sorry @jsgalan, I'm afraid I can't do that. That's something only editors are allowed to do.

[2018-01-22 16:31] arfon commented on #527
@jsgalan - sorry for not being clear - this review issue _is the review_. Please leave comments in this thread for @nterhoeven to respond to.

[2018-01-22 16:34] bjodah commented on #531
Thank you @arfon, and thanks again @andim
The JOSS's submission process is really amazing.

[2018-01-22 17:04] CristianaCorsi commented on #472
Hi Kevin.

I completed the review process.
I checked all the flags in the checklist and added some comments to the
Documentation section.
In my opinion the paper should be accepted.

Is the review process finalized or I need to upload some additional
files? Do I need to apply some different label to this issue?

Thank you!
Cristiana

Il 08/01/2018 17.22, Kevin Mattheus Moerman ha scritto:

--
Cris

[2018-01-22 17:05] jslee02 commented on #500
Three more papers were added to the "Research publications utilizing DART" section by https://github.com/dartsim/dart/issues/957.

[2018-01-22 17:06] jslee02 commented on #500
@whedon generate pdf

[2018-01-22 17:11] Kevin-Mattheus-Moerman commented on #472
@ChristianaCorsi :tada: excellent thanks for completing the review process. We will handle things from here on. Can you and @bzenger confirm the comments to the documentation have been implemented? Can you link to an issue (if an issue was used)?

[2018-01-22 18:12] #501 closed, assigned to jakevdp

[2018-01-22 18:27] kyleniemeyer commented on #532
@arghdos can you serve as a second reviewer?

[2018-01-22 18:31] bzenger commented on #472
Hi Kevin,

We just updated our documentation with some small changes. These were done over an email exchange not through any GitHub issue.

Dr. Corsi will email you with the confirmation.

Thanks!

Brian

[2018-01-22 18:41] PabloGGaray commented on #488
Hi @arfon this is the DOI: 10.5281/zenodo.1157129
Just in case that not work correctly this is the [entry in zenodo](https://zenodo.org/record/1157129#.WmYupvZG2V4).
And thanks for your work @richardjgowers.

[2018-01-22 19:07] arghdos commented on #532
@kyleniemeyer yes, i'm willing

[2018-01-22 19:11] kyleniemeyer commented on #532
@whedon commands

[2018-01-22 19:11] whedon commented on #532
Here are some things you can ask me to do:

[code]

[2018-01-22 19:15] kyleniemeyer commented on #532
@whedon assign @iljah as reviewer

[2018-01-22 19:15] whedon commented on #532
OK, the reviewer is @iljah

[2018-01-22 19:15] kyleniemeyer commented on #532
@whedon start review

[2018-01-22 19:15] whedon commented on #532
You didn't say the magic word! Try this:

[code]

[2018-01-22 19:15] kyleniemeyer commented on #532
@whedon start review magic-word=bananas

[2018-01-22 19:15] whedon opened #542 "[REVIEW]: IDESolver: a general purpose integro-differential equation solver"
**Submitting author:** @JoshKarpel (<a href="http://orcid.org/0000-0001-5968-9373">Josh Karpel</a>)
**Repository:** <a href="https://github.com/JoshKarpel/idesolver" target ="_blank">https://github.com/JoshKarpel/idesolver</a>
**Version:** v1.0.1
**Editor:** @kyleniemeyer
**Reviewer:** @iljah
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1162964" target="_blank">10.5281/zenodo.1162964</a>

[2018-01-22 19:16] whedon commented on #532
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/542. Feel free to close this issue now!

[2018-01-22 19:16] whedon commented on #542
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @iljah it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2018-01-22 19:16] whedon commented on #542
[code]

[2018-01-22 19:16] whedon commented on #542
[code]

[2018-01-22 19:16] kyleniemeyer commented on #532
OK @JoshKarpel @iljah @arghdos we'll continue the review over in #542

[2018-01-22 19:16] #532 closed

[2018-01-22 19:18] kyleniemeyer commented on #542
OK @iljah @arghdos please add your review comments here— @iljah you should fill out the checkbox, and @arghdos you should make sure you agree that everything is filled/not filled (JOSS only officially supports one reviewer at the moment).

[2018-01-22 20:57] arfon commented on #488
@whedon set 10.5281/zenodo.1157129 as archive

[2018-01-22 20:57] whedon commented on #488
OK. <a href="http://dx.doi.org/10.5281/zenodo.1157129" target="_blank">10.5281/zenodo.1157129</a> is the archive.

[2018-01-22 21:08] JoshKarpel commented on #542
I've added a code of conduct and contributor guidelines, along with links to them from the readme, on the master branch.

[2018-01-22 21:09] arfon commented on #488
@richardjgowers - many thanks for your review here ✨

@PabloGGaray - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00488 ⚡️ 🚀 💥

[2018-01-22 21:09] #488 closed

[2018-01-22 21:10] whedon commented on #488
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00488/status.svg)](https://doi.org/10.21105/joss.00488)

**We need your help!**

Journal of Open Source Software

[2018-01-22 22:06] boshek commented on #511
@arfon Embarrassing ask: Is there any opportunity to correct a few spelling errors in the article?

[2018-01-22 22:26] arfonsmith commented on #511
Sure thing. Please make the edits and I can update the paper.

On Mon, Jan 22, 2018 at 17:06, Sam Albers <notifications@github.com> wrote:

[2018-01-22 23:02] benmarwick commented on #361
Thanks for the updates. All good to go now!

[2018-01-23 00:17] danilofreire commented on #361
Many thanks @benmarwick and @karthik! I greatly appreciate your time and feedback. Please let me or my co-author know if there's anything we should do at the moment. Again, thanks!

[2018-01-23 02:42] karthik commented on #361
I have a few comments myself.

- How come there is `appveyor` integration but none for `travis`?
- [Here]([prisonbrief/wpb_table.R at master · danilofreire/prisonbrief · GitHub](https://github.com/danilofreire/prisonbrief/blob/master/R/wpb_table.R#L65)) you use `html_node` but only import `html_nodes` which throws an error for me. Can you keep it consistent?
- After loading `rvest` as well, I get

[2018-01-23 08:37] CristianaCorsi commented on #472
All the comments to the documentation have been implemented.

Brian, could you please update the DOC folder in the submission web site
with this new file (now available on the server
http://sci.utah.edu/devbuilds/pfeifer_docs/PfeiferDocumentation.pdf)?
Thank you!

Cristiana

Il 22/01/2018 18.11, Kevin Mattheus Moerman ha scritto:

--
Cristiana Corsi, PhD, Associate Professor
Department of Electric

[2018-01-23 10:25] iljah commented on #542
The second link in paper pdf is broken, probably because the doi is given as https... in paper.bib to which another https... is prepended.

[2018-01-23 10:41] iljah commented on #542
A question about documentation for @kyleniemeyer: reviewer instructions state e.g. "A high-level overview of this documentation should be included in a README file (or equivalent)." but [the readme file](https://github.com/JoshKarpel/idesolver/blob/master/README.rst) mostly refers to documentation elsewhere. The referred documentation is also in html format, is that ok for joss?

@JoshKarpel accor

[2018-01-23 10:50] iljah commented on #542
Here are the issues in the target repository I've created while trying out the software: https://github.com/JoshKarpel/idesolver/issues/3 https://github.com/JoshKarpel/idesolver/issues/4

[2018-01-23 11:54] whedon opened #543 "[PRE REVIEW]: Closed-system 230Th-U age calculation"
**Submitting author:** @tonydoss (<a href="http://orcid.org/0000-0002-3575-0106">Anthony Dosseto</a>)
**Repository:** <a href="https://github.com/tonydoss/UTh_dating" target ="_blank">https://github.com/tonydoss/UTh_dating</a>
**Version:** v1.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @tonydoss. The JOSS editor (shown at the top o

[2018-01-23 11:54] whedon commented on #543
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-01-23 11:54] whedon commented on #543
[code]

[2018-01-23 11:54] whedon commented on #543
[code]

[2018-01-23 11:55] whedon opened #544 "[PRE REVIEW]: Limbo: A Flexible High-performance Library for Gaussian Processes modeling and Data-Efficient Optimization"
**Submitting author:** @aneoshun (<a href="http://orcid.org/0000-0002-3190-7073">Antoine Cully</a>)
**Repository:** <a href="https://github.com/resibots/limbo" target ="_blank">https://github.com/resibots/limbo</a>
**Version:** V2.0
**Editor:** @arfon
**Reviewer:** @dfm

**Author instructions**

Thanks for submitting your paper to JOSS @aneoshun. The JOSS editor (shown at the top of this issue) wi

[2018-01-23 11:55] whedon commented on #544
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-01-23 11:55] whedon commented on #544
[code]

[2018-01-23 11:55] whedon commented on #544
[code]

[2018-01-23 11:57] tonydoss commented on #543
sorry... I'm new to this...
shouldn't the paper be tonydoss/UTh_dating/paper_UTh_dating.Rmd?

[2018-01-23 12:01] tonydoss commented on #543
re: potential reviewer, @benmarwick could be a potential candidate (although he's already edited my script, so there might be a conflict of interest)

[2018-01-23 13:47] JoshKarpel commented on #542
I've started a [branch](https://github.com/JoshKarpel/idesolver/tree/joss-review) to address issues raised during the review.

[2018-01-23 13:58] arfon commented on #543
Please name your paper `paper.md` and then @whedon should pick it up.

[2018-01-23 13:59] arfon commented on #544
@whedon generate pdf

[2018-01-23 13:59] whedon commented on #544
[code]

[2018-01-23 13:59] whedon commented on #544
[code]

[2018-01-23 14:01] wrathematics commented on #512
Great, thanks. With the updated DOI, this looks good to me.

This should be good to go as far as JOSS is concerned, but I have a few additional comments that I hope you'll find helpful. The package looks very useful, but the examples don't quite feel right to me. I'd sort of compare it to the idea of something being "pythonic" in python. As you probably know, there are basically two distinct style

[2018-01-23 14:06] arfon commented on #544
👋 @Aneoshun - could you please merge this PR that fixes up the paper metadata?
 https://github.com/resibots/limbo/pull/249

[2018-01-23 14:06] arfon commented on #544
@whedon assign @arfon as editor

[2018-01-23 14:06] whedon commented on #544
OK, the editor is @arfon

[2018-01-23 14:06] arfon commented on #544
@whedon assign @dfm as reviewer

[2018-01-23 14:06] whedon commented on #544
OK, the reviewer is @dfm

[2018-01-23 14:14] iljah commented on #542
About **installation instructions**: pip is an automatic solution but there doesn't seem to be a list of dependencies anywhere, which are scipy and numpy according to pip.

[2018-01-23 14:23] arfon commented on #544
@whedon generate pdf

[2018-01-23 14:23] whedon commented on #544
[code]

[2018-01-23 14:23] whedon commented on #544
[code]

[2018-01-23 14:24] arfon commented on #544
@whedon start review magic-word=bananas

[2018-01-23 14:24] #544 closed

[2018-01-23 14:24] whedon opened #545 "[REVIEW]: Limbo: A Flexible High-performance Library for Gaussian Processes modeling and Data-Efficient Optimization"
**Submitting author:** @aneoshun (<a href="http://orcid.org/0000-0002-3190-7073">Antoine Cully</a>)
**Repository:** <a href="https://github.com/resibots/limbo" target ="_blank">https://github.com/resibots/limbo</a>
**Version:** V2.0
**Editor:** @arfon
**Reviewer:** @dfm
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1298561" target="_blank">10.5281/zenodo.1298561</a>

## Status

[![status]

[2018-01-23 14:24] whedon commented on #544
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/545. Feel free to close this issue now!

[2018-01-23 14:24] whedon commented on #545
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @dfm it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently wa

[2018-01-23 14:24] whedon commented on #545
[code]

[2018-01-23 14:24] whedon commented on #545
[code]

[2018-01-23 14:25] arfon commented on #545
@dfm - thanks for agreeing to review this submission. Any questions along the way please shout!

[2018-01-23 16:25] mikeckennedy commented on #493
Thanks guys. I have basically finished my review. Do you happen to have the a working version of the tutorial code (basically a directory you can zip up rather than steps). I'm not 100% sure I got it installed correctly given the weird errors I got running the tests.

[2018-01-23 16:32] Kevin-Mattheus-Moerman commented on #472
@bzenger can you respond to @CristianaCorsi 's comments?

[2018-01-23 16:53] bzenger commented on #472
@Kevin-Mattheus-Moerman @CristianaCorsi the doc is updated in the github repo. Thanks!

[2018-01-23 17:01] JoshKarpel commented on #542
I've fixed the bad DOI link.

Dependencies are listed explicitly in the [requirements.txt](https://github.com/JoshKarpel/idesolver/blob/master/requirements.txt) file in the top directory of the repository, which is standard for Python/pip projects. I've added a line to the readme which lists the dependencies less formally.

I've added some information about running the test suite to the end of the

[2018-01-23 19:08] HadrienG commented on #505
@arfon - all my comments have been addressed! What's the next steps for acceptance?

[2018-01-23 20:52] tonydoss commented on #543
thanks. I did (shortly after my 2nd post) but looks like @whedon didn't keep trying.

[2018-01-23 22:12] tupui commented on #493
Hi @mikeckennedy, thanks for your work. Concerning the tutorial, here is a
[zip](https://github.com/openjournals/joss-reviews/files/1657775/Michalewicz.zip). This is basically the same folder that you can find in the git repository under `test_cases/Michalewicz`. To launch `batman` just go to the folder and do `batman settings.json`. You can play with options of the CLI of course. If you have any

[2018-01-24 00:14] vsivsi commented on #508
I’ve worked my way through some of the checklist.  I actually had an [open issue](https://github.com/gopherdata/gophernotes/issues/17#issuecomment-355446855) on the project repo from over a year ago, and I did an ‘@‘ comment to the author asking about progress on that and haven’t received any response since I sent it several weeks ago.  I’ll ping him again and see if I have any better luck.  @arok

[2018-01-24 00:29] boshek commented on #511
Thanks @arfon . Edits made here: https://github.com/ropensci/tidyhydat/blob/master/inst/JOSS/paper.md

[2018-01-24 01:48] arfon commented on #511
@boshek - this should be updated now.

[2018-01-24 06:16] bzenger commented on #472
@Kevin-Mattheus-Moerman let us know if there is anything else you need us to do!

[2018-01-24 14:53] Kevin-Mattheus-Moerman commented on #472
Okay it looks like we are all set here! 🚀 🎉
@bzenger  At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? @arfon can then move forward with accepting the submission.
Thanks @CristianaCorsi for the review!

[2018-01-24 15:22] boisgera commented on #541
Regenerate pdf paper (added DOI for bitstream reference)

@whedon generate pdf

[2018-01-24 16:01] bzenger commented on #472
[![DOI](https://zenodo.org/badge/98670022.svg)](https://zenodo.org/badge/latestdoi/98670022)

@Kevin-Mattheus-Moerman is this all I need for that process?

[2018-01-24 16:07] Kevin-Mattheus-Moerman commented on #472
Yes all set. @arfon will take it from here.

[2018-01-24 16:20] dhhagan commented on #540
Okay. I gave a rewrite a stab. I read a bunch of the accepted papers and tried to model it based on those, so hopefully it is okay now.

[2018-01-24 16:47] biorelated commented on #505
@arfon Kindly review this for any final checks before onsideration and publication. Many thanks @HadrienG for taking your time to review and @bovee for the submission.

[2018-01-24 17:03] mikeckennedy commented on #493
Thank you both. That plus switching to conda-forge on ubuntu (rather than straight conda on my mac) seemed to work. Got the review all done and everything looks great to me. Here are my notes, let me know if more than this + sign off is expected.

## Review notes (no particular order of importance)

### General observations

* I think `requirement.txt` should be plural. Typically it's `requirement

[2018-01-24 19:51] nhejazi commented on #512
Perfect, thanks for confirming completion of the JOSS review.

Great to hear that you see the package as useful, and we're glad to hear the critiques/suggestions about the structure of the package, as we'd, of course, like to make sure that potential users feel the code to be natural. I've gone ahead and opened an issue with your comments [here](https://github.com/jeremyrcoyle/origami/issues/26) -

[2018-01-24 20:11] arfon commented on #472
@whedon set 10.5281/zenodo.1158651 as archive

[2018-01-24 20:11] whedon commented on #472
OK. <a href="http://dx.doi.org/10.5281/zenodo.1158651" target="_blank">10.5281/zenodo.1158651</a> is the archive.

[2018-01-24 20:16] moorepants commented on #300
@whedon generate pdf

[2018-01-24 20:16] whedon commented on #300
[code]

[2018-01-24 20:17] whedon commented on #300
[code]

[2018-01-24 20:18] moorepants commented on #300
I have updated the `paper.md` file to make use of the footnotes and grid-tables extensions listed here:

https://pandoc.org/MANUAL.html

[2018-01-24 20:20] moorepants commented on #300
It is close now. Is it possible to choose a smaller font for the table? This is possible in LaTeX.

[2018-01-24 20:21] moorepants commented on #300
@whedon generate pdf

[2018-01-24 20:21] whedon commented on #300
[code]

[2018-01-24 20:21] whedon commented on #300
[code]

[2018-01-24 20:29] arfon commented on #472
@CristianaCorsi - many thanks for your review here and to @Kevin-Mattheus-Moerman for editing this one ✨

@bzenger - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00472 ⚡️ 🚀 💥

[2018-01-24 20:29] #472 closed

[2018-01-24 20:29] whedon commented on #472
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00472/status.svg)](https://doi.org/10.21105/joss.00472)

**We need your help!**

Journal of Open Source Software

[2018-01-24 20:31] Kevin-Mattheus-Moerman commented on #300
Sorry I'm not sure how to change the font locally. @arfon @karthik any ideas?

[2018-01-24 20:32] moorepants commented on #300
I just found this: https://pandoc.org/MANUAL.html#extension-raw_tex

It may be easier to just write the document in LaTeX using this extension. I'll give it a try too. I haven't been able to figure out how to manipulate the font size of the table using markdown.

[2018-01-24 22:18] acabunoc commented on #534
Hey @jorgeboucas! I took a quick look and I think we're good to start a review! Do you have any suggested reviewers? I like to have a few per submission 😄

pinging @dvalters or @jsta -- would either of you be up for reviewing this? Raise a ✋ to let me know!

[2018-01-25 02:01] arfon commented on #543
Hi @tonydoss - many thanks for your submission to JOSS. Unfortunately this submission doesn't meet our [submission requirements](http://joss.theoj.org/about#submission_requirements) as this falls into the 'minor utility' category.

[2018-01-25 02:01] #543 closed

[2018-01-25 02:46] arfon commented on #505
Mostly this looks fine. I would encourage the authors to consider adding a little more detail to their paper as per our [submission guidelines](http://joss.theoj.org/about#paper_structure):

[2018-01-25 06:21] biorelated commented on #505
@bovee,  Kindly address the concerns highlighted by @arfon.

[2018-01-25 09:48] iljah commented on #542
Another issue: https://github.com/JoshKarpel/idesolver/issues/5

[2018-01-25 09:55] iljah commented on #542
There might be missing dependencies in the manual regarding testing: https://github.com/JoshKarpel/idesolver/issues/6

[2018-01-25 10:40] tupui commented on #493
Hi @mikeckennedy, thank you very much for your review.

Indeed will update the requirements file. I wanted to avoid testing packages as you pointed out but `pytest-runner` is required by `setup.py` that is why I had to keep this one. But I agree that this is not coherent not to have `pylint`. Will add it.

Regarding the issue on mac os. Do you have more info except the one you provided on the issu

[2018-01-25 13:15] dvalters commented on #534
@acabunoc sure ✋

[2018-01-25 14:30] katyhuff commented on #493
Thanks both. @mikeckennedy , thank you for this review. @tupui, please let me know in this issue once these items have been completed and we'll move on to next steps!

[2018-01-25 14:32] katyhuff commented on #493
@scollis - do you have any final review comments for @tupui? It looks like you did a good first round review, thanks!  I just wanted to circle back and see if there were any remaining items you wanted to note.

[2018-01-25 15:05] scollis commented on #493
@katyhuff All good! @mikeckennedy covered all the points I have not yet.. Its good to go on my end!

Nice software and one of the coolest logos (the bat) I have seen :)

[2018-01-25 15:14] bmagyar commented on #489
One last issue from me about the DOI entries, everything else has green lights.

[2018-01-25 15:42] jslee02 commented on #500
@Kevin-Mattheus-Moerman It seems @betatim is not available to review this submission at this moment (https://github.com/openjournals/joss-reviews/issues/500#issuecomment-358904542). Please let me know if there is anything I can do for proceeding.

[2018-01-25 18:04] PabloGGaray commented on #488
Hello @arfon, Its possible make little changes in the paper?
We committed a little mistake in the affiliation information, the name of our institution is "Instituto de Matemática **Aplicada** San Luis", we omitted the "Aplicada" in the name by mistake.
And, if it is possible another change, in one reference the names of the authors don't appear, but we don't know the cause of this last problem.

[2018-01-25 18:45] jorgeboucas commented on #534
maybe @paulklemm would like to join the party?

[2018-01-25 19:22] costashatz commented on #500
@Kevin-Mattheus-Moerman I could volunteer to review the library (if a second reviewer is needed). I've been using quite a lot, but I have no connection with the developers (I am not sure about the conflict of interest policy). Cheers!

[2018-01-25 19:24] Kevin-Mattheus-Moerman commented on #500
@costashatz yes that would be great! I'll add a form for you to tick boxes.

[2018-01-25 19:25] Kevin-Mattheus-Moerman commented on #500
@whedon set @costashatz as reviewer

[2018-01-25 19:28] Kevin-Mattheus-Moerman commented on #500
@whedon commands

[2018-01-25 19:28] whedon commented on #500
Here are some things you can ask me to do:

[code]

[2018-01-25 19:29] Kevin-Mattheus-Moerman commented on #500
@whedon assign @costashatz as reviewer

[2018-01-25 19:29] whedon commented on #500
OK, the reviewer is @costashatz

[2018-01-25 19:30] Kevin-Mattheus-Moerman commented on #500
@costashatz thanks for helping out here. I've added a REVIEWER 3 section at the top here. This is where you will work to tick boxes. You should be able to tick them (Be sure to accept the invite at this URL: https://github.com/openjournals/joss-reviews/invitations). Let me know if you have questions.

[2018-01-25 19:33] Kevin-Mattheus-Moerman commented on #500
@betatim I've left your review tickbox set in tact in case you do find time to contribute to the review. Either way thanks for your input.

[2018-01-25 19:36] Kevin-Mattheus-Moerman commented on #500
@costashatz thanks again for jumping in to save the day 🚀 ! Could you give me an indication as to when you expect to finalize the review? Thanks

[2018-01-25 19:50] arfonsmith commented on #488
Sure. Please make the edits to the paper.md file and I can regenerate the
PDF.

On Thu, Jan 25, 2018 at 1:04 PM, Pablo G Garay <notifications@github.com>
wrote:

[2018-01-25 19:54] CoreRobotics commented on #489
@whedon generate pdf

[2018-01-25 19:54] whedon commented on #489
[code]

[2018-01-25 19:54] whedon commented on #489
[code]

[2018-01-25 19:59] costashatz commented on #500
No problem! Since I am already using the library (i.e., I have it installed, already done the tutorials etc), I think it'll be quick!

[2018-01-25 20:06] CoreRobotics commented on #489
@whedon generate pdf

[2018-01-25 20:06] whedon commented on #489
[code]

[2018-01-25 20:06] whedon commented on #489
[code]

[2018-01-25 20:29] costashatz commented on #500
@jslee02  Great library and submission! Only two small remarks:

- Is there a specific reason why you do not have API docs for v6.3.0 that is being submitted? I am aware the API didn't change much from v6.1.1 to v6.3.0, but I'd guess it's not difficult to generate it right?
- Regarding the performance, as I already noted in [this issue](https://github.com/dartsim/dart/issues/961) there seems to be

[2018-01-25 20:33] jkmacc-LANL commented on #530
PyDMD is a well-documented, well-tested, easy to install software package.  Congratulations!  It was a pleasure to review this (...and thanks for your patience).  I only had two minor requests (below).  These aren't show-stoppers, so I didn't create issues for them in the project repo.  With these minor tweaks, this contribution is easily ready to be accepted.

## Functionality

I installed and ra

[2018-01-25 21:18] mtezzele commented on #530
@jkmacc-LANL thank you very much! I will proceed in implementing your suggestions in the next few days!

[2018-01-26 01:10] arfon commented on #443
👋 @rhiever - we're still looking for a reviewer for this submission. Any chance we could take you up on [your offer](https://github.com/openjournals/joss-reviews/issues/443#issuecomment-345787713) 😁

[2018-01-26 01:12] arfon commented on #498
@Kevin-Mattheus-Moerman - would you be willing to edit this submission?

[2018-01-26 01:16] kyleniemeyer commented on #498
@arfon I can take this one.

[2018-01-26 01:16] kyleniemeyer commented on #498
@whedon assign @kyleniemeyer as editor

[2018-01-26 01:16] whedon commented on #498
OK, the editor is @kyleniemeyer

[2018-01-26 01:23] kyleniemeyer commented on #498
Hi @dvalters—are you still willing to review this? I will also try to get someone more on the ocean side of things.

[2018-01-26 02:50] Kevin-Mattheus-Moerman commented on #540
@whedon generate pdf

[2018-01-26 02:50] whedon commented on #540
[code]

[2018-01-26 02:50] whedon commented on #540
[code]

[2018-01-26 03:00] Kevin-Mattheus-Moerman commented on #540
👋 @rajeshxsankaran @jared711 @skgrange would you be interested in reviewing [this project](https://github.com/dhhagan/py-opc) for [the Journal of Open Source Software](http://joss.theoj.org/), the [review process](http://joss.theoj.org/about#reviewer_guidelines) focuses largely on the software and a short the [paper](https://github.com/openjournals/joss-papers/blob/joss.00540/joss.00540/10.21105.j

[2018-01-26 04:15] JoshKarpel commented on #542
Question for @kyleniemeyer - some of the changes need to be pushed to PyPi as a new version, so the post-review version will actually be 1.0.2, not 1.0.1 (hopefully; assuming no breaking changes are needed). Is it possible to change the version number that goes into the final documents?

[2018-01-26 04:18] kyleniemeyer commented on #542
@JoshKarpel don't worry about the version number, it's expected that it will change as a result of reviewer-recommended changes.

[2018-01-26 06:23] aragilar commented on #165
The API docs are now online. See https://bmcage.github.io/odes/dev/ for the rendered docs on master.

[2018-01-26 08:03] paulklemm commented on #534
Sure I will help.

[2018-01-26 10:32] tupui commented on #493
@scollis Thank you for your review and for your time on this. I will send the kind words about the logos ;). @katyhuff We are currently working on this. It should be done by the end of the day. Then, will do a 1.7.3 to fix the version for the paper and will let you know here.

[2018-01-26 11:09] danielskatz commented on #489
Thanks @bmagyar - it looks like your side of this is almost done, and the path is clear.

[2018-01-26 11:09] danielskatz commented on #489
@amjaeger17 - again, any news on your side?

[2018-01-26 11:43] dvalters commented on #498
Hi @kyleniemeyer - yep I can review

[2018-01-26 12:42] jorgeboucas commented on #534
Hi @acabunoc, will 3 do it?
@jsta we are taking your 🎉 as a show of hands ✋ - 😃

[2018-01-26 13:25] jsta commented on #534
Unfortunately I am not available for this review. Best of luck tho!

[2018-01-26 13:38] Kevin-Mattheus-Moerman commented on #540
@whedon assign @Kevin-Mattheus-Moerman as editor

[2018-01-26 13:38] whedon commented on #540
OK, the editor is @Kevin-Mattheus-Moerman

[2018-01-26 13:43] Kevin-Mattheus-Moerman commented on #540
@dhhagan thanks for submitting this paper to JOSS. I've started looking for reviewers. If you could suggest suitable reviewers that would be very helpful. Also your work appears to rely on hardware. Will reviewers require this hardware for review? Can some aspects of the code be reviewed without the hardware?

[2018-01-26 13:48] Kevin-Mattheus-Moerman commented on #525
@wkearn are you interested in reviewing this project? Or do you know people that could?

[2018-01-26 13:48] Kevin-Mattheus-Moerman commented on #525
@rreinecke are you able to suggest suitable reviewers?

[2018-01-26 13:51] Kevin-Mattheus-Moerman commented on #443
@whedon assign @Kevin-Mattheus-Moerman as editor

[2018-01-26 13:51] whedon commented on #443
OK, the editor is @Kevin-Mattheus-Moerman

[2018-01-26 13:56] Kevin-Mattheus-Moerman commented on #443
@zkamvar would you be interested in reviewing this submission for JOSS?

[2018-01-26 14:19] whedon opened #546 "[PRE REVIEW]: The drake R package: a pipeline toolkit for reproducibility and high-performance computing"
**Submitting author:** @wlandau (<a href="http://orcid.org/0000-0003-1878-3253">William Landau</a>)
**Repository:** <a href="https://github.com/ropensci/drake" target ="_blank">https://github.com/ropensci/drake</a>
**Version:** v5.0.0
**Editor:** @arfon
**Reviewer:** @arfon

**Author instructions**

Thanks for submitting your paper to JOSS @wlandau. The JOSS editor (shown at the top of this issue)

[2018-01-26 14:19] whedon commented on #546
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-01-26 14:19] whedon commented on #546
[code]

[2018-01-26 14:19] whedon commented on #546
[code]

[2018-01-26 14:19] arfon commented on #546
@whedon generate pdf

[2018-01-26 14:19] whedon commented on #546
[code]

[2018-01-26 14:20] whedon commented on #546
[code]

[2018-01-26 14:22] arfon commented on #546
Hi @wlandau. Thanks for your submission - I realize this has been through the rOpenSci workflow so this should be quick.

Could you please flesh out your paper a little more please? The current summary is a little short. As a reminder, JOSS papers should contain:

- A summary describing the high-level functionality and purpose of the software for a diverse, non-specialist audience
- A clear statem

[2018-01-26 14:24] ygrange commented on #538
Can one of the editors elaborate on the meaning/background of the question: "Version: Does the release version given match the GitHub release (v0.4.3)?"
Seems like the author has released 0.4.4 by now byt 0.4.3 is still an existing release, even though the paper is part of the master repository and will therefore be part of any future release (which I don't think is a bad thing per se by the way).

[2018-01-26 14:24] dhhagan commented on #540
Hey @Kevin-Mattheus-Moerman: it does rely on hardware - I guess it depends on exactly what the review entails, but it would probably work better with the hardware. I suppose, depending on where the reviewers are located, I could lend a unit for review? What has been done in the past with code that relies on hardware?

[2018-01-26 14:28] arfon commented on #538
@ygrange - we just want to make sure we're reviewing something _close_ to the current version. I think it's fine to go ahead and look at the `v0.4.4` release for your review. Also, yes, the version number often updates as a result of the review feedback (and the fact that a paper is now present in the repository).

[2018-01-26 14:48] tupui commented on #493
@katyhuff merged on develop, only waiting for next instruction before making the release to 1.7.3. I have already prepared the [PR](https://gitlab.com/cerfacs/batman/merge_requests/28) for this.

[2018-01-26 14:51] rhiever commented on #443
What type of review is needed - code review? Functionality review? I don't see a full paper attached to this submission.

[2018-01-26 15:00] mattpitkin commented on #538
@ygrange Sorry, I had meant to say that I'd made a minor update and updated the release number. I added one function that allows you to download the whole ATNF catalogue and return it as an astropy table.

[2018-01-26 15:21] Kevin-Mattheus-Moerman commented on #443
@rhiever thanks for your reply. We are currently in a pre-review issue. If you agree to review I'll open a review issue and you'll be able to see the paper as well (the author here still needs to update their paper).

Here is an example of a [review issue](https://github.com/openjournals/joss-reviews/issues/500#event-1442337848) with 3 reviewers taking part. Essentially reviewers tick boxes at the

[2018-01-26 15:23] Kevin-Mattheus-Moerman commented on #443
@ResidentMario please expand [your paper](
https://github.com/ResidentMario/missingno/blob/master/paper.md) as per [our guidelines](http://joss.theoj.org/about#author_guidelines). You can also check out [some accepted papers](http://joss.theoj.org/papers/accepted) to get a better picture of the content and level of detail presented in them.

[2018-01-26 15:26] rhiever commented on #443
OK, I can act as a reviewer on this paper.

[2018-01-26 15:27] ResidentMario commented on #443
@Kevin-Mattheus-Moerman :+1: To review, I've gotten a smattering inquiries on how to cite this library, and this seemed like the perfect venue to achieve that. I made a pretty minimal submission to test the waters. V. happy to flush it out more.

[2018-01-26 15:27] zkamvar commented on #443
Hello! Yes, I would be happy to review this.

Caveats:

1. I am primarily an R developer and use python on more of a monthly basis.
2. I am the author of the R package that @ResidentMario mentioned in [this comment](https://github.com/openjournals/joss-reviews/issues/443#issuecomment-345762333) (Though I don't see a citation necessary as the name was derived from [a pokemon glitch](https://en.wiki

[2018-01-26 15:29] ygrange commented on #538
Thanks for the clarification @mattpitkin !
Another question to the editor. Is it ok from an ethical perspective for me do do a pull request on the repository if I find an issue I can easily fix?

[2018-01-26 15:34] Kevin-Mattheus-Moerman commented on #443
Great. Two reviewers is perfect. I'll open the review issue with @rhiever as first reviewer. I'll then also add @zkamvar as second reviewer. Here we go.

[2018-01-26 15:35] Kevin-Mattheus-Moerman commented on #443
@whedon assign @rhiever as reviewer

[2018-01-26 15:35] whedon commented on #443
OK, the reviewer is @rhiever

[2018-01-26 15:35] Kevin-Mattheus-Moerman commented on #443
@whedon start review magic-word=bananas

[2018-01-26 15:35] whedon commented on #443
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/547. Feel free to close this issue now!

[2018-01-26 15:35] whedon opened #547 "[REVIEW]: Missingno: a missing data visualization suite"
**Submitting author:** @ResidentMario (<a href="http://orcid.org/0000-0002-0066-5825">Aleksey Bilogur</a>)
**Repository:** <a href="https://github.com/ResidentMario/missingno" target ="_blank">https://github.com/ResidentMario/missingno</a>
**Version:** 0.4.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @rhiever
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1184723" target="_blank">10

[2018-01-26 15:35] whedon commented on #547
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @rhiever it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currentl

[2018-01-26 15:35] whedon commented on #547
[code]

[2018-01-26 15:35] whedon commented on #547
[code]

[2018-01-26 15:36] Kevin-Mattheus-Moerman commented on #443
Okay review has started over at #547.

[2018-01-26 15:36] #443 closed

[2018-01-26 15:37] acabunoc commented on #534
What a showing! Thanks @paulklemm & @dvalters 😄
Here are the reviewer guidelines: http://joss.theoj.org/about#reviewer_guidelines

I'll take a quick look at your paper.md before we start the review

[2018-01-26 15:37] acabunoc commented on #534
@whedon generate pdf

[2018-01-26 15:37] whedon commented on #534
[code]

[2018-01-26 15:37] whedon commented on #534
[code]

[2018-01-26 15:38] Kevin-Mattheus-Moerman commented on #547
@whedon assign @rhiever as reviewer

[2018-01-26 15:38] whedon commented on #547
OK, the reviewer is @rhiever

[2018-01-26 15:42] Kevin-Mattheus-Moerman commented on #547
@rhiever and @zkamvar thank you for acting as reviewers! 🚀

There are two sets of tick boxes at the top of this issue, one for each of you. If you have minor comments to the author feel free to make them here. For bigger issues you may want to open an issue on this projects [repository](https://github.com/ResidentMario/missingno) which you can refer to here in the review issue.
Let me know if you

[2018-01-26 15:43] Kevin-Mattheus-Moerman commented on #547
@whedon assign @zkamvar as reviewer

[2018-01-26 15:43] whedon commented on #547
OK, the reviewer is @zkamvar

[2018-01-26 15:43] acabunoc commented on #534
@jorgeboucas could you merge [this PR](https://github.com/mpg-age-bioinformatics/bit/pull/5)? I _think_ it will fix the error @whedon's running into

[2018-01-26 15:44] Kevin-Mattheus-Moerman commented on #547
@whedon assign @rhiever as reviewer

[2018-01-26 15:44] whedon commented on #547
OK, the reviewer is @rhiever

[2018-01-26 15:44] Kevin-Mattheus-Moerman commented on #547
Apologies for the messages. The system is a bit rusty for multiple reviewers.

[2018-01-26 15:46] acabunoc commented on #534
@whedon assign @paulklemm as reviewer

[2018-01-26 15:46] whedon commented on #534
OK, the reviewer is @paulklemm

[2018-01-26 15:47] acabunoc commented on #534
@whedon assign @dvalters as reviewer

[2018-01-26 15:47] whedon commented on #534
OK, the reviewer is @dvalters

[2018-01-26 15:48] Kevin-Mattheus-Moerman commented on #547
@ResidentMario I've opened an issue about expanding your paper [here](https://github.com/ResidentMario/missingno/issues/43). Let me know if you have questions.

[2018-01-26 15:59] wkearn commented on #525
I'd be happy to review this submission!

[2018-01-26 16:05] Kevin-Mattheus-Moerman commented on #525
@whedon assign @Kevin-Mattheus-Moerman as editor

[2018-01-26 16:05] whedon commented on #525
OK, the editor is @Kevin-Mattheus-Moerman

[2018-01-26 16:05] Kevin-Mattheus-Moerman commented on #525
@whedon assign @wkearn as reviewer

[2018-01-26 16:05] whedon commented on #525
OK, the reviewer is @wkearn

[2018-01-26 16:05] Kevin-Mattheus-Moerman commented on #525
@whedon start review magic-word=bananas

[2018-01-26 16:05] whedon opened #548 "[REVIEW]: G³M-f a global gradient-based groundwater modelling framwork"
**Submitting author:** @rreinecke (<a href="http://orcid.org/0000-0001-5699-8584">Robert Reinecke</a>)
**Repository:** <a href="https://github.com/rreinecke/global-gradient-based-groundwater-model" target ="_blank">https://github.com/rreinecke/global-gradient-based-groundwater-model</a>
**Version:** v1.0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @wkearn
**Archive:** <a href="http://dx.do

[2018-01-26 16:05] whedon commented on #525
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/548. Feel free to close this issue now!

[2018-01-26 16:05] whedon commented on #548
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @wkearn it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2018-01-26 16:05] whedon commented on #548
[code]

[2018-01-26 16:06] whedon commented on #548
[code]

[2018-01-26 16:06] Kevin-Mattheus-Moerman commented on #525
Fantastic. Let the reviewing begin! 🚀

[2018-01-26 16:06] #525 closed

[2018-01-26 16:07] Kevin-Mattheus-Moerman commented on #548
@rreinecke this is where the review will take place

[2018-01-26 16:08] jorgeboucas commented on #534
@acabunoc merged. Thanks!

[2018-01-26 16:08] jorgeboucas commented on #534
@whedon generate pdf

[2018-01-26 16:08] whedon commented on #534
[code]

[2018-01-26 16:08] whedon commented on #534
[code]

[2018-01-26 16:09] Kevin-Mattheus-Moerman commented on #548
@rreinecke can you change the name of your paper file to use small letters (rather than capital letters). I think this might be why it isn't finding it.

[2018-01-26 16:10] wlandau commented on #546
Hi @afron. Looking back, I agree that the paper needed expansion. I added more in https://github.com/ropensci/drake/commit/6763e9a11ec22ee85de79d6e227d0cc27a9e672f, elaborating on  reproducibility and high-performance computing, the two central purposes of `drake`.

[2018-01-26 16:14] jorgeboucas commented on #534
@whedon generate pdf

[2018-01-26 16:14] whedon commented on #534
[code]

[2018-01-26 16:15] whedon commented on #534
[code]

[2018-01-26 16:18] jorgeboucas commented on #534
@acabunoc `paper.md` functional now.

[2018-01-26 16:23] acabunoc commented on #534
@whedon start review magic-word=bananas

[2018-01-26 16:23] whedon opened #549 "[REVIEW]: bit: a git-based tool for the management of code and data"
**Submitting author:** @jorgeboucas (<a href="http://orcid.org/0000-0002-9412-7592">Jorge Boucas</a>)
**Repository:** <a href="https://github.com/mpg-age-bioinformatics/bit" target ="_blank">https://github.com/mpg-age-bioinformatics/bit</a>
**Version:** 0.1.1
**Editor:** @acabunoc
**Reviewer:** @dvalters, @paulklemm
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/3714b0dbb

[2018-01-26 16:23] whedon commented on #534
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/549. Feel free to close this issue now!

[2018-01-26 16:23] whedon commented on #549
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @dvalters it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably current

[2018-01-26 16:23] whedon commented on #549
[code]

[2018-01-26 16:23] whedon commented on #549
[code]

[2018-01-26 16:24] rreinecke commented on #548
@Kevin-Mattheus-Moerman done

[2018-01-26 16:28] acabunoc commented on #549
@dvalters & @paulklemm -- I duplicated the reviewer checklist so you should each have your own list to check off. thanks & let me know if you have any questions!

[2018-01-26 16:29] #534 closed

[2018-01-26 16:36] arfon commented on #546
@whedon generate pdf

[2018-01-26 16:36] whedon commented on #546
[code]

[2018-01-26 16:37] whedon commented on #546
[code]

[2018-01-26 16:37] arfon commented on #546
@whedon assign @arfon as reviewer

[2018-01-26 16:37] whedon commented on #546
OK, the reviewer is @arfon

[2018-01-26 16:38] arfon commented on #546
@whedon start review magic-word=bananas

[2018-01-26 16:38] #546 closed

[2018-01-26 16:38] whedon opened #550 "[REVIEW]: The drake R package: a pipeline toolkit for reproducibility and high-performance computing"
**Submitting author:** @wlandau (<a href="http://orcid.org/0000-0003-1878-3253">William Landau</a>)
**Repository:** <a href="https://github.com/ropensci/drake" target ="_blank">https://github.com/ropensci/drake</a>
**Version:** v5.0.0
**Editor:** @arfon
**Reviewer:** @arfon
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1160697" target="_blank">10.5281/zenodo.1160697</a>

## Status

[![sta

[2018-01-26 16:38] whedon commented on #546
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/550. Feel free to close this issue now!

[2018-01-26 16:38] whedon commented on #550
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @arfon it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2018-01-26 16:38] whedon commented on #550
[code]

[2018-01-26 16:38] arfon commented on #550
@whedon set 10.5281/zenodo.1160697 as archive

[2018-01-26 16:38] whedon commented on #550
[code]

[2018-01-26 16:38] whedon commented on #550
OK. <a href="http://dx.doi.org/10.5281/zenodo.1160697" target="_blank">10.5281/zenodo.1160697</a> is the archive.

[2018-01-26 16:38] arfon commented on #550
Accepting because of https://github.com/ropensci/onboarding/issues/156

[2018-01-26 16:39] wlandau commented on #546
Thanks, @afron.

[2018-01-26 16:44] arfon commented on #550
@wlandau - you paper is now accepted in JOSS and your DOI is https://doi.org/10.21105/joss.00550 ⚡️ 🚀 💥

[2018-01-26 16:44] #550 closed

[2018-01-26 16:44] whedon commented on #550
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00550/status.svg)](https://doi.org/10.21105/joss.00550)

**We need your help!**

Journal of Open Source Software

[2018-01-26 16:46] wlandau commented on #550
Wow @arfon, that really was quick! Thank you so much.

[2018-01-26 17:27] Kevin-Mattheus-Moerman commented on #548
@whedon generate pdf

[2018-01-26 17:27] whedon commented on #548
[code]

[2018-01-26 17:27] whedon commented on #548
[code]

[2018-01-26 17:31] Kevin-Mattheus-Moerman commented on #548
@rreinecke That worked. Btw you can also ask whedon to generate the PDF yourself. I noticed the are several DOI's missing for the reference. Can you add them?

[2018-01-26 18:07] CoreRobotics commented on #489
@whedon generate pdf

[2018-01-26 18:07] whedon commented on #489
[code]

[2018-01-26 18:07] whedon commented on #489
[code]

[2018-01-26 18:45] CoreRobotics commented on #489
@whedon generate pdf

[2018-01-26 18:45] whedon commented on #489
[code]

[2018-01-26 18:45] whedon commented on #489
[code]

[2018-01-26 19:13] jslee02 commented on #500
@costashatz Thank you for the quick feedback. Please find below my answers to your remarks:

* Updated API docs can be found on the [website](http://dartsim.github.io/api.html) or [API repo](https://github.com/dartsim/api).

* Regarding the collision/contact performance, I [replied](https://github.com/dartsim/dart/issues/961#issuecomment-360874612) on the issue:

[2018-01-26 21:56] mikeckennedy commented on #493
@tupui You're welcome. Thank you.

[2018-01-26 22:27] lheagy commented on #444
@jarvist: just a quick update for you, I have sent out emails to potential reviewers and am waiting to hear back. I will keep you posted.

[2018-01-27 15:34] rreinecke commented on #548
@whedon generate pdf

[2018-01-27 15:35] whedon commented on #548
[code]

[2018-01-27 15:35] whedon commented on #548
[code]

[2018-01-27 19:10] PabloGGaray commented on #488
We made the change @arfon, the paper.md is ready for the regeneration of the PDF.

[2018-01-27 20:30] arfon commented on #488
Great. I've updated the paper now. It may take a few hours to show the updated version on the JOSS site as the papers are cached.

[2018-01-28 13:44] jochym commented on #440
@lheagy, @yxqd : Following my comments in https://github.com/sns-chops/multiphonon/issues/82 I think that after addressing  the last minor issues mentioned there the paper can be accepted to be published in JOSS.

[2018-01-28 14:09] whedon opened #551 "[PRE REVIEW]: CheckQC: Quick quality control of Illumina sequencing runs"
**Submitting author:** @johandahlberg (<a href="http://orcid.org/0000-0001-6962-1460">Johan Dahlberg</a>)
**Repository:** <a href="https://github.com/Molmed/checkQC" target ="_blank">https://github.com/Molmed/checkQC</a>
**Version:** v1.2.0
**Editor:** @pjotrp
**Reviewer:** @brainstorm

**Author instructions**

Thanks for submitting your paper to JOSS @johandahlberg. The JOSS editor (shown at the

[2018-01-28 14:09] whedon commented on #551
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-01-28 14:09] whedon commented on #551
[code]

[2018-01-28 14:09] whedon commented on #551
[code]

[2018-01-28 14:09] whedon opened #552 "[PRE REVIEW]: ChemPy: A package useful for chemistry written in Python"
**Submitting author:** @bjodah (<a href="http://orcid.org/0000-0003-0596-0222">Björn Dahlgren</a>)
**Repository:** <a href="https://github.com/bjodah/chempy" target ="_blank">github.com/bjodah/chempy</a>
**Version:** v0.6.3
**Editor:** @kyleniemeyer
**Reviewer:** @bryanwweber

**Author instructions**

Thanks for submitting your paper to JOSS @bjodah. The JOSS editor (shown at the top of this issue

[2018-01-28 14:09] whedon commented on #552
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @kyleniemeyer it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-01-28 14:09] whedon commented on #552
[code]

[2018-01-28 14:09] whedon commented on #552
[code]

[2018-01-28 14:10] whedon opened #553 "[PRE REVIEW]: PetIBM: toolbox and applications of the immersed-boundary method on distributed-memory architectures"
**Submitting author:** @labarba (<a href="http://orcid.org/0000-0001-5812-2711">Lorena A. Barba</a>)
**Repository:** <a href="https://github.com/barbagroup/PetIBM" target ="_blank">https://github.com/barbagroup/PetIBM</a>
**Version:** v0.3
**Editor:** @kyleniemeyer
**Reviewer:** @jedbrown

**Author instructions**

Thanks for submitting your paper to JOSS @labarba. The JOSS editor (shown at the top

[2018-01-28 14:10] whedon commented on #553
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-01-28 14:10] whedon commented on #553
[code]

[2018-01-28 14:10] whedon opened #554 "[PRE REVIEW]: TSrepr R package: Time Series Representations"
**Submitting author:** @PetoLau (<a href="http://orcid.org/0000-0002-3501-8783">Peter Laurinec</a>)
**Repository:** <a href="https://github.com/PetoLau/TSrepr" target ="_blank">https://github.com/PetoLau/TSrepr</a>
**Version:** v1.0.0
**Editor:** @arokem
**Reviewer:** @kellieotto

**Author instructions**

Thanks for submitting your paper to JOSS @PetoLau. The JOSS editor (shown at the top of this

[2018-01-28 14:10] whedon commented on #554
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @arokem it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-01-28 14:10] whedon commented on #554
[code]

[2018-01-28 14:10] whedon commented on #553
[code]

[2018-01-28 14:10] whedon opened #555 "[PRE REVIEW]: PyMap3D: 3-D coordinate conversions for terrestrial and geospace environments"
**Submitting author:** @scivision (<a href="http://orcid.org/0000-0002-1637-6526">Michael Hirsch</a>)
**Repository:** <a href="https://github.com/scivision/pymap3d" target ="_blank">https://github.com/scivision/pymap3d</a>
**Version:** v1.4.0
**Editor:** @lheagy
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @scivision. The JOSS editor (shown at the top of

[2018-01-28 14:10] whedon commented on #555
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @lheagy it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-01-28 14:10] whedon commented on #555
[code]

[2018-01-28 14:10] whedon commented on #554
[code]

[2018-01-28 14:10] whedon commented on #555
[code]

[2018-01-28 14:11] arfon commented on #555
:wave: @lheagy - the submitting author suggested you as the handling editor.

[2018-01-28 14:12] arfon commented on #554
👋🏻 @arokem - the submitting author suggested you as the handling editor.

[2018-01-28 14:13] arfon commented on #552
👋🏻 @kyleniemeyer - the submitting author suggested you as the handling editor.

[2018-01-28 14:16] labarba commented on #553
We suggested @kyleniemeyer as editor, since he edited our previous submission of a related code:
https://github.com/openjournals/joss-reviews/issues/301

For reviewer, we think @jedbrown would be great, if he's willing. He reviewed
https://github.com/openjournals/joss-reviews/issues/280
... which is used in PetIBM.

[2018-01-28 14:33] arfon commented on #551
@whedon generate pdf

[2018-01-28 14:33] whedon commented on #551
[code]

[2018-01-28 15:33] arfon commented on #552
@whedon generate pdf

[2018-01-28 15:33] whedon commented on #552
[code]

[2018-01-28 15:33] whedon commented on #552
[code]

[2018-01-28 16:34] arokem commented on #524
@josephhardinee : have you had a chance to take a look at mixest?

[2018-01-28 16:34] pjotrp commented on #551
@whedon commands

[2018-01-28 16:34] whedon commented on #551
Here are some things you can ask me to do:

[code]

[2018-01-28 16:35] pjotrp commented on #551
@whedon assign @pjotrp as editor

[2018-01-28 16:35] whedon commented on #551
OK, the editor is @pjotrp

[2018-01-28 17:02] arfon commented on #535
Hi @kavir1698 - many thanks for your submission to JOSS. After consulting with the JOSS editorial team we've concluded that this doesn't meet our [submission requirements](http://joss.theoj.org/about#submission_requirements) as this doesn't meet our definition of 'research software'.

[2018-01-28 17:02] #535 closed

[2018-01-28 17:52] Kevin-Mattheus-Moerman commented on #434
@arfon unfortunately I think we have to retract this submission

[2018-01-28 17:52] Kevin-Mattheus-Moerman commented on #434
@arfon unfortunately I think we have to retract this submission

[2018-01-28 18:44] arfon commented on #434
Agreed.

[2018-01-28 18:44] #434 closed

[2018-01-28 18:45] arfon commented on #434
@agrignard & @Kevin-Mattheus-Moerman - thanks for your help here. Sorry it didn't work out :-(

[2018-01-28 22:49] arfon commented on #536
@biorelated - would you be willing to edit this submission?

[2018-01-28 22:52] arfon commented on #539
@corybrunson - would you be willing to review this submission for JOSS?

[2018-01-29 00:51] brainstorm commented on #551
Happy to review this one there's nobody being pre-assigned at the moment? :)

[2018-01-29 02:08] ResidentMario commented on #547
@Kevin-Mattheus-Moerman Quick question: the review instructions cite version 0.3.7, but the package is currently at version 0.3.8. What's the fix?

@zkamvar Can you link me to the R package you cited [here](https://github.com/openjournals/joss-reviews/issues/443#issuecomment-360814979)? I've lost my reference to it and want to add it to the references per [this comment](https://github.com/openjour

[2018-01-29 03:38] yxqd commented on #440
@jochym Thanks again for the review. @jochym @lheagy I addressed some minor fixes in sns-chops/multiphonon#82 and created a couple issues for @jochym 's suggestions to work on later (beyond this review). Please check. Thanks!

[2018-01-29 05:46] lheagy commented on #555
Thanks @arfon, I am happy to take this one

[2018-01-29 08:14] pjotrp commented on #551
Excellent. Thanks @brainstorm.

[2018-01-29 08:15] pjotrp commented on #551
@whedon assign @brainstorm as reviewer

[2018-01-29 08:15] whedon commented on #551
OK, the reviewer is @brainstorm

[2018-01-29 08:16] pjotrp commented on #551
@whedon start review magic-word=bananas

[2018-01-29 08:16] whedon commented on #551
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/556. Feel free to close this issue now!

[2018-01-29 08:16] whedon opened #556 "[REVIEW]: CheckQC: Quick quality control of Illumina sequencing runs"
**Submitting author:** @johandahlberg (<a href="http://orcid.org/0000-0001-6962-1460">Johan Dahlberg</a>)
**Repository:** <a href="https://github.com/Molmed/checkQC" target ="_blank">https://github.com/Molmed/checkQC</a>
**Version:** v1.2.0
**Editor:** @pjotrp
**Reviewer:** @brainstorm
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1166052" target="_blank">10.5281/zenodo.1166052</a>

## St

[2018-01-29 08:16] whedon commented on #556
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @brainstorm it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curre

[2018-01-29 08:16] whedon commented on #556
[code]

[2018-01-29 08:16] #551 closed

[2018-01-29 08:16] whedon commented on #556
[code]

[2018-01-29 08:17] pjotrp commented on #556
Dear @johandahlberg, thanks for your interesting submission. Do you mind going through above check list and make sure the reviewer can check the boxes ahead of his going through it? Thanks.

[2018-01-29 08:50] johandahlberg commented on #556
Hi @pjotrp!

Thank you for taking this under consideration for publication. I see that @brainstorm has been assigned to review this paper. While I believe that Roman is very well qualified to review this submission, I believe that there might be a conflict of interest, since we are currently collaborating on another project.

As for the checkboxes do I understand you correctly that you want me to

[2018-01-29 09:26] iljah commented on #542
All issues have been resolved so this looks good to go.

[2018-01-29 09:38] mtezzele commented on #530
@whedon generate pdf

[2018-01-29 09:38] whedon commented on #530
[code]

[2018-01-29 09:38] whedon commented on #530
[code]

[2018-01-29 09:41] mtezzele commented on #530
@jakevdp I have implemented all the suggestions and regenerated the pdf. What do I have to do now?

[2018-01-29 10:51] rgieseke commented on #516
The demo notebook has been updated. It took me a couple of failed attempts at getting Bokeh to work with ipywidgets but now it's a simple demo (using standard Matplolib) showing what can be done with Pymagicc and Jupyter Notebooks and  [Appmode](https://github.com/oschuett/appmode).

https://mybinder.org/v2/gh/openclimatedata/pymagicc/master?urlpath=apps/notebooks/Demo.ipynb

[2018-01-29 11:24] pjotrp commented on #556
@brainstorm, what is the shared project you are working on? Is it overlapping in any way with this submission? Are you confident you can review independently?

@johandahlberg correct. You can't check them yourself. It is just to prevent some unnecessary work. Just state you are confident they can be checked.

[2018-01-29 11:34] johandahlberg commented on #556
@pjotrp I believe we should be able to tick the boxes, with the exception that all the references do not have DOIs. Since some of the software references are websites, since to the best of my knowledge there are no other references for them. Is that alright?

[2018-01-29 11:56] PabloGGaray commented on #488
Perfect, thanks!

[2018-01-29 13:28] corybrunson commented on #539
@arfon – yes, i'd be glad to! I will need to refresh on functional analysis and familiarize myself with the JOSS process, and i can say later today if i don't feel qualified. Thank you.

[2018-01-29 13:29] pjotrp commented on #556
Should be good. OK, we await @brainstorm

[2018-01-29 14:06] arfon commented on #539
Excellent. Thanks! I'll go ahead and start setting up the review now.

[2018-01-29 14:07] arfon commented on #539
@whedon assign @corybrunson as reviewer

[2018-01-29 14:07] arfon commented on #539
@whedon commands

[2018-01-29 14:07] whedon commented on #539
Here are some things you can ask me to do:

[code]

[2018-01-29 14:07] arfon commented on #539
@whedon assign @corybrunson as reviewer

[2018-01-29 14:09] arfon commented on #539
@whedon assign @arfon as editor

[2018-01-29 14:09] whedon commented on #539
OK, the editor is @arfon

[2018-01-29 14:09] arfon commented on #539
@whedon assign @corybrunson as reviewer

[2018-01-29 14:09] whedon commented on #539
OK, the reviewer is @corybrunson

[2018-01-29 14:09] arfon commented on #539
@whedon start review magic-word=bananas

[2018-01-29 14:09] #539 closed

[2018-01-29 14:09] whedon opened #557 "[REVIEW]: registr: Registration for Exponential Family Functional Data"
**Submitting author:** @julia-wrobel (<a href="http://orcid.org/0000-0001-6783-1421">Julia Wrobel</a>)
**Repository:** <a href="https://github.com/julia-wrobel/registr" target ="_blank">https://github.com/julia-wrobel/registr</a>
**Version:** 0.1
**Editor:** @arfon
**Reviewer:** @corybrunson
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1175028" target="_blank">10.5281/zenodo.1175028</a>

[2018-01-29 14:09] whedon commented on #539
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/557. Feel free to close this issue now!

[2018-01-29 14:09] whedon commented on #557
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @corybrunson it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2018-01-29 14:09] whedon commented on #557
[code]

[2018-01-29 14:10] arfon commented on #539
@corybrunson - please head over to #557 for the main review issue.

[2018-01-29 14:10] whedon commented on #557
[code]

[2018-01-29 14:11] corybrunson commented on #539
On it!

[2018-01-29 15:06] nhejazi commented on #512
@karthik -- I believe we've now completed the review process, but I'm unsure of what the next steps might be in closing this review and generating the approved paper, etc. @wrathematics -- please feel free to correct me if I'm missing something here. Thank you all for your work in this review process.

[2018-01-29 15:21] zkamvar commented on #547
Hi @ResidentMario, The citation for the package (which includes the reference for the missingno function) is here: https://peerj.com/articles/281/, though I think it would be better to [cite the SciPy packages](https://scipy.org/citing.html) you import (I'll open an issue for this).

[2018-01-29 15:29] Kevin-Mattheus-Moerman commented on #547
@whedon generate pdf

[2018-01-29 15:29] whedon commented on #547
[code]

[2018-01-29 15:29] whedon commented on #547
[code]

[2018-01-29 15:41] Kevin-Mattheus-Moerman commented on #547
@ResidentMario @zkamvar @rhiever
[📖 The paper](https://github.com/openjournals/joss-papers/blob/joss.00547/joss.00547/10.21105.joss.00547.pdf) now renders as a PDF. I've added starting commenting and providing recommendations on the paper in [this issue](https://github.com/ResidentMario/missingno/issues/43). Feel free to join there in relation to purely the paper.

[2018-01-29 15:59] jkmacc-LANL commented on #530
@mtezzele I see your changes, and they look good.  Regarding the middle point, my suggestion was to add a slightly longer description to https://mathlab.github.io/PyDMD/, not on the README.  I apologize for the confusion.  Everything else is great👍

[2018-01-29 16:30] lheagy commented on #440
Wonderful, thanks for all of your work @jochym and @yxqd.

I have one last request, @jochym, could you take a look at the checklist at the top of this issues and if all items have been addressed, check them off? Thank you!

@bjmorgan: are there any other comments you have regarding this submission?

[2018-01-29 16:42] kyleniemeyer commented on #542
@arghdos have you had a chance to review this yet?

[2018-01-29 16:42] kyleniemeyer commented on #553
Sure, I can review this one.

[2018-01-29 16:43] lheagy commented on #444
Hi @dean0x7d, @ajgpitch, would you be willing to review this submission on PolaronMobility.jl  for [JOSS](Joss.theoj.org/about)? JOSS is a 'developer friendly' journal. That is, we focus on the software as a scientific contribution. If the submitting authors have followed best practices (have documentation, tests, continuous integration, and a license) then their review should be straight-forward.

[2018-01-29 16:43] kyleniemeyer commented on #553
@whedon assign @kyleniemeyer as editor

[2018-01-29 16:43] whedon commented on #553
OK, the editor is @kyleniemeyer

[2018-01-29 16:44] labarba commented on #553
Suggested you as an editor.

We really don't

[2018-01-29 16:44] labarba commented on #553
Oops. Hit the wrong button.

[2018-01-29 16:45] kyleniemeyer commented on #165
@aragilar thanks!

@arghdos do the changes address your remaining concerns about the docs?

[2018-01-29 16:45] labarba commented on #553
Just wanted to cancel my comment to say that I suggested you as editor, rather than reviewer.

We really need more editors for computational mechanics and HPC.

[2018-01-29 16:46] kyleniemeyer commented on #553
@labarba probably, but for the time being @katyhuff and I can probably handle all of your submission 😀

[2018-01-29 16:51] zkamvar commented on #547
I have opened an issue (https://github.com/ResidentMario/missingno/issues/45) regarding the inclusion of example data internal to the package.

[2018-01-29 16:52] bmcfee commented on #541
@labarba The issues I raised above have all been sufficiently addressed by @boisgera -- I think it's in good shape now.

[2018-01-29 16:56] zkamvar commented on #547
I have opened an issue (https://github.com/ResidentMario/missingno/issues/46) regarding tests on non-visualization functions.

[2018-01-29 17:05] bjmorgan commented on #440
@lheagy No. This all looks good to me. I am happy with the assessment from @jochym.

[2018-01-29 17:10] kyleniemeyer commented on #552
@bryanwweber would you be able to review this submission?

[2018-01-29 17:19] Kevin-Mattheus-Moerman commented on #547
@arfon the author (@ResidentMario) asked

Can you help update the version listed or can the user or I do this ourselves?

[2018-01-29 17:25] labarba commented on #541
Thank you for your review, @bmcfee !!

@arfon — This submission is ready for acceptance.

Yay!

[2018-01-29 17:28] arfon commented on #541
@boisgera - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-01-29 17:34] zkamvar commented on #547
Question for @Kevin-Mattheus-Moerman: When I'm finished with the review, would you like me to give a brief summary of my assessment (e.g.: https://github.com/openjournals/joss-reviews/issues/514#issuecomment-357365641)?

[2018-01-29 17:38] Kevin-Mattheus-Moerman commented on #547
@zkamvar yes that would be good thank you.

[2018-01-29 17:42] mtezzele commented on #530
Done! I'm sorry I misread, my fault.

[2018-01-29 17:57] jedbrown commented on #553
I'm available if needed.

[2018-01-29 18:00] kyleniemeyer commented on #553
@jedbrown thanks!

[2018-01-29 18:01] kyleniemeyer commented on #553
@whedon assign @jedbrown as reviewer

[2018-01-29 18:01] whedon commented on #553
OK, the reviewer is @jedbrown

[2018-01-29 18:02] kyleniemeyer commented on #553
@whedon start review magic-word=bananas

[2018-01-29 18:02] whedon commented on #553
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/558. Feel free to close this issue now!

[2018-01-29 18:02] whedon opened #558 "[REVIEW]: PetIBM: toolbox and applications of the immersed-boundary method on distributed-memory architectures"
**Submitting author:** @labarba (<a href="http://orcid.org/0000-0001-5812-2711">Lorena A. Barba</a>)
**Repository:** <a href="https://github.com/barbagroup/PetIBM" target ="_blank">https://github.com/barbagroup/PetIBM</a>
**Version:** v0.3
**Editor:** @kyleniemeyer
**Reviewer:** @jedbrown
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/dfa523813f6550baf0ce007fb692e7d8/stat

[2018-01-29 18:02] whedon commented on #558
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @jedbrown it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably current

[2018-01-29 18:02] whedon commented on #558
[code]

[2018-01-29 18:03] whedon commented on #558
[code]

[2018-01-29 18:03] kyleniemeyer commented on #553
ok @labarba @jedbrown we'll proceed with the actual review in #558

[2018-01-29 18:03] #553 closed

[2018-01-29 18:07] zkamvar commented on #547
@ResidentMario, this is a fantastic package. It is straightforward enough that I was able to use it for my own data without much effort 😃👍. The documentation is clear and the examples are wonderful for showing the utility of the package. Because of a lack of tests (though this is partially explained in the CONTRIBUTING.md file), and citations to relevant python software, I would recommend this for

[2018-01-29 18:35] arghdos commented on #165
@kyleniemeyer looks good to me

[2018-01-29 18:36] kyleniemeyer commented on #165
@whedon generate pdf

[2018-01-29 18:36] whedon commented on #165
[code]

[2018-01-29 18:36] whedon commented on #165
[code]

[2018-01-29 18:48] arghdos commented on #542
@kyleniemeyer looks good to me

[2018-01-29 19:05] arfon commented on #165
@kyleniemeyer - looks like there are some issues with the affiliations in the [`paper.md`](https://raw.githubusercontent.com/bmcage/odes/master/paper/paper.md).

[2018-01-29 19:24] jochym commented on #440
Unfortunately I am unable to modify the checklist @lheagy

[2018-01-29 19:33] arfon commented on #440
@jochym - can you visit this page: https://github.com/openjournals/joss-reviews/invitations and accept the invite at the top of the page? This should allow you to modify the checklist.

[2018-01-29 20:19] julia-wrobel commented on #539
awesome, thanks Cory!

[2018-01-29 20:35] jordigh commented on #430
Slipped my mind. Will finish this tonight.

[2018-01-29 21:11] karthik commented on #512
@nhejazi Great! Can you please update the thread with a DOI (software archive on Zenodo) and I can proceed with the acceptance?

[2018-01-29 21:38] jochym commented on #440
Done @lheagy

[2018-01-29 23:32] lheagy commented on #440
Thanks so much for all of your effort on this review!!

@arfon: this submission is ready to be published

[2018-01-29 23:39] arfon commented on #440
@yxqd - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-01-29 23:43] moorepants commented on #300
@whedon generate pdf

[2018-01-29 23:44] whedon commented on #300
[code]

[2018-01-29 23:44] whedon commented on #300
[code]

[2018-01-29 23:45] moorepants commented on #300
@whedon generate pdf

[2018-01-29 23:45] whedon commented on #300
[code]

[2018-01-29 23:46] whedon commented on #300
[code]

[2018-01-29 23:49] moorepants commented on #300
@whedon generate pdf

[2018-01-29 23:49] whedon commented on #300
[code]

[2018-01-29 23:49] whedon commented on #300
[code]

[2018-01-29 23:58] moorepants commented on #300
@whedon generate pdf

[2018-01-29 23:58] whedon commented on #300
[code]

[2018-01-29 23:58] whedon commented on #300
[code]

[2018-01-29 23:59] moorepants commented on #300
@whedon generate pdf

[2018-01-29 23:59] whedon commented on #300
[code]

[2018-01-29 23:59] whedon commented on #300
[code]

[2018-01-30 00:00] moorepants commented on #300
@whedon generate pdf

[2018-01-30 00:00] whedon commented on #300
[code]

[2018-01-30 00:00] whedon commented on #300
[code]

[2018-01-30 00:04] moorepants commented on #300
The table fits now. It isn't perfect but it is too difficult to try to fine tune it via markdown and limited control of the LaTeX source. We can go with this.

[2018-01-30 00:44] aragilar commented on #165
@arfon @kyleniemeyer Doing some cross-referencing on github, I think I've got everyone's afflictions now, which should be fixed by https://github.com/bmcage/odes/pull/64, I'm just waiting on confirmation from everyone that their details are correct, I'll ping here when I get confirmation.

[2018-01-30 00:55] brainstorm commented on #556
@pjotrp Arteria/StackStorm (projects I'm collaborating with right now) **could** use CheckQC in some way but they don't by default. Similar analogy: would reviewing a particular tool enter in a conflict of interest if I was using/developing, say, Galaxy core?

At least that's my interpretation, hope I'm not missing the point, this is important to clarify early on.

[2018-01-30 01:09] yxqd commented on #440
Thank you all!  Here is the DOI: [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.1162402.svg)](https://doi.org/10.5281/zenodo.1162402)

[2018-01-30 02:16] arfon commented on #440
@whedon set 10.5281/zenodo.1162402 as archive

[2018-01-30 02:16] whedon commented on #440
OK. <a href="http://dx.doi.org/10.5281/zenodo.1162402" target="_blank">10.5281/zenodo.1162402</a> is the archive.

[2018-01-30 02:22] arfon commented on #440
@bjmorgan - many thanks for your review here and to @lheagy for editing this submission ✨

@yxqd - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00440 ⚡️ 🚀 💥

[2018-01-30 02:22] #440 closed

[2018-01-30 02:22] whedon commented on #440
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00440/status.svg)](https://doi.org/10.21105/joss.00440)

**We need your help!**

Journal of Open Source Software

[2018-01-30 02:28] yxqd commented on #440
Thank you @arfon

[2018-01-30 03:43] jordigh commented on #430
Okay, I worked through the tutorial. I think I can tick off all the checkboxes except for the following:

* I don't see a clear indication of how to seek support or report issues. I assume you expect to use github issues, but I don't see this stated anywhere.
* I don't see who the intended audience is. There is more statistics here than I am personally comfortable with. I was running a bit blind h

[2018-01-30 06:54] johandahlberg commented on #556
In the interest of full disclosure I think that it should be noted that me and @brainstorm are co-authoring a paper about the Arteria project. Unfortunately I interpret this as grounds for a conflict of interest.

I would like to point out that I still believe that @brainstorm is very well qualified to review this submission. However, to ensure that there can be no ethical ambiguities I think that

[2018-01-30 07:32] nhejazi commented on #512
Excellent -- we've archived v0.8.0 of the `origami` package and generated a DOI via Zenodo: DOI: 10.5281/zenodo.1155901. Please let me know if there's anything more we can do on our end.

[2018-01-30 08:24] pjotrp commented on #556
Lets ask the EIC. Dear @arfon, I think with Roman @brainstorm that he is not having a COI because he happens to be on a different paper with the author. Roman came recommended by another co-worker and sees no conflict of interest himself. I have the intention of giving an all clear. Are you OK with this?

[2018-01-30 11:18] arfon commented on #512
@whedon set 10.5281/zenodo.1155901 as archive

[2018-01-30 11:18] whedon commented on #512
OK. <a href="http://dx.doi.org/10.5281/zenodo.1155901" target="_blank">10.5281/zenodo.1155901</a> is the archive.

[2018-01-30 11:23] ygrange commented on #538
Installation: seems to fail when using python2.7 because of astropy dependency. See ticket:
https://github.com/mattpitkin/psrqpy/issues/12
Issue seems small to fix. Will continue with the quick fix I came up with.

[2018-01-30 11:23] arfon commented on #512
@wrathematics many thanks for your review here and to @karthik for editing this submission.

@nhejazi @jeremyrcoyle - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00512 ⚡️ 🚀 💥

[2018-01-30 11:23] #512 closed

[2018-01-30 11:23] whedon commented on #512
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00512/status.svg)](https://doi.org/10.21105/joss.00512)

**We need your help!**

Journal of Open Source Software

[2018-01-30 11:35] arfon commented on #300
OK thanks @moorepants. @Kevin-Mattheus-Moerman - is this submission good to accept now? The checklist at the top of the review isn't filled but it sounds like we might be done based on other comments in the thread.

[2018-01-30 11:54] whedon opened #559 "[PRE REVIEW]: ChebTools: C++11 (and Python) tools for working with Chebyshev expansions"
**Submitting author:** @ianhbell (<a href="http://orcid.org/0000-0003-1091-9080">Ian Bell</a>)
**Repository:** <a href="https://github.com/usnistgov/ChebTools" target ="_blank">https://github.com/usnistgov/ChebTools</a>
**Version:** v1.0.0
**Editor:** @labarba
**Reviewer:** @drvinceknight

**Author instructions**

Thanks for submitting your paper to JOSS @ianhbell. The JOSS editor (shown at the to

[2018-01-30 11:54] whedon commented on #559
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-01-30 11:54] whedon commented on #559
[code]

[2018-01-30 11:54] whedon commented on #559
[code]

[2018-01-30 11:57] arfon commented on #559
@ianhbell - thanks for your submission to JOSS. From a quick inspection of the source code on GitHub it looks like this software is released under some kind of public domain notice.

Unfortunately we don't accept submissions that don't have an [OSI-approved open source license](https://opensource.org/licenses).

I realize this is potentially an issue for government employees and we've discussed th

[2018-01-30 11:58] whedon opened #560 "[PRE REVIEW]: PyMap3D: 3-D coordinate conversions for terrestrial and geospace environments"
**Submitting author:** @scivision (<a href="http://orcid.org/0000-0002-1637-6526">Michael Hirsch</a>)
**Repository:** <a href="https://github.com/scivision/pymap3d" target ="_blank">https://github.com/scivision/pymap3d</a>
**Version:** v1.5.0
**Editor:** @lheagy
**Reviewer:** @hugoledoux

**Author instructions**

Thanks for submitting your paper to JOSS @scivision. The JOSS editor (shown at the to

[2018-01-30 11:58] whedon commented on #560
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @lheagy it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-01-30 11:58] whedon commented on #560
[code]

[2018-01-30 11:58] whedon commented on #560
[code]

[2018-01-30 11:58] arfon commented on #560
👋 @lheagy - the submitting author suggested you as the handling editor.

[2018-01-30 11:59] whedon opened #561 "[PRE REVIEW]: interpacf: compute autocorrelation functions in light curves with missing data"
**Submitting author:** @bmorris3 (<a href="http://orcid.org/0000-0003-2528-3409">Brett Morris</a>)
**Repository:** <a href="https://github.com/bmorris3/interp-acf" target ="_blank">https://github.com/bmorris3/interp-acf</a>
**Version:** v0.1
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @bmorris3. The JOSS editor (shown at the top of t

[2018-01-30 11:59] whedon commented on #561
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-01-30 11:59] whedon commented on #561
[code]

[2018-01-30 11:59] whedon commented on #561
[code]

[2018-01-30 15:38] stavness commented on #300
Looks great!. I went through the checklist and checked all the boxes.

On Tue, Jan 30, 2018 at 5:35 AM, Arfon Smith <notifications@github.com>
wrote:

[2018-01-30 15:58] Kevin-Mattheus-Moerman commented on #300
Awesome! Thanks for the review @stavness 🚀  🎉

[2018-01-30 16:01] Kevin-Mattheus-Moerman commented on #300
@moorepants can you provide a DOI of the reviewed software (e.g. through Zenodo)? Then @arfon can proceed to formally accept this submission.

[2018-01-30 16:09] bmorris3 commented on #561
@whedon commands

[2018-01-30 16:09] whedon commented on #561
Here are some things you can ask me to do:

[code]

[2018-01-30 16:09] bmorris3 commented on #561
@whedon generate pdf

[2018-01-30 16:09] whedon commented on #561
[code]

[2018-01-30 16:09] ianhbell commented on #559
I just spoke with legal at NIST, and it seems that we can do a dual-license: public domain (whatever that *actually* means) in the USA, and something else (MIT?) elsewhere.  At least that was the most recent ruling I got.  I'll be in touch just as soon as I have some new license verbiage.

[2018-01-30 16:09] whedon commented on #561
[code]

[2018-01-30 16:14] arfon commented on #559
:+1: fantastic. Dual-licensing is fine for us.

[2018-01-30 16:24] boisgera commented on #541
@arfon Here we go: <https://doi.org/10.5281/zenodo.1158626>.

@labarba, @bmcfee, @arfon, everyone involved, thank you for your time and effort in this review.

[2018-01-30 17:11] jakevdp commented on #530
@jkmacc-LANL, has @mtezzele addressed all your comments?

[2018-01-30 18:07] moorepants commented on #300
I will package a new release of the software, push to PyPi, conda, and then Zenodo for archival purposes. Note that the version number will go up.

Do we not need to get @jslee02 @cybanical and @demotu's final approval? I addressed comments from all of them in the new version.

[2018-01-30 18:20] ianhbell commented on #559
Update: License updated to MIT-ish.

As this is my first (of hopefully many) submissions to JOSS, I didn't fully understand the two-sentence snippet in the submission would be visible to the public on the paper submission record.  Any chance you could remove the P.S. that I added to my submission?  I don't seem to be able to.

[2018-01-30 18:24] ianhbell commented on #559
Some recommended reviewers: @drvinceknight @jordigh @JaroslavHron

[2018-01-30 18:31] drvinceknight commented on #559
I would be happy to review. To the editor: my knowledge of C++ is not great but I'm familiar with Python and the field.

[2018-01-30 19:04] bovee commented on #505
@arfon Thanks for the suggestions; we've expanded the `paper.md` to address those concerns.

@biorelated Please let me know if there are any remaining concerns or if there's anything else to do. Thanks!

More detailed notes:

The opening paragraph has been expanded to describe what MinHashing is used for and what Finch adds to traditional MinHashing schemes.

The second paragraph contains an expan

[2018-01-30 19:39] moorepants commented on #300
I've pushed version 1.0.0 to Zenodo:

DOI: 10.5281/zenodo.1162870

https://zenodo.org/record/1162870

[2018-01-30 20:19] nhejazi commented on #512
Thank you @wrathematics for the helpful and detailed review, and thank you @karthik for editing the submission for our package. Thanks @arfon for coordinating this process.

[2018-01-30 23:28] fakenmc commented on #430
Thanks, I'll address these issues shortly.

[2018-01-31 01:06] katyhuff commented on #493
@tupui Great. I can't see your PR,
![image](https://user-images.githubusercontent.com/393899/35599795-e2105ae6-066d-11e8-835e-91874054df46.png)

In any case, this looks good to me! I believe it can be accepted! At this point could you make an updated archive of the reviewed version of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move

[2018-01-31 02:08] JoshKarpel commented on #542
I've merged the responses to the review issues (they were very helpful, thanks @iljah and @arghdos!), and released v1.0.2.

@kyleniemeyer I got a Zenodo: DOI https://doi.org/10.5281/zenodo.1162964

[2018-01-31 02:31] kyleniemeyer commented on #542
@whedon generate pdf

[2018-01-31 02:31] whedon commented on #542
[code]

[2018-01-31 02:31] whedon commented on #542
[code]

[2018-01-31 02:39] kyleniemeyer commented on #542
Hi @JoshKarpel—looks good (including the paper)!

[2018-01-31 02:40] kyleniemeyer commented on #542
@whedon set 10.5281/zenodo.1162964 as archive

[2018-01-31 02:40] whedon commented on #542
OK. <a href="http://dx.doi.org/10.5281/zenodo.1162964" target="_blank">10.5281/zenodo.1162964</a> is the archive.

[2018-01-31 02:40] kyleniemeyer commented on #542
Hey @arfon this is now accepted!

[2018-01-31 02:41] arfon commented on #541
@whedon set 10.5281/zenodo.1158626 as archive

[2018-01-31 02:41] whedon commented on #541
OK. <a href="http://dx.doi.org/10.5281/zenodo.1158626" target="_blank">10.5281/zenodo.1158626</a> is the archive.

[2018-01-31 02:43] arfon commented on #541
Hi @boisgera - could you please turn your bibliography into a bibtex file please? Our editorial tools aren't able to handle a JSON format.

[2018-01-31 02:48] arfon commented on #542
@iljah @arghdos - many thanks for your reviews here and to @kyleniemeyer for editing this submission ✨

@JoshKarpel - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00542 ⚡️ 🚀 :boom:

[2018-01-31 02:48] #542 closed

[2018-01-31 02:48] whedon commented on #542
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00542/status.svg)](https://doi.org/10.21105/joss.00542)

**We need your help!**

Journal of Open Source Software

[2018-01-31 02:49] arfon commented on #300
@whedon set 10.5281/zenodo.1162870 as archive

[2018-01-31 02:49] whedon commented on #300
OK. <a href="http://dx.doi.org/10.5281/zenodo.1162870" target="_blank">10.5281/zenodo.1162870</a> is the archive.

[2018-01-31 03:05] arfon commented on #300
@stavness @demotu - many thanks for your reviews here and to @Kevin-Mattheus-Moerman for editing this submission ✨

@moorepants - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00300 ⚡️ 🚀 💥

[2018-01-31 03:05] #300 closed

[2018-01-31 03:05] whedon commented on #300
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00300/status.svg)](https://doi.org/10.21105/joss.00300)

**We need your help!**

Journal of Open Source Software

[2018-01-31 03:13] arfon commented on #556
👍 I think this is OK. Thanks for disclosing this @johandahlberg (and for checking @pjotrp).

[2018-01-31 03:44] rhiever commented on #547
Thank you for the great package, @ResidentMario. I was able to run and verify most of the examples from the README and can clearly see the utility of this package for my own work. Based on my evaluation of the package, I recommend several **minor revisions** as listed below.

### Good points

* easy installation via pip
* clean, useful plots right out of the box
* good documentation and examples
*

[2018-01-31 04:40] moorepants commented on #300
Thanks everyone. I appreciate the time and effort spent on reviewing this.

[2018-01-31 08:21] costashatz commented on #500
@jslee02  Thank you for your fast answers (I will continue the discussion in the issue regarding the collision/contact performance). I am very much satisfied by the library and the submission! Best of luck!

@Kevin-Mattheus-Moerman Let me know if you need me to do anything else..

[2018-01-31 09:13] boisgera commented on #541
Hi @arfon; it's done, let me know if this works for you.

[2018-01-31 09:56] ygrange commented on #538
The paper is short and the tool is not very complex. I think this is typically one of those relatively small tools that can turn out to be very useful for people in the community. I have a few comments:

* I couldn't chech the "community guidelines" box yet. Could you read what it states and add such a statement? I guess a single sentence in the README claiming that people wanting to contribute ca

[2018-01-31 10:27] pjotrp commented on #556
OK, @brainstorm, all yours :)

[2018-01-31 11:23] arfon commented on #541
@bmcfee - many thanks for your review here and to @labarba for editing this submission ✨

@boisgera - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00541 ⚡️ 🚀 💥

[2018-01-31 11:23] #541 closed

[2018-01-31 11:23] whedon commented on #541
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00541/status.svg)](https://doi.org/10.21105/joss.00541)

**We need your help!**

Journal of Open Source Software

[2018-01-31 14:47] tupui commented on #493
Hi @katyhuff, sorry for the PR, I cannot find you on gitlab to add you to the project so you can view it. If you give me your pseudo I can if you want.

Otherwise, I have done the archive on Zenodo: https://zenodo.org/record/1163545
DOI is: 10.5281/zenodo.1163545

[2018-01-31 16:14] lheagy commented on #444
:wave: Hi, @yxqd, would you be willing to review this submission?

[2018-01-31 16:18] lheagy commented on #560
Hi, @arfon, this looks identical to #555, did something go awry here?

[2018-01-31 16:31] scivision commented on #560
Hi Lindsey, I withdrew and resubmitted as I submitted an old release--I resubmitted with the current pymap3d release.

[2018-01-31 16:37] lheagy commented on #560
Ok, Thanks @scivision, so #555 should be closed? and we can look for reviewers here?

[2018-01-31 16:37] scivision commented on #560
Yes exactly

[2018-01-31 17:12] fakenmc commented on #430
I've worked through the raised points as follows:

* Added support and issue reporting information to the Contributing guidelines.
* Clarified who's the intended audience in README.md, User Guide and the submitted paper.
* Added a template LaTeX document for quick testing table generation; also added a reference to this template in the tutorial.

Concerning the small differences between MATLAB and

[2018-01-31 18:32] biorelated commented on #505
@bovee: Thank you for the submission and for addressing all the issues and concerns
@arfon:  Could we kindly consider this work for publication?

[2018-01-31 18:56] lheagy commented on #555
withdrawn and re-submitted in #560

[2018-01-31 18:56] #555 closed

[2018-01-31 19:02] lheagy commented on #555
:wave: Hi @jsta, @nuest, @fgnievinski, @hugoledoux, @sgrieve, @fil, would any of you be willing to review this submission for JOSS?

[2018-01-31 19:02] lheagy commented on #560
:wave: Hi @jsta, @nuest, @fgnievinski, @hugoledoux, @sgrieve, @fil, would any of you be willing to review this submission for JOSS?

[2018-01-31 19:22] dfm commented on #545
Hi all. I've had a crazy week so I probably won't get to this until next week. Please feel free to ping me if you don't hear anything from me by the end of next week. Sorry for the delay!

[2018-01-31 20:55] katyhuff commented on #493
@tupui It's interesting that the repository is open but that the PRs aren't. Have you thought about making them open? That would be much more in line with the open source mentality here at JOSS -- particularly, there is a requirement that there be clear guidelines about how to contribute.

[2018-01-31 21:29] scollis commented on #493
Sorry I did not check for this.. But I did go to the contributors page on gitlab and could see the number of commits from each contributor. I used this to confirm the Authorship was accurate

[2018-01-31 21:56] yxqd commented on #444
@lheagy Yes I can help

[2018-01-31 22:10] tupui commented on #493
@katyhuff Indeed, this was just a settings issue from my part. Sorry for this I thing I fixed this now. I am new to gitlab.

[2018-01-31 22:13] lheagy commented on #444
Thanks @yxqd, as this is outside of my domain of expertise, I would like to find one more reviewer. I am still waiting to hear back from @tacaswell, @betatim and @dean0x7d to see if they are willing (I sent emails as well)

[2018-01-31 22:35] scollis commented on #493
JOSS: Making software better! Love it

[2018-01-31 23:37] katyhuff commented on #493
@whedon set 10.5281/zenodo.1163545 as archive

[2018-01-31 23:38] whedon commented on #493
OK. <a href="http://dx.doi.org/10.5281/zenodo.1163545" target="_blank">10.5281/zenodo.1163545</a> is the archive.

[2018-01-31 23:38] katyhuff commented on #493
@whedon generate pdf

[2018-01-31 23:38] whedon commented on #493
[code]

[2018-01-31 23:41] katyhuff commented on #493
@arfon I think we're ready to accept this!

[2018-01-31 23:46] mattpitkin commented on #538
@ygrange - thanks very much for the useful feedback. I'll try and address your points as soon as possible.

[2018-02-01 00:01] arfon commented on #493
@scollis @mikeckennedy - many thanks for your reviews here and to @katyhuff for editing this submission ✨

@tupui - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00493 ⚡️ 🚀 💥

[2018-02-01 00:01] #493 closed

[2018-02-01 00:01] whedon commented on #493
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00493/status.svg)](https://doi.org/10.21105/joss.00493)

**We need your help!**

Journal of Open Source Software

[2018-02-01 00:02] arfon commented on #505
@whedon generate pdf

[2018-02-01 00:02] whedon commented on #505
[code]

[2018-02-01 00:03] whedon commented on #505
[code]

[2018-02-01 00:06] arfon commented on #505
@bovee - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-02-01 00:21] scollis commented on #516
Awesome.. Friday.. I promise :)

[2018-02-01 00:33] brainstorm commented on #556
[code]

[2018-02-01 00:41] brainstorm commented on #556
Thanks @pjotrp, going ahead ;)

@johandahlberg, first bump in the road:

[code]

[2018-02-01 00:51] brainstorm commented on #556
Also, regarding the statement of need and towards publishing your paper, could you comment/compare with [basecallQC](https://bioconductor.org/packages/release/bioc/vignettes/basecallQC/inst/doc/basecallQC.html)?

[2018-02-01 01:13] whedon opened #562 "[PRE REVIEW]: EFAshiny: An User-Friendly Shiny Application for Exploratory Factor Analysis"
**Submitting author:** @PsyChiLin (<a href="http://orcid.org/0000-0002-4381-7163">Chi-Lin Yu</a>)
**Repository:** <a href="https://github.com/PsyChiLin/EFAshiny" target ="_blank">https://github.com/PsyChiLin/EFAshiny</a>
**Version:** 1.0.0
**Editor:** @cMadan
**Reviewer:** @DominiqueMakowski

**Author instructions**

Thanks for submitting your paper to JOSS @PsyChiLin. The JOSS editor (shown at th

[2018-02-01 01:14] whedon commented on #562
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @cMadan it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-02-01 01:14] whedon commented on #562
[code]

[2018-02-01 01:14] whedon commented on #562
[code]

[2018-02-01 01:14] arfon commented on #562
👋 @cMadan - the submitting author suggested you as the handling editor

[2018-02-01 01:14] arfon commented on #562
@whedon generate pdf

[2018-02-01 01:14] whedon commented on #562
[code]

[2018-02-01 01:14] whedon commented on #562
[code]

[2018-02-01 01:15] whedon opened #563 "[PRE REVIEW]: checkr: An R package for Assertive Programming"
**Submitting author:** @joethorley (<a href="http://orcid.org/0000-0002-7683-4592">Joseph Thorley</a>)
**Repository:** <a href="https://github.com/poissonconsulting/checkr" target ="_blank">https://github.com/poissonconsulting/checkr</a>
**Version:** v0.0.2
**Editor:** @arfon
**Reviewer:** @boshek

**Author instructions**

Thanks for submitting your paper to JOSS @joethorley. The JOSS editor (show

[2018-02-01 01:15] whedon commented on #563
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-02-01 01:15] whedon commented on #563
[code]

[2018-02-01 01:15] whedon commented on #563
[code]

[2018-02-01 01:15] whedon opened #564 "[PRE REVIEW]: Gramm: grammar of graphics plotting in Matlab"
**Submitting author:** @piermorel (<a href="http://orcid.org/0000-0003-0984-7016">Pierre Morel</a>)
**Repository:** <a href="https://github.com/piermorel/gramm" target ="_blank">https://github.com/piermorel/gramm</a>
**Version:** v2.23
**Editor:** @cMadan
**Reviewer:** @trallard

**Author instructions**

Thanks for submitting your paper to JOSS @piermorel. The JOSS editor (shown at the top of this

[2018-02-01 01:15] whedon commented on #564
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @cMadan it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-02-01 01:15] whedon commented on #564
[code]

[2018-02-01 01:15] arfon commented on #564
👋 @cMadan - the submitting author suggested you as the handling editor.

[2018-02-01 01:15] whedon commented on #564
[code]

[2018-02-01 02:06] joethorley commented on #563
@whedon commands

[2018-02-01 02:06] whedon commented on #563
Here are some things you can ask me to do:

[code]

[2018-02-01 02:07] joethorley commented on #563
@whedon generate pdf

[2018-02-01 02:07] whedon commented on #563
[code]

[2018-02-01 02:07] whedon commented on #563
[code]

[2018-02-01 02:08] arfon commented on #563
@joethorley :wave: thanks for your submission to JOSS. From a quick inspection of this submission it's not entirely obvious that it meets our [submission criteria](http://joss.theoj.org/about#submission_requirements). In particular, this item:

Could you confirm here that there _is_ a research application for this software (and explain what that application is)? The section [_'what should my paper

[2018-02-01 06:35] biorelated commented on #536
@whedon commands

[2018-02-01 06:35] whedon commented on #536
Here are some things you can ask me to do:

[code]

[2018-02-01 06:36] biorelated commented on #536
@whedon assign @biorelated as editor

[2018-02-01 06:36] whedon commented on #536
OK, the editor is @biorelated

[2018-02-01 06:40] tupui commented on #493
This is great! Thank you everyone for this work. I really enjoyed the publication process. This is so much transparent, fast and simple than traditional journal. Looking forward to do some review if needed :)

[2018-02-01 09:09] sgrieve commented on #560
@lheagy I'm pretty busy over the coming weeks so won't have a chance to review this. Hopefully someone else on the list can, if not come back to me and I'll fit it in by the end of the month.

[2018-02-01 09:41] Fil commented on #560
@lheagy  though it looks interesting, it's really too far from my field. Sorry!

[2018-02-01 09:53] hugoledoux commented on #560
@lheagy I can do a review, but I need ~3-4 weeks, next 2 weeks is very difficult. If okay with you I'm happy to do it.

[2018-02-01 11:52] johandahlberg commented on #556
I have addressed the problems you were having with not finding the `Stats.json` file. The path to the `Stats` directory is configurable now, and the default should match up with the default settings for `bcl2fastq`. So far this has only been merged into master. Before moving on to creating a new release I want to know if that means that I should also update the release version in `codemeta.json`?

[2018-02-01 12:07] cMadan commented on #562
@PsyChiLin, this looks like a solid submission and everything seems to be in order to start the review. Do you have any suggestions for potential reviewers?

[2018-02-01 12:08] cMadan commented on #564
@piermorel, I'm glad to see gramm submitted to JOSS! Do you have any suggestions for potential reviewers?

[2018-02-01 13:50] jsta commented on #560
Like Fil, I feel this is outside my area of expertise. Best of luck!

[2018-02-01 14:23] nterhoeven commented on #527
Hi @jsgalan, I just wanted to ask, if you have any news regarding uploading your review comments. I would like to read them :-)

[2018-02-01 15:04] PsyChiLin commented on #562
@whedon generate pdf

[2018-02-01 15:04] whedon commented on #562
[code]

[2018-02-01 15:04] whedon commented on #562
[code]

[2018-02-01 15:36] PsyChiLin commented on #562
@cMadan
After searching papers in JOSS, I find a few potential reviewers who have submitted or have reviewed psychology-related projects recently.
@DominiqueMakowski @andrewheusser @RichardLitt
Also look forward to your suggestions !

[2018-02-01 16:54] DominiqueMakowski commented on #562
@cMadan @PsyChiLin I will look into that ☺️

[2018-02-01 16:59] Aneoshun commented on #545
Hi @dfm,
Sure, of course.
Good luck with your crazy week, and thank you in advance for your time.  We really appreciate it.
Best regards,

[2018-02-01 17:00] piermorel commented on #564
Thank you @cMadan  it took a while, but now gramm feels complete enough!

As for reviewers, I don't have strong suggestions. I was thinking about [Brian Lau](https://github.com/brian-lau), who is a neuroscientist and develops with Matlab (Matlab interface for Stan) and R. From the provided list, [Tania Allard](https://github.com/trallard) appears to have an interest in both Matlab and dataviz.

[2018-02-01 18:11] cMadan commented on #562
@DominiqueMakowski, just to check--are you volunteering to be a reviewer here?

[2018-02-01 18:13] cMadan commented on #564
@brian-lau and @trallard, would either of you be interested in reviewing this submission?

@nickwan, I thought you may also be interested, and I think you've used gramm before too?

[2018-02-01 18:16] nickwan commented on #564
I don't think I can ethically be a reviewer -- pretty sure Pierre is using
one of my papers as an example in it

On Thu, Feb 1, 2018 at 1:13 PM, Christopher Madan <notifications@github.com>
wrote:

--
*Nick Wan*
More about me here at my Medium page
<https://medium.com/@nickwan/hello-from-nick-wan-f0c96556c3b7#.hc0mk88bd>

[2018-02-01 18:18] cMadan commented on #564
@nickwan, I think it's fine for you to be a reviewer as long as you didn't help develop the package. The review process here is more about the package being functional, sufficiently documented, and including some specific aspects (e.g., license, contributor guidelines, etc.)

[2018-02-01 18:19] trallard commented on #564
This does sound quite interesting. I would for sure be interested in reviewing this or co-reviewing if anyone else is interested

[2018-02-01 18:23] cMadan commented on #564
Thanks, @trallard! I'll wait a day or two to see if anyone else wants to co-review it with you, and then will start the review process either way :)

[2018-02-01 18:29] trallard commented on #564
That sounds like a plan @cMadan. I will then keep an eye here :)

[2018-02-01 18:33] RichardLitt commented on #562
I won't have the time for this at the moment; apologies!

[2018-02-01 19:09] bovee commented on #505
@arfon - I just submitted the repo to Zenodo and the record's at https://zenodo.org/record/1164259 and the DOI should be `10.5281/zenodo.1164259` (once it's propagated). Thanks!

[2018-02-01 19:13] arfon commented on #505
@whedon set 10.5281/zenodo.1164259 as archive

[2018-02-01 19:13] whedon commented on #505
OK. <a href="http://dx.doi.org/10.5281/zenodo.1164259" target="_blank">10.5281/zenodo.1164259</a> is the archive.

[2018-02-01 19:31] arfon commented on #505
@HadrienG - many thanks for your review here and to @biorelated for editing this submission ✨

@bovee - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00505 ⚡️ 🚀 💥

[2018-02-01 19:31] #505 closed

[2018-02-01 19:31] whedon commented on #505
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00505/status.svg)](https://doi.org/10.21105/joss.00505)

**We need your help!**

Journal of Open Source Software

[2018-02-01 20:27] bryanwweber commented on #552
@kyleniemeyer Yes, I can review this

[2018-02-01 20:36] kyleniemeyer commented on #552
@bryanwweber thanks!

[2018-02-01 20:36] kyleniemeyer commented on #552
@whedon assign @bryanwweber as reviewer

[2018-02-01 20:36] whedon commented on #552
OK, the reviewer is @bryanwweber

[2018-02-01 20:36] kyleniemeyer commented on #552
@whedon start review magic-word=bananas

[2018-02-01 20:36] whedon commented on #552
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/565. Feel free to close this issue now!

[2018-02-01 20:36] whedon opened #565 "[REVIEW]: ChemPy: A package useful for chemistry written in Python"
**Submitting author:** @bjodah (<a href="http://orcid.org/0000-0003-0596-0222">Björn Dahlgren</a>)
**Repository:** <a href="https://github.com/bjodah/chempy" target ="_blank">github.com/bjodah/chempy</a>
**Version:** v0.6.3
**Editor:** @kyleniemeyer
**Reviewer:** @bryanwweber
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1212469" target="_blank">10.5281/zenodo.1212469</a>

## Status

[![s

[2018-02-01 20:36] whedon commented on #565
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @bryanwweber it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2018-02-01 20:36] whedon commented on #565
[code]

[2018-02-01 20:36] whedon commented on #565
[code]

[2018-02-01 20:37] kyleniemeyer commented on #552
ok @bjodah @bryanwweber we'll hold the actual review in #565

[2018-02-01 20:37] #552 closed

[2018-02-01 20:38] kyleniemeyer commented on #565
here is the initial version of the compiled paper: https://github.com/openjournals/joss-papers/blob/joss.00552/joss.00552/10.21105.joss.00552.pdf

[2018-02-01 20:46] brian-lau commented on #564
Definitely interested.

[2018-02-01 20:54] corybrunson commented on #557
@whedon commands

[2018-02-01 20:54] whedon commented on #557
Here are some things you can ask me to do:

[code]

[2018-02-01 21:25] DominiqueMakowski commented on #562
@cMadan Yes

[2018-02-01 21:27] jameshiebert commented on #360
@karthik Done. DOI = 10.5281/zenodo.1164286 Is there anything else that you need?

[2018-02-01 21:44] lheagy commented on #560
Thanks for getting back so quickly, @hugoledoux, there are a couple other people I can ask, but if you would be willing to do the review in the next 3-4 weeks, that would be great. I will keep you posted

[2018-02-01 21:45] lheagy commented on #560
:wave: Hi @leouieda would you be willing and interested to review this submission for JOSS?

[2018-02-01 21:46] lheagy commented on #444
ok, well lets get started on the review with @yxqd as lead and we can see if someone else is willing to help out once things are in motion

[2018-02-01 21:46] lheagy commented on #444
@whedon commands

[2018-02-01 21:46] whedon commented on #444
Here are some things you can ask me to do:

[code]

[2018-02-01 21:47] lheagy commented on #444
@whedon assign @yxqd as reviewer

[2018-02-01 21:47] whedon commented on #444
OK, the reviewer is @yxqd

[2018-02-01 21:47] lheagy commented on #444
@whedon start review

[2018-02-01 21:47] whedon commented on #444
You didn't say the magic word! Try this:

[code]

[2018-02-01 21:48] lheagy commented on #444
@whedon start review magic-word=bananas

[2018-02-01 21:48] whedon commented on #444
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/566. Feel free to close this issue now!

[2018-02-01 21:48] whedon opened #566 "[REVIEW]: PolaronMobility.jl: Implementation of the Feynman variational polaron model"
**Submitting author:** @jarvist (<a href="http://orcid.org/0000-0003-1938-4430">Jarvist Moore Frost</a>)
**Repository:** <a href="https://github.com/jarvist/PolaronMobility.jl" target ="_blank">https://github.com/jarvist/PolaronMobility.jl</a>
**Version:** ArXiv-v4
**Editor:** @lheagy
**Reviewer:** @yxqd
**Archive:** <a href="https://doi.org/10.5281/zenodo.1336754" target="_blank">10.5281/zenodo.1

[2018-02-01 21:48] whedon commented on #566
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @yxqd it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently w

[2018-02-01 21:48] #444 closed

[2018-02-01 21:48] whedon commented on #566
[code]

[2018-02-01 21:48] whedon commented on #566
[code]

[2018-02-01 22:04] karthik commented on #360
@whedon set 10.5281/zenodo.1164286 as archive

[2018-02-01 22:04] whedon commented on #360
OK. <a href="http://dx.doi.org/10.5281/zenodo.1164286" target="_blank">10.5281/zenodo.1164286</a> is the archive.

[2018-02-01 22:04] karthik commented on #360
@whedon generate pdf

[2018-02-01 22:04] whedon commented on #360
[code]

[2018-02-01 22:05] whedon commented on #360
[code]

[2018-02-01 22:08] karthik commented on #360
@jameshiebert There is a problem with your yaml on the paper. There needs to be three `-` marks at the top and bottom. Bottom one (line 26) only has 2. Add the third and push and I should be able to generate a pdf.

[2018-02-01 22:12] jameshiebert commented on #360
Ah shoot; sorry about that. Pushed a patch to master/release branches... do I need to generate a new archive?

[2018-02-01 22:16] karthik commented on #360
Yes please update the archive and I'll fix it here, then recompile the PDF.

[2018-02-01 22:34] jameshiebert commented on #360
Done. 10.5281/zenodo.1164299

[2018-02-01 22:38] karthik commented on #360
@whedon set 10.5281/zenodo.1164299 as archive

[2018-02-01 22:38] whedon commented on #360
OK. <a href="http://dx.doi.org/10.5281/zenodo.1164299" target="_blank">10.5281/zenodo.1164299</a> is the archive.

[2018-02-01 22:38] karthik commented on #360
@whedon generate pdf

[2018-02-01 22:38] whedon commented on #360
[code]

[2018-02-01 22:39] whedon commented on #360
[code]

[2018-02-01 22:41] karthik commented on #360
Sorry, one more issue. Can you move your references to `paper.bib` and remove them from the paper?

[2018-02-01 22:50] jameshiebert commented on #360
Sure, no problem.

[2018-02-01 23:28] jameshiebert commented on #360
@whedon set 10.5281/zenodo.1164304 as archive

[2018-02-01 23:28] whedon commented on #360
I'm sorry @jameshiebert, I'm afraid I can't do that. That's something only editors are allowed to do.

[2018-02-01 23:29] jameshiebert commented on #360
OK then :)

[2018-02-02 00:05] karthik commented on #360
@whedon generate pdf

[2018-02-02 00:05] whedon commented on #360
[code]

[2018-02-02 00:06] whedon commented on #360
[code]

[2018-02-02 00:06] karthik commented on #360
@whedon set 10.5281/zenodo.1164304 as archive

[2018-02-02 00:06] whedon commented on #360
OK. <a href="http://dx.doi.org/10.5281/zenodo.1164304" target="_blank">10.5281/zenodo.1164304</a> is the archive.

[2018-02-02 00:07] karthik commented on #360
@jameshiebert all set!
@arfon 🚀

[2018-02-02 00:07] jameshiebert commented on #360
W00t!

[2018-02-02 00:07] brainstorm commented on #556
Thanks for the fix Johan!

I think that the editor will link/refer to the latest version and assign a DOI, so yes, in the interest of having a working package "out of the box" as reflected in the README, you should update accordingly.

Regarding basecallQC, I don't think a whole section is worth it, but a small mention as you just did here should suffice.

I'm done here, nice tool overall, when yo

[2018-02-02 00:25] corybrunson commented on #539
Welcome, Julia! Thanks for the opportunity.

[2018-02-02 00:37] PsyChiLin commented on #562
@cMadan Thanks for your kind assistance.
@DominiqueMakowski  Hope you have a wonderful review process. Look forward to your suggestions 😊

[2018-02-02 05:27] karthik commented on #360
@arfon Could you check to make sure the bib parses correctly in the PDF?

[2018-02-02 13:00] corybrunson commented on #557
A small error in the vignette ([issue raised at the submitted repository](https://github.com/julia-wrobel/registr/issues/2)) needs to be resolved in order for the package to install (with `build_vignettes = TRUE`).

[2018-02-02 14:05] corybrunson commented on #557
@arfon may i ask questions of the submitting author here, or should all feedback to them be at the submitted repository? And at what point—and how—should i grade the software into a category (e.g. "Minor Revisions")?

[2018-02-02 15:57] lheagy commented on #566
@yxqd, thanks for being willing to do the review! Please let me know if you have any questions. I will also jump in and take a look

[2018-02-02 20:01] scollis commented on #516
Do you expect this to work under py35?
with the demo notebook I get
[code]

[2018-02-02 20:07] scollis commented on #516
Okay! Success!
On my Ubuntu machine I was able to install via Pip and run the Example Script.

**RECOMMENDATION:** Suggest you name the notebooks better and guide the new user to run "Example" first. This notebook is much more informative on how PyMagicc is run.

[2018-02-02 20:09] scollis commented on #516
@arfon Is Creative Commons an OSI Approved Licence?

[2018-02-02 20:16] scollis commented on #516
@sgrieve Please update the repo's README.md with some verbage with the paper that describes the need.. eg something along the lines of "Aiming at broadening
the user base of MAGICC 1 , Pymagicc provides a wrapper around the MAGICC binary 2 ,
which runs on Windows and has been published under a Creative Commons Attribution-
NonCommercial-ShareAlike 3.0 Unported License 3:

[2018-02-02 20:19] scollis commented on #516
Ok! My review is done! This is nice work. I can see myself using this software.

I have two concerns:
1) Is the Licence OSI approved?
2) I would like to see one more sentence in README.md to satisfy the JOSS review criteria that states you need a statement of need and clearly state the target audience.

Once these are done I will check the boxes and we are done!

[2018-02-03 11:07] swillner commented on #516
Great!
We now improved the README.md as well as the paper.md. We made clearer the usage and target audience and included information on the license. While the MAGICC binary itself is CC-licensed, which is not OSI approved (https://opensource.org/licenses/alphabetical), Pymagicc is AGPL-3.0-licensed, which is.
Thanks for the review!

[2018-02-03 11:27] rgieseke commented on #516
The diff is here: https://github.com/openclimatedata/pymagicc/commit/3338e25ffb45aef0f8839633f75c8636d88c251f

As for the license, we only mention the CC-license as we distribute the MAGICC binary as part of the package and users need to be aware of the non-commercial clause. Pymagicc itself has no such restrictions. As there are no code linkages, we are only "wrapping" and running the binary ther

[2018-02-03 12:02] rgieseke commented on #516
There is now also a Readme in the `notebooks` sub-directory to clarify how to use and run these Notebooks.

https://github.com/openclimatedata/pymagicc/tree/master/notebooks

[2018-02-03 14:13] danielskatz commented on #489
Since @amjaeger17 seems to be missing in action, we may proceed without him.  @amjaeger17 , last chance to speak up...

But I have a few small issues to bring up before we accept this, basically aimed at the fact that repo seems well-written for developers, but not fully for users.  I think the README needs:

- some of the paper content, such as a brief statement of what problems the software is d

[2018-02-03 16:56] rgieseke commented on #516
Thanks @arfon - I've tagged a v1.0.2 release with the edits and improvements from the reviews. It's available at

https://zenodo.org/record/1165153

https://doi.org/10.5281/zenodo.1165153

[2018-02-03 19:45] cMadan commented on #562
@DominiqueMakowski, great! I'll go ahead and start the review process then :)

[2018-02-03 19:45] cMadan commented on #562
@whedon assign @DominiqueMakowski as reviewer

[2018-02-03 19:45] whedon commented on #562
OK, the reviewer is @DominiqueMakowski

[2018-02-03 19:45] cMadan commented on #562
@whedon start review

[2018-02-03 19:45] whedon commented on #562
You didn't say the magic word! Try this:

[code]

[2018-02-03 19:45] cMadan commented on #562
@whedon start review magic-word=bananas

[2018-02-03 19:45] whedon commented on #562
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/567. Feel free to close this issue now!

[2018-02-03 19:45] whedon opened #567 "[REVIEW]: EFAshiny: An User-Friendly Shiny Application for Exploratory Factor Analysis"
**Submitting author:** @PsyChiLin (<a href="http://orcid.org/0000-0002-4381-7163">Chi-Lin Yu</a>)
**Repository:** <a href="https://github.com/PsyChiLin/EFAshiny" target ="_blank">https://github.com/PsyChiLin/EFAshiny</a>
**Version:** 1.0.0
**Editor:** @cMadan
**Reviewer:** @DominiqueMakowski
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1171998" target="_blank">10.5281/zenodo.1171998</a>

[2018-02-03 19:45] whedon commented on #567
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @DominiqueMakowski it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2018-02-03 19:45] whedon commented on #567
[code]

[2018-02-03 19:46] whedon commented on #567
[code]

[2018-02-03 21:55] danilofreire commented on #361
Hi @karthik, thanks very much for your comments. We've fixed the errors you pointed out.

* `travis` is now integrated: [https://travis-ci.org/danilofreire/prisonbrief](https://travis-ci.org/danilofreire/prisonbrief)
* the script is now consistent and should not throw an error anymore.
 See: [https://github.com/danilofreire/prisonbrief/blob/master/R/wpb_table.R](https://github.com/danilofreire/pri

[2018-02-04 01:44] ResidentMario commented on #547
@zkamvar @rhiever I've addressed the bulk of your code comments. You should take a look at the library again (open new issues etcetera), as it's changed significantly in the process.

My current plan is to finish up the library work that was uncovered in the review process and publish a `0.4.0` version with the changes. I'll finish up the remaining comments on the paper last.

[2018-02-04 08:36] PsyChiLin commented on #562
@cMadan @DominiqueMakowski, many thanks !

[2018-02-04 13:37] #562 closed

[2018-02-04 13:37] arfon commented on #516
@whedon set 10.5281/zenodo.1165153 as archive

[2018-02-04 13:37] whedon commented on #516
OK. <a href="http://dx.doi.org/10.5281/zenodo.1165153" target="_blank">10.5281/zenodo.1165153</a> is the archive.

[2018-02-04 13:42] arfon commented on #516
@sgrieve @scollis - many thanks for your reviews here ✨

@rgieseke - you paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00516 ⚡️ 🚀 💥

[2018-02-04 13:42] #516 closed

[2018-02-04 13:42] whedon commented on #516
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00516/status.svg)](https://doi.org/10.21105/joss.00516)

**We need your help!**

Journal of Open Source Software

[2018-02-04 16:34] leeper commented on #521
@whedon set 10.5281/zenodo.1117203 as archive

[2018-02-04 16:34] whedon commented on #521
OK. <a href="http://dx.doi.org/10.5281/zenodo.1117203" target="_blank">10.5281/zenodo.1117203</a> is the archive.

[2018-02-04 16:35] leeper commented on #521
@oesteban Can you confirm that you are happy with the package in its current form?

[2018-02-04 16:36] leeper commented on #470
@DominiqueMakowski I'm happy with this as is. Can you please generate a DOI archive for the software in its current form (e.g., using Zenodo) and let me know the DOI?

[2018-02-04 16:36] leeper commented on #515
Hi again @pragyansmita, any progress on this review?

[2018-02-04 16:37] leeper commented on #523
Hi @justinesarey just a quick nudge on this review!

[2018-02-04 16:49] labarba commented on #559
I can edit this one, @arfon -- one question: the "modified MIT" license ... is it really _modified_ from MIT? Because if so, it would not be OSI-approved. I has to be the _actual_ MIT license, no?

[2018-02-04 17:41] oesteban commented on #521
Yes, I do.

On Feb 4, 2018 08:35, "Thomas J. Leeper" <notifications@github.com> wrote:

[2018-02-04 19:27] leeper commented on #521
Thank you, @oesteban!

[2018-02-04 19:27] leeper commented on #521
@arfon This one's over to you.

[2018-02-04 19:37] arokem commented on #554
Sure. I can edit this.

Is this one of these cases that should also be reviewed by rOpenSci in parallel?

[2018-02-04 19:38] arokem commented on #554
@whedon assign @arokem as editor

[2018-02-04 19:38] whedon commented on #554
OK, the editor is @arokem

[2018-02-04 19:41] arokem commented on #554
👋 @kellieotto : would you like to review this submission for JOSS?

[2018-02-05 02:26] arfon commented on #521
@oesteban - many thanks for your review here and to @leeper for editing this submission ✨

@vsoch - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00521 ⚡️ 🚀 💥

[2018-02-05 02:26] #521 closed

[2018-02-05 02:26] whedon commented on #521
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00521/status.svg)](https://doi.org/10.21105/joss.00521)

**We need your help!**

Journal of Open Source Software

[2018-02-05 02:30] arfon commented on #480
@jasonclark - is this ready to accept?

[2018-02-05 02:30] arfon commented on #30
Ping @karantibrewal - are you still interested in pursuing this publication with JOSS?

[2018-02-05 02:31] arfon commented on #57
If @alk224 doesn't re-appear in the next week I'll assume she's no longer interested in pursing this publication.

[2018-02-05 02:32] arfon commented on #481
Friendly reminder to check in on this soon @liandrea4.

[2018-02-05 02:33] arfon commented on #487
Friendly reminder to get to this sometime soon @barentsen :-)

[2018-02-05 02:33] arfon commented on #494
@jronayne - please make sure you've addressed @joezuntz's feedback above.

[2018-02-05 02:39] karantibrewal commented on #30
Oops - sorry about this. Thought I had responded.

@joshuaulrich comments have been fixed now. Details are below:

[Fixed. Although not quite sure what the last point means. I think we need to use the name of the package instead of saying "our package". I changed that.]

Fixed

Fixed.

Drop downs look much more informative now - thanks for this one!

Fixed.

This scenario can very well happen, and

[2018-02-05 02:40] alk224 commented on #57
Hi @arfon. So sorry about the silence. I'm slowly reaching my goals. Problems with the installer we're identified last week, but until it is fully updated, I still can't address the reviewer comments with respect to silent modifications of .bashrc file. I'm still interested and will advise as soon as this is ready to move back toward review. Thanks for all your patience.

[2018-02-05 02:40] vsoch commented on #521
woohooo thanks @whedon @oesteban @arfon and @leeper ! :avocado: :avocado: :avocado:

[2018-02-05 03:19] arfon commented on #57
Thanks for the update @alk224. Just wanted to make sure you were still interested in pursuing this.

[2018-02-05 03:37] karthik commented on #361
@danilofreire Looks good. Please deposit the repo in Zenodo and paste the doi here so I can proceed with the next steps.

[2018-02-05 04:52] danilofreire commented on #361
@karthik, thanks very much for your reply. Here's the doi for the latest version of the repo: [https://doi.org/10.5281/zenodo.1165514](https://doi.org/10.5281/zenodo.1165514).

[2018-02-05 06:12] karthik commented on #361
@whedon set 10.5281/zenodo.833889 as archive

[2018-02-05 06:12] whedon commented on #361
OK. <a href="http://dx.doi.org/10.5281/zenodo.833889" target="_blank">10.5281/zenodo.833889</a> is the archive.

[2018-02-05 06:12] karthik commented on #361
@whedon generate pdf

[2018-02-05 06:12] whedon commented on #361
[code]

[2018-02-05 06:12] whedon commented on #361
[code]

[2018-02-05 06:15] karthik commented on #361
Congrats @danilofreire on getting your paper accepted 🎉

All is done at your end. We'll wait for @arfon to complete the final steps.

[2018-02-05 08:00] danilofreire commented on #361
Great! Thanks @benmarwick and @karthik for your comments. Our package has improved a lot after your reviews!

[2018-02-05 10:23] johandahlberg commented on #556
@brainstorm I've fixed your suggestions now. And I've created a new release: https://github.com/Molmed/checkQC/releases/tag/v1.3.0 This is now available on PyPI.

@pjotrp If I understand @brainstorm above this is done now. As noted above, there is a new release (v1.3.0), and I've updated the `codemeta.json` to reflect this.

[2018-02-05 10:25] DominiqueMakowski commented on #470
@leeper The DOI is the following: 10.5281/zenodo.1165620

Thanks a lot

[2018-02-05 10:37] leeper commented on #470
@whedon set 10.5281/zenodo.1165620 as archive

[2018-02-05 10:37] whedon commented on #470
OK. <a href="http://dx.doi.org/10.5281/zenodo.1165620" target="_blank">10.5281/zenodo.1165620</a> is the archive.

[2018-02-05 10:38] leeper commented on #470
Okay. This all looks good. Thank you, @SachaEpskamp for your great review! Thanks, too, @DominiqueMakowski, for the submission!

@arfon This one's for you.

[2018-02-05 12:36] arfon commented on #470
@SachaEpskamp - thanks for your review and to @leeper for editing this submission ✨

@DominiqueMakowski - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00470 ⚡️ 🚀 💥

[2018-02-05 12:36] #470 closed

[2018-02-05 12:36] whedon commented on #470
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00470/status.svg)](https://doi.org/10.21105/joss.00470)

**We need your help!**

Journal of Open Source Software

[2018-02-05 12:38] arfon commented on #361
@benmarwick - many thanks for your review here and to @karthik for editing this submission ✨

@danilofreire - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00361 ⚡️ 🚀 💥

[2018-02-05 12:38] #361 closed

[2018-02-05 12:38] whedon commented on #361
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00361/status.svg)](https://doi.org/10.21105/joss.00361)

**We need your help!**

Journal of Open Source Software

[2018-02-05 12:46] DominiqueMakowski commented on #470
I added the paper link in the readme,

Thanks again everyone!! 🎉

[2018-02-05 13:58] smikhael commented on #436
Hello all, @cMadan @Kevin-Mattheus-Moerman . I was wondering whether you had any updates for us on this please? Thank you.

[2018-02-05 14:24] jsgalan commented on #527
Hi @nterhoeven

The paper and implementation are excellent. A few corrections are needed:

- (kmer counts based on jelly sh (Marçais and Kingsford 2011)) <-- check parenthesis use here
-To create exemplar sequences of each repeat in the genome, the assembled repeats ar clustered using cd-hit ((W. Li and Godzik 2006),(Fu et al. 2012)). <-- should read "repeats are clustered"

Hope this finishes th

[2018-02-05 15:39] pjotrp commented on #556
@arfon ready to RoR

[2018-02-05 15:40] arfon commented on #556
@johandahlberg - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-02-05 16:16] johandahlberg commented on #556
@arfon Thank you! I have created a DOI for the specific version (v1.3.0) here: https://doi.org/10.5281/zenodo.1166052. And the DOI for any version of the software is this one: https://doi.org/10.5281/zenodo.1166051 I'm unsure about which one you need, so now you have both.

[2018-02-05 16:30] mgymrek commented on #527
Thanks @jsgalan!
@nterhoeven after you make these minor changes update the thread and then we should be ready to go.

[2018-02-05 17:52] cMadan commented on #436
Sorry for the delay, I will finalize my pass of the code by the end of the week.

[2018-02-05 17:54] cMadan commented on #564
@trallard and @brian-lau, I will go ahead and start the review now. I am going to assign @trallard as the reviewer, as the JOSS system currently lets us assign one person as the reviewer, but please both do test the code and provide feedback equally as reviewers. Thank you again for volunteering to review this submission!

[2018-02-05 17:54] cMadan commented on #564
@whedon assign @trallard as reviewer

[2018-02-05 17:54] whedon commented on #564
OK, the reviewer is @trallard

[2018-02-05 17:55] cMadan commented on #564
@whedon start review

[2018-02-05 17:55] whedon commented on #564
You didn't say the magic word! Try this:

[code]

[2018-02-05 17:55] cMadan commented on #564
@whedon start review magic-word=bananas

[2018-02-05 17:55] whedon opened #568 "[REVIEW]: Gramm: grammar of graphics plotting in Matlab"
**Submitting author:** @piermorel (<a href="http://orcid.org/0000-0003-0984-7016">Pierre Morel</a>)
**Repository:** <a href="https://github.com/piermorel/gramm" target ="_blank">https://github.com/piermorel/gramm</a>
**Version:** v2.23
**Editor:** @cMadan
**Reviewer:** @trallard
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1188423" target="_blank">10.5281/zenodo.1188423</a>

## Status

[

[2018-02-05 17:55] whedon commented on #564
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/568. Feel free to close this issue now!

[2018-02-05 17:55] whedon commented on #568
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @trallard it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably current

[2018-02-05 17:55] whedon commented on #568
[code]

[2018-02-05 17:55] #564 closed

[2018-02-05 17:55] whedon commented on #568
[code]

[2018-02-05 18:29] kellieotto commented on #554
Hi @arokem.  Yes I'd be happy to review it.

[2018-02-05 19:07] CoreRobotics commented on #489
Hi @danielskatz I've updated the README.md with commit [https://github.com/CoreRobotics/CoreRobotics/commit/04f3cb04593ba84e41a4515dae653baa4503d366](https://github.com/CoreRobotics/CoreRobotics/commit/04f3cb04593ba84e41a4515dae653baa4503d366)

- Parker

[2018-02-05 19:56] Kevin-Mattheus-Moerman commented on #500
@whedon generate pdf

[2018-02-05 19:56] whedon commented on #500
[code]

[2018-02-05 19:56] whedon commented on #500
[code]

[2018-02-05 19:59] Kevin-Mattheus-Moerman commented on #500
@jslee02 my apologies for the delay in getting back to you! I recommend that this paper is accepted. At this point please provide a DOI for the repository of the final reviewed version. @arfon will then proceed with formal acceptance of this paper. 🚀 🤖 🎉

[2018-02-05 20:00] Kevin-Mattheus-Moerman commented on #500
@betatim @costashatz @bmagyar thanks for reviewing this submission! 👏

[2018-02-05 20:21] Kevin-Mattheus-Moerman commented on #528
@gvegayon @jakobbossek how are things going? Could you give an update on where things stand?

[2018-02-05 20:25] Kevin-Mattheus-Moerman commented on #547
@ResidentMario about:

Sounds good. I recommend minting this new version once we are good to accept. That way the paper/DOI will also point to your latest version and it wont be behind on any final edits.

[2018-02-05 20:26] Kevin-Mattheus-Moerman commented on #547
@zkamvar @rhiever has @ResidentMario addressed your comments sufficiently?

[2018-02-05 20:27] Kevin-Mattheus-Moerman commented on #548
@rreinecke @wkearn how are things? Can you provide an update on where things stand? Thanks. 🐨

[2018-02-05 20:29] rhiever commented on #547
I've checked off the items on my list that have been addressed.

[2018-02-05 20:31] jkmacc-LANL commented on #530
Yes, they are addressed.  Thanks!

[2018-02-05 20:32] wkearn commented on #548
I'm working on this right now. I plan to be finished with my review by tomorrow or Wednesday at the latest. Sorry it's taken so long to get going.

[2018-02-05 20:32] Kevin-Mattheus-Moerman commented on #547
@rhiever thanks for the update. Also thanks for the very thorough review! 🦈

[2018-02-05 20:32] danielskatz commented on #489
Thanks @CoreRobotics - this looks good.

And @bmagyar - thanks for your reviewing work.

@arfon, please move ahead with accepting this

[2018-02-05 20:35] gvegayon commented on #528
Everything OK, just a bit busy these days. Will get back to @jakobbossek soon.

[2018-02-05 20:38] arfon commented on #556
@whedon set 10.5281/zenodo.1166052 as archive

[2018-02-05 20:38] whedon commented on #556
OK. <a href="http://dx.doi.org/10.5281/zenodo.1166052" target="_blank">10.5281/zenodo.1166052</a> is the archive.

[2018-02-05 20:47] arfon commented on #556
@brainstorm - many thanks for your review here and to @pjotrp for editing this submission ✨

@johandahlberg - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00556 ⚡️ 🚀 💥

[2018-02-05 20:47] #556 closed

[2018-02-05 20:47] whedon commented on #556
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00556/status.svg)](https://doi.org/10.21105/joss.00556)

**We need your help!**

Journal of Open Source Software

[2018-02-05 20:49] zkamvar commented on #547
Hi! Yes, @ResidentMario has addressed my comments 😃.

[2018-02-05 20:50] CoreRobotics commented on #489
@arfon OK thanks.  Is it ok for us to roll to v1.0 prior the Zenodo release DOI?  The version reviewed was 0.9.1 but the changes we've made from this review have prepared for release.

[2018-02-05 21:17] arfon commented on #489
Yeah, I think that's fine.

[2018-02-05 21:23] jslee02 commented on #500
@Kevin-Mattheus-Moerman Thank you! I've created a DOI for DART 6.3.0 here:
https://zenodo.org/record/1166142#.WnjLInXwbhw

[2018-02-05 21:24] gvegayon commented on #528
Looks good in general. Now I'll take a look at the documentation and code.

[2018-02-05 22:47] Kevin-Mattheus-Moerman commented on #500
Great! @arfon we are good to go here 🤖

[2018-02-05 23:04] Kevin-Mattheus-Moerman commented on #548
@wkearn that is fine thanks for the update. 👍

[2018-02-06 00:01] ianhbell commented on #559
Pinged our legal folks, a clean MIT license plus a note in the README seems sufficient, but I need final confirmation.

[2018-02-06 00:08] arfon commented on #500
@whedon set 10.5281/zenodo.1166142 as archive

[2018-02-06 00:08] whedon commented on #500
OK. <a href="http://dx.doi.org/10.5281/zenodo.1166142" target="_blank">10.5281/zenodo.1166142</a> is the archive.

[2018-02-06 00:17] arfon commented on #500
@jslee02 @bmagyar @betatim - many thanks for your reviews here and to @Kevin-Mattheus-Moerman for editing this submission ✨

@jslee02 - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00500 ⚡️ 🚀 💥

[2018-02-06 00:17] #500 closed

[2018-02-06 00:17] whedon commented on #500
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00500/status.svg)](https://doi.org/10.21105/joss.00500)

**We need your help!**

Journal of Open Source Software

[2018-02-06 00:23] jslee02 commented on #500
Thank you @bmagyar, @betatim, @costashatz for the helpful review; and @Kevin-Mattheus-Moerman, @arfon for coordinating this process! :tada:

[2018-02-06 00:53] CoreRobotics commented on #489
@arfon we have updated v1.0.0 release at Zenodo [https://zenodo.org/record/1166214#.Wnj8IZM-dE4](https://zenodo.org/record/1166214#.Wnj8IZM-dE4)

[2018-02-06 02:05] arfon commented on #489
@whedon set 10.5281/zenodo.1166214 as archive

[2018-02-06 02:05] whedon commented on #489
OK. <a href="http://dx.doi.org/10.5281/zenodo.1166214" target="_blank">10.5281/zenodo.1166214</a> is the archive.

[2018-02-06 02:10] arfon commented on #489
@bmagyar @amjaeger17 many thanks for your review here and to @danielskatz for editing this submission ✨

@CoreRobotics - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00489 ⚡️ 🚀 💥

[2018-02-06 02:10] #489 closed

[2018-02-06 02:10] whedon commented on #489
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00489/status.svg)](https://doi.org/10.21105/joss.00489)

**We need your help!**

Journal of Open Source Software

[2018-02-06 02:11] arfon commented on #559
Excellent. Thanks @ianhbell

[2018-02-06 09:43] nterhoeven commented on #527
Hi @jsgalan and @mgymrek,

thanks for the comments :-) I created an updated version of the paper.md file.

How are we going to proceed? I believe I have to create a new release and provide you with a DOI for it. Is this correct?

[2018-02-06 10:23] smikhael commented on #436
Great, many thanks!

[2018-02-06 13:34] DominiqueMakowski commented on #567
@cMadan @PsyChiLin

EFAshiny is both an R package and an online app designed to provide a clear, straightforward pipeline to exploratory factor analysis, a widely used statistical method. It is a nice package, very well done, that will be very useful to many people in social science and related fields. Installation and launch work as expected, and everything looks in order within the paper and the

[2018-02-06 14:31] Kevin-Mattheus-Moerman commented on #436
@cMadan I've ticked all the boxes. I recommend that we accept this submission. 👍

[2018-02-06 14:52] cMadan commented on #567
Thank you for the prompt and thorough review, @DominiqueMakowski!

[2018-02-06 15:27] PsyChiLin commented on #567
@DominiqueMakowski Thanks for these useful suggestions!
I have opened several issues for all of them to track their progress. Will improve this project in the next couple of days.
@cMadan Will let you know the progress after I have advanced this submission.
Thanks again !

[2018-02-06 16:33] jronayne commented on #494
@afron @joezuntz - HI, apologies for the delay in my response. I have hopefully addressed all the feedback above so that you may continue the review.

[2018-02-06 16:35] mgymrek commented on #527
Thanks @nterhoeven. @arfon we're ready to accept this. @arfon will be able to help with the next steps.

[2018-02-06 19:24] ianhbell commented on #559
One more try...  Does this work?

[2018-02-06 19:28] arfon commented on #559
If you could just remove the 'Terms of use' section at the top of the `LICENSE` file I think we'll be set: https://github.com/usnistgov/ChebTools/blob/master/LICENSE#L1-L4

[2018-02-06 19:29] ianhbell commented on #559
Done.

[2018-02-06 19:33] arfon commented on #559
@labarba - thanks for volunteering to edit this submission. I think we've resolved the licensing concerns here now.

[2018-02-06 19:35] ianhbell commented on #559
It's no longer a modified MIT license, though it was before.  Working for the US Government and writing open-source software is at times a frustrating exercise...

[2018-02-06 19:35] labarba commented on #559
@whedon assign @labarba as editor

[2018-02-06 19:35] whedon commented on #559
OK, the editor is @labarba

[2018-02-06 19:38] arfon commented on #559
Thanks so much for working this through with us @ianhbell.

[2018-02-06 19:47] labarba commented on #559
@drvinceknight --Are you still willing to review this submission?

Another potential reviewer, if available and willing, might. be @paulcon ?

[2018-02-06 20:00] ResidentMario commented on #547
@whedon generate pdf

[2018-02-06 20:00] whedon commented on #547
[code]

[2018-02-06 20:00] whedon commented on #547
[code]

[2018-02-06 20:13] ResidentMario commented on #547
I believe the other remaining non-paper issues have been addressed. I've finished tweaking the paper to my understanding of it, but:

* It's been a long time since I've used BibTeX so I'm not sure I've got the citations formatted right. Is it SOP that they aren't showing up in the pre-render `whedon` is generating?
* Maybe including examples of all of the plots is too much for the paper, lengthwis

[2018-02-06 22:12] arfon commented on #527
@nterhoeven - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-02-07 02:45] Kevin-Mattheus-Moerman commented on #547
@whedon generate pdf

[2018-02-07 02:45] whedon commented on #547
[code]

[2018-02-07 02:45] whedon commented on #547
[code]

[2018-02-07 02:58] Kevin-Mattheus-Moerman commented on #547
@ResidentMario your .bib file looks good. It just looks like you are not citing the articles in the paper. You cite them like this for instance:
`[@pandas]`

[2018-02-07 02:58] ResidentMario commented on #547
D'oh. Let me fix that...

[2018-02-07 08:21] nterhoeven commented on #527
Hi @arfon,
I created a new release (v1.1.0). Here is the new DOI: 10.5281/zenodo.1167969

[2018-02-07 09:22] drvinceknight commented on #559
Yup. :+1:

[2018-02-07 11:55] labarba commented on #559
@whedon assign @drvinceknight as reviewer

[2018-02-07 11:55] whedon commented on #559
OK, the reviewer is @drvinceknight

[2018-02-07 11:57] labarba commented on #559
@whedon start review

[2018-02-07 11:57] whedon commented on #559
You didn't say the magic word! Try this:

[code]

[2018-02-07 11:57] labarba commented on #559
@whedon start review magic-word=bananas

[2018-02-07 11:57] whedon commented on #559
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/569. Feel free to close this issue now!

[2018-02-07 11:57] whedon opened #569 "[REVIEW]: ChebTools: C++11 (and Python) tools for working with Chebyshev expansions"
**Submitting author:** @ianhbell (<a href="http://orcid.org/0000-0003-1091-9080">Ian Bell</a>)
**Repository:** <a href="https://github.com/usnistgov/ChebTools" target ="_blank">https://github.com/usnistgov/ChebTools</a>
**Version:** v1.0.0
**Editor:** @labarba
**Reviewer:** @drvinceknight
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1172036" target="_blank">10.5281/zenodo.1172036</a>

##

[2018-02-07 11:58] whedon commented on #569
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @drvinceknight it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2018-02-07 11:58] whedon commented on #569
[code]

[2018-02-07 11:58] #559 closed

[2018-02-07 11:58] whedon commented on #569
[code]

[2018-02-07 11:59] labarba commented on #569
OK, @drvinceknight: here's where the action happens. If you've reviewed for JOSS before, you know the drill. If not, I'm here to answer your questions!

[2018-02-07 12:00] labarba commented on #569
@ianhbell -- Your paper is not compiling. Can you check on that?

[2018-02-07 12:28] mattpitkin commented on #538
I've [added](https://github.com/mattpitkin/psrqpy/commit/ec12e6561a5920daca3e50ad5d3691c37f2ef24d) a statement about development and support to both the README and documentation.

[2018-02-07 12:47] mattpitkin commented on #538
I've [added](https://github.com/mattpitkin/psrqpy/commit/983a57bae9cd6228da47f995c11748f6d38a76d8) a statement to the article and documentation about the intended users and purpose of the script.

[2018-02-07 13:08] mattpitkin commented on #538
I've [added](https://github.com/mattpitkin/psrqpy/commit/3ca04833859d9d7ffc98159e82762fcc1fae7e17) some actual output to the README file and added a test in the travis build that queries the frequency of the Crab pulsars and checks that it rounds down to 29 Hz (this should be good for another 80 years).

[2018-02-07 14:09] mattpitkin commented on #538
I've [added](https://github.com/mattpitkin/psrqpy/commit/23cee57d7b2f9e1cd1cadc70c0140e2c55e6ed80) an example to the documentation on getting an ADS reference link for a pulsar parameter. I've also [added](https://github.com/mattpitkin/psrqpy/commit/d50086c3a53910fd79d80f7cce9ca1457d31c4f7) a bit more (although to be honest not much more) documentation for the QueryATNF and Pulsar classes. After a

[2018-02-07 14:10] mattpitkin commented on #538
@ygrange - I hope my above changes address you main issues. Let me know if there's anything else that you'd like to see added.

[2018-02-07 15:20] ianhbell commented on #569
I don't think that is related to my paper.  I don't do anything too crazy, perhaps it is related to my Python code block?  I don't have any way of testing compilation on my side.  I asked several times about that but was never able to get a working build to the journal specs on my machine.  I think the whedon server needs to have the LaTeX package added.

[2018-02-07 17:28] alistairewj commented on #481
Thanks - this is a very helpful review and apologies for the delay - we will get on this ASAP.

[2018-02-07 20:09] labarba commented on #569
@arfon : Can you help here? The paper is not compiling.

[2018-02-08 02:41] bryanwweber commented on #565
@bjodah Since this comment is related more to the paper than to the software, I'll put it here. You should specify the target audience for the software - is it undergraduates doing homework problems, research scientists, government agencies, teachers, etc.

[2018-02-08 11:20] arfon commented on #569
@whedon generate pdf

[2018-02-08 11:20] whedon commented on #569
[code]

[2018-02-08 11:21] whedon commented on #569
[code]

[2018-02-08 11:25] arfon commented on #569
@labarba @ianhbell - looks like our @whedon LaTeX environment doesn't include `fancyvrb` (which is probably associated with the code block). I've added it in https://github.com/openjournals/heroku-buildpack-tex/commit/5563891f668a8b7dd62fd67f740a79a5e80772d4 but this won't get deployed for a while.

For now will this copy of the paper work that I compiled locally? [10.21105.joss.00569.pdf](https:/

[2018-02-08 11:26] arfon commented on #527
@whedon set 10.5281/zenodo.1167969 as archive

[2018-02-08 11:26] whedon commented on #527
OK. <a href="http://dx.doi.org/10.5281/zenodo.1167969" target="_blank">10.5281/zenodo.1167969</a> is the archive.

[2018-02-08 11:31] arfon commented on #527
@jsgalan - many thanks for your review here and to @mgymrek for editing this submission ✨

@nterhoeven - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00527 ⚡️ 🚀 💥

[2018-02-08 11:32] #527 closed

[2018-02-08 11:32] whedon commented on #527
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00527/status.svg)](https://doi.org/10.21105/joss.00527)

**We need your help!**

Journal of Open Source Software

[2018-02-08 11:44] nterhoeven commented on #527
Great :smile: Thanks a lot @arfon @mgymrek @jsgalan

[2018-02-08 14:26] whedon opened #570 "[PRE REVIEW]: weathercan: Download and format weather data from Environment and Climate Change Canada"
**Submitting author:** @steffilazerte (<a href="http://orcid.org/0000-0002-7690-8360">Stefanie LaZerte</a>)
**Repository:** <a href="https://github.com/ropensci/weathercan" target ="_blank">https://github.com/ropensci/weathercan</a>
**Version:** v0.2.4
**Editor:** @arfon
**Reviewer:** @arfon

**Author instructions**

Thanks for submitting your paper to JOSS @steffilazerte. The JOSS editor (shown a

[2018-02-08 14:26] whedon commented on #570
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @leeper it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-02-08 14:26] whedon commented on #570
[code]

[2018-02-08 14:26] whedon commented on #570
[code]

[2018-02-08 14:27] arfon commented on #570
@whedon assign @arfon as editor

[2018-02-08 14:27] whedon commented on #570
OK, the editor is @arfon

[2018-02-08 14:27] arfon commented on #570
@whedon generate pdf

[2018-02-08 14:27] whedon commented on #570
[code]

[2018-02-08 14:27] whedon commented on #570
[code]

[2018-02-08 14:28] arfon commented on #570
@whedon assign @arfon as reviewer

[2018-02-08 14:28] whedon commented on #570
OK, the reviewer is @arfon

[2018-02-08 14:28] arfon commented on #570
@whedon start review magic-word=bananas

[2018-02-08 14:28] #570 closed

[2018-02-08 14:28] whedon commented on #570
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/571. Feel free to close this issue now!

[2018-02-08 14:28] whedon opened #571 "[REVIEW]: weathercan: Download and format weather data from Environment and Climate Change Canada"
**Submitting author:** @steffilazerte (<a href="http://orcid.org/0000-0002-7690-8360">Stefanie LaZerte</a>)
**Repository:** <a href="https://github.com/ropensci/weathercan" target ="_blank">https://github.com/ropensci/weathercan</a>
**Version:** v0.2.4
**Editor:** @arfon
**Reviewer:** @arfon
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1164301" target="_blank">10.5281/zenodo.1164301</a>

[2018-02-08 14:28] whedon commented on #571
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @arfon it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2018-02-08 14:28] whedon commented on #571
[code]

[2018-02-08 14:28] whedon commented on #571
[code]

[2018-02-08 14:32] arfon commented on #571
👋 @steffilazerte - thanks for your submission to JOSS. I realize your submission has already been reviewed by rOpenSci so this should be quick. That said, it looks like your current paper is tailored towards technical documentation which we try to avoid.

Could you please revise your paper to match more closely with our [requested content/structure](http://joss.theoj.org/about#paper_structure)? i.

[2018-02-08 14:32] whedon opened #572 "[PRE REVIEW]: MatchPy: Pattern Matching in Python"
**Submitting author:** @henrik227 (<a href="http://orcid.org/0000-0001-6744-3605">Henrik Barthels</a>)
**Repository:** <a href="https://github.com/HPAC/matchpy" target ="_blank">https://github.com/HPAC/matchpy</a>
**Version:** v0.4.4
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @llllllllll

**Author instructions**

Thanks for submitting your paper to JOSS @henrik227. The JOSS editor (shown a

[2018-02-08 14:32] whedon commented on #572
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-02-08 14:32] whedon commented on #572
[code]

[2018-02-08 14:32] whedon opened #573 "[PRE REVIEW]: The MCAPL Framework including the Agent Infrastructure Layer and Agent JavaPathfinder"
**Submitting author:** @louiseadennis (<a href="http://orcid.org/0000-0003-1426-1896">Louise Dennis</a>)
**Repository:** <a href="https://sourceforge.net/projects/mcapl/" target ="_blank">https://sourceforge.net/projects/mcapl/</a>
**Version:** 2017
**Editor:** @danielskatz
**Reviewer:** @BasTesterink

**Author instructions**

Thanks for submitting your paper to JOSS @louiseadennis. The JOSS edito

[2018-02-08 14:32] whedon commented on #573
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-02-08 14:32] whedon commented on #573
[code]

[2018-02-08 14:32] whedon commented on #573
[code]

[2018-02-08 14:33] whedon commented on #572
[code]

[2018-02-08 14:33] whedon opened #574 "[PRE REVIEW]: Nostril: A nonsense string evaluator written in Python"
**Submitting author:** @mhucka (<a href="http://orcid.org/0000-0001-9105-5960">Michael Hucka</a>)
**Repository:** <a href="https://github.com/casics/nostril" target ="_blank">https://github.com/casics/nostril</a>
**Version:** v1.0.0
**Editor:** @jakevdp
**Reviewer:** @desilinguist

**Author instructions**

Thanks for submitting your paper to JOSS @mhucka. The JOSS editor (shown at the top of this

[2018-02-08 14:33] whedon commented on #574
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-02-08 14:33] whedon commented on #574
[code]

[2018-02-08 14:33] whedon commented on #574
[code]

[2018-02-08 14:34] whedon opened #575 "[PRE REVIEW]: h5preserve"
**Submitting author:** @aragilar (<a href="http://orcid.org/0000-0001-6637-6922">James Tocknell</a>)
**Repository:** <a href="https://github.com/h5preserve/h5preserve" target ="_blank">https://github.com/h5preserve/h5preserve</a>
**Version:** v0.15.0
**Editor:** @arfon
**Reviewer:** @mattpitkin

**Author instructions**

Thanks for submitting your paper to JOSS @aragilar. The JOSS editor (shown at

[2018-02-08 14:34] whedon commented on #575
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-02-08 14:34] whedon commented on #575
[code]

[2018-02-08 14:34] whedon opened #576 "[PRE REVIEW]: RNAsik: A Pipeline for complete and reproducible RNA-seq analysis that runs anywhere with speed and ease"
**Submitting author:** @serine (<a href="http://orcid.org/0000-0002-9195-2626">Kirill Tsyganov</a>)
**Repository:** <a href="https://github.com/MonashBioinformaticsPlatform/RNAsik-pipe" target ="_blank">https://github.com/MonashBioinformaticsPlatform/RNAsik-pipe</a>
**Version:** 1.4.9
**Editor:** @pjotrp
**Reviewer:** @andrewyatz

**Author instructions**

Thanks for submitting your paper to JOSS @

[2018-02-08 14:34] whedon commented on #576
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-02-08 14:34] whedon commented on #576
[code]

[2018-02-08 14:34] whedon commented on #576
[code]

[2018-02-08 14:35] whedon commented on #575
[code]

[2018-02-08 14:36] arfon commented on #573
@whedon generate pdf

[2018-02-08 14:36] whedon commented on #573
[code]

[2018-02-08 14:37] whedon commented on #573
[code]

[2018-02-08 14:38] steffilazerte commented on #571
Hi, so essentially you mean to remove the usage aspect of the paper? And keep it mostly descriptive?

[2018-02-08 14:40] arfon commented on #573
@whedon is struggling with compiling this paper for some reason. Here's a copy compiled on my computer: [10.21105.joss.00573.pdf](https://github.com/openjournals/joss-reviews/files/1707457/10.21105.joss.00573.pdf)

[2018-02-08 14:41] arfon commented on #574
@whedon generate pdf

[2018-02-08 14:41] whedon commented on #574
[code]

[2018-02-08 14:42] whedon commented on #574
[code]

[2018-02-08 14:44] arfon commented on #576
@serine - it looks like there is an issue with your bibtex file. I think the issue is that [this URL](https://github.com/MonashBioinformaticsPlatform/RNAsik-pipe/blob/master/paper.bib#L447) needs quoting.

Once you've fixed this you can as @whedon to compile your paper again by typing `@whedon generate pdf`

[2018-02-08 14:48] arfon commented on #571
Yes please. We believe that the usage content should reside in documentation that is linked to from the paper. Does that make sense?

[2018-02-08 14:52] steffilazerte commented on #571
Absolutely, I'll get on this right away!

[2018-02-08 15:19] ianhbell commented on #569
That local copy looks beautiful!

How about making a docker container with whedon inside?  That might be the cleanest packaging.  I can try to help with that if you are interested?

[2018-02-08 15:43] louiseadennis commented on #573
Hmm wrt the compiled paper, it looks like a couple of the citations are borked.  I've fixed these and pushed to sourceforge.  I can try installing whedon, but that looks like it could take a while.

In terms of reviewers no one on the list looks like they are in the areas of agent programming or model-checking that our software is.  Some possibilities would be @rbordini, @jomifred, @koenhindriks,