[2020-05-22 19:18] whedon opened #2220 "[PRE REVIEW]: GRLC - the Git Repository Linked data api Constructor"
**Submitting author:** @c-martinez (<a href="http://orcid.org/0000-0001-5565-7577">Carlos Martinez-Ortiz</a>)
**Repository:** <a href="https://github.com/CLARIAH/grlc" target ="_blank">https://github.com/CLARIAH/grlc</a>
**Version:** v1.3.4
**Editor:** @lorenanicole
**Reviewers:** @essepuntato, @alexdma
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the ch

[2020-05-22 19:18] whedon commented on #2220
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-22 19:18] whedon commented on #2220
[code]

[2020-05-22 19:18] whedon commented on #2220
[code]

[2020-05-22 19:18] whedon commented on #2220
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02220/joss.02220/10.21105.joss.02220.pdf)

[2020-05-22 19:19] arfon commented on #2220
:wave: @c-martinez. Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the week we've had > 50 papers submitted and as such, yours has been put in

[2020-05-22 19:23] whedon opened #2221 "[PRE REVIEW]: SneakerNet: A modular quality assurance and quality check workflow for primary genomic and metagenomic read data"
**Submitting author:** @lskatz (<a href="http://orcid.org/0000-0002-2533-9161">Lee Katz</a>)
**Repository:** <a href="https://github.com/lskatz/SneakerNet" target ="_blank">https://github.com/lskatz/SneakerNet</a>
**Version:** v0.9.10
**Editor:** @lpantano
**Reviewers:** @lfaller,  @erinyoung
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2020-05-22 19:23] whedon commented on #2221
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-22 19:23] whedon commented on #2221
[code]

[2020-05-22 19:24] whedon commented on #2221
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02221/joss.02221/10.21105.joss.02221.pdf)

[2020-05-22 19:24] arfon commented on #2221
:wave: @lskatz - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the week we've had > 50 papers submitted and as such, yours has been put in ou

[2020-05-22 19:24] whedon opened #2222 "[PRE REVIEW]: txshift: Efficient estimation of the causal effects of stochastic interventions in R"
**Submitting author:** @nhejazi (<a href="http://orcid.org/0000-0002-7127-2789">Nima Hejazi</a>)
**Repository:** <a href="https://github.com/nhejazi/txshift" target ="_blank">https://github.com/nhejazi/txshift</a>
**Version:** 0.3.3
**Editor:** @marcosvital
**Reviewers:** @klmedeiros, @joethorley
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2020-05-22 19:24] whedon commented on #2222
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-22 19:25] whedon commented on #2222
[code]

[2020-05-22 19:25] whedon commented on #2222
[code]

[2020-05-22 19:25] whedon commented on #2222
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02222/joss.02222/10.21105.joss.02222.pdf)

[2020-05-22 19:25] arfon commented on #2222
:wave: @nhejazi - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the week we've had > 50 papers submitted and as such, yours has been put in o

[2020-05-22 19:26] whedon opened #2223 "[PRE REVIEW]: arcos (R) and arcospy (Python): twin software packages to access the DEA ARCOS database from 2006 to 2014"
**Submitting author:** @jeffcsauer (<a href="http://orcid.org/0000-0002-8581-6919">Jeffery Sauer</a>)
**Repository:** <a href="https://github.com/jeffcsauer/arcos_arcospy_information" target ="_blank">https://github.com/jeffcsauer/arcos_arcospy_information</a>
**Version:** arcos (1.1); arcospy (1.1.0)
**Editor:** @bmcfee
**Reviewers:** @jaeyk, @edonnachie
**Managing EiC:** Arfon Smith

**:warning:

[2020-05-22 19:26] whedon commented on #2223
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-22 19:26] whedon commented on #2223
[code]

[2020-05-22 19:26] whedon commented on #2223
[code]

[2020-05-22 19:26] whedon commented on #2223
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02223/joss.02223/10.21105.joss.02223.pdf)

[2020-05-22 19:27] arfon commented on #2223
:wave: @jeffcsauer - could you link the related software repositories here please?

[2020-05-22 19:27] arfon commented on #2223
:wave: @lorenanicole - would you be willing to edit this submission for JOSS?

[2020-05-22 19:27] arfon commented on #2223
@whedon invite @lorenanicole as editor

[2020-05-22 19:27] whedon commented on #2223
@lorenanicole has been invited to edit this submission.

[2020-05-22 19:28] whedon opened #2224 "[PRE REVIEW]: multivar_horner: A Python package for computing Horner factorisations of multivariate polynomials"
**Submitting author:** @MrMinimal64 (<a href="http://orcid.org/0000-0002-1819-6975">Jannik Michelfeit</a>)
**Repository:** <a href="https://github.com/MrMinimal64/multivar_horner" target ="_blank">https://github.com/MrMinimal64/multivar_horner</a>
**Version:** v.2.0.0
**Editor:** @dpsanders
**Reviewers:** @henrik227, @alex-konovalov
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service m

[2020-05-22 19:28] whedon commented on #2224
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-22 19:28] whedon commented on #2224
[code]

[2020-05-22 19:29] whedon commented on #2224
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02224/joss.02224/10.21105.joss.02224.pdf)

[2020-05-22 19:29] whedon commented on #2224
[code]

[2020-05-22 19:32] whedon opened #2225 "[PRE REVIEW]: fnnls: An Implementation of Fast Nonnegative Least Squares"
**Submitting author:** @jvendrow (<a href="http://orcid.org/0000-0002-1041-5782">Joshua Vendrow</a>)
**Repository:** <a href="https://github.com/jvendrow/fnnls" target ="_blank">https://github.com/jvendrow/fnnls</a>
**Version:** v.0.0.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 p

[2020-05-22 19:32] whedon commented on #2225
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-22 19:32] whedon commented on #2225
[code]

[2020-05-22 19:32] whedon commented on #2225
[code]

[2020-05-22 19:32] whedon commented on #2225
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02225/joss.02225/10.21105.joss.02225.pdf)

[2020-05-22 19:37] whedon opened #2226 "[PRE REVIEW]: TEfits: Nonlinear regression for time-evolving indices"
**Submitting author:** @akcochrane (<a href="http://orcid.org/0000-0001-6691-9149">Aaron Cochrane</a>)
**Repository:** <a href="https://github.com/akcochrane/TEfits" target ="_blank">https://github.com/akcochrane/TEfits</a>
**Version:** v0.77.01
**Editor:** @cMadan
**Reviewers:** @ejhigson, @paul-buerkner
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the

[2020-05-22 19:37] whedon commented on #2226
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-22 19:37] whedon commented on #2226
[code]

[2020-05-22 19:38] whedon commented on #2226
[code]

[2020-05-22 19:38] whedon commented on #2226
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02226/joss.02226/10.21105.joss.02226.pdf)

[2020-05-22 19:40] blthayer commented on #2216
@danielskatz - Thank you for volunteering to be our editor!

I've reviewed the list of potential reviewers, and you're right, there don't seem to be too many in the power systems domain. I did find `robinroche` who listed Python as a language of choice, and Power Systems as a domain area.

Myself and my coauthors planned to reach out into our research community to find individuals who have a Power

[2020-05-22 19:43] danielskatz commented on #2216
sounds good

[2020-05-22 19:44] arfon commented on #2226
:wave: @akcochrane - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the week we've had > 50 papers submitted and as such, yours has been put i

[2020-05-22 19:44] danielskatz commented on #2216
👋 @robinroche - Would you be able to review this submission for JOSS?  Given the Covid-19 situation, we are being very flexible on reviewing times

[2020-05-22 19:47] pratikvn commented on #2213
@whedon generate pdf from branch joss-paper

[2020-05-22 19:47] whedon opened #2227 "[PRE REVIEW]: FIPS: An R Package for Biomathematical Modelling of Human Fatigue Related Impairment"
**Submitting author:** @humanfactors (<a href="http://orcid.org/0000-0003-4143-7308">Michael David Wilson</a>)
**Repository:** <a href="https://github.com/humanfactors/FIPS" target ="_blank">https://github.com/humanfactors/FIPS</a>
**Version:** 0.1.0
**Editor:** @oliviaguest
**Reviewers:** @craddm, @anibalsolon
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due t

[2020-05-22 19:48] whedon commented on #2227
[code]

[2020-05-22 19:48] whedon commented on #2213
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02213/joss.02213/10.21105.joss.02213.pdf)

[2020-05-22 19:48] whedon commented on #2227
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02227/joss.02227/10.21105.joss.02227.pdf)

[2020-05-22 19:48] arfon commented on #2227
:wave: @humanfactors - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the week we've had > 50 papers submitted and as such, yours has been put

[2020-05-22 19:49] whedon opened #2228 "[PRE REVIEW]: rgee: An R package for interacting with Google Earth Engine"
**Submitting author:** @csaybar (<a href="http://orcid.org/0000-0003-2745-9535">Cesar Luis Aybar Camacho</a>)
**Repository:** <a href="https://github.com/r-spatial/rgee" target ="_blank">https://github.com/r-spatial/rgee</a>
**Version:** v.0.5.0
**Editor:** @hugoledoux
**Reviewers:** @appelmar, @gena
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the chall

[2020-05-22 19:49] whedon commented on #2228
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-22 19:50] arfon commented on #2228
:wave: @csaybar - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the week we've had > 50 papers submitted and as such, yours has been put in o

[2020-05-22 19:50] whedon commented on #2228
PDF failed to compile for issue #2228 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2228 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-45a043c4bfc2/lib/whedo

[2020-05-22 19:50] whedon opened #2229 "[PRE REVIEW]: OSeMOSYS-CR: Costa Rica’s Energy System Optimization Model"
**Submitting author:** @guidogz (<a href="http://orcid.org/0000-0002-0256-1640">Guido Godínez-Zamora</a>)
**Repository:** <a href="https://github.com/EPERLab/OSeMOSYS-CR" target ="_blank">https://github.com/EPERLab/OSeMOSYS-CR</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2020-05-22 19:54] arfon commented on #2210
:wave: @bblum9, @nhejazi, @jjharden, @AvianaGlobal - would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-05-22 19:55] mdmurbach commented on #2219
👋 @arfon Thanks for all your work!

I know we're still waiting on an editor, but I've looked through the list above and listed a few reviewers for now 😄 I'll also plan on fixing the DOI issue flagged above. Please let me know if there is anything else I can be of help with. Hope you're staying healthy; have a good weekend! 🚀

#### Potential reviewers
- `EricaEgg` <-- we've worked in the same lab t

[2020-05-22 19:56] Alcampopiano commented on #2193
@csoneson Absolutely. I will add a statement to that effect.

[2020-05-22 19:56] arfon commented on #2228
@whedon generate pdf

[2020-05-22 19:57] arfon commented on #2229
@whedon generate pdf

[2020-05-22 19:57] arfon commented on #2228
@whedon check repository

[2020-05-22 19:58] whedon commented on #2229
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02229/joss.02229/10.21105.joss.02229.pdf)

[2020-05-22 19:58] arfon commented on #2229
@whedon check repository

[2020-05-22 19:59] arfon commented on #2228
@whedon generate pdf

[2020-05-22 19:59] whedon commented on #2229
[code]

[2020-05-22 19:59] whedon commented on #2229
Failed to discover a valid open source license.

[2020-05-22 19:59] whedon commented on #2228
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02228/joss.02228/10.21105.joss.02228.pdf)

[2020-05-22 20:01] arfon commented on #2229
:wave: @guidogz - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the week we've had > 50 papers submitted and as such, yours has been put in o

[2020-05-22 20:02] whedon opened #2230 "[PRE REVIEW]: dcgp: Differentiable Cartesian Genetic Programming made easy."
**Submitting author:** @darioizzo (<a href="http://orcid.org/0000-0002-9846-8423">Dario Izzo</a>)
**Repository:** <a href="https://github.com/darioizzo/dcgp" target ="_blank">https://github.com/darioizzo/dcgp</a>
**Version:** v1.5.1
**Editor:** @VivianePons
**Reviewers:** @Ohjeah, @shah314
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of th

[2020-05-22 20:02] whedon commented on #2230
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-22 20:02] whedon commented on #2230
[code]

[2020-05-22 20:03] whedon commented on #2230
[code]

[2020-05-22 20:03] arfon commented on #2230
:wave: @darioizzo - thanks for your submission to JOSS. Do you think you could move this paper into the same repository as the software?

As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earl

[2020-05-22 20:03] whedon commented on #2230
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02230/joss.02230/10.21105.joss.02230.pdf)

[2020-05-22 20:06] CarstenCroonenbroeck commented on #2190
Dear Arfon,

 

okay, no problem. I uploaded everything to a sub folder "package" you will easily find.

 

Thanks and best regards

 

Carsten

 
 

Gesendet: Freitag, 22. Mai 2020 um 18:43 Uhr
Von: "Arfon Smith" <notifications@github.com>
An: "openjournals/joss-reviews" <joss-reviews@noreply.github.com>
Cc: "CarstenCroonenbroeck" <c.croonenbroeck@gmx.de>, "Mention" <mention@noreply.github.com>
B

[2020-05-22 20:25] mdmurbach commented on #2219
Fixed the scipy reference issue above 🎉

@whedon generate pdf

[2020-05-22 20:35] jeffcsauer commented on #2223
Sure, no problem! Thanks for assigning and inviting an editor.

[Link to `arcos` (r) repository](https://github.com/wpinvestigative/arcos)

[Link to `arcospy` (python) repository](https://github.com/jeffcsauer/arcospy)

Both links are also present in the article under the Availability section.

[2020-05-22 20:43] Kevin-Mattheus-Moerman commented on #2187
@whedon assign @hugoledoux as reviewer

[2020-05-22 20:43] whedon commented on #2187
OK, @hugoledoux is now a reviewer

[2020-05-22 20:45] cadop commented on #2211
Hello,

From the excel file, I found the following list of people that I think fit as reviewers (I noticed trallard is also invited already, so it seems like a great fit!).

[code]

[2020-05-22 20:48] martinagvilas commented on #2193
@csoneson @Alcampopiano I would be glad to review this submission

[2020-05-22 20:52] kloppen commented on #2198
@usethedata Thanks for volunteering to be the editor for this submission!

I did a cursory search of the reviewers list for people with R as a preferred language and who have listed domains that are somehow related to `cmstatr` and came up with a few names.
- trallard
- myousefi2016
- njtierney
- JonasMoss

This list is certainly not exhaustive. You must have a fairly good idea of which reviewers

[2020-05-22 20:57] whedon opened #2231 "[PRE REVIEW]: iRONS: interactive Reservoir Operation Notebooks and Software for water reservoir systems simulation and optimisation"
**Submitting author:** @AndresPenuela (<a href="http://orcid.org/0000-0001-8039-975X">Andres Peñuela</a>)
**Repository:** <a href="https://github.com/AndresPenuela/iRONS" target ="_blank">https://github.com/AndresPenuela/iRONS</a>
**Version:** v1.0.0
**Editor:** @kbarnhart
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2020-05-22 20:57] whedon commented on #2231
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-22 20:58] whedon commented on #2231
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02231/joss.02231/10.21105.joss.02231.pdf)

[2020-05-22 20:59] arfon commented on #2219
@whedon generate pdf

[2020-05-22 20:59] arfon commented on #2219
@whedon check references

[2020-05-22 21:00] whedon commented on #2219
[code]

[2020-05-22 21:00] arfon commented on #2219
@mdmurbach - DOIs should be listed as e.g. `10.1038/s41592-019-0686-2` in the BibTeX please.

[2020-05-22 21:03] mdmurbach commented on #2219
👍 thanks! Just pushed a fix

[2020-05-22 21:14] lskatz commented on #2221
Thank you @arfon!  This is the second manuscript that I have put through JOSS and the first one, [Mashtree](https://github.com/openjournals/joss-reviews/issues/1750), was a good experience.  Additionally if it helps makes things go more smoothly, I would like to highlight that I signed up as a reviewer last year and would be more than glad to help review for JOSS.

I think that some potential revi

[2020-05-22 21:15] mjsottile commented on #2213
:+1: @kthyng - I can take this submission.

[2020-05-22 21:15] mjsottile commented on #2213
@whedon assign @mjsottile as editor

[2020-05-22 21:15] whedon commented on #2213
OK, the editor is @mjsottile

[2020-05-22 21:19] mjsottile commented on #2217
:+1: @arfon Sure!  Actually, this is in my area - image processing is one of my research areas and I've worked on problems similar to the one that this submission focuses on.

[2020-05-22 21:19] mjsottile commented on #2217
@whedon assign @mjsottile as editor

[2020-05-22 21:19] whedon commented on #2217
OK, the editor is @mjsottile

[2020-05-22 21:29] scwest commented on #2044
Hi Mark,

I've submitted a full response to the review #3 (Issue #5). Thank you for
your patience!

Sean

On Wed, May 20, 2020 at 12:22 PM Sean West <seanchristianwest@gmail.com>
wrote:

[2020-05-22 21:31] arfon commented on #2217
Perfect, even better!

[2020-05-22 21:42] nhejazi commented on #2210
Sure! Looks very interesting, would be happy to help out by (co-)reviewing

[2020-05-22 21:44] karthik commented on #2019
eero is unable to review. Continuing looking.

[2020-05-22 21:47] arfon commented on #2210
@whedon add @nhejazi as reviewer

[2020-05-22 21:48] whedon commented on #2210
OK, @nhejazi is now a reviewer

[2020-05-22 21:48] arfon commented on #2210
Great, thanks @nhejazi. The review won't actually start until we've identified a second reviewer so please sit tight for now.

[2020-05-22 22:27] jjharden commented on #2210
I can review this paper.

Jeff

[2020-05-22 22:36] arbennett commented on #2193
@csoneson @Alcampopiano - Sure, I'd be happy to review this!

[2020-05-22 22:43] MAnalytics commented on #2019
?Thanks for the efforts. I really hope you get someone very soon.

________________________________
From: Karthik Ram <notifications@github.com>
Sent: 22 May 2020 22:44
To: openjournals/joss-reviews
Cc: Monsuru Adepeju; Mention
Subject: Re: [openjournals/joss-reviews] [PRE REVIEW]: Akmedoids R package for generating directionally-homogeneous clusters of longitudinal data sets (#2019)

eero is unab

[2020-05-23 00:54] arfon commented on #2210
@whedon add @jjharden as reviewer

[2020-05-23 00:54] whedon commented on #2210
OK, @jjharden is now a reviewer

[2020-05-23 00:54] arfon commented on #2210
@whedon start review

[2020-05-23 00:54] whedon opened #2232 "[REVIEW]: policytree: Policy learning via doubly robust empirical welfare maximization over trees"
**Submitting author:** @erikcs (<a href="http://orcid.org/0000-0001-6093-1390">Erik Sverdrup</a>)
**Repository:** <a href="https://github.com/grf-labs/policytree" target ="_blank">https://github.com/grf-labs/policytree</a>
**Version:** v0.9.2
**Editor:** @arfon
**Reviewer:** @nhejazi, @jjharden
**Archive:** <a href="https://doi.org/10.5281/zenodo.3903433" target="_blank">10.5281/zenodo.3903433</a>

[2020-05-23 00:54] whedon commented on #2210
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2232.

[2020-05-23 00:54] #2210 closed

[2020-05-23 00:54] whedon commented on #2232
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @nhejazi, @jjharden it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2020-05-23 00:54] whedon commented on #2232
PDF failed to compile for issue #2232 with the following error:

 Can't find any papers to compile :-(

[2020-05-23 00:55] arfon commented on #2210
@nhejazi, @jjharden - thanks so much for agreeing to review this submission. See you over in #2232 where the actual review will take place.

[2020-05-23 00:55] arfon commented on #2232
@whedon generate pdf from branch oss-paper

[2020-05-23 00:55] whedon commented on #2232
[code]

[2020-05-23 00:55] arfon commented on #2232
@nhejazi, @jjharden - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2020-05-23 00:56] whedon commented on #2232
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02232/joss.02232/10.21105.joss.02232.pdf)

[2020-05-23 02:19] dvm-shlee commented on #2206
@arfon Thank you for suggesting the editor! I would like to ask for reviewing this paper to following reviewers, @mih, @mwegrzyn, @peerherholz. Thank you! Please let me know if you have any questions or comments regarding this software. Thanks!

[2020-05-23 03:22] adithirgis commented on #2205
Hello!

Here are some more suggestions:
- cdcrabtree
-edonnachie
- mikerspencer
- nistara
- aj2duncan
-ibarraespinosa
- briatte
- cimentadaj
- jhollist

Thank you and stay safe
Warm Regards
Adithi R. Upadhya
ILK Labs

On Sat, May 23, 2020 at 12:19 AM Arfon Smith <notifications@github.com>
wrote:

[2020-05-23 04:53] sayanddude commented on #2209
Hi, updated the paper.bib file in the github repo and re-generating the pdf to resolve the issue of "Invalid DOIs"

[2020-05-23 04:53] sayanddude commented on #2209
@whedon generate pdf

[2020-05-23 04:55] whedon commented on #2209
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02209/joss.02209/10.21105.joss.02209.pdf)

[2020-05-23 05:09] sayanddude commented on #2209
Hi, please find below my suggestions for potential reviewers:
nhejazi
jsta
robohyun66
road2stat

[2020-05-23 05:57] csaybar commented on #2228
Hi @arfon, thanks for considering **rgee** for reviewing. I would like to suggest as potential reviewers to: **mikejohnson51 GISerDaishaoqing  kauedesousa jsta  jhollist nuest**

[2020-05-23 06:24] robinroche commented on #2216
Hi all, yes, having already worked with SimAuto and PowerWorld, I am interested in reviewing this submission.

[2020-05-23 07:58] richardjgowers commented on #2175
Hi @joaomcteixeira we're waiting on the other review, which might be currently delayed.  I think for now we'll just have to wait a bit.

[2020-05-23 08:07] richardjgowers commented on #2206
@arfon ok sure.  The three suggested reviewers look ok to me too @mih @mwegrzyn @PeerHerholz would you be available to review this paper?

[2020-05-23 08:07] richardjgowers commented on #2206
@whedon assign @richardjgowers as editor

[2020-05-23 08:08] whedon commented on #2206
OK, the editor is @richardjgowers

[2020-05-23 08:22] richardjgowers commented on #2215
@uzmakhann I think this project would benefit (and be easier to review) from getting a more typical python package structure, something like this: https://docs.python-guide.org/writing/structure/#structure-of-the-repository

[2020-05-23 08:54] mih commented on #2206
@richardjgowers I can do that. Thx!

[2020-05-23 09:40] ejhigson commented on #2226
@akcochrane @arfon I would be happy to review this software once the review process begins if that would be helpful.

[2020-05-23 09:41] AndresPenuela commented on #2231
@whedon commands

________________________________
De: whedon <notifications@github.com>
Enviado: Friday, May 22, 2020 9:57:21 PM
Para: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: Andres Penuela-Fernandez <andres.penuela-fernandez@bristol.ac.uk>; Mention <mention@noreply.github.com>
Asunto: [openjournals/joss-reviews] [PRE REVIEW]: iRONS: interactive Reservoir Operation Noteboo

[2020-05-23 09:41] whedon commented on #2231
Here are some things you can ask me to do:

[code]

[2020-05-23 09:42] ejhigson commented on #2211
@trallard @cadop @kthyng I would also be happy to review this submission - it is a good fit for my current research interests.

[2020-05-23 09:43] AndresPenuela commented on #2231
@whedon list reviewers

Enviado desde Correo<https://go.microsoft.com/fwlink/?LinkId=550986> para Windows 10

________________________________
De: whedon <notifications@github.com>
Enviado: Saturday, May 23, 2020 10:42:00 AM
Para: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: Andres Penuela-Fernandez <andres.penuela-fernandez@bristol.ac.uk>; Mention <mention@noreply.github.com>
A

[2020-05-23 09:43] whedon commented on #2231
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2020-05-23 10:51] ejhigson commented on #2214
Hi @arm61 - this is a really neat piece of software, nice work!

I have a few minor questions about the installation process. Your documentation says:
[code]
Is there a reason that the separate ```python setup.py build``` step is needed? You could also consider putting the requirements into the ```install_requires``` property in ``setup.py`` to eliminate the first step too. It might be nice to lis

[2020-05-23 11:13] ejhigson commented on #2214
A minor fix in the documentation - I think the hyperlink to the contributing guidelines in README.md is broken?

[2020-05-23 11:18] ejhigson commented on #2214
@arm61 please could you explain the contributions of the second author of the paper Tim Snow? I see that on the github repo you seem to be the only person to have contributed code(?)

[2020-05-23 11:25] arm61 commented on #2214
Nice catch @ejhigson, I have now added `dynasty>=1.0.1` to the `requirements.txt` and to the `install_requires` and `setup_requires` of the `setup.py`, this is currently in [PR #5](https://github.com/arm61/uravu/pull/5) and which is now pulled.

The difference between the readthedocs and `README.md` on Github is that the former is meant to be the general purpose installation while the later is for

[2020-05-23 11:41] ejhigson commented on #2214
That's great, thank you very much @arm61! As I understand it Tim Snow's non-code contributions meet the authorship criteria (https://joss.readthedocs.io/en/latest/submitting.html#authorship) so that's all good - thank you for explaining.

Looking at the paper: I think there is a typo in the first sentence: "interface data analysis" -> "interface for data analysis"? Also do you know of any other si

[2020-05-23 11:56] arfon commented on #2205
:wave: @cimentadaj, @edonnachie, @ibarraespinosa - would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-05-23 12:01] arfon commented on #2231
:wave: @AndresPenuela - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the week we've had > 50 papers submitted and as such, yours has been pu

[2020-05-23 12:01] whedon opened #2233 "[PRE REVIEW]: Methods and Algorithms for Correlation Analysis in R"
**Submitting author:** @DominiqueMakowski (<a href="http://orcid.org/0000-0001-5375-9967">Dominique Makowski</a>)
**Repository:** <a href="https://github.com/easystats/correlation" target ="_blank">https://github.com/easystats/correlation</a>
**Version:** v0.2.1
**Editor:** @mikldk
**Reviewers:** @markhwhiteii, @mmrabe
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:*

[2020-05-23 12:01] whedon commented on #2233
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-23 12:01] whedon commented on #2233
[code]

[2020-05-23 12:02] whedon commented on #2233
[code]

[2020-05-23 12:02] whedon commented on #2233
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02233/joss.02233/10.21105.joss.02233.pdf)

[2020-05-23 12:02] arfon commented on #2233
:wave: @DominiqueMakowski - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the week we've had > 50 papers submitted and as such, yours has bee

[2020-05-23 12:02] whedon opened #2234 "[PRE REVIEW]: WDPM: the Wetland DEM Ponding Model"
**Submitting author:** @KevinShook (<a href="http://orcid.org/0000-0003-0363-9929">Kevin Shook</a>)
**Repository:** <a href="https://github.com/CentreForHydrology/WDPM" target ="_blank">https://github.com/CentreForHydrology/WDPM</a>
**Version:** v1.0.0
**Editor:** @kbarnhart
**Reviewers:** @r-barnes, @awickert, @KCallaghan
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warni

[2020-05-23 12:02] whedon commented on #2234
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-23 12:03] whedon commented on #2234
[code]

[2020-05-23 12:03] whedon commented on #2234
[code]

[2020-05-23 12:03] whedon commented on #2234
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02234/joss.02234/10.21105.joss.02234.pdf)

[2020-05-23 12:04] arfon commented on #2234
:wave: @KevinShook - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the week we've had > 50 papers submitted and as such, yours has been put i

[2020-05-23 12:19] whedon opened #2235 "[PRE REVIEW]: AutoFunc: A Python package for automating and verifying functional modeling"
**Submitting author:** @AlexMikes (<a href="http://orcid.org/0000-0002-7873-5758">Alex Mikes</a>)
**Repository:** <a href="https://github.com/AlexMikes/AutoFunc" target ="_blank">https://github.com/AlexMikes/AutoFunc</a>
**Version:** v0.2.1
**Editor:** @gkthiruvathukal
**Reviewers:** @cmccomb, @e-dub
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the chall

[2020-05-23 12:19] whedon commented on #2235
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-23 12:19] whedon commented on #2235
[code]

[2020-05-23 12:19] whedon commented on #2235
[code]

[2020-05-23 12:19] whedon commented on #2235
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02235/joss.02235/10.21105.joss.02235.pdf)

[2020-05-23 12:20] arfon commented on #2235
:wave: @AlexMikes - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the week we've had > 50 papers submitted and as such, yours has been put in

[2020-05-23 12:23] arm61 commented on #2214
Thanks for catching that typo @ejhigson (it must have slipped through that particular gap in my brain!). I have resolved this and included a brief discussion of the uniqueness of `uravu` in [PR #11](https://github.com/arm61/uravu/pull/11).

As is clear from the addition I believe that `uravu` is the only package that offers Bayesian data modelling in such a simple interface. However, I am more tha

[2020-05-23 12:23] arm61 commented on #2214
@whedon generate pdf

[2020-05-23 12:23] whedon commented on #2214
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02214/joss.02214/10.21105.joss.02214.pdf)

[2020-05-23 12:25] arm61 commented on #2214
Oops, looks like I missed an `@` symbol from a citation there. Lets try again!

[2020-05-23 12:25] arm61 commented on #2214
@whedon generate pdf

[2020-05-23 12:25] whedon commented on #2214
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02214/joss.02214/10.21105.joss.02214.pdf)

[2020-05-23 12:33] teamPSG commented on #2201
Hi @oliviaguest! Some help for reviewers: I suggest Bernát Kocsis (bernat_kocsis@hms.harvard.edu, https://sleep.med.harvard.edu/people/faculty/154/Bernat+Kocsis+MD+PhD) and Péter Barthó (peter.bartho@gmail.com, http://www.ttk.hu/en/phonebook/peter-bartho). From your list maybe sappelhoff, TomDonoghue, and ixjlyons. Hope this help. Best, Tamás Kiss (teamPSG)

[2020-05-23 12:49] oliviaguest commented on #2201
Hi @teamPSG — thank you, this is very useful. I have sent a few emails off, once I get replies (or enough times passes) I'll decide if I should ask any of these people too. Much appreciated. 😊

[2020-05-23 13:55] Kevin-Mattheus-Moerman commented on #2188
@whedon assign @Kevin-Mattheus-Moerman as editor

[2020-05-23 13:56] whedon commented on #2188
OK, the editor is @Kevin-Mattheus-Moerman

[2020-05-23 14:00] jcolomb commented on #2204
looking for R, machine learning, statistics, (and not epidemiology) none found for Rshiny.
(PS would be cool to have a possibility to filter that list, maybe directly from the result of whedon software report ?).

nhejazi
jayrobwilliams
ati-ozgur
rcannood

[2020-05-23 14:15] whedon opened #2236 "[PRE REVIEW]: ObsPlus: A Pandas Centric ObsPy Expansion Pack"
**Submitting author:** @d-chambers (<a href="http://orcid.org/0000-0003-3656-6607">Derrick Chambers</a>)
**Repository:** <a href="https://github.com/niosh-mining/obsplus" target ="_blank">https://github.com/niosh-mining/obsplus</a>
**Version:** v0.1.0
**Editor:** @leouieda
**Reviewers:** @seisman, @ThomasLecocq
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due t

[2020-05-23 14:15] whedon commented on #2236
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-23 14:16] whedon commented on #2236
[code]

[2020-05-23 14:16] whedon commented on #2236
[code]

[2020-05-23 14:16] whedon commented on #2236
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02236/joss.02236/10.21105.joss.02236.pdf)

[2020-05-23 14:20] arfon commented on #2236
:wave: @leouieda - I realize you're busy until early June but this looks like a good fit for you when you're available again. As such, I'll go ahead and assign this to you. Any concerns, just let me know.

[2020-05-23 14:20] arfon commented on #2236
@whedon assign @leouieda as editor

[2020-05-23 14:20] whedon commented on #2236
OK, the editor is @leouieda

[2020-05-23 14:21] arfon commented on #2236
:wave: @d-chambers - the handling editor is going to be busy for the next couple of weeks but should be able to pick this up then. Your patience is appreciated!

[2020-05-23 14:32] whedon opened #2237 "[PRE REVIEW]: spiR, An R package to access social progress data"
**Submitting author:** @warint (<a href="http://orcid.org/0000-0002-5921-3428">Thierry Warin</a>)
**Repository:** <a href="https://github.com/warint/spiR" target ="_blank">https://github.com/warint/spiR</a>
**Version:** v0.1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, J

[2020-05-23 14:32] whedon commented on #2237
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-23 14:32] whedon commented on #2237
PDF failed to compile for issue #2237 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2237 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-45a043c4bfc2/lib/whedo

[2020-05-23 14:33] arfon commented on #2237
@whedon generate pdf

[2020-05-23 14:33] whedon commented on #2237
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02237/joss.02237/10.21105.joss.02237.pdf)

[2020-05-23 14:35] arfon commented on #2237
:wave: @warint - Thanks for your submission to JOSS. From a quick inspection of the repository, it looks like there's little/no software actually present. Could you clarify where the software is located?

Additionally, as described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting t

[2020-05-23 15:14] danielskatz commented on #2216
Thanks very much.  I'll add you as into the system a reviewer, but we won't actually start until we find another reviewer as well.

[2020-05-23 15:15] whedon commented on #2216
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-05-23 15:15] danielskatz commented on #2216
@whedon assign @robinroche as reviewer

[2020-05-23 15:15] whedon commented on #2216
OK, @robinroche is now a reviewer

[2020-05-23 15:15] joaomcteixeira commented on #2175
Hi @richardjgowers ,
@Luthaf made some comments on the review as issues in `taurenmd` repository, I am now addressing them: https://github.com/joaomcteixeira/taurenmd/issues/35, https://github.com/joaomcteixeira/taurenmd/issues/36, https://github.com/joaomcteixeira/taurenmd/issues/41, https://github.com/joaomcteixeira/taurenmd/issues/45

[2020-05-23 15:15] garretrc commented on #2205
Sorry, bad time for me right now. Still willing to do reviews in a couple
of months!

On Fri, May 22, 2020, 1:26 PM Arfon Smith <notifications@github.com> wrote:

[2020-05-23 15:21] danielskatz commented on #2204
We have a bunch of ideas for potential changes in progress to make this process better, and hope to start implementing them soon

[2020-05-23 15:22] danielskatz commented on #2204
👋 @nhejazi - Would you be willing to review this submission?

[2020-05-23 15:23] danielskatz commented on #2204
👋 @jayrobwilliams - Would you be willing to review this submission?

[2020-05-23 15:23] danielskatz commented on #2204
👋 @ati-ozgur - Would you be willing to review this submission?

[2020-05-23 15:24] danielskatz commented on #2204
👋 @rcannood - Would you be willing to review this submission?

[2020-05-23 15:30] Alcampopiano commented on #2193
Hello @csoneson,

As you have requested, I have added the following statements (and related references) regarding other useful Python libraries that offer methods for robust statistics:

for robust model fitting [@seabold2010statsmodels] and visualizations [@ho2019moving],
Hypothesize focuses on providing a larger selection of robust methods
for comparing groups and measuring associations, especia

[2020-05-23 15:36] AlexMikes commented on #2235
Kyle Niemeyer

[2020-05-23 15:40] bmcfee commented on #2154
Thanks @faroit for laying this out carefully.  I agree with point 2.

Point 1 is a bit trickier, and I can see both sides of the issue here. (This is why I've left the "performance" box unchecked for now.)

- On the one hand, the authors are making an existential claim that their pre-trained model achieves the reported scores on musdb.  I haven't verified this exactly, but in working with this pac

[2020-05-23 15:50] faroit commented on #2154
@bmcfee Just adding to your comments that point 1 was addressed yesterday as documented [here](https://github.com/deezer/spleeter/issues/81#issuecomment-632769524).

That means there are settings available now for reproducible training on publicly available data. Even though the scores are significantly below SOTA, I still see them as very valuable for other researchers. And I therefore think that

[2020-05-23 15:56] warint commented on #2237
Please find the R package here: https://github.com/warint/spiR

Thanks,

Th.

From: Arfon Smith <notifications@github.com>
Sent: Saturday, May 23, 2020 10:36 AM
To: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: Thierry Warin <thwarin@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [openjournals/joss-reviews] [PRE REVIEW]: spiR, An R package to access social progress

[2020-05-23 15:58] bmcfee commented on #2154
Oh great, I hadn't seen that yet.  I would vote for paper + docs/wiki.

[2020-05-23 16:31] ibarraespinosa commented on #2205
Hello guys, I can do it but I will start by n a couple of daya. Thanks for the invitation

Sent from Outlook Mobile<https://aka.ms/blhgte>

________________________________
From: Robert Garrett <notifications@github.com>
Sent: Saturday, May 23, 2020 12:16:10 PM
To: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: Sergio Ibarra Espinosa <zergioibarra@gmail.com>; Mention <mention@nore

[2020-05-23 16:45] arfon commented on #2193
@whedon generate pdf

[2020-05-23 16:46] arfon commented on #2193
@Alcampopiano - commands to Whedon need to be in standalone comments ☝️

[2020-05-23 16:46] whedon commented on #2193
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02193/joss.02193/10.21105.joss.02193.pdf)

[2020-05-23 16:47] arfon commented on #2237
Thanks @warint. It's better for JOSS if the paper is in the same repository as the software, perhaps under the vignettes. Is this something you'd be willing to do?

[2020-05-23 16:48] arfon commented on #2205
@whedon add @ibarraespinosa as reviewer

[2020-05-23 16:48] whedon commented on #2205
OK, @ibarraespinosa is now a reviewer

[2020-05-23 16:49] arfon commented on #2205
Thanks for agreeing to review @ibarraespinosa. The review process won't actually start until we've identified a second reviewer, so please sit tight for now!

[2020-05-23 16:50] arfon commented on #2205
:wave: @aj2duncan @nistara @mikerspencer - would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-05-23 16:51] whedon opened #2238 "[PRE REVIEW]: Flint: a simulator for biological and physiological models in ordinary and stochastic differential equations"
**Submitting author:** @tabe (<a href="http://orcid.org/0000-0002-7074-4561">Takeshi Abe</a>)
**Repository:** <a href="https://github.com/flintproject/Flint" target ="_blank">https://github.com/flintproject/Flint</a>
**Version:** v2.3.0
**Editor:** @majensen
**Reviewers:** @funasoul, @mstimberg
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2020-05-23 16:51] whedon commented on #2238
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-23 16:51] whedon commented on #2238
PDF failed to compile for issue #2238 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2238 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-45a043c4bfc2/lib/whedo

[2020-05-23 16:51] whedon commented on #2238
[code]

[2020-05-23 16:51] arfon commented on #2238
@whedon generate pdf

[2020-05-23 16:52] arfon commented on #2238
:wave: @tabe - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the week we've had > 50 papers submitted and as such, yours has been put in our

[2020-05-23 16:52] arfon commented on #2238
@whedon check repository

[2020-05-23 16:52] whedon commented on #2238
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02238/joss.02238/10.21105.joss.02238.pdf)

[2020-05-23 16:53] whedon opened #2239 "[PRE REVIEW]: Peacock.jl: Photonic crystals in Julia"
**Submitting author:** @sp94 (<a href="http://orcid.org/0000-0003-0485-7047">Samuel John Palmer</a>)
**Repository:** <a href="https://github.com/sp94/Peacock.jl" target ="_blank">https://github.com/sp94/Peacock.jl</a>
**Version:** v0.1.0
**Editor:** @dpsanders
**Reviewers:** mlxd, @nmoran
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2020-05-23 16:53] whedon commented on #2239
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-23 16:53] whedon commented on #2239
[code]

[2020-05-23 16:53] whedon commented on #2239
[code]

[2020-05-23 16:54] whedon commented on #2238
[code]

[2020-05-23 16:54] whedon commented on #2239
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02239/joss.02239/10.21105.joss.02239.pdf)

[2020-05-23 16:54] arfon commented on #2239
👋 @sp94 - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the week we've had > 50 papers submitted and as such, yours has been put in our backl

[2020-05-23 16:54] whedon opened #2240 "[PRE REVIEW]: xrdfit: A Python package for fitting synchrotron X-ray diffraction spectra"
**Submitting author:** @merrygoat (<a href="http://orcid.org/0000-0002-5430-6924">Peter Crowther</a>)
**Repository:** <a href="https://github.com/LightForm-group/xrdfit" target ="_blank">https://github.com/LightForm-group/xrdfit</a>
**Version:** v1.0.0
**Editor:** @jgostick
**Reviewers:** @KedoKudo
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challen

[2020-05-23 16:54] whedon commented on #2240
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-23 16:55] whedon commented on #2240
[code]

[2020-05-23 16:55] whedon commented on #2240
[code]

[2020-05-23 16:55] arfon commented on #2240
:wave: @merrygoat - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the week we've had > 50 papers submitted and as such, yours has been put in

[2020-05-23 16:55] whedon commented on #2240
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02240/joss.02240/10.21105.joss.02240.pdf)

[2020-05-23 17:12] csoneson commented on #2193
@martinagvilas, @arbennett - brilliant, thank you for your quick replies. Since we now have two reviewers I'm going to start the actual review issue, where you will find your checklists and more details on the process.

[2020-05-23 17:12] csoneson commented on #2193
@whedon assign @martinagvilas as reviewer

[2020-05-23 17:12] whedon commented on #2193
OK, @martinagvilas is now a reviewer

[2020-05-23 17:12] csoneson commented on #2193
@whedon add @arbennett as reviewer

[2020-05-23 17:13] whedon commented on #2193
OK, @arbennett is now a reviewer

[2020-05-23 17:13] csoneson commented on #2193
@whedon start review

[2020-05-23 17:13] whedon opened #2241 "[REVIEW]: Hypothesize: Robust Statistics for Python"
**Submitting author:** @Alcampopiano (<a href="http://orcid.org/0000-0002-3280-4447">Allan Campopiano</a>)
**Repository:** <a href="https://github.com/Alcampopiano/hypothesize" target ="_blank">https://github.com/Alcampopiano/hypothesize</a>
**Version:** v1.1.0
**Editor:** @csoneson
**Reviewer:** @martinagvilas, @arbennett
**Archive:** <a href="https://doi.org/10.5281/zenodo.3900100" target="_blan

[2020-05-23 17:13] whedon commented on #2193
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2241.

[2020-05-23 17:13] #2193 closed

[2020-05-23 17:13] whedon commented on #2241
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @martinagvilas, @arbennett it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](ht

[2020-05-23 17:13] whedon commented on #2241
[code]

[2020-05-23 17:14] whedon commented on #2241
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02241/joss.02241/10.21105.joss.02241.pdf)

[2020-05-23 17:14] csoneson commented on #2241
👋  @martinagvilas, @arbennett - thanks for accepting to review this submission! This is the review issue. Please have a look at the instructions above, and don't hesitate to ping me if anything is unclear or if you have questions.

[2020-05-23 17:20] whedon opened #2242 "[PRE REVIEW]: ExoTiC-ISM: A Python package for marginalised exoplanet transit parameters across a grid of systematic instrument models"
**Submitting author:** @ivalaginja (<a href="http://orcid.org/0000-0003-1783-5023">Iva Laginja</a>)
**Repository:** <a href="https://github.com/hrwakeford/ExoTiC-ISM" target ="_blank">https://github.com/hrwakeford/ExoTiC-ISM</a>
**Version:** v1.1.0
**Editor:** @xuanxu
**Reviewers:** @hayesla, @mattpitkin
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the c

[2020-05-23 17:20] whedon commented on #2242
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-23 17:20] arfon commented on #2242
:wave: @ivalaginja - thanks for your submission to JOSS. Does this paper accompany a paper in a AAS journal?

[2020-05-23 17:20] whedon commented on #2242
PDF failed to compile for issue #2242 with the following error:

 Can't find any papers to compile :-(

[2020-05-23 17:21] arfon commented on #2242
@whedon generate pdf

[2020-05-23 17:23] whedon commented on #2242
PDF failed to compile for issue #2242 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2242 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-45a043c4bfc2/lib/whedo

[2020-05-23 17:24] arfon commented on #2242
@whedon generate pdf

[2020-05-23 17:28] whedon commented on #2242
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02242/joss.02242/10.21105.joss.02242.pdf)

[2020-05-23 17:32] Alcampopiano commented on #2241
The missing DOI suggested above has been verified and added.

[2020-05-23 17:35] arfon commented on #2242
:wave: @xuanxu - would you be able to edit this submission for JOSS?

[2020-05-23 17:36] arfon commented on #2242
@ivalaginja @xuanxu - just a heads up that this repository is very large (lots of data files) so Whedon may struggle to work properly here and may need some manual work on my side.

[2020-05-23 17:40] ivalaginja commented on #2242
@arfon thanks! No, this paper does not accompany a paper in any AAS journal. We tried to reduce the repository size by cleaning out the history before submission, but with limited success. If there is anything that can be done from our side concerning that issue, please let me know.

[2020-05-23 17:45] csoneson commented on #2241
@whedon generate pdf

[2020-05-23 17:46] whedon commented on #2241
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02241/joss.02241/10.21105.joss.02241.pdf)

[2020-05-23 17:47] csoneson commented on #2241
@whedon check references

[2020-05-23 17:47] whedon commented on #2241
[code]

[2020-05-23 18:09] arfon commented on #2242
OK, thanks for letting me know. Next step here is for @xuanxu to pick this up (assuming he's able to).

[2020-05-23 18:09] whedon opened #2243 "[PRE REVIEW]: PypeIt: The Python Spectroscopic Data Reduction Pipeline"
**Submitting author:** @profxj (<a href="http://orcid.org/0000-0002-7738-6875">J. Xavier Prochaska</a>)
**Repository:** <a href="https://github.com/pypeit/PypeIt" target ="_blank">https://github.com/pypeit/PypeIt</a>
**Version:** v1.0.3
**Editor:** @harpolea
**Reviewers:** @Gabriel-p, @astrom-tom
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2020-05-23 18:09] whedon commented on #2243
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-23 18:09] whedon commented on #2243
PDF failed to compile for issue #2243 with the following error:

 Can't find any papers to compile :-(

[2020-05-23 18:10] arfon commented on #2243
@whedon generate pdf from branch joss-paper-branch

[2020-05-23 18:10] whedon commented on #2243
[code]

[2020-05-23 18:10] whedon commented on #2243
[code]

[2020-05-23 18:11] whedon commented on #2243
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02243/joss.02243/10.21105.joss.02243.pdf)

[2020-05-23 18:11] arfon commented on #2243
@profxj - thanks for your submission to JOSS. Does this submission accompany a AAS paper?

[2020-05-23 18:11] warint commented on #2237
Oh, yes, sure, sorry.

I just put the joss article in vignettes > joss on https://github.com/warint/spiR

Do I need to do anything else?

Sorry about that again,

Thanks a ton for your help,

Th.

From: Arfon Smith <notifications@github.com>
Sent: Saturday, May 23, 2020 12:48 PM
To: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: Thierry Warin <thwarin@gmail.com>; Mention <mention@

[2020-05-23 18:18] profxj commented on #2243
It does not.

We may do an AAS Research Note, which is not peer reviewed.

Thanks

X

On Sat, May 23, 2020, 11:11 Arfon Smith <notifications@github.com> wrote:

[2020-05-23 18:41] arfon commented on #2237
@whedon generate pdf

[2020-05-23 18:41] whedon commented on #2237
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02237/joss.02237/10.21105.joss.02237.pdf)

[2020-05-23 18:45] arfon commented on #2237
Perfect, thanks! Now we'll just need to wait a little while until we've worked through the backlog of submissions.

[2020-05-23 18:45] whedon opened #2244 "[PRE REVIEW]: geemap: A Python package for interactive mapping with Google Earth Engine"
**Submitting author:** @giswqs (<a href="http://orcid.org/0000-0001-5437-4073">Qiusheng Wu</a>)
**Repository:** <a href="https://github.com/giswqs/geemap" target ="_blank">https://github.com/giswqs/geemap</a>
**Version:** v0.7.0
**Editor:** @hugoledoux
**Reviewers:** @fbiljecki, @steflhermitte
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges o

[2020-05-23 18:45] whedon commented on #2244
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-23 18:45] whedon commented on #2244
[code]

[2020-05-23 18:45] whedon commented on #2244
[code]

[2020-05-23 18:46] whedon commented on #2244
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02244/joss.02244/10.21105.joss.02244.pdf)

[2020-05-23 18:46] KevinShook commented on #2234
@whedon commands

[2020-05-23 18:46] whedon commented on #2234
Here are some things you can ask me to do:

[code]

[2020-05-23 18:46] arfon commented on #2244
@giswqs - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the week we've had > 50 papers submitted and as such, yours has been put in our backl

[2020-05-23 18:47] whedon opened #2245 "[PRE REVIEW]: Open Source Optical Coherence Tomography Software"
**Submitting author:** @spectralcode (<a href="http://orcid.org/0000-0002-4494-6127">Miroslav Zabic</a>)
**Repository:** <a href="https://github.com/spectralcode/OCTproZ" target ="_blank">https://github.com/spectralcode/OCTproZ</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewers:** @phtomlins, @jdavidli
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the

[2020-05-23 18:47] whedon commented on #2245
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-23 18:47] KevinShook commented on #2234
@whedon generate pdf

[2020-05-23 18:47] whedon commented on #2245
[code]

[2020-05-23 18:47] whedon commented on #2245
[code]

[2020-05-23 18:47] whedon commented on #2245
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02245/joss.02245/10.21105.joss.02245.pdf)

[2020-05-23 18:48] whedon commented on #2234
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02234/joss.02234/10.21105.joss.02234.pdf)

[2020-05-23 18:48] arfon commented on #2245
@spectralcode - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the week we've had > 50 papers submitted and as such, yours has been put in our

[2020-05-23 18:53] arfon commented on #2243
@profxj - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the week we've had > 50 papers submitted and as such, yours has been put in our backl

[2020-05-23 18:54] whedon opened #2246 "[PRE REVIEW]: TTLocVis: A Twitter Topic Location Visualization Package"
**Submitting author:** @xillig (<a href="http://orcid.org/0000-0003-2346-2841">Gillian Kant</a>)
**Repository:** <a href="https://github.com/xillig/TTLocVis" target ="_blank">https://github.com/xillig/TTLocVis</a>
**Version:** v0.1.0
**Editor:** @trallard
**Reviewers:** @sara-02 , @linuxscout, @aozorahime
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the

[2020-05-23 18:54] whedon commented on #2246
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-23 18:54] whedon commented on #2246
[code]

[2020-05-23 18:54] whedon commented on #2246
[code]

[2020-05-23 18:54] whedon commented on #2246
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02246/joss.02246/10.21105.joss.02246.pdf)

[2020-05-23 18:56] arfon commented on #2246
:wave: @xillig - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the week we've had > 50 papers submitted and as such, yours has been put in ou

[2020-05-23 18:56] whedon opened #2247 "[PRE REVIEW]: CollatriX: A GUI to collate MorphoMetriX outputs"
**Submitting author:** @cbirdferrer (<a href="http://orcid.org/0000-0001-7763-7761">Clara Bird</a>)
**Repository:** <a href="https://github.com/cbirdferrer/collatrix" target ="_blank">https://github.com/cbirdferrer/collatrix</a>
**Version:** v1.0.5
**Editor:** @KristinaRiemer
**Reviewers:** @evaristor, @katmratliff
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

D

[2020-05-23 18:56] whedon commented on #2247
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-23 18:57] whedon commented on #2247
[code]

[2020-05-23 18:57] arfon commented on #2247
@cbirdferrer - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the week we've had > 50 papers submitted and as such, yours has been put in our

[2020-05-23 18:57] whedon commented on #2247
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02247/joss.02247/10.21105.joss.02247.pdf)

[2020-05-23 18:57] giswqs commented on #2244
Potential reviewers with expertise in Google Earth Engine, remote sensing, and GIS:
- kmarkert
- Scivision
- Zac-HD
- usethedata
- agisga
- nagellette

[2020-05-23 18:59] KevinShook commented on #2234
@whedon generate proof

[2020-05-23 18:59] whedon commented on #2234
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-05-23 18:59] KevinShook commented on #2234
@whedon generate pdf

[2020-05-23 19:00] whedon commented on #2234
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02234/joss.02234/10.21105.joss.02234.pdf)

[2020-05-23 19:01] KevinShook commented on #2234
@whedon check references

[2020-05-23 19:01] whedon commented on #2234
[code]

[2020-05-23 19:03] KevinShook commented on #2234
@whedon check repository

[2020-05-23 19:03] whedon commented on #2234
[code]

[2020-05-23 19:13] KevinShook commented on #2234
@whedon generate pdf

[2020-05-23 19:14] whedon commented on #2234
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02234/joss.02234/10.21105.joss.02234.pdf)

[2020-05-23 19:28] arfon commented on #2224
:wave: @MrMinimal64  - thanks for your submission to JOSS. Could you please add a few sentences to your paper to help those less intensely involved in mathematics understand the downstream applications of this work?  That would help to assess the impact of the effort and help clarify the range of research users who would be impacted by this.

[2020-05-23 19:36] poulson commented on #2203
Hi @arfon -- I should be able to edit this in a couple days if that's ok. I am swamped with volunteering to review a batch of thirty papers for a journalist at the moment.

[2020-05-23 19:43] Sulstice commented on #1992
I added jupyter notebook examples for each of the apis with some more documentation into how it works with examples. I also added a litle ascii cinema in the README file for a quick visibility so someone can see if they would like to pip install it prior.

If there is anything else let me know!

[2020-05-23 19:49] arfon commented on #2203
👍 thanks @poulson. I'll go ahead and assign you now so it's tracked for the EiCs but please pick this up in your own time.

[2020-05-23 19:49] arfon commented on #2203
@whedon assign @poulson as editor

[2020-05-23 19:49] whedon commented on #2203
OK, the editor is @poulson

[2020-05-23 20:40] jvendrow commented on #2225
@whedon generate pdf

[2020-05-23 20:40] whedon commented on #2225
PDF failed to compile for issue #2225 with the following error:

 Error reading bibliography ./paper.bib (line 10, column 3):
unexpected "d"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2020-05-23 20:44] jvendrow commented on #2225
@whedon generate pdf

[2020-05-23 20:45] whedon commented on #2225
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02225/joss.02225/10.21105.joss.02225.pdf)

[2020-05-23 20:48] jvendrow commented on #2225
@whedon commands

[2020-05-23 20:48] whedon commented on #2225
Here are some things you can ask me to do:

[code]

[2020-05-23 20:48] jvendrow commented on #2225
@whedon check repository

[2020-05-23 20:48] whedon commented on #2225
[code]

[2020-05-23 20:49] jvendrow commented on #2225
@whedon check references

[2020-05-23 20:49] whedon commented on #2225
[code]

[2020-05-23 20:51] jvendrow commented on #2225
Here are some reviewer recommendations:

seba-1511
gaxler
diegoonna 
mikeaalv 
olivertomic

[2020-05-23 21:11] MrMinimal64 commented on #2224
Hello @arfon, thanks for your quick response. Could you tell me which parts I should clarify or which parts are unclear? I thought I had described the advantages and potential use cases of the package extensively in the first section "**Summary**". The following sections give a more detailed explanation of the implemented approach and underpin the advantages with benchmarks.

I am looking forward

[2020-05-23 21:17] MrMinimal64 commented on #2224
should I suggest reviewers myself?

[2020-05-23 21:20] blthayer commented on #2216
@robinroche - thank you very much for your willingness to review! We appreciate it! I'm hoping I'll be able to find another reviewer soon in order to get the process moving.

Just to confirm - do you have access to PowerWorld and SimAuto at this time? Unfortunately, we (the creators of ESA) aren't able to provide licenses to reviewers.

[2020-05-23 21:52] joaomcteixeira commented on #2175
@whedon generate pdf

[2020-05-23 21:53] whedon commented on #2175
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02175/joss.02175/10.21105.joss.02175.pdf)

[2020-05-23 21:56] joaomcteixeira commented on #2175
@richardjgowers @Luthaf

The new article version addresses the issues referred by @Luthaf in https://github.com/joaomcteixeira/taurenmd/issues/45

I look forward to your comments, Thanks.

[2020-05-23 22:39] darioizzo commented on #2230
@arfon I would rather keep the repositories for the code and this paper separate. The reasons are that the code will evolve and change, while the paper, if published should stay unmodified. I also do not like having too many files in the root folder of the code repository (but thats a matter of taste).

[2020-05-23 22:41] darioizzo commented on #2230
Going through the reviewer list, I noticed the entry ``Ohjeah`` that seems to me as a good fit for this paper, thus I am daring suggesting him.

[2020-05-24 00:54] rgmyr commented on #1969
Hi all -- just to give an update:

I've started addressing Brendon's issues on the submission repo [here](https://github.com/rgmyr/corebreakout/issues/14) and [here](https://github.com/rgmyr/corebreakout/issues/6).

[2020-05-24 07:50] mjsottile commented on #2217
:wave: Hi @sirsharpest, @phckopper and @jizecn - you were suggested by the author of this submission to JOSS as potential reviewers.  Would you be interested in providing a review?   If you haven't reviewed for JOSS before, you can see the review criteria here : https://joss.readthedocs.io/en/latest/review_criteria.html

Please let me know if you are interested and I can add you as a reviewer to t

[2020-05-24 07:51] mjsottile commented on #2213
:wave: @pratikvn - before I reach out to potential reviewers, I wanted to check to see if you had any people in mind that I should try first?

[2020-05-24 08:00] SirSharpest commented on #2217
Sure. I'll be happy to review.

[2020-05-24 08:32] pratikvn commented on #2213
Hello @mjsottile . Thank you for editing this submission. Looking at the spreadsheet, I feel that sivaramambikasaran, zeroset or adam-m-jcbs might be suitable.

[2020-05-24 10:05] xuanxu commented on #2242
:wave: I can take this

[2020-05-24 10:05] xuanxu commented on #2242
@whedon assign @xuanxu as editor

[2020-05-24 10:05] whedon commented on #2242
OK, the editor is @xuanxu

[2020-05-24 10:14] snowformatics commented on #2217
Thanks!

[2020-05-24 10:55] arfon commented on #2230
Yes, a branch would be better than what we have currently here. Also, the paper can be anywhere in the repository (i.e. nested in a folder) so doesn't need to be in the repository root.

[2020-05-24 11:01] arfon commented on #2224
I think a little more detail in the summary section would be useful. For example, are there applied research fields where the factorisation of multivariate polynomials is a key aspect of the research work/analysis?

Yes, please go ahead but as I [mentioned above](https://github.com/openjournals/joss-reviews/issues/2224#issuecomment-633123110), we won't actually begin the review process until an ed

[2020-05-24 11:03] whedon opened #2248 "[PRE REVIEW]: Excimontec v1.0: An Open-Source Software Tool for Kinetic Monte Carlo Simulations of Organic Electronic Devices"
**Submitting author:** @MikeHeiber (<a href="http://orcid.org/0000-0002-1567-5663">Michael Heiber</a>)
**Repository:** <a href="https://github.com/MikeHeiber/Excimontec" target ="_blank">https://github.com/MikeHeiber/Excimontec</a>
**Version:** v1.0.0
**Editor:** @pdebuyl
**Reviewers:** @mdavezac
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2020-05-24 11:03] whedon commented on #2248
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-24 11:03] whedon commented on #2248
[code]

[2020-05-24 11:04] whedon commented on #2248
[code]

[2020-05-24 11:04] whedon commented on #2248
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02248/joss.02248/10.21105.joss.02248.pdf)

[2020-05-24 11:05] arfon commented on #2248
Copying an excerpt of the author submission comment for future editors which includes potential reviewers:

[2020-05-24 11:06] arfon commented on #2248
:wave: @MikeHeiber - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the week we've had > 50 papers submitted and as such, yours has been put i

[2020-05-24 11:09] arfon commented on #2113
:wave: @elplatt - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-05-24 11:11] arfon commented on #2019
@karthik - you may have made us of this already but this GitHub topic might help identify you some good reviewer candidates: https://github.com/topics/longitudinal-data

[2020-05-24 12:24] arfon commented on #2225
Hi @jvendrow. Many thanks for your submission to JOSS. Unfortunately, after consulting with the JOSS editorial board, we have decided that this submission is out of scope for JOSS due to its limited scope.

[2020-05-24 12:24] #2225 closed

[2020-05-24 12:25] arfon commented on #2225
@whedon reject

[2020-05-24 12:25] whedon commented on #2225
Paper rejected.

[2020-05-24 12:26] whedon opened #2249 "[PRE REVIEW]: mlr3shiny: A graphical user interface for easy machine learning in R"
**Submitting author:** @lamate (<a href="http://orcid.org/0000-0001-9560-2669">Laurens  Tetzlaff</a>)
**Repository:** <a href="https://github.com/LamaTe/mlr3shiny" target ="_blank">https://github.com/LamaTe/mlr3shiny</a>
**Version:** 0.1.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-1

[2020-05-24 12:26] whedon commented on #2249
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-24 12:26] whedon commented on #2249
[code]

[2020-05-24 12:26] whedon commented on #2249
[code]

[2020-05-24 12:27] whedon commented on #2249
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02249/joss.02249/10.21105.joss.02249.pdf)

[2020-05-24 12:28] arfon commented on #2249
:wave: @LamaTe - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the week we've had > 50 papers submitted and as such, yours has been put in ou

[2020-05-24 12:29] berenger-eu commented on #2203
As potential reviewers:
- Laura Morgenstern (https://www.fz-juelich.de/SharedDocs/Personen/IAS/JSC/EN/staff/morgenstern_l.html?nn=362224)
- Bartosz Kohnke (https://www.mpibpc.mpg.de/grubmueller/staff/29430)
- Yoshimichi ANDOH (yandoh@chembio.nagoya-u.ac.jp https://scholar.google.com/citations?user=QWQIm4gAAAAJ&hl=en)
- Eike Mueller (https://people.bath.ac.uk/em459/)
- Louis Lagardere (louis.lagard

[2020-05-24 17:19] sp94 commented on #2239
@whedon generate pdf

[2020-05-24 17:20] whedon commented on #2239
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02239/joss.02239/10.21105.joss.02239.pdf)

[2020-05-24 17:45] sp94 commented on #2239
Thanks for adding me to the waiting list!

From the list of possible reviewers, here are some in Physics/optics/solid state/condensed matter theory, and who also lists Julia in their programming languages:
- crstnbr
- mdavezac
- frssp
- solanpaa

[2020-05-24 21:57] warrickball commented on #2048
I've managed to rerun the old example I had, so I'm happy with the state of the code. The top-level README does have a *Contributing* section so that enough for me to say my review is complete.

[2020-05-24 22:37] benjaminbolling commented on #1942
Det all,

Thank you for being so patient! I am ensuring there are no bugs in the code now, finishing some additional features of it and expecting it to be ready with instructions and a short article before the end of this month.

Again, thank you for the patience!

Kind regards
Benjamin

[2020-05-25 00:18] karthik commented on #2019
👋 @rpsychologist Would you be able to serve as the second reviewer for this submission? If yes I can provide instructions on how to review for JOSS.

[2020-05-25 04:18] DominiqueMakowski commented on #2233
Thanks! We totally understand the 'reduced service' given the situation. Stay safe!

Here are some suggestions for potential reviewers: @gprochilo, @stephenturner, @JosueMA, @taiyun, @kassambara, @AEBilgrau, @cimentadaj, @vsimko, @Nathaniel-Haines 👌

[2020-05-25 05:27] mwegrzyn commented on #2206
Dear @richardjgowers,

thank you for your message. I would be glad to review the submission.

Best regards,
Martin Wegrzyn

[2020-05-25 05:27] d-chambers commented on #2236
Ok great, thanks @arfon and @leouieda

[2020-05-25 05:33] TomKellyGenetics commented on #2161
Thanks @arfon. I was unsure if Whedon would handle the new format. I'll look into that (I think adding the `paper.tex` to `.gitignore` and removing it from the repository) will avoid this.

I realise the manuscript is longer than recommended for the journal, I contacted @karthik about this before submitting. As suggested by reviewers, migrating to Rmarkdown format and including [examples of empiri

[2020-05-25 06:22] hugoledoux commented on #2184
@whedon add @alvations as reviewer

[2020-05-25 06:22] whedon commented on #2184
OK, @alvations is now a reviewer

[2020-05-25 06:45] cimentadaj commented on #2205
Thanks for reaching out! I'm afraid I won't have time but feel free to me ping me after June. Thanks!

[2020-05-25 06:47] cimentadaj commented on #2233
Thanks for recommending @DominiqueMakowski. I'm afraid I won't have time to review stuff until the end of June. Feel free to ping me then. Thanks!

[2020-05-25 07:17] edonnachie commented on #2205
Thank you for the opportunity to review this package. At first sight, this is a very interesting project. Unfortunately though, I'm unable to take this on at present. Feel free to contact me for any future review.

[2020-05-25 07:32] MrMinimal64 commented on #2224
I clarified the possible application of this package in the paper and added example applications where the package is already being used.

[2020-05-25 07:35] MrMinimal64 commented on #2224
Based on the topics (applied mathematics, numerical analysis...) and preferred language (Python) they provided, I suggest the following reviewers:

[code]

[2020-05-25 08:01] nistara commented on #2205
Thank you for giving me this opportunity. I can review the package, but like @ibarraespinosa I'll need a few more days before I can begin.

[2020-05-25 08:33] DominiqueMakowski commented on #2233
@whedon generate pdf

[2020-05-25 08:34] whedon commented on #2233
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02233/joss.02233/10.21105.joss.02233.pdf)

[2020-05-25 08:50] Luthaf commented on #2175
With the latest changes to documentation done by @joaomcteixeira, I am happy to recommend this paper for publication in JOSS!

[2020-05-25 09:26] xuanxu commented on #2048
@whedon generate pdf

[2020-05-25 09:27] whedon commented on #2048
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02048/joss.02048/10.21105.joss.02048.pdf)

[2020-05-25 09:29] xuanxu commented on #2048
@whedon check references

[2020-05-25 09:29] whedon commented on #2048
[code]

[2020-05-25 09:32] xuanxu commented on #2048
Great, thanks @warrickball!

@ipelupessy: just to confirm: your checklist is complete, have you also finished the review and recommend publication?

[2020-05-25 09:44] TomKellyGenetics commented on #2161
@when generate pdf

[2020-05-25 09:45] TomKellyGenetics commented on #2161
@whedon generate pdf

[2020-05-25 09:46] whedon commented on #2161
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02161/joss.02161/10.21105.joss.02161.pdf)

[2020-05-25 10:02] TomKellyGenetics commented on #2161
Here's a preview of the manuscript in Rmarkdown form with the code examples simplified (I'll add more details in the vignettes). This is a work-in-progress.

I've contacted my coauthor to discuss to reducing the length of the paper.

[2020-05-25 10:07] arm61 commented on #2214
@whedon generate pdf

[2020-05-25 10:08] whedon commented on #2214
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02214/joss.02214/10.21105.joss.02214.pdf)

[2020-05-25 10:08] ipelupessy commented on #2048
@xuanxu yes!

[2020-05-25 10:16] edwardando commented on #2186
Thanks: I don't see the problem with orcid, perhaps it's been fixed.

Just a piece of info - we mentioned @Kevin-Mattheus-Moerman as a suggested editor in the submission process.

[2020-05-25 10:17] Athelena commented on #2177
I am now satisfied, all of my comments were sufficiently addressed. I completed the checklist above.

This was a new and interesting experience for me as well!

[2020-05-25 10:52] arfon commented on #2184
:wave: @hugoledoux - you'll need to edit the issue at the top of this thread to add a checklist for @alvations (Whedon doesn't know how to do this mid-review just yet).

Let me know if you need my help doing this.

[2020-05-25 10:53] arfon commented on #2205
@whedon add @nistara as reviewer

[2020-05-25 10:53] whedon commented on #2205
OK, @nistara is now a reviewer

[2020-05-25 10:54] arfon commented on #2205
@whedon start review

[2020-05-25 10:54] whedon opened #2250 "[REVIEW]: mmaqshiny v1.0: R-Shiny package to explore air quality mobile monitoring data"
**Submitting author:** @adithirugis (<a href="http://orcid.org/0000-0002-1764-1379">Adithi Upadhya</a>)
**Repository:** <a href="https://github.com/meenakshi-kushwaha/mmaqshiny" target ="_blank">https://github.com/meenakshi-kushwaha/mmaqshiny</a>
**Version:** v.1.0.0
**Editor:** @arfon
**Reviewer:** @ibarraespinosa, @nistara
**Archive:** <a href="https://doi.org/10.5281/zenodo.3911659" target="_bl

[2020-05-25 10:54] whedon commented on #2205
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2250.

[2020-05-25 10:54] #2205 closed

[2020-05-25 10:54] whedon commented on #2250
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ibarraespinosa, @nistara it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2020-05-25 10:54] whedon commented on #2250
[code]

[2020-05-25 10:54] whedon commented on #2250
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02250/joss.02250/10.21105.joss.02250.pdf)

[2020-05-25 10:54] arfon commented on #2205
@ibarraespinosa, @nistara - many thanks for agreeing to review this submission - I've noted that it will be a little time before you're both able to start work on this. See you over in #2250 where the actual review will take place.

[2020-05-25 10:55] arfon commented on #2250
@ibarraespinosa, @nistara - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2020-05-25 10:58] arfon commented on #2161
Thanks for working on this @TomKellyGenetics.

I don't believe a subcaption is possible with Pandoc and this template sorry.

[2020-05-25 11:01] arfon commented on #2186
@whedon generate pdf from branch spamPaper

[2020-05-25 11:01] whedon commented on #2186
[code]

[2020-05-25 11:01] arfon commented on #2186
Thanks @edwardando - this is probably OK for now but before publishing/accepting the submission it would be good for the paper to be in `master`.

[2020-05-25 11:01] whedon commented on #2186
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02186/joss.02186/10.21105.joss.02186.pdf)

[2020-05-25 11:06] edwardando commented on #2186
Happy with the proof.

OK, we'll merge if and when the paper is accepted.

[2020-05-25 11:07] marcosvital commented on #2202
Yes, I can handle this, @arfon.

[2020-05-25 11:08] marcosvital commented on #2202
@whedon assign @marcosvital as editor

[2020-05-25 11:08] whedon commented on #2202
OK, the editor is @marcosvital

[2020-05-25 11:31] blsqr commented on #2207
Hey everyone 👋 @herdeanu, @jeremiastraub and I are looking forward to the review! :)

Our suggestions for potential reviewers are [`mdpiper`](https://github.com/mdpiper) and [`Chillip`](https://github.com/Chilipp).

[2020-05-25 11:50] edwardando commented on #2186
If more than one editor is needed, here are some relevant choices from `list[1000:-1]`:

- SebastianoF
- dbrizard
- crstnbr
- hanayik
- Shuang-Plum
- iagolemos1
- luthaf
- jwbuurlage

[2020-05-25 13:26] hugoledoux commented on #2184
oh, I should have RTFD. Actually I did, just spotted the command in red, and moved on.

It's fixed now.

[2020-05-25 13:46] robinroche commented on #2216
@blthayer - I have access to PWS 17 with SimAuto

[2020-05-25 13:48] joaomcteixeira commented on #2175
Thanks to the reviewers and the editors for all their help and insights. This review process was very fruitful, indeed! And I enjoy much this online and open process in JOSS, it really pushes scientific software development further.

[2020-05-25 14:24] alvations commented on #2184
Okay, it's a little overwhelming but definitely not tonight but I'll work on the review over the coming week nights.

A few questions on the JOSS review, should the comments on the review come here in this issue or should it go directly to https://github.com/flammie/omorfi/issues/new so that the problems in the review are corrected?

Also, regarding the high-level summary (the read-able paper), ho

[2020-05-25 14:52] hugoledoux commented on #2184
yes it is at first.

You should indeed create issues in the original repo, and link to them here.

The idea is simply to verify/check that all the items in the checklist above (watch out, there's one for you and one for the other reviewer) are okay.

The PDF is available a few comments above here, or [here](https://github.com/openjournals/joss-papers/blob/joss.02184/joss.02184/10.21105.joss.02184.

[2020-05-25 14:53] ynop commented on #2135
Hi @faroit, thanks for your review.

Regarding reproducibility I completely agree with you, that versioning and verification would be cool. But this is a lot of work and I am not sure if we can do that in the near future. The only change that is possible with reasonable effort is using fixed commits for git-based datasets. The problem with that is that you have to update audiomate, every time a ne

[2020-05-25 14:59] alvations commented on #2184
Thanks @hugoledoux for the clarifications!

Commenting out the partial reviews first, will undo the comments at the end.

[2020-05-25 15:15] faroit commented on #2135
I think there is no way around this. Given how less frequent datasets are actually updated the workload is quite small, also I would say that reproducibility is more important for researchers than having the most recent version of the a dataset these . Then, this would currently only affect 3 datasets in audiomate, so this change would be rather quick, I guess.

Maybe have a look at [torch.hub](ht

[2020-05-25 15:20] edwardando commented on #2186
We made a tiny change.

@whedon generate pdf from branch spamPaper

[2020-05-25 15:29] edwardando commented on #2186
@whedon generate pdf from branch spamPaper

[2020-05-25 15:30] whedon commented on #2186
[code]

[2020-05-25 15:30] ynop commented on #2135
Another thought: What happens If we update the version in audiomate. The user either has to keep working with the old audiomate version (and fix it) or use a custom download URL afterwards. I am not sure if it is a good approach to have the dataset versions depend on the software version, since this is not really transparent to the user.

[2020-05-25 15:31] whedon commented on #2186
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02186/joss.02186/10.21105.joss.02186.pdf)

[2020-05-25 17:27] KevinShook commented on #2234
@whedon generate pdf

[2020-05-25 17:27] whedon commented on #2234
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02234/joss.02234/10.21105.joss.02234.pdf)

[2020-05-25 17:59] whedon opened #2251 "[PRE REVIEW]: heddlr: Functional Programming Concepts for R Markdown Document Generation"
**Submitting author:** @mikemahoney218 (<a href="http://orcid.org/0000-0003-2402-304X">Michael Mahoney</a>)
**Repository:** <a href="https://github.com/mikemahoney218/heddlr" target ="_blank">https://github.com/mikemahoney218/heddlr</a>
**Version:** v0.6.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the chall

[2020-05-25 17:59] whedon commented on #2251
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-25 17:59] whedon commented on #2251
[code]

[2020-05-25 18:00] whedon commented on #2251
[code]

[2020-05-25 18:00] whedon commented on #2251
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02251/joss.02251/10.21105.joss.02251.pdf)

[2020-05-25 18:00] danielskatz commented on #2251
Note for the future - @csoneson was suggested as the editor

[2020-05-25 18:07] danielskatz commented on #2251
👋 @mikemahoney218 - Can you help me understand how this is research software?  Specifically, how does this software meet the requirement stated in the JOSS submitting documentation "The software should have an obvious research application"?

[2020-05-25 18:07] whedon opened #2252 "[PRE REVIEW]: CancerSim: A python3 package for stochastic cancer simulation in 2D"
**Submitting author:** @CFGrote (<a href="http://orcid.org/0000-0002-2579-5546">Carsten Fortmann-Grote</a>)
**Repository:** <a href="https://github.com/mpievolbio-scicomp/cancer_sim" target ="_blank">https://github.com/mpievolbio-scicomp/cancer_sim</a>
**Version:** v1.0.0
**Editor:** @pdebuyl
**Reviewers:** @jenzopr, @blakeaw
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode

[2020-05-25 18:07] whedon commented on #2252
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-25 18:08] whedon commented on #2252
[code]

[2020-05-25 18:08] whedon commented on #2252
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02252/joss.02252/10.21105.joss.02252.pdf)

[2020-05-25 18:10] whedon opened #2253 "[PRE REVIEW]: ExoNoodle: A Python package spectral time-series of transiting exoplanets"
**Submitting author:** @mmartin-lagarde (<a href="http://orcid.org/0000-0003-0523-7683">Marine Martin-Lagarde</a>)
**Repository:** <a href="https://gitlab.com/mmartin-lagarde/exonoodle-exoplanets" target ="_blank">https://gitlab.com/mmartin-lagarde/exonoodle-exoplanets</a>
**Version:** v0.12.3
**Editor:** @arfon
**Reviewers:** @hpparvi, @kevin218
**Managing EiC:** Daniel S. Katz

**:warning: JOSS

[2020-05-25 18:10] whedon commented on #2253
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-25 18:10] whedon commented on #2253
PDF failed to compile for issue #2253 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2253 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-45a043c4bfc2/lib/whedo

[2020-05-25 18:16] mikemahoney218 commented on #2251
:wave: This software helps researchers ensure reproducibility by reducing the amount of repetition necessary in producing R Markdown documents with repeated analysis sections, such as when a similar suite of analyses are performed across multiple distinct study groups. I have previously used it (in research that I unfortunately don't have permission to share publicly) on projects focusing on quali

[2020-05-25 18:17] karthik commented on #2161
Have you considered just hiding those blocks?

[2020-05-25 18:22] danielskatz commented on #2252
👋 @CFGrote - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the week we've had > 50 papers submitted and as such, yours has been put in our ba

[2020-05-25 18:36] danielskatz commented on #2253
👋 @mmartin-lagarde - I think there are some problems with your paper.md.  Please remove the blank lines in the header.

Also, please remove the comments in the AAAS lines so that they read:
aas-doi: 10.3847/xxxxx
aas-journal: The Astronomical Journal

Then try regenerating the PDF by putting in a new comment here with ```@whedon generate pdf```

[2020-05-25 18:36] danielskatz commented on #2253
Also, I assume this really is associated with a AAS paper?

[2020-05-25 18:39] danielskatz commented on #2253
👋 @openjournals/dev  - this submission isn't associated with a GitHub user.  I'm unsure how to fix this.

[2020-05-25 19:01] PeerHerholz commented on #2206
Ahoi hoi folks (@mwegrzyn, @mih and @richardjgowers),

sure thing, happy to review the submission.

Best, Peer

[2020-05-25 19:19] usethedata commented on #2186
@edwardando Thanks for the list of suggested reviewers.  I have reached out to a couple via email to see if they are willing.

[2020-05-25 19:48] usethedata commented on #2192
@vsoch -- Thank you.

@khninsen and @cbrueffer -- Would you be willing to review this paper for the Journal of Open Source Software?  I realize this would be a first review and I'm happy to help walk through that process.  When I have at least one (and preferably the needed two) reviewers, I will open up a review issue that will have a checklist for each reviewer and some additional instructions.

[2020-05-25 19:55] vsoch commented on #2192
@khinsen see above!

[2020-05-25 19:58] usethedata commented on #2198
@kloppen Thank you for the suggestions.  I have reached out via email to a couple of potential reviewers.

[2020-05-25 20:20] marcosvital commented on #2202
Hi, @davidtourigny, I will be the editor of your submission.

I'll generate a first version of your manuscript proof, so you can start by checking if everything seems to be ok with it (it will be the version used for revision). If you make any changes, you can use the same whedon command I will use below to create a new proof (or just let me know and I'll do it).

At the same time, we can start as

[2020-05-25 20:21] marcosvital commented on #2202
@whedon generate pdf

[2020-05-25 20:21] cbrueffer commented on #2192
Hi everyone,

looks interesting; happy to review, but I won't have time to work on this for the next ~two weeks. If that's alright, please sign me up.

[2020-05-25 20:21] whedon commented on #2202
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02202/joss.02202/10.21105.joss.02202.pdf)

[2020-05-25 20:23] marcosvital commented on #2202
David, please feel free to tag any of the other authors here on this issue if you want to, ok?

[2020-05-25 20:27] usethedata commented on #2192
@cbrueffer When do you think you would be able to work on this?

[2020-05-25 20:31] cbrueffer commented on #2192
I can commit to it from about June 13.

[2020-05-25 20:41] drwaseemsheikh commented on #2016
I am unable to replicate issue # 7 bug. I have tested it on my end and that issue has been fixed. I am able to save and restore patient data without any data. Since we are at an impasse now, I would ask the editor or another reviewer to test the functionality of the code and provide detailed steps so that I can replicate that issue. Just saying that the issue persists doesn't help me as I can't re

[2020-05-25 20:42] phckopper commented on #2217
I'll be happy to review it too!

[2020-05-25 20:44] vsoch commented on #2192
That's definitely okay with me!

[2020-05-25 20:58] drwaseemsheikh commented on #2016
Here is the proof with the screeshots that bug#7 has been fixed. Steps to follow:
1. Install the latest application.
2. Enter data in the Patient tab, leaving all other tabs blank.
3. Save the patient data by clicking on Save.
4. Click on the Search menu option and set the start date in the Search window to the previous day or any time before the data was recorded. Click Search.
5. This shows the

[2020-05-25 20:59] drwaseemsheikh commented on #2016
I, therefore, request the editor to please expedite the publishing of this paper as I have already waited too long and to the best of my knowledge and testing all issues have been resolved. Thank you!

[2020-05-25 21:03] danielskatz commented on #2016
👋 @arfon - can I assign you as the editor of this submission for now?

[2020-05-25 21:59] davidtourigny commented on #2202
Thanks for taking this on @marcosvital and for initial handling @arfon !

The proof looks fine, but perhaps we should still add some DOIs to the citations.

Co-authors are @Midnighter and @carrascomj

[2020-05-25 22:03] davidtourigny commented on #2202
For review, contributors to the project https://github.com/opencobra/cobrapy would be most suitable. Including but not limited to:

cdiener

pstjohn

synchon

matthiaskoenig

[2020-05-25 22:04] davidtourigny commented on #2202
Please be aware that some of these suggested reviewers have had previously corresponded with us about this project (but not directly contributed). I highlight in case of conflict of interest issues.

[2020-05-25 22:05] arfon commented on #2253
I've just emailed the author (and copied you).

[2020-05-25 22:08] arfon commented on #2016
I'm happy to take this over from here.

[2020-05-25 22:08] arfon commented on #2016
@whedon assign @arfon as editor

[2020-05-25 22:09] arfon commented on #2016
@drwaseemsheikh - could you please respond to this question I posed a little while back?

[2020-05-25 23:07] blthayer commented on #2216
@robinroche - thank you for being so responsive. We have primarily done our work/testing with versions 20 and 21, though I know PowerWorld is very dedicated to maintaining backward compatibility in SimAuto.

This is an area we should upgrade ESA's documentation - we have not extensively tested with older versions of PWS/SimAuto.

I suspect if we run into issues, it'll be related to the `.pwb` case

[2020-05-26 00:44] deniederhut commented on #2136
Okay, I think I have addressed the comments here. Let me know what you think!

@sara-02 I noticed that you closed the issue you raised about support for other languages. Do you think it would make sense to leave it open in case someone else has a similar question?

[2020-05-26 07:12] iljah commented on #2185
hi @ShubhadeepSadhukhan1993 , above article proof seems to contain things that aren't supposed to be there according to review guidelines ["the JOSS paper (the compiled PDF associated with this submission) should only include"] and hence should probably be removed before acceptance. @jedbrown probably knows better but I'd say the following sections should be removed: "Velocity and scalar structure

[2020-05-26 07:45] martinmodrak commented on #2016
@drwaseemsheikh I just verified one more time the problem https://github.com/drwaseemsheikh/audiometry/issues/7 persists on my work PC. I will also try another machine with a different system. However, the fact that software behaves differently on different computers is unfortunately to be expected and it is generally considered good practice to test on multiple computers and resolve problems that

[2020-05-26 07:54] edwardando commented on #2186
Perfect, let me know if and when I should look higher up the list.

[2020-05-26 08:54] shashwat-bhattacharya commented on #2185
@iljah Thanks for the advice. We will do the needful and get back to you soon.

[2020-05-26 09:43] xuanxu commented on #2048
@whedon generate pdf

[2020-05-26 09:43] whedon commented on #2048
PDF failed to compile for issue #2048 with the following error:

 Error reading bibliography ./paper.bib (line 214, column 8):
unexpected "a"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2020-05-26 10:16] arfon commented on #2253
Looks like @mmartin-lagarde is valid here now on GitHub too.

[2020-05-26 10:23] xuanxu commented on #2048
@whedon generate pdf

[2020-05-26 10:24] whedon commented on #2048
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02048/joss.02048/10.21105.joss.02048.pdf)

[2020-05-26 10:24] xuanxu commented on #2048
@whedon check references

[2020-05-26 10:25] whedon commented on #2048
[code]

[2020-05-26 10:31] xuanxu commented on #2048
Thanks @MariaTsantaki, everything looks good now, here are the next steps:

- Please release a [new tagged version](https://github.com/MariaTsantaki/FASMA-synthesis/releases) from the current master so it includes all the changes made during the review process
- Then archive that latest release in [Zenodo](https://zenodo.org/) (or any other similar service)
- Check the Zenodo deposit has the corre

[2020-05-26 11:00] dfm commented on #2209
@arfon: I'm happy to edit!

@sayanddude: Thanks for the suggestions. I'll start reaching out to folks shortly.

[2020-05-26 11:01] dfm commented on #2209
@whedon assign @dfm as editor

[2020-05-26 11:01] whedon commented on #2209
OK, the editor is @dfm

[2020-05-26 11:14] DanielAndreasen commented on #2048
While we are near the end of the review process, I would like to say thanks for a **very** transparent review. It has been such a pleasure working with a journal, where referees and editors **actively** improves upon the paper/software. I wish all journals could live up to this high standard.

[2020-05-26 11:39] arfon commented on #2016
@martinmodrak - thanks. I think that would be very helpful. I agree with the spirit of your comment here and think it would be good to, if at all possible, resolve this issue before closing out this review.

[2020-05-26 11:41] usethedata commented on #2192
@whedon set @cbrueffer as reviewer

[2020-05-26 11:42] whedon commented on #2192
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-05-26 11:43] usethedata commented on #2192
@wehedon assign @cbrueffer as reviewer

[2020-05-26 11:44] usethedata commented on #2192
@whedon assign @cbrueffer as reviewer

[2020-05-26 11:44] whedon commented on #2192
OK, @cbrueffer is now a reviewer

[2020-05-26 11:45] usethedata commented on #2198
@whedon assign @myousefi2016 as reviewer

[2020-05-26 11:45] whedon commented on #2198
OK, @myousefi2016 is now a reviewer

[2020-05-26 11:46] danielskatz commented on #2198
@usethedata - you may need to use ```@whedon add ... as reviewer```

[2020-05-26 11:48] danielskatz commented on #2253
👋 @mmartin-lagarde - please see the comments above and reply to them when you can

[2020-05-26 12:30] jizecn commented on #2217
Sorry for the late response. Yes, I am happy to review too.

[2020-05-26 12:47] mmartin-lagarde commented on #2253
@danielskatz Yes exactly, it is associated with a AJ paper that is currently under review, therefore I don't have any DOI yet. Should I remove it for now ?

[2020-05-26 12:54] danielskatz commented on #2253
It's probably fine to leave it, but without the comments. This could be part of the problem with compiling, along with the blank lines

[2020-05-26 13:05] mmartin-lagarde commented on #2253
The new version with no black line and no comments is on the repository now.

[2020-05-26 13:10] mmartin-lagarde commented on #2253
@whedon generate pdf

[2020-05-26 13:10] whedon commented on #2253
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02253/joss.02253/10.21105.joss.02253.pdf)

[2020-05-26 13:38] darioizzo commented on #2230
@arfon I have moved all files to a branch in the repository https://github.com/darioizzo/dcgp/tree/joss-paper-v1.5.1

[2020-05-26 13:56] arfon commented on #2230
@whedon generate pdf from branch joss-paper-v1.5.1

[2020-05-26 13:56] whedon commented on #2230
[code]

[2020-05-26 13:56] whedon commented on #2230
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02230/joss.02230/10.21105.joss.02230.pdf)

[2020-05-26 13:57] arfon commented on #2253
@whedon assign me as editor

[2020-05-26 13:57] whedon commented on #2253
OK, the editor is @arfon

[2020-05-26 13:58] arfon commented on #2253
@danielskatz - I'll take this one ✋

[2020-05-26 13:59] jayrobwilliams commented on #2204
@danielskatz unfortunately I don't have time to review this submission at the moment.

[2020-05-26 14:02] faroit commented on #2135
@ynop

I did a bit of research and I found that most libraries actually do not support a good way to version the dataset. In many cases, the dataset is just verified with a checksum, so when a dataset is changed, the checksum fails.

A detailed solution is proposed by the [tensorflow tfds team](https://github.com/tensorflow/datasets/blob/master/docs/datasets_versioning.md). Basically they followed

[2020-05-26 14:13] darioizzo commented on #2230
proof looks ok to me.

[2020-05-26 14:31] arfon commented on #2253
@whedon generate pdf

[2020-05-26 14:32] whedon commented on #2253
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02253/joss.02253/10.21105.joss.02253.pdf)

[2020-05-26 14:37] danielskatz commented on #2251
Hi @mikemahoney218 - we've had a short discussion among some of the JOSS editors, and while there were some really nice words about this software, and interest in trying it, we don't believe it fits the current JOSS expectations of a research application, so I'm going to reject it from JOSS.

[2020-05-26 14:37] danielskatz commented on #2251
@whedon reject

[2020-05-26 14:37] whedon commented on #2251
Paper rejected.

[2020-05-26 14:37] #2251 closed

[2020-05-26 14:39] whedon opened #2254 "[PRE REVIEW]: MorphoPy: A python package for feature extraction of neural morphologies."
**Submitting author:** @visdoom (<a href="http://orcid.org/0000-0001-9532-788X">Sophie Laturnus</a>)
**Repository:** <a href="https://github.com/berenslab/MorphoPy" target ="_blank">https://github.com/berenslab/MorphoPy</a>
**Version:** v0.6
**Editor:** @oliviaguest
**Reviewers:** @Emptymalei, @mstimberg
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to th

[2020-05-26 14:39] whedon commented on #2254
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-26 14:39] whedon commented on #2254
[code]

[2020-05-26 14:39] whedon commented on #2254
PDF failed to compile for issue #2254 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/2254/paper/paper.md): did not find expected '-' indicator while parsing a block collection at line 9 column 5 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in

[2020-05-26 14:40] arfon commented on #2253
:wave: @hover2pi & @hpparvi - would you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-05-26 14:43] danielskatz commented on #2254
👋 @Visdoom - you will need to remove the blank lines from the header of paper.md.  You also should change date to a date, following the [example paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography)

Once you've made these changes, please add a new comment here starting with ```@whedon generate pdf``` to see if the compilation works.  Iterate as needed.

(Als

[2020-05-26 14:44] arfon commented on #2254
@danielskatz @Visdoom - this PR should fix that build: https://github.com/berenslab/MorphoPy/pull/103 (it's got whitespace-alignment issues too)

[2020-05-26 14:44] whedon opened #2255 "[PRE REVIEW]: itmlogic: Longley Rice Irregular Terrain Model"
**Submitting author:** @edwardoughton (<a href="http://orcid.org/0000-0002-2766-008X">Edward J. Oughton</a>)
**Repository:** <a href="https://github.com/edwardoughton/itmlogic" target ="_blank">https://github.com/edwardoughton/itmlogic</a>
**Version:** v1
**Editor:** @danielskatz
**Reviewers:** @gorlapraveen, @garrettj403
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :war

[2020-05-26 14:44] whedon commented on #2255
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-26 14:44] whedon commented on #2255
PDF failed to compile for issue #2255 with the following error:

 Can't find any papers to compile :-(

[2020-05-26 14:45] danielskatz commented on #2255
Note that @hugoledoux was suggested as the editor

[2020-05-26 14:45] whedon commented on #2255
[code]

[2020-05-26 14:45] whedon commented on #2255
[code]

[2020-05-26 14:45] danielskatz commented on #2255
@whedon generate pdf

[2020-05-26 14:47] danielskatz commented on #2255
@whedon assign @danielskatz as editor

[2020-05-26 14:50] danielskatz commented on #2255
👋 @edwardoughton - Please suggest some potential reviewers (without tagging them with an @).

[This list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

Or if you have other suggestions for potential reviewers, then please mention them here.

[2020-05-26 14:52] ejhigson commented on #2214
Hi @arm61 - thank you very much for your responses!

I had a look over the code and API documentation and most things seemed to be nicely documented, but there are some functions where some of the arguments are missing documentation e.g. ``uravu.sampling.nested_sampling``. Please could you check over this and filling in the gaps? I also just saw a very minor typo in the paper where you are missing

[2020-05-26 14:55] whedon opened #2256 "[PRE REVIEW]: OMG: A Scalable and Flexible Simulation and Testing Environment Toolbox for Intelligent Microgrid Control"
**Submitting author:** @stheid (<a href="http://orcid.org/0000-0002-9461-7372">Stefan Heid</a>)
**Repository:** <a href="https://github.com/upb-lea/openmodelica-microgrid-gym" target ="_blank">https://github.com/upb-lea/openmodelica-microgrid-gym</a>
**Version:** v0.2.0
**Editor:** @dhhagan
**Reviewers:** @katyhuff, @gonsie
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :w

[2020-05-26 14:56] whedon commented on #2256
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-26 14:56] whedon commented on #2256
[code]

[2020-05-26 14:56] whedon commented on #2256
PDF failed to compile for issue #2256 with the following error:

 Can't find any papers to compile :-(

[2020-05-26 14:57] danielskatz commented on #2256
👋 @stheid - where is the paper.md and .bib file for this submission?

[2020-05-26 14:58] whedon opened #2257 "[PRE REVIEW]: CRBHits: Conditional Reciprocal Best Hits in R"
**Submitting author:** @kullrich (<a href="http://orcid.org/0000-0003-4308-9626">Kristian Ullrich</a>)
**Repository:** <a href="https://gitlab.gwdg.de/mpievolbio-it/joss_crbhits" target ="_blank">https://gitlab.gwdg.de/mpievolbio-it/joss_crbhits</a>
**Version:** v0.0.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due

[2020-05-26 14:58] whedon commented on #2257
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-26 14:58] whedon commented on #2257
[code]

[2020-05-26 14:58] whedon commented on #2257
Failed to discover a valid open source license.

[2020-05-26 14:58] whedon commented on #2257
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02257/joss.02257/10.21105.joss.02257.pdf)

[2020-05-26 14:58] whedon commented on #2257
[code]

[2020-05-26 15:00] zbeekman commented on #2049
Hi @sjvrijn,
Thanks for addressing the substance of my comments about the paper so well! The changes look great, and I (personally) think the statement of need is clearer, especially to non-experts. The wording in that new/revised paragraph P4 could benefit from a few small edits to reduce redundancy and improve flow. I'll open a PR with my suggestions later today, nothing serious, just very small

[2020-05-26 15:02] danielskatz commented on #2257
👋 @kullrich - this repository seems to include your paper but not the software. JOSS submissions are normally a software repository that also includes a paper.  Additionally, the software needs to be a public version control system, and from the paper, it appears that your software is in https://mpievolbio-it.pages.gwdg.de/ which may not be public?

Finally, and as a minor point, you should add DO

[2020-05-26 15:05] mikemahoney218 commented on #2251
Sounds good to me! Thank you for the speedy response.

[2020-05-26 15:14] jedbrown commented on #2185
It's your discretion, but defining what structure functions are and the basic parallel distribution strategy is reasonable to retain (it helps a reader understand what the software really does). Validation (seems more like "verification") could be deferred to project documentation. The important point is to write for the correct audience (first impression on a potential user).

[2020-05-26 15:30] kullrich commented on #2257
The software repo is here:

https://gitlab.gwdg.de/mpievolbio-it/crbhits <https://gitlab.gwdg.de/mpievolbio-it/crbhits>

I now included the paper.md, paper.bib and figure1.png at the root and added them to .Rbuildignore

Should I do a new submission or can the repo source be changed?

Best regards

Kristian Ullrich
--
Kristian Ullrich, Ph.D.
Scientific IT group
Department of Evolutionary Genetics

[2020-05-26 15:32] danielskatz commented on #2257
If you don't mind making a new submission, it might be slightly easier.  I will mark this one as withdrawn

[2020-05-26 15:33] danielskatz commented on #2257
@whedon withdraw

[2020-05-26 15:33] whedon commented on #2257
Paper withdrawn.

[2020-05-26 15:33] #2257 closed

[2020-05-26 15:33] kullrich commented on #2257
OK, thanks
--
Kristian Ullrich, Ph.D.
Scientific IT group
Department of Evolutionary Genetics
Max Planck Institute for Evolutionary Biology
August Thienemann Str. 2
24306 Plön
Germany
+49 4522 763 313
ullrich@evolbio.mpg.de

--
CONFIDENTIALITY NOTICE:
The contents of this email message and any attachments are intended solely for the addressee(s) and may contain confidential and/or privileged infor

[2020-05-26 15:35] edwardoughton commented on #2255
Potential reviewer: @mychele (Michele Polese)

[2020-05-26 15:37] danielskatz commented on #2255
Thanks - given that we will need to find 2 reviewers, more suggestions would also be welcome (please note the comment above "(without tagging them with an @)" as well)

[2020-05-26 15:37] danielskatz commented on #2255
👋 @mychele - Would you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-05-26 15:39] edwardoughton commented on #2255
Thanks for the guidance Daniel.

Potential reviewer - alirazaanis - creator of the community cellular planner repo.

[2020-05-26 15:44] danielskatz commented on #2255
👋 @alirazaanis - Would you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-05-26 15:44] edwardoughton commented on #2255
Potential reviewer: gorlapraveen (previous JOSS reviewer - knows radio/electrical engineering etc. - uses python)

[2020-05-26 15:45] edwardoughton commented on #2255
Potetial reviewer: garrettj403 (previous JOSS reviewer - knows radio/electrical engineering etc. - uses python)

[2020-05-26 15:47] uellue commented on #2006
Hi @majensen and @fedorov,

Thx for the feedback!

I just opened a pull request in our repository to update the paper. The performance claims in comparison to other projects are removed, since benchmarking would still take some time to implement properly. The LiberTEM reference is updated to 0.5.0. I've asked the co-creators that have since started contributing to LiberTEM if they would like to jo

[2020-05-26 16:16] fedorov commented on #2006
It's yours and their call, but IMHO if they made contribution to the code described in the paper, this most definitely justifies their co-authorship on the paper.

[2020-05-26 16:25] romi1502 commented on #2154
Thanks @faroit and @bmcfee for your comments.

Issues [#381](https://github.com/deezer/spleeter/issues/381) and [#384](https://github.com/deezer/spleeter/issues/381) have been addressed and closed.

Regarding the 2 aspects mentioned by @faroit:

We did the following modification:
- We've modified the [config file](https://github.com/deezer/spleeter/blob/master/configs/musdb_config.json) that makes

[2020-05-26 16:25] ShubhadeepSadhukhan1993 commented on #2185
@iljah Thanks for your view on our paper. Please mention should we retain the paper content as it is or remove the sections as mentioned earlier. We will work on them accordingly. Presently, we have removed those sections from our repository already.

[2020-05-26 16:29] uellue commented on #2006
@fedorov yes, I agree that their co-authorship would be justified. We had a discussion about that some time ago and the result was [our authorship policy](https://libertem.github.io/LiberTEM/authorship.html) where everybody who contributed to the repository is invited to be co-author.

[2020-05-26 16:37] fedorov commented on #2006
It is remarkable how organized your community is. Once you mentioned it, it is obvious that Authorship policy is a must to have, but I am sure I could find quite a few of established projects that don't have one.

[2020-05-26 16:46] Visdoom commented on #2254
@whedon generate pdf

[2020-05-26 16:47] whedon commented on #2254
PDF failed to compile for issue #2254 with the following error:

 Error producing PDF.
! TeX capacity exceeded, sorry [input stack size=5000].
\reserved@a ->\def \reserved@a
                               *{\@hspacer }\reserved@a
l.562 ...{0pt}https://github.com/BlueBrain/NeuroM}

Looks like we failed to compile the PDF

[2020-05-26 16:48] uellue commented on #2006
Well, we added one when we needed one! :-D The main discussion was actually in the PR for the first draft of this paper: https://github.com/LiberTEM/LiberTEM/pull/460

Main points were that the decision can't be arbitrary, but based on rules, and that we have to remain able to act and fulfill all requirements for authorship of a paper (consent and approval of a draft by all co-authors) even if we

[2020-05-26 16:52] Visdoom commented on #2254
@whedon generate pdf

[2020-05-26 16:53] whedon commented on #2254
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02254/joss.02254/10.21105.joss.02254.pdf)

[2020-05-26 16:56] karthik commented on #2181
*Pinged Brandon today*

[2020-05-26 17:00] faroit commented on #2154
@romi1502 @mmoussallam Thanks a lot for your edits. I am more than pleased regarding both issues - from my side this paper can be accepted for publication 👍

[2020-05-26 17:01] Visdoom commented on #2254
@whedon generate pdf

[2020-05-26 17:02] whedon commented on #2254
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02254/joss.02254/10.21105.joss.02254.pdf)

[2020-05-26 17:03] kullrich commented on #2257
Paper was re-submitted but until now the @whedon seems not to have reported any feedback. Might there be an issue because the same title was used for the new submission?

[2020-05-26 17:05] karthik commented on #2019
Also pinged `@graemeleehickey`

[2020-05-26 17:08] Visdoom commented on #2254
@whedon generate pdf

[2020-05-26 17:09] whedon commented on #2254
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02254/joss.02254/10.21105.joss.02254.pdf)

[2020-05-26 17:12] danielskatz commented on #2257
I see it in the queue, but the next step is manual, and I haven't gotten to it yet.  Last time you were just fortunate that I was working on this at about the same time as you submitted, so you got a very fast manual (not automated) response.

[2020-05-26 17:12] whedon opened #2258 "[PRE REVIEW]: CRBHits: Conditional Reciprocal Best Hits in R"
**Submitting author:** @kullrich (<a href="http://orcid.org/0000-0003-4308-9626">Kristian Ullrich</a>)
**Repository:** <a href="https://gitlab.gwdg.de/mpievolbio-it/crbhits" target ="_blank">https://gitlab.gwdg.de/mpievolbio-it/crbhits</a>
**Version:** v0.0.1
**Editor:** @KristinaRiemer
**Reviewers:** @clauswilke, @a-r-j
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warn

[2020-05-26 17:12] whedon commented on #2258
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-26 17:12] whedon commented on #2258
[code]

[2020-05-26 17:12] whedon commented on #2258
[code]

[2020-05-26 17:13] whedon commented on #2258
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02258/joss.02258/10.21105.joss.02258.pdf)

[2020-05-26 17:14] kullrich commented on #2257
OK, I understand.

Thank you for the quick response and the nice help about this first issue.

Best regards

Kristian
--
Kristian Ullrich, Ph.D.
Scientific IT group
Department of Evolutionary Genetics
Max Planck Institute for Evolutionary Biology
August Thienemann Str. 2
24306 Plön
Germany
+49 4522 763 313
ullrich@evolbio.mpg.de

--
CONFIDENTIALITY NOTICE:
The contents of this email message and an

[2020-05-26 17:15] Visdoom commented on #2254
@whedon generate pdf

[2020-05-26 17:16] whedon commented on #2254
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02254/joss.02254/10.21105.joss.02254.pdf)

[2020-05-26 17:17] danielskatz commented on #2258
👋 @kullrich - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS last week, we've had > 60 papers submitted and as such, yours has been put in our backlog th

[2020-05-26 17:20] Visdoom commented on #2254
@whedon generate pdf

[2020-05-26 17:20] danielskatz commented on #2254
👋 @Visdoom - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS last week, we've had > 60 papers submitted and as such, yours has been put in our backlog tha

[2020-05-26 17:20] kullrich commented on #2258
Hi,

I will work on it and generate the paper with the @whedon generate pdf asap.

Best regards

Kristian
--
Kristian Ullrich, Ph.D.
Scientific IT group
Department of Evolutionary Genetics
Max Planck Institute for Evolutionary Biology
August Thienemann Str. 2
24306 Plön
Germany
+49 4522 763 313
ullrich@evolbio.mpg.de

--
CONFIDENTIALITY NOTICE:
The contents of this email message and any attachment

[2020-05-26 17:20] whedon commented on #2254
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02254/joss.02254/10.21105.joss.02254.pdf)

[2020-05-26 17:21] danielskatz commented on #2254
@whedon check references

[2020-05-26 17:21] whedon commented on #2254
[code]

[2020-05-26 17:21] Visdoom commented on #2254
Potential reviewers:
Jkanche
A3sha2
Mstimberg
Emptymalei
anibalsolon

[2020-05-26 17:23] Visdoom commented on #2254
Great, thank you!

[2020-05-26 17:37] kullrich commented on #2258
@whedon generate pdf

[2020-05-26 17:38] whedon commented on #2258
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02258/joss.02258/10.21105.joss.02258.pdf)

[2020-05-26 17:41] kullrich commented on #2258
@whedon generate pdf

[2020-05-26 17:41] whedon commented on #2258
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02258/joss.02258/10.21105.joss.02258.pdf)

[2020-05-26 17:58] SiminaB commented on #2044
Thank you! Hope to take a look at it soon!

[2020-05-26 18:33] mjsottile commented on #2217
Excellent!  Thanks for the quick responses to the review request.  I'll add everyone and initiate the review process right away.

[2020-05-26 18:34] mjsottile commented on #2217
@whedon assign @SirSharpest as reviewer

[2020-05-26 18:34] whedon commented on #2217
OK, @SirSharpest is now a reviewer

[2020-05-26 18:34] mjsottile commented on #2217
@whedon add @phckopper as reviewer

[2020-05-26 18:34] whedon commented on #2217
OK, @phckopper is now a reviewer

[2020-05-26 18:34] mjsottile commented on #2217
@whedon add @jizecn as reviewer

[2020-05-26 18:35] whedon commented on #2217
OK, @jizecn is now a reviewer

[2020-05-26 18:35] mjsottile commented on #2217
@whedon start review

[2020-05-26 18:35] whedon opened #2259 "[REVIEW]: BluVision Macro - a software for automated powdery mildew and rust disease quantification on detached leaves."
**Submitting author:** @snowformatics (<a href="http://orcid.org/0000-0003-0536-835X">Stefanie Lueck</a>)
**Repository:** <a href="https://github.com/snowformatics/macrobot" target ="_blank">https://github.com/snowformatics/macrobot</a>
**Version:** 0.4.6
**Editor:** @mjsottile
**Reviewer:** @SirSharpest, @phckopper, @jizecn
**Archive:** <a href="https://doi.org/10.5281/zenodo.3929095" target="_bl

[2020-05-26 18:35] whedon commented on #2217
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2259.

[2020-05-26 18:35] #2217 closed

[2020-05-26 18:35] whedon commented on #2259
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @SirSharpest, @phckopper, @jizecn it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog p

[2020-05-26 18:35] whedon commented on #2259
[code]

[2020-05-26 18:36] whedon commented on #2259
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02259/joss.02259/10.21105.joss.02259.pdf)

[2020-05-26 18:39] mjsottile commented on #2213
:wave: Hi @sivaramambikasaran, @zeroset and @adam-m-jcbs - you were suggested by the author of this submission to JOSS as potential reviewers. Would you be interested in providing a review? If you haven't reviewed for JOSS before, you can see the review criteria here : https://joss.readthedocs.io/en/latest/review_criteria.html

Please let me know if you are interested and I can add you as a review

[2020-05-26 18:41] sivaramambikasaran commented on #2213
Sure. Can review.

[2020-05-26 18:43] kullrich commented on #2258
Possible reviewer based on their preferred program language R and their topic area, starting from the bottom of the list of people agreed to review:
davismcc
richelbilderbeek
druvus
dcassol
markziemann
TGuillerme
vbaliga
clauswilke

[2020-05-26 19:01] adam-m-jcbs commented on #2213
I am also available to review.

[2020-05-26 19:11] zeroset commented on #2213
I am happy to review.

[2020-05-26 22:17] hpparvi commented on #2125
My apologies for the extremely long delay. I'll aim to finish my review by Friday.

[2020-05-26 22:19] hpparvi commented on #2253
Hi! I'll be happy to review the submission.

[2020-05-26 22:29] arfon commented on #2253
:zap: thanks @hpparvi. I'll add you to the review now but won't move this forward to the main review issue until we've identified a second reviewer.

[2020-05-26 22:29] arfon commented on #2253
@whedon add @hpparvi as reviewer

[2020-05-26 22:29] whedon commented on #2253
OK, @hpparvi is now a reviewer

[2020-05-26 22:55] kbarnhart commented on #1969
@rgmyr thanks for the update!

[2020-05-26 23:29] kbarnhart commented on #2197
@whedon generate pdf

[2020-05-26 23:30] whedon commented on #2197
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02197/joss.02197/10.21105.joss.02197.pdf)

[2020-05-27 01:45] Xunius commented on #2197
@kbarnhart I noticed that generated PDF is using this format of citation `[@authoryear]` with no reference list in the end. In the PDF I compiled myself (using the preview tool or a Llinux commandline utility, I can't remember which exactly) the citations look correct. Is it something again related to formatting errors?

[2020-05-27 06:33] stheid commented on #2256
Oh, i assume the issue is caused that the paper is currently not yet on the master branch. The preview worked fine. I am a bit worried to make an ad-hoc merge. Please give me until the end of this work-week to properly finalize our development branch and merge to master.

[2020-05-27 06:47] arm61 commented on #2214
Hey @ejhigson, thanks for the additional comments! The benefit of having someone independent look though the code is really necessary for finding things like missing argument docs!

I have improved the docstrings in https://github.com/arm61/uravu/commit/0c143daec8d749994abd8c9adfe5af5261776714. Hopefully I have got them all covered now!

The missing space is dealt with in https://github.com/arm61/

[2020-05-27 06:48] arm61 commented on #2214
@whedon generate pdf

[2020-05-27 06:48] whedon commented on #2214
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02214/joss.02214/10.21105.joss.02214.pdf)

[2020-05-27 07:15] kullrich commented on #2258
@whedon generate pdf

[2020-05-27 07:16] whedon commented on #2258
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02258/joss.02258/10.21105.joss.02258.pdf)

[2020-05-27 07:44] hugoledoux commented on #2177
Thanks @Athelena

Small update: we need at least 2 reviewers, and @fortinma promised to try again later this week or earlier next week.

[2020-05-27 07:55] humanfactors commented on #2227
Thank you for message @arfon, all delays are very much understood during these tough times. Quick question, are we able to start using the assigned DOI in the article proof as of now, or should we continue referencing the DOI assigned from PsyArXiv preprint?

Note, @lukestrickland and @ballardtj the article proof processed above.

## Suggested Reviewers

I've identified three potential reviewers (

[2020-05-27 09:06] ejhigson commented on #2214
Hi @arm61 - thank you very much for these changes, they all look great to me!

I am satisfied that you have met all the reviewer criteria. Congratulations on a nice paper and an awesome software package!

[2020-05-27 09:13] mjsottile commented on #2213
Excellent - thanks all for the fast response.  I'll initiate the review now.

[2020-05-27 09:14] mjsottile commented on #2213
@whedon assign @sivaramambikasaran as reviewer

[2020-05-27 09:14] whedon commented on #2213
OK, @sivaramambikasaran is now a reviewer

[2020-05-27 09:14] mjsottile commented on #2213
@whedon add @adam-m-jcbs as reviewer

[2020-05-27 09:14] whedon commented on #2213
OK, @adam-m-jcbs is now a reviewer

[2020-05-27 09:15] mjsottile commented on #2213
@whedon add @zeroset as reviewer

[2020-05-27 09:15] whedon commented on #2213
OK, @zeroset is now a reviewer

[2020-05-27 09:15] mjsottile commented on #2213
@whedon start review

[2020-05-27 09:15] whedon opened #2260 "[REVIEW]: Ginkgo: A high performance numerical linear algebra library"
**Submitting author:** @pratikvn (<a href="http://orcid.org/0000-0002-7961-1159">Pratik Nayak</a>)
**Repository:** <a href="https://github.com/ginkgo-project/ginkgo" target ="_blank">https://github.com/ginkgo-project/ginkgo</a>
**Version:** v1.3.0
**Editor:** @mjsottile
**Reviewers:** @adam-m-jcbs, @zeroset
**Archive:** <a href="https://doi.org/10.5281/zenodo.4003613" target="_blank">10.5281/zenod

[2020-05-27 09:15] whedon commented on #2213
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2260.

[2020-05-27 09:15] #2213 closed

[2020-05-27 09:15] whedon commented on #2260
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @sivaramambikasaran, @adam-m-jcbs, @zeroset it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [

[2020-05-27 09:16] whedon commented on #2260
PDF failed to compile for issue #2260 with the following error:

 Can't find any papers to compile :-(

[2020-05-27 09:17] edwardoughton commented on #2255
Potential reviewer: peterl3233 (RF engineer who also codes)

[2020-05-27 09:18] mjsottile commented on #2260
@whedon generate pdf from branch joss-paper

[2020-05-27 09:18] whedon commented on #2260
[code]

[2020-05-27 09:18] whedon commented on #2260
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02260/joss.02260/10.21105.joss.02260.pdf)

[2020-05-27 09:20] mjsottile commented on #2260
@whedon check references

[2020-05-27 10:03] pratikvn commented on #2260
Hello Editors and Reviewers, Thank you for taking your time to review this submission.

To make this process easier for all of us,

* Please feel free to use this issue to discuss the library and its features: https://github.com/ginkgo-project/ginkgo/issues/478

* Please feel free to submit feedback on the paper itself on this PR: https://github.com/ginkgo-project/ginkgo/pull/479

[2020-05-27 10:17] arfon commented on #2227
Please don't use the DOI from the proof - it's not the final DOI.

[2020-05-27 10:30] arm61 commented on #2214
Thanks @ejhigson! Great comments and very constructive 🙂

[2020-05-27 10:43] CarstenCroonenbroeck commented on #2190
Dear Arfon,

so, anything new on the status?

Thanks and best regards

Carsten

[2020-05-27 11:22] xuanxu commented on #2242
:wave: @hayesla & @nespinoza - would you be willing to review this submission for JOSS?
I think your knowledge of Python and astrophysics/exoplanets makes both of you a great fit for this submission.

[2020-05-27 11:36] ivalaginja commented on #2242
I had to update the author affiliations so I will regenerate the PDF

[2020-05-27 11:36] ivalaginja commented on #2242
@whedon generate pdf

[2020-05-27 11:38] ivalaginja commented on #2242
@whedon generate pdf

[2020-05-27 11:38] whedon commented on #2242
PDF failed to compile for issue #2242 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-45a043c4bfc2/lib/whedon/compilers.rb:158:in `initialize': No such file or directory @ rb_sysopen - tmp/2242/paper/markdown-metadata.yaml (Errno::ENOENT)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-45a043c4bfc2/lib/whedon/compilers.rb:158:in `open'
	from /app/vendor/bundle

[2020-05-27 11:40] ivalaginja commented on #2242
@arfon you mentioned these sort of errors can happen since the repository is so large. Mind giving us a hand?

[2020-05-27 11:40] whedon commented on #2242
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02242/joss.02242/10.21105.joss.02242.pdf)

[2020-05-27 11:43] arfon commented on #2190
@CarstenCroonenbroeck - thanks for making this update. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the week we've had > 50 papers submitted and as such, yours has been put in

[2020-05-27 11:51] arfon commented on #2242
Looks like Whedon got there eventually :-)

[2020-05-27 12:41] adam-m-jcbs commented on #2260
As per JOSS guidelines, I will create new issues for the purposes of review.  However, I will be careful to link back to the gingko project's two issues for tracking this review.  Thanks for providing these, @pratikvn !

[2020-05-27 12:45] TomGoffrey commented on #2182
My apologies in the delay on this review.

I'm currently stalling at the statement of need and example usage requirements.

Reading the paper it's not clear to me what the primary aim of the software is. Is it intended as a research tool in its own right, an educational tool, or both? I think this could be clarified, and assuming not a purely educational tool some concrete references to example ap

[2020-05-27 12:49] NicoRenaud commented on #2077
@arfon just to let you know that @joaomcteixeira has implemented his own suggestions for the test so we are officially done with the review on our side ! Thanks again @joaomcteixeira  !!

[2020-05-27 12:59] whedon opened #2261 "[PRE REVIEW]: gobbli: A uniform interface to deep learning for text in Python"
**Submitting author:** @jasonnance (<a href="http://orcid.org/0000-0003-4127-3198">Jason Nance</a>)
**Repository:** <a href="https://github.com/RTIInternational/gobbli" target ="_blank">https://github.com/RTIInternational/gobbli</a>
**Version:** v0.2.0
**Editor:** @bmcfee
**Reviewers:** @w4ngatang, @thomwolf
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due t

[2020-05-27 12:59] whedon commented on #2261
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-27 13:00] whedon commented on #2261
PDF failed to compile for issue #2261 with the following error:

 Can't find any papers to compile :-(

[2020-05-27 13:00] whedon commented on #2261
[code]

[2020-05-27 13:00] danielskatz commented on #2261
@whedon generate pdf from branch joss-paper

[2020-05-27 13:00] whedon commented on #2261
[code]

[2020-05-27 13:01] whedon commented on #2261
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02261/joss.02261/10.21105.joss.02261.pdf)

[2020-05-27 13:02] danielskatz commented on #2261
@whedon check references

[2020-05-27 13:03] danielskatz commented on #2261
@whedon check references from branch joss-paper

[2020-05-27 13:03] whedon commented on #2261
[code]

[2020-05-27 13:04] whedon commented on #2261
[code]

[2020-05-27 13:04] danielskatz commented on #2261
👋 @jasonnance - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS last week, we've had > 60 papers submitted and as such, yours has been put in our backlog

[2020-05-27 13:05] whedon opened #2262 "[PRE REVIEW]: TorchGAN: A Flexible Framework for GAN Training and Evaluation"
**Submitting author:** @avik-pal (<a href="http://orcid.org/0000-0002-3938-7375">Avik Pal</a>)
**Repository:** <a href="https://github.com/torchgan/torchgan/" target ="_blank">https://github.com/torchgan/torchgan/</a>
**Version:** v0.0.4
**Editor:** @terrytangyuan
**Reviewers:** @Paul92, @urbanophile
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the ch

[2020-05-27 13:05] whedon commented on #2262
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-27 13:06] whedon commented on #2262
[code]

[2020-05-27 13:06] whedon commented on #2262
PDF failed to compile for issue #2262 with the following error:

 Can't find any papers to compile :-(

[2020-05-27 13:07] danielskatz commented on #2262
@whedon generate pdf from branch ap/joss-paper

[2020-05-27 13:07] whedon commented on #2262
[code]

[2020-05-27 13:07] whedon commented on #2262
PDF failed to compile for issue #2262 with the following error:

 error: pathspec 'ap/joss-paper' did not match any file(s) known to git.
Can't find any papers to compile :-(

[2020-05-27 13:07] danielskatz commented on #2262
@whedon generate pdf from branch ap/joss_paper

[2020-05-27 13:07] whedon commented on #2262
[code]

[2020-05-27 13:08] whedon commented on #2262
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02262/joss.02262/10.21105.joss.02262.pdf)

[2020-05-27 13:11] danielskatz commented on #2262
👋 @avik-pal - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS last week, we've had > 60 papers submitted and as such, yours has been put in our backlog th

[2020-05-27 13:12] whedon opened #2263 "[PRE REVIEW]: Frackit: a framework for stochastic fracture network generation and analysis"
**Submitting author:** @dglaeser (<a href="http://orcid.org/0000-0001-9646-881X">Dennis Gläser</a>)
**Repository:** <a href="https://git.iws.uni-stuttgart.de/tools/frackit" target ="_blank">https://git.iws.uni-stuttgart.de/tools/frackit</a>
**Version:** v1.1
**Editor:** @diehlpk
**Reviewers:** @ilyasst
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the

[2020-05-27 13:12] whedon commented on #2263
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-27 13:12] nespinoza commented on #2242
Hi everyone! Sadly, can't right now as my schedule is quite full for the next month or so :(.

[2020-05-27 13:12] Visdoom commented on #2254
@whedon generate pdf

[2020-05-27 13:13] whedon commented on #2263
[code]

[2020-05-27 13:13] Visdoom commented on #2254
@whedon commands

[2020-05-27 13:13] whedon commented on #2254
Here are some things you can ask me to do:

[code]

[2020-05-27 13:14] lpantano commented on #2077
Perfect! @NicoRenaud can you confirm the latest version is 0.2.2? if that is right, can you work on a zenodo archive of this version and having the title and authors matching what is shown in the paper? Thanks!

[2020-05-27 13:14] lpantano commented on #2077
@whedon check references

[2020-05-27 13:15] whedon commented on #2077
[code]

[2020-05-27 13:15] lpantano commented on #2077
@whedon generate pdf

[2020-05-27 13:15] whedon commented on #2077
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02077/joss.02077/10.21105.joss.02077.pdf)

[2020-05-27 13:18] danielskatz commented on #2263
@whedon generate pdf

[2020-05-27 13:19] danielskatz commented on #2263
@whedon check repository

[2020-05-27 13:19] whedon commented on #2263
[code]

[2020-05-27 13:20] danielskatz commented on #2263
👋 @openjournals/dev - generating the PDF seems to be failing - can you check what's going wrong?

[2020-05-27 13:30] hayesla commented on #2242
@xuanxu  yes I'm happy to review this 👍

[2020-05-27 13:31] danielskatz commented on #2255
👋 @gorlapraveen - Would you be willing to review this submission for JOSS?

[2020-05-27 13:39] Visdoom commented on #2254
@whedon generate pdf

[2020-05-27 13:39] whedon commented on #2254
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02254/joss.02254/10.21105.joss.02254.pdf)

[2020-05-27 13:46] arfon commented on #2263
@whedon generate pdf

[2020-05-27 13:47] whedon commented on #2263
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02263/joss.02263/10.21105.joss.02263.pdf)

[2020-05-27 13:49] arfon commented on #2263
I think Whedon might be struggling a little here due to the large size of the (very nice) images in this paper.

[2020-05-27 13:50] danielskatz commented on #2263
yes, this is also causing a lot of slowness when I try to display the paper in github.

[2020-05-27 13:51] danielskatz commented on #2263
👋 @dglaeser - if you can reduce the size of the images without losing content, please do.  If not, that's ok.

[2020-05-27 13:52] danielskatz commented on #2263
Also note a bunch of references may be missing DOIs.  As you make changes to the .md, .bib, etc. please enter ```@whedon generate pdf``` as a new command here to check the results

[2020-05-27 13:53] danielskatz commented on #2263
👋 @dglaeser - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS last week, we've had > 60 papers submitted and as such, yours has been put in our backlog th

[2020-05-27 13:55] xuanxu commented on #2242
@nespinoza: No problem!

@hayesla: Great, thanks! Once I have the second reviewer I'll start a new issue where the actual review will take place. Stay tuned!

[2020-05-27 14:05] xuanxu commented on #2242
:wave: @HeloiseS - would you be willing to review this submission for JOSS?
Your expertise with Python and astrophysics would come in handy.

[2020-05-27 14:14] kbarnhart commented on #2196
:wave: @KMarkert @arbennet @dleutnant @ZhenduoZhu, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is a pre-review issue which is used to find reviewers. Once 2-3 reviewers have been found I'll start the review on a dedicated GitHub

[2020-05-27 14:20] mikerspencer commented on #2205
Hi all, apologies for the late response (a dislocated finger has slowed me down).

If you need an extra reviewer I'm happy to be involved.

[2020-05-27 14:23] dglaeser commented on #2263
Thanks a lot for your quick responses! I fixed the missing and failing dois and downsampled some of the images

[2020-05-27 14:24] dglaeser commented on #2263
@whedon generate pdf

[2020-05-27 14:25] whedon commented on #2263
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02263/joss.02263/10.21105.joss.02263.pdf)

[2020-05-27 14:27] arfon commented on #2199
@kthyng will you be handling this submission as editor?

[2020-05-27 14:54] jasonnance commented on #2261
Thanks, Daniel!  We understand JOSS has a large backlog and are in no hurry.  I've tried to clean up the bib entries a bit.

@whedon generate pdf from branch joss-paper

[2020-05-27 14:55] jasonnance commented on #2261
@whedon generate pdf from branch joss-paper

[2020-05-27 14:55] whedon commented on #2261
[code]

[2020-05-27 14:57] whedon commented on #2261
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02261/joss.02261/10.21105.joss.02261.pdf)

[2020-05-27 14:58] jasonnance commented on #2261
@whedon check references from branch joss-paper

[2020-05-27 14:58] whedon commented on #2261
[code]

[2020-05-27 14:59] whedon commented on #2261
[code]

[2020-05-27 15:02] bmcfee commented on #2154
Agreed, all looks good on my end too.  Thanks to the authors for their patience and putting in all the work for this! :+1:

[2020-05-27 15:08] gorlapraveen commented on #2255
@danielskatz I wish to review!

[2020-05-27 15:08] aj2duncan commented on #2205
Apologies for my tardiness too, it looks like an interesting submission. Seems like @mikerspencer has you covered for an extra reviewer but if anything changes let me know. Thanks.

[2020-05-27 15:13] gkthiruvathukal commented on #2153
@arfon Just letting you know, I'm able to take over and see this through.

@mado89, @feliperodri, @s0nata, How are things coming along with the review? Let me know if you have any questions.

[2020-05-27 15:15] gkthiruvathukal commented on #2180
@omshinde Just checking in on how things are coming along with your review. Let me know if you have any questions.

[2020-05-27 15:16] danielskatz commented on #2255
Thanks @gorlapraveen - I'll add you into the system, but we won't start the review until we find at least one more reviewer as well.

[2020-05-27 15:16] danielskatz commented on #2255
@whedon assign @gorlapraveen as reviewer

[2020-05-27 15:16] whedon commented on #2255
OK, @gorlapraveen is now a reviewer

[2020-05-27 15:17] danielskatz commented on #2255
👋 @garrettj403 - Would you be willing to review this submission for JOSS?

[2020-05-27 15:18] Xunius commented on #2197
@kbarnhart Thanks. I think I must have accidentally reverted to a previous commit or something, I remembered myself fixing these citation issues before. Anyway, I just pushed a new commit fixing this, and tried the online preview service again. Now it compiles correctly.

[2020-05-27 15:43] CunliangGeng commented on #2077
Thanks @lpantano, the version now is 0.4.0, and zenodo archive has been updated with your suggestions, see https://doi.org/10.5281/zenodo.3860329.

[2020-05-27 15:58] Xunius commented on #2197
@whedon generate pdf

[2020-05-27 15:59] whedon commented on #2197
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02197/joss.02197/10.21105.joss.02197.pdf)

[2020-05-27 16:16] Xunius commented on #2197
Looking good now.

[2020-05-27 16:33] trallard commented on #2107
Hi folks just checking in on the status as per Arfon's message.
Any updates on the reviews @eteq @dvanic

[2020-05-27 16:34] omshinde commented on #2180
Hi @gkthiruvathukal . Thank you! Sure. Yes, I have started review steps locally but I think we need to have a review checklist as mentioned by @arfon in the first comment of this issue so that I can mark the status of completed steps. Oh, it seems I can edit it. I will update it manually. Thanks again for the reminder.

[2020-05-27 16:44] trallard commented on #2211
@whedon  add @ejhigson as reviewer

[2020-05-27 16:44] whedon commented on #2211
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-05-27 16:49] avik-pal commented on #2262
@whedon generate pdf from branch ap/joss_paper

[2020-05-27 16:49] whedon commented on #2262
[code]

[2020-05-27 16:49] whedon commented on #2262
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02262/joss.02262/10.21105.joss.02262.pdf)

[2020-05-27 17:20] arfon commented on #2211
@whedon add @ejhigson as reviewer

[2020-05-27 17:21] arfon commented on #2211
Seems like Whedon is having some issues...

[2020-05-27 17:22] arfon commented on #2211
Ahhh. @trallard - looks like you need to assign yourself first (this is a bug).

[2020-05-27 17:22] arfon commented on #2211
@whedon assign @trallard as editor

[2020-05-27 17:22] whedon commented on #2211
OK, the editor is @trallard

[2020-05-27 18:17] whedon opened #2264 "[PRE REVIEW]: Exploring meaningful visual effects and quantities of interest from dynamic models through dynamac"
**Submitting author:** @andyphilips (<a href="http://orcid.org/0000-0003-4201-1085">Soren Jordan</a>)
**Repository:** <a href="https://github.com/andyphilips/dynamac" target ="_blank">https://github.com/andyphilips/dynamac</a>
**Version:** v0.1.10
**Editor:** @sbenthall
**Reviewers:** @stulacy, @dormezil
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to th

[2020-05-27 18:17] whedon commented on #2264
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-27 18:17] whedon commented on #2264
[code]

[2020-05-27 18:17] whedon commented on #2264
Failed to discover a valid open source license.

[2020-05-27 18:17] whedon commented on #2264
[code]

[2020-05-27 18:18] whedon commented on #2264
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02264/joss.02264/10.21105.joss.02264.pdf)

[2020-05-27 18:19] danielskatz commented on #2264
👋 @andyphilips - you will need to add an open source license (OSI-approved) to your repository before we can continue

[2020-05-27 18:20] danielskatz commented on #2264
Can you also say a little in the paper about what types of research (in what fields, for example) would use this software, and for what purpose?

[2020-05-27 18:21] danielskatz commented on #2264
some of this might be in the conclusions, but it should really be in the introduction

[2020-05-27 18:21] danielskatz commented on #2264
You can then enter ```@whedon generate pdf``` as a new comment here to regenerate the PDF.

[2020-05-27 18:28] danielskatz commented on #2190
👋 @meg-simula - would you be able to edit this submission? It's not exactly in your area, but I hope you might be willing, given the backlog of submissions

[2020-05-27 18:28] danielskatz commented on #2190
@whedon invite @meg-simula as editor

[2020-05-27 18:28] whedon commented on #2190
@meg-simula has been invited to edit this submission.

[2020-05-27 19:05] AndresPenuela commented on #2231
List of potential reviewers:
Full name: Eric Hutton, email: eric.hutton@colorado.edu<mailto:eric.hutton@colorado.edu>
Full name: Zoran Kapelan, email: Z.Kapelan@tudelft.nl<mailto:Z.Kapelan@tudelft.nl>
Full name: Jon Herman, email: jdherman@ucdavis.edu<mailto:jdherman@ucdavis.edu>, username: jdherman<mailto:jdherman>

De: whedon<mailto:notifications@github.com>
Enviado: 22 May 2020 21:57
Para: open

[2020-05-27 19:18] lpantano commented on #2077
@whedon set version as 0.4.0

[2020-05-27 19:18] whedon commented on #2077
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-05-27 19:18] lpantano commented on #2077
@whedon set 0.4.0 as version

[2020-05-27 19:19] whedon commented on #2077
OK. 0.4.0 is the version.

[2020-05-27 19:19] lpantano commented on #2077
@whedon set 10.5281/zenodo.3860329 as archive

[2020-05-27 19:19] whedon commented on #2077
OK. <a href="https://doi.org/10.5281/zenodo.3860329" target="_blank">10.5281/zenodo.3860329</a> is the archive.

[2020-05-27 19:20] lpantano commented on #2077
@whedon accept

[2020-05-27 19:20] whedon commented on #2077
[code]

[2020-05-27 19:20] whedon commented on #2077
[code]

[2020-05-27 19:21] whedon commented on #2077
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1460

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1460, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-05-27 19:57] danielskatz commented on #2077
👋 @NicoRenaud - please merge the minor changes in https://github.com/DeepRank/pdb2sql/pull/54 or let me know what you disagree with in it

[2020-05-27 23:35] jdber1 commented on #2128
HI @kyleniemeyer, you could try Pat Spicer (details[ here](http://nonequilibrium.com/)).

[2020-05-27 23:53] usethedata commented on #2198
@whedon add @JonasMoss as reviewer

[2020-05-27 23:54] whedon commented on #2198
OK, @JonasMoss is now a reviewer

[2020-05-27 23:55] usethedata commented on #2198
@whedon start review

[2020-05-27 23:55] whedon opened #2265 "[REVIEW]: cmstatr: An R Package for Statistical Analysis of Composite Material Data"
**Submitting author:** @kloppen (<a href="http://orcid.org/0000-0002-1908-5214">Stefan Kloppenborg</a>)
**Repository:** <a href="https://github.com/ComtekAdvancedStructures/cmstatr" target ="_blank">https://github.com/ComtekAdvancedStructures/cmstatr</a>
**Version:** 0.6.0
**Editor:** @usethedata
**Reviewer:** @myousefi2016, @JonasMoss
**Archive:** <a href="https://doi.org/10.5281/zenodo.3930475"

[2020-05-27 23:55] whedon commented on #2198
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2265.

[2020-05-27 23:55] #2198 closed

[2020-05-27 23:55] whedon commented on #2265
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @myousefi2016, @JonasMoss it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2020-05-27 23:55] whedon commented on #2265
[code]

[2020-05-27 23:56] whedon commented on #2265
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02265/joss.02265/10.21105.joss.02265.pdf)

[2020-05-27 23:57] usethedata commented on #2265
Thank you @myousefi2016 and @JonasMoss for serving as reviewers for this.  Please feel free to reach out to me either through an issue or via email (see my profile) if you have any questions or need any help.

[2020-05-28 01:29] rmsare commented on #2172
@martibosch @kthyng Thank you for your patience with my review! I enjoyed playing around with detectree.

This is a nice package that solves a remote sensing problem - tree detection in aerial imagery. It re-implements a published method in Python and this work is appropriately referenced. The API is clear and well documented and it uses the modern Python data science stack. The functionality seem

[2020-05-28 02:42] garrettj403 commented on #2255
Hi @danielskatz, I can to review this project. :+1:

[2020-05-28 06:31] MrMinimal64 commented on #2224
@whedon generate pdf

[2020-05-28 06:32] whedon commented on #2224
PDF failed to compile for issue #2224 with the following error:

 Error reading bibliography ./paper.bib (line 72, column 3):
unexpected "y"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2020-05-28 07:06] MrMinimal64 commented on #2224
@whedon generate pdf

[2020-05-28 07:06] dglaeser commented on #2263
@wheddon commands

[2020-05-28 07:07] dglaeser commented on #2263
@whedon commands

[2020-05-28 07:07] whedon commented on #2263
Here are some things you can ask me to do:

[code]

[2020-05-28 07:07] whedon commented on #2224
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02224/joss.02224/10.21105.joss.02224.pdf)

[2020-05-28 07:07] dglaeser commented on #2263
@whedon check references

[2020-05-28 07:07] whedon commented on #2263
[code]

[2020-05-28 07:32] kullrich commented on #2258
@whedon generate pdf

[2020-05-28 07:33] whedon commented on #2258
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02258/joss.02258/10.21105.joss.02258.pdf)

[2020-05-28 08:22] stheid commented on #2256
@danielskatz i assume it is fine now. the whedon.theoj preview produces a paper if i omit specifying the branch (meaning master branch)

[2020-05-28 08:41] stheid commented on #2256
@whedon generate pdf

[2020-05-28 08:42] whedon commented on #2256
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02256/joss.02256/10.21105.joss.02256.pdf)

[2020-05-28 08:56] stheid commented on #2256
![image](https://user-images.githubusercontent.com/2736207/83120700-aaa88000-a0d1-11ea-8566-077a97f2152d.png)

And is there a way to fix the missing whitespace typo? I assume everything will be automatic from here on so the typo would also be on you website if this review comes to an sucessfull end.

[2020-05-28 09:17] s0nata commented on #2153
@gkthiruvathukal almost ready on my end, just need to fix an issue with my OS that blocks tool evaluation, and I'm done

[2020-05-28 09:28] trallard commented on #2211
@whedon add @ejhigson as reviewer

[2020-05-28 09:29] whedon commented on #2211
OK, @ejhigson is now a reviewer

[2020-05-28 09:39] TomKellyGenetics commented on #2161
@whedon generate pdf

[2020-05-28 09:45] whedon commented on #2161
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02161/joss.02161/10.21105.joss.02161.pdf)

[2020-05-28 09:48] TomKellyGenetics commented on #2161
Quick update here. I don't have as much time to work on this as I'd like. I will try to get back to vignettes sometime soon.

I've removed the code for the subcaptions from the examples (these run hidden). This makes the Rmarkdown messy but I think it's good to refer to if you wish to reproduce the figures. Regarding length, I get a [preview](https://github.com/openjournals/joss-reviews/files/4694

[2020-05-28 10:10] stheid commented on #2256
@whedon set v0.2.0 as version

[2020-05-28 10:11] whedon commented on #2256
I'm sorry @stheid, I'm afraid I can't do that. That's something only editors are allowed to do.

[2020-05-28 11:44] CunliangGeng commented on #2077
@danielskatz Many thanks for the changes, it's merged.

[2020-05-28 12:24] danielskatz commented on #2077
@whedon accept deposit=true

[2020-05-28 12:24] whedon commented on #2077
[code]

[2020-05-28 12:25] whedon commented on #2077
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1265982623756713984) 👈 🐦🐦🐦

[2020-05-28 12:25] whedon commented on #2077
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1461
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02077](https://doi.org/10.21105/joss.02077)
2. If everything looks g

[2020-05-28 12:25] danielskatz commented on #2256
I fixed the whitespace issue

[2020-05-28 12:26] danielskatz commented on #2256
@whedon set v0.2.0 as version

[2020-05-28 12:26] whedon commented on #2256
OK. v0.2.0 is the version.

[2020-05-28 12:26] danielskatz commented on #2256
I don't know that the version matters at this point - we will set it at the end of the view process in case further changes are needed

[2020-05-28 12:27] danielskatz commented on #2256
@whedon check references

[2020-05-28 12:28] whedon commented on #2256
[code]

[2020-05-28 12:29] danielskatz commented on #2256
👋 @stheid - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS last week, we've had > 60 papers submitted and as such, now that yours is complete, it has bee

[2020-05-28 12:31] danielskatz commented on #2077
Thanks to @i-mtz, @JoaoRodrigues, @joaomcteixeira for  reviewing, and to @lpantano for editing!

And congratulations to @NicoRenaud and co-author!!

[2020-05-28 12:31] #2077 closed

[2020-05-28 12:31] whedon commented on #2077
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02077/status.svg)](https://doi.org/10.21105/joss.02077)

**We need your help!**

Journal of Open Source Softwa

[2020-05-28 12:39] danielskatz commented on #2255
@whedon add @garrettj403 as reviewer

[2020-05-28 12:39] whedon commented on #2255
OK, @garrettj403 is now a reviewer

[2020-05-28 12:43] danielskatz commented on #2255
@whedon start review

[2020-05-28 12:43] whedon opened #2266 "[REVIEW]: itmlogic: Longley Rice Irregular Terrain Model"
**Submitting author:** @edwardoughton (<a href="http://orcid.org/0000-0002-2766-008X">Edward J. Oughton</a>)
**Repository:** <a href="https://github.com/edwardoughton/itmlogic" target ="_blank">https://github.com/edwardoughton/itmlogic</a>
**Version:** v1.1
**Editor:** @danielskatz
**Reviewer:** @gorlapraveen, @garrettj403
**Archive:** <a href="https://doi.org/10.5281/zenodo.3931350" target="_blan

[2020-05-28 12:43] whedon commented on #2255
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2266.

[2020-05-28 12:43] #2255 closed

[2020-05-28 12:43] whedon commented on #2266
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @gorlapraveen, @garrettj403 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](h

[2020-05-28 12:43] whedon commented on #2266
[code]

[2020-05-28 12:44] whedon commented on #2266
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02266/joss.02266/10.21105.joss.02266.pdf)

[2020-05-28 12:47] danielskatz commented on #2266
👋 @gorlapraveen & @garrettj403 - thanks for agreeing to review this submission. Please be sure to read the comments above, and let me know if you have any questions.  Basically, your job is to check the article proof and repository and check items off your checklist above.

If you see small problems that need to be discussed, feel free to discuss them here.  But if you can, create a new issue in t

[2020-05-28 12:49] whedon opened #2267 "[PRE REVIEW]: HOOMD-TF: GPU-Accelerated, Online Machine Learning in the HOOMD-blue Molecular Dynamics Engine"
**Submitting author:** @RainierBarrett (<a href="http://orcid.org/0000-0002-5728-9074">Rainier Barrett</a>)
**Repository:** <a href="https://github.com/ur-whitelab/hoomd-tf/" target ="_blank">https://github.com/ur-whitelab/hoomd-tf/</a>
**Version:** v0.6
**Editor:** @richardjgowers
**Reviewers:** @malramsay64, @rmeli
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:

[2020-05-28 12:49] whedon commented on #2267
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-28 12:49] whedon opened #2268 "[PRE REVIEW]: COVID-19 Data Hub"
**Submitting author:** ArdiaD (<a href="http://orcid.org/0000-0003-2823-782X">David Ardia</a>)
**Repository:** <a href="https://github.com/covid19datahub/JOSS" target ="_blank">https://github.com/covid19datahub/JOSS</a>
**Version:** 2.0.5
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID

[2020-05-28 12:49] whedon commented on #2268
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-28 12:49] whedon opened #2269 "[PRE REVIEW]: pypillometry: A Python package for pupillometric analyses"
**Submitting author:** @ihrke (<a href="http://orcid.org/0000-0003-0205-7353">Matthias Mittner</a>)
**Repository:** <a href="https://github.com/ihrke/pypillometry" target ="_blank">https://github.com/ihrke/pypillometry</a>
**Version:** v1.0.0
**Editor:** @oliviaguest
**Reviewers:** @samhforbes, @szorowi1
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to th

[2020-05-28 12:49] whedon commented on #2267
PDF failed to compile for issue #2267 with the following error:

 Can't find any papers to compile :-(

[2020-05-28 12:49] whedon commented on #2269
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-28 12:49] whedon commented on #2268
[code]

[2020-05-28 12:49] whedon commented on #2268
Failed to discover a valid open source license.

[2020-05-28 12:50] whedon commented on #2268
[code]

[2020-05-28 12:50] whedon commented on #2269
[code]

[2020-05-28 12:51] whedon commented on #2269
[code]

[2020-05-28 12:51] whedon commented on #2268
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02268/joss.02268/10.21105.joss.02268.pdf)

[2020-05-28 12:51] danielskatz commented on #2267
@whedon generate pdf from branch joss-paper-branch

[2020-05-28 12:51] whedon commented on #2267
[code]

[2020-05-28 12:51] whedon commented on #2269
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02269/joss.02269/10.21105.joss.02269.pdf)

[2020-05-28 12:52] whedon commented on #2267
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02267/joss.02267/10.21105.joss.02267.pdf)

[2020-05-28 12:52] danielskatz commented on #2267
@whedon check references from branch joss-paper-branch

[2020-05-28 12:52] whedon commented on #2267
[code]

[2020-05-28 12:52] whedon commented on #2267
[code]

[2020-05-28 12:53] dpsanders commented on #2191
@whedon commands

[2020-05-28 12:53] whedon commented on #2191
Here are some things you can ask me to do:

[code]

[2020-05-28 12:53] dpsanders commented on #2191
@whedon check repository

[2020-05-28 12:53] danielskatz commented on #2267
👋 @RainierBarrett - can you add a little more context about why you would use this software in the README?  The paper seems to have this context, but the README doesn't.

[2020-05-28 12:54] whedon commented on #2191
[code]

[2020-05-28 12:55] danielskatz commented on #2267
👋 @RainierBarrett - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS last week, we've had > 60 papers submitted and as such, yours has been put in our back

[2020-05-28 12:55] danielskatz commented on #2267
@whedon check repository

[2020-05-28 12:56] whedon commented on #2267
[code]

[2020-05-28 13:00] danielskatz commented on #2268
👋  @ArdiaD - I'm going to mark this as withdrawn, but please resubmit, with

- an @ as part of your username
- the paper in the software repository, and the software repository as the submission

This submission doesn't have any software in it, which can be easily fixed.

[2020-05-28 13:01] danielskatz commented on #2268
@whedon withdraw

[2020-05-28 13:01] whedon commented on #2268
Paper withdrawn.

[2020-05-28 13:01] #2268 closed

[2020-05-28 13:01] dpsanders commented on #2191
Hi @wilsonrljr, sorry for the delay.

I have a few questions and comments from looking at your submission:

- If this is a package for doing NARMAX, should NARMAX appear in the name of the package?
- How does this compare to something like [PySindy](https://joss.theoj.org/papers/10.21105/joss.02104)?
- Since this seems to be a way of inferring a model from data, how is it related to e.g. Scikit-Le

[2020-05-28 13:05] danielskatz commented on #2269
👋 @ihrke - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS last week, we've had > 60 papers submitted and as such, yours has been put in our backlog that

[2020-05-28 13:07] danielskatz commented on #2219
@whedon check references

[2020-05-28 13:07] whedon commented on #2219
[code]

[2020-05-28 13:07] danielskatz commented on #2219
@whedon generate pdf

[2020-05-28 13:08] whedon commented on #2219
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02219/joss.02219/10.21105.joss.02219.pdf)

[2020-05-28 13:10] danielskatz commented on #2219
👋 @mbobra - would you be able to edit this submission?

[2020-05-28 13:10] danielskatz commented on #2219
@whedon invite @mbobra as editor

[2020-05-28 13:10] whedon commented on #2219
@mbobra has been invited to edit this submission.

[2020-05-28 13:12] danielskatz commented on #2220
👋 @lorenanicole - would you be able to edit this submission?

[2020-05-28 13:13] danielskatz commented on #2220
@whedon invite @lorenanicole as editor

[2020-05-28 13:13] whedon commented on #2220
@lorenanicole has been invited to edit this submission.

[2020-05-28 13:16] danielskatz commented on #2224
👋 @dpsanders - would you be able to edit this submission?

[2020-05-28 13:16] danielskatz commented on #2224
@whedon invited @dpsanders as editor

[2020-05-28 13:16] whedon commented on #2224
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-05-28 13:17] danielskatz commented on #2224
@whedon invite @dpsanders as editor

[2020-05-28 13:17] whedon commented on #2224
@dpsanders has been invited to edit this submission.

[2020-05-28 13:19] danielskatz commented on #2228
👋 @hugoledoux - would you be able to edit this submission?

[2020-05-28 13:19] danielskatz commented on #2228
@whedon invite @hugoledoux as editor

[2020-05-28 13:19] whedon commented on #2228
@hugoledoux has been invited to edit this submission.

[2020-05-28 13:20] dpsanders commented on #2224
@danielskatz Yes sure.

@whedon assign @dpsanders as editor

[2020-05-28 13:20] romi1502 commented on #2154
Ok,
Thanks @faroit and @bmcfee for your reviews.
@terrytangyuan, I think we're good to move forward.
We will just need to change the title of the paper: I already updated the [paper.md](https://github.com/deezer/spleeter/blob/master/paper.md) of the project repo, but we'll need to update the submission title too. Do you how we can do it ?

[2020-05-28 13:21] danielskatz commented on #2230
👋 @VivianePons - would you be able to edit this submission for JOSS?

[2020-05-28 13:22] danielskatz commented on #2230
@whedon invite @VivianePons as editor

[2020-05-28 13:22] whedon commented on #2230
@VivianePons has been invited to edit this submission.

[2020-05-28 13:22] dpsanders commented on #2224
@whedon assign @dpsanders as editor

[2020-05-28 13:22] whedon commented on #2224
OK, the editor is @dpsanders

[2020-05-28 13:23] dpsanders commented on #2224
@whedon check repository

[2020-05-28 13:23] whedon commented on #2224
[code]

[2020-05-28 13:25] VivianePons commented on #2230
Sure

[2020-05-28 13:25] VivianePons commented on #2230
@whedon assign @VivianePons as editor

[2020-05-28 13:26] whedon commented on #2230
OK, the editor is @VivianePons

[2020-05-28 13:26] danielskatz commented on #2235
I'm fairly sure Kyle has a conflict with reviewing this - can you suggest other reviewers?

[2020-05-28 13:26] danielskatz commented on #2235
👋 @gkthiruvathukal - Are you able to edit this submission for JOSS?

[2020-05-28 13:27] danielskatz commented on #2235
@whedon invite @gkthiruvathukal as editor

[2020-05-28 13:27] whedon commented on #2235
@gkthiruvathukal has been invited to edit this submission.

[2020-05-28 13:31] danielskatz commented on #2154
I've updated the title here.
👋 @arfon - does anything else need to be done to update the title?

[2020-05-28 13:33] arfon commented on #2154
This should be good to go.

[2020-05-28 13:38] hugoledoux commented on #2228
ok sure

[2020-05-28 13:40] gkthiruvathukal commented on #2235
@danielskatz Yes, I will do it.

[2020-05-28 13:40] gkthiruvathukal commented on #2235
@whedon commands

[2020-05-28 13:40] whedon commented on #2235
Here are some things you can ask me to do:

[code]

[2020-05-28 13:42] gkthiruvathukal commented on #2235
@danielskatz Just to clarify the workflow, when I am invited, if I agree, do I just assign myself as the editor, if I want to accept the invitation?

[2020-05-28 13:42] danielskatz commented on #2228
Thanks - I'm going to make the assignment now, but you can also do this yourself next time.

[2020-05-28 13:42] danielskatz commented on #2228
@whedon assign @hugoledoux as editor

[2020-05-28 13:42] whedon commented on #2228
OK, the editor is @hugoledoux

[2020-05-28 13:43] danielskatz commented on #2235
yes, exactly - you do ```@whedon assign @gkthiruvathukal as editor```

[2020-05-28 13:44] gkthiruvathukal commented on #2235
@whedon assign @gkthiruvathukal as editor

[2020-05-28 13:44] whedon commented on #2235
OK, the editor is @gkthiruvathukal

[2020-05-28 13:48] gkthiruvathukal commented on #2235
@AlexMikes, can you please take a look at https://bit.ly/joss-reviewers and suggest potential reviewers? Please don't use the @ symbol to mention them. I'll mention those who I want to invite to participate in the review and will throw in others as needed. Thanks!

[2020-05-28 14:16] ihrke commented on #2269
@whedon generate pdf

[2020-05-28 14:17] whedon commented on #2269
PDF failed to compile for issue #2269 with the following error:

 Error reading bibliography ./paper.bib (line 9, column 3):
unexpected "p"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2020-05-28 14:19] ihrke commented on #2269
@whedon generate pdf

[2020-05-28 14:19] whedon commented on #2269
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02269/joss.02269/10.21105.joss.02269.pdf)

[2020-05-28 14:20] ihrke commented on #2269
@whedon check references

[2020-05-28 14:21] whedon commented on #2269
[code]

[2020-05-28 14:22] ihrke commented on #2269
@whedon check references

[2020-05-28 14:23] whedon commented on #2269
[code]

[2020-05-28 14:23] ihrke commented on #2269
@whedon generate pdf

[2020-05-28 14:24] whedon commented on #2269
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02269/joss.02269/10.21105.joss.02269.pdf)

[2020-05-28 15:21] kbarnhart commented on #2197
@Xunius

Thank you for submitting this contribution to JOSS. As part of the review process, one of the JOSS editors (me) does an initial screening to ensure the submission is in scope and identify if there are any issues that should be addressed before the review process starts. I am very excited to see this contribution reviewed at JOSS, but based on examining the contents of the submission and d

[2020-05-28 15:52] kbarnhart commented on #2234
@openjournals/joss-eics I can handle this one.

[2020-05-28 15:52] kbarnhart commented on #2234
@whedon assign @kbarnhart as editor

[2020-05-28 15:52] whedon commented on #2234
OK, the editor is @kbarnhart

[2020-05-28 16:07] AlexMikes commented on #2235
I have identified two. Usernames `cmccomb` and `e-dub`. Let me know if I should find more. Thanks.

[2020-05-28 18:34] ArdiaD commented on #2268
Hi @danielskatz will resubmit now. Not sure about your comment "resubmit with an @ as part of your username"; should I mention this in the "Message to editors". Thanks

[2020-05-28 19:08] agshvarts commented on #2121
@prs513rosewood, thank you for amending the author's list and for fixing issues with Docker. Now the installation, automatic testing, and all examples are working fine in Docker, so I ticked corresponding checkboxes. Below are my comments regarding the documentation.

**A statement of need.** The authors are explaining clearly in the documentation the types of problems this software is aimed to so

[2020-05-28 19:12] danielskatz commented on #2268
in the top line of the first comment in this issue, based on the data you submitted, I see
Submitting author: ArdiaD (David Ardia)
this should be
Submitting author: @ArdiaD (David Ardia)
But as I look at the submission form, I don't see how that this is something you control, so maybe don't worry about it

[2020-05-28 19:31] ArdiaD commented on #2268
I see; this might be because I am logging in via ORCID instead of GitHub. Thanks for your help. Will resubmit now and select you are Editor. Thx again

[2020-05-28 19:32] danielskatz commented on #2268
no, you don't need to select me as editor - I'm just the Associate Editor-in-Chief on duty this week...

[2020-05-28 19:35] ArdiaD commented on #2268
I see; resubmitted without specific Editor. Thanks

[2020-05-28 21:04] whedon opened #2270 "[PRE REVIEW]: GPP, the Generic Preprocessor"
**Submitting author:** @Logological (<a href="http://orcid.org/0000-0002-0749-1100">Tristan Miller</a>)
**Repository:** <a href="https://github.com/logological/gpp.git" target ="_blank">https://github.com/logological/gpp.git</a>
**Version:** 2.26
**Editor:** @gkthiruvathukal
**Reviewers:** @Smattr, @drj11
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to t

[2020-05-28 21:04] whedon commented on #2270
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-28 21:04] whedon commented on #2270
[code]

[2020-05-28 21:04] whedon commented on #2270
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02270/joss.02270/10.21105.joss.02270.pdf)