[2020-07-20 07:26] whedon commented on #2457
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2495.

[2020-07-20 07:27] #2457 closed

[2020-07-20 07:27] whedon commented on #2495
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ngnedin, @afialkov, @Stefan-Heimersheim it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our

[2020-07-20 07:27] whedon commented on #2495
[code]

[2020-07-20 07:27] whedon commented on #2495
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02495/joss.02495/10.21105.joss.02495.pdf)

[2020-07-20 08:01] strengejacke commented on #2445
@whedon generate pdf

[2020-07-20 08:01] strengejacke commented on #2445
We did some language revisions to the paper as well now.

[2020-07-20 08:01] whedon commented on #2445
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02445/joss.02445/10.21105.joss.02445.pdf)

[2020-07-20 08:11] xillig commented on #2246
Hi @trallard, shall I come up with more reviewer suggestions to move forward?

[2020-07-20 08:26] janfb commented on #2486
@dfm thanks for editing our submission!

[2020-07-20 08:43] blsqr commented on #2316
@whedon check references

[2020-07-20 08:53] rgerum commented on #1989
@labarba it seems the review is now complete, since last week. I would be happy to see the paper published soon.

[2020-07-20 08:56] labarba commented on #1989
Thanks for the ping, @rgerum — email notification overload on my side.

[2020-07-20 08:57] labarba commented on #1989
@story645 — we're missing the check on "quality of writing." did you find issues there?

[2020-07-20 08:58] labarba commented on #1989
@rgerum — I see the last tag release on the repo is v0.14.0 from Feb., so I think you will need a new tagged release with all changes to day. Please report the version number here.

[2020-07-20 09:03] rgerum commented on #1989
ah ok, yes, good idea. I

[2020-07-20 09:03] labarba commented on #1989
I'm reading the paper now, and have minor edits to suggest, which I could enter easily as a PR on the markdown. Before I proceed: I recommend swapping the term "evaluation" for "analysis" in the Background section.

[2020-07-20 09:08] rgerum commented on #1989
Thanks for the suggestion, I changed "evaluation" for "analysis".

[2020-07-20 09:18] labarba commented on #1989
@whedon set v1.0.0 as version

[2020-07-20 09:18] whedon commented on #1989
OK. v1.0.0 is the version.

[2020-07-20 09:54] berenger-eu commented on #2444
Dear Himanshu Sharma (@Himscipy)
Thanks for the review.

Here is my answer.

Thanks, this has been changed.

The new version of the paper includes results with OpenMP. As it is described in the related section, there is a speedup with OpenMP 4 but the scalability is limited (because the mutexinout/commutative access is only supported from version 5).
Therefore, up to 8 threads OpenMP can be used,

[2020-07-20 09:58] berenger-eu commented on #2444
@whedon generate pdf

[2020-07-20 09:59] whedon commented on #2444
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02444/joss.02444/10.21105.joss.02444.pdf)

[2020-07-20 09:59] rgerum commented on #1989
I have added the pull request. Luckily Github has a nice diff display for markdown now! I found an additional typo which I corrected. Thank you for improving the paper text.

[2020-07-20 10:00] labarba commented on #1989
@story645 — I've checked the last item for you, as I edited the writing myself now.

@rgerum — please now make an archive of your software repository on Zenodo, edit the Zenodo metadata so the title and author list matches the JOSS paper, and report the archive DOI here.

[2020-07-20 10:20] strengejacke commented on #2445
@whedon generate pdf

[2020-07-20 10:21] strengejacke commented on #2445
We created Zenodo-repositories to assign our packages with a DOI, so all references should have a DOI now (where possible).

[2020-07-20 10:21] whedon commented on #2445
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02445/joss.02445/10.21105.joss.02445.pdf)

[2020-07-20 10:59] mikldk commented on #2383
@mdogucu: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2020-07-20 11:09] xuanxu commented on #2491
@whedon assign me as editor

[2020-07-20 11:09] whedon commented on #2491
OK, the editor is @xuanxu

[2020-07-20 12:16] rgerum commented on #1989
@labarba I created an archived version on Zenodo:
http://doi.org/10.5281/zenodo.3952417

[2020-07-20 12:22] mikerspencer commented on #2282
Thanks @danielskatz your comment on verification is helpful. I think working on this issue (https://github.com/jcolomb/HCS_analysis/issues/18) is becoming more like co-creation. Keen to have your experienced view!

[2020-07-20 12:29] lrq3000 commented on #1277
Dear @arfon,

Thank you very much for the clarification. I agree with the suggested outcome, and I think most contributors explicitly stated they would agree with this potential scenario with a reduced set of authors and others in contributors. We will continue working on https://github.com/tqdm/tqdm/pull/905 and reach a conclusion under the stated deadline.

I just have one question: you mention

[2020-07-20 12:31] danielskatz commented on #2282
Well, ideally everything should work for the reviewer when they first try it, but if that was guaranteed, we wouldn't need any reviews :)

So, yes, sometimes the reviewers will work with the author to test things and this can be somewhat iterative.  If it's too much work, you can ask the author to go off and test with colleagues and come back when they are fairly sure the tests will pass for the r

[2020-07-20 12:33] RCHG commented on #2479
Hi @dhhagan - I am not aware that I had an invitation.

[2020-07-20 12:38] adam-m-jcbs commented on #2260
I apologize for my unprofessional absence. My family and I got hit by some COVID-related crises and this review got lost in the chaos.

I apologise for not getting in touch sooner.

I can offer two resolutions:

1: withdraw to allow the process to continue, or

2: address all remaining review criteria by the end of this week.

I will start locally on 2, but let me know if 1 is preferred.

[2020-07-20 12:48] mathieuboudreau commented on #2478
@Kevin-Mattheus-Moerman the "whedon invited you to openjournals/joss-reviews" email link has expired, since I was on vacation last week. Could someone trigger a re-send? Thanks.

[2020-07-20 12:50] labarba commented on #1989
@whedon set 10.5281/zenodo.3952417 as archive

[2020-07-20 12:50] whedon commented on #1989
OK. <a href="https://doi.org/10.5281/zenodo.3952417" target="_blank">10.5281/zenodo.3952417</a> is the archive.

[2020-07-20 12:51] whedon commented on #1989
[code]

[2020-07-20 12:51] whedon commented on #1989
[code]

[2020-07-20 12:51] whedon commented on #1989
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1582

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1582, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-20 12:57] mikerspencer commented on #2282
No problem, thanks for clarifying - I appreciate it's a fine line!

@aj2duncan has done most of the work so far I think.

[2020-07-20 13:10] arfon commented on #2287
Thanks @kevin218!

@mmartin-lagarde - can you let us know here when you've incorporated @kevin218's feedback?

Also, @hpparvi - how are you getting along with your review?

[2020-07-20 13:22] VivianePons commented on #2485
@whedon add @VivianePons as editor

[2020-07-20 13:22] whedon commented on #2485
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-07-20 13:23] VivianePons commented on #2485
@whedon assign @VivianePons as editor

[2020-07-20 13:23] whedon commented on #2485
OK, the editor is @VivianePons

[2020-07-20 13:31] fboehm commented on #2474
@tomaslaz - please disregard the last message. I've found a second reviewer.

[2020-07-20 13:32] whedon commented on #2474
OK, @craddm is now a reviewer

[2020-07-20 13:37] arfon commented on #2111
@whedon check references

[2020-07-20 13:38] whedon commented on #2111
[code]

[2020-07-20 13:47] kbarnhart commented on #2292
@whedon re-invite @jrkasprzyk as reviewer

[2020-07-20 13:47] whedon commented on #2292
OK, the reviewer has been re-invited.

@jrkasprzyk please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-07-20 13:48] diehlpk commented on #2291
Hi @ilyasst can you estimate when you finish the review?

[2020-07-20 13:48] kbarnhart commented on #2292
@jrkasprzyk if you click the link above and accept the invitation (which expires after some point) then you should be able to edit the checklist. Let me know if it still doesn't address the check/uncheck issue.

[2020-07-20 13:49] diehlpk commented on #2317
@mdpiper Any news from your crew?

[2020-07-20 13:50] diehlpk commented on #2403
Hey @arokem and @lukasheinrich how is your review going?

[2020-07-20 13:51] diehlpk commented on #2455
Hi @barischrooneyj, can you provide reviewer suggestions? We are still missing one reviewer to start the review

[2020-07-20 14:05] mdpiper commented on #2317
@diehlpk Waiting on one. We have a meeting this aft; I'll nudge him then.

[2020-07-20 14:24] cadop commented on #2404
@ejhigson  Thank you for pointing out the readme error!  The commits below correspond to your items.

1) https://github.com/cadop/seg1d/commit/dc007ac4115de3df8e555278d322b33f1f41fafc https://github.com/cadop/seg1d/commit/efe73589648c21f4b1e1fa4c309ae77cd87e746d

2) https://github.com/cadop/seg1d/commit/d01632e3d497aa098b1a31b09e3d7abf2e65da45

3) https://github.com/cadop/seg1d/issues/1

[2020-07-20 14:27] arfon commented on #1277
Great, thanks @lrq3000!

Yes, that draft paper looks good to me.

[2020-07-20 14:30] arfon commented on #2111
@donaldRwilliams - could you take a look at the DOIs suggested by Whedon above and add them to your BibTeX file if they are correct.

[2020-07-20 14:35] UTH-Tuan commented on #2153
@arcuri82 yes a brief extended version for those unfamiliar with the domain.

[2020-07-20 15:00] jrkasprzyk commented on #2292
Looks like the checkboxes work now, thanks!

[2020-07-20 15:22] RainierBarrett commented on #2367
Okay, we've bumped to v1.0 and I set up a zenodo here: https://zenodo.org/record/3952665

[2020-07-20 15:49] diehlpk commented on #2455
@whedon add @manparvesh as reviewer

[2020-07-20 15:49] whedon commented on #2455
OK, @manparvesh is now a reviewer

[2020-07-20 15:50] diehlpk commented on #2455
@manparvesh There will be a new issue with a check list you can follow.

[2020-07-20 15:50] diehlpk commented on #2455
@whedon start review

[2020-07-20 15:50] whedon opened #2496 "[REVIEW]: bridge-sim: A Python library for concrete slab bridge simulation"
**Submitting author:** @barischrooneyj (<a href="http://orcid.org/0000-0002-8441-212X">Jeremy Barisch-Rooney</a>)
**Repository:** <a href="https://github.com/barischrooneyj/bridge-sim" target ="_blank">https://github.com/barischrooneyj/bridge-sim</a>
**Version:** v0.0.7
**Editor:** @diehlpk
**Reviewers:** @andybond13
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to t

[2020-07-20 15:50] whedon commented on #2455
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2496.

[2020-07-20 15:50] #2455 closed

[2020-07-20 15:50] whedon commented on #2496
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @skreimeyer, @manparvesh it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2020-07-20 15:51] whedon commented on #2496
[code]

[2020-07-20 15:51] whedon commented on #2496
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02496/joss.02496/10.21105.joss.02496.pdf)

[2020-07-20 15:59] diehlpk commented on #2496
@barischrooneyj

Following things:

1. Can you extend 1 TNO with the full name? Most people might not know what TNO means.
2. State of the field: Do the authors describe how this software compares to other commonly-used packages? I feel that this point is missing in the paper. Can you add more details there?

I leave the remaining check boxes to the reviewers :)

[2020-07-20 16:13] kbarnhart commented on #2292
@dickinsonre a friendly reminder to complete your review and/or provide a quick update here on when you anticipate being able to complete it.

[2020-07-20 16:16] kthyng commented on #2433
@castelao That's fine — I think you focusing on the data access and oceanography in particular would be excellent, and @chadagreene is active in MATLAB so he could focus a bit more on that, so everything will be covered.

@chadagreene after August 1st is totally fine. I'll set you both up as reviewers and then set a reminder for you for August 2nd.

[2020-07-20 16:16] kthyng commented on #2433
@whedon assign @castelao as reviewer

[2020-07-20 16:16] whedon commented on #2433
OK, @castelao is now a reviewer

[2020-07-20 16:17] kthyng commented on #2433
@whedon add @chadagreene as reviewer

[2020-07-20 16:17] whedon commented on #2433
OK, @chadagreene is now a reviewer

[2020-07-20 16:21] janash commented on #2429
Hi @richardjgowers - The Tinker software has switched in recent years to be distributed via GitHub (https://github.com/TinkerTools). The modified Tinker code included here is part of a larger project at The Molecular Sciences Software Institute called the MolSSI Driver Interface (MDI).  You can see the MDI (which has the same code as Tinker-ELECTRIC) here - https://github.com/MolSSI-MDI/Tinker/tre

[2020-07-20 16:22] kthyng commented on #2433
@lnferris I know you've asked questions about your submission in a pre-submission inquiry, so here is a little more info. Our review process is usually fairly interactive between the author(s) and reviewers, and it can be a great opportunity to learn code/package best practices, so I encourage you to take advantage of your reviewer expertise! Your package looks useful, though a little thin, so if

[2020-07-20 16:23] kthyng commented on #2433
@whedon start review

[2020-07-20 16:23] whedon opened #2497 "[REVIEW]: ocean_data_tools: A MATLAB toolbox for interacting with bulk freely-available oceanographic data"
**Submitting author:** @lnferris (<a href="http://orcid.org/0000-0001-6446-9340">L. N. Ferris</a>)
**Repository:** <a href="https://github.com/lnferris/ocean_data_tools" target ="_blank">https://github.com/lnferris/ocean_data_tools</a>
**Version:** v1.0.1
**Editor:** @kthyng
**Reviewers:** @kakearney, @castelao
**Archive:** <a href="https://doi.org/10.5281/zenodo.4151538" target="_blank">10.5281/z

[2020-07-20 16:23] whedon commented on #2433
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2497.

[2020-07-20 16:23] #2433 closed

[2020-07-20 16:23] whedon commented on #2497
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @castelao, @chadagreene it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2020-07-20 16:23] whedon commented on #2497
[code]

[2020-07-20 16:23] whedon commented on #2497
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02497/joss.02497/10.21105.joss.02497.pdf)

[2020-07-20 16:24] kthyng commented on #2497
@castelao, @chadagreene, here is where the review happens.

[2020-07-20 16:25] kthyng commented on #2497
@whedon remind @reviewer in 2 weeks

[2020-07-20 16:25] navjotk commented on #2487
@whedon generate pdf from branch joss_paper

[2020-07-20 16:25] whedon commented on #2487
[code]

[2020-07-20 16:25] whedon commented on #2497
@reviewer doesn't seem to be a reviewer or author for this submission.

[2020-07-20 16:25] kthyng commented on #2497
heh, oops.

[2020-07-20 16:25] whedon commented on #2487
PDF failed to compile for issue #2487 with the following error:

 error: pathspec 'joss_paper
' did not match any file(s) known to git.
Can't find any papers to compile :-(

[2020-07-20 16:26] kthyng commented on #2497
@whedon remind @chadagreene in 2 weeks

[2020-07-20 16:26] whedon commented on #2497
Reminder set for @chadagreene in 2 weeks

[2020-07-20 16:26] skreimeyer commented on #2496
This process is a lot more like doing my taxes than I expected. No thanks.

Best of luck.

[2020-07-20 16:31] kthyng commented on #2341
@pfeiffea Just want to note you have some reviewer comments above.

@ebgoldstein and @pfeiffea — This sounds like a small and reasonable request, but happy to hear if otherwise.

[2020-07-20 16:31] cmaimone commented on #2445
My review is complete.  Recommend accept.

[2020-07-20 16:32] mjsottile commented on #2260
No problem @adam-m-jcbs - I understand that right now things are a bit chaotic and it's easy to lose track of less critical things like this.  I'd definitely be happy with you completing your review.  No need to withdraw from the process if you believe that you can complete the review.

[2020-07-20 16:33] kthyng commented on #2341
@zsylvester Would you be able to work on this review in the next two weeks?

[2020-07-20 16:35] kthyng commented on #2018
@mancellin just a friendly reminder about this review. When might you be able to work on this? Thanks again.

[2020-07-20 16:36] kthyng commented on #2425
Hi @dhruvbalwada, @DamienIrving! Just a friendly reminder about the existence of this submission to review. Thanks!

[2020-07-20 16:50] mfroeling commented on #2343
@agahkarakuzu My appologies for the delay. I was a bit bussy and needed to find a matlab version with the correct toolboxes which in our IT department had a bit of a delay.

some issues that I think need to be solved.

- [ ] When the toolbox starts it needs a check if the needed Matlab dependencies are installed. The first few tries I had issues during data processing that were due to missing or b

[2020-07-20 16:56] oliviaguest commented on #2467
@whedon assign @oliviaguest as editor

[2020-07-20 16:56] whedon commented on #2467
OK, the editor is @oliviaguest

[2020-07-20 17:01] ilyasst commented on #2291
Hopefully in a week or two.

Ilyass

On Jul 20 2020, at 9:48 am, Patrick Diehl <notifications@github.com> wrote:

[2020-07-20 17:06] labarba commented on #2487
@openjournals/dev 👋  Can you have a look at the error compiling this paper?

[2020-07-20 17:07] labarba commented on #2487
@navjotk -- Please respond to the enquiry from our editor, @jedbrown, above
https://github.com/openjournals/joss-reviews/issues/2487#issuecomment-660658244

[2020-07-20 17:57] chadagreene commented on #2433
@lnferris as I mentioned, it will be a few weeks before I can focus on a detailed review, but based on a quick glance through the .m files, one request I will have is that each function be given a header that can be accessed by typing `help myfunction` into the command line. Ideally, I'd like to see either .mlx or .html files with rich documentation as well so users can _see_ and follow along with

[2020-07-20 18:11] kthyng commented on #2433
@chadagreene This is excellent to have as a starting point in the meantime! Could you start an issue in the [repo](https://github.com/lnferris/ocean_data_tools) with this comment, and provide a link into the [review issue](https://github.com/openjournals/joss-reviews/issues/2497)? This is the best way to keep track of issues that come up in the review so that details are linked in but not taking u

[2020-07-20 18:45] diehlpk commented on #2496
@whedon remove @skreimeyer as reviewer

[2020-07-20 18:47] diehlpk commented on #2455
@whedon remove @skreimeyer as reviewer

[2020-07-20 18:48] whedon commented on #2496
OK, @skreimeyer is no longer a reviewer

[2020-07-20 18:50] whedon commented on #2455
OK, @skreimeyer is no longer a reviewer

[2020-07-20 19:23] donaldRwilliams commented on #2111
@whedon check references

[2020-07-20 19:23] whedon commented on #2111
[code]

[2020-07-20 19:26] whedon commented on #2111
[code]

[2020-07-20 19:28] donaldRwilliams commented on #2111
@arfon I updated the .bib file. Quite nice that the dois were all provided. Thanks !

[2020-07-20 19:30] lrq3000 commented on #1277
@arfon Thank you, it looks good to me too!

About the list of contributors, you suggested "all codebase contributors minus the ones who have opted out". The contributors who have opted out did opt out of co-authorship, but not necessarily of acknowledgement (some who opted out even mentioned they would agree to/prefer an acknowledgement).

Do you think it would be OK if we (the 3 co-authors) decid

[2020-07-20 19:39] lnferris commented on #2433
@chadagreene thanks for the feedback, will start on it immediately.

[2020-07-20 19:48] navjotk commented on #2487
Hi @jedbrown
Thank you very much for your feedback.
PyRevolve is indeed pip installable and on [PyPI](https://pypi.org/project/pyrevolve/). I have updated the README to make this stand out more.
I have also fixed the broken link to Revolve.

A novel contribution in PyRevolve is the inclusion of lossy compression in the API. PyRevolve currently supports Blosc and ZFP, with support for SZ coming soo

[2020-07-20 20:02] chadagreene commented on #2433
@lnferris Sounds good.

Sorry to bread-crumb the suggestions here, but you might also want to provide some sort overview page, where all the functions are organized in a way that users can quickly find the function they need based on the task they're trying to accomplish. I'm thinking [something along these lines](https://www.chadagreene.com/CDT/CDT_Contents.html), and it could take the form of a

[2020-07-20 20:08] labarba commented on #1989
@whedon generate pdf

[2020-07-20 20:08] whedon commented on #1989
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01989/joss.01989/10.21105.joss.01989.pdf)

[2020-07-20 20:15] labarba commented on #1989
@whedon accept deposit=true

[2020-07-20 20:15] whedon commented on #1989
[code]

[2020-07-20 20:17] whedon commented on #1989
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1285307745739182080) 👈 🐦🐦🐦

[2020-07-20 20:17] whedon commented on #1989
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1583
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01989](https://doi.org/10.21105/joss.01989)
2. If everything looks g

[2020-07-20 20:18] labarba commented on #1989
Congratulations, @rgerum, your JOSS paper is published! 🚀

Huge thanks to our reviewers: @story645, @tacaswell — we couldn't do this without you 🙏

[2020-07-20 20:18] #1989 closed

[2020-07-20 20:18] whedon commented on #1989
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01989/status.svg)](https://doi.org/10.21105/joss.01989)

**We need your help!**

Journal of Open Source Softwa

[2020-07-20 20:20] tamasgal commented on #2456
Alright, improved a bit but for the remaining packages I could not find better citations or papers. Those are mostly R packages...

Thanks for the hint with the Sumatra paper, I totally overlooked that.

[2020-07-20 20:20] tamasgal commented on #2456
@whedon check references

[2020-07-20 20:21] whedon commented on #2456
[code]

[2020-07-20 20:28] arfon commented on #1277
Yes, I'm happy for you all to figure this out between yourselves.

[2020-07-20 20:48] marcosvital commented on #2458
Thank you for the reviewers suggestions, @JolleJolles. I'm contacting some of them by email, and will let you know when they reply. I might also invite some reviewers here at this topic, when we are able to identify their github profile, so you will be able to follow those.

[2020-07-20 20:52] marcosvital commented on #2458
Dear @lucask07, would you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is still a pre-review, once there are enough reviewers, we will move on to a new issue where the review will take place.

If you are not able to review, please let us k

[2020-07-20 21:12] marcosvital commented on #2342
@davidtourigny, @Midnighter and @carrascomj, I'll check out if we can easily edit the paper after acceptance, and will let you know.

In the meantime, please take a final look at the proof (specially if any changes were made during the reviewing process), as we are close to finish here.

[2020-07-20 21:12] marcosvital commented on #2342
@whedon generate pdf

[2020-07-20 21:13] whedon commented on #2342
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02342/joss.02342/10.21105.joss.02342.pdf)

[2020-07-20 21:14] synchon commented on #2342
Apologies for the delayed reply. I'm satisfied as well!

[2020-07-20 21:25] kthyng commented on #2433
@chadagreene Again, these suggestions are great, but please put them each in a separate issue on the github repo, then provide  a link in the issue to the review issue (which is not this page). Nothing else should go here in the pre-review issue. Let me know if you need any help with this part of the JOSS review since it's unusual.

[2020-07-20 21:36] zsylvester commented on #2341
Yes, I will try to get to it this week. I just realized that I have not 'officially' accepted the invitation yet - when I click on the link (https://github.com/openjournals/joss-reviews/invitations) it says that it has expired.

[2020-07-20 21:51] davidtourigny commented on #2342
Hi @marcosvital , the proof looks fine to me (no changes made during the review process). Thanks!

[2020-07-20 22:00] tamasgal commented on #2456
The missing DOI is now added.

@whedon check references

[2020-07-20 22:06] jedbrown commented on #2487
Thanks @navjotk; good to hear it's on PyPI. We'll get back to you in a few days regarding the scope query.

[2020-07-20 22:33] lucask07 commented on #2458
Hi, @marcosvital I am willing to review but do not have a RaspberryPi, camera combo. I'll let you decide if the ability to run the code completely with the appropriate hardware is required of the reviewers.

[2020-07-20 23:47] EricaEgg commented on #2349
Thanks again @mdmurbach! Everything looks great from my end now. Good to go!

[2020-07-21 00:06] dhhagan commented on #2435
@whedon remind @katyhuff in 2 days

[2020-07-21 00:06] whedon commented on #2435
Reminder set for @katyhuff in 2 days

[2020-07-21 00:07] dhhagan commented on #2435
@whedon remind @gonsie in 2 days

[2020-07-21 00:07] whedon commented on #2435
Reminder set for @gonsie in 2 days

[2020-07-21 00:08] majensen commented on #2044
Hi @scwest - I believe we are in the home stretch. Please review the PR at thecodingdoc/neep#6. I will be looking over the paper itself. thanks!

[2020-07-21 00:37] mdpiper commented on #2317
@diehlpk Nudging successful! The updated paper text, with a broader introduction, is in the mdpiper/paper branch. If you're OK with the changes, I'll follow your instructions upthread for finalizing the submission.

[2020-07-21 00:37] mdpiper commented on #2317
@whedon generate pdf

[2020-07-21 00:37] whedon commented on #2317
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02317/joss.02317/10.21105.joss.02317.pdf)

[2020-07-21 00:41] mdpiper commented on #2317
@whedon generate pdf from branch mdpiper/paper

[2020-07-21 00:41] whedon commented on #2317
[code]

[2020-07-21 00:41] whedon commented on #2317
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02317/joss.02317/10.21105.joss.02317.pdf)

[2020-07-21 01:17] diehlpk commented on #2317
@mdpiper The addition to the paper is sufficient and I can recommend the paper for acceptance.

Next steps are:

`
When a submission is ready to be accepted, we ask that the authors issue a new tagged release of the software (if changed), and archive it (on Zenodo, figshare, or other). The authors then post the version number and archive DOI in the REVIEW issue.`

[2020-07-21 03:42] mjsottile commented on #2426
:wave: @paul92, @innat : Would you be interested in reviewing this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2020-07-21 04:21] JamesPaynter commented on #2491
Hi @labarba,
How does whedon identify the statement of need?

I have the lines
"""
`PyGRB` is a pure Python, open source pulse-fitting package which aims bring gamma-ray burst light-curve fitting and analysis into the 21st century.
"""
and
"""
`PyGRB` makes visually appealing and scientifically instructive light-curves from the 4 broadband energy channel BATSE data.
The main feature of `PyGRB` is

[2020-07-21 06:28] labarba commented on #2491
Please add a section heading: "Statement of need," and address the question there.

[2020-07-21 06:46] mmartin-lagarde commented on #2287
Thank you @kevin218 for your constructive and detailed review.

@arfon, I'm currently writing my thesis, and it's taking all my time. I'm afraid I won't be able to incorporate the comments before the end of August. I hope it's not too late for you. Thank you for following on this.

[2020-07-21 06:49] mancellin commented on #2018
@kthyng Thank you for the reminder. I've started working on the review. I plan to complete it after some more tests in one or two weeks.

[2020-07-21 07:02] dpsanders commented on #2392
@whedon add saschatimme as reviewer

[2020-07-21 07:02] whedon commented on #2392
OK, saschatimme is now a reviewer

[2020-07-21 07:03] dpsanders commented on #2392
@whedon add @saschatimme as reviewer

[2020-07-21 07:03] whedon commented on #2392
OK, @saschatimme is now a reviewer

[2020-07-21 07:12] dpsanders commented on #2392
@whedon generate pdf

[2020-07-21 07:13] whedon commented on #2392
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02392/joss.02392/10.21105.joss.02392.pdf)

[2020-07-21 07:53] csoneson commented on #1992
@richardjgowers - did you have a chance to look over @Sulstice's fixes? Thanks!

[2020-07-21 07:53] csoneson commented on #2163
ping @MetabolomicsAustralia-Bioinformatics

[2020-07-21 07:53] christiankral commented on #2275
@Kevin-Mattheus-Moerman I am sorry, but I have no time resources this summer to carefully review this paper.

[2020-07-21 08:04] drj11 commented on #2400
I have checked paper.bib using https://biblatex-linter.herokuapp.com/validate which notes that 4 entries are missing an institution. In my opinion this is of no consequence.

[2020-07-21 08:05] drj11 commented on #2400
@gkthiruvathukal i have completed my review.

[2020-07-21 08:13] logological commented on #2400
This is because that validator expects its input to use the biblatex dialect, whereas my bibliography entries are written in the older BibTeX dialect.  Whatever program JOSS is using to compile the paper is correctly recognizing the entries as BibTeX and is properly including the institutional information (which is in the `school` field).

[2020-07-21 08:22] drj11 commented on #2400
@logological ah, that is reassuring. I was wondering how I, having last touched a bitex file in 1992, was expected to know the difference between the two. :)

[2020-07-21 08:26] logological commented on #2400
I was wondering myself which dialect to use for the bibliography, since I don't think this is covered in the submission instructions.  I decided it was safer to go with BibTeX since the modern biblatex bibliographic processor can handle both biblatex and BibTeX dialects, whereas the older BibTeX processor doesn't understand biblatex.  Perhaps this could be clarified in the JOSS style guide so that

[2020-07-21 08:54] sambit-giri commented on #2363
Dear @ziotom78 and @aureliocarnero

I have put scripts for unit testing at https://github.com/sambit-giri/tools21cm/tree/master/tests
I have not included the functions that need data such as the read/write functions and redshift space distortion implementation.

Please let me know if anything else is needed.

Best,
Sambit

[2020-07-21 09:00] jenzopr commented on #2436
I reviewed the paper in https://github.com/mpievolbio-scicomp/cancer_sim/issues/11 and will grade the submission in category 3) Major revision.

[2020-07-21 09:15] aureliocarnero commented on #2363
Dear @sambit-giri , this is great, but how can I execute the unity tests? You should explain this in the documentation... Cheers

[2020-07-21 09:17] oliviaguest commented on #2339
🔔 👋  @Visdoom yes? 😄

[2020-07-21 09:33] oliviaguest commented on #2467
@whedon assign @tomfaulkenberry as reviewer

[2020-07-21 09:33] whedon commented on #2467
OK, @tomfaulkenberry is now a reviewer

[2020-07-21 09:36] tamasgal commented on #2456
@whedon check references

[2020-07-21 09:36] whedon commented on #2456
[code]

[2020-07-21 09:39] oliviaguest commented on #2466
Happy to edit this when the time comes. I have a deep interest in COVID modelling, know appropriate reviewers, and co-organised a session at ICML 2020 on COVID.

[2020-07-21 09:41] sambit-giri commented on #2363
@aureliocarnero I have put a README inside the same folder.

[2020-07-21 09:43] oliviaguest commented on #2452
Happy to edit this when it's in better shape.

@Kevin-Mattheus-Moerman not that it matters... but I think the "Made in Tübingen" is the MiT in the initialism/acronym.

[2020-07-21 09:56] sjvrijn commented on #2049
Hi @zbeekman, is everything all right?

[2020-07-21 10:15] vedran-kasalica commented on #2492
Dear Lorena,

Thank you for bringing this up. Indeed, the APE: A Command-Line Tool and API for Automated Workflow Composition article and our JOSS submission have very similar titles. However, their content and purpose are different. The former article is about APE in its broader context. Written for the “Software Engineering for Computational Science” workshop at ICCS 2020, it motivates the need

[2020-07-21 10:37] vedran-kasalica commented on #2492
@whedon commands

[2020-07-21 10:37] whedon commented on #2492
Here are some things you can ask me to do:

[code]

[2020-07-21 10:45] vedran-kasalica commented on #2492
@labarba After reading the list of reviewers, I would suggest **skadio** as a potential reviewer, considering the topic and the programming language fit well our submission.

[2020-07-21 11:03] sambit-giri commented on #2363
Dear @pibion

We have put the data up on Zenodo (https://doi.org/10.5281/zenodo.3953639).
The link to the data has also been updated in the tutorial (https://tools21cm.readthedocs.io/examples/tutorials.html).

Best,
Sambit

[2020-07-21 11:12] arfon commented on #2111
@whedon generate pdf

[2020-07-21 11:13] whedon commented on #2111
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02111/joss.02111/10.21105.joss.02111.pdf)

[2020-07-21 11:16] arfon commented on #2111
donaldRwilliams - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That th

[2020-07-21 11:19] arfon commented on #2411
Thanks  @bittremieux, @kaibioinfo for your feedback/reviews. @florian-huber - please let us know here when you've managed to incorporate feedback from the reviews.

[2020-07-21 11:20] chennachaos commented on #2121
Hi @prs513rosewood, I checked the README file and the documentation on readthedocks. I think you have covered more or less every aspect but the format/presentation needs some improvement. I have the following suggestions on the **Documentation** part of the review.

1.) The main page on readthedocks is too long. Move the installation part from the main page into a separate page; adding it as a sep

[2020-07-21 11:26] arfon commented on #2245
I also just asked for potential reviewers on Twitter: https://twitter.com/arfon/status/1285536296828653569

[2020-07-21 11:33] oliviaguest commented on #2467
@ronikobrosly when you get a sec, please add the missing DOI and then recompile the PDF using the `@whedon generate pdf` command. ☺️

[2020-07-21 11:48] arfon commented on #2313
:wave: @peanutfun - I just heard from @meg-simula that she's currently on vacation until early August and doesn't have access to her GitHub account until she's back online. Apologies for the delay here!

[2020-07-21 12:11] arcuri82 commented on #2153
@whedon generate pdf

[2020-07-21 12:12] whedon commented on #2153
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02153/joss.02153/10.21105.joss.02153.pdf)

[2020-07-21 12:16] arcuri82 commented on #2153
@UTH-Tuan thanks. I have added some more info in the Related Work section. Right now the *paper.md* file has 974 words, where JOSS has the limit of [250-1000 words](https://joss.readthedocs.io/en/latest/submitting.html).

[2020-07-21 12:44] Kevin-Mattheus-Moerman commented on #2464
@whedon assign @Kevin-Mattheus-Moerman as editor

[2020-07-21 12:44] whedon commented on #2464
OK, the editor is @Kevin-Mattheus-Moerman

[2020-07-21 12:52] xuqiancheng commented on #2494
@whedon generate pdf

[2020-07-21 12:53] whedon commented on #2494
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02494/joss.02494/10.21105.joss.02494.pdf)

[2020-07-21 13:00] giovp commented on #2440
To me, first round of review finished, would like to see spacetx/starfish#1899 addressed, in order to explore results.

[2020-07-21 13:15] ronikobrosly commented on #2467
of course @oliviaguest !

[2020-07-21 13:23] ronikobrosly commented on #2467
@whedon generate pdf

[2020-07-21 13:23] whedon commented on #2467
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02467/joss.02467/10.21105.joss.02467.pdf)

[2020-07-21 13:24] ronikobrosly commented on #2467
@whedon check references

[2020-07-21 13:24] whedon commented on #2467
[code]

[2020-07-21 13:27] ronikobrosly commented on #2467
@oliviaguest , because it was a Berkeley internal dept paper and it seems like the other TMLE reference covers it I ended up removing that reference.

[2020-07-21 13:51] vals commented on #2440
First round finished from my end as well. I would like all my issues addressed. But most importantly from my end there should be versions of the practical examples that can be read without running the notebooks ( https://github.com/spacetx/starfish/issues/1904 ). Even when napari is used, the authors could make versions with screenshots. There is a lot of documentation about all the functionality,

[2020-07-21 13:56] mattwthompson commented on #2373
Apologies again for my delay; I've run into some issues in my attempts to install the package and pFUnit today and in past weeks. I raised an issue on the GitLab repository. @salanne

I'm embarrassingly inexperienced with compiling FORTRAN code, so I don't consider this a significant barrier to usage more broadly. But I would like to be able to install it and run through the tests myself 🙂

[2020-07-21 14:09] zsylvester commented on #2341
@kthyng It still does not let me to accept the invitation / go through the checklist.

[2020-07-21 14:15] dawbarton commented on #2331
I'd be happy to take a look at this but realistically I won't get chance to take a look until w/c 8 August (or slightly after depending on what is happening in that week). If that's fine with you, I'll do it.

[2020-07-21 14:29] oliviaguest commented on #2467
@ronikobrosly awesome and thanks!

[2020-07-21 14:30] UTH-Tuan commented on #2153
@arcuri82 Thanks. I am also encountering issues in running the example. Either that or is it not clear how to run the example (based off what was presented in the Example doc). I get the error "Cannot communicate with remote EvoMaster Driver for the system under test at localhost:40100 Make sure the EvoMaster Driver for the system under test is running correctly". Please clarify and/or make the ex

[2020-07-21 14:36] donaldRwilliams commented on #2111
@arfon I uploaded the new release of the software.

Here is the doi:
10.5281/zenodo.3954503

[2020-07-21 14:39] xuqiancheng commented on #2494
@pdebuyl @yuxiang-gao This is a nice implementation of the extended social force model for pedestrian dynamics. It realizes not only the social forces between individuals, but also the social forces for groups. The installation of the code is easy. The tests and exmaple are clear.
From user perspective, I have two major comments regarding the submission:

-  I didn't see the introduction of the pa

[2020-07-21 14:40] kthyng commented on #2341
@whedon re-invite @zsylvester as reviewer

[2020-07-21 14:40] whedon commented on #2341
OK, the reviewer has been re-invited.

@zsylvester please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-07-21 14:41] kthyng commented on #2341
@zsylvester This should do it for you, try the link above.

[2020-07-21 14:51] VivianePons commented on #2485
@whedon assign @fruzsinaagocs as reviewer

[2020-07-21 14:52] whedon commented on #2485
OK, @fruzsinaagocs is now a reviewer

[2020-07-21 14:56] csoneson commented on #2440
Thanks @giovp and @vals for your reviews! @shazanfar - could you give a quick update on the status on your side? Thanks!

[2020-07-21 15:04] arcuri82 commented on #2153
@UTH-Tuan in the main readme of the documentation: *A short video (5 minutes) shows the use of EvoMaster on one of the case studies in EMB.* [Link](https://www.youtube.com/watch?v=3mYxjgnhLEo&feature=youtu.be).
This should help better see how things are connected, besides the description in the [documentation](https://github.com/EMResearch/EvoMaster/blob/master/docs/whitebox.md).

Btw, could be be

[2020-07-21 15:08] peanutfun commented on #2313
👋 @arfon, thank you for letting us know!

@meg-simula, enjoy your vacation! We are looking forward to wrapping this up when you are back 😊

[2020-07-21 15:09] arfon commented on #2111
@whedon set 10.5281/zenodo.3954503 as archive

[2020-07-21 15:09] whedon commented on #2111
OK. <a href="https://doi.org/10.5281/zenodo.3954503" target="_blank">10.5281/zenodo.3954503</a> is the archive.

[2020-07-21 15:09] arfon commented on #2111
@whedon accept

[2020-07-21 15:09] whedon commented on #2111
[code]

[2020-07-21 15:10] whedon commented on #2111
[code]

[2020-07-21 15:10] whedon commented on #2111
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1584

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1584, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-21 15:11] majensen commented on #2331
Thanks @dawbarton that would be great.

[2020-07-21 15:12] arfon commented on #2111
@whedon accept deposit=true

[2020-07-21 15:13] whedon commented on #2111
[code]

[2020-07-21 15:13] majensen commented on #2331
@whedon add @dawbarton as reviewer

[2020-07-21 15:13] whedon commented on #2331
OK, @dawbarton is now a reviewer

[2020-07-21 15:14] whedon commented on #2111
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1285593905178828800) 👈 🐦🐦🐦

[2020-07-21 15:14] whedon commented on #2111
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1585
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02111](https://doi.org/10.21105/joss.02111)
2. If everything looks g

[2020-07-21 15:25] richardjgowers commented on #2373
No worries Matt. You ought to be able to follow their instructions (if any)
so might be something to raise as an issue.

On Tue, Jul 21, 2020 at 14:57, Matt Thompson <notifications@github.com>
wrote:

[2020-07-21 15:44] arfon commented on #2111
@jayrobwilliams, @paulgovan - many thank for your reviews here and to @akeshavan for editing this submission ✨

@donaldRwilliams - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-07-21 15:44] #2111 closed

[2020-07-21 15:44] whedon commented on #2111
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02111/status.svg)](https://doi.org/10.21105/joss.02111)

**We need your help!**

Journal of Open Source Softwa

[2020-07-21 16:02] mdmurbach commented on #2349
Great! Thanks again for your reviews @EricaEgg and @ma-sadeghi! 😄

[2020-07-21 16:23] joannawolthuis commented on #2410
Hi @lpantano ! I'm taking a look - but here's a perhaps noob question: this is my first review, should I be writing a more extensive document (and if so, where should I submit it?) using the checklist as a backbone/guide? Or is this a very modern type of review where it is just the checklist? :)

[2020-07-21 16:46] mdogucu commented on #2383
@mikldk, thank you for thinking of me. Due to the challenges of the COVID-19 pandemic, like JOSS, I am also currently operating in a "reduced service mode".  I unfortunately am not available for reviewing this package.

[2020-07-21 17:36] majensen commented on #2331
Added a checklist for you in the header @dawbarton - thanks again

[2020-07-21 17:36] blsqr commented on #2316
@lorenanicole @arfon I can't seem to ask whedon to check the references on the current manuscript. Could you perhaps trigger a reference check? Is there anything else we can do at this point?

[2020-07-21 17:40] mdpiper commented on #2317
@diehlpk version: [v2.0](https://github.com/csdms/bmi/releases/tag/v2.0), doi: 10.5281/zenodo.3955010

On Zenodo: [Basic Model Interface 2.0](https://zenodo.org/record/3955010#.XxcnjR1MEbI)

[2020-07-21 17:52] chadagreene commented on #2497
Hmm, I officially accepted the invitation to review a couple hours ago, and now my email is getting flooded by emails with the subject line starting

Re: [openjournals/joss-reviews] [PRE REVIEW]:

and they are all unrelated to the review I accepted the invitation for. I have hit "unsubscribe" on about 10 of these emails so far, yet they keep rolling in. Anybody know how I can stop receiving these

[2020-07-21 18:07] danielskatz commented on #2497
see the comments further up in this issue - there are screenshots that show how to do this

[2020-07-21 18:14] diehlpk commented on #2317
@whedon generate pdf

[2020-07-21 18:14] diehlpk commented on #2317
@whedon check references

[2020-07-21 18:14] whedon commented on #2317
PDF failed to compile for issue #2317 with the following error:

 sh: 0: getcwd() failed: No such file or directory
pandoc: 10.21105.joss.02317.pdf: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2020-07-21 18:14] whedon commented on #2317
[code]

[2020-07-21 18:15] diehlpk commented on #2317
@whedon set 10.5281/zenodo.3955010 as archive

[2020-07-21 18:15] whedon commented on #2317
OK. <a href="https://doi.org/10.5281/zenodo.3955010" target="_blank">10.5281/zenodo.3955010</a> is the archive.

[2020-07-21 18:15] diehlpk commented on #2317
@whedon set v2.0 as version

[2020-07-21 18:16] whedon commented on #2317
OK. v2.0 is the version.

[2020-07-21 18:16] chadagreene commented on #2497
Got it, thanks @danielskatz!

[2020-07-21 18:16] diehlpk commented on #2317
@whedon generate pdf from branch mdpiper/paper

[2020-07-21 18:16] whedon commented on #2317
[code]

[2020-07-21 18:16] whedon commented on #2317
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02317/joss.02317/10.21105.joss.02317.pdf)

[2020-07-21 18:19] diehlpk commented on #2317
@mdpiper Can you please check this version of the paper as the final version? After you confirmed I will pass the paper to the EICs. We like to avoid to do some after publication changes.

[2020-07-21 18:23] gkthiruvathukal commented on #2153
@arcuri82 is right. The issue tracker is the best way to report issues on a submission, especially when it's on GitHub!  Many reviewers will post the link to the issue in the review as well, so it is easy to click through.

Thanks to @UTH-Tuan for helping with this review! We really appreciate it.

[2020-07-21 18:34] mbobra commented on #2349
Thank you for all your hard work @EricaEgg and @ma-sadeghi! I really appreciate it.

@mdmurbach We're almost there! Can you please cut a new release (it doesn't have to be a major release, something like v1.0.1 is fine), [archive your release on Zenodo](https://guides.github.com/activities/citable-code/) to obtain a DOI, and then put that DOI in your `README.md` file? After that I think we're done

[2020-07-21 18:34] xuanxu commented on #2487
@whedon generate pdf from branch joss_paper

[2020-07-21 18:34] whedon commented on #2487
[code]

[2020-07-21 18:35] whedon commented on #2487
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02487/joss.02487/10.21105.joss.02487.pdf)

[2020-07-21 18:38] afeinstein20 commented on #2347
Ah yes thanks for pointing this out! This is what I get for trying to work in different branches. The README now has the guidelines.

[2020-07-21 18:55] mdpiper commented on #2317
@diehlpk The rendered PDF is correct; however, I merged the mdpiper/paper branch into master earlier this morning. (I'm not sure if this is important, but I want to check.)

[2020-07-21 19:04] prs513rosewood commented on #2121
Thanks @chennachaos for the feedback.

Done.

Done.

Done.

The directory `examples/` already contains example scripts for the use cases you describe and more. They are commented, and the plots they produce are annotated. I've nonetheless added a page describing the scripts in the documentation.

[2020-07-21 19:12] arfon commented on #2316
@whedon check references from branch add-joss-paper

[2020-07-21 19:12] whedon commented on #2316
[code]

[2020-07-21 19:13] whedon commented on #2316
[code]

[2020-07-21 19:23] diehlpk commented on #2317
@whedon accept

[2020-07-21 19:23] whedon commented on #2317
[code]

[2020-07-21 19:23] whedon commented on #2317
[code]

[2020-07-21 19:23] whedon commented on #2317
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1586

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1586, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-21 19:34] oliviaguest commented on #2467
@whedon assign @cmparlettpelleriti as reviewer

[2020-07-21 19:34] whedon commented on #2467
OK, @cmparlettpelleriti is now a reviewer

[2020-07-21 19:36] mdpiper commented on #2317
Thanks, @diehlpk, @yangbai90, and @teuben!

[2020-07-21 19:43] salanne commented on #2373
@mattwthompson thank you for pointing out the issue. We were using pFunit 3 and now they switched to version 4.0.0 and everything has changed (repository location, installation etc). We will fix this asap.

[2020-07-21 20:13] betteridiot commented on #2432
For transparency's sake, I am still actively working on this review. However, I have a thesis committee meeting this week, and will be not be able to get back to the review process until then. Sorry for the delay.

[2020-07-21 20:47] Visdoom commented on #2339
@oliviaguest yes!
Sorry about the delay. I have dived head first into tutoring for the neuromatch academy and it's been hard to break to the surface of the 'other' world ever since.
Thank you so much for reviewing! ❤️

[2020-07-21 21:27] cicirello commented on #2448
@whedon check references

[2020-07-21 21:28] whedon commented on #2448
[code]

[2020-07-21 21:29] cicirello commented on #2448
@whedon generate pdf

[2020-07-21 21:29] whedon commented on #2448
PDF failed to compile for issue #2448 with the following error:

 pandoc-citeproc: reference mbdemoraes not found
Error producing PDF.
! TeX capacity exceeded, sorry [input stack size=5000].
\reserved@a ->\def \reserved@a
                               *{\let \@xs@assign \@xs@expand@and@detokenize...
l.333 }

Looks like we failed to compile the PDF

[2020-07-21 21:32] cicirello commented on #2448
@whedon check references

[2020-07-21 21:33] whedon commented on #2448
[code]

[2020-07-21 21:35] cicirello commented on #2448
@whedon check references

[2020-07-21 21:35] whedon commented on #2448
[code]

[2020-07-21 21:36] cicirello commented on #2448
@whedon generate pdf

[2020-07-21 21:36] whedon commented on #2448
PDF failed to compile for issue #2448 with the following error:

 pandoc-citeproc: reference mbdemoraes not found
Error producing PDF.
! TeX capacity exceeded, sorry [input stack size=5000].
\reserved@a ->\def \reserved@a
                               *{\let \@xs@assign \@xs@expand@and@detokenize...
l.333 }

Looks like we failed to compile the PDF

[2020-07-21 21:43] cicirello commented on #2448
@galessiorob I just made a few edits to the paper.md and paper.tex.  When generating the pdf with whedon, I got a very strange error that appears to be related to one of the reviewer ids (see the part of the error that says: "pandoc-citeproc: reference mbdemoraes not found"), and not at all due to the paper.  See the error in the result from whedon above.  I just tried the preview service (https:/

[2020-07-21 21:44] danielskatz commented on #2448
@whedon generate pdf

it's often worth just trying again in case the problem is transient

[2020-07-21 21:45] whedon commented on #2448
PDF failed to compile for issue #2448 with the following error:

 pandoc-citeproc: reference mbdemoraes not found
Error producing PDF.
! TeX capacity exceeded, sorry [input stack size=5000].
\reserved@a ->\def \reserved@a
                               *{\let \@xs@assign \@xs@expand@and@detokenize...
l.333 }

Looks like we failed to compile the PDF

[2020-07-21 21:45] danielskatz commented on #2448
👋 @openjournals/dev  - can you take a look at this?

[2020-07-21 22:09] oliviaguest commented on #2339
@Visdoom ah no worries! 🤣

Right, so we need to archive the code, can you post it on, e.g., Zenodo, figshare, etc., and post the archive DOI here, please? 😊

[2020-07-21 22:18] oliviaguest commented on #2339
@Visdoom ah, also I spotted a tiny typo: https://github.com/berenslab/MorphoPy/pull/113

When you merge that feel free to ask @whedon to recompile the PDF. 😸

[2020-07-21 23:42] mdmurbach commented on #2349
Linked with Zenodo, released v1.0.1, and added our shiny new DOI to [the README](https://github.com/ECSHackWeek/impedance.py/blob/master/README.md). Thanks for all of your time as well @mbobra! Please let me know if there is anything else you need

[2020-07-21 23:53] madcowswe commented on #2275
Thanks for the invitation! I probably don't have time for a complete review, but here are some things I noticed while quickly looking at the paper:

1. The arrows for Usup and Uin should point from bottom to up (the other way).
2. The omega_me direction is ambigous as it's annotated to the rotation arrows in both directions
3. Figure 2: It seems that the dq frame presented for the bottom right plo

[2020-07-22 00:46] JamesPaynter commented on #2491
I have updated the paper (I also fixed a small bug and updated the version to 1.0.1 )

[2020-07-22 00:46] JamesPaynter commented on #2491
@whedon generate pdf

[2020-07-22 00:47] whedon commented on #2491
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02491/joss.02491/10.21105.joss.02491.pdf)

[2020-07-22 00:47] JamesPaynter commented on #2491
@whedon set v1.0.1 as version

[2020-07-22 00:47] whedon commented on #2491
I'm sorry @JamesPaynter, I'm afraid I can't do that. That's something only editors are allowed to do.

[2020-07-22 01:18] nicholebarry commented on #2363
@sambit-giri

Here are some purely atheistic suggestions as I go through the tutorial.
1. subtract_mean_channelwise is in t2c.read_files. Is there a more logic place for this function?
2. There's a couple of places where the auto-generated descriptions on the readthedocs are hard to parse because there should be a newline and/or period. Some examples are in [Other Modules](https://tools21cm.readth

[2020-07-22 01:29] nicholebarry commented on #2363
@sambit-giri

Here are some more detailed comments/questions as I go through the tutorial.

1. In [Tutorials](https://tools21cm.readthedocs.io/examples/tutorials.html) under 21cm Brightness Temperature, it seems as though the sample data set already has its per-freq mean subtracted, and thus the subtract_mean_channelwise has very little effect. This may be confusing to some.
2. In [Tutorials](http

[2020-07-22 03:22] DARSakthi commented on #2476
Hi, this paper seems pretty interesting, I'd be happy to review it if needed. Let me know. Cheers

[2020-07-22 07:18] Kevin-Mattheus-Moerman commented on #2275
@whedon add @dineshresearch as reviewer

[2020-07-22 07:18] whedon commented on #2275
OK, @dineshresearch is now a reviewer

[2020-07-22 07:21] Kevin-Mattheus-Moerman commented on #2275
@madcowswe thanks for those comments. I'll reproduce them in the review issue. If you feel like you can provide more feedback let me know and I could still add you as a reviewer. The review may take some time so if you are able to help that would be great. If not no worries. Thanks.

[2020-07-22 07:21] Kevin-Mattheus-Moerman commented on #2275
@whedon start review

[2020-07-22 07:21] whedon opened #2498 "[REVIEW]: gym-electric-motor (GEM): A Python toolbox for the simulation of electric drive systems"
**Submitting author:** @wkirgsn (<a href="http://orcid.org/0000-0001-9490-1843">Wilhelm Kirchgässner</a>)
**Repository:** <a href="https://github.com/upb-lea/gym-electric-motor" target ="_blank">https://github.com/upb-lea/gym-electric-motor</a>
**Version:** v0.3.1
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @moorepants, @dineshresearch
**Archive:** <a href="https://doi.org/10.5281/zenodo.435

[2020-07-22 07:21] whedon commented on #2275
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2498.

[2020-07-22 07:21] #2275 closed

[2020-07-22 07:21] whedon commented on #2498
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @moorepants, @dineshresearch it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](

[2020-07-22 07:21] whedon commented on #2498
[code]

[2020-07-22 07:22] whedon commented on #2498
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02498/joss.02498/10.21105.joss.02498.pdf)

[2020-07-22 07:37] Kevin-Mattheus-Moerman commented on #2464
@maikkirapo @ahojukka5 @KristofferC @ChrisRackauckas @burcugrbz would you be interested in reviewing this submission for [JOSS](https://joss.theoj.org/)?

_Gridap: An extensible Finite Element toolbox in Julia_
**Paper**: https://github.com/openjournals/joss-papers/blob/joss.02464/joss.02464/10.21105.joss.02464.pdf
**Software**: https://github.com/gridap/Gridap.jl

The [review process](https://jos

[2020-07-22 07:39] Kevin-Mattheus-Moerman commented on #2464
@fverdugo can you comment on this pre-print https://arxiv.org/abs/1910.01412 ? We do not allow duplicate publication at JOSS. Can you please clarify the difference between this pre-print (has it been published/submitted anywhere else yet?) and the JOSS paper?

[2020-07-22 07:52] Kevin-Mattheus-Moerman commented on #1867
@rhenanbartels thanks. I checked out the Jupyter notebook. It looks great! I do get an error on the last two cells:
![Screenshot from 2020-07-22 08-50-30](https://user-images.githubusercontent.com/8392709/88149882-94fa9700-cbf8-11ea-89a1-dcc8e8ebcfad.png)

Any clue as to what is going on?

[2020-07-22 07:53] Kevin-Mattheus-Moerman commented on #1867
@whedon generate pdf

[2020-07-22 07:53] whedon commented on #1867
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01867/joss.01867/10.21105.joss.01867.pdf)

[2020-07-22 07:56] Kevin-Mattheus-Moerman commented on #1867
@whedon check references

[2020-07-22 07:56] whedon commented on #1867
[code]

[2020-07-22 07:57] fverdugo commented on #2464
The preprint in arxiv is a completely different and separate thing.  It is just a paper-like version of our tutorials in https://github.com/gridap/Tutorials. Not under review nor published anywhere.

If you open the two PDFs, you would clearly see the differences. E.g.,

 https://arxiv.org/abs/1910.01412 has 31 pages.

[Our JOSS submission](https://github.com/openjournals/joss-papers/blob/joss.024

[2020-07-22 07:58] blsqr commented on #2316
Thanks, @arfon! I adjusted the references, see [the MR](https://ts-gitlab.iup.uni-heidelberg.de/utopia/dantro/-/merge_requests/163).

Added this DOI.

The suggested DOI seems to be that of the OSF preprint. I found the actual DOI (https://doi.org/10.1109/TVCG.2016.2599030) and added it to the references

This is a citation of a work where dantro is prominently used in, called *Utopia*, which is cu

[2020-07-22 07:58] Kevin-Mattheus-Moerman commented on #2121
Thanks for the update @srmnitc. I see you have some boxes unticked. Do inform the authors if there are points you feel need work. Thanks again for your help.

[2020-07-22 08:00] Kevin-Mattheus-Moerman commented on #2343
@whedon generate pdf

[2020-07-22 08:01] whedon commented on #2343
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02343/joss.02343/10.21105.joss.02343.pdf)

[2020-07-22 08:01] Kevin-Mattheus-Moerman commented on #2478
@whedon reinvite @mathieuboudreau as reviewer

[2020-07-22 08:01] whedon commented on #2478
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-07-22 08:02] Kevin-Mattheus-Moerman commented on #1867
@rhenanbartels can you check/add those missing DOI's :point_up:

[2020-07-22 08:02] mikldk commented on #2383
@paragkulkarni11, @chlalanne, @jacobsoj: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2020-07-22 08:05] Kevin-Mattheus-Moerman commented on #2478
@whedon commands

[2020-07-22 08:05] whedon commented on #2478
Here are some things you can ask me to do:

[code]

[2020-07-22 08:07] Kevin-Mattheus-Moerman commented on #2478
@whedon re-invite @mathieuboudreau as reviewer

[2020-07-22 08:07] whedon commented on #2478
OK, the reviewer has been re-invited.

@mathieuboudreau please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-07-22 08:09] Kevin-Mattheus-Moerman commented on #2464
@fverdugo thanks that is what I thought. Good to formally confirm it here.

[2020-07-22 08:10] Kevin-Mattheus-Moerman commented on #2464
@fverdugo as you can see I started inviting reviewers. Mainly those related to the JuliaFEM community. Let me know if you had any other reviewers in mind. You can mention any suggested reviewers here if you like (leave out @ in their GitHub handles please).

[2020-07-22 08:13] whedon opened #2499 "[PRE REVIEW]: EFAtools: An R package with fast and flexible implementations of exploratory factor analysis tools"
**Submitting author:** @mdsteiner (<a href="http://orcid.org/0000-0002-8126-0757">Markus Steiner</a>)
**Repository:** <a href="https://github.com/mdsteiner/EFAtools" target ="_blank">https://github.com/mdsteiner/EFAtools</a>
**Version:** v0.1.1
**Editor:** @fboehm
**Reviewers:** @jacobsoj, @chainsawriot
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to t

[2020-07-22 08:13] whedon commented on #2499
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-22 08:13] whedon commented on #2499
[code]

[2020-07-22 08:13] whedon commented on #2499
Failed to discover a valid open source license.

[2020-07-22 08:13] Kevin-Mattheus-Moerman commented on #2343
@whedon check references

[2020-07-22 08:13] whedon commented on #2499
[code]

[2020-07-22 08:14] whedon commented on #2499
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02499/joss.02499/10.21105.joss.02499.pdf)

[2020-07-22 08:14] whedon commented on #2343
[code]

[2020-07-22 08:17] Kevin-Mattheus-Moerman commented on #2343
@agahkarakuzu your paper compiled now but it looks like some DOI's are still missing :point_up: can you check/add those?

[2020-07-22 08:19] Kevin-Mattheus-Moerman commented on #2499
@mdsteiner our system could not detect a license. Can you add a plain text `LICENSE` file to your repository? Adding it to the main repository folder is best (that way GitHub also easily discovers it and will render a clear license badge on your repo). The license needs to be an [OSI approved open source license](https://opensource.org/licenses).

[2020-07-22 08:26] fverdugo commented on #2464
Perhaps @PetrKryslUCSD would like to review

[2020-07-22 08:40] Kevin-Mattheus-Moerman commented on #2464
@PetrKryslUCSD would you be interested in reviewing this submission for [JOSS](https://joss.theoj.org/)?

_Gridap: An extensible Finite Element toolbox in Julia_
**Paper**: https://github.com/openjournals/joss-papers/blob/joss.02464/joss.02464/10.21105.joss.02464.pdf
**Software**: https://github.com/gridap/Gridap.jl

The [review process](https://joss.readthedocs.io/en/latest/reviewer_guidelines.ht

[2020-07-22 08:46] Kevin-Mattheus-Moerman commented on #2499
@KristinaRiemer @fboehm @mikldk @csoneson could one of you handle this submission?

[2020-07-22 08:47] wallscheid commented on #2498
Thanks for the comments from @madcowswe in the pre-rewie thread #2275. Please find some answers below:

The sign convention is an arbitrary choice. In energy conversion engineering (such as power electronic and drive systems) the so-called generator convention is mostly used in the international literature where the voltage arrow is pointing down as indicated.

If you may have a closer look on the

[2020-07-22 08:48] whedon opened #2500 "[PRE REVIEW]: ParFlow Sand Tank: A tool for groundwater exploration"
**Submitting author:** @lecondon (<a href="http://orcid.org/0000-0003-3639-8076">Laura Condon</a>)
**Repository:** <a href="https://github.com/hydroframe/SandTank" target ="_blank">https://github.com/hydroframe/SandTank</a>
**Version:** v1.0.6
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of th

[2020-07-22 08:48] whedon commented on #2500
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-22 08:48] whedon commented on #2500
PDF failed to compile for issue #2500 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2500 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-446a0298a33b/lib/whedo

[2020-07-22 08:52] Kevin-Mattheus-Moerman commented on #2500
@whedon check repository

[2020-07-22 08:53] srmnitc commented on #2121
Hi @prs513rosewood , Thanks for the great library, and good documentation. I tried the installation process as described, and everything works quite well. I just have comment that maybe creating a conda recipe would make the installation easy? This is definitely not required for the publication here, but could be useful for future.

My second issue is with tests. I ran the automated tests, but I u

[2020-07-22 08:57] Kevin-Mattheus-Moerman commented on #2500
@openjournals/dev can you see why this paper wont compile?

[2020-07-22 09:02] Kevin-Mattheus-Moerman commented on #2500
@lecondon we are reviewing whether this work is in scope for JOSS. In particular it seems this submission might be better suited for our sister journal https://jose.theoj.org/ which focuses on educational software. If you disagree then perhaps help highlight and expand on the research (rather than educational) applications of this software.

[2020-07-22 09:04] whedon opened #2501 "[PRE REVIEW]: tacost: Testing and simulating the performance of acoustic tracking systems"
**Submitting author:** @thejasvibr (<a href="http://orcid.org/0000-0001-5360-4383">Beleyur Thejasvi</a>)
**Repository:** <a href="https://github.com/thejasvibr/tacost" target ="_blank">https://github.com/thejasvibr/tacost</a>
**Version:** v0.1.35
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2020-07-22 09:04] whedon commented on #2501
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-22 09:04] whedon commented on #2501
PDF failed to compile for issue #2501 with the following error:

 Can't find any papers to compile :-(

[2020-07-22 09:04] whedon commented on #2501
[code]

[2020-07-22 09:04] whedon commented on #2501
[code]

[2020-07-22 09:11] strengejacke commented on #2445
@whedon generate pdf

[2020-07-22 09:11] strengejacke commented on #2445
@sbenthall I have made all corrections to the paper and also checked correct spelling/upper-lower-case in references - all should be fine now. What would be the next step?

[2020-07-22 09:12] whedon commented on #2445
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02445/joss.02445/10.21105.joss.02445.pdf)

[2020-07-22 09:31] Kevin-Mattheus-Moerman commented on #2121
@srmnitc thanks! No worries on the "delay" we've seen al reviews slow down due to the pandemic and related issues. We are grateful for your help here!

[2020-07-22 09:31] whedon opened #2502 "[PRE REVIEW]: 21cmFAST v3: A Python-integrated C code for generating 3D realizations of the cosmic 21cm signal."
**Submitting author:** @steven-murray (<a href="http://orcid.org/0000-0003-3059-3823">Steven Murray</a>)
**Repository:** <a href="https://github.com/21cmFAST/21cmFAST" target ="_blank">https://github.com/21cmFAST/21cmFAST</a>
**Version:** v3.0.0
**Editor:** @dfm
**Reviewers:** @sambit-giri, @sultanier
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the

[2020-07-22 09:31] whedon commented on #2502
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-22 09:32] whedon commented on #2502
PDF failed to compile for issue #2502 with the following error:

 Can't find any papers to compile :-(

[2020-07-22 09:33] Kevin-Mattheus-Moerman commented on #2502
@whedon generate pdf from branch joss-paper

[2020-07-22 09:33] whedon commented on #2502
[code]

[2020-07-22 09:34] whedon commented on #2502
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02502/joss.02502/10.21105.joss.02502.pdf)

[2020-07-22 09:35] Kevin-Mattheus-Moerman commented on #2502
@whedon check repository

[2020-07-22 09:35] whedon commented on #2502
[code]

[2020-07-22 09:36] chainsawriot commented on #2461
Dear Dr Waggoner @pdwaggoner ,

Thank you very much for your valuable comments.

My coauthor @msaeltzer and I have revised both the paper and the GitHub repo to address your comments. It can be reflected in the current version of chainsawriot/oolong@a0fa6d0.

* We have updated the [Github repo of oolong](https://github.com/chainsawriot/oolong) to provide a clear path to community contribution. We

[2020-07-22 09:37] chainsawriot commented on #2461
@whedon generate pdf

[2020-07-22 09:37] whedon commented on #2461
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02461/joss.02461/10.21105.joss.02461.pdf)

[2020-07-22 09:40] arfon commented on #2316
We would very much like to cite the Utopia framework, and – if accepted – its JOSS publication seems most suited for that purpose.

We can cite it here (as you currently have it). Whedon is just flagging this DOI as not (yet) valid.

[2020-07-22 09:40] Kevin-Mattheus-Moerman commented on #2502
@dfm @xuanxu @harpolea @eloisabentivegna @mbobra @pibion could one of you handle this submission? Thanks

[2020-07-22 09:42] whedon opened #2503 "[PRE REVIEW]: SeroTools: a Python package for Salmonella serotype data analysis"
**Submitting author:** @jdbaugher (<a href="http://orcid.org/0000-0003-2466-3047">Joseph D Baugher</a>)
**Repository:** <a href="https://github.com/CFSAN-Biostatistics/SeroTools" target ="_blank">https://github.com/CFSAN-Biostatistics/SeroTools</a>
**Version:** v0.2.0
**Editor:** @majensen
**Reviewers:** @amoeba, @Maghnuso
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :

[2020-07-22 09:42] whedon commented on #2503
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-22 09:43] whedon commented on #2503
[code]

[2020-07-22 09:43] whedon commented on #2503
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02503/joss.02503/10.21105.joss.02503.pdf)

[2020-07-22 09:44] Kevin-Mattheus-Moerman commented on #2503
@whedon check repository

[2020-07-22 09:45] whedon commented on #2503
Failed to discover a `Statement of need` section in paper

[2020-07-22 09:45] whedon commented on #2503
[code]

[2020-07-22 09:47] thejasvibr commented on #2501
@whedon commands

[2020-07-22 09:48] whedon commented on #2501
Here are some things you can ask me to do:

[code]

[2020-07-22 09:48] Kevin-Mattheus-Moerman commented on #2503
@jdbaugher

- [ ] Can you check that missing DOI :point_up:

- [ ] Can you add a dedicated "Statement of need" section (see [our guidelines](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements))

[2020-07-22 09:49] trallard commented on #2246
That would be great @xillig  since we have not had any response

[2020-07-22 09:50] thejasvibr commented on #2501
potential reviewers: krystophny, pharshalp, dbuscombe-usgs

[2020-07-22 09:50] thejasvibr commented on #2501
@whedon generate pdf

[2020-07-22 09:51] xuanxu commented on #2500
@whedon generate pdf

[2020-07-22 09:51] Kevin-Mattheus-Moerman commented on #2503
@fboehm @marcosvital @majensen could one of you handle this submission? Can you also verify it is in scope and flag it for scope review if you feel it is too minor in terms of functionality? Thanks!

[2020-07-22 09:51] whedon commented on #2501
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02501/joss.02501/10.21105.joss.02501.pdf)

[2020-07-22 09:51] whedon commented on #2500
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02500/joss.02500/10.21105.joss.02500.pdf)

[2020-07-22 09:52] whedon opened #2504 "[PRE REVIEW]: RK-Opt: A package for the design of numerical ODE solvers"
**Submitting author:** @ketch (<a href="http://orcid.org/0000-0002-1212-126X">David Ketcheson</a>)
**Repository:** <a href="https://github.com/ketch/RK-Opt" target ="_blank">https://github.com/ketch/RK-Opt</a>
**Version:** v1.0.0
**Editor:** @diehlpk
**Reviewers:** @gardner48, @debdeepbh
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2020-07-22 09:52] whedon commented on #2504
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-22 09:52] whedon commented on #2504
[code]

[2020-07-22 09:53] whedon commented on #2504
[code]

[2020-07-22 09:53] whedon commented on #2504
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02504/joss.02504/10.21105.joss.02504.pdf)

[2020-07-22 09:53] Kevin-Mattheus-Moerman commented on #2504
@ketch can you check that missing DOI? :point_up:

[2020-07-22 09:58] Kevin-Mattheus-Moerman commented on #2504
@VivianePons @meg-simula @xuanxu @diehlpk @drvinceknight @jedbrown could one of you handle this submission? Thanks!

[2020-07-22 10:08] ketch commented on #2504
Sure -- that reference is a book.  The suggested DOI refers to a review of the book, so it isn't correct.  As far as I know, the book doesn't have a DOI.

[2020-07-22 10:27] sambit-giri commented on #2363
Dear @nicholebarry

I discovered that [subtract_mean_signal](https://tools21cm.readthedocs.io/contents.html#t2c.statistics.subtract_mean_signal) and subtract_mean_channelwise are doing the same thing. Therefore I have removed subtract_mean_channelwise. I think subtract_mean_signal is at the place.

Thanks for pointing it out. I have fixed them.

Done.

Done.

Done.

[2020-07-22 10:36] sambit-giri commented on #2363
@nicholebarry

I don't think so. The [tutorial](https://tools21cm.readthedocs.io/examples/tutorials.html#21-cm-brightness-temperature) now prints the mean of the first channel before and after applying subtract_mean_signal.

I have commented on this in the [tutorial](https://tools21cm.readthedocs.io/examples/tutorials.html#21-cm-power-spectrum).

Thanks! I have fixed this error.

[2020-07-22 11:13] thejasvibr commented on #2501
@whedon article proof is okay

[2020-07-22 11:13] whedon commented on #2501
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-07-22 11:34] Adamoso commented on #2344
Hello @bmcfee, @Kevin-Mattheus-Moerman,
I'm aware that there are many inconveniences associated with Covid but I would like to ask, whether there is any progress on the editing site?

[2020-07-22 11:39] peanutfun commented on #2165
@platipodium, thanks a lot for your review and endorsement!

@szhorvat, we are ready to merge [utopia!178](https://ts-gitlab.iup.uni-heidelberg.de/utopia/utopia/-/merge_requests/178), which improves the statement of need, introduction, and overview of the Utopia package. Do these improvements resolve [your concerns](https://github.com/openjournals/joss-reviews/issues/2165#issuecomment-656174417)?

[2020-07-22 11:39] marcosvital commented on #2458
Thank you, @lucask07! I'll let you know soon, ok?

[2020-07-22 11:39] lpantano commented on #2410
Hi @joannawolthuis, you don't need to write an extensive review. If you want to comment on something, you can do it. But the important it all the items in the checklist are checked. If not, you can open an issue in the tool repository to address the issue, so they can fix it and you can mark all the items in the checklist.

[2020-07-22 11:46] szhorvat commented on #2165
@peanutfun Yes, they do.

[2020-07-22 11:57] szhorvat commented on #2165
I apologize for taking so long with the review. I would like to ask for a bit more time. Utopia is a big and complex package, and I am not comfortable completing the review until I got the chance to *actually use it*, which takes much more time than I originally estimated.

[2020-07-22 12:33] peanutfun commented on #2165
That's fair, thank you for letting us know!

[2020-07-22 12:50] spectralcode commented on #2245
Thank you for the update and for your effort! I've sent a link to your tweet to octnews.org.

[2020-07-22 12:56] blsqr commented on #2316
Glad to hear, thanks 👍

@arfon We were also wondering about another publication-related question (see [above](https://github.com/openjournals/joss-reviews/issues/2316#issuecomment-656691584)):

[2020-07-22 13:02] e-dub commented on #2362
I would like to start my review but am unable to edit the review checklist.
@gkthiruvathukal: could you check this for me?

[2020-07-22 13:26] aureliocarnero commented on #2363
Dear @sambit-giri could you please put in the documentation explicitly something about running the Automated tests? I know there is a redmine in the directory, but how a user can know that directory exist? Cheers
Aurelio

[2020-07-22 13:30] pdwaggoner commented on #2461
Hi @chainsawriot - Thanks for the revisions! The paper looks much better now, with a very clear picture of how your substantive and technical approaches fit in the broader literature. I also like how you've included code of conduct in addition to contribution guidelines. Great changes and solid software! This is good to go in my opinion.

Back to you @kakiac .

[2020-07-22 13:31] nicholebarry commented on #2363
@sambit-giri

Thanks for implementing those comments.

Final comments on the tutorial:
1. Units for R and V in plots under bubble size distributions. Also titles to distinguish the plots using the various methods.
2. I don't want to delay the publication, so this is more of a suggestion for the future. There's a lot of fantastic modules for observational aspects (foregrounds, noise, beam kernels,

[2020-07-22 13:37] bmcfee commented on #2344
Hi @Adamoso -- attempted progress to be sure, though I'm still working on finding reviewers.  (Invitations have gone out, but no accepts as of yet.)  I'll keep at it though!

[2020-07-22 13:49] sambit-giri commented on #2363
Thanks @nicholebarry for the recommendations. The current plan is to publish the base version of tools21cm. Few modules for observational aspects, like the foreground models and the beam kernels, are still under development. Therefore we have not mentioned about it in the paper. As the thermal noise goes well under the hood of observational aspects, we decided to release them together in the next

[2020-07-22 13:56] PetrKryslUCSD commented on #2464
Sure, I'll be happy to help.
Petr Krysl
Prof. and Vice chair for undergraduate education
Structural engineering department
University of California, San Diego

On Wed, Jul 22, 2020 at 1:40 AM Kevin Mattheus Moerman <
notifications@github.com> wrote:

[2020-07-22 14:10] diehlpk commented on #2496
@barischrooneyj have you seen my remarks? Can you address them before the reviewers start?

[2020-07-22 14:11] gkthiruvathukal commented on #2362
@openjournals/joss-eics @e-dub is having trouble to edit the review checklist (and shows as a  proper reviewer). I think we've seen this happen in the past but don't recall exactly how we resolved it.

[2020-07-22 14:12] gkthiruvathukal commented on #2362
@e-dub You can still start working on identifying issues and opening issues in the submissions project repo and linking those issues here.

[2020-07-22 14:18] rhenanbartels commented on #1867
Hi @Kevin-Mattheus-Moerman, the `hrv.nonstationary` is a WIP added in version `0.2.8`. I guess `pip install -U hrv` would do the trick.

Regarding the missing DOI`s, I've added them in the last commit.
Let me know if there is anything else missing.

Cheers

[2020-07-22 14:21] diehlpk commented on #2504
@whedon assign @diehlpk as editor

[2020-07-22 14:21] whedon commented on #2504
OK, the editor is @diehlpk

[2020-07-22 14:24] sambit-giri commented on #2363
@nicholebarry

Done.

It is Jy. I have fixed it in the docstring.

[2020-07-22 14:25] diehlpk commented on #2291
Hi @johntfoster can you estimate when you finish the review?

[2020-07-22 14:31] fboehm commented on #2503
@Kevin-Mattheus-Moerman - in terms of volume, it seems sufficient, with 1400 lines of Python. However, I'm a new editor, so I have less experience with determining scope. What other characteristics do you suggest we examine when assessing scope?

I don't think that I'm familiar enough with existing software to say whether this submission offers new functionality for Python users.

[2020-07-22 14:34] prs513rosewood commented on #2121
Hi @srmnitc, and thanks for the feedback.

I've never used conda, but I'll have a look.

I have pushed a patch that hopefully fixes your issues.

See my reply to @agshvarts:

--

The link for bug reports is already there on the "Contributing" section. To make it clearer I've added sub-headings for bug reports and code contributions.

[2020-07-22 14:38] nuest commented on #2409
Will work on it tomorrow - apologies for the delay.

[2020-07-22 14:38] johntfoster commented on #2291
I'll also shoot for the end of next week.  Sorry for the delay.

On Wed, Jul 22, 2020 at 9:25 AM Patrick Diehl <notifications@github.com>
wrote:

[2020-07-22 14:43] arfon commented on #2316
We have done this before and so do our best to help with this.

[2020-07-22 15:04] kthyng commented on #2362
@whedon re-invite @e-dub  as reviewer

[2020-07-22 15:04] whedon commented on #2362
OK, the reviewer has been re-invited.

@e-dub  please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-07-22 15:04] kthyng commented on #2362
@e-dub See if this helps, maybe you didn't accept the invitation to review previously.

[2020-07-22 15:22] majensen commented on #2503
@Kevin-Mattheus-Moerman I think this work is in scope. I expect there are few FOSS tools that do this particular job, which is an important one in food safety and molecular epidemiology. Because of this, I would bet that the user base within the specialty is significant (@jdbaugher - feel free to chime in here). This software also provides an important service, because it is free to use. Microbial

[2020-07-22 16:18] arokem commented on #2403
@diehlpk : I am making slow progress through the checklist. My main remaining items are about testing the various functionality of the library. So far, it's been an enjoyable experience 😄

Regarding community guidelines, I've posted an issue [in the software repo](https://github.com/google/caliban/issues/48).

I also have a small comment for this item:

The authors tend to make liberal use of supe

[2020-07-22 16:25] arokem commented on #2403
One more comment, regarding the state of the art. There are two strands of research not currently cited, that I believe could be connected to this software and would better embed the software in context:

The first regards automated docker deployment for scientific software. I am thinking primarily of [repo2docker](https://github.com/jupyter/repo2docker), which implements functionality similar to

[2020-07-22 16:37] arokem commented on #2403
Relatedly, but definitely not required for the review, some food for thought here: https://github.com/google/caliban/issues/49

[2020-07-22 16:49] Adamoso commented on #2344
Thank you for the update, glad to hear that!

[2020-07-22 16:50] Visdoom commented on #2339
@whedon generate pdf

[2020-07-22 16:51] whedon commented on #2339
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02339/joss.02339/10.21105.joss.02339.pdf)

[2020-07-22 17:13] Visdoom commented on #2339
@oliviaguest the code is uploaded to Zenodo now: https://doi.org/10.5281/zenodo.3956644

[2020-07-22 17:25] a-r-j commented on #2424
Hiya, I've completed my review. Nice work, @kullrich. The only thing that appears to be missing are some contribution guidelines. I see you have a section on bug reporting; could someone (@KristinaRiemer ?) advise whether this is sufficient for JOSS.

[2020-07-22 17:26] mdsteiner commented on #2499
thanks for the note! We have now added a `LICENSE` file to our repository.

As potential reviewers we think that maybe jacobsoj, navmayan, ihrke, or mmrabe (all from the linked list) might be suitable based on their descriptions on the domains/ topics they are comfortable to review.

[2020-07-22 17:31] mbobra commented on #2349
@whedon generate pdf

[2020-07-22 17:31] muhrin commented on #2351
@danielskatz , just a quick update to say that I'm liasinging with @dghoshal-lbl to figure out the source of the exception they are experiencing.  The issue is being dealt with here https://github.com/aiidateam/kiwipy/issues/75.

[2020-07-22 17:33] whedon commented on #2349
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02349/joss.02349/10.21105.joss.02349.pdf)

[2020-07-22 17:33] mbobra commented on #2349
@whedon check references

[2020-07-22 17:34] whedon commented on #2349
[code]

[2020-07-22 17:41] mbobra commented on #2349
@whedon set 10.5281/zenodo.3955199 as archive

[2020-07-22 17:41] whedon commented on #2349
OK. <a href="https://doi.org/10.5281/zenodo.3955199" target="_blank">10.5281/zenodo.3955199</a> is the archive.

[2020-07-22 17:42] mbobra commented on #2349
@whedon set v1.0.1 as version

[2020-07-22 17:42] whedon commented on #2349
OK. v1.0.1 is the version.

[2020-07-22 17:42] dfm commented on #2486
@EiffL and @cranmer have kindly agreed to review this submission. I'll add them and we'll get the review started in a new thread. Thanks all!

[2020-07-22 17:42] dfm commented on #2486
@whedon assign @EiffL as reviewer

[2020-07-22 17:42] whedon commented on #2486
OK, @EiffL is now a reviewer

[2020-07-22 17:42] dfm commented on #2486
@whedon add @cranmer as reviewer

[2020-07-22 17:43] whedon commented on #2486
OK, @cranmer is now a reviewer

[2020-07-22 17:43] dfm commented on #2486
@whedon start review

[2020-07-22 17:43] whedon opened #2505 "[REVIEW]: sbi - a toolkit for simulation-based inference"
**Submitting author:** @janfb (<a href="http://orcid.org/0000-0003-4979-7092">Jan Boelts</a>)
**Repository:** <a href="https://github.com/mackelab/sbi" target ="_blank">https://github.com/mackelab/sbi</a>
**Version:** v0.10.0
**Editor:** @dfm
**Reviewer:** @EiffL, @cranmer
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS

[2020-07-22 17:43] whedon commented on #2486
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2505.

[2020-07-22 17:43] #2486 closed

[2020-07-22 17:43] whedon commented on #2505
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @EiffL, @cranmer it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog

[2020-07-22 17:43] mbobra commented on #2349
@openjournals/joss-eics This paper is ready for final processing!

[2020-07-22 17:43] whedon commented on #2505
PDF failed to compile for issue #2505 with the following error:

 Can't find any papers to compile :-(

[2020-07-22 17:46] dfm commented on #2430
Pinging @mtremmel!

I know that you said that you needed a few weeks so no rush, just wanted to keep this on your radar! Let me know if you have any questions during the review.

[2020-07-22 17:50] BGerwe commented on #2349
Thanks for all your hard work @mbobra @EricaEgg @ma-sadeghi!! 👏 💯

[2020-07-22 17:50] galessiorob commented on #2448
thank you @danielskatz !

[2020-07-22 17:56] fboehm commented on #2499
Yes, thank you, @Kevin-Mattheus-Moerman. I'm happy to handle this submission.

[2020-07-22 17:56] fboehm commented on #2499
@whedon assign @fboehm as editor

[2020-07-22 17:56] whedon commented on #2499
OK, the editor is @fboehm

[2020-07-22 18:01] dfm commented on #2505
@whedon generate pdf from branch joss-submission

[2020-07-22 18:01] whedon commented on #2505
[code]

[2020-07-22 18:02] whedon commented on #2505
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02505/joss.02505/10.21105.joss.02505.pdf)

[2020-07-22 18:18] jdbaugher commented on #2503
@Kevin-Mattheus-Moerman I have added the Statement of Need.

Regarding, the missing DOI, the reference in question is a book for which I have been unable to locate a DOI. The suggested DOI is for a different publication.

[2020-07-22 18:21] sbenthall commented on #2264
Ah, ok. Thanks for that clarification. @andyphilips I think it's fine to have them in the same branch as long as the scope is clear. @stulacy thanks so much! I'll assign you as a reviewer.

[2020-07-22 18:23] sbenthall commented on #2264
@whedon assign @stulacy as reviewer

[2020-07-22 18:23] whedon commented on #2264
OK, @stulacy is now a reviewer

[2020-07-22 18:25] sbenthall commented on #2445
@whedon assign Ohlsen as reviewer

[2020-07-22 18:25] whedon commented on #2445
OK, Ohlsen is now a reviewer

[2020-07-22 18:25] majensen commented on #2503
@Kevin-Mattheus-Moerman I'm happy to review this but I would give the right of first and second refusal to the new editors.

[2020-07-22 18:25] sbenthall commented on #2445
Hmm. That didn't work. I'm trying to reassign @Ohlsen . Sorry, I'm new here.

[2020-07-22 18:26] rodrigokataishi commented on #2462
@whedon commands

[2020-07-22 18:26] whedon commented on #2462
Here are some things you can ask me to do:

[code]

[2020-07-22 18:27] sbenthall commented on #2445
@whedon add @cmaimone as reviewer

[2020-07-22 18:27] whedon commented on #2445
OK, @cmaimone is now a reviewer

[2020-07-22 18:27] sbenthall commented on #2445
@whedon add @Ohlsen as reviewer

[2020-07-22 18:27] whedon commented on #2445
OK, @Ohlsen is now a reviewer

[2020-07-22 18:28] lecondon commented on #2500
Hello,

I  was not aware of this journal. I agree it would be abetter fit.  Do I need to submit separately there or is there a way to move it over?

Thanks,

Laura

—
Laura E. Condon, PhD
Assistant Professor
Hydrology and Atmospheric Sciences
University of Arizona, Tucson, AZ

On Jul 22, 2020, at 2:02 AM, Kevin Mattheus Moerman <notifications@github.com<mailto:notifications@github.com>> wrote:

Ex

[2020-07-22 18:29] sbenthall commented on #2445
Ok, I think maybe @Ohlsen did something manually that unassigned them.
But now I've reassigned them. I believe they need to complete their review in addition to @cmaimone in order to proceed.

@xuanxu please let me know if that doesn't look right for some reason.

[2020-07-22 18:31] sbenthall commented on #2264
@mcavs would you be willing to review this article? Please note the scope of the review is R only.

[2020-07-22 18:31] jdbaugher commented on #2503
@Kevin-Mattheus-Moerman @majensen Characterization of Salmonella by serotyping is the standard methodology broadly used by public health and infectious disease communities, thus the potential user base would be substantial, including international public health agencies and research communities in academia and global food manufacturing. SeroTools provides unique functionality for query and compari

[2020-07-22 18:36] cMadan commented on #2354
@whedon add @kinow as reviewer

[2020-07-22 18:36] whedon commented on #2354
OK, @kinow is now a reviewer

[2020-07-22 18:38] cMadan commented on #2354
@pmkruyen @kinow @gcdeshpande, thank you for your patience. I think we're all set to start the review, so I will set that up and we can begin the actual review process.

@kinow, thanks for mentioning this is your first JOSS review, feel free to ask me questions in the review issue if you're not sure about something!

[2020-07-22 18:38] cMadan commented on #2354
@whedon start review

[2020-07-22 18:38] whedon opened #2506 "[REVIEW]: DearScholar: A mobile application to conduct qualitative and quantitative diary research"
**Submitting author:** @pmkruyen (<a href="http://orcid.org/0000-0003-0109-1744">Peter Kruyen</a>)
**Repository:** <a href="https://github.com/pmkruyen/dearscholar.git" target ="_blank">https://github.com/pmkruyen/dearscholar.git</a>
**Version:** v1.0.49
**Editor:** @cMadan
**Reviewer:** @gcdeshpande, @kinow
**Archive:** <a href="https://doi.org/10.5281/zenodo.4267938" target="_blank">10.5281/zeno

[2020-07-22 18:38] whedon commented on #2354
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2506.

[2020-07-22 18:38] #2354 closed

[2020-07-22 18:38] pmkruyen commented on #2354
Hi @cMadan, haha, I just wanted to ask you if you could give me (us) an update on the review process, but I see that you are working on it :) Thanks!

[2020-07-22 18:38] whedon commented on #2506
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @gcdeshpande, @kinow it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2020-07-22 18:39] whedon commented on #2506
[code]

[2020-07-22 18:39] whedon commented on #2506
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02506/joss.02506/10.21105.joss.02506.pdf)

[2020-07-22 18:43] xuanxu commented on #2445
@sbenthall I've added manually the review checklist for @Ohlsen in the body of the issue. Everything looks ok now.

[2020-07-22 18:44] fboehm commented on #2503
@Kevin-Mattheus-Moerman @majensen @marcosvital - I prefer to not be the editor for this submission, as I have several submissions in progress right now.

[2020-07-22 18:44] clauswilke commented on #2424
I similarly couldn't find any community guidelines. In addition, I think both the high-level documentation of the package and the paper could be improved somewhat. The first sentence in the paper states "CRBHits is a reimplementation of the
Conditional Reciprocal Best Hit (CRBH) algorithm crb-blast in R." The paper then continues discussing the history of the CRBH algorithm, which is fine. However

[2020-07-22 18:50] mcavs commented on #2264
@sbenthall I am sorry that it is not in my expertise.

[2020-07-22 19:00] sbenthall commented on #2264
@dormezil Would you be willing to review this article? Please note the scope of the review is the R
 implementation only.

[2020-07-22 19:01] diehlpk commented on #2455
@whedon add @andybond13 as reviewer

[2020-07-22 19:01] whedon commented on #2455
OK, @andybond13 is now a reviewer

[2020-07-22 19:07] strengejacke commented on #2445
Thanks!

[2020-07-22 19:14] zsylvester commented on #2341
I have gone through the paper, the four Jupyter notebooks, scanned the repo, looked at the documentation, and ran the tests.  I think this is a nice addition to the Landlab package and it is likely to be of interest to anybody who is working on sediment transport problems in primarily non-depositional landscapes. The NetworkSedimentTransporter component is installed along with the Landlab package

[2020-07-22 20:07] Kevin-Mattheus-Moerman commented on #2500
@lecondon good question. I'll check for you.
@openjournals/dev @labarba @arfon can you advise on this :point_up:

[2020-07-22 20:23] labarba commented on #2500
There's no way to transfer a submission. The author should study the JOSE documentation to determine if their work is in-scope, and if interested, make a new submission there. (Warning—we're operating at a much reduced pace in JOSE, due to few volunteers available.)

[2020-07-22 21:11] dormezil commented on #2264
Yes, I am willing to review Exploring meaningful visual effects and
quantities of interest from dynamic models through dynamac.

Best Regards,

Stevens Dormezil
Data Scientist
B. ‪(561) 425-9037‬

On Wed, Jul 22, 2020 at 3:00 PM Sebastian Benthall <notifications@github.com>
wrote:

--

*Disclaimer: *Under Florida law, e-mail addresses are public records.
If you do not want your e-mail address rele

[2020-07-22 21:16] diehlpk commented on #2504
Hi, @lheagy @mancellin @arghdos @JaroslavHron would you be interested to review this paper?

[2020-07-22 21:17] pmkruyen commented on #2506
Hi @cMadan thanks for starting the review; and @gcdeshpande and @kinow, thanks again for reviewing. I am looking forward to your feedback.

The repro contains two versions as you will see (two branches). It would be great if you could review the developer branch containing the last updates.

Also, I see that I filled out that we are at version 1.48 above -oops- that should be 1.048 (stable release

[2020-07-22 22:12] lnferris commented on #2433
I added ``help`` accessible added headers (Syntax, Description, Examples, Info) to all functions. 👍

[2020-07-22 22:35] lheagy commented on #2504
Thanks for thinking of me! I have a few other reviews on my plate at the moment so unfortunately can't take this on at the moment

[2020-07-23 00:06] whedon commented on #2435
:wave: @katyhuff, please update us on how your review is going.

[2020-07-23 00:07] whedon commented on #2435
:wave: @gonsie, please update us on how your review is going.

[2020-07-23 00:21] nicholebarry commented on #2363
@sambit-giri

Makes total sense.

I would suggest some more description/motivation on the front page of readthedocs (and subsequently the Github main readme) that would help a first-time user know whether or not this package satisfies their needs. Feel free to use these suggestions (or better ones you come up with). Just a few sentences for each would do. For reference, I'm using [pyuvdata](https:

[2020-07-23 00:58] Xunius commented on #2407
@kbarnhart Just a quick question: I guess I should not update the master branch during the review stage, should I?

[2020-07-23 00:59] jflournoy commented on #2394
Please pardon my delay and not seeing the above messages! I've opened three new issues. The first is in regard to the unit tests, two of which fail on my machine. I'm happy to dig deeper if this is not reproducible on your end, @OttaviaE.

https://github.com/OttaviaE/implicitMeasures/issues/6

I'm not sure if this is the right way to do this, but here are a few recommendations for the language in

[2020-07-23 01:10] moorepants commented on #2498
I'm in the middle of an across the world move, so I probably won't get to this for two or more weeks.

[2020-07-23 01:31] ChrisRackauckas commented on #2464
I'm sorry but I won't have time right now.

[2020-07-23 02:42] kinow commented on #2506
Looking at this item now, under documentation

https://github.com/pmkruyen/dearscholar/issues/18

[2020-07-23 04:03] WilkAndy commented on #2176
@whedon generate pdf from branch next

[2020-07-23 04:03] whedon commented on #2176
[code]

[2020-07-23 04:05] whedon commented on #2176
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02176/joss.02176/10.21105.joss.02176.pdf)

[2020-07-23 04:07] WilkAndy commented on #2176
@whedon check references

[2020-07-23 04:09] whedon commented on #2176
[code]

[2020-07-23 04:10] WilkAndy commented on #2176
Hi @jedbrown

- i believe i've addressed your issues raised above
- i have checked the article proof - it looks fine
- the reference check is OK.

Good to publish?

andy

[2020-07-23 04:14] katyhuff commented on #2435
## katyhuff Review
This is an interesting tool for testing control system approaches for microgrids. I'm genuinely interested in testing it out further and doing more exploring with it. I think the purpose of the tool is fairly clear and the audience certainly exists. It builds cleanly from source and the pip install approach works cleanly as well. While the build succeeds, the tests fail on my Ma

[2020-07-23 05:33] adamgdobrakowski commented on #2482
@cmaimone Thank you for reviewing my package. I will try to solve all the opened issues. I would like also to answer to some of your doubts:

The tools included in the package had been developing since 2018, but they were stored in a private repository due to medical data sensitivity and privacy. First experiments were performed on real medical data, and the package could be transformed into a pub

[2020-07-23 06:36] sambit-giri commented on #2363
@nicholebarry

Did you git pull and install the package again?
I had completely rewritten the dimensionless_ps function after your previous comment about it. It doesn't have the above lines anymore (https://tools21cm.readthedocs.io/_modules/t2c/power_spectrum.html#dimensionless_ps).
I have also fixed the other error you got with your unit test.

[2020-07-23 08:31] xillig commented on #2246
Hi @trallard,

In the following you find a list of selected potential reviewers. Would it be possible to contact the first three in the list to speed up the process a little bit?

@alexhanna
@sbrugman
@vc1492a

@jkahn
@deniederhut
@linuxscout
@ionlights
@aozorahime

Thank you!

[2020-07-23 08:36] xillig commented on #2246
Hi @sara-02,

Thanks again for offering to review our paper. We appreciate your interest a lot. As you know, we are still urgently trying to find a second reviewer. Do you perhaps have any additional suggestions?

[2020-07-23 08:50] hertzsprung commented on #2479
@dhhagan In case you missed it, I emailed you with a query about this review.  Do let me know if you need me to resend it.

[2020-07-23 09:21] sbrugman commented on #2246
@xillig Sorry, won't be able to review at this time. Hope you will find a second reviewer soon.

[2020-07-23 09:36] linuxscout commented on #2246
Hi @xillig , I can do it

[2020-07-23 09:39] aozorahime commented on #2246
@xillig I am late for this :smile:

[2020-07-23 09:52] linuxscout commented on #2246
@aozorahime  you can do it.

[2020-07-23 09:58] trallard commented on #2246
@whedon add @linuxscout as reviewer

[2020-07-23 09:58] whedon commented on #2246
OK, @linuxscout is now a reviewer

[2020-07-23 09:59] trallard commented on #2246
Great we have 2 reviewers now, depending on @aozorahime response we can add them and move forward or move forward with our 2 reviewers straight away

[2020-07-23 10:03] aozorahime commented on #2246
If the slot still available, I can do that @trallard

[2020-07-23 10:06] trallard commented on #2246
Awesome thanks!

[2020-07-23 10:07] trallard commented on #2246
@whedon add @aozorahime as reviewer

[2020-07-23 10:07] whedon commented on #2246
OK, @aozorahime is now a reviewer

[2020-07-23 10:07] trallard commented on #2246
@whedon start review

[2020-07-23 10:07] whedon opened #2507 "[REVIEW]: TTLocVis: A Twitter Topic Location Visualization Package"
**Submitting author:** @xillig (<a href="http://orcid.org/0000-0003-2346-2841">Gillian Kant</a>)
**Repository:** <a href="https://github.com/xillig/TTLocVis" target ="_blank">https://github.com/xillig/TTLocVis</a>
**Version:** 1.0.4
**Editor:** @trallard
**Reviewer:** @sara-02 , @linuxscout, @aozorahime
**Archive:** <a href="https://doi.org/10.5281/zenodo.4133399" target="_blank">10.5281/zenodo.41

[2020-07-23 10:07] whedon commented on #2246
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2507.

[2020-07-23 10:07] #2246 closed

[2020-07-23 10:07] whedon commented on #2507
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @sara-02 , @linuxscout, @aozorahime it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog

[2020-07-23 10:07] whedon commented on #2507
[code]

[2020-07-23 10:08] whedon commented on #2507
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02507/joss.02507/10.21105.joss.02507.pdf)

[2020-07-23 10:08] trallard commented on #2507
Thanks all for offering to review. You will find your reviewer's checklist at the top of this issue.
If you encounter any issues please let me know and I can assist.

[2020-07-23 10:10] eloisabentivegna commented on #2457
@whedon remove @gnedin as reviewer

@ngnedin has declared a conflict of interest with this submission's author (a recent common publication), and has stepped down.

[2020-07-23 10:10] whedon commented on #2457
OK, @gnedin is no longer a reviewer

[2020-07-23 10:11] eloisabentivegna commented on #2495
@whedon remove @gnedin as reviewer

@ngnedin has declared a conflict of interest with this submission's author (a recent common publication), and has stepped down.

[2020-07-23 10:11] whedon commented on #2495
OK, @gnedin is no longer a reviewer

[2020-07-23 10:22] xillig commented on #2246
Perfect, thank you everyone for your support! :)

[2020-07-23 12:10] sambit-giri commented on #2363
Dear @nicholebarry

We have updated the documentation as per your recommendations. We will put the "Citation" after a DOI is produced.

Best,
Sambit

[2020-07-23 12:14] whedon commented on #2165
:wave: @szhorvat, please update us on how your review is going.

[2020-07-23 12:19] nicholebarry commented on #2363
@sambit-giri,

Yes, sorry, you're right. I didn't reinstall. Everything passed now. And I think that's a great level of detail with the documentation.

I'll officially accept. My review is done (@pibion need anything else from me?). Best of luck in the future!

[2020-07-23 12:22] ChrisRackauckas commented on #2504
Thanks for invitation, but I do not think I will be able to turn this around in an adequate time. Good luck to anyone else suddenly building an online course too 😱.

[2020-07-23 12:35] sambit-giri commented on #2363
@nicholebarry

Thanks!

[2020-07-23 12:43] pdebuyl commented on #2307
@MikeHeiber it is often the case that reviewers wait for update on the first round of review before proceeding to the rest of the review. Please let us know when you have taken the comments into account.

[2020-07-23 12:54] Kevin-Mattheus-Moerman commented on #2503
@whedon assign @majensen as editor

[2020-07-23 12:54] whedon commented on #2503
OK, the editor is @majensen

[2020-07-23 12:57] Kevin-Mattheus-Moerman commented on #2502
@whedon invite @dfm as editor

[2020-07-23 12:57] whedon commented on #2502
@dfm has been invited to edit this submission.

[2020-07-23 12:58] dfm commented on #2502
@Kevin-Mattheus-Moerman: yes - I'm happy to edit!

[2020-07-23 12:58] dfm commented on #2502
@whedon assign @dfm as editor

[2020-07-23 12:58] whedon commented on #2502
OK, the editor is @dfm

[2020-07-23 13:08] MrMinimal64 commented on #2392
Due to the uncertain outcome of this review, I would like to submit this work to arXiv.org
Please consider endorsing me for this: https://arxiv.org/auth/endorse?x=9QAMJT

[2020-07-23 13:59] diehlpk commented on #2504
@ketch Can you recommend some potential reviewers?

[2020-07-23 14:20] jedbrown commented on #2504
@diehlpk Hong Zhang or Emil Constantinescu at Argonne, Mayya Tokman at UC Merced, Ray Spiteri at U Saskatchewan, Carol Woodward at LLNL.

[2020-07-23 14:25] aureliocarnero commented on #2363
Dear @sambit-giri I saw you put the info about the automated test.
Im also done with with review.
Congratulations!
@pibion

[2020-07-23 14:28] kbarnhart commented on #2407
@Xunius answer probably depends on what sort of changes you are making. I would not recommend totally restructuring the package. But if you have more moderate changes (adding a feature, updating the documentation, refactoring something internal), I don't see a reason why those sorts of changes would cause a problem. If you make a change that substantially modifies the dependencies such that a revi

[2020-07-23 14:30] chennachaos commented on #2121
Thank you for your prompt response @prs513rosewood! I will check the **Functionality** part of the review next week.

[2020-07-23 14:49] mancellin commented on #2504
Thank you for the invitation. Unfortunately, I don't think I'll be able to make it either.

[2020-07-23 14:59] vc1492a commented on #2246
Sorry I missed it! Was 2AM local time about 5 hours ago 😄  best of luck with the review!

[2020-07-23 15:11] lnferris commented on #2497
@chadagreene I am implementing documentation using relative links between markdown files. E.g. https://github.com/lnferris/ocean_data_tools#building-uniform-structs-from-data-sources-1 links to https://github.com/lnferris/ocean_data_tools/blob/master/docs/argo_build.md

[2020-07-23 15:14] arokem commented on #2403
I am trying to run `caliban cloud` and ran into https://github.com/google/caliban/issues/51.

Setting the environment variable seems to resolve that, but I then run into:

[code]

Do the permissions on the project need to be adjusted somehow?

[2020-07-23 15:20] pibion commented on #2363
@nicholebarry @aureliocarnero thanks so much for your great work on this!  There's nothing else you need to do for the publication process.

[2020-07-23 15:28] kthyng commented on #2497
@chadagreene please see the issues I started on your behalf above, and create similar issues for future comments. Then usually there is a short summary of a review actually in this review issue that refers to the open issues. There is a bit of bookkeeping with this setup.

@lnferris Can you copy and paste your comments that have been in response to these comments from @chadagreene into the relevan

[2020-07-23 15:30] Kevin-Mattheus-Moerman commented on #2317
@mdpiper I've reviewed your paper. It is ready for acceptance once you make the below change. You can run `@whedon generate pdf` here to update the paper once you are finished.

- [ ] Can you add countries to your affiliations?

[2020-07-23 15:31] pibion commented on #2363
@ziotom78, thanks for getting started with your review!  Do you expect to be able to work on this in the next few weeks?  If not, I can set a reminder with whedon to ping you.

[2020-07-23 15:38] whedon opened #2508 "[PRE REVIEW]: hankl: A lightweight Python implementation of the FFTLog algorithm for Cosmology"
**Submitting author:** @minaskar (<a href="http://orcid.org/0000-0001-9489-4612">Minas Karamanis</a>)
**Repository:** <a href="https://github.com/minaskar/hankl" target ="_blank">https://github.com/minaskar/hankl</a>
**Version:** v1.1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID

[2020-07-23 15:39] whedon commented on #2508
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-23 15:39] whedon commented on #2508
[code]

[2020-07-23 15:39] whedon commented on #2508
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02508/joss.02508/10.21105.joss.02508.pdf)

[2020-07-23 15:39] whedon opened #2509 "[PRE REVIEW]: MLJ: A Julia package for composable machine learning"
**Submitting author:** @ablaom (<a href="http://orcid.org/0000-0001-6689-886X">Anthony Blaom</a>)
**Repository:** <a href="https://github.com/alan-turing-institute/MLJ.jl" target ="_blank">https://github.com/alan-turing-institute/MLJ.jl</a>
**Version:** v0.11.6
**Editor:** @terrytangyuan
**Reviewers:** @degleris1, @henrykironde
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service m

[2020-07-23 15:40] whedon commented on #2509
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-23 15:40] whedon opened #2510 "[PRE REVIEW]: Bacting: a next generation, command line version of Bioclipse"
**Submitting author:** @egonw (<a href="http://orcid.org/0000-0001-7542-0286">Egon Willighagen</a>)
**Repository:** <a href="https://github.com/egonw/bacting" target ="_blank">https://github.com/egonw/bacting</a>
**Version:** 0.0.11
**Editor:** @majensen
**Reviewers:** @Zethson, @arcuri82
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenges o

[2020-07-23 15:40] whedon commented on #2509
Failed to discover a `Statement of need` section in paper

[2020-07-23 15:40] whedon commented on #2510
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-23 15:40] whedon commented on #2509
[code]

[2020-07-23 15:40] whedon opened #2511 "[PRE REVIEW]: Off-resonance CorrecTion OPen soUrce Software (OCTOPUS)"
**Submitting author:** @imr-framework (<a href="http://orcid.org/0000-0002-1141-2049">Marina Manso Jimeno</a>)
**Repository:** <a href="https://github.com/imr-framework/OCTOPUS" target ="_blank">https://github.com/imr-framework/OCTOPUS</a>
**Version:** 0.1.4
**Editor:** @jni
**Reviewers:** @puolival
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the c

[2020-07-23 15:40] whedon commented on #2511
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-23 15:40] whedon commented on #2510
[code]

[2020-07-23 15:40] whedon opened #2512 "[PRE REVIEW]: BetaML: The Beta Machine Learning Toolkit, a self-contained repository of Machine Learning algorithms in Julia"
**Submitting author:** @sylvaticus (<a href="http://orcid.org/0000-0002-1534-8697">Antonello Lobianco</a>)
**Repository:** <a href="https://github.com/sylvaticus/BetaML.jl" target ="_blank">https://github.com/sylvaticus/BetaML.jl</a>
**Version:** v0.2.2
**Editor:** @terrytangyuan
**Reviewers:** @ablaom, @ppalmes
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

[2020-07-23 15:40] whedon commented on #2509
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02509/joss.02509/10.21105.joss.02509.pdf)

[2020-07-23 15:40] whedon commented on #2512
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-23 15:41] whedon commented on #2510
PDF failed to compile for issue #2510 with the following error:

 Can't find any papers to compile :-(

[2020-07-23 15:41] whedon commented on #2511
[code]

[2020-07-23 15:41] whedon commented on #2511
[code]

[2020-07-23 15:41] Kevin-Mattheus-Moerman commented on #2464
@whedon assign @PetrKryslUCSD as reviewer

[2020-07-23 15:41] whedon commented on #2464
OK, @PetrKryslUCSD is now a reviewer

[2020-07-23 15:41] whedon commented on #2512
Failed to discover a `Statement of need` section in paper

[2020-07-23 15:41] whedon commented on #2512
[code]

[2020-07-23 15:41] whedon commented on #2511
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02511/joss.02511/10.21105.joss.02511.pdf)

[2020-07-23 15:42] whedon commented on #2512
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02512/joss.02512/10.21105.joss.02512.pdf)

[2020-07-23 15:42] Kevin-Mattheus-Moerman commented on #2464
@maikkirapo @ahojukka5 @KristofferC @burcugrbz would you be interested in reviewing this submission for [JOSS](https://joss.theoj.org/)?

_Gridap: An extensible Finite Element toolbox in Julia_
**Paper**: https://github.com/openjournals/joss-papers/blob/joss.02464/joss.02464/10.21105.joss.02464.pdf
**Software**: https://github.com/gridap/Gridap.jl

The [review process](https://joss.readthedocs.io/

[2020-07-23 15:42] mdpiper commented on #2317
@Kevin-Mattheus-Moerman Thank you! Done!

[2020-07-23 15:42] mdpiper commented on #2317
@whedon generate pdf

[2020-07-23 15:43] Kevin-Mattheus-Moerman commented on #2498
@moorepants okay thanks for letting us know

[2020-07-23 15:43] whedon commented on #2317
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02317/joss.02317/10.21105.joss.02317.pdf)

[2020-07-23 15:43] dhhagan commented on #2479
@whedon re-invite @RCHG as reviewer

[2020-07-23 15:43] whedon commented on #2479
The reviewer already has a pending invite.

@rchg please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-07-23 15:44] Kevin-Mattheus-Moerman commented on #2508
@whedon check repository

[2020-07-23 15:45] whedon commented on #2508
[code]

[2020-07-23 15:45] dhhagan commented on #2479
Hi @hertzsprung - please resend! I haven't seen it yet, but am happy to answer any questions. Feel free to ask here in the comments as well if you feel comfortable doing so.

[2020-07-23 15:50] Kevin-Mattheus-Moerman commented on #2509
@ablaom thanks for your submission. I will be looking for editors to handle this work. In the mean time I've quickly looked at your paper. It seems rather longer than our typical paper. Please review our [criteria](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements) and consider shortening it where possible. Our system also didn't detect a "Statement of need", you may ha

[2020-07-23 15:52] Kevin-Mattheus-Moerman commented on #2509
@bmcfee @terrytangyuan could one of you handle this submission?

[2020-07-23 15:58] Kevin-Mattheus-Moerman commented on #2510
@whedon generate pdf from branch devel/0.0.13

[2020-07-23 15:58] whedon commented on #2510
[code]

[2020-07-23 15:59] whedon commented on #2510
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02510/joss.02510/10.21105.joss.02510.pdf)

[2020-07-23 16:05] Kevin-Mattheus-Moerman commented on #2510
@egonw thanks for this submission. I am reviewing the suitability of this submission for JOSS and will also look for editors to handle it.
In the mean time can you please describe, for the record, the difference between the current submission and this paper to clarify this is not a duplicate publication: https://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-10-397

[2020-07-23 16:11] Kevin-Mattheus-Moerman commented on #2510
@trallard @majensen @will-rowe @csoneson is one of you able to handle this submission? Thanks!

[2020-07-23 16:11] egonw commented on #2510
Potential reviewers: zethson, reality (collaborators on a EU project, so probably not), 7omasz, arcuri82

[2020-07-23 16:13] Kevin-Mattheus-Moerman commented on #2510
@egonw thanks for those suggestion. Which ones exactly are collaborators?

[2020-07-23 16:14] egonw commented on #2510
The Bioclipse 2 paper is still about the Eclipse-based version, not about the command line version and suffers from the limitations outlined in the "Statement of Need" section.

[2020-07-23 16:15] egonw commented on #2510
reality, whom I work together with in the [NanoCommons](https://github.com/nanocommons) project on ontologies.

[2020-07-23 16:17] Kevin-Mattheus-Moerman commented on #2510
@galessiorob is this submission something you could handle?

[2020-07-23 16:18] diehlpk commented on #2504
@whedon assign @gardner48 reviewer

[2020-07-23 16:18] whedon commented on #2504
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-07-23 16:18] diehlpk commented on #2504
@whedon assign @gardner48 as reviewer

[2020-07-23 16:18] whedon commented on #2504
OK, @gardner48 is now a reviewer

[2020-07-23 16:19] Kevin-Mattheus-Moerman commented on #1867
@whedon generate pdf

[2020-07-23 16:19] Kevin-Mattheus-Moerman commented on #1867
@whedon check references

[2020-07-23 16:19] whedon commented on #1867
PDF failed to compile for issue #1867 with the following error:

 sh: 0: getcwd() failed: No such file or directory
pandoc: 10.21105.joss.01867.pdf: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2020-07-23 16:19] whedon commented on #1867
[code]

[2020-07-23 16:20] egonw commented on #2510
I would also not mind having someone of the original Bioclipse team look at it. They have not contributed to this adaption of it, e.g. jonalv or goglepox as they know the ins and outs of the technology, but obviously have an academic CoI.

[2020-07-23 16:22] Kevin-Mattheus-Moerman commented on #1867
Yep that did the trick.

[2020-07-23 16:23] Kevin-Mattheus-Moerman commented on #1867
@openjournals/dev can you check why this paper wont compile?

[2020-07-23 16:28] diehlpk commented on #2403
@sritchie Can you please add the country no abbreviation to the affiliation?

[2020-07-23 16:29] diehlpk commented on #2504
@ketch Can you please add the countries no abbreviations to all the affiliations?

[2020-07-23 16:31] Kevin-Mattheus-Moerman commented on #1867
@rhenanbartels once the paper compiles (you can run `@whedon generate pdf` to check compilation) we are ready to process this paper for acceptance in JOSS. Can you do the following:

- [ ] Check those invalid DOI's :point_up:  you may need to remove the `https://doi.org/` prefix
- [ ] Since your paper is about to be processed for acceptance, I suggest you proofread it once more and also that you v

[2020-07-23 16:35] majensen commented on #2510
@Kevin-Mattheus-Moerman I can backstop for this submission, if others are unable.

[2020-07-23 16:35] Kevin-Mattheus-Moerman commented on #2512
@bmcfee @terrytangyuan @kakiac I realize you are handling several submissions already but could one of you edit this one?

[2020-07-23 16:37] diehlpk commented on #2352
@whedon generate pdf from branch JOSS

[2020-07-23 16:37] whedon commented on #2352
[code]

[2020-07-23 16:38] whedon commented on #2352
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02352/joss.02352/10.21105.joss.02352.pdf)

[2020-07-23 16:40] terrytangyuan commented on #2509
@whedon set @terrytangyuan as editor

[2020-07-23 16:40] whedon commented on #2509
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-07-23 16:40] terrytangyuan commented on #2509
@whedon assign @terrytangyuan as editor

[2020-07-23 16:40] whedon commented on #2509
OK, the editor is @terrytangyuan

[2020-07-23 16:41] terrytangyuan commented on #2509
👋 @ablaom  if you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission.

[2020-07-23 16:43] Kevin-Mattheus-Moerman commented on #2469
@sbenthall, could you handle this submission?

[2020-07-23 16:57] danielskatz commented on #2352
👋 @bhatele & @davidbeckingsale - how are things going with your reviews?

[2020-07-23 17:08] rram84 commented on #2372
@jonwong12 and @jhale

I have made a number of changes to DVRlib based on your suggestions:

- DVRlib is now installable using cmake as follows:
[code]
- Unit tests verifying correctness were previously located within src/. These have now been moved to a more visible location under test/ in the root directory.
- Simple tests to verify usage of GSL and OpenMP  are included in the list of unit tests

[2020-07-23 17:08] katyhuff commented on #2034
@YoungFaithful Please let me know when you've completed the tasks in my previous comment.

[2020-07-23 17:10] Kevin-Mattheus-Moerman commented on #2317
@whedon accept

[2020-07-23 17:10] whedon commented on #2317
[code]

[2020-07-23 17:10] whedon commented on #2317
[code]

[2020-07-23 17:10] whedon commented on #2317
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1587

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1587, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-23 17:14] Kevin-Mattheus-Moerman commented on #2317
@whedon accept deposit=true

[2020-07-23 17:15] whedon commented on #2317
[code]

[2020-07-23 17:15] whedon commented on #2317
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1286349291682967560) 👈 🐦🐦🐦

[2020-07-23 17:15] whedon commented on #2317
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1588
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02317](https://doi.org/10.21105/joss.02317)
2. If everything looks g

[2020-07-23 17:23] #2317 closed

[2020-07-23 17:23] whedon commented on #2317
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02317/status.svg)](https://doi.org/10.21105/joss.02317)

**We need your help!**

Journal of Open Source Softwa

[2020-07-23 17:29] mdpiper commented on #2317
Yay! cc: @mcflugen @gregtucker

[2020-07-23 18:10] davidbeckingsale commented on #2352
Fine, just need to finish reviewing the actual paper. I have verified the software itself 👍

[2020-07-23 18:11] eloisabentivegna commented on #2468
@whedon add @bonh as reviewer

[2020-07-23 18:11] whedon commented on #2468
OK, @bonh is now a reviewer

[2020-07-23 18:51] eloisabentivegna commented on #2468
@whedon start review

[2020-07-23 18:51] whedon opened #2513 "[REVIEW]: CASTRO: A Massively Parallel Compressible Astrophysics Simulation Code"
**Submitting author:** @zingale (<a href="http://orcid.org/0000-0001-8401-030X">M. Zingale</a>)
**Repository:** <a href="https://github.com/amrex-astro/Castro" target ="_blank">https://github.com/amrex-astro/Castro</a>
**Version:** JOSS_paper
**Editor:** @eloisabentivegna
**Reviewers:** @kegiljarhus, @bonh, @joshia5
**Archive:** <a href="https://doi.org/10.5281/zenodo.4085328" target="_blank">10.5

[2020-07-23 18:51] whedon commented on #2468
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2513.

[2020-07-23 18:51] #2468 closed

[2020-07-23 18:51] whedon commented on #2513
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kegiljarhus, @bonh it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2020-07-23 18:54] whedon commented on #2513
PDF failed to compile for issue #2513 with the following error:

 pandoc-citeproc: reference ctu not found
pandoc-citeproc: reference ppm not found
Error producing PDF.
! Undefined control sequence.
l.437 ... research. The GPU development of \castro

Looks like we failed to compile the PDF

[2020-07-23 18:54] diehlpk commented on #2504
@whedon add @debdeepbh as reviewer

[2020-07-23 18:54] whedon commented on #2504
OK, @debdeepbh is now a reviewer

[2020-07-23 18:55] diehlpk commented on #2504
@whedon start review

[2020-07-23 18:55] whedon opened #2514 "[REVIEW]: RK-Opt: A package for the design of numerical ODE solvers"
**Submitting author:** @ketch (<a href="http://orcid.org/0000-0002-1212-126X">David Ketcheson</a>)
**Repository:** <a href="https://github.com/ketch/RK-Opt" target ="_blank">https://github.com/ketch/RK-Opt</a>
**Version:** v1.0.3
**Editor:** @diehlpk
**Reviewers:** @gardner48, @debdeepbh, @emconsta
**Archive:** <a href="https://doi.org/10.5281/zenodo.4146740" target="_blank">10.5281/zenodo.4146740

[2020-07-23 18:55] whedon commented on #2504
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2514.

[2020-07-23 18:55] #2504 closed

[2020-07-23 18:55] whedon commented on #2514
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @gardner48, @debdeepbh it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2020-07-23 18:55] whedon commented on #2514
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02514/joss.02514/10.21105.joss.02514.pdf)

[2020-07-23 18:55] whedon commented on #2514
[code]

[2020-07-23 19:00] zingale commented on #2513
can we tell whedon to build the PDF off of the `development` branch?  That's where the review should happen, and the refs are fixed there.

[2020-07-23 19:37] cMadan commented on #2506
@pmkruyen, thanks for pointing out the version number issue. I'll update it to 1.048 for now, but usually the accepted version of the software is a later version number than the submitted one (e.g., changes in response to the reviewers' comments), so I will update it again when we're closer to acceptance.

[2020-07-23 19:37] cMadan commented on #2506
@whedon set 1.048 as version

[2020-07-23 19:37] whedon commented on #2506
OK. 1.048 is the version.

[2020-07-23 19:48] zingale commented on #2513
@whedon generate pdf from branch development

[2020-07-23 19:48] whedon commented on #2513
[code]

[2020-07-23 19:48] whedon commented on #2513
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02513/joss.02513/10.21105.joss.02513.pdf)

[2020-07-23 19:50] zingale commented on #2513
that proof looks good

[2020-07-23 20:07] fboehm commented on #2499
@whedon assign @jacobsoj as reviewer

[2020-07-23 20:07] whedon commented on #2499
OK, @jacobsoj is now a reviewer

[2020-07-23 21:00] dpsanders commented on #2355
@whedon add @dmbates as reviewer

[2020-07-23 21:00] whedon commented on #2355
OK, @dmbates is now a reviewer

[2020-07-23 21:06] cicirello commented on #2448
@whedon check references

[2020-07-23 21:06] whedon commented on #2448
[code]

[2020-07-23 21:07] cicirello commented on #2448
@whedon generate pdf

[2020-07-23 21:07] whedon commented on #2448
PDF failed to compile for issue #2448 with the following error:

 pandoc-citeproc: reference mbdemoraes not found
Error producing PDF.
! TeX capacity exceeded, sorry [input stack size=5000].
\reserved@a ->\def \reserved@a
                               *{\let \@xs@assign \@xs@expand@and@detokenize...
l.333 }

Looks like we failed to compile the PDF

[2020-07-23 23:30] kinow commented on #2506
Hi @cMadan , thanks for assigning me as reviewer here. I will take up your offer, when you said I could ask if I had questions. I hope these are not too silly.

Q1/ The check list and the linked documentation are great! I can see the performance check box can be left unchecked if there are no claims of performance. What if the project doesn't have installation instructions, or tests? I asked the p

[2020-07-24 01:00] rram84 commented on #2372
@jhale

**About relaxing nodes constrained to on a boundary:**

DVRlib currently provides a way to do this for implicitly specified boundaries (in 2D and 3D), see the example tutorial/dvr-constraint.cpp.
The user provides a level set function, which is used to compute the closest point projection map. The latter in turn helps to constrain the node location to the boundary manifold during relaxatio

[2020-07-24 01:53] ablaom commented on #2509
Dear Yuan Tang,

Thanks for that. The following two people on your list include machine learning as domains of expertise. And I am not personally connected to either.

vchuravy

ahwililia

Cheers,
Anthony

On 24/07/2020, at 4:41 AM, Yuan Tang <notifications@github.com> wrote:

this list of people <https://bit.ly/joss-reviewers>

[2020-07-24 03:10] MikeHeiber commented on #2307
To improve the build process, I've updated how the makefile detects the compiler that the user has installed to run with their MPI installation.  Similar to what @Luthaf suggest, the default makefile now uses the output of the `mpicxx -show` command to determine the compiler that is installed and sets the compiler flags accordingly.  This should be more robust than using the CXX environment variab

[2020-07-24 03:16] timchurches commented on #2482
I'm a bit confused as to what I am supposed to do at this point... I've looked at the 4 page manuscript, and I agree with @cmaimone that the project is insufficiently mature and insufficiently documented to warrant review as a software package at this stage. The manuscript as it stands is really more a research note, explaining how a known body of methods (word embedding etc) can be applied to a p

[2020-07-24 03:26] timchurches commented on #2482
I should add that even as a research methodology or research note paper, the manuscript still needs a lot of work. Such a paper needs to assume the reader is unfamiliar with the methods used, and thus needs to explain, possibly in non-mathematical terms, what embedding is, how similarity between or clustering of embedding vectors can be used for tasks relevant to researchers working with free text

[2020-07-24 03:37] timchurches commented on #2482
Sorry, last post on this: I just read the paper referenced in the manuscript: https://arxiv.org/abs/1907.04152 That looks much more like the research note or research methodology type of paper I described above. If it has not been submitted elsewhere, that paper would be a much better basis for a submission to JOSS, if a section or two on the software package were added to it. But that needs to be

[2020-07-24 03:49] timchurches commented on #2482
A final, more general point: I notice that the JOSS review questions does not include anything about ethics oversight. Obviously where a manuscript reports results from the software package in question which are obtained using data or information that needs to be under human research ethics committee (IRB) oversight, the details of the necessary clearances need to be provided in the manuscript. Th

[2020-07-24 05:41] sambit-giri commented on #2363
Thanks @aureliocarnero!

[2020-07-24 06:04] teamPSG commented on #2377
Hey @oliviaguest, I have a quick technical question regarding editing the paper: I'd like to indicate that some authors have changed their affiliations since the work was done. Like my affiliation should be Pfizer but my current affiliation is Wigner RCP. Is there a specific way to do it or as a workaround shall I just add "Current affiliation" in the `name` tag in the authors list?

[2020-07-24 06:48] csoneson commented on #2163
After offline interaction with the author, I will pause this submission for now.

[2020-07-24 07:06] eloisabentivegna commented on #2513
@whedon generate pdf from branch development

This should do, @zingale.

[2020-07-24 07:06] whedon commented on #2513
[code]

[2020-07-24 07:07] whedon commented on #2513
PDF failed to compile for issue #2513 with the following error:

 error: pathspec 'development
' did not match any file(s) known to git.
error: pathspec 'development
' did not match any file(s) known to git.
pandoc-citeproc: reference ctu not found
pandoc-citeproc: reference ppm not found
Error producing PDF.
! Undefined control sequence.
l.437 ... research. The GPU development of \castro

Looks l

[2020-07-24 07:12] strengejacke commented on #2445
@sbenthall @Ohlsen After revising the paper and package based on the first review, CRAN requested an update from the _parameters_ package. Thus, I needed to increase the version number to indicate a "stable" release, and the GitHub-version will be 0.8.2.x the next days, and no longer 0.8.1.x - so don't be confused, @Ohlsen , when you start your review.

[2020-07-24 07:16] eloisabentivegna commented on #2513
@whedon generate pdf from branch development

[2020-07-24 07:16] whedon commented on #2513
[code]

[2020-07-24 07:17] whedon commented on #2513
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02513/joss.02513/10.21105.joss.02513.pdf)

[2020-07-24 07:17] eloisabentivegna commented on #2513
OK, all good!

[2020-07-24 08:27] oliviaguest commented on #2377
@teamPSG do you want to have both previous and current? Or just change to current?

[2020-07-24 08:29] teamPSG commented on #2377
@oliviaguest I was thinking to have both.

[2020-07-24 08:33] oliviaguest commented on #2467
@whedon add @tomfaulkenberry as reviewer

[2020-07-24 08:34] whedon commented on #2467
OK, @tomfaulkenberry is now a reviewer

[2020-07-24 08:34] oliviaguest commented on #2467
@whedon add @cmparlettpelleriti as reviewer

[2020-07-24 08:34] whedon commented on #2467
OK, @cmparlettpelleriti is now a reviewer

[2020-07-24 08:35] mjsottile commented on #2426
@kaustubh-sadekar Just an update - I’m having some trouble finding a second reviewer.  This is not unique to your paper - at the moment I’m noticing it’s harder than usual to get responses from folks across reviews, both finding reviewers and getting reviews from people who agreed to review.  I assume it is in part due to the weird times right now and people having generally less capacity than usu

[2020-07-24 08:35] stheid commented on #2435
@katyhuff Thanks a lot for the detailed review! We are currently working on incorporating your issues and will come back to you in the upcomming weeks.

[2020-07-24 08:41] lscalfi commented on #2373
Thank you @mattwthompson, we clarified the installation and version of pFunit to be used, and gave the appropriate link. We fixed the broken links and, as suggested by @hmacdope, we emphasized better the location of the documentation (wiki) in the README and added a sentence on how to raise issues.

I hope these modifications answer the points you raised

[2020-07-24 08:41] mjsottile commented on #2462
:wave: @rodrigokataishi I saw some activity on this issue from you.  Do you need any assistance completing your review?  Let me know if I can be of help.

[2020-07-24 09:04] teamPSG commented on #2377
@whedon generate pdf

[2020-07-24 09:06] whedon commented on #2377
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02377/joss.02377/10.21105.joss.02377.pdf)

[2020-07-24 09:09] teamPSG commented on #2377
@oliviaguest I uploaded the revised version implementing the "Current affiliation" part the simple way so that you can see what I mean exactly. Pls. let me know if this should be done differently.

[2020-07-24 09:11] oliviaguest commented on #2377
@teamPSG ah, thanks! I will check and get back to you. In the meantime (no pressure asking to get organised), are you working on what @Emma-k-ward has pending (the items not checked off yet)?

[2020-07-24 09:14] oliviaguest commented on #2339
@whedon set 10.5281/zenodo.3956644 as archive

[2020-07-24 09:14] whedon commented on #2339
OK. <a href="https://doi.org/10.5281/zenodo.3956644" target="_blank">10.5281/zenodo.3956644</a> is the archive.

[2020-07-24 09:14] teamPSG commented on #2377
@oliviaguest Yes, all modifications are done, uploaded, typing response to reviewers right now :mage:

[2020-07-24 09:14] oliviaguest commented on #2339
@whedon set v0.71 as version

[2020-07-24 09:14] whedon commented on #2339
OK. v0.71 is the version.

[2020-07-24 09:15] oliviaguest commented on #2339
@whedon generate pdf

[2020-07-24 09:16] whedon commented on #2339
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02339/joss.02339/10.21105.joss.02339.pdf)

[2020-07-24 09:16] oliviaguest commented on #2339
@Visdoom is this PDF looking good to you, shall we move to acceptance? ☺️

[2020-07-24 09:27] oliviaguest commented on #2339
@whedon check references

[2020-07-24 09:27] whedon commented on #2339
[code]

[2020-07-24 09:40] teamPSG commented on #2377
Hi @oliviaguest and Reviewers,

Authors would like to thank all Reviewers for their insightful comments and suggestions. I included here a list of answers and modifications describing accompanying commit: https://github.com/teamPSG/kNN_Sleep_Scorer_kNNSS/commit/3f268a639a482fc635a3c0fff5324adcb6deff6e

@trisbek and @samikakumar:
Re: Functionality/Performance -- we included a second dataset recorde

[2020-07-24 09:59] labarba commented on #2492
Hi @vedran-kasalica — We've been discussing your submission with the Associate EiCs of JOSS, and we continue to have concerns about duplicate publication here. In essence, your other published paper is _about the software_; quoting from the abstract:

The current JOSS submission lists v1.0.1, which indicates a minor "patch" version update on the software since the previous publication.

You say:

[2020-07-24 12:21] xuanxu commented on #2491
@whedon set v1.0.1 as version

[2020-07-24 12:21] whedon commented on #2491
OK. v1.0.1 is the version.

[2020-07-24 12:42] xuanxu commented on #2491
👋 @fipanther & @zingale - would you be willing to review this submission for JOSS?
I think your knowledge of Python and Astrophysics makes both of you a great fit for this submission.

[2020-07-24 13:01] poulson commented on #2131
Hi Conrad (@conradsnicta) :wave: -- You've expressed interest in reviewing JOSS submissions and have listed both computer vision as one of your specialties. While the submission is in Rust, would you feel comfortable helping to review this submission?

[2020-07-24 13:04] poulson commented on #2131
Hi Valentin (@vchuravy) :wave: -- Like Conrad, you have maked computer vision as one of your specialties and listed a primary language that is different from this submision's (Julia vs. Rust). Would you feel comfortable helping to review this submission on bundle adjustment in Rust?

[2020-07-24 13:05] poulson commented on #2131
Hi Abhishek (@abhishekbajpayee) :wave: -- You have mentioned computer vision as one of your specialties and have listed both Python and C++ as preferred programming languages. Would you feel comfortable reviewing this submission on bundle adjustment problems in Rust?

[2020-07-24 13:17] poulson commented on #2490
Hi Mathieu (@matbesancon) :wave: -- This submission on large-scale contrained nonlinear optimization of sparse systems seems like a great fit for your expertise in optimization and python. Would you be able to serve as one of the reviewers?

[2020-07-24 13:21] poulson commented on #2490
Hi Vissarion (@vissarion) :wave: -- Given your extensive work on optimization (including high-dimensional volume estimation) and your experience in python, it would be extremely helpful if you would serve as one of the reviewers of this submission on large-scale constrained nonlinear optimization. Would you have the time to do so?

[2020-07-24 13:23] poulson commented on #2490
Hi Jonathan (@jgoldfar) :wave: -- Given your expertise in fast computation for PDEs and optimal control, and that you listed python as your preferred language, you seem to be a great fit for reviewing this submission on large-scale constrained nonlinear optimization. Would you be willing to serve as a reviewer for it?

[2020-07-24 13:35] sp94 commented on #2239
@whedon generate pdf

[2020-07-24 13:35] whedon commented on #2239
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02239/joss.02239/10.21105.joss.02239.pdf)

[2020-07-24 13:37] fboehm commented on #2402
@tomsing1 and @homonecloco - I see that @tomsing1 opened three issues in the package repository: https://github.com/anwarbio/bioassays

 @anwarbio responded to the three issues - should we consider the issues closed? Or is more discussion needed?

Thanks again!

[2020-07-24 13:37] terrytangyuan commented on #2509
Hi @vchuravy @ahwillia @dhhagan  @ChrisRackauckas, if you are interested in reviewing this submission, please let us know here! We need at least two reviewers.

[2020-07-24 13:39] terrytangyuan commented on #2174
@whedon check references

[2020-07-24 13:40] terrytangyuan commented on #2174
@arfon Could you take a look? That doesn't seem to work.

[2020-07-24 13:40] sp94 commented on #2239
Hi @dpsanders ,

Sorry for the delay. I've just generated the new PDF which has some example code, the explicit statement of need, and expands on what the package can calculate.

I've linked `coveralls.io` and will get back to you in a couple more days once I have also added the `@testsets`.

Thanks for your comments!

[2020-07-24 13:40] NicolasHug commented on #2174
@whedon check references from branch joss_paper

[2020-07-24 13:40] whedon commented on #2174
[code]

[2020-07-24 13:41] whedon commented on #2174
[code]

[2020-07-24 13:41] terrytangyuan commented on #2262
@whedon assign @Paul92 as reviewer

[2020-07-24 13:41] whedon commented on #2262
OK, @Paul92 is now a reviewer

[2020-07-24 13:41] terrytangyuan commented on #2262
@nilesh-patil @paragkulkarni11 @sssomani Would you be interested in reviewing this submission?

[2020-07-24 13:42] terrytangyuan commented on #2135
@whedon check references

[2020-07-24 13:43] terrytangyuan commented on #2135
@arfon It doesn't work on this review as well.

[2020-07-24 13:43] whedon commented on #2135
[code]

[2020-07-24 13:45] terrytangyuan commented on #2135
That missing DOI seems a false positive.

[2020-07-24 13:46] terrytangyuan commented on #2135
@whedon accept

[2020-07-24 13:46] whedon commented on #2135
No archive DOI set. Exiting...

[2020-07-24 13:47] terrytangyuan commented on #2135
@ynop At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:
- The title of the archive is the same as the JOSS paper title
- That the authors of

[2020-07-24 13:56] vissarion commented on #2490
Hi Jack (@poulson), I am interested to do the review. When is the deadline? I will be offline the most of the August.

[2020-07-24 14:04] NicolasHug commented on #2174
@whedon check references from branch joss_paper

[2020-07-24 14:04] whedon commented on #2174
[code]

[2020-07-24 14:04] whedon commented on #2174
[code]

[2020-07-24 14:05] terrytangyuan commented on #2174
Thanks!

At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:
- The title of the archive is the same as the JOSS paper title
- That the authors

[2020-07-24 14:17] VivianePons commented on #2485
@whedon add @wingtorres as reviewer

[2020-07-24 14:17] whedon commented on #2485
OK, @wingtorres is now a reviewer

[2020-07-24 14:17] VivianePons commented on #2485
@whedon start review

[2020-07-24 14:17] whedon opened #2515 "[REVIEW]: NodePy: A package for the analysis of numerical ODE solvers"
**Submitting author:** @ketch (<a href="http://orcid.org/0000-0002-1212-126X">David Ketcheson</a>)
**Repository:** <a href="https://github.com/ketch/nodepy" target ="_blank">https://github.com/ketch/nodepy</a>
**Version:** 1.0.1
**Editor:** @VivianePons
**Reviewers:** @fruzsinaagocs, @highlando
**Archive:** <a href="https://doi.org/10.5281/zenodo.4275158" target="_blank">10.5281/zenodo.4275158</a>

[2020-07-24 14:17] whedon commented on #2485
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2515.

[2020-07-24 14:17] #2485 closed

[2020-07-24 14:17] whedon commented on #2515
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @fruzsinaagocs, @wingtorres it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](h

[2020-07-24 14:18] whedon commented on #2515
[code]

[2020-07-24 14:18] whedon commented on #2515
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02515/joss.02515/10.21105.joss.02515.pdf)

[2020-07-24 14:21] VivianePons commented on #2515
/ooo July 25 until August 24

[2020-07-24 14:25] VivianePons commented on #2515
I am taking some time off, I will still be checking my emails and keep an eye on my current assigned submissions. I might just take a bit more time than usual to answer.

[2020-07-24 14:26] VivianePons commented on #2183
Just to let you know, I am taking some time off until August 24, I will still be checking my emails and keep an eye on my current assigned submissions. I might just take a bit more time than usual to answer.

[2020-07-24 14:28] VivianePons commented on #2463
Just to let you know, I am taking some time off until August 24, I will still be checking my emails and keep an eye on my current assigned submissions. I might just take a bit more time than usual to answer.

[2020-07-24 14:44] oliviaguest commented on #2467
@whedon add @alexjonesphd as reviewer

[2020-07-24 14:44] whedon commented on #2467
OK, @alexjonesphd is now a reviewer

[2020-07-24 15:02] NicolasHug commented on #2174
Thanks @terrytangyuan , I created an archive on zenodo and the doi is

10.5281/zenodo.3959188

[2020-07-24 15:06] terrytangyuan commented on #2174
@whedon set 10.5281/zenodo.3959188 as archive

[2020-07-24 15:06] whedon commented on #2174
OK. <a href="https://doi.org/10.5281/zenodo.3959188" target="_blank">10.5281/zenodo.3959188</a> is the archive.

[2020-07-24 15:06] terrytangyuan commented on #2174
@whedon set v1.1.0 as version

[2020-07-24 15:06] whedon commented on #2174
OK. v1.1.0 is the version.

[2020-07-24 15:07] terrytangyuan commented on #2174
@whedon accept

[2020-07-24 15:07] whedon commented on #2174
[code]

[2020-07-24 15:07] whedon commented on #2174
PDF failed to compile for issue #2174 with the following error:

 Can't find any papers to compile :-(

[2020-07-24 15:08] NicolasHug commented on #2174
@terrytangyuan version that I published on zenodo is 1.1.1, not 1.1.0 (not sure if that matters?)

[2020-07-24 15:09] terrytangyuan commented on #2174
@whedon set v1.1.1 as version

[2020-07-24 15:09] whedon commented on #2174
OK. v1.1.1 is the version.

[2020-07-24 15:09] terrytangyuan commented on #2174
@whedon accept

[2020-07-24 15:09] whedon commented on #2174
[code]

[2020-07-24 15:10] whedon commented on #2174
PDF failed to compile for issue #2174 with the following error:

 Can't find any papers to compile :-(

[2020-07-24 15:11] terrytangyuan commented on #2174
@NicolasHug Could you move the paper to master branch?

[2020-07-24 15:13] NicolasHug commented on #2174
Isn't there a way to accept the paper from another branch? Ideally I'd rather keep the master branch away from non-code related files.

[2020-07-24 15:13] OttaviaE commented on #2394
@whedon generate pdf

[2020-07-24 15:14] whedon commented on #2394
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02394/joss.02394/10.21105.joss.02394.pdf)

[2020-07-24 15:17] leouieda commented on #2236
@d-chambers apologies for the delay in getting this started. I've been going over the paper and code and have a few comments. These are mostly issues you could start working on in the mean time which are very likely to be raised during review:

* Add a citation to pandas in the paper
* Link to the contributing guide on the README
* Add instructions for running your tests (reviewers will likely wan

[2020-07-24 15:17] terrytangyuan commented on #2174
@openjournals/joss-eics Any suggestions on the above issue? This paper looks good to me so I am handing over to you now.

[2020-07-24 15:22] arfon commented on #2174
@whedon accept from branch joss_paper

[2020-07-24 15:22] whedon commented on #2174
[code]

[2020-07-24 15:23] leouieda commented on #2236
:wave: @megies @anowacki @seisman would you be willing to review this submission for [JOSS](https://joss.theoj.org/)? Reviews are done entirely through GitHub (issues and pull requests). These are the reviewer guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is a pre-review issue in which I will assign reviewers. Once there are sufficient reviewers (usually 2-3), I will

[2020-07-24 15:23] whedon commented on #2174
[code]

[2020-07-24 15:23] whedon commented on #2174
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1589

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1589, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-24 16:08] rodrigokataishi commented on #2462
@mjsottile Dear Mathiew. I can´t edit the checklist. It appears to be closed.
Any help will be welcome. I already accepted the invitation. But I can not edit the list to confirm the items.
Thanks

[2020-07-24 16:14] vchuravy commented on #2509
I am unable to review due to time limitation and I was involved early on so I think that counts as COI as well.

[2020-07-24 16:34] ahwillia commented on #2509
Thanks, I'd be happy to provide a review for this package. I talked with @degleris1 and he has agreed to help me write my review -- he's a current grad student at Stanford with lots of experience with Julia and ML (we've collaborated in the past). This package is quite large and I know I could use his help. Also you should consider adding him to your list of reviewers for future Julia submissions,

[2020-07-24 16:41] terrytangyuan commented on #2509
Thanks. @degleris1 You can sign up to be a reviewer here: https://joss.theoj.org/reviewer-signup.html

[2020-07-24 16:42] terrytangyuan commented on #2509
@ChrisRackauckas Would you be interested in reviewing as well?

[2020-07-24 16:57] lecondon commented on #2500
Okay thank you both for the information! I checked the requirements and I think we are good fit for JOSE and we have resubmitted there.

Best,

Laura

—
Laura E. Condon, PhD
Assistant Professor
Hydrology and Atmospheric Sciences
University of Arizona, Tucson, AZ

On Jul 22, 2020, at 1:24 PM, Lorena A. Barba <notifications@github.com<mailto:notifications@github.com>> wrote:

External Email

There's

[2020-07-24 17:39] ChrisRackauckas commented on #2509
Hey, I do not think I will have adequate time right now.

[2020-07-24 18:12] bmcfee commented on #2512
I'd like to hold off on taking any more until the ones I'm already on make more progress.

[2020-07-24 18:41] andybond13 commented on #2496
@whedon commands

[2020-07-24 18:41] whedon commented on #2496
Here are some things you can ask me to do:

[code]

[2020-07-24 18:41] andybond13 commented on #2496
@whedon list reviewers

[2020-07-24 18:41] whedon commented on #2496
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2020-07-24 18:43] andybond13 commented on #2496
@whedon add @andybond13 as reviewer

[2020-07-24 18:43] whedon commented on #2496
I'm sorry @andybond13, I'm afraid I can't do that. That's something only editors are allowed to do.

[2020-07-24 19:34] steven-murray commented on #2502
Thanks @dfm! It looks like one of the figures is not rendering, and a couple of the references. I'll fix them up ASAP.

[2020-07-24 20:00] kullrich commented on #2424
Hi, I am currently on summer vacation with my family and will be back in two weeks.

I will work on the two unfinished vignettes and will work on the high-level documentation as mentioned by @clauswilke.

I will move the installation section to be fully visible in the basic vignette and will only set links in the other two.

I will also rethink the framing how to include the downstream functionali

[2020-07-24 20:14] kullrich commented on #2424
Hi,

regarding the community guidelines to contribute to the package, I have seen so far this options for JOSS R package papers and I will think about one solution for CRBHits.

Best regards

Kristian

e.g.: https://gitlab.inria.fr/miet/miet/-/tree/master <https://gitlab.inria.fr/miet/miet/-/tree/master>

Which rely on https://www.contributor-covenant.org/ <https://www.contributor-covenant.org/>

[2020-07-24 20:27] sritchie commented on #2403
@arokem , yes, sorry about that... this was an older project, and I hadn't quite synced up permissions yet for the service account. I thought I'd done this for you, but my mistake! This would not come up on your own project.

Give it a try now!

[2020-07-24 20:29] sritchie commented on #2403
@whedon generate pdf

[2020-07-24 20:29] whedon commented on #2403
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02403/joss.02403/10.21105.joss.02403.pdf)

[2020-07-24 20:30] sritchie commented on #2403
@diehlpk whoops, sorry, I just realized I did exactly what you asked me not to do and added "USA", copying the other papers I'd seen. What would you like me to add? "United States", or "United States of America"? Let me know and I'll be happy to make the change.

[2020-07-24 20:51] mjsottile commented on #2462
@whedon re-invite @rodrigokataishi as reviewer

[2020-07-24 20:51] whedon commented on #2462
OK, the reviewer has been re-invited.

@rodrigokataishi please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-07-24 20:51] mjsottile commented on #2462
@rodrigokataishi That should fix your problem accessing the checklist.  Let me know if it doesn’t.

[2020-07-24 21:10] jessie-dotson commented on #2382
Created https://github.com/KathrynJones1/catwoman/issues/4 to capture an easy to fix error in the tutorial.

[2020-07-24 21:19] jessie-dotson commented on #2382
Created https://github.com/KathrynJones1/catwoman/issues/5 to capture another easy to fix error in the tutorial.

[2020-07-24 21:27] jessie-dotson commented on #2382
Created https://github.com/KathrynJones1/catwoman/issues/6 to capture one more easy to fix error in the tutorial.

[2020-07-24 21:33] jessie-dotson commented on #2382
Another easy to fix tutorial error is captured in https://github.com/KathrynJones1/catwoman/issues/7

[2020-07-24 22:11] shazanfar commented on #2440
Thanks for your patience @csoneson ! I've now completed the first round. I agree with @giovp and @vals comments regarding example data and including output in the tutorials. I've also requested amendments & clarification to do with scope + target audience, which I think would make the documentation more easily accessible for users. Thanks again! Cheers, Shila

[2020-07-25 01:11] whitead commented on #2367
Hi @richardjgowers, is there anything else your need from us to complete this review? Thanks!

[2020-07-25 02:58] AliciaSchep commented on #2472
Incorporating `vdiffr` addresses my concerns about the tests and the proposed updates to readme look good -- although I would recommend running a spellchecker as I noticed a couple spelling issues. There's an R package that can help with that -- [spelling](https://github.com/ropensci/spelling)

[2020-07-25 03:55] stemangiola commented on #2472
Thanks Alicia, I have updated the pull request with the spell checking framework, and corrected spelling.

[2020-07-25 06:12] whedon opened #2516 "[PRE REVIEW]: PyAutoFit`: A Classy Probabilistic Programming Language for Model Composition and Fitting"
**Submitting author:** @Jammy2211 (<a href="http://orcid.org/0000-0002-8987-7401">James Nightingale</a>)
**Repository:** <a href="https://github.com/rhayes777/PyAutoFit" target ="_blank">https://github.com/rhayes777/PyAutoFit</a>
**Version:** v0.64.3
**Editor:** @dfm
**Reviewers:** @arm61, @eteq
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the chall

[2020-07-25 06:12] whedon commented on #2516
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-25 06:12] whedon commented on #2516
Failed to discover a `Statement of need` section in paper

[2020-07-25 06:12] whedon commented on #2516
[code]

[2020-07-25 06:12] whedon opened #2517 "[PRE REVIEW]: gLBM: A GPU enabled Lattice Boltzmann Method Library"
**Submitting author:** @rclipp (<a href="http://orcid.org/0000-0001-6077-978X">Rachel Clipp</a>)
**Repository:** <a href="https://gitlab.kitware.com/LBM/lattice-boltzmann-solver" target ="_blank">https://gitlab.kitware.com/LBM/lattice-boltzmann-solver</a>
**Version:** v1.0.0
**Editor:** @eloisabentivegna
**Reviewers:** @ianhinder, @gouarin
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduc

[2020-07-25 06:12] whedon commented on #2516
[code]

[2020-07-25 06:12] whedon commented on #2517
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-25 06:12] whedon commented on #2516
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02516/joss.02516/10.21105.joss.02516.pdf)

[2020-07-25 06:12] whedon opened #2518 "[PRE REVIEW]: ectotemp: An R package for quantitative estimates of small ectotherm temperature regulation effectiveness"
**Submitting author:** @wouterbeukema (<a href="http://orcid.org/0000-0002-5839-7683">Wouter Beukema</a>)
**Repository:** <a href="https://github.com/wouterbeukema/ectotemp" target ="_blank">https://github.com/wouterbeukema/ectotemp</a>
**Version:** v0.2.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the cha

[2020-07-25 06:12] whedon commented on #2517
PDF failed to compile for issue #2517 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2517 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-446a0298a33b/lib/whedo

[2020-07-25 06:12] whedon commented on #2518
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-25 06:12] whedon commented on #2518
Failed to discover a `Statement of need` section in paper

[2020-07-25 06:12] whedon commented on #2518
[code]

[2020-07-25 06:12] whedon opened #2519 "[PRE REVIEW]: The Dusty Evolved Star Kit (DESK): A Python package for fitting the Spectral Energy Distribution of Evolved Stars"
**Submitting author:** @s-goldman (<a href="http://orcid.org/0000-0002-8937-3844">Steve Goldman</a>)
**Repository:** <a href="https://github.com/s-goldman/Dusty-Evolved-Star-Kit" target ="_blank">https://github.com/s-goldman/Dusty-Evolved-Star-Kit</a>
**Version:** v1.7.0
**Editor:** @arfon
**Reviewers:** @Deech08, @TomGoffrey
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mod

[2020-07-25 06:13] whedon commented on #2519
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-25 06:13] whedon commented on #2518
[code]

[2020-07-25 06:13] whedon commented on #2519
Failed to discover a `Statement of need` section in paper

[2020-07-25 06:13] whedon commented on #2519
[code]

[2020-07-25 06:13] whedon commented on #2518
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02518/joss.02518/10.21105.joss.02518.pdf)

[2020-07-25 06:13] whedon commented on #2519
[code]

[2020-07-25 06:13] whedon commented on #2519
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02519/joss.02519/10.21105.joss.02519.pdf)

[2020-07-25 06:13] Kevin-Mattheus-Moerman commented on #2517
@whedon generate pdf from branch joss

[2020-07-25 06:13] whedon commented on #2517
[code]

[2020-07-25 06:13] whedon commented on #2517
PDF failed to compile for issue #2517 with the following error:

 sh: 1: cd: can't cd to tmp/2517
/app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2517 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/ge

[2020-07-25 06:16] Kevin-Mattheus-Moerman commented on #2517
@openjournals/dev can you check this error :point_up:. Is this not compiling because the folder the paper is in is called `joss` not `paper`?

The paper is currently here:
https://gitlab.kitware.com/LBM/lattice-boltzmann-solver/-/tree/joss/joss

[2020-07-25 06:16] Kevin-Mattheus-Moerman commented on #2517
@whedon check repository

[2020-07-25 06:19] Kevin-Mattheus-Moerman commented on #2518
@wouterbeukema I will be reviewing this work for scope/suitability and will assign an editor to handle this submission if needed.

In the mean time could you address those invalid DOI's by removing the `https://doi.org/` prefix as suggested? :point_up:
You can regenerate the pdf here yourself by running:
`@whedon generate pdf`

[2020-07-25 06:25] Kevin-Mattheus-Moerman commented on #2518
@whedon query scope

[2020-07-25 06:25] whedon commented on #2518
Submission flagged for editorial review.

[2020-07-25 06:37] Kevin-Mattheus-Moerman commented on #2519
@harpolea @xuanxu @mbobra @pibion Could one of you handle this submission? Thanks. This package appears to offer novel functionality but it does seem on the minor side. If you pick this up can you also judge if this is in scope (use `@whedon query scope` to trigger an editorial board level review if needed).

[2020-07-25 06:38] Kevin-Mattheus-Moerman commented on #2510
@whedon assign @majensen as editor

[2020-07-25 06:38] whedon commented on #2510
OK, the editor is @majensen

[2020-07-25 06:39] Kevin-Mattheus-Moerman commented on #2510
@majensen note the various reviewers recommended :point_up: in a couple of comments.

[2020-07-25 06:40] Kevin-Mattheus-Moerman commented on #2512
@whedon invite @terrytangyuan as editor

[2020-07-25 06:40] whedon commented on #2512
@terrytangyuan has been invited to edit this submission.

[2020-07-25 06:47] Kevin-Mattheus-Moerman commented on #2517
@labarba do you have the bandwidth to handle this submission? It does seem like your cup of tea :tea:

Alternatively @eloisabentivegna @harpolea can one of you edit this one? Thanks

[2020-07-25 06:57] csoneson commented on #2440
Thanks @shazanfar!
@neuromusic - looks like you got some good comments from the reviewers (and that you already started working on some of them 😃). Let me know if you have any questions, and when you are ready for the reviewers to take another look. Thanks!

[2020-07-25 06:57] Kevin-Mattheus-Moerman commented on #2174
@NicolasHug these are some additional comments on your paper:

- [ ] Please make the affiliation complete and make sure it includes department, city, and country (write United States of America in full).
- [ ] Remove additional space after bracket last bracket in `(Buitinck et al., 2013; Pedregosa et al., 2011) , ...`

Once you made these changes use `@whedon generate pdf` here to update the paper

[2020-07-25 08:30] xuanxu commented on #2519
@Kevin-Mattheus-Moerman I can't take it, I don't have bandwidth right now

[2020-07-25 08:51] ejhigson commented on #2404
Hi @cadop - thank you very much for these changes, everything looks good to me! I am now happy to recommend the paper for publication in JOSS. Congratulations on a nice software package!

[2020-07-25 09:10] KathrynJones1 commented on #2382
@jessie-dotson Thank you for finding those typos, they should all be fixed now :)

[2020-07-25 09:10] rodrigokataishi commented on #2462
@mjsottile I have completed my review. Thanks for your help!

[2020-07-25 09:28] terrytangyuan commented on #2512
@whedon assign @terrytangyuan as editor

[2020-07-25 09:28] whedon commented on #2512
OK, the editor is @terrytangyuan

[2020-07-25 10:53] arfon commented on #2519
@s-goldman - does this submission accompany a paper in a AAS journal?

[2020-07-25 11:25] logological commented on #2400
@gkthiruvathukal Should I make a new tagged release of GPP incorporating the documentation changes resulting from the review?  Or are there any further changes you think are necessary before you think this submission can be accepted for publication?

[2020-07-25 12:58] RMeli commented on #2367
@whedon generate pdf from branch joss-paper-branch

[2020-07-25 12:58] whedon commented on #2367
[code]

[2020-07-25 12:58] whedon commented on #2367
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02367/joss.02367/10.21105.joss.02367.pdf)

[2020-07-25 13:09] terrytangyuan commented on #2512
@sylvaticus  if you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission.

[2020-07-25 13:10] terrytangyuan commented on #2509
Thanks. @dhhagan How about you?

[2020-07-25 13:13] richardjgowers commented on #2367
@whedon set 10.21105/joss.02367 as archive

[2020-07-25 13:13] whedon commented on #2367
OK. <a href="https://doi.org/10.21105/joss.02367" target="_blank">10.21105/joss.02367</a> is the archive.

[2020-07-25 13:14] richardjgowers commented on #2367
@whedon set v1.0 as version

[2020-07-25 13:14] whedon commented on #2367
OK. v1.0 is the version.

[2020-07-25 13:19] richardjgowers commented on #2367
@whedon accept

[2020-07-25 13:19] whedon commented on #2367
[code]

[2020-07-25 13:19] whedon commented on #2367
PDF failed to compile for issue #2367 with the following error:

 Can't find any papers to compile :-(

[2020-07-25 13:20] richardjgowers commented on #2367
@whedon accept from branch joss-paper-branch

[2020-07-25 13:20] whedon commented on #2367
[code]

[2020-07-25 13:21] whedon commented on #2367
[code]

[2020-07-25 13:21] whedon commented on #2367
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1590

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1590, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-25 13:32] richardjgowers commented on #1992
@Sulstice the [mol2 parser](https://github.com/Sulstice/cocktail-shaker/blob/master/cocktail_shaker/file_handler.py#L290) seems like it might not work as advertised in the docs.  Similarly [there's two method here](https://github.com/Sulstice/cocktail-shaker/blob/master/cocktail_shaker/peptide_builder.py#L161) that look like they're yet to be implemented.  If they're not done yet put up a `NotImpl

[2020-07-25 14:00] Kevin-Mattheus-Moerman commented on #2500
@lecondon thanks. All the best over at JOSE. This issue will be closed.

[2020-07-25 14:00] Kevin-Mattheus-Moerman commented on #2500
@whedon withdraw

[2020-07-25 14:00] whedon commented on #2500
Paper withdrawn.

[2020-07-25 14:00] #2500 closed

[2020-07-25 14:03] Kevin-Mattheus-Moerman commented on #2516
@Jammy2211 After investigating if this submission is suitable for JOSS I'll work on finding an editor to handle this submission. In the mean time perhaps you can work on those missing and invalid DOI's :point_up:. You can call `@whedon generate pdf` to update the paper and you can call `@whedon check references` to check those references.

[2020-07-25 14:11] Kevin-Mattheus-Moerman commented on #2516
@dfm you are handling a couple of submissions already but this does seem like your cup of tea :tea:. Would you be able to handle this one?

Alternatively @mikldk @galessiorob @mjsottile can one of you handle this submission? Thanks.

[2020-07-25 14:12] Kevin-Mattheus-Moerman commented on #2469
@whedon invite @sbenthall as editor

[2020-07-25 14:12] whedon commented on #2469
@sbenthall has been invited to edit this submission.

[2020-07-25 14:32] s-goldman commented on #2519
@arfon It does not. I will, however, discuss the package and do in-depth comparisons of models for the project/paper I will be working on for the bulk of next year.

[2020-07-25 14:32] Kevin-Mattheus-Moerman commented on #2367
@RainierBarrett Here are some additional points to work on for your paper:

- [ ] Please complete your affiliations to include city, state (if applicable), and country (do not use acronyms for states and countries).
- [ ] Please amend the Zenodo archive to have its own independent Zenodo DOI. I believe currently you made it have the same DOI as the (future) JOSS paper. This is not permitted as bot

[2020-07-25 14:52] Kevin-Mattheus-Moerman commented on #2343
@agahkarakuzu :wave: how are you getting on? There are some comments to work on above from myself and the reviewers.

[2020-07-25 14:53] Kevin-Mattheus-Moerman commented on #2274
@ShiyongYu-cloud :wave: thanks for offering to help. Would you be able to update your GitHub profile with some professional information, e.g. a link to your professional profile, or an ORCID profile? This is not a requirement but if you do not mind it would be good to know who we recruit as reviewers. Thanks.

[2020-07-25 14:54] Kevin-Mattheus-Moerman commented on #2274
@fyangneil @hmhtb would you be interested in reviewing this submission for JOSS (The Journal of Open Source Software):
ALVA: An adaptive MATLAB package for layered viscoelastic elastic analysis

The review takes place on GitHub and focuses on this short paper:
https://github.com/openjournals/joss-papers/blob/joss.02274/joss.02274/10.21105.joss.02274.pdf
and the software:
https://github.com/asmussk

[2020-07-25 14:54] Kevin-Mattheus-Moerman commented on #2274
@asmusskar :wave: do you have github handles for your suggested reviewers? I was not able to find them.

[2020-07-25 15:00] rhenanbartels commented on #1867
@Kevin-Mattheus-Moerman

The Zenodo's link https://zenodo.org/record/3960216

Regarding the module version, we started at version 0.2.4, but throughout the review process the `hrv` package was updated to version 0.2.8, which is the latest release (archived in Zenodo).

[2020-07-25 15:07] dfm commented on #2516
@Kevin-Mattheus-Moerman: sure thing. I'm happy to edit!

[2020-07-25 15:07] Kevin-Mattheus-Moerman commented on #1867
@whedon set 10.5281/zenodo.3960216 as archive

[2020-07-25 15:07] whedon commented on #1867
OK. <a href="https://doi.org/10.5281/zenodo.3960216" target="_blank">10.5281/zenodo.3960216</a> is the archive.

[2020-07-25 15:08] Kevin-Mattheus-Moerman commented on #1867
@whedon set 0.2.8 as version

[2020-07-25 15:08] dfm commented on #2516
@whedon assign @dfm as editor

[2020-07-25 15:08] whedon commented on #1867
OK. 0.2.8 is the version.

[2020-07-25 15:08] whedon commented on #2516
OK, the editor is @dfm

[2020-07-25 15:08] Kevin-Mattheus-Moerman commented on #1867
@whedon generate pdf

[2020-07-25 15:09] whedon commented on #1867
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01867/joss.01867/10.21105.joss.01867.pdf)

[2020-07-25 15:10] Kevin-Mattheus-Moerman commented on #1867
@whedon check references

[2020-07-25 15:10] whedon commented on #1867
[code]

[2020-07-25 15:11] Kevin-Mattheus-Moerman commented on #1867
@whedon accept

[2020-07-25 15:11] whedon commented on #1867
[code]

[2020-07-25 15:11] whedon commented on #1867
[code]

[2020-07-25 15:12] whedon commented on #1867
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1591

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1591, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-25 15:13] Kevin-Mattheus-Moerman commented on #1867
@whedon accept deposit=true

[2020-07-25 15:13] whedon commented on #1867
[code]

[2020-07-25 15:13] rhenanbartels commented on #1867
@Kevin-Mattheus-Moerman I am not experienced with Zenodo, so what will happen if we publish a new version of the software, let's say version `0.2.9`. Will the [link](https://zenodo.org/record/3960216) break?

[2020-07-25 15:14] whedon commented on #1867
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1287043517370466306) 👈 🐦🐦🐦

[2020-07-25 15:14] whedon commented on #1867
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1592
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01867](https://doi.org/10.21105/joss.01867)
2. If everything looks g

[2020-07-25 15:15] Kevin-Mattheus-Moerman commented on #1867
If you chose this approach https://guides.github.com/activities/citable-code/ and turned on the automatic system you should get a separate and new DOI for each release. So the new releases will not disturb this archived version.

[2020-07-25 15:16] Kevin-Mattheus-Moerman commented on #1867
@rhenanbartels congratulations on your publication in JOSS! :partying_face:

@paulvangentcom thanks for your review efforts! :clap:

[2020-07-25 15:16] #1867 closed

[2020-07-25 15:16] whedon commented on #1867
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01867/status.svg)](https://doi.org/10.21105/joss.01867)

**We need your help!**

Journal of Open Source Softwa

[2020-07-25 16:24] TeroFrondelius commented on #2464
I am on vacation, but I can do the review in the beginning of August (after a week or so). Also, this would be my first JOSS review, thus possible some learning due to this.

[2020-07-25 16:49] Kevin-Mattheus-Moerman commented on #2464
Excellent @TeroFrondelius could you also share (or add on your GitHub profile) a professional profile or ORCID link (is this you?: http://orcid.org/0000-0003-2288-0902)

[2020-07-25 16:49] Kevin-Mattheus-Moerman commented on #2464
@whedon add @TeroFrondelius as reviewer

[2020-07-25 16:50] Kevin-Mattheus-Moerman commented on #2464
@TeroFrondelius do you think you could convince another juliafem person to join this review?

[2020-07-25 17:04] RainierBarrett commented on #2367
@Kevin-Mattheus-Moerman I updated author affiliations in the manuscript on joss-paper-branch. Unfortunately, the zenodo website isn't allowing me to change the DOI to a zenodo-specific one. When I try to ask it to reserve one in the edit process, it gives an error:

How shall we proceed?

[2020-07-25 17:23] Kevin-Mattheus-Moerman commented on #2367
@openjournals/dev @arfon do you know more about this. Can you help advise on what to do. The archive accidentally caries the joss DOI reserved for this paper. The author says they cannot alter it but we are still looking into it.

@RainierBarrett I just checked and I clicked edit on one of my archived software projects. It looks like I can alter the DOI and there is a comment that says: `Please no

[2020-07-25 17:25] RainierBarrett commented on #2367
@Kevin-Mattheus-Moerman yeah I saw that as well, so I tried to totally delete the DOI entry and click the "Reserve DOI" button, that's what caused this error. If I just leave the DOI field blank it simply keeps the JOSS one from before.

[2020-07-25 17:30] Kevin-Mattheus-Moerman commented on #2274
@CBenghi @mdelcambre @satish-annigeri @abhiramm7 @anawaldila would you be interested in reviewing this civil engineering related submission for JOSS (The Journal of Open Source Software):
ALVA: An adaptive MATLAB package for layered viscoelastic elastic analysis

The review takes place on GitHub and focuses on this short paper:
https://github.com/openjournals/joss-papers/blob/joss.02274/joss.02274

[2020-07-25 17:32] Kevin-Mattheus-Moerman commented on #2367
Okay. Lets wait to see what @arfon @openjournals/dev come back with

[2020-07-25 17:43] joglekara commented on #2182
@TomGoffrey @dpsanders looking forward to your thoughts on how to proceed here. Thanks!

[2020-07-25 17:57] AnaWaldila commented on #2274
Yes, I would like to review this paper,
Kind regard,

----------------------------------------------------------------------------------------------------

Ana Waldila de Queiroz Ramiro Reis

Doutoranda em Engenharia Civil - Estrutura (UERJ)

Engenheira Civil

Tel: (21) 9 7945 - 6510

E-mail: anawaldila@hotmail.com

________________________________
De: Kevin Mattheus Moerman <notifications@github.

[2020-07-25 18:03] majensen commented on #2044
@scwest - I am proposing https://github.com/thecodingdoc/neep/pull/7 with some editorial changes.
If you merge both https://github.com/thecodingdoc/neep/pull/6 and https://github.com/thecodingdoc/neep/pull/7, my review will be complete and we can move ahead towards recommendation for acceptance.
thanks

[2020-07-25 18:06] majensen commented on #1942
@pythonpanda2 please let us know here if you are still able to review this work. Thanks --@majensen

[2020-07-25 18:07] PetrKryslUCSD commented on #2464
I have to admit I can't make sense of the instructions.
Do the reviewers submit issues in a repository specifically for this paper?
Where is it? Or are the issues to be filed in the repository of the package
that is
being reviewed? Is there an example of such a review process?

Thanks,
Petr Krysl

On Wed, Jul 22, 2020 at 1:40 AM Kevin Mattheus Moerman <
notifications@github.com> wrote:

[2020-07-25 18:13] sylvaticus commented on #2512
@terrytangyuan Thank you, but I don't have any particular reviewer to suggest... maybe denizyuret,  tpapp,  dpsanders or h-Klok (all active in various way on ML in the Julia community) ??

[2020-07-25 18:15] majensen commented on #2510
@goglepox - Would you be willing to review [this package](#2520) for the [Journal of Open Source Software](https://joss.theoj.org)? Your Bioeclipse expertise would be extremely valuable. Please have a look at [these reviewer steps](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) and let us know here whether you would have an interest. Thanks for your consideration --@majensen

[2020-07-25 18:16] terrytangyuan commented on #2512
👋 Hi @denizyuret @tpapp @dpsanders @h-Klok if you would like to review for this submission, please let us know here! We need at least two reviewers.

[2020-07-25 18:19] PetrKryslUCSD commented on #2464
I guess what confuses me is the variety of conversations here. This does not seem to be focused on the review itself.
But looking at the other issues, perhaps this is how it is supposed to look. Meaning reviewers submitting their comments here. Am I right?

[2020-07-25 18:29] majensen commented on #2510
@Zethson - would you be willing to share your expertise in a review of [this package](#2510) for the [Journal of Open Source Software](https://joss.theoj.org) ? It is meant to improve Bioeclipse build management and command line usability, among other things. Please have a look at these [reviewer steps](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) and let us know here whether yo

[2020-07-25 19:28] diehlpk commented on #2403
@sritchie I think we like to have `United States of America`.

[2020-07-25 23:05] RMeli commented on #2367
@whedon generate pdf from branch joss-paper-branch

[2020-07-25 23:09] seisman commented on #2236
@leouieda I'm willing to review it. Please assign it to me.

[2020-07-25 23:36] Kevin-Mattheus-Moerman commented on #2274
@whedon assign @AnaWaldila as reviewer

[2020-07-25 23:43] Kevin-Mattheus-Moerman commented on #2464
Apologies for any confusion, let me clarify. This is a prereview issue where we assign editors/reviewers. The actual review will take place in a dedicated review issue. I'm hoping to recruit one more reviewer.
In the review issue there will be a checkbox list to guide you through the process. You can leave comments to the authors there and also link to issues on their main repository for larger is

[2020-07-25 23:43] Kevin-Mattheus-Moerman commented on #2464
@whedon add @TeroFrondelius as reviewer

[2020-07-25 23:49] Kevin-Mattheus-Moerman commented on #2464
@whedon add @TeroFrondelius as reviewer

[2020-07-25 23:52] Kevin-Mattheus-Moerman commented on #2464
@arfon @openjournals/dev it seems whedon is stuck. It won't assign a reviewer. Can you help?

[2020-07-26 00:21] vedran-kasalica commented on #2492
Hi @labarba — Thank you for your reply and the elaborate explanation. We understand your points and will hopefully submit the next major version of APE.

The misunderstanding came from the fact that my view of the JOSS publications was not completely accurate. I somehow expected, apart from "publication credit" for research software, to have recognition of "high quality" scientific software as one

[2020-07-26 02:53] MikeHeiber commented on #2307
I've made another update based on a suggestion by @Luthaf and the makefile should now be able to handle situations where the compiler underlying mpicxx is a versioned g++ executable.  For example, g++-9 will still be recognized as a g++ family compiler and the compiler flags will be set accordingly.

[2020-07-26 09:36] agahkarakuzu commented on #2343
@Kevin-Mattheus-Moerman I am working on a branch, I will address all the comments this week.

[2020-07-26 10:53] chennachaos commented on #2121
Hi @prs513rosewood, I have installed and tested the library. I confirm that the installation instructions as listed in the documentation works. All the 29 tests passed. I have the following minor remarks.

1.) Add the `git clone <link-to-repo>` command before the `git submodule ...` command so that the readers can simply copy and paste it.
2.) I needed to add `build_tests=True` to the `scons test`

[2020-07-26 11:47] dhhagan commented on #2479
@RCHG were you able to accept the invite?

[2020-07-26 12:38] Sulstice commented on #1992
Hey @richardjgowers Thanks for finding those ->

[2020-07-26 12:44] arfon commented on #2367
I'm afraid you're going to have to ask Zenodo support for help here. The DOI you've reserved is the JOSS DOI that will be used for the paper (and can't resolve to Zenodo). Please ask them to delete this record and allow you to make another one.

[2020-07-26 12:45] arfon commented on #2464
@whedon add @TeroFrondelius as reviewer

[2020-07-26 12:45] whedon commented on #2464
OK, @TeroFrondelius is now a reviewer

[2020-07-26 12:46] arfon commented on #2464
Not sure what was going on here sorry. Minor hiccup...

[2020-07-26 12:48] arfon commented on #2393
Thanks for providing this additional information @astronomyk. After consulting with the JOSS editorial team, we've concluded that this package is (currently) out of scope for JOSS.

We'd welcome a resubmission if a major effort was made to make this package more generalized and suitable for other instruments.

[2020-07-26 12:49] arfon commented on #2393
@whedon reject

[2020-07-26 12:49] whedon commented on #2393
Paper rejected.

[2020-07-26 12:49] #2393 closed

[2020-07-26 12:52] arfon commented on #2465
Thanks for providing this additional feedback @smarie. After consulting with the JOSS editorial team, we have concluded that this software is out of scope for JOSS as it does fit within our definition of research software.

[2020-07-26 12:52] arfon commented on #2465
@whedon reject

[2020-07-26 12:52] whedon commented on #2465
Paper rejected.

[2020-07-26 12:52] #2465 closed

[2020-07-26 12:56] arfon commented on #2487
@navjotk - many thanks for your submission to JOSS. After consulting with the editorial team, we have concluded that this software is out of scope for JOSS as a minimal library wrapping other functionality.

[2020-07-26 12:56] arfon commented on #2487
@whedon reject

[2020-07-26 12:56] whedon commented on #2487
Paper rejected.

[2020-07-26 12:56] #2487 closed

[2020-07-26 12:57] arfon commented on #2489
@GregoryAshton - thanks for your submission to JOSS. After consulting with the editorial team, we have concluded this submission is out of scope due to its small size and limited application.