[2021-09-20 11:34] crvernon commented on #3634
@whedon check references

[2021-09-20 11:34] whedon commented on #3634
[code]

[2021-09-20 11:40] crvernon commented on #3634
@mingzehuang please add the following missing DOI to your citation in the paper:

[code]

[2021-09-20 12:14] crvernon commented on #3634
@mingzehuang - Your paper is looking great - and very clean I might add!  Here are several things I would like you to address from my review of your paper before we move on:

- [ ]  Please check the missing DOI in the references (see the above `whedon check references` output ☝️)
- [ ] Please take one last look at your author names and their affiliations to make sure all is well before we move for

[2021-09-20 12:15] martin3141 commented on #3646
Thank you @joaomcteixeira for taking the time to review this work and your encouraging and helpful comments. Please find my responses below:

"Raw data import/export." was a bulleted item in the Overview section. This has been expanded to emphasise the point. The paper has been updated to explain that raw data can be imported.

Text has been added to emphasize the multidimensional nature of modern

[2021-09-20 12:24] ebocher commented on #3541
Dear @abhishekvp
Thanks for the comments.
All tutorial pages have been updated and there is no a documentation the Windows OS.

@elbeejay
It seems we are now on the road. All comments, suggestions, corrections  have been done in the paper or in the documentation.

[2021-09-20 12:46] sbenthall commented on #3496
@jacobsoj will you be able to review this submission?

[2021-09-20 13:24] faroit commented on #3590
@whedon generate pdf

[2021-09-20 13:25] whedon commented on #3590
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03590/joss.03590/10.21105.joss.03590.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03590/joss.03590/10.21105.joss.03590.pdf) :page_facing_up: :point_left:

[2021-09-20 13:31] KAClough commented on #3703
No problem, it is a bit of a long process to compile all the parts of the code. Hopefully not a lot worse than ET?! I've never tried compiling other NR codes, so I'm not sure how bad we are relatively speaking :-)

[2021-09-20 13:32] faroit commented on #3590
@thejasvibr paper looks good so far. We can start the review process

[2021-09-20 13:32] faroit commented on #3590
@whend start review

[2021-09-20 13:34] danielskatz commented on #3618
👋 @michaeltouati - any news on work on the open issues?

[2021-09-20 13:35] danielskatz commented on #3607
@tomalrussell - given that you've checked off all the items now, are you satisfied to see this published?

[2021-09-20 13:35] faroit commented on #3590
@whedon start review

[2021-09-20 13:35] whedon opened #3740 "[REVIEW]: beamshapes: a Python package to generate directivity patterns for various sound source models"
**Submitting author:** @thejasvibr (<a href="http://orcid.org/0000-0001-5360-4383">Beleyur Thejasvi</a>)
**Repository:** <a href="https://github.com/thejasvibr/bat_beamshapes" target ="_blank">https://github.com/thejasvibr/bat_beamshapes</a>
**Version:** v0.2.2
**Editor:** @faroit
**Reviewer:** @nils-werner, @hagenw
**Archive:** <a href="https://doi.org/10.5281/zenodo.5819771" target="_blank">10.5

[2021-09-20 13:35] whedon commented on #3590
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3740.

[2021-09-20 13:35] #3590 closed

[2021-09-20 13:35] whedon commented on #3740
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @nils-werner, @hagenw it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2021-09-20 13:35] whedon commented on #3740
Wordcount for `paper.md` is 1075

[2021-09-20 13:35] whedon commented on #3740
[code]

[2021-09-20 13:35] whedon commented on #3740
[code]

[2021-09-20 13:36] whedon commented on #3740
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03740/joss.03740/10.21105.joss.03740.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03740/joss.03740/10.21105.joss.03740.pdf) :page_facing_up: :point_left:

[2021-09-20 13:36] danielskatz commented on #3211
@antviro - I hope you saw the response from @PacoCosta above, and are able to proceed - let us know if not.

[2021-09-20 13:37] faroit commented on #3740
👏 @nils-werner @hagenw  - This is the review thread for the paper. All of our communications will happen here from now on.

Both of you have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is differe

[2021-09-20 13:41] faroit commented on #3347
Reminder set for @baileythegreen in 1 weeks

[2021-09-20 14:02] mingzehuang commented on #3634
@whedon check references

[2021-09-20 14:02] whedon commented on #3634
Downloading of the repository (to check the bibtex) failed for issue #3634 failed with the following error:
[code]

[2021-09-20 14:02] diehlpk commented on #3274
@clavigne Thanks for the edits, please create

- [ ] A new version including all the requested changes by the reviewers
- [ ] Upload this version to Zenodo or FigShare. Note that the authors and the title have to match with the paper

and post the version and DOI here, so I can add them to the paper and recommend it for acceptance.

[2021-09-20 14:02] mingzehuang commented on #3634
@whedon generate pdf

[2021-09-20 14:02] diehlpk commented on #3274
@whedon check references

[2021-09-20 14:03] whedon commented on #3274
[code]

[2021-09-20 14:03] whedon commented on #3634
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03634/joss.03634/10.21105.joss.03634.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03634/joss.03634/10.21105.joss.03634.pdf) :page_facing_up: :point_left:

[2021-09-20 14:05] mingzehuang commented on #3634
@whedon check references

[2021-09-20 14:05] whedon commented on #3634
[code]

[2021-09-20 14:13] mingzehuang commented on #3634
@crvernon Thank you very much! I've fixed the DOI. The author names and affiliations are correct:)

[2021-09-20 14:17] danielskatz commented on #3607
👋 @OlgerSiebinga - I've suggested some minor changes to the paper in https://github.com/tud-hri/travia/pull/9

At this point, could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo

[2021-09-20 14:31] crvernon commented on #3634
@mingzehuang we are almost there!  Next is just setting up the archive for your new release.  Since there have not been any releases yet in your repo, here are a few pointers:

- I find Zenodo easy to use to mint a DOI (permanent archive identifier) for each GitHub release.  You will likely need to create a free Zenodo account and link your GitHub repository to it.  Then once linked, you can condu

[2021-09-20 14:34] bebatut commented on #3722
I agree with @friedue about the major issues. I added some comments in the already existing issues and also create new ones:
- Functionality documentation: https://github.com/genome/bam-readcount/issues/84
- Community contribution guidelines: https://github.com/genome/bam-readcount/issues/83

A last comment: is the data used to generate the graphs in the paper available somewhere?

[2021-09-20 14:35] OlgerSiebinga commented on #3607
Great! Thanks for the suggested changes to the paper, I've accepted those. I'll get these things done right away.

[2021-09-20 15:06] mvremec commented on #3730
@whedon generate pdf
@whedon check references

[2021-09-20 15:06] whedon commented on #3730
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03730/joss.03730/10.21105.joss.03730.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03730/joss.03730/10.21105.joss.03730.pdf) :page_facing_up: :point_left:

[2021-09-20 15:08] mvremec commented on #3730
@whedon check references

[2021-09-20 15:09] whedon commented on #3730
[code]

[2021-09-20 15:11] OlgerSiebinga commented on #3607
I've done all the mentioned to-do's. A tagged release was made with version tag v1.1. The software is uploaded to the 4TU research data repository. It still has to be reviewed there before it becomes public. The archive DOI is 10.4121/16645651

[2021-09-20 15:15] bmcfee commented on #3613
Just giving another gentle nudge to @vahid-sb here - any update on when you'll be able to move this forward would be appreciated!

[2021-09-20 15:19] mvremec commented on #3730
@Kevin-Mattheus-Moerman looks like the DOIs are ok now. For the review, I would suggest: rreinecke, cheginit, JannisHoch or crvernon. Thank you!

[2021-09-20 15:33] mefuller commented on #3695
@whedon  I've worked through installation, some basic functionality testing (although only superficially), and have thoroughly examined and edited the documentation for the software

[2021-09-20 15:33] whedon commented on #3695
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-09-20 15:34] chartgerink commented on #3660
@whedon add @mbod as reviewer

[2021-09-20 15:34] whedon commented on #3660
OK, @mbod is now a reviewer

[2021-09-20 15:35] chartgerink commented on #3660
@whedon start review

[2021-09-20 15:35] whedon opened #3741 "[REVIEW]: text2map: R Tools for Text Matrices"
**Submitting author:** @dustinstoltz (<a href="http://orcid.org/0000-0002-4774-0765">Dustin Stoltz</a>)
**Repository:** https://gitlab.com/culturalcartography/text2map
**Branch with paper.md** (empty if default branch):
**Version:** 0.1.0
**Editor:** @chartgerink
**Reviewers:** @alexanderfurnas, @cmaimone
**Archive:** 10.5281/zenodo.6472949

**:warning: JOSS reduced service mode :warning:**

Due t

[2021-09-20 15:35] whedon commented on #3660
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3741.

[2021-09-20 15:35] #3660 closed

[2021-09-20 15:35] whedon commented on #3741
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @alexanderfurnas, @mbod it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2021-09-20 15:35] whedon commented on #3741
Wordcount for `paper.md` is 518

[2021-09-20 15:35] whedon commented on #3741
[code]

[2021-09-20 15:35] whedon commented on #3741
[code]

[2021-09-20 15:35] whedon commented on #3741
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03741/joss.03741/10.21105.joss.03741.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03741/joss.03741/10.21105.joss.03741.pdf) :page_facing_up: :point_left:

[2021-09-20 15:37] kthyng commented on #3609
@xp-song Don't worry, it happens all the time! It doesn't say who should input that command, after all!

[2021-09-20 15:37] kthyng commented on #3609
I see your zenodo archive is made and in place, your version is up to date, and your paper looks great! We can proceed!

[2021-09-20 15:37] kthyng commented on #3609
@whedon accept deposit=true

[2021-09-20 15:37] whedon commented on #3609
[code]

[2021-09-20 15:38] whedon commented on #3609
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1439977274816835586) 👈 🐦🐦🐦

[2021-09-20 15:38] whedon commented on #3609
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2595
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03609](https://doi.org/10.21105/joss.03609)
2. If everything look

[2021-09-20 15:44] martinfleis commented on #3609
Congratulations @xp-song!

Thank you again @aelissa and @nickbearman for you valuable reviews!

[2021-09-20 15:45] kthyng commented on #3609
Thanks all, especially for your reviews @aelissa and @nickbearman and for being so thorough as handling editor @martinfleis!

[2021-09-20 15:45] #3609 closed

[2021-09-20 15:45] whedon commented on #3609
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03609/status.svg)](https://doi.org/10.21105/joss.03609)

**We need your help!**

Journal of Open Source Softwa

[2021-09-20 15:48] danielskatz commented on #3607
@whedon set v1.1 as version

[2021-09-20 15:48] whedon commented on #3607
OK. v1.1 is the version.

[2021-09-20 15:48] danielskatz commented on #3607
@whedon set 10.4121/16645651 as archive

[2021-09-20 15:48] whedon commented on #3607
OK. <a href="https://doi.org/10.4121/16645651" target="_blank">10.4121/16645651</a> is the archive.

[2021-09-20 15:49] danielskatz commented on #3607
@OlgerSiebinga - please let me know when the archive is public, then we can proceed

[2021-09-20 15:59] robinroche commented on #3596
@timtroendle
@nick-gorman

Thanks for this interesting submission. I installed the package and ran the examples without trouble.

After reviewing the submission, here are some suggestions for improvement:
1. While I understand the general purpose of the code, additional information on how it could be used could be useful. For example: provide use cases, questions it could help answer, etc.
2. Brie

[2021-09-20 16:27] kellyrowland commented on #3212
Thank you both!

[2021-09-20 16:27] kellyrowland commented on #3212
@whedon generate pdf

[2021-09-20 16:27] whedon commented on #3212
PDF failed to compile for issue #3212 with the following error:
[code]

[2021-09-20 16:28] kellyrowland commented on #3212
@whedon generate pdf from branch joss-paper-branch

[2021-09-20 16:28] whedon commented on #3212
[code]

[2021-09-20 16:29] whedon commented on #3212
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03212/joss.03212/10.21105.joss.03212.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03212/joss.03212/10.21105.joss.03212.pdf) :page_facing_up: :point_left:

[2021-09-20 16:36] kellyrowland commented on #3212
@mengqi-z , please issue a new tagged release of the software (if it has changed in the review process), archive the release on Zenodo, figshare, or another site, and post the version number and archive DOI here in this review issue.

[2021-09-20 16:37] kellyrowland commented on #3318
Once the review is complete, I'll have the JOSS bot update the version number so that it's up-to-date in the paper. Doing that is part of the check-out process for the editors since it's often the case that software is updated through the paper review.

[2021-09-20 16:48] ml-evs commented on #3458
Hopefully speeding up the next step:

- Software version associated with this paper: v0.16.4
- Zenodo archive for v0.16.4: [10.5281/zenodo.5517803](https://doi.org/10.5281/zenodo.5517803)

[2021-09-20 16:50] ml-evs commented on #3458
@whedon generate pdf

[2021-09-20 16:50] mengqi-z commented on #3212
Hi @kellyrowland , I have published a new release `plutus v1.0.1`, and achieved it in Zenodo DOI:10.5281/zenodo.5517802. Thank you.

[2021-09-20 16:51] whedon commented on #3458
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03458/joss.03458/10.21105.joss.03458.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03458/joss.03458/10.21105.joss.03458.pdf) :page_facing_up: :point_left:

[2021-09-20 16:52] kellyrowland commented on #3212
Thanks!

[2021-09-20 16:53] kellyrowland commented on #3212
@whedon set v1.0.1 as version

[2021-09-20 16:53] whedon commented on #3212
OK. v1.0.1 is the version.

[2021-09-20 16:54] kellyrowland commented on #3212
@whedon set 10.5281/zenodo.5517802 as archive

[2021-09-20 16:54] whedon commented on #3212
OK. <a href="https://doi.org/10.5281/zenodo.5517802" target="_blank">10.5281/zenodo.5517802</a> is the archive.

[2021-09-20 16:54] kellyrowland commented on #3212
@whedon recommend-accept from branch joss-paper-branch

[2021-09-20 16:54] whedon commented on #3212
[code]

[2021-09-20 16:54] whedon commented on #3212
[code]

[2021-09-20 16:55] whedon commented on #3212
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2596

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2596, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-20 17:01] step21 commented on #3617
Ok, thanks for clarifying. I made an issue about the paper structure.

[2021-09-20 17:05] fboehm commented on #3417
@biblicabeebli - How are the revisions going? Please be sure to discuss (here, in the "review" issue) any questions or concerns that the reviewers have raised.

is there anything that I might help with?

[2021-09-20 17:09] kthyng commented on #3212
Hi @mengqi-z! Please alter the metadata in your Zenodo archive so that the title and author list exactly match your JOSS paper.

[2021-09-20 17:14] kellyrowland commented on #3212
Oops, thanks for that catch @kthyng .

[2021-09-20 17:16] kthyng commented on #3212
@mengqi-z Your paper looks good! However, the references are missing some capitalization — I noticed the proper noun locations aren't being capitalized. You can preserve capitalization by placing {} around strings in your .bib file. Let me know when you've done this.

[2021-09-20 17:30] patrickfuchs commented on #3521
On behalf of my colleagues and myself, we would like to thank the editor @richardjgowers and the reviewers @lilyminium, @ojeda-e, @blakeaw. This was a nice review experience!
@arfon, I have a last question. I spotted a couple of typos in the paper, is it possible to amend the paper at this stage? If not, this is not a big deal (these are really minor things : typos in the full name of lipids, one

[2021-09-20 17:45] sfsinger19103 commented on #3739
Paper is (and has been) here: https://github.com/ElectionDataAnalysis/electiondata/blob/joss-submission/JoSS_Submission/paper.md

Not sure why @whedon couldn't find it. Please let me know what to do to fix the problem.

[2021-09-20 17:50] danielskatz commented on #3739
@whedon generate pdf from branch joss-submission

[2021-09-20 17:50] whedon commented on #3739
[code]

[2021-09-20 17:50] danielskatz commented on #3739
@whedon check references from branch joss-submission

[2021-09-20 17:50] whedon commented on #3739
[code]

[2021-09-20 17:50] whedon commented on #3739
[code]

[2021-09-20 17:51] whedon commented on #3739
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03739/joss.03739/10.21105.joss.03739.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03739/joss.03739/10.21105.joss.03739.pdf) :page_facing_up: :point_left:

[2021-09-20 17:52] mengqi-z commented on #3212
Hi @kthyng , the metadata in the Zenodo archive has been updated to match the title and author list. Thanks for pointing it out.

[2021-09-20 17:54] mengqi-z commented on #3212
@kthyng , The `.bib` file has been updated to preserve the capitalization of proper nouns. Please check it out and let me know if I missed any. Thank you!

[2021-09-20 17:56] arfon commented on #3521
Thanks for the positive feedback @patrickfuchs!

Certainly. Please make the changes to the paper in your repository and let me know when you're ready for me to update the paper.

[2021-09-20 18:31] Thomieh73 commented on #3678
Hi @alexismhill3,
I had created two issues when working on the installation and on your tutorial (which you already solved).
https://github.com/wilkelab/Opfi/issues/202 - which is a suggestion of how one can create a conda environment with all the dependencies.

I did not find any other problems using the tool or checking the documentation

[2021-09-20 18:35] Thomieh73 commented on #3678
@csoneson I am done with the checklist. It is an interesting tool due to the versatility of what you can research.

[2021-09-20 18:37] alexismhill3 commented on #3678
Awesome, thanks @Thomieh73!
I'm working on creating a conda package recipe for Opfi, per your suggestion, which I agree is a good idea. I think this will also resolve some other issues raised by @afrubin about the clarity of the installation process, since it will basically be condensed down to `conda install opfi`

[2021-09-20 18:46] kthyng commented on #3212
@whedon generate pdf from branch joss-paper-branch

[2021-09-20 18:46] whedon commented on #3212
[code]

[2021-09-20 18:47] whedon commented on #3212
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03212/joss.03212/10.21105.joss.03212.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03212/joss.03212/10.21105.joss.03212.pdf) :page_facing_up: :point_left:

[2021-09-20 18:48] kthyng commented on #3349
Does this still need to be open? Not sure what the outstanding issue was.

[2021-09-20 18:49] kthyng commented on #3212
Looks good now!

[2021-09-20 18:49] kthyng commented on #3212
@whedon accept deposit=true from branch joss-paper-branch

[2021-09-20 18:49] whedon commented on #3212
[code]

[2021-09-20 18:50] whedon commented on #3212
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1440025542221258754) 👈 🐦🐦🐦

[2021-09-20 18:50] whedon commented on #3212
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2597
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03212](https://doi.org/10.21105/joss.03212)
2. If everything look

[2021-09-20 18:53] kthyng commented on #3642
Is the proper Zenodo doi 10.5281/zenodo.5515531? I clicked on the one linked above but it says there is a newer version. Also, @solegalli, please update the title and author list of the Zenodo archive metadata so they exactly match the JOSS paper.

[2021-09-20 18:53] kthyng commented on #3642
(Same question but with version. v1.1.1 or v1.1.2?)

[2021-09-20 18:54] kthyng commented on #3212
Congrats on your new publication @mengqi-z! Thanks so much to editor @kellyrowland and reviewers @amygalanter and @samgdotson for your hard work, time, and expertise!

[2021-09-20 18:54] #3212 closed

[2021-09-20 18:54] whedon commented on #3212
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03212/status.svg)](https://doi.org/10.21105/joss.03212)

**We need your help!**

Journal of Open Source Softwa

[2021-09-20 19:00] kthyng commented on #3642
@solegalli Your paper looks good other than the Galli et al reference which is to the software archive for this submission itself. It's not typical to cite within the submission like that, but probably ok. Right now the reference is weird though, I think because of the metadata issue I listed above. If you want to keep citing the software archive itself (which is indeed linked to separately in the

[2021-09-20 19:01] dpsanders commented on #3728
@Kevin-Mattheus-Moerman Sorry, yes I can.

[2021-09-20 19:02] dpsanders commented on #3728
@whedon assign @dpsanders as editor

[2021-09-20 19:02] whedon commented on #3728
OK, the editor is @dpsanders

[2021-09-20 19:06] larkz commented on #3587
@adi3 do you require a few more nominations? Perhaps these reviewers are too busy or currently dormant?

[2021-09-20 19:09] dpsanders commented on #3530
@kellertuer: Apologies for the delay.

[2021-09-20 19:10] dpsanders commented on #3530
👋 @matbesancon and @krystophny: Would you be available and willing to review this submission for [JOSS](https://joss.theoj.org/), the Journal of Open Source Software? Reviews are focused on the software and take place via GitHub issues. Thanks!

[2021-09-20 19:12] dpsanders commented on #3451
@whedon generate pdf

[2021-09-20 19:14] whedon commented on #3451
PDF failed to compile for issue #3451 with the following error:
[code]

[2021-09-20 19:18] dpsanders commented on #3451
@whedon generate pdf

[2021-09-20 19:19] whedon commented on #3451
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03451/joss.03451/10.21105.joss.03451.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03451/joss.03451/10.21105.joss.03451.pdf) :page_facing_up: :point_left:

[2021-09-20 19:22] KAClough commented on #3703
@rashti-alireza sorry I missed this, yes a good reference would be the thesis of developer Markus Kunesch.

See https://www.repository.cam.ac.uk/handle/1810/283135, section 2.4

[2021-09-20 19:25] dpsanders commented on #3451
👋 @LMMorgan: Apologies for the delay in getting to this.

The paper is much improved, thanks! I think that`popoff` in the title itself should be `PopOff`?

I now see the docs link in the repo, thanks.
I see that the example notebooks require a VASP license and an HPC.
Is it possible to run a simpler example using only open-source software? This is not a requirement for acceptance in JOSS, but woul

[2021-09-20 19:33] dpsanders commented on #3451
👋 @lscalfi, @marshallmcdonnell: Would you be available and willing to review this submission for [JOSS](https://joss.theoj.org/), the Journal of Open Source Software? Reviews are focused on the software and take place via GitHub issues. Thanks!

[2021-09-20 19:38] marshallmcdonnell commented on #3451
@dpsanders Yes, I'd be happy to be a reviewer for this submission!
Thanks for the opportunity.

[2021-09-20 20:08] kthyng commented on #3597
Hi @ravibandaru-lab! Thanks for your submission. Unfortunately, the editorial board has determined that this submission is not currently in scope primarily due to not passing the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/review_criteria.html#substantial-scholarly-effort) bar and confusion around what exactly the package does. We do, however, encourage you to improve your

[2021-09-20 20:08] kthyng commented on #3597
@whedon reject

[2021-09-20 20:08] whedon commented on #3597
Paper rejected.

[2021-09-20 20:08] #3597 closed

[2021-09-20 20:29] younglululu commented on #3446
This is my view of datum:

I followed the instruction and failed at the installation stage by using either pip install or conda install.

I created an issue regarding the failure (https://github.com/openAGI/datum/issues/8), and it was closed without solving the problem.

There is no way I can review this paper without the successful installation.

[2021-09-20 20:38] Zitzeronion commented on #3728
Hello @dpsanders,
Thank you very much for taking over the editorial work!

I think George Datseris could be a potential reviewer, but don't know if he is too familiar with thin film problems. However I know he knows a lot about Julia and Julia packages. Other reviewers might be: mancellin, jramirezcr or ali-ramadhan (from the list above).

[2021-09-20 20:44] tngTUDOR commented on #3392
@csoneson, I'm almost done with my review. I have reached out to @WesIngwersen offline to clarify a couple of doubts, and once that mail is answered, I'll be ready to validate the two missing check-boxes.

[2021-09-20 20:56] pmeier commented on #3446
@younglululu openAGI/datum#8 should have been resolved by https://github.com/openAGI/datum/commit/b7f34ceedad48d03e50feb2b0e7a14ae353af0b5, which is included in the latest `datum==1.2.1` release. Have you retried the installation since then? If there is still some error, would you mind creating a new issue with the log output?

[2021-09-20 21:14] vahid-sb commented on #3613
Hi @bmcfee
I haVe tested the code, run the example files and looked into the documentation. The code does what the documentation says it does and I find it comprehensive enough to be suitable for JOSS. As somebody who has worked on behavioural studies, I see there are some features that I might have needed and currently not available. But I do not find it reasonable to ask for all the features tha

[2021-09-20 21:26] brunaw commented on #3430
Dear @jbytecode,

Thank you for the changes and my apologies for the delay in replying, indeed I wasn't getting this issue's notifications but I was reminded by email that I should finish this review.

I'm happy to mark all the boxes now, though I still feel like some of the writing could be improved. For example, in the documentation make sure that all 3 community guidelines topics (e.g. how to 1

[2021-09-20 21:27] mschordan commented on #3519
@fAndreuzzi All changes are fine, looks all OK now.

[2021-09-20 21:51] rob-luke commented on #3613
Wonderful!! Thanks @vahid-sb

Of course feel free to add any wish-list features as an issue on the repo. I plan to keep developing this software and adding more features as required.

[2021-09-20 22:06] fAndreuzzi commented on #3519
Hi @jonjoncardoso, I would like to notify that I think I fixed the problems your mentioned in your last comment, please let me know if there is something more you think should be improved.

[2021-09-21 00:26] galessiorob commented on #3717
@whedon add @AlexanderPico as reviewer

[2021-09-21 00:26] whedon commented on #3717
OK, @AlexanderPico is now a reviewer

[2021-09-21 01:48] maxkfranz commented on #3717
Other potential reviewers:

- Martina Summer-Kutmon https://www.maastrichtuniversity.nl/martina.kutmon
- Avi Ma'ayan https://github.com/AviMaayan
- Guanming Wu https://ohsu.pure.elsevier.com/en/persons/guanming-wu

[2021-09-21 02:21] JLBLine commented on #3676
Hey @mkolopanis, thanks for the review! I was holding fire in case @dfm had some comments, but I'll jump in and make some replies here. Before I go ahead and action anything in the list below, should we be making these issues on the WODEN repo? I think that's how the review process goes on JOSS (this is my first JOSS paper so correct me if wrong).

## Installation
_The detailed installation guide

[2021-09-21 02:43] kthyng commented on #3597
I just realized that I forgot to acknowledge our reviewers @kasbohm and @ethanknights! (Usually the scope checks happen before there are reviewers.) Thank you for being willing to review this submission and for your time.

[2021-09-21 03:57] EricaEgg commented on #3460
I have completed the checklist and support this work. I currently have an [open issue ](https://github.com/qpv-research-group/rayflare/issues/37), but this is related to the installation of S4, which is not required for rayflare. I am able to run all examples that do not perform RCWA calculations/use S4. Therefore I do not think this should prevent the acceptance of this work, but is instead an is

[2021-09-21 06:15] mingzehuang commented on #3634
@crvernon Thank you so much! I've tried to create it! Here is the DOI: 10.5281/zenodo.5517823
Let me know if there is anything need to be correct:)

[2021-09-21 07:07] kasbohm commented on #3597
Thanks @kthyng!

[2021-09-21 07:17] lscalfi commented on #3451
@dpsanders yes I would be happy to!

[2021-09-21 07:42] clarka34 commented on #3736
Sorry, my phone has had a mind of its own this morning. It seems like I have unassigned @timdewhirst and closed this. I reopened but could not figure out how to reassign. @Kevin-Mattheus-Moerman can you do this?

[2021-09-21 07:46] Kevin-Mattheus-Moerman commented on #3736
@openjournals/dev can you check if I need to fix anything? ☝️

[2021-09-21 07:47] Kevin-Mattheus-Moerman commented on #3736
@clarka34 no worries we'll sort it out

[2021-09-21 07:48] hechth commented on #3623
Just make sure to also keep things publicly updated so we can track the progress :)

If you have some questions or need some hints, feel free to reach out!

[2021-09-21 07:48] clarka34 commented on #3736
@Kevin-Mattheus-Moerman thank you! again, I am sorry about this...

[2021-09-21 08:08] OlgerSiebinga commented on #3607
@danielskatz - The archive was accepted and is public now

[2021-09-21 08:33] jbytecode commented on #3430
Dear reviewer @brunaw

The `README.md` file is updated.
- Contribute to the software, report issues, and seek support sections in `README.md` are refactored.
- The Contribute to the software part now includes new subsections: `Where to start` and `The design pattern`. In this subsections, we give a brief description of implementing a new method with minimum requirements.
- Typo and language are ch

[2021-09-21 09:04] jbytecode commented on #3430
@whedon generate pdf

[2021-09-21 09:04] whedon commented on #3430
PDF failed to compile for issue #3430 with the following error:
[code]

[2021-09-21 09:06] lucydot commented on #3626
@WilkAndy has also agreed to be reviewer 🎈

[2021-09-21 09:06] lucydot commented on #3626
@whedon add @WilkAndy as reviewer

[2021-09-21 09:06] whedon commented on #3626
OK, @WilkAndy is now a reviewer

[2021-09-21 09:08] solegalli commented on #3642
Hi @kthyng

Thanks for the input.

I saw that these developers cite zenodo for their package [yellobricks in JOSS](https://www.theoj.org/joss-papers/joss.01075/10.21105.joss.01075.pdf). I wasn't sure what the best practice / common practice was.

I went ahead and removed the citation. The link is meant to be updated all the time as new releases are made, so I think it makes sense.

Thanks again!

[2021-09-21 09:08] solegalli commented on #3642
@whedon generate pdf from branch paper

[2021-09-21 09:08] whedon commented on #3642
[code]

[2021-09-21 09:09] whedon commented on #3642
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03642/joss.03642/10.21105.joss.03642.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03642/joss.03642/10.21105.joss.03642.pdf) :page_facing_up: :point_left:

[2021-09-21 09:09] lucydot commented on #3626
I'll ask our bot Whedon to start a review issue thread (this is the pre-review thread) - the review guidelines will be listed at the top of that new thread.

@WilkAndy @bonh thank-you for agreeing to review. We're asking for reviews to be complete within a 4-6 week period. As the review is usually an iterative process (rather than something you do in one sitting) it's best for reviews to start ear

[2021-09-21 09:09] lucydot commented on #3626
@whedon start review

[2021-09-21 09:09] whedon opened #3742 "[REVIEW]: OpenCMP: An Open-Source Computational Multiphysics Package"
**Submitting author:** @nasserma (<a href="http://orcid.org/0000-0002-1772-0376">Nasser Mohieddin Abukhdeir</a>)
**Repository:** <a href="https://github.com/uw-comphys/opencmp" target ="_blank">https://github.com/uw-comphys/opencmp</a>
**Version:** 1.0
**Editor:** @lucydot
**Reviewer:** @bonh, @WilkAndy
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2021-09-21 09:09] whedon commented on #3626
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3742.

[2021-09-21 09:09] #3626 closed

[2021-09-21 09:10] whedon commented on #3742
[code]

[2021-09-21 09:10] whedon commented on #3742
PDF failed to compile for issue #3742 with the following error:
[code]

[2021-09-21 09:11] jbytecode commented on #3430
@whedon check references

[2021-09-21 09:12] whedon commented on #3430
[code]

[2021-09-21 09:13] jbytecode commented on #3430
@whedon generate pdf

@brunaw latest paper after a grammar check.

[2021-09-21 09:13] whedon commented on #3430
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03430/joss.03430/10.21105.joss.03430.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03430/joss.03430/10.21105.joss.03430.pdf) :page_facing_up: :point_left:

[2021-09-21 09:14] lucydot commented on #3742
@whedon generate pdf from branch publications

[2021-09-21 09:14] whedon commented on #3742
[code]

[2021-09-21 09:14] whedon commented on #3742
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03742/joss.03742/10.21105.joss.03742.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03742/joss.03742/10.21105.joss.03742.pdf) :page_facing_up: :point_left:

[2021-09-21 09:17] matbesancon commented on #3530
I would love to but am currently packed with reviews and other duties

[2021-09-21 09:18] muellsen commented on #3634
Dear @crvernon @rmflight @corybrunson, I would like to thank you for your time and effort you put into our submission. Absolutely wonderful process that improved the submission a lot. Thank you so so much!

[2021-09-21 09:19] thomgrand commented on #3641
Many thanks again for the review, I tried to address the points in https://github.com/thomgrand/fim-python/commit/94f2534e29f509ab3da1d01f4f9dd9ba0adf3cbf

This should be mentioned now.

The instructions to reproduce the benchmark have been added to the documentation in the section Benchmark.

I agree that this was indeed confusing. The documentation and the ReadMe should now list the same, execut

[2021-09-21 09:24] lucaferranti commented on #3641
@whedon generate pdf

[2021-09-21 09:24] whedon commented on #3641
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03641/joss.03641/10.21105.joss.03641.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03641/joss.03641/10.21105.joss.03641.pdf) :page_facing_up: :point_left:

[2021-09-21 09:35] Kevin-Mattheus-Moerman commented on #3020
@whedon generate pdf

[2021-09-21 09:39] lucydot commented on #3598
@whedon generate pdf

[2021-09-21 09:39] whedon commented on #3598
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03598/joss.03598/10.21105.joss.03598.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03598/joss.03598/10.21105.joss.03598.pdf) :page_facing_up: :point_left:

[2021-09-21 09:41] lucydot commented on #3598
@whedon check references

[2021-09-21 09:41] lucaferranti commented on #3641
@whedon check references

[2021-09-21 09:41] whedon commented on #3598
[code]

[2021-09-21 09:41] whedon commented on #3641
[code]

[2021-09-21 09:47] Kevin-Mattheus-Moerman commented on #3020
@whedon generate pdf from branch joss

[2021-09-21 09:47] whedon commented on #3020
[code]

[2021-09-21 09:47] lucydot commented on #3598
Hello @dfujim  - congratulations, we are very close to accepting `bfit` for publication 🎈

Please could you i) issue a new tagged release of the software (if changes have been made); ii) archive it (on, for example, Zenodo); iii) report the version number and archive DOI here on the thread.

[2021-09-21 09:48] whedon commented on #3020
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03020/joss.03020/10.21105.joss.03020.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03020/joss.03020/10.21105.joss.03020.pdf) :page_facing_up: :point_left:

[2021-09-21 09:48] lucydot commented on #3598
@jpata @nicksisco1932 thank-you for reviewing for JOSS ✨

[2021-09-21 09:54] abhishekvp commented on #3541
@ebocher Thank you for addressing the comments!

[2021-09-21 10:22] patrickfuchs commented on #3521
Thanks very much @arfon for your prompt and positive answer! I pushed the changes on my repository so the paper is ready to be updated.

[2021-09-21 11:29] Nikoleta-v3 commented on #3699
@whedon add @mlxd as reviewer

[2021-09-21 11:30] whedon commented on #3699
OK, @mlxd is now a reviewer

[2021-09-21 11:31] Nikoleta-v3 commented on #3699
@whedon start review

[2021-09-21 11:31] whedon opened #3743 "[REVIEW]: SPbLA: The Library of GPGPU-powered Sparse Boolean Linear Algebra Operations"
**Submitting author:** @EgorOrachyov (<a href="http://orcid.org/0000-0002-0424-4059">Egor Orachev</a>)
**Repository:** https://github.com/JetBrains-Research/spbla
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** v1.0.0
**Editor:** @Nikoleta-v3
**Reviewers:** @mlxd, @bencardoen
**Archive:** 10.5281/zenodo.7009938

**:warning: JOSS reduced service mode :warning:**

Due to

[2021-09-21 11:31] whedon commented on #3699
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3743.

[2021-09-21 11:31] #3699 closed

[2021-09-21 11:31] whedon commented on #3743
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @abb58, @mlxd it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.jo

[2021-09-21 11:32] whedon commented on #3743
Wordcount for `paper.md` is 394

[2021-09-21 11:32] whedon commented on #3743
PDF failed to compile for issue #3743 with the following error:
[code]

[2021-09-21 11:32] whedon commented on #3743
[code]

[2021-09-21 11:32] whedon commented on #3743
[code]

[2021-09-21 11:33] Nikoleta-v3 commented on #3743
@whedon generate pdf from branch joss-paper

[2021-09-21 11:33] whedon commented on #3743
[code]

[2021-09-21 11:34] whedon commented on #3743
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03743/joss.03743/10.21105.joss.03743.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03743/joss.03743/10.21105.joss.03743.pdf) :page_facing_up: :point_left:

[2021-09-21 11:34] Nikoleta-v3 commented on #3743
👋🏼 @EgorOrachyov @abb58, @mlxd this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements 🔝 As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from most ot

[2021-09-21 11:37] lpantano commented on #3358
@stemangiola , @abartlett004, could you give us a timeframe for reviewing the final items that are unchecked in the list above. If something is still missing, you can post the comments here and the authors can address them.

[2021-09-21 11:37] Nikoleta-v3 commented on #3743
@EgorOrachyov please fix the missing DOI: https://github.com/openjournals/joss-reviews/issues/3743#issuecomment-923893328 :)

[2021-09-21 11:46] lpantano commented on #3358
@llrs, the one thing that I couldn't find is some kind of score telling you how good or bad is the final design. I can imagine that there are cases where is not ideal, like in one of your example, and it would be good to have some score or warning telling you that even trying to randomize the design, the design will be biased by some degree. Let me know your thoughts. Maybe it is already there and

[2021-09-21 11:57] vahid-sb commented on #3613
@rob-luke I just ticked all the boxes. You have done a good job and I hope it will be used wildly by experimentalists and hope to see it constantly improving. Although I should add given what I have seen, wouldn't bet on it. But maybe efforts such as yours would help to introduce Julia-based libraries to a wider audience.

[2021-09-21 12:00] vahid-sb commented on #3613
@bmcfee Thanks for the invitation for the review. It was an interesting experience.

[2021-09-21 12:14] crvernon commented on #3634
@whedon set v1.1.0 as version

[2021-09-21 12:14] whedon commented on #3634
OK. v1.1.0 is the version.

[2021-09-21 12:15] crvernon commented on #3634
@whedon set 10.5281/zenodo.5517823 as archive

[2021-09-21 12:15] whedon commented on #3634
OK. <a href="https://doi.org/10.5281/zenodo.5517823" target="_blank">10.5281/zenodo.5517823</a> is the archive.

[2021-09-21 12:19] crvernon commented on #3634
@mingzehuang @muellsen @irinagain - thanks for putting together a really nice software product!  Thanks to @rmflight and @corybrunson for a constructive and timely review!

I am recommending that your submission be accepted.  An EIC will review this shortly and confirm final publication if all goes well.

[2021-09-21 12:20] whedon commented on #3634
[code]

[2021-09-21 12:21] whedon commented on #3634
[code]

[2021-09-21 12:21] whedon commented on #3634
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2598

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2598, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-21 12:35] llrs commented on #3358
@lpantano such score is already available on the package. One can explore how good a fit is with `check_index` but this is only between subsets, not among all the combinations. The closer to 0, the better a subset is. I will update the documentation of the function with more comments pointing users to increase the iterations and mention the `check_index` to the vignette too. Thanks for the suggest

[2021-09-21 12:47] fraukewiese commented on #3601
@willu47 Are you satisfied with the way crvernon has addressed your comment on the data install?

[2021-09-21 12:48] fraukewiese commented on #3574
@noah80 : If you have any other suggestions for a second reviewer for your submission, please let me know.

[2021-09-21 12:57] EgorOrachyov commented on #3743
Missing doi fixed! :)

[2021-09-21 12:58] whedon commented on #3743
[code]

[2021-09-21 12:58] whedon commented on #3743
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03743/joss.03743/10.21105.joss.03743.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03743/joss.03743/10.21105.joss.03743.pdf) :page_facing_up: :point_left:

[2021-09-21 13:03] danielskatz commented on #3607
@whedon recommend-accept

[2021-09-21 13:03] whedon commented on #3607
[code]

[2021-09-21 13:03] whedon commented on #3607
[code]

[2021-09-21 13:03] whedon commented on #3607
PDF failed to compile for issue #3607 with the following error:
[code]

[2021-09-21 13:34] whedon commented on #3700
:wave: @Het-Shah, please update us on how your review is going (this is an automated reminder).

[2021-09-21 13:34] whedon commented on #3700
:wave: @pmeier, please update us on how your review is going (this is an automated reminder).

[2021-09-21 13:34] whedon commented on #3700
:wave: @TahiriNadia, please update us on how your review is going (this is an automated reminder).

[2021-09-21 13:44] kthyng commented on #3634
Ok everything looks good!

[2021-09-21 13:44] kthyng commented on #3634
@whedon accept deposit=true

[2021-09-21 13:44] whedon commented on #3634
[code]

[2021-09-21 13:45] whedon commented on #3634
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1440311192652693507) 👈 🐦🐦🐦

[2021-09-21 13:45] whedon commented on #3634
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2599
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03634](https://doi.org/10.21105/joss.03634)
2. If everything look

[2021-09-21 13:49] martinfleis commented on #3712
@whedon assign @RafalKucharskiPK as reviewer

[2021-09-21 13:49] whedon commented on #3712
OK, @RafalKucharskiPK is now a reviewer

[2021-09-21 13:50] kthyng commented on #3634
Congratulations on your new publication @muellsen! Many thanks to editor @crvernon and reviewers @corybrunson and @rmflight for your time, hard work, and expertise!!

[2021-09-21 13:50] #3634 closed

[2021-09-21 13:50] whedon commented on #3634
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03634/status.svg)](https://doi.org/10.21105/joss.03634)

**We need your help!**

Journal of Open Source Softwa

[2021-09-21 13:51] whedon opened #3744 "[PRE REVIEW]: specieshindex: How scientifically popular is a species?"
**Submitting author:** @jessicatytam (<a href="http://orcid.org/0000-0003-3655-1974">Jessica Tam</a>)
**Repository:** <a href="https://github.com/jessicatytam/specieshindex" target ="_blank">https://github.com/jessicatytam/specieshindex</a>
**Version:** 0.3.1
**Editor:** @Bisaloo
**Reviewers:** @kamapu, @tom-gu, @DrMattG
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warni

[2021-09-21 13:51] whedon commented on #3744
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-21 13:51] whedon commented on #3744
Wordcount for `paper.md` is 1478

[2021-09-21 13:51] whedon commented on #3744
[code]

[2021-09-21 13:51] whedon commented on #3744
[code]

[2021-09-21 13:51] whedon opened #3745 "[PRE REVIEW]: cofad: An R package and shiny app for contrast analysis"
**Submitting author:** @johannes-titz (<a href="http://orcid.org/0000-0002-1102-5719">Johannes Titz</a>)
**Repository:** <a href="https://github.com/johannes-titz/cofad" target ="_blank">https://github.com/johannes-titz/cofad</a>
**Version:** v0.2.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2021-09-21 13:51] whedon commented on #3745
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-21 13:51] whedon commented on #3745
Failed to discover a `Statement of need` section in paper

[2021-09-21 13:51] whedon commented on #3745
PDF failed to compile for issue #3745 with the following error:
[code]

[2021-09-21 13:52] whedon opened #3746 "[PRE REVIEW]: Frites: A Python package for functional connectivity analysis and group-level statistics of neurophysiological data"
**Submitting author:** @EtienneCmb (<a href="http://orcid.org/0000-0002-7362-3247">Etienne Combrisson</a>)
**Repository:** <a href="https://github.com/brainets/frites" target ="_blank">https://github.com/brainets/frites</a>
**Version:** v0.4.0
**Editor:** @meg-simula
**Reviewers:** @madvn, @travisbthomp
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the

[2021-09-21 13:52] whedon commented on #3746
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-21 13:52] whedon commented on #3746
PDF failed to compile for issue #3746 with the following error:
[code]

[2021-09-21 13:52] whedon commented on #3746
[code]

[2021-09-21 13:55] kthyng commented on #3746
@whedon generate pdf from branch paper

[2021-09-21 13:55] whedon commented on #3746
[code]

[2021-09-21 13:58] kthyng commented on #3746
@meg-simula Could you edit this submission?

[2021-09-21 13:58] whedon commented on #3746
@meg-simula has been invited to edit this submission.

[2021-09-21 14:21] richardjgowers commented on #3482
@broncio123 @Shibabrat paper looks good now.  Can you update the software repo to match the v0.1.0 version that this paper references?  After that if you can create a release and archive that on something like zenodo and then report the DOI of that archive we can proceed.

[2021-09-21 14:27] EtienneCmb commented on #3746
Dear @kthyng, here's a tag free list of potential reviewers :
- saran-nns
- JanCBrammer
- sappelhoff
- madvn
- ihrke
- karnigili
- zen-juen
- SRSteinkamp
- neurofractal

[2021-09-21 14:32] broncio123 commented on #3482
Thanks, @richardjgowers will do it promptly.

[2021-09-21 14:55] KristinaRiemer commented on #3200
@sandrinecharles @puruckertom has completed his review, but I don't think has passed along comments to you yet?

[2021-09-21 14:56] KristinaRiemer commented on #3383
@KristianNelson when you get a chance to look over @fsanchez-trigueros review, feel free to ask questions or provide feedback.

[2021-09-21 15:07] arfon commented on #3607
@whedon recommend-accept

[2021-09-21 15:07] whedon commented on #3607
[code]

[2021-09-21 15:07] whedon commented on #3607
[code]

[2021-09-21 15:07] whedon commented on #3745
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03745/joss.03745/10.21105.joss.03745.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03745/joss.03745/10.21105.joss.03745.pdf) :page_facing_up: :point_left:

[2021-09-21 15:08] whedon commented on #3607
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2600

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2600, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-21 15:11] sandrinecharles commented on #3200
Good news @KristinaRiemer! However, as you guessed, I did not received this review yet.

[2021-09-21 15:13] danielskatz commented on #3607
@whedon accept deposit=true

[2021-09-21 15:14] solegalli commented on #3642
v1.1.2 is the last one / current one.

When I submitted the article it was v1.1.1 but I had to fix a bug that we accidentally introduced in this version :_( .Thus the increment, it is really minor.

So to summarize, latest version v1.1.2 and the zenodo link is https://zenodo.org/record/5515531

Cheers

[2021-09-21 15:14] whedon commented on #3607
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1440333650021605380) 👈 🐦🐦🐦

[2021-09-21 15:17] KristinaRiemer commented on #3200
I've reached out, so you should hear back soon.

[2021-09-21 15:18] sandrinecharles commented on #3200
👍

[2021-09-21 15:19] danielskatz commented on #3607
Congratulations to @OlgerSiebinga (Olger Siebinga)!!

And thanks to @rusu24edward and @tomalrussell for reviewing!
We couldn't do this without you

[2021-09-21 15:19] #3607 closed

[2021-09-21 15:20] whedon commented on #3607
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03607/status.svg)](https://doi.org/10.21105/joss.03607)

**We need your help!**

Journal of Open Source Softwa

[2021-09-21 15:34] mkolopanis commented on #3676
Always nice to close a few easy issues :laughing: @JLBLine if you would like I can try to help with some of this. Would you prefer your repository to be forked for a PR or directly edit on the main repository?

Regarding the statement of need, I agree it feels like a lot of work. I honestly wish we as a community has an organized curated list of simulators. Maybe that partially _does_ exist as par

[2021-09-21 16:13] kthyng commented on #3642
Ok great, thanks. One more thing: please update the title and author list of the Zenodo archive metadata so they exactly match the JOSS paper.

[2021-09-21 16:13] kthyng commented on #3642
@whedon set 10.5281/zenodo.5515531 as archive

[2021-09-21 16:13] whedon commented on #3642
OK. <a href="https://doi.org/10.5281/zenodo.5515531" target="_blank">10.5281/zenodo.5515531</a> is the archive.

[2021-09-21 16:14] kthyng commented on #3642
@whedon set v1.1.2 as version

[2021-09-21 16:14] whedon commented on #3642
OK. v1.1.2 is the version.

[2021-09-21 16:23] diehlpk commented on #3390
@Muhao-Chen Could you please address the issues, so the reviewers can proceed. Please notify them here, so the know when to resume their reviews.

[2021-09-21 16:32] elbeejay commented on #3541
Hi all, thanks for reviewing this work, and thank you to @ebocher and co-authors for making revisions as necessary.

At this time I would like to confirm with @omshinde, @arbennett and @abhishekvp that the revised software and documentation in its current form is acceptable to you. At this time one outstanding review issue [here](https://github.com/orbisgis/geoclimate/issues/622) has yet to be clo

[2021-09-21 16:35] nnadeau commented on #3490
wonderful updates @klevis-a , especially the usage of `yarn`. Paper is good to go from my end. Kudos!

[2021-09-21 16:40] broncio123 commented on #3482
The software is up-to-date and now a release is available here
https://github.com/champsproject/ldds/releases/tag/v0.1.0

I have also archived the source code of this release on ZENODO with URL
https://zenodo.org/record/5519580

Let me know if there's anything else we need to do.

b

[2021-09-21 16:50] solegalli commented on #3642
I am not sure what I should do. Should I delete all the other authors from zenodo?

[2021-09-21 16:57] solegalli commented on #3642
Ok, I think I got it. It is updated now.

[2021-09-21 16:59] kthyng commented on #3642
Presumably the people listed made minor contributions to the software at some point and were auto-included by Zenodo. If on the other hand they were authors of the software, they should be included as co-authors to the paper itself.

[2021-09-21 17:13] solegalli commented on #3642
Thank you!. It's been updated.

We discussed the authorship in the [pre-review PR](https://github.com/openjournals/joss-reviews/issues/3592#issuecomment-895119150) :)

[2021-09-21 17:41] klevis-a commented on #3490
Thank you @nnadeau! I opened a pull request based on the switch to yarn, but I couldn't assign you as a Reviewer. But I take it you approve, so I'll merge it to master.

[2021-09-21 18:22] dfujim commented on #3598
@lucydot thanks!

version: 4.14.1
doi: 10.5281/zenodo.5519795

[2021-09-21 18:43] dfm commented on #3559
@whedon add @zingale as reviewer

Mike has agreed to be one of our reviewers - thanks!! I'm hoping to have another on lined up soon so we can finally get started. Thanks again @soffner for your patience.

[2021-09-21 18:43] whedon commented on #3559
OK, @zingale is now a reviewer

[2021-09-21 19:22] OlgerSiebinga commented on #3607
Great! Thanks for all putting in the time for this review and for the good suggestions!

[2021-09-21 19:45] bmcfee commented on #3613
Thanks @vahid-sb ! It does look like you still have an unchecked box (Performance) -- can you resolve that?

[2021-09-21 19:46] plaplant commented on #3676
@JLBLine this package is very interesting! Thanks very much for the contribution. In general I find the paper and the code well-written and informative. I have some comments that are similar to those of @mkolopanis, mostly around installation and documentation.

### Installation
I was working as an unprivileged user on a shared cluster (which I imagine is a common-ish use case), and as such was fo

[2021-09-21 19:47] vahid-sb commented on #3613
@bmcfee done!

[2021-09-21 19:51] danielskatz commented on #2495
@EGaraldi – any news on when you expect to be able to complete your updates by?

Based on the lack of progress on this over the last 9(!) months, I will reject this paper in about 2 weeks unless something changes.

[2021-09-21 20:01] bmcfee commented on #3613
@rob-luke back to the bib formatting issues, can you try using `url={...}` instead of `howpublished={...}`?  It may not resolve the issue entirely, but it's the first thing to try.

[2021-09-21 20:16] WilkAndy commented on #3742
@nasserma , @elizabethmonte and @Alex-Vasile - i have a question about authorship.  You can read the JOSS guidelines here: https://joss.readthedocs.io/en/latest/submitting.html#authorship .  Given those guidelines, are you OK with James and Nasser being co-authors, even though they appear to have contributed zero code?

[2021-09-21 20:29] WilkAndy commented on #3742
@nasserma , since i am a heavy contributor to [MOOSE](https://mooseframework.org) i don't like your statement "Open-source packages ... such as MOOSE ... have very steep learning curves and are inaccessible to the general
scientific and engineering communities."   MOOSE was designed to be easy to use.  Perhaps it has changed into something more complicated over time.  Anyway, your statement is jus

[2021-09-21 20:44] soffner commented on #3559
Great!

@dfm I addressed one of your recent comments and I'm consulting with the
rest of the developer team on how to address the other.

On Tue, Sep 21, 2021 at 1:43 PM Dan Foreman-Mackey ***@***.***>
wrote:

[2021-09-21 20:46] WilkAndy commented on #3742
@nasserma , i'm going on holiday for the next ~10 days, so won't do any more on this for a while, but hopefully you can address the above concerns while i'm away.

Oh, just one final point: your title "multiphysics package" gives the wrong idea to me.  When i think of "multiphysics", i'm thinking of solid mechanics + fluid mechanics (of all kinds) + heat transfer + electromagnetics, etc.  But your

[2021-09-21 20:47] step21 commented on #3617
@whedon generate pdf from branch joss-paper

[2021-09-21 20:47] whedon commented on #3617
[code]

[2021-09-21 20:47] whedon commented on #3617
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03617/joss.03617/10.21105.joss.03617.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03617/joss.03617/10.21105.joss.03617.pdf) :page_facing_up: :point_left:

[2021-09-21 20:50] WilkAndy commented on #3613
Somehow i got subscribed to this, perhaps because i just agreed to review another JOSS paper.  I am now unsubscribing.  If i need to be subscribed, one of the editors/authors will have my email address and can email me.

[2021-09-21 20:57] WilkAndy commented on #3314
@volpatto - you'll see that the "README.md" issue you mentioned above has now been fixed.   I'm not sure whether you need me to address your "Functionality - Performance" issue above.  Could you please confirm one way or the other?

[2021-09-21 21:46] dpsanders commented on #3530
@kellertuer: Do you have suggestions for reviewers who have written similar packages in other languages?

[2021-09-21 21:47] dpsanders commented on #3530
👋 @juliohm: Would you be available and willing to review this submission for JOSS, the Journal of Open Source Software? Reviews are focused on the software and take place via GitHub issues. Thanks!

[2021-09-21 21:48] dpsanders commented on #3451
@whedon add @marshallmcdonnell as reviewer

[2021-09-21 21:48] whedon commented on #3451
OK, @marshallmcdonnell is now a reviewer

[2021-09-21 21:48] dpsanders commented on #3451
@whedon add @lscalfi as reviewer

[2021-09-21 21:48] whedon commented on #3451
OK, @lscalfi is now a reviewer

[2021-09-21 21:48] dpsanders commented on #3451
@whedon start review

[2021-09-21 21:48] whedon opened #3747 "[REVIEW]: popoff: POtential Parameter Optimisation for Force-Fields"
**Submitting author:** @LMMorgan (<a href="http://orcid.org/0000-0002-6432-3760">Lucy M. Morgan</a>)
**Repository:** https://github.com/LMMorgan/PopOff
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @arfon
**Reviewers:** @marshallmcdonnell, @lscalfi
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pa

[2021-09-21 21:48] whedon commented on #3451
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3747.

[2021-09-21 21:48] #3451 closed

[2021-09-21 21:48] whedon commented on #3747
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @marshallmcdonnell, @lscalfi it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](

[2021-09-21 21:49] dpsanders commented on #3451
Many thanks @lscalfi and @marshallmcdonnell for agreeing to review this submission. Please head over to #3747, where you will find a checklist to guide the review process!

[2021-09-21 21:49] whedon commented on #3747
Wordcount for `paper.md` is 1214

[2021-09-21 21:49] whedon commented on #3747
[code]

[2021-09-21 21:49] whedon commented on #3747
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03747/joss.03747/10.21105.joss.03747.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03747/joss.03747/10.21105.joss.03747.pdf) :page_facing_up: :point_left:

[2021-09-21 21:50] whedon commented on #3747
[code]

[2021-09-21 21:55] juliohm commented on #3530
I would love to review @dpsanders , but my agenda is super chaotic in the following months. Thank you for pinging though.

[2021-09-21 21:56] juliohm commented on #3530
And thanks for the amazing package @kellertuer 💯 🎉

[2021-09-21 23:06] rob-luke commented on #3613
@whedon generate pdf from branch manuscript

[2021-09-21 23:06] whedon commented on #3613
[code]

[2021-09-21 23:06] whedon commented on #3613
PDF failed to compile for issue #3613 with the following error:
[code]

[2021-09-21 23:13] rob-luke commented on #3613
@whedon generate pdf from branch manuscript

[2021-09-21 23:13] whedon commented on #3613
[code]

[2021-09-21 23:13] whedon commented on #3613
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03613/joss.03613/10.21105.joss.03613.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03613/joss.03613/10.21105.joss.03613.pdf) :page_facing_up: :point_left:

[2021-09-21 23:15] rob-luke commented on #3613
Genius @bmcfee!! That seems to have fixed the issue. Anything else I need to do now the reviews are in?

[2021-09-21 23:18] stebo85 commented on #3669
The authors addressed one of my comments and deemed the second comment as not feasible. Happy to accept.

[2021-09-22 00:31] rob-luke commented on #3613
Actually I can see that the patent numbers aren't formatting correctly in the bibliography either. Please give me a few hours to try and fix this in the bib file.

[2021-09-22 00:50] galessiorob commented on #3717
Thanks for the suggestions @maxkfranz, I have sent invites to all of them. I'll wait a few days for them to respond and as soon as we have at least two assigned reviewers we can start the process.

[2021-09-22 00:54] maxkfranz commented on #3717
Thanks, @galessiorob

[2021-09-22 00:57] szkafander commented on #3574
@fraukewiese Sorry, busy now. I can start reviewing this early next month. Let me know if that works.

[2021-09-22 02:34] ArkajyotiSaha commented on #3686
@fabian-s Attached herewith is a brief summary of the novelty of the code and the method that might be helpful in this review process.

The package implements the RF-GLS algorithm (which is a novel algorithm proposed in "Saha, Arkajyoti, Sumanta Basu, and Abhirup Datta. "Random forests for spatially dependent data." Journal of the American Statistical Association (2021): 1-19.") in R which is a no

[2021-09-22 03:09] rob-luke commented on #3613
@whedon generate pdf from branch manuscript

[2021-09-22 03:09] whedon commented on #3613
[code]

[2021-09-22 03:09] whedon commented on #3613
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03613/joss.03613/10.21105.joss.03613.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03613/joss.03613/10.21105.joss.03613.pdf) :page_facing_up: :point_left:

[2021-09-22 03:12] rob-luke commented on #3613
Thanks for your patience @bmcfee. I had to switch from `@misc` to `@patent` for the formatting to work. But I think it all looks good now. Let me know if there's anything else I need to do.

[2021-09-22 03:38] michaeltouati commented on #3618
Dear Daniel,

	Sorry for my late reply. I was on vacations and I start today a two day presencial formation.
I’ll be back at my lab. on Friday and make all the needed corrections / improvements by the end of the week.

I’ve indeed seen and followed that Tom Clune rose some issues that, when I will fixe them, will make the code and the paper much better.

Thanking you,
Best regards,
Michaël

[2021-09-22 04:03] afrubin commented on #3678
@alexismhill3 I'm waiting to try out the new installation method, but in the meantime here are a few comments on the manuscript.

I was a little confused by the exclusive focus on metagenomics in the statement of need section. This led me to expect that the program would be analyzing some sort of shotgun metagenomic data, rather than a single genome assembly. Clearly many new genomes are arising f

[2021-09-22 04:17] chrisleaman commented on #3666
@crvernon - Just an update, I'm happy with code and documentation as @npucino has addressed the issues I've raised. I have a couple of minor suggestions for the manuscript which I will finalise and create an issue for by the end of the week.

[2021-09-22 04:20] afrubin commented on #3678
I have added a couple more GitHub issues arising from the manuscript:
https://github.com/wilkelab/Opfi/issues/205
https://github.com/wilkelab/Opfi/issues/206

[2021-09-22 06:45] kellertuer commented on #3530
@dpsanders we could ask Nicolas Boumal (nicolasboumal), developer of Manopt (Matlab, same philosophy – we even share the logo – but mostly different architecture of his package) or Sebastian Weichwald (sweichwald), one of the developers of pymanopt, which is a python adaption of manopt that focuses on AD backends.
Both are – as far as I saw – not in the JOSS list from above.

[2021-09-22 08:16] Bisaloo commented on #3705
@whedon re-invite @bernardsilenou as reviewer

[2021-09-22 08:16] whedon commented on #3705
OK, the reviewer has been re-invited.

@bernardsilenou please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-09-22 08:41] espenhgn opened #3748 "Installation: Does installation proceed as outlined in the documentation?"

[2021-09-22 08:41] whedon commented on #3748
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-09-22 08:41] #3748 closed

[2021-09-22 08:57] espenhgn opened #3749 "Functionality: Have the functional claims of the software been confirmed?"

[2021-09-22 08:57] whedon commented on #3749
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-09-22 08:57] #3749 closed

[2021-09-22 09:28] meg-simula commented on #3746
@whedon assign meg-simula as editor

[2021-09-22 09:29] npucino commented on #3666
@whedon set v1.2.0 as version

[2021-09-22 09:29] whedon commented on #3746
OK, the editor is @meg-simula

[2021-09-22 09:29] whedon commented on #3666
I'm sorry @npucino, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-09-22 09:29] meg-simula commented on #3746
Thanks for the submission and the suggested reviewers @EtienneCmb! I will follow-up from here in the next few days.

[2021-09-22 09:43] olejandro commented on #3625
@mfleschutz, a few comments/questions from me on the paper:

- In the statement of need you refer to `environmental assessment of power demands`. I would have used `environmental assessment of electricity supply` instead. Is there a particular reason for why you refer to demand rather than supply?
- In the summary you state `To properly assess this flexibility within energy system models, it is es

[2021-09-22 09:54] chartgerink commented on #3745
Thanks for suggesting me @johannes-titz - looks right up my alley!

@whedon assign @chartgerink as editor

[2021-09-22 10:21] espenhgn opened #3750 "Example usage: Do the authors include examples of how to use the software (ideally to solve real-world analysis problems)."

[2021-09-22 10:21] whedon commented on #3750
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-09-22 10:21] #3750 closed

[2021-09-22 10:21] espenhgn opened #3751 "Community guidelines: Are there clear guidelines for third parties wishing to 1) Contribute to the software 2) Report issues or problems with the software 3) Seek support"

[2021-09-22 10:37] bmcfee commented on #3613
@whedon check references

[2021-09-22 10:39] jbytecode commented on #3608
@lantunes could you please ping us (and if possible please update your status) if you receive the notifications from this issue?

[2021-09-22 10:53] fabian-s commented on #3686
@ArkajyotiSaha thank you for the clarifications.
We're waiting until the end of this week for more feedback from the other editors before we decide whether to begin the review process.

[2021-09-22 12:23] chartgerink commented on #3745
@whedon assign @chartgerink as editor

[2021-09-22 12:23] whedon commented on #3745
OK, the editor is @chartgerink

[2021-09-22 12:28] oliviaguest commented on #2863
@whedon set version v1.1.0

[2021-09-22 12:28] whedon commented on #2863
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-09-22 12:28] oliviaguest commented on #2863
@whedon set v1.1.0 as version

[2021-09-22 12:28] whedon commented on #2863
OK. v1.1.0 is the version.

[2021-09-22 12:29] oliviaguest commented on #2863
@whedon set 10.5281/zenodo.5358432 as archive

[2021-09-22 12:29] whedon commented on #2863
OK. <a href="https://doi.org/10.5281/zenodo.5358432" target="_blank">10.5281/zenodo.5358432</a> is the archive.

[2021-09-22 12:29] oliviaguest commented on #2863
@whedon accept

[2021-09-22 12:29] whedon commented on #2863
To recommend a paper to be accepted use `@whedon recommend-accept`

[2021-09-22 12:29] oliviaguest commented on #2863
@whedon recommend-accept

[2021-09-22 12:29] whedon commented on #2863
[code]

[2021-09-22 12:30] whedon commented on #2863
[code]

[2021-09-22 12:30] whedon commented on #2863
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2602

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2602, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-22 12:30] oliviaguest commented on #2863
@dmey can you check that invalid DOI please and the final proof?

[2021-09-22 12:31] oliviaguest commented on #3669
@martinagvilas are you also happy for this to be accepted? 😊

[2021-09-22 12:39] bernardsilenou commented on #3705
Done!

Thanks,

Bernard

________________________________
From: Hugo Gruson ***@***.***>
Sent: 22 September 2021 10:16:49
To: openjournals/joss-reviews
Cc: Silenou, Bernard; Mention
Subject: Re: [openjournals/joss-reviews] [REVIEW]: serp: An R package for smoothing in ordinal regression (#3705)

@whedon<https://github.com/whedon> re-invite @bernardsilenou<https://github.com/bernardsilenou> as revi

[2021-09-22 12:41] crvernon commented on #3666
:mega:  Mid-week rally!  Just checking in to see how things are going.

:open_hands: Thanks @chrisleaman for the notification!  Glad to see things are progressing well.

@dbuscombe-usgs and @npucino it looks like you both are still working out some bugs so keep up the good work!

Have a great and productive rest of the week!

[2021-09-22 12:45] crvernon commented on #3709
:mega:  Mid-week rally!  Just checking in to see how things are going.

:open_hands: @kanishkan91 thanks for kicking off this review!

 @omshinde how are things going?  The author @AlexanderJuestel has been very responsive if you have any questions.

Have a great and productive rest of the week!

[2021-09-22 12:46] whedon commented on #3702
:wave: @zen-juen, please update us on how your review is going (this is an automated reminder).

[2021-09-22 12:46] whedon commented on #3702
:wave: @espenhgn, please update us on how your review is going (this is an automated reminder).

[2021-09-22 13:07] RafalKucharskiPK commented on #3712
Dear @marina-haliem
 I cloned the repo, downloaded the data (from https://purr.purdue.edu/publications/3843/1), created conda env, installed most of dependencies and run `simulator_driver.py`.

 Minor issues that I managed to overcome:
1. you require pandas==0.22 - which is ancient - 2017(!), and it clashed with many of my other packages, I used lates pandas and so far it went OK.
2. The `db.sqlit

[2021-09-22 13:23] volpatto commented on #3314
Great, thanks.

Sure, sorry for not being clear. I think there is no need for changes, it was just a comment/feedback. Since measurements are provided, I understand that this is enough.

[2021-09-22 13:41] olejandro commented on #3625
Another question @mfleschutz: for the functionality documentation, should one refer to the readme or is there another source?

[2021-09-22 13:48] lantunes commented on #3608
Thank you for all of your comments and review thus far! I have been following the discussion, though haven't yet begun the process of addressing the individual items. I will begin addressing the items today, and aim to be done by the weekend.

[2021-09-22 13:49] lantunes commented on #3608
@jbytecode Certainly! I will look into adding this.

[2021-09-22 14:11] kbarnhart commented on #3658
@wsavran @nvanderelst @mbarall I wanted to let you know I'll be in the field with very limited internet access from Sept 24 through Sept 30. If any questions come up during that time, I'll respond when I return.

@nvanderelst, @mbarall I know that we are getting close (or are in) the time you expected to be able to do this review. Please let me know if you have any questions as you undertake your

[2021-09-22 14:12] kbarnhart commented on #3658
/ooo September 24 until September 30

[2021-09-22 14:13] kbarnhart commented on #3689
@mdhurst1 I wanted to let you know I'll be in the field with very limited internet access from Sept 24 through Sept 30. If you have any questions for me during that time, I'll respond when I return.

[2021-09-22 14:21] andr1976 commented on #3585
@whedon commands

[2021-09-22 14:21] whedon commented on #3585
Here are some things you can ask me to do:

[code]

[2021-09-22 14:22] whedon commented on #3585
Wordcount for `paper.md` is 1179

[2021-09-22 14:22] whedon commented on #3585
[code]

[2021-09-22 14:27] kthyng commented on #3702
Hi @espenhgn! I am the managing editor on rotation this week and it looks like you're having some trouble with the mechanics of the review here. Unfortunately the little "convert to issue" buttons that github provides aren't connected with the JOSS workflow, which is why the issues are immediately closed (since we can't turn off the buttons). Also, is [this issue](https://github.com/openjournals/j

[2021-09-22 14:30] AndreasPhilippi commented on #3429
@kramea Thank you four your good feedback.
 I have added 'mpmath' to the dependencies. I also updated the tutorial on the documentation website, so everything should be up to date now. Please note that we are continuously trying to extend the documentation.

[2021-09-22 14:46] #3751 closed

[2021-09-22 14:46] kthyng commented on #2863
I see the version and archive are finished and attached, and I read through the paper and it looks good to me. Ready when we hear back from @oliviaguest's questions.

[2021-09-22 14:56] kthyng commented on #3642
@whedon accept deposit=true

[2021-09-22 14:56] whedon commented on #3642
[code]

[2021-09-22 14:56] whedon commented on #3642
PDF failed to compile for issue #3642 with the following error:
[code]

[2021-09-22 14:57] lantunes commented on #3608
I have added a GitHub action to the cellpylib repo that runs the tests on any push to main. I have also added a status badge to the top of the project's README. @jbytecode

[2021-09-22 14:57] kthyng commented on #3642
@whedon accept deposit=true from branch paper

[2021-09-22 14:57] whedon commented on #3642
[code]

[2021-09-22 14:59] whedon commented on #3642
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2603
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03642](https://doi.org/10.21105/joss.03642)
2. If everything look

[2021-09-22 15:20] martinfleis commented on #3712
@RafalKucharskiPK Thanks for a speedy start! Just note that we are still in the pre-review phase and the proper review with checklists and detailed instructions will start as soon as we'll confirm a second reviewer.

[2021-09-22 15:58] kthyng commented on #3642
@openjournals/dev it's been awhile and the DOI page is still not resolving.. any ideas?

[2021-09-22 15:59] jgostick commented on #3458
@whedon recommend-accept

[2021-09-22 15:59] whedon commented on #3458
No archive DOI set. Exiting...

[2021-09-22 16:05] drewbitllama commented on #3732
Hi all,

Apologies as I'm new to this process. I expressed interest in reviewing a
paper, but I can't find a link to a PDF and the github repo I accepted
seems basically empty :/

Can someone just send me a PDF so I can review the paper?

Thanks!
Drew

On Thu, Sep 16, 2021 at 7:44 AM Vissarion Fisikopoulos <
***@***.***> wrote:

[2021-09-22 16:07] jgostick commented on #3458
@whedon set 10.5281/zenodo.5517803 as archive

[2021-09-22 16:07] whedon commented on #3458
OK. <a href="https://doi.org/10.5281/zenodo.5517803" target="_blank">10.5281/zenodo.5517803</a> is the archive.

[2021-09-22 16:07] jgostick commented on #3458
@whedon set 0.16.4 as version

[2021-09-22 16:07] whedon commented on #3458
OK. 0.16.4 is the version.

[2021-09-22 16:07] jgostick commented on #3458
@whedon recommend-accept

[2021-09-22 16:08] whedon commented on #3458
[code]

[2021-09-22 16:08] whedon commented on #3458
[code]

[2021-09-22 16:08] whedon commented on #3458
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2604

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2604, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-22 16:13] Shibabrat commented on #3482
@whedon generate pdf

[2021-09-22 16:13] astanziola commented on #3732
Hello @drewbitllama
The pdf is availabe a couple of messages above, in the last message from @whedon

[Here's a link to the pdf](https://github.com/openjournals/joss-papers/blob/joss.03732/joss.03732/10.21105.joss.03732.pdf)

[2021-09-22 16:13] Shibabrat commented on #3482
@whedon check references

[2021-09-22 16:14] whedon commented on #3482
[code]

[2021-09-22 16:14] whedon commented on #3482
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03482/joss.03482/10.21105.joss.03482.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03482/joss.03482/10.21105.joss.03482.pdf) :page_facing_up: :point_left:

[2021-09-22 16:15] whedon commented on #3703
:wave: @sbozzolo, please update us on how your review is going (this is an automated reminder).

[2021-09-22 16:15] whedon commented on #3703
:wave: @rashti-alireza, please update us on how your review is going (this is an automated reminder).

[2021-09-22 16:24] drewbitllama commented on #3732
Thanks Antonio!

I greatly appreciate that, I'll review the paper today.

Cheers,
Drew

On Wed, Sep 22, 2021 at 9:13 AM Antonio Stanziola ***@***.***>
wrote:

[2021-09-22 16:31] astanziola commented on #3732
You're welcome Drew!
That's the first time I review a JOSS paper too, it took a while to get an idea of what to do :smile:

[2021-09-22 16:35] drewbitllama commented on #3732
I appreciate your trailblazing!! I don't review papers too much anymore and
this review process is -definitely- outside of my typical workflow. Thanks
again!

On Wed, Sep 22, 2021 at 9:31 AM Antonio Stanziola ***@***.***>
wrote:

[2021-09-22 16:43] astanziola opened #3752 "A statement of need: Do the authors clearly state what problems the software is designed to solve and who the target audience is?"

[2021-09-22 16:43] whedon commented on #3752
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-09-22 16:44] #3752 closed

[2021-09-22 17:31] kthyng commented on #3458
@ml-evs Please update the metadata in your Zenodo archive so the author list and title exactly match your JOSS article.

[2021-09-22 17:32] richardjgowers commented on #3482
@broncio123 sorry I should have been clearer, I think you've manually set the DOI on the zenodo archive to the JOSS DOI? I need the zenodo archive to have its own DOI (zenodo will auto generate one iirc) then the paper will point to that DOI (associated with the software archive) to generate the DOI associated with the paper.

[2021-09-22 17:34] kthyng commented on #3458
Paper looks fine.

[2021-09-22 17:38] kthyng commented on #3732
@drewbitllama In case some more information would help — you'll want to look at the github review issue (linked at the bottom of any email you get about this review that comes from github). You can use the checklist at the top of this page to drive your review, opening issues on the [software repository itself](https://github.com/MorgansLab/OSCILOS_brass/) and then checking off boxes as you go (be

[2021-09-22 17:43] ml-evs commented on #3458
Hi @kthyng, is this a hard requirement? Our automatic Zenodo release archives predate this submission by a couple of years and include all historic contributors to the package.

We could release an individual archive for this version+paper, if necessary.

[2021-09-22 17:53] kthyng commented on #3458
@ml-evs No it isn't a hard requirement — it gives a clear association of which software archive matches the JOSS publication to have a nice final package to point to.  The individual archive sounds like a nice way to go, but you can choose your preference.

[2021-09-22 18:00] whedon opened #3753 "[PRE REVIEW]: qualR: An R package to download São Paulo and Rio de Janeiro air pollution data"
**Submitting author:** @quishqa (<a href="http://orcid.org/0000-0002-7371-1116">Mario Eduardo Gavidia Calderón</a>)
**Repository:** <a href="https://github.com/quishqa/qualR" target ="_blank">https://github.com/quishqa/qualR</a>
**Version:** v0.9.5
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2021-09-22 18:00] whedon commented on #3753
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-22 18:00] whedon commented on #3753
Failed to discover a `Statement of need` section in paper

[2021-09-22 18:00] whedon commented on #3753
Wordcount for `paper.md` is 1372

[2021-09-22 18:00] whedon commented on #3753
[code]

[2021-09-22 18:00] whedon commented on #3753
[code]

[2021-09-22 18:01] whedon opened #3754 "[PRE REVIEW]: ExtremeLearning: A Selection of Pure-Python Extreme Learning Machine Approaches"
**Submitting author:** @kjhall01 (<a href="http://orcid.org/0000-0003-3723-0662">Kyle Hall</a>)
**Repository:** <a href="https://github.com/kjhall01/extremelearning" target ="_blank">https://github.com/kjhall01/extremelearning</a>
**Version:** v0.1.3
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges o

[2021-09-22 18:01] whedon commented on #3754
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-22 18:01] whedon commented on #3754
Wordcount for `paper.md` is 1060

[2021-09-22 18:01] whedon commented on #3754
[code]

[2021-09-22 18:01] whedon commented on #3754
[code]

[2021-09-22 18:01] whedon commented on #3753
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03753/joss.03753/10.21105.joss.03753.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03753/joss.03753/10.21105.joss.03753.pdf) :page_facing_up: :point_left:

[2021-09-22 18:01] whedon opened #3755 "[PRE REVIEW]: QuasinormalModes.jl: A Julia package for computing1 discrete eigenvalues of second order ODEs"
**Submitting author:** @lucass-carneiro (<a href="http://orcid.org/0000-0001-6764-1812">Lucas Timotheo Sanches</a>)
**Repository:** <a href="https://github.com/lucass-carneiro/QuasinormalModes.jl/" target ="_blank">https://github.com/lucass-carneiro/QuasinormalModes.jl/</a>
**Version:** v1.0.0
**Editor:** @pdebuyl
**Reviewers:** @JamieBamber, @cescalara
**Managing EiC:** Kristen Thyng

**:warning:

[2021-09-22 18:01] whedon commented on #3755
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-22 18:01] whedon commented on #3755
[code]

[2021-09-22 18:01] whedon commented on #3755
PDF failed to compile for issue #3755 with the following error:
[code]

[2021-09-22 18:01] whedon commented on #3754
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03754/joss.03754/10.21105.joss.03754.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03754/joss.03754/10.21105.joss.03754.pdf) :page_facing_up: :point_left:

[2021-09-22 18:03] kthyng commented on #3753
Hi @quishqa and thanks for your submission. I am going to run a "scope query" on it which pings the editorial board to check the scope of the submission. This happens when a package has less than 1000 lines of codes. Someone will get back to you in a week or two with the results, thanks for your patience.

[2021-09-22 18:03] kthyng commented on #3753
@whedon query scope

[2021-09-22 18:03] whedon commented on #3753
Submission flagged for editorial review.

[2021-09-22 18:04] kthyng commented on #3754
Hi @kjhall01 and thanks for your submission. I am going to run a "scope query" on it which pings the editorial board to check the scope of the submission. This happens when a package has less than 1000 lines of code. Someone will get back to you in a week or two with the results, thanks for your patience.

[2021-09-22 18:04] whedon commented on #3754
Submission flagged for editorial review.

[2021-09-22 18:05] kthyng commented on #3755
@whedon generate pdf from branch paper

[2021-09-22 18:05] whedon commented on #3755
[code]

[2021-09-22 18:05] whedon commented on #3755
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03755/joss.03755/10.21105.joss.03755.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03755/joss.03755/10.21105.joss.03755.pdf) :page_facing_up: :point_left:

[2021-09-22 18:08] kthyng commented on #3755
Hi @lucass-carneiro and thanks for your submission. All of our relevant editors are fully loaded currently so I am adding your submission to a waitlist. Thank you for your patience.

[2021-09-22 18:14] lucass-carneiro commented on #3755
@kthyng Thanks for letting me know!

[2021-09-22 18:35] Sbozzolo commented on #3703
`GRChombo` compiled fine and the examples run with no error.

When running tests, it might be nice to have a summary. E.g., something that prints something like "8 tests run: tests passed: [LIST], tests failed [LIST]". In `Compiling Chombo` you recommend using `grep` to obtain something like this. You don't do it in the "Compiling GRChombo" page. Maybe you can put together a simple `make` target t

[2021-09-22 19:36] majensen commented on #3440
@vaneseltine apologies for being AWOL recently. Do you have responses for @sara-02 ? Thanks.

[2021-09-22 19:37] majensen commented on #3431
@ShantanuDash @magedhelmy1 I'd like to restart this review process-- can I ask you about progress? Thanks.

[2021-09-22 19:37] ml-evs commented on #3458
In that case, I think we would prefer to keep the single point of truth as the current archive, without changing the metadata (which would just mean removing people) - this means that the links to later versions are kept - assuming that is okay with you.

[2021-09-22 19:38] majensen commented on #3197
Hi @felipeZ - any progress on this work to report? Thanks.

[2021-09-22 19:59] ShantanuDash commented on #3431
@majensen as I told @benjaminbolling everything was fine except me and @magedhelmy1 asked for some additions to be done in the paper.

[2021-09-22 20:03] benjaminbolling commented on #3431
Dear all, sorry for the delay - I will address and push tomorrow. Promise!

[2021-09-22 20:18] KristinaRiemer commented on #3200
As it seems that @BrandonEdwards is unable to complete his review, I'm looking for alternative reviewers, starting with the author's list of suggestions again.

[2021-09-22 21:51] quishqa commented on #3753
@whedon commands

[2021-09-22 21:51] whedon commented on #3753
Here are some things you can ask me to do:

[code]

[2021-09-22 21:52] quishqa commented on #3753
@whedon generate pdf

[2021-09-22 21:52] whedon commented on #3753
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03753/joss.03753/10.21105.joss.03753.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03753/joss.03753/10.21105.joss.03753.pdf) :page_facing_up: :point_left:

[2021-09-22 21:56] quishqa commented on #3753
@whedon check repository

[2021-09-22 21:57] whedon commented on #3753
Wordcount for `paper.md` is 1372

[2021-09-22 21:57] whedon commented on #3753
[code]

[2021-09-22 22:00] kthyng commented on #3458
@ml-evs That's fine, you can choose. We're all ready to wrap up then!

[2021-09-22 22:01] kthyng commented on #3458
@whedon accept deposit=true

[2021-09-22 22:01] whedon commented on #3458
[code]

[2021-09-22 22:01] whedon commented on #3458
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1440798528733732868) 👈 🐦🐦🐦

[2021-09-22 22:01] whedon commented on #3458
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2605
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03458](https://doi.org/10.21105/joss.03458)
2. If everything look

[2021-09-22 22:03] kthyng commented on #3458
Congrats on your new publication @ml-evs! Thanks to editor @jgostick and reviewers @hungpham2017 and @jamesrhester for your time, hard work, and expertise!

[2021-09-22 22:03] #3458 closed

[2021-09-22 22:04] whedon commented on #3458
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03458/status.svg)](https://doi.org/10.21105/joss.03458)

**We need your help!**

Journal of Open Source Softwa

[2021-09-22 22:05] ml-evs commented on #3458
Thanks again everyone, on behalf of all my co-authors!

[2021-09-22 22:30] rkurchin commented on #3546
👋 @fgjorup, reminder to respond to these when you have some time!

[2021-09-22 22:31] rkurchin commented on #3727
@shahmoradi, reminder to get your checklist started! Similarly for @UTH-Tuan, assuming the comments from @ljakoster above resolve your issues...

[2021-09-22 22:36] npucino commented on #3666
Hi @crvernon , I packaged the code in conda and I already pull request its recipe to the team:
https://github.com/conda-forge/staged-recipes/pull/16228

I am just waiting to be added to the conda server and then test with @dbuscombe-usgs if everything works well with this strategy!
I do not know how long this usually take, hopefully not too much.

Cheers!
Nick

[2021-09-23 00:29] rob-luke commented on #3613
Maybe I can help out our overworked friend Whedon.

There are no dois for the software references, so I added urls:
* https://github.com/sam81/pychoacoustics
* https://github.com/spatialaudio/python-sofa
* https://github.com/JuliaAudio/SampledSignals.jl

There are no dois for the patents, so I added URLs to the google patent pages:
* https://patents.google.com/patent/US10412518B2/en
* https://pate

[2021-09-23 03:11] mjsottile commented on #3519
:wave: @jonjoncardoso Let me know if you need anything to make progress on your review - I noticed it's been a month or so since your last review activity.

[2021-09-23 03:18] zen-juen commented on #3702
Hi all!

Firstly, I really like that `BioPsyKit` nicely incorporates biophysiological and self-report methodologies in one single package, allowing for the systematic processing and analysis of multimodal data. Below are some points that will help me to check off the remaining boxes:

- The README and docstrings are well-documented with concise examples of use, installation instructions, and the p

[2021-09-23 04:17] galessiorob commented on #3717
@whedon add @rabdill as reviewer

[2021-09-23 04:17] whedon commented on #3717
OK, @rabdill is now a reviewer

[2021-09-23 04:20] galessiorob commented on #3717
🎉 Thanks for volunteering to be reviewers @AlexanderPicoand @rabdill!

I'll generate a "review issue" that will contain individual checklists to go through, feel free to get started at your earliest convenience, don't hesitate to ask if you need clarification or help - you can @mention me directly on the issue.

[2021-09-23 04:20] galessiorob commented on #3717
@whedon start review

[2021-09-23 04:20] whedon opened #3756 "[REVIEW]: A flexible search system for high-accuracy identification of biological entities and molecules"
**Submitting author:** @maxkfranz (<a href="http://orcid.org/0000-0003-0169-0480">Max Franz</a>)
**Repository:** <a href="https://github.com/PathwayCommons/grounding-search" target ="_blank">https://github.com/PathwayCommons/grounding-search</a>
**Version:** 0.6.0
**Editor:** @galessiorob
**Reviewers:** @AlexanderPico, @rabdill, @apcamargo
**Archive:** <a href="https://doi.org/10.5281/zenodo.48915

[2021-09-23 04:20] whedon commented on #3717
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3756.

[2021-09-23 04:20] #3717 closed

[2021-09-23 04:20] whedon commented on #3756
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @AlexanderPico, @rabdill it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2021-09-23 04:20] whedon commented on #3756
Wordcount for `paper.md` is 1810

[2021-09-23 04:20] whedon commented on #3756
[code]

[2021-09-23 04:20] whedon commented on #3756
[code]

[2021-09-23 04:20] whedon commented on #3756
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03756/joss.03756/10.21105.joss.03756.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03756/joss.03756/10.21105.joss.03756.pdf) :page_facing_up: :point_left:

[2021-09-23 05:51] tgoelles commented on #3471
@hugoledoux We would like to cite this in a paper which we want to submit soon. So it would be great to get a decision before we submit. Thanks

[2021-09-23 06:08] hugoledoux commented on #3471
@hechth yeah this command is supposed to trigger a bot that takes care of telling people I'm away, but something went wrong... Glad you approved though!

[2021-09-23 06:09] hugoledoux commented on #3471
@whedon check references from branch paper

[2021-09-23 06:09] whedon commented on #3471
[code]

[2021-09-23 06:09] whedon commented on #3471
[code]

[2021-09-23 06:10] Kevin-Mattheus-Moerman commented on #3020
@diehlpk I have now read your paper in detail. Below are some minor comments/suggestions on the paper. Feel free to disagree with some of these:

- [ ] Make regimes plural in `...the two regime of deformation...`
- [ ] Should `peridynamic` be written as `peridynamics`? I see several of your references do this.
- [ ] `Neighborhood of point...` -> `The neighborhood of point...`
- [ ] Question, about

[2021-09-23 07:05] birgitschlager commented on #3471
I just merged your pull requests. Thanks!

[2021-09-23 07:06] hugoledoux commented on #3471
Sorry for the long break, I'm back. I just checked the reviewers' comment and they all accept it so we can proceed with the final steps for approval and publications. Congrats 🎉

I have read the paper and I propose the following small edits:
https://github.com/virtual-vehicle/pointcloudset/pull/31
https://github.com/virtual-vehicle/pointcloudset/pull/32

When this is done, then the following steps

[2021-09-23 07:07] hugoledoux commented on #3471
@whedon generate pdf from branch paper

[2021-09-23 07:07] whedon commented on #3471
[code]

[2021-09-23 07:25] vissarion commented on #3732
Thanks @kthyng for answering here!

@drewbitllama In case this is missed in the above discussions, I personally found the links below very useful the first time I did a JOSS review.

https://joss.readthedocs.io/en/latest/review_criteria.html
https://joss.readthedocs.io/en/latest/review_checklist.html

[2021-09-23 07:27] dmey commented on #2863
@oliviaguest and @kthyng I am happy with the final proof, thank you. Re DOI showing as invalid this is correct but it has not yet been accepted (and deposited). The DOI will not change so I can (a) leave it as is, (b) update the reference to include 'under review', or (c) wait for the DOI to be deposited -- this should take a few weeks. Happy with any of those options.

[2021-09-23 08:12] Kevin-Mattheus-Moerman commented on #3349
@kthyng there is an issue with the Zenodo archive, it needs to be edited (e.g. title does not match): https://zenodo.org/record/5106448 but I believe the authors are having permission issues that prevent them from editing it. We are leaving this open until it is resolved.

[2021-09-23 08:13] Kevin-Mattheus-Moerman commented on #3349
@jkrumbiegel @arfon any updates?

[2021-09-23 08:14] Kevin-Mattheus-Moerman commented on #3611
@whedon check references

[2021-09-23 08:14] whedon commented on #3611
[code]

[2021-09-23 08:15] Kevin-Mattheus-Moerman commented on #3611
@mikesmithlab is that missing DOI fixable too? :point_up:

[2021-09-23 08:15] Kevin-Mattheus-Moerman commented on #3611
@tacaswell are you able to pick up the review at this point too?

[2021-09-23 08:31] ajstewartlang commented on #3697
@lorenzo-rovigatti I've emailed you too in case you have GH notifications turned off - would you perhaps be able to review this submission?

[2021-09-23 09:03] PacoCosta commented on #3211
Hi @antviro,
Yes, the problem is that new features have been added since the first release, where netcdf data conversion process was not needed at that point. When you download the first release "Qlunc-0.91" (and only this version), the code doesn't install this package since it is not in the requirements (_environment.yml_ file in the repository), and the code doesn't need it at all. I've just do

[2021-09-23 09:29] jkrumbiegel commented on #3349
Zenodo tried to contact the current owner without success, I hope they'll transfer ownership to us soon.

[2021-09-23 11:57] broncio123 commented on #3482
No problem, @richardjgowers
The ZENODO DOI is:

The JOSS DOI no longer appears on the Zenodo record https://zenodo.org/record/5519580

[2021-09-23 12:10] willu47 commented on #3601
Yes, @crvernon has addressed all my requests.

[2021-09-23 12:57] fraukewiese commented on #3574
@szkafander Early next month is fine. Thank you very much! So, I will assign you as 2nd reviewer.

[2021-09-23 12:58] fraukewiese commented on #3574
@whedon add @szkafander as reviewer

[2021-09-23 12:58] whedon commented on #3574
OK, @szkafander is now a reviewer

[2021-09-23 13:03] fraukewiese commented on #3574
@szkafander : Thank you very much for agreeing to review!

Please read the "Reviewer instructions & questions" in the first comment above.Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS

[2021-09-23 13:07] fraukewiese commented on #3601
@willu47 Thank you for that information. If you are satisfied with everything, could you then check the last checkbox in your review list? Thanks a lot for your thorough review that has improved the submission a lot.

[2021-09-23 13:48] joergbuchwald commented on #3673
@whedon generate pdf

[2021-09-23 13:48] whedon commented on #3673
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03673/joss.03673/10.21105.joss.03673.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03673/joss.03673/10.21105.joss.03673.pdf) :page_facing_up: :point_left:

[2021-09-23 13:58] broncio123 commented on #3482
@whedon generate pdf

[2021-09-23 13:58] broncio123 commented on #3482
@whedon check references

[2021-09-23 13:59] whedon commented on #3482
[code]

[2021-09-23 13:59] whedon commented on #3482
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03482/joss.03482/10.21105.joss.03482.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03482/joss.03482/10.21105.joss.03482.pdf) :page_facing_up: :point_left:

[2021-09-23 14:06] richardjgowers commented on #3482
@whedon set 10.5281/zenodo.5519579 as archive

[2021-09-23 14:06] whedon commented on #3482
OK. <a href="https://doi.org/10.5281/zenodo.5519579" target="_blank">10.5281/zenodo.5519579</a> is the archive.

[2021-09-23 14:06] richardjgowers commented on #3482
@whedon recommend-accept

[2021-09-23 14:06] whedon commented on #3482
[code]

[2021-09-23 14:07] whedon commented on #3482
[code]

[2021-09-23 14:07] whedon commented on #3482
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2606

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2606, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-23 14:08] whedon commented on #3705
:wave: @bernardsilenou, please update us on how your review is going (this is an automated reminder).

[2021-09-23 14:08] whedon commented on #3705
:wave: @wesleyburr, please update us on how your review is going (this is an automated reminder).

[2021-09-23 14:09] TimKam commented on #3587
I have submitted my review: https://github.com/JunTaoLuo/mctreesearch4j/issues/52

[2021-09-23 14:20] kthyng commented on #3482
Hi @Shibabrat! Just looked through your paper. It looks good except for the references. Throughout the paper, you have used `[@reference], [@reference2]` for inline lists of references instead of `@reference, @reference2`, etc. Please fix all of the times this happens in the paper. Also I see some capitalization mistakes in the references list. For example, Craven and Hernandez doesn't have "Lagra

[2021-09-23 14:21] kthyng commented on #2863
I'm fine with letting the DOI stand. What do you think @oliviaguest?

[2021-09-23 14:25] kthyng commented on #3744
@Bisaloo are you up for editing this submission?

[2021-09-23 14:25] kthyng commented on #3744
@whedon invite @Bisaloo as editor

[2021-09-23 14:25] whedon commented on #3744
@Bisaloo has been invited to edit this submission.

[2021-09-23 14:26] kthyng commented on #3642
@openjournals/dev This is still not resolving for me — strange!

[2021-09-23 14:29] kthyng commented on #3690
@richardjgowers is this a reasonable fit for you?

[2021-09-23 14:30] kthyng commented on #3690
@whedon invite @richardjgowers as editor

[2021-09-23 14:30] whedon commented on #3690
@richardjgowers has been invited to edit this submission.

[2021-09-23 14:33] Bisaloo commented on #3744
Hi @kthyng and @jessicatytam, yes, I can edit this submission

[2021-09-23 14:34] Bisaloo commented on #3744
@whedon assign me as editor

[2021-09-23 14:34] whedon commented on #3744
OK, the editor is @Bisaloo

[2021-09-23 14:34] kthyng commented on #3730
Hi @mvremec and thanks for your submission. Unfortunately, the editorial team has found it to be out of scope for not reaching the bar for [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). If you were to expand this package to cover more area, more functionality, over time, you can consider resubmitting. In the meantime, [here](http

[2021-09-23 14:34] kthyng commented on #3730
@whedon reject

[2021-09-23 14:34] whedon commented on #3730
Paper rejected.

[2021-09-23 14:38] Bisaloo commented on #3744
@jessicatytam, while I'm looking for reviewers, could you please have a look at the missing DOI detected by whedon in [this comment](https://github.com/openjournals/joss-reviews/issues/3744#issuecomment-924010397)?

[2021-09-23 14:41] whedon opened #3757 "[PRE REVIEW]: POWERsim: A nanoPOWER ISA Functional Simulator"
**Submitting author:** @god-s-perfect-idiot (<a href="http://orcid.org/0000-0003-2213-8820">Samar Musthafa</a>)
**Repository:** <a href="https://github.com/god-s-perfect-idiot/POWER-sim" target ="_blank">https://github.com/god-s-perfect-idiot/POWER-sim</a>
**Version:** v0.7x
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

[2021-09-23 14:41] whedon commented on #3757
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-23 14:41] whedon commented on #3757
Wordcount for `paper.md` is 1119

[2021-09-23 14:41] whedon commented on #3757
[code]

[2021-09-23 14:41] Bisaloo commented on #3744
@ahasverus, would you be interested in reviewing this paper & R package for JOSS?

[2021-09-23 14:41] whedon commented on #3757
[code]

[2021-09-23 14:41] whedon commented on #3757
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03757/joss.03757/10.21105.joss.03757.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03757/joss.03757/10.21105.joss.03757.pdf) :page_facing_up: :point_left:

[2021-09-23 14:41] whedon opened #3758 "[PRE REVIEW]: AIBECS.jl: The ideal tool for exploring global marine biogeochemical cycles."
**Submitting author:** @briochemc (<a href="http://orcid.org/0000-0002-3838-5976">Benoit Pasquier</a>)
**Repository:** <a href="https://github.com/JuliaOcean/AIBECS.jl" target ="_blank">https://github.com/JuliaOcean/AIBECS.jl</a>
**Version:** v0.10.10
**Editor:** @kthyng
**Reviewers:** @dankelley
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challen

[2021-09-23 14:42] whedon commented on #3758
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-23 14:43] whedon commented on #3758
[code]

[2021-09-23 14:43] whedon commented on #3758
PDF failed to compile for issue #3758 with the following error:
[code]

[2021-09-23 14:44] whedon opened #3759 "[PRE REVIEW]: spectrapepper: A Python toolbox for advanced analysis of spectroscopic data for materials and devices"
**Submitting author:** @enricgrau (<a href="http://orcid.org/0000-0002-8357-5824">Enric Grau-Luque</a>)
**Repository:** <a href="https://github.com/spectrapepper/spectrapepper" target ="_blank">https://github.com/spectrapepper/spectrapepper</a>
**Version:** 0.1.0
**Editor:** @rkurchin
**Reviewers:** @stuartcampbell, @ksunden
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :w

[2021-09-23 14:44] whedon commented on #3759
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-23 14:44] whedon commented on #3759
Wordcount for `paper.md` is 884

[2021-09-23 14:44] whedon commented on #3759
[code]

[2021-09-23 14:44] whedon commented on #3759
[code]

[2021-09-23 14:44] whedon commented on #3759
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03759/joss.03759/10.21105.joss.03759.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03759/joss.03759/10.21105.joss.03759.pdf) :page_facing_up: :point_left:

[2021-09-23 14:45] Bisaloo commented on #3744
:wave: @dombennett, you signaled interest in reviewing papers for JOSS? Would you have time to review this paper & package that matches the research interests you listed.

[2021-09-23 14:47] kthyng commented on #3757
Hi @god-s-perfect-idiot and thanks for your submission. Can you edit your paper to begin with a jargon-free explanation of the purpose of the software that a technical person outside of your field can understand? Also, the statement of need should explain why the software is useful (less jargon and fewer acronyms is always better) as well as the research applications. Thanks.

[2021-09-23 14:48] kthyng commented on #3758
@whedon generate pdf from branch JOSSpaper

[2021-09-23 14:48] whedon commented on #3758
[code]

[2021-09-23 14:49] whedon commented on #3758
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03758/joss.03758/10.21105.joss.03758.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03758/joss.03758/10.21105.joss.03758.pdf) :page_facing_up: :point_left:

[2021-09-23 14:49] kthyng commented on #3757
I'm going to add the "paused" label in the meantime since this will be a necessary step before determining if the submission is in scope.

[2021-09-23 14:51] kthyng commented on #3758
@whedon assign me as editor

[2021-09-23 14:51] whedon commented on #3758
OK, the editor is @kthyng

[2021-09-23 14:54] kthyng commented on #3759
@rkurchin is this a good fit for you?

[2021-09-23 14:54] kthyng commented on #3759
@whedon invite @rkurchin as editor

[2021-09-23 14:54] whedon commented on #3759
@rkurchin has been invited to edit this submission.

[2021-09-23 14:56] kthyng commented on #3758
Hi @briochemc! Please check out the [reviewer list](https://bit.ly/joss-reviewers) and think through your own network of people you know (who aren't conflicted) to let me know some suggestions for reviewers. List their github handles here without the "@" prefix so they aren't preemptively pinged.

[2021-09-23 15:04] god-s-perfect-idiot commented on #3757
Hi @kthyng thanks for the review. I shall make the suggested changes to the paper.

[2021-09-23 15:16] biblicabeebli commented on #3417
Not at the moment!  I have been stitching some important bug fixes together, just starting to update github issues, post new ones.

Your two posts are https://github.com/onnela-lab/beiwe-backend/issues/210 and https://github.com/onnela-lab/beiwe-backend/issues/208.

The documentation issues are-in-fact helpful, and we have [another issue tracking merging in the old wiki](https://github.com/onnela-

[2021-09-23 15:22] kthyng commented on #3757
"Can you edit your paper to begin with a jargon-free explanation of the purpose of the software that a technical person outside of your field can understand?" was meant to refer to the summary and "Also, the statement of need should explain why the software is useful (less jargon and fewer acronyms is always better) as well as the research applications." to the statement of need section.

[2021-09-23 15:25] god-s-perfect-idiot commented on #3757
Alright. That is clear. Thank you.

[2021-09-23 15:39] god-s-perfect-idiot commented on #3757
@kthyng the suggested changes have been made and the paper was edited. Can you please take another look?
Thank you

[2021-09-23 15:52] richardjgowers commented on #3690
@whedon assign @richardjgowers as editor

[2021-09-23 15:52] whedon commented on #3690
OK, the editor is @richardjgowers

[2021-09-23 16:08] mfleschutz commented on #3625
@olejandro, thank you for the valuable feedback.

I considered both points in the [latest changes of the paper](https://github.com/DrafProject/elmada/commit/3b082b53ed0e2fc2bbb8e9432799ddda17380eb7). Maybe some brief background: My modeling background lies in the optimization of the energy systems of individual industrial and commercial businesses. In such a low-level model, the intention is to ev

[2021-09-23 16:09] mfleschutz commented on #3625
@whedon generate pdf

[2021-09-23 16:09] whedon commented on #3625
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03625/joss.03625/10.21105.joss.03625.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03625/joss.03625/10.21105.joss.03625.pdf) :page_facing_up: :point_left:

[2021-09-23 17:03] rkurchin commented on #3759
@whedon assign me as editor

Sure, happy to!

[2021-09-23 17:03] whedon commented on #3759
OK, the editor is @rkurchin

[2021-09-23 17:15] kthyng commented on #3757
@whedon generate pdf

[2021-09-23 17:16] whedon commented on #3757
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03757/joss.03757/10.21105.joss.03757.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03757/joss.03757/10.21105.joss.03757.pdf) :page_facing_up: :point_left:

[2021-09-23 17:19] Shibabrat commented on #3482
@kthyng thank you for the feedback. I've changed the typesetting for references throughout and used `()` for enclosing references to improve readability.

[2021-09-23 17:19] Shibabrat commented on #3482
@whedon generate pdf

[2021-09-23 17:20] whedon commented on #3482
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03482/joss.03482/10.21105.joss.03482.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03482/joss.03482/10.21105.joss.03482.pdf) :page_facing_up: :point_left:

[2021-09-23 17:26] kthyng commented on #3757
@god-s-perfect-idiot I don't see improvement in the paper, just a few small changes.  Here are more suggestions:

Summary:
* what is "instruction set architecture" and why do people care about it?
* what field or fields is this in?

Statement of need:
* Who might use this software
* What software already exists in this area
* Compare this software with the software that already exists
* Make a com

[2021-09-23 17:29] kthyng commented on #3482
@Shibabrat Ok I see changes, but your references still include a number of improperly capitalized words. Please check through more carefully.

[2021-09-23 17:29] god-s-perfect-idiot commented on #3757
@kthyng Thanks for the review. I will make these changes. I apologize for not addressing these issues.

[2021-09-23 17:32] whedon commented on #3708
:wave: @elimillera, please update us on how your review is going (this is an automated reminder).

[2021-09-23 17:32] whedon commented on #3708
:wave: @martinmodrak, please update us on how your review is going (this is an automated reminder).

[2021-09-23 17:42] whedon commented on #3709
:wave: @omshinde, please update us on how your review is going (this is an automated reminder).

[2021-09-23 17:42] whedon commented on #3709
:wave: @kanishkan91, please update us on how your review is going (this is an automated reminder).

[2021-09-23 17:49] bmcfee commented on #3613
Thanks @rob-luke - I think that should be fine from the reference side.

You are right that there does not appear to be a DOI for that particular reference. I think it's okay to leave it as is; citing the entire proceedings would be confusing.

Some last minor comments on the article from my side:

- End of paragraph 1 is a sentence fragment
- Line 35: "users responses" => "users' responses" or "u

[2021-09-23 17:57] omshinde commented on #3709
@crvernon Thanks for the reminder. I just finished my other JOSS review and would be able to progress fast with GemGIS submission now. I am very excited and looking forward.

[2021-09-23 18:04] omshinde commented on #3541
@whedon generate pdf

[2021-09-23 18:06] whedon commented on #3541
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03541/joss.03541/10.21105.joss.03541.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03541/joss.03541/10.21105.joss.03541.pdf) :page_facing_up: :point_left:

[2021-09-23 18:07] omshinde commented on #3541
Hi @elbeejay, @ebocher
Thank you to the authors for addressing the comments patiently and promptly. I am very happy with the submission and feel elated to accept the "GeoClimate: a Geospatial processing toolbox for environmental and climate studies" for publication in JOSS. Congratulations to the authors for their efforts in making a great contribution to the scientific community.

@elbeejay Thank

[2021-09-23 18:26] abartlett004 commented on #3358
Thanks for making the revisions! The paper overall looks much better to me now. The writing quality is much improved and the discussion and examples of other existing packages really helped me to understand why your package is substantial. My final comment is that I think you forgot to insert the flowchart regarding which functions to use. Other than that, everything looks good!

[2021-09-23 19:08] arbennett commented on #3541
Hi @elbeejay & @ebocher - I am also happy to say that I am ready to accept this submission for publication in JOSS! Thanks again to @ebocher & the rest of the team for the quick turnaround, great work!

[2021-09-23 19:16] whedon commented on #3710
:wave: @astrojuanlu, please update us on how your review is going (this is an automated reminder).

[2021-09-23 19:16] whedon commented on #3710
:wave: @helgee, please update us on how your review is going (this is an automated reminder).

[2021-09-23 19:18] KristianNelson commented on #3383
@fsanchez-trigueros thank you for your comments.

I'll try to answer the questions and respond to comments in order.

Generalization:

This package does have potential to be applied elsewhere other than CONUS, and I agree that it would be a huge enhancement which would attract more users. The challenge is that the `gamut` package is rather specific to the data that it pulls in. For example, the cr

[2021-09-23 19:24] osorensen commented on #3702
Thanks for your reviews, @zen-juen and @espenhgn! @richrobe, please resolve these issues, and keep us updated on how the work is going.

[2021-09-23 19:25] whedon commented on #3711
:wave: @goerz, please update us on how your review is going (this is an automated reminder).

[2021-09-23 19:25] whedon commented on #3711
:wave: @obliviateandsurrender, please update us on how your review is going (this is an automated reminder).

[2021-09-23 19:59] nmstreethran commented on #3625
@mfleschutz I don't think a Read the Docs documentation is necessary at this point either. Since there are docstrings and hints available, the core functionality documented in the README is sufficient, in my opinion. It's definitely something to consider if you expand upon the functionality of the software in the future.

Apologies for the delay in completing the rest of my review. I'll get this d

[2021-09-23 20:15] whedon opened #3760 "[PRE REVIEW]: EDO.js: A comprehensive JavaScript library for interaction with musical set theory in any tuning"
**Submitting author:** @MichaelSel (<a href="http://orcid.org/0000-0002-6061-0674">Michael Seltenreich</a>)
**Repository:** <a href="https://github.com/MichaelSel/edoJS" target ="_blank">https://github.com/MichaelSel/edoJS</a>
**Version:** v1.2.13
**Editor:** @bmcfee
**Reviewers:** @napulen, @albincorreya
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to th

[2021-09-23 20:15] whedon commented on #3760
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-23 20:15] whedon commented on #3760
Wordcount for `paper.md` is 694

[2021-09-23 20:15] whedon commented on #3760
PDF failed to compile for issue #3760 with the following error:
[code]

[2021-09-23 20:15] whedon commented on #3760
[code]

[2021-09-23 20:15] whedon commented on #3760
Failed to discover a valid open source license.

[2021-09-23 20:34] 62442katieb commented on #2692
I just finished looking over the revised manuscript, documentation, and software. My comments are below:

Manuscript:
- line 12: "... we introduce UVehavior, **and** open-source tool..." I believe the bold "and" should be "an"
- line 75: "... whereas the horizontal one represents the _chronological order_..."; it would be more accurate to say that the horizontal axis represents time, as it present

[2021-09-23 20:50] MichaelSel commented on #3760
expectopatronum and adammichaelwood may be suitable to review the paper

On Thu, Sep 23, 2021 at 10:15 PM whedon ***@***.***> wrote:

[2021-09-23 20:51] MichaelSel commented on #3760
@whedon generate pdf

On Thu, Sep 23, 2021 at 10:15 PM whedon ***@***.***> wrote:

[2021-09-23 20:51] whedon commented on #3760
PDF failed to compile for issue #3760 with the following error:
[code]

[2021-09-23 20:57] MichaelSel commented on #3760
@whedon generate pdf

On Thu, Sep 23, 2021 at 10:51 PM whedon ***@***.***> wrote:

[2021-09-23 20:58] whedon commented on #3760
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03760/joss.03760/10.21105.joss.03760.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03760/joss.03760/10.21105.joss.03760.pdf) :page_facing_up: :point_left:

[2021-09-23 21:05] MichaelSel commented on #3760
@whedon commands

On Thu, Sep 23, 2021 at 10:58 PM whedon ***@***.***> wrote:

[2021-09-23 21:05] whedon commented on #3760
Here are some things you can ask me to do:

[code]

[2021-09-23 21:07] dbuscombe-usgs commented on #3666
I'm on vacation for a week then I can get to finalizing my review. Apologies, I left the computer at home ...

[2021-09-23 21:18] MichaelSel commented on #3760
@whedon generate pdf

On Thu, Sep 23, 2021 at 11:05 PM whedon ***@***.***> wrote:

[2021-09-23 21:18] whedon commented on #3760
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03760/joss.03760/10.21105.joss.03760.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03760/joss.03760/10.21105.joss.03760.pdf) :page_facing_up: :point_left:

[2021-09-23 21:19] kthyng commented on #3760
Hi @MichaelSel and thanks for your submission. Our relevant editors are at full capacity at the moment, but one should become available shortly. I'll put your submission on the waitlist for now and thanks for your patience.

[2021-09-23 21:23] arfon commented on #3349
Having the titles match is a strong preference but not essential for JOSS. As such I propose we close this thread unless the authors especially care about this.

[2021-09-23 21:24] MichaelSel commented on #3760
@whedon generate pdf

On Thu, Sep 23, 2021 at 11:19 PM whedon ***@***.***> wrote:

[2021-09-23 21:24] whedon commented on #3760
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03760/joss.03760/10.21105.joss.03760.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03760/joss.03760/10.21105.joss.03760.pdf) :page_facing_up: :point_left:

[2021-09-23 21:26] MichaelSel commented on #3760
@whedon check references

On Thu, Sep 23, 2021 at 11:24 PM whedon ***@***.***> wrote:

[2021-09-23 21:26] whedon commented on #3760
[code]

[2021-09-23 21:26] MichaelSel commented on #3760
Thanks Kristen!

On Thu, Sep 23, 2021 at 11:19 PM Kristen Thyng ***@***.***>
wrote:

[2021-09-23 21:37] MichaelSel commented on #3760
@whedon generate pdf

On Thu, Sep 23, 2021 at 11:26 PM whedon ***@***.***> wrote:

[2021-09-23 21:37] whedon commented on #3760
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03760/joss.03760/10.21105.joss.03760.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03760/joss.03760/10.21105.joss.03760.pdf) :page_facing_up: :point_left:

[2021-09-23 21:41] benjaminbolling commented on #3431
Hi, almost there - just need 1 more day and I will push it to git.

[2021-09-23 22:34] martinfleis commented on #3712
@whedon add @1tylermitchell as reviewer

[2021-09-23 22:34] whedon commented on #3712
OK, @1tylermitchell is now a reviewer

[2021-09-23 22:35] martinfleis commented on #3712
@whedon start review

[2021-09-23 22:35] whedon opened #3761 "[REVIEW]: DRSP-Sim: A Simulator for Ride-Sharing with Pooling: Joint Matching, Pricing, Route Planning, and Dispatching"
**Submitting author:** @marina-haliem (<a href="http://orcid.org/0000-0002-9782-6591">Marina Haliem</a>)
**Repository:** https://github.com/marina-haliem/Dynamic-RideSharing-Pooling-Simulator
**Branch with paper.md** (empty if default branch):
**Version:** v1.1
**Editor:** @martinfleis
**Reviewers:** @RafalKucharskiPK, @martinfleis, @jGaboardi
**Archive:** Pending

**:warning: JOSS reduced service

[2021-09-23 22:35] whedon commented on #3712
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3761.

[2021-09-23 22:35] #3712 closed

[2021-09-23 22:35] whedon commented on #3761
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @RafalKucharskiPK, @1tylermitchell it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog

[2021-09-23 22:35] whedon commented on #3761
Wordcount for `paper.md` is 1528

[2021-09-23 22:35] whedon commented on #3761
[code]

[2021-09-23 22:35] whedon commented on #3761
[code]

[2021-09-23 22:36] whedon commented on #3761
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03761/joss.03761/10.21105.joss.03761.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03761/joss.03761/10.21105.joss.03761.pdf) :page_facing_up: :point_left:

[2021-09-23 22:37] martinfleis commented on #3761
👋🏼 @marina-haliem @RafalKucharskiPK @1tylermitchell this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is di

[2021-09-23 22:39] martinfleis commented on #3761
I am copying here https://github.com/openjournals/joss-reviews/issues/3712#issuecomment-924912823 from @RafalKucharskiPK for completeness. 👇

Dear @marina-haliem
 I cloned the repo, downloaded the data (from https://purr.purdue.edu/publications/3843/1), created conda env, installed most of dependencies and run `simulator_driver.py`.

 Minor issues that I managed to overcome:
1. you require pandas=

[2021-09-23 23:41] rob-luke commented on #3613
Thanks for the review @bmcfee. I removed the entire sentence fragment as the same content was addressed in the final paragraph. I changed `users responses` to `participant's responses`, and fixed the typo you found. Thanks for the extra set of eyes!

I just released a new version of the software. And also created a Zenodo doi `10.5281/zenodo.5525443`.

[2021-09-24 01:00] diehlpk commented on #3020
@whedon check references from branch joss

[2021-09-24 01:00] whedon commented on #3020
[code]

[2021-09-24 01:01] whedon commented on #3020
[code]

[2021-09-24 01:01] diehlpk commented on #3020
@whedon check references from branch joss

[2021-09-24 01:01] whedon commented on #3020
[code]

[2021-09-24 01:02] whedon commented on #3020
[code]

[2021-09-24 01:05] diehlpk commented on #3020
@Kevin-Mattheus-Moerman Yes, several references doing this, however, I decided to use peridynamic and many other authors do this.

This is written on Wikipedia for the difference between peridynamic and peridyanmic*s*.

[2021-09-24 01:06] diehlpk commented on #3020
@whedon generate paper from branch joss

[2021-09-24 01:06] whedon commented on #3020
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-09-24 01:06] diehlpk commented on #3020
@whedon generate pdf from branch joss

[2021-09-24 01:06] whedon commented on #3020
[code]

[2021-09-24 01:07] whedon commented on #3020
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03020/joss.03020/10.21105.joss.03020.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03020/joss.03020/10.21105.joss.03020.pdf) :page_facing_up: :point_left:

[2021-09-24 03:01] god-s-perfect-idiot commented on #3757
Hi @kthyng the changes have been made. Can u please re-review? Thanks

[2021-09-24 04:13] briochemc commented on #3758
Hi @kthyng! Here are some suggestions for reviewers :
- from the reviewer list:
    - ali-ramadhan
    - dankelley
    - patrickcgray
    - callumrollo
    - DamienIrving
    - mauro3
- and from my network (GitHub handles):
    - gaelforget
    - zhenwu0728
    - gregbritten

[2021-09-24 04:14] briochemc commented on #3758
@whedon commands

[2021-09-24 04:14] alcantarar commented on #3714
@whedon remind @alcantarar in 2 days 🙄

[2021-09-24 04:14] whedon commented on #3758
Here are some things you can ask me to do:

[code]

[2021-09-24 04:14] whedon commented on #3714
I'm sorry @alcantarar, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-09-24 05:29] melund commented on #3714
Sorry for the delay in getting to this. I hope to look at it in the weekend.

[2021-09-24 05:37] hugoledoux commented on #3471
@whedon generate pdf from branch paper

[2021-09-24 05:37] whedon commented on #3471
[code]

[2021-09-24 05:37] whedon commented on #3471
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03471/joss.03471/10.21105.joss.03471.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03471/joss.03471/10.21105.joss.03471.pdf) :page_facing_up: :point_left:

[2021-09-24 06:32] mvremec commented on #3730
That's a pity, but thank you for your time and effort @kthyng and @Kevin-Mattheus-Moerman! We will keep developing the package and consider resubmitting it in the future!

[2021-09-24 07:10] mfleschutz commented on #3625
@olejandro, @nmstreethran, thank you for your feedback and time invest.

[2021-09-24 07:51] Kevin-Mattheus-Moerman commented on #3349
@arfon okay fine with me. FYI the author set is also different (all contributors are listed on ZENODO).

[2021-09-24 08:08] phoebe-p commented on #3460
@arfon, what are next steps now that the checklist is completed?

[2021-09-24 08:35] Bisaloo commented on #3744
Hi @kamapu :wave:, I saw your post on rOpenSci slack and this package seems relevant to your interests. Would you be able to help JOSS with a review?

[2021-09-24 09:23] martinagvilas commented on #3669
@oliviaguest the authors have addressed my points as well, so happy for this work to be accepted!

[2021-09-24 09:57] mikesmithlab commented on #3611
Hi I'm not sure what I need to do to fix this. The "Missing DOIs" cites a doi that points to the correct article. However, this is the same DOI which is in my paper.bib file. That DOI also appears correctly in the preprint generated above.

[2021-09-24 10:01] kamapu commented on #3744
This seems to be an interesting package. I may not feel comfortable reviewing a package but if the matter of review is a manuscript, I can take the challenge :+1:

[2021-09-24 10:37] #3349 closed

[2021-09-24 10:38] whedon commented on #3349
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03349/status.svg)](https://doi.org/10.21105/joss.03349)

**We need your help!**

Journal of Open Source Softwa

[2021-09-24 10:38] arfon commented on #3460
@Phoebe – At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the author

[2021-09-24 11:56] Bisaloo commented on #3744
@kamapu, thanks for your answer. You can learn more about the review process at JOSS in [our documentation](https://joss.readthedocs.io/en/latest/index.html). The section ["review criteria"](https://joss.readthedocs.io/en/latest/review_criteria.html) and ["review checklist"](https://joss.readthedocs.io/en/latest/review_checklist.html) should answer your questions.

In short, we review both [the pa

[2021-09-24 12:23] whedon commented on #3714
:wave: @melund, please update us on how your review is going (this is an automated reminder).

[2021-09-24 12:23] whedon commented on #3714
:wave: @alcantarar, please update us on how your review is going (this is an automated reminder).

[2021-09-24 12:40] blsqr commented on #3608
@whedon generate pdf

[2021-09-24 12:41] whedon commented on #3608
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03608/joss.03608/10.21105.joss.03608.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03608/joss.03608/10.21105.joss.03608.pdf) :page_facing_up: :point_left:

[2021-09-24 12:44] bmcfee commented on #3613
@whedon generate pdf from branch manuscript

[2021-09-24 12:44] whedon commented on #3613
[code]

[2021-09-24 12:45] whedon commented on #3613
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03613/joss.03613/10.21105.joss.03613.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03613/joss.03613/10.21105.joss.03613.pdf) :page_facing_up: :point_left:

[2021-09-24 12:48] bmcfee commented on #3613
@whedon set 10.5281/zenodo.5525443 as archive

[2021-09-24 12:48] whedon commented on #3613
OK. <a href="https://doi.org/10.5281/zenodo.5525443" target="_blank">10.5281/zenodo.5525443</a> is the archive.

[2021-09-24 12:49] bmcfee commented on #3613
@whedon recommend-accept

[2021-09-24 12:49] whedon commented on #3613
[code]

[2021-09-24 12:49] whedon commented on #3613
PDF failed to compile for issue #3613 with the following error:
[code]

[2021-09-24 12:49] bmcfee commented on #3613
Thanks for the fixes @rob-luke -- everything's looking good!

[2021-09-24 12:49] phoebe-p commented on #3460
Ok, I have made a new release version which is v1.0.1. Zenodo archive DOI with that release is 10.5281/zenodo.5526536

[2021-09-24 12:56] bmcfee commented on #3540
Just as a heads up, I have been in contact with the reviewers and this will be moving along shortly.

[2021-09-24 13:00] fgjorup commented on #3546
I will be out of country most of next week, but I will try to find some spare time to look at it!

[2021-09-24 13:06] bmcfee commented on #3613
@whedon recommend-accept from branch manuscript

[2021-09-24 13:06] whedon commented on #3613
[code]

[2021-09-24 13:06] whedon commented on #3613
[code]

[2021-09-24 13:06] whedon commented on #3613
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2607

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2607, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-24 13:48] diehlpk commented on #3465
@elwinter How is your revision going?

[2021-09-24 13:48] diehlpk commented on #3465
@taless474 How is your review going?

[2021-09-24 14:19] brunaw commented on #3540
Dear @VBlesius apologies for such a big delay, I know it's very annoying to have your publication delayed because of this.

Thank you for the changes in the package, documentation & paper. I have been through your answers and it all seems good to me. One final thing, I didn't find the contribution guide (with how to 1) Contribute to the software 2) Report issues or problems with the software 3) Se

[2021-09-24 14:26] elimillera commented on #3708
Review is going well. I've reviewed the easy things to check and so far so good. Its been a couple years from when I was last working with models like these so I'm taking some time and checking some other sources as I go through it. I expect to be close to finished in the next 2-3 weeks.

[2021-09-24 14:42] kamapu commented on #3744
I learned programming by doing but it may be the case of many of us, thus I may oversee some technical details but I can take the challenge of assessing this package and attached article from the perspective of an user.

[2021-09-24 15:00] Bisaloo commented on #3744
Great! Thank you for your help! Let me find a second reviewer and we can get started.

[2021-09-24 15:01] Bisaloo commented on #3744
@whedon add @kamapu as reviewer

[2021-09-24 15:01] whedon commented on #3744
OK, @kamapu is now a reviewer

[2021-09-24 15:34] RodDalBen commented on #3449
Hi @takuma929 I have revised the manuscript and the toolbox following your suggestions (i.e., added diagnostic plots, reversed the order of the text in the sections summary and the statement, + minor changes). I will mark your comments as closed, but I will be looking forward for new comments.

Hi @da5nsy, following our discussion [here](https://github.com/RodDalBen/SHINE_color/issues/6), I've add

[2021-09-24 15:35] RodDalBen commented on #3449
@whedon generate pdf

[2021-09-24 15:35] whedon commented on #3449
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03449/joss.03449/10.21105.joss.03449.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03449/joss.03449/10.21105.joss.03449.pdf) :page_facing_up: :point_left:

[2021-09-24 15:38] patrickfuchs commented on #3521
@arfon, could you please update the paper? Thanks in advance.

[2021-09-24 16:44] da5nsy commented on #3449
Thanks @RodDalBen, and apologies for my lack of reply to your thoughtful and in-depth message on that thread yet. I'll get there soon I hope.

[2021-09-24 17:09] blsqr commented on #3608
I opened a few additional issues in the [cellpylib project](https://github.com/lantunes/cellpylib/issues?q=is%3Aissue+is%3Aopen+JOSS) and would also pause my review at this point, continuing next week.

I believe I have arrived at a rather similar point as @szhorvat [above](https://github.com/openjournals/joss-reviews/issues/3608#issuecomment-922474364), where I am unclear about the scope of and l

[2021-09-24 17:19] slwu89 commented on #3539
@mikldk would you like me to look over the list of potential reviewers again to suggest another alternative person? Or would it be appropriate to publish with 2 reviewers? I'm also interested in getting this review wrapped up as soon as possible. Thanks for your help editing our submission!

[2021-09-24 19:13] fraukewiese commented on #3601
@whedon generate pdf

[2021-09-24 19:14] whedon commented on #3601
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03601/joss.03601/10.21105.joss.03601.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03601/joss.03601/10.21105.joss.03601.pdf) :page_facing_up: :point_left:

[2021-09-24 19:15] fraukewiese commented on #3601
@whedon check references

[2021-09-24 19:15] whedon commented on #3601
[code]

[2021-09-24 19:37] fraukewiese commented on #3601
Both reviewers have stated that @crvernon has addressed all of their comments. We thus proceed to the final steps.

[2021-09-24 19:38] fraukewiese commented on #3601
@crvernon
At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (ma

[2021-09-24 19:46] mikldk commented on #3677
@kblin, can you please give a brief status of your review? This is not to rush you, merely to give me an impression of the progress and time-frame.

[2021-09-24 19:48] mikldk commented on #3539
@slwu89 Unfortunately @seabbs is unresponsive, but we will proceed as two other reviewers already reviewed the paper.

* Please have a final read though of the paper, checking language etc.
* Have a final check of the proofs with `@whedon generate pdf`
* In general, be sure that all versions are correct and that the repo is in the state that should be published.
* Please make a tagged release and

[2021-09-24 19:53] jedbrown commented on #3696
I see this project is linked from [WUDAPT's website](https://www.wudapt.org/wudapt-to-wrf/), representing an endorsement by that community. (The link from w2w's README to www.wudapt.org is broken, BTW.)

I think this project needs to be packaged properly (pip and/or conda installable). That'll also mean `w2w_requirements.txt` needs to stop referring to internal conda files, among other things. It

[2021-09-24 20:20] kthyng commented on #3696
Hi @matthiasdemuzere and thanks for your submission. @jedbrown's input is similar to what several other editors said in regard to the fit of this submission: while the lines of code is a bit low, in particular the lack of packaging makes it too hard for other people to use, and represents what the readme describes as this being still in "beta" stage. Submission to JOSS seems a bit preemptive at th

[2021-09-24 20:20] kthyng commented on #3696
@whedon reject

[2021-09-24 20:20] whedon commented on #3696
Paper rejected.

[2021-09-24 20:20] #3696 closed

[2021-09-24 20:20] whedon opened #3762 "[PRE REVIEW]: Correlated random walk propagation of cosmic rays in magnetic turbulence"
**Submitting author:** @reichherzerp (<a href="http://orcid.org/0000-0003-4513-8241">Patrick Reichherzer</a>)
**Repository:** <a href="https://gitlab.ruhr-uni-bochum.de/reichp2y/rwpropa" target ="_blank">https://gitlab.ruhr-uni-bochum.de/reichp2y/rwpropa</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning

[2021-09-24 20:21] whedon commented on #3762
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-24 20:21] whedon opened #3763 "[PRE REVIEW]: Taichi_LBM3D: A 3D lattice Bolzmann solver in Taichi"
**Submitting author:** @ly16302 (<a href="http://orcid.org/0000-0003-0901-0929">Liang Yang</a>)
**Repository:** <a href="https://github.com/yjhp1016/taichi_LBM3D" target ="_blank">https://github.com/yjhp1016/taichi_LBM3D</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2021-09-24 20:21] whedon commented on #3763
Wordcount for `paper.md` is 902

[2021-09-24 20:21] whedon commented on #3763
[code]

[2021-09-24 20:21] whedon commented on #3763
[code]

[2021-09-24 20:22] whedon commented on #3763
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03763/joss.03763/10.21105.joss.03763.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03763/joss.03763/10.21105.joss.03763.pdf) :page_facing_up: :point_left:

[2021-09-24 20:22] kthyng commented on #3642
@openjournals/dev, @arfon  I'm going to stop checking this after today so I wanted to get one more ping in. The DOI is not resolving for me, 2 days later.

[2021-09-24 20:24] kthyng commented on #3763
Hi @ly16302 and thanks for your submission. Since the number of lines of code is borderline (around 1000), I am going to ask the greater editorial board to take a look and see if this is in scope. This process will take 1-2 weeks. Thanks for your patience.

[2021-09-24 20:24] kthyng commented on #3763
@whedon query scope

[2021-09-24 20:24] whedon commented on #3763
Submission flagged for editorial review.

[2021-09-24 20:33] kthyng commented on #3613
Hi @rob-luke! Final steps to wrap up here. Can you update the Zenodo archive metadata so the title and author list exactly match the JOSS paper?

[2021-09-24 20:40] kthyng commented on #3613
Paper comments:
* first page, "existing tools such as (Carcagno 2012)" — this reference should be inline, not parenthetical. You can make this change by removing the [] around the reference.
* final sentence in that paragraph — don't start a sentence with "i.e", at least write out as 'That is' or change wording.
* Same parenthetical problem with a reference in the "Notes" section.
* fix capitaliza

[2021-09-24 20:48] kthyng commented on #3757
@whedon generate pdf

[2021-09-24 20:48] whedon commented on #3757
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03757/joss.03757/10.21105.joss.03757.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03757/joss.03757/10.21105.joss.03757.pdf) :page_facing_up: :point_left:

[2021-09-24 20:49] kthyng commented on #3762
@whedon check repository

[2021-09-24 20:49] whedon commented on #3762
Wordcount for `paper.md` is 1681

[2021-09-24 20:49] whedon commented on #3762
[code]

[2021-09-24 20:58] kthyng commented on #3762
Hi @reichherzerp and thanks for your submission. Since it is on the border of our acceptable size, I am going to ping the editorial board to check it out in more detail to make sure it is in scope. This process will take 1-2 weeks, thanks for your patience.

[2021-09-24 20:59] kthyng commented on #3762
@whedon query scope

[2021-09-24 20:59] whedon commented on #3762
Submission flagged for editorial review.

[2021-09-24 21:00] danielskatz commented on #3762
@whedon generate pdf

[2021-09-24 21:01] whedon commented on #3762
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03762/joss.03762/10.21105.joss.03762.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03762/joss.03762/10.21105.joss.03762.pdf) :page_facing_up: :point_left:

[2021-09-24 21:01] danielskatz commented on #3762
@whedon check references

[2021-09-24 21:01] whedon commented on #3762
[code]

[2021-09-24 21:16] kthyng commented on #2863
I think we can proceed without hearing from @oliviaguest on this small issue. Seems fine as is.

[2021-09-24 21:16] kthyng commented on #2863
@whedon accept deposit=true

[2021-09-24 21:16] whedon commented on #2863
[code]

[2021-09-24 21:16] whedon commented on #2863
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1441511959107706883) 👈 🐦🐦🐦

[2021-09-24 22:31] lorenzo-rovigatti commented on #3697
Sure! I'll be happy to review the submission, it looks neat.

[2021-09-24 22:31] kthyng commented on #2863
Congrats on your new publication @dmey! Many thanks to editor @oliviaguest and reviewers @khinsen and @mnarayan for your time, hard work, and expertise!

[2021-09-24 22:31] #2863 closed

[2021-09-24 22:31] whedon commented on #2863
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02863/status.svg)](https://doi.org/10.21105/joss.02863)

**We need your help!**

Journal of Open Source Softwa

[2021-09-24 22:50] rob-luke commented on #3613
@whedon generate pdf from branch manuscript

[2021-09-24 22:50] whedon commented on #3613
[code]

[2021-09-24 22:50] whedon commented on #3613
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03613/joss.03613/10.21105.joss.03613.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03613/joss.03613/10.21105.joss.03613.pdf) :page_facing_up: :point_left:

[2021-09-24 22:55] rob-luke commented on #3613
Thanks for carefully checking the details @kthyng. I have updated the zenodo title and made the changes to the manuscript and bib that you suggested. Please let me know if there is anything else I should do. Cheers

[2021-09-24 23:56] elbeejay commented on #3541
Thanks again to our reviewers. @ebocher and co-authors I've opened a minor PR recommending some slight edits to the grammar of the paper, please review and decide if you would like to incorporate those.

Once that decision is made, there are just a few items that need to be taken care of:

- [ ] Make a tagged release of the software and report the version tag for the archived code here
- [ ] Archi

[2021-09-25 01:57] crvernon commented on #3601
@fraukewiese My release version is `v2.0.9` and my DOI is 10.5281/zenodo.5527334

Thanks!

[2021-09-25 06:35] matthiasdemuzere commented on #3696
All,

Thanks for the assessment and the constructive feedback. I'll look into all of this with my co-authors, and will re-submit once we have implemented the requested developments.

[2021-09-25 07:30] ajstewartlang commented on #3697
@whedon add @lorenzo-rovigatti as reviewer

[2021-09-25 07:30] whedon commented on #3697
OK, @lorenzo-rovigatti is now a reviewer

[2021-09-25 07:30] ajstewartlang commented on #3697
Many thanks for agreeing to review this submission @zbeekman and @lorenzo-rovigatti - it's very much appreciated! I'll start the review now...

[2021-09-25 07:30] ajstewartlang commented on #3697
@whedon start review

[2021-09-25 07:30] whedon opened #3764 "[REVIEW]: epyc: Computational experiment management in Python"
**Submitting author:** @simoninireland (<a href="http://orcid.org/0000-0001-9633-2103">Simon Dobson</a>)
**Repository:** https://github.com/simoninireland/epyc
**Branch with paper.md** (empty if default branch):
**Version:** v1.6.2
**Editor:** @ajstewartlang
**Reviewers:** @zbeekman, @lorenzo-rovigatti, @amritagos
**Archive:** 10.5281/zenodo.6460760

**:warning: JOSS reduced service mode :warning:

[2021-09-25 07:30] whedon commented on #3697
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3764.

[2021-09-25 07:30] #3697 closed

[2021-09-25 07:30] whedon commented on #3764
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @zbeekman, @lorenzo-rovigatti it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post]

[2021-09-25 07:30] whedon commented on #3764
Wordcount for `paper.md` is 932

[2021-09-25 07:31] whedon commented on #3764
[code]

[2021-09-25 07:31] whedon commented on #3764
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03764/joss.03764/10.21105.joss.03764.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03764/joss.03764/10.21105.joss.03764.pdf) :page_facing_up: :point_left:

[2021-09-25 07:31] whedon commented on #3764
[code]

[2021-09-25 12:32] LMMorgan commented on #3451
Hi @dpsanders, thank you for the update. The example I have given includes the VASP input files so there is no requirement to have a licence to run the example. If a user wanted to run their own potential fit from their dataset, they would need a vast licence or convert their output to a `vasprun.xml` format. I am hoping to generalise the input to include open-source in the next version of the cod

[2021-09-25 12:35] arianesasso commented on #3679
We finished implementing the suggestions :).
We left the issues open for comments, could you please check them? Thank you!

@djmitche (hpi-dhc/devicely#32) and @luciorq (hpi-dhc/devicely#37)

[2021-09-25 12:59] danielskatz commented on #3757
I'm going to remove the paused label and more formally start a scope discussion - I think we'll be able to finish this discussion next week

[2021-09-25 13:00] danielskatz commented on #3757
@whedon query scope

[2021-09-25 13:00] whedon commented on #3757
Submission flagged for editorial review.

[2021-09-25 13:03] danielskatz commented on #3682
Hi @agdturner - Given that there's really been nothing done here yet on the JOSS side, and there is work needed on the side of the author, I'm going to mark this as withdrawn.

Please feel free to resubmit when you are ready.  (Also, it's nice to see you here :) )

[2021-09-25 13:03] danielskatz commented on #3682
@whedon withdraw

[2021-09-25 13:03] whedon commented on #3682
Paper withdrawn.

[2021-09-25 13:03] #3682 closed

[2021-09-25 13:12] danielskatz commented on #3701
@whedon invite @oliviaguest as editor

[2021-09-25 13:13] whedon commented on #3701
@oliviaguest has been invited to edit this submission.

[2021-09-25 13:13] danielskatz commented on #3638
@whedon invite @oliviaguest as editor

[2021-09-25 13:13] whedon commented on #3638
@oliviaguest has been invited to edit this submission.

[2021-09-25 14:27] djmitche commented on #3679
Will do -- thanks!

[2021-09-25 14:29] djmitche commented on #2124
My task-tracker says it's been 1.7 years here and no response.  I think it's time to close this?

[2021-09-25 14:55] rhagenson commented on #2124
You know there is still a pandemic going on, right? And as mentioned above, I now work in epidemiology? Your task-tracker is my lowest priority.

@arfon My intent is still to complete this; that has not changed. However, nothing about my ability to reprioritize this has change either.

[2021-09-25 15:24] djmitche commented on #2124
Great, thanks for the reply!

[2021-09-25 16:25] baileythegreen commented on #3347
@faroit I have tried verifying the new functionality, but find I am now unable to run the software with my own data set. I tested it in a new virtual environment, with dependencies installed from the repo's `requirements.txt` file, and it still did not work. I'm not familiar enough with the inner workings to tell if this issue is caused by something on my end, or the software, but have given the t

[2021-09-25 17:16] clavigne commented on #3274
Hi @diehlpk , version 0.8.1 is the final version of the software for publication.

The Zenodo DOI is 10.5281/zenodo.5528107 (url: https://doi.org/10.5281/zenodo.5528107 )

Thank you,
Cyrille

[2021-09-25 17:49] vaneseltine commented on #3440
No worries, @majensen, the absence is on me -- I'll revise & improve the repo in line with these comments in the next week. Thanks, all!

[2021-09-25 17:54] fboehm commented on #3708
Thanks, @elimillera ! I appreciate your thoroughness. As you work through the review, please let me know if I can assist with anything. Thanks again!

[2021-09-25 18:43] fibreglass2 commented on #3736
Thanks to the reviewers for the detailed feedback. I will be working to investigate and address issues raised.

[2021-09-25 19:01] faroit commented on #3347
@baileythegreen thanks for letting me know. I will try to look into this myself then. Is checking the updated functionalities the only remaining issue?

[2021-09-25 19:21] fAndreuzzi commented on #3519
Hi @mjsottile, I would like to ask if you could consider the possibility of considering the review over even though there are several unticked checkboxes. I see this happened some times on JOSS, and that the average number of reviewers per paper is usually 2.

I'm proposing this solution since we have no information about a date in which the last reviewer might have some free time to complete the

[2021-09-25 19:46] fraukewiese commented on #3601
@whedon set <v2.0.9> as version

[2021-09-25 19:46] whedon commented on #3601
OK. <v2.0.9> is the version.

[2021-09-25 19:46] fraukewiese commented on #3601
@whedon set v2.0.9 as version

[2021-09-25 19:46] whedon commented on #3601
OK. v2.0.9 is the version.

[2021-09-25 19:48] fraukewiese commented on #3601
@crvernon The title in the archive does not exactly match the paper title: alternative instead of alternate.

[2021-09-25 19:49] fraukewiese commented on #3601
@whedon set 10.5281/zenodo.5527334 as archive

[2021-09-25 19:49] whedon commented on #3601
OK. <a href="https://doi.org/10.5281/zenodo.5527334" target="_blank">10.5281/zenodo.5527334</a> is the archive.

[2021-09-25 19:50] fraukewiese commented on #3601
@whedon recommend-accept

[2021-09-25 19:50] whedon commented on #3601
[code]

[2021-09-25 19:50] whedon commented on #3601
[code]

[2021-09-25 19:51] whedon commented on #3601
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2609

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2609, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-25 19:54] fraukewiese commented on #3574
/ooo September 26 until October 3

[2021-09-25 20:16] mjsottile commented on #3519
Hi @fAndreuzzi : that is my plan.  When a reviewer disappears with a partial review, but we have other completed reviews, I usually give them a few days after my last ping to see if they return.  Otherwise I carry on without it.  I believe we have enough with the completed reviews - I just need to give it a day or so until I have time to do my own final pass over the completed reviews and the pape

[2021-09-25 20:19] fAndreuzzi commented on #3519
@mjsottile Okay, this sounds like a good plan to me. Thank you very much for the fast reply!

[2021-09-25 20:33] larkz commented on #3587
@TimKam thank you for your notes, we will be working on addressing your review in the upcoming time.

@adi3 would it be possible to nominate more reviewer candidates (as the current nominees seem dormant), we reassessed the GSheet, and selected more potential reviewers,

@arcuri82 - arcuri82@gmail.com
@Zethson - lukas.heumos@posteo.net
@skadio - serdark@cs.brown.edu

Please let us know if we can g

[2021-09-25 20:36] Zethson commented on #3587
Currently (and in the near future) busy, sorry.

[2021-09-25 20:36] Kevin-Mattheus-Moerman commented on #3611
@mikesmithlab hmmm okay thanks. I'll alert @openjournals/dev but it looks like this should be fine.

[2021-09-25 21:16] crvernon commented on #3601
@fraukewiese yes, I changed the name in the paper as well. The original should have used "alternative" instead. The current is correct. Thank you!

[2021-09-25 21:22] crvernon commented on #3601
@whedon generate pdf

[2021-09-25 21:22] whedon commented on #3601
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03601/joss.03601/10.21105.joss.03601.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03601/joss.03601/10.21105.joss.03601.pdf) :page_facing_up: :point_left:

[2021-09-25 21:48] danielskatz commented on #3611
@mikesmithlab - the problem here is that you have not put some DOIs into the bib file as DOIs, but instead, as URLs.

See https://github.com/MikeSmithLabTeam/particletracker/pull/12 for a fix.  (I'm also removing the URLs that duplicate DOIs, though I think whedon just ignores these in favor of the DOIs anyhow)

[2021-09-25 22:16] adrn commented on #3675
@mikegrudic The submitted paper is excellent: concise, clearly written, and I don't have any comments or edits to suggest - nice work! Comments on the code are in: mikegrudic/pytreegrav#12

[2021-09-26 00:43] danielskatz commented on #3601
@whedon accept deposit=true

[2021-09-26 00:43] whedon commented on #3601
[code]

[2021-09-26 00:44] whedon commented on #3601
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1441926546080423947) 👈 🐦🐦🐦

[2021-09-26 00:44] whedon commented on #3601
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2610
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03601](https://doi.org/10.21105/joss.03601)
2. If everything look

[2021-09-26 00:50] danielskatz commented on #3601
Congratulations to @crvernon (Chris Vernon) and co-authors!!

And thanks to @lisazeyen and @willu47 for reviewing, and @fraukewiese for editing!
We couldn't do this without you

[2021-09-26 00:50] #3601 closed

[2021-09-26 00:50] whedon commented on #3601
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03601/status.svg)](https://doi.org/10.21105/joss.03601)

**We need your help!**

Journal of Open Source Softwa

[2021-09-26 00:53] athulpg007 commented on #3710
License has been updated to GPL-v3-or-later. Updated up header text from some files with the old CC-BY-SA-4.0 license text to reflect the new license. If this issue if resolved, I will close [athulpg007/AMAT/#3](https://github.com/athulpg007/AMAT/issues/3).

Removed pandas and jupyterlab from setup.py Listed package and readthedocs build dependencies in docs/requirements.txt. See if this resolves

[2021-09-26 01:36] karthikncsu opened #3765 "Installation: Does installation proceed as outlined in the documentation?"

[2021-09-26 01:36] whedon commented on #3765
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-09-26 01:36] #3765 closed

[2021-09-26 01:53] karthikncsu commented on #3765
Installation of the PDLSM-FEM solver software requires setting up the paths for MKLROOT and MPIROOT as mentioned in the manual: page 7 section 2.2 Build on Linux

export MKLROOT =/ homes / MKL_2020 / compilers_and_libraries_2020 .1.217/ linux / mkl
export MPIROOT =/ opt / software / OpenMPI /4.0.5 - iccifort -2020.4.304

I suppose these pathnames are available in the older version of intel paralle

[2021-09-26 01:55] karthikncsu commented on #3668
@QibangLiu

Installation of the PDLSM-FEM solver software requires setting up the paths for MKLROOT and MPIROOT as mentioned in the manual: page 7 section 2.2 Build on Linux

export MKLROOT =/ homes / MKL_2020 / compilers_and_libraries_2020 .1.217/ linux / mkl
export MPIROOT =/ opt / software / OpenMPI /4.0.5 - iccifort -2020.4.304

I suppose these pathnames are available in the older version of i

[2021-09-26 05:02] QibangLiu commented on #3668
@karthikncsu  Thanks for your comments. I didn't realize they closed the old version and released the oneAPI toolkit.
The principles to set environment variables are that:
 (a) Under the path "MKLROOT/include", there is the "mkl.h file", and under the path "MKLROOT/lib/intel64", there are libraries as the MKL link line advisor show, such as "libmkl_intel_ilp64.so", "libmkl_core.so".
(b) Under the

[2021-09-26 05:25] QibangLiu commented on #3668
@whedon generate pdf

[2021-09-26 05:25] whedon commented on #3668
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03668/joss.03668/10.21105.joss.03668.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03668/joss.03668/10.21105.joss.03668.pdf) :page_facing_up: :point_left:

[2021-09-26 05:25] dcsale commented on #3603
thanks for the message Kevin, but I am cannot take on any more work at the
moment, good luck with the code, sounds interesting!

with best regards,
Daniel Sale

On Sat, Sep 11, 2021 at 2:24 AM Kevin Mattheus Moerman <
***@***.***> wrote:

[2021-09-26 05:26] QibangLiu commented on #3668
@whedon check references

[2021-09-26 05:26] whedon commented on #3668
[code]

[2021-09-26 06:42] dmey commented on #2863
Thank you @kthyng and many thanks again to @oliviaguest @danielskatz @khinsen and @mnarayan for your help and feedback provided.

[2021-09-26 08:12] Nikoleta-v3 commented on #3522
👋🏻 @alexhanna 📳 Any updates on your review?

[2021-09-26 08:41] jbytecode commented on #3710
Great! Thank you. @athulpg007

[2021-09-26 08:45] jbytecode commented on #3733
Dear @bkamins and @felixcremer, do you need help? Could you please update your status on how is your reviewing going?

[2021-09-26 08:49] jbytecode commented on #3608
Dear @martibosch, could you please update your status on how is your reviewing going?

[2021-09-26 09:04] bkamins commented on #3733
Thank you for pinging. Now I can see that the package got a release 5 days ago that I have requested for earlier. I will go back to the review then.

[2021-09-26 11:18] RobertRosca commented on #3641
Hello! I've been a bit busy recently, sorry about the delay, here are my notes so far (although most have been addressed already since I last had time to look at this):

As mentioned by @lucaferranti, cython is a build-time requirement and (currently) has to be manually installed.

You can get around this with a `pyproject.toml` file, defining the build system, this will ensure that (if you're usi

[2021-09-26 11:20] RobertRosca commented on #3641
I'll double check everything tonight but I think the two installation related changes are the only suggestions I have.

[2021-09-26 12:57] arcuri82 commented on #3587
sorry, on parental leave. cannot really take more reviewing tasks until next January

[2021-09-26 13:10] zbeekman commented on #3764
@whedon re-invite @zbeekman as reviewer

[2021-09-26 13:10] whedon commented on #3764
I'm sorry @zbeekman, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-09-26 13:12] zbeekman commented on #3764
Sorry, I think I neglected to accept the GitHub joss invitation in a timely fashion and now it’s expired. Could an editor (@ajstewartlang @arfon etc) please re-invite me so I can edit the issue?

I think the command is:
[code]

thanks

[2021-09-26 13:14] danielskatz commented on #3764
@whedon re-invite @zbeekman as reviewer

[2021-09-26 13:14] whedon commented on #3764
OK, the reviewer has been re-invited.

@zbeekman please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-09-26 13:17] slim-patchy commented on #3587
Hi I used to go by @kakirastern but now I go by @slim-patchy. I could do a review for this issue, except I am wondering if I can use my new GitHub account to do so?

[2021-09-26 14:28] abhishekvp commented on #3541
Hi All!

I too am happy to state that the revised software and documentation in its current form is acceptable to me.

@elbeejay I am grateful to you for the opportunity to review this work.

[2021-09-26 15:15] dfm commented on #3729
@JostMigenda: I'm working on finding reviewers now and I'll keep you posted on that!

Sorry about the delay on this response, but I actually had to do a little digging. We don't currently have a special command for this and our usual recommendation for this is to just add the collaboration as an author. You'll need to include an affiliation, so perhaps choose the primary institution or just label

[2021-09-26 15:19] donaldRwilliams commented on #3308
Hey @arfon

Apologies on the delay. I am doing a full time residency program at google and only working on academic stuff on Saturdays.

That said, I anticipate having them done very soon.

[2021-09-26 17:06] diehlpk commented on #3274
@whedon set 0.8.1 as version

[2021-09-26 17:06] whedon commented on #3274
OK. 0.8.1 is the version.

[2021-09-26 17:06] djmitche commented on #3679
The fix in issue 32 looks good to me.  I have no further concerns, having looked through the tracker in issue 37.

[2021-09-26 17:07] diehlpk commented on #3274
@whedon set 10.5281/zenodo.5528107 as archive

[2021-09-26 17:07] whedon commented on #3274
OK. <a href="https://doi.org/10.5281/zenodo.5528107" target="_blank">10.5281/zenodo.5528107</a> is the archive.

[2021-09-26 17:07] diehlpk commented on #3274
@whedon check references

[2021-09-26 17:07] whedon commented on #3274
[code]

[2021-09-26 17:07] diehlpk commented on #3274
@whedon generate pdf

[2021-09-26 17:08] diehlpk commented on #3274
@whedon recommend-accept

[2021-09-26 17:08] whedon commented on #3274
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03274/joss.03274/10.21105.joss.03274.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03274/joss.03274/10.21105.joss.03274.pdf) :page_facing_up: :point_left:

[2021-09-26 17:08] whedon commented on #3274
[code]

[2021-09-26 17:08] whedon commented on #3274
[code]

[2021-09-26 17:08] whedon commented on #3274
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2611

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2611, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-26 17:09] diehlpk commented on #3274
@gflofst, @vijaysm thanks again for your review.

[2021-09-26 17:28] alcantarar commented on #3714
I've been updating the checklist along the way, but haven't completed functionality testing/documentation.

[2021-09-26 19:29] osorensen commented on #3700
@Het-Shah, could you please update us on how it is going with the review? If you have any suggestions for improvement of the software or the paper, feel free to post it here or to open an issue in the [source repository](https://github.com/a-ws-m/unlockNN/).

[2021-09-26 19:29] osorensen commented on #3700
@pmeier, could you please update us on how it is going with the review? If you have any suggestions for improvement of the software or the paper, feel free to post it here or to open an issue in the [source repository](https://github.com/a-ws-m/unlockNN/).

[2021-09-26 19:30] osorensen commented on #3700
@TahiriNadia, could you please update us on how it is going with the review? If you have any suggestions for improvement of the software or the paper, feel free to post it here or to open an issue in the [source repository](https://github.com/a-ws-m/unlockNN/).

[2021-09-26 19:59] jonjoncardoso commented on #3519
Hi @fAndreuzzi and @mjsottile , so sorry for the delay. Arrangements for the beginning of academic term was to blame here.

It is ok from me as well, I think the paper and package is ready.

[2021-09-27 00:51] alicia-ziying-yang commented on #3347
I put my reply here: https://github.com/alicia-ziying-yang/conTEXT-explorer/issues/14#issuecomment-927411163
Please check if they can fix the problem. Cheers:)

[2021-09-27 00:54] slayoo commented on #3219
@whedon generate pdf from branch JOSS

[2021-09-27 00:54] whedon commented on #3219
[code]

[2021-09-27 00:54] whedon commented on #3219
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03219/joss.03219/10.21105.joss.03219.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03219/joss.03219/10.21105.joss.03219.pdf) :page_facing_up: :point_left:

[2021-09-27 00:55] slayoo commented on #3219
(added mention of one additional example based on Lowe et al. 2019 and added Clare Singer, who contributed the example, to the author list)

[2021-09-27 02:16] npucino commented on #3666
I am having an hard time relaxing the requirements for Sandpyper right now.

Basically, as per [conda request](https://github.com/conda-forge/staged-recipes/pull/16228) and @dbuscombe-usgs request I was trying to use the most recent versions of Sandpyper dependencies rather than providing strict versions of those.
Apart from minor changes to the code (CRS definition and some minor Pysal import cha

[2021-09-27 04:56] volpatto commented on #3314
Okay, I think I almost finished my review. I will draw some comments.

## Minor/side comments

* Installations: Following the instructions to install MOOSE and everything would be fine. MOOSE uses `conda` to manage dependencies, which is great.

* I have compiled MOOSE in WSL2 (using Ubuntu 20.04), it worked fine. Compilation may take some time (around 10 min on my PC).

## Comments

### Automated

[2021-09-27 04:59] volpatto commented on #3314
Since the geochemistry module has "standalone" capabilities, I think it would be interesting for new users the instructions cited below. Maybe it could be documented in the online documentations?

[2021-09-27 06:26] tgoelles commented on #3471
Thanks for the quick response. I am now waiting for IT to approve access to Zenodo.

[2021-09-27 07:37] krystophny commented on #3530
@dpsanders @kellertuer I'm happy to review the package. It might take me until end of next week probably.

[2021-09-27 08:38] lucydot commented on #3598
Hi @dfujim apologies for the late reply. We have a preference for the Zenodo archive to be named the same as the JOSS paper (e.g., bfit: A Python Application For Beta-Detected NMR). Is it possible to rename accordingly? I'll then recommend acceptance to the editor-in-chiefs.

[2021-09-27 09:17] pdebuyl commented on #3653
@whedon check references

[2021-09-27 09:17] whedon commented on #3653
[code]

[2021-09-27 09:17] pdebuyl commented on #3653
@whedon generate pdf

[2021-09-27 09:18] whedon commented on #3653
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03653/joss.03653/10.21105.joss.03653.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03653/joss.03653/10.21105.joss.03653.pdf) :page_facing_up: :point_left:

[2021-09-27 10:22] mikesmithlab commented on #3611
@whedon check references

[2021-09-27 10:22] whedon commented on #3611
[code]

[2021-09-27 10:23] mikesmithlab commented on #3611
thanks @danielskatz

@Kevin-Mattheus-Moerman  I think this is all fixed now

[2021-09-27 10:35] giovannic commented on #3539
Thanks @mikldk ,

We've published v1.6 [here](https://zenodo.org/record/5529932), with DOI: 10.5281/zenodo.5529932

Will do a final check of the paper...

@whedon generate pdf

[2021-09-27 10:39] tgoelles commented on #3471
@hugoledoux
The archived version is v0.3.3
The DOI is: 10.5281/zenodo.5529805
https://zenodo.org/record/5529805

I matched the metadata.
So everything should be ready for publication.

[2021-09-27 10:43] llrs commented on #3358
@whedon generate pdf from branch paper

[2021-09-27 10:43] whedon commented on #3358
[code]

[2021-09-27 10:43] whedon commented on #3358
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03358/joss.03358/10.21105.joss.03358.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03358/joss.03358/10.21105.joss.03358.pdf) :page_facing_up: :point_left:

[2021-09-27 10:58] llrs commented on #3358
@abartlett004 Apologies, forgot to commit the flowchart (see the new updated version). Many thanks for your encouraging words and review, it has helped to show the value of the package.

[2021-09-27 12:04] VivianePons commented on #3707
@whedon add @eviatarbach as reviewer

[2021-09-27 12:04] whedon commented on #3707
OK, @eviatarbach is now a reviewer

[2021-09-27 12:05] VivianePons commented on #3707
@whedon start review

[2021-09-27 12:05] whedon opened #3766 "[REVIEW]: LaplaceInterpolation.jl: A Julia package for fast interpolation on a grid interpolation on a grid"
**Submitting author:** @lootie (<a href="http://orcid.org/0000-0003-3996-773X">Charlotte Haley</a>)
**Repository:** <a href="https://github.com/vishwas1984/LaplaceInterpolation.jl" target ="_blank">https://github.com/vishwas1984/LaplaceInterpolation.jl</a>
**Version:** v0.1.2
**Editor:** @VivianePons
**Reviewer:** @wkearn, @eviatarbach
**Archive:** <a href="https://doi.org/10.5281/zenodo.5942603"

[2021-09-27 12:05] whedon commented on #3707
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3766.

[2021-09-27 12:05] #3707 closed

[2021-09-27 12:05] whedon commented on #3766
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @wkearn, @eviatarbach it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2021-09-27 12:06] whedon commented on #3766
Wordcount for `paper.md` is 931

[2021-09-27 12:06] whedon commented on #3766
[code]

[2021-09-27 12:06] whedon commented on #3766
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03766/joss.03766/10.21105.joss.03766.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03766/joss.03766/10.21105.joss.03766.pdf) :page_facing_up: :point_left:

[2021-09-27 12:09] pmeier commented on #3700
@osorensen I've checked all the basic things and so far everything looks good. The paper is well written. The only thing left for me is to check its functionality and the documentation thereof. This might take some time, since I'm neither familiar with TensorFlow / keras nor have any domain knowledge. Regarding the latter, I fail to see how I should provide an opinion if the literature references

[2021-09-27 12:21] osorensen commented on #3700
Thanks for replying, @pmeier! Regarding the literature references, I assume you're referring to this part:

I suggest you can interpret this as asking whether papers/datasets/software mentioned inside the paper are properly cited, and whether the citation syntax is correct. So if you don't have an overview of this particular application area, you may still check off the box if the citations are do

[2021-09-27 12:30] pdebuyl commented on #3653
@antoinediez thank you for the submission. The package is very nice and well documented. I have a few minor comments on the article:

1. The "statement of need" section is a bit mixed-up with the presentation of the package.
2. In the same spirit: the summary does not state explicitly what SiSyPHE is. Can you edit the text so that the summary is a summary and likewise for the statement of need?
3.

[2021-09-27 12:38] richrobe commented on #3702
Dear all,

thank you for your helpful reviews, comments, and improvement suggestions! I was on vacation for the last two weeks (thus, apologizes for the late response), and will now begin resolving the issues. I will keep you updated on my progress!

Best,
Robert

[2021-09-27 12:42] biblicabeebli commented on #3417
I have a question!  I'm trying to organize and prioritize, what are the deadlines at play here?

[2021-09-27 12:45] arfon commented on #3460
@whedon set 10.5281/zenodo.5526536 as archive

[2021-09-27 12:45] whedon commented on #3460
OK. <a href="https://doi.org/10.5281/zenodo.5526536" target="_blank">10.5281/zenodo.5526536</a> is the archive.

[2021-09-27 12:46] arfon commented on #3460
@whedon recommend-accept

[2021-09-27 12:46] whedon commented on #3460
[code]

[2021-09-27 12:46] whedon commented on #3460
[code]

[2021-09-27 12:46] whedon commented on #3460
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2612

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2612, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-27 12:49] arfon commented on #3521
This should be done now. The paper might take a few hours to update on the JOSS website.

[2021-09-27 12:50] TahiriNadia commented on #3700
Sorry, I started to revise the article this weekend, however, I can't do anything, no update!

[2021-09-27 12:53] arfon commented on #3642
I re-deposited the metadata. Not sure what was going on here but the DOI is resolving now.

[2021-09-27 12:53] #3642 closed

[2021-09-27 12:53] whedon commented on #3642
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03642/status.svg)](https://doi.org/10.21105/joss.03642)

**We need your help!**

Journal of Open Source Softwa

[2021-09-27 12:54] arfon commented on #3642
@Jose-Augusto-C-M, @papachristoumarios, @bobturneruk – many thanks for your reviews here and to @osorensen  for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

AUTHOR – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-09-27 12:57] arfon commented on #2124
@rhagenson – I appreciate that your attention is on other (very important) work, but JOSS does not have an open-ended commitment to you to wait for your updates (this submission is coming up to 2 years old now). As such, I'm going to go ahead and close this review. Should you find time to make these updates in the future we'd welcome a resubmission.

@djmitche @rabdill @marcosvital – many thanks f

[2021-09-27 12:58] arfon commented on #2124
@whedon reject

[2021-09-27 12:58] whedon commented on #2124
Paper rejected.

[2021-09-27 12:58] #2124 closed

[2021-09-27 12:58] danielskatz commented on #3274
@clavigne - I've suggested some small changes in https://github.com/aspuru-guzik-group/funsies/pull/5
(Note that removing the abstracts simply cleans up the XML file that we submit to Crossref - it has no effect on generated paper).

Let me know when you've merged these changes, and we can proceed to the final publishing step.

Also, and just FYI, this work is interesting to read in the context of

[2021-09-27 13:00] arfon commented on #3587
@slim-patchy - would you like us to update the reviewer spreadsheet with your new handle?

[2021-09-27 13:01] whedon commented on #3722
:wave: @friedue, please update us on how your review is going (this is an automated reminder).

[2021-09-27 13:05] arfon commented on #3460
@whedon accept deposit=true

[2021-09-27 13:05] whedon commented on #3460
[code]

[2021-09-27 13:06] whedon commented on #3460
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1442475720429785088) 👈 🐦🐦🐦

[2021-09-27 13:06] whedon commented on #3460
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2613
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03460](https://doi.org/10.21105/joss.03460)
2. If everything look

[2021-09-27 13:07] MichaelSel commented on #3760
@whedon generate pdf

On Thu, Sep 23, 2021 at 11:37 PM whedon ***@***.***> wrote:

[2021-09-27 13:07] friedue commented on #3722
Feedback has been given; @chrisamiller  et al are working on it

[2021-09-27 13:08] whedon commented on #3760
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03760/joss.03760/10.21105.joss.03760.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03760/joss.03760/10.21105.joss.03760.pdf) :page_facing_up: :point_left:

[2021-09-27 13:21] arfon commented on #3460
@kanderso-nrel, @EricaEgg – many thanks for your reviews here! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@phoebe-p – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-09-27 13:21] #3460 closed

[2021-09-27 13:21] whedon commented on #3460
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03460/status.svg)](https://doi.org/10.21105/joss.03460)

**We need your help!**

Journal of Open Source Softwa

[2021-09-27 13:38] TahiriNadia commented on #3700
Sorry, My ckeck list is not clikeable (see below).
![image](https://user-images.githubusercontent.com/19578926/134919516-10e5c060-f8f7-401e-beb1-4cf6bdcf645d.png)

[2021-09-27 13:39] aguspesce commented on #3551
@whedon generate pdf

[2021-09-27 13:40] whedon commented on #3551
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03551/joss.03551/10.21105.joss.03551.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03551/joss.03551/10.21105.joss.03551.pdf) :page_facing_up: :point_left:

[2021-09-27 13:41] slim-patchy commented on #3587
@arfon Yes, please

[2021-09-27 13:47] drvinceknight commented on #2733
@fgeertman just a polite nudge in case you have time now to look at this.

[2021-09-27 13:47] danielskatz commented on #3700
@whedon re-invite @TahiriNadia as reviewer

[2021-09-27 13:47] whedon commented on #3700
The reviewer already has a pending invite.

@tahirinadia please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-09-27 13:49] danielskatz commented on #3700
If that doesn't work (as there's a weird but that sometimes marks the invitation as expired late), let us know and we'll re-issue it - this should let you check the boxes...

[2021-09-27 13:49] drvinceknight commented on #3084
@thewan05 I'm still struggling to find reviewers for this. If you had anyone else you're able to identify please let me know.