[2021-09-27 13:50] arfon commented on #3587
Done!

[2021-09-27 13:54] drvinceknight commented on #3430
@whedon check references

[2021-09-27 13:54] whedon commented on #3430
[code]

[2021-09-27 13:55] drvinceknight commented on #3430
@whedon generate pdf

[2021-09-27 13:55] whedon commented on #3430
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03430/joss.03430/10.21105.joss.03430.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03430/joss.03430/10.21105.joss.03430.pdf) :page_facing_up: :point_left:

[2021-09-27 14:04] victorsacek commented on #3551
Hello @jedbrown,

Thank you very much for the review of our code.

We've made almost all the changes that you suggested:
* Improved the examples (#25):
    * Fixed path.
    * Added README file with running instructions.
    * Improved examples script to create input files and plot results.
* Made test to check if Mandyoc's output result for a given model is equal to the expected result (#27)
* Im

[2021-09-27 14:08] kthyng commented on #3613
@whedon accept deposit=true from branch manuscript

[2021-09-27 14:08] whedon commented on #3613
[code]

[2021-09-27 14:09] whedon commented on #3613
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1442491471949488133) 👈 🐦🐦🐦

[2021-09-27 14:09] whedon commented on #3613
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2614
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03613](https://doi.org/10.21105/joss.03613)
2. If everything look

[2021-09-27 14:10] bmcfee commented on #3613
Congrats @rob-luke ! :tada:

And thanks again to reviewers @jongwook and @vahid-sb !

[2021-09-27 14:22] kthyng commented on #3613
Congrats on your new publication @rob-luke! Many thanks to editor @bmcfee and reviewers @vahid-sb and @jongwook!!

[2021-09-27 14:22] #3613 closed

[2021-09-27 14:22] whedon commented on #3613
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03613/status.svg)](https://doi.org/10.21105/joss.03613)

**We need your help!**

Journal of Open Source Softwa

[2021-09-27 14:40] diehlpk commented on #3020
@whedon check references from branch joss

[2021-09-27 14:40] whedon commented on #3020
[code]

[2021-09-27 14:40] diehlpk commented on #3020
@whedon check references from branch joss

[2021-09-27 14:40] whedon commented on #3020
[code]

[2021-09-27 14:40] whedon commented on #3020
[code]

[2021-09-27 14:42] diehlpk commented on #3020
@Kevin-Mattheus-Moerman I asked some native speaker to read the paper one more time.

I will prepare the final release today and upload the paper to FigShare after my meeting marathon.

[2021-09-27 14:44] antoinediez commented on #3653
@whedon generate pdf

[2021-09-27 14:45] whedon commented on #3653
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03653/joss.03653/10.21105.joss.03653.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03653/joss.03653/10.21105.joss.03653.pdf) :page_facing_up: :point_left:

[2021-09-27 14:45] antoinediez commented on #3653
@whedon check references

[2021-09-27 14:45] whedon commented on #3653
[code]

[2021-09-27 14:49] antoinediez commented on #3653
Thank you all!

@pdebuyl I updated the paper accordingly to your comments, please tell me if you find it better now or if you think it needs other modifications. Once you will approve the paper, I will then deposit the package on Zenodo.

[2021-09-27 14:55] slim-patchy commented on #3587
# Review checklist for @slim-patchy

### Conflict of interest

- [x] As the reviewer I confirm that I have read the JOSS conflict of interest policy and that there are no conflicts of interest for me to review this work.

### Code of Conduct
- [x] I confirm that I read and will adhere to the JOSS code of conduct.

### General checks
- [x]  Repository: Is the source code for this software available

[2021-09-27 15:09] drvinceknight commented on #3430
@jbytecode this is looking almost there now.

I have made some minor type edits in this PR: https://github.com/jbytecode/JMcDM/pull/29

I note that a few references do not have a DOI, for example: https://doi.org/10.1287/mnsc.31.6.647, would you be able to chase down the remaining ones please.

[2021-09-27 15:12] whedon commented on #3700
OK, the reviewer has been re-invited.

@tahirinadia please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-09-27 15:12] danielskatz commented on #3700
hopefully that one will work

[2021-09-27 15:14] whedon opened #3767 "[PRE REVIEW]: sbp-env: A Python Package for Sampling-based Motion Planner and Samplers"
**Submitting author:** @soraxas (<a href="http://orcid.org/0000-0003-0641-5250">Tin Lai</a>)
**Repository:** <a href="https://github.com/soraxas/sbp-env" target ="_blank">https://github.com/soraxas/sbp-env</a>
**Version:** v1.0.0
**Editor:** @danielskatz
**Reviewers:** @KanishAnand, @OlgerSiebinga
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the chall

[2021-09-27 15:14] whedon commented on #3767
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-27 15:14] whedon commented on #3767
Wordcount for `paper.md` is 776

[2021-09-27 15:14] whedon commented on #3767
[code]

[2021-09-27 15:14] whedon commented on #3767
[code]

[2021-09-27 15:14] wesleyburr opened #3768 "Installation instructions: Is there a clearly-stated list of dependencies? Ideally these should be handled with an automated package management solution."

[2021-09-27 15:14] whedon commented on #3768
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-09-27 15:14] whedon commented on #3767
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03767/joss.03767/10.21105.joss.03767.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03767/joss.03767/10.21105.joss.03767.pdf) :page_facing_up: :point_left:

[2021-09-27 15:15] wesleyburr commented on #3768
@ejikeugba - I suggest editing the README.md and add a short section at the top on dependencies. Yes, CRAN handles it, but it's good to warn the user of incoming forced-installs of packages.

[2021-09-27 15:16] wesleyburr opened #3769 "Community guidelines: Are there clear guidelines for third parties wishing to 1) Contribute to the software 2) Report issues or problems with the software 3) Seek support"

[2021-09-27 15:16] whedon commented on #3769
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-09-27 15:16] #3769 closed

[2021-09-27 15:17] wesleyburr commented on #3769
https://docs.github.com/en/communities is a good guide to follow. Ends up being added in the markdown files for the repo, and then also shows up as part of the GitHub pages pkgdown site.

[2021-09-27 15:17] danielskatz commented on #3767
@soraxas - thanks for this submission.  I'll be your editor.

If you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

While we look for r

[2021-09-27 15:17] danielskatz commented on #3767
@whedon assign me as editor

[2021-09-27 15:17] whedon commented on #3767
OK, the editor is @danielskatz

[2021-09-27 15:22] wesleyburr opened #3770 "References: Is the list of references complete, and is everything cited appropriately that should be cited (e.g., papers, datasets, software)? Do references in the text use the proper citation syntax?"

[2021-09-27 15:22] whedon commented on #3770
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-09-27 15:22] #3770 closed

[2021-09-27 15:22] wesleyburr commented on #3770
As noted in the whedon check, you need DOIs for a few of the refs.

MISSING DOIs

- 10.2307/2288515 may be a valid DOI for title: Advanced Econometrics: A Bridge to the Literature
- 10.1007/bf02985802 may be a valid DOI for title: The Elements of Statistical Learning: Data Mining, Inference and Prediction
- 10.18637/jss.v099.i06 may be a valid DOI for title: Regularized ordinal regression and the

[2021-09-27 15:23] wesleyburr commented on #3705
The codebase is very clean (as it would have to be, to pass CRAN checks). Nothing to edit in the package or documentation itself, I think, although some modifications should be made to the Readme / community guidelines for the GitHub face and the pkgdown, DOIs added to the references in the paper itself. Three issues opened for the paper author to deal with, then I'm ready to sign off.

[2021-09-27 15:27] danielskatz commented on #3705
@wesleyburr - please manually create issues in the source repository (https://github.com/ejikeugba/serp) - not here, not using the github convert-to-issue "feature" - this feature doesn't work correctly with JOSS, as the issues are created in the wrong place. (The issues you have created using that feature have been automatically closed, as the JOSS workflow doesn't support them correctly).  Also,

[2021-09-27 15:36] arfon commented on #3587
@TimKam, @slim-patchy – thanks for the fast reviews here. I think @adi3 needs to create the main review still here (with the full review checklist for you all to work with).

@adi3 – are you ready to move this forward?

[2021-09-27 15:56] TahiriNadia commented on #3700
Thank you for your fast response. I confirm it works. I will work today on it.

[2021-09-27 16:02] whedon commented on #3723
:wave: @FTurci, please update us on how your review is going (this is an automated reminder).

[2021-09-27 16:02] whedon commented on #3723
:wave: @govarguz, please update us on how your review is going (this is an automated reminder).

[2021-09-27 16:11] whedon commented on #3724
:wave: @srmnitc, please update us on how your review is going (this is an automated reminder).

[2021-09-27 16:11] whedon commented on #3724
:wave: @KParas, please update us on how your review is going (this is an automated reminder).

[2021-09-27 16:14] AlbertWeichselbraun commented on #3557
Dear @reality and @sbenthall,

@reality's [review](https://github.com/openjournals/joss-reviews/issues/3557#issuecomment-908259651) has triggered the improvements summarized in my [comment from 3 September 2021](https://github.com/openjournals/joss-reviews/issues/3557#issuecomment-912503256).

To the best of my knowledge this should address all the issues raised in the review and the missing tasks

[2021-09-27 16:17] noatamir commented on #3755
@whedon assign me as editor

[2021-09-27 16:17] whedon commented on #3755
OK, the editor is @noatamir

[2021-09-27 16:20] soraxas commented on #3767
Hi @danielskatz thanks for the info!

Based on the given list, in reverse order: `KanishAnand, seungback, OlgerSiebinga, ekorudiawan, etc.` look like suitable candidates as reviewers (with *Robotics* as domain/topics and *python* as preferred language)

[2021-09-27 16:29] noatamir commented on #3755
👋 @jarvist @Datseris - would either or both of you be willing to edit this JOSS submission?

[2021-09-27 16:31] soraxas commented on #3767
@whedon check references

[2021-09-27 16:31] whedon commented on #3767
[code]

[2021-09-27 16:32] soraxas commented on #3767
@whedon generate pdf

[2021-09-27 16:32] whedon commented on #3767
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03767/joss.03767/10.21105.joss.03767.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03767/joss.03767/10.21105.joss.03767.pdf) :page_facing_up: :point_left:

[2021-09-27 16:33] noatamir commented on #3755
Hi @lucass-carneiro, I'll be your editor for this submission.

Could you look at our [potential reviewer list](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822) and maybe suggest reviewers (without tagging them with an @)? You can also suggest names outside of the list, just be aware of our [conflict of interest policy](https://joss.readthedocs

[2021-09-27 16:34] danielskatz commented on #3755
@noatamir - FYI, when you start editing a submission that is on the waitlist, please remove the label when you start
(And thanks for editing this one!)

[2021-09-27 16:36] danielskatz commented on #3767
👋 @KanishAnand, @seungback, @OlgerSiebinga - would one or two of you be willing to review this submission for JOSS?

[2021-09-27 16:41] diehlpk commented on #3020
@whedon check references

[2021-09-27 16:41] whedon commented on #3020
[code]

[2021-09-27 16:41] diehlpk commented on #3020
@whedon generate pdf

[2021-09-27 16:41] whedon commented on #3020
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03020/joss.03020/10.21105.joss.03020.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03020/joss.03020/10.21105.joss.03020.pdf) :page_facing_up: :point_left:

[2021-09-27 16:42] diehlpk commented on #3020
@Kevin-Mattheus-Moerman Note, I merged the JOSS branch into master and the paper needs to be compiled from master.

[2021-09-27 16:45] emdupre commented on #3523
:wave: Hi @michaelberks, I just wanted to check-in on this and make sure you weren't facing any logistical blocks. If there's something I can provide to help in the review process, please let me know.

[2021-09-27 16:47] Datseris commented on #3755
Hello,
oh this is unfortunate. I would love to review this one! It is somewhat close to my expertise. Unfortunately I will have to decline, because my other obligations at the moment leave me with not enough spare time until next year :( Sorry, and good luck!

[2021-09-27 16:47] wesleyburr commented on #3770
I moved them all over when I realized what the whedon message actually meant. Couldn't see an easy way to delete them, though! Thanks, @danielskatz.

[2021-09-27 16:49] wesleyburr commented on #3705
@danielskatz  - done!

[2021-09-27 16:53] danielskatz commented on #3770
Thanks - if you have suggestions on how to make the whedon message more clear (or how to avoid this situation in the first place), please let us know.  Note we previously worked on this in https://github.com/openjournals/whedon-api/pull/133 and https://github.com/openjournals/joss/pull/969

[2021-09-27 16:58] wesleyburr commented on #3770
Nothing comes to mind: it's really obvious once you see what it means. But the UI is just misleading, because the pop-up for "open issue" appears, and it seems so intuitive that this is how to manage it ... As with everything in this process, **actually reading** the instructions seems to fix it up!

[2021-09-27 17:14] KanishAnand commented on #3767
@danielskatz I am willing to review

[2021-09-27 17:25] Het-Shah commented on #3700
I have opened an issue in the repository for my review.

[2021-09-27 17:26] danielskatz commented on #3767
Thanks @KanishAnand - I'll add you in the system, and then once we get one or two more reviewers, we'll start the review in a new issue.

[2021-09-27 17:26] danielskatz commented on #3767
@whedon assign @KanishAnand as reviewer

[2021-09-27 17:26] whedon commented on #3767
OK, @KanishAnand is now a reviewer

[2021-09-27 17:29] cfgammie commented on #3336
hi all, just a note that Ben Prather, the primary author of the paper, is going on the job market this fall and so it would be useful to have feedback on the paper soon!

[2021-09-27 17:30] OlgerSiebinga commented on #3767
@danielskatz - Yes, I'm willing to review as well

[2021-09-27 17:37] danielskatz commented on #3767
Thanks @OlgerSiebinga. I'll add you as well.

I've made an email request to another group, and would like to wait for a day or so to see if they are interested too - But either way, we'll start in 48 hours or so.

[2021-09-27 17:37] danielskatz commented on #3767
@whedon add @OlgerSiebinga as reviewer

[2021-09-27 17:37] whedon commented on #3767
OK, @OlgerSiebinga is now a reviewer

[2021-09-27 17:37] lucass-carneiro commented on #3755
Hi @noatamir. Looking at the list, I think my submission lies within the area of expertise of these reviewers: ygrange, leios, ysimillides, ziotom78, malmaud, PhilipVinc, Jgoldfar, ma-sadeghi, smsharma, fhorrobin, solanpaa, williamfgc, Christovis, cescalara

[2021-09-27 17:43] diehlpk commented on #3020
@whedon set  v0.1.0 as version

[2021-09-27 17:43] whedon commented on #3020
OK.  v0.1.0 is the version.

[2021-09-27 17:53] whedon commented on #3539
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03539/joss.03539/10.21105.joss.03539.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03539/joss.03539/10.21105.joss.03539.pdf) :page_facing_up: :point_left:

[2021-09-27 17:57] diehlpk commented on #3020
@whedon set 10.6084/m9.figshare.16688695.v1as archive

[2021-09-27 17:57] whedon commented on #3020
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-09-27 17:58] whedon commented on #3020
OK. <a href="https://doi.org/10.6084/m9.figshare.16688695.v1" target="_blank">10.6084/m9.figshare.16688695.v1</a> is the archive.

[2021-09-27 17:58] dfujim commented on #3598
@lucydot ok, done!

[2021-09-27 18:10] patrickfuchs commented on #3521
Thanks @arfon, it worked!

[2021-09-27 18:14] bkamins commented on #3733
I am not fully sure where I should put the comments, so I put them here:
* I would recommend that all packages (also dependencies) get a proper release
* All packages should have explicit `[compat]` section in their Project.toml (including the `[extras]` part for e.g. CSV.jl)
* The `print_results` does not work under current release of DataFrames.jl (I can help fixing it if needed)
* The examples

[2021-09-27 18:18] diehlpk commented on #3020
@Kevin-Mattheus-Moerman I think I am done with the tasks.

[2021-09-27 18:44] oneilsh commented on #3543
Hi @taless474, just checking in to see how the review is going.

[2021-09-27 19:13] dfm commented on #3729
@whedon add @apizzuto as reviewer

Alex has agreed to review this submission - thank you!! I believe that Alex has identified a potential COI that should be shared here. @JostMigenda please let me know here or via email if you or the other authors have any issue with this, otherwise, I'm happy to waive it after it is disclosed.

[2021-09-27 19:13] whedon commented on #3729
OK, @apizzuto is now a reviewer

[2021-09-27 19:16] dfm commented on #3729
@whedon add @PeterDenton as reviewer

And Peter has agreed to be our second reviewer - thanks!

After we take a look at @apizzuto's potential conflict, we'll be good to get started.

@ all: please don't hesitate to ask if you have any questions, comments, or issues as we go. I'm here to help this go smoothly!

[2021-09-27 19:16] whedon commented on #3729
OK, @PeterDenton is now a reviewer

[2021-09-27 19:21] dfm commented on #3559
@whedon add @changgoo as reviewer

And... we have our second reviewer. Thanks Chang-Goo!

I'll get the review started in a new issue thread with more information. Thanks all for agreeing to participate in this review process and let me know if you have any questions, comments, or issues as we go. I'm here to help!

[2021-09-27 19:21] whedon commented on #3559
OK, @changgoo is now a reviewer

[2021-09-27 19:21] dfm commented on #3559
@whedon start review

[2021-09-27 19:21] whedon opened #3771 "[REVIEW]: ORION2: A magnetohydrodynamics code for star formation"
**Submitting author:** @soffner (<a href="http://orcid.org/0000-0003-1252-9916">Stella Offner</a>)
**Repository:** <a href="https://bitbucket.org/orionmhdteam/orion2_release1/src/master/" target ="_blank">https://bitbucket.org/orionmhdteam/orion2_release1/src/master/</a>
**Version:** 1.0
**Editor:** @dfm
**Reviewer:** @zingale, @changgoo
**Archive:** <a href="https://doi.org/10.5281/zenodo.5791188

[2021-09-27 19:21] whedon commented on #3559
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3771.

[2021-09-27 19:21] #3559 closed

[2021-09-27 19:21] whedon commented on #3771
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @zingale, @changgoo it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2021-09-27 19:22] whedon commented on #3771
Wordcount for `paper.md` is 836

[2021-09-27 19:22] whedon commented on #3771
[code]

[2021-09-27 19:22] whedon commented on #3771
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03771/joss.03771/10.21105.joss.03771.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03771/joss.03771/10.21105.joss.03771.pdf) :page_facing_up: :point_left:

[2021-09-27 19:23] whedon commented on #3771
[code]

[2021-09-27 19:23] dfm commented on #3771
@soffner, @zingale, @changgoo – This is the review thread for the paper. All of our communications will happen here from now on. Thanks again for agreeing to participate!

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please

[2021-09-27 19:29] apizzuto commented on #3729
Hi all, thanks for the submission!
The [JOSS COI policy](https://github.com/openjournals/joss/blob/master/COI.md) requests that reviewers disclose potential COIs. I am a member of the IceCube Collaboration and there are at least a few folks on the author list of this paper that are also members (Segev BenZvi, Spencer Griswold, and I may have missed others). The COI policy says that for large colla

[2021-09-27 20:24] kellyrowland commented on #3691
Hi @dcnickle @Maghnuso - would either of you be willing and available to review this submission to JOSS? I see that you were the reviewers on the paper for the Augur software package, which is used and referenced here.

[2021-09-27 20:29] DavidNickle commented on #3691
Hi Kelly,

Yes - I can review this.

David

[2021-09-27 20:33] kellyrowland commented on #3691
Great, thanks so much!

[2021-09-27 20:33] kellyrowland commented on #3691
@whedon add @dcnickle as reviewer

[2021-09-27 20:33] whedon commented on #3691
OK, @dcnickle is now a reviewer

[2021-09-27 20:37] kellyrowland commented on #3691
@DavidNickle - I just caught that your account here in this issue is different than the one I originally pinged. Do you have a preference for which to use as the reviewer assignment?

[2021-09-27 20:40] mjsottile commented on #3519
Excellent.  @fAndreuzzi - I have done a pass over the paper and have found a couple of minor grammatical mistakes to correct:

- line 43-44 : "moreover we splitted the algorithms in smaller functions" should read "moreover we split the algorithms into smaller functions".
- line 86 : "taken by step 4. on a sample of" -- remove the period after the digit 4.
- line 88 : "interests" should be "interes

[2021-09-27 20:40] DavidNickle commented on #3691
Yes - that was an error. Let’s stick with ***@***.*** ***@***.***>.

Thank you,

David

[2021-09-27 20:40] karthikncsu commented on #3668
Hi @QibangLiu  Thank you for updating the manual with the settings to run the PDLSM-FEM with one API.

I tried to install on my ubuntu system and it returned below error:

/opt/intel/oneapi/mkl/2021.3.0//lib/intel64/libmkl_gnu_thread.so: undefined reference to `GOMP_loop_end_nowait'
/opt/intel/oneapi/mkl/2021.3.0//lib/intel64/libmkl_gnu_thread.so: undefined reference to `GOMP_loop_ordered_static_s

[2021-09-27 20:44] TLCFEM commented on #3668
need flag -fopenmp

[2021-09-27 20:44] JostMigenda commented on #3729
I confirm that we don't think this is an issue and we're happy with waiving this COI.

[2021-09-27 20:46] apizzuto commented on #3729
Great, thanks for checking on that @JostMigenda . I'll take a look at the paper and code in the coming days, then

[2021-09-27 20:50] kellyrowland commented on #3691
@DavidNickle can you please specify which Github handle to use, by name? Your above response is showing as the obscured address

and I can't tell which account to use.

[2021-09-27 20:51] rkurchin commented on #3759
@ksunden, @stuartcampbell,
Would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-09-27 20:51] rkurchin commented on #3727
Followup ping to reviewers @UTH-Tuan @shahmoradi!

[2021-09-27 20:55] danielskatz commented on #3729
FYI, the waived COI has to be approved by the editor, not by the authors.  (not that I see any problem, but please wait for @dfm to decide.)

[2021-09-27 21:00] pdebuyl commented on #3653
Hi @antoinediez

Thanks for the quick update. Can you do the zenodo deposit and post here the archived version of SiSyPHE and the zenodo DOI?

[2021-09-27 21:04] fAndreuzzi commented on #3519
@whedon generate pdf

[2021-09-27 21:16] fAndreuzzi commented on #3519
@mjsottile Thank you for your review, I uploaded my code to Zenodo (version **0.2.3**, which is different than the one which I read in the header of this issue).

DOI: 10.5281/zenodo.5532910

[2021-09-27 21:18] larkz commented on #3587
@arfon thank you for your help.

We thank @TimKam and @slim-patchy for their insightful reviews. @juntaoluo and I will begin to address the comments and add necessary changes to our codebase.

We shall wait for @adi3 to move this forward.

[2021-09-27 21:19] kellyrowland commented on #3691
Yep, I can see the email address, thanks. The JOSS workflow bot expects Github handles directly as input, however - is either account okay to reach you at that address? I don't mean to belabor the question, just trying to make sure everything's lined up correctly here before we move things over to the review issue.

[2021-09-27 21:22] natir commented on #2991
@whedon generate pdf

[2021-09-27 21:23] whedon commented on #2991
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02991/joss.02991/10.21105.joss.02991.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02991/joss.02991/10.21105.joss.02991.pdf) :page_facing_up: :point_left:

[2021-09-27 21:28] dfm commented on #3729
Thanks @danielskatz!

Yes, given the scope of this potential COI and @JostMigenda's response, I am happy to waive this case and proceed with the review. Thanks again @apizzuto for being transparent. I'll get the review started in a new thread and we'll move over there for the rest of the process. Thanks again, everyone!

[2021-09-27 21:29] whedon opened #3772 "[REVIEW]: SNEWPY: A Data Pipeline from Supernova Simulations to Neutrino Signals"
**Submitting author:** @JostMigenda (<a href="http://orcid.org/0000-0002-5350-8049">Jost Migenda</a>)
**Repository:** <a href="https://github.com/SNEWS2/snewpy" target ="_blank">https://github.com/SNEWS2/snewpy</a>
**Version:** v1.1
**Editor:** @dfm
**Reviewer:** @apizzuto, @PeterDenton
**Archive:** <a href="https://doi.org/10.5281/zenodo.5719209" target="_blank">10.5281/zenodo.5719209</a>

**:war

[2021-09-27 21:29] whedon commented on #3729
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3772.

[2021-09-27 21:29] #3729 closed

[2021-09-27 21:29] whedon commented on #3772
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @apizzuto, @PeterDenton it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2021-09-27 21:29] whedon commented on #3772
[code]

[2021-09-27 21:29] whedon commented on #3772
[code]

[2021-09-27 21:30] whedon commented on #3772
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03772/joss.03772/10.21105.joss.03772.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03772/joss.03772/10.21105.joss.03772.pdf) :page_facing_up: :point_left:

[2021-09-27 21:37] mjsottile commented on #3519
@whedon set v0.2.3 as version

[2021-09-27 21:37] whedon commented on #3519
OK. v0.2.3 is the version.

[2021-09-27 21:38] mjsottile commented on #3519
@whedon set 10.5281/zenodo.5532910 as archive

[2021-09-27 21:38] whedon commented on #3519
OK. <a href="https://doi.org/10.5281/zenodo.5532910" target="_blank">10.5281/zenodo.5532910</a> is the archive.

[2021-09-27 21:40] changgoo commented on #3771
@dfm @soffner How can I create an issue on the ORION2 repository?

Currently, the code is hosted at https://bitbucket.org/orionmhdteam/orion2_release1/src/master/ but the documentation indicates a different url at https://bitbucket.org/orionmhd/orion2/ which is not there yet. Will the repo eventually move to the latter point? I don't know whether the review should be conducted on the final repo or

[2021-09-27 21:41] alcantarar commented on #3714
👋🏾 @meg-simula I've completed my review. The repo looks good to me and any bugs I've found have been addressed except for [1 typo in the paper](https://github.com/felixchenier/kineticstoolkit/issues/66). I think this toolkit is a nice way to introduce beginner programmers to biomechanical analyses and research with tutorials on how to use the included functions to process a variety of timeseries d

[2021-09-27 21:41] mjsottile commented on #3519
@whedon check references

[2021-09-27 21:42] whedon commented on #3519
[code]

[2021-09-27 21:42] mjsottile commented on #3519
@whedon recommend-accept

[2021-09-27 21:42] whedon commented on #3519
[code]

[2021-09-27 21:42] whedon commented on #3519
[code]

[2021-09-27 21:42] whedon commented on #3519
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2615

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2615, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-27 21:43] goerz commented on #3711
I've had a look at the software, and verified that it can be installed and works as described. The source code appears to be of high quality, implementing non-trivial methods for quantum circuit simulation, which is an important field of research. Thus, the software package itself appears to be at a state of development that warrants publication. However, the documentation and the submitted JOSS p

[2021-09-27 21:45] goerz commented on #3711
@jarvist Done. If you (and the authors) think that the documentation can be brought up to speed within a reasonable timeframe, I'd be happy to review a revised version.

[2021-09-27 21:55] DavidNickle commented on #3691
Yes either is fine.  I am currently working for a small biotech that uses Git Lab and I think I confused the system by logging in on the wrong account.  But both work.

Thanks,

David

[2021-09-27 23:04] galessiorob commented on #3756
@AlexanderPico and @rabdill A checklist has been provided for each of you at the top of the issue [here.](https://github.com/openjournals/joss-reviews/issues/3756#issue-1005000830) Please let me know if you have any questions or any of the items or the paper itself.

Feel free to ping the author @maxkfranz with specific questions on the paper and the package here, or if you find it easier, you can

[2021-09-27 23:35] dfm commented on #3771
@changgoo: Good points! Ignore my comment about mentioning this issue since ORION2 is on bitbucket - I just posted my usual canned comment, sorry!

Once @soffner clarifies your question about which repository to use, feel free to open issues over on bitbucket if you have an account. If not, you're also welcome to just use this review issue to share your comments. If it's not clear how to open issu

[2021-09-28 00:52] Sbozzolo commented on #3703
I cannot the binary BH example to run. I have this error:
[code]

Are there tests that are run with more than one MPI process?

The problem might be related to the MPI implementation I am using (Intel). I haven't debug this too deeply. Now I want to try with GCC and OpenMPI. In this, I realized that the documentation does not say anything about how to properly set Blas/Lapack.

Also, what is the e

[2021-09-28 01:50] QibangLiu commented on #3668
@karthikncsu @TLCFEM The error is because the library "libmkl_gnu_thread.so" requires libgomp. I have tried to use combination of OpenMP and MPI to parallel the code. It is my bad that I forgot to remove the requirement of libmkl_gnu_thread.

I have replaced the libmkl_gnu_thread.so by libmkl_sequential.so.

I tried to extract the required files, but some of them have very large sizes, that are di

[2021-09-28 03:53] rob-luke commented on #3613
Thank you @kthyng @bmcfee, and please keep me in mind as a reviewer in the future (I signed up previously).

Thanks @jongwook and @vahid-sb for the review!

[2021-09-28 04:56] kellyrowland commented on #3691
Thanks for the clarification!

[2021-09-28 04:56] whedon commented on #3691
OK, @dcnickle is no longer a reviewer

[2021-09-28 04:56] kellyrowland commented on #3691
@whedon add @dcnickle as reviewer

[2021-09-28 04:59] kellyrowland commented on #3691
@whedon remove @dcnickle as reviewer

[2021-09-28 04:59] whedon commented on #3691
OK, @dcnickle is no longer a reviewer

[2021-09-28 04:59] kellyrowland commented on #3691
@whedon add @DavidNickle as reviewer

[2021-09-28 04:59] whedon commented on #3691
OK, @DavidNickle is now a reviewer

[2021-09-28 05:01] kellyrowland commented on #3691
@whedon start review

[2021-09-28 05:01] whedon opened #3773 "[REVIEW]: Nextclade: clade assignment, mutation calling and quality control for viral genomes"
**Submitting author:** @rneher (<a href="http://orcid.org/0000-0003-2525-1407">Richard Neher</a>)
**Repository:** <a href="https://github.com/nextstrain/nextclade" target ="_blank">https://github.com/nextstrain/nextclade</a>
**Version:** v1.4.5
**Editor:** @kellyrowland
**Reviewers:** @kevinlibuit, @DavidNickle
**Archive:** <a href="https://doi.org/10.5281/zenodo.5726681" target="_blank">10.5281/z

[2021-09-28 05:01] #3691 closed

[2021-09-28 05:01] whedon commented on #3773
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kevinlibuit, @DavidNickle it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](ht

[2021-09-28 05:01] whedon commented on #3773
Wordcount for `paper.md` is 1366

[2021-09-28 05:01] whedon commented on #3773
[code]

[2021-09-28 05:01] whedon commented on #3773
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03773/joss.03773/10.21105.joss.03773.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03773/joss.03773/10.21105.joss.03773.pdf) :page_facing_up: :point_left:

[2021-09-28 05:45] jbytecode commented on #3430
@whedon check references

[2021-09-28 05:45] whedon commented on #3430
[code]

[2021-09-28 05:46] jbytecode commented on #3430
@whedon generate pdf

[2021-09-28 05:46] whedon commented on #3430
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03430/joss.03430/10.21105.joss.03430.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03430/joss.03430/10.21105.joss.03430.pdf) :page_facing_up: :point_left:

[2021-09-28 05:50] jbytecode commented on #3430
@drvinceknight

- your patch for the paper is merged in the main branch
- added some missing doi entries: [commit](https://github.com/jbytecode/JMcDM/commit/cc6327c64261488a519aa41850f38672c75ce9de)

Although this is not our first attempt, we can't still find doi entries for some other bibtex entries.

[2021-09-28 05:55] jbytecode commented on #3430
After some modifications, it seems the layout has to be refactored because the table flows to the bottom of the page (maybe by adding a table reference).

[2021-09-28 05:57] jbytecode commented on #3733
@bkamins it is okay to put your comments here in the thread, thank you.

[2021-09-28 06:11] ebocher commented on #3541
Hi @elbeejay

This is done here https://github.com/orbisgis/geoclimate/releases/tag/0.0.1
We are working to compile also the doc with the release.

Check that the archived code (e.g., Zenodo) has the correct metadata. The title should match the paper title, the author list should be correct, and you can include authors' ORCID if you wish

We plan to use https://www.softwareheritage.org but I don't

[2021-09-28 06:16] jbytecode commented on #3430
@whedon generate pdf

- Table is labeled and referenced in the text so layout seems to be okay.

[2021-09-28 06:17] whedon commented on #3430
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03430/joss.03430/10.21105.joss.03430.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03430/joss.03430/10.21105.joss.03430.pdf) :page_facing_up: :point_left:

[2021-09-28 06:46] hugoledoux commented on #3471
@whedon set  10.5281/zenodo.5529805 as archive

[2021-09-28 06:46] whedon commented on #3471
OK. <a href="https://doi.org/10.5281/zenodo.5529805" target="_blank">10.5281/zenodo.5529805</a> is the archive.

[2021-09-28 06:46] hugoledoux commented on #3471
@whedon set v0.3.3 as version

[2021-09-28 06:46] whedon commented on #3471
OK. v0.3.3 is the version.

[2021-09-28 06:47] hugoledoux commented on #3471
@whedon recommend-accept

[2021-09-28 06:47] whedon commented on #3471
[code]

[2021-09-28 06:47] whedon commented on #3471
PDF failed to compile for issue #3471 with the following error:
[code]

[2021-09-28 06:49] hugoledoux commented on #3471
At this point, one editor-in-chief will take it over and might ask you to fix some final things.

But congratulations, your paper is accepted 🎉

Thanks to @RonaldEnsing and @hechth for the reviews

[2021-09-28 07:14] tgoelles commented on #3471
Ok, Thanks to everyone for the reviews, inputs and organization of the whole process.

[2021-09-28 07:40] martin3141 commented on #3646
Hi @chartgerink, just wondering what remains to be done here. I've responded to comments from @joaomcteixeira and am still waiting on a review from @a3sha2. Presumably my recent changes need to be approved, and we need a second completed review before the paper can be accepted?

[2021-09-28 08:15] joaomcteixeira commented on #3646
Hi @martin3141 , thanks for addressing my points. The only thing remaining from me is to try to install the package. Sorry I am really overwhelmed now. I will try to address this asap. Apart from that. Congratulations on the big work :-)

FYI, be mindful with the rules of SemanticVersioning 2.0, they are very useful when followed: https://semver.org/

[2021-09-28 09:42] chartgerink commented on #3646
Hi @martin3141 - I am awaiting @a3sha2 their review in order to continue the process. We set around four weeks for the reviews to be completed so this is all within the expected timeframe.

@a3sha2 will you be able to complete the review in the next week? 😊

[2021-09-28 09:51] martin3141 commented on #3646
@joaomcteixeira thanks for letting me know. Installation on Windows is probably the easiest (no need to wait for any packages to compile or install any libraries) if you have a spare machine.

[2021-09-28 09:56] lucaferranti commented on #3641
Hi @thomgrand 👋 , thank you for the changes and apologies for the delay in replying. I am mainly very happy with your changes, however I still have one comment about the paper.

Currently, the statement of need is only one sentence long. It feels a little funny to have a section with only one sentence paragraph. I would suggest you to expand a little and elaborate more.

For example, you could mov

[2021-09-28 10:27] martibosch commented on #3608
Hello @jbytecode,

unluckily I have been swamped these last weeks. Since there are already two reviewers, I suggest that you move forward with their comments since I will not have the time to properly review this library this week. I am sorry for any inconveniences.

Best,
Martí

[2021-09-28 10:44] KAClough commented on #3703
Hmm, I have not seen this before - but if you are using intel 19+ it might help to try adding the -traditional flag - see point 9 of the FAQ (https://github.com/GRChombo/GRChombo/wiki/Compilation-FAQ). The error doesn't usually appear this way but it might be different on your system.

You can run any of the individual tests with mpi by going into the individual folders and running the executables

[2021-09-28 11:14] Maghnuso commented on #3691
Hi Kelly,
Are you still looking for another reviewer? I’m on parental leave at the moment so I might pass on this one, but if you are in a bind, do let me know and I can probably fit it in.
Best,
Maghnus

Sent from my iPhone

[2021-09-28 11:26] chrisleaman commented on #3666
Re https://github.com/openjournals/joss-reviews/issues/3666#issuecomment-927454043, I'm fine for this JOSS review if `sandpyper` is not on conda.

We should still confirm that @dbuscombe-usgs is able to get it installed and running in his environment or if there are still other issues.

[2021-09-28 11:41] danielskatz commented on #3471
@hugoledoux - for the next time:
1. the paper is not accepted, it's just that acceptance is recommended.  I still need to do some final checks.
2. when the paper is in a branch, you have to give that to the recommend-accept command

[2021-09-28 11:41] danielskatz commented on #3471
@whedon recommend-accept from branch paper

[2021-09-28 11:41] whedon commented on #3471
[code]

[2021-09-28 11:42] whedon commented on #3471
[code]

[2021-09-28 11:42] whedon commented on #3471
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2616

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2616, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-28 11:43] szymon-datalions commented on #2869
@whedon generate pdf

[2021-09-28 11:44] whedon commented on #2869
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: :point_left:

[2021-09-28 11:48] szymon-datalions commented on #2869
@sdesabbata I've spent additional time with the paper polishing. I hope that now it's much better grammatically and more apparent than in the previous iteration. I hope that it'll help with the review,

[2021-09-28 12:00] danielskatz commented on #3471
@tgoelles - I've made some suggestions for final changes in https://github.com/virtual-vehicle/pointcloudset/pull/33 - please merge this, or let me know what you disagree with, then we can proceed to final acceptance and publishing.

[2021-09-28 12:03] pdebuyl commented on #3653
@whedon set v1.0 as version

[2021-09-28 12:03] whedon commented on #3653
OK. v1.0 is the version.

[2021-09-28 12:04] pdebuyl commented on #3653
@whedon set 10.5281/zenodo.5532924 as archive

[2021-09-28 12:04] whedon commented on #3653
OK. <a href="https://doi.org/10.5281/zenodo.5532924" target="_blank">10.5281/zenodo.5532924</a> is the archive.

[2021-09-28 12:06] tgoelles commented on #3471
@danielskatz - Thanks for the PR. I merged everything.

[2021-09-28 12:06] danielskatz commented on #3471
@whedon recommend-accept from branch paper

[2021-09-28 12:06] whedon commented on #3471
[code]

[2021-09-28 12:07] whedon commented on #3471
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2617

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2617, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-28 12:08] danielskatz commented on #3471
@whedon accept deposit=true from branch paper

[2021-09-28 12:08] whedon commented on #3471
[code]

[2021-09-28 12:08] whedon commented on #3471
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1442823633014034438) 👈 🐦🐦🐦

[2021-09-28 12:08] whedon commented on #3471
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2618
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03471](https://doi.org/10.21105/joss.03471)
2. If everything look

[2021-09-28 12:11] pdebuyl commented on #3653
@whedon recommend-accept

[2021-09-28 12:11] whedon commented on #3653
[code]

[2021-09-28 12:12] whedon commented on #3653
[code]

[2021-09-28 12:12] whedon commented on #3653
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2619

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2619, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-28 12:12] pdebuyl commented on #3653
Thank you @antoinediez for the update. All is ok with the paper, one of the editors-in-chief will pick up the submission.

Thanks @junghans and @lorenzo-rovigatti for the review!

[2021-09-28 12:16] danielskatz commented on #3471
Congratulations to @tgoelles (Thomas Goelles) and co-authors!!

And thanks to @RonaldEnsing and @hechth for reviewing, and @hugoledoux for editing!
We couldn't do this without you!

[2021-09-28 12:16] #3471 closed

[2021-09-28 12:16] whedon commented on #3471
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03471/status.svg)](https://doi.org/10.21105/joss.03471)

**We need your help!**

Journal of Open Source Softwa

[2021-09-28 12:17] whedon opened #3774 "[PRE REVIEW]: The jagstargets R package: a reproducible workflow framework for Bayesian data analysis with JAGS"
**Submitting author:** @wlandau (<a href="http://orcid.org/0000-0003-1878-3253">William Landau</a>)
**Repository:** <a href="https://github.com/ropensci/jagstargets" target ="_blank">https://github.com/ropensci/jagstargets</a>
**Version:** 0.0.1
**Editor:** @galessiorob
**Reviewers:** @AoifeHughes, @sachsmc, @JonasMoss, MaaniBeigy
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service

[2021-09-28 12:17] whedon commented on #3774
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-28 12:17] whedon opened #3775 "[PRE REVIEW]: The AutoActive Research Environment"
**Submitting author:** @kasbot (<a href="http://orcid.org/0000-0002-9983-0041">Kasper Bøtker Rasmussen</a>)
**Repository:** <a href="https://github.com/SINTEF/AutoActive-ActivityPresenter.git" target ="_blank">https://github.com/SINTEF/AutoActive-ActivityPresenter.git</a>
**Version:** v1.1.1
**Editor:** @prashjha
**Reviewers:** @AustinTSchaffer, @erik-whiting
**Managing EiC:** Daniel S. Katz

**:w

[2021-09-28 12:17] whedon commented on #3775
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-28 12:17] whedon commented on #3774
Wordcount for `paper.md` is 352

[2021-09-28 12:17] whedon commented on #3774
[code]

[2021-09-28 12:17] whedon commented on #3774
[code]

[2021-09-28 12:17] whedon commented on #3775
Wordcount for `paper.md` is 1459

[2021-09-28 12:17] whedon commented on #3775
[code]

[2021-09-28 12:17] whedon commented on #3775
[code]

[2021-09-28 12:17] whedon commented on #3775
PDF failed to compile for issue #3775 with the following error:
[code]

[2021-09-28 12:17] whedon commented on #3774
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03774/joss.03774/10.21105.joss.03774.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03774/joss.03774/10.21105.joss.03774.pdf) :page_facing_up: :point_left:

[2021-09-28 12:19] danielskatz commented on #3753
👋 @quishqa - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Additionally, the work seems to be a data access wrapper that is limited to one cite, with no/little analytic capability.

[2021-09-28 12:19] danielskatz commented on #3753
@whedon reject

[2021-09-28 12:19] whedon commented on #3753
Paper rejected.

[2021-09-28 12:19] #3753 closed

[2021-09-28 12:20] danielskatz commented on #3754
👋 @kjhall01 - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-pack

[2021-09-28 12:20] #3754 closed

[2021-09-28 12:23] danielskatz commented on #3763
👋 @ly16302 - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-packag

[2021-09-28 12:23] danielskatz commented on #3763
@whedon reject

[2021-09-28 12:23] whedon commented on #3763
Paper rejected.

[2021-09-28 12:23] #3763 closed

[2021-09-28 12:27] danielskatz commented on #3775
👋 @kasbot - note that your paper does not compile. Please follow the [example paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography). Please feel free to use the command `@whedon generate pdf` after making changes to the .md file to make a new PDF. Whedon commands need to be the first entry in a new comment.

[2021-09-28 12:28] danielskatz commented on #3774
👋 @galessiorob - would you be able to edit this JOSS submission?

[2021-09-28 12:28] danielskatz commented on #3774
@whedon invite @galessiorob as editor

[2021-09-28 12:28] whedon commented on #3774
@galessiorob has been invited to edit this submission.

[2021-09-28 12:30] danielskatz commented on #3757
👋 @VivianePons - Would you be able to edit this JOSS submission?

[2021-09-28 12:30] danielskatz commented on #3757
@whedon invite @VivianePons as editor

[2021-09-28 12:30] whedon commented on #3757
@VivianePons has been invited to edit this submission.

[2021-09-28 12:32] danielskatz commented on #3760
👋 @mikldk - I wonder if you might be able to edit this JOSS submission?  I know it's not quite on topic for you, but we don't really have an editors in the music area.

[2021-09-28 12:32] danielskatz commented on #3760
@whedon invite @mikldk as editor

[2021-09-28 12:32] whedon commented on #3760
@mikldk has been invited to edit this submission.

[2021-09-28 12:32] VivianePons commented on #3757
Hi Daniel, I am in the middle of an international move and won't have time to look into this before next week. Is that ok?

[2021-09-28 12:42] oliviaguest commented on #3669
@tsalo please upload your newest code to a repository like zenodo, etc., and post the DOI here! 😊

[2021-09-28 12:42] oliviaguest commented on #3669
@whedon generate pdf

[2021-09-28 12:42] whedon commented on #3669
PDF failed to compile for issue #3669 with the following error:
[code]

[2021-09-28 12:43] oliviaguest commented on #3669
@whedon generate pdf from branch joss

[2021-09-28 12:43] whedon commented on #3669
[code]

[2021-09-28 12:43] oliviaguest commented on #3669
@whedon check references from branch joss

[2021-09-28 12:43] whedon commented on #3669
[code]

[2021-09-28 12:43] osorensen commented on #3700
Thanks @Het-Shah. @a-ws-m please place your response in the mentioned issue.

[2021-09-28 12:43] whedon commented on #3669
[code]

[2021-09-28 12:43] whedon commented on #3669
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03669/joss.03669/10.21105.joss.03669.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03669/joss.03669/10.21105.joss.03669.pdf) :page_facing_up: :point_left:

[2021-09-28 12:44] oliviaguest commented on #3638
@whedon assign @oliviaguest as editor

[2021-09-28 12:44] whedon commented on #3638
OK, the editor is @oliviaguest

[2021-09-28 12:44] oliviaguest commented on #3701
@whedon assign @oliviaguest as editor

[2021-09-28 12:44] whedon commented on #3701
OK, the editor is @oliviaguest

[2021-09-28 12:45] osorensen commented on #3578
Dear @AKUMAR0019, please let us know when the test case has been updated, and when you think you have addressed all the points raised by the reviewers.

[2021-09-28 12:45] oliviaguest commented on #3638
Hi all, sorry for late reply. I can take this over. 😊

[2021-09-28 12:54] eferrea commented on #3638
Hi @oliviaguest thanks for accepting editing  I would suggest Agricolab, TomDonoghue and JanCBrammer as potential reviewers. Thanks again

[2021-09-28 12:56] danielskatz commented on #3653
@antoinediez - I've suggested some minor changes to the paper in https://github.com/antoinediez/Sisyphe/pull/5 - please merge this, or let me know what you disagree with, then we can proceed to acceptance and publication.

[2021-09-28 12:57] danielskatz commented on #3482
@Shibabrat - note that we are waiting for your response to move forward to publication.

[2021-09-28 13:02] Shibabrat commented on #3482
@danielskatz and @kthyng sorry for the delay, we have finished working on the references.

[2021-09-28 13:02] Shibabrat commented on #3482
@whedon generate pdf

[2021-09-28 13:03] whedon commented on #3482
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03482/joss.03482/10.21105.joss.03482.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03482/joss.03482/10.21105.joss.03482.pdf) :page_facing_up: :point_left:

[2021-09-28 13:07] antoinediez commented on #3653
Hi @danielskatz !
Thanks for updating the paper, this is merged.

[2021-09-28 13:08] oliviaguest commented on #2863
@dmey you are welcome and glad to see this out! ✨

[2021-09-28 13:09] oliviaguest commented on #3638
@Agricolab, @TomDonoghue and @JanCBrammer, would any or all of you be able to review this for us?

[2021-09-28 13:11] danielskatz commented on #3519
@fAndreuzzi - I've suggested some small changes in the paper and bib in https://github.com/fAndreuzzi/BisPy/pull/36 - please merge this, or let me know what you disagree with, then we can proceed to acceptance and publishing.

[2021-09-28 13:16] danielskatz commented on #3096
@AngryMaciek - Do you have an update on this?

[2021-09-28 13:17] danielskatz commented on #3686
The editors' scope discussion has found this work to be in scope.

[2021-09-28 13:18] danielskatz commented on #3653
@whedon recommend-accept

[2021-09-28 13:18] whedon commented on #3653
[code]

[2021-09-28 13:19] whedon commented on #3653
[code]

[2021-09-28 13:19] whedon commented on #3653
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2620

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2620, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-28 13:20] danielskatz commented on #3653
@whedon accept deposit=true

[2021-09-28 13:20] whedon commented on #3653
[code]

[2021-09-28 13:20] whedon commented on #3775
Here are some things you can ask me to do:

[code]

[2021-09-28 13:21] whedon commented on #3653
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1442841785747877888) 👈 🐦🐦🐦

[2021-09-28 13:21] whedon commented on #3653
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2621
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03653](https://doi.org/10.21105/joss.03653)
2. If everything look

[2021-09-28 13:22] danielskatz commented on #3482
@whedon recommend-accept

[2021-09-28 13:22] whedon commented on #3482
[code]

[2021-09-28 13:22] whedon commented on #3775
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03775/joss.03775/10.21105.joss.03775.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03775/joss.03775/10.21105.joss.03775.pdf) :page_facing_up: :point_left:

[2021-09-28 13:22] whedon commented on #3482
[code]

[2021-09-28 13:23] fAndreuzzi commented on #3519
@danielskatz Thank you very much for your changes, I merged your PR.

[2021-09-28 13:23] whedon commented on #3482
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2622

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2622, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-28 13:24] obliviateandsurrender commented on #3711
@jarvist I had left my suggestions for the authors to address in the issue [here](https://github.com/JuliaQX/QXTools.jl/issues/31), a few days ago. These are majorly based on the issues regarding the absence of performance data for the package, the lack of extensive documentation, and introductory tutorials, as pointed out in even greater detail by @goerz. I believe this package could be considere

[2021-09-28 13:25] danielskatz commented on #3519
@whedon recommend-accept

[2021-09-28 13:25] whedon commented on #3519
[code]

[2021-09-28 13:25] whedon commented on #3519
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2623

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2623, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-28 13:26] danielskatz commented on #3653
Congratulations to @antoinediez (Antoine Diez)!!

And thanks to @lorenzo-rovigatti and @junghans for reviewing, and to @pdebuyl for editing!
We couldn't do this without you!

[2021-09-28 13:26] #3653 closed

[2021-09-28 13:26] whedon commented on #3653
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03653/status.svg)](https://doi.org/10.21105/joss.03653)

**We need your help!**

Journal of Open Source Softwa

[2021-09-28 13:28] RiccardoBiondi commented on #3447
Dear @pps121 @amtseng, thank you for the precious advice.

For what concern the examples, we have added a body segmentation example.

We have added instructions on how to download and organize CT scans from a public dataset. We have provided examples using real data and removing all the dummy paths.

For the OS variants, We have added instructions for data downloading and organization and for soft

[2021-09-28 13:28] danielskatz commented on #3519
@whedon accept deposit=true

[2021-09-28 13:28] whedon commented on #3519
[code]

[2021-09-28 13:28] whedon commented on #3519
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1442843765044023299) 👈 🐦🐦🐦

[2021-09-28 13:28] whedon commented on #3519
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2624
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03519](https://doi.org/10.21105/joss.03519)
2. If everything look

[2021-09-28 13:33] fAndreuzzi commented on #3519
Thank you very much to all the reviewers and editors!

[2021-09-28 13:34] danielskatz commented on #3519
Congratulations to @fAndreuzzi (Francesco Andreuzzi)!!

And thanks to @mschordan, @zoometh for reviewing, and @mjsottile for editing!
We couldn't do this without you!

[2021-09-28 13:34] #3519 closed

[2021-09-28 13:34] whedon commented on #3519
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03519/status.svg)](https://doi.org/10.21105/joss.03519)

**We need your help!**

Journal of Open Source Softwa

[2021-09-28 13:40] danielskatz commented on #3775
👋 @prashjha - would you be able to edit this submission?

[2021-09-28 13:41] danielskatz commented on #3775
@whedon invite @prashjha as editor

[2021-09-28 13:41] whedon commented on #3775
@prashjha has been invited to edit this submission.

[2021-09-28 13:47] Shibabrat commented on #3482
@whedon accept deposit=true

[2021-09-28 13:47] whedon commented on #3482
I'm sorry @Shibabrat, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2021-09-28 13:48] fabian-s commented on #3686
@cole-brokamp would you be willing to review this implementation of random forests for dependent/spatial data for JOSS?

[2021-09-28 13:51] danielskatz commented on #3482
@Shibabrat - I've suggested some final small changes in https://github.com/champsproject/ldds/pull/68 - please merge this, or let me know what you disagree with, then we'll proceed to final acceptance and publishing

[2021-09-28 14:22] bmcfee commented on #3760
@whedon assign @bmcfee as editor

[2021-09-28 14:22] whedon commented on #3760
OK, the editor is @bmcfee

[2021-09-28 14:25] bmcfee commented on #3760
:wave: per offline conversation with @kthyng - I can edit this one.  I technically have a [COI](https://joss.theoj.org/about#ethics) due to being at the same institution as the author (NYU), but as we're in completely separate units (GSAS and Steinhardt, respectively), this shouldn't be a problem.

[2021-09-28 14:32] danielskatz commented on #3760
On behalf of JOSS, we agree that this COI can be waived due to @bmcfee really being the only editor with the right background for this, and the fact that the units are separate.

[2021-09-28 14:33] fabian-s commented on #3686
@whedon add @mnwright as reviewer

thank you marvin!

[2021-09-28 14:33] whedon commented on #3686
OK, @mnwright is now a reviewer

[2021-09-28 14:34] fboehm commented on #3417
@biblicabeebli - We'd like to complete the revisions and reviews by the end of October. The previous deadline of Sept 30 is no longer relevant.

[2021-09-28 14:35] drvinceknight commented on #3430
Everything looks good to me. I've tried to find DOIs for the remaining 3 papers myself with no success.

[2021-09-28 14:36] elbeejay commented on #3541
Can you make a tagged release of the current codebase? 27 commits have been made since 0.0.1 and I think at least 1 modified the source code.

@openjournals/joss-eics can https://www.softwareheritage.org be used for this purpose?

[2021-09-28 14:38] drvinceknight commented on #3430
Could you make a tagged release and archive, and report the version number and archive DOI here.

Please check that the archive deposit has the correct metadata (title and author list): make sure it matches the paper.

[2021-09-28 14:39] Bisaloo commented on #3744
Hi @tom-gu :wave:, would you have any interest in helping us to review this package and paper? I understand this is only tangentially related to the core of your research interests (which I discovered via the `bdverse`) but I believe this has the potential to pique your interest :wink:

[2021-09-28 14:40] danielskatz commented on #3482
@whedon recommend-accept

[2021-09-28 14:40] whedon commented on #3482
[code]

[2021-09-28 14:41] whedon commented on #3482
[code]

[2021-09-28 14:41] whedon commented on #3482
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2625

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2625, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-28 14:43] danielskatz commented on #3482
@whedon accept deposit=true

[2021-09-28 14:43] whedon commented on #3482
[code]

[2021-09-28 14:43] whedon commented on #3482
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1442862652431089673) 👈 🐦🐦🐦

[2021-09-28 14:43] whedon commented on #3482
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2626
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03482](https://doi.org/10.21105/joss.03482)
2. If everything look

[2021-09-28 14:44] arfon commented on #3541
You're of course welcome to deposit the software with https://www.softwareheritage.org but you will also need to make an archive with somewhere that will give you a DOI (Figshare, Zenodo, Dryad). I realize this is extra work for you all but our current document-production toolchain requires a DOI for the archive.

[2021-09-28 14:54] soffner commented on #3771
Thank you @changgoo <https://github.com/changgoo>: the correct repository
is https://bitbucket.org/orionmhdteam/orion2_release1/src/master/

I'll update it in the documentation.

On Mon, Sep 27, 2021 at 6:35 PM Dan Foreman-Mackey ***@***.***>
wrote:

[2021-09-28 14:54] broncio123 commented on #3482
Thank you very much everybody for your time, dedication, and feedback during the review process!
@richardjgowers @jmbr @nicoguaro @danielskatz @kthyng

The authors.

[2021-09-28 14:56] danielskatz commented on #3482
(Note that the DOI doesn't resolve for me yet, so I'll keep this open until it does)

Congratulations to @Shibabrat (Shibabrat Naik) and co-authors!!

And thanks to @nicoguaro, @jmbr for reviewing, and to @richardjgowers for editing!
We couldn't do this without you!

[2021-09-28 15:23] osorensen commented on #3700
@pmeier, regarding what you wrote yesterday:

A general comment, which may or may not apply to this particular case: If you find it hard to test functionality and run the examples, it may well be that other users would experience the same. You might consider whether this is a point at which the software could be improved, and if so, feel free to add a suggestion here or create an issue in the sour

[2021-09-28 15:42] Sbozzolo commented on #3703
The machine I am using did not do that. Looking at the examples, it seems that MKL is always used. When GNU compilers are used, you need to specify inc and lib paths for MKL (or any other library you want to use).

I find the information and the setup a little bit inconsistent. For example, there are variables `HDF5INCFLAGS`, so I was expecting to see something similar for `LAPACK` and `Blas`. Als

[2021-09-28 15:48] arfon commented on #3534
@whedon assign @christinahedges as editor

[2021-09-28 15:48] whedon commented on #3534
OK, the editor is @christinahedges

[2021-09-28 15:49] arfon commented on #3534
:wave: @zonca – @christinahedges has kindly agreed to take on editing this submission. Thanks @christinahedges ✨

[2021-09-28 16:05] danielskatz commented on #3617
👋 @step21 - How are things going on your side?

[2021-09-28 16:16] jmschrei commented on #3447
Great, thanks @RiccardoBiondi . @pps121 and @amtseng, are you both satisfied with the changes that have been made in response to your reviews?

[2021-09-28 16:20] #3482 closed

[2021-09-28 16:20] whedon commented on #3482
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03482/status.svg)](https://doi.org/10.21105/joss.03482)

**We need your help!**

Journal of Open Source Softwa

[2021-09-28 16:22] kellyrowland commented on #3318
Hi @munkm 👋 friendly reminder to check in on this when you're able to.

[2021-09-28 16:27] pps121 commented on #3447
@jmschrei  I am fine.

[2021-09-28 16:27] Sbozzolo commented on #3703
When I run the tests with `mpirun`, is the code going through all the associated non-trivial steps? E.g., domain decomposition across MPI ranks?

Also, is there a guide on how to write tests?

[2021-09-28 16:28] ebocher commented on #3541
@elbeejay

The commits are related to the doc  not the code. I have compiled a new version of the doc with the release 0.0.1 that includes the commits. So I think it's not necessary to upgrade geoclimate to 0.0.2

[2021-09-28 16:31] ebocher commented on #3541
@arfon

Don't worry about that. We will used zenodo. Thanks to offer  JOSS  the community.

[2021-09-28 16:32] christinahedges commented on #3534
👋 @zonca - thanks for your submission and patience! I'm going to be your new editor now and we'll find some reviewers for your submission and get your review started ASAP.

[2021-09-28 16:35] mirenradia commented on #3703
What cluster are you trying to run on? I have never seen this problem before either and you might need to speak to cluster support in order to resolve the problem. However, it's possible someone else in the GRChombo collaboration has used the system before so we may be able to help out.

If you have built Chombo with `MPI=TRUE`, all tests are called with `mpirun -np 2` by default (even if the indi

[2021-09-28 16:35] jbytecode commented on #3430
@drvinceknight

- The version is `v0.2.4`
- Archive is `10.5281/zenodo.5534663`  and here is the link. [zenodo link](https://zenodo.org/record/5534663#.YVND2kZByL0)

[2021-09-28 16:42] amtseng commented on #3447
Looks good to me. Thanks!

[2021-09-28 16:50] jules32 commented on #3467
Hi @shyentist and @KristinaRiemer, I'll be able to do a second review by next Monday; sorry for the delay here but I haven't forgotten!

[2021-09-28 16:53] Sbozzolo commented on #3703
I am running on Expanse, at SDSC. The reason I wanted to switch to GCC+OpenMPI is because it doesn't use ucx (on Expanse), so it might fix the problem.

Since GRChombo depends critically on MPI working as expected, it would be nice to have some more tests in that department. I am especially concerned with the lower level parts, so if Chombo has good MPI tests, that would probably be fine too.

It

[2021-09-28 17:24] prashjha commented on #3775
@whedon assign me as editor

[2021-09-28 17:24] whedon commented on #3775
OK, the editor is @prashjha

[2021-09-28 17:28] kellyrowland commented on #3691
Hi @Maghnuso - thanks for your reply! We are all set with two reviewers here, so please do take the time off with your growing family (congrats!).

[2021-09-28 17:32] Manolomon commented on #2692
Hello @62442katieb, thank you very much for your review. We have implemented your suggested corrections in the manuscript, and looked for all minor typographical errors in our available documentation. We are glad that you found our tool nice and valuable.

[2021-09-28 17:33] Manolomon commented on #2692
@whedon generate pdf

[2021-09-28 17:33] whedon commented on #2692
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02692/joss.02692/10.21105.joss.02692.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02692/joss.02692/10.21105.joss.02692.pdf) :page_facing_up: :point_left:

[2021-09-28 17:41] KristinaRiemer commented on #3467
Hi @jules32, thanks so much for checking in and providing a deadline!

[2021-09-28 17:47] mirenradia commented on #3703
Hmm, I have heard several complaints about Expanse and the one GRChombo user who tried it (@kazewong) gave up and switched to a different cluster he had access to due to unreliable performance. Do you have access to a different (perhaps more-established) cluster to test on?

These "lower level parts" are part of the Chombo library and are thus tested there. Having said that, a few tests that are i

[2021-09-28 17:56] cole-brokamp commented on #3686
@fabian-s I'm currently tied up reviewing for some other journals.  Sorry to decline!

[2021-09-28 18:19] galessiorob commented on #3774
@whedon assign @galessiorob as editor

[2021-09-28 18:19] whedon commented on #3774
OK, the editor is @galessiorob

[2021-09-28 18:27] whedon commented on #3727
:wave: @shahmoradi, please update us on how your review is going (this is an automated reminder).

[2021-09-28 18:27] whedon commented on #3727
:wave: @roderickmackenzie, please update us on how your review is going (this is an automated reminder).

[2021-09-28 18:27] whedon commented on #3727
:wave: @UTH-Tuan, please update us on how your review is going (this is an automated reminder).

[2021-09-28 18:48] bmcfee commented on #3760
@whedon assign @napulen as reviewer

[2021-09-28 18:49] whedon commented on #3760
OK, @napulen is now a reviewer

[2021-09-28 19:34] bocklund commented on #3695
@andr1976: I finished making my first pass on HyDown. I was able to use the Streamlit app online. It looks great. Your documentation looks very detailed and seems to demonstrate the power of HydDown very well. I have opened a few issues to be fixed. Issues blocking my acceptance in the checklist:

- [ ] **Installation** https://github.com/andr1976/HydDown/issues/63
- [ ] **Functionality** https://

[2021-09-28 20:02] maxwelltsai commented on #3675
@dfm @whedon It seems that the paper link is broken. I can no longer download the paper proof from this page: https://github.com/openjournals/joss-reviews/issues/3406#issuecomment-868250511

Has it been transferred to somewhere else? I did find the `paper.md` file on the code repo, but I am wondering whether this is the paper itself.

[2021-09-28 20:34] dfm commented on #3675
@maxwelltsai: There is a new link just a few comments up ☝️: https://github.com/openjournals/joss-reviews/issues/3675#issuecomment-909502893 That one's working for me - does it work for you too?

[2021-09-28 21:18] DavidNickle commented on #3773
**Conflict of interest:** I confirm that I have read the JOSS conflict of interest policy and that: I have no COIs with reviewing this work or that any perceived COIs have been waived by JOSS for the purpose of this review.

Code of Conduct

**Repository:** The source code for this software is available at the repository url
clicking through the link Nextclade CLI
https://docs.nextstrain.org/proje

[2021-09-28 21:25] stuartcampbell commented on #3759
Yes I am willing.

[2021-09-28 21:36] christinahedges commented on #3534
@whedon assign @patricialarsen as reviewer

[2021-09-28 21:36] whedon commented on #3534
OK, @patricialarsen is now a reviewer

[2021-09-28 21:49] andr1976 commented on #3695
@bocklund  thanks for commenting, really appreciated. I have updated the setup to include dependencies, fixed input.yml, updated manual/documentation, including guidelines for running tests. I wanted to create a separate PR with you as reviewer, however one of my workflows/actions kept pushing to main (by mistake) when pushing to a seprate branch, so it didn't really work as intended. No all the f

[2021-09-28 22:05] jmschrei commented on #3447
Great! @RiccardoBiondi would you mind issuing a new tagged release of the software corresponding to this submission, depositing it on Zenodo, and sharing the DOI here? In the meantime I'll skim through the paper and everything for any minor edits that need to be made and we can get this accepted soon!

[2021-09-28 22:05] jmschrei commented on #3447
@whedon generate pdf

[2021-09-28 22:06] whedon commented on #3447
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03447/joss.03447/10.21105.joss.03447.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03447/joss.03447/10.21105.joss.03447.pdf) :page_facing_up: :point_left:

[2021-09-28 22:16] npucino commented on #3666
Absolutely. Thanks.

[2021-09-28 22:49] jmschrei commented on #3447
In L7 can you change ".. a novel, non-supervised..." to "a novel, unsupervised"?

In L23 can you change "It is acute, highly contagious, viral infection..." to "It is >>an<< acute, highly contagious, viral infection..."?

In L27 can you change "In this scenario" to "In the diagnostic setting," or otherwise clarify what "this" means?

[2021-09-28 23:44] TomDonoghue commented on #3638
Thanks for the invite! This project looks interesting, but I don't use Matlab anymore (don't have a license / wouldn't be able to test the code), so I won't be able to do a proper review here.

[2021-09-29 00:05] AKUMAR0019 commented on #3578
Hi @osorensen. The test case has been updated (https://github.com/incf-nidash/PyNIDM/blob/master/nidm/experiment/tools/tests/test_nidm_lingreg.py), and we have addressed all the points raised by the reviewers except for the feedback on global variables, which is taking a while to implement as tests and other code is already functioning with those variables. However, the code itself is still workin

[2021-09-29 01:38] dbuscombe-usgs commented on #3666
I am back from vacation and will be ready to tackle this tomorrow. Apologies for the delay

[2021-09-29 03:39] mattdahl commented on #3617
@whedon generate pdf from branch joss-paper

[2021-09-29 03:39] whedon commented on #3617
[code]

[2021-09-29 03:40] whedon commented on #3617
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03617/joss.03617/10.21105.joss.03617.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03617/joss.03617/10.21105.joss.03617.pdf) :page_facing_up: :point_left:

[2021-09-29 03:45] mattdahl commented on #3617
Thanks @cmaimone for volunteering to review and for your careful attention. The project is much improved because of your suggestions!

[2021-09-29 04:11] alicia-ziying-yang commented on #3347
Hi @faroit @baileythegreen ,
I have created a `setup.py` file in the root folder, and update the installation info in `README.md`.
If the python version is not 3.7.5, the installation will stop, and show error.

[2021-09-29 05:33] JanCBrammer commented on #3638
Thanks for the request! Unfortunately, I'm too swamped atm to properly review this. Also don't have a Matlab licence anymore and it's been quite a while since I did anything with it (will take Matlab off my language list in the reviewer sheet 🙈 ).

[2021-09-29 05:38] osorensen commented on #3578
@htwangtw and @robbisg, when time permits, can you please consider @AKUMAR0019's post above and consider whether the points you raised in your reviews have been addresses. If so, please also update your review checklists.

Thanks for your time and patience!

[2021-09-29 05:57] EduanWilkinson commented on #3691
@kellyrowland I would be happy to help with the review process.

Please advise with regards to how the GitHub review process works.

Regards,

[2021-09-29 07:04] fabian-s commented on #3686
hi, @robohyun66 @njehazi
would any of you be willing to review this submission for JOSS?
We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-09-29 07:07] fabian-s commented on #3686
@pdwaggoner @matloff
would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-09-29 08:10] ChrisW09 commented on #3719
Hi, @pps121 how are things going with the review? Please let us know if anything is unclear. thanks!

[2021-09-29 08:15] drvinceknight commented on #3430
@whedon set 10.5281/zenodo.5534663 as archive

[2021-09-29 08:15] whedon commented on #3430
OK. <a href="https://doi.org/10.5281/zenodo.5534663" target="_blank">10.5281/zenodo.5534663</a> is the archive.

[2021-09-29 08:15] drvinceknight commented on #3430
@whedon set v0.2.4 as version

[2021-09-29 08:15] whedon commented on #3430
OK. v0.2.4 is the version.

[2021-09-29 08:16] drvinceknight commented on #3430
@whedon recommend-accept

[2021-09-29 08:16] whedon commented on #3430
[code]

[2021-09-29 08:16] whedon commented on #3430
[code]

[2021-09-29 08:16] whedon commented on #3430
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2627

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2627, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-29 08:31] kblin commented on #3677
Hi there, sorry, super-busy with other projects at the moment. I'll try to work on this until the end of the week.

[2021-09-29 09:11] VBlesius commented on #3540
Thank you for the final feedback @brunaw !
Community guidelines can be found in the readme of the repo [here](https://github.com/VBlesius/RHRT/blob/main/README.md).

[2021-09-29 09:13] RiccardoBiondi commented on #3447
Thank you @jmschrei.

We have made the required modifications to the paper.
A tagged release is now available. We have deposited the software on Zenodo (doi: 10.5281/zenodo.5535568 url: https://doi.org/10.5281/zenodo.5535568).

Let us know if everything is ok.

[2021-09-29 10:47] Kevin-Mattheus-Moerman commented on #3020
@whedon accept

[2021-09-29 10:47] whedon commented on #3020
To recommend a paper to be accepted use `@whedon recommend-accept`

[2021-09-29 10:48] Kevin-Mattheus-Moerman commented on #3020
@whedon recommend-accept

[2021-09-29 10:48] whedon commented on #3020
[code]

[2021-09-29 10:48] whedon commented on #3020
[code]

[2021-09-29 10:48] whedon commented on #3020
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2628

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2628, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-29 10:49] Kevin-Mattheus-Moerman commented on #3020
@whedon accept deposit=true

[2021-09-29 10:50] whedon commented on #3020
[code]

[2021-09-29 10:50] whedon commented on #3020
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1443166308607176704) 👈 🐦🐦🐦

[2021-09-29 10:50] whedon commented on #3020
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2629
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03020](https://doi.org/10.21105/joss.03020)
2. If everything look

[2021-09-29 11:00] Kevin-Mattheus-Moerman commented on #3020
Congratulations @diehlpk on getting this work published in JOSS!

@vijaysm, @chennachaos thank you so much for your hard work and dedication there! This was a longer process than usual but you stuck with it and helped us throughout and did a great job providing detailed and valuable feedback so again, thank you indeed!!

[2021-09-29 11:00] #3020 closed

[2021-09-29 11:00] whedon commented on #3020
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03020/status.svg)](https://doi.org/10.21105/joss.03020)

**We need your help!**

Journal of Open Source Softwa

[2021-09-29 11:47] johncwok commented on #3733
Dear @bkamins,

I addressed your comments, specifically:
- made a release for all involved packages.
- updated the code to be compatible with the most recent versions of ```DataFrames.jl``` and ```CSV.jl```.
- the files linked in the doc are all contained in the ```CategoricalTimeSeries.jl``` repo, and not pointing to other repos anymore.
- I tested the functions with the most recent versions of e

[2021-09-29 12:20] ebocher commented on #3541
@arfon
This done on zenodo ;-)
https://zenodo.org/record/5534680
and the DOI : 10.5281/zenodo.5534680

[2021-09-29 12:28] bgiacoma commented on #3336
I apologize for the delay.

A few initial comments about the paper:
1) in the abstract (lines 17 and 18) there is a typo: "but but"
2) In the statement of needs, please add references also to GRHydro (https://ui.adsabs.harvard.edu/abs/2014CQGra..31a5005M/abstract) and Spritz (https://ui.adsabs.harvard.edu/abs/2020CQGra..37m5010C/abstract and https://ui.adsabs.harvard.edu/abs/2021CQGra..38h5021C/ab

[2021-09-29 12:50] Bisaloo commented on #3744
Hi @hope-data-science, would you be able to help us review this [R package](https://github.com/jessicatytam/specieshindex) and [paper](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03744/joss.03744/10.21105.joss.03744.pdf) for JOSS? According to the keywords you submitted in our review volunteering form (`scientometrics`, `bibliometrics`, `ecology`), this submission is made for y

[2021-09-29 12:52] Bisaloo commented on #3744
Hi @DrMattG :wave:, would you be able to help us review this [R package](https://github.com/jessicatytam/specieshindex) and [paper](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03744/joss.03744/10.21105.joss.03744.pdf) for JOSS? This seems *really* close to the interests you list in our review volunteering form and in your [GitHub README](https://github.com/DrMattG/DrMattG)!

[2021-09-29 12:55] luciorq commented on #3679
Most of my concerns have been discussed, addressed, and updated.
I will be updating/closing the issues during the next day, then will update here!

[2021-09-29 12:59] danielskatz commented on #3430
👋 @jbytecode - I've suggested some small changes in the paper in https://github.com/jbytecode/JMcDM/pull/30 - please merge this, or let me know what you disagree with, then we can proceed to final acceptance and publishing.

[2021-09-29 13:03] bgiacoma commented on #3336
@arfon can you explain the Performance checklist? The authors provide a scaling plot in the paper, but what do you mean with "have they been confirmed"? Confirmed by the authors or confirmed by us?

[2021-09-29 13:13] jbytecode commented on #3430
@danielskatz thank you for your suggestions. Indeed they are very helpful.
Merged.

[2021-09-29 13:19] elbeejay commented on #3649
Hello all, looks like @jifarquharson has been opening up some issues and has finished (or nearly finished) their review of this submission. @meghanrjones I wanted to check in to see how things are looking on your end. When do you anticipate being able to review PyVOLCANS?

Thanks all and thanks to @PTierz and co-authors for both their submission and the revisions they have made thus far in respons

[2021-09-29 13:24] elbeejay commented on #3541
@whedon generate pdf

[2021-09-29 13:24] elbeejay commented on #3541
@whedon check references

[2021-09-29 13:25] whedon commented on #3541
[code]

[2021-09-29 13:25] danielskatz commented on #3430
@whedon recommend-accept

[2021-09-29 13:25] whedon commented on #3430
[code]

[2021-09-29 13:25] whedon commented on #3430
[code]

[2021-09-29 13:25] elbeejay commented on #3541
@whedon set 0.0.1 as version

[2021-09-29 13:25] whedon commented on #3541
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03541/joss.03541/10.21105.joss.03541.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03541/joss.03541/10.21105.joss.03541.pdf) :page_facing_up: :point_left:

[2021-09-29 13:25] whedon commented on #3541
OK. 0.0.1 is the version.

[2021-09-29 13:26] whedon commented on #3430
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2630

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2630, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-29 13:26] elbeejay commented on #3541
@whedon set 10.5281/zenodo.5534680 as archive

[2021-09-29 13:26] whedon commented on #3541
OK. <a href="https://doi.org/10.5281/zenodo.5534680" target="_blank">10.5281/zenodo.5534680</a> is the archive.

[2021-09-29 13:28] danielskatz commented on #3430
@whedon accept deposit=true

[2021-09-29 13:28] whedon commented on #3430
[code]

[2021-09-29 13:28] whedon commented on #3430
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1443206095623819265) 👈 🐦🐦🐦

[2021-09-29 13:28] whedon commented on #3430
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2631
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03430](https://doi.org/10.21105/joss.03430)
2. If everything look

[2021-09-29 13:33] elbeejay commented on #3541
@whedon recommend-accept

[2021-09-29 13:33] whedon commented on #3541
[code]

[2021-09-29 13:33] whedon commented on #3541
[code]

[2021-09-29 13:34] elbeejay commented on #3541
@ebocher and co-authors: I've recommended that your submission be accepted and published at this time. The final steps will be handled by one of the EiCs. Many thanks to @omshinde, @abhishekvp, and @arbennett for their thoughtful reviews.

[2021-09-29 13:34] whedon commented on #3541
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2632

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2632, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-29 13:35] arfon commented on #3336
@bgiacoma – the point of this item is to check that if the authors are making claims about the performance of their software, have you (the reviewer) been able to verify them?

[2021-09-29 13:37] danielskatz commented on #3430
Congratulations to @jbytecode (Mehmet Hakan Satman) and co-authors!!

And thanks to @brunaw and @sylvaticus for reviewing, and @drvinceknight for editing!
We couldn't do this without you!

[2021-09-29 13:37] #3430 closed

[2021-09-29 13:37] whedon commented on #3430
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03430/status.svg)](https://doi.org/10.21105/joss.03430)

**We need your help!**

Journal of Open Source Softwa

[2021-09-29 13:37] tom-gu commented on #3744
Hi @Bisaloo 😃
Yes, I can review the [R package](https://github.com/jessicatytam/specieshindex) and [paper](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03744/joss.03744/10.21105.joss.03744.pdf) for JOSS.
What's a reasonable timetable?

[2021-09-29 13:49] danielskatz commented on #3541
FYI - I changed the title as there should never be a space before a ":" in English text, unlike some programming languages.

[2021-09-29 13:50] danielskatz commented on #3541
@ebocher - please change the metadata on the zenodo deposit to match the title and authors of the paper, and let us know when this is done

[2021-09-29 13:51] danielskatz commented on #3541
@whedon generate pdf
(just checking to make sure the space is removed in the title of the paper too)

[2021-09-29 13:52] danielskatz commented on #3541
@whedon generate pdf

[2021-09-29 13:53] whedon commented on #3541
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03541/joss.03541/10.21105.joss.03541.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03541/joss.03541/10.21105.joss.03541.pdf) :page_facing_up: :point_left:

[2021-09-29 13:53] ebocher commented on #3541
@danielskatz

Do you want the same name as in the paper  ?

[2021-09-29 13:54] Bisaloo commented on #3744
Thanks for your answer! The review at JOSS is slightly different than others journals. In short, we have found it is usually more efficient to have a more interactive review, where reviewers can post their comments/suggestions/questions as they come as GitHub issues in the submission repository. This differs from "traditional" reviews where you send all your review comments at once. [More details

[2021-09-29 13:55] DrMattG commented on #3744
Hi @Bisaloo I'd be happy to!

[2021-09-29 13:57] Bisaloo commented on #3744
Amazing! With 3 reviewers, we are ready to go! The review can now formally start :tada:.

[2021-09-29 13:58] Bisaloo commented on #3744
@whedon add @tom-gu as reviewer

[2021-09-29 13:58] Bisaloo commented on #3744
@whedon add @DrMattG as reviewer

[2021-09-29 13:58] whedon commented on #3744
OK, @DrMattG is now a reviewer

[2021-09-29 13:59] whedon opened #3776 "[REVIEW]: specieshindex: How scientifically popular is a species?"
**Submitting author:** @jesstytam (<a href="http://orcid.org/0000-0003-3655-1974">Jessica Tam</a>)
**Repository:** https://github.com/jessicatytam/specieshindex
**Branch with paper.md** (empty if default branch):
**Version:** 0.3.1
**Editor:** @Bisaloo
**Reviewers:** @kamapu, @tom-gu, @DrMattG
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COV

[2021-09-29 13:59] whedon commented on #3744
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3776.

[2021-09-29 13:59] #3744 closed

[2021-09-29 13:59] whedon commented on #3776
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kamapu, @tom-gu, @DrMattG it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](ht

[2021-09-29 13:59] whedon commented on #3776
Wordcount for `paper.md` is 1478

[2021-09-29 13:59] whedon commented on #3776
[code]

[2021-09-29 13:59] whedon commented on #3776
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03776/joss.03776/10.21105.joss.03776.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03776/joss.03776/10.21105.joss.03776.pdf) :page_facing_up: :point_left:

[2021-09-29 14:01] ebocher commented on #3541
@danielskatz
Title fixed in the paper
zenodo title updated

[2021-09-29 14:04] bgiacoma commented on #3336
@arfon thanks for the reply. I have to say that I do not think I have the time to redo those scaling tests. They refer to 4 different problems with different resolutions. I would even need some help to know how to run some of them (e.g., parameters used).

[2021-09-29 14:07] danielskatz commented on #3541
@ebocher - I've suggested some minor changes in the paper in https://github.com/orbisgis/geoclimate/pull/635 - please merge this or let me know what you disagree with

[2021-09-29 14:12] ebocher commented on #3541
@danielskatz
Thanks a lot.

[2021-09-29 14:13] whedon commented on #3541
[code]

[2021-09-29 14:14] whedon commented on #3541
[code]

[2021-09-29 14:14] whedon commented on #3541
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2633

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2633, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-29 14:18] danielskatz commented on #3541
@whedon accept deposit=true

[2021-09-29 14:18] whedon commented on #3541
[code]

[2021-09-29 14:19] danielskatz commented on #3541
I just noticed that @arbennett didn't check the box for

@arbennett - can you check this box, or let us know if there was a problem?

[2021-09-29 14:20] whedon commented on #3541
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1443219024272412676) 👈 🐦🐦🐦

[2021-09-29 14:20] whedon commented on #3541
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2634
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03541](https://doi.org/10.21105/joss.03541)
2. If everything look

[2021-09-29 14:21] danielskatz commented on #3541
I'm going to hold this issue open until the last checkbox item from @arbennett is resolved.

[2021-09-29 14:36] meghanrjones commented on #3649
Hi @elbeejay, thanks for checking in. I'll provide a review within the next week.

[2021-09-29 15:02] olejandro commented on #3625
Thank you @mfleschutz! The changes make it very clear now. Also the Applied Energy Paper (great work, btw!) is very useful in understanding the background.
One more comment I have on the **Statment of Need** - for the available functionality in elmada, how much is it complementary rather than an alternative to e.g. electricityMap?
Regarding the documentation, I find the current README sufficient.

[2021-09-29 15:08] bkamins commented on #3733
The reason is the following. You seem not to have done the package releases properly. For instance IntegerIB.jl package has 0.1 tag only made yesterday. However, in Julia Global Registry, here https://github.com/JuliaRegistries/General/blob/master/I/IntegerIB/Versions.toml you see that 0.1 tag was added 13 months ago with git-tree-sha1 `786b9878a5889e1feec38510e694016c3bb76c47`.

This makes Julia

[2021-09-29 15:09] olejandro commented on #3625
@mfleschutz, a very minor comment on the **References** section - for some reason DOI for elmada appears twice.

[2021-09-29 15:14] whedon opened #3777 "[PRE REVIEW]: Binary-parser: A declarative and efficient parser generator for binary data"
**Submitting author:** @keichi (<a href="http://orcid.org/0000-0002-1607-5694">Keichi Takahashi</a>)
**Repository:** <a href="https://github.com/keichi/binary-parser" target ="_blank">https://github.com/keichi/binary-parser</a>
**Version:** v2.0.1
**Editor:** @majensen
**Reviewers:** @GaurangTandon, @Fil
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to th

[2021-09-29 15:14] whedon commented on #3777
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-29 15:14] whedon commented on #3777
[code]

[2021-09-29 15:14] whedon commented on #3777
PDF failed to compile for issue #3777 with the following error:
[code]

[2021-09-29 15:14] whedon opened #3778 "[PRE REVIEW]: disksurf: Extracting the 3D Structure of Protoplanetary Disks"
**Submitting author:** @richteague (<a href="http://orcid.org/0000-0003-1534-5186">Richard Teague</a>)
**Repository:** <a href="https://github.com/richteague/disksurf" target ="_blank">https://github.com/richteague/disksurf</a>
**Version:** v0.1.7
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2021-09-29 15:14] whedon commented on #3778
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-29 15:14] whedon commented on #3778
Wordcount for `paper.md` is 709

[2021-09-29 15:14] whedon commented on #3778
[code]

[2021-09-29 15:14] whedon commented on #3778
[code]

[2021-09-29 15:14] whedon opened #3779 "[PRE REVIEW]: robustHD: An R package for robust regression with high-dimensional data"
**Submitting author:** @aalfons (<a href="http://orcid.org/0000-0002-2513-3788">Andreas Alfons</a>)
**Repository:** <a href="https://github.com/aalfons/robustHD/" target ="_blank">https://github.com/aalfons/robustHD/</a>
**Version:** 0.7.0
**Editor:** @mikldk
**Reviewers:** @valentint, @msalibian
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challe

[2021-09-29 15:14] whedon commented on #3779
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-29 15:14] whedon commented on #3779
Wordcount for `paper.md` is 1545

[2021-09-29 15:14] whedon commented on #3779
[code]

[2021-09-29 15:14] whedon commented on #3779
[code]

[2021-09-29 15:15] whedon commented on #3778
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03778/joss.03778/10.21105.joss.03778.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03778/joss.03778/10.21105.joss.03778.pdf) :page_facing_up: :point_left:

[2021-09-29 15:15] whedon commented on #3779
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03779/joss.03779/10.21105.joss.03779.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03779/joss.03779/10.21105.joss.03779.pdf) :page_facing_up: :point_left:

[2021-09-29 15:15] danielskatz commented on #3777
@whedon generate pdf from branch joss-paper

[2021-09-29 15:15] whedon commented on #3777
[code]

[2021-09-29 15:15] danielskatz commented on #3777
@whedon check references from branch joss-paper

[2021-09-29 15:15] whedon commented on #3777
[code]

[2021-09-29 15:15] whedon commented on #3777
[code]

[2021-09-29 15:15] whedon commented on #3777
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03777/joss.03777/10.21105.joss.03777.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03777/joss.03777/10.21105.joss.03777.pdf) :page_facing_up: :point_left:

[2021-09-29 15:16] olejandro commented on #3625
@fraukewiese, need your guidance regarding `A statement of need: Do the authors clearly state what problems the software is designed to solve and who the target audience is?`. The *target audience* is included in the summary, should @mfleschutz move/include it in the **Statement of Need** as well?

[2021-09-29 15:17] danielskatz commented on #3779
👋 @aalfons - while we find an editor, you could work on the possibly missing DOIs that whedon suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@whedon check references` to check again, and the command `@whedon generate pdf` when the references are right to make a new PDF. Whedon commands need to be the first entry in a new com

[2021-09-29 15:20] danielskatz commented on #3779
👋 @mikldk - would you be able to edit this JOSS submission?

[2021-09-29 15:20] danielskatz commented on #3779
@whedon invite @mikldk as editor

[2021-09-29 15:22] danielskatz commented on #3778
👋 @christinahedges - would you be able to edit this submission for JOSS?

[2021-09-29 15:22] danielskatz commented on #3778
@whedon invite @christinahedges as editor

[2021-09-29 15:22] whedon commented on #3778
@christinahedges has been invited to edit this submission.

[2021-09-29 15:25] danielskatz commented on #3777
👋 @Bisaloo - you were suggested by the author to edit this submission. Are you able to do so?

[2021-09-29 15:26] danielskatz commented on #3777
@whedon invite @Bisaloo as editor

[2021-09-29 15:26] whedon commented on #3777
@Bisaloo has been invited to edit this submission.

[2021-09-29 15:31] Bisaloo commented on #3777
Hi @danielskatz, I don't think I'm a good fit for this submission. It's pretty far from my area of expertise, both in terms of scope and language. I'll refine my profile in the editor list accordingly.

[2021-09-29 15:41] johncwok commented on #3733
So re-registering all the packages to their current version should solve this right?

[2021-09-29 15:43] christinahedges commented on #3778
@whedon assign me as editor

[2021-09-29 15:43] whedon commented on #3778
OK, the editor is @christinahedges

[2021-09-29 15:44] pdwaggoner commented on #3686
Hi @fabian-s - thanks for the invite. I'd be happy to review. I have already gotten into the paper. The package and paper are great. I look forward to submitting my review shortly along with some comments. Thanks!

[2021-09-29 15:56] fabian-s commented on #3686
thanks @pdwaggoner, that's great!

[2021-09-29 15:56] fabian-s commented on #3686
@whedon add @pdwaggoner as reviewer

[2021-09-29 15:57] whedon commented on #3686
OK, @pdwaggoner is now a reviewer

[2021-09-29 15:58] aalfons commented on #3779
@danielskatz - My apologies, I added the DOI URL's instead of just the DOI's. I updated the bib file and I'll try again now to see if I did it correctly.

[2021-09-29 15:58] aalfons commented on #3779
@whedon check references

[2021-09-29 15:58] whedon commented on #3779
[code]

[2021-09-29 15:59] aalfons commented on #3779
@whedon generate pdf

[2021-09-29 15:59] whedon commented on #3779
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03779/joss.03779/10.21105.joss.03779.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03779/joss.03779/10.21105.joss.03779.pdf) :page_facing_up: :point_left:

[2021-09-29 15:59] fabian-s commented on #3686
@whedon start review

[2021-09-29 15:59] whedon opened #3780 "[REVIEW]: RandomForestsGLS: An R package for Random Forests for dependent data"
**Submitting author:** @ArkajyotiSaha (<a href="http://orcid.org/0000-0001-9671-8196">Arkajyoti Saha</a>)
**Repository:** https://github.com/ArkajyotiSaha/RandomForestsGLS
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.4.JOSS
**Editor:** @fabian-s
**Reviewers:** @mnwright, @pdwaggoner
**Archive:** 10.21105/zenodo.6257157

**:warning: JOSS reduced service mode :warning:**

Du

[2021-09-29 15:59] whedon commented on #3686
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3780.

[2021-09-29 15:59] #3686 closed

[2021-09-29 16:00] whedon commented on #3780
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mnwright, @pdwaggoner it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-09-29 16:00] whedon commented on #3780
Wordcount for `paper.md` is 2766

[2021-09-29 16:00] whedon commented on #3780
[code]

[2021-09-29 16:00] whedon commented on #3780
[code]

[2021-09-29 16:00] whedon commented on #3780
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03780/joss.03780/10.21105.joss.03780.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03780/joss.03780/10.21105.joss.03780.pdf) :page_facing_up: :point_left:

[2021-09-29 16:03] danielskatz commented on #3777
Ok, thanks - this one is a bit tough to find the right person

[2021-09-29 16:03] jmschrei commented on #3447
@whedon set 10.5281/zenodo.5535568 as archive

[2021-09-29 16:04] whedon commented on #3447
OK. <a href="https://doi.org/10.5281/zenodo.5535568" target="_blank">10.5281/zenodo.5535568</a> is the archive.

[2021-09-29 16:04] jmschrei commented on #3447
@whedon set 2.0.0 as version

[2021-09-29 16:04] whedon commented on #3447
OK. 2.0.0 is the version.

[2021-09-29 16:04] jmschrei commented on #3447
@whedon recommend-accept

[2021-09-29 16:04] whedon commented on #3447
[code]

[2021-09-29 16:04] whedon commented on #3447
[code]

[2021-09-29 16:05] whedon commented on #3447
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2635

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2635, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-29 16:08] jmschrei commented on #3447
I've recommended this paper for acceptance. Thanks, @RiccardoBiondi, for the submission and for incorporating feedback. Thanks, @amtseng and @pps121, for your time and thoughtful feedback. The final steps will be handled by one of the editor-in-chiefs.

[2021-09-29 16:08] mkolopanis commented on #3676
regarding the simulator comparison, I think it will be reasonable to add WODEN to the comparison section of pyuvsim's documents. That can easily be handled outside of this paper.

[2021-09-29 16:09] danielskatz commented on #3447
@jmschrei - I notice that 4 checkbox items aren't checked off - can you work with the reviewers to finish this process.  I'll proofread the paper in the meantime

[2021-09-29 16:16] danielskatz commented on #3447
@RiccardoBiondi - I've suggested some paper edits in https://github.com/RiccardoBiondi/segmentation/pull/2

I also don't understand "more specific and performing segmentation methods" well enough to suggest a change.  Can you explain what this means?

[2021-09-29 16:20] mkolopanis commented on #3676
It also seems like CircleCI allows for GPU execution on some of their runners according to their [documentation](https://circleci.com/docs/2.0/configuration-reference/). But I've turned up the same nothing regarding coverage for cuda code.
You could also use github actions with a self-hosted runner with a GPU available. I've seen that done in other projects of mine and if you have a dedicated GPU

[2021-09-29 16:42] RiccardoBiondi commented on #3447
Hi @danielskatz

I have uploaded the suggested edits.

I have also modified the unclear sentence, "we surmise that our pipeline can be successfully used as starting point for more specific and performing segmentation methods."  to "we surmise that our pipeline can be successfully used as a first segmentation method to be used as training for other, more specific methods".

[2021-09-29 16:48] bkamins commented on #3733
No - you have to bump the version number and then register. The problem is exactly the fact that you use the same version number for different states of package GitHub repository (Julia will not allow registering the same version number twice as it would be ambiguous).

Also note that this has to be done sequentially. If A depends on B and B on C then you have to:
* bump version of C
* register ne

[2021-09-29 16:51] jbytecode commented on #3733
@bkamins just to inform you, you can send a pull request to the repo under review, if needed. all of the contributions are welcome.

[2021-09-29 16:52] rkurchin commented on #3759
@whedon add @stuartcampbell as reviewer

Thanks Stuart! We'll get the main review issue started once we secure another reviewer.

[2021-09-29 16:52] lantunes commented on #3608
@szhorvat @blsqr Thank you for all your thoughts thus far. Regarding your comments on the future directions of the project, you certainly bring up very relevant and valid issues. The field of CA is vast, and there are indeed a great number of variations on the basic concept introduced decades ago, from stochastic behaviour to arbitrary underlying network structure, as you describe. I've thought ab

[2021-09-29 16:52] whedon commented on #3759
OK, @stuartcampbell is now a reviewer

[2021-09-29 16:54] ksunden commented on #3759
I am also willing

[2021-09-29 16:54] christinahedges commented on #3778
Hi @richteague, thanks for your submission to JOSS! I took a quick look at your submission and I have these comments:

### Tests

I don't believe there are tests in your repo. One of the review checklist criteria for JOSS is:
[code]
You can see the checklist [here](https://joss.readthedocs.io/en/latest/review_checklist.html). Before I find reviewers for this submission, do you want some time to ad

[2021-09-29 16:55] rkurchin commented on #3759
@whedon add @ksunden as reviewer

Fantastic! Thanks a lot! Stay tuned for review issue and some checklists...

[2021-09-29 16:55] whedon commented on #3759
OK, @ksunden is now a reviewer

[2021-09-29 16:56] rkurchin commented on #3759
@whedon start review

[2021-09-29 16:56] whedon opened #3781 "[REVIEW]: spectrapepper: A Python toolbox for advanced analysis of spectroscopic data for materials and devices"
**Submitting author:** @enricgrau (<a href="http://orcid.org/0000-0002-8357-5824">Enric Grau-Luque</a>)
**Repository:** <a href="https://github.com/spectrapepper/spectrapepper" target ="_blank">https://github.com/spectrapepper/spectrapepper</a>
**Version:** 0.1.3
**Editor:** @rkurchin
**Reviewer:** @stuartcampbell, @ksunden
**Archive:** <a href="https://doi.org/10.5281/zenodo.5708435" target="_bla

[2021-09-29 16:56] whedon commented on #3759
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3781.

[2021-09-29 16:56] #3759 closed

[2021-09-29 16:56] whedon commented on #3781
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @stuartcampbell, @ksunden it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2021-09-29 16:56] whedon commented on #3781
Wordcount for `paper.md` is 884

[2021-09-29 16:56] whedon commented on #3781
[code]

[2021-09-29 16:56] whedon commented on #3781
[code]

[2021-09-29 16:56] whedon commented on #3781
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03781/joss.03781/10.21105.joss.03781.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03781/joss.03781/10.21105.joss.03781.pdf) :page_facing_up: :point_left:

[2021-09-29 16:57] rkurchin commented on #3781
☝️ note to @enricgrau to fix that invalid DOI issue at some point (not urgent, but will need to be done eventually)

[2021-09-29 16:58] bkamins commented on #3733
@jbytecode - it probably requires like 5 PRs in different repos and testing if all works correctly sequentially. The repo maintainer OTOH can probably do each operation in 1 minute (as maintainer has full rights to the repo and knows the packages and their interdependencies).

[2021-09-29 17:45] whedon commented on #3779
OK, the editor is @mikldk

[2021-09-29 17:45] mikldk commented on #3779
@aalfons - thank you for the submission.

Do you have any suggestions for reviewers ([here](https://bit.ly/joss-reviewers) is a list of potential reviewers)?

[2021-09-29 17:49] danielskatz commented on #3777
👋 @noatamir - do you think you would be able to edit this JOSS submission?

[2021-09-29 17:49] danielskatz commented on #3777
@whedon invite @noatamir as editor

[2021-09-29 17:49] whedon commented on #3777
@noatamir has been invited to edit this submission.

[2021-09-29 17:50] danielskatz commented on #3767
@whedon start review

Ok, let's go ahead and get started!

[2021-09-29 17:50] whedon opened #3782 "[REVIEW]: sbp-env: A Python Package for Sampling-based Motion Planner and Samplers"
**Submitting author:** @soraxas (<a href="http://orcid.org/0000-0003-0641-5250">Tin Lai</a>)
**Repository:** <a href="https://github.com/soraxas/sbp-env" target ="_blank">https://github.com/soraxas/sbp-env</a>
**Version:** v1.0.0
**Editor:** @danielskatz
**Reviewer:** @KanishAnand, @OlgerSiebinga
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2021-09-29 17:50] whedon commented on #3767
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3782.

[2021-09-29 17:50] #3767 closed

[2021-09-29 17:50] whedon commented on #3782
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @KanishAnand, @OlgerSiebinga it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](

[2021-09-29 17:50] whedon commented on #3782
Wordcount for `paper.md` is 776

[2021-09-29 17:50] whedon commented on #3782
[code]

[2021-09-29 17:50] whedon commented on #3782
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03782/joss.03782/10.21105.joss.03782.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03782/joss.03782/10.21105.joss.03782.pdf) :page_facing_up: :point_left:

[2021-09-29 17:51] danielskatz commented on #3782
@KanishAnand and @OlgerSiebinga - Thanks for agreeing to review this submission.
This is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guide

[2021-09-29 17:52] danielskatz commented on #3211
👋 @antviro - any update on your side to the response from the author ☝️ ?

[2021-09-29 17:53] danielskatz commented on #3618
👋 @michaeltouati - just checking again: any news on work on the open issues?

[2021-09-29 17:53] danielskatz commented on #3618
👋 @rouson - have you been able to get started on your review?

[2021-09-29 17:55] danielskatz commented on #3619
👋 @chad-iris, @cja12, @jkmacc-LANL - we're now about 6 weeks into the process. How is it going? I see some progress by @cja12 and @jkmacc-LANL, but no checked items from @chad-iris.

Are there things that you need from the author or me?

[2021-09-29 18:00] tclune commented on #3618
Note - I may be beginning an unplanned, mandatory "vacation" of unknown duration starting on Friday ...

[2021-09-29 18:22] cja12 commented on #3619
Hi,

I informed you weeks ago that I was through using your system. I do not have any plans to continue this process. I found the interface too confusing and annoying - especially when it automated sending me dozens of irrelevant messages to me. For example, other than to me, I have no idea where this response is going. Ridiculous.

================================i================================

[2021-09-29 19:01] aalfons commented on #3779
**msalibian** is an expert in the field and one of the authors of the `pense` package, which I mention in the *Related software* section. He's on the list of potential reviewers you sent.

**ineswilms** is also an expert on robust statistics and high-dimensional data. But I have to mention that I recently started a project with her. We have not collaborated earlier, and the joint project is not re

[2021-09-29 19:08] christinahedges commented on #3534
@whedon add @smsharma as reviewer

[2021-09-29 19:08] whedon commented on #3534
OK, @smsharma is now a reviewer

[2021-09-29 19:09] DavidNickle commented on #3691
Hi Kelly,

I finished the review.  Not sure it is showing as done.  I could have done something wrong.

David

[2021-09-29 19:10] christinahedges commented on #3534
@whedon start review

[2021-09-29 19:10] whedon opened #3783 "[REVIEW]: The Python Sky Model 3 software"
**Submitting author:** @zonca (<a href="http://orcid.org/0000-0001-6841-1058">Andrea Zonca</a>)
**Repository:** <a href="https://github.com/galsci/pysm" target ="_blank">https://github.com/galsci/pysm</a>
**Version:** v3.3.2
**Editor:** @christinahedges
**Reviewer:** @patricialarsen, @smsharma
**Archive:** <a href="https://doi.org/10.5281/zenodo.5620868" target="_blank">10.5281/zenodo.5620868</a>

[2021-09-29 19:10] whedon commented on #3534
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3783.

[2021-09-29 19:10] #3534 closed

[2021-09-29 19:10] whedon commented on #3783
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @patricialarsen, @smsharma it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](ht

[2021-09-29 19:10] whedon commented on #3783
Wordcount for `paper.md` is 1150

[2021-09-29 19:10] whedon commented on #3783
[code]

[2021-09-29 19:10] whedon commented on #3783
[code]

[2021-09-29 19:10] whedon commented on #3783
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03783/joss.03783/10.21105.joss.03783.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03783/joss.03783/10.21105.joss.03783.pdf) :page_facing_up: :point_left:

[2021-09-29 19:12] kellyrowland commented on #3691
Hi David,

I can see your post over in the review issue, thanks - I'll go ahead and mark the checkboxes off over in that issue.

[2021-09-29 19:19] christinahedges commented on #3783
@zonca, @patricialarsen, @smsharma – This is the review thread for the paper. Please don't hesitate to message me here if you have questions.

Please read the "Reviewer instructions & questions" in the [first comment above](https://github.com/openjournals/joss-reviews/issues/3783#issue-1011350623) to get started. If you get lost, you can also see the [reviewer guidelines](https://joss.readthedocs.

[2021-09-29 19:21] kellyrowland commented on #3691
Hi @EduanWilkinson we can add you as a third reviewer over in the review issue, sure.

The workflow would go as follows:

In the review issue at https://github.com/openjournals/joss-reviews/issues/3773 , I would @ whedon, the JOSS bot, and have it add you as a reviewer on the paper. This will send you an invite to the repository, which you'll need to accept to proceed with the review process.

Onc

[2021-09-29 19:29] pdwaggoner commented on #3780
@ArkajyotiSaha @fabian-s  et al. - Overall, this package is great. A useful extension of RF, and a great complement to the paper introducing the method. My feedback is mostly focused on high level items and involves fixes to ease consumption of the paper and code, and thus application and interpretation. No PRs as nothing major needed to be changed, by me at least. I hope there are some useful com

[2021-09-29 20:01] danielskatz commented on #3618
@tclune - isn't it great to have a job with a high salary and high security :)

[2021-09-29 20:02] noatamir commented on #3755
👋 @ygrange @ziotom78 @leios @ysimillides - would any of your be willing to review this submission for JOSS?

[2021-09-29 20:03] danielskatz commented on #3619
Sorry. I'll remove you as a reviewer, and won't mention you again.

[2021-09-29 20:05] danielskatz commented on #3619
@whedon remove @cja12 as reviewer

[2021-09-29 20:05] whedon commented on #3619
OK, @cja12 is no longer a reviewer

[2021-09-29 20:30] ygrange commented on #3755
It's a bit outside my field (I'm more of an experimental astronomy guy) but I'd be happy to poke at it if someone with more (theoretical astronomy/physics) domain knowledge could supplement that.

[2021-09-29 20:47] michaeltouati commented on #3618
@danielskatz - If you have such a job for me, I'm in. :).  My current contract indeed ends this December and I'm actively searching for a new job.

@tclune  and @TomGoffrey  - Thank you very much for your review. As you suggested :
- I've made the code Fortran 90 standard compliant
- I've solved the different Matplotlib Deprecation Warning issues
- I've capitalized "Beam-Warming", inline with othe

[2021-09-29 20:48] thewan05 commented on #3084
@drvinceknight I am wondering why the names we recommended didn't work out. We contacted them before suggesting them as potential reviewers and they said they would be happy to take a look at the code.

[2021-09-29 22:38] crvernon commented on #3666
@npucino - to address your earlier question of:

The answer from my perspective is:  no.  Having this package able to be installed and function given the documentation and claims that you provide is sufficient.  I agree that this would be a nice addition in the future to extend the usability of your package; though it may not be in the current scope of your development.

[2021-09-29 22:42] crvernon commented on #3709
:mega: Hope all is progressing smoothly.

:wave: @kanishkan91 and @omshinde could you update me on your progress?  Thanks!

[2021-09-29 23:24] dbuscombe-usgs commented on #3666
1. I have removed the previous sandpyper_env conda environment I made before
2. I don't see any instructions for a conda package installation on https://github.com/npucino/sandpyper, so I'm not really sure whether that is yet an option (it seemed like it was, from this thread, but now I'm not so sure). I was expecting the README to be updated with instructions for how you would like to me to insta

[2021-09-30 00:41] npucino commented on #3666
Hi @dbuscombe-usgs , thanks for your feedback!
Let me address your valuable points one at the time.

### Conda-forge package

One of the major request from yourself and conda-forge reviewers is to relax the requirements for Sandpyper.
If I relax the requirements basically telling conda to install the latest versions of packages which are compatible with the user active environment, I get that weir

[2021-09-30 01:49] diehlpk commented on #3390
@Muhao-Chen Could you please address the issues, so the reviewers can proceed. Please notify them here, so the know when to resume their reviews.

[2021-09-30 02:36] rouson commented on #3618
@danielskatz I was just getting started and noticed that all of the checkboxes on my list appear to be grayed out.  I also see that I'm not listed under "Assigned," whereas the other two reviewers are listed so I assume you have to assign this issue to me for me to review it.

[2021-09-30 03:40] luizirber commented on #2991
Removing the `paused` label, let's get this going again? =]

[2021-09-30 05:18] henrykironde commented on #3632
Here are some recommendations @drcandacemakedamoore, feel free to let me know what is appropriate to add to your software.

1. Combine the `Api source docs` with other related documentation like `Medical professional documentation`, include Most of the sections in the README or all of it.
2. Add developer docs. Contributors should be able to set up this development environment with minimal effort

[2021-09-30 06:16] JLBLine commented on #3676
Thanks for checking that out @mkolopanis  - I've just looked into CircleCI which seemed a great solution, until I looked into signing up, and you can only get GPUs on a 'custom pricing plan' so it won't be free. I'm reluctant to use a self-hosted runner, mostly because I don't want random people spinning up my desktop GPU when I might be using it, and the only other GPUs I have access to are queue

[2021-09-30 07:05] EduanWilkinson commented on #3691
@whedon I accept to review the paper. Could you add me as a reviewer please?

Eduan

[2021-09-30 07:05] whedon commented on #3691
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-09-30 07:11] EduanWilkinson commented on #3773
@whedon I accept to review the manuscript. Please add me as a reviewer.

Eduan

[2021-09-30 07:11] whedon commented on #3773
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-09-30 07:13] EduanWilkinson commented on #3773
@kellyrowland Please advise if you still need me to review.

Eduan

[2021-09-30 07:22] JLBLine commented on #3676
Thanks for the review @plaplant. Please see some responses below. Once I've finished this response, I'll try and grab all the relevant points from both your and @mkolopanis reviews and turn them into git issues. I should then be able to notify you guys once I think I've solved each of them and how, and maybe get you guys to verify them so I can close them? If you see any other issues I've missed f

[2021-09-30 07:30] mikldk commented on #3779
@aalfons Thanks for your suggestions. I would appreciate if you could suggest an alternative to ineswilms for the reasons you mention, thanks.

[2021-09-30 08:05] enricgrau commented on #3781
Thank you for the note @rkurchin. I've fixed the issue in the .bib file and push the changes into the repository. Any other actions I should take? Thank you again.

[2021-09-30 08:10] JLBLine commented on #3676
I've just invited you both @mkolopanis and @plaplant to be collaborators on the WODEN repo so I can tag you into issues once I've fixed them. Let me know if this arrangement doesn't work for you, seems like a tidy way to knock things off the list to me.

[2021-09-30 08:46] ziotom78 commented on #3755
Hi @noatamir, my specialization is similar to @ygrange, so I second the request to look for a theoretician. (But if you need I can co-review this.)

[2021-09-30 09:09] aalfons commented on #3779
@mikldk - sure: **valentint** is one of the authors of the `robustbase` package, which is the main package on robust statistics in R, and he has also written the package `rrcovHD` which contains functionality such as PCA and outlier detection in high dimensions.

[2021-09-30 09:19] michaelberks commented on #3523
Hi @emdupre apologies for delay, I was off work for a few days when I got back from leave and then had some conference deadlines to meet.

Summarising the main points raised, I will be fixing the following:

### Minor fixes

- Rewording the main repo README (and home page on wiki) to reflect that binaries do not need to be requested as there is now a permanent link where they can be downloaded wit

[2021-09-30 09:26] blsqr commented on #3608
Thank you for the thorough response, @lantunes, and the pointer to Netomaton (which looks interesting as well!). I think the differences in abstractions between grid-based and network-based automata is a natural point at which to distinguish the libraries, with CellPyLib focussing on grid-based automata. As said, the trade-offs become substantial if aiming to do both…

I think the term "general-pu

[2021-09-30 09:29] PTierz commented on #3649
Dear @elbeejay, @jifarquharson and @meghanrjones,

Thank you very much for your messages and for all your work on the review of our manuscript.

@jifarquharson - We are hugely thankful for your very positive comments on `PyVOLCANS` and its potential applications. Regarding the typo, many thanks for pointing it out. I have corrected it in the [paper.md](https://github.com/BritishGeologicalSurvey/py

[2021-09-30 10:27] bmcfee commented on #3760
@whedon add @albincorreya as reviewer

[2021-09-30 10:27] whedon commented on #3760
OK, @albincorreya is now a reviewer

[2021-09-30 10:29] bmcfee commented on #3760
:wave: @MichaelSel we're ready to get the review going, though one of the reviewers (@albincorreya) won't be able to start until after next week.

[2021-09-30 10:29] bmcfee commented on #3760
@whedon start review

[2021-09-30 10:29] whedon opened #3784 "[REVIEW]: EDO.js: A comprehensive JavaScript library for interaction with musical set theory in any tuning"
**Submitting author:** @MichaelSel (<a href="http://orcid.org/0000-0002-6061-0674">Michael Seltenreich</a>)
**Repository:** <a href="https://github.com/MichaelSel/edoJS" target ="_blank">https://github.com/MichaelSel/edoJS</a>
**Version:** v1.2.13
**Editor:** @bmcfee
**Reviewer:** @napulen, @albincorreya
**Archive:** <a href="https://doi.org/10.5281/zenodo.5705161" target="_blank">10.5281/zenodo.5

[2021-09-30 10:29] whedon commented on #3760
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3784.

[2021-09-30 10:29] #3760 closed

[2021-09-30 10:29] whedon commented on #3784
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @napulen, @albincorreya it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2021-09-30 10:29] whedon commented on #3784
Wordcount for `paper.md` is 698

[2021-09-30 10:29] whedon commented on #3784
[code]

[2021-09-30 10:29] whedon commented on #3784
[code]

[2021-09-30 10:29] whedon commented on #3784
Failed to discover a valid open source license.

[2021-09-30 10:29] whedon commented on #3784
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03784/joss.03784/10.21105.joss.03784.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03784/joss.03784/10.21105.joss.03784.pdf) :page_facing_up: :point_left:

[2021-09-30 10:57] mikldk commented on #3779
@aalfons. Thanks. A few comments before I invite the reviewers:

- [ ] Can you add your country to the paper (in addition to "Rrasmus School of Economics, Erasmus University Rotterdam")?
- [ ] Figure 1: Change `lambda` to `expression(lambda)`
- [ ] The paper is fairly long (see [here](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain)); maybe move some examples to

[2021-09-30 11:19] natir commented on #2991
it's seems

[2021-09-30 11:31] fgeertman commented on #2733
Yes, will do next week.

Thanks

From: Vince Knight ***@***.***
Sent: Monday, September 27, 2021 3:48 PM
To: openjournals/joss-reviews
Cc: Ferry Geertman; Mention
Subject: Re: [openjournals/joss-reviews] [REVIEW]: JASP for Audit: Bayesian Tools for the Auditing Practice (#2733)

@fgeertman<https://github.com/fgeertman> just a polite nudge in case you have time now to look at this.

—
You are recei

[2021-09-30 11:38] dfm commented on #3676
@JLBLine: We definitely don't require something like this for a JOSS review as long as the reviewers can execute the code on their own machines, so I think we're ok! It would be great if some of the free CI options started supporting GPU testing someday, but we're definitely not there yet.

[2021-09-30 11:43] pdebuyl commented on #3337
Hi @McWhity for information, I have started looking for an alternative second reviewer.

[2021-09-30 11:47] danielskatz commented on #3618
@rouson - you have to accept the invitation to review, as mentioned early in this issue.  It's probably expired, so I'll re-issue it, which may also say it's expired when you click on it (a strange github bug) - if so, let me know

[2021-09-30 11:48] danielskatz commented on #3618
@whedon re-invite @rouson as reviewer

[2021-09-30 11:48] whedon commented on #3618
The reviewer already has a pending invite.

@rouson please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-09-30 11:48] danielskatz commented on #3618
@whedon re-invite @rouson as reviewer

[2021-09-30 11:48] whedon commented on #3618
The reviewer already has a pending invite.

@rouson please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-09-30 11:51] EtienneCmb commented on #3746
Dear @meg-simula, do you have news from the potential reviewers?

[2021-09-30 11:51] johncwok commented on #3733
@bkamins I took care of it, and it is passing CI now. I don't know how long it will take until the re-registration is done though.

[2021-09-30 12:27] aalfons commented on #3779
**Point 1)** Done.

**Point 2)** I deliberately used `lambda` in Figure 1 to maintain the connection with argument `lambda` of function `sparseLTS()`. However, if you prefer me to use `expression(lambda)`, I can change that.

**Point 3)** When I checked the word count in `paper.md` with RStudio before submission, I got 1017 words excluding the metadata, so I was hoping it would still be ok. I desi

[2021-09-30 12:34] bgiacoma commented on #3336
I think the paper is also missing a (short) description of the state of the field (i.e., Do the authors describe how this software compares to other commonly-used packages?).

[2021-09-30 12:35] rkurchin commented on #3781
@whedon generate pdf

That's all! It should rerun the checks again and verify...

[2021-09-30 12:35] whedon commented on #3781
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03781/joss.03781/10.21105.joss.03781.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03781/joss.03781/10.21105.joss.03781.pdf) :page_facing_up: :point_left:

[2021-09-30 12:36] danielskatz commented on #3781
@whedon check references

@rkurchin - this is how to run the checks - doing that and generating the pdf are separate commands

[2021-09-30 12:37] whedon commented on #3781
[code]

[2021-09-30 12:44] pdebuyl commented on #3076
@mparno  any news?

[2021-09-30 12:44] rkurchin commented on #3781
Haha oops, thanks @danielskatz; I would've remembered that eventually but you beat me to it ;)

Anyway, @enricgrau, DOI's look good 👍

[2021-09-30 13:48] richteague commented on #3778
Thanks @christinahedges!

I've updated the license for `detect_peaks.py` with the MIT version that it was originally written under.

Regarding the tests, we've developed a [tutorial notebook](https://disksurf.readthedocs.io/en/latest/tutorials/tutorial_1.html) which users can run that should act as a test that everything is installed correctly. It this sufficient for the "manual steps" described i

[2021-09-30 14:14] tsalo commented on #3669
@oliviaguest I'm sorry for the delay. We merged the `joss` branch into `main` and released 0.0.11. The new DOI is `10.5281/zenodo.5541689`.

[2021-09-30 14:18] mikldk commented on #3779
@aalfons Thanks. Ad 2: Fine with me :+1:. Ad 3: Let's hear what the reviewers say. Anyway, I think it would be nice to have the examples in the `README`, too.

[2021-09-30 14:21] mikldk commented on #3779
@msalibian, @valentint: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2021-09-30 14:27] aalfons commented on #3779
@mikldk - great, thanks! I'll add the examples in the `README` either way. I'll recompile the paper now to have the updated address in there.

[2021-09-30 14:27] aalfons commented on #3779
@whedon generate pdf

[2021-09-30 14:28] whedon commented on #3779
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03779/joss.03779/10.21105.joss.03779.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03779/joss.03779/10.21105.joss.03779.pdf) :page_facing_up: :point_left:

[2021-09-30 14:40] whedon commented on #3732
:wave: @drewbitllama, please update us on how your review is going (this is an automated reminder).

[2021-09-30 14:40] whedon commented on #3732
:wave: @astanziola, please update us on how your review is going (this is an automated reminder).

[2021-09-30 15:16] whedon commented on #3733
:wave: @bkamins, please update us on how your review is going (this is an automated reminder).

[2021-09-30 15:16] whedon commented on #3733
:wave: @felixcremer, please update us on how your review is going (this is an automated reminder).

[2021-09-30 15:59] jmschrei commented on #3447
@danielskatz the checkboxes are all checked now. Thanks for catching that.

[2021-09-30 16:11] bocklund commented on #3695
@fraukewiese all the acceptance-blocking issues that I identified have been completed and I'm happy to recommend that HydDown be accepted to JOSS.

[2021-09-30 16:15] danielskatz commented on #3447
@whedon recommend-accept

[2021-09-30 16:15] whedon commented on #3447
[code]

[2021-09-30 16:16] whedon commented on #3447
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2636

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2636, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-30 16:20] ejikeugba commented on #3705
Dear @wesleyburr, thanks for the comments and the suggested issues. I will let you know once I have them all addressed.

[2021-09-30 16:21] danielskatz commented on #3447
@whedon accept deposit=true

[2021-09-30 16:21] whedon commented on #3447
[code]

[2021-09-30 16:22] whedon commented on #3447
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1443612302801088518) 👈 🐦🐦🐦

[2021-09-30 16:22] whedon commented on #3447
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2637
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03447](https://doi.org/10.21105/joss.03447)
2. If everything look

[2021-09-30 16:27] galessiorob commented on #3774
👋 Hi @wlandau

I am in the process of assigning reviewers to this submission, if you have any suggestions please let me know and feel free to @ mention them here.

Basic checks to go over before we formally start the review:

 - [ ] There’s a general description of the software
           Needs expanding
 - [ ] The software is within the scope as research software
           Potentially to be expa

[2021-09-30 16:34] danielskatz commented on #3447
Congratulations to @RiccardoBiondi (Riccardo Biondi) and co-authors!!

And thanks to @pps121 and @amtseng for reviewing, and @jmschrei for editing!
We couldn't do this without you!

[2021-09-30 16:34] #3447 closed

[2021-09-30 16:34] whedon commented on #3447
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03447/status.svg)](https://doi.org/10.21105/joss.03447)

**We need your help!**

Journal of Open Source Softwa

[2021-09-30 16:39] slwu89 commented on #3539
Hi @mikldk, we've finished checking the proofs of the paper. Everything seems to be in order.

[2021-09-30 16:49] msalibian commented on #3779
@mikldk Yes. Sorry I forget if there's anything specific I need to do here to accept. Pls let me know.

[2021-09-30 16:56] wlandau-lilly commented on #3774
Hi @galessiorob, thanks for reaching out.

Yes, `jagstargets` is currently under MIT. Does the software need to be switched to GPL for the JOSS manuscript to be considered?

[2021-09-30 16:57] wlandau commented on #3774
Hi @galessiorob, thanks for reaching out.

Yes, `jagstargets` is currently under MIT. Does the software need to be switched to GPL for the JOSS manuscript to be considered?

[2021-09-30 17:23] danielskatz commented on #3541
Ok, thanks to @arbennett for coming back and fixing the last checkbox - we're all done now!!

[2021-09-30 17:24] danielskatz commented on #3541
Congratulations to @ebocher (Erwan Bocher) and co-authors!!

And thanks to @abhishekvp, @omshinde, and @arbennett for reviewing, and @elbeejay for editing!
We couldn't do this without you!!

[2021-09-30 17:24] #3541 closed

[2021-09-30 17:24] whedon commented on #3541
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03541/status.svg)](https://doi.org/10.21105/joss.03541)

**We need your help!**

Journal of Open Source Softwa

[2021-09-30 17:43] lucydot commented on #3598
@whedon set 10.5281/zenodo.5519795 as archive

[2021-09-30 17:43] whedon commented on #3598
OK. <a href="https://doi.org/10.5281/zenodo.5519795" target="_blank">10.5281/zenodo.5519795</a> is the archive.

[2021-09-30 17:43] lucydot commented on #3598
@whedon set 4.14.1 as version

[2021-09-30 17:43] whedon commented on #3598
OK. 4.14.1 is the version.

[2021-09-30 17:44] lucydot commented on #3598
@whedon recommend-accept

[2021-09-30 17:44] whedon commented on #3598
[code]

[2021-09-30 17:44] whedon commented on #3598
[code]

[2021-09-30 17:44] whedon commented on #3598
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2638

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2638, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-30 17:45] lucydot commented on #3598
We are there! It has now been passed to one of the editor-in-chiefs for final processing 🎈

[2021-09-30 17:51] danielskatz commented on #3598
@whedon accept deposit=true

Looks good to me!

[2021-09-30 17:51] whedon commented on #3598
[code]

[2021-09-30 17:51] whedon commented on #3598
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1443634683615526916) 👈 🐦🐦🐦

[2021-09-30 17:51] whedon commented on #3598
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2639
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03598](https://doi.org/10.21105/joss.03598)
2. If everything look

[2021-09-30 17:52] danielskatz commented on #2606
@arfon - just a ping on this...

[2021-09-30 17:52] danielskatz commented on #2752
👋 @gkthiruvathukal - what's the next step here?

[2021-09-30 17:53] danielskatz commented on #3062
👋 @gkthiruvathukal - this paper seems stuck?

[2021-09-30 17:54] danielskatz commented on #3176
@kyleniemeyer - what's going on with this submission?

[2021-09-30 17:54] danielskatz commented on #3331
@mbobra - can you provide an update about this submission?  It seems stuck...

[2021-09-30 17:55] danielskatz commented on #2708
@arfon - This seems stuck?

[2021-09-30 17:56] danielskatz commented on #3061
👋 @pjanck - Any news on this as we move out of the summer?

[2021-09-30 17:56] danielskatz commented on #3174
👋 @villaa - Can we get an update on your progress on this?

[2021-09-30 17:57] danielskatz commented on #3598
Congratulations to @dfujim (Derek Fujimoto)!!

And thanks to @nicksisco1932 and @jpata for reviewing, and @lucydot for editing!
We couldn't do this without you!

[2021-09-30 17:57] #3598 closed

[2021-09-30 17:57] whedon commented on #3598
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03598/status.svg)](https://doi.org/10.21105/joss.03598)

**We need your help!**

Journal of Open Source Softwa

[2021-09-30 17:58] danielskatz commented on #3052
👋 @ayush-1506 - Can you provide an update at this point?

[2021-09-30 17:59] danielskatz commented on #2446
👋 @arfon - just a ping on this review...

[2021-09-30 18:05] villaa commented on #3174
Hello, yes. I have another paper and proposal I'm putting in which will be both finished by next Tuesday. So, I *think* we can address all the issues raised in the week after that.

I don't know if our reviewers are willing to re-engage at that time.

[2021-09-30 18:08] aalfons commented on #3779
@mikldk - The two examples from the paper are now included in `README` as well.

@msalibian - Thanks for agreeing to review the paper!

[2021-09-30 18:09] maxwelltsai opened #3785 "Installation: Does installation proceed as outlined in the documentation?"

[2021-09-30 18:09] whedon commented on #3785
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-09-30 18:09] #3785 closed

[2021-09-30 18:19] maxwelltsai commented on #3785
The user has to manually install `numba` before they can install `pytreegrav`. I would suggest that the authors add `numba` as a dependency in `setup.py`.

[2021-09-30 18:25] christinahedges commented on #3778
Hi @richteague! Thanks for updating to be compliant with the license.

Re tests, these are the instructions from JOSS:
[code]
Based on this, I would say that having a tutorial notebook for testing comes under the "OK" bracket. I think because it meets this standard, I'm happy to let the compliance with testing (e.g. test coverage) be discussed with reviewers.

Let me know if you have any reviewer

[2021-09-30 18:27] kyleniemeyer commented on #3176
Ah, shoot, lost track of this. Sorry about that @cartemic and @mefuller. I still need to find a second reviewer.

[2021-09-30 18:27] kyleniemeyer commented on #3176
Hello @mwerwee, are you able to review this submission for JOSS? It focuses on the design and analysis of detonation tubes.

[2021-09-30 18:31] danielskatz commented on #3329
👋 @GustaveCoste - Can you provide a status update here?

[2021-09-30 18:31] cpalenzuela commented on #3336
I also apologize for taking so long. Initially I could run quite easily the example given in the README. But when I tried to go beyond that example I found several issues. Among others, my main issues are:

1) I compiled the problem mhdmodes but when tried to run it failed with the following error message
./harm -p param.dat
Fatal error in PMPI_Cart_create: Invalid argument, error stack:
PMPI_Cart

[2021-09-30 18:32] danielskatz commented on #3399
👋 @kyleniemeyer - How is this review going?

[2021-09-30 18:32] danielskatz commented on #3386
👋 @richardjgowers - Can you provide an update on this submission and review?

[2021-09-30 18:33] danielskatz commented on #2780
👋 @onurvarol - Can you provide an update on this?

[2021-09-30 18:34] kyleniemeyer commented on #3399
@ngoiz thank you for your comments!

@tb93 As you can see above, @ngoiz left a few comments/suggestions for you. Can you please address these?

@Gunnstein have you been able to review this submission?

[2021-09-30 18:34] danielskatz commented on #3119
👋 @arfon - Can you provide an update on this submission and review?

[2021-09-30 18:34] danielskatz commented on #3310
👋 @rfon - Can you provide an update on this submission and review?

[2021-09-30 18:35] danielskatz commented on #2688
👋 @arunpersaud - Can you provide an update on this?

[2021-09-30 18:36] danielskatz commented on #2565
👋 @jedbrown - Can you provide an update on this submission and review?

[2021-09-30 18:44] richardjgowers commented on #3386
@danielskatz I've had trouble finding reviewers for this paper, partly due to the specific hardware required, so it's currently at a stage where only one person has reviewed it

[2021-09-30 18:46] matthewfeickert commented on #3174
Can you clarify this more? There has been no activity on the repository for well over a month

![activity](https://user-images.githubusercontent.com/5142394/135511775-f11474c7-b6e6-4fd1-a229-4e53e626433f.png)

I will be honest and say that I'm don't see how this review will be done in a reasonable time. The plan was that the authors would take the summer to revise and prepare the software for revi

[2021-09-30 18:47] danielskatz commented on #3386
What's the next step?  If we can't find another reviewer, we may have to mark it as withdrawn.  But in any case, we shouldn't just leave it hanging.

[2021-09-30 18:52] richardjgowers commented on #3386
I’ll try to find another reviewer, perhaps someone new is available now.

On Thu, Sep 30, 2021 at 19:47, Daniel S. Katz ***@***.***>
wrote:

[2021-09-30 18:55] marina-haliem commented on #3761
Hi @RafalKucharskiPK,

Thank you for your comments. I have updated the requirements list, and the default db_dir path. Also, I've updated the Getting Started section, highlighting how to run a quick start of 1 day. Apologies regarding this error, there was a minor bug that I fixed. I have conducted some additional testing, and I believe it should run smoothly now for you.

Please, let us know if y

[2021-09-30 19:19] richardjgowers commented on #2919
@arosen93 @bbucior would either of you be able to review this or suggest someone that might be more suitable?

[2021-09-30 19:38] dfujim commented on #3598
Great, thanks everyone!

[2021-09-30 19:43] bkamins commented on #3733
I have checked your PRs to General Registry. As you can see your packages (for different reasons) fail the registration process.
If you have any questions regarding the registration please ask me and I will try to help.

Otherwise - could you please let me know when the registration is finished - thank you!
(in particular at least one of the packages is missing license and having proper licensing

[2021-09-30 19:46] jirhiker commented on #3386
I can suggest a few more reviewers. Ones that have pychron installed and are using it daily.
@aschaen
@bjicha
@stephen-e-cox
@sidnyhemming
@cmmercer
@wrguenthner

[2021-09-30 19:58] alexismhill3 commented on #3678
@afrubin I've created a conda recipe for Opfi and updated the documentation accordingly. These changes were merged, so you should be able to see them on the main branch now.

I had to update a few unit tests during this process. Specifically, some tests required the modified version of PILER-CR, which we have decided to deprecate the use of (see wilkelab/Opfi#207 for more details). So if you were

[2021-09-30 20:27] changgoo commented on #3771
Still, I only see the Jira Issues tab, which seems to be inactive. In the meantime, I will put some comments here instead.

[2021-09-30 20:27] changgoo commented on #3771
Based on the checklist here, it might be recommend to rename `COPYING` to `LICENSE`.

[2021-09-30 20:38] changgoo commented on #3771
I failed compile the code. When I run this command

[code]

I first get an error message complaining about undefined variable `WITH_CHOMBO`. Copying the following lines within the `no_gui` function solves this problem. (or this can be moved outside functions so that defined globally.)
 https://bitbucket.org/orionmhdteam/orion2_release1/src/dcd893ca943a350199ded758fd085c95c6c6035e/Tools/Python/ut.p

[2021-09-30 21:42] soffner commented on #3771
Thanks, Chang-Goo.

LICENSE renaming fixed.

I'm looking into why the issue tracker is not accessible.

It looks like you are trying to compile in the Template directory. Try
compiling one of the test problems and compile in that directory. No files
should need to be added there.

On Thu, Sep 30, 2021 at 3:39 PM Chang-Goo Kim ***@***.***>
wrote:

[2021-09-30 21:44] soffner commented on #3771
The issue tracker is enabled for public use now. Let me know if you still
can't see it.

On Thu, Sep 30, 2021 at 4:41 PM Stella Offner ***@***.***> wrote:

[2021-09-30 21:46] johncwok commented on #3733
Do you know why the auto-merge from ```MotifRecognition.jl``` failed? The license is there, and the error message is totally incomprehensible to me.
I have added the missing license to ```SpectralEnvelope.jl```.

[2021-09-30 21:48] changgoo commented on #3771
Okay, now I see the issue tracker. Let me create an issue there.

[2021-09-30 21:52] bkamins commented on #3733
As you can see in https://github.com/JuliaRegistries/General/pull/45831#issuecomment-931248106 there are two problems:
* your `[compat]` section is incomplete (missing entry for DataStructures.jl)
* your version numbering is skipping versions. Since currently known to Julia Registry version of this package is 0.1 then it expected that the patch release would have number 0.1.1, while you have made

[2021-09-30 22:53] mbobra commented on #3174
@villaa I am the editor and responsible for removing and assigning reviewers. Resubmitting doesn't actually waste any time. If the repo is almost finished, then the new reviewers will be able to go through it quite easily and give it an overall yay or nay.

@matthewfeickert has indeed spent quite a bit of time watching this. I can't in good faith ask him to continue on his volunteer time to monito

[2021-09-30 22:56] johncwok commented on #3733
I have added the ```[compat]``` for DataStructures.jl.

I guess I will just let you know when the re-registration is complete then.

[2021-09-30 22:56] mbobra commented on #3331
I am going to pause the review. This gives @ashleychontos time to improve their code and also gives reviewers a break from keeping up with this review thread.

@ashleychontos There's nothing wrong (or negative) with pausing a review. If you know you'll be done by a certain time, we can keep it paused. If you're not sure how long all this will take (or if you no longer want to pursue it), you can w

[2021-09-30 23:23] gkthiruvathukal commented on #3062
@danielskatz Yes, it's a struggle!

@marcozennaro It has been some time since I asked whether you'll be able to make the revisions to your submission?  Can you suggest a timeline for addressing them? If I don't hear back within a week, I think we should pause this submission.

[2021-09-30 23:38] danielskatz commented on #3062
Given that it's been over 6 months since the author has responded, I suggest that if there is no progress in the next week, we reject the paper and allow the author to resubmit at a future time.

[2021-09-30 23:51] gkthiruvathukal commented on #3062
@danielskatz I concur.

[2021-10-01 00:37] villaa commented on #3174
@mbobra Ok, fair enough. Thanks. I will try to make the next submission more efficient--good learning experience.

[2021-10-01 01:17] danielskatz commented on #3174
Thanks @villaa.  I'll go ahead and make this happen.

[2021-10-01 01:17] danielskatz commented on #3174
@whedon withdraw

[2021-10-01 01:17] whedon commented on #3174
Paper withdrawn.

[2021-10-01 01:17] #3174 closed

[2021-10-01 01:18] danielskatz commented on #3174
Also, thanks @matthewfeickert and @mbobra for your effort on this!

[2021-10-01 03:32] arosen93 commented on #2919
@richardjgowers -- sorry, I'm a bit short on time and this is outside my area of expertise. Unfortunately, no recommendations from me on this topic.

[2021-10-01 04:20] jedbrown commented on #2565
Hi, @iannesbitt. Are you intending to leave the current state of testing or will you add tests. One important aspect is to ask what components other researchers might want to contribute to and make sure they are well tested. So if you have some component that does a well-defined task and will never change, then perhaps it doesn't need its own unit test. But a leaky abstraction or one with a resear

[2021-10-01 04:45] drcandacemakedamoore commented on #3632
Thank you very much. We will try to implement ALL of these changes, and
push them next week along with some additional functions! There may be some
technical issues that will come up with the .yml file, but we will try to
make one as instructed.

On Thu, Sep 30, 2021 at 7:18 AM henry senyondo ***@***.***>
wrote:

[2021-10-01 05:02] mefuller commented on #3695
@fraukewiese I am also satisfied with the submission in its present for and recommend acceptance

[2021-10-01 05:15] omshinde commented on #3709
@whedon generate pdf

[2021-10-01 05:17] whedon commented on #3709
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03709/joss.03709/10.21105.joss.03709.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03709/joss.03709/10.21105.joss.03709.pdf) :page_facing_up: :point_left:

[2021-10-01 07:05] GustaveCoste commented on #3329
I am back after a not so short summer break. The remarks of the reviewers have been addressed in the project repository and the article have been updated. I let the reviewers tell if these modifications are sufficient.

[2021-10-01 07:21] enricgrau commented on #3781
@rkurchin I just realize there is an author missing and reuploaded the .md file with the added author missing. Let me know if this is fine or I should roll it back and dot it later on. Thank you!

[2021-10-01 08:41] arfon commented on #2708
:wave: @ysohn – do you think you might be able to complete your updates in the next month? If not, I'm going to recommend we close this review and encourage a resubmission in the future if/when you are able to make the changes requested by our reviewers.

[2021-10-01 08:43] arfon commented on #2446
@lockepatton – this review seems stuck. As @faroit suggested, the [pep-0432](https://www.python.org/dev/peps/pep-0423/#how-to-rename-a-project) seem like a good solution here. Could you please share your intent at this point?

[2021-10-01 08:47] wvxvw commented on #3632
@henrykironde Can you please look at this branch: https://github.com/drcandacemakedamoore/cleanX/tree/wvxvw/review-fixes and tell me if it helps you with `conda` environments?

[2021-10-01 08:47] drvinceknight commented on #3084
One person did not reply, another said no (because they did no have access to sAS) and another said they did not want to do the review in an open manner.

[2021-10-01 08:50] arfon commented on #3310
This isn't my paper, I was just trying to help out @pibion with finding some reviewers.

[2021-10-01 09:13] meg-simula commented on #3714
Thanks @alcantarar for the constructive review and comments!

[2021-10-01 09:14] meg-simula commented on #3714
@melund How is your review going? Do let us know if you need any input from the authors or me to proceed at this stage.

[2021-10-01 09:22] meg-simula commented on #3721
:wave: Thanks, @mithun218 for the submission. This looks very much ready for review with JOSS.

I'll reach out to reviewers, and get back to you.  Would you have any suggestions for reviewers, for instance from[ this spreadsheet](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822)?

[2021-10-01 09:27] meg-simula commented on #3746
:wave: @EtienneCmb I've reviewed the paper and code, and this looks very much ready for review in JOSS. I'll reach out to reviewers now.

[2021-10-01 09:28] EtienneCmb commented on #3746
Excellent, thank you !

[2021-10-01 09:31] melund commented on #3714
@meg-simula  Sorry about the delay. I might have been too optimistic about my time.

 I still need to go through the documentation and really try out the functionality. I only just started on that part. I have no time this weekend, but I will try to do it some evening next week.

[2021-10-01 09:32] meg-simula commented on #3746
:wave: @madvn @karnigili @jacobes @zen-juen would any of you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-10-01 09:33] meg-simula commented on #3714
@melund We fully understand, your contribution and review is much appreciated!

[2021-10-01 09:42] ashwinvis commented on #3418
@whedon check references

[2021-10-01 09:42] whedon commented on #3418
[code]

[2021-10-01 09:45] ashwinvis commented on #3418
@whedon generate pdf

[2021-10-01 09:45] whedon commented on #3418
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03418/joss.03418/10.21105.joss.03418.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03418/joss.03418/10.21105.joss.03418.pdf) :page_facing_up: :point_left:

[2021-10-01 10:08] mithun218 commented on #3721
Hi and thank you @meg-simula for accepting to be editor for our paper!

For reviewers, I'll suggest
solanpaa, peanutfun, jamiejquinn, balos1, dawbarton, dglmoore,cpgr

[2021-10-01 10:39] esteinig commented on #2991
thank you so much for your patience! thesis finally submitted, it was a bit of a grind :hot_face: tried my best to address the issues and re-wrote most of the code and the paper. thanks for the great suggestions around implementation @natir and @bovee

[2021-10-01 10:42] esteinig commented on #2991
there was a couple of slight changes to the paper, added `rust-bio-tools` in the introduction

@whedon generate pdf

[2021-10-01 10:49] arfon commented on #2991
@whedon generate pdf

[2021-10-01 10:49] whedon commented on #2991
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02991/joss.02991/10.21105.joss.02991.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02991/joss.02991/10.21105.joss.02991.pdf) :page_facing_up: :point_left:

[2021-10-01 11:13] ashleychontos commented on #3331
Thank you for clarifying @mbobra - the primary three developers for `pySYD` are tied up at the moment (which includes myself, currently busy with postdoc applications), hence the delay. I think we still want to pursue it and also agree with all the reviewers comments, but a likely time scale when I can revisit this is ~2 months? Is that an ok amount of time to be paused?

[2021-10-01 11:29] meg-simula commented on #3721
:wave: @peanutfun @balos1 @ketch would any of you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-10-01 11:41] bbucior commented on #2919
@richardjgowers -- sorry, I'm in a similar boat as Andrew. The only lead that comes to mind is the team over at https://github.com/numat since they've written some other data collection software.

[2021-10-01 12:44] mikldk commented on #3779
@msalibian, @valentint Thanks. No, not yet. I'll create a review issue and the you'll get an invite that you must accept.

[2021-10-01 12:45] mikldk commented on #3779
@whedon assign @valentint as reviewer

[2021-10-01 12:45] whedon commented on #3779
OK, @valentint is now a reviewer

[2021-10-01 12:45] mikldk commented on #3779
@whedon add @msalibian as reviewer

[2021-10-01 12:45] whedon commented on #3779
OK, @msalibian is now a reviewer

[2021-10-01 12:45] mikldk commented on #3779
@whedon start review

[2021-10-01 12:45] whedon opened #3786 "[REVIEW]: robustHD: An R package for robust regression with high-dimensional data"
**Submitting author:** @aalfons (<a href="http://orcid.org/0000-0002-2513-3788">Andreas Alfons</a>)
**Repository:** <a href="https://github.com/aalfons/robustHD/" target ="_blank">https://github.com/aalfons/robustHD/</a>
**Version:** v0.7.1
**Editor:** @mikldk
**Reviewer:** @valentint, @msalibian
**Archive:** <a href="https://doi.org/10.25397/eur.16802596.v1" target="_blank">10.25397/eur.16802596.

[2021-10-01 12:45] whedon commented on #3779
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3786.

[2021-10-01 12:45] #3779 closed

[2021-10-01 12:45] whedon commented on #3786
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @valentint, @msalibian it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-10-01 12:45] whedon commented on #3786
Wordcount for `paper.md` is 1546

[2021-10-01 12:45] whedon commented on #3786
[code]

[2021-10-01 12:46] whedon commented on #3786
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03786/joss.03786/10.21105.joss.03786.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03786/joss.03786/10.21105.joss.03786.pdf) :page_facing_up: :point_left:

[2021-10-01 12:48] mikldk commented on #3786
@valentint, @msalibian: Thanks for agreeing to review. Please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If possible create issues (and cross-reference) in the submission's repository to avoid too specific discussions in this revi

[2021-10-01 12:59] danielskatz commented on #3310
Sorry, my mistake.

@pibion - how do we move this forward?

@fjprichard - did you have any suggestions, as requested a couple of months ago in https://github.com/openjournals/joss-reviews/issues/3310#issuecomment-894784670?

[2021-10-01 13:01] danielskatz commented on #3331
In my opinion, this is getting close to the far edge of acceptable, but if the reviewers are willing to wait and then take another look at that time, we can accept it.

[2021-10-01 13:07] danhey commented on #3331
Hi all, I am happy to wait until the authors are ready. No rush here!

[2021-10-01 13:07] OlgerSiebinga commented on #3782
Quick update from my side. I started reviewing today and I have opened two issues in the repository:

https://github.com/soraxas/sbp-env/issues/5#issue-1013318323
https://github.com/soraxas/sbp-env/issues/4#issue-1013302150

One is a suggestion for a minor change, the other is an exception that occurs. This exception does not seem hard to fix or important, but I'm not sure I understand it enough t

[2021-10-01 13:08] danielskatz commented on #3782
@OlgerSiebinga - can you mention `openjournals/joss-reviews#3782` in those issues so that a link is created to this thread (and I can keep an eye on what is happening)

[2021-10-01 13:20] McWhity commented on #3337
Thank you for the update

[2021-10-01 13:28] danielskatz commented on #3375
After some discussion between the editors-in-chief, based on the reviewers' comments, we will reject this as not having sufficient scholarly effort.  Our apologies to  @ayush-1506 for the slow process, and our thanks to @krystophny, @morganericsson for their reviewing work, and to @melissawm for editing.

[2021-10-01 13:28] danielskatz commented on #3375
@whedon reject

[2021-10-01 13:28] whedon commented on #3375
Paper rejected.

[2021-10-01 13:28] #3375 closed

[2021-10-01 13:38] peanutfun commented on #3721
@meg-simula yes, I would like to! ☺️

[2021-10-01 13:47] AngryMaciek commented on #3096
@danielskatz
Yes, sorry for the delay. It took me much longer then expected since I needed to learn more theory about advanced cryptography, before even having started to code it. I am essentially adding here a class specialisation to include the functionality described [in this paper](https://eprint.iacr.org/2009/386.pdf) I think it fits perfectly as a concrete application of a general algebraic

[2021-10-01 13:49] benjaminpope commented on #3331
Fine by me!

———————————————
Dr Benjamin Pope (he/him)
Lecturer in Astrophysics
University of Queensland
benjaminpope.github.io
________________________________
From: Daniel ***@***.***>
Sent: Friday, October 1, 2021 11:07:21 PM
To: openjournals/joss-reviews ***@***.***>
Cc: Benjamin Pope ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [REVIEW]: pySYD: Automated measure

[2021-10-01 13:52] danielskatz commented on #3331
Thanks @danhey and @benjaminpope!

[2021-10-01 13:53] danielskatz commented on #3331
@whedon remind @ashleychontos @mbobra @danielskatz in 2 months

[2021-10-01 13:53] whedon commented on #3331
Reminder set for @ashleychontos @mbobra @danielskatz in 2 months

[2021-10-01 13:54] whedon opened #3787 "[PRE REVIEW]: Json2Xlsx: PHP library for extraction and visualization of data in a spreadsheet"
**Submitting author:** @scheiblr (<a href="http://orcid.org/0000-0003-2067-5569">Raphael Scheible</a>)
**Repository:** <a href="https://github.com/scheiblr/Json2Xlsx" target ="_blank">https://github.com/scheiblr/Json2Xlsx</a>
**Version:** v0.5.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of th

[2021-10-01 13:54] whedon commented on #3787
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-10-01 13:54] whedon commented on #3787
[code]

[2021-10-01 13:54] whedon opened #3788 "[PRE REVIEW]: SISSO++: A C++ Implementation of the Sure Independence Screening and Sparisifying Operator Approach"
**Submitting author:** @tpurcell90 (<a href="http://orcid.org/0000-0003-4564-7206">Thomas Purcell</a>)
**Repository:** <a href="https://gitlab.com/sissopp_developers/sissopp" target ="_blank">https://gitlab.com/sissopp_developers/sissopp</a>
**Version:** v1.0.0
**Editor:** @jarvist
**Reviewers:** @ml-evs, @AstroBarker
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning

[2021-10-01 13:54] whedon commented on #3787
PDF failed to compile for issue #3787 with the following error:
[code]

[2021-10-01 13:54] whedon commented on #3788
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-10-01 13:54] whedon commented on #3788
Wordcount for `paper.md` is 756

[2021-10-01 13:54] whedon opened #3789 "[PRE REVIEW]: bistablehistory: an R package for history-dependent analysis of perceptual time series"
**Submitting author:** @alexander-pastukhov (<a href="http://orcid.org/0000-0002-8738-8591">Alexander Pastukhov</a>)
**Repository:** <a href="https://github.com/alexander-pastukhov/bistablehistory" target ="_blank">https://github.com/alexander-pastukhov/bistablehistory</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced servi

[2021-10-01 13:54] whedon commented on #3789
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-10-01 13:55] whedon commented on #3788
[code]

[2021-10-01 13:55] whedon commented on #3788
[code]

[2021-10-01 13:55] whedon commented on #3789
[code]

[2021-10-01 13:55] whedon commented on #3788
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03788/joss.03788/10.21105.joss.03788.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03788/joss.03788/10.21105.joss.03788.pdf) :page_facing_up: :point_left:

[2021-10-01 13:55] danielskatz commented on #3789
@whedon generate pdf from branch joss

[2021-10-01 13:55] whedon commented on #3789
[code]

[2021-10-01 13:55] whedon commented on #3789
PDF failed to compile for issue #3789 with the following error:
[code]

[2021-10-01 13:55] danielskatz commented on #3789
@whedon check references from branch joss

[2021-10-01 13:55] whedon commented on #3789
[code]

[2021-10-01 13:55] whedon commented on #3789
[code]

[2021-10-01 13:55] whedon commented on #3789
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03789/joss.03789/10.21105.joss.03789.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03789/joss.03789/10.21105.joss.03789.pdf) :page_facing_up: :point_left:

[2021-10-01 13:56] danielskatz commented on #3787
@whedon check references from branch joss

[2021-10-01 13:56] whedon commented on #3787
[code]

[2021-10-01 13:56] danielskatz commented on #3787
@whedon generate pdf from branch joss

[2021-10-01 13:56] whedon commented on #3787
[code]

[2021-10-01 13:56] whedon commented on #3787
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03787/joss.03787/10.21105.joss.03787.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03787/joss.03787/10.21105.joss.03787.pdf) :page_facing_up: :point_left:

[2021-10-01 13:56] whedon commented on #3787
[code]

[2021-10-01 13:57] henrykironde commented on #3632
Thanks for the Updates.

Could you explain to how the dependencies are different for each platform.

 I think that does not help me as a contributor to install from source. I would expect to see list of non python prerequisite tools. Once all are installed, it would be a clean `pip install `

[2021-10-01 13:58] danielskatz commented on #3789
@alexander-pastukhov - Your paper should have a section titled "Statement of Need" that explains why this software is needed, and what kinds of problems can be solved using it, in what fields.

Please add this, and then use the command `@whedon generate pdf from branch joss` to regenerate the pdf, noting the whedon commands need to be the first thing in a comment.

[2021-10-01 14:00] whedon commented on #3787
Submission flagged for editorial review.

[2021-10-01 14:04] luizirber commented on #3684
@whedon assign @hiraksarkar as reviewer

[2021-10-01 14:04] whedon commented on #3684
OK, @hiraksarkar is now a reviewer

[2021-10-01 14:04] danielskatz commented on #3274
👋 @clavigne - note that this is basically ready to proceed, once you merge the PR...

[2021-10-01 14:05] luizirber commented on #3684
@whedon start review

[2021-10-01 14:05] whedon opened #3790 "[REVIEW]: ROCK: digital normalization of whole genome sequencing data"
**Submitting author:** @alex2cris (<a href="http://orcid.org/0000-0002-8212-5215">alexis criscuolo</a>)
**Repository:** https://gitlab.pasteur.fr/vlegrand/ROCK
**Branch with paper.md** (empty if default branch):
**Version:** v_1.9.6
**Editor:** @luizirber
**Reviewers:** @hiraksarkar, @ctb
**Archive:** 10.5281/zenodo.6527091

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2021-10-01 14:05] whedon commented on #3684
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3790.

[2021-10-01 14:05] #3684 closed

[2021-10-01 14:05] whedon commented on #3790
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @hiraksarkar it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.jos

[2021-10-01 14:05] whedon commented on #3790
Wordcount for `paper.md` is 1929

[2021-10-01 14:05] danielskatz commented on #3788
👋 @jarvist - Would you be able to edit this JOSS submission?

[2021-10-01 14:05] whedon commented on #3790
[code]

[2021-10-01 14:05] whedon commented on #3790
[code]

[2021-10-01 14:05] danielskatz commented on #3788
@whedon invite @jarvist as editor

[2021-10-01 14:05] whedon commented on #3788
@jarvist has been invited to edit this submission.

[2021-10-01 14:05] whedon commented on #3790
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03790/joss.03790/10.21105.joss.03790.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03790/joss.03790/10.21105.joss.03790.pdf) :page_facing_up: :point_left:

[2021-10-01 14:06] luizirber commented on #3684
Oh no, whedon dropped ctb as a reviewer, can this be fixed @kyleniemeyer ?

[2021-10-01 14:10] Muhao-Chen commented on #3390
@diehlpk Thanks for reminding! I will finish and upload it soon. Thanks!

[2021-10-01 14:57] jedbrown commented on #2565
Sounds great, thanks.

[2021-10-01 14:57] kanishkan91 commented on #3709
@crvernon I am going through the review. I hope to  complete it by this weekend or latest by  the 6th of October. Let me know what you think.

[2021-10-01 15:02] kyleniemeyer commented on #3684
(... @luizirber which you said, and I somehow missed. Need to finish my coffee... ☕ )

[2021-10-01 15:02] crvernon commented on #3709
Sounds great @kanishkan91 - thanks for the update!

[2021-10-01 15:02] whedon commented on #3790
OK, @ctb is now a reviewer

[2021-10-01 15:04] kyleniemeyer commented on #3790
@luizirber FYI, if the missing reviewer thing ever happens again, you can just give the `add` command here, then you need to manually edit whedon's initial comment to add the missing reviewer checklist

[2021-10-01 16:15] whedon opened #3791 "[PRE REVIEW]: PYRUS: Plotting Copy Number Estimates in Genome-Wide Data"
**Submitting author:** @tycheleturner (<a href="http://orcid.org/0000-0001-8246-6477">Tychele N. Turner</a>)
**Repository:** <a href="https://github.com/TNTurnerLab/PYRUS" target ="_blank">https://github.com/TNTurnerLab/PYRUS</a>
**Version:** v.1.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2021-10-01 16:15] whedon commented on #3791
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-10-01 16:16] whedon commented on #3791
[code]

[2021-10-01 16:16] whedon commented on #3791
Wordcount for `paper.md` is 549

[2021-10-01 16:16] whedon commented on #3791
[code]

[2021-10-01 16:17] whedon commented on #3791
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03791/joss.03791/10.21105.joss.03791.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03791/joss.03791/10.21105.joss.03791.pdf) :page_facing_up: :point_left:

[2021-10-01 16:21] JohnVolk commented on #3418
@ashwinvis I just updated the DOIs to remove those prefixes as recommended.

@pdebuyl I'll get add documentation for the testing soon. You are correct, the tests create a few different runs of the software using different example input files which are provided with the software, and checks if calculations and output files were performed/generated correctly in each case.

[2021-10-01 16:21] danielskatz commented on #3791
👋 @tycheleturner - I'm unsure if this software meets the JOSS [definition of research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software) or is of [sufficient scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) due to the quite small code size, so I'm going to mark it for an editor discussion, which sh

[2021-10-01 16:21] danielskatz commented on #3791
@whedon query scope

[2021-10-01 16:21] whedon commented on #3791
Submission flagged for editorial review.

[2021-10-01 16:25] tpurcell90 commented on #3788
For reviewers: tbirkandan and Ohjeah are good topic fits, but don't have C++ as a listed language

[2021-10-01 16:46] alex2cris commented on #3790
@VeroniqueLegrand  @tkergrohen  the ROCK [REVIEW] issue is here now

[2021-10-01 16:47] alexander-pastukhov commented on #3789
@whedon generate pdf from branch joss

On Fri, Oct 1, 2021 at 3:55 PM whedon ***@***.***> wrote:

[2021-10-01 16:50] danielskatz commented on #3789
@alexander-pastukhov - you may have to give whedon commands directly on GitHub - I'm not sure that the email interface will work

[2021-10-01 16:53] alexander-pastukhov commented on #3789
@whedon generate pdf from branch joss

[2021-10-01 16:53] whedon commented on #3789
[code]

[2021-10-01 16:54] whedon commented on #3789
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03789/joss.03789/10.21105.joss.03789.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03789/joss.03789/10.21105.joss.03789.pdf) :page_facing_up: :point_left:

[2021-10-01 16:56] fjprichard commented on #3310
ahwillia, cdcrabtree, robohyun66, stsievert, kczimm, bahung, mskwark, vitorsr, abhishektha, tuchandra

[2021-10-01 16:59] tycheleturner commented on #3791
@danielskatz Thank you for the update. We look forward to hearing from you.

[2021-10-01 17:08] danielskatz commented on #3789
👋  @chartgerink - Would you be willing to edit this submission for JOSS?

[2021-10-01 17:08] danielskatz commented on #3789
@whedon invite @chartgerink as editor

[2021-10-01 17:08] whedon commented on #3789
@chartgerink has been invited to edit this submission.

[2021-10-01 17:09] whedon opened #3792 "[PRE REVIEW]: gym-saturation: an OpenAI Gym environment for saturation provers"
**Submitting author:** @inpefess (<a href="http://orcid.org/0000-0002-1291-9896">Boris Shminke</a>)
**Repository:** <a href="https://github.com/inpefess/gym-saturation" target ="_blank">https://github.com/inpefess/gym-saturation</a>
**Version:** v0.1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2021-10-01 17:09] whedon commented on #3792
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-10-01 17:09] whedon commented on #3792
[code]

[2021-10-01 17:09] whedon commented on #3792
PDF failed to compile for issue #3792 with the following error:
[code]

[2021-10-01 17:09] danielskatz commented on #3792
@whedon generate pdf from branch joss-paper

[2021-10-01 17:10] whedon commented on #3792
[code]

[2021-10-01 17:10] danielskatz commented on #3792
@whedon check references from branch joss-paper

[2021-10-01 17:10] whedon commented on #3792
[code]

[2021-10-01 17:10] whedon commented on #3792
[code]

[2021-10-01 17:10] whedon commented on #3792
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03792/joss.03792/10.21105.joss.03792.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03792/joss.03792/10.21105.joss.03792.pdf) :page_facing_up: :point_left:

[2021-10-01 17:12] danielskatz commented on #3792
@inpefess - while we look for an editor, you could work on the possibly missing DOIs that whedon suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@whedon check references from branch joss-paper` to check again, and the command `@whedon generate pdf from branch joss-paper` when the references are right to make a new PDF. Whedon

[2021-10-01 17:14] vaneseltine commented on #3440
Thanks to both reviewers for these great suggestions!

The documents in the core repository have now been improved based on several (combined) suggestions in https://github.com/vaneseltine/nominally/commit/9dbebde85c83606141f0189a3ae69332111cfd31:

1. A statement of need. I incorporated language from the paper on the difficulties of name records into README intro, in order to motivate the usefulne

[2021-10-01 17:14] vaneseltine commented on #3440
@whedon generate pdf

[2021-10-01 17:14] danielskatz commented on #3792
👋 @VivianePons - would you be able to edit this submission for JOSS?

[2021-10-01 17:14] danielskatz commented on #3792
@whedon invite @VivianePons as editor

[2021-10-01 17:14] whedon commented on #3792
@VivianePons has been invited to edit this submission.

[2021-10-01 17:14] whedon commented on #3440
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03440/joss.03440/10.21105.joss.03440.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03440/joss.03440/10.21105.joss.03440.pdf) :page_facing_up: :point_left:

[2021-10-01 17:34] whedon commented on #3735
:wave: @oyvinht, please update us on how your review is going (this is an automated reminder).

[2021-10-01 17:34] whedon commented on #3735
:wave: @khinsen, please update us on how your review is going (this is an automated reminder).

[2021-10-01 19:11] dgketchum commented on #3418
I successfully ran the package tests. Thank you for your attention to this, @JohnVolk.

[2021-10-01 19:44] TahiriNadia opened #3793 "A statement of need: Do the authors clearly state what problems the software is designed to solve and who the target audience is?"

[2021-10-01 19:44] whedon commented on #3793
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-10-01 19:44] #3793 closed

[2021-10-01 20:16] bprather commented on #3336
@whedon generate pdf from branch joss-paper-branch

The co-authors and I have updated the text to address the initial comments from @bgiacoma. The substantial changes are an addition to the Statement of Need describing the field in slightly more detail as the word limit allows, and a brief paragraph addressing units in Implementation Details.  We've also taken the opportunity to make minor updates

[2021-10-01 20:16] whedon commented on #3336
[code]

[2021-10-01 20:16] whedon commented on #3336
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03336/joss.03336/10.21105.joss.03336.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03336/joss.03336/10.21105.joss.03336.pdf) :page_facing_up: :point_left:

[2021-10-01 20:19] inpefess commented on #3792
@whedon check references from branch joss-paper

[2021-10-01 20:19] whedon commented on #3792
[code]

[2021-10-01 20:19] whedon commented on #3792
[code]

[2021-10-01 20:19] inpefess commented on #3792
@whedon generate pdf from branch joss-paper

[2021-10-01 20:19] whedon commented on #3792
[code]

[2021-10-01 20:20] whedon commented on #3792
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03792/joss.03792/10.21105.joss.03792.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03792/joss.03792/10.21105.joss.03792.pdf) :page_facing_up: :point_left: