[2019-01-11 12:00] cMadan commented on #1063
@arfon @danielskatz, we're all set to accept here!

[2019-01-11 12:54] igarizio commented on #1111
@jmhernan I think I fixed all the comments. Here are the details:

I changed the wording of the paper (a little) and added a small introduction in the documentation page.
Answering your question, I think my software focuses only in researchers, because it is not fully optimized for each particular case available (something that practitioners may find really important).

I added a new example in th

[2019-01-11 13:31] dmey commented on #1137
Thanks @puncan and @kyleniemeyer

@kyleniemeyer I have two DOIs:
- One that represents all versions, and will always resolve to the latest one: [10.5281/zenodo.2537945](https://dx.doi.org/10.5281/zenodo.2537945)
- One that represents this specific version -- in this case is the latest and only one: [10.5281/zenodo.2537946](https://dx.doi.org/10.5281/zenodo.2537946)

I looked at the JOSS docs (spec

[2019-01-11 14:05] arfon commented on #1063
@whedon accept deposit=true

[2019-01-11 14:05] whedon commented on #1063
[code]

[2019-01-11 14:06] whedon commented on #1063
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/430
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01063](https://doi.org/10.21105/joss.01063)
2. If everything looks go

[2019-01-11 14:08] arfon commented on #1063
@thewtex - many thanks for your review here and to @cMadan for editing this submission ✨

@plooney - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-01-11 14:08] #1063 closed

[2019-01-11 14:08] whedon commented on #1063
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01063/status.svg)](https://doi.org/10.21105/joss.01063)

**We need your help!**

Journal of Open Source Softwar

[2019-01-11 14:50] kthyng commented on #1124
/ooo Jan 16 until Mar 31

[2019-01-11 14:52] kthyng commented on #1124
Hi @mvdh7 and @ZijieZhaoMMHW, I'm hoping to finish up this submission in the next week or so. I've marked myself as being out of office starting next Wednesday, but it is dependent on forces outside my control; I'll try to finish this before being out. If that ends up not happening, @lheagy will take over.

[2019-01-11 15:14] Kevin-Mattheus-Moerman commented on #974
@arfon @labarba @kyleniemeyer @danielskatz we are good to accept this paper. @devinberg Thanks for your review work!

[2019-01-11 18:35] fberio commented on #1153
@r-barnes We designed the functions for an evo-devo project but indeed, this is a global method that can be used for many research topics. We did not focus on Evolution in the description but the code was designed to help with 3D landmarks handling.

[2019-01-11 18:59] kyleniemeyer commented on #1137
@dmey For this case, we want the paper to reference the specific version of the software that was reviewed, so I'll use that DOI.

[2019-01-11 19:00] kyleniemeyer commented on #1137
@whedon set 10.5281/zenodo.2537946 as archive

[2019-01-11 19:00] whedon commented on #1137
OK. <a href="https://doi.org/10.5281/zenodo.2537946" target="_blank">10.5281/zenodo.2537946</a> is the archive.

[2019-01-11 19:04] mvdh7 commented on #1124
Okay @kthyng. Will try my best to get things wrapped up before then

[2019-01-11 20:01] kyleniemeyer commented on #1137
@whedon accept

[2019-01-11 20:01] whedon commented on #1137
[code]

[2019-01-11 20:02] whedon commented on #1137
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/431

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/431, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-01-11 20:18] PythonCHB opened #1162 "Please add me as a reviewer"
As a furloughed federal employee, I am can not use my NOAA identity at this time.

Please add my personal gitHub id as a reviewer:

PythonCHB

I am the same person as ChrisBarker-NOAA

Thanks,

-Chris

[2019-01-11 20:18] whedon commented on #1162
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-01-11 20:18] whedon commented on #1162
[code]

[2019-01-11 20:18] whedon commented on #1162
PDF failed to compile for issue #1162 with the following error:

 Can't find any papers to compile :-(

[2019-01-11 21:29] whedon opened #1163 "[PRE REVIEW]: pyscses - a python space charge site explicit solver"
**Submitting author:** @georgiewellock (<a href="http://orcid.org/0000-0002-1068-5889">Georgina Wellock</a>)
**Repository:** <a href="https://github.com/bjmorgan/pyscses" target ="_blank">https://github.com/bjmorgan/pyscses</a>
**Version:** v 0.9.3.2
**Editor:** @labarba
**Reviewers:** @ncclementi, @vyasr

**Author instructions**

Thanks for submitting your paper to JOSS @georgiewellock. The JOSS

[2019-01-11 21:29] whedon opened #1164 "[PRE REVIEW]: xmsinterp - 2D/3D Interpolation Library"
**Submitting author:** @alemon-aquaveo (<a href="http://orcid.org/0000-0003-3931-4587">Alan Lemon</a>)
**Repository:** <a href="https://github.com/Aquaveo/xmsinterp" target ="_blank">https://github.com/Aquaveo/xmsinterp</a>
**Version:** v2.2.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @alemon-aquaveo The JOSS editor (shown at the t

[2019-01-11 21:30] whedon opened #1165 "[PRE REVIEW]: HODLRlib: A Library for Hierarchical Matrices"
**Submitting author:** @sivaramambikasaran (<a href="http://orcid.org/0000-0003-2978-6281">Sivaram Ambikasaran</a>)
**Repository:** <a href="https://github.com/sivaramambikasaran/HODLR" target ="_blank">https://github.com/sivaramambikasaran/HODLR</a>
**Version:** 3.1415
**Editor:** @jedbrown
**Reviewers:** @poulson

**Author instructions**

Thanks for submitting your paper to JOSS @sivaramambikasa

[2019-01-11 21:30] arfon commented on #1165
:wave: @jedbrown - the submitting author suggested you as the handling editor.

[2019-01-11 21:30] whedon commented on #1165
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01165/joss.01165/10.21105.joss.01165.pdf)

[2019-01-11 21:33] arfon commented on #1150
:wave: @pjotrp - would you be willing to edit this submission for JOSS?

[2019-01-11 21:34] arfon commented on #1164
@whedon generate pdf

[2019-01-11 21:34] whedon commented on #1164
[code]

[2019-01-11 21:34] whedon commented on #1164
PDF failed to compile for issue #1164 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-50d5912cf72a/lib/whedon.rb:117:in `parse_affiliations': undefined method `each' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-50d5912cf72a/lib/whedon.rb:103:in `parse_authors'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-50d5912cf

[2019-01-11 21:39] arfon commented on #1164
:wave: @alemon-aquaveo - thanks for your submission to JOSS. Before we can assign an editor and reviewers I need you to fix up your submission paper (`paper.md`) file.

Please note, both the paper metadata (the YAML header) and the paper contents need work. Please take a look at our [submission guidelines](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) to get a

[2019-01-11 22:47] RHagenson commented on #1146
@urbanslug and @pjotrp, the performance claims are bold, however they are entirely algorithmic.

Going from a brute-force "consider every window of at least size `--minWin`" to the candidate window plus extension procedure had a severe reduction in the amount of work needed to get approximate results. Reading the code should be sufficient proof, but I also offer that my real dataset had 39966 posi

[2019-01-11 23:54] jedbrown commented on #1165
@whedon assign @poulson as editor

[2019-01-11 23:56] jedbrown commented on #1165
This is firmly in @poulson's wheelhouse. Opportune timing as he joins the editorial board. :tada:

[2019-01-12 00:32] poulson commented on #1165
@sivaramambikasaran I am starting to take a look and should start having feedback in the coming days.

[2019-01-12 02:07] AshokHub commented on #1150
@pjotrp I am waiting for review.

[2019-01-12 03:55] sivaramambikasaran commented on #1165
@whedon commands

[2019-01-12 03:55] whedon commented on #1165
Here are some things you can ask me to do:

[code]

[2019-01-12 04:12] pjotrp commented on #1150
@whedon asssing @pjotrp as editor

[2019-01-12 04:12] pjotrp commented on #1150
@whedon assing @pjotrp as editor

[2019-01-12 04:12] pjotrp commented on #1150
@whedon assign @pjotrp as editor

[2019-01-12 04:12] whedon commented on #1150
OK, the editor is @pjotrp

[2019-01-12 06:12] sivaramambikasaran commented on #1165
@whedon @poulson : Possible reviewers

1. @poulson
2. @klho
3. @gchavez2
4. @dfm
5. @michael-hartmann

[2019-01-12 06:18] jedbrown commented on #1089
@krueschan Would you be willing to add an installation option as a Docker container or similar? This would significantly streamline the review and automate what appears to be a complicated installation process for any users who wish to run their own server (even on localhost to inspect different data, etc.).

[2019-01-12 08:12] sivaramambikasaran commented on #1165
And of course if you want the reviewers from the existing list.

1. @labarba
2. @jedbrown
3. @ChrisRackauckas
4. @jeffhammond
5. @wrathematics

[2019-01-12 08:15] Kevin-Mattheus-Moerman commented on #1012
Great, thanks @NikEfth

[2019-01-12 08:16] Kevin-Mattheus-Moerman commented on #1012
@jeroen I see you have 3 unticked boxes remaining. The version number will be fixed once the submission is accepted. In terms of the license this has now been clarified to be an OSI approved license (LGPL-3.0). Are you able to tick the last boxes and perhaps formulate a recommendation (e.g. accept or not). Thanks!

[2019-01-12 08:18] Kevin-Mattheus-Moerman commented on #1153
@fberio if you can suggest more reviewers great. I'll look for some more too.

[2019-01-12 08:36] Kevin-Mattheus-Moerman commented on #1153
@cleardusk @patrikhuber @anilbas @JuliaWinchester would you be interested in reviewing this work for the [Journal of Open Source Software (JOSS)](http://joss.theoj.org/about)? The https://joss.readthedocs.io/en/latest/reviewer_guidelines.html focuses on the software and a [short paper](https://github.com/openjournals/joss-papers/blob/joss.01153/joss.01153/10.21105.joss.01153.pdf). The review proce

[2019-01-12 08:37] Kevin-Mattheus-Moerman commented on #1149
@jfsantos great thanks. We can be flexible and do not have a formal deadline.

[2019-01-12 08:38] Kevin-Mattheus-Moerman commented on #1149
@whedon add @jfsantos as reviewer

[2019-01-12 08:38] whedon commented on #1149
OK, @jfsantos is now a reviewer

[2019-01-12 08:38] Kevin-Mattheus-Moerman commented on #1149
@whedon start review

[2019-01-12 08:38] whedon opened #1166 "[REVIEW]: MIDI.jl: Intuitive handling of MIDI data made for musicians"
**Submitting author:** @Datseris (<a href="http://orcid.org/0000-0002-6427-2385">George Datserus</a>)
**Repository:** <a href="https://github.com/JuliaMusic/MIDI.jl" target ="_blank">https://github.com/JuliaMusic/MIDI.jl</a>
**Version:** v1.1.3
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @ssfrr, @jfsantos
**Archive:** <a href="https://doi.org/10.5281/zenodo.2591437" target="_blank">10.5281/z

[2019-01-12 08:38] whedon commented on #1149
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1166. Feel free to close this issue now!

[2019-01-12 08:38] whedon commented on #1166
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ssfrr, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2019-01-12 08:38] whedon commented on #1166
[code]

[2019-01-12 08:39] whedon commented on #1166
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01166/joss.01166/10.21105.joss.01166.pdf)

[2019-01-12 08:43] Kevin-Mattheus-Moerman commented on #1166
@Datseris, @ssfrr, @jfsantos, this is where the review takes place. There are instructions at the top of this issue as well as a check list which will guide you through the process. If all boxes are ticked and reviewers recommend acceptance this submission will be accepted in JOSS.

You can comment on minor things here and we encourage your to use check lists (`- [ ]` in markdown). Larger/longer i

[2019-01-12 08:44] Kevin-Mattheus-Moerman commented on #1166
@Datseris can you work on fixing that figure in the paper? Let me know if you need help.

[2019-01-12 08:46] Kevin-Mattheus-Moerman commented on #941
@Padlina. Nope looks like you are done. Thanks!

[2019-01-12 08:48] Kevin-Mattheus-Moerman commented on #941
@stenskjaer have you responded to @Padlina 's "small suggestions" (@Padlina can you link to where these suggestions are discussed?)?

[2019-01-12 08:50] Kevin-Mattheus-Moerman commented on #927
@nicoguaro are you happy with the reply to your comments @Ipuch formulated?

[2019-01-12 08:57] Datseris commented on #1166
@Kevin-Mattheus-Moerman I do not know how to fix this figure, as I said in a previous comment in the previous issue. It is a standard `.png` figure that is included with the standard `![description](figure)` format. The figure doesn't have overly big whitespace either.

From my perspective this is a problem of the "compilation/pdf-generation" procedure. If you know what I have to do then please le

[2019-01-12 09:17] Kevin-Mattheus-Moerman commented on #1166
@arfon any idea what is causing the figure to be off center in [this paper](https://github.com/openjournals/joss-papers/blob/joss.01166/joss.01166/10.21105.joss.01166.pdf)?

[2019-01-12 09:20] Kevin-Mattheus-Moerman commented on #1166
@Datseris looks a bit like it is an inline picture so I tried to add extra lines in the PR https://github.com/JuliaMusic/MIDI.jl/pull/111.

[2019-01-12 10:05] patrikhuber commented on #1153
@Kevin-Mattheus-Moerman I can't currently do a full review according to your reviewer guidelines, but I've looked at the paper & repo and I'd be happy to leave a paragraph or two of review comments.

[2019-01-12 12:08] Datseris commented on #1166
@whedon generate pdf

[2019-01-12 12:09] whedon commented on #1166
[code]

[2019-01-12 12:09] whedon commented on #1166
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01166/joss.01166/10.21105.joss.01166.pdf)

[2019-01-12 12:10] Datseris commented on #1166
Thank you Kevin, it worked. I'll add a better caption now...

[2019-01-12 12:59] labarba commented on #1165
Perhaps for this submission, I could edit and @poulson could review? He can also observe the editing process to learn the ropes.

[2019-01-12 13:51] Kevin-Mattheus-Moerman commented on #1153
@patrikhuber thanks that would be great

[2019-01-12 13:59] eendebakpt commented on #1097
@danielskatz We started addressing the remaining comments.

[2019-01-12 14:35] jedbrown commented on #1165
@wheden assign @jedbrown as editor

[2019-01-12 14:35] jedbrown commented on #1165
@whedon add @poulson as reviewer

[2019-01-12 14:35] whedon commented on #1165
OK, @poulson is now a reviewer

[2019-01-12 14:36] jedbrown commented on #1165
@whedon start review

[2019-01-12 14:36] whedon opened #1167 "[REVIEW]: HODLRlib: A Library for Hierarchical Matrices"
**Submitting author:** @sivaramambikasaran (<a href="http://orcid.org/0000-0003-2978-6281">Sivaram Ambikasaran</a>)
**Repository:** <a href="https://github.com/sivaramambikasaran/HODLR" target ="_blank">https://github.com/sivaramambikasaran/HODLR</a>
**Version:** v3.1415.1
**Editor:** @jedbrown
**Reviewer:** @poulson
**Archive:** <a href="https://doi.org/10.5281/zenodo.2561575" target="_blank">10.

[2019-01-12 14:36] whedon commented on #1165
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1167. Feel free to close this issue now!

[2019-01-12 14:36] whedon commented on #1167
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @poulson it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2019-01-12 14:36] whedon commented on #1167
[code]

[2019-01-12 14:36] whedon commented on #1167
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01167/joss.01167/10.21105.joss.01167.pdf)

[2019-01-12 14:37] jedbrown commented on #1165
Sorry about the chaos. We'll move to #1167 for the review now.

[2019-01-12 14:37] #1165 closed

[2019-01-12 14:39] jedbrown commented on #1167
@poulson :wave: Welcome and thanks for agreeing to review! The comments from @whedon above outline the review process, which takes place in this thread (possibly with issues filed in the HODLRlib repository). I'll be watching this thread if you have any questions.

[2019-01-12 17:33] canyon289 commented on #1143
Please let me know if there's any remaining actions that I should take. I don't mean to rush this, just want to be sure I'm not holding anyone up

[2019-01-12 18:00] nicoguaro commented on #927
@Kevin-Mattheus-Moerman, currently I don't have access to MATLAB 2018 under Windows. So I can't attest for the functionality and performance. Besides that I am content with how they addressed my comments.

[2019-01-12 18:30] glemaitre commented on #1155
@cMadan I'm sorry but I will not be able to review right now. I am lacking personal time to make the review and I don't want to be the latent factor.

[2019-01-12 18:48] katyhuff commented on #1161
@whedon add @mdoucet as reviewer

[2019-01-12 18:48] whedon commented on #1161
OK, @mdoucet is now a reviewer

[2019-01-12 18:50] katyhuff commented on #1161
Two reviewers should be sufficient. Thank you @mdoucet and @myousefi2016 for volunteering. Let's get started!

[2019-01-12 18:50] katyhuff commented on #1161
@whedon start review

[2019-01-12 18:50] whedon opened #1168 "[REVIEW]: KMC_Lattice v2.0: An Object-Oriented C++ Library for Custom Kinetic Monte Carlo Simulations"
**Submitting author:** @MikeHeiber (<a href="http://orcid.org/0000-0002-1567-5663">Michael Heiber</a>)
**Repository:** <a href="https://github.com/MikeHeiber/KMC_Lattice" target ="_blank">https://github.com/MikeHeiber/KMC_Lattice</a>
**Version:** v2.0.1
**Editor:** @katyhuff
**Reviewer:** @myousefi2016, @mdoucet
**Archive:** <a href="https://doi.org/10.5281/zenodo.2552685" target="_blank">10.5281/

[2019-01-12 18:50] whedon commented on #1161
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1168. Feel free to close this issue now!

[2019-01-12 18:50] whedon commented on #1168
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @myousefi2016, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probab

[2019-01-12 18:50] whedon commented on #1168
[code]

[2019-01-12 18:50] whedon commented on #1168
PDF failed to compile for issue #1168 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0    180      0 --:--:-- --:--:-- --:--:--   182
Error reading bib

[2019-01-12 18:50] katyhuff commented on #1161
Ok team, let's head over to #1168 .

[2019-01-12 18:50] #1161 closed

[2019-01-12 19:00] katyhuff commented on #1120
Hi @maximtrp thanks for this submission. I'm sorry for the delay. I'm back in action now. Now, @maximtrp , let's ping a few fitting reviewers, with computational statistics and python expertise. We can start the review once two or three of them accept the request to review.

----

Dear potential reviewers (@djmitche @kellieotto @mnarayan @acolum ),

Based on your expertise in computational statist

[2019-01-12 19:07] maximtrp commented on #1120
Thank you, @katyhuff. Please correct the username of submitting author (it should be @maximtrp, not @maxheld83).

[2019-01-12 19:11] katyhuff commented on #1139
Hi @codeling, thanks for this submission. I'm sorry for the delay. I'm back in action now. Now, @codeling , let's ping a few fitting reviewers, with C++ and Python expertise as well as some background in image analysis and/or computed tomography. We can start the review once two or three of them accept the request to review.

Dear potential reviewers (@krischer @rrrlw @camillescott  ),

Based on y

[2019-01-12 19:14] katyhuff commented on #1120
Sorry -- Tab completion error! Fixed.

[2019-01-12 19:56] mnarayan commented on #1120
I am happy to review this.

[2019-01-12 20:36] MikeHeiber commented on #1168
For the latest draft of the paper, please see the joss-edits branch.

[2019-01-12 20:37] MikeHeiber commented on #1168
@whedon generate pdf from branch joss-edits

[2019-01-12 20:37] whedon commented on #1168
[code]

[2019-01-12 20:37] whedon commented on #1168
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01168/joss.01168/10.21105.joss.01168.pdf)

[2019-01-12 20:42] kyleniemeyer commented on #1137
@whedon accept deposit=true

[2019-01-12 20:42] whedon commented on #1137
[code]

[2019-01-12 20:43] whedon commented on #1137
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/432
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01137](https://doi.org/10.21105/joss.01137)
2. If everything looks go

[2019-01-12 21:05] katyhuff commented on #1120
@whedon assign mnarayan as reviewer

[2019-01-12 21:05] whedon commented on #1120
OK, the reviewer is mnarayan

[2019-01-12 23:14] djmitche commented on #1120
I can review too.

[2019-01-12 23:15] katyhuff commented on #1120
@whedon add @djmitche as reviewer

[2019-01-12 23:15] whedon commented on #1120
OK, @djmitche is now a reviewer

[2019-01-12 23:15] katyhuff commented on #1120
Ok - that should be enough reviewers for this paper. @kellieotto @acolum , you're off the hook!

[2019-01-12 23:16] katyhuff commented on #1120
@whedon start review

[2019-01-12 23:16] whedon opened #1169 "[REVIEW]: scikit-posthocs: Pairwise multiple comparison tests in Python"
**Submitting author:** @maximtrp (<a href="http://orcid.org/0000-0003-2586-4633">Maksim Terpilowski</a>)
**Repository:** <a href="https://github.com/maximtrp/scikit-posthocs" target ="_blank">https://github.com/maximtrp/scikit-posthocs</a>
**Version:** v0.5.1
**Editor:** @katyhuff
**Reviewer:** @mnarayan, @djmitche
**Archive:** <a href="https://doi.org/10.5281/zenodo.2639732" target="_blank">10.52

[2019-01-12 23:16] whedon commented on #1120
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1169. Feel free to close this issue now!

[2019-01-12 23:16] whedon commented on #1169
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mnarayan, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-01-12 23:16] whedon commented on #1169
[code]

[2019-01-12 23:16] whedon commented on #1169
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01169/joss.01169/10.21105.joss.01169.pdf)

[2019-01-12 23:16] katyhuff commented on #1120
Thanks so much for volunteering to review @djmitche and @mnarayan ! Let's go over to #1169 for the review.

[2019-01-12 23:16] #1120 closed

[2019-01-13 01:36] vijaysm commented on #1152
Sorry just getting to this. I can review it.

[2019-01-13 06:20] mir-am commented on #1155
Hi
We would like to suggest @rougier for reviewing our research work.
We also welcome reviewer suggestions from the editor.

[2019-01-13 08:57] poulson commented on #1167
I have filed https://github.com/sivaramambikasaran/HODLR/issues/22 to suggest `install.sh` downloading a more recent version of CMake since the current choice does not support all of the features needed by the project (i.e., `add_compile_definitions`).

[2019-01-13 12:46] whedon opened #1170 "[PRE REVIEW]: AxoPy: A Python Library for Implementing Human-Computer Interface Experiments"
**Submitting author:** @ixjlyons (<a href="http://orcid.org/0000-0002-9143-8459">Kenneth Lyons</a>)
**Repository:** <a href="https://github.com/axopy/axopy" target ="_blank">https://github.com/axopy/axopy</a>
**Version:** v0.2.1
**Editor:** @trallard
**Reviewers:** @lucask07, @peircej

**Author instructions**

Thanks for submitting your paper to JOSS @ixjlyons. The JOSS editor (shown at the top of

[2019-01-13 12:46] whedon commented on #1170
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @trallard it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@trallard) to find some reviewers fo

[2019-01-13 12:46] whedon commented on #1170
[code]

[2019-01-13 12:46] whedon commented on #1170
PDF failed to compile for issue #1170 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0     80      0 --:--:-- --:--:-- --:--:--    80
Error reading bib

[2019-01-13 12:48] arfon commented on #1170
:wave: @trallard - the submitting author suggested you as the handling editor.

@ixjlyons - looks like there is a problem compiling your paper. Please take a look and make your fixes in `master`. Whedon can then be asked to recompile the paper with `@whedon generate pdf`

[2019-01-13 16:13] djmitche commented on #1169
In

I'm unfamiliar with what "should have a DOI" means.  But I don't see any DOI's in the references.  @mnarayan is that something you're familar with and could look at more deeply?

[2019-01-13 16:37] #1140 closed

[2019-01-13 16:58] ixjlyons commented on #1170
@whedon generate pdf

[2019-01-13 16:58] whedon commented on #1170
[code]

[2019-01-13 16:59] whedon commented on #1170
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01170/joss.01170/10.21105.joss.01170.pdf)

[2019-01-13 17:08] ixjlyons commented on #1170
@whedon generate pdf

[2019-01-13 17:08] whedon commented on #1170
[code]

[2019-01-13 17:08] whedon commented on #1170
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01170/joss.01170/10.21105.joss.01170.pdf)

[2019-01-13 17:11] #1150 closed

[2019-01-13 18:53] arfon commented on #1125
:wave: @jschnab - how are you getting along making your changes?

[2019-01-13 18:54] arfon commented on #1087
:wave: @terrytangyuan @kbenoit - happy new year! How are you getting along with your reviews?

[2019-01-13 18:55] arfon commented on #1075
:wave: @mnarayan - it looks like you're part-way through your review. Do you think you might be able to complete it in the next week?

[2019-01-13 18:56] arfon commented on #1053
:wave: @jason-neal - how are you getting along here?

[2019-01-13 18:56] arfon commented on #1022
:wave: @mgckind - how are you getting along here making your changes?

[2019-01-13 18:57] arfon commented on #980
:wave: @olivertomic - how are you getting along making your changes?

[2019-01-13 18:58] arfon commented on #947
@peterjwatkins @alexpghayes - how are we doing here?

[2019-01-13 19:05] arfon commented on #928
On closer inspection of this submission I've deemed it not suitable for JOSS due to the minor utility nature of this package.

Apologies for not catching this sooner @chasemc.

[2019-01-13 19:05] #928 closed

[2019-01-13 20:40] yochannah commented on #1044
Quick status check - let me know when we're ready to move forward or if you have any issues :)

[2019-01-13 20:42] yochannah commented on #1005
Hey all - just checking the status of this review. @tpetricek, has @slithiaote's update managed to resolve your issues? @adammichaelwood, do you think you might have a chance to complete your review soon? Thanks all!!

[2019-01-13 21:12] brainstorm commented on #1158
👋 @betatim, would you like to review this submission?

[2019-01-13 21:37] brogly commented on #1127
@danielskatz - Hi Daniel, can I send the requests to the other potential reviewers? (only asking because I'm not sure if we need to wait or not)

[2019-01-13 21:59] arfon commented on #747
Thanks @zfrenchee.

@terrytangyuan - could you take a look at the examples @zfrenchee has added here and see if:

[2019-01-13 22:03] arfon commented on #720
@offray - I think we might need to find a new reviewer for this submission. @yochannah - do you have any suggestions for potential reviewers?

[2019-01-13 22:05] rrrlw commented on #1139
Hello, although open_iA looks phenomenal, I do not have the expertise necessary to review it. :(

My apologies; best of luck with the submission!

[2019-01-13 22:11] jschnab commented on #1125
@arfon - Hi, I was in the process of moving to the US so I only started working on it this week. My plan is to finish addressing the comments within the next two weeks.

[2019-01-13 22:18] arfon commented on #1125
Got it. Thanks for the update.

[2019-01-13 22:32] yochannah commented on #1141
Okay, it looks like all the checkboxes are checked - @untzag @daissi @ivergara - are we ready to publish do you think? 🎉

[2019-01-13 22:42] yochannah commented on #720
hmmm, I think @hendekagon is a Pharo aficionado - @hendekagon, might you be interested in reviewing this, and/or do you know anyone else who might be able to help?

[2019-01-13 23:37] jason-neal commented on #1053
I have achieved some progress with fixing up the documentation and putting it on read the docs, but it is still a work in progress https://eniric.readthedocs.io/en/newdocs/.

I am currently focusing on a hard thesis deadline of February 8th.

[2019-01-14 01:21] PythonCHB commented on #1112
# Review of the HRDS software package:

https://github.com/EnvModellingGroup/hrds

Overall, this looks like a small, but useful package for raster data processing. But there are some issues with the pacakge structure, tests, and documentation, outlines below.

I recommend that the package be published once the below issues are addressed.

## Installation, etc:

### Platform support:

From the READ

[2019-01-14 02:15] katyhuff commented on #1139
Thank you for letting us know, @rrrlw .

@codeling : Can you suggest any reviewers? It would be helpful to me if you can think of anyone. The folks on [this list](https://bit.ly/joss-reviewers) are already reviewers for JOSS. If there is someone else that you would like to suggest, please let me know. Though they will need to be free of any conflict of interest, you may be aware of individuals in

[2019-01-14 03:14] terrytangyuan commented on #747
Thanks @zfrenchee for addressing those and thanks @arfon for the ping. That looks fine. Could you address the following comments that I posted earlier?
* There's no community guidelines for how to contribute from other people (how to extend to new NN structure beyond just LeNet, AlexNet, FCNN, etc given how fast this field is evolving).
* Missing installation instructions (this is too trivial @arf

[2019-01-14 03:17] terrytangyuan commented on #1087
@nproellochs Thanks for the clarification. I understand your point but I don't see how useful and practical this software can be if it cannot be applied to the most popular RL scenarios (mostly due to computational performance overhead). I am uncertain how valuable this is to publish in JOSS. @arfon How do we go from here? Any thoughts @kbenoit?

[2019-01-14 03:52] untzag commented on #1141
@yochannah everything looks from my end

[2019-01-14 06:02] sivaramambikasaran commented on #1167
@poulson These have now been addressed.

[2019-01-14 06:02] sivaramambikasaran commented on #1167
@whedon commands

[2019-01-14 06:02] whedon commented on #1167
Here are some things you can ask me to do:

[code]

[2019-01-14 06:03] sivaramambikasaran commented on #1167
@whedon generate pdf

[2019-01-14 06:03] whedon commented on #1167
[code]

[2019-01-14 06:03] whedon commented on #1167
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01167/joss.01167/10.21105.joss.01167.pdf)

[2019-01-14 09:22] daissi commented on #1141
@yochannah that's fine with me.

[2019-01-14 09:31] dmey commented on #1137
Great! Thanks @kyleniemeyer @bryanwweber @puncan

[2019-01-14 11:01] PGijsbers commented on #1132
@jsgalan
I am sorry to bother and I know there have been holidays in-between, but given the indicated review period I felt compelled to ask. I was wondering if there is any estimate of when you plan to work on this? Or should we see if we can find a substitute?

[2019-01-14 12:13] olivertomic commented on #980
Hi @arfon. Thanks for getting in touch. I have been extremely busy with teaching, but I will pick up the work this week and hope to have everything finished within a week or two.

[2019-01-14 12:40] codeling commented on #1139
From the list, I could imagine @jochym and @trallard might also be a good fit!

[2019-01-14 14:03] arfon commented on #747
I guess since most (all?) of the dependencies here are JavaScript libraries that a pulled from CDNs on the web, perhaps we don't need installation instructions?

That said, it might be good to make clear in the README (or wiki) what the end-user needs to generate these figures.

[2019-01-14 14:19] cMadan commented on #1155
@mir-am, I am asking around for additional reviewers and hopefully someone will volunteer.

I was looking at the figures in the paper, are the SVM and TwinSVM illustrations based on the same data?

[2019-01-14 14:21] cMadan commented on #1081
@Autoplectic, do you have any additional questions, or are the definitions of the terms clear now? Thank you!

[2019-01-14 14:22] cMadan commented on #813
@dbrookswr, how are things going?

[2019-01-14 15:07] dbrookswr commented on #813
Hi Christopher,

Thanks for asking.

It is probably best to un-submit this this piece. It will be several months
before things get back to normal.

Dan

On Mon, Jan 14, 2019 at 6:22 AM Christopher Madan <notifications@github.com>
wrote:

[2019-01-14 15:11] danielskatz commented on #1127
Hi @brogly - we need an editor before we can assign reviewers...

[2019-01-14 15:57] VictoriaRubin commented on #1127
@arfon @danielskatz  @labarba @kyleniemeyer Request to Explain further procedures
Dear Editor-In-Chief, Associate and Associate Editors,
Could someone please explain to us how your peer-review process works?

My RA @brogly has been trying to get this simple 2 page manuscript into your peer-review pipeline for the past month, but in exactly a month nothing seems to have happened. Obviously the Holi

[2019-01-14 16:11] danielskatz commented on #1127
I apologize on behalf on JOSS - this has been a problem on our side, not your side.  The process is that a submission can request a specific editor, who then works with the author to find reviewers and carry out the review process.  If a submission does not request an editor, we are supposed to assign one.

In this case, our process broke: the editor who we suggested has not responded, and to some

[2019-01-14 16:11] arokem commented on #1039
I think that reproducing the device is too tall an order for a reviewer on the paper. I think that checking that everything matches the requirements and offering feedback could be done even without direct access to such a device. I suggest that @effigies and @damaggu both conduct the review and that you use the repo issues as a public place to discuss any issues between you.

Thanks everyone!

[2019-01-14 16:12] danielskatz commented on #1127
@whedon assign @danielskatz as editor

[2019-01-14 16:12] arokem commented on #1039
@whedon assign effigies as reviewer

[2019-01-14 16:12] whedon commented on #1127
OK, the editor is @danielskatz

[2019-01-14 16:12] whedon commented on #1039
OK, the reviewer is effigies

[2019-01-14 16:12] arokem commented on #1039
@whedon assign damaggu as reviewer

[2019-01-14 16:12] arokem commented on #1039
@whedon start review

[2019-01-14 16:12] whedon commented on #1039
OK, the reviewer is damaggu

[2019-01-14 16:12] whedon opened #1171 "[REVIEW]: COSplay: Contrast Optimized Stimulation Player"
**Submitting author:** @TheChymera (<a href="http://orcid.org/0000-0001-7037-2449">Horea-Ioan Ioanas</a>)
**Repository:** <a href="https://github.com/IBT-FMI/COSplay/" target ="_blank">https://github.com/IBT-FMI/COSplay/</a>
**Version:** 1.1.1
**Editor:** @arokem
**Reviewers:** @effigies, @tanselbaran
**Archive:** <a href="https://doi.org/10.5281/zenodo.3338391" target="_blank">10.5281/zenodo.3338

[2019-01-14 16:12] whedon commented on #1039
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1171. Feel free to close this issue now!

[2019-01-14 16:12] whedon commented on #1171
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @damaggu it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2019-01-14 16:13] whedon commented on #1171
[code]

[2019-01-14 16:13] arokem commented on #1039
I'll close this one. Please head over to #1171 for the review.

[2019-01-14 16:13] danielskatz commented on #1127
👋 @ejolly, @shivam11 - would one (or ideally both) of you be willing to review this for JOSS?

[2019-01-14 16:13] whedon commented on #1171
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01171/joss.01171/10.21105.joss.01171.pdf)

[2019-01-14 16:14] danielskatz commented on #1127
@brogly - can you suggest any other potential reviewers from the wider community?

[2019-01-14 16:17] mgckind commented on #1022
Yes, @arfon. As a matter of fact, I started to work on the issues raised by @ngoldbaum last week and I should be able to finish them pretty soon, thanks!

[2019-01-14 16:23] arokem commented on #1156
Thanks @brainstorm and @casteer!

[2019-01-14 16:24] arokem commented on #1156
@whedon assign casteer as reviewer

[2019-01-14 16:24] whedon commented on #1156
OK, the reviewer is casteer

[2019-01-14 16:24] arokem commented on #1156
@whedon assign @brainstorm as reviewer

[2019-01-14 16:24] whedon commented on #1156
OK, the reviewer is @brainstorm

[2019-01-14 16:24] arokem commented on #1156
@whedon start review

[2019-01-14 16:24] whedon opened #1172 "[REVIEW]: instrbuilder: a Python package for control of electrical instruments"
**Submitting author:** @lucask07 (<a href="http://orcid.org/0000-0002-7236-7202">Lucas J. Koerner</a>)
**Repository:** <a href="https://github.com/lucask07/instrbuilder" target ="_blank">https://github.com/lucask07/instrbuilder</a>
**Version:** v0.1.9
**Editor:** @arokem
**Reviewer:** @brainstorm, @casteer
**Archive:** <a href="https://doi.org/10.5281/zenodo.2640871" target="_blank">10.5281/zenodo

[2019-01-14 16:24] whedon commented on #1156
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1172. Feel free to close this issue now!

[2019-01-14 16:24] whedon commented on #1172
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @brainstorm it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-01-14 16:24] whedon commented on #1172
[code]

[2019-01-14 16:25] arokem commented on #1156
OK. I am going to close this issue now. Please head over to #1172 for more instructions and for the reviewer check-lists.

[2019-01-14 16:25] #1156 closed

[2019-01-14 16:25] whedon commented on #1172
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01172/joss.01172/10.21105.joss.01172.pdf)

[2019-01-14 16:35] VictoriaRubin commented on #1127
@danielskatz - Thanks for clarifying. Re outside reviewers: perhaps, Martin Potthast, who ran the CLickbait Challenge (https://webis.de/data/webis-clickbait-17.html)? Or anyone from his team or the other dataset group?
@brogly  Chris, please stay on this, to make sure no further glitches occur. You had Martin Potthast's e-mail somewhere when we asked for permissions to use his set, right? Just in

[2019-01-14 16:35] arfon commented on #1039
Just a heads up @arokem - using `assign` clobbers existing reviewer assignments. You need to use `add` to add additional reviewers when some already exist. I've fixed up the review issue over in #1171.

[2019-01-14 16:35] #1039 closed

[2019-01-14 17:03] danielskatz commented on #1127
👋 @potthast - would you be willing to review this submission for JOSS?  Or perhaps you can suggest someone from your group/team?  (See the [JOSS review guidelines](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) in case you are not familiar with how JOSS works)

[2019-01-14 17:43] mgymrek commented on #1145
@rmflight great. can you paste as a comment and recommended changes especially regarding items from the checklist you did not find satisfactory?

[2019-01-14 17:53] katyhuff commented on #1139
Both would be excellent if they have the time, indeed.

Pawel (@jochym) and Tania (@trallard), based on your expertise, I would like to ask if you can help us out by volunteering to review this submission to JOSS.

Title: open_iA: A tool for processing and visual analysis of industrial computed tomography datasets
Summary: Visual analysis and processing of volumetric datasets, with a focus on indu

[2019-01-14 17:54] mgymrek commented on #1048
@whedon assign @mgymrek as editor

[2019-01-14 17:54] whedon commented on #1048
OK, the editor is @mgymrek

[2019-01-14 17:55] mgymrek commented on #1048
@zfurnas @masalmon @benmarwick
would any of you be able to review this submission?

[2019-01-14 18:01] Autoplectic commented on #1081
I have no further questions. With the multitude of multivariate information measures out there, it is important to have definitions as the same term is used to refer to different quantities rather often.

[2019-01-14 18:10] ejolly commented on #1127
Unfortunately, I don't have easy access to a Windows computer (OSX and Linux only), so I'm not sure I'll be able to review this submission. Looks really interesting though!

[2019-01-14 18:39] mgckind commented on #1022
@whedon generate pdf

[2019-01-14 18:39] whedon commented on #1022
[code]

[2019-01-14 18:40] whedon commented on #1022
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01022/joss.01022/10.21105.joss.01022.pdf)

[2019-01-14 18:49] mgckind commented on #1022
Hi, @arfon and @ngoldbaum.
I've addressed the issues mentioned above, update the paper also according to @ngoldbaum  comments and it's ready for revision. I've created a new version (1.4.6) but just to reflect the changes in the documentation, no changes in the code.
In regards Oracle,
I mentioned in the issues, but also I'll repeat it here:
`easyaccess` uses the python Oracle client `cx_Oracle` (

[2019-01-14 19:33] rmflight commented on #1145
Hi @mgymrek . I actually created issues for all of this in [the repo](https://github.com/UofABioinformaticsHub/strandCheckR/issues?q=is%3Aissue+author%3Armflight), and have been checking items from the main review above as they have been addressed. I can put all the comments on here, but didn't think that was necessary.

[2019-01-14 19:37] mir-am commented on #1155
Thanks.
The dataset for both illustrations is nearly the same. Data points are randomly selected from an artificial dataset. However, we can add new illustrations based on the exact same dataset.

[2019-01-14 19:46] danielskatz commented on #1127
👋 @lrasmus - you said in email you are willing to review this - please confirm here.

[2019-01-14 19:48] lrasmus commented on #1127
I am willing and happy to review.  Thank you!

[2019-01-14 19:48] danielskatz commented on #1127
Thanks - I want to get one more reviewer, then we will start the review

[2019-01-14 19:49] danielskatz commented on #1127
@whedon assign @lrasmus as reviewer

but note that we are not starting the review yet...

[2019-01-14 19:49] whedon commented on #1127
OK, the reviewer is @lrasmus

[2019-01-14 19:52] zfrenchee commented on #747
Hi @arfon, @terrytangyuan

1. "Installation Instructions": The wiki describes the necessary javascripts to include via CDN, implicitly in the [Minimal examples](https://github.com/zfrenchee/NN-SVG/wiki/Tests---Minimal-Examples) and explicitly in the [API docs](https://github.com/zfrenchee/NN-SVG/wiki/NN-SVG-API#i-initialize-the-object)

2. [Contributing Guidelines added to the wiki](https://github

[2019-01-14 20:17] ngoldbaum commented on #1022
I've gone through the issues and I now only have one objection to publishing the paper: the license issues related to the oracle instant client.

I think at a minimum there needs to be a warning about using the oracle instant client for production work in the README. It would also be really nice if we could get an expert opinion from someone on the license issue.

[2019-01-14 20:18] terrytangyuan commented on #747
Thanks. I've marked all the items in checklist. @arfon Handing over to you now.

[2019-01-14 21:58] edawson commented on #1083
@whedon generate pdf

[2019-01-14 21:58] whedon commented on #1083
[code]

[2019-01-14 21:59] whedon commented on #1083
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01083/joss.01083/10.21105.joss.01083.pdf)

[2019-01-14 22:11] edawson commented on #1083
@mgymrek I believe I've just addressed the last of these. I've included my checklist, which I pulled out from @sjackman 's comments.

- [X] Fix install instructions
- [X] Remove citation to repo in summary
- [X] Mention the homepage and license in the summary
- [X] Make GFAKluge a header-only library
- [X] Add a make install target to makefile
- [X] Change the wording of "legacy GFA formats"
- [X]

[2019-01-14 23:09] kyleniemeyer commented on #1152
@whedon add @vijaysm as reviewer

[2019-01-14 23:09] whedon commented on #1152
OK, @vijaysm is now a reviewer

[2019-01-14 23:10] kyleniemeyer commented on #1152
@whedon start review magic-word=bananas

[2019-01-14 23:10] whedon opened #1173 "[REVIEW]: NodeLab: A MATLAB package for meshfree node-generation and adaptive refinement"
**Submitting author:** @pankajkmishra (<a href="http://orcid.org/0000-0003-4907-4724">Pankaj K Mishra</a>)
**Repository:** <a href="https://github.com/pankajkmishra/NodeLab" target ="_blank">https://github.com/pankajkmishra/NodeLab</a>
**Version:** v1.0
**Editor:** @kyleniemeyer
**Reviewer:** @Kevin-Mattheus-Moerman, @vijaysm
**Archive:** <a href="https://doi.org/10.5281/zenodo.3361734" target="_b

[2019-01-14 23:10] whedon commented on #1152
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1173. Feel free to close this issue now!

[2019-01-14 23:10] whedon commented on #1173
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Kevin-Mattheus-Moerman, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you

[2019-01-14 23:10] whedon commented on #1173
[code]

[2019-01-14 23:11] whedon commented on #1173
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01173/joss.01173/10.21105.joss.01173.pdf)

[2019-01-14 23:11] kyleniemeyer commented on #1173
👋 @pankajkmishra @Kevin-Mattheus-Moerman @vijaysm the actual review takes place in this issue. Please note the two separate review checklists above.

[2019-01-14 23:11] #1152 closed

[2019-01-15 04:48] zfrenchee commented on #747
@arfon sorry to be a bother -- could you point me towards a little more information about this step in the process? I don't see anything on the [JOSS submission instructions page](https://joss.theoj.org/about#author_guidelines), and I'm slightly unsure about what's being asked of me. Am I hearing correctly that I should archive the current code on zenodo? Just downloading a zip of the repo from gi

[2019-01-15 05:30] canyon289 commented on #1143
Thank you. We're prepping a release this week which will generate a DOI

[2019-01-15 09:47] DavideNardone commented on #1049
@whedon generate pdf

[2019-01-15 09:47] whedon commented on #1049
[code]

[2019-01-15 09:47] whedon commented on #1049
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01049/joss.01049/10.21105.joss.01049.pdf)

[2019-01-15 09:47] DavideNardone commented on #1049
Hello everybody, I finally made most of the changes you've requested. There may be still something issues to solve it but please let's clarify them together so that i can provide a better solution.
I've also tried compiling the new version of the paper but i cannot do it due to the error i got above. Can any of you give a look into this error since it does not seem so clear to me.

Thank you.

Che

[2019-01-15 11:15] whedon opened #1174 "[PRE REVIEW]: BoltzMM: an R package for maximum pseudolikelihood estimation of fully-visible Boltzmann machines"
**Submitting author:** @andrewthomasjones (<a href="http://orcid.org/0000-0003-1324-703X">Andrew Jones</a>)
**Repository:** <a href="https://github.com/andrewthomasjones/BoltzMM" target ="_blank">https://github.com/andrewthomasjones/BoltzMM</a>
**Version:** 0.1.3
**Editor:** @yochannah
**Reviewers:** @ja-thomas, @schalkdaniel

**Author instructions**

Thanks for submitting your paper to JOSS @andr

[2019-01-15 11:15] whedon commented on #1174
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @yochannah it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@yochannah) to find some reviewers

[2019-01-15 11:15] whedon commented on #1174
[code]

[2019-01-15 11:15] whedon commented on #1174
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01174/joss.01174/10.21105.joss.01174.pdf)

[2019-01-15 11:16] arfon commented on #1174
:wave: @yochannah - the submitting author suggested you as the handling editor.

[2019-01-15 11:17] whedon opened #1175 "[PRE REVIEW]: QMix: A Python package for simulating the quasiparticle tunneling currents in SIS junctions"
**Submitting author:** @garrettj403 (<a href="http://orcid.org/0000-0002-5509-5006">John Garrett</a>)
**Repository:** <a href="https://github.com/garrettj403/QMix/" target ="_blank">https://github.com/garrettj403/QMix/</a>
**Version:** v1.0.0
**Editor:** @labarba
**Reviewers:** @FaustinCarter, @josephhardinee, @PaulKGrimes

**Author instructions**

Thanks for submitting your paper to JOSS @garrett

[2019-01-15 11:17] whedon commented on #1175
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @labarba it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@labarba) to find some reviewers for

[2019-01-15 11:17] whedon commented on #1175
[code]

[2019-01-15 11:17] arfon commented on #1175
:wave: @labarba - the submitting author suggested you as the handling editor.

[2019-01-15 11:17] whedon commented on #1175
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01175/joss.01175/10.21105.joss.01175.pdf)

[2019-01-15 11:19] whedon opened #1176 "[PRE REVIEW]: plfMA: a Graphical User Interface for various Graphs of the Data"
**Submitting author:** @DHAMMAPALB (<a href="http://orcid.org/0000-0001-6729-1699">DHAMMAPAL BHARNE</a>)
**Repository:** <a href="https://github.com/DHAMMAPALB/plfMA" target ="_blank">https://github.com/DHAMMAPALB/plfMA</a>
**Version:** 1.0.4
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @DHAMMAPALB. The JOSS editor (shown at the top o

[2019-01-15 11:19] whedon commented on #1176
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-01-15 11:19] whedon commented on #1176
[code]

[2019-01-15 11:19] whedon commented on #1176
PDF failed to compile for issue #1176 with the following error:

 Can't find any papers to compile :-(

[2019-01-15 11:21] whedon opened #1177 "[PRE REVIEW]: The Biddy BDD package"
**Submitting author:** @meolic (<a href="http://orcid.org/0000-0003-3395-1227">Robert Meolic</a>)
**Repository:** <a href="https://github.com/meolic/biddy" target ="_blank">https://github.com/meolic/biddy</a>
**Version:** v1.8.2
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @meolic. The JOSS editor (shown at the top of this issue) will

[2019-01-15 11:21] whedon commented on #1177
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-01-15 11:21] whedon commented on #1177
[code]

[2019-01-15 11:21] whedon opened #1178 "[PRE REVIEW]: BladeX: Python Blade Morphing"
**Submitting author:** @mtezzele (<a href="http://orcid.org/0000-0001-9747-6328">Marco Tezzele</a>)
**Repository:** <a href="https://github.com/mathLab/BladeX" target ="_blank">https://github.com/mathLab/BladeX</a>
**Version:** v0.1
**Editor:** @labarba
**Reviewers:** @benoitpaillard, @Juanlu001

**Author instructions**

Thanks for submitting your paper to JOSS @mtezzele. The JOSS editor (shown at

[2019-01-15 11:21] whedon commented on #1178
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-01-15 11:21] whedon commented on #1178
[code]

[2019-01-15 11:21] whedon commented on #1177
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01177/joss.01177/10.21105.joss.01177.pdf)

[2019-01-15 11:21] whedon commented on #1178
PDF failed to compile for issue #1178 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0    257      0 --:--:-- --:--:-- --:--:--   254
100    15    0

[2019-01-15 11:23] arfon commented on #747
Yes, that's correct. If you have made substantial changes to the codebase/docs during review then we also encourage you to make a new release on GitHub. You can learn how to do this by following this guide: https://guides.github.com/activities/citable-code/

[2019-01-15 11:33] mtezzele commented on #1178
@whedon generate pdf

[2019-01-15 11:33] whedon commented on #1178
[code]

[2019-01-15 11:33] whedon commented on #1178
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01178/joss.01178/10.21105.joss.01178.pdf)

[2019-01-15 12:56] jedbrown commented on #1049
What error? The proof above seems well-formed. Many bib items need DOI and conference names need case protection `{ACM SIGKDD}` ...  Also, the source repository is in the margin so no need to link it manually in the text.

You should also compare to related work; what does MTSS provide to the research community that isn't available through existing packages? (It doesn't need to be unique capabilit

[2019-01-15 13:05] danielskatz commented on #1127
👋 @CBenghi, @xirdneh, @nmullins, @dredamonsta1 - would one of you be interested in being the second reviewer for this submission on JOSS?

[2019-01-15 13:06] danielskatz commented on #1127
👋 @bmst, @johanneskiesel, @kleinfreund, @phoerious - would one you be willing to review this submission for JOSS? Or perhaps you can suggest someone from your group/team? (See the [JOSS review guidelines](
https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) in case you are not familiar with how JOSS works)

[2019-01-15 13:14] meolic commented on #1177
@whedon commands

[2019-01-15 13:14] whedon commented on #1177
Here are some things you can ask me to do:

[code]

[2019-01-15 13:30] DavideNardone commented on #1049
There was no error, i just copied and pasted the old message wrong. Regarding the comparing with other tools, i haven't found any Multidimensional Time Series source code available yet to compare against.  Although i understand your concern about it, there's evidence that the GPU version perform faster than the CPU ones, therefore i won't be surprised whether other CPUs methods will be slower. Any

[2019-01-15 13:37] PGijsbers commented on #1132
That's odd, I can not recreate the issue locally (tried a clean install on a ubuntu docker image). Are you sure that GAMA is installed to the correct virtual environment (if you are using one)?

[2019-01-15 13:55] jedbrown commented on #1049
GPU implementations being faster than CPU implementations is by no means automatic. If you assert that it is faster, then you'd have to provide evidence of that. If there is no other software that does what MTSS does, then you wouldn't make a claim of better performance except by a performance model (e.g., if you achieve a fraction of memory bandwidth or floating point peak). You can still mention

[2019-01-15 14:09] potthast commented on #1127
Thanks for the invitation.

Apart from me, only @bmst has been doing research on clickbait detection lately. Unfortunately, at present, we are both overwhelmed with other commitments, so that we will have to pass.

Sorry for the inconvenience!

[2019-01-15 14:46] meolic commented on #1177
@whedon generate pdf

[2019-01-15 14:46] whedon commented on #1177
[code]

[2019-01-15 14:47] whedon commented on #1177
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01177/joss.01177/10.21105.joss.01177.pdf)

[2019-01-15 15:02] meolic commented on #1177
@whedon generate pdf

[2019-01-15 15:02] whedon commented on #1177
[code]

[2019-01-15 15:02] whedon commented on #1177
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01177/joss.01177/10.21105.joss.01177.pdf)

[2019-01-15 15:05] MarionLegrandLogrami commented on #791
Hi @boshek . Thanks a lot for your comments.
First of all, I wanted to tell you that we are looking at your proposal to simplify the installation process, but we need some time to do it. I will come back to you when it's over
Regarding the use of multiple platforms, the stacomiR package [is already working on linux](https://r-forge.r-project.org/R/?group_id=1019). We have not checked the use of th

[2019-01-15 15:30] DavideNardone commented on #1049
Can you please explicitly tell me where I claimed my software achieve better performance than others? Do you refer to this sentence: "This problem has been addressed in [@sanguansat2012multiple] which allows the alignment of multidimensional time signals by simply extending the concept behind the DTW but showing low-speed performance". If so, I will try to find Multivariate Time Series software wi

[2019-01-15 15:43] offray commented on #720
Let's wait to @Hendekagon's answer for a while, and then I could ask again in the broader Pharo community in case we need another reviewer.

Thanks

[2019-01-15 16:10] jedbrown commented on #1049
I was responding to your comment above speculating that a GPU implementation would outperform a hypothetical CPU implementation. As for the paper, it should put its contribution in context. If there is no other software that does what MTSS does, you can state that and reviewers can evaluate whether that is true. If there is other software, you should explain the context in a way that would help a

[2019-01-15 16:49] jsgalan commented on #1132
I have a few suggestions to be made to the authors:

1- add a few examples (not just the minimal example, but all five examples) to the Github repository. Also please check that the examples is wrongly edited, missing the last part of the statement

![screen shot 2019-01-15 at 11 31 09 am](https://user-images.githubusercontent.com/971958/51194798-cd117300-18b9-11e9-8785-8bb2eb3d3c06.png)

2- Provi

[2019-01-15 16:59] PGijsbers commented on #1132
Good to hear it works now! Thank you for the feedback, I will ping you here when I am done resolving the issues. I expect to be able to finish them all by tomorrow.

[2019-01-15 17:01] kthyng commented on #1112
Great! Thanks so much for the reviews, @edoddridge and @PythonCHB.

It looks like there are some unchecked check boxes for both reviews currently, and @jhill1 can work on addressing issues that have been brought up. Thanks again everyone.

[2019-01-15 17:02] kthyng commented on #1112
Just a note that I will have an away message popping up starting tomorrow and I will continue to respond here while I can; once I can't and if this review is still on-going, then another editor will take over.

[2019-01-15 17:12] krueschan commented on #1089
@jedbrown I have looked into Docker a bit and it seems it could work. alternatively, I'll put together a virtualbox with the software installed for the same purpose.

[2019-01-15 18:42] arfon commented on #1143
@whedon set 10.5281/zenodo.2540945 as archive

[2019-01-15 18:42] whedon commented on #1143
OK. <a href="https://doi.org/10.5281/zenodo.2540945" target="_blank">10.5281/zenodo.2540945</a> is the archive.

[2019-01-15 18:43] arfon commented on #1143
@whedon accept

[2019-01-15 18:43] whedon commented on #1143
[code]

[2019-01-15 18:44] whedon commented on #1143
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/433

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/433, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-01-15 19:04] arfon commented on #1143
@whedon accept deposit=true

[2019-01-15 19:05] whedon commented on #1143
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/434
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01143](https://doi.org/10.21105/joss.01143)
2. If everything looks go

[2019-01-15 19:08] arfon commented on #1143
@malmaud , @mattpitkin - many thanks for your reviews here ✨

@canyon289 - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-01-15 19:08] whedon commented on #1143
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01143/status.svg)](https://doi.org/10.21105/joss.01143)

**We need your help!**

Journal of Open Source Softwar

[2019-01-15 20:09] zfrenchee commented on #747
Thanks @arfon

See https://zenodo.org/record/2541121#.XD49sM9KjmE and the [releases page of NN-SVG](https://github.com/zfrenchee/NN-SVG/releases)

[2019-01-15 20:22] emchristensen commented on #1098
Hi @Pakillo ,
Thank you for the review, and all your suggestions! We added DOIs for the references (weecology/portalr#183), and did some re-factoring of the load_functions (weecology/portalr#187) to make function names more consistent and descriptive. I can't promise we've added a significant amount of documentation as of now, but it's something we can work on as the package grows, and we will cer

[2019-01-15 20:31] arfon commented on #747
@whedon accept deposit=true

[2019-01-15 20:31] whedon commented on #747
[code]

[2019-01-15 20:32] whedon commented on #747
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/436
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.00747](https://doi.org/10.21105/joss.00747)
2. If everything looks go

[2019-01-15 20:35] arfon commented on #747
@terrytangyuan - many thanks for your review here ✨

@zfrenchee - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-01-15 20:35] #747 closed

[2019-01-15 20:38] zfrenchee commented on #747
Thanks for the review, @terrytangyuan and for the kind support, @arfon . Looking forward to contributing back to this community =)

[2019-01-15 20:55] yochannah commented on #720
I will also try pinging him by email in case his github notifications aren't set up to notify him

[2019-01-15 21:14] yochannah commented on #1052
Quick update: I've had a couple more polite declines unfortuantely, mostly due to people being busy. I have another few leads to try though. Thank you for your patience!

[2019-01-15 21:20] yochannah commented on #1141
Fantastic! Okay, @untzag  - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive?

[2019-01-15 21:21] gasparl commented on #1052
No problem, thank you for the efforts.

[2019-01-15 21:32] gasparl commented on #1052
Thanks @vsoch!
@yochannah: should I move it to Github? It's totally fine by me.

[2019-01-15 21:33] yochannah commented on #1052
@gasparl I'd be reluctant to force you to, but if you really don't mind then go ahead! I can edit the issue to the URL at the top of this once you're ready.

@vsoch Yay, thank you! 🥑

[2019-01-15 21:36] vsoch commented on #1052
I highly encourage moving to Github :) At quick glance I see something that I would really enjoy (after review) adding static Github pages preview / containers with continuous integration, and (it's probably doable on bitbucket) but I like Github much better. At least every time I've tried bitbucket I can't ever find what I'm looking for, lol.

[2019-01-15 21:56] yochannah commented on #1174
Sounds good! @andrewthomasjones - do you have anyone you'd like to suggest for review? No worries if not!

[2019-01-15 22:09] gasparl commented on #1052
It's really no problem, I've been planning to gradually move my all code to Github anyway.
Here is the new repository: https://github.com/gasparl/citapp_pc
I think it should be all there and fine - but if there is anything else I should do, let me know.

[2019-01-15 22:17] yochannah commented on #1052
Okay, thanks for migrating this @gasparl! :) I've edited the new url in so I'll kick off the review process now  🎉

[2019-01-15 22:19] andrewthomasjones commented on #1174
I don't really have anyone to suggest sorry.

On Wed, Jan 16, 2019, 7:56 AM Yo Yehudi <notifications@github.com> wrote:

[2019-01-15 22:19] yochannah commented on #1052
@whedon assign @vsoch as reviewer

[2019-01-15 22:19] whedon commented on #1052
OK, the reviewer is @vsoch

[2019-01-15 22:19] yochannah commented on #1052
@whedon add @andytwoods as reviewer

[2019-01-15 22:19] whedon commented on #1052
OK, @andytwoods is now a reviewer

[2019-01-15 22:20] yochannah commented on #1052
@whedon start review

[2019-01-15 22:20] whedon opened #1179 "[REVIEW]: CITapp - a free reaction time-based Concealed Information Test application"
**Submitting author:** @gasparl (<a href="http://orcid.org/0000-0001-9401-4830">Gáspár Lukács</a>)
**Repository:** <a href="https://github.com/gasparl/citapp_pc" target ="_blank">https://github.com/gasparl/citapp_pc</a>
**Version:** 1.0.3
**Editor:** @yochannah
**Reviewer:** @vsoch, @andytwoods
**Archive:** <a href="https://doi.org/10.5281/zenodo.2561206" target="_blank">10.5281/zenodo.2561206</a>

[2019-01-15 22:20] whedon commented on #1052
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1179. Feel free to close this issue now!

[2019-01-15 22:20] whedon commented on #1179
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @vsoch, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2019-01-15 22:20] whedon commented on #1179
[code]

[2019-01-15 22:21] whedon commented on #1179
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01179/joss.01179/10.21105.joss.01179.pdf)

[2019-01-15 22:21] yochannah commented on #1052
Okay all - hop over to #1179 and let's get reviewing!

@andytwoods I know it was some time ago when you agreed to review - if your availability has changed that is fine - just let me know.

[2019-01-15 22:21] #1052 closed

[2019-01-15 22:42] untzag commented on #1141
@yochannah hope this is helpful!

doi for all versions: [10.5281/zenodo.1198904](http://doi.org/10.5281/zenodo.1198904)
doi for reviewed version: [10.5281/zenodo.2541196](http://doi.org/10.5281/zenodo.2541196)

thanks so much

[2019-01-15 22:51] yochannah commented on #1174
@andrewthomasjones No worries - thankfully our reviewer volunteer list does have a lot of Machine learning + R users so hopefully it won't be too hard to find someone (famous last words, I know! 😆 )

@ja-thomas @schalkdaniel - can we interest you in reviewing this paper by any chance?

[2019-01-15 22:57] whedon commented on #1141
[code]

[2019-01-15 22:58] whedon commented on #1141
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01141/joss.01141/10.21105.joss.01141.pdf)

[2019-01-15 23:14] yochannah commented on #1141
@untzag Thanks for this! I have a couple of minor hopefully final comments -

First - The list of paper authors in the proof above is slightly different from the list shown in the archive. We should either add them all to the paper or remove from the archive by editing the metadata.

Second, I noticed while I was doing a final scan of the manuscript that the full stop / period often comes before t

[2019-01-15 23:22] vsoch commented on #1052
@arfon it looks like there is a bug that when the repo was transferred, the old repo (bitbucket) was used and not the edited github one here! I'll update the repo to Github in the review, and maybe want to look into why this happened.

[2019-01-15 23:22] vsoch commented on #1179
Note that I'm updating the current bitbucket repo in whedon's message to be https://github.com/gasparl/citapp_pc

[2019-01-15 23:58] labarba commented on #1163
@ncclementi — Would you be willing to volunteer a review for this submission to JOSS? You've experienced the review process as an author, so you'll know what is entailed, but have a look at the [documentation](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) to imagine what it's like from the other side.
Let me know!

[2019-01-16 01:08] arfon commented on #1176
Thanks for your submission to JOSS @DHAMMAPALB. Unfortunately this submission is not acceptable to JOSS as it falls into the 'minor utility' category:

[2019-01-16 01:08] #1176 closed

[2019-01-16 01:09] whedon opened #1180 "[PRE REVIEW]: stats19: A package for working with open road crash data"
**Submitting author:** @robinlovelace (<a href="http://orcid.org/0000-0001-5679-6536">Robin Lovelace</a>)
**Repository:** <a href="https://github.com/ropensci/stats19" target ="_blank">https://github.com/ropensci/stats19</a>
**Version:** 0.1.1
**Editor:** @arfon
**Reviewers:** @arfon

**Author instructions**

Thanks for submitting your paper to JOSS @robinlovelace. The JOSS editor @karthik, will w

[2019-01-16 01:09] whedon commented on #1180
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @karthik it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@karthik) to find some reviewers for

[2019-01-16 01:09] whedon commented on #1180
[code]

[2019-01-16 01:10] whedon commented on #1180
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01180/joss.01180/10.21105.joss.01180.pdf)

[2019-01-16 01:10] arfon commented on #1180
@Robinlovelace - could you link to the rOpenSci onboarding issue here please?

[2019-01-16 08:06] markus-nilsson commented on #1154
Thanks for asking -- unfortunately not available at the moment

[2019-01-16 10:00] brainstorm commented on #1172
@lucask07 It would help to have some pointers on installing the (generic?) VISA drivers. I own a Rigol MSO5000, [but VISA from NI downloads section](https://www.ni.com/visa/) doesn't lead to any result actually. More hints/pointers would be welcome!

Also, when installing via `pip install instrbuilder`, how is the user supposed to search for the examples you point out? Those small UX details can h

[2019-01-16 12:06] arfon commented on #1180
@whedon assign @arfon as reviewer

[2019-01-16 12:06] whedon commented on #1180
OK, the reviewer is @arfon

[2019-01-16 12:06] arfon commented on #1180
@whedon assign @arfon as editor

[2019-01-16 12:06] whedon commented on #1180
OK, the editor is @arfon

[2019-01-16 12:06] arfon commented on #1180
@whedon start review

[2019-01-16 12:06] #1180 closed

[2019-01-16 12:06] whedon opened #1181 "[REVIEW]: stats19: A package for working with open road crash data"
**Submitting author:** @robinlovelace (<a href="http://orcid.org/0000-0001-5679-6536">Robin Lovelace</a>)
**Repository:** <a href="https://github.com/ropensci/stats19" target ="_blank">https://github.com/ropensci/stats19</a>
**Version:** 0.1.1
**Editor:** @arfon
**Reviewer:** @arfon
**Archive:** <a href="https://doi.org/10.5281/zenodo.2540781" target="_blank">10.5281/zenodo.2540781</a>

## Status

[2019-01-16 12:06] whedon commented on #1180
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1181. Feel free to close this issue now!

[2019-01-16 12:06] whedon commented on #1181
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arfon it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curre

[2019-01-16 12:06] whedon commented on #1181
[code]

[2019-01-16 12:07] whedon commented on #1181
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01181/joss.01181/10.21105.joss.01181.pdf)

[2019-01-16 12:07] arfon commented on #1181
@whedon accept

[2019-01-16 12:07] whedon commented on #1181
No archive DOI set. Exiting...

[2019-01-16 12:09] arfon commented on #1181
@whedon set 10.5281/zenodo.2540781 as archive

[2019-01-16 12:09] whedon commented on #1181
OK. <a href="https://doi.org/10.5281/zenodo.2540781" target="_blank">10.5281/zenodo.2540781</a> is the archive.

[2019-01-16 12:09] arfon commented on #1181
@whedon accept

[2019-01-16 12:10] whedon commented on #1181
[code]

[2019-01-16 12:10] arfon commented on #1181
Accepting because of https://github.com/ropensci/software-review/issues/266

[2019-01-16 12:10] whedon commented on #1181
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/437

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/437, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-01-16 12:11] arfon commented on #1181
@whedon accept deposit=true

[2019-01-16 12:11] whedon commented on #1181
[code]

[2019-01-16 12:12] whedon commented on #1181
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/438
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01181](https://doi.org/10.21105/joss.01181)
2. If everything looks go

[2019-01-16 12:14] arfon commented on #1181
@Robinlovelace - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-01-16 12:14] #1181 closed

[2019-01-16 12:14] whedon commented on #1181
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01181/status.svg)](https://doi.org/10.21105/joss.01181)

**We need your help!**

Journal of Open Source Softwar

[2019-01-16 12:15] Robinlovelace commented on #1181
Thanks! Where do I get the bib file from?

[2019-01-16 12:18] Robinlovelace commented on #1181
According to Zotero auto import it is (clearly this is wrong - will raise an issue):

[code]

[2019-01-16 12:52] arfon commented on #1181
This should do it? https://www.doi2bib.org/bib/10.21105%2Fjoss.01181

[2019-01-16 13:14] Robinlovelace commented on #1181
Yep - and happy to see it got auto added to my Orcid profile, which is awesome! Many thanks.

[2019-01-16 14:43] ctb commented on #1021
Review done! Agree with all the nice comments above - good work!

I did not look at the code at all, since @azneto did such a nice job :)

The only two issues that I saw that should be addressed are indicated in my unchecked boxes above --

- the version has advanced to 1.0! so I left unchecked the "version matches the released version" box; minor technicality since the version has surpassed that

[2019-01-16 15:35] Kevin-Mattheus-Moerman commented on #1021
@andrewjpage please reply to @ctb 's comments. Please do add a CONTRIBUTING.md file (see also https://help.github.com/articles/setting-guidelines-for-repository-contributors/).

@ctb feel free to tick that version box. We will update the final version number upon acceptance (future review issues will not have the version box any more as versions often move on).

[2019-01-16 16:08] untzag commented on #1141
@yochannah

In this case I think the best thing to do is to create a one-off zenodo entry for JOSS:

[10.5281/zenodo.2541776](http://doi.org/10.5281/zenodo.2541776)

Hope this works for you.

Done and merged.

[2019-01-16 18:07] garrettj403 commented on #1175
Hello @labarba, I took a look at the list of potential reviewers and I would recommend FaustinCarter because he is familiar with superconductors and instrumentation for astrophysics.

If he is unavailable, kpeeters, cr458 and ivergara could be other options.

Thank you!

[2019-01-16 18:15] PGijsbers commented on #1132
Hi @jsgalan!
I processed your feedback best I could, but I still have some questions:
 1. What more detailed explanation are you missing for the [log visualization](https://github.com/PGijsbers/gama/blob/master/notebooks/GAMA%20Log%20Parser.ipynb)?
 2. We mentioned the log visualization and type of questions you can currently answer with it in our paper submission. What in particular were you miss

[2019-01-16 18:53] jsgalan commented on #1132
Hi all,

Sorry for being so vague on my descriptions. I will reformulate:

1- **add a few examples (not just the minimal example, but all five examples) to the Github repository**.

1.1-Also please check that the examples is wrongly edited, missing the last part of the statement <-- this was done! [check!]

2- What more detailed explanation are you missing for the log visualization? <- can this li

[2019-01-16 18:54] jasonclark commented on #943
@sonal-raj That is fine. I'm happy to have you as a reviewer and start the process. Later this month works. Apologies for missing the assignment over the holiday. Going to assign you as a reviewer and open it for editing. You can pick up when you are able. If you have questions, just reach out.

[2019-01-16 18:58] jasonclark commented on #943
@whedon assign @sonal-raj as reviewer

[2019-01-16 18:58] whedon commented on #943
OK, the reviewer is @sonal-raj

[2019-01-16 18:58] jasonclark commented on #943
@whedon start review magic-word=bananas

[2019-01-16 18:58] whedon opened #1182 "[REVIEW]: VIVO: a system for research discovery"
**Submitting author:** @mconlon17 (<a href="http://orcid.org/0000-0002-1304-8447">Michael Conlon</a>)
**Repository:** <a href="https://github.com/vivo-project/VIVO" target ="_blank">https://github.com/vivo-project/VIVO</a>
**Version:** v1.10.0
**Editor:** @jasonclark
**Reviewer:** @sonal-raj
**Archive:** <a href="https://doi.org/10.5281/zenodo.2639714" target="_blank">10.5281/zenodo.2639714</a>

#

[2019-01-16 18:58] whedon commented on #943
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1182. Feel free to close this issue now!

[2019-01-16 18:58] whedon commented on #1182
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @sonal-raj it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-01-16 18:58] whedon commented on #1182
[code]

[2019-01-16 18:59] whedon commented on #1182
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01182/joss.01182/10.21105.joss.01182.pdf)

[2019-01-16 19:58] sjackman commented on #1083
For the authors of the reference "Gene Myers, Jason Chin, & Durbin, R. (2015)", I suggest adding Shaun Jackman (myself), Heng Li, and Giorgio Gonnella based on this text:

https://github.com/gfa-spec/gfa-spec/#gfa-20-graphical-fragment-assembly-gfa2-format-specification-20

[2019-01-16 20:00] sjackman commented on #1083
What is GFA 0.1, and how does it differ from GFA 1.0?

[2019-01-16 20:01] sjackman commented on #1083
There's a typo here: file ~~file~~.

[2019-01-16 20:42] mrecos commented on #722
Hello @afron. Quick update: I took care of 2 of 3 issues on my repo. TODO - convert existing how-to to vignette and unit tests.

[2019-01-16 20:48] PGijsbers commented on #1132
Could you elaborate what you mean specifically? I made three of them into separate scripts in the [example folder](https://github.com/PGijsbers/gama/tree/master/examples) and linked them from the `README.md`. What other examples are you referring to? [Setting log output](https://pgijsbers.github.io/gama/user_guide/index.html#logging) and adding an [event hook](https://pgijsbers.github.io/gama/user

[2019-01-16 20:49] PGijsbers commented on #1132
Also, no worries :) it's your job 👍  I appreciate the effort you put in

[2019-01-16 21:14] tpetricek commented on #1005
Thanks for the ping. I'm still trying to get it to build. Just added a comment there: https://github.com/slithiaote/lepton/issues/2

In addition to that, the project still does not satisfy some of the JOSS items from the check-list above, so adding those (assuming they are strictly required for acceptance) would be another good thing to do in the meantime (especially, tests, contributor guidelines

[2019-01-16 21:14] yochannah commented on #1141
@whedon generate pdf

[2019-01-16 21:14] whedon commented on #1141
[code]

[2019-01-16 21:15] whedon commented on #1141
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01141/joss.01141/10.21105.joss.01141.pdf)

[2019-01-16 22:40] brainstorm commented on #1172
Thanks much Lucas,

I'm using OSX at the moment.

[From what I can see on your requirements.txt](https://github.com/lucask07/instrbuilder/blob/master/requirements.txt), you are installing a ophyd fork already, right? Are the [installation steps in the README](https://github.com/lucask07/instrbuilder#installation-steps) matching current reality? From the looks of it, a simple `pip install instrbuil

[2019-01-16 23:13] yochannah commented on #1141
@whedon set 10.5281/zenodo.2541776 as archive

[2019-01-16 23:13] whedon commented on #1141
OK. <a href="https://doi.org/10.5281/zenodo.2541776" target="_blank">10.5281/zenodo.2541776</a> is the archive.

[2019-01-16 23:16] yochannah commented on #1141
@arfon Everything looks in order here - I think we're ready to accept and publish! 📖

Thanks @untzag for submitting this paper and working with us to get this ready for publication, and thank you @ivergara and @daissi for putting in time and effort to review. 💯 🥇

[2019-01-17 01:17] arfon commented on #1141
@whedon accept

[2019-01-17 01:17] whedon commented on #1141
[code]

[2019-01-17 01:17] whedon commented on #1141
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/439

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/439, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-01-17 01:19] arfon commented on #1141
@whedon accept deposit=true

[2019-01-17 01:19] whedon commented on #1141
[code]

[2019-01-17 01:19] whedon commented on #1141
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/440
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01141](https://doi.org/10.21105/joss.01141)
2. If everything looks go

[2019-01-17 01:21] arfon commented on #1141
@daissi, @ivergara - many thanks for your reviews here and to @yochannah for editing this submission ✨

@untzag - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-01-17 01:21] #1141 closed

[2019-01-17 01:21] whedon commented on #1141
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01141/status.svg)](https://doi.org/10.21105/joss.01141)

**We need your help!**

Journal of Open Source Softwar

[2019-01-17 05:48] pjotrp commented on #1146
Ping @RHagenson - final step takes just a few minutes!

[2019-01-17 08:16] rougier commented on #1155
I can review but it'll take me some time (3/4 weeks) because I'm a bit busy right now.

[2019-01-17 09:07] cpontonn commented on #927
Thank you for your comments. @Kevin-Mattheus-Moerman , since we do not consider developing a Linux compatible version for now, what is the next step to validate the review ? Thanks in advance.

[2019-01-17 09:35] Kevin-Mattheus-Moerman commented on #927
@cpontonn
I have two minor editorial comments about the paper:
- [ ] Please change this sentence to include the highlighted word: "The motion capture
data (contained in a c3d file) are extracted with `the` Biomechanical ToolKit (BTK) (Barre &
Armand, 2014)"
- [ ] Perhaps fix the use of "Last" in this sentence: "Last, muscle forces are estimated.". Consider using "Lastly" or "Finally" instead.

Ple

[2019-01-17 09:43] cpontonn commented on #927
@whedon generate pdf

[2019-01-17 09:43] whedon commented on #927
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00927/joss.00927/10.21105.joss.00927.pdf)

[2019-01-17 09:45] cpontonn commented on #927
@Kevin-Mattheus-Moerman it is done ! Thanks for your reactivity.

[2019-01-17 10:09] ja-thomas commented on #1174
happy to do it. I guess @schalkdaniel might be suited a bit better, due to his RCPP experience, but if he declines I can do it as well :)

[2019-01-17 10:46] peterjwatkins commented on #947
?Hi guys,

I've been lagging on this one - work was busy at the end of last year, and presently on leave. I'll tidy this up in the next few weeks.

Rgds Peter

________________________________
From: Arfon Smith <notifications@github.com>
Sent: Monday, January 14, 2019 5:59 AM
To: openjournals/joss-reviews
Cc: Watkins, Peter (A&F, Werribee SnydRd); Mention
Subject: Re: [openjournals/joss-reviews] [

[2019-01-17 11:53] Kevin-Mattheus-Moerman commented on #927
@cpontonn thanks

[2019-01-17 12:40] Pakillo commented on #1098
Hi @emchristensen et al.

Thanks for considering my suggestions. It's all fine from my side. I've completed checklist above. @karthik please let me know if there's something else I should do

Cheers

[2019-01-17 13:16] trallard commented on #1170
Hello @ixjlyons 👋 apologies for the delay in starting the review. Let's start by pinging a few fitting reviewers, with Python expertise as well as some background in signal processing, experimental design, or biomedical related data. We can start the review once two or three of them accept the request to review.

---

Dear potential reviewers (@lucask07, @ThomasA , @hooman650, @kczimm  ),

Based o

[2019-01-17 13:20] whedon opened #1183 "[PRE REVIEW]: Qiskit VSCode: a tool to enhance the quantum computing programming experience"
**Submitting author:** @cbjuan (<a href="http://orcid.org/0000-0003-2045-8329">Juan Cruz-Benito</a>)
**Repository:** <a href="https://github.com/Qiskit/qiskit-vscode/" target ="_blank">https://github.com/Qiskit/qiskit-vscode/</a>
**Version:** v0.4.1
**Editor:** @danielskatz
**Reviewers:** @malmaud, @naberek

**Author instructions**

Thanks for submitting your paper to JOSS @cbjuan. The JOSS editor

[2019-01-17 13:20] whedon commented on #1183
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @danielskatz it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@danielskatz) to find some review

[2019-01-17 13:20] whedon commented on #1183
[code]

[2019-01-17 13:20] whedon commented on #1183
PDF failed to compile for issue #1183 with the following error:

 ORCID looks to be the wrong length
/app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-50d5912cf72a/lib/whedon.rb:91:in `block in check_orcids': Problem with ORCID (000-0003-2045-8329) for Juan Cruz-Benito (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-50d5912cf72a/lib/whedon.rb:89:in `each'
	from /app/vendor/b

[2019-01-17 13:20] arfon commented on #1183
:wave: @danielskatz - the submitting author suggested you as the handling editor.

[2019-01-17 13:21] whedon opened #1184 "[PRE REVIEW]: cartoee: Publication quality maps using Earth Engine"
**Submitting author:** @kmarkert (<a href="http://orcid.org/0000-0002-7557-0425">Kel Markert</a>)
**Repository:** <a href="https://github.com/kmarkert/cartoee" target ="_blank">https://github.com/kmarkert/cartoee</a>
**Version:** 0.0.3
**Editor:** @lheagy
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @kmarkert. The JOSS editor @lheagy, will work with you

[2019-01-17 13:21] whedon commented on #1184
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lheagy it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@lheagy) to find some reviewers for yo

[2019-01-17 13:21] whedon commented on #1184
[code]

[2019-01-17 13:21] arfon commented on #1184
:wave: @lheagy - the submitting author suggested you as the handling editor.

[2019-01-17 13:21] whedon commented on #1184
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01184/joss.01184/10.21105.joss.01184.pdf)

[2019-01-17 13:43] PGijsbers commented on #1132
@whedon generate pdf

[2019-01-17 13:43] whedon commented on #1132
[code]

[2019-01-17 13:43] whedon commented on #1132
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01132/joss.01132/10.21105.joss.01132.pdf)

[2019-01-17 13:48] PGijsbers commented on #1132
@whedon generate pdf

[2019-01-17 13:48] whedon commented on #1132
[code]

[2019-01-17 13:49] whedon commented on #1132
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01132/joss.01132/10.21105.joss.01132.pdf)

[2019-01-17 13:50] danielskatz commented on #1183
👋 @cbjuan - if you have any suggestions for potential reviewers then please mention them here in this thread. In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission.

Also, your ORCID in paper.md is missing a leading zero.  Please fix this, then in a new comment here, enter ```@whedon generate pdf```

[2019-01-17 13:51] PGijsbers commented on #1132
@whedon generate pdf

Sorry for the spam. It seems that Whedon did not take the last version last time? Missing a line-break.

[2019-01-17 13:51] whedon commented on #1132
[code]

[2019-01-17 13:51] whedon commented on #1132
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01132/joss.01132/10.21105.joss.01132.pdf)

[2019-01-17 14:01] danielskatz commented on #1127
👋 @felixhenninger or @jaynanavati - would you be willing to review this for JOSS?

[2019-01-17 14:02] katyhuff commented on #1139
@whedon assign @trallard as reviewer

[2019-01-17 14:02] whedon commented on #1139
OK, the reviewer is @trallard

[2019-01-17 14:03] danielskatz commented on #1157
👋 @Chilipp, @taqtiqa-mark - I hope you can start reviewing this soon - at least, the code of conduct and conflict of interest boxes for each of you...

[2019-01-17 14:04] katyhuff commented on #1139
@behollister and @ngoldbaum , would either of you be available to and interested in reviewing this JOSS submission? I agree that you like have the expertise. Do you have the time? We'd like at least two reviewers. @trallard has thankfully already agreed, so we're looking for one or two more.

Title: open_iA: A tool for processing and visual analysis of industrial computed tomography datasets
Summa

[2019-01-17 14:26] PGijsbers commented on #1132
Hi @jsgalan,

No news since last comment.

Added link and example image to the `README.md`.

a) the figures/plots it produces [..]
b) all the methods/models that can be learned [..]

I added a plot example to the paper and also explicitly named some algorithms as well as emphasize using scikit-learn algorithms (see [the latest article proof](https://github.com/openjournals/joss-papers/blob/joss.01

[2019-01-17 14:37] cbjuan commented on #1183
@whedon generate pdf

[2019-01-17 14:37] whedon commented on #1183
[code]

[2019-01-17 14:37] whedon commented on #1183
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01183/joss.01183/10.21105.joss.01183.pdf)

[2019-01-17 14:53] cbjuan commented on #1183
👋 @danielskatz! Thanks for your comments. I fixed the ORCID, and now @whedon can compile the PDF.

About the article proof, maybe we need to fix some titles in the references to meet some formal considerations. For example, the reference:
[code]
should be (note the fixes in the author and the capitalization in the title):
[code]
If possible, I would like to know how to fix these minor issues consi

[2019-01-17 14:57] Chilipp commented on #1157
Yes, @danielskatz, I will start tomorrow. My apologies for the delay

[2019-01-17 15:02] danielskatz commented on #1183
typically in bibtex files, you add {}s around anything you want to stay in the same case, for example:

  title={The {IBM Q} experience and {QISKit} open-source quantum computing software}

[2019-01-17 15:02] danielskatz commented on #1183
👋 @krischer, @mamrehn, and @malmaud - would a couple of you be willing to review this JOSS submission?

[2019-01-17 15:03] cbjuan commented on #1183
Ok, @danielskatz. I was not sure about it. We will fix it.

[2019-01-17 15:24] malmaud commented on #1183
Yes, I'm happy to review this. Full disclosure though,  I have worked at IBM research although not in this field and I do not know any of the authors.

[2019-01-17 15:32] cbjuan commented on #1183
@whedon generate pdf

[2019-01-17 15:32] whedon commented on #1183
[code]

[2019-01-17 15:32] whedon commented on #1183
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01183/joss.01183/10.21105.joss.01183.pdf)

[2019-01-17 15:55] jsgalan commented on #1132
Hi all @arfon @PGijsbers

I just revised and all the changes suggested were made in documents and pdf, respectively. I am happy to say that from my part all the requirements were fulfilled.

Answering to this comment, after my initial thoughts and replies, I imagined that the package can be (and will be extended) to include different types of tests or can be put into a greater pipeline using vario

[2019-01-17 16:01] mmenickelly commented on #1147
Comments:
I am not sure from the README.md or the software paper what are the full capabilities of this software. There are some great examples, also provided in Jupyter notebooks, of a MINLP and some highly non convex functions of real-valued variables, but I don't have a clear picture of exactly what CEGO's scope does and doesn't contain.

To fix this, I would like to see:
1. Better API document

[2019-01-17 16:02] PGijsbers commented on #1132
Thanks again for all your effort @jsgalan!

[2019-01-17 16:49] danielskatz commented on #1183
@malmaud - Given what you've said, I don't see your previous work at IBM as an issue, though it's good to note.  I'll assign you as a reviewer, but we won't start the review until we get a second reviewer.  @cbjuan - if you have other suggestions outside the JOSS volunteer reviewer community, we're always willing to bring in more people.

[2019-01-17 16:49] danielskatz commented on #1183
@whedon assign @malmaud as reviewer

[2019-01-17 16:50] whedon commented on #1183
OK, the reviewer is @malmaud

[2019-01-17 17:00] jasonclark commented on #1182
@sonal-raj Thanks for making time for this review later this month. I/We appreciate it. Checklist and instructions are above. Let me know if schedules change. Hope the conference goes well.  cc @mconlon17

[2019-01-17 17:23] azneto commented on #1100
Sure, @pjotrp. I've just started reviewing it.

[2019-01-17 17:31] ncclementi commented on #1163
@labarba Sure, I'll be happy to do it.

[2019-01-17 17:38] labarba commented on #1163
@whedon assign @ncclementi as reviewer

[2019-01-17 17:38] whedon commented on #1163
OK, the reviewer is @ncclementi

[2019-01-17 17:42] labarba commented on #1163
:wave @vyasr — Have you reviewed for JOSS? You've published with us, I remember (quaternions!). Would you be able to help us out as second reviewer for this submission?

[2019-01-17 18:55] richyanicky commented on #1144
The software functioned as stated. It ran without error within the bounds of the description provided.
There are some issues that I came across that would be a benefit to our use.
1) Read gz format directly. I could not read our gz vcf files.
2) Files > 1M bp are too large to process and often caused our server to run out of memory.
3) The Venn diagrams are great, however it used the long file nam

[2019-01-17 19:59] behollister commented on #1139
Hi,

Yes, I can review the submission. When is the deadline?

Regards,

Brad

Brad E. Hollister, Ph.D.

Department of Computer Science
Californian State University Dominguez Hills
Office: NSM B218
Phone: 864-395-5560
________________________________
From: Katy Huff <notifications@github.com>
Sent: Thursday, January 17, 2019 6:04 AM
To: openjournals/joss-reviews
Cc: Dr. Brad Hollister; Mention
Subj

[2019-01-17 20:24] RHagenson commented on #1146
@pjotrp I apologize about the delay, been terribly ill all week so just today got caught up on urgent affairs enough to tackle these final steps. The Zenedo DOI is: 10.5281/zenodo.2542907

[2019-01-17 20:28] cMadan commented on #813
@dbrookswr, okay, I will mark this submission as withdrawn.

[2019-01-17 20:29] #813 closed

[2019-01-17 20:31] cMadan commented on #1081
@Autoplectic, of course, that completely makes sense.

@pwollstadt, it looks like we're all set to accept! Can you mint a new release that includes all of the changes from the review process, and provide a doi associated with an archived version on Zenodo or figshare?

[2019-01-17 20:33] cMadan commented on #1155
@mir-am, I think it would be better if they are the exact same, thanks!

@rougier, that sounds fine to me. I won't start the review yet in case someone else is also able/interested to review, but if you could comment here when your free, I'll start the review even if no one else has volunteered.

[2019-01-17 20:58] katyhuff commented on #1139
Thaknks @behollister ! We aim to complete the review process quickly, so I typically expect a reviewer to get started with their review during the week following assignment, complete their initial review within a week or so thereafter, and remain active with the back-and-forth until the paper is accepted (can be as quick as a week, but is often 3 weeks, and occasionally longer.) If a deadline is h

[2019-01-17 20:58] katyhuff commented on #1139
@whedon add @behollister as reviewer

[2019-01-17 20:59] whedon commented on #1139
OK, @behollister is now a reviewer

[2019-01-17 21:33] nicoguaro commented on #927
@Kevin-Mattheus-Moerman, the paper looks OK to my eyes!

[2019-01-17 22:02] Kevin-Mattheus-Moerman commented on #927
Thanks again @nicoguaro !

[2019-01-17 22:04] Kevin-Mattheus-Moerman commented on #927
@cpontonn I will now recommend that this work is accepted in JOSS.

@modenaxe, @demotu, @nicoguaro thanks for reviewing this work!! :rocket: :robot:

[2019-01-17 22:08] Kevin-Mattheus-Moerman commented on #927
@cpontonn at this point please provide us with:

- [ ] The DOI of the archived version of the final reviewed software. You can create an archived version with a service like [ZENODO](https://zenodo.org/) (see also the useful steps described [here](https://guides.github.com/activities/citable-code/)).

- [ ] Please provide the version/release number for the archived version of the software that was

[2019-01-17 22:52] leouieda commented on #808
@viktor76525 I've been thinking about ways that you can check that the end result of the software remains the same when you change the code (a regression test). This is not as good as testing the individual functionality of all pieces of the code but it can at least give you the piece of mind of knowing that your changes didn't break the existing functionality.

One way you could do this is to:
1.

[2019-01-17 22:58] katyhuff commented on #1139
@whedon start review

[2019-01-17 22:58] whedon opened #1185 "[REVIEW]: open_iA: A tool for processing and visual analysis of industrial computed tomography datasets"
**Submitting author:** @codeling (<a href="http://orcid.org/0000-0003-1271-0838">Bernhard Fröhler</a>)
**Repository:** <a href="https://github.com/3dct/open_iA" target ="_blank">https://github.com/3dct/open_iA</a>
**Version:** 2019.03
**Editor:** @katyhuff
**Reviewer:** @trallard, @behollister
**Archive:** <a href="https://doi.org/10.5281/zenodo.2591999" target="_blank">10.5281/zenodo.2591999</a>

[2019-01-17 22:58] whedon commented on #1139
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1185. Feel free to close this issue now!

[2019-01-17 22:58] whedon commented on #1185
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @trallard, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-01-17 22:58] whedon commented on #1185
[code]

[2019-01-17 22:58] katyhuff commented on #1139
Thanks for volunteering, both. Two reviewers will likely be sufficient for this review, I'll contribute a bit to the review as well. Let's get started over in #1185 .

[2019-01-17 22:58] #1139 closed

[2019-01-17 22:58] whedon commented on #1185
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01185/joss.01185/10.21105.joss.01185.pdf)

[2019-01-18 02:31] viktor76525 commented on #808
Thanks @leouieda, I'll have a look into it. So far I've made pytest tests for the smaller library functions.

[2019-01-18 03:33] brainstorm commented on #1160
@aguang, could you please fix the table in the paper so that it displays properly? Thanks @pdiakumis for pointing it out!

[2019-01-18 04:06] brainstorm commented on #1065
I just gave it another look/try and I would advise against accepting the **installation** facet of this paper.

I still would recommend to have vmtk packaged in conda-forge (as a dependency), as @rlizzo diligently pointed out in https://github.com/vmtk/conda-recipes/issues/2 as well as in https://github.com/KVSlab/morphMan/issues/14.

From a functional perspective, I would like to have easier mean

[2019-01-18 04:47] pdiakumis commented on #1160
@aguang, I also believe the release version (v1.0 above) needs to match the one in your GitHub repo (v1.3.1 in the [DESCRIPTION](https://github.com/compbiocore/RSeqAn/blob/deae809018536e4f51e4bb496e605586e004756b/DESCRIPTION#L4) file (?)) - thanks!

[2019-01-18 05:02] lheagy commented on #808
Great suggestion @leouieda! Yes, this would satisfy the JOSS requirements.

[2019-01-18 09:22] pjotrp commented on #1146
@whedon set 10.5281/zenodo.2542907 as archive

[2019-01-18 09:22] whedon commented on #1146
OK. <a href="https://doi.org/10.5281/zenodo.2542907" target="_blank">10.5281/zenodo.2542907</a> is the archive.

[2019-01-18 09:23] pjotrp commented on #1146
@whedon accept

[2019-01-18 09:23] whedon commented on #1146
[code]

[2019-01-18 09:33] pjotrp commented on #1146
@arfon we are ready to roll! Thanks @RHagenson and @george-githinji and @urbanslug!

[2019-01-18 09:34] pjotrp commented on #1100
@whedon assign @azneto  as reviewer

[2019-01-18 09:34] whedon commented on #1100
OK, the reviewer is @azneto

[2019-01-18 09:35] pjotrp commented on #1100
@whedon start review magic-word=bananas

[2019-01-18 09:35] whedon opened #1186 "[REVIEW]: sierra-local: A lightweight standalone application for drug resistance prediction"
**Submitting author:** @ArtPoon (<a href="http://orcid.org/0000-0003-3779-154X">Art Poon</a>)
**Repository:** <a href="https://github.com/PoonLab/sierra-local" target ="_blank">https://github.com/PoonLab/sierra-local</a>
**Version:** v0.1.2
**Editor:** @pjotrp
**Reviewer:** @azneto
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/c280ed01729b1e5a0631642a69d8e9cc/status.svg)

[2019-01-18 09:35] whedon commented on #1100
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1186. Feel free to close this issue now!

[2019-01-18 09:35] whedon commented on #1186
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @azneto it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2019-01-18 09:35] whedon commented on #1186
[code]

[2019-01-18 09:35] #1100 closed

[2019-01-18 09:35] whedon commented on #1186
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01186/joss.01186/10.21105.joss.01186.pdf)

[2019-01-18 09:39] pjotrp commented on #1186
@ArtPoon, we are starting review in this issue tracker. To expedite the review process do you mind going through above list of check boxes and make sure they can be ticked (you can't tick them). Also check the PDF output carefully. Ping us here when you are done.

[2019-01-18 10:33] andrewjpage commented on #1021
Thanks @ctb for taking the time to review the software. I have resolved all the issues raised, adding a CITATION.cff file, added back the example data file, adding a CONTRIBUTING.md  and a CoC.

Thanks @Kevin-Mattheus-Moerman for editing.

[2019-01-18 10:56] leouieda commented on #808
That's great! Don't hesitate to ask if you need any feedback or help with that too. The regression test can also be useful even if you have unit tests as well.

[2019-01-18 11:30] arfon commented on #1146
@whedon accept deposit=true

[2019-01-18 11:30] whedon commented on #1146
[code]

[2019-01-18 11:31] whedon commented on #1146
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/442
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01146](https://doi.org/10.21105/joss.01146)
2. If everything looks go

[2019-01-18 11:33] arfon commented on #1146
@urbanslug - many thanks for reviewing this submission and to @pjotrp and @george-githinji for editing this one ✨

@RHagenson - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-01-18 11:33] #1146 closed

[2019-01-18 11:33] whedon commented on #1146
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01146/status.svg)](https://doi.org/10.21105/joss.01146)

**We need your help!**

Journal of Open Source Softwar

[2019-01-18 11:54] mfroeling commented on #1154
@JianCheng are you available to review my submission since you have expertise in diffusion processing.

@grlee77 are you available to review my submission since you are one of the few reviewers in the list with MRI expertise.

@rljacobson are you available to review my submission as a Mathematica programmer

[2019-01-18 14:51] anmuller commented on #927
@Kevin-Mattheus-Moerman, this is the Zenedo DOI : 10.5281/zenodo.2543645.
Also the version for the archived version of the software is v1.1.0.
Thanks

[2019-01-18 15:08] fospald commented on #1027
@ctdegroot there is only one item left in the checklist. Does it work on Linux?

[2019-01-18 15:51] ArtPoon commented on #1186
Thanks for your help @pjotrp.  I confirm that I am unable to tick the checkboxes above.

I've read through the current article proof.  The only issue I've noticed is that the capitalization of some article and journal titles was not properly protected in the `.bib` file.  I have made corrections - is it ok for me to re-render the proof?

[2019-01-18 16:10] myousefi2016 commented on #1168
@katyhuff I'm done with the review and everything looks good!

[2019-01-18 16:13] ctdegroot commented on #1027
@fospald Still not getting through the install on Linux. First there was a problem with naming of the boost.python library. Had to make the following change in CMakeLists.txt

[code]
I now have an error:

[code]

Still trying to figure that one out.

[2019-01-18 16:22] MikeHeiber commented on #1168
For full transparency, @myousefi2016 identified a bug ([Issue #62](https://github.com/MikeHeiber/KMC_Lattice/issues/62)) in KMC_Lattice through testing out the [KMC_Lattice_example](https://github.com/MikeHeiber/KMC_Lattice_example/) example program.  The issue is now resolved in the KMC_Lattice joss-edits branch and will be merged into master with all other corrections/improvements once the revie

[2019-01-18 16:30] Kevin-Mattheus-Moerman commented on #927
@arfon @labarba I recommend that this work is accepted

[2019-01-18 16:54] labarba commented on #927
I see that @nicoguaro has two un-checked items, but also see his comment:

Given that the submission has three reviewers, I will assume that the @Kevin-Mattheus-Moerman's recommendation to publish stands.

[2019-01-18 16:54] labarba commented on #927
@whedon set 10.5281/zenodo.2543645 as archive

[2019-01-18 16:54] whedon commented on #927
OK. <a href="https://doi.org/10.5281/zenodo.2543645" target="_blank">10.5281/zenodo.2543645</a> is the archive.

[2019-01-18 16:55] labarba commented on #927
@anmuller — Please edit the metadata of the Zenodo deposit (title and author list) to match the JOSS paper. Thanks!

[2019-01-18 16:57] whedon commented on #927
OK. v1.1.0 is the version.

[2019-01-18 17:07] labarba commented on #927
Finally, journal titles are capitalized in English-language publication. You're mixing English and French conventions. Please capitalize throughout.

[2019-01-18 17:43] Kevin-Mattheus-Moerman commented on #927
@labarba correct there was an issue with Linux and this limitation was added to the descriptions/documentation. Rather than removing the reviewer I thought it best to leave these statements for the record.
Thanks for addressing those additional editorial points that I missed.

[2019-01-18 17:44] lucask07 commented on #1172
@brainstorm
I've updated the pip package to version 0.1.5 and improved the README.

The update includes commands.csv, an instrument class, and an example for a Rigol oscilloscope.
Please see a much-updated [README](https://github.com/lucask07/instrbuilder/blob/master/README.md) for more complete install instructions and pointers to the files you asked about above. I tested the Rigol scope example

[2019-01-18 18:31] danielskatz commented on #1183
@cbjuan - Can you make any other suggestions about possible reviewers, from inside or outside the JOSS volunteer reviewer community?  We need one more to get going...

[2019-01-18 18:36] danielskatz commented on #1127
👋 @theBrianCui or @rahulkapoor90 - would one of you be willing to review this for JOSS?  (See the [JOSS review guidelines](
https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) in case you are not familiar with how JOSS works)

[2019-01-18 18:37] danielskatz commented on #1157
👋 @taqtiqa-mark - are you able to get started too?

[2019-01-18 21:09] ctdegroot commented on #1027
@fospald I am using boost version 1.60.0. I could find the library file in my installation. I've tried removing iostreams from the CMakeLists.txt file, however the build fails. It seems like this library is required. Looks like iostreams doesn't build unless libbz2 is installed first.

I have now managed to get it build but cannot import QtWebKitWidgets. I guess this is some component of PyQt5 tha

[2019-01-18 21:19] katyhuff commented on #1168
Excellent. Thanks for a thorough review @myousefi2016 . It looks like @mdoucet is making good progress as well. I'll have a chance to look this submission over myself sometime this weekend.

[2019-01-18 23:18] rljacobson commented on #1154
@mfroeling I am definitely qualified to review Mathematica code and general computer vision applications, though I do not have specific expertise with MRI imaging. I do not have any expertise in medicine, but I am quite familiar with the mathematical underpinnings of MRI if that helps. Because I start teaching quite soon, my available time is limited. If you willing to wait ~3 weeks for a complete

[2019-01-18 23:52] jsgalan commented on #980
Hi @olivertomic, I will be happy to check those changes !

Best

[2019-01-19 04:49] pjotrp commented on #1186
Of course. '@whedon generate pdf' will do it.

[2019-01-19 07:37] aslakbergersen commented on #1065
Thank you for testing the software @brainstorm, it is much appreciated.

I agree that there should be an additional script to ease playing around with the test data. To take it one step further, I took the command line examples from the Tutorial and rewrote them as python demos as well, see https://github.com/KVSlab/morphMan/pull/20. I also added a script which downloads the test data. Please also

[2019-01-19 08:03] brainstorm commented on #1065
That's fantastic Aslak, thanks for putting it together as an script!

And yes, I would advise to add `vmtk` into conda-forge itself, it's relatively straightforward to add dependencies there [(did it myself in the past for packages for which I'm not author)](https://github.com/conda-forge/staged-recipes/pulls?q=is%3Apr+author%3Abrainstorm+is%3Aclosed). The main reason behind this preference is my

[2019-01-19 13:04] whedon opened #1187 "[PRE REVIEW]: areal: An R package for areal weighted interpolation"
**Submitting author:** @chris-prener (<a href="http://orcid.org/0000-0002-4310-9888">Christopher Prener</a>)
**Repository:** <a href="https://github.com/slu-openGIS/areal" target ="_blank">https://github.com/slu-openGIS/areal</a>
**Version:** v0.1.3
**Editor:** @lheagy
**Reviewers:** @sjsrey, @edzer

**Author instructions**

Thanks for submitting your paper to JOSS @chris-prener. The JOSS editor @

[2019-01-19 13:04] whedon commented on #1187
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lheagy it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@lheagy) to find some reviewers for yo

[2019-01-19 13:04] whedon commented on #1187
[code]

[2019-01-19 13:04] arfon commented on #1187
:wave: @lheagy - the submitting author suggested you as the handling editor.

[2019-01-19 13:04] whedon commented on #1187
PDF failed to compile for issue #1187 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0    122      0 --:--:-- --:--:-- --:--:--   122
Error producing P

[2019-01-19 13:17] cbjuan commented on #1183
Sure, sorry for the delay. From outside JOSS reviewers, I would like to recommend @victorvicpal. And from JOSS reviewers (if needed) I point out to @pragyansmita

[2019-01-19 13:59] danielskatz commented on #1183
Another reviewer volunteered in response to a tweet - thanks @naberek
So we will start the review now.

[2019-01-19 13:59] danielskatz commented on #1183
@whedon add @naberek as reviewer

[2019-01-19 13:59] whedon commented on #1183
OK, @naberek is now a reviewer

[2019-01-19 14:00] danielskatz commented on #1183
@whedon start review

[2019-01-19 14:00] whedon opened #1188 "[REVIEW]: Qiskit VSCode: a tool to enhance the quantum computing programming experience"
**Submitting author:** @cbjuan (<a href="http://orcid.org/0000-0003-2045-8329">Juan Cruz-Benito</a>)
**Repository:** <a href="https://github.com/Qiskit/qiskit-vscode/" target ="_blank">https://github.com/Qiskit/qiskit-vscode/</a>
**Version:** v0.4.1
**Editor:** @danielskatz
**Reviewer:** @malmaud, @naberek
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/7687665c24744f6cc3a

[2019-01-19 14:00] whedon commented on #1183
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1188. Feel free to close this issue now!

[2019-01-19 14:00] whedon commented on #1188
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @malmaud, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-01-19 14:00] whedon commented on #1188
[code]

[2019-01-19 14:00] #1183 closed

[2019-01-19 14:00] vmagnin commented on #1109
@whedon generate PDF

[2019-01-19 14:00] whedon commented on #1109
[code]

[2019-01-19 14:00] whedon commented on #1188
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01188/joss.01188/10.21105.joss.01188.pdf)

[2019-01-19 14:00] whedon commented on #1109
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01109/joss.01109/10.21105.joss.01109.pdf)

[2019-01-19 14:01] danielskatz commented on #1188
👋 @malmaud & @naberek - thanks for agreeing to perform this review.  See the comments above, and let me know if you have any problems or concerns

[2019-01-19 14:15] vmagnin commented on #1109
Dear @Kevin-Mattheus-Moerman

I finally succeeded obtaining a DOI:
- I have asked my coauthor jerryd to transfer to me the ownership of the repository. So the new URL of gtk-fortran is https://github.com/vmagnin/gtk-fortran (instead of https://github.com/jerryd/gtk-fortran, which now redirects toward the new URL).
- I have updated that URL in the paper and have regenerated the PDF.
- I have create

[2019-01-19 14:58] KMarkert commented on #1184
@whedon generate pdf

[2019-01-19 14:58] whedon commented on #1184
[code]

[2019-01-19 14:58] whedon commented on #1184
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01184/joss.01184/10.21105.joss.01184.pdf)

[2019-01-19 17:39] poulson commented on #1167
@sivaramambikasaran Thank you for fixing that issue; I have verified that a from-scratch usage of `install.sh` now builds the library! (Though I had to manually install `dvipng`.)

I am now noticing that running a standard build and then executing `./tutorial` leads to a segfault. It seems that one must manually specify the matrix height (`N`), leaf cutoff size (`M`), off-diagonal block rank (`dim

[2019-01-19 18:08] gasparl commented on #1179
@whedon generate pdf

[2019-01-19 18:08] whedon commented on #1179
[code]

[2019-01-19 18:09] whedon commented on #1179
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01179/joss.01179/10.21105.joss.01179.pdf)

[2019-01-19 18:33] mir-am commented on #1155
@arfon @cMadan
The paper successfully compiled on my machine using Pandoc. However, whedon cannot compile the paper and produced above error.

[2019-01-19 18:49] ixjlyons commented on #1170
@trallard: I noticed that @peircej is in the spreadsheet of reviewers --- he's the author of PsychoPy, which is a fairly closely related experiment-building framework. I imagine he'd be a good reviewer for AxoPy if he has the time.

Also, the link to the repository should be: https://github.com/axopy/axopy.

[2019-01-19 19:16] andytwoods commented on #1179
Sorry for delays. Started a new job and things still settling down. A nice project. My minimal comments: https://github.com/gasparl/citapp_pc/issues/9

[2019-01-19 19:35] chris-prener commented on #1187
I'm wondering if this failed because of [the use of backticks in the heading](https://github.com/slu-openGIS/areal/blob/master/paper/paper.md#the-areal-r-package)? If so, I can remove and re-push...

[2019-01-19 20:14] labarba commented on #1178
@whedon assign @labarba as editor

[2019-01-19 20:14] whedon commented on #1178
OK, the editor is @labarba

[2019-01-19 21:07] labarba commented on #1016
Hi @kyleniemeyer — I could recommend some reviewer(s) for this submission.

What we're missing, though, is a clear _Statement of Need_, and some statements in the paper to illustrate how this software has been or can be used in research.

The [Lattice Boltzmann Method](https://en.wikipedia.org/wiki/Lattice_Boltzmann_methods) is like a whole branch of CFD, with [thousands](https://scholar.google.co

[2019-01-19 21:17] trallard commented on #1170
thanks @lucask07

@peterjc would you be able and interested in reviewing this submission for JOSS?

[2019-01-19 21:17] trallard commented on #1170
@whedon add @lucask07 as reviewer

[2019-01-19 21:17] whedon commented on #1170
OK, @lucask07 is now a reviewer

[2019-01-19 21:31] brainstorm commented on #1177
Sure! I'm on it.

[2019-01-19 21:32] brainstorm commented on #1177
@whedon assign brainstorm as editor

[2019-01-19 21:32] whedon commented on #1177
OK, the editor is brainstorm

[2019-01-19 21:32] brainstorm commented on #1177
@HaoZeke would you like to assist JOSS with a review of this software package?

[2019-01-19 21:39] brainstorm commented on #1159
👋 @luizirber Let me know if you need sth else from me ;)

[2019-01-19 22:07] labarba commented on #935
👋 @mpurg — We haven't heard from you in a while. What's your status? Are you able to work on the revisions soon?

[2019-01-19 22:09] labarba commented on #935
@kyleniemeyer — I manually removed the checklist for the unassigned reviewer, to avoid confusion and left-over un-ticked marks.

[2019-01-19 22:12] labarba commented on #1056
:wave @bastistician — We haven't heard from you in a while. What's your status? Are you able to work on this revision soon?

[2019-01-19 22:14] labarba commented on #728
👋  @mhucka — We haven't heard from you in a while. What's your status? Are you able to work on this revision soon?

[2019-01-19 22:18] labarba commented on #746
👋 @kdpeterson51 — We haven't heard from you in a while... it looks like there remained only some work to do with the tests. Will you be able to finish this up soon?

[2019-01-19 23:08] labarba commented on #1134
I wonder if @rafat would be willing to help us with this review?

👋 @rafat —Are you familiar with the Journal of Open Source Software (JOSS)? JOSS is a free, open-source, community driven and developer-friendly online journal. It aims to bridge the gap of research software receiving citation credit. JOSS reviews involve downloading and installing the software, and inspecting the repository for key

[2019-01-19 23:13] labarba commented on #727
👋 @economistgame — We haven't heard from you in a while. The review of your submission has been paused for 4 months. Do you think you'll be able to work on this, or should we think of withdrawing the submission? Let us know your thoughts!

[2019-01-19 23:33] brainstorm commented on #1172
Fantastic, thanks much @lucask07 for the detailed README instructions, now I managed to get some good output:

[code]

Now, other than some polishing on the "safe-to-ignore" Errors (which you raise in the README), I cannot check off the testing part. I know that testing with this type of very specialized hardware is hard (no pun intended), but have you considered [mock testing](https://www.toptal.

[2019-01-20 00:56] labarba commented on #714
We haven't heard from you in a while, @ansgarwenzel — If you still want us to go ahead with assigning an editor and looking for reviewers, I would ask that you justify how this submission is set apart from the JORS paper, and confirm that we're not looking at duplicate publication of the same work. Thanks!

[2019-01-20 00:59] labarba commented on #1128
👋  @trallard — We haven't seen movement on this thread for a while. Are you working offline to find reviewers? Give us a quick update here, or request help, if you need it. Thanks!

[2019-01-20 01:02] labarba commented on #764
👋  @evan-l-munson — How is it going? Have you been able to troubleshoot the issue? Give us an update when you can. Thanks!

[2019-01-20 01:31] labarba commented on #1178
@mtezzele — I wonder if you'd rather use the word "morphing" instead of "deformation" in the title. When I read "deformation" I think of the elastic or plastic deformation of engineered objects under stress.

[2019-01-20 01:33] arfon commented on #1187
This failure is due to a bug we recently introduced into our LaTeX template. I'll fix this shortly and let you know when it's updated.

[2019-01-20 01:50] labarba commented on #1178
Also, it would help a lot if you were able to suggest some names as potential reviewers. Your submission is in an area that we don't see a lot of open-source software, as it's mainly design engineering. If you know of any other software in this field, please give us the lead (and you might think of citing them in the paper).

[2019-01-20 04:07] rafat commented on #1134
Yeah, I will gladly review the software.

Rafat

On 1/20/19, Lorena A. Barba <notifications@github.com> wrote:

[2019-01-20 05:00] jedbrown commented on #1134
Thanks @labarba for catching this stall and thanks @rafat for being available to review.

@grlee77 There appears to be a missing reference ("manuscript by Stephan Mallat (???)") in your paper. Also, JOSS papers will include a Zenodo archive of the repository (post-review), so no need to cite an existing archive in the text.  Additionally, would it be appropriate to mention related work such as [Ky

[2019-01-20 05:00] jedbrown commented on #1134
@whedon add @rafat as reviewer

[2019-01-20 05:00] whedon commented on #1134
OK, @rafat is now a reviewer

[2019-01-20 09:57] peircej commented on #1170
I'd be happy to review if still needed

[2019-01-20 10:37] HaoZeke commented on #1177
Sure @brainstorm, I'd be happy to assist

[2019-01-20 12:43] chris-prener commented on #1187
OK, thanks for letting me know @arfon!

[2019-01-20 12:50] labarba commented on #935
Thanks, @mpurg. We'll add this label here ☝️ and pause the review. Ping us back when you feel the review can restart.

[2019-01-20 13:55] kczimm commented on #1170
I’m sorry I can’t review at this time for recent family reasons.

[2019-01-20 15:34] labarba commented on #1016
Sure! Just ping us all here when you're ready.

[2019-01-20 15:34] evan-l-munson commented on #764
Good morning, I appreciate your patience with me.  Finishing up this package is ending up being more challenging and time-consuming than I anticipated.  I was working on my vignette issue yesterday and am struggling to fix what I am seeing.  Everything seems to be built properly, however, after I re-download and load the package from my Git page the vignettes are not found.  I have used both, `uti

[2019-01-20 16:51] poulson commented on #714
@karthik I could review this given a bit of time. I've spent some time thinking about de Rham cohomology and it seems that the core of the project is an adaptation of Gaussian elimination (which I have definitely spent some time thinking about!).

[2019-01-20 16:51] peterjc commented on #1170
This sounds quite outside my area of expertise to review, so no.

[2019-01-20 17:43] mtezzele commented on #1178
@labarba thank you very much for your suggestions. I will do the modifications and ask few people if they are available as potential reviewers. I will let you know ASAP.

[2019-01-20 19:00] karthik commented on #1098
Thanks very much @Pakillo
@emchristensen if you can now archive this on Zenodo and provide a DOI, I can proceed with the next steps. 🙏

[2019-01-20 19:16] ThomasA commented on #1170
I'm sorry, but human-computer interfaces are not my area.

[2019-01-20 20:25] whedon opened #1189 "[REVIEW]: The Biddy BDD package"
**Submitting author:** @meolic (<a href="http://orcid.org/0000-0003-3395-1227">Robert Meolic</a>)
**Repository:** <a href="https://github.com/meolic/biddy" target ="_blank">https://github.com/meolic/biddy</a>
**Version:** v1.8.2
**Editor:** @brainstorm
**Reviewer:** @HaoZeke
**Archive:** <a href="https://doi.org/10.5281/zenodo.2561641" target="_blank">10.5281/zenodo.2561641</a>

## Status

[![stat

[2019-01-20 21:10] arokem commented on #1111
Hey @jmhernan -- have you had a chance to take a look at these revisions? Thanks!

[2019-01-20 21:20] arokem commented on #1132
Great work everyone! Thanks for the review @jsgalan!

@PGijsbers : your paper is ready to be processed for acceptance.

Could you please create an archive of the current state of your software (e.g., by creating a tag/version of the software and uploading that to [zenodo](https://zenodon.org)).

Once you have a DOI for the software, please post it here, so we can add the archive to the paper.

[2019-01-20 21:32] lheagy commented on #1114
👋 Hi @zhangning737, checking in again. Are you planning to make the changes as suggested above? If so, please leave a comment here to let me know.

[2019-01-20 21:35] lheagy commented on #1136
👋 Hi @techas, @tth030, just checking in on your progress with the review. Are there any questions you have about the procedure? Please don't hesitate to let me know if I can be of assistance

[2019-01-20 21:37] lheagy commented on #1184
👋 Hi @KMarkert, many thanks for your submission! Do you have any recommendations for reviewers?

[2019-01-20 21:38] lheagy commented on #1187
👋 Hi @chris-prener, thanks for your submission! Do you have any recommendations for reviewers?

[2019-01-20 23:01] danielhatton commented on #974
On Fri, 11 Jan 2019, Lorena A. Barba wrote:

Thanks.  Does the edit I've just made to the Zenodo record do the
trick?

--

Kind regards,

Dan Hatton

 Dr. Daniel C. Hatton
 Lecturer

 Mechanical and Marine Engineering Subject Group
 Autonomous Marine Systems Research Group

E-mail:<daniel.hatton@plymouth.ac.uk>

Address:School of Engineering,
 University of Plymouth,
 Drake Circus,
 Plymouth,
 UK.

[2019-01-20 23:16] arfon commented on #1155
@whedon generate pdf

[2019-01-20 23:16] whedon commented on #1155
[code]

[2019-01-20 23:17] whedon commented on #1155
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01155/joss.01155/10.21105.joss.01155.pdf)

[2019-01-20 23:17] Datseris commented on #1166
@whedon generate pdf

[2019-01-20 23:17] whedon commented on #1166
[code]

[2019-01-20 23:17] whedon commented on #1166
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01166/joss.01166/10.21105.joss.01166.pdf)

[2019-01-20 23:18] arfon commented on #1187
@whedon generate pdf

[2019-01-20 23:18] whedon commented on #1187
[code]

[2019-01-20 23:19] whedon commented on #1187
PDF failed to compile for issue #1187 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0    181      0 --:--:-- --:--:-- --:--:--   182
Error producing P

[2019-01-20 23:32] labarba commented on #974
@whedon accept deposit=true

[2019-01-20 23:32] whedon commented on #974
[code]

[2019-01-20 23:32] whedon commented on #974
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/444
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.00974](https://doi.org/10.21105/joss.00974)
2. If everything looks go

[2019-01-20 23:33] labarba commented on #974
Congratulations, @danielhatton, your paper is published!

Heartfelt thanks to the handling editor, @Kevin-Mattheus-Moerman, and the reviewer, @devinberg 🙏

[2019-01-20 23:35] #974 closed

[2019-01-20 23:35] whedon commented on #974
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00974/status.svg)](https://doi.org/10.21105/joss.00974)

**We need your help!**

Journal of Open Source Softwar

[2019-01-20 23:51] vsoch commented on #1179
@yochannah - an update from me! @gasparl has responded to and fixed [all of my issues](https://github.com/gasparl/citapp_pc/issues?q=is%3Aissue+is%3Aclosed), and done a fantastic job. Specifically, he has better written the manuscript for a general audience, and adding guidelines for contributing, getting help, and usage to the repository README, along with adding a demo depoyment to Github pages.

[2019-01-20 23:59] gasparl commented on #1179
Thanks very much @vsoch for your really kind and useful review!

(Yes, the testing function is in progress.)

[2019-01-21 00:03] theBrianCui commented on #1127
👋 Hi - what is this? I've never heard of JOSS before. How can I help?

[2019-01-21 01:06] brogly commented on #1127
@lrasmus - Thanks for agreeing to review.
@theBrianCui - We are looking for a second reviewer for the Litrl Browser software and associated paper for submission to JOSS. Links to these are above and @danielskatz (Editor) posted review guidelines right above your reply if you are interested.
@danielskatz - The following reviewers may also be interested, chkoar, sirsharpest, rljacobson, lindemann09,

[2019-01-21 07:42] sivaramambikasaran commented on #1167
@poulson Thanks. Our replies are inline.

This has been done. Unless all the four arguments are now passed, default arguments are used. Also, these arguments are relevant only for this specific example/tutorial file as has been mentioned [here](https://hodlrlib.readthedocs.io/en/latest/tutorial.html#running-the-program).

Further, the `dim` variable (i.e., the third input parameter) is **not** the

[2019-01-21 08:21] brainstorm commented on #1158
@whedon assign arokem as reviewer

[2019-01-21 08:21] whedon commented on #1158
OK, the reviewer is arokem

[2019-01-21 08:21] brainstorm commented on #1158
@whedon start review

[2019-01-21 08:21] whedon opened #1190 "[REVIEW]: Multiblock PLS: Block dependent prediction modeling for Python"
**Submitting author:** @lvermue (<a href="http://orcid.org/0000-0002-3403-7624">Laurent Vermue</a>)
**Repository:** <a href="https://github.com/DTUComputeStatisticsAndDataAnalysis/MBPLS" target ="_blank">https://github.com/DTUComputeStatisticsAndDataAnalysis/MBPLS</a>
**Version:** v1.0.0
**Editor:** @brainstorm
**Reviewer:** @arokem
**Archive:** <a href="https://doi.org/10.5281/zenodo.2560303" tar

[2019-01-21 08:21] whedon commented on #1158
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1190. Feel free to close this issue now!

[2019-01-21 08:21] whedon commented on #1190
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arokem it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2019-01-21 08:21] whedon commented on #1190
[code]

[2019-01-21 08:21] #1158 closed

[2019-01-21 08:21] whedon commented on #1190
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01190/joss.01190/10.21105.joss.01190.pdf)

[2019-01-21 08:23] brainstorm commented on #1119
@ejdanderson Let me know if you have any doubts regarding any of the review points, happy to help!

[2019-01-21 08:40] trallard commented on #1170
@whedon add @peircej as reviewer

[2019-01-21 08:40] whedon commented on #1170
OK, @peircej is now a reviewer

[2019-01-21 08:42] trallard commented on #1170
Thanks everyone for replying to the reviewer request.

@ixjlyons @lucask07 @peircej we are ready to start the review so I am going to create the review issue and close this one

[2019-01-21 08:42] trallard commented on #1170
@whedon start review

[2019-01-21 08:42] whedon opened #1191 "[REVIEW]: AxoPy: A Python Library for Implementing Human-Computer Interface Experiments"
**Submitting author:** @ixjlyons (<a href="http://orcid.org/0000-0002-9143-8459">Kenneth Lyons</a>)
**Repository:** <a href="https://github.com/axopy/axopy" target ="_blank">https://github.com/axopy/axopy</a>
**Version:** 0.2.3
**Editor:** @trallard
**Reviewer:** @lucask07, @peircej
**Archive:** <a href="https://doi.org/10.5281/zenodo.2562630" target="_blank">10.5281/zenodo.2562630</a>

## Status

[2019-01-21 08:42] whedon commented on #1191
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lucask07, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-01-21 08:42] whedon commented on #1191
[code]

[2019-01-21 08:42] #1170 closed

[2019-01-21 08:42] whedon commented on #1191
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01191/joss.01191/10.21105.joss.01191.pdf)

[2019-01-21 08:49] trallard commented on #1191
Some important notes about the revision:
- We ideally want the review to be conducted within a couple of weeks, but if any of you are struggling for time, please let me know
- As you go over the checklist: if you encounter any issues or suggest any changes to the package feel free to use this issue as a discussion platform as well as opening issues on the submission repo as needed.
- If there is a

[2019-01-21 09:46] meolic commented on #1189
I have improved the first example in the documentation to make the usage of the package more clear. Sorry for these last-minute changes.

[2019-01-21 09:59] mtezzele commented on #1178
We have the first potential reviewer: @benoitpaillard

[2019-01-21 11:22] olivertomic commented on #980
Thank you @jsgalan. We have started working  with your comments and will come back as soon as we are ready.

best wishes
Oliver

[2019-01-21 11:31] ZijieZhaoMMHW commented on #1124
https://doi.org/10.5281/zenodo.2545360

[2019-01-21 11:51] arfon commented on #1187
@whedon generate pdf

[2019-01-21 11:51] whedon commented on #1187
[code]

[2019-01-21 11:52] whedon commented on #1187
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01187/joss.01187/10.21105.joss.01187.pdf)

[2019-01-21 12:02] HaoZeke commented on #1189
@brainstorm, you're welcome.. I hope to have this finished in a few days.
@meolic, no problem, there may be some more changes, I will open pull requests and link to them as and when required, or discuss them with you here.

Right off the bat, could you please modify the `paper.md` so as to adhere to the following:

- [ ] Remove the historical review of package changes
- [ ] Remove or reword segmen

[2019-01-21 12:08] arfon commented on #1124
@ZijieZhaoMMHW - could you please rename your `LICENCE.txt` to `LICENSE.txt` and move it to the root (top level) of your repository please?

[2019-01-21 12:10] ZijieZhaoMMHW commented on #1124
@arfon Done. Sorry for that.

[2019-01-21 12:12] whedon opened #1192 "[PRE REVIEW]: CluSim: a Python package for the comparison of clusterings and dendrograms"
**Submitting author:** @ajgates42 (<a href="http://orcid.org/0000-0003-0099-7480">Alexander Gates</a>)
**Repository:** <a href="https://github.com/Hoosier-Clusters/clusim" target ="_blank">https://github.com/Hoosier-Clusters/clusim</a>
**Version:** v0.3.1
**Editor:** @VivianePons
**Reviewers:** @pajaskowiak

**Author instructions**

Thanks for submitting your paper to JOSS @ajgates42. The JOSS edi

[2019-01-21 12:12] whedon commented on #1192
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @VivianePons it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@VivianePons) to find some review

[2019-01-21 12:12] whedon commented on #1192
[code]

[2019-01-21 12:13] whedon commented on #1192
PDF failed to compile for issue #1192 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1192/paper.md): did not find expected key while parsing a block mapping at line 2 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/

[2019-01-21 12:13] arfon commented on #1192
:wave: @VivianePons - the submitting author suggested you as the handling editor.

[2019-01-21 12:15] arfon commented on #1192
@ajgates42  - looks like there's a whitespace issue in your `paper.md`:

[code]

Could you update it to make the indentation of each of the affiliations the same?

[2019-01-21 12:16] arfon commented on #1124
Thanks @ZijieZhaoMMHW. Could you update the Zenodo archive with this change too please?

[2019-01-21 12:30] arfon commented on #1124
@mvdh7 - many thanks for your review here and to @kthyng for editing this submission ✨

@ZijieZhaoMMHW - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-01-21 12:30] #1124 closed

[2019-01-21 12:30] whedon commented on #1124
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01124/status.svg)](https://doi.org/10.21105/joss.01124)

**We need your help!**

Journal of Open Source Softwar

[2019-01-21 12:43] schalkdaniel commented on #1174
Hi, sorry for not responding till now. I can do the review. :)

[2019-01-21 12:49] chris-prener commented on #1187
Hi @lheagy - the following three people from google doc all list GIS and R as areas/languages of interest: nuest, jsta, sjsrey.

[2019-01-21 12:50] PGijsbers commented on #1132
Done. Zenodo directs me [here](https://zenodo.org/badge/latestdoi/115117161) but it doesn't show. I assume it will just take a few minutes?

[2019-01-21 12:51] mtezzele commented on #1178
Found also the second reviewer: @spiani

[2019-01-21 13:08] mir-am commented on #1155
@arfon Thanks for fixing the error.

We would like to start the review process if possible.

[2019-01-21 13:13] PGijsbers commented on #1132
Seems like it is all fixed @arokem

[2019-01-21 13:35] arfon commented on #1155
@mir-am - @cMadan is still looking for reviewers here I think.

[2019-01-21 13:49] labarba commented on #1178
Thank you, @mtezzele — that helps a lot.

👋  @benoitpaillard, @spiani — would you be willing to sign-up as reviewers for JOSS?
http://joss.theoj.org/reviewer-signup.html
That will give me more information about your areas of expertise (but also leaves you open for future review invitations! ... which you can always decline, of course).
If not, you could email me with your real name and a few words

[2019-01-21 14:01] anmuller commented on #927
@whedon generate pdf

[2019-01-21 14:01] whedon commented on #927
[code]

[2019-01-21 14:01] whedon commented on #927
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00927/joss.00927/10.21105.joss.00927.pdf)

[2019-01-21 14:16] anmuller commented on #927
@whedon generate pdf

[2019-01-21 14:16] whedon commented on #927
[code]

[2019-01-21 14:16] whedon commented on #927
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00927/joss.00927/10.21105.joss.00927.pdf)

[2019-01-21 14:23] anmuller commented on #927
@labarba thanks for your comments.
Actually the DOI for the reference Featherstone was wrong and it was corrected. The other changes you mentionned were done. We hope that everything is good.

[2019-01-21 14:42] ajgates42 commented on #1192
Hi Arfon,

Sorry about that!  I've aligned the affiliations.

Hope it goes through.

Best,
Alex

On Mon, Jan 21, 2019 at 7:15 AM Arfon Smith <notifications@github.com>
wrote:

--
Alexander Gates
Postdoctoral Research Scholar
Center for Complex Network Research
Northeastern University
http://alexandergates.net

[2019-01-21 14:44] DavideNardone commented on #1049
Well, the fact a GPU implementation could be not faster than a CPU one can be true depending on the kind of task. I honestly think this kind of task is a good fit for the GPU when the dataset is made of many sample and variables. In the latter case, MTSS can drastically improve the performance of the comparisons since our I-MDTW version can split each DTW variable computation over different thread

[2019-01-21 14:45] benoitpaillard commented on #1178
Hi, I just signed up to JOSS but got no email back. Let me know if that is normal.

[2019-01-21 15:08] VivianePons commented on #1192
Good :) I'll have a look tomorrow and will start looking for reviewers.

[2019-01-21 15:24] labarba commented on #840
👋  @dleehr — We haven't heard from you in a while. Are you planning on making the improvements requested by @pjotrp soon? Give us a quick status update. Thanks!

[2019-01-21 15:58] labarba commented on #1178
@whedon assign @benoitpaillard as reviewer

[2019-01-21 15:58] whedon commented on #1178
OK, the reviewer is @benoitpaillard

[2019-01-21 16:30] poulson commented on #1167
@sivaramambikasaran Unfortunately, that changeset broke the other examples, e.g., `examples/example.cpp` (namely, they were expecting `std::cout` to be imported into the global namespace). Along this line, is there a reason for forcing CMake to only build one executable for each configuration? I would highly recommend building all of the examples and tests with the default configuration; it would

[2019-01-21 16:30] anmuller commented on #927
@whedon generate pdf

[2019-01-21 16:30] whedon commented on #927
[code]

[2019-01-21 16:31] whedon commented on #927
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00927/joss.00927/10.21105.joss.00927.pdf)

[2019-01-21 16:37] anmuller commented on #927
@labarba thanks again for the comments and for the advices. The changes were done.

[2019-01-21 16:41] labarba commented on #927
@whedon accept

[2019-01-21 16:41] whedon commented on #927
[code]

[2019-01-21 16:41] whedon commented on #927
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/447

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/447, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-01-21 16:42] mgymrek commented on #1048
@linuxscout @timClicks @lmullen would any of you be able to review this submission?

[2019-01-21 16:44] labarba commented on #927
@whedon accept deposit=true

[2019-01-21 16:44] whedon commented on #927
[code]

[2019-01-21 16:45] mgymrek commented on #1144
Thanks @richyanicky for the review.

@stevendavis, could you respond to the reviewer comments, and in particular comment on the size of files and the compute requirements? Is this meant to process genome-wide VCFs? In which case it would be important to handle gzipped files. On the other hand if it is meant to handle only small files it is worth making that clear.

[2019-01-21 16:45] whedon commented on #927
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/448
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.00927](https://doi.org/10.21105/joss.00927)
2. If everything looks go

[2019-01-21 16:46] mgymrek commented on #1083
Thanks @sjackman, if all the items have been completed could you just update the checklist above?

[2019-01-21 16:47] mgymrek commented on #1145
@rmflight that's fine. Can you update this comment thread when all of those issues have been addressed?

[2019-01-21 16:48] labarba commented on #927
Congratulations, @anmuller, your paper is published in JOSS! 🎉

Thank you, gracias, merci to your handling editor, @Kevin-Mattheus-Moerman, and your reviewers, @modenaxe, @demotu, @nicoguaro 🙏

[2019-01-21 16:48] #927 closed

[2019-01-21 16:48] whedon commented on #927
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00927/status.svg)](https://doi.org/10.21105/joss.00927)

**We need your help!**

Journal of Open Source Softwar

[2019-01-21 16:56] anmuller commented on #927
Thanks very much @labarba, @Kevin-Mattheus-Moerman, @modenaxe, @demotu, @nicoguaro for all your advices and the time spent on this review.

[2019-01-21 17:16] edawson commented on #1083
@sjackman I've addressed your remaining comments. We consider the original GFA proposal by Heng Li to be "GFA 0.1," and it's supported as a legacy format that predates any real specification. Thanks for your review!

@whedon generate pdf

[2019-01-21 17:21] sjackman commented on #1083
Are there any tangible technical differences between Heng's proposal GFA 0.1 and GFA 1.0?

[2019-01-21 17:24] edawson commented on #1083
Off the top of my head, the only things that come to mind are the `x` and `a` lines sometimes seen in early minimap2 runs and the `W` walk line used in place of the `P` path line syntax.

[2019-01-21 17:31] lheagy commented on #1136
Thanks @tth030, sounds good. You can leave your review as a comment on this issues thread, or if you have specific suggestions, then please [open up issues on the target repository](https://github.com/underworldcode/UWGeodynamics/issues/new). Then @rbeucher can address them there.

[2019-01-21 17:34] sjackman commented on #1083
[code]

Should the file `bash-tap/bash-tap-bootstrap` be included in the source code, or are further instructions needed for the automated tests?

[2019-01-21 17:36] lheagy commented on #1184
:wave: Hi @fil, @Zac-HD, would you be willing to review this submission for JOSS?

[2019-01-21 17:37] sjackman commented on #1083
You may want to consider using Autotools (`autoconf` and `automake`) if you're interested. Not a requirement though.

[2019-01-21 17:50] Fil commented on #1184
Sure!

-- Fil

On Mon, Jan 21, 2019 at 6:36 PM Lindsey Heagy <notifications@github.com>
wrote:

[2019-01-21 17:54] lheagy commented on #1184
@whedon assign @Fil as reviewer

[2019-01-21 17:54] whedon commented on #1184
OK, the reviewer is @Fil

[2019-01-21 17:56] sjackman commented on #1083
`make install` installs `gfakluge.hpp`, which depends on `tinyfa.hpp` and `pliib.hpp`, but those files are not installed by `make install`.

[2019-01-21 17:57] sjackman commented on #1083
`make check` fails on macOS with `md5sum: command not found`.
[code]

[2019-01-21 18:50] jmhernan commented on #1111
@igarizio thank you for making those changes. Tested things again and everything ran as documented.

[2019-01-21 19:31] yochannah commented on #1179
Looks like we're moving forward nicely! @vsoch, @andytwoods, @gasparl - let me know when we're happy with everything and ready to move forwards.

[2019-01-21 19:33] yochannah commented on #1174
@schalkdaniel thank you both for agreeing to review!

@ja-thomas I would like to proceed with two reviewers so I'll take up your offer too. Thank you!

[2019-01-21 19:38] vsoch commented on #1179
I'm really interested to learn about the CI strategy that is underway to test the web interface. I've done some testing with selenium (via python) but I don't think that's best practice, so I'm looking forward to learning the details. :)

[2019-01-21 19:38] yochannah commented on #1174
@whedon assign @ja-thomas as reviewer

[2019-01-21 19:38] whedon commented on #1174
OK, the reviewer is @ja-thomas

[2019-01-21 19:40] yochannah commented on #1174
@whedon add @schalkdaniel as reviewer

[2019-01-21 19:40] yochannah commented on #1174
@whedon start review

[2019-01-21 19:40] whedon opened #1193 "[REVIEW]: BoltzMM: an R package for maximum pseudolikelihood estimation of fully-visible Boltzmann machines"
**Submitting author:** @andrewthomasjones (<a href="http://orcid.org/0000-0003-1324-703X">Andrew Jones</a>)
**Repository:** <a href="https://github.com/andrewthomasjones/BoltzMM" target ="_blank">https://github.com/andrewthomasjones/BoltzMM</a>
**Version:** 0.1.3
**Editor:** @yochannah
**Reviewer:** @ja-thomas, @schalkdaniel
**Archive:** <a href="https://doi.org/10.5281/zenodo.2563411" target="_bl

[2019-01-21 19:40] whedon commented on #1193
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ja-thomas, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-01-21 19:40] whedon commented on #1193
[code]

[2019-01-21 19:41] whedon commented on #1193
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01193/joss.01193/10.21105.joss.01193.pdf)

[2019-01-21 19:42] yochannah commented on #1174
Alright - @andrewthomasjones @ja-thomas @schalkdaniel let's hop over to #1193 to start the review!

[2019-01-21 19:42] #1174 closed

[2019-01-21 19:45] yochannah commented on #720
Quick follow up - @arfon I don't think I'm going to be able to suggest any reviewers for a Pharo package in the end I'm afraid.

[2019-01-21 20:04] dleehr commented on #840
Yes I’ll get it done this week. Apologies for the delay!

[2019-01-21 20:06] edawson commented on #1083
- [X] make examples.md a link to that file
- [X] set the GitHub website link to the appropriate documentation (now links to README / GitHub Pages)
- [X] make interface.md a link to that file
- [X] bash-tap/bash-tap-bootstrap be included in the source code (made bash-tap) a git submodule, meaning it's now downloaded with `git clone --recursive`
- [X] You may want to consider using Autotools (I'm go

[2019-01-21 20:18] sjackman commented on #1083
Open an issue or PR next time over at Brewsci/bio, and if you run into any trouble, I'll be happy to walk you through it.

[2019-01-21 20:20] sjackman commented on #1083
@mgymrek All checked off, Melissa! ✅

[2019-01-21 20:37] meolic commented on #1189
@HaoZeke I have made the requested changes. Please check https://hackmd.io/Ii3fJIJmS3iplOQHSCTjHA  (i do not know how to use hackmd.io correctly).

[2019-01-22 01:09] arfon commented on #1192
@whedon generate pdf

[2019-01-22 01:10] whedon commented on #1192
[code]

[2019-01-22 01:10] whedon commented on #1192
PDF failed to compile for issue #1192 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1192/paper.md): did not find expected '-' indicator while parsing a block collection at line 16 column 3 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `pars

[2019-01-22 01:14] arfon commented on #1192
Not quite @ajgates42 - this should fix your paper: https://github.com/Hoosier-Clusters/clusim/pull/24

[2019-01-22 02:34] ArtPoon commented on #1186
@whedon generate pdf

[2019-01-22 02:34] whedon commented on #1186
[code]

[2019-01-22 02:35] whedon commented on #1186
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01186/joss.01186/10.21105.joss.01186.pdf)

[2019-01-22 02:37] ArtPoon commented on #1186
OK @pjotrp, I've checked the revised PDF output and it looks OK to me.

[2019-01-22 05:07] mgymrek commented on #1083
@whedon generate pdf

[2019-01-22 05:07] whedon commented on #1083
[code]

[2019-01-22 05:08] whedon commented on #1083
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01083/joss.01083/10.21105.joss.01083.pdf)

[2019-01-22 05:17] mgymrek commented on #1083
Thanks @sjackman!

@edawson could you (1) create a Zenodo archive and report the DOI in this thread and (2) check over the proof that was just generated by whedon?

[2019-01-22 05:50] arokem commented on #1190
@lvermue: first of all, kudos on a nice and useful software package!

Could you please share the code that you used to generate the results in the "Benchmark" section of your paper? Thanks!

[2019-01-22 05:58] arokem commented on #1190
I have looked over all of the review criteria (also shown above) and posted issues to your repository marked with "[JOSS review]". I also added some other issues, that are not required for the review of your paper, but I still think would be good additions or changes 😄

[2019-01-22 06:06] pjotrp commented on #1186
Thanks @ArtPoon. @azneto you can start review here.

[2019-01-22 06:31] jedbrown commented on #1049
Yes, if performance is an explicit claim, then comparison to an existing state of the art is warranted. Reviewers may chime now or later in if they are aware of specific packages that would be good to compare with.

[2019-01-22 10:02] sivaramambikasaran commented on #1167
@poulson We have now fixed the other examples and the CMake builds all the examples and test files. Thanks.

[2019-01-22 10:09] cMadan commented on #1155
@mir-am, yes, I still need to find someone to review the submission.

[2019-01-22 10:30] whedon commented on #1192
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01192/joss.01192/10.21105.joss.01192.pdf)

[2019-01-22 11:23] whedon opened #1194 "[PRE REVIEW]: causalweight: An R Package for Causal Inference and Mediation Analysis"
**Submitting author:** @hbodory (<a href="http://orcid.org/0000-0002-3645-1204">Hugo Bodory</a>)
**Repository:** <a href="https://github.com/hbodory/causalweight" target ="_blank">https://github.com/hbodory/causalweight</a>
**Version:** 0.1.2
**Editor:** @karthik
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @hbodory. The JOSS editor @karthik, will work w

[2019-01-22 11:23] whedon commented on #1194
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @karthik it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@karthik) to find some reviewers for

[2019-01-22 11:23] whedon commented on #1194
[code]

[2019-01-22 11:23] whedon commented on #1194
Failed to discover a valid open source license.

[2019-01-22 11:23] arfon commented on #1194
:wave: @karthik - the submitting author suggested you as the handling editor.

[2019-01-22 12:33] edawson commented on #1083
@whedon generate pdf

[2019-01-22 12:33] whedon commented on #1083
[code]

[2019-01-22 12:33] whedon commented on #1083
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01083/joss.01083/10.21105.joss.01083.pdf)

[2019-01-22 12:40] edawson commented on #1083
@whedon generate pdf

[2019-01-22 12:40] whedon commented on #1083
[code]

[2019-01-22 12:41] whedon commented on #1083
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01083/joss.01083/10.21105.joss.01083.pdf)

[2019-01-22 12:50] edawson commented on #1083
@whedon generate pdf

[2019-01-22 12:50] whedon commented on #1083
[code]

[2019-01-22 12:51] whedon commented on #1083
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01083/joss.01083/10.21105.joss.01083.pdf)

[2019-01-22 13:04] azneto commented on #1186
@ArtPoon, congratulations! This is a very useful tool to run the analyses on HIVdb. It considerably improves the user experience in every way by allowing to run analyses locally. I've ran the software a few times during the last days using Ubuntu. The software is well documented and runs really fast.

Though the documentation for the end users is really good and comprehensive, the code itself is n

[2019-01-22 13:13] edawson commented on #1083
@mgymrek I had to make a few changes to the bibliography that I missed earlier, but the latest proof is now good. The DOI is: 10.5281/zenodo.2546721 . Thanks (and thanks again @sjackman )!

[2019-01-22 14:18] meolic commented on #1189
@whedon generate pdf

[2019-01-22 14:18] whedon commented on #1189
[code]

[2019-01-22 14:19] pjotrp commented on #1186
Also a good idea to add a few lines on community guidelines. How can people contribute. Sometimes it happens ;)

[2019-01-22 14:19] whedon commented on #1189
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01189/joss.01189/10.21105.joss.01189.pdf)

[2019-01-22 14:25] danielskatz commented on #1127
Hi @theBrianCui - sorry for my delay in responding.  JOSS is an open journal for short articles that also contain open source research software.  Review is of both the article and the software.  Once a submission is reviewed successfully (which means the reviewers point out problems and the authors fix them), the submission is published and the authors can then use this publication for academic cr

[2019-01-22 14:35] meolic commented on #1189
@whedon generate pdf

[2019-01-22 14:35] whedon commented on #1189
[code]

[2019-01-22 14:35] whedon commented on #1189
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01189/joss.01189/10.21105.joss.01189.pdf)

[2019-01-22 14:42] meolic commented on #1189
@whedon generate pdf

[2019-01-22 14:42] whedon commented on #1189
[code]

[2019-01-22 14:43] whedon commented on #1189
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01189/joss.01189/10.21105.joss.01189.pdf)

[2019-01-22 14:59] azneto commented on #1186
@ArtPoon, the style is important but not required for this review. Just focus on the two pending issues and let the other improvements for the next releases.

[2019-01-22 15:05] meolic commented on #1189
@whedon generate pdf

[2019-01-22 15:06] whedon commented on #1189
[code]

[2019-01-22 15:06] whedon commented on #1189
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01189/joss.01189/10.21105.joss.01189.pdf)

[2019-01-22 15:10] meolic commented on #1189
@HaoZeke I have updated paper.md. Many thanks for your suggestions, especially for the hint about writing math formulas in the markdown format. I am ready for your comments about the source code and the supplemented documentation (for the instalation it should be enough to read README.md, the complete API is documented in User manual available from biddy.meolic.com).

[2019-01-22 16:31] dleehr commented on #840
@pjotrp I think the submission is ready for another look. Thank you for your patience and look forward to any feedback you may have.

[2019-01-22 16:47] karthik commented on #1098
@whedon generate pdf

[2019-01-22 16:47] whedon commented on #1098
[code]

[2019-01-22 16:48] whedon commented on #1098
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01098/joss.01098/10.21105.joss.01098.pdf)

[2019-01-22 16:49] arfon commented on #1192
@ajgates42 - you need to put the caption text actually in the image tag e.g.:

[code]

[2019-01-22 16:50] arfon commented on #1192
BTW, once you've made the changes to your `paper.md` file in `master`, you can ask @whedon to recompile the paper here with `@whedon generate pdf`

[2019-01-22 16:54] arfon commented on #720
@seandenigris - congratulations. We'd be very grateful if you could stick with us - finding reviewers for
Pharo submissions has proven very challenging.

@offray - to @seandenigris' point - please verify your own usage examples in your documentation. Reviewers shouldn't be responsible for catching obvious issues.

[2019-01-22 17:02] ajgates42 commented on #1192
@whedon generate pdf

On Tue, Jan 22, 2019 at 11:50 AM Arfon Smith <notifications@github.com>
wrote:

--
Alexander Gates
Postdoctoral Research Scholar
Center for Complex Network Research
Northeastern University
http://alexandergates.net

[2019-01-22 17:02] whedon commented on #1192
[code]

[2019-01-22 17:02] ArtPoon commented on #1186
Thanks @azneto for your review!  As you suggest, I will address the issues you've opened for the paper, and then in the longer term work on improving the code style.  I'll also add a `CONTRIBUTING` file as suggested and report back here.

[2019-01-22 17:03] whedon commented on #1192
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01192/joss.01192/10.21105.joss.01192.pdf)

[2019-01-22 17:03] ajgates42 commented on #1192
perfect, thank you!

On Tue, Jan 22, 2019 at 11:49 AM Arfon Smith <notifications@github.com>
wrote:

--
Alexander Gates
Postdoctoral Research Scholar
Center for Complex Network Research
Northeastern University
http://alexandergates.net

[2019-01-22 17:06] VivianePons commented on #1192
Perfect :) I am looking for reviewers, if you have any suggestion, please let me know.

[2019-01-22 17:32] whedon opened #1195 "[PRE REVIEW]: pyclustering"
**Submitting author:** @annoviko (<a href="http://orcid.org/0000-0002-9666-9141">Andrei Novikov</a>)
**Repository:** <a href="https://github.com/annoviko/pyclustering" target ="_blank">https://github.com/annoviko/pyclustering</a>
**Version:** 0.8.2
**Editor:** @poulson
**Reviewers:** @adavidzh

**Author instructions**

Thanks for submitting your paper to JOSS @annoviko. The JOSS editor Pending, wi

[2019-01-22 17:32] whedon commented on #1195
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-01-22 17:32] whedon commented on #1195
[code]

[2019-01-22 17:33] whedon commented on #1195
PDF failed to compile for issue #1195 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0    184      0 --:--:-- --:--:-- --:--:--   185
sh: 0: getcwd() f

[2019-01-22 17:34] whedon opened #1196 "[PRE REVIEW]: Bedparse: feature extraction from BED files"
**Submitting author:** @tleonardi (<a href="http://orcid.org/0000-0002-4449-1863">Tommaso Leonardi</a>)
**Repository:** <a href="https://github.com/tleonardi/bedparse" target ="_blank">https://github.com/tleonardi/bedparse</a>
**Version:** v0.2.0
**Editor:** @brainstorm
**Reviewers:** @Benjamin-Lee

**Author instructions**

Thanks for submitting your paper to JOSS @tleonardi. The JOSS editor Pendi

[2019-01-22 17:34] whedon commented on #1196
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-01-22 17:34] whedon commented on #1196
[code]

[2019-01-22 17:34] arfon commented on #1196
:wave: @pjotrp - would you be willing to edit this submission for JOSS?

[2019-01-22 17:34] whedon commented on #1196
PDF failed to compile for issue #1196 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0    298      0 --:--:-- --:--:-- --:--:--   300
Error producing P

[2019-01-22 17:42] arfon commented on #1195
@whedon generate pdf

[2019-01-22 17:42] whedon commented on #1195
[code]

[2019-01-22 17:43] whedon commented on #1195
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01195/joss.01195/10.21105.joss.01195.pdf)

[2019-01-22 17:54] mgymrek commented on #1083
@whedon set 10.5281/zenodo.2546721 as archive

[2019-01-22 17:54] whedon commented on #1083
OK. <a href="https://doi.org/10.5281/zenodo.2546721" target="_blank">10.5281/zenodo.2546721</a> is the archive.

[2019-01-22 17:54] mgymrek commented on #1083
@whedon set 1.1.2 as version

[2019-01-22 17:55] whedon commented on #1083
OK. 1.1.2 is the version.

[2019-01-22 17:56] mgymrek commented on #1083
thanks, congrats @edawson! and thanks @sjackman for the helpful review

[2019-01-22 18:19] kdpeterson51 commented on #746
@arfon @labarba All tests are finished. Thank you for all your help.

[2019-01-22 18:31] arfon commented on #746
:wave: @kellieotto - would you be able to take another look at this submission now that @kdpeterson51 has made their updates?

[2019-01-22 18:34] kellieotto commented on #746
@arfon @kdpeterson51 Looks like the functions with missing unit tests have them now. I've closed the issue on it. Great! I recommend to accept.

[2019-01-22 18:52] arfon commented on #746
@whedon generate pdf

[2019-01-22 18:52] whedon commented on #746
[code]

[2019-01-22 18:53] whedon commented on #746
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00746/joss.00746/10.21105.joss.00746.pdf)

[2019-01-22 18:55] arfon commented on #746
@kdpeterson51 - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2019-01-22 18:56] arfon commented on #1196
@tleonardi - please ignore the error above ☝️- this is a bug with our LaTeX template that I'm working on fixing.

[2019-01-22 19:06] arfon commented on #1053
@whedon commands

[2019-01-22 19:06] whedon commented on #1053
Here are some things you can ask me to do:

[code]

[2019-01-22 19:08] kdpeterson51 commented on #746
@arfon Zenodo [archive](https://zenodo.org/record/2546910#.XEdp0VxKiiM) has been made.

[2019-01-22 19:08] arfon commented on #1083
@whedon accept

[2019-01-22 19:08] whedon commented on #1083
[code]

[2019-01-22 19:08] whedon commented on #1083
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/449

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/449, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-01-22 19:09] arfon commented on #1083
@whedon accept deposit=true

[2019-01-22 19:09] whedon commented on #1083
[code]

[2019-01-22 19:10] whedon commented on #1083
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/450
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01083](https://doi.org/10.21105/joss.01083)
2. If everything looks go

[2019-01-22 19:11] whedon opened #1197 "[PRE REVIEW]: eddy: Extracting Protoplanetary Disk Dynamics with Python"
**Submitting author:** @richteague (<a href="http://orcid.org/0000-0003-1534-5186">Richard Teague</a>)
**Repository:** <a href="https://github.com/richteague/eddy" target ="_blank">https://github.com/richteague/eddy</a>
**Version:** v1.1
**Editor:** @arfon
**Reviewers:** @kevin-flaherty

**Author instructions**

Thanks for submitting your paper to JOSS @richteague. The JOSS editor @arfon, will wor

[2019-01-22 19:11] whedon commented on #1197
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@arfon) to find some reviewers for your

[2019-01-22 19:11] whedon commented on #1197
[code]

[2019-01-22 19:12] whedon commented on #1197
PDF failed to compile for issue #1197 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0    283      0 --:--:-- --:--:-- --:--:--   288
sh: 0: getcwd() f

[2019-01-22 19:12] arfon commented on #1197
@whedon generate pdf

[2019-01-22 19:12] whedon commented on #1197
[code]

[2019-01-22 19:13] whedon commented on #1197
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01197/joss.01197/10.21105.joss.01197.pdf)

[2019-01-22 19:19] igarizio commented on #1111
Great, thank you @jmhernan!
What should I do now?

[2019-01-22 19:20] arfon commented on #1197
:wave: @richteague - many thanks for your submission to JOSS. Next up we need to find a reviewer or two for this submission. Could you take a look at [this list of potential reviewers](https://bit.ly/joss-reviewers) and suggest a few here that might be suitable? Alternatively, you can suggest names of people not on this list that I can contact.

[2019-01-22 19:31] arfon commented on #1083
@sjackman - many thanks for your review here and to @mgymrek for editing this submission ✨

@edawson - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-01-22 19:31] #1083 closed

[2019-01-22 19:31] whedon commented on #1083
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01083/status.svg)](https://doi.org/10.21105/joss.01083)

**We need your help!**

Journal of Open Source Softwar

[2019-01-22 19:41] sjackman commented on #1083
I've added the citation to the Brewsci/bio package. https://github.com/brewsci/homebrew-bio/commit/311543ab3629b3fd029fdd16be59c2040867607b

[2019-01-22 19:42] arfon commented on #746
@kellieotto - many thanks for your review here and to @leeper for editing this submission :sparkles:

@kdpeterson51 - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-01-22 19:42] #746 closed

[2019-01-22 19:42] whedon commented on #746
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00746/status.svg)](https://doi.org/10.21105/joss.00746)

**We need your help!**

Journal of Open Source Softwar

[2019-01-22 19:43] sjackman commented on #1083
The URL https://doi.org/10.21105/joss.01083 resolves to JOSS, but doi.org does not yet have a Bibtex entry. I imagine it will soon enough.
[code]

[2019-01-22 19:51] arfon commented on #1083
Yeah, it can take a few hours for the DOI metadata to propagate properly.

[2019-01-22 19:55] mdoucet commented on #1168
I'm done with my review. The code is well organized and the examples are pretty good. Installing and running the code was easy. There's enough references to dig deeper and understand the problem. Overall everything looks good!

[2019-01-22 21:30] katyhuff commented on #1168
@whedon generate pdf from branch joss-edits

[2019-01-22 21:30] whedon commented on #1168
[code]

[2019-01-22 21:31] whedon commented on #1168
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01168/joss.01168/10.21105.joss.01168.pdf)

[2019-01-22 21:38] jfsantos commented on #1166
I will probably get to it around the middle of next week.

--
João Felipe Santos

On Mon, 21 Jan 2019 at 03:25, Kevin Mattheus Moerman <
notifications@github.com> wrote:

[2019-01-22 21:40] katyhuff commented on #1168
Thanks @myousefi2016 and @mdoucet for your reviews !

@MikeHeiber thank you for a strong submission and for engaging actively in the review process! I have looked over the paper, double checked all the DOI links, and have conducted a high level review of the code itself. Everything looks ship-shape to me.
Once you have your code and paper all ready in the release version (I assume v2.0.0?), it'll

[2019-01-22 22:01] mrosvall commented on #1192
I am on paternity leave and will not be able to provide a review.

Best regards,

Martin

[2019-01-23 09:23] annoviko commented on #1195
Hello, @arfon,
I have checked the list and found out that **adavidzh**, **dvysardana**, **pragyansmita** are suitable persons for review in line with the description (C/C++, Python, Cluster Analysis, Data Mining).

[2019-01-23 12:12] spiani commented on #1178
I have registered on JOSS, but I also have received no feedback. Could you please add me as a reviewer? Thank you

[2019-01-23 13:38] rljacobson commented on #1154
@mfroeling Unfortunately, my computer vision expert had to decline. I'll try to be expedient.

[2019-01-23 13:55] arfon commented on #57
I've been in touch with @alk224 over email and she's agreed that at this point in time, it's best if she withdraws this submission.

@serine - many thanks for all of your help with this review, I'm sorry this paper didn't make it through to publication.

[2019-01-23 13:55] #57 closed

[2019-01-23 13:59] arfon commented on #1197
:wave: @adam-m-jcbs - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2019-01-23 14:06] arfon commented on #1195
Thanks @annoviko. Before we decide upon reviewers, we need to have an editor assigned - this shouldn't take more than a week.

Is the paper (https://github.com/openjournals/joss-reviews/issues/1195#issuecomment-456493099) above not correct then? We can ask @whedon to compile a paper from a different branch in your repository.

Also, regarding the DOI & archive you already have - this might be OK,

[2019-01-23 14:08] arfon commented on #1178
We have you as a potential reviewer in our spreadsheet now (although I note you didn't specify what are your areas if interest/specialist topics). I'm not sure if @labarba is planning on asking for your help reviewing this submission - @labarba?

[2019-01-23 14:10] VivianePons commented on #1192
@whedon assign @adavidzh as reviewer

[2019-01-23 14:10] whedon commented on #1192
OK, the reviewer is @adavidzh

[2019-01-23 14:25] annoviko commented on #1195
@arfon, thanks for the clarification. The paper is totally correct, no need to rebuild it, I have just provided some extra information about the repository.

[2019-01-23 14:25] VivianePons commented on #1192
We have one reviewer, I would feel more comfortable with 2. I have just sent an email to Marcillo de Souto to see if he is interested. Once I have two confirmed reviewers, I will create the review issue.

[2019-01-23 14:40] MikeHeiber commented on #1168
Thank you @katyhuff @myousefi2016 and @mdoucet for reviewing my software tool and making this a smooth process.  I look forward to doing this again soon once my Excimontec KMC software tool is complete.

KMC_Lattice v2.0.0 is now released and the paper looks ready to go.  v2.0.0 is archived on Zenodo with the following DOI:
10.5281/zenodo.2547139

[2019-01-23 15:00] labarba commented on #1178
@spiani — Could you send me an email with your real name and links or info about your background? At the moment, I have little to go on (just the author's mention) to make the assignment. Thank you!

[2019-01-23 15:15] Juanlu001 commented on #1178
:wave: Hi! @labarba told me about this submission on Twitter and I'd like to review it. I already signed up as a reviewer.

[2019-01-23 15:19] labarba commented on #1178
@whedon add @Juanlu001 as reviewer

[2019-01-23 15:19] whedon commented on #1178
OK, @Juanlu001 is now a reviewer

[2019-01-23 15:35] ajgates42 commented on #1192
Cool, thanks Viviane.  I'm impressed with how quickly this process is
progressing.

On Wed, Jan 23, 2019 at 9:25 AM Viviane Pons <notifications@github.com>
wrote:

--
Alexander Gates
Postdoctoral Research Scholar
Center for Complex Network Research
Northeastern University
http://alexandergates.net

[2019-01-23 19:37] whedon opened #1198 "[PRE REVIEW]: Compare Expression Profiles for Pre-defined Gene Groups with C-REx"
**Submitting author:** @edifice1989 (<a href="http://orcid.org/0000-0002-8164-2480">Mingze He</a>)
**Repository:** <a href="https://cloud.docker.com/u/edifice1989/repository/docker/edifice1989/c-rex" target ="_blank">https://cloud.docker.com/u/edifice1989/repository/docker/edifice1989/c-rex</a>
**Version:** v1.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitt

[2019-01-23 19:37] whedon commented on #1198
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-01-23 19:37] whedon commented on #1198
[code]

[2019-01-23 19:37] whedon commented on #1198
PDF failed to compile for issue #1198 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1198 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-c5f29247288e/lib/whedo

[2019-01-23 19:38] arfon commented on #1198
:wave: @edifice1989 - could you please link to the software repository for this submission rather than a Docker container image?

[2019-01-23 19:42] ArtPoon commented on #1186
Hi @azneto and @pjotrp, I've addressed and closed the issues.

[2019-01-23 20:36] adam-m-jcbs commented on #1197
:wave: @arfon, @richteague - I am willing and feel competent to review the submission.  However, I am currently quite subscribed through February.  I cannot guarantee I'll be able to make time in my schedule to complete the review until my plate is clearer in March.  I've agreed to do a review I didn't have room for in the past and am trying to not repeat that mistake.  Were I to be selected as th

[2019-01-23 22:39] tth030 commented on #1136
Hei,

Can I have 1 week extension on my review? I have been in a hurry with different things (project interactions, teaching and kids)

Sorry about that.

Regards,
Thomas Theunissen

[2019-01-24 00:15] serine commented on #57
all good, thanks to everyone and good luck

[2019-01-24 03:39] mhucka commented on #728
My apologies for the long radio silence, and thank you for your considerable patience.

Although editing the manuscript for the content & clarification issues would be easy, solving the Windows portability issues are likely to take an unpredictable amount of time. I really wish I could do it; I don't actually have a strong dislike of Windows, so that's not the problem – the problem is simply lack

[2019-01-24 05:52] pjotrp commented on #840
@whedon generate pdf

[2019-01-24 05:52] whedon commented on #840
[code]

[2019-01-24 05:53] whedon commented on #840
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00840/joss.00840/10.21105.joss.00840.pdf)

[2019-01-24 07:46] adavidzh commented on #1192
In order to assess whether I could perform this review, I went through:
1. the [docs](https://hoosier-clusters.github.io/clusim/html/clusim.html),
1. the [`2018 bioRxiv`](https://doi.org/10.1101/410084), and
1. the [`arXiv:1706.06136`](https://arxiv.org/abs/1706.06136).

<details>
<summary>(remainder of post collapsed to not bias other reviewers)</summary>
<br>
I could only understand what was bei

[2019-01-24 07:47] cMadan commented on #1155
@raamana, would you be interested and available to review this submission?

@arokem, do you have any suggestions for others who may be suitable reviewers here?

[2019-01-24 07:50] cMadan commented on #1154
@grlee77 @JoshKarpel @rljacobson, I think between the three of you, there is sufficient expertise to review this submission. Let me know if you're good with this plan and I'll start the review.

[2019-01-24 07:51] brainstorm commented on #1196
@whedon assign brainstorm as editor

[2019-01-24 07:51] whedon commented on #1196
OK, the editor is brainstorm

[2019-01-24 07:57] brainstorm commented on #1196
@Nazeeefa, would you like to review this software for JOSS?

[2019-01-24 08:14] tleonardi commented on #1196
Hi @brainstorm - thanks for accepting to be the editor of this paper!
I've noticed that there are a couple of formatting errors in the PDF. Is it ok if I commit the fix and ask whedon to recompile the pdf? Or should I leave it as is till after the reviewers are done?

[2019-01-24 08:31] brainstorm commented on #1196
My pleasure. Correct and reformat away, no worries!

[2019-01-24 09:21] jhill1 commented on #1112
Thanks both for the reviews (especially whilst furloughed @PythonCHB - much appreciated).

[2019-01-24 10:44] PGijsbers commented on #1132
@whedon set 10.5281/zenodo.2545472 as archive

[2019-01-24 10:44] whedon commented on #1132
I'm sorry @PGijsbers, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-01-24 10:45] PGijsbers commented on #1132
Actually not sure what is preferred here:
 - specifically this version: 10.5281/zenodo.2545472
 - link to latest: 10.5281/zenodo.2545471

[2019-01-24 11:46] tleonardi commented on #1196
@whedon generate pdf from branch paper

[2019-01-24 11:46] whedon commented on #1196
[code]

[2019-01-24 11:46] whedon commented on #1196
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01196/joss.01196/10.21105.joss.01196.pdf)

[2019-01-24 12:40] trallard commented on #1128
Thanks for your submission to JOSS  @mhowison and apologies for the delay in moving this.

Unfortunately, this submission is not acceptable to JOSS as it falls into the 'minor utility' category:

[2019-01-24 12:41] #1128 closed

[2019-01-24 13:41] JoshKarpel commented on #1154
@cMadan sounds good to me!

[2019-01-24 14:43] mhowison commented on #1128
Hi @trallard, thank you for your response and for taking the time to consider our submission. I realize this is a volunteer effort on your part!

The criteria used to reject our submission were that it is not feature complete and designed for maintainable extension. We would very much appreciate if you could elaborate on this based on our questions below, so that we can understand the basis of the

[2019-01-24 14:49] raamana commented on #1155
Thanks Chris, happy to review, this is an interesting and useful tool. However, due to prior commitments etc, I may take 4-8 weeks.

[2019-01-24 14:50] arfon commented on #1128
Hi @mhowison, thanks for the followup question. Just to clarify, there are actually a few criteria wrapped up in this statement and it's the latter-half of the statement that we feel applies to your submission:

Packages like yours present an editorial challenge for us at JOSS: There's clearly value to wrapping APIs/data services like this tool does however we feel it necessary to put some kind of

[2019-01-24 15:09] mhowison commented on #1128
Ok, thank you for clarifying @arfon. I would suggest adding more clarification to the information for authors page, since it wasn't very clear to us when we submitted what a minor utility or thin API client is (especially since those terms are in quotes). My understanding now is that JOSS does not accept papers that are primarily about new data resources (which is understandable since there are ot

[2019-01-24 16:35] ArtPoon commented on #1186
[![DOI](https://zenodo.org/badge/96907259.svg)](https://zenodo.org/badge/latestdoi/96907259)

[2019-01-24 16:39] whedon opened #1199 "[PRE REVIEW]: straditize: Digitizing stratigraphic diagrams"
**Submitting author:** @Chilipp (<a href="http://orcid.org/0000-0001-6171-7716">Philipp S. Sommer</a>)
**Repository:** <a href="https://github.com/Chilipp/straditize" target ="_blank">https://github.com/Chilipp/straditize</a>
**Version:** v0.1.0
**Editor:** @yochannah
**Reviewers:** @ixjlyons, @sgrieve

**Author instructions**

Thanks for submitting your paper to JOSS @Chilipp. The JOSS editor @yo

[2019-01-24 16:39] whedon commented on #1199
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @yochannah it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@yochannah) to find some reviewers

[2019-01-24 16:39] whedon commented on #1199
[code]

[2019-01-24 16:40] arfon commented on #1199
:wave: @yochannah - the submitting author suggested you as the handling editor.

[2019-01-24 16:40] whedon commented on #1199
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01199/joss.01199/10.21105.joss.01199.pdf)