[2019-02-05 21:10] jedbrown commented on #1134
@whedon add @souopgui as reviewer

[2019-02-05 21:10] whedon commented on #1134
OK, @souopgui is now a reviewer

[2019-02-05 21:13] jedbrown commented on #1134
@whedon start review

[2019-02-05 21:13] whedon opened #1237 "[REVIEW]: PyWavelets: A Python package for wavelet analysis"
**Submitting author:** @grlee77 (<a href="http://orcid.org/0000-0001-8895-2740">Gregory Lee</a>)
**Repository:** <a href="https://github.com/PyWavelets/pywt" target ="_blank">https://github.com/PyWavelets/pywt</a>
**Version:** v1.0.3
**Editor:** @jedbrown
**Reviewer:** @rafat, @souopgui
**Archive:** <a href="https://doi.org/10.5281/zenodo.2634243" target="_blank">10.5281/zenodo.2634243</a>

## Sta

[2019-02-05 21:13] whedon commented on #1134
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1237. Feel free to close this issue now!

[2019-02-05 21:13] whedon commented on #1237
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @rafat, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2019-02-05 21:13] whedon commented on #1237
[code]

[2019-02-05 21:13] whedon commented on #1237
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01237/joss.01237/10.21105.joss.01237.pdf)

[2019-02-05 21:13] #1134 closed

[2019-02-05 21:17] jedbrown commented on #1237
@rafat @souopgui :wave: Welcome and thanks for agreeing to review! The comments from @whedon above outline the review process, which takes place in this thread (possibly with issues filed in the PyWavelets repository). I'll be watching this thread if you have any questions.

@grlee77 Can you clarify whether this review should take place on the 'master' branch (where your paper sources currently re

[2019-02-05 22:35] ncclementi commented on #1209
Yes, sure! Here are the links of the issues I opened:
https://github.com/bjmorgan/pyscses/issues/7
https://github.com/bjmorgan/pyscses/issues/10

[2019-02-05 23:11] brainstorm commented on #1160
@whedon check references

[2019-02-05 23:11] whedon commented on #1160
[code]

[2019-02-05 23:11] whedon commented on #1160
[code]

[2019-02-05 23:14] brainstorm commented on #1160
@aguang Can you please fix the above issues with the DOIs?

[2019-02-06 01:31] kyleniemeyer commented on #1027
It looks like that missing DOI is a fluke, so we can ignore that and proceed.

[2019-02-06 01:31] kyleniemeyer commented on #1027
@whedon accept

[2019-02-06 01:31] whedon commented on #1027
[code]

[2019-02-06 01:32] whedon commented on #1027
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/476

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/476, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-02-06 01:32] whedon commented on #1027
[code]

[2019-02-06 01:33] kyleniemeyer commented on #1027
@whedon accept deposit=true

[2019-02-06 01:33] whedon commented on #1027
[code]

[2019-02-06 01:34] whedon commented on #1027
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/477
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01027](https://doi.org/10.21105/joss.01027)
2. If everything looks go

[2019-02-06 01:35] kyleniemeyer commented on #1027
@fospald congrats, your article is now published in JOSS! Thanks for submitting a solid article and piece of software.

@tisaac & @ctdegroot thank you for reviewing this submission, and thanks to @jedbrown for editing it.

[2019-02-06 01:36] #1027 closed

[2019-02-06 01:36] whedon commented on #1027
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01027/status.svg)](https://doi.org/10.21105/joss.01027)

**We need your help!**

Journal of Open Source Softwar

[2019-02-06 02:14] behollister commented on #1185
Currently having issues with various itk header files during compilation. One example:

[ 40%] Building CXX object modules/CMakeFiles/Segmentation.dir/Segmentation/iAWatershedSegmentation.cpp.o
In file included from /home/brad/JOSS/workspace/src/Toolkit/FuzzyCMeans/itkFCMClassifierInitializationImageFilter.h:21:0,
                 from /home/brad/JOSS/workspace/src/modules/Segmentation/iAFuzzyCMea

[2019-02-06 02:19] behollister commented on #1185
ITK_DIR points to /bin-4.13-itk, as directed per [build instructions](https://github.com/3dct/open_iA/wiki/Linux-Build).

"Set ITK_DIR: /workspace/ITK/bin-4.13.0"

Will see about setting path to header files as needed for Linux build...

[2019-02-06 04:45] jedbrown commented on #1167
There's a bib formatting issue, described here. https://github.com/sivaramambikasaran/HODLR/commit/1bef70dbf42d1748ab2471463eb46e2b14cadd7d

"Hierachical" is misspelled.

Looks good otherwise; thanks for this further explanation.

[2019-02-06 04:45] jedbrown commented on #1167
@whedon check references

[2019-02-06 04:45] whedon commented on #1167
[code]

[2019-02-06 04:45] whedon commented on #1167
[code]

[2019-02-06 04:47] jedbrown commented on #1167
:point_up: Experimental feature gets that missing DOI wrong.

[2019-02-06 05:05] arokem commented on #1190
@brainstorm: I am ready to check that last box, and from my point of view this paper is ready to be accepted for publication.

@lvermue : Thanks for adding the code. I think that it benefits the paper greatly.

One small thing: I don't think that this generates the plots that appear in the paper. I realize that this is just one small additional step, but I think that it would be helpful for reader

[2019-02-06 05:48] jedbrown commented on #1089
@krueschan Please let us know if/when a Docker image or VM is available.

[2019-02-06 05:55] Chilipp commented on #1216
Dear @ixjlyons, thank you very much for your time and your helpful feedback! I already implemented the suggested changes will merge them soon.

[2019-02-06 07:59] muehlhaus commented on #1214
The article proof looks fine. Thank you for fixing the pdf generator that it can cope with our article.

[2019-02-06 09:23] bjmorgan commented on #1209
@ncclementi @vyasr Thank you both for your very thorough comments. We will begin working through addressing these points.

[2019-02-06 09:25] bjmorgan commented on #1209
@vyasr

Done in commit https://github.com/bjmorgan/pyscses/commit/969d7be62bd4fa8777383a274de2c6fa72d251ea

[2019-02-06 09:27] bjmorgan commented on #1209
@vyasr

Both addressed in commit https://github.com/bjmorgan/pyscses/commit/969d7be62bd4fa8777383a274de2c6fa72d251ea

Although we only have very limited unit tests at the moment, we have also added continuous integration tests using Travis CI, to avoid these tests getting out of sync with the project API in the future.

[2019-02-06 09:44] bjmorgan commented on #1209
@vyasr

`requirements.txt` has been updated.

@ncclementi

  @vysar already point this out. You need to add this a separate dependency to make sure things work. I've saw this modified as `import mpmath` but after installing `mpath` separately and pulling the latests changes from the repo I tried to install `pyscses` following the instructions but I still can't run the setup notebook. This is becau

[2019-02-06 09:58] sivaramambikasaran commented on #1167
@jedbrown

Done

Fixed

Hopefully, she can fly now.

[2019-02-06 09:58] sivaramambikasaran commented on #1167
@whedon generate pdf

[2019-02-06 09:58] bjmorgan commented on #1209
@ncclementi

commits in the repository contributors section https://github.com/bjmorgan/pyscses/graphs/contributors

If you look at the full commit history at https://github.com/bjmorgan/pyscses/commits/master you can see the majority of commits are from `glw33` who is @georgiewellock. It seems @georgiewellock's local git setup is using a different username than their GitHub account.

@labarba I'd

[2019-02-06 09:58] whedon commented on #1167
[code]

[2019-02-06 09:59] whedon commented on #1167
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01167/joss.01167/10.21105.joss.01167.pdf)

[2019-02-06 10:00] bjmorgan commented on #1209
@ncclementi @vyasr Can you please add further comments and suggestions / those we have not yet addressed as issues on the main repository, so we can track which we have / have not addressed?

[2019-02-06 11:31] fospald commented on #1027
@kyleniemeyer @jedbrown Looking at some published papers (including mine)
http://joss.theoj.org/papers/10.21105/joss.01027
http://joss.theoj.org/papers/10.21105/joss.01168
it seems in the section "Cite as:" (on the left) the first name is missing.
"Ospald, (2019)."
Can this be fixed?

[2019-02-06 12:03] leouieda commented on #808
@lheagy I'm still on the road so it's a bit tough to try to run the tests. Sorry for the delay.

[2019-02-06 12:44] tleonardi commented on #1228
Thanks @arfon!

[2019-02-06 13:03] ygrange commented on #1234
Just going through the checkboxes I found two comments:
- Please add doi to the Dalcin, Paz and Storti paper ( https://doi.org/10.1016/j.jpdc.2005.03.010 )
- There seems to be no tag for version 0.2.1 (there is a 0.2.0). I don't referee often enough for JOSS to know what the exact policy here is: to have the version released after my comments or to have a release now and add a new one at publicati

[2019-02-06 13:37] zhangning737 commented on #1114
@lheagy update the repo with documentation and READ.md. pls check it. I will those qualified. Any else needed?

[2019-02-06 14:49] a-slide commented on #1236
Hi @pjotrp and @george-githinji,

I confirm that I can tick all the boxes, except **automated tests**. Indeed, there is no straightforward way to do it as the outputs of pycoQC methods are dynamic plots. One possibility is to inspect visually the outputs and compare it with other software which I have done. Reports generated from the same datasets with pycoQC, Nanoplot and MinIONQC are available o

[2019-02-06 14:59] jedbrown commented on #1027
@fospald I believe that is the intended formatting, but it's unusual that the accepted papers list shows a URL `https://fospald.github.io/fibergen/` instead of the usual `fospald / fibergen`. http://joss.theoj.org/papers/accepted

[2019-02-06 15:42] bjmorgan commented on #1209
@ncclementi

We have added guidelines for contributing / asking for support / reporting issues to the top level `README`: https://github.com/bjmorgan/pyscses/commit/8e36373c28ef79918970dd4b62890dec1ebdc2fb

[2019-02-06 15:51] ncclementi commented on #1209
@bjmorgan

Regarding installation: I will have to give it another try, because when I tried to installed (after the requirements were updated) I wasn't able to get it working doing:
Or clone the latest version from GitHub with

[code]
and install the same way.

[code]
The way it worked for me was by doing:
`python setup.py install`

Regarding your request: "Can you please add further comments and

[2019-02-06 16:03] aguang commented on #1160
@whedon check references

[2019-02-06 16:03] whedon commented on #1160
[code]

[2019-02-06 16:03] whedon commented on #1160
[code]

[2019-02-06 16:03] aguang commented on #1160
@whedon generate pdf

[2019-02-06 16:03] whedon commented on #1160
[code]

[2019-02-06 16:04] whedon commented on #1160
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01160/joss.01160/10.21105.joss.01160.pdf)

[2019-02-06 16:04] aguang commented on #1160
@brainstorm Should be good now.

[2019-02-06 16:12] fospald commented on #1027
@jedbrown How to change the URL?

[2019-02-06 16:15] bjmorgan commented on #1209
@ncclementi
Can you please post your errors when you try to install using `pip install -e .`?

Regarding opening specific issues on the main repository: you have both provided comprehensive feedback on your first pass, and I want to make sure we don't miss any of the issues you have raised. It will probably be easier to track individual discussion threads in separate issues on the main repo than h

[2019-02-06 16:27] jedbrown commented on #1027
I don't know; might be a question for @arfon.
![joss](https://user-images.githubusercontent.com/3303/52356369-4e5bb180-29f1-11e9-97fb-616710bb9c65.png)

[2019-02-06 16:27] arfon commented on #1027
I can fix this.

[2019-02-06 16:28] arfon commented on #1027
OK, fixed.

[2019-02-06 16:29] jedbrown commented on #1027
Thanks!

[2019-02-06 16:30] bjmorgan commented on #1209
@vyasr

From my initial playing around, if we want to add these `*.ipynb` notebooks to the Sphinx RTD documentation, they need to be moved into the `docs/source` directory. I feel this makes them difficult to find if people want to access and run them as Jupyter notebooks. What are your thoughts on providing web-viewable versions using e.g. nbviewer --> https://nbviewer.jupyter.org/github/bjmorgan

[2019-02-06 16:30] arfon commented on #1234
I think it's OK to review what is in the repository now (i.e. `master`) and then for there to be a new release before publication.

Perhaps @aelanman could clarify what they're asking to be reviewed.

[2019-02-06 17:20] grlee77 commented on #1204
For reference, the following issues were opened at the source repo:
@JoshKarpel opened an issue related to testing: mfroeling/QMRITools#6
@grlee77 opened an issue related to documentation: mfroeling/QMRITools#7

[2019-02-06 17:49] aelanman commented on #1234
Hello, @ygrange . We're asking for the contents of `master` to be reviewed. We've issued releases for every major version change (generation.major.minor) so far, but I assume we'll do another release after the review is finished.

I'll add the missing doi.

Thanks!

[2019-02-06 17:52] VivianePons commented on #1192
Just to let you know that I'm still in the process of finding a second reviewer.

[2019-02-06 17:57] ajgates42 commented on #1192
OK, thanks Viviane.  I have thought about Andre's comments, but was waiting
for the official review process to start before making any changes.

Cheers,
Alex

On Wed, Feb 6, 2019 at 12:52 PM Viviane Pons <notifications@github.com>
wrote:

--
Alexander Gates
Postdoctoral Research Scholar
Center for Complex Network Research
Northeastern University
http://alexandergates.net

[2019-02-06 18:22] stevendavis commented on #1144
@mgymrek The vcftoolz software is now updated to support reading gzipped vcf files.  Thanks for the tip.  I've bumped the version number to 1.1.0.  I have not yet pushed the release to PyPi, but will do so soon.

The manuscript is also updated to clarify the expected number of variants, and fixed the typo.  Good catch!

Do I need to do anything to trigger PDF file creation?

[2019-02-06 18:23] aelanman commented on #1234
@whedon compile pdf

[2019-02-06 18:25] aelanman commented on #1234
@whedon generate pdf

[2019-02-06 18:25] whedon commented on #1234
[code]

[2019-02-06 18:25] whedon commented on #1234
PDF failed to compile for issue #1234 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0    179      0 --:--:-- --:--:-- --:--:--   181
Error reading bib

[2019-02-06 18:27] kyleniemeyer commented on #1144
@whedon generate pdf

[2019-02-06 18:27] whedon commented on #1144
[code]

[2019-02-06 18:27] whedon commented on #1144
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01144/joss.01144/10.21105.joss.01144.pdf)

[2019-02-06 18:29] lvermue commented on #1190
@brainstorm @arokem I just updated the runtime analysis scripts. They now contain the code that was used to create the plots shown in the paper. See
https://github.com/DTUComputeStatisticsAndDataAnalysis/MBPLS/commit/abc9bf5771216a2a89bf4354d5f7f9f395d755f4

Furthermore, I had a look at the missing/invalid DOIs.
**Missing DOI**
I could not find any DOI for the paper "Scikit-learn: Machine learning

[2019-02-06 19:11] labarba commented on #1209
@bjmorgan — Indeed, the reviewers have provided a detailed report of the issues you may need to address. For a few concrete ones, they opened a new issue on you software repository. With the rest, as it is posted here, I will request that you take the time to create a checklist of all the items that need addressing, and you go about checking them off (and open issues in your own repo as needed). I

[2019-02-06 19:23] ncclementi commented on #1209
@bjmorgan regarding the installation, I checked it again and installed form scratched and have no problem. We can call this solved, great job!

[2019-02-06 20:12] bjmorgan commented on #1209
@labarba We're happy to copy the more complex points to issues on the main repo to help track them.

[2019-02-06 20:18] sarats commented on #1222
Leaving on travel shortly. I can get to this at the end of the month if that's okay.

[2019-02-06 21:24] aelanman commented on #1234
@whedon generate pdf

[2019-02-06 21:24] whedon commented on #1234
[code]

[2019-02-06 21:24] whedon commented on #1234
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01234/joss.01234/10.21105.joss.01234.pdf)

[2019-02-06 21:28] lheagy commented on #808
Hi @leouieda, no worries, thanks for getting back to me. I can go through this later this week

[2019-02-06 21:42] whedon opened #1238 "[PRE REVIEW]: Ocellaris: an exactly incompressible DG FEM solver for free surface flows"
**Submitting author:** @TormodLandet (<a href="http://orcid.org/0000-0001-5070-8056">Tormod Landet</a>)
**Repository:** <a href="https://bitbucket.org/ocellarisproject/ocellaris" target ="_blank">https://bitbucket.org/ocellarisproject/ocellaris</a>
**Version:** 2019.0.1
**Editor:** @labarba
**Reviewers:** @inducer, @piyueh

**Author instructions**

Thanks for submitting your paper to JOSS @TormodL

[2019-02-06 21:42] whedon commented on #1238
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @labarba it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@labarba) to find some reviewers for

[2019-02-06 21:42] whedon commented on #1238
[code]

[2019-02-06 21:42] whedon commented on #1238
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01238/joss.01238/10.21105.joss.01238.pdf)

[2019-02-06 21:42] danielskatz commented on #1238
👋 @labarba - the author requested you edit this submission

[2019-02-06 23:01] labarba commented on #1238
I would like to invite Andreas Klöckner (@inducer) to review this — Andreas: would you be willing to contribute a review for JOSS? Title: **Ocellaris: an exactly incompressible DG FEM solver for free surface flows** (uses Python, C++, Fenics and PETSc).
Have a look at the [JOSS Review Process](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html), and let me know!

[2019-02-07 00:35] brainstorm commented on #1190
@lvermue I suspect it has to do with "special characters" in the URL, @arfon, did you encounter those errors in the whedon DOI checker parser before?

[2019-02-07 00:36] 1313e commented on #1229
@arfon May I btw mention that AAS Journals has no system in place at all that a submission is being accompanied by a JOSS submission?
I simply mentioned it in the extra notes to the editor, but I have not heard anything back yet.

[2019-02-07 00:39] brainstorm commented on #1160
@whedon accept

[2019-02-07 00:39] whedon commented on #1160
No archive DOI set. Exiting...

[2019-02-07 00:39] brainstorm commented on #1160
Great! @aguang can you please deposit the release tarball on Zenodo and come back with the resulting DOI?

[2019-02-07 00:45] labarba commented on #1238
(Now sent invitation to Andreas via email.)

[2019-02-07 02:09] arfon commented on #1229
Yes, I think this is still a work in progress.

/ cc @crawfordsm who is the software editor for AAS so he has some visibility into this review too.

[2019-02-07 03:21] crawfordsm commented on #1229
Apologies, unfortunately, I did not see a note about this on the AAS side.   I'll have to follow up about that, but thanks for letting me know!    As this is the first paper, it will be great to use as an example of the process.

[2019-02-07 03:29] 1313e commented on #1229
Do you, by any chance, need the submission reference, to make it easier to find which paper it actually is that I submitted to AAS Journals?

[2019-02-07 03:38] crawfordsm commented on #1229
It's okay, I have the information.   I am the Scientific Editor for the paper, so I can monitor it here as well as on the AAS side.   I realize now that I had just overlooked the information.   As of right now, we do not have a formal process for this, but appreciate your patience as we figure out the details.

[2019-02-07 03:41] aguang commented on #1160
@brainstorm 10.5281/zenodo.2558603 should be it if I did it right

[2019-02-07 03:50] aguang commented on #1160
actually there appears to already have been a Zenodo doi made for me when I made a release tag on Github: 10.5281/zenodo.2558617. Not sure which one would be better to use.

[2019-02-07 04:18] brainstorm commented on #1160
@whedon set 10.5281/zenodo.2558617 as archive

[2019-02-07 04:18] whedon commented on #1160
OK. <a href="https://doi.org/10.5281/zenodo.2558617" target="_blank">10.5281/zenodo.2558617</a> is the archive.

[2019-02-07 04:18] brainstorm commented on #1160
@whedon accept

[2019-02-07 04:18] whedon commented on #1160
[code]

[2019-02-07 04:19] whedon commented on #1160
PDF failed to compile for issue #1160 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1160 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-dc9ad3c41cc6/lib/whedo

[2019-02-07 04:19] whedon commented on #1160
[code]

[2019-02-07 05:52] kbenoit commented on #1087
Sorry for the delay guys, here are my comments. All of my suggestions are below but on the [_JOSE_ option above](https://github.com/openjournals/joss-reviews/issues/1087#issuecomment-454359891), I think it has to do below with the purpose of the package and the need it addresses, which I think needs additional clarification before we can answer this definitively. Do I think the package should be r

[2019-02-07 09:08] pjotrp commented on #1236
Thanks. I am fine with not having automated tests for visualisations. One improvement is to create regresssion tests (where you just compare the outputs). But I think that is for more complex systems.

@george-githinji you can start review.

[2019-02-07 12:23] arfon commented on #1217
:wave: @astrom-tom - thanks for submitting this package to JOSS. Could you say a little more about how this submission meets the following [submission criteria](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements)?

For this, it's not clear to me that this functionality isn't available elsewhere (e.g. in https://github.com/esheldon/fitsio or astropy).

Additionally:

Have

[2019-02-07 13:40] grlee77 commented on #1237
The features and functionality are the same in both 1.0.1 and master so I am fine with reviewing based on 1.0.1. The main difference is that master has dropped Python 2 support and has a few minor fixes. We will eventually include the fixes in a future release from the 1.0.x branch as well.

[2019-02-07 14:04] grlee77 commented on #1237
There are a number of basic demos of usage in the `demo` folder of the repository. The API documentation is pretty complete, but the docs don't have a lot of tutorials/demos. Some concrete examples for scientific applications are provided below.

There are a some image denoising demos functions in scikit-image that rely on PyWavelets (specifically for `skimage.restoration.estimate_sigma` and `skim

[2019-02-07 14:28] pdwaggoner commented on #1211
Hi @danielskatz  - I have some suggested reviewers if these don't work out. Let me know if you would like to invite someone else to take a look. Happy to help how I can.

[2019-02-07 14:30] danielskatz commented on #1211
Please suggest reviewers here - and I'll keep trying to get an editor lined up.  Having suggestions will help the editor.

[2019-02-07 14:40] pdwaggoner commented on #1211
Awesome - this is copied and pasted from my note above: We recommend either @RMHogervorst or @alexhanna as reviewers, though we are certainly open to your thoughts on it as well. Many thanks again and let us know whatever else you need in the process.

[2019-02-07 14:41] jedbrown commented on #1237
Thanks, @grlee77. Note that upon acceptance, we'll ask you to tag and archive a release that includes any revisions that may have resulted from the review. That archive should include the final sources for the paper, which are currently in 'master'.

[2019-02-07 14:54] grlee77 commented on #1204
It appears that engineers and MR physicists as opposed to clinicians/radiologists are the target audience.  Fat/water fraction estimation, diffusion tensor estimation and T2-fitting based on extended phase graphs (EPG) are the three primary applications you have highlighted. All of these are of current interest to researchers in the field of MRI.

There are a number of other widely used software p

[2019-02-07 14:57] grlee77 commented on #1204
One other potential issue that should probably be pointed out in the documentation:

Although the software has a permissive BSD 3-clause license, in practice use in commercial applications may be prohibited due to existing patents (I'm pretty sure this is the case for the IDEAL fat/water estimation algorithm?). Each MR system vendor tends to sell their own proprietary closed-source software option

[2019-02-07 15:15] Chilipp commented on #1157
thanks @justinalsing for your detailed responses to my comments and the ones from @taqtiqa-mark ! I especially appreciate your work on the contribution guidelines.

There are still some open points and I would like to outsource them to other issues in your repository:

- [ ] Automated tests (https://github.com/justinalsing/dlmmc/issues/5): As also stated by @taqtiqa-mark that they need to be imple

[2019-02-07 16:05] kyleniemeyer commented on #1160
@whedon generate pdf

[2019-02-07 16:05] whedon commented on #1160
[code]

[2019-02-07 16:05] whedon commented on #1160
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01160/joss.01160/10.21105.joss.01160.pdf)

[2019-02-07 16:06] kyleniemeyer commented on #1211
@yochannah would you be able to edit this?

[2019-02-07 16:10] kyleniemeyer commented on #1160
Hello @aguang, before we accept and publish your submission, could you please make some small edits to the paper? In particular, the article could use some revision at the very beginning, to satisfy these requirements:
- A summary describing the high-level functionality and purpose of the software for a diverse, non-specialist audience
- A clear statement of need that illustrates the purpose of th

[2019-02-07 16:11] grlee77 commented on #1237
Okay, in that case, please just review from master and we will tag a new release once the review is completed.  The 1.0.x branch was created to allow maintenance/bug fixes releases for Python 2.7 support through 2020 or so, but any new features introduced will not be backported to that branch.

[2019-02-07 16:20] mfroeling commented on #1204
@whedon generate pdf

[2019-02-07 16:21] whedon commented on #1204
[code]

[2019-02-07 16:22] whedon commented on #1204
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01204/joss.01204/10.21105.joss.01204.pdf)

[2019-02-07 16:39] alexpghayes commented on #947
Can you comment on:

https://github.com/peterjwatkins/diwanalr/blob/alexpghayes-r_cmd_cleanup_master/R/msd.R#L51

and

https://github.com/peterjwatkins/diwanalr/blob/alexpghayes-r_cmd_cleanup_master/R/modulus.R#L110

Why are `NA` values being generated and why is it safe to ignore them?

At this point the code is decently clean but hitting it with [`styler`](https://github.com/r-lib/styler) might

[2019-02-07 16:51] arfon commented on #1190
@whedon check references

[2019-02-07 16:51] whedon commented on #1190
[code]

[2019-02-07 16:51] whedon commented on #1190
[code]

[2019-02-07 16:52] arfon commented on #1190
OK, @whedon now recognizes `http://doi.org/10.1002/(SICI)1099-128X(199809/10)12:5<301::AID-CEM515>3.0.CO;2-S` as a valid DOI.

[2019-02-07 17:05] lheagy commented on #1114
Thanks @zhangning737, I will take a look in the next couple of days.

[2019-02-07 17:09] mfroeling commented on #1204
@JoshKarpel I have updated the paper with a small paragraph of each toolbox and added a few lines how the toolbox came about.

@grlee77 @JoshKarpel most indeed my toolbox does what most DTI frameworks can and by now there are many, when i started 10 years ago as a student working on DTI of muscle most of them didnt exist and mathematica was my preferred language. As such i started coding my own sc

[2019-02-07 17:37] bastistician commented on #1056
@karthik Today, I have released the package on [CRAN](https://CRAN.R-project.org/package=polyCub) (version 0.7.1) and created a corresponding [GitHub release](https://github.com/bastistician/polyCub/releases/tag/v0.7.1), which has subsequently been pushed to Zenodo. Here is the DOI:

https://doi.org/10.5281/zenodo.2559486

[2019-02-07 19:16] behollister commented on #1185
I'm using 18.04.1 LTS. ITK / VTK compiled fine per the instructions.

As I installed the ITK / VTK builds, CMake picked up those locations. When the build failed, I switched ITK_DIR to the build directory (then re-ran cmake after a 'make clean' in the build dir).

Best that I start anew, following instructions *exactly*. Also, I've found that reconfig sometimes fails. Cleaning out the previous bui

[2019-02-07 19:17] arfon commented on #1217
@whedon assign @arfon as editor

[2019-02-07 19:17] whedon commented on #1217
OK, the editor is @arfon

[2019-02-07 20:01] aguang commented on #1160
@whedon generate pdf

[2019-02-07 20:02] whedon commented on #1160
[code]

[2019-02-07 20:02] whedon commented on #1160
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01160/joss.01160/10.21105.joss.01160.pdf)

[2019-02-07 20:03] aguang commented on #1160
@kyleniemeyer is it clearer now?

[2019-02-07 20:18] inducer commented on #1238
@labarba I would in principle be willing to review. An important data point for me would be the time horizon you have in mind. The guidelines say, "rapid", but that can mean many things. Could you clarify? To be more precise, it's early-semester-and-pre-CSE crunch time in my group, so "early March" is easier to accommodate than "next week".

[2019-02-07 20:26] labarba commented on #1238
I see — we certainly don't expect reviewers to deliver in a week (although some JOSS papers do get reviews and published in a matter of days), but our target is around three weeks. More common is >1 month. Would you be able to get to it right after SIAM CSE? Obviously you are ideal for this one!

[2019-02-07 20:32] inducer commented on #1238
Right after CSE is doable. Count me in.

[2019-02-07 20:32] labarba commented on #1238
@whedon assign @inducer as reviewer

[2019-02-07 20:33] whedon commented on #1238
OK, the reviewer is @inducer

[2019-02-07 20:34] labarba commented on #1238
@whedon add @piyueh as reviewer

[2019-02-07 20:34] whedon commented on #1238
OK, @piyueh is now a reviewer

[2019-02-07 20:34] labarba commented on #1238
@whedon start review

[2019-02-07 20:34] whedon opened #1239 "[REVIEW]: Ocellaris: an exactly incompressible DG FEM solver for free surface flows"
**Submitting author:** @TormodLandet (<a href="http://orcid.org/0000-0001-5070-8056">Tormod Landet</a>)
**Repository:** <a href="https://bitbucket.org/ocellarisproject/ocellaris" target ="_blank">https://bitbucket.org/ocellarisproject/ocellaris</a>
**Version:** v2019.0.2
**Editor:** @labarba
**Reviewer:** @inducer, @piyueh
**Archive:** <a href="https://doi.org/10.5281/zenodo.2601988" target="_blan

[2019-02-07 20:34] whedon commented on #1238
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1239. Feel free to close this issue now!

[2019-02-07 20:34] whedon commented on #1239
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @inducer, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-02-07 20:34] whedon commented on #1239
[code]

[2019-02-07 20:34] #1238 closed

[2019-02-07 20:34] whedon commented on #1239
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01239/joss.01239/10.21105.joss.01239.pdf)

[2019-02-07 20:37] labarba commented on #1239
👋 @inducer, @piyueh —
Thank you for agreeing to review for JOSS: we couldn't do this without you 🙏

This is where the action happens. You both have a reviewer checklist at the top of this thread. Work your way through that, and feel free to ask questions here and to open issues in the submission repository as needed.

[The JOSS review process](https://joss.readthedocs.io/en/latest/reviewer_guideli

[2019-02-08 00:12] grlee77 commented on #1204
I am not an IP/patent law expert, but I don't think you need to change the license of your code. I was just suggesting that it might be worth having a disclaimer warning users that some of the implemented methods may be covered under patent law. An example of this sort of disclaimer from the OpenCV project can be seen here:
https://github.com/opencv/opencv_contrib/blob/d6895a1b25d46af8f820faefe729

[2019-02-08 00:20] HaoZeke commented on #1189
@brainstorm, I have completed my review. It is compliant with the instructions, and the code is very well documented (along with its usage). There are perhaps more edge cases (on exotic machines) however, even those are easily handled.

I believe the repository and BIDDY adheres to the JOSS guidelines and also that the claims in `paper.md` are well substantiated.

@meolic thank you for the prompt

[2019-02-08 00:21] HaoZeke commented on #1226
@poulson, I have completed my pending review, so I am free to look this over now.

[2019-02-08 01:11] mrecos commented on #722
Hello @arfon . Going well. I took care of all points except for the unit tests. I am currently implementing those.

[2019-02-08 02:53] aguang commented on #1160
@whedon generate pdf

[2019-02-08 02:53] whedon commented on #1160
[code]

[2019-02-08 02:53] whedon commented on #1160
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01160/joss.01160/10.21105.joss.01160.pdf)

[2019-02-08 03:59] poulson commented on #1226
@whedon assign @haozeke as the reviewer

[2019-02-08 04:01] poulson commented on #1226
@whedon commands

[2019-02-08 04:01] whedon commented on #1226
Here are some things you can ask me to do:

[code]

[2019-02-08 04:01] poulson commented on #1226
@whedon assign @HaoZeke as reviewer

[2019-02-08 04:01] whedon commented on #1226
OK, the reviewer is @HaoZeke

[2019-02-08 04:02] poulson commented on #1226
@whedon start review

[2019-02-08 04:02] whedon opened #1240 "[REVIEW]: A Hyperbolic "Crystal Ball""
**Submitting author:** @benjaminwilson (<a href="http://orcid.org/0000-0002-3708-0361">Benjamin Wilson</a>)
**Repository:** <a href="https://github.com/lateral/crystal-ball" target ="_blank">https://github.com/lateral/crystal-ball</a>
**Version:** v1.0.1
**Editor:** @poulson
**Reviewer:** @HaoZeke
**Archive:** <a href="https://doi.org/10.5281/zenodo.2573958" target="_blank">10.5281/zenodo.2573958<

[2019-02-08 04:02] whedon commented on #1226
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1240. Feel free to close this issue now!

[2019-02-08 04:02] whedon commented on #1240
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @HaoZeke it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2019-02-08 04:02] whedon commented on #1240
[code]

[2019-02-08 04:02] #1226 closed

[2019-02-08 04:03] whedon commented on #1240
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01240/joss.01240/10.21105.joss.01240.pdf)

[2019-02-08 05:28] garrettj403 commented on #1231
Hi @FaustinCarter, I have added docs for all of the functions and classes [here](https://garrettj403.github.io/QMix/qmix.html). This includes an index [here](https://garrettj403.github.io/QMix/genindex.html) and a module index [here](https://garrettj403.github.io/QMix/py-modindex.html).

[2019-02-08 06:05] sivaramambikasaran commented on #1167
@jedbrown Just pinging to check if anything needs to be done from our end.

[2019-02-08 06:07] peterjwatkins commented on #947
Thanks @alexpghayes for the feedback.

I've added comments to the files (to make it explicit for the code readers) about these lines -
re: msd.R#L51, I've added as explanations:
Note : NAs are introduced in the 'findX' function and the last statement is used as a filter for the NAs's
while for modulus.R#L110, I've added:
Negative numbers are generated, which are artefacts from the calculation whic

[2019-02-08 06:44] amoeba commented on #1201
Hi @pjotrp I started my review but encountered some issues I didn't expect (documented on https://github.com/NESCent/TraitDB/issues/222) so I'll need some more time for my review.

[2019-02-08 07:53] pjotrp commented on #1201
No worries.

[2019-02-08 08:58] gsagnol commented on #1097
@eendebakpt
Nice to see the progress ! I will wait for the improved documentation to complete my review.

I still have a concern about eendebakpt/oapackage#97: I really think writing the formula for the criterion you optimize is necessary, for several reasons:
1. This is a software, and my philosophy is that software users should not need to read a full scientific paper to use it. Of course, the a

[2019-02-08 09:29] benjaminwilson commented on #1240
@HaoZeke thanks for your initial feedback over on the [other issue](https://github.com/openjournals/joss-reviews/issues/1226#issuecomment-460364318).  I'll address that today!

[2019-02-08 09:45] codeling commented on #1185
What we've been thinking about for some time is providing a "superbuild", i.e. a CMake project that gathers, configures and builds all the required libraries for open_iA. I'm currently trying to put something together in that direction. This should make it easier to set up a working build environment.
Maybe you want to wait on that; though I'm not sure when exactly I will be able to provide this s

[2019-02-08 11:34] sgrieve commented on #1216
Hi @Chilipp, @yochannah Below is my review, as noted below I have also opened an issue in the straditize repo regarding the tests.

Firstly I would like to thank the author for this contribution. I have been very impressed by the quality of the software presented here, as well as it's potential utility to a wide range of users across disciplines. I am happy to recommend publication, pending the re

[2019-02-08 13:16] whedon opened #1241 "[PRE REVIEW]: Optimising Light Source Positioning for Even and Flux-Efficient Illumination"
**Submitting author:** @adrena-lab (<a href="http://orcid.org/0000-0002-4413-5527">Stefan  Guldin</a>)
**Repository:** <a href="https://github.com/adrena-lab/Optimising-Light-Source-Positioning" target ="_blank">https://github.com/adrena-lab/Optimising-Light-Source-Positioning</a>
**Version:** 1.0
**Editor:** @trallard
**Reviewers:** @cmccomb, @nicoguaro

**Author instructions**

Thanks for submit

[2019-02-08 13:16] whedon commented on #1241
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-02-08 13:16] whedon commented on #1241
[code]

[2019-02-08 13:16] whedon commented on #1241
PDF failed to compile for issue #1241 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1241 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-dc9ad3c41cc6/lib/whedo

[2019-02-08 13:16] whedon opened #1242 "[PRE REVIEW]: Rclean: A Tool for Writing Cleaner, More Transparent Code"
**Submitting author:** @MKLau (<a href="http://orcid.org/0000-0003-3758-2406">Matthew Lau</a>)
**Repository:** <a href="https://github.com/provtools/rclean" target ="_blank">https://github.com/provtools/rclean</a>
**Version:** v1.0.1
**Editor:** @labarba
**Reviewers:** @cboettig, @benmarwick

**Author instructions**

Thanks for submitting your paper to JOSS @MKLau. The JOSS editor Pending, will wo

[2019-02-08 13:16] whedon commented on #1242
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-02-08 13:16] whedon commented on #1242
[code]

[2019-02-08 13:17] whedon opened #1243 "[PRE REVIEW]: iced: fast and memory efficient normalization of contact maps"
**Submitting author:** @NelleV (<a href="http://orcid.org/0000-0002-8748-6546">Nelle varoquaux</a>)
**Repository:** <a href="https://github.com/hiclib/joss_paper" target ="_blank">https://github.com/hiclib/joss_paper</a>
**Version:** v0.5.1
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @NelleV. The JOSS editor Pending, will work with y

[2019-02-08 13:17] whedon commented on #1242
PDF failed to compile for issue #1242 with the following error:

 Can't find any papers to compile :-(

[2019-02-08 13:17] whedon commented on #1243
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-02-08 13:17] whedon commented on #1243
[code]

[2019-02-08 13:17] whedon commented on #1243
PDF failed to compile for issue #1243 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0

[2019-02-08 13:17] whedon commented on #1243
Failed to discover a valid open source license.

[2019-02-08 13:19] arfon commented on #1242
@MKLau - please rename your paper to `paper.md`. In addition, I don't see any software associated with this submission - the paper should be contained _within_ the software repository that we review.

[2019-02-08 13:20] arfon commented on #1243
@NelleV - I don't see any software associated with this submission - the paper should be contained _within_ the software repository that we review.

[2019-02-08 13:21] arfon commented on #1241
@whedon generate pdf

[2019-02-08 13:21] whedon commented on #1241
[code]

[2019-02-08 13:21] whedon commented on #1241
PDF failed to compile for issue #1241 with the following error:

 Can't find any papers to compile :-(

[2019-02-08 13:22] arfon commented on #1241
@adrena-lab - please rename your paper to `paper.md`. In addition, I don't see a bibtex file in this repository.

[2019-02-08 13:24] brainstorm commented on #1189
@whedon check references

[2019-02-08 13:24] whedon commented on #1189
[code]

[2019-02-08 13:24] whedon commented on #1189
[code]

[2019-02-08 13:24] brainstorm commented on #1189
@meolic Can you please fix the DOI issues?

[2019-02-08 13:28] brainstorm commented on #1190
Thanks @arfon, it should be good to accept/deposit afaict, thanks for the revisions on the paper @lvermue and the reviewing efforts @arokem!

[2019-02-08 13:29] brainstorm commented on #1190
@lvermue Can you please provide a zenodo DOI so we can save it as archive?

[2019-02-08 13:30] brainstorm commented on #1160
Looks good now, thanks for the extra pair of editorial eyes, @kyleniemeyer. Should be good to accept/deposit now.

[2019-02-08 14:27] MKLau commented on #1242
Ah OK, thanks. I didn’t fully understand that from the submission example. I thought that the reference to the software was contained in the paper.

Thanks, will do ASAP,

Matt

On Feb 8, 2019, at 8:19 AM, Arfon Smith <notifications@github.com<mailto:notifications@github.com>> wrote:

@MKLau<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_MKLau&d=DwMCaQ&c=WO-RGvefibhHBZq3fL85hQ&r=y

[2019-02-08 14:45] lvermue commented on #1190
@brainstorm @arokem Thank you for the swift and constructive review process!
@arfon Thanks for the super fast fix!

Here the zenodo DOI:
https://doi.org/10.5281/zenodo.2560303

[2019-02-08 15:54] ja-thomas commented on #1193
all done from my side :+1:

[2019-02-08 16:17] ncclementi commented on #1209
Issue opened regarding presence of `.ipynb_checkpoints`
https://github.com/bjmorgan/pyscses/issues/13

[2019-02-08 16:50] NelleV commented on #1243
@arfon I had not understood this from the documentation. Should I reopen a submission?

(also ping @stefanv as I believe he's about to do the same thing)

[2019-02-08 17:00] NelleV commented on #1243
Also, does the paper have to be in the root of the repository?

[2019-02-08 17:20] stefanv commented on #1243
Ah, that's a bit awkward; are we expected to host a `paper.md` file in perpetuity at the root of our software repository?

[2019-02-08 17:20] effigies commented on #1171
RE conflicts of interest, I've met @TheChymera in person within the last 4 years (Scipy 2017), and we've collaborated (mostly in the form of PR review) separately on [Nipype](https://github.com/nipy/nipype/).

Also, this week piled up on me, and there's no chance I'll have a proper review today. I will aim for next Wednesday.

[2019-02-08 17:37] benjaminwilson commented on #1240
Hi @HaoZeke , I've added a section that gives a high-level view of the algorithms for computing the updates to the point configurations to `paper.md`, and added a small note about the performance to `README.md`.

I think this addresses the bulk of your points from previously - but not all of them - I'm afraid I'll have to leave those until Monday.

Thanks already for the comments to date!

[2019-02-08 17:55] aelanman commented on #1234
I just noticed that some authors' first names were cut from citations. I'll have to fix this, but I'm going to wait for more feedback first.

[2019-02-08 17:57] codeling commented on #1185
There is a somewhat working version of a superbuild available now, see https://github.com/3dct/open_iA-superbuild ; so far we have tested it only on Ubuntu 18.04.1 and 18.10, it should simplify the build procedure significantly! Hope this helps.

[2019-02-08 18:30] arfon commented on #1243
@stefanv - no, you can remove it after the submission is accepted. Also, it can be anywhere in the repository.

[2019-02-08 18:31] arfon commented on #1243
Yes, it might be easier to resubmit. Let me know if this is what you'd like to do.

[2019-02-08 18:43] karthik commented on #1056
@whedon set zenodo.2559486 as archive

[2019-02-08 18:43] whedon commented on #1056
zenodo.2559486 doesn't look like an archive DOI.

[2019-02-08 18:51] stefanv commented on #1243
Thanks for clarifying, @arfon!  Elsewhere in the package works great, we could host it inside our docs, e.g..

[2019-02-08 18:52] karthik commented on #1056
@whedon set 10.5281/zenodo.2559486 as archive

[2019-02-08 18:52] whedon commented on #1056
OK. <a href="https://doi.org/10.5281/zenodo.2559486" target="_blank">10.5281/zenodo.2559486</a> is the archive.

[2019-02-08 18:53] karthik commented on #1056
@whedon accept

[2019-02-08 18:53] whedon commented on #1056
[code]

[2019-02-08 18:53] whedon commented on #1056
[code]

[2019-02-08 18:54] whedon commented on #1056
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/478

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/478, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-02-08 18:57] behollister commented on #1185
I'll give it another try before Monday as well. Btw, the Blender project provides a "superbuild" script. You might use that as a starting point.

See:
https://developer.blender.org/diffusion/B/browse/master/build_files/build_environment/install_deps.sh

[2019-02-08 18:59] behollister commented on #1185
Yes, this should be helpful. Will try this soon!

[2019-02-08 19:03] karthik commented on #1056
LGTM. EICs, this is ready to accept.

[2019-02-08 19:59] jedbrown commented on #1167
Please consider this PR, then tag a release ([annotated tag](https://git-scm.com/book/en/v2/Git-Basics-Tagging#_annotated_tags) preferred) and archive on Zenodo or similar.

https://github.com/sivaramambikasaran/HODLR/pull/37

[2019-02-08 20:34] jedbrown commented on #1105
@whedon add @dblarremore as reviewer

[2019-02-08 20:34] whedon commented on #1105
OK, @dblarremore is now a reviewer

[2019-02-08 20:35] jedbrown commented on #1105
@whedon add @tkonolige as reviewer

[2019-02-08 20:35] whedon commented on #1105
OK, @tkonolige is now a reviewer

[2019-02-08 20:35] jedbrown commented on #1105
@whedon start review

[2019-02-08 20:35] whedon opened #1244 "[REVIEW]: The SuiteSparse Matrix Collection Website Interface"
**Submitting author:** @ScottKolo (<a href="http://orcid.org/0000-0001-8340-0824">Scott Kolodziej</a>)
**Repository:** <a href="https://github.com/ScottKolo/suitesparse-matrix-collection-website" target ="_blank">https://github.com/ScottKolo/suitesparse-matrix-collection-website</a>
**Version:** JOSS-1.0.2
**Editor:** @jedbrown
**Reviewer:** @dblarremore, @tkonolige
**Archive:** <a href="https://d

[2019-02-08 20:35] whedon commented on #1105
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1244. Feel free to close this issue now!

[2019-02-08 20:35] whedon commented on #1244
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dblarremore, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2019-02-08 20:35] whedon commented on #1244
[code]

[2019-02-08 20:35] #1105 closed

[2019-02-08 20:36] whedon commented on #1244
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01244/joss.01244/10.21105.joss.01244.pdf)

[2019-02-08 20:36] MKLau commented on #1242
@whedon commands

[2019-02-08 20:36] whedon commented on #1242
Here are some things you can ask me to do:

[code]

[2019-02-08 20:37] jedbrown commented on #1244
@dblarremore @tkonolige :wave: Welcome and thanks for agreeing to review! The comments from @whedon above outline the review process, which takes place in this thread (possibly with issues filed in the project repository). I'll be watching this thread if you have any questions.

[2019-02-08 21:02] NelleV commented on #1243
Let's close this submission, and I'll resubmit from the main package. Is this just a matter of closing the PR?

[2019-02-08 21:11] meolic commented on #1189
@whedon generate pdf

[2019-02-08 21:11] whedon commented on #1189
[code]

[2019-02-08 21:11] whedon commented on #1189
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01189/joss.01189/10.21105.joss.01189.pdf)

[2019-02-08 21:12] malmaud commented on #1188
Blocked by https://github.com/Qiskit/qiskit-vscode/issues/68

[2019-02-08 21:13] meolic commented on #1189
@whedon check references

[2019-02-08 21:13] whedon commented on #1189
[code]

[2019-02-08 21:13] whedon commented on #1189
[code]

[2019-02-08 21:19] MKLau commented on #1242
@arfon OK, now in github.com/provtools/rclean/joss (master branch). I don't see a way to update the repo URL though. How should I proceed?

[2019-02-08 21:22] bocklund commented on #1210
@symmy596 looks great! The API and theory is well documented and matplotlib plots look especially nice. I have a few comments:

1. Documentation - Installation instructions: The requirements found in `requirements.txt` should be added to `setup.py`, otherwise users installing from pip will not get all the requirements.
2. Software Paper - References: looks like reference `Reuter2003` did not get c

[2019-02-08 21:22] meolic commented on #1189
@brainstorm Thank you for this remark. Now, references should be OK.

[2019-02-08 22:56] lucask07 commented on #1172
Hi @casteer,
I researched and tested a way to get this up and running with Ubuntu. With Ubuntu, we can use the pure Python VISA back end. This works on my system using a function generator.
See the detailed setup instructions which I've added to the instrbuilder documentation:
[Visa with Linux](https://lucask07.github.io/instrbuilder/build/html/linux_visa.html)

[2019-02-09 01:41] brainstorm commented on #1189
Fantastic, I think we are all set to accept over here, @kyleniemeyer :)

[2019-02-09 01:42] brainstorm commented on #1190
@whedon set https://doi.org/10.5281/zenodo.2560303 as archive

[2019-02-09 01:42] whedon commented on #1190
OK. <a href="https://doi.org/10.5281/zenodo.2560303" target="_blank">10.5281/zenodo.2560303</a> is the archive.

[2019-02-09 01:42] brainstorm commented on #1190
@whedon accept

[2019-02-09 01:42] whedon commented on #1190
[code]

[2019-02-09 01:43] whedon commented on #1190
PDF failed to compile for issue #1190 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1190 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-dc9ad3c41cc6/lib/whedo

[2019-02-09 01:43] whedon commented on #1190
[code]

[2019-02-09 02:33] eramirem commented on #1224
@wojciech-n absolutely! Sorry for the late reply. Will work on this during the weekend.

[2019-02-09 04:04] Benjamin-Lee commented on #1228
As a quick semi-related note, from reading the paper, you might be interested in citing (or signing!) [The Small Tools Manifesto For Bioinformatics](https://github.com/pjotrp/bioinformatics).

[2019-02-09 06:45] brogly commented on #1208
@lrasmus @CBenghi - you may need to clone the repository again. Thanks!

[2019-02-09 08:20] wojciech-n commented on #1224
@whedon generate pdf

[2019-02-09 08:20] whedon commented on #1224
[code]

[2019-02-09 08:20] whedon commented on #1224
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01224/joss.01224/10.21105.joss.01224.pdf)

[2019-02-09 08:28] wojciech-n commented on #1224
@eramirem, thank you! I have just made corrections.

[2019-02-09 09:34] Datseris commented on #1166
Uhm, excuse me, but I believe I have to bump this.

[2019-02-09 13:27] HaoZeke commented on #1240
@whedon generate pdf

[2019-02-09 13:27] whedon commented on #1240
[code]

[2019-02-09 13:28] whedon commented on #1240
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01240/joss.01240/10.21105.joss.01240.pdf)

[2019-02-09 13:31] HaoZeke commented on #1240
@benjaminwilson, thank you for the extensions, I will check when your additions are completed. In general, for the review process I will be opening issues on the project tracker, or where the solution is unambiguous, I shall be opening pull requests. Again, this is just the general outline, in this case I don't see much scope for either. Good work!

[2019-02-09 13:32] HaoZeke commented on #1240
@whedon check references

[2019-02-09 13:32] whedon commented on #1240
[code]

[2019-02-09 13:32] whedon commented on #1240
[code]

[2019-02-09 13:57] #1243 closed

[2019-02-09 14:00] arfon commented on #1242
I've updated the address manually.

[2019-02-09 14:00] arfon commented on #1242
@whedon generate pdf

[2019-02-09 14:00] whedon commented on #1242
[code]

[2019-02-09 14:00] whedon commented on #1242
PDF failed to compile for issue #1242 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0    257      0 --:--:-- --:--:-- --:--:--   262
Could not find bi

[2019-02-09 14:01] arfon commented on #1190
@whedon generate pdf

[2019-02-09 14:01] whedon commented on #1190
[code]

[2019-02-09 14:01] whedon commented on #1190
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01190/joss.01190/10.21105.joss.01190.pdf)

[2019-02-09 14:02] arfon commented on #1242
@MKLau - it looks like your `paper.md` file is referencing a bibtex file that doesn't exist.

[2019-02-09 14:02] arfon commented on #1190
@whedon accept

[2019-02-09 14:02] whedon commented on #1190
[code]

[2019-02-09 14:02] whedon commented on #1190
[code]

[2019-02-09 14:03] whedon commented on #1190
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/479

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/479, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-02-09 14:04] arfon commented on #1190
@arokem @brainstorm - do these look OK to you ☝️?

[2019-02-09 14:20] djmitche commented on #1097
Perhaps @danielskatz can chime in here as to the requirements of JOSS?

My understanding is that it's a bridge between the world of publishing and the world of OSS, and as such part of its *purpose* is to inter-reference between articles on commercial websites and open-source applications.

I do agree that the documentation should be self-sufficient in understanding how to *use* the software, but

[2019-02-09 14:34] danielskatz commented on #1097
I don't quite agree.  The goal of JOSS is really to give software authors a product that can be cited, and to improve the software along the way. How internally complete the documentation is versus how much it references externally (and potentially commercial) articles is not not so much as factor, as long as a potential user can access as much documentation as they need to use the software.

I th

[2019-02-09 16:26] JoshKarpel commented on #1204
@mfroeling re: paper

Love the update - I guess I was wrong about it dramatically increasing the length, but only because you added a lot of good information!

A few nitpicks...
- I think you've got a typo in the second paragraph, `mulsce` -> `muscle`.
- Fig 2 seems unnecessary. The paper doesn't/shouldn't include any information about installation.

[2019-02-09 16:40] eendebakpt commented on #1097
@danielskatz @djmitche @gsagnol We all agree that the software must be usable without references, so I will add to the documentation.

I do believe that referencing the paper is the right thing to do. To understand the ideas and motivations behind the code one needs to read the paper, and it doesn't make sense to rewrite the contents of the paper in the documentation of the oapackage.

The link is

[2019-02-09 21:08] MKLau commented on #1242
@whedon generate pdf

[2019-02-09 21:08] whedon commented on #1242
[code]

[2019-02-09 21:08] whedon commented on #1242
PDF failed to compile for issue #1242 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0    196      0 --:--:-- --:--:-- --:--:--   197
Could not find bi

[2019-02-09 21:15] MKLau commented on #1242
@whedon generate pdf

[2019-02-09 21:15] whedon commented on #1242
[code]

[2019-02-09 21:15] whedon commented on #1242
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01242/joss.01242/10.21105.joss.01242.pdf)

[2019-02-09 21:17] MKLau commented on #1242
@whedon check references

[2019-02-09 21:17] whedon commented on #1242
[code]

[2019-02-09 21:18] whedon commented on #1242
[code]

[2019-02-09 21:18] alexpghayes commented on #947
Quick note on comments:

This is useful in that it describes *what* is happening, but it doesn't describe *why* it is happening. If someone read this code and was trying to decide if this where a reasonable decision, they'd have to go back and do a bunch of math themselves. I recommend describing exactly which inputs get turned into `NA`s and why it is safe to ignore that input. Without understand

[2019-02-09 21:54] whedon opened #1245 "[PRE REVIEW]: SkyPortal: An Astronomical Data Platform"
**Submitting author:** @stefanv (<a href="http://orcid.org/0000-0001-9276-1891">Stéfan van der Walt</a>)
**Repository:** <a href="https://github.com/skyportal/skyportal" target ="_blank">https://github.com/skyportal/skyportal</a>
**Version:** 1.0
**Editor:** @arfon
**Reviewers:** @gnarayan

**Author instructions**

Thanks for submitting your paper to JOSS @stefanv. The JOSS editor @arfon, will wor

[2019-02-09 21:54] whedon commented on #1245
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@arfon) to find some reviewers for your

[2019-02-09 21:54] whedon commented on #1245
[code]

[2019-02-09 21:54] whedon commented on #1245
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01245/joss.01245/10.21105.joss.01245.pdf)

[2019-02-09 21:58] MKLau commented on #1242
@whedon generate pdf
@whedon check references

[2019-02-09 21:58] whedon commented on #1242
[code]

[2019-02-09 21:58] whedon commented on #1242
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01242/joss.01242/10.21105.joss.01242.pdf)

[2019-02-09 21:58] MKLau commented on #1242
@whedon check references

[2019-02-09 21:58] whedon commented on #1242
[code]

[2019-02-09 21:58] whedon commented on #1242
[code]

[2019-02-09 22:03] MKLau commented on #1242
@whedon generate pdf

[2019-02-09 22:03] whedon commented on #1242
[code]

[2019-02-09 22:03] whedon commented on #1242
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01242/joss.01242/10.21105.joss.01242.pdf)

[2019-02-09 22:08] MKLau commented on #1242
@whedon generate pdf

[2019-02-09 22:08] whedon commented on #1242
[code]

[2019-02-09 22:08] whedon commented on #1242
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01242/joss.01242/10.21105.joss.01242.pdf)

[2019-02-09 22:12] MKLau commented on #1242
@whedon generate pdf

[2019-02-09 22:12] whedon commented on #1242
[code]

[2019-02-09 22:13] whedon commented on #1242
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01242/joss.01242/10.21105.joss.01242.pdf)

[2019-02-09 22:13] yochannah commented on #1193
Okay, looking good! @ja-thomas and @schalkdaniel thanks for reviewing. 😄

@schalkdaniel - You still have a couple of checkboxes unchecked. When you get a moment could you let us know if your concerns are resolved, or if not what needs to be done? 👍

[2019-02-09 22:14] MKLau commented on #1242
@whedon list editors

[2019-02-09 22:14] whedon commented on #1242
Current editors:

[code]

[2019-02-09 22:15] MKLau commented on #1242
@whedon list reviewers

[2019-02-09 22:15] whedon commented on #1242
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2019-02-09 22:16] MKLau commented on #1242
@arfon Hi Afron, OK just finished proofing and fixing some citation issues. Looks good to go now.

[2019-02-09 22:18] yochannah commented on #1214
Hi @tpetricek - I know you're busy reviewing another item on JOSS at the minute so I won't ask you to look at another (unless you want to!) - but I was wondering if you could recommend any F#-ers who might be interested in reviewing this?

[2019-02-09 22:27] yochannah commented on #1216
Wow, thanks @ixjlyons and @sgrieve for your thorough reviews, and @Chilipp for acting on the feedback so swiftly!

@sgrieve @Chilipp let me know when you two have managed to resolve the testing issue and are ready to go ahead! 👍

[2019-02-09 22:33] yochannah commented on #1211
Happy to!

[2019-02-09 22:34] yochannah commented on #1211
@whedon assign @yochannah as editor

[2019-02-09 22:34] whedon commented on #1211
OK, the editor is @yochannah

[2019-02-09 22:35] Chilipp commented on #1216
Dear @yochannah, @sgrieve and @ixjlyons,

thank you very much for your nice words, helpful feedbacks and the reported issues. I apologize for the inconveniences with pip and also with the tests @sgrieve. Unfortunately I have no good methodology to test such a GUI-based application. The unittest framework requires creating and closing lot's of widgets which produces quite some overhead (this especi

[2019-02-09 22:36] yochannah commented on #1211
Hey @pdwaggoner! Before we progress to the review stage, JOSS requires that all repos have an OSI-approved license. Any of the licenses here should be fine: https://opensource.org/licenses

If this is okay with you, let me know when you've updated the license in your GitHub repo so we can proceed 👍

[2019-02-09 22:56] yochannah commented on #1179
Okay, I've run through the paper again and it all looks good - links in the references work and I didn't spot any typos in need of correction ✅

@gasparl - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? It's probably worth giving the manuscript a final proofread if you feel you need to, as well.

[2019-02-10 00:25] pdwaggoner commented on #1211
Many thanks for editing @yochannah ! The license file should be in the repo and up to date, as LICENSE. Let me know if you aren’t seeing it. I’ll do whatever is needed. Thanks again!

[2019-02-10 00:40] brainstorm commented on #1190
All good on my side, ready to be deposited! @arokem gave the thumbs up earlier in the thread so I assume it's all good too from the reviewers' side too.

[2019-02-10 04:48] krueschan commented on #1089
@jedbrown yes I will. I have to prioritize other tasks but hopefully will get to it before the end of the month.

[2019-02-10 08:14] Kevin-Mattheus-Moerman commented on #1166
@ssfrr, @jfsantos sorry to bother you again but it would be great if you could get started with this review. Thanks!

[2019-02-10 08:19] Kevin-Mattheus-Moerman commented on #1047
@lewismc Please can you inform us if you are still able to do this review. Thanks

[2019-02-10 08:22] Kevin-Mattheus-Moerman commented on #1012
@jeroen :wave: do you think you can tick those last boxes at this point? Thanks

[2019-02-10 08:23] Kevin-Mattheus-Moerman commented on #1012
@NikEfth are you still able to help with this review? Thanks

[2019-02-10 08:26] Kevin-Mattheus-Moerman commented on #1166
@Datseris apologies for the delay encountered so far

[2019-02-10 08:34] Kevin-Mattheus-Moerman commented on #1109
@arfon @danielskatz @kyleniemeyer @labarba I recommend we accept this work in JOSS. The new version tag and DOI are:

[2019-02-10 08:35] Kevin-Mattheus-Moerman commented on #1021
@whedon generate pdf

[2019-02-10 08:35] whedon commented on #1021
[code]

[2019-02-10 08:35] whedon commented on #1021
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01021/joss.01021/10.21105.joss.01021.pdf)

[2019-02-10 08:35] Kevin-Mattheus-Moerman commented on #1094
@carterenyi any updates on the review process? Thanks!

[2019-02-10 08:40] Kevin-Mattheus-Moerman commented on #1153
Any feedback you can share is greatly appreciated.

[2019-02-10 08:41] Kevin-Mattheus-Moerman commented on #941
Any updates on working on the points above?

[2019-02-10 08:45] Kevin-Mattheus-Moerman commented on #1021
Okay it looks like we are in good shape. @andrewjpage can you:

- [ ] create an archived version of the reviewed software on a service like ZENODO (some use these steps https://guides.github.com/activities/citable-code/) and quote the DOI here
- [ ] List the latest version/tag number here of the reviewed software

[2019-02-10 08:58] andrewjpage commented on #1021
The Zenodo DOI for the reviewed software is here:
http://doi.org/10.5281/zenodo.2561192

The latest version of the reviewed software is:
v1.0.1

[2019-02-10 10:21] gasparl commented on #1179
@whedon set 10.5281/zenodo.2561206 as archive

[2019-02-10 10:21] whedon commented on #1179
I'm sorry @gasparl, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-02-10 10:24] gasparl commented on #1179
Well :)
Anyway, @yochannah, you see the DOI: 10.5281/zenodo.2561206

[2019-02-10 10:25] gasparl commented on #1179
By the way, the version is now 1.0.3, not 1.0.0 (as on this page). Also, the Repository Address (and name) of the submitted paper (http://joss.theoj.org/papers/b2d9ee93da00cb5b3fdc962d50df5063) is still the old bitbucket link.

[2019-02-10 11:18] arfon commented on #1190
@whedon accept deposit=true

[2019-02-10 11:18] whedon commented on #1190
[code]

[2019-02-10 11:19] whedon commented on #1190
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/480
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01190](https://doi.org/10.21105/joss.01190)
2. If everything looks go

[2019-02-10 11:20] arfon commented on #1242
Got it. Thanks.

[2019-02-10 11:21] whedon opened #1246 "[PRE REVIEW]: LGP: A robust Linear Genetic Programming implementation on the JVM using Kotlin."
**Submitting author:** @JedS6391 (<a href="http://orcid.org/0000-0002-5028-9987">Jed Simson</a>)
**Repository:** <a href="https://github.com/JedS6391/LGP" target ="_blank">https://github.com/JedS6391/LGP</a>
**Version:** 4.2
**Editor:** @gkthiruvathukal
**Reviewers:** @homonecloco

**Author instructions**

Thanks for submitting your paper to JOSS @JedS6391. The JOSS editor Pending, will work with

[2019-02-10 11:21] whedon commented on #1246
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-02-10 11:21] whedon commented on #1246
[code]

[2019-02-10 11:21] whedon commented on #1246
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01246/joss.01246/10.21105.joss.01246.pdf)

[2019-02-10 11:23] arfon commented on #1190
@arokem - many thanks for your review and to @brainstorm for editing this submission ✨

@lvermue - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-02-10 11:23] #1190 closed

[2019-02-10 11:23] whedon commented on #1190
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01190/status.svg)](https://doi.org/10.21105/joss.01190)

**We need your help!**

Journal of Open Source Softwar

[2019-02-10 13:02] stenskjaer commented on #941
Thank you for your patience. I have received the following recommendations and feedback from @Padlina  (thank you very much @Padlina, by the way!)

- [x] Providing a minimal working .tex example would be quite useful. [Added in the docs. This avoids making the paper longer than most necessary (which I get is the aim of the JOSS).]
- [x] https://samewords.readthedocs.io/en/latest/: in the example,

[2019-02-10 13:26] yochannah commented on #1211
Thanks @pdwaggoner - when I visit https://github.com/MAHDLab/rIP/blob/master/LICENSE I do see a license file, but it looks like it's just a couple of lines of copyright statement - [this is not technically enough to allow legal re-use of the software](https://choosealicense.com/no-permission/). OSI licenses have specific wording that explicitly allow re-use of the software, which is why we require

[2019-02-10 15:01] yochannah commented on #1179
@whedon set 1.0.3 as version

[2019-02-10 15:01] whedon commented on #1179
OK. 1.0.3 is the version.

[2019-02-10 15:03] yochannah commented on #1179
@whedon set 10.5281/zenodo.2561206 as archive

[2019-02-10 15:03] whedon commented on #1179
OK. <a href="https://doi.org/10.5281/zenodo.2561206" target="_blank">10.5281/zenodo.2561206</a> is the archive.

[2019-02-10 15:09] yochannah commented on #1179
@whedon generate pdf

[2019-02-10 15:09] whedon commented on #1179
[code]

[2019-02-10 15:09] whedon commented on #1179
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01179/joss.01179/10.21105.joss.01179.pdf)

[2019-02-10 15:21] yochannah commented on #1179
@gasparl
1. I've updated the version to be 1.0.3 - Thanks!
2. The proof above has the newer GitHub repo linked, and I noticed that one of the reviewers links still has BitBucket so I replaced it with the github link. If this all looks okay to you (I think it should be fine) I'll ping the editors-in-chief team and we'll accept the paper! 🎉

[2019-02-10 15:24] gasparl commented on #1179
Super. It all looks perfectly fine to me, I also proofread the paper one last time. Thanks very much @yochannah!

[2019-02-10 15:29] gasparl commented on #1179
Though, just to be sure, regarding the old repository address, what I meant is that at http://joss.theoj.org/papers/active?page=7, I see this:
![image](https://user-images.githubusercontent.com/37374850/52535602-b93e1d00-2d50-11e9-9ae2-177f1086a65d.png)
And then also when I click on it:
![image](https://user-images.githubusercontent.com/37374850/52535610-cb1fc000-2d50-11e9-8ffe-34991911cba5.png)

[2019-02-10 15:41] pdwaggoner commented on #1211
Many thanks @yochannah - that makes good sense. I updated the license. Let me know if this is sufficient to move forward. The old version was our license file for our CRAN submission. Should be good now. Thanks!

[2019-02-10 16:04] yochannah commented on #1179
I see what you mean! That's a good question I'm not sure about the answer to.

@whedon commands

[2019-02-10 16:05] yochannah commented on #1179
@whedon commands

[2019-02-10 16:05] whedon commented on #1179
Here are some things you can ask me to do:

[code]

[2019-02-10 16:13] yochannah commented on #1179
hmmm, there's definitely nothing in the whedon commands listed there to update the repo URL.

@openjournals/joss-eics - Can you help? Somewhere some metadata still has the old repo pointing to it though - see [this comment](https://github.com/openjournals/joss-reviews/issues/1179#issuecomment-462141982) from @gasparl above. I've modified any links in the pre-review and review issues to the correct

[2019-02-10 16:15] yochannah commented on #1211
@pdwaggoner Yep, that looks perfect. Thanks!

[2019-02-10 16:20] yochannah commented on #1211
So hey there @RMHogervorst or @alexhanna 👋 Can we interest either or both of you in reviewing this software paper? Thanks!!

[2019-02-10 16:24] alexhanna commented on #1211
I can if necessary but will defer to @RMHogervorst, as R is not my primary
language.

On Sun, Feb 10, 2019 at 8:20 AM Yo Yehudi <notifications@github.com> wrote:

--
Alex Hanna
alex-hanna.com
@alexhanna

[2019-02-10 16:42] poulson commented on #714
Hi @karthik. I can review this if you would like.

[2019-02-10 16:43] arfon commented on #1112
@jhill1 - I think we're waiting on your responses to @PythonCHB's review at this point.

[2019-02-10 17:04] danielskatz commented on #1157
Re: automated tests - The JOSS requirement is just "Are there automated tests or manual steps described so that the function of the software can be verified?" While automated tests are generally better for the software, manual steps are sufficient for JOSS acceptance.  Specifically, adding good automated tests can be a longer-term activity than JOSS acceptance.

[2019-02-10 17:12] patrikhuber commented on #1153
@Kevin-Mattheus-Moerman Apologies for a bit of a delay. Here goes my review:

### Overview

It seems to me that in general, this software is for a very, _**very**_ limited use case (which of course isn't necessarily bad!). Basically, the main thing it does:
1) Reads `.pts` landmarks from a software called "Landmark software (v3.6)" and converts them to a `.csv` format
2) It can mirror and re-order

[2019-02-10 17:22] arfon commented on #764
I'm not sure sorry. Perhaps @kbenoit has some thoughts on this?

[2019-02-10 17:27] arfon commented on #1075
I've just emailed @mnarayan to ask them to complete their review in the next week or two.

[2019-02-10 17:28] arfon commented on #1125
Friendly reminder to get to this soon please @jschnab.

[2019-02-10 17:31] arfon commented on #1245
:wave: @gnarayan would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2019-02-10 18:39] labarba commented on #714
Before we start the review, I would like a response from the authors on my question from 22 days ago:

[2019-02-10 20:28] arokem commented on #1229
Hi @arfon: thanks for the heads up about this. Do I understand correctly that the process here is essentially the same as for other JOSS papers? That is, review and acceptance here are not tied in any way to the AAS paper. Is that correct?

[2019-02-10 20:42] schalkdaniel commented on #1193
All done from my side too. Everything looks great. 👍

[2019-02-10 20:47] arokem commented on #1171
Hi @effigies: the in-person meeting does not constitute a COI, in my opinion.

I am not sure whether the software collaboration constitutes COI, though. Let's check with the EIC. @arfon : the author of this paper and the reviewer have collaborated in code review on another software package (nipype, mentioned above). Does this constitute a COI that should disqualify @effigies from reviewing this pa

[2019-02-10 20:50] arfon commented on #1229
That's _mostly_ correct. We may want to hold this paper back from final acceptance until we know what the DOI for the AAS paper will be (so we can cite it).

[2019-02-10 20:57] arokem commented on #1229
Understood! OK - @fonnesbeck - if this all sounds agreeable to you, please do go ahead with your review. Once the review process here is over, we can circle back and see what we need to do. Thanks!

[2019-02-10 21:00] arokem commented on #1235
Hey @cMadan : would you mind taking this one?

There are a couple of reasons:

1. I am swamped with other reviews right now.
2. My grant is acknowledged in the paper, so though I am not strictly speaking a collaborator on this work, there may at least be the appearance of a conflict of interest.

[2019-02-10 21:00] arokem commented on #1235
Just to be clear, @cMadan : could you be the *editor* for this submission?

[2019-02-10 21:01] lheagy commented on #808
Hi @viktor76525, the tests are looking good. I just ran into the error noted here: ucgmsim/GMSimViz#19. Would you mind taking a look?

[2019-02-10 21:30] lheagy commented on #1114
Thanks for your updates @zhangning737, there are still a few things that I did not see:
- [ ]  an explanation of how to run an example
- [ ] an explanation of how to run the tests. Note that the tests need to be distinct from the example usage. Tests should provide some objective way to make sure that the code is functioning as expected.
- [ ] a statement of need should be included in the README (

[2019-02-10 21:32] evan-l-munson commented on #764
@arfon I have another colleague looking into the issue for me.  I am hoping they will get back to me this week.  I have ran out of ideas on my end and am not sure why I can view the vignettes after I re-download the package from GitHub.  If the vignette issue isn't a big one I would say the package is ready for submission, but if that is a big issue, I will continue to work on it.  Thanks!

[2019-02-10 21:45] zhangning737 commented on #1114
@lheagy OK, I'll check and revise the docs.

[2019-02-10 22:17] Datseris commented on #1166
@Kevin-Mattheus-Moerman it's no problem, and I certainly hope I didn't come as across as impolite! It's because (I assume) we are all doing these things voluntarily as side projects that it is easy to forget things. So a reminder can be helpful in such cases.

[2019-02-10 22:24] viktor76525 commented on #808
Should be good now @lheagy. I have put details in the issue page.

[2019-02-10 22:29] stefanv commented on #1245
@whedon generate pdf

[2019-02-10 22:29] whedon commented on #1245
[code]

[2019-02-10 22:30] whedon commented on #1245
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01245/joss.01245/10.21105.joss.01245.pdf)

[2019-02-10 22:35] yochannah commented on #1193
@whedon generate pdf

[2019-02-10 22:35] whedon commented on #1193
[code]

[2019-02-10 22:36] whedon commented on #1193
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01193/joss.01193/10.21105.joss.01193.pdf)

[2019-02-10 22:48] yochannah commented on #1193
@whedon check references

[2019-02-10 22:48] whedon commented on #1193
[code]

[2019-02-10 22:49] whedon commented on #1193
[code]

[2019-02-10 22:53] kbenoit commented on #764
@evan-l-munson I just tried building your package and it fails with

[code]
but when I changed the vignette name to `test.Rmd` (all lowercase) it succeeded.  I suggest that you change the vignette filename to lowercase (the title can still be anything you want) and hopefully the problem will be solved. It seems related to https://stackoverflow.com/questions/27338970/vignette-creation-on-package-bu

[2019-02-10 23:11] yochannah commented on #1193
hmm, this is strange - these DOIs all seem to resolve correctly when I click on them.

I note there is a space as the last character for some of the DOIs which maybe we should fix, but that's only present on three so presumably can't be affecting them all!

- https://doi.org/10.1162/NECO_a_00813
- https://doi.org/10.1162/neco.2006.18.10.2283
- https://doi.org/10.1002/widm.1198

@andrewthomasjones

[2019-02-10 23:16] hiendn commented on #1193
Hi @yochannah, spaces have now been removed. I also clicked on all of the links and they all seem to correctly direct to the papers. So 🤷‍♂️? Thank you for you editorial work! 🙇

[2019-02-10 23:50] jschnab commented on #1125
@ wedon commands

[2019-02-10 23:51] jschnab commented on #1125
@wedon generate pdf

[2019-02-10 23:52] stefanv commented on #1245
@whedon generate pdf

[2019-02-10 23:52] whedon commented on #1245
[code]

[2019-02-10 23:52] whedon commented on #1245
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01245/joss.01245/10.21105.joss.01245.pdf)

[2019-02-11 00:01] jschnab commented on #1125
@aokad Hello, I update README.md to specify that PyMS is written in Python 3, the required version of pandas (0.23) and that TkInter is required (I thought it was "vanilla" Python). The error happening when print_figure() is called is solved when pandas 0.23 is used (cf your 2nd comment).

[2019-02-11 00:13] jschnab commented on #1125
@johnlees Hello, I added the possibility to select the output directory, I added a "select all" function for genotypes in the statistical analysis, I corrected the error when closing the window.

Now I'm working on the automatic plot re-drawing after modification of graphical parameters, and then I'll make a conda package.

Thank you all for your patience.

[2019-02-11 00:25] brainstorm commented on #1228
Thanks @Benjamin-Lee! Do you have any comments for @tleonardi regarding the unchecked review boxes? (statement of need, etc?).

[2019-02-11 00:26] brainstorm commented on #1189
@whedon accept

[2019-02-11 00:26] whedon commented on #1189
No archive DOI set. Exiting...

[2019-02-11 00:27] brainstorm commented on #1189
@meolic Can you please generate a Zenodo DOI I can set as archive?

[2019-02-11 00:28] brainstorm commented on #1160
@whedon accept

[2019-02-11 00:28] whedon commented on #1160
[code]

[2019-02-11 00:28] whedon commented on #1160
[code]

[2019-02-11 00:28] whedon commented on #1160
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/481

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/481, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-02-11 00:28] brainstorm commented on #1160
@arfon, I think we are done and ready to accept here :)

[2019-02-11 00:30] brainstorm commented on #1119
👋 @ejdanderson, sorry to bother you with this, if it's tricky to test/install that's also a valid feedback for the author :)

[2019-02-11 00:58] danielskatz commented on #1171
Neither of these are a COI.

[2019-02-11 00:58] arfon commented on #1193
@yochannah - I've tried fixing the whitespace issue in https://github.com/openjournals/whedon-api/commit/c1d4e5e5c0bdb343207bf19e2dee2e2e8bd7304b.

[2019-02-11 01:00] arfon commented on #1193
More generally though, I think the issue is these should be `doi` fields, not `urls`, i.e. https://github.com/andrewthomasjones/BoltzMM/blob/master/paper.bib#L28 should be:

[code]

[2019-02-11 01:00] arfon commented on #1125
@whedon generate pdf

[2019-02-11 01:00] whedon commented on #1125
[code]

[2019-02-11 01:01] whedon commented on #1125
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01125/joss.01125/10.21105.joss.01125.pdf)

[2019-02-11 01:07] hiendn commented on #1193
@whedon generate pdf

[2019-02-11 01:07] whedon commented on #1193
[code]

[2019-02-11 01:08] whedon commented on #1193
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01193/joss.01193/10.21105.joss.01193.pdf)

[2019-02-11 01:11] hiendn commented on #1193
@whedon generate pdf

[2019-02-11 01:11] whedon commented on #1193
[code]

[2019-02-11 01:11] whedon commented on #1193
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01193/joss.01193/10.21105.joss.01193.pdf)

[2019-02-11 01:13] hiendn commented on #1193
Hi @arfon and @yochannah, I've changed everything that should be a DOI from URL to DOI. There are a couple of items left that do not have DOIs, so I left them as URL. I hope that this resolves the issue! 😄

[2019-02-11 01:31] arfon commented on #1193
@whedon check references

[2019-02-11 01:31] whedon commented on #1193
[code]

[2019-02-11 01:32] whedon commented on #1193
[code]

[2019-02-11 01:53] hiendn commented on #1193
@whedon check references

[2019-02-11 01:53] whedon commented on #1193
[code]

[2019-02-11 01:53] whedon commented on #1193
[code]

[2019-02-11 01:56] hiendn commented on #1193
@arfon , it doesn't look like a DOI exists anywhere on the internet for that last paper, unfortunately. 😞

[2019-02-11 03:38] 1313e commented on #1229
@arfon That would be required anyways, given that I am citing the AAS Journals submission for the results.
I felt that putting them into the JOSS paper would be a bit pointless, given that they are already in the AAS submission and it would never fit into 1k words.

I hope that is okay btw, as I couldn't find any guidelines on this.

[2019-02-11 06:21] sivaramambikasaran commented on #1167
@jedbrown

Done

Done

Done

See here: https://zenodo.org/record/2561575#.XGETt88zYW8

DOI: 10.5281/zenodo.2561575

[2019-02-11 06:22] sivaramambikasaran commented on #1167
@whedon generate pdf

[2019-02-11 06:22] whedon commented on #1167
[code]

[2019-02-11 06:22] whedon commented on #1167
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01167/joss.01167/10.21105.joss.01167.pdf)

[2019-02-11 06:23] sivaramambikasaran commented on #1167
@whedon accept

[2019-02-11 06:23] whedon commented on #1167
I'm sorry @sivaramambikasaran, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-02-11 06:24] sivaramambikasaran commented on #1167
😀

[2019-02-11 07:56] meolic commented on #1189
Done.

[2019-02-11 07:57] meolic commented on #1189
Done.

[![DOI](https://zenodo.org/badge/44801799.svg)](https://zenodo.org/badge/latestdoi/44801799)

[2019-02-11 08:24] livioivil commented on #1048
Hi, I'm the host of the package. I confirm that I have done a large part of the submissions. However, @scan2001 in most of the cases scripted the first version of the code. So, I think, he deserves the merit of the first authorship.
I hope this helps.

[2019-02-11 08:55] jhill1 commented on #1112
You are indeed. Swamped with teaching this term, but will get to this ASAP. Thanks for your patience!

[2019-02-11 09:14] laempy commented on #990
Hi @lheagy. I have addressed the open issues and created a new version v0.2.0b1. Could you please take a second look? Unfortunately I wasn't able to create a new conda package yet, but I will do that as soon as I find enough time. In consequence, currently the package needs to be installed from source according to the README.

[2019-02-11 09:32] sebastkm commented on #1151
We suggest @IgorBaratta @msiebenborn

[2019-02-11 10:38] symmy596 commented on #1210
@bocklund Thank you for taking the time to review the project. I think I have addressed your comments

1) I have added the required packages to setup.py under install_requires
2) Reuter2003 was missing the @ and thus was not being added. I have fixed this.
3) Example notebooks have been run and uploaded.
4) HTML logo is now fixed.
5) I have added contact information under the Contributing section

[2019-02-11 11:01] symmy596 commented on #1210
@whedon generate pdf

[2019-02-11 11:01] whedon commented on #1210
[code]

[2019-02-11 11:01] whedon commented on #1210
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01210/joss.01210/10.21105.joss.01210.pdf)

[2019-02-11 11:01] arfon commented on #1193
That's OK. These are only meant to be suggestions - it's fine to have references without DOIs if there isn't one.

[2019-02-11 11:08] arfon commented on #1229
:+1: yes that's right. We also don't allow scientific results to be published in JOSS :-)

I think you've got this right. @crawfordsm and I are in the process of drafting some guidelines that should assist future authors.

[2019-02-11 11:31] a-slide commented on #1236
Hi @george-githinji
Let me know if there is anything I can do to help or if you need any extra test files.
Thanks

[2019-02-11 13:10] tleonardi commented on #1228
@whedon generate pdf from branch paper

[2019-02-11 13:10] whedon commented on #1228
[code]

[2019-02-11 13:10] whedon commented on #1228
PDF failed to compile for issue #1228 with the following error:

 Can't find any papers to compile :-(

[2019-02-11 13:14] labarba commented on #1210
It's fine to add a figure if you decided that improves the paper.

[2019-02-11 13:15] arfon commented on #1228
This feature is very buggy I'm afraid and fails for some repositories (looks like yours is one of them).

[2019-02-11 13:16] arfon commented on #1228
Here's another version I compiled locally: [10.21105.joss.01228.pdf](https://github.com/openjournals/joss-reviews/files/2851159/10.21105.joss.01228.pdf)

[2019-02-11 13:20] tleonardi commented on #1228
Hi @brainstorm, I've pushed some edits in response to the comments that @Benjamin-Lee made in the bedparse [repo](https://github.com/tleonardi/bedparse/issues). I've also added the citation to the Manifesto and the community guidelines.
@Benjamin-Lee, do you think I should add a direct statement of need? Any comments on how to best address this point?

@arfon, thanks for compiling locally! Let me

[2019-02-11 13:21] seabbs commented on #1219
Is there anything I can do to help move this along?

[2019-02-11 13:24] mfroeling commented on #1204
@JoshKarpel indeed after seeing the compiled PDF it needs an other good once over. i was a bit messy, and indeed the figure 2 can go. Based on the comment i got from @rljacobson i will give the paper an other update.

@grlee77 i will add such a disclaimer.

[2019-02-11 13:25] damaggu commented on #1171
@arokem, @danielskatz  Sorry, I'll make some time this week as well. Regarding COI: I'm actually collaborating with @TheChymera on other projects, but haven't been involved in the development of COSplay. Does this constitute a problem? Regards

[2019-02-11 13:27] tleonardi commented on #1228
@arfon I hadn't pushed the last changes, do you mind compiling the pdf again when you have time? Sorry for the trouble..

[2019-02-11 13:28] danielskatz commented on #1171
Yes, @arokem should try to find another reviewer in this case.

[2019-02-11 13:33] trallard commented on #1185
Hi just dropping by, I will pause this review on my side and resume on the 19th of February. I will aim to get it all completed within that week

[2019-02-11 13:38] trallard commented on #1191
Hi all thanks for the time spent in this review, it seems that all the issues have already been dealt with and there are just a few steps between acceptance and now.

@peircej can you please make sure to complete the following tasks before completing this?

*[ ] make a new release of the package (unless the latest release is up to date with the recent modifications) and add let us know what is the

[2019-02-11 13:39] trallard commented on #1191
@whedon generate pdf

[2019-02-11 13:39] whedon commented on #1191
[code]

[2019-02-11 13:39] whedon commented on #1191
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01191/joss.01191/10.21105.joss.01191.pdf)

[2019-02-11 13:47] peircej commented on #1191
Minor: I think the request above was meant for the author @ixjlyons rather than me (to update the version etc).

[2019-02-11 13:49] trallard commented on #1219
🙋🏻‍♀️ Hi @seabbs (sorry for the delayed action) I will be performing the editorial duties for this submission. If you have any questions over the review process please feel free to @ me.

The first step is to find suitable reviewers for this submission. Have you got any suitable people in mind? Otherwise, you can check the list of reviewers we have and suggest a few here.

[2019-02-11 13:50] trallard commented on #1219
@whedon list reviewers

[2019-02-11 13:50] whedon commented on #1219
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2019-02-11 14:14] seabbs commented on #1219
Hi @trallard  - no problem.

No external people in mind. Looking at the list (from bottom to top) here are a few that looked relevant (in no particular order):

* stulacy (R + epidemiology)
* rrrlw (R + Data visualisation + Epidemiology)
* strengejacke (R + Epidemiology + Data visualisation)
* aj2duncan (R + Epidemiology)
* patatefritte (R + Epidemiology)
* ellessenne (R + Epidemiology)
* ibontama

[2019-02-11 14:52] arfon commented on #1228
Here you go: [10.21105.joss.01228.pdf](https://github.com/openjournals/joss-reviews/files/2851544/10.21105.joss.01228.pdf)

[2019-02-11 15:44] george-githinji commented on #1236
I am currently going through the package and the the paper submission. Should get back to you in 2 days. Thanks!

[2019-02-11 15:44] gnarayan commented on #1245
@arfon - sure. It's quite short so should finish it on today's flight.

[2019-02-11 15:44] johnlees commented on #1125
This all looks good to me, pending the creation of a conda/pip package

[2019-02-11 16:01] arfon commented on #1245
@whedon add @gnarayan as reviewer

[2019-02-11 16:01] whedon commented on #1245
OK, @gnarayan is now a reviewer

[2019-02-11 16:01] arfon commented on #1245
@whedon start review

[2019-02-11 16:01] whedon opened #1247 "[REVIEW]: SkyPortal: An Astronomical Data Platform"
**Submitting author:** @stefanv (<a href="http://orcid.org/0000-0001-9276-1891">Stéfan van der Walt</a>)
**Repository:** <a href="https://github.com/skyportal/skyportal" target ="_blank">https://github.com/skyportal/skyportal</a>
**Version:** 1.0
**Editor:** @arfon
**Reviewer:** @gnarayan
**Archive:** <a href="https://doi.org/10.5281/zenodo.2742377" target="_blank">10.5281/zenodo.2742377</a>

## S

[2019-02-11 16:01] whedon commented on #1245
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1247. Feel free to close this issue now!

[2019-02-11 16:01] whedon commented on #1247
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @gnarayan it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-02-11 16:01] whedon commented on #1247
[code]

[2019-02-11 16:01] arfon commented on #1245
@gnarayan - please head over to #1247 for the actual review.

[2019-02-11 16:01] #1245 closed

[2019-02-11 16:02] whedon commented on #1247
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01247/joss.01247/10.21105.joss.01247.pdf)

[2019-02-11 16:02] arfon commented on #1247
@gnarayan - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2019-02-11 16:10] arfon commented on #1228
@whedon generate pdf from branch paper

[2019-02-11 16:11] whedon commented on #1228
[code]

[2019-02-11 16:11] whedon commented on #1228
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01228/joss.01228/10.21105.joss.01228.pdf)

[2019-02-11 16:16] arfon commented on #1228
@tleonardi - I fixed the bug :-)

[2019-02-11 16:48] tleonardi commented on #1228
Brilliant, thanks!

[2019-02-11 17:13] sivaramambikasaran commented on #1167
@whedon check references

[2019-02-11 17:13] whedon commented on #1167
[code]

[2019-02-11 17:13] whedon commented on #1167
[code]

[2019-02-11 17:25] jedbrown commented on #1167
@sivaramambikasaran Please correct the author list in your Zenodo archive. It should use full names and match the paper.

[2019-02-11 18:44] PaulKGrimes commented on #1231
I have been able to confirm the operation of the experimental data analysis and impedance fitting example using my own experimental data.  This appears to work fairly well, and gives results as expected.  There could be some enhancements made to the software to make loading data from a variety of file types simpler - right now the data has to be reformatted to the style of data file used by John.

[2019-02-11 18:50] Benjamin-Lee commented on #1228
Please note that the current unchecked boxes (functionality and performance) are just due to the fact that I haven't had a chance to review those aspects, not due to any issues I've identified with the software.

[2019-02-11 18:55] brogly commented on #1208
@whedon generate pdf

[2019-02-11 18:55] whedon commented on #1208
[code]

[2019-02-11 18:56] whedon commented on #1208
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01208/joss.01208/10.21105.joss.01208.pdf)

[2019-02-11 18:58] brogly commented on #1208
@lrasmus @CBenghi minor change to PDF references to clarify that Asubiaro & Rubin and Brogly & Rubin are both unpublished articles

[2019-02-11 19:15] tkonolige commented on #1244
@ScottKolo I think https://doi.org/10.1007/978-1-5041-2940-4_9 is the correct doi for Matrix market: A web resource for test matrix collections. It would be great if you can add that.

I also see that there is no documentation for building, installing, and testing locally. I created an issue for it in your repository: ScottKolo/suitesparse-matrix-collection-website#5.

[2019-02-11 21:29] mkhorton commented on #1210
I have a minor visual glitch with example 5 script, where the Wulff shape is off-centered/partially cut off and the legend also cut off (using default requirements from the GitHub repo, Python 3.7, macOS).

[2019-02-11 22:47] brainstorm commented on #1189
@whedon set http://doi.org/10.5281/zenodo.2561641 as archive

[2019-02-11 22:47] whedon commented on #1189
OK. <a href="https://doi.org/10.5281/zenodo.2561641" target="_blank">10.5281/zenodo.2561641</a> is the archive.

[2019-02-11 22:47] brainstorm commented on #1189
@whedon accept

[2019-02-11 22:47] whedon commented on #1189
[code]

[2019-02-11 22:47] whedon commented on #1189
[code]

[2019-02-11 22:48] brainstorm commented on #1189
@arfon I think we are ready to deposit here ;)

[2019-02-11 22:48] whedon commented on #1189
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/482

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/482, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-02-11 23:17] arfon commented on #1189
@whedon accept deposit=true

[2019-02-11 23:17] whedon commented on #1189
[code]

[2019-02-11 23:18] whedon commented on #1189
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/483
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01189](https://doi.org/10.21105/joss.01189)
2. If everything looks go

[2019-02-11 23:21] arfon commented on #1189
@HaoZeke - many thanks for your review and to @brainstorm for editing this submission ✨

@meolic - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-02-11 23:21] #1189 closed

[2019-02-11 23:21] whedon commented on #1189
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01189/status.svg)](https://doi.org/10.21105/joss.01189)

**We need your help!**

Journal of Open Source Softwar

[2019-02-11 23:47] hiendn commented on #1193
@whedon generate pdf

[2019-02-11 23:47] whedon commented on #1193
[code]

[2019-02-11 23:47] whedon commented on #1193
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01193/joss.01193/10.21105.joss.01193.pdf)

[2019-02-12 00:01] adavidzh commented on #1230
Hi @poulson, I'm not sure how to check the "release version".

The repo has a [`0.8.2.rel` branch whose `README.rst` identifies the version as `0.8.2`](https://github.com/annoviko/pyclustering/tree/0.8.2.rel). [PyPi mentions `0.8.2`](https://pypi.org/project/pyclustering/). So, while things looks consistent, I'm not sure if "the release version given match[es] the GitHub release (0.8.2)".

[2019-02-12 00:41] peterjwatkins commented on #947
OK, got it now :-)

In relation to the first comment, the introduction of NA relates to 'uniroot'; NA is introduced when there is no solution for 'uniroot' - I've added the following
  ## For 'uniroot' to behave properly, it's important that f(lower) * f(upper) < 0
  ## This test ensures that a solution is present to find X
  ## Otherwise, there is no root and thus NA
which explains why NA is intr

[2019-02-12 00:44] whedon opened #1248 "[PRE REVIEW]: iced: fast and memory efficient normalization of contact maps"
**Submitting author:** @NelleV (<a href="http://orcid.org/0000-0002-8748-6546">Nelle varoquaux</a>)
**Repository:** <a href="https://github.com/hiclib/iced" target ="_blank">https://github.com/hiclib/iced</a>
**Version:** v0.5.1
**Editor:** @pjotrp
**Reviewers:** @robinweide

**Author instructions**

Thanks for submitting your paper to JOSS @NelleV. The JOSS editor Pending, will work with you on t

[2019-02-12 00:44] whedon commented on #1248
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-02-12 00:44] whedon commented on #1248
[code]

[2019-02-12 00:45] whedon commented on #1248
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01248/joss.01248/10.21105.joss.01248.pdf)

[2019-02-12 00:45] arfon commented on #1248
@pjotrp - are you able to identify an editor for this submission?

[2019-02-12 05:06] astrom-tom commented on #1217
Dear @arfon,

Thank you for being the editor for my code.
To answer your questions:
- This package have been partially developed at the Very Large Telescope to ease the search and the display of fitsfiles metadata among large number of files. dfistpy primarily aims at being included in scripts where large number of fitsfiles have to be reviewed in an fast and efficient way (without looking at the

[2019-02-12 05:41] sivaramambikasaran commented on #1167
@jedbrown Done.

[2019-02-12 06:32] mnarayan commented on #1075
Sorry for the delay, will finish my comments this week.

[2019-02-12 07:33] ixjlyons commented on #1191
Ok, here's the DOI for axopy-0.2.3: [10.5281/zenodo.2562630](https://doi.org/10.5281/zenodo.2562630)

Thanks once again @trallard, @peircej, and @lucask07 for your time and feedback.

[2019-02-12 09:22] aokad commented on #1125
I checked all the boxes, everything looks good.

[2019-02-12 10:35] damaggu commented on #1171
@danielskatz Just wanted to point out that, @TheChymera is not the first author. I haven't interacted with the first outer, in case that makes a difference regarding COI.

[2019-02-12 10:52] pjotrp commented on #1248
On it.

[2019-02-12 10:58] symmy596 commented on #1210
@mkhorton - This sounds like it is a pymatgen issue opposed to a surfinpy issue. surfinpy is used to calculate the surface energies and then these are used to generate the Wulff plot with pymatgen. I suppose the first thing to check is which version of pymatgen are you using? I have been using Version 2018.11.30

[2019-02-12 11:27] danielskatz commented on #1171
But he's the submitting author.  In my opinion, this is enough of a conflict with the submission that you shouldn't be asked to review it.

[2019-02-12 13:23] effigies commented on #1171
This is going to be a hard thing to get a complete review for, then. The reason we have two reviewers is that we need one with access to the hardware.

[2019-02-12 13:27] danielskatz commented on #1171
JOSS allows recording of the COI and waiving it if that's the best case for the submission.  If @arokem thinks that how the review should proceed, it can.

[2019-02-12 14:05] arfon commented on #1217
I think this is sufficient. Thanks for the additional background.

@taldcroft - would you be interested in reviewing this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2019-02-12 14:56] mkhorton commented on #1210
That’s entirely possible, I’ll investigate further. Thanks.

On Tue, Feb 12, 2019 at 02:58, Adam Symington <notifications@github.com>
wrote:

[2019-02-12 15:14] taldcroft commented on #1217
@arfon - what's  the time scale for review?  Next 2-3 of weeks are tough, but after that I'd be happy to review this submission.

[2019-02-12 15:56] jedbrown commented on #1167
@whedon set 10.5281/zenodo.2561575 as archive

[2019-02-12 15:56] whedon commented on #1167
OK. <a href="https://doi.org/10.5281/zenodo.2561575" target="_blank">10.5281/zenodo.2561575</a> is the archive.

[2019-02-12 15:56] jedbrown commented on #1167
@whedon set v3.1415.1 as version

[2019-02-12 15:58] jedbrown commented on #1167
@openjournals/joss-eics We're ready for you.

[2019-02-12 16:15] labarba commented on #1167
👋 @sivaramambikasaran : Can you update the tile of the Zenodo entry so that it matches the title of the JOSS paper?

[2019-02-12 16:22] benjaminwilson commented on #1240
@whedon generate pdf

[2019-02-12 16:22] whedon commented on #1240
[code]

[2019-02-12 16:22] whedon commented on #1240
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01240/joss.01240/10.21105.joss.01240.pdf)

[2019-02-12 16:23] benjaminwilson commented on #1240
@whedon check references

[2019-02-12 16:23] whedon commented on #1240
[code]

[2019-02-12 16:23] whedon commented on #1240
[code]

[2019-02-12 16:32] benjaminwilson commented on #1240
@whedon check references

[2019-02-12 16:32] whedon commented on #1240
[code]

[2019-02-12 16:32] whedon commented on #1240
[code]

[2019-02-12 16:33] benjaminwilson commented on #1240
@HaoZeke thanks for your patience!  I think I've now addressed all issues raised in the pre-review.

[2019-02-12 17:30] tkonolige commented on #1244
@jedbrown I'm not sure about the example usage and functional documentation parts of the checklist. Does there need to be documentation on how to use the website? I think it is pretty straight forward.

[2019-02-12 17:42] arfon commented on #1217
Do you think you could complete your initial review by the 12th March?

[2019-02-12 17:46] HaoZeke commented on #1240
Excellent work, I believe this is ready for submission now. @poulson

[2019-02-12 17:53] yochannah commented on #1193
@arfon thanks for clarifying what the issue was and @hiendn thank you for resolving the issues! :+1:

[2019-02-12 17:54] jedbrown commented on #1244
I don't think human "use" of the website needs separate documentation, but there appears to be an API used by several external packages and I don't immediately notice documentation of that API.

[2019-02-12 17:55] yochannah commented on #1193
@hiendn @andrewthomasjones - at this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive?  It's probably worth giving the manuscript a final proofread if you feel you need to, as well. 👍

[2019-02-12 18:18] poulson commented on #1240
@benjaminwilson It seems that the DOIs were removed rather than fixed. Would you mind making sure that each of the references has a DOI?

[2019-02-12 18:39] arfon commented on #1160
@whedon accept deposit=true

[2019-02-12 18:39] whedon commented on #1160
[code]

[2019-02-12 18:40] whedon commented on #1160
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/484
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01160](https://doi.org/10.21105/joss.01160)
2. If everything looks go

[2019-02-12 18:41] arfon commented on #1160
@brainstorm - please ping @openjournals/joss-eics in the future when handing off the submissions. We now have one of us on a rotation.

[2019-02-12 18:48] arfon commented on #1160
@pdiakumis - many thanks for your review here and to @brainstorm for editing this submission ✨

@aguang - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-02-12 18:48] #1160 closed

[2019-02-12 18:48] whedon commented on #1160
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01160/status.svg)](https://doi.org/10.21105/joss.01160)

**We need your help!**

Journal of Open Source Softwar

[2019-02-12 18:51] arfon commented on #1179
Sorry, this is a manual process to update on the JOSS site. I've done this now.

[2019-02-12 18:51] arfon commented on #1179
@whedon accept

[2019-02-12 18:51] whedon commented on #1179
[code]

[2019-02-12 18:52] arfon commented on #1109
@whedon set 10.5281/zenodo.2544192 as archive

[2019-02-12 18:52] whedon commented on #1179
PDF failed to compile for issue #1179 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0    174      0 --:--:-- --:--:-- --:--:--   174
sh: 0: getcwd() f

[2019-02-12 18:52] whedon commented on #1179
[code]

[2019-02-12 18:52] whedon commented on #1109
OK. <a href="https://doi.org/10.5281/zenodo.2544192" target="_blank">10.5281/zenodo.2544192</a> is the archive.

[2019-02-12 18:53] arfon commented on #1179
@whedon accept

[2019-02-12 18:53] whedon commented on #1179
[code]

[2019-02-12 18:53] arfon commented on #1109
@whedon accept

[2019-02-12 18:53] whedon commented on #1109
[code]

[2019-02-12 18:53] vsoch commented on #1179
whedon, stop being a bad robot!

[2019-02-12 18:53] whedon commented on #1109
PDF failed to compile for issue #1109 with the following error:

 Can't find any papers to compile :-(

[2019-02-12 18:54] whedon commented on #1179
[code]

[2019-02-12 18:55] arfon commented on #1109
@vmagnin have you removed the `paper.md` file from your repository? @whedon doesn't seem to be able to find it any longer.

[2019-02-12 18:56] arfon commented on #1056
Thanks @karthik. In the future can you ping @openjournals/joss-eics?

[2019-02-12 18:56] arfon commented on #1056
@whedon accept deposit=true

[2019-02-12 18:56] whedon commented on #1056
[code]

[2019-02-12 18:58] stefanv commented on #1247
Thank you for reviewing, @gnarayan—much appreciated!

[2019-02-12 18:58] whedon commented on #1056
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/485
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01056](https://doi.org/10.21105/joss.01056)
2. If everything looks go

[2019-02-12 19:02] arfon commented on #1179
Not sure what's up with @whedon here. I've compiled and accepted the paper locally.

@vsoch @andytwoods - many thanks for your reviews here and to @yochannah for editing this submission ✨

@gasparl - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-02-12 19:02] #1179 closed

[2019-02-12 19:02] whedon commented on #1179
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01179/status.svg)](https://doi.org/10.21105/joss.01179)

**We need your help!**

Journal of Open Source Softwar

[2019-02-12 19:12] gasparl commented on #1179
Thanks very much @arfon (and once again @yochannah) for correcting this!

This is an awesome review process, definitely not my last submission here.

[2019-02-12 19:13] arfon commented on #1056
@wrathematics - many thanks for your review here and to @karthik for editing this submission ✨

@bastistician - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-02-12 19:13] #1056 closed

[2019-02-12 19:14] whedon commented on #1056
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01056/status.svg)](https://doi.org/10.21105/joss.01056)

**We need your help!**

Journal of Open Source Softwar

[2019-02-12 19:21] taldcroft commented on #1217
@arfon - no problem by 12th March.

[2019-02-12 19:37] arfon commented on #1217
@whedon assign @taldcroft as reviewer

[2019-02-12 19:37] whedon commented on #1217
OK, the reviewer is @taldcroft

[2019-02-12 19:38] arfon commented on #1217
@whedon start review

[2019-02-12 19:38] whedon opened #1249 "[REVIEW]: dfitspy"
**Submitting author:** @astrom-tom (<a href="http://orcid.org/0000-0001-8385-3276">Romain Thomas</a>)
**Repository:** <a href="https://github.com/astrom-tom/dfitspy" target ="_blank">https://github.com/astrom-tom/dfitspy</a>
**Version:** v19.3.3
**Editor:** @arfon
**Reviewer:** @taldcroft
**Archive:** <a href="https://doi.org/10.5281/zenodo.2592698" target="_blank">10.5281/zenodo.2592698</a>

## S

[2019-02-12 19:38] whedon commented on #1217
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1249. Feel free to close this issue now!

[2019-02-12 19:38] whedon commented on #1249
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @taldcroft it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-02-12 19:38] whedon commented on #1249
[code]

[2019-02-12 19:38] arfon commented on #1217
Great. Thanks @taldcroft - please head over to #1249 to carry out the actual review.

[2019-02-12 19:38] #1217 closed

[2019-02-12 19:38] whedon commented on #1249
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01249/joss.01249/10.21105.joss.01249.pdf)

[2019-02-12 19:39] arfon commented on #1249
@taldcroft - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2019-02-12 19:58] vmagnin commented on #1109
@arfon The paper.md, paper.bib and paper.png files are still in the master branch of the gtk-fortran repository. But some days ago I have changed the default branch of the repository from master (gtk2) to gtk3. Perhaps @whedon is searching in the default branch.
=> So, I have just copied and pushed the three `paper.*` files in the gtk3 branch. I hope it will solve the problem.

Another reason coul

[2019-02-12 20:06] aguang commented on #1160
Thanks! Very appreciative of the review process here and will definitely be volunteering to review with y'all in the future.

[2019-02-12 20:14] arfon commented on #1109
@whedon generate pdf

[2019-02-12 20:14] whedon commented on #1109
[code]

[2019-02-12 20:14] whedon commented on #1109
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01109/joss.01109/10.21105.joss.01109.pdf)

[2019-02-12 20:15] arfon commented on #1109
Ah yes. @whedon only picks up files in the default branch.

[2019-02-12 20:15] arfon commented on #1109
@whedon accept

[2019-02-12 20:15] whedon commented on #1109
[code]

[2019-02-12 20:16] whedon commented on #1109
[code]

[2019-02-12 20:16] whedon commented on #1109
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/486

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/486, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-02-12 20:17] arfon commented on #1109
@whedon accept deposit=true

[2019-02-12 20:17] whedon commented on #1109
[code]

[2019-02-12 20:17] whedon commented on #1109
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/487
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01109](https://doi.org/10.21105/joss.01109)
2. If everything looks go

[2019-02-12 20:20] arfon commented on #1109
@johnsamuelwrites, @sundmanbo - many thanks for your reviews and to @Kevin-Mattheus-Moerman for editing this submission ✨

@vmagnin - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-02-12 20:20] #1109 closed

[2019-02-12 20:20] whedon commented on #1109
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01109/status.svg)](https://doi.org/10.21105/joss.01109)

**We need your help!**

Journal of Open Source Softwar

[2019-02-12 20:25] whedon commented on #1109
[code]

[2019-02-12 23:22] cMadan commented on #1081
@whedon set 1.0 as version

[2019-02-12 23:22] whedon commented on #1081
OK. 1.0 is the version.

[2019-02-12 23:23] cMadan commented on #1081
@whedon set 10.5281/zenodo.2554339 as archive

[2019-02-12 23:23] whedon commented on #1081
OK. <a href="https://doi.org/10.5281/zenodo.2554339" target="_blank">10.5281/zenodo.2554339</a> is the archive.

[2019-02-12 23:24] cMadan commented on #1081
@whedon accept

[2019-02-12 23:24] whedon commented on #1081
[code]

[2019-02-12 23:24] whedon commented on #1081
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/488

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/488, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-02-12 23:25] cMadan commented on #989
@ccurtis7 and @stsievert, how are things progressing? Thanks!

[2019-02-13 00:13] hiendn commented on #1193
Hi @yochannah! Thank you for handling the editorial process. the Zenodo DOI/link is http://doi.org/10.5281/zenodo.2538256. And I have given the paper a final proof read and it is all good to go! 😄

[2019-02-13 00:13] cMadan commented on #1235
@arokem, sure I can be the editor for this one.

[2019-02-13 00:14] cMadan commented on #1235
@whedon assign @cMadan as editor

[2019-02-13 00:14] whedon commented on #1235
OK, the editor is @cMadan

[2019-02-13 00:16] cMadan commented on #1235
@andrewheusser, would you be available/interested in reviewing this submission?

[2019-02-13 02:48] stsievert commented on #989
Thanks for checking in. I’ve

[2019-02-13 02:57] stsievert commented on #989
Thanks for checking in. I’ve found a couple issues in CloudKnot, specifically on some dependencies (see https://github.com/ccurtis7/diff_classifier/issues/28 for some more detail). @ccurtis7 has resolved that issue, and I need to check the notebook again.

I don’t think I would have accepted the version of diff_classifier as submitted. I think now it’s closer to being ready.

[2019-02-13 03:36] cMadan commented on #989
@stsievert, looks like things are moving along then. Thank you for the update!

[2019-02-13 03:41] ccurtis7 commented on #989
Hey @cMadan, @stsievert has really given some great help on improving the quality of the package, and I've tried to be as prompt as possible in addressing issues. As he mentioned, I think there's only one last double check of the parallelization demo notebook, and it should be good to go.

[2019-02-13 03:59] ScottKolo commented on #1244
We do include information about other interfaces to the Collection on the website itself on the [Interfaces page](https://sparse.tamu.edu/interfaces). I also just added information in the repository README referencing the Interfaces page and also the URL routing feature, which might be considered an API.

The use of most of the website should be (*we hope*) easy enough to understand and figure out

[2019-02-13 05:08] sivaramambikasaran commented on #1167
@labarba @jedbrown Done.

[2019-02-13 11:53] eendebakpt commented on #1097
@whedon generate pdf

[2019-02-13 11:53] whedon commented on #1097
[code]

[2019-02-13 11:53] whedon commented on #1097
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01097/joss.01097/10.21105.joss.01097.pdf)

[2019-02-13 13:22] labarba commented on #1167
@whedon accept

[2019-02-13 13:23] whedon commented on #1167
[code]

[2019-02-13 13:23] whedon commented on #1167
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/489

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/489, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-02-13 13:24] whedon commented on #1167
[code]

[2019-02-13 13:54] labarba commented on #1167
@whedon accept deposit=true

[2019-02-13 13:54] whedon commented on #1167
[code]

[2019-02-13 13:55] whedon commented on #1167
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/490
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01167](https://doi.org/10.21105/joss.01167)
2. If everything looks go

[2019-02-13 13:58] labarba commented on #1167
Congratulations on your new paper, @sivaramambikasaran !

And many thanks to the Editor, @jedbrown, and the Reviewer, @poulson 🙏

[2019-02-13 13:58] #1167 closed

[2019-02-13 13:58] whedon commented on #1167
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01167/status.svg)](https://doi.org/10.21105/joss.01167)

**We need your help!**

Journal of Open Source Softwar

[2019-02-13 14:13] sivaramambikasaran commented on #1167
@labarba @poulson @jedbrown Thanks for this wonderful journal and open review process!

[2019-02-13 14:34] Chilipp commented on #1216
Dear @yochannah, @sgrieve and @ixjlyons,

thanks again for all the input and your fast responses! All reported issues (https://github.com/Chilipp/straditize/issues/1, https://github.com/Chilipp/straditize/issues/2, https://github.com/Chilipp/straditize/issues/3, https://github.com/Chilipp/straditize/issues/4 and https://github.com/Chilipp/straditize/issues/8) are closed and from my side, I am read

[2019-02-13 15:12] garrettj403 commented on #1231
Hi @PaulKGrimes, thank you for all your work validating the code. I am interested to hear about how to improve the performance of the 4 tone simulations, but we can talk about that later.

With respect to the Community Guidelines, I added more information to the [CONTRIBUTING.md](https://github.com/garrettj403/QMix/blob/master/CONTRIBUTING.md) file. I also added a [CODE_OF_CONDUCT.md](https://gith

[2019-02-13 15:16] labarba commented on #1193
👋  @hiendn — Could you edit the title in Zenodo so it matches the title of the JOSS paper? Thanks!

[2019-02-13 15:17] labarba commented on #1193
@whedon set10.5281/zenodo.2563411 as archive

[2019-02-13 15:19] labarba commented on #1193
@whedon set 10.5281/zenodo.2563411 as archive

[2019-02-13 15:19] whedon commented on #1193
OK. <a href="https://doi.org/10.5281/zenodo.2563411" target="_blank">10.5281/zenodo.2563411</a> is the archive.

[2019-02-13 15:30] andrewheusser commented on #1235
I think so, what's the timeline?

[2019-02-13 15:40] labarba commented on #1104
👋  @Kevin-Mattheus-Moerman — Have you made a determination whether this submission can be reviewed?

[2019-02-13 15:53] labarba commented on #693
👋  @wandreopoulos — We haven't heard from you in a while. What's your status? Are you planning on improving this software for consideration in JOSS? Or should we withdraw this submission?

[2019-02-13 16:04] labarba commented on #1013
I have just sent a follow-up message via email to the reviewer to ask if they still plan on doing this (copied @Kevin-Mattheus-Moerman).

[2019-02-13 16:15] aviks commented on #1013
Sorry for delaying this folks. I will get on this now.

[2019-02-13 16:25] wandreopoulos commented on #693
Hi Lorena,
I am really sorry for the delay. I just had an extremely busy couple of
months. I will be improving this software and I plan to work on it within
the next week.
Thank you very much for your email and consideration,
Bill

On Wed, Feb 13, 2019 at 7:53 AM Lorena A. Barba <notifications@github.com>
wrote:

--
Thanks,
Bill

______________
William B. Andreopoulos, Ph.D.
Joint Genome Institute

[2019-02-13 17:06] tkonolige commented on #1244
That all makes sense. I think you're good on the documentation front then.

@ScottKolo, @jedbrown should the release version listed here be bumped to match what is currently in the repository (now that some changes have been made)?

[2019-02-13 17:27] jedbrown commented on #1244
Yeah, we'll ask for a tagged release at acceptance, and the version will be set at that time.

[2019-02-13 18:36] pwollstadt commented on #1081
Thanks a lot! We found a minor error in the final proof, which I fixed in the repo's master (https://github.com/pwollstadt/IDTxl/commit/84e8469545402740ec5f89dc1b9dd925f955210). Is there a way to generate the final PDF from that?

[2019-02-13 18:57] benjaminwilson commented on #1240
Hi @poulson, I've indeed removed some entries from the `.bib` file that I wasn't using.  For all but one of the remainder, I am afraid that I am really stumped on getting DOIs for any of them.  I was surprised that I couldn't find either on the paper itself or in published BibTeX or on crossref.org.  I don't know if this is because they are all either arXiv (1) or conference proceedings (rest).  D

[2019-02-13 19:31] arfon commented on #1081
@whedon accept

[2019-02-13 19:31] whedon commented on #1081
[code]

[2019-02-13 19:37] whedon commented on #1081
PDF failed to compile for issue #1081 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0    255      0 --:--:-- --:--:-- --:--:--   258

[2019-02-13 19:46] arfon commented on #1081
@pwollstadt - the `paper.md` metadata is currently broken. Please make this fix: https://github.com/pwollstadt/IDTxl/pull/31

[2019-02-13 20:04] labarba commented on #1164
Hey, @alemon-aquaveo — We haven't heard from you in a while. What's your status? Are you planning on improving this submission for consideration in JOSS?

[2019-02-13 20:08] labarba commented on #1044
👋  @mbod, @andytwoods — hi there, I'm one of the Associate Editors-in-chief, and am doing an audit of stalled submissions. We haven't heard from y'all in a while. Can you check in with us to get an idea of timelines for the review to progress? Thanks!

[2019-02-13 20:21] labarba commented on #1044
I have just followed up by email with @mbod, who has not shown signs of life here (cc. @yochannah).

[2019-02-13 20:31] edzer commented on #1221
This is a nice package that provides relatively limited functionality over `sf::st_interpolate_aw` (which I wrote), but that explains and illustrates the whole areal interpolation process very well. Since JOSS does not demand new functionality, it is a nice addition to the existing package ecosystem around `sf`. I recommend that the authors address the following issues:

* The pdf of the paper sho

[2019-02-13 21:00] yochannah commented on #1216
@whedon generate pdf

[2019-02-13 21:00] whedon commented on #1216
[code]

[2019-02-13 21:02] whedon commented on #1216
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01216/joss.01216/10.21105.joss.01216.pdf)

[2019-02-13 21:23] yochannah commented on #1005
Quick note the readme on this repo was updated recently! :) I've added some comments about build issues in https://github.com/slithiaote/lepton/issues/2

[2019-02-13 21:34] yochannah commented on #1216
@whedon check references

[2019-02-13 21:34] whedon commented on #1216
[code]

[2019-02-13 21:34] whedon commented on #1216
[code]

[2019-02-13 21:37] alemon-aquaveo commented on #1164
Thank you for reaching out.
Yes I do plan on improving my submission but I am unsure about how much
time I can dedicate to this in the near future. What is my best course of
action so that I am not a bother to you?

On Wed, Feb 13, 2019 at 1:04 PM Lorena A. Barba <notifications@github.com>
wrote:

--
Thanks,
Alan
Aquaveo (www.aquaveo.com)

[2019-02-13 21:41] yochannah commented on #1216
Okay, I've given it a finalish proofread and the text looks great 💯 . One strange thing I noted is that the figure appears in the middle of the reference section though - @arfon any idea what is up?

[2019-02-13 21:42] bmorris3 commented on #1130
@arfon Are we good to proceed? Thanks! 👍

[2019-02-13 21:44] yochannah commented on #1216
@sgrieve and @ixjlyons, y'all each have one checkbox left unticked. If you're happy to accept, can you check those boxes and make a comment once you're done?

@Chilipp Once those last two checkboxes are complete, please do make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive!  It's probably worth giving the manuscript a final

[2019-02-13 21:49] yochannah commented on #1044
thanks @labarba! I think @davekinkead is also working on the issues raised by @andytwoods and will let us know when he is ready to revisit.

[2019-02-13 21:59] arfon commented on #1216
@yochannah - this is standard LaTeX image layout issues. If the authors make this change the image placement is better: https://github.com/Chilipp/straditize/pull/9

[2019-02-13 22:01] Chilipp commented on #1216
Thanks @arfon! The PR has been merged.

@whedon generate pdf

[2019-02-13 22:11] arfon commented on #1130
@wtgee - just to confirm, are you happy to accept this submission?

[2019-02-13 22:11] arfon commented on #1216
@whedon generate pdf

[2019-02-13 22:11] whedon commented on #1216
[code]

[2019-02-13 22:12] whedon commented on #1216
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01216/joss.01216/10.21105.joss.01216.pdf)

[2019-02-14 00:09] edifice1989 commented on #1215
should we find another editor? thanks!

Ming

On Thu, Jan 31, 2019 at 8:34 PM Melissa Gymrek <notifications@github.com>
wrote:

[2019-02-14 00:45] hiendn commented on #1193
Hi @labarba, the Zenodo archive name has been changed to match the paper title 😄.

[2019-02-14 01:21] wtgee commented on #1130
Yes, LGTM!

[2019-02-14 05:25] ixjlyons commented on #1216
@yochannah I checked the last box assuming @Chilipp will make a release on PyPI soon based on the recent fixes so `pip install straditize` Just Works&trade; per the installation instructions. Should a new release be made before getting a DOI?

[2019-02-14 05:38] davekinkead commented on #1044
Hi all - I’m overseas at the moment but will be back on campus next week to action anything outstanding.

Dave

Sent from my iPhone

[2019-02-14 05:50] NelleV commented on #1248
The labels from whedon are not quite accurate: this is primarly a Python library.

[2019-02-14 06:24] JedS6391 commented on #1246
Hi there, just wondering if there's anything I can do to help this pre-review get started?

[2019-02-14 06:54] pwollstadt commented on #1081
Sorry about that. Thanks, I merged the fix into master (
https://github.com/pwollstadt/IDTxl/commit/a949f07857379727ddfab98c35074b0e8f580171).

[2019-02-14 07:24] pjotrp commented on #1215
@edifice1989 I presume you mean say reviewer?

[2019-02-14 07:27] pjotrp commented on #1248
I think they are ticked automatically. Fixed.

[2019-02-14 07:29] pjotrp commented on #1248
@robinweide can you review or suggest a reviewer? @NelleV do you know anyone in this small field who could review - you can suggest users of your tools who also write software themselves?

[2019-02-14 10:24] labarba commented on #791
👋  @MarionLegrandLogrami — We haven't heard from you in a while. What's your status? Are you planning on improving the software in view of the feedback you have received here?

[2019-02-14 10:30] labarba commented on #1194
:wave @karthik It looks like we're waiting for you to assign reviewers here. Can you have a look?

[2019-02-14 10:32] labarba commented on #1053
👋  @jason-neal — I think we're waiting on you to make some improvements here. What's your status?

[2019-02-14 10:35] labarba commented on #785
Hi @flor14 — Sure. Take your time, but ping us back here when you are ready for the review to continue.

[2019-02-14 10:40] labarba commented on #1049
👋  @krischer, @karlrupp — It looks like we're waiting for you to take a second look at this submission now, after the author's revisions. What's your status? Thanks!

[2019-02-14 10:45] jlizier commented on #1081
@whedon accept

[2019-02-14 10:45] labarba commented on #720
👋  @offray — It looks like we're waiting for and your team to make improvements in the submission before continuing the review. Can you report on your status?

[2019-02-14 10:45] whedon commented on #1081
I'm sorry @jlizier, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-02-14 10:48] jlizier commented on #1081
Ah ok, I was trying to regenerate the proof / dry run after the merge, so we can verify it then give the deposit=true line. Could you do that pls @arfon ?

[2019-02-14 10:52] labarba commented on #1155
👋 @rougier In your comment here 28 days ago you said you might be able to review this submission for JOSS? It's still waiting for reviewer assignment. Can you help us?

[2019-02-14 10:55] labarba commented on #1155
I wonder if @stefanv could help here ... Stefan: are you able to review this submission for JOSS?

[2019-02-14 11:07] labarba commented on #1193
@whedon accept

[2019-02-14 11:07] whedon commented on #1193
[code]

[2019-02-14 11:07] whedon commented on #1193
[code]

[2019-02-14 11:07] whedon commented on #1193
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/491

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/491, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-02-14 11:24] labarba commented on #1193
@hiendn — I'm going to have a few more editorial fixes to request.

¶1
that is able densely represent >> is able _to_
when d is large and sample size n >> what about the sample size? (missing a verb and parallel construction)

In general, I find the whole first page really jargon-heavy and I wonder if you would consider editing this to be more readable. E.g., what is "latent variable construction"

[2019-02-14 11:31] sgrieve commented on #1216
@yochannah I've checked the final box, after the issue in the straditize repo was closed I forgot to do it...

[2019-02-14 12:17] labarba commented on #1193
Page 2:
All of the functions that have been comprehensively documented >> delete "that"
Furthermore, the analysis of data arising from… >> Unclear how this sentence is connected with the previous and the need for "Furthermore"
complimentary >> complementary (meaning: flattering versus supportive)

It's not necessary to include the GitHub repo address or the archive address in the text, because the

[2019-02-14 12:35] labarba commented on #1164
I've added the "paused" label. Please ping us when you want us to look again.

[2019-02-14 13:09] Chilipp commented on #1216
All right @yochannah, I made a new version 0.1.1 that is available on PyPi and conda and created a release on zenodo:

[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.2565036.svg)](https://doi.org/10.5281/zenodo.2565036)

Also for the manuscript everything looks all right.

[2019-02-14 14:47] arfon commented on #1081
@whedon accept

[2019-02-14 14:47] whedon commented on #1081
[code]

[2019-02-14 14:47] whedon commented on #1081
PDF failed to compile for issue #1081 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1081 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedo

[2019-02-14 14:59] arfon commented on #1130
@whedon accept

[2019-02-14 14:59] whedon commented on #1130
No archive DOI set. Exiting...

[2019-02-14 14:59] arfon commented on #1081
@whedon check references

[2019-02-14 14:59] whedon commented on #1081
[code]

[2019-02-14 14:59] whedon commented on #1081
[code]

[2019-02-14 14:59] arfon commented on #1130
@bmorris3 - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2019-02-14 15:00] whedon commented on #1081
[code]

[2019-02-14 15:02] arfon commented on #1081
@pwollstadt - please remove `http://arxiv.org/abs/1004.2515` from the DOI field in your bibtex. Something like this should work as an entry instead.

[code]

Also, ignore the DOI suggestion here. Whedon does its best to suggest possible missing DOIs but sometimes it's wrong :-)

[2019-02-14 15:16] offray commented on #720
@labarba This is my report:

  - On [26e5a577fe](https://mutabit.com/repos.fossil/dataviz/info/26e5a577fe8e0eb5)
    - [ ] I have been working on a better decoupling Dataviz and Grafoscopio, making the last a prerrequisite of the former.
    - [x] I'm improving the documentation for a more modern approach to installation using Metacello instead of Gopher (tested and working).
  - I'm porting Grafo

[2019-02-14 15:16] bmorris3 commented on #1130
[Done](https://zenodo.org/badge/latestdoi/160124540)!

[2019-02-14 15:44] edifice1989 commented on #1215
yes. I mean reviewer. Thanks!!

On Wed, Feb 13, 2019 at 11:24 PM Pjotr Prins <notifications@github.com>
wrote:

[2019-02-14 15:46] arfon commented on #1130
@whedon set 10.5281/zenodo.2565136 as archive

[2019-02-14 15:46] whedon commented on #1130
OK. <a href="https://doi.org/10.5281/zenodo.2565136" target="_blank">10.5281/zenodo.2565136</a> is the archive.

[2019-02-14 15:46] arfon commented on #1130
@whedon accept

[2019-02-14 15:47] whedon commented on #1130
[code]

[2019-02-14 15:47] whedon commented on #1130
PDF failed to compile for issue #1130 with the following error:

 Can't find any papers to compile :-(

[2019-02-14 15:47] whedon commented on #1130
[code]

[2019-02-14 15:47] arfon commented on #1130
@whedon generate pdf

[2019-02-14 15:47] whedon commented on #1130
[code]

[2019-02-14 15:47] stefanv commented on #1155
I'd be happy to!

[2019-02-14 15:48] whedon commented on #1130
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01130/joss.01130/10.21105.joss.01130.pdf)

[2019-02-14 15:49] arfon commented on #1130
@whedon accept

[2019-02-14 15:49] whedon commented on #1130
[code]

[2019-02-14 15:49] whedon commented on #1130
[code]

[2019-02-14 15:49] whedon commented on #1130
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/492

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/492, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-02-14 15:51] arfon commented on #1130
@whedon accept deposit=true

[2019-02-14 15:51] whedon commented on #1130
[code]

[2019-02-14 15:51] labarba commented on #1155
@whedon assign @stefanv as reviewer

[2019-02-14 15:51] whedon commented on #1155
OK, the reviewer is @stefanv

[2019-02-14 15:52] whedon commented on #1130
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/493
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01130](https://doi.org/10.21105/joss.01130)
2. If everything looks go

[2019-02-14 15:52] labarba commented on #1155
Let's wait a bit before starting the reviews, to get a reply from @rougier about being a second reviewer.

[2019-02-14 15:52] whedon opened #1250 "[PRE REVIEW]: NeuroDSP: A package for neural digital signal processing"
**Submitting author:** @voytek (<a href="http://orcid.org/0000-0003-1640-2525">Bradley Voytek</a>)
**Repository:** <a href="https://github.com/neurodsp-tools/neurodsp" target ="_blank">https://github.com/neurodsp-tools/neurodsp</a>
**Version:** v1.0.0
**Editor:** @arokem
**Reviewers:** @TomDLT

**Author instructions**

Thanks for submitting your paper to JOSS @voytek. The JOSS editor @arokem, will

[2019-02-14 15:52] whedon commented on #1250
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arokem it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@arokem) to find some reviewers for yo

[2019-02-14 15:52] whedon commented on #1250
[code]

[2019-02-14 15:53] whedon commented on #1250
PDF failed to compile for issue #1250 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon/author.rb:58:in `block in build_affiliation_string': Problem with affiliations for Bradley Voytek, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon/author.rb:57:in `each

[2019-02-14 15:53] arfon commented on #1250
:wave: @arokem - the submitting author suggested you as the handling editor.

[2019-02-14 15:53] whedon opened #1251 "[PRE REVIEW]: uJVM - lightweight JVM implementation for embedded systems"
**Submitting author:** @omoliavko (<a href="http://orcid.org/0000-0003-3167-983X">Oleksandr Moliavko</a>)
**Repository:** <a href="https://github.com/Samsung/uJVM/" target ="_blank">https://github.com/Samsung/uJVM/</a>
**Version:** v0.1
**Editor:** @gkthiruvathukal
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @omoliavko. The JOSS editor @gkthiruvathukal,

[2019-02-14 15:54] whedon commented on #1251
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @gkthiruvathukal it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@gkthiruvathukal) to find som

[2019-02-14 15:54] whedon commented on #1251
[code]

[2019-02-14 15:54] whedon commented on #1251
PDF failed to compile for issue #1251 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0     71      0 --:--:-- --:--:-- --:--:--    72
Could not find bi

[2019-02-14 15:54] arfon commented on #1251
👋 @gkthiruvathukal - the submitting author suggested you as the handling editor.

[2019-02-14 15:55] arfon commented on #1251
:wave: @omoliavko thanks for your submission to JOSS. From a quick inspection of this submission it's not entirely obvious that it meets our [submission criteria](http://joss.theoj.org/about#submission_requirements). In particular, this item:

Could you confirm here that there _is_ a research application for this software (and explain what that application is)? The section [_'what should my paper

[2019-02-14 15:56] arfon commented on #1130
@wtgee - many thanks for your review here ✨

@bmorris3 - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-02-14 15:56] #1130 closed

[2019-02-14 15:56] whedon commented on #1130
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01130/status.svg)](https://doi.org/10.21105/joss.01130)

**We need your help!**

Journal of Open Source Softwar

[2019-02-14 16:20] bmorris3 commented on #1130
Thanks @wtgee and @arfon!

[2019-02-14 16:35] slithiaote commented on #1005
Yes, I updated the readme recently, but I did not have the time to comment as well. As far as I understand, @tpetricek expects to find installation instructions in `README.md` instead of `lepton.pdf`, so I included a copy of these instructions in `README.md`, as well as contributor guidelines similar to what is present in a few recent accepted JOSS papers.

The project contains two test files: an

[2019-02-14 16:46] voytek commented on #1250
Fixed affiliation quoting issue

[2019-02-14 17:25] pdwaggoner commented on #1211
Hi @yochannah - thanks again for editing this! I just wanted to check in and see if you would like me to recommend any other reviewers? Happy to help how I can. Thanks again!

[2019-02-14 17:55] cMadan commented on #1155
Thanks for your help here, @labarba!

[2019-02-14 18:36] stefanv commented on #1155
OK, I'm proceeding with the review.

[2019-02-14 19:02] stefanv commented on #1155
@labarba What is JOSS policy on content recommendations?  E.g., I have some recommended language edits, as well as experiment suggestion (since there is a benchmark included in the paper).

Here's the language diffs for the authors' consideration.  I tried not to touch your sentences other than to correct grammar.

[code]

[2019-02-14 19:15] jschnab commented on #1125
@arfon @aokad @johnlees
Hi, I added automatic replot when changing color and bar aggregation.

I made a pip package for PyPI but there is already a project called "pyms". I was going to rename my Github repository "pymsplot", can I keep the same JOSS submission? How do I update the link to the GitHub repository in the paper?

[2019-02-14 19:30] stefanv commented on #1155
## Reviewer questions

### General checks

- [x] **Repository:** Is the source code for this software available at the repository url?
- [ ] **License:** Does the repository contain a plain-text LICENSE file with the contents of an [OSI approved](https://opensource.org/licenses/alphabetical) software license?

Yes, but I wanted to verify whether this license also applies to the included optimizer.

[2019-02-14 19:32] stefanv commented on #1155
First round of review completed; awaiting feedback from editors, and then updates from authors.

[2019-02-14 20:59] whedon commented on #1081
[code]

[2019-02-14 22:28] yochannah commented on #1211
Hey @pdwaggoner! :) I will _never_ say no to such a generous offer - if you have suggestions, please go ahead! 👍

[2019-02-15 01:40] whedon commented on #1081
[code]

[2019-02-15 01:53] tpetricek commented on #1214
This looks like a nice project! I'd try asking @cgravill or maybe @sylvanc.

[2019-02-15 03:33] hiendn commented on #1193
@whedon check references

[2019-02-15 03:33] whedon commented on #1193
[code]

[2019-02-15 03:33] whedon commented on #1193
[code]

[2019-02-15 03:33] hiendn commented on #1193
@whedon generate pdf

[2019-02-15 03:33] whedon commented on #1193
[code]

[2019-02-15 03:34] whedon commented on #1193
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01193/joss.01193/10.21105.joss.01193.pdf)

[2019-02-15 03:41] hiendn commented on #1193
Hi @labarba, thank you for the very comprehensive technical editing of the paper! 🙇 Your careful reading and many suggestions have been incredibly helpful in my reorganisation of the paper to be more suitable for the lay audience of the journal. Please find my responses to your comments, below. I hope that I have addressed all of your concerns . 😄

**@hiendn — I'm going to have a few more editoria

[2019-02-15 07:50] omoliavko commented on #1251
.search-word {
	BACKGROUND-COLOR: #ffee94
}
P {
	MARGIN-BOTTOM: 5px; FONT-SIZE: 10pt; FONT-FAMILY: Arial, arial; MARGIN-TOP: 5px
}
TD {
	MARGIN-BOTTOM: 5px; FONT-SIZE: 10pt; FONT-FAMILY: Arial, arial; MARGIN-TOP: 5px
}
LI {
	MARGIN-BOTTOM: 5px; FONT-SIZE: 10pt; FONT-FAMILY: Arial, arial; MARGIN-TOP: 5px
}
BODY {
	FONT-SIZE: 10pt; FONT-FAMILY: Arial, arial
}

P {
	MARGIN-BOTTOM: 5px; FONT-SIZE: 10p

[2019-02-15 07:52] pwollstadt commented on #1081
Thanks! :) I fixed the arxiv reference and left everything else as is in
https://github.com/pwollstadt/IDTxl/commit/de4ed33770311ba566c74d2f88fcafbecefcd6f5

[2019-02-15 09:08] cMadan commented on #1235
@andrewheusser, sooner is good, but it's also flexible. In all likelihood, you'll have some comments that will take the authors time to work on for a week or two, and then will need to look again and see if sufficiently revised. That back-and-forth can go on for just a week or two, or sometimes is more intermittent over a few months, it all depends how responsive both the authors and reviewer are.

[2019-02-15 09:08] rafat commented on #1237
@grlee77 There are a few  minor issues with .rst files n the doc/source folder that are causing test_doc.py to fail when I run it manually from the folder. For example, line 335 of expected value has "Short name:     db" but the code correctly returns "Short name:     gaus" .  There are no issues with the Python code as far as can I tell but you may want to take a look at the .rst files.

[2019-02-15 09:10] cMadan commented on #1081
@whedon check references

[2019-02-15 09:10] whedon commented on #1081
[code]

[2019-02-15 09:10] whedon commented on #1081
[code]

[2019-02-15 09:49] labarba commented on #1193
Thanks, @hiendn.

¶1
The FVBM was  first in Hyvarinen (2006) >> missing verb?

[2019-02-15 09:57] hiendn commented on #1193
@labarba haha thanks for spotting the typo; 'considered' was the missing verb. Now included. Its amazing what you end up mentally filling in when you proof read your own writing.

[2019-02-15 10:00] labarba commented on #1193
@whedon accept

[2019-02-15 10:00] whedon commented on #1193
[code]

[2019-02-15 10:00] whedon commented on #1193
[code]

[2019-02-15 10:01] whedon commented on #1193
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/494

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/494, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-02-15 10:04] labarba commented on #1193
@whedon accept deposit=true

[2019-02-15 10:04] whedon commented on #1193
[code]

[2019-02-15 10:05] whedon commented on #1193
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/495
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01193](https://doi.org/10.21105/joss.01193)
2. If everything looks go

[2019-02-15 10:08] labarba commented on #1193
Congratulations, @hiendn, your paper is now published!

And sincere thanks to the handling editor, @yochannah, and the reviewers, @ja-thomas, and @schalkdaniel 🙏

[2019-02-15 10:08] #1193 closed

[2019-02-15 10:08] whedon commented on #1193
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01193/status.svg)](https://doi.org/10.21105/joss.01193)

**We need your help!**

Journal of Open Source Softwar

[2019-02-15 10:28] seabbs commented on #1219
@trallard

I was wondering if It was okay to do development work whilst awaiting/under review? I have the next version [changes prepped](https://github.com/seabbs/getTBinR/projects/2) and just waiting on this to implement (some time has come up whilst I avoid writing my thesis :)).

Thanks!

[2019-02-15 10:47] Chilipp commented on #1157
Thanks @danielskatz for your clarification on this topic. @justinalsing states above (https://github.com/openjournals/joss-reviews/issues/1157#issuecomment-459128351)

Would this be sufficient for an acceptance in JOSS? Because the feeling of @taqtiqa-mark and me is that there should be some more tests implemented (see https://github.com/justinalsing/dlmmc/issues/5)

[2019-02-15 10:56] justinalsing commented on #1157
Hi @Chilipp and @danielskatz ,

Thanks for your detailed comments and for solidifying the action-points into concrete issues, I'll get to these ASAP.

Thanks for re-raising exactly what is sufficient for JOSS acceptance re tests. Given Daniel's comment about manual vs automated tests, I was going to suggest that the path of least resistance for me would be to beef up the tutorial to (a) have secti

[2019-02-15 10:57] poulson commented on #1240
@benjaminwilson Hi Benjamin, I am still relatively new to `whedon`'s `check references`, but you might try mirroring the DOI formatting of a recently completed review, such as https://github.com/sivaramambikasaran/HODLR/blob/master/docs/paper/paper.bib.

The DOI links are surrounded by curly braces and only contain the latter part of the address. Could you try this approach to see if the DOI's are

[2019-02-15 11:07] benjaminwilson commented on #1240
Hi! The problem is rather that I can't find the DOIs for those articles anywhere.

[2019-02-15 11:26] arokem commented on #1250
Yep. I can take this one!

@voytek : do you have any ideas for potential reviewers?

[2019-02-15 11:29] arokem commented on #1171
Yes. This submission is hard enough to review as it is, and the number of potential reviewers so small, that I think that we should go ahead with that in mind. Considering the review is open, it will be straightforward to see that the review is being done in earnest, despite COI.

[2019-02-15 12:27] andrewheusser commented on #1235
Sounds good - I'll start it Tuesday morning and hopefully have it done within a few days after that.  Is there a guide/checklist I should follow?

[2019-02-15 12:35] miykael commented on #1235
Hi @andrewheusser - thank you for reviewing this. And thank you for starting it so quickly. I will respond to your review and comments as quickly as possible.

@cMadan might know of some additional guide/checklist, but I think the main one from JOSS is here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2019-02-15 13:13] pdwaggoner commented on #1211
Awesome @yochannah . A couple other folks could be @benmarwick or @mbod if they are willing. Let me know if you need anything else in the process!

[2019-02-15 13:15] danielskatz commented on #1157
I believe this would be reasonable.

[2019-02-15 13:18] benjaminwilson commented on #1240
@whedon check references

[2019-02-15 13:18] whedon commented on #1240
[code]

[2019-02-15 13:18] whedon commented on #1240
[code]

[2019-02-15 13:50] justinalsing commented on #1157
Great - I'll wait for confirmation from the reviewers @Chilipp and @taqtiqa-mark that they would be satisfied with this and then go ahead and implement

[2019-02-15 14:08] benjaminwilson commented on #1240
whedon sure does come up with some crazy suggestions for what the missing DOI might be!

[2019-02-15 14:48] evan-l-munson commented on #764
@kbenoit I think I have renamed the vignette but still need to run through some checks.  I'm not sure if the `SAoTD.Rmd` is a holdover from when I changed the name of the package to `saotd`.

I haven't had a chance to work on removing the rcpp items but hope to get to that later this weekend.

Again thanks for the help!

[2019-02-15 14:49] arfon commented on #1125
I can do this. Please go ahead and change the name and I'll update the details here.

[2019-02-15 15:25] grlee77 commented on #1237
Thanks for pointing that out. It seems the tests in that file were being skipped by our CI scripts. I have fixed the failures and made sure TravisCI is running these tests in PyWavelets/pywt#463.

[2019-02-15 16:16] mir-am commented on #1155
Hi

We thank the reviewer for his valuable comments and suggestions.
We will carefully revise the paper and LightTwinSVM program according to the reviewer's comments.

We share our responses to the comments as soon as all the reviewer's comments are addressed.

Regards,
Mir

[2019-02-15 16:37] chris-prener commented on #1221
Thanks so much for the feedback @edzer - we can make these changes!

[2019-02-15 16:51] douglasvb commented on #434
Just saw these comments a year too late.  For whatever reason, I never was notified.  Is there interest from JOSS to have us fix the error and re-open the review?

[2019-02-15 17:01] labarba commented on #1155
Folks, this is the Pre-Review issue. We need to move to the Review issue for these conversations. I didn't hear back from @rougier, so let's rely on the expert review by @stefanv, and let me start the Review now.

[2019-02-15 17:02] labarba commented on #1155
@whedon start review

[2019-02-15 17:02] whedon opened #1252 "[REVIEW]: LightTwinSVM: A Simple and Fast Implementation of Standard Twin Support Vector Machine Classifier"
**Submitting author:** @mir-am (<a href="http://orcid.org/0000-0002-9818-7752">A. Mir</a>)
**Repository:** <a href="https://github.com/mir-am/LightTwinSVM" target ="_blank">https://github.com/mir-am/LightTwinSVM</a>
**Version:** v0.6.0
**Editor:** @cMadan
**Reviewer:** @stefanv @rougier
**Archive:** <a href="https://doi.org/10.5281/zenodo.2619436" target="_blank">10.5281/zenodo.2619436</a>

## Sta

[2019-02-15 17:02] whedon commented on #1155
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1252. Feel free to close this issue now!

[2019-02-15 17:02] whedon commented on #1252
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @stefanv it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2019-02-15 17:02] whedon commented on #1252
[code]

[2019-02-15 17:03] whedon commented on #1252
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01252/joss.01252/10.21105.joss.01252.pdf)

[2019-02-15 17:03] #1155 closed

[2019-02-15 17:04] labarba commented on #1252
@stefanv — Can I ask you to copy over your review comments here?
https://github.com/openjournals/joss-reviews/issues/1155#issuecomment-463760234

[2019-02-15 17:04] labarba commented on #1252
This one too
https://github.com/openjournals/joss-reviews/issues/1155#issuecomment-463750224

[2019-02-15 17:07] labarba commented on #1252
_Why_, you may ask? We're looking into ways of exporting the Review issues into an archival form, to preserve and link to the published articles. (But not the Pre-Review issue, whose purpose is to find editors and reviewers, or occasionally make a desk rejection if the submission is out of scope).

Also, @stefan, you have a Reviewer checklist here, and you have automatically been added as a collab

[2019-02-15 17:09] labarba commented on #1252
On this question, @stefanv

You should feel free to make content recommendations, and also language edits (I do these all the time!).

[2019-02-15 17:25] Kevin-Mattheus-Moerman commented on #434
I believe we should be able to reopen the review process, provided this time you can commit to keeping track of this issue and to responding to reviewers in a timely manor. @arfon can you confirm?

[2019-02-15 17:33] douglasvb commented on #434
@Kevin-Mattheus-Moerman I'm checking with @zmimlitz to see about getting the code fixed.  Perhaps it would be appropriate for us to fix the issue first before we have you reopen the review.

I believe the issue was the instructions for compiling the code wasn't working?  Was there anything else that we should address?

[2019-02-15 18:20] rougier commented on #1155
@labarba @stefanv Sorry for the delay but I was waiting for the actual review thread to be opened. Did I miss something ? (for me we were still in the pre-review stage)

[2019-02-15 18:21] rougier commented on #1252
@labarba Catching up. I can try do to the review by end of next week if it is still relevant.

[2019-02-15 18:22] labarba commented on #1252
Thank you, @rougier! I can add you as reviewer here.

[2019-02-15 18:23] rougier commented on #1252
Perfect. I'll try to do it this Sunday (but no promise). By end of next week for sure.

[2019-02-15 18:24] labarba commented on #1252
Your checklist is now added. If you have reviewed before for JOSS, you should already have repo permissions to edit the checklist. Let me know if you run into any trouble.

[2019-02-15 18:25] labarba commented on #1155
Yes, you are right. But I needed an affirmation from you to be added as reviewer. If I add you in the Pre-Review issue, then `whedon` automatically adds a review checklist for you in the Review issue, and adds permissions for you to edit (if you don't have them already).

[2019-02-15 18:41] stefanv commented on #1252
Some language recommendations.  I tried not to touch your sentences other than to correct grammar.

<details>

[code]

</details>
<br/>

**Benchmark recommendation:** include the standard deviation of the cross-validation comparisons with `scikit-learn` — these are generally much more convincing than single runs.

[2019-02-15 18:47] stefanv commented on #1252
- **License:** Does the repository contain a plain-text LICENSE file with the contents of an [OSI approved](https://opensource.org/licenses/alphabetical) software license?

Yes, but I wanted to verify whether this license also applies to the included optimizer.

Potential license breach through publication of datasets without attribution:

https://archive.ics.uci.edu/ml/citation_policy.html

- **I

[2019-02-15 18:49] rougier commented on #1252
I've started the review (and post an issue on the repo because I cannot build it). In the meantime and to parallelize things here are a few comments and questions:

* In the paper, the legend of the figures 1 & 2 could benefit from a better caption. As they stand, they do not really help i finding what is to be seen.
* who is the second author (since you have made all the commits, what is his role

[2019-02-15 18:53] arfon commented on #434
There could potentially be much more work to do here as @agrignard looks to have only just started their review.

@Kevin-Mattheus-Moerman - we can reopen this issue yes, but I think we should get a 👍 from @agrignard that they are still willing to review this submission. If not, @douglasvb I think you need to resubmit.

[2019-02-15 19:02] whedon opened #1253 "[PRE REVIEW]: pyro: a framework for hydrodynamics explorations and prototyping"
**Submitting author:** @harpolea (<a href="http://orcid.org/0000-0002-1530-781X">Alice Harpole</a>)
**Repository:** <a href="https://github.com/python-hydro/pyro2" target ="_blank">https://github.com/python-hydro/pyro2</a>
**Version:** 3.0
**Editor:** @labarba
**Reviewers:** @mikaem, @ngoldbaum

**Author instructions**

Thanks for submitting your paper to JOSS @harpolea. The JOSS editor Pending, w

[2019-02-15 19:02] whedon commented on #1253
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-02-15 19:02] whedon commented on #1253
[code]

[2019-02-15 19:02] whedon commented on #1253
PDF failed to compile for issue #1253 with the following error:

 Can't find any papers to compile :-(

[2019-02-15 19:03] whedon opened #1254 "[PRE REVIEW]: Phobos: A tool for creating complex robot models"
**Submitting author:** @Amudtogal (<a href="http://orcid.org/0000-0002-0190-9780">Simon Reichel</a>)
**Repository:** <a href="https://github.com/dfki-ric/phobos" target ="_blank">https://github.com/dfki-ric/phobos</a>
**Version:** 1.0.0 &quot;Capricious Choutengan&quot;
**Editor:** @gkthiruvathukal
**Reviewers:** @CameronDevine, @trallard

**Author instructions**

Thanks for submitting your paper

[2019-02-15 19:03] whedon commented on #1254
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-02-15 19:03] whedon commented on #1254
[code]

[2019-02-15 19:03] whedon commented on #1254
PDF failed to compile for issue #1254 with the following error:

 Can't find any papers to compile :-(

[2019-02-15 19:03] douglasvb commented on #434
If you're willing to bear with us a little, I think we should be able to respond to issues as they come up in the review process.  I'm working the installation instructions issue now.

Again, apologies that we dropped the ball on the initial review.

[2019-02-15 19:36] eendebakpt commented on #1097
@danielskatz @gsagnol @djmitche @alanrvazquez Thank you again for reviewing our package and providing valuable feedback. In a series of PRs we addressed the comments you had. The changes have been merged to the dev branch and there a a new release on pypi. Can you take the time to review the package once more?

[2019-02-15 19:48] cMadan commented on #1252
@stefanv @rougier, thank you both for agreeing to review this submission! Where relevant, please direct your JOSS-related questions to me, as the editor for this submission. @labarba helped out here in getting things started, but she's one of the Associated Editor-in-Chief's and edits other submissions, so we don't want to have her answer all the questions--that's part of my role here.

@labarba,

[2019-02-15 19:57] danielskatz commented on #1208
👋 @lrasmus & @CBenghi - can I get an update from you on where you are in your reviews, in response to @brogly's changes?

[2019-02-15 19:58] danielskatz commented on #1188
@cbjuan - any thoughts on @malmaud's comment above?

[2019-02-15 20:01] danielskatz commented on #1188
@naberek - can I get an update from you?

[2019-02-15 21:08] ygrange commented on #1234
Just letting you know I got a bit delayed because I had some issues installing mpi4py on my centos test container. Now I have a running version and I can have a look at functionality.

[2019-02-15 21:15] fonnesbeck commented on #1229
@1313e the test suite fails on both Linux and macOS for me. `pytest` does not like the arguments:

    pytest: error: unrecognized arguments: --mpl --pep8

[2019-02-15 21:40] fonnesbeck commented on #1229
I'm having problems running the example model. See 1313e/PRISM#7

[2019-02-15 21:57] jfsantos commented on #1166
Hello all, I just started my review. The version I get from Github is 1.1.0 but the review form says 1.0.0. The paper doesn't mention a specific version, so I guess that is a non-issue?

[2019-02-15 22:05] jfsantos commented on #1166
Other minor issues:

- [ ] Most of the references are missing a DOI.
- [ ] Figure 1 is mentioned in the text as appearing right below the text, but is actually rendered on the next page. Please fix the text and point the reader to Figure 1 instead of assuming it is going to be rendered on a specific position.

[2019-02-15 22:06] lrasmus commented on #1208
@danielskatz - making progress.  @CBenghi is rocking it reporting technical issues/considerations (https://github.com/litrl/litrl_code/issues).  I am finding some documentation gaps that I am opening issues for in the repo as well.

[2019-02-15 22:10] jfsantos commented on #1166
Another question:

- The paper only describe examples of note events on MIDI, but the protocol/format deals with a lot more than just note events (like velocity changes, communication with multiple instruments in different channels, etc). Does the software address these other events? Is it future work or do the maintainers have no interest in supporting those?

[2019-02-15 22:15] mgymrek commented on #1145
@whedon set 10.5281/zenodo.2555032 as archive

[2019-02-15 22:15] whedon commented on #1145
OK. <a href="https://doi.org/10.5281/zenodo.2555032" target="_blank">10.5281/zenodo.2555032</a> is the archive.

[2019-02-15 22:16] mgymrek commented on #1145
@wedon set v1.1.2 as version

[2019-02-15 22:16] mgymrek commented on #1145
@whedon set v1.1.2 as version

[2019-02-15 22:16] whedon commented on #1145
OK. v1.1.2 is the version.

[2019-02-15 22:20] Datseris commented on #1166
Thank you for the review @jfsantos .

Please read the latest version of the pdf, where this issue is fixed. whendon will compile a new one for you now. Towards my side there is only two issues: remove references with missing DOIs and answer the question:

The core MIDI protocol is already implemented in MIDI.jl. These details far exceed the scope of a publication and are not discussed in the paper

[2019-02-15 22:21] Datseris commented on #1166
@whendon generate pdf

[2019-02-15 22:21] Datseris commented on #1166
@whedon generate pdf

[2019-02-15 22:21] whedon commented on #1166
[code]

[2019-02-15 22:22] whedon commented on #1166
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01166/joss.01166/10.21105.joss.01166.pdf)

[2019-02-15 22:22] mgymrek commented on #1144
@stevendavis this looks good. Can you add DOIs for the two paper references?

[2019-02-15 22:24] mgymrek commented on #1215
@whedon assign @byandell as reviewer

[2019-02-15 22:25] whedon commented on #1215
OK, the reviewer is @byandell

[2019-02-15 22:25] mgymrek commented on #1215
@whedon start review

[2019-02-15 22:25] whedon opened #1255 "[REVIEW]: Compare Expression Profiles for Pre-defined Gene Groups with C-REx"
**Submitting author:** @edifice1989 (<a href="http://orcid.org/0000-0002-8164-2480">Mingze He</a>)
**Repository:** <a href="https://github.com/edifice1989/rocker-c-rex" target ="_blank">https://github.com/edifice1989/rocker-c-rex</a>
**Version:** v1.0
**Editor:** @mgymrek
**Reviewer:** @byandell
**Archive:** <a href="https://doi.org/10.5281/zenodo.2651751" target="_blank">10.5281/zenodo.2651751</a

[2019-02-15 22:25] whedon commented on #1215
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1255. Feel free to close this issue now!

[2019-02-15 22:25] whedon commented on #1255
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @byandell it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-02-15 22:25] whedon commented on #1255
[code]

[2019-02-15 22:26] whedon commented on #1255
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01255/joss.01255/10.21105.joss.01255.pdf)

[2019-02-15 22:26] mgymrek commented on #1255
quoting from @byandell: "It is a nice application, but I think these methods are fairly standard. It allows comparison of two pre-determined groups, but often this is the start of much more intense investigation, and I don't see how to use the Shiny app beyond doing t-tests. The Shiny app appears quite polished in many ways, although I got an error with Wilcoxon test for between sample comparison,

[2019-02-15 22:27] mgymrek commented on #1048
thanks @timClicks! I am going to move this over to a review thread

[2019-02-15 22:28] mgymrek commented on #1048
@whedon assign @timClicks as reviewer

[2019-02-15 22:28] whedon commented on #1048
OK, the reviewer is @timClicks

[2019-02-15 22:28] mgymrek commented on #1048
@whedon start review

[2019-02-15 22:28] whedon opened #1256 "[REVIEW]: TextWiller: collection of text mining utilities, specially devoted to the Italian language"
**Submitting author:** @scan2001 (<a href="http://orcid.org/0000-0001-5621-5463">andrea sciandra</a>)
**Repository:** <a href="https://github.com/livioivil/TextWiller" target ="_blank">https://github.com/livioivil/TextWiller</a>
**Version:** v1.0
**Editor:** @mgymrek
**Reviewer:** @timClicks
**Archive:** <a href="https://doi.org/10.5281/zenodo.3381523" target="_blank">10.5281/zenodo.3381523</a>

#

[2019-02-15 22:28] whedon commented on #1048
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1256. Feel free to close this issue now!

[2019-02-15 22:28] whedon commented on #1256
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @timClicks it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-02-15 22:28] whedon commented on #1256
[code]

[2019-02-15 22:28] whedon commented on #1256
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01256/joss.01256/10.21105.joss.01256.pdf)

[2019-02-15 22:29] mgymrek commented on #1256
Copying from the pre-review thread from @timClicks :

Hi @scan2001, thanks for the paper submission. I'm not officially an assigned reviewer, but I've taken a quick look at the paper.

Let me start by saying that it's excellent to see NLP contributions to non-English languages.

**Prior art**

However, there are many text mining packages available, even sticking within the R community. I wonder if

[2019-02-15 22:30] mgymrek commented on #1256
@timClicks thanks for starting the review! would you also be able to fill out the checklist here?

[2019-02-15 22:33] edifice1989 commented on #1255
Thanks for the feedback from @byandell !

To  @byandell <https://github.com/byandell>:

Could you tell me a little bit more about which test data you used for
Wilcoxon test for between sample comparison?

Thank you very much!!

Ming

On Fri, Feb 15, 2019 at 2:26 PM Melissa Gymrek <notifications@github.com>
wrote:

[2019-02-15 22:36] jfsantos commented on #1166
Maybe just mention this somewhere in the paper or documentation? I tried to find it but on a quick search did not find anything mentioning events that were not notes.

Sounds good, and I don't think this needs to be mentioned anywhere.

[2019-02-15 22:52] Datseris commented on #1166
I am not sure I agree with this statement, because this is already mentioned in the documentation. Here is my justification:

Searching the documentation (using the search bar) for "META EVENT" brings me here: https://juliamusic.github.io/JuliaMusic_documentation.jl/dev/midi/io/#MIDI.TrackEvent which lists clearly (at least I believe so) the existence of and how to create or read META/MIDI/SysEx e

[2019-02-15 23:03] Datseris commented on #1166
@whedon generate pdf

[2019-02-15 23:03] whedon commented on #1166
[code]

[2019-02-15 23:04] whedon commented on #1166
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01166/joss.01166/10.21105.joss.01166.pdf)

[2019-02-15 23:05] Datseris commented on #1166
Alright, I have fixed the missing DOIs. Now all cited literature includes a DOI.

[2019-02-15 23:28] jfsantos commented on #1166
I updated the checkboxes for the minor issues and review accordingly. I don't know what are the specific guidelines for versioning on JOSS but the paper does not describe which version of MIDI.jl it is talking about.

[2019-02-15 23:37] Datseris commented on #1166
Ideally I would like this paper to be associated with version 1.1.0. I have added an explicit statement about this in the manuscript now. Of course, it falls into the hands of @Kevin-Mattheus-Moerman whether this will be accepted and further more implemented, as it falls beyond my power to make such a change on `whedon`.

[2019-02-16 01:58] 1313e commented on #1229
@fonnesbeck You will have to install all requirements in `requirements_dev.txt` before running the pytests.

[2019-02-16 02:05] brogly commented on #1208
@whedon generate pdf

[2019-02-16 02:05] whedon commented on #1208
[code]

[2019-02-16 02:06] whedon commented on #1208
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01208/joss.01208/10.21105.joss.01208.pdf)

[2019-02-16 02:07] brogly commented on #1208
@CBenghi @lrasmus - Added a newly assigned DOI for one of the references

[2019-02-16 04:50] voytek commented on #1250
The most obvious would be Alexandre Gramfort (alexandre.gramfort@inria.fr), who is the first author on MNE, and Denis Engemann (denis.engemann@googlemail.com) who is also an MNE dev. Both have significant electrophysiology and Python experience.

[2019-02-16 10:31] karlrupp commented on #1049
Thanks, @labarba , for asking. I'm not sure from the discussion whether the second round of review has started yet (the last post by the author says "I've almost finished the tests,", suggesting that there's still more to come; no reply to the last question by @jedbrown )

[2019-02-16 10:34] labarba commented on #1049
Thanks, @karlrupp.

@DavideNardone — What's your status with revisions? The handling editor asked about performance results. Let us know!

[2019-02-16 10:46] labarba commented on #1213
I don't think this submission is ready to be assigned an editor and begin review.

First, @arfon, should JOSS consider an analysis pipeline using Excel as "open source software"? Is it even "software"?

Second, the repository contains a `paper.md` file, but it does not conform to the JOSS requirements. The author needs to read and follow the [submission guidelines](https://joss.readthedocs.io/en/l

[2019-02-16 11:11] labarba commented on #1242
@whedon set @labarba as editor

[2019-02-16 11:16] labarba commented on #1242
@whedon assign @labarba as editor

[2019-02-16 11:16] whedon commented on #1242
OK, the editor is @labarba

[2019-02-16 13:20] trallard commented on #1219
Dear reviewers,

@stulacy Stuart are you able and willing to take this review?
@rrrlw Raul are you able and willing to take this review?
@strengejacke Daniel are you able and willing to take this review?
@noamross Noam are you able and willing to take this review?
@maelle MaëlleMaëlle are you able and willing to take this review?
@darokun Daloha are you able and willing to take this review?

**Tit

[2019-02-16 13:21] trallard commented on #1219
@seabbs yes that is perfectly fine, we will just update the version after those improvements and the review

Once two or more reviewers have agreed to help out we can proceed with the review process

[2019-02-16 13:22] trallard commented on #1191
@whedon  set 10.5281/zenodo.2562630 as archive

[2019-02-16 13:22] trallard commented on #1191
@whedon set 0.2.3 as version

[2019-02-16 13:22] whedon commented on #1191
OK. 0.2.3 is the version.

[2019-02-16 13:23] trallard commented on #1191
@ixjlyons all looks good to me so I am going to proceed for acceptance

@lucask07 and @peircej thanks a lot for your time and valuable contribution to JOSS as reviewers for this submission 🙌🏻

@arfon: this submission is accepted and ready to be published 🎉👾

[2019-02-16 13:24] trallard commented on #1191
@whedon set 10.5281/zenodo.2562630 as archive

[2019-02-16 13:24] whedon commented on #1191
OK. <a href="https://doi.org/10.5281/zenodo.2562630" target="_blank">10.5281/zenodo.2562630</a> is the archive.

[2019-02-16 13:25] trallard commented on #1065
@aslakbergersen is there any update with regards to the status of this? Have all the reviewers concerns been addressed?

[2019-02-16 13:31] rrrlw commented on #1219
I would be happy to review this submission.

[2019-02-16 14:30] labarba commented on #1242
@cboettig — Would you be willing to contribute a review for JOSS on this submission? The software (Rclean) is one of the tools used for code curation in the workflow manager `encapsulator`, which you reviewed for _CiSE_ last year (same group of authors). Your expertise would be ideal here!

[2019-02-16 15:11] cMadan commented on #1235
@andrewheusser, great! I'll start the actual review process then

[2019-02-16 15:11] cMadan commented on #1235
@whedon assign @andrewheusser as reviewer

[2019-02-16 15:11] whedon commented on #1235
OK, the reviewer is @andrewheusser

[2019-02-16 15:12] cMadan commented on #1235
@whedon start review

[2019-02-16 15:12] whedon opened #1257 "[REVIEW]: AtlasReader: A Python package to generate coordinate tables, region labels, and informative figures from statistical MRI images"
**Submitting author:** @miykael (<a href="http://orcid.org/0000-0002-5866-047X">Michael Philipp Notter</a>)
**Repository:** <a href="https://github.com/miykael/atlasreader" target ="_blank">https://github.com/miykael/atlasreader</a>
**Version:** v0.1.0
**Editor:** @cMadan
**Reviewer:** @andrewheusser
**Archive:** <a href="https://doi.org/10.5281/zenodo.2575731" target="_blank">10.5281/zenodo.25757

[2019-02-16 15:12] whedon commented on #1235
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1257. Feel free to close this issue now!

[2019-02-16 15:12] whedon commented on #1257
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @andrewheusser it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probab

[2019-02-16 15:12] whedon commented on #1257
[code]

[2019-02-16 15:12] #1235 closed

[2019-02-16 15:12] whedon commented on #1257
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01257/joss.01257/10.21105.joss.01257.pdf)

[2019-02-16 15:18] labarba commented on #1246
👋  @gkthiruvathukal — This JOSS submission looks like something you could handle as editor, no? I will assign you, but let me know if I can help you in any way!

[2019-02-16 15:19] labarba commented on #1246
@whedon assign @gkthiruvathukal as editor

[2019-02-16 15:19] whedon commented on #1246
OK, the editor is @gkthiruvathukal

[2019-02-16 15:24] labarba commented on #1253
@whedon generate pdf

[2019-02-16 15:24] whedon commented on #1253
[code]

[2019-02-16 15:25] whedon commented on #1253
PDF failed to compile for issue #1253 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0    206      0 --:--:-- --:--:-- --:--:--   207
Error producing P

[2019-02-16 15:31] labarba commented on #1254
@whedon generate pdf

[2019-02-16 15:31] whedon commented on #1254
[code]

[2019-02-16 15:31] whedon commented on #1254
PDF failed to compile for issue #1254 with the following error:

 Can't find any papers to compile :-(

[2019-02-16 15:34] labarba commented on #1253
It looks like something is failing with the embedded LaTeX symbol in this line:

Can you investigate, @harpolea? You could try `\ast` instead?

You can then recompile the paper yourself with the command `@whedon generate pdf` in a comment here.

[2019-02-16 15:36] labarba commented on #1254
👋  @Amudtogal — You will need to rename your paper file as `paper.md` for out bot to find it!

[2019-02-16 17:40] jschnab commented on #1125
@arfon I uploaded the PyMS package on PyPI under the name pyms-plot. I changed the name of the repository on GitHub to pyms-plot.

[2019-02-16 18:42] aslakbergersen commented on #1065
@trallard thank you for the follow-up. We are still working on moving `vmtk` over to conda-forge as requested by @brainstorm, such that also `morphMan` can be added to conda-forge. However, it has proven to be a bit challenging, and it is not finished yet, but is work in progress. To follow the progress, please see conda-forge/staged-recipes/pull/7609.

[2019-02-16 18:57] fonnesbeck commented on #1229
Yes, at the moment the install instructions do not mention `requirements_dev`. Thanks.

[2019-02-16 19:25] sjsrey commented on #1221
Well designed and documented package that extends important functionality for areal interpolation. A couple of points the authors may want to consider - these are not show stoppers by any means just food for thought and perhaps future extensions:

* Scaling: the current examples are well crafted and illustrate the core functionality. At the same time `n` is fairly modest here and one wonders if th

[2019-02-16 20:01] Amudtogal commented on #1254
@wedon commands

On 15.02.19 11:03, whedon wrote:

--
Simon V Reichel
MPhil Student
Department of Zoology
University of Cambridge

[2019-02-16 21:50] arfon commented on #1191
@whedon accept

[2019-02-16 21:50] whedon commented on #1191
[code]

[2019-02-16 21:50] whedon commented on #1191
[code]

[2019-02-16 21:51] whedon commented on #1191
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/496

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/496, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-02-16 22:07] arfon commented on #1191
@whedon accept deposit=true

[2019-02-16 22:07] whedon commented on #1191
[code]

[2019-02-16 22:07] whedon commented on #1191
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/497
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01191](https://doi.org/10.21105/joss.01191)
2. If everything looks go

[2019-02-16 22:20] arfon commented on #1191
@lucask07, @peircej - many thanks for your reviews and to @trallard for editing this submission ✨

@ixjlyons - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-02-16 22:21] arfon commented on #1191
@trallard - in the future could you please ping @openjournals/joss-eics when a review is complete? That way, the managing editor on duty can process the submission.

[2019-02-16 22:21] #1191 closed

[2019-02-16 22:21] whedon commented on #1191
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01191/status.svg)](https://doi.org/10.21105/joss.01191)

**We need your help!**

Journal of Open Source Softwar

[2019-02-16 22:24] arfon commented on #1125
@jschnab - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2019-02-16 22:51] djmitche commented on #1097
:heavy_check_mark: from me

[2019-02-17 00:38] 1313e commented on #1229
@fonnesbeck Alright, I have added it to the README.
I have also "fixed" 1313e/PRISM#7.

[2019-02-17 07:22] pjotrp commented on #1201
@dleehr is this really a blocker?

[2019-02-17 11:16] whedon opened #1258 "[PRE REVIEW]: `tqdm`: A Fast, Extensible Progress Meter for Python and CLI"
**Submitting author:** @casperdcl (<a href="http://orcid.org/0000-0002-7211-1557">da Costa-Luis, Casper O.</a>)
**Repository:** <a href="https://github.com/tqdm/tqdm" target ="_blank">https://github.com/tqdm/tqdm</a>
**Version:** v4.31.1
**Editor:** @cMadan
**Reviewers:** @GregaVrbancic, @Benjamin-Lee

**Author instructions**

Thanks for submitting your paper to JOSS @casperdcl. The JOSS editor Pe

[2019-02-17 11:16] whedon commented on #1258
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-02-17 11:16] whedon commented on #1258
[code]

[2019-02-17 11:16] whedon commented on #1258
PDF failed to compile for issue #1258 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: affiliations, bibliography (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/g

[2019-02-17 11:26] labarba commented on #1258
@casperdcl — The `paper.md` file does not conform to the JOSS requirements. Please re-read and follow the [submission guidelines](https://joss.readthedocs.io/en/latest/submitting.html) to prepare a `paper.md` with the needed metadata (the bibliography needs to go in a .bib file).

Very cool project… but for the purposes of a JOSS review, we will need your paper to address the research application

[2019-02-17 13:00] #1215 closed

[2019-02-17 13:02] casperdcl commented on #1258
@labarba thanks for your comments. I did indeed read the submission guidelines thoroughly and expected a discussion.

1. Does `paper.md` and/or `paper.bib` have to be located in the root of the repository? I am very hesitant to clutter the root (which is why I put the bib in-place. The guidelines did not explicitly forbid this). Ideally I can put all materials in a `paper` subfolder. Even better,