[2021-05-28 01:25] giswqs commented on #3168
@davemlz Thanks for your prompt response.
@kbarnhart I think the submission is ready to be accepted.

[2021-05-28 05:01] soodoku commented on #3054
Well done, @AlexanderFabisch!

I have heartache about original implementations of a bunch of fundamental things, starting with something as trivial as mahalanobis distance. It is generally a bad idea as there are always lots of edge cases that the Python codebase would generally go over.

I cannot do a line-by-line analysis of whether core functionality has been correctly implemented in a reasonab

[2021-05-28 05:44] whedon commented on #3284
:wave: @sneakers-the-rat, please update us on how your review is going (this is an automated reminder).

[2021-05-28 05:57] adi3 commented on #2990
@jkbren Where can users go, or who can they contact, for support? Can you add a line on this in your README.md or CONTRIBUTING.md?

[2021-05-28 06:51] mikldk commented on #3054
@inakleinbottle, @soodoku: Thanks to your both.

@AlexanderFabisch :

* Please have a final read though of the paper, checking language etc.
* Have a final check of the proofs with `@whedon generate pdf`
* In general, be sure that all versions are correct and that the repo is in the state that should be published.
* Please make a tagged release and archive (e.g. with [Zenodo](https://zenodo.org/))

[2021-05-28 07:48] gro5-AberUni commented on #3279
@hugoledoux Thank you for including the newer citation, I will update the paper to reflect that.

The main difference between the plugin we present here and the Semi Automatic Classification Plugin is that the region growing tool in the Semi Automatic Classification plugin is integrated within the wider toolbox with the expectation that digitised regions are used for image classification within th

[2021-05-28 07:50] AlexanderFabisch commented on #3054
Thank you.

That's a very good point actually. I will go through the code again and see what I can replace with numpy / scipy functions. For example, there is [scipy.spatial.distance.mahalanobis](https://docs.scipy.org/doc/scipy/reference/generated/scipy.spatial.distance.mahalanobis.html), which is actually almost identical to my implementation, but it's still a good idea to use it.

@mikldk I wou

[2021-05-28 07:50] AlexanderFabisch commented on #3054
@whedon generate pdf

[2021-05-28 08:05] mjsottile commented on #3038
@whedon generate pdf

[2021-05-28 08:06] whedon commented on #3038
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03038/joss.03038/10.21105.joss.03038.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03038/joss.03038/10.21105.joss.03038.pdf) :page_facing_up: :point_left:

[2021-05-28 08:06] mjsottile commented on #3038
@whedon check references

[2021-05-28 08:06] whedon commented on #3038
[code]

[2021-05-28 08:10] mjsottile commented on #3038
@whedon remove @NMontanaBrown as reviewer

[2021-05-28 08:10] whedon commented on #3038
OK, @NMontanaBrown is no longer a reviewer

[2021-05-28 08:14] mjsottile commented on #3038
@andreasmang I've looked over the submission myself in addition to the review from @tjasaki and I am satisfied that it meets the requirements for JOSS.  The last steps:

- Please create an archive on zenodo or figshare for the submission
- Ensure that the version for the JOSS submission is correct.
- Ensure that the author list in the paper and archive are correct.

Once you've provided that infor

[2021-05-28 08:44] mikldk commented on #3054
@AlexanderFabisch Fine. Can you do that as a PR (or commits) and refer to them here, just for curiosity?

[2021-05-28 08:49] pdebuyl commented on #2842
Hi @scivision could you take the remarks above in consideration?

[2021-05-28 09:22] arcuri82 commented on #2558
@whedon generate pdf

[2021-05-28 09:22] whedon commented on #2558
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02558/joss.02558/10.21105.joss.02558.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02558/joss.02558/10.21105.joss.02558.pdf) :page_facing_up: :point_left:

[2021-05-28 09:34] arcuri82 commented on #2558
@majensen I am fine by the changes made by @egonw . i do not have any further comment
@egonw  good work ;)

[2021-05-28 09:51] arfon commented on #2990
@jkbren @sdmccabe – thanks for your updates to the paper. This is looking good!

At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The tit

[2021-05-28 10:40] vissarion commented on #3255
Hi @LiangliangNan first of all thanks for this very useful feature-rich package!

As part of my review I created a few issues in the repository
- https://github.com/LiangliangNan/Easy3D/issues/79
- https://github.com/LiangliangNan/Easy3D/issues/80
- https://github.com/LiangliangNan/Easy3D/issues/81
- https://github.com/LiangliangNan/Easy3D/issues/82

I also have two more comments:
- Performance cl

[2021-05-28 11:30] mviereck commented on #3295
@jorge-lip Could you please give some feedback, here or in the tickets? I've seen you are back contributing to udocker again.

@mariojmdavid You are an active contributer of udocker. Maybe you could have a look here, too?

If you don't have the time yet to work at the review, please tell us.

Maybe it makes sense to finish the port to python3 first (and afterwards wait some time for possible bug r

[2021-05-28 11:39] mariojmdavid commented on #3295
we have been busy preparing a new release which we plan over the next few days, this is the version in devel3 branch that we consider mature for release and supports python3. We have been also reviewing the documentation and its location, as well as ensuring the proper run of the Jenkins CI pipeline with success

[2021-05-28 12:05] broncio123 commented on #3301
Added date to header of `paper.md`

[2021-05-28 12:05] broncio123 commented on #3301
Fixed DOIs in `paper.bib`

[2021-05-28 12:59] AlexanderFabisch commented on #3054
@whedon generate pdf

[2021-05-28 12:59] whedon commented on #3054
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03054/joss.03054/10.21105.joss.03054.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03054/joss.03054/10.21105.joss.03054.pdf) :page_facing_up: :point_left:

[2021-05-28 13:12] danielskatz commented on #3295
We should decide what's being reviewed here - it's fine for changes to be made in response to review comments, but if there's going to be a new version, perhaps we should not continue this review and start a new review when that version is ready.  Otherwise, it's unfair to the reviewers.  Alternatively, the submitted version (plus changes made in response to the review) can continue to be reviewed

[2021-05-28 13:14] AlexanderFabisch commented on #3054
OK, I'm done with the last changes.

* [Here](https://github.com/AlexanderFabisch/gmr/pull/35) is the pull request in which I try to replace some basic functions by scipy / numpy. Here are my comments:
    * [scipy.stats.multivariate_normal.pdf](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.multivariate_normal.html#scipy.stats.multivariate_normal) is not robust enough to handle

[2021-05-28 13:30] LiangliangNan commented on #3255
@vissarion Thanks for the very constructive comments and suggestions.

I've revised the ReadMe file for the "missing dependencies". All other issues will be addressed shortly in the individual issues.

This was observed and reported by many users: Easy3D can render larger models at a good framerate.
But indeed I haven't done any formal evaluation.

[2021-05-28 13:53] JoelForamitti commented on #3065
@whedon generate pdf

[2021-05-28 13:53] whedon commented on #3065
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03065/joss.03065/10.21105.joss.03065.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03065/joss.03065/10.21105.joss.03065.pdf) :page_facing_up: :point_left:

[2021-05-28 13:58] JoelForamitti commented on #3065
Dear @sbenthall, @jamesdamillington, & @martibosch,

above you can find the revised manuscript for my submission. it comes together with a new version of the software (v0.1.0) that has been released today. i have tried to take all the comments from the review into account, and also added some new parts to include the new features that have been released since the original submission in January.

[2021-05-28 14:34] jorge-lip commented on #3295
Hi,
udocker supports both the Python 2 only version as 1.1.x series and the Python 3 version as 1.2.x series. We will continue maintaining both in parallel for some more time to allow a smooth migration. Both versions reside in different branches and have been maintained in parallel, they are equal in terms of features and user interface, the documentation has very small differences. The differenc

[2021-05-28 15:55] vsoch commented on #3295
If the two versions are equal in terms of all of these things and it's primarily the structure of the code that has changed, I'd like to ask again why this warrants another publication? An update from Python 2.x to 3.x with function and feature equivalent I am not convinced is sufficient enough for a new publication.

[2021-05-28 16:27] kellyrowland commented on #3239
Great, thanks!

[2021-05-28 16:27] kellyrowland commented on #3239
@whedon add @munkm as reviewer

[2021-05-28 16:28] kellyrowland commented on #3239
@whedon start review

[2021-05-28 16:28] whedon opened #3318 "[REVIEW]: radioactivedecay: A Python package for radioactive decay calculations"
**Submitting author:** @alexmalins (<a href="http://orcid.org/0000-0003-1922-4496">Alex Malins</a>)
**Repository:** https://github.com/alexmalins/radioactivedecay/
**Branch with paper.md** (empty if default branch): joss_paper
**Version:** v0.4.9
**Editor:** @kellyrowland
**Reviewers:** @munkm, @shyamd, @kellyrowland
**Archive:** 10.5281/zenodo.6334651

**:warning: JOSS reduced service mode :warni

[2021-05-28 16:28] whedon commented on #3239
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3318.

[2021-05-28 16:28] #3239 closed

[2021-05-28 16:28] whedon commented on #3318
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @bjodah, @munkm it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.

[2021-05-28 16:28] whedon commented on #3318
PDF failed to compile for issue #3318 with the following error:
[code]

[2021-05-28 16:28] whedon commented on #3318
[code]

[2021-05-28 16:49] jorge-lip commented on #3295
As I explained there is a lot of changes in udocker from the version that was published initially back in 2018 to the one we have today, there have been several releases since then. These changes have been applied to both versions Python 2 and Python 3. The changes are in the changelog.

[2021-05-28 16:54] vsoch commented on #3295
Gotcha, thanks @jorge-lip. I'd like to request that those changes are highlighted in the paper, and it also makes sense to reference your first paper so the reader has context to go from.

[2021-05-28 16:57] JosiahParry commented on #3272
It looks like the code of conduct has been added.
The license looks set up accordingly (thanks, @karthik).

Will review further on Monday.

[2021-05-28 17:44] vkrajnak commented on #3301
@whedon generate pdf

[2021-05-28 17:44] whedon commented on #3301
PDF failed to compile for issue #3301 with the following error:
[code]

[2021-05-28 17:47] vkrajnak commented on #3301
@whedon generate pdf

[2021-05-28 17:48] whedon commented on #3301
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03301/joss.03301/10.21105.joss.03301.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03301/joss.03301/10.21105.joss.03301.pdf) :page_facing_up: :point_left:

[2021-05-28 17:50] vkrajnak commented on #3301
The paper is all good now.

[2021-05-28 18:39] andreasmang commented on #3038
@whedon generate pdf

[2021-05-28 18:39] whedon commented on #3038
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03038/joss.03038/10.21105.joss.03038.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03038/joss.03038/10.21105.joss.03038.pdf) :page_facing_up: :point_left:

[2021-05-28 18:47] andreasmang commented on #3038
@mjsottile I have looked carefully over the submission.

- I have fixed the affiliations of my co-authors.
- I have fixed three minor typos in the text and references.
- I have created an archive on zenodo (https://doi.org/10.5281/zenodo.4837427; I am new to this so let me know if I missed anything; it is a mirror of v0.08 of the code repo; i.e., the current version of the GPU branch). The ZIP fil

[2021-05-28 19:02] andreasmang commented on #3038
Here's a link that should work: https://zenodo.org/record/4837427

[2021-05-28 19:12] gflofst commented on #3274
Everything works for me. The last bit of testing on Windows getting an up to date Redis working is going to take time. As it is the last bit, and everything else is good, I am ok signing off on it for now and I'll raise an issue later if it isn't working. Windows is a marginal platform for this field, but it is what I have for my desktop machine for testing.

[2021-05-28 20:06] mbobra commented on #3269
Thanks @ashleychontos! Give me a week-ish to assign reviewers to this submission.

[2021-05-28 20:23] mjsottile commented on #3038
@whedon set 10.5281/zenodo.4837427 as archive

[2021-05-28 20:23] whedon commented on #3038
OK. <a href="https://doi.org/10.5281/zenodo.4837427" target="_blank">10.5281/zenodo.4837427</a> is the archive.

[2021-05-28 20:23] mjsottile commented on #3038
@whedon set v0.08 as version

[2021-05-28 20:23] whedon commented on #3038
OK. v0.08 is the version.

[2021-05-28 20:24] mjsottile commented on #3038
@whedon accept

[2021-05-28 20:24] whedon commented on #3038
[code]

[2021-05-28 20:25] whedon commented on #3038
[code]

[2021-05-28 20:25] whedon commented on #3038
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2346

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2346, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-28 23:15] lpantano commented on #3214
@nagoue,@nhejazi are you interested on reviewing this tool? Thanks!

[2021-05-29 06:22] whedon opened #3319 "[PRE REVIEW]: oce: an R package for Oceanographic Analysis"
**Submitting author:** @dankelley (<a href="http://orcid.org/0000-0001-7808-5911">Dan E. Kelley</a>)
**Repository:** <a href="https://github.com/dankelley/oce" target ="_blank">https://github.com/dankelley/oce</a>
**Version:** 1.5-0
**Editor:** @kthyng
**Reviewers:** @gonzalobravoargentina, @diodon
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challen

[2021-05-29 06:22] whedon commented on #3319
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-29 06:22] whedon opened #3320 "[PRE REVIEW]: AdaptiveResonance.jl: A Julia implementation of Adaptive Resonance Theory (ART) algorithms"
**Submitting author:** @AP6YC (<a href="http://orcid.org/0000-0003-2442-8901">Sasha Petrenko</a>)
**Repository:** <a href="https://github.com/AP6YC/AdaptiveResonance.jl" target ="_blank">https://github.com/AP6YC/AdaptiveResonance.jl</a>
**Version:** 0.2.2
**Editor:** @adi3
**Reviewers:** @aaronpeikert, @hayesall
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due

[2021-05-29 06:22] whedon commented on #3320
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-29 06:23] whedon opened #3321 "[PRE REVIEW]: ClusterValidityIndices.jl: Batch and Incremental Metrics for Unsupervised Learning"
**Submitting author:** @AP6YC (<a href="http://orcid.org/0000-0003-2442-8901">Sasha Petrenko</a>)
**Repository:** <a href="https://github.com/AP6YC/ClusterValidityIndices.jl" target ="_blank">https://github.com/AP6YC/ClusterValidityIndices.jl</a>
**Version:** 0.1.5
**Editor:** @adi3
**Reviewers:** @rMassimiliano, @malmaud
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warnin

[2021-05-29 06:23] whedon commented on #3321
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-05-29 06:23] whedon commented on #3319
[code]

[2021-05-29 06:23] whedon commented on #3319
[code]

[2021-05-29 06:23] whedon commented on #3320
[code]

[2021-05-29 06:23] whedon commented on #3320
[code]

[2021-05-29 06:23] whedon commented on #3320
PDF failed to compile for issue #3320 with the following error:
[code]

[2021-05-29 06:23] whedon commented on #3321
[code]

[2021-05-29 06:23] whedon commented on #3321
[code]

[2021-05-29 06:23] whedon commented on #3319
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03319/joss.03319/10.21105.joss.03319.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03319/joss.03319/10.21105.joss.03319.pdf) :page_facing_up: :point_left:

[2021-05-29 06:23] whedon commented on #3321
PDF failed to compile for issue #3321 with the following error:
[code]

[2021-05-29 06:28] arfon commented on #3309
@elwinter – thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2021-05-29 06:30] arfon commented on #3310
@fjprichard – thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

If you want to fix the DOIs (noting that Whedon's suggestions are not always right), you can, then use the followi

[2021-05-29 06:31] arfon commented on #3315
@ranocha – thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2021-05-29 06:32] arfon commented on #3316
@twesterhout - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2021-05-29 06:33] arfon commented on #3319
@dankelley - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2021-05-29 06:35] arfon commented on #3320
@AP6YC - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

While you're waiting, please fix up your paper (the affiliations aren't formatted properly). See the [example paper](ht

[2021-05-29 06:36] arfon commented on #3321
@AP6YC - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

While you're waiting, please fix up your paper (the affiliations aren't formatted properly). See the [example paper](ht

[2021-05-29 09:32] giodegas commented on #3312
@whedon generate pdf

[2021-05-29 09:32] whedon commented on #3312
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03312/joss.03312/10.21105.joss.03312.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03312/joss.03312/10.21105.joss.03312.pdf) :page_facing_up: :point_left:

[2021-05-29 13:59] giodegas commented on #3312
@whedon check references

[2021-05-29 14:00] whedon commented on #3312
[code]

[2021-05-29 14:45] arfon commented on #3094
:wave: @KristinaRiemer – just checking what the next steps are with this submission?

[2021-05-29 14:47] arfon commented on #2575
👋 folks, what's the status of this submission? It looks like we might be waiting on @mccabete to do a final check on the modifications by the author here?

[2021-05-29 14:49] arfon commented on #3200
@whedon check references

[2021-05-29 14:49] arfon commented on #3200
@whedon generate pdf

[2021-05-29 14:49] whedon commented on #3200
[code]

[2021-05-29 14:49] whedon commented on #3200
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03200/joss.03200/10.21105.joss.03200.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03200/joss.03200/10.21105.joss.03200.pdf) :page_facing_up: :point_left:

[2021-05-29 14:51] arfon commented on #3206
@whedon invite @kellyrowland as editor

:wave: @kellyrowland – I realize this is a little out of your wheelhouse but would you be willing to edit this submission for us?

[2021-05-29 14:51] whedon commented on #3206
@kellyrowland has been invited to edit this submission.

[2021-05-29 15:13] Swetanshu commented on #2838
@whedon generate pdf

[2021-05-29 15:13] whedon commented on #2838
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02838/joss.02838/10.21105.joss.02838.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02838/joss.02838/10.21105.joss.02838.pdf) :page_facing_up: :point_left:

[2021-05-29 15:37] djmitche commented on #3127
@tyronerees how is this going?

[2021-05-29 16:27] dankelley commented on #3319
Dear editor,

As a response to the first comment in this issue, we are putting below a list of three possible reviewers, with GitHub username followed by full name.  We can supply more names, if needed.  In selecting these names, we have tried to span a range of researchers at different stages of their careers, and with different backgrounds.

Please note that we examined the spreadsheet of those

[2021-05-29 16:47] LangeJens commented on #3210
@karthik I deposited the package in Zenodo. The doi is 10.5281/zenodo.4844318. I also submitted the package as version 0.3.0 to CRAN and they confirmed that it is soon online.

[2021-05-29 16:55] dankelley commented on #3319
Dear editor, a citation for Hornik's paper on CRAN has been added, as suggested by the JOSS bot. This is my first experience with that bot, and so I am writing this note instead of just the next line, to update the submission. I hope that's within protocol.  Dan.

@whedon generate pdf

[2021-05-29 18:29] arfon commented on #3230
@whedon assign me as editor

[2021-05-29 18:29] whedon commented on #3230
OK, the editor is @arfon

[2021-05-29 18:30] arfon commented on #3230
@brunaw @expectopatronum – would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2021-05-29 18:46] arfon commented on #3319
@whedon generate pdf

☝️ @dankelley – the commands to Whedon need to be the first line of a message but it's encouraged for authors to interact with the bot too!

[2021-05-29 18:46] whedon commented on #3319
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03319/joss.03319/10.21105.joss.03319.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03319/joss.03319/10.21105.joss.03319.pdf) :page_facing_up: :point_left:

[2021-05-29 18:53] arfon commented on #3038
@whedon accept

[2021-05-29 18:53] whedon commented on #3038
To recommend a paper to be accepted use `@whedon recommend-accept`

[2021-05-29 18:53] arfon commented on #3038
@whedon recommend-accept

[2021-05-29 18:53] whedon commented on #3038
[code]

[2021-05-29 18:54] whedon commented on #3038
[code]

[2021-05-29 18:54] whedon commented on #3038
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2347

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2347, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-29 20:09] LiangliangNan commented on #3255
@whedon generate pdf from branch joss

[2021-05-29 20:09] whedon commented on #3255
[code]

[2021-05-29 20:09] whedon commented on #3255
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03255/joss.03255/10.21105.joss.03255.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03255/joss.03255/10.21105.joss.03255.pdf) :page_facing_up: :point_left:

[2021-05-29 20:16] LiangliangNan commented on #3255
@whedon generate pdf from branch joss

[2021-05-29 20:16] whedon commented on #3255
[code]

[2021-05-29 20:17] whedon commented on #3255
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03255/joss.03255/10.21105.joss.03255.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03255/joss.03255/10.21105.joss.03255.pdf) :page_facing_up: :point_left:

[2021-05-30 00:04] fboehm commented on #3273
@Marie-PerrotDockes and @yunanwu123 - how is the review going? Have you encountered any issues that you wish to share with the authors?

[2021-05-30 00:06] fboehm commented on #3238
Thank you for addressing the issues raised by the reviewers. @aalfons and @msalibian - do you feel that the authors have made sufficient changes to meet the requirements? Please feel free to continue to check boxes from the checklist once you're satisfied.

[2021-05-30 11:15] PacoCosta commented on #3211
@whedon generate pdf

[2021-05-30 11:15] whedon commented on #3211
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03211/joss.03211/10.21105.joss.03211.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03211/joss.03211/10.21105.joss.03211.pdf) :page_facing_up: :point_left:

[2021-05-30 12:58] Swetanshu commented on #2838
Once again thank you @mturiansky, @mfherbst and @dpsanders for your feedback. Now, the usage information for the script is printed when –h tag is used or when invalid input is provided.
@mfherbst The typo in the paper has been removed.
We have responded to the issues separately in the issue tracker as well. I’ll close them if you are happy with the responses.
@dpsanders please let us know if you a

[2021-05-30 13:53] labarba commented on #3145
@poulson —  I made all the suggested edits, though I'm sad of deleting the historical paragraph (commit 1a9146f). It's a road paved with tears.

[2021-05-30 14:32] poulson commented on #3145
A long footnote might make sense as well! I just think it is a lengthy aside that distracts from the conciseness that is typical of JOSS articles.

[2021-05-30 14:36] poulson commented on #3145
@whedon generate pdf

[2021-05-30 14:36] whedon commented on #3145
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03145/joss.03145/10.21105.joss.03145.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03145/joss.03145/10.21105.joss.03145.pdf) :page_facing_up: :point_left:

[2021-05-30 14:44] poulson commented on #3145
@labarba Please let me know when you are comfortable with the edit and, after sharing the preferred DOI, I can set it and mark as ready for publication.

[2021-05-30 15:09] smsharma commented on #3283
@danielskatz Likewise would it be possible to re-issue the invitation? Thank you!

[2021-05-30 15:25] labarba commented on #3145
That's OK. We'll find another place and time to document the story. (It wouldn't work as a footnote, as it had citations.)

[2021-05-30 16:22] labarba commented on #3145
tagged version: v0.1.1

Zenodo deposit: 10.5281/zenodo.4874663
https://doi.org/10.5281/zenodo.4874662

[2021-05-30 16:30] poulson commented on #3145
Thank you for the painful edit -- and apologies for it not working out as a footnote.

@whedon set 10.5281/zenodo.4874663 as doi

[2021-05-30 16:30] poulson commented on #3145
@whedon set 10.5281/zenodo.4874663 as doi

[2021-05-30 16:31] whedon commented on #3145
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-05-30 16:31] poulson commented on #3145
@whedon set 10.5281/zenodo.4874663 as archive

[2021-05-30 16:31] whedon commented on #3145
OK. <a href="https://doi.org/10.5281/zenodo.4874663" target="_blank">10.5281/zenodo.4874663</a> is the archive.

[2021-05-30 16:31] poulson commented on #3145
@whedon recommend-accept

[2021-05-30 16:31] whedon commented on #3145
[code]

[2021-05-30 16:32] whedon commented on #3145
[code]

[2021-05-30 16:32] whedon commented on #3145
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2348

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2348, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-30 16:47] labarba commented on #3145
I have read through the proof, and approve it.

[2021-05-30 17:34] kbarnhart commented on #3168
@whedon generate pdf

[2021-05-30 17:34] kbarnhart commented on #3168
@whedon check references

[2021-05-30 17:34] whedon commented on #3168
[code]

[2021-05-30 17:34] whedon commented on #3168
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03168/joss.03168/10.21105.joss.03168.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03168/joss.03168/10.21105.joss.03168.pdf) :page_facing_up: :point_left:

[2021-05-30 17:44] kbarnhart commented on #3168
@davemlz I've made two pull requests with very small changes to the text and the .bib file. Please consider these PRs. After you have done so, please test that the article builds correctly here, and presuming it does do the following:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar serv

[2021-05-30 17:45] kbarnhart commented on #3114
Thanks for confirming @jmansour.

@bzindovic @dlgeorge please revisit your review and confirm whether or not you think this is ready to be accepted.

[2021-05-30 19:12] karthik commented on #3210
@whedon set v0.3.0 as version

[2021-05-30 19:12] whedon commented on #3210
OK. v0.3.0 is the version.

[2021-05-30 19:36] arfon commented on #3145
@whedon accept deposit=true

[2021-05-30 19:36] whedon commented on #3145
[code]

[2021-05-30 19:37] whedon commented on #3145
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1399087537835196419) 👈 🐦🐦🐦

[2021-05-30 19:37] whedon commented on #3145
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2349
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03145](https://doi.org/10.21105/joss.03145)
2. If everything look

[2021-05-30 19:41] arfon commented on #3145
@berenger-eu, @pitsianis – many thanks for your reviews here and to @poulson for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@tingyu66, @labarba – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-05-30 19:41] #3145 closed

[2021-05-30 19:42] whedon commented on #3145
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03145/status.svg)](https://doi.org/10.21105/joss.03145)

**We need your help!**

Journal of Open Source Softwa

[2021-05-30 19:46] arfon commented on #3038
@whedon accept deposit=true

[2021-05-30 19:46] whedon commented on #3038
[code]

[2021-05-30 19:46] whedon commented on #3038
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1399089906056630275) 👈 🐦🐦🐦

[2021-05-30 19:46] whedon commented on #3038
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2350
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03038](https://doi.org/10.21105/joss.03038)
2. If everything look

[2021-05-30 19:49] arfon commented on #3038
@tjasaki – many thanks for your review here and to @mjsottile for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@andreasmang – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-05-30 19:49] #3038 closed

[2021-05-30 19:49] whedon commented on #3038
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03038/status.svg)](https://doi.org/10.21105/joss.03038)

**We need your help!**

Journal of Open Source Softwa

[2021-05-30 19:50] arfon commented on #2708
@whedon assign me as editor

[2021-05-30 20:12] danielskatz commented on #3283
@Whedon re-invite @smsharma as reviewer

[2021-05-30 20:12] whedon commented on #3283
OK, the reviewer has been re-invited.

@smsharma please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-05-30 20:37] labarba commented on #3145
Thank you @arfon! It's exciting to be on the other side of the process 😊

Huge thanks to the handling editor, @poulson, and to the reviewers: @berenger-eu, @pitsianis — your expert eyes on our work makes us more confident, and we're glad to see this in JOSS!

[2021-05-31 00:16] msalibian commented on #3238
@fboehm Thanks @tobiasschoch for addressing my concerns and suggestions. I have no pending items in the check list. I am satisfied with the new version of the manuscript, and only have a few minor suggestions about writing style, which I leave here in case they are helpful.

- The quote on lines 80-82 seems out of place, there is no reference to it in the text either before or after it;
- Line 83,

[2021-05-31 05:28] benjaminpope commented on #3285
Re Whedon post - just waiting for confirmation on all the pull requests that changes have been made. Everything looks good so far - the comment about paper content & adding a figure (which is not compulsory at all) hasn't been decided either way, so as far as I can tell I'm just waiting on that.

[2021-05-31 05:33] jbytecode commented on #3266
@kyleniemeyer The invited editor's notifications may be turned off.

[2021-05-31 06:04] LangeJens commented on #3210
Should I set the archive?

[2021-05-31 06:09] arokem commented on #3124
@nsaunier and @abhishekbajpayee : could you please give an update on the status of your reviews of this paper? It's been several months since you agreed to review this.

[2021-05-31 07:39] aalfons commented on #3238
@fboehm I'm also satisfied with the new version of the manuscript and have no more unchecked items. Thanks @tobiasschoch for addressing all the comments.

I also have a few minor suggestions regarding the text to add to those of @msalibian which I leave here in the same spirit in case they are helpful:

- Line 16: "R statistical software" -> "statistical software R"
- Line 168: "... of the project

[2021-05-31 07:55] vissarion commented on #3303
Hi, @rowanc1, @sarats, @MichaelHoltonPrice, @PaulDebus, would any of you be willing to review this submission for JOSS?

[2021-05-31 07:59] vissarion commented on #3306
Hi, @joeweaver, @jmp75, @marvinjonathcn, @katmratliff, @simonom, would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-05-31 08:13] Het-Shah commented on #3297
@whedon generate pdf

[2021-05-31 08:13] whedon commented on #3297
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03297/joss.03297/10.21105.joss.03297.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03297/joss.03297/10.21105.joss.03297.pdf) :page_facing_up: :point_left:

[2021-05-31 08:49] Het-Shah commented on #3297
I am satisfied with the changes that are made. I believe the submission is ready to be accepted!

[2021-05-31 09:37] dfm commented on #3285
Yes - Definitely in my court still!

Finishing all the changes will probably take me a while still, but I'll have updates on individual issues as we go. Thanks again!

[2021-05-31 10:42] mikldk commented on #3054
@whedon set v1.6 as version

[2021-05-31 10:42] whedon commented on #3054
OK. v1.6 is the version.

[2021-05-31 10:43] mikldk commented on #3054
@whedon set 10.5281/zenodo.4849709 as archive

[2021-05-31 10:43] whedon commented on #3054
OK. <a href="https://doi.org/10.5281/zenodo.4849709" target="_blank">10.5281/zenodo.4849709</a> is the archive.

[2021-05-31 10:48] mikldk commented on #3234
@arunmano121, @maximtrp: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2021-05-31 11:01] maximtrp commented on #3234
@mikldk Yeah, I'd be glad to! Thank you!

[2021-05-31 11:03] mikldk commented on #3234
@whedon assign @maximtrp as reviewer

[2021-05-31 11:03] whedon commented on #3234
OK, @maximtrp is now a reviewer

[2021-05-31 13:22] martibosch commented on #2826
Hello all. First of all my apologies for my delay - these last month with the end of my thesis have been quite busy.

all my comments have been addressed and I would just like to suggest a final iteration to make the current statement of need as synthetic as possible - to that end, I have reopened [#575](https://github.com/pysal/spaghetti/issues/575). After this, I believe the manuscript can go to

[2021-05-31 13:34] arfon commented on #3054
@AlexanderFabisch - have you contacted Felipe about this and confirmed they are happy with this?

[2021-05-31 13:37] arfon commented on #3297
@levimcclenny - it looks like there are still a couple of checkboxes unchecked for your review. Would you still like to see changes here from the author to address these items?

[2021-05-31 13:39] arfon commented on #2826
Thanks @martibosch - could you also update your review checklist based on your latest review?

[2021-05-31 13:55] martibosch commented on #2826
done! (sorry I forgot)

[2021-05-31 13:56] levimcclenny commented on #3297
@arfon i good with it!

[2021-05-31 14:05] AlexanderFabisch commented on #3054
We are talking about [2 commits](https://github.com/AlexanderFabisch/gmr/graphs/contributors). The current version of Zenodo also doesn't list him as an author. Should I contact him? If yes, then I'll try it now.

[2021-05-31 14:08] marvinjonathcn commented on #3306
Hi @vissarion , I would like to be a reviewer for this research. I would have no problems.

[2021-05-31 14:14] vissarion commented on #3306
@whedon assign @marvinjonathcn as reviewer

[2021-05-31 14:14] whedon commented on #3306
OK, @marvinjonathcn is now a reviewer

[2021-05-31 14:15] dhhagan commented on #3219
@darothen Thanks for checking in -> you should be good for now. Just waiting on the other reviewer and updated/patches from the authors before any next steps are needed. Thanks for checking in!

[2021-05-31 14:15] dhhagan commented on #3219
@jwuttke Can you please update us on the status of your review? Thanks!

[2021-05-31 14:15] vissarion commented on #3306
@whedon add @jrising as reviewer

[2021-05-31 14:15] whedon commented on #3306
OK, @jrising is now a reviewer

[2021-05-31 14:34] junjun-zhang commented on #3197
@felipeZ any suggestions on how I may be able to continue testing ceiba? Maybe before https://github.com/nlesc-nano/ceiba/issues/16 is addressed, you could rebuild the docker image to add my username `junjun-zhang` (also add @dimitridarras ?) to the users.txt file? Not ideal, but it would allow us to continue the review process.

[2021-05-31 14:51] felipeZ commented on #3197
@junjun-zhang  I have added both you and @dimitridarras  to the `users.txt` file, while I figure out a smarter way to add users.

[2021-05-31 14:55] arunmano121 commented on #3234
@mikldk - yes, I will be happy to review.

On May 31, 2021, at 4:02 AM, Maksim Terpilowski ***@***.***> wrote:

﻿

@mikldk<https://github.com/mikldk> Yeah, I'd be glad to! Thank you!

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/openjournals/joss-reviews/issues/3234#issuecomment-851409688>, or unsubscribe<https://github.com

[2021-05-31 14:58] arunmano121 commented on #3234
@mikldk<https://github.com/mikldk> - yes, I will be happy to review. Thanks.

On May 31, 2021, at 3:49 AM, Mikkel Meyer Andersen ***@***.******@***.***>> wrote:

@arunmano121<https://github.com/arunmano121>, @maximtrp<https://github.com/maximtrp>: Would you be interested in reviewing this submission to The Journal of Open Source Software<https://joss.theoj.org/>? Reviews are open and based on a ch

[2021-05-31 15:07] alexmalins commented on #3318
@whedon generate pdf from branch joss_paper

[2021-05-31 15:07] whedon commented on #3318
[code]

[2021-05-31 15:07] whedon commented on #3318
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03318/joss.03318/10.21105.joss.03318.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03318/joss.03318/10.21105.joss.03318.pdf) :page_facing_up: :point_left:

[2021-05-31 15:15] tobiasschoch commented on #3238
@fboehm @aalfons @msalibian - Thank you for the very helpful comments (and the typos you spotted). I have followed all your suggestions and modified the paper accordingly.

@msalibian - I have clarified the statement about the "distances / discrepancies". The BACON algorithm for robust regression uses what Billor et al. (2000) call discrepancies: that is, on the set of "good" observations (in the

[2021-05-31 15:16] tobiasschoch commented on #3238
@whedon generate pdf

[2021-05-31 15:16] whedon commented on #3238
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03238/joss.03238/10.21105.joss.03238.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03238/joss.03238/10.21105.joss.03238.pdf) :page_facing_up: :point_left:

[2021-05-31 15:16] jcorbino commented on #2936
@whedon assign @Kevin-Mattheus-Moerman  as editor

[2021-05-31 15:16] whedon commented on #2936
I'm sorry @jcorbino, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-05-31 15:24] whedon commented on #3290
:wave: @federicomarini, please update us on how your review is going (this is an automated reminder).

[2021-05-31 15:24] whedon commented on #3290
:wave: @mponce0, please update us on how your review is going (this is an automated reminder).

[2021-05-31 15:34] federicomarini commented on #3290
All good in the hood dear @whedon 😉
My checklist is mostly complete, and the items that are left unchecked are addressed in the review points I reported.

[2021-05-31 15:35] karthik commented on #3210
@@whedon set 10.5281/zenodo.4844318 as archive

[2021-05-31 15:35] karthik commented on #3210
@whedon set 10.5281/zenodo.4844318 as archive

[2021-05-31 15:35] whedon commented on #3210
OK. <a href="https://doi.org/10.5281/zenodo.4844318" target="_blank">10.5281/zenodo.4844318</a> is the archive.

[2021-05-31 15:36] karthik commented on #3210
@whedon recommend-accept

[2021-05-31 15:36] whedon commented on #3210
[code]

[2021-05-31 15:36] whedon commented on #3210
[code]

[2021-05-31 15:36] whedon commented on #3210
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2351

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2351, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-05-31 15:38] galessiorob commented on #3048
@whedon add @jungtaekkim as a reviewer

[2021-05-31 15:38] whedon commented on #3048
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-05-31 15:38] galessiorob commented on #3048
@whedon add @jungtaekkim as reviewer

[2021-05-31 15:38] whedon commented on #3048
OK, @jungtaekkim is now a reviewer

[2021-05-31 15:44] martibosch commented on #3065
I believe that all the issues that I raised have been addressed hence from my side, the manuscript can move forward to publication.

[2021-05-31 15:48] galessiorob commented on #3048
🎉 Thanks for volunteering to be reviewers @cmaimone and @jungtaekkim!

I'll generate a "review issue" that will contain individual checklists to go through, feel free to get started at your earliest convenience, don't hesitate to ask if you need clarification or help - you can @mention me directly on the issue.

[2021-05-31 15:48] galessiorob commented on #3048
@whedon start review

[2021-05-31 15:48] whedon opened #3322 "[REVIEW]: IDCeMPy: Python Package for Inflated Discrete Choice Models"
**Submitting author:** @hknd23 (<a href="http://orcid.org/0000-0002-6234-7232">Nguyen Huynh</a>)
**Repository:** <a href="https://github.com/hknd23/idcempy" target ="_blank">https://github.com/hknd23/idcempy</a>
**Version:** 0.0.1
**Editor:** @galessiorob
**Reviewer:** @cmaimone, @jungtaekkim
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVI

[2021-05-31 15:48] whedon commented on #3048
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3322.

[2021-05-31 15:48] #3048 closed

[2021-05-31 15:48] whedon commented on #3322
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @cmaimone, @jungtaekkim it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2021-05-31 15:48] whedon commented on #3322
[code]

[2021-05-31 15:48] whedon commented on #3322
[code]

[2021-05-31 15:48] whedon commented on #3322
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03322/joss.03322/10.21105.joss.03322.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03322/joss.03322/10.21105.joss.03322.pdf) :page_facing_up: :point_left:

[2021-05-31 16:02] galessiorob commented on #2971
Hi @hakanfriden

Apologies for dropping the ball on this one! We haven't been able to find another reviewer with the right background and access to MATLAB to review the paper. I will ping you directly when we do so. Thank you so much for your patience 🙏

[2021-05-31 16:27] LangeJens commented on #3210
To me, the manuscript looks great. However, I cannot evaluate the correctness of the Crossref deposit XML.

I again want to thank @donaldRwilliams and @AlexChristensen for their reviews and the effort they invested! Thanks also to @karthik for overviewing the process and especially for trying hard to find these great reviewers in the first place!

[2021-05-31 16:30] karthik commented on #3210
@LangeJens that crossref message is for the associate editors. Please ignore.

An AEIC will be here shortly to check everything over before accepting the paper. Thanks again for your submission and patience.

[2021-05-31 16:48] mccabete commented on #2575
Thank you for the kind reminders @arfon  and @KristinaRiemer. Sorry, my github notifications we not reaching me. Thanks for your patience, @holukas. I just checked everything off!

[2021-05-31 16:52] mponce0 commented on #3290
Responding to some of the points, I have updated the ones we have agreed upon on the check list.

OK, I usually prefer a simpler approach to licensing but it is OK this way too, just wanted to be sure that wasn't a "leftover".

I'm still not quite sure about this, I understand your reasoning but I'm not sure the version of the package must be tied to the data being incorporated... this will genera

[2021-05-31 16:59] arfon commented on #3054
I think this is probably OK, especially as the changes are very minimal.

[2021-05-31 17:14] cheginit commented on #3221
Overall, I find this submission a useful contribution to the hydrology community and appreciate the effort of the developers. Here are my initial thoughts on the submission.

**Paper**

Overall, the paper reads well and states the purpose of the project clearly. Some of my concerns have already been addressed by the new commits. However, I am not quite sure if I understand the purpose of this sent

[2021-05-31 18:10] 0xCoto commented on #3067
@xuanxu - Version number: [v3.7.0](https://github.com/0xCoto/Virgo/tree/v3.7.0)

[Zenodo](https://zenodo.org/record/4778382#) DOI: 10.5281/zenodo.4778382

[2021-05-31 19:17] whedon commented on #3291
:wave: @zeroset, please update us on how your review is going (this is an automated reminder).

[2021-05-31 19:17] whedon commented on #3291
:wave: @cedricchevalier19, please update us on how your review is going (this is an automated reminder).

[2021-06-01 01:33] WilkAndy commented on #3314
Hi @jedbrown ,

In case you're stumped for reviewers, a couple of suggestions are

- Allan Leal   https://github.com/reaktoro/reaktoro
- Most people who contribute to OpenGeoSys https://github.com/ufz , probably contributors to https://github.com/ufz/iphreeqc or https://github.com/ufz/userguide might be the best

[2021-06-01 02:32] sdmccabe commented on #2990
@arfon does this look right? https://doi.org/10.5281/zenodo.4885375

[2021-06-01 03:15] jedbrown commented on #3314
Hah, I'm waiting for a reply from Allan after he returns (per auto responder).

[2021-06-01 05:37] coljac commented on #3283
OK, sorry it took so long to get this done.

This is in easy review in that Lenstronomy is a mature, feature-rich and widely used package. The scientific significance is not in doubt, and a lot of time and effort has been invested into the code, docs and examples. It shows. Congrats all round to the authors!

I have no issues with the paper.

@sbirrer, could you clarify these final issues for me:

[2021-06-01 06:10] arfon commented on #2990
@whedon set 10.5281/zenodo.4885375 as version

[2021-06-01 06:10] whedon commented on #2990
OK. 10.5281/zenodo.4885375 is the version.

[2021-06-01 06:10] arfon commented on #2990
@whedon recommend-accept

[2021-06-01 06:10] whedon commented on #2990
No archive DOI set. Exiting...

[2021-06-01 06:10] arfon commented on #2990
@whedon set 10.5281/zenodo.4885375 as archive

[2021-06-01 06:10] whedon commented on #2990
OK. <a href="https://doi.org/10.5281/zenodo.4885375" target="_blank">10.5281/zenodo.4885375</a> is the archive.

[2021-06-01 06:10] arfon commented on #2990
@whedon set v0.3 as version

[2021-06-01 06:10] whedon commented on #2990
OK. v0.3 is the version.

[2021-06-01 06:11] arfon commented on #2990
@whedon recommend-accept

[2021-06-01 06:11] whedon commented on #2990
[code]

[2021-06-01 06:11] whedon commented on #2990
[code]

[2021-06-01 06:11] whedon commented on #2990
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2352

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2352, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-06-01 06:14] devosmitachatterjee2018 commented on #2971
@galessiorob
Thanks for the update.

Eagerly waiting.

Best Regards
Devosmita

[2021-06-01 07:28] xuanxu commented on #3067
@whedon set v3.7.0 as version

[2021-06-01 07:28] whedon commented on #3067
OK. v3.7.0 is the version.

[2021-06-01 07:30] xuanxu commented on #3067
@whedon set 10.5281/zenodo.4778382 as archive

[2021-06-01 07:30] whedon commented on #3067
OK. <a href="https://doi.org/10.5281/zenodo.4778382" target="_blank">10.5281/zenodo.4778382</a> is the archive.

[2021-06-01 07:32] xuanxu commented on #3067
@whedon recommend-accept

[2021-06-01 07:32] whedon commented on #3067
[code]

[2021-06-01 07:32] whedon commented on #3067
[code]

[2021-06-01 07:32] whedon commented on #3067
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2353

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2353, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-06-01 07:47] GregoryAshton commented on #3112
Hi @mikldk, I'm not able to commit to reviews at the moment due to other commitments. I'll be available in a month or so. Apologies.

[2021-06-01 08:06] mikldk commented on #3234
@whedon add @arunmano121 as reviewer

[2021-06-01 08:06] whedon commented on #3234
OK, @arunmano121 is now a reviewer

[2021-06-01 08:06] mikldk commented on #3234
@whedon start review

[2021-06-01 08:06] whedon opened #3323 "[REVIEW]: RENT: A Python Package for Repeated Elastic Net Feature Selection"
**Submitting author:** @annajenul (<a href="http://orcid.org/0000-0002-6919-3483">Anna Jenul</a>)
**Repository:** <a href="https://github.com/NMBU-Data-Science/RENT" target ="_blank">https://github.com/NMBU-Data-Science/RENT</a>
**Version:** v1.0.0
**Editor:** @mikldk
**Reviewer:** @maximtrp, @arunmano121
**Archive:** <a href="https://doi.org/10.5281/zenodo.5140349" target="_blank">10.5281/zenodo.

[2021-06-01 08:06] whedon commented on #3234
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3323.

[2021-06-01 08:06] #3234 closed

[2021-06-01 08:06] whedon commented on #3323
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @maximtrp, @arunmano121 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2021-06-01 08:07] whedon commented on #3323
Failed to discover a `Statement of need` section in paper

[2021-06-01 08:07] whedon commented on #3323
[code]

[2021-06-01 08:07] whedon commented on #3323
[code]

[2021-06-01 08:07] whedon commented on #3323
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03323/joss.03323/10.21105.joss.03323.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03323/joss.03323/10.21105.joss.03323.pdf) :page_facing_up: :point_left:

[2021-06-01 08:07] mikldk commented on #3054
@AlexanderFabisch Can you please change title at Zenodo to match that of the paper?

[2021-06-01 08:10] mikldk commented on #3323
@maximtrp, @arunmano121: Thanks for agreeing to review. Please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If possible create issues (and cross-reference) in the submission's repository to avoid too specific discussions in this rev

[2021-06-01 08:10] mikldk commented on #3112
@jakryd: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2021-06-01 08:42] jakryd commented on #3112
Hello @mikldk, I would be happy to.

[2021-06-01 08:59] pdebuyl commented on #3198
@alexamici would you review the article "SenSARP: A Python package for pre-processing Sentinel-1 SLC data with the Sentinel-1 Toolbox" for the Journal of Open Source Software?

[2021-06-01 08:59] arfon commented on #2990
@whedon accept deposit=true

[2021-06-01 08:59] whedon commented on #2990
[code]

[2021-06-01 09:00] whedon commented on #2990
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1399652049856389120) 👈 🐦🐦🐦

[2021-06-01 09:00] whedon commented on #2990
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2354
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02990](https://doi.org/10.21105/joss.02990)
2. If everything look

[2021-06-01 09:26] arfon commented on #2990
@adi3, @sonal-raj – many thanks for your reviews here! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@sdmccabe – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-06-01 09:26] #2990 closed

[2021-06-01 09:26] whedon commented on #2990
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02990/status.svg)](https://doi.org/10.21105/joss.02990)

**We need your help!**

Journal of Open Source Softwa

[2021-06-01 10:16] AlexanderFabisch commented on #3054
@mikldk I totally forgot to add acknowledgments to the paper unfortunately. I did that [now](https://github.com/AlexanderFabisch/gmr/commit/3653977051a15e0ff0bacdc1d4989c70c4905eb9). Sorry for the chaos. Would that mean that I have to make a new release to Zenodo? I corrected the title at Zenodo.

[2021-06-01 10:17] vavrines commented on #3060
Hi @diehlpk
Could you please help one reviewer on the checklist and maybe remind another reviewer? (I'm not sure whether he is aware of the existence of this review issue) : )

[2021-06-01 10:18] AlexanderFabisch commented on #3054
@whedon generate pdf

[2021-06-01 10:18] whedon commented on #3054
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03054/joss.03054/10.21105.joss.03054.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03054/joss.03054/10.21105.joss.03054.pdf) :page_facing_up: :point_left:

[2021-06-01 10:27] mikldk commented on #3112
@whedon add @jakryd as reviewer

[2021-06-01 10:28] whedon commented on #3112
OK, @jakryd is now a reviewer

[2021-06-01 10:29] mikldk commented on #3054
@AlexanderFabisch No problem. Yes, please make a new release (sorry, but then we have consistency).

[2021-06-01 10:29] mikldk commented on #3112
@whedon start review

[2021-06-01 10:29] whedon opened #3324 "[REVIEW]: `bwsample`: Processing Best-Worst Scaling data"
**Submitting author:** @ulf1 (<a href="http://orcid.org/0000-0002-0440-4868">Ulf Hamster</a>)
**Repository:** <a href="https://github.com/satzbeleg/bwsample" target ="_blank">https://github.com/satzbeleg/bwsample</a>
**Version:** v0.6.9
**Editor:** @mikldk
**Reviewer:** @ejhigson, @jakryd
**Archive:** <a href="https://doi.org/10.5281/zenodo.5233945" target="_blank">10.5281/zenodo.5233945</a>

**:w

[2021-06-01 10:29] whedon commented on #3112
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3324.

[2021-06-01 10:29] #3112 closed

[2021-06-01 10:30] whedon commented on #3324
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ejhigson, @jakryd it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://bl

[2021-06-01 10:30] whedon commented on #3324
[code]

[2021-06-01 10:30] whedon commented on #3324
[code]

[2021-06-01 10:30] whedon commented on #3324
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03324/joss.03324/10.21105.joss.03324.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03324/joss.03324/10.21105.joss.03324.pdf) :page_facing_up: :point_left:

[2021-06-01 10:30] mikldk commented on #3324
@ejhigson, @jakryd: Thanks for agreeing to review. Please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If possible create issues (and cross-reference) in the submission's repository to avoid too specific discussions in this review t

[2021-06-01 10:38] alexamici commented on #3198
@pdebuyl I'm totally new to the open access journals, so it appears an interesting thing to do, but I need just a bit to figure out what it means.

[2021-06-01 10:57] pdebuyl commented on #3198
Hi @alexamici thank you for getting back to me. I'll summarize the principles here:
- The journal is free to publish in and free to read (CC-BY licenses). JOSS is published by "Open Journals" and directly managed by its community.
- The papers in JOSS are short (few pages long max): the focus is on the software. For well built packages (with good documentation, tests, examples, etc) the JOSS paper

[2021-06-01 11:13] diehlpk commented on #3060
@whedon add @rdeits as reviewer

[2021-06-01 11:14] whedon commented on #3060
OK, @rdeits is now a reviewer

[2021-06-01 11:14] diehlpk commented on #3060
@rdeits Please try now

[2021-06-01 11:16] diehlpk commented on #3060
@vavrines Sure

[2021-06-01 11:30] arfon commented on #3218
@whedon invite @faroit as editor

:wave: @faroit - this looks like it could be perfect for you as a first paper?

[2021-06-01 11:30] whedon commented on #3218
@faroit has been invited to edit this submission.

[2021-06-01 11:33] arfon commented on #3244
@whedon invite @faroit as editor

:wave: @faroit – how about this as a second paper to edit? Given your expertise in web technologies it feels like it could be a good fit?

[2021-06-01 11:33] whedon commented on #3244
@faroit has been invited to edit this submission.

[2021-06-01 11:49] crvernon commented on #3294
@whedon generate pdf from branch joss

[2021-06-01 11:49] whedon commented on #3294
[code]

[2021-06-01 11:49] whedon commented on #3294
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03294/joss.03294/10.21105.joss.03294.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03294/joss.03294/10.21105.joss.03294.pdf) :page_facing_up: :point_left:

[2021-06-01 12:48] crvernon commented on #3294
@timtroendle @FabianHofmann I'll be ready to sign off on this once my final two issues have been resolved related to installation and references.  Doing great @FabianHofmann , your almost there!

[2021-06-01 12:55] mikldk commented on #3054
@whedon set 10.5281/zenodo.4449631 as archive

[2021-06-01 12:55] whedon commented on #3054
OK. <a href="https://doi.org/10.5281/zenodo.4449631" target="_blank">10.5281/zenodo.4449631</a> is the archive.

[2021-06-01 12:56] mikldk commented on #3054
@AlexanderFabisch Now there is a total of three authors at Zenodo and one in the paper?

[2021-06-01 13:06] AlexanderFabisch commented on #3054
Mmh... yes. I am sorry. Zenodo is a bit weird. I don't know how it determines the authors of the software. :)

Marcelo Albuquerque contributed a sklearn-compatible interface some weeks ago. That was after I submitted this paper so he doesn't appear in the statistics above.

So I would have a general question about the authorship policy. How should we handle the authorship of the paper and the soft

[2021-06-01 13:44] euronion commented on #3294
@whedon generate pdf from branch joss

[2021-06-01 13:44] whedon commented on #3294
[code]

[2021-06-01 13:45] whedon commented on #3294
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03294/joss.03294/10.21105.joss.03294.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03294/joss.03294/10.21105.joss.03294.pdf) :page_facing_up: :point_left:

[2021-06-01 13:45] euronion commented on #3294
Co-author here, as @FabianHofmann is busy this week. We're on it 👍 .

[2021-06-01 13:50] AlexanderFabisch commented on #3054
@mikldk I'll open an issue in the gmr repository to discuss this. I'll come back to you as soon as possible.

[2021-06-01 14:01] fboehm commented on #3238
@tobiasschoch - the reviewers have recommended your manuscript for publication. Thank you to @msalibian and @aalfons for thorough reviews.

[2021-06-01 14:11] diehlpk commented on #3274
@camillescott How is your review going?

[2021-06-01 14:11] diehlpk commented on #3060
@whedon commands

[2021-06-01 14:12] whedon commented on #3060
Here are some things you can ask me to do:

[code]

[2021-06-01 14:12] diehlpk commented on #3060
@whedon re-invite @rdeits  as reviewer

[2021-06-01 14:12] whedon commented on #3060
OK, the reviewer has been re-invited.

@rdeits  please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-06-01 14:12] diehlpk commented on #3060
@rdeits Please click on the link above and you should be able to edit the checkboxes again.

[2021-06-01 14:18] fboehm commented on #3238
Before we proceed, I have a few small suggestions for the paper.md.

1. Lines 78-79: This sentence feels awkward. Can you rewrite it to flow a little better while still conveying the message? Perhaps something like this: "We recommend that the user examine both the data structure and the "good" observations to verify that the assumptions hold."
2. Line 84: Replace "library" with "package".
3. Sect

[2021-06-01 14:40] katmratliff commented on #3306
Hi @vissarion I am sorry but I will not be able to complete the review in a timely manner.

[2021-06-01 15:10] jgostick commented on #3287
@whedon add @janash as reviewer

[2021-06-01 15:10] whedon commented on #3287
OK, @janash is now a reviewer

[2021-06-01 15:11] jgostick commented on #3287
@whedon add @rosecers as reviewer

[2021-06-01 15:11] whedon commented on #3287
OK, @rosecers is now a reviewer

[2021-06-01 15:11] jgostick commented on #3287
@whedon start review

[2021-06-01 15:12] whedon opened #3325 "[REVIEW]: pyrexMD: Workflow-Orientated Python Package for Replica Exchange Molecular Dynamics"
**Submitting author:** @ArtVoro (<a href="http://orcid.org/0000-0002-5804-5151">Arthur Voronin</a>)
**Repository:** <a href="https://github.com/KIT-MBS/pyREX" target ="_blank">https://github.com/KIT-MBS/pyREX</a>
**Version:** v1.0
**Editor:** @jgostick
**Reviewers:** @janash, @rosecers, @jarvist
**Archive:** <a href="https://doi.org/10.5281/zenodo.5744760" target="_blank">10.5281/zenodo.5744760</a

[2021-06-01 15:12] whedon commented on #3287
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3325.

[2021-06-01 15:12] #3287 closed

[2021-06-01 15:12] whedon commented on #3325
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @janash, @rosecers it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://bl

[2021-06-01 15:12] whedon commented on #3325
[code]

[2021-06-01 15:12] whedon commented on #3325
[code]

[2021-06-01 15:12] whedon commented on #3325
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03325/joss.03325/10.21105.joss.03325.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03325/joss.03325/10.21105.joss.03325.pdf) :page_facing_up: :point_left:

[2021-06-01 15:20] brunaw commented on #3230
@arfon yes, happy to review this new submission, the only issue is that I might only be able to start the review next week, would that be acceptable?

[2021-06-01 15:21] kthyng commented on #3282
@whedon generate pdf

[2021-06-01 15:22] whedon commented on #3282
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03282/joss.03282/10.21105.joss.03282.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03282/joss.03282/10.21105.joss.03282.pdf) :page_facing_up: :point_left:

[2021-06-01 15:26] kthyng commented on #3282
@dbarneche There is a note about paper compilation here: https://joss.readthedocs.io/en/latest/submitting.html#checking-that-your-paper-compiles We have a system that will do that for you, and you can test it out, too. Examples of figures and captions are here: https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography Does this help?

[2021-06-01 15:31] kthyng commented on #3172
Hi @bstabler and @joferkington! When will you be able to start your reviews?

[2021-06-01 15:32] kthyng commented on #3175
Hi @evanleeturner and @raoulcollenteur! Will you be able to continue your reviews soon?

[2021-06-01 15:36] kthyng commented on #3179
@dbuscombe-usgs and @ngoldbaum: would you be interested in reviewing this submission for JOSS? We're asking for people to start their reviews in the next few weeks in hopes the whole iterative process would be finished in 4-6 weeks. You can learn more about the process here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html. Thanks for your consideration!

[2021-06-01 15:37] kthyng commented on #3180
Hi @mdbartos! Would you be interested in reviewing this submission for the Journal for Open Source Software? We would ask you to start the review in the next few weeks to be finished in 4-6 weeks, anticipated some potential back and forth of iteration with the author. It's all done through github — you can learn more about the process here: https://joss.readthedocs.io/en/latest/reviewer_guidelines

[2021-06-01 15:39] thurber commented on #3221
Thanks @cheginit, this is good feedback!

I just merged a PR that removes most of the _Functionality and limitations_ section based on @JannisHoch's feedback, so the section with the awkward CPU comparison is gone.

Regarding the speed and the use of `numexpr` -- I agree it's semantically burdensome, but at least for my own laptop and cluster, the `numexpr` implementation was faster than a `numba`

[2021-06-01 15:43] arfon commented on #3230
@whedon add @brunaw as reviewer

Absolutely, this is great! I'm hoping to have a second reviewer identified by then too (the actual review will take place in a second issue here on GitHub).

[2021-06-01 15:43] whedon commented on #3230
OK, @brunaw is now a reviewer

[2021-06-01 15:44] arfon commented on #3180
@whedon generate pdf

[2021-06-01 15:52] arfon commented on #3180
@whedon generate pdf

[2021-06-01 15:55] expectopatronum commented on #3230
Also happy to review! And I will also be able to start next week :)

[2021-06-01 15:59] arfon commented on #3180
@kthyng – I'm not exactly sure what's going on here but compiling the paper is blowing up the memory usage of Whedon and the process is being killed.

Historically this has been due to large figures but the PNGs here don't look too big. I'll need to dig into this further.

For now though, here's the paper compiled locally: [10.21105.joss.03180.pdf](https://github.com/openjournals/joss-reviews/file

[2021-06-01 16:08] giodegas commented on #3312
@mark-koren I tried to installi it, but got errors:

    pip3 install ast-toolbox

ends with:

[code]

    pip3 install https://github.com/sisl/AdaptiveStressTestingToolbox.git

ends with:

`  Cannot unpack file /tmp/pip-unpack-79upke_s/AdaptiveStressTestingToolbox.git (downloaded from /tmp/pip-req-build-9pkfxc7f, content-type: text/html; charset=utf-8); cannot detect archive format
Cannot determi

[2021-06-01 16:19] mark-koren commented on #3312
Hmmm strange, lemme look into that, I may have broken something without noticing when updating the joss stuff.

[2021-06-01 16:19] mark-koren commented on #3312
I might not be able to get to it today but I will ping you when I have it fixed.

[2021-06-01 16:46] kellyrowland commented on #3206
Sure thing, happy to step in.

[2021-06-01 16:47] kellyrowland commented on #3206
@whedon add @kellyrowland as editor

[2021-06-01 16:47] whedon commented on #3206
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-06-01 16:47] kellyrowland commented on #3206
@whedon assign @kellyrowland as editor

[2021-06-01 16:47] whedon commented on #3206
OK, the editor is @kellyrowland

[2021-06-01 17:10] dbuscombe-usgs commented on #3179
I'm sorry, I don't think I have the time this time - very busy month coming up. But would be happy to consider similar articles in the future

[2021-06-01 17:27] arfon commented on #3230
@whedon add @expectopatronum as reviewer

:zap: thanks so much @expectopatronum!

[2021-06-01 17:27] whedon commented on #3230
OK, @expectopatronum is now a reviewer

[2021-06-01 17:27] arfon commented on #3230
@whedon start review

[2021-06-01 17:27] whedon opened #3326 "[REVIEW]: libfmp: A Python Package for Fundamentals of Music Processing"
**Submitting author:** @fzalkow (<a href="http://orcid.org/0000-0003-1383-4541">Frank Zalkow</a>)
**Repository:** <a href="https://github.com/meinardmueller/libfmp" target ="_blank">https://github.com/meinardmueller/libfmp</a>
**Version:** v1.2.1
**Editor:** @arfon
**Reviewer:** @brunaw, @expectopatronum
**Archive:** <a href="https://doi.org/10.5281/zenodo.5113869" target="_blank">10.5281/zenodo.5

[2021-06-01 17:27] whedon commented on #3230
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3326.

[2021-06-01 17:27] #3230 closed

[2021-06-01 17:27] whedon commented on #3326
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @brunaw, @expectopatronum it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2021-06-01 17:28] whedon commented on #3326
PDF failed to compile for issue #3326 with the following error:
[code]

[2021-06-01 17:28] whedon commented on #3326
[code]

[2021-06-01 17:28] arfon commented on #3230
@brunaw, @expectopatronum – many thanks for agreeing to review here, see you over in #3326 where the actual review will take place.

[2021-06-01 17:29] arfon commented on #3326
@brunaw, @expectopatronum – This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisf

[2021-06-01 17:30] arfon commented on #3326
@whedon generate pdf from branch paper

[2021-06-01 17:30] whedon commented on #3326
[code]

[2021-06-01 17:30] whedon commented on #3326
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03326/joss.03326/10.21105.joss.03326.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03326/joss.03326/10.21105.joss.03326.pdf) :page_facing_up: :point_left:

[2021-06-01 18:04] egonw commented on #2558
@majensen, I got an editorial question: for another journal we're piloting using CiTO annotations in reference lists, see https://www.biomedcentral.com/collections/cito If I can get this to work with the current template and JOSS compiler out of the box, would JOSS be okay with me adding some of them?

[2021-06-01 18:11] whedon opened #3327 "[PRE REVIEW]: ogs6py and VTUinterface: streamlining OpenGeoSys workflows in Python"
**Submitting author:** @joergbuchwald (<a href="http://orcid.org/0000-0001-5174-3603">Jörg Buchwald</a>)
**Repository:** <a href="https://github.com/joergbuchwald/joss_ogs6py_VTUinterface" target ="_blank">https://github.com/joergbuchwald/joss_ogs6py_VTUinterface</a>
**Version:** v0.31
**Editor:** @leouieda
**Reviewers:** @cpgr, @TobbeTripitaka, @akaszynski
**Managing EiC:** Kevin M. Moerman

**:w

[2021-06-01 18:11] whedon commented on #3327
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-01 18:11] whedon commented on #3327
[code]

[2021-06-01 18:11] whedon commented on #3327
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03327/joss.03327/10.21105.joss.03327.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03327/joss.03327/10.21105.joss.03327.pdf) :page_facing_up: :point_left:

[2021-06-01 18:12] whedon commented on #3327
[code]

[2021-06-01 18:13] whedon opened #3328 "[PRE REVIEW]: Biosensor Framework: A C# Library for Affective Computing"
**Submitting author:** @wsarce (<a href="http://orcid.org/0000-0003-0819-0710">Walker Arce</a>)
**Repository:** <a href="https://github.com/Munroe-Meyer-Institute-VR-Laboratory/Biosensor-Framework" target ="_blank">https://github.com/Munroe-Meyer-Institute-VR-Laboratory/Biosensor-Framework</a>
**Version:** v1.0.0
**Editor:** @osorensen
**Reviewers:** @professoralkmin, @AustinTSchaffer
**Managing E

[2021-06-01 18:14] whedon commented on #3328
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-01 18:14] whedon commented on #3328
[code]

[2021-06-01 18:14] whedon commented on #3328
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03328/joss.03328/10.21105.joss.03328.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03328/joss.03328/10.21105.joss.03328.pdf) :page_facing_up: :point_left:

[2021-06-01 18:14] whedon commented on #3328
[code]

[2021-06-01 19:28] cheginit commented on #3221
@thurber The recommended way of implementing `numba` is to avoid vectorization and unroll all the loops. Adding signatures to functions can also speed up the code. You need to keep type casting during the runtime at the minimum. Another point is about the decision between using `f8` or `f4` that also affects the performance and accuracy.

[2021-06-01 20:25] AlexanderFabisch commented on #3054
@mikldk We came to a conclusion [here](https://github.com/AlexanderFabisch/gmr/issues/37): I will be the only author of the JOSS paper. The author list of the Zenodo release is still different though.

[2021-06-01 20:34] olgadoronina commented on #2095
Hi @roshansamuel, I was going to go through the installation process again with updated instructions, but it seems like [http://turbulencehub.org/](http://turbulencehub.org/) to download libraries is not available.

[2021-06-01 20:40] joglekara commented on #3298
@arfon , can you please send the re-send the collaboration invite? thank you!

[2021-06-01 20:53] arfon commented on #3298
@whedon re-invite @joglekara as reviewer

[2021-06-01 20:53] whedon commented on #3298
OK, the reviewer has been re-invited.

@joglekara please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-06-01 20:54] arfon commented on #3298
Can you try again now @joglekara?

[2021-06-01 20:54] joglekara commented on #3298
Success, thanks @arfon

[2021-06-01 21:36] DARSakthi commented on #3247
Closing comments:

In the end of the summary, I would still specify what 'certain assumptions' means. It currently isn't a very meaningful sentence. Perhaps something like 'used by epidemiologists and researchers who are interested in understanding the dynamics of epidemics when operating under different modelling assumptions, by evaluating different models in ```Eir```' (I assume this is what you

[2021-06-01 22:00] dbarneche commented on #3282
Thanks @kthyng ! It has been [fixed](https://github.com/ropensci/dataaimsr/commit/b7daff1254a6f7741b7117e2e2115d331494b37a).
I checked the online compilation tools and it should be working now.

[2021-06-01 22:40] HeloiseS commented on #3257
Hi,

I think my comments will echo what the other referee said. First of all congratulations on your code-base! As far as I can see it's very clean and maintained to a high standard of testing.

## General comments

My first and main comment is that after read the paper and gone through the tutorials, I am still not sure what use cases I would apply this code to - I think that the level of abstrac

[2021-06-01 23:47] mdbartos commented on #3180
Sure, happy to help. I've had a paper reviewed before in JOSS and I'm a big fan of the process.

[2021-06-01 23:58] coljac commented on #3283
Thanks @sbirrer. OK - I ticked the final box, we're good barring any issues @smsharma might identify.

[2021-06-02 00:00] sibirrer commented on #3283
Thank you @coljac! I will update the notebooks as well in the next couple of days too.

[2021-06-02 01:31] whedon commented on #3292
:wave: @aj2duncan, please update us on how your review is going (this is an automated reminder).

[2021-06-02 02:14] kbarnhart commented on #3114
@piyueh FYI, I will be out of the office Thursday June 3-Tuesday June 8.

[2021-06-02 02:16] kbarnhart commented on #3114
/ooo June 3 until June 8

[2021-06-02 02:16] kbarnhart commented on #3168
@davemlz  FYI, I will be out of the office Thursday June 3-Tuesday June 8.

[2021-06-02 02:17] kbarnhart commented on #2276
@KevinShook FYI, I will be out of the office Thursday June 3-Tuesday June 8.

[2021-06-02 07:10] mikldk commented on #3054
@whedon set v1.6.1 as version

[2021-06-02 07:10] whedon commented on #3054
OK. v1.6.1 is the version.

[2021-06-02 07:12] mikldk commented on #3054
@whedon accept

[2021-06-02 07:12] whedon commented on #3054
To recommend a paper to be accepted use `@whedon recommend-accept`

[2021-06-02 07:12] mikldk commented on #3054
@whedon recommend-accept

[2021-06-02 07:12] whedon commented on #3054
[code]

[2021-06-02 07:13] whedon commented on #3054
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2355

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2355, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-06-02 07:14] mikldk commented on #3054
@whedon generate pdf

[2021-06-02 07:14] whedon commented on #3054
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03054/joss.03054/10.21105.joss.03054.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03054/joss.03054/10.21105.joss.03054.pdf) :page_facing_up: :point_left:

[2021-06-02 07:41] csoneson commented on #3290
Thanks @federicomarini and @mponce0 for your quick reactions!

@joseph-palmer - over to you now, please let us know if you have any questions!

And sorry for missing the ping above re: contributions - in general, JOSS leaves it up to the authors to decide on the [authorship](https://joss.readthedocs.io/en/latest/submitting.html#authorship) of the JOSS submission (assuming that this has been discus

[2021-06-02 09:35] vissarion commented on #3303
@whedon add @ArikaLZ as reviewer

[2021-06-02 09:37] vissarion commented on #3306
@whedon start review

[2021-06-02 09:42] whedon commented on #3303
OK, @ArikaLZ is now a reviewer

[2021-06-02 09:44] whedon opened #3329 "[REVIEW]: Estimating the environmental footprint of food products from packaging data"
**Submitting author:** @GustaveCoste (<a href="http://orcid.org/0000-0001-5867-0507">Gustave Coste</a>)
**Repository:** https://framagit.org/GustaveCoste/off-product-environmental-impact/
**Branch with paper.md** (empty if default branch):
**Version:** v1.0
**Editor:** @vissarion
**Reviewers:** @marvinjonathcn, @simonom
**Archive:** 10.5281/zenodo.6569386

**:warning: JOSS reduced service mode :wa

[2021-06-02 09:44] #3306 closed

[2021-06-02 09:44] whedon commented on #3293
:wave: @AJQuinn, please update us on how your review is going (this is an automated reminder).

[2021-06-02 09:44] whedon commented on #3293
:wave: @sappelhoff, please update us on how your review is going (this is an automated reminder).

[2021-06-02 09:44] joeweaver commented on #3306
I'm interested, but not sure I have the time. I'll have a final answer by
the end of the day today (UK time).

On Mon, May 31, 2021 at 8:59 AM Vissarion Fisikopoulos <
***@***.***> wrote:

[2021-06-02 09:49] whedon commented on #3329
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @marvinjonathcn, @jrising it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2021-06-02 09:50] vissarion commented on #3329
@whedon generate pdf

[2021-06-02 09:53] whedon commented on #3329
PDF failed to compile for issue #3329 with the following error:
[code]

[2021-06-02 10:03] vissarion commented on #3329
@whedon generate pdf from branch joss

[2021-06-02 10:03] whedon commented on #3329
[code]

[2021-06-02 10:05] whedon commented on #3329
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03329/joss.03329/10.21105.joss.03329.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03329/joss.03329/10.21105.joss.03329.pdf) :page_facing_up: :point_left:

[2021-06-02 10:22] OliverSchmitz commented on #3306
@vissarion sorry, but the topic is not my expertise. Apologies for the late reply

[2021-06-02 10:58] simonom commented on #3306
Thanks @vissarion<https://github.com/vissarion>, I would like to review.

Kind regards,
Simon O'Meara

National Centre for Atmospheric Science Postdoctoral Research Associate
________________________________
From: Vissarion Fisikopoulos ***@***.***>
Sent: 31 May 2021 08:59
To: openjournals/joss-reviews ***@***.***>
Cc: Simon O'Meara ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/jos

[2021-06-02 10:59] tyronerees commented on #3127
Hi @djmitche -- this should be ready now (apologies for the delay -- we had some updates we wanted to get into the next release, and then I took my eye off the ball)

The doi is https://doi.org/10.5281/zenodo.4892752

Please let me know if you need me to do anything further.

[2021-06-02 11:30] isidentical commented on #3296
@yuhc @lutzhamel I've deployed a public instance on the web address: `https://reiz.io`. Unfortunately, I wasn't able to give exact instructions for an AWS instance since they still haven't approved my personal account though as you stated, if any of you want to have access to the environment the server is running I can give access (it is running on a digital ocean VPS right now). Please let me kno

[2021-06-02 11:35] tobiasschoch commented on #3238
@whedon generate pdf

[2021-06-02 11:36] whedon commented on #3238
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03238/joss.03238/10.21105.joss.03238.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03238/joss.03238/10.21105.joss.03238.pdf) :page_facing_up: :point_left:

[2021-06-02 11:48] tobiasschoch commented on #3238
@fboehm - Thank you for proofreading the paper. Highly appreciated!

 1.  Lines 78-79: This sentence feels awkward. Can you rewrite it to flow a little better while still conveying the message? Perhaps something like this: "We recommend that the user examine both the data structure and the "good" observations to verify that the assumptions hold." **Answer:** Yes, I have modified the sentence.
 2.

[2021-06-02 13:28] joeweaver commented on #3247
Happy to confirm that the issues I raised in the initial review have been adequately addressed and I can recommend publication.

[2021-06-02 13:55] samuel-rosa commented on #3303
@whedon assign me as reviewer

[2021-06-02 13:55] whedon commented on #3303
I'm sorry @samuel-rosa, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-06-02 13:58] samuel-rosa commented on #3303
Hi @vissarion, you can count on me to review this paper.

[2021-06-02 14:13] vincentberenz commented on #2752
@whedon generate pdf

[2021-06-02 14:13] whedon commented on #2752
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02752/joss.02752/10.21105.joss.02752.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02752/joss.02752/10.21105.joss.02752.pdf) :page_facing_up: :point_left:

[2021-06-02 15:18] KristinaRiemer commented on #2575
@arfon thank you for checking in on this! @mccabete it looks like the "functionality" and "summary" items in the check list are currently unchecked, do you have further comments about those areas?

[2021-06-02 15:21] KristinaRiemer commented on #3200
Hi @BrandonEdwards and @puruckertom, have you had a chance to start your reviews of this submission yet? Feel free to file issues in the software repository or ask questions here! Let me know if anything is blocking your work.

[2021-06-02 15:23] whedon commented on #3303
OK, @samuel-rosa  is now a reviewer

[2021-06-02 15:25] KristinaRiemer commented on #3094
Thanks @arfon, and to everyone for their patience. It looks like @hansenjohnson has addressed all of the review comments by @mcsiple. Are there any additional followup questions about those?

[2021-06-02 15:29] vissarion commented on #3303
@whedon start review

[2021-06-02 15:29] whedon opened #3330 "[REVIEW]: spopt: a python package for solving spatial optimization problems in PySAL"
**Submitting author:** @xf37 (<a href="http://orcid.org/0000-0001-7253-3154">Xin Feng</a>)
**Repository:** https://github.com/pysal/spopt
**Branch with paper.md** (empty if default branch):
**Version:** 0.4.1
**Editor:** @vissarion
**Reviewers:** @tmickleydoyle, @apulverizer
**Archive:** 10.5281/zenodo.6638721

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-1

[2021-06-02 15:30] whedon commented on #3303
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3330.

[2021-06-02 15:30] #3303 closed

[2021-06-02 15:30] whedon commented on #3330
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ArikaLZ, @samuel-rosa  it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2021-06-02 15:30] whedon commented on #3330
[code]

[2021-06-02 15:30] whedon commented on #3330
[code]

[2021-06-02 15:30] whedon commented on #3330
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03330/joss.03330/10.21105.joss.03330.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03330/joss.03330/10.21105.joss.03330.pdf) :page_facing_up: :point_left:

[2021-06-02 15:32] vissarion commented on #3330
Hi @xf37 it seems that several DOIs are missing from your submission and one is invalid as you can see above. Please fix this issue.

[2021-06-02 15:34] vissarion commented on #3329
@whedon add @simonom as reviewer

[2021-06-02 15:34] whedon commented on #3329
OK, @simonom is now a reviewer

[2021-06-02 15:38] vissarion commented on #3329
@whedon generate pdf from branch joss

[2021-06-02 15:38] whedon commented on #3329
[code]

[2021-06-02 15:38] whedon commented on #3329
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03329/joss.03329/10.21105.joss.03329.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03329/joss.03329/10.21105.joss.03329.pdf) :page_facing_up: :point_left:

[2021-06-02 15:47] smsharma commented on #3283
Apologies likewise for the delay on this!

`lenstronomy` is a mature package widely used in strong lensing analyses for modeling a variety of relevant physical systems (e.g., time-delay lenses, galaxy-galaxy lenses) and enabling downstream tasks such as Hubble constant measurement and dark matter substructure inference. The modular API additionally makes it easy to adapt for a given purpose as wel

[2021-06-02 16:07] jGaboardi commented on #2826
@martibosch @usethedata @arfon I believe that all concerns have now been addressed in this review.

[2021-06-02 16:08] whedon commented on #2826
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02826/joss.02826/10.21105.joss.02826.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02826/joss.02826/10.21105.joss.02826.pdf) :page_facing_up: :point_left:

[2021-06-02 16:21] whedon commented on #3294
:wave: @kanderso-nrel, please update us on how your review is going (this is an automated reminder).

[2021-06-02 16:21] whedon commented on #3294
:wave: @crvernon, please update us on how your review is going (this is an automated reminder).

[2021-06-02 16:27] kanderso-nrel commented on #3294
Haven't started yet but I should have time for it soon 👍

[2021-06-02 16:46] crvernon commented on #3294
I only have one checkbox left which is related to "Installation."  This issue is open here:  https://github.com/PyPSA/atlite/issues/143

Once this is taken care of, my portion of the review will be completed.

[2021-06-02 16:56] sibirrer commented on #3283
Thank you @smsharma  and @coljac  for the very encouraging and positive feedback! @coljac I also updated the notebooks slightly, in particular the astrofunc dependency got removed (was a leftover as the functionalities are itself available in lenstronomy).

@danielskatz what are the next steps for me/us?

[2021-06-02 17:14] fboehm commented on #3238
@tobiasschoch - thanks so much! We now need you to archive the package, for example, with zenodo. Please report the archive doi, along with the new version number, here. I'll then tell whedon to set the archive doi and version number. I believe that authors don't have permissions to do so via whedon.

[2021-06-02 17:53] JosiahParry commented on #3272
All looks good! No automated tests.

[2021-06-02 18:02] whedon commented on #3295
:wave: @mviereck, please update us on how your review is going (this is an automated reminder).

[2021-06-02 18:02] whedon commented on #3295
:wave: @vsoch, please update us on how your review is going (this is an automated reminder).

[2021-06-02 18:08] mviereck commented on #3295
@whedon Just waiting for progress in the tickets. Also it seems that we will review the yet unreleased python3 version. So I've paused reviewing.

[2021-06-02 18:08] whedon commented on #3295
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-06-02 18:10] vsoch commented on #3295
[at]whedon, I did finish my preliminary review but I don't think there are responses to my issues yet. And +1 what @mviereck said, it's not clear what we are reviewing, and I'm also wanting more focus on how this version is different from the previous publication. I'm not sure I'm convinced that the changes are substantial enough to warrant a new paper.

[2021-06-02 18:21] tobiasschoch commented on #3238
@fboehm - Thank you very much, Frederick! The version is tagged "v0.5" and the DOI is

[![DOI](https://zenodo.org/badge/258328250.svg)](https://zenodo.org/badge/latestdoi/258328250)

and the target URL is https://zenodo.org/badge/latestdoi/258328250

@aalfons  and @msalibian Thank you for reviewing the paper!

[2021-06-02 18:26] danielskatz commented on #3272
The checkbox item says "Are there automated tests or manual steps described so that the functionality of the software can be verified?"  So we don't need automated tests, if there is a way to verify the functionality of the software manually.  Is there such a way documented?

[2021-06-02 18:44] faroit commented on #3244
@whedon assign me as editor

[2021-06-02 18:44] whedon commented on #3244
OK, the editor is @faroit

[2021-06-02 18:45] faroit commented on #3218
@whedon assign me as editor

[2021-06-02 18:45] whedon commented on #3218
OK, the editor is @faroit

[2021-06-02 19:02] medewitt commented on #3272
Check out https://github.com/cjbarrie/academictwitteR/issues/78#issue-899836077

Right now, the CRAN checks will do the basic installation checks, but will not check the functionality per se (all of the examples which would be checked by CRAN are wrapped in "dontrun").  As far as manually checking functionality, the authors have done a great job adding an example to each function. A user could man

[2021-06-02 19:39] danielskatz commented on #3272
What else is needed to check off the final box?

[2021-06-02 19:53] medewitt commented on #3272
The testing piece is it on my end. If you're ok with the described manual checking and the existing CI that runs the cran checks across platforms, I can check the final box.

[2021-06-02 19:59] danielskatz commented on #3272
Yes, I think what you described meets the description/criterion

[2021-06-02 20:00] joeweaver commented on #3306
I will not be able to review this in a timely manner, sorry.

On Wed, Jun 2, 2021 at 10:50 AM Vissarion Fisikopoulos <
***@***.***> wrote:

[2021-06-02 20:13] mjacob1002 commented on #3247
@DARSakthi I just fixed the assumptions portion of the summary section, thanks for letting me know!

Thanks to both of you for taking the time to review my submission - I really appreciate it!

- Mathew

[2021-06-02 21:18] DARSakthi commented on #3247
Looks good (and no worries at all). @will-rowe pending your editorial decision, I think we can move ahead with putting this in press

Cheers

[2021-06-02 22:28] mark-koren commented on #3312
@giodegas Try using python 3.6*. If that is an issue, let me know -- I was able to successfully install the toolbox using the latest version of 3.7 (3.7.10), though using 3.7.3 I also get the error you did. I have updated the toolbox for now to enforce using 3.6.

*This is an inherited dependency from garage, but they have since released an update that will allow us to support higher versions of p

[2021-06-02 22:30] mccabete commented on #2575
Nope! Sorry, just missed those
________________________________
From: Kristina Riemer ***@***.***>
Sent: Wednesday, June 2, 2021 11:18 AM
To: openjournals/joss-reviews ***@***.***>
Cc: Mccabe, Tempest ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [REVIEW]: DYCO: A Python package to dynamically detect and compensate for time lags in ecosystem time series (#2575)

@arfo

[2021-06-03 00:28] whedon commented on #3296
:wave: @yuhc, please update us on how your review is going (this is an automated reminder).

[2021-06-03 00:28] whedon commented on #3296
:wave: @lutzhamel, please update us on how your review is going (this is an automated reminder).

[2021-06-03 01:18] taqtiqa-mark commented on #3013
@sbenthall unfortunately I can't take one another commitment right now. Apologies for the delay in responding to your request.

[2021-06-03 07:32] cjbarrie commented on #3272
Thanks @medewitt. Have merged your PR for testing JSON bind too, and including more informative error messaging. Very grateful for your help with this!

[2021-06-03 08:04] DrDaveShaw commented on #3224
Thanks again all for all of the support and comments, I believe the model is ready for a release alongside the paper as v1.1. @goldmanm how are the additional cases going? Is there anything I can help with?

[2021-06-03 08:17] mviereck commented on #3295
Just want to note that the third party tools of udocker are not clearly stated and are missing source, license and origin. This needs to be documented well. In the current state this is an acceptance blocker. Compare https://github.com/indigo-dc/udocker/issues/311

[2021-06-03 08:32] McGregor14 commented on #3270
@oliviaguest portal license is up! https://github.com/flare-kcl/flare-portal/blob/main/LICENSE

[2021-06-03 08:51] arfon commented on #2826
@jGaboardi – At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the aut

[2021-06-03 09:28] pdebuyl commented on #3198
Hi @alexamici I see a thumbs up on my last message, does that mean that you agree to perform the review?

[2021-06-03 09:28] pdebuyl commented on #3198
@whedon assign @arthur-e as reviewer

[2021-06-03 09:28] whedon commented on #3198
OK, @arthur-e is now a reviewer

[2021-06-03 09:43] richardjgowers commented on #3301
@whedon assign @richardjgowers as editor

[2021-06-03 09:43] whedon commented on #3301
OK, the editor is @richardjgowers

[2021-06-03 10:08] pdebuyl commented on #2973
@whedon set 0.9.0 as version

[2021-06-03 10:08] whedon commented on #2973
OK. 0.9.0 is the version.

[2021-06-03 10:09] pdebuyl commented on #2973
@whedon set 10.5281/zenodo.4817609 as archive

[2021-06-03 10:09] whedon commented on #2973
OK. <a href="https://doi.org/10.5281/zenodo.4817609" target="_blank">10.5281/zenodo.4817609</a> is the archive.

[2021-06-03 11:13] pdebuyl commented on #2973
@glyg can you update the metadata of the zenodo archive (you can "edit" it via the "upload" page) to match those of the paper (title, etc)? I see that the author listing does not match, can you address that?

Depending on the situation, some names can be listed as "contributors" and not "authors" depending on their contribution. "gitter-badger" should be removed. Check our authorship guidelines: h

[2021-06-03 11:14] alexamici commented on #3198
The thumb-up was "OK, I'm going to study" :)

Thank you for considering me, I like the idea very much, but in the last couple of days my schedule exploded and unfortunately I'm not able to accomodate any additional commitment in the short term, not even what looks like a lightweight one. Sorry.

I will register as a reviewer anyhow and I'm happy to try and participate to reviews in the future.

[2021-06-03 11:32] pdebuyl commented on #3198
Thanks for the reply @alexamici , I understand the time consideration, and for registering as a reviewer!

[2021-06-03 11:32] pdebuyl commented on #3198
@McWhity any recommendation for a reviewer?

[2021-06-03 12:10] glyg commented on #2973
Thanks @pdebuyl - I fixed the title & author list, and added the ERC grant (that's neatly done !)

[2021-06-03 12:18] pdebuyl commented on #2973
Thank you for the changes. Can you remove html formatting in the md file?

There are still a few minor spelling errors, I'll try to go over the paper carefully in the coming days.

[2021-06-03 12:28] glyg commented on #2973
I removed the tags:
https://github.com/DamCB/tyssue/commit/4d8f8624b5d94649f0cd3e0be3a83def3d9f711f

I'll try to read it again also.
Thanks

[2021-06-03 12:30] glyg commented on #2973
@whedon generate pdf

[2021-06-03 12:30] whedon commented on #2973
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02973/joss.02973/10.21105.joss.02973.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02973/joss.02973/10.21105.joss.02973.pdf) :page_facing_up: :point_left:

[2021-06-03 12:59] giodegas commented on #3312
@mark-koren  in the paper this dependency should be noted, also in the installation docs. Eventually the best setup to have all software packages "frozen" at the time of the paper, to have a  [docker](https://en.wikipedia.org/wiki/Docker_(software)) container description (Dockerfile) in which you can specify fixed version releases for each dependency, including pyhton. It would also facilitate the

[2021-06-03 14:31] glyg commented on #2973
Fixed parentheses & some typos

@whedon generate pdf

[2021-06-03 14:39] sophietheis commented on #2973
Also fixed missing references.

[2021-06-03 14:54] majensen commented on #2558
@egonw I will tag @arfon regarding the [above](https://github.com/openjournals/joss-reviews/issues/2558#issuecomment-852336355) proposal anyhow.

[2021-06-03 14:57] majensen commented on #2558
Just want to apologize for my tardiness on this - I will take a final look at the paper with an eye to proofreading; might have a suggestion or two via a PR. Really will try to get this accomplished this weekend
@egonw

[2021-06-03 14:58] majensen commented on #3173
Thanks @tresoldi - I apologize for being out of the loop for a while. I will make every effort to review the current version this weekend.

[2021-06-03 14:58] majensen commented on #3197
Keep up the good work all!

[2021-06-03 14:59] egonw commented on #2558
Well, compared to how quickly I was able to reply to the reviewers, I will refrain from commenting on the "tardiness" :)

[2021-06-03 15:06] majensen commented on #2880
Hi @vahid-sb - I just wanted to check in and see if you want to restart this review. Hope everything is going well.

[2021-06-03 15:06] majensen commented on #3246
@benjaminbolling again apologies - I will get on this this weekend. Many competing priorities this last month or so.

[2021-06-03 15:15] ha0ye commented on #3013
Ok, lost track of time, but will start tomorrow, and target next week to submit my review.

[2021-06-03 15:16] benjaminbolling commented on #3246
@majensen thank you, and no worries and no rush - take your time. I understand there can be many things that compete priority-wise.

[2021-06-03 15:18] mengqi-z commented on #3212
Hi @kellyrowland,

May I ask about the status of this paper? We would like to know if it is possible to have the reviews out within the next couple of weeks. Thanks a lot!

[2021-06-03 15:18] whedon commented on #3297
:wave: @levimcclenny, please update us on how your review is going (this is an automated reminder).

[2021-06-03 15:20] soodoku commented on #3013
hi @sbenthall: too many other commitments for now so i must decline.

[2021-06-03 15:45] tresoldi commented on #3173
No problem, it also took me longer than expected to address the "statement of need" issue. Thanks, @majensen !

[2021-06-03 15:54] amygalanter commented on #3212
Hi @mengqi-z  and @kellyrowland , I'm still working on the review but I will be done in the next few days! (definitely by monday 6/7 if not sooner)

[2021-06-03 17:26] diehlpk commented on #3060
@rdeits Is it working for you now? Note that the above links expires in two weeks again.

[2021-06-03 17:36] sbenthall commented on #3013
@ha0ye Thank you! We are a little backed up in the process because we need to find a second reviewer. But if you do your review soon, you can submit it once the second reviewer is found.

Do you have the review checklist available?

[2021-06-03 17:40] sbenthall commented on #3013
@Darthpathos would you be able to review this package?

[2021-06-03 17:42] sbenthall commented on #3065
Super.

@martibosch could you please check off all the boxes in your review checklist?

@jamesdamillington what do you think of the revisions? Do they satisfy you?

[2021-06-03 17:44] sbenthall commented on #2605
@gdede-hua as we've not heard back from you for a while, I'm going to mark this review as paused. If we don't hear back from you in the next month, we will assume you no longer wish to pursue this publication in JOSS and will withdraw this submission on your behalf

[2021-06-03 18:08] fboehm commented on #3238
@whedon set version as v0.5

[2021-06-03 18:08] whedon commented on #3238
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-06-03 18:08] fboehm commented on #3238
@whedon set v0.5 as version

[2021-06-03 18:08] whedon commented on #3238
OK. v0.5 is the version.

[2021-06-03 18:11] fboehm commented on #3238
@whedon check references

[2021-06-03 18:12] whedon commented on #3238
[code]

[2021-06-03 18:12] ha0ye commented on #3013
Yep, I've reviewed for JOSS before, as well as used the rOpenSci checklist in a separate setting.

[2021-06-03 18:13] fboehm commented on #3238
@whedon set 10.5281/zenodo.4895167 as archive

[2021-06-03 18:13] whedon commented on #3238
OK. <a href="https://doi.org/10.5281/zenodo.4895167" target="_blank">10.5281/zenodo.4895167</a> is the archive.

[2021-06-03 18:14] fboehm commented on #3238
@whedon accept

[2021-06-03 18:14] whedon commented on #3238
To recommend a paper to be accepted use `@whedon recommend-accept`

[2021-06-03 18:15] fboehm commented on #3238
@whedon recommend-accept

[2021-06-03 18:15] whedon commented on #3238
[code]

[2021-06-03 18:15] whedon commented on #3238
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2356

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2356, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-06-03 18:16] whedon commented on #3238
[code]

[2021-06-03 18:16] fboehm commented on #3238
@tobiasschoch - I just recognized that the title of the archive doesn't match the title of the manuscript. Can you please fix this?

[2021-06-03 18:22] kellyrowland commented on #3206
Hi, @gaurav - if you have any suggestions for potential reviewers, please mention them here in this thread (without tagging them with an @).

[2021-06-03 18:26] jGaboardi commented on #2826
@arfon I have cut a fresh release and Zenodo archive with the following info. Let me know if I did this correctly.
| title | spaghetti: spatial network analysis in PySAL |
|  --- | --- |
| version | 1.5.8 |
| release | https://github.com/pysal/spaghetti/releases/tag/v1.5.8 |
|  doi | https://zenodo.org/record/4898079 |

@slumnitz @sjsrey looks like things are wrapping up here!

[2021-06-03 19:54] Darthpathos commented on #3013
Hi @sbenthall - Unfortunately I don't anything about economics (I'm in healthcare).  Please let me know if you have any packages needing review for clinical trials, medical research, etc. :)

[2021-06-03 20:03] will-rowe commented on #3247
Thanks so much @DARSakthi and @joeweaver - these are excellent reviews. My apologies for a slow response but I've been away recently.

@mjacob1002 - it all looks good to me and I'm happy to move toward acceptance. I've got no issue with the "no funding" statement and I can't find anything about it in the guidelines. That being said, an EiC may have better guidance but we'll cross that bridge if we

[2021-06-03 20:03] will-rowe commented on #3247
@whedon generate pdf

[2021-06-03 20:03] will-rowe commented on #3247
@whedon check references

[2021-06-03 20:03] whedon commented on #3247
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03247/joss.03247/10.21105.joss.03247.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03247/joss.03247/10.21105.joss.03247.pdf) :page_facing_up: :point_left:

[2021-06-03 20:03] whedon commented on #3247
[code]

[2021-06-03 20:05] tobiasschoch commented on #3238
@fboehm - Sorry... I have fixed it.

[2021-06-03 20:07] arfon commented on #2826
@whedon set 10.5281/zenodo.4898079 as archive

[2021-06-03 20:07] whedon commented on #2826
OK. <a href="https://doi.org/10.5281/zenodo.4898079" target="_blank">10.5281/zenodo.4898079</a> is the archive.

[2021-06-03 20:07] arfon commented on #2826
@whedon set v1.5.8 as version

[2021-06-03 20:08] whedon commented on #2826
OK. v1.5.8 is the version.

[2021-06-03 20:08] arfon commented on #2826
@whedon recommend-accept

[2021-06-03 20:08] whedon commented on #2826
[code]

[2021-06-03 20:08] whedon commented on #2826
[code]

[2021-06-03 20:09] whedon commented on #2826
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2357

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2357, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-06-03 20:16] will-rowe commented on #3247
Okay - nearly there. Please address the following:

ln 10: dont' -> don't
ln25: should probably be "... the work of Mühlpfordt et al. (Mühlpfordt, 2020)"
ln31: is there a reference or DOI for this study?
ln44: researcher -> researchers
ln45: add space after Markov chains

[2021-06-03 20:17] will-rowe commented on #3247
Once these are done please make a tagged release and archive it, and then report back with the version number and archive

[2021-06-03 20:29] arfon commented on #2826
@jGaboardi – please merge this PR which makes a small number of formatting fixes and removes a duplicate sentence https://github.com/pysal/spaghetti/pull/626.

[2021-06-03 20:31] nhejazi commented on #3214
@lpantano Thanks for pinging me for this review -- it looks like an interesting package and paper; however, I will not be able to provide a timely review at present, due to a confluence of external deadlines. Happy to help out again in the future.

[2021-06-03 21:11] jGaboardi commented on #2826
@arfon pysal/spaghetti#626 is now merged.

[2021-06-03 21:12] jGaboardi commented on #2826
@whedon generate pdf

[2021-06-03 21:12] whedon commented on #2826
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02826/joss.02826/10.21105.joss.02826.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02826/joss.02826/10.21105.joss.02826.pdf) :page_facing_up: :point_left:

[2021-06-04 01:00] mbobra commented on #3269
@whedon assign @danhey as reviewer

[2021-06-04 01:00] whedon commented on #3269
OK, @danhey is now a reviewer

[2021-06-04 06:07] ayush-1506 commented on #3208
@melissawm Should I suggest a second reviewer here ?

[2021-06-04 06:12] jspaezp commented on #2694
any update @tystan ?

[2021-06-04 06:17] arfon commented on #2826
@whedon recommend-accept

[2021-06-04 06:17] whedon commented on #2826
[code]

[2021-06-04 06:17] whedon commented on #2826
[code]

[2021-06-04 06:17] whedon commented on #2826
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2358

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2358, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-06-04 06:25] arfon commented on #2826
@whedon accept deposit=true

[2021-06-04 06:25] whedon commented on #2826
[code]

[2021-06-04 06:25] whedon commented on #2826
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1400700298956521472) 👈 🐦🐦🐦

[2021-06-04 06:25] whedon commented on #2826
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2359
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02826](https://doi.org/10.21105/joss.02826)
2. If everything look

[2021-06-04 06:30] arfon commented on #2826
@martibosch, @usethedata – many thanks for your reviews here and to @usethedata for editing too! JOSS relies upon the volunteer efforts of people like you and we simply wouldn't be able to do this without you ✨

On a personal note, thanks to @usethedata who is stepping down from the JOSS editorial team. Thanks Bruce for all of your help making JOSS the success it is 💖

@jGaboardi – your paper is n

[2021-06-04 06:30] #2826 closed

[2021-06-04 06:30] whedon commented on #2826
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02826/status.svg)](https://doi.org/10.21105/joss.02826)

**We need your help!**

Journal of Open Source Softwa

[2021-06-04 06:34] igarizio commented on #3203
@whedon generate pdf

[2021-06-04 06:35] whedon commented on #3203
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03203/joss.03203/10.21105.joss.03203.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03203/joss.03203/10.21105.joss.03203.pdf) :page_facing_up: :point_left:

[2021-06-04 07:35] davemlz commented on #3168
Hi, @kbarnhart!

Sorry for the late responde, I'll start with it!

[2021-06-04 07:38] davemlz commented on #3168
@whedon generate pdf

[2021-06-04 07:39] whedon commented on #3168
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03168/joss.03168/10.21105.joss.03168.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03168/joss.03168/10.21105.joss.03168.pdf) :page_facing_up: :point_left:

[2021-06-04 07:41] davemlz commented on #3168
@whedon check references

[2021-06-04 07:42] whedon commented on #3168
[code]

[2021-06-04 07:49] McWhity commented on #3198
I don't know the person but maybe Andreas Steinberg (https://github.com/braunfuss) would be a good candidate. He worked with the Sentinel-1 Toolbox and he has some open-source software publications (https://www.bridges.uni-kiel.de/en/team/andreas-steinberg?set_language=en)

[2021-06-04 08:16] McWhity commented on #3198
Another possible candidate might be Pete Bunting (https://github.com/petebunting). He has also some experience in processing Sentinel-1 as well as other Earth Observation data (https://github.com/remotesensinginfo)

[2021-06-04 09:14] pdebuyl commented on #3198
Thanks @McWhity

[2021-06-04 13:26] martibosch commented on #3065
I just have one last question regarding the "Summary" checkbox. I believe that the second paragraph of the "Introduction" of the current manuscript provides a concise summary of agentpy, however, do JOSS papers require a dedicated "Summary" section? If not, I can check off the box and the manuscript can proceed to publication.

[2021-06-04 13:32] levimcclenny commented on #3297
Apologies for the delay - looks good!

[2021-06-04 13:54] KristinaRiemer commented on #2575
Okay, thanks @mccabete. I checked those off just for the sake of completion.

@holukas there are a few more steps to go before publication. I'm going to check over the paper for typos and such, and it's suggested that you do also. Once that's done, I'll ask for archive links.

[2021-06-04 13:54] KristinaRiemer commented on #2575
@whedon generate pdf

[2021-06-04 13:55] whedon commented on #2575
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02575/joss.02575/10.21105.joss.02575.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02575/joss.02575/10.21105.joss.02575.pdf) :page_facing_up: :point_left:

[2021-06-04 13:56] KristinaRiemer commented on #2575
@whedon check references

[2021-06-04 13:56] whedon commented on #2575
[code]

[2021-06-04 14:29] chrishavlin commented on #3158
@danielskatz should the review checklist be automatically added or do I add that? Or does that show up when this is switched from Pre Review to Review?

[2021-06-04 14:33] dghoshal-lbl commented on #2484
@gflofst We have addressed and fixed the issues you raised. Please review and let me know if anything else is needed. Thanks!

[2021-06-04 14:35] danielskatz commented on #3158
It's automatically generated in the review issue.  You can start working if you have time, and just keep some local notes that you can put there once we find another reviewer and start the review

[2021-06-04 14:36] chrishavlin commented on #3158
Ok, got it! Thanks!

[2021-06-04 14:36] danielskatz commented on #3158
👋 @Garyfallidis - any reviewer suggestions from you, as requested in https://github.com/openjournals/joss-reviews/issues/3158#issuecomment-845342011 ?  I would like to start this review soon

[2021-06-04 14:40] danielskatz commented on #3158
👋 @hankchilds, @ARSanderson, @BradWhitlock - would one of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-06-04 15:01] whedon commented on #3298
:wave: @HaoZeke, please update us on how your review is going (this is an automated reminder).

[2021-06-04 15:01] whedon commented on #3298
:wave: @joglekara, please update us on how your review is going (this is an automated reminder).

[2021-06-04 15:14] arfon commented on #3297
@ChWick – I've found a small issue with your paper here that makes it a little more readable: https://github.com/Planet-AI-GmbH/tfaip/pull/4

Also, I find the current 'Statement of Need' section rather confusing to read. This section should clearly state for the reader why this software is needed, what problems it uniquely solves (or solves better than other tools) etc. Some comments on this secti

[2021-06-04 15:36] diehlpk commented on #3060
Hey  @jarvist how is your review going?

[2021-06-04 15:39] jarvist commented on #3060
@diehlpk - I think I failed to catch the invite to edit in time. Could you re-invite me?
I've installed the software and checked functionality, I haven't read the documentation or paper yet. I should have this done by early next week.

[2021-06-04 15:57] KristinaRiemer commented on #2575
Okay, I found only a few small errors for you to fix in the paper @holukas:

- Choose either bullets or numerals for the list at the top of the second page
- The first sentence in line 51 appears to be incomplete? I'm not sure if it should be joined to the following sentence or if there's something missing from it
- For the two figures, they only need one figure caption each. You can remove the on

[2021-06-04 16:01] diehlpk commented on #3060
@whedon re-invite @jarvist as reviewer

[2021-06-04 16:01] whedon commented on #3060
OK, the reviewer has been re-invited.

@jarvist please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-06-04 16:01] diehlpk commented on #3060
@jarvist Please click on the link above.

[2021-06-04 16:21] faroit commented on #3218
👋  Hi @BreezeWhite, thanks for your submission to JOSS! I will be serving as the editor for this. We'll use this issue to identify reviewers and resolve technical issues.

As this toolbox implements a bunch of transcription models, it would be great to have reviewers with domain knowledge who also have experience with frameworks used in the MIR community... I have a few potential reviewers in mind

[2021-06-04 16:26] faroit commented on #3218
@BreezeWhite while we find potential reviewers, can you please address https://github.com/openjournals/joss-reviews/issues/3218#issuecomment-828230199 and add the missing DOIs as indicated by the [reference check summary](https://github.com/openjournals/joss-reviews/issues/3218#issuecomment-826046133)?

[2021-06-04 16:53] davemlz commented on #3168
Hi, @kbarnhart!

The package is now in Zenodo:

- Tagged release: 0.2.0
- Software archived in: Zenodo
- List of authors revised.
- DOI: 10.5281/zenodo.4900067

[2021-06-04 17:11] lpantano commented on #3214
@tleonardi,@waldeyr, would you be interested on reviewing this tool? thanks!

[2021-06-04 17:18] mbobra commented on #3269
@whedon add @benjaminpope as reviewer

[2021-06-04 17:18] whedon commented on #3269
OK, @benjaminpope is now a reviewer

[2021-06-04 17:19] mbobra commented on #3269
@whedon start review

[2021-06-04 17:19] whedon opened #3331 "[REVIEW]: pySYD: Automated measurements of global asteroseismic parameters"
**Submitting author:** @ashleychontos (<a href="http://orcid.org/0000-0003-1125-2564">Ashley Chontos</a>)
**Repository:** https://github.com/ashleychontos/pySYD
**Branch with paper.md** (empty if default branch): master
**Version:** v6.10.0
**Editor:** @mbobra
**Reviewers:** @danhey, @benjaminpope
**Archive:** 10.5281/zenodo.7301604

**:warning: JOSS reduced service mode :warning:**

Due to the ch

[2021-06-04 17:19] whedon commented on #3269
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3331.

[2021-06-04 17:19] #3269 closed

[2021-06-04 17:19] whedon commented on #3331
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @danhey, @benjaminpope it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-06-04 17:19] whedon commented on #3331
[code]

[2021-06-04 17:19] whedon commented on #3331
[code]

[2021-06-04 17:20] whedon commented on #3331
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03331/joss.03331/10.21105.joss.03331.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03331/joss.03331/10.21105.joss.03331.pdf) :page_facing_up: :point_left:

[2021-06-04 17:20] mbobra commented on #3269
@danhey @benjaminpope See you over in #3331!

[2021-06-04 17:21] mbobra commented on #3331
👋  @danhey @benjaminpope Thank you so much for agreeing to review! You can find the article in the comment box above ⬆️ , and the checklist and software repository linked in the first comment box on this issue. I think you're good to go -- please let me know if you need anything else.

Again, JOSS is an open review process and we encourage communication between the reviewers, the submitting author

[2021-06-04 17:43] amygalanter commented on #3212
Hi @mengqi-z and @kellyrowland , I finished my review. I appreciate the opportunity to review such a well written and useful package. I checked off all of the boxes except for the last 4 of the **Software paper** because I did not see a **statement of need**, **State of the field**, and **References**. I added this as an "issue" in the repo. Good work @mengqi-z . Please let me know if you need any

[2021-06-04 17:59] mengqi-z commented on #3212
Hi @amygalanter,

Thank you very much for the review and positive feedback to our package. For the software paper, I just checked the PDF generated by whedom in this issue, and it has **Statement of Need** and **References** sections. I am not sure why it is not appearing in the version you have. Would you please double check that? Thank you!

Best,

Mengqi

[2021-06-04 18:11] justinshenk commented on #3202
Thank you @a-paxton for your in-depth review and helpful suggestions! I enjoyed reading the references you shared and plan to add support for several of these features in future versions of Traja.

Improvements as requested are provided below:

- Fixed conda-forge package in v0.2.8
- Default color palettes [changed](https://github.com/traja-team/traja/commit/9a462327d643b98512facb7c2c854d7df176f9d

[2021-06-04 18:20] justinshenk commented on #3202
@whedon generate pdf

[2021-06-04 18:20] whedon commented on #3202
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03202/joss.03202/10.21105.joss.03202.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03202/joss.03202/10.21105.joss.03202.pdf) :page_facing_up: :point_left:

[2021-06-04 18:23] amygalanter commented on #3212
My apologies @mengqi-z , I see them now.

[2021-06-04 18:27] amygalanter commented on #3212
ok! I updated the checked boxes and and finished with the review. Great job @mengqi-z !

[2021-06-04 18:40] mengqi-z commented on #3212
Thank you @amygalanter for the review!

[2021-06-04 18:51] justinshenk commented on #3202
@whedon generate pdf

[2021-06-04 18:51] whedon commented on #3202
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03202/joss.03202/10.21105.joss.03202.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03202/joss.03202/10.21105.joss.03202.pdf) :page_facing_up: :point_left:

[2021-06-04 19:18] KristinaRiemer commented on #2575
Hi @holukas, it looks like the syntax for the subscripts should be with `~` instead of `<sub>` for some reason. So `CO<sub>2</sub>` should instead be `CO~2~`. If you can modify those in the paper, we'll see if that works!

[2021-06-04 19:44] jarvist commented on #3060
@diehlpk  - thank you! All sorted now. I'll have this done next week.

[2021-06-04 20:44] kellyrowland commented on #3212
Thanks very much @amygalanter!

Hi @neerajdhanraj - do you have a status update on your reivew?

[2021-06-04 20:50] gerudo7 commented on #3174
We are currently working on addressing @matthewfeickert 's comments and plan to release all of the changes together as v1.1.0. We had another question come up about one of the comments:

I am having some trouble understanding what separates this visualization from a demo. I have some ideas as to what the issue might be (below), but I was hoping I could get some guidance to see if I'm looking in th

[2021-06-04 20:52] Garyfallidis commented on #3158
Thank you @danielskatz. I hope we will hear soon from @hankchilds, @ARSanderson and @BradWhitlock. Otherwise, @jankatins, @zfurnas, @a-slide and @tuchandra seem relevant.

[2021-06-04 21:23] kthyng commented on #3179
Thanks for letting me know @dbuscombe-usgs! Totally understand.

[2021-06-04 21:24] kthyng commented on #3179
@PythonCHB Are you available to review this JOSS submission? We're asking for people to start their reviews in the next few weeks in hopes the whole iterative process would be finished in 4-6 weeks. As a reminder, you can learn more about the process here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html. Thanks for your consideration!

[2021-06-04 21:38] kthyng commented on #3282
@whedon generate pdf

[2021-06-04 21:38] whedon commented on #3282
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03282/joss.03282/10.21105.joss.03282.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03282/joss.03282/10.21105.joss.03282.pdf) :page_facing_up: :point_left:

[2021-06-04 21:41] kthyng commented on #3282
@whedon set 10.5281/zenodo.4782786 as archive

[2021-06-04 21:41] whedon commented on #3282
OK. <a href="https://doi.org/10.5281/zenodo.4782786" target="_blank">10.5281/zenodo.4782786</a> is the archive.

[2021-06-04 21:41] kthyng commented on #3282
@whedon accept

[2021-06-04 21:41] whedon commented on #3282
To recommend a paper to be accepted use `@whedon recommend-accept`

[2021-06-04 21:41] kthyng commented on #3282
@whedon recommend-accept

[2021-06-04 21:41] whedon commented on #3282
[code]

[2021-06-04 21:42] whedon commented on #3282
[code]

[2021-06-04 21:42] whedon commented on #3282
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2360

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2360, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-06-04 21:43] kthyng commented on #3282
@whedon accept deposit=true

[2021-06-04 21:43] whedon commented on #3282
[code]

[2021-06-04 21:44] whedon commented on #3282
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1400931415173349379) 👈 🐦🐦🐦

[2021-06-04 21:44] whedon commented on #3282
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2361
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03282](https://doi.org/10.21105/joss.03282)
2. If everything look

[2021-06-04 21:46] kthyng commented on #3282
Congrats on your new paper @dbarneche!!

[2021-06-04 21:46] #3282 closed

[2021-06-04 21:46] whedon commented on #3282
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03282/status.svg)](https://doi.org/10.21105/joss.03282)

**We need your help!**

Journal of Open Source Softwa

[2021-06-04 21:47] kthyng commented on #3180
@mdbartos Excellent! I'll add you and we can start the process.

[2021-06-04 21:47] kthyng commented on #3180
@whedon add @mdbartos as reviewer

[2021-06-04 21:47] whedon commented on #3180
OK, @mdbartos is now a reviewer

[2021-06-04 21:48] kthyng commented on #3180
@whedon start review

[2021-06-04 21:48] whedon opened #3332 "[REVIEW]: pyHMT2D: Python-based two-dimensional hydraulic modeling tools"
**Submitting author:** @psu-efd (<a href="http://orcid.org/0000-0002-8296-7076">Xiaofeng Liu</a>)
**Repository:** <a href="https://github.com/psu-efd/pyHMT2D" target ="_blank">https://github.com/psu-efd/pyHMT2D</a>
**Version:** v1.0.1
**Editor:** @kthyng
**Reviewer:** @jmp75, @mdbartos
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pa

[2021-06-04 21:48] whedon commented on #3180
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3332.

[2021-06-04 21:48] #3180 closed

[2021-06-04 21:48] whedon commented on #3332
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jmp75, @mdbartos it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blo

[2021-06-04 21:48] whedon commented on #3332
[code]

[2021-06-04 21:48] kthyng commented on #3332
@jmp75, @mdbartos here is where the review takes place! Please let me know if you have any questions.

[2021-06-04 22:48] eloisabentivegna commented on #2978
@BenMql, could you post an update?

[2021-06-04 22:49] eloisabentivegna commented on #2555
@gouarin, @ianhinder, we are really close to completing this review. Could you find some time to wrap up your suggestions, and express your final recommendation?

[2021-06-05 00:29] djmitche commented on #3127
Looks like the release was 0.1.4, on zenodo.  Looks good as far as I know -- but I'm just the reviewer, not the editor :)

[2021-06-05 02:52] BreezeWhite commented on #3218
@whedon generate pdf

[2021-06-05 02:53] whedon commented on #3218
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03218/joss.03218/10.21105.joss.03218.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03218/joss.03218/10.21105.joss.03218.pdf) :page_facing_up: :point_left:

[2021-06-05 03:05] BreezeWhite commented on #3218
Hi @faroit, thank you for the suggestions.

For the DOI issue, I've just updated the missing DOIs in the `paper.bib`, you could check if there are still missing things.
And for the reviewers, I would like to mention @ bmfcc for joining the review process. And also thank you for mentioning the above members that would be a huge help for reviewing the paper.

[2021-06-05 03:11] BreezeWhite commented on #3218
@whedon check references

[2021-06-05 03:11] BreezeWhite commented on #3218
@whedon set v0.4.1 as version

[2021-06-05 03:11] whedon commented on #3218
I'm sorry @BreezeWhite, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-06-05 03:11] whedon commented on #3218
[code]

[2021-06-05 03:34] dbarneche commented on #3282
Thanks very much @kthyng for your assessment and guidance, much appreciated.
All the best,
Diego

[2021-06-05 06:20] whedon opened #3333 "[PRE REVIEW]: fishRman: A Shiny R Dashboard improving Global Fishing Watch data availability"
**Submitting author:** @Shyentist (<a href="http://orcid.org/0000-0002-1848-9313">Pasquale Buonomo</a>)
**Repository:** <a href="https://github.com/Shyentist/fish-r-man" target ="_blank">https://github.com/Shyentist/fish-r-man</a>
**Version:** v1.0.0
**Editor:** @KristinaRiemer
**Reviewers:** @jules32, @HeatherWelch
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning

[2021-06-05 06:20] whedon commented on #3333
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-05 06:20] whedon commented on #3333
[code]

[2021-06-05 06:20] whedon commented on #3333
PDF failed to compile for issue #3333 with the following error:
[code]

[2021-06-05 06:26] whedon opened #3334 "[PRE REVIEW]: pyAudioProcessing: Audio Processing, Feature Extraction and building Machine Learning Models from Audio Data"
**Submitting author:** @jsingh811 (<a href="http://orcid.org/0000-0002-5442-3004">Jyotika Singh</a>)
**Repository:** <a href="https://github.com/jsingh811/pyAudioProcessing" target ="_blank">https://github.com/jsingh811/pyAudioProcessing</a>
**Version:** v1.1.8
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to th

[2021-06-05 06:26] whedon commented on #3334
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-05 06:26] whedon commented on #3334
[code]

[2021-06-05 06:26] whedon commented on #3334
[code]

[2021-06-05 06:26] whedon commented on #3334
PDF failed to compile for issue #3334 with the following error:
[code]

[2021-06-05 06:29] jsingh811 commented on #3334
@whedon generate pdf

[2021-06-05 06:30] whedon commented on #3334
PDF failed to compile for issue #3334 with the following error:
[code]

[2021-06-05 06:34] jsingh811 commented on #3334
@whedon generate pdf

[2021-06-05 06:34] whedon commented on #3334
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03334/joss.03334/10.21105.joss.03334.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03334/joss.03334/10.21105.joss.03334.pdf) :page_facing_up: :point_left:

[2021-06-05 06:40] Kevin-Mattheus-Moerman commented on #3334
@whedon query scope

[2021-06-05 06:40] whedon commented on #3334
Submission flagged for editorial review.

[2021-06-05 06:45] Kevin-Mattheus-Moerman commented on #3334
@jsingh811 thanks for this submission. I've flagged this submission for scope review by our editorial board. This is common for submissions [around 1000 lines of code](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort).

In the mean time, would you be able to add a bit more detail in the statement of need section in relation to other existing/related software packa

[2021-06-05 06:47] Kevin-Mattheus-Moerman commented on #3334
@faroit it would be great if you could weigh in for the scope review on this submission.

[2021-06-05 06:52] Kevin-Mattheus-Moerman commented on #3327
@joergbuchwald can you check those missing/invalid DOI's :point_up:, you can call `@whedon generate pdf` here to update the paper

[2021-06-05 06:53] Kevin-Mattheus-Moerman commented on #3327
@jedbrown this looks like your cup of tea :tea:, since it looks like you have a lot on your plate I'll add the `waitlisted` label for now until you are available.

[2021-06-05 06:55] Kevin-Mattheus-Moerman commented on #3327
@joergbuchwald I have just added the waitlisted label. This is because the JOSS editors in this domain are currently all assigned to several other submissions. We will resume review of this work once one of them becomes available.

[2021-06-05 06:56] whedon opened #3335 "[PRE REVIEW]: MATRIX: Multi-phAse Transits Recovery from Injected eXoplanets."
**Submitting author:** @martindevora (<a href="http://orcid.org/0000-0003-2007-6144">Martín Dévora Pajares</a>)
**Repository:** <a href="https://github.com/PlanetHunters/tkmatrix" target ="_blank">https://github.com/PlanetHunters/tkmatrix</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to t

[2021-06-05 06:56] whedon commented on #3335
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-05 06:56] whedon commented on #3335
Failed to discover a `Statement of need` section in paper

[2021-06-05 06:56] whedon commented on #3335
[code]

[2021-06-05 06:56] whedon commented on #3335
PDF failed to compile for issue #3335 with the following error:
[code]

[2021-06-05 06:56] whedon commented on #3335
[code]

[2021-06-05 06:57] Shyentist commented on #3333
@whedon generate pdf

[2021-06-05 06:57] whedon commented on #3333
PDF failed to compile for issue #3333 with the following error:
[code]

[2021-06-05 06:59] Kevin-Mattheus-Moerman commented on #3328
@wsarce Thanks for this submission. Can you work on adding those potentially missing DOI's (check if the suggested ones are correct) ?

[2021-06-05 07:04] Kevin-Mattheus-Moerman commented on #3328
@arokem this looks like something you could handle, and you were suggested as editor. I see however you are handling several other submission. I'll therefore assign the `waitlisted` label here for now until you or another editor in this domain becomes available.

[2021-06-05 07:07] Kevin-Mattheus-Moerman commented on #3333
@Shyentist it looks like the YAML content at the top of the paper is not as expected/standard. In particular the affiliation field is missing. Can you add it? I believe you can also leave it empty.

[2021-06-05 07:14] Shyentist commented on #3333
@Kevin-Mattheus-Moerman thank you, I added "Independent researcher" as affiliation. Would that be okay?

[2021-06-05 07:14] Kevin-Mattheus-Moerman commented on #3333
@whedon generate pdf

[2021-06-05 07:15] whedon commented on #3333
PDF failed to compile for issue #3333 with the following error:
[code]

[2021-06-05 07:16] Kevin-Mattheus-Moerman commented on #3333
@marcosvital this looks like something you could handle. However, you appear to be at capacity in terms of the number of papers you are already handling. I will label this submission as `waitlisted` until you, or another suitable editor, becomes available.

[2021-06-05 07:17] Shyentist commented on #3333
@whedon generate pdf

[2021-06-05 07:17] whedon commented on #3333
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03333/joss.03333/10.21105.joss.03333.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03333/joss.03333/10.21105.joss.03333.pdf) :page_facing_up: :point_left:

[2021-06-05 07:19] Kevin-Mattheus-Moerman commented on #3335
@openjournals/dev can you see what is wrong with this paper? :point_up:

[2021-06-05 07:23] Kevin-Mattheus-Moerman commented on #3335
@whedon query scope

[2021-06-05 07:23] whedon commented on #3335
Submission flagged for editorial review.

[2021-06-05 07:24] Kevin-Mattheus-Moerman commented on #3335
@martindevora you can work on fixing the above paper error and you can call `@whedon generate pdf` here to update the paper.

Note I have added the `query-scope` label to this submission. This is very [common for submission of this size](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). The editorial board will review if this work is in scope which should take ab

[2021-06-05 07:28] Kevin-Mattheus-Moerman commented on #3305
@paleolimbot I've removed the `query-scope` label as the board has determined this may be in scope. I will therefore proceed to find an editor to handle this submission.

[2021-06-05 07:29] Kevin-Mattheus-Moerman commented on #3305
@whedon invite @kthyng as editor

[2021-06-05 07:29] whedon commented on #3305
@kthyng has been invited to edit this submission.

[2021-06-05 07:32] Kevin-Mattheus-Moerman commented on #3305
@kthyng apologies I invited you before checking to see if you were at max capacity in terms of papers you are handling. Yourself and @KristinaRiemer appear suitable but are handling a lot of submissions already. I'll waitlist this for now.

@paleolimbot I'll add the `waitlisted` label for now until a suitable editor becomes available.

[2021-06-05 07:37] Kevin-Mattheus-Moerman commented on #3275
@drvinceknight are you able to handle this submission at this point?

[2021-06-05 07:37] Kevin-Mattheus-Moerman commented on #3275
@whedon invite  @drvinceknight as editor

[2021-06-05 08:33] Kevin-Mattheus-Moerman commented on #3218
@whedon set v0.4.1 as version

[2021-06-05 08:33] whedon commented on #3218
OK. v0.4.1 is the version.

[2021-06-05 11:37] martindevora commented on #3335
hello @Kevin-Mattheus-Moerman , if the query-scope is related to the lines of code, I separated a base code from this project because I wanted to reuse it in a different repository, which I intend to publish too. The project name is lcbuilder under https://github.com/PlanetHunters/lcbuilder . In terms of scholarly effort I think that we would comply with the requirements, but I will listen what yo

[2021-06-05 11:40] martindevora commented on #3335
@whedon generate pdf

[2021-06-05 11:40] whedon commented on #3335
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03335/joss.03335/10.21105.joss.03335.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03335/joss.03335/10.21105.joss.03335.pdf) :page_facing_up: :point_left:

[2021-06-05 11:41] martindevora commented on #3335
it seemed that an empty orcid field was causing issues with the article generation, now it seems to be wrking

[2021-06-05 11:57] oliviaguest commented on #3270
@whedon check repository

[2021-06-05 11:57] whedon commented on #3270
[code]

[2021-06-05 12:00] oliviaguest commented on #3270
@whedon generate pdf

[2021-06-05 12:00] whedon commented on #3270
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03270/joss.03270/10.21105.joss.03270.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03270/joss.03270/10.21105.joss.03270.pdf) :page_facing_up: :point_left:

[2021-06-05 12:03] oliviaguest commented on #3270
@McGregor14 thanks! Can you clarify if you are happy with explaining to users/reviewers in your documentation how to install this software? I got an email from @EleonoraVagnoni that this is not clear enough at the moment. I personally think this should be accessible (as users to collect data) for people who might not be familiar with the process of installing, e.g., the required background softwar

[2021-06-05 12:22] Kevin-Mattheus-Moerman commented on #3226
@jkrumbiegel apologies for the delay in getting back to you. Thanks for raising that, since he is not a co-author in this case it sounds like it could be okay. @logankilpatrick can you comment on this too?

[2021-06-05 12:29] Kevin-Mattheus-Moerman commented on #3255
@adi3 @adi3 @vissarion thanks for your help in reviewing here. It looks like the authors have implemented several changes. Can you pick this up again perhaps comment on the key issues the authors should work on?

[2021-06-05 12:29] whedon commented on #3308
:wave: @GiulioCostantini, please update us on how your review is going (this is an automated reminder).

[2021-06-05 12:29] whedon commented on #3308
:wave: @AlexChristensen, please update us on how your review is going (this is an automated reminder).

[2021-06-05 12:30] Kevin-Mattheus-Moerman commented on #3020
@vijaysm, @chennachaos it looks like the author replied to some of the issues/questions you raised :point_up:. Would you be able to pick up the review and respond with the key issues you feel still need work? Thanks again for your help!!!!!!

[2021-06-05 12:37] Kevin-Mattheus-Moerman commented on #3055
@wimvanderbauwhede, @ashwinvis thanks for reviewing this work. I see all boxes are ticked and general positive comments. Can you confirm you are happy to recommend acceptance in JOSS at this point?

[2021-06-05 12:40] Kevin-Mattheus-Moerman commented on #3055
@tomgrylls once I hear back from the reviewers I'll process acceptance shortly. If you'd like to proofread the paper once more yourself, now would be a good point. Also can you confirm if the version tag needs to be updated or if we are still at `1.0.0`?

[2021-06-05 12:54] Kevin-Mattheus-Moerman commented on #3054
@AlexanderFabisch I'll be helping to get your paper ready for publication in JOSS. Below are some remaining issues.

- [ ] Please amend the Zenodo archive meta-data to match that of the paper. In particular the author list is not the same.
- [ ]  Can you confirm `sklearn` is correct in `..while sklearn has...`, or should this be skikit-learn. If it is a different package can you cite it?
- [ ] Bot

[2021-06-05 13:00] Kevin-Mattheus-Moerman commented on #3067
@0xCoto I've proofread your paper and it looks good so I'll now proceed to accept this work in JOSS. Congratulations. Thanks @astrom-tom and @ygrange for reviewing this work!

[2021-06-05 13:00] Kevin-Mattheus-Moerman commented on #3067
@whedon accept deposit=true

[2021-06-05 13:00] whedon commented on #3067
[code]

[2021-06-05 13:01] Kevin-Mattheus-Moerman commented on #3067
Thanks for editing this @xuanxu!

[2021-06-05 13:01] whedon commented on #3067
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1401162294302810119) 👈 🐦🐦🐦

[2021-06-05 13:01] whedon commented on #3067
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2362
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03067](https://doi.org/10.21105/joss.03067)
2. If everything look

[2021-06-05 13:03] #3067 closed

[2021-06-05 13:03] whedon commented on #3067
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03067/status.svg)](https://doi.org/10.21105/joss.03067)

**We need your help!**

Journal of Open Source Softwa

[2021-06-05 13:09] 0xCoto commented on #3067
Thank you @Kevin-Mattheus-Moerman ! I'd once again like to thank the editor @xuanxu and the reviewers @ygrange @astrom-tom for providing valuable comments and significantly improving the quality of the software! Very much appreciate the amount of time you volunteer.

[2021-06-05 13:13] Kevin-Mattheus-Moerman commented on #3210
@LangeJens I'll be helping to process acceptance and publication of this work. I have check the archive link and have proofread your paper. Below are some remaining issues that need your attention:

- [ ] Please ensure all Zenodo meta-data matches that of the JOSS paper, in particular ensure that the archive title matches the paper title. You should be able to edit this information on Zenodo.
- [

[2021-06-05 13:26] Kevin-Mattheus-Moerman commented on #3238
@tobiasschoch

- [ ] Can you ensure the author information of the Zenodo archive version is complete and matches that of the paper? Please use your full name and you should be able to add your ORCID id there too.
- [ ] In the paper when using the `/` it appears the authors sometimes follow it with a space and sometimes not e.g. `variables/ columns` and `intercept/constant`, I propose you remove th

[2021-06-05 14:10] Kevin-Mattheus-Moerman commented on #3260
@kthyng I can take this one

[2021-06-05 14:11] Kevin-Mattheus-Moerman commented on #3260
@whedon assign @Kevin-Mattheus-Moerman as editor

[2021-06-05 14:11] whedon commented on #3260
OK, the editor is @Kevin-Mattheus-Moerman

[2021-06-05 14:43] AlexanderFabisch commented on #3054
@Kevin-Mattheus-Moerman Thanks. I addressed these points:

OK, I give up, for the corresponding Zenodo release the author lists are the same now.

I replaced sklearn by scikit-learn.

I use "multimodal" consistently now.

Should I make a new Zenodo release with these additional changes?

[2021-06-05 14:44] AlexanderFabisch commented on #3054
@whedon generate pdf

[2021-06-05 14:44] whedon commented on #3054
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03054/joss.03054/10.21105.joss.03054.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03054/joss.03054/10.21105.joss.03054.pdf) :page_facing_up: :point_left:

[2021-06-05 14:49] JosiahParry commented on #3272
All boxes ticked from my end!

[2021-06-05 14:51] Kevin-Mattheus-Moerman commented on #3054
@whedon accept

[2021-06-05 14:51] whedon commented on #3054
To recommend a paper to be accepted use `@whedon recommend-accept`

[2021-06-05 14:54] Kevin-Mattheus-Moerman commented on #3054
@AlexanderFabisch apologies, one more change. Can you add a city and country to your affiliation?

There is no need to update the Zenodo archive.

[2021-06-05 15:16] ashwinvis commented on #3055
@Kevin-Mattheus-Moerman I confirm that the paper can be accepted into JOSS

[2021-06-05 15:22] rdeits commented on #3060
@diehlpk yes, thanks--the invite worked and I'm now able to edit the checklist again. I'm not sure how I lost access to begin with, but I'm glad it's all sorted now.

[2021-06-05 15:50] rdeits commented on #3060
Ok, I think this is in good shape. I made a couple of final requests here: https://github.com/vavrines/Kinetic.jl/issues/12#issuecomment-855258289 (mostly just minor typos for grammatical issues), and I've checked off everything else in the list.

[2021-06-05 15:57] AlexanderFabisch commented on #3054
@whedon generate pdf

[2021-06-05 15:58] whedon commented on #3054
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03054/joss.03054/10.21105.joss.03054.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03054/joss.03054/10.21105.joss.03054.pdf) :page_facing_up: :point_left:

[2021-06-05 15:58] AlexanderFabisch commented on #3054
Yes, I added both to the name of my affiliation if that is correct.

[2021-06-05 15:58] eloisabentivegna commented on #3288
@whedon add @bgiacoma as reviewer

[2021-06-05 15:59] whedon commented on #3288
OK, @bgiacoma is now a reviewer

[2021-06-05 15:59] eloisabentivegna commented on #3288
@whedon add @cpalenzuela as reviewer

[2021-06-05 15:59] whedon commented on #3288
OK, @cpalenzuela is now a reviewer

[2021-06-05 16:01] eloisabentivegna commented on #3288
@bgiacoma, @cpalenzuela, thanks for accepting to review this submission! I will now close the pre-review issue and start the actual review.

[2021-06-05 16:01] eloisabentivegna commented on #3288
@whedon start review

[2021-06-05 16:01] whedon opened #3336 "[REVIEW]: iharm3D: Vectorized General Relativistic Magnetohydrodynamics"
**Submitting author:** @bprather (<a href="http://orcid.org/0000-0002-0393-7734">Ben S. Prather</a>)
**Repository:** <a href="https://github.com/AFD-Illinois/iharm3d/" target ="_blank">https://github.com/AFD-Illinois/iharm3d/</a>
**Version:** v3.6-alpha
**Editor:** @eloisabentivegna
**Reviewer:** @bgiacoma, @cpalenzuela
**Archive:** <a href="https://doi.org/10.5281/zenodo.5567372" target="_blank">

[2021-06-05 16:01] whedon commented on #3288
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3336.

[2021-06-05 16:01] #3288 closed

[2021-06-05 16:01] whedon commented on #3336
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @bgiacoma, @cpalenzuela it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2021-06-05 16:01] whedon commented on #3336
PDF failed to compile for issue #3336 with the following error:
[code]

[2021-06-05 16:01] whedon commented on #3336
[code]

[2021-06-05 16:45] tobiasschoch commented on #3238
@Kevin-Mattheus-Moerman

1. I have corrected the author information of the Zenodo archive, and I have added my ORCID.
2. I have removed the additional spaces after `/` in the paper.

[2021-06-05 17:29] jmbrewer commented on #3095
Sorry for the long delay; the end of the semester really hit hard this year.  The comments from @gully made my job easy in finishing things up.  I did not have any additional questions.  I have now completed the remaining checkboxes in the review as well.  Great work @shihyuntang and your team!

[2021-06-05 18:33] danielskatz commented on #3272
It looks like we are ready to recommend acceptance?

[2021-06-05 18:33] danielskatz commented on #3272
@whedon check references

[2021-06-05 18:33] whedon commented on #3272
[code]

[2021-06-05 18:33] danielskatz commented on #3272
@whedon generate pdf

[2021-06-05 18:34] whedon commented on #3272
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03272/joss.03272/10.21105.joss.03272.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03272/joss.03272/10.21105.joss.03272.pdf) :page_facing_up: :point_left:

[2021-06-05 18:35] danielskatz commented on #3272
I've proofread the paper, and it looks good

[2021-06-05 18:36] danielskatz commented on #3272
@cjbarrie - the next steps are for you to:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author

[2021-06-05 18:46] yuhc commented on #3296
Thanks for setting up reiz.io. It works for me.
Could you update the docs to include your exact setup steps on DigitalOcean? I don't think it really matters which cloud service you choose. The main reason why we asked you to install reiz.io on a clean VM is that we want a reproducible instruction.

BTW, registering an AWS account should just take a few minutes. I guess something went wrong, and yo

[2021-06-05 18:53] isidentical commented on #3296
Sure! I think the `docker-compose` should just work in any case (the errors should have gone by now (it was a browser thing as far as I can locate with the confusion that the API is served on another port and the website is another port), since I've also made a couple changes for supporting port forwarding over ssh) but I'll double check it. As far as the reproducibility goes, I'll also include a

[2021-06-05 22:49] sneakers-the-rat commented on #3284
Sorry for the delay! going to continue my review now and will try to have it finished early next week latest. I don't anticipate having any major complications, just want to make sure i actually make it through the whole package! Excited to see the discussion/what you've come up with re ^^

[2021-06-06 00:28] joferkington commented on #3172
@kthyng - My apologies for the delay! I'm working on it now and hope to have it done this weekend.

[2021-06-06 00:36] joferkington commented on #3172
@whedon - commands

[2021-06-06 00:37] whedon commented on #3172
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-06-06 00:37] joferkington commented on #3172
@whedon commands

[2021-06-06 00:37] whedon commented on #3172
Here are some things you can ask me to do:

[code]

[2021-06-06 00:42] joferkington commented on #3172
Apologies for the mixup on my part, @kthyng, but it seems I waited to long to accept the invitation link: https://github.com/openjournals/joss-reviews/invitations  When I try I get an error with "Sorry, we couldn't find that repository invitation. It is possible that the invitation was revoked or that you are not logged into the invited account."

As a result, I can't check off any items in the re

[2021-06-06 00:50] joferkington commented on #3172
@whedon generate pdf

[2021-06-06 00:50] whedon commented on #3172
PDF failed to compile for issue #3172 with the following error:
[code]

[2021-06-06 00:51] joferkington commented on #3172
@whedon generate pdf from branch paper

[2021-06-06 00:51] whedon commented on #3172
[code]

[2021-06-06 00:51] whedon commented on #3172
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03172/joss.03172/10.21105.joss.03172.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03172/joss.03172/10.21105.joss.03172.pdf) :page_facing_up: :point_left:

[2021-06-06 06:48] jsingh811 commented on #3334
@whedon generate pdf

[2021-06-06 06:49] whedon commented on #3334
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03334/joss.03334/10.21105.joss.03334.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03334/joss.03334/10.21105.joss.03334.pdf) :page_facing_up: :point_left:

[2021-06-06 08:57] faroit commented on #2989
@hadware I checked the last remaining issues for this review. I think this is looking good. Can you please address the minor issues I raised in https://github.com/bootphon/pygamma-agreement/issues/24 before we can proceed?

[2021-06-06 09:33] Kevin-Mattheus-Moerman commented on #3054
@whedon generate pdf

[2021-06-06 09:34] whedon commented on #3054
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03054/joss.03054/10.21105.joss.03054.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03054/joss.03054/10.21105.joss.03054.pdf) :page_facing_up: :point_left:

[2021-06-06 09:34] Kevin-Mattheus-Moerman commented on #3238
@whedon generate pdf

[2021-06-06 09:35] whedon commented on #3238
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03238/joss.03238/10.21105.joss.03238.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03238/joss.03238/10.21105.joss.03238.pdf) :page_facing_up: :point_left:

[2021-06-06 09:36] Kevin-Mattheus-Moerman commented on #3054
@AlexanderFabisch looks like we are all set. One recommendation I have is to also add your ORCID profile to the author listed on Zenodo. However we can proceed here with acceptance. Thanks for making those changes.

[2021-06-06 09:36] Kevin-Mattheus-Moerman commented on #3054
@whedon accept deposit=true

[2021-06-06 09:36] whedon commented on #3054
[code]

[2021-06-06 09:37] whedon commented on #3054
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1401473279030972416) 👈 🐦🐦🐦

[2021-06-06 09:37] whedon commented on #3054
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2363
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03054](https://doi.org/10.21105/joss.03054)
2. If everything look

[2021-06-06 09:38] Kevin-Mattheus-Moerman commented on #3238
@whedon accept deposit=true

[2021-06-06 09:38] whedon commented on #3238
[code]

[2021-06-06 09:39] whedon commented on #3238
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1401473705700626432) 👈 🐦🐦🐦

[2021-06-06 09:39] whedon commented on #3238
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2364
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03238](https://doi.org/10.21105/joss.03238)
2. If everything look

[2021-06-06 09:40] Kevin-Mattheus-Moerman commented on #3054
@AlexanderFabisch congratulations on your published paper!

 @inakleinbottle, @soodoku thanks for reviewing this work! Also thank you @mikldk for editing this work!

[2021-06-06 09:40] #3054 closed

[2021-06-06 09:40] whedon commented on #3054
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03054/status.svg)](https://doi.org/10.21105/joss.03054)

**We need your help!**

Journal of Open Source Softwa

[2021-06-06 09:41] Kevin-Mattheus-Moerman commented on #3238
Congratulations @tobiasschoch on getting this work published in JOSS!

Thanks @fboehm for editing this work!

Thanks also to @msalibian, @aalfons for the great job reviewing this work!

[2021-06-06 09:41] #3238 closed

[2021-06-06 09:41] whedon commented on #3238
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03238/status.svg)](https://doi.org/10.21105/joss.03238)

**We need your help!**

Journal of Open Source Softwa

[2021-06-06 10:20] AlexanderFabisch commented on #3054
The ORCID profile already should have been linked on Zenodo.

Thanks!

Also thanks to you @inakleinbottle, @soodoku, and @mikldk for reviewing and editing!

[2021-06-06 10:48] dfm commented on #3095
Thanks @jmbrewer!

@shihyuntang: give me a couple of days to do some final edits/processing and then I'll have some last steps for you to do before acceptance.

[2021-06-06 11:20] sappelhoff commented on #3293
I have made a first pass at the review and opened several issues and PRs that now need to be addressed (or reasonably rejected). My overall impression so far is, that fitgrid is a useful and well documented package that fills a niche. I'll make a final evaluation once all open points have been addressed by the authors (see above).

[2021-06-06 13:43] faroit commented on #3244
👋  Hi @alicia-ziying-yang, thanks for your submission to JOSS! I will be serving as the editor for this. We'll use this issue to identify reviewers and resolve technical issues. Since @sara-02 has already volunteered (👏) for review we are looking for only one additional reviewer. Based on the list of people that have agreed to review for JOSS I found the following three potential reviewers to be a

[2021-06-06 13:47] faroit commented on #3218
@BreezeWhite

by @ bmfcc ... were you referring to @ bmcfee ? In that case, I'm afraid that he is to busy and is not available for a review as he also serves as an topic editor at JOSS.

[2021-06-06 13:51] faroit commented on #3218
@superbock @keunwoochoi @adarob - would any of you be willing to review this submission for JOSS? The JOSS review process takes place on GitHub and focuses on the software and a short paper. We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The software under review is [_Omnizart: A General T

[2021-06-06 14:00] superbock commented on #3218
@faroit, thanks for considering me! Unfortunately, I am too busy to properly review the paper before the end of the summer (which I guess is too late).

[2021-06-06 15:17] joergbuchwald commented on #3327
@whedon generate pdf

[2021-06-06 15:18] whedon commented on #3327
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03327/joss.03327/10.21105.joss.03327.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03327/joss.03327/10.21105.joss.03327.pdf) :page_facing_up: :point_left:

[2021-06-06 19:09] fboehm commented on #3273
@Marie-PerrotDockes and @yunanwu123 - how are the reviews going? Is there anything that I can help with? Please feel free to leave feedback for the authors. Thanks again!

[2021-06-06 19:12] fboehm commented on #3273
@yunanwu123 and @Marie-PerrotDockes - Since JOSS reviews are a little different from those of many journals, please feel free to ask questions if you're unsure about anything. Thanks again!

[2021-06-06 21:56] mjacob1002 commented on #3247
Hi @will-rowe,

Sorry for the delay. I made all of the changes you suggested except for the third issue because the study is still ongoing with no preprint currently, so there is nothing to cite at the moment. Maybe I can add it after the preprint is released.

The version number of the release is v1.0.2. The archive can be found on Zenodo: https://zenodo.org/record/4905077#.YL1EcJNKhO4.

[2021-06-07 00:18] alicia-ziying-yang commented on #3244
Hi @faroit, thanks for asking:D
I am glad if @ baileythegreen could be the reviewer.
Cheers

[2021-06-07 02:02] benjaminpope commented on #3331
### Intro Comments:
- Thanks for inviting me to review the pySYD release - this is an important piece of software that will bring asteroseismology from the closed-source dark ages to an open source renaissance (I hope!). IDL-SYD is well-used and well-known, but together with some other major pipelines has not been available open-source, which means that asteroseismology as a field suffers from rep

[2021-06-07 02:58] arokem commented on #3328
Sorry - I am slammed with other things right now, so would rather not take this on right now.

[2021-06-07 04:17] cheginit commented on #3221
@thurber @crvernon The submission is almost ready for submission. In my opinion, there are only two things left to be addressed:

- [ ] Updating the installation instructions in the README and the website to reflect the latest changes such as support for Python 3.7+.
- [ ] Adding Example(s) for running a model with outputs from other runoff generation packages such as CESM and E3SM.

[2021-06-07 04:59] MilesCranmer commented on #3199
Hi all, sorry for the long delay - this fell off my radar during the annual NeurIPS submission chaos. Here is my initial round of comments: https://github.com/pikarpov-LANL/Sapsan/issues/100.

Cheers,
Miles

[2021-06-07 06:50] LangeJens commented on #3210
@Kevin-Mattheus-Moerman Thanks for proofreading the manuscript and pointing out the issues. In the now uploaded file, I addressed everything.

[2021-06-07 07:04] Kevin-Mattheus-Moerman commented on #3210
@whedon generate pdf

[2021-06-07 07:04] whedon commented on #3210
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03210/joss.03210/10.21105.joss.03210.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03210/joss.03210/10.21105.joss.03210.pdf) :page_facing_up: :point_left:

[2021-06-07 07:19] Kevin-Mattheus-Moerman commented on #3210
​@whedon accept deposit=true

[2021-06-07 07:50] vavrines commented on #3060
@whedon generate pdf

[2021-06-07 07:50] whedon commented on #3060
PDF failed to compile for issue #3060 with the following error:
[code]

[2021-06-07 07:57] cjbarrie commented on #3272
Thank you very much for this!

- Tag: v0.1.1.1 released as "JOSS Release" here: https://github.com/cjbarrie/academictwitteR/releases/tag/v0.1.1.1
- Archived at Zenodo here: https://zenodo.org/record/4905468
- DOI of archived version: https://doi.org/10.5281/zenodo.4905468

[2021-06-07 08:02] jamesdamillington commented on #3065
Hi All, I was away last week. I will check the revisions this week.

[2021-06-07 08:09] vavrines commented on #3060
@whedon check repository

[2021-06-07 08:10] whedon commented on #3060
[code]

[2021-06-07 08:23] vavrines commented on #3060
@whedon generate pdf

[2021-06-07 08:23] whedon commented on #3060
PDF failed to compile for issue #3060 with the following error:
[code]

[2021-06-07 08:25] vavrines commented on #3060
@whedon generate pdf

[2021-06-07 08:25] whedon commented on #3060
PDF failed to compile for issue #3060 with the following error:
[code]

[2021-06-07 08:32] vavrines commented on #3060
Hi @diehlpk

I have a problem compiling my paper, which is related to the LaTex package `{hyperref}`.
I didn't cite a `jarvist` in my markdown file nor in the bibtex.
It seems that whedon somehow misunderstood the reviewer as a citation.
Do you have an idea on how to fix it?

[2021-06-07 09:31] pdebuyl commented on #2973
Hi @glyg and @sophietheis . I opened PR https://github.com/DamCB/tyssue/pull/244 with the remaining syntax issues. I added a section title for the "not statement of need" part of the paper and fix a minor grammatical error.

Can you have a look at it and let me know if it is suitable for you? A final request: in the acknowledgments, you include one of the co-authors. Can you change it to "We wish

[2021-06-07 09:48] roshansamuel commented on #2095
Hi @olgadoronina, SARAS is now compatible with the latest versions of all the dependent libraries. You do not have to install the libraries from turbulencehub now. The README has been updated to reflect this. All the download links now point to the latest tarballs of each library. Ideally, it is best to use the libraries supplied by the package manager of your OS (for CMake, MPICH, HDF5 etc.).

Th

[2021-06-07 10:00] glyg commented on #2973
Thanks a lot @pdebuyl - I thought I did remove the tags [here](https://github.com/DamCB/tyssue/commit/4d8f8624b5d94649f0cd3e0be3a83def3d9f711f#diff-0403ef06adf405f7b310b4518bd6a3559854f54c61676f676ce9cbfee7172ab6) but I guess there was some merge problem, sorry you had to do it again.

Ha yes good point, I saw it and was not sure how to get around it. I rephrased it now.

[2021-06-07 10:00] faroit commented on #3244
@sara-02 @baileythegreen - would you be willing to review this submission?

[2021-06-07 10:04] pdebuyl commented on #2973
@whedon check references

[2021-06-07 10:04] whedon commented on #2973
[code]

[2021-06-07 10:05] pdebuyl commented on #2973
@whedon generate pdf

[2021-06-07 10:06] whedon commented on #2973
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02973/joss.02973/10.21105.joss.02973.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02973/joss.02973/10.21105.joss.02973.pdf) :page_facing_up: :point_left:

[2021-06-07 10:07] pdebuyl commented on #2973
@whedon recommend-accept

[2021-06-07 10:07] whedon commented on #2973
[code]

[2021-06-07 10:08] whedon commented on #2973
[code]

[2021-06-07 10:08] whedon commented on #2973
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2365

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2365, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-06-07 10:09] pdebuyl commented on #2973
Thanks all for the submission and review! The editor-in-chief in rotation will pick up the process soon for finalizing the publication.

[2021-06-07 10:19] Kevin-Mattheus-Moerman commented on #3210
@LangeJens okay thanks for making those changes. I reviewed them and it looks like we are all set.

[2021-06-07 10:20] Kevin-Mattheus-Moerman commented on #3210
@whedon accept deposit=true

[2021-06-07 10:21] whedon commented on #3210
[code]

[2021-06-07 10:21] whedon commented on #3210
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1401846835367579650) 👈 🐦🐦🐦

[2021-06-07 10:21] whedon commented on #3210
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2366
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03210](https://doi.org/10.21105/joss.03210)
2. If everything look

[2021-06-07 10:23] Kevin-Mattheus-Moerman commented on #3210
@LangeJens Congratulations on the publication of this work in JOSS!

@karthik, thanks for editing this work, and thank your @donaldRwilliams and @AlexChristensen for your review efforts!!!!!!

[2021-06-07 10:23] #3210 closed

[2021-06-07 10:23] whedon commented on #3210
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03210/status.svg)](https://doi.org/10.21105/joss.03210)

**We need your help!**

Journal of Open Source Softwa

[2021-06-07 10:57] arfon commented on #3210
This paper is an extra-special one for JOSS as it's the last paper @karthik is editing for JOSS. Thanks so much for all of your help over the last few years Karthik – and the [close to fifty papers](https://joss.theoj.org/papers/edited_by/@karthik) you've edited for us 😻:zap::rocket::boom:

[2021-06-07 11:17] glyg commented on #2973
Great!!! Thanks a lot :)

[2021-06-07 11:44] pdebuyl commented on #3076
Hi @mparno any news?

[2021-06-07 11:55] baileythegreen commented on #3244
Hi @faroit, yes, I'd be happy to review it.

[2021-06-07 11:58] sara-02 commented on #3244
@faroit Happy to help.

[2021-06-07 12:26] faroit commented on #3244
@whedon assign @sara-02 as reviewer

[2021-06-07 12:26] whedon commented on #3244
OK, @sara-02 is now a reviewer

[2021-06-07 12:26] faroit commented on #3244
@whedon add @baileythegreen as reviewer

[2021-06-07 12:26] whedon commented on #3244
OK, @baileythegreen is now a reviewer

[2021-06-07 12:28] faroit commented on #3244
@whedon check references

[2021-06-07 12:28] whedon commented on #3244
[code]

[2021-06-07 12:29] faroit commented on #3244
@alicia-ziying-yang can you please fix the missing DOI before we can start the review process?

[2021-06-07 12:42] danielskatz commented on #3158
👋 @jankatins, @alexanderfurnas, @a-slide, @tuchandra - Would one of you be willing to review this JOSS submission?

[2021-06-07 12:44] danielskatz commented on #3143
👋 @nkallima - Any update?

[2021-06-07 12:46] danielskatz commented on #3211
👋 @adi3 - Can you let us know where this in your opinion? What is blocking you from moving forward?

[2021-06-07 12:46] danielskatz commented on #3211
👋 @PierreGuilbertF - It doesn't seem like you've started your review - can you let us know when you will?

[2021-06-07 12:47] danielskatz commented on #3211
👋 @PacoCosta - Can you let us know where this in your opinion?

[2021-06-07 12:48] danielskatz commented on #3283
@sibirrer - sorry I missed this comment.

The next steps are for you to:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should mat

[2021-06-07 12:51] danielskatz commented on #3272
@whedon set v0.1.1.1 as version

[2021-06-07 12:51] whedon commented on #3272
OK. v0.1.1.1 is the version.

[2021-06-07 12:51] danielskatz commented on #3272
@cjbarrie - Is this ok for you?  Or did you want this to be "JOSS Release", which seems a bit unusual to me?

[2021-06-07 12:51] danielskatz commented on #3272
@whedon set 10.5281/zenodo.4905468 as archive

[2021-06-07 12:51] whedon commented on #3272
OK. <a href="https://doi.org/10.5281/zenodo.4905468" target="_blank">10.5281/zenodo.4905468</a> is the archive.

[2021-06-07 12:52] danielskatz commented on #3272
@whedon accept

[2021-06-07 12:52] whedon commented on #3272
To recommend a paper to be accepted use `@whedon recommend-accept`

[2021-06-07 12:52] danielskatz commented on #3272
@whedon recommend-accept

[2021-06-07 12:52] whedon commented on #3272
[code]

[2021-06-07 12:52] whedon commented on #3272
[code]

[2021-06-07 12:52] whedon commented on #3272
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2367

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2367, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-06-07 12:53] danielskatz commented on #3272
Note: After the answer to the version tag question, I'll come back and check this and proceed with the final steps

[2021-06-07 13:30] pdebuyl commented on #3198
@whedon add @braunfuss as reviewer

[2021-06-07 13:30] whedon commented on #3198
OK, @braunfuss is now a reviewer

[2021-06-07 13:31] pdebuyl commented on #3198
@whedon start review

[2021-06-07 13:31] whedon opened #3337 "[REVIEW]: SenSARP: A Python package for pre-processing Sentinel-1 SLC data with the Sentinel-1 Toolbox"
**Submitting author:** @McWhity (<a href="http://orcid.org/0000-0001-5278-8379">Thomas Weiß</a>)
**Repository:** <a href="https://github.com/multiply-org/sar-pre-processing.git" target ="_blank">https://github.com/multiply-org/sar-pre-processing.git</a>
**Version:** v0.2
**Editor:** @pdebuyl
**Reviewers:** @arthur-e, @danclewley
**Archive:** <a href="https://doi.org/10.5281/zenodo.5903483" target=

[2021-06-07 13:31] whedon commented on #3198
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3337.

[2021-06-07 13:31] #3198 closed

[2021-06-07 13:31] whedon commented on #3337
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arthur-e, @braunfuss it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2021-06-07 13:31] whedon commented on #3337
Failed to discover a `Statement of need` section in paper

[2021-06-07 13:31] whedon commented on #3337
[code]

[2021-06-07 13:32] whedon commented on #3337
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03337/joss.03337/10.21105.joss.03337.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03337/joss.03337/10.21105.joss.03337.pdf) :page_facing_up: :point_left:

[2021-06-07 13:32] whedon commented on #3337
[code]

[2021-06-07 13:34] dfm commented on #3095
@whedon generate pdf

[2021-06-07 13:35] whedon commented on #3095
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03095/joss.03095/10.21105.joss.03095.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03095/joss.03095/10.21105.joss.03095.pdf) :page_facing_up: :point_left:

[2021-06-07 13:35] dfm commented on #3095
@whedon check references

[2021-06-07 13:36] whedon commented on #3095
[code]

[2021-06-07 13:36] pdebuyl commented on #3337
@arthur-e @braunfuss make sure to accept the invitation to the reviewers group and to have a look at the reviewer guidelines linked to at the top of this review page.

@McWhity JOSS requires that a section of the article is literally titled "statement of need", can you edit the article accordingly?

The review process will happen in this issue page, so questions to the author or to me can be added

[2021-06-07 13:50] whedon commented on #3311
:wave: @zbeekman, please update us on how your review is going (this is an automated reminder).

[2021-06-07 13:50] whedon commented on #3311
:wave: @rcannood, please update us on how your review is going (this is an automated reminder).

[2021-06-07 14:28] nkallima commented on #3143
Hi @danielskatz

In https://github.com/nkallima/sim-universal-construction/commits/v2.5.0-dev, you can check the latest updates/improvements.
I have already added API documentation for a lot of header files. However, there are some header files that need to be documented.

[2021-06-07 14:32] dfm commented on #3095
@shihyuntang: I've opened a pull request with some edits to the paper. Can you take a look at that and once you've merged, please take the following steps:

- Comment `@whedon generate pdf` on this thread and read through the manuscript to make sure that you're happy with it (it's hard to make changes later!), especially author names and affiliations.
- Increment the version number of the software

[2021-06-07 14:40] vahid-sb commented on #2880
Hi @majensen, thanks for your message and I hope life is treating you well. I used this library to do a study whose results I have already published. The paper itself took a lot of mental energy, in particular since I had to do it all alone. And although afterwards, I tried to force myself into editing this library, I couldn't find the required mental energy. And given what is going on in my profe

[2021-06-07 14:53] PeerHerholz commented on #3169
Ahoi hoi everyone,

I just addressed and fixed typos and errors in the manuscript outlined by @neuromusic in this [issue](https://github.com/PeerHerholz/BIDSonym/issues/53).  I'll regenerate the PDF to reflect the respective changes.

@whedon generate pdf

[2021-06-07 15:00] kthyng commented on #3216
@fboehm Are you interested in editing this submission?

[2021-06-07 15:01] kthyng commented on #3216
@whedon invite @fboehm as editor

[2021-06-07 15:01] whedon commented on #3216
@fboehm has been invited to edit this submission.

[2021-06-07 15:09] PeerHerholz commented on #3169
@whedon generate pdf

[2021-06-07 15:10] whedon commented on #3169
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03169/joss.03169/10.21105.joss.03169.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03169/joss.03169/10.21105.joss.03169.pdf) :page_facing_up: :point_left:

[2021-06-07 15:10] fboehm commented on #3216
@kthyng - yes, I'm happy to edit this submission. Thanks!

[2021-06-07 15:11] fboehm commented on #3216
@whedon assign @fboehm as editor

[2021-06-07 15:11] whedon commented on #3216
OK, the editor is @fboehm

[2021-06-07 15:11] kthyng commented on #3251
@sbenthall could you edit this submission?

[2021-06-07 15:12] kthyng commented on #3251
@whedon invite @sbenthall as editor

[2021-06-07 15:12] whedon commented on #3251
@sbenthall has been invited to edit this submission.

[2021-06-07 15:14] fboehm commented on #3216
@jponnela - do you have any suggestions for reviewers? They can be people from the list of JOSS reviewers, but I'm also happy to invite reviewers who haven't reviewed for JOSS yet. Ideally, the reviewers will have considerable expertise in your area of research.

[2021-06-07 15:15] kthyng commented on #3253
@whedon generate pdf

[2021-06-07 15:15] PacoCosta commented on #3211
@danielskatz - Following @adi3 suggestions, the points are updated. I am waiting for reviewers' new suggestions or comments

[2021-06-07 15:15] whedon commented on #3253
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03253/joss.03253/10.21105.joss.03253.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03253/joss.03253/10.21105.joss.03253.pdf) :page_facing_up: :point_left:

[2021-06-07 15:23] rcannood commented on #3311
Almost finished! I just need to verify the functional claims of the paper.

I can already say that, overall, I think the manuscript is well-written and logically structured. I don't think many suggestions or comments will be needed before publication.

I'm hoping to finish my review this week; I'll keep you posted.

[2021-06-07 15:26] will-rowe commented on #3247
@whedon generate pdf

[2021-06-07 15:26] whedon commented on #3247
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03247/joss.03247/10.21105.joss.03247.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03247/joss.03247/10.21105.joss.03247.pdf) :page_facing_up: :point_left:

[2021-06-07 15:30] will-rowe commented on #3247
Thanks @mjacob1002 . I'm afraid the authorship on the zenodo record needs to match that of your paper. Please can you amend.

[2021-06-07 15:30] kthyng commented on #3268
@virgesmith I can't quite tell what your submission is about in order to suggest an editor (to me, the words describing the work are generic and could be from many different fields). Do you have more editor suggestions? Also I see you describe the work as in pre-release — this can be a sign that the work is not ready to be published by JOSS. When do you plan to release version 1.0?

[2021-06-07 15:30] dlgeorge commented on #3114
Hi Katy,

yes, the authors have addressed my (minor) concerns, I think it's ready to
be accepted (sorry, I meant to send this last week).

best,

dave

On Sun, May 30, 2021 at 10:46 AM Katy Barnhart ***@***.***>
wrote:

--
----------------------------------------------------
David L George ***@***.***)
Research Mathematician
Cascades Volcano Observatory
U.S. Geological Survey
Vancouver, WA
-------

[2021-06-07 15:33] kthyng commented on #3328
@meg-simula could you edit this submission?

[2021-06-07 15:34] kthyng commented on #3328
@whedon invite @meg-simula as editor

[2021-06-07 15:34] whedon commented on #3328
@meg-simula has been invited to edit this submission.

[2021-06-07 15:42] vsoch commented on #3311
Thank you @rcannood !

[2021-06-07 15:43] kthyng commented on #2973
@glyg I see a small fix in your paper to make: in the parenthetical statement "for a review, see", the reference there should be in-line, not parenthetical. So, you should remove the [] around that reference.

[2021-06-07 16:05] glyg commented on #2973
Thanks @kthyng good catch, I fixed it