[2019-03-10 18:48] cMadan commented on #1297
@whedon assign @cMadan as editor

[2019-03-10 18:48] whedon commented on #1297
OK, the editor is @cMadan

[2019-03-10 18:55] studywolf commented on #1225
regarding the authorship checkbox, Gennaro Raiola has contributed about 1k vs 120k lines of code from Freek Stulp according to the commit history. I'm not sure exactly what the requirements for 'major contribution' are, but the authorship on the paper reflects Freek Stulp as primary author so I'm checking this box as complete.

[2019-03-10 19:08] piyueh commented on #1239
@labarba @TormodLandet  Regarding the question "***Version**: Does the release version given match the GitHub release (2019.0.1)?*", should I only review this specific version? Or should I review the master branch? It appears there are some new commits in the repository after the commit that is tagged with **2019.0.0**.

[2019-03-10 19:13] studywolf commented on #1225
didn't see what versions are python are supported. leaving Installation unchecked until stulp/dmpbbo#28 resolved

[2019-03-10 19:17] arfon commented on #1309
@pierrepo - this pull request should fix your paper: https://github.com/pierrepo/autoclasswrapper/pull/11

[2019-03-10 19:18] arfon commented on #1311
:wave: @arokem - do you think you could edit this submission for us?

[2019-03-10 19:26] TormodLandet commented on #1239
I have worked on updating the documentation since the release. There should not be any code changes as far as I remember. I can release 2019.0.2 with the current changes if that is preferable. The only change since 2019.0.1 is extending and moving the documentation to [www.ocellaris.org](https://www.ocellaris.org/) and working on the JOSS paper.

[2019-03-10 19:26] labarba commented on #1239
As the review proceeds, the author will make changes, so commits will accrue. But your review should be on the master branch, unless the author requests that we work on a separate branch for the whole review. What we don't want, though, is to confuse reviewers with more than one branch active in review.

[2019-03-10 19:45] piyueh commented on #1239
OK, I'll review the master branch

[2019-03-10 20:37] cMadan commented on #989
@stsievert, thanks for the detailed update! It's good to see things moving along :)

[2019-03-10 20:39] cMadan commented on #1252
@whedon generate pdf

[2019-03-10 20:39] whedon commented on #1252
[code]

[2019-03-10 20:39] whedon commented on #1252
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01252/joss.01252/10.21105.joss.01252.pdf)

[2019-03-10 20:43] cMadan commented on #1252
@mir-am @rougier, thanks for the updates!

[2019-03-10 20:50] cMadan commented on #1277
@casperdcl @GregaVrbancic @Benjamin-Lee, just to follow-up re: scope of work and JOSS. I appreciate both reviewers commenting on this--I do agree that the project is on the edge of JOSS' scope (and had brought this up in the pre-review). However, we have published tools that are similarly tools for researchers/development (rather than researcher end-users) and tdqm has clearly demonstrated it's ut

[2019-03-10 20:51] codeling commented on #1185
Great! I will prepare a release tomorrow!
I guess it is okay if the version differs from what was specified when we submitted the first draft (a lot has changed since that version already, so changing that version feels wrong)?

[2019-03-10 20:53] cMadan commented on #1294
@arfon, do you have any thoughts on the author list formatting here? I don't recall any prior JOSS papers using "[LastName], [FirstName]" formatting, but you'd know better than me--and if we want to require a specific formatting (e.g., for consistency).

@grlee77, let me know if you have any questions in starting the review!

[2019-03-10 21:09] adavidzh commented on #1230
Thanks. I think we're making quick progress.

In https://github.com/annoviko/pyclustering/pull/495 there are several suggestions for the paper.

In the table, I think it would make sense to have a reference for each algorithm implementation.

[2019-03-10 21:21] arfon commented on #1294
Yes, please have author names as a single string (firstname lastname) with any middle initials, e.g. Arfon M Smith

[2019-03-10 21:31] pierrepo commented on #1309
@whedon commands

[2019-03-10 21:31] whedon commented on #1309
Here are some things you can ask me to do:

[code]

[2019-03-10 21:31] pierrepo commented on #1309
@whedon generate pdf

[2019-03-10 21:31] whedon commented on #1309
[code]

[2019-03-10 21:32] whedon commented on #1309
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01309/joss.01309/10.21105.joss.01309.pdf)

[2019-03-10 21:35] benmarwick commented on #1242
Yes, I can do this. Sorry that I missed your mention here from so long ago!

[2019-03-10 21:42] benmarwick commented on #1242
Has there been any discussion about whether this pkg might be suitable for @ropensci [onboarding](https://github.com/ropensci/software-review)? Perhaps @noamross or @maelle could advise if this pkg is suitable? It it passes that, then it's auto-submitted here, if I understand correctly.

[2019-03-10 21:42] pierrepo commented on #1309
@whedon generate pdf

[2019-03-10 21:42] whedon commented on #1309
[code]

[2019-03-10 21:42] whedon commented on #1309
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01309/joss.01309/10.21105.joss.01309.pdf)

[2019-03-10 21:44] pierrepo commented on #1309
The proof is OK for me.

[2019-03-10 21:51] becarioprecario commented on #1305
Hi,

Yes. I will be happy to review this paper. Please, do you have a link with the instructions on how to make reviews.
Best,
Virgilio

[2019-03-10 21:56] labarba commented on #1242
@whedon assign @cboettig as reviewer

[2019-03-10 21:56] whedon commented on #1242
OK, the reviewer is @cboettig

[2019-03-10 21:56] labarba commented on #1242
@whedon add @benmarwick as reviewer

[2019-03-10 21:56] whedon commented on #1242
OK, @benmarwick is now a reviewer

[2019-03-10 21:57] labarba commented on #1242
@whedon start review

[2019-03-10 21:57] whedon opened #1312 "[REVIEW]: Rclean: A Tool for Writing Cleaner, More Transparent Code"
**Submitting author:** @MKLau (<a href="http://orcid.org/0000-0003-3758-2406">Matthew Lau</a>)
**Repository:** <a href="https://github.com/ropensci/Rclean" target ="_blank">https://github.com/ropensci/Rclean</a>
**Version:** v1.1.8
**Editor:** @danielskatz
**Reviewer:** @danielskatz
**Archive:** <a href="https://doi.org/10.5281/zenodo.3665732" target="_blank">10.5281/zenodo.3665732</a>

## Status

[2019-03-10 21:57] whedon commented on #1242
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1312. Feel free to close this issue now!

[2019-03-10 21:57] whedon commented on #1312
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @cboettig, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-03-10 21:57] whedon commented on #1312
[code]

[2019-03-10 21:57] whedon commented on #1312
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01312/joss.01312/10.21105.joss.01312.pdf)

[2019-03-10 21:58] labarba commented on #1312
👋  @cboettig, @benmarwick — We'll carry out the review here. Thanks for your contribution to JOSS!

[2019-03-10 21:59] #1242 closed

[2019-03-10 22:00] labarba commented on #1312
@benmarwick [asked](https://github.com/openjournals/joss-reviews/issues/1242#issuecomment-471356805) in the Pre-review issue whether submitting to Ropensci had been considered. Comments, @MKLau?

[2019-03-10 22:01] pierrepo commented on #1309
Following @whedon recommendations, here is a list of potential reviewers (taken from this [list](https://bit.ly/joss-reviewers)):

- @rpetit3
- @jdeligt
- @a-slide
- @lowandrew
- @afrendeiro

[2019-03-10 22:56] labarba commented on #1231
@PaulKGrimes — I see you've checked all your review items. Are you ready to recommend publication?

[2019-03-10 22:57] labarba commented on #1231
👋 @josephhardinee — Your checklist is still untouched. Have you been able to get started with this review?

[2019-03-11 00:09] cMadan commented on #1308
@hneutr, do you have any suggestions for potential reviewers?

[2019-03-11 00:10] cMadan commented on #1297
@whedon add @andrewheiss as reviewer

[2019-03-11 00:10] whedon commented on #1297
OK, @andrewheiss is now a reviewer

[2019-03-11 00:13] cMadan commented on #1297
I think we're all set to start the review here--so I'll start the review issue and close this one.

[2019-03-11 00:13] cMadan commented on #1297
@whedon start review

[2019-03-11 00:13] whedon opened #1313 "[REVIEW]: ggparliament: A ggplot2 extension for parliament plots in R"
**Submitting author:** @zmeers (<a href="http://orcid.org/0000-0001-8045-6531">Zoe Meers</a>)
**Repository:** <a href="https://github.com/RobWHickman/ggparliament/" target ="_blank">https://github.com/RobWHickman/ggparliament/</a>
**Version:** v.2.1.0
**Editor:** @cMadan
**Reviewer:** @andrewheiss
**Archive:** <a href="https://doi.org/10.5281/zenodo.2650709" target="_blank">10.5281/zenodo.2650709<

[2019-03-11 00:13] whedon commented on #1297
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1313. Feel free to close this issue now!

[2019-03-11 00:13] whedon commented on #1313
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @andrewheiss it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-03-11 00:13] whedon commented on #1313
[code]

[2019-03-11 00:13] #1297 closed

[2019-03-11 00:13] whedon commented on #1313
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01313/joss.01313/10.21105.joss.01313.pdf)

[2019-03-11 01:15] whedon opened #1314 "[PRE REVIEW]: VBLinLogit: Variational Bayesian linear and logistic regression"
**Submitting author:** @jdrugo (<a href="http://orcid.org/0000-0002-7846-0408">Jan Drugowitsch</a>)
**Repository:** <a href="https://github.com/DrugowitschLab/VBLinLogit" target ="_blank">https://github.com/DrugowitschLab/VBLinLogit</a>
**Version:** v0.2
**Editor:** @usethedata
**Reviewers:** @ManuelaS

**Author instructions**

Thanks for submitting your paper to JOSS @jdrugo. **Currently, there i

[2019-03-11 01:15] whedon commented on #1314
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-03-11 01:15] whedon commented on #1314
[code]

[2019-03-11 01:15] whedon commented on #1314
PDF failed to compile for issue #1314 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0    13    0     0    244      0 --:--:-- --:--:-- --:--:--   250
Error reading bib

[2019-03-11 01:21] #1048 closed

[2019-03-11 01:22] arfon commented on #1285
:wave: @alexhanna - how are you getting along with your review here?

[2019-03-11 01:26] arfon commented on #1249
:wave: @taldcroft - a friendly reminder that you said you thought you'd be able to complete your review by the 12th March :smile:

[2019-03-11 01:48] timClicks commented on #1256
@mgymrek Apologies on the delay. Will make my way through installation this week.

[2019-03-11 01:59] pjotrp commented on #1287
Thank you for the thorough review @agisga.  To finalize your submission and accept your paper in JOSS, we need two things. First, can you confirm that all references in your bibliography have a DOI in the bibliography (if one exists).

Second, we need you to deposit a copy of your software repository (including any revisions made during the JOSS review process) with a data-archiving service.

To d

[2019-03-11 02:00] pjotrp commented on #1287
@whedon generate pdf

[2019-03-11 02:00] whedon commented on #1287
[code]

[2019-03-11 02:00] whedon commented on #1287
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01287/joss.01287/10.21105.joss.01287.pdf)

[2019-03-11 02:37] arokem commented on #1172
Hi @casteer : any progress?

[2019-03-11 04:06] amoeba commented on #1201
Hi @pjotrp, @dleehr has addresses all of my outstanding issues with the review over on https://github.com/NESCent/TraitDB/issues/222 and I've updated the checklist above to reflect that. Everything is in order for your final stamp except

which should be updated to 1.0.0 (See: https://github.com/NESCent/TraitDB/releases/tag/v1.0.0).

My review is: Accept (conditional upon the above)

[2019-03-11 05:11] kyleniemeyer commented on #1307
@karthik this submission looks like it might be up your alley—can you edit it?

[2019-03-11 05:12] kyleniemeyer commented on #1309
Hi @pierrepo, we need to assign an editor to handle your submission before reviewers—hang tight!

[2019-03-11 05:15] pankajkmishra commented on #1173
@whedon generate pdf

[2019-03-11 05:15] whedon commented on #1173
[code]

[2019-03-11 05:15] whedon commented on #1173
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01173/joss.01173/10.21105.joss.01173.pdf)

[2019-03-11 05:17] kyleniemeyer commented on #1314
@jdrugo looks like there is an error in your bibliography preventing compilation of the paper.

[2019-03-11 05:20] kyleniemeyer commented on #1314
@eramirem and @arokem as the resident machine learning editors, could one of you handle this submission?

[2019-03-11 05:26] kyleniemeyer commented on #1309
@trallard could you edit this submission?

[2019-03-11 05:27] kyleniemeyer commented on #1310
@gkthiruvathukal  would you be able to edit this submission?

[2019-03-11 05:34] pankajkmishra commented on #1173
@kyleniemeyer @vijaysm : The release version is v1.0 after incorporating @Kevin-Mattheus-Moerman 's suggestions.

[2019-03-11 09:09] rougier commented on #1252
Thanks. I'm almost done with the review. @mir-am There are still some missing DOI in the references, can you check? For the captions of figure 1 & 2,  maybe you can have figures side by side in one figure and explain in the caption the fundamental difference between SVM and TwinSVM.

[2019-03-11 09:19] Kevin-Mattheus-Moerman commented on #1173
@pankajkmishra

Thanks for implementing most of the points. Below are some remaining points on the paper:

- [ ] This part has not been changed yet: "discrete set of point cloud". Should this be "discrete sets of point clouds" or "discrete point cloud sets" ? Also "which need not to be" sounds odd, I suggest you remove the word "to".

- [ ] Should the long hyphen be removed before state of the art

[2019-03-11 09:23] Kevin-Mattheus-Moerman commented on #1173
@pankajkmishra thanks for expanding the demo file.

Minor point, perhaps update this comment:
[code]
To:
[code]

[2019-03-11 09:30] Kevin-Mattheus-Moerman commented on #1173
@pankajkmishra about the license. The GNU license you've chosen, strictly speaking, requires that you add the following "boiler plate text" under all your codes (see also: https://opensource.org/licenses/GPL-3.0):

[code]
 I recommend you update this text with your information and paste it at the end of your codes. If you want to automate this, check out how I did this for my personal project [GIB

[2019-03-11 09:33] Kevin-Mattheus-Moerman commented on #1173
@pankajkmishra I've left the "automated test" box above unticked. I think manually running the codes in the demos folder is fine. To add a basic type of automated test functionality, I recommend you just create a single script called `testNodeLab` in the main folder which runs all the demos. (I have something similar, but a bit more complicated, for GIBBON here: https://github.com/gibbonCode/GIBBO

[2019-03-11 09:53] dvalters commented on #1114
Is this something @sgrieve might be available to review?

[2019-03-11 10:33] sgrieve commented on #1114
I'm afraid I don't have time at present, I'm about to do a block of field teaching. If you can't find anyone else give me a shout in 2 weeks and I'll see what I can do.

[2019-03-11 10:51] adavidzh commented on #1230
@whedon generate pdf

[2019-03-11 10:51] whedon commented on #1230
[code]

[2019-03-11 10:51] garrettj403 commented on #1231
Hi @FaustinCarter, thank you for your detailed review.

I think that I have addressed all of your points now.

- I added more use cases for the obscure methods in [``qmix.respfn.RespFn``](https://garrettj403.github.io/QMix/qmix.html#qmix.respfn.RespFn) (e.g., [``resp_conj``](https://garrettj403.github.io/QMix/qmix.html#qmix.respfn.RespFn.resp_conj)).
- The methods in [``qmix.circuit.EmbeddingCircu

[2019-03-11 10:52] whedon commented on #1230
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01230/joss.01230/10.21105.joss.01230.pdf)

[2019-03-11 11:43] taldcroft commented on #1249
Yup, it's on my calendar!

[2019-03-11 11:54] pankajkmishra commented on #1173
@Kevin-Mattheus-Moerman : Done

[2019-03-11 11:57] pankajkmishra commented on #1173
@Kevin-Mattheus-Moerman Done

[2019-03-11 12:06] Kevin-Mattheus-Moerman commented on #1173
@whedon generate pdf

[2019-03-11 12:06] whedon commented on #1173
[code]

[2019-03-11 12:07] whedon commented on #1173
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01173/joss.01173/10.21105.joss.01173.pdf)

[2019-03-11 12:09] adavidzh commented on #1230
So, for the remaining review points:
1. I see some odd issues in testing, like [in the static code analysis](https://travis-ci.org/annoviko/pyclustering/jobs/504590798#L853) or the [ccore unit tests](https://travis-ci.org/annoviko/pyclustering/jobs/504590799#L2522).
1. I would say that [it is mandatory to demonstrate (via tests)](https://joss.readthedocs.io/en/latest/review_criteria.html#tests) th

[2019-03-11 12:09] Kevin-Mattheus-Moerman commented on #1173
Nearly there with the paper. I meant to remove the hyphen altogether, so use "state-of-the-art" instead of "-state-of-the-art".

[2019-03-11 12:11] pankajkmishra commented on #1173
Done.

[2019-03-11 12:12] pankajkmishra commented on #1173
@whedon generate pdf

[2019-03-11 12:12] whedon commented on #1173
[code]

[2019-03-11 12:12] whedon commented on #1173
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01173/joss.01173/10.21105.joss.01173.pdf)

[2019-03-11 12:14] jdrugo commented on #1314
@kyleniemeyer I have fixed the paper.bib typo upstream. How do I get whedon to pick up that change?

[2019-03-11 12:19] annoviko commented on #1230
@whedon generate pdf

[2019-03-11 12:19] whedon commented on #1230
[code]

[2019-03-11 12:20] whedon commented on #1230
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01230/joss.01230/10.21105.joss.01230.pdf)

[2019-03-11 12:26] annoviko commented on #1230
@whedon generate pdf

[2019-03-11 12:26] whedon commented on #1230
[code]

[2019-03-11 12:28] whedon commented on #1230
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01230/joss.01230/10.21105.joss.01230.pdf)

[2019-03-11 12:29] pankajkmishra commented on #1173
I have added a simple "automated test", which sets up the path and runs all the tests in the demos directory one-by-one. Check it out.

[2019-03-11 12:38] pankajkmishra commented on #1173
@Kevin-Mattheus-Moerman Since NodeLab is a small repository, I added these lines manually. Thanks for the automated scripts though, could come in handy, in future.

[2019-03-11 12:47] annoviko commented on #1230
@whedon generate pdf

[2019-03-11 12:47] whedon commented on #1230
[code]

[2019-03-11 12:49] whedon commented on #1230
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01230/joss.01230/10.21105.joss.01230.pdf)

[2019-03-11 12:54] annoviko commented on #1230
@whedon generate pdf

[2019-03-11 12:54] whedon commented on #1230
[code]

[2019-03-11 12:54] whedon commented on #1230
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01230/joss.01230/10.21105.joss.01230.pdf)

[2019-03-11 12:59] annoviko commented on #1230
@adavidzh, I have fixed typo and added references for each algorithm/method/model that is mentioned in the paper (see post above). About tests: I will describe everything in this evening.

[2019-03-11 13:16] Kevin-Mattheus-Moerman commented on #1173
@pankajkmishra can you describe in more detail what advances/novelty your work offers over the work (and MATLAB script) by [Fornberg & Flyer](https://www.sciencedirect.com/science/article/pii/S0898122115000334). If one glances at your project it seems, as stated in the paper, that the core of the matter relies on `node_places` which appears to stem rather directly from the Fornberg & Flyer impleme

[2019-03-11 13:41] PaulKGrimes commented on #1231
Hi Lorena,

Yes, I'm ready to recommend publication.

Paul

On Sun, Mar 10, 2019, 15:56 Lorena A. Barba <notifications@github.com>
wrote:

[2019-03-11 13:45] krueschan commented on #1273
Thanks very much for the review, @mtobis. Below are responses/further questions:

Correct, that is the intention.

The current design, where the "equity splash screen" is shown first that shows the most salient parameters and a sub-set of parameters for them was the result of feedback from end-users who felt overwhelmed if presented with the full complement of settings on first loading the calcula

[2019-03-11 13:45] justinalsing commented on #1157
Hi All,

Following the discussion above about automated tests, I've included an additional notebook with validation tests for each of the DLM models implemented in the package - I've given some more details in https://github.com/justinalsing/dlmmc/issues/5

Hope this does the trick!

Thanks,
Justin

PS @afron, above it looks like the two reviewers were unassigned when Daniel transferred this to yo

[2019-03-11 13:54] pankajkmishra commented on #1173
@Kevin-Mattheus-Moerman : The main idea is to integrate the node_placing algorithm in a geometric modeling framework like FEM mesh-generators.

I am using Fornberg & Flyers approach for initial node-generation in the bounding box (rectangle) and then using the geometric modeling method similar to what (Persson & Strang, 2004) do for generating FEM meshes - but not using the iterative (time-consumi

[2019-03-11 13:58] hneutr commented on #1308
Hey @cMadan! Thanks for taking the time to do this —  I (along with @dblarremore) really appreciate it. For reviewers, I think the tool follows pretty closely along the interests of:
- Yo Yehudi

And less closely along:
- Leonardo Uieda
- Ariel Rokem
- Karthik Ram

I'm happy to @ any reviewers to engage them, but didn't want to without knowing what the process is.

- Hunter

[2019-03-11 14:03] kMutagene commented on #1214
Hi @yochannah,
Thank you for your continued efforts in finding a reviewer for our paper. I guess a factor why it is so hard finding people for this may be that all the fsharpers go straight to industry, which in my opinion is a pity as we see F# as a language suited very well for research in bioinformatics (and for all kinds of data analysis).

[2019-03-11 14:11] pjotrp commented on #1201
Thank you @amoeba! @dleehr to finalize your submission and accept your paper in JOSS, we need two things. First, can you confirm that all references in your bibliography have a DOI in the bibliography (if one exists).

Second, we need you to deposit a copy of your software repository (including any revisions made during the JOSS review process) with a data-archiving service.

To do so:

1. Create

[2019-03-11 14:16] dleehr commented on #1201
Thanks @pjotrp

Yes

https://doi.org/10.5281/zenodo.2583988

[2019-03-11 14:31] mtobis commented on #1273
yes that would be an adequate and easy fix

[2019-03-11 14:32] ixjlyons commented on #1304
I'm happy to review this submission.

[2019-03-11 15:13] aslakbergersen commented on #1065
@trallard, is there anything you need from our side to complete the review of this paper?

[2019-03-11 15:29] alexpghayes commented on #947
Will circle back to this review later this week

[2019-03-11 15:41] arsilva87 commented on #1212
@whedon Please remind to find reviewers for the paper.

[2019-03-11 16:07] kyleniemeyer commented on #1314
@whedon generate pdf

[2019-03-11 16:07] whedon commented on #1314
[code]

[2019-03-11 16:08] whedon commented on #1314
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01314/joss.01314/10.21105.joss.01314.pdf)

[2019-03-11 16:24] krueschan commented on #1273
@whedon generate pdf

[2019-03-11 16:24] whedon commented on #1273
[code]

[2019-03-11 16:24] whedon commented on #1273
PDF failed to compile for issue #1273 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0    105      0 --:--:-- --:--:-- --:--:--   105
Error reading bib

[2019-03-11 16:25] krueschan commented on #1273
@whedon generate pdf

[2019-03-11 16:25] whedon commented on #1273
[code]

[2019-03-11 16:25] whedon commented on #1273
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01273/joss.01273/10.21105.joss.01273.pdf)

[2019-03-11 16:36] Non-Contradiction commented on #1284
@aguang thank you very much for the review! The suggestions in the issues are very constructive.

[2019-03-11 16:43] krueschan commented on #1273
@whedon generate pdf

[2019-03-11 16:43] whedon commented on #1273
[code]

[2019-03-11 16:43] whedon commented on #1273
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01273/joss.01273/10.21105.joss.01273.pdf)

[2019-03-11 16:46] krueschan commented on #1273
Ok. @mtobis - I have done this now.

[2019-03-11 16:49] karthik commented on #1212
@arsilva87 I'm looking for reviewers now that you've uploaded some tests. I'll update the thread once I assign reviewers. Your test coverage is still quite low.

![image](https://user-images.githubusercontent.com/138494/54141435-e549ce00-43e2-11e9-93b6-094ad2849ac3.png)

[2019-03-11 16:50] krueschan commented on #1273
P.S. the textbox is displayed in collapsed state if the user has a 'db' cookie set, which identifies them to not be first time users, so delete this cookie to get the full first time user experience.

[2019-03-11 17:10] arsilva87 commented on #1212
Hi @karthik Yes, the test coverage is expected to be low because the paper describes only some of biotools functionalities that are related to clustering.

[2019-03-11 17:12] jdrugo commented on #1314
@whedon generate pdf

[2019-03-11 17:13] whedon commented on #1314
[code]

[2019-03-11 17:13] whedon commented on #1314
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01314/joss.01314/10.21105.joss.01314.pdf)

[2019-03-11 17:14] jdrugo commented on #1314
The article proof looks good now.

[2019-03-11 19:40] edifice1989 commented on #1255
Hi Melissa,

Is there any feedback from reviewer? Thank you very much!!

Ming

On Mon, Mar 4, 2019 at 9:20 AM Melissa Gymrek <notifications@github.com>
wrote:

[2019-03-11 19:48] annoviko commented on #1230
Testing is performed using AppVeyor (Windows) and Travis-CI (Linux).

How does it work (Travis-CI - [CI run example](https://travis-ci.org/annoviko/pyclustering/builds/504662001)):
1. **Build CCORE** – C++ part of the library is build for x86 and x86_64 platforms. Warnings and remarks are treated as errors. These binaries are uploaded to yandex cloud. Release candidates are also stored in this clo

[2019-03-11 20:36] sauln commented on #1304
@lmcinnes @leouieda, there is no rush on the authors end.

[2019-03-11 21:11] pjotrp commented on #1201
@whedon set 10.5281/zenodo.2583988 as archive

[2019-03-11 21:11] whedon commented on #1201
OK. <a href="https://doi.org/10.5281/zenodo.2583988" target="_blank">10.5281/zenodo.2583988</a> is the archive.

[2019-03-11 21:12] pjotrp commented on #1201
@whedon accept

[2019-03-11 21:12] whedon commented on #1201
[code]

[2019-03-11 21:13] whedon commented on #1201
[code]

[2019-03-11 21:13] pjotrp commented on #1201
ping eic @openjournals/joss-eics

[2019-03-11 21:14] whedon commented on #1201
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/546

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/546, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-03-11 21:23] taldcroft commented on #1249
Minor comments on the article proof:
- `fits` is an acronym and should always be capitalized as `FITS`.
- `usefull` => `useful`.
- `used natively inside a another program` (extra `a`)
- `strenghth` => `strength`
- Not sure of JOSS standards, but I believe `Python` should always be capitalized.
- `Therefore fits file can` => `Therefore FITS files can` (plural `files`)
- There is a space in the URL

[2019-03-11 21:29] karthik commented on #1307
Sure thing.

[2019-03-11 21:29] karthik commented on #1307
@whedon assign @karthik as editor

[2019-03-11 21:29] whedon commented on #1307
OK, the editor is @karthik

[2019-03-11 21:29] karthik commented on #1307
@whedon check references

[2019-03-11 21:29] whedon commented on #1307
[code]

[2019-03-11 21:30] whedon commented on #1307
[code]

[2019-03-11 21:36] taldcroft commented on #1249
@arfon @astrom-tom - Review completed.

I opened a number of issues that I think should be addressed (by fixing or discussion).  These issues  are the source of unchecked boxes in the review checklist.

- https://github.com/astrom-tom/dfitspy/issues/3
- https://github.com/astrom-tom/dfitspy/issues/4
- https://github.com/astrom-tom/dfitspy/issues/5
- https://github.com/astrom-tom/dfitspy/issues/6
-

[2019-03-11 21:39] leouieda commented on #1304
@lmcinnes as long as the authors are OK with the wait, it's fine by me.

[2019-03-11 21:42] leouieda commented on #1304
@whedon assign @ixjlyons as reviewer

[2019-03-11 21:42] whedon commented on #1304
OK, the reviewer is @ixjlyons

[2019-03-11 21:42] leouieda commented on #1304
@whedon add @lmcinnes as reviewer

[2019-03-11 21:42] whedon commented on #1304
OK, @lmcinnes is now a reviewer

[2019-03-11 21:42] leouieda commented on #1304
@whedon start review

[2019-03-11 21:42] whedon opened #1315 "[REVIEW]: Kepler Mapper: A flexible Python implementation of the Mapper algorithm."
**Submitting author:** @sauln (<a href="http://orcid.org/0000-0002-8549-9810">Nathaniel Saul</a>)
**Repository:** <a href="https://github.com/scikit-tda/kepler-mapper" target ="_blank">https://github.com/scikit-tda/kepler-mapper</a>
**Version:** 1.3.3
**Editor:** @leouieda
**Reviewer:** @ixjlyons, @lmcinnes
**Archive:** <a href="https://doi.org/10.5281/zenodo.3485851" target="_blank">10.5281/zenod

[2019-03-11 21:42] whedon commented on #1304
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1315. Feel free to close this issue now!

[2019-03-11 21:42] whedon commented on #1315
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ixjlyons, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-03-11 21:42] whedon commented on #1315
[code]

[2019-03-11 21:42] whedon commented on #1315
PDF failed to compile for issue #1315 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon/author.rb:58:in `block in build_affiliation_string': Problem with affiliations for Sam Mangham, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon/author.rb:57:in `each'

[2019-03-11 21:44] leouieda commented on #1304
@ixjlyons and @lmcinnes thank you for agreeing to review! :tada:

[2019-03-11 21:44] #1304 closed

[2019-03-11 21:46] leouieda commented on #1315
@lmcinnes and @ixjlyons please read the reviewer guidelines (if you haven't already) and fill out the review checklist. If you open any issues or PRs in the software repository, please add `openjournals/joss-reviews#1315` to the description so we can keep track of the process.

Please feel free to ping me at any time :bellhop_bell:

[2019-03-11 21:51] leouieda commented on #1315
@whedon generate pdf from branch joss

[2019-03-11 21:51] whedon commented on #1315
[code]

[2019-03-11 21:51] whedon commented on #1315
PDF failed to compile for issue #1315 with the following error:

 ORCID looks to be the wrong length
/app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon.rb:91:in `block in check_orcids': Problem with ORCID (XXXX-XXXX-XXXX-XXX) for Hendrik Jacob van Veen (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon.rb:89:in `each'
	from /app/ve

[2019-03-11 21:52] leouieda commented on #1315
Sorry, didn't see the paper on the master branch.

[2019-03-11 22:07] mgymrek commented on #1144
@whedon set doi 10.5281/zenodo.2583998

[2019-03-11 22:07] sauln commented on #1315
That's great, I didn't know Whedon could generate from a branch. 👯‍♂️

[2019-03-11 22:07] mgymrek commented on #1144
@whedon set v1.1.0 as version

[2019-03-11 22:07] whedon commented on #1144
OK. v1.1.0 is the version.

[2019-03-11 22:14] brainstorm commented on #1293
👋 @betteridiot, would you like to assist me reviewing this paper? Thanks in advance!

[2019-03-11 22:17] leouieda commented on #1315
Whedon is getting better and better :robot:

[2019-03-11 22:22] mgymrek commented on #1255
@byandell would you be able to fill out the checklist?

@edifice1989 I will also try to contact @byandell directly

[2019-03-11 22:50] athrom commented on #445
@whedon generate pdf

[2019-03-11 22:50] whedon commented on #445
[code]

[2019-03-11 22:50] whedon commented on #445
PDF failed to compile for issue #445 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    17    0    17    0     0    190      0 --:--:-- --:--:-- --:--:--   191
Error reading bibl

[2019-03-11 22:52] athrom commented on #445
@whedon generate pdf

[2019-03-11 22:52] whedon commented on #445
[code]

[2019-03-11 22:52] whedon commented on #445
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00445/joss.00445/10.21105.joss.00445.pdf)

[2019-03-11 22:58] athrom commented on #445
@kyleniemeyer @pjotrp
I have updated the PDF to include more details as outlined in paper requirements and updated the doi with the version in Pubmed. Is there anything else I need to do to move the process forward?

[2019-03-11 23:02] arfon commented on #1249
👍 thanks @taldcroft. Over to you @astrom-tom

[2019-03-11 23:31] astrom-tom commented on #1249
Thanks you very much @taldcroft! I will be working on a revision in the next few days and get back to you with a revised version!

[2019-03-11 23:57] astrom-tom commented on #1249
@whedon generate pdf

[2019-03-11 23:57] whedon commented on #1249
[code]

[2019-03-11 23:57] whedon commented on #1249
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01249/joss.01249/10.21105.joss.01249.pdf)

[2019-03-12 00:02] betteridiot commented on #1293
@brainstorm this is definitely up my alley. I would be more than happy to review this.

[2019-03-12 00:09] brainstorm commented on #1293
@whedon assign @betteridiot as reviewer

[2019-03-12 00:09] whedon commented on #1293
OK, the reviewer is @betteridiot

[2019-03-12 00:09] brainstorm commented on #1293
@whedon start review

[2019-03-12 00:10] whedon opened #1316 "[REVIEW]: Badread: simulation of error-prone long reads"
**Submitting author:** @rrwick (<a href="http://orcid.org/0000-0001-8349-0778">Ryan Wick</a>)
**Repository:** <a href="https://github.com/rrwick/Badread" target ="_blank">https://github.com/rrwick/Badread</a>
**Version:** v0.1.3
**Editor:** @brainstorm
**Reviewer:** @betteridiot
**Archive:** <a href="https://doi.org/10.5281/zenodo.2622997" target="_blank">10.5281/zenodo.2622997</a>

## Status

[![

[2019-03-12 00:10] whedon commented on #1293
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1316. Feel free to close this issue now!

[2019-03-12 00:10] whedon commented on #1316
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @betteridiot it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-03-12 00:10] whedon commented on #1316
[code]

[2019-03-12 00:10] brainstorm commented on #1293
Alright, thanks @betteridiot, off we go! ;)

[2019-03-12 00:10] #1293 closed

[2019-03-12 00:10] whedon commented on #1316
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01316/joss.01316/10.21105.joss.01316.pdf)

[2019-03-12 01:01] labarba commented on #1201
Hi @dleehr — Please edit the metadata of the Zenodo deposit (note: no need for a new DOI or version) so the title and author list match the paper.

The paper proof has a References section, but no references listed. Can you check that?

Editorial suggestions/fixes:
- you could merge your first four mini-paragraphs into one paragraph.
- "While these software are technically proficient can facilitat

[2019-03-12 01:55] yxqd commented on #1296
Hi @jgostick. I was able to install porespy with conda and will test its functionality tomorrow. Here are some questions regarding the paper itself:

* Should [Matthew Lam](https://github.com/mattrlam) be a co-author? Looking at commits only, he seems to contribute similarly to Matthew Kok and Mohammadamin Sadeghi.
* Could you please add more references to the first sentence of the paper? For exam

[2019-03-12 03:30] pankajkmishra commented on #1173
@Kevin-Mattheus-Moerman @kyleniemeyer : If this work does not fit in JOSS's aim and scope, feel free to let me know. I'd be fine to keep it 'just as a github repository', and others can still use it, which was the original purpose.

[2019-03-12 04:08] viktor76525 commented on #808
Thank you @leouieda @hugoledoux and @lheagy!
Uploaded at: https://zenodo.org/record/2590852
doi: 10.5281/zenodo.2590852

[2019-03-12 04:51] jgostick commented on #1296
HI @yxqd
I'm glad you were able to get it installed...but if you haven't tried importing it you might run into the above mentioned problem.  You can upgrade skimage with ``conda install scikit-image -c conda-forge``

Regarding your questions:
* Matt Lam was an undergrad student that worked on a random walk algorithm.  We since removed this and put it into a separate package called [PyTrax](https:/

[2019-03-12 07:49] mir-am commented on #1252
Thank you for reviewing this work.
I tried again to find missing DOI for some references. Looks like The Journal of Machine Learning research does not assign a DOI to its papers.
Your suggestion about the figures seems fine for me. I think the paper's width is not large enough to place figures side by side and it may make the comparison fruitless.  However, I couldn't use subfigures feature to pla

[2019-03-12 08:59] adavidzh commented on #1230
Thanks for the details; the post above should probably become part of the documentation.

I think that:
- My question pertains to the Travis steps 3 and 5 above. To assess the testing, I am looking for tests where a fixed outcome (that is known to be good) is compared with the output of the algorithm. Can you please provide links to such tests?
- Regarding the performance, I was thinking exactly a

[2019-03-12 10:15] annoviko commented on #1230
**Step 3. Run unit-tests for CCORE.** Tests are located here: `/pyclustering/ccore/tst`, files with prefix `utest-`, for example, `utest-kmeans.cpp`, `utest-rock.cpp` – tests for K-Means and ROCK algorithms correspondingly. These tests can be run using makefile:
[code]

**Step 4. Run memory leak analyser (valgrind) for CCORE.** The same scope of tests is used, but compilation is performed using `V

[2019-03-12 10:20] arfon commented on #1157
Yes, I think that might be a bug.

@Chilipp, @taqtiqa-mark - please come and take another look at this submission following @justinalsing's updates.

[2019-03-12 11:38] lpantano commented on #1302
Hi @marouenbg,

I will lead the review process of this tool. Thank you for submitting. I am looking for possible reviewers, meanwhile, could you add the DOI links to the reference, please? It has to end up something like this: https://github.com/openjournals/joss-papers/blob/joss.01299/joss.01299/10.21105.joss.01299.pdf

Thanks!

[2019-03-12 12:26] omoliavko commented on #1268
Is there something I need to do for paper review to actually start or I should just wait for assigned reviewer?

[2019-03-12 12:44] pjotrp commented on #1201
@labarba some valid comment. Except for the last one. I checked the paper for having a topical introduction for laymen. It says that it stores data from different formats using templates.  What else do you want to add?

[2019-03-12 12:45] trallard commented on #1065
Hi all thanks for the time spent in this review, it seems that all the issues have already been dealt with and there are just a few steps between acceptance and now.

@aslakbergersen  can you please make sure to complete the following tasks before completing this?

- [ ]   make a new release of the package (unless the latest release is up to date with the recent modifications) and add let us know

[2019-03-12 12:50] hkjeldsberg commented on #1065
@whedon generate pdf

[2019-03-12 12:50] whedon commented on #1065
[code]

[2019-03-12 12:51] whedon commented on #1065
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01065/joss.01065/10.21105.joss.01065.pdf)

[2019-03-12 12:51] hkjeldsberg commented on #1065
@whedon check references

[2019-03-12 12:52] whedon commented on #1065
[code]

[2019-03-12 12:52] trallard commented on #1241
Hey, @adrena-lab  let's find a couple more options in case some folks can not take the submission. Ideally, we'd want 2 reviewers. Let me know if you cannot find any more suitable reviewers on out list.

[2019-03-12 12:52] whedon commented on #1065
[code]

[2019-03-12 12:53] trallard commented on #1305
Thanks @becarioprecario
Let's wait and see if @sunhwan is willing to act as a reviewer too

[2019-03-12 12:54] trallard commented on #1305
@whedon assign @becarioprecario as reviewer

[2019-03-12 12:54] whedon commented on #1305
OK, the reviewer is @becarioprecario

[2019-03-12 12:55] labarba commented on #1201
Since the author is requested to make some edits, seems like a final effort to make it read easier is not too much to ask.

[2019-03-12 12:55] trallard commented on #1309
Sure @kyleniemeyer

[2019-03-12 12:56] pjotrp commented on #1201
@dleehr feel free to share your thoughts.

[2019-03-12 12:57] Datseris commented on #1166
@Kevin-Mattheus-Moerman am I supposed to do something? From the compiled pdf I can see that all articles that do have a DOI display it properly. I think whedon is pointing out references that I have in the `.bib` file but I don't actively use in the article.

[2019-03-12 12:59] grlee77 commented on #1294
I opened a couple of minor issues:
bids-standard/pybids#415
bids-standard/pybids#416

and commented on (bids-standard/pybids#245) after an initial read-through of the docs and examples. I plan to finish the checklist and review by tomorrow.

[2019-03-12 13:00] hkjeldsberg commented on #1065
@whedon check references

[2019-03-12 13:00] whedon commented on #1065
[code]

[2019-03-12 13:00] whedon commented on #1065
[code]

[2019-03-12 13:20] adrena-lab commented on #1241
Dear @trallard ,

I think that Kevin-Mattheus-Moerman, nicoguaro, JoshKarpel, martlj, or PhilipVinc could also be suitable reviewers.

Thank you,

Niamh

[2019-03-12 13:29] pjotrp commented on #445
Thanks you @athrom. @kyleniemeyer lgtm.

[2019-03-12 13:50] Kevin-Mattheus-Moerman commented on #1166
@Datseris okay. Thanks for clarifying that. If you clean up the .bib file we can avoid this error but it sounds like your paper is in good shape.

[2019-03-12 14:03] rougier commented on #1252
Ok. Then it's fine on my side. @cMadan I'm satisfied with all the changes and I recommend publication.

[2019-03-12 14:45] dleehr commented on #1201
Appreciate the feedback. I'll take another pass at the paper and make the requested specific changes. Thank you all for your time.

[2019-03-12 15:58] kyleniemeyer commented on #1302
@whedon assign @lpantano as editor

[2019-03-12 15:59] kyleniemeyer commented on #1309
@whedon assign @trallard as editor

[2019-03-12 16:00] whedon commented on #1309
OK, the editor is @trallard

[2019-03-12 16:00] kyleniemeyer commented on #1309
Thanks @trallard!

[2019-03-12 16:14] Kevin-Mattheus-Moerman commented on #1166
@Datseris looks like we are nearly there. I will soon recommend that this work is accepted in JOSS. At this point, can you please:

- [ ] Archive a copy of the reviewed software on a service like [Zenodo](https://zenodo.org/) (some follow [these steps](https://guides.github.com/activities/citable-code/)) and list the DOI of this archived version here?

- [ ] Provide the version/release tag for the

[2019-03-12 16:15] Kevin-Mattheus-Moerman commented on #1166
@ssfrr, @jfsantos thank you for your review work!!! :tada:

[2019-03-12 16:25] Datseris commented on #1166
Thanks for the support @Kevin-Mattheus-Moerman , here is the DOI from ZENODO:

[![DOI](https://zenodo.org/badge/41460547.svg)](https://zenodo.org/badge/latestdoi/41460547)

The version is `v1.1.3`

[2019-03-12 16:29] Kevin-Mattheus-Moerman commented on #1166
@whedon set 10.5281/zenodo.2591437 as archive

[2019-03-12 16:29] whedon commented on #1166
OK. <a href="https://doi.org/10.5281/zenodo.2591437" target="_blank">10.5281/zenodo.2591437</a> is the archive.

[2019-03-12 16:30] Kevin-Mattheus-Moerman commented on #1166
@whedon set v1.1.3 as version

[2019-03-12 16:30] whedon commented on #1166
OK. v1.1.3 is the version.

[2019-03-12 16:31] Kevin-Mattheus-Moerman commented on #1166
The DOI link produces an error but it does seem correct: https://zenodo.org/record/2591437#.XIfeO4WnxBI. Perhaps it takes a while to register properly as you've just created it.

[2019-03-12 16:32] Kevin-Mattheus-Moerman commented on #1166
@openjournals/joss-eics this paper is ready to be accepted

[2019-03-12 16:36] marouenbg commented on #1302
@whedon generate pdf

[2019-03-12 16:36] whedon commented on #1302
[code]

[2019-03-12 16:37] whedon commented on #1302
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01302/joss.01302/10.21105.joss.01302.pdf)

[2019-03-12 16:45] sunhwan commented on #1305
@trallard I will be happy to review this paper.

[2019-03-12 16:58] ygrange commented on #1234
Here it comes (again, with apologies for the delay)...

In general: I like the tool and the ambition it has to be a tool to work through the measurement equation without short cuts. I have several comments of which most are textual.

**Paper**
* 1 minor comment: you list future low-frequency telescopes. Any reason you don't list LOFAR which is a current low-frequency radio telescope? I think such

[2019-03-12 18:08] trallard commented on #1305
fab thanks @sunhwan! I will then start the review issue and close this one

[2019-03-12 18:09] trallard commented on #1305
@whedon add @sunhwan as reviewer

[2019-03-12 18:09] whedon commented on #1305
OK, @sunhwan is now a reviewer

[2019-03-12 18:09] trallard commented on #1305
@whedon start review

[2019-03-12 18:09] whedon opened #1317 "[REVIEW]: lifelines: survival analysis in Python"
**Submitting author:** @CamDavidsonPilon (<a href="http://orcid.org/0000-0003-1794-9143">Cameron Davidson-Pilon</a>)
**Repository:** <a href="https://github.com/camdavidsonpilon/lifelines" target ="_blank">https://github.com/camdavidsonpilon/lifelines</a>
**Version:** v0.22.2
**Editor:** @trallard
**Reviewer:** @becarioprecario, @sunhwan
**Archive:** <a href="https://doi.org/10.5281/zenodo.805993"

[2019-03-12 18:09] whedon commented on #1305
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1317. Feel free to close this issue now!

[2019-03-12 18:09] whedon commented on #1317
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @becarioprecario, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're pro

[2019-03-12 18:09] whedon commented on #1317
[code]

[2019-03-12 18:09] #1305 closed

[2019-03-12 18:10] whedon commented on #1317
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01317/joss.01317/10.21105.joss.01317.pdf)

[2019-03-12 18:14] trallard commented on #1317
👋 @becarioprecario and @sunhwan this is the issue for the review. Each of you has a checklist of the items you have to look at while conducting your review.

Please use this issue to comment, make suggestions and discuss anything related to the submission. If you need to request changes or go in detail on something it is advisable to make an issue on the software repo [https://github.com/camdavids

[2019-03-12 18:56] lbenet commented on #1043
@jedbrown Sorry for the long delay. I just merged https://github.com/JuliaDiff/TaylorSeries.jl/pull/197, where we addressed the suggestions by @kyleniemeyer.

We rewrote parts of the paper to clarify the purpose of the package (a polynomial manipulator implemented numerically), briefly described the way in which it is designed, emphasized our use cases, and added three examples of its usage, which

[2019-03-12 19:06] wandreopoulos commented on #693
Hi Jed,
I am currently trying to port the code to Python3 on Nersc, it should be done in a while. I will let you know.

[2019-03-12 19:45] matbesancon commented on #1284
Closed most issues related to the software, one more regarding the paper:
https://github.com/Non-Contradiction/JuliaCall/issues/95

[2019-03-12 20:02] labarba commented on #1166
@whedon generate pdf

[2019-03-12 20:02] whedon commented on #1166
[code]

[2019-03-12 20:03] whedon commented on #1166
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01166/joss.01166/10.21105.joss.01166.pdf)

[2019-03-12 20:08] stablemarkets commented on #1287
Hi @pjotrp,

I confirm all references in my bibliography have a DOI where available. I've deposited my repository (including revisions discussed here) to Zenodo. Here is the DOI badge:

[![DOI](https://zenodo.org/badge/168850653.svg)](https://zenodo.org/badge/latestdoi/168850653)

[2019-03-12 20:08] jedbrown commented on #1043
@whedon generate pdf

[2019-03-12 20:08] whedon commented on #1043
[code]

[2019-03-12 20:09] whedon commented on #1043
PDF failed to compile for issue #1043 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    17    0

[2019-03-12 20:14] jedbrown commented on #1043
@lbenet Thanks. I commented on that PR. You can have whedon generate again when ready.

[2019-03-12 20:20] labarba commented on #1166
Hi @Datseris — I'm going to ask you to edit the metadata of the Zenodo deposit (no need to get new version or new DOI) so the title and author list match the JOSS paper.

[2019-03-12 20:52] labarba commented on #1166
I do have some editorial suggestions on the paper:

- Documentation: "very well documented" >> remove "very"
- "The documentation link can be found here." >> It's awkward to have "here" as an active link in a PDF (or even a website, where it's considered bad form!). You could add the URL to the references list, instead? Or simply spell out the full URL (or create a short URL) in the body text.
- "

[2019-03-12 21:36] kyleniemeyer commented on #445
Hi @athrom, thanks for making those edits! The text looks great now.

I did notice some minor issues with the references, so I went ahead and fixed them (along with a few things in the paper) and submitted as two pull requests: https://github.com/athrom/CytobankAPIstats/pull/4 and https://github.com/athrom/CytobankAPIstats/pull/5

Could you merge those and let me know when?

[2019-03-12 22:33] hkjeldsberg commented on #1065
@whedon generate pdf

[2019-03-12 22:33] whedon commented on #1065
[code]

[2019-03-12 22:35] whedon commented on #1065
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01065/joss.01065/10.21105.joss.01065.pdf)

[2019-03-12 22:42] matbesancon commented on #1284
All issues relevant are now closed, I recommend the paper for submission :)

[2019-03-12 22:57] hkjeldsberg commented on #1065
@trallard , the latest version has been released as morphMan v0.2 (master branch).
Additionally, the doi for the new release is https://doi.org/10.5281/zenodo.2591725
Me and @aslakbergersen are also happy with the submission paper.

[2019-03-13 00:02] leouieda commented on #1284
Thank you @matbesancon and @aguang for all your work on the reviews! :1st_place_medal:

:tada: Congratulations @Non-Contradiction! :tada: Following the positive recommendation of the reviewers, I'm happy to accept your paper for publication in JOSS. We just need a couple of things from you now:

1. Double check the author list and affiliations
2. Make a new release of the software with latest chan

[2019-03-13 00:02] athrom commented on #445
@kyleniemeyer Thanks for helping with reference formatting. I have merged the pull requests.

[2019-03-13 00:12] josephhardinee commented on #1231
I am ready to recommend publication. There is one minor issue with software version being off a micro version, but that is just due to updates to the package in response to reviewer comments (1.0.0 to 1.0.2). I'm clicking the checkbox on versions match as I assume the micro versions don't matter as much until final proof is ready.

The documentation is quite nice, with several examples showing usa

[2019-03-13 00:18] lbenet commented on #1043
@whedon generate pdf

[2019-03-13 00:18] whedon commented on #1043
[code]

[2019-03-13 00:18] whedon commented on #1043
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01043/joss.01043/10.21105.joss.01043.pdf)

[2019-03-13 00:19] labarba commented on #1231
At this point, we just wait on you, @FaustinCarter, to approve the author's last changes, and to tick of the remaining items in your checklist. Please let me know here when you're ready to recommend publication.

[2019-03-13 00:21] lbenet commented on #1043
@whedon generate pdf

[2019-03-13 00:21] whedon commented on #1043
[code]

[2019-03-13 00:22] whedon commented on #1043
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01043/joss.01043/10.21105.joss.01043.pdf)

[2019-03-13 00:25] lbenet commented on #1043
One more fix... This should be ready now @jedbrown.

[2019-03-13 00:30] labarba commented on #1209
Hi @bjmorgan, @georgiewellock — this review thread is getting a bit bloated. Would you like to create a checklist below of the items remaining for you to address, to help us keep up with things?

[2019-03-13 00:40] labarba commented on #1182
👋 @sonal-raj — I see from a [comment](https://github.com/openjournals/joss-reviews/issues/943#issuecomment-454131124) in the Pre-review issue that you agreed to get to this review by the end of January. We have a few items ticked off on your review checklist, so it looks like you did get started! Do you have an idea when you might get finished, though?

[2019-03-13 00:48] lbenet commented on #1043
@whedon generate pdf

[2019-03-13 00:48] labarba commented on #1223
Looks like we're ready to get this submission into review now!

@jasonclark — from a first look, I'd like to assign this to you. Hope that you can find a couple of reviewers and steer this one!

[2019-03-13 00:48] whedon commented on #1043
[code]

[2019-03-13 00:49] whedon commented on #1043
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01043/joss.01043/10.21105.joss.01043.pdf)

[2019-03-13 01:23] Non-Contradiction commented on #1284
Thank you @matbesancon @aguang @leouieda for detailed reviews and constructive suggestions!

I checked the author list, make a new release on Github, and archive the release on Zenodo.
The DOI for the archive is DOI: 10.5281/zenodo.2591769

[2019-03-13 01:26] gkthiruvathukal commented on #1246
@arfon I'm getting the ball rolling now. Thanks for everyone's patience as I begin my tenure with JOSS.

@JedS6391 Can you let me know if you have any preferred reviewers? We do have reviewers with Kotlin expertise. As I wish to get the review processing moving as soon as possible, if I do not hear any preferences, I will make the assignment within 24-48 hours of this posting.

[2019-03-13 01:27] astrom-tom commented on #1249
Dear @arfon ,

What is the process to resubmit the code?

Thanks!

[2019-03-13 01:38] gkthiruvathukal commented on #1254
@kyleniemeyer Yes, I'm getting on the case now. Thanks for the gentle prod. I am getting a good sense of the workflow now.

[2019-03-13 01:45] leouieda commented on #1284
@whedon set 10.5281/zenodo.2591769 as archive

[2019-03-13 01:45] whedon commented on #1284
OK. <a href="https://doi.org/10.5281/zenodo.2591769" target="_blank">10.5281/zenodo.2591769</a> is the archive.

[2019-03-13 01:45] leouieda commented on #1284
@whedon set v0.16.5 as version

[2019-03-13 01:45] whedon commented on #1284
OK. v0.16.5 is the version.

[2019-03-13 01:46] leouieda commented on #1284
@whedon generate pdf

[2019-03-13 01:46] whedon commented on #1284
[code]

[2019-03-13 01:46] whedon commented on #1284
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01284/joss.01284/10.21105.joss.01284.pdf)

[2019-03-13 01:48] labarba commented on #1254
@whedon assign @gkthiruvathukal as editor

[2019-03-13 01:48] whedon commented on #1254
OK, the editor is @gkthiruvathukal

[2019-03-13 01:50] leouieda commented on #1284
Thank you, @Non-Contradiction. I've run some last checks on the article proof and everything looks good to me.

@openjournals/joss-eics this submission is ready to be published.

[2019-03-13 01:54] gkthiruvathukal commented on #1254
@danielskatz Sorry for not seeing your earlier request. I am usually willing, so the answer is yes. It took me a bit of time to get ramped up as an editor but things are going well now.

@kyleniemeyer Yes, I am on the case.

@Amudtogal Do you have any suggested reviewers from https://bit.ly/joss-reviewers? I plan to make an assignment from the list if I do not hear from you within 24 hours.

[2019-03-13 03:42] pjotrp commented on #1287
@whedon set 10.5281/zenodo.2591600 as archive

[2019-03-13 03:42] whedon commented on #1287
OK. <a href="https://doi.org/10.5281/zenodo.2591600" target="_blank">10.5281/zenodo.2591600</a> is the archive.

[2019-03-13 03:42] pjotrp commented on #1287
@whedon accept

[2019-03-13 03:42] whedon commented on #1287
[code]

[2019-03-13 03:42] whedon commented on #1287
PDF failed to compile for issue #1287 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1287 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedo

[2019-03-13 03:43] whedon commented on #1287
[code]

[2019-03-13 03:44] pjotrp commented on #1287
@arfon can you check why the PDF is failing?

[2019-03-13 04:36] jedbrown commented on #1043
Looks like trouble with unicode monospace fonts. I didn't find a simple workaround -- the characters are evidently part of DejaVu Sans Mono, which I use in my editor, but I haven't gotten pandoc/xelatex to pick them up even when setting `monofont: DejaVu Sans Mono` in the header -- it uses the font, but doesn't find some characters that work in my editor. Perhaps @arfon has ideas.

Though the acce

[2019-03-13 04:53] sonal-raj commented on #1182
@labarba - I am done with most of the review. I will update it by this weekend. Apologies for the delay, been drowning in work of late!

[2019-03-13 05:09] krueschan commented on #1273
@mtobis , just checking if, as far as you're concerned, your comments regarding

are now resolved with the recent changes as described above? If so, I think the review process probably expects you to tick the appropriate check box in the checklist on the top of the page, if not, that would be good to know so I can figure out what else to do.

[2019-03-13 05:11] FaustinCarter commented on #1231
I am very happy to recommend publication. This is a really excellent job!

[2019-03-13 07:38] iljah commented on #1303
I've accepted editor's request to review.

[2019-03-13 07:54] mikaem commented on #1303
Do you want me to suggest other reviewers @VivianePons?

[2019-03-13 08:38] GregaVrbancic commented on #1277
@cMadan thank you for the follow-up. I think that @casperdcl has addressed all my remarks, so from my standpoint, the paper could proceed to publish.

[2019-03-13 09:15] graiola commented on #1225
@studywolf, the issue stulp/dmpbbo#28 should be fixed now.

[2019-03-13 09:18] Amudtogal commented on #1254
In terms of reviewers it would be great to have someone from a simulation & robotics background. The best choice might be **carlojoseRG** with background knowledge in ROS & robotics, however Python is not included in his languages.

Other people having useful knowledge for the review are:
**mosteo** (robotics background, Python)
**trallard** (robotics background, Python)
**hugoledoux** (3D, modell

[2019-03-13 09:19] codeling commented on #1185
Took me longer than planned to prepare the release, but here it is:

[open_iA 2019.03](https://github.com/3dct/open_iA/releases/tag/2019.03)

DOI: [10.5281/zenodo.2591999](https://doi.org/10.5281/zenodo.2591999)

[2019-03-13 10:47] taldcroft commented on #1249
@astrom-tom - still 3 open issues that you should address prior to resubmitting.  None of them are difficult.  :smile:

[2019-03-13 11:02] arfon commented on #1249
Please just let me know here once you've updated your code based on @taldcroft's feedback. There's no need to resubmit - you simply have to update this issue letting us know you've made the changes.

[2019-03-13 12:09] labarba commented on #1284
Hi @Non-Contradiction — I'm going to ask you to edit the metadata of the Zenodo deposit (no need to get new version or new DOI) so the title and author list match the JOSS paper.

[2019-03-13 12:21] labarba commented on #1284
A few more editorial suggestions/requests:

- high-performance technique computing >> technique?
- Section 2.77 in (Xie, Allaire, & Grolemund, 2018) >>When the citation is part of the sentence, then use: Author (year). The citation should appear in parenthesis when it is not part of the sentence, e.g. “We take inspiration from Smith et al. (2006) to … The code implements Theory X (Jones, 2012) to

[2019-03-13 12:28] astrom-tom commented on #1249
@taldcroft, @arfon  The remaining issues have been adresses and the code have been updated and move to the main pypi repository. The new version is 19.3.3.

[2019-03-13 12:50] gkthiruvathukal commented on #1254
@Amudtogal Thanks for the quick follow up.

[2019-03-13 12:59] katyhuff commented on #1185
So, I'm sorry I didn't get back to you earlier on your previous question.

It needs to be the version that was reviewed (so, your master branch...) particularly if changes have been significant. However, a new submission can be made to review the changes since then, and that review should go fasterand will result in another version of the joss DOI.

[2019-03-13 13:02] gkthiruvathukal commented on #1268
@omoliavko  In looking more closely at the review criteria at https://joss.readthedocs.io/en/latest/review_criteria.html, I was wondering whether you either comment on or reviews your paper to include how your contribution addresses "any ongoing research projects using the software or recent scholarly publications enabled by it."

[2019-03-13 13:18] codeling commented on #1185
The release is in our master branch, but at a newer tag (2019.03) than the version that was current when submitting this review (2018.12). Since we use such "dated" version tags, modifying the old 2018.12 version to point to the current release is more or less out of the question.

Changes between 2018.12 and 2019.03 include those done in response to the review comments, but also a few other adapt

[2019-03-13 14:06] mtobis commented on #1273
Yes. I have signed off on all checkboxes. Again I think this is important work. Thanks for doing it and my apologies for slow response as I am traveling,

[2019-03-13 14:24] jedbrown commented on #1273
@whedon check references

[2019-03-13 14:24] whedon commented on #1273
[code]

[2019-03-13 14:28] VivianePons commented on #1303
@whedon assign @iljah as reviewer

[2019-03-13 14:28] whedon commented on #1303
OK, the reviewer is @iljah

[2019-03-13 14:29] VivianePons commented on #1303
@mikaem I have asked a second reviewer and I am waiting for their answers. I will let you know.

[2019-03-13 14:30] VivianePons commented on #1303
@iljah I am waiting for a confirmed second reviewer to officially start the "review issue" but feel free to voice your comments here in the meantime.

[2019-03-13 14:34] jedbrown commented on #1273
Thanks, @mtobis.

@krueschan It looks like all but the first "missing DOI" is buggy. (This experimental whedon feature needs work.) Can you check that first one?  Can you also check capitalization in references? I think `{Paris Agreement}` needs to be protected in multiple cases.

[2019-03-13 15:00] krueschan commented on #1273
Thanks @jedbrown. That first one is wrong too. Just a book chapter by the same name (and from the same authors) as the book that I am citing, so my citation is fine as is. I have protected the `{Paris Agreement}` as suggested and checked for other examples of capitalization and found a few more. Thanks. Looks like the whedon doi guessing experimental feature is at least as buggy as Mendeley's, tho

[2019-03-13 15:00] krueschan commented on #1273
@whedon generate pdf

[2019-03-13 15:00] whedon commented on #1273
[code]

[2019-03-13 15:01] whedon commented on #1273
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01273/joss.01273/10.21105.joss.01273.pdf)

[2019-03-13 15:07] krueschan commented on #1273
found and fixed another minor issue with the bibliography.

@whedon generate pdf

[2019-03-13 15:23] kyleniemeyer commented on #445
@whedon generate pdf

[2019-03-13 15:23] whedon commented on #445
[code]

[2019-03-13 15:23] whedon commented on #445
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00445/joss.00445/10.21105.joss.00445.pdf)

[2019-03-13 15:40] Datseris commented on #1166
Hi @labarba ,

In the latest master commit I implemented all your points.

https://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.htm

I don't understand where you are pointing at... In text I have:

[code]

every reference is named. In the pdf all references are expanded to the Author (Year) format.

---

No, this is not possible, please see the discussion I had with @Kevin-Mattheus

[2019-03-13 15:40] Datseris commented on #1166
@whedon generate pdf

[2019-03-13 15:40] whedon commented on #1166
[code]

[2019-03-13 15:40] whedon commented on #1166
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01166/joss.01166/10.21105.joss.01166.pdf)

[2019-03-13 15:56] georgiewellock commented on #1209
To address the comments on the userguides:

we have added nbviewer links to the top level README.md as discussed:

in this commit: https://github.com/bjmorgan/pyscses/commit/d58471a1a62a3e234c234bfc5ac310cd612cfbae

The userguides go through the theory of how to run the calculations, and if users want to run the calculations themselves I think it is useful to clone the whole repository.

[2019-03-13 16:01] georgiewellock commented on #1209
I have run through the notebooks and fixed the errors that were flagged.

Addressed here: https://github.com/bjmorgan/pyscses/commit/b845a5d21a2748867977e5c23f38f7c6b9f168fd

[2019-03-13 16:08] georgiewellock commented on #1209
Going through the comments on this thread I believe we have addressed all of the software issues. We are currently redrafting the software paper which should be updated in the very near future and rewriting the summary in the README to clearly state what the problem is designed to solve.

- [ ] Update release version after review
- [ ] Updates to software paper
- [ ] Updates to top level README

[2019-03-13 16:18] labarba commented on #1166
Regarding the citations, whether in-text or not, imagine if the format of the article used superscripts for citations: it would be quite weird to see a verb with a superscript but no subject, right? So, when you use the citation as part of speech in a sentence, you display it differently than if the reference is parenthetical (and could be replaced with a footnote and not look weird).

See: https:

[2019-03-13 16:22] labarba commented on #1166
Regarding your decision _not_ to post a pre-print of the other manuscript, that is of course your prerogative. But in that case, please remove it from the references list. You can still mention it in the text, with something like: "we currently have a manuscript under review titled "Blah" that used this software."

I'm still a little surprised by your answer, though. Pre-prints are increasingly re

[2019-03-13 16:33] Kevin-Mattheus-Moerman commented on #1013
@whedon check references

[2019-03-13 16:33] whedon commented on #1013
[code]

[2019-03-13 16:34] whedon commented on #1013
[code]

[2019-03-13 16:34] Kevin-Mattheus-Moerman commented on #1013
@oxinabox can you check those DOI's?

[2019-03-13 16:35] Datseris commented on #1166
@whedon generate pdf

[2019-03-13 16:35] whedon commented on #1166
[code]

[2019-03-13 16:36] whedon commented on #1166
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01166/joss.01166/10.21105.joss.01166.pdf)

[2019-03-13 16:37] Datseris commented on #1166
Hi @labarba ,

In the latest version I've tried to answer your comments again. By reading the "in-text citations" part what I've taken is that I should replace brackets with parenthesis.

[2019-03-13 16:44] labarba commented on #1166
Looks like this is still pending?

[2019-03-13 16:46] labarba commented on #1166
The documentation says:

You can also write an in-text citation, as follows:

`@smith04 says blah.`

No brackets.

[2019-03-13 16:46] Non-Contradiction commented on #1284
Thank @labarba for the suggestions. They are of great help!
I have made the following changes accordingly.

* The wording of "high-performance technique computing" is from some introduction material of Julia by the Julia creators. I change it to high-performance scientific computing with similar meaning since it is easier to understand.
* I removed the brackets around the citation of xie2018r, fro

[2019-03-13 16:48] kyleniemeyer commented on #445
@athrom thanks, looks all good now!

[2019-03-13 16:48] kyleniemeyer commented on #445
@whedon accept

[2019-03-13 16:48] whedon commented on #445
[code]

[2019-03-13 16:48] oxinabox commented on #1013
- **correct:** `https://doi.org/10.1137/141000671 may be missing for title: Julia: A Fresh Approach to Numerical Computing`
- **Incorrect:** `https://doi.org/10.1108/09504121211251880 may be missing for title: DataDeps.jl: Repeatable Data Setup for Replicable Data Science`
    - this paper has been stuck in some review hole for almost a year, so the citation is for the preprint. idk where this DOI

[2019-03-13 16:48] whedon commented on #445
[code]

[2019-03-13 16:48] whedon commented on #445
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/547

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/547, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-03-13 16:51] Datseris commented on #1166
Yeap, fixed now. I had to publish the changes: https://zenodo.org/record/2591437

I've removed all brackets from current version. Let's see:

[2019-03-13 16:51] Datseris commented on #1166
@whedon generate pdf

[2019-03-13 16:51] labarba commented on #1284
Looks like this is still pending?

[2019-03-13 16:51] whedon commented on #1166
[code]

[2019-03-13 16:52] whedon commented on #1166
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01166/joss.01166/10.21105.joss.01166.pdf)

[2019-03-13 16:53] Non-Contradiction commented on #1284
I have questions in changing the metadata of the Zenodo deposit.
I used Zenodo's webhook to generate the deposit automatically from the release.
On the Zenodo website, it says creating a file with the name `.zenodo.json` can change the metadata.
But after creating the file, I found that the metadata didn't change automatically.
It seems that I have to create a new release to let Zenodo aware of th

[2019-03-13 16:55] taldcroft commented on #1249
All good now, I've reviewed and closed the outstanding issues and have now checked off the remaining review boxes.

From my perspective I'm pleased to recommend to @arfon and the editors that `dfitspy` be accepted to JOSS.

:tada:

[2019-03-13 17:05] kyleniemeyer commented on #445
Looks like that missing DOI is a fluke.

[2019-03-13 17:05] arfon commented on #1249
@whedon set v19.3.3 as version

[2019-03-13 17:05] whedon commented on #1249
OK. v19.3.3 is the version.

[2019-03-13 17:05] arfon commented on #1249
@whedon generate pdf

[2019-03-13 17:05] whedon commented on #1249
[code]

[2019-03-13 17:06] labarba commented on #1166
@whedon accept

[2019-03-13 17:06] whedon commented on #1166
[code]

[2019-03-13 17:06] whedon commented on #1249
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01249/joss.01249/10.21105.joss.01249.pdf)

[2019-03-13 17:07] whedon commented on #1166
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/548

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/548, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-03-13 17:07] whedon commented on #1166
[code]

[2019-03-13 17:09] Non-Contradiction commented on #1284
I have changed the metadata of the Zenodo deposit.

[2019-03-13 17:18] arfon commented on #1249
Thanks @taldcroft!

@astrom-tom - your paper is currently very short. Do you think it would be possible to add a little more detail for example discussing the need for this software and some examples of usage? https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain

[2019-03-13 17:18] labarba commented on #1166
It looks like you have a bunch of entries in the `paper.bib` file that are not cited in the paper. I think you will need to clean up the `.bib` file, because these are listed as citations in the `xml` that we send to Crossref. See:
https://github.com/openjournals/joss-papers/blob/6d4ea9c3a81a9603b6532c3eb9466cc9b93f3d42/joss.01166/10.21105.joss.01166.crossref.xml

@arfon — Can you confirm that we

[2019-03-13 17:21] labarba commented on #1284
@whedon accept

[2019-03-13 17:21] whedon commented on #1284
[code]

[2019-03-13 17:21] whedon commented on #1284
[code]

[2019-03-13 17:22] whedon commented on #1284
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/549

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/549, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-03-13 17:24] astrom-tom commented on #1249
Thanks so much @taldcroft & @arfon !

@arfon I will try to add some more in the paper today and I will let you know when I think it is ready.

[2019-03-13 17:24] arfon commented on #1166
Yes please.

[2019-03-13 17:32] Datseris commented on #1166
@whedon generate pdf

[2019-03-13 17:32] whedon commented on #1166
[code]

[2019-03-13 17:33] whedon commented on #1166
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01166/joss.01166/10.21105.joss.01166.pdf)

[2019-03-13 17:33] Datseris commented on #1166
@whedon check references

[2019-03-13 17:33] whedon commented on #1166
[code]

[2019-03-13 17:33] whedon commented on #1166
[code]

[2019-03-13 17:34] Datseris commented on #1166
Perfect, I removed all unused references! (The reference you see above without DOI does not have an associated DOI to it)

[2019-03-13 17:40] astrom-tom commented on #1249
@whedon generate pdf

[2019-03-13 17:40] whedon commented on #1249
[code]

[2019-03-13 17:41] whedon commented on #1249
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01249/joss.01249/10.21105.joss.01249.pdf)

[2019-03-13 17:41] krueschan commented on #1273
@whedon generate pdf

[2019-03-13 17:41] whedon commented on #1273
[code]

[2019-03-13 17:41] whedon commented on #1273
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01273/joss.01273/10.21105.joss.01273.pdf)

[2019-03-13 17:43] kyleniemeyer commented on #445
@whedon accept deposit=true

[2019-03-13 17:44] whedon commented on #445
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/550
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.00445](https://doi.org/10.21105/joss.00445)
2. If everything looks go

[2019-03-13 17:45] stefanv commented on #1252
Apart from this one outstanding item, I think this is good to go.

[2019-03-13 17:46] stefanv commented on #1252
(I should note, that was a recommendation to the authors: it is not required for publication; but it would be great if they would add it.)

[2019-03-13 17:47] astrom-tom commented on #1249
@whedon generate pdf

[2019-03-13 17:47] kyleniemeyer commented on #445
@athrom your paper is now published in JOSS!

Thanks to @nelkibs for reviewing and @pjotrp for editing!

[2019-03-13 17:47] whedon commented on #1249
[code]

[2019-03-13 17:48] whedon commented on #1249
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01249/joss.01249/10.21105.joss.01249.pdf)

[2019-03-13 17:58] lbenet commented on #1043
@jedbrown I will follow your suggestion embedding pdf (or perhaps png's ?) screen-shots of a REPL session.

With regards to the content and changes, are they ok, or do we have to do something else?

[2019-03-13 18:01] astrom-tom commented on #1249
@whedon generate pdf

[2019-03-13 18:01] whedon commented on #1249
[code]

[2019-03-13 18:01] whedon commented on #1249
PDF failed to compile for issue #1249 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0    189      0 --:--:-- --:--:-- --:--:--   189
Error producing P

[2019-03-13 18:03] astrom-tom commented on #1249
@whedon generate pdf

[2019-03-13 18:03] whedon commented on #1249
[code]

[2019-03-13 18:03] whedon commented on #1249
PDF failed to compile for issue #1249 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0    153      0 --:--:-- --:--:-- --:--:--   154
Error producing P

[2019-03-13 18:05] astrom-tom commented on #1249
@whedon generate pdf

[2019-03-13 18:05] whedon commented on #1249
[code]

[2019-03-13 18:06] whedon commented on #1249
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01249/joss.01249/10.21105.joss.01249.pdf)

[2019-03-13 18:07] JedS6391 commented on #1246
Hi @gkthiruvathukal, I don't have any real preference for a reviewer. Maybe paragkulkarni11 or arcuri82 (GitHub is not allowing me to mention them directly) would be interested as it seems they have Kotlin experience?

Otherwise, I trust your judgement to pick a suitable reviewer.

[2019-03-13 18:08] astrom-tom commented on #1249
@whedon generate pdf

[2019-03-13 18:08] whedon commented on #1249
[code]

[2019-03-13 18:08] jedbrown commented on #1043
We're ultimately creating a PDF, so PDF embeddings tend to work better, including supporting selection of text from the embedding. PNG is a raster format so you lose quality and selection.

On content, would it make sense to write a brief intro to the mathematical representation and any pitfalls such as numerical stability or range of polynomial degrees where the package would be useful? This coul

[2019-03-13 18:09] whedon commented on #1249
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01249/joss.01249/10.21105.joss.01249.pdf)

[2019-03-13 18:16] jedbrown commented on #1273
@whedon set v3.2.2 as version

[2019-03-13 18:17] whedon commented on #1273
OK. v3.2.2 is the version.

[2019-03-13 18:18] lbenet commented on #1043
Thanks for the comments.

The pdf is fine; I'll check what's better, a screen-shot from a REPL session or a pdf output from a jupyter session. Another clarification with respect to this: I guess that the pdf figure refers only to the final output of the Hermite polynomials, keeping the code as a block-code, right? Or do you prefer everything (the three examples) as pdf-figures?

Regarding the cont

[2019-03-13 18:20] jedbrown commented on #1273
@krueschan Can you confirm that Sivan Kartha meets the authorship guidelines with respect to this software? https://joss.readthedocs.io/en/latest/submitting.html#authorship  (I ask because there are no commits authored by him.)

After confirmation, please archive the software at Zenodo or similar and report the DOI here.

[2019-03-13 18:24] jedbrown commented on #1043
A screenshot would typically be a raster, so not ideal. I'm not sure about Jupyter PDF output.

[2019-03-13 18:24] omoliavko commented on #1268
@gkthiruvathukal I've rewritten the part of article regarding potential research applications of uJVM. Could you please take another look at it?

[2019-03-13 18:45] ajgates42 commented on #1264
Thanks @adavidzh for the close reading of our work!  I understand the lack of details in our first write-up made it difficult to decode the examples, we were trying to illustrate the breadth of the package which staying within the constraints of the word limits.

To improve the readability and ease of use, we have followed your suggestion and exchanged one of those examples with a simplified versi

[2019-03-13 18:47] lbenet commented on #1043
I think the pdf output of a Jupyter notebook is created with an intermediate LaTeX step; I'll test that and upload the figs to the repo so you can inspect them.

[2019-03-13 18:47] ajgates42 commented on #1264
@whedon generate pdf from branch joss-reviews

[2019-03-13 18:47] whedon commented on #1264
[code]

[2019-03-13 18:48] whedon commented on #1264
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01264/joss.01264/10.21105.joss.01264.pdf)

[2019-03-13 18:56] krueschan commented on #1273
Yes, I confirm that Sivan absolutely meets the authorship guidelines.
The Zenodo archive DOI is 10.5281/zenodo.2592644

[2019-03-13 19:01] whedon commented on #1264
[code]

[2019-03-13 19:01] whedon commented on #1264
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01264/joss.01264/10.21105.joss.01264.pdf)

[2019-03-13 19:15] jedbrown commented on #1273
@whedon set 10.5281/zenodo.2592644 as archive

[2019-03-13 19:15] whedon commented on #1273
OK. <a href="https://doi.org/10.5281/zenodo.2592644" target="_blank">10.5281/zenodo.2592644</a> is the archive.

[2019-03-13 19:15] jedbrown commented on #1273
@openjournals/joss-eics Over to you.

[2019-03-13 19:21] astrom-tom commented on #1249
@whedon generate pdf

[2019-03-13 19:21] whedon commented on #1249
[code]

[2019-03-13 19:22] whedon commented on #1249
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01249/joss.01249/10.21105.joss.01249.pdf)

[2019-03-13 19:29] astrom-tom commented on #1249
@whedon generate pdf

[2019-03-13 19:29] whedon commented on #1249
[code]

[2019-03-13 19:29] whedon commented on #1249
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01249/joss.01249/10.21105.joss.01249.pdf)

[2019-03-13 19:31] astrom-tom commented on #1249
@whedon generate pdf

[2019-03-13 19:31] whedon commented on #1249
[code]

[2019-03-13 19:32] whedon commented on #1249
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01249/joss.01249/10.21105.joss.01249.pdf)

[2019-03-13 19:34] astrom-tom commented on #1249
@whedon generate pdf

[2019-03-13 19:34] whedon commented on #1249
[code]

[2019-03-13 19:35] whedon commented on #1249
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01249/joss.01249/10.21105.joss.01249.pdf)

[2019-03-13 19:37] astrom-tom commented on #1249
@whedon generate pdf

[2019-03-13 19:37] whedon commented on #1249
[code]

[2019-03-13 19:37] whedon commented on #1249
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01249/joss.01249/10.21105.joss.01249.pdf)

[2019-03-13 19:39] astrom-tom commented on #1249
@whedon generate pdf

[2019-03-13 19:39] whedon commented on #1249
[code]

[2019-03-13 19:40] whedon commented on #1249
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01249/joss.01249/10.21105.joss.01249.pdf)

[2019-03-13 19:40] labarba commented on #1166
Do you want to add caps protection, `{MIDI}`, in the title, so it appears in upper case?

[2019-03-13 19:41] astrom-tom commented on #1249
@whedon generate pdf

[2019-03-13 19:41] whedon commented on #1249
[code]

[2019-03-13 19:42] whedon commented on #1249
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01249/joss.01249/10.21105.joss.01249.pdf)

[2019-03-13 19:43] labarba commented on #1284
@whedon accept deposit=true

[2019-03-13 19:43] whedon commented on #1284
[code]

[2019-03-13 19:43] whedon commented on #1284
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/551
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01284](https://doi.org/10.21105/joss.01284)
2. If everything looks go

[2019-03-13 19:45] labarba commented on #1284
Congratulations, @Non-Contradiction, your JOSS paper is published!

Sincere thanks to the editor: @leouieda, and the reviewers: @matbesancon, @aguang 🙏

[2019-03-13 19:45] astrom-tom commented on #1249
@whedon generate pdf

[2019-03-13 19:45] whedon commented on #1249
[code]

[2019-03-13 19:45] whedon commented on #1249
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01249/joss.01249/10.21105.joss.01249.pdf)

[2019-03-13 19:46] matbesancon commented on #1284
thanks @labarba for this last sprint on this!

[2019-03-13 19:47] lbenet commented on #1043
I have opened https://github.com/JuliaDiff/TaylorSeries.jl/pull/202, where you can find the pdf's corresponding to the output which is not properly displayed. @jedbrown Is this the solution you have in mind?

The pdf's were generated (after small modifications) from the LaTeX file obtained directly from the Jupyter notebook.

[2019-03-13 19:47] #1284 closed

[2019-03-13 19:47] whedon commented on #1284
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01284/status.svg)](https://doi.org/10.21105/joss.01284)

**We need your help!**

Journal of Open Source Softwar

[2019-03-13 19:49] labarba commented on #1284
https://twitter.com/JOSS_TheOJ/status/1105918693400371206

[2019-03-13 19:51] astrom-tom commented on #1249
@whedon generate pdf

[2019-03-13 19:51] whedon commented on #1249
[code]

[2019-03-13 19:52] whedon commented on #1249
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01249/joss.01249/10.21105.joss.01249.pdf)

[2019-03-13 19:53] astrom-tom commented on #1249
@whedon generate pdf

[2019-03-13 19:53] whedon commented on #1249
[code]

[2019-03-13 19:54] whedon commented on #1249
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01249/joss.01249/10.21105.joss.01249.pdf)

[2019-03-13 19:55] astrom-tom commented on #1249
Dear @arfon

First of all, sorry for the mess with all the pdf compilations. I reworked on the paper and included more information and gave simple examples.

[2019-03-13 19:59] jedbrown commented on #1043
@whedon generate pdf from branch joss-pdfs

[2019-03-13 19:59] whedon commented on #1043
[code]

[2019-03-13 19:59] whedon commented on #1043
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01043/joss.01043/10.21105.joss.01043.pdf)

[2019-03-13 20:04] jedbrown commented on #1043
The GitHub PDF viewer is junk, but if you download the PDF to use a real viewer, the text is selectable (as desired). Size is wonky. What font are you using in the LaTeX? Does it work for the blocks with Unicode characters? Pandoc uses LaTeX (well, XeTeX) so the font issue may be solvable that way as well.

[2019-03-13 20:07] labarba commented on #1273
Small editorial fix in the last paragraph:

“In research by the authors and others, most recently in (Adow … ) among other pieces” >> when you use the citation as part of speech in a sentence, you need to use in-text citation; see:  https://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.htm#citation_syntax

Also, comma after “e.g.” in parenthetical a bit later.

[2019-03-13 20:23] krueschan commented on #1273
Ok, good points, thanks.
I fixed it, though using a different approach than you suggested, by joining putting parts of the sentence into the parenthesis with the citations. Also, the comma after e.g.

[2019-03-13 20:23] krueschan commented on #1273
@whedon generate pdf

[2019-03-13 20:23] whedon commented on #1273
[code]

[2019-03-13 20:24] whedon commented on #1273
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01273/joss.01273/10.21105.joss.01273.pdf)

[2019-03-13 20:34] arfon commented on #1249
@astrom-tom - I've made a small correction here: https://github.com/astrom-tom/dfitspy/pull/12

[2019-03-13 20:38] arfon commented on #1249
@whedon generate pdf

[2019-03-13 20:38] whedon commented on #1249
[code]

[2019-03-13 20:38] whedon commented on #1249
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01249/joss.01249/10.21105.joss.01249.pdf)

[2019-03-13 20:39] astrom-tom commented on #1249
Thanks @arfon !

[2019-03-13 20:40] arfon commented on #1249
@astrom-tom - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2019-03-13 20:46] astrom-tom commented on #1249
Here it is: DOI: 10.5281/zenodo.2592698
One question, can I put dfitspy in ASCL?

[2019-03-13 20:49] leouieda commented on #1284
Congratulations @Non-Contradiction :tada: :tada:  Thank you @matbesancon and @aguang for the reviews and @labarba for the edits. I'll add those to my checklist for the future :smiley:

[2019-03-13 20:49] lbenet commented on #1043
Thanks @jedbrown for generating the article proof; I'll experiment with the `width` specification forthe figures, which hopefully generates nicer size as well as figure position (e.g., after the code).

I regarding the LaTeX file used, the following packages may be relevant for the font issues: `fontec`, `mathpazo`, `ucs` (extended unicode support), `inputenc` (allow unicode in tex document).

[2019-03-13 20:51] lbenet commented on #1043
@whedon generate pdf from branch joss-pdfs

[2019-03-13 20:51] whedon commented on #1043
[code]

[2019-03-13 20:52] whedon commented on #1043
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01043/joss.01043/10.21105.joss.01043.pdf)

[2019-03-13 21:02] lbenet commented on #1043
@whedon generate pdf from branch joss-pdfs

[2019-03-13 21:02] whedon commented on #1043
[code]

[2019-03-13 21:02] whedon commented on #1043
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01043/joss.01043/10.21105.joss.01043.pdf)

[2019-03-13 21:07] lbenet commented on #1043
@jedbrown Would the current output be acceptable? (I managed to place the figures just after the code!)

[2019-03-13 21:09] jedbrown commented on #1268
@whedon generate pdf

[2019-03-13 21:09] whedon commented on #1268
[code]

[2019-03-13 21:09] whedon commented on #1268
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01268/joss.01268/10.21105.joss.01268.pdf)

[2019-03-13 21:14] Datseris commented on #1166
@labarba Thanks for the suggestion. I did that now in the latest commit.

[2019-03-13 21:14] Datseris commented on #1166
@whedon generate pdf

[2019-03-13 21:14] whedon commented on #1166
[code]

[2019-03-13 21:15] whedon commented on #1166
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01166/joss.01166/10.21105.joss.01166.pdf)

[2019-03-13 21:42] grlee77 commented on #1294
It looks like the approach here was to include all contributors to the repository. I  just had a question about whether all coauthors have already actively confirmed their desire to be included?

@cmadan:  If past contributors have not been notified and explicitly agreed to be included in the publication then it seems they would need to be removed from the list?  The JOSS author guidelines state

[2019-03-13 21:57] jedbrown commented on #1043
@lbenet So long as you're getting this from Jupyter, I think it would be far less distracting to have the entire code snippet in a Jupyter cell rather than line-by-line entry with `julia>`.

[2019-03-13 22:03] lbenet commented on #1043
Ok, I'll change it and push another commit. The reason I kept the code-block thinking on the REPL is that it allows to copy-past (to perhaps play with it). I'm not sure if having it in the pdf allows for the same.

[2019-03-13 22:05] jedbrown commented on #1043
It does. That was part of the rationale for including those as PDF instead of PNG.

[2019-03-13 22:06] lbenet commented on #1043
Excellent! I'm on it.

[2019-03-13 22:12] grlee77 commented on #1294
The submitted paper is well written and nicely summarizes the capabilities of the software. The proposed software is likely to be useful to any researchers working with data in the BIDS format and complements an increasingly diverse ecosystem of python-based neuroimaging analysis software.

The software functions as advertised. I was able to run the included example notebook without issues and tri

[2019-03-13 22:17] grlee77 commented on #1294
The following are not specific to review checklist above, but more about two things that were not entirely clear to me as a new user when going through the examples in the documentation.

1.) There was an example using the `path_patterns` argument to the `build_path` method of a `BIDSLayout`. However, the API docs do not seem to explicitly describe the expected syntax for this argument.

2.)  In t

[2019-03-13 22:32] lbenet commented on #1043
@whedon generate pdf from branch joss-pdfs

[2019-03-13 22:32] whedon commented on #1043
[code]

[2019-03-13 22:33] whedon commented on #1043
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01043/joss.01043/10.21105.joss.01043.pdf)

[2019-03-13 23:19] grlee77 commented on #1237
hey @rafat, just checking if you are still working on this and if there are any other items left to address?

I just opened a PR at PyWavelets/pywt#475 to add a reference to the book by Daubechies, more clearly link Mallat to the multiresolution property of the transform, and to add a brief discussion of Kymatio in relation to PyWavelets.

[2019-03-13 23:37] rafat commented on #1237
Hi @grlee77 @jedbrown I finished my review a couple of weeks ago. Pywavelets is a very good software and everything works as it should on two different systems (Windows and Linux).

[2019-03-14 00:43] lbenet commented on #1043
@whedon generate pdf from branch joss-pdfs

[2019-03-14 00:43] whedon commented on #1043
[code]

[2019-03-14 00:43] whedon commented on #1043
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01043/joss.01043/10.21105.joss.01043.pdf)

[2019-03-14 00:45] lbenet commented on #1043
@whedon generate pdf from branch joss-pdfs

[2019-03-14 00:45] whedon commented on #1043
[code]

[2019-03-14 00:46] whedon commented on #1043
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01043/joss.01043/10.21105.joss.01043.pdf)

[2019-03-14 00:51] lbenet commented on #1043
@jedbrown I pushed a couple of commits to properly adjust the figures. I think they are ok, including the font size displayed. For consistency, the code corresponding to the last example is also added as  figure 3.

I also have added a sentence describing the limits until which we have tested the package. Those are no hard-limits, but simply usage limits that have been sufficient for us.

[2019-03-14 00:52] lbenet commented on #1043
I just noticed that subscripts and superscripts are gone again...

[2019-03-14 00:54] lbenet commented on #1043
... Though this seems to occur in the generated pdf; the original pdf files display them properly.

[2019-03-14 01:33] gkthiruvathukal commented on #1268
@omoliavko Thanks for responding and addressing my issue. Do you have any suggestions for reviewers from this list? https://bit.ly/joss-reviewers

[2019-03-14 01:37] davekinkead commented on #1044
All fixed now & good to go. Sorry for the delay.

[2019-03-14 01:49] malmaud commented on #1188
Getting https://github.com/Qiskit/qiskit-vscode/issues/81 at the moment.  I'm guessing some kind of version mismatch in my installed qiskit packages, although I just followed the installation prompts for qiskit that the extension itself offered with VSCode.

[2019-03-14 02:18] astrom-tom commented on #1249
@whedon generate pdf

[2019-03-14 02:18] whedon commented on #1249
[code]

[2019-03-14 02:19] whedon commented on #1249
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01249/joss.01249/10.21105.joss.01249.pdf)

[2019-03-14 02:20] astrom-tom commented on #1249
@whedon generate pdf

[2019-03-14 02:20] whedon commented on #1249
[code]

[2019-03-14 02:21] whedon commented on #1249
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01249/joss.01249/10.21105.joss.01249.pdf)

[2019-03-14 02:59] dpsanders commented on #1043
Unicode symbols seem to be missing from the generated PDF.

[2019-03-14 03:04] jedbrown commented on #1237
Thanks, @rafat.

@souopgui How's your review going? It looks like there are just a few items left.

[2019-03-14 03:06] jedbrown commented on #1043
@whedon generate pdf from branch joss-pdfs

[2019-03-14 03:06] whedon commented on #1043
[code]

[2019-03-14 03:07] whedon commented on #1043
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01043/joss.01043/10.21105.joss.01043.pdf)

[2019-03-14 03:11] jedbrown commented on #1043
Looks like Whedon didn't listen to your instruction to use the branch (but did heed mine). Can you check that once more to confirm whether it's a bug in Whedon?

Characters look fine to me. Some of the comments run really long. Could you shorten them or put them on their own line? There's also an almost-awkward amount of vertical whitespace compared to the main text.

[2019-03-14 03:15] lbenet commented on #1043
@whedon generate pdf from branch joss-pdfs

[2019-03-14 03:15] whedon commented on #1043
[code]

[2019-03-14 03:16] whedon commented on #1043
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01043/joss.01043/10.21105.joss.01043.pdf)

[2019-03-14 03:17] lbenet commented on #1043
My last attempt seems to have worked fine.

[2019-03-14 03:37] #445 closed

[2019-03-14 03:37] whedon commented on #445
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00445/status.svg)](https://doi.org/10.21105/joss.00445)

**We need your help!**

Journal of Open Source Softwar

[2019-03-14 05:05] grlee77 commented on #1237
@whedon generate pdf

[2019-03-14 05:05] whedon commented on #1237
[code]

[2019-03-14 05:06] whedon commented on #1237
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01237/joss.01237/10.21105.joss.01237.pdf)

[2019-03-14 07:34] adavidzh commented on #1264
Quick question for @VivianePons: the review checklist is addressed to @pajaskowiak. Does this mean that only they should check items or can I also do it?

[2019-03-14 08:01] omoliavko commented on #1268
Based on data from the list, I think the following could be reviewers for paper: hainesr, jizecn, adavidzh, dvysardana.
I've updated the paper text by extending list of supported H/W and RTOSes, but it should not have significant effect on research-related aspects.

[2019-03-14 08:20] mfroeling commented on #1204
@cMadan @rljacobson the mac compatibility should be fixed as well as all other open issues.

[2019-03-14 10:57] arfon commented on #1249
👍

@astrom-tom - before I proceed with accepting this paper can you confirm you've finished iterating on the paper?

Definitely, although you probably want to make sure you're filling in the 'preferred citation' field to make sure that authors are citing the thing you want to be cited (presumably this paper). See for example Astropy's entry: http://ascl.net/1304.002

[2019-03-14 10:58] whedon opened #1318 "[PRE REVIEW]: RAFF: Robust Algebraic Fitting Function in Julia"
**Submitting author:** @fsobral (<a href="http://orcid.org/0000-0003-4963-0946">Francisco Nogueira Calmon Sobral</a>)
**Repository:** <a href="https://github.com/fsobral/RAFF.jl" target ="_blank">https://github.com/fsobral/RAFF.jl</a>
**Version:** v0.4.1
**Editor:** @poulson
**Reviewers:** @abelsiqueira, @matbesancon

**Author instructions**

Thanks for submitting your paper to JOSS @fsobral. **Cu

[2019-03-14 10:58] whedon commented on #1318
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-03-14 10:58] whedon commented on #1318
[code]

[2019-03-14 10:58] whedon commented on #1318
PDF failed to compile for issue #1318 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1318 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedo

[2019-03-14 10:59] arfon commented on #1318
@openjournals/joss-eics - the submitting author had suggested @poulson as the handling editor.

[2019-03-14 10:59] arfon commented on #1318
@whedon generate pdf from branch joss

[2019-03-14 10:59] whedon commented on #1318
[code]

[2019-03-14 10:59] whedon commented on #1318
PDF failed to compile for issue #1318 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon.rb:91:in `block in check_orcids': Problem with ORCID (0000-0000-0000-0000) for Ronaldo Lopes (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon.rb:89:in `each'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-

[2019-03-14 10:59] whedon opened #1319 "[PRE REVIEW]: UTDEventData: An R package to access political event data"
**Submitting author:** @KateHyoung (<a href="http://orcid.org/0000-0002-0744-5884">Hyoungah Kim</a>)
**Repository:** <a href="https://github.com/KateHyoung/UTDEventData" target ="_blank">https://github.com/KateHyoung/UTDEventData</a>
**Version:** v1.0.0
**Editor:** @alexhanna
**Reviewers:** @briatte, @andrewheiss

**Author instructions**

Thanks for submitting your paper to JOSS @KateHyoung. **Cur

[2019-03-14 10:59] whedon commented on #1319
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-03-14 10:59] whedon commented on #1319
[code]

[2019-03-14 10:59] whedon commented on #1319
PDF failed to compile for issue #1319 with the following error:

 ORCID looks to be the wrong length
/app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon.rb:91:in `block in check_orcids': Problem with ORCID (000-0002-9300-1576) for Latifur Khan (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon.rb:89:in `each'
	from /app/vendor/bundl

[2019-03-14 11:00] arfon commented on #1318
👋 @fsobral - please see the error above from @whedon. The ORCID for one of your authors is invalid (you can simply remove this field if the author doesn't have one).

[2019-03-14 11:01] arfon commented on #1319
👋 @KateHyoung  - it looks like one of the ORCIDs is missing a `0` here?

[2019-03-14 11:01] arfon commented on #1319
@openjournals/joss-eics - the submitting author suggested @arokem as the handling editor.

[2019-03-14 11:26] Datseris commented on #1166
@labarba Putting `{}` in the title in the markdown file didn't work so I removed it. I'd prefer to continue with the publication process instead of adding caps protection.

[2019-03-14 11:26] Datseris commented on #1166
@whedon generate pdf

[2019-03-14 11:26] whedon commented on #1166
[code]

[2019-03-14 11:26] whedon commented on #1166
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01166/joss.01166/10.21105.joss.01166.pdf)

[2019-03-14 11:59] labarba commented on #1166
I meant on the title of the reference we were talking about:
https://github.com/JuliaMusic/MIDI.jl/blob/610f3a26085446e74282d026e2d6359b01194225/paper/paper.bib#L235

[2019-03-14 12:09] astrom-tom commented on #1249
@arfon Yes, the paper is ok for me and I will not modify it.
As for ASCL I will wait that this paper is ready on ADS.

[2019-03-14 12:20] cbjuan commented on #1188
Thanks @malmaud

It should be solved in [v0.5.4](https://github.com/Qiskit/qiskit-vscode/releases/tag/v0.5.4). Please update your extension in VSCode.

[2019-03-14 12:24] labarba commented on #1044
👋  @andytwoods — looks like we're ready for you to take a second look. Thanks!

[2019-03-14 12:25] labarba commented on #1044
Hi @mbod — we're hoping to hear from you here: can we still expect a review from you?

[2019-03-14 12:26] Datseris commented on #1166
Okay done this now @labarba .

[2019-03-14 12:27] labarba commented on #1013
Please update your bibliography, yes.

[2019-03-14 12:34] labarba commented on #1166
@whedon accept

[2019-03-14 12:35] whedon commented on #1166
[code]

[2019-03-14 12:35] whedon commented on #1166
[code]

[2019-03-14 12:35] whedon commented on #1166
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/552

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/552, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-03-14 12:38] labarba commented on #1166
@whedon accept deposit=true

[2019-03-14 12:38] whedon commented on #1166
[code]

[2019-03-14 12:39] whedon commented on #1166
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/553
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01166](https://doi.org/10.21105/joss.01166)
2. If everything looks go

[2019-03-14 12:40] labarba commented on #1166
Congratulations, @Datseris, your JOSS paper is now published!

Sincere thanks to the editor: @Kevin-Mattheus-Moerman, and reviewers: @ssfrr, @jfsantos 🙏

[2019-03-14 12:40] #1166 closed

[2019-03-14 12:40] whedon commented on #1166
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01166/status.svg)](https://doi.org/10.21105/joss.01166)

**We need your help!**

Journal of Open Source Softwar

[2019-03-14 12:43] Datseris commented on #1166
Thank you very much.

[2019-03-14 12:44] CosteaPaul commented on #1299
Slightly confused about where exactly i'm supposed to comment on this, so i'll just do it here and i'm sure i'll be told off if i did it wrong.

Running into trouble installing this package:
`install_github("vallenderlab/MicrobiomeR") `
returns:

Error: (converted from warning) unable to access index for repository /src/contrib:
  cannot open URL '/src/contrib/PACKAGES'

devtools 2.0.1
Issue in R

[2019-03-14 12:47] lpantano commented on #1299
Thanks @CosteaPaul,

This is a good place to comment or the other issue @grabear opened in his repository.

[2019-03-14 12:48] labarba commented on #1166
https://twitter.com/LorenaABarba/status/1106175091551936512

[2019-03-14 12:56] Datseris commented on #1166
I just want to be on the safe side, since doi2bib.org cannot find the DOI of this publication.

Is the following BibTeX entry the correct one?

[code]

[2019-03-14 13:02] labarba commented on #1166
The DOI resolves:
 https://doi.org/10.21105/joss.01166

[2019-03-14 13:03] gkthiruvathukal commented on #1246
@paragkulkarni11 Would you be willing to contribute a review for JOSS on this submission? This submission seems closely related to your areas of expertise and interest.

[2019-03-14 13:06] gkthiruvathukal commented on #1254
@trallard Would you be willing to contribute a review for JOSS on this submission? This submission seems closely related to your areas of expertise and interest.

[2019-03-14 13:08] gkthiruvathukal commented on #1268
@hainesr Would you be willing to contribute a review for JOSS on this submission? This submission seems closely related to your areas of expertise and interest.

[2019-03-14 13:46] arfon commented on #1249
@whedon set 10.5281/zenodo.2592698 as archive

[2019-03-14 13:46] whedon commented on #1249
OK. <a href="https://doi.org/10.5281/zenodo.2592698" target="_blank">10.5281/zenodo.2592698</a> is the archive.

[2019-03-14 13:46] arfon commented on #1249
@whedon accept

[2019-03-14 13:47] whedon commented on #1249
[code]

[2019-03-14 13:47] whedon commented on #1249
PDF failed to compile for issue #1249 with the following error:

 Can't find any papers to compile :-(

[2019-03-14 13:47] whedon commented on #1249
[code]

[2019-03-14 13:47] arfon commented on #1249
@whedon accept

[2019-03-14 13:47] whedon commented on #1249
[code]

[2019-03-14 13:48] whedon commented on #1249
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/554

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/554, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-03-14 13:48] whedon commented on #1249
[code]

[2019-03-14 13:49] VivianePons commented on #1264
I used the wrong command when I added the second reviewer I said "assign" instead of "add". You are both reviewers but only @pajaskowiak is listed. I'm not sure how I should fix it.

[2019-03-14 13:50] arfon commented on #1249
@whedon accept deposit=true

[2019-03-14 13:50] whedon commented on #1249
[code]

[2019-03-14 13:51] whedon commented on #1249
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/555
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01249](https://doi.org/10.21105/joss.01249)
2. If everything looks go

[2019-03-14 13:55] arfon commented on #1249
@taldcroft - many thanks for your review here ✨

@astrom-tom - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-03-14 13:55] #1249 closed

[2019-03-14 13:55] whedon commented on #1249
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01249/status.svg)](https://doi.org/10.21105/joss.01249)

**We need your help!**

Journal of Open Source Softwar

[2019-03-14 13:58] astrom-tom commented on #1249
Thank you so much for your work @arfon and @taldcroft. It is really awesome!
(I just signed up for being a reviewer :D ).

@arfon One very last question, when will it be available in ADS? Is there any timeline?

[2019-03-14 14:05] arfon commented on #1249
Thanks!

I think ADS typically index us every few weeks. It's not immediate.

[2019-03-14 14:08] astrom-tom commented on #1249
@arfon Thanks a lot!
For the future version, should I resubmit them or can I just cite the paper for the version that was just accepted?

[2019-03-14 14:13] arfon commented on #1249
Future versions of this package? If there have been major updates then it's possible to resubmit and publish another JOSS paper but this has only happened for a couple of packages in the past and the changes were very large. Basically unless you feel like you need to publish a new paper, I'd encourage people to cite this paper.

[2019-03-14 14:14] astrom-tom commented on #1249
@arfon Perfect! Thanks again for all this work!

[2019-03-14 14:58] whedon opened #1320 "[PRE REVIEW]: Meteo Browser South Tyrol: A Shiny App to download the meteorological time series from the Open Data Catalogue of the Province of Bolzano/Bozen - Italy"
**Submitting author:** @GiulioGenova (<a href="http://orcid.org/0000-0001-9412-8651">Giulio Genova</a>)
**Repository:** <a href="https://github.com/GiulioGenova/MeteoBrowser" target ="_blank">https://github.com/GiulioGenova/MeteoBrowser</a>
**Version:** v1.0.1
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @GiulioGenova. **Currently, th

[2019-03-14 14:58] whedon commented on #1320
[code]

[2019-03-14 14:59] whedon commented on #1320
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01320/joss.01320/10.21105.joss.01320.pdf)

[2019-03-14 14:59] arfon commented on #1320
@openjournals/joss-eics the submitting author suggested @yochannah as the handling editor.

[2019-03-14 15:33] jenskober commented on #1225
@graiola
missing DOIs in paper
https://doi.org/10.1109/ROBOT.2002.1014739
https://doi.org/10.1109/IROS.2012.6385818

[2019-03-14 16:36] trallard commented on #1254
@gkthiruvathukal I would be happy to take this up as a reviewer. I will be OOO until the 1st of April so can only start the review then though

[2019-03-14 16:49] jenskober commented on #1225
and a few little issues with the demos and tests
stulp/dmpbbo#31

[2019-03-14 16:51] graiola commented on #1225
@jenskober I fixed the missing DOIs, thanks.

[2019-03-14 17:02] jenskober commented on #1225
@whedon generate pdf

[2019-03-14 17:02] whedon commented on #1225
[code]

[2019-03-14 17:03] whedon commented on #1225
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01225/joss.01225/10.21105.joss.01225.pdf)

[2019-03-14 17:42] KateHyoung commented on #1319
Thank you, @arfon, I have fixed it.

[2019-03-14 17:44] KateHyoung commented on #1319
As following @whedon recommendations, here is a list of potential reviewers

- @earino
- @andrewheiss
- @alexhanna
- @briatte

[2019-03-14 17:46] briatte commented on #1319
@KateHyoung Would be happy to review (and learn how reviewing for JOSS works in practice, by the same occasion)!

[2019-03-14 17:47] labarba commented on #1273
@whedon accept

[2019-03-14 17:47] whedon commented on #1273
[code]

[2019-03-14 17:48] andrewheiss commented on #1319
I'm also fine reviewing!

[2019-03-14 17:48] whedon commented on #1273
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/556

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/556, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-03-14 17:48] whedon commented on #1273
[code]

[2019-03-14 17:49] alexhanna commented on #1319
Happy to see this in submission!

[2019-03-14 17:49] grabear commented on #1299
@CosteaPaul This isn't necessarily an issue with our package.

Try using:
`install_github("ropensci/taxa")`
and see if it gives you the same error.

What version of the `remotes` package are you using?  Try upgrading to the latest version if you haven't already.

[2019-03-14 17:50] labarba commented on #1273
@whedon accept deposit=true

[2019-03-14 17:50] whedon commented on #1273
[code]

[2019-03-14 17:51] whedon commented on #1273
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/557
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01273](https://doi.org/10.21105/joss.01273)
2. If everything looks go

[2019-03-14 17:53] labarba commented on #1273
Congratulations, @krueschan, your JOSS paper is published!

Big thanks to the editor: @jedbrown, and reviewer: @mtobis 🙏

[2019-03-14 17:53] #1273 closed

[2019-03-14 17:53] whedon commented on #1273
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01273/status.svg)](https://doi.org/10.21105/joss.01273)

**We need your help!**

Journal of Open Source Softwar

[2019-03-14 18:13] karthik commented on #1212
@whedon check references

[2019-03-14 18:13] whedon commented on #1212
[code]

[2019-03-14 18:13] whedon commented on #1212
[code]

[2019-03-14 18:14] karthik commented on #1212
@whedon assign @diyadas as reviewer

[2019-03-14 18:14] whedon commented on #1212
OK, the reviewer is @diyadas

[2019-03-14 18:14] karthik commented on #1212
@whedon start review

[2019-03-14 18:14] whedon opened #1321 "[REVIEW]: biotools: a package for optimization cluster analysis"
**Submitting author:** @arsilva87 (<a href="http://orcid.org/0000-0003-2518-542X">Anderson da Silva</a>)
**Repository:** <a href="https://github.com/arsilva87/biotools" target ="_blank">https://github.com/arsilva87/biotools</a>
**Version:** 3.1
**Editor:** @karthik
**Reviewer:** @diyadas
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/2c266b2b63f172bc1b52ce4b89859a4e/statu

[2019-03-14 18:14] whedon commented on #1212
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1321. Feel free to close this issue now!

[2019-03-14 18:14] whedon commented on #1321
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @diyadas it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2019-03-14 18:14] whedon commented on #1321
[code]

[2019-03-14 18:15] #1212 closed

[2019-03-14 18:15] whedon commented on #1321
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01321/joss.01321/10.21105.joss.01321.pdf)

[2019-03-14 18:16] karthik commented on #1321
@whedon check references

[2019-03-14 18:16] whedon commented on #1321
[code]

[2019-03-14 18:16] whedon commented on #1321
[code]

[2019-03-14 18:21] malmaud commented on #1188
That worked. Running into https://github.com/Qiskit/qiskit-vscode/issues/84 now though.

At this point, I can't really be involved in more rounds of debugging. I'd be happy to either write a review now, given how everything stands, or review at some later point after things have perhaps matured a bit.

[2019-03-14 18:23] cMadan commented on #1252
@mir-am, unfortunately, you can't do subfigures in the paper markdown. Instead, you should combine the figures using a graphics program and add the "(a)" panel notation, such that the figures are a single image.

[2019-03-14 18:36] labarba commented on #1300
👋  Hi @alexhanna! Welcome to the JOSS Editorial Board — we think this submission is aligned with your interest and expertise. Can you handle as editor?

[2019-03-14 18:41] labarba commented on #1319
Since we already have two volunteers willing to contribute a review, I'll assign @alexhanna to handle as editor. Thanks everybody!

[2019-03-14 18:41] labarba commented on #1319
@whedon assign @alexhanna as editor

[2019-03-14 18:41] whedon commented on #1319
OK, the editor is @alexhanna

[2019-03-14 18:42] labarba commented on #1319
@whedon assign @briatte as reviewer

[2019-03-14 18:42] whedon commented on #1319
OK, the reviewer is @briatte

[2019-03-14 18:42] labarba commented on #1319
@whedon add @andrewheiss as reviewer

[2019-03-14 18:42] whedon commented on #1319
OK, @andrewheiss is now a reviewer

[2019-03-14 18:43] alexhanna commented on #1300
Yes, I can take this on.

On Thu, Mar 14, 2019 at 11:36 AM Lorena A. Barba <notifications@github.com>
wrote:

--
Alex Hanna
alex-hanna.com
@alexhanna

[2019-03-14 18:43] labarba commented on #1319
@whedon start review

[2019-03-14 18:43] whedon opened #1322 "[REVIEW]: UTDEventData: An R package to access political event data"
**Submitting author:** @KateHyoung (<a href="http://orcid.org/0000-0002-0744-5884">Hyoungah Kim</a>)
**Repository:** <a href="https://github.com/KateHyoung/UTDEventData" target ="_blank">https://github.com/KateHyoung/UTDEventData</a>
**Version:** v1.0.0
**Editor:** @alexhanna
**Reviewer:** @briatte, @andrewheiss
**Archive:** <a href="https://doi.org/10.5281/zenodo.2648643" target="_blank">10.5281/

[2019-03-14 18:43] whedon commented on #1319
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1322. Feel free to close this issue now!

[2019-03-14 18:43] whedon commented on #1322
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @briatte, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-03-14 18:43] whedon commented on #1322
[code]

[2019-03-14 18:44] whedon commented on #1322
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01322/joss.01322/10.21105.joss.01322.pdf)

[2019-03-14 18:44] #1319 closed

[2019-03-14 18:45] labarba commented on #1300
@whedon assign @alexhanna as editor

[2019-03-14 18:55] labarba commented on #1318
@poulson Could you edit this submission?

[2019-03-14 19:36] sonal-raj commented on #1182
The VIVO software has been reviewed against all the recommended criteria in the checklist. The installation, functionality and documentation are sound and the current version is operational without issues. I recommend the acceptance of this submission.

[2019-03-14 20:02] CosteaPaul commented on #1299
@grabear , ropensci/taxa installs just fine.
Using remotes 2.0.1

[2019-03-14 20:09] karthik commented on #1321
@arsilva87 Can you please remove `biotools_5.0.tar.gz` from the repo?

[2019-03-14 20:58] fsobral commented on #1318
Hello, @arfon . Sorry for this mistake. I have removed the invalid ORCID.

[2019-03-14 20:58] fsobral commented on #1318
@whedon generate pdf from branch joss

[2019-03-14 20:58] whedon commented on #1318
[code]

[2019-03-14 20:59] whedon commented on #1318
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01318/joss.01318/10.21105.joss.01318.pdf)

[2019-03-14 21:03] krueschan commented on #1273
Thanks very much, @jedbrown @mtobis @labarba and of course @whedon for this smooth review experience.

[2019-03-14 21:20] cMadan commented on #1277
@GregaVrbancic, thank you for the thorough review!

@Benjamin-Lee, please look over the repo again when you have a chance and let me know what you think.

[2019-03-14 21:31] stulp commented on #1225
I've taken the liberty of splitting your issue [stulp/dmpbbo#31](https://github.com/stulp/dmpbbo/issues/31) into smaller ones 32-40, so that we can assign & conquer. As the other ones are now open, I've closed [stulp/dmpbbo#31](https://github.com/stulp/dmpbbo/issues/31).

[2019-03-14 21:46] gkthiruvathukal commented on #1254
@whedon commands

[2019-03-14 21:46] whedon commented on #1254
Here are some things you can ask me to do:

[code]

[2019-03-14 21:51] grabear commented on #1299
@CosteaPaul Please see the issue that I've created with the remotes repository.  It's linked above. :point_up:

The "solution" was found here https://github.com/r-lib/remotes/issues/251, which links to this:
https://community.rstudio.com/t/travis-build-error-cannot-open-url-src-contrib-packages/18088

If you just do the following:
[code]

[2019-03-14 21:53] inducer commented on #1239
Here's a [marked-up copy of the paper](https://ssl.tiker.net/nextcloud/index.php/s/NZ9qeknZ3PT2HD9). I've raised a number of concerns.

On the code end (for now):

* https://bitbucket.org/ocellarisproject/ocellaris/issues/9/joss-lid-driven-cavity-example-crashes
* https://bitbucket.org/ocellarisproject/ocellaris/issues/8/joss-unclosed-file-warning

[2019-03-14 21:55] inducer commented on #1239
Also noticed that two references are missing DOIs.

[2019-03-14 22:25] grabear commented on #1299
Sorry for the issues, we can update our README to reflect this weird workaround.  Once we put our package on CRAN this issue should not be a problem.

[2019-03-14 22:42] arsilva87 commented on #1321
@karthik It was removed.

[2019-03-14 23:02] gkthiruvathukal commented on #1254
@trallard Thank you for agreeing and letting me know your plans. I will start the review shortly. I'm still deciding whether I need an additional reviewer.

[2019-03-14 23:07] gkthiruvathukal commented on #1310
@kyleniemeyer Yes.

[2019-03-15 02:47] labarba commented on #1320
Hi  @GiulioGenova —thank you for your submission to JOSS. After pre-screening and consulting with other editors, we find the submission out of scope, falling in the 'minor utility' category. Please see our eligibility criteria at: https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements

Thanks for your interest in publishing with JOSS.

[2019-03-15 02:49] #1320 closed

[2019-03-15 07:10] FranzKrah commented on #1307
List of potential reviewers:
- emmanuel.paradis@ird.fr
- juancamilovillada@gmail.com
- me@nanx.me
- shaunpwilkinson@gmail.com
- frederick.boehm@gmail.com
- mdsherman@betteridiot.tech

and should I add the missing DOIs?

[2019-03-15 07:48] omoliavko commented on #1268
@hainesr If you have any questions or if I can assist you in some way regarding my submission, please do not hesitate to contact me.

[2019-03-15 08:25] FranzKrah commented on #1307
@whedon commands

[2019-03-15 08:25] whedon commented on #1307
Here are some things you can ask me to do:

[code]

[2019-03-15 08:45] tknopp commented on #1311
I have not seen him on the list of potential reviewers but @timholy would certainly be an excellent reviewer if he finds the time. Not a Julia expert but @MandyA could cover very well the MPI related part of the review (she is Python expert).

[2019-03-15 09:58] whedon opened #1323 "[PRE REVIEW]: Native PDF Reader Library in Julia"
**Submitting author:** @sambitdash (<a href="http://orcid.org/0000-0003-4856-7244">Sambit Kumar Dash</a>)
**Repository:** <a href="https://github.com/sambitdash/PDFIO.jl" target ="_blank">https://github.com/sambitdash/PDFIO.jl</a>
**Version:** v0.1.1
**Editor:** @alexhanna
**Reviewers:** @jameshclrk, @malmaud

**Author instructions**

Thanks for submitting your paper to JOSS @sambitdash. **Current

[2019-03-15 09:58] whedon commented on #1323
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-03-15 09:58] whedon commented on #1323
[code]

[2019-03-15 09:58] whedon commented on #1323
PDF failed to compile for issue #1323 with the following error:

 Can't find any papers to compile :-(

[2019-03-15 09:58] arfon commented on #1323
@sambitdash - :wave: thanks for your submission to JOSS. From a quick inspection of this submission it's not entirely obvious that it meets our [submission criteria](http://joss.theoj.org/about#submission_requirements). In particular, this item:

Could you confirm here that there _is_ a research application for this software (and explain what that application is)? The section [_'what should my pap

[2019-03-15 10:01] whedon opened #1324 "[PRE REVIEW]: Stripy: A Python module for (constrained) triangulation in Cartesian coordinates and on a sphere"
**Submitting author:** @lmoresi (<a href="http://orcid.org/0000-0003-3685-174X">Louis Moresi</a>)
**Repository:** <a href="https://github.com/underworldcode/stripy" target ="_blank">https://github.com/underworldcode/stripy</a>
**Version:** 0.7.0
**Editor:** @VivianePons
**Reviewers:** @santisoler

**Author instructions**

Thanks for submitting your paper to JOSS @lmoresi. **Currently, there isn't

[2019-03-15 10:01] whedon commented on #1324
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-03-15 10:01] whedon commented on #1324
[code]

[2019-03-15 10:01] whedon commented on #1324
PDF failed to compile for issue #1324 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1324 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedo

[2019-03-15 10:01] arfon commented on #1324
@whedon generate pdf from branch paper

[2019-03-15 10:01] whedon commented on #1324
[code]

[2019-03-15 10:02] whedon commented on #1324
PDF failed to compile for issue #1324 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0

[2019-03-15 10:03] arfon commented on #1324
@lmoresi - please take a look at the errors above with your bibtex file. If you make fixes in your `paper` branch you can recompile with `@whedon generate pdf from branch paper`

[2019-03-15 10:03] arfon commented on #1324
@openjournals/joss-eics - the submitting author suggested `@lheagy` as the handling editor.

[2019-03-15 10:09] arfon commented on #1188
@cbjuan - given it's not been possible for @malmaud to even get to the point of installing your software yet, I think we should pause this review until you have taken some additional steps to verify that the installation process is a smooth one for new users.

For example, if you have access to a second machine, perhaps try following your own installation instructions to see how far you can get? A

[2019-03-15 10:20] sambitdash commented on #1323
From the said site I gather JOSS is interested in the following areas:

There is no in-built native tool in Julia to read PDF files and extract text from documents. This tool enables you to achieve that. I guess from that perspective, it fits into the area of interest JOSS has defined for itself. Implementation of PDF Library from scratch is a fairly non-trivial task which has been achieved in thi

[2019-03-15 10:29] sambitdash commented on #1323
@arfon Sorry I may have misunderstood. Are you suggesting, I provide a detailed description as `paper.md` template? Should I check it in the PDFIO.jl repositiory?

[2019-03-15 10:51] arfon commented on #1323
Yes please. Please review the submission guidelines here: https://joss.readthedocs.io/en/latest/submitting.html#submitting-a-paper-to-joss

[2019-03-15 11:34] cMadan commented on #1313
@andrewheiss, let me know if you have any questions in getting started with the review!

[2019-03-15 12:10] labarba commented on #1224
We're looking for reviewers for this JOSS submission: would you be interested in contributing one, @mkhorton? It looks like the work is aligned with your interests and expertise. Let us know!

[2019-03-15 12:14] labarba commented on #1224
Hi @lucydot, would you be interested in contributing a review to JOSS? This submission looks to be in your domain, and we're in need of some help!

[2019-03-15 12:50] lucydot commented on #1224
Hi @labarba - yes I'd be happy to review the submission 👍

[2019-03-15 12:57] labarba commented on #1224
Thank you, @lucask07 ! I'll assign you now, but we'll wait to get a second reviewer to start the review. Feel free to explore the software in the meantime.

[2019-03-15 12:57] labarba commented on #1224
@whedon assign @lucydot as reviewer

[2019-03-15 12:57] whedon commented on #1224
OK, the reviewer is @lucydot

[2019-03-15 13:26] mdbartos commented on #1301
Hi @kyleniemeyer, just checking in to see if you've found an editor.

Thanks,
MDB

[2019-03-15 15:18] gkthiruvathukal commented on #1254
@hugoledoux and @CameronDevine:  As you can see above, I have asked @trallard but she will be away from the office until April 1st. Is there any chance either or both of you would be available to contribute a review this submission?

[2019-03-15 15:40] gkthiruvathukal commented on #1268
@jizecn and @adavidzh: Would either or both of you be willing to contribute a review for JOSS on this submission? I haven't heard back from @hainesr yet. Please let me know so we can begin review of this submission.

[2019-03-15 15:41] gkthiruvathukal commented on #1246
@arcuri82 Would you be willing to contribute a review for JOSS on this submission? This submission seems closely related to your areas of expertise and interest. I have not seen a follow-up communication from @paragkulkarni11 yet. If either or both of you respond, we can begin the review process.

[2019-03-15 15:47] pajaskowiak commented on #1264
Just read the manuscript. Excelent work, easy to follow and understand. My only minor point is w.r.t. the fact that the authors mention that all measures are bounded to the [0,1] interval. This is not the case for Adjusted Rand Index (ARI), which can be negative. Other than that, I have no concerns at all.

[2019-03-15 16:39] yxqd commented on #1296
@jgostick Thanks! The importing and testing following the instructions in README went well.

This is a software that has a clear-defined audience and lower the barrier for research concerning porosity analysis. Great job! Overall I am impressed with the quality of the software and documentation, and would recommend it for publication pending some issues below. Most of the issues are minor and are

[2019-03-15 16:49] yxqd commented on #1296
@whedon generate pdf

[2019-03-15 16:49] whedon commented on #1296
[code]

[2019-03-15 16:50] whedon commented on #1296
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01296/joss.01296/10.21105.joss.01296.pdf)

[2019-03-15 16:53] robinweide commented on #1286
Hi @NelleV, @pjotrp,

I think it lookes quite good. The documentation is expansive and all code is clear and commented where applicable.

Minor ssues I have:

- [LICENSE-file missing](https://github.com/hiclib/iced/issues/61)
-  @NelleV you can tick off **performance** if you cite Servant et al. (2015) for the iced-benchmarks
- [community guidelines links to pastis-issue tracker](https://github.co

[2019-03-15 17:08] whedon opened #1325 "[PRE REVIEW]: Manif: A micro Lie theory library for state-estimation in robotics applications"
**Submitting author:** @artivis (<a href="http://orcid.org/0000-0001-5279-8251">Jeremie Deray</a>)
**Repository:** <a href="https://github.com/artivis/manif" target ="_blank">https://github.com/artivis/manif</a>
**Version:** branch: joss
**Editor:** @poulson
**Reviewers:** @jordigh, @drvinceknight, @alex-konovalov

**Author instructions**

Thanks for submitting your paper to JOSS @artivis. **Curre

[2019-03-15 17:08] whedon commented on #1325
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-03-15 17:08] whedon commented on #1325
[code]

[2019-03-15 17:08] whedon commented on #1325
PDF failed to compile for issue #1325 with the following error:

 Can't find any papers to compile :-(

[2019-03-15 17:08] arfon commented on #1325
@whedon generate pdf from branch joss

[2019-03-15 17:08] whedon commented on #1325
[code]

[2019-03-15 17:08] whedon commented on #1325
PDF failed to compile for issue #1325 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0    13    0     0     91      0 --:--:-- --:--:-- --:--:--    92
Error reading bib

[2019-03-15 17:08] arfon commented on #1325
@openjournals/joss-eics - the submitting author suggested @poulson as the handling editor.

[2019-03-15 17:09] arfon commented on #1325
@artivis - thanks for your submission to JOSS. Please fix the errors in your bibtex and check the fixes work with the command `@whedon generate pdf from branch joss`

[2019-03-15 17:32] artivis commented on #1325
@arfon thank you for the prompt notification.

@whedon generate pdf from branch joss

[2019-03-15 18:22] kyleniemeyer commented on #1310
Thanks @gkthiruvathukal!

[2019-03-15 18:22] kyleniemeyer commented on #1310
@whedon assign @gkthiruvathukal as editor

[2019-03-15 18:22] whedon commented on #1310
OK, the editor is @gkthiruvathukal

[2019-03-15 18:37] artivis commented on #1325
@whedon generate pdf from branch joss

[2019-03-15 18:37] whedon commented on #1325
[code]

[2019-03-15 18:38] whedon commented on #1325
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01325/joss.01325/10.21105.joss.01325.pdf)

[2019-03-15 19:02] pjotrp commented on #1286
Thank you @robinweide! @NelleV please check.

[2019-03-15 19:34] artivis commented on #1325
@whedon generate pdf from branch joss

[2019-03-15 19:34] whedon commented on #1325
[code]

[2019-03-15 19:35] whedon commented on #1325
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01325/joss.01325/10.21105.joss.01325.pdf)

[2019-03-15 20:13] adavidzh commented on #1268
@gkthiruvathukal: thanks for thinking of me. I'll have to pass as I have two ongoing reviews and JVM is not my specialty.

[2019-03-15 20:18] labarba commented on #1325
Hi @poulson — Can you edit this submission? It depends en the [Eigen](http://eigen.tuxfamily.org/index.php?title=Main_Page) library. Maybe you can get someone on their team to review?

@artivis — Please help us by recommending some reviewers. Find a link to folks who have signed up to review for JOSS in the welcome post by `@whedon`, above.

[2019-03-15 20:21] gkthiruvathukal commented on #1268
@dvysardana, would you be willing to contribute a review to this JOSS submission? @jizecn, we can use two reviewers, so please let me know if you are willing, too.

[2019-03-15 20:24] kyleniemeyer commented on #1301
@eramirem @arokem ping- could one of you take this?

[2019-03-15 20:41] artivis commented on #1325
@labarba That's a fairly long list, I will browse it fully later today. In the meantime I already spotted @vissarion & @kpeeters as potential reviewers.

[2019-03-15 20:41] artivis commented on #1325
@whedon generate pdf from branch joss

[2019-03-15 20:41] whedon commented on #1325
[code]

[2019-03-15 20:42] whedon commented on #1325
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01325/joss.01325/10.21105.joss.01325.pdf)

[2019-03-15 20:54] artivis commented on #1325
Is there a way to properly generate the pdf locally (on my machine) so that I can fix the small formatting issue here and there before pushing and bothering whedon ?? ^^

[2019-03-15 20:54] CameronDevine commented on #1254
@gkthiruvathukal I would love to contribute a review.

[2019-03-15 20:58] gkthiruvathukal commented on #1254
Thanks for the quick response, @CameronDevine. If I don't hear from @hugoledoux within 24 hours or so, I'm inclined to go with one reviewer (you) on this one.

[2019-03-15 20:58] yxqd commented on #1296
@jgostick BTW, it would be really nice to have the binder examples working: https://github.com/PMEAL/porespy-examples. This is just a suggestion though and not a road-blocker.

[2019-03-15 21:06] jgostick commented on #1296
Binder does not seem to work for us.  We got it going at first, but now it wont' render our files.  I think we may have an example that asks for too much resources?  Or maybe we broke the configuration by accident.

[2019-03-15 22:21] MKLau commented on #1312
@labarba @benmarwick
No we hadn't thought to submit to Ropensci but I am familiar with the work there and would be interested in submitting there.

Per "Has there been any discussion about whether this pkg might be suitable for @ropensci onboarding? Perhaps @noamross or @maelle could advise if this pkg is suitable? It it passes that, then it's auto-submitted here, if I understand correctly."

The

[2019-03-15 22:44] leouieda commented on #1315
@whedon generate pdf

[2019-03-15 22:44] whedon commented on #1315
[code]

[2019-03-15 22:45] whedon commented on #1315
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01315/joss.01315/10.21105.joss.01315.pdf)

[2019-03-15 22:52] labarba commented on #1312
We have an agreement with ROpenSci where if your package goes through their review, it gets fast-tracked to a publication in JOSS with minor editorial checks.

[2019-03-15 22:53] leouieda commented on #1315
@sauln one more fix to the paper formatting and we should be good to go (scikit-tda/kepler-mapper#155)

[2019-03-15 23:04] MKLau commented on #1312
OK, if we go that route, what are the next steps given that we've already started the review here?

[2019-03-15 23:07] labarba commented on #1312
We can just pause the review, and wait until you ping us back!

[2019-03-15 23:10] MKLau commented on #1312
Ah, ok. That seems good. I'll look at their review process and let your know.

[2019-03-16 00:11] leouieda commented on #1315
@whedon generate pdf

[2019-03-16 00:11] whedon commented on #1315
[code]

[2019-03-16 00:11] whedon commented on #1315
PDF failed to compile for issue #1315 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0    13    0     0    130      0 --:--:-- --:--:-- --:--:--   131
Error producing P

[2019-03-16 01:10] sauln commented on #1315
@whedon generate pdf

[2019-03-16 01:10] whedon commented on #1315
[code]

[2019-03-16 01:10] whedon commented on #1315
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01315/joss.01315/10.21105.joss.01315.pdf)

[2019-03-16 04:19] lmoresi commented on #1324
@whedon generate pdf from branch paper

[2019-03-16 04:19] whedon commented on #1324
[code]

[2019-03-16 04:20] whedon commented on #1324
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01324/joss.01324/10.21105.joss.01324.pdf)

[2019-03-16 04:32] lmoresi commented on #1324
@whedon generate pdf from branch paper

[2019-03-16 04:32] whedon commented on #1324
[code]

[2019-03-16 04:32] whedon commented on #1324
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01324/joss.01324/10.21105.joss.01324.pdf)

[2019-03-16 04:38] lmoresi commented on #1324
I fixed a couple of (unimportant) bugs in the paper that were obvious once I looked at the pdf ... not sure if whedon is listening to me any more though.

[2019-03-16 04:51] lmoresi commented on #1324
@whedon generate pdf from branch paper

[2019-03-16 04:51] whedon commented on #1324
[code]

[2019-03-16 04:52] whedon commented on #1324
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01324/joss.01324/10.21105.joss.01324.pdf)

[2019-03-16 06:13] cr458 commented on #1296
@jgostick sorry for the delay in getting back.

1) Are you expecting contributions to this package from external users in the future? If so it may be useful to include instructions for developers too: i.e to install test requirements, and how to run the tests. I see that you include instructions to install the package in editable mode, which is nice.

2) Since in your README you recommend:

Could

[2019-03-16 07:03] hugoledoux commented on #1254
Sorry, I don't have time to do this in the coming month (holidays).

[2019-03-16 11:45] briatte commented on #1322
Quick note re: API registration, the UTD server does not check for email address validity and will return an error (500) if provided an invalid email address. That's not something that can be blamed on the package, of course, but the UTD server admins might benefit from improving their API registration form.

[2019-03-16 11:47] briatte commented on #1322
The error message shown when the API key is wrong could be improved:

[code]

[2019-03-16 11:51] briatte commented on #1322
Typo in vignette:

[2019-03-16 12:05] briatte commented on #1322
Comment # 5 [replicating vignette `UTDEventData.html`]

Thinking about the API key, it is customary to allow its storage as an environment variable (see [`?options`](https://stat.ethz.ch/R-manual/R-devel/library/base/html/options.html)). Is that possible with this package? The vignette does not mention it.

[2019-03-16 12:16] briatte commented on #1322
Comment # 6 [replicating vignette `UTDEventData.html`]

The vignette is very helpful (and the authors do a great job at documenting possible errors/traps, e.g. Windows memory issues), yet I believe it would benefit from being broken down in more digestible chunks, such as:

- an 'intro' vignette explaining the gist of the package, how to cite it, and further useful links
- one or two 'example' vig

[2019-03-16 12:23] briatte commented on #1322
Comment # 7 [replicating vignette `UTDEventData.html`]

I'm done replicating the vignette.

Thinking about the package and data more globally, I think I'd appreciate a mention, somewhere in the docs, of how the data relate to (and whether it can be articulated with) similar event data and related event nomenclatures, e.g. those that Phil Schrodt has worked (or is working) on.

Apologies for not be

[2019-03-16 12:31] briatte commented on #1322
Comment # 8 [reviewing `paper.bib`]

Re: this review point,

It seems to me that IEEE papers always come with a DOI. Those are not in the bibliography. Same goes for the Schrodt paper.

As for the Althaus _et al._ dataset (BibTeX reference `cline`), is that kind of data that could get distributed via e.g. Zenodo (and get a DOI from there)?

[2019-03-16 12:38] briatte commented on #1322
Comment # 9 [checking my unchecked review points]

Yup. Checking off.

I do not think this really applies here. Performance in this package boils down (mostly) to API query speed. While replicating the vignette, I found some queries to be slow-ish, but given the size of the data returned by some examples (250,000+ obs.), I'm fine with it.

Checking off.

Also checking off this one, given that the

[2019-03-16 13:41] labarba commented on #1324
👋 @VivianePons — Taking into account editor workloads at the moment, I'd like to assign this submission to you for handling. Can you take it on?

[2019-03-16 13:44] artivis commented on #1325
Potential reviewers : @vissarion, @kpeeters, @vijaysm, @jizecn, @nnadeau, @traversaro, @carlosjoseRG

[2019-03-16 14:00] labarba commented on #1312
@cboettig, @benmarwick — Thank you for agreeing to review this JOSS submission. The review is now _paused_, while the author investigates going the ROpenSci route. Stay tuned!

[2019-03-16 14:25] labarba commented on #1325
@whedon assign @poulson as editor

[2019-03-16 14:26] whedon commented on #1325
OK, the editor is @poulson

[2019-03-16 14:26] labarba commented on #1318
@whedon assign @poulson as editor

[2019-03-16 14:27] whedon commented on #1318
OK, the editor is @poulson

[2019-03-16 14:29] alexpghayes commented on #947
Much improved! For the comment

[code]

it's worth adding whether or not we expect a solution to exist, and why. In both cases, it's worth interpreting what this means in terms of the scientific data in addition to the math.

At https://github.com/peterjwatkins/diwanalr/blob/alexpghayes-r_cmd_cleanup_master/R/modulus.R#L110 we have

[code]

It looks like modulus values are being plotted directly,

[2019-03-16 14:32] alexpghayes commented on #947
Beyond this, I'm happy with the current state of the package with the outstanding issue of correctness tests.

[2019-03-16 14:35] labarba commented on #1223
@whedon assign @jasonclark as editor

[2019-03-16 17:46] labarba commented on #1239
Check out the powers of our bot…

[2019-03-16 17:47] labarba commented on #1239
@whedon check references

[2019-03-16 17:47] whedon commented on #1239
[code]

[2019-03-16 17:47] whedon commented on #1239
[code]

[2019-03-16 18:06] poulson commented on #1318
Thank you for moving forward with the assignment: I am travelling this week and am very happy to handle this submission!

[2019-03-16 18:08] poulson commented on #1325
Thank you for moving forward with the assignment: I am travelling this week and am very happy to handle this submission!

@labarba, I happen to be working on contributing code to Eigen this last week, so I think I could definitely reach out!

[2019-03-16 18:13] labarba commented on #1182
@jasonclark — this one is ready for your final checks.

[2019-03-16 18:15] labarba commented on #1301
👋 @VivianePons — Taking into account editor workloads at the moment, I'd like to assign this submission to you for handling. Can you take it on?

[2019-03-16 18:21] labarba commented on #1324
@whedon assign @VivianePons as editor

[2019-03-16 18:21] whedon commented on #1324
OK, the editor is @VivianePons

[2019-03-16 18:21] labarba commented on #1301
@whedon assign @VivianePons as editor

[2019-03-16 18:22] whedon commented on #1301
OK, the editor is @VivianePons

[2019-03-16 19:56] labarba commented on #1314
Hi @jdrugo — we're looking to assign a handling editor for your submission (I am the Associated Editor in Chief on rotation this week). Before we move forward, I do have some comments on your paper.

From our [Review Criteria](https://joss.readthedocs.io/en/latest/review_criteria.html), the paper should contain:

- A summary describing the high-level functionality and purpose of the software for a

[2019-03-16 20:34] labarba commented on #1314
@usethedata — Taking into account editor workloads at the moment, I'd like to assign this submission to you for handling. Can you take it on? You're a statistician!

[2019-03-16 20:56] stulp commented on #1225
Here is a small update. Based on the feedback from the reviewers, following larger modifications have been made (apart from smaller bugfixes). These modifications are related to the demos and tests in the C++ version, not the core library.

- The executables and Python wrappers were in different directories which was confusing. They are now installed in the demos/ directory so that they are togeth

[2019-03-16 21:04] Amudtogal commented on #1254
Thank you very much for your efforts! If you need any assistance with the tool, I am ready to help!

[2019-03-16 21:08] labarba commented on #1112
I'm going to go ahead and add the "paused" label here. Do ping us when you are ready to re-engage with this submission, @jhill1.

[2019-03-16 21:22] labarba commented on #1311
@brainstorm — Taking into account editor workloads at the moment, I'd like to assign this submission to you for handling. Can you take it on?

[2019-03-16 21:32] brainstorm commented on #1311
Sure! While I'm here I would like to ask for guidance on my QKD quantum
paper... The reviewer seems to have ghosted us mid-review, what's the best
course of action here?

Den sön 17 mars 2019 08:22Lorena A. Barba <notifications@github.com> skrev:

[2019-03-16 21:37] labarba commented on #1311
@whedon assign @brainstorm as editor

[2019-03-16 21:37] whedon commented on #1311
OK, the editor is @brainstorm

[2019-03-16 21:49] labarba commented on #1119
At this point, we're beset by a delinquent reviewer, and one possible course of action is to find a second reviewer who is willing to fast-track this submission.

@brainstorm — try to find someone willing to make such a contribution to JOSS. You'll need to manually edit the first post in this thread to add a new checklist for the reviewer. If they have already reviewed for JOSS, they will have per

[2019-03-16 22:05] labarba commented on #1224
We're looking for a second reviewer for this JOSS submission — could I have a thumbs up from any of these folks, perhaps? @bjmorgan @mdoucet @yxqd @utf

[2019-03-16 22:39] usethedata commented on #1314
@whedon assign @usethedata as editor

[2019-03-16 22:39] whedon commented on #1314
OK, the editor is @usethedata

[2019-03-16 23:13] labarba commented on #1016
👋 @gouarin — We'll add this label here 👇 and pause the review. Ping us back when you feel the review can restart.

[2019-03-16 23:20] labarba commented on #980
I see that no progress has been made on this submission since the reviewer comments from Nov 10, 2018. At this point, I will add the "paused" label.

@olivertomic — Please ping `@openjournals/joss-eics` when you're have made your enhancements and would like us to take a new look.

[2019-03-16 23:21] gkthiruvathukal commented on #1254
@whedon assign @CameronDevine as reviewer

[2019-03-16 23:21] whedon commented on #1254
OK, the reviewer is @CameronDevine

[2019-03-16 23:21] gkthiruvathukal commented on #1254
@whedon add @trallard as reviewer

[2019-03-16 23:21] whedon commented on #1254
OK, @trallard is now a reviewer

[2019-03-16 23:32] gkthiruvathukal commented on #1254
@whedon start review

[2019-03-16 23:32] whedon opened #1326 "[REVIEW]: Phobos: A tool for creating complex robot models"
**Submitting author:** @Amudtogal (<a href="http://orcid.org/0000-0002-0190-9780">Simon Reichel</a>)
**Repository:** <a href="https://github.com/dfki-ric/phobos" target ="_blank">https://github.com/dfki-ric/phobos</a>
**Version:** v1.0.1
**Editor:** @gkthiruvathukal
**Reviewer:** @CameronDevine, @trallard
**Archive:** <a href="https://doi.org/10.5281/zenodo.3581101" target="_blank">10.5281/zenodo.

[2019-03-16 23:32] whedon commented on #1254
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1326. Feel free to close this issue now!

[2019-03-16 23:32] whedon commented on #1326
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @CameronDevine, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're proba

[2019-03-16 23:32] whedon commented on #1326
[code]

[2019-03-16 23:32] whedon commented on #1326
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01326/joss.01326/10.21105.joss.01326.pdf)

[2019-03-16 23:36] labarba commented on #714
Since the authors have not responded to my query, I will mark this as "paused" for now — ping `@openjournals/joss-eics` to continue in consideration.

[2019-03-16 23:39] labarba commented on #720
Hi @offray — I hope your PhD dissertation has gone well. You mentioned the first week of March ... are you ready to re-engage with this submission? Please let us know.

[2019-03-16 23:41] labarba commented on #1005
👋  @slithiaote — Have you been able to make progress on this submission in the past month? What's your status?

[2019-03-16 23:42] labarba commented on #1053
@jason-neal — Have you been able to make progress on this submission in the past month? What's your status?

[2019-03-16 23:49] labarba commented on #1314
@whedon check references

[2019-03-16 23:49] whedon commented on #1314
[code]

[2019-03-16 23:49] whedon commented on #1314
[code]

[2019-03-16 23:52] labarba commented on #1314
@jdrugo — Can you check your bibliography entries and add a DOI whenever one exists? Our helpful bot `whedon` has given some clues above for possible missing DOIs (it's not perfect, so some could be flukes).

[2019-03-17 00:06] labarba commented on #1224
@whedon add @mkhorton as reviewer

[2019-03-17 00:06] whedon commented on #1224
OK, @mkhorton is now a reviewer

[2019-03-17 00:07] labarba commented on #1224
We found our second reviewer, yippee!

[2019-03-17 00:07] labarba commented on #1224
@whedon start review

[2019-03-17 00:07] whedon opened #1327 "[REVIEW]: Basicsums: A Python package for computing structural sums and the effective conductivity of random composites"
**Submitting author:** @wojciech-n (<a href="http://orcid.org/0000-0002-5475-9173">Wojciech Nawalaniec</a>)
**Repository:** <a href="https://bitbucket.org/basicsums/basicsums" target ="_blank">https://bitbucket.org/basicsums/basicsums</a>
**Version:** v1.0.2
**Editor:** @labarba
**Reviewer:** @lucydot, @mkhorton
**Archive:** <a href="https://doi.org/10.5281/zenodo.3253714" target="_blank">10.5281/

[2019-03-17 00:07] whedon commented on #1224
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1327. Feel free to close this issue now!

[2019-03-17 00:07] whedon commented on #1327
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lucydot, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-03-17 00:07] whedon commented on #1327
[code]

[2019-03-17 00:07] #1224 closed

[2019-03-17 00:07] whedon commented on #1327
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01327/joss.01327/10.21105.joss.01327.pdf)

[2019-03-17 00:08] labarba commented on #1327
👋   @lucydot, @mkhorton — Thank you for agreeing to review for JOSS! This is where the action happens: work your way through the review checklist, feel free to ask questions or post comments here, and also open issues in the submission repository as needed. Godspeed!

[2019-03-17 00:11] labarba commented on #722
👋  @benmarwick — It looks like we are waiting for you to check the author's responses to your comments. What's your status?

[2019-03-17 00:39] labarba commented on #1221
👋 @chris-prener — How are you getting along? It looks like we're waiting here for you to respond to the reviewer comments. Can you give us a status update?

[2019-03-17 00:41] labarba commented on #1269
👋  @avhoeck — Have you been able to get a start on this review? We don't see any tick marks on your checklist. Can you give us a status update?

[2019-03-17 00:45] labarba commented on #1171
👋  @effigies, @tanselbaran — Can you give us a status update? We see a few items are checked off, but looks like @tanselbaran has not started yet. How are things looking?

[2019-03-17 01:00] labarba commented on #1076
👋 @Kevin-Mattheus-Moerman — It looks like we're now waiting for you to have a look at the revisions and responses posted by the author. Can you give us a status update?

[2019-03-17 01:05] labarba commented on #1147
Is this ready for the reviewers—@sarats, @sjvrijn, @mmenickelly—to take a second look?

[2019-03-17 01:07] labarba commented on #785
Hi @kylehamilton 👋 — It looks like we're waiting for you to check the author's revision and responses to your comments. Can you give us a status update?

[2019-03-17 01:11] labarba commented on #1136
Hi @flohorovicic 👋 — When will you be able to work on this review? Give us a status update, when you can. Thanks!

[2019-03-17 03:41] brainstorm commented on #1119
I'm contacting two additional quantum computing researchers through a common contact, hopefully they'll be able and willing to review and fast-track this paper. Thanks for your patience @richardcollins and @labarba for the additional editorial pointers, this is the first case of many papers that a reviewer went missing for me.

[2019-03-17 03:43] brainstorm commented on #1311
👋 @IgorBaratta, would you like to assist us reviewing this paper?

[2019-03-17 11:26] bjmorgan commented on #1209
We have revised and restructured the `paper.md` https://github.com/bjmorgan/pyscses/commit/6819dd1a156cc0c70b19831416f779b3a12d2aa7

Overview of changes:
- We now have a short **Summary** section, that explains what `pyscses` is written to do, so that readers can check this without having to wade through the scientific background.
- We have moved the scientific context to a **Scientific Context**

[2019-03-17 11:47] bjmorgan commented on #1209
We have revised the top level `README`: To avoid clogging up the practical instructions of how to install and then learn about *using* `pyscses` we have directed readers interested in an overview of the scientific context to the JOSS paper. https://github.com/bjmorgan/pyscses/commit/e2a315a96d05b156242cf1ecb51a6d56d06bbd21

[2019-03-17 11:50] bjmorgan commented on #1209
@ncclementi and @vyasr We think this addresses all the points raised so far in the review.

[2019-03-17 11:54] adavidzh commented on #1264
@VivianePons: perhaps `@whedon add @adavidzh as reviewer` :smile:
@ajgates42: thanks for the changes. I would not mention reviewers in the acknowledgments, but that's in my field. Other than that, nothing to add.

[2019-03-17 12:01] adavidzh commented on #1230
Thanks. I looked through the tests and they look exactly like what is needed.
Regarding the performance, I don't think it it crucial.

@poulson, let's move to the next steps.

[2019-03-17 12:08] bjmorgan commented on #1209
Re: statement of need. Although the 1D Poisson-Boltzmann model is a fairly common numerical problem, we are not aware of any open source codes that solve this specifically for atomic defects in crystalline solids, or of any papers in this field that contain reproducible computational details. The updated paper contains a couple of sentences on this point.

[2019-03-17 12:25] labarba commented on #714
Hello, @ansgarwenzel — We had a discussion in the editorial board about your submission, and decided that publication in JOSS here would indeed constitute a duplicate publication, and the submission should be withdrawn.

[2019-03-17 12:26] #714 closed

[2019-03-17 14:00] pjotrp commented on #1269
Actually we are waiting for the author to confirm we can tick all boxes. @zabore Emily, do you mind responding?

[2019-03-17 14:29] fsobral commented on #1318
Thanks, this is excellent news. If you need a suggestion for a referee, I have already talked to @abelsiqueira, who was interesting in reviewing the algorithm.

[2019-03-17 14:39] jasonclark commented on #1223
Hi, @grantjenks. I'll be working through the editing. Thanks for your work so far.

[2019-03-17 14:44] poulson commented on #1318
Hi Abel (@abelsiqueira), would you be interested in reviewing this submission?

[2019-03-17 14:45] jasonclark commented on #1223
Hi, @djmitche. Would you have time to review this software in the next 2 weeks? It's more of a software library implementation and your software testing background perspective would be really helpful. cc @grantjenks

[2019-03-17 14:53] VivianePons commented on #1264
@whedon add @adavidzh as reviewer

[2019-03-17 14:53] whedon commented on #1264
OK, @adavidzh is now a reviewer

[2019-03-17 14:59] VivianePons commented on #1264
The command added you in the list but didn't create the list of checkboxes, I just did manually. Please, just check that you can check them all ;)

Thanks and sorry for the confusion!

[2019-03-17 15:22] abelsiqueira commented on #1318
Yes, count me in.

[2019-03-17 15:26] poulson commented on #1318
@whedon commands

[2019-03-17 15:26] whedon commented on #1318
Here are some things you can ask me to do:

[code]

[2019-03-17 15:26] poulson commented on #1318
@whedon add @abelsiqueira as reviewer

[2019-03-17 15:26] whedon commented on #1318
OK, @abelsiqueira is now a reviewer

[2019-03-17 15:30] mir-am commented on #1252
Thank you for help and suggestion.
The two figures are on the same page. Therefore, readers can see the difference between the two classifiers. However, we wanted to use subfigures in order to combine the two figures into one.
Anyhow, in my opinion, the location of the two figures on the page is fine.

This issue was also fixed without breaking the installation scripts for both CI services and use

[2019-03-17 15:33] poulson commented on #1318
Hi Jon (@malmaud): given your familiarity with Julia, would you be willing to serve as an additional reviewer on this submission?

Hi Scott (@stsievert): Would you be interested and able in serving as an additional reviewer on this submission?

Hi Jakob (@jakobbossek): Would you be interested and able in serving as an additional reviewer on this submission?

[2019-03-17 16:47] CosteaPaul commented on #1299
@grabear, the little hack seems to solve the install problem.

Ran all from scratch on a docker starting with xubu 18 and the latest R (3.5.3). Installing this takes a while, but runs though. Hefty list of dependencies. Would say overall i spent >2 hours getting this running. (Packages like curl and openssl fail because of lib dependencies that then need to be installed separately).

But now i can

[2019-03-17 19:30] flohorovicic commented on #1136
Dear @labarba, finally on top of my pile and I will be done in the next couple of days (at latest by the end of the week)! Kind regards from Aachen, Florian.

[2019-03-17 19:56] adavidzh commented on #1264
@VivianePons: all good, thanks.
@ajgates42: while going through the review checklist:
1. Can you point me to the contribution guidelines? IMO, this can be as simple as adding a section to `README.md`.
1. I can't quite find how the `0.3.1` version is tagged: I see that version in [PyPI](https://pypi.org/project/clusim/) but there is no branch nor tag that I can find on [github](https://github.com/H

[2019-03-17 20:13] sjvrijn commented on #1147
@ianhbell Could you add the installing of the Python interface to the Travis setup? It currently does not fail if this does not work for some reason. Also, which Python versions is it intended/tested for?

[2019-03-17 20:29] lheagy commented on #808
@whedon set doi as 10.5281/zenodo.2590852

[2019-03-17 20:29] lheagy commented on #808
@whedon set 10.5281/zenodo.2590852 as archive

[2019-03-17 20:29] whedon commented on #808
OK. <a href="https://doi.org/10.5281/zenodo.2590852" target="_blank">10.5281/zenodo.2590852</a> is the archive.

[2019-03-17 20:30] lheagy commented on #808
@whedon set 1.3 as version

[2019-03-17 20:30] whedon commented on #808
OK. 1.3 is the version.

[2019-03-17 20:38] lheagy commented on #808
:wave: Hi @openjournals/joss-eics, this submission is ready to be accepted 🎉

[2019-03-17 20:40] lheagy commented on #990
👋 Hi @laempy, just checking in - would you mind updating the zenodo archive record so that the title and author list are the same as on the paper?

[2019-03-17 20:41] lheagy commented on #990
@whedon generate pdf

[2019-03-17 20:41] whedon commented on #990
[code]

[2019-03-17 20:41] whedon commented on #990
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00990/joss.00990/10.21105.joss.00990.pdf)

[2019-03-17 20:42] lheagy commented on #1114
Thanks @sgrieve, I will start the review process now with @dvalters as the reviewer so he can get started. If I can't find someone else in the next two weeks, I will check in with you again.

[2019-03-17 20:43] lheagy commented on #1114
@whedon start review

[2019-03-17 20:43] whedon opened #1328 "[REVIEW]: rdbsp: An Open Source Rock Dynamic Behavior Simulation Program"
**Submitting author:** @zhangning737 (<a href="http://orcid.org/0000-0003-3597-0691">Zhang Ning</a>)
**Repository:** <a href="https://github.com/zhangning737/rdbsp.git" target ="_blank">https://github.com/zhangning737/rdbsp.git</a>
**Version:** v1.0.0
**Editor:** @lheagy
**Reviewers:** @dvalters, @srmnitc
**Archive:** <a href="https://doi.org/10.5281/zenodo.3335406" target="_blank">10.5281/zenodo.

[2019-03-17 20:43] whedon commented on #1114
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1328. Feel free to close this issue now!

[2019-03-17 20:43] whedon commented on #1328
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dvalters it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-03-17 20:43] whedon commented on #1328
[code]

[2019-03-17 20:43] #1114 closed

[2019-03-17 20:43] whedon commented on #1328
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01328/joss.01328/10.21105.joss.01328.pdf)

[2019-03-17 20:44] lheagy commented on #1328
@dvalters, many thanks for being willing to review! Above there is a checklist to help guide your review. Please let me know if you have any questions or if I can provide any clarification.

[2019-03-17 21:09] labarba commented on #808
@whedon check references

[2019-03-17 21:09] whedon commented on #808
[code]

[2019-03-17 21:09] whedon commented on #808
[code]

[2019-03-17 21:10] labarba commented on #808
@whedon generate pdf

[2019-03-17 21:10] whedon commented on #808
[code]

[2019-03-17 21:10] whedon commented on #808
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00808/joss.00808/10.21105.joss.00808.pdf)

[2019-03-17 21:15] djmitche commented on #1223
Happy to.

[2019-03-17 21:23] labarba commented on #808
@whedon accept

[2019-03-17 21:23] whedon commented on #808
[code]

[2019-03-17 21:23] whedon commented on #808
PDF failed to compile for issue #808 with the following error:

 Can't find any papers to compile :-(

[2019-03-17 21:23] whedon commented on #808
[code]

[2019-03-17 21:24] labarba commented on #808
@whedon accept

[2019-03-17 21:24] whedon commented on #808
[code]

[2019-03-17 21:24] whedon commented on #808
[code]

[2019-03-17 21:24] whedon commented on #808
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/558

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/558, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-03-17 21:27] labarba commented on #808
The reference is missing the Year field. Please add.
https://doi.org/10.1002/2013EO450001

[2019-03-18 01:01] viktor76525 commented on #808
@labarba year added in repo.

[2019-03-18 02:12] stsievert commented on #1318
I can provide a review, but it'll have to be after May. My plate will be full until then.

[2019-03-18 02:52] #1254 closed

[2019-03-18 07:37] laempy commented on #990
Hi @whedon, I have updated the zenodo record accordingly.

[2019-03-18 09:39] Kevin-Mattheus-Moerman commented on #1076
Thanks for the reminder @labarba I'll resume work on this on Wednesday.

[2019-03-18 12:42] vissarion commented on #1325
@artivis @poulson I am reviewing another paper at the moment so I have not time for this, sorry. But if you do not find reviewers after two weeks or so please ping me again.

[2019-03-18 13:11] nnadeau commented on #1325
unfortunately, I am not available to review at this time.

[2019-03-18 13:13] whedon opened #1329 "[PRE REVIEW]: corporaexplorer: an R package for dynamic exploration of text collections"
**Submitting author:** @kgjerde (<a href="http://orcid.org/0000-0001-8291-6837">Kristian Lundby Gjerde</a>)
**Repository:** <a href="https://github.com/kgjerde/corporaexplorer" target ="_blank">https://github.com/kgjerde/corporaexplorer</a>
**Version:** v0.4.0
**Editor:** @leouieda
**Reviewers:** @kbenoit, @trinker

**Author instructions**

Thanks for submitting your paper to JOSS @kgjerde. **Curr

[2019-03-18 13:13] whedon commented on #1329
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-03-18 13:13] whedon commented on #1329
[code]

[2019-03-18 13:13] whedon commented on #1329
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01329/joss.01329/10.21105.joss.01329.pdf)

[2019-03-18 14:34] olivertomic commented on #980
Dear @labarba - Thank you for your notice. We have made some progress, like adding some examples in Jupyter Notebooks (as requested by @jsgalan ), but admittedly the process has been painfully slow due to various reasons. We will ping `@openjournals/joss-eics` once we are done. Thank you again.

[2019-03-18 14:42] zabore commented on #1269
I am so sorry that I overlooked the initial email requesting me to go over
that checklist. I hadn't realized that anything required my attention. I
just went through the list, and made one change to the package website to
address contributions to the package, everything else was already
satisfied. So I believe now that everything in the list can be checked.

Thanks, and sorry again for this oversi

[2019-03-18 15:03] vijaysm commented on #1325
@poulson I expect to go on paternity leave for couple of weeks soon and so will be unavailable to review. However, I will keep an eye out on the JOSS issues page if I do find time.

[2019-03-18 15:05] pjotrp commented on #1269
Thank you @zabore. @avhoeck you can start review.

[2019-03-18 15:31] avhoeck commented on #1269
Great!

________________________________
Van: Pjotr Prins [notifications@github.com]
Verzonden: maandag 18 maart 2019 16:05
Aan: openjournals/joss-reviews
CC: Hoeck, A. van; Mention
Onderwerp: Re: [openjournals/joss-reviews] [REVIEW]: riskclustr: Functions to Study Etiologic Heterogeneity (#1269)

Thank you @zabore<https://github.com/zabore>. @avhoeck<https://github.com/avhoeck> you can start revi

[2019-03-18 16:15] aslakbergersen commented on #1065
@trallard, is the information provided by @hkjeldsberg what you needed for starting the final steps of publication? Unfortunately, we do not have the rights to "check off" the task-boxes in your post, but I think we have addressed all of them.

[2019-03-18 16:19] jasonclark commented on #1223
Thanks, @djmitche! I'll set up the review and assign you. cc @grantjenks

[2019-03-18 16:22] jasonclark commented on #1223
@whedon assign @reviewer as reviewer

[2019-03-18 16:23] whedon commented on #1223
OK, the reviewer is @reviewer

[2019-03-18 16:24] jasonclark commented on #1223
@whedon unassign @djmitche  as reviewer

[2019-03-18 16:24] jasonclark commented on #1223
@whedon assign @djmitche as reviewer

[2019-03-18 16:25] whedon commented on #1223
OK, the reviewer is @djmitche

[2019-03-18 16:27] jasonclark commented on #1223
@whedon start review magic-word=bananas

[2019-03-18 16:28] whedon opened #1330 "[REVIEW]: Python Sorted Containers"
**Submitting author:** @grantjenks (<a href="http://orcid.org/0000-0001-5010-405X">Grant Jenks</a>)
**Repository:** <a href="https://github.com/grantjenks/python-sortedcontainers" target ="_blank">https://github.com/grantjenks/python-sortedcontainers</a>
**Version:** v2.1.0
**Editor:** @jasonclark
**Reviewer:** @djmitche
**Archive:** <a href="https://doi.org/10.5281/zenodo.2584337" target="_blank"

[2019-03-18 16:28] whedon commented on #1223
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1330. Feel free to close this issue now!

[2019-03-18 16:29] whedon commented on #1330
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @djmitche it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-03-18 16:29] whedon commented on #1330
[code]

[2019-03-18 16:30] whedon commented on #1330
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01330/joss.01330/10.21105.joss.01330.pdf)

[2019-03-18 16:30] jasonclark commented on #1223
@djmitche the review is set up at https://github.com/openjournals/joss-reviews/issues/1330. cc @grantjenks

[2019-03-18 17:10] zonca commented on #1298
Hi @harpolea, we just merged a fix for the issue on the tutorial

[2019-03-18 17:26] labarba commented on #808
@whedon accept

[2019-03-18 17:26] whedon commented on #808
[code]

[2019-03-18 17:27] whedon commented on #808
[code]

[2019-03-18 17:31] labarba commented on #808
@whedon accept

[2019-03-18 17:31] whedon commented on #808
[code]

[2019-03-18 17:31] whedon commented on #808
[code]

[2019-03-18 17:32] whedon commented on #808
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/559

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/559, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-03-18 17:33] labarba commented on #808
@whedon accept deposit=true

[2019-03-18 17:34] whedon commented on #808
[code]

[2019-03-18 17:34] whedon commented on #808
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/560
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.00808](https://doi.org/10.21105/joss.00808)
2. If everything looks go

[2019-03-18 17:36] labarba commented on #808
Congratulations, @viktor76525, your JOSS paper is published!

Sincere thanks to the editor: @lheagy, and the reviewers: @leouieda, @hugoledoux 🙏  We couldn't do this without you!

[2019-03-18 17:36] #808 closed

[2019-03-18 17:36] whedon commented on #808
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00808/status.svg)](https://doi.org/10.21105/joss.00808)

**We need your help!**

Journal of Open Source Softwar

[2019-03-18 17:58] ianhbell commented on #1147
I have fixed the build issues with binder and now build the Python wrapper in TravisCI as well.  All's well at the moment, ready for another look-see.

[2019-03-18 18:05] ncclementi commented on #1209
@bjmorgan and @georgiewellock

### Regarding the `paper.md`
I think you did a great job. My only suggestion would be to add in the summary a sentence related to the Statement of need. It is really well explained and clear by the end of the **scientific context** section, but I think if someone just ready the summary will miss this. Similarly I would add this to the README too, a short sentence tha

[2019-03-18 18:07] edifice1989 commented on #1255
Hi Melissa,

   Is there any updates from the reviewer?

  I am still waiting patiently: )

Thanks,
Ming

On Mon, Mar 11, 2019 at 3:22 PM Melissa Gymrek <notifications@github.com>
wrote:

[2019-03-18 18:08] offray commented on #720
Hi @labarba the dissertation went pretty well. Thanks for asking.

 I didn't take into account the time for paperwork after dissertation (I'm still on it), but hopefully it will be done this week so next one I will be re-engaging in the submission.

I have been porting Grafoscopio to Pharo 7 and I have it running now, but still more code migration needs to be done. On next week I will be having go

[2019-03-18 18:28] ajgates42 commented on #1264
@adavidzh, you can now find a contribution guidelines and code of conduct in the [README](https://github.com/Hoosier-Clusters/clusim/blob/master/README.md).  I've also tagged a new release v0.3.2 and updated the version in the __init__.py.  The PyPI version will be updated shortly.
Thanks!

[2019-03-18 19:00] IgorBaratta commented on #1311
Sure.
But I'm already reviewing another JOSS paper, and I'll only be available from next week.

[2019-03-18 19:06] byandell commented on #1255
I filled out the checklist. Sorry, did not realize there was more to do. What else?
Brian

Brian S. Yandell brian.yandell@wisc.edu<mailto:brian.yandell@wisc.edu>
Professor of Biometry, Statistics & Horticulture
University of Wisconsin-Madison
http://www.stat.wisc.edu/~yandell

From: Mingze He <notifications@github.com>
Reply-To: openjournals/joss-reviews <reply@reply.github.com>
Date: Monday, Marc

[2019-03-18 19:44] grabear commented on #1299
I think this would be really nifty!  @CosteaPaul

Unfortunately, our institution has a policy that doesn't permit us to use docker containers on their servers.  I can definitely try to look into it on my personal machine if you think it would be helpful.

[2019-03-18 20:20] VivianePons commented on #1324
I have just emails to ask @margauxmouchene and @kmarkert for reviews

[2019-03-18 20:43] benmarwick commented on #722
Thanks for the reminder. I've had another look at the package and everything looks great! The author has done an excellent job of fulfilling the requirements for JOSS. In particular, it's an excellent example of superb package documentation to the point that I believe any undergraduate archaeology student (or related field) should be able to make sense of what is the need and purpose, and quickly

[2019-03-18 20:53] VivianePons commented on #1301
I have just emails to @vc1492a and @justinshenk to ask for a review

[2019-03-18 21:17] CosteaPaul commented on #1299
@grabear it's not something i think is needed, but would be nice to have.
Maybe a singularity container then? (that way you don't have to upset your security ppl).

Anyway, i've ticked all the boxes so as far as i'm concerned this is good to go. Am i supposed to do something else now?

[2019-03-18 21:34] grabear commented on #1299
@lpantano What happens next?

[2019-03-18 21:46] labarba commented on #722
I see some unchecked items in the checklist—if you're satisfied, can you tick off those items?

[2019-03-18 22:11] benmarwick commented on #722
Done!

[2019-03-18 23:54] brainstorm commented on #1311
No worries @IgorBaratta, your expertise in this specific field is much appreciated for the review, we can start next week then!

[2019-03-18 23:54] brainstorm commented on #1311
@whedon assign @IgorBaratta as reviewer

[2019-03-18 23:54] whedon commented on #1311
OK, the reviewer is @IgorBaratta

[2019-03-18 23:55] brainstorm commented on #1311
@whedon start review

[2019-03-18 23:55] whedon opened #1331 "[REVIEW]: MPIFiles.jl: A Julia Package for Magnetic Particle Imaging Files"
**Submitting author:** @tknopp (<a href="http://orcid.org/0000-0002-1589-8517">Tobias Knopp</a>)
**Repository:** <a href="https://github.com/MagneticParticleImaging/MPIFiles.jl" target ="_blank">https://github.com/MagneticParticleImaging/MPIFiles.jl</a>
**Version:** v0.5.3
**Editor:** @brainstorm
**Reviewer:** @IgorBaratta
**Archive:** <a href="https://doi.org/10.5281/zenodo.3242352" target="_blan

[2019-03-18 23:55] whedon commented on #1311
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1331. Feel free to close this issue now!

[2019-03-18 23:55] whedon commented on #1331
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @IgorBaratta it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-03-18 23:55] whedon commented on #1331
[code]

[2019-03-18 23:55] #1311 closed

[2019-03-18 23:55] whedon commented on #1331
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01331/joss.01331/10.21105.joss.01331.pdf)

[2019-03-19 00:12] lpantano commented on #1299
Thanks both!, I will take a final look and tell you something tomorrow morning!

[2019-03-19 01:57] gkthiruvathukal commented on #1310
@Gweissman and @mbod, Would either or both of you be willing to contribute a review to this JOSS submission? This is a Python NLP project and would closely match your areas of interest.

[2019-03-19 02:01] gkthiruvathukal commented on #1268
@jmkim and @morganericsson, would either or both of you be willing to contribute a review to this JOSS submission? As you can see in this issue thread, I have asked others who are either not available or have not responded. Both of you have Java listed and systems/software engineering interests, so I think this submission would be of interest to you.

[2019-03-19 02:08] gkthiruvathukal commented on #1246
@homonecloco Would you be willing to contribute a review to this JOSS submission? I see you have Java and Genetics listed. I realize that genetic programming is not the same thing as genetics, but your expertise would be helpful for this submission.

[2019-03-19 02:49] vyasr commented on #1209
I concur with the comments that @ncclementi made, those are largely identical to the issues I would have raised. One minor comment, I'd remove one of the logo files (you currently have two in your repo (one at the root and one in the resources folder). Aside from that, I think everything looks good!

[2019-03-19 03:00] arfon commented on #722
@whedon accept

[2019-03-19 03:00] whedon commented on #722
No archive DOI set. Exiting...

[2019-03-19 03:01] arfon commented on #722
@mrecos - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2019-03-19 03:04] FranzKrah commented on #1307
Hi, I could need some assistance here! Is there anything I should do now?
Cheers Franz

[2019-03-19 03:25] vc1492a commented on #1301
@VivianePons Thanks, will gladly provide a review of this work. Will read the original paper and review the code, and will comment here (within a few weeks time) with my comments.

[2019-03-19 03:35] whedon opened #1332 "[PRE REVIEW]: treex: a Python package for manipulating rooted trees"
**Submitting author:** @RomainAzais (<a href="http://orcid.org/0000-0002-5234-1822">Romain Azais</a>)
**Repository:** <a href="https://gitlab.inria.fr/azais/treex" target ="_blank">https://gitlab.inria.fr/azais/treex</a>
**Version:** v1.1.3
**Editor:** @VivianePons
**Reviewers:** @dvalters, @VivianePons

**Author instructions**

Thanks for submitting your paper to JOSS @RomainAzais. **Currently, t

[2019-03-19 03:35] whedon commented on #1332
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-03-19 03:35] whedon commented on #1332
[code]

[2019-03-19 03:36] whedon commented on #1332
PDF failed to compile for issue #1332 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0    13    0     0    135      0 --:--:-- --:--:-- --:--:--   135
Error producing P

[2019-03-19 03:37] arfon commented on #1332
:wave: @VivianePons - the submitting author suggested you as the handling editor.

[2019-03-19 03:44] arfon commented on #1332
@Azais - for some reason Whedon doesn't like the HTML-escaped characters in the footer. Can you update your paper to look like this? https://gist.github.com/arfon/6b1092c47917335272158679e3d2a6ec

[2019-03-19 03:45] whedon opened #1333 "[PRE REVIEW]: scikit-finite-diff, a new tool for PDE solving"
**Submitting author:** @celliern (<a href="http://orcid.org/0000-0002-3759-3546">Nicolas Cellier</a>)
**Repository:** <a href="https://gitlab.com/celliern/scikit-fdiff/" target ="_blank">https://gitlab.com/celliern/scikit-fdiff/</a>
**Version:** v0.6.0rc1
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @mrava87, @poulson

**Author instructions**

Thanks for submitting your paper to JOSS @cellie

[2019-03-19 03:45] whedon commented on #1333
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-03-19 03:45] whedon commented on #1333
[code]

[2019-03-19 03:45] whedon commented on #1333
PDF failed to compile for issue #1333 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: bibliography (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01e

[2019-03-19 03:45] arfon commented on #1333
:wave: @poulson - the submitting author suggested you as the handling editor.