[2021-08-30 15:07] whedon commented on #3418
OK, the reviewer has been re-invited.

@dgketchum please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-08-30 15:16] blakeaw commented on #3521
I apologize for the delay. Thank you for your patience, @patrickfuchs, @richardjgowers.
I grade the submission as category 1) Accept.

The authors provide a clear statement of need and give a nice overview of the relevant background. The code is quite well documented, and it was easy to install and use. I think buildH will be a useful analysis tool for anyone simulating lipids with united atom for

[2021-08-30 15:20] rhaas80 commented on #2978
contribution.md looks very good. While no automated tests are provided the manual tests now come with a textual description of the expected numerical output that lets users manually verify that their copy of CORAL works as expected.

I have no further comments that would delay publication.

[2021-08-30 15:24] AlexanderJuestel commented on #3670
@whedon generate pdf

[2021-08-30 15:25] whedon commented on #3670
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03670/joss.03670/10.21105.joss.03670.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03670/joss.03670/10.21105.joss.03670.pdf) :page_facing_up: :point_left:

[2021-08-30 15:27] whedon commented on #3619
:wave: @chad-iris, please update us on how your review is going (this is an automated reminder).

[2021-08-30 15:27] whedon commented on #3619
:wave: @cja12, please update us on how your review is going (this is an automated reminder).

[2021-08-30 15:27] whedon commented on #3619
:wave: @jkmacc-LANL, please update us on how your review is going (this is an automated reminder).

[2021-08-30 15:28] htwangtw commented on #3578
Hi all,

Thanks for writing this tool and invite me to review! This is my first JOSS review so please let me know

Since the submission refers to the linear regression tool in the pyNIDM package, I am not sure what is the most appropriate way to address some of the points. If anything is out of scope, please feel free to point it out @osorensen.

## Paper

The manuscript explains the purpose of th

[2021-08-30 15:33] drobnyjt commented on #3298
@arfon Sure! I have published a new [release ](https://github.com/lcpp-org/RustBCA/releases/tag/v1.1.1-joss)and created an archive on Zenodo (https://doi.org/10.5281/zenodo.5337083).

[2021-08-30 15:38] AlexanderJuestel commented on #3670
@crvernon, thanks for being the topic editor. The changes suggested by @arfon were implemented. The article is compiling now. I also added @leguark (Miguel de la Varga) as author, thanks for pointing that out.

As reviewers, I would like to suggest **martinfleis** as he is the author of the GeoPandas package, which is extensively used in GemGIS, and **banesullivan** as we use his PyVista package a

[2021-08-30 15:52] crvernon commented on #3670
@whedon check references

[2021-08-30 15:52] whedon commented on #3670
[code]

[2021-08-30 15:59] crvernon commented on #3670
:wave:   @martinfleis @banesullivan - Would either of you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-08-30 16:16] kellyrowland commented on #3419
Thanks @Himscipy !

@dionhaefner can you please create an archive for this release version (on Zenodo, figshare, or elsewhere) and then post the archive DOI here?

[2021-08-30 16:40] osorensen commented on #3578
Thanks for your very thorough review, @htwangtw! I think these are very good points, which I hope @AKUMAR0019 can address.

[2021-08-30 16:47] dionhaefner commented on #3419
@kellyrowland there you go:

https://doi.org/10.5281/zenodo.5337529

[2021-08-30 17:15] crvernon commented on #3670
Thanks for getting back go us so quickly @martinfleis !

[2021-08-30 17:40] jkrumbiegel commented on #3349
This is the zenodo archive link for v.0.15.0 https://zenodo.org/record/5106448

[2021-08-30 17:41] crvernon commented on #3670
:wave: @omshinde - Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-08-30 17:47] kbarnhart commented on #3658
@whedon add @mbarall as reviewer

[2021-08-30 17:47] whedon commented on #3658
OK, @mbarall is now a reviewer

[2021-08-30 17:49] adi3 commented on #3125
@tkonolige Could you please add some example usage of the tool in the repo's README? This will help us test functionality of the system and will also be useful to your end-users in getting started. Thanks!

[2021-08-30 17:50] kbarnhart commented on #3658
@mbarall - thanks for agreeing to review this submission to JOSS. In the prior comments there is a checklist that you can use to guide you through your review. There are also instructions to manage your github notifications so you don't get all notifications for all JOSS reviews.

We have an automatic reminder set up in two weeks to ask you how the review is going. At present we request that revie

[2021-08-30 17:51] kbarnhart commented on #3507
I've now found a second reviewer and am thus closing this issue.

[2021-08-30 17:51] #3507 closed

[2021-08-30 17:51] kbarnhart commented on #3345
Looks like I never closed this issue. Closing.

[2021-08-30 17:51] #3345 closed

[2021-08-30 17:52] kbarnhart commented on #3658
@whedon generate pdf from branch pycsep_joss

[2021-08-30 17:52] whedon commented on #3658
[code]

[2021-08-30 17:52] whedon commented on #3658
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03658/joss.03658/10.21105.joss.03658.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03658/joss.03658/10.21105.joss.03658.pdf) :page_facing_up: :point_left:

[2021-08-30 17:53] whedon commented on #3622
:wave: @Zethson, please update us on how your review is going (this is an automated reminder).

[2021-08-30 17:53] whedon commented on #3622
:wave: @maximtrp, please update us on how your review is going (this is an automated reminder).

[2021-08-30 18:10] kellyrowland commented on #3419
@whedon set https://doi.org/10.5281/zenodo.5337529 as archive

[2021-08-30 18:10] whedon commented on #3419
OK. <a href="https://doi.org/10.5281/zenodo.5337529" target="_blank">10.5281/zenodo.5337529</a> is the archive.

[2021-08-30 18:10] kellyrowland commented on #3419
@whedon set v0.3.0 as version

[2021-08-30 18:10] whedon commented on #3419
OK. v0.3.0 is the version.

[2021-08-30 18:10] kellyrowland commented on #3419
@whedon recommend-accept

[2021-08-30 18:11] whedon commented on #3419
[code]

[2021-08-30 18:11] whedon commented on #3419
PDF failed to compile for issue #3419 with the following error:
[code]

[2021-08-30 18:11] kellyrowland commented on #3419
@whedon recommend-accept from branch joss-paper

[2021-08-30 18:11] whedon commented on #3419
[code]

[2021-08-30 18:11] whedon commented on #3419
[code]

[2021-08-30 18:12] whedon commented on #3419
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2548

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2548, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-08-30 18:14] kellyrowland commented on #3419
@dionhaefner could you please change the above invalid DOI to `doi.org/10.1016/j.jpdc.2005.03.010` in the paper?

[2021-08-30 18:40] dfm commented on #3406
@whedon add @adrn as reviewer

@adrn has agreed to review - thanks Adrian! I'm still working on recruiting a second, hopefully soon. I'll keep you all posted and then we'll start the review process as soon as I have a second reviewer assigned.

[2021-08-30 18:40] whedon commented on #3406
OK, @adrn is now a reviewer

[2021-08-30 18:49] dgketchum commented on #3418
@pdebuyl, this is a well-written paper describing a very useful software package. All checklist items cleared my review except one: automated testing.

[2021-08-30 20:21] Kevin-Mattheus-Moerman commented on #3349
@whedon set 10.5281/zenodo.3735092 as archive

[2021-08-30 20:21] whedon commented on #3349
OK. <a href="https://doi.org/10.5281/zenodo.3735092" target="_blank">10.5281/zenodo.3735092</a> is the archive.

[2021-08-30 20:22] Kevin-Mattheus-Moerman commented on #3349
@whedon set 10.5281/zenodo.5106448 as archive

[2021-08-30 20:22] whedon commented on #3349
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-08-30 20:24] arbennett commented on #3541
Hey @elbeejay I am also on track with the review and should be able to finish up in the next couple days. Thanks for checking in!

[2021-08-30 21:27] nluetts commented on #3526
@whedon generate pdf from branch paper

[2021-08-30 21:27] whedon commented on #3526
[code]

[2021-08-30 21:28] whedon commented on #3526
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03526/joss.03526/10.21105.joss.03526.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03526/joss.03526/10.21105.joss.03526.pdf) :page_facing_up: :point_left:

[2021-08-30 21:30] jbytecode commented on #3526
@whedon check references from branch paper

[2021-08-30 21:30] whedon commented on #3526
[code]

[2021-08-30 21:30] whedon commented on #3526
[code]

[2021-08-30 21:37] nluetts commented on #3526
@whedon generate pdf from branch paper

[2021-08-30 21:37] whedon commented on #3526
[code]

[2021-08-30 21:37] whedon commented on #3526
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03526/joss.03526/10.21105.joss.03526.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03526/joss.03526/10.21105.joss.03526.pdf) :page_facing_up: :point_left:

[2021-08-30 21:40] jbytecode commented on #3526
@nluetts you can use https://whedon.theoj.org/ for compiling and testing the paper

[2021-08-30 21:42] nluetts commented on #3526
Hi @jbytecode,

I re-generated the paper because in the footer of the page my name is missing an initial.
I tried to fix the problem by putting my name into double quotes, but to no avail.

OK, I will try https://whedon.theoj.org/ for further troubleshooting (I used the docker image so far, but there the name in the footer is not included, just a placeholder).

[2021-08-30 21:49] jbytecode commented on #3526
sure, it is about automatic formatting of your paper's citation info. not a problem

[2021-08-30 21:53] nluetts commented on #3526
The troubleshooting is a bit tricky ...

With docker, the footer says:

At https://whedon.theoj.org/, I get:

Only by requesting the paper here, I get the (close to) correct footer:

That should be:

I could try curly braces like in bibtex format, but I am only guessing ...

[2021-08-30 22:09] nluetts commented on #3526
Curly braces do not compile on the docker image. The [Github action](https://joss.readthedocs.io/en/latest/submitting.html#github-action) gives the same result as docker.

I try one more time here with a html non-breaking space in the author name. Other as the curly braces, this compiles fine.

[2021-08-30 22:10] nluetts commented on #3526
@whedon generate pdf from branch paper

[2021-08-30 22:10] whedon commented on #3526
[code]

[2021-08-30 22:11] whedon commented on #3526
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03526/joss.03526/10.21105.joss.03526.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03526/joss.03526/10.21105.joss.03526.pdf) :page_facing_up: :point_left:

[2021-08-30 22:28] jbytecode commented on #3526
@nluetts since the shorter citation info allows the first characters of the first and middle names and full of family name, it is correct and i think there is nothing to do with that. if you think it is still a problem, i can discuss this with other editors.

[2021-08-30 22:39] nluetts commented on #3526
@jbytecode if that initial is only missing in the footer and not in the metadata of the paper in general, it is fine.
Otherwise, the draft looks good to me now.

With regard to the other remaining items:

I updated the citation of Distributions.jl and included the DOI.
I also updated the citation of Gawrilow and Suhm, because that paper went from preprint stage to published since I submitted here.

[2021-08-30 22:40] nluetts commented on #3526
@mseri @myousefi2016 thank you very much for taking the time to review my package :slightly_smiling_face: :wave:

[2021-08-30 22:44] jbytecode commented on #3526
@whedon check references from branch paper

[2021-08-30 22:44] whedon commented on #3526
[code]

[2021-08-30 22:44] whedon commented on #3526
[code]

[2021-08-30 22:45] jbytecode commented on #3526
@whedon generate pdf from branch paper

[2021-08-30 22:45] whedon commented on #3526
[code]

[2021-08-30 22:45] whedon commented on #3526
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03526/joss.03526/10.21105.joss.03526.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03526/joss.03526/10.21105.joss.03526.pdf) :page_facing_up: :point_left:

[2021-08-30 22:47] jbytecode commented on #3526
@whedon set v0.2.2 as version

[2021-08-30 22:47] whedon commented on #3526
OK. v0.2.2 is the version.

[2021-08-30 22:48] jbytecode commented on #3526
@whedon set 10.5281/zenodo.5338743 as archive

[2021-08-30 22:48] whedon commented on #3526
OK. <a href="https://doi.org/10.5281/zenodo.5338743" target="_blank">10.5281/zenodo.5338743</a> is the archive.

[2021-08-30 22:50] jbytecode commented on #3526
@mseri and @myousefi2016 thank you for your great effort.

hope we will work together again!

[2021-08-30 22:51] jbytecode commented on #3526
@whedon recommend-accept

[2021-08-30 22:51] whedon commented on #3526
[code]

[2021-08-30 22:51] whedon commented on #3526
PDF failed to compile for issue #3526 with the following error:
[code]

[2021-08-30 22:59] jbytecode commented on #3526
@whedon recommend-accept from branch paper

[2021-08-30 22:59] whedon commented on #3526
[code]

[2021-08-30 22:59] whedon commented on #3526
[code]

[2021-08-30 23:00] whedon commented on #3526
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2549

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2549, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-08-30 23:21] kburns commented on #3199
@whedon generate pdf from branch joss

[2021-08-30 23:21] whedon commented on #3199
[code]

[2021-08-30 23:22] whedon commented on #3199
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03199/joss.03199/10.21105.joss.03199.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03199/joss.03199/10.21105.joss.03199.pdf) :page_facing_up: :point_left:

[2021-08-30 23:27] kburns commented on #3199
@dfm my checklist is complete. Thanks to the authors for their patience! I think everything looks great except some superscripts don't seem to be rendering properly in the PDF, (e.g. line 131 in the latest proof).

[2021-08-31 06:06] whedon commented on #3596
:wave: @noah80, please update us on how your review is going (this is an automated reminder).

[2021-08-31 06:06] whedon commented on #3596
:wave: @robinroche, please update us on how your review is going (this is an automated reminder).

[2021-08-31 06:35] arfon commented on #3349
@whedon set 10.5281/zenodo.5106448 as archive

[2021-08-31 06:35] whedon commented on #3349
OK. <a href="https://doi.org/10.5281/zenodo.5106448" target="_blank">10.5281/zenodo.5106448</a> is the archive.

[2021-08-31 06:35] arfon commented on #3298
@whedon set 10.5281/zenodo.5337083 as archive

[2021-08-31 06:35] whedon commented on #3298
OK. <a href="https://doi.org/10.5281/zenodo.5337083" target="_blank">10.5281/zenodo.5337083</a> is the archive.

[2021-08-31 06:36] arfon commented on #3298
@whedon accept

[2021-08-31 06:36] whedon commented on #3298
To recommend a paper to be accepted use `@whedon recommend-accept`

[2021-08-31 06:38] arfon commented on #3298
@whedon recommend-accept

[2021-08-31 06:38] whedon commented on #3298
[code]

[2021-08-31 06:38] whedon commented on #3298
[code]

[2021-08-31 06:38] whedon commented on #3298
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2550

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2550, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-08-31 06:42] arfon commented on #3298
@whedon accept deposit=true

[2021-08-31 06:43] whedon commented on #3298
[code]

[2021-08-31 06:43] whedon commented on #3298
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1432594904320987146) 👈 🐦🐦🐦

[2021-08-31 06:43] whedon commented on #3298
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2551
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03298](https://doi.org/10.21105/joss.03298)
2. If everything look

[2021-08-31 06:45] arfon commented on #3056
Friendly reminder here @rrjbca to give us an update on your progress soon please.

[2021-08-31 06:45] arfon commented on #3298
@HaoZeke, @joglekara – many thanks for your reviews here! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@drobnyjt – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-08-31 06:45] #3298 closed

[2021-08-31 06:45] whedon commented on #3298
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03298/status.svg)](https://doi.org/10.21105/joss.03298)

**We need your help!**

Journal of Open Source Softwa

[2021-08-31 06:47] arfon commented on #3663
@whedon assign me as editor

[2021-08-31 06:47] whedon commented on #3663
OK, the editor is @arfon

[2021-08-31 06:50] arfon commented on #3663
:wave: @linuxscout @pmyteh @cmaimone – would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under review here is [_AuDoLab: Automatic document labelling and1 classification for extremely unbalanced data_](https://gith

[2021-08-31 06:52] arfon commented on #3663
:wave: @ArneTillmann I will be the editor for this paper. Thanks so much for your suggestions for reviewers!

While we wait to hear back from possible reviewers could you merge this PR with a few minor changes to your paper here: https://github.com/ArneTillmann/AuDoLab/pull/31

[2021-08-31 07:09] dionhaefner commented on #3419
@whedon check references from branch joss-paper

[2021-08-31 07:09] whedon commented on #3419
[code]

[2021-08-31 07:09] whedon commented on #3419
[code]

[2021-08-31 07:11] dionhaefner commented on #3419
@kellyrowland The version is 0.3.2 by now (after the review suggestions). Perhaps you want to set that as the version?

[2021-08-31 07:23] VivianePons commented on #3416
I can now propose the paper for publication! Congratulation @bshoshany and thank you @kostunin and @amelialdrew for the reviews

[2021-08-31 07:25] VivianePons commented on #3416
@whedon recommend-accept from branch paper

[2021-08-31 07:25] whedon commented on #3416
[code]

[2021-08-31 07:25] whedon commented on #3416
[code]

[2021-08-31 07:25] whedon commented on #3416
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2552

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2552, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-08-31 07:54] ArneTillmann commented on #3663
@arfon Thank you for editing our paper. I merged the changes.
I am looking foward to the reviews.

[2021-08-31 08:05] pdebuyl commented on #3418
Hi @dgketchum thank you for the review!

[2021-08-31 08:06] pdebuyl commented on #3418
@JohnVolk keep in mind that @ashwinvis is on leave and will come back in september.

[2021-08-31 08:06] pdebuyl commented on #3418
@JohnVolk you may already address the automated testing of course.

[2021-08-31 08:10] pdebuyl commented on #3337
Hi @McWhity , sorry I had missed your replies. Thank you for addressing the comments by @arthur-e .

[2021-08-31 08:13] pdebuyl commented on #3337
@whedon generate pdf

[2021-08-31 08:13] whedon commented on #3337
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03337/joss.03337/10.21105.joss.03337.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03337/joss.03337/10.21105.joss.03337.pdf) :page_facing_up: :point_left:

[2021-08-31 08:15] satejsoman commented on #3464
Hi @wxwx1993, just checking in to see if you were able to run the tutorial on version 0.6.1?

[2021-08-31 08:24] leouieda commented on #3327
@cpgr @TobbeTripitaka @akaszynski thank you for agreeing to review! I will add you as reviewers and start the review process. This discussion will move to another issue where instructions will be posted.

[2021-08-31 08:25] Nikoleta-v3 commented on #3522
👋🏻 @alexhanna This is just a little nudge 📳 Any updates on your review?

[2021-08-31 08:27] leouieda commented on #3327
@whedon assign @cpgr as reviewer

[2021-08-31 08:27] whedon commented on #3327
OK, @cpgr is now a reviewer

[2021-08-31 08:27] leouieda commented on #3327
@whedon add @TobbeTripitaka as reviewer

[2021-08-31 08:27] whedon commented on #3327
OK, @TobbeTripitaka is now a reviewer

[2021-08-31 08:28] leouieda commented on #3327
@whedon add @akaszynski  as reviewer

[2021-08-31 08:28] whedon commented on #3327
OK, @akaszynski  is now a reviewer

[2021-08-31 08:28] leouieda commented on #3327
@whedon start review

[2021-08-31 08:28] whedon opened #3673 "[REVIEW]: ogs6py and VTUinterface: streamlining OpenGeoSys workflows in Python"
**Submitting author:** @joergbuchwald (<a href="http://orcid.org/0000-0001-5174-3603">Jörg Buchwald</a>)
**Repository:** <a href="https://github.com/joergbuchwald/joss_ogs6py_VTUinterface" target ="_blank">https://github.com/joergbuchwald/joss_ogs6py_VTUinterface</a>
**Version:** ogs6py-v0.34/VTUinterface-v0.69
**Editor:** @leouieda
**Reviewer:** @cpgr, @TobbeTripitaka, @akaszynski
**Archive:** <a

[2021-08-31 08:28] whedon commented on #3327
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3673.

[2021-08-31 08:28] #3327 closed

[2021-08-31 08:28] whedon commented on #3673
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @cpgr, @TobbeTripitaka, @akaszynski  it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blo

[2021-08-31 08:28] whedon commented on #3673
Wordcount for `paper.md` is 1134

[2021-08-31 08:28] whedon commented on #3673
[code]

[2021-08-31 08:28] whedon commented on #3673
[code]

[2021-08-31 08:28] whedon commented on #3673
Failed to discover a valid open source license.

[2021-08-31 08:29] whedon commented on #3673
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03673/joss.03673/10.21105.joss.03673.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03673/joss.03673/10.21105.joss.03673.pdf) :page_facing_up: :point_left:

[2021-08-31 08:32] leouieda commented on #3673
:wave: @cpgr, @TobbeTripitaka, @akaszynski @joergbuchwald  this is the review thread for the paper. All of our communications will happen here from now on.

All reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review

[2021-08-31 08:39] mikesmithlab commented on #3611
I have now uploaded 7 screencast videos that cover the overview and 6 examples. Hopefully these make it much simpler to work through the different examples.

[2021-08-31 08:41] arfon commented on #3663
@whedon generate pdf

[2021-08-31 08:42] whedon commented on #3663
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03663/joss.03663/10.21105.joss.03663.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03663/joss.03663/10.21105.joss.03663.pdf) :page_facing_up: :point_left:

[2021-08-31 08:42] mikesmithlab commented on #3611
There is a small issue that I have uncovered which is slightly out of my control at the moment. We have a testdata folder on the github repository. This is fine and works perfectly. We also have a copy on my personal webpage which is hosted by my university. The university has been upgrading the webpages and for some reason seems to be hosting an old version of the website. I also can't access it

[2021-08-31 08:43] rrjbca commented on #3056
Thank you for the reminder @arfon (and my apologies for missing your last message and not responding). @cescalara please find our response to your additional comments below:
- We have added a sentence to the Statement of Need specifically referring to the software packages that you mentioned in your review (GalSim, Halotools and popsynth).
- We agree that sampling redshifts and luminosities with a

[2021-08-31 08:43] rrjbca commented on #3056
@whedon generate pdf from branch joss-paper

[2021-08-31 08:43] whedon commented on #3056
[code]

[2021-08-31 08:44] whedon commented on #3056
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03056/joss.03056/10.21105.joss.03056.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03056/joss.03056/10.21105.joss.03056.pdf) :page_facing_up: :point_left:

[2021-08-31 09:13] cescalara commented on #3056
Hi @rrjbca and @arfon! Thanks a lot for considering my comments and for your explanation. I think the changes made are very helpful and have no further requests.

[2021-08-31 09:29] arfon commented on #3056
⚡ thanks @rrjbca and @cescalara!

@rrjbca – At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the

[2021-08-31 09:30] jkrumbiegel commented on #3349
We've checked the paper again and added Simon's orcid, so from my side everything is ready. As far as I understand we can still amend the zenodo metadata later, right? And that wrong metadata won't be reflected in the JOSS paper. I'm not sure what the function of the zenodo doi is in relation to the JOSS paper

[2021-08-31 09:37] rrjbca commented on #3056
Thank you all again. @arfon it might take me a couple of days to coordinate the new release but I will post here once it is ready.

[2021-08-31 09:44] arfon commented on #3349
The primary function is to have an archive of the software that is outside of GitHub (or any other non-archival venue/platform).

[2021-08-31 10:19] rrjbca commented on #3056
Hi @arfon a quick question. In our [.zenodo.json](https://github.com/skypyproject/skypy/blob/main/.zenodo.json) we currently have:

[code]

When you say the zenodo title needs to match the paper title does that mean we need to change it to this:

[code]

or is what we have sufficient? You can see the zenodo record for our last release [here](https://zenodo.org/record/4475347)

[2021-08-31 10:56] jbytecode commented on #3430
@whedon check references

[2021-08-31 10:56] whedon commented on #3430
[code]

[2021-08-31 11:22] malmans2 commented on #3495
@whedon generate pdf

[2021-08-31 11:22] whedon commented on #3495
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03495/joss.03495/10.21105.joss.03495.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03495/joss.03495/10.21105.joss.03495.pdf) :page_facing_up: :point_left:

[2021-08-31 11:25] gomezzz commented on #3439
@jbytecode We have gotten access and created a tagged release v0.2.4 [here](https://github.com/esa/torchquad/releases/tag/v0.2.4) and linked Zenodo release [here](https://zenodo.org/record/5344938). The DOI for Zenodo is 10.5281/zenodo.5344938 . This should now be the correct format, right?

Thanks!

PS. Had to create a new release as Zenodo only picks up on new releases.

[2021-08-31 11:27] jbytecode commented on #3439
@whedon check references

[2021-08-31 11:27] whedon commented on #3439
[code]

[2021-08-31 11:27] jbytecode commented on #3439
@whedon generate pdf

[2021-08-31 11:28] whedon commented on #3439
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03439/joss.03439/10.21105.joss.03439.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03439/joss.03439/10.21105.joss.03439.pdf) :page_facing_up: :point_left:

[2021-08-31 11:30] jbytecode commented on #3439
@gomezzz the zenodo entry includes `Pablo Gómez; Håvard Hem Toftevaag; Gabriele Meoni; Albern S.` as authors; however, the paper has only three authors. The metadata should match in both side.

[2021-08-31 11:35] richardsc commented on #3485
Sorry for the delay in completing this. Summer, pandemic, etc etc ...

I had the benefit of reviewing after @paleolimbot , and my early review comments mirrored many of his. The paper is much improved by the changes since the first draft, and I think is acceptable for publication. I have two points for consideration, but these are not blocking in any way.

1. I made an issue on the repo (tbep-tech

[2021-08-31 11:35] gomezzz commented on #3439
@jbytecode I have updated the authors on Zenodo to match. (Also added ORCIDs on Zenodo)

[2021-08-31 11:38] fawda123 commented on #3485
Thanks @richardsc, I really appreciate the comments.  I agree some of the function names could be more intuitive and I will work on some text revisions to discuss generalization/needs of other estuarine scientists.

[2021-08-31 11:41] jiemakel commented on #3504
In commit https://github.com/hsci-r/finnish-media-scrapers/commit/901bbf522c7451da4928ba4724a69d25ff7605dd, I've tried to answer the questions/suggestions given by @Sara-ShiHo .

More specifically beyond what is now added to the README:
 * on performance, as opposed to trying to be efficient, the scrapers actually by default sleep for one second (a hugely conservative setting) between each request

[2021-08-31 11:50] jbytecode commented on #3439
@whedon set v0.2.4 as version

[2021-08-31 11:50] whedon commented on #3439
OK. v0.2.4 is the version.

[2021-08-31 11:51] jbytecode commented on #3439
@whedon set 10.5281/zenodo.5344938 as archive

[2021-08-31 11:51] whedon commented on #3439
OK. <a href="https://doi.org/10.5281/zenodo.5344938" target="_blank">10.5281/zenodo.5344938</a> is the archive.

[2021-08-31 11:52] jbytecode commented on #3439
Dear @felipefr and @scarlehoff, thank you for your great effort. Hope we will work together in the future!

[2021-08-31 11:53] jbytecode commented on #3439
@whedon recommend-accept

[2021-08-31 11:53] whedon commented on #3439
[code]

[2021-08-31 11:53] whedon commented on #3439
[code]

[2021-08-31 11:53] whedon commented on #3439
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2553

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2553, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-08-31 11:54] ajstewartlang commented on #3605
@whedon generate pdf

[2021-08-31 11:54] whedon commented on #3605
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03605/joss.03605/10.21105.joss.03605.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03605/joss.03605/10.21105.joss.03605.pdf) :page_facing_up: :point_left:

[2021-08-31 11:55] metelkin commented on #3639
Hi @fboehm. Do we have progress with reviewers? I can search for other people if it is required.

[2021-08-31 11:58] whedon commented on #3485
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03485/joss.03485/10.21105.joss.03485.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03485/joss.03485/10.21105.joss.03485.pdf) :page_facing_up: :point_left:

[2021-08-31 11:58] ajstewartlang commented on #3605
@whedon check references

[2021-08-31 11:58] whedon commented on #3605
[code]

[2021-08-31 12:02] faroit commented on #3347
@baileythegreen can you update me on the status of the review? I see most of your issues have been closed. Is there something you would miss from the authors in order to check the remaining (unchecked) boxes?

[2021-08-31 12:04] Kevin-Mattheus-Moerman commented on #3349
@jkrumbiegel just to add to what @arfon said: The Zenodo archive helps create a long term permanent/persistant storage of the software (e.g. since GitHub repositories may be renamed/removed or code can be moved, so these do not share this permanence/stability). Since the archive is there now we are happy to proceed but it is more clearly linked to the JOSS paper if the meta-data (like the title an

[2021-08-31 12:06] Kevin-Mattheus-Moerman commented on #3349
@jkrumbiegel I see archived version for `v0.15.2` have also been created https://zenodo.org/record/5269012. Let me know if we should use that archive and upgrade the version tag here again.

[2021-08-31 12:06] ajstewartlang commented on #3605
Hi @MAnalytics the two suggested DOIs above look correct to me - can you double check and add them to the paper please? Thanks :-)

[2021-08-31 12:08] patrickfuchs commented on #3521
Many thanks @richardjgowers for editing the manuscript, and to @ojeda-e @blakeaw @lilyminium for their reviewing and useful suggestions. My collaborators and I are glad they overall recommend acceptance. We answered / adressed the issues opened by @lilyminium and @ojeda-e, we are now waiting whether they are satisfied. We are also grateful to all of you for some useful explanations on how MDAnalys

[2021-08-31 12:09] patrickfuchs commented on #3521
One other question @richardjgowers. We recently corrected an important [bug regarding box dimensions](https://github.com/patrickfuchs/buildH/issues/145), and buildH is now compatible with MDAnalysis 2.0.0 as stated above. So we think it deserves a new release (from 1.5 to 1.6) that would be sticked to the JOSS paper. When do you advice to make this new release, now or later in the review process?

[2021-08-31 12:10] MAnalytics commented on #3605
@ajstewartlang DOIs added!

Thank you very much.

[2021-08-31 12:10] MAnalytics commented on #3605
@whedon check references

[2021-08-31 12:11] whedon commented on #3605
[code]

[2021-08-31 12:17] ajstewartlang commented on #3605
@whedon generate pdf

[2021-08-31 12:17] whedon commented on #3605
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03605/joss.03605/10.21105.joss.03605.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03605/joss.03605/10.21105.joss.03605.pdf) :page_facing_up: :point_left:

[2021-08-31 12:18] ajstewartlang commented on #3605
@whedon check references

[2021-08-31 12:18] whedon commented on #3605
[code]

[2021-08-31 12:21] ajstewartlang commented on #3605
@whedon generate pdf

[2021-08-31 12:22] MAnalytics commented on #3605
@whedon generate pdf

[2021-08-31 12:22] whedon commented on #3605
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03605/joss.03605/10.21105.joss.03605.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03605/joss.03605/10.21105.joss.03605.pdf) :page_facing_up: :point_left:

[2021-08-31 12:22] whedon commented on #3605
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03605/joss.03605/10.21105.joss.03605.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03605/joss.03605/10.21105.joss.03605.pdf) :page_facing_up: :point_left:

[2021-08-31 12:25] ajstewartlang commented on #3605
Many thanks @cjbarrie @jaeyk @justinchuntingho for your helpful and detailed reviews. I've had a read through myself @MAnalytics and agree that this is a very nice and useful piece of software. Congrats!

@MAnalytics can I now ask you to do the following please?

    Make a tagged release of the software.
    Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institut

[2021-08-31 12:33] arfon commented on #3056
I think what you currently have is sufficient.

[2021-08-31 12:50] danielskatz commented on #2978
👋 @robertsawko - How do things now look from your side?

[2021-08-31 12:52] danielskatz commented on #2555
👋 @rclipp - In another week, I'm going to have to mark this as withdrawn or rejected, which would be a shame, given the amount of work that has gone into the review.

[2021-08-31 12:55] rclipp commented on #2555
We plan to have these changes addressed tomorrow.

On Tue, Aug 31, 2021 at 8:52 AM Daniel S. Katz ***@***.***>
wrote:

--
Rachel Clipp, PhD
Technical Lead
Kitware, Inc.
http://www.kitware.com

[2021-08-31 13:04] fboehm commented on #3639
:wave: @lgerosa and @bence-szalai - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html. Thanks for considering this.

[2021-08-31 13:09] fboehm commented on #3639
@whedon list reviewers

[2021-08-31 13:09] whedon commented on #3639
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2021-08-31 13:11] fboehm commented on #3639
@VivekTodur - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html. Thanks for considering this.

[2021-08-31 13:23] prashjha commented on #3656
Hey @luciorq, would you like to review this submission?

[2021-08-31 13:24] prashjha commented on #3656
Hi @sridhar0605, any chance you could review this submission?

[2021-08-31 13:26] lucydot commented on #3598
Hi @nicksisco1932 how is your review going? I can see that @dfujim has responded to some of the points you raised [here](https://github.com/dfujim/bfit/commit/c335e7d8938663fe12c61afaceaaca3e1d081e8a). If you have any other issues to raise as part of the review process, open them up on the [repository issues page](https://github.com/dfujim/bfit/issues). It'd be  great to hear a summary of your tho

[2021-08-31 13:30] maxpumperla commented on #3124
@nsaunier @abhishekbajpayee we've addressed your concerns and published `logodetect` version `1.1.2`. If you'd be so kind to have a look, that'd be much appreciated.

@nsaunier if there are further problems, it would be great to please link the GitHub issues you might be creating in the `logodetect` repo _to this thread_. We're getting a lot of GitHub notifications and it can be intractable to und

[2021-08-31 13:32] lucydot commented on #3662
Hi @danielskatz yes, count me in - this is nicely in my domain 👍

[2021-08-31 13:33] lucydot commented on #3662
@whedon assign @lucydot as editor

[2021-08-31 13:33] whedon commented on #3662
OK, the editor is @lucydot

[2021-08-31 13:38] ajstewartlang commented on #3605
@whedon set 10.5281/zenodo.5346595 as archive

[2021-08-31 13:38] whedon commented on #3605
OK. <a href="https://doi.org/10.5281/zenodo.5346595" target="_blank">10.5281/zenodo.5346595</a> is the archive.

[2021-08-31 13:38] ajstewartlang commented on #3605
@whedon set v2.0.0 as version

[2021-08-31 13:38] whedon commented on #3605
OK. v2.0.0 is the version.

[2021-08-31 13:39] ajstewartlang commented on #3605
@whedon recommend-accept

[2021-08-31 13:39] whedon commented on #3605
[code]

[2021-08-31 13:39] whedon commented on #3605
[code]

[2021-08-31 13:40] whedon commented on #3605
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2554

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2554, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-08-31 13:41] lucydot commented on #3662
Hi @jorisparet I'll be your editor for this submission 👋

Do you have any suggestions for potential reviewers? If so it'd be useful if you could mention them here in this thread (without tagging them with an @). In addition, [this list](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822) of people have already agreed to review for JOSS and may be

[2021-08-31 13:52] lucydot commented on #3583
Hi @temken I'll be your editor for this submission 👋

Do you have any suggestions for potential reviewers? If so it'd be useful if you could mention them here in this thread (without tagging them with an @). In addition, [this list](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822) of people have already agreed to review for JOSS and may be sui

[2021-08-31 13:52] tsamsonov opened #3674 "State of the field: Do the authors describe how this software compares to other commonly-used packages?"

[2021-08-31 13:52] whedon commented on #3674
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-08-31 13:52] #3674 closed

[2021-08-31 14:08] ZedThree commented on #3525
Hi @landreman, sorry for the silence, I've been off on leave for a good chunk of August.

Overall, SIMSOPT is a really great package, and I would definitely recommend it to colleagues. It was easy to get started with it, lots of easy-to-follow examples, and a decent API documentation.

I had a similar comment to @StanczakDominik about SPEC, so I won't repeat that.

My other comment was that there

[2021-08-31 14:11] crvernon commented on #3601
Just following up to see if you had any further questions @willu47 and @lisazeyen .  Thanks for your feedback thus far!

[2021-08-31 14:16] cmaimone commented on #3663
I have another review that I haven't started yet, and another one still pending the other reviewer's completion. So I can't take this on at the moment

[2021-08-31 14:17] lucydot commented on #3626
Hi @nasserma I'll be your editor for this submission 👋

Do you have any suggestions for potential reviewers? If so it'd be useful if you could mention them here in this thread (without tagging them with an @). In addition, [this list](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822) of people have already agreed to review for JOSS and may be s

[2021-08-31 14:49] whedon commented on #3623
:wave: @hechth, please update us on how your review is going (this is an automated reminder).

[2021-08-31 14:49] whedon commented on #3623
:wave: @lachlangrose, please update us on how your review is going (this is an automated reminder).

[2021-08-31 15:00] patrickfuchs commented on #3521
@whedon generate pdf

[2021-08-31 15:02] zhanghe9704 commented on #3665
@whedon check references

He Zhang
Computational Accelerator Physicist
Center for Advanced Science of Accelerators
Jefferson Lab
(O) 757-269-6657
www.hezhang.us

On Fri, Aug 27, 2021 at 4:41 PM whedon ***@***.***> wrote:

[2021-08-31 15:02] whedon commented on #3665
[code]

[2021-08-31 15:03] zhanghe9704 commented on #3665
@whedon generate pdf

He Zhang
Computational Accelerator Physicist
Center for Advanced Science of Accelerators
Jefferson Lab
(O) 757-269-6657
www.hezhang.us

On Tue, Aug 31, 2021 at 11:02 AM whedon ***@***.***> wrote:

[2021-08-31 15:04] whedon commented on #3665
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03665/joss.03665/10.21105.joss.03665.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03665/joss.03665/10.21105.joss.03665.pdf) :page_facing_up: :point_left:

[2021-08-31 15:05] jkrumbiegel commented on #3349
I think we can just keep 0.15, there are patch versions coming in all the time. At least that number is round.

[2021-08-31 15:19] patrickfuchs commented on #3521
@whedon generate pdf

[2021-08-31 15:19] whedon commented on #3521
PDF failed to compile for issue #3521 with the following error:
[code]

[2021-08-31 15:21] richardjgowers commented on #3521
@patrickfuchs you can cut a release during the review process and we can change the target of this review to 1.6, the changes you are describing shouldn't be too much for the reviewers to work with.

[2021-08-31 15:31] patrickfuchs commented on #3521
OK thanks very much for your answer @richardjgowers. We will thus soon release the 1.6 version.

[2021-08-31 15:31] patrickfuchs commented on #3521
@whedon generate pdf

[2021-08-31 15:32] whedon commented on #3521
PDF failed to compile for issue #3521 with the following error:
[code]

[2021-08-31 15:33] patrickfuchs commented on #3521
@whedon generate pdf

[2021-08-31 15:33] whedon commented on #3521
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03521/joss.03521/10.21105.joss.03521.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03521/joss.03521/10.21105.joss.03521.pdf) :page_facing_up: :point_left:

[2021-08-31 15:56] kyleniemeyer commented on #3313
Hi @amandadsmith, I'm the AEIC on duty this week, doing some final checks before accepting. I noticed that the EnergyPlus reference has some extra curly brackets around the title—can you remove those? Everything else looks good!

[2021-08-31 16:05] kyleniemeyer commented on #3526
@whedon accept deposit=true from branch paper

Looks good to me, thanks all!

[2021-08-31 16:05] whedon commented on #3526
[code]

[2021-08-31 16:05] whedon commented on #3526
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1432736396448514049) 👈 🐦🐦🐦

[2021-08-31 16:05] whedon commented on #3526
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2555
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03526](https://doi.org/10.21105/joss.03526)
2. If everything look

[2021-08-31 16:06] whedon commented on #3419
OK. v0.3.2 is the version.

[2021-08-31 16:06] kyleniemeyer commented on #3419
@whedon generate pdf from branch joss-paper

[2021-08-31 16:06] whedon commented on #3419
[code]

[2021-08-31 16:07] whedon commented on #3419
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03419/joss.03419/10.21105.joss.03419.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03419/joss.03419/10.21105.joss.03419.pdf) :page_facing_up: :point_left:

[2021-08-31 16:10] amandadsmith commented on #3313
Hi @kyleniemeyer, these extra curly brackets have been removed. Thank you!

[2021-08-31 16:12] kyleniemeyer commented on #3419
Hi @dionhaefner, I'm the AEIC on duty this week, doing some final checks. It looks like the arXiv preprint by Degrave et al. that you cited has now been published as a peer-reviewed article, at https://www.frontiersin.org/articles/10.3389/fnbot.2019.00006/full.

Could you replace the citation to the arXiv preprint to that? The bibTex is:
[code]

[2021-08-31 16:13] kyleniemeyer commented on #3313
@whedon generate pdf

[2021-08-31 16:14] whedon commented on #3313
PDF failed to compile for issue #3313 with the following error:
[code]

[2021-08-31 16:14] kyleniemeyer commented on #3313
@whedon generate pdf from branch joss-paper

[2021-08-31 16:15] whedon commented on #3313
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03313/joss.03313/10.21105.joss.03313.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03313/joss.03313/10.21105.joss.03313.pdf) :page_facing_up: :point_left:

[2021-08-31 16:16] kyleniemeyer commented on #3313
@whedon accept deposit=true from branch joss-paper

[2021-08-31 16:16] whedon commented on #3313
[code]

[2021-08-31 16:16] whedon commented on #3313
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1432739194095509509) 👈 🐦🐦🐦

[2021-08-31 16:16] whedon commented on #3313
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2556
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03313](https://doi.org/10.21105/joss.03313)
2. If everything look

[2021-08-31 16:19] williamfgc commented on #3143
@danielskatz it's all good from my side. Thank you, @jarrah42 and @nkallima for the overall process. I hope the review was helpful.

[2021-08-31 16:20] pmyteh commented on #3663
I'm afraid I'm in the same place: one JOSS review just completed, a second one embarrassingly outstanding and two new requests! So I must regretfully decline.

[2021-08-31 16:22] csoneson commented on #3636
👋🏻 @afrubin - would you be interested in reviewing this submission for JOSS?

[2021-08-31 16:31] arfon commented on #2971
@devosmitachatterjee2018 – having chatted a little with @galessiorob offline here who has contacted > 20 potential reviewers at this point. The core challenges we're facing here is finding reviewers who have access to the (paid for) toolboxes which run to many thousands of dollars, as well as a MATLAB2018 (or greater) license.

In these situations, we need your help identifying reviewers who may h

[2021-08-31 16:32] kyleniemeyer commented on #3439
@whedon accept deposit=true

[2021-08-31 16:32] whedon commented on #3439
[code]

[2021-08-31 16:32] whedon commented on #3439
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1432743211810934786) 👈 🐦🐦🐦

[2021-08-31 16:32] whedon commented on #3439
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2557
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03439](https://doi.org/10.21105/joss.03439)
2. If everything look

[2021-08-31 16:34] Kevin-Mattheus-Moerman commented on #3349
@whedon recommend-accept

[2021-08-31 16:34] whedon commented on #3349
[code]

[2021-08-31 16:35] whedon commented on #3349
PDF failed to compile for issue #3349 with the following error:
[code]

[2021-08-31 16:35] Kevin-Mattheus-Moerman commented on #3349
@whedon recommend-accept from branch joss-paper

[2021-08-31 16:35] whedon commented on #3349
[code]

[2021-08-31 16:35] whedon commented on #3349
[code]

[2021-08-31 16:36] whedon commented on #3349
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2558

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2558, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-08-31 16:42] Kevin-Mattheus-Moerman commented on #3349
@jkrumbiegel can you check that potentially missing DOI :point_up:

[2021-08-31 16:50] danielskatz commented on #3143
Thanks @williamfgc

[2021-08-31 16:52] danielskatz commented on #3143
@nkallima - the next step will for me to proofread the paper, and then for you to:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (s

[2021-08-31 16:52] danielskatz commented on #3143
@whedon generate pdf from branch joss-branch

[2021-08-31 16:52] whedon commented on #3143
[code]

[2021-08-31 16:53] whedon commented on #3143
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03143/joss.03143/10.21105.joss.03143.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03143/joss.03143/10.21105.joss.03143.pdf) :page_facing_up: :point_left:

[2021-08-31 16:53] danielskatz commented on #3143
@whedon check references from branch joss-branch

[2021-08-31 16:53] whedon commented on #3143
[code]

[2021-08-31 16:53] whedon commented on #3143
[code]

[2021-08-31 16:53] kyleniemeyer commented on #3416
Hi @bshoshany, I'm the AEIC on duty this week, doing some final checks. I just have a few minor edits for your paper before accepting:
- [ ] Could you add a bit more to your affiliation? Usually we see at least department/unit in addition to institution
- [ ] Throughout the article, you used hyphens (`-`) as em-dashes (`—`). Can you replace those with the latter? For example, in the first paragrap

[2021-08-31 16:55] danielskatz commented on #3143
The missing DOI above appears incorrect, since the reference in the paper is to the software, not to a paper about the software, so we can ignore this suggestion from whedon

[2021-08-31 16:55] linuxscout commented on #3663
Salam,
I'm in, I accept to review this paper.

[2021-08-31 16:58] kyleniemeyer commented on #3526
Congratulations @nluetts on your article's publication in JOSS!

Many thanks to @myousefi2016 and @mseri for reviewing this submission, and @jbytecode for editing.

[2021-08-31 16:58] #3526 closed

[2021-08-31 16:58] whedon commented on #3526
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03526/status.svg)](https://doi.org/10.21105/joss.03526)

**We need your help!**

Journal of Open Source Softwa

[2021-08-31 16:59] kyleniemeyer commented on #3313
Congratulations @amandadsmith on your article's publication in JOSS!

Many thanks to @samuelduchesne and @fneum for reviewing this submission, and @timtroendle for editing.

[2021-08-31 16:59] #3313 closed

[2021-08-31 16:59] whedon commented on #3313
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03313/status.svg)](https://doi.org/10.21105/joss.03313)

**We need your help!**

Journal of Open Source Softwa

[2021-08-31 17:00] dfm commented on #3517
@whedon add @plaplant as reviewer

Thanks Paul for agreeing to review this submission! I'm still working on recruiting a second reviewer, but as soon as I do I'll get the review started properly.

[2021-08-31 17:00] whedon commented on #3517
OK, @plaplant is now a reviewer

[2021-08-31 17:00] kyleniemeyer commented on #3605
@whedon accept deposit=true

[2021-08-31 17:00] whedon commented on #3605
[code]

[2021-08-31 17:01] whedon commented on #3605
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1432750384917979136) 👈 🐦🐦🐦

[2021-08-31 17:01] whedon commented on #3605
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2559
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03605](https://doi.org/10.21105/joss.03605)
2. If everything look

[2021-08-31 17:10] MAnalytics commented on #3605
Looks great! Thanks to everyone (@ajstewartlang @kyleniemeyer @cjbarrie @jaeyk @justinchuntingho for your invaluable reviews and suggestions. Much appreciated!

[2021-08-31 17:10] kellyrowland commented on #3419
Thanks for the help on the close-out process, @kyleniemeyer !

[2021-08-31 17:11] danielskatz commented on #3143
My suggested changes from proofreading are in https://github.com/nkallima/sim-universal-construction/pull/39

[2021-08-31 17:22] Hegghammer commented on #3538
Thanks for your understanding. I have now addressed all of @cjbarrie
<https://github.com/cjbarrie>'s comments, pushed the changes to the
repository, and checked that the paper compiles.
Best,
Thomas

On Sat, 28 Aug 2021 at 10:06, Nikoleta Glynatsi ***@***.***>
wrote:

[2021-08-31 17:32] jkrumbiegel commented on #3349
The DOI is correct, https://www.doi.org/10.1109/mcse.2007.55 also works. But we need to make one more correction with the example plot, we there's a typo in one subplot title. We'll let you know once that's fixed.

[2021-08-31 17:50] jorisparet commented on #3662
Hi and thank you @lucydot for accepting to be editor for our paper! (and thank you @danielskatz for starting the thread so rapidly).

As reviewers, we would like to suggest **Fturci** and **Kappie** as they work in closely related fields and have great programming skills in Python.

[2021-08-31 18:02] blsqr commented on #3608
I just opened [an issue](https://github.com/lantunes/cellpylib/issues/7) regarding minor corrections to references and citation style.

[2021-08-31 18:06] SimonDanisch commented on #3349
I pushed a fix for the example plot!

[2021-08-31 18:08] nkallima commented on #3143
@danielskatz

Thank you for leading the review and for your suggestions! I applied your patch in `joss-branch`.

- A tagged release of the software was made. Version v3.0.0
- Software DOI: 10.5281/zenodo.5347958

[2021-08-31 18:16] danielskatz commented on #3143
@whedon set 10.5281/zenodo.5347958 as archive

[2021-08-31 18:16] whedon commented on #3143
OK. <a href="https://doi.org/10.5281/zenodo.5347958" target="_blank">10.5281/zenodo.5347958</a> is the archive.

[2021-08-31 18:16] danielskatz commented on #3143
@whedon set v3.0.0 as version

[2021-08-31 18:16] whedon commented on #3143
OK. v3.0.0 is the version.

[2021-08-31 18:17] danielskatz commented on #3143
@whedon recommend-accept from branch joss-branch

[2021-08-31 18:17] whedon commented on #3143
[code]

[2021-08-31 18:17] whedon commented on #3143
[code]

[2021-08-31 18:17] whedon commented on #3143
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2560

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2560, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-08-31 18:21] danielskatz commented on #3143
@nkallima - Unfortunately, a couple of the changes I made to expose references as text (rather than in parens) missed changing the required ";"s to better things in text. Merging https://github.com/nkallima/sim-universal-construction/pull/44 should fix these errors I made.

[2021-08-31 18:23] devosmitachatterjee2018 commented on #2971
@arfon

Thanks for the update.
I will search for reviewers within my professional network who have access to a MATLAB2018 (or greater) license and the required toolboxes. I will get back to you as soon as possible.

Best regards
Devosmita

[2021-08-31 18:23] nkallima commented on #3143
Thanks! Done.

[2021-08-31 18:23] danielskatz commented on #3143
@whedon recommend-accept from branch joss-branch

[2021-08-31 18:23] whedon commented on #3143
[code]

[2021-08-31 18:24] whedon commented on #3143
[code]

[2021-08-31 18:24] whedon commented on #3143
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2561

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2561, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-08-31 18:25] danielskatz commented on #3143
@whedon accept deposit=true from branch joss-branch

[2021-08-31 18:25] whedon commented on #3143
[code]

[2021-08-31 18:25] whedon commented on #3143
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1432771608389771270) 👈 🐦🐦🐦

[2021-08-31 18:25] whedon commented on #3143
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2562
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03143](https://doi.org/10.21105/joss.03143)
2. If everything look

[2021-08-31 18:27] nkallima commented on #3143
@danielskatz Thank you for handling the review and for your comments!

@williamfgc, @jarrah42 Many thanks for your fruitful comments and for helping me to improve the software!

[2021-08-31 18:31] danielskatz commented on #3143
Congratulations to @nkallima (Nikolaos D. Kallimanis)!!

And thanks to @jarrah42 and @williamfgc for reviewing!
We couldn't do this without you!

[2021-08-31 18:31] #3143 closed

[2021-08-31 18:31] whedon commented on #3143
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03143/status.svg)](https://doi.org/10.21105/joss.03143)

**We need your help!**

Journal of Open Source Softwa

[2021-08-31 18:41] dfm commented on #3406
@whedon add @maxwelltsai as reviewer

Maxwell with be our second reviewer - thanks!!

I'll start the review now and share more info in the main review thread. Please let me know if you have any questions as the review progresses.

[2021-08-31 18:41] whedon commented on #3406
OK, @maxwelltsai is now a reviewer

[2021-08-31 18:41] dfm commented on #3406
@whedon start review

[2021-08-31 18:41] whedon opened #3675 "[REVIEW]: pytreegrav: a fast Python gravity solver"
**Submitting author:** @mikegrudic (<a href="http://orcid.org/0000-0002-1655-5604">Michael Grudi´c</a>)
**Repository:** <a href="https://github.com/mikegrudic/pytreegrav" target ="_blank">https://github.com/mikegrudic/pytreegrav</a>
**Version:** 1.0.0
**Editor:** @dfm
**Reviewer:** @adrn, @maxwelltsai
**Archive:** <a href="https://doi.org/10.5281/zenodo.5807909" target="_blank">10.5281/zenodo.5807

[2021-08-31 18:41] whedon commented on #3406
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3675.

[2021-08-31 18:41] #3406 closed

[2021-08-31 18:41] whedon commented on #3675
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @adrn, @maxwelltsai it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2021-08-31 18:41] whedon commented on #3675
Wordcount for `paper.md` is 1239

[2021-08-31 18:41] whedon commented on #3675
[code]

[2021-08-31 18:41] whedon commented on #3675
[code]

[2021-08-31 18:42] whedon commented on #3675
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03675/joss.03675/10.21105.joss.03675.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03675/joss.03675/10.21105.joss.03675.pdf) :page_facing_up: :point_left:

[2021-08-31 18:43] dfm commented on #3675
@mikegrudic, @adrn, @maxwelltsai – This is the review thread for the paper. All of our communications will happen here from now on. Thanks again for agreeing to participate!

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, plea

[2021-08-31 18:45] dfm commented on #3517
@whedon add @mkolopanis as reviewer

Matthew has agreed to be our second reviewer - thanks!!

I'll start the review shortly and share more info in the main review issue thread. Please get in touch if you have any questions as we go.

[2021-08-31 18:45] whedon commented on #3517
OK, @mkolopanis is now a reviewer

[2021-08-31 18:46] dfm commented on #3517
@whedon start review

[2021-08-31 18:46] whedon opened #3676 "[REVIEW]: WODEN: A CUDA-enabled package to simulate low-frequency radio interferometric data"
**Submitting author:** @JLBLine (<a href="http://orcid.org/0000-0002-9130-5920">Jack L. B. Line</a>)
**Repository:** <a href="https://github.com/JLBLine/WODEN" target ="_blank">https://github.com/JLBLine/WODEN</a>
**Version:** v1.1.0
**Editor:** @dfm
**Reviewer:** @plaplant, @mkolopanis
**Archive:** <a href="https://doi.org/10.5281/zenodo.5819254" target="_blank">10.5281/zenodo.5819254</a>

**:war

[2021-08-31 18:46] whedon commented on #3517
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3676.

[2021-08-31 18:46] #3517 closed

[2021-08-31 18:46] whedon commented on #3676
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @plaplant, @mkolopanis it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-08-31 18:46] whedon commented on #3676
Wordcount for `paper.md` is 1091

[2021-08-31 18:46] whedon commented on #3676
[code]

[2021-08-31 18:47] whedon commented on #3676
[code]

[2021-08-31 18:47] whedon commented on #3676
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03676/joss.03676/10.21105.joss.03676.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03676/joss.03676/10.21105.joss.03676.pdf) :page_facing_up: :point_left:

[2021-08-31 18:47] dfm commented on #3676
@JLBLine, @plaplant, @mkolopanis – This is the review thread for the paper. All of our communications will happen here from now on. Thanks again for agreeing to participate!

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, plea

[2021-08-31 18:49] afrubin commented on #3636
@csoneson I would be happy to review this paper.

[2021-08-31 19:06] bede commented on #3664
Happy to review, as it seems is @kblin

[2021-08-31 19:13] bshoshany commented on #3416
Hi @kyleniemeyer, thanks for the comments! I have applied all of your suggestions to the paper. Please let me know if any other changes are needed.

[2021-08-31 19:13] bshoshany commented on #3416
@whedon generate pdf from branch paper

[2021-08-31 19:13] whedon commented on #3416
[code]

[2021-08-31 19:14] whedon commented on #3416
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03416/joss.03416/10.21105.joss.03416.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03416/joss.03416/10.21105.joss.03416.pdf) :page_facing_up: :point_left:

[2021-08-31 19:22] dionhaefner commented on #3419
@whedon check references from branch joss-paper

[2021-08-31 19:22] whedon commented on #3419
[code]

[2021-08-31 19:22] whedon commented on #3419
[code]

[2021-08-31 19:22] dionhaefner commented on #3419
@whedon generate pdf from branch joss-paper

[2021-08-31 19:23] whedon commented on #3419
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03419/joss.03419/10.21105.joss.03419.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03419/joss.03419/10.21105.joss.03419.pdf) :page_facing_up: :point_left:

[2021-08-31 19:23] dionhaefner commented on #3419
Done :)

[2021-08-31 19:39] mikldk commented on #3664
@whedon add @kblin as reviewer

[2021-08-31 19:39] whedon commented on #3664
OK, @kblin is now a reviewer

[2021-08-31 19:39] mikldk commented on #3664
@whedon add @bede as reviewer

[2021-08-31 19:39] whedon commented on #3664
OK, @bede is now a reviewer

[2021-08-31 19:40] mikldk commented on #3664
@whedon start review

[2021-08-31 19:40] whedon opened #3677 "[REVIEW]: ShUShER: private browser-based placement of sensitive genome samples on phylogenetic trees"
**Submitting author:** @amkram (<a href="http://orcid.org/0000-0003-3630-3209">Alexander Kramer</a>)
**Repository:** <a href="https://github.com/amkram/shusher" target ="_blank">https://github.com/amkram/shusher</a>
**Version:** v0.5.0
**Editor:** @mikldk
**Reviewer:** @kblin, @bede
**Archive:** <a href="https://doi.org/10.5281/zenodo.5567374" target="_blank">10.5281/zenodo.5567374</a>

**:warning

[2021-08-31 19:40] whedon commented on #3664
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3677.

[2021-08-31 19:40] #3664 closed

[2021-08-31 19:40] whedon commented on #3677
Wordcount for `paper.md` is 495

[2021-08-31 19:40] whedon commented on #3677
[code]

[2021-08-31 19:40] whedon commented on #3677
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03677/joss.03677/10.21105.joss.03677.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03677/joss.03677/10.21105.joss.03677.pdf) :page_facing_up: :point_left:

[2021-08-31 19:41] whedon commented on #3677
[code]

[2021-08-31 19:42] mikldk commented on #3677
@kblin, @bede: Thanks for agreeing to review. Please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If possible create issues (and cross-reference) in the submission's repository to avoid too specific discussions in this review thread

[2021-08-31 19:44] rkurchin commented on #3564
👋 @adam-m-jcbs, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

Please feel free to let me know if you have any questions about the process.

[2021-08-31 19:48] rkurchin commented on #3412
👋 @MikeHeiber, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

Please feel free to let me know if you have any questions about the process.

I know you didn't note Pascal expertise in your volunteer signup, so I'm hoping that as a semicon

[2021-08-31 20:10] dfm commented on #3525
@ZedThree, @StanczakDominik — Thanks a lot for your thorough reviews, I really appreciate the time you volunteered!

@landreman — Give me a couple of days to do some final editing and then I'll have a couple of last tasks for you.

[2021-08-31 20:16] wxwx1993 commented on #3464
@satejsoman Yes, I can successfully run the tutorial with iPython, but I am not able to run it in Jupiter Notebook. But I think it is fine.

[2021-08-31 20:34] wxwx1993 commented on #3464
I think your approach to document the input time-series and parameters of the included estimators in code is perfect for me. I do not have further major comments.

[2021-08-31 20:52] csoneson commented on #3636
@afrubin Brilliant, thanks! Since we now have two reviewers on board, I'll start the review issue.

[2021-08-31 20:52] csoneson commented on #3636
@whedon assign @Thomieh73 as reviewer

[2021-08-31 20:52] whedon commented on #3636
OK, @Thomieh73 is now a reviewer

[2021-08-31 20:53] csoneson commented on #3636
@whedon add @afrubin as reviewer

[2021-08-31 20:53] whedon commented on #3636
OK, @afrubin is now a reviewer

[2021-08-31 20:53] csoneson commented on #3636
@whedon start review

[2021-08-31 20:53] whedon opened #3678 "[REVIEW]: Opfi: A Python package for identifying gene clusters in large genomics and metagenomics data sets"
**Submitting author:** @alexismhill3 (<a href="http://orcid.org/0000-0002-5382-8851">Alexis Hill</a>)
**Repository:** <a href="https://github.com/wilkelab/Opfi" target ="_blank">https://github.com/wilkelab/Opfi</a>
**Version:** 0.1.0
**Editor:** @csoneson
**Reviewer:** @Thomieh73, @afrubin
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-1

[2021-08-31 20:53] whedon commented on #3636
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3678.

[2021-08-31 20:53] #3636 closed

[2021-08-31 20:53] whedon commented on #3678
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Thomieh73, @afrubin it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2021-08-31 20:54] whedon commented on #3678
Wordcount for `paper.md` is 1401

[2021-08-31 20:54] whedon commented on #3678
[code]

[2021-08-31 20:54] whedon commented on #3678
[code]

[2021-08-31 20:54] whedon commented on #3678
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03678/joss.03678/10.21105.joss.03678.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03678/joss.03678/10.21105.joss.03678.pdf) :page_facing_up: :point_left:

[2021-08-31 20:56] csoneson commented on #3678
👋🏼 @alexismhill3, @clauswilke, @Thomieh73, @afrubin - this is the review thread for the submission. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from most ot

[2021-08-31 21:00] Bisaloo commented on #3657
Hi @DominiqueMakowski :wave:, I think you could bring some interesting insights given your work on statistical R packages. Would you be interested in reviewing this package for JOSS?

[2021-08-31 21:10] antoinediez commented on #3653
@whedon generate pdf

[2021-08-31 21:10] whedon commented on #3653
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03653/joss.03653/10.21105.joss.03653.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03653/joss.03653/10.21105.joss.03653.pdf) :page_facing_up: :point_left:

[2021-08-31 21:34] jkrumbiegel commented on #3349
Nice, then I think we're good to go

[2021-08-31 23:55] samuelduchesne commented on #3574
Sorry, having some difficulty getting my hands on a Windows computer to test out the tool.

[2021-09-01 00:02] dvm-shlee commented on #2277
@arfon Dear editor, I'm really sorry about the long delay. Have some personal issue cannot focus on the coding for a long time.
And as you suggested, I would like to close this round, and I will re-submit after improving the issue that previous reviewers comments.

Thank you.

[2021-09-01 02:26] jlylekim commented on #3645
Hi @danielskatz and @matthewfeickert,

Yes, if we restrict the LOC to `TUnfoldV17.cxx` file, then it’s true that the implementation of our main algorithm is from line 3706 to line 3877.

However, if we may add a bit more context:

1. `UndersmoothedUnfolding` implements a recently proposed modification of Tikhonov-regularized unfolding so that nominal uncertainty quantification is achieved in a ful

[2021-09-01 02:29] mjsottile commented on #3558
@whedon generate pdf

[2021-09-01 02:30] whedon commented on #3558
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03558/joss.03558/10.21105.joss.03558.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03558/joss.03558/10.21105.joss.03558.pdf) :page_facing_up: :point_left:

[2021-09-01 03:10] mjsottile commented on #3558
Hi @lungsi - I see that you've started making grammatical updates.  It looks like you've addressed a number of the issues that I was going to point out.  Let me know when you are done making changes so I can invite reviewers.

[2021-09-01 03:14] tmickleydoyle commented on #3330
Hey all. Hurricane Ida has impacted my access to the internet. I will try to get my review completed in the next two weeks. Sorry for the delay.

[2021-09-01 03:47] mjsottile commented on #3519
:wave: @jonjoncardoso @mschordan Let me know if you need anything to continue making progress on your reviews.  Don't forget to update your checklists at the top of this review issue so I can track review progress.

[2021-09-01 04:16] lungsi commented on #3558
Hi @mjsottile, Thank you. I was about to generate the pdf. Please go ahead with the invitations.

[2021-09-01 04:25] omshinde commented on #3670
Hi @crvernon
Thanks for the mention. I would be happy to review the submission on "GemGIS - Spatial Data Processing for Geomodeling". Kindly assign me as a reviewer. Regards.

[2021-09-01 06:19] fraukewiese commented on #3574
@samuelduchesne : Thanks for the Update! I can understand that this is difficult. Do you think you will find a Windows computer for the review?

[2021-09-01 06:21] fraukewiese commented on #3625
@nmstreethran, @olejandro : If you have any further questions regarding the review, do not hesitate to ask :)

[2021-09-01 06:34] sjpfenninger commented on #3312
@abhiramm7 @giodegas Now that there is a docker install available, could you give us an update on your reviews?

[2021-09-01 07:14] dilawar commented on #3464
I have one unchecked item.

- [ ] Automated tests: Are there automated tests or manual steps described so that the functionality of the software can be verified?

I guess this has been resolved by https://github.com/openjournals/joss-reviews/issues/3464#issuecomment-896383752 (also https://github.com/openjournals/joss-reviews/issues/3464#issuecomment-895890308)?

[2021-09-01 07:17] dilawar commented on #3464
- [x] CI is added: https://github.com/COVID-IWG/epimargin/actions/runs/1162050595 👍🏽 .
- [x] Outdated studies are not part of repo anymore.
- [x] Testing framework can be added in the future.

These closes the last item I had on my list.

[2021-09-01 07:23] hechth commented on #3471
@hugoledoux @tgoelles You have my approval :) There are things to improve in the software, but that will always be the case (in any project) but the software is well documented, easy to use and develop for.

[2021-09-01 07:26] arfon commented on #2277
@whedon withdraw

[2021-09-01 07:26] #2277 closed

[2021-09-01 08:07] Kevin-Mattheus-Moerman commented on #3349
@whedon accept deposit=true from branch joss-paper

[2021-09-01 08:07] whedon commented on #3349
[code]

[2021-09-01 08:08] whedon commented on #3349
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1432978643320516608) 👈 🐦🐦🐦

[2021-09-01 08:08] whedon commented on #3349
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2563
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03349](https://doi.org/10.21105/joss.03349)
2. If everything look

[2021-09-01 08:13] Nikoleta-v3 commented on #3464
Thank you @dilawar and @wxwx1993 for your comments and time! @satejsoman I would like to have one final look over the paper before we can proceed 👍🏻

[2021-09-01 08:18] Nikoleta-v3 commented on #3538
commit: https://github.com/Hegghammer/daiR/commit/8061e439cd5eace1664cc72b40f844c05e5df2f3

[2021-09-01 08:18] Nikoleta-v3 commented on #3538
@whedon generate pdf

[2021-09-01 08:18] whedon commented on #3538
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03538/joss.03538/10.21105.joss.03538.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03538/joss.03538/10.21105.joss.03538.pdf) :page_facing_up: :point_left:

[2021-09-01 08:25] tgoelles commented on #3471
@hechth Thanks for your thorough review and your inputs!

[2021-09-01 08:29] arfon commented on #3663
:zap: thanks @linuxscout! I'll go ahead and add you here but won't open the actual review until I've found a second reviewer.

@cmaimone @pmyteh – thanks for the responses, and apologies for asking you to review. I didn't realize you were already working on reviews for us ✨

[2021-09-01 08:29] arfon commented on #3663
@whedon add @linuxscout as reviewer

[2021-09-01 08:29] whedon commented on #3663
OK, @linuxscout is now a reviewer

[2021-09-01 08:41] ArneTillmann commented on #3663
Hi @linuxscout
thanks for reviewing our work.
do you have a suggestion for a second reviewer?

[2021-09-01 09:00] arfon commented on #3663
:wave: @mbod @sptennak @esadr – would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under review here is [_AuDoLab: Automatic document labelling and1 classification for extremely unbalanced data_](https://github.com/

[2021-09-01 09:45] patrickfuchs commented on #3521
@richardjgowers I just released version 1.6, would it possible to make it the new target of this review? Thanks in advance.

[2021-09-01 09:49] Kevin-Mattheus-Moerman commented on #3349
@jkrumbiegel  @arfon I'll leave this issue open to discuss the finalization of the archive editing. Please update us if you hear from Zenodo or once you've edited the information.

[2021-09-01 10:23] RiccardoBiondi commented on #3447
Dear all,
First, thank you, @amtseng, for your precious advices.
For what concern the installation, We have modified the instruction as suggested and add the minimum required versions for pytest and hypothesis.

For what concern the example, We have add in the online documentation a jupyter notebook which explains step by step the pipeline showing the intermediate results. That because to include

[2021-09-01 10:25] richardjgowers commented on #3521
@whedon set v1.6 as version

[2021-09-01 10:25] whedon commented on #3521
OK. v1.6 is the version.

[2021-09-01 10:42] crvernon commented on #3670
Thanks @omshinde !  I'll add you.  Once we get one more reviewer to sign on, we will get things started.

[2021-09-01 10:43] crvernon commented on #3670
@whedon assign @omshinde as reviewer

[2021-09-01 10:43] whedon commented on #3670
OK, @omshinde is now a reviewer

[2021-09-01 10:48] meg-simula commented on #3665
In light of the delay in response in just this editor request, I think I will have to pass on this one...

[2021-09-01 11:00] whedon commented on #3625
:wave: @nmstreethran, please update us on how your review is going (this is an automated reminder).

[2021-09-01 11:00] whedon commented on #3625
:wave: @olejandro , please update us on how your review is going (this is an automated reminder).

[2021-09-01 11:22] landreman commented on #3525
@ZedThree Thanks for taking the time to look at the code and for your comments. I agree that the C++ components could use more comments and documentation - this is on my to-do list.

[2021-09-01 11:45] dmey commented on #2863
@danielskatz and @oliviaguest would you have an update about this submission? Please let me know if you are waiting for further changes from my side. If not please can you use https://github.com/openjournals/joss-reviews/issues/2863#issuecomment-901292885 as final version for the summary-paper and version 1.1.0 with corresponding Zenodo archive https://zenodo.org/record/5358432 (currently set to a

[2021-09-01 11:57] lpantano commented on #3615
hi @chrisamiller, would you suggest any reviewer from the list? i keep looking for reviewers meanwhile. thanks!

[2021-09-01 11:58] lpantano commented on #3358
@llrs, any updates on this? thanks!

[2021-09-01 12:32] danielskatz commented on #3645
@jlylekim - While I appreciate your comments, and particularly that you are extending an existing code, we are still going to reject this as not meeting the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS

[2021-09-01 12:33] danielskatz commented on #3645
@whedon reject

[2021-09-01 12:33] whedon commented on #3645
Paper rejected.

[2021-09-01 12:33] #3645 closed

[2021-09-01 12:38] llrs commented on #3358
Yes, sorry for the long silence. I have an updated version of the manuscript almost ready to be updated again. There weren't many (any) issues with the software.

However, I have a doubt about the "Substantial scholarly effort" criteria. It was approved for review with a comment about the small size of the software. Both reviewers didn't mark the "Substantial scholarly effort" (I think because the

[2021-09-01 12:57] luciorq commented on #3656
Sure, count on me @prashjha! I will go through the process as soon as possible.

[2021-09-01 13:02] broncio123 commented on #3482
Hi @nicoguaro , as for the last point, could you share with us a jupyter notebook or script with the setup of your simulation? Thanks! :)

[2021-09-01 13:04] hakanfriden commented on #2971
Dear ???

Maybe I am not qualified for review as I do not have access to all mentioned toolboxes.

Anyway I could run the program with my current licenses.

/Håkan

From: Devosmita Chatterjee ***@***.***
Sent: Tuesday, 31 August 2021 20:24
To: openjournals/joss-reviews
Cc: hakanfriden; Mention
Subject: Re: [openjournals/joss-reviews] [PRE REVIEW]: DataCleaningTool: An open-source MATLAB app for co

[2021-09-01 13:07] prashjha commented on #3656
@luciorq thank you! I will go ahead and start the review. :)

[2021-09-01 13:07] prashjha commented on #3656
Hello @tupi and @sridhar0605, we now have two reviewers so please ignore my requests. :)

[2021-09-01 13:08] prashjha commented on #3656
@arianesasso hello, we have two reviewers so starting the review. Please keep an eye on any comments or issues created by reviewers during the review process.

[2021-09-01 13:09] prashjha commented on #3656
@whedon start review

[2021-09-01 13:09] whedon commented on #3656
It looks like you don't have an editor and reviewer assigned yet so I can't start the review. Try one or more of these commands:

[code]

[2021-09-01 13:09] prashjha commented on #3656
@wheddon assign @djmitche as reviewer

[2021-09-01 13:10] prashjha commented on #3656
@whedon add @luciorq as reviewer

[2021-09-01 13:10] devosmitachatterjee2018 commented on #2971
@arfon

Today I talked to Shubo Chakrabarti (Science Gateways Strategist at MathWorks) . He informed that any member of any of the Universities offering Campus Wide Licenses worldwide has access to all toolboxes. There are platforms such as wholetale.org that offer free MATLAB access to anyone precisely for cases such as these. Any reviewer can also download free 30 day trials for any toolbox - ht

[2021-09-01 13:10] whedon commented on #3656
OK, @luciorq is now a reviewer

[2021-09-01 13:10] whedon commented on #3656
OK, @djmitche is now a reviewer

[2021-09-01 13:11] prashjha commented on #3656
@whedon start review

[2021-09-01 13:11] whedon opened #3679 "[REVIEW]: Devicely: A Python package for reading, timeshifting and writing sensor data"
**Submitting author:** @arianesasso (<a href="http://orcid.org/0000-0002-3669-4599">AM Sasso, A Sasso</a>)
**Repository:** <a href="https://github.com/hpi-dhc/devicely/" target ="_blank">https://github.com/hpi-dhc/devicely/</a>
**Version:** v1.1.0
**Editor:** @prashjha
**Reviewer:** @luciorq, @djmitche
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges o

[2021-09-01 13:11] #3656 closed

[2021-09-01 13:11] whedon commented on #3679
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @luciorq, @djmitche it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2021-09-01 13:11] whedon commented on #3679
Wordcount for `paper.md` is 1022

[2021-09-01 13:11] whedon commented on #3679
[code]

[2021-09-01 13:11] whedon commented on #3679
[code]

[2021-09-01 13:11] whedon commented on #3679
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03679/joss.03679/10.21105.joss.03679.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03679/joss.03679/10.21105.joss.03679.pdf) :page_facing_up: :point_left:

[2021-09-01 13:13] prashjha commented on #3679
Thank you @djmitche and @luciorq for agreeing to be reviewers. Please read the comments above in this thread and also reviewer guidelines [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html). Also, you can browse the closed "REVIEW" issues on the "joss-reviews" repository to get some ideas on how to complete the reviews. Thanks again and good luck!

[2021-09-01 13:22] ShuboChakrabarti commented on #2971
Hi Arfon,

As Devosmita mentioned,

1. The easiest way for a reviewer to access MATLAB toolboxes would be to
download a free trial valid for 30 days.
2. If the author so wishes, they might want to upload their code onto a
reproducibility platform such as CodeOcean or WholeTale who we partner with
to offer MATLAB access. This means academics can access MATLAB at those
sites and reproduce code writt

[2021-09-01 13:30] nasserma commented on #3626
Hello @lucydot, thanks for agreeing to be the editor for our submission. We have gone through the list of reviewers you provided and, in reverse order from their appearance on the list:

1481) TJFord
1360) jamiebramwell
1093) bonh
451) mikaem
351) ctdegroot
302) highlando

[2021-09-01 13:33] kyleniemeyer commented on #3605
Congratulations @MAnalytics on your article's publication in JOSS!

Many thanks to @cjbarrie, @justinchuntingho, and @jaeyk for reviewing this submission, and @ajstewartlang for editing.

[2021-09-01 13:33] #3605 closed

[2021-09-01 13:33] whedon commented on #3605
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03605/status.svg)](https://doi.org/10.21105/joss.03605)

**We need your help!**

Journal of Open Source Softwa

[2021-09-01 13:35] kyleniemeyer commented on #3416
@whedon accept deposit=true from branch paper

[2021-09-01 13:35] whedon commented on #3416
[code]

[2021-09-01 13:36] whedon commented on #3416
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1433061143371730944) 👈 🐦🐦🐦

[2021-09-01 13:36] whedon commented on #3416
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2564
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03416](https://doi.org/10.21105/joss.03416)
2. If everything look

[2021-09-01 13:36] kyleniemeyer commented on #3419
@whedon accept deposit=true from branch joss-paper

[2021-09-01 13:36] whedon commented on #3419
[code]

[2021-09-01 13:37] whedon commented on #3419
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1433061393817866245) 👈 🐦🐦🐦

[2021-09-01 13:37] whedon commented on #3419
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2565
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03419](https://doi.org/10.21105/joss.03419)
2. If everything look

[2021-09-01 13:37] kyleniemeyer commented on #3416
Congratulations @bshoshany on your article's publication in JOSS!

Many thanks to @kostunin and @amelialdrew for reviewing this, and @VivianePons for editing.

[2021-09-01 13:37] #3416 closed

[2021-09-01 13:37] whedon commented on #3416
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03416/status.svg)](https://doi.org/10.21105/joss.03416)

**We need your help!**

Journal of Open Source Softwa

[2021-09-01 13:39] kyleniemeyer commented on #3419
Congratulations @dionhaefner on your article's publication in JOSS!

Many thanks to @1313e and @Himscipy for reviewing this, and @kellyrowland for editing.

[2021-09-01 13:39] #3419 closed

[2021-09-01 13:39] whedon commented on #3419
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03419/status.svg)](https://doi.org/10.21105/joss.03419)

**We need your help!**

Journal of Open Source Softwa

[2021-09-01 13:41] bshoshany commented on #3416
Awesome! Thank you so much @amelialdrew, @kostunin, @VivianePons, @kyleniemeyer, and last but not least, @whedon :)

[2021-09-01 13:44] xp-song commented on #3609
I'm not too experience with testing with 'clean' installation myself (other than the [R-CMD-Check](https://github.com/r-quantities/units/issues/223), which works fine), but based on [this post](https://stackoverflow.com/questions/45383754/simplest-way-to-test-installation-of-r-package-on-fresh-r-install), I managed to install it using a new conda environment:

**In my command line (Mac Terminal)**

[2021-09-01 14:03] kyleniemeyer commented on #3439
Congratulations @gomezzz on your article's publication in JOSS!

Many thanks to @felipefr and @scarlehoff for reviewing this submission, and @jbytecode for editing.

[2021-09-01 14:03] #3439 closed

[2021-09-01 14:03] whedon commented on #3439
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03439/status.svg)](https://doi.org/10.21105/joss.03439)

**We need your help!**

Journal of Open Source Softwa

[2021-09-01 14:09] broncio123 commented on #3482
Hi @jmbr , I'm probably not understanding your comment

By mirroring the interface, do you mean that for the function `base.EulerMaruyama_solver` the ordering and the format of the input parameters

 `(t_initial, u_initial, vector_field, ...)`

 should match the ordering and the format of the input parameters of  something like

 `scipy.integrate.solve_ivp(fun, t_span, y0, method='RK45', t_eval=No

[2021-09-01 14:12] hakanfriden commented on #2971
Hello Afron!

I could have another look at this program.
The software is a bit premature.
As I have told Devosmita, there are a couple of things that can be improved.

Where can I find any reviewer instructions?
Is there a list of issues to be addressed in the review process?

/Håkan

[2021-09-01 14:15] arfon commented on #2971
@whedon start review

[2021-09-01 14:15] whedon opened #3680 "[REVIEW]: DataCleaningTool: An open-source MATLAB app for cooperative data cleaning"
**Submitting author:** @devosmitachatterjee2018 (<a href="http://orcid.org/0000-0001-8041-8391">DEVOSMITA CHATTERJEE</a>)
**Repository:** https://github.com/devosmitachatterjee2018/DataCleaningTool
**Branch with paper.md** (empty if default branch):
**Version:** v1.0
**Editor:** @arfon
**Reviewers:** @hakanfriden
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the c

[2021-09-01 14:15] whedon commented on #2971
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3680.

[2021-09-01 14:15] whedon commented on #3680
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @hakanfriden it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.jos

[2021-09-01 14:15] whedon commented on #3680
Wordcount for `paper.md` is 825

[2021-09-01 14:15] whedon commented on #3680
[code]

[2021-09-01 14:15] arfon commented on #2971
@hakanfriden please head over to #3680 where there are detailed reviewer instructions. In the meantime, I will work to find a second reviewer.

[2021-09-01 14:15] whedon commented on #3680
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03680/joss.03680/10.21105.joss.03680.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03680/joss.03680/10.21105.joss.03680.pdf) :page_facing_up: :point_left:

[2021-09-01 14:16] arfon commented on #3680
@hakanfriden – This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There ar

[2021-09-01 14:17] arfon commented on #3680
@devosmitachatterjee2018 – just an FYI, I'm still looking for a second reviewer here and would welcome any names (GitHub handles) you would recommend.

[2021-09-01 14:20] nravanelli commented on #3655
@whedon generate pdf

[2021-09-01 14:21] whedon commented on #3655
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03655/joss.03655/10.21105.joss.03655.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03655/joss.03655/10.21105.joss.03655.pdf) :page_facing_up: :point_left:

[2021-09-01 14:35] alexlib commented on #3611
@whedon commands

[2021-09-01 14:35] whedon commented on #3611
Here are some things you can ask me to do:

[code]

[2021-09-01 14:35] alexlib commented on #3611
@whedon check references

[2021-09-01 14:35] whedon commented on #3611
[code]

[2021-09-01 14:37] alexlib commented on #3611
@whedon generate pdf

[2021-09-01 14:37] whedon commented on #3611
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03611/joss.03611/10.21105.joss.03611.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03611/joss.03611/10.21105.joss.03611.pdf) :page_facing_up: :point_left:

[2021-09-01 14:41] alexlib commented on #3611
I completed my review and happy to recommend this work for publication

[2021-09-01 14:49] chrisamiller commented on #3615
From a quick look, it seems like any of these folks would have the relevant expertise:

standage
afrubin
will-rowe
ctb
iskandr
kortschak
VivekTodur

[2021-09-01 15:12] JeanBilheux commented on #3426
**Functionality documentation**

I added a quick tutorial in the README but a more detail instruction can be found [here](https://neutronimaging.pages.ornl.gov/tutorial/notebooks/circular_profile_of_a_ring/#activate-search) as mentioned at the top of the README.

[2021-09-01 15:21] JeanBilheux commented on #3426
**Automated tests**

I added instructions on how to run the unit tests and fixed the important warnings.
https://github.com/neutronimaging/circular_profiler/issues/4

[2021-09-01 15:27] whedon commented on #3631
:wave: @dirmeier, please update us on how your review is going (this is an automated reminder).

[2021-09-01 15:27] whedon commented on #3631
:wave: @StefanOlin, please update us on how your review is going (this is an automated reminder).

[2021-09-01 15:46] JeanBilheux commented on #3426
I added some comments about **Community Guidelines** in the README.

[2021-09-01 15:53] JeanBilheux commented on #3426
**Statement of need**

Rewrote it by using a more general example where this tool can be used.

[2021-09-01 15:54] fraukewiese commented on #3585
@bocklund – would you be willing to review this submission for JOSS?
The submission under review here is
[HydDown: A Python package for calculation of hydrogen (or other gas) pressure vessel filling and discharge](https://github.com/andr1976/HydDown)

[2021-09-01 16:08] lucydot commented on #3662
Hi @govarguz and @fturci :wave: would you be able to review given your experience in soft matter and python?

@fturci I think this may be the first time you've been invited to review for JOSS (?) - I've sent you an email with a little more information

[2021-09-01 16:22] lucydot commented on #3626
Hi @nasserma thanks for the suggestions.

Hi @highlando and @jamiebramwell :wave: are you available to review this submission? Seems that you both have the Python and domain specific expertise needed.

[2021-09-01 16:23] kellyrowland commented on #3212
Hello @pboesu @molgor @alexpghayes 👋 - would any of you be willing and available to review this paper for JOSS in the near future?

[2021-09-01 16:28] slwu89 commented on #3539
@whedon generate pdf

[2021-09-01 16:29] whedon commented on #3539
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03539/joss.03539/10.21105.joss.03539.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03539/joss.03539/10.21105.joss.03539.pdf) :page_facing_up: :point_left:

[2021-09-01 16:29] pboesu commented on #3212
I'm really sorry, but I am swamped with editorial duties elsewhere at the moment.

[2021-09-01 16:35] kellyrowland commented on #3212
No problem at all, thanks for the quick response.

[2021-09-01 16:57] amelialdrew commented on #3416
No problem, congratulations!

[2021-09-01 17:57] osorensen commented on #3597
@ethanknights and @kasbohm, how is it going with your reviews? If you have any particular issues or suggestions, please feel free to eleborate here or start an issue in the source repository.

[2021-09-01 18:17] JeanBilheux commented on #3426
**State of the field**: I can not compare this software to other packages as to my knowledge, there isn't any.
**References**: Data used in this study are protected. Algorithm was developed by owner of this code.

[2021-09-01 18:17] fboehm commented on #3639
:wave: @zfrenchee and @RuneBlaze - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html. Thanks for considering this.

[2021-09-01 18:17] JeanBilheux commented on #3426
@michaelberks Thanks Michael for all your comments. I think I answered all of them. Feel free to check again.

[2021-09-01 18:20] fboehm commented on #3639
:wave: @jmcgonigle, @smsaladi, @dvanic, @carleshf, @jkanche - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html. Thanks for considering this.

[2021-09-01 18:22] bocklund commented on #3585
@fraukewiese, I'd be happy to review HydDown.

[2021-09-01 18:43] alexpghayes commented on #3212
I'm unable at the moment, good luck finding someone :)

[2021-09-01 19:41] TimKam commented on #3587
Yes, I'd gladly review; but I can't promise to be fast.

[2021-09-01 19:44] aaron-bray commented on #2555
I think we have addressed the provided issues

Items

1. We were able to successfully execute without this error on multiple machines, so perhaps we had already fixed this issue.

2. This has been addressed.

3. We have expanded the ReadMe explanation of how we determine pass/fail and more detailed explanation of the HTML report generated.

4. We have added explicit PASS/FAIL wording to the table

[2021-09-01 20:23] kellyrowland commented on #3212
Thanks for letting me know!

[2021-09-01 20:38] Nikoleta-v3 commented on #3464
@whedon generate pdf

[2021-09-01 20:39] whedon commented on #3464
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03464/joss.03464/10.21105.joss.03464.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03464/joss.03464/10.21105.joss.03464.pdf) :page_facing_up: :point_left:

[2021-09-01 20:53] devosmitachatterjee2018 commented on #3680
@arfon

Thanks for the update. As suggested, I am looking for reviewer and I will get back to you as soon as possible.

Best regards
Devosmita

[2021-09-01 22:48] samuelduchesne commented on #3574
@fraukewiese it looks like it will be a while before a get my hands on one. I am transitioning into a new job and had to return my lab computer. I don’t have admin rights on the new one.

I might be quicker to assign a reviewer?

[2021-09-02 01:15] afrubin commented on #3678
@csoneson not sure why, but I'm unable to check any of the boxes in my checklist.

[2021-09-02 01:19] afrubin commented on #3678
@alexismhill3 there are several (mostly old) open issues in the GitHub repository at this time. What is the status of these issues? Some of them seem worth fixing, especially the temp file (https://github.com/wilkelab/Opfi/issues/181) and missing documentation (https://github.com/wilkelab/Opfi/issues/30) issues.

It would be helpful to know before we start adding our own comments during the review

[2021-09-02 06:23] StefanOlin commented on #3631
I currently don't have access to a computer where I can compile and run the
code, not sure when I'm allowed back in the office, but it won't be this
month (September).

Den ons 1 sep. 2021 kl 17:28 skrev whedon ***@***.***>:

--
Stefan Olin
Researcher
Department of Physical Geography and Ecosystem Science
Lund University

***@***.***
***@***.***

[2021-09-02 06:53] WilkAndy commented on #3314
Thanks for more suggestions on how to improve the manuscript, @smolins .   I believe i have addressed all your points.   The changes may be seen at https://github.com/idaholab/moose/pull/18689/files and a new PDF may be made by going to https://whedon.theoj.org/ and using repo https://github.com/WilkAndy/moose and branch joss_geochem_18610 .

- Regarding use of `geochemistry`'s inbuilt transport c

[2021-09-02 06:58] Bisaloo commented on #3657
@whedon add @bernardsilenou as reviewer

[2021-09-02 08:15] pdebuyl commented on #3076
@georgiastuart there are only two items missing in your reviewer checklist. Did you go over the submission again, and if so, what changes remain necessary in your opinion?

[2021-09-02 08:24] mikesmithlab commented on #3611
This issue has now been resolved. The testdata on my personal webpage is now up to date.

[2021-09-02 10:06] llrs commented on #3358
@whedon generate pdf from branch paper

[2021-09-02 10:06] whedon commented on #3358
[code]

[2021-09-02 10:06] whedon commented on #3358
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03358/joss.03358/10.21105.joss.03358.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03358/joss.03358/10.21105.joss.03358.pdf) :page_facing_up: :point_left:

[2021-09-02 10:36] llrs commented on #3358
@whedon generate pdf from branch paper

[2021-09-02 10:36] whedon commented on #3358
[code]

[2021-09-02 11:07] llrs commented on #3358
@lpantano Submitting this new version for further comments and if decided to publication.

Here are some comments on the review @stemangiola.:
- The license is both on the DESCRIPTION of the package and on the LICENSE.md and LICENSE file on the root directory with an approved OSI license in plain text.
- I have provided examples on the paper about how to use the program. In addition to reviewing t

[2021-09-02 12:31] jessecambon commented on #3544
We updated the paper to include a comparison to other R packages (state of the field).

[2021-09-02 12:31] whedon commented on #3544
[code]

[2021-09-02 12:31] whedon commented on #3544
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03544/joss.03544/10.21105.joss.03544.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03544/joss.03544/10.21105.joss.03544.pdf) :page_facing_up: :point_left:

[2021-09-02 12:35] rclipp commented on #2555
@ianhinder Thanks for your review. I think we were able to address the majority of your concerns as noted above.

@danielskatz Please let us know next steps from here or what you need from us to continue.

Thanks!

[2021-09-02 12:39] danielskatz commented on #2555
Thanks @rclipp and @aaron-bray.

The next step is for @ianhinder to take a look at your changes, and see if he can now check off the remaining items in his checklist, and if not, what else he thinks is needed.

[2021-09-02 13:38] crvernon commented on #3634
:mega: Hello all!  It looks like @rmflight  and @corybrunson have made good progress on the review!  Also, great work @mingzehuang and @irinagain in addressing their issues as they arise.

**Just a reminder for the reviewers:**  don't forget to check off the reviewer checklist as you feel your comments have been sufficiently addressed.  Also, once you believe your review to be completed, shoot me

[2021-09-02 13:43] crvernon commented on #3666
:mega:  Mid-week rally!  Just checking in to see how things are going @dbuscombe-usgs and @chrisleaman ?  Don't hesitate to reach out if you have any questions.

👏 Keep up the good work!

[2021-09-02 14:10] takuma929 commented on #3449
Hi @RodDalBen  sorry for the delay, but I have just posted my comments here.

https://github.com/RodDalBen/SHINE_color/issues/7#issue-986779868

[2021-09-02 14:19] KristinaRiemer commented on #3467
@Shyentist just checking in to see how your updates are going...let me know if you need anything!

[2021-09-02 14:23] KristinaRiemer commented on #3383
@KristianNelson I hope the updates are going well! I have pinged @fsanchez-trigueros via email about their review.

[2021-09-02 14:31] crhea93 commented on #3635
@crvernon My review is complete. I wholeheartedly suggest JOSS publishes this work!

[2021-09-02 14:38] crvernon commented on #3635
:clap: Thanks @crhea93 for your volunteering your time and providing a thoughtful review!

[2021-09-02 14:44] rmorgan10 commented on #3635
@crvernon Mine is all done too. Congrats @grant-m-s on a fantastic package!

[2021-09-02 14:44] abhiramm7 commented on #3312
I have reviewed most of the submission, I just need to go over the installation and use of the docker install. I'll try to wrap this today or latest by tomorrow. Thanks for the reminder.

[2021-09-02 14:50] crvernon commented on #3635
:clap: Thanks so much @rmorgan10 !  Your time and effort in reviewing this submission is greatly appreciated!

[2021-09-02 14:54] grant-m-s commented on #3635
Thank you @rmorgan10 and @crhea93 . I really appreciate your feedback and making my first review such a pleasant experience. Thanks again @crvernon managing everything.

[2021-09-02 15:28] grant-m-s commented on #3635
@crvernon  what’s the next step in the process?

[2021-09-02 15:39] crvernon commented on #3635
@grant-m-s - I'll take a look at the paper document later today and build a list of any edits I think need to be made (if there are any).

Once I deem everything is good to go, I'll get you to generate a release and an accompanying DOI as linked with a service like Zenodo that corresponds to the final review version.

Lastly, once all has been accounted for, I'll make my recommendation to the edit

[2021-09-02 15:53] Shyentist commented on #3467
@KristinaRiemer hi, I have made [some improvements](https://github.com/Shyentist/fish-r-man/issues?q=is%3Aissue+milestone%3A%22Second+JOSS+Review%22+is%3Aclosed) for what was pointed out during the first review, and I am working on the actual paper as of now. I will surely let you know in case I need anything, thank you!

[2021-09-02 17:16] crvernon commented on #3635
@whedon generate pdf from branch joss-paper-branch

[2021-09-02 17:16] whedon commented on #3635
[code]

[2021-09-02 17:17] whedon commented on #3635
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03635/joss.03635/10.21105.joss.03635.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03635/joss.03635/10.21105.joss.03635.pdf) :page_facing_up: :point_left:

[2021-09-02 17:26] crvernon commented on #3635
@whedon check references

[2021-09-02 18:08] crvernon commented on #3635
@grant-m-s your `joss-paper-branch` is 9 commits behind and 5 commits ahead of the `master` branch.  Some of your changes per review comments were only made to the `master` and the paper directory resides on the `joss-paper-branch`.  Are you planning on merging `joss-paper-branch` into `master`?

[2021-09-02 18:11] crvernon commented on #3635
@grant-m-s - In your [Citing the Software](https://astronomical.readthedocs.io/en/latest/content/other/citing.html#id9) documentation, you mention that:

Could you please give me a link to that preprint?

[2021-09-02 18:15] grant-m-s commented on #3635
@crvernon That was added at the beginning of the docs being created as we assumed we would upload but we never actually did. Would you rather that I remove that?

[2021-09-02 18:15] grant-m-s commented on #3635
and I will merge the paper into master now.

[2021-09-02 18:19] crvernon commented on #3635
Yes, if the `arXiv` submission was never made it would be good to remove this to support the originality of this work.  Thank you!

[2021-09-02 18:28] grant-m-s commented on #3635
@whedon generate pdf

[2021-09-02 18:29] whedon commented on #3635
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03635/joss.03635/10.21105.joss.03635.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03635/joss.03635/10.21105.joss.03635.pdf) :page_facing_up: :point_left:

[2021-09-02 18:30] grant-m-s commented on #3635
@crvernon all merged and updated the citation page.

[2021-09-02 18:32] crvernon commented on #3635
@whedon check references

[2021-09-02 18:32] whedon commented on #3635
[code]

[2021-09-02 18:52] fboehm commented on #3639
@metelkin - yes, please feel free to suggest additional reviewers. Please feel free to include possible reviewers who don't have a github account. Thanks again!

[2021-09-02 19:13] whedon commented on #3634
:wave: @rmflight , please update us on how your review is going (this is an automated reminder).

[2021-09-02 19:13] whedon commented on #3634
:wave: @corybrunson, please update us on how your review is going (this is an automated reminder).

[2021-09-02 19:23] diehlpk commented on #3631
@StefanOlin Thanks for the update.

[2021-09-02 19:27] diehlpk commented on #3630
Are you still interested?

[2021-09-02 19:27] crvernon commented on #3635
@grant-m-s - Your paper is looking great!  Here are several things I would like you to address from my review of your paper before we move on:

- [ ] Please check the missing DOI in the references (see the above `whedon check references` output ☝️)
- [ ] Please review any other references to ensure that you have added in their DOI to the citation if there is one available.  Sometimes these get exc

[2021-09-02 19:58] diehlpk commented on #3390
@Muhao-Chen  can you please have a look at the comments and let Kevin know once you have addressed them.

[2021-09-02 20:17] Muhao-Chen commented on #3390
@diehlpk Will finish it soon. Thank you so much!

[2021-09-02 20:20] corybrunson commented on #3634
Good timing! I'm resuming my review now. : )

[2021-09-02 20:36] grant-m-s commented on #3635
@whedon generate pdf

[2021-09-02 20:36] whedon commented on #3635
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03635/joss.03635/10.21105.joss.03635.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03635/joss.03635/10.21105.joss.03635.pdf) :page_facing_up: :point_left:

[2021-09-02 20:40] grant-m-s commented on #3635
@crvernon so I've added all doi's I can find, its mainly the software packages that dont have a zenodo that I'm missing.

I've referenced all the figures in the text now.

Figure 1 is still ahead in the text as I believe it fits much better there rather than half way through the section. Let me know if that's against any style requirements.

Authors and Affiliations are all good.

[2021-09-02 20:49] crvernon commented on #3635
@grant-m-s - I think the figure referencing looks good.

[2021-09-02 20:49] crvernon commented on #3635
@whedon check references

[2021-09-02 20:50] whedon commented on #3635
[code]

[2021-09-02 20:52] grant-m-s commented on #3635
hmm both seem to be ACM doi's that aren't matched anywhere else besides the ACM website.

should I remove them?

[2021-09-02 20:54] crvernon commented on #3635
Yes, please remove them.  It looks like those repos only site the tag on GitHub and not a DOI.  Please pull the two invalid ones and we will proceed.

[2021-09-02 21:01] grant-m-s commented on #3635
ok they've now been removed

[2021-09-02 21:02] crvernon commented on #3635
@whedon check references

[2021-09-02 21:02] whedon commented on #3635
[code]

[2021-09-02 21:03] crvernon commented on #3601
:wave: @lisazeyen I have addressed both of your recent issues.  Thanks for the additional feedback!

[2021-09-02 21:07] crvernon commented on #3635
@whedon generate pdf

[2021-09-02 21:08] whedon commented on #3635
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03635/joss.03635/10.21105.joss.03635.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03635/joss.03635/10.21105.joss.03635.pdf) :page_facing_up: :point_left:

[2021-09-02 21:17] robertsawko commented on #2978
Hello and thanks to @danielskatz for a ping on another email.

@BenMql thanks for addressing all of the comments. I think the wiki looks very clear now and examples are well described. I don't have any further comments. I've checked the remaining boxes.

[2021-09-02 21:17] danielskatz commented on #2978
Thanks @robertsawko

[2021-09-02 21:20] danielskatz commented on #2978
@BenMql - I'll proofread the paper shortly, then give you a few final steps (perhaps including suggested text changes) to do.

[2021-09-02 21:32] crvernon commented on #3635
@grant-m-s we are almost there!  Next is just setting up the archive for your new release.  Since there have not been any releases yet in your repo, here are a few pointers:

- I find Zenodo easy to use to mint a DOI (permanent archive identifier) for each GitHub release.  You will likely need to create a free Zenodo account and link your GitHub repository to it.  Then once linked, you can conduct

[2021-09-02 21:33] corybrunson commented on #3634
The package is quite easy to use and i fully intend to make use of it myself, so i thank the authors for creating it! I have reviewed the package and the paper and raised all issues that occurred to me. I may raise more as others are addressed, but for the time being i welcome responses (whether revisions or feedback) from the authors. : )

[2021-09-02 21:41] crvernon commented on #3634
Excellent!  Thanks @corybrunson !

[2021-09-02 21:59] Nikoleta-v3 commented on #3464
Thank you for your patience @satejsoman. The paper looks really good 👍🏻

Your package is a very useful tool, and it would be great to see it being used to analyse data across the globe. One question: Assume that I want to analyse data for Greece which have been downloaded from a different source and not `covid19india.org`. Would I have to tweak the format of my data to a "standard" one - so they c

[2021-09-02 22:00] grant-m-s commented on #3635
@crvernon  10.5281/zenodo.5396671

[2021-09-02 22:04] danielskatz commented on #2978
@whedon check references

[2021-09-02 22:04] whedon commented on #2978
[code]

[2021-09-02 22:04] danielskatz commented on #2978
@whedon generate pdf

[2021-09-02 22:05] whedon commented on #2978
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02978/joss.02978/10.21105.joss.02978.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02978/joss.02978/10.21105.joss.02978.pdf) :page_facing_up: :point_left:

[2021-09-02 22:13] crvernon commented on #3635
@whedon set v1.0 as version

[2021-09-02 22:13] whedon commented on #3635
OK. v1.0 is the version.

[2021-09-02 22:13] crvernon commented on #3635
@whedon set 10.5281/zenodo.5396671 as archive

[2021-09-02 22:13] whedon commented on #3635
OK. <a href="https://doi.org/10.5281/zenodo.5396671" target="_blank">10.5281/zenodo.5396671</a> is the archive.

[2021-09-02 22:19] danielskatz commented on #2978
@BenMql  - I've suggested some changes in https://github.com/BenMql/coral/pull/22 - please either merge these or let me know what you disagree with

[2021-09-02 22:20] crvernon commented on #3635
🎉  @grant-m-s thanks for putting together a really nice software product!  Thanks to @crhea93 and @rmorgan10 for a constructive and timely review!

I am recommending that your submission be accepted.  An EIC will review this shortly and confirm final publication if all goes well.

[2021-09-02 22:20] crvernon commented on #3635
@whedon recommend-accept

[2021-09-02 22:20] whedon commented on #3635
[code]

[2021-09-02 22:21] whedon commented on #3635
[code]

[2021-09-02 22:21] whedon commented on #3635
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2566

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2566, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-03 00:22] chrisleaman commented on #3666
Thanks @crvernon, I've had a read of the paper and just summarizing my thoughts. Also planning to run the package on some of my own data to test it out 😄

[2021-09-03 00:43] RodDalBen commented on #3449
Hi @takuma929, thank you for the very helpful suggestions/comments. I plan to work on them soon, I will keep you posted.

[2021-09-03 03:24] nhejazi commented on #3543
Hi @oneilsh, great work on `tidytensor`! My apologies for the delay in getting to this review. I've just gone through most of the package documentation and items in the review checklist. I opened two issues in the `tidytensor` repo as part of the review; happy to discuss their contents in those issues. I have a bit more work to do in going through the package functionality but expect to have the f

[2021-09-03 06:13] jamesrhester commented on #3458
I've now finished my review, I'm happy for the paper to be accepted.

[2021-09-03 06:28] satejsoman commented on #3464
Hi @Nikoleta-v3, the estimators generally work on anything that looks like a timeseries in pandas DataFrame form, with the assumption that the index is either an object interpretable as a timestamp, or a simple integer index (I've added clarifying comments to `epimargin/estimators.py`. Many data sources provide data in this format, and for sources that do not, it's usually a simple transformation

[2021-09-03 06:38] arfon commented on #3640
@DanJMulder – many thanks for your submission to JOSS. After review by the JOSS editorial team, this submission has been deemed out of scope for us, not meeting [out definitions of research software](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements).

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/) on h

[2021-09-03 06:38] arfon commented on #3640
@whedon reject

[2021-09-03 06:38] whedon commented on #3640
Paper rejected.

[2021-09-03 06:38] #3640 closed

[2021-09-03 06:39] arfon commented on #3655
@nravanelli – Thanks for your submission to JOSS. After consulting with the JOSS editorial team, we've determined that this work is out of scope for JOSS as it falls into our [minor utility category](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements).

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/) on h

[2021-09-03 06:39] arfon commented on #3655
@whedon reject

[2021-09-03 06:39] whedon commented on #3655
Paper rejected.

[2021-09-03 06:39] #3655 closed

[2021-09-03 07:40] Nikoleta-v3 commented on #3464
No further comments. Everything looks good to me 👍🏻

At this point could you:

- [ ] Make  a new tagged release of your software, and list the version tag of the archived version here.  Currently  `v0.5.2` is listed. I think you should make a new one given the additions and edits to the codebase.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional r

[2021-09-03 07:55] BenMql commented on #2978
@danielskatz -- thank you for your edits, much appreciated. They have been merged.

[2021-09-03 08:36] oyvinht commented on #3558
Dear Matthew Sottile,I would be happy to do this review.-- Kind regards Øyvin Halfdan Thuv Department of Computer Science and Computer Engineering The Arctic University of Norway 

[2021-09-03 09:52] metelkin commented on #3639
Hi @fboehm. I'll try for the last time with guys from the GitHub community.

alexey0308
stjordanis
lptolik
step-by-step
Ahmed7emdan
KirillZubov
timknab
dkolobok
billdenney

[2021-09-03 12:23] danielskatz commented on #2978
@whedon generate pdf

[2021-09-03 12:24] whedon commented on #2978
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02978/joss.02978/10.21105.joss.02978.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02978/joss.02978/10.21105.joss.02978.pdf) :page_facing_up: :point_left:

[2021-09-03 12:30] danielskatz commented on #2978
@BenMql - I missed one issue, which will be fixed if you merge https://github.com/BenMql/coral/pull/23 (I hope) - Please merge this, and run `@whedon generate pdf` to check if it looks ok.  If so, then please go ahead and
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., fig

[2021-09-03 12:33] AlbertWeichselbraun commented on #3557
Dear @reality, dear @sbenthall

Thank you for this valuable feedback. Please find below a detailed description of how I addressed the suggestions outlined in the review. All the listed improvements have been merged into the project's master branch some minutes ago.

Best regards,
  Albert

--

**Issue 1:** For historical reasons, the license has been in the COPYING file. I have renamed the file to

[2021-09-03 12:52] lpantano commented on #3615
@kortschak, would you like and have time to review this tool? Thanks!

[2021-09-03 12:56] lpantano commented on #3358
Thank you, @llrs for your comments. I will wait for the reviewers to come back with their feedback.

I can comment on the "Substantial scholarly effort". It is true we have a cutoff of 1000 lines, but since this is more than 500, I would recommend the reviewers to evaluate whether this tools would be useful and cited in the future, and recommend any addition that would make a difference in that se

[2021-09-03 13:45] clauswilke commented on #3678
@afrubin The vast majority of the old issues were stale and we have started closing them. The temp-file issue unfortunately is caused by a dependency and doesn't have an easy fix. Documentation has improved massively since spring 2020.

Any requests for improvement, new features, or bug fixes should be filed as new issues. Thanks!

[2021-09-03 13:47] jkanche commented on #3639
Hello @fboehm Unfortunately i don't have any expertise in this particular topic.

[2021-09-03 13:59] rlskoeser commented on #3557
@whedon generate pdf

[2021-09-03 14:00] whedon commented on #3557
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03557/joss.03557/10.21105.joss.03557.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03557/joss.03557/10.21105.joss.03557.pdf) :page_facing_up: :point_left:

[2021-09-03 14:04] rlskoeser commented on #3557
Apologies for the slow review, have been a bit overwhelmed by other commitments.

I worked through the instructions and opened a PR and couple of issues to correct and point out some minor problems I found in the directions; I think they should all be pretty trivial to address.

Thanks to the helpful review from @reality and your work to address them it seems like this is in good shape.

[2021-09-03 14:04] rlskoeser commented on #3557
@whedon check references

[2021-09-03 14:04] whedon commented on #3557
[code]

[2021-09-03 14:04] BenMql commented on #2978
@whedon generate pdf

[2021-09-03 14:05] whedon commented on #2978
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02978/joss.02978/10.21105.joss.02978.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02978/joss.02978/10.21105.joss.02978.pdf) :page_facing_up: :point_left:

[2021-09-03 14:09] danielskatz commented on #2978
@BenMql - you might want to change the bib entry for your J Fluid Mech paper to have your first initial rather than first name for consistency, but it's not a big deal either way

[2021-09-03 14:13] BenMql commented on #2978
@whedon generate pdf

[2021-09-03 14:14] whedon commented on #2978
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02978/joss.02978/10.21105.joss.02978.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02978/joss.02978/10.21105.joss.02978.pdf) :page_facing_up: :point_left:

[2021-09-03 14:28] BenMql commented on #2978
@danielskatz That looks better. The version tag is v1.1.12
What do people customarily do: register the upload on Zenodo as software or publication? (Apologies for the stupid question, but after all there is a paper and a code in the archive.)

[2021-09-03 15:06] olejandro commented on #3625
Thanks, @fraukewiese! :-)

[2021-09-03 16:15] cmbiwer commented on #3546
I've filled out the checklist above. Overall, I believe the software fills a need and it is easy to imagine the software to be useful to scientists. Several other projects have developed or are developing similar 2D heatmap visualizations in some fashion. So I would say the functionality is recognized as an important development by the community already. I liked the user interface to Reel and I wo

[2021-09-03 20:30] nhejazi commented on #3543
I've completed my review and believe that the submission (both software and paper) meets all of the requirements, so I am recommending that this work be published in JOSS.

[2021-09-03 20:31] kyleniemeyer commented on #3635
@whedon accept deposit=true

[2021-09-03 20:31] whedon commented on #3635
[code]

[2021-09-03 20:32] whedon commented on #3635
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1433890582418661377) 👈 🐦🐦🐦

[2021-09-03 20:32] whedon commented on #3635
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2567
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03635](https://doi.org/10.21105/joss.03635)
2. If everything look

[2021-09-03 20:35] kyleniemeyer commented on #3665
@meg-simula if you are willing, I don't think checking in once a week or so is too slow of a response time, and fine with me!

[2021-09-03 20:39] kyleniemeyer commented on #3603
@fibreglass2 we're going to go ahead and proceed with review on this one—can you please address the comments that @Kevin-Mattheus-Moerman raised?

[2021-09-03 20:43] kyleniemeyer commented on #3635
Congratulations @grant-m-s on your article's publication in JOSS!

Many thanks to @crhea93 and @rmorgan10 for reviewing this, and @crvernon for editing.

[2021-09-03 20:43] #3635 closed

[2021-09-03 20:43] whedon commented on #3635
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03635/status.svg)](https://doi.org/10.21105/joss.03635)

**We need your help!**

Journal of Open Source Softwa

[2021-09-03 20:53] kyleniemeyer commented on #3638
Hi @eferrea, we are going to move ahead with review of this submission. As we are finding an editor, it looks like your software package is missing a clear open source license (usually expressed via a `LICENSE` file at the top level of the repo). Can you choose one and add it?

[2021-09-03 20:53] smolins commented on #3314
I think I can check all items now.
My criticism with the approach did not seek to cast doubts about the tests or test results (i.e. that the code does solve the problems correctly.) I am mostly concerned in comparing mostly with a proprietary software when other open-source codes and results are also available.
I find the use of a json formatted database as an interesting development, which I have

[2021-09-03 20:55] kyleniemeyer commented on #3638
@eferrea could you also recommend some potential reviewers? Ideally from our [reviewer list](https://bit.ly/joss-reviewers) but also potentially domain experts you are aware of. Thanks!

[2021-09-03 20:55] kyleniemeyer commented on #3638
@whedon invite @oliviaguest as editor

@oliviaguest could you edit this one?

[2021-09-03 20:55] whedon commented on #3638
@oliviaguest has been invited to edit this submission.

[2021-09-03 21:00] whedon opened #3681 "[PRE REVIEW]: AMAT: A Python package for rapid conceptual design of aerocapture and atmospheric Entry, Descent, and Landing (EDL) missions in a Jupyter environment"
**Submitting author:** @athulpg007 (<a href="http://orcid.org/0000-0002-9326-3293">Athul Pradeepkumar Girija</a>)
**Repository:** <a href="https://github.com/athulpg007/AMAT" target ="_blank">https://github.com/athulpg007/AMAT</a>
**Version:** v2.1.8
**Editor:** @jbytecode
**Reviewers:** @astrojuanlu, @helgee
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due t

[2021-09-03 21:07] kyleniemeyer commented on #3681
@whedon check repository

[2021-09-03 21:07] whedon commented on #3681
Wordcount for `paper.md` is 1142

[2021-09-03 21:08] whedon commented on #3681
[code]

[2021-09-03 21:09] kyleniemeyer commented on #3681
@whedon generate pdf

[2021-09-03 21:10] whedon commented on #3681
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03681/joss.03681/10.21105.joss.03681.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03681/joss.03681/10.21105.joss.03681.pdf) :page_facing_up: :point_left:

[2021-09-03 21:11] whedon opened #3682 "[PRE REVIEW]: Development of a Java library for 3D Euclidean geometry"
**Submitting author:** @agdturner (<a href="http://orcid.org/0000-0002-6098-6313">Andy Turner</a>)
**Repository:** <a href="https://github.com/agdturner/agdt-java-vector3D" target ="_blank">https://github.com/agdturner/agdt-java-vector3D</a>
**Version:** v0.7
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the cha

[2021-09-03 21:11] whedon commented on #3682
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-03 21:12] whedon commented on #3682
Wordcount for `paper.md` is 1008

[2021-09-03 21:12] whedon commented on #3682
[code]

[2021-09-03 21:12] whedon commented on #3682
PDF failed to compile for issue #3682 with the following error:
[code]

[2021-09-03 21:12] whedon commented on #3682
Failed to discover a valid open source license.

[2021-09-03 21:12] kyleniemeyer commented on #3681
@whedon invite @jbytecode as editor

Hi @jbytecode, could you edit this one? I realize the application may be a bit outside your wheelhouse, but the statistical side of things seems right. Thanks

[2021-09-03 21:12] whedon commented on #3681
@jbytecode has been invited to edit this submission.

[2021-09-03 21:15] kyleniemeyer commented on #3682
Hi @agdturner, thanks for your submission to JOSS! Regarding the compilation error, can you uncomment the bibliography line in the header of the paper?

Also, just FYI, when you have multiple citations that should be included together (e.g., like "[1,2,3]"), the appropriate citation command would be `[@author1:2001; @author2:2001]`.

Also, can you please make explicit the open-source license via a

[2021-09-03 21:15] kortschak commented on #3615
i'm afraid that I don't have time to do this right now.

[2021-09-03 21:18] whedon opened #3683 "[PRE REVIEW]: BioPsyKit: A Python package for the analysis of biopsychological data"
**Submitting author:** @richrobe (<a href="http://orcid.org/0000-0003-0272-5403">Robert Richer</a>)
**Repository:** <a href="https://github.com/mad-lab-fau/BioPsyKit" target ="_blank">https://github.com/mad-lab-fau/BioPsyKit</a>
**Version:** 0.3.0
**Editor:** @osorensen
**Reviewers:** @zen-juen, @espenhgn
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to th

[2021-09-03 21:18] whedon commented on #3683
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-03 21:19] whedon commented on #3683
PDF failed to compile for issue #3683 with the following error:
[code]

[2021-09-03 21:19] whedon commented on #3683
[code]

[2021-09-03 21:20] kyleniemeyer commented on #3683
@whedon generate pdf from branch joss

[2021-09-03 21:20] whedon commented on #3683
[code]

[2021-09-03 21:21] whedon commented on #3683
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03683/joss.03683/10.21105.joss.03683.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03683/joss.03683/10.21105.joss.03683.pdf) :page_facing_up: :point_left:

[2021-09-03 21:21] kyleniemeyer commented on #3683
@whedon invite @chartgerink as editor

Hi @chartgerink, can you edit this submission for us?

[2021-09-03 21:21] whedon commented on #3683
@chartgerink has been invited to edit this submission.

[2021-09-03 21:23] whedon opened #3684 "[PRE REVIEW]: ROCK: digital normalization of whole genome sequencing data"
**Submitting author:** @alex2cris (<a href="http://orcid.org/0000-0002-8212-5215">alexis criscuolo</a>)
**Repository:** <a href="https://gitlab.pasteur.fr/vlegrand/ROCK" target ="_blank">https://gitlab.pasteur.fr/vlegrand/ROCK</a>
**Version:** v_1.9.4
**Editor:** @luizirber
**Reviewers:** @hiraksarkar
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the ch

[2021-09-03 21:23] whedon commented on #3684
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-03 21:23] whedon commented on #3684
Wordcount for `paper.md` is 1929

[2021-09-03 21:23] whedon commented on #3684
[code]

[2021-09-03 21:23] whedon commented on #3684
[code]

[2021-09-03 21:23] whedon commented on #3684
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03684/joss.03684/10.21105.joss.03684.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03684/joss.03684/10.21105.joss.03684.pdf) :page_facing_up: :point_left:

[2021-09-03 21:25] kyleniemeyer commented on #3684
Hi @alex2cris, thanks for your submission to JOSS! Due to low editor availability in this area right now, I am putting this on our waitlist. We will assign an editor as soon as one becomes available.

[2021-09-03 21:32] whedon opened #3685 "[PRE REVIEW]: Tagging Latency Estimator: A Standalone Software for Estimating Latency of Event-Related Potentials in P300-based Brain-Computer Interfaces"
**Submitting author:** @ (<a href="http://orcid.org/0000-0002-7515-0690">Grégoire CATTAN</a>)
**Repository:** <a href="https://gitlab.com/programgreg/tagginglatencyestimator" target ="_blank">https://gitlab.com/programgreg/tagginglatencyestimator</a>
**Version:** v0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to

[2021-09-03 21:32] whedon commented on #3685
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-03 21:32] whedon commented on #3685
Wordcount for `paper.md` is 444

[2021-09-03 21:32] whedon commented on #3685
[code]

[2021-09-03 21:32] whedon commented on #3685
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03685/joss.03685/10.21105.joss.03685.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03685/joss.03685/10.21105.joss.03685.pdf) :page_facing_up: :point_left:

[2021-09-03 21:33] whedon opened #3686 "[PRE REVIEW]: RandomForestsGLS: An R package for Random Forests for dependent data"
**Submitting author:** @ArkajyotiSaha (<a href="http://orcid.org/0000-0001-9671-8196">Arkajyoti Saha</a>)
**Repository:** <a href="https://github.com/ArkajyotiSaha/RandomForestsGLS" target ="_blank">https://github.com/ArkajyotiSaha/RandomForestsGLS</a>
**Version:** v0.1.2
**Editor:** @fabian-s
**Reviewers:** @mnwright, @pdwaggoner
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service m

[2021-09-03 21:33] whedon commented on #3686
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-03 21:33] whedon commented on #3686
Wordcount for `paper.md` is 2766

[2021-09-03 21:33] whedon commented on #3686
[code]

[2021-09-03 21:33] whedon commented on #3686
[code]

[2021-09-03 21:34] whedon commented on #3686
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03686/joss.03686/10.21105.joss.03686.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03686/joss.03686/10.21105.joss.03686.pdf) :page_facing_up: :point_left:

[2021-09-03 21:34] kyleniemeyer commented on #3686
@whedon invite @fabian-s as editor

Hi @fabian-s, could you edit this submission?

[2021-09-03 21:34] whedon commented on #3686
@fabian-s has been invited to edit this submission.

[2021-09-03 21:34] kyleniemeyer commented on #3686
Hi @ArkajyotiSaha, as we are identifying an editor for you submission, could you review and resolve the DOI issues in your article raised above?

[2021-09-03 21:37] jbytecode commented on #3681
@whedon assign me as editor

@kyleniemeyer of course. thank you!

[2021-09-03 21:37] whedon commented on #3681
OK, the editor is @jbytecode

[2021-09-03 21:38] whedon opened #3687 "[PRE REVIEW]: slant: A Python package for identifying and quantifying bias in texts"
**Submitting author:** @cdcrabtree (<a href="http://orcid.org/0000-0001-5144-8671">Charles Crabtree</a>)
**Repository:** <a href="https://github.com/williamwmarx/slant" target ="_blank">https://github.com/williamwmarx/slant</a>
**Version:** v0.1.2
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of t

[2021-09-03 21:38] whedon commented on #3687
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-03 21:38] whedon commented on #3687
Wordcount for `paper.md` is 527

[2021-09-03 21:38] whedon commented on #3687
[code]

[2021-09-03 21:38] whedon commented on #3687
[code]

[2021-09-03 21:38] whedon commented on #3687
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03687/joss.03687/10.21105.joss.03687.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03687/joss.03687/10.21105.joss.03687.pdf) :page_facing_up: :point_left:

[2021-09-03 21:40] kyleniemeyer commented on #3687
Hi @cdcrabtree, thanks for your interest in JOSS. Due to the relatively small size of your software package, the editorial board is going to review your submission to see if it satisfies our requirement for [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). We will get back to you hopefully within a week or two with our decision, or

[2021-09-03 21:40] kyleniemeyer commented on #3687
@whedon query scope

[2021-09-03 21:40] whedon commented on #3687
Submission flagged for editorial review.

[2021-09-03 21:41] whedon opened #3688 "[PRE REVIEW]: electiondata: a Python package for consolidating, checking, analyzing, visualizing and exporting election results"
**Submitting author:** @sfsinger19103 (<a href="http://orcid.org/0000-0002-1373-9619">Stephanie Singer</a>)
**Repository:** <a href="https://github.com/ElectionDataAnalysis/electiondata" target ="_blank">https://github.com/ElectionDataAnalysis/electiondata</a>
**Version:** v2.0.0
**Editor:** @ajstewartlang
**Reviewers:** @vaneseltine, @andrewheiss
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS

[2021-09-03 21:41] whedon commented on #3688
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-03 21:41] whedon commented on #3688
PDF failed to compile for issue #3688 with the following error:
[code]

[2021-09-03 21:42] kyleniemeyer commented on #3688
@whedon generate pdf from branch joss-submission

[2021-09-03 21:42] whedon commented on #3688
[code]

[2021-09-03 21:43] whedon commented on #3688
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03688/joss.03688/10.21105.joss.03688.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03688/joss.03688/10.21105.joss.03688.pdf) :page_facing_up: :point_left:

[2021-09-03 21:44] kyleniemeyer commented on #3688
@whedon check repository

[2021-09-03 21:46] jbytecode commented on #3681
@athulpg007 👋 Do you have any suggestions for potential reviewers?  If yes, please mention them here in this thread (without tagging them with an @ - we don't want to disturb them). In addition, this [list](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822) of people have already agreed to review for JOSS and may be suitable for this submission

[2021-09-03 21:49] whedon opened #3689 "[PRE REVIEW]: A coupled model for the accumulation of cosmogenic radionuclides during shore platform development"
**Submitting author:** @mdhurst1 (<a href="http://orcid.org/0000-0002-9822-076X">Martin Hurst</a>)
**Repository:** https://github.com/mdhurst1/Rocky-Profile-Model/
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @kbarnhart
**Reviewers:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID

[2021-09-03 21:49] whedon commented on #3689
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-03 21:58] jbytecode commented on #3681
@whedon check references

[2021-09-03 22:03] whedon commented on #3689
PDF failed to compile for issue #3689 with the following error:
[code]

[2021-09-03 22:03] whedon commented on #3681
[code]

[2021-09-03 22:05] jbytecode commented on #3681
@athulpg007 could you please also correct the missing DOI issue as whedon reported above? (`10.17226/13117`)

[2021-09-03 22:13] dbuscombe-usgs commented on #3666
@crvernon @npucino I am having a lot of difficulty installing this package using the provided instructions. I have a detailed issue [here](https://github.com/npucino/sandpyper/issues/6)

I have a lot of experince with conda and this is just a bad way to install a package with all of these very complicated dependencies. I'm stalled out until I can get the program installed

[2021-09-03 22:13] kyleniemeyer commented on #3688
@openjournals/dev any idea why whedon is stalling on the repository check?

[2021-09-03 22:13] kyleniemeyer commented on #3688
@whedon invite @ajstewartlang as editor

Hi @ajstewartlang, would you be interested in editing this submission for us?

[2021-09-03 22:13] whedon commented on #3688
@ajstewartlang has been invited to edit this submission.

[2021-09-03 22:14] kyleniemeyer commented on #3689
Hi @mdhurst1, thanks for your interest in JOSS! Unfortunately we do not have any editors available to handle your submission right now, so I'm going to put this on our waitlist. As soon as an editor in this area becomes open, we will get it assigned. In the meantime, if you can suggest any reviewers, that would be helpful.

@arfon can you fix the URL in the database to be just `https://github.com/

[2021-09-03 22:15] kyleniemeyer commented on #3689
@whedon check repository

[2021-09-03 22:15] whedon commented on #3689
[code]

[2021-09-03 22:15] whedon commented on #3689
Failed to discover a valid open source license.

[2021-09-03 22:16] kyleniemeyer commented on #3689
@whedon generate pdf from branch JOSS-Paper

[2021-09-03 22:16] whedon commented on #3689
[code]

[2021-09-03 22:17] whedon commented on #3689
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03689/joss.03689/10.21105.joss.03689.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03689/joss.03689/10.21105.joss.03689.pdf) :page_facing_up: :point_left:

[2021-09-03 22:17] kyleniemeyer commented on #3689
@mdhurst1 also, it looks like your submission is missing an open-source license. Please select one and add as a plaintext `LICENSE` file to the repository.

[2021-09-03 22:22] whedon opened #3690 "[PRE REVIEW]: gdess: A framework for evaluating simulated atmospheric CO~2~ in Earth System Models"
**Submitting author:** @dkauf42 (<a href="http://orcid.org/0000-0002-1487-7298">Daniel E Kaufman</a>)
**Repository:** https://github.com/E3SM-Project/gdess
**Branch with paper.md** (empty if default branch):
**Version:** 1.0.beta1
**Editor:** @dhhagan
**Reviewers:** @slayoo, @sridge, @simonom
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2021-09-03 22:22] whedon commented on #3690
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-03 22:22] whedon commented on #3690
Wordcount for `paper.md` is 1681

[2021-09-03 22:22] whedon commented on #3690
[code]

[2021-09-03 22:23] whedon commented on #3690
[code]

[2021-09-03 22:23] whedon commented on #3690
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03690/joss.03690/10.21105.joss.03690.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03690/joss.03690/10.21105.joss.03690.pdf) :page_facing_up: :point_left:

[2021-09-03 22:25] kyleniemeyer commented on #3690
Hi @dkauf42 thanks for your submission to JOSS! Unfortunately, we don't have an available editor in this area right now, so I have to put this on our waitlist. As soon as someone becomes available, we will assign it and get moving.

In the meantime, could you review and resolve those DOI issues in the article? And, any reviewer suggestions you can give would be welcome.

[2021-09-03 22:26] whedon opened #3691 "[PRE REVIEW]: Nextclade: clade assignment, mutation calling and quality control for viral genomes"
**Submitting author:** @rneher (<a href="http://orcid.org/0000-0003-2525-1407">Richard Neher</a>)
**Repository:** <a href="https://github.com/nextstrain/nextclade" target ="_blank">https://github.com/nextstrain/nextclade</a>
**Version:** v1.3.0
**Editor:** @kellyrowland
**Reviewers:** @kevinlibuit, @DavidNickle
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due

[2021-09-03 22:26] whedon commented on #3691
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-03 22:26] whedon commented on #3691
Wordcount for `paper.md` is 1366

[2021-09-03 22:26] whedon commented on #3691
[code]

[2021-09-03 22:26] whedon commented on #3691
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03691/joss.03691/10.21105.joss.03691.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03691/joss.03691/10.21105.joss.03691.pdf) :page_facing_up: :point_left:

[2021-09-03 22:27] whedon commented on #3691
[code]

[2021-09-03 22:33] RuneBlaze commented on #3639
Hi @fboehm. Sorry I am currently occupied with classes and passing my qualification exams🤦

[2021-09-03 22:44] luizirber commented on #3684
@kyleniemeyer I can edit this submission

[2021-09-03 22:48] whedon commented on #3641
:wave: @RobertRosca, please update us on how your review is going (this is an automated reminder).

[2021-09-03 22:48] whedon commented on #3641
:wave: @lucaferranti, please update us on how your review is going (this is an automated reminder).

[2021-09-03 22:49] whedon opened #3692 "[PRE REVIEW]: UnlockNN: Uncertainty quantification for neural network models of chemical systems"
**Submitting author:** @a-ws-m (<a href="http://orcid.org/0000-0001-7525-1419">Alexander Moriarty</a>)
**Repository:** <a href="https://github.com/a-ws-m/unlockNN/" target ="_blank">https://github.com/a-ws-m/unlockNN/</a>
**Version:** v2.0.2
**Editor:** @osorensen
**Reviewers:** @TahiriNadia, @pmeier, @Het-Shah
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due

[2021-09-03 22:49] whedon commented on #3692
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-03 22:49] whedon commented on #3692
Wordcount for `paper.md` is 554

[2021-09-03 22:49] whedon commented on #3692
[code]

[2021-09-03 22:49] whedon commented on #3692
[code]

[2021-09-03 22:49] kyleniemeyer commented on #3684
@whedon assign @luizirber as editor

Thanks @luizirber!

[2021-09-03 22:49] whedon commented on #3684
OK, the editor is @luizirber

[2021-09-03 22:49] whedon commented on #3692
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03692/joss.03692/10.21105.joss.03692.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03692/joss.03692/10.21105.joss.03692.pdf) :page_facing_up: :point_left:

[2021-09-03 22:51] kyleniemeyer commented on #3691
Hi @rneher, thanks for your interest in JOSS! Unfortunately, due to low editor availability in this area, I need to put your submission on our waitlist. Once an editor is able to handle this one, we'll get it assigned and moving forward.

[2021-09-03 22:52] dbuscombe-usgs commented on #3666
I made my own yml file installer to deal with the issues of the mixed conda/pip installation, that works a lot better and in fewer lines of code. see [here](https://github.com/npucino/sandpyper/issues/6#issuecomment-912850421) However, the `__init__` script for the sandpyper pip package has broken syntax that means I get errors . So, I should now be able to run this software when @npucino gets a c

[2021-09-03 22:52] kyleniemeyer commented on #3692
Hi  @a-ws-m, thanks for your interest in JOSS! Unfortunately due to low editor availability in this area, I have to put your submission on our waitlist. We'll get it assigned and moving forward as soon as someone opens up to handle this.

In the meantime, could you take a look at that DOI issue in the article? Any reviewer suggestions could share would be much appreciated as well.

[2021-09-03 23:03] sfsinger19103 commented on #3688
zen-juen
peanutfun

hknd23

cjbarrie

vaneseltine

vinodkahuja

[2021-09-03 23:37] npucino commented on #3666
@dbuscombe-usgs thanks for the detailed issue report, I will fix this Monday. I tested the package installation and unit tested the code in github action and assumed it worked out in the real world.
Also I noticed that for some reason your pip install sandpyper downloaded a very old version 0.0.2 (with that typo in the init file), while the latest one in pip is 1.0.0 which is drastically different

[2021-09-03 23:39] dvanic commented on #3639
Hi @fboehm - sorry, I don't have expertise in this topic!

[2021-09-03 23:52] dbuscombe-usgs commented on #3666
Great, thanks for the quick response @npucino - that sounds like a good plan. I'll check back in Monday and try to help troubleshoot. I'm pretty good at finding conda and pip issues in other people's code, so don't take it personally (I also really hate the python ecosystem for its crummy package managers!)

in the yml file I made, it does successfully create all the dependencies in conda using co

[2021-09-04 00:11] ArkajyotiSaha commented on #3686
Hi @kyleniemeyer, I believe I have solved the raised issues. Please let me if any additional changes are required. Thanks!

[2021-09-04 00:20] agdturner commented on #3682
Thank you @kyleniemeyer for helping me fix the bibliography referencing.

I have added a LICENSE file as requested.

No worries if takes a while, hopefully someone will be interested before too long. I am continuing to develop the code as and when, so I'm hoping there will be improvements by the time anyone is available to review. Since I pushed the submit button I have added some functionality fo

[2021-09-04 00:28] athulpg007 commented on #3681
@jbytecode suggested reviewers: Juanlu001, steo85it (close match of domains from the list)

updated missing DOI

[2021-09-04 00:35] npucino commented on #3666
No no I do not take it personally @dbuscombe-usgs, please be as critic as you can I need it to grow and get better at this and improve that package! No mercy is good science. I think I will have to change the installation procedure and move it all to conda rather than pip. CHeers

[2021-09-04 00:36] athulpg007 commented on #3681
Additional suggestion for reviewer: salbert21 (has domain experience in atmospheric entry and aerocapture)

[2021-09-04 00:42] agdturner commented on #3682
@whedon generate pdf

[2021-09-04 00:43] whedon commented on #3682
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03682/joss.03682/10.21105.joss.03682.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03682/joss.03682/10.21105.joss.03682.pdf) :page_facing_up: :point_left:

[2021-09-04 00:45] agdturner commented on #3682
I have looked through the reviewer list. These are the usernames of those that might be interested:
Rgcjk
dvberkel
neurons
fiveop
danehkar
MikeLydeamore
shah314
ali-ramadhan
jordanperr
bonh
DanielMyshkin
junliu2050
g4brielvs
benjaminbolling
nnadeau
motib

[2021-09-04 00:45] agdturner commented on #3682
@whedon commands

[2021-09-04 00:45] whedon commented on #3682
Here are some things you can ask me to do:

[code]

[2021-09-04 00:49] lilyminium commented on #3521
Thanks @patrickfuchs -- all issues I raise have been addressed, so I also grade this as category 1) Accept !

[2021-09-04 00:55] satejsoman commented on #3464
Hi @Nikoleta-v3, I've tagged and released version **0.6.2** of epimargin, and uploaded it to Zenodo and PyPI. The DOI is: 10.5281/zenodo.5430698

[2021-09-04 02:11] fboehm commented on #3639
@jkanche, @RuneBlaze, and @dvanic - Thanks for the replies. I completely understand and wish you the best :)

[2021-09-04 02:22] fboehm commented on #3639
@lptolik and @Ahmed7emdan - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html. Thanks for considering this.

[2021-09-04 02:24] fboehm commented on #3639
@KirillZubov - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html. Thanks for considering this.

[2021-09-04 02:25] fboehm commented on #3639
@timknab - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html. Thanks for considering this.

[2021-09-04 02:27] fboehm commented on #3639
@billdenney - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html. Thanks for considering this.

[2021-09-04 04:18] mjsottile commented on #3558
@whedon assign @oyvinht as reviewer

[2021-09-04 04:18] whedon commented on #3558
OK, @oyvinht is now a reviewer

[2021-09-04 05:11] sridhar0605 commented on #3656
Hello all,
Apologies @prashjha completely missed this, will keep an eye out for next one.
-S

[2021-09-04 07:28] Bisaloo commented on #3657
Hi @LucyMcGowan :wave:, I saw some of your posts on twitter and you would seem like a great fit to review this submission. Would you be available?

[2021-09-04 07:29] rafaelab commented on #3645
@danielskatz @jlylekim
Sorry for the late reply. I just came back from vacation.
I see this has already been sorted :)

[2021-09-04 07:34] Nikoleta-v3 commented on #3464
Thank you @satejsoman. A sanity check: Nicholas Marchio is not listed as an author in the paper.

[2021-09-04 08:00] Kevin-Mattheus-Moerman commented on #3603
@kyleniemeyer FYI I can edit this one if you like

[2021-09-04 08:09] Kevin-Mattheus-Moerman commented on #3611
@alexlib thanks for your help with this review. If you are fully satisfied are you able to tick all boxes? If not there may be some issues that still need to be resolved. Thanks again!

[2021-09-04 08:09] jbytecode commented on #3681
@whedon check references

[2021-09-04 08:10] whedon commented on #3681
[code]

[2021-09-04 08:17] jbytecode commented on #3681
👋👋👋 @astrojuanlu  👋👋👋

👋👋👋 @steo85it  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "_AMAT: A Python package for rapid conceptual design of aerocapture and atmospheric Entry, Descent, and Landing (EDL) missions in a Ju

[2021-09-04 08:20] DominiqueMakowski commented on #3657
Hey @Bisaloo thanks for the invite :) I quickly checked the package and because it is focused on a particular type of model (which I have no experience with) I don't feel confident in reviewing it (since I mostly dabble in general post-processing). Apologies and don't hesitate next time!

[2021-09-04 09:00] astrojuanlu commented on #3681
Happy to review for JOSS again! 😃

[2021-09-04 09:01] jbytecode commented on #3681
@whedon add @astrojuanlu as reviewer

[2021-09-04 09:01] whedon commented on #3681
OK, @astrojuanlu is now a reviewer

[2021-09-04 09:02] whedon commented on #3642
:wave: @Jose-Augusto-C-M, please update us on how your review is going (this is an automated reminder).

[2021-09-04 09:02] whedon commented on #3642
:wave: @bobturneruk, please update us on how your review is going (this is an automated reminder).

[2021-09-04 09:14] satejsoman commented on #3464
I've just updated the metadata to fix that - thanks for flagging @Nikoleta-v3

[2021-09-04 10:15] rneher commented on #3691
Thanks, @kyleniemeyer. I can suggest a few reviewers if this helps:

pvanheus
kevinlibuit
EduanWilkinson

let me know if there is anything else I can do to help.

[2021-09-04 10:22] jpata commented on #3598
I have reviewed the package as of [v4.12.0](https://github.com/dfujim/bfit/tree/4.12.0) and the [paper](https://github.com/openjournals/joss-reviews/issues/3598#issuecomment-896177757).

In general, it looks like an impressive piece of work and suitable for JOSS in my opinion.

I have left two clarifying issues on the [bfit](https://github.com/dfujim/bfit) repo, and I have a minor question:
- [ ]

[2021-09-04 12:25] nickbearman commented on #3609
Thanks @xp-song for the notes re installation. I'm happy with this. @martinfleis any comments?

[2021-09-04 12:36] nickbearman commented on #3609
Thanks @xp-song also for the tutorial link. This really helps.

On the tutorial itself, could you include the code you use to create the maps? I think this would be really useful for the tutorial.

Also, the example data is a bit slow to run on my machine. Would it be possible to trim it down a bit, so the code runs faster?

[2021-09-04 12:39] nickbearman commented on #3609
Re the article, I have a conceptual question. You talk about
" the fact that supply from parks further away are reduced"
Which I think I understand (i.e. the closer people are to a park, the more likely they are to use it).
Could you rephrase it so we talk about people using the park, rather than the park being supplied to the people? I think this would make the article much easier to follow.

You

[2021-09-04 13:38] omshinde commented on #3541
@elbeejay @ebocher

Review 1:
Thanks to the authors for their contributions. Please find my queries and suggestions below regarding the submission - "GeoClimate: a geospatial processing toolbox for environmental and climate studies".

Working Environment:
OS - Ubuntu 20.04.2 LTS

#### Functionality

Query: The download link as mentioned on [https://github.com/orbisgis/geoclimate/wiki/Download#geoc

[2021-09-04 13:54] prashjha commented on #3656
Hi @sridhar0605 no worries :)

[2021-09-04 13:57] kyleniemeyer commented on #3686
@whedon generate PDF

[2021-09-04 13:57] whedon commented on #3686
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03686/joss.03686/10.21105.joss.03686.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03686/joss.03686/10.21105.joss.03686.pdf) :page_facing_up: :point_left:

[2021-09-04 13:58] kyleniemeyer commented on #3686
@whedon check references

[2021-09-04 13:58] whedon commented on #3686
[code]

[2021-09-04 13:59] kyleniemeyer commented on #3603
@whedon assign @Kevin-Mattheus-Moerman as editor

@Kevin-Mattheus-Moerman sure thing! Wasn't going to ask but happy to accept the offer.

[2021-09-04 13:59] whedon commented on #3603
OK, the editor is @Kevin-Mattheus-Moerman

[2021-09-04 14:02] kyleniemeyer commented on #3682
@agdturner not a problem to make changes, especially now while we are waiting for an editor to become available.

Once the review starts, it would probably be best to hold off on making any major changes to the main branch/release version. Later, if you release a new major version of the software with substantial changes (e.g., significant new features), JOSS would consider reviewing that for a se

[2021-09-04 14:18] Jose-Augusto-C-M commented on #3642
Hello, I can´t update the checklist, I think that my invitation link expired.

[2021-09-04 14:29] a-ws-m commented on #3692
Thanks @kyleniemeyer, I've fixed that DOI issue. One potential reviewer could be JaGeo (though she doesn't appear on the list; I'll have a look through that, too).

[2021-09-04 14:55] ebocher commented on #3541
@omshinde
Thank you for pointing out this error. The page has been updated and the link is now pointing to the releases page.

[2021-09-04 14:56] Nikoleta-v3 commented on #3464
@whedon check references

[2021-09-04 14:56] whedon commented on #3464
[code]

[2021-09-04 14:59] Nikoleta-v3 commented on #3464
@satejsoman can you fix the missing doi? Almost there!

[2021-09-04 15:00] Nikoleta-v3 commented on #3464
Apologies for not spotting this earlier

[2021-09-04 16:13] alex2cris commented on #3684
@VeroniqueLegrand @tkergrohen the review of ROCK takes place in this issue

[2021-09-04 17:11] alexlib commented on #3611
It' lacks automated tests

[2021-09-04 17:11] jbytecode commented on #3430
Dear reviewer @brunaw

Here is the minor changes for v0.2.4.

- Base.show(io:IO, <: MCDMResult) implementations for pretty printing all of the results instead of overloading print().
- I() implemented, LinearAlgebra package removed from dependencies.
- mean(), geomean(), std(), and cor() are implemented and StatsBase & Statistics packages are removed from dependencies.
- `using` keyword replaced b

[2021-09-04 18:04] osorensen commented on #3642
Thanks for letting us know @Jose-Augusto-C-M. Does nothing happen if you try to click the check boxes? Could you please give it a try with a different browser? If that doesn't work I'll ask for help.

[2021-09-04 18:40] dfujim commented on #3598
I have added to the acknowledgements as per your suggestion (76da12f9e894a8d9ec26914ee3c96135694f98c9)

[2021-09-04 18:41] fboehm commented on #3639
@bovee - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html. Thanks for considering this. I think that your expertise in javascript and bioinformatics would be quite useful for reviewing this submission. Thanks again!

[2021-09-04 18:45] fboehm commented on #3639
:wave: @serine, @siravan, @betteridiot, @arose, and @martinmodrak - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html. Thanks for considering this. I think that your expertise in javascript and biology would be quite useful for reviewing thi

[2021-09-04 19:25] chartgerink commented on #3683
Sorry @kyleniemeyer, can't this time — have two papers pending and still getting the hang of this 😊

[2021-09-04 19:41] ojeda-e commented on #3521
I grade the submission as category 1) Accept.

[2021-09-04 21:12] arose commented on #3639
Hi @fboehm - sorry, not my area of expertise!

[2021-09-04 22:41] djmitche commented on #3679
@arianesasso this looks fantastic.  The contributing guide is particularly well-done.  Just one request: something that helps users figure out how to report a bug and what level of support they can expect.  This may just be a GitHub issue template, for example.

[2021-09-04 23:24] luizirber commented on #3684
not quite; this issue is the preparation for the review, which will be opened when we find reviewers (hopefully soon =])

[2021-09-05 04:21] satejsoman commented on #3464
@whedon check references

[2021-09-05 04:21] whedon commented on #3464
[code]

[2021-09-05 04:23] satejsoman commented on #3464
@Nikoleta-v3 no woes, updated that DOI 😄

[2021-09-05 06:14] xp-song commented on #3609
Added in commit [703c76f](https://github.com/ecological-cities/home2park/commit/703c76f0858bec4a2b1bf5db5f35aa1903c89b57)

Amended example building dataset in commit [e50da8c](https://github.com/ecological-cities/home2park/commit/e50da8c9c35acdf9f9ec9bc9569db8e23ced809c)

[2021-09-05 08:06] whedon opened #3693 "[PRE REVIEW]: Biomarker-NLP: A Python Package for Mining Biomarker Information for FDA-Approved Targeted Cancer Therapies"
**Submitting author:** @Damonlin11 (<a href="http://orcid.org/0000-0001-6348-5015">Junxia Lin</a>)
**Repository:** <a href="https://github.com/Damonlin11/FDA-approved-Targeted-Therapies-Label-Extraction" target ="_blank">https://github.com/Damonlin11/FDA-approved-Targeted-Therapies-Label-Extraction</a>
**Version:** v0.0.4
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:

[2021-09-05 08:06] whedon commented on #3693
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-05 08:06] whedon commented on #3693
Wordcount for `paper.md` is 899

[2021-09-05 08:06] whedon commented on #3693
[code]

[2021-09-05 08:06] whedon commented on #3693
[code]

[2021-09-05 08:06] whedon commented on #3693
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03693/joss.03693/10.21105.joss.03693.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03693/joss.03693/10.21105.joss.03693.pdf) :page_facing_up: :point_left:

[2021-09-05 08:12] arfon commented on #3693
@whedon query scope

[2021-09-05 08:12] whedon commented on #3693
Submission flagged for editorial review.

[2021-09-05 08:17] arfon commented on #3693
@Damonlin11 – many thanks for your submission to JOSS. I'm flagging this submission for a scope review by the broader JOSS editorial team as it looks a little unusual for us:

- We don't generally publish API/model wrappers for ML models.
- A significant amount of the source code in this submission looks to be associated with the work done to [train the model](https://github.com/Damonlin11/FDA-app

[2021-09-05 08:22] arfon commented on #3685
Desk rejecting as the author hasn't supplied a GitHub handle.

[2021-09-05 08:22] #3685 closed

[2021-09-05 08:22] arfon commented on #3685
@whedon reject

[2021-09-05 08:22] whedon commented on #3685
Paper rejected.

[2021-09-05 08:28] arfon commented on #3686
@ArkajyotiSaha - before this submission is sent out for review, could you please clarify exactly what this statement means, and which code this refers to (from the README)?

Also, could you say more about what the current paper "Saha, Arkajyoti, Sumanta Basu, and Abhirup Datta. "Random forests for spatially dependent data." Journal of the American Statistical Association (2021): 1-19." discusses?

[2021-09-05 08:30] arfon commented on #3688
@whedon check repository

[2021-09-05 08:32] whedon commented on #3688
[code]

[2021-09-05 08:47] Nikoleta-v3 commented on #3464
@whedon generate pdf

[2021-09-05 08:48] whedon commented on #3464
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03464/joss.03464/10.21105.joss.03464.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03464/joss.03464/10.21105.joss.03464.pdf) :page_facing_up: :point_left:

[2021-09-05 08:52] Nikoleta-v3 commented on #3464
@whedon set 10.5281/zenodo.5430698 as archive

[2021-09-05 08:53] whedon commented on #3464
OK. <a href="https://doi.org/10.5281/zenodo.5430698" target="_blank">10.5281/zenodo.5430698</a> is the archive.

[2021-09-05 08:53] Nikoleta-v3 commented on #3464
@whedon set 0.6.2 as version

[2021-09-05 08:53] whedon commented on #3464
OK. 0.6.2 is the version.

[2021-09-05 08:54] Nikoleta-v3 commented on #3464
@whedon generate pdf

[2021-09-05 08:54] whedon commented on #3464
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03464/joss.03464/10.21105.joss.03464.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03464/joss.03464/10.21105.joss.03464.pdf) :page_facing_up: :point_left:

[2021-09-05 08:56] Nikoleta-v3 commented on #3464
@whedon recommend-accept

[2021-09-05 08:56] whedon commented on #3464
[code]

[2021-09-05 08:56] whedon commented on #3464
[code]

[2021-09-05 08:56] whedon commented on #3464
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2568

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2568, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-05 11:36] sgrieve commented on #3670
@crvernon I'm afraid I don't have any capacity this month. Apologies!

[2021-09-05 11:36] eferrea commented on #3638
Hi @kyleniemeyer, I added the LICENSE file to the repository. Additional potential reviewers are Agricolab, TomDonoghue and JanCBrammer.

[2021-09-05 13:17] xp-song commented on #3609
Thanks @nickbearman for raising some good points. Some notes and responses:

Research on park provision tends to differentiate between '_supply_' (provision which may or may not be used), '_demand_', as well as actual '_use_'. The fact that parks are near to people's homes may not necessarily mean that people are actively '_using_' these places (which may be affected by factors other than distance

[2021-09-05 13:18] xp-song commented on #3609
@whedon generate pdf

[2021-09-05 13:18] whedon commented on #3609
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03609/joss.03609/10.21105.joss.03609.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03609/joss.03609/10.21105.joss.03609.pdf) :page_facing_up: :point_left:

[2021-09-05 13:59] billdenney commented on #3639
Hi @fboehm , Unfortunately, I don't have the bandwidth right now for review.

[2021-09-05 14:42] whedon opened #3694 "[PRE REVIEW]: DynamicRandomGraphs - A Python package for generation of scalable temporal random graphs"
**Submitting author:** @yanirmr (<a href="http://orcid.org/0000-0002-0327-1442">Yanir Marmor</a>)
**Repository:** <a href="https://github.com/ScanLab-ossi/DynamicRandomGraphs" target ="_blank">https://github.com/ScanLab-ossi/DynamicRandomGraphs</a>
**Version:** V.1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to

[2021-09-05 14:42] whedon commented on #3694
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-05 14:42] whedon commented on #3694
Wordcount for `paper.md` is 589

[2021-09-05 14:42] whedon commented on #3694
[code]

[2021-09-05 14:42] whedon commented on #3694
PDF failed to compile for issue #3694 with the following error:
[code]

[2021-09-05 15:13] athulpg007 commented on #3681
@whedon check references

[2021-09-05 15:14] whedon commented on #3681
[code]

[2021-09-05 15:14] athulpg007 commented on #3681
@whedon generate pdf

[2021-09-05 15:15] whedon commented on #3681
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03681/joss.03681/10.21105.joss.03681.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03681/joss.03681/10.21105.joss.03681.pdf) :page_facing_up: :point_left:

[2021-09-05 17:14] abhishekvp commented on #3541
Hi @elbeejay  Thanks for the reminder. I too, am on track with the review timeline and would turn in my review in a day. Thanks!

[2021-09-05 17:54] fibreglass2 commented on #3603
Certainly. Expect to see updates soon.

[2021-09-05 18:25] richrobe commented on #3683
Reviewer suggestions:
SachaEpskamp
DominiqueMakowski

[2021-09-05 19:22] diehlpk commented on #3465
@hayesall and @taless474 The author has addressed most of your concerns. Would you mind to check if you are satisfied.

[2021-09-05 19:23] diehlpk commented on #3274
@vijaysm How is your review going?

[2021-09-05 19:25] ctb commented on #3684
I'm available!

[2021-09-05 19:30] BenMql commented on #2978
@danielskatz -- the archived Coral v1.1.12 has been uploaded on Zenodo and has received the DOI `10.5281/zenodo.5458888`

[2021-09-05 21:12] WilkAndy commented on #3314
Thanks @smolins .   Can you confirm that no further revisions are required?    Then I can get the MOOSE PullRequest merged.  This current issue currently has "10 of 40 tasks" complete, so perhaps you or I have to check some boxes in one of the comments above.

[2021-09-05 22:36] MilesCranmer commented on #3199
Hi @dfm @pikarpov-LANL and co-authors,

I sincerely apologize for the late followup. I have been on an internship where all the code writing is internal, and have been bad at going through my GitHub notifications, and this dropped off my radar. I am very sorry about that, and thanks for your patience! (and thanks @dfm for the helpful ping :) )

All of my comments have been addressed - see also my

[2021-09-05 22:43] fibreglass2 commented on #3603
@whedon generate pdf

[2021-09-06 00:51] smolins commented on #3314
Yes, I am ok with this.
The task lists are in the very first comment in this Issue/Review. I can't edit that comment, so somebody else will have to do it.

[2021-09-06 00:56] volpatto commented on #3314
@smolins for me, I have clicked on the check-boxes in the first comment. Then the progress status was automatically updated.

@WilkAndy I will continue my review in the next few days. I think @smolins addressed a lot of relevant things already.

[2021-09-06 01:24] danielskatz commented on #2978
@whedon set v1.1.12 as version

[2021-09-06 01:24] whedon commented on #2978
OK. v1.1.12 is the version.

[2021-09-06 01:24] danielskatz commented on #2978
@whedon set 10.5281/zenodo.5458888 as archive

[2021-09-06 01:24] whedon commented on #2978
OK. <a href="https://doi.org/10.5281/zenodo.5458888" target="_blank">10.5281/zenodo.5458888</a> is the archive.

[2021-09-06 01:24] danielskatz commented on #2978
@whedon recommend-accept

[2021-09-06 01:24] whedon commented on #2978
[code]

[2021-09-06 01:24] whedon commented on #2978
[code]

[2021-09-06 01:25] whedon commented on #2978
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2569

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2569, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-09-06 01:27] danielskatz commented on #2978
@whedon accept deposit=true

[2021-09-06 01:27] whedon commented on #2978
[code]

[2021-09-06 01:28] whedon commented on #2978
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1434689883927457793) 👈 🐦🐦🐦

[2021-09-06 01:28] whedon commented on #2978
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2570
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02978](https://doi.org/10.21105/joss.02978)
2. If everything look

[2021-09-06 01:33] danielskatz commented on #2978
@BenMql - The DOI doesn't yet resolve for me - when it does, I will close this issue and we'll be done.

[2021-09-06 01:45] abhiramm7 commented on #3312
@mark-koren I've opened a issue on repo about the installation issue.

[2021-09-06 03:28] luizirber commented on #3684
@whedon assign @ctb as reviewer

[2021-09-06 03:28] whedon commented on #3684
OK, @ctb is now a reviewer

[2021-09-06 03:33] vijaysm commented on #3274
Another small note is that I was not able to run your instructions above on Cori. For example, after installing funsies through `pip`, `start-funsies` was not callable. I thought perhaps this was installed with pip, but it's not available in my `$PATH`.

However, I was able to test the installation and runs on Cori at NERSC. The example workflow provided [here](https://github.com/aspuru-guzik-grou

[2021-09-06 03:40] jedbrown commented on #3314
@whedon re-invite @smolins as reviewer

[2021-09-06 03:40] whedon commented on #3314
The reviewer already has a pending invite.

@smolins please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-09-06 03:41] jedbrown commented on #3314
Thanks @volpatto.

@smolins If you accept the invitation, you should be able to click in the top comment. Thanks for your thoughtful review and discussion.

[2021-09-06 05:33] sjpfenninger commented on #3312
@giodegas I realise it's the start of the teaching period, but a quick update is appreciated!

[2021-09-06 07:17] anki-xyz commented on #3632
Hi, can someone resent me the invite link? It seems to be expired, thanks!

[2021-09-06 07:24] ajstewartlang commented on #3688
@whedon assign me as editor

[2021-09-06 07:24] whedon commented on #3688
OK, the editor is @ajstewartlang

[2021-09-06 07:55] osorensen commented on #3642
@whedon add @Jose-Augusto-C-M as reviewer

[2021-09-06 07:55] whedon commented on #3642
OK, @Jose-Augusto-C-M is now a reviewer

[2021-09-06 07:57] osorensen commented on #3692
@whedon assign @osorensen as editor

[2021-09-06 07:57] whedon commented on #3692
OK, the editor is @osorensen

[2021-09-06 07:59] osorensen commented on #3692
@ftarlaci @TahiriNadia @JaGeo; would you be interested in reviewing this submission to the Journal of Open Source Software?

[2021-09-06 08:20] bobturneruk commented on #3642
Thanks @whedon. Started looking at the COI statement on Friday.

[2021-09-06 08:22] arianesasso commented on #3679
@djmitche thank you for your feedback! I think that is a great idea, I create a GitHub issue in our repository to address that: https://github.com/hpi-dhc/devicely/issues/32 :)

[2021-09-06 08:25] agdturner commented on #3682
Hi @kyleniemeyer, I think I should make a major change from a left handed coordinate system to a right handed one. The choice is arbitrary, I made my choice based on intuition screens and graphs, and whilst I can argue the case for this, I now realise (thanks to this video https://youtu.be/BoHQtXpWG2Y), that it is normal in physics to use a right handed coordinate system and so I am likely to put

[2021-09-06 08:34] fabian-s commented on #3686
@whedon assign @fabian-s as editor

[2021-09-06 08:34] whedon commented on #3686
OK, the editor is @fabian-s

[2021-09-06 08:57] jbytecode commented on #3681
👋👋👋 @RobertRosca  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "_AMAT: A Python package for rapid conceptual design of aerocapture and atmospheric Entry, Descent, and Landing (EDL) missions in a Jupyter environment_".

[2021-09-06 09:43] fraukewiese commented on #3574
@samuelduchesne - that is a pity, your experience fits so well to the submission, but I can very well understand the problem. So good start into your new job, I will try to find another reviewer.

[2021-09-06 09:45] JaGeo commented on #3692
Thank you very much for inviting me. Just on Friday, I have accepted another review and I have also submitted one. This is a very interesting task but it might currently take quite long for me to complete it.

[2021-09-06 09:46] fraukewiese commented on #3574
@jackbrookes
Would you be willing to review the submission [https://github.com/FZJ-IEK3-VSA/LoadProfileGenerator](LoadProfileGenerator: An Agent-Based Behavior Simulation for Generating Residential Load Profiles) ?
The review has started already, but another reviewer could not make it, so it would be great if you could review this submission, since your programming skills with C# fit perfectly and

[2021-09-06 09:48] fraukewiese commented on #3585
@bocklund Great, thank you very much!

[2021-09-06 09:49] fraukewiese commented on #3585
@whedon add @bocklund as reviewer

[2021-09-06 09:49] whedon commented on #3585
OK, @bocklund is now a reviewer

[2021-09-06 09:50] fraukewiese commented on #3585
@whedon start review

[2021-09-06 09:50] whedon opened #3695 "[REVIEW]: HydDown: A Python package for calculation of hydrogen (or other gas) pressure vessel filling and discharge"
**Submitting author:** @andr1976 (<a href="http://orcid.org/0000-0003-0475-323X">Anders Andreasen</a>)
**Repository:** <a href="https://github.com/andr1976/HydDown" target ="_blank">https://github.com/andr1976/HydDown</a>
**Version:** v0.16.2
**Editor:** @fraukewiese
**Reviewer:** @mefuller, @bocklund
**Archive:** <a href="https://doi.org/10.5281/zenodo.5547917" target="_blank">10.5281/zenodo.5547

[2021-09-06 09:50] whedon commented on #3585
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3695.

[2021-09-06 09:50] #3585 closed

[2021-09-06 09:50] whedon commented on #3695
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mefuller, @bocklund it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2021-09-06 09:50] whedon commented on #3695
Wordcount for `paper.md` is 1179

[2021-09-06 09:50] whedon commented on #3695
[code]

[2021-09-06 09:50] whedon commented on #3695
[code]

[2021-09-06 09:51] whedon commented on #3695
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03695/joss.03695/10.21105.joss.03695.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03695/joss.03695/10.21105.joss.03695.pdf) :page_facing_up: :point_left: