[2022-05-06 08:40] martinfleis commented on #4380
@editorialbot assign me as editor

[2022-05-06 08:41] martinfleis commented on #4380
@kyleniemeyer happy to take care of this one.

@ni1o1 if you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2022-05-06 08:43] Kevin-Mattheus-Moerman commented on #3920
@antoinevacavant congratulations on getting this work published in JOSS! :tada:

A special thanks to @lassoan and @deepakri201 for their great review efforts! :bow:

[2022-05-06 08:43] #3920 closed

[2022-05-06 09:10] wence- commented on #3982
@editorialbot generate pdf

[2022-05-06 09:24] ni1o1 commented on #4380
Dear @martinfleis ,
Checking interests in Python programming and geographic data science, the following potential reviewers might be interested :
jGaboardi,anitagraser,RafalKucharskiPK/,katmratliff,EricaEgg,nsaunier,fil,GalenStocking,dvysardana,kellieotto,ethanwhite,earino,sgrieve

[2022-05-06 09:35] auroreloisy commented on #4266
Dear @RomainAzais, we hope everything is going alright with the review, as nothing as moved in the last 5 weeks. Let us know if we can help with anything.

[2022-05-06 09:41] hemmelig commented on #4351
@diehlpk Hi - apologies, but I must decline at this time as I do not have any available time.

[2022-05-06 10:16] relf commented on #4330
@editorialbot commands

[2022-05-06 10:17] relf commented on #4330
@editorialbot generate pdf

[2022-05-06 11:44] warrickball commented on #4343
Thanks for the review @danhey! I've tried to address everything you raised about the repository itself but haven't yet gotten to the paper. Specifically,
* I removed the line about the unstable API. Yes, this change (making things more object-oriented) has now (mostly) happened.
* I copied the community guidelines to the docs' index page.
* I extended the description of the STARS output and added

[2022-05-06 12:57] ctb commented on #3790
hello! I am done with my review, and everything looks good!

[2022-05-06 13:02] meghanrjones commented on #4297
Thanks for reaching out. Unfortunately I will not be able to review this submission to JOSS.

[2022-05-06 13:16] warrickball commented on #4343
@editorialbot generate pdf

@danhey I've fleshed out a bit of what the other programs do but let me know if this still isn't what you had in mind.

[2022-05-06 13:33] nasserma commented on #3742
Hi @kyleniemeyer, thanks, I merged the corrections.

[2022-05-06 13:56] dcnickle commented on #4007
I need this to be assigned to @DavidNickle.

@dcnickle is broken

David

[2022-05-06 14:15] gcattan commented on #4114
@ekinney-lang I am sorry it took more time than expected. I am very grateful for all the comments you made, they really helped me to improve the quality of the software. Please, find below a point-by-point response to your comments, and once again thank you for your time reviewing this work :)

The wiki contains now a [dedicated page](https://gitlab.com/programgreg/tagginglatencyestimator/-/blob/m

[2022-05-06 14:20] kyleniemeyer commented on #3742
@editorialbot generate pdf

[2022-05-06 14:24] sbenthall commented on #4331
Thank you, @NRaillard and @PhilipPallmann . I'll assign you as reviewers and we can move forward with the review.

[2022-05-06 14:25] sbenthall commented on #4331
@editorialbot add @NRaillard as reviewer

[2022-05-06 14:25] sbenthall commented on #4331
@editorialbot add @PhilipPallmann as reviewer

[2022-05-06 14:26] sbenthall commented on #4331
@editorialbot start review

[2022-05-06 14:26] editorialbot opened #4382 "[REVIEW]: gofcat: An R package for goodness-of-fit of categorical response models"
**Submitting author:** @ejikeugba (<a href="http://orcid.org/0000-0003-2572-0023">Ejike Ugba</a>)
**Repository:** https://github.com/ejikeugba/gofcat
**Branch with paper.md** (empty if default branch):
**Version:** 0.1.3
**Editor:** @sbenthall
**Reviewers:** @NRaillard, @PhilipPallmann
**Archive:** 10.5281/zenodo.7015239

## Status

[![status](https://joss.theoj.org/papers/8079988579172de184353774

[2022-05-06 14:26] #4331 closed

[2022-05-06 14:29] sbenthall commented on #4270
@gcdeshpande This submission is now waiting on your feedback. Has the submission been corrected to your satisfaction?

[2022-05-06 14:29] sbenthall commented on #3496
Hello @Natsiopoulos -- any updates?

[2022-05-06 14:30] kyleniemeyer commented on #3742
@editorialbot accept

[2022-05-06 14:33] sbenthall commented on #4382
👋🏼 @ejikeugba @NRaillard @PhilipPallmann this is the review thread for the paper. All of our communications will happen here from now on.

As a reviewer, the first step is to create a checklist for your review by entering

```@editorialbot generate my checklist```

as the top of a new comment in this thread.

These checklists contain the JOSS requirements. As you go over the submission, please che

[2022-05-06 14:35] kyleniemeyer commented on #3742
Congratulations @nasserma on your article's publication in JOSS!

Many thanks to @bonh and @WilkAndy for reviewing this, and @lucydot for editing.

[2022-05-06 14:37] kyleniemeyer commented on #4373
@fraukewiese that's alright, thanks for your quick response.

@rkurchin can you edit this submission?

[2022-05-06 14:37] kyleniemeyer commented on #4373
@editorialbot invite @rkurchin as editor

[2022-05-06 14:38] kyleniemeyer commented on #4373
@EwaGomez while we are finding an editor to handle your submission, can you respond to / address the licensing concerns that @kanderso-nrel pointed out above? 👆

[2022-05-06 14:43] EwaGomez commented on #4373
Of course. I totally agree with the concerns and I will fix it this weekend. Thank you for your comment @kanderso-nrel !

[2022-05-06 14:44] nasserma commented on #3742
Thanks to all!

[2022-05-06 14:52] rkurchin commented on #4373
@editorialbot assign me as editor

Happy to! I saw this pop up in the submissions and was going to volunteer myself actually :)

[2022-05-06 15:00] rkurchin commented on #4373
👋 @sevberg and @dalonsoa, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-05-06 15:01] rkurchin commented on #4364
@bocklund and @utf, feel free to ask if you have any questions about how to get your reviews started!

[2022-05-06 15:02] rkurchin commented on #4104
Hi again @fanchercm, just checking in in case a notification got missed – could you respond to @arfon's question above?

[2022-05-06 15:03] utf commented on #4364
Thanks @rkurchin. This project is quite large (20k lines of Python alone), so it may take some time to explore the functionality fully.

@editorialbot generate my checklist

[2022-05-06 15:04] danielskatz commented on #4364
FYI, @editorialbot commands need to be the first thing in a command

[2022-05-06 15:04] utf commented on #4364
@editorialbot generate my checklist

[2022-05-06 15:04] utf commented on #4364
Thanks @danielskatz.

[2022-05-06 15:05] dalonsoa commented on #4373
Hi Rachel,

I’m sorry, but I’m afraid I cannot take on this review at the moment.

Good luck!
Diego

On 6 May 2022, at 16:00, Rachel Kurchin ***@***.***> wrote:

﻿

👋 @sevberg<https://github.com/sevberg> and @dalonsoa<https://github.com/dalonsoa>, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: ht

[2022-05-06 15:13] rkurchin commented on #4373
No problem, thanks for your quick response!

[2022-05-06 15:14] rkurchin commented on #4373
👋 @sidihamady, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-05-06 15:53] jacksund commented on #4364
@rkurchin @bocklund @utf Thank you for volunteering to edit and review our package! We're excited for the feedback.

I just wanted to place two things upfront to help with the review.

First, our test suite is currently at 84% coverage, and here's the report:
[htmlcov_2022-05-06.zip](https://github.com/openjournals/joss-reviews/files/8641898/htmlcov_2022-05-06.zip)

Second, I just wanted to repeat

[2022-05-06 16:05] luizirber commented on #3790
Thanks @ctb!

@hiraksarkar I see https://gitlab.pasteur.fr/vlegrand/ROCK/-/issues/1 has the checklist from here replicated and with many items checked, I went ahead and clicked them here too. Let me know if there anything else I can do to help

[2022-05-06 16:17] adi3 commented on #4338
@editorialbot generate pdf

[2022-05-06 16:18] adi3 commented on #4338
@editorialbot check references

[2022-05-06 16:18] adi3 commented on #4338
@editorialbot set <10.17605/OSF.IO/37TD9> as archive

[2022-05-06 16:19] adi3 commented on #4338
@editorialbot set 10.17605/OSF.IO/37TD9 as archive

[2022-05-06 16:20] adi3 commented on #4338
@editorialbot set v2.2.1 as version

[2022-05-06 16:21] adi3 commented on #4338
@editorialbot recommend-accept

[2022-05-06 17:46] danielskatz commented on #4379
@mikemahoney218 - Please work on the possibly missing DOI and invalid DOIs that editorialbot suggests, but note that the missing one may be incorrect. Please feel free to make changes to your .bib file, then use the command `@editorialbot check references` to check again, and the command `@editorialbot generate pdf` when the references are right to make a new PDF. editorialbot commands need to be

[2022-05-06 17:50] mikemahoney218 commented on #4379
@editorialbot check references

[2022-05-06 17:50] mikemahoney218 commented on #4379
@editorialbot generate pdf

[2022-05-06 17:50] mikemahoney218 commented on #4379
@danielskatz Sorry about that! Should be corrected now.

[2022-05-06 18:12] majensen commented on #4007
@editorialbot remove @dcnickle as reviewer

[2022-05-06 18:36] hiraksarkar commented on #3790
@luizirber  I completed my review, and all my raised issues are addressed
- [x] Installation: Does installation proceed as outlined in the documentation? https://gitlab.pasteur.fr/vlegrand/ROCK/-/issues/1
- [x] Example usage: Do the authors include examples of how to use the software (ideally to solve real-world analysis problems). https://gitlab.pasteur.fr/vlegrand/ROCK/-/issues/1
Another install

[2022-05-06 23:35] luizirber commented on #3790
@editorialbot generate pdf

[2022-05-06 23:47] luizirber commented on #3790
@alex2cris can you please cut a new DOI for archival and report
- version number
- archive DOI

(almost done! so close!)

[2022-05-06 23:49] luizirber commented on #3790
@editorialbot check references

[2022-05-07 01:09] Spartanzhao commented on #3916
@[pkerpedjiev](https://github.com/pkerpedjiev) my Annoroad_Lego_Browser is absolutely much better and more handy than pyGenomeTrack. pyGenomeTrack is absolutely not an excellent package.

[2022-05-07 07:59] arfon commented on #4173
Looks like an author is missing an affiliation in the `paper.md`:

`  - name: Alberto Vallinotto`

[2022-05-07 08:02] arfon commented on #3896
@Chiil - it looks like you don't have a review checklist here. You can create one for yourself with the command `@editorialbot generate my checklist`

[2022-05-07 08:27] eloisabentivegna commented on #4173
Thanks!

@amoradinejad, could you add the missing affiliation?

[2022-05-07 08:36] Chiil commented on #3896
There is one, I checked all boxes except one.

[2022-05-07 09:11] xuanxu commented on #4302
OK @gully, everything looks good, here are the next steps:

- Please release a new tagged version from the current main branch so it includes all the changes made during the review process
- Then archive that latest release in Zenodo or a similar service
- Check the Zenodo deposit has the correct metadata: title and authors names should match the paper; you may also add authors' ORCIDs.

Once you

[2022-05-07 10:26] amoradinejad commented on #4173
The second author does not have an affiliation as he is not in academia. Do
all authors require an affiliation?

Thanks.

On Sat, May 7, 2022, 10:27 Eloisa Bentivegna ***@***.***>
wrote:

[2022-05-07 13:13] alex2cris commented on #3790
Dear @luizirber

The current version is:  **1.9.6**
This version is tagged in the gitlab repository ([https://gitlab.pasteur.fr/vlegrand/ROCK](https://gitlab.pasteur.fr/vlegrand/ROCK))

I also made a DOI for this version at Zenodo: **10.5281/zenodo.6527091**
([https://zenodo.org/record/6527091](https://zenodo.org/record/6527091))

Hope that everything is ok.

Best regards,

-- Alexis --

[2022-05-07 13:15] alex2cris commented on #3790
@whedon generate pdf

[2022-05-07 13:16] alex2cris commented on #3790
@editorialbot generate pdf

[2022-05-07 15:08] jgostick commented on #4359
Hello @andyfaff.  I have tried to find an email address to contact you directly, but you've done a great job at keeping it secret ;-)  Anyway, hopefully you get notified by Github.  I would like to ask if you're willing and able to review this software submission.  The process of reviewing in JOSS is a bit different than a *normal* journal.  There is a checklist of items for you to look for, and y

[2022-05-07 15:45] luizirber commented on #3790
@editorialbot set 10.5281/zenodo.6527091 as archive

[2022-05-07 15:46] luizirber commented on #3790
@editorialbot set v_1.9.6 as version

[2022-05-07 15:50] luizirber commented on #3790
@editorialbot recommend-accept

[2022-05-07 21:19] kyleniemeyer commented on #3790
@editorialbot accept

[2022-05-07 21:24] kyleniemeyer commented on #3790
Congratulations @alex2cris on your article's publication in JOSS!

Many thanks to @hiraksarkar and @ctb for reviewing this, and @luizirber for editing.

[2022-05-07 21:24] #3790 closed

[2022-05-07 21:29] kyleniemeyer commented on #4379
@mikemahoney218 this has already received some positive feedback from editors so we'll go ahead and proceed to review.

@hugoledoux can you edit this one?

[2022-05-07 21:29] kyleniemeyer commented on #4379
@editorialbot invite @hugoledoux as editor

[2022-05-08 00:22] a3sha2 commented on #4368
@editorialbot generate my checklist

[2022-05-08 00:29] a3sha2 commented on #4368
@emdupre  pls the link of the paper is broken.
https://github.com/openjournals/joss-papers/blob/joss.04313/joss.04313/10.21105.joss.04313.pdf

[2022-05-08 01:55] a3sha2 commented on #4368
@editorialbot generate pdf

[2022-05-08 02:37] majensen commented on #4369
@editorialbot add @DavidNickle as reviewer

[2022-05-08 02:39] acolum commented on #4159
@mikldk I'm interested.

[2022-05-08 02:49] rbturnbull commented on #4212
Thanks for the message @ajstewartlang. My co-author Jon has been on leave. I think he is back tomorrow. We will discuss the options and get back to you.

[2022-05-08 06:44] jbytecode commented on #4231
@editorialbot remind @jakryd in two days

[2022-05-08 08:39] sidihamady commented on #4373
Hi Rachel,
I will do it even if it is a particularly busy time for me :)
Sincerely,
Sidi

[2022-05-08 13:26] danasolav commented on #4259
@antipa, please confirm that you can review this submission.

[2022-05-08 13:27] danasolav commented on #4259
@editorialbot add @antipa as reviewer

[2022-05-08 14:15] cgurrr commented on #4012
@meg-simula, see https://github.com/ngltr/sinaps/issues/14#issuecomment-1119000622
It seems that you need to upgrade numba. We now have added a minimum version requirement in the install dependencies. You could also simply update sinaps to 0.3.1., and it should work.
Let us now if you have any more issues.

[2022-05-08 16:34] shivesh1210 commented on #3884
@gkthiruvathukal we have completed your suggested next steps. Could you please proceed with the next steps in the publication process? Thank you.

[2022-05-08 16:36] thecalculon commented on #4305
Dear @mgiardino,

The section of code where we evaluate the force exerted by the AFM (Atomic Force
Microscopy) tip to Exosome outputs the message "X0 small roots may not be correct".
Consider the representative configuration of the Exosome the AFM tip, shown in the figure attached.
The AFM tip is modeled as a paraboloid and the force it exerts is very short ranged.
Therefore, we assume that the fo

[2022-05-08 16:44] thecalculon commented on #4305
Hi @fboehm  @mgiardino @victorapm,

I am Vikash Pandey, the second author of the paper and go by the username @thecalculon . Since @vipinagrawal25 is away I will be responding to the reviews for the time being.

[2022-05-08 17:04] gkthiruvathukal commented on #3884
@shivesh1210 Thanks. I will work on this soon.

[2022-05-08 17:05] gkthiruvathukal commented on #3884
@editorialbot set v1.0.0 as version

[2022-05-08 17:05] gkthiruvathukal commented on #3884
@editorialbot set 10.5281/zenodo.6498036 as archive

[2022-05-08 17:06] gkthiruvathukal commented on #3884
@editorialbot generate pdf

[2022-05-08 17:08] gkthiruvathukal commented on #3884
@editorialbot accept

[2022-05-08 17:09] gkthiruvathukal commented on #3884
@editorialbot recommend-accept

[2022-05-08 17:10] gkthiruvathukal commented on #3884
@shivesh1210 Can you check the BibTeX, please?

[2022-05-08 18:01] Nikoleta-v3 commented on #4286
Hey @max-little 👋🏻

I took some time to review your submission, and I believe that your package/repository requires a lot of work to get it in good shape for publication.  After consulting with one of our associate editors we believe that it would be better to put the publication on hold for now and to resume once required changes have been made.

I am going to list all the required changes in my

[2022-05-08 18:09] BatoolMM commented on #4265
Thank you, @gabrielelubatti, for going through all the comments. I'm satisfied with the changes made to the package and manuscript.

I have added a couple of issues to help with readability and suggestions for fixing the bibliography. My only two cents recommendations:

- Some examples rely on `gam` package to run, but it isn't one of the dependencies. For example, if you want to detect the bases

[2022-05-08 18:27] ixjlyons commented on #4259
@danasolav sorry, I don't think I can commit to a review at the moment.

[2022-05-08 18:58] arfon commented on #3896
Sorry, missed that!

[2022-05-08 19:29] markheckmann commented on #3292
Dear all,

thanks for your patience and my apologies with regard to the timeliness of our revisions.

@aj2duncan: please find below our answers to your comments:

The software uses the MIT license. The license statement is now contained in the package’s DESCRIPTION file. A copy of the MIT license itself is additionally found in the root folder of the  R package repo.

As you suggested, we now repl

[2022-05-08 19:48] max-little commented on #4286
Hi Nikoleta

Many thanks for taking the time to review the package. Of course, we are
happy to do our best to respond to any constructive criticism as best we
can.

Kind regards
Max

On Sun, 8 May 2022 at 19:02, Nikoleta Glynatsi ***@***.***>
wrote:

--
Max Little (www.maxlittle.net)
Associate Professor, University of Birmingham
Turing Fellow, Alan Turing Institute
TED Fellow (fellows.ted.com/prof

[2022-05-08 21:34] eloisabentivegna commented on #4173
They do not. Please refer to the example at https://joss.readthedocs.io/en/latest/submitting.html?highlight=affiliation#example-paper-and-bibliography for how to list authors who do not have an affiliation.

[2022-05-08 21:40] ixjlyons commented on #4232
Looks good to me :+1:

I think that's fine -- my understanding is there just needs to be [guidelines](https://joss.readthedocs.io/en/latest/review_criteria.html#community-guidelines) written somewhere to make expectations clear. I'd say the links in the header of the docs cover getting help and maybe even bringing up issues. "Please open an issue to propose improvements" in the README would be suf

[2022-05-09 00:47] sea-bass commented on #4232
Of course! I was only suggesting unit testing, as having full-scale (or system-level) testing for a hardware-focused library would be unreasonable.

[2022-05-09 03:45] alstat commented on #4228
Hi @fabian-s, below is the link of the archived software in Zenodo, following the correct metadata:

https://zenodo.org/record/6529873#.YniNtRNBx-o

Here is the DOI of the archived version: 10.5281/zenodo.6529873

[2022-05-09 05:12] zhiiiyang commented on #4354
@jbytecode @yuliadm I have completed my review. Please see all the comments above. https://github.com/openjournals/joss-reviews/issues/4354#issuecomment-1111224747

@yuliadm has completed some requests in the dev branch and will merge them into the main branch once all requests in https://github.com/yuliadm/mixComp/issues/2 are addressed. @Athene-ai, you might want to review the dev branch for the

[2022-05-09 05:33] andyfaff commented on #4359
I'm happy to review.

[2022-05-09 06:13] Athene-ai commented on #4354
@zhiiiyang many thanks for the advise ;-)

[2022-05-09 06:21] Athene-ai commented on #4286
Hi!
@Nikoleta-v3 not worry about it ... I can not wait to be invite again 😉

[2022-05-09 06:41] yhtang commented on #4198
Dear @melissawm: I reached out to the primary contributor of the [torhcquantum](https://github.com/mit-han-lab/torchquantum) package, [hanrui-wang,](https://github.com/Hanrui-Wang), who is willing to review our submission. Could you please let us know your thoughts? Thanks!

[2022-05-09 07:34] mikldk commented on #4159
@editorialbot add @acolum as reviewer

[2022-05-09 07:34] mikldk commented on #4159
@editorialbot start review

[2022-05-09 07:34] editorialbot opened #4383 "[REVIEW]: tukey_hsd: An Accurate Implementation of the Tukey Honestly Significant Difference Test in Python"
**Submitting author:** @mdhaber (<a href="http://orcid.org/0000-0003-4806-3601">Matt Haberland</a>)
**Repository:** https://github.com/mdhaber/scipy/
**Branch with paper.md** (empty if default branch): joss_studentized_range
**Version:** 1.8.0
**Editor:** @mikldk
**Reviewers:** @mcavs, @acolum
**Archive:** 10.5281/zenodo.6781029

## Status

[![status](https://joss.theoj.org/papers/0a44b6cb3110427b

[2022-05-09 07:34] #4159 closed

[2022-05-09 07:47] mikldk commented on #4383
@mcavs, @acolum: Thanks for agreeing to review. Please carry out your review in this issue by first creating a checklist (`@editorialbot generate my checklist`) and then updating it as the review proceeds. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If possible create issues (and cross-reference) in the submission's repository to av

[2022-05-09 08:24] CFGrote commented on #4333
@editorialbot generate my checklist

[2022-05-09 08:40] kno10 commented on #4344
Works here, and works on Google colab, with _no_ cargo installed.
This may depend on your setup being supported by the standard "manylinux1_x86_64" VM - what is your exact platform (operating system, python version), and what is the full error?
My assumption is that maturin has a fallback that tries to compile the source if the precompiled binaries are not compatible with your installation.
Either

[2022-05-09 09:25] samhorsfield96 commented on #4363
@editorialbot generate my checklist

[2022-05-09 09:28] samhorsfield96 commented on #4363
@lpantano there was an issue generating the paper pdf. Is there a way of accessing the newest draft? I see there is one available on biorxiv, but I am unsure whether this is viable for review.

[2022-05-09 09:46] likask commented on #4267
@Kevin-Mattheus-Moerman I will do it.

[2022-05-09 09:55] AKuederle commented on #4338
@xuanxu Fixed the formatting error in the paper that should have led to the error above (Thanks again!). Should I create a new tag or do I need to do anything else to restart the publication process?

[2022-05-09 10:00] xuanxu commented on #4338
@AKuederle There's no need for a new tag. Now @adi3 can just continue with the editorial process (if the `recommend-accept` command does not return any other error 😅 🤞).

[2022-05-09 10:08] fwiebe commented on #3884
Hi,
as the pdf compiles successfully, I think the error arises from the bot checking the references for missing DOIs. I added DOIs for the references where they exist and added empty {} for the 3 BibTeX entries where no DOI exists. I hope this fixes the problem.
Do we need to create a new tagged release for checking if this resolves the issue?

[2022-05-09 10:22] Bisaloo commented on #4193
I'll let the reviewers weigh in but I'm not sure explaining it will be enough to make it more easily navigable. It'll always be difficult to have a general overview of all the possible options, without going inside each one of the items.

Note that I'm not arguing you should remove the CLI documentation. I'm recommending you add an alternative, which some users may find easier to understand.

[2022-05-09 10:41] lucydot commented on #4298
Hi @miesli please keep us updated here with your progress with updating the documentation.

Once that it is done I will do final check through of the paper (spelling, grammar, citations etc). There will also be some small admin steps (including creating release on Zenodo or similar) before passing on to the editors-in-chief for publication.

[2022-05-09 10:44] lucydot commented on #4333
Hi @KedoKudo thanks for your comments and work on the review so far ❇️ - please mention the submitting author @jonathanHuwP in any future comments so that they are notified.

@jonathanHuwP please see the comments above from @KedoKudo.

[2022-05-09 10:54] Bisaloo commented on #3776
Hi @jessicatytam :wave:, could you update us on the current status of this submission please? If you need some more time, it's okay but would you have a rough estimate of when we could expect your changes? If this is going to take a while, you could also withdraw this submission for the time being and resubmit later.

We are flexible. Please let me know what is the most reasonable and convenient o

[2022-05-09 10:54] TGuillerme commented on #4361
Hi @Bisaloo (sorry for the delayed reply, I was on leave last week). Unfortunately I've already reviewed 4 manuscripts in the last two months so that's my quota done for a while. Maybe @alexsla (https://github.com/alexsla) would be a good fit (although I don't think he's in the list of reviewers for JOSS)?

[2022-05-09 11:03] fabian-s commented on #4228
Great -- please also make a tagged release of your software, and list the version tag of the archived version here [Link to Github Docs](https://docs.github.com/en/repositories/releasing-projects-on-github/managing-releases-in-a-repository) so I can recommend acceptance of your paper.

[2022-05-09 11:03] Bisaloo commented on #4361
Hi @alexsla, would you be interested in reviewing this [R package](https://github.com/joshwlambert/DAISIEmainland) and [the associated paper](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04361/joss.04361/10.21105.joss.04361.pdf) for JOSS?

You can have a look at our [review criteria](https://joss.readthedocs.io/en/latest/review_criteria.html) and [review checklist](https://joss.

[2022-05-09 11:04] kno10 commented on #4344
We could reproduce the error message on a target not supported by python manylinux builds: Apple M1(aarch64).
On such systems it is necessary to install Rust (Cargo) so that the module can be compiled upon installation.
We have amended the documentation. We have not verified installation on M1, but only in a Linux container on Docker on M1.

[2022-05-09 11:16] Bisaloo commented on #4375
Hi @kyleniemeyer, I'm quite booked up at the moment. Is any other editor available?

[2022-05-09 11:45] Kevin-Mattheus-Moerman commented on #4267
@editorialbot add @likask as reviewer

[2022-05-09 11:46] zStupan commented on #4355
@danielskatz Are there any updates regarding our submission?

[2022-05-09 11:46] itepifanio commented on #4318
@matthewfeickert can you check [Ipyannotator docs](https://palaimon.github.io/ipyannotator/index.html) again? The new release contains the changes that you suggested.

[2022-05-09 12:14] danielskatz commented on #4355
I'll let the AEiC on duty this week (@openjournals/joss-eics) answer

[2022-05-09 12:19] swatimanekar commented on #4363
configure: error: in `/home/ankush/Downloads/RedOak-master':
configure: error: No suitable C++ MPI implementation found.
See `config.log' for more details

I am getting the above message while configuring the tool

[2022-05-09 12:40] elboyran commented on #4263
Dear @taless474 , sorry for the very late reply. I had some family health circumstances because of which I had to take a relatively long lave.
As far as I remember when submitting I have suggested reviewer from the long list available. Did that information appear correctly? Do you need yet another suggestion from me (mine was based only on the very profiles  of reviewers I have looked into)?

[2022-05-09 14:03] NRaillard commented on #4382
@editorialbot generate my checklist

[2022-05-09 14:27] lizarett commented on #4267
hello. i can try to review, what's the timeline and any guidelines?

[2022-05-09 14:35] fabian-s commented on #4228
@editorialbot set 10.5281/zenodo.6529873 as archive

[2022-05-09 14:38] fabian-s commented on #4228
@editorialbot recommend-accept

[2022-05-09 15:16] rkurchin commented on #4373
@editorialbot add @sidihamady as reviewer

Thanks! 🙏

[2022-05-09 15:52] mdhaber commented on #4159
@mikldk Since the relevant code is integrated into the (very large) SciPy library, would it be appropriate to copy https://github.com/openjournals/joss-reviews/issues/4159#issuecomment-1039235888 and https://github.com/openjournals/joss-reviews/issues/4159#issuecomment-1039328191 over to the new issue to help with review?

[2022-05-09 16:11] diehlpk commented on #3390
Hi @Kevin-Mattheus-Moerman how is your review going?

[2022-05-09 16:16] diehlpk commented on #4351
Hi @ankusanovic @erasmuss @MarDiehl would you be interested in reviewing this paper?

[2022-05-09 16:29] kyleniemeyer commented on #4375
@editorialbot invite @marcosvital as editor

Hi @marcosvital, could you edit this submission?

[2022-05-09 16:35] jbytecode commented on #4354
@zhiiiyang - thank you for your review. However there are still unchecked task items and it seems your review is not complete. Please do not modify the checklist entry (just click the checkboxes) and post your reviewing report as posts in this issue.

[2022-05-09 16:35] jbytecode commented on #4354
@Athene-ai - could you please update your status and tell us how is your review going? Thank you in advance.

[2022-05-09 17:04] zhiiiyang commented on #4354
@jbytecode, I see. I just check off the checklist and posted all my comments below in a separate post.

### Additional comments
- Please add the unit tests https://github.com/yuliadm/mixComp/issues/1
- Please reorganize the files into the corresponding folders. See more details https://github.com/yuliadm/mixComp/issues/2
- Please add community guidelines https://github.com/yuliadm/mixComp/issues/2

[2022-05-09 17:12] jbytecode commented on #4354
@yuliadm - please follow the suggestions, apply them, and report here when all of the stuff is complete .

@zhiiiyang - please review the authors' corrections (if exists) and report your final thougths.

thank you in advance.

[2022-05-09 17:32] kris-rowe commented on #4277
The last couple of weeks have been hectic, so this has slipped a bit. I will aim to get most of my review completed by the end of the week to keep the process moving along.

[2022-05-09 17:42] melissawm commented on #4198
Thanks @yhtang - that sounds good to me. We do need at least two reviewers, so maybe let's take another look at the reviewer spreadsheet and see if we can find someone?

[2022-05-09 17:43] melissawm commented on #4291
Hello, just a gentle ping to let you know that if you need any extra information or assistance on the review, I am available. Thanks!

[2022-05-09 18:18] kyleniemeyer commented on #4320
@whedon reject

[2022-05-09 18:19] kyleniemeyer commented on #4320
@editorialbot reject

[2022-05-09 18:19] #4320 closed

[2022-05-09 18:43] jgostick commented on #4359
Great!  I'll start this review once I find a 2nd reviewer, or the end of the week, which ever comes first.

[2022-05-09 18:43] jgostick commented on #4359
@editorialbot add @andyfaff as reviewer

[2022-05-09 18:47] emdupre commented on #4368
@a3sha2 thanks for checking on this ! I also noticed the error in displaying the compiled PDF document over the weekend, but there's [no reported error in the GH action logs](https://github.com/openjournals/joss-papers/runs/6338099430?check_suite_focus=true) and the document is now visible. So, I think it was likely transitory ! I'll monitor in case this happens again, though.

[2022-05-09 18:51] ixjlyons commented on #4299
@athulpg007: thanks for your review.

Your suggestions have been implemented here: https://github.com/nasa/simupy-flight/pull/6

We had been thinking about making a documentation page to enumerate the examples and show the output, so we've put that here: https://nasa.github.io/simupy-flight/nesc_test_cases/index.html

A link to the Appendix of the Tech Memo describing the test cases was added to t

[2022-05-09 19:10] sjcrs commented on #3665
My colleague Dan Abell @dtabell is experienced with TPSA and would be willing to review the article

[2022-05-09 19:12] pibion commented on #3665
@sjcrs thank you!

[2022-05-09 19:13] pibion commented on #3665
@dtabell, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html.

Please let me know if you have any questions, I'm happy to communicate in whatever way works best for you - just let me know!

[2022-05-09 19:24] MarDiehl commented on #4351
@diehlpk: I don't think that I have the expertise to review this paper.

[2022-05-09 19:32] jbytecode commented on #4231
@jakryd - could you please update your status and inform us on how is your review going?

Best wishes, thank you in advance!

[2022-05-09 19:34] jbytecode commented on #4280
@chrisaberson - could you please update your status and inform us?

[2022-05-09 19:35] jbytecode commented on #4300
@baxmittens - could you please update your status and inform us? any problems?

[2022-05-09 19:54] cgurrr commented on #4012
@meg-simula, see https://github.com/ngltr/sinaps/issues/14#issuecomment-1119000622
It seems that you need to upgrade numba. We now have added a minimum version requirement in the install dependencies. You could also simply update sinaps to 0.3.1., and it should work.
Let us now if you have any more issues.

[2022-05-09 20:02] andr1976 commented on #4370
@editorialbot generate my checklist

[2022-05-09 20:08] chrisaberson commented on #4280
Current working on revisions - should be done this week.

[2022-05-09 20:25] acolum commented on #4383
@editorialbot generate my checklist

[2022-05-09 20:35] andr1976 commented on #4370
## Review checklist for @andr1976

### Conflict of interest

- [ x] I confirm that I have read the [JOSS conflict of interest (COI) policy](https://github.com/openjournals/joss/blob/master/COI.md) and that: I have no COIs with reviewing this work or that any perceived COIs have been waived by JOSS for the purpose of this review.

### Code of Conduct

- [x] I confirm that I read and will adhere to

[2022-05-09 22:09] mbobra commented on #3331
@editorialbot generate pdf from branch master

[2022-05-09 22:10] mbobra commented on #3331
@editorialbot generate pdf

[2022-05-09 22:14] mbobra commented on #3331
@danielskatz Any idea why the editorialbot is not generating the correct pdf (from here: https://github.com/ashleychontos/pySYD/tree/master/paper)?

[2022-05-09 22:14] acolum commented on #4383
@mikldk Thank you, and I have a quick question. I volunteered to review submissions this year for the SciPy conference - would this be considered a COI according to the [JOSS conflict of interest (COI) policy](https://github.com/openjournals/joss/blob/master/COI.md)?

[2022-05-09 22:26] mbobra commented on #3331
@ashleychontos Have you seen [this astropy developer guide](https://docs.astropy.org/en/latest/development/testguide.html) on unit tests? Check out the simple example under the 'Writing Tests' section. You can write some really simple, one-line tests.

For example: Let's say a function outputs a value for longitude. You can write a unit test to check that the output is between 0 and 360. If it is,

[2022-05-09 22:45] danielskatz commented on #3331
👋 @mbobra - what's the specific problem?  I see a generated PDF.  What's wrong with it?
👋 @xuanxu, can you help here too?

[2022-05-10 01:18] fboehm commented on #4251
@JoranTiU and @DanielRivasMD - thank you for your thorough reviews.

@nociale - the reviewers have recommended your submission for publication. The next step is for me to proofread it. I'll do that in the next few days. I'll comment here with any changes that are needed.

[2022-05-10 01:18] fboehm commented on #4251
@editorialbot generate pdf

[2022-05-10 04:18] yhtang commented on #4198
We did try to reach out to another developer but haven't heard back yet. I'll sift through the reviewer spreadsheet again to hopefully come up with more suggestions.

[2022-05-10 05:16] jessicatytam commented on #3776
We have completed all of the tasks and addressed the comments, with the exception of adding tests, it's currently ~50% so we will probably need until the end of May if that's ok.

What would be the ideal % for test coverage?

[2022-05-10 05:24] rbturnbull commented on #4212
Thanks @ajstewartlang and @konstantinstadler . Jon and I think that we will split the two modules. We will take out the SEIFA module from ausdex and keep ausdex focussed on things related to CPI. We will edit the paper text to reflect that. Then we will expand the scope of SEIFA and then make a separate submission for that later on. Does that sound OK?

[2022-05-10 06:28] gdede-hua commented on #4350
@fabian-s May I kindly ask you to inform me if there is any update regarding the status of my paper? Many thanks in advance.

[2022-05-10 06:51] fabian-s commented on #4350
Sorry @gdede-hua I lost track of this, thank you for reminding me. I'll get on it now.

[2022-05-10 06:58] fabian-s commented on #4350
:wave: @fsteeg & @gcattan & @TimCam

Would any of you be willing to review this submission for JOSS?
We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-05-10 07:25] Bisaloo commented on #3776
Sounds good :+1:

There is no hard and fast rule, especially for API packages that are somewhat more difficult to write tests for. Most best practice guides say something like "major functionality is covered by tests". In my experience, around 80-85% is usually a good number to ensure tests cover most sections of your code. Higher is also great but please let me know if you have issues reaching th

[2022-05-10 07:44] baxmittens commented on #4300
@jbytecode - Following mkitti's and your recommendations, I have registered both GitHub projects as Julia packages and added documentations. I  added a section to the paper and did some alterations to the code.
I have to write some unit test now, define a test enviroment and do some minor things here and there and then I think I will be finished.
This will take me until next week, I guess.

[2022-05-10 07:44] ajstewartlang commented on #4212
Sounds good to me @rbturnbull

[2022-05-10 07:58] gcattan commented on #4350
Yes, I am willing to review this submission, but I am a little bit busy at the moment. Is the end of June an acceptable deadline?

[2022-05-10 08:09] xuanxu commented on #3331
There are two different `paper.md` files in the repository ([here](https://github.com/ashleychontos/pySYD/blob/master/paper/paper.md) and [here](https://github.com/ashleychontos/pySYD/blob/master/paper/copy/paper.md)), the bot is creating the pdf based on the first it finds.

[2022-05-10 08:21] Kevin-Mattheus-Moerman commented on #4267
Hi @lizarett thanks, sure you can join if interested.

We used to aim for about 2-3 weeks for reviews but since COVID we've been much more flexible. If you need more time that is fine too. Let me know if you are still interested. Would you mind sharing your full name and affiliation?

[2022-05-10 09:04] Kevin-Mattheus-Moerman commented on #3390
@Muhao-Chen some minor comments on the paper

- [ ] Check if `prestress` should be written as `pre-stress`
- [ ] `expansive` should be `expensive`
- [ ] Recomendation: consider expanding the various sets of listed items in the text on new lines e.g.

1. First listed item.
2. Second listed item.

@diehlpk I am nearly done with my review. I went through the paper and provided some feedback above.

I

[2022-05-10 09:12] CFGrote commented on #4333
I started the review over at https://github.com/jonathanHuwP/CrystalGrowthTracker/issues. I'll mention all submitted issues here for reference

[2022-05-10 09:40] engyasin commented on #4099
Dear editor @hugoledoux and reviewers @Shiming94 @lucaferranti ,

Following @hugoledoux recommendation, I added the notebooks link to the readme.

**Please let me know if something else is needed.**

[2022-05-10 09:44] swatimanekar commented on #4363
@editorialbot generate my checklist

[2022-05-10 10:18] markheckmann commented on #3292
@whedon generate pdf

[2022-05-10 10:18] markheckmann commented on #3292
@whedon generate pdf from branch joss

[2022-05-10 10:21] markheckmann commented on #3292
@editorialbot set  joss as branch
@editorialbot generate pdf

[2022-05-10 10:21] markheckmann commented on #3292
@editorialbot generate pdf

[2022-05-10 11:12] CFGrote commented on #4333
2nd issue: https://github.com/jonathanHuwP/CrystalGrowthTracker/issues/21

[2022-05-10 11:17] CFGrote commented on #4333
3rd issue: https://github.com/jonathanHuwP/CrystalGrowthTracker/issues/22 regarding example use case

[2022-05-10 11:50] erling6232 commented on #4133
I am grateful for the effort and constructive comments by the reviewers! You have contributed to an even better software, sorting out a number of problems. Also, the documentation on the github site has been improved!

I trust that you will let me know if there are additional actions expected from my side.

[2022-05-10 11:53] CFGrote commented on #4333
4th issue: https://github.com/jonathanHuwP/CrystalGrowthTracker/issues/24 on Community guidelines

[2022-05-10 12:46] Kevin-Mattheus-Moerman commented on #4252
@mscroggs @vijaysm Thanks again for your help with this review. I see you have left several boxes unticked. Could you summarize what points the authors should work on? Or have you perhaps opened issues relating to these on the project repository? If so can you link to them here? Thanks.

[2022-05-10 14:19] vijaysm commented on #4252
I had to take a couple of weeks off due to a family emergency. Will get back to this next week. @Kevin-Mattheus-Moerman

[2022-05-10 14:48] astrobel commented on #4343
@editorialbot generate my checklist

[2022-05-10 17:13] meg-simula commented on #4012
Thanks @cgurrr for the quick response and updated dependencies instructions. I am still unable to test the sinaps package, now due to errors in hvplot:

[2022-05-10 17:18] danielskatz commented on #4277
👋 @bastorer - note in particular that https://github.com/husseinaluie/FlowSieve/issues/5 is a showstopper here.  The license you have chosen is

1. not a software license but a data license
2. not OSI-approved

JOSS cannot publish papers about software that does not have an OSI-approved license.

[2022-05-10 17:42] wouterpeere commented on #4297
@crvernon raoulcollenteur is perhaps also a potential reviewer.

[2022-05-10 17:59] ngltr commented on #4012
@meg-simula, The installation process works well from scratch ( for example in the automated test, dependencies installation is checked https://github.com/ngltr/sinaps/runs/6341186525?check_suite_focus=true), but it seems we need to add other minimum version requirements for the all dependencies in case the user have old version already installed.
As a temporary solution, can you try to upgrade al

[2022-05-10 18:37] meg-simula commented on #4012
@editorialbot generate pdf

[2022-05-10 18:37] meg-simula commented on #4012
@editorialbot check references

[2022-05-10 18:44] meg-simula commented on #4012
@cgurrr Would you please take another look at the references in the paper? Last names seems to have gone missing mostly, with only initials remaining.

After this,  could you make a tagged release and archive for the software, and report the version number and archive DOI here?

[2022-05-10 19:16] lizarett commented on #4267
@Kevin-Mattheus-Moerman
I need an example of review, if possible? Can I drop you my details by e-mail, or it has to be public here?

[2022-05-10 19:22] Muhao-Chen commented on #3390
@Kevin-Mattheus-Moerman Thanks for your suggestions. I have made changes according to your comments. Thanks!

[2022-05-10 19:54] awvwgk commented on #4040
Sorry for the delay, I'm currently occupied writing my thesis and wasn't able to devote time for this review, unfortunately.

The software paper is well written and seems sufficiently supported by the software. I have no complaints about this part.

Regarding the software documentation, I'm surprised to find screenshots rather than code block in the documentation, which makes the example more diff

[2022-05-10 20:18] aliaksei135 commented on #4299
Hello @ixjlyons, I have gone through the bulk of the testing code.

## Testing
I have run the test cases and have had a few failures and things to note during the testing:
- cases 5, 7, 8, 13p1 have failed
- cases 15 and 16 do not indicate whether they have passed or not
- I can see that the test case runs in the documentation have the same errors, but an explicit note that the "missing_*" and `Ru

[2022-05-10 20:46] antipa commented on #4259
@danasolav Sorry for the late reply! I am happy to help out, though I will likely need to delegate to some of my PhD students.

[2022-05-10 21:20] mbobra commented on #3331
@ashleychontos Could you please rename or delete the paper in the /copy subdirectory? This is confusing our editorialbot. Once that's done, it will be able to generate the correct PDF.

[2022-05-10 22:11] chrisaberson commented on #4280
I have added a statement of need, how R users currently calculate these measures, and the target audience. OLS is now written out. I have added a detailed real world example to the repositories readme page and addressed community guidelines

[2022-05-10 22:33] chrisaberson commented on #4280
@jbytecode revisions made

[2022-05-10 23:03] mcostasitja commented on #4327
I would simply like to point out that I am a little bit in a hurry because I am transitioning to another position and I need to submit the outcome of the review to my employer (NASA/JPL) at least a week in advance to my change, which will happen on 19th of May, otherwise I might have to withdraw the submission as it is. Without willing to interfere in the review process, I just wanted to give that

[2022-05-11 01:44] cartemic commented on #4143
@kyleniemeyer [#10](https://github.com/cartemic/pypbomb/issues/10) is resolved.

[2022-05-11 05:43] mbobra commented on #4327
👋  @mcostasitja Let's see what happens with the reviewers' time schedules. Remember they review for JOSS on volunteer time, so they may not be able to complete it before May 19. If that's the case and you need to withdraw, don't worry -- JOSS does not penalize in any way for withdrawing and resubmitting. We can basically re-assign this submission right away, I will be happy to act as the editor ag

[2022-05-11 05:53] SimonMolinsky commented on #4327
Hi @mcostasitja , Hi @mbobra

I'm not able to end a review process this week, the next week is off the table too, and I've scheduled the review for the end of May (I have a holiday then and a lot of time).

I don't want to make a superficial review of your package, and there is a high chance that some bugs will be present. Probably the first review won't be the last.

Anyway, I'm waiting for your

[2022-05-11 06:13] mcostasitja commented on #4327
@mbobra, @SimonMolinsky thanks a lot for getting back to me promptly.

I've been a reviewer multiple times for different Journals, all on volunteer time -the perk is to access to the Journal but it's common to have institutional access already- so I am very empathic towards reviewers; also there have always been deadlines for me as a reviewer.

I submitted the paper one month ago and my affiliatio

[2022-05-11 08:05] Kevin-Mattheus-Moerman commented on #3390
@editorialbot generate pdf

[2022-05-11 09:14] danasolav commented on #4259
@antipa thank you for confirming. Hopefully the review will start soon.

[2022-05-11 09:15] danasolav commented on #4259
@YichengWu, would you be interested in reviewing this work on Lensless Computational Imaging with a Raspberry Pi ([resository](https://github.com/LCAV/LenslessPiCam) and [short paper](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04259/joss.04259/10.21105.joss.04259.pdf)), for the [Journal of Open Source Software (JOSS)](https://joss.theoj.org/)?

In case you are not familiar wit

[2022-05-11 10:03] Kevin-Mattheus-Moerman commented on #4267
@lizarett sure, here is an example review: https://github.com/openjournals/joss-reviews/issues/1441. As you can see, each reviewer gets a set of check boxes to guide you through the review process. The review focuses on the software and the short paper as mentioned :point_up: above.

You can email me at kevin.moerman@nuigalway.ie.

Let me know if you have any questions and if you are interested in

[2022-05-11 10:10] danasolav commented on #4259
@THUHoloLab, would you be interested in reviewing this work on Lensless Computational Imaging with a Raspberry Pi ([resository](https://github.com/LCAV/LenslessPiCam) and [short paper](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04259/joss.04259/10.21105.joss.04259.pdf)), for the [Journal of Open Source Software (JOSS)](https://joss.theoj.org/)?

In case you are not familiar wi

[2022-05-11 11:13] j3r3m1 commented on #4336
Hi @kmongird thank you for your contribution. I have started the review today. I will add new issues in your repo soon.

[2022-05-11 11:19] editorialbot opened #4384 "[PRE REVIEW]: tipr: An R package for sensitivity analyses for unmeasured confounders"
**Submitting author:** @LucyMcGowan (<a href="http://orcid.org/0000-0001-7297-9359">Lucy D&#39;Agostino McGowan</a>)
**Repository:** https://github.com/LucyMcGowan/tipr
**Branch with paper.md** (empty if default branch): joss
**Version:** v0.4.1
**Editor:** @fabian-s
**Reviewers:** @gcskoenig, @MichaelSchomaker
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/4459

[2022-05-11 11:19] editorialbot opened #4385 "[PRE REVIEW]: clustertools: A Python Package for Analyzing Star Cluster Simulations"
**Submitting author:** @webbjj (<a href="http://orcid.org/0000-0003-3613-0854">Jeremy Webb</a>)
**Repository:** https://github.com/webbjj/clustertools
**Branch with paper.md** (empty if default branch):
**Version:** v1.0
**Editor:** @christinahedges
**Reviewers:** @lwang-astro, @rieder
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/705af345dad802b0515db09f94c40b

[2022-05-11 11:19] editorialbot opened #4386 "[PRE REVIEW]: TimeseriesSurrogates.jl: a Julia package for generating surrogate data"
**Submitting author:** @kahaaga (<a href="http://orcid.org/0000-0001-6880-8725">Kristian Agasøster Haaga</a>)
**Repository:** https://github.com/JuliaDynamics/TimeseriesSurrogates.jl
**Branch with paper.md** (empty if default branch): JOSSpaper
**Version:** v2.0.0
**Editor:** @jarvist
**Reviewers:** @lucaferranti, @dawbarton
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.o

[2022-05-11 11:20] editorialbot opened #4387 "[PRE REVIEW]: Annoroad Vis: A multi-omic visualization tool"
**Submitting author:** @Spartanzhao (<a href="http://orcid.org/0000-0001-5293-820X">Yue Zhao</a>)
**Repository:** https://github.com/Spartanzhao/Annoroad-Browser/
**Branch with paper.md** (empty if default branch):
**Version:** v.1.0.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/acb4e1d83d37be864f061f53b98ad7a7/statu

[2022-05-11 11:22] arfon commented on #4376
@garrett-m-smith - thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-

[2022-05-11 11:22] arfon commented on #4376
@editorialbot reject

[2022-05-11 11:22] #4376 closed

[2022-05-11 11:24] arfon commented on #4385
:wave: @webbjj, thanks for your submission to JOSS. Does this submission accompany a related paper in a AAS journal?

[2022-05-11 11:27] arfon commented on #4387
@editorialbot query scope

@Spartanzhao - thanks for your submission to JOSS. I'm going to ask the editorial team to weigh in on this submission for a couple of reasons:

1. It looks like a significant fraction of this software is devoted to visualization and many visualization packages are not considered in scope for JOSS.
2. The software looks like it's not really packaged to the standards we'd

[2022-05-11 12:22] LucyMcGowan commented on #4384
Thank you! For reviewer suggestions, someone with R and epidemiology experience would be ideal. A few suggestions: masalmon, tgerke, noamross, corinne-riddell, jenniferthompson, darrendahley

[2022-05-11 12:29] garrett-m-smith commented on #4376
Thanks for considering the paper!

[2022-05-11 12:34] CFGrote commented on #4333
@editorialbot generate pdf

[2022-05-11 12:57] dlagrava commented on #3428
@kyleniemeyer  hope you are well. I am currently super busy, so I won't be able to do the review. Sorry!

[2022-05-11 13:11] CFGrote commented on #4333
General notes on the paper:
* I find parts of  it a bit hard to read and would recommend to have it cross-read by a native language speaker. I indicated some sentences that could be broken down into multiple sentences in attached annotated pdf.
* The paper is a bit sparse in citations. An interested reader may want to see one or two original papers where x-ray shadowgraphy has been applied to meas

[2022-05-11 13:49] webbjj commented on #4385
Hi @arfon , no the submission does not accompany a related paper in a AAS journal.

[2022-05-11 13:57] abhishektha commented on #4279
Thanks for the reminder! Planning on getting the review done this weekend.

@editorialbot generate my checklist

[2022-05-11 14:37] cagret commented on #4363
Hi, you need :
A modern, C++11 ready compiler such as g++ version 4.9 or higher or clang version 3.2 or higher.
A 64-bit operating system. Either Mac OS X or Linux are currently supported.
OpenMPI
libGkArrays-MPI
To proprely install the tool.
RedOak uses the libGkArrays-MPI library, which requires the zlib and openMPI development files to be already installed on your system (on Debian/Ubuntu it co

[2022-05-11 14:48] kyleniemeyer commented on #4379
@mikemahoney218 Ah, I forgot this was already accepted by rOpenSci (https://github.com/ropensci/software-review/issues/521). In that case, since this has been reviewed as in scope, acceptance in JOSS is fast tracked, and I will both edit and "review".

[2022-05-11 14:48] kyleniemeyer commented on #4379
@editorialbot assign me as editor

[2022-05-11 14:48] kyleniemeyer commented on #4379
@editorialbot assign me as reviewer

[2022-05-11 14:50] kyleniemeyer commented on #4379
@editorialbot assign @kyleniemeyer as reviewer

[2022-05-11 14:51] kyleniemeyer commented on #4379
@editorialbot add me as reviewer

[2022-05-11 14:51] editorialbot opened #4388 "[REVIEW]: unifir: A Unifying API for Working with Unity in R"
**Submitting author:** @mikemahoney218 (<a href="http://orcid.org/0000-0003-2402-304X">Michael Mahoney</a>)
**Repository:** https://github.com/ropensci/unifir
**Branch with paper.md** (empty if default branch): paper
**Version:** v0.2.0
**Editor:** @kyleniemeyer
**Reviewers:** @kyleniemeyer
**Archive:** 10.5281/zenodo.6539478

## Status

[![status](https://joss.theoj.org/papers/455deba7561f6777691

[2022-05-11 14:51] #4379 closed

[2022-05-11 14:53] kyleniemeyer commented on #4388
This is an rOpenSci-associated submission: https://github.com/ropensci/software-review/issues/521

[2022-05-11 14:53] kyleniemeyer commented on #4388
@editorialbot generate my checklist

[2022-05-11 15:00] mikemahoney218 commented on #4388
Hi @kyleniemeyer ! I haven't made one yet -- I remembered there was a problem with the Zenodo deposit when I submitted terrainr the last time, but couldn't remember what it was. Happy to make one now!

[2022-05-11 15:05] kyleniemeyer commented on #4388
Ah I see. Yes, please go ahead and archive the software package and let me know the DOI here. The paper looks good, and the review is fast-tracked since it was already reviewed by rOpenSci, so I can go ahead and publish this once I have that.

[2022-05-11 15:12] kyleniemeyer commented on #4388
@editorialbot recommend-accept

[2022-05-11 15:14] kyleniemeyer commented on #4388
@editorialbot accept

[2022-05-11 15:19] kyleniemeyer commented on #4388
Congratulations @mikemahoney218 on your article's publication in JOSS!

[2022-05-11 15:19] #4388 closed

[2022-05-11 15:19] ashleychontos commented on #3331
@editorialbot generate pdf

[2022-05-11 15:20] mikemahoney218 commented on #4388
Thank you @kyleniemeyer !

[2022-05-11 15:27] gully commented on #4302
Version number is `v0.3.4`, here is the link to Zenodo:

https://zenodo.org/record/6539458#.YnvVcy-B1pQ

[2022-05-11 15:35] xuanxu commented on #4302
@editorialbot set v0.3.4 as version

[2022-05-11 15:36] hugoledoux commented on #4015
Sorry @zarrarkhan I am on holidays. I will be back in 2w.

I was hoping that @maczokni would finalise her review in the meantime, if we haven't heard from her then I'll see how to proceed.

Hope you understand.

[2022-05-11 15:36] xuanxu commented on #4302
@editorialbot set 10.5281/zenodo.6539458 as archive

[2022-05-11 15:37] xuanxu commented on #4302
Thank you @gully. We're all set. Recommending for acceptance.

[2022-05-11 15:38] xuanxu commented on #4302
@editorialbot recommend-accept

[2022-05-11 15:43] athulpg007 commented on #4327
I will try my best to get my first review to you as soon as possible.

[2022-05-11 15:50] athulpg007 commented on #4327
I tried running the tests and got this, did I miss something?

python -m unittest
EEE
======================================================================
ERROR: naif_pds4_bundler.test_functional (unittest.loader._FailedTest)
----------------------------------------------------------------------
ImportError: Failed to import test module: naif_pds4_bundler.test_functional
Traceback (most recent c

[2022-05-11 15:53] athulpg007 commented on #4327
Nevermind, I was not in the right directory: `tests/naif_pds4_bundler`

[2022-05-11 15:53] mcostasitja commented on #4327
Have you tried under the tests/naif_pds4_bundler directory? This is indicated here: https://nasa-pds.github.io/naif-pds4-bundler/41_npb_installation.html#running-tests

[2022-05-11 16:30] astrobel commented on #4343
Thanks @warrickball and JOSS for having me as a reviewer! This is a nifty software package, and everything works well for me! I've made some notes below on specific things I think can be clarified or improved. My only overall comment is that you should standardise the formatting of `tomso` across the paper and the docs. Right now, it's lowercase and verbatim in the paper and uppercase in the docs.

[2022-05-11 18:14] diehlpk commented on #3959
@samuelburbulla Please let us know once you finished these edits.

[2022-05-11 19:38] Kevin-Mattheus-Moerman commented on #4267
@editorialbot add @lizarett as reviewer

[2022-05-11 19:39] Kevin-Mattheus-Moerman commented on #4267
@editorialbot start review

[2022-05-11 19:39] editorialbot opened #4389 "[REVIEW]: Mechkit: A continuum mechanics toolkit in Python"
**Submitting author:** @JulianKarlBauer (<a href="http://orcid.org/0000-0002-4931-5869">Julian Karl Bauer</a>)
**Repository:** https://github.com/JulianKarlBauer/mechkit
**Branch with paper.md** (empty if default branch): paper
**Version:** v0.4.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @nicoguaro, @likask, @lizarett
**Archive:** 10.5281/zenodo.7185691

## Status

[![status](https://jos

[2022-05-11 19:39] #4267 closed

[2022-05-11 19:53] FlukeAndFeather commented on #3220
@marcosvital @juniperlsimonis @gmyenni My apologies for not responding after you resumed work on this submission! I think I silenced notifications for this thread and forgot to check back in. Congratulations on your paper acceptance!

[2022-05-11 20:13] davidpagnon commented on #4362
Dear reviewers,
I suppose it is not really advised to change the code once it's under review, but I wanted to make Poe2Sim available through pip. It made me slightly modify the file structure, although none of the core code has been changed. I tested it all, updated the Readme, and pushed the changes today.
I don't think it will make a big difference, but if you already cloned the repository, you

[2022-05-11 20:21] taoliu032 commented on #4182
Hi @csoneson, thank you for your patience. I updated the codebase with the changes requested by the reviewers and tested them myself. The reviewers' suggestions are very helpful - thank you very much!

Now we are waiting for any feedback from our beta tester. Once it is done (should not be long), I will update the JOSS branch and invite reviewers to test the code, as the final step hopefully.

Sum

[2022-05-11 20:31] gabrielelubatti commented on #4265
Dear @BatoolMM, thanks again for you feedbacks and comments! They have definitely improved the library.

[2022-05-11 20:34] gabrielelubatti commented on #4265
Dear @csoneson ,
do you have news from the third reviewer?

[2022-05-11 20:50] eferrea commented on #3956
Dear @oliviaguest, given the actual situation, we kindly ask you how to proceed from here. So far we addressed or discussed all the main remaining issues but unfortunately we did not received any feedback yet (see https://github.com/openjournals/joss-reviews/issues/3956#issuecomment-1078829728 and https://github.com/openjournals/joss-reviews/issues/3956#issuecomment-1070967659.
Because of that we

[2022-05-11 21:32] VivianePons commented on #2954
Hi @michakraus where are we on this? Thanks!

[2022-05-11 21:36] VivianePons commented on #4283
Hi, @behollister and @agdturner can you update me the state of the review / requests?

Also, @abhishekvp I see you haven't generated your checklist, when do you think you can start the review?

Thanks

[2022-05-11 22:04] christinahedges commented on #4243
It looks like @carmeloevoli has finished their review of this work, and has completed their checklist. @carmeloevoli, can you sound off in the comments that you are happy to finish your review of this submission?

@amitseta90, you seem to have completed half the review of this work. Can you chime in on how you are doing with your review?

[2022-05-11 23:25] csoneson commented on #4182
Great, thanks for the update @taoliu032!

[2022-05-11 23:32] csoneson commented on #4265
@gabrielelubatti Not yet - I have reached out to @sahilseth offline as well.

[2022-05-11 23:35] sahilseth commented on #4265
@gabrielelubatti <https://github.com/gabrielelubatti> @csoneson I will get
back to you this week. Thanks!
--
Regards,
Sahil

[2022-05-11 23:36] csoneson commented on #4265
Thank you @sahilseth!

[2022-05-12 00:46] amitseta90 commented on #4243
Dear @christinahedges,

I had already completed the coding part of the review and also read through the paper now. So, all done and looks very good. Happy to sign off the paper.

[2022-05-12 00:47] athulpg007 commented on #4327
@mcostasitja I have completed my first review of NAIF PDS4 Bundler. This is a well-developed and well-documented package which has demonstrated its usefulness to generate PDS4 archives within NASA, ESA, and JAXA. I have gone through  the checklist and checked off all items except one, which I have minor comment about.

In the documentation, would it be possible to add at least one example (could b

[2022-05-12 00:54] mcostasitja commented on #4327
@athulpg007 thanks for taking the time to do this first round. I fully agree with your suggestion and I will include an example in the documentation. More specifically in after the "Using NPB" section: https://nasa-pds.github.io/naif-pds4-bundler/43_using_npb.html#

I will call it "Working Example" -suggestions are welcome, I am not an English native speaker. The example will use existing files pr

[2022-05-12 00:57] athulpg007 commented on #4299
@ixjlyons Thanks for incorporating my suggestions. The examples [https://nasa.github.io/simupy-flight/nesc_test_cases/index.html](https://nasa.github.io/simupy-flight/nesc_test_cases/index.html) and the API section is excellent and very useful.

I recommend that you include an "Examples" section in the paper. It can just contain one line with a link to the examples in the documentation.

I have co

[2022-05-12 02:37] cgurrr commented on #4012
@meg-simula Many thanks for your comments.
- We added a note on potential incompatibilities and  proposed potential fixes in the documentation: https://sinaps.readthedocs.io/en/stable/installing.html
- We corrected the author name syntax in the references of the paper.
- The tagged release is now 0.3.2,
- Finally, we made an archive in Zenodo. DOI:  `10.5281/zenodo.6540844`

[2022-05-12 03:34] JoaoRodrigues commented on #4182
👍 for me for publication. Good job with the reviews @taoliu032 and thank you for the patience!

[2022-05-12 04:13] szwiep commented on #4282
Hi @kbarnhart, @smchartrand and I have completed the suggested changes. Shawn has also prepared a short [response to comments document ](https://github.com/szwiep/py_SBeLT/blob/master/peer_review/Zwiep%20and%20Chartrand%20JOSS%20Response%20to%20Comments%20May%202022.pdf) that can hopefully be some help during the re-review process!

[2022-05-12 05:37] asitha-sena commented on #4324
@jedbrown I made the following changes and updated the paper.
1. Add figure showing data structure
2. Add figure showing example output after validation
3. Remove reference to current repo
4. Convert URLs to other repos to links
5. Capitalize titles of AGS4 guidelines in references section

The only outstanding item is to update the tutorial Jupyter notebook as suggested. I will do that in the nex

[2022-05-12 06:00] Spartanzhao commented on #4387
Dear editors: Dynamic Interplay between Structural Variations and 3D Genome Organization in Pancreatic Cancer https://doi.org/10.1002/advs.202200818 is going to publish online, All the track plot was finished by my Annoroad Vis

[2022-05-12 06:03] Spartanzhao commented on #4387
<img width="277" alt="image" src="https://user-images.githubusercontent.com/15102146/168002379-49e97ab4-523c-4f59-a832-844d58d25f8f.png">
<img width="315" alt="image" src="https://user-images.githubusercontent.com/15102146/168002490-e29f2028-e297-4dd7-85df-1f7d67095b32.png">
<img width="298" alt="image" src="https://user-images.githubusercontent.com/15102146/168002531-a020f16f-8c75-497c-a1e7-138c8

[2022-05-12 06:05] Spartanzhao commented on #4387
There are more Hi-C multi-omic papers are going to publish in my research department all used my tools to draw the track plot.

[2022-05-12 06:05] Spartanzhao commented on #4387
https://wiley.eproofing.in/Proof.aspx?token=45554a4a68124693a75ab287f7881a7a175051088

[2022-05-12 06:10] Spartanzhao commented on #4387
This paper is going to published to science advances and has already accepted. Besides, there are more Hi-C multi-omic papers are going to publish in my research department all used my tools to draw the track plot.
<img width="779" alt="image" src="https://user-images.githubusercontent.com/15102146/168003500-5d6a5144-2812-47cd-9eec-f2ebe5b34b84.png">

[2022-05-12 06:17] agdturner commented on #4283
Hi @VivianePons. @behollister has identified an issue to do with getting started with the library using Maven. There was a slight confusion, but I believe I have addressed the issue. The library is organised along Maven guidelines which place all the test classes in a similar but separate directory structure to the source code. @behollister had suggested to reorganise this along the lines of a sta

[2022-05-12 07:19] jbytecode commented on #4231
@jakryd - I am so sorry for bothering you but we are a little bit of ahead of the average reviewing times. It seems there is not any progress in your review task list. Could you please update your status or at least can you set a deadline for us?

Thank you in advance.

[2022-05-12 08:20] Kevin-Mattheus-Moerman commented on #4389
@JulianKarlBauer can you check those potentially missinf DOI's :point_up: ?

[2022-05-12 09:27] mikldk commented on #4383
@acolum I think it is fine that this potential COI is now recorded, and I think it can be waived if you think you are able to make an impartial assessment of the work?

[2022-05-12 09:27] mikldk commented on #4383
@mcavs, @acolum: Note that ([source from pre-review](https://github.com/openjournals/joss-reviews/issues/4159#issuecomment-1039328191)):

Also note [the answer](https://github.com/openjournals/joss-reviews/issues/4159#issuecomment-1039328191).

[2022-05-12 09:28] mikldk commented on #4159
Good idea, thanks. I have made [this comment](https://github.com/openjournals/joss-reviews/issues/4383#issuecomment-1124743074) in the review. You are welcome to insert your answer there, too, if you like.

[2022-05-12 10:04] amoradinejad commented on #4173
@eloisabentivegna <https://github.com/eloisabentivegna> thanks for the info, I updated the paper with the affiliation as described in the link.

[2022-05-12 10:38] arfon commented on #4289
@JanLeppert - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-05-12 10:41] arfon commented on #4322
@CWillberg - thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/)

[2022-05-12 10:41] arfon commented on #4322
@editorialbot reject

[2022-05-12 10:41] #4322 closed

[2022-05-12 10:45] arfon commented on #4228
@editorialbot accept

[2022-05-12 11:13] arfon commented on #4228
@corybrunson, @kuesterc9 – many thanks for your reviews here and to @fabian-s for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@alstat  – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-05-12 11:13] #4228 closed

[2022-05-12 11:15] auroreloisy commented on #4266
@VivianePons Have you heard back from @RomainAzais by any chance? It's been 6 weeks since they were assigned and nothing has moved.

[2022-05-12 11:27] RomainAzais commented on #4266
Hello!
Sorry for my very late reply. I've been super busy the last few weeks.
But as I said to @VivianePons earlier this morning, I'm going to take care of the review in the next few days.
Romain

[2022-05-12 12:12] d-eggert commented on #4052
@martinfleis ,

well, @sk1p had one month to respond, so I guess he won't finish his review.

@cjwu may you please respond to my question from three weeks ago?

Best,
Daniel

[2022-05-12 12:39] vissarion commented on #3329
@editorialbot generate pdf

[2022-05-12 12:47] sc-gcoste commented on #3329
@vissarion I'll do that as soon as possible

[2022-05-12 12:52] JulianKarlBauer commented on #4389
@editorialbot generate pdf

[2022-05-12 12:56] JulianKarlBauer commented on #4389
Thank you for pointing this out! I added the missing DOIs and regenerated the pdf.

[2022-05-12 13:10] #4302 closed

[2022-05-12 13:12] asitha-sena commented on #4324
@editorialbot generate pdf

[2022-05-12 13:28] asitha-sena commented on #4324
@editorialbot generate pdf

[2022-05-12 13:36] fanchercm commented on #4104
Hi @rkrchin, I wanted to check to make sure my emails are not being filtered by our new security policies.

Regards,
Chris

On May 6, 2022, at 11:02 AM, Rachel Kurchin ***@***.******@***.***>> wrote:

Hi again @fanchercm<hxxps://github.com/fanchercm>, just checking in in case a notification got missed – could you respond to @arfon<hxxps://github.com/arfon>'s question above?

—
Reply to this email

[2022-05-12 13:54] rkurchin commented on #4104
@fanchercm, I see that reply (17 minutes ago) but if you replied in the last 17 days, it did not come through.

[2022-05-12 14:00] fanchercm commented on #4104
@rkurchin, I’m not sure what has been blocking the emails. I’ve responded twice since @arfon email on April 25th.

"I’m more confused about what the criteria is for the “substantial scholarly effort”. I was under the impression that some JOSS papers were published as companions to papers detailing the science application. JOSS states “In this circumstance, JOSS considers submissions for which the

[2022-05-12 14:30] sidihamady commented on #4373
@EwaGomez I would like to know if the authors use this code under Linux? The documentation is very Windows-centric, and it doesn't seem easy to use on Linux. Thanks.

[2022-05-12 14:36] fanchercm commented on #4104
I just sent a follow-up email, I want to confirm that the email did arrive.

On May 12, 2022, at 9:36 AM, Fancher, Christopher ***@***.******@***.***>> wrote:

Hi @rkrchin, I wanted to check to make sure my emails are not being filtered by our new security policies.

Regards,
Chris

On May 6, 2022, at 11:02 AM, Rachel Kurchin ***@***.******@***.***>> wrote:

Hi again @fanchercm<hxxps://github.com/

[2022-05-12 14:53] Kevin-Mattheus-Moerman commented on #4389
@JulianKarlBauer nearly there, not the invalid one :point_up:, fyi you can also run `@editorialbot check references`.

[2022-05-12 14:53] EwaGomez commented on #4373
@sidihamady We used the code under windows and Mac OS, but until now not under Linux. But I would like to consider that in the further development.

[2022-05-12 14:54] Kevin-Mattheus-Moerman commented on #4352
@editorialbot invite @faroit as editor

[2022-05-12 14:54] Kevin-Mattheus-Moerman commented on #4352
@faroit :wave:

[2022-05-12 14:56] faroit commented on #4352
@Kevin-Mattheus-Moerman hi, sorry for not replying and delaying the process. I was on vacation and forgot to set my status. Let me have a look at the paper today and then come back to this issue.

[2022-05-12 15:18] mgiardino commented on #4305
Hi @fboehm, I think my review is pretty complete. The paper is well written and the software behavior is "as expected": great job!
The authors were really open to my suggestions and I think that the small corrections performed could also simplify the use of this module.
I write here my last comments.

**Statement of need**
The target audience is somewhat implicit.

**References**
The (n.d. …) styl

[2022-05-12 15:26] JulianKarlBauer commented on #4389
@editorialbot check references

[2022-05-12 15:28] dtabell commented on #3665
@pibion  Yes. I am willing to review this submission. I see the paper has languished for lack of a reviewer. I will endeavor to have this done before the end of the month. Will that suit?

[2022-05-12 15:30] csoneson commented on #4182
Thanks @JoaoRodrigues and @rvhonorato!

@taoliu032 - I will also have a quick look through the submission and will get back to you with the next steps shortly.

[2022-05-12 15:33] taoliu032 commented on #4182
Thank you very much @JoaoRodrigues @rvhonorato!

@csoneson - sounds good and I have just updated the code in JOSS branch

[2022-05-12 15:38] Kevin-Mattheus-Moerman commented on #4389
@nicoguaro, @likask, @lizarett this is where the review takes place. You can each call `@editorialbot generate my checklist` here to create your check list. Let me know if you have any question.

[2022-05-12 15:46] Kevin-Mattheus-Moerman commented on #4118
@CZHU20 I hope you are doing well and that your survived the "proposal-writing" season. For me it is "exam paper correction season" :) Let me know if there are any updates on addressing the review comments. It would be good to pick this up soon to avoid losing track of the reviewers.

[2022-05-12 15:49] Kevin-Mattheus-Moerman commented on #3736
@clarka34, @quynhneo. :wave: could you give me an update on review progress? Also let us know if you are waiting for @fibreglass2 to make changes. Thanks again for your help. @fibreglass2 let us know if there are any updates from your end.

[2022-05-12 16:05] rkurchin commented on #4104
Yes, that one came through – thanks!

[2022-05-12 16:14] fanchercm commented on #4104
Thank you for the quick response!

We had initially structured the two papers based on the IGRINS RV work (https://joss.theoj.org/papers/10.21105/joss.03095 and https://iopscience.iop.org/article/10.3847/1538-3881/abf5e7/pdf). Our team is not familiar with astronomical papers. We might have missinterupted the differences between the two sets of papers.

Chrsi

On May 12, 2022, at 12:08 PM, Rachel

[2022-05-12 19:20] acolum commented on #4383
@mikldk Thanks for the clarification, and yes, I think I'm able to make an impartial assessment of the work.

[2022-05-12 19:25] csoneson commented on #4182
@editorialbot generate pdf

[2022-05-12 19:27] csoneson commented on #4182
@editorialbot generate pdf from branch JOSS

[2022-05-12 19:29] csoneson commented on #4182
@editorialbot set JOSS as branch

[2022-05-12 19:29] csoneson commented on #4182
@editorialbot generate pdf

[2022-05-12 19:31] csoneson commented on #4182
@editorialbot check references

[2022-05-12 20:41] LeonieFierz commented on #4261
@jasondegraw That would be great if you could try to run the tests. To do so, you first need the "development installation" as described in https://cesar-p-core.readthedocs.io/en/latest/development/development-installation.html. With that set up, you can start the tests e.g. with

`poetry run pytest tests`

Note that some of the tests need EnergyPlus 9.5.0 installed and configured in the environme

[2022-05-12 21:07] evetion commented on #4342
I've reviewed the paper and documentation and ran some of the examples. I'm not a R user (installed it just for this), but am familiar with ICESat-2 and its data distribution. Disclosure: I'm also the author of a ICESat-2 data handling package, [SpaceLiDAR.jl](https://github.com/evetion/SpaceLiDAR.jl) in Julia, interfacing with the NSIDC, not OpenAltimetry.

Overall, I recognize the need for packa

[2022-05-12 22:51] mcostasitja commented on #4327
@athulpg007 @SimonMolinsky @mbobra I just checked with my management and it looks like it will be possible to clear the final version of the article even if I am not longer affiliated to NASA/JPL so we are good to go for a review ending later.

[2022-05-13 00:48] cartemic commented on #4143
@kyleniemeyer [#7](https://github.com/cartemic/pypbomb/issues/7) is resolved.

[2022-05-13 01:12] prashjha commented on #3997
@editorialbot check references

[2022-05-13 01:19] prashjha commented on #3997
Hi, @Kevin-Mattheus-Moerman, thanks for completing the review.

[2022-05-13 01:20] prashjha commented on #3997
Hello @taylormcd, I am reading the draft one last time. If I have any edits or suggestions, I will let you know soon. Meanwhile, could you check the following reference flagged by editorialbot:

Ibrahimbegović, A., & Mikdad, M. A. (1998). Finite rotations in dynamics of beams and implicit time-stepping schemes. International Journal for Numerical Methods in Engineer- ing, 41(5), 781–814. https://d

[2022-05-13 01:38] prashjha commented on #4177
HI @vsangelidakis, I hope you are settled into a new position. BTW, will you have time now to review this submission? You can work on the review at your own pace. Let me know!

[2022-05-13 01:39] prashjha commented on #4177
Howdy, @calum-chamberlain! Is there a chance you could review this software article for JOSS? I believe it is in your field. Let me know. Thanks.

[2022-05-13 01:40] prashjha commented on #4308
@editorialbot check references

[2022-05-13 01:40] prashjha commented on #4308
@editorialbot generate pdf

[2022-05-13 02:01] prashjha commented on #3997
Hi, @taylormcd, see if these suggestions for the draft makes sense:

- Line 16: missing space between "researchers" and "(Betsch".
- Line 33: "that it is written ..."?
- Line 53: "... accelerations are also provided" is better as you use word "support" in the beginning of this sentence.
- Line 65: "... sectional analysis"?

After you have updated the draft and also fixed the reference I mentiond,

[2022-05-13 02:12] prashjha commented on #4308
@editorialbot add @Athene-ai as reviewer

[2022-05-13 02:15] prashjha commented on #4308
Hi @travisseymour, could you provide the names of a couple of potential reviewers for your submission? You can check out [this link](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822) for the list of reviewers for JOSS.

We need one more reviewer to begin the review.

[2022-05-13 02:20] jrising commented on #3329
@vissarion I apologize for not responding sooner, but I had been working on trying to install the package so I could test it again. Perhaps for the best to move on without me though.

[2022-05-13 06:50] csoneson commented on #4182
@taoliu032 I have made a [PR](https://github.com/siminegroup/E2EDNA2/pull/17) with a couple of minor edits to the manuscript - please check and merge if you agree. After merging, you can generate a new proof with `@editorialbot generate pdf` as above.

The next steps then are as follows:
- [ ] Make a tagged release of the software, and list the version tag of the archived version here.
- [ ] Archi

[2022-05-13 07:15] dbrizard commented on #4351
Hi @diehlpk
I found a person who is willing to review: @obsmax

[2022-05-13 07:45] vissarion commented on #3329
Thanks @jrising and no worries, two reviews are enough to move on with the process.

[2022-05-13 08:40] arfon commented on #4330
@editorialbot invite @luizirber as editor

:wave: @luizirber – Rust is your jam right? 😄 Can I interest you in this submission?

[2022-05-13 08:41] RomainAzais commented on #4266
@editorialbot generate my checklist

[2022-05-13 09:01] aj2duncan commented on #3292
Hi @markheckmann, thanks for this. I will try to check them in detail over the weekend and get back to you.

[2022-05-13 09:10] editorialbot opened #4390 "[PRE REVIEW]: PCRedux: A Quantitative PCR Machine Learning Toolkit"
**Submitting author:** @devSJR (<a href="http://orcid.org/0000-0002-1441-6512">Stefan Rödiger</a>)
**Repository:** https://github.com/PCRuniversum/PCRedux
**Branch with paper.md** (empty if default branch):
**Version:** 1.1-2
**Editor:** @csoneson
**Reviewers:** @jaybee84, @markziemann
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/860ed94423d2d9908209c37ed8aec4

[2022-05-13 09:10] editorialbot opened #4391 "[PRE REVIEW]: RELSAD: A Python package for reliability assessment of modern distribution systems"
**Submitting author:** @stinefm (<a href="http://orcid.org/0000-0002-2283-1724">Stine Fleischer Myhre</a>)
**Repository:** https://github.com/stinefm/relsad
**Branch with paper.md** (empty if default branch):
**Version:** v0.0.1
**Editor:** @fraukewiese
**Reviewers:** @robinroche, @blthayer
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/89b8a25755bb2641370bf83b7

[2022-05-13 09:11] editorialbot opened #4392 "[PRE REVIEW]: ParMOO: A Python library for parallel multiobjective simulation optimization"
**Submitting author:** @thchang (<a href="http://orcid.org/0000-0001-9541-7041">Tyler Chang</a>)
**Repository:** https://github.com/parmoo/parmoo
**Branch with paper.md** (empty if default branch): joss
**Version:** v0.1.0
**Editor:** @kellyrowland
**Reviewers:** @Viech, @jdreo
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/398f0708b35d3f7c1134b3cc7ec391da/statu

[2022-05-13 09:12] arfon commented on #4390
@editorialbot check repository

[2022-05-13 09:12] arfon commented on #4390
@editorialbot generate pdf

[2022-05-13 09:12] arfon commented on #4390
@editorialbot check repository

[2022-05-13 09:14] arfon commented on #4391
@stinefm – the ORCID for Olav Fosso is invalid. Could you please fix it?

[2022-05-13 09:18] arfon commented on #4151
:wave: folks. Just checking in here to see how things are going? @terrytangyuan – what's the next step here?

[2022-05-13 09:19] arfon commented on #4358
@editorialbot invite @terrytangyuan as editor

:wave: @terrytangyuan – would you be able to edit this submission for JOSS?

[2022-05-13 09:20] arfon commented on #4372
@hiDaDeng - thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/)

[2022-05-13 09:20] arfon commented on #4372
@editorialbot reject

[2022-05-13 09:20] #4372 closed

[2022-05-13 09:21] mefuller commented on #4143
@kyleniemeyer @cartemic I am satisfied with the recent changes and have no further major concerns

[2022-05-13 09:23] arfon commented on #4199
:wave: @KristinaRiemer – just a gentle nudge to find a second reviewer here and get this submission out to the review stage.

[2022-05-13 09:28] arfon commented on #4384
@LucyMcGowan - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-05-13 09:29] stinefm commented on #4391
Hi,
Thank you, this should be fixed now.

[2022-05-13 09:33] carmeloevoli commented on #4243
Yes, very nice work! I anticipate a lot of interest for this code in our community.

[2022-05-13 09:46] arfon commented on #4385
@webbjj - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

For future EiCs on rotation, @christinahedges would be a good editor here but I think they have limited capacity right

[2022-05-13 09:48] arfon commented on #4390
@editorialbot invite @csoneson as editor

:wave: @csoneson – would you be able to edit this submission for us?

[2022-05-13 09:48] arfon commented on #4391
@editorialbot generate pdf

[2022-05-13 09:50] arfon commented on #4391
@editorialbot invite @fraukewiese as editor

:wave: @fraukewiese - would you be able to edit this submission for JOSS?

[2022-05-13 09:51] arfon commented on #4392
@editorialbot invite @kellyrowland as editor

:wave: @kellyrowland - would you be willing to edit this submission for JOSS?

[2022-05-13 10:11] jakryd commented on #4231
Sorry for the delay. I will upload my review on 17/5 at the latest.

[2022-05-13 10:21] baxmittens commented on #4300
@mkitti - I added a CI.yml and a branch `joss_paper` with a `Manifest.toml`. Is this sufficient or need I to include Zenodo as well?
And if so, how is it done? Do I upload a zip-file of this branch? I'm not quite sure.

[2022-05-13 10:25] jbytecode commented on #4300
You don't need a Zenodo archive in this stage.

[2022-05-13 11:16] ngsxfem commented on #4252
@editorialbot generate my checklist

[2022-05-13 11:18] schruste commented on #4252
@editorialbot generate my checklist

[2022-05-13 11:36] reichherzerp commented on #4243
Dear @amitseta90 and @carmeloevoli,
I appreciate your effort of reviewing the software package and the paper. Thanks a lot!

[2022-05-13 11:45] simonom commented on #4326
@dkauf42, regarding the substantial scholarly effort section of the review.

The ESMValTool is rightly referenced in the statement of need in the paper.  And its overarching objective appears to be the same as gdess, which means the benefit of gdess (over ESMValTool) lies in the details (but tell me if I'm wrong on this).

The distinction between the two software packages is stated in the gdess pa

[2022-05-13 13:13] mkitti commented on #4300
Package registration satisfies my prior concerns. The Manifest.toml is appreciated. Zenodo would be most applicable at publication time.

[2022-05-13 13:35] arfon commented on #4355
@editorialbot invite @fabian-s as editor

:wave: @fabian-s – would you be willing to edit this submission for us?

[2022-05-13 13:54] terrytangyuan commented on #4151
@Theomat Did you get a chance to take a look at the feedback above?

@bzz and @Kraks Would you like to take a closer look and provide your feedback as well?

[2022-05-13 13:55] terrytangyuan commented on #4358
@editorialbot assign @terrytangyuan as editor

[2022-05-13 13:55] terrytangyuan commented on #4358
@flyaflya If you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2022-05-13 14:00] cartemic commented on #4143
@mefuller @wenkailiang thank you for your time and input!

[2022-05-13 14:04] fraukewiese commented on #4391
Yes, I can edit this submission.

[2022-05-13 14:15] flyaflya commented on #4358
Thank you for agreeing to edit this submission.

Very relevant reviewer as maintainer of greta package which causact relies on for computational inference:
njtierney (especially relevant due to causact's dependency on the package Nick maintains)

Reviewers who like Bayesian methods and have R Preference:
zhiiiyang
nhtran93
thomaspinder
rMassimiliano
rowlandseymour
ChristopherLucas

Previous review

[2022-05-13 14:28] omtazi commented on #4211
Hello @Kevin-Mattheus-Moerman @oriolcg , I'm having trouble running the example1 and example2 codes. I get the following message when I run example2_NACA6418_unsteadyFSI.m . Do you have this too ?

`Unable to resolve the name 'parallel.Settings'.

Error in Assembly/adjust_parallel_settings (line 26)
            ps = parallel.Settings;

Error in Assembly/set.parallelized (line 22)
            adjus

[2022-05-13 14:30] fraukewiese commented on #4391
@stinefm : Do you have any suggestions for reviewer? This list might be of help: https://bit.ly/joss-reviewers (please start at the bottom)

[2022-05-13 14:36] terrytangyuan commented on #4358
Thanks! I am mentioning everyone here.

👋🏻 Hi @zhiiiyang @nhtran93 @thomaspinder @rMassimiliano @rowlandseymour @ChristopherLucas @lionel68 @joethorley @goldingn, if you'd like to review this submission, please comment here! Feel free to unsubscribe from this issue if you are not interested.

[2022-05-13 15:29] wence- commented on #3982
@jedbrown I am happy with the current manuscript and checklist; @tisaac I think you are too?

[2022-05-13 15:32] joethorley commented on #4358
@terrytangyuan - I'd very much like to review this package (I like Bayesian methods and have R preference)

[2022-05-13 15:40] ChristopherLucas commented on #4358
Why is there a node for the standard error of the estimates?

[2022-05-13 15:42] ChristopherLucas commented on #4358
I am happy to review this package.

[2022-05-13 16:48] CZHU20 commented on #4118
@Kevin-Mattheus-Moerman Dear Kevin, thank you for the reminder and I am glad we all survived :)
We are steadily making progress in addressing the reviewer's comments. We think one of the most important issue is that the reviewer couldn't build the software and evaluate its functionality. We have created a Dockerfile to automate the build process and to increase its cross-platform compatibility. Th

[2022-05-13 17:42] crvernon commented on #4297
👋 - @raoulcollenteur Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-05-13 18:51] meg-simula commented on #4012
@editorialbot generate pdf

[2022-05-13 18:51] meg-simula commented on #4012
@cgurrr Lovely, thanks for the follow-up and response.

[2022-05-13 18:54] meg-simula commented on #4012
@editorialbot set 10.5281/zenodo.6540844 as archive

[2022-05-13 18:54] meg-simula commented on #4012
@editorialbot set v0.3.2 as version

[2022-05-13 18:55] meg-simula commented on #4012
@editorialbot recommend-accept

[2022-05-13 19:12] devSJR commented on #4390
suggestions for potential reviewers
dombennett
andremrsantos
seaaan

[2022-05-13 20:18] galessiorob commented on #4133
@editorialbot generate pdf

[2022-05-13 20:19] kyleniemeyer commented on #4143
@editorialbot generate pdf

[2022-05-13 20:22] galessiorob commented on #4133
@erling6232 My sincere apologies for the delay, I had a sick period and had to take some time off. This paper is looking ready to be published!

@JoaoRodrigues @glatard I'm removing you as reviewers given that this paper is ready to be published with the two existing reviews. I hope we can work together on a future paper!

[2022-05-13 20:24] galessiorob commented on #4133
@editorialbot generate pdf

[2022-05-13 20:26] galessiorob commented on #4133
@editorialbot remove @glatard as reviewer

[2022-05-13 20:27] galessiorob commented on #4133
@editorialbot remove @JoaoRodrigues as reviewer

[2022-05-13 20:27] galessiorob commented on #4133
@editorialbot generate pdf

[2022-05-13 20:29] galessiorob commented on #4133
@editorialbot generate pdf

[2022-05-13 20:33] galessiorob commented on #4133
@editorialbot remove @joaorodrigues as reviewer

[2022-05-13 20:33] galessiorob commented on #4133
@editorialbot list reviewers

[2022-05-13 20:34] galessiorob commented on #4133
@editorialbot generate pdf

[2022-05-13 20:38] galessiorob commented on #4133
Took me a few tries to figure out the case in the handle to remove...

@erling6232 this is so well documented! Thanks for all the work and patience.

The next thing we need from you is to deposit your software in Zenodo and post the DOI here and the most recent version. After that, we can set the final version, generate a final proof, and have an Editor in Chief do the publishing.

@hsang @mwegrzy

[2022-05-13 20:39] kmongird commented on #4336
@j3r3m1 and @fraukewiese, I have completed my changes and addressed the comments. Thank you again for your review, we appreciate your time and effort going through our submission.

[2022-05-13 21:16] kyleniemeyer commented on #4143
Hi @cartemic, we are nearly ready to accept! Just a few small items:

1. Can you add commas after the uses of "e.g." in the paper? In other words, "e.g.,".

2. Could you add a bit more detail to the README? Since that is the effectively the landing page for people, I think it should have a bit more basic info about the project, simple installation instructions (not for developers, just pip/conda u

[2022-05-13 21:29] pibion commented on #3665
@editorialbot add @dtabell as reviewer

[2022-05-13 21:31] pibion commented on #3665
@dtabell end of month is a great time scale, thank you for volunteering as a reviewer!

@arfon I would like to start this review now even though we still need to add a second reviewer - this would let us take advantage of @dtabell 's current availability.  What do you think?

[2022-05-13 21:33] kbarnhart commented on #4282
@editorialbot check references

[2022-05-13 21:36] taoliu032 commented on #4182
@csoneson Thank you very much! I have merged the commits and I will work on the list of tasks. Have a good weekend.

[2022-05-13 21:36] taoliu032 commented on #4182
@editorialbot generate pdf

[2022-05-13 21:39] taoliu032 commented on #4182
@editorialbot check references

[2022-05-13 21:40] taless474 commented on #4263
@elboyran May I ask you to mention a few of them (most related ones) with their Github ids here?

[2022-05-13 21:43] taless474 commented on #4263
@ionlights Are you interested in reviewing this?

[2022-05-13 21:44] taless474 commented on #4250
@humanfactors how is the review going?

[2022-05-13 21:46] taless474 commented on #4129
@cgrudz how is the development process? Did you have the chance to complete what the reviewers asked for?

[2022-05-13 22:01] kbarnhart commented on #4282
@editorialbot generate pdf

[2022-05-13 22:16] cgrudz commented on #4129
@taless474 , thanks for checking in.  Things are currently in-progress where I am about ready to start clearing some of the issues ([new doc pages](https://cgrudz.github.io/DataAssimilationBenchmarks.jl/dev/)!), and I am expecting to have a summer research assistant who will be working with the software and will help with the revision and new features for the next release.  I am anticipating resol

[2022-05-13 22:41] smchartrand commented on #4282
@kbarnhart - I have addressed your comments. Apologies for the lingering issues.

[2022-05-13 23:23] kadglass commented on #4033
@lavaux - [DESI-UR/VAST#72](https://github.com/DESI-UR/VAST/issues/72) has been closed.

[2022-05-14 01:47] Hanrui-Wang commented on #4198
Hi Melissa and Yu-Tang,

I'm glad to review the submission, when will be the deadline for the review?

Thanks!

[2022-05-14 14:51] krober10nd commented on #3959
I am okay with recommending this article provided the article is edited and improved.

[2022-05-14 16:18] fboehm commented on #4251
@nociale - the manuscript looks great. I have no edits to offer on it. The one thing that remains before proceeding is to verify that the DOIs are accurate. I'll do that now. If I need you to add a DOI, I'll indicate it below.

[2022-05-14 16:18] fboehm commented on #4251
@editorialbot check references

[2022-05-14 16:20] fboehm commented on #4251
@nociale - please add dois to the cited references. I suggest removing from the bib file any references that aren't actually used in paper.md. It looks like you have 9 references in the pdf. We need only those to have accurate DOIs, if they're available. Thanks again!

[2022-05-14 16:25] fboehm commented on #4305
Hi, @thecalculon @vipinagrawal25 - please see the above comments from @mgiardino and make changes as needed. For example, your submission needs to have a statement about guidelines for contributors. Once you've addressed the above issues, we'll proceed further towards publication. thanks again!

[2022-05-14 16:26] fboehm commented on #4305
@victorapm - How is the review going? It looks like your checklist has many unchecked boxes. Please feel free to comment in this thread about what changes are needed from the authors.

[2022-05-14 16:26] fboehm commented on #4305
@editorialbot check references

[2022-05-14 16:27] cjwu commented on #4052
@d-eggert Sorry for the late reply. Received too many messages from JOSS.
I will provide feedback ASAP.

[2022-05-14 17:33] victorapm commented on #4305
Hi @fboehm, I haven't made progress in the last two weeks. I am sorry about that. I am working on the review in this weekend and I plan to finish it in the next two weeks.

Thanks!

[2022-05-14 18:44] taless474 commented on #4129
@cgrudz Thank you for the update and good luck

[2022-05-14 22:48] fboehm commented on #4305
@victorapm - that sounds good! Thank you!

[2022-05-14 22:51] fboehm commented on #4305
@vipinagrawal25 @thecalculon - please double-check that the references in paper.md have valid DOIs. If you have in your bib file references that are not used in the paper.md, you may wish to delete them from the bib file.

[2022-05-15 11:44] thecalculon commented on #4305
Hi @mgiardino we have updated the Readme.md adding the matplotlib dependency . Since the software is required only when the user is in the debugging phase, we have added the dependency in the section "Checking Execution status"

[2022-05-15 11:47] thecalculon commented on #4305
Dear @mgiardino, Thank you very much for taking time and reviewing the paper.

Hi @fboehm, we will complete the remaining criterion in the checklist and get back at you as quickly as we can.

[2022-05-15 12:03] thecalculon commented on #4305
@editorialbot check references

[2022-05-15 12:16] thecalculon commented on #4305
@editorialbot generate pdf

[2022-05-15 13:13] csoneson commented on #4390
@editorialbot assign @csoneson as editor

[2022-05-15 13:27] Nikoleta-v3 commented on #3743
I was corresponding with a few potential reviewers but unfortunately no one was able to commit at the end. I am going back into the excel spreadsheet.

[2022-05-15 13:29] Nikoleta-v3 commented on #3743
👋 @bencardoen & @chaypaterson & @alejandrogallo & @mkareshk  would any of you be willing to review this submission for JOSS? One reviewer has already reviewed the submission, and I am looking for a second pair of 👀

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

The submission I'd like you to

[2022-05-15 13:38] csoneson commented on #4390
@editorialbot generate pdf

[2022-05-15 13:41] csoneson commented on #4390
👋🏻 @devSJR - thanks for submitting to JOSS! I will handle your submission, and start by finding two reviewers.

I noticed that your paper is significantly longer than the JOSS standards - typical JOSS papers should be between 250 and 1,000 words (see https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain), while yours is over 2,200 words. Could you try to shorten this t

[2022-05-15 13:41] askuric commented on #4232
Hey @ixjlyons,
Ok so we've added a short contributing webpage as the addition to the contact page in the [docs](https://docs.simplefoc.com/).

Also the [README](https://github.com/simplefoc/Arduino-FOC) was extended with the section about contributing and different community platforms that are available.

Finally, I've added the first version of issue templates that should enable users to post mor

[2022-05-15 13:43] csoneson commented on #4390
👋🏻 @seaaan, @dvanic, @rmflight - would (two of) you be interested in reviewing this submission for JOSS?

[2022-05-15 13:50] devSJR commented on #4390
Dear @csoneson, thanks for handling this. When we were preparing the paper we read the guidelines. Additionally, we looked other JOSS papers, which appeared longer than the guidelines. We can certainly shorten the paper.

I would like to mention that there is a long vignette cited as Rödiger et al. 2022. It is not part of the package because it is larger (file size) than CRAN allows.

Kind regards

[2022-05-15 14:21] Nikoleta-v3 commented on #4286
Apologises for the delay (had a very busy week 😪) nevertheless here is my review,

### Installation

At the moment the only way to use the `grapl` is to download the repository and have my scripts in the same folder as `grapl` (correct me if I am wrong). You need to package the project such that it can be installable and it can be used within a Python environment regardless of the location of the

[2022-05-15 14:26] Nikoleta-v3 commented on #4286
@max-little I recommend that you go over these points and let me know if something is not clear. If you are happy to apply all these changes then I (or you) should open issues in your repository for each respective point. This way it will be easier for me to check your changes 👍🏻

Once all the above have been addressed then we can continue 😄

[2022-05-15 17:02] arfon commented on #4012
@editorialbot remove @blbentley as reviewer

[2022-05-15 17:04] arfon commented on #4012
@editorialbot accept

[2022-05-15 17:04] editorialbot opened #4393 "[PRE REVIEW]: NEMETEX: a Python software for the visualisation of the network of metabolic exchanges"
**Submitting author:** @arianccbasile (<a href="http://orcid.org/0000-0003-2461-5221">Arianna Basile</a>)
**Repository:** https://github.com/palakela/NEMETEX
**Branch with paper.md** (empty if default branch):
**Version:** v.1.0.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/97815862696b5bd18bb267865ced3b12/status.svg

[2022-05-15 17:04] editorialbot opened #4394 "[PRE REVIEW]: VIP: A Python package for high-contrast imaging"
**Submitting author:** @VChristiaens (<a href="http://orcid.org/0000-0002-0101-8814">Valentin Christiaens</a>)
**Repository:** https://github.com/vortex-exoplanet/VIP
**Branch with paper.md** (empty if default branch):
**Version:** v1.3.0
**Editor:** @ivastar
**Reviewers:** @m-samland, @bethbiller
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/0daafcc27f28b3ef58

[2022-05-15 17:05] editorialbot opened #4395 "[PRE REVIEW]: PGPBgenes: A tool to aid in the identification of plant growth-promoting bacterial genes"
**Submitting author:** @vicmarin (<a href="http://orcid.org/0000-0002-9827-6552"></a>)
**Repository:** https://github.com/victormacedo996/PGPBgenes
**Branch with paper.md** (empty if default branch):
**Version:** 1.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/9a60b9acb59fa959e179673eb24aeeef/status.svg)](https://jos

[2022-05-15 17:06] editorialbot opened #4396 "[PRE REVIEW]: cntext: A Python package for text mining"
**Submitting author:** @hiDadeng (<a href="http://orcid.org/0000-0001-7391-8865">Xudong Deng</a>)
**Repository:** https://github.com/hidadeng/cntext
**Branch with paper.md** (empty if default branch):
**Version:** 1.6.6
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/de0e9cff1bc4696f59fc07517cdf6ecd/status.svg)](https://

[2022-05-15 17:12] arfon commented on #4396
Hello @hiDaDeng, as we have already outlined in this earlier submission, this software is considered out of scope by the JOSS editorial team: https://github.com/openjournals/joss-reviews/issues/4372#issuecomment-1125836286

At ~500 lines of code, this submission is just too small to be considered a substantial scholarly effort.

[2022-05-15 17:12] #4396 closed

[2022-05-15 17:12] arfon commented on #4396
@editorialbot reject

[2022-05-15 17:12] arfon commented on #4012
@martejulie, @meg-simula – many thanks for your reviews here and to @meg-simula for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@cgurrr – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-05-15 17:12] #4012 closed

[2022-05-15 17:13] ixjlyons commented on #4232
Great, looks good to me. Unless there's still a hangup on testing, I think that was the last outstanding issue. So this should be ready to go, nice work.

[2022-05-15 17:18] arfon commented on #4393
@editorialbot check repository

[2022-05-15 17:18] arfon commented on #4393
@editorialbot generate pdf

[2022-05-15 17:20] arfon commented on #4393
@arianccbasile - thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-co

[2022-05-15 17:20] arfon commented on #4393
@editorialbot reject

[2022-05-15 17:20] #4393 closed

[2022-05-15 17:22] arfon commented on #4394
@VChristiaens - thanks for your submission to JOSS. Does this paper accompany a paper in a AAS journal?

Also, please quote the citations for Carles like this:

[code]

[2022-05-15 17:22] arfon commented on #4395
@editorialbot check repository

[2022-05-15 17:25] arfon commented on #4395
@editorialbot query scope

[2022-05-15 17:26] arfon commented on #4395
@VICMARIN – thanks for your submission to JOSS. I'm flagging this for a scope query by the JOSS editorial tool as I believe this submission is out of scope for us. The software contribution here is very small and the value seems to be in the dataset/database which isn't something we publish in JOSS.

[2022-05-15 20:26] aj2duncan commented on #3292
Hi @markheckmann,

Thanks for making those alterations. I think everything is good to go @gkthiruvathukal. Please let me know if you need anything else from me.

All the best.

Andrew

[2022-05-16 00:45] jgostick commented on #4359
@editorialbot start review

[2022-05-16 00:45] editorialbot opened #4397 "[REVIEW]: islatu: A Python package for the reduction of reflectometry data"
**Submitting author:** @RBrearton (<a href="http://orcid.org/0000-0002-8204-3674">Richard Brearton</a>)
**Repository:** https://github.com/RBrearton/islatu
**Branch with paper.md** (empty if default branch): islatu_paper
**Version:** 1.0.7
**Editor:** @jgostick
**Reviewers:** @andyfaff, @daguiam
**Archive:** 10.5281/zenodo.7105217

## Status

[![status](https://joss.theoj.org/papers/faf72abfe010ef

[2022-05-16 00:45] #4359 closed

[2022-05-16 00:47] jgostick commented on #4319
I cannot seem to find a second reviewer, so I'm going to start this now before @leahmendelson changes her mind!

[2022-05-16 00:47] jgostick commented on #4319
@editorialbot add @leahmendelson as reviewer

[2022-05-16 00:47] jgostick commented on #4319
@editorialbot start review

[2022-05-16 00:47] editorialbot opened #4398 "[REVIEW]: MyPTV: A Python Package for 3D Particle Tracking"
**Submitting author:** @ronshnapp (<a href="http://orcid.org/0000-0001-7495-8420">Ron Shnapp</a>)
**Repository:** https://github.com/ronshnapp/MyPTV
**Branch with paper.md** (empty if default branch): JOSS_paper
**Version:** V0.4.3
**Editor:** @jgostick
**Reviewers:** @leahmendelson, @jgostick
**Archive:** 10.5281/zenodo.6846969

## Status

[![status](https://joss.theoj.org/papers/b19c0c3a7d02bfa0

[2022-05-16 00:47] #4319 closed

[2022-05-16 00:49] andyfaff commented on #4397
@editorialbot generate my checklist

[2022-05-16 01:22] marouenbg commented on #4360
@jmschrei I finished reviewing sam2Ica, there were only minor comments really, the authors did a fantastic job presenting the problem and their approach, recognizing other software tools they based their analysis on, and particularly did a great job packaging the tool and the docs. Overall, excellent submission!

[2022-05-16 02:27] humanfactors commented on #4250
Hi apologies for the delays, I've had COVID and been quite unwell.

A few minor tasks on the software paper:

- References are appearing incorrect, the authors do need to check up on the reference syntax (e.g., double brackets L41, L97)
- SensoDrive ref missing date

As indicated prior, I was unable to install Carla side of the software, so I am unable to actually check off the other tasks. I was

[2022-05-16 02:56] vijaysm commented on #3959
My return back to work took a little longer than anticipated. I'll be able to finish the review this week.

[2022-05-16 04:39] abhishektha commented on #4279
Hi @danasolav, great work on this software. I think there are a few things to fix before the software is ready for publication.

I found a few minor errors in the installation document:
- 2.5 Installation:
  - I believe the correct command is install_DuoDIC
  - The last sentence of the installation is repeated twice
- 3.1.2: Missing reference
- 4.2.1.o: Missing reference

Other suggestions from th

[2022-05-16 05:56] andyfaff commented on #4397
License: yes, but the setup.py file needs updating with the correct licence identifier.

Quality of writing: Good, but there are a few spelling mistakes that could be picked up by a spell checker.

State of the field: It might be worth mentioning a couple of other reduction packages in the arena, and how islatu works compared to them.

Community guidelines: there aren't any that I can discern.

In

[2022-05-16 06:16] danasolav commented on #4279
Dear @abhishektha ,

Thank you for your helpful suggestions!

I fixed all the minor errors you pointed out.

Regarding the other suggestions:

1. This was mentioned in the last paragraph in 4.1.1. Perhaps it wasn't entirely clear, I tried to rephrase it a bit. I'm not sure what you mean by "reload the variable into the workspace". This can be done but it's not required because in step 3 (3D recons

[2022-05-16 08:06] lucydot commented on #4333
Thanks @CFGrote for your work on this. I'll contact @jonathanHuwP via email as sometimes github notifications are turned off.

[2022-05-16 08:08] Evmoerman commented on #4040
Haha yea, I didn't notice that at all. It will be no problem to redo those. We already had the discussion about code blocks vs screenshots(https://gitlab.com/moerman1/fhi-cc4s/-/issues/5). Essentially, I used screenshots here because I wanted to emphasize in which directory the user should be each step of the time and how the copied input files look in side. The commands used in this screenshots a

[2022-05-16 08:14] lucydot commented on #4298
@editorialbot generate pdf

[2022-05-16 08:14] lucydot commented on #4298
@editorialbot check references

[2022-05-16 08:21] timtroendle commented on #4261
@olejandro, @noah80 : Can you please give us update on how the review is going?

[2022-05-16 08:39] lucydot commented on #4298
Dear @miesli I've just submited a PR with some edits to the language in your paper (https://gitlab.com/dmt-development/dmt-core/-/merge_requests/2). Please review my suggested changes carefully to ensure that your meaning is not lost.

[2022-05-16 08:43] adi3 commented on #4338
@editorialbot recommend-accept

[2022-05-16 08:44] stinefm commented on #4391
@fraukewiese - How many should I suggest? Here are four: robinroche, blthayer, EwaGomez, euronion

[2022-05-16 08:45] adi3 commented on #3125
@tkonolige bumping this to the top of your inbox for when you have a chance!

[2022-05-16 08:51] lucydot commented on #4298
@miesli in addition I think that the "statement of need" section would be improved if there was a reference supporting your claims regarding issues with "home-made" scripts (I'm using my wording here). I agree that these are common problems - it would be good to find something in the literature to evidence what we both know
anecdotally. There is quite a lot of work done on this in the context of r

[2022-05-16 08:52] AKuederle commented on #4338
@adi3 From my side the output looks good!

[2022-05-16 09:07] samuelburbulla commented on #3959
I finished the edits addressed by @krober10nd.

[2022-05-16 09:49] OlgerSiebinga commented on #4250
@editorialbot generate pdf

[2022-05-16 09:56] bencardoen commented on #3743
@Nikoleta-v3 the invite / confirm link at the top of the issue seems no longer valid, how do I start the review? (this is my first JOSS review)

[2022-05-16 10:04] OlgerSiebinga commented on #4250
@editorialbot generate pdf

[2022-05-16 10:06] EgorOrachyov commented on #3743
@bencardoen Hi, thank you! 🎉

We will be waiting for your review/comments. If there are some issues, we will fix it as soon as possible.

[2022-05-16 10:09] georgeyiasemis commented on #4278
Thanks a lot @sairamgeethanath 👍 ! Yes we will do that!

[2022-05-16 10:23] fabian-s commented on #4355
Sorry for the delay, i was travelling. I think I can handle this :)

[2022-05-16 10:35] fraukewiese commented on #4336
@j3r3m1 Are your comments adequately considered or are there any open points? Thank you very much for your review!

[2022-05-16 11:02] marcosvital commented on #4375
Hi, @kyleniemeyer. Yes, I can handle this submission.

[2022-05-16 11:03] marcosvital commented on #4375
@editorialbot assign @marcosvital as editor

[2022-05-16 11:06] marcosvital commented on #4375
Hi, @ThomasThelen, I will be the editor of your submission.

Please take a look at the manuscript proof you generated above, and check if it seems ok and ready for revision. Feel free to generate new versions if you do any other modifications.
The editorial bot found an invalid DOI, but it seems to be simple to be corrected.

In the meantime, I will check your reviewers suggestions and make the in

[2022-05-16 11:16] VChristiaens commented on #4394
@arfon - thanks for your prompt reply. There was a [2017 paper in AJ](https://ui.adsabs.harvard.edu/abs/2017AJ....154....7G/abstract), which presented a previous release of the package. However significant additions and changes were implemented to the package in the past 5 years, which motivate a new publication - this time in JOSS. So to answer your question: no other AAS journal paper apart from

[2022-05-16 11:16] VChristiaens commented on #4394
@editorialbot generate pdf

[2022-05-16 11:25] fraukewiese commented on #4391
Thanks @stinefm for your suggestions!

[2022-05-16 11:28] fraukewiese commented on #4391
@ulfmueller @robinroche @EwaGomez : Would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html
The submission under review here is [RELSAD: A Python package for reliability assessment of modern distribution systems](https://github.com/stinefm/

[2022-05-16 11:54] j3r3m1 commented on #4336
@editorialbot generate pdf

[2022-05-16 12:16] arfon commented on #3119
:wave: @Midnighter – just checking in to see how you're getting long here?

[2022-05-16 12:17] arfon commented on #3747
Friendly ping here @LMMorgan – any updates from your side?

[2022-05-16 12:18] arfon commented on #4312
Apologies for the slow reply. Yes, that would be amazing, thank you @lnacquaroli!

[2022-05-16 12:18] arfon commented on #4312
@editorialbot add @lnacquaroli as reviewer

[2022-05-16 12:19] arfon commented on #4312
@lnacquaroli, please create your checklist typing: `@editorialbot generate my checklist` and this will generate your review checklist for you to work through.

Any questions, don't hesitate to ask!

[2022-05-16 12:20] Nikoleta-v3 commented on #3743
@editorialbot remove @abb58 from reviewers

[2022-05-16 12:20] arfon commented on #4210
:wave: @vimalthilak – just checking in again here.

[2022-05-16 12:20] Nikoleta-v3 commented on #3743
@editorialbot add @bencardoen to reviewers

[2022-05-16 12:28] Nikoleta-v3 commented on #3743
Thank you very much @bencardoen for agreeing to review this submission! 🙏🏻

This is great - welcome! 🎉

If you comment the following command `@editorialbot generate my checklist` on this issue the bot will generate a checklist for you ✍🏻

What you have to do is go over the checklist and make sure that the submission addresses each point. These points will include details both about the software an

[2022-05-16 12:30] sbenthall commented on #4382
@PhilipPallmann Yes, that's appropriate! The checklist is a bare minimum of review. More thorough feedback and interaction with the author is even better!

[2022-05-16 13:37] oliviaguest commented on #3956
@eferrea please be a little patient with @puolival — if they do not get back to us within the next few weeks, we can either find another 2nd reviewer or I will decide what to do from there. I hope that is OK. ☺️

[2022-05-16 14:09] danielskatz commented on #4318
👋 @matthewfeickert - Any thoughts on this?

[2022-05-16 14:43] diehlpk commented on #3390
@Muhao-Chen Could you please check that soon?

[2022-05-16 14:46] bencardoen commented on #3743
@editorialbot generate my checklist

[2022-05-16 14:48] diehlpk commented on #4351
@whedon add @obsmax as reviewer

[2022-05-16 15:03] Muhao-Chen commented on #3390
@diehlpk Thanks for your question! Actually, in the research body (papers from a large number of journals), both words are used to describe the same thing. So, I believe people in the structure field can understand both. Thank you!

[2022-05-16 15:11] EwaGomez commented on #4391
@fraukewiese I am sorry, right now I don't have the capacity for a review.

[2022-05-16 15:12] kbarnhart commented on #4282
@editorialbot generate pdf

[2022-05-16 15:58] mr53563 commented on #4279
We have built an experimental setup to directly test the code. This took us a little bit since we’ve never used 3D DIC before. We had a little bit of trouble that @danasolav <https://github.com/danasolav> is helping us figuring out right now. Rest assured, we are working hard on getting this done and doing a thorough job. Thank you for checking in!
_____________________________________
Manuel K. R

[2022-05-16 16:17] warrickball commented on #4343
@editorialbot generate pdf

@astrobel I've made a few changes to the paper that I hope address your points. In case it isn't coming across properly, `tomso` doesn't claim to support everything and extension would require writing code, rather than `tomso` being able to generate new interfaces (which would be awesome but not what it does). But yes, at least some of the extension would use existing i

[2022-05-16 17:50] diehlpk commented on #3390
Ok, so pick and check the checkbove.

[2022-05-16 17:51] diehlpk commented on #4351
@editorialbot  add @obsmax as reviewer

[2022-05-16 17:51] diehlpk commented on #4351
@editorialbot assign @obsmax as reviewer

[2022-05-16 17:52] diehlpk commented on #4351
@editorialbot add @obsmax as review

[2022-05-16 17:52] diehlpk commented on #4351
@editorialbot add @obsmax as reviewer

[2022-05-16 17:55] Muhao-Chen commented on #3390
@diehlpk I was not able to check the above checkbox.
Let me copy and check it here.
- [x] Check if `prestress` should be written as `pre-stress`

[2022-05-16 17:56] sairamgeethanath commented on #4278
I will test it by the end of the week.

Best,
Sairam

On Mon, May 16, 2022 at 1:53 PM George Yiasemis ***@***.***>
wrote:

--
*Sairam Geethanath, Ph.D.*
“There are plenty of compelling reasons to push MRI to be more powerful,
but that’s one facet of advancing the field. Another is delivering it to
the world.”

[2022-05-16 18:46] seaaan commented on #4390
Hi all,
I am preparing for a conference next week and then have a big deadline in
mid-June. I wouldn't be able to give this submission the attention it
deserves until late June. I would be happy to review it then, but I imagine
that is a longer timeline than you would prefer? Let me know.
Sean

On Sun, May 15, 2022, 6:51 AM devSJR ***@***.***> wrote:

[2022-05-16 19:06] travisseymour commented on #4308
Here are some reviewers that seem to have similar interests and Python as
the preferred language:

1. TomDonoghue ***@***.***)
2. drussellmrichie ***@***.***)
3. szorowi1 ***@***.***)

let me know if you need more options.
best
Travis

On Thu, May 12, 2022 at 7:15 PM Prashant K. Jha ***@***.***>
wrote:

--

*Travis Seymour, PhD*
Associate Professor
Psychology Department
University of California Sa

[2022-05-16 19:24] eferrea commented on #3956
Hi @oliviaguest, many thanks for your answer . From our side is fine to be patient (we also were already :) ), however we would like to know whether @puolival is still willing to finish the review given that he did not replied any messages since before Easter. If he wants to continue we can wait, otherwise we think that would be better to take an alternative decision now. Maybe he could shortly co

[2022-05-16 20:44] rkurchin commented on #4364
Hi @bocklund and @utf, just a reminder to get started on/continue your reviews, and feel free to ask any questions here and/or in issues in the repository (do reference this review issue if you do so, please)

[2022-05-16 20:50] kellyrowland commented on #4392
Sure, I can take this on.

[2022-05-16 21:31] jmschrei commented on #4387
@Spartanzhao can you elaborate on what has changed between your last submission (https://github.com/openjournals/joss-reviews/issues/3916) and this one?

[2022-05-16 21:38] taoliu032 commented on #4182
Hi @csoneson! I believe I have completed the following steps.

The release is [here](https://github.com/siminegroup/E2EDNA2/releases/tag/v2.0.0) and the version tag is `v2.0.0`, in order to be explicitly distinguished from the original version of E2EDNA.

We would like to ask a question regarding the version: When we made our initial submission to JOSS, we were asked to provide a "Software version

[2022-05-16 23:48] marcsit commented on #4327
@athulpg007 I have released a new version of the package that includes the Working Example in the documentation:
https://nasa-pds.github.io/naif-pds4-bundler/44_working_example.html

The assets are available at: https://github.com/NASA-PDS/naif-pds4-bundler/releases/tag/v1.2.0

[2022-05-17 00:54] rmflight commented on #4390
Hi @csoneson, thank you for considering me. However, upon looking over the package, I don't think I have the theoretical knowledge about PCR to know what exactly this package is doing and if it will be useful to someone who actually does do PCR on the regular.

[2022-05-17 07:46] csoneson commented on #4390
@rmflight - no worries, thanks for the quick response!

@seaaan - thanks a lot for responding as well, I may get back to you!

[2022-05-17 08:13] eloisabentivegna commented on #4173
@editorialbot generate pdf

[2022-05-17 10:05] chartgerink commented on #4310
Update: I'm still trying to find a second reviewer. Will report back hopefully soon 😊

[2022-05-17 11:30] vsangelidakis commented on #4177
Hi @prashjha, all settled now, thank you - I can review this work. I will keep you updated as I progress.

[2022-05-17 11:49] baxmittens commented on #4300
@mkitti @jbytecode - As far as I'm aware, I think I have fulfilled all of your requests. Maybe you could have a look and check if this is actually true?
Would be nice. But no hurries. I have plenty other work, right now.
Thank you in advance.

[2022-05-17 13:22] mkitti commented on #4300
@editorialbot generate pdf

[2022-05-17 14:06] prashjha commented on #4177
Hi @vsangelidakis, please wait before starting the review as we need one more reviewer. Once the second reviewer is added, you will be directed to the new 'github issue' where you will get your own review checklist. Once you have the checklist, you can start the review.

[2022-05-17 14:10] prashjha commented on #4177
Hi @dbrizard, would you be interested in reviewing this software article for JOSS? I think this work is in your area of interest. You can learn more about the review process [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html).

Let me know!

[2022-05-17 14:31] astrobel commented on #4343
Hi @warrickball! I've had a look through the paper and it looks great, and reads very clearly.

Given the issues with Sphinx, I would say no worries on that front. I'm certainly not going to make you mess around with the CSS for this!!

Thanks for all your work! Based on these updates, I'm happy to recommend the software for publication in JOSS.

[2022-05-17 14:34] robinroche commented on #4391
@fraukewiese Yes, I can review this submission but I think I will need until the end of June to complete it due to my current workload.

[2022-05-17 15:56] jgostick commented on #4398
@editorialbot add @quynhneo as reviewer

[2022-05-17 16:16] luizirber commented on #4330
@editorialbot assign @luizirber as editor

[2022-05-17 17:16] kellyrowland commented on #4392
Yeah, the JOSS setup is pretty slick. 🙂

I would (or will) also be looking at the spreadsheet for potential reviewers, so if you're able to scroll through and look for folks with relevant expertise, I'd gladly take some suggestions.

[2022-05-17 17:40] galessiorob commented on #4133
@erling6232 checking in, we're so close!

Let me know if you have any questions about these last steps. Thanks!

[2022-05-17 18:42] jbytecode commented on #4300
@dmbates - could you please update your review status? Thank you in advance!

[2022-05-17 18:43] jbytecode commented on #4280
@62442katieb and @brunomontezano - could you please update your status? thank you in advance!

[2022-05-17 18:44] jbytecode commented on #4354
@Athene-ai - could you please update your status? Thank you in advance!

[2022-05-17 18:55] mkitti commented on #4300
Overall, the paper, software, and documentation have greatly improved during the course of this review. The submitted paper describes a valuable tool to process VTU files from the VTK framework. It provides arithmetic operations on the types representing the files that complete an algebraic field. Additionally, a supporting package has an accessory package, XMLParser.jl that provides a lightweight

[2022-05-17 19:33] csoneson commented on #4182
Great, thanks @taoliu032! I will update the version, and it should be correct in the published version.

[2022-05-17 19:34] csoneson commented on #4182
@editorialbot set v2.0.0 as version

[2022-05-17 19:34] csoneson commented on #4182
@editorialbot set 10.5281/zenodo.6546661 as archive

[2022-05-17 19:35] csoneson commented on #4182
@taoliu032 I will now hand over to the associate editor-in-chief on rotation for the last steps. Thanks for submitting to JOSS!

[2022-05-17 19:36] csoneson commented on #4182
@editorialbot recommend-accept

[2022-05-17 19:40] 62442katieb commented on #4280
@jbytecode has the article proof been updated?

[2022-05-17 19:52] taoliu032 commented on #4182
@csoneson Thank you for all the help! Let me know if there is anything we can do to help to resolve the error above.

[2022-05-17 19:54] jbytecode commented on #4280
@editorialbot generate pdf

@62442katieb now it has been updated.

[2022-05-17 21:01] editorialbot opened #4399 "[PRE REVIEW]: musclesyneRgies: factorization of electromyographic data in R with sensible defaults"
**Submitting author:** @alesantuz (<a href="http://orcid.org/0000-0002-6577-5101">Alessandro Santuz</a>)
**Repository:** https://github.com/alesantuz/musclesyneRgies
**Branch with paper.md** (empty if default branch): master
**Version:** 1.1.3
**Editor:** @fabian-s
**Reviewers:** @SimonDanner, @vbaliga
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/01bf93f3

[2022-05-17 21:06] Kevin-Mattheus-Moerman commented on #4399
@editorialbot set master as branch

[2022-05-17 21:07] Kevin-Mattheus-Moerman commented on #4399
@editorialbot generate pdf

[2022-05-17 21:09] Kevin-Mattheus-Moerman commented on #4399
@alesantuz I recommend that you have just a plain LICENSE file and have it contain the MIT license. You already have a copyright statement in that so wont need the additional license file one that. I think if you do this then GitHub will also pick up this license properly and render the MIT license "badge" for your repository.

[2022-05-17 21:10] Kevin-Mattheus-Moerman commented on #4399
@editorialbot check references

[2022-05-17 21:10] Kevin-Mattheus-Moerman commented on #4399
@alesantuz can you check that potentially missing DOI? :point_up: ?

[2022-05-17 21:11] Kevin-Mattheus-Moerman commented on #4399
@editorialbot check repository

[2022-05-17 21:12] editorialbot opened #4400 "[PRE REVIEW]: PyAutoGalaxy: Open-Source Multiwavelength Galaxy Structure & Morphology"
**Submitting author:** @Jammy2211 (<a href="http://orcid.org/0000-0002-8987-7401">James Nightingale</a>)
**Repository:** https://github.com/Jammy2211/PyAutoGalaxy
**Branch with paper.md** (empty if default branch):
**Version:** 2022.05.02.1
**Editor:** @christinahedges
**Reviewers:** @alexandergagliano, @sloneil
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/paper

[2022-05-17 21:17] Kevin-Mattheus-Moerman commented on #4399
@editorialbot invite @fabian-s as editor

[2022-05-17 21:18] editorialbot opened #4401 "[PRE REVIEW]: DSO++: Modern reimplementation of Direct Sparse Odometry"
**Submitting author:** @Solonets (<a href="http://orcid.org/0000-0002-3469-7489">Sergei Solonets</a>)
**Repository:** https://github.com/RoadlyInc/DSOPP
**Branch with paper.md** (empty if default branch): feature/joss_paper
**Version:** v 1.0
**Editor:** @hugoledoux
**Reviewers:** @Mirmix, @jhidalgocarrio
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/1104f

[2022-05-17 21:21] Kevin-Mattheus-Moerman commented on #4384
@editorialbot invite @fabian-s as editor

[2022-05-17 21:23] Kevin-Mattheus-Moerman commented on #4385
@editorialbot invite @christinahedges as editor

[2022-05-17 21:27] Kevin-Mattheus-Moerman commented on #4400
@editorialbot invite @christinahedges as editor

[2022-05-17 21:27] editorialbot opened #4402 "[PRE REVIEW]: 'HallThruster.jl: a Julia package for 1D Hall thruster discharge simulation'"
**Submitting author:** @archermarx (<a href="http://orcid.org/0000-0003-3614-6127">Thomas Marks</a>)
**Repository:** https://github.com/UM-PEPL/HallThruster.jl
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.0
**Editor:** @lucydot
**Reviewers:** @StanczakDominik, @Rupali-Sahu
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/ce9cb7aa54df1

[2022-05-17 21:32] Kevin-Mattheus-Moerman commented on #4394
@VChristiaens I am the AEiC on call this week. I have just assigned the `waitlisted` label here since we have a bit of a backlog and our editors in this domain are all currently per-occupied with other submissions. We will assign a handling editor as soon as one becomes available.

[2022-05-17 21:36] Kevin-Mattheus-Moerman commented on #4401
@Solonets I'm the AEiC on call this week for JOSS. I am here to help get over initial hurdles and to assign a handling editor when ready. Can you check those potentially missing DOI's :point_up: , note you can call `@editorialbot check references` to repeat the check.

[2022-05-17 21:40] Kevin-Mattheus-Moerman commented on #4401
@hugoledoux you have been suggested as editor, does this look like something you could handle? Note the paper still needs work.

[2022-05-17 21:48] taylormcd commented on #3997
I adopted the first three changes, but not the last one because multiple section analyses may be necessary for a single GXBeam run.  I also tagged a new release and archived it with Zenodo: https://doi.org/10.5281/zenodo.6558458.  Let me know if there's anything else that needs to be done.

[2022-05-17 21:52] danhey commented on #4343
Thanks for these changes @warrickball, looks great! I'm also happy to recommend acceptance -- great work. Pinging @christinahedges

[2022-05-17 22:38] gkthiruvathukal commented on #3884
@shivesh1210 Will work on this shortly.

[2022-05-18 00:29] ThomasThelen commented on #4375
Hi @marcosvital,

Thanks for volunteering to be the editor for this submission. I fixed the DOI issue in [baf7c83](https://github.com/zizroc/villager/commit/baf7c83b6f5144231441e95d64077661d2b17fe9) and it should no longer be an issue. I've gone back and reviewed the submission and would like to continue with it.

[2022-05-18 01:03] cartemic commented on #4143
@kyleniemeyer DOI is [10.5281/zenodo.6558618](https://zenodo.org/record/6558618)

[2022-05-18 01:19] prashjha commented on #3997
@editorialbot generate pdf

[2022-05-18 01:22] prashjha commented on #3997
@editorialbot recommend-accept

[2022-05-18 01:43] prashjha commented on #3997
@taylormcd, compiler is not happy with bib entries (Bezanson2017 and Hodges2006) in paper.bib file. Compiler expects issn value to have exactly 9 elements (e.g., xxxx-xxxx). Could you check these two bib entries?

[2022-05-18 03:43] gkthiruvathukal commented on #3292
@aj2duncan Thank you for your feedback.
For me to move forward (with acceptance), I need @brunaw to sign off and complete their checklist atop this issue thread.
Once @brunaw completes the checklist and follows up here, we should be good to go.
From what I can tell, you have done everything asked of you, @markheckmann!

[2022-05-18 04:04] arfon commented on #3997
Based on past experience, these may in fact be ISBNs rather than ISSN entries.

[2022-05-18 04:18] arfon commented on #4182
/ cc @tarleb – any thoughts on how we should handle this? It looks like the BibTeX file has two ISSNs.

[2022-05-18 05:54] Athene-ai commented on #4354
Hi @jbytecode !

I am finishing my review and next week I will upload it

[2022-05-18 06:22] alesantuz commented on #4399
Thanks @Kevin-Mattheus-Moerman. That book does not appear to have a DOI and the one referenced by editorialbot links to a "book notice" from a journal.

[2022-05-18 06:30] alesantuz commented on #4399
@Kevin-Mattheus-Moerman since I am using the repo for the development of the R-package, I am afraid the plain LICENSE file **must** contain only year and copyright holder's name. The trick you mentioned did not work for CRAN submission last February, unfortunately.

[2022-05-18 06:31] alesantuz commented on #4399
Should I also invite someone or shall we wait until we get a reply? Thank you!

[2022-05-18 08:07] dbrizard commented on #4177
Hi @prashjha, yes it is in my area of interest and I would be interested in reviewing this software...
... but I have been struggling with the installation of the module for more than one hour without success because I am running Python 3.6.8 and the module requires 3.8. So I need to install Python 3.8 (and get familiar with virtual environments for the occasion, which is new to me).
So I need to

[2022-05-18 09:02] dbrizard commented on #4177
Done, I can install the module!
This review is the perfect opportunity to start using venv!
I accept.

[2022-05-18 09:22] fabian-s commented on #4399
sure, I can do that!

[2022-05-18 09:29] fabian-s commented on #4350
:wave: @rreinecke @TimCam @dvysardana

Would any of you be willing to review this submission for JOSS?
We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-05-18 09:34] fabian-s commented on #4399
:wave: @ixjlyons @davidruegamer @alcantarar

Would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-05-18 09:40] fabian-s commented on #4384
:wave: @wxwx1993 @tedinburgh @stmcg

would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-05-18 09:44] baxmittens commented on #4300
@mkitti -

"""
1. Code or command to generate Figure 1
"""
I do not use any code to render the images. maybe this is possible with some additional vtk-software. I just use paraview and insert the files manually. i added that to the paper. Is that ok?

I think I have implemented the rest of the aforementioned demands.

@editorialbot generate pdf

[2022-05-18 09:47] baxmittens commented on #4300
@editorialbot generate pdf

[2022-05-18 11:00] rreinecke commented on #4350
@fabian-s Sure, I'd be happy to review it. However, I am also swamped right now and would only be able to have a go at it at the end of June.

[2022-05-18 11:15] jakryd commented on #4231
I have completed my checkbox. The article and code look very well. I have two minor suggestions for @mattpitkin to consider. (1) I would capitalize "Proceedings of the 36th international conference on machine learning" in the references to be consistent. (2) "For C codes, there are a range of numerical integration (sometimes called numerical quadrature) functions" -- I would say "there is a range.

[2022-05-18 11:26] Solonets commented on #4401
Hi, @Kevin-Mattheus-Moerman , thank you much for your help. I fixed the paper, the way it should satisfy the formal requirements. It's still tiny, Even though I could be wordier if needed, I prefer to stay as concise as possible. We provide only a reimplementation, so there is not much to report.

@editorialbot check references
@editorialbot commands

[2022-05-18 11:31] fabian-s commented on #4350
@rreinecke thank you, I'll take it!

[2022-05-18 11:32] fabian-s commented on #4350
@editorialbot add @gcattan as reviewer

[2022-05-18 11:32] fabian-s commented on #4350
@editorialbot add @rreinecke  as reviewer

[2022-05-18 11:33] fabian-s commented on #4350
@editorialbot add @rreinecke as reviewer

[2022-05-18 11:33] fabian-s commented on #4350
@editorialbot start review

[2022-05-18 11:33] editorialbot opened #4403 "[REVIEW]: NO-DOUBT: A Decision Support Web Platformbased on AHP"
**Submitting author:** @gdede-hua (<a href="http://orcid.org/0000-0003-2947-7470">Georgia Dede</a>)
**Repository:** https://github.com/gdede-hua/Decision_Survey_Platform
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @fabian-s
**Reviewers:** @gcattan, @rreinecke
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/ac725e3692a24bc9c1deb9900c

[2022-05-18 11:33] #4350 closed

[2022-05-18 11:36] mattpitkin commented on #4231
@editorialbot generate pdf

[2022-05-18 11:37] fabian-s commented on #4403
👋🏼 @gdede-hua   @gcattan @rreinecke this is the review thread for the paper. All of our communications will happen here from now on.

As a reviewer, the first step is to create a checklist for your review by entering

```@editorialbot generate my checklist```

as the top of a new comment in this thread.

These checklists contain the JOSS requirements. As you go over the submission, please check an

[2022-05-18 11:38] fabian-s commented on #4403
@editorialbot remind @fabian-s in five weeks

[2022-05-18 11:40] mattpitkin commented on #4231
@jakryd Thanks very much for your review. I've made those two minor changes to the paper.

[2022-05-18 12:27] tarleb commented on #4182
That's interesting. I'm looking into it now.

[2022-05-18 12:34] Solonets commented on #4401
@editorialbot check references

[2022-05-18 13:05] jGaboardi commented on #3330
@editorialbot generate pdf

[2022-05-18 13:38] blsqr commented on #4329
I opened [another issue in the PySD project](https://github.com/JamesPHoughton/pysd/issues/319) regarding the remaining review points for the documentation.

[2022-05-18 13:51] blsqr commented on #4329
Regarding the list of authors: Could you briefly explain the role of Jordi Solé in the creation of PySD and this paper?

[2022-05-18 13:58] mkitti commented on #4300
Do you just use the Paraview UI to File -> Open the VTU files?

If I typed the following in a shell, would it open the files?

[code]

[2022-05-18 14:04] vissarion commented on #3330
Hi, @apulverizer, @samuel-rosa, @michstrauch, @ncxiao, @rowanc1, @sarats, @MichaelHoltonPrice, @PaulDebus.

Would any of you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-05-18 14:10] baxmittens commented on #4300
I have Paraview installed on windows and I couldn't figure out how to load several files by command line at once

`paraview vox8.vtu`

or

`paraview --data=vox8.vtu`

works for me but not for two files

[In the docs](https://docs.paraview.org/en/latest/UsersGuide/dataIngestion.html) there is the data-option defined an a additional option for a (time)-series but not for two seperate inputs...at lea

[2022-05-18 14:20] christinahedges commented on #4243
@editorialbot generate pdf

[2022-05-18 14:20] christinahedges commented on #4243
@editorialbot check references

[2022-05-18 14:32] yannikschaelte commented on #4304
Hi @osorensen , I am currently off for two more weeks. I would address the issues as soon as I'm back then, if that's fine? Thanks all already for the very constructive feedback!

[2022-05-18 14:34] christinahedges commented on #4400
@editorialbot assign me as editor

[2022-05-18 14:34] fjprichard commented on #3821
@janmandel I think I answered to all your comments. Is there any left ?

[2022-05-18 14:37] samhorsfield96 commented on #4363
@cagret Is there a pdf version of the paper available? I saw one on biorxiv but I'm unsure if this is the latest version. However, the paper.md on the redoak repo seems incomplete in comparison.

[2022-05-18 15:07] rkurchin commented on #4373
👋 @sevberg, just pinging once more in case you're available to review this before I try other options.

[2022-05-18 15:22] osorensen commented on #4304
Yes @yannikschaelte, that's fine. And thanks a lot for notifying

[2022-05-18 15:26] tarleb commented on #4182
I've pushed a change, now only the first ISSN will be used.

Publications can have an ISSN for their print version and another for the electronic (online) version. The latter is sometimes called the eISSN and it seems that Zotero adds both.

There may be other ways to improve our handling of the ISSN field, but it should work for now.

[2022-05-18 15:34] sidihamady commented on #4373
@rkurchin Sorry for the delay. As I mentioned before, I am very busy at this moment but I will give a feedback by this week-end.

[2022-05-18 16:12] rkurchin commented on #4373
Sidi, don’t worry – this is still the pre-review issue; you’ll get a checklist for feedback on the review once we find another reviewer.

—————————————
Rachel C. Kurchin, PhD
Postdoctoral Researcher (formerly MolSSI and MFI Fellow)
Carnegie Mellon Mechanical Engineering and Materials Science
https://rkurchin.github.io
On May 18, 2022, 11:34 AM -0400, Sidi HAMADY ***@***.***>, wrote:

[2022-05-18 16:17] taylormcd commented on #3997
Bezanson2017 has two ISSN: 0036-1445 and 1095-7200, so I didn't change anything there.  For Hodges, it was a ISBN rather than an ISSN, and the issue is now corrected.

[2022-05-18 16:32] tmickleydoyle commented on #3330
Y'all need anything else from me?

[2022-05-18 16:32] kyleniemeyer commented on #4143
@editorialbot generate pdf

[2022-05-18 16:37] melissawm commented on #4198
Hello @Hanrui-Wang ! I'll add you as a reviewer. Because we are still short of one other reviewer, you are free to start looking at the paper and code, but we won't formally start the review until we find someone else. Thank you!

[2022-05-18 16:38] melissawm commented on #4198
@editorialbot add @Hanrui-Wang as reviewer

[2022-05-18 16:42] archermarx commented on #4402
@editorialbot check repository

[2022-05-18 16:45] archermarx commented on #4402
@editorialbot check references

[2022-05-18 16:47] archermarx commented on #4402
@editorialbot check references

[2022-05-18 16:59] cagret commented on #4363
@samhorsfield96 yes the one on biorxiv is up to date.
I don't understand why the pdflatex on main.tex doesn't work. Can you please retry with sudo apt install textlive-full first and pdflatex main.tex ?
Thank you,
Regards,
Clément

[2022-05-18 17:02] cagret commented on #4363
i updated the git repo : https://gite.lirmm.fr/doccy/RedOak/-/tree/master/RedOak-paper

[2022-05-18 17:10] cartemic commented on #4143
@kyleniemeyer sorry I didn't catch that last night. Metadata has been updated.

[2022-05-18 17:12] kyleniemeyer commented on #4143
@editorialbot set archive as 10.5281/zenodo.6558618

[2022-05-18 17:13] kyleniemeyer commented on #4143
@editorialbot set 10.5281/zenodo.6558618 as archive

[2022-05-18 18:02] jonschwenk commented on #4237
@editorialbot generate pdf

[2022-05-18 18:03] jbytecode commented on #4231
@editorialbot check references

[2022-05-18 18:04] jbytecode commented on #4231
@editorialbot generate pdf

[2022-05-18 18:05] jonschwenk commented on #4237
@editorialbot generate pdf

[2022-05-18 18:12] kyleniemeyer commented on #4143
@editorialbot recommend-accept

[2022-05-18 18:16] kyleniemeyer commented on #4143
@editorialbot accept

[2022-05-18 18:20] kyleniemeyer commented on #4143
Congratulations @cartemic on your paper's publication in JOSS!

Many thanks to @mefuller and @wenkailiang for reviewing this submission.

[2022-05-18 18:20] #4143 closed

[2022-05-18 18:29] jgostick commented on #4397
@editorialbot add @daguiam as reviewer

[2022-05-18 18:32] jgostick commented on #4397
Hi @daguiam
You'll want to generate an 'editorial checklist' for yourself, so you can see which aspects of the codebase to inspect and approve.  You can do this by typing ``@editorialbot generate my checklist`` into a comment box, then you'll have a list like @andyfaff's above.  The review process typically takes at least a month, so if you can set aside an afternoon or two of the next few weeks,

[2022-05-18 18:41] cartemic commented on #4143
Awesome! Thanks @kyleniemeyer @wenkailiang @mefuller :)

[2022-05-18 19:18] acolum commented on #4383
@mikldk I've completed my review. Since the suggestions in the issue linked above have been implemented, I recommend accepting this paper.

[2022-05-18 20:07] prashjha commented on #3997
@editorialbot generate pdf

[2022-05-18 20:08] prashjha commented on #4177
@dbrizard awesome...i am adding you as reviewer...we are good to start the review :D

[2022-05-18 20:08] prashjha commented on #4177
@editorialbot add @dbrizard as reviewer

[2022-05-18 20:10] prashjha commented on #4177
@ccaprani, we are ready to start the review. Review will be carried out in new github issues. Thanks, @vsangelidakis and @dbrizard for agreeing to review this submission.

[2022-05-18 20:10] prashjha commented on #4177
@editorialbot start review

[2022-05-18 20:10] editorialbot opened #4404 "[REVIEW]: ospgrillage: A bridge deck grillage analysis preprocessor for `OpenSeesPy`"
**Submitting author:** @ccaprani (<a href="http://orcid.org/0000-0001-6166-0895">Colin C. Caprani</a>)
**Repository:** https://github.com/MonashSmartStructures/ospgrillage
**Branch with paper.md** (empty if default branch):
**Version:** v0.2.1
**Editor:** @prashjha
**Reviewers:** @vsangelidakis, @dbrizard
**Archive:** 10.5281/zenodo.7034267

## Status

[![status](https://joss.theoj.org/papers/d443

[2022-05-18 20:10] #4177 closed

[2022-05-18 20:12] prashjha commented on #3997
@editorialbot recommend-accept

[2022-05-18 20:21] prashjha commented on #4308
Hi @drussellmrichie, would you be interested in reviewing this software article for JOSS? I think this work is in your area of interest. You can learn more about the review process [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html).

[2022-05-18 20:34] vissarion commented on #3330
No, your review seems complete. Thank you so much.

[2022-05-18 20:49] drussellmrichie commented on #4308
Hi. Thanks for the invitation. I might be up for this but I think there are people that would be better-suited for this than me. The author of the [PyACT-R package](https://github.com/jakdot/pyactr), [Jakub Dotlačil](https://github.com/jakdot), would seem to be *perfect*, if they have bandwidth. ;-) Or maybe the co-author of his [book](https://github.com/abrsvn/pyactr-book), [Adrian Brasoveanu](ht

[2022-05-18 21:13] Kevin-Mattheus-Moerman commented on #4402
@editorialbot generate pdf

[2022-05-18 21:17] Kevin-Mattheus-Moerman commented on #4402
@editorialbot invite @jarvist as editor

[2022-05-18 21:18] Kevin-Mattheus-Moerman commented on #4399
@editorialbot assign @fabian-s as editor

[2022-05-18 21:20] Kevin-Mattheus-Moerman commented on #4399
@alesantuz

No only the AEiC can invite editors, and only the handling editor can invite reviewers. However, you may, at this point if you wish, help suggest reviewers. When you do so please do not use the @ in the github handles of suggested reviewers, so they are not tagged yet.

[2022-05-18 22:05] mr53563 commented on #4279
Hi @danasolav, I am confused about how references work in the paper. Work is references via @NameYear where are they supposed to be listed? At the bottom of the document, the reference list is empty. Sorry, I am new to this :).

[2022-05-18 22:07] mr53563 commented on #4279
@danasolav Also, in the paper, can you include and discuss the limitations of ncorr that you have mentioned in response to our troubles with the number of images and with the large deformation?

[2022-05-18 22:18] jedbrown commented on #3982
Wonderful! I just notice one minor copy edit.

remove second of "the" or say "Most of Basix's functionality"

After making this change, could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g.,

[2022-05-18 22:51] henrykironde commented on #3632
@whedon generate pdf

[2022-05-18 23:55] henrykironde commented on #3632
@editorialbot generate pdf

[2022-05-19 00:18] andrew-f-murphy commented on #3632
Ahh I see no one else has submitted theirs, happy to remove to for uniformity

[2022-05-19 01:19] henrykironde commented on #3632
@drcandacemakedamoore Thank you for working on the suggestions and issues that were raised. I have tested the software, specifically using the Linux Docker environment since I had issues with my local MacOS environment. At this point, I recommend accepting the software. I am handing it over to @anki-xyz and @cMadan for further review.

[2022-05-19 02:13] rbturnbull commented on #4212
Hi @ajstewartlang and @konstantinstadler - we have put the SEIFA code in another repository (https://github.com/sailngarbwm/seifa/). The issues that were relevant to that module were moved there. I've added in some new functionality to ausdex so that it can calculate the inflation for particular capital cities in Australia. We've updated the docs quite a bit and edited the text of the paper in lig

[2022-05-19 05:09] stmcg commented on #4384
I'm sorry, I won't be able to review this submission. This caught me at a busy time. Thanks for the invitation

[2022-05-19 05:30] csoneson commented on #4265
👋🏻 @sahilseth - just quickly checking in on your review

[2022-05-19 05:35] csoneson commented on #4390
👋🏻 @jaybee84, @chrisamiller - would you be interested in reviewing this submission for JOSS?

[2022-05-19 06:15] erling6232 commented on #4133
@galessiorob Thanks for your help! Sorry for the delay, I've been away from my computer for a few days.

The DOI for the Zenodo deposit is 10.5281/zenodo.6562674
The present software version is 1.4.5.1.

[2022-05-19 06:19] danasolav commented on #4279
Hi @mr53563 , I assume you refer to the paper.md file? This file is formatted to a pdf together with the .bib file that contains the references. You can download the [formatted paper](https://github.com/openjournals/joss-papers/blob/joss.04279/joss.04279/10.21105.joss.04279.pdf) to check that all the references appear adequately.

[2022-05-19 06:36] danasolav commented on #4362
@lambdaloop @jonmatthis @CVHammond
How is your review going?

[2022-05-19 06:38] danasolav commented on #4281
@mbarzegary, just checking to see if you saw my issue. Once you answer them, we may be able to proceed to publication.

[2022-05-19 06:43] andr1976 commented on #4370
@fraukewiese I have started the review, and 9 days ago I filed an issue and a pull request, but I am not getting any response from the author DCoppitters. Can you contact him with a friendly reminder, just to make sure that the review can proceed

[2022-05-19 06:51] mikldk commented on #4383
@acolum Thanks.

@mcavs Can you please give a brief status of your review? This is not to rush you, merely to give me an impression of the progress and time-frame.

[2022-05-19 06:56] ClaraBuettner commented on #4370
@editorialbot generate my checklist

[2022-05-19 07:17] jbytecode commented on #4231
Dear @mattpitkin

- [ ] I have just sent a pull request that includes some corrections for the paper. Please apply them if you are agreed with it.
- [ ] Please read the paper pdf carefully, one more time.
- [ ] Create a tagged release in the software repository. Report the version here. The version should be in form of `vx.y.z`, e.g. `v1.2.3`.
- [ ] Create a Zenodo archive in https://zenodo.org/
-

[2022-05-19 08:07] ajstewartlang commented on #4212
Thanks @rbturnbull - that looks good to me. @konstantinstadler do those changes address the points you raised?

:wave: @potterzot can you update on how your review is going please?

[2022-05-19 08:17] mikldk commented on #4383
@mcavs Thanks. Remember to generate your checklist by
[code]

[2022-05-19 08:31] alesantuz commented on #4399
@Kevin-Mattheus-Moerman @fabian-s

Gladly. I can suggest the following:

- Luca Modenese (modenaxe)
- Christoph Leitner (luuleitner)
- Sjoerd Bruijn (SjoerdBruijn)
- Simon Danner (SimonDanner)
- Lucas McKay (jlucasmckay).

Please do let me know if anything more is needed on my side at this stage.

[2022-05-19 08:55] mattpitkin commented on #4231
@editorialbot generate pdf

[2022-05-19 09:05] mattpitkin commented on #4231
The latest tagged release is [v0.1.13](https://github.com/mattpitkin/lintegrate/releases/tag/v0.1.13), The Zenodo DOI for this release is [10.5281/zenodo.6419039](https://doi.org/10.5281/zenodo.6419039) and the Zenodo archive URL is https://zenodo.org/record/6419039#.YoYIQ3XMKV5.

[2022-05-19 09:08] Kevin-Mattheus-Moerman commented on #4355
@editorialbot assign @fabian-s as editor

[2022-05-19 09:11] mattpitkin commented on #4231
@editorialbot generate pdf

[2022-05-19 09:13] mattpitkin commented on #4231
@Het-Shah @jakryd thanks for reviewing the paper/software and @jbytecode that for the editorial input. I've checked over the paper and fixed another couple of minor typos, but am now happy for it to be released.

[2022-05-19 09:42] wouterpeere commented on #4297
@crvernon also nmstreethran, mefuller and fwitte can be potential reviewers.

[2022-05-19 10:00] fabian-s commented on #4399
@alesantuz

thanks for your suggestions, that is always very helpful. let's see how the first batch responds...

in the meantime, you could adress this:
[code]

[2022-05-19 10:06] warrickball commented on #4343
Thanks everyone! I've now been both sides of the JOSS review process and its always been great.

@editorialbot generate pdf

@christinahedges I added a few more lines to the paper to better distinguish `tomso` from other packages.

I think I've set up the Zenodo-GitHub integration correctly and released [v0.2.0](https://pypi.org/project/tomso/0.2.0/), which has DOI [10.5281/zenodo.6563220](https:/

[2022-05-19 10:18] Kevin-Mattheus-Moerman commented on #4384
@editorialbot assign @fabian-s as editor

[2022-05-19 10:19] Kevin-Mattheus-Moerman commented on #4352
@faroit any news, can you help edit this? It would be great if you could, even if it is outside your domain a bit.

[2022-05-19 10:32] dfm commented on #4321
@smkia, @saigerutherford — This is just a little ping to make sure that this review stays on your radar. It's good to start chipping away at the checklists sooner rather than later!

[2022-05-19 10:32] dfm commented on #4367
@lgarrison, @jzrake — This is just a little ping to make sure that this review stays on your radar. It's good to start chipping away at the checklists sooner rather than later!

[2022-05-19 10:33] alesantuz commented on #4399
@fabian-s

I tried to address it above, it doesn't look like that book has a valid DOI:

[2022-05-19 10:59] jbytecode commented on #4231
@editorialbot set version as v0.1.13

[2022-05-19 10:59] jbytecode commented on #4231
@editorialbot commands

[2022-05-19 11:00] jbytecode commented on #4231
@editorialbot set v0.1.13 as version

[2022-05-19 11:01] jbytecode commented on #4231
@editorialbot set 10.5281/zenodo.6419039 as archive

[2022-05-19 11:01] jbytecode commented on #4231
@editorialbot recommend-accept

[2022-05-19 12:14] mscroggs commented on #3982
@wence- and @tisaac: Thanks for reviewing this!

@jedbrown. The release tag is `joss` (https://github.com/FEniCS/basix/releases/tag/joss). The DOI of the archive is [10.6084/m9.figshare.19794268.v1](https://dx.doi.org/10.6084/m9.figshare.19794268.v1).

[2022-05-19 12:44] Kevin-Mattheus-Moerman commented on #4401
@editorialbot invite @hugoledoux as editor

[2022-05-19 13:03] Solonets commented on #4401
@editorialbot generate pdf

[2022-05-19 13:08] rogersamso commented on #4329
Apart from being the one who bet on the use of PySD in the H2020 projects MEDEAS and LOCMOTION, which led to the major changes that took place from 0.9 to the newest 3.0, Jordi Solé has been part of all design decisions that have been taken during the whole process. He has also reviewed the paper several times, and is now following the revision process.

[2022-05-19 13:09] arfon commented on #4182
:zap: thanks @tarleb !

[2022-05-19 13:10] amoradinejad commented on #4173
The article looks good and I don’t have any correction, apart from the fact that I would like to have my full last name at the citation in the footnote. So please replace “Dizgah et al.” with “Moradinezhad Dizgah et al”.

Best Regards,
Azadeh Moradinezhad

[2022-05-19 13:16] alesantuz commented on #4399
@editorialbot check references

[2022-05-19 13:17] Solonets commented on #4401
@Kevin-Mattheus-Moerman thank you for such detailed feedback, I fixed the grammar mistakes you found in the first part.

I deleted this.

I tried to hedge from the discussion about the quality of the original code, it's indeed a hard claim to support.  I do not want to put any evidence of this into the text, it would look a bit harsh.

it's also in C++, do you think I should mention this in a text

[2022-05-19 13:23] alesantuz commented on #4399
As mentioned above, the suggested DOI to replace the missing one does not refer to the correct publication and links instead to the following, which is just a "Book notice" from the journal Brain Research:

I still could not find a valid DOI for Bernstein's book.

[2022-05-19 13:43] fabian-s commented on #4399
Ok, sorry, I overlooked that earlier exchange. It is what it is then.

[2022-05-19 13:46] fabian-s commented on #4355
@zStupan
if you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @)

[2022-05-19 13:47] konstantinstadler commented on #4212
That seems ok for me. I tested the new version and it runs without problems. Some questions to @ajstewartlang :

- I guess the article needs to be rebuild to incorporate the changes. Not sure how to initiate that
- Just to double-check: for this release we now only consider ausdex - seifa becomes a separate article

[2022-05-19 13:49] pdebuyl commented on #4077
@editorialbot set v1.1.0 as version

[2022-05-19 13:50] pdebuyl commented on #4077
@editorialbot set  10.5281/zenodo.6478503 as archive

[2022-05-19 13:50] fabian-s commented on #4355
:wave: @hvgazula @diegomcarvalho,
would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-05-19 13:51] ajstewartlang commented on #4212
Many thanks, yes, @konstantinstadler - the article will need to be rewritten to incorporate the changes and new focus. SEIFA will now be in a separate repo (and outside the scope of the present submission) - the article will need to be updated to reflect that.

[2022-05-19 13:53] ajstewartlang commented on #4212
@editorialbot generate pdf

[2022-05-19 13:56] ajstewartlang commented on #4212
I've re-generated the pdf - does this look ok @konstantinstadler ?

[2022-05-19 13:59] konstantinstadler commented on #4212
Looks good to me!
It is much more focused then before - definitely a useful package.
All issues connected to the ausdex module have been resolved - I recommend to publish it.

[2022-05-19 14:00] pdebuyl commented on #4077
@lucass-carneiro can you edit the metadata of the zenodo archive so that it matches the title and author list of the article?

Also, can you spell out "Journal of Open Source Software" in the bibliography for Stein 2019? Apart for the "J" of "Journal", I don't think that the words can be shortened.

I only ran into one problem while testing the software, it is that I had to explicitly install SymE

[2022-05-19 14:04] mscroggs commented on #3982
Looks like one of the references in the paper has an extra set of curly braces around the DOI, which is causing an issue. https://github.com/FEniCS/basix/pull/511 will hopefully fix this

[2022-05-19 14:05] jedbrown commented on #3982
Thanks for diagnosing.

[2022-05-19 14:19] mscroggs commented on #3982
@jedbrown Correct is merged so it should be ready for another attempt now

[2022-05-19 14:20] jedbrown commented on #3982
@editorialbot recommend-accept

[2022-05-19 14:37] KristinaRiemer commented on #4199
Hi @arfon, thank you for the reminder!

And @kauedesousa, thank you for your patience with this submission. I will find a second reviewer shortly so we can move forward with this.

[2022-05-19 14:38] alcantarar commented on #4399
I can’t review this submission at this time, apologies.

[2022-05-19 14:44] blsqr commented on #4329
Thanks, @rogersamso! I did not find [direct code contributions](https://github.com/JamesPHoughton/pysd/graphs/contributors), that's what triggered the question – but that's obviously only one of many reasons for co-authorship.

[2022-05-19 14:47] KristinaRiemer commented on #4030
Hi @hongyuanjia, how are your updates to this software progressing? It looks like you have closed some of the issues.

[2022-05-19 14:50] chrisamiller commented on #4390
This one is a little bit outside of my expertise, sorry.  Happy to be considered for future reviews, though!

[2022-05-19 15:00] devSJR commented on #4390
@csoneson I suggested some reviewers from the list provided by JOSS. At least one of the potential reviewers has a PCR background. Maybe this helps.

[2022-05-19 15:18] jaybee84 commented on #4390
I am happy to review this paper :)

[2022-05-19 15:21] fabian-s commented on #4399
:wave: @modenaxe @davidruegamer @cpizzolato

Would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-05-19 16:00] astrobel commented on #4343
No worries @warrickball, it's a minor detail in a great software package :smile:

[2022-05-19 16:06] slayoo commented on #4326
Here is some more feedback on the installation instructions:
- worth mentioning that the `conda` steps are optional, and one can use the package without `conda`
- the `conda install --file requirements.txt` seem unneeded now that `setup.cfg` contains the dependency info
- the "To run the tests..." subsection does not contain any information on how to run the tests - just test data retrieval
- ther

[2022-05-19 16:23] mbarzegary commented on #4281
@danasolav
sorry for my late reply. I was on holidays and came back to work today.

thank you for the comments. I addressed the issue via a set of commits.

[2022-05-19 16:24] crvernon commented on #4297
👋 - @nmstreethran , @mefuller , or @fwitte Would either of you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-05-19 16:26] crvernon commented on #4237
@jonschwenk thanks for the update, if I cannot get in touch with @AtrCheema via email, I will get a different reviewer assigned to this ASAP.

[2022-05-19 16:26] davidruegamer commented on #4399
thx for the invitation @fabian-s but currently drowning in work :/

[2022-05-19 16:33] crvernon commented on #4237
:wave: @kanishkan91 - interested in helping out as an additional reviewer on this one?

[2022-05-19 16:35] crvernon commented on #4237
@editorialbot add @kanishkan91 as reviewer

[2022-05-19 16:40] crvernon commented on #4237
@AtrCheema I am going to remove you as a reviewer from this one due to the need to move this review forward.  Hopefully we can collaborate in the future and thank you for your interests in JOSS!

[2022-05-19 16:41] crvernon commented on #4237
@editorialbot remove @AtrCheema from reviewers

[2022-05-19 16:45] KristinaRiemer commented on #4199
@editorialbot add @istfer as reviewer

[2022-05-19 16:45] KristinaRiemer commented on #4199
@editorialbot start review

[2022-05-19 16:45] editorialbot opened #4405 "[REVIEW]: Climate variability indices for ecological and crop models in R: the climatrends package"
**Submitting author:** @kauedesousa (<a href="http://orcid.org/0000-0002-7571-7845">Kauê de Sousa</a>)
**Repository:** https://github.com/AgrDataSci/climatrends
**Branch with paper.md** (empty if default branch):
**Version:** v1.0
**Editor:** @KristinaRiemer
**Reviewers:** @dlebauer, @istfer
**Archive:** 10.5281/zenodo.7884366

## Status

[![status](https://joss.theoj.org/papers/03d54683d5c1d77595

[2022-05-19 16:45] #4199 closed

[2022-05-19 16:47] KristinaRiemer commented on #4199
Hi @dlebauer & @istfer, thank you for agreeing to review this submission! The review will happen in the GitHub issue linked to in the previous comment, if you navigate there you can create your checklist for the review by following the instructions at the bottom of the first comment. Feel free to let me know if you have questions, and create issues in the software repository as you identify improv

[2022-05-19 17:24] behollister commented on #4283
Sorry for the delay. Very busy at the moment.

The academic term is in its final week, and I have duties of grading and student presentations to attend. I'll return to this review and have it completed next week.

Again, thank you for all of the information provided. It will surely facilitate my review's completion next week and is greatly appreciated.

[2022-05-19 17:35] mlampros commented on #4342
In the [latest commit](https://github.com/mlampros/IceSat2R/commit/24b1a0dd98ad99e2c0cc7b917feafb0bdceb6fa3) I updated the code of the IceSat2R package to account for the checklist of @evetion,

I've [added code to debug ](https://github.com/mlampros/IceSat2R/issues/9#issuecomment-1125668956)the potential bug

I've added this [missing part in the documentation](https://mlampros.github.io/IceSat2R/

[2022-05-19 17:38] mlampros commented on #4342
@editorialbot generate pdf

[2022-05-19 17:54] dmbates commented on #4300
First, my thanks for @mkitti for his thoughtful and comprehensive review through many iterations.  I have more-or-less just monitored the conversation because @mkitti was bringing up the points that I would have made (and many more).

I am grateful to see the adoption of a registered package.  Part of the conversation seemed to be trying to avoid using the Julia package system to its fullest exten

[2022-05-19 18:05] csoneson commented on #4390
Thank you @jaybee84! I will assign you and start the review issue once we have secured one more reviewer.

@chrisamiller - no problem, thanks for responding!

[2022-05-19 18:21] csoneson commented on #4390
👋🏻 @markziemann, @DomBennett - would one of you be available and interested in reviewing this submission for JOSS?

[2022-05-19 18:28] jbytecode commented on #4300
@dmbates - thank you for the review. It seem you have checked all of the reviewing items on. So, do we have any further revisions or can I recommend an acceptance now?

[2022-05-19 18:36] dmbates commented on #4300
Yes.  However, I did notice two typos in the current draft article that should be corrected.

Line 38 - "unstructed" should be "unstructured", I believe.
Line 63 -  "conclude" is misspelled as "conlcude"

[2022-05-19 18:40] jbytecode commented on #4300
@dmbates - thank you. I will also check the whole things after the corrections are made.

@baxmittens - please correct the final suggestions and ping me.

thank you all!

[2022-05-19 18:57] lucass-carneiro commented on #4077
@pdebuyl
* I have edited the Zenodo archive metadata to match the paper information.
* JOSS is now spelt without abbreviations in the Stein 2019 citation.
* If you are trying to run the tests or examples, activate the project environment using the `--project` flag. Since the tests and examples track their dependencies separately from the main package, everything should work fine without the need t

[2022-05-19 19:09] jzrake commented on #4367
@Yurlungur -- I hope I'm doing this right. Here are two bits of feedback based on my first impression from the PDF writeup.

1. GPU hardware is designed to do interpolation (1d/2d/3d) in hardware as a primitive operation, long before GPGPU was a thing. I think the writeup should state why a software library to do interpolation on the GPU is needed, or is somehow better than what GPUs do in the har

[2022-05-19 20:23] samuel-rosa commented on #3330
@whedon I will not be able to review this manuscript.

[2022-05-19 20:36] samuel-rosa commented on #3330
@editorialbot I will not be able to review this manuscript.

[2022-05-19 20:44] cpizzolato commented on #4399
Hi @fabian-s, thanks for the opportunity. I am on leave until mid June. I am happy to review this at the end of June if you are still in need of reviewers then

[2022-05-19 20:58] mkitti commented on #4300
There is some value in having a lightweight XML package that does not have an external binary dependency. It would be great if they could coordinate by implementing a common "AbstractXMLParser" interface in the same fashion as https://github.com/JuliaMath/AbstractFFTs.jl.

In this case, it might be worthwhile to combine functionality into https://github.com/JuliaComputing/XML.jl (recently relocate

[2022-05-19 21:35] nmstreethran commented on #4297
@crvernon Yes, I'd be happy to review this submission.

[2022-05-19 21:38] miesli commented on #4298
@lucydot Thank you for improving the language. Your tips were quite helpful.

I am not sure, how to "proof" the claim of "home-made" scripts. Although people admit this in private, I do not know someone who could be cited for that.

The paper "Enhancing reproducibility for computational methods" was quite a good read. DMT addresses the point:

Using DMT simulation data generation, workflow impleme

[2022-05-19 23:00] Cristianetaniguti commented on #4242
Hello, I just push a simple Contributing Guidelines (mmollina/viewpoly@18ed13912d75f75882c8c9c6358a6f09954866f8) and with this, I think I cover all comments and suggestions made by @jkanche and @cpalmer718.

[2022-05-19 23:19] crvernon commented on #4297
Thanks @nmstreethran !

[2022-05-19 23:20] crvernon commented on #4297
@editorialbot add @nmstreethran as reviewer

[2022-05-19 23:24] crvernon commented on #4297
:wave: - Alright @wouterpeere , @jasondegraw , and @nmstreethran I am going to close this Pre-Review and kick off the full review which you should receive a notification for. Thanks!

[2022-05-19 23:24] crvernon commented on #4297
@editorialbot start review

[2022-05-19 23:24] editorialbot opened #4406 "[REVIEW]: GHEtool: An open-source tool for borefield sizing in Python"
**Submitting author:** @wouterpeere (<a href="http://orcid.org/0000-0002-2311-5981">Wouter Peere</a>)
**Repository:** https://github.com/wouterpeere/GHEtool
**Branch with paper.md** (empty if default branch): main
**Version:** v2.0.4
**Editor:** @crvernon
**Reviewers:** @jasondegraw, @nmstreethran
**Archive:** 10.5281/zenodo.7004037

## Status

[![status](https://joss.theoj.org/papers/0ae2224874ee

[2022-05-19 23:24] #4297 closed

[2022-05-19 23:29] crvernon commented on #4406
:wave: @wouterpeere , @jasondegraw , and @nmstreethran This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items tha

[2022-05-19 23:55] prashjha commented on #4308
@drussellmrichie thanks for your comment. I will try these options and if none works, I will ask you again. :)

[2022-05-19 23:56] Yurlungur commented on #4367
Thanks, @jzrake It'll take me a little bit to gather a formal response for these comments and implement changes to the manuscript. I should have something soon.

[2022-05-19 23:58] prashjha commented on #4308
Hello @jakdot, would you be interested in reviewing this software article for JOSS? This seems to be closely related to your work.

[2022-05-20 05:21] istfer commented on #4405
@editorialbot generate my checklist

[2022-05-20 06:28] mikldk commented on #4242
@cpalmer718, @jkanche, @raivivek: Please have a look at your checklists again and let @Cristianetaniguti know if there is anything that needs to be done.

[2022-05-20 06:39] mattpitkin commented on #4231
The pdf of the final proof looks good to me.

[2022-05-20 07:42] baxmittens commented on #4300
@jbytecode - corrected the typos.

[2022-05-20 07:43] baxmittens commented on #4300
@editorialbot generate pdf

[2022-05-20 07:47] sidihamady commented on #4373
Dear @EwaGomez thanks for your quick reply.
I have some preliminary programming-related comments in this preview stage:
1. I think it would be important to offer a Linux version and I'm glad to know that you plan to do so. Technically it is quite feasible if we consider that the used libraries are OS-independent. Of course, the user can develop himself a Linux version, but if it's done, tested and

[2022-05-20 08:03] dbrizard commented on #4351
I am still trying to find a second reviewer.
Here are some suggestions: MargeritPierre, ntlva.

[2022-05-20 08:17] markziemann commented on #4390
@csoneson Yes I can do it within 14 days

[2022-05-20 08:23] csoneson commented on #4390
Awesome, thanks @markziemann! I'm going to assign the reviewers now and officially start the review.

@seaaan - I think we are set for this submission, I hope we can reach out to you for another review in the future! Thanks!

[2022-05-20 08:23] csoneson commented on #4390
@editorialbot add @jaybee84 as reviewer

[2022-05-20 08:24] csoneson commented on #4390
@editorialbot add @markziemann as reviewer

[2022-05-20 08:26] csoneson commented on #4390
@editorialbot start review

[2022-05-20 08:26] editorialbot opened #4407 "[REVIEW]: PCRedux: A Quantitative PCR Machine Learning Toolkit"
**Submitting author:** @devSJR (<a href="http://orcid.org/0000-0002-1441-6512">Stefan Rödiger</a>)
**Repository:** https://github.com/PCRuniversum/PCRedux
**Branch with paper.md** (empty if default branch):
**Version:** 1.1-2
**Editor:** @csoneson
**Reviewers:** @jaybee84, @markziemann
**Archive:** 10.5281/zenodo.7009124

## Status

[![status](https://joss.theoj.org/papers/860ed94423d2d9908209c37e

[2022-05-20 08:26] #4390 closed

[2022-05-20 08:30] csoneson commented on #4407
👋🏼  @devSJR, @jaybee84, @markziemann - this is the review thread for the submission. All of our communications will happen here from now on.

Please check the post at the top of the issue for instructions on how to generate your own review checklist. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The J

[2022-05-20 09:02] fabian-s commented on #4399
:wave: @luuleitner @modenaxe @SimonDanner

Would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-05-20 09:04] zStupan commented on #4355
@fabian-s Sorry for the late response. My suggestions for potential reviewers are: chkoar, juliensiebert and ahurriyetoglu. I agree with your suggestions as well.

[2022-05-20 09:14] wouterpeere commented on #4406
@editorialbot generate pdf

[2022-05-20 09:39] EwaGomez commented on #4373
Dear @sidihamady  thank you for your comments!
Very helpful points! I will include a diagram of the software architecture in the ReadMe. I am also working on more description fields in the GUI. I am not exactly sure how the review works for JOSS, do I have to solve those issues before a possible publication?
I am continuously working on the software, but since I have a working version, which is al

[2022-05-20 11:40] eloisabentivegna commented on #4173
@editorialbot check references

[2022-05-20 11:51] eloisabentivegna commented on #4173
@editorialbot check references

[2022-05-20 11:55] fraukewiese commented on #4391
@robinroche Thank you very much! I will add you as reviewer. The review will start as soon as we have found a second reviewer

[2022-05-20 11:55] fraukewiese commented on #4391
@editorialbot add @robinroche as reviewer

[2022-05-20 11:58] eloisabentivegna commented on #4173
@amoradinejad, I am not sure how to fix the footer problem you mention, but I am looking into it. In the meantime, I have created a pull request to your repository with some minor (mostly cosmetic) suggestions. Please take a look and integrate, if you approve.

[2022-05-20 11:58] fraukewiese commented on #4370
@DCoppitters : Have you seen the issue and pull request from @andr1976 regarding the review process?

[2022-05-20 12:08] enekomartinmartinez commented on #4329
@editorialbot generate pdf

[2022-05-20 12:20] enekomartinmartinez commented on #4329
Dear @andrecieplinski, @blsqr and @pdebuyl
We are close to the release 3.0.0 in PySD, see [PR 312](https://github.com/JamesPHoughton/pysd/pull/312).
Therefore we have updated the last part of the summary section of the paper, when talking about the future roadmap.

We have also included in the documentation the suggestions made in [issue 319](https://github.com/JamesPHoughton/pysd/issues/319). Mor

[2022-05-20 13:10] devSJR commented on #4407
@csoneson,  editorialbot found two MISSING DOIs

- 10.32614/rj-2011-002 may be a valid DOI for title: testthat: Get Started with Testing
- 10.32614/rj-2014-015 may be a valid DOI for title: Archiving Reproducible Research with R and Dataverse

The bot is right. We cited the packages and not the articles of the R Journal. We will correct this accordingly.

[2022-05-20 13:17] devSJR commented on #4407
@editorialbot generate pdf

[2022-05-20 13:18] devSJR commented on #4407
Done

[2022-05-20 13:23] faroit commented on #4352
@Kevin-Mattheus-Moerman I spent some time getting into this now and - yes, while its clearly outside my core domain – I find the contribution interesting and relevant. Happy to accept

[2022-05-20 13:24] Kevin-Mattheus-Moerman commented on #4352
@editorialbot assign @faroit as editor

[2022-05-20 13:27] Kevin-Mattheus-Moerman commented on #4392
@editorialbot assign @kellyrowland as editor

[2022-05-20 13:39] Kevin-Mattheus-Moerman commented on #4386
@editorialbot invite @jarvist as editor

[2022-05-20 13:39] Kevin-Mattheus-Moerman commented on #4386
@jarvist could you help edit this work?

[2022-05-20 13:41] faroit commented on #4352
👋  Hi @vsoch, thanks again for your submission to JOSS and sorry for the delay. I will be serving as the editor for this now. We'll use this issue to identify reviewers and resolve technical issues.

This tool implements a broad (and alternative) vision of how research software can be cited outside classical DOIs. I would like to diversify the reviewers in order to accommodate this vision but also

[2022-05-20 13:41] editorialbot opened #4408 "[PRE REVIEW]: BTE: a Python module for pandemic-scale 2 mutation-annotated phylogenetic trees"
**Submitting author:** @jmcbroome (<a href="http://orcid.org/0000-0002-5002-5156">Jakob McBroome</a>)
**Repository:** https://github.com/jmcbroome/BTE
**Branch with paper.md** (empty if default branch):
**Version:** v0.8.1
**Editor:** @jmschrei
**Reviewers:** @bede, @tijeco
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/16e578fb7ff7edaa44645086a1ed075b/stat

[2022-05-20 13:43] editorialbot opened #4409 "[PRE REVIEW]: Starmatrix: Modelling nucleosynthesis of galactic chemical elements"
**Submitting author:** @xuanxu (<a href="http://orcid.org/0000-0001-7699-3983">Juanjo Bazán</a>)
**Repository:** https://github.com/xuanxu/starmatrix
**Branch with paper.md** (empty if default branch):
**Version:** v1.7.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/35c924541de86ca264e090f0b80efbd7/status.svg)](h

[2022-05-20 13:55] devSJR commented on #4407
I have found a duplication of a citation (R Core Team). This is fixed now.

[2022-05-20 13:55] devSJR commented on #4407
@editorialbot generate pdf

[2022-05-20 14:26] jmcbroome commented on #4408
The files for the paper in the docs/joss_manuscript directory in the repository. I added the paper rendering to my workflows and [it works fine](https://github.com/jmcbroome/BTE/actions/runs/2341879364). Possible this bot is looking at just the root directory? How do I fix that?

[2022-05-20 14:33] vissarion commented on #3330
@samuel-rosa thanks for your reply! (you do not need to declare it using the editorial bot)

[2022-05-20 14:37] diehlpk commented on #4351
Hi @MargeritPierre or @ntlva would you be interested in reviewing this paper?

[2022-05-20 14:43] jbytecode commented on #4300
Dear @baxmittens

- [ ] I have just sent a pull request that includes some corrections for the paper. Please apply them if you are agreed with it.
- [ ] Compile the pdf, make the final proof here.
- [ ] Please read the paper pdf carefully, one more time.
- [ ] Create a tagged release in the software repository. Report the version here. The version should be in form of `vx.y.z`, e.g. `v1.2.3`.
- [

[2022-05-20 14:48] jbytecode commented on #4300
@baxmittens - if my PR breaks something, please manually fix the typos rather than applying the PR.

[2022-05-20 15:02] hongyuanjia commented on #4030
Hi @KristinaRiemer. Most of the feature-related issues have been solved, except for https://github.com/ideas-lab-nus/epwshiftr/issues/19, which may need more refactoring. Also, to solve https://github.com/ideas-lab-nus/epwshiftr/issues/38 in a more comprehensive way, I have decided to add a new feature to download and parse all available CMIP6 controlled variables and GCM outputs (https://github.c

[2022-05-20 15:28] Athene-ai commented on #4354
@jbytecode I just check off the checklist and posted all my comments below in a separate post.

[2022-05-20 15:36] Kevin-Mattheus-Moerman commented on #4409
@xuanxu thanks for this submission. Our editors in this domain are currently all busy handling other submissions. Hence I've assigned the wait listed label. We will assign an editor once one becomes available.

[2022-05-20 15:39] Kevin-Mattheus-Moerman commented on #4408
@jmcbroome I think the issue is the names of the files. Can you rename it to `paper.md` and `paper.bib`?

[2022-05-20 15:39] editorialbot opened #4410 "[PRE REVIEW]: iapws"
**Submitting author:** @jjgomera (<a href="http://orcid.org/0000-0002-0406-1180">Juan José Gómez Romera</a>)
**Repository:** https://github.com/jjgomera/iapws
**Branch with paper.md** (empty if default branch): joss
**Version:** v1.5.2
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/f9dfdc5ce39598c25c2b87c3e81cf89f/

[2022-05-20 15:40] jbytecode commented on #4354
@Athene-ai do you have any suggestions, comments,or improvements?

[2022-05-20 15:42] editorialbot opened #4411 "[PRE REVIEW]: haldensify: Highly adaptive lasso conditional density estimation in R"
**Submitting author:** @nhejazi (<a href="http://orcid.org/0000-0002-7127-2789">Nima Hejazi</a>)
**Repository:** https://github.com/nhejazi/haldensify
**Branch with paper.md** (empty if default branch):
**Version:** v0.2.5
**Editor:** @majensen
**Reviewers:** @turgeonmaxime, @adibender
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/e54c2bf1daca38bdcda505be2

[2022-05-20 15:48] SimonDanner commented on #4399
@fabian-s I'd be happy to review this.

[2022-05-20 15:49] jbytecode commented on #4354
@Athene-ai - please suggest corrections and make comments. Whenever the authors apply them check off the corresponding item. After finishing the review please provide a summary and your decision. thank you.

[2022-05-20 15:53] KristinaRiemer commented on #4030
Thanks for the update @hongyuanjia! It's all good on the pacing, I just want to make sure you're not blocked by anything and have a plan for moving forward, which it sounds like you do!

[2022-05-20 15:54] Kevin-Mattheus-Moerman commented on #4410
@jjgomera thanks for this submission. I'm the AEiC on call for JOSS this week. I've briefly reviewed your paper. I'm trying to understand if this work is scope for JOSS. I think it might be but I do think the paper could use some work. In particular, the statement of need section should clearly describe the relevance and applications of this work to research. Can you add more detail on this? After

[2022-05-20 15:59] Athene-ai commented on #4354
@jbytecode @yuliadm I have completed my review [#4354 (comment)](https://github.com/openjournals/joss-reviews/issues/4354#issuecomment-1133031070)  also adding further comments below

**Additional comments**

-  Please revise the installation procedure (see [Package installation procedure](https://github.com/yuliadm/mixComp/issues/4#issue-1243336630))
- Please see this about a real data experiment

[2022-05-20 16:00] raivivek commented on #4242
Hi @Cristianetaniguti! I added a [few comments](https://github.com/mmollina/viewpoly/issues/34) to your repository based on my review! Let me know if you have any questions, but other than that, it's looks be in very good shape.

[2022-05-20 16:02] jbytecode commented on #4354
@yuliadm - please consider fixing, correcting, and adding the suggestions and ping me. Thank you

[2022-05-20 16:15] jjgomera commented on #4400
@editorialbot commands

[2022-05-20 16:15] reichherzerp commented on #4243
Hi @christinahedges, many thanks for the detailed comments and suggestions for improvement!

1. I have now significantly reduced the package size (factor >10). I have implemented this partly through your suggestions by putting the paper in its own branch. I have also done the same for the comparisons with CRPropa. In addition, I have purged the history of old, large simulation files according to t

[2022-05-20 16:44] galessiorob commented on #4133
@erling6232 no problem at all! Let's get this paper published 🚀

[2022-05-20 16:44] galessiorob commented on #4133
@editorialbot set v1.4.5.1 as version

[2022-05-20 16:45] galessiorob commented on #4133
@editorialbot set 10.5281/zenodo.6562674 as archive

[2022-05-20 16:45] galessiorob commented on #4133
@editorialbot generate pdf

[2022-05-20 16:54] galessiorob commented on #4133
@editorialbot check references

[2022-05-20 16:56] galessiorob commented on #4133
@editorialbot recommend-accept

[2022-05-20 16:57] galessiorob commented on #4133
@erling6232 an editor in chief will run the final steps to get it published. Thanks so much for working through the review and congrats!

[2022-05-20 17:08] erasmuss commented on #4351
Hi,

Sorry for the late reply, works been hectic and I’m traveling, I can review
it next week, already started reading the page.

Please confirm this.

Thanks,
Elizabeth ***@***.***)

On Fri, May 20, 2022 at 8:37 AM Patrick Diehl ***@***.***>
wrote:

--
Elizabeth Rasmussen

[2022-05-20 17:28] jmcbroome commented on #4408
I've updated the file names and [workflow](https://github.com/jmcbroome/BTE/actions/runs/2359737669).

[2022-05-20 17:28] jmcbroome commented on #4408
@editorialbot generate pdf

[2022-05-20 17:30] jmcbroome commented on #4408
There we go!

[2022-05-20 17:47] eloisabentivegna commented on #4173
@amoradinejad, there are some instructions about fine-graining author names at https://github.com/openjournals/inara/blob/main/docs/names.md. Could you take a look and try the fix?

[2022-05-20 18:22] vsoch commented on #4352
hey @faroit totally no worries about the timing - it's an amazing effort that y'all do here to do this in your free time (and it's still pretty fast imho).

I'm happy to add this, but did you not see the docs? https://vsoch.github.io/citelang/getting_started/user-guide.html. CiteLang is a fairly diverse tool and there is no "here is the one use case" or "this is exactly how you are supposed to us

[2022-05-20 19:11] lucass-carneiro commented on #4077
@pdebuyl FYI, I have updated the paper to correct an issues where benchmark figures were missing and added new thanks to contributors

[2022-05-20 21:33] eloisabentivegna commented on #4173
Once you're done fixing the name, could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and autho

[2022-05-20 21:36] faroit commented on #4352
@vsoch thanks for your detailed explanations.

Thanks for the clarification. In the submitted paper you state:

That id why, when looking only at the repo, I was a bit overwhelmed by the possibilities of citelang - in a very positive way :-) As I am not doing research on research software engineering, I was directly looking for an (opinionated), best-practice guide of how to use citelang in a rese

[2022-05-20 22:00] vsoch commented on #4352
Yep that works perfectly! Sorry about my wording, we indeed can work on that. I have to be careful because I feel like I can easily offend someone when I talk about this (it already happened in a slack). I think that's what led to "suggests."

This sounds perfect! I'll put together a quick "why do I care!" bullet list and add to the README and to the top of the getting started guide.

Yes of cours

[2022-05-20 22:54] vsoch commented on #4352
All done @faroit - I've added more summary / pictures to the README https://github.com/vsoch/citelang#getting-started along with a bullet summary section: https://vsoch.github.io/citelang/getting_started/index.html and added more headers to the GitHub actions to more easily link readers directly to the one they want (it was just one section before).

[2022-05-21 03:18] dkauf42 commented on #4326
_@simonom, to help clarify the distinction between these software packages, we've revised and added text to the 2nd paragraph of the 'statement of need' section (commit [64a80ff](https://github.com/E3SM-Project/gdess/commit/64a80ff697d10d3e7bcc9029b3ae53e446441246)). The revised text reads:_

"For example, the ESM Evaluation Tool (ESMValTool; @Eyring2016c; @Eyring2020b) has been used to generate s

[2022-05-21 11:59] sara-02 commented on #4263
@taless474 @elboyran I am interested in reviewing this, not my exact area of expertise but I am interested in this project and using it for my own research.

[2022-05-21 13:55] bencardoen commented on #3743
@Nikoleta-v3
I completed the checklist, and made issues (I hope in the right way) for the items I came across.
My general review comments are in issue https://github.com/JetBrains-Research/spbla/issues/19
I haven't been able to verify the performance results due to a build issue https://github.com/JetBrains-Research/spbla/issues/17 so that's unchecked, and I still need to get the python tests runn

[2022-05-21 14:26] arfon commented on #4301
Just a heads up that the AAS paper DOI here has already been issued: `10.3847/1538-4357/ac7150`

[2022-05-21 16:49] yuliadm commented on #4354
Hi @jbytecode, I'll do it next week, thanks!

[2022-05-21 16:50] editorialbot opened #4412 "[PRE REVIEW]: New developments in PySDM and PySDM-examples v2: collisional breakup, immersion freezing, dry aerosol composition initialisation, and adaptive time-stepping"
**Submitting author:** @edejong-caltech (<a href="http://orcid.org/0000-0002-5310-4554">Emily de Jong</a>)
**Repository:** https://github.com/atmos-cloud-sim-uj/PySDM
**Branch with paper.md** (empty if default branch):
**Version:** v2.8
**Editor:** @dhhagan
**Reviewers:** @claresinger, @douglowe
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/5110170dd97fe1e

[2022-05-21 16:51] Kevin-Mattheus-Moerman commented on #4408
@editorialbot check repository

[2022-05-21 16:56] Kevin-Mattheus-Moerman commented on #4408
@editorialbot invite @jmschrei as editor

[2022-05-21 16:59] Kevin-Mattheus-Moerman commented on #4410
@openjournals/dev the paper title differs from the submission name (iapws), can you confirm if that it okay?

[2022-05-21 17:02] Kevin-Mattheus-Moerman commented on #4411
@nhejazi can  you check those potentially missing DOIs? :point_up: If those papers are not cited in the paper please remove them from the bib file. You can call `@editorialbot check references` to repeat the check.

[2022-05-21 17:21] Kevin-Mattheus-Moerman commented on #4411
@nhejazi I have just assigned the `waitlisted` label here, since the editors for this domain are currently preoccupied with other submissions. We will assign an editor once one becomes available.

[2022-05-21 17:22] Kevin-Mattheus-Moerman commented on #4411
@marcosvital would you be able to edit this once you are available?

[2022-05-21 17:25] editorialbot opened #4413 "[PRE REVIEW]: PyOMA and PyOMA_GUI: A Python module and software for Operational Modal Analysis"
**Submitting author:** @dagghe (<a href="http://orcid.org/0000-0002-3830-2835">Dag</a>)
**Repository:** https://github.com/dagghe/PyOMA
**Branch with paper.md** (empty if default branch):
**Version:** v2.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/8ffdd020f778f15506d5cb25703a4a32/status.svg)](https://joss.theo

[2022-05-21 17:37] Kevin-Mattheus-Moerman commented on #4412
@edejong-caltech can you check that potentially invalid DOI :point_up: ? You can call `@editorialbot check references` to check them again.

[2022-05-21 20:48] kahaaga commented on #4386
@editorialbot check references

[2022-05-21 20:50] kahaaga commented on #4386
@Kevin-Mattheus-Moerman The missing DOIs are now added.

[2022-05-21 21:24] Datseris commented on #4386
Hello! From the list of reviewers I can see that @lucaferranti and @wkearn and @dawbarton have Julia as their preferred language for review, and also have research interests overlapping with the topic of the paper. Perhaps anyone is willing to volunteer for the review? :)

[2022-05-21 21:28] lucaferranti commented on #4386
I could review this (I have another JOSS review ongoing atm, but it's almost concluded, so it shouldn't be a problem)

[2022-05-22 00:31] kanishkan91 commented on #4237
@jonschwenk I have started my review. Though I want to raise a very basic question here (just in case I am missing something). From the documentation and the code I gather that you are using the HydroBasins data product to produce aggregate delineations. But is it that rabpro can _only_ be used with HydroBasins for producing more aggregate delineations? For example, if I had my own aggregate basin

[2022-05-22 01:02] dkauf42 commented on #4326
@slayoo, we appreciate the detailed feedback, and here respond to each of these points:

- **(a)** We have repeatedly run into errors installing `cartopy`, one of `gdess`'s dependencies, with just 'pip' and 'setup.cfg'.  Installing dependencies via `conda` has enabled us to avoid this issue, and that is why we have kept the `conda` instructions in the readme.
- **(b)** We understand that this seem