[2020-02-03 03:47] arokem commented on #1998
@iljah : would you be willing to review this article for JOSS?

[2020-02-03 04:09] banesullivan commented on #1720
@sam-greenwood, I have gone through your latest changes to the paper and it looks great to me! I have checked off most items in the review above, but I would still like to see the following issues addressed:

- https://github.com/sam-greenwood/taco_vis/issues/8
- https://github.com/sam-greenwood/taco_vis/issues/18
- https://github.com/sam-greenwood/taco_vis/pull/16

[2020-02-03 04:48] jasmainak commented on #1959
hi @arokem sorry I was waiting for you to pitch in, we'll address these comments at the earliest and update you here. Thanks a lot for the reviews and feedback @professoralkmin and @ryEllison !

[2020-02-03 08:42] iljah commented on #1998
@arokem I can review

[2020-02-03 09:13] pstrk commented on #2057
Thank you for your message. Just looking at the list we think the following reviewers could be a good fit aquilesC, brandondube, IgorBaratta, DiegoJRR

[2020-02-03 09:14] will-rowe commented on #1994
Hi @oschwengers - thanks for addressing the reviewer comments so quickly.

I've just checked the docs and can't find any way to change the version during review. Also, @luizirber may have already done his review for the previous version? Once we have @luizirber's review and his comments are addressed, we will then ask you to tag a [new release](https://joss.readthedocs.io/en/latest/editing.html#af

[2020-02-03 09:24] martinju commented on #2027
Thanks for finishing the helpful review, @frycast .
I've now closed the license issue/PR.

[2020-02-03 09:25] will-rowe commented on #2022
Hi @jenzopr - would you be able to review this submission for us?

[2020-02-03 09:34] tleonardi commented on #1979
Hi @majensen,
I just hadn't checked the last changes that @titipata introduced after my last comments. I have checked now and the API docs look good! I haven't seen changes in the README, but my suggestions where mostly minor details. No need to hold the publication because of this.
Overall, `pubmed_parser` is a solid software that's going to be of great help to the scientific community (as shown

[2020-02-03 09:38] drvinceknight commented on #2051
@whedon assign @drvinceknight as editor

[2020-02-03 09:38] whedon commented on #2051
OK, the editor is @drvinceknight

[2020-02-03 09:39] drvinceknight commented on #2051
@SirSharpest looking at [this list of possible reviewers](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit?usp=sharing) could you suggest any as a good fit?

[2020-02-03 09:43] jenzopr commented on #2022
Hi @will-rowe - I'm happy to do that!

[2020-02-03 09:47] drvinceknight commented on #2013
@bahung apologies for the nag but any idea when you might be able to complete your review?

[2020-02-03 09:47] drvinceknight commented on #1931
Hi @dawbarton apologies for the nag but any idea when you might be able to complete your review?

[2020-02-03 09:47] will-rowe commented on #2058
Good morning. I've been looking at this submission this morning and I'm afraid we may class this as a minor-utility. Whilst I think this is a useful tool and one which I would use to save myself bedtools + awk scripting, I don't think there is enough functionality here to pass our submission requirements.

I'd appreciate it if either @lpantano, @majensen or @csoneson could take a quick look and co

[2020-02-03 09:48] will-rowe commented on #2022
Brilliant - thank you @jenzopr !

[2020-02-03 09:49] will-rowe commented on #2022
Sorry for the delay @jspaezp - we now have 2 reviewers and can start the review process. I'll kick things off now; this will result in a new thread being opened where we can track the reviews etc.

[2020-02-03 09:51] will-rowe commented on #2022
@whedon assign @mschubert as reviewer

[2020-02-03 09:51] whedon commented on #2022
OK, @mschubert is now a reviewer

[2020-02-03 09:51] will-rowe commented on #2022
@whedon add @jenzopr as reviewer

[2020-02-03 09:51] whedon commented on #2022
OK, @jenzopr is now a reviewer

[2020-02-03 09:51] will-rowe commented on #2022
@whedon start review

[2020-02-03 09:51] whedon opened #2061 "[REVIEW]: scTree: An R package to generate antibody-compatible classifiers from single-cell sequencing data"
**Submitting author:** @jspaezp (<a href="http://orcid.org/0000-0002-0065-1474">J. Sebastian Paez</a>)
**Repository:** <a href="https://github.com/jspaezp/sctree" target ="_blank">https://github.com/jspaezp/sctree</a>
**Version:** 0.0.5
**Editor:** @will-rowe
**Reviewer:** @mschubert, @jenzopr
**Archive:** <a href="https://doi.org/10.5281/zenodo.3766467" target="_blank">10.5281/zenodo.3766467</a>

[2020-02-03 09:51] whedon commented on #2022
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2061.

[2020-02-03 09:51] #2022 closed

[2020-02-03 09:51] whedon commented on #2061
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mschubert, @jenzopr it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2020-02-03 09:52] whedon commented on #2061
[code]

[2020-02-03 09:52] whedon commented on #2061
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02061/joss.02061/10.21105.joss.02061.pdf)

[2020-02-03 10:12] SirSharpest commented on #2051
possibly markgalassi, pdebuyl ?

[2020-02-03 11:05] matbesancon commented on #1912
@whedon check references

[2020-02-03 11:06] whedon commented on #1912
[code]

[2020-02-03 11:06] matbesancon commented on #1912
@kirui93 can you check the DOI above, there is one that needs removing the https://doi.org prefix

[2020-02-03 11:14] dawbarton commented on #1931
Thanks for the nag; I'll get onto it asap (maybe today but definitely by the end of the week).

[2020-02-03 11:18] arfon commented on #2057
@aquilesC @DiegoJRR @brandondube - would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2020-02-03 11:29] terrytangyuan commented on #2027
Hi @expectopatronum, would you be able to start the review soon?

[2020-02-03 11:51] anmolter commented on #1753
@leouieda Could you restart the review process please?

[2020-02-03 12:08] kirui93 commented on #1912
Yeah. It was a slight mistake in the .bib file. I have removed it.

[2020-02-03 12:12] whedon commented on #1900
:wave: @russellpierce, please update us on how your review is going.

[2020-02-03 12:26] aquilesC commented on #2057
Dear @arfon , even though I would like to help, I do not have available time to do it in a timely manner. I strongly advise you to go for another reviewer. If you can't find any, ping me again and we can see what is possible.

[2020-02-03 12:28] melissawm commented on #1955
@whedon add @malmaud as reviewer

[2020-02-03 12:28] whedon commented on #1955
OK, @malmaud is now a reviewer

[2020-02-03 12:29] melissawm commented on #1955
Thank you both! I will now close this pre-review issue and you'll be redirected to a REVIEW issue where you'll be provided with a checklist for the review.

[2020-02-03 12:30] melissawm commented on #1955
@whedon start review

[2020-02-03 12:30] whedon opened #2062 "[REVIEW]: Soss: Code Generation for Probabilistic Programming in Julia"
**Submitting author:** @cscherrer (<a href="http://orcid.org/0000-0002-1490-0304">Chad Scherrer</a>)
**Repository:** <a href="https://github.com/cscherrer/Soss.jl" target ="_blank">https://github.com/cscherrer/Soss.jl</a>
**Version:** v0.9.0
**Editor:** @melissawm
**Reviewer:** @kose-y, @malmaud
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/703afc01ce7a4f97f3947dc7b5255

[2020-02-03 12:30] whedon commented on #1955
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2062.

[2020-02-03 12:30] #1955 closed

[2020-02-03 12:30] whedon commented on #2062
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kose-y, @malmaud it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2020-02-03 12:31] whedon commented on #2062
[code]

[2020-02-03 12:31] whedon commented on #2062
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02062/joss.02062/10.21105.joss.02062.pdf)

[2020-02-03 12:33] melissawm commented on #1906
Hello @pitsianis and @sivaramambikasaran , any updates on this review?

[2020-02-03 12:36] expectopatronum commented on #2027
@terrytangyuan Yes, I am working on it!

[2020-02-03 12:47] matbesancon commented on #1912
@whedon check references

[2020-02-03 12:47] whedon commented on #1912
[code]

[2020-02-03 12:47] matbesancon commented on #1912
problem is still there

[2020-02-03 12:51] FlorianRhiem commented on #1949
@trallard May I ping them with an updated version of your comment, will you ping them, or how do we continue? I'm feeling somewhat lost regarding the process at the moment.

[2020-02-03 12:54] srmnitc commented on #2003
@whedon generate pdf

[2020-02-03 12:55] whedon commented on #2003
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02003/joss.02003/10.21105.joss.02003.pdf)

[2020-02-03 13:00] labarba commented on #1555
@rouson — Are you ready to tick off the remaining items in your review checklist?

[2020-02-03 13:01] labarba commented on #1555
@hariradh — I see all your checklist items are ticked off. Can we have a confirmation here that you recommend acceptance?

[2020-02-03 13:14] kirui93 commented on #1912
I have removed it. Please have a look again.

[2020-02-03 13:17] oliviaguest commented on #1900
@russellpierce hopefully you almost done now! :smile:

[2020-02-03 13:21] matbesancon commented on #1912
@whedon check references

[2020-02-03 13:21] whedon commented on #1912
[code]

[2020-02-03 13:22] kirui93 commented on #1912
I have removed this reference in `paper.pip` file because I didn't even cite it. I am wondering why whedon is saying invalid to a reference already removed

[2020-02-03 13:23] kirui93 commented on #1912
@whedon generate pdf

[2020-02-03 13:23] whedon commented on #1912
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01912/joss.01912/10.21105.joss.01912.pdf)

[2020-02-03 13:24] matbesancon commented on #1912
@whedon check references

[2020-02-03 13:24] whedon commented on #1912
[code]

[2020-02-03 13:32] matbesancon commented on #1912
@melissawm it all seems good to me now, I just ticked the last cases

[2020-02-03 14:00] holtgrewe commented on #1584
@whedon generate pdf

[2020-02-03 14:00] whedon commented on #1584
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01584/joss.01584/10.21105.joss.01584.pdf)

[2020-02-03 14:17] ornlpmcp commented on #1656
@labarba @terrytangyuan @zhampel @jrbourbeau
Thank you all for reviewing this submission. It has been 2 months since I updated my responses. I do understand you're all busy, but I would deeply appreciate if you could take a look at my responses and help us move forward. Big thanks,

[2020-02-03 14:37] russellpierce commented on #1900
Done now; I don't have anything at add to what the other reviewer said (sharing in their sentiment wishing for more context but understanding the nature of publication frustrations).

[2020-02-03 14:38] kbarnhart commented on #1978
:wave: @cmillion, @mollenburger a friendly reminder to complete your reviews.

If you create any issues in the submitted repository, please link to this issue by using openjournals/joss-reviews/issues/1978

When you are done, please make a note here on this issue indicating your recommendation.

If you have any questions, please let me know.

[2020-02-03 14:41] jrbourbeau commented on #1656
I've done another review iteration and have no further review comments. Thanks for your hard work and patience @ornlpmcp

[2020-02-03 14:51] Kevin-Mattheus-Moerman commented on #2056
@whedon invite @kthyng as editor

[2020-02-03 14:51] whedon commented on #2056
@kthyng has been invited to edit this submission.

[2020-02-03 15:02] terrytangyuan commented on #1656
@labarba Any suggestions? Looks like we are only waiting for @zhampel now.

[2020-02-03 15:23] oliviaguest commented on #1866
@pachamaltese any luck?

[2020-02-03 15:24] pachamaltese commented on #1866
@oliviaguest I'm just back from RStudio Conf. Let me ask on that Slack :)

[2020-02-03 15:27] expectopatronum commented on #2027
Hi @martinju,
there are some minor remarks regarding the references:
* Lundberg, S. (2019): I am not sure if this is correct/necessary. On their Github page they state which references should be used, this one doesn't seem to be there. (in case this actually should be there, I think SHAP should be capitalized)
* Maybe this also needs to be cited (very recent): https://raw.githubusercontent.com/slu

[2020-02-03 15:32] oliviaguest commented on #1900
@russellpierce what about:

[2020-02-03 15:32] holtgrewe commented on #1584
@rbatorsky @olgabot Thank you very much for your input. We think that we have addressed all of your points but would be glad to address specific issues if there are remaining ones.

@lpantano FYI we are ready to continue with the review and should be able to follow through with fewer delays after allocating more resources to this now.

[2020-02-03 15:32] oliviaguest commented on #1866
Oh, welcome back @pachamaltese and fantastic! :100:

[2020-02-03 15:33] holtgrewe commented on #1584
@whedon generate pdf

[2020-02-03 15:34] whedon commented on #1584
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01584/joss.01584/10.21105.joss.01584.pdf)

[2020-02-03 15:37] kbarnhart commented on #2020
@leouieda thanks for the recommendations.

:wave: @seisman @joa-quim would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is a pre-review issue that I use to coordinate reviewers. If you are able, I will add you to the review issue at ope

[2020-02-03 15:41] seisman commented on #2020
Sorry, I'm not a Julia user.

[2020-02-03 15:51] kthyng commented on #2056
Yes I can edit this

[2020-02-03 15:51] kthyng commented on #2056
@whedon assign @kthyng as editor

[2020-02-03 15:51] whedon commented on #2056
OK, the editor is @kthyng

[2020-02-03 15:52] kthyng commented on #2056
Hi @egemose! I have a few questions to get started. First, is there any documentation? I didn't see any on a quick scan through your repository.

[2020-02-03 16:08] joa-quim commented on #2020
Ok, I can do a review.

Joaquim

From: Katy Barnhart <notifications@github.com>
Sent: Monday, February 3, 2020 3:37 PM
To: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: Joaquim Manuel Freire Luís <jluis@ualg.pt>; Mention <mention@noreply.github.com>
Subject: Re: [openjournals/joss-reviews] [PRE REVIEW]: SeisModels.jl: A Julia package for models of the Earth's interior (#2020)

@l

[2020-02-03 16:11] diversemix commented on #2057
How does this work fit into to other's work in this field?

For example `pyunicorn`  [Unified functional network and nonlinear time series analysis for complex systems science: The pyunicorn package](https://aip.scitation.org/doi/10.1063/1.4934554)

[2020-02-03 16:12] zhampel commented on #1656
@ornlpmcp  thanks for addressing my previous comments, and indeed the install functions as advertised. I have completed my review and have no further comments. Apologies for the delays.

[2020-02-03 16:18] kthyng commented on #1985
Thanks @jessicaaustin! I've also had confirmation by email from @evanleeturner so let's start this review!

[2020-02-03 16:18] kthyng commented on #1985
@whedon assign @jessicaaustin as reviewer

[2020-02-03 16:18] whedon commented on #1985
OK, @jessicaaustin is now a reviewer

[2020-02-03 16:19] kthyng commented on #1985
@whedon add @evanleeturner as reviewer

[2020-02-03 16:19] whedon commented on #1985
OK, @evanleeturner is now a reviewer

[2020-02-03 16:19] kthyng commented on #1985
@whedon start review

[2020-02-03 16:19] whedon opened #2063 "[REVIEW]: A Framework to Quality Control Oceanographic Data"
**Submitting author:** @castelao (<a href="http://orcid.org/0000-0002-6765-0708">Guilherme Castelao</a>)
**Repository:** <a href="https://github.com/castelao/CoTeDe" target ="_blank">https://github.com/castelao/CoTeDe</a>
**Version:** v0.21.3
**Editor:** @kthyng
**Reviewer:** @jessicaaustin, @evanleeturner
**Archive:** <a href="https://doi.org/10.5281/zenodo.3733959" target="_blank">10.5281/zenodo

[2020-02-03 16:19] whedon commented on #1985
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2063.

[2020-02-03 16:19] #1985 closed

[2020-02-03 16:19] whedon commented on #2063
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jessicaaustin, @evanleeturner it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're

[2020-02-03 16:19] whedon commented on #2063
[code]

[2020-02-03 16:20] whedon commented on #2063
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02063/joss.02063/10.21105.joss.02063.pdf)

[2020-02-03 16:20] kthyng commented on #1985
@jessicaaustin and @evanleeturner Please to go [#2063](https://github.com/openjournals/joss-reviews/issues/2063) for the actual review. You'll find a reviewer checklist for each of you and some instructions. Please open new issues in the software repo and link back to the review issue for items that arise, and let me know if you have any questions!

[2020-02-03 16:47] martinju commented on #2027
Hi @expectopatronum

Thank you for raising these issues.

I've opened an issue for these at https://github.com/NorskRegnesentral/shapr/pull/178 (let's do any further discussion on there) and an associated PR at https://github.com/NorskRegnesentral/shapr/pull/179

The pdf for the PR-version of the paper https://github.com/NorskRegnesentral/shapr/blob/references/inst/joss_paper/paper.pdf

Please let

[2020-02-03 17:07] NicoRenaud commented on #2052
Dear editor, I’m not sure if I should answer that email as it is my first submission to JOSS. But I’ve fixed the missing DOI and all the DOIs should be in order now. ThanksBest wishesNico  From: Kevin Mattheus MoermanSent: Saturday, 1 February 2020 23:15To: openjournals/joss-reviewsCc: Nicolas Renaud; MentionSubject: Re: [openjournals/joss-reviews] [PRE REVIEW]: The pdb2sql Python Package: Parsing

[2020-02-03 17:10] terrytangyuan commented on #1656
Thanks everyone!

[2020-02-03 17:10] terrytangyuan commented on #1656
@whedon check references

[2020-02-03 17:10] whedon commented on #1656
[code]

[2020-02-03 17:11] terrytangyuan commented on #1656
@ornlpmcp Could you fix the above issues with DOIs?

[2020-02-03 17:25] whedon opened #2064 "[PRE REVIEW]: `psi-collect`: A Python module for post-storm image collection and cataloging"
**Submitting author:** @ebgoldstein (<a href="http://orcid.org/0000-0001-9358-1016">Evan B Goldstein</a>)
**Repository:** <a href="https://github.com/UNCG-DAISY/psi-collect" target ="_blank">https://github.com/UNCG-DAISY/psi-collect</a>
**Version:** v0.6
**Editor:** @kbarnhart
**Reviewers:** @katmratliff, @conlin-matt, @chrisleaman

**Author instructions**

Thanks for submitting your paper to JOSS

[2020-02-03 17:25] whedon commented on #2064
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-02-03 17:25] whedon commented on #2064
PDF failed to compile for issue #2064 with the following error:

 Can't find any papers to compile :-(

[2020-02-03 17:25] whedon commented on #2064
[code]

[2020-02-03 17:26] whedon commented on #2064
[code]

[2020-02-03 17:33] whedon opened #2065 "[PRE REVIEW]: Expectations.jl: Quick and Accurate Expectation Operators in Julia"
**Submitting author:** @arnavs (<a href="http://orcid.org/0000-0003-0074-7908">Arnav Sood</a>)
**Repository:** <a href="https://github.com/QuantEcon/Expectations.jl" target ="_blank">https://github.com/QuantEcon/Expectations.jl</a>
**Version:** v1.2.0
**Editor:** @VivianePons
**Reviewers:** @odow, @pkofod

**Author instructions**

Thanks for submitting your paper to JOSS @arnavs. **Currently, ther

[2020-02-03 17:33] whedon commented on #2065
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-02-03 17:33] whedon commented on #2065
[code]

[2020-02-03 17:33] whedon commented on #2065
[code]

[2020-02-03 17:33] whedon commented on #2065
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02065/joss.02065/10.21105.joss.02065.pdf)

[2020-02-03 17:45] sjpfenninger commented on #2039
@whedon add @bradyrx as reviewer

[2020-02-03 17:45] whedon commented on #2039
OK, @bradyrx is now a reviewer

[2020-02-03 17:47] ebgoldstein commented on #2064
Possible reviewers: Katherine Ratliff, Chris Leaman, Dylan Anderson,  Matt Conlin, Josh Simmons

[2020-02-03 17:53] kbarnhart commented on #2020
thanks @seisman and @joa-quim for the speedy responses. I'll add @joa-quim over on the review issue (#2043).

[2020-02-03 18:04] arnavs commented on #2065
This references pkofod's code (Patrick Kofod Mogensen), so he would be a great reviewer. juliohm, metbesancon, and odow also look related.

[2020-02-03 18:18] trallard commented on #1949
@celliern, @dvanic, @remram44 @fabioanomenegidio, @astrisovic I am the editor for this submission and we are looking for at least 2 reviewers. Would you be able/willing to review this submission?

Some important information:

Our reviewer guidelines can be found here <https://joss.readthedocs.io/en/latest/review_criteria.html>

- Title: SampleDB: A sample and measurement metadata database
- GitHub

[2020-02-03 18:19] trallard commented on #1949
/ooo today until February 10, 2020

[2020-02-03 18:23] rhagenson commented on #1741
@lpantano, I wanted to inform you that as part of the review process where both reviewers suggested a name change I have changed the organization and repo name. The code now resides at: https://github.com/sembio/go and the paper title has changed accordingly to "sembio/go: Semantic Bioinformatics for Go" -- I did not change significant portions of the code during this migration.

I still need to u

[2020-02-03 18:23] trallard commented on #2036
Hi all I am the editor for this submission, we are looking for at least 2 reviewers.

@benmarwick, Ben are you willing and able to review this submission?
@milesmcbain, Miles are you willing and able to review this submission?
@clauswilke, Claus are you willing and able to review this submission?

[2020-02-03 18:29] trallard commented on #2000
Hi, all I am the editor for this submission and we are looking for at least 2 reviewers to move forward.

@abhishektha Abhishek,  are you willing and able to review this submission?
@AKuederle Arne, are you willing and able to review this submission?
@Ebedthan Anicet, are you willing and able to review this submission?
@kanekalla Kishore, are you willing and able to review this submission?

[2020-02-03 18:31] trallard commented on #1949
@whedon assign @eteq as reviewer

[2020-02-03 18:31] whedon commented on #1949
OK, @eteq is now a reviewer

[2020-02-03 18:31] majensen commented on #1979
@tleonardi thanks very much!

[2020-02-03 18:32] Ebedthan commented on #2000
Yes I'll do.

Send me details please.
Regards.
On Feb 3 2020, at 6:29 pm, Tania Allard <notifications@github.com> wrote:

[2020-02-03 18:32] majensen commented on #1979
@whedon generate pdf

[2020-02-03 18:32] whedon commented on #1979
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01979/joss.01979/10.21105.joss.01979.pdf)

[2020-02-03 18:38] majensen commented on #1979
@titipata we are on the home stretch. Can you now create a persistent archive of the repository at a service such as [Zenodo](https://zenodo.org)? For Zenodo there is a mini tutorial at [this comment](https://github.com/openjournals/joss-reviews/issues/1839#issuecomment-560048729).
Thanks!

[2020-02-03 18:39] majensen commented on #2006
@mamcdona77 - How is it coming along? Can I help in any way? Thanks

[2020-02-03 18:46] AKuederle commented on #2000
Yes, I would be willing to, but because of my limited R knowledge, I might not be able to comment on aspects of code quality and correctness (?). If this is not an issue, I would be happy to perform the review.

[2020-02-03 18:52] pachamaltese commented on #1866
@oliviaguest hi, maybe @ppssphysics and @mpadge

[2020-02-03 18:54] clauswilke commented on #2036
Sorry, no, I'm super busy the next few weeks and can't take this on at this time.

[2020-02-03 19:04] oliviaguest commented on #1866
@pachamaltese amazing!

@ppssphysics and/or @juanrocha: would you be interested in reviewing this?

[2020-02-03 19:07] ornlpmcp commented on #1656
@terrytangyuan I made fixes and pushed it. Thanks a lot!

[2020-02-03 19:27] kthyng commented on #2064
@whedon assign @kbarnhart as editor

[2020-02-03 19:27] whedon commented on #2064
OK, the editor is @kbarnhart

[2020-02-03 19:32] terrytangyuan commented on #1656
@whedon check references

[2020-02-03 19:32] whedon commented on #1656
[code]

[2020-02-03 19:33] terrytangyuan commented on #1656
@ornlpmcp Thanks! At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:
* The title of the archive is the same as the JOSS paper title
* That the

[2020-02-03 19:39] ktmeaton commented on #1990
Thank you for checking on the length requirements of the paper!

I've updated the most recent Zenodo archive to make sure the title, authors, and ORCID match the paper. The final repo version after review is 0.6.3 and the DOI is 10.5281/zenodo.3627329

[2020-02-03 19:53] lbugnon commented on #2026
All my issues have been addressed, I think it is a good work and ready to publish

[2020-02-03 20:07] SirSharpest commented on #2026
I'm happy to sign off on also.

[2020-02-03 20:12] expectopatronum commented on #2027
Regarding community guidelines: Could you add a hint where questions should be put? (most likely as a Github issue?)

[2020-02-03 20:12] nathanlyons commented on #2024
@kyleniemeyer please let me know if I can answer questions about this submission to help continue the pre review.

[2020-02-03 20:25] lpantano commented on #1990
@whedon set v0.6.3 as version

[2020-02-03 20:25] whedon commented on #1990
OK. v0.6.3 is the version.

[2020-02-03 20:26] lpantano commented on #1990
@whedon set 10.5281/zenodo.3627329 as archive

[2020-02-03 20:26] whedon commented on #1990
OK. <a href="https://doi.org/10.5281/zenodo.3627329" target="_blank">10.5281/zenodo.3627329</a> is the archive.

[2020-02-03 20:28] lpantano commented on #1990
@openjournals/joss-eics, we have all set up on our side now, I think :) Let us know.

[2020-02-03 20:29] lpantano commented on #2030
Hey @tkchafin, do you think you could address the few comments of the editors?

[2020-02-03 20:30] lpantano commented on #1741
Thanks for the update @rhagenson.

[2020-02-03 20:31] lpantano commented on #1584
Thanks for the update @holtgrewe, I'll give a couple of days to the reviewers to check whether they can continue with this now. Thanks!

[2020-02-03 20:46] expectopatronum commented on #2027
Regarding your vignette (part 1 - to be continued tomorrow):
* Just a minor remark (since it is not an issue with your package but with devtools): If you want user to be able to use `vignette(shapr)`, they need to install the package using `devtools::install_github("NorskRegnesentral/shapr", build_vignettes = TRUE)`, because apparently [devtools does not build vignettes automatically](https://stac

[2020-02-03 20:56] nikolase90 commented on #2027
Hi @expectopatronum!

We'll add a remark that if you want to actually want to build the vignette and README you'll have to slightly modify the installment procedure.

By doing
[code]
you'll also install packages listed under `Suggets` in `DESCRIPTION ` (where `xgboost` and `caret` is listed). By doing this we avoid the users to download all the different packages.  The default value is `dependenci

[2020-02-03 21:03] terrytangyuan commented on #2027
@nikolase90 I just realized that there are many optional dependencies in DESCRIPTION. Are there any dependent packages that are worth being cited?

[2020-02-03 21:12] nikolase90 commented on #2027
@terrytangyuan Most of the packages listed under `Suggests` are not necessary to cite. Though we could add a citation for `RcppArmadillo` (since that is part of the core of our package). In addition to this we could also site the packages of the models we support natively.

[2020-02-03 21:21] terrytangyuan commented on #2027
@nikolase90 Sounds good.

[2020-02-03 21:25] tkchafin commented on #2030
@lpantano
- Added information to the README with further benchmarking information including publicly-available data (accession numbers for NCBI SRA) which was used for comparison/ validation against some other published methods.
- Fixed the path issue causing the "-h" issue both reviewers noted
- Added an Examples section to README given explicit commands to verify functionality
- Added a README f

[2020-02-03 21:52] artivis commented on #1371
Dear @poulson,
I finally published a release of the library on Zenodo following the process previously proposed, you may find it [here](https://zenodo.org/record/3634976). The DOI associated to the release is: **10.5281/zenodo.3634976**, while the _global_ DOI associated to any version is: **10.5281/zenodo.3626651**. As I'm not sure which one you require I post both.

Please let me know if there i

[2020-02-03 21:53] dvanic commented on #1949
Yes, I'm happy to review this submission.

On Tue, 4 Feb 2020 at 05:31, whedon <notifications@github.com> wrote:

[2020-02-03 22:08] kthyng commented on #1990
@whedon generate pdf

[2020-02-03 22:08] whedon commented on #1990
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01990/joss.01990/10.21105.joss.01990.pdf)

[2020-02-03 22:12] kthyng commented on #1990
@whedon accept

[2020-02-03 22:12] whedon commented on #1990
[code]

[2020-02-03 22:12] whedon commented on #1990
[code]

[2020-02-03 22:12] whedon commented on #1990
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1263

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1263, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-03 22:19] kthyng commented on #1990
@whedon accept deposit=true

[2020-02-03 22:19] whedon commented on #1990
[code]

[2020-02-03 22:20] whedon commented on #1990
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1224457695291375617) 👈 🐦🐦🐦

[2020-02-03 22:20] whedon commented on #1990
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1264
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01990](https://doi.org/10.21105/joss.01990)
2. If everything looks g

[2020-02-03 22:24] nicoguaro commented on #2047
My first take on this question would be that it has been useful to my research on generalized continua (micropolar and couple-stress), this point is mentioned in the paper and also a recently published article is cited. We are also working on a paper related to couple-stress elasticity where it has been proved useful as well.

A second point, that I also mention in the paper is the need for this t

[2020-02-03 22:24] kthyng commented on #1990
Congratulations to @ktmeaton on your new paper! Thanks very much to @lpantano for editing and to reviewers @coughls and @druvus — we appreciate your time and expertise.

[2020-02-03 22:24] whedon commented on #1990
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01990/status.svg)](https://doi.org/10.21105/joss.01990)

**We need your help!**

Journal of Open Source Softwa

[2020-02-03 22:25] kthyng commented on #1990
Oops I shouldn't have closed that before the doi rectifies. I will check back for that.

[2020-02-03 22:36] kyleniemeyer commented on #2024
Hi @fclubb, would you be willing to review this submission for JOSS?

[2020-02-03 22:54] pachamaltese commented on #1866
Dr. @oliviaguest I just spoke to Dr. @mpadge and he would like to review
this R package. Great news!

On Mon, Feb 3, 2020, 4:04 PM Olivia Guest <notifications@github.com> wrote:

[2020-02-03 23:04] kyleniemeyer commented on #2024
Hi @ebgoldstein, would you be willing to review this submission for JOSS?

[2020-02-03 23:10] luizirber commented on #1994
This looks great, and @standage already did a stellar job in his review, so just some things I missed:

## Functionality

- Installation: Test section has a typo in commands (`test` instead of `tests`), this works:
  * `referenceseeker referenceseeker/tests/db referenceseeker/tests/Salmonella_enterica_CFSAN000189.fasta`
  * `./referenceseeker/bin/referenceseeker referenceseeker/tests/db references

[2020-02-03 23:12] ebgoldstein commented on #2024
I’d be happy to!

[2020-02-03 23:34] desilinguist commented on #1986
All of my suggestions were very promptly addressed by @tresoldi! IMO, the paper can now be accepted.

[2020-02-03 23:46] kyleniemeyer commented on #2024
@ebgoldstein thanks! I'll start the review after assigning a second reviewer; it will take place in a separate issue.

[2020-02-04 00:07] arfon commented on #1990
Looks like the DOI is resolving now @kthyng

[2020-02-04 00:08] kyleniemeyer commented on #2024
@whedon add @ebgoldstein as reviewer

[2020-02-04 00:08] whedon commented on #2024
OK, @ebgoldstein is now a reviewer

[2020-02-04 00:12] trallard commented on #1949
Thanks @dvanic!

[2020-02-04 00:13] trallard commented on #1949
@whedon add @dvanic as reviewer

[2020-02-04 00:13] whedon commented on #1949
OK, @dvanic is now a reviewer

[2020-02-04 01:05] ebgoldstein commented on #2064
@whedon commands

[2020-02-04 01:05] whedon commented on #2064
Here are some things you can ask me to do:

[code]

[2020-02-04 02:23] tacaswell commented on #1989
First, this is a super cool project, I am very impressed with the functionality.

 - Created https://github.com/rgerum/pylustrator/issues/17 to track missing community guide lines
 - This software is primarily a GUI interface to editing Matplotlib figures (which is pretty awesome!) and the intended usage is through the UI, not as a library.  There is not documentation on the API (because there is

[2020-02-04 03:29] ktmeaton commented on #1990
Thank you so much @lpantano for editing this submission and @coughls and @druvus for your reviews. I greatly appreciate your time and effort!

[2020-02-04 04:26] hausen commented on #1655
@torressa @poulson I only found a couple of small issues:

1. **Installation instructions:** `pip install cspy` does not automatically install the dependencies (tried on a clean pyenv)

2. **Example usage:** a couple of the examples in the API docs have errors.
  * [BiDirectional](https://cspy.readthedocs.io/en/latest/api/cspy.BiDirectional.html#example): replace `import cspy` with `from cspy impo

[2020-02-04 06:26] taqtiqa-mark commented on #1591
My apologies . I clean forgot about this.

[2020-02-04 06:44] oliviaguest commented on #1866
@whedon add @mpadge as reviewer

[2020-02-04 06:44] whedon commented on #1866
OK, @mpadge is now a reviewer

[2020-02-04 06:48] oliviaguest commented on #1866
👋 Hi @mpadge! Please scroll up and take a look at the section:

Thank you for coming on board and let us know how long you think this review will take you to complete. 😄

[2020-02-04 07:50] expectopatronum commented on #2027
Vignette (part 2):

* The citations look "weird", I tried to figure out whether I build the vignette wrong or it needs changing.
![image](https://user-images.githubusercontent.com/2265475/73718117-e4690b80-471b-11ea-9a2a-d66779a635e5.png)
If it looks ok for you, then ignore this comment :) (maybe you know how I can compile it correctly)

* Content:

shouldn't this be:

* Formatting of the followin

[2020-02-04 08:06] bahung commented on #2013
Hi @drvinceknight,

I thought you have approved as you suggested with @kellieotto in [the previous comment](https://github.com/openjournals/joss-reviews/issues/2013#issuecomment-578671696)

TBH, I do not fully understand how do you organise this review by saying that way, so I stop taking further review steps, despite it seems to fail to initiate the package without R_USER and R_HOME being defined

[2020-02-04 08:48] csoneson commented on #2055
👋 @PhilBoileau - I will handle your submission. While I look for suitable reviewers, could you add DOIs to the references that are currently missing them, and look into case protection to get the right capitalization of the references (e.g., r, bioconductor, some of the journal names)? To generate a new pdf proof, just type `@whedon generate pdf` in this issue.

[2020-02-04 08:56] mpadge commented on #1866
Thanks @oliviaguest, it'll be a pleasure to review this exciting looking package. I'll try to get it done this week (<= 7 Feb 2020); if not I'll commit myself now to ensuring it's done by end of the week after (<= 14 Feb 2020). I trust that's okay

[2020-02-04 09:07] oliviaguest commented on #1866
Fantastic! I'll set a reminder in 10 days then @mpadge. :relaxed:

[2020-02-04 09:08] oliviaguest commented on #1866
@whedon remind @mpadge in 10 days

[2020-02-04 09:08] whedon commented on #1866
Reminder set for @mpadge in 10 days

[2020-02-04 09:08] csoneson commented on #2055
👋 @LTLA, @fabian-s, @gabrielodom - would you be interested in reviewing this submission for the Journal of Open Source Software (JOSS)?

`scPCA: A toolbox for sparse contrastive principal component analysis in R`
Software: https://github.com/PhilBoileau/scPCA
Paper: https://github.com/openjournals/joss-papers/blob/joss.02055/joss.02055/10.21105.joss.02055.pdf

The guidelines for JOSS reviews are a

[2020-02-04 09:11] mpadge commented on #1866
Thanks @whedon

[2020-02-04 09:11] csoneson commented on #2026
Thanks @lbugnon , @SirSharpest for your reviews.

@lbugnon - there are still some unchecked items in your checklist above. Could you confirm that these issues have been addressed, and if so, check the boxes?

@RealPolitiX - could you provide an update on your review status?

[2020-02-04 09:18] drvinceknight commented on #2013
Sorry I think there was a typo in that comment, I meant to write: `we are now waiting on @bahung to finish their review?`.

Apologies I do not understand. If you're having problems installing the software this would be useful to know in your review.

We do need two reviews, if you're able to complete the review that would be great but if not please let me know and I can search for another reviewer

[2020-02-04 09:23] fabian-s commented on #2055
I would.

[2020-02-04 09:39] drvinceknight commented on #2051
@markgalassi and @pdebuyl would you be able to review this software paper for JOSS? It's a package for a particle type of Brownian particle simulation which I believe is within both of your expertise. If you've not done it before, reviewing for JOSS is slightly different to a traditional journal, you can find information about the process here https://joss.readthedocs.io/en/latest/reviewer_guideli

[2020-02-04 10:09] martinju commented on #2027
Thanks for the vignette comments @expectopatronum
We will improve the vignette installation instructions and look into the potential typo.
Btw, we also have a html version of the vignette at our pckdown site: https://norskregnesentral.github.io/shapr/articles/understanding_shapr.html

To actually build the vignette with `install_github` you also need the argument `build_vignette = T`

There have b

[2020-02-04 10:09] iagolemos1 commented on #2013
Hi @bahung, I think it happens when rpy2 package was not successfully or maybe you are having problems with which environment you are using. Just let me know what is happening then we can solve the problem :D
The package should work successfully like it was for @kellieotto.

[2020-02-04 10:15] iagolemos1 commented on #2013
I recommend uninstalling everything you did, then follow the steps In the [README](https://github.com/iagolemos1/thresholdmodeling).
[code]
Now I am realizing, this problem you had must be related to the R base for the software.

[2020-02-04 10:18] fclubb commented on #2024
Hello, yes I'm happy to review this as well.

[2020-02-04 10:40] oschwengers commented on #1994
Hi @luizirber  , thanks a lot for your review and comments.

I renamed the `test` directory to `tests` as a I thought this might better fit some conventions. I must have missed those paths. Thanks for pointing out - they're fixed now: https://github.com/oschwengers/referenceseeker/commit/96d282e9a4155a82fdabbd4ee58432506ebf04a7

I also added a `CONTRIBUTING.md` file (https://github.com/oschwengers

[2020-02-04 10:46] pstrk commented on #2057
I was not familiar with pyunicorn before and did just quickly through the paper. I think there is some confusion about the term "complex network".  According to e.g. wikipedia complex networks are graphs with non-trivial topological features.  In our case however we model networks where the edges have complex valued weights (i.e. phase and amplitude) and are delayed (meaning it takes a number of t

[2020-02-04 11:25] Akash-Nag commented on #1815
Hi,

My paper/project was on pause as you might remember because I was not
able to complete the requirements then. I have now updated my
repository with JUnit tests, but I am not sure how to change the
status of the project. Therefore, I am replying to this email.
@rreinecke Could you please check if these were the tests you wanted,
and if anything more is required?

On 03/12/2019, whedon <notific

[2020-02-04 11:46] mpadge commented on #1866
... I just wanted to see if whedon responded to expressions of gratitude, but clearly not. Clear case for a PR there ...

[2020-02-04 11:58] will-rowe commented on #1994
@whedon generate pdf

[2020-02-04 11:59] whedon commented on #1994
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01994/joss.01994/10.21105.joss.01994.pdf)

[2020-02-04 12:07] maelle commented on #2036
This package has been reviewed by rOpenSci over at https://github.com/ropensci/software-review/issues/279 so doesn't need any review? @trallard

[2020-02-04 12:11] nikolase90 commented on #2027
@terrytangyuan https://github.com/NorskRegnesentral/shapr/commit/5901393952249b3544736e1e3496d41b5cc35c55 and https://github.com/NorskRegnesentral/shapr/commit/13f1d460d3d00dcfb62742597875f8890f71b8eb adds citations for additional packages.

[2020-02-04 12:13] will-rowe commented on #1994
Thanks @luizirber! I've just re-read the paper and it looks good. I think this is a great contribution.

Next steps are for you to tag a release @oschwengers, archive it and then paste the version number and archive DOI into this thread.

[2020-02-04 12:13] will-rowe commented on #1994
@whedon check references

[2020-02-04 12:14] whedon commented on #1994
[code]

[2020-02-04 12:28] pdebuyl commented on #2051
Hi @drvinceknight

I will review the paper. I already worked for JOSS for the paper on the rowan quaternion library.

[2020-02-04 12:40] oschwengers commented on #1994
Hi @will-rowe, thank you for the quick reply.

I just tagged a new release [v1.6](https://github.com/oschwengers/referenceseeker/releases/tag/v1.6) and archived it at Zenodo with the following DOI: [10.5281/zenodo.3635630](https://zenodo.org/record/3635630)

[2020-02-04 12:43] will-rowe commented on #1994
@whedon set 10.5281/zenodo.3635630 archive

[2020-02-04 12:44] whedon commented on #1994
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-02-04 12:44] will-rowe commented on #1994
@whedon set 10.5281/zenodo.3635630 as archive

[2020-02-04 12:44] whedon commented on #1994
OK. <a href="https://doi.org/10.5281/zenodo.3635630" target="_blank">10.5281/zenodo.3635630</a> is the archive.

[2020-02-04 12:45] will-rowe commented on #1994
@whedon set v1.6 as version

[2020-02-04 12:45] whedon commented on #1994
OK. v1.6 is the version.

[2020-02-04 12:46] will-rowe commented on #1994
Hey @openjournals/joss-eics - we're good to go with this one.

Thank you @standage and @luizirber for your excellent reviews, and thank you @oschwengers for this great submission.

[2020-02-04 12:49] lpantano commented on #2052
@whedon assign @i-mtz as reviewer

[2020-02-04 12:49] whedon commented on #2052
OK, @i-mtz is now a reviewer

[2020-02-04 12:53] lpantano commented on #2030
@whedon generate pdf

[2020-02-04 12:54] whedon commented on #2030
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02030/joss.02030/10.21105.joss.02030.pdf)

[2020-02-04 12:54] lpantano commented on #2030
@whedon check references

[2020-02-04 12:54] whedon commented on #2030
[code]

[2020-02-04 12:56] lpantano commented on #2030
@tkchafin, thank you! Then, last two steps: 1) is the version still v1.0.0, 2) can you create a zenodo DOI link where the title and the author match exactly the paper information and give it to us?
Thanks!

[2020-02-04 13:18] oliviaguest commented on #1866
I do! :laughing:

[2020-02-04 13:43] markgalassi commented on #2051
Dear @drvinceknight I will be happy to review the paper.  I started another one once but got badly ill for a protracted period, but that was long ago so I am ready.

[2020-02-04 13:49] ornlpmcp commented on #1656
@terrytangyuan 0.4.1 release has been made.
I created an archive of the software in Zenodo and here is the DOI on Zenodo:
10.5281/zenodo.3635782

[2020-02-04 13:49] ornlpmcp commented on #1656
https://zenodo.org/record/3635782#.Xjl2ZxNKjxg

[2020-02-04 14:00] kyleniemeyer commented on #2024
Thanks @fclubb!

@whedon add @fclubb as reviewer

[2020-02-04 14:01] kyleniemeyer commented on #2024
@whedon add @fclubb as reviewer

[2020-02-04 14:01] whedon commented on #2024
OK, @fclubb is now a reviewer

[2020-02-04 14:01] kyleniemeyer commented on #2024
@whedon start review

[2020-02-04 14:01] whedon opened #2066 "[REVIEW]: SpeciesEvolver: A Landlab component to evolve life in simulated landscapes"
**Submitting author:** @nathanlyons (<a href="http://orcid.org/0000-0001-6965-3374">Nathan Lyons</a>)
**Repository:** <a href="https://github.com/landlab/landlab" target ="_blank">https://github.com/landlab/landlab</a>
**Version:** v2.0.0b6
**Editor:** @kyleniemeyer
**Reviewer:** @ebgoldstein, @fclubb
**Archive:** <a href="https://doi.org/10.5281/zenodo.3672119" target="_blank">10.5281/zenodo.3672

[2020-02-04 14:01] whedon commented on #2024
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2066.

[2020-02-04 14:01] #2024 closed

[2020-02-04 14:01] whedon commented on #2066
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ebgoldstein, @fclubb it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2020-02-04 14:02] #1990 closed

[2020-02-04 14:02] whedon commented on #1990
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01990/status.svg)](https://doi.org/10.21105/joss.01990)

**We need your help!**

Journal of Open Source Softwa

[2020-02-04 14:02] kyleniemeyer commented on #2066
👋 @nathanlyons @ebgoldstein @fclubb the actual review will take place in here

[2020-02-04 14:02] whedon commented on #2066
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02066/joss.02066/10.21105.joss.02066.pdf)

[2020-02-04 14:03] whedon commented on #2066
[code]

[2020-02-04 14:03] kthyng commented on #1994
Great! I'll take over from here.

[2020-02-04 14:04] kthyng commented on #1994
@whedon accept

[2020-02-04 14:04] whedon commented on #1994
[code]

[2020-02-04 14:04] whedon commented on #1994
[code]

[2020-02-04 14:04] whedon commented on #1994
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1265

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1265, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-04 14:07] kthyng commented on #1994
Hi @oschwengers! Things are looking good, except can you please update the metadata in your Zenodo archive so that the title and authors exactly match your paper?

[2020-02-04 14:09] kthyng commented on #2036
Hi @maelle! Ah, we must have missed that sorry. Just to verify: this submission has already been reviewed and accepted by rOpenSci?

[2020-02-04 14:18] whedon opened #2067 "[PRE REVIEW]: fqfa: A pure Python package for genomic sequence files"
**Submitting author:** @afrubin (<a href="http://orcid.org/0000-0003-1474-605X">Alan F. Rubin</a>)
**Repository:** <a href="https://github.com/CountESS-Project/fqfa/" target ="_blank">https://github.com/CountESS-Project/fqfa/</a>
**Version:** v0.0.2
**Editor:** @lpantano
**Reviewers:** @natir, @FlorianThibord

**Author instructions**

Thanks for submitting your paper to JOSS @afrubin. **Currently,

[2020-02-04 14:18] whedon commented on #2067
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-02-04 14:18] whedon commented on #2067
[code]

[2020-02-04 14:19] whedon commented on #2067
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02067/joss.02067/10.21105.joss.02067.pdf)

[2020-02-04 14:19] nathanlyons commented on #2066
@kyleniemeyer @ebgoldstein @fclubb Thank you in advance for your time.

**The Landlab branch under this review is `nathanlyons_species_evolver_joss_review`.** This branch will be merged with the Landlab development branch, `master` then `release` following this review. The separate joss review branch is necessary because multiple Landlab modules are under JOSS review.

[2020-02-04 14:19] whedon commented on #2067
[code]

[2020-02-04 14:19] nathanlyons commented on #2066
@whedon generate pdf from branch nathanlyons_species_evolver_joss_review

[2020-02-04 14:19] whedon commented on #2066
[code]

[2020-02-04 14:20] whedon commented on #2066
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02066/joss.02066/10.21105.joss.02066.pdf)

[2020-02-04 14:22] nathanlyons commented on #2066
Please see the article proof describing SpeciesEvolver directly above this comment. The first proof, describing a groundwater component, is not a part of this review.

[2020-02-04 14:23] terrytangyuan commented on #1656
@whedon set 10.5281/zenodo.3635782 as archive

[2020-02-04 14:23] whedon commented on #1656
OK. <a href="https://doi.org/10.5281/zenodo.3635782" target="_blank">10.5281/zenodo.3635782</a> is the archive.

[2020-02-04 14:23] terrytangyuan commented on #1656
@whedon set 0.4.1 as version

[2020-02-04 14:23] whedon commented on #1656
OK. 0.4.1 is the version.

[2020-02-04 14:24] terrytangyuan commented on #1656
@whedon accept

[2020-02-04 14:24] whedon commented on #1656
[code]

[2020-02-04 14:24] whedon commented on #1656
[code]

[2020-02-04 14:25] kthyng commented on #2067
Hi @will-rowe, @lpantano, and @majensen! Could one of you take over to handle this submission?

@afrubin As a non-expert in your field, I read through your paper but am a bit unsure of the package motivation. It says this is slower than other readers, but easier to understand. Do people usually use this type of package as a black box or look at the code?

[2020-02-04 14:25] whedon commented on #1656
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1266

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1266, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-04 14:26] whedon opened #2068 "[PRE REVIEW]: SyntenyViz"
**Submitting author:** @robqiao (<a href="http://orcid.org/0000-0003-4569-6921">Robert QIAO</a>)
**Repository:** <a href="https://github.com/DPP4ResearchGroup/SyntenyViz" target ="_blank">https://github.com/DPP4ResearchGroup/SyntenyViz</a>
**Version:** v0.0.0.9000
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @robqiao. **Currently, the

[2020-02-04 14:26] whedon commented on #2068
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-02-04 14:26] terrytangyuan commented on #1656
@openjournals/joss-eics The paper looks good now. Could you take it from here?

[2020-02-04 14:26] whedon opened #2069 "[PRE REVIEW]: BayesMFSurv: An R Package to Estimate Bayesian Split-Population Survival Models With (and Without) Misclassified Failure Events"
**Submitting author:** @Nicolas-Schmidt (<a href="http://orcid.org/0000-0001-5083-5792">Nicolás Schmidt</a>)
**Repository:** <a href="https://github.com/Nicolas-Schmidt/BayesMFSurv" target ="_blank">https://github.com/Nicolas-Schmidt/BayesMFSurv</a>
**Version:** 0.2.0
**Editor:** @marcosvital
**Reviewers:** @alletsee, @andybega

**Author instructions**

Thanks for submitting your paper to JOSS @Ni

[2020-02-04 14:26] whedon commented on #2069
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-02-04 14:26] whedon opened #2070 "[PRE REVIEW]: Ripeline and Rmanual speed up biological research and reporting"
**Submitting author:** @ashipunov (<a href="http://orcid.org/0000-0002-1387-8280">Alexey Shipunov</a>)
**Repository:** <a href="https://github.com/ashipunov/RR" target ="_blank">https://github.com/ashipunov/RR</a>
**Version:** 1.0.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @ashipunov. **Currently, there isn't an JOSS editor assign

[2020-02-04 14:26] whedon commented on #2068
PDF failed to compile for issue #2068 with the following error:

 Error reading bibliography ./paper.bib (line 2, column 1):
unexpected "}"
expecting space
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2020-02-04 14:26] whedon commented on #2069
[code]

[2020-02-04 14:26] whedon commented on #2070
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-02-04 14:26] whedon commented on #2070
[code]

[2020-02-04 14:26] whedon commented on #2070
Failed to discover a valid open source license.

[2020-02-04 14:26] whedon commented on #2069
[code]

[2020-02-04 14:27] whedon commented on #2069
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02069/joss.02069/10.21105.joss.02069.pdf)

[2020-02-04 14:27] whedon commented on #2068
[code]

[2020-02-04 14:27] whedon commented on #2070
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02070/joss.02070/10.21105.joss.02070.pdf)

[2020-02-04 14:29] ashipunov commented on #2070
Please insert CC0 license.

AS

вт, 4 февр. 2020 г. в 22:26, whedon <notifications@github.com>:

[2020-02-04 14:33] kyleniemeyer commented on #2066
Thanks @nathanlyons, I forgot about the paper being on a branch—I've deleted the incorrect PDF.

[2020-02-04 14:37] oschwengers commented on #1994
Hi @kthyng ! Title, author and affiliations are updated now. Unfortunately, Zenodo's affiliation form is not the easiest to fill out as there is only one short text box. Please, let me know if you need something changed.

[2020-02-04 14:38] kthyng commented on #2069
@marcosvital Could you edit this submission?

[2020-02-04 14:40] kthyng commented on #2070
Hi @ashipunov! The repo linked to in this issue only contains a paper.md file. Is there a different repo where you package is located?

[2020-02-04 14:43] tkchafin commented on #2030
@lpantano
- Version: 1.0.1
- DOI: 10.5281/zenodo.3635843

[2020-02-04 14:46] kthyng commented on #1994
@oschwengers Great!

[2020-02-04 14:46] kthyng commented on #1994
@whedon accept deposit=true

[2020-02-04 14:46] whedon commented on #1994
[code]

[2020-02-04 14:46] ashipunov commented on #2070
Yes, they located at https://github.com/ashipunov/Ripeline and
https://github.com/ashipunov/Rmanual, plus there are two more repositories
with examples, all on https://github.com/ashipunov

AS

вт, 4 февр. 2020 г. в 22:40, Kristen Thyng <notifications@github.com>:

[2020-02-04 14:47] whedon commented on #1994
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1224706061069881344) 👈 🐦🐦🐦

[2020-02-04 14:47] whedon commented on #1994
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1267
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01994](https://doi.org/10.21105/joss.01994)
2. If everything looks g

[2020-02-04 14:49] maelle commented on #2036
Yes, it has been reviewed and accepted by rOpenSci indeed.

[2020-02-04 14:50] kthyng commented on #1994
Congratulations on your new paper @oschwengers! Thanks to @will-rowe for editing, and for reviewing to @standage and @luizirber — thank you for your time and expertise.

[2020-02-04 14:50] #1994 closed

[2020-02-04 14:50] whedon commented on #1994
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01994/status.svg)](https://doi.org/10.21105/joss.01994)

**We need your help!**

Journal of Open Source Softwa

[2020-02-04 14:52] ornlpmcp commented on #1656
@whedon accept deposit=true

[2020-02-04 14:52] whedon commented on #1656
I'm sorry @ornlpmcp, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2020-02-04 14:52] ornlpmcp commented on #1656
@command

[2020-02-04 14:57] oschwengers commented on #1994
@standage , @luizirber : Thank you very much for your great reviews! It really helped to make this software tool better.

@will-rowe Thank you very much for accepting this and all your work as the reviewer!

@kthyng Thank you for this extremely fast publication - astonishing fast :-)  Just a little bit too fast as I just found a tiny typo in the manuscript https://github.com/oschwengers/references

[2020-02-04 14:59] kthyng commented on #1656
I am taking over the submission from here. I've been looking through your paper and have found errors. Please consider the pull requests: [#10](https://github.com/ornlpmcp/ASCENDS/pull/10) and [#9](https://github.com/ornlpmcp/ASCENDS/pull/9).

I have some remaining concerns about the references:
* MaTerialS: is this properly written with strange capitalization?
* two of the references have "et al"

[2020-02-04 15:01] danielskatz commented on #2070
CC0 is not a valid license for JOSS - it is not OSI-approved

[2020-02-04 15:12] ashipunov commented on #2070
Then please change it to the most free variant which is approved like GPL 3.0.

AS

вт, 4 февр. 2020 г. в 23:01, Daniel S. Katz <notifications@github.com>:

[2020-02-04 15:22] kthyng commented on #1994
@oschwengers Let's see about that. Sorry I missed it too.

@arfon can you help with a typo? By the way are we using the tech/dev handle yet for things like this?

[2020-02-04 15:25] arnavs commented on #2065
@whedon check references

[2020-02-04 15:25] whedon commented on #2065
[code]

[2020-02-04 15:43] kbarnhart commented on #2064
@whedon generate pdf

[2020-02-04 15:45] whedon commented on #2064
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02064/joss.02064/10.21105.joss.02064.pdf)

[2020-02-04 15:50] kbarnhart commented on #2064
@ebgoldstein thanks for recommending reviewers. I will work on getting two or three reviewers for this submission. Once I've gotten a few reviewers, we will close this issue and start the review on a new dedicated review issue.

A couple of comments from me.

1. I would recommend adding a bit more motivation to the paper.md. Based on our conversation at AGU I know that there many qualities of this

[2020-02-04 15:53] ebgoldstein commented on #2064
i corrected the madore ref, and will work on adding more motivation.
@whedon generate pdf

[2020-02-04 15:55] kbarnhart commented on #2064
:wave: @katmratliff @chrisleaman @anderdyl @conlin-matt and @simmonsja would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is a pre-review issue that I use to coordinate reviewers. Once there are sufficient reviewers (usually 2-3), I wil

[2020-02-04 16:17] martinju commented on #2027
@whedon generate pdf

[2020-02-04 16:18] whedon commented on #2027
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02027/joss.02027/10.21105.joss.02027.pdf)

[2020-02-04 16:23] katmratliff commented on #2064
@kbarnhart I am willing to review.

[2020-02-04 16:28] conlin-matt commented on #2064
Hi @kbarnhart- I'm happy to review as well.

[2020-02-04 16:30] martinju commented on #2027
@expectopatronum

We now consider NorskRegnesentral/shapr#178, NorskRegnesentral/shapr#180, and NorskRegnesentral/shapr#181 resolved in master.

Please let us know whether or not you find it satisfactory.

[2020-02-04 16:39] PhilBoileau commented on #2055
Thank you, @csoneson! I have added the doi's, and fixed the issues with journal name/article title capitalization.

[2020-02-04 16:39] PhilBoileau commented on #2055
@whedon generate pdf

[2020-02-04 16:40] whedon commented on #2055
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02055/joss.02055/10.21105.joss.02055.pdf)

[2020-02-04 16:41] kthyng commented on #2065
@VivianePons Can you take a look at this submission? I'd ask you to be the editor if we take it on.

@arnavs Thank you for your submission! The editorial board at JOSS is currently working on improved guidelines for in-scope submissions. We haven't finished, but we plan to start using some metrics to help guide if a submission passes some minimum bars to be considered a "large enough" contribution

[2020-02-04 16:47] PhilBoileau commented on #2055
Please ignore the proof above!

[2020-02-04 16:47] nikolase90 commented on #2027
@expectopatronum This issue was fixed with https://github.com/NorskRegnesentral/shapr/commit/8cb58f81892d6a8c7fc6462d9796fa618cb0d98a.

[2020-02-04 16:47] PhilBoileau commented on #2055
@whedon generate pdf

[2020-02-04 16:48] whedon commented on #2055
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02055/joss.02055/10.21105.joss.02055.pdf)

[2020-02-04 16:49] kthyng commented on #2070
@ashipunov Please look in detail through submission guidelines to see how to set up your repository so it could be reviewed: https://joss.readthedocs.io/en/latest/submitting.html
Right now it won't work to have pieces spread out over several places unless it is really necessary such as when the submission is a significant contribution to a larger package.

It may help to also look through previous

[2020-02-04 16:50] kthyng commented on #2036
@whedon assign @kthyng as editor

[2020-02-04 16:50] whedon commented on #2036
OK, the editor is @kthyng

[2020-02-04 16:50] kthyng commented on #2036
@whedon assign @kthyng as reviewer

[2020-02-04 16:50] whedon commented on #2036
OK, @kthyng is now a reviewer

[2020-02-04 16:51] ornlpmcp commented on #1656
@whedon generate pdf

[2020-02-04 16:51] ornlpmcp commented on #1656
@whedon generate pdf

[2020-02-04 16:51] kthyng commented on #2036
Another link to the [rOpenSci](https://github.com/ropensci/software-review/issues/279) review.

[2020-02-04 16:52] kthyng commented on #2036
@whedon start review

[2020-02-04 16:52] #2036 closed

[2020-02-04 16:52] whedon opened #2071 "[REVIEW]: osfr: An R Interface to the Open Science Framework"
**Submitting author:** @aaronwolen (<a href="http://orcid.org/0000-0003-2542-2202">Aaron R Wolen</a>)
**Repository:** <a href="https://github.com/ropensci/osfr" target ="_blank">https://github.com/ropensci/osfr</a>
**Version:** v0.2.7
**Editor:** @kthyng
**Reviewer:** @kthyng
**Archive:** <a href="https://doi.org/10.5281/zenodo.3625248" target="_blank">10.5281/zenodo.3625248</a>

## Status

[![sta

[2020-02-04 16:52] whedon commented on #2036
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2071.

[2020-02-04 16:52] whedon commented on #2071
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kthyng it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently watc

[2020-02-04 16:52] whedon commented on #1656
PDF failed to compile for issue #1656 with the following error:

 sh: 0: getcwd() failed: No such file or directory
pandoc: 10.21105.joss.01656.pdf: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2020-02-04 16:53] whedon commented on #2071
[code]

[2020-02-04 16:53] whedon commented on #1656
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01656/joss.01656/10.21105.joss.01656.pdf)

[2020-02-04 16:53] whedon commented on #2071
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02071/joss.02071/10.21105.joss.02071.pdf)

[2020-02-04 16:54] kthyng commented on #2071
This has already been reviewed and accepted by rOpenSci. Issue [#279](https://github.com/ropensci/software-review/issues/279)

[2020-02-04 16:55] ashipunov commented on #2070
Dear colleagues,

I think that my submission complies with the requirements. The only
issue is the license. I will update it.

As for multiple repositories, the guidelines do not contain any
restrictions. In my case, it is necessary to have multiple
repositories since all of my packages are part of the bigger system
which I develop to help field biologists in their work.

With best wishes,

Alexey

[2020-02-04 16:56] ornlpmcp commented on #1656
@kthyng I fixed capitalization, merged pull requests, and added full list of authors.
Thanks a lot.

[2020-02-04 16:57] kthyng commented on #2071
@aaronwolen and @maelle I can't find your paper on a quick glance so I'll just ask you — what is with the "AND" in a bunch of the references? Is it meant to be that way or is that incorrectly forced capitalization?

[2020-02-04 17:03] aaronwolen commented on #2071
The latter. I'm not sure how/why it happened but I'll fix in the repo. Thanks for catching it, @kthyng!

[2020-02-04 17:11] kthyng commented on #2070
@ashipunov How would a user know where all of these repositories are? Is it in your manual? Perhaps it would be useful to add to your paper. Please be more specific than listing the address for your github page.

[2020-02-04 17:13] ashipunov commented on #2070
OK, I will add all four repositories names into the paper. Thanks!

AS

ср, 5 февр. 2020 г. в 01:11, Kristen Thyng <notifications@github.com>:

[2020-02-04 17:19] kthyng commented on #1988
I guess this is what I don't understand — why would someone use an older version of the software instead of just updating?

[2020-02-04 17:30] arnavs commented on #2065
Thanks @kthyng, will make sure to give that extra emphasis in the paper.

[2020-02-04 17:50] aaronwolen commented on #2071
@whedon generate pdf

[2020-02-04 17:50] whedon commented on #2071
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02071/joss.02071/10.21105.joss.02071.pdf)

[2020-02-04 17:51] VivianePons commented on #2065
No problem!

[2020-02-04 17:51] arfon commented on #1994
This should be fixed now although it can take a few hours for the updated PDF to show on the JOSS site due to caching we have in place.

@kthyng - the process is a manual one for now unfortunately (i.e. requires @openjournals/dev to fix this).

[2020-02-04 17:52] aaronwolen commented on #2071
I fixed the capitalization issue in ropensci/osfr@d03f5bc.

[2020-02-04 18:45] hariradh commented on #1555
I confirm that I recommend acceptance.

[2020-02-04 18:49] kthyng commented on #1656
@whedon generate pdf

[2020-02-04 18:50] whedon commented on #1656
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01656/joss.01656/10.21105.joss.01656.pdf)

[2020-02-04 18:51] kthyng commented on #1656
@ornlpmcp Have your changes been merged? I don't see updates in the latest proof.

[2020-02-04 18:51] mbobra commented on #2004
Yes please!

[2020-02-04 18:52] kthyng commented on #1994
@arfon  thanks for fixing this! Sorry we all missed it.

So in the future should i use the openjournals/dev handle for this sort of question?

[2020-02-04 18:53] kthyng commented on #2071
@aaronwolen ok great!

[2020-02-04 18:55] kthyng commented on #2071
The paper is being found correctly by whedon right? As in, the last proof shows up the way you want? It looks good to me.

[2020-02-04 18:56] kthyng commented on #2071
Do you have a Zenodo archive yet? If not, please make that now and report the doi here.

[2020-02-04 18:57] arfon commented on #1994
Yes please!

[2020-02-04 18:58] kthyng commented on #2065
@arnavs Yes this would be excellent to add to the paper, but also please provide the information here when you have it in case there is some discussion to be had.

[2020-02-04 18:59] kthyng commented on #2065
@whedon assign @VivianePons as editor

[2020-02-04 18:59] whedon commented on #2065
OK, the editor is @VivianePons

[2020-02-04 19:02] chrisleaman commented on #2064
@kbarnhart I’m happy to review 👍

[2020-02-04 19:12] ornlpmcp commented on #1656
@whedon generate pdf

[2020-02-04 19:13] arnavs commented on #2065
@kthyng Sure. So the crux is that many statistical problems require taking an expectation of some random variable. This comes up all the time in various domains (economics, chemistry, physics, etc.)

Julia has really great support for distribution objects. But given one of those distribution objects (say, `d = Normal()`), there's really no easy way (besides drawing a large sample and averaging) to

[2020-02-04 19:13] whedon commented on #1656
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01656/joss.01656/10.21105.joss.01656.pdf)

[2020-02-04 19:25] csoneson commented on #2055
@whedon check references

[2020-02-04 19:26] whedon commented on #2055
[code]

[2020-02-04 19:35] karthik commented on #1816
Thanks @pkofod
@joshday: Can you respond to the comment above:

[2020-02-04 19:35] karthik commented on #1816
@whedon check references

[2020-02-04 19:36] karthik commented on #1816
@whedon generate pdf

[2020-02-04 19:36] whedon commented on #1816
[code]

[2020-02-04 19:36] whedon commented on #1816
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01816/joss.01816/10.21105.joss.01816.pdf)

[2020-02-04 19:42] oschwengers commented on #1994
@kthyng @arfon , thank you very much for making this possible and sorry, that this came up so late!

Fantastic submit / review / publication experience! I'll highly recommend it to my peers and will definitely consider to submit future projects!

[2020-02-04 19:46] ornlpmcp commented on #1656
@whedon generate pdf

[2020-02-04 19:47] whedon commented on #1656
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01656/joss.01656/10.21105.joss.01656.pdf)

[2020-02-04 19:48] ornlpmcp commented on #1656
@kthyng I see my changes in the latest proof. please let me know if there needs to be any updates. Thanks a lot for your support.

[2020-02-04 19:50] karthik commented on #2019
Thanks @MAnalytics
I'm looking for reviewers now. Other things you might want to do in the meantime:

- Add some installation instructions to your README
- omit "Date" in DESCRIPTION. It is not required and it
    gets invalid quite often. A build date will be added to the package
    when you perform `R CMD build` on it.
- add a "URL" field to DESCRIPTION. It helps users find
    information abou

[2020-02-04 19:51] karthik commented on #2019
A couple more comments:

- avoid long code lines, it is bad for readability. Also,
    many people prefer editor windows that are about 80 characters
    wide. Try make your lines shorter than 80 characters

Use the Rstudio code formatting option under edit to break long lines of code.

Also

- avoid 1:length(...), 1:nrow(...), 1:ncol(...),
    1:NROW(...) and 1:NCOL(...) expressions. They are err

[2020-02-04 20:17] ybayle commented on #1262
We proofread the paper again and generated a new version with the latest fixes: v1.1.0 cf https://pypi.org/project/Scyland3D/1.1.0/.
The Zenodo DOI is https://doi.org/10.5281/zenodo.3637546 but is not accessible yet. It's the first time that I used Zenodo, do I have to wait few days before Zenodo displays correctly every information?

[2020-02-04 20:59] rouson commented on #1555
@labarba I just checked off all remaining boxes on my reviewer checklist.

[2020-02-04 21:48] lpantano commented on #2030
@whedon set v1.0.1 as version

[2020-02-04 21:49] whedon commented on #2030
OK. v1.0.1 is the version.

[2020-02-04 21:50] lpantano commented on #2030
@whedon set  10.5281/zenodo.3635843 as archive

[2020-02-04 21:51] whedon commented on #2030
OK. <a href="https://doi.org/10.5281/zenodo.3635843" target="_blank">10.5281/zenodo.3635843</a> is the archive.

[2020-02-04 21:52] kthyng commented on #2068
Hi @robqiao! Thank you for your submission. Your submission is looking a bit unfinished currently because it lacks much of a readme, the vignette is empty, the paper looks like it wasn't finished, it's missing documentation, and therefore we at the editorial board as unsure how your package works and the type of input/output produced, and how to test it.

I suggest that you withdraw your submissio

[2020-02-04 21:52] lpantano commented on #2030
@openjournals/joss-eics, we are ready here

[2020-02-04 22:02] lpantano commented on #2058
It seems a nice tool, if it is actually super fast compare to others like bedtools or mosdepth, it could be a good improvement. Otherwise, I could agree is minor.

[2020-02-04 22:26] simmonsja commented on #2064
Hi @kbarnhart I would be very happy to review too!

[2020-02-04 22:53] SuperKam91 commented on #1809
Many thanks all for your help, I have made a small donation to JOSS in the hope that you all can keep up the good work in the future.

I have noticed a small typo in the references of the paper. Is it possible to update the publication now I have ratified it?

If not absolutely no worries, I will just include it in the arXiv version instead.

[2020-02-04 22:53] SuperKam91 commented on #1809
@whedon check references

[2020-02-04 22:54] whedon commented on #1809
[code]

[2020-02-04 22:57] dawbarton commented on #1931
Overall, the paper reads well and covers the material well. I agree with the comments of the other reviewer. It would be good to mention the dependence on torch - I installed the respository directly rather than via conda (since I don't have conda installed) and so also needed to install torch separately. (Easy enough via pip, but still needs doing.)

The examples run well on my laptop, though I w

[2020-02-04 22:57] SuperKam91 commented on #1809
@whedon check references

[2020-02-04 22:57] whedon commented on #1809
[code]

[2020-02-04 22:58] arfon commented on #1809
❤️ Many thanks!

Yes, please go ahead and make the fix in the `master` branch of your repository and mention me here (@arfon) when you've done this.

[2020-02-04 23:04] SuperKam91 commented on #1809
@whedon check references

[2020-02-04 23:05] whedon commented on #1809
[code]

[2020-02-04 23:18] SuperKam91 commented on #1809
Hi @arfon that's great, thank you so much. I have made the changes to `master` branch so we should be good to go. However, when "checking references" above it seems to have cached an old commit (perhaps I didn't wait long enough but I don't think this is usually an issue) which doesn't include the fix, so let me know if you have any problems with this.

[2020-02-04 23:21] brandondube commented on #2057
@arfon I can review -- anything I need to tell whedon?

[2020-02-04 23:44] 1313e commented on #2004
@mbobra 10.5281/zenodo.3637633

[2020-02-04 23:45] mbobra commented on #2004
@whedon generate pdf

[2020-02-04 23:45] whedon commented on #2004
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02004/joss.02004/10.21105.joss.02004.pdf)

[2020-02-04 23:46] 1313e commented on #2004
Also, the version is v1.2.2 now.
Not sure if that needs to be changed.

[2020-02-04 23:47] mbobra commented on #2004
@whedon check references

[2020-02-04 23:47] whedon commented on #2004
[code]

[2020-02-04 23:47] mbobra commented on #2004
@whedon set 10.5281/zenodo.3637633 as archive

[2020-02-04 23:47] whedon commented on #2004
OK. <a href="https://doi.org/10.5281/zenodo.3637633" target="_blank">10.5281/zenodo.3637633</a> is the archive.

[2020-02-04 23:48] mbobra commented on #2004
@whedon set v1.2.2 as version

[2020-02-04 23:48] whedon commented on #2004
OK. v1.2.2 is the version.

[2020-02-04 23:48] mbobra commented on #2004
@openjournals/joss-eics This paper is ready for final processing!

[2020-02-04 23:49] afrubin commented on #2067
@kthyng Happy to expand on this!

Bioinformatics and computational biology are expanding rapidly and ever more people from biology backgrounds (often with no programming experience) are learning to do their own analyses. I think there's value in having code that's easier to understand by newcomers and students, and I know from experience that many of them like to try to read the code as part of th

[2020-02-05 00:14] russellpierce commented on #1900
Yes, sorry I just missed the check mark

[2020-02-05 00:41] MilesMcBain commented on #2036
Hi @trallard, Sorry I'm not familiar with this osf.io framework and do not have the bandwidth to immerse myself in it for a review at the moment.

There are some active R/rOpensci community members I know of in the communities listed here: https://osf.io/be7yt/wiki/home/ I am sure you could find someone suitable without much digging, e.g.: https://morn.netlify.com/about/

[2020-02-05 01:00] miketuri commented on #1988
It is not my choice to use an older version of *ngspice*--in a perfect world I would definitely prefer to use a more current version.  However, the closed-source FinFET transistor model (see the references by *Fossum et al.*) that I use to model my circuits is built into an older version of *ngspice* without parameter variation/Monte Carlo simulation capabilities (I am only provided with the final

[2020-02-05 02:28] gioacchinowang commented on #1889
@dfm @danielskatz @labarba Dear all, the DOI of the ApJS article is: 10.3847/1538-4365/ab72a2

[2020-02-05 02:52] arfon commented on #1809
OK, this should be fixed now. The PDF might take a few hours to show up as fixed online due to caching.

Also, I think you're right, there's some kind of caching issue with Whedon too that I need to look into.

[2020-02-05 02:54] arfon commented on #2057
@whedon add @brandondube as reviewer

[2020-02-05 02:54] whedon commented on #2057
OK, @brandondube is now a reviewer

[2020-02-05 02:55] arfon commented on #2057
:zap: thanks @brandondube! I'd like to find a second reviewer before I open up the actual review issue with the checklist to work through.

[2020-02-05 03:03] bahung commented on #2013
No problem, sorry for the misunderstanding. I will proceed as usual.

[2020-02-05 03:36] DiegoJRR commented on #2057
@arfon  I can also review 👍 (Although its my first time)

[2020-02-05 05:34] oliviaguest commented on #1900
@whedon generate pdf

[2020-02-05 05:34] whedon commented on #1900
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01900/joss.01900/10.21105.joss.01900.pdf)

[2020-02-05 05:35] oliviaguest commented on #1900
@whedon check references

[2020-02-05 05:36] oliviaguest commented on #1900
@russellpierce thank you so much!

@johannes-titz please check and let me know if the PDF looks OK.

[2020-02-05 05:52] expectopatronum commented on #2027
Everything looks fine, except maybe the documentation of `none`, I commented [here](https://github.com/NorskRegnesentral/shapr/issues/180#issuecomment-582251441)

[2020-02-05 06:29] telatin commented on #2058
Thanks @will-rowe and @lpantano  for your first feedback!

We were aware of this possible limitation, yet we were also thinking that "covtobed" fits into a broad set of common tasks, and different bioinformatics applications this specificity was somehow desirable. So we focused on supporting streaming and speed to have a reliable brick for multiple pipelines.

[2020-02-05 08:44] nikolase90 commented on #2027
@expectopatronum Your last comment should be fixed with https://github.com/NorskRegnesentral/shapr/pull/191.

[2020-02-05 09:02] drvinceknight commented on #2051
@whedon assign @pdebuyl as reviewer

[2020-02-05 09:02] whedon commented on #2051
OK, @pdebuyl is now a reviewer

[2020-02-05 09:02] drvinceknight commented on #2051
@whedon add @markgalassi as reviewer

[2020-02-05 09:02] whedon commented on #2051
OK, @markgalassi is now a reviewer

[2020-02-05 09:03] drvinceknight commented on #2051
@whedon start review

[2020-02-05 09:03] whedon opened #2072 "[REVIEW]: PyEscape"
**Submitting author:** @sirsharpest (<a href="http://orcid.org/0000-0002-4572-5828">Nathan Hughes</a>)
**Repository:** <a href="https://github.com/SirSharpest/NarrowEscapeSimulator" target ="_blank">https://github.com/SirSharpest/NarrowEscapeSimulator</a>
**Version:** 1.0
**Editor:** @drvinceknight
**Reviewer:** @pdebuyl, @markgalassi
**Archive:** <a href="https://doi.org/10.5281/zenodo.3725946" t

[2020-02-05 09:03] whedon commented on #2051
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2072.

[2020-02-05 09:03] #2051 closed

[2020-02-05 09:03] whedon commented on #2072
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @pdebuyl, @markgalassi it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2020-02-05 09:03] whedon commented on #2072
[code]

[2020-02-05 09:03] whedon commented on #2072
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02072/joss.02072/10.21105.joss.02072.pdf)

[2020-02-05 09:04] drvinceknight commented on #2051
Thank you both for agreeing to review :+1:

The review takes place on #2072 and there are instructions there. If I can assist with anything please let me know.

[2020-02-05 09:06] drvinceknight commented on #1815
I have removed the pause label.

[2020-02-05 09:08] expectopatronum commented on #2027
Perfect! From my point of view the paper is good to go.

[2020-02-05 09:50] MAnalytics commented on #2019
@karthik thanks for the comments. I will attend to these now, and keep you posted on the progress.

[2020-02-05 09:52] johannes-titz commented on #1900
@oliviaguest Thank you! There is a minor problem: one url does not resolve. I just fixed this and released version 0.1.2. The only change is the url in the bib file and the link in readme.md (see here: https://github.com/johannes-titz/passt/compare/v0.1.1...v0.1.2). Sorry for that. I believe the url resolved when I submitted. The updated link is now a persistent identifier (URN, comparable to doi)

[2020-02-05 10:11] egemose commented on #2056
Hi @kthyng This is a new submission of https://github.com/openjournals/joss-reviews/issues/1654 where most of the software have been rewritten to work in docker and a browser, to ease the installation and use.

[2020-02-05 10:13] egemose commented on #1654
Hi @kthyng I have made a new submission of a rewritten version of this software to ease the installation and use, You are also the Editor at the new submission over at https://github.com/openjournals/joss-reviews/issues/2056

[2020-02-05 10:15] egemose commented on #2056
@kthyng I can see that I forgot to redo the manual of the old repository with the documentation. I will quickly add it.

[2020-02-05 10:24] oliviaguest commented on #1900
@whedon generate pdf

[2020-02-05 10:24] whedon commented on #1900
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01900/joss.01900/10.21105.joss.01900.pdf)

[2020-02-05 10:25] oliviaguest commented on #1900
@whedon check references

[2020-02-05 10:25] oliviaguest commented on #1900
@johannes-titz let me know if this looks better.

[2020-02-05 10:30] johannes-titz commented on #1900
@oliviaguest yes, perfect!

[2020-02-05 10:33] oliviaguest commented on #1900
@whedon accept

[2020-02-05 10:33] whedon commented on #1900
No archive DOI set. Exiting...

[2020-02-05 10:34] oliviaguest commented on #1900
@johannes-titz what's the software DOI? :sweat_smile:

[2020-02-05 10:35] oliviaguest commented on #1900
@johannes-titz can you post it on Zenodo (anywhere with a DOI for software) if not yet and then post the DOI? :smiley_cat:

[2020-02-05 10:51] rreinecke commented on #1815
@Akash-Nag Well done. See Akash-Nag/MDL-Suite#5 for my reply.

[2020-02-05 10:52] oxinabox commented on #1956
Done.

I loosely speaking disagre, but:
I have removed that sentence, as it is overstated. it might be better to say "occucationally" or sometimes. But it doesn't belong right at the start of the paper, but rather in the docstrings of particular tokenizers. Arguably its undersirable behavour.
Examples:
The Twitter Tokenizer (both ours and the original from [NLTK](https://github.com/nltk/nltk/blob/

[2020-02-05 10:58] rreinecke commented on #1815
@Akash-Nag looks like we are almost done from my side. See Akash-Nag/MDL-Suite#7 and Akash-Nag/MDL-Suite#8

[2020-02-05 11:02] rreinecke commented on #1935
@kbarnhart Sorry I'm super swamped right now. It might also only be a problem connected to my manual setup without anaconda. If I find the time I will open an issue in landlab. But I don't think this is blocking the completion of this review from my side.

[2020-02-05 11:02] ninjin commented on #1956
@oxinabox: Agreed, if it was “occasionally” I would agree. I think there are alternative explanations for your examples though. The first two are examples of canonicalisation that most likely have been integrated into the tokeniser because it is the first piece of code that touches the “raw” text. For PTB, these are necessary for the text to be consistent with the pre-processing that PTB did back

[2020-02-05 11:07] johannes-titz commented on #1900
@oliviaguest Zenodo doi: [10.5281/zenodo.3638130](https://doi.org/10.5281/zenodo.3638130)

[2020-02-05 11:08] arfon commented on #2057
@whedon add @DiegoJRR as reviewer

[2020-02-05 11:08] whedon commented on #2057
OK, @DiegoJRR is now a reviewer

[2020-02-05 11:08] arfon commented on #2057
@whedon start review

[2020-02-05 11:08] whedon opened #2073 "[REVIEW]: COLNA: A Python Package to Analyze Complex, Linear Networks"
**Submitting author:** @pstrk (<a href="http://orcid.org/0000-0002-7389-5592">Pascal Stark</a>)
**Repository:** <a href="https://github.com/IBM/complex-linear-network-analyzer" target ="_blank">https://github.com/IBM/complex-linear-network-analyzer</a>
**Version:** v1.0
**Editor:** @arfon
**Reviewer:** @brandondube, @DiegoJRR
**Archive:** <a href="https://doi.org/10.5281/zenodo.3686634" target="_b

[2020-02-05 11:08] whedon commented on #2057
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2073.

[2020-02-05 11:08] #2057 closed

[2020-02-05 11:08] whedon commented on #2073
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @brandondube, @DiegoJRR it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2020-02-05 11:08] whedon commented on #2073
[code]

[2020-02-05 11:09] arfon commented on #2057
@brandondube, @DiegoJRR - please head over to #2073 where the actual review will take place.

[2020-02-05 11:09] whedon commented on #2073
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02073/joss.02073/10.21105.joss.02073.pdf)

[2020-02-05 11:09] arfon commented on #2073
@brandondube, @DiegoJRR - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2020-02-05 11:11] oliviaguest commented on #1900
@whedon set 10.5281/zenodo.3638130 as archive

[2020-02-05 11:11] whedon commented on #1900
OK. <a href="https://doi.org/10.5281/zenodo.3638130" target="_blank">10.5281/zenodo.3638130</a> is the archive.

[2020-02-05 11:12] oliviaguest commented on #1900
@whedon compile pdf

[2020-02-05 11:12] whedon commented on #1900
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-02-05 11:12] oliviaguest commented on #1900
@whedon generate pdf

[2020-02-05 11:13] whedon commented on #1900
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01900/joss.01900/10.21105.joss.01900.pdf)

[2020-02-05 11:13] oliviaguest commented on #1900
@whedon accept

[2020-02-05 11:13] whedon commented on #1900
[code]

[2020-02-05 11:14] whedon commented on #1900
PDF failed to compile for issue #1900 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-9847f98e9ec6/lib/whedon/bibtex_parser.rb:45:in `block in generate_citations': undefined method `key' for #<BibTeX::Preamble:0x000000000844a590> (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/gems/bibtex-ruby-5.0.1/lib/bibtex/bibliography.rb:149:in `each'
	from /app/vendor/bundle

[2020-02-05 11:15] ashipunov commented on #2070
Dear colleagues,

I entered links to repositories and license into the paper text. Thanks again!

With best wishes,

Alexey Shipunov

ср, 5 февр. 2020 г. в 01:13, Alexey Shipunov <dactylorhiza@gmail.com>:

[2020-02-05 11:20] johannes-titz commented on #1900
@oliviaguest The bib file is auto-generated by zotero. It has a @preamble that is a command. If this causes problems, I can remove it.

[2020-02-05 11:38] will-rowe commented on #2058
Hi @telatin. Thanks for your reply. I've been playing with covtobed again this morning - it is a good utility and is very nicely packaged and documented.

Of course you and @lpantano are right in that the speed makes this appealing. I was testing against bedtools (`bedtools genomecov -ibam a.bam -bg`), which gives the same output to `covtobed a.bam`. covtobed was roughly twice as fast (note: there

[2020-02-05 11:38] MariaTsantaki commented on #2048
Hi all,
Thank you for the comments! They are very useful. I am implementing them and it may take me some time.

[2020-02-05 12:29] oliviaguest commented on #1900
@johannes-titz feel free to try and we can try the above again! :smile:

[2020-02-05 12:31] oliviaguest commented on #1900
@openjournals/joss-eics please accept this after also please advising on the error above.

[2020-02-05 12:35] johannes-titz commented on #1900
@oliviaguest Just removed the preamble. Can you try it again?

[2020-02-05 12:41] telatin commented on #2058
@will-rowe I really appreciate the time you dedicated to this tool!

To be fair, both suggestions are valuable, and I'll be glad to try addressing one or both.
This will probably take some time, is it better to close this issue and resubmit mentioning the issue later or is it possible to keep the issue open in the meantime?

[2020-02-05 12:42] oliviaguest commented on #1900
@whedon generate pdf

[2020-02-05 12:42] whedon commented on #1900
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01900/joss.01900/10.21105.joss.01900.pdf)

[2020-02-05 12:42] oliviaguest commented on #1900
@johannes-titz FWIW I think you can play with @whedon too with respect to making PDFs. But maybe I'm mistaken. :blush:

[2020-02-05 12:43] oliviaguest commented on #1900
@whedon accept

[2020-02-05 12:43] whedon commented on #1900
[code]

[2020-02-05 12:43] whedon commented on #1900
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1268

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1268, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-05 12:45] whedon commented on #1900
[code]

[2020-02-05 12:47] oliviaguest commented on #1900
@johannes-titz check those missing DOIs and then try to regenerate PDF, please? :thinking:

[2020-02-05 12:48] will-rowe commented on #2058
You're welcome @telatin.

Let's keep this issue as it's easiest to keep track of the conversation history. I'm happy to assign myself as editor and you can ping this thread when you'd like me to take another look and we can take it from there?

[2020-02-05 12:48] will-rowe commented on #2058
@whedon assign @will-rowe as editor

[2020-02-05 12:48] whedon commented on #2058
OK, the editor is @will-rowe

[2020-02-05 12:50] johannes-titz commented on #1900
@oliviaguest Sorry for the mess. My bib-file contains all papers I use. whedon checks them all, although only a small subset is used in the actual paper. The pdf looks fine to me. There are some references that do not have doi. I can also clean up the bib file.

[2020-02-05 12:56] oliviaguest commented on #1900
@johannes-titz ah, that's probably fine then. I'll let @openjournals/joss-eics take it from here. :tada:

[2020-02-05 13:01] whedon commented on #1900
[code]

[2020-02-05 13:01] VivianePons commented on #2065
@kthyng From what I understand, the code, even if not big, is quite meaningful and implements some needed mathematics. I believe we can consider it for submission and move forward. Of course, the final decision will depend on the reviewers comments. Do you agree?

[2020-02-05 13:05] johannes-titz commented on #1900
@oliviaguest Actually, there seem to be dois I was not aware of (e.g. for book chapters). If it is okay, I will sort this out. Sorry, again!

[2020-02-05 13:11] paulvangentcom commented on #1867
@Kevin-Mattheus-Moerman I outlined two final points to Rhenan, and pending these two small changes I'm satisfied with the made changes

[2020-02-05 13:12] johannes-titz commented on #1900
@whedon generate pdf

[2020-02-05 13:13] whedon commented on #1900
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01900/joss.01900/10.21105.joss.01900.pdf)

[2020-02-05 13:19] whedon commented on #1900
[code]

[2020-02-05 13:21] whedon commented on #1900
[code]

[2020-02-05 13:25] johannes-titz commented on #1900
@whedon generate pdf

[2020-02-05 13:26] whedon commented on #1900
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01900/joss.01900/10.21105.joss.01900.pdf)

[2020-02-05 13:28] oliviaguest commented on #1900
@whedon accept

[2020-02-05 13:28] whedon commented on #1900
[code]

[2020-02-05 13:28] whedon commented on #1900
[code]

[2020-02-05 13:29] whedon commented on #1900
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1269

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1269, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-05 13:29] oliviaguest commented on #1900
OK @openjournals/joss-eics I think we're finally good to go. :balloon:

[2020-02-05 13:29] Kevin-Mattheus-Moerman commented on #2053
@korsbo :point_up:

[2020-02-05 13:29] oliviaguest commented on #1900
@johannes-titz is the final proof good? :D

[2020-02-05 13:31] Kevin-Mattheus-Moerman commented on #1867
@paulvangentcom thanks for your help here! I take it these are issues posted on the project repository? It would be great if you could link to them here.
@rhenanbartels Are you able to follow up on @paulvangentcom 's comments/issues? Thanks!

[2020-02-05 13:35] nicoguaro commented on #1998
@arokem, I could give it a try but I think that I might not provide much feedback in the technical parts of the package.

[2020-02-05 13:36] johannes-titz commented on #1900
@oliviaguest yes, it looks good. Thanks for your patience! :smile:

[2020-02-05 13:44] rhenanbartels commented on #1867
@Kevin-Mattheus-Moerman  Sure!
I will work on the suggestions in the upcoming days.

[2020-02-05 13:50] kose-y commented on #2062
Hi @cscherrer, the link to the document on the badge on your repository does not seem to work.

https://cscherrer.github.io/Soss.jl/stable
https://cscherrer.github.io/Soss.jl/dev

Is there another way to view the web version of documentation?

[2020-02-05 13:53] terrytangyuan commented on #2027
@whedon check references

[2020-02-05 13:54] whedon commented on #2027
[code]

[2020-02-05 13:55] terrytangyuan commented on #2027
@martinju Could you address the above missing DOIs?

[2020-02-05 13:55] martinju commented on #2027
Will fix!

[2020-02-05 14:15] martinju commented on #2027
@terrytangyuan This is now resolved in https://github.com/NorskRegnesentral/shapr/pull/192

[2020-02-05 14:15] martinju commented on #2027
@whedon check references

[2020-02-05 14:16] whedon commented on #2027
[code]

[2020-02-05 14:17] martinju commented on #2027
@whedon check references

[2020-02-05 14:18] nikolase90 commented on #2027
@martinju Do you need to generate the file again?

[2020-02-05 14:18] whedon commented on #2027
[code]

[2020-02-05 14:18] terrytangyuan commented on #2027
@whedon generate pdf

[2020-02-05 14:18] martinju commented on #2027
Ah, of course (I think)

[2020-02-05 14:19] whedon commented on #2027
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02027/joss.02027/10.21105.joss.02027.pdf)

[2020-02-05 14:19] terrytangyuan commented on #2027
@whedon check references

[2020-02-05 14:20] whedon commented on #2027
[code]

[2020-02-05 14:25] terrytangyuan commented on #2027
At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:
* The title of the archive is the same as the JOSS paper title
* That the authors of the ar

[2020-02-05 14:35] aaronwolen commented on #2071
Thanks, @kthyng. The Zenodo archive for osfr is here: https://zenodo.org/record/3625248#.XjrSDhdMF24.

I just made a small tweak to my affiliation in the paper but otherwise the proof looks good to me 👍.

[2020-02-05 14:45] arokem commented on #1998
@whedon assign @iljah as reviewer

[2020-02-05 14:45] whedon commented on #1998
OK, @iljah is now a reviewer

[2020-02-05 14:45] arokem commented on #1998
@whedon add @nicoguaro as reviewer

[2020-02-05 14:45] whedon commented on #1998
OK, @nicoguaro is now a reviewer

[2020-02-05 14:46] arokem commented on #1998
Thanks @iljah and @nicoguaro for taking this on! I will start the review with you two. If we find that we need another reviewer for the technical parts of the work, I will add another one at that point.

[2020-02-05 14:46] arokem commented on #1998
@whedon start review

[2020-02-05 14:46] whedon opened #2074 "[REVIEW]: pyGOURGS - global optimization of n-ary tree representable problems using uniform random global search"
**Submitting author:** @pySRURGS (<a href="http://orcid.org/0000-0002-3050-8943">Sohrab Towfighi</a>)
**Repository:** <a href="https://github.com/pySRURGS/pyGOURGS" target ="_blank">https://github.com/pySRURGS/pyGOURGS</a>
**Version:** 0.1
**Editor:** @arokem
**Reviewer:** @iljah, @nicoguaro
**Archive:** <a href="https://doi.org/10.5281/zenodo.3710475" target="_blank">10.5281/zenodo.3710475</a>

#

[2020-02-05 14:46] whedon commented on #1998
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2074.

[2020-02-05 14:46] #1998 closed

[2020-02-05 14:46] whedon commented on #2074
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @iljah, @nicoguaro it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2020-02-05 14:47] whedon commented on #2074
[code]

[2020-02-05 14:47] whedon commented on #2074
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02074/joss.02074/10.21105.joss.02074.pdf)

[2020-02-05 14:52] YoungFaithful commented on #2034
@whendon generate pdf

[2020-02-05 14:54] YoungFaithful commented on #2034
@whedon generate pdf

[2020-02-05 14:55] whedon commented on #2034
PDF failed to compile for issue #2034 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2034 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-9847f98e9ec6/lib/whedo

[2020-02-05 14:55] YoungFaithful commented on #2034
@arfon - Do you have a clue how to generate the pdf? In comparison to the pre-review, the Repository now contains `/tree/paper` and neither `@whedon generate pdf` nor `@whedon generate pdf from branch paper` worked

[2020-02-05 15:01] paulvangentcom commented on #1867
@Kevin-Mattheus-Moerman yes these are on the repo, appended to the [same issue as before](https://github.com/rhenanbartels/hrv/issues/17)

[2020-02-05 15:04] nikolase90 commented on #2027
@terrytangyuan New release made with https://github.com/NorskRegnesentral/shapr/pull/194. See also https://github.com/NorskRegnesentral/shapr/releases/tag/v0.1.1.

[2020-02-05 15:06] kthyng commented on #2058
@will-rowe and @telatin Sounds great what you've planned. I will go ahead and add the "paused" label for now to indicate your decision. When ready to go again, it is easy to remove.

[2020-02-05 15:08] kthyng commented on #2065
@VivianePons Sounds good, please take over from here.

[2020-02-05 15:13] kthyng commented on #1900
Looks good to me!

[2020-02-05 15:13] kthyng commented on #1900
@whedon accept deposit=true

[2020-02-05 15:13] whedon commented on #1900
[code]

[2020-02-05 15:14] korsbo commented on #2053
Hi @Kevin-Mattheus-Moerman,
Thanks for the work that you do in processing my submission and sorry about the delay!

I'll make sure that the document can be generated. It's currently under `docs/paper/paper.md` in a branch, joss2. I'll fiddle around until `@whedon` manages to get it right.

The paper has a short paragraph aimed to justify why the package should be considered to have a research appl

[2020-02-05 15:14] whedon commented on #1900
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1225075306681323520) 👈 🐦🐦🐦

[2020-02-05 15:14] whedon commented on #1900
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1270
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01900](https://doi.org/10.21105/joss.01900)
2. If everything looks g

[2020-02-05 15:17] korsbo commented on #2053
@whedon commands

[2020-02-05 15:17] whedon commented on #2053
Here are some things you can ask me to do:

[code]

[2020-02-05 15:17] korsbo commented on #2053
@whedon generate pdf from branch joss2

[2020-02-05 15:17] whedon commented on #2053
[code]

[2020-02-05 15:18] whedon commented on #2053
PDF failed to compile for issue #2053 with the following error:

 error: pathspec 'joss2
' did not match any file(s) known to git.
Can't find any papers to compile :-(

[2020-02-05 15:23] kthyng commented on #2067
@afrubin Ok that seems reasonable. I will wait to hear back from one of our editors in this area to see if they can take it on.

[2020-02-05 15:23] korsbo commented on #2053
@whedon generate pdf from branch joss2

[2020-02-05 15:23] whedon commented on #2053
[code]

[2020-02-05 15:23] whedon commented on #2053
PDF failed to compile for issue #2053 with the following error:

 error: pathspec 'joss2
' did not match any file(s) known to git.
Can't find any papers to compile :-(

[2020-02-05 15:24] korsbo commented on #2053
@whedon generate pdf from branch joss2/paper/

[2020-02-05 15:24] whedon commented on #2053
[code]

[2020-02-05 15:25] terrytangyuan commented on #2027
@whedon set v0.1.1 as version

[2020-02-05 15:25] whedon commented on #2027
OK. v0.1.1 is the version.

[2020-02-05 15:25] whedon commented on #2053
PDF failed to compile for issue #2053 with the following error:

 error: pathspec 'joss2/paper/' did not match any file(s) known to git.
Can't find any papers to compile :-(

[2020-02-05 15:25] korsbo commented on #2053
@whedon generate pdf from branch joss2/paper/paper.md

[2020-02-05 15:25] whedon commented on #2053
[code]

[2020-02-05 15:25] whedon commented on #2053
PDF failed to compile for issue #2053 with the following error:

 error: pathspec 'joss2/paper/paper.md
' did not match any file(s) known to git.
Can't find any papers to compile :-(

[2020-02-05 15:25] terrytangyuan commented on #2027
Thanks. Now we just need a DOI of the archive.

[2020-02-05 15:27] korsbo commented on #2053
@whedon generate pdf

[2020-02-05 15:28] kthyng commented on #1809
@arfon I've been having troubles with this too, like in #1656. I'll check it soon and it's probably now worked out but it gets confusing!

[2020-02-05 15:28] whedon commented on #2053
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02053/joss.02053/10.21105.joss.02053.pdf)

[2020-02-05 15:29] nikolase90 commented on #2027
DOI: 10.5281/zenodo.3641831

[2020-02-05 15:32] kthyng commented on #1900
Congratulations to  @johannes-titz on your new publication! Thanks to @oliviaguest for editing and  @nicksexton and @russellpierce for reviewing, for your time and expertise.

[2020-02-05 15:32] #1900 closed

[2020-02-05 15:32] whedon commented on #1900
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01900/status.svg)](https://doi.org/10.21105/joss.01900)

**We need your help!**

Journal of Open Source Softwa

[2020-02-05 15:32] kthyng commented on #1656
@whedon generate pdf

[2020-02-05 15:33] arfon commented on #2034
@YoungFaithful - this is because the URL for the repository needs to be something Whedon can clone (e.g. `https://github.com/YoungFaithful/CapacityExpansion.jl/`).

I've now fixed this.

[2020-02-05 15:33] whedon commented on #1656
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01656/joss.01656/10.21105.joss.01656.pdf)

[2020-02-05 15:33] arfon commented on #2034
@whedon generate pdf from branch paper

[2020-02-05 15:33] whedon commented on #2034
[code]

[2020-02-05 15:34] whedon commented on #2034
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02034/joss.02034/10.21105.joss.02034.pdf)

[2020-02-05 15:37] kthyng commented on #1656
@ornlpmcp Sorry about the delay but I can't seem to get your changes to the bib file to come through to the generated file. I tried a different browser and had the same problem, though when I went to edit the bib files I then was able to see that you had updated them. I'm still seeing "et al"s in three entries, for example.

@openjournals/dev do you know of a way to force the new code to be used?

[2020-02-05 15:37] kthyng commented on #2004
Hi @1313e! I am taking over from here. Can you update the metadata in your zenodo archive to match your paper title and authors?

[2020-02-05 15:38] nicoguaro commented on #2074
I have installed the software as described. Nevertheless, I couldn't find an example of use in the documentation.

[2020-02-05 15:43] pySRURGS commented on #2074
@nicoguaro , I will amend documentation to reflect suggested changes once I am back from interviews. There is an examples folder with script ant.py

[2020-02-05 15:45] kthyng commented on #2004
@1313e Please take a look at references Sharpe et al, Smith et al 2018, and Smith et al 2019. For each of these either the spacing is odd or the author list seems incomplete. Please verify the best way to reference the Smith packages.

[2020-02-05 15:46] kthyng commented on #2036
@MilesMcBain and @benmarwick sorry for the confusion — this has already been reviewed through rOpenSci so no reviewers needed here. Thanks!

[2020-02-05 15:48] kthyng commented on #2071
@aaronwolen Great! Can you update the metadata in the Zenodo archive to exactly match the title and authors of your paper?

[2020-02-05 15:50] oliviaguest commented on #1900
@nicksexton, @russellpierce, @johannes-titz Thank you *all* so much! Have a lovely rest of week and congratulations to Johannes! :clap: :blush:

[2020-02-05 15:53] nicoguaro commented on #2074
I tried running the example with

    $ python ant.py

with output

[code]

with

$ python ant.py output

I get

[code]

and, finally, with

    $ python ant.py output 10

I didn't have any error message

[2020-02-05 15:54] johannes-titz commented on #1900
@kthyng Thank you very much for the last steps!

@oliviaguest Thank you so much for the professional editing! Specifically for the link to the sherpa/romeo database and the communication with me and the reviewers---very polite, but also clear and motivating.

@nicksexton, @russellpierce Thank you very much for the reviews! I really appreciate your time and effort.

[2020-02-05 15:56] kthyng commented on #1656
Ok ok, I see — there was some delay at first, but I think what's happening now is our bib renderer converts the list of authors to "et al" after some number of authors.

[2020-02-05 15:59] kthyng commented on #1656
@ornlpmcp please check out [this pull request](https://github.com/ornlpmcp/ASCENDS/pull/11) to finish up your references.

[2020-02-05 16:01] pySRURGS commented on #2074
The results would then be saved to the file called "output" without any extension.

[2020-02-05 16:03] pySRURGS commented on #2074
There would have been 10 candidate solutions considered in that run.

[2020-02-05 16:08] terrytangyuan commented on #2027
@whedon set 10.5281/zenodo.3641831 as archive

[2020-02-05 16:08] whedon commented on #2027
OK. <a href="https://doi.org/10.5281/zenodo.3641831" target="_blank">10.5281/zenodo.3641831</a> is the archive.

[2020-02-05 16:09] terrytangyuan commented on #2027
@whedon accept

[2020-02-05 16:09] whedon commented on #2027
[code]

[2020-02-05 16:09] whedon commented on #2027
[code]

[2020-02-05 16:09] whedon commented on #2027
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1271

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1271, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-05 16:09] terrytangyuan commented on #2027
@openjournals/joss-eics The paper looks good now. Could you take it from here?

[2020-02-05 16:26] aaronwolen commented on #2071
Thanks, I updated the info but Zenodo throws the following error when I attempt to publish:

[code]

I'm looking into it.

[2020-02-05 16:37] nicoguaro commented on #2074
Yes, that's what I understood by looking at the source code. But those things should be explained in the documentation.

[2020-02-05 16:53] aaronwolen commented on #2071
Okay, I was able to update and publish the new metadata on Zenodo.

[2020-02-05 17:05] leouieda commented on #1882
Well, that was embarrassing :) Resolved now with pysal/splot#99

@martinfleis and @ResidentMario thank you for your reviews!

@slumnitz I'll go over the submission one more time to make any editorial suggestions that might be needed. After that, I'm happy to move forward with acceptance of your submission to JOSS :tada:

[2020-02-05 17:08] leouieda commented on #1720
@banesullivan @malmans2 thank you for the input!

@sam-greenwood please let us know when these issues have been addressed so that the reviewers can update the checklist.

[2020-02-05 17:12] leouieda commented on #1753
Hi @anmolter welcome back! I have removed the paused label and will restart consideration of your submission.

[2020-02-05 17:14] leouieda commented on #1753
One thing that would help is if you could suggest some reviewers. Please include their names or github handles **without** using `@username` to they don't get a notification.

[2020-02-05 17:27] kthyng commented on #2027
Ok things are looking good!

[2020-02-05 17:27] kthyng commented on #2027
@whedon accept deposit=true

[2020-02-05 17:27] whedon commented on #2027
[code]

[2020-02-05 17:27] leouieda commented on #1808
@ThomasLecocq any updates on this review?

[2020-02-05 17:28] whedon commented on #2027
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1225108947092287495) 👈 🐦🐦🐦

[2020-02-05 17:28] whedon commented on #2027
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1272
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02027](https://doi.org/10.21105/joss.02027)
2. If everything looks g

[2020-02-05 17:31] kthyng commented on #2030
@whedon accept

[2020-02-05 17:31] whedon commented on #2030
[code]

[2020-02-05 17:31] whedon commented on #2030
PDF failed to compile for issue #2030 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2030 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-9847f98e9ec6/lib/whedo

[2020-02-05 17:31] whedon commented on #2030
[code]

[2020-02-05 17:38] kthyng commented on #2030
@whedon generate pdf

[2020-02-05 17:38] whedon commented on #2030
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02030/joss.02030/10.21105.joss.02030.pdf)

[2020-02-05 17:39] kthyng commented on #2030
@whedon accept

[2020-02-05 17:39] whedon commented on #2030
[code]

[2020-02-05 17:39] whedon commented on #2030
PDF failed to compile for issue #2030 with the following error:

 sh: 0: getcwd() failed: No such file or directory
sh: 0: getcwd() failed: No such file or directory
pandoc: 10.21105.joss.02030.pdf: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2020-02-05 17:39] whedon commented on #2030
[code]

[2020-02-05 17:41] kthyng commented on #2030
@openjournals/dev I'm not able to figure out what is going wrong with the paper here. Could you help?

[2020-02-05 17:41] kthyng commented on #2027
The DOI resolution is looking weird so let's wait before closing this up.

[2020-02-05 17:48] kthyng commented on #2027
@openjournals/dev This DOI link doesn't look like it usually does while it is resolving. Any ideas? Just wait longer?

[2020-02-05 18:17] arfon commented on #2027
This issue is being caused by `formatted_doi: XX.XXXXX/joss.XXXXX` being set in the `paper.md`. This shouldn't be in the template and a fix was applied in `rticles` in https://github.com/rstudio/rticles/pull/272

I've reprocessed this submission manually and the updated PDF should be resolving soon on the JOSS website.

[2020-02-05 18:17] #2027 closed

[2020-02-05 18:17] whedon commented on #2027
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02027/status.svg)](https://doi.org/10.21105/joss.02027)

**We need your help!**

Journal of Open Source Softwa

[2020-02-05 18:54] anmolter commented on #1753
Thanks @leouieda. Looking at the joss reviewers list martibosch or martinfleis could be suitable?

[2020-02-05 19:16] kthyng commented on #2071
@whedon accept

[2020-02-05 19:16] whedon commented on #2071
No archive DOI set. Exiting...

[2020-02-05 19:17] kthyng commented on #2071
@whedon set 10.5281/zenodo.3625248 as archive

[2020-02-05 19:17] whedon commented on #2071
OK. <a href="https://doi.org/10.5281/zenodo.3625248" target="_blank">10.5281/zenodo.3625248</a> is the archive.

[2020-02-05 19:17] kthyng commented on #2071
@whedon accept

[2020-02-05 19:17] whedon commented on #2071
[code]

[2020-02-05 19:17] whedon commented on #2071
PDF failed to compile for issue #2071 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2071 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-9847f98e9ec6/lib/whedo

[2020-02-05 19:18] whedon commented on #2071
[code]

[2020-02-05 19:20] kthyng commented on #2071
Sorry @openjournals/dev but I guess it is happening here too? Please let me know if I am doing something wrong.

[2020-02-05 19:37] martinju commented on #2027
I would like to express my gratitude to the editor @terrytangyuan and the two reviewers @frycast  and @expectopatronum for a thorough, yet rapid, review process that led to an improved the paper, the package, and the descriptions in the README in our GitHub repo.

Thank you!

[2020-02-05 19:38] ornlpmcp commented on #1656
@kthyng your latest pull request has been metged thanks again

[2020-02-05 19:50] dfm commented on #1889
@gioacchinowang: Perfect. Can you update the `aas-doi` and `aas-journal` arguments in the paper metadata then we should be good to go. Thanks!

[2020-02-05 20:01] karthik commented on #2019
@njtierney Any chance you are able to review this submission?

[2020-02-05 20:07] DavidLitwin commented on #1935
Hi @kthyng, it appears that all the boxes have been checked by the reviewers. Is there anything more that we need to do at this point? Thanks!

[2020-02-05 20:09] hvgazula commented on #1847
Hello @FelixHenninger, Thanks for your comments. Yes, you are right. The mechanism discussed herewith is not specific to neuroimaging data but can be generalized to any kind of dataset. The documentation as to how the application can be used is available at https://github.com/trendscenter/coinstac-instructions. The 'hello world' example can be found at https://github.com/trendscenter/coinstac-firs

[2020-02-05 20:13] ybayle commented on #1262
@whedon generate pdf

[2020-02-05 20:13] whedon commented on #1262
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01262/joss.01262/10.21105.joss.01262.pdf)

[2020-02-05 20:25] ybayle commented on #1262
@Kevin-Mattheus-Moerman
The generated article proof and the Zenodo are ok. What is the next step?

[2020-02-05 20:26] kbarnhart commented on #2064
thanks @katmratliff @conlin-matt @chrisleaman and @simmonsja for your rapid and enthusiastic interest! I think three reviewers is sufficient, and am going to select based on response order.

I'll now assign @katmratliff @conlin-matt @chrisleaman as reviewers, and then transition this submission from the PRE-REVIEW stage to the REVIEW stage on another issue.

[2020-02-05 20:26] kbarnhart commented on #2064
@whedon assign @katmratliff as reviewer

[2020-02-05 20:26] kbarnhart commented on #2064
@whedon add @conlin-matt as reviewer

[2020-02-05 20:26] whedon commented on #2064
OK, @conlin-matt is now a reviewer

[2020-02-05 20:26] kbarnhart commented on #2064
@whedon add @chrisleaman as reviewer

[2020-02-05 20:26] whedon commented on #2064
OK, @chrisleaman is now a reviewer

[2020-02-05 20:27] kbarnhart commented on #2064
@whedon start review

[2020-02-05 20:27] whedon opened #2075 "[REVIEW]: `psi-collect`: A Python module for post-storm image collection and cataloging"
**Submitting author:** @ebgoldstein (<a href="http://orcid.org/0000-0001-9358-1016">Evan B Goldstein</a>)
**Repository:** <a href="https://github.com/UNCG-DAISY/psi-collect" target ="_blank">https://github.com/UNCG-DAISY/psi-collect</a>
**Version:** v1.0.4
**Editor:** @kbarnhart
**Reviewer:** @katmratliff, @conlin-matt, @chrisleaman
**Archive:** <a href="https://doi.org/10.5281/zenodo.3687347" tar

[2020-02-05 20:27] whedon commented on #2064
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2075.

[2020-02-05 20:27] #2064 closed

[2020-02-05 20:27] whedon commented on #2075
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @katmratliff, @conlin-matt, @chrisleaman it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewe

[2020-02-05 20:27] whedon commented on #2075
PDF failed to compile for issue #2075 with the following error:

 Can't find any papers to compile :-(

[2020-02-05 20:27] whedon commented on #2075
[code]

[2020-02-05 20:30] clauswilke commented on #1991
@malcolmbarrett Please ping me when you've completed your revisions as I'd rather process everything at once.

[2020-02-05 20:32] malcolmbarrett commented on #1991
Sounds good. I will let you both know.

[2020-02-05 20:35] dfm commented on #1958
@mnarayan: Can you please let us know when you'll have a chance to look at this submission? Thanks!

[2020-02-05 20:43] dfm commented on #2059
:wave: @nespinoza, would be you available and willing to review this submission to JOSS? Thanks!

[2020-02-05 20:44] dfm commented on #2059
:wave: @rodluger, would be you available and willing to review this submission to JOSS? Thanks!

[2020-02-05 20:51] kbarnhart commented on #2075
@whedon generate pdf

[2020-02-05 20:52] whedon commented on #2075
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02075/joss.02075/10.21105.joss.02075.pdf)

[2020-02-05 20:54] kbarnhart commented on #2075
@arfon something funny is happening with whedon and PDF generating. Here and in the PRE-REVIEW (#2064) the automated attempt to compile the paper.md failed, but when I asked whedon to do it, ti succeeded.

[2020-02-05 20:55] kbarnhart commented on #2075
:wave: @ebgoldstein, @katmratliff, @conlin-matt, and @chrisleaman this is the review thread for the paper. All of our communications will happen here from now on.

All reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS

[2020-02-05 21:02] mjsottile commented on #1982
To update, I'm going to seek out an additional reviewer since @mnarayan seems to have gone silent.  I will try to find this additional reviewer soon so the review doesn't stall much longer.

[2020-02-05 21:02] arfon commented on #2075
I think the issue here is that the repository is pretty large (> 400Mb) which means that Whedon is sometimes timing out. I'm not sure that there's much we can do about this sorry, unless the authors are able to [reduce the size of the repository](https://www.google.com/search?q=reducing+git+repository+size&oq=reducing+git+repo&aqs=chrome.0.0j69i57j0l4.4260j1j7&sourceid=chrome&ie=UTF-8).

[2020-02-05 21:03] mjsottile commented on #2008
I still have not heard back, so I am going to try to find an additional reviewer to un-stall the review.  Sorry for the delays @dmey.

[2020-02-05 21:08] dmey commented on #2008
Thank you @mjsottile and no problems!

[2020-02-05 22:36] lpantano commented on #2052
@NicoRenaud, do you recommend any review for this? I will start the review process and add it afterwards. Thanks!

[2020-02-05 23:43] 1313e commented on #2004
Could you elaborate on what is wrong with those references?
Because, I cannot see anything weird or wrong with any of the references I'm using.

Of course. Forgot that automated Zenodo archiving will obviously not set those things.

[2020-02-06 00:54] kyleniemeyer commented on #2004
@1313e if it helps, it's possible to add a `.zenodo.json` file to a repository which will specify these metadata, though I can't find an official guide on how to do this/what to include... here is an example though: https://github.com/cboettig/nonparametric-bayes/blob/master/.zenodo.json

[2020-02-06 00:56] 1313e commented on #2004
@kyleniemeyer I was actually wondering if such a thing existed. I will have a look.

[2020-02-06 01:00] kthyng commented on #2004
@1313e Ok, I edited the Sharpe entry directly then. My changes are in PR [#4](https://github.com/1313e/CMasher/pull/4) and you can merge them if you agree. I looked up the details for Nathaniel's papers and they look accurate.

[2020-02-06 01:01] kthyng commented on #2004
By the way, since you're interested in colormaps, you might be interested in my paper on them!
http://tos.org/oceanography/assets/docs/29-3_thyng.pdf

[2020-02-06 01:11] 1313e commented on #2004
Oooh, those spacings.
Kinda weird that they are there, as they don't appear in my bibtex database.

I actually know that paper already and somehow completely forgot to add a citation to `cmocean` in the paper.
Want me to add a citation to that paper?

[2020-02-06 02:49] gioacchinowang commented on #1889
@whedon generate pdf

[2020-02-06 02:49] whedon commented on #1889
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01889/joss.01889/10.21105.joss.01889.pdf)

[2020-02-06 02:59] gioacchinowang commented on #1889
@dfm Thanks! I've updated that, please check :)

[2020-02-06 03:07] nespinoza commented on #2059
Hey @dfm  --- sure can do!

[2020-02-06 04:12] bernease commented on #1904
I have updated (and completed all marks) based on the updates provided by the author.

[2020-02-06 07:11] rreinecke commented on #1815
@whedon generate pdf

[2020-02-06 07:11] whedon commented on #1815
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01815/joss.01815/10.21105.joss.01815.pdf)

[2020-02-06 08:25] whedon commented on #2053
[code]

[2020-02-06 08:36] dvalters commented on #1935
Yep, sorry forgot to say after checking the boxes - all good from my side as far as a I can see!

[2020-02-06 09:21] iljah commented on #2074
@pySRURGS please specify which university of medicine you are affiliated with.

[2020-02-06 09:28] kose-y commented on #2062
SymPy is listed twice in the references of the paper.

[2020-02-06 09:35] iljah commented on #2074
@pySRURGS it would be helpful if you'd mention how this relates to e.g. https://www.gnu.org/software/gsl/doc/html/multimin.html. Does this solve a more general problem or is this more efficient than GSL or..?

[2020-02-06 09:51] iljah commented on #2074
As @nicoguaro mentioned, @pySRURGS  please add at least one simple example to documentation. Also it would be helpful for example programs to print usage instructions when used incorrectly, etc.

[2020-02-06 10:56] AJQuinn commented on #1982
OK, thank you - please let me know if there is anything I can do to help out.

[2020-02-06 11:32] marcosvital commented on #1974
Hi, @rhagenson . thanks for pointing potential reviewers for your submission, we can move on and ask them to review.

Dear @djmitche, @terrytangyuan and @rabdill :
Would you be willing to review this submission for JOSS?
We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is still a pre-review

[2020-02-06 11:46] arfon commented on #1889
@dfm - this looks good. Just an FYI that the AAS DOI doesn't resolve yet, and likely won't for another few weeks. We can either hold off publishing this paper until then or publish now with a broken link in the JOSS PDF. I'll leave that up to you and @gioacchinowang.

[2020-02-06 12:24] lpantano commented on #2052
@HadrienG, would you be interested on reviewing this?

[2020-02-06 12:26] lpantano commented on #2067
@whedon assign @lpantano as editor

[2020-02-06 12:26] whedon commented on #2067
OK, the editor is @lpantano

[2020-02-06 12:33] lpantano commented on #2067
@natir, @simonvh, @FlorianThibord would you like to review this tool?

[2020-02-06 12:37] Ayushk4 commented on #1956
The changes have been made to the paper. Thanks, @ninjin  for the suggestions.

[2020-02-06 12:37] Ayushk4 commented on #1956
@whedon generate pdf

[2020-02-06 12:38] whedon commented on #1956
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01956/joss.01956/10.21105.joss.01956.pdf)

[2020-02-06 13:29] egemose commented on #2056
@kthyng There is now documentation in the "manual" directory.

[2020-02-06 13:30] egemose commented on #2056
@whedon generate pdf

[2020-02-06 13:30] whedon commented on #2056
PDF failed to compile for issue #2056 with the following error:

 Error reading bibliography ./paper.bib (line 40, column 1):
unexpected "t"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2020-02-06 14:02] will-rowe commented on #1956
Great! Thank you everyone. I'll give it a final read through now

[2020-02-06 14:06] natir commented on #2067
@lpantano I can review this tool.

[2020-02-06 14:06] will-rowe commented on #1956
@whedon check references

[2020-02-06 14:07] whedon commented on #1956
[code]

[2020-02-06 14:12] samuelduchesne commented on #1833
Hi @ThibaultMarzullo and @brynpickering, regarding the TRNSYS functionality, I recorded the `archetypal convert` method that translates an IDF file to a TRNSYS model: https://youtu.be/jB5PhQ2YzKg.

The command has the `--trnsidf_exe` option pointing to the path of the executable which was located in the docker folder (the executable itself is not pushed to GitHub since it is a proprietary software

[2020-02-06 14:13] will-rowe commented on #1956
Okay - everything looks good to me. Please can you tag a final release and archive it - post the version number and DOI back here.

[2020-02-06 14:23] FlorianThibord commented on #2067
@lpantano Yes, I can review the tool

[2020-02-06 14:34] arfon commented on #2030
@whedon accept

[2020-02-06 14:34] whedon commented on #2030
[code]

[2020-02-06 14:34] whedon commented on #2030
PDF failed to compile for issue #2030 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2030 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-9847f98e9ec6/lib/whedo

[2020-02-06 14:34] whedon commented on #2030
[code]

[2020-02-06 14:46] marcosvital commented on #2041
Hi, @mmrabe, I'm Marcos Vital, and I'll be the editor of your submission.

Did you had the chance to check the article proof generated above? If everything seems to be ok with it, we can move on to assigning reviewers for you submission. We usually ask the authors for suggestions, so let me know if you have anyone in mind that could do this.

You can also check [this list of people](https://bit.ly

[2020-02-06 14:47] NicoRenaud commented on #2052
Dear Lorena, Joao Rodriguez (https://github.com/JoaoRodrigues) would be a good reviewer. He has written pdb_tools which is similar to pdb2sql Best,Nico  From: Lorena PantanoSent: Wednesday, 5 February 2020 23:36To: openjournals/joss-reviewsCc: Nicolas Renaud; MentionSubject: Re: [openjournals/joss-reviews] [PRE REVIEW]: The pdb2sql Python Package: Parsing, Manipulation and Analysis of PDB Files Us

[2020-02-06 14:53] arfon commented on #2030
@whedon accept

[2020-02-06 14:53] pySRURGS commented on #2074
University of Toronto.
It solves a different class of problems. It is more akin to traditional machine learning than it is to numerical optimization/function minimization. Thanks for the feedback and I will address these issues in coming days.

[2020-02-06 14:53] whedon commented on #2030
[code]

[2020-02-06 14:54] whedon commented on #2030
[code]

[2020-02-06 14:54] whedon commented on #2030
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1273

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1273, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-06 14:54] arfon commented on #2030
Apologies, I accidentally introduced a regression last night. This should be fixed now.

[2020-02-06 14:55] arfon commented on #2071
@whedon accept

[2020-02-06 14:55] whedon commented on #2071
[code]

[2020-02-06 14:55] whedon commented on #2071
[code]

[2020-02-06 14:55] whedon commented on #2071
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1274

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1274, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-06 15:03] aaronwolen commented on #2071
Proof looks good to me 👍

[2020-02-06 15:04] simonvh commented on #2067
I think two would suffice? In case it is needed, I would be happy to help out.

[2020-02-06 15:05] aaronwolen commented on #2071
One question: should the *Reviewers* list also include the ROpenSci reviewers?

cc/@maelle

[2020-02-06 15:06] arfon commented on #2071
@aaronwolen on the paper you mean? Currently the JOSS papers simply include the JOSS reviewers, including the rOpenSci reviewers in the PDF isn't supported sorry.

[2020-02-06 15:07] aaronwolen commented on #2071
Okay, just wanted to verify. Thanks!

[2020-02-06 15:23] cscherrer commented on #2062
Thanks @kose-y !

Documentation is currently limited to the README. I do have some slides and a PROBPROG submission I could point to, but generated docs aren't yet set up.

Thanks for catching the SymPy double-citation, I'll get that fixed. Feel free to add issues directly in the repo if you like, or I can add them as we go :)

[2020-02-06 15:24] rabdill commented on #1974
I'd be happy to.

[2020-02-06 15:29] arfon commented on #1832
@Cadair - apparently the AAS DOI is `10.3847/1538-4357/ab4f7a`. I've opened a PR adding this in https://github.com/sunpy/sunpy/pull/3771

[2020-02-06 15:32] Cadair commented on #1832
Thanks @arfon what is the procedure now? I need to make a release with the paper in and the author list on Zenodo needs to match the paper?

[2020-02-06 15:32] dfm commented on #2059
@whedon assign @nespinoza as reviewer

[2020-02-06 15:33] whedon commented on #2059
OK, @nespinoza is now a reviewer

[2020-02-06 15:33] dfm commented on #2059
Thanks @nespinoza!

[2020-02-06 15:33] arfon commented on #1832
Ideally yes.

[2020-02-06 15:34] Cadair commented on #1832
Ok I need to write a script to generate the zenodo metadata from the paper metadata. I will try and get that sorted in the next couple of days.

[2020-02-06 15:37] bmorris3 commented on #2059
Hey @dfm, is there anything I need to do to link this paper to my AAS Journals submission?

[2020-02-06 15:40] dfm commented on #2059
@bmorris3: Thanks for letting us know. We will perform this review independently of AAS, so you should keep us posted on the status of that review. We will wait until both reviews are finished to publish the paper because the two will be linked at the end. Let me know if you have any questions!

[2020-02-06 15:46] lpantano commented on #2052
Hi @JoaoRodrigues would you like to review this tool?

[2020-02-06 15:46] lpantano commented on #2067
@whedon assign @natir as reviewer

[2020-02-06 15:46] whedon commented on #2067
OK, @natir is now a reviewer

[2020-02-06 15:47] lpantano commented on #2067
@whedon add @FlorianThibord as reviewer

[2020-02-06 15:47] whedon commented on #2067
OK, @FlorianThibord is now a reviewer

[2020-02-06 15:47] lpantano commented on #2067
Thanks all for the super quick reply, I will let @simonvh free this time :)

[2020-02-06 15:47] lpantano commented on #2067
@whedon start review

[2020-02-06 15:47] whedon opened #2076 "[REVIEW]: fqfa: A pure Python package for genomic sequence files"
**Submitting author:** @afrubin (<a href="http://orcid.org/0000-0003-1474-605X">Alan F. Rubin</a>)
**Repository:** <a href="https://github.com/CountESS-Project/fqfa/" target ="_blank">https://github.com/CountESS-Project/fqfa/</a>
**Version:** v1.0.0
**Editor:** @lpantano
**Reviewer:** @natir, @FlorianThibord
**Archive:** <a href="https://doi.org/10.5281/zenodo.3688838" target="_blank">10.5281/zeno

[2020-02-06 15:47] whedon commented on #2067
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2076.

[2020-02-06 15:47] #2067 closed

[2020-02-06 15:47] whedon commented on #2076
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @natir, @FlorianThibord it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2020-02-06 15:48] whedon commented on #2076
PDF failed to compile for issue #2076 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2076 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-9847f98e9ec6/lib/whedo

[2020-02-06 15:48] whedon commented on #2076
[code]

[2020-02-06 15:53] VivianePons commented on #2065
@arnavs In your message, you mention "community input". Could you tell me more about current usage of your package? (And maybe add it to the paper if it's relevant)

[2020-02-06 15:55] JoaoRodrigues commented on #2052
Hi @lpantano, would be happy to!

[2020-02-06 16:00] kthyng commented on #1988
@miketuri Ok, I am going to work on recruiting a topic editor who will know more about your field. I think some issues that could come up in review will include the packaging of your code (it looks like it could be more streamlined) and finding appropriate reviewers who use this code but older versions of it. Still, if such reviewers can be found, their input would be really valuable for your pack

[2020-02-06 16:01] kthyng commented on #1988
@whedon invite @katyhuff as editor

[2020-02-06 16:01] whedon commented on #1988
@katyhuff has been invited to edit this submission.

[2020-02-06 16:02] kthyng commented on #1988
@katyhuff Could you edit this submission? I am not sure who would be a better fit and your long term experience with JOSS and good code practices would be helpful here.

[2020-02-06 16:07] arnavs commented on #2065
@VivianePons We had a recent request from a user for the `Erlang` distribution, so I added that in. The package is used in the [QuantEcon lecture notes](julia.quantecon.org), and was also used as a dependency for a package `AdaptiveGaussianProcesses.jl` (although I think it may not be used in the latest version.)

Will add this to the paper. thanks for the suggestion.

[2020-02-06 16:09] katyhuff commented on #1988
I'm afraid I'm totally slammed, not in the topic area (applied math for electrical circuit optimization, it seems), and behind, somewhat, on the other papers I'm currently editing for JOSS.

I could try, but I can't get to it for at least 3 weeks.

@miketuri  sometimes the author has a better idea of who the handling editors should be for their own paper than anyone else. Perhaps you could take a

[2020-02-06 16:09] kthyng commented on #2071
thanks @arfon!

[2020-02-06 16:10] kthyng commented on #2071
@whedon accept deposit=true

[2020-02-06 16:10] whedon commented on #2071
[code]

[2020-02-06 16:10] dfm commented on #1889
I think it's probably best to wait unless @gioacchinowang would really like this published before. I'll keep checking back, but @gioacchinowang perhaps you can let us know when the AAS article is published (with the link)? The JOSS workflow gets the papers published much faster so we can get a more or less simultaneous publication.

[2020-02-06 16:11] whedon commented on #2071
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1225451845579046912) 👈 🐦🐦🐦

[2020-02-06 16:11] whedon commented on #2071
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1275
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02071](https://doi.org/10.21105/joss.02071)
2. If everything looks g

[2020-02-06 16:11] dfm commented on #1889
@whedon remind @dfm in 2 weeks

[2020-02-06 16:11] whedon commented on #1889
Reminder set for @dfm in 2 weeks

[2020-02-06 16:13] kthyng commented on #2030
@whedon accept deposit=true

[2020-02-06 16:13] whedon commented on #2030
[code]

[2020-02-06 16:13] whedon commented on #2030
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1225452557138571264) 👈 🐦🐦🐦

[2020-02-06 16:13] whedon commented on #2030
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1276
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02030](https://doi.org/10.21105/joss.02030)
2. If everything looks g

[2020-02-06 16:16] kthyng commented on #2027
Congrats to @martinju on your new publication! Thanks for your time and expertise to @terrytangyuan as editor and @frycast and @expectopatronum for reviewing.

[2020-02-06 16:17] kthyng commented on #1656
@whedon generate pdf

[2020-02-06 16:18] whedon commented on #1656
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01656/joss.01656/10.21105.joss.01656.pdf)

[2020-02-06 16:20] kthyng commented on #2004
I'm not reviewing your paper — I just thought you'd be interested in work in the same area.

I'll proceed with the final steps

[2020-02-06 16:20] kthyng commented on #2004
@whedon generate pdf

[2020-02-06 16:21] kthyng commented on #2071
@aaronwolen congrats on your new publication!! 🎉

[2020-02-06 16:21] #2071 closed

[2020-02-06 16:21] whedon commented on #2071
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02071/status.svg)](https://doi.org/10.21105/joss.02071)

**We need your help!**

Journal of Open Source Softwa

[2020-02-06 16:21] whedon commented on #2004
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02004/joss.02004/10.21105.joss.02004.pdf)

[2020-02-06 16:22] aaronwolen commented on #2071
Awesome! Thanks so much @kthyng.

[2020-02-06 16:22] kthyng commented on #2004
@whedon accept

[2020-02-06 16:22] whedon commented on #2004
[code]

[2020-02-06 16:23] whedon commented on #2004
[code]

[2020-02-06 16:23] whedon commented on #2004
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1277

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1277, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-06 16:30] kthyng commented on #1935
@whedon generate pdf

[2020-02-06 16:31] whedon commented on #1935
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01935/joss.01935/10.21105.joss.01935.pdf)

[2020-02-06 16:40] kthyng commented on #1935
@DavidLitwin Just read through your paper and have one small typo in the paper [#1144](https://github.com/landlab/landlab/pull/1144) and a few in the bib file [#1145](https://github.com/landlab/landlab/pull/1145). See what you think.

After that, let me know: what is the appropriate version number to use?

Also, can you set up an archive of your code at, for example, Zenodo, and report back here w

[2020-02-06 16:42] kthyng commented on #2004
@whedon accept deposit=true

[2020-02-06 16:42] whedon commented on #2004
[code]

[2020-02-06 16:43] whedon commented on #2004
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1225459954410192897) 👈 🐦🐦🐦

[2020-02-06 16:43] whedon commented on #2004
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1278
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02004](https://doi.org/10.21105/joss.02004)
2. If everything looks g

[2020-02-06 16:44] kthyng commented on #1656
Ok things are looking good.

[2020-02-06 16:45] kthyng commented on #1656
@whedon accept

[2020-02-06 16:45] whedon commented on #1656
[code]

[2020-02-06 16:45] whedon commented on #1656
[code]

[2020-02-06 16:46] whedon commented on #1656
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1279

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1279, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-06 16:47] kthyng commented on #2030
Ok it looks like everything is in order!

Congratulations to @tkchafin on your new publication! Thanks very much for your time and expertise to editor @lpantano and reviewers @dangeles and @YichaoOU!

[2020-02-06 16:47] #2030 closed

[2020-02-06 16:47] whedon commented on #2030
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02030/status.svg)](https://doi.org/10.21105/joss.02030)

**We need your help!**

Journal of Open Source Softwa

[2020-02-06 16:48] kthyng commented on #1656
@whedon accept deposit=true

[2020-02-06 16:48] whedon commented on #1656
[code]

[2020-02-06 16:49] whedon commented on #1656
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1225461448161349632) 👈 🐦🐦🐦

[2020-02-06 16:49] whedon commented on #1656
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1280
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01656](https://doi.org/10.21105/joss.01656)
2. If everything looks g

[2020-02-06 16:49] natir commented on #2076
@whedon generate pdf

[2020-02-06 16:49] whedon commented on #2076
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02076/joss.02076/10.21105.joss.02076.pdf)

[2020-02-06 16:54] kthyng commented on #2004
Congratulations to @1313e on your new publication! Thanks to editor @mbobra and reviewers @tacaswell and @wafels — we rely on your time and expertise.

[2020-02-06 16:54] #2004 closed

[2020-02-06 16:54] whedon commented on #2004
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02004/status.svg)](https://doi.org/10.21105/joss.02004)

**We need your help!**

Journal of Open Source Softwa

[2020-02-06 16:55] kthyng commented on #1656
Congratulations @ornlpmcp on your new publication! Thanks to @terrytangyuan for editing, and to @zhampel and @jrbourbeau for reviewing — we really appreciate your time and expertise!

[2020-02-06 16:55] #1656 closed

[2020-02-06 16:55] whedon commented on #1656
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01656/status.svg)](https://doi.org/10.21105/joss.01656)

**We need your help!**

Journal of Open Source Softwa

[2020-02-06 17:02] kthyng commented on #2070
@whedon generate pdf

[2020-02-06 17:02] whedon commented on #2070
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02070/joss.02070/10.21105.joss.02070.pdf)

[2020-02-06 17:12] kthyng commented on #2056
@whedon generate pdf

[2020-02-06 17:13] whedon commented on #2056
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02056/joss.02056/10.21105.joss.02056.pdf)

[2020-02-06 17:14] kiretd commented on #1958
Hi @effigies, thanks for your review!

Sorry that the contributions are a bit difficult to track. Most of the work on LFSpy was done prior to putting this up on github, so the github commits don’t reflect everyone’s contributions. In addition, a good chunk of the testing we do is done locally as a group before someone pushes it to git. If you have further questions about who contributed what, plea

[2020-02-06 17:14] kiretd commented on #1958
@whedon generate pdf

[2020-02-06 17:14] whedon commented on #1958
PDF failed to compile for issue #1958 with the following error:

 ORCID looks to be the wrong length
/app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-9847f98e9ec6/lib/whedon.rb:153:in `block in check_orcids': Problem with ORCID (00000-0003-4528-9146) for Areeb Khawaja (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-9847f98e9ec6/lib/whedon.rb:151:in `each'
	from /app/vendor/

[2020-02-06 17:15] kthyng commented on #2056
@egemose Ok I understand now.

I also now see that there are two Henriks working on this software! That was confusing at first.

Ok I will try to recruit our original reviewers.

[2020-02-06 17:15] kiretd commented on #1958
@whedon generate pdf

[2020-02-06 17:16] whedon commented on #1958
PDF failed to compile for issue #1958 with the following error:

 [WARNING] Could not convert image '/tmp/tex2pdf.-f4119cc7dbe480a9/20ced9490086bcac201d809020b064159913517e.shtml': Cannot load file
  Jpeg Invalid marker used
  PNG Invalid PNG file, signature broken
  Bitmap Invalid Bitmap magic identifier
  GIF Invalid Gif signature :

  HDR Invalid radiance file signature
  Tiff Invalid endian ta

[2020-02-06 17:17] kthyng commented on #2056
Hi @abhishekbajpayee and @jizecn! You were reviewers on a previous [submission](https://github.com/openjournals/joss-reviews/issues/1654) to JOSS which was paused for some code improvements. It has been resubmitted in this PRE-REVIEW issue. Are you able and willing to review it at this point?

[2020-02-06 17:17] kthyng commented on #1654
@egemose and @henrikmidtiby — since you opened a new pre-review issue, do you want to withdraw this submission? Currently it is just paused.

[2020-02-06 17:18] DavidLitwin commented on #1935
@kthyng thank you for the typo corrections.

@kbarnhart I want to make sure the version and doi are handled correctly.. If we do it similarly to the JOSS paper for `lithology`, the landlab release where the component was introduced is referenced, along with the current landlab release and associated DOI. The component first appears in v.1.10 I believe, and current release is v2.0.0b5. @kbarnhart c

[2020-02-06 17:18] joshday commented on #1816
In response @ahwillia suggestion, I have added a section to the README about packages that use OnlineStats.

In response to @pkofod:

The paper is meant for a more technical audience (the "developing online algorithms" crowd) whereas the documentation is meant for general users.  I'm happy to add a higher level example, but I think most people will check the documentation first.

[2020-02-06 17:33] titipata commented on #1979
Hi @majensen, thank you so much. I updated DOI for the repository and updated it in `README` accordingly. The new DOI should be `10.5281/zenodo.3648715` for the Pubmed Parser 0.2.2

[2020-02-06 17:59] DavidLitwin commented on #1935
Just fixed one other typo in landlab/landlab#1146.

[2020-02-06 18:10] lpantano commented on #2052
@whedon add @JoaoRodrigues as reviewer

[2020-02-06 18:10] whedon commented on #2052
OK, @JoaoRodrigues is now a reviewer

[2020-02-06 18:10] lpantano commented on #2052
@whedon start review

[2020-02-06 18:11] whedon opened #2077 "[REVIEW]: The pdb2sql Python Package: Parsing, Manipulation and Analysis of PDB Files Using SQL Queries"
**Submitting author:** @NicoRenaud (<a href="http://orcid.org/0000-0001-9589-2694">Nicolas Renaud</a>)
**Repository:** <a href="https://github.com/DeepRank/pdb2sql" target ="_blank">https://github.com/DeepRank/pdb2sql</a>
**Version:** 0.4.0
**Editor:** @lpantano
**Reviewers:** @i-mtz, @JoaoRodrigues, @joaomcteixeira
**Archive:** <a href="https://doi.org/10.5281/zenodo.3860329" target="_blank">10.5

[2020-02-06 18:11] whedon commented on #2052
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2077.

[2020-02-06 18:11] #2052 closed

[2020-02-06 18:11] whedon commented on #2077
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @i-mtz, @JoaoRodrigues it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2020-02-06 18:11] whedon commented on #2077
PDF failed to compile for issue #2077 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2077 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-9847f98e9ec6/lib/whedo

[2020-02-06 18:11] whedon commented on #2077
[code]

[2020-02-06 19:00] kellieotto commented on #1608
@arfon Sorry for dropping the ball on this! I just went ahead and tried installing again, and ran into another dependency issue (see linked issue)

[2020-02-06 19:04] evanleeturner commented on #1985
Thanks for the invite.  This is a whole _new experience_ to do a review in github, so bear with me pls!  Looking forward to taking a look at the work.  -evan

[2020-02-06 19:07] arfon commented on #1608
Thanks @kellieotto. @Ji-Zhang - can you see if you can figure out what's going on in https://github.com/Ji-Zhang/datacleanbot/issues/10 ?

[2020-02-06 19:07] hvgazula commented on #1847
Hello @cMadan, just wondering if it is difficult to find a reviewer from the list you provided, can we suggest some potential reviewers?

[2020-02-06 19:13] kbarnhart commented on #1935
@DavidLitwin you are correct. the typo you just fixed isn't in v2.0.0b5, but I'm not sure if that is important. if it is, we can make a new release.

[2020-02-06 19:14] kiretd commented on #1958
@whedon generate pdf

[2020-02-06 19:14] whedon commented on #1958
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01958/joss.01958/10.21105.joss.01958.pdf)

[2020-02-06 19:18] kiretd commented on #1958
@whendon generate pdf

[2020-02-06 19:23] kiretd commented on #1958
@whedon generate pdf

[2020-02-06 19:23] arfon commented on #2077
@whedon generate pdf

[2020-02-06 19:23] whedon commented on #1958
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01958/joss.01958/10.21105.joss.01958.pdf)

[2020-02-06 19:24] whedon commented on #2077
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02077/joss.02077/10.21105.joss.02077.pdf)

[2020-02-06 19:30] kiretd commented on #1958
@dfm Hey, sorry about this, but I think I need help including figures in the pdf. Using standard markdown syntax (same as the example given on the submission instructions page), whedon spits out the error a few posts above. I switched to html because it was also the only method that allowed me to resize the images, and now the pdf compiles without images. Hopefully I'm just missing something reall

[2020-02-06 19:36] pkofod commented on #1816
That makes sense. I'm fine with the current state, just wanted to be sure what the intention was. So looks good to me.

[2020-02-06 19:46] dfm commented on #1958
@kiretd: I just opened a pull request fixing the syntax.

[2020-02-06 20:55] marcosvital commented on #2069
Hi, @kthyng ! Yes, I can handle this one.

[2020-02-06 21:32] pdebuyl commented on #2072
@drvinceknight I can't tick the boxes in the review checklist. From memory, I was able to edit the checklist directly in my earlier work with JOSS. Is there anything that I should do to get the authorization?

[2020-02-06 22:10] scwest commented on #2044
I have updated the repository with the edit suggestions from @rhagenson. The Makefile and unused variable suggestions from @wrathematics have also been added.

[2020-02-06 22:28] melissawm commented on #1865
@cdeline thanks for the clarification. I believe in this case, this is ok. I'm sorry as I'm not familiar with the US government licensing terms.

I'll wait for a few more days and if we don't get an answer I'll ask another reviewer to complete the review.

[2020-02-06 22:32] melissawm commented on #1912
Thank you both, @matbesancon and @juliohm !

[2020-02-06 22:43] melissawm commented on #1912
@kirui93 before we finish, can I ask you to look into some details?
- In the first paragraph of the summary, the word "generation" in "scenario generation" is broken; can you fix this?
- In the reference Høyland, K., & Wallace, S. W. (2001) there is a typo in the word Science in "Management Sceince"
- In the reference Kovacevic, R. M., & Pichler, A. (2015), I believe you're missing a 235 as the ci

[2020-02-06 23:05] kirui93 commented on #1912
@melissawm Thanks for the comments.
* Is there a way to prevent a word break really in a markdown document?

[2020-02-06 23:24] kirui93 commented on #1912
@whedon generate pdf

[2020-02-06 23:25] whedon commented on #1912
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01912/joss.01912/10.21105.joss.01912.pdf)

[2020-02-06 23:26] kirui93 commented on #1912
@melissawm  I think I have got it.
I have corrected everything.

[2020-02-06 23:44] kiretd commented on #1958
@dfm Thanks so much. It looks like the images just needed to be in the same folder for whedon to find them?
Also, is there no way to resize the images with markdown syntax? I assume the latex conversion won't work if the images are included using html syntax.

[2020-02-06 23:46] kiretd commented on #1958
@whedon generate pdf

[2020-02-06 23:47] whedon commented on #1958
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01958/joss.01958/10.21105.joss.01958.pdf)

[2020-02-06 23:49] kiretd commented on #1958
Ok, I think everything should be ready for review. I believe we addressed everything from the last review. Thanks again @dfm and @effigies !

[2020-02-07 00:01] miketuri commented on #1988
Hello @kthyng and @katyhuff,
I took a look at the list of editors and perhaps @labarba may be a good fit.  This Perl script package works with *ngspice* (a version of Spice also used for mathematical modeling of circuits) and the Monte Carlo/parameter variation support offered by these scripts could be classified as applied math.  Thank you

[2020-02-07 00:14] labarba commented on #1988
I am not able to edit this.

[2020-02-07 00:52] karthik commented on #1816
@joshday Can you please check the references and make sure it is parsing correctly?

[2020-02-07 00:57] gbertoldo commented on #1701
Dear, @HaoZeke, @dham and @meg-simula,

I hope I finished the corrections. If there are other issues, please, let me know.

[2020-02-07 01:07] 1313e commented on #2004
@kthyng I am not entirely sure why, but when I go to the paper [here](https://joss.theoj.org/papers/10.21105/joss.02004), the citation information and the BibTeX entry are kinda messed up (wrong year, volume and issue).
I initially thought that this is maybe caused by the paper just being published, but the other just-published papers do not seem to have that problem.
Any ideas what this is?

[2020-02-07 02:11] arfon commented on #2004
I'm not entirely sure @1313e. I've fixed this manually for now and will investigate.

[2020-02-07 02:43] whedon opened #2078 "[PRE REVIEW]: LATTE: Lightcurve Analysis Tool for Transiting Exoplanets"
**Submitting author:** @noraeisner (<a href="http://orcid.org/0000-0002-9138-9028">N. L. Eisner</a>)
**Repository:** <a href="https://github.com/noraeisner/LATTE" target ="_blank">https://github.com/noraeisner/LATTE</a>
**Version:** v0.0.12
**Editor:** @xuanxu
**Reviewers:** @christinahedges, @aureliocarnero
**Managing EiC:** Arfon Smith

**Author instructions**

Thanks for submitting your paper t

[2020-02-07 02:43] whedon commented on #2078
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-02-07 02:43] whedon commented on #2078
PDF failed to compile for issue #2078 with the following error:

 Can't find any papers to compile :-(

[2020-02-07 02:43] ashipunov commented on #2070
Thanks, I have checked it.

AS

пт, 7 февр. 2020 г. в 01:02, whedon <notifications@github.com>:

[2020-02-07 02:43] whedon commented on #2078
[code]

[2020-02-07 02:44] arfon commented on #2078
@whedon generate pdf

[2020-02-07 02:45] whedon commented on #2078
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02078/joss.02078/10.21105.joss.02078.pdf)

[2020-02-07 02:45] whedon commented on #2078
[code]

[2020-02-07 02:47] arfon commented on #2078
:wave: @noraeisner. Thanks for your submission to JOSS!

Can you tell me if this paper has an accompanying paper with AAS journals?

[2020-02-07 03:46] majensen commented on #1979
Thanks @titipata  - JOSS requires the author list in the paper to be the same as the author list in the archive. I think it's great to give credit to your contributors, but I think GitHub handles that pretty well, so I would suggest updating the archive metadata author list to include just the 3 on your initial submission.

[2020-02-07 04:59] gioacchinowang commented on #1889
@dfm @arfon Dear all, I'd like to wait for a few weeks, there is no hurry in this, I'll let you know when the AAS article gets published, thanks!

[2020-02-07 05:48] titipata commented on #1979
@majensen thank you so much! I updated the metadata author list to 3, the same as in the submission in Pubmed Parser 0.2.2.

[2020-02-07 07:31] csoneson commented on #2055
@whedon assign @fabian-s as reviewer

[2020-02-07 07:31] whedon commented on #2055
OK, @fabian-s is now a reviewer

[2020-02-07 07:31] csoneson commented on #2055
@whedon add @LTLA a reviewer

[2020-02-07 07:31] whedon commented on #2055
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-02-07 07:32] csoneson commented on #2055
@whedon add @LTLA as reviewer

[2020-02-07 07:32] whedon commented on #2055
OK, @LTLA is now a reviewer

[2020-02-07 07:33] csoneson commented on #2055
Ok @PhilBoileau , we have our two reviewers. Thanks @fabian-s and @LTLA for accepting! I'll open the review issue where the actual review will take place.

[2020-02-07 07:34] csoneson commented on #2055
@whedon start review

[2020-02-07 07:34] whedon opened #2079 "[REVIEW]: scPCA: A toolbox for sparse contrastive principal component analysis in R"
**Submitting author:** @PhilBoileau (<a href="http://orcid.org/0000-0002-4850-2507">Philippe Boileau</a>)
**Repository:** <a href="https://github.com/PhilBoileau/scPCA" target ="_blank">https://github.com/PhilBoileau/scPCA</a>
**Version:** v1.1.10
**Editor:** @csoneson
**Reviewer:** @fabian-s, @LTLA
**Archive:** <a href="https://doi.org/10.5281/zenodo.3686201" target="_blank">10.5281/zenodo.368620

[2020-02-07 07:34] whedon commented on #2055
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2079.

[2020-02-07 07:34] #2055 closed

[2020-02-07 07:34] whedon commented on #2079
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @fabian-s, @LTLA it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curre

[2020-02-07 07:34] whedon commented on #2079
[code]

[2020-02-07 07:35] whedon commented on #2079
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02079/joss.02079/10.21105.joss.02079.pdf)

[2020-02-07 07:36] csoneson commented on #2079
👋 @fabian-s, @LTLA - this is where the review takes place. Your checklists, together with additional instructions, are available in the first post above. Don't hesitate to ping me if you have questions.

@PhilBoileau - please also have a look at the reviewer checklist and make sure that nothing is missing from your repository (if so, you can fix it already now to simplify the review process)

[2020-02-07 08:01] drvinceknight commented on #2072
That's strange, I've just checked and I can tick them so I'd assume you can because I believe you have all the necessary authorisation. Could you double check and also perhaps try on a different browser?

[2020-02-07 08:34] natir commented on #2076
Hello @lpantano I having some little trouble with the contents of this paper. If I clearly understand the openjournals review process I need to create issue in the paper's repository.

Sorry It's the first time I review for openjournals

[2020-02-07 08:42] VivianePons commented on #2065
Hi @pkofod you were suggested as a potential reviewer for this submission into JOSS (The Journal of Open Source Software), would you be interested in carrying it out?

JOSS is a free, open-source, community driven and developer-friendly online journal
(no publisher is seeking to raise revenue from the volunteer labor of researchers!).

The review process at JOSS is unique: it is open and author-re

[2020-02-07 09:12] pdebuyl commented on #2072
My bad @drvinceknight I needed to renew my invitation to the reviewers group. I thought that it would not be needed for reviewers having already served.

[2020-02-07 09:37] whedon opened #2080 "[PRE REVIEW]: Tamaas: a library for elastic-plastic contact of periodic rough surfaces"
**Submitting author:** @prs513rosewood (<a href="http://orcid.org/0000-0002-4138-1052">Lucas Frérot</a>)
**Repository:** <a href="https://c4science.ch/source/tamaas/" target ="_blank">https://c4science.ch/source/tamaas/</a>
**Version:** 2.0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @likask, @agshvarts, @srmnitc, @chennachaos
**Managing EiC:** Kevin M. Moerman

**Author instructions**

T

[2020-02-07 09:37] whedon commented on #2080
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-02-07 09:38] whedon commented on #2080
PDF failed to compile for issue #2080 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2080 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-9847f98e9ec6/lib/whedo

[2020-02-07 09:38] whedon commented on #2080
[code]

[2020-02-07 09:38] Kevin-Mattheus-Moerman commented on #2080
@whedon assign @Kevin-Mattheus-Moerman as editor

[2020-02-07 09:38] whedon commented on #2080
OK, the editor is @Kevin-Mattheus-Moerman

[2020-02-07 09:38] whedon commented on #2080
[code]

[2020-02-07 09:40] Kevin-Mattheus-Moerman commented on #2080
@openjournals/dev can you advise on what is going wrong with paper compilation?

[2020-02-07 09:43] Kevin-Mattheus-Moerman commented on #1262
@whedon set 10.5281/zenodo.3637546 as archive

[2020-02-07 09:43] whedon commented on #1262
OK. <a href="https://doi.org/10.5281/zenodo.3637546" target="_blank">10.5281/zenodo.3637546</a> is the archive.

[2020-02-07 09:43] Kevin-Mattheus-Moerman commented on #1262
@whedon set v1.1.0 as version

[2020-02-07 09:44] whedon commented on #1262
OK. v1.1.0 is the version.

[2020-02-07 09:46] Kevin-Mattheus-Moerman commented on #1262
@ybayle looks like we are all set.

[2020-02-07 09:46] Kevin-Mattheus-Moerman commented on #1262
@whedon accept

[2020-02-07 09:46] whedon commented on #1262
[code]

[2020-02-07 09:46] whedon commented on #1262
[code]

[2020-02-07 09:46] Kevin-Mattheus-Moerman commented on #1262
@openjournals/jose-eics this paper is ready to be processed

[2020-02-07 09:47] whedon commented on #1262
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1281

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1281, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-02-07 09:47] Kevin-Mattheus-Moerman commented on #1262
@openjournals/joss-eics this paper is ready to be processed

[2020-02-07 09:48] whedon opened #2081 "[PRE REVIEW]: turtleFSI: A Robust and Monolithic FEniCS-based Fluid-Structure Interaction Solver"
**Submitting author:** @albansouche (<a href="http://orcid.org/0000-0001-7547-7979">Alban Souche</a>)
**Repository:** <a href="https://github.com/KVSlab/turtleFSI.git" target ="_blank">https://github.com/KVSlab/turtleFSI.git</a>
**Version:** v1.3
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @nathanquinlan, @chennachaos, @JaroslavHron
**Managing EiC:** Kevin M. Moerman

**Author instructions*

[2020-02-07 09:48] whedon commented on #2081
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-02-07 09:49] whedon commented on #2081
[code]

[2020-02-07 09:49] Kevin-Mattheus-Moerman commented on #2081
@whedon assign @Kevin-Mattheus-Moerman as editor

[2020-02-07 09:49] whedon commented on #2081
OK, the editor is @Kevin-Mattheus-Moerman

[2020-02-07 09:49] whedon commented on #2081
[code]

[2020-02-07 09:49] whedon commented on #2081
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02081/joss.02081/10.21105.joss.02081.pdf)

[2020-02-07 09:51] torressa opened #2082 "@torressa @poulson I only found a couple of small issues:"
@torressa @poulson I only found a couple of small issues:

[ ] **Installation instructions:** `pip install cspy` does not automatically install the dependencies (tried on a clean pyenv)

[ ] **Example usage:** a couple of the examples in the API docs have errors.
  * [BiDirectional](https://cspy.readthedocs.io/en/latest/api/cspy.BiDirectional.html#example): replace `import cspy` with `from cspy im

[2020-02-07 09:51] whedon commented on #2082
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-02-07 09:52] whedon commented on #2082
PDF failed to compile for issue #2082 with the following error:

 Can't find any papers to compile :-(

[2020-02-07 09:52] #2082 closed

[2020-02-07 09:58] henrikmidtiby commented on #1654
@kthyng We would like to withdraw this submission. The new submission #2056 is meant to replace this submission.

[2020-02-07 09:59] drvinceknight commented on #2072
No problem, glad it's sorted :+1:

[2020-02-07 10:01] torressa commented on #1655
Thanks @hausen for the comments.
Will sort them out in the weekend.

[2020-02-07 10:03] Kevin-Mattheus-Moerman commented on #2081
@albansouche thanks for your submission! I'll be handling this submission. We'll first review the work for scope and if we deem it suitable for JOSS I'll work to find reviewers.
In the meantime, you could troubleshoot that missing DOI listed above. You can run `@whedon generate pdf` to update the proof here yourself.

[2020-02-07 10:19] sjpfenninger commented on #2039
@whedon add @scivision as reviewer

[2020-02-07 10:19] whedon commented on #2039
OK, @scivision is now a reviewer

[2020-02-07 10:20] sjpfenninger commented on #2039
@whedon start review

[2020-02-07 10:20] whedon opened #2083 "[REVIEW]: RADWave: Python code for ocean surface wave analysis by satellite radar altimeter"
**Submitting author:** @CourtneySmith32 (<a href="http://orcid.org/0000-0002-9556-6626">Courtney Smith</a>)
**Repository:** <a href="https://github.com/pyReef-model/RADWave" target ="_blank">https://github.com/pyReef-model/RADWave</a>
**Version:** v1.0.0
**Editor:** @sjpfenninger
**Reviewer:** @bradyrx, @scivision
**Archive:** <a href="https://doi.org/10.5281/zenodo.3733848" target="_blank">10.528

[2020-02-07 10:20] whedon commented on #2039
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2083.

[2020-02-07 10:20] #2039 closed

[2020-02-07 10:20] whedon commented on #2083
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @bradyrx, @scivision it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2020-02-07 10:21] whedon commented on #2083
[code]

[2020-02-07 10:21] sjpfenninger commented on #2039
@bradyrx and @scivision, thanks for agreeing to review! Head over to the review issue #2083 for the review process. Let me know if you have any questions!

[2020-02-07 10:21] whedon commented on #2083
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02083/joss.02083/10.21105.joss.02083.pdf)

[2020-02-07 11:09] mmrabe commented on #2041
@whedon generate pdf

[2020-02-07 11:10] whedon commented on #2041
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02041/joss.02041/10.21105.joss.02041.pdf)

[2020-02-07 12:02] oxinabox commented on #1956
DOI: 10.5281/zenodo.3648713
Version 0.5.4

Thanks

[2020-02-07 12:06] Cadair commented on #1832
@whedon generate pdf from branch joss_paper

[2020-02-07 12:06] whedon commented on #1832
[code]

[2020-02-07 12:07] whedon commented on #1832
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01832/joss.01832/10.21105.joss.01832.pdf)

[2020-02-07 12:12] will-rowe commented on #1956
Thanks @oxinabox . The author names on the archive should match the paper authors please

[2020-02-07 12:13] Cadair commented on #1832
@arfon other than the author list breaking the sidebar, it also seems the footer with the author names in etc has got the `[` from the footnote syntax after my name?

[2020-02-07 12:16] HaoZeke commented on #1701
Sorry for the delay @gbertoldo. Everything seems to be in order, except for the minor issue raised.

[2020-02-07 12:16] mmrabe commented on #2041
Hi @marcosvital,

Thanks a lot for handling this submission. The paper proof looked fine except for two minor issues in the bibliography, which I just fixed.

I have browsed the list of potential reviewers and would like to suggest the following (in no particular order):

- tomfaulkenberry
- MikeLydeamore
- njtierney
- rmhogervorst
- JonathanReardon
- lindemann09
- janfreyberg

Best regards,
Max

[2020-02-07 12:20] HaoZeke commented on #1843
@shah314 Thank you for making the changes. I have completed my review and am pleased to recommend this for publication in its current state in JOSS. @jedbrown

[2020-02-07 13:02] danielskatz commented on #1979
The other option would be to add the others to the paper as well.  We just want these to be consistent.

[2020-02-07 13:51] crawfordsm commented on #1832
In case you still need it, the ApJ Doi is:

DOI: 10.3847/1538-4357/ab4f7a

[2020-02-07 14:22] oxinabox commented on #1956
I am not sure what is controlling the names in the archive.
All the people who as not listed on the paper, who are listed in the archive have made only small corrections to the spelling in the Readme or comments. (Bar one who made a [small fix](https://github.com/JuliaText/WordTokenizers.jl/commit/e3f8d936053f612bd9bf2326b9f35e53fc15c354) to a correr case in the regex.)
These changes are appreciat

[2020-02-07 14:28] will-rowe commented on #1956
No - you can have the author list as you'd like it (i.e. your in paper). I'm not sure why zenodo has autofilled in all of those authors. You can click edit on the zenodo page and then manually remove the authors which are not on your paper.

[2020-02-07 14:33] Chilipp commented on #2042
Hey everyone! My apologies for the delay! I am done with the review and I highly appreciate your work here! MetSim seems to be a very valuable tool for downscaling meterology and I hope that you will provide a methodologic paper (i.e. where you describe the scientific details of your method) at some point as well!

The code-base and the documentation of this package is in a good condition and I co

[2020-02-07 14:34] danielskatz commented on #1956
You can use a zenodo.json file to tell zenodo what you want automatically, but it's not as easy as it should be be - see https://github.com/zenodo/zenodo/issues/1606 for some discussion on this

[2020-02-07 14:54] arnavs commented on #2065
@whedon generate pdf

[2020-02-07 14:55] whedon commented on #2065
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02065/joss.02065/10.21105.joss.02065.pdf)

[2020-02-07 14:55] oxinabox commented on #1956
Ok, should be fixed

[2020-02-07 14:58] shalinshah1993 commented on #2026
Dear @csoneson,  just following up if we have any progress here?

[2020-02-07 14:59] dfm commented on #1958
Since @mnarayan seems to have lost track of this review, I'm currently looking for another referee and I'll keep you all posted.

[2020-02-07 15:00] dfm commented on #1958
@effigies: Thanks for your review so far! When you get a chance, please take a look at the changes that @kiretd has made and continue through the checklist. Thanks again!

[2020-02-07 15:08] sjpfenninger commented on #2034
I'm aware of the delay I'm injecting here. I'll get my review done next week!

[2020-02-07 15:10] csoneson commented on #2026
@shalinshah1993 I'd like to hear from @RealPolitiX as well. I have reached out for an update via email.

[2020-02-07 15:11] arfon commented on #1832
@Cadair - this PR should fix the footnote: https://github.com/sunpy/sunpy/pull/3774

[2020-02-07 15:23] noraeisner commented on #2078
Hi Arfon! No, this paper doesn't have an accompanying AAS paper.

[2020-02-07 15:44] jedbrown commented on #2047
What would you think of adding an MMS module to this package, wherein a user passes in an analytic displacement field and this package can return the body force for a couple material models, with optional export to C/Fortran (as provided by SymPy). I think this software would be a lot more compelling and exciting with that infrastructure, and would have an obvious venue for contributors to get inv

[2020-02-07 15:52] Cadair commented on #1832
@crawfordsm or @arfon the bibtex for the AAS reference is also incomplete. Now we have a DOI do we have access to the full reference bibtex?

[2020-02-07 16:13] RealPolitiX commented on #2026
Nice work, ready for publication

[2020-02-07 16:36] PhilBoileau commented on #2079
@csoneson - Thank you for organizing the review process! I reviewed the checklist, the `scPCA` package satisfies all the requirements.

@fabian-s, @LTLA - Thank you for volunteering to review our package. We're looking forward to receiving your feedback.

[2020-02-07 17:03] arfon commented on #2080
I think this a regression I recently introduced. Trying to fix now. In the meantime, simply asking Whedon to generate the proof should work fine.

[2020-02-07 17:03] arfon commented on #2080
@whedon generate pdf

[2020-02-07 17:04] whedon commented on #2080
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02080/joss.02080/10.21105.joss.02080.pdf)

[2020-02-07 17:07] shah314 commented on #1843
@HaoZeke Thank you very much for the review!

[2020-02-07 17:30] will-rowe commented on #1956
@whedon set 10.5281/zenodo.3648713 as archive

[2020-02-07 17:30] whedon commented on #1956
OK. <a href="https://doi.org/10.5281/zenodo.3648713" target="_blank">10.5281/zenodo.3648713</a> is the archive.

[2020-02-07 17:30] will-rowe commented on #1956
@whedon set v0.5.4 as version

[2020-02-07 17:30] whedon commented on #1956
OK. v0.5.4 is the version.

[2020-02-07 17:32] will-rowe commented on #1956
Thanks @oxinabox for a nice submission. And many thanks to @leios and @ninjin for your excellent reviews.

Pinging @openjournals/joss-eics to move this to acceptance

[2020-02-07 18:13] dfm commented on #1958
@sauln has agreed to take over for mnarayan. Thanks @sauln!

I'll add you as a reviewer and update the checklist. Please let me know if you have any questions or issues as you review.

[2020-02-07 18:13] dfm commented on #1958
@whedon remove @mnarayan as reviewer

[2020-02-07 18:13] whedon commented on #1958
OK, @mnarayan is no longer a reviewer

[2020-02-07 18:14] dfm commented on #1958
@whedon add @sauln as reviewer

[2020-02-07 18:14] whedon commented on #1958
OK, @sauln is now a reviewer

[2020-02-07 18:16] shirubana commented on #1865
Awesome! Thank you Chris and @melissawm   Looking forward to getting the review process unstuck and finished 💃

[2020-02-07 18:41] titipata commented on #1979
@danielskatz thanks! We have discussed and decided to include 3 main contributors in our paper. I edited Zenodo accordingly. This should be consistent with the JOSS submission :) Let me know if there is any concern regarding our decision!

[2020-02-07 19:00] DavidLitwin commented on #1935
@kbarnhart I think that should be fine, right? @kthyng zenodo seems to be having some trouble right now, but the DOI is 10.5281/zenodo.154179.

[2020-02-07 19:01] shah314 commented on #1843
@jedbrown Can you please update the name on the JOSS website? It still shows the old name.

https://joss.theoj.org/papers/07cf7b3c7dc9037ad19f0b2ae81cde14

Thank you!

[2020-02-07 19:20] jedbrown commented on #1843
I think it'll be straightforward or automatic upon acceptance -- I can't change that item on the website, but our EiC can when we accept (if it isn't automatic).

@ProbShin How is your review coming? Is there anything we can do to facilitate?

[2020-02-07 19:39] MAnalytics commented on #2019
@karthik all comments addressed!
Thank you very much.

[2020-02-07 19:43] whedon opened #2084 "[PRE REVIEW]: SARAS: A general-purpose PDE solver for fluid dynamics"
**Submitting author:** @roshansamuel (<a href="http://orcid.org/0000-0002-1280-9881">Roshan Samuel</a>)
**Repository:** <a href="https://github.com/roshansamuel/saras" target ="_blank">https://github.com/roshansamuel/saras</a>
**Version:** v1.0
**Editor:** @kyleniemeyer
**Reviewers:** @harpolea, @dlagrava
**Managing EiC:** Kristen Thyng

**Author instructions**

Thanks for submitting your paper to

[2020-02-07 19:43] whedon commented on #2084
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-02-07 19:43] whedon commented on #2084
[code]

[2020-02-07 19:43] whedon commented on #2084
[code]

[2020-02-07 19:43] whedon commented on #2084
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02084/joss.02084/10.21105.joss.02084.pdf)

[2020-02-07 19:45] kthyng commented on #2084
@whedon invite @kyleniemeyer as editor

[2020-02-07 19:45] whedon commented on #2084
@kyleniemeyer has been invited to edit this submission.

[2020-02-07 19:45] kthyng commented on #2084
@kyleniemeyer You were suggested — can you take this one on?

[2020-02-07 19:45] whedon opened #2085 "[PRE REVIEW]: mimosa: A Modern Graphical User Interface for 2-level Mixed Models"
**Submitting author:** @johannes-titz (<a href="http://orcid.org/0000-0002-1102-5719">Johannes Titz</a>)
**Repository:** <a href="https://github.com/johannes-titz/mimosa" target ="_blank">https://github.com/johannes-titz/mimosa</a>
**Version:** v0.2.0
**Editor:** @cMadan
**Reviewers:** @strengejacke, @aj2duncan
**Managing EiC:** Kristen Thyng

**Author instructions**

Thanks for submitting your pa

[2020-02-07 19:45] whedon commented on #2085
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

[2020-02-07 19:46] whedon commented on #2085
[code]

[2020-02-07 19:46] whedon commented on #2085
[code]

[2020-02-07 19:46] whedon commented on #2085
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02085/joss.02085/10.21105.joss.02085.pdf)

[2020-02-07 19:48] kthyng commented on #2085
@whedon invite @cMadan as editor

[2020-02-07 19:48] whedon commented on #2085
@cMadan has been invited to edit this submission.

[2020-02-07 19:48] kthyng commented on #2085
@cMadan Could you evaluate this submission as editor?

[2020-02-07 19:58] kthyng commented on #1988
@VivianePons would you look into editing this submission?

[2020-02-07 19:59] joshday commented on #1816
@karthik I've fixed the reference issues!

[2020-02-07 20:06] kbarnhart commented on #1935
@DavidLitwin I don't think that is the correct DOI.

That looks like the DOI for v1.0.1.

[2020-02-07 20:33] majensen commented on #1979
@titipata great!

[2020-02-07 20:34] majensen commented on #1979
@whedon set 10.5281/zenodo.3648715 as archive

[2020-02-07 20:34] whedon commented on #1979
OK. <a href="https://doi.org/10.5281/zenodo.3648715" target="_blank">10.5281/zenodo.3648715</a> is the archive.

[2020-02-07 20:35] majensen commented on #1979
@whedon set 0.2.2 as version

[2020-02-07 20:35] whedon commented on #1979
OK. 0.2.2 is the version.

[2020-02-07 20:35] DavidLitwin commented on #1935
@kbarnhart do you have the correct one? That's the one that appears in the readme for landlab on github, and I can't find anything past 1.5.4 with a DOI on zenodo.

[2020-02-07 20:36] majensen commented on #1979
@openjournals/joss-eics, the reviewers and I recommend this work for publication; please review. Thanks!

[2020-02-07 20:45] kbarnhart commented on #1935
@DavidLitwin I would manually make a Zenodo archive rather than use the auto-created Zenodo archive that sometimes get made when a new tag is created.

I also say this because I know in the [JOSS docs](https://joss.readthedocs.io/en/latest/editing.html#after-reviewers-recommend-acceptance) there is a statement that the title and authors of the zenodo archive should match. The docs say:

So I think

[2020-02-07 21:33] karthik commented on #1816
@whedon check references

[2020-02-07 21:33] whedon commented on #1816
[code]

[2020-02-07 21:58] joshday commented on #1816
I've fixed the invalid DOI.

The "missing" DOI I believe is in error, as I'm citing the actual software.  The above DOI is for a book chapter in "Beginning Apache Spark 2", which is not what I'm citing.

[2020-02-07 22:06] kthyng commented on #1956
@oxinabox I'm taking over for the rest of your submission. Can you edit the Zenodo data a little more, so that the title matches that of your paper?

[2020-02-07 22:14] kthyng commented on #1956
@oxinabox I've made some changes to your text and bib file in PRs. Please merge what you agree with: [#47](https://github.com/JuliaText/WordTokenizers.jl/pull/47) and [#48](https://github.com/JuliaText/WordTokenizers.jl/pull/48)

[2020-02-07 22:29] karthik commented on #1816
If the software doesn't have a DOI, I think we can skip it but I'll tag @arfon in case he can help.

[2020-02-07 22:32] arfon commented on #1816
This sounds fine. The DOI search/recommender is just using the Crossref API looking for similar titles.

[2020-02-07 22:36] karthik commented on #1816
@whedon generate pdf

[2020-02-07 22:36] whedon commented on #1816
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01816/joss.01816/10.21105.joss.01816.pdf)

[2020-02-07 22:44] kthyng commented on #1979
@whedon generate pdf

[2020-02-07 22:45] whedon commented on #1979
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01979/joss.01979/10.21105.joss.01979.pdf)

[2020-02-07 22:57] kthyng commented on #1979
@titipata Your paper looked good but your references had typos. I fixed them in a PR. See if you want to merge the changes: [#86](https://github.com/titipata/pubmed_parser/pull/86)

[2020-02-07 23:13] karthik commented on #1816
LGTM

[2020-02-07 23:14] karthik commented on #1816
Ready to accept. Over you to @openjournals/joss-eics

[2020-02-07 23:15] pySRURGS commented on #2074
@iljah @nicoguaro
I have made the corrections you suggested. Please review the readme as it has been edited. Please review the ant.py example file as it has been greatly altered. It now has an interface that you can use from command line and this is discussed in the readme.

[2020-02-07 23:40] oxinabox commented on #1956
done, thanks good changes

[2020-02-07 23:58] Kevin-Mattheus-Moerman commented on #2060
@JoshuaSteer
See my earlier comments and these additional comments.
- [ ] Can you work on adding clear contributing guidelines? (one of mine for example is here: https://github.com/gibbonCode/GIBBON/blob/master/CONTRIBUTING.md you can link to this in the readme). But you can be as brief/extensive as you want. Perhaps you can link to Python style standards. You can search around a bit for what is c

[2020-02-08 00:02] nicoguaro commented on #2074
I guess that the line

    $ winpty python ant.py -h

is for Windows (?).

I ran

    $ python ant.py

and obtained

[code]

[2020-02-08 00:09] pySRURGS commented on #2074
@nicoguaro
Yes winpty is for windows and has no effect on my code's function.
That is odd, and your error message is not that helpful. If the script is in the current directory and you are running it from terminal then I am not sure the cause of the error. I don't want to come across dismissive but did you `git pull` before running?

[2020-02-08 00:10] pySRURGS commented on #2074
Oh nevermind i accidentally removed a line, let me fix.

[2020-02-08 00:13] pySRURGS commented on #2074
It is working fine on my end. If you are unable to run the code after git pulling and doing some sanity checks I can run on Linux later.

[2020-02-08 00:40] mbobra commented on #2004
It also looks like [the tweet](https://twitter.com/JOSS_TheOJ/status/1225459954410192897) has the wrong citation information.