[2018-10-09 18:10] ygrange commented on #997
Looks really interesting and relevant. I have to admit though that available time may be an issue for me.

[2018-10-09 18:35] DiegoKoz commented on #926
### minor detail
 in the documentation of the functions, the `regressors` param, it says "curreny", I think it is repeated in all the functions.

### Mayor issue
 It's kind of problematic that the function renames the first input from the `regressors` param, and always assume that is a distance. It would be better to add the parameter `distance`, as you added the `incomes` as a separate thing.  Fo

[2018-10-09 18:38] jedbrown commented on #986
Thanks for adding the paper @fospald and working with Whedon to get it built. I'm currently reaching out to potential reviewers. Additional suggestions would be welcome. Once we have reviewers, the conversation will move to a new REVIEW issue where they will be able to provide feedback and recommendations.

[2018-10-09 18:58] arfon commented on #997
Do you feel able to give an independent review of this software? If so, we can give a waiver in this case.

[2018-10-09 19:11] DiegoKoz commented on #926
Also, I don't understand why you choose to return de summary of the models instead of the object? From what I see, this is general for all the functions. Returning the object you fit would allow the users to predict, make intervals, etc. And also use the `moldr` and `broom` packages.

[2018-10-09 19:14] pachamaltese commented on #926
@DiegoKoz I'm gonna add you to contributors!! The summary was to do exactly what the Stata package does, and you are right that "free translation" would be better

[2018-10-09 19:31] pachamaltese commented on #926
The summary was to do exactly what the Stata package does, and you are right that "free translation" would be better

[2018-10-09 19:45] DiegoKoz commented on #926
@pachamaltese I think adding the reviewer as a contributor would emerge a conflict of interests (right @yochannah ?) but thanks anyway!!

### minor detail
The example in `?nbpml()` is not done _the tidy way_ as the rest of the documentation.

### detail
Also with `nbpml()`, my computer just crashed (twice) because of the amount of computation needed. This is because of `MASS::glm.nb()` is computat

[2018-10-09 19:51] pachamaltese commented on #926
@DiegoKoz ok, no worries!
yeah, glm eats a lot of ram, you can check inside `nbpml.R` and see the short example for CRAN (i.e. a test with a smaller dataset that takes <10 seconds)

[2018-10-09 20:14] yochannah commented on #1004
Two reviewers should be plenty - fabulous. Thanks @rrrlw for suggesting reviewers and thanks @nagoue and @tomsing1 for agreeing to review.

[2018-10-09 20:18] yochannah commented on #1004
@whedon assign @nagoue as reviewer

[2018-10-09 20:18] whedon commented on #1004
OK, the reviewer is @nagoue

[2018-10-09 20:18] yochannah commented on #1004
@whedon add @tomsing1 as reviewer

[2018-10-09 20:18] whedon commented on #1004
OK, @tomsing1 is now a reviewer

[2018-10-09 20:19] yochannah commented on #1004
@whedon start review

[2018-10-09 20:19] whedon commented on #1004
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1008. Feel free to close this issue now!

[2018-10-09 20:19] whedon opened #1008 "[REVIEW]: Visualizing alpha-helical peptides in R with helixvis"
**Submitting author:** @rrrlw (<a href="http://orcid.org/0000-0003-0503-9580">Raoul R. Wadhwa</a>)
**Repository:** <a href="https://github.com/rrrlw/helixvis" target ="_blank">https://github.com/rrrlw/helixvis</a>
**Version:** v1.0.0
**Editor:** @yochannah
**Reviewer:** @nagoue, @tomsing1
**Archive:** <a href="https://doi.org/10.5281/zenodo.1470939" target="_blank">10.5281/zenodo.1470939</a>

## S

[2018-10-09 20:20] whedon commented on #1008
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @nagoue, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2018-10-09 20:20] whedon commented on #1008
[code]

[2018-10-09 20:20] whedon commented on #1008
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01008/joss.01008/10.21105.joss.01008.pdf)

[2018-10-09 20:20] yochannah commented on #1004
okay,  @rrrlw, @nagoue and @tomsing1 - hop over to #1008 to commence the review!

[2018-10-09 20:20] #1004 closed

[2018-10-09 20:27] yochannah commented on #988
Quick status check - it looks like there are issues in the main repo mentioned directly above that are being worked on, so all is progressing nicely - ping me if there are any more questions or if we're ready to move forward 👍

[2018-10-09 20:40] DiegoKoz commented on #926
I think it's more a matter with CPU rather than RAM.

The example inside nbpml.R runs, but gives lot's of warnings like  "non-integer x = 16.451930" which lend me to this: [stackoverflow thread](https://stats.stackexchange.com/questions/164889/how-to-deal-with-non-integer-warning-from-negative-binomial-glm )
the negative binomial is used for counting. That may be one of the reasons for the ineffic

[2018-10-09 21:28] DiegoKoz commented on #926
### Minor detail.

Take this into account:
![image](https://user-images.githubusercontent.com/28060531/46699645-d9b66900-cbf0-11e8-9072-4a7b24cb546a.png)

I change "USA" for a wrong name. The error should say something about the wrong name. Probably its filtering and ending with an empty tibble that afterward gives this error message. I should be easy to check that the names are ok, right?

[2018-10-09 22:01] rrrlw commented on #1008
First off, thank you @yochannah for editing and @tomsing1, @nagoue for reviewing! Very grateful for the time and effort you all are contributing.

A couple of quick notes for the reviewers:

- The CRAN version of helixvis is very much out-of-date (will update on CRAN when the review on this thread is complete, even if helixvis is not accepted to JOSS), so please use `devtools::install_github("rrrl

[2018-10-09 23:00] jedbrown commented on #986
@whedon add @tisaac as reviewer

[2018-10-09 23:00] whedon commented on #986
OK, @tisaac is now a reviewer

[2018-10-09 23:31] jnese commented on #978
I am happy to accept at this time. Thank you.

[2018-10-10 01:34] rasbt commented on #934
@yochannah  @nbokulich  Everything is fine from my side. The examples work and I just ran the unit tests -- except for some warnings in sklearn there are no issues :). So, from my side, it's good to go :)

[2018-10-10 01:35] malramsay64 commented on #935
@mpurg The updates you have been making to the code are all great. There is still the documentation which needs more explanation aimed at a new user. Feel free to get in contact if you want some ideas or feedback as you make changes.

[2018-10-10 03:12] kbarnhart commented on #979
@whedon generate pdf

[2018-10-10 03:12] whedon commented on #979
[code]

[2018-10-10 03:13] whedon commented on #979
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00979/joss.00979/10.21105.joss.00979.pdf)

[2018-10-10 04:52] jasonclark commented on #943
@jaynanavati No worries. Thanks for the note.

[2018-10-10 04:55] jasonclark commented on #943
@corybrunson Would you be available to review the VIVO software? We would be looking for a review in the next few weeks. Thanks for considering. cc @mconlon17

[2018-10-10 05:49] Robinlovelace commented on #926
I might be able to help with this. could take a few months though if you need a review.

[2018-10-10 06:19] drvinceknight commented on #904
@whedon generate pdf

[2018-10-10 06:19] whedon commented on #904
[code]

[2018-10-10 06:19] whedon commented on #904
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00904/joss.00904/10.21105.joss.00904.pdf)

[2018-10-10 06:20] drvinceknight commented on #904
Thank you @labarba, here is the zenodo archive: https://zenodo.org/record/1453761

DOI: [10.5281/zenodo.1453761](https://doi.org/10.5281/zenodo.1453761)

Let me know if I need to do anything further (and thanks again for all your time).

[2018-10-10 06:27] mpurg commented on #935
Hi @malramsay64, @kyleniemeyer, @fdroessler
I've already addressed some of the issues as well as ported the whole codebase to Py3+, but as @malramsay64 points out, the documentation needs quite some work. Unfortunately, I'm juggling this revision with studying for a final exam and preparing for my PhD defense, making the whole process at this moment painfully slow and inefficient. Considering the

[2018-10-10 07:19] strengejacke commented on #978
Yes, accept from my point of view.

[2018-10-10 07:54] DavideNardone commented on #959
@danielskatz Is eventually possibile change the handling editor? The review might take more than what it's written in the `Author Guidelines`.
Thanks.

Regards,
DN

[2018-10-10 08:51] labarba commented on #904
The author list on the Zenodo entry does not match the author list on the paper. You may need to manually edit the author list on Zenodo (which grabs that automatically from commit history, I think.)

[2018-10-10 09:33] drvinceknight commented on #904
That's been updated now.

[2018-10-10 09:50] fospald commented on #986
@jedbrown thank you for adding the reviewer!
@tisaac thank you for reviewing!

[2018-10-10 10:36] danielskatz commented on #959
Who do you suggest?

[2018-10-10 10:44] arfon commented on #978
@jrosen48 - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-10-10 10:47] whedon opened #1009 "[PRE REVIEW]: wolfexplorer: a tool for visualization and exploration of complex multi-year multi-specimen datasets"
**Submitting author:** @zkuralt (<a href="http://orcid.org/0000-0001-7201-4282">Žan Kuralt</a>)
**Repository:** <a href="https://github.com/romunov/wolfexplorer" target ="_blank">https://github.com/romunov/wolfexplorer</a>
**Version:** v0.9
**Editor:** @trallard
**Reviewers:** @amoeba

**Author instructions**

Thanks for submitting your paper to JOSS @zkuralt. The JOSS editor (shown at the top of

[2018-10-10 10:47] whedon commented on #1009
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @trallard it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-10-10 10:47] whedon commented on #1009
[code]

[2018-10-10 10:47] whedon commented on #1009
PDF failed to compile for issue #1009 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-dbdd2bfb2d31/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: tags, authors, affiliations, date, bibliography (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-dbdd2bfb2d31/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle

[2018-10-10 10:47] arfon commented on #1009
:wave: @trallard - would you be willing to edit this submission for JOSS?

[2018-10-10 10:48] whedon opened #1010 "[PRE REVIEW]: TipToft: detecting plasmids contained in uncorrected long read sequencing data"
**Submitting author:** @andrewjpage (<a href="http://orcid.org/0000-0001-6919-6062">Andrew Page</a>)
**Repository:** <a href="https://github.com/andrewjpage/tiptoft" target ="_blank">https://github.com/andrewjpage/tiptoft</a>
**Version:** v0.1.4
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @ctb, @kapsakcj, @azneto

**Author instructions**

Thanks for submitting your paper to JOSS @andrewjpag

[2018-10-10 10:48] whedon commented on #1010
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-10-10 10:48] whedon commented on #1010
[code]

[2018-10-10 10:48] whedon commented on #1010
PDF failed to compile for issue #1010 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-dbdd2bfb2d31/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-dbdd2bfb2d31/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-dbd

[2018-10-10 10:49] arfon commented on #1010
@mgymrek - would you be willing to edit this submission for JOSS?

[2018-10-10 10:49] whedon opened #1011 "[PRE REVIEW]: Ising_OPV v4.0: Experimental Tomography Data Import, Interpretation, and Analysis"
**Submitting author:** @MikeHeiber (<a href="http://orcid.org/0000-0002-1567-5663">Michael Heiber</a>)
**Repository:** <a href="https://github.com/MikeHeiber/Ising_OPV" target ="_blank">https://github.com/MikeHeiber/Ising_OPV</a>
**Version:** v4.0.0-rc.2
**Editor:** @katyhuff
**Reviewers:** @myousefi2016, @stuartcampbell, @mdoucet

**Author instructions**

Thanks for submitting your paper to JOSS

[2018-10-10 10:49] whedon commented on #1011
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @labarba it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-10-10 10:49] whedon commented on #1011
[code]

[2018-10-10 10:49] arfon commented on #1011
:wave: @labarba - the submitting author suggested you as the handling editor.

[2018-10-10 10:49] whedon commented on #1011
PDF failed to compile for issue #1011 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0    167      0 --:--:-- --:--:-- --:--:--   168
pandoc-citeproc:

[2018-10-10 10:49] trallard commented on #1009
Sure @arfon

[2018-10-10 10:58] arfon commented on #1010
@andrewjpage - please take at look at the [example paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography) in our submission requirements and format the YAML header of your paper the same way. Also, please note that YAML is white-space sensitive when making these changes.

Once you've made your changes you can ask @whedon to recompile your paper with the comman

[2018-10-10 10:59] arfon commented on #1009
@whedon needs commands to be issues in separate comments currently sorry.

[2018-10-10 10:59] arfon commented on #1009
@zkuralt - please take at look at the [example paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography) in our submission requirements and format the YAML header of your paper the same way. Also, please note that YAML is white-space sensitive when making these changes.

Once you've made your changes you can ask @whedon to recompile your paper with the command `@

[2018-10-10 11:02] trallard commented on #1009
👋🏼 Hi @zkuralt I am happy to serve as the editor for this submission. As Arfon pointed out it seems that the `title` header is not properly indented.

Also, do you have any reviewers in mind? You can see the list of reviewers using the command `@whedon list reviewers`

[2018-10-10 12:20] labarba commented on #904
👋 @arfon — this paper is accepted and ready to be published.

Many thanks to @Fil and @alex-konovalov for reviewing for JOSS. Without your efforts, this adventure in new-wave publishing would not be possible!

[2018-10-10 12:20] DavideNardone commented on #959
@jedbrown

[2018-10-10 12:34] zkuralt commented on #1009
@whedon generate pdf

[2018-10-10 12:34] whedon commented on #1009
[code]

[2018-10-10 12:34] whedon commented on #1009
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01009/joss.01009/10.21105.joss.01009.pdf)

[2018-10-10 12:42] corybrunson commented on #943
@jasonclark i'm sorry, i don't think i'll be able to right now.

[2018-10-10 12:46] paulofelipe commented on #926
Nice to know about this package. I have one suggestion. Nowadays, one of the recommendations to assess the effects of trade policy is to use pair fixed effects ([wto book](https://www.wto.org/english/res_e/booksp_e/advancedwtounctad2016_e.pdf)). However, in some settings, this can mean the user will need a method that works with high dimensional fixed effects (in ols or ppml, for example). Otherwi

[2018-10-10 13:46] Kevin-Mattheus-Moerman commented on #671
@fernandoandreotti @marianux thanks for your review efforts so far. I should stress that novelty/independence in the sense that you are indicating is not a requirement for JOSS. Would you be able to look beyond this point and please comment on the other aspects of this work? Please also tick the boxes where appropriate.

[2018-10-10 13:47] Kevin-Mattheus-Moerman commented on #671
@cMadan can you also help review this work briefly and give us your view?

[2018-10-10 13:52] Kevin-Mattheus-Moerman commented on #671
@CristianaCorsi @bzenger would you be able to assist in reviewing this submission? If so I can add tick boxes at the top of this issue for you as well.

[2018-10-10 13:56] andrewjpage commented on #1010
@whedon generate pdf

[2018-10-10 13:56] whedon commented on #1010
[code]

[2018-10-10 13:56] whedon commented on #1010
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01010/joss.01010/10.21105.joss.01010.pdf)

[2018-10-10 14:01] jason-neal commented on #938
Is there something  I need to do to progress this review?

[2018-10-10 14:07] andrewjpage commented on #1010
@whedon generate pdf

[2018-10-10 14:07] whedon commented on #1010
[code]

[2018-10-10 14:07] hamedmx commented on #892
@arfon As I can see the information for authors in author guidelines of JOSS, I created an account in figshare to upload the updated submission and got a DOI for this submission. What should I do now?

[2018-10-10 14:08] whedon commented on #1010
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01010/joss.01010/10.21105.joss.01010.pdf)

[2018-10-10 14:12] andrewjpage commented on #1010
@whedon generate pdf

[2018-10-10 14:12] whedon commented on #1010
[code]

[2018-10-10 14:12] whedon commented on #1010
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01010/joss.01010/10.21105.joss.01010.pdf)

[2018-10-10 14:16] andrewjpage commented on #1010
I would like to propose the following reviewers:
@kapsakcj
@ctb
@azneto

[2018-10-10 14:34] Kevin-Mattheus-Moerman commented on #845
@llllllllll could you give us an estimate as to when you expect to work on this review process? :rabbit: :rose: :robot:

[2018-10-10 14:37] Kevin-Mattheus-Moerman commented on #941
@maieul, @MarjorieBurghart, and @Padlina how are you getting on? Let me know if I can help with anything.

[2018-10-10 14:41] Kevin-Mattheus-Moerman commented on #966
@mwacaan can you remind us when you are able to work on this review? Thanks! :robot:

[2018-10-10 14:54] bzenger commented on #671
@Kevin-Mattheus-Moerman Sure! I am currently on vacation but would be happy to look through it next Wednesday when I am back. Does that work?

[2018-10-10 15:00] arfon commented on #904
@whedon set 10.5281/zenodo.1453761 as archive

[2018-10-10 15:00] whedon commented on #904
OK. <a href="https://doi.org/10.5281/zenodo.1453761" target="_blank">10.5281/zenodo.1453761</a> is the archive.

[2018-10-10 15:03] arfon commented on #904
@drvinceknight - can you confirm that this maths looks OK? @whedon is giving me a warning when compiling the paper [10.21105.joss.00904.pdf](https://github.com/openjournals/joss-reviews/files/2465225/10.21105.joss.00904.pdf)

[code]

[2018-10-10 15:04] llllllllll commented on #845
Sorry, really let this slip. I will review this tonight.

[2018-10-10 15:07] Kevin-Mattheus-Moerman commented on #671
@whedon add @bzenger as reviewer

[2018-10-10 15:07] whedon commented on #671
OK, @bzenger is now a reviewer

[2018-10-10 15:10] arfon commented on #938
@jason-neal - nothing at this point. We're currently waiting on some reviewers, once we have those we can proceed.

[2018-10-10 15:12] Kevin-Mattheus-Moerman commented on #671
Yes thank you @bzenger I've just added you as reviewer. We do hope to wrap this up soon but next Wednesday sounds good. Thanks!

[2018-10-10 15:12] maieul commented on #941
I will do test this week-end. But in any case, there is for a me a problem in the article about "A statement of need:". But I don't know if I need to evaluate, for this point, the software or the article.

[2018-10-10 15:13] arfon commented on #892
@jasonclark - I think this is good to accept now. Can you confirm?

[2018-10-10 15:13] Kevin-Mattheus-Moerman commented on #866
@jshermeyer we can invite anybody from the academic research community.

[2018-10-10 15:21] Kevin-Mattheus-Moerman commented on #941
Thanks @maieul. The `statement of need` is about the software of course but should be clearly present in both the paper and the documentation. If either of these do not clearly state what problems the software is designed to solve and who the target audience is, then please mention that here so the authors can work on adding these.

[2018-10-10 15:22] drvinceknight commented on #904
@arfon I confirm that that looks right. (I'd suggest that it looks like the compiler is just raising a warning before falling "up" to use a superset compiler with the amsmath library.)

[2018-10-10 15:22] Kevin-Mattheus-Moerman commented on #919
@dahtah contributors would have a potential conflict of interest. Users of the software however may not so they could be potential reviewers. I'll start the review process now but we can add new reviewers at a later stage as well.

[2018-10-10 15:23] Kevin-Mattheus-Moerman commented on #919
@whedon start review magic-word=bananas

[2018-10-10 15:23] whedon opened #1012 "[REVIEW]: imager: an R package for image processing"
**Submitting author:** @dahtah (<a href="http://orcid.org/0000-0003-0174-5058">Simon BARTHELME</a>)
**Repository:** <a href="https://github.com/dahtah/imager" target ="_blank">https://github.com/dahtah/imager</a>
**Version:** 0.42
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @jeroen
**Archive:** <a href="https://doi.org/10.5281/zenodo.3235256" target="_blank">10.5281/zenodo.3235256</a>

## S

[2018-10-10 15:23] whedon commented on #919
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1012. Feel free to close this issue now!

[2018-10-10 15:23] whedon commented on #1012
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jeroen, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2018-10-10 15:23] whedon commented on #1012
[code]

[2018-10-10 15:24] Kevin-Mattheus-Moerman commented on #866
@campagnola would you be interested in reviewing this submission for [JOSS](http://joss.theoj.org/)?

[2018-10-10 15:24] whedon commented on #1012
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01012/joss.01012/10.21105.joss.01012.pdf)

[2018-10-10 15:27] maieul commented on #941
@stenskjaer

As mentionned earlier, I think that for a journal as floss, you must be more explicit about the problem your software deals, and present at least some information about what is a critical edition.

[2018-10-10 15:42] kbarnhart commented on #979
@whedon generate pdf

[2018-10-10 15:42] whedon commented on #979
[code]

[2018-10-10 15:43] whedon commented on #979
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00979/joss.00979/10.21105.joss.00979.pdf)

[2018-10-10 15:44] jedbrown commented on #959
@whedon assign @jedbrown as editor

[2018-10-10 15:44] whedon commented on #959
OK, the editor is @jedbrown

[2018-10-10 15:48] #919 closed

[2018-10-10 16:05] arfon commented on #904
@Fil, @alex-konovalov - many thanks for your reviews here and to @labarba for editing this submission ✨

@drvinceknight - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00904 :zap: :rocket: :boom:

[2018-10-10 16:05] #904 closed

[2018-10-10 16:05] whedon commented on #904
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00904/status.svg)](https://doi.org/10.21105/joss.00904)

**We need your help!**

Journal of Open Source Softwar

[2018-10-10 16:08] drvinceknight commented on #904
Thank you all once again for your time and effort. Having reviewed a few times it's been a pleasure to be on the other side. @arfon @labarba et al. well done for what you're doing here, this "new-wave publishing" is really enthusing.

[2018-10-10 16:15] raphaelvallat commented on #999
Hi @cMadan!
Just released version 0.1.10 of Pingouin, is it possible to update the review to this version?
Thank you - Raphael

[2018-10-10 16:19] malcolmbarrett commented on #161
Hi folks, sounds like this got sorted, which is good since I wouldn't have been able to review for a few weeks, but do let me know if you end up needing help with the review in the future.

[2018-10-10 16:22] kbarnhart commented on #979
@kthyng I'm almost done but have a final question related to DOIs.

Once I know how to deal with the DOIs correctly, then the only thing I have left to do (after the reviewers confirm there is nothing left to do) is make a Landlab release that is tagged v1.5.4.

The questions I have are in two broad categories:
1.  How to best deal with archiving when the majority of the submission is in the Landl

[2018-10-10 16:22] Kevin-Mattheus-Moerman commented on #923
@whedon start review magic-word=bananas

[2018-10-10 16:22] whedon opened #1013 "[REVIEW]: Embeddings.jl: easy access to pretrained word embeddings from julia"
**Submitting author:** @oxinabox (<a href="http://orcid.org/0000-0003-1386-1646">Lyndon White</a>)
**Repository:** <a href="https://github.com/JuliaText/Embeddings.jl/" target ="_blank">https://github.com/JuliaText/Embeddings.jl/</a>
**Version:** 0.3.1
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @aviks
**Archive:** <a href="https://doi.org/10.5281/zenodo.2633789" target="_blank">10.5281/zeno

[2018-10-10 16:22] whedon commented on #923
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1013. Feel free to close this issue now!

[2018-10-10 16:22] whedon commented on #1013
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @aviks it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curre

[2018-10-10 16:22] whedon commented on #1013
[code]

[2018-10-10 16:22] #923 closed

[2018-10-10 16:23] whedon commented on #1013
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01013/joss.01013/10.21105.joss.01013.pdf)

[2018-10-10 17:06] karinlag commented on #955
Checked off a few more, comfortable to move forward.

[2018-10-10 17:18] arvestad commented on #955
Thanks @karinlag !
I'd just like to point out that the remaining non-checked item is about community guidelines and based on Karin's feedback I have added a file CONTRIBUTING.md (see https://github.com/arvestad/alv/blob/master/CONTRIBUTING.md) that I believe meets the requested needs.

[2018-10-10 17:29] karinlag commented on #955
Hadn't caught that, good to proceed!

[2018-10-10 17:35] jrosen48 commented on #978
Thank you @strengejacke and @jnese for lending your time and expertise - the package is better and I appreciate the feedback you provided in terms of revisions to make after the paper is accepted, too! Thank you @arfon for your work on this, too - this was a helpful and illuminating peer-review experience and I appreciate your time and expertise as well.

[2018-10-10 17:42] jrosen48 commented on #978
@arfon thank you again! The archive (on Zenodo) is here: [https://zenodo.org/record/1455773#.W745vFIpAW8](https://zenodo.org/record/1455773#.W745vFIpAW8) and the doi is 10.5281/zenodo.1455773

[2018-10-10 17:42] luizirber commented on #934
I just checked all my boxes. Some comments:
- version: This one I didn't check, but it was already discussed in this thread.
- tests: I didn't find in an easy place how to run the tests, so I ended up downloading the repo and running pytest on it. Is that the appropriate method? Either way, I think it's good to put it somewhere in the docs.
- Congrats on the tutorials and docs! They are really goo

[2018-10-10 18:09] uvilla commented on #940
@IgorBaratta thank you for your review and kind comments.

I have made the suggested changes see commit [be26f75b66399c9bb6a00238cc3fe71e0a80326e](https://github.com/hippylib/hippylib/commit/be26f75b66399c9bb6a00238cc3fe71e0a80326e).

You are correct there is no community guidelines yet. I am drafting a CONTRIBUTING.md that will be added to the source code and published---together with the sphinx

[2018-10-10 18:10] arfon commented on #978
@whedon set 10.5281/zenodo.1455773 as archive

[2018-10-10 18:10] whedon commented on #978
OK. <a href="https://doi.org/10.5281/zenodo.1455773" target="_blank">10.5281/zenodo.1455773</a> is the archive.

[2018-10-10 18:16] arfon commented on #978
@jnese, @strengejacke - many thanks for your reviews here ✨

@jrosen48 - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00978 :zap: :rocket: :boom:

[2018-10-10 18:16] #978 closed

[2018-10-10 18:16] whedon commented on #978
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00978/status.svg)](https://doi.org/10.21105/joss.00978)

**We need your help!**

Journal of Open Source Softwar

[2018-10-10 18:32] mlxd commented on #948
If you are regenerating the paper with a longer version then I think an updated date should be fine (though Git always provides a paper trail of changes, so it probably shouldn't matter much). Otherwise, great work on the documentation and other changes.

[2018-10-10 19:32] mattgolub commented on #1003
Hi @malmaud, thank you for taking up this review and informing us of these missing items. Here is how we have worked to address these issues:

- *Version*: I've released v1.0. You can find the release [here](https://github.com/mattgolub/fixed-point-finder/releases/tag/v1.0).
- *Automated tests*: We had thought of the end-to-end example as a test and living documentation of the toolbox. Because you

[2018-10-10 19:36] mattgolub commented on #1003
@whedon generate pdf

[2018-10-10 19:36] whedon commented on #1003
[code]

[2018-10-10 19:37] whedon commented on #1003
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01003/joss.01003/10.21105.joss.01003.pdf)

[2018-10-10 19:37] malmaud commented on #1003
Great! I'll try it out on my own system soon.

[2018-10-10 19:40] nbokulich commented on #934
Thank you @luizirber and @rasbt for your reviews and feedback!

@luizirber — I have issued this PR to address your testing suggestion: https://github.com/qiime2/q2-sample-classifier/pull/138.

[2018-10-10 19:42] rasbt commented on #934
Yes, that's what I did, too. The steps were not mentioned, but one could find them in the travis CI setup file. I agree with @luizirber  that it would not hurt to add a sentence about running the tests with pytest to the Readme file, though.

[2018-10-10 20:49] MikeHeiber commented on #1011
@whedon commands

[2018-10-10 20:49] whedon commented on #1011
Here are some things you can ask me to do:

[code]

[2018-10-10 20:55] MikeHeiber commented on #1011
I would suggest @stuartcampbell as a potential reviewer that is knowledgeable about C++ and materials science.

[2018-10-10 21:17] MikeHeiber commented on #1011
@whedon generate pdf from branch joss-edits

[2018-10-10 21:17] whedon commented on #1011
[code]

[2018-10-10 21:17] whedon commented on #1011
PDF failed to compile for issue #1011 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0    180      0 --:--:-- --:--:-- --:--:--   180
Error producing P

[2018-10-10 21:30] MikeHeiber commented on #1011
@whedon generate pdf from branch joss-edits

[2018-10-10 21:30] whedon commented on #1011
[code]

[2018-10-10 21:31] whedon commented on #1011
PDF failed to compile for issue #1011 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0    139      0 --:--:-- --:--:-- --:--:--   140
Error producing P

[2018-10-10 21:55] MikeHeiber commented on #1011
@whedon generate pdf from branch joss-edits

[2018-10-10 21:55] whedon commented on #1011
[code]

[2018-10-10 21:56] whedon commented on #1011
PDF failed to compile for issue #1011 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0     90      0 --:--:-- --:--:-- --:--:--    90
Error producing P

[2018-10-10 23:39] leouieda commented on #957
@lheagy OK, I have made all the updates I needed. If the citation in the preview PDF going to be the final one? If so, I'd like to include it in the CITATION file before making the release (this way I don't need a new version just for updating that).

[2018-10-11 00:18] wtgee commented on #997
Oops, sorry for late reply. Probably too busy for this right now but can
make time if Nathan is unavailable.

Cheers!

On Wed, Oct 10, 2018 at 5:58 AM Arfon Smith <notifications@github.com>
wrote:

--
~Wilfred Tyler Gee

[2018-10-11 01:16] leouieda commented on #957
I had a look at other papers and they all used the same DOI and citation as the preview so I went ahead and made a new release (v1.0.1).

This is the Zenodo archive of it: https://doi.org/10.5281/zenodo.1421979

@lheagy we're good to go on my part. Thanks for editing! :1st_place_medal:

[2018-10-11 02:15] llllllllll commented on #845
Sorry it took me so long to get to this. This is a really cool project.

It looks like you just merged my install pr, so I will check that off. Thanks! I had one small comment about clarifying the layout of the input. It only took me a minute to figure it out once I played with it, but it made it hard to follow the examples.

For testing I used daily returns of US equities for the year of 2016. I

[2018-10-11 02:46] vc1492a commented on #845
@llllllllll Thanks for your comments and suggestions, and thanks for submitting the pr. I'll take a look at your opened issue regarding the layout of the input and will see what changes I can make to PyNomaly and/or the documentation to improve clarification.

[2018-10-11 05:27] whimian commented on #992
hey @kthyng,

There is something wrong with the author name .

My family name is "Yu", But it's "Hao" on the paper.

Could you please correct the author name?

[2018-10-11 07:34] uvilla commented on #940
@IgorBaratta,

I added contributing guidelines both in the GitHub repository (see CONTRIBUTING.md) and on readthedocs (see https://hippylib.readthedocs.io/en/latest/contributing.html).

Please let me know if there are other issues you’d like to be addressed before accepting hIPPYlib.

[2018-10-11 08:09] zkuralt commented on #1009
@whedon list reviewers

[2018-10-11 08:09] whedon commented on #1009
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2018-10-11 08:16] zkuralt commented on #1009
@trallard I checked the list of reviewers and the ones listed below fit the area of wolfexplorer.

amoeba
jsta
pboesu
jhollist
ethanwhite

[2018-10-11 09:36] trallard commented on #1009
Hello :wave: @amoeba @jsta @pboesu @jhollist @ethanwhite  would any of you be interested in reviewing this submission?
We'd ideally like to have two editors looking at this

[2018-10-11 11:54] whedon opened #1014 "[PRE REVIEW]: gtk-fortran: a GTK+ binding to build Graphical User Interfaces in Fortran"
**Submitting author:** @vmagnin (<a href="http://orcid.org/0000-0002-9016-9955">Vincent MAGNIN</a>)
**Repository:** <a href="https://github.com/jerryd/gtk-fortran" target ="_blank">https://github.com/jerryd/gtk-fortran</a>
**Version:** v17.10
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @johnsamuelwrites, @devonrex, @sundmanbo

**Author instructions**

Thanks for submitting your paper to JOS

[2018-10-11 11:54] whedon commented on #1014
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Kevin-Mattheus-Moerman it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-10-11 11:54] whedon commented on #1014
[code]

[2018-10-11 11:54] whedon commented on #1014
PDF failed to compile for issue #1014 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-7ea7c17cf2a1/lib/whedon/orcid_validator.rb:12:in `initialize': undefined method `strip' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-7ea7c17cf2a1/lib/whedon.rb:91:in `new'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-7ea7c17cf2a1

[2018-10-11 11:54] arfon commented on #1014
:wave: @Kevin-Mattheus-Moerman - the submitting author suggested you as the handling editor.

[2018-10-11 11:56] arfon commented on #1014
@vmagnin - this pull request should fix the paper compilation: https://github.com/jerryd/gtk-fortran/pull/124

[2018-10-11 13:44] gjeuken commented on #1007
@brainstorm
Hi Roman,
I have some comments and questions.

First of all, everything seems to be in good order, according to the checklist. I would like to see some more formalism in the method description, as it is quite general, but I'm not sure it's in the scope of the Journal. (Am I wrong here?)

* Their version number is 0.1.6 and not 0.1.5 as it is stated above.
* For the **statement of need*

[2018-10-11 13:46] lheagy commented on #957
@whedon set 10.5281/zenodo.1421979 as archive

[2018-10-11 13:46] whedon commented on #957
OK. <a href="https://doi.org/10.5281/zenodo.1421979" target="_blank">10.5281/zenodo.1421979</a> is the archive.

[2018-10-11 13:48] lheagy commented on #957
Many thanks @fourndo and @Fil for your speedy reviews! And congratulations @leouieda on your submission 🎉 🎉

@arfon: this submission is ready to be published

[2018-10-11 14:16] arfon commented on #957
@fourndo, @Fil - many thanks for your reviews here and to @lheagy for editing this submission ✨

@leouieda - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00957  :zap: :rocket: :boom:

[2018-10-11 14:16] #957 closed

[2018-10-11 14:16] whedon commented on #957
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00957/status.svg)](https://doi.org/10.21105/joss.00957)

**We need your help!**

Journal of Open Source Softwar

[2018-10-11 14:49] kyleniemeyer commented on #979
@kbarnhart regarding this question:

Yes, we just need the DOI at the end of the process, once all changes have been made and the submission is accepted.

[2018-10-11 15:06] kyleniemeyer commented on #979
@kbarnhart for your question #1, for JOSS you should archive the source code and provide that DOI. For the tutorials, I think you can do two things:
- Link to the location from the source code (e.g., in the README), and
- Archive the tutorials separately and reference that DOI in your paper

[2018-10-11 15:20] jedbrown commented on #979
If the tutorials are considered a key component (and especially if they have been part of the review), then I would recommend @kyleniemeyer's second option: create a DOI and reference it in the paper.

[2018-10-11 15:44] kbarnhart commented on #979
Thanks for the thoughts @kyleniemeyer and @jedbrown ! Based on your suggestions (and because the tutorials have been part of the review) this is what I think makes sense. Let me know if you think otherwise.

Once I verify that the reviewers are happy with the revisions I will.

1. Create a release of the tutorials repository and get the release specific zenodo DOI for it.
2. Update the manuscript

[2018-10-11 15:49] jedbrown commented on #979
Looks good to me.

[2018-10-11 16:30] kthyng commented on #979
Thanks for your input @kyleniemeyer and @jedbrown!

@kbarnhart Sounds like you have a good plan. I think we just need to hear back from @speleophysics with the go ahead and then we'll be good to move forward.

[2018-10-11 16:43] vmagnin commented on #1014
@arfon - I have merged your pull request. Effectively, one of the author has no ORCID.

[2018-10-11 16:55] cMadan commented on #999
@raphaelvallat, that's not a problem. I've updated the version number in the initial comment.

@snastase @nhejazi @kellieotto, would you be available and interested to review this submission? Thanks for considering!

[2018-10-11 16:59] cMadan commented on #671
@Kevin-Mattheus-Moerman, I don't have time to conduct a thorough review of the functionality and documentation of the toolbox, but it does look like something that is well within the scope of JOSS, generally well-developed, and is sufficiently substantive to standalone as a toolbox.

This also means I disagree with some of the other reviewers that suggest this toolbox should be integrated into ano

[2018-10-11 17:12] kapsakcj commented on #1010
I'd also be happy to review. Thanks for nominating me to review @andrewjpage !  I will say though, that this would be my first time formally reviewing a manuscript and first time reviewing open-source software, so any advice or instructions would be welcomed. I have found the JOSS reviewer guidelines [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) to get me started. If you'd

[2018-10-11 17:34] leouieda commented on #957
@arfon @lheagy thanks!

[2018-10-11 18:37] kellieotto commented on #161
@karthik @wilsoncai1992 @nhejazi I made a first pass and put all my comments in issues to the repo. They should be pretty easy fixes.

[2018-10-11 18:56] wilsoncai1992 commented on #161
Thank you @kellieotto @karthik for the review! We will quickly fix the suggestions!

[2018-10-11 22:38] snastase commented on #999
@cMadan I should be able to help out. A bit overloaded right now, but should be able to get to it soon (< 1 week).

[2018-10-11 23:31] cmendl commented on #948
Just updated the paper and added the tag...

[2018-10-12 00:55] brainstorm commented on #1007
@jmborr, can you fix the issues @gjeuken encountered?

@arfon, as I see it, @gjeuken has very good points regarding more scope/expectations on the reviewing task itself, a good one to discuss with the editorial board perhaps? Thanks @gjeuken for rising the issue!

[2018-10-12 01:04] jmborr commented on #1007
@brainstorm Sorry, it was my intention to start working on these issues today but had not the time. I will address them tomorrow.

[2018-10-12 02:51] whimian commented on #992
@arfon I've changed the author name in `paper.md`, please recompile it.

[2018-10-12 08:03] Kevin-Mattheus-Moerman commented on #1010
@whedon assign @Kevin-Mattheus-Moerman as editor

[2018-10-12 08:03] whedon commented on #1010
OK, the editor is @Kevin-Mattheus-Moerman

[2018-10-12 08:04] Kevin-Mattheus-Moerman commented on #1010
@whedon assign @ctb as reviewer

[2018-10-12 08:04] whedon commented on #1010
OK, the reviewer is @ctb

[2018-10-12 08:05] Kevin-Mattheus-Moerman commented on #1010
@whedon add @kapsakcj as reviewer

[2018-10-12 08:05] whedon commented on #1010
OK, @kapsakcj is now a reviewer

[2018-10-12 08:06] Kevin-Mattheus-Moerman commented on #1010
@kapsakcj thanks for your comments. I am here to guide you all through the review process. Let me know if you have any questions. We will be recruiting multiple reviewers. I hope this first review experience will be a good one. Thanks! :robot: :rocket:

[2018-10-12 09:35] Kevin-Mattheus-Moerman commented on #1014
@whedon generate pdf

[2018-10-12 09:35] whedon commented on #1014
[code]

[2018-10-12 09:36] whedon commented on #1014
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01014/joss.01014/10.21105.joss.01014.pdf)

[2018-10-12 09:40] Kevin-Mattheus-Moerman commented on #1014
@daviddoria is this submission of interest to you and would you be able to help review it?

[2018-10-12 10:19] Kevin-Mattheus-Moerman commented on #871
Still no paper files. Should this issue be closed / the submission be removed?

[2018-10-12 10:45] ljwolf commented on #871
Sure, I'll fix and resubmit if I have time later. No problem if you want to clear stale issues.

[2018-10-12 11:19] arfon commented on #992
OK that should be updated now.

[2018-10-12 11:53] schalkdaniel commented on #967
@arfon - I have uploaded a new version. The archive is: https://doi.org/10.5281/zenodo.1460435

The problem was that zenodo does not register custom dois. Sorry for that.

[2018-10-12 11:59] arfon commented on #967
@whedon set 10.5281/zenodo.1460435 as archive

[2018-10-12 11:59] whedon commented on #967
OK. <a href="https://doi.org/10.5281/zenodo.1460435" target="_blank">10.5281/zenodo.1460435</a> is the archive.

[2018-10-12 12:07] arfon commented on #967
@moonso - many thanks for your review here and to @brainstorm for editing this submission ✨

@schalkdaniel - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00967 :zap: :rocket: :boom:

[2018-10-12 12:07] #967 closed

[2018-10-12 12:07] whedon commented on #967
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00967/status.svg)](https://doi.org/10.21105/joss.00967)

**We need your help!**

Journal of Open Source Softwar

[2018-10-12 13:03] ctb commented on #1010
(I've reviewed a few JOSS papers, and had a few reviewed; never seen more than one reviewer, much less three. Is this a new policy?)

[2018-10-12 13:04] danielskatz commented on #1010
We've frequently moved to two

[2018-10-12 13:07] arfon commented on #996
@arokem - would you be willing to edit this submission for JOSS?

[2018-10-12 13:07] ctb commented on #1010
(a third is being solicited for this 'un)

[2018-10-12 13:08] danielskatz commented on #1010
For me, the number depends on my expertise on the topic

[2018-10-12 13:10] arfon commented on #993
@lheagy - would you be able to edit this submission for JOSS?

[2018-10-12 13:11] arfon commented on #982
@trallard - would you be able to edit this submission for JOSS?

[2018-10-12 13:12] #871 closed

[2018-10-12 13:12] danielskatz commented on #994
I am conflicted and shouldn't be the editor

[2018-10-12 13:19] nhejazi commented on #161
Thanks for the quick turnaround on your review @kellieotto -- much appreciated! We'll start the process of addressing the points you've brought up in each of the issues you've opened.

[2018-10-12 13:41] MikeHeiber commented on #1011
@arfon @labarba Any idea why the PDF is not compiling? I am not using any math in the document, so I can't figure out why latex is complaining.

[2018-10-12 13:52] trallard commented on #982
Sure @arfon

👋 @SimonGreenhill I will be handling editor for your submission. Have you thought about any reviewers for the package?
If you have not gotten anyone in mind you can check the  current reviewers registered using the following command `@whedon list reviewers`

[2018-10-12 13:53] arfon commented on #1011
I think the issue is actually with the underscore in the title. This pull
request should fix the paper: https://github.com/MikeHeiber/Ising_OPV/pull/8

[2018-10-12 13:53] trallard commented on #982
@whedon assign @trallard  as editor

[2018-10-12 13:56] MikeHeiber commented on #1011
I tried that as well, and it didn't seem to fix the problem.  See the joss-edits branch for my latest edited version.

[2018-10-12 13:57] SimonGreenhill commented on #982
Thanks @trallard, any of the python people should be ok. It's a very simple package* so should be quite easy to review, I hope

(* in fact, I worry it's _too_ simple, but it does fill a small and annoying gap in the toolkit).

[2018-10-12 13:57] arfon commented on #982
Looks like @whedon is sleepy... Let me check in on this...

[2018-10-12 13:57] SimonGreenhill commented on #982
@whedon list reviewers

[2018-10-12 13:57] whedon commented on #982
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2018-10-12 13:58] arfon commented on #982
@whedon assign @trallard as editor

[2018-10-12 13:58] whedon commented on #982
OK, the editor is @trallard

[2018-10-12 13:58] arfon commented on #982
@whedon list editors

[2018-10-12 13:58] whedon commented on #982
Current editors:

[code]

[2018-10-12 14:02] vmagnin commented on #1014
In the proof, there is a problem with two citations: in the .bib m**a**tcalfe2011 should be replaced by m**e**tcalfe2011. Should I push the correction on the repository of the project ?
Concerning the softwares references, I guess "n.d." means "no date" ?  And when the author is a community, how should the reference appear in the .bib ?
Thanks

[2018-10-12 14:03] vmagnin commented on #1014
@whedon commands

[2018-10-12 14:03] whedon commented on #1014
Here are some things you can ask me to do:

[code]

[2018-10-12 14:04] SimonGreenhill commented on #982
Perhaps (not `@`'ing them out of politeness): richardlitt, deniederhut, krother, Genomematt (trying to find linguistics/bioinformatics/phylogenetics/anthropology matches)

[2018-10-12 14:17] Kevin-Mattheus-Moerman commented on #1014
Yes do implement the changes in your own repo. You can call `@whedon generate pdf` yourself here whenever you want to re-render the pdf.

@arfon can you help answer the question about citing a software package when the author is a community, what should be changed in this:
[code]
to avoid it being rendered as:
`community, T. P. developer. (n.d.). PLplot - the ultimate in cross-platform plotting.
h

[2018-10-12 14:18] arfon commented on #1011
@whedon commands

[2018-10-12 14:18] whedon commented on #1011
Here are some things you can ask me to do:

[code]

[2018-10-12 14:18] arfon commented on #1011
@whedon generate pdf from branch joss-edits

[2018-10-12 14:18] whedon commented on #1011
[code]

[2018-10-12 14:19] whedon commented on #1011
PDF failed to compile for issue #1011 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0

[2018-10-12 14:20] Kevin-Mattheus-Moerman commented on #1010
@ctb I tend to aim for at least two reviewers. Since this submission is off topic for me I intend to recruit at least one more. I think, unless it delays the review process, the more the merrier.

[2018-10-12 14:22] arfon commented on #1011
@MikeHeiber - I'm not sure what's going on here. I can compile your paper fine with the edits in your `joss-edits` branch: [10.21105.joss.01011.pdf](https://github.com/openjournals/joss-reviews/files/2473426/10.21105.joss.01011.pdf)

[2018-10-12 14:37] cMadan commented on #999
@snastase, great, thank you! I will wait to see if anyone else is interested in also reviewing, and will start the review process early next week.

[2018-10-12 14:38] MikeHeiber commented on #1011
@arfon Hmm... Well thanks for providing the compiled PDF.  Based on how that compiled, I've made a few more minor corrections/modifications to the joss-edits branch.

[2018-10-12 14:39] MikeHeiber commented on #1011
@whedon generate pdf from branch joss-edits

[2018-10-12 14:39] whedon commented on #1011
[code]

[2018-10-12 14:40] whedon commented on #1011
PDF failed to compile for issue #1011 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0    189      0 --:--:-- --:--:-- --:--:--   189
Error producing P

[2018-10-12 14:43] alexlarsson commented on #1014
Sorry, I don't have any time to review this.

[2018-10-12 18:40] jmborr commented on #1007
@brainstorm @gjeuken Regarding the insertion of an **statement of need** in the documentation, I though of inserting the Summary paper I submitted here in JOSS. Is this admissible?

[2018-10-12 18:49] jmborr commented on #1007
@gjeuken [crysol](https://www.embl-hamburg.de/biosaxs/crysol.html) is a third-party software to generate  X-ray patterns, given an arrangement of atomic positions. It is assumed to be installed under any of the directories of `PATH`.
What I can do is to include the output of crysol in helper repository [idpflex_data](https://github.com/jmborr/idpflex_data). The example notebook would then check fo

[2018-10-12 19:46] arfon commented on #1011
Compiled again locally [10.21105.joss.01011.pdf](https://github.com/openjournals/joss-reviews/files/2474390/10.21105.joss.01011.pdf)

[2018-10-12 20:52] malmaud commented on #1003
Everything seems good - the package installed and the included example runs successfully on my machine. It's clearly solving an important task relevant to many in the ML community. The article is clear and well-written. The codebase is small but non-trivial. The public API methods have good docstrings attached.

I think just a few things and it's ready for acceptance:

* As mentioned earlier, some

[2018-10-13 00:39] usethedata commented on #993
@wino6687 Sorry I missed the notification 3 days ago.  Yes, I'll take a crack at this.  It will be the first one I've done, so some instructions on the mechanics will be useful.

[2018-10-13 02:45] brainstorm commented on #1007
@jmborr What Gustavo meant is that you should include the statement of need in the documentation **as well**, it's good where it is already, but would be better to have it in **both** places.

[2018-10-13 07:08] AlexPof commented on #981
@drvinceknight I have made the requested modifications in the repository. I also added some missing DOIs to the `paper.md`.

[2018-10-13 07:09] AlexPof commented on #981
@whedon compile

[2018-10-13 07:11] AlexPof commented on #981
@whedon generate pdf

[2018-10-13 07:11] whedon commented on #981
[code]

[2018-10-13 07:12] whedon commented on #981
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00981/joss.00981/10.21105.joss.00981.pdf)

[2018-10-13 11:29] arfon commented on #994
Hi @mgckind - Thanks for this submission to JOSS. Unfortunately this submission isn't allowed in JOSS as it falls into our ['minor utility'](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements) category.

[2018-10-13 11:29] #994 closed

[2018-10-13 13:27] yochannah commented on #926
@Robinlovelace thanks for the offer! @pachamaltese has been very patient, but I think that a few months might be a little bit too long :)

[2018-10-13 13:28] yochannah commented on #926
@paulofelipe might you be interested in reviewing this packages by any chance?

[2018-10-13 14:08] yochannah commented on #934
Okay, I think the only thing left to do before we ping Arfon to say this is ready is to fix the version numbering and regenerated the paper. @nbokulich - is 2018.10 the correct version to point to?

[2018-10-13 21:10] pachamaltese commented on #926
@DiegoKoz once again thanks a lot for the feedback !!
I did some changes to the functions so that you can now use broom with it, and here I added a vignette (WIP) http://pacha.hk/gravity/articles/crash-course-on-gravity-models.html that explains the models

I'll add the rest of the feedback such as warnings and more, and also to shorten the paper draft a bit.

[2018-10-14 06:35] zedtaha commented on #623
@leeper I apologize for the delay I was on a working trip. However, there is so many issues to do so I think its correct to withdrew the paper. Best

[2018-10-14 06:37] zedtaha commented on #623
@leeper I'm also open to more suggestion.

[2018-10-14 10:59] georgiosgerasimou commented on #1001
@HaoZeke, thank you.

[2018-10-14 11:58] arfon commented on #1001
Thanks @HaoZeke!

[2018-10-14 11:59] arfon commented on #1001
@whedon assign @arfon as editor

[2018-10-14 12:05] arfon commented on #1001
@whedon assign @arfon as editor

[2018-10-14 12:12] arfon commented on #1001
@whedon assign @arfon as editor

[2018-10-14 12:12] whedon commented on #1001
OK, the editor is @arfon

[2018-10-14 12:15] arfon commented on #1001
@whedon assign @HaoZeke as reviewer

[2018-10-14 12:15] whedon commented on #1001
OK, the reviewer is @HaoZeke

[2018-10-14 12:15] arfon commented on #1001
@whedon start review

[2018-10-14 12:15] whedon opened #1015 "[REVIEW]: Prest: Open-Source Software for Computational Revealed Preference Analysis"
**Submitting author:** @georgiosgerasimou (<a href="http://orcid.org/0000-0003-3712-3154">Georgios Gerasimou</a>)
**Repository:** <a href="https://github.com/prestsoftware/prest" target ="_blank">https://github.com/prestsoftware/prest</a>
**Version:** v.0.9.7
**Editor:** @arfon
**Reviewer:** @HaoZeke
**Archive:** <a href="https://doi.org/10.5281/zenodo.1466984" target="_blank">10.5281/zenodo.14669

[2018-10-14 12:15] whedon commented on #1001
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1015. Feel free to close this issue now!

[2018-10-14 12:15] whedon commented on #1015
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @HaoZeke it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2018-10-14 12:15] whedon commented on #1015
[code]

[2018-10-14 12:15] whedon commented on #1015
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01015/joss.01015/10.21105.joss.01015.pdf)

[2018-10-14 12:16] arfon commented on #1001
@HaoZeke @georgiosgerasimou - please head over to #1015 for the actual review.

[2018-10-14 12:16] #1001 closed

[2018-10-14 12:16] arfon commented on #1015
@HaoZeke - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2018-10-14 12:18] arfon commented on #997
@ngoldbaum - just following up on my [comment above](https://github.com/openjournals/joss-reviews/issues/997#issuecomment-428310389). I'm happy to have you review if you feel like you can give an impartial review.

[2018-10-14 12:19] whedon opened #1016 "[PRE REVIEW]: pylbm: A Flexible Python Package for Lattice Boltzmann Method"
**Submitting author:** @gouarin (<a href="http://orcid.org/0000-0003-4761-9989">Loic Gouarin</a>)
**Repository:** <a href="https://github.com/pylbm/pylbm" target ="_blank">https://github.com/pylbm/pylbm</a>
**Version:** 0.3.2
**Editor:** @kyleniemeyer
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @gouarin. The JOSS editor (shown at the top of this issue)

[2018-10-14 12:19] whedon commented on #1016
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kyleniemeyer it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-10-14 12:19] whedon commented on #1016
[code]

[2018-10-14 13:00] arfon commented on #1016
@gouarin - please take a look at the errors from @whedon's attempt to compile the paper above. Once you have pushed some fixes, you can ask Whedon to compile again with `@whedon generate pdf`

[2018-10-14 13:16] HaoZeke commented on #1015
Sure, I will have the review finished in a few days.

@georgiosgerasimou I will be opening pull requests to discuss issues on the prest tracker, but I will also mention them here.

[2018-10-14 14:18] gouarin commented on #1016
@whedon generate pdf

[2018-10-14 14:18] whedon commented on #1016
[code]

[2018-10-14 14:18] whedon commented on #1016
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01016/joss.01016/10.21105.joss.01016.pdf)

[2018-10-14 15:19] yochannah commented on #934
If we're all happy to wait until the release date I think that sounds reasonable!

[2018-10-14 16:42] maxrousseau commented on #855
Hello @arokem!
Any updates on the review process?
Thank you

[2018-10-14 18:14] whedon opened #1017 "[PRE REVIEW]: The Another Assimilation System for WRF-Chem (AAS4WRF): a new mass-conserving emissions preprocessor for WRF-Chem regional modelling"
**Submitting author:** @alvv1986 (<a href="http://orcid.org/0000-0002-4972-4486">Angel Vara Vela</a>)
**Repository:** <a href="https://github.com/alvv1986/AAS4WRF" target ="_blank">https://github.com/alvv1986/AAS4WRF</a>
**Version:** v1.4.0
**Editor:** @kthyng
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @alvv1986. The JOSS editor (shown at the top of th

[2018-10-14 18:14] whedon commented on #1017
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kthyng it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-10-14 18:14] whedon commented on #1017
[code]

[2018-10-14 18:14] whedon commented on #1017
PDF failed to compile for issue #1017 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0     81      0 --:--:-- --:--:-- --:--:--    81
Error reading bib

[2018-10-14 18:14] arfon commented on #1017
:wave: @kthyng - the submitting author suggested you as the handling editor.

[2018-10-14 18:15] arfon commented on #1017
@alvv1986 - it looks like there's an issue with the bibtex associated with this submission. Please push fixes to your repository and then ask Whedon to recompile the paper with `@whedon generate pdf`

[2018-10-14 18:52] alvv1986 commented on #1017
@whedon generate pdf

[2018-10-14 18:53] whedon commented on #1017
[code]

[2018-10-14 18:53] whedon commented on #1017
PDF failed to compile for issue #1017 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0    301      0 --:--:-- --:--:-- --:--:--   306
[WARNING] Could n

[2018-10-14 19:07] SebastinSanty commented on #921
Any updates on this?

[2018-10-14 19:09] alvv1986 commented on #1017
H

[2018-10-14 19:19] alvv1986 commented on #1017
@whedon generate pdf

[2018-10-14 19:19] whedon commented on #1017
[code]

[2018-10-14 19:19] whedon commented on #1017
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01017/joss.01017/10.21105.joss.01017.pdf)

[2018-10-14 19:30] danielskatz commented on #981
👋 @adammichaelwood  - any update from your side?

[2018-10-14 19:35] mikapfl commented on #973
Hi,

I looked at the software and documentation today and found it generally easy to follow and the tutorial to be enough to get me started (I can't judge if this is close to a real-world analysis problem, because I don't know how complicated the real world is in the bragg-edge neutron diffraction camp). However, I found a few usability and documentation issued, which I have reported:
* ornlneutro

[2018-10-14 19:45] wino6687 commented on #993
Hi @usethedata, thanks for agreeing to do this review. I believe once an editor is assigned there will be a check list here in the issue, but this is my first submission so I am not 100% on that. I do see that other recent submissions that have assigned editors and reviewers have the check list locally in the issue.

[2018-10-14 19:49] arfon commented on #993
@whedon assign @arfon as editor

[2018-10-14 19:50] whedon commented on #993
OK, the editor is @arfon

[2018-10-14 19:50] usethedata commented on #993
I'm going off https://joss.readthedocs.io/en/latest/reviewer_guidelines.html and https://joss.readthedocs.io/en/latest/review_criteria.html.  That will at least be a start, I'm sure folks will let me know if I miss anything.

[2018-10-14 19:50] arfon commented on #993
@whedon assign @usethedata as reviewer

[2018-10-14 19:50] whedon commented on #993
OK, the reviewer is @usethedata

[2018-10-14 19:50] arfon commented on #993
@whedon start review

[2018-10-14 19:50] whedon opened #1018 "[REVIEW]: SWEpy: A Python Library for Quick and Easy Access and Manipulation of MEaSUREs CETB files for SWE analysis"
**Submitting author:** @wino6687 (<a href="http://orcid.org/0000-0002-6772-9600">will norris</a>)
**Repository:** <a href="https://github.com/wino6687/SWEpy" target ="_blank">https://github.com/wino6687/SWEpy</a>
**Version:** v1.1.7
**Editor:** @arfon
**Reviewer:** @usethedata
**Archive:** <a href="https://doi.org/10.5281/zenodo.1849824" target="_blank">10.5281/zenodo.1849824</a>

## Status

[![st

[2018-10-14 19:50] whedon commented on #993
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1018. Feel free to close this issue now!

[2018-10-14 19:50] whedon commented on #1018
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @usethedata it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2018-10-14 19:50] whedon commented on #1018
[code]

[2018-10-14 19:50] whedon commented on #1018
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01018/joss.01018/10.21105.joss.01018.pdf)

[2018-10-14 19:50] arfon commented on #993
@usethedata - many thanks for agreeing to review this submission! Please head over to #1018 to carry out the review - the checklist is there for you :-)

[2018-10-14 19:50] #993 closed

[2018-10-14 19:51] georgiosgerasimou commented on #1015
@HaoZeke Sure, thank you.

[2018-10-14 19:52] arfon commented on #1018
@wino6687 - it looks like your paper doesn't have any references, or if they are, they're not being compiled in. You can read how to cite works in Pandoc [here](http://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html)

[2018-10-14 20:02] usethedata commented on #1018
@arfon What's the correct way to document what I don't see as a COI so that it's out there?  In terms of the stated COI policy, we're fine.  I've never been a collaborator with either of the authors, nor have I ever collaborated directly with the Earth Lab at UC Boulder.   People who report to me are collaborators with the National Snow and Ice Data Center (NSIDC) at UC-B, which is the source of t

[2018-10-14 20:03] alvv1986 commented on #1017
@whedon commands

[2018-10-14 20:04] whedon commented on #1017
Here are some things you can ask me to do:

[code]

[2018-10-14 20:04] alvv1986 commented on #1017
@whedon list reviewers

[2018-10-14 20:04] whedon commented on #1017
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2018-10-14 20:13] arfon commented on #1018
I think you've just done it 😁. Thanks for disclosing this - and please proceed with the review.

[2018-10-14 20:19] wino6687 commented on #1018
@arfon, thanks for pointing that out! I do reference the NSIDC database that is used, I will get that fixed now.

[2018-10-14 20:29] wino6687 commented on #1018
@whedon generate pdf

[2018-10-14 20:29] whedon commented on #1018
[code]

[2018-10-14 20:30] whedon commented on #1018
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01018/joss.01018/10.21105.joss.01018.pdf)

[2018-10-14 20:33] arokem commented on #1003
I would strongly urge an update to Python 3. If you want others to use the software into the future, and combine it with other packages in the scientific Python eco-system that would be a good idea. Many major packages are going to stop supporting Python 2 as soon as just over a year from now (https://python3statement.org/). The publication of this paper seems like a good time to undertake this up

[2018-10-14 21:03] wino6687 commented on #1018
@whedon generate pdf

[2018-10-14 21:03] whedon commented on #1018
[code]

[2018-10-14 21:03] whedon commented on #1018
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01018/joss.01018/10.21105.joss.01018.pdf)

[2018-10-14 21:10] wino6687 commented on #1018
@whedon generate pdf

[2018-10-14 21:10] whedon commented on #1018
[code]

[2018-10-14 21:10] whedon commented on #1018
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01018/joss.01018/10.21105.joss.01018.pdf)

[2018-10-14 22:04] lheagy commented on #993
Hey @arfon, sorry for my late reply! I am happy to take this if your plate is full - please let me know what works.

[2018-10-14 23:49] vc1492a commented on #845
@Kevin-Mattheus-Moerman I have added additional clarification in `readme.md` following @llllllllll's review and comments. Please let me know if there are any additional steps I should take, thanks!

[2018-10-15 06:48] amoeba commented on #1009
Hi @trallard 	I could probably commit to getting a review on by November 15th if that works for you. Please let me know and I can plan on it.

[2018-10-15 07:36] Kevin-Mattheus-Moerman commented on #845
Thanks @vc1492a. @llllllllll can you please check out these new developments.

[2018-10-15 07:38] gjeuken commented on #1007
@jmborr
In the case of CRYSOL I think just a link to the software would suffice.
Your suggestion is of course better, but that's up to you.

[2018-10-15 08:05] trallard commented on #1009
Hi @amoeba, thanks for offering 🎉. This would work perfectly, that would give us time to find a second reviewer

[2018-10-15 08:16] trallard commented on #982
Hi @RichardLitt @deniederhut @krother  @genomematt would any of you be interested in and have availability to review this JOSS submission?
We'd ideally be looking at getting two reviewers

[2018-10-15 08:29] trallard commented on #982
hey @RichardLitt  thanks for agreeing to review this submission. I will wait and see if any of the other proposed reviewers would be happy to join before jumping into the formal review process/issue

[2018-10-15 08:30] trallard commented on #982
@whedon assign @RichardLitt as reviewer

[2018-10-15 08:30] whedon commented on #982
OK, the reviewer is @RichardLitt

[2018-10-15 09:05] vmagnin commented on #1014
@whedon generate pdf

* Corrected metcalf2011 reference
* Corrected author J. De Lisle affiliation
* improved reference to Tincher2017 paper
* added date to DISLIN reference

[2018-10-15 09:05] whedon commented on #1014
[code]

[2018-10-15 09:06] whedon commented on #1014
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01014/joss.01014/10.21105.joss.01014.pdf)

[2018-10-15 09:31] mwacaan commented on #966
@davidnsousa: in the paper you say: 'no simple and free open-source tools were designed and made available for researchers in this field to test their basic predictions.'
I know of at least the Camino package for Monte Carlo diffusion simulations, but there may/must be more. Can you cite available packages in the pdf?

[2018-10-15 09:44] mwacaan opened #1019 "replication_script: name and syntax errors"
tutorial/replication_script_v0.1.0.m:
- filename should not contain dots (matlab errors)
- code does not run in matlab - syntax errors.

### :warning: Please do not open issues on this repository :warning:

This repository is _exclusively_ for JOSS pre-review and review issues. These are generated as part of our submission process.

If you have a question about JOSS then please open an issue on th

[2018-10-15 09:44] whedon commented on #1019
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-10-15 09:44] whedon commented on #1019
[code]

[2018-10-15 09:44] whedon commented on #1019
PDF failed to compile for issue #1019 with the following error:

 Can't find any papers to compile :-(

[2018-10-15 09:48] mwacaan opened #1020 "test_free_diffusion2D: error"
MATLAB R2014a on linux

Error using  ./
Matrix dimensions must agree.

Error in rwalkfree (line 27)
    v = (v./sqrt(dot(v,v,3))) * ss;

Error in rwalk (line 36)
    X = rwalkfree(p, ns, ss);

Error in test_free_diffusion2D (line 24)
X = rwalk(p, ns, ssize);

### :warning: Please do not open issues on this repository :warning:

This repository is _exclusively_ for JOSS pre-review and review issues

[2018-10-15 09:48] whedon commented on #1020
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-10-15 09:48] whedon commented on #1020
[code]

[2018-10-15 09:48] whedon commented on #1020
PDF failed to compile for issue #1020 with the following error:

 Can't find any papers to compile :-(

[2018-10-15 10:01] masspastore commented on #844
Hi @arfon,  thanks for sending out the paper for review. It looks we didn't get any feedback from @jkarreth since the 25 september. Would it be possible to try with another reviewer?

[2018-10-15 10:04] ChrisJefferson commented on #950
Sorry, I got distracted.

I am very happy with the whole library now, except for one issue (although it's a big one in some sense).

Personally, I don't like functions like the `(Permutation p, int length)` permutation constructor, which can produce invalid permutations if given incorrect input data -- I find it's too easy to accidentally make a slip up, and end up with an invalid permutation. In

[2018-10-15 10:11] #1019 closed

[2018-10-15 10:11] #1020 closed

[2018-10-15 10:13] arfon commented on #1019
@mwacaan - please do not open new issues on this repository. If you would like to open an issue for you review of https://github.com/openjournals/joss-reviews/issues/966 then please do so on the source repository here: https://github.com/davidnsousa/mcsd

[2018-10-15 10:13] arfon commented on #1020
@mwacaan - please do not open new issues on this repository. If you would like to open an issue for you review of https://github.com/openjournals/joss-reviews/issues/966 then please do so on the source repository here: https://github.com/davidnsousa/mcsd

[2018-10-15 10:29] Kevin-Mattheus-Moerman commented on #966
@mwacaan Thanks for your review comments. If you want to open any issues for this submission please do so here: https://github.com/davidnsousa/mcsd/issues. Thanks :rocket:

[2018-10-15 10:48] arfon commented on #844
@briatte @soodoku - would either of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2018-10-15 12:16] azneto commented on #1010
I'd be happy to do it, though it's my first time reviewing a submission for JOSS. Feel free to choose a more experienced reviewer.

[2018-10-15 12:34] vmagnin commented on #1014
@Kevin-Mattheus-Moerman
@arfon

Browsing a lot of JOSS papers, I found one citing the R software using:
[code]
The result is:
_suppdata is an R (R Core Team 2018) package to provide easy,_

[2018-10-15 12:49] ethanwhite commented on #1009
I can't right now. Sorry

[2018-10-15 12:58] deniederhut commented on #982
@trallard I'm in!

[2018-10-15 13:03] vmagnin commented on #1014
@whedon generate pdf

* Tried to improve references

[2018-10-15 13:03] whedon commented on #1014
[code]

[2018-10-15 13:04] whedon commented on #1014
PDF failed to compile for issue #1014 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0    127      0 --:--:-- --:--:-- --:--:--   128
Error reading bib

[2018-10-15 13:06] vmagnin commented on #1014
@whedon generate pdf

[2018-10-15 13:06] whedon commented on #1014
[code]

[2018-10-15 13:07] whedon commented on #1014
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01014/joss.01014/10.21105.joss.01014.pdf)

[2018-10-15 13:35] Kevin-Mattheus-Moerman commented on #1010
@whedon add @azneto as reviewer

[2018-10-15 13:35] whedon commented on #1010
OK, @azneto is now a reviewer

[2018-10-15 13:36] Kevin-Mattheus-Moerman commented on #1010
Thanks @azneto that is fine. prior experience with JOSS is not a requirement. I'm here to guide you through the process.

[2018-10-15 13:37] Kevin-Mattheus-Moerman commented on #1010
@whedon start review magic-word=bananas

[2018-10-15 13:37] whedon opened #1021 "[REVIEW]: TipToft: detecting plasmids contained in uncorrected long read sequencing data"
**Submitting author:** @andrewjpage (<a href="http://orcid.org/0000-0001-6919-6062">Andrew Page</a>)
**Repository:** <a href="https://github.com/andrewjpage/tiptoft" target ="_blank">https://github.com/andrewjpage/tiptoft</a>
**Version:** v1.0.1
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @ctb, @kapsakcj, @azneto
**Archive:** <a href="https://doi.org/10.5281/zenodo.2561192" target="_blank">1

[2018-10-15 13:37] whedon commented on #1010
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1021. Feel free to close this issue now!

[2018-10-15 13:37] whedon commented on #1021
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ctb, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curren

[2018-10-15 13:37] whedon commented on #1021
[code]

[2018-10-15 13:37] #1010 closed

[2018-10-15 13:38] whedon commented on #1021
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01021/joss.01021/10.21105.joss.01021.pdf)

[2018-10-15 14:01] kellieotto commented on #999
I'm in the thick of another review right now. I will pass on this one.

[2018-10-15 14:16] nhejazi commented on #999
I'm also quite busy with reviews at the present. Happy to provide a review at a later date if necessary.

[2018-10-15 14:35] nbokulich commented on #934
We can just point to version 2018.8 (the current stable release).

[2018-10-15 14:47] MikeHeiber commented on #1011
The proof looks good to me!

[2018-10-15 15:08] kbarnhart commented on #979
@speleophysics would it be OK if I moved ahead with making the release?

[2018-10-15 15:39] ngoldbaum commented on #997
Ah, thanks for the ping, I unsubscribed from the issue and didn't see your followup. Sure, I can review.

[2018-10-15 15:45] arfon commented on #997
Great, thanks!

[2018-10-15 15:45] arfon commented on #997
@whedon assign @ngoldbaum as reviewer

[2018-10-15 15:46] whedon commented on #997
OK, the reviewer is @ngoldbaum

[2018-10-15 15:46] arfon commented on #997
@whedon start review

[2018-10-15 15:46] whedon commented on #997
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1022. Feel free to close this issue now!

[2018-10-15 15:46] whedon opened #1022 "[REVIEW]: easyaccess"
**Submitting author:** @mgckind (<a href="http://orcid.org/0000-0002-4802-3194">Matias Carrasco Kind</a>)
**Repository:** <a href="https://github.com/mgckind/easyaccess" target ="_blank">https://github.com/mgckind/easyaccess</a>
**Version:** 1.4.5
**Editor:** @arfon
**Reviewer:** @ngoldbaum
**Archive:** <a href="https://doi.org/10.5281/zenodo.2553673" target="_blank">10.5281/zenodo.2553673</a>

##

[2018-10-15 15:46] whedon commented on #1022
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ngoldbaum it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2018-10-15 15:46] whedon commented on #1022
[code]

[2018-10-15 15:46] arfon commented on #997
@ngoldbaum @mgckind - see you both over in #1022 for the actual review.

[2018-10-15 15:46] #997 closed

[2018-10-15 15:46] whedon commented on #1022
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01022/joss.01022/10.21105.joss.01022.pdf)

[2018-10-15 16:08] wino6687 commented on #1018
@whedon generate pdf

[2018-10-15 16:08] whedon commented on #1018
[code]

[2018-10-15 16:09] whedon commented on #1018
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01018/joss.01018/10.21105.joss.01018.pdf)

[2018-10-15 16:11] wino6687 commented on #1018
Alright, the citation is fixed, sorry it took so many iterations!

[2018-10-15 17:18] arfon commented on #844
👍 great. Thanks @soodoku!

[2018-10-15 17:18] arfon commented on #844
@whedon add @soodoku as reviewer

[2018-10-15 17:18] whedon commented on #844
OK, @soodoku is now a reviewer

[2018-10-15 17:19] arfon commented on #844
@whedon add @russellpierce as reviewer

[2018-10-15 17:19] whedon commented on #844
OK, @russellpierce is now a reviewer

[2018-10-15 17:19] arfon commented on #844
@whedon start review

[2018-10-15 17:19] whedon opened #1023 "[REVIEW]: Overlapping: a R package for Estimating Overlapping in Empirical Distributions"
**Submitting author:** @masspastore (<a href="http://orcid.org/0000-0002-7922-6365">MASSIMILIANO PASTORE</a>)
**Repository:** <a href="https://github.com/masspastore/overlapping" target ="_blank">https://github.com/masspastore/overlapping</a>
**Version:** v1.5.0
**Editor:** @arfon
**Reviewer:** @soodoku, @russellpierce
**Archive:** <a href="https://doi.org/10.5281/zenodo.1920397" target="_blank">1

[2018-10-15 17:19] whedon commented on #844
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1023. Feel free to close this issue now!

[2018-10-15 17:19] whedon commented on #1023
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @soodoku, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2018-10-15 17:19] whedon commented on #1023
[code]

[2018-10-15 17:20] whedon commented on #1023
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01023/joss.01023/10.21105.joss.01023.pdf)

[2018-10-15 17:20] arfon commented on #844
@soodoku, @russellpierce - please head over to #1023 for the actual review of this package.

[2018-10-15 17:20] #844 closed

[2018-10-15 17:20] arfon commented on #1023
@soodoku, @russellpierce - please carry out your reviews in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2018-10-15 19:38] cicirello commented on #950
@ChrisJefferson The constructor with parameters `Permutation(Permutation p, int length)` will now only generate valid permutations.  I redefined its behavior (see the updated documentation of this constructor) slightly, but just enough that it could be implemented such that any parameter values can be handled.  Also replaced the old test cases for this constructor to test the new behavior.

Relate

[2018-10-15 19:45] ChrisJefferson commented on #950
Excellent, thanks.

I am now completely happy with this package.

This is not at all a requirement, but I notice when looking in github ( for example https://github.com/cicirello/JavaPermutationTools/blob/master/src/org/cicirello/permutations/Permutation.java#L92 ), that the formatting looks weird. Mixed tabs+spaces? Or a tab size different to github's?

[2018-10-15 20:09] cicirello commented on #950
@ChrisJefferson I fixed the weird formatting.  I think I had edited that one at some point from a different computer than usual with IDE configured differently (spaces vs tabs).

[2018-10-15 20:40] russellpierce commented on #1023
Is it typical that the Statement of Need, Example, etc would be just in the paper and not in the README.md of the repo?

[2018-10-15 20:52] russellpierce commented on #1023
@masspator Nice to meet you.  I've added several issues to your repo to cover items that I believe are in this checklist.  Rather than giving you a lot of extra feedback at this time, I'll pause there and wait to see if that feedback seems useful. :)

[2018-10-15 20:55] kellieotto commented on #161
@nhejazi @wilsoncai1992 thanks for such quick fixes! Looks great. @karthik I'm ready to recommend this to be accepted.

[2018-10-15 21:21] nhejazi commented on #161
Great! Many thanks for quickly working through this review with us, @kellieotto!

Many thanks also to @karthik  and @arfon both for searching for a new reviewer and ensuring one was found in time for this review to completed for the upcoming Bioconductor release.

[2018-10-15 21:30] wilsoncai1992 commented on #161
Thank you @karthik @arfon for your continued support on this submission.
Thank you @kellieotto for your timely and helpful feedback!

[2018-10-15 21:59] offray commented on #720
@seandenigris I have addressed your observations (including the creation of a new repository to avoid confusions between Grafoscopio and Dataviz packages and improved documentation). See the ticket in the new repository, at [1] (info from other issue/repository was migrated there also).

[1] https://mutabit.com/repos.fossil/dataviz/info/964c4bd0e0b2a112

@arfon I have changed the repository addres

[2018-10-15 22:04] mattgolub commented on #1003
@malmaud Thank you again for your time and effort in this review. I believe I have addressed the needs that you laid out for publication with JOSS:

-*Installation*: I've added requirements*.txt files along with corresponding instructions for a more streamlined installation in the README. I've noted this in the GitHub issue on this topic, and I've closed the issue.

-*Automated Testing*: I've adde

[2018-10-15 22:05] mikapfl commented on #973
Hi,

regarding the review question if all functional claims are implemented in the software, I'm having problems to understand if you actually implement

At least, this seems to be missing from the documentation (tutorial or API documentation) - how would I, say, calculate a form factor from a sample crystal structure? I haven't opened an issue in the bem issue tracker for this since I'm feeling l

[2018-10-15 22:15] mikapfl commented on #973
Hi,

regarding the citations: The citations are linked appropriately and as far as I could see are also relevant. Only one thing for the citations to be done: I think the right citation for Sven Vogel's dissertation would be
`Vogel, S. (2000). A rietveld-approach for the analysis of neutron time-of-flight transmission data (PhD thesis). Retrieved from https://macau.uni-kiel.de/receive/dissertation

[2018-10-15 23:16] arfon commented on #720
@offray - I've updated the repository address at the top of the issue.

[2018-10-15 23:18] whedon opened #1024 "[PRE REVIEW]: Altair: Interactive Statistical Visualizations for Python"
**Submitting author:** @domoritz (<a href="http://orcid.org/0000-0002-3110-1053">ROBYN DOMINIK MORITZ</a>)
**Repository:** <a href="https://github.com/altair-viz/altair" target ="_blank">https://github.com/altair-viz/altair</a>
**Version:** v2
**Editor:** @jedbrown
**Reviewers:** @jedbrown, @dnszafir, @terrytangyan, @kellieotto

**Author instructions**

Thanks for submitting your paper to JOSS @do

[2018-10-15 23:18] whedon commented on #1024
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-10-15 23:18] whedon commented on #1024
[code]

[2018-10-15 23:19] whedon commented on #1024
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01024/joss.01024/10.21105.joss.01024.pdf)

[2018-10-15 23:21] whedon opened #1025 "[PRE REVIEW]: GPUE: Graphics Processing Unit Gross-Pitaevskii Equation solver"
**Submitting author:** @leios (<a href="http://orcid.org/0000-0002-3243-8918">James Schloss</a>)
**Repository:** <a href="https://github.com/GPUE-group/GPUE" target ="_blank">https://github.com/GPUE-group/GPUE</a>
**Version:** v1.0
**Editor:** @labarba
**Reviewers:** @mgalloy, @markbasham

**Author instructions**

Thanks for submitting your paper to JOSS @leios. The JOSS editor (shown at the top o

[2018-10-15 23:57] fmaguire commented on #1010
@Kevin-Mattheus-Moerman Sorry about the slow reply, I've been away on holiday and only just got back.  Looks like you are sorted for this one but I'd be happy to review other submission in future.

[2018-10-16 00:18] yxqd commented on #973
Thanks, @mikapfl, for the comments. I will check on the issues.

Regarding "Calculate diffraction peaks data (d-spacing, form factors, etc.) according to sample crystal structure", this is done in the [bem.diffraction](https://github.com/ornlneutronimaging/braggedgemodeling/blob/master/bem/diffraction.py) module. d-spacing and form factor are essential to the Bragg-edge spectrum; without them the

[2018-10-16 01:57] jmborr commented on #1007
This PR dealt with the statement of need:
https://github.com/jmborr/idpflex/pull/74

Unfortunately, the documentation build in [readthedocs](https://readthedocs.org/projects/idpflex/builds/) is failing because of a known problem for one of the dependency packages ([mdtraj](https://github.com/mdtraj/mdtraj/issues/1119)) when building the documentation in a virtual environment. I am going to try bui

[2018-10-16 03:00] yxqd commented on #973
@mikapfl Please review ornlneutronimaging/braggedgemodeling#23, ornlneutronimaging/braggedgemodeling#28, ornlneutronimaging/braggedgemodeling#29, ornlneutronimaging/braggedgemodeling#30. Thanks.

[2018-10-16 04:52] reefpicker commented on #635
I will like to officially retract this submission.

Thanks!

On Tue, May 15, 2018 at 5:12 AM Claudio Benghi <notifications@github.com>
wrote:

[2018-10-16 07:43] domoritz commented on #1024
@arfon Done in https://github.com/altair-viz/altair/pull/1167.

I don't remember who said it but we had an editor volunteer to review the Altair submission. I hope that they see it and speak up. (https://github.com/altair-viz/altair/pull/394#issuecomment-429906564)

[2018-10-16 09:42] HaoZeke commented on #1015
@georgiosgerasimou I have raised some concerns regarding the installation procedure in https://github.com/prestsoftware/prest/issues/3.

Since there are multiple possible ways of resolving them, please discuss them on the appropriate issue.

[2018-10-16 10:15] arfon commented on #635
OK thanks for letting us know @reefpicker!

[2018-10-16 10:15] #635 closed

[2018-10-16 10:17] arfon commented on #1024
@whedon generate pdf

[2018-10-16 10:17] whedon commented on #1024
[code]

[2018-10-16 10:18] whedon commented on #1024
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01024/joss.01024/10.21105.joss.01024.pdf)

[2018-10-16 10:19] arfon commented on #1024
Great. Can we get that merged in?

[2018-10-16 11:48] mlxd commented on #948
@whedon generate pdf

[2018-10-16 11:48] whedon commented on #948
[code]

[2018-10-16 11:49] whedon commented on #948
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00948/joss.00948/10.21105.joss.00948.pdf)

[2018-10-16 11:49] mlxd commented on #948
No problem. I'll regenerate the PDF and we can go from there.

[2018-10-16 12:04] mlxd commented on #948
Guidelines issue created: https://github.com/cmendl/pytenet/issues/3

[2018-10-16 13:17] mlxd commented on #948
I'm happy with the current version. Once @jcmgray is too I think we can end the review.

[2018-10-16 14:19] domoritz commented on #1024
That's a very odd citation style.

<img width="619" alt="screen shot 2018-10-16 at 16 16 52" src="https://user-images.githubusercontent.com/589034/47022981-f0177400-d15e-11e8-8b8a-df52182137f7.png">

<img width="658" alt="screen shot 2018-10-16 at 16 16 45" src="https://user-images.githubusercontent.com/589034/47022984-f279ce00-d15e-11e8-830f-f592095bfb36.png">

[2018-10-16 14:42] jcmgray commented on #948
Yes I've had a look through and very happy with all the changes - so good to go on my part!

[2018-10-16 14:45] offray commented on #720
@arfon That link would work, but if you just put https://mutabit.com/repos.fossil/dataviz/ the repository will take care of any internal rerouting, including pointing to the readme file. Could you please change it to https://mutabit.com/repos.fossil/dataviz/ . Thanks.

[2018-10-16 14:53] arfonsmith commented on #1024
Yes, I saw that. I was wondering what was going on myself... I suggest we
investigate as we make progress on this submission.

[2018-10-16 16:05] ellisonbg commented on #1024
Merged the altair PR.

[2018-10-16 16:11] arfon commented on #1024
@whedon generate pdf

[2018-10-16 16:11] whedon commented on #1024
[code]

[2018-10-16 16:11] whedon commented on #1024
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01024/joss.01024/10.21105.joss.01024.pdf)

[2018-10-16 16:55] nicoguaro commented on #927
I followed the instructions provided in the repo to run ``Main.m`` and get the following result

    Error using load
    Unable to read file 'ModelParameters.mat'. No such file or directory.

[2018-10-16 17:59] JoFAM commented on #623
@zedtaha Sad to see this disappear after all the work you've put in. If you need help later on when you want to update the package, feel free to tag me again.

Cheers
Joris

[2018-10-16 18:06] cmendl commented on #948
DOI: 10.5281/zenodo.1464149

[2018-10-16 18:16] jedbrown commented on #948
@whedon set 10.5281/zenodo.1464149 as archive

[2018-10-16 18:16] whedon commented on #948
OK. <a href="https://doi.org/10.5281/zenodo.1464149" target="_blank">10.5281/zenodo.1464149</a> is the archive.

[2018-10-16 18:18] jedbrown commented on #948
@arfon Over to you.

[2018-10-16 18:22] arfon commented on #948
:+1: thanks. I'm going to try some new Whedon functionality here so apologies in advance if things go a little awry...

[2018-10-16 18:22] arfon commented on #948
@whedon commands

[2018-10-16 18:22] whedon commented on #948
Here are some things you can ask me to do:

[code]

[2018-10-16 18:22] arfon commented on #948
@whedon accept

[2018-10-16 18:22] whedon commented on #948
[code]

[2018-10-16 18:23] whedon commented on #948
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/9

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/9, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-10-16 18:39] arfon commented on #948
@mlxd, @jcmgray - many thanks for your reviews here and to @jedbrown for editing this submission ✨

@cmendl - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00948 :zap: :rocket: :boom:

[2018-10-16 18:39] #948 closed

[2018-10-16 18:39] whedon commented on #948
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00948/status.svg)](https://doi.org/10.21105/joss.00948)

**We need your help!**

Journal of Open Source Softwar

[2018-10-16 22:36] bzenger commented on #671
@Kevin-Mattheus-Moerman I have completed the review. I am waiting for one response from the author about community involvement and users seeking support. I tested the system with data from our own laboratory experiments and the system performed as described. Documentation and statements of need were adequate.

[2018-10-16 22:37] mikapfl commented on #973
@yxqd `bem.diffraction` seems to be entirely undocumented. I understand that you need it mainly "behind the scenes" to calculate the full Bragg edge curve, so maybe you should not put "Calculate diffraction peaks data (d-spacing, form factors, etc.) according to sample crystal structure" as the first (and thus implied to be most important) feature in the description of features in the README. If u

[2018-10-16 22:45] katyhuff commented on #973
@whedon generate pdf

[2018-10-16 22:45] whedon commented on #973
[code]

[2018-10-16 22:46] whedon commented on #973
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00973/joss.00973/10.21105.joss.00973.pdf)

[2018-10-16 22:51] katyhuff commented on #973
I believe the concern regarding references has been handled. This leaves just the final check boxes by @mikapfl regarding functionality and documentation of the API. Once those are handled, we should be good to go! @yxqd I hope you'll let us know when you believe these have been handled.

[2018-10-16 23:54] yxqd commented on #973
@mikapfl @katyhuff  I reworded the "features" to hide the details about diffraction calculation. Please check.

[2018-10-17 00:29] kthyng commented on #979
I just read through @speleophysics previous comments and I think everything has been satisfied. I feel comfortable moving forward.

@kbarnhart I'm setting your paper as accepted now! Can you create an archive (on Zenodo, figshare, or other) and post the archive DOI here?

[2018-10-17 00:46] kthyng commented on #1017
@alvv1986, thanks for your submission. The editorial board has determined that your submission does not meet our submission requirements. In particular, this submission falls under the 'Minor utility package' category; you can see more information under JOSS [Submission Requirements](https://joss.readthedocs.io/en/latest/submitting.html?#submission-requirements).

Please don't hesitate to reach ou

[2018-10-17 00:46] #1017 closed

[2018-10-17 02:18] kbarnhart commented on #979
@whedon generate pdf

[2018-10-17 02:18] whedon commented on #979
[code]

[2018-10-17 02:18] whedon commented on #979
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00979/joss.00979/10.21105.joss.00979.pdf)

[2018-10-17 12:55] kbarnhart commented on #979
@kthyng the zenodo archive is [http://doi.org/10.5281/zenodo.1464308](http://doi.org/10.5281/zenodo.1464308)

[2018-10-17 13:19] kthyng commented on #979
@whedon set 10.5281/zenodo.1464308 as archive

[2018-10-17 13:19] whedon commented on #979
OK. <a href="https://doi.org/10.5281/zenodo.1464308" target="_blank">10.5281/zenodo.1464308</a> is the archive.

[2018-10-17 13:20] kthyng commented on #979
Hey @arfon we have an accepted paper here!!

Thanks to @speleophysics and @tristan-salles for their reviews, and congrats to @kbarnhart!

[2018-10-17 13:20] whedon commented on #979
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00979/status.svg)](https://doi.org/10.21105/joss.00979)

**We need your help!**

Journal of Open Source Softwar

[2018-10-17 14:42] speleophysics commented on #979
Yes. I am/was ok with acceptance. I've been out of contact doing field work
the last week.
-------------------------
Matt Covington
Associate Professor
Department of Geosciences
340 N. Campus Dr.
216 Gearhart Hall
University of Arkansas
Fayetteville, AR 72701

webpage - http://www.speleophysics.com/
-------------------------

On Tue, Oct 16, 2018 at 10:29 PM Kristen Thyng <notifications@github.com

[2018-10-17 14:43] Kevin-Mattheus-Moerman commented on #671
@hooman650 please the final remaining issue I've just posted with some suggested minor edits to the paper (https://github.com/hooman650/BioSigKit/issues/6).

Once you've implemented those changes, please create a new release of your software and archive it in a service like [ZENODO](http://zenodo.org/). Once you've done that please list the DOI of the archived version here and also please mention

[2018-10-17 14:46] MikeHeiber commented on #1011
@labarba @arfon Just wondering when reviewer(s) will be assigned so that we can move forward. Please let me know if you are waiting on me for anything. Thanks!

[2018-10-17 14:54] arfon commented on #979
:wave: @kthyng - there are a couple of steps I need to take before we should close this issue. I'll do that now...

[2018-10-17 14:54] arfon commented on #979
@whedon accept

[2018-10-17 14:54] whedon commented on #979
[code]

[2018-10-17 14:55] whedon commented on #979
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/11

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/11, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-10-17 14:55] arfon commented on #979
@whedon accept deposit=true

[2018-10-17 14:55] whedon commented on #979
[code]

[2018-10-17 14:56] whedon commented on #979
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/12
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.00979](https://doi.org/10.21105/joss.00979)
2. If everything looks goo

[2018-10-17 14:59] arfon commented on #979
OK, looks like that worked :zap:

[2018-10-17 14:59] #979 closed

[2018-10-17 14:59] whedon commented on #979
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00979/status.svg)](https://doi.org/10.21105/joss.00979)

**We need your help!**

Journal of Open Source Softwar

[2018-10-17 16:48] cMadan commented on #999
@kellieotto, no problem, thank you for considering!

@nhejazi, sounds good. I'll go ahead and start the review, but feel free to take a look at the submission if you have time. (Or, I may ask again if it looks like an additional perspective seems necessary.)

[2018-10-17 16:49] cMadan commented on #999
@whedon add @snastase as reviewer

[2018-10-17 16:49] whedon commented on #999
OK, @snastase is now a reviewer

[2018-10-17 16:49] cMadan commented on #999
@whedon start review

[2018-10-17 16:49] whedon commented on #999
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1026. Feel free to close this issue now!

[2018-10-17 16:49] whedon opened #1026 "[REVIEW]: Pingouin: statistics in Python"
**Submitting author:** @raphaelvallat (<a href="http://orcid.org/0000-0003-1779-7653">Raphael Vallat</a>)
**Repository:** <a href="https://github.com/raphaelvallat/pingouin" target ="_blank">https://github.com/raphaelvallat/pingouin</a>
**Version:** v0.1.10
**Editor:** @cMadan
**Reviewer:** @snastase
**Archive:** <a href="https://doi.org/10.5281/zenodo.1491783" target="_blank">10.5281/zenodo.14917

[2018-10-17 16:49] whedon commented on #1026
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @snastase it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2018-10-17 16:49] whedon commented on #1026
[code]

[2018-10-17 16:49] #999 closed

[2018-10-17 16:50] whedon commented on #1026
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01026/joss.01026/10.21105.joss.01026.pdf)

[2018-10-17 17:28] arfon commented on #1024
@whedon generate pdf

[2018-10-17 17:28] whedon commented on #1024
[code]

[2018-10-17 17:29] whedon commented on #1024
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01024/joss.01024/10.21105.joss.01024.pdf)

[2018-10-17 17:36] arfon commented on #1024
I think it's because the `author` string is in the format author AND author and author (e.g. https://github.com/altair-viz/altair/blob/master/paper/paper.bib#L19) rather than Lastname, Firstname and Lastname, Firstname and Lastname, Firstname

[2018-10-17 17:45] hooman650 commented on #671
@Kevin-Mattheus-Moerman Thanks a lot for moving this forward. I have archived the final release on ZENODO.

[![DOI](https://zenodo.org/badge/128659224.svg)](https://zenodo.org/badge/latestdoi/128659224)

Version: V1.1

Thank you again.

[2018-10-17 18:01] domoritz commented on #1024
I'll fix it.

[2018-10-17 18:06] hooman650 commented on #671
I also wanted to thank all of you guys on this thread! I definitely learned a lot about building and maintaining a clean repository! It would definitely help a lot for my future software submissions!

Cheers

[2018-10-17 18:36] mikapfl commented on #973
Hi,

thanks, that solves the remaining issue for me, from my side, everything has been handled now. (-:

Cheers

Mika

[2018-10-17 19:42] ninjin commented on #921
My apologies, will sort it out in the morning.

[2018-10-17 21:09] nnadeau commented on #966
@Kevin-Mattheus-Moerman @davidnsousa everything looks good to me :)

@davidnsousa great job fixing the previous issues (especially adding testing)

[2018-10-17 21:16] labarba commented on #1011
You should expect at least a period of two weeks for finding reviewers. Sometimes more. Editors and reviewers are volunteers and most often have latency before new tasks enter our queue. Right now, for example, I'm starting a trip, with two talks to give, and last week, another trip and another talk.

[2018-10-17 23:04] domoritz commented on #1024
I fixed the author format in https://github.com/altair-viz/altair/pull/1169

[2018-10-18 00:47] yxqd commented on #973
@mikapfl thanks. @katyhuff I believe all items have been handled.

[2018-10-18 00:50] jmbr commented on #1025
I'm not available for refereeing for the next 2-3 weeks. Feel free to notify me after that if necessary.

[2018-10-18 04:40] jedbrown commented on #1024
@whedon generate pdf

[2018-10-18 04:40] whedon commented on #1024
[code]

[2018-10-18 04:41] whedon commented on #1024
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01024/joss.01024/10.21105.joss.01024.pdf)

[2018-10-18 04:47] jedbrown commented on #1024
It's somewhat outside my usual wheelhouse, but I have some potential reviewers in mind and would be happy to edit this submission if no other editor emerges to claim it.

[2018-10-18 04:55] jedbrown commented on #959
@krischer @suyashkumar @scivision Would any of you be available to review this submission?

[2018-10-18 05:08] jedbrown commented on #986
@nnadeau @ctdegroot Would you be available to review this submission?

[2018-10-18 07:15] domoritz commented on #1024
Hmm, the references still look funny. Do you have any suggestions?

<img width="685" alt="screen shot 2018-10-18 at 09 14 33" src="https://user-images.githubusercontent.com/589034/47137222-49de8200-d2b6-11e8-962f-cec4391ab455.png">

[2018-10-18 07:45] Kevin-Mattheus-Moerman commented on #671
@arfon We've had two completed and positive reviews (I've personally reviewed this submission as well). Some concerns were expressed by two initial reviewers (who have not completed the review process) who felt this work overlapped significantly with other projects. However myself and @cMadan conclude this work is sufficiently substantive to standalone as a toolbox. We therefore recommend acceptan

[2018-10-18 07:46] Kevin-Mattheus-Moerman commented on #671
Thanks @bzenger @fernandoandreotti @marianux for your efforts as a reviewer. :rocket: :robot:

[2018-10-18 07:50] Kevin-Mattheus-Moerman commented on #966
@davidnsousa, reviewer @mwacaan posted these issues (albeit not in the correct repository), have you been able to work on these too?
https://github.com/openjournals/joss-reviews/issues/1019
https://github.com/openjournals/joss-reviews/issues/1020

[2018-10-18 07:51] Kevin-Mattheus-Moerman commented on #966
@nnadeau are you able to tick the boxes at the top of this issue?

[2018-10-18 09:28] Padlina commented on #941
@Kevin-Mattheus-Moerman Just to be sure that I'm testing everything needed: documentation is [this](https://samewords.readthedocs.io/en/latest/index.html) and software paper is [this](https://github.com/openjournals/joss-papers/blob/joss.00941/joss.00941/10.21105.joss.00941.pdf), right? Should we also test the API interface and the web service?

[2018-10-18 10:21] stenskjaer commented on #941
@Padlina It is my understanding that you should not test the API and web service, as it is an assistive or auxilliary way of using the software. At least that is my expectation. Comments are of course welcome.
@Kevin-Mattheus-Moerman may correct me, if I am wrong.

@maieul Thank you for the observation. I think it is a good point.

Also, @Kevin-Mattheus-Moerman,  I think it is most meaningful that

[2018-10-18 11:01] davidnsousa commented on #966
@nnadeau thank you! :)

@Kevin-Mattheus-Moerman I am working on these issues.

@mwacaan thank you for your notes.
- I updated the paper.
- I fixed the name of the replication script.
- I do not see how do you get these errors. Everything runs fine locally and I have just updated the repository and the build passes. Are you running the most recent version of the .m files? Did you changed them? Coul

[2018-10-18 11:17] arfon commented on #671
@whedon set 10.5281/zenodo.1464968 as archive

[2018-10-18 11:17] whedon commented on #671
OK. <a href="https://doi.org/10.5281/zenodo.1464968" target="_blank">10.5281/zenodo.1464968</a> is the archive.

[2018-10-18 11:17] arfon commented on #671
@whedon accept

[2018-10-18 11:17] whedon commented on #671
[code]

[2018-10-18 11:18] whedon commented on #671
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/13

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/13, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-10-18 11:19] arfon commented on #671
@whedon accept deposit=true

[2018-10-18 11:20] whedon commented on #671
[code]

[2018-10-18 11:20] whedon commented on #671
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/14
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.00671](https://doi.org/10.21105/joss.00671)
2. If everything looks goo

[2018-10-18 12:57] arfon commented on #1024
This PR seems to fix the formatting @domoritz : https://github.com/altair-viz/altair/pull/1171

Check out this version I compiled locally based on these changes:
[10.21105.joss.01024.pdf](https://github.com/openjournals/joss-reviews/files/2491965/10.21105.joss.01024.pdf)

[2018-10-18 13:01] domoritz commented on #1024
Excellent. May I ask how you compile the paper locally?

[2018-10-18 13:42] MarionLegrandLogrami commented on #791
@whedon generate pdf

[2018-10-18 13:42] whedon commented on #791
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00791/joss.00791/10.21105.joss.00791.pdf)

[2018-10-18 13:58] jedbrown commented on #1024
@whedon generate pdf

[2018-10-18 13:58] whedon commented on #1024
[code]

[2018-10-18 13:58] whedon commented on #1024
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01024/joss.01024/10.21105.joss.01024.pdf)

[2018-10-18 14:08] jedbrown commented on #1024
Looks good apart from capitalization in the CHI reference.

You can do a basic compile directly using pandoc, but if you want complete decoration you'd install https://github.com/openjournals/whedon/ (which has a lot of Ruby dependencies and ultimately calls pandoc with many arguments).
`pandoc -o paper.pdf --filter pandoc-citeproc --csl /path/to/apa.csl paper.md`

[2018-10-18 14:43] uvilla commented on #940
@IgorBaratta ,

Did you have a change to review our contributing guidelines?
Is there any other issue that you'd like to be address?
Thank you again for your time in reviewing hIPPYlib and for your constructive comments.

[2018-10-18 14:49] Padlina commented on #941
@stenskjaer I think that there is some issues with the sensitive context match. See stenskjaer/samewords/issues/36

[2018-10-18 14:52] nnadeau commented on #986
@jedbrown unfortunately, I'll have to pass on this review.

[2018-10-18 14:57] MarionLegrandLogrami commented on #791
Hi @arfon and @steffilazerte - I'm happy to inform you that we finished to update the stacomiR package. The new version is available on CRAN and rforge (we updated the version provided on github as well). We made the main following modifications:

- remove all call to test database,

- incorporate the vignette inside the package,

- add [detailed installation instructions on github](https://github

[2018-10-18 14:57] Kevin-Mattheus-Moerman commented on #941
@Padlina yes we can skip the API and web service for now. Focus on software functionality claimed/presented in the paper.

@stenskjaer in relation to waiting for all review comments to come in, I would recommend tackling issues one at a time as they come in. This way, I think, you are more likely to keep reviewers involved (we've had occasions where communication with reviewers dried up because th

[2018-10-18 14:57] ctdegroot commented on #986
@jedbrown Yes, I can review it.

[2018-10-18 15:10] arghdos commented on #1025
Unfortunately I'm in the same boat as @jmbr -- finishing up my PhD here, and won't be available for at least a few weeks.

[2018-10-18 15:19] jedbrown commented on #986
@whedon add @ctdegroot as reviewer

[2018-10-18 15:19] whedon commented on #986
OK, @ctdegroot is now a reviewer

[2018-10-18 15:20] jedbrown commented on #986
Thanks, @ctdegroot and @nnadeau for the quick replies.

[2018-10-18 15:20] jedbrown commented on #986
@whedon start review

[2018-10-18 15:20] whedon commented on #986
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1027. Feel free to close this issue now!

[2018-10-18 15:20] whedon opened #1027 "[REVIEW]: fibergen: An introductory tool for FFT-based material homogenization"
**Submitting author:** @fospald (<a href="http://orcid.org/0000-0001-8372-9179">Felix Ospald</a>)
**Repository:** <a href="https://github.com/fospald/fibergen" target ="_blank">https://github.com/fospald/fibergen</a>
**Version:** v1.0
**Editor:** @jedbrown
**Reviewer:** @tisaac, @ctdegroot
**Archive:** <a href="https://doi.org/10.5281/zenodo.2556861" target="_blank">10.5281/zenodo.2556861</a>

##

[2018-10-18 15:20] whedon commented on #1027
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @tisaac, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2018-10-18 15:20] whedon commented on #1027
[code]

[2018-10-18 15:21] whedon commented on #1027
PDF failed to compile for issue #1027 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1027 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-626f701dd525/lib/whedo

[2018-10-18 15:24] karthik commented on #161
@nhejazi  Please archive your package on Zenodo and update this thread with a doi and I can move forward with acceptance.

@kellieotto We are very grateful for a speedy review! 🙏

[2018-10-18 15:31] jedbrown commented on #1027
@whedon generate pdf

[2018-10-18 15:31] whedon commented on #1027
[code]

[2018-10-18 15:32] whedon commented on #1027
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01027/joss.01027/10.21105.joss.01027.pdf)

[2018-10-18 15:36] jedbrown commented on #1027
@arfon Do you know why this review issue was created with the repository linked to https://fospald.github.io/fibergen/ instead of the repository from the pre-review issue #986? (I edited it before asking whedon to regenerate.)

@tisaac @ctdegroot Welcome! The comments from whedon above outline the review process. I'll be watching this thread if you have any questions. Thanks!

[2018-10-18 15:38] katyhuff commented on #973
Excellent! Thank you @mikapfl and @stuartcampbell for the reviews! I know it's a lot of work, and I think you both conducted very helpful and thorough.

Thank you @yxqd for this interesting submission, and for engaging actively in the review process.
Could you please make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can

[2018-10-18 15:45] malmaud commented on #1003
Thanks - all my objections have been addressed. The automated tests run to completion on my machine.

I'm personally OK with adding Python 3 support sometime later, but I think that will ultimately be up to the editor.

@arokem, I recommend accepting at this time, contingent on you being OK with the Python 3 issue.

[2018-10-18 15:50] katyhuff commented on #973
@whedon generate pdf

[2018-10-18 15:50] whedon commented on #973
[code]

[2018-10-18 15:51] whedon commented on #973
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00973/joss.00973/10.21105.joss.00973.pdf)

[2018-10-18 16:02] karthik commented on #942
Thanks @daijiang! I've reached out to Sydne and will update when I hear back.

[2018-10-18 16:09] hamedmx commented on #892
@arfon I think @jasonclark is not available these days.

[2018-10-18 16:09] whedon commented on #945
OK, the reviewer is @sastoudt

[2018-10-18 16:09] karthik commented on #945
@whedon start review

[2018-10-18 16:09] whedon opened #1028 "[REVIEW]: `rr2`: An R package to calculate R2s for regression models"
**Submitting author:** @arives (<a href="http://orcid.org/0000-0001-9375-9523">Anthony Ives</a>)
**Repository:** <a href="https://github.com/arives/rr2" target ="_blank">https://github.com/arives/rr2</a>
**Version:** v1.0.0
**Editor:** @karthik
**Reviewer:** @sastoudt
**Archive:** <a href="https://doi.org/10.5281/zenodo.1475416" target="_blank">10.5281/zenodo.1475416</a>

## Status

[![status](htt

[2018-10-18 16:09] whedon commented on #945
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1028. Feel free to close this issue now!

[2018-10-18 16:09] whedon commented on #1028
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @sastoudt it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2018-10-18 16:09] whedon commented on #1028
[code]

[2018-10-18 16:10] whedon commented on #1028
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01028/joss.01028/10.21105.joss.01028.pdf)

[2018-10-18 16:10] arfon commented on #791
Thanks @MarionLegrandLogrami! @steffilazerte - please take another look when you get a chance.

[2018-10-18 16:11] stuartcampbell commented on #973
@katyhuff You are welcome.

[2018-10-18 16:14] #986 closed

[2018-10-18 16:31] #945 closed

[2018-10-18 16:32] arfon commented on #892
@whedon set 10.6084/m9.figshare.7189043 as archive

[2018-10-18 16:32] whedon commented on #892
OK. <a href="https://doi.org/10.6084/m9.figshare.7189043" target="_blank">10.6084/m9.figshare.7189043</a> is the archive.

[2018-10-18 16:32] arfon commented on #892
@whedon accept

[2018-10-18 16:32] whedon commented on #892
[code]

[2018-10-18 16:33] whedon commented on #892
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/15

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/15, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-10-18 16:35] arfon commented on #892
@whedon accept deposit=true

[2018-10-18 16:35] #892 closed

[2018-10-18 16:35] whedon commented on #892
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00892/status.svg)](https://doi.org/10.21105/joss.00892)

**We need your help!**

Journal of Open Source Softwar

[2018-10-18 16:35] whedon commented on #892
[code]

[2018-10-18 16:36] whedon commented on #892
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/16
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.00892](https://doi.org/10.21105/joss.00892)
2. If everything looks goo

[2018-10-18 16:38] arfon commented on #892
@dredamonsta1, @cmccomb - many thanks for your reviews here and to @jasonclark for editing this submission ✨

@hamedmx - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00892 :zap: :rocket: :boom:

[2018-10-18 16:44] HaoZeke commented on #1015
@whedon generate pdf

[2018-10-18 16:44] whedon commented on #1015
[code]

[2018-10-18 16:45] whedon commented on #1015
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01015/joss.01015/10.21105.joss.01015.pdf)

[2018-10-18 16:50] HaoZeke commented on #1015
@arfon This is now fully compliant with the JOSS guidelines IMO.

@georgiosgerasimou and @ziman, thank you so much for being prompt and accommodative to my many queries and clarifications. It's an amazing software, with great docs and code architecture, and I am glad I got the chance to review it! Also, thanks for taking the time to ensure JOSS compliance.

[2018-10-18 17:35] jedbrown commented on #1027
@tisaac A tag should be made after the review (which may include new commits to the software), as part of archiving (using Zenodo or similar). It isn't necessary at this stage.

[2018-10-18 17:39] nhejazi commented on #161
@karthik --- Done! The DOI is 10.5281/zenodo.1466019, and the Zenodo release link is [here](https://zenodo.org/record/1466019#.W8jEwBRlDD0).

Once again, thanks much for all your help in this process @kellieotto, @karthik, @arfon --- it's much appreciated!

[2018-10-18 17:45] tisaac commented on #1027
I'm checking off "Does the full list of paper authors seem appropriate and complete?", but the second commit (fospald/fibergen@c6a91c98e) appears to be an import an existing project, so I'm relying on the honesty of the author.

[2018-10-18 18:50] steffilazerte commented on #791
I will definitely take a look, but it might be a week or so before I can really dive in fully. I'll keep you posted.

[2018-10-18 19:01] ifellows commented on #988
@whedon generate pdf

[2018-10-18 19:02] whedon commented on #988
[code]

[2018-10-18 19:02] whedon commented on #988
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00988/joss.00988/10.21105.joss.00988.pdf)

[2018-10-18 19:08] krischer commented on #959
Yes - but due to existing commitments I could only get this done around November 9th. If that is okay sign me up.

[2018-10-18 19:20] jedbrown commented on #959
@krischer That's reasonable. Thanks!

[2018-10-18 19:21] jedbrown commented on #959
@whedon add @krischer as reviewer

[2018-10-18 19:21] whedon commented on #959
OK, @krischer is now a reviewer

[2018-10-18 19:28] karthik commented on #161
@whedon set 10.5281/zenodo.1466019 as archive

[2018-10-18 19:28] whedon commented on #161
OK. <a href="https://doi.org/10.5281/zenodo.1466019" target="_blank">10.5281/zenodo.1466019</a> is the archive.

[2018-10-18 19:28] karthik commented on #161
Thanks @nhejazi! Your paper is accepted. 🎉
@arfon this is ready to process.

[2018-10-18 19:35] katyhuff commented on #973
@whedon set 10.5281/zenodo.1466048 as archive

[2018-10-18 19:35] whedon commented on #973
OK. <a href="https://doi.org/10.5281/zenodo.1466048" target="_blank">10.5281/zenodo.1466048</a> is the archive.

[2018-10-18 19:35] katyhuff commented on #973
@whedon generate pdf

[2018-10-18 19:35] whedon commented on #973
[code]

[2018-10-18 19:36] cpontonn commented on #927
Dear nicoguaro, did you made the working folder of matlab the one of the example you wanted to run ? If there is no ModelParameters.mat in the folder, therefore you need to create it thanks to the GenerateParameters GUI.

By the way, I am Charles Pontonnier, one of the co-authors of this toolbox. In view of the numerous issues the reviewers raised during the review, we are preparing a lot of addit

[2018-10-18 19:37] katyhuff commented on #973
Thanks again to @stuartcampbell and @mikapfl for your helpful reviews.
Congratulations @yxqd , your paper is ready to be accepted!

@arfon We're ready to accept this submission, so it's over to you!

[2018-10-18 20:08] arfon commented on #161
@whedon accept

[2018-10-18 20:08] whedon commented on #161
[code]

[2018-10-18 20:08] nicoguaro commented on #927
@cpontonn, I will wait those changes before any other attempt then.

[2018-10-18 20:08] whedon commented on #161
PDF failed to compile for issue #161 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0     94      0 --:--:-- --:--:-- --:--:--    95
Could not find bib

[2018-10-18 20:09] arfon commented on #161
@nhejazi - could you updated your `paper.md` file to point to `paper.bib` so we can compile the paper please?

[2018-10-18 20:10] arfon commented on #973
@whedon accept

[2018-10-18 20:10] whedon commented on #973
[code]

[2018-10-18 20:10] whedon commented on #973
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/17

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/17, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-10-18 20:11] arfon commented on #973
@whedon accept deposit=true

[2018-10-18 20:11] whedon commented on #973
[code]

[2018-10-18 20:12] whedon commented on #973
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/18
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.00973](https://doi.org/10.21105/joss.00973)
2. If everything looks goo

[2018-10-18 20:15] #973 closed

[2018-10-18 20:15] whedon commented on #973
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00973/status.svg)](https://doi.org/10.21105/joss.00973)

**We need your help!**

Journal of Open Source Softwar

[2018-10-18 20:17] jmborr commented on #1007
@gjeuken @brainstorm This [PR](https://github.com/jmborr/idpflex/pull/76) dealt with building correctly the [documentation in readthedocs](https://idpflex.readthedocs.io/en/latest/). Now the statement-of-need is public :smiley:

[2018-10-18 21:13] domoritz commented on #1024
I fixed the capitalization of CHI in https://github.com/altair-viz/altair/pull/1174.

[2018-10-18 22:06] fospald commented on #1027
I'm the original author of every line of the code and all demos, etc.
I did not use github right from the beginning for the project. I'm adding the project because research and publications are done.

[2018-10-18 23:56] arfon commented on #161
@whedon generate pdf

[2018-10-18 23:56] whedon commented on #161
[code]

[2018-10-18 23:56] whedon commented on #161
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00161/joss.00161/10.21105.joss.00161.pdf)

[2018-10-18 23:57] arfon commented on #161
@whedon accept

[2018-10-18 23:57] whedon commented on #161
[code]

[2018-10-18 23:57] whedon commented on #161
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/19

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/19, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-10-19 00:27] arfon commented on #161
@whedon accept

[2018-10-19 00:27] whedon commented on #161
[code]

[2018-10-19 00:28] whedon commented on #161
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/20

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/20, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-10-19 00:29] arfon commented on #161
@whedon accept deposit=true

[2018-10-19 00:29] whedon commented on #161
[code]

[2018-10-19 00:30] whedon commented on #161
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/21
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.00161](https://doi.org/10.21105/joss.00161)
2. If everything looks goo

[2018-10-19 00:30] whedon opened #1029 "[PRE REVIEW]: PyMS: Python for Mycorrhizal Symbiosis data analysis"
**Submitting author:** @jschnab (<a href="http://orcid.org/0000-0002-9515-332X">Jonathan Schnabel</a>)
**Repository:** <a href="https://github.com/jschnab/pyms" target ="_blank">https://github.com/jschnab/pyms</a>
**Version:** 0.8.1
**Editor:** @arfon
**Reviewers:** @aokad, @johnlees

**Author instructions**

Thanks for submitting your paper to JOSS @jschnab. The JOSS editor (shown at the top of t

[2018-10-19 00:30] whedon commented on #1029
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-10-19 00:30] whedon commented on #1029
[code]

[2018-10-19 00:30] whedon opened #1030 "[PRE REVIEW]: EMViz (Early Music Visualization): MATLAB runtime application"
**Submitting author:** @carterenyi (<a href="http://orcid.org/0000-0003-2614-4777">Aaron Carter-Enyi</a>)
**Repository:** <a href="https://github.com/carterenyi/emviz" target ="_blank">https://github.com/carterenyi/emviz</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @carterenyi. The JOSS editor (shown at the top

[2018-10-19 00:30] whedon commented on #1030
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-10-19 00:30] whedon commented on #1030
[code]

[2018-10-19 00:30] whedon commented on #1030
Failed to discover a valid open source license.

[2018-10-19 00:30] whedon opened #1031 "[PRE REVIEW]: scarplet: A Python package for topographic template matching and diffusion dating"
**Submitting author:** @rmsare (<a href="http://orcid.org/0000-0003-3711-6771">Robert Sare</a>)
**Repository:** <a href="https://github.com/rmsare/scarplet" target ="_blank">https://github.com/rmsare/scarplet</a>
**Version:** 0.1.0
**Editor:** @kthyng
**Reviewers:** @fclubb, @mcflugen

**Author instructions**

Thanks for submitting your paper to JOSS @rmsare. The JOSS editor (shown at the top of t

[2018-10-19 00:30] whedon commented on #1031
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kthyng it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-10-19 00:30] whedon commented on #1031
[code]

[2018-10-19 00:30] whedon commented on #1030
PDF failed to compile for issue #1030 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1030/paper.md): mapping values are not allowed in this context at line 1 column 42 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/vendor/r

[2018-10-19 00:30] whedon commented on #1029
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01029/joss.01029/10.21105.joss.01029.pdf)

[2018-10-19 00:31] arfon commented on #1031
:wave: @kthyng - the submitting author suggested you as the handling editor.

[2018-10-19 00:31] whedon commented on #1031
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01031/joss.01031/10.21105.joss.01031.pdf)

[2018-10-19 00:31] whedon opened #1032 "[PRE REVIEW]: dml: Distance Metric Learning in R"
**Submitting author:** @terrytangyuan (<a href="http://orcid.org/0000-0001-5243-233X">Yuan Tang</a>)
**Repository:** <a href="https://github.com/terrytangyuan/dml" target ="_blank">https://github.com/terrytangyuan/dml</a>
**Version:** v1.1.0
**Editor:** @arfon
**Reviewers:** @joethorley

**Author instructions**

Thanks for submitting your paper to JOSS @terrytangyuan. The JOSS editor (shown at the

[2018-10-19 00:31] whedon commented on #1032
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-10-19 00:31] whedon commented on #1032
[code]

[2018-10-19 00:31] whedon opened #1033 "[PRE REVIEW]: polyCub: An R package for Integration over Polygons"
**Submitting author:** @bastistician (<a href="http://orcid.org/0000-0002-1791-9449">Sebastian Meyer</a>)
**Repository:** <a href="https://github.com/bastistician/polyCub" target ="_blank">https://github.com/bastistician/polyCub</a>
**Version:** 0.7.0
**Editor:** @karthik
**Reviewers:** @wrathematics

**Author instructions**

Thanks for submitting your paper to JOSS @bastistician. The JOSS editor

[2018-10-19 00:31] whedon commented on #1033
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @karthik it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-10-19 00:31] whedon commented on #1033
[code]

[2018-10-19 00:31] whedon commented on #1032
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01032/joss.01032/10.21105.joss.01032.pdf)

[2018-10-19 00:31] arfon commented on #1033
:wave: @karthik - the submitting author suggested you as the handling editor.

[2018-10-19 00:32] whedon commented on #1033
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01033/joss.01033/10.21105.joss.01033.pdf)

[2018-10-19 00:32] whedon opened #1034 "[PRE REVIEW]: nasapower: A NASA POWER Global Meteorology, Surface Solar Energy and Climatology Data Client for R"
**Submitting author:** @adamhsparks (<a href="http://orcid.org/0000-0002-0061-8359">Adam H. Sparks</a>)
**Repository:** <a href="https://github.com/ropensci/nasapower" target ="_blank">https://github.com/ropensci/nasapower</a>
**Version:** v1.0.2
**Editor:** @karthik
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @adamhsparks. The JOSS editor (shown at the

[2018-10-19 00:32] whedon commented on #1034
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @karthik it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-10-19 00:32] whedon commented on #1034
[code]

[2018-10-19 00:32] whedon commented on #1034
PDF failed to compile for issue #1034 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-1b5849bd99c1/lib/whedon.rb:117:in `[]': no implicit conversion of String into Integer (TypeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-1b5849bd99c1/lib/whedon.rb:117:in `block in parse_affiliations'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-1b5849bd99

[2018-10-19 00:37] arfon commented on #161
@kellieotto - many thanks for your review here and to @karthik for editing this submission ✨

@wilsoncai1992 - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00161 :zap: :rocket: :boom:

[2018-10-19 00:37] #161 closed

[2018-10-19 00:37] whedon commented on #161
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00161/status.svg)](https://doi.org/10.21105/joss.00161)

**We need your help!**

Journal of Open Source Softwar

[2018-10-19 00:40] adamhsparks commented on #1034
@karthik, I've reformatted the YAML header and committed those changes just now, hopefully that helps with the PDF compilation error above?

[2018-10-19 00:43] arfon commented on #1030
Hi @carterenyi. Thanks for your submission to JOSS. A few things that need addressing before we can continue:

- Please format your paper metadata _exactly_ as you will find in [this example](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography). YAML is whitespace sensitive and so your current metadata won't compile
- You seem to have content from our user guide in

[2018-10-19 00:45] arfon commented on #1034
@whedon generate pdf

[2018-10-19 00:45] whedon commented on #1034
[code]

[2018-10-19 00:46] whedon commented on #1034
PDF failed to compile for issue #1034 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-1b5849bd99c1/lib/whedon.rb:117:in `[]': no implicit conversion of String into Integer (TypeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-1b5849bd99c1/lib/whedon.rb:117:in `block in parse_affiliations'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-1b5849bd99

[2018-10-19 00:49] arfon commented on #1034
@adamhsparks - I think your `affiliations` block is the problem:

[code]

should be:

[code]

[2018-10-19 00:51] adamhsparks commented on #1034
Yes, I just figured that out and sent a commit. Thanks, @arfon

[2018-10-19 01:13] terrytangyuan commented on #1032
Potential reviewers: @nhejazi @strengejacke @joethorley. Please let us know if you are willing to review this. Thanks!

[2018-10-19 01:14] arfon commented on #1034
@whedon generate pdf

[2018-10-19 01:14] whedon commented on #1034
[code]

[2018-10-19 01:14] whedon commented on #1034
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01034/joss.01034/10.21105.joss.01034.pdf)

[2018-10-19 01:19] arfon commented on #1034
@whedon assign @arfon as reviewer

[2018-10-19 01:19] whedon commented on #1034
OK, the reviewer is @arfon

[2018-10-19 01:20] whedon opened #1035 "[REVIEW]: nasapower: A NASA POWER Global Meteorology, Surface Solar Energy and Climatology Data Client for R"
**Submitting author:** @adamhsparks (<a href="http://orcid.org/0000-0002-0061-8359">Adam H. Sparks</a>)
**Repository:** <a href="https://github.com/ropensci/nasapower" target ="_blank">https://github.com/ropensci/nasapower</a>
**Version:** v1.0.2
**Editor:** @karthik
**Reviewer:** @arfon
**Archive:** <a href="https://doi.org/10.5281/zenodo.1466069" target="_blank">10.5281/zenodo.1466069</a>

## St

[2018-10-19 01:33] arfon commented on #1035
@whedon accept

[2018-10-19 01:33] whedon commented on #1035
[code]

[2018-10-19 01:33] whedon commented on #1035
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/22

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/22, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-10-19 01:34] arfon commented on #1035
@whedon accept deposit=true

[2018-10-19 01:34] whedon commented on #1035
[code]

[2018-10-19 01:35] whedon commented on #1035
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/23
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01035](https://doi.org/10.21105/joss.01035)
2. If everything looks goo

[2018-10-19 01:36] arfon commented on #1035
@adamhsparks - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.01035 :zap: :rocket: :boom:

[2018-10-19 01:36] #1035 closed

[2018-10-19 01:36] whedon commented on #1035
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01035/status.svg)](https://doi.org/10.21105/joss.01035)

**We need your help!**

Journal of Open Source Softwar

[2018-10-19 01:43] joethorley commented on #1032
I'm willing

[2018-10-19 01:55] terrytangyuan commented on #1032
@arfon Could you be the editor?

[2018-10-19 02:54] yxqd commented on #973
Thank you @katyhuff @arfon

[2018-10-19 03:38] rmsare commented on #1031
@whedon list reviewers

[2018-10-19 03:38] whedon commented on #1031
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2018-10-19 03:44] rmsare commented on #1031
kbarnhart, leouieda, kbevers or sgrieve all seems like good potential reviewers if any of them are interested.

[2018-10-19 07:17] domoritz commented on #1024
@whedon generate pdf

[2018-10-19 07:17] whedon commented on #1024
[code]

[2018-10-19 07:18] whedon commented on #1024
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01024/joss.01024/10.21105.joss.01024.pdf)

[2018-10-19 07:39] bastistician commented on #1033
Scanning through https://bit.ly/joss-reviewers, I found @nuest and @wrathematics to be potentially suitable reviewers for the R package **polyCub**.

[2018-10-19 09:08] georgiosgerasimou commented on #1015
@HaoZeke Thank you very much for reviewing Prest, and for your kind words!

[2018-10-19 10:09] arfon commented on #1032
@whedon assign @arfon as editor

[2018-10-19 10:09] whedon commented on #1032
OK, the editor is @arfon

[2018-10-19 10:10] arfon commented on #1032
@whedon assign @joethorley as reviewer

[2018-10-19 10:10] whedon commented on #1032
OK, the reviewer is @joethorley

[2018-10-19 10:10] arfon commented on #1032
@whedon start review

[2018-10-19 10:10] #1032 closed

[2018-10-19 10:10] whedon opened #1036 "[REVIEW]: dml: Distance Metric Learning in R"
**Submitting author:** @terrytangyuan (<a href="http://orcid.org/0000-0001-5243-233X">Yuan Tang</a>)
**Repository:** <a href="https://github.com/terrytangyuan/dml" target ="_blank">https://github.com/terrytangyuan/dml</a>
**Version:** v1.1.0
**Editor:** @arfon
**Reviewer:** @joethorley
**Archive:** <a href="https://doi.org/10.5281/zenodo.1469129" target="_blank">10.5281/zenodo.1469129</a>

## Stat

[2018-10-19 10:10] whedon commented on #1032
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1036. Feel free to close this issue now!

[2018-10-19 10:10] whedon commented on #1036
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @joethorley it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2018-10-19 10:10] whedon commented on #1036
[code]

[2018-10-19 10:11] arfon commented on #1032
@joethorley - thanks for agreeing to review this package! See you and @terrytangyuan over in #1036 for the actual review.

[2018-10-19 10:11] arfon commented on #1036
@joethorley - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2018-10-19 10:11] whedon commented on #1036
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01036/joss.01036/10.21105.joss.01036.pdf)

[2018-10-19 10:12] arfon commented on #1015
@georgiosgerasimou - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-10-19 11:31] jschnab commented on #1029
Hi, I suggest the following reviewers, in not particular order:
conradstack
tacaswell
krother
kellietto
Chilipp
aokad
nagoue

[2018-10-19 11:58] mikapfl commented on #973
Hi,

the "cite as" part in http://joss.theoj.org/papers/10.21105/joss.00973 looks weird, is that intended?

Cheers

Mika

[2018-10-19 12:34] arfon commented on #973
Nope. That's a bug. I'll fix early next week.

On Fri, Oct 19, 2018 at 07:58, Mika Pflüger <notifications@github.com>
wrote:

[2018-10-19 12:44] georgiosgerasimou commented on #1015
@whedon generate pdf

[2018-10-19 12:44] whedon commented on #1015
[code]

[2018-10-19 12:44] whedon commented on #1015
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01015/joss.01015/10.21105.joss.01015.pdf)

[2018-10-19 12:54] georgiosgerasimou commented on #1015
@arfon
https://zenodo.org/badge/latestdoi/147970131  - thanks!

[2018-10-19 12:58] jschnab commented on #1029
@whedon generate pdf

[2018-10-19 12:58] whedon commented on #1029
[code]

[2018-10-19 12:59] whedon commented on #1029
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01029/joss.01029/10.21105.joss.01029.pdf)

[2018-10-19 14:43] terrytangyuan commented on #1036
@whedon generate pdf

[2018-10-19 14:43] whedon commented on #1036
[code]

[2018-10-19 14:44] whedon commented on #1036
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01036/joss.01036/10.21105.joss.01036.pdf)

[2018-10-19 14:51] terrytangyuan commented on #1036
Thanks. @arfon It seems like the "`R`"s got lower-cased in the references, which didn't happen before for my previous publication through JOSS. Do you know if anything has changed?

[2018-10-19 17:12] arfonsmith commented on #1036
I know we've changed citation style a few months ago. I'm away from my
computer until Sunday evening but will try and take a look then.

On Fri, Oct 19, 2018 at 10:52, Yuan (Terry) Tang <notifications@github.com>
wrote:

[2018-10-19 17:28] cMadan commented on #984
@nnadeau, during the pre-review (https://github.com/openjournals/joss-reviews/issues/963) I noticed some typos in the README, so I fixed them (https://github.com/jeffmacinnes/mobileGazeMapping/pull/1).

[2018-10-19 19:59] georgiosgerasimou commented on #1015
@arfon the archive is 10.5281/zenodo.1466984

[2018-10-19 21:43] jekbradbury commented on #1002
Accept.

Looks good to me. A couple quibbles (that don't block acceptance):
- The paper has a minor formatting issue where the table at the bottom of the first page overlaps with margin elements.
- I think this sentence should be dropped or reworded: "For example, it allows Julia code to operate on TPUs by virtue of using the same TensorFlow graph syntax as Python's TensorFlow client, even though

[2018-10-20 00:03] joethorley commented on #1036
@terrytangyuan and @arfon I find the fact that the organizational affiliation are just the names of the organizations to be disconcerting. Is this standard.

[2018-10-20 12:36] arfon commented on #1015
@whedon set 10.5281/zenodo.1466984 as archive

[2018-10-20 12:36] whedon commented on #1015
OK. <a href="https://doi.org/10.5281/zenodo.1466984" target="_blank">10.5281/zenodo.1466984</a> is the archive.

[2018-10-20 12:36] arfon commented on #1015
@whedon accept

[2018-10-20 12:36] whedon commented on #1015
[code]

[2018-10-20 12:37] whedon commented on #1015
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/24

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/24, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-10-20 12:39] arfon commented on #1015
I'm going to try accepting this automatically here (this is new fucntionality for Whedon). If this goes wrong I will have to fix this up tomorrow evening my time (currently typing this from my phone) 😬

[2018-10-20 12:39] arfon commented on #1015
@whedon accept deposit=true

[2018-10-20 12:39] whedon commented on #1015
[code]

[2018-10-20 12:40] whedon commented on #1015
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/25
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01015](https://doi.org/10.21105/joss.01015)
2. If everything looks goo

[2018-10-20 12:43] arfon commented on #1015
@HaoZeke - many thanks for your review here! ✨
If
@georgiosgerasimou - your paper is now accepted into JOSS and your DOI is
https://doi.org/10.21105/joss.01015 ⚡️🚀💥

[2018-10-20 12:43] #1015 closed

[2018-10-20 12:43] whedon commented on #1015
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01015/status.svg)](https://doi.org/10.21105/joss.01015)

**We need your help!**

Journal of Open Source Softwar

[2018-10-20 16:44] terrytangyuan commented on #1036
@joethorley Thanks! We have addressed all the issues. Please take another look to see if we missed anything else. We are waiting for another author to confirm his current affiliation but it should be ready to go once that's updated (I'll ping here).

@arfon We've also fixed the citations by putting "{}" around "R"s. I am not sure if backwards compatibility is a concern, e.g. if the previously publ

[2018-10-20 18:18] terrytangyuan commented on #1036
@joethorley Okay we’ve updated the affiliations. It’s ready for another review.

[2018-10-20 18:27] road2stat commented on #1036
@whedon generate pdf

[2018-10-20 18:27] whedon commented on #1036
[code]

[2018-10-20 18:28] whedon commented on #1036
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01036/joss.01036/10.21105.joss.01036.pdf)

[2018-10-20 19:45] domoritz commented on #1024
@jedbrown @arfon Thank you for the pre-review. How do we find an editor/reviewer?

[2018-10-20 20:07] malmaud commented on #1002
@whedon generate pdf

[2018-10-20 20:08] whedon commented on #1002
[code]

[2018-10-20 20:08] whedon commented on #1002
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01002/joss.01002/10.21105.joss.01002.pdf)

[2018-10-20 20:09] malmaud commented on #1002
Thanks @jekbradbury, I agree with all your points. I've removed the TPU clause and fixed the table formatting.

[2018-10-20 22:53] joethorley commented on #1036
@terrytangyuan and @arfon - The software and paper have passed my review. It's an elegant package - good work!

[2018-10-20 23:15] terrytangyuan commented on #1036
Thanks for your review! I am regenerating the pdf again to populate one minor change.
@whedon generate pdf

[2018-10-20 23:16] terrytangyuan commented on #1036
@whedon generate pdf

[2018-10-20 23:16] whedon commented on #1036
[code]

[2018-10-20 23:17] whedon commented on #1036
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01036/joss.01036/10.21105.joss.01036.pdf)

[2018-10-21 04:17] jedbrown commented on #1024
@whedon assign @jedbrown as reviewer

[2018-10-21 04:18] jedbrown commented on #1024
@whedon assign @jedbrown as editor

[2018-10-21 04:18] whedon commented on #1024
OK, the editor is @jedbrown

[2018-10-21 04:35] jedbrown commented on #1024
@terrytangyuan @kellieotto @adavidzh :wave: Would any of you be available to review this submission?

[2018-10-21 08:54] terrytangyuan commented on #1024
Yes I can review.

[2018-10-21 08:58] adavidzh commented on #1024
I can review.

[2018-10-21 12:49] labarba commented on #1025
Thank you, @mgalloy -- I will assign you now, but am looking for a second reviewer before starting the review. Stay tuned.

[2018-10-21 12:50] labarba commented on #1025
@whedon assign @mgalloy as reviewer

[2018-10-21 12:50] whedon commented on #1025
OK, the reviewer is @mgalloy

[2018-10-21 15:47] lheagy commented on #808
:wave: Hi @leouieda and @hugoledoux, just checking in: when do you think you will have time to take another look at this submission? Thanks!

[2018-10-21 15:48] lheagy commented on #940
Hi @IgorBaratta, would you mind taking a look at the community guidelines? This is the last outstanding item on the review. Many thanks!

[2018-10-21 15:49] lheagy commented on #990
Just checking in. Thanks @kbevers, @scivision for creating the issues. @laempy, please keep us posted on your progress addressing these

[2018-10-21 15:51] kthyng commented on #1031
Hi @rmsare! Thanks for the suggestions.

@leouieda and @kbevers are you willing and able to review this submission? We ask that reviews are in within about 2 weeks, and you can more information about the process [here](https://joss.readthedocs.io/en/latest/review_criteria.html).

[2018-10-21 15:55] nagoue commented on #1008
Hi,
I have a minor comments:

1. Consider adding **units (>= 0.6-1)** in the Imports part of the DESCRIPTION file as the installation wasn't going smoothly with the devtools option.

2. There is a typo error l40 in paper.md (graphical).

3. Redirection is not working for reference Sandve et al.

as well as improvement suggestions:

4. Include a legend to graphic plots.

5. There is no reason to li

[2018-10-21 16:17] briatte commented on #844
Dear all ~

The entire review process went too quick for me to accept the offer, but I would have accepted it gladly.

Please feel free to send social science-y packages my way in the future. The email address listed earlier on is correct.

All the best, ~ François

[2018-10-21 17:50] yochannah commented on #1005
👋  Gentle nudge - @tpetricek,  @adammichaelwood, have you had a chance to start looking at this yet?

[2018-10-21 17:52] yochannah commented on #950
Okay - @ChrisJefferson If you're happy with the package can you run through the checklist at the top of this issue and make sure you're happy to check them all? Thanks! Once that's done we can move on to publishing this

[2018-10-21 18:10] tomsing1 commented on #1008
Dear authors and editors,

I have completed my review. Please find a few minor suggestions below (also filed as issues in the `helixvis` repository). Great work!

## Installation: Does installation proceed as outlined in the documentation?

[Issue #9](https://github.com/rrrlw/helixvis/issues/9)
Yes. The authors included a great vignette with the package - but it is not built automatically when the

[2018-10-21 18:11] labarba commented on #865
I just pinged @rasmussn by email to ask if he can move forward with this review soon.

@wimvanderbauwhede : Let us know here when you address the issues raised by @rouson.

[2018-10-21 18:35] cMadan commented on #813
@dbrookswr, do you still intend to move ahead with this submission?

[2018-10-21 18:40] labarba commented on #1025
@whedon add @markbasham as reviewer

[2018-10-21 18:40] whedon commented on #1025
OK, @markbasham is now a reviewer

[2018-10-21 18:40] labarba commented on #1025
@whedon start review

[2018-10-21 18:40] whedon opened #1037 "[REVIEW]: GPUE: Graphics Processing Unit Gross-Pitaevskii Equation solver"
**Submitting author:** @leios (<a href="http://orcid.org/0000-0002-3243-8918">James Schloss</a>)
**Repository:** <a href="https://github.com/GPUE-group/GPUE" target ="_blank">https://github.com/GPUE-group/GPUE</a>
**Version:** v1.0
**Editor:** @labarba
**Reviewer:** @mgalloy, @markbasham
**Archive:** <a href="https://doi.org/10.5281/zenodo.2182729" target="_blank">10.5281/zenodo.2182729</a>

## St

[2018-10-21 18:40] whedon commented on #1025
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1037. Feel free to close this issue now!

[2018-10-21 18:40] whedon commented on #1037
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mgalloy, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2018-10-21 18:40] whedon commented on #1037
[code]

[2018-10-21 18:41] whedon commented on #1037
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01037/joss.01037/10.21105.joss.01037.pdf)

[2018-10-21 18:45] labarba commented on #1037
@mgalloy, @markbasham — Thank you for agreeing to review this submission for JOSS, we really appreciate your volunteer efforts to make this adventure in new-wave publishing a success!

This REVIEW issue thread is the main place for proceeding with the review, but you are encouraged to open new issues in the repository of the submission, as appropriate, and linking to them here, to keep track. Feel

[2018-10-21 18:45] #1025 closed

[2018-10-21 18:47] labarba commented on #1037
@leios : I notice that some DOI links in your reference list are broken. Please fix your bibtex file, push, and re-compile using the command `@whedon generate pdf` in its own comment.

[2018-10-21 19:12] dbrookswr commented on #813
Sorry I have been slow. I do. I will make these changes soon.
Unfortunately I have had some family issues that are slowing my research
down.

Dan

On Sun, Oct 21, 2018 at 11:35 AM Christopher Madan <notifications@github.com>
wrote:

[2018-10-21 19:58] labarba commented on #1000
@ctdegroot : Are you still willing to be one of the reviewers for this submission? I will be looking for a second reviewer to help out.

[2018-10-21 20:02] labarba commented on #1000
@vaishnavtv : Your only reference in the paper is a manuscript that has been submitted but is not available without contacting the authors. Would you consider depositing your manuscript in a pre-print server? You can use arXiv, [engrXiv](https://engrxiv.org), or other. A majority of [journals accept preprints](https://en.wikipedia.org/wiki/List_of_academic_journals_by_preprint_policy) these days.

[2018-10-21 20:06] labarba commented on #1000
@Kevin-Mattheus-Moerman : Would you be able to review this submission for JOSS? It uses the Matlab Optimization Toolbox.

[2018-10-21 20:59] danielskatz commented on #981
👋 @adammichaelwood - We're still waiting to hear from you

[2018-10-21 21:00] danielskatz commented on #981
👋 @drvinceknight - note that a number of changes have been made since your initial remarks - perhaps you can check on the response?  And continue your review?

[2018-10-21 21:33] cMadan commented on #813
@dbrookswr, no problem, thanks for the update.

[2018-10-21 21:45] ifellows commented on #988
@whedon generate pdf

[2018-10-21 21:45] whedon commented on #988
[code]

[2018-10-21 21:46] whedon commented on #988
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00988/joss.00988/10.21105.joss.00988.pdf)

[2018-10-21 22:17] yochannah commented on #976
Still trying to chase down some reviewers for this. Thanks for your patience @davekinkead!

@BasTesterink - I note on the JOSS reviewer list that one of your domain areas is formal logic. Would you be interested in reviewing this package?

[2018-10-21 22:19] yochannah commented on #926
@DiegoKoz @pachamaltese You two are doing such a great job reviewing the package I'll kick off the formal review now. I'd still like a second reviewer but may add them in later in the process.

[2018-10-21 22:19] yochannah commented on #926
@whedon assign @DiegoKoz as reviewer

[2018-10-21 22:19] davekinkead commented on #976
Thanks for keeping us in the loop.

[2018-10-21 22:20] whedon commented on #926
OK, the reviewer is @DiegoKoz

[2018-10-21 22:20] yochannah commented on #926
@whedon start review

[2018-10-21 22:20] whedon commented on #926
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1038. Feel free to close this issue now!

[2018-10-21 22:20] whedon opened #1038 "[REVIEW]: Gravity: Estimation Methods for Gravity Models in R"
**Submitting author:** @pachamaltese (<a href="http://orcid.org/0000-0003-1017-7574">Mauricio Vargas</a>)
**Repository:** <a href="https://github.com/pachamaltese/gravity" target ="_blank">https://github.com/pachamaltese/gravity</a>
**Version:** v0.8.2
**Editor:** @yochannah
**Reviewer:** @DiegoKoz
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/28be5c3b49be8bcf3132dfd3847

[2018-10-21 22:20] whedon commented on #1038
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @DiegoKoz it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2018-10-21 22:20] whedon commented on #1038
[code]

[2018-10-21 22:20] whedon commented on #1038
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01038/joss.01038/10.21105.joss.01038.pdf)

[2018-10-21 22:20] yochannah commented on #926
@DiegoKoz @pachamaltese  - let's head over to #1038 where there is a full review checklist 👍

[2018-10-21 22:20] #926 closed

[2018-10-22 01:46] whedon opened #1039 "[PRE REVIEW]: COSplay: Contrast Optimized Stimulation Player"
**Submitting author:** @TheChymera (<a href="http://orcid.org/0000-0001-7037-2449">Horea-Ioan Ioanas</a>)
**Repository:** <a href="https://github.com/IBT-FMI/COSplay/" target ="_blank">https://github.com/IBT-FMI/COSplay/</a>
**Version:** 1.1.1
**Editor:** @arokem
**Reviewers:** damaggu

**Author instructions**

Thanks for submitting your paper to JOSS @TheChymera. The JOSS editor (shown at the top

[2018-10-22 04:58] kellieotto commented on #1024
I can review as well.

[2018-10-22 07:42] Kevin-Mattheus-Moerman commented on #1000
@labarba sure thanks

[2018-10-22 07:50] Kevin-Mattheus-Moerman commented on #1000
Perhaps folks at https://github.com/NASA-Tensegrity-Robotics-Toolkit e.g. @apsabelhaus (who contributed to https://github.com/apsabelhaus/tInvKin) would be interested in reviewing this?

[2018-10-22 07:56] Kevin-Mattheus-Moerman commented on #1000
My colleague at MIT might be interested in this too. @cybanical fancy testing some code to study dynamics of tensegrity structures? (also I recommend that you upgrade your github profile with an ORCID link, your real name, and some affiliation information etc).

[2018-10-22 08:01] kbevers commented on #1031
@kthyng Unfortunately I won't have the time to do a review of this within the next two weeks. I hope you can find someone else to take a look at it.

[2018-10-22 08:10] trallard commented on #982
@whedon assign @deniederhut as a reviewer

[2018-10-22 08:11] trallard commented on #982
@whedon add @deniederhut as reviewer

[2018-10-22 08:13] trallard commented on #982
@whedon add @deniederhut as reviewer

[2018-10-22 09:00] trallard commented on #982
@whedon add @deniederhut as reviewer

[2018-10-22 09:05] yochannah commented on #1038
YES! GitHub is playing up I think.

[2018-10-22 10:13] whedon commented on #982
OK, @deniederhut is now a reviewer

[2018-10-22 10:37] drvinceknight commented on #981
Thanks for the changes @AlexPof, everything looks good to me now. I've left one very minor/small suggestion on https://github.com/AlexPof/opycleid/issues/1 but it's in no way a blocker.

[2018-10-22 11:02] trallard commented on #982
@whedon start review

[2018-10-22 11:53] labarba commented on #1000
@whedon assign @Kevin-Mattheus-Moerman as reviewer

[2018-10-22 11:54] labarba commented on #1000
Thank you, @Kevin-Mattheus-Moerman !
Let's wait and see if one of the folks you recommend can volunteer the second review, and then we can get it started.

[2018-10-22 13:00] wimvanderbauwhede commented on #865
I have addressed all issues but  I am waiting for a reply from @rouson on
[issue 6](https://github.com/wimvanderbauwhede/RefactorF4Acc/issues/6).

[2018-10-22 13:33] laempy commented on #990
Thank you very much for reviewing my package. I have addressed issues 3 to 4 have. I am currently try to solve issue 2. I will push my changes altogether as soon as possible.

[2018-10-22 13:48] pachamaltese commented on #1038
@yochannah just to inform that github became funnier again
I added some feedback from @DiegoKoz and @paulofelipe to the repo, and therefore I updated the version to 0.9 after many iterations

[2018-10-22 13:54] kthyng commented on #1031
@kbevers Thanks so much for letting me know!

@jkmacc-LANL You look like you might be a good reviewer for this submission. Are you willing and able to review this submission? We ask that reviews are in within about 2 weeks, and you can find more information about the process [here](https://joss.readthedocs.io/en/latest/review_criteria.html).

[2018-10-22 15:05] karthik commented on #942
@whedon assign @sydnerecord as reviewer

[2018-10-22 15:05] karthik commented on #942
@whedon start review

[2018-10-22 15:50] arokem commented on #855
@mnarayan : I see that all your issues on the software repo are closed. Does that mean that the software now meets all the criteria in your estimation?

@glemaitre : have you had a chance to take a look whether the issues you raised were properly addressed?

[2018-10-22 16:04] nbokulich commented on #934
@arfon — I have archived in zenodo. DOI: https://doi.org/10.5281/zenodo.1468878
Thank you!

[2018-10-22 16:17] mbod commented on #976
I'm happy to take a look at this - I don't have formal logic expertise but
have linguistics, digital humanities and JS knowledge

On Sun, Oct 21, 2018 at 6:20 PM Dave Kinkead <notifications@github.com>
wrote:

[2018-10-22 16:28] ctdegroot commented on #1000
@labarba Yes, I am still able to review it

[2018-10-22 17:04] labarba commented on #1000
@whedon add @ctdegroot as reviewer

[2018-10-22 17:11] labarba commented on #1000
@arfon : Can you tell why our dear bot `@whedon` is ignoring my commands?

[2018-10-22 18:06] DiegoKoz commented on #1038
Hi! I'll open new issues in the [original repo](https://github.com/pachamaltese/gravity) with the comments I did in the previous repo, and link them here

[2018-10-22 18:07] arokem commented on #1002
@whedon generate pdf

[2018-10-22 18:11] ninjin commented on #921
I think GitHub is back online…

# Writing #

Nothing major, but some issues that should be addressed.

1. “leavages”
2. The CKAN entry has a bullet point split across two bullet points.
3. Same for JSON-LD.
4. “Julia” should always be capitalised.
5. “By generating code that the user may edit they may tweak the details as required.”, this one is a bit hard to parse, reformulate?
6. “If these APIs

[2018-10-22 18:23] whedon opened #1040 "[REVIEW]: treemaker"
**Submitting author:** @SimonGreenhill (<a href="http://orcid.org/0000-0001-7832-6156">Simon Greenhill</a>)
**Repository:** <a href="https://github.com/simonGreenhill/Treemaker" target ="_blank">https://github.com/simonGreenhill/Treemaker</a>
**Version:** v1.03
**Editor:** @trallard
**Reviewer:** @RichardLitt, @deniederhut
**Archive:** <a href="https://doi.org/10.5281/zenodo.1480504" target="_blan

[2018-10-22 18:31] DiegoKoz commented on #1038
https://github.com/pachamaltese/gravity/issues/8#issue-372641952

[2018-10-22 18:32] whedon commented on #1000
OK, the reviewer is @Kevin-Mattheus-Moerman

[2018-10-22 18:38] DiegoKoz commented on #1038
[https://github.com/pachamaltese/gravity/issues/8](https://github.com/pachamaltese/gravity/issues/8)
[https://github.com/pachamaltese/gravity/issues/4](https://github.com/pachamaltese/gravity/issues/4)

--------
This are the remaining two. the rest of the suggestions are already implemented

[2018-10-22 18:41] DiegoKoz commented on #1038
@pachamaltese please add a plain-text  license

[2018-10-22 18:44] DiegoKoz commented on #1038
@pachamaltese please add __Community guidelines__:

[2018-10-22 18:58] arokem commented on #1002
@jekbradbury : looks like most/all the issues have been addressed? Is this paper ready to be accepted from your point of view?

@malmaud: comments from me:

- [ ] In the third paragraph of the summary section, you have a sentence: "This * can correspond to ...". I believe this should be "Thus, * can correspond...". Do I understand correctly?
- [ ] The first sentence in the fourth paragraph might b

[2018-10-22 19:10] rouson commented on #865
I just added a comment on [issue 6](
https://github.com/wimvanderbauwhede/RefactorF4Acc/issues/6).

[2018-10-22 19:11] arokem commented on #1003
@whedon generate pdf

[2018-10-22 19:15] whedon commented on #942
OK, the reviewer is @sydnerecord

[2018-10-22 19:15] whedon opened #1041 "[REVIEW]: hillR: taxonomic, functional, and phylogenetic diversity and similarity through Hill Numbers"
**Submitting author:** @daijiang (<a href="http://orcid.org/0000-0002-0925-3421">Daijiang Li</a>)
**Repository:** <a href="https://github.com/daijiang/hillR" target ="_blank">https://github.com/daijiang/hillR</a>
**Version:** v0.3.0
**Editor:** @karthik
**Reviewer:** @sydnerecord
**Archive:** <a href="https://doi.org/10.5281/zenodo.1486200" target="_blank">10.5281/zenodo.1486200</a>

## Status

[!

[2018-10-22 19:15] whedon commented on #942
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1041. Feel free to close this issue now!

[2018-10-22 19:18] malmaud commented on #1002
Thanks for these comments!

* I fixed the typos you pointed out.
* The intent of the 'challenges' section is that TensorFlow's C API exposes minimal low-level functionality, with most of the complexity of building and training a neural net implemented in Python on top of the C API. I clarified the wording.
* I removed all references to TPUs. While I do think it would be pretty easy to get TensorFl

[2018-10-22 19:44] whedon commented on #1000
OK, @ctdegroot is now a reviewer

[2018-10-22 19:46] jedbrown commented on #968
@whedon add @tobydriscoll as reviewer

[2018-10-22 19:51] labarba commented on #1000
So ... I guess `@whedon` was sleeping. Now we're set!

[2018-10-22 19:52] jedbrown commented on #968
@arfon Is whedon asleep?

[2018-10-22 19:52] labarba commented on #1000
@whedon start review

[2018-10-22 19:53] DiegoKoz commented on #1038
You add them in README.rmd instead of README.md and it is not display in the github page

[2018-10-22 20:00] whedon commented on #1002
[code]

[2018-10-22 20:00] whedon commented on #1002
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01002/joss.01002/10.21105.joss.01002.pdf)

[2018-10-22 20:05] whedon commented on #1040
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @RichardLitt, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2018-10-22 20:05] whedon commented on #1040
[code]

[2018-10-22 20:05] whedon commented on #1040
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01040/joss.01040/10.21105.joss.01040.pdf)

[2018-10-22 20:10] apsabelhaus commented on #1000
Dear all - very nice to meet you!

I'm happy to be a reviewer, though I'm not sure what this entails, I'm new to JOSS. I have the MATLAB Optimization Toolbox.

On a different note, the field of dynamics derivations for tensegrity structures is actually very extensive, and it would be very good to include many other knowledgeable experts in the area. There are well-known expressions for the dynamic

[2018-10-22 20:13] apsabelhaus commented on #1000
Another good reviewer would be Mauricio de Oliviera at UC San Diego.

[2018-10-22 20:31] whedon commented on #1003
[code]

[2018-10-22 20:31] whedon commented on #1003
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01003/joss.01003/10.21105.joss.01003.pdf)

[2018-10-22 20:33] whedon commented on #1041
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @sydnerecord it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2018-10-22 20:33] whedon commented on #1041
[code]

[2018-10-22 20:33] whedon commented on #1041
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01041/joss.01041/10.21105.joss.01041.pdf)

[2018-10-22 20:51] whedon commented on #968
OK, @tobydriscoll is now a reviewer

[2018-10-22 20:55] whedon opened #1042 "[REVIEW]: STEDY - Software for TEnsegrity DYnamics"
**Submitting author:** @vaishnavtv (<a href="http://orcid.org/0000-0001-9897-0600">Venkata Vaishnav Tadiparthi</a>)
**Repository:** <a href="https://github.com/uqLab/stedy" target ="_blank">https://github.com/uqLab/stedy</a>
**Version:** v0.1.0
**Editor:** @labarba
**Reviewer:** @Kevin-Mattheus-Moerman, @ctdegroot, @apsabelhaus
**Archive:** <a href="https://doi.org/10.5281/zenodo.2527084" target="

[2018-10-22 20:55] whedon commented on #1000
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1042. Feel free to close this issue now!

[2018-10-22 21:05] DiegoKoz commented on #1038
I think this is the last thing that remains pending. @yochannah how do we proceed with this?

[2018-10-22 21:19] jedbrown commented on #968
@whedon start review

[2018-10-22 21:31] whedon commented on #1042
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Kevin-Mattheus-Moerman, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you

[2018-10-22 21:31] whedon commented on #1042
[code]

[2018-10-22 21:31] whedon commented on #1042
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01042/joss.01042/10.21105.joss.01042.pdf)

[2018-10-22 21:44] whedon opened #1043 "[REVIEW]: TaylorSeries.jl: Taylor expansions in one and many variables in Julia"
**Submitting author:** @lbenet (<a href="http://orcid.org/0000-0002-8470-9054">Luis Benet</a>)
**Repository:** <a href="https://github.com/JuliaDiff/TaylorSeries.jl" target ="_blank">https://github.com/JuliaDiff/TaylorSeries.jl</a>
**Version:** v0.9.2
**Editor:** @jedbrown
**Reviewer:** @sriharikrishna, @tobydriscoll
**Archive:** <a href="https://doi.org/10.5281/zenodo.2628898" target="_blank">10.

[2018-10-22 21:44] whedon commented on #968
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1043. Feel free to close this issue now!

[2018-10-22 21:51] jedbrown commented on #1043
@sriharikrishna @tobydriscoll :wave: Welcome! The comments from whedon above outline the review process. I'll be watching this thread if you have any questions. Thanks!

[2018-10-22 21:52] yochannah commented on #976
Excellent! @andytwoods has also agreed to review - I'll kick the review process off now.

[2018-10-22 21:54] yochannah commented on #976
@whedon assign @mbod as reviewer

[2018-10-22 21:54] yochannah commented on #976
@whedon add @andytwoods as reviewer

[2018-10-22 21:54] jekbradbury commented on #1002
@arokem: Yes, the paper's ready to be accepted from my POV.

[2018-10-22 21:54] yochannah commented on #976
@whedon start review

[2018-10-22 21:58] whedon commented on #1043
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @sriharikrishna, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're prob

[2018-10-22 21:58] whedon commented on #1043
[code]

[2018-10-22 21:58] whedon commented on #1043
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01043/joss.01043/10.21105.joss.01043.pdf)

[2018-10-22 22:03] whedon commented on #976
OK, the reviewer is @mbod

[2018-10-22 22:03] whedon commented on #976
OK, @andytwoods is now a reviewer

[2018-10-22 22:03] whedon opened #1044 "[REVIEW]: Reasons: A digital argument mapping library for modern browsers"
**Submitting author:** @davekinkead (<a href="http://orcid.org/0000-0001-5396-8099">David Kinkead</a>)
**Repository:** <a href="https://github.com/davekinkead/reasons" target ="_blank">https://github.com/davekinkead/reasons</a>
**Version:** v1.0.1
**Editor:** @yochannah
**Reviewer:** @yochannah, @andytwoods
**Archive:** <a href="https://doi.org/10.5281/zenodo.2766003" target="_blank">10.5281/zenod

[2018-10-22 22:03] whedon commented on #976
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1044. Feel free to close this issue now!

[2018-10-22 22:05] lbenet commented on #968
Thanks @jedbrown!

A small note: today the last version of the paper (with the corrected links of the references, https://github.com/JuliaDiff/TaylorSeries.jl/pull/185) was merged into master.

[2018-10-22 22:08] whedon commented on #1044
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mbod, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curre

[2018-10-22 22:08] whedon commented on #1044
[code]

[2018-10-22 22:08] whedon commented on #1044
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01044/joss.01044/10.21105.joss.01044.pdf)

[2018-10-22 22:13] yochannah commented on #976
Yay, Whedon is feeling better.

@davekinkead, @andytwoods, and @mbod - let's head over to #1044 to start the review process!

[2018-10-22 22:13] #976 closed

[2018-10-22 23:33] arfon commented on #934
@whedon set 10.5281/zenodo.1468878 as archive

[2018-10-22 23:33] whedon commented on #934
OK. <a href="https://doi.org/10.5281/zenodo.1468878" target="_blank">10.5281/zenodo.1468878</a> is the archive.

[2018-10-22 23:34] arfon commented on #934
@whedon accept

[2018-10-22 23:34] whedon commented on #934
[code]

[2018-10-22 23:34] whedon commented on #934
PDF failed to compile for issue #934 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    14    0    14    0     0    190      0 --:--:-- --:--:-- --:--:--   191
/app/vendor/ruby-2

[2018-10-22 23:39] arfon commented on #934
@nbokulich - could you update your `references.bib` to be `paper.bib` and update the `paper.md` file accordingly (to point to `paper.md`)?

[2018-10-23 00:08] arfon commented on #934
@nbokulich - actually ignore me. I've just updated the @whedon bot to handle custom bibtex locations (i.e. files not called `paper.bib`)

[2018-10-23 00:33] terrytangyuan commented on #1036
@whedon set 10.5281/zenodo.1469129 as archive

[2018-10-23 00:33] whedon commented on #1036
I'm sorry @terrytangyuan, I'm afraid I can't do that. That's something only editors are allowed to do.

[2018-10-23 01:14] leios commented on #1037
@whedon generate pdf

[2018-10-23 01:14] whedon commented on #1037
[code]

[2018-10-23 01:14] whedon commented on #1037
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01037/joss.01037/10.21105.joss.01037.pdf)

[2018-10-23 01:19] leios commented on #1037
I believe the DOIs have been fixed. Working on the contribution guidelines soon.

Thanks!

[2018-10-23 02:17] daijiang commented on #1041
@whedon compile pdf

[2018-10-23 02:19] daijiang commented on #942
@whedon commands

[2018-10-23 02:19] whedon commented on #942
Here are some things you can ask me to do:

[code]

[2018-10-23 02:20] daijiang commented on #1041
@whedon generate pdf

[2018-10-23 02:20] whedon commented on #1041
[code]

[2018-10-23 02:20] whedon commented on #1041
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01041/joss.01041/10.21105.joss.01041.pdf)

[2018-10-23 04:19] arfon commented on #934
@whedon accept

[2018-10-23 04:19] whedon commented on #934
[code]

[2018-10-23 04:20] whedon commented on #934
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/26

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/26, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-10-23 07:10] trallard commented on #982
Closing this issue now. @deniederhut  and @RichardLitt let's proceed with the review at #1040  🌟

[2018-10-23 07:10] #982 closed

[2018-10-23 07:11] trallard commented on #1009
@whedon  assign @amoeba as reviewer

[2018-10-23 07:12] trallard commented on #1009
No worries @ethanwhite

@jsta @pboesu @jhollist would any of you have a chance to help with this review?

[2018-10-23 07:37] oxinabox commented on #921
@whedon generate pdf

Fixed the paper. thank you for the feedback.
(At some point I misread the guidance on the capitalization of julia, getting it literally backwards,
and thought it was  **julia** for the language, and **Julia** for the compiler.
But indeed it is the other way round (which makes much more sense since lowercase matches the executable name).

[2018-10-23 07:37] whedon commented on #921
[code]

[2018-10-23 07:37] whedon commented on #921
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00921/joss.00921/10.21105.joss.00921.pdf)

[2018-10-23 07:45] Kevin-Mattheus-Moerman commented on #1000
@apsabelhaus thanks for those suggestions!

[2018-10-23 07:48] Kevin-Mattheus-Moerman commented on #1042
@labarba over at https://github.com/openjournals/joss-reviews/issues/1000# @apsabelhaus agreed to be reviewer, perhaps you could add him here.

[2018-10-23 07:54] Kevin-Mattheus-Moerman commented on #1042
@apsabelhaus let me introduce you to JOSS and reviewing for JOSS. [JOSS](http://joss.theoj.org/) is a free, open access, and open source journal. Reviews take place here, i.e. in Github issues. As you can see the top of this issue has checklists for the reviewers which will guide them through the review process. A set of checklists will be created for you if you join as reviewer. As described in o

[2018-10-23 08:00] Kevin-Mattheus-Moerman commented on #1042
@labarba so far @vaishnavtv has worked on has, and resolved, these issues which I've posted on the software repository:

- [ ] https://github.com/uqLab/stedy/issues/1 README issues
- [ ] https://github.com/uqLab/stedy/issues/2 Example TemplateForUser_DBar.m does not exist
- [ ] https://github.com/uqLab/stedy/issues/3 Comments about / errors in example: Template_DBar

[2018-10-23 09:40] jhollist commented on #1009
Sorry for not responding sooner.

Unfortunately I am going to have to pass as well.

On Tue, Oct 23, 2018, 3:12 AM Tania Allard <notifications@github.com> wrote:

[2018-10-23 10:12] IgorBaratta commented on #940
Hi @lheagy  and @uvilla ,

There are no other issues that I would like to be addressed.
Everything looks great now.
Regarding the community guidelines, they are well written and complete. Congrats.

--
Ps: Sorry for the delay, I am attending a conference in China and I didn't have access to my email and github.

[2018-10-23 10:18] tpetricek commented on #1005
Thanks for the nudge! I was at a conference last week, but will post my initial comments today or on Thursday.

[2018-10-23 11:28] jsta commented on #1009
Likewise, my review queue is full. Best of luck!

[2018-10-23 12:28] Kevin-Mattheus-Moerman commented on #1012
@jeroen, @NikEfth can you update me on when you plan to work on this review? Thanks. :rocket: :robot:

[2018-10-23 12:52] danielskatz commented on #866
👋 @chrismattman - would you be interested, or possibly able to provide @Kevin-Mattheus-Moerman with suggestions for reviewers in NASA?

[2018-10-23 12:52] danielskatz commented on #866
👋 @chrismattmann - would you be interested, or possibly able to provide @Kevin-Mattheus-Moerman with suggestions for reviewers in NASA?

[2018-10-23 12:55] Kevin-Mattheus-Moerman commented on #1014
@molines @bjonkman @szaghi @komatits would you be interested in reviewing this work for the [Journal of Open Source Software (JOSS)](http://joss.theoj.org/)? The [review process](http://joss.theoj.org/about#reviewer_guidelines) focuses on [the software](https://github.com/jerryd/gtk-fortran) and [a short paper](https://github.com/openjournals/joss-papers/blob/joss.01014/joss.01014/10.21105.joss.01

[2018-10-23 13:01] Kevin-Mattheus-Moerman commented on #1014
@vmagnin would you be able to help suggest reviewers?

[2018-10-23 13:06] uvilla commented on #940
@IgorBaratta and @boehmc,
Thank you very much for your time and constructive comments.

@lheagy,
Thank you for serving as editor for my submission. Today I’ll tag the current state of the repository as release 2.1.1, and after that we’ll be ready to “publish” the manuscript.

Thanks again to everyone.

[2018-10-23 13:07] whedon opened #1045 "[PRE REVIEW]: ReinforcementLearning: A Package to Perform Model-Free Reinforcement Learning in R"
**Submitting author:** @nproellochs (<a href="http://orcid.org/0000-0002-1835-7302">Nicolas Proellochs</a>)
**Repository:** <a href="https://github.com/nproellochs/ReinforcementLearning" target ="_blank">https://github.com/nproellochs/ReinforcementLearning</a>
**Version:** v1.0.2
**Editor:** @arfon
**Reviewers:** @terrytangyuan, @kbenoit

**Author instructions**

Thanks for submitting your paper t

[2018-10-23 13:07] whedon commented on #1045
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @leeper it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-10-23 13:07] whedon commented on #1045
[code]

[2018-10-23 13:07] whedon commented on #1045
PDF failed to compile for issue #1045 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0

[2018-10-23 13:07] arfon commented on #1045
:wave: @leeper - the submitting author suggested you as the handling editor.

[2018-10-23 13:08] whedon opened #1046 "[PRE REVIEW]: ElGateau: A Library for Using the Elgato Stream Deck for Experimental Psychology Research"
**Submitting author:** @cMadan (<a href="http://orcid.org/0000-0003-3228-6501">Christopher R Madan</a>)
**Repository:** <a href="https://github.com/cMadan/ElGateau" target ="_blank">https://github.com/cMadan/ElGateau</a>
**Version:** v1.0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @JonathanReardon

**Author instructions**

Thanks for submitting your paper to JOSS @cMadan. The JOSS editor

[2018-10-23 13:08] whedon commented on #1046
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Kevin-Mattheus-Moerman it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-10-23 13:08] whedon commented on #1046
[code]

[2018-10-23 13:08] arfon commented on #1046
:wave: @Kevin-Mattheus-Moerman - the submitting author suggested you as the handling editor :-)

[2018-10-23 13:08] whedon commented on #1046
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01046/joss.01046/10.21105.joss.01046.pdf)

[2018-10-23 14:04] cMadan commented on #1046
@whedon generate pdf

[2018-10-23 14:04] whedon commented on #1046
[code]

[2018-10-23 14:05] whedon commented on #1046
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01046/joss.01046/10.21105.joss.01046.pdf)

[2018-10-23 14:09] davidnsousa commented on #966
@mwacaan is there anything I can do to help make the usage of the toolbox clear? Or is there anything more you can tell me about these errors? Thank you.

[2018-10-23 14:17] nbokulich commented on #934
@arfon the "repository" link in the paper PDF points to the correct repo ([here](https://github.com/qiime2/q2-sample-classifier)), but the "software repository" link on the article details page points to the paper repo ([here](https://github.com/caporaso-lab/sample-classifier-ms)) that I originally used at the time of submission (sorry, my fault 😞). Can we get this fixed or has that ship sailed? T

[2018-10-23 14:17] jeroen commented on #1012
@dahtah in the brief overview of imaging libraries available in R, could you compare `imager` to the `magick` package? This package interfaces to ImageMagick library and is the most comprehensive imaging toolkit in R currently available.

[2018-10-23 14:19] terrytangyuan commented on #1036
@arfon Here it is: 10.5281/zenodo.1469129

[2018-10-23 14:33] arfon commented on #973
OK that should be fixed now.

[2018-10-23 14:41] arfon commented on #934
@nbokulich - that's fixed now.

[2018-10-23 14:42] arfon commented on #1036
@whedon set 10.5281/zenodo.1469129 as archive

[2018-10-23 14:42] whedon commented on #1036
OK. <a href="https://doi.org/10.5281/zenodo.1469129" target="_blank">10.5281/zenodo.1469129</a> is the archive.

[2018-10-23 14:43] arfon commented on #1036
@whedon accept

[2018-10-23 14:43] whedon commented on #1036
[code]

[2018-10-23 14:43] whedon commented on #1036
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/28

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/28, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-10-23 14:45] arfon commented on #1036
@terrytangyuan - a lot of the references in this submission look like they should have DOIs. Could you please update your bibtex file to include DOIs where they exist?

[2018-10-23 14:47] arfon commented on #1030
@whedon generate pdf

[2018-10-23 14:47] whedon commented on #1030
[code]

[2018-10-23 14:47] whedon commented on #1030
PDF failed to compile for issue #1030 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1030/paper.md): mapping values are not allowed in this context at line 2 column 42 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/vendor/r

[2018-10-23 14:48] nbokulich commented on #934
Thank you @arfon !

[2018-10-23 14:56] arfon commented on #1030
@carterenyi - please merge this PR which will help your paper compile: https://github.com/carterenyi/emviz/pull/2/files

In addition:

**Please update your `paper.bib` file as your citations currently can't be found**

[code]

**Please update the figure references**

These links to the figures don't link to anything and need updating:

[code]