[2019-12-13 04:06] shirubana commented on #1865
@CameronTStark you use bifacial_radiance/radiance on a mac, right? Any insights on installation issues/tricks that we should include in our instructions?

[2019-12-13 06:20] joelmiller commented on #1731
@whedon commands

[2019-12-13 06:20] whedon commented on #1731
Here are some things you can ask me to do:

[code]

[2019-12-13 07:00] rgmyr commented on #1946
I was having a hard time tracking down and removing the offending files/folders individually, so I tried a couple of things:
- Created a new `--orphan` branch, set that as `master`, and removed some old temporary branches that aren't relevant anymore. (Following [this stackoverflow answer](https://stackoverflow.com/questions/9683279/make-the-current-commit-the-only-initial-commit-in-a-git-reposito

[2019-12-13 07:00] rgmyr commented on #1946
@whedon generate pdf

[2019-12-13 07:00] whedon commented on #1946
[code]

[2019-12-13 07:02] whedon commented on #1946
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01946/joss.01946/10.21105.joss.01946.pdf)

[2019-12-13 07:13] rgmyr commented on #1946
Just made a couple of small fixes (multiple reference separator, figure text)...

@whedon generate pdf

[2019-12-13 07:13] rgmyr commented on #1946
@whedon generate pdf

[2019-12-13 07:13] whedon commented on #1946
[code]

[2019-12-13 07:14] whedon commented on #1946
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01946/joss.01946/10.21105.joss.01946.pdf)

[2019-12-13 07:32] whedon opened #1955 "[PRE REVIEW]: Soss: Code Generation for Probabilistic Programming in Julia"
**Submitting author:** @cscherrer (<a href="http://orcid.org/0000-0002-1490-0304">Chad Scherrer</a>)
**Repository:** <a href="https://github.com/cscherrer/Soss.jl" target ="_blank">https://github.com/cscherrer/Soss.jl</a>
**Version:** v0.9.0
**Editor:** @melissawm
**Reviewers:** @kose-y, @malmaud

**Author instructions**

Thanks for submitting your paper to JOSS @cscherrer. **Currently, there isn'

[2019-12-13 07:32] whedon commented on #1955
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-13 07:32] whedon commented on #1955
[code]

[2019-12-13 07:32] whedon commented on #1955
[code]

[2019-12-13 07:32] whedon commented on #1955
[code]

[2019-12-13 07:33] whedon commented on #1955
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01955/joss.01955/10.21105.joss.01955.pdf)

[2019-12-13 07:34] kyleniemeyer commented on #1955
Hi @melissawm, could you edit this submission?

[2019-12-13 07:35] thelfer commented on #1952
@arfon done.

[2019-12-13 07:35] thelfer commented on #1952
@arfon Sorry if I did not do things properly. Is there something I could do ?

[2019-12-13 08:30] kirui93 commented on #1912
@matbesancon I also did polish the paper and I think it is much of straightforward and to the point now.

[2019-12-13 08:53] nkarasiak commented on #1950
@whedon set v0.12 as version

Hi, just to inform you that to respect semantic versioning I changed how I named my version. So the current version to review is now v0.12.
Kind regards,
Nicolas.

[2019-12-13 08:53] whedon commented on #1950
I'm sorry @nkarasiak, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-12-13 09:44] martinju commented on #1948
Thank you for opening this review.
I suggest the following reviewers:
expectopatronum, hiendn, ja-thomas, kdpeterson51, road2stat​

[2019-12-13 09:58] kirui93 commented on #1912
@matbesancon @juliohm I really believe that everything is now up to standard of the package we wanted to create. Your insightful review comments have been of great help.

[2019-12-13 10:09] fonsocarre commented on #1885
@labarba Done. It looks like it is not instantaneous, but it should show up soon.

[2019-12-13 10:14] juliohm commented on #1912
@kirui93 please comment on each open issue to explain how you addressed them. There are many open issues still.

[2019-12-13 10:44] will-rowe commented on #1939
That's perfect - thanks @ninjin.

We're ready to move this over to review then. As it's Christmas etc., there's no rush on the reviews until the New Year as I know we're all busy this time of year.

[2019-12-13 10:45] will-rowe commented on #1939
@whedon assign @leios as reviewer

[2019-12-13 10:45] whedon commented on #1939
OK, the reviewer is @leios

[2019-12-13 10:45] will-rowe commented on #1939
@whedon add @ninjin as reviewer

[2019-12-13 10:45] whedon commented on #1939
OK, @ninjin is now a reviewer

[2019-12-13 10:46] will-rowe commented on #1939
@whedon start review

[2019-12-13 10:46] whedon opened #1956 "[REVIEW]: WordTokenizers.jl: Basic tools for tokenizing natural language in Julia"
**Submitting author:** @oxinabox (<a href="http://orcid.org/0000-0003-1386-1646">Lyndon White</a>)
**Repository:** <a href="https://github.com/JuliaText/WordTokenizers.jl/" target ="_blank">https://github.com/JuliaText/WordTokenizers.jl/</a>
**Version:** v0.5.4
**Editor:** @will-rowe
**Reviewer:** @leios, @ninjin
**Archive:** <a href="https://doi.org/10.5281/zenodo.3663390" target="_blank">10.5281

[2019-12-13 10:46] whedon commented on #1939
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1956. Feel free to close this issue now!

[2019-12-13 10:46] whedon commented on #1956
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @leios, @ninjin it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curren

[2019-12-13 10:46] whedon commented on #1956
[code]

[2019-12-13 10:46] whedon commented on #1956
[code]

[2019-12-13 10:46] #1939 closed

[2019-12-13 10:46] whedon commented on #1956
[code]

[2019-12-13 10:46] whedon commented on #1956
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01956/joss.01956/10.21105.joss.01956.pdf)

[2019-12-13 10:56] terrytangyuan commented on #1948
👋 @expectopatronum, @hiendn, @ja-thomas, @kdpeterson51, @nanxstats if you would like to review for this submission, please let us know here!

[2019-12-13 11:01] whedon commented on #1946
[code]

[2019-12-13 11:03] arfon commented on #1952
No problem. I've tried to improve the JOSS UI to make it clear we want a URL like this:
https://github.com/thelfer/MFrontGenericInterfaceSupport rather than something like this: https://github.com/thelfer/MFrontGenericInterfaceSupport/blob/master/docs/papers/joss/paper.md

[2019-12-13 12:33] kirui93 commented on #1912
@juliohm I think most of the issues I have dealt with. So I will comment and close them if it is up to my side.

[2019-12-13 12:59] thelfer commented on #1952
Wouldn't that trigger another issue. I mean, wouldn't it be normal to have several publications (not necessary in joss) in the same repository ?

[2019-12-13 13:07] labarba commented on #1885
Something didn't quite work ... can you double check?

[2019-12-13 13:47] arfon commented on #1952
Possibly, although Whedon only looks for a file called `paper.md`. This hasn't caused any issues in the last ~900 submissions so I think this is an edge case not worth worry about (too much) :-)

[2019-12-13 14:20] fonsocarre commented on #1885
100% my fault. I _saved_, but didn't _publish_.

[2019-12-13 15:02] KayleighRutherford commented on #1774
@lpantano, yes I think everything has been addressed - looks good to me

[2019-12-13 15:03] akeshavan commented on #1902
Thanks @vc1492a ! It's holiday season, so I understand that we all will be taking time off.

@Marcdh3 could you upload some raw/example data so that the reviewers can take a look?

[2019-12-13 15:04] akeshavan commented on #1902
@whedon add @vc1492a as reviewer

[2019-12-13 15:04] whedon commented on #1902
OK, @vc1492a is now a reviewer

[2019-12-13 15:05] akeshavan commented on #1883
👋 @xirdneh and @dvberkel - would you be willing to review this paper for JOSS?

[2019-12-13 15:25] labarba commented on #1885
We generally ask for the _title_ of the Zenodo archive to match the title of the JOSS paper, but you didn't make that change. Do you have any strong reasons?

[2019-12-13 15:38] fonsocarre commented on #1885
I do not. It has been modified now.

[2019-12-13 15:50] kbarnhart commented on #1950
@kyleniemeyer I can handle this one.

[2019-12-13 15:51] kbarnhart commented on #1950
@whedon set @kbarnhart as editor

[2019-12-13 15:53] kbarnhart commented on #1950
@whedon assign @kbarnhart as editor

[2019-12-13 15:53] whedon commented on #1950
OK, the editor is @kbarnhart

[2019-12-13 15:53] kbarnhart commented on #1946
@kyleniemeyer I can also handle this one.

[2019-12-13 15:53] kbarnhart commented on #1946
@whedon assign @kbarnhart as editor

[2019-12-13 15:53] whedon commented on #1946
OK, the editor is @kbarnhart

[2019-12-13 16:06] kbarnhart commented on #1901
@guillaume-irstea thank you for this information. I want to inform you that after consulting with others on the editorial team,  I have made a pre-review decision that this submission is out of scope for JOSS.

As described in the [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements), software submitted to JOSS must be "designed for maintainable e

[2019-12-13 16:07] #1901 closed

[2019-12-13 16:08] ja-thomas commented on #1948
My colleague @christophM could do the review, he works as a researcher in interpretable machine learning.

[2019-12-13 16:32] oxinabox commented on #1956
cc @Ayushk4

[2019-12-13 16:52] cscherrer commented on #1955
Hi @kyleniemeyer , I just saw the "if you have any suggestions for potential reviewers...". both Matt Sottile and Dan Foreman-Mackey are familiar with this work (though neither are directly involved, so no conflict of interest). Outside existing JOSS reviewers, any contributor to [Turing.jl](https://github.com/TuringLang/Turing.jl) or [Gen](https://github.com/probcomp/Gen) could be a good fit.

[2019-12-13 17:13] kyleniemeyer commented on #1946
@kbarnhart thanks!

[2019-12-13 17:14] kyleniemeyer commented on #1950
@whedon set v0.12 as version

[2019-12-13 17:15] whedon commented on #1950
OK. v0.12 is the version.

[2019-12-13 17:16] kyleniemeyer commented on #1952
@Kevin-Mattheus-Moerman this looks to be in your wheelhouse, can you edit? (I think you have another week or two before you're on duty as AEiC 😄)

[2019-12-13 18:19] Kevin-Mattheus-Moerman commented on #1952
@kyleniemeyer sorry I would be interested but I have a conflict of interest here since one of the authors is a collaborator and friend of mine (Thomas Nagel)

[2019-12-13 18:52] thelfer commented on #1952
@whedon list reviewers

[2019-12-13 18:52] whedon commented on #1952
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2019-12-13 18:58] kyleniemeyer commented on #1952
@Kevin-Mattheus-Moerman no problem.

@katyhuff could you edit this one?

[2019-12-13 19:08] labarba commented on #1885
@whedon set 10.5281/zenodo.3572512 as archive

[2019-12-13 19:08] whedon commented on #1885
OK. <a href="https://doi.org/10.5281/zenodo.3572512" target="_blank">10.5281/zenodo.3572512</a> is the archive.

[2019-12-13 19:08] labarba commented on #1885
@whedon accept

[2019-12-13 19:08] whedon commented on #1885
[code]

[2019-12-13 19:09] whedon commented on #1885
[code]

[2019-12-13 19:09] whedon commented on #1885
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1173

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1173, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-12-13 19:58] VarIr commented on #1947
@terrytangyuan Thanks for editing my submission! I have no particular preference for any reviewers. The following people from the list could be good fits: axel-loewe, road2stat, dirmeier, faroit, JesseLivezey, ryEllison, b-freitas, iskandr, osolari, dvanic, innat, aozorahime, snikumbh, gavinmdouglas

[2019-12-13 20:14] terrytangyuan commented on #1947
👋 @axel-loewe, @nan2stat, @dirmeier, @faroit, @JesseLivezey, @ryEllison, @b-freitas, @iskandr, @osolari, @dvanic, @innat, @aozorahime, @snikumbh, @gavinmdouglas Hi! If you'd like to review for this submission, please let us know here!

[2019-12-13 20:41] ryEllison commented on #1947
I’d love to review this article.

Ryan

Sent from my iPhone

[2019-12-13 21:00] labarba commented on #1885
@whedon accept deposit=true

[2019-12-13 21:00] whedon commented on #1885
[code]

[2019-12-13 21:05] whedon commented on #1885
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1205594559473958918) 👈 🐦🐦🐦

[2019-12-13 21:05] whedon commented on #1885
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1174
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01885](https://doi.org/10.21105/joss.01885)
2. If everything looks g

[2019-12-13 21:07] labarba commented on #1885
Congratulations, @fonsocarre, your JOSS paper is published! 🚀

Huge thanks to @petebachant, @rafmudaf for reviewing this submission 🙏

[2019-12-13 21:10] mjsottile commented on #1850
@whedon generate pdf

[2019-12-13 21:10] whedon commented on #1850
[code]

[2019-12-13 21:11] whedon commented on #1850
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01850/joss.01850/10.21105.joss.01850.pdf)

[2019-12-13 21:15] #1885 closed

[2019-12-13 21:16] whedon commented on #1885
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01885/status.svg)](https://doi.org/10.21105/joss.01885)

**We need your help!**

Journal of Open Source Softwa

[2019-12-13 21:20] aozorahime commented on #1947
I'd love to help you

[2019-12-13 21:26] terrytangyuan commented on #1947
@whedon assign @ryEllison as reviewer

[2019-12-13 21:26] whedon commented on #1947
OK, the reviewer is @ryEllison

[2019-12-13 21:26] terrytangyuan commented on #1947
@whedon add @aozorahime as reviewer

[2019-12-13 21:26] whedon commented on #1947
OK, @aozorahime is now a reviewer

[2019-12-13 21:26] terrytangyuan commented on #1947
@whedon start review

[2019-12-13 21:26] whedon opened #1957 "[REVIEW]: scikit-hubness: Hubness Reduction and Approximate Neighbor Search"
**Submitting author:** @VarIr (<a href="http://orcid.org/0000-0003-2216-4295">Roman Feldbauer</a>)
**Repository:** <a href="https://github.com/VarIr/scikit-hubness/" target ="_blank">https://github.com/VarIr/scikit-hubness/</a>
**Version:** v0.21.2
**Editor:** @terrytangyuan
**Reviewer:** @ryEllison, @aozorahime
**Archive:** <a href="https://doi.org/10.5281/zenodo.3607202" target="_blank">10.5281/

[2019-12-13 21:26] whedon commented on #1947
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1957. Feel free to close this issue now!

[2019-12-13 21:26] whedon commented on #1957
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ryEllison, @aozorahime it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2019-12-13 21:26] whedon commented on #1957
[code]

[2019-12-13 21:26] whedon commented on #1957
[code]

[2019-12-13 21:26] terrytangyuan commented on #1947
Thanks! @ryEllison, @aozorahime I'll see you in #1957. Look forward to your review!

[2019-12-13 21:26] #1947 closed

[2019-12-13 21:27] whedon commented on #1957
[code]

[2019-12-13 21:27] whedon commented on #1957
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01957/joss.01957/10.21105.joss.01957.pdf)

[2019-12-13 21:28] vbarrera commented on #1411
Yes. All good.

[2019-12-13 22:09] mjsottile commented on #1850
@whedon check references

[2019-12-13 22:09] whedon commented on #1850
[code]

[2019-12-13 22:10] whedon commented on #1850
[code]

[2019-12-13 22:13] mjsottile commented on #1850
Only a few steps left to finalize acceptance @ramiyaari

1. Please review the pull request I just submitted.  I did a final pass over the paper and found a small number of minor changes to the text.
2. Please add the missing DOIs to the references that lack them. See the message from whedon above.
3. Once you have completed this, the last step is to make a tagged release and archive.  Please comme

[2019-12-13 22:32] mjsottile commented on #1812
@whedon add @mjsottile as reviewer

[2019-12-13 22:32] whedon commented on #1812
OK, @mjsottile is now a reviewer

[2019-12-13 22:54] aykol commented on #1919
Sorry for the delayed response. I'm glad new reviewers were find, as I wasn't going to be able to review it.

[2019-12-13 23:05] mjsottile commented on #1812
@whedon generate pdf

[2019-12-13 23:05] whedon commented on #1812
[code]

[2019-12-13 23:06] whedon commented on #1812
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01812/joss.01812/10.21105.joss.01812.pdf)

[2019-12-13 23:36] mjsottile commented on #1812
@whedon check references

[2019-12-13 23:36] whedon commented on #1812
[code]

[2019-12-13 23:36] whedon commented on #1812
[code]

[2019-12-13 23:39] mjsottile commented on #1812
@mseri I have added myself as a reviewer and am working through the review process.  In the meantime, I have issued a pull request to address a typo in the paper.  Also, can you add DOIs for the references in the paper?  It does not appear that any of the referenced papers have DOIs.

@xoolive Can you confirm that you are satisfied with the review and would recommend acceptance?  Sorry for the lon

[2019-12-13 23:41] mjsottile commented on #1913
@szorowi1 Thanks for agreeing to review.  The review checklist and JOSS documentation should cover everything.  Feel free to reach out if you have any questions during the process.

[2019-12-13 23:41] mjsottile commented on #1913
@whedon assign @szorowi1 as reviewer

[2019-12-13 23:42] whedon commented on #1913
OK, the reviewer is @szorowi1

[2019-12-13 23:45] CameronTStark commented on #1865
The installer for MacOS isn't descriptive about where it installs. I tried for a bit to find it but had an easier time just choosing a location by pressing the "Change Install Location..." button in the "Installation Type" stage of the install. Then I source it in my bash/zsh_profile like so:

`
export PATH=$HOME/bin/radiance/bin:$PATH
export RAYPATH=$HOME/bin/radiance/lib
export MANPATH=$HOME/bin

[2019-12-13 23:47] mjsottile commented on #1913
Checking again: would @mnarayan, @agricolab, or @breznak be interested in reviewing this submission?  If not I'll look through the potential reviewer spreadsheet to find other potential reviewers.

@ajquinn : if you have any other suggested reviewers feel free to let me know so I can check with them.

[2019-12-13 23:53] mjsottile commented on #1934
👋 @dvalters @bjarketol @tomchor @kramea @martinfleis @robertodr @nmstreethran @johnrobertlawson @brynpickering - Would you be interested in reviewing this JOSS submission?

[2019-12-14 00:32] majensen commented on #1919
Thanks for following up @aykol !

[2019-12-14 00:44] Marcdh3 commented on #1902
I've uploaded some videos that we've been using in the "samples" directory. Inside of that directory are three sub-directories labeled "control", "llo", and "mdivi". Each sub-directory contains a video (.mov) and an initial segmentation mask (.vtk). The sub-directories correspond to video data of HeLa cells that were either in the control group, exposed to pre-forming toxin listeri-olysin O (LLO),

[2019-12-14 01:50] mkhorton commented on #1945
@raullaasner what's the easiest way to import some example data for testing?

[2019-12-14 08:03] trallard commented on #1949
Hi @FlorianRhiem 👋  I will be serving as the editor for this submission.
The first thing we have to do is find 2 or more reviewers for this.

Do you already have some folks in mind? if not you can check our list of reviewers available here 👉🏼 <https://bit.ly/joss-reviewers>

[2019-12-14 08:04] trallard commented on #1870
@whedon set version as 0.2

[2019-12-14 08:05] trallard commented on #1870
@whedon set 0.2 as version

[2019-12-14 08:05] whedon commented on #1870
OK. 0.2 is the version.

[2019-12-14 08:05] trallard commented on #1870
@whedon set 10.5281/zenodo.3568446 as archive

[2019-12-14 08:05] whedon commented on #1870
OK. <a href="https://doi.org/10.5281/zenodo.3568446" target="_blank">10.5281/zenodo.3568446</a> is the archive.

[2019-12-14 08:16] trallard commented on #1870
I believe that this is ready to pass over to the last stage of the editorial process.

@melund @demotu, thanks a lot for your time and contributions to JOSS through this review 🙌🏼

@openjournals/joss-eics I have concluded my editorial tasks and I would recommend this submission for publication. Thus I am sending it your way 👾🚀

[2019-12-14 09:05] agricolab commented on #1913
It looks like a already well-documented package, but it is also relatively extensive. I can do a review, but am already busy till mid january. Best guess is i can finish the review latest till end January. If that's ok, i'm in.

[2019-12-14 09:16] FlorianRhiem commented on #1949
Hello @trallard, I just went through the list and perhaps eteq, usethedata and/or jsta would be willing to review this?

[2019-12-14 12:33] ramiyaari commented on #1850
@whedon generate pdf

[2019-12-14 12:33] whedon commented on #1850
[code]

[2019-12-14 12:34] whedon commented on #1850
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01850/joss.01850/10.21105.joss.01850.pdf)

[2019-12-14 12:55] mseri commented on #1812
Thanks! I will update the references between today and tomorrow

[2019-12-14 13:35] ramiyaari commented on #1850
@whedon generate pdf

[2019-12-14 13:35] whedon commented on #1850
[code]

[2019-12-14 13:36] whedon commented on #1850
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01850/joss.01850/10.21105.joss.01850.pdf)

[2019-12-14 13:38] ramiyaari commented on #1850
@whedon check references

[2019-12-14 13:38] whedon commented on #1850
[code]

[2019-12-14 13:38] whedon commented on #1850
[code]

[2019-12-14 13:44] ramiyaari commented on #1850
Hi @mjsottile , I've completed the first two tasks in your list. Regarding the third, if I understand what you've asked for then the current version of the software in CRAN is 1.1.8, and the doi of the joss paper is 10.21105/joss.01850.
Thanks

[2019-12-14 13:54] danielskatz commented on #1850
For the second part, JOSS needs the software to be archived in an archival repository, such as Zenodo, figshare, or an institutional repository.  Once this is done, that repository should provide a DOI to the archive, which is what @mjsottile needs.  For software in GitHub, the easiest path is usually to use to the [Zenodo-GitHub linkage](https://guides.github.com/activities/citable-code/), being

[2019-12-14 14:20] martinfleis commented on #1934
@mjsottile I am sorry, I know very little about the topic and I am not able to review FORTRAN at all.

[2019-12-14 14:54] kaashif commented on #1835
Yeah I think migrating to https://github.com/gap-packages is a good idea, I've started doing that now. I'll also do the ReleaseTools stuff, change all of the URLs etc. I will also change the URL in the paper.md.

[2019-12-14 15:17] kaashif commented on #1835
@VivianePons Is there a way for me to change the source repository URL in the JOSS paper to point to https://github.com/gap-packages/RepnDecomp, since this is the place where proper GAP packages live?

[2019-12-14 16:41] mzszym commented on #1944
I believe that I am done with the review. I think it is a very good small module with a well defined function and a rather complete description. It is well implemented and I found no important issues. I could run the examples without problems. Constructed nanoparticles seem to be according to my expectations. The only thing I missed was the description how "this software compares to other commonly

[2019-12-14 17:31] ThomasMGeo commented on #1946
Maybe @brendonhall or @kwinkunks would be interested in reviewing?

[2019-12-14 18:32] csoneson commented on #1916
@olivertomic, @road2stat - would one of you be willing to review this submission for JOSS?

[2019-12-15 01:10] kyleniemeyer commented on #1870
Hi @0todd0000, could you edit the title of the Zenodo entry to match the article?

[2019-12-15 01:33] katyhuff commented on #1952
@kyleniemeyer I won't have the bandwidth for this. I'm a little behind on the other submissions I'm handling at the moment, and still catching up.

[2019-12-15 07:33] TomasBeuzen commented on #1890
@kbarnhart all reviewer and editorial issues have been addressed and closed.

[2019-12-15 09:01] ramiyaari commented on #1850
Thanks, @danielskatz and @mjsottile.
I followed your instructions and created the archive using Zenodo.
The doi to the archive is 10.5281/zenodo.3576265
Target URL is https://zenodo.org/badge/latestdoi/142470608

[2019-12-15 10:41] marksantcroos commented on #1844
@jjmortensen @mortengjerding Thanks for the tool. The principle of having a "local" and optionally per directory queue is an interesting concept. I tried it out for some data crunching I had to do and ultimately managed to get the job done, which is some sign of success :-)

The paper positions adequately (albeit minimally) compared to other tools out there.

I've opened up another issue in the co

[2019-12-15 11:25] 0todd0000 commented on #1870
@kyleniemeyer Sure!  I've just updated the Zenodo entry's title.

[2019-12-15 12:56] arfon commented on #1952
@kyleniemeyer I can take this one.

[2019-12-15 12:56] arfon commented on #1952
@whedon assign @arfon as editor

[2019-12-15 12:56] whedon commented on #1952
OK, the editor is @arfon

[2019-12-15 12:59] arfon commented on #1952
@thelfer - could you please take a look at [this list of reviewers](https://bit.ly/joss-reviewers) and suggest a few names for people who might be able to review this submission? Please list them without their `@` to avoid pinging them (e.g. `arfon` vs `@arfon`).

Also, @Kevin-Mattheus-Moerman - if you have any suggestions for potential reviewers I'd welcome them 😄

[2019-12-15 14:00] tomchor commented on #1934
@mjsottile Unfortunately I don't have enough expertise or time to review this paper at this moment. So I'll have to decline.

Thank you.

[2019-12-15 14:13] brendonhall commented on #1946
@ThomasMGeo I'm happy to talk a look.  Are there instructions for reviewing?

[2019-12-15 14:13] mseri commented on #1812
I have added the only available DOI:

- I could not find a DOI for the Neural ODE paper, the bibtex entry is the official one from https://papers.nips.cc/paper/7892-neural-ordinary-differential-equations

- The Owl whitepaper does not have a DOI. It was presented at ICFP 2017, https://icfp17.sigplan.org/details/ocaml-2017-talks/5/Owl-A-General-Purpose-Numerical-Library-in-OCaml, I have used the bi

[2019-12-15 14:14] mseri commented on #1812
@whedon generate pdf

[2019-12-15 14:14] whedon commented on #1812
[code]

[2019-12-15 14:14] whedon commented on #1812
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01812/joss.01812/10.21105.joss.01812.pdf)

[2019-12-15 14:23] lpantano commented on #1774
Thank you! @munkm, could you create a zenodo archive from the repo. The title and authors should match the paper information. After that I can add this to the archive link and we will be almost done!

[2019-12-15 14:26] lpantano commented on #1731
@joelmiller, can you match the title from the zenodo to the title in the paper and the authors names exactly as they appear in the paper? I hope that is not supper difficult to do. Thanks!

[2019-12-15 14:30] danielskatz commented on #1844
Thanks @marksantcroos

[2019-12-15 14:30] danielskatz commented on #1844
@gonsie - can I check in with you to get a status of where things are and what you think needs to be done before you can check off your remaining boxes?

[2019-12-15 16:09] lpantano commented on #1411
Thank you! @snowformatics could you make a Zenodo archive from the current github version. The tittle and authors should match the paper exactly. Let me know if you have any question.

[2019-12-15 18:20] snowformatics commented on #1411
Hi Lorena,

I have created an archive with DOI at our institute repository system, is
this ok for you? Otherwise I could create a Zenodo archive, no problem.

http://dx.doi.org/10.5447/IPK/2019/23

Am So., 15. Dez. 2019 um 17:09 Uhr schrieb Lorena Pantano <
notifications@github.com>:

[2019-12-15 18:30] snowformatics commented on #1411
I just realized that's not the same title, so I will create a  Zenodo archive.

[2019-12-15 18:53] snowformatics commented on #1411
Zenodo archive:
https://zenodo.org/record/3576466#.XfaAvehKhPY

[2019-12-15 19:25] xuanxu commented on #1940
@HeloiseS: to have an explicit list of requierements is not a mandatory or stopper condition to pass a JOSS review. But if you thinks it's a standard/good practice or you feel it is something a user would expect to find, it is totally ok to suggest the author to add that list to the readme (or add a requirements.txt file or whatever other solution you have in mind).

[2019-12-15 19:45] lpantano commented on #1411
Thanks for the quick reply. Sadly, the zenodo needs to contains all the code in this repo. You can link zenodo with the GitHub code, and every time you do a release it would create an archive version. When you do the link you need to modify the title an author but that's all. Or you can repeat what you did here, but it needs to be the full repository. I hope this is ok with you. Sorry to not have

[2019-12-15 20:17] snowformatics commented on #1411
Oh  I am sorry, here we go:

https://zenodo.org/record/3576574#.XfaUfOhKhPY

Hope that's ok now.

[2019-12-15 21:11] kyleniemeyer commented on #1870
Hi @0todd0000, I'm just doing the final checks on the submission before publishing. Almost everything looks good, but I noticed one of your references was missing some info—could you add the volume, issue, and page number to the Ramsay and Li (1998) reference? I found: Volume 60, Issue 2, pages 351-363. Thanks!

[2019-12-15 21:41] wingtorres commented on #1825
@danielskatz Yes finally! I have updated the code to address @bw4sz 's suggestion and in regards to @isaacvandor 's thoughts I have at least pointed to where users can customize their version of the code in lieu of adding a preferences menu to modify the GUI cosmetics (although we may want to do this down the line, I believe the code will be useful to people without it for now). @Kevin-Mattheus-Mo

[2019-12-15 21:49] wingtorres commented on #1825
@whedeon generate pdf

[2019-12-15 21:50] wingtorres commented on #1825
@whedon generate pdf

[2019-12-15 21:50] whedon commented on #1825
[code]

[2019-12-15 21:51] whedon commented on #1825
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01825/joss.01825/10.21105.joss.01825.pdf)

[2019-12-15 21:55] robertodr commented on #1934
@mjsottile apologies, but I cannot review this paper. This is not my field of expertise at all.

[2019-12-15 22:01] olivertomic commented on #1916
@csoneson , I will be unavailable until mid-february. Would that be too late?

[2019-12-15 23:13] dfm commented on #1954
:wave: Hey @mnarayan! Any chance you're available and willing to review this JOSS submission? Thanks!

[2019-12-15 23:16] dfm commented on #1954
:wave: Hey @effigies! Any chance you're available and willing to review this JOSS submission? Thanks!

[2019-12-15 23:25] rgmyr commented on #1946
Hi @brendonhall, here's the [Reviewer Guidelines](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html). Once a [Review] issue is opened, each reviewer gets a [review checklist](https://joss.readthedocs.io/en/latest/review_checklist.html) to work through (check out some of the review issues in this repo for examples).

[2019-12-15 23:27] gkthiruvathukal commented on #1923
Hi @xirdneh, @arcuri82, and @BasTesterink, are any two of you willing to contribute a review for this JOSS submission?

[2019-12-15 23:28] gkthiruvathukal commented on #1936
Hi, @ixjlyons, @sarats, @sjvrijn, @krother, @remram44, @adammichaelwood, @pgadige, are any 2 of you willing to contribute a review for this JOSS submission?

[2019-12-15 23:31] gkthiruvathukal commented on #1953
@tresoldi Can you take a look at the list of reviewers (see above by scrolling up to top of this issue thread) and mention any prospective reviewers for your submission?

[2019-12-15 23:52] sjvrijn commented on #1936
@gkthiruvathukal Sorry, not this time.

[2019-12-15 23:54] gkthiruvathukal commented on #1936
Thanks, @sjvrijn. Appreciate the quick response. I hope others will say _yes_. Happy holidays!

[2019-12-16 00:00] tresoldi commented on #1953
@gkthiruvathukal sorry, I assumed it was not a mandatory step, but one for suggestions. From the list, I'd guess (mentioning with the @) desilinguist, jkahn, ionlights, mbod, and/or geoffbacon would be the ones most in line. SimonGreenhill would be a great reviewer, but we know each other and work in the same department.

[2019-12-16 00:24] joelmiller commented on #1731
@lpantano, I've made those changes.  The only remaining inconsistency is that after updating changes I decided to rename this as v1.1.  I don't see the version appearing anywhere in the proof so it's probably not an issue, but I do see that in the metadata in the first post on this thread it gives the version number.  So if it matters we should update, but if not, I think we're done.

[2019-12-16 00:26] joelmiller commented on #1731
@whedon generate pdf

[2019-12-16 00:26] whedon commented on #1731
[code]

[2019-12-16 00:26] whedon commented on #1731
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01731/joss.01731/10.21105.joss.01731.pdf)

[2019-12-16 01:34] nanxstats commented on #1916
Thanks @csoneson for the invitation but I'm a bit busy with a personal project right now and in the next few months. My apologies. Maybe next time...

[2019-12-16 01:39] pythonpanda2 commented on #1942
https://github.com/benjaminbolling/DynaGUI/issues/2#issue-538141258

[2019-12-16 02:28] effigies commented on #1954
Sure.

[2019-12-16 02:29] kramea commented on #1934
Sorry, I'll have to decline as well. I don't have any FORTRAN experience.

[2019-12-16 05:08] arokem commented on #1904
@bernease, @osolari: where does this review currently stand? Have you had a chance to take a look?

[2019-12-16 05:10] arokem commented on #1921
👋 @prateekiiest: would you be willing to review this paper for JOSS?

[2019-12-16 05:11] arokem commented on #1921
👋 @professoralkmin: would you be willing to review this paper for JOSS?

[2019-12-16 05:54] mnarayan commented on #1913
I can do the review.

On Fri, Dec 13, 2019 at 3:47 PM Matthew Sottile <notifications@github.com>
wrote:

[2019-12-16 06:02] mnarayan commented on #1954
Sure

[2019-12-16 06:13] michael-hartmann commented on #1907
@whedon generate pdf

[2019-12-16 06:13] whedon commented on #1907
[code]

[2019-12-16 06:14] whedon commented on #1907
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01907/joss.01907/10.21105.joss.01907.pdf)

[2019-12-16 06:18] michael-hartmann commented on #1907
@kthyng, @danielskatz

Thank you for your suggestions.

We have addressed the previous points by (i) extending the introduction for a non-specific audience, and (ii) adding references to experiments that have used data generated with our software.

We hope that the review can now continue. :-)

[2019-12-16 07:13] arcuri82 commented on #1923
Hi, yes, I can be a reviewer

[2019-12-16 07:55] kirui93 commented on #1912
@matbesancon @juliohm I did comment on the issues created and closed most of them as I had already dealt with them.

[2019-12-16 09:38] 0todd0000 commented on #1870
@whedon generate pdf

[2019-12-16 09:38] whedon commented on #1870
[code]

[2019-12-16 09:38] 0todd0000 commented on #1870
Hi @kyleniemeyer, sorry about that!  I've updated the reference and have regenerated the PDF.

[2019-12-16 09:38] whedon commented on #1870
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01870/joss.01870/10.21105.joss.01870.pdf)

[2019-12-16 09:48] oliviaguest commented on #1900
Hi :wave: @nicksexton and @russellpierce — it's a been a few weeks since you said you'd take a look here. Would it be possible to give me a realistic ETA? Thanks!

[2019-12-16 09:49] JohnCoene commented on #1866
Hi @oliviaguest apologies for the delay, I've been in touch with @pachamaltese but I've been a bit ill these past few days. I will find the time to finish the review this week.

[2019-12-16 09:50] oliviaguest commented on #1866
@JohnCoene thank you and most importantly: get well soon! :smiley_cat:

[2019-12-16 10:04] nkarasiak commented on #1950
Hello,
Here is a list of the three potential reviewers I identified :

- MES1605 (satellite images and and classification)
- cmillion (image processing & python)
- OopsAllErrors (remote sensing & image processing)

Kind regards,
Nicolas Karasiak.

[2019-12-16 10:52] Kevin-Mattheus-Moerman commented on #1825
@isaacvandor, @bw4sz are you happy with the changes implemented? I see all boxes are ticked. Are you happy to recommend acceptance for this work? Thanks!

[2019-12-16 10:57] Kevin-Mattheus-Moerman commented on #1825
@wingtorres thanks for adding community guidelines. One note on your `CONTRIBUTING.md` file (https://github.com/wingtorres/morphometrix/blob/master/CONTRIBUTING.md). It appears it was copied from my own project's file I referred to. Please review the variable naming section since I changed that to suit my project (MATLAB syntax for mesh data handling). Perhaps yours should instead refer to some Py

[2019-12-16 11:20] brittonsmith commented on #1881
@mgckind, I've just issued a new [pull request](https://github.com/ytree-project/ytree/pull/39) to address your [functionality comments](https://github.com/ytree-project/ytree/issues/37). Please let me know if that looks ok.

[2019-12-16 12:34] dfm commented on #1954
@whedon assign @effigies as reviewer

[2019-12-16 12:34] whedon commented on #1954
OK, the reviewer is @effigies

[2019-12-16 12:34] dfm commented on #1954
@whedon add @mnarayan as reviewer

[2019-12-16 12:34] whedon commented on #1954
OK, @mnarayan is now a reviewer

[2019-12-16 12:36] dfm commented on #1954
@whedon start review

[2019-12-16 12:36] whedon opened #1958 "[REVIEW]: LFSpy: A Python Implementation of Local Feature Selection for Data Classification with scikit-learn Compatibility"
**Submitting author:** @kiretd (<a href="http://orcid.org/0000-0003-4849-732X">Kiret Dhindsa</a>)
**Repository:** <a href="https://github.com/McMasterRS/LFSpy" target ="_blank">https://github.com/McMasterRS/LFSpy</a>
**Version:** v1.0.4
**Editor:** @dfm
**Reviewers:** @effigies, @sauln
**Archive:** <a href="https://doi.org/10.5281/zenodo.3813708" target="_blank">10.5281/zenodo.3813708</a>

## Stat

[2019-12-16 12:36] whedon commented on #1954
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1958. Feel free to close this issue now!

[2019-12-16 12:36] whedon commented on #1958
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @effigies, @mnarayan it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-12-16 12:36] whedon commented on #1958
[code]

[2019-12-16 12:36] whedon commented on #1958
[code]

[2019-12-16 12:36] whedon commented on #1958
[code]

[2019-12-16 12:37] whedon commented on #1958
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01958/joss.01958/10.21105.joss.01958.pdf)

[2019-12-16 12:37] dfm commented on #1954
@effigies, @mnarayan: thanks! Please head over to #1958 to find the main review.

[2019-12-16 12:37] #1954 closed

[2019-12-16 13:31] ryEllison commented on #1921
Yes.

R

Sent from my iPhone

[2019-12-16 13:39] wingtorres commented on #1825
You are totally right that's embarrassing :D, sorry I should have paid closer attention. I'm a bit new to Python, but I try to adhere to the PEP-008 standards so I'll post a link to that.

[2019-12-16 13:39] professoralkmin commented on #1921
Yes

Em seg, 16 de dez de 2019 10:31 AM, ryEllison <notifications@github.com>
escreveu:

[2019-12-16 13:43] nmstreethran commented on #1911
Hi @melissawm, I've updated my review checklist and am happy with the revisions by @tomalrussell. I think this submission is ready for publication. :)

[2019-12-16 14:03] nmstreethran commented on #1934
Hi @mjsottile, I'm unfamiliar with Fortran, so I'm afraid I can't review this submission. My apologies.

[2019-12-16 14:19] arokem commented on #1921
@whedon assign professoralkmin as reviewer

[2019-12-16 14:19] whedon commented on #1921
OK, the reviewer is professoralkmin

[2019-12-16 14:19] arokem commented on #1921
@whedon add ryEllison as reviewer

[2019-12-16 14:19] whedon commented on #1921
OK, ryEllison is now a reviewer

[2019-12-16 14:19] arokem commented on #1921
@whedon start review

[2019-12-16 14:20] whedon opened #1959 "[REVIEW]: Pyglmnet: Python implementation of elastic-net regularized generalized linear models"
**Submitting author:** @jasmainak (<a href="http://orcid.org/0000-0002-3199-9027">Mainak Jas</a>)
**Repository:** <a href="https://github.com/glm-tools/pyglmnet/" target ="_blank">https://github.com/glm-tools/pyglmnet/</a>
**Version:** 1.1.1
**Editor:** @arokem
**Reviewer:** @professoralkmin, @ryEllison
**Archive:** <a href="https://doi.org/10.5281/zenodo.3686564" target="_blank">10.5281/zenodo.36

[2019-12-16 14:20] whedon commented on #1921
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1959. Feel free to close this issue now!

[2019-12-16 14:20] whedon commented on #1959
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @professoralkmin, @ryEllison it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're pr

[2019-12-16 14:20] whedon commented on #1959
[code]

[2019-12-16 14:20] whedon commented on #1959
[code]

[2019-12-16 14:20] whedon commented on #1959
[code]

[2019-12-16 14:20] whedon commented on #1959
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01959/joss.01959/10.21105.joss.01959.pdf)

[2019-12-16 14:22] arokem commented on #1921
@ryEllison @professoralkmin : thank you both for taking this on! I've started the review over on #1959, so head over there for your checklists. Please let me know if you have any questions. Feel free to post issues on the software repository related to this review, and feel free to tag me into issues if any questions come up.

[2019-12-16 14:22] #1921 closed

[2019-12-16 15:28] melissawm commented on #1955
Hello @kyleniemeyer, yes I can. I'll assign myself

[2019-12-16 15:28] melissawm commented on #1955
@whedon assign @melissawm as editor

[2019-12-16 15:28] whedon commented on #1955
OK, the editor is @melissawm

[2019-12-16 15:29] melissawm commented on #1955
Hello @cscherrer , I'll be working as the editor, the reviewers are not yet assigned 😊

[2019-12-16 16:07] mgckind commented on #1881
I went through the PR and it looks awesome, thanks for the extra effort of adding those. Congrats on such a nice module!. @xuanxu , @brittonsmith This is ready to go.

[2019-12-16 16:34] vitorsr commented on #1822
Hi @Kevin-Mattheus-Moerman, is there anything else due from my end?

[2019-12-16 16:35] remram44 commented on #1936
@gkthiruvathukal I'm able and willing!

[2019-12-16 16:41] cscherrer commented on #1955
Great, thank you @melissawm !

[2019-12-16 17:26] raullaasner commented on #1945
@mkhorton The easiest way is to login on the website as the superuser (or create a regular user and use that) and click on the "Add Data" button. This presents you with a lot fields describing the data set, but only a few are mandatory. Click on "Submit" at the bottom to see which ones are mandatory and fill those in with some made up data.

Other than that, there is no import feature, i.e., the d

[2019-12-16 17:53] kbarnhart commented on #1890
@whedon generate pdf

[2019-12-16 17:53] whedon commented on #1890
[code]

[2019-12-16 17:54] kbarnhart commented on #1890
@whedon check references

[2019-12-16 17:54] whedon commented on #1890
[code]

[2019-12-16 17:54] whedon commented on #1890
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01890/joss.01890/10.21105.joss.01890.pdf)

[2019-12-16 17:54] whedon commented on #1890
[code]

[2019-12-16 18:01] kbarnhart commented on #1890
@TomasBeuzen great! Thanks for the ping (I was sucked into the AGUniverse last week).

Can you
- [ ] Fix the [Harley2017] citation (sorry I missed these two citation related commenst in my earlier issue).
- [ ] Add a date to Leaman (n.d.)
- [ ] Make a tagged release and archive. Ensure that the title and author list are the same as the paper.
- [ ] Report the current version number and archive DOI

[2019-12-16 18:03] kbarnhart commented on #1930
@ryanpmcg Thanks for the update. I've asked around for some review recommendations and have gotten some good ones. I'll be sending out review requests today and hope to get a total of three reviewers (two additional reviewers).

[2019-12-16 18:12] poulson commented on #1371
@whedon generate pdf

[2019-12-16 18:12] whedon commented on #1371
[code]

[2019-12-16 18:12] whedon commented on #1371
PDF failed to compile for issue #1371 with the following error:

 Can't find any papers to compile :-(

[2019-12-16 18:13] kbarnhart commented on #1950
Thanks for the recommendations @nkarasiak

:wave: @cmillion, @OopsAllErrors, would either of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is a pre-review issue that I use to coordinate reviewers. Once there are sufficient reviewers (usu

[2019-12-16 18:13] poulson commented on #1371
@whedon generate pdf from branch joss

[2019-12-16 18:13] whedon commented on #1371
[code]

[2019-12-16 18:14] whedon commented on #1371
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01371/joss.01371/10.21105.joss.01371.pdf)

[2019-12-16 18:31] kbarnhart commented on #1946
@rgmyr thank you for the recommendations. I'm now fully back online after a week at AGU.

@brendonhall thank you for agreeing to review this publication. In my next comment, I'll formally add you.

:wave: @kwinkunks would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/lat

[2019-12-16 18:33] kbarnhart commented on #1946
@whedon assign @brendonhall as reviewer

[2019-12-16 18:34] whedon commented on #1946
OK, the reviewer is @brendonhall

[2019-12-16 18:39] cmillion commented on #1950
Yes.

[2019-12-16 18:55] lheagy commented on #1663
Excellent, thanks @elyiorgos! and apologies for my delay - I was at the AGU conference last week and was a bit overloaded.

This looks good. Many thanks @eskofier, @ikarosilva, @nhejazi for your review 🎉

[2019-12-16 18:55] lheagy commented on #1663
@whedon set 10.5281/zenodo.3572581 as archive

[2019-12-16 18:55] whedon commented on #1663
OK. <a href="https://doi.org/10.5281/zenodo.3572581" target="_blank">10.5281/zenodo.3572581</a> is the archive.

[2019-12-16 18:55] ThomasMGeo commented on #1946
Jesper Dramsch @ JesperDramsch might also be a decent reviewer

[2019-12-16 18:57] mkhorton commented on #1945
Ok, that should be sufficient, thank you. I just need it to test functionality :-) Reading the docs made it sound like it needed to be connected to a Qresp backend.

[2019-12-16 18:58] lheagy commented on #1663
@whedon set 0.2.21 as version

[2019-12-16 18:58] whedon commented on #1663
OK. 0.2.21 is the version.

[2019-12-16 18:59] lheagy commented on #1663
:wave: @openjournals/joss-eics, this submission is ready fo final checks!

[2019-12-16 19:05] ckoerber commented on #1936
@remram44 Thank you for agreeing to referee our paper. We look forward to your comments and insights.

[2019-12-16 19:48] kyleniemeyer commented on #1870
@whedon accept

[2019-12-16 19:48] whedon commented on #1870
[code]

[2019-12-16 19:49] whedon commented on #1870
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1176

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1176, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-12-16 19:49] whedon commented on #1870
[code]

[2019-12-16 19:53] kyleniemeyer commented on #1870
@whedon accept deposit=true

[2019-12-16 19:53] whedon commented on #1870
[code]

[2019-12-16 19:54] whedon commented on #1870
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1206663943072178176) 👈 🐦🐦🐦

[2019-12-16 19:54] whedon commented on #1870
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1177
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01870](https://doi.org/10.21105/joss.01870)
2. If everything looks g

[2019-12-16 19:57] kyleniemeyer commented on #1870
Congrats @0todd0000 on your article's publication in JOSS!

Thanks to @melund and @demotu for reviewing, and @trallard for editing.

[2019-12-16 19:57] #1870 closed

[2019-12-16 19:57] whedon commented on #1870
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01870/status.svg)](https://doi.org/10.21105/joss.01870)

**We need your help!**

Journal of Open Source Softwa

[2019-12-16 19:58] brittonsmith commented on #1881
@mgckind, thanks so much and thank you for reviewing the latest PRs so quickly!

[2019-12-16 20:05] karthik commented on #1816
@vchuravy Pinging one more time.  Are you still able to complete the review?

[2019-12-16 20:14] xuanxu commented on #1881
Thanks @aureliocarnero and @mgckind for your review!

[2019-12-16 20:14] xuanxu commented on #1881
@whedon generate pdf

[2019-12-16 20:15] whedon commented on #1881
[code]

[2019-12-16 20:15] whedon commented on #1881
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01881/joss.01881/10.21105.joss.01881.pdf)

[2019-12-16 20:15] xuanxu commented on #1881
@whedon check references

[2019-12-16 20:15] whedon commented on #1881
[code]

[2019-12-16 20:16] whedon commented on #1881
[code]

[2019-12-16 20:28] thelfer commented on #1952
@arfon The following people have indicated "mechanical engineering" in their profile. I more or less ordered them by relevance (this is *very* subjective):

- ctdegroot
- shibabrat
- nnadeau
- trallard
- srmnitc
- moorepants
- kyleniemeyer
- CELavecchia

[2019-12-16 20:30] csoneson commented on #1916
Thanks @olivertomic - I'm hoping to start the review soon, so I will reach out to a couple of more potential reviewers, but I may come back to you :)

[2019-12-16 20:31] csoneson commented on #1916
@diegoenry, @matthiaslein - would one of you be willing to review this submission for JOSS?

[2019-12-16 21:13] juliohm commented on #1912
@kirui93 you didn't address many issues raised in the software paper for example. You also didn't mention how you addressed each issue on GitHub before closing them.

Please report on each issue above how you addressed the review comments, otherwise it is difficult to approve the paper for publication in JOSS.

[2019-12-16 21:58] kirui93 commented on #1912
1.  General comments about the documentation - Initially, I had my docstrings placed in a wrong manner and with the help of @matbesancon I was able to rewrite the docstrings in the correct manner. And also @juliohm had mentioned briefly about the usage of "library" instead of "package" in most parts of the documentation, which I addressed accordingly.

2. @matbesancon indicated about the title and

[2019-12-16 22:14] TomasBeuzen commented on #1890
Hi @kbarnhart - no problem! I unfortunately missed AGU this year but it looked great!

- Harley2017 and Leaman2019 citations have been corrected.
- Have made a tagged release and archived with Zenodo.
- Version number: v0.1.1
- DOI: 10.5281/zenodo.3579500 [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.3579501.svg)](https://doi.org/10.5281/zenodo.3579501)

[2019-12-16 22:15] kbarnhart commented on #1950
@whedon assign @cmillion as reviewer

[2019-12-16 22:15] whedon commented on #1950
OK, the reviewer is @cmillion

[2019-12-16 22:16] kbarnhart commented on #1946
:wave: @JesperDramsch would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is a pre-review issue that I use to coordinate reviewers. Once there are sufficient reviewers (usually 2-3), I will open a new issue where the review will take pla

[2019-12-16 22:26] kbarnhart commented on #1890
@whedon generate pdf

[2019-12-16 22:26] whedon commented on #1890
[code]

[2019-12-16 22:26] kbarnhart commented on #1890
@whedon check references

[2019-12-16 22:27] whedon commented on #1890
[code]

[2019-12-16 22:27] whedon commented on #1890
[code]

[2019-12-16 22:27] whedon commented on #1890
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01890/joss.01890/10.21105.joss.01890.pdf)

[2019-12-16 22:36] kbarnhart commented on #1890
@whedon set 10.5281/zenodo.3579501 as archive

[2019-12-16 22:36] whedon commented on #1890
OK. <a href="https://doi.org/10.5281/zenodo.3579501" target="_blank">10.5281/zenodo.3579501</a> is the archive.

[2019-12-16 22:36] kbarnhart commented on #1890
@TomasBeuzen I noticed a small typo in your comment, but found the correct DOI in the badge you provided.

[2019-12-16 22:37] kbarnhart commented on #1890
@openjournals/joss-eics this is ready for final processing.

[2019-12-16 23:04] poulson commented on #1371
Hi @artivis -- I just finished giving the PDF a careful read and have the following minor comments:

1. The opening paragraph could use a few more citations, such as for one or two authors part of the 'remarkable effort', and for either a classical mathematical text on smooth manifolds (e.g., John Lee's "Introduction to Smooth Manifolds") or an application-specific one, e.g., your own publication

[2019-12-16 23:05] poulson commented on #1371
@whedon check references

[2019-12-16 23:05] whedon commented on #1371
[code]

[2019-12-16 23:06] whedon commented on #1371
[code]

[2019-12-16 23:09] poulson commented on #1371
Hi @artivis -- would you mind fixing the above two missing DOIs in addition to adding the requested references in my above (lengthy) comment?

[2019-12-16 23:40] kthyng commented on #1693
@LRydin I have edited the figures in your paper in PR [#8](https://github.com/LRydin/KramersMoyal/pull/8). If you think the paper looks good with the changes, you can accept the PR.

[2019-12-16 23:42] ThomasMGeo commented on #1946
@whedon generate pdf

[2019-12-16 23:42] whedon commented on #1946
[code]

[2019-12-16 23:43] whedon commented on #1946
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01946/joss.01946/10.21105.joss.01946.pdf)

[2019-12-17 01:06] juliohm commented on #1912
@kirui93 can you please add these comments to the issues in your project repo instead? It is quite hard to follow any text here without context. Please understand that we have limited time to review.

I will try to read the issues again in the following weeks.

Thank you.

[2019-12-17 01:06] juliohm commented on #1912
@whedon generate pdf

[2019-12-17 01:06] whedon commented on #1912
[code]

[2019-12-17 01:06] whedon commented on #1912
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01912/joss.01912/10.21105.joss.01912.pdf)

[2019-12-17 02:24] ThomasMGeo commented on #1946
Jesse Pisel @jessepisel just reached out to me! Thanks Jesse!

[2019-12-17 02:36] JesperDramsch commented on #1946
This seems awesome. I'd love to take a look and review this.

I'll probably be best on the python and ml bits and ok on the core.

[2019-12-17 02:37] ThomasMGeo commented on #1946
Luckily it's way more the python/ML bits, and just being able to say rock vs no rock! Thanks @JesperDramsch

[2019-12-17 08:25] kirui93 commented on #1912
@juliohm @matbesancon Thank you so much for your patience. I have re-commented again on the important issues and re-opened them.

[2019-12-17 08:27] kirui93 commented on #1912
Some other issues are general comments that were just suggestions for improving the documentation as well as docstrings which I did implement immediately on statement.

[2019-12-17 09:20] sappelhoff commented on #1896
Hi @arokem we made a release and archived the software with Zenodo:

[![DOI](https://zenodo.org/badge/89170358.svg)](https://zenodo.org/badge/latestdoi/89170358)

The metadata is aligned with the paper (including title and authors ... orcids are added as well).

Thanks also for your language suggestion, which has been incorporated :+1:

[2019-12-17 09:31] xuanxu commented on #1881
OK @brittonsmith, everything looks good, here are the next steps:

- Please release a new tagged version from the current master so it includes all the changes made during the review process
- Then archive that latest release in Zenodo
- Check the Zenodo deposit has the correct metadata: title and author name should match the paper; you may also add your ORCID.

Once you do that please report here

[2019-12-17 10:25] christophM commented on #1948
It seems like a good match. Let me know if I can help you review this paper.

[2019-12-17 10:34] koenhelwegen commented on #1746
Hi, I can confirm the team is happy with the current authorship! As the team is growing and we expect more people to work on Larq in the future, we prefer acknowledging the whole team over some set of individuals.

[2019-12-17 10:38] hiendn commented on #1948
I think that @frycast would be perfect as a reviewer for this paper. He is currently working on a Shapley values project of his own!

[2019-12-17 10:54] arokem commented on #1896
@whedon set archive as 10.5281/zenodo.3580273

[2019-12-17 10:55] arokem commented on #1896
@whedon set version as 0.3.1

[2019-12-17 10:56] arokem commented on #1896
@whedon commands

[2019-12-17 10:56] whedon commented on #1896
Here are some things you can ask me to do:

[code]

[2019-12-17 10:56] arokem commented on #1896
@whedon set 10.5281/zenodo.3580273 as archive

[2019-12-17 10:56] whedon commented on #1896
OK. <a href="https://doi.org/10.5281/zenodo.3580273" target="_blank">10.5281/zenodo.3580273</a> is the archive.

[2019-12-17 10:57] arokem commented on #1896
@whedon set 0.3.1 as version

[2019-12-17 10:57] whedon commented on #1896
OK. 0.3.1 is the version.

[2019-12-17 10:57] arokem commented on #1896
DSLs are the worst

[2019-12-17 10:57] LRydin commented on #1693
Dear @kthyng,

I've accepted the PR, but also added a left and right margin to the figures, to have them all in the same size. I've updated the repo. I think that should be that :).

Cheers,
Leonardo Rydin
@fmeirinhos

[2019-12-17 10:57] arokem commented on #1896
@openjournals/joss-eics : I believe this paper is now ready for your approval.

[2019-12-17 12:19] melissawm commented on #1911
Thank you, @nmstreethran !

[2019-12-17 12:29] brittonsmith commented on #1881
Hi @xuanxu, I've just done the release.

Version: 2.3
DOI: [10.5281/zenodo.3580978](https://doi.org/10.5281/zenodo.3580978)

The metadata for the Zenodo entry looks good to me. Our ORCIDs are there, too. I think we're ready to go.

Thanks for all your help!

[2019-12-17 12:34] phillima commented on #1923
Thank you @gkthiruvathukal for accepting the role of editor of this paper, and thank you @arcuri82 for accepting the reviewer role. @gkthiruvathukal , I checked the list again and ran into these name for potential reviewers: @chrisma @danieledipompeo @sambitdash @fhg @mado89 .

[2019-12-17 12:50] gkthiruvathukal commented on #1923
@whedon assign @arcuri82 as reviewer

[2019-12-17 12:50] whedon commented on #1923
OK, the reviewer is @arcuri82

[2019-12-17 12:51] gkthiruvathukal commented on #1923
@chrisma @danieledipompeo @sambitdash @FHG @mado89, are any of you willing to contribute a review or this JOSS submission? I need one more reviewer. Thanks!

[2019-12-17 13:06] danieledipompeo commented on #1923
Hi, I can revise the paper. Let me know the deadline.

[2019-12-17 13:11] gkthiruvathukal commented on #1923
Hi @danieledipompeo, you meant _review_, right? It is the holidays, so we understand you may need time. I'd like to aim for reviews to be complete sometime in January.

[2019-12-17 13:14] danieledipompeo commented on #1923
Yes, I can be a reviewer :). The deadline is fine with me.

[2019-12-17 13:15] gkthiruvathukal commented on #1923
@whedon add @danieledipompeo as reviewer

[2019-12-17 13:15] whedon commented on #1923
OK, @danieledipompeo is now a reviewer

[2019-12-17 13:16] gkthiruvathukal commented on #1923
@whedon start review

[2019-12-17 13:16] whedon opened #1960 "[REVIEW]: Annotation Sniffer: A tool to Extract Code Annotations Metrics"
**Submitting author:** @phillima (<a href="http://orcid.org/0000-0002-8358-4405">Phyllipe Lima</a>)
**Repository:** <a href="https://github.com/phillima/asniffer/" target ="_blank">https://github.com/phillima/asniffer/</a>
**Version:** v2.0.0
**Editor:** @gkthiruvathukal
**Reviewer:** @arcuri82, @danieledipompeo
**Archive:** <a href="https://doi.org/10.5281/zenodo.3701910" target="_blank">10.5281/

[2019-12-17 13:16] whedon commented on #1923
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1960. Feel free to close this issue now!

[2019-12-17 13:16] whedon commented on #1960
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arcuri82, @danieledipompeo it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're pro

[2019-12-17 13:16] #1923 closed

[2019-12-17 13:16] whedon commented on #1960
[code]

[2019-12-17 13:16] whedon commented on #1960
[code]

[2019-12-17 13:16] whedon commented on #1960
[code]

[2019-12-17 13:16] whedon commented on #1960
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01960/joss.01960/10.21105.joss.01960.pdf)

[2019-12-17 13:20] gkthiruvathukal commented on #1936
Hi, @ixjlyons, @sarats, @krother, @adammichaelwood, @pgadige, are any of you willing to contribute a review for this JOSS submission? I need one other reviewer. Thanks!

[2019-12-17 13:20] gkthiruvathukal commented on #1936
@whedon assign @remram44 as reviewer

[2019-12-17 13:20] whedon commented on #1936
OK, the reviewer is @remram44

[2019-12-17 13:22] gkthiruvathukal commented on #1953
@desilinguist, @jkahn, @ionlights, @mbod, @geoffbacon, are any 2 of you willing to contribute a review for this JOSS submission?

[2019-12-17 13:22] Amudtogal commented on #1326
We reached the final stage:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
 **Where can I do this? The release tag is 1.0.1**
- [x] Archive the reviewed software in Zenodo
- [x] Check the Zenodo deposit has the correct metadata, this includes the title (should match the paper title) and author list (make sure the list is correct and people who

[2019-12-17 13:24] ThomasMGeo commented on #1946
Dr. Chris Yeomans (@swgeoscience) also reached out to be a reviewer.

[2019-12-17 13:24] danieledipompeo commented on #1960
@whedon commands

[2019-12-17 13:24] whedon commented on #1960
Here are some things you can ask me to do:

[code]

[2019-12-17 13:52] xuanxu commented on #1881
@whedon set 2.3 as version

[2019-12-17 13:52] whedon commented on #1881
OK. 2.3 is the version.

[2019-12-17 13:53] xuanxu commented on #1881
@whedon set 10.5281/zenodo.3580978 as archive

[2019-12-17 13:53] whedon commented on #1881
OK. <a href="https://doi.org/10.5281/zenodo.3580978" target="_blank">10.5281/zenodo.3580978</a> is the archive.

[2019-12-17 13:57] xuanxu commented on #1881
Thanks @brittonsmith!
Everything is ready :tada:
@openjournals/joss-eics sending it your way for final acceptance! :rocket:

[2019-12-17 14:40] terrytangyuan commented on #1948
@whedon add @christophM as reviewer

[2019-12-17 14:40] whedon commented on #1948
OK, @christophM is now a reviewer

[2019-12-17 14:41] terrytangyuan commented on #1948
Thanks @hiendn. @frycast Would you like to review this submission? If anyone else wants to get involved, please confirm here as well.

[2019-12-17 14:42] ali-ramadhan commented on #1892
Hi @katyhuff sorry for the very slow reply.

I wasn't sure if I'd have enough time to review this submission but I can do it today.

I'll write up my comments then fill in the reviewer checklist when the review issue is opened.

[2019-12-17 15:53] ali-ramadhan commented on #1828
I'm very sorry for the slow reply on my part.

Thanks @stfbnc for making fathon available through pip. I was able to install it, run the examples, and the tests! Also great work on moving the documentation to Sphinx.

There's just a little hiccup whether the GSL library is actually installed automatically which I mention at https://github.com/stfbnc/fathon/issues/2 but that's a minor issue.

Also

[2019-12-17 15:56] kthyng commented on #1693
@whedon generate pdf

[2019-12-17 15:56] whedon commented on #1693
[code]

[2019-12-17 15:56] whedon commented on #1693
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01693/joss.01693/10.21105.joss.01693.pdf)

[2019-12-17 15:58] kthyng commented on #1693
@whedon check references

[2019-12-17 15:58] whedon commented on #1693
[code]

[2019-12-17 15:58] whedon commented on #1693
[code]

[2019-12-17 16:15] kthyng commented on #1693
I have made some correction for your paper in this PR: https://github.com/LRydin/KramersMoyal/pull/9

[2019-12-17 16:16] kthyng commented on #1693
We recommend making an official release for your submission. I see we have v0.31 marked. I want to find out 1. if that is still the correct version number and 2. if it is, are you interested in making a corresponding git release to match?

[2019-12-17 16:16] kthyng commented on #1693
The subsequent step is to make an archive of your work at a place like Zenodo, then report the DOI back here. Please make sure that the title and author list of your work in Zenodo exactly match your paper here.

[2019-12-17 17:17] chrisma commented on #1923
Hi @gkthiruvathukal , thanks for considering me as a reviewer for this paper. This would be my first time reviewing for JOSS, so maybe being an additional, third reviewer would be a good start. Is this possible?
Thanks!

[2019-12-17 17:56] LRydin commented on #1693
Dear @kthyng,

1. The current version is at 0.4
2. Zenodo: Done. Here is the link: https://zenodo.org/record/3581328#.XfkWPdnTWbd and the DOI is 10.21105/joss.01693

I have accepted the last PR and corrected the suggested spellings.

Cheers,
Leonardo
@fmeirinhos

[2019-12-17 18:17] kbarnhart commented on #1946
Thanks for being willing to review @JesperDramsch

Thanks also @ThomasMGeo for your assistance in finding appropriate reviewers.

:wave: @swgeoscience @jessepisel can you confirm on this thread that would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criter

[2019-12-17 18:17] kbarnhart commented on #1946
@whedon add @JesperDramsch as reviewer

[2019-12-17 18:17] whedon commented on #1946
OK, @JesperDramsch is now a reviewer

[2019-12-17 18:40] lpantano commented on #1731
@whedon set 10.5281/zenodo.3572756 as archive

[2019-12-17 18:40] whedon commented on #1731
OK. <a href="https://doi.org/10.5281/zenodo.3572756" target="_blank">10.5281/zenodo.3572756</a> is the archive.

[2019-12-17 18:40] lpantano commented on #1731
@whedon set v1.1 as version

[2019-12-17 18:40] whedon commented on #1731
OK. v1.1 is the version.

[2019-12-17 18:41] lpantano commented on #1731
@openjournals/joss-eics, I think this is good to get an eye from you.

[2019-12-17 18:44] cmillion commented on #1950
I recommend @mollenburger as an additional reviewer.

[2019-12-17 18:45] lpantano commented on #1411
@whedon set 10.5281/zenodo.3576574 as archive

[2019-12-17 18:45] whedon commented on #1411
OK. <a href="https://doi.org/10.5281/zenodo.3576574" target="_blank">10.5281/zenodo.3576574</a> is the archive.

[2019-12-17 18:46] lpantano commented on #1411
@openjournals/joss-eics, I think this is ready for you.

[2019-12-17 19:12] jessepisel commented on #1946
I am willing to review this submission. Excited to check it out.

[2019-12-17 21:33] kbarnhart commented on #1930
:wave: @dvalters @tcoulthard would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is a pre-review issue that I use to coordinate reviewers. Once there are sufficient reviewers (usually 2-3), I will open a new issue where the review will t

[2019-12-17 21:33] kbarnhart commented on #1946
@whedon add @jessepisel as reviewer

[2019-12-17 21:33] whedon commented on #1946
OK, @jessepisel is now a reviewer

[2019-12-17 21:39] effigies commented on #1958
I've started on this, but may not finish until after the holidays. Apologies if you need a quicker review.

[2019-12-17 21:52] kbarnhart commented on #1950
Thanks for the recommendation @cmillion

:wave: @mollenburger would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is a pre-review issue that I use to coordinate reviewers. Once there are sufficient reviewers (usually 2-3), I will open a

[2019-12-17 21:56] dfm commented on #1958
@effigies: No worries and thanks for letting us know! I'll remind you in the new year if we don't hear from you.

[2019-12-17 21:57] majensen commented on #1951
@titipata sorry for wait, want to get on this tonight.

[2019-12-17 22:11] mollenburger commented on #1950
@kbarnhart  sure, I can review this

[2019-12-17 22:53] ornlpmcp commented on #1656
@zhampel @jrbourbeau this is a friendly reminder for reviewers :) happy holidays

[2019-12-18 00:37] titipata commented on #1951
No worry @majensen! Thanks in advance!

[2019-12-18 03:14] gkthiruvathukal commented on #1923
@chrisma I'd like to go with 2 for now. Should we get to a point where we truly need a third, please mention me when doing review feedback. I will be happy to help answer any questions! I want to get review started now as I am about to go on break.  Thanks for saying yes. (I hope I can interpret your response as a yes!)

[2019-12-18 03:15] gkthiruvathukal commented on #1923
@chrisma My bad, I already had 2 reviewers. Can I reach out to you for something else in the future?

[2019-12-18 03:17] gkthiruvathukal commented on #1923
/ooo December 18, 2019 until January 5, 2020

[2019-12-18 09:09] magnusrahm commented on #1944
@whedon generate pdf from branch joss-paper

[2019-12-18 09:09] whedon commented on #1944
[code]

[2019-12-18 09:10] whedon commented on #1944
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01944/joss.01944/10.21105.joss.01944.pdf)

[2019-12-18 09:12] magnusrahm commented on #1944
Thank you, @mzszym! The comparison to other packages was indeed very short. It is updated (and the missing reference has been fixed) in the latest version of the paper, like so:

several software packages, including a submodule of the Python package pymatgen (Ong et
al., 2013), a no longer maintained C++ package (Roosen, McCormack, & Carter, 1998),
and a Wolfram Mathematica implementation with a g

[2019-12-18 09:19] chrisma commented on #1923
@gkthiruvathukal Of course! I'd be happy to review.

[2019-12-18 13:31] benoit-combes commented on #1862
@janfreyberg @neuroimaginador. Dear reviewers, I just realized that a directory was missing from the miet repository. This lack simply causes the function documentation not to be available using the base package installation procedure. I corrected this lack by adding the missing directory so that the doc is not available using the regular "?" command. I hope this lack did not disturb too much your

[2019-12-18 14:05] whedon opened #1961 "[PRE REVIEW]: AskCI Server: Collaborative and version controlled documentation"
**Submitting author:** @vsoch (<a href="http://orcid.org/0000-0002-4387-3819">Vanessa Sochat</a>)
**Repository:** <a href="https://github.com/vsoch/askci" target ="_blank">https://github.com/vsoch/askci</a>
**Version:** 0.0.1
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @vsoch. **Currently, there isn't an JOSS editor assigned** to you

[2019-12-18 14:05] whedon commented on #1961
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-18 14:05] whedon commented on #1961
[code]

[2019-12-18 14:05] whedon commented on #1961
[code]

[2019-12-18 14:05] whedon opened #1962 "[PRE REVIEW]: LiberTEM: Software platform for scalable multidimensional data processing in transmission electron microscopy"
**Submitting author:** @uellue (<a href="http://orcid.org/0000-0001-6635-9567">Dieter Weber</a>)
**Repository:** <a href="https://github.com/LiberTEM/LiberTEM" target ="_blank">https://github.com/LiberTEM/LiberTEM</a>
**Version:** v0.3.0
**Editor:** @majensen
**Reviewers:** @alvarolopez, @mamcdona77

**Author instructions**

Thanks for submitting your paper to JOSS @uellue. **Currently, there isn'

[2019-12-18 14:05] whedon commented on #1962
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-18 14:05] whedon commented on #1962
[code]

[2019-12-18 14:05] whedon commented on #1962
[code]

[2019-12-18 14:05] whedon opened #1963 "[PRE REVIEW]: MTEX2Gmsh: a tool for generating 2D meshes from EBSD data"
**Submitting author:** @DorianDepriester (<a href="http://orcid.org/0000-0002-2881-8942">Dorian Depriester</a>)
**Repository:** <a href="https://github.com/DorianDepriester/mtex2Gmsh" target ="_blank">https://github.com/DorianDepriester/mtex2Gmsh</a>
**Version:** v1.0
**Editor:** @meg-simula
**Reviewers:** streeve, @ralfHielscher

**Author instructions**

Thanks for submitting your paper to JOSS @

[2019-12-18 14:05] whedon commented on #1963
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-18 14:05] whedon commented on #1963
[code]

[2019-12-18 14:05] whedon commented on #1963
[code]

[2019-12-18 14:06] whedon commented on #1961
[code]

[2019-12-18 14:06] arfon commented on #1963
:wave: @Kevin-Mattheus-Moerman - the submitting author suggested you as the handling editor.

[2019-12-18 14:06] whedon opened #1964 "[PRE REVIEW]: Discovering new packages and their connections with packexplorer"
**Submitting author:** @arielolafsalgado (<a href="http://orcid.org/0000-0001-7701-5372">Ariel Salgado</a>)
**Repository:** <a href="https://github.com/arielolafsalgado/packexplorer" target ="_blank">https://github.com/arielolafsalgado/packexplorer</a>
**Version:** 0.0.0.9000
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @arielolafsalg

[2019-12-18 14:06] whedon commented on #1964
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-18 14:06] whedon commented on #1964
[code]

[2019-12-18 14:06] whedon commented on #1964
[code]

[2019-12-18 14:06] whedon commented on #1962
[code]

[2019-12-18 14:06] whedon opened #1965 "[PRE REVIEW]: Oceananigans.jl: Fast and friendly geophysical fluid dynamics on GPUs"
**Submitting author:** @ali-ramadhan (<a href="http://orcid.org/0000-0003-1102-1520">Ali Ramadhan</a>)
**Repository:** <a href="https://github.com/climate-machine/Oceananigans.jl" target ="_blank">https://github.com/climate-machine/Oceananigans.jl</a>
**Version:** v0.18.0
**Editor:** @kthyng
**Reviewers:** @funsim, @ysimillides

**Author instructions**

Thanks for submitting your paper to JOSS @al

[2019-12-18 14:06] whedon commented on #1961
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01961/joss.01961/10.21105.joss.01961.pdf)

[2019-12-18 14:06] whedon commented on #1965
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-18 14:06] whedon commented on #1965
[code]

[2019-12-18 14:06] whedon commented on #1965
[code]

[2019-12-18 14:07] arfon commented on #1965
:wave: @kthyng - the submitting author suggested you as the handling editor.

[2019-12-18 14:07] whedon commented on #1963
[code]

[2019-12-18 14:07] whedon opened #1966 "[PRE REVIEW]: MFDFA: Multifractal Detrended Fluctuation Analysis in Python"
**Submitting author:** @LRydin (<a href="http://orcid.org/0000-0001-5513-0580">Leonardo Rydin Gorjão</a>)
**Repository:** <a href="https://github.com/LRydin/MFDFA" target ="_blank">https://github.com/LRydin/MFDFA</a>
**Version:** 0.2
**Editor:** @dfm
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @LRydin. **Currently, there isn't an JOSS editor assigned**

[2019-12-18 14:07] whedon commented on #1966
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-18 14:07] whedon commented on #1966
[code]

[2019-12-18 14:07] whedon commented on #1966
[code]

[2019-12-18 14:07] whedon opened #1967 "[PRE REVIEW]: genius: analysis ready song lyric retrieval"
**Submitting author:** @josiahparry (<a href="http://orcid.org/0000-0001-9910-865X">Josiah Parry</a>)
**Repository:** <a href="https://github.com/josiahparry/genius" target ="_blank">https://github.com/josiahparry/genius</a>
**Version:** 2.2.1
**Editor:** @danielskatz
**Reviewers:** @bmcfee, @heraldoborges

**Author instructions**

Thanks for submitting your paper to JOSS @josiahparry. **Currently

[2019-12-18 14:07] whedon commented on #1967
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-18 14:07] whedon commented on #1967
[code]

[2019-12-18 14:07] whedon commented on #1967
[code]

[2019-12-18 14:07] whedon commented on #1964
Failed to discover a valid open source license.

[2019-12-18 14:08] whedon commented on #1963
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01963/joss.01963/10.21105.joss.01963.pdf)

[2019-12-18 14:08] whedon commented on #1962
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01962/joss.01962/10.21105.joss.01962.pdf)

[2019-12-18 14:08] whedon commented on #1964
[code]

[2019-12-18 14:09] kthyng commented on #1693
Are you interested in making a formal github release, such that it would show up here: https://github.com/LRydin/KramersMoyal/releases

You can get more info here: https://help.github.com/en/github/administering-a-repository/creating-releases

[2019-12-18 14:09] whedon commented on #1964
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01964/joss.01964/10.21105.joss.01964.pdf)

[2019-12-18 14:09] whedon commented on #1966
[code]

[2019-12-18 14:09] arfon commented on #1952
:wave: @CELavecchia & @srmnitc - would you be willing to review this submission for JOSS?

[2019-12-18 14:09] whedon commented on #1965
PDF failed to compile for issue #1965 with the following error:

 Can't find any papers to compile :-(

[2019-12-18 14:09] whedon commented on #1967
Failed to discover a valid open source license.

[2019-12-18 14:10] whedon commented on #1966
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01966/joss.01966/10.21105.joss.01966.pdf)

[2019-12-18 14:10] whedon commented on #1967
[code]

[2019-12-18 14:10] LRydin commented on #1693
Seems like a good idea @kthyng. Should I do so now?

[2019-12-18 14:10] whedon commented on #1967
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01967/joss.01967/10.21105.joss.01967.pdf)

[2019-12-18 14:10] kthyng commented on #1693
/ooo December 18 to January 7

[2019-12-18 14:11] kthyng commented on #1693
But I will still check in despite being out of office for travel.

[2019-12-18 14:11] kthyng commented on #1693
Yes, please do.

[2019-12-18 14:12] LRydin commented on #1693
I'll get to it right away. I'll repost here in a bit.

[2019-12-18 14:12] ali-ramadhan commented on #1965
@whedon commands

[2019-12-18 14:12] whedon commented on #1965
Here are some things you can ask me to do:

[code]

[2019-12-18 14:12] ali-ramadhan commented on #1965
@whedon generate pdf from branch joss-paper

[2019-12-18 14:13] whedon commented on #1965
[code]

[2019-12-18 14:14] whedon commented on #1965
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01965/joss.01965/10.21105.joss.01965.pdf)

[2019-12-18 14:14] whedon commented on #1965
[code]

[2019-12-18 14:14] arfon commented on #1881
@whedon accept

[2019-12-18 14:14] whedon commented on #1881
[code]

[2019-12-18 14:15] whedon commented on #1881
[code]

[2019-12-18 14:15] whedon commented on #1881
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1178

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1178, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-12-18 14:21] LRydin commented on #1693
@kthyng Here it is: https://github.com/LRydin/KramersMoyal/releases/tag/v0.4

[2019-12-18 14:24] arfon commented on #1881
@whedon accept deposit=true

[2019-12-18 14:24] whedon commented on #1881
[code]

[2019-12-18 14:25] whedon commented on #1881
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1207305966783533056) 👈 🐦🐦🐦

[2019-12-18 14:25] whedon commented on #1881
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1179
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01881](https://doi.org/10.21105/joss.01881)
2. If everything looks g

[2019-12-18 14:31] arfon commented on #1881
@mgckind, @aureliocarnero - many thanks for your reviews here and to @xuanxu for editing this submission ✨

@brittonsmith - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-12-18 14:31] #1881 closed

[2019-12-18 14:31] whedon commented on #1881
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01881/status.svg)](https://doi.org/10.21105/joss.01881)

**We need your help!**

Journal of Open Source Softwa

[2019-12-18 14:33] arfon commented on #1896
@whedon accept

[2019-12-18 14:33] whedon commented on #1896
[code]

[2019-12-18 14:33] whedon commented on #1896
[code]

[2019-12-18 14:33] whedon commented on #1896
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1180

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1180, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-12-18 14:39] arfon commented on #1896
@whedon accept deposit=true

[2019-12-18 14:39] whedon commented on #1896
[code]

[2019-12-18 14:39] arfon commented on #1663
@whedon accept

[2019-12-18 14:39] whedon commented on #1663
[code]

[2019-12-18 14:40] whedon commented on #1663
[code]

[2019-12-18 14:40] whedon commented on #1896
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1207309602670436352) 👈 🐦🐦🐦

[2019-12-18 14:40] whedon commented on #1896
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1181
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01896](https://doi.org/10.21105/joss.01896)
2. If everything looks g

[2019-12-18 14:40] whedon commented on #1663
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1182

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1182, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-12-18 14:44] arfon commented on #1896
@jdkent, @TomDonoghue - many thanks for your reviews here and to @arokem for editing this submission ✨

@sappelhoff - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-12-18 14:44] #1896 closed

[2019-12-18 14:44] whedon commented on #1896
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01896/status.svg)](https://doi.org/10.21105/joss.01896)

**We need your help!**

Journal of Open Source Softwa

[2019-12-18 14:54] arfon commented on #1663
@whedon accept deposit=true

[2019-12-18 14:54] whedon commented on #1663
[code]

[2019-12-18 14:55] whedon commented on #1663
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1207313464504524801) 👈 🐦🐦🐦

[2019-12-18 14:55] whedon commented on #1663
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1183
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01663](https://doi.org/10.21105/joss.01663)
2. If everything looks g

[2019-12-18 15:02] mikkonie commented on #1584
As a heads up, I will be on vacation and mostly unavailable until 6.1. After that I'm happy to provide any more help and updates required to further the review. Also, in January it would be possible to use a published use case in the preprint stage in order to help illustrate use cases for this project.

[2019-12-18 15:20] arfon commented on #1663
@eskofier, @ikarosilva, @nhejazi - many thanks for your reviews here and to @lheagy for editing this submission ✨

Also, special congratulations to @lheagy for editing her final JOSS paper. Thanks for all of efforts @lheagy making JOSS the success it is!

@elyiorgos - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-12-18 15:23] arfon commented on #1663
I'm going to keep this issue upon for a while until the PDF is resolving on GitHub pages...

[2019-12-18 15:25] arfon commented on #1411
@whedon accept

[2019-12-18 15:25] whedon commented on #1411
[code]

[2019-12-18 15:25] whedon commented on #1411
[code]

[2019-12-18 15:25] whedon opened #1968 "[PRE REVIEW]: Carculator: prospective environmental and economic life cycle assessment of vehicles"
**Submitting author:** @romainsacchi (<a href="http://orcid.org/0000-0003-1440-0905">Romain Sacchi</a>)
**Repository:** <a href="https://github.com/romainsacchi/carculator/" target ="_blank">https://github.com/romainsacchi/carculator/</a>
**Version:** 0.0.5
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @romainsacchi. **Currently, there

[2019-12-18 15:25] whedon commented on #1411
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1184

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1184, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-12-18 15:25] whedon commented on #1968
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-18 15:25] whedon commented on #1968
[code]

[2019-12-18 15:25] whedon commented on #1968
[code]

[2019-12-18 15:26] whedon commented on #1968
[code]

[2019-12-18 15:26] whedon commented on #1968
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01968/joss.01968/10.21105.joss.01968.pdf)

[2019-12-18 15:28] romainsacchi commented on #1968
@whedon generate pdf

[2019-12-18 15:28] whedon commented on #1968
[code]

[2019-12-18 15:29] arfon commented on #1411
@whedon accept deposit=true

[2019-12-18 15:29] whedon commented on #1411
[code]

[2019-12-18 15:29] whedon commented on #1968
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01968/joss.01968/10.21105.joss.01968.pdf)

[2019-12-18 15:30] whedon commented on #1411
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1207322197527797763) 👈 🐦🐦🐦

[2019-12-18 15:30] whedon commented on #1411
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1185
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01411](https://doi.org/10.21105/joss.01411)
2. If everything looks g

[2019-12-18 15:33] arfon commented on #1411
@vbarrera - many thanks for your review and to @lpantano for editing this submission ✨

@snowformatics - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-12-18 15:33] arfon commented on #1411
I'm going to leave this issue open until the PDF is rendering properly on the JOSS site (this looks to be a GitHub pages issue)

[2019-12-18 15:34] arfon commented on #1731
@whedon accept

[2019-12-18 15:34] whedon commented on #1731
[code]

[2019-12-18 15:34] whedon commented on #1731
[code]

[2019-12-18 15:35] whedon commented on #1731
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1186

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1186, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-12-18 15:37] romainsacchi commented on #1968
konstantinstadler may be a potential reviewer for this paper.

[2019-12-18 15:45] arfon commented on #1731
@lpantano @joelmiller - this paper is _very_ long for JOSS (24 pages). From a quick review, there look to been a substantial amount of documentation (e.g. code examples) that would be more appropriate in supporting documentation.

What do you think about moving this content into the docs?

[2019-12-18 15:45] terrytangyuan commented on #1948
@whedon remove @christophM as reviewer

[2019-12-18 15:45] whedon commented on #1948
OK, @christophM is no longer a reviewer

[2019-12-18 15:47] terrytangyuan commented on #1948
@ja-thomas There's potential conflict of interest according to @christophM so I am removing him for now. @ja-thomas Would you like to review this instead?

[2019-12-18 15:56] snowformatics commented on #1411
Thanks to everyone and merry Christmas!

[2019-12-18 16:00] arfon commented on #1663
Update - looks like this is working now.

[2019-12-18 16:00] #1663 closed

[2019-12-18 16:00] whedon commented on #1663
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01663/status.svg)](https://doi.org/10.21105/joss.01663)

**We need your help!**

Journal of Open Source Softwa

[2019-12-18 16:00] arfon commented on #1411
Looks like this is working now.

[2019-12-18 16:00] #1411 closed

[2019-12-18 16:00] whedon commented on #1411
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01411/status.svg)](https://doi.org/10.21105/joss.01411)

**We need your help!**

Journal of Open Source Softwa

[2019-12-18 16:04] kiretd commented on #1958
@whedon generate pdf

[2019-12-18 16:04] whedon commented on #1958
[code]

[2019-12-18 16:04] whedon commented on #1958
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01958/joss.01958/10.21105.joss.01958.pdf)

[2019-12-18 16:07] vsoch commented on #1961
Based on language familiarity (Python) and specialty, I will suggest @atrisovic, @fabianomenegidio, and @dvanic.

[2019-12-18 16:13] vsoch commented on #1961
@whedon generate pdf

[2019-12-18 16:13] whedon commented on #1961
[code]

[2019-12-18 16:14] whedon commented on #1961
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01961/joss.01961/10.21105.joss.01961.pdf)

[2019-12-18 16:31] romainsacchi commented on #1968
@whedon generate pdf

[2019-12-18 16:31] whedon commented on #1968
[code]

[2019-12-18 16:31] whedon commented on #1968
PDF failed to compile for issue #1968 with the following error:

 Error reading bibliography ./paper.bib (line 99, column 5):
unexpected "{"
expecting letter, digit, white space or "="
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-12-18 16:34] romainsacchi commented on #1968
@whedon generate pdf

[2019-12-18 16:34] whedon commented on #1968
[code]

[2019-12-18 16:34] whedon commented on #1968
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01968/joss.01968/10.21105.joss.01968.pdf)

[2019-12-18 16:53] michael-hartmann commented on #1907
@whedon check references

[2019-12-18 16:53] whedon commented on #1907
[code]

[2019-12-18 16:53] whedon commented on #1907
[code]

[2019-12-18 17:14] labarba commented on #1731
In fact, the [JOSS documentation](https://joss.readthedocs.io/en/latest/submitting.html) stipulates that papers should be _short_: "The paper should be between 250-1000 words." And also,

TL;DR: JOSS does not publish long-form papers.

[2019-12-18 17:24] kyleniemeyer commented on #1961
Hi @vsoch, thanks for your (continued!) interest in JOSS—unfortunately, the editorial board found that this submission falls outside our scope of research software, though it does look useful in general.

[2019-12-18 17:36] vsoch commented on #1961
Can the board share their rationale? Documentation is central to absolutely everything - in the same way that containers are a "meta" topic but not research in and of themselves (and I've done a lot of work for containers on JoSS) this is software that is really important for the community to work together to document software, technology, etc. As a research software engineer that makes these meta

[2019-12-18 17:53] kyleniemeyer commented on #1961
@vsoch thanks for your input. One of our rules of thumb about software being in scope is whether someone might cite it, and if so who. Can you give any thoughts on that?

[2019-12-18 17:57] kbarnhart commented on #1946
@whedon start review

[2019-12-18 17:57] whedon opened #1969 "[REVIEW]: CoreBreakout: Subsurface Core Images to Depth-Registered Datasets"
**Submitting author:** @rgmyr (<a href="http://orcid.org/0000-0003-2344-554X">Ross Meyer</a>)
**Repository:** <a href="https://github.com/rgmyr/corebreakout" target ="_blank">https://github.com/rgmyr/corebreakout</a>
**Version:** v0.3
**Editor:** @kbarnhart
**Reviewer:** @brendonhall, @JesperDramsch, @jessepisel
**Archive:** <a href="https://doi.org/10.5281/zenodo.3900640" target="_blank">10.5281/

[2019-12-18 17:57] whedon commented on #1946
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1969. Feel free to close this issue now!

[2019-12-18 17:57] whedon commented on #1969
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @brendonhall, @JesperDramsch, @jessepisel it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a review

[2019-12-18 17:57] whedon commented on #1969
[code]

[2019-12-18 17:57] whedon commented on #1969
[code]

[2019-12-18 17:57] whedon commented on #1969
[code]

[2019-12-18 17:58] whedon commented on #1969
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01969/joss.01969/10.21105.joss.01969.pdf)

[2019-12-18 18:00] vsoch commented on #1961
Sure thing! In that it's a knowledge base for however the implementer desires it (and comes with an API) there are several examples I can think of:

 - a researcher uses the API to parse the provided knowledge, and does an analysis with it (e.g., an AskCI Server branded as a software metadata repository getting updates from the software repositories could say something about software development i

[2019-12-18 18:00] kbarnhart commented on #1946
Thanks all for your enthusiasm for finding reviewers and recommending reviewers. I've started the formal review over at #1969. @swgeoscience, if you are really excited to also be a reviewer, let me know and I can add you over on that issue.

For those of you who are interested in being listed on our [list of potential reviewers](https://bit.ly/joss-reviewers) for future submissions, please conside

[2019-12-18 18:00] #1946 closed

[2019-12-18 18:03] kbarnhart commented on #1969
👋🏼 @rgmyr @brendonhall, @JesperDramsch, @jessepisel this is the review thread for the paper. All of our communications will happen here from now on.

All reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is dif

[2019-12-18 18:04] kbarnhart commented on #1950
@whedon add @mollenburger as reviewer

[2019-12-18 18:04] whedon commented on #1950
OK, @mollenburger is now a reviewer

[2019-12-18 18:05] kbarnhart commented on #1950
:wave: @OopsAllErrors, would you be willing to review this? If not, might you have any recommendations?

[2019-12-18 18:05] ThomasPak commented on #1716
Hi @gonsie, do you have any further concerns?

[2019-12-18 18:46] gradvohl commented on #1814
Hello @VivianePons. Do you have any news about the reviewers for the paper?

[2019-12-18 19:10] gonsie commented on #1716
yep, it looks good.

[2019-12-18 19:29] gonsie commented on #1844
I'm still having trouble actually using myqueue. I just filed another issue in the repo:

- [#17 Config file documentation is incomplete](https://gitlab.com/myqueue/myqueue/issues/17)

[2019-12-18 19:31] gonsie commented on #1844
In response to the discussion about submitting a large number of tasks...

MyQueue should probably have a sensible default. Unlimited is not a good default. Maybe 1000?

[2019-12-18 19:33] gonsie commented on #1844
A contributing guide would be nice, but I guess it's not required.

[2019-12-18 19:35] danielskatz commented on #1844
Actually, some guidance for contributors is required, as stated in the **Community guidelines** review criterion

[2019-12-18 19:40] danielskatz commented on #1844
The README needs a fair amount more content, probably take from what's in the docs. Some of the following should be copied:

- A statement of need - What problems is the software designed to solve and who is the target audience
- Installation instructions, including a clearly-stated list of dependencies
- Example usage - or a pointer into the docs that has this
- Functionality documentation - or a

[2019-12-18 20:48] JosiahParry commented on #1967
I'll get to adding the missing DOIs.

Potential Reviewers:
@alexhanna: R user + NLP
@Faroit: is a pyton user but seems to do work in MIR

[2019-12-18 22:47] jedbrown commented on #1716
@whedon generate pdf

[2019-12-18 22:47] whedon commented on #1716
[code]

[2019-12-18 22:48] whedon commented on #1716
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01716/joss.01716/10.21105.joss.01716.pdf)

[2019-12-18 22:48] jedbrown commented on #1716
@whedon check references

[2019-12-18 22:48] whedon commented on #1716
[code]

[2019-12-18 22:49] whedon commented on #1716
[code]

[2019-12-18 23:46] munkm commented on #1774
Hi @lpantano I've created a release and made a zenodo archive from the repo based on the most current tagged release of the software. Should I make a different one that matches the paper title?

[2019-12-18 23:57] JosiahParry commented on #1967
@whedon generate pdf

[2019-12-18 23:57] whedon commented on #1967
[code]

[2019-12-18 23:58] whedon commented on #1967
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01967/joss.01967/10.21105.joss.01967.pdf)

[2019-12-19 01:55] joelmiller commented on #1731
@whedon generate pdf

[2019-12-19 01:55] whedon commented on #1731
[code]

[2019-12-19 01:55] whedon commented on #1731
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01731/joss.01731/10.21105.joss.01731.pdf)

[2019-12-19 02:38] mjsottile commented on #1850
@whedon set 10.5281/zenodo.3576265 as archive

[2019-12-19 02:38] whedon commented on #1850
OK. <a href="https://doi.org/10.5281/zenodo.3576265" target="_blank">10.5281/zenodo.3576265</a> is the archive.

[2019-12-19 02:39] mjsottile commented on #1850
@whedon set v1.1.8 as version

[2019-12-19 02:39] whedon commented on #1850
OK. v1.1.8 is the version.

[2019-12-19 02:39] joelmiller commented on #1731
@whedon generate pdf

[2019-12-19 02:39] whedon commented on #1731
[code]

[2019-12-19 02:39] mjsottile commented on #1850
Thanks @ramiyaari - I believe we're ready for final processing.

[2019-12-19 02:40] whedon commented on #1731
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01731/joss.01731/10.21105.joss.01731.pdf)

[2019-12-19 02:40] mjsottile commented on #1850
:wave: @openjournals/joss-eics This paper has completed the review process and I believe it's ready for final processing.  Let me know if there is anything additional that I should do.

[2019-12-19 02:46] lpantano commented on #1774
I think you could change the title and author manually from that same zenodo? but if not we need one that matches the title and author.

[2019-12-19 03:07] majensen commented on #1951
Hello @timClicks -- would you be willing to review this artice (#1951) for [JOSS](https://joss.theoj.org)? Thanks for your consideration! --@majensen

[2019-12-19 03:11] majensen commented on #1951
Hey @tleonardi, would you have time to review this article (#1951) for [JOSS](https://joss.theoj.org)? Prego! --@majensen

[2019-12-19 04:32] timClicks commented on #1951
Happy to @majensen.

[2019-12-19 04:49] majensen commented on #1951
@timClicks very much appreciated -- thanks!

[2019-12-19 04:49] majensen commented on #1951
@whedon assign @timClicks as reviewer

[2019-12-19 04:49] whedon commented on #1951
OK, the reviewer is @timClicks

[2019-12-19 04:54] joelmiller commented on #1731
@whedon generate pdf

[2019-12-19 04:54] whedon commented on #1731
[code]

[2019-12-19 04:55] whedon commented on #1731
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01731/joss.01731/10.21105.joss.01731.pdf)

[2019-12-19 04:57] joelmiller commented on #1731
@lpantano @arfon @labarba I've dramatically shortened the paper.  Please let me know if there are any further concerns.

[2019-12-19 04:57] joelmiller commented on #1731
@whedon check references

[2019-12-19 04:57] whedon commented on #1731
[code]

[2019-12-19 04:57] whedon commented on #1731
[code]

[2019-12-19 06:47] titipata commented on #1951
Thanks, @majensen and @timClicks for reviewing!

[2019-12-19 07:15] martinju commented on #1948
@whedon generate pdf

[2019-12-19 07:15] whedon commented on #1948
[code]

[2019-12-19 07:16] whedon commented on #1948
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01948/joss.01948/10.21105.joss.01948.pdf)

[2019-12-19 07:16] martinju commented on #1948
@whedon check references

[2019-12-19 07:16] whedon commented on #1948
[code]

[2019-12-19 07:17] whedon commented on #1948
[code]

[2019-12-19 07:18] martinju commented on #1948
DOI's should be fine now.
@terrytangyuan  do you need more help to find potential reviewers?

[2019-12-19 07:49] DorianDepriester commented on #1963
Dear all,
As potential reviewers, I suggest:

- streeve
- IgorBaratta
- ralfHielscher (not in the list of JOSS' reviewers)
- lheagy
- WalBytes

Regards.

[2019-12-19 08:32] uellue commented on #1962
Hi, the invalid DOI is of a book that is in print and I am referring to a chapter that I co-authored: https://www.worldscientific.com/worldscibooks/10.1142/11389

How should we deal with this? The publication date of the book was pushed recently from Jan 2020 to March 2020, by the way.

[2019-12-19 08:38] uellue commented on #1962
Potential reviewers, selected from the list by programming language and interests:

* leonardojaneis
* glatard
* alvarolopez
* dghoshal-lbl
* stsievert
* sonal-raj

  | 7 von 14
-- | --

[2019-12-19 09:26] csoneson commented on #1916
@fdroessler, @keipertk - would one of you be interested in reviewing this submission for JOSS?

[2019-12-19 09:39] HeloiseS commented on #1940
Okay I have another question, this time about paper structure.

The author ticks pretty much all the boxes but everything is under only one section.
Is this an acceptable format for JOSS or would it be reasonable to ask for seperate sections to split the general summary from the specifics, or would that be redundant?

Sorry this is my first time reviewing for JOSS :smile:

[2019-12-19 09:43] mjsottile commented on #1812
I've completed reviewing the project - looks good to me.  It installed fine and I was able to run the tests and work through the examples and documentation.  Given that @xoolive indicated they were done with their review and satisfied, we have two reviews now with mine.

The final step in the process before I hand it off to the EIC team is to make a tagged release and archive.  JOSS needs the soft

[2019-12-19 09:57] mseri commented on #1812
Thank you very much for the help. I have added the joss paper to the current release of OwlDE, tagged it and released it. It is now published on Zenodo with DOI 10.5281/zenodo.3584264

[2019-12-19 10:31] uellue commented on #1962
The proof looks good!

[2019-12-19 11:52] xuanxu commented on #1940
@HeloiseS only one section is acceptable, yes, JOSS papers are usually quite short ([some](https://joss.theoj.org/papers/10.21105/joss.01896) [examples](https://joss.theoj.org/papers/10.21105/joss.01881)). But in any case if you think that section is too long or it would be clearer with different sections, asking for a split is also ok. So I guess the answer is "both options are acceptable". :smil

[2019-12-19 13:54] nquesada commented on #1705
@whedon generate pdf

[2019-12-19 13:55] whedon commented on #1705
[code]

[2019-12-19 13:55] whedon commented on #1705
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01705/joss.01705/10.21105.joss.01705.pdf)

[2019-12-19 14:05] jjmortensen commented on #1844
There is a new README now: https://gitlab.com/myqueue/myqueue/

[2019-12-19 14:08] danielskatz commented on #1844
That looks good to me, but I also want to hear @gonsie's opinion

[2019-12-19 14:32] brittonsmith commented on #1881
Thanks everyone for all their work! This was a great experience.

[2019-12-19 14:35] arielolafsalgado commented on #1964
vbaliga
terrytangyuan
strengejacke
Stat-Cook
shivam11
sctyner
monicagerber
milesmcbain
Medewitt
MatthewSmith430
masalmon
markziemann
kellieotto

On Wed, Dec 18, 2019 at 11:09 AM whedon <notifications@github.com> wrote:

[2019-12-19 14:38] arielolafsalgado commented on #1964
@whedon commands

[2019-12-19 14:38] whedon commented on #1964
Here are some things you can ask me to do:

[code]

[2019-12-19 14:44] ramiyaari commented on #1850
Thank you @mjsottile

[2019-12-19 15:13] gkthiruvathukal commented on #1953
@whedon help

[2019-12-19 15:13] gkthiruvathukal commented on #1953
@whedon commands

[2019-12-19 15:13] whedon commented on #1953
Here are some things you can ask me to do:

[code]

[2019-12-19 15:14] gkthiruvathukal commented on #1953
@whedon check references

[2019-12-19 15:14] whedon commented on #1953
[code]

[2019-12-19 15:15] whedon commented on #1953
[code]

[2019-12-19 15:16] gkthiruvathukal commented on #1953
@whedon generate pdf

[2019-12-19 15:16] whedon commented on #1953
[code]

[2019-12-19 15:17] whedon commented on #1953
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01953/joss.01953/10.21105.joss.01953.pdf)

[2019-12-19 15:24] desilinguist commented on #1953
I am happy to review but I won’t be able to do this until the middle of January.

[2019-12-19 15:25] nquesada commented on #1705
It has been a month and half since the peer review ended. Seems like @katyhuff is very busy at the moment. We were wondering if it would be possible to ask another editor to help us finalise the submission process? Maybe @poulson could comment?

[2019-12-19 15:37] danielskatz commented on #1705
Since this seems like it is done, I can take it from here.

[2019-12-19 15:38] danielskatz commented on #1705
At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service
- [ ] Check the Zenodo deposit has the correct metadata, this includes the title (should match the paper title) and author list (make sure the list is correct and people who only made a small fix are not on

[2019-12-19 15:38] danielskatz commented on #1705
I'm also going to proof-read the paper shortly

[2019-12-19 15:40] nquesada commented on #1705
Thanks so much @danielskatz !

[2019-12-19 15:43] danielskatz commented on #1705
The paper looks good to me, with the possible exception of some cases in the references.  For example, should "Speedup in classical simulation of gaussian boson sampling" be "Speedup in classical simulation of Gaussian boson sampling"? And should "Franck-condon factors via compressive sensing" be "Franck-Condon factors via compressive sensing"?  Please check cases in the references, and use {}s to

[2019-12-19 15:44] nquesada commented on #1705
For the Zenodo submission, is there a quick tutorial on how to do that?

[2019-12-19 15:50] danielskatz commented on #1705
See https://guides.github.com/activities/citable-code/

[2019-12-19 15:51] danielskatz commented on #1705
But you can also tar the repo and deposit in in Zenodo, figshare, or an institutional repository manually

[2019-12-19 15:56] sappelhoff commented on #1896
Thanks a lot @arfon @arokem and @TomDonoghue @jdkent  for the reviews.

This was a great process :-)

[2019-12-19 17:36] kirui93 commented on #1912
@whedon generate pdf

[2019-12-19 17:36] whedon commented on #1912
[code]

[2019-12-19 17:36] whedon commented on #1912
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01912/joss.01912/10.21105.joss.01912.pdf)

[2019-12-19 18:03] arfon commented on #1757
@doreenfan - can you merge this PR for me please? https://github.com/AMReX-Astro/MAESTROeX/pull/128

[2019-12-19 18:08] gonsie commented on #1844
Readme looks good. I'm still working in issue #17 to get mq to actually work for me.

I'll be gone until early January, happy holidays everyone!

[2019-12-19 18:25] arfon commented on #1757
@whedon accept

[2019-12-19 18:26] whedon commented on #1757
[code]

[2019-12-19 18:26] whedon commented on #1757
[code]

[2019-12-19 18:38] arfon commented on #1757
OK, the paper is now updated with the AAS DOI information. Thanks again @tukss & @pgrete !

[2019-12-19 18:38] #1757 closed

[2019-12-19 18:38] whedon commented on #1757
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01757/status.svg)](https://doi.org/10.21105/joss.01757)

**We need your help!**

Journal of Open Source Softwa

[2019-12-19 19:33] kthyng commented on #1693
@whedon set v0.4 as version

[2019-12-19 19:33] whedon commented on #1693
OK. v0.4 is the version.

[2019-12-19 19:34] kthyng commented on #1693
/ooo December 18, 2019 to January 7, 2020

[2019-12-19 19:35] kthyng commented on #1693
@whedon set 10.21105/joss.01693 as archive

[2019-12-19 19:35] whedon commented on #1693
OK. <a href="https://doi.org/10.21105/joss.01693" target="_blank">10.21105/joss.01693</a> is the archive.

[2019-12-19 19:35] kthyng commented on #1693
@whedon accept

[2019-12-19 19:35] whedon commented on #1693
[code]

[2019-12-19 19:36] whedon commented on #1693
[code]

[2019-12-19 19:36] whedon commented on #1693
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1187

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1187, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-12-19 19:48] danielskatz commented on #1844
Thanks - have a good break!

[2019-12-19 19:51] kthyng commented on #1693
@whedon accept deposit=true

[2019-12-19 19:51] whedon commented on #1693
[code]

[2019-12-19 19:52] whedon commented on #1693
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1207750511849549828) 👈 🐦🐦🐦

[2019-12-19 19:52] whedon commented on #1693
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1188
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01693](https://doi.org/10.21105/joss.01693)
2. If everything looks g

[2019-12-19 19:58] kthyng commented on #1693
Congrats on your new paper @LRydin!!! Thanks to  reviewers @dawbarton and @Shibabrat — we couldn't have done this without your time and expertise.

[2019-12-19 19:58] #1693 closed

[2019-12-19 19:58] whedon commented on #1693
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01693/status.svg)](https://doi.org/10.21105/joss.01693)

**We need your help!**

Journal of Open Source Softwa

[2019-12-19 19:59] LRydin commented on #1693
Exciting! Thanks @kthyng, @dawbarton and @Shibabrat. I will proceed to do

as expected :)

Thank you all again.
Cheers,
Leonardo Rydin
@fmeirinhos

[2019-12-19 19:59] labarba commented on #1731
Could you merge some minor copy edits, here? https://github.com/springer-math/Mathematics-of-Epidemics-on-Networks/pull/47

[2019-12-19 20:08] labarba commented on #1850
@ramiyaari — I'm the associate EiC on rotation, and will process your paper to publication. We ask authors to edit the metadata (in this case, the title) of the Zenodo deposit so it matches the JOSS paper. Could you make that change?

[2019-12-19 20:22] josh146 commented on #1705
Hi @danielskatz, we've corrected the bibliography per your suggestion, and uploaded to Zenodo (https://zenodo.org/record/3585911#.Xfvb09lyZhE). The DOI is 10.5281/zenodo.3585911. Thanks!

[2019-12-19 20:31] danielskatz commented on #1705
Is the version v0.10.0 ?

[2019-12-19 20:31] danielskatz commented on #1705
@whedon set 10.5281/zenodo.3585911 as archive

[2019-12-19 20:31] whedon commented on #1705
OK. <a href="https://doi.org/10.5281/zenodo.3585911" target="_blank">10.5281/zenodo.3585911</a> is the archive.

[2019-12-19 20:32] danielskatz commented on #1705
@whedon generate pdf

[2019-12-19 20:32] whedon commented on #1705
[code]

[2019-12-19 20:33] whedon commented on #1705
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01705/joss.01705/10.21105.joss.01705.pdf)

[2019-12-19 20:37] labarba commented on #1850
Looking at the paper, it does look rather long for the typical JOSS paper. In fact, the [JOSS documentation](https://joss.readthedocs.io/en/latest/submitting.html) stipulates that papers should be _short_: "The paper should be between 250-1000 words." And also,

Do you think the detailed example should rather be in the documentation, and simply be mentioned here with a link?

[2019-12-19 20:38] nquesada commented on #1705
It is 0.10.1

[2019-12-19 20:39] danielskatz commented on #1705
@whedon set v0.10.1 as version

[2019-12-19 20:39] whedon commented on #1705
OK. v0.10.1 is the version.

[2019-12-19 20:40] danielskatz commented on #1705
@whedon accept

[2019-12-19 20:40] whedon commented on #1705
[code]

[2019-12-19 20:40] whedon commented on #1705
[code]

[2019-12-19 20:40] whedon commented on #1705
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1189

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1189, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-12-19 20:41] mjsottile commented on #1812
@whedon set 10.5281/zenodo.3584264 as archive

[2019-12-19 20:41] whedon commented on #1812
OK. <a href="https://doi.org/10.5281/zenodo.3584264" target="_blank">10.5281/zenodo.3584264</a> is the archive.

[2019-12-19 20:42] danielskatz commented on #1705
@whedon accept deposit=true

[2019-12-19 20:42] whedon commented on #1705
[code]

[2019-12-19 20:42] danielskatz commented on #1705
Thanks for @amitkumarj441 & @poulson for editing and @katyhuff for editing!

[2019-12-19 20:42] whedon commented on #1705
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1207763258263973889) 👈 🐦🐦🐦

[2019-12-19 20:42] mjsottile commented on #1812
:wave: @openjournals/joss-eics This paper has completed the review process and I believe it's ready for final processing.

[2019-12-19 20:42] whedon commented on #1705
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1190
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01705](https://doi.org/10.21105/joss.01705)
2. If everything looks g

[2019-12-19 20:44] danielskatz commented on #1705
Congratulations to @nquesada and co-authors!

[2019-12-19 20:44] #1705 closed

[2019-12-19 20:44] whedon commented on #1705
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01705/status.svg)](https://doi.org/10.21105/joss.01705)

**We need your help!**

Journal of Open Source Softwa

[2019-12-19 20:55] VivianePons commented on #1814
I still have only one reviewer: most people I asked never answered and the one who did said no. I am going to start the review with the reviewer we have. If we find another one, that's better but we will have to work with only one!

[2019-12-19 20:55] VivianePons commented on #1814
@whedon start review

[2019-12-19 20:55] whedon opened #1970 "[REVIEW]: MOAFS: A Massive Online Analysis library for featureselection in data streams"
**Submitting author:** @mbdemoraes (<a href="http://orcid.org/0000-0002-9485-0334">Matheus Bernardelli de Moraes</a>)
**Repository:** <a href="https://github.com/mbdemoraes/moafs" target ="_blank">https://github.com/mbdemoraes/moafs</a>
**Version:** v1.1.0
**Editor:** @VivianePons
**Reviewers:** @sptennak, @DARSakthi
**Archive:** <a href="https://doi.org/10.6084/m9.figshare.11663307.v2" target="_b

[2019-12-19 20:55] whedon commented on #1814
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1970. Feel free to close this issue now!

[2019-12-19 20:55] whedon commented on #1970
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @sptennak it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently wa

[2019-12-19 20:55] whedon commented on #1970
[code]

[2019-12-19 20:55] whedon commented on #1970
[code]

[2019-12-19 20:56] #1814 closed

[2019-12-19 20:56] whedon commented on #1970
[code]

[2019-12-19 20:56] whedon commented on #1970
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01970/joss.01970/10.21105.joss.01970.pdf)

[2019-12-19 20:59] gradvohl commented on #1814
Thank you very much, @VivianePons .

[2019-12-19 21:01] VivianePons commented on #1835
I have updated the github issue. @openjournals/dev can you make the requied change wherever it is needed? Thanks!

[2019-12-19 22:06] nquesada commented on #1705
Thanks @poulson @amitkumarj441 @katyhuff @danielskatz  for your refereeing/editorial work!

[2019-12-19 22:12] mzszym commented on #1944
@magnusrahm Well done. I am confident that the package fulfills all requirements.

[2019-12-20 01:38] arfon commented on #1970
@VivianePons - I just posted [a tweet](https://twitter.com/JOSS_TheOJ/status/1207837236454215682) on the JOSS account to see if we can find a second reviewer for this. I think we should have a second reviewer if at all possible.

[2019-12-20 01:47] arfon commented on #1835
Done.

[2019-12-20 01:47] arfon commented on #1812
@whedon accept

[2019-12-20 01:47] whedon commented on #1812
[code]

[2019-12-20 01:48] whedon commented on #1812
[code]

[2019-12-20 01:48] whedon commented on #1812
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1191

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1191, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-12-20 01:50] arfon commented on #1812
@whedon accept deposit=true

[2019-12-20 01:50] whedon commented on #1812
[code]

[2019-12-20 01:51] whedon commented on #1812
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1207840869707059200) 👈 🐦🐦🐦

[2019-12-20 01:51] whedon commented on #1812
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1192
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01812](https://doi.org/10.21105/joss.01812)
2. If everything looks g

[2019-12-20 01:54] arfon commented on #1890
@whedon accept

[2019-12-20 01:54] whedon commented on #1890
[code]

[2019-12-20 01:54] whedon commented on #1890
[code]

[2019-12-20 01:54] whedon commented on #1890
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1193

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1193, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-12-20 01:55] arfon commented on #1812
@xoolive, @rljacobson, @mjsottile - many thanks for your reviews here, and to @mjsottile for editing this submission ✨

@mseri - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-12-20 01:55] #1812 closed

[2019-12-20 01:55] whedon commented on #1812
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01812/status.svg)](https://doi.org/10.21105/joss.01812)

**We need your help!**

Journal of Open Source Softwa

[2019-12-20 02:08] arfon commented on #1890
@TomasBeuzen - I spotted a typo in your paper here: https://github.com/TomasBeuzen/pybeach/pull/8 . Also, I think you mention scikit-learn in the paper - perhaps a [citation](https://scikit-learn.org/stable/about.html#citing-scikit-learn) would be appropriate?

[2019-12-20 02:23] JesperDramsch commented on #1969
👋🏼 @kbarnhart During the pre-review @rgmyr was asked to reduce the repo size (from 2+GB), which was accomplished by creating a new orphan. This, however, removed Zane's contributions completely from the history and Thomas' contribution to the update of the `paper.md`. [See comment in #1946](https://github.com/openjournals/joss-reviews/issues/1946#issuecomment-565326410).

From @arfon's [fork (pre-

[2019-12-20 05:04] TomasBeuzen commented on #1890
@arfon - thanks for the typo fix and yes definitely agree a scikit-learn citation is necessary, sorry I missed that!

Paper has now been updated.

[2019-12-20 06:06] joelmiller commented on #1731
merged

[2019-12-20 06:14] mseri commented on #1812
Thank you very much!!! 🎉🎉🎉

[2019-12-20 09:13] nicksexton commented on #1900
Hi @oliviaguest @johannes-titz  I'm happy to say I'm satisfied this meets JOSS guidelines. @johannes-titz Nice work on this, I have to say that while the instructions on how to use the package are good, it's not that easy to understand the cognitive detail of the model. I would be happier to see a more complete description of the cognitive model - ie. more formal than the instructions on how to us

[2019-12-20 09:47] HeloiseS commented on #1940
Hello all!

I think I'm pretty happy with the paper and the code as it stands now. Unless major changes come from @Gabriel-p 's review that would require me to review the paper or code again, it's all good for me!

If there is anything else I need to do, or I forgot something, let me know @xuanxu :smiley:

Merry Christmas to y'all :christmas_tree:

[2019-12-20 11:19] arfon commented on #1890
@whedon accept

[2019-12-20 11:19] whedon commented on #1890
[code]

[2019-12-20 11:19] whedon commented on #1890
[code]

[2019-12-20 11:20] whedon commented on #1890
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1194

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1194, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-12-20 11:22] arfon commented on #1890
@whedon accept deposit=true

[2019-12-20 11:22] whedon commented on #1890
[code]

[2019-12-20 11:23] whedon commented on #1890
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1207984808753803265) 👈 🐦🐦🐦

[2019-12-20 11:23] whedon commented on #1890
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1195
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01890](https://doi.org/10.21105/joss.01890)
2. If everything looks g

[2019-12-20 11:24] drvinceknight commented on #1931
I will be checking GitHub in a limited capacity over the next couple of weeks.

[2019-12-20 11:24] drvinceknight commented on #1944
I will be checking GitHub in a limited capacity over the next couple of weeks.

[2019-12-20 11:28] arfon commented on #1890
@csherwood-usgs, @edlazarus, @ncohn  - many thanks for your reviews here and to @kbarnhart for editing this submission ✨

@TomasBeuzen - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-12-20 11:28] #1890 closed

[2019-12-20 11:28] whedon commented on #1890
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01890/status.svg)](https://doi.org/10.21105/joss.01890)

**We need your help!**

Journal of Open Source Softwa

[2019-12-20 11:31] trallard commented on #1917
This review is currently blocked by actions that need to be taken on the author side, @AustinNar, can you update us on this please?

[2019-12-20 11:36] whedon opened #1971 "[PRE REVIEW]: DNAtools: Tools for Analysing Forensic Genetic DNA Data"
**Submitting author:** @mikldk (<a href="http://orcid.org/0000-0002-0234-0266">Mikkel Meyer Andersen</a>)
**Repository:** <a href="https://github.com/mikldk/DNAtools" target ="_blank">https://github.com/mikldk/DNAtools</a>
**Version:** 0.2-1
**Editor:** @csoneson
**Reviewers:** @standage, @tomsing1

**Author instructions**

Thanks for submitting your paper to JOSS @mikldk. **Currently, there isn't

[2019-12-20 11:36] whedon commented on #1971
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-20 11:36] whedon commented on #1971
[code]

[2019-12-20 11:36] whedon commented on #1971
[code]

[2019-12-20 11:36] whedon opened #1972 "[PRE REVIEW]: NEEP: null empirically estimated p-values for high-throughput molecular survival analysis"
**Submitting author:** @scwest (<a href="http://orcid.org/0000-0002-1394-1999">Sean West</a>)
**Repository:** <a href="https://github.com/thecodingdoc/neep/" target ="_blank">https://github.com/thecodingdoc/neep/</a>
**Version:** v1
**Editor:** @majensen
**Reviewers:** @wrathematics, @SiminaB, @rhagenson

**Author instructions**

Thanks for submitting your paper to JOSS @scwest. **Currently, there

[2019-12-20 11:36] whedon commented on #1972
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-20 11:36] whedon commented on #1972
[code]

[2019-12-20 11:36] whedon commented on #1972
[code]

[2019-12-20 11:36] whedon commented on #1971
[code]

[2019-12-20 11:36] whedon commented on #1971
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01971/joss.01971/10.21105.joss.01971.pdf)

[2019-12-20 11:37] whedon commented on #1972
[code]

[2019-12-20 11:37] whedon commented on #1972
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01972/joss.01972/10.21105.joss.01972.pdf)

[2019-12-20 11:37] arfon commented on #1972
:wave: @will-rowe - the submitting author suggested you as the handling editor.

[2019-12-20 11:37] whedon opened #1973 "[PRE REVIEW]: ReferenceSeeker: rapid determination of appropriate reference genomes"
**Submitting author:** @oschwengers (<a href="http://orcid.org/0000-0003-4216-2721">Oliver Schwengers</a>)
**Repository:** <a href="https://github.com/oschwengers/referenceseeker" target ="_blank">https://github.com/oschwengers/referenceseeker</a>
**Version:** v1.4
**Editor:** @will-rowe
**Reviewers:** @standage, @luizirber

**Author instructions**

Thanks for submitting your paper to JOSS @oschwe

[2019-12-20 11:37] whedon commented on #1973
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-20 11:37] whedon commented on #1973
[code]

[2019-12-20 11:37] whedon commented on #1973
[code]

[2019-12-20 11:38] whedon opened #1974 "[PRE REVIEW]: relped: Build Relatedness Pedigrees"
**Submitting author:** @RHagenson (<a href="http://orcid.org/0000-0001-9750-1925">Ryan Hagenson</a>)
**Repository:** <a href="https://github.com/rhagenson/relped" target ="_blank">https://github.com/rhagenson/relped</a>
**Version:** v1.0.0
**Editor:** @marcosvital
**Reviewers:** @djmitche, @rabdill

**Author instructions**

Thanks for submitting your paper to JOSS @RHagenson. **Currently, there is

[2019-12-20 11:38] whedon commented on #1974
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-20 11:38] whedon commented on #1974
[code]

[2019-12-20 11:38] whedon commented on #1974
[code]

[2019-12-20 11:38] whedon commented on #1973
[code]

[2019-12-20 11:38] whedon commented on #1973
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01973/joss.01973/10.21105.joss.01973.pdf)

[2019-12-20 11:38] whedon commented on #1974
[code]

[2019-12-20 11:38] whedon commented on #1974
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01974/joss.01974/10.21105.joss.01974.pdf)

[2019-12-20 11:38] arfon commented on #1974
:wave: @marcosvital - the submitting author suggested you as the handling editor. Do you think you can handle this one?

[2019-12-20 11:38] whedon opened #1975 "[PRE REVIEW]: partition: A fast and flexible framework for data reduction in R"
**Submitting author:** @malcolmbarrett (<a href="http://orcid.org/0000-0003-0299-5825">Malcolm Barrett</a>)
**Repository:** <a href="https://github.com/USCbiostats/partition" target ="_blank">https://github.com/USCbiostats/partition</a>
**Version:** 0.1.1
**Editor:** @csoneson
**Reviewers:** @lmweber, @clauswilke

**Author instructions**

Thanks for submitting your paper to JOSS @malcolmbarrett. *

[2019-12-20 11:38] whedon commented on #1975
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-20 11:38] whedon commented on #1975
[code]

[2019-12-20 11:38] whedon commented on #1975
[code]

[2019-12-20 11:38] whedon opened #1976 "[PRE REVIEW]: Recan: Python tool for detection of recombination events in viral genomes"
**Submitting author:** @babinyurii (<a href="http://orcid.org/0000-0002-7524-5921">Yuriy Babin</a>)
**Repository:** <a href="https://github.com/babinyurii/recan" target ="_blank">https://github.com/babinyurii/recan</a>
**Version:** v0.1
**Editor:** @will-rowe
**Reviewers:** @lamhm, @betteridiot

**Author instructions**

Thanks for submitting your paper to JOSS @babinyurii. **Currently, there isn't

[2019-12-20 11:38] whedon commented on #1976
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-20 11:39] whedon commented on #1976
[code]

[2019-12-20 11:39] whedon commented on #1976
[code]

[2019-12-20 11:39] whedon commented on #1975
[code]

[2019-12-20 11:39] whedon commented on #1975
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01975/joss.01975/10.21105.joss.01975.pdf)

[2019-12-20 11:39] whedon commented on #1976
[code]

[2019-12-20 11:39] trallard commented on #1949
Ok let's ping the reviewers now :sparkles:

@eteq Erik, would you be able and willing to review this submission?
@usethedata Bruce, would you be able and willing to review this submission?
@jsta Joseph, would you be able and willing to review this submission?

Some important information:
- Our reviewer guidelines can be found here <https://joss.readthedocs.io/en/latest/review_criteria.html>
- **Ti

[2019-12-20 11:39] whedon commented on #1976
PDF failed to compile for issue #1976 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-cd7dadefdab3/lib/whedon.rb:145:in `check_fields': Paper YAML header is missing expected fields: affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-cd7dadefdab3/lib/whedon.rb:87:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-cd

[2019-12-20 11:49] whedon opened #1977 "[PRE REVIEW]: Hoki: Making BPASS accessible through Python"
**Submitting author:** @heloises (<a href="http://orcid.org/0000-0002-0504-4323">H. F. Stevance</a>)
**Repository:** <a href="https://github.com/HeloiseS/hoki" target ="_blank">https://github.com/HeloiseS/hoki</a>
**Version:** v1.3.2b0
**Editor:** @arfon
**Reviewers:** @ygrange, @KshitijAggarwal

**Author instructions**

Thanks for submitting your paper to JOSS @heloises. **Currently, there isn't

[2019-12-20 11:49] whedon commented on #1977
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-20 11:49] whedon commented on #1977
[code]

[2019-12-20 11:49] whedon commented on #1977
[code]

[2019-12-20 11:49] whedon commented on #1977
PDF failed to compile for issue #1977 with the following error:

 Can't find any papers to compile :-(

[2019-12-20 11:50] arfon commented on #1977
@whedon assign @arfon as editor

[2019-12-20 11:50] whedon commented on #1977
[code]

[2019-12-20 11:50] whedon commented on #1977
OK, the editor is @arfon

[2019-12-20 11:50] arfon commented on #1977
@whedon generate pdf

[2019-12-20 11:51] whedon commented on #1977
[code]

[2019-12-20 11:52] whedon commented on #1977
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01977/joss.01977/10.21105.joss.01977.pdf)

[2019-12-20 12:14] mikldk commented on #1971
@whedon generate pdf

[2019-12-20 12:14] whedon commented on #1971
[code]

[2019-12-20 12:14] whedon commented on #1971
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01971/joss.01971/10.21105.joss.01971.pdf)

[2019-12-20 12:16] arfon commented on #1977
:wave: @HeloiseS, thanks for your submission to JOSS! Does this accompany a paper in a AAS journal?

Could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission? Please don't @-mention them here (i.e. refer to them as `arfon` rather than @arfon).

Also, feel free to suggest reviewers that

[2019-12-20 12:17] mikldk commented on #1971
Editor suggestion: @mgymrek
Reviewer suggestions: @standage @tomsing1

[2019-12-20 12:32] xuanxu commented on #1940
Great! thanks @HeloiseS!

@Gabriel-p: any update on your review?

[2019-12-20 13:01] standage commented on #1971
I'd be happy to be a reviewer on this.

[2019-12-20 13:06] Gabriel-p commented on #1940
Other than a very minor issue with the docs (just opened an issue at the code's repo), it looks good to me!

[2019-12-20 14:25] labarba commented on #1731
@whedon accept

[2019-12-20 14:25] whedon commented on #1731
[code]

[2019-12-20 14:25] whedon commented on #1731
[code]

[2019-12-20 14:26] whedon commented on #1731
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1196

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1196, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-12-20 14:27] kbarnhart commented on #1969
@JesperDramsch I re-visited the [JOSS documentation section on authorship](https://joss.readthedocs.io/en/latest/submitting.html#authorship) which states:

I think you are correct to determine that authorship criteria by all three authors are fulfilled.

[2019-12-20 14:30] babinyurii commented on #1976
@whedon generate pdf

[2019-12-20 14:30] whedon commented on #1976
[code]

[2019-12-20 14:31] whedon commented on #1976
PDF failed to compile for issue #1976 with the following error:

 pandoc-citeproc: reference Martin2015a not found
pandoc-citeproc: reference Smith2014a not found
pandoc-citeproc: reference Jiang1999a not found
pandoc: /pictures/hiv_rec_kal153.png: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2019-12-20 14:31] kbarnhart commented on #1950
@whedon start review

[2019-12-20 14:31] whedon opened #1978 "[REVIEW]: Museo ToolBox : a python library for remote sensing including a new way to handle rasters."
**Submitting author:** @nkarasiak (<a href="http://orcid.org/0000-0002-1558-0816">Nicolas Karasiak</a>)
**Repository:** <a href="https://github.com/nkarasiak/MuseoToolBox" target ="_blank">https://github.com/nkarasiak/MuseoToolBox</a>
**Version:** v0.13.0
**Editor:** @kbarnhart
**Reviewer:** @cmillion, @mollenburger
**Archive:** <a href="https://doi.org/10.5281/zenodo.3759215" target="_blank">10.5

[2019-12-20 14:31] whedon commented on #1950
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1978. Feel free to close this issue now!

[2019-12-20 14:31] whedon commented on #1978
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @cmillion, @mollenburger it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probab

[2019-12-20 14:31] whedon commented on #1978
[code]

[2019-12-20 14:31] whedon commented on #1978
[code]

[2019-12-20 14:31] whedon commented on #1978
[code]

[2019-12-20 14:31] whedon commented on #1978
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01978/joss.01978/10.21105.joss.01978.pdf)

[2019-12-20 14:32] DorianDepriester commented on #1963
@whedon commands

[2019-12-20 14:32] whedon commented on #1963
Here are some things you can ask me to do:

[code]

[2019-12-20 14:32] kbarnhart commented on #1950
I'm going to transition this submission from pre-review to review with two reviewers.

Thanks all for your enthusiasm for finding and recommending reviewers. I've started the formal review over at #1978.

For those of you who are not yet listed on our [list of potential reviewers](https://bit.ly/joss-reviewers) for future submissions, please consider filling out the 1-minute form at [this link](ht

[2019-12-20 14:32] #1950 closed

[2019-12-20 14:35] kbarnhart commented on #1978
:wave: @nkarasiak, @cmillion, @mollenburger this is the review thread for the paper. All of our communications will happen here from now on.

All reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different f

[2019-12-20 14:35] babinyurii commented on #1976
@whedon generate pdf

[2019-12-20 14:35] whedon commented on #1976
[code]

[2019-12-20 14:35] whedon commented on #1976
PDF failed to compile for issue #1976 with the following error:

 pandoc: /pictures/hiv_rec_kal153.png: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2019-12-20 14:36] labarba commented on #1731
@whedon accept deposit=true

[2019-12-20 14:36] whedon commented on #1731
[code]

[2019-12-20 14:37] whedon commented on #1731
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1208033701399011328) 👈 🐦🐦🐦

[2019-12-20 14:37] whedon commented on #1731
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1197
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01731](https://doi.org/10.21105/joss.01731)
2. If everything looks g

[2019-12-20 14:41] babinyurii commented on #1976
@whedon generate pdf

[2019-12-20 14:41] whedon commented on #1976
[code]

[2019-12-20 14:41] whedon commented on #1976
PDF failed to compile for issue #1976 with the following error:

 pandoc: /pictures/hiv_rec_kal153.png: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2019-12-20 14:43] babinyurii commented on #1976
@whedon generate pdf

[2019-12-20 14:43] whedon commented on #1976
[code]

[2019-12-20 14:44] whedon commented on #1976
PDF failed to compile for issue #1976 with the following error:

 pandoc: /paper_plots/hiv_rec_kal153.png: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2019-12-20 14:48] babinyurii commented on #1976
@whedon generate pdf

[2019-12-20 14:48] whedon commented on #1976
[code]

[2019-12-20 14:49] whedon commented on #1976
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01976/joss.01976/10.21105.joss.01976.pdf)

[2019-12-20 14:55] labarba commented on #1970
Hi all — I'm the EiC on rotation this week.
@sptennak — please go ahead with your review and post any questions here.
@VivianePons — we moved to a model of requiring two reviews a while back. Let us know if you need help adding a second reviewer here (it requires manually adding their checklist, after running `@wheddon add @user as reviewer`.

[2019-12-20 14:56] babinyurii commented on #1976
@whedon generate pdf

[2019-12-20 14:56] whedon commented on #1976
[code]

[2019-12-20 14:56] whedon commented on #1976
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01976/joss.01976/10.21105.joss.01976.pdf)

[2019-12-20 14:57] babinyurii commented on #1976
@whedon  commands

[2019-12-20 14:58] labarba commented on #1731
Congratulations, @joelmiller, your JOSS paper is published! 🚀

Huge thanks to our editor: @lpantano, and the reviewers: @acolum, @pholme, @hagberg — we couldn't do this without you and we are grateful 🙏

[2019-12-20 14:58] #1731 closed

[2019-12-20 14:58] whedon commented on #1731
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01731/status.svg)](https://doi.org/10.21105/joss.01731)

**We need your help!**

Journal of Open Source Softwa

[2019-12-20 15:08] babinyurii commented on #1976
@whedon commands

[2019-12-20 15:08] whedon commented on #1976
Here are some things you can ask me to do:

[code]

[2019-12-20 15:14] labarba commented on #1962
Our bot's suggestions on DOIs are best-effort. Do what you think is best!

[2019-12-20 15:14] rhagenson commented on #1974
I noticed I placed parentheses around citations which then resulted in double parentheses on the proof. I will submit a fix for that in just a minute and regenerate the pdf.

[2019-12-20 15:14] labarba commented on #1962
... one more thing: is there any chance you could deposit your chapter on a pre-print server?

[2019-12-20 15:18] rhagenson commented on #1974
@arfon Quick question related to the formatting flubs I am currently fixing. Is there a way to run whedon locally to check formatting before submission? I did not see a way to do this, but that certainly does not mean they do not exist somewhere.

[2019-12-20 15:21] arfon commented on #1974
@rhagenson - you can debug your paper with Whedon here: http://whedon.theoj.org

[2019-12-20 15:30] labarba commented on #1962
👋  @majensen — could you handle this submission as editor? I cannot identify any editor in the general domain of this software, but it is aimed at processing large-scale binary data sets, which I think is in scope for you?

[2019-12-20 15:31] rhagenson commented on #1974
@whedon generate pdf

[2019-12-20 15:31] whedon commented on #1974
[code]

[2019-12-20 15:32] whedon commented on #1974
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01974/joss.01974/10.21105.joss.01974.pdf)

[2019-12-20 15:33] rhagenson commented on #1974
To bring my coauthor in on the review process: @ThatLionLady

[2019-12-20 15:35] labarba commented on #1962
@uellue : in the paper, you have several points where you say that something is in the docs, and embed a long URL to the position in the docs. This looks rather ugly, and it's unnecessary. Can you clean that up a bit? You can have just one link to the docs, and so shorten that section of the text quite a bit by just describing briefly: "here are our docs, and they contain this, that, and more."

[2019-12-20 15:43] labarba commented on #1963
👋 @meg-simula — Could you handle this submission as editor?
The author suggested @Kevin-Mattheus-Moerman, but he is handling 5 papers right now.
Check out the [article proof.](https://github.com/openjournals/joss-papers/blob/joss.01963/joss.01963/10.21105.joss.01963.pdf)

[2019-12-20 15:52] labarba commented on #1965
@kthyng — We're hoping you can handle this submission. I will follow up with an email now.

[2019-12-20 15:54] labarba commented on #1965
@ali-ramadhan — As you can expect, a lot of our editors and reviewers are on holiday these days. I hereby request your patience, as the closest editor to the domain of your submission is unavailable until January 7th.

[2019-12-20 16:01] ali-ramadhan commented on #1965
Hi @labarba thank you for checking in!

Of course that's totally expected. Just wanted to submit this before the holidays. Resuming in January sounds good!

[2019-12-20 16:04] labarba commented on #1966
👋 @dfm — I believe this submission is one you could handle as editor? Have look please. We understand of course that these days will be slow and you might be on holiday. Let us know, and we can assign you for handling this after the New Year.

[2019-12-20 16:06] uellue commented on #1962
That's a good point! I'll contact the publisher if they would be fine with that.

[2019-12-20 16:12] uellue commented on #1962
Will do, thx for the feedback! :-)

[2019-12-20 16:17] kbarnhart commented on #1930
@ryanpmcg I wanted to touch base. I'm having a hard time finding additional reviewers who are able to review this. I suspect that this is in part because AGU was last week, most universities are ending their semester this week or last week, and the end of the year holidays are approaching. I've found one person who is appropriate and willing to review, and at minimum I'll need one more (ideally I

[2019-12-20 16:18] labarba commented on #1971
Please note that `@mgymrek` has stepped down from the editorial board. I'm the associated EiC on rotation this week, and am looking for another handling editor.

[2019-12-20 16:21] labarba commented on #1971
👋 @csoneson — Could you handle this submission as editor?
Have look please. We understand of course that these days will be slow and you might be on holiday. Let us know, and we can assign you for handling this after the New Year.

[2019-12-20 16:24] labarba commented on #1972
@will-rowe Hi! Have look at this one submission for editing. We understand of course that these days will be slow and you might be on holiday. Let us know, and we can assign you for handling this after the New Year.

[2019-12-20 16:25] labarba commented on #1973
Please note that `@mgymrek` has stepped down from the editorial board. I'm the associated EiC on rotation this week, and am looking for another handling editor.

[2019-12-20 16:38] kthyng commented on #1965
@whedon assign @kthyng as editor

[2019-12-20 16:38] whedon commented on #1965
OK, the editor is @kthyng

[2019-12-20 16:40] dfm commented on #1966
@labarba: sounds good. I'm happy to edit this in the new year!

[2019-12-20 16:40] kthyng commented on #1965
I'm happy to be editor, though I would appreciate waiting on this until January as already mentioned. It'll be hard to get reviewers now too. I'll set a reminder

[2019-12-20 16:41] kthyng commented on #1965
@whedon remind @kthyng in 18 days

[2019-12-20 16:41] whedon commented on #1965
Sorry, I can't set reminders on PRE-REVIEW issues.

[2019-12-20 16:42] kthyng commented on #1965
Oh yeah, I think this is an active issue. Ok well I will just be back in a few weeks. Happy holidays!!

[2019-12-20 16:50] tleonardi commented on #1951
Hi @majensen would love too this paper, but I already have too many commitments before the end of the year. If needed I'd be happy to review it in early January.

[2019-12-20 17:05] Deech08 commented on #1940
Thanks @HeloiseS and @Gabriel-p for all the help and feedback, and @xuanxu for coordinating the review process! I've made a few final changes to fix to the minor documentation issues and all issues on the code repo are closed. I do want to change the package version to v1.0.0 when all review is complete to go along with the paper release so I'm wondering when the best time to do that is?

[2019-12-20 17:06] uellue commented on #1962
@whedon generate pdf

[2019-12-20 17:06] whedon commented on #1962
[code]

[2019-12-20 17:06] whedon commented on #1962
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01962/joss.01962/10.21105.joss.01962.pdf)

[2019-12-20 17:09] uellue commented on #1962
@whedon commands

[2019-12-20 17:09] whedon commented on #1962
Here are some things you can ask me to do:

[code]

[2019-12-20 18:48] labarba commented on #1966
@whedon assign @dfm as editor

[2019-12-20 18:48] whedon commented on #1966
OK, the editor is @dfm

[2019-12-20 19:04] labarba commented on #1973
👋 @lpantano — Could you handle this submission as editor?
Have look please. We understand of course that these days will be slow and you might be on holiday. Let us know, and we can assign you for handling this after the New Year.

[2019-12-20 19:06] labarba commented on #1974
@marcosvital — We're hoping you can take this through the JOSS process. Have look please. We understand of course that these days will be slow and you might be on holiday. Let us know, and we can assign you for handling this after the New Year.

[2019-12-20 19:21] labarba commented on #1975
👋 @csoneson — Could you handle this submission as editor?
Have look please. We understand of course that these days will be slow and you might be on holiday. Let us know, and we can assign you for handling this after the New Year.

[2019-12-20 19:26] labarba commented on #1976
@will-rowe — Could you handle this submission as editor?
Have look please. We understand of course that these days will be slow and you might be on holiday. I also realize that I have asked you to take another submission... we have received half a dozen submissions in various flavors of bioinformatics, and our all editors in this topic have been asked!

[2019-12-20 19:45] will-rowe commented on #1976
Hey @labarba - this sounds nice. I will gladly edit but am about to go on AL over Christmas. I will find reviewers in the new year.

[2019-12-20 19:45] will-rowe commented on #1976
@whedon assign @will-rowe as editor

[2019-12-20 19:46] whedon commented on #1976
OK, the editor is @will-rowe

[2019-12-20 19:47] will-rowe commented on #1972
Hi both. This is not my area but I am happy to take it on in the new year.

[2019-12-20 19:49] will-rowe commented on #1973
@labarba - I was just looking at this tool the other day. I'd be happy to take this on as editor in the new year if @lpantano is busy

[2019-12-20 20:52] titipata commented on #1951
@majensen @tleonardi I am happy to wait until early January! I am in no rush during the holiday period.

[2019-12-20 22:10] whedon commented on #720
:wave: @offray, please update us on how things are progressing here.

[2019-12-21 00:28] lpantano commented on #1973
it seems super interesting but I am ok if @will-rowe can take it bc i’ll be away for two weeks! i will follow the thread!

[2019-12-21 00:53] Shibabrat commented on #1684
@dpsanders @JoshKarpel Can you take a look at the following PRs?

We've updated the documentation and started a PR: https://github.com/WyLyu/UPOsHam/pull/50. This also includes a plain text explanation of how the methods and the systems fit together.

The test branch and it's PR: https://github.com/WyLyu/UPOsHam/pull/49. This includes the unit test for all the methods.

Both these should address m

[2019-12-21 01:38] sreschechtko commented on #1849
Hi All, I have closed all of the issues I opened on the main repository and am happy to recommend the package/article for publication in JOSS.

[2019-12-21 02:13] majensen commented on #1951
@tleonardi thanks very much -- @titipata is ok with that and so am I. Very much appreciated!

[2019-12-21 02:14] majensen commented on #1951
@whedon add @tleonardi as reviewer

[2019-12-21 02:14] whedon commented on #1951
OK, @tleonardi is now a reviewer

[2019-12-21 02:15] majensen commented on #1951
@whedon start review

[2019-12-21 02:15] whedon opened #1979 "[REVIEW]: Pubmed Parser: A Python Parser for PubMed Open-Access XML Subset and MEDLINE XML Dataset XML Dataset"
**Submitting author:** @titipata (<a href="http://orcid.org/0000-0002-2124-2979">Titipat Achakulvisut</a>)
**Repository:** <a href="https://github.com/titipata/pubmed_parser" target ="_blank">https://github.com/titipata/pubmed_parser</a>
**Version:** v0.2.3
**Editor:** @majensen
**Reviewer:** @timClicks, @tleonardi
**Archive:** <a href="https://doi.org/10.5281/zenodo.3660006" target="_blank">10.52

[2019-12-21 02:15] whedon commented on #1951
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1979. Feel free to close this issue now!

[2019-12-21 02:15] whedon commented on #1979
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @timClicks, @tleonardi it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-12-21 02:15] whedon commented on #1979
[code]

[2019-12-21 02:15] whedon commented on #1979
[code]

[2019-12-21 02:15] whedon commented on #1979
[code]

[2019-12-21 02:15] whedon commented on #1979
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01979/joss.01979/10.21105.joss.01979.pdf)

[2019-12-21 02:16] majensen commented on #1951
@titipata @timClicks @tleonardi we'll begin reviewing over at #1979. Thanks again all and Happy Holidays!

[2019-12-21 02:16] #1951 closed

[2019-12-21 05:59] majensen commented on #1962
@whedon assign @majensen as reviewer

[2019-12-21 06:02] majensen commented on #1962
@whedon assign @majensen as editor

[2019-12-21 06:02] whedon commented on #1962
OK, the editor is @majensen

[2019-12-21 07:59] csoneson commented on #1975
@whedon assign @csoneson as editor

[2019-12-21 07:59] whedon commented on #1975
OK, the editor is @csoneson

[2019-12-21 08:02] csoneson commented on #1975
:wave: @malcolmbarrett - I will handle your submission. Things may be a bit slow over the holidays, but if you have suggestions for reviewers, let me know (please just mention their GitHub username, without the '@', to avoid tagging unnecessarily many people in the issue).

[2019-12-21 08:03] csoneson commented on #1971
@whedon assign @csoneson as editor

[2019-12-21 08:03] whedon commented on #1971
OK, the editor is @csoneson

[2019-12-21 08:05] csoneson commented on #1971
:wave: @mikldk - I will handle your submission. Thanks for the reviewer suggestions.

@standage - thanks for your willingness to review! Once we have one more reviewer I'll start the review issue.

[2019-12-21 08:06] csoneson commented on #1971
@tomsing1 - would you be interested in reviewing this submission for JOSS?

[2019-12-21 08:15] csoneson commented on #1916
:wave: @Sulstice - I suspect we may have more luck finding available reviewers after the holidays and the often hectic end of semester time. If you would be ok with a slight delay, and @olivertomic is still available from mid-February, that is one option. Otherwise I suggest we continue looking for reviewers in early January, after the holidays.

@floux - thanks for your patience! I'll start the a

[2019-12-21 09:09] tomsing1 commented on #1971
I'd be happy to be a reviewer as well.

[2019-12-21 09:14] meg-simula commented on #1963
I would be happy to, but I am out of office until Mon Jan 6 2020. If it can
wait until then, feel free to assign me.

On Fri, Dec 20, 2019, 16:43 Lorena A. Barba <notifications@github.com>
wrote:

[2019-12-21 11:24] whedon opened #1980 "[PRE REVIEW]: NCBImeta: efficient and comprehensive metadata retrieval from NCBI databases"
**Submitting author:** @ktmeaton (<a href="http://orcid.org/0000-0001-6862-7756">Katherine Eaton</a>)
**Repository:** <a href="https://github.com/ktmeaton/NCBImeta" target ="_blank">https://github.com/ktmeaton/NCBImeta</a>
**Version:** v0.6.1
**Editor:** @lpantano
**Reviewers:** @coughls, @druvus

**Author instructions**

Thanks for submitting your paper to JOSS @ktmeaton. **Currently, there isn't

[2019-12-21 11:24] whedon commented on #1980
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-21 11:24] whedon commented on #1980
[code]

[2019-12-21 11:24] whedon commented on #1980
[code]

[2019-12-21 11:24] whedon commented on #1980
[code]

[2019-12-21 11:25] whedon commented on #1980
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01980/joss.01980/10.21105.joss.01980.pdf)

[2019-12-21 12:07] SwathiSheshadri commented on #1849
Thank you for closing all the issues @danasolav and @sreschechtko. Your feedback was immensely valuable towards making pose3d better for public use and we are very grateful to both of you for your time and effort! @cMadan, we are very thankful to you and the JOSS team for taking time to edit our submission. We request you to use the latest release of pose3d - version v2.2.0, for further processing

[2019-12-21 14:18] labarba commented on #1963
Thanks, @meg-simula ! Yes, all editor assignments this week are carrying this caveat 😁

[2019-12-21 14:18] labarba commented on #1963
@whedon assign @meg-simula as editor

[2019-12-21 14:18] whedon commented on #1963
OK, the editor is @meg-simula

[2019-12-21 14:41] majensen commented on #1962
Hello @dghoshal-lbl - would you be willing to review [this submission](https://github.com/openjournals/joss-papers/blob/joss.01962/joss.01962/10.21105.joss.01962.pdf) to [JOSS](https://joss.theoj.org)? Thanks for your consideration! --@majensen

[2019-12-21 14:43] majensen commented on #1962
Hey @cr458 - would you be able to review [this submission](https://github.com/openjournals/joss-papers/blob/joss.01962/joss.01962/10.21105.joss.01962.pdf) to [JOSS](https://joss.theoj.org)? Thanks for considering! --@majensen

[2019-12-21 14:57] labarba commented on #1973
Thanks for the offer, @will-rowe — I'll assign this to you, and look for someone else for https://github.com/openjournals/joss-reviews/issues/1972

[2019-12-21 14:57] labarba commented on #1973
@whedon assign @will-rowe as editor

[2019-12-21 14:57] whedon commented on #1973
OK, the editor is @will-rowe

[2019-12-21 15:28] labarba commented on #1972
👋 @majensen — I realize you're handling four submissions now, which is more than the majority of editors have assigned, but I believe this particular submission would be a good fit for you. Can you have a look and tell me if you can take it?
We understand of course that these days will be slow and you might be on holiday. Let us know, and we can assign you for handling this after the New Year.

[2019-12-21 15:54] labarba commented on #1980
👋 @lpantano — I know you said you'd be on holiday for two weeks ... but so is most everyone on the JOSS board! This submission looks like a good fit for you to take through review. Can you take it, in the understanding it will take a little while to get started?

[2019-12-21 15:57] labarba commented on #1685
@usethedata @fblavoie — it looks like this submission needs a final push. Can you let us know the estimated time to get to the finish line? 🚀

[2019-12-21 15:59] labarba commented on #1833
@samuelduchesne @kyleniemeyer — what is the next action on this submission?

[2019-12-21 16:01] labarba commented on #1720
Hi everyone — what are the next actions on this submission? It's been quiet for a while now ...

[2019-12-21 16:04] labarba commented on #1848
@fcooper8472 — it looks like the handling editor is waiting for a reply from you. Can you update this thread with your assessment and how you wish this to move forward?

[2019-12-21 16:07] labarba commented on #1708
@brainstorm — this submission has been silent for a while. It looks like you have an MIA reviewer. I suppose you did try to reach them by other means? (email, Twitter) It may be time to take some executive decision here on finding a replacement reviewer.

[2019-12-21 16:31] lpantano commented on #1980
yes, this is a good fit!

[2019-12-21 16:31] lpantano commented on #1980
@whedon assign @lpantano as editor

[2019-12-21 16:32] whedon commented on #1980
OK, the editor is @lpantano

[2019-12-21 18:37] ktmeaton commented on #1980
Thank you for considering this paper! From the spreadsheet of current JOSS reviewers, here are some suggestions based on topic (Bioinformatics/Genomics) and language (Python):
- Luiz Irber (luizirber)
- Louis J Taylor (louiejtaylor)
- Hadrien Gourlé (HadrienG)
- Joep de Ligt (jdeligt)
- Simone Coughlan (coughls)
- Rachel Schwartz (rachelss)
- Marek Borowiec (marekborowiec)
- C. Titus Brown  (ctb)

[2019-12-21 19:03] stfbnc commented on #1828
@whedon generate pdf

[2019-12-21 19:03] whedon commented on #1828
[code]

[2019-12-21 19:04] whedon commented on #1828
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01828/joss.01828/10.21105.joss.01828.pdf)

[2019-12-21 19:18] stfbnc commented on #1828
@ali-ramadhan

I have moved the first sentence at the beginning of the paper, and moved the remainder at the end of the theory. The paragraph contains terms that are described in the theory section, so I think is better to first have the theory.

I have answered your questions in the issue.

[2019-12-21 19:41] ali-ramadhan commented on #1828
Thanks for the clarification and improvements to the tests @stfbnc!

As all the tests are regression tests however, I am wondering whether that is enough to "cover the core functionality of the software" as per the review criteria.

Regression tests by definition only test that the software's behavior has not changed but by themselves do not test that the software produces the correct answer.

I'd

[2019-12-21 20:38] HeloiseS commented on #1977
Hello @arfon!

I had a look at the list and it looks like `KshitijAggarwal`, `ygrange` or `zhampel` would do be well suited for review :)

Thanks!

[2019-12-21 21:09] karthik commented on #1816
@joshday  Apologies for the delays with this submission. I'm still trying to get a response from reviewer 2. I'll look for a reviewer in the new year. I'll be out of office for the next few weeks.

[2019-12-21 21:09] karthik commented on #1816
/ooo December 22 until January 10

[2019-12-21 21:10] karthik commented on #1816
/ooo December 22 2019 until January 10 2020

[2019-12-21 21:11] csoneson commented on #1971
Brilliant, thanks @tomsing1!

[2019-12-21 21:15] csoneson commented on #1971
@whedon assign @standage as reviewer

[2019-12-21 21:15] whedon commented on #1971
OK, the reviewer is @standage

[2019-12-21 21:16] csoneson commented on #1971
@whedon add @tomsing1 as reviewer

[2019-12-21 21:16] whedon commented on #1971
OK, @tomsing1 is now a reviewer

[2019-12-21 21:16] csoneson commented on #1971
@whedon start review

[2019-12-21 21:16] whedon opened #1981 "[REVIEW]: DNAtools: Tools for Analysing Forensic Genetic DNA Data"
**Submitting author:** @mikldk (<a href="http://orcid.org/0000-0002-0234-0266">Mikkel Meyer Andersen</a>)
**Repository:** <a href="https://github.com/mikldk/DNAtools" target ="_blank">https://github.com/mikldk/DNAtools</a>
**Version:** 0.2-1
**Editor:** @csoneson
**Reviewer:** @standage, @tomsing1
**Archive:** <a href="https://doi.org/10.5281/zenodo.3609584" target="_blank">10.5281/zenodo.3609584<

[2019-12-21 21:16] whedon commented on #1971
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1981. Feel free to close this issue now!

[2019-12-21 21:16] whedon commented on #1981
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @standage, @tomsing1 it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-12-21 21:16] whedon commented on #1981
[code]

[2019-12-21 21:16] whedon commented on #1981
[code]

[2019-12-21 21:16] #1971 closed

[2019-12-21 21:17] whedon commented on #1981
[code]

[2019-12-21 21:17] whedon commented on #1981
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01981/joss.01981/10.21105.joss.01981.pdf)

[2019-12-21 21:20] csoneson commented on #1981
:wave: @standage, @tomsing1 - this is where the review happens. Please check the instructions above and don't hesitate to ping me if you have any questions!

[2019-12-21 21:21] csoneson commented on #1975
@whedon assign @lmweber as reviewer

[2019-12-21 21:21] whedon commented on #1975
OK, the reviewer is @lmweber

[2019-12-22 04:57] ashwinvis commented on #1828
I agree with @ali-ramadhan. I was trying to reproduce an existing tutorial made with another DFT implementation with fathon which gives approx. 0.54 as the Hurst exponent. I haven't finished it and if needed, I can make work-in-progress PR as an example.

[2019-12-22 07:25] ashwinvis commented on #1828
## Comments

The Python package fathon appears to be a novel and efficient implementation of an analytical tool that was missing from the ecosystem. I congratulate the authorfor the contribution. As of now, the paper gives a good introduction to different algorithms associated with DFA and its variants.

Major revision:

- There is only a single mention describing the "State of the field" with "co

[2019-12-22 07:56] ramiyaari commented on #1850
@whedon generate pdf

[2019-12-22 07:56] whedon commented on #1850
[code]

[2019-12-22 07:56] whedon commented on #1850
PDF failed to compile for issue #1850 with the following error:

 Can't find any papers to compile :-(

[2019-12-22 07:57] ramiyaari commented on #1850
@whedon generate pdf

[2019-12-22 07:57] whedon commented on #1850
[code]

[2019-12-22 07:57] whedon commented on #1850
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01850/joss.01850/10.21105.joss.01850.pdf)

[2019-12-22 08:02] ramiyaari commented on #1850
@whedon generate pdf

[2019-12-22 08:02] whedon commented on #1850
[code]

[2019-12-22 08:03] whedon commented on #1850
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01850/joss.01850/10.21105.joss.01850.pdf)

[2019-12-22 08:18] ramiyaari commented on #1850
Hi @labarba, I've fixed the title of the Zenodo to match that of the JOSS paper.
I've also edited the paper and reduced the space taken by the example by two pages.
If that is still too long than I will remove the example completely,
but I was looking for example at this paper (https://joss.theoj.org/papers/10.21105/joss.01601)
and saw it is similar in length to what we have now.

[2019-12-22 09:01] mjsottile commented on #1913
Thanks @mnarayan for agreeing to do the review.  It looks like we have the two necessary reviewers, so I'm going to start the formal review process.  Please feel free to reach out during the review process if you need any assistance.

[2019-12-22 09:01] mjsottile commented on #1913
@whedon add @mnarayan as reviewer

[2019-12-22 09:01] whedon commented on #1913
OK, @mnarayan is now a reviewer

[2019-12-22 09:02] mjsottile commented on #1913
@whedon start review

[2019-12-22 09:02] whedon opened #1982 "[REVIEW]: SAILS: Spectral Analysis In Linear Systems"
**Submitting author:** @ajquinn (<a href="http://orcid.org/0000-0003-2267-9897">Andrew Quinn</a>)
**Repository:** <a href="https://vcs.ynic.york.ac.uk/analysis/sails" target ="_blank">https://vcs.ynic.york.ac.uk/analysis/sails</a>
**Version:** v1.0.0
**Editor:** @mjsottile
**Reviewers:** @szorowi1, @agricolab
**Archive:** <a href="https://doi.org/10.5281/zenodo.3698334" target="_blank">10.5281/zen

[2019-12-22 09:02] whedon commented on #1913
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1982. Feel free to close this issue now!

[2019-12-22 09:02] whedon commented on #1982
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @szorowi1, @mnarayan it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-12-22 09:02] whedon commented on #1982
[code]

[2019-12-22 09:02] whedon commented on #1982
[code]

[2019-12-22 09:02] #1913 closed

[2019-12-22 09:02] whedon commented on #1982
PDF failed to compile for issue #1982 with the following error:

 Can't find any papers to compile :-(

[2019-12-22 09:04] whedon commented on #1982
[code]

[2019-12-22 09:04] mjsottile commented on #1982
@whedon generate pdf

[2019-12-22 09:04] whedon commented on #1982
[code]

[2019-12-22 09:05] whedon commented on #1982
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01982/joss.01982/10.21105.joss.01982.pdf)

[2019-12-22 09:16] HeloiseS commented on #1977
Oh and sorry I forgot to say that, no it doesn't accompany an AAs publication - this is stand alone. Cheers :+1:

[2019-12-22 16:08] samuelduchesne commented on #1833
@labarba — still a few things to address. With my thesis defense just last week, things were pretty hectic. I’ll finish the review right after the holidays. Sorry if it takes so long; I want this to be right.

[2019-12-22 17:22] szorowi1 commented on #1982
Hi @mjsottile, I'm beginning my review.

One immediate problem I'm running into is that I cannot seem to log into the York NeuroImaging Centre Gitlab Service in order to create a new issue in the target repository. (I'm having no trouble logging into Gitlab in general.) Maybe @mnarayan is having better luck?

[2019-12-22 21:39] arfon commented on #1977
@KshitijAggarwal and @ygrange - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2019-12-22 21:45] akeshavan commented on #1902
@whedon start review

[2019-12-22 21:45] whedon opened #1983 "[REVIEW]: OrNet - a Python Toolkit to Model the Diffuse Structure of Organelles as Social Networks"
**Submitting author:** @Marcdh3 (<a href="http://orcid.org/0000-0002-9380-3181">Marcus Hill</a>)
**Repository:** <a href="https://github.com/quinngroup/ornet-JOSS" target ="_blank">https://github.com/quinngroup/ornet-JOSS</a>
**Version:** v0.1
**Editor:** @akeshavan
**Reviewer:** @serine, @vc1492a
**Archive:** <a href="https://doi.org/10.5281/zenodo.3687340" target="_blank">10.5281/zenodo.3687340<

[2019-12-22 21:45] whedon commented on #1902
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1983. Feel free to close this issue now!

[2019-12-22 21:45] whedon commented on #1983
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @serine, @vc1492a it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2019-12-22 21:45] whedon commented on #1983
[code]

[2019-12-22 21:45] whedon commented on #1983
[code]

[2019-12-22 21:46] whedon commented on #1983
[code]

[2019-12-22 21:46] whedon commented on #1983
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01983/joss.01983/10.21105.joss.01983.pdf)

[2019-12-22 21:49] akeshavan commented on #1937
hi @danielskatz , sorry I only just saw this! happy to review.

@njtierney no worries, I know everyone is busy during the holidays! Can we plan for sometime in January?

[2019-12-22 21:50] akeshavan commented on #1937
👋 @kellieotto and @clauswilke -- I know you are busy with holidays now, but would you be interested in reviewing this submission in January?

[2019-12-22 21:52] #1902 closed

[2019-12-22 22:14] clauswilke commented on #1937
I can do a review. Please send a reminder in early Jan. if I haven't done it by then.

[2019-12-22 22:58] ygrange commented on #1977
Not this year, but surely happy to have a look at it when back in
January �

--
Y. Grange

het volgende geschreven:

submission for JOSS? We carry out our checklist-driven reviews here in
GitHub issues and follow these guidelines:
https://joss.readthedocs.io/en/latest/review_criteria.html

[2019-12-22 23:16] labarba commented on #1850
@whedon accept

[2019-12-22 23:16] whedon commented on #1850
[code]

[2019-12-22 23:16] whedon commented on #1850
[code]

[2019-12-22 23:16] whedon commented on #1850
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1198

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1198, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-12-22 23:19] labarba commented on #1964
Hello, @arielolafsalgado — After a pre-review of your submission, and an assessment by the editorial board at large (offline), we find that it does not meet our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements). In particular, while the software seems useful, it falls under the 'Minor utility' category, and we therefore decided not to put it t

[2019-12-22 23:21] labarba commented on #1850
@whedon accept deposit=true

[2019-12-22 23:21] whedon commented on #1850
[code]

[2019-12-22 23:22] whedon commented on #1850
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1208890612596051968) 👈 🐦🐦🐦

[2019-12-22 23:22] whedon commented on #1850
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1199
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01850](https://doi.org/10.21105/joss.01850)
2. If everything looks g

[2019-12-22 23:23] labarba commented on #1850
Congratulations, @ramiyaari, your JOSS paper is published! 🚀

Huge thanks to our editor: @mjsottile, and the reviewers: @cscherrer, @jgoldfar, @osorensen — we are so grateful for your contributions 🙏

[2019-12-22 23:23] #1850 closed

[2019-12-22 23:23] whedon commented on #1850
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01850/status.svg)](https://doi.org/10.21105/joss.01850)

**We need your help!**

Journal of Open Source Softwa

[2019-12-22 23:25] #1964 closed

[2019-12-23 00:51] mjsottile commented on #1982
Hi @szorowi1, thanks for pointing this out.  I also checked and wasn't able to make an account myself to post issues.  @AJQuinn - do you have any input on how we can submit issues for the project as part of the review process?

This is not urgent - I understand that many people are off for the end of year holidays, and I don't want this to cause unnecessary work right now.  I'll followup around th

[2019-12-23 09:42] srmnitc commented on #1952
@arfon @thelfer I can review this submission. But I am on holidays until the 7th of January. Is it okay if I start after the 7th? If that is the case, I can take this submission.

[2019-12-23 11:38] thelfer commented on #1952
@srmnitc Fine for me. Thanks

[2019-12-23 12:00] xuanxu commented on #1940
@whedon generate pdf

[2019-12-23 12:00] whedon commented on #1940
[code]

[2019-12-23 12:01] whedon commented on #1940
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01940/joss.01940/10.21105.joss.01940.pdf)

[2019-12-23 12:02] xuanxu commented on #1940
@whedon check references

[2019-12-23 12:02] whedon commented on #1940
[code]

[2019-12-23 12:03] whedon commented on #1940
[code]

[2019-12-23 12:05] xuanxu commented on #1940
Thanks @HeloiseS and @Gabriel-p for the reviews!

[2019-12-23 12:08] xuanxu commented on #1940
OK @Deech08, everything looks good, here are the next steps:

- Please release a new tagged version from the current master so it includes all the changes made during the review process
- Then archive that latest release in Zenodo
- Check the Zenodo deposit has the correct metadata: title and author name should match the paper; you may also add your ORCID.

Once you do that please report here the

[2019-12-23 12:17] dmey commented on #1934
@mjsottile would you have any suggestion re possible reviewers for this or should I try to see if I can find more. I think that given that there's a bit of Python, CMake, Fortran reviewers may be scarce.

[2019-12-23 13:04] arfon commented on #1952
Yes, that sounds great, thanks! I'll add you as a reviewer now but won't start the actual review thread until I've found a second reviewer.

[2019-12-23 13:05] arfon commented on #1952
@whedon add @srmnitc as reviewer

[2019-12-23 13:05] whedon commented on #1952
OK, @srmnitc is now a reviewer

[2019-12-23 16:33] eteq commented on #1949
I can do this review, although it might take some time due to the holidays and related travel/vacation

[2019-12-23 16:48] Deech08 commented on #1940
Thanks again for your help!
I did notice one small issue in the paper - the additional astropy citation (2018) wasn't displaying properly, but is now fixed.

The final release version is v1.0.1 (on pypi and Github).
It is on Zenodo at the following:
https://doi.org/10.5281/zenodo.3591960

[2019-12-23 17:44] jessepisel commented on #1969
Howdy @kbarnhart I am going to start my review this week. My only potential COI on this review is that I was part of the same research group just over 4 years ago. However, I have not done any research with any of the authors, and have no publications with any of them. Is it still OK for me to review the package despite the potential conflict of interest?

[2019-12-23 18:40] kbarnhart commented on #1969
@jessepisel thanks for checking in about COI. Looking at the [JOSS COI policy](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#joss-conflict-of-interest-policy) the most important passage is:

Based on this, my assessment is that you would have a COI if either

- you were affiliated with Mines in the last year or
- one of the authors was a thesis student, advisor, or mentor of yours

[2019-12-23 18:44] jessepisel commented on #1969
@kbarnhart Thank you for clarifying for me. I wanted to make sure I was interpretting the COI policy correctly. I have not been affiliated with Mines and none of the authors have been a student, advisor, or mentor. I will go ahead with my review this week.

[2019-12-23 18:48] kbarnhart commented on #1969
Sounds good @jessepisel. Let me know if you have any additional questions as you proceed with your review.

[2019-12-23 22:39] mjsottile commented on #1934
@dmey I found one reviewer that I contacted outside of github.  If you have any suggestions for others so we find the second reviewer, I’d be open to more ideas.  Otherwise I’ll keep looking myself.  There is likely going to be little progress right now due to people being offline for the holidays.

[2019-12-23 23:03] frycast commented on #1948
Hi @terrytangyuan and @martinju . I'm more than happy to review this.

[2019-12-23 23:47] arfon commented on #1977
👍 fantastic, thanks! This is a very slow time of year for lots of people so no big rush here... I'll go ahead and add you as a reviewer now but won't set up the actual review until there's a second reviewer.

[2019-12-23 23:47] arfon commented on #1977
@whedon add @ygrange as reviewer

[2019-12-23 23:47] whedon commented on #1977
OK, @ygrange is now a reviewer

[2019-12-24 00:03] whedon opened #1984 "[PRE REVIEW]: BamWithoutBai: fast retrieval of alignments from remote BAM without BAI index"
**Submitting author:** @lindenb (<a href="http://orcid.org/0000-0003-0148-9787">Pierre Lindenbaum</a>)
**Repository:** <a href="https://github.com/lindenb/jvarkit" target ="_blank">https://github.com/lindenb/jvarkit</a>
**Version:** 20191222
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @lindenb. **Currently, there isn't an JOSS editor

[2019-12-24 00:04] whedon commented on #1984
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-12-24 00:04] whedon commented on #1984
[code]

[2019-12-24 00:04] whedon commented on #1984
[code]

[2019-12-24 00:04] whedon commented on #1984
[code]

[2019-12-24 00:04] whedon commented on #1984
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01984/joss.01984/10.21105.joss.01984.pdf)

[2019-12-24 03:07] dmey commented on #1934
@mjsottile great thanks and no problems -- I will look for more and will let you know after Christmas.

[2019-12-24 04:17] pythonpanda2 commented on #1942
https://github.com/benjaminbolling/DynaGUI/issues/3

[2019-12-24 04:26] pythonpanda2 commented on #1942
https://github.com/benjaminbolling/DynaGUI/issues/4

[2019-12-24 06:44] majensen commented on #1972
@labarba it is interesting and I can do this if you want to assign me after the holidays- thanks

[2019-12-24 07:00] munkm commented on #1774
Ah! Thanks for the tip @lpantano. I manually updated the name and author list on Zenodo. I think it should match now.

[2019-12-24 10:20] oliviaguest commented on #1900
@nicksexton thank you — hopefully the authors can link to their papers from their code repo.

[2019-12-24 10:59] xuanxu commented on #1940
Great, @Deech08, thanks!

[2019-12-24 10:59] xuanxu commented on #1940
@whedon set v1.0.1 as version

[2019-12-24 10:59] whedon commented on #1940
OK. v1.0.1 is the version.

[2019-12-24 11:00] xuanxu commented on #1940
@whedon set 10.5281/zenodo.3591960 as archive

[2019-12-24 11:01] whedon commented on #1940
OK. <a href="https://doi.org/10.5281/zenodo.3591960" target="_blank">10.5281/zenodo.3591960</a> is the archive.

[2019-12-24 11:02] xuanxu commented on #1940
Everything is ready 🎉
@openjournals/joss-eics sending it your way for final acceptance! 🚀

[2019-12-24 12:08] arfon commented on #1940
@whedon accept

[2019-12-24 12:08] whedon commented on #1940
[code]

[2019-12-24 12:08] whedon commented on #1940
[code]

[2019-12-24 12:09] whedon commented on #1940
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1200

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1200, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-12-24 12:10] arfon commented on #1940
@whedon accept deposit=true

[2019-12-24 12:10] whedon commented on #1940
[code]

[2019-12-24 12:11] whedon commented on #1940
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1209446602303299584) 👈 🐦🐦🐦

[2019-12-24 12:11] whedon commented on #1940
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1201
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01940](https://doi.org/10.21105/joss.01940)
2. If everything looks g

[2019-12-24 12:36] arfon commented on #1940
@Gabriel-p, @HeloiseS - many thanks for your reviews and to @xuanxu for editing this submission ✨

@Deech08 - your paper is now accepted into JOSS :zap::rocket::boom:⛄️

[2019-12-24 12:36] #1940 closed

[2019-12-24 12:36] whedon commented on #1940
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01940/status.svg)](https://doi.org/10.21105/joss.01940)

**We need your help!**

Journal of Open Source Softwa